[2017-05-15 10:06] jvican commented on #2699
No, this is true. Currently, `update` will show any eviction warning produced by the `UpdateReport`. Have a look at the implementation https://github.com/sbt/sbt/blob/1.0.x/main/src/main/scala/sbt/internal/LibraryManagement.scala#L52-L56.

What you describe is what happens when there is only one user of the library and yes, there is shadowing among jar entries. I misrepresented what I wanted to sa

[2017-05-16 02:46] eed3si9n commented on #3117
I can't reproduce this. On sbt 0.13.16-M1:

[code]

On sbt 1.0.0-M5:

[code]

[2017-05-16 03:00] murisly commented on #1852
same here

[2017-05-16 05:54] pJunger commented on #1852
And same here.

[2017-05-16 10:24] msillence commented on #2758
We are seeing 304 issues again on bintray https://repo.typesafe.com/typesafe/ivy-releases/org.scala-sbt/command/0.13.13/jars/command.jar

I've raised a ticket: #62085 with jfrog

[2017-05-16 22:19] SethTisue commented on #3117
I can't reproduce it now either :-\

sorry for the noise

[2017-05-17 00:44] paulp commented on #2699
@jvican Can you be much more specific about what you mean by far from perfect? MiMa is probably the most successful scala project of which I am aware. What are the binary changes which will not be caught?

[2017-05-17 10:57] msillence commented on #2758
seems to have been resolved

[2017-05-17 18:50] janekdb opened #3195 "HTML markup in pdf"
(See the guidelines for contributing, linked above)

## steps

Read sbt PDF for 0.13.15

## problem

HTML tags are seen

[code]
## expectation

Formatted text instead of tagged text.

## notes

[2017-05-17 19:20] cunei opened #3196 "Oddity in 1.0.0-M5 when using sbt libs. Message "value xxx is not a member""
### steps
[code]
### problem
[code]
### expectation
[code]
(which is what happens with 1.0.0-M4)

[2017-05-17 19:29] eed3si9n commented on #3195
Hmm.. I'm currently using Pandoc to convert markdown to PDF.

https://daringfireball.net/projects/markdown/syntax says:

So using HTML is legal in Markdown syntax.

[2017-05-17 19:30] eed3si9n commented on #3196
copy method is actually gone. plz use `.withName("xxx")`.

[2017-05-17 19:30] #3196 closed, assigned to nobody

[2017-05-17 19:33] eed3si9n commented on #3192
Could you elaborate what you mean here, please?

Does that mean I can't inspect the setting values from the sbt shell?
Or you're saying that the key should not be exposed to tab completion?
Or referring to the key outside of the plugin would (somehow) result to compilation error?
Isn't it enough just exclude the key from the `autoImport`?

Edit: s/just not exclude/just exclude/

[2017-05-17 19:39] eed3si9n commented on #3190
Do you have `"com.github.gphat" %% "wabisabi" % "2.2.0"` for Scala 2.11 cached in Ivy?
What if you start with an alternative `-Dsbt.ivy.home`?

[2017-05-17 19:59] dwijnand commented on #3196
See:

* https://github.com/sbt/contraband/pull/38 "Add support for public, overloaded, bincompat copy"
* https://github.com/sbt/contraband/pull/44 "Allow by-name selection by adding parameter default values"
* https://github.com/sbt/contraband/issues/48 "exposing copy is not safe"
* https://github.com/sbt/contraband/issues/49 "Default Arguments vs Interspersed Growth (Design Decision)"
* https://g

[2017-05-17 21:08] imarios commented on #3192
Hey Eugene, thank you for taking the time to think about this. Regarding your questions I think they are all answered with "yes". It means that there is no way for someone: (1) to trigger the task from the shell, (2) refer to it inside their own settings or tasks, and (3) to see it listed under help and get it auto-completed. These settings/tasks are only there to be used from within the plugin co

[2017-05-17 21:10] imarios commented on #3192
About excluding them from autoImport is an interesting idea. I think I did try that. The problem is that those settings/tasks are defined inside buildSettings, projectSettings, etc so they are actually still viewable/usable by the plugin users.

Let me confirm this one again.

[2017-05-17 21:22] imarios commented on #3192
Ok, just gave it a try, I can still call a setting from sbt shell even if I define it outside the `object autoImport`. I still implement it inside `projectSettings` since I want it to be project scoped. If I define it outside there, then I don't know how to scope it properly ...

[2017-05-17 21:26] akwala opened #3197 "Error when updating sbt using apt: "java: command not found""
(See the guidelines for contributing, linked above)

## steps
When the sbt [Linux (deb) repo](http://www.scala-sbt.org/download.html) has a new update for sbt, do the following at the command prompt:
`> sudo apt-get upgrade`
Enter password if asked, then enter 'Y' when asked whether to proceed.

## problem

## expectation
The sbt update should succeed without error.

## notes
I have the Java bin d

[2017-05-17 21:35] eed3si9n commented on #3192
As of now (sbt 0.13.x or sbt 1.0.0-M5), sbt does not change behavior from one plugin to another, so sbt defining a built-in settings are no different from the user rewriting it using a plugin or `build.sbt` in terms of the semantics. It's just the matter of scoping and loading order. Changing this to introduce a notion of plugin privacy would be a major change, so tbh I doubt it will happen anytim

[2017-05-17 21:47] jvican commented on #3192
... which works, except for the fact that you can reference to the setting or task by using its id: `TaskKey("myPrivateKey")`. But yes, this is the way to go, just wanted to point out its limitations.

I side with @eed3si9n, your idea is good @imarios, but it would provoke major changes in the plugin ecosystem and the whole sbt way to reason about settings/tasks, so I would prefer to revisit this

[2017-05-17 21:55] imarios commented on #3192
guys thank you very much for listening.

@eed3si9n: I understand that this might be quite bit of a change, and obviously this is not a deal breaker. However, just for the record: I  found at least two other developers on SO and gitter that had the same question, so this might be fairly popular question among plugin authors.

@jvican: That would really be helpful! If I don't tell my users the setti

[2017-05-17 22:36] jvican commented on #3192
Yes, we should post this information in the docs and link to this thread too.

@imarios I think it's okay to define `myPrivateKey` inside `autoImport`, that will prevent plugin authors from importing that value from `autoImport`.

The other thing you need to take care of is the sbt shell. By default, the commands that show and inspect the settings will show your private setting no matter if it's p

[2017-05-17 22:45] imarios commented on #3192
Well, that `SettingKey.local` might be the answer! Let me investigate more and come back with some results. Thank you guys!

[2017-05-18 03:27] ConeyLiu commented on #3197
Yeah, I meet the same error when install the sbt with the command `sudo apt-get install sbt`.  The install steps are followed the [document](http://www.scala-sbt.org/download.html). And the error as follow:
[code]

[2017-05-18 03:32] eed3si9n opened #3198 "regression: ScalaTest content log is not displayed"
Ref https://github.com/sbt/sbt/issues/3117

## steps

Run some ScalaTest specs:

On sbt 0.13.16-M1:

[code]

On sbt 1.0.0-M5:

[code]

## problem

Content logs are not displayed.

## expectation

[code]

[2017-05-18 04:52] eed3si9n opened #3199 "Changes to Contraband json files don't trigger recompilation"
This is an alias for https://github.com/sbt/zinc/issues/282

[2017-05-19 06:55] #3198 closed, assigned to eed3si9n

[2017-05-19 21:40] dwijnand opened #3201 "Configuration inheritance doesn't guarantee versions match"
## steps

1. Publish library foo version 1.0.0, which contains `package object foo { def x = 1 }`
2. Publish library foo version 1.0.1, which contains `package object foo { def x = 2 }`
3. Publish library bar, which depends on library foo version 1.0.1
4. In project bippy, depends on foo and bar:

[code]

## problem

When bippy is published it will be compiled against foo 1.0.0 & declare foo 1.0.0

[2017-05-21 18:21] #3199 closed, assigned to nobody

[2017-05-21 19:14] ktoso commented on #3036
Status update: not currently working on it, will report back if on it.

[2017-05-22 10:14] #3171 closed, assigned to eed3si9n

[2017-05-22 21:38] jvican commented on #3174
Hey @briantopping, thanks for filing this. I've been reading the sbt code responsible for dynamic references detection.

From what I read, circular dynamic references are not supported by default and they loop infinitely because they are expensive to detect.

I'm worried about the performance regression since this is a hot spot while initializing sbt. I see two ways to move forward:

1. Sbt has a

[2017-05-22 21:47] briantopping commented on #3174
Thanks @jvican! No worries from my end. A special flag might be interesting to people that are in this situation. The error message that came out when I stumbled across adding `println` statements was got me much further because I didn't even realize I had a cyclic reference to begin with.

Most of this request was about voodoo reduction. Now that I know this happens, I know what to look for, but

[2017-05-22 21:58] jvican commented on #2699
@paulp What I meant is that we cannot unconditionally rely on MiMa to version jars. There has to be "human reasoning" about every change to the codebase, assumption that brings me to favor semantic versioning as I propose it in my last comment. I like to use MiMa to double-check the implications of some changes, rather than to decide whether I should bump a major or a minor number of a jar revisio

[2017-05-23 02:09] Atry opened #3203 "addCompilerPlugin for test configuration should not affect compile configuration"
## steps
[code]

## problem
`-Xplugin` is set for both  `test:scalacOptions` and `compile:scalacOptions`

## expectation
`-Xplugin` is only set for `test:scalacOptions`, not `compile:scalacOptions`

[2017-05-23 06:47] eed3si9n commented on #2699
Sent a PR https://github.com/sbt/sbt/pull/3204. The sample output looks like this:

[code]

[2017-05-23 10:46] jastice opened #3205 "^^ sbt-crossbuilding does not set scalaVersion correctly"
## steps

1. create an sbt plugin: `sbt new sbt/sbt-autoplugin.g8`
2. set `sbt.version=0.13.16-M1`
2. try to cross-compile: `^^ 1.0.0-M5 compile`

## problem

the scripted plugin isn't resolved for 1.0 because the scalaVersion is incorrect:

[code]

## expectation

The scalaVersion is set to a version compatible with the sbt version targeted

[2017-05-23 13:09] duytruong opened #3206 "org.scala-sbt#sbt;0.13.15: not found"
## steps
1. download [sbt-0.13.15.zip](https://github.com/sbt/sbt/releases/download/v0.13.15/sbt-0.13.15.zip)
2. extract to `/usr/local/sbt`
3. set SBT_HOME and add $SBT_HOME/bin to PATH
4. run `sbt` in terminal

## problem
Can't run sbt, got `org.scala-sbt#sbt;0.13.15: not found`
Full log:
[code]

## expectation
`sbt` run successfully without download dependencies due to [offline-installation](ht

[2017-05-23 14:10] kYroL01 commented on #3197
Same error of @ConeyLiu also for me after `apt-get upgrade`.

[2017-05-23 16:28] mpollmeier opened #3207 "javac warnings are truncated / swallowed"
I setup a mini repo that demonstrates this bug: https://github.com/mpollmeier/sbt-swallows-javac-warnings

Here's how you can reproduce it:

[code]

Problem: it truncates / swallows the javac warning details. Here is the same with javac:

[code]

[2017-05-23 16:43] pauldraper commented on #3131
[code]

[2017-05-23 16:53] pauldraper commented on #3131
Ah, wrong project apparently :)

[2017-05-23 19:42] jvican commented on #3207
Hey @mpollmeier, I have experienced the same issue with javac, but with errors rather than warnings. In my case, sbt was not showing me any javac errors, only the "javac returned nonzero exit code".

I don't know what may be going on here. Which JVM are you using? Ideally this is just a problem of the loggers, but could be a bad handling of java tools from the Zinc side. We need to check if this i

[2017-05-23 19:49] jvican commented on #3207
I've reproduced this with latest Zinc 1.0. Thank you very much for that github repository. It's a blessing to be able to reproduce these kind of errors.

I'll look into it at some point before official sbt 1.0.

[2017-05-23 21:00] Doriphor commented on #3197
`sudo apt-get install default-jre`
fixed it for me!

[2017-05-23 22:08] eed3si9n opened #3210 "Eviction warning should contain full path of the caller"
This is an offshoot from sbt/sbt#2699

## steps

1. Cause eviction report.

## expectation

Eviction warning contains full path of the caller's transitive dependencies.

@omervk [wrote](https://github.com/sbt/sbt/pull/3204#issuecomment-303344201):

## notes

[Unresolved dependencies error](http://www.scala-sbt.org/0.13/docs/Library-Management.html#Unresolved+dependencies+error) attempts to reconst

[2017-05-23 22:30] eed3si9n commented on #2699
@omervk's suggestion is branched out to https://github.com/sbt/sbt/issues/3210

[2017-05-24 02:59] duytruong commented on #3206
Fixed, I created `local` directory in `~/.ivy2` and copy `local-preloaded` to `~/.ivy2/local`

[2017-05-24 03:00] #3206 closed, assigned to nobody

[2017-05-24 04:20] mpollmeier commented on #3207
Thanks for confirming! I'm on `openjdk version "1.8.0_121"`

[2017-05-24 09:09] jvican opened #3212 "Improve output of `plugins`"
The output of `plugins` should improve and be more readable.

This is how it looks like now:
[code]

Ideally, we would like to show clearly the following items:

* A header for every plugin (with its fully qualified name)
* Indented by two spaces, a list of all the projects in which the plugin is enabled on. (Experiment with listing the projects each one in a new line.
* Use colors for the plugin

[2017-05-24 09:26] jvican opened #3213 "Logger does not use success"
## steps
Define inside a task:

[code]

## problem
Sbt shows:
[code]

## expectation

[code]

Success should be colored.

[2017-05-24 10:13] jvican commented on #3213
An even simpler case:
[code]

[2017-05-24 10:28] jvican commented on #3188
@pedrorijo91 Do you want us to assignt this task to you? :smile:

[2017-05-24 10:35] pedrorijo91 commented on #3188
I would love to contribute. You can assign this to me. I hadn't a lot of free time to dig into sbt recently, but I think better days are coming :) (I already cloned and ran the tests, it's a good start 😛)

[2017-05-24 12:58] olafurpg opened #3214 "Scripted option to not remove temporary directory"
## steps

I run scripted to debug my sbt plugin.

## problem

After the scripted tests complete, the temporary directories `/private/var/folder/adsfasda` are removed. Because the directory is removed, I can't `cd /private/var/...` to manually check what went wrong. To my best knowledge, there is no way to configure scripted to not delete the temporary directory.

## expectation

It would be nice i

[2017-05-24 14:50] kujma10-zz commented on #2886
Reinstalling JDK also worked for me

[2017-05-24 16:57] #590 closed, assigned to nobody

[2017-05-25 20:55] jastice opened #3217 "cross-building to milestones doesn't set major version source directories"
## steps

[code]

## problem

Instead of adding `src/main/scala-sbt-1.0` to the source directory, only the full version is set (`src/main/scala-sbt-1.0.0-M5`)

[code]

## expectation

`src/main/scala-sbt-1.0` is added instead of, or in addition to, the milestone version.

[2017-05-25 20:57] jvican commented on #3217
Yes, it's normal that this happens with milestones since no guarantee of bincompat is provided. This cannot be fixed in a general way because module resolution always expects the binary version to be full for milestone and bin for "stable" releases.

[2017-05-25 21:27] jastice commented on #3217
The issue here is not bincompat or module resolution, just source compatibility. of course that's also not guaranteed for milestones, but anyway :)

[2017-05-25 21:35] jvican commented on #3217
@jastice You're right, I only wanted to remark that changing this in a general way is not possible. How severe do you think this issue is? Hopefully, we'll be out milestone in one month and X days.

[2017-05-25 21:37] jastice commented on #3217
not very severe, I can work around it easily, it just makes my build even more ugly :P

[2017-05-26 08:20] jvican commented on #1789
We should add this to the docs. Can we reopen @eed3si9n and add the "missing docs" label? That way we won't forget.

[2017-05-26 16:22] eed3si9n commented on #3188
I disagree with the expectation of this issue. I regularly run `testOnly` on the root project that aggregates multiple subproject (e.g. projA, projB, and projC) fully aware that the test only exists in one of the many subprojects.
If it raised warning or error, it would be a noise for that use case.

[2017-05-26 16:25] jvican commented on #3188
We can reconcile both scenarios: we make it fail when no test is run (across any subproject) and we make it succeed otherwise. This could be detected via `executionRoots`, I think.

[2017-05-26 16:42] eed3si9n commented on #3188
ok. If it's able to run a test out of `projB` on aggregated projA, projB, and projC, I'd be fine to fail on the case where the test example doesn't exist in any subprojects.

### note

Currently there's a separation of concerns between the task engine and the task. The task engine splits the work across aggregated subprojects and run them in parallel. Task implementation focuses on one subproject.

[2017-05-27 01:03] #3157 closed, assigned to eed3si9n

[2017-05-27 04:19] #2699 closed, assigned to eed3si9n

[2017-05-27 22:02] jvican opened #5599 "Save one network request per artifact"
Maven Central provides `X-Checksum-SHA1`. Right now, ivy is always downloading the files instead of picking these checksums from the same request used to download artifacts. This leads to a new network connection for every file that is downloaded.

This is a big deal because we would save the download of checksums for all the things we download from the Internet (not only artifacts, but also xml f

[2017-05-27 22:05] eed3si9n commented on #5599
Yea. Now that artifact downloading and checksum are done by our code this should be relatively easy task to tackle.

[2017-05-28 22:51] alexarchambault commented on #5599
@jvican coursier doesn't use these for now. I wasn't liking their redundancy with the checksum files, nor was feeling like special casing this... Plus connection pooling (enabled by default, see http://docs.oracle.com/javase/6/docs/technotes/guides/net/http-keepalive.html) makes the gains here not that big I guess.

[2017-05-29 00:24] eed3si9n opened #3226 "[sbt 1.0.0-M6] update caching is still not working"
## steps

[code]

1. compile
2. compile

## problem

I am seeing the following output:

[code]

This indicates that the `update` is getting triggered even though the dependency graph has *not* changed.

## expectation

Works like sbt 0.13. Transitive call to `update` task via `compile` the second time should *not* trigger actual resolution (used to be called `doWork`, now called `def resolve`), th

[2017-05-29 05:55] eed3si9n commented on #3226
Without fixing this sbt 1.0.0-M5 takes up too much time to do simple `compile` on multi-project builds.

[2017-05-29 06:15] jvican commented on #3226
Can you verify this https://github.com/sbt/librarymanagement/pull/109 fixes it?

[2017-05-29 06:50] eed3si9n commented on #3226
@jvican Will do tomorrow. For now I'm working around using:

[code]

[2017-05-29 10:21] jvican opened #3229 "Improve `help` documentation"
**Feature 1**: While `help` does its duty, I think it could be improved to give precise information on the purpose of a key, its preferred way to use, and on which scope is usually defined.

Let's take the example of `resourceGenerators`. Sbt users can have access to the type of the task, even to the dependencies and uses via `inspect`. But what they usually want is a human-readable piece of code

[2017-05-29 11:23] jvican opened #3231 "Redirect sbt documentation for 0.12.x"
The docs for 0.12.x are a source of confusion for users visiting our documentation. Lots of the links in Google redirect to the 0.12.x instead of 0.13.x, and while there's a popup suggesting users to visit 0.13.x, the link to the docs does not always work.

I believe that having these docs available is not useful anymore -- we should encourage people to upgrade to 1.0.x. I propose to remove the do

[2017-05-29 11:23] jvican opened #3232 "Meta: Improve sbt 1.0 documentation"
This is a meta ticket describing the problems I find in the sbt documentation and proposing some solutions to address them.

I see several problems with the current status quo:
1. User documentation assumes previous sbt knowledge, or at least some familiarity. I miss a short, opinionated hands-on sbt guide.
1. Sbt internals (for contributors and plugin authors) are poorly documented.
1. Documentat

[2017-05-29 18:11] eed3si9n commented on #3231
I'm against removing old docs.
We should use site maps with priorities instead, or try to exclude it from indexing via `robots.txt`.

[2017-05-29 19:02] eed3si9n commented on #3226
sbt/librarymanagement#109 didn't seem to fix it.

I've put in this println:

[code]

The output is:

[code]

[2017-05-29 20:46] eed3si9n commented on #3226
Thawed `UpdateReport` needs to be marked as cached. I'll send a PR with the fix.

[2017-05-30 04:20] eed3si9n opened #3234 "Capture stack trace on task failure"
## steps

Some task fails.

## problem

`last` doesn't show the stack trace.

[2017-05-30 06:36] eed3si9n opened #3235 "Exclude roots from publishing"
## steps

`publishSigned`

## problem

[code]

## expectation

root project is excluded.

## notes

This might be a slight variation in the way `so publishSigned` worked.

[2017-05-30 06:48] jvican commented on #3231
@eed3si9n Can you please elaborate why you want to keep those outdated docs? *Note* that in the ticket description I say clearly that I would like them to be automatically redirected to the new ones (i.e. 0.13.x), not completely removed.

Soon we'll have 3 different documentation sites for sbt, and I think that's not acceptable. As evidenced in the [Scala Contributors thread](https://contributors.

[2017-05-30 06:53] eed3si9n commented on #3231
The current situation is partially caused by the lack of Google site map XML that I removed.
I think any responsible library and tooling should keep the old documentations around since you occasionally have to dig them up.

[2017-05-30 06:56] jvican commented on #3231
Sure, and you can keep those docs locally if you wish so, or put them in another namespace. Your observations do not seem to block my proposals.

[2017-05-30 06:57] eed3si9n commented on #3231
See also:

- http://akka.io/docs/other-releases.html
- https://www.playframework.com/documentation/2.0.x/Home

[2017-05-30 07:00] jvican commented on #3231
My proposal is the following:

1. Keep old docs in an archive with a different namespace.
2. Link to it in the bottom of every page (or even show a non-intrusive popup window saying something like "Are you looking for docs of previous versions? Check the archive.")
3. Redirect the links used for old sbt docs to the new ones.

[2017-05-30 07:11] jvican commented on #3192
Hey @imarios, I double-checked this is what we want and wrote a blog post about it: https://jvican.github.io/post/local-tasks-sbt-plugin/. It's not there ready to be announced in the open -- I'd like to make some small remarks and edits -- but I think it can be useful for people wondering the same as you did two weeks ago.

[2017-05-30 08:51] pascr commented on #2274
+1

[2017-05-30 10:00] imarios commented on #3192
@jvican looks really good! this helps a lot for sure.

[2017-05-30 14:37] eed3si9n commented on #3235
Fixed in https://github.com/sbt/sbt/commit/d952dbb7ba839bef4aa84271c632e220b4eda1f7

[2017-05-30 14:37] #3235 closed, assigned to nobody

[2017-05-30 14:37] #3154 closed, assigned to eed3si9n

[2017-05-30 22:11] DavidMecham commented on #2841
If thats as designed its a bad design.

[2017-05-31 07:37] muuki88 commented on #3232
@jvican thanks for this ticket 😍 and the well formed ideas on how to improve SBTs documentation​.

For 1) I have started a gitbook [SBT Getting Started](https://muuki88.gitbooks.io/sbt-getting-started-guide/content/) when I was teaching SBT to students.
It's very rough, there are still check boxes and a lot of spelling and grammar mistakes. However it gives an initial structure and pictures SBT fr

[2017-05-31 16:22] #3159 closed, assigned to eed3si9n

[2017-05-31 16:26] dwijnand commented on #2660
I think we'll make due with a combination of aliases/shims shipped within sbt, and [sbt-migration-rewrites](https://github.com/scalacenter/sbt-migration-rewrites). If need be we can create this.

[2017-05-31 16:26] #2660 closed, assigned to nobody

[2017-05-31 19:09] wendersonferreira commented on #1806
Try this

in my ubuntu change ~/.profile at end of file

export SBT_OPTS="$SBT_OPTS -Dhttp.proxyHost=host -Dhttp.proxyPort=port -Dhttp.proxyUser=username -Dhttp.proxyPassword=password -Dhttps.proxyHost=host -Dhttps.proxyPort=port -Dhttps.proxyUser=username -Dhttps.proxyPassword=password"

enjoy it

[2017-05-31 19:13] wendersonferreira commented on #366
Try this

in my ubuntu change ~/.profile at end of file

export SBT_OPTS="$SBT_OPTS -Dhttp.proxyHost=host -Dhttp.proxyPort=port -Dhttp.proxyUser=username -Dhttp.proxyPassword=password -Dhttps.proxyHost=host -Dhttps.proxyPort=port -Dhttps.proxyUser=username -Dhttps.proxyPassword=password"

enjoy it

[2017-06-01 13:08] SethTisue commented on #3116
still present in M6

[2017-06-01 13:13] SethTisue commented on #3117
reproducible in M6 at https://github.com/SethTisue/Project-Euler/tree/sbt-1.0-mark-ii

<details>

[code]
</details>

ignoring all the `StartTestGroupEvent` etc noise (which is #3116), this is really messed-up output. some tests appear twice:

[code]

but most tests don't appear at all.

[2017-06-01 14:12] jvican commented on #3117
NB: I'm impressed you're getting that log @SethTisue, I thought the test logger issue not showing test results correctly was gone in M6.

[2017-06-01 14:30] NicolasRouquette commented on #2963
Thanks for looking into this issue; however, what is the expected behavior?

I tried this:

[code]

On MacOS Sierra, with TERM=Apple_Terminal, I get a similar stack trace than in the SO question:

[code]

With TERM=xterm-256color, I have to use `stty echo` to restore the shell afterwards.

Is this normal?

[2017-06-01 14:48] ekrich commented on #2963
No that would not be normal. In the first case, `sbt` should probably be able to restore your shell. In the second case it works for me. I tested originally on `M5` but `M6` works as well. Have you reinstalled `sbt` to the newest `0.13` version? The launcher has changed and that is the only suggestion I have at this time. cc @dwijnand

[2017-06-01 15:06] NicolasRouquette commented on #2963
I did update sbt to 0.13.15 (`brew upgrade sbt`)
I cleaned my `~/.sbt` folder

In the 1st case (`TERM=Apple_Terminal`), `sbt` fails but the shell is restored.
In the 2nd case (`TERM=xterm-256color`), `sbt` succeeds but I need to do `stty echo` afterwards.

[2017-06-01 16:10] ekrich commented on #2963
Could you try removing the source from `~/.sbt/boot/<some hash>/src_managed` so it will regenerate the source file and then recompile. Just grasping at straws now. If I `export TERM=Apple_Terminal` I get the following and a stack trace but the terminal returns and the script still runs:
[code]

When I tried to define an "Apple_Terminal" in the "Terminal App" it was not even a choice. You can look

[2017-06-01 16:34] NicolasRouquette commented on #2963
In `~/.sbt/boot/<hash>/src_managed`, there was a single `.scala` file with the script above!
I removed it -- same behavior.

With `export TERM=Apple_Terminal`, the exception happens each time `sbt` needs to display a prompt:

[code]

After exiting `sbt`, the shell is properly restored.

With `TERM=xterm-256color`, I did this:

[code]

The shell is properly restored!

But, if I execute the script:

[2017-06-01 21:13] jvican commented on #3143
I'm happy to say that the inclusion of 1d0eda2e6a8aa04ca83b310b3612a57beaad553f solved this issue in sbt 1.0.0 (it brought sbt-doge implementation of cross version). I cannot reproduce neither in the sbt build nor scripted, so this means it's fixed. We cannot backport because of binary compatibility issues, so it's better to label this ticket "fixed for sbt 1.0".

[2017-06-02 03:04] okbonhahaha commented on #3197
Same error @ ConeyLiu!!
please help to fix it, thanks!

[2017-06-02 07:12] eed3si9n commented on #3143
1d0eda2e6a8aa04ca83b310b3612a57beaad553f says "Add Windows script support and native file extensions on Unix platforms", so maybe another commit?

[2017-06-02 07:53] jvican commented on #3143
https://github.com/sbt/sbt/pull/2613

[2017-06-02 09:26] jvican opened #3239 "Add smarter `scripted` that avoid publishing when it's not needed"
We have `scripted` and `scriptedUnpublish` in sbt. One will always publish, the other one will never publish. Publishing is expensive, it requires compilation of the project.

IMO, making the user decide when something must be published and must not is not useful. We should change the semantics of `scripted` so that it does two things:

1. It runs `publish` if the sources have changed and require

[2017-06-02 14:00] amuttsch opened #3240 "Update to ncurses causes sbt to throw an exception on startup"
After upgrading `ncurses`, starting `sbt` shows the following error:

[code]

This is because of a recent update to `ncurses`: http://invisible-island.net/ncurses/NEWS.html#index-t20170506
[code]

## steps

I'm using Arch Linux and have ncurses updated from `6.0+20170429-1` to `6.0+20170527-1`. Just run `sbt` after installing the newest version and the error will appear.

## problem

`sbt` uses `j

[2017-06-02 14:09] eed3si9n commented on #3240
You could try putting the following in `project/plugins.sbt`:

[code]

but I'm not sure if it would fix because the metabuild still needs to load.

[2017-06-02 14:19] amuttsch commented on #3240
Thanks for the fast reply. Unfortunately, it still throws the exception. I will stay on ncurses version `6.0+20170429-1` for now until this issue is resolved :)

Edit: I forgot to mention the version: I'm using `0.13.15`.

[2017-06-02 14:57] eatobin commented on #3240
Thank you @amuttsch for posting this and your reply on StackOverflow. I will watch for developments. Appreciated. :-)

[2017-06-02 15:06] graingert opened #4921 "signatures missing from bintray also"
Previously the only way of accessing the SBT signatures was via bintray, however now these signatures are totally missing:

https://dl.bintray.com/sbt/native-packages/sbt/0.13.15/sbt-0.13.15.tgz.asc -> 404

[2017-06-02 15:08] graingert commented on #3162
the signatures have gone missing from bintray now https://github.com/sbt/sbt-launcher-package/issues/167

[2017-06-02 15:10] graingert commented on #3162
@eed3si9n ^

[2017-06-02 22:43] eed3si9n commented on #3162
Thanks for the reminder. I have to come up with a way of generating the ascii file manually and uploading it to GitHub.

[2017-06-03 00:07] weiwanning commented on #1803
Any updates on this? I got the same error

[2017-06-03 03:46] BardurArantsson commented on #3240
Yeah, I think we'll need a new release of jline. I took the liberty of submitting https://github.com/jline/jline3/issues/127

[2017-06-03 03:48] BardurArantsson commented on #3240
Another potential workaround would be putting

[code]

in the `_JAVA_OPTIONS` env var. That has some unpleasant side effects, though: You lose editing + up/down arrow + color + every single "Resolving ..." line will be printed to console. So only really usable if you're using sbt non-interactively.

[2017-06-03 04:14] eed3si9n commented on #1803
If anyone could offer reproducible test case that would move this issue forward.

[2017-06-03 05:50] yurique opened #3243 "deb install - sbtopts location"
## steps

* install via deb channel (`https://dl.bintray.com/sbt/debian`)
* run `sbt -h`
[code]
* edit `/etc/sbt/sbtopts` and add some settings
* run sbt

## problem

The parameters from the `/etc/sbt/sbtopts` are not applied.

## expectation

The parameters from `/etc/sbt/sbtopts` to be applied.

## notes

In the `/usr/bin/sbt` there's this
[code]

so it looks for `sbtopts` file in `/usr/share/sb

[2017-06-03 08:07] xuwei-k opened #3244 "sbt 1.0.0-M6 depends on scalafmt"
## steps

curl https://dl.bintray.com/sbt/maven-releases/org/scala-sbt/main_2.12/1.0.0-M6/main_2.12-1.0.0-M6.pom

[code]

## problem
I think scalafmt dependency is unnecessary

[2017-06-03 08:41] xuwei-k opened #3245 "cross building support and scripted test plugin compatibility"
## steps

#### build.sbt

[code]

#### project/build.properties

[code]

#### project/scripted.sbt

[code]

#### src/sbt-test/foo/bar/test

[code]

execute `sbt ^scripted`

## problem

[code]

## notes

There is no problem with `sbtVersion in pluginCrossBuild := "1.0.0-M5"`.
I believe this problem caused by https://github.com/sbt/sbt/pull/3151 /cc @jvican

- restore the old method `run(java.io.Fil

[2017-06-03 09:01] xuwei-k commented on #3188
Here is a solution. but there is a problem as @eed3si9n say

[code]

[2017-06-03 09:30] jvican commented on #3244
Totally unnecessary, thanks for the report.

[2017-06-03 09:35] jvican commented on #3245
Hmmm, I see. Great catch. I think we may want to restore the old method, though it's not elegant. Otherwise we will need people to upgrade their sbt versions and lose time figuring out why it fails.

[2017-06-03 10:18] jvican commented on #3188
Yes, but this doesn't mean that task implementations must not be aware of the internal state from sbt. In fact, the `update` implementation is an example of the solution I'm proposing, where `executionRoots` is used to know whether update should be forced or not.

@xuwei-k Yes, and it seems that's not the solution we're looking for :smile:.

[2017-06-03 11:15] dragos commented on #2860
/cc @adriaanm

[2017-06-04 05:27] eed3si9n commented on #3240
- http://lists.gnu.org/archive/html/bug-ncurses/2017-06/msg00000.html
- http://lists.gnu.org/archive/html/bug-ncurses/2017-06/msg00001.html

[2017-06-04 09:43] dwijnand commented on #3213
Is this in sbt 1 and would you say it's a regression in behaviour?

[2017-06-04 09:56] jvican commented on #3213
Yes, I think so.

[2017-06-04 13:01] fdietze commented on #1444
Hi, this does not seem to be fixed for me:

[code]
works, while
[code]
does not.

[code]

Project source: https://github.com/woost/wust2/blob/dff8fdcdd13d39dfaf51e61b9ec251b99d1e619c/build.sbt#L232

Do you need more information?

[2017-06-04 14:06] jvican commented on #1444
Did you miss '.value' intentionally in the code snippet that uses `:=`?

[2017-06-04 14:08] olafurpg commented on #3244
Those dependencies should be restricted to the `Scalafmt` configuration, see https://github.com/lucidsoftware/neo-sbt-scalafmt/blob/545079f93f3fdf428c9611b7eb7f575bf978cf59/sbt-scalafmt/src/main/scala/com/lucidchart/sbt/scalafmt/ScalafmtCorePlugin.scala#L207 fwiw, the configuration doesn't seem to be hidden.

I would like to use this opportunity to further motivate https://github.com/sbt/sbt/issue

[2017-06-04 14:49] fdietze commented on #1444
Good catch! That was not intentional, it works with `.value`. Thank you!

It's strange though that I didn't get a compile error...

[2017-06-04 15:03] tmccombs commented on #3240
I also run into this problem with the scala REPL.

[2017-06-04 15:11] xuwei-k commented on #3245
workaround

[code]

[2017-06-04 19:15] salimfadhley commented on #3039
Hey, thanks for the feedback. I'd love to give this a go but I'm new to the code-base. Would you give me a clue as to where I might look to make this change?

[2017-06-05 15:11] NicolasRouquette commented on #2901
I experienced this problem when I wanted to add a source dependency on https://github.com/scala-graph/scala-graph. The workaround worked for me.

[2017-06-05 16:13] jastice opened #3248 "`scripted` does not publishLocal transitive project dependencies"
## steps

For example:
[code]

1. Define a scripted test for `plugin`
2. Run `scripted` from sbt

## problem

1. scripted does a `publishLocal` only on `plugin`, dependency is not published
2. test run fails because of missing dependency
3. workaround: I can manually do publishLocal := publishLocal.dependsOn(publishLocal in lib).value

sbt version: 0.13.15

[2017-06-05 16:42] olafurpg commented on #3248
Have you tried?

[code]

That seems to publish lib + plugin on `plugin/publishLocal`

[2017-06-06 00:14] grscheller commented on #3240
Until the jline fixes get push out, you can temporarily "fix" the problem by downgrading ncurses after a Pacman `update:
[code]

[2017-06-06 06:44] etorreborre opened #3249 "Non-deterministic classloader chosen when running tests"
## problem

[This issue](https://github.com/etorreborre/specs2/issues/556) in specs2 shows a project with 2 modules, m1 and m2 where running tests for m1 can see the classpath for m2 being used. This is non-deterministic.

## steps

This can be reproduced with [this project](https://github.com/Shadowfiend/specs2-concurrent-boom-boom).

## expectation

Each module should only be able to access its

[2017-06-06 06:53] eed3si9n commented on #3248
In terms of the expectation of `scripted` and `publishLocal`, I would suggest:

- `scripted` works out of the box by calling publishLocal recursively along the subproject dependencies.
- `publishLocal` works, but it's limited to the current subproject, unless `.aggregate` is specified.

[2017-06-06 06:55] eed3si9n commented on #1444
It's because the expected `Unit` discards value, so it didn't catch the lack of `.value` invocation.

[2017-06-06 08:05] okbonhahaha commented on #3197
Hi all, I just fix this issue.
To install sbt, we have to install Java first.
https://www.digitalocean.com/community/tutorials/how-to-install-java-with-apt-get-on-ubuntu-16-04

[2017-06-06 08:41] captainju commented on #3240
I found using `export TERM=xterm-color` better than downgrading ncurses

[2017-06-06 09:01] wsxarcher commented on #3240
jline-2.14.4 is out with the fix

[2017-06-06 10:06] amuttsch commented on #3240
As well as [jline-3.3.1](https://github.com/jline/jline3/releases/tag/jline-3.3.1)

[2017-06-06 10:38] hochgi opened #3250 "ensuring atomicity of constrained tasks"
_(ported from gitter channel to @jvican request)_

## consider the following usecase:
A system built with many processes (e.g: cassandra,elasticsearch,kafka,etc'...).
A multi-project with multiple modules (sub-projects) for integrations tests,
where each of these projects need to launch all or some of the processes to test against.
it's rather easy (but very cumbersome) to get all the test tasks t

[2017-06-06 17:12] benmccann opened #3251 "Print ugly warning when using http resolver"
Time and time again I see people using http resolvers when https versions are available. Can we please print a huge warning on the screen when http is used as it's a big security risk? See http://www.ontoillogical.com/blog/2014/07/28/how-to-take-over-any-java-developer/

[2017-06-06 19:13] jastice commented on #3248
This seems reasonable

[2017-06-06 22:15] pauldraper commented on #3244
Like @olafurpg is correct; sbt-scalafmt restricts the dependency to scalafmt config.

I changed scalafmt to a hidden config in 0.4 of sbt-scalafmt; not sure if that will have an effect.

[2017-06-06 23:44] smarter opened #3252 "Make `cancelable in Global := true` the default?"
As far as I can tell, everyone loves this feature, so why not make it the default? The only reason I can think of is that it doesn't seem to work with `compile` (the shell says "Cancelling execution...", but nothing is canceled until the compilation completed, and you're stuck). I see two solutions to that:
1. Make compilation interruptible. There is no fundamental reason that this cannot be done.

[2017-06-07 07:51] michalzubkowicz opened #3253 ""Illegal character in path" on Windows when username is with spaces makes sbt unusable"
![screenshot_39](https://user-images.githubusercontent.com/3389709/26867832-2d06aebe-4b67-11e7-98ef-7f92317e0262.png)
## steps
1) Create user on Windows 10 with spaces like "LaLa LaLa"
2) Execute "sbt run"

## problem
It shows exception "Illegal character in path at index 25"

## expectation
Should run application

## notes

sbt version: 0.13.15

[2017-06-07 10:12] graingert commented on #3162
@eed3si9n can you upload manually for now please?

[2017-06-07 10:12] graingert commented on #4921
@eed3si9n can you put these files back?

[2017-06-07 12:09] xiaopong commented on #590
Any plan to resolve this issue? This has been there for years. If there's no way to get around the problem in ivy2 cache, is there any plan to move to a better cache repository? Or the plan is just to get stuck in this mess?

This is the most terrible thing in programming Scala. I'm in Shanghai China, with a big pipe Internet connection, and I've wasted so many hours that I can't believe we are st

[2017-06-07 12:26] jvican commented on #590
This feature is merged in sbt 1.0 @renzhi. So download should be much faster. Also, 12 hours is suspeciously slow. It would be good if you would share a reproducible build so that we can diagnose the problem further.

[2017-06-07 14:01] akwala commented on #3197
@okbonhahaha As I said in my issue report above, I have Java 8. The issue remains unresolved.

[2017-06-07 15:18] jastice opened #3254 "Build Loaders in 1.0"
The docs for [build loaders in 1.0](http://www.scala-sbt.org/1.0/docs/Build-Loaders.html) still use the `Build` trait, which is supposed to be removed in 1.0.

Is there any alternative way of defining them?

[2017-06-07 17:31] hongxuchen commented on #590
@renzhi that may result from the network issues in China; you might refer to https://github.com/Centaur/repox.

[2017-06-08 02:12] lihaoyi commented on #3252
FWIW, with a bit of work you can make *anything* interruptable, as is done here

https://github.com/lihaoyi/Ammonite/blob/master/amm/repl/src/main/scala/ammonite/repl/Signaller.scala
https://github.com/lihaoyi/Ammonite/blob/master/amm/repl/src/main/scala/ammonite/repl/Repl.scala#L154-L161

Yes, it uses deprecated `Thread#stop`, which may leave your JVM in a borked state, etc. etc. etc.

However, i

[2017-06-08 02:18] lihaoyi commented on #3195
It seems the correct thing to do, if you want to use Pandoc to convert Markdown to PDF, would be to avoid using HTML tags and stick to the things that Pandoc's MD-to-PDF supports. For example `-` lists and `**bold**` instead of `<td>`/`<tt>` tags.

Another alternative would be to stop using MD-to-PDF, and instead use MD-to-HTML and Save-as-PDF in Chrome to generate correct PDFs

In the end, Pandoc

[2017-06-08 03:17] xiaopong commented on #590
@jvican Thanks for the heads up info. I would be happy to move to 1.0.x whenever the migration tools are ready (will find time to setup a new computer to experiment with it and not messing up with my current projects). I'm not sure how to reproduce it (suggestions would be much appreciated), it's just the resolving part that is extremely slow @HongxuChen.

For example, I clone the repox code, and

[2017-06-08 03:40] hongxuchen commented on #590
@renzhi I'm not quite familiar with repox and I'm not using it. However you can ask the author about the network issues. I suppose it's because some sbt repo centers are partially blocked (probably not central maven) in China.
sbt resolving is really slow IMO. But downloading older versions (e.g., bootstrap is 0.13.15 but project specifies 0.13.13) is reasonable, and it will download *once*.

[2017-06-08 04:47] eed3si9n opened #3256 "ConflictManager.strict doesn't always report conflicts with cached resolution"
We've had reports that under some circumstances that `ConflictManager.strict` doesn't always catch the conflicts.

## steps

1. Build that contains conflicts.

[code]

2. `update`

## problem

`update` succeeds.

## expectation

`update` should fail.

## notes

sbt version: 0.13.15

Eviction warning is not empty if you run `evicted`.

[code]

[2017-06-08 05:25] eed3si9n commented on #3162
Uploaded to https://github.com/sbt/sbt/releases/tag/v0.13.15.

The command I used was:

[code]

[2017-06-08 10:17] dwijnand commented on #3254
No, I think the feature is being dropped with sbt 1.

[2017-06-08 12:47] jvican commented on #3232
That is a great initiative @muuki88 :smile: Hope you continue it!

The Scala Center is not going to get involved into documentation for now (there is an advisory board proposal regarding this [here](https://github.com/scalacenter/advisoryboard/blob/master/proposals/012-improve-sbt-learning-materials.md), but the decision to accept it has been put off for three months). If that gets accepted, I'll

[2017-06-08 14:48] cunei opened #3257 "Use updated launcher"
There is a pull request open against the launcher, which is needed for dbuild compatibility  and which also updates Proguard: https://github.com/sbt/launcher/pull/31
Once debugging is complete for that change, and a new 1.0.2 launcher is released, that updated launcher should be included in 0.13.16.

[2017-06-08 15:25] dwijnand commented on #2963
The problem here is reported and tracked as https://github.com/sbt/sbt/issues/3240.

[2017-06-09 12:04] mborra commented on #1444
Hi to all, I have tried with :

compile in MultiJvm := ( compile in MultiJvm ).triggeredBy( compile in Test ).value

instead of:

compile in MultiJvm <<= ( compile in MultiJvm ) triggeredBy ( compile in Test )

But doesn't works

[2017-06-09 12:07] jvican commented on #1444
Which sbt version?

[2017-06-09 12:08] mborra commented on #1444
Sorry, 0.13.13

[2017-06-09 12:12] jvican commented on #1444
This thread says that the fix for `triggeredBy` is only available in 0.13.14. You need to update.

[2017-06-09 12:34] mborra commented on #1444
Sorry, you're right.

[2017-06-09 15:08] sjrd opened #3258 "Make `inspect tree` see through `Def.settingDyn` (not `taskDyn`)"
I am well aware that `inspect tree` cannot reasonably follow the dynamic dependencies through a `Def.taskDyn`, as it would have to run the task to do so, and `inspect` is not supposed to do that. However, it should be able to see through the dynamic dependencies of a `Def.settingDyn`. Indeed, in a `settingDyn`, the part that decides further dependencies is a setting, and therefore need not be eval

[2017-06-09 22:50] er1c commented on #2687
@eed3si9n is there any way to explicitly set a setting to always prefer the `~/.ivy2/local` SNAPSHOT file over the one that can get updated from `~/.ivy2/cache` if the versions are the same?  There are instances where I'm playing on the same `SNAPSHOT` as someone else, and if the version doesn't get bumped, I then have to start playing games to make sure my local fork/publish of the snapshot overr

[2017-06-11 07:04] akwala commented on #3197
The problem seems to be OpenJDK (8) which is what I've been using. Apparently, what's needed is the Oracle Java package -- the installation completed when I installed _Oracle_  Java 8.

[2017-06-11 07:04] #3197 closed, assigned to nobody

[2017-06-12 05:30] Atry opened #3260 "zinc crashes when a CompilationUnit is added by a compiler plugin"
## steps

Create the following files:

### project/build.properties
[code]

### build.sbt
[code]

### src/main/resources/scalac-plugin.xml
[code]

### src/main/scala/myplugin/MyPlugin.scala
[code]
### src/test/scala/myplugin/Test.scala
[code]
## problem

[code]

## expectation

It does not crash

## notes

The compiler plugin itself works with ordinary Scalac without sbt.
[code]

sbt version: *0.1

[2017-06-12 08:08] SRGOM commented on #3240
I know this is probably not the best place to ask but am I the only one who updates arch once a month?

[2017-06-12 08:21] jvican commented on #3260
@Atry Can you please add a pending scripted test case in https://github.com/sbt/zinc? I'll have a look and see what I can do to fix it.

[2017-06-12 08:25] Atry commented on #3260
I don't know how to make it a scripted test in that repository, though I can provide the minimized reproducible project here: [generate-complation-unit.zip](https://github.com/sbt/sbt/files/1067430/generate-complation-unit.zip)

[2017-06-12 08:29] jvican commented on #3260
Great, so you can use that to create one. You can use `trait-super` as a source of inspiration or any scripted tests that has a file `pending`. All the scripted tests are placed in `zinc/src/sbt-test`.

I will add official instructions to do so in the Zinc repository. It's true that this should be covered by the CONTRIBUTING guidelines.

[2017-06-12 08:34] Atry commented on #3260
If the generated compilation unit points to a regular file, zinc does not crash.
However, zinc always recompiles the project, regardless if the file is present in `sources` or not.

[2017-06-12 09:24] jvican commented on #3260
Do you mean you cannot reproduce with scripted @Atry? I didn't quite get your message.

[2017-06-12 09:55] Atry commented on #3260
I was talking about another issue that may be related to this one, when replacing `"<generated compilation unit>"` to a regular file.

[2017-06-12 11:12] dwijnand commented on #3116
Using Seth's Project Euler solutions reproduction (in #3117), here's a before and after for testing just Problem1:

![image](https://user-images.githubusercontent.com/344610/27031477-4d0a1b42-4f68-11e7-8588-4888e4704634.png)

![image](https://user-images.githubusercontent.com/344610/27031485-577c14d6-4f68-11e7-9122-2e2846fe3cec.png)

[2017-06-12 11:16] jvican commented on #3116
Can you try with a failing test? The logger as it is in M5 is neither showing failing test cases nor stack traces.

[2017-06-12 11:21] dwijnand commented on #3116
![image](https://user-images.githubusercontent.com/344610/27031755-77f759fe-4f69-11e7-862f-9297bb4b52d8.png)

![image](https://user-images.githubusercontent.com/344610/27031780-949e121e-4f69-11e7-9332-f43adbf13f0d.png)

[2017-06-13 05:20] abdelrahmanmohamed opened #3264 "download dependence from ftp url not working"
takes a long time and doesn't resolve
 libraryDependencies ++="javaxwsdl" % "javax.wsdl" % "1.6.2" from "ftp://ftp.no.freebsd.org/pub/eclipse/releases/luna/201406250900/plugins/javax.wsdl_1.6.2.v201012040545.jar"

[2017-06-13 07:52] Rogach commented on #3240
Are there any plans to release updated version with the fix any time soon?

`export TERM=xterm-color` fixes exceptions, but breaks some other stuff on my system.

(I can make the PR if needed)

[2017-06-13 10:18] dwijnand commented on #3240
@Rogach A PR would be very helpful. Thank you.

[2017-06-13 10:23] Rogach commented on #3240
@dwijnand Should I make 2 PRs - one for `0.13` branch, one for `1.0.x`?

[2017-06-13 10:37] dwijnand commented on #3240
That would be even more lovely! Thank you.

[2017-06-13 10:59] gaydenko commented on #3240
Is it possible to force old SBT projects (when SBT version is out of control) use new `jline` version on user's system base? (that is some magic in `~/.sbt`)

[2017-06-13 11:46] bovin-a commented on #3197
I've had very similar issue.

I've installed JDK manually by downloading *.tar.gz archive from Oracle site. In manual configuration phase I've only added path to JDK to environment variable $PATH:
[code]

After that i've tried to install SBT as official site says:
[code]
And have got the very similar error as @akwala posted. I've resolved this issue when add this step in manual configuration phase

[2017-06-13 14:58] eed3si9n opened #3266 "Reconsider failing `.value` inside lambda expression"
## steps

[code]

## problem

[code]

## expectation

The task does exactly what I want it to do. It should work without warnings or error.

## notes

In general, an error (or even a warning) should be displayed when we are 90% certain that the build is doing something against what the user has intended. In this case, I don't think it is.

Ref https://github.com/lucidsoftware/neo-sbt-scalafmt/pull

[2017-06-13 15:23] martin-riedl commented on #3190
After a number of trials I found out that it's due to the proxy authentication. To distinguish the sbt-traffic from others, the user-agent of the http header is used. BUT: For a transaction numerous requests are posed, with different user-agent entries:
User-Agent: Java/1.8.0_131
User-Agent: Apache Ivy/2.3.0-sbt-48dd0744422128446aee9ac31aa356ee203cc9f4
User-Agent: Java/1.8.0_131
This makes it hard

[2017-06-13 16:08] eed3si9n commented on #3264
Thanks for the report. Could you tell us what version of sbt were you using?

[2017-06-13 22:00] jvican commented on #3245
@xuwei-k Here's my proposed solution: https://github.com/sbt/sbt/pull/3268/files. I think it's the cleanest.

To all the people affected by this: I suggest that you redefine what scripted means for your build until this is merged and released. I would like to ship this change in a binary compatible sbt 1.0.0-M6-2 (and that has to be confirmed by @eed3si9n). I'll keep you in the loop.

[2017-06-13 22:24] eed3si9n commented on #3245
I don't know if releasing 1.0.0-M6-2 is actually going to solve this. Currently I'm using 0.13.16-M1 to cross build against 0.13 and 1.0.0-M6. _It_ knows the compatible binary versions for all sbt versions to determine the linking sbt modules and the suffix, not 1.0.0-M6.

I think what we need to do is actually publish 0.13.16-M2 with the fix.

[2017-06-14 10:12] #3245 closed, assigned to nobody

[2017-06-14 10:16] jvican commented on #3245
The reason I;ve proposed to release `1.0.0-M6-2` is because I'd like to have the last two more important bug fixes available for M6 (the test log cleanup and this one).

If we do that, we not only help plugins that want to cross-compile but also users that want to use sbt 1.0.0 and are used to the coloring of sbt tests. I think it's worth it...

[2017-06-14 11:27] longliveenduro commented on #3022
Interesting. `fork in Test := true` does not work for me, I have to use `parallelExecution in Test := false`. I use sbt 0.13.15

[code]

[2017-06-15 07:41] usamec opened #3270 "Having sbt cache separate per project"
## steps

Run sbt in two project simultaniously.

## problem
Second one says:
Waiting for lock on /home/usamec/.ivy2/.sbt.ivy.lock to be available...

Also sometimes dependencies gets messed up.

## expectation
Both projects compile at the same time.
Ability to configure sbt to have caches not per HOME directory put per project directory.

## notes

sbt version: 0.13.15

[2017-06-15 07:46] xuwei-k commented on #3270
http://www.scala-sbt.org/0.13/docs/Library-Management.html#Ivy+Home+Directory

[2017-06-15 08:10] usamec commented on #3270
`sbt -ivy ./.ivy2`
works.
But I did not find any option how to set this globally.

[2017-06-15 15:41] eed3si9n commented on #2762
Tuple syntax is here to stay for sbt 1.0. Should we un-deprecate? I'm somewhat neutral on this topic.

[2017-06-15 18:39] feliperazeek commented on #3206
good idea @duytruong!

[2017-06-15 21:04] jvican commented on #2762
[Given that the use of tuple enrichments has differents than `.value`](https://github.com/sbt/sbt/pull/3079), I lean towards removing `deprecated` -- I don't find a reason why we should punish users with a deprecation when its use could be justified :smile:.

[2017-06-15 21:19] jvican commented on #2319
This can be closed since it's fixed in sbt 1.0.0.

[2017-06-15 21:28] jvican commented on #782
Let's close this, seems really outdated, there's no reproduction and it seems that the reported issue is fixed.

[2017-06-15 21:30] jvican commented on #1261
This is fixed in https://github.com/adriaanm/sbt/commit/dab9b9e19670ca2da9fffd350c5cbb181e7618a5, which is merged upstream in Zinc. Let's close it @eed3si9n.

[2017-06-15 21:32] jvican commented on #1468
Let's close this: there's no reproduction, it seems a scalac error (not a zinc error) and it's been filed 3 years ago :smile:.

[2017-06-15 21:41] jvican commented on #681
IMO this can be closed, we don't have this problem anymore and it's three years old.

[2017-06-15 21:42] jvican commented on #644
We're already doing this with `MixedAnalyzingCompiler.staticCache`. This can be closed.

[2017-06-15 21:49] eed3si9n commented on #681
Yea. The bridge splitting work that @Duhemm worked on (https://github.com/sbt/sbt/pull/2197, https://github.com/sbt/sbt/pull/2106) is basically based on Grzegorz's idea.
Every time I see Scala team physically we talk about moving the maintenance of the bridge to a third library maintained by them, but we can close this issue for now.

[2017-06-15 21:49] #681 closed, assigned to gkossakowski

[2017-06-15 22:04] #782 closed, assigned to gkossakowski

[2017-06-15 22:27] pauldraper commented on #3266
I am perhaps one of the few people that appreciated/preferred the non-macro `<<=` because it was clear what was happening.

[code]

But macro `:=` is certainly more succient, and I can see why sbt switched.

Now it seems sbt is still using macros, but effectively going back to the previous approach.

[code]

I understand the reasons, but I don't agree. If I wanted to explicit about evaluation, I'd

[2017-06-15 22:45] japgolly commented on #1468
Fine with me :+1:

[2017-06-15 22:45] #1468 closed, assigned to nobody

[2017-06-15 23:53] #1261 closed, assigned to nobody

[2017-06-16 05:23] lukestephenson commented on #3022
See also https://github.com/mockito/mockito/issues/1067.  I've also seen my tests start to deadlock when updating mockito (indirectly from a specs2 update)

[2017-06-16 09:41] dwijnand commented on #3270
You could set:

[code]

in `~/.sbt/0.13/global.sbt`

[2017-06-16 09:41] #3270 closed, assigned to nobody

[2017-06-16 09:42] #2319 closed, assigned to nobody

[2017-06-16 09:42] #644 closed, assigned to gkossakowski

[2017-06-16 12:45] vn971 commented on #3240
It would be great to release a bug-fix version of SBT!

[2017-06-16 13:13] dwijnand commented on #3240
I think well be releasing a 0.13.16-M2 or 0.13.16 shortly, which thanks to @Rogach would have fixed this issue.

[2017-06-16 13:13] #3240 closed, assigned to nobody

[2017-06-16 15:02] eed3si9n opened #3271 "Reconsider warning about (re)publishing final version locally"
[code]

IMO publishLocal with final looking version number is already bad.
Maybe we prompt the user:

[code]

[2017-06-16 15:03] cunei commented on #3257
Closing, dbuild now uses its own customized fork of the launcher.

[2017-06-16 15:03] #3257 closed, assigned to nobody

[2017-06-16 15:05] eed3si9n opened #3272 "`CrossVersion.disabled` change"
This is a placeholder for https://github.com/sbt/librarymanagement/pull/103

[2017-06-16 15:06] #3116 closed, assigned to dwijnand

[2017-06-16 15:09] jvican commented on #3271
I totally agree. However, what I propose is to fail if users try to do this. If they really want to do it, we can add a `force` setting inside publish local and they need to enable it before proceeding.

[2017-06-16 15:20] eed3si9n opened #3273 "Scala JSON AST final"
We need Scala JSON AST 1.0 final.

If it doesn't happen by June 26th (2wk prior to RC-1), we should consider other options:
- Keep using whatever it's there
- Fork under some name so we can maintain
- Adopt other AST

https://github.com/mdedetrich/scala-json-ast/issues/13

[2017-06-16 16:17] eed3si9n opened #3274 "Review API surface for RC-1"

[2017-06-16 16:34] cunei commented on #3271
This was not a publishLocal, incidentally: it was a regular `publish` with `publishTo` set to `Some(Resolver.file("rover-pub", new java.io.File("/home/cunei/iii/097"))(Resolver.ivyStylePatterns))`

[2017-06-18 12:55] jvican opened #3276 "Autocompletion for ++2.12.x doesn't work"
## steps
This is for sbt 1.0.0-M6.
Type `++2.12.2<TAB>`.

## problem

[code]

## expectation
Autocomplete with keys in the current project.

## notes

sbt version: sbt 1.0.0-M6

[2017-06-19 09:20] jvican opened #3277 "Using .value in an input task should result in a compilation error"
## steps
Use `.value` for an input task, instead of the correct `.evaluated`.

## problem
[code]

## expectation
A compilation error. `.value` should not be possible.

## notes
sbt version: 1.0.0-M6.
Note: Is there actually a meaningful use of `.value` instead of `.evaluated` for input tasks?

[2017-06-19 09:26] jvican commented on #3205
Can someone add this to the sbt 1.0 RC milestone? Solving this issue inside sbt is a must before a RC.

[2017-06-19 09:40] dwijnand commented on #3117
Here's a minimisation of Seth's reproduction:

**build.sbt**
[code]

**src/test/scala/tests.scala**
[code]

Here's an example of what running "test" looks like:

[code]

As you can see it says it ran all 10 tests, but then only logged 5 of them (Test1, Test3, Test5, Test6, Test8), and logged Test3 twice..

[2017-06-19 10:09] dwijnand commented on #3205
This is correlated to the request to requiring scalaVersion be set, aka not defaulting scalaVersion: https://github.com/sbt/sbt/issues/2795

FWIW I solved this for myself by defining a SbtVersionSeries sum type:

[code]

and in build.sbt defining

[code]

[2017-06-19 10:10] jvican commented on #3205
Thanks for that snippet. I saw something similar in sbt-structure and I wanted to use it, but was not sure it solved the issue.

Do you have any idea how we can solve this upstream?

[2017-06-19 10:26] dwijnand commented on #3205
I'll give it some thought.

[2017-06-19 16:06] shyamraj242 opened #3278 "Sbt: Command not found"
I have installed Sbt compiler but after installing when I given sbt then it is showing that sbt command not found

## steps
1) I have seen logs, previously some one installed the sbt compiler. When I checked /usr/share directory there is no sbt. I thought sbt compiler is not there. So, I  installed the sbt compiler.
2) in /etc/yum.repos.d directory there is a bintray-sbt repo file  installed today

[2017-06-19 16:38] shyamraj242 commented on #3278
there is no softlink in /usr/bin/sbt because of that it is showing an error. Please create a softlink in that directory.
ln -s /usr/share/sbt/bin/sbt /usr/bin/sbt

[2017-06-19 16:38] #3278 closed, assigned to nobody

[2017-06-20 09:53] #3117 closed, assigned to eed3si9n

[2017-06-20 09:58] dwijnand commented on #3234
This is more logging related breakage. I can't grok how it's meant to work and why it's broken. I have some incomplete bits and pieces patches locally that I'll review and publish, but I suspect that this is the first place that should be changed: https://github.com/sbt/util/blob/v1.0.0-M24/internal/util-logging/src/main/scala/sbt/internal/util/ManagedLogger.scala#L18

[2017-06-20 13:47] dwijnand commented on #2144
No part of sbt 1 depends on json4s. We severed that dependency when we moved away from sbt/serialization.

[2017-06-20 13:47] #2144 closed, assigned to dwijnand

[2017-06-22 12:29] Duhemm opened #3282 "sbt shell doesn't print until [return] is pressed on sbt 1.0.0-M6 on Windows 10"
## steps
- Install Windows 10, build 15063.0
- Install Oracle JDK 8u131
- Install sbt 0.13.15 from the msi file linked on scala-sbt.org
- Create an empty sbt project:

`project/build.properties`:
[code]
`build.sbt`:
[code]
- launch `sbt` in `Command Prompt`
- type something in the shell
## problem
- Nothing appears until `[return]` is pressed.

## expectation
- the shell shows what I'm typing.

##

[2017-06-22 13:06] kamilkloch opened #3283 "Unnatural (buggy?) behavior for intransitive() dependencies in `compile` and `runtime` configurations"
Context: restrict the set of (transitively imported) libraries visible in `compile` configuration to bare minimum, retain the full set of binaries in `runtme`.

Define project with the following dependencies:
[code]
Problem:
[code]
`slf4j-log4j12` should not be visible in `runtime`.
Only after adding explicit excludes
[code]
does `slf4j-log4j12` disappear from `runtime`, as desired.

sbt version:

[2017-06-22 16:25] cvogt opened #3284 "publishLocal broken when having dependency on `"jline" % "jline" % "0.9.94"`"
## steps

Create a project containing

`build.sbt`
[code]

run `sbt publishLocal`

## problem

[code]

## expectation

for it to work

## notes

sbt version: <= 0.13.15

[2017-06-22 16:59] cvogt opened #3285 "sbt-plugin transitively depending on jline breaks source dependencies"
( probably related to https://github.com/sbt/sbt/issues/3284 )

## steps

create this directory layout (3 projects)
( code also here: https://github.com/cvogt/reproduce-sbt-issue-3284 )

`some-sbt-plugin/build.sbt`
[code]

`some-project/build.sbt` (empty)

`some-other-project/build.sbt`
[code]

`some-other-project/build.sbt`
[code]

steps
[code]

## problem

sbt produces this error reaching the sh

[2017-06-23 06:47] Duhemm opened #3286 "Tapping [escape] multiple times in the shell throws an exception in sbt 1.0.0-M6"
## steps
- start sbt 1.0.0-M6
- Press [escape] twice

## problem
- An exception in thrown

## expectation
- Nothing happens

## notes
[code]

sbt version: 1.0.0-M6

[2017-06-23 07:19] vn971 commented on #3240
If anyone notices a release, please write. (I don't know how to subscribe to github-s milestone.)

[2017-06-23 07:25] wookietreiber commented on #3240
@vn971 You can follow the releases with news feed: https://github.com/sbt/sbt/releases.atom

[2017-06-23 07:31] vn971 commented on #3240
@wookietreiber Thanks! (subscribed)

[2017-06-23 09:03] dwijnand commented on #3286
Looks to be the same stack as #3276.

[2017-06-23 14:21] smarter opened #3287 "[sbt 1] "loading settings" line is printed all the time"
Take any project that compiles with sbt 1 (like https://github.com/sbt/librarymanagement) and run "sbt compile", you'll see the following lines repeated a few times:
[code]
And most commands will print it again.

[2017-06-23 14:43] dwijnand opened #3288 "Unimplemented JsonFormats are a potential runtime bomb"
Duplicate of https://github.com/sbt/librarymanagement/issues/67 so it can be tracked in the milestone here.

[2017-06-25 23:31] eed3si9n opened #3289 "ivy setting log noise: [info] :: loading settings"
## steps

Use sbt beta2

## problem

[code]

## expectation

No log display for loading the ivysetting.

## notes

https://github.com/sbt/ivy/blob/2.3.x-sbt/src/java/org/apache/ivy/core/settings/IvySettings.java#L404

[2017-06-26 01:37] raajay commented on #1325
@martinburger  I am having the same issue. Did you manage to find any workarounds?

[2017-06-26 02:39] xuwei-k commented on #3289
duplicate? https://github.com/sbt/sbt/issues/3287

[2017-06-26 02:48] eed3si9n commented on #3289
Yup. It's a dupe.

[2017-06-26 02:48] #3289 closed, assigned to nobody

[2017-06-27 04:50] acearth opened #3292 "Is there any docs about config sbt globally?"
Not found valid settings about configure sbt globally, such as how to config "~/.sbt/" dir.

Version 0.13

[2017-06-27 07:28] jobtg commented on #2156
We recently started seeing the same issue on a builds using Jenkins on Ubuntu 16.04 & java 1.8.0_131 in both sbt 0.13.13 and 0.13.15.  The rate is about 10% of the builds.

Sometimes it's ```target/streams/$global/ivySbt/$global/streams/outjava.io.IOException: No such file or directory``` other times it's ```/streams/$global/ivyConfiguration/$global/streams/outjava.io.IOException: No such file or

[2017-06-27 08:00] jvican commented on #1449
I can fix this in a breeze. Will do if someone doesn't beat me to it.

[2017-06-27 08:06] jvican commented on #1449
Actually, I think this cannot ever be fixed. As Josh points out, it's not possible to know whether a plugin is enabled or not at compile time, so the imports are required.

The ticket already explains why this is the case. Honestly, I would just close this issue.

[2017-06-27 09:01] dwijnand commented on #1449
Yeah. We might want to put a warning in the plugin docs, but this isn't getting fixed.

[2017-06-27 09:01] #1449 closed, assigned to nobody

[2017-06-27 09:06] dwijnand commented on #2698
I don't think this is a WontFix. I've talked about this bug many times, including today.

[2017-06-27 09:32] ganeshkaspate commented on #2156
After debugging , I found that 4096 was limit for my application. So, whenever it reaches to that limit I use to get that error.

[2017-06-27 13:21] dwijnand commented on #3205
I had a long look and attempt to fix this, but, depending on what kind of fix we want, I don't see an obvious way to fix this. Here are some notes:

The way the plugin cross-building functionality works is by defining `sbtVersion in GlobalScope in pluginCrossBuild` here: https://github.com/sbt/sbt/blob/v1.0.0-M6/main/src/main/scala/sbt/PluginCross.scala#L44

My attempts were to define `scalaVersio

[2017-06-27 14:05] dwijnand commented on #3276
Hey @jvican. I had a look and I can't reproduce it in an empty project.

From looking at the code it's something to do with a series of files and using `IO.relativize`, aggressively with `Option#get`: https://github.com/sbt/util/blob/v1.0.0-M24/internal/util-complete/src/main/scala/sbt/internal/util/complete/ExampleSource.scala#L53

Could you please provide a more complete minimisation?

[2017-06-27 14:06] dwijnand commented on #3286
Like #3276, I can't reproduce this either. @Duhemm could you please provide a more complete minimisation?

[2017-06-27 14:13] dwijnand commented on #3292
Hey @acearth, here's the page in the docs we have for global settings: http://www.scala-sbt.org/0.13/docs/Global-Settings.html

Also, please have a look at this section about where to get help: https://github.com/sbt/sbt/blob/1.0.x/CONTRIBUTING.md#where-to-get-help-andor-file-a-bug-report

Finally, if you notice any issues in the documentation, we track and make changes to it at https://github.com

[2017-06-27 14:13] #3292 closed, assigned to nobody

[2017-06-27 16:47] vkostyukov commented on #2698
I faced this very problem in Finagle (trying to mitigate the scope of the changes while decoupling it from Netty 3). Anyways, the following workaround seems to work:

[code]

[2017-06-27 17:05] fommil commented on #2698
"corkscrew dependencies" is how I heard one delusional team justify it.

[2017-06-27 17:34] ndimas commented on #3282
Can this be reproduced with Quick Edit mode turned off too?

Had these problems too with Windows 10.

https://stackoverflow.com/questions/30418886/how-and-why-does-quickedit-mode-in-command-prompt-freeze-applications

[2017-06-27 19:17] #2762 closed, assigned to dwijnand

[2017-06-28 09:59] abdelrahmanmohamed commented on #3264
0.13

[2017-06-28 11:03] dwijnand commented on #2776
I read and understood the situation here more clearly now.

This is indeed a consequence of making `+` work more correctly. Builds the previously defined a "validate" or "verify" alias to call a sequence of tasks would have to define "validate" and "verify" as a task now instead (probably using Def.sequential).

[2017-06-28 12:09] dwijnand commented on #3264
Do you mean 0.13.0?

You should find the version of sbt you're using for your build in `project/build.properties`.

[2017-06-28 12:13] abdelrahmanmohamed commented on #3264
0.13.15

[2017-06-28 13:30] dwijnand commented on #3273
I think we should either fork it or switch to a more battle-tested AST.

[2017-06-28 13:32] jvican commented on #3273
There's no rush. Sigh. I remind you there are still 13 days until RC and there are no binary incompatible changes you have to catch up with.

Release happens very soon. The Committee has accepted Scala JSON AST into the Scala Platform, successfully ending the incubation period.

[2017-06-28 13:41] dwijnand commented on #3273
I'm tired of "soon" and "very soon". When 1.0.0 going to be released?

This was requested in March and reminding 2 weeks ago. A deadline was set and ignored. So I'm indicating my preference for an alternative solution.

[2017-06-28 13:46] dwijnand commented on #3244
I ran `publishLocal` and `publishM2` on the latest of the 1.0.x branch and there are no references to scalafmt in either:

[code]

[2017-06-28 13:46] #3244 closed, assigned to nobody

[2017-06-28 14:03] dwijnand commented on #2384
Process has been removed in sbt in favour of scala.sys.process.

The preserveExecutable changes is forward-ported in https://github.com/sbt/io/pull/53

The ivy changes were forward-ported to sbt 1.

The aliases are already present in sbt 1.0.x.

[2017-06-28 14:03] #2384 closed, assigned to dwijnand

[2017-06-28 14:43] eed3si9n commented on #3286
## steps

I have the following `~/.inputrc` to emulate vim mode in the sbt shell:

[code]

Next I open up sbt, and tap escape key three times.

### symptom

[code]

I am not sure what hitting escape multiple times is sending to the JLine, but the error is reproduced.

[2017-06-28 14:56] eed3si9n commented on #3276
I can reproduce this by typing in `++2.12.2<TAB>`.

[2017-06-28 14:59] Duhemm commented on #3286
Could you try in sbt/io (escape twice)? Or tab just once? I guess it sends the same thing.

[2017-06-28 15:09] dwijnand commented on #3286
Cool, I can reproduce in sbt/io, thanks.

[2017-06-28 15:09] dwijnand commented on #3286
So, reproducible with sbt/io at https://github.com/sbt/io/commit/880de81bcc9bd4308885d2515d0a1b746026b946.

[2017-06-28 15:10] dwijnand commented on #3276
Reproducible with sbt/io at https://github.com/sbt/io/commit/880de81bcc9bd4308885d2515d0a1b746026b946.

[2017-06-29 01:01] iurisman commented on #2753
sbt is scala's weakest link. This and many other bugs make Scala development a chore it doesn't have to be.

[2017-06-29 01:03] iurisman commented on #253
@lambdaknight, why is this closed w/o explanation? It's 2017 and this is still an issue.

[2017-06-29 03:35] lambdaknight commented on #253
I have no idea. It was closed in 2011 originally for unknown reasons.

[2017-06-29 04:11] iurisman commented on #253
My bad — I should have asked @harrah. Mark, any comment comment?

[2017-06-29 08:52] olafurpg commented on #3231
The 0.12 docs are still the top search results on Google when looking for sbt topics

<img width="665" alt="screen shot 2017-06-30 at 14 51 20" src="https://user-images.githubusercontent.com/1408093/27736238-a62317da-5da3-11e7-9f28-f39f6960ed3b.png">

<img width="666" alt="screen shot 2017-06-29 at 10 48 41" src="https://user-images.githubusercontent.com/1408093/27679345-b8e2da9a-5cb8-11e7-88dc-60

[2017-06-29 09:20] jastice opened #3296 "Re-expose or offer alternative public API for things hidden in 1.0"
[sbt-structure](https://github.com/jetbrains/sbt-structure) uses parts of the sbt API that have been hidden in the sbt 1.0 line. This forced me to work around it by [this shim](https://github.com/JetBrains/sbt-structure/blob/master/extractor/src/main/scala-sbt-1.0/sbt/jetbrains/apiAdapter.scala) that I import into otherwise compatible code to provide the definitions previously available under the

[2017-06-29 09:35] jastice opened #3297 "Expose useful information about available commands"
IntelliJ Scala plugin exposes some information about settings, tasks and commands to the user.

For commands, the API offers only limited ways to give information, especially since the Command trait doesn't have a "name" field. So I hack into it with some reflection and using sbt-internal API:

https://github.com/JetBrains/sbt-structure/blob/master/extractor/src/main/scala-sbt-0.13-1.0/sbt/jetbrai

[2017-06-29 09:35] dragos opened #3298 "Preloaded sbt is very slow on first start (because of rsync)"
(See the guidelines for contributing, linked above)

## steps
- download zip or tgz archive (0.13.15)
- run sbt -help and wait

## problem
- after 10-15s I pressed Ctrl-\ to see what's going on. Output appeared immediately and I saw that the time was spent in rsync.
- a second time I waited until the end, it took 23s
- subsequent runs were faster, but rsync still runs

[code]
I expected the preloa

[2017-06-29 14:31] dwijnand opened #3299 "False positive in DSL checker for setting keys"
## steps

[code]

## problem

[code]

## expectation

`bar` is a `SettingKey` so there's no evaluation or side-effecting.

## notes

sbt version: 1.0.0-M6

[2017-06-29 17:05] eed3si9n commented on #3298
Thanks for the report. Could you share more about your environment? What OS, file system etc?

[2017-06-29 18:32] dragos commented on #3298
Sure, it's Ubuntu 16.04.2 LTS with nfs-mounted home.

[2017-06-30 07:56] acearth opened #3300 "PublishTo settled, but sbt reports "Repository for publishing is not specified.""
(See the guidelines for contributing, linked above)

## steps
When I use Jenkins executes one job running with docker, to publish jar to one private nexus.
sbt reports "Repository for publishing is not specified."
1. git clone _SCALA_PROJECT_ to jenkins slave_workspace;
2. docker run -v slave_workspace:${CONTAINER_WORKSPACE} sbt clean package publish
3. The error log is " Done packaging...  Reposi

[2017-06-30 10:58] dwijnand commented on #3300
Are you sure everything is setup properly? Try adding `"show publishTo"` to the docker invocation:

`docker run -v slave_workspace:${CONTAINER_WORKSPACE} sbt clean "show publishTo" package publish`

[2017-06-30 11:23] #3234 closed, assigned to eed3si9n

[2017-06-30 13:57] dwijnand commented on #3272
https://github.com/sbt/librarymanagement/pull/121

[2017-06-30 13:57] #3272 closed, assigned to dwijnand

[2017-06-30 14:07] dragos opened #3301 "Sbt ignores last line of the .sbtopts file"
(This seems to be a problem only on Linux)

## steps
- `sbt -help` suggests to use `.sbtopts` for passing additional arguments
- add some sbt options in `.sbtopts`, like `-J-XmxBlahBlah`, something that should make the JVM fail. **Don't** add a new line at the end, so the EOF is on the line you just added

## problem

- run sbt. The setting is ignored

## expectation

- All settings in .sbtopts ar

[2017-06-30 14:15] fommil commented on #3273
:+1: for using whatever sbt is currently using. This shouldn't block 1.0 and there are serious flaws with the proposal.

[2017-06-30 14:21] dwijnand commented on #3301
JFYI the script(s) are in https://github.com/sbt/sbt-launcher-package, so we track these issues there. But it's common to receive them here. I mention it in part in an attempt to see if you'd be willing to fix it yourself. 😄

[2017-06-30 14:32] dragos commented on #3301
Here it is: https://github.com/sbt/sbt-launcher-package/pull/169

[2017-07-01 07:43] eed3si9n commented on #253
I ran into this while switching between sbt versions, so I fixed it in #3134.
Could you try 0.13.16-M1 if it's reproducible?

[2017-07-01 07:44] eed3si9n commented on #2753
I ran into this while switching between sbt versions, so I fixed it in #3134.
Could you try 0.13.16-M1 if it's reproducible?

[2017-07-01 07:44] #2753 closed, assigned to nobody

[2017-07-02 02:58] sometao opened #3304 "not found SNAPSHOT dependency in maven repository, only with my Windows10."
## steps
OS: windows10 pro
sbt: 0.13.15

build.sbt:

[code]

## problem
windows10 pro

run sbt
compile the project.
then errors get.

[code]

## expectation
parse the SNAPSHOT to timestamp, and get the latest snapshot version.

## notes
No errors on linux (red hat 6.6)
output on linux

[code]

no ~/.sbt/repositories file on whindows.
no ~/.sbt/repositories file on linux. either.

sbt version: *ins

[2017-07-02 03:33] eed3si9n commented on #3304
Maybe it's because of the `in ThisBuild` scoping. What does

[code]

display?

[2017-07-02 04:16] sometao commented on #3304
@eed3si9n

on win10:
[code]

[2017-07-03 04:34] iurisman commented on #2753
Thanks, Eugene. I've received this in 0.13.9. Will report back if any issues after the upgrade.

[2017-07-04 02:01] sometao commented on #3304
If the issue is not resolved easily, any workaround?

[2017-07-04 02:04] eed3si9n commented on #3304
You could try without in ThisBuild.

On Mon, Jul 3, 2017 at 22:01 Tao <notifications@github.com> wrote:

[2017-07-04 02:56] sometao commented on #3304
I added -Dsbt.override.build.repos=true in sbtconfig.txt before.

After i remove it just now,

Everything seems going well.

Thanks. @eed3si9n

[2017-07-04 04:24] eed3si9n commented on #3304
That makes sense.

[2017-07-04 04:24] #3304 closed, assigned to nobody

[2017-07-05 08:04] silles79 commented on #1897
I'm having the same issue:

[debug] > ++ 2.12.2 metrics/publishLocal
[info] Setting version to 2.12.2
[debug] Forcing garbage collection...
[info] Reapplying settings...
java.lang.StackOverflowError
	at sbt.EvaluateSettings$INode.registerIfNew(INode.scala:113)

[info] This is sbt 0.13.15

[2017-07-05 09:25] dwijnand commented on #1897
Do you have a reproduction test case?

[2017-07-05 09:58] silles79 commented on #1897
not at the moment, it's a private project and I cannot share it as it is :(

[2017-07-06 07:48] mr-git opened #3305 "crossSbtVersions and scalaVersion"
For our plugin, I have set in `build.sbt`
[code]
I expected that this will set `scalaVersion` correctly for each plugin cross-build ("2.10.x" for sbt 0.13 and "2.12.x" for sbt 1.0.0), but it tries to compile plugin with Scala 2.11.

I made a simple workaround, which I do not like:
[code]

Is this a bug or expected behaviour?

[2017-07-06 09:19] eed3si9n commented on #3305
I am assuming you are using 0.13.16-M1.
I think this is a bug.

[2017-07-06 09:29] jvican commented on #3305
I think this is a known behaviour and every plugin cross building to different sbt versions special cases it. Wasn't there a ticket about this?

[2017-07-06 09:38] dwijnand commented on #3305
Yep. Duplicate of #3205.

[2017-07-06 09:38] #3305 closed, assigned to nobody

[2017-07-06 09:39] dwijnand commented on #3205
Note that this affects not just `^^` usage but also `^` (and therefore `crossSbtVersions`) usage (https://github.com/sbt/sbt/issues/3305)

[2017-07-06 09:53] mr-git commented on #3305
yes, I am using SBT `0.13.16-M1`.
I assume that it should be fairly easy to set Scala 2.10 for SBT 0.13.x case, like it sets Scala 2.12 in case of SBT 1.0.x - it is very well known limitation of plugin development.

[2017-07-06 09:54] mr-git commented on #3305
Or migration documentation must provide code snippet for guidance:
[code]

[2017-07-06 10:13] dwijnand commented on #3305
I recommend:

[code]

[2017-07-06 10:21] mr-git commented on #3305
Thanks!
It would be good to have it in manual somewhere... Will that new auto-migration tool provide this automagically?

[2017-07-06 10:33] dwijnand commented on #3305
I think those are _both_ good suggestions.

Could I interest you in contributing that change to the manual? The sources are at https://github.com/sbt/website.

And to request this as a feature of sbtfix, please open a ticket at https://github.com/scalacenter/sbtfix/issues.

[2017-07-06 12:56] simao opened #3306 "classloader errors between test runs"
I am observing some strange classpath/classloader issues when running `sbt test`.

I keep getting errors equivalent to the following:

`[info]   java.lang.ClassCastException: net.i2p.crypto.eddsa.EdDSAPublicKey cannot be cast to net.i2p.crypto.eddsa.EdDSAPublicKey`

The first test execution always works correctly, but subsequent executions fail with errors of this nature.

Which suggest sbt is som

[2017-07-06 16:52] dk14 commented on #3306
This is a quick-fix (without forking JVM):

[code]
I think it's related to this "problem": https://stackoverflow.com/questions/9420190/do-security-providers-cause-classloader-leaks-in-java

[2017-07-06 17:04] Facsimiler commented on #3306
This is not an _SBT_ issue as such. Since information is being stored in the _JVM_ run-time (in this case. multiple security providers, causing exceptions when re-initializing a single `KeyPairGenerator` instance), this issue can be avoided by forking the tests so that they run in separate _JVM_ instances. Alternatively, the tests should be written so that they clean up after themselves, as pointe

[2017-07-06 17:55] eswenson1 opened #3307 "SBT echo $<3 each time <delete> is pressed when run under iTerm2 on macOS"
(See the guidelines for contributing, linked above)

## steps

1. start iTerm2 on macOs
2. don't change bindings for <delete> key, or if you already have, bind to either send ^? or ^H (backspace).
3. start sbt
4. type at sbt command prompt "foo"
5. type <delete> key
6. Note that sbt erases the last "o" of "foo" and replaces with "$<3>".

## problem

When running sbt under iTerm2 shell, sbt incorre

[2017-07-06 18:37] dwijnand commented on #3306
Indeed. Here's a few resources about forking tests:

+ http://www.scala-sbt.org/0.13/docs/Forking.html
+ http://www.scala-sbt.org/0.13/docs/Testing.html#Forking+tests
+ https://stackoverflow.com/questions/15798341/how-to-fork-the-jvm-for-each-test-in-sbt

[2017-07-06 18:37] #3306 closed, assigned to nobody

[2017-07-06 20:13] alexflav23 opened #3308 "Unable to Await.result as part of sbt.Task"
(See the guidelines for contributing, linked above)

## steps

Trying to call a lengthy method to await a Docker container and the database inside it to start before the test phase. Currently using the following setup, using SBT 0.13.15

[code]

I'm aware this is the old DSL, but even using the new assignment macro has no effect.

## problem

The tests start regardless of the `Await.result` inside

[2017-07-07 07:37] jvican opened #3309 "Make `~` fail if command is not found"
This is a ticket for the Scala Center spree at Scala Wave (Gdansk, Poland).

The goal of this ticket is to fix this "behaviour" that should fail when the task is not found.

## steps
Run `~myNonExistingTask`.

## problem
The `~` command waits for user input even if `myNonExistingTask` does not exist.

## expectation

It should fail straight away without entering in the watch cycle. That means no u

[2017-07-07 07:37] jvican commented on #3309
@eed3si9n Can you label this as `spree`?

[2017-07-07 08:08] jvican commented on #1287
This can be closed since it has been ported to the Zinc repository.

[2017-07-07 08:10] Duhemm commented on #1287
This si the corresponding issue: sbt/zinc#340

[2017-07-07 08:10] #1287 closed, assigned to nobody

[2017-07-07 08:38] Duhemm opened #3310 "`currentState` and `extracted` have type `Object` in `consoleProject` in sbt 1.0.0-M6"
## steps
- Create an empty sbt 1.0.0 project, and launch sbt:
[code]

- Enter `consoleProject`:
[code]

- Type `extracted` or `currentState`:
[code]

## problem
- The types are wrong.

## expectation
- The types should be correct.

## notes
In sbt 0.13, the types are correct (`State` and `Extracted`).

sbt version: 1.0.0-M6

[2017-07-07 09:17] simao commented on #3306
Thank you all for your help fixing the issue. Forking the jvm or using `testOptions in Test += Tests.Cleanup(() => java.security.Security.removeProvider("BC"))` works.

[2017-07-07 10:54] dwijnand commented on #686
Moved to https://github.com/sbt/zinc/issues/339.

[2017-07-07 10:54] #686 closed, assigned to nobody

[2017-07-07 10:56] jvican commented on #3213
Wasn't this fixed @dwijnand ? A spree attendee is having a look at this.

[2017-07-07 11:16] dwijnand commented on #3213
No it's not.

[2017-07-07 11:18] Krever commented on #3213
Based on what I have found out: this happens because `sbt.internal.util.ManagedLogger` is used and it is simply delegating the `success` to `org.apache.logging.log4j.Logger` which does not expose anything like `success`.

Sadly I don't have enough knowledge to implement the solution. Either some other implementation of `Logger` should be used(instead of `ManagedLogger`) or some other backend then

[2017-07-07 11:18] jvican commented on #1178
Ported to Zinc, can be closed. https://github.com/sbt/zinc/issues/343

[2017-07-07 11:20] #1178 closed, assigned to nobody

[2017-07-07 11:20] jvican commented on #1569
This is already fixed, latest Zinc 1.0 is using `GlobalPhase`.

[2017-07-07 11:20] jvican commented on #1569
Can someone close this ticket?

[2017-07-07 11:20] #1569 closed, assigned to nobody

[2017-07-07 11:41] jvican commented on #762
@dragos Was this fixed at any point or do you still want this to be fixed?

[2017-07-07 11:44] jvican commented on #2998
Implementing this would be nice, but trickier than it seems. The implementation needs to keep some state recollected from different task executions, which is something sbt is not really built for and only gurus know how to do it.

@Duhemm Can we remove the spree label from this ticket? :smile: It's better if one of us (sbt team) fixes this.

[2017-07-07 12:21] dwijnand commented on #3213
I spoke to @eed3si9n about this at some point, and he suggested (IIRC) an implementation based on  using some marker text (I suppose something like a `"[success] "` prefix to the message) to encode that the message is intended to be a "success" message.

[2017-07-07 12:37] dwijnand commented on #3310
Duplicate #2884

[2017-07-07 12:37] #3310 closed, assigned to nobody

[2017-07-07 13:24] dragos commented on #762
I don't think it was fixed, but I haven't tried it recently. Feel free to move to the backlog or close as won't fix :)

[2017-07-07 15:20] jvican commented on #762
Do you think this is worth fixing? :) If the use case doesn't really make sense anymore (because we have better tools), we may want to close it or put it in the backlog as you said. If you think it can still be useful I'll port it to Zinc's repository.

[2017-07-07 19:08] dragos commented on #762
I don't think this is hard to fix, and it would help anyone who tries to integrate with Zinc... so I'd vote for a fix rather than a won't fix.

[2017-07-08 14:22] jvican commented on #762
Ported to Zinc, this can be closed.

[2017-07-08 14:37] #762 closed, assigned to nobody

[2017-07-08 23:05] s101d1 opened #3311 "Why sbt can't resolve missing dependencies while maven can?"
sbt version: 0.13.15

I can't resolve some dependencies with this build.sbt:

[code]

It complained about `module not found: com.conveyal#jackson2-geojson;0.8`.

From the repository url on mvnrepository.com:
https://mvnrepository.com/artifact/org.opentripplanner/otp/1.1.0

If you look at the "Compile Dependencies" section, it seems the resolve failed because `com.conveyal » jackson2-geojson (0.8)`

[2017-07-09 08:33] jvican commented on #3311
What are your resolvers?

Please, run `inspect resolvers` and `show resolvers` inside the sbt shell.

[2017-07-09 08:36] jvican commented on #3298
This is a little bit concerning. Can we disable preloaded under a flag for those users whose file systems may be connected to networks or external servers?

Alternatively, can we use find a faster solution?

[2017-07-09 14:24] s101d1 commented on #3311
I don't set resolvers at all. Same case with the maven too.

[code]

[2017-07-10 10:11] dwijnand commented on #3311
Apparently otp on Maven Central depends on artefacts that aren't on Maven Central, which I thought was something that Sonatype enforced.

sbt is failing because there is nothing at http://repo1.maven.org/maven2/com/conveyal/jackson2-geojson/0.8/jackson2-geojson-0.8.pom

Somehow Maven works because something tells it to fetch it from https://maven.conveyal.com/com/conveyal/jackson2-geojson/0.8/jack

[2017-07-10 17:45] eed3si9n commented on #3273
As discussed in https://github.com/mdedetrich/scalajson/issues/13, we should shade the latest milestone.

[2017-07-11 15:27] dwijnand commented on #3226
@eed3si9n Do you have a minimised reproduction? I can't reproduce..

[code]

[2017-07-11 16:21] eed3si9n commented on #3226
I can't reproduce it either. Maybe I was getting confused between beta1 and beta2 for some of the modules.

[2017-07-11 20:46] eed3si9n opened #3313 "Better prompt out of the box"
## steps

Use sbt with a multi project build.

## problem

The prompt just says `>`.

## expectation

The prompt defaults to something that tells what your current project is.

[2017-07-11 20:54] dwijnand commented on #3313
We should poll the peoples. Because I like the minimal/no boilerplate default we have currently (and hate sbt-play messing with it).

[2017-07-11 20:54] dwijnand commented on #3226
Cool.

[2017-07-11 20:55] eed3si9n commented on #3226
So is https://github.com/sbt/zinc/issues/353 related?

[2017-07-11 20:58] eed3si9n commented on #3313
This is analogous to sbt not shipping bash script `sbt` so ppl can customize it, like solder-it-yourself mechanical keyboard kit. Advanced users can change it back to `>`.

[2017-07-11 21:23] jvican commented on #3226
I think so. I reproduced this issue with Zinc's build.

[2017-07-11 22:43] dwijnand commented on #3313
The equivalent to "solder-it-yourself mechanical keyboard kit" is probably "custom build sbt with your own prompt". We provide convenient settings to change the prompt. This is just about the default value.

The current implementation (0.13.x/1.0.x) is `> `. You mentioned current project. What about current directory? What about current date/time? Current user? Current branch? Current git status?

[2017-07-11 23:02] dwijnand commented on #3226
I'll try and minimise from zinc's build.

[2017-07-11 23:18] eed3si9n commented on #3313
https://twitter.com/eed3si9n/status/884914670351659009

[2017-07-11 23:35] LogicalTime commented on #3313
Project name would be really nice for first time users. It makes it easier and more comfortable to make a multi project build too.

[2017-07-11 23:45] SethTisue commented on #3313
lol

[2017-07-11 23:47] SethTisue commented on #3313
fwiw, I almost never use `project` to change projects, typing `foo/` before things seems to me like a cheap price to pay for the gold of statelessness. ymmv

[2017-07-12 00:05] dwijnand commented on #3313
One nice side-effect of using the current project as the default prompt is there will probably be less root projects named "root".

[2017-07-12 06:10] kpmeen commented on #3313
I believe it makes life easier for beginners if the current project name is displayed by default. Anything that makes the shell a friendlier experience for beginners is a good thing IMO.
I've seen quite a few really confused devs losing track of where they are inside the shell. Until I've given them a customized prompt with a bit more contextual info.

Personally I just customize the prompt. But t

[2017-07-12 08:45] romanowski commented on #3282
I've got same problems on Windows 7 and sbt from [1.0.0-M6](https://github.com/sbt/sbt/releases/tag/v1.0.0-M6) release ( from extracted zip).

[2017-07-12 09:01] jvican commented on #3226
@dwijnand To minimise, run `compile` twice in whichever project, and you'll see `update` kick in always. I've run the command in the `zincPersist` module to confirm this is the case.

[2017-07-13 10:24] Duhemm opened #3314 "`Position.point on NoPosition` while compiling sbt 1.0.0-SNAPSHOT with sbt 1.0.0-M6"
I'm trying to port sbt/sbt to the new library management API, but I get an exception while compiling `mainProj`. Here are the versions I use:

[code]
## steps

- Checkout and publishLocal the different modules at the specified commits
- Checkout this commit: https://github.com/Duhemm/sbt/commit/c1a307bd4587b617367c704fb903c6b2fb2bca30
- Make sure you don't have plugins or something else in your gl

[2017-07-13 10:27] olafurpg commented on #3314
I think this is a scala/scala bug. I've hit on the same error and have a patch (with help from Aadrian) that should fix it here https://github.com/olafurpg/scala/commit/d214b552e146ca90d5c44ee104faf5645209165d When I was gonna test the patch with a local publish of scala/scala I wasn't able to reproduce the issue anymore. This issue happens when there's an unused term in your code, workarounds are

[2017-07-13 10:28] Duhemm commented on #3314
That makes a lot of sense given the stack trace. Thanks!

[2017-07-13 11:14] dwijnand commented on #3314
Is `val xsssf = implicitly[JsonFormat[Map[Int, Int]]]` ([link](https://github.com/Duhemm/sbt/commit/c1a307bd4587b617367c704fb903c6b2fb2bca30#diff-ec03fd3421886365088128947d31c739R36)) the unused term?

[2017-07-13 11:29] Duhemm commented on #3314
@dwijnand It could very well be. This can be closed anyway, as this is a scalac bug.

[2017-07-13 11:29] #3314 closed, assigned to nobody

[2017-07-13 14:07] maichler commented on #2949
This issue bothers me as well!

If I understand the API documentation of [TestSelector](https://github.com/sbt/test-interface/blob/master/src/main/java/sbt/testing/TestSelector.java#L5) correctly, `testName()` is supposed to just return the test name itself.

IMHO post processing of `testName()` in `JUnitXmlTestsListener` is a bug and should be removed.

Any thoughts ?

[2017-07-13 14:28] sometao commented on #1676
have same problem.

sbt 0.13.15
"org.nd4j" % "nd4j-native" % "0.8.1-SNAPSHOT" classifier "" classifier "windows-x86_64"

[2017-07-13 22:02] #3313 closed, assigned to nobody

[2017-07-13 22:21] eed3si9n commented on #3296
### GetClassifiersModule

This will be public in https://github.com/sbt/librarymanagement/pull/124 -
 https://github.com/sbt/librarymanagement/blob/74f6a492de82873d925dd4581efe229d2b1f9d30/core/src/main/contraband-scala/sbt/librarymanagement/GetClassifiersConfiguration.scala.
We probably should add them to Import.scala so there's an alias under sbt package.

### MavenRepository

We can add an alia

[2017-07-14 04:11] eed3si9n commented on #3226
Wrote a plugin to debug this problem - https://gist.github.com/eed3si9n/2dbe452982625fb82a4de74f293344e0

At least for me the problem is really intermittent. It doesn't happen for a while, and then it happens several times in a row.

[code]

Still haven't found the exact root cause, but I think the fact that we are internally using `Equiv` is bad, and we should switch to typeclass-based hasher and

[2017-07-14 10:33] dwijnand commented on #3226
Neat! Thanks.

[2017-07-14 11:02] #3276 closed, assigned to dwijnand

[2017-07-14 11:02] #3286 closed, assigned to dwijnand

[2017-07-17 00:14] eed3si9n commented on #3168
This is done.

[2017-07-17 00:14] #3168 closed, assigned to jvican

[2017-07-17 00:15] eed3si9n commented on #3273
For now sjson-new shades ScalaJSON milestone.
I am reassigning this to RC-2.

[2017-07-17 05:14] xuwei-k opened #3325 "sbt 0.13.16-M1 ScriptedPlugin does not support sbt 1.0.0-RC1 or later"
## steps

build.sbt

[code]

project/plugin.sbt

[code]

project/build.properties

[code]

execute `sbt "^^ 1.0.0-RC1" scrpted`

## problem

[code]

## notes

- `sbt.CrossVersion.binarySbtVersion("1.0.0-RC1")` returns `"1.0"` (in sbt 0.13.16-M1 and sbt 1.0.0-RC2) https://github.com/sbt/sbt/blob/v0.13.16-M1/util/cross/src/main/input_sources/CrossVersionUtil.scala
- https://github.com/sbt/sbt/blob/v

[2017-07-17 05:24] xuwei-k commented on #3325
workaround

build.sbt

[code]

[2017-07-17 06:14] xuwei-k commented on #3325
sbt 1.0.0-RC2 will keep binary compatibility with 1.0.0 final? if not, sbt plugin authers **should not publish any sbt plugins** use sbt 0.13.16-M1, 1.0.0-RC2 for prevent binary compatibility issue. sbt generate following `pom.xml` in `target/scala-2.12/sbt-1.0/foo-0.1-SNAPSHOT.pom` if set `^^ 1.0.0-RC2`

[code]

[2017-07-17 06:38] xuwei-k commented on #3325
https://gitter.im/sbt/sbt-contrib?at=596c57230de4d2545e352519

[2017-07-17 09:52] dwijnand commented on #3226
Fixed with https://github.com/sbt/util/pull/93.

[2017-07-17 09:52] #3226 closed, assigned to eed3si9n, jvican

[2017-07-17 09:52] dwijnand commented on #3274
Done.

[2017-07-17 09:52] #3274 closed, assigned to nobody

[2017-07-17 09:54] dwijnand commented on #3273
We're using the shaded version. When ScalaJSON goes final we'll switch.

[2017-07-17 09:54] #3273 closed, assigned to nobody

[2017-07-17 10:04] dwijnand commented on #2890
@eed3si9n Was it intentional in https://github.com/sbt/librarymanagement/pull/113 that it still takes a string parameter?

[2017-07-17 13:07] jastice commented on #3296
Thanks @eed3si9n

I updated sbt-structure based on this and changes in RC2, so now only the last point is open (SessionSettings, LoadedBuildUnit, BuildStructure, BuildDependencies)

[2017-07-17 13:19] dwijnand commented on #3296
@jastice I'm going to try to update sbt-project-graph this week, so I'll be in the same situation, so I might be PRing a solution.

[2017-07-17 14:24] dwijnand commented on #3146
Or we can add a method to change the rank.

[2017-07-17 14:27] #2778 closed, assigned to nobody

[2017-07-17 14:29] eed3si9n opened #3326 "use LM API"
Defauts are still hardcoded to Ivy in places.
We should switch to LM API.

[2017-07-17 14:33] dwijnand opened #3327 "Move sbt.protocol to sbt.internal.protocol"
All the classes under sbt.protocol are for internal usage only, so they should be internal.

[2017-07-17 14:47] RainerW opened #3328 "sbt bootstrapping code does not honor sbt.override.build.repos"
When running sbt inside a corporate network with internal repositories, sbt still tries to contact external urls. I was not able to prevent sbt from calling repo.typesafe.com.

## steps

* following "proxy repositories" setup like : http://www.scala-sbt.org/0.13/docs/Proxy-Repositories.html
* because on the startup phase there were no repository access i decied to change the host resolution for "r

[2017-07-17 15:17] dwijnand commented on #2988
Done! All repos are now 1.x.

[2017-07-17 16:23] dwijnand opened #3330 "++ reverts ^^"
## steps

1. Change the target sbt version with `^^`: `^^1.0.0-RC2`
2. Change the target Scala version with `++`: `++2.12.2`

## problem

The target sbt version has been reverts:

[code]

## expectation

I expect my session-set target sbt version to not be affected by `++`.

## notes

sbt version: 0.13.16-M1

Workaround: Call `++` first, then `^^`. 😞

[2017-07-17 18:43] #3325 closed, assigned to dwijnand

[2017-07-17 20:41] xerial opened #3331 "Publishing to Sonatype Nexus repository doesn't work in sbt-1.0.0-x"
## steps
- Checkout https://github.com/xerial/sbt-publish-test
- Modify the organziation value to your own one
- Set credential in `$(HOME)/.sbt/1.0/sonatype.sbt` https://github.com/xerial/sbt-sonatype/tree/support-1.0.0-M2#homesbtsbt-versionsonatypesbt
-- Or write the credential configuration in build.sbt
- Run publish

## problem
It seems Sonatype credential configuration is not effective, and `

[2017-07-17 20:57] xerial opened #3332 "sbt-1.0.0-RC2 shows redundant new lines in sbt console message"
(See the guidelines for contributing, linked above)

## steps
- Checkout https://github.com/xerial/sbt-publish-test
- Run $./sbt

## problem
sbt console inserts a new line for each output line:
[code]
## expectation
This problem doesn't exist in sbt-1.0.0-M6

## notes

sbt version: *1.0.0-RC2*

[2017-07-17 21:01] dwijnand commented on #3332
Hey @xerial, thanks for opening the issue. This was caught (almost) instantly after the RC2 release and has been fixed at https://github.com/sbt/util/pull/98, which will ship in RC3.

[2017-07-17 21:01] #3332 closed, assigned to nobody

[2017-07-18 06:14] larsrh opened #3333 "Classloading problem in scripted plugin"
## steps

1. Clone [sbt-slf4j](https://github.com/larsrh/sbt-slf4j), branch `topic/sbt-1`
2. Run `sbt scripted`

## problem

`[error] SLF4J: Failed to load class "org.slf4j.impl.StaticLoggerBinder".`

As far as I can tell, there is only one reason why this would fail, which is when the file `src/main/resources/slf4j-impl-helper` doesn't end up in the classpath. It works properly when running `sbt

[2017-07-18 06:21] xuwei-k commented on #3333
IIRC, sbt depends on slf4j since version 1.0.

[2017-07-18 06:25] larsrh commented on #3333
Interesting. Why would it work in `console`, then? But maybe this plugin is obsolete, then.

[2017-07-18 06:33] xuwei-k commented on #3333
- [0.13.15](https://gist.github.com/xuwei-k/1d44ad6ae1ac42d5e547eb42a4022993)
- [1.0.0-M6](https://gist.github.com/xuwei-k/907f3a5340155b42730cc4825c8a330d)
- [1.0.0-RC2](https://gist.github.com/xuwei-k/45cf610e56bec3a0ca46cf3a7d6444b2)

[2017-07-18 07:02] larsrh commented on #3333
OK, but is there a `org.slf4j.impl.StaticLoggerBinder` somewhere?

[2017-07-18 07:10] Duhemm opened #3334 "Test all commits in CI"
Currently, we merge branches as they are in the PR, without caring much about the individual commits. Note that this has not always been the case, I remember being asked to clean up individual commits in my first contributions to sbt.

In my experience, this not-so-nice history had made sbt difficult to debug using `git bisect` for several reasons:

 - Some commits do not compile
 - Some commits d

[2017-07-18 08:56] alienscience commented on #1458
I am sorry to do a +1 on this, but I lost several hours setting up a Docker container because the Docker 'RUN' command defaults to the '/' directory and sbt proceeded to run out of memory. I was just trying to initialize _sbt_ by running:

[code]

Something simple like:
[code]
would have have saved a lot of trouble.

[2017-07-18 12:24] gaydenko commented on #2687
Hi! Has anybody got any workaround during this year to prefer local over cache?

[2017-07-18 12:49] er1c commented on #2687
@gaydenko I've been forced to rename my `-BRANCH-SNAPSHOT` versions to be extra sure.  If you find a better solution let me know :)  I also have https://github.com/scalacenter/sbt-release-early on my "to investigate" list.

[2017-07-18 15:11] liff opened #3336 "ansiCodesSupported regression in 1.0.0-RC2"
(See the guidelines for contributing, linked above)

## steps

Create a test project (run in shell):

[code]

## problem

Value of `streams.log.ansiCodesSupported` is `false` on the last line of:

[code]

## expectation

It should be `true` like in 0.13.

## notes

sbt version: 1.0.0-RC2.

[2017-07-19 07:39] #2988 closed, assigned to dwijnand

[2017-07-19 07:59] ktoso commented on #3036
Status update, we'll definitely need it very soon so will look into it I guess

[2017-07-19 09:12] syndbg commented on #3108
Rate limit issues with bintray again.

[2017-07-19 12:29] dwijnand opened #3337 "Add @sbtUnchecked to sbt 0.13.16 for source-compatibility"

[2017-07-19 15:35] eed3si9n opened #3339 "Automatic migration tool"
Scalafix rewrites to migrate from sbt 0.13 to 1.0 - https://github.com/scalacenter/sbtfix

Release something.

[2017-07-19 15:40] eed3si9n opened #3340 "Bump to sbt 1.0.0-RC3"
## steps

Bump to sbt 1.0.0-RC2
Drink our own Champaign

[2017-07-20 01:45] jkleckner commented on #2687
@gaydenko I find that if I do an otherwise unnecessary depth-first publishLocal it will cause the filesystem timestamps to be newer and your local will resolve first.  This works until someone, including you, pushes a snapshot upstream causing the cache to have a newer filesystem timestamp.  I have to say this is inferred not rigorously deduced.

[2017-07-20 02:01] eed3si9n opened #3341 "Missing imports"
## steps

Bump to sbt 1.0.0-RC2

## problem

I am noticing I need to import certain classes.

[code]

## expectation

Include these into Import.scala

[2017-07-20 04:34] eed3si9n commented on #3282
Here's a repro snippet to test on Windows (writing this from a vm):

[code]

[2017-07-20 10:02] sjrd opened #3343 "No stack traces when there is a failure when loading the build in sbt 1.0.0-RC2"
(See the guidelines for contributing, linked above)

## steps

`build.sbt`
[code]
`project/build.properties`
[code]
Start sbt:
[code]
Ask for `last`:
[code]
## problem

There is no stack trace whatsoever, including when I ask for `last`.

Note that if I directly call `require(false, "boom")` from my `build.sbt`, I get a *somewhat* longer stacktrace.

If I diagnose correctly, sbt truncates the stac

[2017-07-20 10:08] jvican opened #3344 "Start up time in sbt 1.0.0-RC2 is slower"
[code]

We have to figure out why. The tested project has the following build.sbt:
[code]

[2017-07-20 11:05] dwijnand commented on #3331
I think @marsxu1984 is running into the same issue (when trying to publish to an Artifactory repo). He reports that the same issue occurs in 1.0.0-M6, while 1.0.0-M5 works.

Start of the conversation: https://gitter.im/sbt/sbt?at=597082dabf7e6af22cf81123.

[2017-07-20 12:01] sjrd opened #3348 "Testing frameworks do not display a colored output in sbt 1.0.0-RC2"
(See the guidelines for contributing, linked above)

## steps

`build.sbt`
[code]
`project/build.properties`
[code]
`foo/src/test/scala/test/SimpleTest.scala`
[code]
Start sbt
[code]
without any colors.

In sbt 0.13.16-M1, I get the following output:

![image](https://user-images.githubusercontent.com/535934/28416289-b85422a4-6d53-11e7-9223-e1ee0ddf583f.png)

## problem

In sbt 1.0.0-RC2, there ar

[2017-07-20 12:15] Duhemm commented on #3348
Possibly related too: https://github.com/sbt/sbt/issues/3336 (fix: sbt/util#101)

[2017-07-20 12:20] jvican commented on #3331
My guess is that this is due to Gigahorse.

[2017-07-20 15:43] #3341 closed, assigned to dwijnand

[2017-07-21 04:06] fhalde opened #3350 "Setting EnvVars is placing them in sys.props"
## steps

I have created a subproject with the subproject being referenced from the parent `build.sbt`
We need to pass few properties from the command line as well. So we use the `-D` option

## problem

When I run `sbt -Dkey=val test` from the subproject directory, I get the properties, but when I run it from the root `sbt -Dkey=val subproject/test`, the properties are empty

Note: We do a fork i

[2017-07-21 08:02] dwijnand commented on #3350
Could you provide a minimised reproduction? It's unclear what you mean by "We do a fork in our parent sbt before referencing all our subprojects". Also please specify what sbt version you're using.

[2017-07-21 09:08] fhalde commented on #3350
Here is the root sbt

[code]

Here is the subproject sbt

[code]

[2017-07-21 16:00] eed3si9n opened #3352 "InteractionService#terminalWidth"
Add `def terminalWidth: Int` to InteractionService to wrap JLine 2/3.

[2017-07-21 17:36] jvican opened #3353 "Consider scoping the scala version only in ThisBuild or in Global"
## problem
`scalaVersion` is scoped for every build. This often causes problems when people want to set their scala versions globally, because they are overriden by the sbt defaults.

## expectation
When people override the scala version in `Global` or in `ThisBuild`, sbt should pick up the scala versions from there since sbt does not scope sbt version to every project.

## notes
I am not sure thi

[2017-07-21 18:11] eed3si9n commented on #3353
Isn't this already the case?

[code]

[2017-07-21 21:02] jvican commented on #3353
I meant `scalaVersion`, but yeah, it's already scoped in `Global`. The issue is another one, where I think sbt could improve the experience. I will open a ticket soon. I'm closing this one.

[2017-07-21 22:53] eed3si9n commented on #3205
btw this actually works if you just comment out `scalaVersion`:

[code]

We can potentially override Scala version in `^^` again.

[2017-07-21 23:05] eed3si9n opened #3355 "sbt new doesn't work on sbt 1.0.0-RC2"
## steps

[code]

## problem

[code]

## expectation

new works.

[2017-07-22 04:57] eed3si9n opened #3357 "show update doesn't work on sbt 1.0.0-RC2 or RC3"
## steps

[code]

## problem

It displays the `toString` of case class?

[code]

## expectation

0.13 has better String formatting.

[2017-07-22 09:43] jvican commented on #3357
I think this happens for lots of other cases. It looks like it has to be fixed for any key returning a Contraband-generated Java or Scala class. And even for all of them: users could be returning them in plugins.

[2017-07-22 21:59] eed3si9n commented on #3330
With https://github.com/sbt/sbt/pull/3356 ++ is no longer needed, so I am closing this.

[2017-07-22 22:04] eed3si9n commented on #3331
I was able to reproduce it myself using an old scopt build (https://github.com/eed3si9n/scopt/tree/wip/350).
sbt/sbt dogfoods, but we use sbt-bintray so we haven't tested the publishing with authentication.

[code]

[2017-07-22 22:06] sjrd commented on #3330
Don't be so sure. You can have a multi-project build with an sbt plugin depending on other non-sbt-plugin projects. In such a case you still need to `++` for the other projects to have the right Scala version, don't you?

It's a pretty common setup too. A lot of sbt plugins try to abstract away their core logic from sbt integration, so that the core logic can be reused in other build tools or as C

[2017-07-22 22:12] eed3si9n commented on #3330
ok. I'll keep it open to validate with multi-sbt-plugin builds.

[2017-07-22 22:14] eed3si9n commented on #3330
Given the workarounds (e.g. not specifying `scalaVersion` for the subproject, or call `++` before `^^`), I am going to remove this out of 1.0.0-RC3 milestone.

[2017-07-22 22:24] xerial commented on #3331
There are some pains in using Bintray (because its repository can be down for several hours). We also need to use private repositories (e.g., Artifactory as @marsxu1984 reported).

I'd appreciate if this bug can be fixed. (I've tried to check the corresponding code but sbt has many components, and it was difficult for me to identify the cause)

[2017-07-22 22:25] eed3si9n commented on #3331
Yes. We can't ship another RC until we fix this bug.

[2017-07-22 22:36] eed3si9n opened #3359 "LList format bug"
## steps

https://github.com/dwijnand/sjson-new/blob/e5c3a22de7dba2d378de741b3e89066c1ae30ff4/support/scalajson/src/test/scala/sjsonnew/support/scalajson/unsafe/LListFormatSpec.scala

## problem

[2017-07-23 06:19] eed3si9n opened #3360 "CrossUtil should calculate sbt 1.1.0-SNAPSHOT as 1.0 compat"
## steps

Publish sbt locally as `1.1.0-SNAPSHOT`, and try using it.

## problem

It's unable to find sbt-pgp because it thinks 1.1.0-SNAPSHOT is not compat with 1.0.

[code]

## expectation

binarySbtVersion should be 1.0.

[2017-07-23 12:47] sjrd commented on #3332
Could this be formally attached to the 1.0.0-RC3 milestone, for future reference?

[2017-07-24 06:08] jroper commented on #3036
Can this feature be utilised for cross building Scala as well?

[2017-07-24 06:13] ktoso commented on #3036
I don't think so, it's hardcoded to know about JDK versions, nothing else. It can handle `/META-INF/versions/9`, `/META-INF/versions/10` etc, but there's no way to smuggle in scala versions there AFAICS

[2017-07-24 06:44] dwijnand commented on #3332
Done.

[2017-07-24 07:18] jroper commented on #3036
That's a pity.

[2017-07-24 07:20] ktoso commented on #3036
It's something we could perhaps bring up during our discussions with them - @retronym FYI.
I guess they did the minimal thing they needed for 9, rather than doing a full API around it since time pressure to ship 9.

[2017-07-24 09:15] leonardehrenfried commented on #3296
What about ` Cross.crossVersions`?

[2017-07-24 12:15] jastice commented on #2428
I've just encountered this under following conditions:
* Windows 10
* sbt 0.13.16-RC1, 0.13.15, and 0.13.13
* the user name contains spaces or maybe unicode characters

Perhaps this is somehow due to the uri in local-preloaded not being valid (throws URISyntaxExcpetion when passed to `new URI`

[code]

[2017-07-24 14:40] #3360 closed, assigned to nobody

[2017-07-24 17:20] trymeok commented on #2886
This fixed my issue on MAC.

$ brew update
$ brew cask install java

[2017-07-24 19:38] eed3si9n commented on #3337
Fixed in https://github.com/sbt/sbt/pull/3347

[2017-07-24 19:38] #3337 closed, assigned to nobody

[2017-07-24 19:41] eed3si9n commented on #3282
Fixed in https://github.com/sbt/sbt/pull/3358. This will in next RC.

[2017-07-24 19:41] #3282 closed, assigned to eed3si9n

[2017-07-24 19:41] eed3si9n commented on #3331
Fixed in https://github.com/sbt/librarymanagement/pull/141. This will be in next RC.

[2017-07-24 19:41] #3331 closed, assigned to eed3si9n

[2017-07-24 19:43] eed3si9n commented on #3299
Fixed in https://github.com/sbt/sbt/pull/3351. This will be part of next RC.

[2017-07-24 19:44] eed3si9n commented on #3340
This is blocked by Zinc + sbt-protoc + sjson-new LL format, so I am removing this from the milestone.

[2017-07-25 00:13] retronym commented on #3036
[Blog](http://in.relation.to/2017/02/13/building-multi-release-jars-with-maven/) about how to configure this with Maven.

[2017-07-25 00:13] ktoso commented on #3036
I have done so in a strawman proposal for Akka https://github.com/ktoso/akka-streams-jdk9-strawman-mvn :)

[2017-07-25 02:27] eed3si9n commented on #3205
Fixed in https://github.com/sbt/sbt/pull/3362.

[2017-07-25 02:27] #3205 closed, assigned to eed3si9n

[2017-07-25 04:02] eed3si9n commented on #3336
Fixed in https://github.com/sbt/util/pull/101

[2017-07-25 04:02] #3336 closed, assigned to Duhemm

[2017-07-25 07:16] eed3si9n commented on #3326
Using just LM core to do caching requires some help from ModuleDescriptor.

[code]

[2017-07-25 07:19] ktoso opened #3368 "JDK9: Support module-info.java"
Ticket originates from discussion with Scala team how to handle the `module-info.java` of Jigsaw in Scala builds.

Scala will not get it's own special syntax for these files, as @retronym correctly observed that the syntax is more of its "own thing". Looks kind of like protobuf rather than any of scala/java, so seems we'll use the same syntax.

- [ ] This means that mixed language projects will pu

[2017-07-25 09:26] MasseGuillaume opened #3369 "watchSources should watch the entire directory"
## steps

I'm using protobuf like this:

[code]

then I run: `~compile`

## problem

when I modify protobuf files it does not trigger the compilation

## expectation

it should trigger the compilation

## workaround

When the files are explicitly supplied it works

[code]

The documentation refers to a specific file: http://www.scala-sbt.org/0.13/docs/Howto-Triggered.html

sbt version: 0.13.15

[2017-07-25 10:41] vn971 commented on #3050
I had to clean up local `target` directory now in order to use sbt-0.13.13 after using sbt-1.0-something previously.

[2017-07-25 13:44] #3287 closed, assigned to eed3si9n

[2017-07-25 13:58] dwijnand commented on #3050
That makes sense. The support was only merged to be first released in sbt 0.13.16-M1.

[2017-07-25 14:28] dwijnand commented on #3353
This issue is valid. `scalaVersion` is defined at project scope: [Defaults.scala](https://github.com/sbt/sbt/blob/v0.13.16-RC1/main/src/main/scala/sbt/Defaults.scala#L247) / [JvmPlugin.scala](https://github.com/sbt/sbt/blob/v0.13.16-RC1/main/src/main/scala/sbt/plugins/JvmPlugin.scala#L30). This is particularly troublesome as it impacts `crossScalaVersions` which _derives_ from `scalaVersion`: http

[2017-07-25 14:30] vn971 commented on #3050
@dwickern ah, OK, thank you.

[2017-07-25 14:32] jvican commented on #3353
Yay! Thanks for the catch @dwijnand. I had the feeling this was not an hallucination...

[2017-07-25 14:34] jvican commented on #3353
Guys, in general, we should agree on what's the best and recommended way to have default values for our keys. I think that `ThisBuild` is almost always preferable. Is there any downside of doing it there?

We should also recommend plugin authors to scope stuff in `ThisBuild`, especially default implementations for keys. Not doing so ends up being a burden for their users, who expect scope delegati

[2017-07-25 14:38] dwijnand commented on #3353
Anything that is global to the entire sbt engine, such as the default version for a key you're introducing, should be defined (defaulted) `in Global`.

Anything that is not project-specific in your build, such as your organization, `in ThisBuild`.

We should document this.

It's possible that things are the way things are in JvmPlugin because of https://github.com/sbt/sbt/issues/2899.

[2017-07-25 14:42] jvican commented on #3353
Isn't scoping in `Global` going to break the builds of source dependencies by overriding values that should not be overridden?

In my experience, people do not want to use `Global`, they generally want `ThisBuild` and I find it a safer alternative under my previous hypothesis that doing otherwise can generate undefined errors in builds with source dependencies. I think source dependencies are impo

[2017-07-25 14:51] dwijnand commented on #3353
Due to the mechanics of `derive` and what we do with it in Defaults (namely define `scalaVersion`, `scalaBinaryVersion` and, specifically, `crossScalaVersions`) this is a regression in sbt 0.13.16-M1.

## steps

Given this build:

[code]

## problem

In sbt 0.13.16-M1 or sbt 0.13.16-RC1:

[code]

## expectation

How it used to work, such as in sbt 0.13.15:

[code]

## notes

The commit that folded

[2017-07-25 15:12] jvican commented on #3353
It would be lovely to have scripted tests that check the scopes of these things. This way, we won't have regressions on such important keys from now on.

[2017-07-25 15:23] pelepelin commented on #2880
It would be good if sbt checked that the version of sbt that was used for the build of plugin is in the known list of API-compatible versions.

[2017-07-25 15:34] eed3si9n commented on #3353
This is a feature interaction between sbt version cross building and Scala version cross building.

Normally I try not to mess with existing globally-scoped keys, and I was aware that people often define `scalaVersion in ThisBuild`, so I did define a forwarder:

[code]

I think I just need to do something similar with `crossScalaVersions`.

Note that recently merged https://github.com/sbt/sbt/pull

[2017-07-25 17:23] eed3si9n commented on #3355
Fixed in https://github.com/sbt/sbt/pull/3364

[2017-07-25 17:23] #3355 closed, assigned to eed3si9n

[2017-07-25 17:27] eed3si9n commented on #3348
See the screenshot on https://github.com/sbt/util/pull/104.
This will be fixed in next RC.

[2017-07-25 17:27] #3348 closed, assigned to eed3si9n

[2017-07-25 17:27] #3352 closed, assigned to eed3si9n

[2017-07-25 22:54] eed3si9n commented on #3343
After various log-related cleanups my locally built SNAPSHOT looks like this:

[code]

[2017-07-26 07:48] #3353 closed, assigned to nobody

[2017-07-26 07:52] #3213 closed, assigned to eed3si9n

[2017-07-26 07:57] #3271 closed, assigned to eed3si9n

[2017-07-26 08:01] #3343 closed, assigned to eed3si9n

[2017-07-26 09:52] jvican commented on #3369
@MasseGuillaume It's not clear to me whether sbt should do this by default. This should be something done by `sbt-protoc`, the sbt plugin for protobuf, IMO.

[2017-07-26 09:56] MasseGuillaume commented on #3369
@jvican yep this proto was just an example.

I just think there is nothing explicit in the type or in the name of the key that says that `watchSources` watches for files. I suggest marking it as deprecated in favor of `watchSourceFiles` and add a new key `watchDirectories`.

[2017-07-26 09:56] jvican opened #3371 "Move `formatEnabledInEnv` to a better place"
## problem

**There's not a good, intuitive way of figuring out if the underlying logger/shell supports colours**.

<s>sbt 1.0.0-RC2 changed `formatEnabled` to `formatEnabledInEnv`. I don't know what triggered this change, but I don't think it was a good idea... In any case, now that it's already done, we should add ways to maintain source compatibility for all plugins.

My idea would be to add a

[2017-07-26 09:59] jvican commented on #3369
Ohhhh, I see. Yes, I agree with you. I agree that's the best solution if we want not to break existing builds.

This should be rather easy. Do you want to give it a go?

[2017-07-26 10:33] dwijnand commented on #3371
In my opinion, we don't need to support source-compatibility between pre-release versions of sbt.

For source compatibility with sbt 0.13.x, which I think is a very worthy cause, we do have that deprecation in place (the "since" field is wrong and there's a typo in the message though.. cc @Duhemm):

[code]

(https://github.com/sbt/util/blob/v1.0.0-M28/internal/util-logging/src/main/scala/sbt/inter

[2017-07-26 10:42] MasseGuillaume commented on #3369
@Duhemm How would this work with the new filewatcher? https://github.com/sbt/sbt/issues/3369#issuecomment-318007542

[2017-07-26 10:53] jvican opened #3372 "`set` reverts `^^`"
## steps
[code]

## problem
The sbt version is changed when setting a logically unrelated key.

## expectation
The sbt version should be the same.

sbt version: sbt 0.13.16-RC1

[2017-07-26 10:56] jvican commented on #3371
Let me change the main goal of this ticket towards providing a sane API for plugin authors to know if they can use colors or not in their output. I agree than source-compatibility between pre-release versions of sbt is not that of a big deal.

[2017-07-26 11:04] dwijnand commented on #3372
`^^` doesn't change `sbtVersion`, it changes `sbtVersion in pluginCrossBuild`, as it says:

[2017-07-26 11:09] jvican commented on #3372
No:
[code]

This is a legit issue.

[2017-07-26 11:15] dwijnand commented on #3372
[code]

Related to #3330.

[2017-07-26 12:07] christian-schlichtherle opened #3373 "SBT hangs when trying to replace the `exportedProducts` with the result of an `assembly`"
I am using SBT 0.13.15 and sbt-assembly 0.14.5. I'm using the `assembly` task to create an uber JAR which contains a shaded version of ASM with no problems. I have a multi-project build and I want other projects in this build to depend on the resulting uber JAR instead of the compiled class files.

I have created a minified example to reproduce the issue: [test.zip](https://github.com/sbt/sbt/file

[2017-07-26 13:51] dwijnand commented on #3327
See https://github.com/sbt/sbt/pull/3366#issuecomment-318058971

[2017-07-26 13:51] #3327 closed, assigned to eed3si9n

[2017-07-26 14:09] eed3si9n commented on #3146
Fixed in https://github.com/sbt/sbt/pull/3367.

[2017-07-26 14:09] #3146 closed, assigned to eed3si9n

[2017-07-26 14:42] #3301 closed, assigned to nobody

[2017-07-26 14:45] dwijnand commented on #3256
Isn't this because to translate Maven semantics the dependencies are "force"'d?

[2017-07-26 14:52] dwijnand commented on #3248
Tweaked the subject to reflect this is `scripted`-related.

[2017-07-26 15:04] jvican commented on #2884
It seems this is still present in RC2:
[code]

[2017-07-26 16:51] #3339 closed, assigned to Duhemm

[2017-07-26 19:08] christian-schlichtherle commented on #3373
I've also tried the minified example with SBT 1.0.0-RC2, but it made no difference.

[2017-07-27 02:10] zxydi1992 opened #3374 "Avoid interactive console in batch mode"
(See the guidelines for contributing, linked above)

## steps

## problem
When a "sbt run ..." in batch mode is done, the sbt does not exit automatically and hangs there.

## expectation
Is there any options to close sbt after the job is finished?

## notes

sbt version: *insert sbt version*

[2017-07-27 04:49] lrytz commented on #3314
@olafurpg is there a ticket on https://github.com/scala/bug/issues? It seems other projects are hitting this too https://github.com/lagom/lagom/pull/887#issuecomment-315833219

[2017-07-27 06:08] dwijnand commented on #3374
What version of sbt are you using? Can you provide a minimal reproduction?

[2017-07-27 09:16] dwijnand commented on #3359
Fixed in https://github.com/eed3si9n/sjson-new/pull/75.

[2017-07-27 09:16] #3359 closed, assigned to dwijnand

[2017-07-27 09:17] #3288 closed, assigned to eed3si9n

[2017-07-27 12:03] olafurpg commented on #3314
I didn't report the issue since I wasn't able to find a minimal reproduction @lrytz. Aadrian helped me write the patch but when I was gonna test it on my project I couldn't even reproduce there anymore.

[2017-07-27 14:56] christian-schlichtherle commented on #3373
I think there is some recursion involved between `assembly` and `packageBin` and it's not being detected by SBT because in `Defaults.scala`, the `exportedProducts` setting is defined using a `Def.taskDyn` macro, which executes another macro. Apparently, the recursion detection doesn't work recursively, or in other words: Too much macro magic will kill you!

[2017-07-27 14:57] dwijnand commented on #2382
Done in all modules.

[2017-07-27 14:57] #2382 closed, assigned to dwijnand

[2017-07-27 17:20] scf37 opened #3377 "References to undefined settings at runtime when redefining `test in Test`"
(See the guidelines for contributing, linked above)

## steps

    lazy val scalaBootClasspath = taskKey[Unit]("scalaBootClasspath")

    scalaBootClasspath := {
        val cp = scalaInstance.value.jars.map(x => x.getAbsolutePath).mkString(":")
        System.setProperty("scala-boot-classpath", cp)
    }
    test in Test := (Def.sequential(scalaBootClasspath, test in Test)).value

`sbt test`

```

[2017-07-27 18:24] muuki88 opened #3378 "1.0.0-RC2 cross build cannot find fileToRichFile method"
## steps

Create a scripted test with an inlined task like this

[code]

Cross build with

[code]

Example is taken from this pull request:
https://github.com/sbt/sbt-native-packager/pull/1000

## problem

An exception is thrown

[code]

## expectation

The implicit method is found.

## notes

sbt version build: *0.13.16*
sbt version for scripted test: *1.0.0-RC2*

If I import the method explicitl

[2017-07-27 18:32] muuki88 commented on #3378
If I move the testing logic into an AutoPlugin in the scripted test everything works.

[2017-07-27 21:06] dwijnand opened #3379 "Re-enable (neo-)sbt-scalafmt"
Now that v1.9 has been release cross-built for sbt 1.

[2017-07-28 02:45] eed3si9n opened #3381 "Test using Maven semantics"
Our integration test (`scripted`) and local testing (via `publishLocal`) both use Ivy semantics ([latest-wins](http://ant.apache.org/ivy/history/2.3.0/ivyfile/conflicts.html)), which is different from the Maven semantics ([nearest-wins](https://maven.apache.org/guides/introduction/introduction-to-dependency-mechanism.html)).

I've been bitten by this twice now:
- https://github.com/sbt/sbt/issues/

[2017-07-28 02:47] eed3si9n commented on #3378
Gaa! This is my fault. I keep forgetting about Maven semantics! This is happening because we do all the testing using Ivy semantics. https://github.com/sbt/sbt/blob/v1.0.0-RC2/project/Dependencies.scala#L12

I opened https://github.com/sbt/sbt/issues/3381 to prevent this from happening...

[2017-07-28 02:48] eed3si9n commented on #3378
So basically the fix is before we publish the next RC, we need to make sure ALL the module versions are up to date.

[2017-07-28 03:13] eed3si9n commented on #3378
My theory is confirmed by the fact that the problem goes away if I add

[code]

to `project/plugin.sbt`:

[code]

[2017-07-28 04:33] eed3si9n commented on #3277
I've implemented a Restligeist macro for `InputKey` in https://github.com/sbt/sbt/pull/2710

[code]

[2017-07-28 04:33] #3277 closed, assigned to nobody

[2017-07-28 05:45] muuki88 commented on #3378
Npnp 😁 thanks for the quick feedback. I kept back with opening issues until now, because most of the problems where my fault. But this one was pretty resistant 😜

[2017-07-28 05:49] eed3si9n commented on #3378
Thanks for spending your time to try the beta! These inputs are super useful.

[2017-07-28 07:46] eed3si9n commented on #3333
Fixed in https://github.com/sbt/sbt/pull/3382

[2017-07-28 07:46] #3333 closed, assigned to eed3si9n

[2017-07-28 08:03] larsrh commented on #3333
@eed3si9n Am I right in assuming that my plugin (`sbt-slf4j`) can be deprecated now?

[2017-07-28 08:04] eed3si9n commented on #3333
Yes. Next RC of sbt 1.0 will include a SLF4J binding.

[2017-07-28 08:04] larsrh commented on #3333
Perfect, thanks!

[2017-07-28 08:06] larsrh commented on #1931
Fixed by #3382.

[2017-07-28 08:13] #1931 closed, assigned to nobody

[2017-07-28 08:13] dwijnand commented on #1931
Will be in the sbt 1.0.0-RC3 release.

[2017-07-28 09:04] jvican commented on #3112
ping @dwijnand & @eed3si9n.

[2017-07-28 09:15] dwijnand commented on #3378
This isn't a bug in sbt. In your branch you're expressly compiling against io 1.0.0-M11, which is binary incompatible with sbt 1, which is why you're failing at runtime:

https://github.com/sbt/sbt-native-packager/pull/1000/commits/cf8cf4a579bfaae39235356c001f05be38f5ef4f

[2017-07-28 09:15] #3378 closed, assigned to eed3si9n

[2017-07-28 09:23] dwijnand commented on #3112
I know now more why this is. `State` is defined in the commands module, which is not specific to a build system, while `Project` (defined in the main module) is build system specific - `extract` being the way to get the `BuildStructure` and `SessionSettings` from the state.

So to add it it would have to be via an implicit enrichment.

[2017-07-28 10:05] jvican commented on #3112
Yes, that's my suggestion. @Duhemm: do you remember we were discussing about this at some point? We concluded that a nicer API would be better. Do you have any suggestion in mind?

[2017-07-28 11:44] guizmaii commented on #1402
Hi,

How did you solve this bug ? We are experiencing the same problem in Lagom with Scala 2.12 here: https://github.com/lagom/lagom/pull/887

Thanks

[2017-07-28 13:53] NeQuissimus opened #3384 "0.13.16 tgz"
Could you release a tgz for 0.13.16 into Bintray (https://dl.bintray.com/sbt/native-packages/sbt/) as you did with other versions?

Or is there a new place for these to show up?

Thank you

[2017-07-28 14:00] dwijnand commented on #1402
I'm not sure if this is relevant information or not but I observe that, while the exception is the same, they're different code paths.

Here the exception was thrown while trying to get the generic superclass of a class, while in Lagom it failed when getting the generic parameter types of a method.

Either way, there's precedence in sbt of working around the problem with a try/catch: b09cf5b5e70a4

[2017-07-28 14:45] srednal commented on #3119
FWIW - no change with sbt 0.13.16 / scala 2.12.3

[2017-07-28 14:50] eed3si9n commented on #3384
We are working on another 1.0.0-RCx, so I wanted to announce both together.
sbt 0.13.16 tgz link is up on http://www.scala-sbt.org/download.html

[2017-07-28 14:50] #3384 closed, assigned to nobody

[2017-07-28 15:00] bpholt commented on #3384
FWIW, the link on http://www.scala-sbt.org/download.html isn't ideal for a couple reasons:

1. It's not predictable. We build [Docker images](https://github.com/Dwolla/jenkins-agent-docker-sbt) for our Jenkins instances to use for building sbt projects. Using bintray (or some predictable scheme) allows us to easily parameterize the sbt version that should be included in the Docker image. I discove

[2017-07-28 15:03] eed3si9n commented on #3384
@bpholt Thanks for the input on this!

[2017-07-28 15:27] NeQuissimus commented on #3384
I am in the same boat, wanting to update SBT for NixOS. I can add the above URL as a fallback but a predictable scheme is definitely preferrable :)

Thank you for the tgz though...

[2017-07-28 22:07] janjaali opened #3386 "Cannot run program from PATH in windows"
## steps
Add a taskKey with a command executing a executable from my PATH in windows:

[code]

and run `sbt yarnBuild`

## problem
[error] (*:yarnBuild) java.io.IOException: Cannot run program "yarn": CreateProcess error=2

## expectation
The executable is executed.

## notes
It seems that this happened just on windows OS ([stackoverflow](https://stackoverflow.com/questions/44608154/sbt-0-13-15-ov

[2017-07-28 22:42] eed3si9n commented on #3357
Fixed in https://github.com/sbt/librarymanagement/issues/146

[2017-07-28 22:45] eed3si9n commented on #2884
Moving this to `1.0.1` milestone.

[2017-07-28 22:46] eed3si9n commented on #3136
Fixed by https://github.com/sbt/sbt/pull/3380

[2017-07-28 22:46] #3136 closed, assigned to eed3si9n

[2017-07-28 22:47] eed3si9n commented on #3326
https://github.com/sbt/sbt/pull/3385

[2017-07-28 22:47] #3326 closed, assigned to nobody

[2017-07-29 12:33] Leammas commented on #2958
Just run into the same issue. It is truly the coursier problem. After removing it from plugins compilation went well.

[2017-07-29 18:28] dwijnand commented on #3340
Re-purposed to RC3.

[2017-07-29 21:02] christian-schlichtherle commented on #630
I've hit the same issue. Why does the code even put some auxiliary file in the same directory as the code under test? If you could change this, it would work no matter what's in the directory.

[2017-07-29 22:20] muuki88 commented on #3378
Thanks a lot for the quick response and fix :)

[2017-07-29 22:48] muuki88 opened #3388 "packaged artifact names changed in 1.0.0-RC3"
## steps

* checkout sbt-native-packager on branch `wip/cross-build-sbt-1.0`
* Set version `; ++2.12.2 ; ^^1.0.0-RC3`
* Run `scripted jar/*` tests

## problem

The jar file names should contain the `organization`, but it is missing.
All tests in the `jar/*` folder check the `MANIFEST.MF` that the classpath
has all necessary jars.

[The error  message](https://travis-ci.org/sbt/sbt-native-packager/

[2017-07-30 12:38] eed3si9n commented on #3388
This is 0.13's artifactName https://github.com/sbt/sbt-zero-thirteen/blob/0.13/ivy/src/main/scala/sbt/Artifact.scala#L80-L87:

[code]

[2017-07-30 16:27] godenji opened #3389 "Autoplugin default settings applied after user defined settings"
## steps

Create an autoplugin:
[code]

Use non-default settings in client `build.sbt`:
`myPluginSettings(cond = false)`

## problem

Observe that reverse dependency on `compile::compileInputs` exists for `myTask` despite having set `cond` to `false`.

## expectation

No reverse dependency on `compile::compileInputs` is set for `myTask` when `cond` is `false`. Furthermore, not even reload `project

[2017-07-30 21:24] vmarquez commented on #3307
I have this problem too when running SBT inside a terminal window in Vim on OS X.

[2017-07-31 01:36] zenglian opened #3390 "download is very slow or not accessible at all"
(See the guidelines for contributing, linked above)

## steps

(1) download sbt 0.3.15/16 from scala-sbt.org
(2) run sbt

## problem

Download is very slow or timed out.
"http://11a36.http.tor01.cdn.softlayer.net/sbt/0.13.16/sbt-0.13.16.msi": DNS resovle failure.

## expectation

Switch to a better/fast/stable CDN.

## notes

sbt version: *all versions*

[2017-07-31 07:20] laughedelic opened #3391 "Faster sbt new"
The `sbt new` command is great because it makes it easy to start new projects by bringing giter8 to a wider audience. But it's far away from being an alias for giter8.

* it takes it ~15s to load before it starts asking template-related questions (comparing to ~3s of the pure giter8)
* it creates `target/` directory where it's not needed (I know it's mentioned already in #2835, so I'm not going to

[2017-07-31 08:07] jeffreyolchovy opened #3392 "^compile does not resolve internal `dependsOn` project dependency"
## steps
Given a project definition which includes both an sbt plugin and a non-plugin project that the sbt plugin depends on:

[code]

## problem
When attempting to cross-compile the plugin for the given sbt versions, the following error occurs during dependency resolution:

[code]

## expectation
I would expect that when issuing `^compile`, the internal projects that my plugin depends on would b

[2017-07-31 08:19] jeffreyolchovy opened #3393 "^compile does not resolve correct version of sbt plugin dependency (using addSbtPlugin)"
## steps
Given a build.sbt for an sbt plugin that needs to include another sbt plugin as a library dependency (e.g. we are creating an AutoPlugin which requires this other sbt plugin):

[code]

## problem
When attempting to cross-build (`^compile`) this plugin for the given versions of sbt, the resolution for the plugin used as a dependency fails:

[code]
## expectation
I would expect `addSbtPlugi

[2017-07-31 09:54] dilation opened #3394 "NoSuchMethodError with 0.13.16 + scripted + Scala 2.12"
## steps

1. Start `sbt` in this example project: https://github.com/dilation/test-scripted
1. `scripted`

## problem

It fails with a `NoSuchMethodError`:
[code]

## expectation

It shouldn't fail with a `NoSuchMethodError`.

## notes

sbt version: 0.13.16

If `scalaVersion` is 2.11, it seems to work fine:
[code]

[2017-07-31 10:17] dwijnand commented on #3392
Strange. This should've been solved in #3356.

[2017-07-31 10:18] dwijnand commented on #3392
Oh! Cos #3356 only changes `^^` (aka pluginSwitch) and not `^`/`pluginCross`.

[2017-07-31 10:20] dwijnand commented on #3393
Yeah. `addSbtPlugin` should be redefined to use `in pluginCrossBuild`.

Good issues, @jeffreyolchovy, thank you.

[2017-07-31 10:24] dwijnand commented on #3394
I'm not sure why scripted isn't failing you for 2.11 too, but basically sbt 0.13, and its scripted plugin, only supports 2.10.

[2017-07-31 10:24] #3394 closed, assigned to nobody

[2017-07-31 15:48] dwijnand commented on #3340
#3396

[2017-07-31 15:48] #3340 closed, assigned to nobody

[2017-07-31 21:29] ktham commented on #2989
In which milestone is this PR shooting for?

[2017-07-31 21:53] ritschwumm commented on #2989
while i do see the point of having a reproducable build - please, please, please do _not_ put generated files into `src/`. this folder should be reserved for original files written by the author of a project. i'd really hate accidentally committing a cache file put there by my build tool in a seemlingly harmless operation like `update`.

of course i'd be fine with a new command to put the file the

[2017-07-31 22:08] ktham commented on #2989
I don't like it being in the `target` directory either, that is for compiled artifacts and everyone gitignores that directory.

[2017-07-31 22:23] ritschwumm commented on #2989
true, the proposed "cache" file is an interesting case. neither `src/` nor `target/` really fit here - and in some case you want it checked in, and in others you don't.

[2017-07-31 22:41] ktham commented on #2989
Well, I wouldn't call it a "cache" file. I would use the PR title's language and call this a dependency "lock" file. In most cases you *do* want to commit this dependency lock file and store in source control like you would a `yarn.lock` file for JavaScript dependencies, or `Gemfile.lock` for Ruby dependencies. I'm not sure in what cases it is undesirable to check this file in.

[2017-07-31 23:38] ritschwumm commented on #2989
how would you update of your dependencies?

right now it's
* update the build.sbt
* commit

with this file in `src/` it would be
* update your build.sbt
* `sbt reload`
* `sbt update`
* commit
which is quite a bit more work.

this would be quite annoying when you - like i do for most of my projects - use a strict conflict manager and use only very few external libraries.

[2017-08-01 02:10] ShaneDelmore commented on #2989
I like the lock file in the root of the project but I can also see the argument for putting it in managed_src.

[2017-08-01 09:01] dwijnand commented on #2352
Done.

[2017-08-01 09:01] #2352 closed, assigned to nobody

[2017-08-01 14:54] dwijnand commented on #2884
https://github.com/sbt/zinc/pull/386

[2017-08-01 15:08] fommil commented on #2879
the obligatory ensime workaround https://github.com/ensime/ensime-sbt/blob/2.0/src/main/scala/CoursierHelper.scala

[2017-08-01 15:11] dwijnand commented on #2879
I wonder to what degree this issue is solved with the API now available in lm: https://github.com/sbt/librarymanagement/blob/v1.0.0-RC3/README.md

[2017-08-01 15:23] dwijnand commented on #3330
Situation's pretty complicate now:

[code]

... I'm going back to using `set`.

[2017-08-02 02:26] eswenson1 commented on #3307
@vmarquez That's interesting. I had originally reported this ticket to the iTerm2 dev team because that is the only place I saw this happening, but the iTerm2 developer said that iTerm2 was sending the correct characters. So glad to see that other shell environments on OS/X are causing the same issue.

[2017-08-02 11:46] dwijnand commented on #3371
I agree we should consider making this public API. Currently it's in `sbt.internal.util.ConsoleAppender.formatEnabledInEnv`.

[2017-08-02 12:21] kannaiah commented on #2295
I tried updating ca-certificates mentioned above but it did not fix the issue.
`Server access Error: java.lang.RuntimeException: Unexpected error: java.security.InvalidAlgorithmParameterException: the trustAnchors parameter must be non-empty url=https://repo1.maven.org/maven2/org/scala-sbt/sbt/0.13.13/sbt-0.13.13.jar`

Is there anything I can try to fix this?

[2017-08-02 12:34] guizmaii commented on #3314
@lrytz did you create a ticket for this problem ? Indeed we suffer it in Lagom :/

[2017-08-02 12:43] lrytz commented on #3314
I haven't - could you create one on https://github.com/scala/bug/issues with steps to reproduce (even if that includes cloning some repo and compiling through sbt)?

[2017-08-02 13:44] dwijnand commented on #3392
No it's not that. Even the setting of scalaVersion in `^^` is too shallow: it only sets the scalaVersion in the Global scope and the current project scope, which is insufficient for the setup in your repro.

I refer to my notes [here](https://github.com/sbt/sbt/issues/3205#issuecomment-311356035) about how existing functionality (`++` and `set every`) works.

[2017-08-02 14:15] jeffreyolchovy commented on #3392
So is the current functionality the desired functionality for sbt?

[2017-08-02 14:21] dwijnand commented on #3392
Not in my book - given that there's a possible manual translation to make that legitimate build work for sbt 1, `^` and `^^` should work as you expected it to.

If your question is because you're stuck, then there are ways to avoid the problem. I haven't hit this particular bug because I set my scalaVersion in terms of sbtVersion in pluginCrossBuild: https://github.com/dwijnand/sbt-project-graph/b

[2017-08-02 15:37] guizmaii commented on #3314
Done: https://github.com/scala/bug/issues/10448

[2017-08-02 15:48] jeffreyolchovy commented on #3392
Nope, not stuck, just curious. Used the same workaround, but I think I sourced it from something else of yours (maybe another open issue or a different plugin).

[2017-08-02 21:54] albuch opened #3398 "SLF4J log level is only error in 1.0.0-RC3"
## steps
Execute a task that calls a slf4j logger (e.g. from a dependency or directly from the task)
[code]
## problem
With sbt 1.0.0-RC3 logging output is different than in sbt 0.13.16. Only errors is logged.
[code]

## expectation
Logging output is reported for all log levels that are configured, e.g. `logLevel := Level.Debug` where info is the default if not configured.
[code]

## notes
The pos

[2017-08-03 15:32] eed3si9n commented on #3357
@dwijnand So 1.0.0-RC3 is an improvement, but it's not the same as 0.13:

[info] 	org.scala-lang:scala-library
[info] 		- 2.12.2
[info] 			status: release
[info] 			publicationDate: java.util.GregorianCalendar[time=1492071551000,areFieldsSet=true,areAllFieldsSet=true,lenient=true,zone=sun.util.calendar.ZoneInfo[id="America/New_York",offset=-18000000,dstSavings=3600000,useDaylight=true,transitions=

[2017-08-03 16:00] dwijnand commented on #3357
Line to change: https://github.com/sbt/librarymanagement/blob/v1.0.0-RC3/core/src/main/scala/sbt/librarymanagement/UpdateReportExtra.scala#L64

[2017-08-03 16:49] dwijnand opened #3399 "Inspect not showing setting definition location"
## steps

1) Define a local plugin `FooPlugin`

[code]

## problem

The setting is definitely applied:

[code]

[code]

But it's not appearing in `inspect`:

[code]

## expectation

I expect `FooPlugin` to be present under "Defined at".

## notes

sbt version: 0.13.16

[2017-08-03 16:51] dwijnand commented on #3399
Also does not appear if the formulation is:

[code]

[2017-08-04 02:18] eed3si9n commented on #3371
What used to be called "Logger" in 0.13 now splits into two separate categories of classes that many are already familiar from log4j etc:
1. `Logger` that is responsible for generating log events, and
2. `Appender` that consumes those events.

From the point of view of the plugin (or tasks) it's not knowable whether _all_ of the terminal supports formatting or not because the idea behind sbt serve

[2017-08-04 14:53] rojanu opened #3404 "Unable to reparse SNAPHOTS"
We have an sbt project using 0.13.9 and works fine. However upgrading to any version larger than that gives warnings and intermittently fails to compile as sbt didn't download the jar file for snapshot dependencies.

Here is the output I get
[code]

[2017-08-04 17:02] joescii opened #3405 "Incorrect classpath precedence for scala-xml"
While working on [fixing a serialization bug in scala-xml](https://github.com/scala/scala-xml/pull/155), I have been able to convince myself that sbt 0.13.16 incorrectly places the project's scala-xml version per `libraryDependencies` AFTER the version of scala-xml that the scala compiler happens to pull in for sbt to use itself.

## steps
The high level procedure is you need to publish a local bu

[2017-08-05 03:03] eed3si9n commented on #3405
Thanks for the detailed reproduction steps.
I was able to reproduce it on my machine:

[code]

I thought maybe the classpath is somehow messed up, but `runtime:fullClasspath` seems to return something that looks ok:

[code]

Here's a related observation from `console`:

[code]

[2017-08-05 03:21] eed3si9n commented on #3392
To avoid adding `scalaVersion` at the project level by default, in #3356 I started appending `scalaVersion` at the project level only for _the current subproject_. In the hindsight I was walking into the situation like this whenever there's a plugin that depends on other subprojects.

We could try issuing `++2.x.y` inside `^^` command as fix.

[2017-08-05 03:44] eed3si9n commented on #3391
`new` is implemented as a command that is configurable via the `templateResolverInfos` setting key, so we need to load the current project.

When we know that we don't have any `build.sbt` or `project` directory, maybe there's some shortcut we can try to make to cut down the loading time.

I guess so.

sbt new just delegates to Giter8 here, so it's more of a question about Giter8 supporting this f

[2017-08-05 03:49] eed3si9n commented on #3390
[code]

The download completed in ~15s. We are still in the process of tuning this deployment up, so hopefully we'll see better stability over time.

[2017-08-05 03:49] #3390 closed, assigned to nobody

[2017-08-05 04:00] eed3si9n commented on #3389
Suppose sbt is working as expected, it should load

JvmPlugin, SamplePlugin, and then your build.sbt in the oder.

That would expand to:
1. `myPluginSettings(cond = true)`
2. `myPluginSettings(cond = false)`

That would expand to:

[code]

[2017-08-05 04:00] #3389 closed, assigned to nobody

[2017-08-05 07:07] jeffreyolchovy commented on #3392
@eed3si9n I had tried that, but unfortunately I ran into another issue which forced me to reinstate the `scalaVersion` on the subprojects. I am still trying to track down exactly what is the cause of this other issue, but it's something like:

[code]

When running `^compile` for projectB, I would get:
[code]

The way I worked around this was not using `dependsOn`, but just adding a `libraryDepende

[2017-08-05 07:42] zenglian commented on #3390
You'd test it from different areas ... also it's not cocl.us.

[2017-08-05 08:17] zenglian commented on #3390
here is one test tool:  https://www.dotcom-tools.com/website-speed-test.aspx,

my url: none is accesible (shanghai has error)
![image](https://user-images.githubusercontent.com/5268434/28994135-601316ba-79f9-11e7-883b-701a6f20147f.png)

[2017-08-05 12:38] godenji commented on #3389
Let's not suppose anything, the ordering is exactly the reverse:

1. myPluginSettings(cond = false)
2. myPluginSettings(cond = true)

[Illustrated here](https://github.com/godenji/sbt-autoplugin-double-load/blob/master/src/main/scala/org/example/sbt/SamplePlugin.scala#L12), the steps:

- Add an `AtomicBoolean` flag, `processed`, with default `false`
- Set `processed` to `true` within `myPluginSett

[2017-08-05 15:52] eed3si9n commented on #3389
The initialization of tasks I don't think is relevant to the semantics of build.sbt DSL.

At the project level, you can enable or disable an auto plugin.
Within a task, you can use dynamic task to use the result of another task or setting to branch your execution - http://www.scala-sbt.org/0.13/docs/Tasks.html#Dynamic+Computations+with
In general build.sbt DSL represents graph (http://www.scala-sb

[2017-08-05 16:10] #2812 closed, assigned to dwijnand

[2017-08-05 16:10] muuki88 commented on #3388
Thanks @eed3si9n :)

I found the responsible lines in native-packager that cause this regression:
https://github.com/sbt/sbt-native-packager/blob/master/src/main/scala/com/typesafe/sbt/packager/archetypes/JavaAppPackaging.scala#L103-L109

[code]

Both `dep.metadata` calls return `None` and the `dep.data.getName` is used as a fallback, which causes the failing tests. I'll take a deeper look on how

[2017-08-05 16:24] muuki88 commented on #3388
Turns out that the `module-id` key was renamed to `moduleID` which causes the for-comprehension to return `None`.

[2017-08-05 16:24] #3388 closed, assigned to nobody

[2017-08-05 16:31] godenji commented on #3389
Thanks, but we're aiming for keeping the plugin enabled while providing the user the ability to `compile` *without* invoking `myTask`. Disabling the plugin disables it entirely, so the user cannot manually invoke `myTask`.

I don't see how that helps resolve the problem of conditionally setting `compileInputs`. There doesn't appear to be a way to optionally set a setting, whether that happens at b

[2017-08-07 06:10] xerial commented on #2829
https://github.com/xerial/sbt-pack also depends on `BuildStructure` too.

[2017-08-07 06:12] xerial commented on #2829
@eed3si9n Is there any alternative way to recursively traverse project tasks?

[2017-08-07 06:51] eed3si9n commented on #2829
For the record, @xerial and I talked on Gitter channel.
For his use, I think we can just grab the list of all Projects first (`ReflectUtilities.allVals[Project](this).values.toList`), and then use `Extracted` to run tasks.

#3030

[2017-08-07 08:00] laughedelic commented on #3391
This would be wonderful.

OK, subscribed there 👍

[2017-08-07 08:11] xerial commented on #2829
So far this works for both 0.13.x and 1.0.0-RC3
[code]

[2017-08-07 09:05] olafurpg commented on #2879
@dwijnand That seems to be the API I am missing in 0.13, thanks.

For a 0.13 workaround, I recommend using coursier like @fommil links above.

[2017-08-07 09:05] #2879 closed, assigned to nobody

[2017-08-07 16:41] joescii commented on #3405
Yep, I had checked the `fullClasspath` as well before deciding this was an issue.

A few other interesting things I have found. [This issue](https://github.com/scala/scala-xml/issues/20) influenced how I set up my `libraryDependencies` to ensure my project explicitly used the version of scala-xml I wanted.

The scala-xml project itself gets _something_ right, but not sure what. It appears that its

[2017-08-07 19:18] spockz commented on #3256
@eed3si9n why does this still need a reproduction test case? The issue contains a test-case.

[2017-08-08 03:50] eed3si9n commented on #3256
@spockz Not sure. Maybe I edited the issue description later?

[2017-08-08 14:38] jvican opened #3410 "The maven pattern for sbt plugins is invalid based on the spec"
I've been in touch with the Bintray team because of https://github.com/sbt/sbt-bintray/pull/125.

It happens that the reason why sbt bintray does not accept the fix in the aforementioned PR is because **sbt has been using an incorrect Maven pattern for sbt plugins**. This is the reply I got from the Bintray team:

`[orgPath]/[module]/[baseRev](-[folderItegRev])/[module]-[baseRev](-[fileItegRev])(-

[2017-08-08 14:38] jvican commented on #3410
[This is the Maven Design Specification](https://cwiki.apache.org/confluence/display/MAVENOLD/Repository+Layout+-+Final).

[2017-08-08 14:43] eed3si9n commented on #3410
This is, to some degree an intentional design because Maven doesn't have the notion of extra attribute that we can use as resolution axis (i.e. same version, but different X, where X is `sbtVersion` etc). In practice it should not be a problem because the majority of the plugin ecosystem is on Ivy layout that we host.

[2017-08-08 14:47] jvican commented on #3410
This is not true. Lots of plugins publish to Sonatype, and there's no reason why sbt should force its ecosystem to live in a platform (Bintray) where at the moment you use too many resources you have to pay, and that has given us several problems in the past (remember when people were not able to fetch sbt two months ago during one week?).

To me, it seems this problem could have been solved if we

[2017-08-08 14:55] eed3si9n commented on #3410
Does that translate to correct `ivy.xml`?
What would the `name` say in https://oss.sonatype.org/content/repositories/public/com/lucidchart/sbt-scalafmt_2.12_1.0/1.10/sbt-scalafmt-1.10.pom?

[2017-08-08 15:00] jvican commented on #3410
Name would be still the same. My proposal is strictly compliant with the Maven design specification, so I expect it to be correct for pom files.

[2017-08-08 15:10] eed3si9n commented on #3410
I don't think we can fix this till sbt 2.x because the layout is built into https://github.com/sbt/sbt/blob/1.x/launch/src/main/input_resources/sbt/sbt.boot.properties and

[code]

so all plugins will need to support the old layout forever, which Bintray is going to reject (?).
Just to support resolution from Bintray's maven repo we'd have to add a new resolver, which I don't think we should requi

[2017-08-08 15:16] jvican commented on #3410
I'm trying to convince them to be permissive, but this is sad. It'd be reasonable for them to dismiss it.

We can add a maven style pattern that we use to resolve sbt plugins (in sbt-bintray, we will modify how plugins are published to maven repo by using the newly added pattern). The price to pay is that when something does not resolve with `mavenStylePattern`, it will need to try `correctMavenSt

[2017-08-08 15:20] eed3si9n commented on #3410
That is such a corner case usage since most ppl either directly publish to Sonatype, or use Ivy layout if it's Bintray.

[2017-08-08 15:24] jvican commented on #3410
If people do not want to publish to Central, they add their custom resolver.

If they do want to publish to Central, then there is no issue.

I don't agree this is a corner case usage. Lots of people have tried publishing to Maven repos (in Bintray) in the past, and the reason this hasn't worked was because of this bug. That's why they gave up and they now use sbt-sonatype, which has disadvantages

[2017-08-08 15:33] eed3si9n commented on #3410
Let's summarize:

1. Central - no problem
2. Ivy layout on personal Bintray or sbt community repo - no problem
3. Companies using Sonatype or Artifactory internally - no problem?
4. Maven layout on personal or corporate Bintray - add custom repo via sbt-bintray?

[2017-08-08 15:38] jvican commented on #3410
No, no problem.

*Problem*. My explanation for adding the custom repo via sbt-bintray only works when we publish sbt plugins under a valid maven pattern, which is currently not the case.

[2017-08-08 15:42] eed3si9n commented on #3410
Right. So publishing should be customized also with sbt-bintray for plugins with a big warning sign saying that all users would also need sbt-bintray (and thus not recommended for OSS) due to #3410.

[2017-08-08 15:47] jvican commented on #3410
I don't understand this solution. The solution I'm proposing is that we add a correct maven pattern. We use the newly added maven pattern for resolving sbt plugins, so that in case resolution fails the last option tries to resolve with the right pattern. These are the only two things that sbt needs to change.

In sbt-bintray land, just as sbt-sonatype and other publishing plugins, we make use of t

[2017-08-08 16:00] eed3si9n commented on #3410
If you're suggesting we add a _second_ Maven Central resolver, I am against it.

For all other personal or corporate Bintray usage, it doesn't need change in sbt.

[2017-08-08 16:13] jvican commented on #3410
If you're against it, it would be good to know *why*. This is a **bug** in sbt.

It does need change in sbt. The used maven pattern is **invalid**. It wouldn't be necessary if a good maven pattern had been used in the past. But this is not the case.

[2017-08-08 16:19] dwijnand opened #3411 "Find and drop 0.14.0 references"
@xuwei-k found one such reference at https://github.com/sbt/sbt/blob/v1.0.0-RC3/main-command/src/main/scala/sbt/BasicCommandStrings.scala#L184.

[2017-08-08 17:00] xerial opened #3412 "sbt-1.0.0-RC3 publish command produces malformed ivy XML"
## steps
- Checkout this branch: https://github.com/xerial/sbt-sql/pull/12
- Run `sbt publishLocal`
- cat -n ~/.ivy2/local/org.xerial.sbt/sbt-sql-base/scala_2.12/sbt_1.0/0.7-SNAPSHOT/ivys/ivy.xml
...

## problem
The generated Ivy XML file contains invalid `conf` element. This should have no child elements (should produce `<conf .... />` instead of `<conf ...> .... </conf>`:
[code]

When trying to

[2017-08-08 17:04] eed3si9n commented on #3410
I agree it's an unfortunate behavior on sbt's part, but the true fix requires sbt 2.x, and as far as the majority of the users are concerned, it's been working ok for 9 years.

Each resolver that gets added by default adds performance overhead to all of the users, in conjunction with dynamic revisions like -SNAPSHOT, so I want to be cautious about it. The only users who are affected is those who w

[2017-08-08 17:20] jvican commented on #3410
Yes, because people have worked around this issue for 9 years.

It's possible to add a resolver without affecting performance. Here's how I would do it:
1. Only add the resolver for sbt plugins or meta projects.
2. Only add the resolver at the end of the resolvers list, so that it's only tried out if the previous resolutions fail.

Re snapshot resolution, those are the semantics. Adding one more r

[2017-08-08 17:27] eed3si9n commented on #3412
I grabbed your branch but at first I was not able to compile because Coursier failed:

[code]

so I commented Coursier out,

[code]

and published local without it. Here's my ivy.xml:

[code]

Here's the compile-internal in question:

[code]

I am not sure if this is the problem with sbt or something else?

[2017-08-08 17:31] xerial commented on #3412
@eed3si9n Thanks for checking. I was using sbt-extra script https://github.com/xerial/sbt-sql/blob/master/sbt, but as you did, if I use brew-installed sbt command, the produced XML format ~seems valid~. (Sorry for the confusion. The produced XML was still invalid)

I'll update sbt script first.

[2017-08-08 17:45] xerial commented on #3412
After upgrading sbt-extras script, this problem is gone. Thanks for the help. I never imagined sbt scripts can cause such a problem.

[2017-08-08 17:45] #3412 closed, assigned to nobody

[2017-08-08 18:05] xerial commented on #3412
@eed3si9n FYI. After several attempts to reproduce this issue, I've figured it out it was actually caused by sbt-coursier plugin, which is supposed not to work with sbt-1.0 for now, but worked somehow in my environment. Removing this plugin resolves this malformed XML issue:
`// addSbtPlugin("io.get-coursier" % "sbt-coursier" % "1.0.0-RC9")`

[2017-08-08 20:18] Rich2 opened #3413 "repeat "~" command failing"
New project root folder.
Create HelloApp.scala file:
object HelloApp extends App {
	println("Hello 1.0")
}
set sbt.version=1.0.0-RC3 in .../project/build.properties
run sbt then "~ compile" or "~ run"

gives:

[code]

The commands work as expected (recompiling on saved file changes) in 0.13.16. This is running on Kubuntu 16.04, but yields similar output under windows 7.

sbt. version=1.0.0-RC3

[2017-08-08 20:45] sfergusonvolute opened #3414 "/usr/share/sbt/bin/sbt-launch-lib.bash: line 58: 405 Killed "$@" | subprocess installed post-installation script returned error exit status 137"
## steps

docker build --no-cache -t docker-play .

Dockerfile:

[code]

## problem
I had no problems using docker to build my containers on Monday, but today I receive this error:

[code]

## expectation
A successful unattended installation of sbt.

## notes

sbt version: 0.13.16

[2017-08-08 21:16] spockz commented on #3256
@eed3si9n Any idea if and when this is going to be picked up? Resolving our build without the cache takes ages and we really want to spot dependency divergence.

As a workaround  going to try to create an alias that first unsets the update option and then runs evicted.

[2017-08-09 01:37] eed3si9n commented on #3413
Ping @Duhemm

[2017-08-09 02:16] eed3si9n commented on #3256
Thus far, the team has been focusing on getting sbt 1.0 out, but now that it's close we might come around to picking this up. In terms of difficulty, it doesn't look too bad to raise error while resolving conflict.

Note to potential contributor, it's here:
https://github.com/sbt/librarymanagement/blob/1.x/ivy/src/main/scala/sbt/internal/librarymanagement/ivyint/CachedResolutionResolveEngine.scala

[2017-08-09 10:41] qayshp commented on #3392
I'm trying to get a simpler repro, but I seem to be hitting either this or something that looks similar with a Scala JS build.
Any dependsOn that I add also show up as unresolved until I do a publishLocal on the specific sub-project.

[2017-08-09 17:43] sfergusonvolute commented on #3414
In my Docker builds, I was able to do a work around to pull and install certain older versions of .deb files using a different technique, but whenever I get to the sbt update step of my process I still get an error.

[code]

Thankfully, my existing stand alone servers are not having issues when I run an sbt update. I am only having this issue with new builds/installs. (Same application code set.)

[2017-08-10 07:41] ywilkof commented on #2301
I've used assembly 0.14.1 with shading and exprienced a similar issue - random failure due to FileNotFoundException. I've upgraded to assembly 0.14.5 and the issue completely disappeared.

[2017-08-10 10:46] #3357 closed, assigned to dwijnand

[2017-08-10 12:00] ConstantTime commented on #2836
@liupu1106 You got a solution for this?
I am also having the same problem.

[2017-08-10 12:56] liupu1106 commented on #2836
what problem？

发自网易邮箱大师
On 08/10/2017 20:03, Rakshit Tiwari wrote:

@liupu1106 You got a solution for this?
I am also having the same problem.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.

[2017-08-10 15:44] dwijnand commented on #3379
+ [x] https://github.com/sbt/io/pull/71
+ [x] https://github.com/sbt/util/pull/118
+ [x] https://github.com/sbt/librarymanagement/pull/158
+ [ ] https://github.com/sbt/zinc/pull/392
+ [x] https://github.com/sbt/sbt/pull/3418

[2017-08-10 15:44] #3379 closed, assigned to dwijnand

[2017-08-10 16:02] mr-git opened #3419 "Add makeIvyXml"
We have not set publishing configuration, as we generate deliveries only, publishing in repo gets done by other means.

In 0.13.16 calling `deliver` generated `ivy.xml` file only, but in 1.0.0 it generates `ivy.xml` and tries to publish too, which fails.

[code]

Is it expected behaviour?

[2017-08-10 16:27] RidgeA commented on #2836
@ConstantTime some time ago i also faced with problems installing scala. During my searches I visited this page and subscribed on it.
I don't know (I don't remember), is it was the solution of this issue, but eventually I installed Oracle Java JDK instead of OpenJDK (I am using Fedora) and after that I was able to run scala and sbt. I hope it helps in your case.

[2017-08-10 16:59] xuwei-k commented on #3299
another example (sbt 1.0.0 final)

[code]

[code]

[2017-08-10 17:04] gammabowl opened #3420 "Is there a Scala-Java-SBT official docker image ?"
## steps
* Checked docker hub, didn't find any official docker images

## problem
* I was trying to search for official docker images for scala/java with sbt
* I was mainly interested in Scala with SBT official docker images

## notes
* It would be great to have official images.

[2017-08-10 17:07] jvican commented on #3299
I'm looking into this.

[2017-08-10 17:41] mr-git commented on #3419
`deliverLocal` seems to generate `ivy.xml` without attempting to publish it, but the content is abit different, than in one generated by 0.13.16 + `deliver`

[2017-08-10 18:34] jvican commented on #3299
@xuwei-k I cannot reproduce locally. I'm trying with https://github.com/sbt/sbt/pull/3421.

[2017-08-10 18:38] mr-git opened #3422 "Cross compilation 2.11.11 and 2.12.3 with SBT 1.0.0"
[code]

Doesn't work any more after changing from 0.13.16 to 1.0.0 in `build.properties`. Error log:

[code]

In addition, we have alias added to project, like:
[code]

Which we used to make cross compilation by lauching `SBT +build` - returns error too:
[code]

Is this a bug or is there some other way how to execute cross-compilation in SBT 1.0.0?

[2017-08-10 18:39] jvican commented on #3299
CI cannot reproduce either. Compilation succeeds, meaning that no error is displayed. https://travis-ci.org/sbt/sbt/jobs/263208933 Close if this is an error on your end.

[2017-08-10 18:46] eed3si9n commented on #3420
sbt project does not currently maintain any Docker image. What were you planning to do with it? I see that people make Docker images of their apps using sbt-docker or sbt-native-packager, but are you planning to develop inside a container?

[2017-08-10 18:49] eed3si9n commented on #3422
Seems like an error on the new `+` implementation.

[2017-08-10 18:55] eed3si9n commented on #3419
`deliver` blowing up is not an expected behavior, but there's a know issue (https://github.com/sbt/sbt/issues/2088#issuecomment-246208872) around the ordering of publishing ivy.xml, so I was thinking about eventually decommissioning the task, and fold it into `publish`.

[2017-08-10 19:06] gammabowl commented on #3420
Thanks for the quick reply.
Yes, we develop scala based apps and we usually make them run inside a docker container. Right now we take a base amazonlinux image and load java, scala and sbt onto it and other required stuff. something like this

[code]

[2017-08-10 20:45] xuwei-k commented on #3299
- https://github.com/xuwei-k/sbt-3299/commit/8327f796392a6e73859392ae27d7b451af7c8da3
- https://travis-ci.org/xuwei-k/sbt-3299/builds/263253265#L395

[2017-08-10 20:52] jvican commented on #3299
Must be an error publishing. I've even cherry-picked my commit on the published v1.0.0 tag and cannot reproduce.

[2017-08-10 20:59] dwijnand commented on #3422
`+` not accepting commands or aliases is known and correct. See https://github.com/sbt/sbt/issues/2776.

Not a bug, imho. But we should see if there are better ways to communicate the error to the user.

[2017-08-11 02:47] zenglian opened #3423 "stuck at “Getting org.scala-sbt sbt ...""
Please google "stuck at “Getting org.scala-sbt sbt ..."" to see the problem. This is an old issue. It's widely complained.

Current CDN is fast in US and many other regions but not the case for some other regions...extremely slow or inaccessible at all for them.

I'm not quite sure which CDN is the best, but for me most sites' downloading speed is normal except sbt. Please try some free online too

[2017-08-11 02:52] eed3si9n commented on #3423
Which version of sbt, package, and OS are we talking about here?
If it's Debian or RPM, it's because the installer hits Maven Central.

[2017-08-11 03:15] zenglian commented on #3423
The problem is actually with **region** (and maybe ISP), not related to version and OS (thus with all versions and OSes...).
My region is mainland China.
I set some local mirror (aliyun) in `repositories` file, but seems it's not respected for some packages.

[2017-08-11 03:21] eed3si9n commented on #3423
There are many parameters that the version does affect.

### offline installer (0.13.15+)

Because starting sbt 0.13.15 some installers contain all the JAR files in the zip. Then it's just the matter of having the zip file close enough to mainland China.

### Maven Central vs repo.scala-sbt.org

Another major difference between 0.13.x and 1.x is that 0.13.x was serving artifacts that goes through

[2017-08-11 03:46] zenglian commented on #3423
All I tried is 0.13.x. I did not know there 1.x yet.  On http://www.scala-sbt.org/, the latest it 0.13.16.

[2017-08-11 07:02] mr-git commented on #3419
hm.. I do not want to `publish` as it involves uploading to some repo. I want to generate the `ivy.xml` file only. In my head `makePom` and `deliver` (which I would name `makeIvyXml`) have same objective: generate artefact descriptor for Maven or Ivy respectively.

[2017-08-11 07:16] mr-git commented on #3422
so.. there is no real way to make cross-building any more?
Please suggest the "correct" way to make cross-compilation that would be analog to having alias `build` with tasks/commands `all test packagedArtifacts` and calling `+build`.

With 0.13.16 it is possible to execute several tasks in parallel by using `all` - this significantly speeds up compilation, testing and packaging in big multi-module

[2017-08-11 07:32] mr-git commented on #3422
`sbt "; ++2.12.3; build; ++2.11.11; build"` - doesn't look nice...
At least I can hide this behind ugly alias, like:
[code]
And call `sbt cross-build`...
Is this the new way? At least on http://www.scala-sbt.org/1.0/docs/Cross-Build.html I didn't find any better suggestion :(

[2017-08-11 12:53] pjfanning opened #3424 "sbt-launch 1.0.0 jar"
Is there a plan to release an sbt-launch jar for 1.0.0?
The Apache Spark build fetches the launch jars from https://dl.bintray.com/typesafe/ivy-releases/org.scala-sbt/sbt-launch/

[2017-08-11 13:55] eed3si9n commented on #3424
We switched to Maven Central - https://repo1.maven.org/maven2/org/scala-sbt/sbt-launch/1.0.0/

I guess we should include that in release note.

[2017-08-11 13:57] #3424 closed, assigned to nobody

[2017-08-11 14:00] eed3si9n commented on #3423
sbt 1.0.0 is released today 😄
try it out and see if your situation improves  - http://developer.lightbend.com/blog/2017-08-11-sbt-1-0-0/

[2017-08-11 16:08] yurique commented on #3243
I'm sorry for bothering anyone seeing this again, but this one is bad. Today `apt upgrade` updated the sbt package without me noticing it.

I started getting `java.lang.OutOfMemoryError: Metaspace` when running tests - walked through a dozen of files to see where I might have broken thingst. And it turned out that the `/usr/share/sbt/conf/sbtopts` was silently replaced by the default one from the

[2017-08-11 18:03] alonsodomin commented on #3393
this exact same problem can be observed in the recently released SBT 1.0.0, preventing cross compiling plugins that depend on other plugins (the exact same workaround suggested here fixes the error).

Could be this ported to SBT 1.0.1?

[2017-08-11 21:48] gammabowl commented on #3420
@eed3si9n - Is there is any plan for SBT or Scala repository to maintain Docker images ?

[2017-08-11 21:51] eed3si9n commented on #3420
We don't have an active plan for it for now.

[2017-08-11 22:48] #3420 closed, assigned to nobody

[2017-08-11 23:20] jodersky opened #3425 "Project runtime dependencies are not available"
## steps
Define two projects, one with a runtime dependency on the other

[code]
## problem
Any resources produced by project 1 are not available on the classpath when running project 2.

## expectation
All classes and resources produced by project 1 should be available to project 2 during runtime

## notes
This is a regression in sbt 1. The expected behaviour was available in sbt 0.13

sbt versio

[2017-08-12 02:21] jodersky commented on #3425
Maybe this could help identify the issue:

Inspecting the `run` task in sbt 0.13 gives me the following dependency:
[code]
whereas in sbt 1.0, I get
[code]

[2017-08-12 02:23] eed3si9n commented on #3425
That sounds like a bug. Thanks for the report!

[2017-08-12 05:52] xuwei-k opened #3427 ""sbt '++ 2.13.0-M2!' compile" does not work with sbt 1.0.0"
## steps

- https://github.com/xuwei-k/sbt-1-cross-bug
- https://travis-ci.org/xuwei-k/sbt-1-cross-bug/builds/263752411

project/build.properties

[code]

build.sbt

[code]

Foo.scala

[code]

execute `sbt '++ 2.13.0-M2!' compile`

## problem

[code]

## expectation

compile success

## notes

sbt version: 1.0.0

[2017-08-12 06:14] xuwei-k commented on #3427
Note: sbt 0.13.16 with Scala 2.13.0-M2 works because sbt 0.13.16's ConsoleInterface does not use ILoop
https://github.com/sbt/sbt/blob/v0.13.16/compile/interface/src/main/scala/xsbt/ConsoleInterface.scala

[2017-08-13 00:09] jodersky commented on #3425
In case someone else runs into this, I have a super hacky workaround for now: https://github.com/jodersky/sbt-jni/blob/10b2564b49da87d7567024a27365edf2706bce1c/plugin/src/main/scala/ch/jodersky/sbt/jni/plugins/RunDependencyFixPlugin.scala

[2017-08-13 07:34] ysden123 opened #3429 "sbtVersion"
(See the guidelines for contributing, linked above)

## steps
run: sbt sbtVersion

## problem
Console output: [info] 0.13.15

## expectation
[info] 1.0.0

## notes

sbt version: *insert sbt version*

[2017-08-13 07:41] eed3si9n commented on #3429
1. What gets printed when you run `sbt about` in a completely empty directory?
2. Do you have `project/build.properties` for your current build?

[2017-08-13 07:44] eed3si9n commented on #3429
Here's my output running `sbt sbtVersion` in fresh `/tmp/what`:

[code]

[2017-08-13 07:55] ysden123 commented on #3429
1. What gets printed when you run sbt about in a completely empty directory?
sbt about:
"C:\Users\yuriys\.sbt\preloaded\org.scala-sbt\sbt\"1.0.0"\jars\sbt.jar"
[warn] Executing in batch mode.
[warn]   For better performance, hit [ENTER] to switch to interactive mode, or
[warn]   consider launching sbt without any commands, or explicitly passing 'shell'
[info] Loading project definition from C:\Use

[2017-08-13 07:58] ysden123 commented on #3429
Fixed. It was my fault.

[2017-08-13 07:58] #3429 closed, assigned to nobody

[2017-08-13 07:58] eed3si9n commented on #3429
ok. So I somehow messed up the Windows installer, which has happened before too:

- https://github.com/sbt/sbt/issues/2181
- https://github.com/sbt/sbt/issues/2473

[2017-08-13 07:59] eed3si9n commented on #3429
ok.

[2017-08-13 09:23] singhalkanika198 commented on #896
Resolving jline#jline;2.11 ...
I am getting this error and it is being paused here for about an hour...

[2017-08-13 13:53] olafurpg opened #3430 "Inconsistent setting deduplication between sbt 1.0 and 0.13"
## steps

[code]

The key setup is the following line in build.sbt
[code]
The `Duplicate` plugin's projectSettings are `s`, duplicating the `.settings(Duplicate.s:_)` expression.

## problem

sbt 1.0 prints "MANAGED SOURCES" twice while sbt 0.13 prints it once.

## expectation

I expected sbt 1.0 to print it out once like it did in sbt 0.13

## notes

Discovered while porting sbt-scalatex to 1.0 h

[2017-08-13 13:56] olafurpg commented on #3430
I don't really think this is a bug since I think the sbt 1.0 behavior is saner. Adding a mention in the migration guide would be enough to close this ticket.

[2017-08-13 16:55] olafurpg opened #3431 "Missing filename from "java.io.IOException: destination file exists and overwrite == false" in sbt 1.0"
## steps
[code]

## problem

The exception doesn't include the filename of the destination file.

## expectation

I expected the full path of the culprit file to appear in the exception message.

## notes

The build is using sbt 1.0.0

[2017-08-13 19:18] olafurpg commented on #3431
Culprit line seems to be https://github.com/sbt/librarymanagement/blob/e91e5c9e77f8850bd1f0689045d43d296ef8d66d/ivy/src/main/scala/sbt/internal/librarymanagement/ConvertResolver.scala#L370

[2017-08-13 19:41] joan38 commented on #3393
Is there a PR for this or a commit?
Which version are we targeting?

[2017-08-13 19:44] eed3si9n commented on #3393
Fix was merged to 0.13 branch - https://github.com/sbt/sbt/pull/3397
Still needs forward porting to 1.x branch

[2017-08-13 19:46] olafurpg commented on #3431
Interestingly, the error happens even if I remove ~/.ivy/local, target and ~/.m2. I have no idea where this duplicate file exists.

[2017-08-13 20:07] eed3si9n commented on #3431
Do you have any files in the Sonatype Staging repo?

[2017-08-14 01:46] cuzfrog opened #3432 "`updateSbtClassifiers` tried wrong bintray doc and src address."
(See the guidelines for contributing, linked above)

## steps
Use IDEA refresh project via sbt-shell with "Download sbt and plugin src and doc" checked.

## problem
IDEA executed `updateSbtClassifiers` and failed to download src and doc because of wrong uri:
[code]

and it did not try
[code]
## notes

use `reload plugins` then `updateClassifiers` worked around this.

sbt version: *1.0.0*

[2017-08-14 07:22] olafurpg commented on #3431
Good question, that sounds likely. Should overwrite be true if that's the case? It's kind of annoying to have to drop, open, and re-publishSigned all cross-built projects (~70 artifacts in scalameta/scalameta) in case Maven validation fails for a single artifact (e.g., missing javadoc).

In my limited time with sbt 1.0, I've found the overwrite = false change to be quite painful for local developm

[2017-08-14 09:02] dwijnand opened #3435 "Forward port #3397 fix addSbtPlugin to use the correct version of sbt"
https://github.com/sbt/sbt/pull/3397

[2017-08-14 09:34] dwijnand commented on #3425
I'm also seeing weird classpath changes upgrading to 0.13.16 in https://github.com/sbt/sbt/pull/3408. Maybe the same issue?

[2017-08-14 09:53] olafurpg opened #3436 "[sbt 0.13] Feature request: SettingKey to check if project is metabuild"
## steps
I'm writing a plugin that edits metabuilds like here

[code]

## problem

the `isMetabuild` heuristic seems flaky.

## expectation

I expected sbt to provide a more standard way to check from within a settingkey if a project is a metabuild.

## notes

I tried `Project.inPluginProject` but that does not work since it depends on `state.value` which is a taskKey.
sbt version: 0.13.16. I'm wr

[2017-08-14 11:40] jastice opened #3437 "`reboot` command shows error "server failed to start""
(See the guidelines for contributing, linked above)

## steps

1. start sbt in a sbt 1.0 project
2. enter `reboot` command

## problem

Shell shows error message:
[code]
## notes

I haven't tested if the server still works after this

sbt version: 1.0

[2017-08-14 15:04] wsargent opened #3441 "[doc] Cross Build Plugins needs to cover scripted-plugin and crossSbtVersions"
## steps

Have a plugin that needs upgrading: https://github.com/playframework/interplay/blob/master/build.sbt

Read through http://www.scala-sbt.org/1.0/docs/Cross-Build-Plugins.html

Upgrade to 0.13.16 to cross build code for sbt 0.13.x / 1.0.0

## problem

sbt-scripted does not work and gives the following error message:

[code]

This can be fixed by changing sbt-scripted to use crossbuild:

ht

[2017-08-14 16:36] jrudolph commented on #3299
This still happens with 1.0.0:

[code]

[2017-08-14 17:06] jastice opened #3443 "conditional global plugins sticky after failed project load"
This may seem weird, but it's a real issue IntelliJ users sometimes run into because of how we currently load plugins to the shell.

## steps

1. add a global plugin loading conditional on property:
[code]
2. start an sbt session for a project with the plugin enabled:
[code]
3. Close the session. In the `project/plugins.sbt`, add anything produsing a compile error:
[code]
4. start an sbt session w

[2017-08-14 18:34] mr-git commented on #3422
Could you please provide some sample how to use `Def.sequential` to run cross-compilation?
I do not understand how to do that from https://github.com/sbt/sbt/issues/2776#issuecomment-311627935

[2017-08-14 21:05] jeffwilde commented on #2517
Since this page pops-up for google searches of "sbt 1.0 migration", it's worth noting that [the completed guide is available](http://www.scala-sbt.org/1.x/docs/Migrating-from-sbt-013x.html) and that this issue should probably be closed.

[2017-08-14 21:20] eed3si9n commented on #2517
Yea. Let's close this up.

[2017-08-14 21:20] #2517 closed, assigned to nobody

[2017-08-14 23:34] eed3si9n commented on #2776
I love my doge, and I stand by it as a superior behavior compared to 0.13's `+`, but I have to own up to the fact that it occasionally bites people, at least when they try to composed it with commands -- something ppl do often for release. I am reopening this with Documentation tag.

To be closed when the release note is updated.

[2017-08-14 23:41] eed3si9n commented on #3422
It was a design tradeoff (partial cross building using crossScalaVersions vs support for commands), but it's a breaking change.

If you want `all test packagedArtifacts` behavior (run both of those in parallel), the default composition for tasks should work.

[code]

[2017-08-14 23:54] eed3si9n commented on #3419
If I understand correctly, `deliver` task (which originally comes from Ivy) not only generates the `ivy.xml` but it actually send the file to the repository. Thus, it is named deliver. This is something I don't want to happen, because I won't have the control over the timing. See [deliver](http://ant.apache.org/ivy/history/2.3.0/use/deliver.html) for more detail.

We can try to provide `makeIvyXml

[2017-08-15 00:05] jroper opened #3444 "Allow setting a default sbt plugin version"
sbt cross building should allow setting a default sbt plugin version other than the current version of sbt. This is particularly useful when importing into IDEs, as it will allow you to import a sbt 0.13 build using an sbt 1.0 classpath for the plugin, so that you can actually work on upgrading.

Currently you can do that by adding this to your `build.sbt`:

[code]

However, you can't leave it in

[2017-08-15 00:13] eed3si9n commented on #3444
So you want something like `sbtVersion in pluginCrossBuild`, but explicitly weaker than `sbtVersion in pluginCrossBuild` so `^^0.13.16` still works?

[2017-08-15 00:17] jroper commented on #3444
Yes, but note that I don't think it has to be weaker, what seems to be the problem here is just a matter of ordering of settings.  Unless it's a matter of scopes... I wonder if the following works:

[code]

[2017-08-15 02:34] jroper commented on #3444
`in ThisBuild` makes no difference.

[2017-08-15 03:19] robby-phd opened #3445 "[sbt 1.0.0] NullPointerException from sbt.internal.util.StringTypeTag$.typeToString(StringTypeTag.scala:27)"
## steps

1. ``git clone -b master --recursive https://github.com/sireum/v3`` (commit: [0aff5d3](https://github.com/sireum/v3/tree/0aff5d38d3706634faa7043da9e3a4d43fe63b9f))

2. patch:

[code]

3. run: ``v3/bin/sbt-launch.sh test``

## problem

[code]

## expectation

Successful build (like on [0.13.16](https://ci.appveyor.com/project/robby-phd/v3/build/1.0.248)).

## notes

sbt version: 1.0.0

[2017-08-15 04:48] jroper commented on #2776
Maybe we could implement something such that the new cross compilation can detect whether a command or a task is being run (or maybe try a task first then fall back to command), and if it's a task, then just implement the old behaviour, changing the scala version at the build level. We could even do some validation in there, so if it is running a command, but it finds that different sub projects h

[2017-08-15 04:57] jroper commented on #2776
Also, at a minimum, we can definitely improve the error reporting here.

[2017-08-15 06:11] mr-git commented on #3419
So, does this means that Ivy changed its functionality between SBT 0.13.16 and 1.0.0 versions? Because in 0.13.16 `deliver` was only generating Ivy xml.

https://github.com/sbt/sbt/blob/6ea9dab99ec19f35f5635122e26d1fd3b06bba4a/main/src/main/scala/sbt/Keys.scala#L371 - here it says that is only generates, but doesn't mention that it wants to publish too.

[2017-08-15 06:40] mr-git commented on #3419
@eed3si9n, it is very interesting to read `deliver and publish` section in [deliver](http://ant.apache.org/ivy/history/2.3.0/use/deliver.html) :)

[2017-08-15 06:42] retronym opened #3447 "Performance: consider use of "maximal sharing" pattern to reduce memory usage, operation time of key system"
When profiling SBT, I noticed that a non-negligible amount of time was spent in URI equality, as part of `AttributeKey` equality. It might be worthwhile to intern these sort of object (aka hash-consing, aka maximally-sharing). The trade off is a higher cost of creation, for lower memory usage and faster subsequent comparison (you can just use reference equality).

I started with an experiment down

[2017-08-15 06:45] eed3si9n commented on #3419
Both sbt 1.0 and 0.13.16 use Ivy.

Deliver doc http://ant.apache.org/ivy/history/2.3.0/use/deliver.html says:

It depends on the status. And here is how we set the status:

[code]

[2017-08-15 07:40] mr-git commented on #3419
`isSnapshot` is `false` for both SBT versions, as expected.

[code]

Strange, the above code is from SBT 0.13.16 (`Defaults.scala:1284..1285`)... but there are no such lines in 1.0.0 code... Am I looking in wrong place?

https://github.com/sbt/sbt/search?utf8=%E2%9C%93&q=deliverConfiguration&type= - empty
https://github.com/sbt/sbt/search?utf8=%E2%9C%93&q=deliverLocalConfiguration&type= - empty

[2017-08-15 07:43] eed3si9n commented on #3419
It's folded in here: https://github.com/sbt/sbt/blob/v1.0.0/main/src/main/scala/sbt/Defaults.scala#L1882-L1894

[2017-08-15 07:46] mr-git commented on #3419
https://github.com/sbt/sbt/commit/347914191a8af2f2ad53abbb120fb4144122380b - here the keys `deliverConfiguration` and `deliverLocalConfiguration` were removed and in Defaults.scala they were replaced with `publishConfiguration` - very nice, indeed...:
[code]

Now, could you please provide the hint on how to disable publishing or replace the publishing destination to some fake one in `target`?

[2017-08-15 07:53] mr-git commented on #3419
Ivy separates `deliver` and `publish` tasks, but why SBT decides to merge them both in `publish`?

[2017-08-15 08:01] eed3si9n commented on #3419
It's because we want to eventually control the precise timing on when deliver is called.
See https://github.com/sbt/sbt/issues/2088#issuecomment-246208872

[2017-08-15 08:32] dwijnand commented on #3444
I've been setting `sbtVersion in Global` so that I may use the latest version of sbt for the build but allow my plugin to be used with earlier versions:

https://github.com/dwijnand/sbt-travisci/blob/c3314e93bef919d47315301c7191e40ef94bd5d3/build.sbt#L13

[2017-08-15 09:03] mr-git commented on #3422
ok, this workaround works

[2017-08-15 09:03] #3422 closed, assigned to nobody

[2017-08-15 09:13] mr-git commented on #3419
Ok, found workaround... `publishTo := Some(Resolver.file("file",  file("hack-sbt")))`
sadly, `publishTo := None` produces same exception: `Repository for publishing is not specified.`

But produced `ivy.xml` file contains a lot of lines that are meant for local delivery, not for public one.

Diff includes lines like:
[code]

These are produced by 0.13.16 too, when calling `deliverLocal`

[2017-08-15 09:21] dwijnand commented on #3445
Duplicate of https://github.com/sbt/util/issues/119.

[2017-08-15 09:21] #3445 closed, assigned to nobody

[2017-08-15 09:55] Debilski opened #3448 "Debian package runs /usr/share/sbt/bin/sbt about in postinst and hangs"
(See the guidelines for contributing, linked above)

## steps

Follow the instructions to add the sbt repo to Debian.

    $ apt install sbt
    […]
    Setting up sbt (1.0.0) ...
    Creating system group: sbt
    Creating system user: sbt in sbt with sbt daemon-user and shell /bin/false
    Getting org.scala-sbt sbt 1.0.0 ...
    Progress: [ 66%] [################################################

[2017-08-15 11:53] jrudolph commented on #3299
A cursory try to locate the issue turned out that `qual.sym.info` is of type `=> SettingKey` in the false positive case which is not `<:< SettingKey[_]`. So far, I couldn't reproduce it in the test file, maybe it's somehow related to where the key is defined exactly or it has something to do with separate compilation.

[2017-08-15 11:57] mr-git commented on #3419
tried to use that generated `ivy.xml` - it fails miserably

[2017-08-15 12:03] mr-git commented on #3419
Will wait for 1.0.1 with clean `makeIvyXml`.

[2017-08-15 12:07] Duhemm commented on #3299
Thanks for the repro @jrudolph, I'll look into that soon.

[2017-08-15 15:13] amanjpro opened #3449 "SBT 1.0.0 is missing in `ivy-releases`"
I am accessing sbt behind proxy, and I wanted to upgrade to sbt 1.0.0, however the resolution of the sbt itself failed.

For setting up my proxy, I followed this page:
http://www.scala-sbt.org/1.0/docs/Proxy-Repositories.html

And when looking at (what I think) the right repo, I cannot see sbt 1.0.0:
http://dl.bintray.com/typesafe/ivy-releases/org.scala-sbt/sbt/

[2017-08-15 15:26] dwijnand commented on #3449
sbt 1+ is released on Maven Central: http://repo1.maven.org/maven2/org/scala-sbt/sbt/1.0.0/

[2017-08-15 15:26] #3449 closed, assigned to nobody

[2017-08-15 15:39] amanjpro commented on #3449
Mmm, then how can sbt resolve it if it is running behind the proxy?

[2017-08-15 16:09] dwijnand commented on #3449
Make sure that your proxy repository is configured for Maven Central.

[2017-08-15 17:09] amanjpro commented on #3449
It is, and it still fails

I have added maven central as mvn-releases proxy though, maybe that is why sbt fails.

[code]

[2017-08-15 17:11] devshorts commented on #1868
I'm intermittently seeing this in sbt 0.13.13. Were there fixes to this in .15/.16 that are worth trying?  I'm seeing that _sometimes_ a library isn't visible to the compilation stage when its code is referenced in an integration test in the `it` folder.  Adding the dependency explicity to `it` does make it work.

I checked the visible dependencies in sbt for the config via
[code]
and compared to

[2017-08-15 17:26] eed3si9n commented on #3422
Also it looks like we'll support cross building with command soon since @jroper has provided a fix here - https://github.com/sbt/sbt/pull/3446

[2017-08-15 17:54] mr-git commented on #3422
Nice!

[2017-08-15 19:26] amanjpro commented on #3449
See how the pom is found, but somehow SBT fails to resolve the jar:

[code]

And by following the path, I can clearly see the jar

[2017-08-15 20:20] amanjpro commented on #3449
So, the issue is with the credentials. Apparently the 0.13 way for providing credentials is not sufficient. In 0.13 I had:
`credentials += Credentials(Path.userHome / ".sbt" / ".credentials")` in `~/.sbt/0.13/plugins/credentials.sbt`

But sbt 1.0.0 wasn't able to read the same line from: `~/.sbt/1.0/plugins/credentials.sbt`

I had to call sbt with: `export SBT_CREDENTIALS=~/.sbt/.credentails; sbt

[2017-08-15 20:25] ashawley commented on #3405
Issue in the scala compiler is scala/scala-dev#291

[2017-08-15 21:21] wsargent opened #3451 "sbt plugin resolvers not engaged in homebrew sbt 1.0"
## steps

Create a project with the following in `project/plugins.sbt`:

[code]

and run using homebrew sbt with JDK:

[code]

Results in the resolver not being found:

[code]

I know this is an sbt bug, because if I run it with Intellij IDEA's community build 2017.2 EAP, by choosing import project and selecting "SBT shell", it DOES import it just fine.

output from fullResolvers does not show it

[2017-08-15 21:25] eed3si9n commented on #3451
/cc @dwijnand

[2017-08-16 04:21] eed3si9n opened #3452 "HEAD is broken on 1.x branch?"
## steps

1. Will sent in PR for a typo change - https://github.com/sbt/sbt/pull/3450

## problem

The build fails - https://travis-ci.org/sbt/sbt/builds/264907233

- project / scripted13
- source-dependencies / repeated-parameters
- tests / fork-test-group-parallel

## expectation

HEAD passes

[2017-08-16 04:52] eed3si9n commented on #3452
`scripted project/scripted13`, `source-dependencies/repeated-parameters`, and `tests/fork-test-group-parallel` works fine locally.

[2017-08-16 05:23] #3448 closed, assigned to nobody

[2017-08-16 05:24] eed3si9n commented on #3448
Released 1.0.0.1.

[2017-08-16 06:26] justinrmiller opened #3453 "Issue with text echo in Terminal (bash) after running sbt in 1.0.0"
## steps
[code]
## problem

After running the sbt command line tool, console keyboard echo output appears to stop working.

## expectation

After running sbt, I expect keyboard echo to still work without having to do "reset".

## notes

sbt version: 1.0.0

[2017-08-16 08:11] olafurpg opened #3454 "Tuple enrichments are deprecated in 0.13 but not in 1.0"
## steps

- 0.13: https://github.com/sbt/sbt/blob/96ddc33a3e5ecc36ee34a2f032e307501390f4d8/main/settings/src/main/scala/sbt/Structure.scala#L295
- 1.0: https://github.com/sbt/sbt/blob/037559c8d3f1aee3db95c63650ef8cfd265b28fb/main-settings/src/main/scala/sbt/Structure.scala#L570

## problem

Code that uses tuple enrichments in 0.13 compiles with deprecation warnings while it compiles clean in 1.0.

[2017-08-16 08:12] ktoso commented on #3036
I'm working on it FYI @retronym @dwijnand @eed3si9n
Starting as a plugin: https://github.com/sbt/sbt-multi-release-jar

I hope to have it complete by the end of this week. Fingers crossed there won't be any roadblocks to uncover.

[2017-08-16 11:46] liff commented on #3453
This also happens if running non-interactively, like `sbt compile`.

[2017-08-16 13:14] dwijnand commented on #3449
I'm surprised you say that `~/.sbt/0.13/plugins/credentials.sbt` works, because it should be `~/.sbt/0.13/credentials.sbt`, which for sbt 1 is `~/.sbt/1.0/credentials.sbt`. Does that fix it?

[2017-08-16 13:15] dwijnand commented on #3453
As a stop gap you might want to upgrade to the latest sbt-extras, which just worked around this issue: https://github.com/paulp/sbt-extras/pull/200.

[2017-08-16 13:19] dwijnand commented on #3454
One distinction that is omitted is that in 1.0 they're not deprecated, but they're opt-in: https://github.com/sbt/sbt/pull/3291

[2017-08-16 13:38] olafurpg commented on #3454
Fair enough. Is it possible to import `TupleSyntax` in 0.13? The deprecation warnings should in either case be updated to reflect this change.

[2017-08-16 13:59] dwijnand commented on #3454
Agreed.

I'm not sure if it's possible simultaneously:
+ keep tuple syntax is deprecated without the import,
+ make it non-deprecated with the import, and
+ maintain backwards compatibility

[2017-08-16 14:14] amanjpro commented on #3449
Yup, putting `credentials.sbt` directly under `1.0` works. Maybe another thing to add to the migration notes?

[2017-08-16 14:25] dwijnand commented on #3449
Nothing changed here. If you go to an sbt 0.13 build and use `inspect credentials` you should see where you're getting them. For example mine:

[code]

[2017-08-16 14:27] olafurpg commented on #3454
I see. How about we remove the deprecation warnings as in #3455  and add a mention to TupleSyntax in the migration guide? There are other breaking changes in 1.0 that did not get deprecation cycles. False deprecation warnings create unnecessary fear to upgrade to 1.0. Some builds use tuple enrichments a lot.

[2017-08-16 14:35] dwijnand commented on #3454
In sbtfix are you "fixing" it by importing TupleSyntax?

[2017-08-16 14:45] olafurpg commented on #3454
I haven't handled tuple enrichments yet, but that is what I had in mind yes.

[2017-08-16 15:00] dwijnand commented on #3454
Reason I asked is because I'd prefer if we fixed people's builds/plugins by moving to `.value` instead..

[2017-08-16 16:50] estk commented on #2829
@fommil ^^^ I think @xerial 's solution should unblock https://github.com/ensime/ensime-sbt/issues/237 no?

[2017-08-16 17:50] fommil commented on #2829
we are using tasks now, so we might not have a problem. We do `Project.extract(s).structure` for sure

[2017-08-16 18:07] yawaramin opened #3457 "Code references to 0.14.0 outdated?"
Since sbt is moving to version 1 from 0.13, these references should be updated:

* https://github.com/sbt/sbt/blob/31ac8c940cfdfdf2fe984b61ff0f36ad1a58cd83/main/src/main/scala/sbt/internal/PluginDiscovery.scala#L61
* https://github.com/sbt/sbt/blob/31ac8c940cfdfdf2fe984b61ff0f36ad1a58cd83/main-command/src/main/scala/sbt/BasicCommandStrings.scala#L184
* https://github.com/sbt/sbt/blob/31ac8c940cfdf