[2016-03-03 21:51] fommil commented on #2496
the good news is that there are more `toLoader` methods than users.

[code]

[2016-03-03 22:00] fommil commented on #2496
I have appveyor running off my branch https://ci.appveyor.com/project/fommil/sbt

[2016-03-03 22:22] fommil commented on #2496
how can I turn off this error temporarily for this one test? It's never going to pass on JDK6

[code]

[2016-03-03 22:32] fommil commented on #2496
I have a hack.

[2016-03-04 06:03] eed3si9n commented on #2496
@fommil remove `Release.javaVersionCheckSettings` from https://github.com/sbt/sbt/blob/0.13/build.sbt#L36

[2016-03-04 06:46] fommil commented on #2496
Thanks, but we'll need a repeatable test. I've got it listening to an envvar.

[2016-03-04 10:30] Duhemm commented on #2497
Reverting commit 49431eb6f8a990e85f24a779d552249e6194e181 fixes the issue... But this commit fixes another, bigger issue: #2411.

See #2418

[2016-03-04 11:20] adriaanm commented on #2497
Could it be because we're looking at erased types? Normally, varargs erase
to Seq, but maybe somehow some wires got crossed?

scala> :power
scala> class C { def foo(x: String*) = ??? }
scala> transformedType(typeOf[C].nonPrivateMember(TermName("foo")).info)
(x: Seq)Nothing

On Fri, Mar 4, 2016 at 11:30 AM, Martin Duhem notifications@github.com
wrote:

[2016-03-04 15:20] darkfrog26 commented on #2389
With sbt-server would it be possible to support multiple Scala versions simultaneously and have them encapsulated in their own JVM instance or in a separate classloader?  It would allow support for all the latest versions of Scala without compromising older plugins.

[2016-03-04 23:38] fommil commented on #2496
got a repeatible test in CI and also locally with my VirtualBox Windows 7 image. I'll try throwing some rocks in some random directions tomorrow and hope one lands on the bug.

[2016-03-05 15:28] fommil commented on #2496
fundamentally, `ClassLoader` should be treated like a `Closeable` resource. That looks like it would be a mad crazy refactor.

[2016-03-05 16:31] fommil commented on #2496
minimised to `definedTests` (not just `test`)

[2016-03-05 17:14] fommil commented on #2496
well, some progress. By explicitly closing the `root` of the `ClasspathFilter` I'm now getting failures to lookup the `JUnitRunner` when **running** the tests, but the `definedTests` piece now passes!

I think all I need to do now is to have a classloader that allows the jars to be closed, but still work when somebody tries to access them again.

I'm completely confused why this only breaks for `j

[2016-03-05 17:57] fommil commented on #2496
oh, Java. Why oh why did you implement `close()` to be such a final thing. We need to get in at this private member

[code]

(we must `synchronize` on it) and go close all the `JarFile` instances. Then I think the classloader can continue to operate.

I'll try doing that, but I don't have much hope because reflection doesn't tend to work on these core classes (the JVM lies)

[2016-03-05 18:08] fommil commented on #2496
as expected, `getDeclaredField` gives a `NoSuchFieldException` :cry:

it might be possible to subclass `URLClassLoader` to get access.

[2016-03-05 18:21] fommil commented on #2496
aha! I was using `.getClass` and you've already subclassed it. This is looking good.

[2016-03-05 18:59] fommil commented on #2496
I won't be able to look at this for a week, so if anybody wants to pick up my branch, I got as far as reflectively looking up the `closeables` field and finding that it was empty. Which was somewhat unexpected.

[2016-03-06 21:41] gkossakowski commented on #1104
I've collected performance numbers on Scala compiler's codebase. The class-based dependency tracking performs really yielding 4-22x improvements. I'm particularly interested in this code base because the current implementation of the incremental compiler is known to handle cake pattern suboptimally. The new implementation eats the cake.

Below are performance numbers I gathered. I'm excited to mak

[2016-03-07 02:31] copumpkin opened #2498 "Make sbt more friendly to immutable systems"
For a variety of reasons, mostly related to [Nix](http://nixos.org/nix), I am trying to package sbt in a way where at installation time, it gets a writeable boot directory (the one that usually lives in `~/.sbt/boot`) but during subsequent runs that boot directory is immutable. This is because the Nix store is conceptually append-only (other than a centralized GC) and packages are immutable once i

[2016-03-07 02:31] copumpkin commented on #2493
Vaguely related to #2498

[2016-03-07 05:49] eed3si9n commented on #2498
I like the idea. Having immutable boot probably might have other positive effects like the other issue that you commented on. From the problem description I'm guessing that you would hack a few places in [sbt/launcher](https://github.com/sbt/launcher) to prevent Ivy from running.

[2016-03-07 12:34] copumpkin commented on #2498
Yeah, basically, although I still need it to pick up the right set of jars. Best would be if I could skip the sbt boot directory altogether and run straight out of the ivy cache, like sbt itself does with projects it manages. Would that be feasible?

[2016-03-07 17:55] copumpkin opened #2502 "Document the release process"
It's not entirely clear from the build.sbt or documentation I've been able to find what actually produces the various parts of the release. I know the launcher is involved, as is this repo, and a couple of other repos. Is there a single command that publishes the various parts and produces the final launcher tarball that is uploaded to the main website?

[2016-03-07 17:58] eed3si9n commented on #2502
Yes: https://github.com/sbt/sbt/blob/0.13/build.sbt#L563-L597

There are other miscellaneous side projects like Zinc and Linux installers, but the main parts is releasing using the `release-sbt` command.

[2016-03-07 18:31] dwijnand commented on #2502
With regards to the launcher, the code is in sbt/launcher and a jar is released from there, then it's re-bundled and re-deployed from here (with this version number).

[2016-03-07 19:44] cvogt commented on #1104
exciting stuff :)!

[2016-03-07 20:23] dwijnand opened #2503 "Add support for defining "compileonly" dependencies"
It would be nice if it were possible to define compile-time only dependencies, for instance by being defined in the "compileonly" configuration and configured a defined in http://stackoverflow.com/a/21516954/463761

[2016-03-07 23:28] gkossakowski opened #2504 "Unstable representation of self variable"
Project with three source files:

[code]
## steps
1. compile
2. add a whitespace to `Global.scala` and watch `Client.scala` being recompiled
## problem

Whitespace change causes recompilation of dependent files.
## notes

The problem is unstable representation of classes that have a self variable (check `Namer`). This instability comes from not forcing info of the symbol that represent self type/s

[2016-03-07 23:29] gkossakowski commented on #2504
I discovered this issue while testing incremental compilation on `scala/scala` repo. We've debugged it together with @adriaanm and the fix is on its way.

[2016-03-07 23:31] adriaanm commented on #2504
See https://github.com/adriaanm/scala/commit/d6f58d820778a12cc3eda13872640626fd5c53a0

[2016-03-08 16:33] djx314 commented on #1690
I  use jbpm and add the dependencies

[code]

and catch the error

[code]

[2016-03-08 16:47] DavidPerezIngeniero opened #2506 "BufferedOutput as an output strategy doesn't behave as buffered."
(See the guidelines for contributing, linked above)
## steps

[code]

where `mypackage.MyClass` is a long running process that shows frequent output.
## problem

I can see all output in real time.
## expectation

I expect the output to be shown when the process finishes.
## notes
- I need `BufferedOutput` for avoid mixing the output of parallel running tasks.
- SBT version 0.13.11, 0.13.9

[2016-03-08 17:20] djx314 commented on #1690
I already remove ~/.sbt and my local ivy repo and download all the dependencies again. But the problem is still here.

[2016-03-08 23:20] JHK commented on #1930
+1

[2016-03-09 10:07] DavidPerezIngeniero commented on #2477
+1

[2016-03-09 11:50] gkossakowski commented on #1104
I updated the status of this work. Check out the issue description for progress on implementation and remaining tasks.

I think this work is most likely to ship with sbt 1.0-M1.
@dwijnand, I discussed different options for shipping this work with @eed3si9n and @Duhemm in person during Lightbend's engineering meeting. We determined that I could merge my class-based-depdencies branch into `increment

[2016-03-09 12:06] dwijnand commented on #1104
I've no concerns, sounds great to me.

I'm also in favour of merging `zinc` and `incrementalcompiler`, and I think `zinc` is a better name and more known than "sbt's incremental compiler".

[2016-03-09 16:40] dotta commented on #2460
I believe a fix for this ticket was merged. Closing?

[2016-03-09 17:23] mikebridge commented on #2477
This should really read "The API documentation is almost completely absent".  I originally went there to  decode the punctuation that appears everywhere in .sbt files but now I see that almost nothing is documented, even for prior sbt versions.

[2016-03-09 17:29] SethTisue commented on #1104
yeah, +1, I had been wondering about this as well

[2016-03-09 19:18] adriaanm commented on #1965
How about `unmanagedClasspath in Compile ++= (unmanagedResources in Compile).value` as per http://stackoverflow.com/questions/17134244/reading-resources-from-a-macro-in-an-sbt-project?

[2016-03-09 19:55] benjaminfrank commented on #1965
It seems this does not resolve the issue. I am trying to use typesafe-config to get some configuration values during macro compilation, but even with the mentioned sbt configuration the library can't pick up the reference.conf. During normal code compilation the exact same code works without any issues.

[2016-03-09 23:11] kiritsuku commented on #1104
On 03/09/2016 06:29 PM, Seth Tisue wrote:

[2016-03-10 19:59] adriaanm commented on #1965
Sounds like a run-time versus compile-time classpath issue? To be sure the sbt setting actually affected the compiler's classpath (and thus the macro's), I'd suggest compiling with `-Ylog-classpath` and checking that the path that has the config files is there (accompany the above suggested setting with `scalacOptions in Compile += "-Ylog-classpath"`).

[2016-03-10 23:04] casertap opened #2508 "Error when installing in Linux Debian (Hash Sum mismatch)"
Here is the error.
I am just following the installation steps described in the documentation:
http://www.scala-sbt.org/0.13/docs/Installing-sbt-on-Linux.html

[code]

[2016-03-11 16:03] pablote commented on #1954
Same issue here, it stays on the "Getting org.scala-sbt sbt.." message for several minutes until some feedback starts showing up. Not sure what it's doing, looking at the activity monitor there's very little network activity during that time.

[2016-03-11 18:51] eed3si9n commented on #2508
[code]

I don't know much about Debian, but isn't this a problem on their repo's end?

[2016-03-11 21:50] gaydenko opened #2511 "Used ivy is too old"
Hi!

Please look at:

https://groups.google.com/forum/#!topic/play-framework/dRj4VPbFJAA
https://groups.google.com/forum/#!topic/play-framework/xTt5WQMtTY0

And it is possible to find plenty of other similar ones. I guess the root is here:

https://issues.apache.org/jira/browse/IVY-1487

SBT seems to use custom ivy 2.3.0, while the mentioned ivy issue was fixed in 2.4.0. Can the patch be applied t

[2016-03-11 22:01] eed3si9n commented on #2511
Could you comment on #1920?
Maybe we can revive the discussion.

[2016-03-11 22:01] #2511 closed, assigned to nobody

[2016-03-11 22:11] gaydenko commented on #1920
Hi!

The issue described in the https://github.com/sbt/sbt/issues/2511 is absolute show stopper for development mode in playframework. Well, I don't mean all developers - I know only two affected ones at the moment :)

If not use ivy 2.4, then probably that included into 2.4.0 patch can be applied at least. What do you think?

The patch is very small and obvious:

https://github.com/apache/ant-ivy

[2016-03-11 23:31] gaydenko commented on #2511
OK, have moved there.

[2016-03-14 12:27] Duhemm commented on #2435
I've investigated this problem. Here are my findings:
- This project exhibits two kinds of conflicts: a conflict on versions (`1.0.0` vs `1.0.1`) and a conflict on configurations (`compile->runtime` AND `compile->runtime2` vs `compile->runtime` only).
- It looks like when cached resolution is off, sbt will select the most recent version and select all configuration (we end up with a dependency on

[2016-03-14 14:08] m-sp opened #2512 "pile"
(See the guidelines for contributing, linked above)
## steps
## problem
## expectation
## notes

[2016-03-14 14:08] m-sp commented on #2512
sr for the noise wrong window

[2016-03-14 14:08] #2512 closed, assigned to nobody

[2016-03-14 14:26] eed3si9n commented on #2015
@Duhemm

[code]

[2016-03-14 14:28] Duhemm commented on #2431
Fixed in #2500

[2016-03-14 14:28] #2431 closed, assigned to Duhemm

[2016-03-14 15:03] Duhemm commented on #2352
Added #2500

[2016-03-14 16:44] jstriedinger commented on #2044
Hey guys! I'm still having the problem that I do not find any repositories folder in `~/.sbt` folder. I'm running a 64bit Windows 8.1

This is giving me a headache.

[2016-03-14 17:32] gkossakowski commented on #1104
The zinc/incrementalcompiler has been renamed to sbt/zinc. The intention is to spend all energy on polishing sbt/zinc and retiring typesafehub/zinc. If you're interested in using incremental compiler outside of sbt, chime in at sbt/zinc#80.

[2016-03-14 20:43] chinmaybijwe commented on #1930
+1

[2016-03-15 00:06] qayshp commented on #2274
I definitely would love to see this capability.
It looks like there was at least one previous issue (#228) opened (and closed) for this type of feature.

[2016-03-15 03:00] Atry opened #2514 "DslEntry does not support addSbtFiles"
I want to share sbt files across multiple projects, especially Scala.js and JVM projects. https://github.com/ThoughtWorksInc/Binding.scala

At the moment I use `lazy val coreJS = core.js.addSbtFiles(file("../build.sbt.shared"))` in the parent project.

I hope I could put the `addSbtFiles` directive in sub-project.

How do you guys think about that?

[2016-03-15 03:31] eed3si9n commented on #2514
One of the unwritten philosophy about sbt is that a build should be repeatable.
Once you start pulling in build files from outside of the build, you could easily get yourself into a situation where it works one day, but it doesn't in another even though it's on the same commit. If you're looking for a way to share the settings, I think the plugin or plain `List` is the way to go.

[2016-03-15 15:50] dotta opened #2515 "Flag for failing build when dependency exclusion is not Maven compatible"
## problem

Currently, when an exclusion rule is not Maven compatible, a warning is issued, e.g

It would be great if users could turn the above warning into a build failure.

[2016-03-15 17:19] cosmolev commented on #1920
@gaydenko I'm the third one who is affected.

Desperately waiting for a patch.

[2016-03-15 19:03] gaydenko commented on #1920
@cosmolev , great, thanks for joining - may be "three" would be "many" for the team :) In fact, the issue itself - that is NPE in `addAllVariables()` - was very wide spread on days of ivy 2.3 - I have found plenty results on searching.

[2016-03-16 17:14] Atry commented on #2514
I understand the unwritten philosophy. Unfortunately we have to create multiple similar projects for some technical reasons. We usually create two sbt sub-projects for a code base that target both JVM and Scala.js .

What is the best practice to share common settings for the two projects?

[2016-03-16 17:17] eed3si9n commented on #2514
I don't know much about Scala.js, but I am guessing people are using http://www.scala-js.org/doc/project/cross-build.html

[code]

[2016-03-16 17:19] eed3si9n commented on #2497
/cc @gkossakowski

[2016-03-16 17:20] #2514 closed, assigned to nobody

[2016-03-16 18:27] gkossakowski commented on #2497
Have you guys considered a different approach of dealing with value classes that I mentioned before: https://github.com/sbt/sbt/pull/2261#issuecomment-178643442 ?

My solution would avoid phase travel that I think is both confusing and error-prone.

I believe this issue would go away simply because we would no longer need information at erasure.

[2016-03-16 19:07] suhailshergill commented on #2021
@eed3si9n should this be closed given that we have eviction warnings ([`EvictionWarningOptions.full`](https://www.scala-sbt.org/0.13.11/sxr/sbt/EvictionWarning.scala.html#sbt;EvictionWarningOptions) seems to do the right thing)?
also, is there an option to promote eviction warnings into errors? `-Xfatal-warnings` in `project/` sub-build doesn't seem to cover it

[2016-03-16 19:55] eed3si9n commented on #2021
@suhailshergill Yes. Let's close this. Please open an issue for adding an option to escalate eviction warnings to errors.

[2016-03-16 19:55] #2021 closed, assigned to nobody

[2016-03-17 01:47] japgolly commented on #2480
Not sure if this is the same but since SBT 0.13.11, I'm getting an issue in Linux where after SBT is open for a while, newlines become `^M`s and I have to use ctrl-enter instead.

[2016-03-17 15:09] eed3si9n opened #2516 "Tagging is not respected for testing unless parallelExecution in Test is true"
## steps

[code]
## problem

that alone doesn't get the tests to run sequentially across all subprojects.
## expectation

runs sequentially.
## notes

[code]

[2016-03-17 18:17] dotta commented on #2460
@eed3si9n @Duhemm should this ticket be closed? And, if yes, will the fix be available in the next 0.13.x release?

[2016-03-17 18:22] eed3si9n commented on #2460
I'm guessing it's open because it hasn't been forward ported to sbt 1.0 yet.

[2016-03-17 19:14] jbyler opened #2517 "Need SBT 1.0 Feature Migration Guide"
Filing per request of Josh Suereth on the sbt-dev mailing list in a [message](https://groups.google.com/d/msg/scala-tools/uuFsGN1DhNs/JRQdaCUKUjAJ) about AutoPlugin usage.
## problem

Developer has sbt 0.13.1 build which uses `Defaults.defaultSettings`.  Developer upgrades to sbt 1.0 and receives warnings about defaultSettings being deprecated.  Developer looks for migration guide to detail change

[2016-03-17 19:17] jbyler commented on #2517
Here is a [draft](https://github.com/sbt/sbt/blob/fde0ac88079fb8a65c1b7871f1c0d416cbd0eaab/src/sphinx/Migrations/MigrationGuide_0.13.2.rst) of an 0.13.2 migration guide which can possibly be used as a starting point.

[2016-03-17 19:21] eed3si9n commented on #2517
Thanks

[2016-03-17 19:37] eed3si9n opened #2518 "off-the-grid/offline installation of sbt"
## steps

Suppose I'm behind some firewall or just no internet.
I'd like to create a file image that can launch sbt.
## problem

Prior to sbt 0.13.11 I probably could have created a file image based on all the JARs sbt will download during boot and it might have worked. With sbt 0.13.11 the compiler bridge is resolved from the repository.
## expectation

A command `install` or something that creat

[2016-03-18 11:19] cmaeder commented on #701
Currently. I'm observing the same behaviour for `"sbt compile &"` and `"sbt -batch compile &"` using sbt-version 0.13.11 and I've no clue how to keep it running in the background. (In the foreground I get the message `"Resolving jline#jline;2.12.1"`). I'm on Ubuntu wily using `java version "1.7.0_95"`

[2016-03-18 16:52] eed3si9n opened #2519 "sbt 0.13.11 hits Maven Central even with repository overrides"
## steps

Add repository override.

[code]
## problem

It tries to hit Maven Central for the compiler bridge.

[code]
## expectation

Don't do it.

[2016-03-20 19:28] gkossakowski commented on #2326
Fixed by #2432

[2016-03-20 19:28] #2326 closed, assigned to gkossakowski

[2016-03-21 09:03] DavidPerezIngeniero commented on #2506
Any news about this?

[2016-03-21 10:54] DavidPerezIngeniero commented on #2506
Attached simple project that shows the bug.
[output.zip](https://github.com/sbt/sbt/files/182027/output.zip)

[2016-03-21 10:55] DavidPerezIngeniero commented on #2506
I'll try to make a pull request.  What is the starting branch?

[2016-03-21 12:02] DavidPerezIngeniero commented on #2506
Finally, I've managed to do a workaround, without modifying SBT source code.

[code]

`buffered1` works ok, but `buffered2` doesn't.

Here is a simple code that outputs a number each second, used for testing:

[code]

[2016-03-21 13:09] eed3si9n commented on #2506
Thanks for the repro project. I did confirm it's a bug.
As per pull requests, if you don't mind waiting till sbt 1.0, please send it on 1.0.x.
If you want to be included in 0.13, then we ask you send to both 1.0.x and 0.13.

[2016-03-21 13:21] smarter commented on #1104
@gkossakowski : using https://github.com/gkossakowski/sbt/commits/class-based-dependencies and scala 2.12 master (https://github.com/scala/scala/commit/ad48e5918081c679546f50b6f52dd8e0813754e7 right now) I was able to reproduce most of your performance numbers but not the one for `Reifiers.scala`:

[code]

I don't know if this is a regression or if something changed in scala master since you did y

[2016-03-21 16:11] smarter commented on #1104
I did some very primitive benchmarking of non-incremental compilation:
1. Start sbt, run `;clean;compile;clean`
2. Run `compile`
   - Results on scala/scala:
     - sbt 0.13.11: 239 seconds
     - [class-based-dependencies](https://github.com/gkossakowski/sbt/commits/class-based-dependencies): 384 seconds
   - Results on lampepfl/dotty:
     - sbt 0.13.11: 56 seconds
     - [class-based-dependenci

[2016-03-21 17:57] kazuar commented on #228
+1

[2016-03-21 21:09] ghost commented on #590
+1

[2016-03-22 07:36] DavidPerezIngeniero commented on #228
There is this useful setting:

[code]

Normally, it can cancel the running task, when set to `true`.

[2016-03-22 12:12] mustafamotiwala opened #2520 "0.13.11 On OSX; fork := true does not launch if machine is offline/disconnected (JDK 8)"
## steps
1. In `build.sbt` set `fork := true`
2. Disconnect your macbook/OSX from the network (Turn Wi-Fi Off)
3. Type `run` or `test` on your sbt prompt.
## problem

The application/tests are not launched. Instead sbt seems to freeze for a minute or two and then reports the following output:

[code]

Interestingly enough, you are never returned to the `sbt` prompt again and have to kill `sbt`. Af

[2016-03-22 12:21] gkossakowski commented on #2238
Yes, this problem is fixed.

[2016-03-22 12:21] #2238 closed, assigned to nobody

[2016-03-22 13:29] gkossakowski commented on #1104
Thanks for testing it out! I'll check what's going on with the `Reifiers.scala` case soon.

Regarding the `;clean;compile` performance. Does dotty have a more flat structure with less of inner classes being _inherited_ as members of other classes?

[2016-03-22 13:33] smarter commented on #1104
Yes, dotty is pretty flat.

[2016-03-22 15:15] nartamonov commented on #1855
Same story with Windows 7 and SBT 0.13.8. Since I started working with sbt in 2012 I can't remember that Ctrl+C works as expected. It's one of many small things that makes work with SBT harassing :weary:

[2016-03-22 22:08] gkossakowski commented on #1104
I reproduced the problem with `Reifiers.scala`. It looks like a regression. I'll dig into it tomorrow.

[2016-03-24 23:44] gkossakowski commented on #1104
I debugged the problem with `Reifiers.scala`. I had a bug in invalidation of local inheritance dependencies. I fixed that bug (I'll push changes to my branch tomorrow) but that uncovered a much more intricate bug: sbt/zinc#88. I think it's a new winner for a most elusive bug in incremental compiler. It involves self types, inheritance, refinements, inferred types and repeated parameters. If you re

[2016-03-25 02:19] ms-ati commented on #840
@jsuereth is there a plan for this now? It's one of those things (think we discussed at an NEScala event) that still makes SBT just unfriendly to scripting?

[2016-03-25 04:18] ghost commented on #1930
+1

[2016-03-25 08:21] armandgrillet opened #2521 "Add an install command to install new dependencies"
Hi,

I just started using Scala and sbt and I was wondering why there is no equivalent to `npm install` in sbt.
## steps

Currently the steps to install new dependencies are (after updating `build.sbt`):

[code]
## problem

Could these steps be reduced to:

[code]

The word `install` being more logical to install a new dependency than `update` and a standard keyword to install new dependencies (e.

[2016-03-25 10:09] dwijnand commented on #2521
As another alternative, given ant and ivy, this can be achieved with [`ivycp`](https://github.com/paulp/sbt-extras/blob/20ec18a9761715b4dbb436754e1e2d5e69024550/ivycp) in `sbt-extras`.

[2016-03-25 15:22] gkossakowski commented on #1104
I pushed fixes for local dependencies to my branch. As a work-around for sbt/zinc#88 I applied a patch included at the bottom. Here's the updated result I get with `Reifiers.scala` scenario:

[code]

The work-around for sbt/zinc#88:

[code]

[2016-03-25 18:48] dnrusakov commented on #1518
+1

[2016-03-25 20:03] michalstutzmann commented on #1518
+1

[2016-03-25 21:06] ericzundel commented on #1967
I think a developer just got bitten by this today, we are on sbt 0.13.9.  Is there a release that contains this fix?

[2016-03-25 23:19] tlockney commented on #1518
This actually just bit me again. Might take a look in the near future at adding a fix for this, if time permits.

[2016-03-26 10:04] liskin opened #2522 "Debian/apt repository does not work with latest apt"
## steps

[code]
## problem

[code]
## expectation

no error/warning
## notes

apt 1.2.7 on Debian testing
https://juliank.wordpress.com/2016/03/14/dropping-sha-1-support-in-apt/
https://juliank.wordpress.com/2016/03/15/clarifications-and-updates-on-apt-sha1/

[2016-03-27 18:15] wsargent commented on #2189
Caching API is here -- it's set up for Play WS right now, but I can abstract it to be directly on async-http-client: https://github.com/playframework/play-ws-cache

[2016-03-28 09:46] fommil commented on #2496
I'm dedicating today to this and coming up with a workaround.

[2016-03-28 10:51] soc commented on #2521
Such a command could be useful, but I'm not sure `install` as an abbreviation for `reload & upddate` makes sense ... plus, what about all the other imaginable `reload & ...` combinations?

[2016-03-28 10:57] armandgrillet commented on #2521
I agree, it should be a command installing the unresolved dependencies without updating the ones that are already installed. Does such a command already exist?

[2016-03-28 11:19] fommil commented on #2496
the classloader I found is only holding references to `sbt-launch.jar` and `jre\lib\resources.jar`, but at least the reflective approach to closing the cached jars in the URLClassLoader is working OK.

[2016-03-28 11:44] fommil commented on #2496
even running an explicit GC / runFinalizers / GC after `detectTests` I can still see the `jar`s in the finalizer queue. Either the finalizer thread is getting stuck, or it just can't reach the objects anymore to `finalize` them. I can see the references in a heap dump. This is very very weird.

[2016-03-28 12:21] fommil commented on #2496
I'm back to thinking that maybe this could be fixed in `junit-interface`

[2016-03-28 12:33] fommil commented on #2496
ok, I've got hold of the `URLClassLoader` with the reference to the jars! However, it is claiming that it doesn't have `JarFile` references, so I'm not 100% sure what's going on.

[2016-03-28 12:57] fommil commented on #2496
lovely, the `URLClassPath` could also have the `JarFile`s http://grepcode.com/file/repository.grepcode.com/java/root/jdk/openjdk/6-b14/sun/misc/URLClassPath.java

[2016-03-28 13:41] fommil commented on #2496
W0000000000000000TTTTTT!!!!! Through evil manipulation of the deepest, darkest, corners of `sun.misc` `private final` fields, I have slayed the beast!

[2016-03-28 13:50] fommil commented on #2496
Given that my fix is insane, I can't see this ever making it into `sbt` proper. I'll package this up as a standalone workaround... which will involve using reflection to read private fields in `sbt`'s classloaders.

[code]

[2016-03-28 14:16] fommil commented on #2496
@retronym the `URLClassLoader.close()` means it cannot be used again, whereas this hack puts the classloader into a reusable state. Arguably, we could call `close()`, then hotswap the `ucp: URLClassPath` instance, but that is "less" thread safe because threads could be using the `ucp` whereas my approach hotswaps and then cleans the old one (I say "less" because the code above is in no way thread

[2016-03-28 22:22] SethTisue commented on #840
relevant: https://github.com/cb372/sbt-write-output-to-file

[2016-03-29 10:44] fommil commented on #2496
well, unfortunately this workaround doesn't work in my work, despite it working in my standalone tests on Windows. I have no idea what is going wrong: perhaps the version of the JDK or number of cores is somehow relevant, in which case I have no idea what to do except to patch sbt to not re-use the test loader (and to close it after use).

[2016-03-29 16:54] orium commented on #1931
Any news on this issue?

[2016-03-29 19:18] gkossakowski opened #2525 "How to make `compile` 5x faster when nothings needs compiling"
## steps
1. Checkout https://github.com/gkossakowski/sbt-slow-compile
2. Run `compile`
3. Run `compile sub4/compile`
## problem

The second compile is slow taking about 1500ms to run even when there's nothing to compile.
## expectation

The `compile` should run much faster. The lower bound how long `compile` should take is about 7ms (on MacOs). The lower bound is determined by how much time does i

[2016-03-29 19:24] gkossakowski commented on #2525
I'm leaving this up for grabs.

[2016-03-29 19:24] gkossakowski commented on #2525
//cc @fommil who I suspect would like to know about this

[2016-03-29 19:35] gkossakowski commented on #2525
I think fixing this would take around 30-40 hours in sbt 1.0 branch where compatibility constrains are less severe.

[2016-03-29 19:45] fommil commented on #2525
what if source change lookup was all async? Like with https://github.com/ensime/java7-file-watcher ... that should really speed up the detection of file changes (which is much much slower on Windows).

[2016-03-29 19:47] gkossakowski commented on #2525
On Mac (and I'm guessing on Linux) checking the file status of 1k Scala files takes just 5ms so it's a non-issue. How much slower is that on Windows?

[2016-03-29 19:49] fommil commented on #2525
slow enough that I have to turn it off inside ENSIME or it eats the CPU. I'll run a small test case tomorrow to answer that.

[2016-03-29 19:52] gkossakowski commented on #2525
You can check it with the repo and the snippet I left above. It would be great to compare the numbers.

Speaking of detecting source file changes, the incremental compiler compare hashes of file contents at the moment. It does it without any optimization like checking last modification date. I believe that improving this part would yield 10x instead of 5x improvement.

[2016-03-29 19:55] fommil commented on #2525
I won't be able to use your repo in work, as it'll need to be approved. I'll write a script to check modified times on a realistically sized project. What's the hash algorithm? If it's simple enough, I could add that to the script. A warm `git grep` on my codebase takes about 30 seconds (much longer for full grep).

[2016-03-29 19:56] fommil commented on #2525
oh, absolutely, check modified date and file size first. That's a reasonable assumption to make. Remember file timestamp fidelity is 1 second (even on Linux / OS X), which tends to crop up in testing a lot more than you'd want.

[2016-03-29 20:03] gkossakowski commented on #2525
The hash algorithm can be found here: https://github.com/sbt/sbt/blob/0.13/util/io/src/main/scala/sbt/Hash.scala

[2016-03-29 20:05] fommil commented on #2525
oh, wow, `for` comprehensions over `Byte`. I bet that churns through memory allocations. Rewriting with `while` would probably make a big difference too // @rorygraves

[2016-03-29 21:26] rorygraves commented on #2525
Ok, quick review
https://github.com/sbt/sbt/blob/0.13/util/io/src/main/scala/sbt/Hash.scala#L16 - scala does not optimise the simple case out - so it creates a thunk representing the comprehension
Same here https://github.com/sbt/sbt/blob/0.13/util/io/src/main/scala/sbt/Hash.scala#L33

Thats only one object allocation per call but also I believe this
https://github.com/sbt/sbt/blob/0.13/util/io/sr

[2016-03-30 10:02] fommil commented on #2525
@gkossakowski 25 seconds to scan all source files in my project, on a warm load (it can take several minutes on first boot). I don't think I'll have time to run the hash calculator today but I am certain it's a lot bigger than 25 seconds.

[2016-03-30 10:27] julian-klode commented on #2522
Note that you do not only want SHA256/SHA512 for Release, but also for Packages files, even if APT does not directly complain about it (it will fail with Hashsum mismatch errors when installing packages...)

Also see: https://wiki.debian.org/Teams/Apt/Sha1Removal

[2016-03-30 11:19] kxbmap opened #2526 "Type alias and object does not work correctly in REPL"
## steps
1. Clone https://github.com/kxbmap/repl-alias-error.git
2. Run sbt console
3. Type `com.example.Alias.zero` twice
## problem

Compilation error on the second input.

[code]
## expectation

No error.

[2016-03-30 12:11] gkossakowski commented on #2525
How many source files do you scan?

On Wednesday, 30 March 2016, Sam Halliday notifications@github.com wrote:

##

Grzegorz Kossakowski
twitter: @gkossakowski http://twitter.com/gkossakowski
github: @gkossakowski http://github.com/gkossakowski

[2016-03-30 12:25] fommil commented on #2525
@gkossakowski can you ask Eugene confidentially?

[2016-03-30 14:02] erip opened #2527 "`sbt` failure on OS X 10.11.4"
## steps

[code]
## problems

[code]
## expectation

Not errors
## notes
- Tried hitting all the refused urls from the browser: all 404's.
- Tried adding company root certs to Java keystore.
- Added proxy settings (http and https) to `/usr/local/etc/sbtopts`
- Edited `~/.m2/settings.xml` to play nicely with corporate proxy.

[2016-03-30 15:00] #2527 closed, assigned to nobody

[2016-03-30 15:01] erip commented on #2527
I followed these steps off the proxy and it seemed to work... seems to be a problem with setting the proxy _somewhere_, but I don't know where.

[2016-03-30 16:16] erip commented on #2527
[This SO post](http://stackoverflow.com/questions/13803459/how-to-use-sbt-from-behind-proxy) seems to have solved the problem. Don't forget https.

[2016-03-30 16:23] eed3si9n commented on #2526
I think you're hitting https://issues.scala-lang.org/browse/SI-7139

[2016-03-30 16:37] axaluss commented on #2274
+1

[2016-03-30 17:01] kxbmap commented on #2526
Yes, that's right. I'll close this issue.

[2016-03-30 17:01] #2526 closed, assigned to nobody

[2016-03-30 18:22] jodersky commented on #2522
+1

[2016-03-30 20:55] eed3si9n commented on #2522
This should be fixed soon thanks to Bintray. Note to self:

[code]

/cc @jsuereth

[2016-03-31 00:58] eed3si9n commented on #2522
Looks like the metadata is regenerated. Could someone confirm if the issue with `apt` is fixed?

[code]

[2016-03-31 01:02] jodersky commented on #2522
it works for me now

[2016-03-31 01:03] eed3si9n commented on #2522
cool. I'm closing this then.

[2016-03-31 01:03] #2522 closed, assigned to nobody

[2016-03-31 09:39] aragnon opened #2529 "Error message could be better"
I get

[code]

The problem is that it doesn't say _what_ exactly it tried to access. I expect that all exceptions of this kind are caught and display a proper error message like "Dear user, we tried to create a file named foo in directory /bar/za. Unfortunately, the w bit in directory za is not set for user $RUNNING_USER, so as a result this program will now have to exit. Please correct this situa

[2016-03-31 09:45] dwijnand commented on #2529
I agree. Could you provide a reproducing case so we can pin-point what needs changing?

[2016-03-31 13:35] scalway commented on #2480
+

[2016-03-31 19:48] Astrac commented on #1930
:+1:

[2016-03-31 19:53] stephenjudkins commented on #1930
Please consider using the new reaction feature and choosing :+1: there instead of adding another comment.

[2016-03-31 20:05] fommil commented on #1930
and if you do that, also Subscribe to the thread for updates (an advantage of the old :+1: technique)

[2016-04-01 08:09] hipnoizz opened #2531 "Modyfing additional artifact name break SBT"
[test.zip](https://github.com/sbt/sbt/files/199199/test.zip)
Sample project attached.

1 - Run `sbt clean` - should work. Output will be like

[code]

2 - Modify `child/build.sbt` and change

[code]

to

[code]

3 - Run `sbt clean` - should work. Output will be like

[code]

(Why the output is different this time?)

4 - Modify `child/build.sbt` again and change

[code]

to

[code]

5 - Run `sbt cl

[2016-04-01 10:47] fommil opened #2532 "Ability to programmatically define projects: Seq[Project]"
With the new move to `.sbt` files, we will lack a key feature which is the ability to transform `Seq[Project]`.

A typical usecase for this is when the build structure is generated (perhaps translated from another tool) and the owner of the sbt build scripts can only apply transformations to the `Project` object rather than edit the `build.sbt` directly.

I feel this is a blocker for 1.0.

[2016-04-01 10:50] fommil opened #2533 "AutoPlugin apply settings last"
With the move to `build.sbt` and deprecation of `Build.scala` the user can no longer provide an explicit ordering of `Setting` applications.

In particular, there is no way to ensure that some settings are ran _after_ everything else, such as is necessary when performing ugly workarounds that redefine a `Task` (examples of this in http://github.com/fommil/sbt-big-project).

I feel this is a blocke

[2016-04-01 10:51] dwijnand commented on #2532
@Duhemm has explored trying to port this in #2183.

I've needed access to `.projects` to solve the use case details in http://stackoverflow.com/a/31061013/463761.

Also I think this might be a blocker for https://github.com/sbt/sbt-pom-reader.

[2016-04-01 10:53] fommil opened #2534 "Apply AutoPlugin to all Test configurations"
With the move to `build.sbt` and away from `Build.scala` there will be no easy way to apply settings to all user-defined configurations.

With `Build.scala` this was never pretty, but a workaround was possible such that a method could be called explicitly with the list of `Configuration`s to enable.

e.g. this could take the form of a method in `AutoPlugin` which will always be called `inConfig` f

[2016-04-01 10:53] dwijnand commented on #2533
How is such an ordering achieved using the `Build` trait?

[2016-04-01 10:54] fommil commented on #2532
That's interesting. It is explicitly read-only, but this ticket is to allow the "mutation" of `Seq[Project]`.

Somewhat related is the ability to specify / select the `rootProject` from the transformed `Seq[Project]`.

[2016-04-01 10:55] fommil commented on #2533
by just doing it last, procedurally.

[2016-04-01 10:55] dwijnand commented on #2534
Why is this not similarly achievable in `build.sbt`?

Alternatively put, how is this related to the removal of the `Build` trait?

[2016-04-01 10:56] dwijnand commented on #2533
Is that not similarly available in `build.sbt`? (ie. not a blocker)

[2016-04-01 10:56] fommil commented on #2534
Hmm. Yeah, I guess it is still possible to call out.

OK, then I retract this being a blocker for 1.0 but it would certainly be an improvement of the `AutoPlugin` API and be another reason for people to move over.

[2016-04-01 10:57] fommil commented on #2534
Maybe the method could be called `projectTestSettings`, as opposed to `projectSettings` ?

[2016-04-01 10:58] fommil commented on #2533
No, because these things would be loaded via an AutoPlugin and wouldn't appear in the `build.sbt` at all.

[2016-04-01 10:58] dwijnand commented on #2532
Yes, that pull requested morphed into read-only.

But I'm agreeing with you, there are use-cases that require programmatically defining projects, for which, to my knowledge, there's no facility currently in 1.0.

[2016-04-01 11:00] fommil commented on #2533
(the reason this is relevant is because I would define a custom `Project` constructor that would do this last, mimicking an autoplugin... but this is not possible in the stricter `build.sbt` dialect)

[2016-04-01 11:02] dwijnand commented on #2533
Doesn't look directly related to the `Build` trait. Looks more like a request for an enhancement.

[2016-04-01 11:10] fommil commented on #2533
possibly. The reason I see it as relevant to the `.scala` removal is that this is some level of control that I lose by moving from `Build.scala` style to `AutoPlugin.scala` style.

[2016-04-01 11:12] dwijnand commented on #2533
So I assume you're reaching for AutoPlugins because of the lack of .sbt support in ENSIME.

So, and I'm not exactly endorsing it - more just mentioning, you might want to consider this kind of approach: https://github.com/scala-js/scala-js/pull/2312/files.

[2016-04-01 11:18] dwijnand commented on #2533
Also I'm not sure how to "apply settings last".. I mean what about that AutoPlugin that wants to be last-last?

[2016-04-01 11:43] fommil commented on #2533
well, this is exactly for _that_ AutoPlugin that wants to be last-last :smile: I guess if you have two autoplugins that are in conflict you can always make one depend on the other.

[2016-04-01 11:43] eed3si9n commented on #2533
Since sbt's default settings are implemented as auto plugins, if _all_ auto plugins are applied after the build user's settings, the build user would not be able to set `name`s etc, so it needs to be _some_ auto plugins at the least. Could you point at an example setting in your plugin that absolutely needs to be after the build user's setting?

[2016-04-01 11:46] fommil commented on #2533
I'm not asking for all to be applied after the user's, just for an option to be able to say "this AutoPlugin" should be applied after the user's settings (which are applied after all the normal AutoPlugins).

BigProjectSettings needs to be applied after everything because its redefining key `Task`s to be dynamic to avoid unnecessary work.

[2016-04-01 11:48] fommil commented on #2533
(I'm actually reaching for AutoPlugins because I despise the `.sbt` format and will minimise my interaction with it).

[2016-04-01 11:55] dwijnand commented on #2533
How would I define an AutoPlugin to be last-last-last after BigProjectsSettings?

[2016-04-01 11:58] fommil commented on #2533
`requires = BigProjectPlugin` ? The important thing is that there be some mechanism for running after the user's settings are applied or declaring an autoplugin to be "low priority" in the startup list so that it is started in a certain phase. Once in that phase, it is up to the build manager to settle dependency problems like this (note that I'm not aware of any way to do that except to copy the

[2016-04-01 11:58] eed3si9n commented on #2533
I haven't decided if this is a good way to go or not, but it's conceivable to think of the build users setting as an auto plugin named `ProjectSettingPlugin`, and `BigProjectPlugin` can `requires` on it so it can be loaded afterwards. And Dale can define `GmailMicDropPlugin` that `requires` on `BigProjectPlugin`.

[2016-04-01 12:10] erip opened #2535 "Add quiet flag to sbt"
I propose a quiet flag to be added to sbt to remove all noise aside from stdout. This includes `[info]` messages and success messages.
## current workaround

[code]

[2016-04-01 13:39] eed3si9n commented on #2535
I have to wade into the logging when server happens. I'll keep this one in mind too.

[2016-04-01 15:29] progval opened #2536 "“module not found: org.scala-sbt#sbt;0.13.9” after installing from Debian repo"
(See the guidelines for contributing, linked above)
## steps

Run as root:

[code]

(instructions from [this document](http://www.scala-sbt.org/0.13/docs/Installing-sbt-on-Linux.html))
## problem

This error:

[code]

Additionally:

[code]
## expectation

sbt compiles the project
## notes

This looks like #2365, but I don't think this is the same issue, because I am not behind a firewall, and wget

[2016-04-01 16:02] dwijnand commented on #2533
(I just got the `GmailMicDropPlugin` reference..)

[2016-04-01 16:47] SethTisue commented on #2535
very similar to #840

[2016-04-01 16:49] eed3si9n commented on #2535
Closing this in favor of #840 then.

[2016-04-01 16:49] #2535 closed, assigned to nobody

[2016-04-01 19:31] MasseGuillaume commented on #1937
I got some WIP here:
https://github.com/MasseGuillaume/super-winner/blob/master/src/main/scala/License.scala#L35

[2016-04-01 19:39] eed3si9n commented on #1937
In terms of the list of opensource licenses, and its string notation, what affects me personally is Bintray API - https://bintray.com/docs/api/#_footnote_1
This list is fairly comprehensive, and I think it's a good start.

[2016-04-01 19:42] MasseGuillaume commented on #1937
Hum, sure I can add those licenses. I know that what I have covers 99% of the use cases because I have the list of all open source libraries.

[2016-04-01 19:44] eed3si9n commented on #1937
I feel like it's better to have top 10 rather than trying to aim for completion. How does the histogram look like?

[2016-04-01 19:57] eed3si9n commented on #1937
Also what's your plan for the `URL`? If we take Apache-2.0 as an example, which seems to be the overwhelming majority (over 6000), https://www.apache.org/licenses/LICENSE-2.0.txt is licensed to `[name of copyright owner]`. The person who is trying to apply it needs to substitute that part.

[2016-04-01 20:13] MasseGuillaume commented on #1937
For the histogram, I have a lot of duplicate to filter first. We can see the trend from the raw data: Apache2, MIT, LGPL, GPL, AGPL.

For the URL it's defined via [Spdx license trait](https://github.com/MasseGuillaume/super-winner/blob/master/src/main/scala/License.scala#L43)

regarding the `[name of copyright owner]` I'm not sure it's an issue:
https://github.com/apache/spark/blob/master/LICENSE#

[2016-04-03 04:22] disaacson commented on #1803
I'm getting the same issue. Error:
`java.lang.ClassCastException: scala.reflect.internal.Symbols$NoSymbol cannot be cast to scala.reflect.internal.Symbols$ClassSymbol`

[2016-04-04 15:40] gbersac commented on #2222
I have the same error. Please fix it.

[2016-04-04 19:19] eed3si9n commented on #2536
The key error message is this:

[code]

It doesn't matter if `wget` can hit https. What matters is `java`. Please go through:
- http://stackoverflow.com/questions/7709540/how-to-solve-sun-security-provider-certpath-suncertpathbuilderexception
- http://stackoverflow.com/questions/13626965/how-to-ignore-pkix-path-building-failed-sun-security-provider-certpath-suncertp
  etc.

[2016-04-04 19:19] #2536 closed, assigned to nobody

[2016-04-04 20:21] eed3si9n opened #2537 "name hashing does not track names of synthetic symbols and names from synthetic methods"
https://github.com/gkossakowski/sbt/issues/9

## steps

[code]
## problem

Name hashing under compiles.
## expectation

Changes are detected.
## notes

isSynthetic is intentionally omitted.

[code]

[2016-04-04 20:36] progval commented on #2536
Can't you patch your code / packages to trust these certificates?

[2016-04-04 20:41] eed3si9n commented on #2536
If a build tool started implementing some arbitrary security workaround, that would be called a loophole or a backdoor. A certificate could be revoked after hacking, for example. Let's let java do the java thing.

[2016-04-04 20:46] progval commented on #2536
Patch your [install doc](http://www.scala-sbt.org/0.13/docs/Installing-sbt-on-Linux.html) to explain how to do that, then?

[2016-04-04 20:51] eed3si9n commented on #2536
Yea. That would make a lot more sense, I think.

[2016-04-05 07:54] huntc opened #2538 "Conditionally require other auto plugins"
We recently found ourselves needing to conditionally declare a `requires` on our `AutoPlugin`. The condition was that we only wanted to require the plugin if it was on the classpath, as we want to avoid declaring the other plugin's dependency ourselves. In our case we want to allow a user to declare the `addSbtPlugin` of the other plugin as there can be multiple versions. We don't need any setting

[2016-04-05 12:00] jurajkochjar commented on #366
Try making file called `jvmargs` in `~/.sbt`
Add your proxy settings as you are used to:
`-Dhttp.proxyHost=...`
`-Dhttp.proxyPort=...`
`-Dhttp.nonProxyHosts=..`
`-Dhttp.proxyUser=...`
`-Dhttp.proxyPassword=...`

Supports also `https` variants.
Hope it helps!

[2016-04-05 15:35] eed3si9n opened #2539 "Host machine's Ivy cache affects scripted"
## steps

Remove compiled compiler bridge from my machine's Ivy cache.
## problem

scripted fails.
## expectation

scripted should not depend on my machine's Ivy cache for the compiler bridge.
## notes

This prevents me to test compiler bridge change quickly.

Compiler.scala line 99

[code]

[2016-04-05 18:17] eed3si9n commented on #2538
What is the end goal of requiring the other auto plugin? (let's call it `X`) Are you trying to load your settings _after_ the plugin `X`'s settings, without you creating library dependencies on `X`?

[2016-04-05 21:55] huntc commented on #2538
The end goal is to configure the bundle keys on a project with consideration for Play, but only if Play is being used.

Same for Lagom.

[2016-04-05 22:04] eed3si9n commented on #2538
What do you think about something like `PluginRef("play.sbt.Play")`, and then you can make a specific auto plugin that requires to the plugin ref, instead of the optional stuff.

[2016-04-05 22:10] huntc commented on #2538
That sounds as though it could work for us... it'd be important to be able to && with other plugins as per today though...

[2016-04-08 00:19] #2165 closed, assigned to nobody

[2016-04-09 18:34] eed3si9n opened #2546 "flaky compiler-project/error-in-invalidated test"
## steps

Run Travis
## problem

Not sure since when but compiler-project/error-in-invalidated test seems to fail the first time it runs.

[2016-04-11 06:54] max8github opened #2548 "how to use Keys build settings for resource filtering"
## steps

From an sbt plugin, create a `Map[String,String]` of entries like

[code]

for all interesting Settings in object `sbt.Keys` (like `target`, etc).
## problem

In order to do resource filtering (like in Maven) with an sbt plugin or some sbt code, you somehow need to get hold of all interesting keys that sbt knows about when building, for example the _target_ directory or the _base directo

[2016-04-11 07:11] eed3si9n commented on #2548
Github issue is set up for bug reports. "But how do you do that?" is not a problem of sbt.
Resource filtering does sound like a fun problem to solve tho.
http://www.scala-sbt.org/community.html#how-can-I-get-help

[2016-04-11 07:11] #2548 closed, assigned to nobody

[2016-04-11 15:35] max8github commented on #2548
I am sure is fun, but unsure if it can be done with this version of sbt.
I guess by "_how do you do that_" i meant "_there is no way to do that currently_".
So, is this the place for feature requests, or only bugs?

If it is the place for feature requests, then the request is (should i open another item?):
_provide an API in such a way that the sbt user can possibly do resource filtering_ (given t

[2016-04-11 15:45] max8github commented on #2548
never mind, just noticed your answer on stackoverflow: will try that, and then maybe open a feature request if needed. Thanks

[2016-04-11 23:36] nmadhire commented on #1985
I am getting the same error. I have given all the parameters in sbtconfig.txt file
Do I need to do any other setup when using sbt behind a proxy?

[2016-04-12 16:20] jedesah opened #2550 "Add evicted version information to callers in output of evicted command"
## steps

Call the `evicted` command
## problem

Each library which has evicted versions is listed along with which versions are evicted and what libraries for bringing in these versions. However, it can be hard to tell which one of the callers is bringing in which version of the evicted library.
## expectation

I think it would be really nice if each caller was listed along with the version of th

[2016-04-12 18:44] eed3si9n opened #2551 "scripted mode ignores quotation"
## steps

[code]

Run this:

[code]
## problem

[code]

The quotation is ignored.
## expectation

[code]
## notes

See #2549

[2016-04-12 20:45] MasseGuillaume opened #2552 ".scala in directory breaks compilation"
## steps

create a project with a package folder ending with .scala such as `src/main/scala/ch.epfl.scala`

[code]
## problem

when compiling:

[code]
## expectation

I should be able to use .scala in the directory structure

[2016-04-12 20:48] eed3si9n commented on #2552
Does it make sense to name the directory `ch.epfl.scala` instead of `ch/epfl/scala`?

[2016-04-12 20:55] MasseGuillaume commented on #2552
yep that would be a workaround. I like the a.b.c syntax it faster to navigate.

[2016-04-13 16:05] dotta commented on #2290
I've just hit this, and the main problem form me was that the error error was not helpful at all

Also, it turns out that in my case the reason was that I've defined an invalid identifier

[code]

I simply forgot to surround the name with backticks.

[2016-04-13 16:08] eed3si9n commented on #2290
@dotta oops. That sounds like a bug on our part.

[2016-04-13 20:28] SethTisue commented on #2290
arguably not, `lazy val play-json = ...` is syntactically a pattern match:

[code]

[2016-04-14 01:28] japgolly opened #2554 "test task not passing args to test framework"
## steps
1. Open a SBT 0.13.11 based project.
2. Type `test -- --truncate=9999`
## problem

Running

[code]

results in:

[code]
## expectation

It should pass `--truncate=9999` to the test library.
## notes

This works as a workaround:

[code]

[2016-04-14 09:30] jQrgen opened #2555 "Sette opp issue her hvis den ikke kommer seg videre med compiling. startet 10:30"
Hello

I'm a complete spark beginner, and im currently following [this tutorial](http://blog.prabeeshk.com/blog/2014/10/31/install-apache-spark-on-ubuntu-14-dot-04/) to set up spark locally on my machine.
## steps

I run this command to build spark agains the hadoop file system i have already installed:
`hduser@jorgen-pc:~/spark-1.6.1$ build/sbt -Phadoop-2.6 assemly
`

This is the hadoop version i

[2016-04-14 09:33] jQrgen opened #2556 "stb stops(or stops logging?). Compiling spark and Accessing Hadoop Filesystems."
Hello

I'm a complete spark beginner, and im currently following [this tutorial](http://blog.prabeeshk.com/blog/2014/10/31/install-apache-spark-on-ubuntu-14-dot-04/) to set up spark locally on my machine. I'm at the step "Accessing Hadoop Filesystems"
## steps

I run this command to build spark agains the hadoop file system i have already installed:
`hduser@jorgen-pc:~/spark-1.6.1$ build/sbt -Phad

[2016-04-14 20:05] #2497 closed, assigned to nobody

[2016-04-14 20:07] smarter commented on #2497
Github decided to close this but this isn't actually fixed in sbt/sbt, just in sbt/zinc (https://github.com/sbt/zinc/pull/95)

[2016-04-14 20:17] smarter commented on #2497
Backport of the fix to sbt 0.13: https://github.com/sbt/sbt/pull/2557

[2016-04-14 20:29] saifellafi opened #2558 "Where can we find sbt jar in repositories?"
## problem

My intelliJ plugin is trying to resolve the following but cant find it.
https://repo1.maven.org/maven2/org/scala-sbt/sbt/0.13.9/sbt-0.13.9.jar

Indeed SBT is no longer in maven2, and typesafe resolver redirects to bintray, which doesnt have such structure either
## expectation

This sounds silly but I am not sure what repository to point to in my system to get SBT right now.
org/scala-

[2016-04-14 21:12] eed3si9n commented on #2558
It's under https://repo.typesafe.com/typesafe/ivy-releases/, which redirects to Bintray, but please don't link directly to Bintray because we might change the underlying repo (and we have in the past).

[2016-04-14 21:12] #2558 closed, assigned to nobody

[2016-04-14 21:16] eed3si9n commented on #2555
I am guessing this is a duplicate of #2556

[2016-04-14 21:16] #2555 closed, assigned to nobody

[2016-04-14 21:41] theBlackDragon commented on #1664
sbt-cxf-wsdl2java has actually been following the documentation for generating Java sources and I haven't had any build problems in Sbt, things do break in IDEA when "correct" (as per the documentation) plugins get combined with ones that just generate their sources straight under sourceManaged.

The plugin does this though:
`managedSourceDirectories in Compile += {(sourceManaged in Config).value}

[2016-04-15 04:00] Atry opened #2559 "Inconsistent default behaviors when process organization and name"
I have a sbt project with lowerCamelCase organization and name.

[code]

When I publish it to nexus, I expect the group ID and artifact ID following the same naming convention. Unfortunately, sbt converted the name to lower-case artifact ID, while it kept the group ID unchanged.
As a result, the artifact is published to somewhere like
http://central.maven.org/maven2/com/thoughtworks/enableIf/enabl

[2016-04-15 07:31] huntc commented on #2427
Fixed by  sbt/sbt-web#135

[2016-04-15 07:34] #2427 closed, assigned to eed3si9n

[2016-04-15 08:58] eed3si9n opened #2560 "0.13.11 regression: incremental compiler misses when macro expansion references another source"
## steps
1. Macro expansion in `A.scala` references another source `B.scala`.
2. Change `B.scala`.
## problem

`A.scala` doesn't get compiled.
## expectation

`A.scala` gets compiled.
## notes

This can be confirmed when "member reference internal dependencies" doesn't contain the entry from `A.scala` to `B.scala`.

This was caused by 0f616294c4e713dc415f5dc3ae7aef257decb228:

[code]

This won't t

[2016-04-15 14:32] gkossakowski commented on #2560
Do you know why existing scripted tests for macros didn't catch the regression?

[2016-04-16 09:02] fommil opened #2561 "incorrect scalaBinaryVersion inference (specifically for typelevel scala)"
## steps

use a `scalaVersion` such as `2.11.8-tl-201604131941`
## problem

the `scalaBinaryVersion` is inferred as `2.11.8-tl-201604131941`
## expectation

the `scalaBinaryVersion` should be inferred as `2.11`
## notes

workaround is to force the `scalaBinaryVersion` but this results in lots of `Binary version` warnings.

https://github.com/milessabin/si2712fix-demo/issues/7

[2016-04-16 17:19] eed3si9n commented on #2561
This is by design. See http://www.scala-sbt.org/0.13.11/sxr/CrossVersionUtil.scala.html#sbt.cross.CrossVersionUtil.scalaApiVersion

The naming convention of bincompat Scala substitute is `2.11.8-bin-*` e.g. `2.11.8-bin-tl-201604131941`.

[2016-04-16 17:19] #2561 closed, assigned to nobody

[2016-04-17 21:25] jrd-rocks opened #2562 "sbt.bat from the msi installer mangles command line arguments"
## steps

run

[code]
## problem

the sbt.bat scripts then tries to execute
`
"C:\Program Files\Java\jre1.8.0_77\bin\java.exe" -Dfile.encoding=UTF8 -Xms2G -Xmx6G -XX:ReservedCodeCacheSize=500M -XX:+TieredCompilation -XX:-UseGCOverheadLimit -XX:+CMSClassUnloadingEnabled -XX:+UseConcMarkSweepGC -Dsbt.log.format=true -cp "C:\Program Files (x86)\sbt\bin\sbt-launch.jar" xsbt.boot.Boot -Dsbt.log.noforma

[2016-04-18 06:19] JohnReedLOL commented on #1962
I am having this exact same problem. sbt 13.9.

[code]

^ 30 second lag ^

[2016-04-18 06:40] eed3si9n commented on #2560
@gkossakowski See the new repro in #2563. The existing scripted tests didn't catch this because the macro is too simple, and it doesn't introduce new member ref beyond the original tree.

[2016-04-18 17:13] jamiely commented on #1810
In case it helps anyone, I was able to pull my maven deps using configuration like this, with sbt > 0.13.0:

[code]

[2016-04-19 02:30] MasseGuillaume opened #2566 "sbt should validate maven model before publishing"
I downloaded all Scala 2.11 poms from maven central (~50 000 poms). Almost 10% fails to load because they are invalid poms.

For example: you cannot duplicate license tags, but sbt permits that https://github.com/magneticio/vamp/issues/612

[Maven model builder](http://maven.apache.org/ref/3.3.3/maven-model-builder/) can validate a pom. [Usage example](https://github.com/MasseGuillaume/super-winne

[2016-04-19 22:44] fommil commented on #2496
I finally worked around this. In a nutshell, use a java agent to monkey patch `URLClassLoader` so that we have a much more sensible backend implementation of `URLClassPath`.

I think going forwards it would be very useful for both scala-compiler and sbt to have their own classloader, more similar to mine (I'm happy to discuss changing the licence if that's interesting, but we can't re-licence the

[2016-04-20 08:54] nik-kashi commented on #641
This problem still exists in latest version
`sbt.version=0.13.11`

and in my build.sbt :

[code]

but after executing `sbt update` only main dependencies updated and "tests" classified  dependencies does not update.
I should remove them manually from .ivy2 folder

**Note that the version is snapshot**

[2016-04-20 09:03] nik-kashi commented on #1676
This problem still exists in latest version
`sbt.version=0.13.11`

and in my build.sbt :

[code]

but after executing `sbt update` only main dependencies updated and "tests" classified  dependencies does not update.
I should remove them manually from .ivy2 folder

**Note that the version is snapshot**

[2016-04-20 20:49] fommil opened #2568 "please make scriptedLaunchOpts a Task, not a Setting"
I want to test my https://github.com/sbt/sbt-assembly jar in some scripted tests, but because the `assembly` is a `Task` and this expects a `Setting`, it involves some trickery.

[2016-04-20 21:32] eed3si9n commented on #1664
In the hindsight, the idea that multiple plugins sharing the `(sourceManaged in Compile).value` to generate files in there was a bad one, given the problems we are facing with IDE integration and apparently Java compilation.

What do you guys think about adding some facility in the auto plugin that could generate sources safely?

[code]

[2016-04-21 18:32] MasseGuillaume commented on #2566
or get rid of `pomExtra` and provide a dsl for it

[2016-04-21 18:32] dwijnand commented on #2566
pomExtras is a pretty blunt tool, but I'm not sure if sbt should be validate the pom by default. Perhaps this could be a community ticket for an sbt plugin to validate it.

[2016-04-21 18:32] mkotsbak commented on #1664
We should get a quick solution for this for short term and good solution for this in the long run. Currently the situation makes auto import of sbt project in IntelliJ almost broken.

[2016-04-21 18:32] MasseGuillaume commented on #2566
well since `publish` is part of sbt I think it should be in the core of sbt

[2016-04-21 18:35] dwijnand commented on #2566
test is part of sbt, but sbt doesn't come built in with scalacheck..

It's also about adding another/more dependencies..

[2016-04-21 18:36] MasseGuillaume commented on #2566
what if we copy paste this model: https://github.com/MasseGuillaume/super-winner/blob/master/src/main/scala/ch.epfl.scaladex/maven/Pom.scala#L14 in sbt

[2016-04-21 18:37] dwijnand commented on #2566
Also an sbt plugin could eventually be folded into sbt.

Or we could add it as a feature, off by default, or on by default with a flag to disable it..

[2016-04-21 18:37] eed3si9n commented on #1664
The short-term workaround might be to recommend against using `(sourceManaged in Compile).value` altogether, and each plugin roll out their own directory under `target`, and append to `managedSourceDirectories in Compile`.

[2016-04-21 22:45] jvvasques commented on #1930
+1

[2016-04-22 00:27] nafg commented on #2566
An easier, partial solution, at least for the magneticio case, is that instead of building the pom from sbt settings first, and then appending pomExtra, you start with pomExtra and then you append nodes in the XML. So when you generate the XML for the licenses key, for instance, if the licenses node exists your append in it.

[2016-04-22 09:21] fommil commented on #2350
I have anecdotal evidence that compressing large text files actually speeds up throughput on both Windows and Linux.

It might also be worth investigating using a graph database (we're doing this in ENSIME) as it has much better performance, especially on Windows.

[2016-04-22 09:23] fommil opened #2571 "Reduce string duplication"
In this project https://github.com/fommil/sbt-big-project/tree/master/src/sbt-test/sbt-big-project/clusterfsck if you run it for a while (e.g. a day's coding) you can easily generate 1GB of duplicated strings... almost all coming from the directory paths. Judicious use of `.intern()` would solve the problem, but I don't know where the creation is happening. A java agent on String allocation could

[2016-04-22 20:04] dwijnand opened #2572 "console doesn't handle -Yno-predef -Yno-imports"
## steps

[code]

[code]
## problem

[code]
## expectation

I expect the REPL to start silently and properly like always.
## notes

sbt version 0.13.11

[2016-04-22 20:11] #1667 closed, assigned to nobody

[2016-04-23 12:29] #2556 closed, assigned to nobody

[2016-04-24 03:32] eed3si9n opened #2573 "failing dependency-management /cached-resolution-configurations (pending FPORT)"
## steps

Travis CI - https://travis-ci.org/sbt/sbt/builds/124945696
## problem

dependency-management /cached-resolution-configurations is failing
## notes

Ref #2513

[2016-04-24 18:14] fommil commented on #2417
and also providing a mechanism for defining macro-less `InputTask`s as an advanced (undocumented) developer feature.

@eed3si9n you said you'd consider this for 1.0

[2016-04-25 14:35] #2104 closed, assigned to eed3si9n

[2016-04-26 19:42] fommil commented on #2568
it was suggested to use http://stackoverflow.com/questions/23944108/how-to-share-version-values-between-project-plugins-sbt-and-project-build-scala as a workaround, but I couldn't get it to work. Maybe one for a lazy day.

[2016-04-27 03:58] MasseGuillaume commented on #1937
![image](https://cloud.githubusercontent.com/assets/921490/14841307/9b98a366-0c0a-11e6-9a3e-97315891634e.png)

[code]

[2016-04-27 06:09] dwijnand commented on #1937
Cool

[2016-04-27 15:27] Heipiao commented on #2295
also ask help for mac ...

[2016-04-27 15:35] eed3si9n commented on #2295
There are some hints for Mac here. http://stackoverflow.com/questions/6784463/error-trustanchors-parameter-must-be-non-empty/6788682
I'm closing this as it doesn't seems to be a sbt specific issue.

[2016-04-27 15:35] #2295 closed, assigned to nobody

[2016-04-27 18:44] fommil commented on #1937
Stallman would prefer you referred to Mit as the Expat License :-P

Very good to see this. Apache is a good Libre License. It would be good to see more projects, especially Scala itself, use it instead of BSD/MIT. It frees us from the concern of patent lock-in (JVM itself aside).

[2016-04-27 18:46] fommil commented on #1937
Btw GPL3 is implicitly "or later" unless they've gone out of their way to say so.

[2016-04-27 18:47] fommil commented on #1937
Does this double count projects with multiple releases or modules comprising the project?

[2016-04-27 18:57] MasseGuillaume commented on #1937
@fommil good point, I double counted projets (the total is more or less the amount of scala poms on maven central).

[2016-04-27 19:06] fommil commented on #1937
Why are so many people using 4 clause BSD? As users of these libraries we have obligations to publicise the copyright holder's names when our apps start up.

[2016-04-27 19:22] MasseGuillaume commented on #1937
@fommil that's a mistake on my end. Let's connect over gitter.im

[2016-04-27 20:16] axel22 commented on #1791
+1 - even on Linux, for builders like Travis and Drone 90% of output are `Resolving` lines.

And thanks for the setting, been looking for that!

[2016-04-28 07:59] axel22 commented on #1791
Interestingly, this setting didn't change things:

[code]

I'm thinking that it should be put into `project/Build.scala`, or also `project/project/Build.scala` when there is a project definition within the project definition itself.

[2016-04-28 08:30] axel22 commented on #1791
It seems that this setting doesn't change anything for me:

[code]

Do you have an example project where the `ivyLoggingLevel` setting is used?

[2016-04-29 03:06] Atry commented on #2156
I have the same random issue on our CI. Re-running the build job usually works.

[2016-04-29 03:08] Atry commented on #2156
I guess this bug may be related to https://github.com/sbt/sbt-buildinfo/issues/87

[2016-04-29 17:13] parkan commented on #2442
Seeing this with copycat + sbt as well

https://circleci.com/gh/mediachain/mediachain/48

Definitely doesn't seem like the correct behavior

[2016-04-29 17:36] eed3si9n commented on #1000
http://www.scala-sbt.org/0.13/docs/Howto-Sequencing.html

[2016-04-29 17:36] #1000 closed, assigned to nobody

[2016-04-29 21:50] maheshkelkar commented on #1827
Sorry, does anybody have a `hacky` workaround for this?

[2016-04-29 21:53] eed3si9n commented on #1827
@maheshkelkar Are you seeing this with sbt 0.13.11?

[2016-04-30 00:23] maheshkelkar commented on #1827
@eed3si9n: Yes. I was using 0.13.8, but bumped it up to 0.13.11, but same problem `http://github.com/lookout/borderpatrol`. The SNAPSHOT JARs are available on jfrog. BTW if I use locally published version of this repo, it works fine.

In my internal repository, I am trying to use the `test` repositories as follows:

[code]

Here is the error:

[code]

[2016-04-30 17:44] #2552 closed, assigned to xuwei-k

[2016-05-01 13:54] mdedetrich opened #2579 "Issue warning for "broken builds""
## steps

Pull this specific version of https://github.com/scala-js/scalajs-cross-compile-example/tree/db2f78b971a49d7327bf3524d0dbd4c94d682a94
run `show scalaVersion` in SBT

Should see the following

[code]
## problem

The problem is that `scalaVersion` is not the same across all of the projects, and this causes issues with tools like ensime. @fommil says that arguably these types of builds are

[2016-05-01 14:06] fommil opened #2580 "access user Configurations in autoplugin"
Somewhat related to https://github.com/sbt/sbt/issues/2533 (which is probably a dependency of this) it would be incredibly useful to be able to provide `projectSettings` in an autoplugin for user-custom configurations.

e.g. adding an `InputTask` to `Compile`, `Test` and all `extends Test` configurations. Currently, the user always has to jump through hoops to add plugins to phases such as integra

[2016-05-01 14:10] dwijnand commented on #2579
I don't think there's anything generally illegal in having in different Scala versions. It might be the wrong setup for a project, but I don't think there's anything that sbt should warn about.

That being said, documentation improvement PRs are always welcome.

[2016-05-01 14:11] mdedetrich commented on #2579
Apparently a lot of tools (like scoverage and compile plugins, @fommil can expand here) will stop working if you have the above problem. This is also true of ensime, and other IDE's apparently have to code workarounds for these types of projects.

Its its not something thats illegal but shouldn't be done typically, then I don't see any issue in showing a warning when SBT starts up (if it is illega

[2016-05-01 14:15] fommil commented on #2579
it's not limited to `scalaVersion`, I think it's just a general misconception about where to put shared settings in multi-project builds. Pragmatically, I know to find such breakages by looking for projects with differing `scalaVersion` (lowest common denominator), but I accept that it can be valid if that's what the author really intended (I'd always encourage people to split such projects into t

[2016-05-01 14:24] fommil commented on #2417
similar thing for `InputTask`, e.g. I can't do this anymore

[code]

[2016-05-01 14:38] dwijnand commented on #2579
Still doesn't sound like something that sbt should always constantly be warning about, at least to me.

[2016-05-01 14:44] fommil commented on #2579
It's almost going down the road of a validity checker of "did you really mean X?" I could see that getting annoying. In ENSIME we're ok doing this warning because almost always it means a broken build definition.

[2016-05-01 15:18] mdedetrich commented on #2579
Well the thing is, if this is being classified as "broken" then SBT itself should warn about it. If its not broken, then arguably Ensime should look into making a fix for it in the long term. A line should be cut somewhere.

This is common practice in programming languages, so I am not sure why its such an issue. The whole "compile and getting a page of warnings" is something that pretty much ever

[2016-05-01 15:28] dwijnand commented on #2579
Warnings are only useful if you read them, which requires not having noise. So at a minimum this requires a way to opt-out of the warning. But first I'm not 100% convinced that this is a problem in sbt, or rather a problem with the plugins.

[2016-05-01 15:33] mdedetrich commented on #2579
Actually people tend to read the first instance of a warning, and then ignore it afterwards for different reasons, i.e.
- They have seen it before
- They are in a rush (must push this to production, don't care about warnings)

Or other reasons. I also think there isn't that much noise when you load SBT (ideally this is when the warning would be displayed). In any case, we should clarify what "brok

[2016-05-01 15:42] fommil commented on #2579
Let's keep ensime's concerns separate from this ticket. If you were to put together a PR that does what Dale is suggesting (with the opt-out for the warning), it could be reviewed and discussed in the context of sbt.

As for ensime, the evidence on our ticket is extremely strong that we detect broken builds a **lot** more than false positives, and I've had people message me to say "thanks, that fi

[2016-05-01 15:55] mdedetrich commented on #2579
Well first things first, if we are going to call something "broken", it heavily implies that it shouldn't even work (and that SBT shouldn't even load the project). From the response we are getting from the SBT guys, it seems like this is a case of the build being misconfigured (at worst). Either that or its entirely intentional.

If its completely intentional then there is no point in having a war

[2016-05-01 19:10] eed3si9n commented on #2579
- A build is a set of subprojects that often generate some JARs.
- A subproject may support its own set of Scala versions that it cross builds. (An sbt plugin might only be built for 2.10 while you might want to run tests in 2.11 for most other subprojects.)
- A subproject may depend on other subprojects, and normally\* the Scala version should line up for the dependencies.
- Running `+compile` wi

[2016-05-01 19:36] eed3si9n commented on #2580
Derived task - https://gist.github.com/eed3si9n/bf561bce36ca72b5f659

[2016-05-02 07:51] #2480 closed, assigned to eed3si9n

[2016-05-02 08:03] #2428 closed, assigned to Duhemm

[2016-05-02 08:03] #2519 closed, assigned to eed3si9n

[2016-05-02 09:38] DavidPerezIngeniero commented on #2428
Will I have to wait to SBT 1.0 in order to see this correction applied?.

[2016-05-02 10:51] eed3si9n commented on #2428
We should backport this to 0.13.

[2016-05-02 10:53] eed3si9n commented on #2428
Actually #2430 was originally targeted to 0.13.x, so it should now be fixed in 0.13.11.

[2016-05-02 11:44] eed3si9n commented on #2352
Done stuff
- [x] 251596a Merge pull request #2448 from timcharper/0.13
- [x] 49e8010 Merge pull request #2438 from Duhemm/wip/package-object-filename
- [x] 6e5082e Merge pull request #2437 from gkossakowski/nameHashing-trait-regression
- [x] a58eff8 Merge pull request #2432 from gkossakowski/nameHashing-pkg-objects
- [x] 14dcca6 Merge pull request #2418 from Duhemm/fix-2411
- [x] afa8603 Merge pul

[2016-05-02 12:33] barnardb commented on #1962
I have been having this problem for a while now, currently with sbt 0.13.11.

I have a build that had `crossScalaVersions in Global := Seq("2.10.6", "2.11.8")`, which I would run with something like `sbt +clean +test +doc +package`, and the later "Reapplying settings" would take much longer than the earlier ones.

I recently changed to `crossScalaVersions in Global := Seq("2.10.6", "2.11.8", "2.12

[2016-05-02 12:42] #2560 closed, assigned to eed3si9n

[2016-05-02 13:48] holgerbrandl commented on #2222
Same with me. Please provide a no-lock flag or something similar

[2016-05-03 10:22] fommil opened #2584 "please provide default for includeSynthToNameHashing"
we have something like this in `sbt-ensime` for `compileOnly`

[code]

but it fails at runtime without this being added:

[code]

because the API has changed. Can you please add a default so that existing code extending this interface is still valid?

[2016-05-03 13:26] tomas-forsman opened #2585 "Publish fails with large files - bug from ivy"
(See the guidelines for contributing, linked above)
## steps

Try to "sbt publish" a large file > 1.1Gb data to a nexus repository.
## problem

java.lang.OutOfMemoryError: Requested array size exceeds VM limit

Ivy reads the full byte array to calculate size to send, described in ivy bug https://issues.apache.org/jira/browse/IVY-1197
## expectation

It should be possible to upload large files.
##

[2016-05-03 15:47] #2460 closed, assigned to Duhemm

[2016-05-04 09:12] jvican commented on #2525
I'd love to see this feature in the next release of sbt. Any chance?

[2016-05-04 09:13] jvican opened #2587 "SBT with Nailgun"
I've seen that zinc has integration with nailgun. It would be very cool if sbt would sport this feature as well, therefore caching scala compilers and making it faster.

Is this possible?

[2016-05-04 09:21] jvican commented on #2587
This is another alternative to nailgun that is worth checking it out. https://github.com/ninjudd/drip

[2016-05-04 09:42] padisah opened #2588 "global repositories file does not accept jcenter"
Using SBT 0.13.11, latest version just refreshed through apt-get.
The file ~/.sbt/repositories can have default resolvers. I would get the Resolvers.jcenterRepo as a default resolver.
## steps

Add jcenterRepo to the .sbt/repositories file
run sbt sbtVersion
get:
java.lang.RuntimeException: Expected one of local, maven-local, maven-central, scala-tools-releases, scala-tools-snapshots, sonatype-oss

[2016-05-04 09:56] padisah commented on #2588
i tried to add "jcenter: http://jcenter.bintray.com/" to .sbt/repositories
and it works!
however, the lack of documentation, and the misleading error message still applies

[2016-05-06 15:16] gavares commented on #1000
@eed3si9n Thanks for adding these pages. In the last section "How to sequence using commands",
the example you've provided doesn't seem to compile for me. The compiler claims that `::` is not defined on String.

I tried adding `:: Nil` to the end of the sequence thinking that you were building a List but this sort of expression has no effect. The List is generated but the net-effect of the Command

[2016-05-07 21:55] eed3si9n commented on #2254
`console` is a task. Currently the list of tasks are listed under the `tasks` command.

[2016-05-07 21:55] #2254 closed, assigned to nobody

[2016-05-09 07:34] dwijnand opened #2597 "Failure to boot into a new sbt 1.0.0-M1 build"
## steps

**project/build.properties**

[code]

Run `sbt`
## problem

[code]
## expectation

I expected to be launched into the sbt `shell`
## notes

Running a custom version of sbt-extras (PR pending): https://github.com/dwijnand/sbt-extras/commit/16f10bec81655453a6531114c2c40de7a3eb5ee8

But I don't think it's relevant because it fails the same way with:

[code]

[2016-05-09 07:40] xuwei-k opened #2598 "[1.0.0-M1] NoClassDefFoundError: sbt/internal/util/ConsoleOut$"
## steps

[code]
## problem

unexpected `ClassNotFoundException` error
## expectation
## notes

[2016-05-09 07:42] xuwei-k commented on #2598
Oops, duplicate https://github.com/sbt/sbt/issues/2597

[2016-05-09 07:42] #2598 closed, assigned to nobody

[2016-05-09 07:55] dwijnand commented on #2598
"I beat Kenji at the first post-release bug report, ask me anything" :-)

On Mon, 9 May 2016, 08:42 kenji yoshida, notifications@github.com wrote:

[2016-05-09 09:11] smarter commented on #2597
Not to brag, but I think I reported this 6 months ago: https://groups.google.com/forum/#!msg/sbt-dev/EUs6lbx3i8o/35jDkJb1BQAJ :)

[2016-05-09 11:44] eed3si9n commented on #2597
Here's the problem..

[code]

[2016-05-09 12:19] eed3si9n commented on #2451
Ref #2002

[2016-05-09 12:21] eed3si9n commented on #2597
It seems like we're hitting #2002/#2451 with https://bintray.com/sbt/maven-releases/librarymanagement/0.1.0-M9/view#files/org/scala-sbt/librarymanagement_2.11/0.1.0-M9:

[code]

Note it's missing the scope.

[2016-05-09 18:50] hseeberger opened #2599 "updateClassifieres doesn't download sources"
Using sbt 0.13.11, only javadoc is downloaded.

[2016-05-10 11:54] smarter opened #2601 "ScriptedPlugin: Add a way to run arbitrary I/O actions before running a test"
`Scripted` has `scriptedPrescripted` for that: https://github.com/sbt/sbt/blob/d8e763438c34952dc0e71d7727db91811a2feea2/project/Scripted.scala#L100 but `ScriptedPlugin` has no equivalent, I think this could be very useful.

[2016-05-10 14:25] LaoDaGe opened #2602 "Stuck at "Getting org.scala-sbt sbt 0.13.11""
Run `sbt` stuck at "Getting org.scala-sbt sbt 0.13.11"
## Steps
1. Install [sbt-0.13.11](https://dl.bintray.com/sbt/native-packages/sbt/0.13.11.2/sbt-0.13.11.2.msi) on Windows
2. Run `sbt --version` in console
## Problem

Output `Getting org.scala-sbt sbt 0.13.11`
It seems still need to downoad  `org.scala-sbt sbt 0.13.11`, that doesn't make sense.
Is SBT an acronym of Stupid Baby Tool ?
## Expect

[2016-05-11 09:27] gslowikowski opened #5597 "Don't publish repositories information (at least for releases)"
Remove all additional resolvers from `build.sbt`, at least for releases, because artifacts published to Maven central repository should not contain additional repositories, and in fact don't need them because all dependencies are already in Maven central repo.

[2016-05-11 10:37] gslowikowski opened #2604 "Don't publish repositories information for 1.0.x versions"
## problem

Published `pom.xml` files contain:

[code]
## expectation

Artifacts published to Maven central repository should not contain additional repositories, and in fact don't need them because all dependencies are already in Maven central repo.
## notes

Remove all additional resolvers from `build.sbt`.

[2016-05-11 11:14] gslowikowski opened #2605 "Add tag for version 1.0.0-M2"
Version wasn't tagged.

[2016-05-11 11:23] gslowikowski commented on #2597
#2600 is not enough because `Zinc` pulls transitively three additional `tests` artifacts. Maven dependency tree fragments (from test Maven build with `SBT 1.0.0-M2`):

[code]

and

[code]

[2016-05-11 14:12] eed3si9n commented on #2605
Done, but that one is still broken.

[2016-05-11 14:12] #2605 closed, assigned to nobody

[2016-05-11 14:19] gslowikowski commented on #2605
Thanks.

[2016-05-12 08:04] evacchi commented on #1824
the horrific work around:

[code]

(BTW this looks like an ivy issue)

[2016-05-12 15:23] phucnh commented on #1930
+1

[2016-05-12 15:28] eed3si9n opened #2608 "scripted dependency-management/url"
### steps

scripted dependency-management/url
### problem

The test is currently failing.
### expectation

Fix the test.
### notes

It's due to http://slinky2.googlecode.com/svn/artifacts/2.1/slinky.jar no being available.

[2016-05-12 16:26] eed3si9n opened #2609 "library dependency with `from` does not follow redirects"
## steps

[code]
## problem

Doesn't work.
## expectation

Works.
## notes

[code]

See also http://stackoverflow.com/questions/18208224/force-sbt-to-follow-redirects-for-an-explicit-github-releases-url

[2016-05-12 20:58] #2415 closed, assigned to eed3si9n

[2016-05-12 22:31] eed3si9n opened #2611 "todo: Codacy issues on 1.0.x"
Currently there are some issues reported by Codacy (https://www.codacy.com/app/eed3si9n/sbt/dashboard) on code style and error prone category.
I've excluded scripted directory, but if things get included back again, we can ignore them.

For example, Codacy says "Fatal exception is being caught" in main-command/src/main/scala/sbt/Watched.scala.

[2016-05-12 22:41] eed3si9n opened #2612 "[sbt 1.0] todo: Migrating to sbt-datatype"
All case classes in the public API should be replaced with using sbt-datatype.

[2016-05-12 22:46] #2597 closed, assigned to eed3si9n

[2016-05-12 23:06] eed3si9n commented on #2602
Maybe you're behind a firewall that's preventing download of https?
Try `-Dsbt.repository.secure=false`.

[2016-05-12 23:06] #2602 closed, assigned to nobody

[2016-05-13 11:29] fommil commented on #2580
@eed3si9n can this please be considered for the 1.0 milestone? It's one of the main reasons I don't like autoplugins (typically I end up having to manually add settings for IntegrationTests, defeating the effort of writing everything as an auto plugin in the first place). I can't get the derived tasks to do what I want.

[2016-05-13 11:31] fommil commented on #2580
suggested interface `projectConfigSettings(config: Configuration): Seq[Setting[_]]` called for everything except `Compile` (handled by `projectSettings`).

[2016-05-13 11:32] fommil commented on #2580
I was having a bad day, this is a total dupe of #2534

[2016-05-13 11:32] #2580 closed, assigned to nobody

[2016-05-13 11:33] fommil commented on #2534
@eed3si9n can this please be considered for the 1.0 milestone? It's one of the main reasons I don't like autoplugins (typically I end up having to manually add settings for IntegrationTests, defeating the effort of writing everything as an auto plugin in the first place).

Suggested interface `projectConfigSettings(config: Configuration): Seq[Setting[_]]` called for everything except `Compile` (wh

[2016-05-13 11:33] fommil commented on #2533
@eed3si9n can this please be considered for 1.0?

[2016-05-13 11:35] fommil commented on #2532
@eed3si9n can this please be considered for 1.0? This one really is a blocker for me at work in moving to 1.0.

[2016-05-13 12:04] eed3si9n commented on #2534
As suggested in #2580, can derived task (https://gist.github.com/eed3si9n/bf561bce36ca72b5f659) work here?

[2016-05-13 12:22] fommil commented on #2534
not really, it is too much of a hack (and I couldn't even get it to work for IntegrationTest)

[2016-05-13 12:49] eed3si9n commented on #830
Closing this in favor of sbt/zinc#101

[2016-05-13 12:49] #830 closed, assigned to gkossakowski

[2016-05-13 13:33] eed3si9n opened #2614 "Warning on transitive macro recompilation"
## steps
1. Transitive macro definition causes recompilation by default.
## problem

This can end up invalidating a lot of code.
## expectation

Print warning message during compilation, so people are aware of why suddenly incremental compiler is recompiling everything.

[2016-05-15 15:39] sjrd opened #2616 "Eval must not be in internal.*, because it is used in public APIs"
The type `Eval` is currently defined in `sbt.internal.util.Eval`, but it should be defined in a non-internal package. This is because it is used in public APIs, such as `Project.settingsLazy`.

If the type were actually _private_, the Scala compiler wouldn't let you use it in a public position, as it would leak a private thing to public. The same rationale should be applied here: no internal type

[2016-05-15 15:54] sjrd opened #2617 "AddSettings must not be internal._, because it is used in public APIs"
Similarly to #2616, `sbt.internal.AddSettings` should not be internal, as it is used in the public method `Project.settingSets`.

[2016-05-15 17:50] sjrd opened #2618 "[sbt 1.0] Build project files are recompiled every time"
## steps

[code]

Then, re-launch sbt, and observe a whole new recompilation:

[code]
## problem

The build project files are recompiled every time I launch sbt. This is really bad because there are 153 files in this build project (and _no_, that is not nonsense).
## expectation

I expect the build project not be recompiled if nothing changes, and only a few things recompiled if I change a few thi

[2016-05-15 18:07] eed3si9n commented on #2617
Do you guys use `settingSets(..)`? It's one of the features that I don't know if we should keep or drop.

[2016-05-15 18:14] sjrd commented on #2617
No, we do not use it. We only have a forwarder for it in `CrossProject`: https://github.com/scala-js/scala-js/blob/v0.6.9/sbt-plugin/src/main/scala/scala/scalajs/sbtplugin/cross/CrossProject.scala#L264-L270

I'm equally fine if you drop it, in which case we'll drop our forwarder.

[2016-05-17 00:11] jroper opened #2619 "Consider merging sbt-cross-building"
With binary compatibility breaking in sbt, many core sbt plugins will probably want to cross build against both 0.13 and 1.0.  [sbt-cross-building](https://github.com/jrudolph/sbt-cross-building) is an existing project that does this, and the possibility of merging it into sbt has already been discussed (over 3 years ago) [here](https://github.com/jrudolph/sbt-cross-building/issues/17).

I'd like

[2016-05-17 02:12] eed3si9n commented on #2619
We've broken source compatibility too, so I am not sure if cross building is possible without some #IFDEF macro kind of a thing.

[2016-05-17 05:32] jroper commented on #2619
That's ok, that's what `src/main/scala-sbt-0.13` etc is for, any source compatibility breakages can be put behind a trait that's implemented in the sbt version specific directories.

[2016-05-17 06:11] dwijnand commented on #2408
Done in #2613, thanks to @jroper

[2016-05-17 06:11] #2408 closed, assigned to nobody

[2016-05-17 10:23] jroper commented on #2408
Ha, I didn't even realise there was an open issue for this!

[2016-05-17 18:39] eed3si9n opened #2620 "cached resolution: Configuration regression"
## steps

We don't have minimized steps yet, but in some build you run `update` task using nightly build of sbt 0.13.12.
## problem

It tries to add configuration `it-internal` into a subproject `B` that's transitively depended by subproject `A`.
## expectation

Works.
## notes

Likely something related to https://github.com/sbt/sbt/pull/2513.

Ref #2435 /cc @Duhemm

[2016-05-18 09:03] AmazingDreams opened #2622 "No javaOptions set in run from build.sbt"
## Steps

I have the following in my build.sbt:

[code]

This should set my run and Test to fork and use specific configuration files. I got a service which tries to read a specific configuration value and it throws an exception if not present.
## Problem

Test forks fine and uses the testing.conf configuration file. The tests run fine without the service throwing an exception.

The `run` command

[2016-05-18 10:17] AmazingDreams commented on #2622
Should have mentioned `sbt.version=0.13.11`

[2016-05-18 12:33] scf37 opened #2623 "watchSources is not scoped to task"
## steps

[code]
## problem
### related to steps above

When I modify tests, sbt triggers recompilation while compilation does NOT depend on test sources.
### in general

I want to configure `watchSources` on task level, e.g. to run application using sbt-revolver's `re-start` and then write and execute tests against running application. Problem is changes to tests (which belong to the same project

[2016-05-18 13:28] kostaskougios commented on #1676
I've as well got this issue on 0.13.11. The xxx-SNAPSHOT-tests.jar is not updated unless I manually delete it from .ivy2/cache

[2016-05-18 13:52] Duhemm commented on #2620
Reproduction:

`build.sbt`:

[code]

`project/play.sbt`:

[code]

[2016-05-19 16:24] lambdaknight commented on #1583
Anyone ever figure this one out? I'm running into this issue running just sbt-buildinfo and sbt-protobuf. Compile once and I get `...target/scala-2.11/src_managed/main/sbt-buildinfo/BuildInfo.scala' could not be found`, but try to compile again and everything works.

[2016-05-19 16:49] eed3si9n commented on #1583
Here are more sbt-buildinfo issues interfering with other plugins - https://github.com/sbt/sbt-buildinfo/issues/87 and https://github.com/sbt/sbt-buildinfo/issues/88
What buildinfo is doing is calling `extracted.runTask(...)` from `buildInfo` task, so I'm not too surprised that these issues are cropping up.

https://github.com/sbt/sbt-buildinfo/blob/489215bdab8fb68343db424f3a66a2718a784c0f/src/mai

[2016-05-19 20:25] acdenhartog opened #2624 "project/project.sbt and macro extractor for Projects"
### The tl;dr version:
#### problem

More easy transition away from `Build.scala` is needed.
Some people _really_ do not want build files in the root directory.
`build.sbt` file looks silly and is an extra point of failure for those preferring `.scala`
#### proposed solution

`project/project.sbt` to keep the root clean (should be easy to implement)
`includeProjectsFrom(...)` macro to extract from

[2016-05-19 20:45] eed3si9n commented on #2624
`project/project.sbt` won't work as it is the build script for the meta-build, which most people know as `project/plugins.sbt`.

[2016-05-19 22:24] acdenhartog commented on #2624
**edit:** _warning:_ contains basic misunderstandings of sbt project structure see next comment

Could have sworn I read the documentation at some point... apparently not much.
So just to be clear, it goes like this:

(`project/plugins.sbt`∨`project/project.sbt`)=>(`project/__.sbt`)=>(`root/__.sbt`)

And each layer sets things up (enables macros?) for the next? And after that last compilation it r

[2016-05-20 02:56] DBassel commented on #413
+1 on SBT 0.13.11 both multi-project builds and single project

[2016-05-20 12:30] andresch opened #2625 "wrong artifactName setting in scope Test"
## steps

given the following build.sbt file

[code]
## problem

Unless I uncomment the last liine, "sbt test package" only creates a single artifact (the zip file), but containing the elements of the test jar.
## expectation

As the first artifactName setting only overwrites the artifactName of the Compile stage, the artifactName of the Test stage should still be the default one.
## notes

[2016-05-20 14:52] eed3si9n commented on #2619
The change would need to happen on almost all sources, but this morning @jrudolph reminded me of the possibility of a shim library, which probably would make source compat possible for many of the plugins.

[2016-05-20 15:14] acdenhartog commented on #2624
Okay, so having actually read some more of the docs it seems the sequence is just:
(`root/project/__.sbt`)=>(`root/__.sbt`) where is `__` any number of files of any name.

And there is _nothing special_ about files named: `plugins.sbt`/`project.sbt`/`build.sbt`.

This seems to be "technically" false, or at least misleading: it is not _the_ build script for the _meta-_build, it is just _a_ build sc

[2016-05-20 15:25] eed3si9n commented on #2624
Going back to the first problem statement,

Ultimately, I don't see this as a big problem for sbt 1.0.
What I want from sbt 1.0 is fewer ways of writing build definition, not more, so it's easier to document and learn. If you want to push majority of the build logic to `project/X.scala` that's up to you, but I have no intention of providing a way of removing `build.sbt`.

I would encourage you pro

[2016-05-20 19:36] pauldraper commented on #413
[code]

vs

[code]

is a night-and-day difference in multi-module projects.

I agree that resolution is still slower than necessary (particularly the first time), but that is really a whole other issue. Single-threaded resolution in a "parallel by default" build system is beyond strange, but that really can only be fixed by overhauling/replacing Ivy. And that would be enormously difficult now that

[2016-05-20 23:50] acdenhartog commented on #2624
I did not suggest removing `build.sbt`, but optionally moving it out of the root directory; and into a place that I think makes more sense anyway.

I do not see how the current folder structure is helpful in that regard. There is nothing at all intuitive about having half of the build description in `root/__.sbt` and the other half in `project/__.scala`.

Just consider how Scala and Java behave: y

[2016-05-21 07:51] gauravmokhasi opened #2626 "Wrong value being added to path variable on installation"
## steps

Install SBT from http://www.scala-sbt.org/download.html.
Open cmd and run "sbt sbt-version".
You will get error "sbt is not recognized as an internal..."
## problem

C:\Program Files (x86)\sbt\\bin being added to path variable instead of C:\Program Files (x86)\sbt\bin
## expectation

Set path variable automatically to C:\Program Files (x86)\sbt\bin
## notes/resolution

When you go and ch

[2016-05-23 06:40] wpc009 opened #2627 "Where does sbt artifacts goes? no version larger than 0.13.9"
(See the guidelines for contributing, linked above)
## steps
## problem

I thought that the sbt repo is located at  `http://repo.typesafe.com/typesafe/ivy-releases/org.scala-sbt/sbt/`.
But after upgrading to `0.13.11` , I got some unresolved dependency error.
It seems that sbt version larger than `0.13.9` does not exists in that repo .
Where can I find the `0.13.11` version of sbt ?
## expectation

[2016-05-23 12:03] mcamou commented on #1696
This just started happening to me today. I had 0.13.8 in my `build.properties`, tried updating to 0.13.11 but it still will not find `Resolvers.bintrayRepo`.

[2016-05-23 14:29] eed3si9n commented on #2627
Could you try again?
- http://repo.typesafe.com/typesafe/ivy-releases/org.scala-sbt/sbt/0.13.11/
- https://repo.typesafe.com/typesafe/ivy-releases/org.scala-sbt/sbt/0.13.11/

both http and https work for me.

[2016-05-24 03:56] wpc009 commented on #2627
There's no `0.13.11` folder under this link `http://repo.typesafe.com/typesafe/ivy-releases/org.scala-sbt/sbt/`. When I start sbt, it complains could not found `0.13.11`, and it already tried the typesafe repo.

[2016-05-24 04:14] wpc009 commented on #2627
Sorry, my fault. My private artifactory proxy need authentication. I didn't notice that `sbt` needs additional `SBT_CREDENTIALS` env or boot args to specify the credential property file.
It's working now.
But the [link](http://repo.typesafe.com/typesafe/ivy-releases/org.scala-sbt/sbt/)     show no greater version than `0.13.9`, that's strange.

[2016-05-24 04:14] #2627 closed, assigned to nobody

[2016-05-24 14:28] eed3si9n commented on #2620
Try-catch workaround (#2628) is now merged to 0.13.

[2016-05-24 15:00] mdedetrich opened #4913 "Provide a solution for not having to store cleartext passwords"
Currently when you use credentials/repos with SBT, you have to store your password as clear text. SBT should provide a mechanism so that its possible to sign passwords in some fashion so you don't have to store them in clear text.

Relevant code is here https://github.com/sbt/launcher/blob/67fda77ef33572864980a0c4f66555d5f3ba66e5/launcher-implementation/src/main/scala/xsbt/boot/Update.scala#L55-L6

[2016-05-24 15:13] mdedetrich commented on #4913
Okay, so after some research maven appears to use this https://github.com/sonatype/plexus-cipher.

@jsuereth Would it be fine to create a scala library which has a pure minimal implementation of the plexus-cipher (no dependencies) or would it need to be a strict requirement for the class to be inlined?
_Already answered on gitter_

I am thinking of reusing maven algorithm because at least that way

[2016-05-24 15:20] rdgreen commented on #576
The information above isn't correct. http.user isn't even a legal name for an environment variable, and I tried setting it as a system property but that doesn't work either.

[2016-05-26 08:21] nilsweinander commented on #1920
@gaydenko @cosmolev Sorry, haven't paid attention to this in a while, I'm also affected by this, so  we are (at least) four.

[2016-05-27 07:49] avdv commented on #1696
@mcamou please double check that you're realling running the specified version. what's the output of `about` when you run that in SBT?

[2016-05-30 08:18] asgereir opened #2632 "SBT ignores unmanaged JARs that are manifest files"
I need to include JARs from SAP BusinessObjects' Semantic Layer SDK. This comes as a collection of JARs and a file sl_sdk.jar. The latter is just a manifest file that references all the jars in the SDK.
To be able to package correctly and not have to deal with dependency issues, I want to just reference the sl_sdk. I do not use OSGI.
## steps
1. In my build.sbt file I write:

`unmanagedJars in Com

[2016-05-30 14:25] milessabin commented on #2286
Comment on #2634 would be most welcome.

[2016-05-31 13:07] zygm0nt commented on #2301
Hi, is there any update on this issue? We're experiencing this in our build. Every other deploy attempt ends with this exception.

[2016-06-01 11:17] hvesalai opened #4914 "ConfigurationParser does not support ssh and sftp protocols"
Since the configuration parser creates a java.net.URL of the url given in the configuration, the parsing prevents using protocols not supported by the java.net subsystem. These protocols include ssh and sftp and so at the moment they cannot be used as Repository urls in SBT launcher.

https://github.com/sbt/launcher/blob/67fda77ef33572864980a0c4f66555d5f3ba66e5/launcher-implementation/src/main/sca

[2016-06-01 11:18] hvesalai commented on #4914
As demonstrated by these error messages
`Error during sbt execution: Invalid URL specified for 'my': unknown protocol: ssh`
and
`Error during sbt execution: Invalid URL specified for 'my': unknown protocol: sftp`

[2016-06-01 11:30] hvesalai commented on #4914
One solution would be to use `java.net.URI`, which does not require the referenced protocol to be supported by the system

[2016-06-01 15:52] dwijnand commented on #2572
Fixed in (upcoming) Scala 2.12.0-M5: https://github.com/scala/scala/pull/5192

[2016-06-01 15:52] #2572 closed, assigned to nobody

[2016-06-02 15:03] milessabin commented on #2286
Fixed in #2634.

[2016-06-02 15:04] #2286 closed, assigned to nobody

[2016-06-03 09:53] fommil commented on #2525
If I worked on this, would you accept an Apache 2.0 licensed file? I am not signing the Typesafe CLA because of the deviations from the Apache / Scala CLA, most importantly this clause

[code]

[2016-06-03 20:01] vlad17 commented on #2015
Why isn't the workaround by @eed3si9n the solution (i.e., there's no pull request to resolve this issue)? There should be no breaking changes between minor versions of sbt.

[2016-06-03 20:51] joprice commented on #2056
I would like this as well. In my case, after all tests have completed, whether run as `test` or `testOnly`, or `testQuick`, I want to run a task over the set of files those tests generated.

[2016-06-05 07:33] axos88 commented on #1492
+1

[2016-06-05 18:49] eed3si9n opened #5598 "Persistable datatypes for dependency graph"
There's motivation to persist dependency graph for caching, but current datatypes like `Configuration` and `CrossVersion` are not really friendly for persisting.

`Configuration` appears in `Artifact`, which appears in `ModuleID`, the most basic building block of a dependency graph. It's unlikely that we would want to create a new instance of `Configuration` called `"compile"`, `"runtime"` etc whe

[2016-06-06 11:03] fommil commented on #2534
even being able to get at the `Seq[Configuration]` (i.e. `ivyConfigurations`) outside of a `Setting` context would be really useful for this.

[2016-06-07 03:26] thirstycrow opened #2636 "Multi-line prompts no longer work since 0.13.10"
A newline in the middle of the shell prompt does not work as expected, and it breaks the console color. For example:

[code]

produces the following prompt:

[code]

A preceeding newline does not break console color, but still not work correctly:

[code]

[2016-06-07 03:32] eed3si9n commented on #2636
This is a duplicate of #2480, which has been fixed on 0.13, but hasn't been released.
Could you try a nightly build: `0.13.12-20160526-062513` and see if it works for you?

[2016-06-07 04:03] thirstycrow commented on #2636
Thanks @eed3si9n , the nightly build works fine.

[2016-06-07 04:29] eed3si9n commented on #2636
Awesome. Closing this issue then.

[2016-06-07 04:29] #2636 closed, assigned to nobody

[2016-06-07 04:49] Lvctao commented on #1933
What's the answer?

[2016-06-07 08:29] fommil commented on #2534
@eed3si9n the reason derived task is no good is because the `Seq[Configuration]` needs to be obtained outside of a task assignment. We basically need a `customConfigs` method like this `customConfigs(project).flatMap(projectSettings)` outside of a `Setting` context.

[2016-06-07 08:39] fommil commented on #2534
doh! @dwijnand just pointed out that this sits on `Project` so I have a workaround for manual addition of settings.

[2016-06-07 18:42] EECOLOR commented on #1933
@Lvctao 42

[2016-06-07 18:57] eed3si9n opened #2638 "Publish SNAPSHOT on commit on master"
Instead of nightly build, publish on commit from Travis CI.

[2016-06-07 19:00] dwijnand commented on #2638
I agree, duplicate of #2376?

[2016-06-07 20:05] eed3si9n commented on #2638
#2376 says timestamped. I'm thinking more like per commit as suggested by Miles on Gitter chat.
https://gitter.im/sbt/sbt?at=575716ee07e77197794ffb1a

[2016-06-07 20:18] dwijnand commented on #2638
Timestamped doesn't mean nightly. But anyways the intent is the same, except I prefer timestamps, but we can also just do both.

[2016-06-08 05:09] eed3si9n commented on #2638
I'll close this and comment there.

[2016-06-08 05:09] #2638 closed, assigned to nobody

[2016-06-08 05:12] eed3si9n commented on #2376
#2638 proposed per-commit publishing, but timestamp might make sense since we need to coordinate multiple repositories.

[2016-06-08 06:59] Duhemm commented on #2376
What are the advantages and drawbacks of the different approaches (timestamp vs commit-sha)? Isn't the sha more explicit about what a publication contains?

[2016-06-08 07:05] eed3si9n commented on #2376
The advantage of commit-sha is like you said, is more specific, and we can respond to a specific commit, but the question remains for non-sbt module updates like for Zinc and librarymanagement. Do we pick out the latest from each modules? What if we need to update two repos? Perhaps what we need to do is check in Dbuild configuration that would specify wip branches. Let's say we have that, then th

[2016-06-10 01:16] jmpage commented on #2429
@andyscott by any chance could you elaborate on how you were able to use the `dependencyOverrides` key to get everything to load? I have a project on that is using com.typesafe.play, sbt-plugin, 2.3.9, which requires scalariform 1.2.0 and I'm using sbt-ensime 0.5.1 which requires scalariform 1.6.0. So far, I've tried overriding the scalariform dependency with `dependencyOverrides` in my project's

[2016-06-10 01:28] andyscott commented on #2429
@jmpage My project has been updated so this is no longer needed, but previously I had the following in my `~/.sbt/0.13/plugins/plugins.sbt`:

[code]

I believe there were some other variations where `dependencyOverrides` could be used in the project's build file instead of the global file. I don't have any examples available on short notice.

[2016-06-10 01:30] jmpage commented on #2429
Thank you!

[2016-06-10 06:46] iadcode opened #2639 "-Xlint warnings and -Werror errors are not being parsed or shown"
## steps

1) In my build.sbt, I put this:

[code]

2) From SBT, I run this:

[code]

3) xalan 2.7.2 has a `Class-Path:` entry in its MANIFEST file. Since xalan has been resolved as a managed dependency, the jars listed in the `Class-Path:` entry cannot be located. This becomes a warning due to `-Xlint:path`, and an error due to `-Werror`

[code]
## problem

In SBT 0.13.7, we see this when we execu

[2016-06-10 06:53] jmpage commented on #2429
After more investigation, I managed to isolate the issue to a git dependency. This seems to imply a difference between how plugins are loaded when compiling a dependency from source vs pulling it in as a binary. The problem I encountered can be reproduced with a skeleton project consisting of the following files.

build.sbt:

[code]

project/plugins.sbt:

[code]

I fixed the problem by deleting th

[2016-06-10 16:10] eed3si9n commented on #2620
I have a feeling that these issues might be related to https://github.com/sbt/librarymanagement/issues/45

[2016-06-10 16:11] eed3si9n commented on #2620
If try-catch works, I'm going to close this for now.

[2016-06-10 16:11] #2620 closed, assigned to nobody

[2016-06-10 17:10] eed3si9n commented on #2327
I think this belongs to stackoverflow, and there's an answer posted already, so I'm closing this.

[2016-06-10 17:10] #2327 closed, assigned to nobody

[2016-06-10 17:14] szeiger opened #2640 "Unmanaged `scalaInstance` ends up on test framework's classpath when it shouldn't"
When creating the test classloader in https://github.com/sbt/sbt/blob/54d54b9f4f03e2e3339373ed582f2b19359bea31/testing/src/main/scala/sbt/TestFramework.scala#L196-198, sbt puts the project's `scalaInstance` on the classpath if it is unmanaged.

For some reason the `scalaInstance` in our build (see https://github.com/scala/scala/pull/5190/commits/02d75b39a7141c02d789df1bcbd6a4c74313de1c) is seen as

[2016-06-10 17:16] eed3si9n opened #2641 "extracted.append is not sticky but `:: state` is"
Initially found by @szeiger
## steps

[code]

Run `hi` command twice, and then run `name`
## problem

[code]

I'm not sure if there's a problem in `Project.extract(state)` or `extracted.append`, but the `name` is calculated off of the state from `build.sbt`.
## expectation

[code]
## notes

It works for `hello` command that uses `:: state`.
Shouldn't the new state returned by `extracted.append` st

[2016-06-10 17:22] szeiger commented on #2640
/cc @retronym (who originally discovered the issue)

[2016-06-11 07:26] eed3si9n commented on #1500
I'm going to close this as a duplicate of #2002.
This issue was reported earlier but I think more in depth comments are made on #2002.

[2016-06-11 07:26] #1500 closed, assigned to nobody

[2016-06-11 23:41] dwijnand commented on #2611
I'll take care of this.

[2016-06-13 13:52] ram-argus opened #2643 "le"
(See the guidelines for contributing, linked above)
## steps
## problem
## expectation
## notes

[2016-06-13 13:54] #2643 closed, assigned to nobody

[2016-06-14 01:35] htmldoug commented on #2047
I encountered this too.

I think the problem may be that `test:copyResources` is looking for `resourceManaged in Test`, but the resource generator above puts the files in the global `resourceManaged` directory instead.

They have very different values:

| scala | directory |
| --- | --- |
| resourceManaged.value | target/scala-2.11/resource_managed |
| (resourceManaged in Compile).value | target/s

[2016-06-14 16:16] kevinmeredith commented on #2442
Does this [gist](https://gist.github.com/kevinmeredith/706cb44d2e984ad838aad7ded4c048a6) indicate its success, @eed3si9n?

[2016-06-14 17:47] eed3si9n commented on #2442
@kevinmeredith Reading this issue over today, I now think sbt/sbt#1890 is unrelated.
As @smarter wrote:

[2016-06-15 09:06] eed3si9n commented on #5598
http://martinfowler.com/eaaCatalog/registry.html

[2016-06-15 22:19] SmedbergM commented on #2274
+1

[2016-06-16 11:50] samuelgruetter commented on #911
:+1:

[2016-06-17 20:30] reactormonk commented on #1789
Just in case anyone comes across this, `Path.allSubpaths`

[2016-06-17 21:36] #2624 closed, assigned to nobody

[2016-06-17 21:39] eed3si9n opened #2644 "def projects that's available from build.sbt"
Ref #2183

[2016-06-17 21:55] eed3si9n opened #2645 "AutoPlugin additionalProjects"
As transition path from `sbt.Build`, consider defining the following method to AutoPlugin:

[code]
## expectation

When an auto plugin is enabled, it adds `additionalProjects` to the build.
## notes

I'm not 100% sure if this feature is feasible. By the time auto plugins are enabled per subprojects, Load should know the list of subprojects already.

[2016-06-20 19:49] jamesward opened #2647 "Maven Version Range Sets in Transitives Do Not Work"
## steps

Specify a dependency which contains a transitive dependency using a Maven Version Range Set, like:

[code]
## problem

[code]
## expectation

This works fine in Maven.
## notes

This should work according to: https://maven.apache.org/enforcer/enforcer-rules/versionRanges.html

[2016-06-21 10:58] dwijnand opened #2648 "Scripted should do less"
## steps

`scripted`
## problem

Scripted does too much, such as compile the scaladocs, package a source jar, deliver the pom, etc which aren't necessary and just slow down the feedback loop, as well as make a lot of noise, eg. show scaladoc warnings, a snippet:

[code]
## expectation

Scripted does its job quickly and without superfluous noise.

[2016-06-21 15:03] dwijnand commented on #1815
Warning no-ops aside, I think `scalacOptions in console` should do what it says on the tin.

[2016-06-21 23:50] allentiak commented on #2266
Just for you to know: I am using SBT 0.13.11, and when it updates dependencies, there is still a reference to this (already closed) bug:

`
$sbt gen-ensime
`
[...]
`
[info] ENSIME update. Please vote for https://github.com/sbt/sbt/issues/2266
`
[...]

[2016-06-22 06:25] fommil commented on #2266
That's because you're using an ancient version of ensime. Please read the documentation.

[2016-06-22 13:37] joan38 opened #2650 "Unable to reparse org.apache.flink#flink-parent;1.1-SNAPSHOT from"
Hi,

When I `update` I get those looping warnings:

[code]

This makes SBT unusable as it's extremely slow.

The affected versions are 0.13.11 and 0.13.10 only, it works well with 0.13.9

Cheers

[2016-06-22 22:38] eed3si9n commented on #2650
SNAPSHOT is slow because to guarantee it's using the latest it needs to check all the resolvers.
You can try disabling this behavior as follows:

[code]

In general I don't recommend using SNAPSHOTs unless you're doing a quick integration test  locally.

[2016-06-22 23:10] joan38 commented on #2650
Thanks for the disable config option.

But surely there is something going wrong as it says "Unable to reparse org.apache.flink" in a warning.
Is this the expected behavior? Why did it change from 0.13.10?

Thanks

[2016-06-23 13:41] hvesalai commented on #1156
Could we have an option to completely ignore this. I've got a multiproject build where I aggregate submodules so that publishing the main project publishes the submodules. Each submodule has its own version so often the submodule has already been published. I would like publish to work so that I can instruct it to just quietly fail if the artifact already exists (and to overwrite it if it is SNAPS

[2016-06-27 11:37] frgomes commented on #1414
I'd like to suggest that logging messages and all other informational messages are redirected to _stderr_, not _stdout_. The main reason lies behind the ability of writing Scala Scripts, which would send useful output to _stdout_.

[2016-06-27 11:38] frgomes commented on #840
I'd like to suggest that logging messages and all other informational messages are redirected to _stderr_, not _stdout_. The main reason lies behind the ability of writing Scala Scripts, which would send useful output to _stdout_.

[2016-06-27 14:17] drdozer commented on #2497
I think I'm hitting this. My stacktrace is:

[code]

[2016-06-27 14:54] eed3si9n commented on #2497
@drdozer Could you try the nightly `0.13.12-20160610-062406` and see if that solves your issue?

[2016-06-27 19:31] anovstrup commented on #2203
Another note relating to the workarounds: if you _do_ combine `*.sbt` and `project/*.scala` files, the issue only arises if the key is defined in a `*.sbt` file. Moving the key definition (the `lazy val myKey = settingKey[Boolean]("My key")` part) into my `project/Build.scala` eliminated the issue for me.

[2016-06-27 20:42] lambdaknight commented on #1583
So, in my particular case, `buildInfoKeys` is simply set to `version`, which is a plain ol' SettingKey, so it should never even touch that `extracted.runTask(...)` code.

[2016-06-27 20:54] dwijnand commented on #2203
Here is the full reproduction steps, minimised as best I could.

## steps

**project/build.properties**

[code]

**project/Utils.scala**

[code]

**admin.sbt**

[code]

**build.sbt**

[code]

## problem

[code]

## expectation

Sets port as expected

## notes

The workaround is to not redefine the key as a `val` in `build.sbt`, but use an import instead.

Also note that the order of the *.sbt file

[2016-06-28 07:03] DavidPerezIngeniero commented on #2203
Thanks dwijnand for your effort.

The idea of file sorting is simple to try.
When I have time, I'll tell you.

[2016-07-01 12:51] hvesalai commented on #1210
What's the status with this. Just run into it my self. Is there a workaround?

[2016-07-01 13:45] hvesalai commented on #1210
Ah.. it was simple, I just needed to provide the project axis in the key, so in my case `val publishKey = Keys.`package` in (extracted.currentRef, Compile)` is enough. So actually the only thing that is broken is the scaladoc, which falsely states that "If the project axis is not defined for the key, it is resolved to be the current project."

[2016-07-01 16:51] sebastienrainville commented on #2301
FYI we had this problem as well when using sbt-assembly 0.14.0 and it's fixed now with sbt-assembly 0.14.3. Like in the build file above we are using shading and I believe that was causing the problem. It seems that it was fixed by this: https://github.com/sbt/sbt-assembly/pull/197

[2016-07-01 19:49] dwijnand commented on #2301
I'm happy to go with that and close this ticket.

[2016-07-04 08:46] zygm0nt commented on #2301
I've updated sbt-assembly to 0.14.3 - and this did not solve my case. I'm still experiencing the same thing with updated version.

[2016-07-04 21:31] dwijnand commented on #2171
I tried to do this but "everything" depends on version. And as @eed3si9n quite rightly pointed out, sometimes a release is done over multiple task runs, so it's important that version is stable between runs.

[2016-07-04 21:31] #2171 closed, assigned to nobody

[2016-07-04 21:51] dwijnand commented on #2611
@eed3si9n Did you use a code standard setting in https://www.codacy.com/app/eed3si9n/sbt/dashboard ? If not, could you export and share your settings please? I'm trying to mirror your setup, thanks.

[2016-07-04 21:55] eed3si9n commented on #2611
@dwijnand https://gist.github.com/eed3si9n/c80926386de6ce174e31b7a419b988d4

[2016-07-04 22:02] dwijnand commented on #2611
Looks like codacy's import doesn't work.. getting "Unsupported format".

[2016-07-04 23:24] eed3si9n commented on #2611
@dwijnand Works for me using the file I downloaded and picking "Codacy" format.
Did I copy-paste the JSON incorrectly?

[2016-07-05 00:50] vidhyaarvind commented on #2422
@JosephEarl have you solved this? i am encountering the same issue

[2016-07-05 07:23] dwijnand commented on #2611
I tried the updated gist.. still nothing. `¯\_(ツ)_/¯`

Here's what it looks like:

![Unsupported format](http://i.imgur.com/rKc4exI.png)

[2016-07-05 10:39] olga-gorun commented on #2422
I also get such a problem (sbt publish success when publishing from nexus server and fails with the same error from remote one). I think that following link can be relevant: https://support.sonatype.com/hc/en-us/articles/218101688-Ivy-deploy-fails-intermittently-with-java-io-IOException-Error-writing-to-server-

The question is: how to use this workaround in case of sbt

[2016-07-05 15:34] vidhyaarvind commented on #2422
@olga-gorun yes I saw the post as well and I reduced the bundle size(zip) and the publish went through without issues. The message size was the issue in my case.

[2016-07-05 16:03] olga-gorun commented on #2422
Hi @vidhyaarvind ,
Thank you for response. Do you mean that you upload a zip of all artifacts (assembly jar, javadocs, sources....) or that you succeeded to decrease size of assembly jar itself?

In both cases what have you done for this with sbt (or it is something project-specific)?

[2016-07-05 16:08] olga-gorun commented on #2422
The link I mentioned provides workaround for TCP window problem. "Put the following jars on the classpath in addition to the ivy.jar file:

commons-codec.jar
commons-httpclient.jar
commons-logging.jar"

How can I do it in case of sbt

[2016-07-05 16:33] vidhyaarvind commented on #2422
@olga-gorun Correct, it would be nice to know how to do this in case of SBT to push large bundles. What   I did is a temp size fix of my bundle size to unblock myself. My bundle typically is assembly jar + bundle of ansible files. I am now pushing them as 2 separate entries to Nexus.

[2016-07-05 17:09] olga-gorun commented on #2422
I see. Thank you for response

[2016-07-06 15:11] eed3si9n opened #2654 "Option to turn off the new macro recompilation info message"
Ref #2614 #2637

@milessabin wrote:

[code]

[2016-07-06 21:04] mkurz commented on #1431
Can this get a higher priority?
IMHO this issue is a bug - not an "enhancement".

We just ran into the limitation of sbt not supporting wildcard exclusions when using Hibernate 5.2.1:
https://hibernate.atlassian.net/browse/HHH-10916
Hibernate has a dependency on `dom4j` which excludes all transitive dependencies:

[code]

The problem is that now even `dom4j` itself isn't resolved by sbt and we end

[2016-07-06 21:07] mkurz commented on #1431
Infos:
https://maven.apache.org/docs/3.2.1/release-notes.html#Transitive_dependency_excludes_MNG-2315
https://issues.apache.org/jira/browse/MNG-2315

[2016-07-06 21:15] eed3si9n commented on #1431
@mkurz Thanks for clearing that up.

[2016-07-07 08:13] mkurz commented on #1431
@eed3si9n Thanks! Hopefully this get fixed soon...

[2016-07-07 08:26] mkurz commented on #2276
@jroper I think maven 3.2 has this feature you are looking for:
https://maven.apache.org/docs/3.2.1/release-notes.html#Transitive_dependency_excludes_MNG-2315
https://issues.apache.org/jira/browse/MNG-2315

[2016-07-07 08:27] mkurz commented on #2276
#1431 is also somhow releated.

[2016-07-07 09:42] dwijnand opened #2657 "Travis should run code formatting and fail the build if anything changed"

[2016-07-07 17:06] dwijnand commented on #2611
https://github.com/sbt/sbt/pull/2655

[2016-07-07 17:08] eed3si9n commented on #2611
Where it says "Brakeman" change it to "Codacy".

[2016-07-07 17:12] dwijnand commented on #2611
Doh! Worked. Thanks.

[2016-07-07 17:37] dwijnand commented on #2614
This isn't in the default branch (1.0.x), but it is in 0.13.12, which is what the issue is targeting. So I'm going to close it given #2637 was merged, and it's in 0.13.12-RC1.

[2016-07-07 17:37] #2614 closed, assigned to nobody

[2016-07-07 17:37] dwijnand commented on #2504
Is this a blocker for 0.13.12?

[2016-07-07 17:38] eed3si9n commented on #2614
Don't we have to forward port?

[2016-07-07 17:38] dwijnand commented on #2654
How do we want to provide an option to turn this off?

[2016-07-07 17:39] dwijnand commented on #2654
Also do we want to keep it default on or off?

[2016-07-07 17:40] eed3si9n commented on #2504
@dwijnand Fixed in 0.13.12, but not sure if it's forward ported.

[2016-07-07 17:41] eed3si9n commented on #2654
The whole point of it is to inform the general public about intentional over-compilation, so it should be on by default.

[2016-07-07 17:41] dwijnand commented on #2352
Added #2637

[2016-07-07 17:41] dwijnand commented on #2614
Yes. Added to #2352. Good shout.

[2016-07-07 17:43] dwijnand commented on #2504
Ok cool. Forward ported in sbt/zinc#90, so we're done here.

[2016-07-07 17:43] #2504 closed, assigned to gkossakowski

[2016-07-07 22:05] hsn10 commented on #2609
I have same problem:

name := "dukascopy repo test"

scalaVersion := "2.11.8"

resolvers += "DC Public" at "http://www.dukascopy.com/client/jforexlib/publicrepo/"

libraryDependencies ++= Seq(
        "com.dukascopy.dds2" % "DDS2-jClient-JForex" % "2.45.46",
        "com.dukascopy.api" % "JForex-API" % "2.12.40"
                        )

[2016-07-07 22:46] #2611 closed, assigned to nobody

[2016-07-07 23:15] dwijnand opened #2658 "Consider using a non-SNAPSHOT version for scripted tests"
## steps

`scripted`
## problem

Scripted takes a long time to run. Testing manually (via `$ pause`) shows (at least in part) that it takes a long time to resolve all the pieces of sbt, due to the fact that it's a SNAPSHOT version.
## expectation

Quick feedback loop.
## notes

Related to #2648 ("Scripted should do less").

[2016-07-08 01:04] dwijnand commented on #2644
Oh, this is actually duplicate of #2532

[2016-07-08 01:04] #2644 closed, assigned to nobody

[2016-07-08 01:07] dwijnand commented on #2144
What's the plan here? sjson-new? json4s-ast?

[2016-07-08 01:17] dwijnand commented on #1373
This works in 0.13.11, and it also works in 0.13.5.

[2016-07-08 01:19] dwijnand commented on #1373
Also, completion of build-level keys is better in 0.13.12+

[2016-07-08 01:19] dwijnand commented on #1373
Also, completion of build-level keys is better in 0.13.12+: https://github.com/sbt/sbt/pull/2469

[2016-07-08 01:28] dwijnand commented on #1146
How do we feel about this now? Shall we try and do it for 1.0.0?

[2016-07-08 01:34] dwijnand commented on #1077
Given the 1.0.x branch is successfully building on Scala 2.11, whatever changes _needed_ to be done, must've been done.

[2016-07-08 01:34] #1077 closed, assigned to nobody

[2016-07-08 01:38] dwijnand commented on #934
Done in https://github.com/sbt/zinc/pull/6

[2016-07-08 01:38] #934 closed, assigned to nobody

[2016-07-08 01:41] dwijnand commented on #911
This is already possible:
- See https://github.com/sbt/junit-interface/issues/36#issuecomment-31817126
- and see `--tests` in https://github.com/sbt/junit-interface/blob/0.11/README.md

[2016-07-08 01:41] #911 closed, assigned to nobody

[2016-07-08 01:52] dwijnand commented on #2619
aka sbt-compat

[2016-07-08 01:54] dwijnand opened #2660 "Create a sbt-compat as a migration tool to 1.x"
See https://github.com/sbt/sbt/issues/2619

[2016-07-08 02:06] eed3si9n commented on #2144
sjson-new + SLIP-28 JSON

[2016-07-08 02:14] dwijnand commented on #2020
For 1. https://dl.bintray.com/sbt/ivy-snapshots is addressable at https://repo.scala-sbt.org/scalasbt/ivy-snapshots

For 2. I've fixed this in sbt-extras: https://github.com/paulp/sbt-extras/pull/120

I don't understand 3.

Btw, there are gaps in the nightly builds.

[2016-07-08 02:30] eed3si9n commented on #1146
Sure. I'm ok with putting it on `doc`, but what about all other tasks like `run`?

[2016-07-08 02:32] dwijnand commented on #1146
There's also `scalacOptions`.. yeah I don't know.

[2016-07-08 03:15] dwijnand commented on #2579
@fommil where can I read about this use-case in the context of ensime? I want to understand:
- why is it looking for scalaVersion on the root project?
- what's it doing with that version?
- what happens if there's an outlier sub-project on another version (such as an sbt 0.13 plugin)?

[2016-07-08 06:21] fommil commented on #2579
It's using the scala version to know which version of ensime to use.

[2016-07-08 09:08] dwijnand commented on #2579
what happens if there's an outlier sub-project on another version (such as an sbt 0.13 plugin)?

[2016-07-08 10:22] fommil commented on #2579
ensime will use the root project version of scala. We basically don't support this, but we have support to allow the user to create a `.ensime` excluding that subproject, and it should be possible to create a custom workflow to have a `.ensime` for that one subproject using the different version of scala.

[2016-07-08 10:51] dwijnand commented on #2579
So ensime doesn't support having variant scala versions, which to be fair is a pretty rare (even sbt doesn't fully support it, given sbt-doge is needed to fix `+`).

So I'd say the build isn't "broken", it's either very niche or (more probably) miss-configured. I think this could more easily solved in sbt-ensime when running `ensimeConfig`, but I'm happy to provide a warning (with opt-out) in sbt

[2016-07-08 11:53] #2082 closed, assigned to nobody

[2016-07-08 13:02] fommil commented on #2579
FYI

[code]

[2016-07-08 13:13] dwijnand commented on #2579
Oh right, thanks Sam.

[2016-07-08 13:32] dwijnand commented on #2654
PR merged. Forward port issue is at https://github.com/sbt/zinc/issues/142.

[2016-07-08 13:32] #2654 closed, assigned to nobody

[2016-07-08 15:43] eed3si9n opened #2664 "sbt server reboot"
http://eed3si9n.com/sbt-server-reboot describes a starting point of the rebooted sbt server.

[2016-07-08 20:01] distinctdan opened #2665 "Windows installer sets Path environment variable incorrectly"
The windows installer set the sbt path incorrectly. It added a double backslash somewhere, I think it was like `C:\Program Files (x86)\\sbt\bin`, which of course caused it to point to the wrong place. After I removed the double backslash, it appeared to be working fine. I'm running Windows 10.

[2016-07-10 00:31] jeffrey-aguilera commented on #1414
`sbt` is WAY too noisy.  A simple call to `sbt about` can print hundreds of lines of meaningless information.

[2016-07-11 17:14] dportabella opened #2666 "when fetching a maven dependency, sbt fails to evaluate a property at runtime and select the profile"
this maven artifact depends on a dependency with a variable that needs to be evaluated at runtime.
`"org.apache.hbase" % "hbase-testing-util" % "1.2.1"` depends on `org.apache.hbase:${compat.module}:1.2.1`

maven correctly evaluates the variable at runtime, selects the right profile, and then gets the said dependency (variables are allowed in all parts of dependency coordinates). This artifact rel

[2016-07-11 17:43] dwijnand commented on #2666
This is probably more a limitation of Apache Ivy, for which sbt uses a forked version (https://github.com/sbt/ivy).

This issue was also reported in #1774.

[2016-07-11 18:33] busbey commented on #2666
does Ivy handle the profile activation or just dependencies once handed an effective pom?

[2016-07-12 07:30] retronym opened #2668 "Consider a "no build config found, are you in the right directory?" warning at startup"
## problem

When SBT is started in a directory without `*.sbt` or `./project/*.scala`, SBT will soldier on, using defaults and config from the home directory.

The SBT-extras launcher script issues a error in this case, [requiring `-sbt-create` to continue](https://github.com/paulp/sbt-extras/blob/e428bbdb514e1ffe245010b3c4f69e9dfa4bbdb3/sbt#L311). I think this warning is useful enough to move int

[2016-07-12 07:35] dwijnand opened #2669 "Enforce that sbt.version is defined in project/build.properties"
Inspired by #2668, I think that the presence of sbt.version in project/build.properties should be enforced on startup.

[2016-07-12 07:36] dwijnand commented on #2668
I agree. I also created https://github.com/sbt/sbt/issues/2669 as a related issue.

[2016-07-12 07:38] retronym commented on #2669
Duplicate (modulo the choice of error/warning) of #754

[2016-07-12 07:38] #2669 closed, assigned to nobody

[2016-07-12 10:55] sirmax opened #2671 "SBT ignores `updateOptions` defined at `ThisBuild` level"
## steps

Create a build that sets `updateOptions` at `ThisBuild` level:

[code]
## problem

`updateOptions` in `sub` project ignore `ThisBuild` settings.

[code]
## expectation

`ThisBuild` settings should be taken into account.
## notes

As a workaround one may set `updateOptions` at `Global` level instead:

[code]

[code]

This is caused by SBT `Defaults` explicitly injecting `updateOptions` fr

[2016-07-12 13:05] soc commented on #2668
Wasn't one of the big talking points of SBT that one could start it with zero configuration and have it work? (Probably even more important in relation to #2669.)

[2016-07-12 13:16] dwijnand commented on #2668
Was it? I think it's a good feature, but not a blocker for 1.0.0, and should be carefully weighed against this and #2669's use case.

[2016-07-12 15:35] eed3si9n commented on #2668
Yes. When Mark first demo'ed sbt 0.9 I remember him starting up sbt without any configuration and interactively adding settings via `set name := "hello"` and `session save`. When Josh or I give intro to sbt talks, we also do something similar to showcase that you can use sbt in its default state for a while.

Displaying a warning I don't think necessarily conflicts with sbt being functional withou

[2016-07-12 15:36] eed3si9n commented on #754
We should just create one automatically if it's not there at startup.

[2016-07-12 15:50] soc commented on #2668
@eed3si9n In #2669 more than a warning is considered.

[2016-07-12 15:57] dwijnand commented on #754
@eed3si9n Sure, but only after being prompted. Otherwise we run the risk of creating `build.properties` files in random locations when the user is in the wrong directory (eg. in `src/`).

[2016-07-12 16:57] fchaillou commented on #937
@eed3si9n I'm also expericing it with 0.13.11.
running `sbt test` hangs once in a while on my machine or jenkins in a large multi module project.

Any workaround for now ?
Thanks.

[2016-07-12 17:09] eed3si9n commented on #937
Workaround for now would be bump up the open file limits on the OS, and reduce the parallelism during testing or fork the tests - http://www.scala-sbt.org/0.13/docs/Parallel-Execution.html

[2016-07-13 12:43] sirmax opened #2674 "SBT does not detect external .ivy changes with cached resolution enabled"
## steps

A build with cached resolution enabled and some dependency

[code]

A source file `src/main/scala/Main.scala` that uses this dependency

[code]

`compile` from a clean state works as expected. SBT updates the dependency and compiles the source.

Now, let's emulate an external change to `.ivy` cache – `rm -rf ~/.ivy2/cache/com.typesafe/config/`

Introduce any change to the source code to

[2016-07-13 13:08] sirmax opened #2675 "SBT uses existing resolution cache even when cached resolution is off"
This is a followup to #2674.
## steps

Perform the steps of #2674 upon the point where the compilation fails.

Remove the cached resolution from the build

[code]

Reload SBT (both `reload` and rerunning `sbt` work identically).
## problem

`compile` still fails

[code]

In this case, unlike #2674, `update` will download the missing dependency and fix the problem.
## expectation

`compile` works.

[2016-07-15 02:35] #2671 closed, assigned to nobody

[2016-07-16 17:32] abrighton commented on #413
What if you need to use SNAPSHOT dependencies because you have multiple sbt projects that are not in a single multi-project build? The dependency resolution is very slow, caching won't work, and even setting offline := true does not work, since sbt (or ivy) goes online anyway...

[2016-07-18 15:10] #2195 closed, assigned to nobody

[2016-07-18 23:29] #2657 closed, assigned to nobody

[2016-07-19 01:31] pauldraper opened #2677 "Tags.ForkedTestGroup doesn't work"
http://www.scala-sbt.org/0.13/docs/Testing.html

---

project/build.properties

[code]

build.sbt

[code]

src/test/scala/example/Test.scala

[code]

---

Then

[code]

It should take at least 20 seconds to finish the tests, but `ForkedTestGroup` doesn't actually limit the number of forked test groups that run at a time.

[2016-07-19 01:46] pauldraper commented on #2677
The issue is that the wrong task is being tagged. Workaround:

[code]

[2016-07-19 10:59] SRGOM commented on #2517
I was under the impression that project/Build.scala had been deprecated.

[2016-07-20 12:11] zoosky opened #2679 "How to use sbt behind a proxy / firewall that blocks downloading jars?"
## steps

Install Linux sbt-launcher.jar

start sbt
## problem

:: USE VERBOSE OR DEBUG MESSAGE LEVEL FOR MORE DETAILS
download failed: org.scala-sbt#main;0.13.12!main.jar
download failed: org.scala-sbt#actions;0.13.12!actions.jar
download failed: org.scala-sbt#io;0.13.12!io.jar
download failed: org.scala-sbt#completion;0.13.12!completion.jar
download failed: org.scala-sbt#collections;0.13.12!coll

[2016-07-21 06:27] evhen14 commented on #2679
I don't think it is a proxy issue. There are no just folders on the repo web-site. For example: https://dl.bintray.com/typesafe/ivy-releases/org.scala-sbt/ it should contain io or collections folder

[2016-07-21 07:52] evhen14 commented on #2679
I had just the same problem and after some research I found out that in my case the issue is not with firewall or proxy but with the way java9 started to treat jar files. For more info go here: http://blog.codefx.org/java/dev/how-java-9-and-project-jigsaw-may-break-your-code/#New-URL-Schema-For-Runtime-Image-Content

As a result  I downgraded to java8 and it works great. Hope it will be helpful.

[2016-07-21 20:52] zoosky commented on #2679
In my case I use JDK 1.8.0.

The problem might stem from bintray jars /CDN using self signed certificates.

[2016-07-21 21:13] eed3si9n commented on #2679
The sbt issue tracker is not a support system. Please see [how can I get help?](http://www.scala-sbt.org/community.html#how-can-I-get-help)
Unless there's something we can reproduce or if you can identify some action we can take, this case will sit indefinitely, so I suggest we close it.

[2016-07-21 21:15] eed3si9n commented on #2679
See also http://www.scala-sbt.org/0.13/docs/Proxy-Repositories.html for hitting something other than the Internet.

[2016-07-22 11:36] rgladwell opened #2680 "Updated snapshot versions not being downloaded"
Updated snapshot versions do not appear to be downloaded/updated on a typical sbt command (i.e. `sbt compile`).
## steps
1. `sbt publish` snapshot dependency
2. `sbt compile` in a project consuming the same snapshot dependency.
3. Modify snapshot project
4. `sbt publish` snapshot dependency
5. `sbt compile` in a project consuming the same snapshot dependency.
## problem

`/.ivy2/cache` contains th

[2016-07-22 11:41] rgladwell commented on #2680
NB adding:

[code]

To my `build.sbt` does not seem to resolve this issue.

[2016-07-22 11:50] dwijnand commented on #2680
That page says:

I think this is expected behaviour. Think of the performance impact of always checking every snapshot dependency against every resolver.

Also, (I'm pretty sure) you're seeing dependencies be downloaded when a certain timespan has passed - I think it's 24 hours, so every 24h snapshots will be downloaded even with just `compile`.

[2016-07-22 11:55] rgladwell commented on #2680
That section seems to contradict the note I linked to:

If an `sbt update` was required to update SNAPSHOT dependencies then the same should be true for dependencies marked as `changing()`. However, dependencies marked as `changing()` always update outside of the `update` goal.

I also note the section you quote doesn't explicitly say the update task is _required_ to refresh  remote SNAPSHOT depen

[2016-07-22 12:50] dwijnand commented on #2680
I think the current behaviour is what we want.

But I do see the discrepancy/contradiction/confusion, so I think we should improve the documentation here. Given what you've found, would you like to contribute to improve the documentation for this?

[2016-07-22 13:39] rgladwell commented on #2680
It's disappointing that SBT handles SNAPSHOT versions in an unexpected and non-standard way. Are there any plans to change this to make this behaviour more usable and conventional in the future?

[2016-07-22 13:42] dwijnand commented on #2680
What standard and/or convention are you referring to?

Also, why is using `update` or `changing()` not sufficiently usable for you?

[2016-07-22 13:46] rgladwell commented on #2680
I think most developers would expect SNAPSHOT versions to be downloaded on each dependency resolution pass, matching the behaviour of Maven. I.e. if you would expect a task/goal to resolve dependencies it should also refresh SNAPSHOT dependencies.

Not doing so seems surprising and good usability is about satisfying user's expectations.

[2016-07-22 13:52] dwijnand commented on #2680
No, Maven has a `-U` flag specifically to update snapshots.

Sbt has the `update` task, or you can use `changing()` on the dependency.

It's not feasible to do this every time, but perhaps you would like to contribute this as a feature to sbt.

[2016-07-22 16:02] zoosky commented on #2679
@eed3si9n thanks for the poiners. I used sbt in the described environment successfully over the last 2 years. Sometime in the last 3 months things changed.. I'll try to provide some logs.

[2016-07-22 16:42] eed3si9n commented on #2680
As Dale wrote, that's not how Maven works.

I don't think we have TTL on the SNAPSHOTs. The `update` task is cached if the input doesn't change.

Suppose we implemented always-hit-the-Internet semantics for all SNAPSHOTs:
- The performance will be horrible for projects with 20 subprojects, because it will hit the Internet 20 times.
- You won't be able to code when the network goes down or when you

[2016-07-22 16:42] #2680 closed, assigned to nobody

[2016-07-22 19:40] noahlz commented on #1518
:+1:

[2016-07-26 01:25] zhou-jg opened #2684 "Path setting error on Windows when sbt being installed"
(See the guidelines for contributing, linked above)
## steps

I download the sbt-1.0.0-M4.msi from [https://dl.bintray.com/sbt/native-packages/sbt/1.0.0-M4/sbt-1.0.0-M4.msi] and installed it on my Window 7 system.
## problem

When I type "sbt ...." in an console window to execute the command, an error message occurs, which says sbt is not a inner command, i.e., the system cannot find the command.

[2016-07-26 04:49] inkytonik commented on #2156
Is there any progress on this issue? We are seeing it somewhat often on a nightly build of our Kiama project on Cloudbees. It fails in this a way about 10% of the time. I've included a link to the Cloudless project and a failing build, but let me know if more information would be useful.

project: https://inkytonik.ci.cloudbees.com/job/Kiama/
a failing build: https://inkytonik.ci.cloudbees.com/job

[2016-07-26 16:29] mosesn opened #2685 "scripted can't find an sbt jar to use"
## steps

This isn't really a reproduction case, but I can describe what I've done.

I've been trying to pull https://github.com/twitter/scrooge/pull/234 into our internal repository, but it fails because it adds a `scripted` test with the `scripted` plugin.

The failure is along the lines of:

[code]

or

[code]

depending on how I configure `scripted`.
## problem

It works locally (where I have

[2016-07-26 19:41] metasim commented on #2203
I'm having a similar problem (sbt 0.13.11):

I have three `.sbt` files in the project root: `build.sbt`, `buildinfo.sbt`, `manual.sbt`. The last defines a custom key called `includeManual`:

[code]

Inspect works fine:

[code]

Changing the setting doesn't:

[code]

Edit: Also happens in sbt 0.13.10.

[2016-07-26 20:11] dwijnand commented on #2203
@metasim is `includeManual` defined or used anywhere else?

Do you have a minimised case that's different to mine?

[2016-07-26 20:17] metasim commented on #2203
It's not used anywhere else... defined and used in the same file. The difference is a) it's not defined in an `object`, and b) it's defined in an `.sbt` file.

[2016-07-26 20:32] dwijnand commented on #2203
That is interesting @metasim, thank you. Further minimise from mine above, and yours:

**build.sbt**

[code]

**manual.sbt**

[code]

[code]

[2016-07-26 22:42] metasim commented on #2203
@dwijnand Wow! Can't get much more minimalist than that!

[2016-07-28 11:53] zoosky commented on #2679
Here is the sbt update.log

**Edit:** moved the long log to https://gist.github.com/eed3si9n/3bfbffb1737625ec25e5fae688fe311e

[2016-07-28 12:33] zoosky commented on #2679
The Issue might stem from an invalid Typesafe Certificate:

`typesafe-ivy-releases: downloading https://repo.typesafe.com/typesafe/ivy-releases/org.scala-sbt/main/0.13.12/jars/main.jar
to /home/aem/.ivy2/cache/org.scala-sbt/main/jars/main-0.13.12.jar.part
WARN: [FAILED ] org.scala-sbt#main;0.13.12!main.jar: sun.security.validator.ValidatorException: PKIX path building failed: sun.security.provider

[2016-07-28 20:13] tstone commented on #343
For those that find this via google, this Stack Overflow question has a number of possible solutions:

http://stackoverflow.com/questions/18895063/how-to-run-subprojects-tests-including-setup-methods-sequentially-when-testing

[2016-07-28 21:36] dwijnand commented on #2234
Deprecated in https://github.com/sbt/sbt/commit/c669606999193ab06dec825733fbd68a3afe4d3b#diff-0d09402e8806973a38e3277a9060218bR391.

Does anyone have any insights as to why it was deprecated?

[2016-07-28 22:18] eed3si9n commented on #2234
Well, it's not "deprecated" in the sense that it's going obsolete, but it's saying it will be marked private, because it's not part of the public API that sbt wants to promise.
It's just another example of internal details exposed.

[2016-07-28 22:33] pfn commented on #2234
It's something I'm ending up using pretty often. For sbt-android, I use it
to make sure dynamic settings go into the correct scope (i.e. via the
'variant' command)

In sbt-unused, I'm using it to get a list of referenced keys, and today, I
wrote something that graphs out settings relationships, also used to get a
list of key-reference relationships. sbt.SettingGraph does something
similar, but not

[2016-07-29 18:00] dragisak commented on #2015
There seems to be a regression in 0.13.12 regarding to this bug. With our project, we don't get "impossible to get artifacts ..." with 0.13.11. But with 0.13.12, we do.

[2016-07-29 22:48] jastice opened #2686 "updateSbtClassifiers broken with sbt 0.13.12 on Scala 2.9 projects"
## steps

Create a simple project with this in `build.sbt`:

[code]

run `sbt -Dsbt.version=0.13.12 updateSbtClassifiers`
## problem

Task fails with resolve error:

[code]
## notes

This problem does not occur up to sbt 0.13.11

[2016-07-29 23:02] dwijnand commented on #2686
I wonder if this is fallout from #2634. (/cc @milessabin).

[2016-07-30 01:57] eed3si9n commented on #2686
Interesting. Because of the precompiled compiler bridges, sbt does depend on multiple Scala versions.

[2016-07-30 10:26] milessabin commented on #2686
I think it probably is a consequence of #2634. I'll investigate ... feel free to assign to me.

[2016-07-30 10:58] dwijnand commented on #2686
I would assign you if I could. I think you need to join the sbt org to do so. /cc @eed3si9n

[2016-07-30 17:35] eed3si9n commented on #2686
@milessabin Invited you to sbt-committer team.

[2016-07-30 19:32] milessabin commented on #2686
Thanks!

[2016-07-30 19:39] dwijnand commented on #2686
Welcome!

[2016-07-30 19:52] paulp commented on #2093
I came to report this. It was specifically GitVersioning I wanted to depend on, not that it matters.

Look at the choice you're presenting to a plugin author with the existing trigger options.

1) I can depend on no other plugins, and my plugin will be added to projects automatically with a single line. Installation instructions are to add one line to one file and it just works.
2) If I have _any_

[2016-07-30 19:59] dwijnand commented on #2093
(By the by, here's an alternative workaround: https://github.com/sbt/sbt-houserules/blob/v0.3.1/src/main/scala/sbt/houserules/BetterGitVersionPlugin.scala)

[2016-07-30 20:07] paulp commented on #2093
@dwijnand Are you saying that will work correctly even if the project doesn't manually enable the GitVersioning plugin? Because that has to be a bug in sbt! If I can magically make the project depend on another plugin by adding a build setting which uses it, then it would be truly pointless to prevent me from depending on it more straightforwardly.

And if the project has to enable GitVersioning f

[2016-07-30 20:16] dwijnand commented on #2093
Yeah it doesn't require `GitVersioning` to be enabled - it's effectively re-defining `GitVersioning`, but now it auto-triggers.

[2016-07-30 20:26] paulp commented on #2093
You're bringing in the git plugin code as a "classic" dependency rather than a "plugin" dependency. What happens if they do enable GitVersioning? What happens if they explicitly include a slightly different version in their plugins.sbt, is there some facility for resolving conflicts which arise this way?

Mostly it seems to reinforce what I said earlier, that people are going to reuse code and you

[2016-07-30 20:30] paulp commented on #2093
I think I'm still confused how your workaround works. By what means does GitPlugin become enabled in the project, given that they have not listed it as a dependency?

[2016-07-30 20:45] paulp commented on #2093
@dwijnand The method you describe DOES work for GitPlugin but DOES NOT work for GitVersioning. I see now, GitPlugin is an auto-triggering autoplugin which doesn't add any settings; GitVersioning is a manually-triggered autoplugin which depends on GitPlugin and adds settings, the same ones you added. So GitVersioning is useless to me when we're working around this way.

Thanks for the idea.

[2016-07-30 20:49] dwijnand commented on #2093
[Started writing this before the last comment..]

I'm not 100% sure what you mean by "they have not listed it as a dependency ", but GitPlugin is configured to auto-triggers (as opposed to GitVersioning) and is defined as a requirement for BetterGitVersionPlugin, and sbt-git is a dependency of sbt-houserules.

And yeah I'm not sure what happens if `GitVersioning` is also enabled. For the same vers

[2016-07-30 20:50] dwijnand commented on #2093
Also, credit to @eed3si9n for the idea (https://github.com/sbt/sbt-houserules/commit/70d335369dabe4dd0220d23244fff8e2e38623a0), I'm just the idea messenger.

[2016-07-30 21:04] eed3si9n commented on #2093
### opt-in/opt-out problem

The original design of `sbt.Plugin` automatically brought in every settings defined under `projectSettings` to all subprojects. This was considered too aggressive (because not all subprojects wants all the plugins) and setting loading order was arbitrary, so you couldn't depend on other plugins reliably. For example you have `jsEngine := X.JavaScript` and `jsEngine := Y

[2016-07-30 21:17] paulp commented on #2093
@eed3si9n [So familiar...](https://www.wikiwand.com/en/Multiple_inheritance#/The_diamond_problem)

[2016-07-31 16:18] worrel commented on #2054
As I see it, these artifacts are not named correctly.  They should be named `actor-client_2.11` e.g. like the fork-run_2.11 dep.  Presumably that's why the ivyStylePattern thing is needed.  Anyone know why these artifacts have a different naming scheme?

[2016-08-01 07:02] zoosky commented on #2679
Sorry for accidentally closing this issue and pasting long log entries.  GitHub did not let me attach files to this issue.

[2016-08-01 07:27] eed3si9n commented on #2679
@zoosky Please use https://gist.github.com/ next time.

[2016-08-01 12:44] jorkzijlstra opened #2687 "Ivy2 cache preceeds ivy2 local"
## steps
- create an library and publish it
- update the library and use publishLocal
## problem

So you have 2 of the same snapshot version but with different code in your .ivy2 cache
On in .ivy2/cache and one in .ivye/local, where the one in .ivy/local is the latest snapshot version.

SBT resolved the dependency to the .ivy2/cache (older) version instead of the new .ivy2/local version.
## expect

[2016-08-01 12:55] jorkzijlstra commented on #2687
IntelliJ resolves the local before the cache version, so the other way around.

[2016-08-01 13:52] eed3si9n commented on #2687
I recommend against using SNAPSHOT version outside of local or temporary testing. That said, sbt at least 0.13.12 should try to pick the latest version given the right metadata. What's your version of sbt? What kind of repository are you publishing into? If it's a Maven repo, does it have `maven-metadata.xml`?

[2016-08-01 14:11] jorkzijlstra commented on #2687
I agree, but unfortunately sometimes when developing with multiple developers and different environments it's necessary.

I'm using sbt 0.13.12 and I'm publishing to a internal maven artifactory (JFrog) and that does have that maven-meradata.xml [maven-metadata.xml.zip](https://github.com/sbt/sbt/files/393941/maven-metadata.xml.zip)

As you can see in the metadata xml the remote version is from la

[2016-08-01 14:18] eed3si9n commented on #2687
sbt caches the result of the `update` task using the description of the dependency graph. Have you run `clean` and then `update`?

[2016-08-01 14:29] jorkzijlstra commented on #2687
Yes, off course (I should have mentioned it). I use clean and update very frequently. However clean and update doesn't effect the .ivy2 directory and in this case the description of the library remains the same between snapshot versions.

It only works after:
1- adding the dependency as an unmanaged jar and remove the library dependency
2- manually remove it from the .icy2/cache location but keepi

[2016-08-02 04:12] intracer opened #2688 "sbt runs on a different directory"
(See the guidelines for contributing, linked above)
## steps

Basic idea of what I did is the following, but I could not reproduce it from the clean start.

[code]
## problem

sbt is run in one directory: ~/wm/wlxjury
but works on another which is unrelated: ~/wm/wlxjury_old

**~/wm/wlxjury$** sbt packageDebianSystemD
[info] Loading global plugins from /home/ilya/.sbt/0.13/plugins
[info] Loading p

[2016-08-02 11:32] drewhk commented on #2686
I actually had the same issue with the Akka build, which uses Scala 2.11.8. Had to downgrade to 0.13.11 to solve the issue.

[2016-08-02 11:32] drewhk commented on #2686
[error] impossible to get artifacts when data has not been loaded. IvyNode = org.scala-lang#scala-reflect;2.11.8

[2016-08-02 11:49] hvesalai opened #4915 "launcher does not include artifacts with classifier"
I have these SBT library dependencies in my project:

[code]

Which result in the following ivy xml

[code]

When I run sbt, it correctly resolves both artifacts and they are correctly put onto the classpath. However, when I use launcher to run my application, it only resolves the first artifact and completely skips (no errors) the second one. Thus the second one is not downloaded or included in t

[2016-08-02 14:16] zoosky commented on #2679
The Jar URL is located at repo.typesafe.com, from were a 302 redirect leads to  https://dl.bintray.com/typesafe/ivy-releases/

Using wget I get the following error. Java seems to behave in a similar way.

[code]

[2016-08-02 15:04] dwijnand commented on #2679
Strange, here's it working for me :-/

[code]

[2016-08-03 08:04] hvesalai commented on #4915
Correction: the classified resource IS downloaded to the ivy cache, but not copied to the launcher cache.

[code]

Both are placed in the `jars` directory of `opencv` under `.ivy2`

[code]

But the ivy file is common

[code]

But when they are copied to the boot directory, only one of them is copied:

[code]

[2016-08-03 14:07] folex commented on #1855
Same thing with sbt 0.13.8 -- Ctrl-C doesn't work either

[2016-08-03 16:28] mr-git commented on #2674
issue is still with SBT 0.13.12

[2016-08-03 21:29] mslinn opened #2690 "Unresponsive with Windows Subsystem for Linux"
The Scala REPL, SBT and Activator are all unresponsive when run in the bash shell provided by the Windows 10 Subsystem for Linux (released today). After I type 'sbt' and press Enter, the terminal window becomes unresponsive. No input, no output.

[2016-08-03 22:06] eed3si9n commented on #2690
Do you know if JLine 2 in general works on Windows Subsystem for Linux?
You might have to pass in `-Djline.terminal=jline.UnixTerminal`. See http://www.scala-sbt.org/0.13/docs/Manual-Installation.html

[2016-08-03 22:07] mslinn commented on #2690
I have no idea what this thing supports. `-Djline.terminal=jline.UnixTerminal` does not help :(

[2016-08-04 08:09] mkurz commented on #1431
Is there a chance this will make it in the next sbt version?
Could someone please assign the milestone?

[2016-08-04 16:41] eed3si9n commented on #2039
This is a duplicate of #1431 that's been requested for a while.

[2016-08-04 16:41] #2039 closed, assigned to nobody

[2016-08-04 16:46] eed3si9n commented on #1431
I would say this is something we can push till the next sbt 1.0.x milestone, unless there's a support case from a Lightbend customer or we can get the community to contribute the fix.

[2016-08-05 09:33] mziemba commented on #1518
+1

[2016-08-05 14:00] Bladtman242 commented on #1284
@doctapp it's a hack, but a simple script, cd'ing into the sbt dirs and running git pull will do the trick.

[2016-08-06 01:50] getmetorajesh opened #2693 "SBT search dependencies"
Are there any plans on adding a `sbt search` command just like how `npm search` work?

[2016-08-06 12:29] ron-totango opened #2694 "brew install fails with 404 Not Found on OSX 10.11.6"
(See the guidelines for contributing, linked above)
## steps

brew install sbt
## problem

==> Downloading http://typesafe.artifactoryonline.com/typesafe/ivy-releases/org.scala-sbt/sbt-launch/0.13.5/sbt-launch.jar

curl: (22) The requested URL returned error: 404 Not Found
Error: Failed to download resource "sbt"
Download failed: http://typesafe.artifactoryonline.com/typesafe/ivy-releases/org.scal

[2016-08-06 12:45] ron-totango commented on #2694
typesafe.artifactoryonline should be replaced with repo.typesafe

Used _brew edit sbt_ to fix this

[2016-08-06 16:54] dwijnand commented on #2694
You should update your homebrew setup (and not just to fix this issue, in general), because the sbt formula hasn't downloaded from artifactoryonline.com since September 2014:

https://github.com/Homebrew/legacy-homebrew/commit/93e6d67a8485f71a931cbae81e9a0069f6652327

[2016-08-06 16:54] #2694 closed, assigned to nobody

[2016-08-06 17:26] ron-totango commented on #2694
Sorry for asking the obvious, but how do I update the homebrew setup?

Thanks,
Ron

בתאריך 6 באוג׳ 2016 7:54 אחה״צ,‏ "Dale Wijnand" notifications@github.com
כתב:

[2016-08-06 17:29] dwijnand commented on #2694
Try `brew update`. That _is_ the way that brew is updated, but lots of things have changed in 2 years that the update might be smooth (for example the reason I linked to legacy-homebrew is homebrew a few months ago split their repo into brew and homebrew-core), so... good luck :)

[2016-08-08 12:34] doctapp commented on #1284
@Bladtman242 thanks, but stopped using it as it was just too complex to manage. We just publish locally instead.

[2016-08-08 20:29] SethTisue commented on #2690
a thread dump might help with troubleshooting. where's it getting stuck?

[2016-08-08 20:33] eed3si9n commented on #2690
See also Microsoft/BashOnWindows#541, Microsoft/BashOnWindows#196, and Microsoft/BashOnWindows#253

[2016-08-08 20:38] eed3si9n commented on #2690
I'm marking this Invalid for now since it's likely an environmental issue with the subsystem aka Bash on Windows.

[2016-08-08 20:46] mslinn commented on #2690
I'll update this issue after M$ releases a WSL update

[2016-08-09 17:19] hossameldeen opened #2695 "equal (=) appearing passed in as batch argument requires quotation on Windows"
## steps
- Installed sbt 0.13.8 on Windows 7 64-bit.
- Went to a directory that has a simple hello-world sbt project (probably doesn't matter).
- From the commandline, called: `sbt -Dsbt.log.noformat=true`.
## problem
- It says: Warning: invalid system property 'sbt.log.noformat'
## expectation
- To not show this message, because the documentation seems to say it's a valid property.
  http://www.s

[2016-08-09 17:42] eed3si9n commented on #2695
Does this still happen on the latest sbt 0.13.12?

[2016-08-09 18:51] hossameldeen commented on #2695
Yes, it does. The steps I just did to check:
- Removed sbt's installation from Control Panel.
- Downloaded `sbt-0.13.12.msi` from [here](http://www.scala-sbt.org/download.html)
- Created an empty directory and called `sbt -Dsbt.log.noformat=true` in it. The same problem occurred. (But kept downloading stuff for some time since this is the first time in the new installation).
- Then, called `sbt sb

[2016-08-09 18:54] kpbochenek commented on #2695
you have `>sbt -Dsbtlog.noformat=true` (you missed dot after sbt)

[2016-08-09 18:59] eed3si9n commented on #2695
I'm guessing it's a capability gap between the shell script shipped for Mac and Linux vs this batch script - https://github.com/sbt/sbt-launcher-package/blob/e4e3e54c33a4b26e3e0a82270581c9038bae9ddc/src/windows/sbt

[2016-08-09 18:59] hossameldeen commented on #2695
Oops, my mistake. That's why screenshots are cool. But the problem still occurs with it written correctly.

Screenshot:
![sbt-log-noformat-12-corrected](https://cloud.githubusercontent.com/assets/6719916/17529523/f15feaa0-5e73-11e6-8b1a-22fa3936e87e.PNG)

Were any of you able to reproduce it?

[2016-08-09 22:17] laughedelic opened #2696 "test:publish disappeared in 0.13.12"
## steps

Minimal project:
- `project/build.properties`:

[code]
- `build.sbt`:

[code]
## problem

In the sbt console:

[code]

`test:publish` is undefined.
## expectation

If I change sbt version in `project/build.properties` to 0.13.11, I see

[code]
## notes

I don't know if it's supposed to be like that, but I don't see any mentions of this in 0.13.12 release notes and I would like to know ho

[2016-08-09 23:43] eed3si9n commented on #2696
This is kind of interesting because 0.13.12 is correct in that there's no such thing as `test:publish`. As you can see it was provided by `*:publish`, so unlike what you might have expected `test:publish` even if it responded would've behaved like a normal `publish`.

I'm not sure which of the changes in https://github.com/sbt/sbt/releases/tag/v0.13.12 (https://github.com/sbt/sbt/compare/v0.13.11.

[2016-08-10 01:03] Duhemm commented on #2696
Indeed #2469 unintentionally changed the behavior.

Prior to #2469, sbt considered only the project keys in `scopedKeyFull`, and not the keys defined at the build level. #2469 changed `scopedKeyFull` so that it returns the results for the build level keys and then the project level keys. Swapping the results (project and then build level) solves this issue in particular, but that's probably not th

[2016-08-10 05:57] intracer commented on #1954
+1

[2016-08-10 11:00] laughedelic commented on #2696
OK, I see that `test:publish` wouldn't work the way I wanted anyway (although I think I used it some time agon...).
So is it possible to define a custom config scope with the `publish` task and choose which artifacts will be published in it?

[2016-08-10 15:45] eed3si9n commented on #2696
Everything is just code, so it's probably possible, but not sure how easy/natural it would be.

[2016-08-12 16:46] pfn opened #2697 "Order of settings evaluation is surprising and not intuitive"
Given a  `build.sbt` like the following

[code]

I would expect `p/name` to show `bar`, it shows `foo`

If I later add `z-build.sbt` like so:

[code]

I would expect `p/name` to show `baz`, but it still shows `foo`

[code]

Generally, I would expect settings declarations that come after the initial project declaration to take precedence, especially when it's split across files. In this contrived e

[2016-08-12 17:01] eed3si9n commented on #2697
Duplicate of (or related to) #2232

[2016-08-14 18:56] dwijnand commented on #2645
@eed3si9n is this a duplicate of #2532?

[2016-08-14 19:03] dwijnand commented on #2234
Un-assigning this from myself, while it's still in debate.

[2016-08-15 12:45] trevtrich commented on #2156
The team I work on is also seeing this issue. It's occurring for ~5% of our builds.

[2016-08-16 08:19] richard77 commented on #2650
FYI, running into same problem with sbt 0.13.12
Any scheduled work on this issue? I've done some googling around and find more people having this issue. It hinders the development work. Disabling the use of snapshots is not always the solution..

[2016-08-16 20:26] fommil opened #2698 "overzealous cycle detection"
create a project containing `build.sbt`

[code]

start sbt, expecting a valid (if not crazy) project. Get

[code]

[2016-08-16 21:05] eed3si9n commented on #2698
I fixed this in #2543 for sbt 1.0

[2016-08-16 21:07] fommil commented on #2698
oh cool! Can it be back ported?

[2016-08-16 21:07] eed3si9n commented on #2698
Actually what you're describing may not be handled by my simply lazy evaluation since you're already using LocalProject.

[2016-08-16 21:09] fommil commented on #2698
yeah, I had to do this to avoid scala blowing up.

[2016-08-16 21:09] eed3si9n commented on #2698
Isn't this a legitimate cyclic reference since a/Compile -> c/Compile -> a/Test -> a/Compile?

[2016-08-16 21:11] fommil commented on #2698
No, it is `c`'s test config depending on `a`. `a/compile` only depends on `c/compile`.

[2016-08-16 21:18] eed3si9n commented on #2698
I guess you're right, but sbt basically currently thinks in terms of project a depends on project c depends on project a, like this topological sorting here - https://github.com/sbt/sbt/blob/0.13/main/src/main/scala/sbt/BuildDependencies.scala

[2016-08-16 21:21] fommil commented on #2698
yeah, I guessed as much. I think this dependency is completely nuts, so my preference is to just push for it to be changed in the project. Gradle supports it, unfortunately.

[2016-08-17 03:46] chris-martin opened #2699 "Eviction warning is unclear"
Example output from a compile using SBT 0.13.7:

[code]

I don't understand what `2.0.1 -> 3.0.0` signifies. Which version was evicted, 2.0.1 or 3.0.0? Which version was used? What does the arrow mean?

[2016-08-17 04:18] SamsudhinHabeeb-CTS opened #2700 "Launch Error"
(See the guidelines for contributing, linked above)
## steps

sbt package
## problem

[code]

## expectation
## notes

[2016-08-17 17:18] alebaffa commented on #2240
I had the same problem now installing sbt 0.13.12 on Windows 10. I didn't have this problem today, so the same day, on Windows 8.
Is anyone taking care of this? It's open since 8 months now with no updates and the issue is still there.

[2016-08-17 18:52] eed3si9n commented on #2699
Ivy normally picks the latest. In this case, 2.0.1 got evicted in favor of 3.0.0.

[2016-08-17 19:29] chris-martin commented on #2699
I take it you disagree that the warning is insufficiently explanatory?

[2016-08-17 19:33] eed3si9n commented on #2699
I'm open to alternative wording, but I personally think it's clear enough once you know what it means. Given that the user might see the message multiple times a day, this sort of messages need to err on the shorter/insufficient side.

[2016-08-17 19:53] chris-martin commented on #2699
Replacing the arrow with your English explanation adds 22 characters:

[code]

[2016-08-17 19:55] chris-martin commented on #2699
That's the tricky part. Is there a path to finding out what it means?

[2016-08-17 20:05] eed3si9n commented on #2699
If someone googles "sbt eviction warning" the first hit would be the documentation http://www.scala-sbt.org/0.13/docs/Library-Management.html#Eviction+warning and the second is this blog post [Improved dependency management with sbt 0.13.7](https://www.lightbend.com/blog/improved-dependency-management-with-sbt-0137).

If someone knows what "eviction" means, I think current arrow is clear enough. A

[2016-08-17 21:14] dwijnand commented on #2240
Duplicate of https://github.com/sbt/sbt-launcher-package/issues/76

[2016-08-17 21:14] #2240 closed, assigned to nobody

[2016-08-17 21:15] dwijnand commented on #2665
Duplicate of https://github.com/sbt/sbt-launcher-package/issues/76

[2016-08-17 21:15] #2665 closed, assigned to nobody

[2016-08-18 18:22] Bladtman242 commented on #1284
@doctapp Seems like a good idea.

[2016-08-18 18:54] SethTisue commented on #2532
for MiMa to convert to `build.sbt` style is blocked by this; the MiMa build generates test projects on the fly (one per subdirectory of `reporter/functional-tests/src/test`) and then adds them to the build via `override lazy val projects = ...`

[2016-08-18 19:14] antonin42 commented on #733
+1

[2016-08-18 22:57] dwijnand commented on #2645
I'm going to close this as duplicate of #2532, let me know what I'm missing if I'm wrong.

[2016-08-18 22:57] #2645 closed, assigned to nobody

[2016-08-19 10:26] milessabin opened #2701 "Ivy Scala component version check misfires with alternative `scalaOrganization`"
The version check in `IvyScala` [here](https://github.com/sbt/sbt/blob/0.13/ivy/src/main/scala/sbt/IvyScala.scala#L98-L118) is only correct where `scalaOrganization` is actually `org.scala-lang`, and then only so long as the collection of artefacts under that organization remains fixed.

With an alternative organization (eg. "org.typelevel") _all_ other artefacts (aside from the two whitelisted ex

[2016-08-19 11:08] dwijnand commented on #2701
Perhaps it's just me, but it took me a while to understand what exactly the error is.

So for clarity: @milessabin has configured `scalaOrganization` to be "org.typelevel" which is also the organisation of cats. _That's_ why it's triggering.

[2016-08-19 11:09] milessabin commented on #2701
Yes, that's exactly right ... apologies for not making that clear enough.

[2016-08-19 11:09] dwijnand commented on #2701
I'm happy with an opt-in approach, personally.

If you can wire it through (without breaking binary compatibility) then even better.

[2016-08-19 11:10] milessabin commented on #2701
What do you mean by an "opt-in" approach?

[2016-08-19 11:10] dwijnand commented on #2701
Explicitly list the artefact names which we intend to validate.

[2016-08-19 11:11] milessabin commented on #2701
Oh I see ... right. I'm part way through making it configurable with the obvious defaults :-)

[2016-08-19 11:15] milessabin commented on #2701
See also #1818 and #1899.

[2016-08-19 11:17] milessabin commented on #2701
FTR I would be happy to retain the current semantics where `scalaVersion` is in fact `org.scala-lang` ... see @jsuereth's comment on #1899 [here](https://github.com/sbt/sbt/pull/1899#issuecomment-77170064).

[2016-08-19 11:19] dwijnand commented on #2701
I agree to Josh's general sentiment, but not at the cost of special-casing org.scala-lang over alternative scala organisations.

[2016-08-19 16:00] Vadi commented on #1954
In the world of Docker containers, this is really killing. Please fix this.

[2016-08-20 07:15] chenli0906 commented on #2156
I have the same issue
It appears in deleting the “target” folder after the execution of SBT
Maybe you can try this configuration

`parallelExecution in Global := false`

[2016-08-20 11:48] fommil commented on #2459
I can't remember how sporadic this was, but it seems to work again. Will reopen if it crops up.

[2016-08-20 11:48] #2459 closed, assigned to nobody

[2016-08-21 19:42] hossameldeen opened #2704 "sbt 0.13.12 console fails with NoClassDefFoundError when scalaVersion is 2.11.8"
## steps
- Created a directory that only has an empty `build.sbt`. Launched sbt and called `compile` then `console`. Everything worked well.
- Exited sbt. Added `scalaVersion := "2.11.8"` in `build.sbt`. Launched sbt and called `compile`, which seems to have worked well. Called `console` which threw an exception, but then started but wasn't fully functional (detailed in problem section).
  Here're

[2016-08-21 20:08] eed3si9n commented on #2704
I can start `console` fine using Scala 2.11.8.
Could you try without your global plugins please?

[2016-08-21 20:08] #2704 closed, assigned to nobody

[2016-08-21 20:29] hossameldeen commented on #2704
The problem happens only when coursier plugin is enabled and doesn't happen otherwise. Should've thought of trying that. So, I guess the issue can be considered non-existent for sbt, will contact coursier's developers. Thank you!

[2016-08-22 12:12] dwijnand commented on #2684
Yep, this is duplicate of https://github.com/sbt/sbt-launcher-package/issues/76, which has a fix on the way.

[2016-08-22 12:12] #2684 closed, assigned to nobody

[2016-08-22 12:20] dwijnand commented on #2421
Duplicate of https://github.com/sbt/sbt-launcher-package/issues/28

[2016-08-22 12:20] #2421 closed, assigned to nobody

[2016-08-23 05:56] eed3si9n commented on #2665
@distinctdan Dale (@dwijnand) fixed the bug so I published a new installer for Windows for 0.13.12. Could you try using it, and see if it fixes the issue for you?
http://www.scala-sbt.org/download.html

[2016-08-23 05:57] eed3si9n commented on #2240
Dale (@dwijnand) fixed the bug so I published a new installer for Windows for 0.13.12. Could you try using it, and see if it fixes the issue for you?
http://www.scala-sbt.org/download.html

[2016-08-23 12:17] dwijnand opened #2707 "Can't invoke non-build level keys"
## steps

[code]
## problem

sbt suggests a key that doesn't work.
## expectation

`show *:baseDirectory` should show the base directory.
## notes

This is broken as of 0.13.12 and works in 0.13.11, so I have a feeling it might be due to #2469. /cc @Duhemm

[2016-08-23 14:35] distinctdan commented on #2665
Yup, it now sets the path correctly. Thanks!

[2016-08-23 14:59] dwijnand commented on #2665
Awesome. Thanks for the quick turnaround @distinctdan.

[2016-08-23 16:21] eed3si9n commented on #2707
Yea, I'm getting this too using 0.13.13-SNAPSHOT:

[code]

[2016-08-23 16:37] eed3si9n commented on #2707
So we should exclude build-level keys when there's a key that's scoped to project level?
This might make sense if we think in a multi-project example.

[2016-08-23 16:39] dwijnand commented on #2707
Yeah project level should trump build-level. The original PR was just to add them to completion, but they shouldn't compete at the same priority.

[2016-08-24 08:56] Duhemm commented on #2707
What would be the correct behaviour then?

How about (for https://github.com/sbt/sbt/blob/0.13/main/src/main/scala/sbt/Act.scala#L79-L84):
- If we have nothing, choose the default
- If we have a single project level key and 0 or more build level keys, choose the project level key
- If we have 0 project level keys and a single build level key, chose the build level key
- If we have multiple possibi

[2016-08-24 09:06] dwijnand commented on #2707
yep, sounds good.

[2016-08-25 17:51] #2162 closed, assigned to nobody

[2016-08-25 17:52] #2161 closed, assigned to nobody

[2016-08-25 17:52] #1519 closed, assigned to nobody

[2016-08-26 18:28] bdarfler commented on #2246
Wow just spent an hour chasing this. Really wish there was was better documentation around this.

[2016-08-27 04:45] eed3si9n commented on #2679
Works for me:

[code]

[2016-08-27 19:16] eed3si9n commented on #2700
[Bug 1332456](https://bugzilla.redhat.com/show_bug.cgi?id=1332456) - Build java-1.8.0-openjdk-1.8.0.91-2.b14.fc23 breaks tomcat startup for FreeIPA when nss is not upgraded as well.

Are you using openjdk-1.8.0.91?

[2016-08-29 04:24] asarkar commented on #2290
@dotta Same here, and your comment certainly helped. I'd also like to mention that the [official doc](http://www.scala-sbt.org/1.0/docs/Multi-Project.html) for multi-project builds conveniently omits a project structure. Being new to SBT, it took me a while to figure out what worked.

[2016-08-29 09:21] ghik commented on #2156
@chenli0906 This is not enough for multi-project builds because subprojects are still parallelized between each other. You need to use `concurrentRestrictions` if you want to globally turn off parallelism for good (see one of my previous comments in this thread).

[2016-08-29 12:12] fommil commented on #1930
I think coursier fixes this

[2016-08-29 12:12] #1930 closed, assigned to nobody

[2016-08-29 12:14] #1762 closed, assigned to nobody

[2016-08-29 12:15] fommil commented on #2698
sounds like a WontFix

[2016-08-29 16:04] paulp commented on #1104
Ha ha, easy. Maybe [this ticket](https://issues.scala-lang.org/browse/SI-2034) will eventually make sense to someone other than me.

[2016-08-29 18:49] dwijnand commented on #2290
@abhijitsarkar what do you mean by "omits a project structure"? What's missing?

[2016-08-29 19:21] dwijnand commented on #1519
Fixed in https://github.com/sbt/sbt-launcher-package/pull/112

[2016-08-29 19:21] dwijnand commented on #2162
Fixed in https://github.com/sbt/sbt-launcher-package/pull/112

[2016-08-30 05:46] asarkar commented on #2290
@dwijnand A sample project structure showing how you recommend multiple modules to be laid out. Like this one that I came up with. I also found some online that don't look like this one, hence the confusion.
https://github.com/abhijitsarkar/akka/tree/master/akka-streams-learning

[2016-08-30 11:43] eed3si9n opened #2720 "flaky tests/do-not-discover due to logging?"
https://travis-ci.org/sbt/sbt/jobs/156133133

[code]

[2016-08-31 04:36] retronym opened #2722 "Exception thrown by forked test framework swallowed"
## steps

Clone https://github.com/retronym/sbt-test-fork-swallows-error and follow instructions in the README.

[code]
## problem

The exception thrown by the `tasks` method of the `Runner` is [logged to console](https://github.com/sbt/sbt/blob/v0.13.11/testing/agent/src/main/java/sbt/ForkMain.java#L144-L144), shipped over the wire to the host SBT process, [logged again](https://github.com/sbt/sb

[2016-08-31 04:42] eed3si9n commented on #2722
Thanks for the repro project. Probably a duplicate of #2442

[2016-08-31 04:50] retronym commented on #2722
I've been unable to come up with a workaround. How could I assert that >0 tests were executed?

[2016-08-31 04:57] eed3si9n commented on #2722
According to https://github.com/sbt/sbt/issues/2442#issuecomment-180506830 it's a bug in sbt.
There's an if expression that checks >0 tests are about to get executed here - https://github.com/sbt/sbt/blob/16a6906826819eeee9c781bef4317a6420db718e/main/actions/src/main/scala/sbt/ForkTests.scala#L23-L26

[2016-08-31 05:23] retronym commented on #2722
This can be used to fail the test execution if there is no events. I don't know if this test will give false positives, though.

[code]

[2016-08-31 08:36] eed3si9n commented on #2722
@retronym Thanks for the hint. Here's my fix - #2723

[code]

[2016-08-31 08:50] dwijnand commented on #2686
Fixed in https://github.com/sbt/sbt/pull/2692

[2016-08-31 08:50] #2686 closed, assigned to milessabin, eed3si9n

[2016-08-31 13:25] fommil commented on #2444
when creating a `ScalaInstance` it would appear that monkey jars would need to make it into the `extraJars` field.

[2016-08-31 13:29] fommil commented on #2444
the smoking gun... https://github.com/sbt/sbt/blob/v0.13.12/main/src/main/scala/sbt/Defaults.scala#L400

[2016-08-31 13:43] fommil commented on #2444
damn, `def jars` in `ScalaInstance` is returning `extraJars` at the end... but they need to be in front for monkeys :cry:

[2016-08-31 14:37] fommil commented on #2444
@eed3si9n watch out for an `sbt` plugin over the next week or so on this :wink:

There might be a few things you could do in `Defaults.scala` to clean up my implementation.

[2016-08-31 14:37] #2444 closed, assigned to nobody

[2016-08-31 16:19] SRGOM opened #2724 "Cannot handle unicode in Windows"
## steps

ConEmu supports Unicode very well (steps to install)
- (admin powershell): iwr https://chocolatey.org/install.ps1 -UseBasicParsing | iex
- (admin powershell): Download: choco install conemu
- Start ConEmu from start menu
- ConEmuC -CheckUnicode #Shows that unicode works fine
- Start sbt with -D"file.encoding=UTF-8"
- Try to enter a character outside of ascii range using IME or copy/paste

[2016-08-31 20:07] fommil commented on #2496
I consider this closed with the above workaround

[2016-08-31 20:07] #2496 closed, assigned to nobody

[2016-09-01 07:25] francisdb commented on #2536
Just posting a workaround for Ubuntu 16.04 LTS:

[code]

[2016-09-01 08:23] #2707 closed, assigned to Duhemm

[2016-09-01 08:49] dwijnand commented on #2518
Does that single JAR include the contents of sbt-launch.jar?

[2016-09-01 10:30] dwijnand commented on #2352
Added #2692

[2016-09-01 15:27] dwijnand commented on #2048
Removing "Needs discussion", I definitely think this should be explored as a plugin, and then possibly folded in in the future.

[2016-09-01 16:22] cweinreben commented on #2044
Had the same problem on a Windows 10 PC.
Adding a text file
C:/Users/USER/.sbt/repositories
with the content

[code]

fixed the problem.

[2016-09-01 17:42] lasimon opened #2727 "Stopping Play does not release Slick's connection pool"
## steps

sbt run a Play 2.4 app using Slick 3.1
Ctrl-d and start it again or edit a source file so it auto-recompiles & starts
## problem

The connection pool is now twice as large as it should be (i.e. it appears not to have been released when play was stopped and a new one was created when play was restarted).  Repeat and the connection pool continues to grow until eventually the number of allo

[2016-09-01 22:54] richdougherty commented on #2727
Hi @lasimon. I'm a dev on the Play Framework project and I'd guess this is probably not an sbt issue. If you're using the Slick plugin for Play can you raise an issue over here: https://github.com/playframework/play-slick. If you're using Slick without a plugin then you need to remember to clean up your Slick resources each time the application stops. See: https://www.playframework.com/documentati

[2016-09-01 23:20] lasimon commented on #2727
@richdougherty Thanks.  Yes play-slick looks like a more likely culprit.  We'll try switching from play-slick 1.1.0 to 1.1.1 and see if that fixes it.

[2016-09-01 23:20] #2727 closed, assigned to nobody

[2016-09-02 00:04] pfn opened #2728 "Add finer-grained triggers for AutoPlugins"
This is related to #1406

Currently, AutoPlugins only support dependent plugin triggers. For many plugins, this is absolutely sufficient, but for many classes of plugins, it is completely unusable.

sbt-android, for instance, cannot be automatically enabled because it depends on the presence of android project structure before proceeding. As a result, users of sbt-android must `androidBuild` in or

[2016-09-02 00:17] eed3si9n commented on #2728
What about buildExtras that will be added on sbt 0.13.13? - https://github.com/sbt/sbt/pull/2717

You can make two auto plugins `AndroidBuildPlugin`, and `AndroidPlugin`.
Using filesystem or whatever hints, `AndroidBuildPlugin` can generate a bunch of subprojects as `buildExtras` with `AndroidPlugin` enabled.

Other third-party libraries can declare `requires` to `AndroidPlugin`.

[2016-09-02 00:20] pfn commented on #2728
Maybe `buildExtras` will help, I will have to think about how they will work in conjunction with this need

I'm not sure about whether to completely automate sub-project creation; I don't want to take the ability to manually manage sub-projects from the user while at the same time I want to take advantage of AutoPlugin with minimal additional configuration. (i.e. I feel a user should never have to

[2016-09-02 00:26] eed3si9n commented on #2728
That's not a use case we support. `(project in file("x")).enablePlugins(FooPlugin)` is a uniform structure common to many sbt plugins, including things like Play. I think it makes it clear what the subproject is about.

[2016-09-02 00:28] pfn commented on #2728
I believe it's common to many plugins due to the inability to trigger automatically.

For that matter, the use-case is already partially supported through the presence of `trigger`

[2016-09-02 08:53] dwijnand commented on #2687
I can confirm this bug.

[2016-09-02 08:57] dwijnand commented on #2685
This would probably majorly speed up scripted, which would be wonderful.

[2016-09-02 09:01] dwijnand commented on #2688
For an issue like this, without being able to reproduce it it would be very difficult to diagnose and fix the problem.. So I'm going to close this, but feel free to open it if you figure out how to reproduce it!

[2016-09-02 09:01] #2688 closed, assigned to nobody

[2016-09-02 10:38] #2608 closed, assigned to nobody

[2016-09-02 10:47] gmixa opened #2729 "Sbt fails to run a project"
(See the guidelines for contributing, linked above)
## steps

checkout https://github.com/bbvSoftwareServices/Jasper-Reports-Java-Demo
it contains an example of the discovered issue.

issue  `sbt run` to execute the the defined test program.

Environment info : sbt 0.13.12 with java 1.8 on a windows 10 machine.
## problem

running of the example program fails

if you use gradle to build and run th

[2016-09-02 13:09] dwijnand commented on #2729
## minimised case

**project/build.properties**

[code]

**build.sbt**

[code]

**src/main/java/eu/bbv/Main.java**

[code]

**src/main/resources/TestReport_A4.jrxml**

[code]

## output

[code]

[2016-09-02 15:24] dwijnand commented on #2729
@gmixa You need to set `fork in run := true`. Credit to @pfn.

[2016-09-02 15:24] #2729 closed, assigned to nobody

[2016-09-02 17:24] mosesn commented on #2685
I haven't been able to figure out how to do it, so I haven't merged in twitter/scrooge#234 yet.  @dwijnand if you're more familiar with scripted and could provide me some guidance, I'd be happy to try to patch this.

[2016-09-02 17:29] dwijnand commented on #2685
I know a little bit about scripted (been trying to make it faster with https://github.com/sbt/sbt/pull/2726), but the man you want is @Duhemm, and you'll be able to find some guidance by looking at his work in https://github.com/sbt/sbt/pull/2567

[2016-09-03 17:55] tandon-aman opened #2732 "`sbt about` is taking too much time to start."
Hi,

I am following the coursera tutorial to install scala and sbt. But when i am running the command `sbt about` it is taking so much time.

Link to coursera scala tools setup link https://www.coursera.org/learn/progfun1/supplement/BNOBK/tools-setup-please-read

Link of stackoverflow for the same problems faced by others users http://stackoverflow.com/questions/29599309/stuck-at-getting-org-scala

[2016-09-05 02:16] Roshanson opened #2733 "Java HotSpot(TM) 64-Bit Server VM warning: ignoring option MaxPermSize=256m; support was removed in 8.0"
## steps

run  sbt  command
## problem

Java HotSpot(TM) 64-Bit Server VM warning: ignoring option MaxPermSize=256m; support was removed in 8.0
## expectation
## notes

JDK 1.8.102  sbt 0.13.12.1  scala 2.11.8

[2016-09-05 11:10] dwijnand commented on #2733
Is this on Windows?

[2016-09-05 11:11] Roshanson commented on #2733
yes  ,on win8 x64

[2016-09-05 18:18] dwijnand commented on #1431
Fixed in #2731.

[2016-09-05 18:18] #1431 closed, assigned to nobody

[2016-09-05 18:19] mkurz commented on #1431
@dwijnand Thank you for fixing this!

[2016-09-05 18:21] dwijnand commented on #1431
Damn I should've been more explicit in the PR description.

All credit must go to @jtgrabowski for fixing this.

[2016-09-05 18:22] dwijnand commented on #2442
Fixed in #2730 by @eed3si9n

[2016-09-05 18:22] #2442 closed, assigned to nobody

[2016-09-05 18:23] dwijnand commented on #2722
Fixed in #2730 by @eed3si9n

[2016-09-05 18:23] #2722 closed, assigned to eed3si9n

[2016-09-05 18:32] mkurz commented on #1431
OK so thank you @jtgrabowski for fixing this! :+1: :smile:

[2016-09-05 21:22] eed3si9n commented on #2518
The single-jar might diverge too much from the current implementation, so a better option might be preloaded-local repository like that of Activator, and some way of denotation in the `launchconfig` to look at the preloaded-local, such as `preloaded-local`. See http://www.scala-sbt.org/0.13/docs/Launcher-Configuration.html

[2016-09-05 21:27] eed3si9n commented on #2732
`sbt` when you install for the first time only installs the launch jar and a shell script, but it needs to download the actual program itself again from the Internet. Depending on the network environment (we've had complaints from users in Australia, India, China etc.) this process could take very long time.

It normally does once the downloading starts. We've also heard complaints that sbt should

[2016-09-05 21:27] #2732 closed, assigned to nobody

[2016-09-05 21:44] eed3si9n commented on #2728
### Rationale for enablePlugins

By default, a `project` is typecasted to be a plain JVM project. Using `enablePlugins` the build user can change that to something else, for example:

[code]

The `enablePlugins` directive will pull in any dependency plugins from `PlayJava`. This acts as the "root" plugin of the subproject.

For Android builds, for full automation we have `buildExtras` in sbt 0.13.

[2016-09-05 23:04] dwijnand commented on #2518
That sounds like a lot of machinery...

I've been thinking recently that I'm not so sure about sbt-launcher..

In my ideal world, given an `sbt.version` in `project/build.properties` and `sbt-extras` a single uniquely-versioned fat jar of sbt is downloaded (unless already present) and then run.

[2016-09-06 02:33] eed3si9n opened #2734 "Rename early command in sbt 1.0"
## problem

sbt uses `--` in a way inconsistent with Unix convention. (https://github.com/sbt/sbt/commit/e93c4450a1a06fe6c67df821c65fea302cecca84):

[code]
## expectation

I'm not sure what the purpose of the early command is. Can we remove this in sbt 1.0?
## notes
- http://pubs.opengroup.org/onlinepubs/9699919799/basedefs/V1_chap12.html
- https://www.gnu.org/prep/standards/html_node/Command_002d

[2016-09-06 05:59] fommil commented on #2518
There aren't enough +1s in the world for this.

[2016-09-06 07:30] dwijnand commented on #2734
I agree we should move towards the Unix convention, as demonstrated by the fall out of #1041.

One way I know this is used is for log levels in sbt-extras: https://github.com/paulp/sbt-extras/commit/90170b28aa4d441ba7893f0dc0ff309a8eba44c2

[2016-09-06 08:39] dwijnand commented on #2352
Added https://github.com/sbt/sbt/pull/2731

[2016-09-06 15:19] chrisjowen opened #2735 "Default "public" repo shouldn't have javax.jms dependency listed"
(See the guidelines for contributing, linked above)
## steps
1. Create a project with a resolver for a local nexus that holds the jms-1.1.jar:

[code]
1. Ensure that the jms jar is not in the ivy cache:

[code]
1. Attempt to resolve the project dependencies:

[code]
## problem

With a clean cache sbt will try to resolve javax.jms from the typesafe repo and fail:

[code]

Oddly running sbt test aga

[2016-09-06 15:54] #2735 closed, assigned to nobody

[2016-09-07 02:36] dwijnand commented on #2352
I created a little tool to help figure this out - it's very rough around the edges, but anyways: https://github.com/dwijnand/sbt1fports

[2016-09-07 04:44] eed3si9n commented on #2734
The early commands gets executed pretty early, like before the session gets initialized, so combining with `error`, and making `--error` as if it's an option makes a lot of sense.
But given that the options used by shell script uses single hyphen like `-no-colors`, the use of double hyphens `--` is too subtle. Maybe it's better to explicitly add support for log level options if that's the primary

[2016-09-07 04:46] #2648 closed, assigned to nobody

[2016-09-07 06:18] clhodapp commented on #2687
The behavior I've noted (which I at least sort of depend on) is that resolution is "sticky". Basically, the resolution steps seem to be:

Steps for a lookup where artifact is in local but not cache:
1. Try to look up artifact in cache (suppose it's not there)
2. Try to look up artifact in local
3. Find artifact in local
4. Store a "pointer" to local into the cache for this artifact
5. Use artifact

[2016-09-07 20:52] dwijnand opened #2736 "Remove sbt.Process (and friends), switch to scala.sys.process"

[2016-09-07 20:52] dwijnand commented on #2736
See also https://github.com/sbt/sbt/pull/913 which was merged to the old 1.0 branch.

[2016-09-08 13:30] hntd187 commented on #2733
@Roshanson Java8 removed permgen (permanent generation) in 8, so it's a warning saying there is no need to set a size for it anymore. It should be safe to ignore.

[2016-09-09 16:55] caoilte commented on #2156
Started seeing this occasionally after we switched to a new Jenkins box running a newer version of CentOS Linux and from Java 7 to Java 8 (openjdk version "1.8.0_91").

[2016-09-11 22:24] dwijnand commented on #2088
Ok, I spent some time on this, and this looks entirely like an implementation detail of Artifactory.

Artifactory deals with the publishing (and republishing) of SNAPSHOTs using a strict rule on the order of publishing. The `;build.timestamp=...` suffix is the alternative.

The strict rule is:
- publish the main artefact (which has no classifier)
- publish the POM/ivy.xml file
- publish additional

[2016-09-13 02:43] eed3si9n commented on #2294
I think a good intermediate goal to shoot for in sbt 1.0 would be getting to Ivy-abstraction in https://github.com/sbt/librarymanagement so things like `ModuleID` are Ivy-free, and make sure that backend is completely swappable. The `IvyPlugin` can be renamed to something more generic sounding, but I think `update` task will stay.

[2016-09-14 08:25] sharadvishe commented on #2156
I have same issue coming randomly and it fails my jenkins build

[2016-09-14 09:14] dwijnand commented on #2088
The `;build.timestamp=...` suffix appears to only work when publishing in Maven style.

When publishing in Ivy style, for example for sbt plugins, it doesn't:

[code]

[2016-09-14 09:20] dwijnand commented on #2088
Oh no, sorry. That 409 means POM consistency checks failure.

[2016-09-15 00:25] eed3si9n opened #2739 "Release sbt 1.0.0-M5"
Pending some of the higher priority stuff, we should release M5 soon.

[2016-09-15 00:28] eed3si9n opened #2740 "sbt community build"
Community build for sbt plugins

[2016-09-15 06:36] dwijnand commented on #2612
I'm kind of 👎 this. I don't want every data type in the API (for which some APIs there are many, see [lm](https://github.com/sbt/librarymanagement/tree/138787f55e5fbcbeac751196b000855ff6ba1625/librarymanagement/src/main/scala/sbt/librarymanagement)) to be coded in JSON.

To this end I experimented a few months ago with an alternative to case classes that dealt with binary compatibility, using a ma

[2016-09-15 06:38] eed3si9n commented on #2612
As shown in Gigahorse, we can generate straight into `src` for source browsing purpose.

[2016-09-15 06:48] dwijnand commented on #2612
Right, I'd forgotten.

[This](https://github.com/eed3si9n/gigahorse/blob/65574172c1195156def56e97c1f85287621d23f6/core/src/main/scala/gigahorse/Config.scala#L70-L71) is perhaps a bit much, and I'm still authoring it in JSON, but at least I can read the code once it's generated, instead.

[2016-09-15 11:35] codesurf42 opened #2744 "ivy2 local preeceds ivy2 cache when version defined with wildcard"
(See the guidelines for contributing, linked above)
## steps

Your project depends on library and the version is defined like "0.0.+"
You have this library published locally (sbt publishLocal), e.g. 0.0.18
but you have also higher versions in your local cache e.g. 0.0.26
## problem

Sbt is picking up the latest from .ivy2/local, not the latest available in both .ivy2/local and .ivy2/cache (or avai

[2016-09-15 11:38] dwijnand commented on #2744
It's interesting (in a sad way) how this doesn't mirror -SNAPSHOT behaviour reported in #2687, and I wonder if that's intentional.

In my eyes there're both legitimate bugs.

[2016-09-15 12:26] #2734 closed, assigned to eed3si9n

[2016-09-15 12:26] #840 closed, assigned to eed3si9n

[2016-09-15 12:52] dwijnand commented on #2058
We have too many tickets, and I don't believe in the ROI on this.

At some point when 1.0 is close I'll resync the 0.13 notes with the 1.0.x branch.

[2016-09-15 12:52] #2058 closed, assigned to nobody

[2016-09-16 06:24] Duhemm opened #5604 "JLine: The content of the buffer appears empty after an interruption"
When using the interruptible JLine, the following scenario can happen:

If the user types something in, doesn't press return and then the sleep is interrupted, then we get a new prompt that appears empty, but with a non-empty buffer. If the human presses enter, the reader returns what was written before the interruption (and possibly what has been added after the interruption).

Ref sbt/util#48

[2016-09-17 19:55] AmirMeirbekov commented on #2240
I tried new installer and chose "Repair" option in launcher - it didn't fix the issue for me

[2016-09-19 06:44] dmitryaleks commented on #1690
Removing ~/.sbt and ~/.ivy2 fixed the issue for me as well under Fedora 24.

[2016-09-19 14:25] szeiger opened #2748 "Test interface not on the classpath when using scalaHome"
When using a locally built Scala distribution via `scalaHome`, any attempt to run a test fails with `java.lang.ClassNotFoundException: org.scalatools.testing.Framework`. I was able to confirm this with sbt 0.13.7 and 0.13.12, using the `build/pack` output from ant in Scala 2.12.0-M5 and from sbt in Scala 2.12.0-RC1. Tests can be run when Scala is resolved in the usual way from a Maven repository.

[2016-09-19 14:55] milessabin commented on #2748
Hmm ... I _was_ fairly confident that I had run tests successfully quite recently and that persuaded me it must be a regression in the Scala SBT build.

[2016-09-19 14:59] dwijnand commented on #2748
This is because of insourcing ScalaCheck: https://github.com/scala/scala/pull/5244#issuecomment-233861230

And @milessabin has proposed a workaround in https://github.com/sbt/sbt/pull/2678

Quoting myself:

My reasons are`scala-partest-extras.jar` shouldn't include scalacheck and I would prefer to not add another workaround in sbt, especially given that, as far as I understand, the insourcing of s

[2016-09-19 15:03] szeiger commented on #2748
How does ScalaCheck's presence alone cause this failure? Does sbt eagerly load all class files from partest-extras?

[2016-09-19 15:54] milessabin commented on #2748
Blimey! I'd completely forgotten about that!

[2016-09-19 23:38] jkleckner commented on #748
I just started hitting something like this right after upgrading my Mac to version 10.11.6.
Building has ground to a halt as dependencies seem to be validating each time and I see the jnotify error when leaving run mode.  sbtVersion 0.13.8 (also with 0.13.12) playVersion 2.3.9

[code]

Has anyone else started seeing this after applying the security update?
Here is a partial traceback with hitting

[2016-09-20 04:41] eed3si9n commented on #2525
Using the current sbt 1.0.0-SNAPSHOT the number I get is something like:

[code]

so I am guessing a lot of the slowness was coming from my sbt/zinc#100 bug. Implementing this will speedup but it's probably not going to be as dramatic as "5x" any more.

[2016-09-20 11:47] gkossakowski commented on #2525
Did you get the numbers for sbt 1.0.0-SNAPSHOT using `sbt-slow-compile` project and compiling the `sub4` project?

[2016-09-20 11:50] eed3si9n commented on #2525
@gkossakowski Yea. I added a command that does the timing - https://github.com/eed3si9n/sbt-slow-compile/commit/beffd7eecf4950490787bf2459d379fd820d4085

[2016-09-20 21:11] szeiger commented on #2748
To expand my previous question: Why does sbt load _anything_ from partest-extras at all? The JAR is not part of library, compiler or reflect, and I can't think of any reason why sbt would care abouts its existence.

Furthermore: If a ClassNotFoundException gets thrown while sbt analyzes the JAR (for whatever reason), wouldn't it make more sense to log it as a warning and then continue?

[2016-09-20 21:19] eed3si9n commented on #2748
Yes. Perhaps sbt overlearned from the scala-reflect split-up, but currently it treats every JAR files in Scala home as something useful unless it's mentioned in the blacklist:
https://github.com/sbt/sbt/blob/0.13/util/classpath/src/main/scala/sbt/ScalaInstance.scala#L110