[2016-09-20 21:35] eed3si9n commented on #2748
See #661:

sbt/sbt@5b5577a1878dcdbce36f84514c3ea6c0d04389bb

[2016-09-21 12:27] szeiger commented on #2748
Maybe we shouldn't put partest-extras into `pack` in the first place. It's there because ant put it there and it's needed for partest, so it kind of makes sense, but there shouldn't be any technical reason for it in the sbt build. We can reference it wherever it is located.

[2016-09-21 12:30] eed3si9n commented on #2748
Another idea might be to reverse the course of #661 and white list again assuming Scala team won't modularize Scala compiler JARs at least for a while.

[2016-09-21 18:06] SethTisue commented on #2748
+1

[2016-09-21 21:36] eed3si9n opened #2750 "Make a website to view consolidated source"
To workaround multi-repo, aggregate and make xray, with `t` shortcut.

[2016-09-21 23:29] dwijnand commented on #2323
One solution here is to switch away from JGit, such as using https://github.com/dwijnand/sbt-dynver.

@eed3si9n what do you think?

[2016-09-21 23:39] dwijnand commented on #2658
http://www.scala-sbt.org/0.13/docs/Testing-sbt-plugins.html#step+1%3A+snapshot expressly talks about using `-SNAPSHOT`, so maybe this issue is invalid.

[2016-09-22 00:50] eed3si9n commented on #2323
I don't use worktree so I don't have strong opinion about this.

[2016-09-22 00:52] eed3si9n commented on #2658
Publishing -SNAPSHOT locally to do testing is a horrible workaround. I would like to see scripted working without needing to set SNAPSHOT version or put things in my local environment.

[2016-09-22 07:41] milessabin commented on #2748
Is there a consensus on the right way to fix this now? It'd be good to get a fix into an SBT release to help with testing prior to 2.12.0-RC2.

[2016-09-22 07:43] milessabin commented on #2323
How hard would it be to fix upstream in JGit?

[2016-09-22 07:44] milessabin commented on #2323
Comment [here](https://bugs.eclipse.org/bugs/show_bug.cgi?id=477475#c13) suggests the existence of an unmerged fix ... could we go with that?

[2016-09-22 08:07] dwijnand commented on #2323
I haven't gone that far. I assume adding worktree support is non-trivial.

[2016-09-22 10:44] szeiger commented on #2748
@milessabin There's a simple workaround: Delete `scala-partest-extras.jar` before using `build/pack` as a `scalaHome` in sbt.

I'll look into how difficult it would be to move this file to a better location without too many changes to the sbt build.

[2016-09-22 11:00] milessabin commented on #2748
@szeiger that works in the very short term, but it seems we have several simple SBT-side fixes ... we just need to pick one :-)

[2016-09-22 11:05] szeiger commented on #2748
@milessabin Moving the file out of build/pack will fix the problem permanently without requiring a new sbt version.

[2016-09-22 11:07] milessabin commented on #2748
Fair enough ... so the consensus is to change the scala build rather than sbt?

[2016-09-22 11:11] szeiger commented on #2748
There's still some room for improvement in sbt (like not failing catastrophically when such an exception occurs) but changing it in the Scala build looks like the simplest way to make it work again.

[2016-09-22 12:22] dwijnand commented on #2002
Fixed in https://github.com/sbt/sbt/pull/2642, part of sbt 0.13.12.

[2016-09-22 12:22] #2002 closed, assigned to eed3si9n

[2016-09-22 12:31] dwijnand commented on #2518
Fixed in #2564

[2016-09-22 12:42] julienrf opened #2751 "updateClassifiers does not include scala-library source"
## steps

[code]
## problem

`updateClassifiers` does not include `scala-library`’s sources.

[code]
## expectation

[code]
## notes

On my colleague’s machine it works. Some information on my configuration:

[code]

[code]

[2016-09-22 12:48] dwijnand commented on #2751
I can't reproduce it, sadly.

For the record, the current HEAD of scala-js is e939ae5b98c88fc85730c02765f0187c11bcc800

[2016-09-22 12:51] julienrf commented on #2751
I think the hardest part in solving this issue is to find how to reproduce it. What additional information about my environment could help?

[2016-09-22 12:54] dwijnand commented on #2751
I'm not sure..

Pinging @sjrd who authored the `updateClassifier` section of `fetchScalaSource`, in case he might have any ideas or perhaps has seen others hit this issue.

[2016-09-22 12:57] sjrd commented on #2751
@dwijnand "My colleague" was referring to me (I think).

I've looked at the issue on @julienrf's machine, and I couldn't figure out what was wrong. Lots of people have cloned and built successfully Scala.js for a long time, and it's the first time I've seen this happening :(

[2016-09-22 13:00] dwijnand commented on #2751
Close as WFEE? (works for everyone else) :-P

Hmm, this is tricky, but I might be looking at `updateClassifiers` at some point, so I'll keep this in mind.

[2016-09-22 15:11] eed3si9n commented on #2518
I don't think #2564 fully work.

[2016-09-23 06:47] DavidPerezIngeniero commented on #2734
What is a typical use case of the early command?

[2016-09-23 06:49] eed3si9n commented on #2734
@DavidPerezIngeniero The only one we've identified is reducing the log level on startup as `--warn`. This will now be `-warn` with single hyphen in 0.13.13 onward.

[2016-09-23 12:01] krasinski commented on #2422
Any way to include these jars?

Edit: Won't work anyway:
https://github.com/sbt/ivy/pull/11

@jsuereth
@eed3si9n
What do you think about allowing usage of org.apache.ivy.util.url.HttpClientHandler? That would probably solve this issue.

[2016-09-23 14:48] pathikrit opened #2753 "Error wrapping InputStream in GZIPInputStream: java.io.EOFException"
## steps

Tried `sbt ~test`
## problem

[code]
## expectation

Not throw the above exception
## notes

Did `sbt clean` and it worked fine there after.

[2016-09-23 14:50] pathikrit commented on #2753
Possible dupe of https://github.com/sbt/sbt/issues/253 --> not sure why it was closed without a resolution

[2016-09-26 07:49] wobu commented on #2695
We have the same error with a custom property we are setting. Everything worked with sbt 0.13.12 on Windows 7, but since we switched to Windows 10 this annoys us as hell.

Current workaround:
Setting the System Property via `-Dsample=true` in `C:\Program Files (x86)\sbt\conf\sbtconfig.txt`

[2016-09-26 15:22] szeiger commented on #1361
sbt-pgp may also require some changes. `publishLocalSigned` prints these warnings even when publishing a `-SNAPSHOT` release.

[2016-09-27 11:33] josephearl commented on #2422
@vidhyaarvind Unfortunately I did not get it working and have since moved on from that project.

[2016-09-27 13:34] dwijnand commented on #2088
The solution from @eed3si9n is to fold `deliver` into `publish` so that we can publish in the correct order.

[2016-09-27 22:08] dwijnand commented on #2748
Fixed in scala/scala https://github.com/scala/scala/pull/5414

[2016-09-27 22:08] #2748 closed, assigned to nobody

[2016-09-28 15:45] eed3si9n opened #2758 "intermittent download failure from Bintray-backed repositories (JCenter, repo.typesafe.com, etc)"
We are seeing on Travis CI and Jenkins job that sbt artifacts download is failing.

[2016-09-28 16:07] dwijnand commented on #2758
It might be Bintray, not us: https://twitter.com/cvogt/status/781147096569245696

[2016-09-28 16:26] eed3si9n commented on #2758
Yea, the proxy machine has low CPU utilization, so I won't be surprised if it's caused by instability of Bintray. But regardless of the backend if we're failing to deliver the bits, it's on us.

Here's from a recent Travis failure: https://gist.github.com/eed3si9n/f77c354e5f1c3a6a5ad58dccc4e8f977

[code]

[2016-09-28 17:38] virusdave commented on #2758
In case this helps, artifacts for me are actually fully reachable when following the redirect chain.

[code]

SBT, however, can't seem to get it:

[code]

Is there a limit on number of redirects being followed?

[2016-09-28 17:41] virusdave commented on #2758
Or possibly the redirect from https to http?

[2016-09-28 17:55] eed3si9n commented on #2758
@virusdave I am not sure if that explains the intermittent nature of the failure.

[2016-09-28 18:09] virusdave commented on #2758
fair enough.  I don't see it being intermittent on my end though - seems to pretty consistently fail in sbt and always succeeds w/ wget.

[2016-09-28 18:56] kstokoz commented on #2758
Our CI cannot resolve artifacts as well.

[2016-09-28 19:18] gzoller commented on #2758
Piling on... I saw the same start 2-3 days ago where Travis started failing to resolve sbt/Scala artifacts.   I haven't looked 1-by-1 but a cursory scan shows they do seem to come from Bintray.  Strangely I have none of these issues locally.  I can clear my .ivy cache and build from nothing--all the dependencies resolve and download and artifact builds.  Odd, indeed.

EDIT--Ok, so now my local bui

[2016-09-28 21:09] kpmeen commented on #2758
I'm experiencing the same problems on Shippable as well. And in a docker image that I build on docker hub to be pre-loaded with SBT. Started becoming problematic a day or two ago. Now it's constantly failing. And as @gzoller mentions, I can't reproduce it locally.

[2016-09-29 00:49] ahirreddy commented on #2758
I'm seeing invalid/empty jars returned by resolution, polluting my cache:

[code]

[2016-09-29 01:17] JoshRosen commented on #2758
In the long run, I would love to see these SBT artifacts published to Maven Central. Maven Central is reliable and is widely mirrored/cached, so publishing there will help to insulate users from repository downtime issues.

This isn't the first time that the Typesafe repository has gone down or served corrupt files: [search Twitter for "typesafe repo down"](https://twitter.com/search?q=typesafe%20

[2016-09-29 01:23] dwijnand commented on #2758
The plan for 1.0 is to publish to Maven Central.

[2016-09-29 01:24] dwijnand commented on #2758
By "plan" I don't mean "something we're considering", it's already ready and working: http://search.maven.org/#search|gav|1|g:"org.scala-sbt"%20AND%20a:"sbt%22

[2016-09-29 01:35] JoshRosen commented on #2758
What about the SBT 0.13.x artifacts? While I realize that the older versions' builds might have not been configured to publish to Maven Central, I believe that the existing JARs from the Typesafe repo could be published with a manually-created POM and manual GPG signing.

This would be ideal because it would give 0.13.x users the benefit of a more stable repository without requiring them to upgrad

[2016-09-29 02:07] mf-collinhayden commented on #2758
Same issue here, we are getting failures on compilation due to download failures from sbt repo.  We are using 0.3.11 in our properties file, I also tried 0.3.12 and that didn't help.  Sometimes it works and sometimes it doesn't.

Do you guys have a fix for the redirect 302 issue not being handled.  What do you suggest for a short-term fix

[2016-09-29 02:52] yhuai commented on #2758
It is great to see that 1.0 artifact has been published. But, it will be great if 0.13.x artifacts are published to maven central. So, those 0.13.x users will have a more stable build environment.

[2016-09-29 02:58] ahirreddy commented on #2758
I agree with @JoshRosen. I couldn't compile ScalaFMT today because I ended up with corrupted jars in my ivy cache. It's not just the issue of updating my own projects, basically every utility in the Scala community is afflicted with this issue. Also, given that SBT 1.0 introduces a number of breaking changes, it will be some time before the long tail of projects can migrate their builds.

[2016-09-29 03:22] jeffsteinmetz commented on #2758
Its looks to be a 0.13.2 artifact download issue (unrelated to any CI tool, cache, etc)

At 8:21 PDT, Sept 28 2016, I fired up a fresh Ubuntu 14.04 image on Amazon AWS, installed nothing but Java 7, then installed sbt-launcher.jar direct from
http://www.scala-sbt.org/
manually created an sbt bash as shown in manual steps.

several failures:
`The HTTP response code for https://repo.typesafe.com/typ

[2016-09-29 04:46] #2532 closed, assigned to eed3si9n

[2016-09-29 04:54] eed3si9n commented on #2758
Around 0:30 Eastern September 29, 2016 I followed the steps to create an EC2 instance on us-east-1a with ubuntu/images/hvm-ssd/ubuntu-trusty-14.04-amd64-server-20160627 (ami-2d39803a), and I was able to start sbt fine.
https://gist.github.com/eed3si9n/c4221d212f6d818d7c426349751cc6bf

[2016-09-29 04:59] huntc commented on #2758
In case it helps, our CI infrastructure is reporting jcenter download issues:

[code]

These are indeed causing our builds to fail.

[2016-09-29 05:24] ralph-tice commented on #2758
Is there any good reason why the dependencies aren't made available via an assembly-type uber jar, or individually within the rpm/deb artifacts being distributed?

Also, the community should be encouraged not to redownload the entire world on every build -- we need to do a better job of helping each other build the appropriate pass through caches.  Right now most of the best options are paid vendo

[2016-09-29 05:31] eed3si9n commented on #2758
I've initially reported it as repo.typesafe.com failing to serve sbt artifacts, but it seems to be any artifact served from any Bintray-backed repositories including JCenter and repo.scala-sbt.org, which hosts sbt plugins. Any solution specific to solving just the sbt download is not going to solve the larger issue.

[2016-09-29 05:43] #2059 closed, assigned to nobody

[2016-09-29 05:48] ralph-tice commented on #2758
The best idea I've thought of so far was making a docker container that acted as a pre-warmed cache for dependencies, but that led me towards Apache Archiva and my faith and resolve wavered.

[2016-09-29 06:40] ahirreddy commented on #2758
I'll reiterate what @JoshRosen already mentioned

You can side step most of the described issues by publishing to Maven central

[2016-09-29 07:07] eed3si9n commented on #2758
@huntc guessed redirection between HTTPS to HTTP as the cause, which is considered insecure and not implemented by `HttpURLConnection`. And he seems to be right.

Here's the curl log - https://gist.github.com/eed3si9n/0f45d3fc0ea1527c03726406a6eb5451

[code]

http://akamai.bintray.com is on HTTP.

[2016-09-29 09:25] jroper commented on #1791
I am 100% sure that not one of the millions (a quick calculation reveals that this is a conservative estimate) of resolving messages that have flashed before my eyes over the entire time that I have been using sbt have ever helped me in the slightest.  If there's a resolve error, I see the error message, the resolving info message is not helpful.  If there's a problem with my dependencies, I go to

[2016-09-29 09:41] jroper commented on #1791
https://github.com/sbt/librarymanagement/pull/51

[2016-09-29 11:17] dwijnand opened #2761 "Classpath issues with adding Giter8"
1) sbt-android trying to use Javassist, by @pfn
- https://gitter.im/sbt/sbt?at=57ec2e83783fe9b945a59741

2) sbt-scalajs needing to use commons-compress 1.9 but failing because it gets commons-compress 1.6, by @dispalt
- https://gitter.im/sbt/sbt?at=57e9b2caa96e034d3d9a29c5
- https://gitter.im/sbt/sbt?at=57ea9f60d02791686c3f8c82

3) Older versions of sbt-git using older version of JGit and failing,

[2016-09-29 11:18] dwijnand commented on #2761
This is where Giter8 was added: https://github.com/sbt/sbt/pull/2705

[2016-09-29 11:28] dwijnand commented on #2761
It seems that the versions of the transitive dependencies of Giter8 always win over any other version of the same dependency, which is why it's using a newer version of JGit than old sbt-git can work with and an older version of commons-compress than current sbt-android can work with.

@retronym suggests forking instead, and the fact that we're already going through a Java `sbt.template.TemplateRe

[2016-09-29 14:04] fommil commented on #2532
Nice! I'll try this out sometime

[2016-09-29 14:28] intracer commented on #1791
I still hope sbt will provide some progress report so users will not think it's just frozen

[2016-09-29 14:39] eed3si9n commented on #2758
The redirect issue was identified and resolved at Bintray, so hopefully this should now work.
If there are any further issues, feel free to comment here.

Thanks all for the patience.

[2016-09-29 14:39] #2758 closed, assigned to nobody

[2016-09-29 14:40] dwijnand commented on #2532
@fommil It'll be part of 0.13.13 (and available in the 0.13.13-RC2 pre-release)

[2016-09-29 15:27] eed3si9n commented on #2761
Or we can send a PR to Giter8 to shade its dependencies.

[2016-09-29 15:28] dwijnand commented on #2761
On it

[2016-09-29 15:33] dwijnand commented on #2761
@eed3si9n before I go down the wrong rabbit hole, this means using sbt-assembly and publishing an assembly jar, right?

[2016-09-29 15:57] pfn commented on #2761
[code]

[2016-09-29 16:04] dwijnand opened #2762 "Remove the tuple map enrichments"

[2016-09-29 16:05] dwijnand opened #2763 "Deprecate the tuple map enrichments"

[2016-09-29 17:42] mkotsbak commented on #2758
Ah, that is why I had so much trobles.

[2016-09-29 18:04] eed3si9n commented on #2761
@dwijnand Probably.

[2016-09-30 05:11] benmccann commented on #1664
+1 to working on a long term solution for this. It's caused problems with multiple sbt plugins I've been helping to maintain

[2016-09-30 15:29] dispalt opened #2765 "0.13.13-RC2 issue, commons-compress incorrect dependency"
## steps

I made a small repo to demonstrate it.

[code]

This isn't supposed to fail but it does.

if you change the build.properties to `0.13.12` it and re-run it it work
## problem

I am running into an issue with 0.13.13-RC2 specifically around the conflict of two plugins.  It seems to be local to 0.13.13-RC2.   It's not clear from introspection of the build why it's happening.  But a plugin h

[2016-09-30 15:35] eed3si9n commented on #2765
Thanks for the report with the repro steps!
We have #2761 tracking this issue already, and hopefully we have a fix soon.
I'm closing this for now as duplicate.

[2016-09-30 15:35] #2765 closed, assigned to nobody

[2016-09-30 15:44] dispalt commented on #2765
Oh whoops, I was wondering why I started getting SBT emails. Thanks 😀

[2016-10-01 13:11] avdv opened #2766 "NullPointerException with wartremover plugin"
(See the guidelines for contributing, linked above)
## steps

We're using the wartremover 1.1.1 SBT plugin in a Play 2.5.8 application, with SBT 0.13.12 and ReactiveMongo.

Sorry, but giving a reproduction is a bit hard since it seems to depend on a lot of preliminaries and we just hit this after refactoring code into different packages.

Basically, we just ran `sbt compile` in our project.
## pro

[2016-10-03 13:48] mslinn commented on #2690
Microsoft just [prereleased a new version of Windows Subsystem for Linux](http://www.omgubuntu.co.uk/2016/10/windows-10-linux-subsystem-ubuntu-16-04). I'm not a Windows Insider so I do not have access to this prerelease. Here is it in case anyone else is interested.

[2016-10-04 15:48] mpavlov commented on #2156
Also seeing this on java 1.8.0_102-b14, at about a 5% rate. Do not recall seeing it on 1.8.0_60-b27.

[2016-10-04 17:30] vikram-gupta opened #2768 ""illegal cyclic reference involving class" while compiling by sbt using “dist” flag"
I am getting a weird error while compiling my Play application using sbt with the "dist" flag.

However, the same code compiles well WITHOUT using the "dist" flag. So, I am assuming that the Java code is fine. What can be the issue here?

`sbt -Dsbt.log.noformat=true clean clean-files update compile package dist
`

The error that i get is:

[code]

Here is the line of the code where i am getting t

[2016-10-05 16:32] dwijnand commented on #2768
@vikram-gupta Please could you provide a complete minimised reproduction? Otherwise it becomes impossible to debug your issue.

Examples of things missing from your issue that make it impossible to debug:
- What's the definition of `AbstractTMap`?
- What's the definition of `TFloatMap`?

Also you should see if this is still an issue using the latest stable version of sbt (0.13.12).

[2016-10-05 16:44] dwijnand commented on #2740
See:
- https://github.com/sbt/sbt-standalone-build
- https://github.com/sbt/sbt-plugins-build

[2016-10-05 22:20] dpratt opened #2770 "Transtive maven dependencies that have exclusions defined in their POM can cause the dependency itself to be excluded"
## steps

Create a simple project that has a Maven dependency - for example in a basic build.sbt

[code]

then do

[code]
## problem

None of the transitive dependencies from a top-level dependency that have a global wildcard exclusion in their POM are being included in the classpath in SBT.

The published POM for transport-netty4-client contains a dependency entry that looks like the following -

[2016-10-06 05:48] eed3si9n commented on #2770
I think this is a duplicate of #1431, which has been fixed in 0.13 branch (but hasn't been released yet in latest). Could you test sbt 0.13.13-RC2 to see if this has been fixed?

[2016-10-06 14:13] darabos commented on #701
It's the same here, Ubuntu 16.04, SBT 0.13.12. Can we reopen this?

[code]

It never completes. (Unless I run `fg`.)

There's a workaround:

[code]

Some more info from myself: https://github.com/ninja-build/ninja/issues/1190

Basically the same issue on Hive's Beeline: https://issues.apache.org/jira/browse/HIVE-6758

Basically the same issue on STS: https://issuetracker.springsource.com/browse/ST

[2016-10-06 16:47] dpratt commented on #2770
You're correct - looks like this is a dupe of #1431 - updating to 0.13.13-RC2 fixes it.

[2016-10-06 16:47] #2770 closed, assigned to nobody

[2016-10-07 15:30] vdabravolski commented on #2240
Reproduced on Windows 10.

[2016-10-07 20:19] vikram-gupta commented on #2768
Thanks @dwijnand ! The issue actually looks very similar to this discussion -

https://stackoverflow.com/questions/28158173/building-a-project-with-mixed-scala-and-java-source-files-using-ant-illegal-cy/28161687

I tried compiling it again with the following command but still it did not work.

`sbt -Ybreak-cycles -Dsbt.log.noformat=true clean clean-files update compile package dist`

[code]

Any o

[2016-10-07 21:01] dwijnand commented on #2768
You need to configure scalacOptions with that flag, not pass it to sbt

[2016-10-08 06:34] vikram-gupta commented on #2768
@dwijnand Thanks for the suggestion !

Can you help me with the actual syntax to write in build.sbt? I tried the following in "build.sbt" but getting the same issue.

`scalacOptions ++= Seq("-Ybreak-cycles")`

[2016-10-10 10:03] ghost opened #2774 "Slightly better message for sbt's first run"
## steps

Downloaded and installed sbt as given [here](http://www.scala-sbt.org/download.html).
## problem

During the first run it waits for a **long** time at "Getting org.scala-sbt sbt 0.13.9 ...".
## expectation

It would be nice to have the message go something like
"Please wait, first time initialization of sbt. (Step takes time)". Or something along those lines.
## notes

It takes a really

[2016-10-10 10:59] mdedetrich opened #2775 "Unable to a global autoplugin SBT key in a CrossType.pure CrossProject"
## steps

Clone the repository at https://github.com/mdedetrich/cross-type-pure-unable-to-set-key
## problem

It appears to be impossible to set the key `kioTeamName` before it throws a `sys.error` stating that the key must be set. Combinations of setting the `kioTeamName` in the server/client project (or the root project) haven't worked, nor has using `in ThisBuild` worked. I have basically tried

[2016-10-11 03:50] kzys opened #2776 "Cross-build ("+") command doesn't take aliases"
While I was looking #1074, I realized that 1.0.x's `+` command doesn't work with aliases, unlike 0.13.x.
## steps

Start sbt 1.0.x and run `+` with an alias like below.

[code]
## problem

`+` command doesn't work with aliases.
## expectation

It was working on 0.13.x.

[code]

[2016-10-11 06:27] dwijnand commented on #2776
I assume this is a little fall out from #2613, so paging @jroper, perhaps he knows why (or feels nerd-sniped into figuring it out =D).

[2016-10-11 12:49] grillorafael opened #2777 "Is there a way to have Dynamic Dependency (Project/Library)"
(See the guidelines for contributing, linked above)
## steps

I have 1 project with 2 sub projects depending on each other. But they depend as libraries but during development is handy to use `dependOn` instead of `libraryDependencies`
## Question

Is there a way to make SBT look for libraryDependency and if the version is not found, look inside the project definition to see if it can compile and

[2016-10-11 16:15] dwijnand opened #2778 "Test sbt 1.0.x on JDK 9"

[2016-10-11 22:10] aboyett opened #2779 "Raise forbidden repo access at default logging level"
This is related to #429 and #1218. SBT doesn't report another form of credential failure which can occur when provided credentials expire (ex: due to corporate password rotation policy.)
## steps

1) Configure the project to only fetch dependencies from authenticated repositories or include a dependency that is only available from an authenticated repository.
2) Configure SBT to use invalid creden

[2016-10-13 07:51] jroper commented on #2776
I'm not sure that it can work with aliases. So before, cross building was dumb, it changed the scala version build wide, even if some sub projects didn't support that scala version. Then it would issue the "thing" that the user requested, be it a command, task or alias, build wide.  If some sub projects didn't support that scala version (eg, because they were an sbt plugin and so could only build

[2016-10-13 08:08] pkelly03 commented on #1518
👍

[2016-10-13 12:42] dwijnand commented on #2776
Is that restriction in sbt-doge as well? /cc @eed3si9n

Because I know of several projects that use "validate" or "verify" aliases to sequentially call tasks.

[2016-10-13 13:29] bantonsson opened #2781 "Tab completion with lots of projects with similar names is super slow"
## steps

Tested with 0.13.12 but the older versions are slow as well.

Set up a build sbt with lots of projects (100 to be exact) [build.sbt](https://gist.github.com/bantonsson/d2e82529980fd20991a4aaa722243f67#file-build-sbt)

Start sbt prompt do the following:

[code]
## problem

After pressing `<TAB>` for completion you have enough time to drink your coffee while sbt is working before the commo

[2016-10-13 13:37] dwijnand commented on #2781
Open it here against 0.13.

I wonder if https://github.com/sbt/sbt/pull/2547 fixes it for you.

[2016-10-13 13:57] bantonsson commented on #2781
Will open a PR against 0.13.

I'll also try that fix locally, but I'm not sure that is the issue here. We'll see.

[2016-10-13 14:37] bantonsson commented on #2781
The `validId` fix is not related to this issue.

[2016-10-13 16:52] dwijnand opened #2783 "Deprecation warnings are not shown for code in build.sbt"
## steps

**build.sbt**

[code]

**project/plugins.sbt**

[code]

[code]
## problem

No deprecation warnings are shown.
## expectation

They should be shown.
## notes

sbt.version=0.13.12

Fixing this bug is particularly important for the impending 0.13.13 release where the old fishbone operators are deprecated (#2716) and the tuple enrichments are deprecated (#2764).

[2016-10-13 20:41] DustinChaloupka commented on #1583
I am running into this error as well when using sbt-buildinfo along with [sbt-protoc](https://github.com/thesamet/sbt-protoc), which does modify the [`sourceGenerators`](https://github.com/thesamet/sbt-protoc/blob/56811c289a065b07283d550b0c615577915c90ba/src/main/scala/sbtprotoc/ProtocPlugin.scala#L74).

I'm not super familiar with SBT so not sure how to go about trying different workarounds (othe

[2016-10-13 21:23] eed3si9n commented on #1583
@DustinChaloupka I think generating source into a completely different source like `src/main/protobuf-generated` usually fixed the issue.

[2016-10-14 07:53] eed3si9n commented on #2783
The compilation of the build.sbt DSL fragments are done in https://github.com/sbt/sbt/blob/0.13/main/actions/src/main/scala/sbt/compiler/Eval.scala, I think.
First try hard coding "-deprecation" at https://github.com/sbt/sbt/blob/0.13/main/actions/src/main/scala/sbt/compiler/Eval.scala#L52. That didn't work for me.
Once that works, we should be able to pass "-deprecation" from Load.scala (https://

[2016-10-14 08:23] #2529 closed, assigned to nobody

[2016-10-14 08:26] dwijnand commented on #2720
Duplicate of #2156

[2016-10-14 08:26] #2720 closed, assigned to nobody

[2016-10-14 08:46] badkk commented on #1933
+1 => 0.13.8 &&scala: 2.11.8

[2016-10-14 16:50] dwijnand commented on #2783
Ok, so I tracked down that part of the reason that my specific example doesn't work is that sbt's parsing has to workaround https://issues.scala-lang.org/browse/SI-8859 and it does so by re-parsing the already parsed Scala code (to check if there is (are?) missing trailing bracket(s)), and it does so using position start/end, which seem to chop off the leading `@deprecated` annotation.

Moving the

[2016-10-14 16:51] dwijnand commented on #2783
Reference to position chopping and re-parsing: https://github.com/sbt/sbt/blob/v0.13.12/main/src/main/scala/sbt/internals/parser/SbtParser.scala#L148-L149

[2016-10-14 17:00] dwijnand commented on #2783
@eed3si9n Could you help me understand what you meant by from Load.scala/Defaults.scala and that code block?

[2016-10-14 17:13] eed3si9n commented on #2783
So ideally we shouldn't hard-code scalacOption flags in Eval.scala, but make it configurable as part of normal build. As I wrote in the comment within the code snippet `build.sbt` is treated as Scala source of metabuild. This means the user should be able to configure this in `project/*.sbt` if they wanted to.

[2016-10-14 17:24] dwijnand commented on #2783
I agree to making it not hard-coded, but we should default it to include (at least, for now) `-deprecation` for the meta-build (users can then opt-out with `-=`). How do I do that?

[2016-10-14 17:25] eed3si9n commented on #2783
That's what I coded above - deprecationSettings

[2016-10-14 17:32] dwijnand commented on #2783
All right, I'm just not sure where it should be added.

[2016-10-14 21:00] dwijnand commented on #2762
Remove or maybe move into sbt.internal.

[2016-10-16 13:28] olafurpg opened #2786 "0.13.12 regression in resolving org.scala-lang:scala-library in custom configuration"
## steps

Repo to reproduce: https://github.com/olafurpg/scalafmt/files/521826/issue485.zip
## problem

Running `scalafmt` results in errors

[code]

I am unable to reproduce the issue with `sbt.version=0.13.11` in build.properties.

I tried the following with no success:

[code]

However, changing to typelevel/scala fixes the issue (PR: https://github.com/olafurpg/scalafmt/pull/522):

[code]
## e

[2016-10-16 13:29] eed3si9n commented on #2786
How about with 0.13.13-RC3?

[2016-10-16 13:37] olafurpg commented on #2786
Good question. Unfortunately, I get the same error:

[code]

[2016-10-16 13:39] eed3si9n commented on #2786
@milessabin Could this be related to the mediator?

[2016-10-16 16:24] milessabin commented on #2786
Yes, it could, but so far I've not been persuaded that what's being attempted makes any sort of sense at all ... in what circumstances is it reasonable to want more than one version of scala-library on the classpath?

[2016-10-16 19:47] olafurpg commented on #2786
To my best understanding, the classpaths are isolated between different configurations so there will only be one version of scala-library. Here's what the [SBT documentation](http://www.scala-sbt.org/0.13/docs/Library-Management.html#ivy-configurations) says about configurations:

It may very well be that I'm using configurations for the wrong purpose. All I want is a place to put together depende

[2016-10-17 00:48] jatcwang opened #2787 "SBT Launcher doesn't handle spaces in system properties"
## steps

[code]
## problem

For the above command I get the following output:

SBT Launcher doesn't handle spaces in system properties.

[code]

It seems to be splitting on spaces naively and thus Nexus appears as a new command
## expectation

Should handle spaces when it's quoted.
## notes

I had a look at the launcher script /bin/sbt but I cannot put my finger on where exactly it's splitting it

[2016-10-17 06:48] mr-git commented on #2733
Same happens on Mac, SBT installed using brew.
It is safe to ignore, but it is useless output too.
It would be nice to remove anything that causes it to be printed.

[2016-10-17 14:14] littlejin opened #2788 "How to show download speed when downloading jar?"
How to show download speed when downloading jar?

Because sometimes sbt stuck while downloading!

[2016-10-17 22:24] SethTisue commented on #2532
@dwijnand to help you test the fix, could I interest you in submitting a PR upgrading MiMa to use 0.13.13-RCx and addressing https://github.com/typesafehub/migration-manager/blob/7c956c57ae137dbfc729db54f5d35d33b9436347/project/Build.scala#L85-L87?

“to help you”, my god, how transparent. see, it's all about you

[2016-10-17 22:25] dwijnand commented on #2532
Sure.

[2016-10-18 12:54] cunei opened #2789 "Feature request: flag to identify default project"
## problem

When sbt creates a default project, the project name is derived by using a rather complex algorithm that involve the containing directory name, a number of suffixes, the string "root", and so on. That makes it very difficult to guess whether, by looking at the list of projects, a given project is the default one or not. For instance, if the project is checked out into two directories t

[2016-10-18 13:04] dwijnand commented on #2789
By "default project" do you mean the build's root project?

Isn't that https://github.com/sbt/sbt/blob/v0.13.12/main/src/main/scala/sbt/BuildStructure.scala#L16 ?

Also this is mildly related to #2405

[2016-10-18 16:12] schleumer commented on #4919
I can relate that too. I'm on Windows and .sbtopts is ignored, on OSX and Linux it's ok.

[2016-10-18 18:21] chriswhelix commented on #2049
Also, both the configuration above and shown on the website (linked by @eed3si9n) are highly insecure. See best practices for RPM distribution here:

https://access.redhat.com/blogs/766093/posts/1976693

[2016-10-18 18:31] nkadel-skyhook commented on #2049
I agree that the lack of a GPG signature is a problem. But I felt that getting the sbt maintainer to activate GPG signatures was beyond the scope of my suggestion.

[2016-10-18 18:34] eed3si9n commented on #2049
I think the artifacts are signed automatically, there's already an instruction for Ubuntu to confirm the key - http://www.scala-sbt.org/0.13/docs/Installing-sbt-on-Linux.html
Would either of you want to send a pull request to sbt/website on how to do this for RPM?

[2016-10-18 18:43] nkadel-skyhook commented on #2049
Not really, no. Since they've not bothered to publish builds with an inserted '%{?dist}' intry in the "Release:" line of the .spec files, and since they're not publishing SRPMs, I'm afraid that educating the maintainers of software designed to build other software about RPM security is not a task I can take on right now.

[2016-10-19 02:31] seratch opened #2790 "Scala 2.10 build failure when using sbt 0.13.12 or higher"
## steps
- https://github.com/seratch/json4s/commit/0a57852174300955a88ad781f967ed1bd0dba82f
- `sbt ++2.10.6 compile`
- https://gist.github.com/seratch/feea260204db7800ff7538e54fff2874
## problem

The build succeeds when using sbt 0.13.11. But 0.13.12 and 0.13.13-RCs fail to compile as above. Compiling for Scala 2.11 and 2.12.0-RCs are fine.
## expectation

Can compile for Scala 2.10 as well.
## n

[2016-10-19 02:41] eed3si9n commented on #2790
Regression via https://github.com/sbt/sbt/pull/2432?

[2016-10-19 03:01] xuwei-k commented on #2790
[code]

https://github.com/xuwei-k/json4s/commit/b13006004e1d4fa1d16cd5e82ab274f54d2f3f56
https://travis-ci.org/xuwei-k/json4s/jobs/168809926

[2016-10-19 08:12] dwijnand commented on #2790
So it's a transient error when upgrade sbt? If so then I'm not sure if there's much we can do to fix that..

[2016-10-19 17:36] dwijnand commented on #2761
Fixed with #2780. We'll forward port this in 1.0.0.

[2016-10-19 17:36] #2761 closed, assigned to eed3si9n

[2016-10-19 17:38] dwijnand commented on #1612
This will be the case in 1.0.0. (See as an example 1.0.0-M4: http://repo1.maven.org/maven2/org/scala-sbt/sbt/1.0.0-M4/)

[2016-10-19 17:38] #1612 closed, assigned to nobody

[2016-10-20 11:41] tliechti opened #2792 "ivy-home in sbt.conf not respected by sbt-launcher"
I'm using sbt v0.13.11, doing this on a buildserver:

/usr/bin/sbt -v -java-home /usr/lib/jvm/jdk1.7.0_79
-Dsbt.override.build.repos=true
-Dsbt.repository.config=/data/bamboo/localbuildagents/${bamboo.agentId}/sbt/sbt.conf
clean compile dist

mentioned sbt.conf file looks like:

[code]

I was excpecting that the downloaded dependencies from local and remote mvn repo would go to the ivy-home path,

[2016-10-20 12:23] schmitch opened #2793 "sbt-io: Publish 2.12.0-RC2 (0.13.12)"
Well is there any chance to get sbt-io 13.12 published for 2.12.0-RC2?

[2016-10-20 12:32] edesdan commented on #1518
+1

[2016-10-20 12:58] olafurpg commented on #2786
More users have reported this issue. My current recommendation to them is to downgrade to 0.13.11, which I think is a shame.

Is there a chance this might get fixed in 0.13.13? I would be happy with the ability to force a scala-library version in a specific scope:

[code]

Alternatively, is there another way to call 2.11 libraries in SBT plugins?

[2016-10-20 13:02] milessabin commented on #2786
I'd like to help, but I have no idea what the implications of calling 2.11 libraries in SBT plugins are. All my experience with Scala over the last decade tells me that mixing Scala versions in a single JVM can't be expected to work.

[2016-10-20 13:10] sjrd commented on #2786
It can be expected to work if you do this in completely different class loaders. And class loaders created from classpaths in different configurations should be expected to work if those alternative configurations do not have a stray scala-library.jar. If sbt is mixing up scala-library.jar across configurations, this is a bug and it should be fixed. Configurations should be completely isolated fro

[2016-10-20 13:14] sjrd commented on #2786
In Scala.js, we use a similar mechanism to depend on a specific version of Jetty for use (via classloader) by our sbt plugin. See here: https://github.com/scala-js/scala-js/blob/v0.6.13/sbt-plugin/src/main/scala/org/scalajs/sbtplugin/ScalaJSPluginInternal.scala#L948-L962
This allows us to work even if another sbt plugin on the classpath depends on Jetty 9. This is essentially the same issue as usi

[2016-10-20 13:16] sjrd commented on #2786
And to finish with a more constructive comment (instead of sounding like a rant), the above:

means that this thing is definitely fixable ;) And that's the direction in which we should look to solve the issue.

[2016-10-20 13:44] cunei commented on #2789
My description was not adequately clear. The line that you refer to allows one to identify the root project; however, there is no way to determine whether the name of the project was explicitly chosen by the user, in which case within dbuild we can refer to the root project by its proper name, or rather whether the root project received an automatically assigned name by default, in which case the

[2016-10-20 15:51] mdedetrich commented on #2775
Note that I managed to figure out how to get sbt to work with an autoplugin for settings that either don't have a default setting (or ones that use `sys.error`), you however have to set the settings in 5 different places
- Root
- lazy val server
- lazy val client
- shared jsSettings
- shared jvmSettings

Pinging @dwijnand

[2016-10-20 16:13] mdedetrich commented on #2775
Okay, so turns out there is a difference between `sys.error` and leaving a setting undefined in regards to initialisation order. If you just leave a setting undefined then its possible to use `in ThisBuild` to initialise the setting just once

[2016-10-20 16:13] #2775 closed, assigned to nobody

[2016-10-20 16:16] dwijnand commented on #2775
More specifically, when sbt is initialising the value of a key in a scope (say project) it'll fold all the definitions at that scope together, so it'll hit your first sys.error definition and blow up.

If you don't define it, it won't. And if you define it at the lowest scope Global, then any definition in ThisBuild or project level will be used, if present - which is what you want.

[2016-10-20 16:42] eed3si9n commented on #2786
Ivy configurations are meant to be a dependency graph on its own, so if the plugin authors create a sandbox configuration that does not depend on `Runtime`, `Compile` or `Test` it's supposed to be isolated from everything else, and should be safe to use any (or even multiple) versions of Scala.

That does conflict with the general design goal of the mediator added by Miles, which enforces `scalaVe

[2016-10-20 16:50] dwijnand commented on #2786
I think I prefer the first option, as I think when you have an error because you have different major Scala versions it'll be more obvious - as opposed to a configuration-based decision.

eg. I think it'll be easier to understand "here's the problem, I'm using a dependency the uses Scala 2.12", as opposed to "oh right, yeah, I should've remembered to extend Runtime"

[2016-10-20 17:08] dwijnand commented on #2783
Fixed in #2784

[2016-10-20 17:08] #2783 closed, assigned to nobody

[2016-10-20 17:08] dwijnand commented on #2763
Fixed in #2764

[2016-10-20 17:08] #2763 closed, assigned to eed3si9n

[2016-10-20 17:13] dwijnand commented on #2786
The second option also special-cases the topology of configurations descendant from `Runtime`. Is it correct to assume that we want to **only** align `scalaOrganization` and `scalaVersion` across the dependency graph for just `Runtime` or should it be true for any custom topology?

A third option is what Olaf suggested: honour when `force()` is called.

[2016-10-20 18:44] eed3si9n commented on #2786
@dwijnand We already special case `Compile` and `Test` to do all sorts of things like adding scala-library in there, so I don't think it's particularly odd that the scalaVersion enforcement is limited towards them.

We can introduce a new setting called `scalaVersionConfigurations` or something like that and default it to `Compile` (or `Runtime`) descendants, and the build users can tweak it if sh

[2016-10-20 18:49] dwijnand commented on #2786
If we want to go the configuration way, I think that's a good idea (wiring that down to the mediator, with bincompat in mind, might be really tricky though).

Do you think the `force()` idea is bad?

[2016-10-20 19:15] milessabin commented on #2786
I think @eed3si9n's first option defeats a large part of the purpose of the mediator, so I find the second option a lot more appealing.

[2016-10-20 19:18] milessabin commented on #2786
I'm not quite getting the `force()` suggestion ... how is that restricted to a particular configuration?

I think that any mechanism which mixes different versions of `scala-` artefacts within a single process should be done via classloader isolation and distinct configurations (if it's done at all).

[2016-10-20 19:21] eed3si9n commented on #2786
I'm not feeling the `force()` because that means sandbox configuration is broken by default for sbt 0.13.12+, but works fine on 0.13.11.

[2016-10-20 19:45] sjrd commented on #2786
Could someone fill me in/point me to some info on this mediator thing.

[2016-10-20 19:55] dwijnand commented on #2786
@sjrd See #2634

https://github.com/sbt/sbt/pull/2634/files#diff-633274194cf279e704380f18f102f28aR60

[2016-10-20 19:55] eed3si9n commented on #2786
@sjrd It's a feature that was added in sbt 0.13.12 (https://github.com/sbt/sbt/pull/2634) that overrides scala organization and scala version transitively for scala-\* artifacts like scala-compiler and scala-library.

[2016-10-20 20:00] dwijnand commented on #2786
@milessabin I don't think it does defeat a large part: the problem in #2286 was about using dependencies that transitively depended on for example scala-reflect or scala-compiler 2.11.5 (because that was the version of scala used when they were published) while having scalaVersion set to 2.11.8. The scope was always to upgrade the minor version (x.y.Z) of the scala artefacts.

But I don't see anyo

[2016-10-20 20:19] sjrd commented on #2786
I see, thanks. IMO the configuration-based idea is better, in that case.

[2016-10-21 06:55] eed3si9n opened #2795 "Require scalaVersion"
@tpolecat wrote https://twitter.com/tpolecat/status/789288986258931712:

[2016-10-21 08:39] eed3si9n commented on #2795
This would break the existing behavior where the build would function without any build files, which allows things like sbt new. Additionally not all sbt projects are Scala projects.

[2016-10-21 09:14] dwijnand commented on #2795
Will have to workaround it for sbt new, but the plan is to require `sbt.version` in `project/build.properties` (possibly by prompting the user to confirm to create one).

With regards to non-Scala projects, I think perhaps we need to just leave scalaVersion undefined, which is fine for non-Scala projects.

[2016-10-21 09:15] dwijnand commented on #2795
Link to requiring sbt.version: #754 and #2668

[2016-10-21 11:06] tpolecat commented on #2795
Yeah, I realize there are some corner cases. But I think at least some kind of mechanism that checks for the version would help people out. I spent some time with a frustrated doobie user last night who honestly though he was using 2.11 but was actually using 2.10 (which requires the paradise plugin for some generic derivations but not others, so he was seeing random implicit not found errors). So

[2016-10-21 11:16] dwijnand commented on #2795
Not defaulting scalaVersion would make it fail early. The question is how badly it explodes..

@tpolecat do you feel like trying it out for 1.0.x?

[2016-10-21 12:51] soc commented on #2795
I'd suggest starting without `scalaVersion`, but not providing Scala libraries by default. (Basically the opposite of `autoScalaLibrary := false`).
It would be a lot more consistent with other possible library dependencies like Guava, Apache Commons or Spring which are not added "just in case".

This would make it much easier for SBT to gain more adoption outside of the Scala ecosystem.

[2016-10-21 12:58] dwijnand commented on #2795
scala-library isn't added "just in case", it's added because sbt, even though sbt supports non-Scala projects, it started as a Scala build tool. So I think autoScalaLibrary defaulting to true is correct.

[2016-10-21 13:05] soc commented on #2795
Do we have no bigger ambitions than being a "Scala" build tool?
As an example, Gradle has been very successful not being a "Groovy" build tool.

I think some outside adoption is desirable, as it would encourage tooling providers to add better support for SBT and test codepaths which might not be taken that often in Scala.

This can only happen if non-Scala devs don't feel like second-class citizen

[2016-10-21 13:12] ralphcollett commented on #748
Hi @jkleckner did you resolve your issue? I am seeing the same since upgrading to macOS Sierra (10.12)? Thank-you, Ralph

[2016-10-21 13:22] dwijnand commented on #2795
It does, that's why I said started.

It's definitely used mostly for Scala projects over any other language, so defaulting to true makes sense.

[2016-10-21 13:33] soc commented on #2795
Isn't that confusing cause and effect?

[2016-10-21 13:43] dwijnand commented on #2795
I don't think sbt isn't used mostly for Java projects because of this default value.

Not having `autoScalaLibrary` at all would be detrimental to any uptake in other languages, but that's not the case here.

If over the next few years sbt successfully gains a huge number of non-Scala users then for 2.0 we should reconsider this choice. For now I don't think it's a good idea.

[2016-10-21 13:46] soc commented on #2795
I think it's sure as hell that this won't ever happen if non-Scala devs are treated as second-class citizens.

The market for "accept your second-class citizenship and maybe will make you feel more welcome 5 years down the road" seems to be quite small, given the existing competition.

[2016-10-21 18:29] eed3si9n commented on #2795
@soc As interesting as the idea of reducing Scala favoritism is, I think it's a whole different layer of discussion, so could you open a new issue or a thread on ML, please? On this issue, I want to explore the possibility of `scalaVersion`, which I think has much narrower scope.

[2016-10-21 18:54] eed3si9n commented on #2795
It might be helpful to display some information about the subproject when sbt starts up or when the subproject is switched could help. Something like:

[code]

[2016-10-22 16:35] fommil commented on #2015
I also see a regression when combined with sbt-ensime, e.g. in our scripted tests

[2016-10-24 20:51] SethTisue commented on #2793
this is one of Play's dependencies, which is an obviously important project we'd like to be sure is 2.12 compatible

[2016-10-24 20:57] dwijnand commented on #2793
PR in #2794, merged into the 0.13.13 branch, cut as 0.13.13-RC3 http://dl.bintray.com/typesafe/ivy-releases/org.scala-sbt/io_2.12.0-RC2/0.13.13-RC3/jars/

[2016-10-24 20:57] #2793 closed, assigned to nobody

[2016-10-24 21:08] SethTisue commented on #2793
thanks Dale! I was going to add it to https://github.com/scala/make-release-notes/blob/2.12.x/projects-2.12.md, but maybe I shouldn't if it's only published to bintray and not to maven central.

[2016-10-24 22:02] eed3si9n commented on #2793
The authoritative URL is https://repo.typesafe.com/typesafe/ivy-releases/org.scala-sbt/io_2.12.0-RC2/0.13.13-RC3/jars/ (then we redirect to Bintray), which is Typesafe repo where rest of the sbt 0.13 artifacts are also published.

[2016-10-25 12:02] nartamonov opened #2796 "Conflict with internal SBT dependencies"
I wrote SBT plugin which _must_ use Jsch version 0.1.54. So in `project/plugins.sbt` I have:

[code]

Since SBT also have internal dependency on Jsch version 0.1.46, plugin _actually_ uses 0.1.46. How can I fix this?

I've tried `dependencyOverrides` but with no luck.

[2016-10-25 17:15] eed3si9n commented on #2668
Coming back to this issue since it's part of the sbt 1.0.0 milestone...

In how many ever years I've been using sbt (since sbt 0.7.7) I don't think I've ever started a build by launching sbt with zero configurations, and started typing `set` commands into the shell and used `session save` to save to `build.sbt`. I don't think that use case never took off, and sbt 0.13 introducing multi-project bui

[2016-10-25 17:25] #2546 closed, assigned to eed3si9n

[2016-10-25 17:25] dwijnand commented on #2668
Shall we close #754 in favour of this (or vice versa), or is it distinct?

[2016-10-25 17:28] eed3si9n commented on #1041
This will be fixed in sbt 1.0 via #2741

[2016-10-25 17:28] #1041 closed, assigned to eed3si9n

[2016-10-25 17:29] #1763 closed, assigned to eed3si9n

[2016-10-25 17:33] eed3si9n commented on #2525
Fixed via https://github.com/sbt/zinc/pull/180

[2016-10-25 17:33] #2525 closed, assigned to eed3si9n

[2016-10-25 19:30] eed3si9n commented on #2668
I'd say close #754 when the PR is merged.

[2016-10-25 19:35] eed3si9n opened #2797 "GraphQL-like frontend for sbt-datatype"
GraphQL's schema language looks much nicer to write than JSON.
I am thinking about borrowing @OlegIlyenko's Sangria code (https://github.com/sangria-graphql/sangria) for parsing GraphQL and then add whatever we need on top of it, such as "lazy" and "since".

[2016-10-25 19:48] eed3si9n opened #2798 "Minimal sbt thin client"
## steps
1. Start sbt server on terminal1 where a build is located: `sbt server`
2. Start sbt client on terminal2 from anywhere like `~/temp/`: `sbt client localhost:5001`
3. In the thin client, I can type in sbt shell expressions such as `echo-server/compile`
## expectation

The shell expressions are queued up to the sbt server and it gets executed.
## not part of the scope

Seeing the intermedia

[2016-10-25 19:55] eed3si9n opened #2799 "Channel cursor"
Given https://github.com/sbt/sbt/issues/2798
## steps
1. Start sbt server on terminal1 where a build is located: sbt server
2. Start sbt client on terminal2 from anywhere like ~/temp/: sbt client localhost:5001
3. On terminal1 `project echo-server`
4. On terminal2 `project echo-client`
5. On terminal1 type `name`
6. On terminal2 type `name`
## expectation

I expect terminal1 and terminal2 to retur

[2016-10-25 20:03] eed3si9n opened #2800 "Split terminal output per-channel"
Given https://github.com/sbt/sbt/issues/2798
## steps
1. Start sbt server on terminal1 where a build is located: sbt server
2. Start sbt client on terminal2 from anywhere like ~/temp/: sbt client localhost:5001
3. On terminal1 `project echo-server`
4. On terminal2 `project echo-client`
5. On terminal1 type `hello` (let's say hello is a command that logs "hello")
6. On terminal2 type `hi` (let's sa

[2016-10-25 20:36] eed3si9n opened #2801 "Abstract logging output over JSON"
Given https://github.com/sbt/sbt/issues/2798
## steps
1. Start sbt server on terminal1 where a build is located: sbt server
2. Start sbt client on terminal2 from anywhere like ~/temp/: sbt client localhost:5001
3. On terminal2 type `assembly`
## expectation

The log output from sbt-assembly is displayed on terminal2.

See http://eed3si9n.com/sbt-server-reboot on more details.

[2016-10-25 20:39] eed3si9n opened #2802 "Abstract compile output over JSON"
Given https://github.com/sbt/sbt/issues/2798
## steps
1. Start sbt server on terminal1 where a build is located: sbt server
2. Start sbt client on terminal2 from anywhere like ~/temp/: sbt client localhost:5001
3. On terminal2 type `compile`
## expectation

The compilation outputs (such as errors and warnings) are displayed on terminal2.

See http://eed3si9n.com/sbt-server-reboot on more details.

[2016-10-25 21:02] eed3si9n opened #2803 "JSON encoding for useful tasks and settings"
## steps
1. Start sbt server on terminal1 where a build is located: sbt server
2. Start sbt client on terminal2 from anywhere like ~/temp/: sbt client localhost:5001
3. On terminal2 type `show update`
## expectation

Textual representation of `update` report is displayed on terminal2.
## note

JSON databindings should be derived automatically using sbt-datatype.

[2016-10-25 21:07] eed3si9n opened #2804 "Abstract "run" task over JSON"
## steps
1. Start sbt server on terminal1 where a build is located: sbt server
2. Start sbt client on terminal2 from anywhere like ~/temp/: sbt client localhost:5001
3. On terminal2 type `project echo-server`, and then `run`.
## expectation

The standard output from "echo-server" is displayed on terminal2.

[2016-10-25 21:10] eed3si9n opened #2805 "Abstract "console" task over JSON"
## steps
1. Start sbt server on terminal1 where a build is located: sbt server
2. Start sbt client on terminal2 from anywhere like ~/temp/: `sbt client localhost:5001`
3. On terminal2 type `project echo-client`, and then `console`.
## expectation

Scala REPL works on terminal2.

[2016-10-25 21:40] eed3si9n opened #2806 "Background run (bgrun)"
## steps
1. Start sbt on a multi-project build: for instance echo-server and echo-client
2. Run "echo-server/bgrun" to start background "run" task in the background
## expectation

`bgrun` returns the control immediately back to the shell, so I can run "echo-client/test".

[2016-10-25 21:48] eed3si9n opened #2807 "Job list"
Given https://github.com/sbt/sbt/issues/2806
## steps
1. Start sbt on a multi-project build: for instance echo-server and echo-client
2. Run `echo-server/bgrun` to start background "run" task in the background
3. Run `jobList`
## expectation

`jobList` displays the list of all jobs under control by sbt's command engine.
Each job is associated with:
- job id
- command line
- initiating channel
- (o

[2016-10-25 22:23] eed3si9n opened #2808 "Concurrent processing of settings"
Given https://github.com/sbt/sbt/issues/2798 and https://github.com/sbt/sbt/issues/2807
## steps
1. Start sbt server on terminal1 where a build is located: `sbt server`
2. Start sbt client on terminal2 from anywhere like ~/temp/: `sbt client localhost:5001`
3. On terminal1 `project echo-server`
4. On terminal2 `project echo-client`
5. On terminal1 type `run`
6. On terminal2 type `name`
## expectat

[2016-10-25 22:42] eed3si9n opened #2809 "Concurrent processing of run"
Given https://github.com/sbt/sbt/issues/2798 and https://github.com/sbt/sbt/issues/2807
## steps
1. Start sbt server on terminal1 where a build is located: sbt server
2. Start sbt client on terminal2 from anywhere like ~/temp/: sbt client localhost:5001
3. On terminal1 `project echo-server`
4. On terminal2 `project echo-client`
5. On terminal1 type `run`
6. On terminal2 type `test`
## expectation

[2016-10-25 23:25] dwijnand commented on #2668
I agree to the rest, but for that last step I would prefer prompting the user instead of creating and warning.

Also I don't think this change is breaking, so we could ship it in 0.13 if someone contributed it.

[2016-10-25 23:37] dwijnand commented on #1399
At least for sbt/sbt, fixed in #2771

[2016-10-25 23:37] #1399 closed, assigned to nobody

[2016-10-25 23:38] dwijnand commented on #2405
Duplicate of #1224

[2016-10-25 23:38] #2405 closed, assigned to nobody

[2016-10-26 03:47] kzys commented on #2736
Does "the friends" include `sbt.ProcessExtra`?

[2016-10-26 04:34] kzys commented on #2384
On #944, shouldn't be the default behavior? As a Unix user, I can't imagine the use case where I want to ignore the executable bit.

[2016-10-26 09:27] louisjiang commented on #762
[debug] Calling Scala compiler with arguments  (CompilerInterface):
[debug] 	-language:implicitConversions
[debug] 	-bootclasspath
[debug] 	/root/.ivy2/cache/org.scala-lang/scala-library/jars/scala-library-2.11.8.jar:/root/.ivy2/cache/org.scala-lang/scala-compiler/jars/scala-compiler-2.11.8.jar:/root/.ivy2/cache/org.scala-lang/scala-reflect/jars/scala-reflect-2.11.8.jar
[debug] 	-bootclasspath
[de

[2016-10-26 09:28] louisjiang commented on #762
[code]

[2016-10-26 13:35] barrybecker4 commented on #641
I think that this issue should be reopened. The problem is reproducible using sbt version 0.13.7.
Here is the dependency in my sbt file:
 `"org.apache.spark" % "spark-mdlp-discretization_2.11" % "0.2-SNAPSHOT" changing(),`
I have tried repeatedly to get the latest SNAPSHOT using "sbt update" but it does not pull it unless I explicitly removed the existing spark-mdlp-discretization_2.11-0.2-SNAPSHO

[2016-10-26 13:45] barrybecker4 commented on #641
OK. I tried again with 0.13.12 and it seemed to work, so never mind...

[2016-10-26 15:39] dwijnand commented on #2736
Yep

On Wed, 26 Oct 2016, 04:47 Kazuyoshi Kato, notifications@github.com wrote:

[2016-10-27 05:19] eed3si9n opened #2811 "sbt-datatype: more natural JSON encoding of ADTs"
## steps

Suppose interface `Fruit`, and record `Apple` and `Orange`.
## expectation

I can encode it as:

[code]

using a configurable field as the splitter (in this case `type`).

[2016-10-27 13:46] #2616 closed, assigned to nobody

[2016-10-27 20:14] ritschwumm commented on #2811
you can use "" instead of "type" and be pretty sure it will not ever clash with a field name.

[2016-10-28 12:14] dwijnand opened #2812 "Errors running sbtRoot/compile:doc"
## steps

`sbtRoot/compile:doc` (I hit this running `ghpagesPushSite`)
## problem

[code]

There are also warnings, but I've excluded them.
## expectation

No errors, I can push scaladocs and sxr.

[2016-10-28 17:38] eed3si9n opened #2813 "sbt 0.13.13 packager is installing sbt 1.0.0-M1"

[2016-10-28 18:30] jvican commented on #2786
It's a shame this issue was not fixed before 0.13.13. What's the next version that will address this bug?

[2016-10-28 18:34] eed3si9n commented on #2786
I guess we sort of agreed on the direction of the fix but we never assigned who's going to work on it. Once we have a fix, I'd be happy to publish 0.13.14-M1.

[2016-10-28 18:36] eed3si9n commented on #2813
It's now fixed.

[2016-10-28 18:36] #2813 closed, assigned to nobody

[2016-10-29 03:29] #2781 closed, assigned to nobody

[2016-10-30 11:17] chwthewke opened #2814 "updateSbtClassifiers fails when scalaOrganization is set to org.typelevel"
## steps

Create a minimal project with `scalaOrganization in ThisBuild := "org.typelevel"`

Run `sbt updateSbtClassifiers`
## problem

The task fails with the following error:

[code]
## expectation

The task should resolve the scala 2.10 artifacts for sbt from the `org.scala-lang` organization
## notes

sbt 0.13.13

I could not find a report of this problem, but it looks very similar to #2686, w

[2016-10-30 12:55] hseeberger commented on #2786
Please fix asap, else scalafmt cannot be used for Scala 2.12.

[2016-10-30 19:36] KadekM commented on #2786
Please fix as soon as possible :)

[2016-10-30 23:40] ryan-williams opened #2815 "Docs inconsistent about where to put sonatype.sbt"
## steps
- http://www.scala-sbt.org/release/docs/Using-Sonatype.html#Fourth+-+Adding+credentials says `~/.sbt/0.13/sonatype.sbt`
- http://www.scala-sbt.org/release/docs/Using-Sonatype.html#%7E%2F.sbt%2Fsonatype.sbt says `~/.sbt/sonatype.sbt`.
## problem

the latter doesn't seem to work
## expectation

the latter should match the former

[2016-10-31 16:06] graingert opened #2816 "sbt 0.13.13.tgz has a different directory layout than 0.13.12.tgz"
(See the guidelines for contributing, linked above)

## steps
[code]

Works, but
## problem

If you set SBT_VERSION to 0.13.13 it doesn't because the directory has been renamed from 'sbt' to `sbt-launcher-0.13.13`

## expectation

I expect the directory layout to be the same

## notes

otherwise I'd consider it a semver break.

[2016-10-31 16:09] eed3si9n commented on #2816
Thanks for the report. I wonder if it's related to our bumping up sbt-native-packager.

[2016-10-31 16:10] graingert commented on #2816
although if you change it back, you're going to break me again, as I've now updated to the new path.

[2016-10-31 16:12] dwijnand commented on #2816
@eed3si9n Yes, I believe that is correct. The same happened to @fommil in Ensime for Windows: https://github.com/ensime/ensime-server/pull/1632

[2016-10-31 16:14] graingert commented on #2816
can you restore the old structure?

[2016-10-31 16:15] eed3si9n commented on #2816
On Mac, the old one expanded to a directory named "sbt".
New one is now called "sbt-launcher-packaging-0.13.13". This is the problem right?

I think we should change it back to "sbt".

[2016-10-31 16:16] dwijnand commented on #2816
I'm not familiar with sbt-native-packager, but I've started a conversation with @muuki88 to try and fix this post-upgrade, for the next release.

[2016-10-31 16:16] graingert commented on #2816
@eed3si9n this isn't for macOs, this is on a Linux machine

[2016-10-31 16:19] eed3si9n commented on #2816
My recommendation would be to fix soon and release 0.13.13.1.tgz.

[2016-10-31 16:21] eed3si9n commented on #2816
In the meantime, could we come up with a workaround to buffer this change? http://unix.stackexchange.com/questions/11018/how-to-choose-directory-name-during-untarring

[2016-10-31 16:22] graingert commented on #2816
I'm using `export PATH="/root/sbt-launcher-packaging-$SBT_VERSION/bin:$PATH"`

[2016-10-31 16:27] muuki88 commented on #2816
I haven't had the time yet to look at the new sbt release. Can I reproduce this behaviour when I publish sbt locally from the `0.13` branch and upgrade native-packager?

[2016-10-31 17:14] eed3si9n commented on #2816
@muuki88 here's the repo - https://github.com/sbt/sbt-launcher-package/blob/master/CONTRIBUTING.md. start sbt with something like

[code]

[2016-10-31 19:05] seveneves commented on #2422
I got the same problem when trying to publish zip created by `sbt-native-packager`. The resulted zip has 40+ Mb and causes the described behavior all the time. It seems that the reason for the failed upload is describe at [Ivy deploy fails intermittently with "java.io.IOException: Error writing to server" ](https://support.sonatype.com/hc/en-us/articles/218101688-Ivy-deploy-fails-intermittently-wi

[2016-10-31 20:32] muuki88 commented on #2816
I submitted a PR (https://github.com/sbt/sbt-launcher-package/pull/127)

[2016-11-01 00:21] salimfadhley opened #2817 "Cannot access an artifactory repo protected by HTTP basic authentication on Windows"
I'm trying to use sbt behind a corporate firewall. The only access to the outside world is via an Artifactory installation. After setting up a ~/.sbt/repositories file I was initially able to bootstrap SBT and subsequently download any artifacts I needed for my project... unfortunately when I switched on HTTP basic-auth on thiis server things started to fail.

When I run sbt I see the following er

[2016-11-01 05:12] xuwei-k opened #2818 "[sbt 0.13.13] incorrect deprecated message"
## steps

`build.sbt`

[code]

`project/plugin.sbt`

[code]

`project/build.properties`

[code]

sbt 0.13.13 says follow

[code]

I modified `build.sbt` and reload

[code]

[code]

## problem

```Use `lhs += { x.value }` ``` is incorrect message.

## expectation

`x += y.taskValue` is right way in this case.

[2016-11-01 13:47] dwijnand opened #2819 "Change cross-version source directory support to use CrossVersion.binary instead of CrossVersion.partialVersion"
## steps

1. `++2.13.0-M4!`
2. Put source files in `src/main/scala-2.13`.
3. `compile`
4. `scalaPartialVersion`

## problem

1. `compile` doesn't pick up the source because it currently uses `src/main/scala-2.13.0-M4`.
2. `scalaPartialVersion` key doesn't exist.

## expectation

1. compilation works.
2. `scalaPartialVersion` returns `"2.13"`

## original issue

That way during pre-releases you don

[2016-11-01 13:56] eed3si9n commented on #2819
See https://github.com/sbt/sbt/pull/1799#issuecomment-69937528

[2016-11-01 14:00] dwijnand commented on #2819
I think following the symmetry with `crossTarget` goes against the UX.

[2016-11-01 15:14] fommil commented on #2819
a workaround for 0.13.13 would be appreciated.

[2016-11-01 15:36] dwijnand commented on #2819
https://github.com/milessabin/shapeless/blob/eec3d55d1840a2ab31efedc9f8badefd6a49f5f9/build.sbt#L212-L222

[2016-11-01 15:44] eed3si9n commented on #1812
The other direction @lihaoyi suggested is implementing REPL friendly Scala notation. I just tried implementing `:` method:

[code]

so something other than `:`.

[2016-11-01 15:54] dwijnand commented on #1812
I don't think we can simultaneously change both syntaxes..

[2016-11-01 18:31] eed3si9n commented on #1812
We can use slash everywhere:

[code]

This character is relatively easy to type, and the meaning is close enough.
We might need to introduce the notion of top-level `/` and current `./` to disambiguate between a configuration named `IntegrationTest` and a subproject that could be named `IntegrationTest`.

If we can implement this on top of the existing shell, we could even experiment during 0.13.x

[2016-11-01 21:57] jodersky opened #2820 "Publish debian archive for 0.13.13"
I have installed sbt via the bintray debian archive. Whilst trying the `sbt new` command introduced in sbt 0.13.13, I realized that it wasn't available, even after an `apt upgrade`. Checking the archive, it does not contain the latest version.

## steps
Follow the download steps for Debian [here](http://www.scala-sbt.org/download.html)

## problem
The [archive](http://dl.bintray.com/sbt/debian/) d

[2016-11-01 22:06] eed3si9n commented on #2820
Done. Could you try it now?

[2016-11-01 22:19] jodersky commented on #2820
Works now, thanks!

[2016-11-01 22:19] #2820 closed, assigned to nobody

[2016-11-02 09:51] paul-lysak commented on #2015
With sbt 0.13.13 issue still persists (though for me error happens only when importing project in Intellij IDEA, not when building from console). With 0.13.11 it works just fine.
And I have excludeAll applied to dependencies:

[code]

which is a necessary condition for reproducing the issue, the project imports OK if i comment it out.

[2016-11-02 10:29] kosii commented on #2422
@seveneves I used the [sbt-aether](https://github.com/arktekk/sbt-aether-deploy) plugin to work around this problem

[2016-11-02 11:30] jbilcke commented on #2753
I have the same issue, except I still can't build the project, even after calling `sbt clean`or even deleting the `target` directory myself:

[code]

Scala version: 2.11.8
Sbt version: 0.13.11

[2016-11-02 13:53] jbilcke commented on #2753
Ok I found out why it didn't work for me, the `sbt clean` wasn't recursive: I've emptied everything and now it works fine.

[2016-11-02 17:02] m4dc4p opened #2821 "Can't Publish Ivy & Maven Metadata Simultaneously"
The `publish` task can publish Maven or Ivy metadata, which is controlled by the `publishMavenStyle` key. If `publishMavenStyle` is `true`, then `publish` creates a POM and uploads it to the repository. Otherwise, it generates an Ivy XML file and uploads that. I want to do *both*, but SBT makes it really hard.

A workaround is to define a subProject which only publishes the Maven POM, and a root p

[2016-11-02 17:22] eed3si9n commented on #2821
This sounds like a pretty good solution to me.
You can aggregate command at the root to make root publish both:

[code]

[2016-11-03 09:42] francisdb opened #2822 "[0.13.13] test class autocompletion broken"
## steps

sbt 0.13.12
[code]

sbt 0.13.13
[code]

We are using specs2 on a multi-module project

[2016-11-03 12:40] sinkovsky commented on #2156
Had similar issue, problem was with insufficient disk space on Jenkins volume.
Check that you're not running out of disk space

[2016-11-03 15:16] eed3si9n commented on #2822
Thanks for reporting this.

[2016-11-03 15:24] liff commented on #1444
Minimal repro:

[code]

Run with `sbt hello`.

[2016-11-03 15:26] aolins opened #2823 "Camel Context keeps hanging and executing after "run" ends"
(See the guidelines for contributing, linked above)

## steps
1. git clone https://github.com/aolins/sbtbug.git
2. cd sbtbug
(this is hardcoded, but you can change the code)
3. mkdir /d/inbox
4. sbt
From sbt console

C:\d\a\sbtbug>sbt
[info] Loading project definition from C:\d\a\sbtbug\project
[info] Set current project to tcpcamel (in build file:/C:/d/a/sbtbug/)

[info] Updating {file:/C:/d/a/sb

[2016-11-03 15:31] benjaminjackman commented on #2096
Has this happened? not having any luck finding it maven central searches.

[2016-11-03 16:42] dportabella opened #2824 "sbt run fails in this trivial example"
This is a minimal example to show a very weird thing when using `sbt run`

build.sbt
[code]

project/build.properties
[code]

src/main/scala/application/Test.scala
[code]

executing this with sbt run fails:
[code]

however, executing sbt package and running from it works:
[code]

[2016-11-04 01:04] rahulait commented on #2679
Same issue for me. If I put my machine on public ip-address and open all ports, then installation works fine. Else, it keeps on failing. Though, I can download the jar files manually as mentioned in the comment above this.

[2016-11-04 01:22] rahulait commented on #2679
Works after following the steps mentioned by francisdb on this issue: https://github.com/sbt/sbt/issues/2536#issuecomment-205491495

For me, the problem seemed to be latest version of java. Switching to 1.8 worked fine without any issues.

[2016-11-04 19:35] ctataryn opened #2825 "Feature Request: test:clean"
I've been in situations where I've upgraded a library in my project and have received several deprecation warnings. My typical workflow is to fix `src/main/scala` stuff first, and then tackle `src/test/scala`.

I refactor the main code by running `~;clean;compile`, fixing each error/deprecation warning displayed on the console. Similarly I'd like to tackle the test code by running `~;test:clean;te

[2016-11-07 10:40] pme123 commented on #2156
Maybe this helps in finding the problem:
This works:
`concurrentRestrictions := Seq(
  Tags.limit(Tags.CPU, 4),
  Tags.limit(Tags.Network, 10),
  Tags.limit(Tags.Test, 1),
  Tags.limitAll( 15 )
)`

This did not work:
`concurrentRestrictions in Global := Seq(
  Tags.limit(Tags.CPU, 4),
  Tags.limit(Tags.Network, 10),
  Tags.limit(Tags.Test, 1),
  Tags.limitAll( 15 )
)`

Only difference `in Global`

[2016-11-07 17:40] eed3si9n commented on #2786
Here's a way to turn off `scalaVersion` mediator, as a workaround:

[code]

I'm also seeing behavior related to https://github.com/sbt/sbt/issues/1466 as reported by @johnynek:

[code]

Edit: I fixed the s/class/object/ per https://github.com/sbt/sbt/issues/2786#issuecomment-259615416

[2016-11-09 17:14] csaltos commented on #2818
For me `x.value` works with 0.13.3.

I was using this expression with 0.13.12 ->
`unmanagedSourceDirectories in Compile <+= baseDirectory( _ / "extra/src/main/scala" )`

Which now with 0.13.13 works with ->
`unmanagedSourceDirectories in Compile += (baseDirectory( _ / "extra/src/main/scala" )).value`

If I try to use `taskValue` instead of `value` I got the error `error: value taskValue is not a m

[2016-11-09 17:19] dwijnand commented on #2818
@csaltos For you case you want

[code]

[2016-11-09 17:55] csaltos commented on #2818
OK, good to know, that's even another variant, so the main goal here is how to explain when to use taskValue or value at the deprecation error message and if they are the same case or different cases of the usage of `<+=`

[2016-11-10 06:55] lloydmeta commented on #2786
FWIW, instead of `class MediatorWorkaround` I needed to use `object MediatorWorkaround`.

Also, in case anyone is wondering, I put the above in `project/MediatorWorkaround.scala`, which will get picked up by SBT, so

[code]

[2016-11-10 19:18] ghost commented on #748
Any updates on this?
I am seeing the same on macOS 10.12 and java 1.8.0.101

[2016-11-12 15:37] fommil opened #2829 "BuildStructure (or an alternative) needs to be public API"
I've been looking into upgrading `sbt-ensime` to sbt 1.0 and I've hit a few show stoppers with deprecated APIs.

Most notably the `BuildStructure` is now internal, but we use it extensively to inspect build information, see in https://github.com/ensime/ensime-sbt/blob/2.0/src/main/scala/EnsimePlugin.scala

`sbt-ensime` is primarily a `Command` that generates a `.ensime` file that contains explicit

[2016-11-12 15:39] dwijnand commented on #2829
I make use of `BuildStructure` (and related types) in sbt-project-graph too:

https://github.com/dwijnand/sbt-project-graph/blob/bb5ccf8fa5fc6023e1a03cc5e8bc3ab355d9441b/src/main/scala/com/dwijnand/sbtprojectgraph/SbtProjectGraphPlugin.scala#L16

[2016-11-12 19:49] eed3si9n commented on #2829
BuildStructure probably should be superseded by proper commands and queries against the server's (JSON or Scala) API. We would want to make sure that import features continue to work for ENSIME and IDEs.

[2016-11-14 17:44] pauldraper opened #2830 "Change ivy-releases to direct URL"
[code]

Since ivy resolves synchronously and (it appears to me) without keep-alives and SSL session caching, redirecting every request *significantly* affects overall resolution time. Back of the envelope is 0.5s/request * 150 requests = a minute just for resolving SBT.

The ivy releases URL should be changed to dl.bintray.com. (Alternatively, the admins for repo.typesafe.com could just make it a

[2016-11-15 13:31] alesbukovsky commented on #748
I am also getting the same on MacOS 10.12.1 with Java 1.8.0_112, sbt 0.13.5 and Play 2.3.8. The same setup used to work fine, so I am suspecting the recent security OS update.

[2016-11-15 14:09] jkleckner commented on #748
@ralphcollett The problem did go away but it wasn't clear what of many things resolved it.  I updated  Xcode and command line tools with xcode-select.  Updated Jdk (both 7 and 8).

Note that an "sbt update" from a cleaned repo is still very slow for me which might be related to #2830

[2016-11-15 16:23] dgoetsch commented on #1041
This is why I am never using sbt again.

[2016-11-15 17:52] #2134 closed, assigned to nobody

[2016-11-15 17:52] eed3si9n commented on #2830
I don't think we should use the direct URL as we don't want to permanently commit to using Bintray. (We've switched from Artifactory Online to Bintray in the past)

It would make sense for Network API to cache the redirection rule somehow tho.
https://github.com/sbt/sbt/issues/2189

[2016-11-15 23:12] eed3si9n commented on #2352
More done stuff
- [x] 265cbd7 Fixes #2480. Workaround for Jline regression (#2570)
- [x] bc54514 Merge pull request #2569 from eed3si9n/wip/mavenrepobug
- [x] 40644ae Merge pull request #2513 from Duhemm/wip/fix-2435
- [x] b10414d Merge pull request #2564 from Duhemm/wip/fix-2518
- [x] ce611fb Merge pull request #2563 from eed3si9n/wip/macro-nonarg-dep
- [x] c35cb7f Merge pull request #2542 from e

[2016-11-15 23:52] eed3si9n opened #2831 "Document build.sbt DSL enhancements"
- https://github.com/sbt/sbt/pull/2682
- https://github.com/sbt/sbt/pull/2653

[2016-11-16 15:49] fdietze opened #2834 "adding managedClasspath to watchSources breaks triggered recompilation on Scala 2.12"
## steps
# Overview
in build.sbt:
[code]
to trigger recompilation when publishing a dependency locally.

(sbt 0.13.13, Scala 2.12, ScalaJS)

# steps to reproduce with my current project:
(edit: I removed my projects as they are not useful for this issue anymore and would just be confusing)
- Library project with

[code]

  run:
[code]

- Main project:
  with dependency to library project,
[code]

[2016-11-16 18:06] NicolasRouquette commented on #2818
What about `dependsOn`like this:

(0) Using the deprecated `dependsOn`:

[code]

It is unclear whether it should be refactored as:

1) Using `.value`:

[code]

2) Using `.taskValue`:

[code]

I think (1) is correct; however, @eed3si9n's comments make me wonder what's the criteria to use.

[2016-11-16 18:17] eed3si9n commented on #2818
The migration of `dependsOn` is documented here: http://www.scala-sbt.org/0.13/docs/Migrating-from-sbt-012x.html#Migrating+when+using+%2C++or

[2016-11-16 20:02] NicolasRouquette commented on #2818
Thanks @eed3si9n; this helps a lot; however, I'm still experiencing problems with tasks like `AetherKeys.aetherDeploy` that execute before the completion of their dependencies where I create file artifacts. I'm really baffled by this new behavior (for details, see: https://github.com/JPL-IMCE/imce.dynamic_scripts.magicdraw.plugin/issues/1)

[2016-11-16 20:19] eed3si9n commented on #2818
<s>
I didn't study your specific situation, but generally preferred style is

[code]

</s>

Another tricky part is that if you have input task, you have to use `evaluated` instead of `value` (I we have deprecation message for that too) - http://www.scala-sbt.org/0.13/docs/Migrating-from-sbt-012x.html#Migrating+with

[2016-11-16 20:56] eed3si9n opened #2835 "sbt new leaves behind target litter"
## steps

1. sbt new scala/scala-seed.g8

## problem

As pointed out by @dwijnand (https://github.com/sbt/sbt/pull/2780#discussion_r83523717) and @djspiewak (https://twitter.com/djspiewak/status/798976727095635968), new command leaves behind unwanted `target/` directory.

## expectation

No mess.

[2016-11-16 21:12] 7kemZmani opened #2836 "org.scala-sbt#sbt;0.13.13: not found"
## steps
1 - Downloaded the .tgz archive for sbt from [here](http://www.scala-sbt.org/download.html)
2 - Extracted the archive, and placed its content in ~/SBT directory
3 - Set SBT_HOME variable to $HOME/SBT/bin
4 - Followed all the Hello, World instructions [here](http://www.scala-sbt.org/0.12.4/docs/Getting-Started/Hello.html)

## problem
when I run sbt in the same directory where hw.scala is,

[2016-11-16 21:24] eed3si9n commented on #2836
[code]

This looks like you're hitting some SSL handshake issue with your JDK.

[2016-11-16 21:25] NicolasRouquette commented on #2818
That's what I thought.

Can you confirm that the following is incorrect?

[code]

In my experience the above doesn't guarantee that `makeZip` will complete before `publish` starts.

Also are the following equivalent?

`publish := { val _ = makeZip.value; publish.value }`
`publish := publish.dependsOn(makeZip).value`

Is the difference only a matter of style or is there more to it?

I understand th

[2016-11-16 21:28] djspiewak commented on #2835
In case people find this via google, the following is a perfectly reasonable workaround:

[code]

Put this in `~/.sbt/0.13/target-relocate.sbt` and all will be well.

[2016-11-16 21:30] eed3si9n commented on #2818
Actually I take that back.
- Calling `.taskVaue` is not going evaluate the task, so it's not what you want.
- `publish := { val _ = makeZip.value; publish.value }` also wrong because it will execute both makeZip and publish tasks concurrently.
- `publish := publish.dependsOn(makeZip).value` should run makeZip and then run publish task.

See also http://www.scala-sbt.org/0.13/docs/Howto-Sequencing.

[2016-11-16 21:39] jwhipp commented on #2690
Same issue here, goes unresponsive after a disk write.   Seems to complete the disk write but the shell becomes unresponsive.  Can't execute it in another window either, it's just totally dead.  I have system managed pagefiles, Windows Defender and bitlocker enabled on C:.    Windows 10 Build 1607.

[2016-11-16 21:47] NicolasRouquette commented on #2818
Wow, thanks @eed3si9n for this clarification.

Well, this explains some of the weirdnesses I've had since migrating to 0.13.13!
I have a bunch of incorrect dependency migrations to fix!

Regarding sequencing, I'm honestly perplexed by the example:

[code]

Why is there a `.toTask("")` ?

Suppose instead we have something simple:

[code]

Which is the correct setting?

`c := Def.Sequential(a,b).val

[2016-11-16 22:32] dwijnand commented on #2818
`.toTask` converts an InputTask to a Task. `scalastyle` is an InputTask it would seem (not sure why).

[2016-11-16 22:36] NicolasRouquette commented on #2818
Ah, ok.

Obviously, one can't use `Def.Sequential()` for something like this `a := a.dependsOn(b).value`;
that is, `a := Def.Sequential(a,b).value` shouldn't even compile nor make any sense.

[2016-11-16 22:46] dwijnand commented on #2818
no, generally Def.sequential is used to define a brand new key, like `verify` or `release`.

[2016-11-16 23:42] dwijnand opened #2837 "scalafmt still broken in 0.13.14-SNAPSHOT"
## steps

1. `publishLocal` sbt 0.13.14-SNAPSHOT. I built it off of a58b184.
2. Run `sbt new djspiewak/base.g8`
3. Change `sbt.version` in `project/build.properties` to `0.13.14-SNAPSHOT`
4. Add `addSbtPlugin("com.geirsson" % "sbt-scalafmt" % "0.4.10")` to `project/plugins.sbt`
5. Remove references to 'coursier' in `build.sbt` and `project/plugins.sbt` (to remove potential feature interaction)
3.

[2016-11-17 01:21] MansurAshraf commented on #2088
bump! any resolution to this?

[2016-11-17 02:09] dwijnand commented on #2088
@MansurAshraf The solution is to add a defined `build.timestamp` your snapshot repository URL:

[code]

[2016-11-17 02:10] MansurAshraf commented on #2088
yeah i tried that and it didnt work for me :-(

[2016-11-17 03:20] eed3si9n commented on #2837
It seems to be slightly different error message than what's mentioned in https://github.com/sbt/sbt/issues/2786:

[code]

[2016-11-18 14:08] markhuyong opened #2839 "Stuck at "Getting org.scala-sbt sbt 0.13.13" running sbt behind sock5 proxy"
Run sbt stuck at "Getting org.scala-sbt sbt 0.13.13"

## steps
-  install sbt 0.13.13 with Homebrew
-  run sbt -v in console behind sock5 proxy

## problem

Output "Getting org.scala-sbt sbt 0.13.13".
then stuck with no response

I try this, make no sense.
- [Stuck at "Getting org.scala-sbt sbt 0.13.11" · Issue #2602 · sbt/sbt](https://github.com/sbt/sbt/issues/2602)

## expectation

## notes
conf

[2016-11-20 02:15] DanielGGordon commented on #911
What about running testOnly when **not** in the sbt shell? I haven't been able to get this to work - even for a class.

[2016-11-20 11:55] olafurpg commented on #2786
Would it be possible to use sbt 0.13.13 synthetic projects as a replacement for this custom-scope + `update` hack? Instead of adding a library dependency in a custom scope inside all projects, the plugin could create a synthetic project `myPluginProject` with a regular dependency on a 2.11/2.12 library. The plugin could then run the `myPluginProject/runMain xxx`  task to invoke the library as a re

[2016-11-20 12:50] dwijnand commented on #2786
It might be a way to workaround this regression.

Do users of the sbt-plugin tend to format everything in one go, or on a project-by-project basis?

[2016-11-20 13:00] olafurpg commented on #2786
I think the most common use-case is to format everything in one go. However, does it matter? To only format a subproject, the sbt plugin can pass in different flags to the `mySyntheticPluginProject/runMain --flag subproject/.*` task.

[2016-11-21 19:41] nartamonov commented on #871
Still facing the same problem in 0.13.13.1.

[2016-11-22 01:36] adriaanm opened #2840 "sbt new should launch sbt after creating project"
## steps
[code]

## problem
Once this is done, need to cd into the new directory (first need to figure out what it's called) and run sbt again.

## expectation
I end up in an sbt shell immediately after `sbt new` completes.

## notes

[2016-11-22 02:27] eed3si9n commented on #2840
This would be a useful enhancement to sbt and Giter8 cooperation.

[2016-11-22 03:06] kumarshirish commented on #2015
Bumping the sbt version to 0.13.9 worked for me.

[2016-11-22 07:24] tjdett commented on #1583
For those that find this issue thread searching for a way to get [sbt-protoc](https://github.com/thesamet/sbt-protoc) & [sbt-buildinfo](https://github.com/sbt/sbt-buildinfo) to play nice:
[code]

[2016-11-22 13:11] yosualb commented on #2733
I got this warning too, using Java 8 on Win 10 x64.

I am googling and found this (just trying to help for improvement):
http://java-latte.blogspot.co.id/2014/03/metaspace-in-java-8.html

[2016-11-22 15:25] NAJ10 opened #2841 "sbt 0.13.13 does not copy src/test/resources to test-classes during test:compile"
Unpack the attached sbtissue.zip, unzip it and cd to sbtissue dir.
sbt clean test:compile
Under 0.13.12 this will copy the file src/test/resources/a.properties to target/scala-2.11/test-classes
Change project/build.properties to use 0.13.13 and repeat sbt clean test:compile
Under 0.13.13 the file a.properties is not copied to target/scala-2.11/test-classes

Under 0.13.12 it gives

[code]

Under 0.

[2016-11-22 21:26] fommil opened #2842 "stray resources files are lowercased when added to a jar"
I've been playing with this to auto-add legal info

[code]

and the files show up in the `classes` directory just fine, but when they get added to the jar file they are lower-cased. Jar/zip entries are case sensitive, so this is very bizarre.

https://github.com/fommil/sbt-sensible/issues/5

[2016-11-22 21:28] fommil commented on #2842
oh, ignore me. It's emacs rendering it incorrectly.

[2016-11-22 21:28] #2842 closed, assigned to nobody

[2016-11-23 14:49] vn971 opened #2843 "SBT incremental compilation bug if used with `unmanagedResourceDirectories`"
## steps
Automatically on Linux/Mac:

git clone https://github.com/vn971/sbt-incremental-bug
cd sbt-incremental-bug
./reproduce.sh

Or manually, check out README in the repo linked above.

## problem
The problem appears to be with incorrect incremental compilation caches IF using the `unmanagedResourceDirectories` property in build.sbt file (see repo)

## expected
As shown in README and ./reproduc

[2016-11-23 15:01] vn971 commented on #2843
// http://stackoverflow.com/questions/40765221/broken-sbt-compilation-bug-or-feature

[2016-11-23 16:41] cunei commented on #1444
It seems this issue is only incidentally related to the macro expansion. The code that is generated when this expression is expanded:
[code]
in the end happens to be similar to:
[code]
In the latter expression, the ``triggeredBy`` for some reason gets ignored; that happens on 0.12.x as well. I'm doing some debugging now.

[2016-11-24 11:37] francisdb commented on #2822
can this be marked as a bug / regression?

[2016-11-25 13:17] fommil commented on #2814
introduced by https://github.com/sbt/sbt/pull/2703 @milessabin and impacts `sbt-ensime`

[2016-11-25 15:20] mikesperber opened #2845 "Let me configure Ivy cache"
## problem

I'd like to configure a project-local Ivy cache. (Some people working on the project don't have direct Internet connectivity, hence the Ivy cache gets checked into the repo.)

## expectation

I'd expect there some way to configure this in SBT directly. However, this:

http://stackoverflow.com/questions/3142856/how-to-configure-ivy-cache-directory-per-user-or-system-wide

... only shows

[2016-11-25 23:11] vmarquez opened #2846 "Thanks for all your hard work on SBT"
I'm a day late, but I wanted to say that I am quite thankful for SBT and its developers.  I've been using it for about five years, and seeing how it has evolved to be an invaluable part of a productive scala workflow has been very cool.  I use it pretty much every day of my life, be it at work or when I'm using it to do open source development.  Thanks everyone!

[2016-11-26 02:47] cos opened #2847 "is the SBT command package cross-compiled for Scala 2.12?"
## steps

following the guide here:
http://www.scala-sbt.org/0.13/docs/Command-Line-Applications.html
but updating the Scala and sbt version:
[code]

and

[code]

## problem

when running `sbt @path/to/hello.build.properties`, I get:
[code]

## expectation

as explained in the tutorial

## notes

I think the error is related to SBT not being cross-compiled for Scala 2.12. Still, it seems none of t

[2016-11-26 09:22] dwijnand commented on #2847
No sbt isn't cross-built for 2.12, also you're using sbt 0.12.0, which is probably Scala 2.9 too.

I would recommend using sbt 0.13.13 and scala 2.10.6 for what you're trying to do.

[2016-11-26 09:22] #2847 closed, assigned to nobody

[2016-11-26 21:42] Y-Less opened #2848 "Trying to download new version"
Delete,

[2016-11-26 21:50] #2848 closed, assigned to nobody

[2016-11-27 16:14] cos commented on #2847
Thanks! 0.12.0 was a copy-paste source error. I tried 0.13.13, both the regular and by compiling the `0.13.13_2.12cross` branch myself. Are there any plans to cross-build for 2.12? Also, how does cross-compilation happen, as most of the artifacts are not published with a Scala version, i.e., no underscore-scala-version in the name?

[2016-11-27 16:17] cos commented on #2847
Regarding 2.10, we cannot really use it. We have a mixed Java-Scala project, so we're very happy to be able to use 2.12 (with traits compiled to interfaces with default methods, etc.). As we plan to use sbt to build the command line part for the tool, it will need to be compiled with the same version of Scala as the rest.

[2016-11-27 16:19] dwijnand commented on #2847
We'll be cross-building sbt modules in sbt 1, and sbt itself will use either 2.11 or 2.12. See https://github.com/sbt/sbt/issues/2389.

[2016-11-28 04:24] wsargent commented on #2299
There is a fix merged, but for ease of use:

https://github.com/sbt/sbt-launcher-package/pull/96/commits/92a06fc5da81ce05a28ee1239e3a99752e067218

[code]

[2016-11-28 06:33] eed3si9n commented on #2797
Fixed in https://github.com/sbt/contraband/pull/51

[2016-11-28 06:33] #2797 closed, assigned to nobody

[2016-11-28 08:58] clhodapp opened #2849 "Cycle checking doesn't take configuration into account"
The algorithm for checking for cycles in build-internal dependencies calculates dependencies at the project level, but in fact the dependencies are per-configuration.

Here's a tiny build that shows what I mean:
[code]

There is no actual cyclic dependency here, but checkCycles algorithm at https://github.com/sbt/sbt/blob/673e89d087d25c9e7bdd3f3abf85fe103ae47631/main/src/main/scala/sbt/BuildUtil.s

[2016-11-28 09:19] clhodapp commented on #2849
There seem to be other places that also assume that classpath dependency is at the project level. Will check it out further at some point.

[2016-11-28 11:07] rabejens opened #2850 "Suites from multiple projects run in parallel even when restricting Tags.Test to 1"
(See the guidelines for contributing, linked above)

I have a large multi-project SBT build. I have a `Settings.scala` which defines settings like these:

[code]

Each project imports them like this:

[code]

Now, when I try to run `sbt test` the suites are still run in parallel. I read in another issue that I should add:

[code]

But no matter where I add this, be it to `build.sbt` directly or to

[2016-11-28 13:32] rabejens commented on #2850
I finally solved it.

It was a cascade of several issues. I now put the following in my main `build.sbt` file:

[code]

The second thing was that I was using `cassandra-unit` to spin up a temporary Cassandra database for some of my tests, and each of my tests did

[code]

So it tried to start multiple C* servers which fails as I expect it to. I first wrote a wrapper that first tries to connect to

[2016-11-28 13:32] #2850 closed, assigned to nobody

[2016-11-29 02:38] koertkuipers commented on #2822
i just ran into this with scalatest as well

[2016-11-29 03:26] manuzhang commented on #2508
a similar issue is reported at http://stackoverflow.com/questions/40813462/sbt-on-ubuntu-16-04-installation-failure and [the solution](https://medium.com/@henricook/solution-to-sun-security-validator-validatorexception-e300dd7dba70#.j03yqyv3j) that switches java9 to java8 works for me. @casertap could you check ?

[2016-11-29 08:18] eed3si9n opened #2851 "Calling build-level keys at a subproject resolves to wrong scoping"
Ref #2707, #2708, #2469

## steps

Using a multi-project build with sbt 0.13.13, navigate to a subproject and call `version`.

[code]

## problem

The problem is that typing "version" seems to be resolving to some build level scoping, and it ends up aggregating calls to the build level and the subprojects.

## expectation

Here's the result using sbt 0.13.11:

[code]

## notes

This behavior may r

[2016-11-29 17:36] ashleymercer opened #2853 "Allow junit test-reports folder to be more finely configured"
## Steps

- follow instructions to [create a separate integration test phase](http://www.scala-sbt.org/1.0/docs/Testing.html#Integration+Tests)
- create a simple unit test under `src/test/scala`
- create a simple integration test under `src/integration/scala`
- run both test phases e.g. `sbt test it:test`

## Problem

Junit XML is generated for both tests under target/test-reports. However:

1. th

[2016-11-29 17:44] ashleymercer commented on #2198
I'd like to have a go at picking this up since it's currently causing me pain. A couple of questions:

- should I be working against 0.13 or the 1.0 branch?
- the approach taken by Ant is documented on [this bug report](https://bz.apache.org/bugzilla/show_bug.cgi?id=43969) - I need to read more background but it seems there's some incompatibility between XML reports in Junit 3 and 4. Will report b

[2016-11-29 18:23] caoilte commented on #2650
Documentation on

`updateOptions := updateOptions.value.withLatestSnapshots(false)`

http://www.scala-sbt.org/1.0/docs/sbt-0.13-Tech-Previews.html#Latest+SNAPSHOTs

There doesn't seem to be any downside to setting it to false if you only ever work with local SNAPSHOTs.

What I don't understand is why if this feature was introduced in 0.13.6 it didn't become a problem until 0.13.10.

[2016-11-29 18:48] eed3si9n commented on #2460
Looking into refixing this because of https://github.com/sbt/sbt/issues/2851

On 0.13.11 `ver[tab]` completes to `version`, which is in the global scope.

[code]

[2016-11-29 19:13] eed3si9n commented on #2198
Generally our preference for new feature is sbt 1.0 especially if it breaks binary compatibility, but give that it's not out yet, if you want to use the feature sooner you'd have to send us a PR first to 0.13, and then forward port it to 1.0.

[2016-11-29 19:41] eed3si9n commented on #2650
This setting flip flopped a bit:
- https://github.com/sbt/sbt/pull/1520 (true)
- https://github.com/sbt/sbt/pull/1683 (false)
- https://github.com/sbt/sbt/pull/2313 (true) 0.13.11 - http://www.scala-sbt.org/0.13/docs/sbt-0.13-Tech-Previews.html#sbt+0.13.11

[2016-11-29 23:23] ashleymercer commented on #2198
Pull request against 0.13 above, the change is very small so it should be easy for me to forward-port to 1.0

- junit reports don't distinguish between ignored, skipped and pending tests, so we treat all three as "skipped" in the XML report
- I've opted for the minimal change for now - modifying the existing listener, rather than trying to forward to the correct test library if it's present - to a

[2016-11-30 07:52] jorkzijlstra opened #2856 "publishTo resolver is overridden with generic resolver when using the same name"
## steps
Add a resolver in the resolver Seq and return a resolver in the publishTo with the same name. When it tries to upload the files it uses the url specified from the generic resolver.

You do get a warning about multiple resolvers having different access mechanism configured with same name.
What I was expect is that the Option[Resolver] that is returned from the publishTo method is hte actua

[2016-11-30 08:50] jorkzijlstra opened #2857 "Using + in versioning doesn't resolve anymore in 0.13.12"
## steps

We have this in the library dependencies.
libraryDependencies ++= Seq(
  "com.google.code.findbugs" % "jsr305" % "1.3.+"
)

Within maven findbugs version 1.3.7 an above are available. With sbt 0.13.8 it resolve to that version, but with 0.13.12 it doesn't resolve anymore.

## problem
dependecies arent being found anymore

com.google.code.findbugs#jsr305;1.3.+: not found

## expectation
T

[2016-12-01 12:24] martinring commented on #1920
I would love to use the osgi-agg feature of ivy 2.4 in sbt.

[2016-12-02 09:37] xuwei-k commented on #2733
Maybe sbt-launcher and launcher-package fixed this issue :confused: ?
- https://github.com/sbt/sbt-launcher-package/commit/cb12ec1eaa6907273edd
- https://github.com/sbt/launcher/commit/0c120409c9590ca0e08c2f875
- https://github.com/sbt/sbt-native-packager/commit/daad0bbb690e20f8cd80

[2016-12-02 18:54] #2198 closed, assigned to nobody

[2016-12-03 15:38] dragos opened #2860 "`show` and `set` should accept the same syntax"
In the Sbt console, `show` and `set` should accept the same syntax for settings.

## steps

[code]

## expectation

I'd expect the syntax used to show a setting should work for setting it.

[2016-12-03 20:36] eed3si9n commented on #2860
I'd say this is a variant of https://github.com/sbt/sbt/issues/1812.

[2016-12-03 20:59] dragos commented on #2860
That's definitely the root of it. I wonder if there's value in fixing this more modest manifestation of it.

Is it part of the current design to refer to settings in two different ways when showing and when setting them, meaning this can't be fixed without the overall unification in #1812? If the answer is "not without overall unification", feel free to close this.

Note the interesting coincidenc

[2016-12-03 23:47] eed3si9n commented on #2860
`show` command has higher affinity with command invocation in the sbt shell than to `set`.
The shell notation (`test:compile`, `*:scalacOptions` etc.) supports tab completion and input args.
So changing the behavior of `show` I think should coincide with changing the shell notation altogether.

`set` has affinity with `build.sbt`.

One thing that's potentially possible to provide a third command,

[2016-12-04 08:18] dragos commented on #2860
I understand there are implementation details that explain this behavior. My bug report was purely from a usability point of view. A moderately experienced user, IMO, won't be able to figure our how to get around this error (I couldn't, I couldn't find this in the Sbt Reference either). I strongly believe that the notation used to refer to an entity should be the same in reading and writing it.

I

[2016-12-04 17:18] ryan-williams commented on #1518
I'm using this workaround:

[code]

If anyone has better/cleaner ideas I'd love to hear them!

[2016-12-04 22:15] #2483 closed, assigned to nobody

[2016-12-05 07:32] ajozwik commented on #1768
1. sbt will use scala 2.11 (maybe 2.12) API - the issue is not longer valid
2. done (from sbt 0.13.7)

[2016-12-05 07:32] #1768 closed, assigned to nobody

[2016-12-05 12:34] pshirshov opened #2861 "SBT incorrectly enforces improper version of a Maven dependency in case of usage of <dependencyManagement>"
I guess it's an Ivy issue, so here is the description: https://issues.apache.org/jira/browse/IVY-1551

Probably it may be resolved at SBT level as well, so I'm opening a ticket here.

[2016-12-05 22:31] ryan-williams opened #2862 "test:copyResources skips files that start with ".""
(See the guidelines for contributing, linked above)

## steps
[code]

## problem
`foo.bar` will appear in e.g. `target/scala-2.11/test-classes/`, but `.bar` will not.

## expectation
All files from `src/test/resources` would be copied.

## notes
If there's a way to configure this behavior I'd love to hear it.

Also notably, when I run ScalaTests in IntelliJ, all files get copied; not sure what's h

[2016-12-05 22:46] ryan-williams commented on #2862
Hm I found [this bit](http://www.scala-sbt.org/0.13/docs/Howto-Customizing-Paths.html#Include%2Fexclude+files+in+the+source+directory) in the docs on the subject, presumably I can unblock myself with that info, not quite sure what the best workaround is…

[2016-12-05 23:12] ryan-williams commented on #2862
Seems like

[code]

is the thing to do!

[2016-12-05 23:12] #2862 closed, assigned to nobody

[2016-12-06 05:43] eed3si9n commented on #2388
sbt 1.0.x will be on JDK 8.

[2016-12-06 05:43] #2388 closed, assigned to nobody

[2016-12-06 05:45] eed3si9n commented on #2389
We might have to keep 2.11 for Zinc if IDEs need it, but sbt/sbt should be able to migrate to Scala 2.12 including the plugin space.

[2016-12-06 05:55] xuwei-k commented on #2389
Will Scala 2.11.9 or later support Java 9? if not, I vote sbt 1.x should support Scala 2.12.x because we can't use Java 9 with sbt 1.x

[2016-12-06 07:19] eed3si9n opened #2863 "Logging causing "No such file or directory""
### steps

Not sure if this is reproducible, but it's the catch of the day on Travis.

[code]

### problem

Logging causing "No such file or directory"

[code]

### notes

The script looks like this:

[code]

I suspect that it's getting caused by either `clean` or the subsequent `reload` since we see total time for the first two commands.

[2016-12-06 08:46] c1316 commented on #1690
I remove  ~/.sbt and ~/.ivy2, and I  reinstall sbt . then my problem is solved ,you can try that

[2016-12-06 08:50] fommil commented on #2388
Woohoo!

[2016-12-06 19:16] pauldraper opened #2864 "Customize .sbt compilation"
I distribute and execute SBT builds on a Jenkins cluster, with one Jenkins job for each project.

Compiling the (common) build definition take up a whole minute or so for every build. When I had project/*.scala files, I used `reload plugins; package` to create a JAR of the build definition, and then overrode `exportedProducts` to use the JAR.

But...with the switch to *.sbt, it's become apparent t

[2016-12-08 10:13] jannvck commented on #1690
I am facing the same issue with the dependency:

[code]

Removing ~/.sbt and ~/.ivy2 and reinstalling SBT 0.13.13 made no difference. The dependency resolution fails again:

[code]

[2016-12-08 10:52] eed3si9n commented on #1690
@jannvck Ivy is having trouble resolving the complicated POM file.
Try adding `addMavenResolverPlugin` to `project/maven.sbt` and see if that could resolve it - http://www.scala-sbt.org/0.13/docs/sbt-0.13-Tech-Previews.html#Maven+resolver+plugin

[2016-12-08 11:59] jannvck commented on #1690
@eed3si9n Thank you very much! Adding `addMavenResolverPlugin` to `project/maven.sbt` resolved it.

[2016-12-09 03:04] wpc009 commented on #2836
There is no `0.13.13` in repo `https://repo.typesafe.com/typesafe/ivy-releases/org.scala-sbt/sbt`
The most recent are `0.13.9`. What is the right repo?

[2016-12-09 04:16] eed3si9n commented on #2836
https://repo.typesafe.com/ is the right repo.
https://repo.typesafe.com/typesafe/ivy-releases/org.scala-sbt/sbt/0.13.13/ exists.

[2016-12-09 13:50] geoHeil opened #2865 "sbt maven interoperatbility"
## steps

Installing a maven project (e.g. https://github.com/dmlc/xgboost/tree/master/jvm-packages) via `mvn install` installs it to `~/.m2/repository/....` which sounds fine.

## problem 1
My resolver which is defined like resolvers += "Local Maven Repository" at "file:///" + Path.userHome + "/.m2/repository" is only picked up when defined in the main `build.sbt` and not if defined in the `plugi

[2016-12-09 15:16] hvesalai commented on #2796
I'm having the same problem. @nartamonov I think the best thing would be for @harrah to bump the jsch version to be the latest and establish a process of updating it to follow latest version. It's not good that security-related libs are lacking behind.

[2016-12-09 15:28] hvesalai commented on #2796
See also #403

[2016-12-09 16:57] geoHeil commented on #2865
caused by https://github.com/dmlc/xgboost/issues/1858, but still this should produce a better error message.

[2016-12-10 11:20] fommil opened #2866 "macro tasks do not apply to the correct project"
I have a "minimal" reproduction of a macro bug in

  https://github.com/fommil/sbt-big-project/pull/47

(minimal in the sense that I minimised the diff to my project that causes the bug).

It seems that by rewriting

[code]

to

[code]

the `transitiveUpdate` doesn't seem to be applying to the same Project as before.

if you are confident that this is a bug in the api... it's probably a blocker fo

[2016-12-12 16:33] dwijnand commented on #2798
#2859

[2016-12-12 17:02] olafurpg commented on #1894
Any update on this? I am experiencing the same issue as @nkijak. It appears that setting `ivy.home` and `sbt.ivy.home` in `scriptedLaunchOpts` does not help.

I've tried the following:
- ivy-home set to `/drone/.ivy2/` via [sbt.boot](https://github.com/scalacenter/docker-scala/blob/master/sbt.boot#L23)
-  `ivy.home` and `sbt.ivy.home` set to `/drone/.ivy2/` via `scriptedLaunchOpts`

My logs still

[2016-12-14 10:37] dwijnand opened #2867 "autoScalaLibrary := false is ignored"
From https://github.com/xeno-by/eden/commit/e5c1d1a5a8511cc3998099b27c46c5e9edd33e3b#commitcomment-20183004

It would appear that something in sbt 0.13.12 makes sbt "disregards the option `autoScalaLibrary := false`".

Further investigation is required. @liufengyun would you willing to try and provide a minimised reproduction of the issue you saw?

[2016-12-14 10:37] zhengsg opened #2868 "how can i fix the error ‘’error while loading <root>, error in opening zip file“"
## Steps:
I'm down load the Github project  kafka-manager  source zip file to local, and execute "sbt clean dist",then comes with the following errors,what's the reason about that?how can i fix it? Thanks

## Problem:
Can not executed the command successful. Following is the detail erro messages, what's the reason about that?how can i fix it?

## Expectation:

[code]

## Notes 1:

 The  configurat

[2016-12-14 10:44] dwijnand commented on #2868
It's possible you're made a simple mistake in defining your library dependencies, see http://stackoverflow.com/a/28309272/463761.

If not, feel free to re-open this issue, but please follow the [ISSUE TEMPLATE](https://github.com/sbt/sbt/blob/1.0.x/ISSUE_TEMPLATE.md) when opening issues.

[2016-12-14 10:44] #2868 closed, assigned to nobody

[2016-12-14 11:40] zhengsg commented on #2868
@dwijnand First of all thank you very much. I review the problem on  http://stackoverflow.com/a/28309272/463761, but I don't think that is the mistake. So I re-edit the issue and attach the configuration of the build.sbt file.

[2016-12-14 11:43] liufengyun commented on #2867
The set up I've is as follows. It works fine with `0.13.11`, but fails to resolve dependencies under `0.13.13`.

[code]

Steps to reproduce:

1. Put the code above in `build.sbt` in an empty folder `test`
2. Create a file `project/build.properties` under `test` with the following content:
[code]
3. Run `sbt compile` under `test`

[2016-12-14 11:46] dwijnand commented on #2868
Hey @ahzsg, that's better, thank you.

I added some triple backticks (https://help.github.com/articles/creating-and-highlighting-code-blocks/#fenced-code-blocks).

Could you add please what your `project/build.properties` is and any and all `project/*.scala` and `project/*.sbt` files please?

[2016-12-14 12:12] zhengsg commented on #2868
Hey @dwijnand ,thank you for all of the above.

I have re-edit the issue, all off the project configuration is above. And the project you can see on https://github.com/yahoo/kafka-manager, can you tell me where am i wrong?Thanks.

[2016-12-14 12:35] dwijnand commented on #2868
Ah I see you've also opened yahoo/kafka-manager#333.

[2016-12-14 13:10] dwijnand commented on #2868
@ahzsg I was able to run `sbt clean dist`.

Do you have any .scala or .sbt files anywhere under `~/.sbt/0.13/`?

[2016-12-14 16:12] dwijnand commented on #2695
Actually I think the issue is in

* https://github.com/sbt/sbt-launcher-package/blob/f9f389ec5e3ee75c7b335840a4aae2ad689a9cc5/src/universal/bin/sbt.bat

rather than

* https://github.com/sbt/sbt-launcher-package/blob/f9f389ec5e3ee75c7b335840a4aae2ad689a9cc5/src/windows/sbt

From what I understand the former is used for Window's CMD, while the latter for Cygwin and MSYS.

[2016-12-14 16:45] dwijnand commented on #2695
Here's another workaround, only when using that BAT script (on Windows):

[code]

[2016-12-15 00:41] zhengsg commented on #2868
@dwijnand Ah I was opened the issue on yahoo/kafka-manager#333, because i didn't ensure where am i wrong when i use sbt or yahoo/kafka-manager had the wrong. And my colleague also able to run it, Really strange! And  i delete all of the sbt chache file and run it, the problem still appear. And  i doesn't  have any .scala or .sbt files anywhere under ~/.sbt/0.13/, any other tips?

[2016-12-15 09:54] dwijnand commented on #1924
Closing. See #1949.

[2016-12-15 09:54] #1924 closed, assigned to nobody

[2016-12-15 10:03] dwijnand commented on #2819
I think we should do this.

But I also want to cross-link the related #2310, which I believe would solve at least a good chunk of these real-world cases.

[2016-12-15 10:38] milessabin commented on #2819
`binary`? Or `patch`?

[2016-12-15 21:07] geoHeil opened #2869 "Sbt problem with multiple scala versions"
There is a warning in maven which results in an fatal issue with sbt.

https://github.com/dmlc/xgboost/issues/1858

## problem

## expectation

## notes

[2016-12-16 15:03] dwijnand opened #2870 "Scream on accidental := usage"
A feature request from @paulp (https://gitter.im/typelevel/general?at=58519daf589f411830e4ab74):

[2016-12-16 16:19] meta-forte opened #2871 "Unable to download jars for 0.13.13 from maven central or scala-sbt"
## steps
I installed scala 2.12.1 and sbt 0.13.13 on my windows office pc that's behind proxy.
I use our enterprise artifactory through which I have to download the jars and run sbt
sbt is failing to get the latest jars from maven central repo or scala-sbt
I searched in search.maven.org and I could not find the latest version /sbt-0.13.13.jar there..

Here is the error message I got:
Please could

[2016-12-16 17:05] dwijnand commented on #2871
The repo you want to add is https://repo.lightbend.com/typesafe/ivy-releases/

[2016-12-16 17:05] #2871 closed, assigned to nobody

[2016-12-16 18:00] meta-forte commented on #2871
Hi, this repo is not accessible as I am behind the firewall. Pls could you advise if and when the latest scala, sbt jars be posted to maven central..

thank you

[2016-12-16 18:29] dwijnand commented on #2871
sbt has never published to Maven Central (there are a few recent 1.0.0 pre-releases published, because starting from 1.0.0 we'll published to Maven Central).

So you'll need to add that ivy repository to your Artifactory.

[2016-12-17 15:06] olafurpg commented on #2786
The next release of the scalafmt sbt plugin will use synthetic projects as a workaround for this issue, see https://github.com/olafurpg/scalafmt/pull/610. The plugin ended up being much smaller than the older plugin, which I'm very happy about.

sbt 0.13.13 is nice, thanks for a fantastic release. Feel free to close this issue.

[2016-12-17 15:15] sjrd commented on #2786
I wouldn't close this issue simply because there exists a workaround that takes a completely different direction. The fact remains that this is a bug, and it could affect other people.

[2016-12-17 15:29] dwijnand commented on #2786
Yeah, it's still a bug. Not closing it.

[2016-12-17 23:07] AugustNagro opened #2872 "Prevent "sbt new" from loading global plugins"
## steps
If I run `g8 eed3si9n/hello.g8`, I receive the following:

[code]

If `sbt new eed3si9n/hello.g8`,

[code]

## problem

Unlike `g8`, `sbt new` notices that I have global plugins, and creates a `target` directory in the current directory. It's annoying to have to `rm -rf target` after creating a template.

## expectation

`sbt new` does not create a `target` directory, or at least removes

[2016-12-19 15:34] meta-forte commented on #2871
Got the URL added to our artifactory. It's working fine now.. thanks a lot

[2016-12-19 19:08] briantopping opened #2873 "Determination of SNAPSHOT should regex"
https://github.com/sbt/sbt/search?utf8=✓&q=-SNAPSHOT gives a pretty concise picture that SBT determines a snapshot per the string literal `"-SNAPSHOT"`. This generally works, but an improvement would be to have it consider `"[-\.]SNAPSHOT"` in these cases.

The problem is OSGi resolvers do not see a version ending in "-SNAPSHOT" as valid. https://www.infoq.com/news/2012/04/osgi-snapshot is a detai

[2016-12-19 19:53] eed3si9n commented on #2873
I don't think anyone should consider a version ending in "-SNAPSHOT" as valid outside of a development machine or a CI environment. It causes all sorts of problems for sbt because people have different expectations about the semantics of SNAPSHOT, and it makes the dependency resolution performance horrendous if we try to default on the correctness. I don't want to add any feature that would encour

[2016-12-19 19:56] eed3si9n commented on #2872
This is a duplicate of https://github.com/sbt/sbt/issues/2835

The fact that target is created doesn't have to do with global plugins actually.
It's because the ivyConfiguration is read from a task, and task uses logging iirc.

[2016-12-19 19:56] #2872 closed, assigned to nobody

[2016-12-19 19:56] #2873 closed, assigned to nobody

[2016-12-19 19:57] briantopping commented on #2873
Thanks Eugene. So are you against even accepting both "-SNAPSHOT" and ".SNAPSHOT"?

I'm not expecting resolution outside of a dev or CI environment, I completely agree with what you are saying there.

Would you please reopen this for consideration by others? Thanks

[2016-12-19 20:00] briantopping commented on #2873
Another way to handle this is to just remove the `-` from the `-SNAPSHOT` strings.

[2016-12-19 20:11] eed3si9n commented on #2870
As I wrote on the Gitter channel:

Another thing to consider is when the screaming kicks in. For example, a company or a project could write plugins that intentionally overwrite existing `scalacOption` values.
I could then call `enablePlugins(FooPlugin)` to pick and chose the features. It's hard to tell what's accidental here.

See also https://github.com/pfn/sbt-unused

[2016-12-19 20:17] eed3si9n commented on #2873
At least until sbt 1.0 comes out, I'm against adding feature to the behavior of dependency resolution semantics around `-SNAPSHOT`. @dwijnand can reopen it if he wants to weigh in, but my opinion is set on this. Also note this might require changing the behavior of sbt launcher 1.0.x and our Ivy fork.

[2016-12-19 20:29] briantopping commented on #2873
The justification is trying to see if SBT can be made a little easier to use in Karaf, which is a popular OSGi environment. Folks doing so will likely run into this bug, and right now, there's a widening gap between the tooling that *is* available in Maven for Karaf/OSGi support and the tooling that *is not* available for supporting Scala under Maven.

That said, OSGi isn't mainstream and I wouldn

[2016-12-19 20:36] eed3si9n commented on #2873
You might want to lobby for the change on https://github.com/alexarchambault/coursier

[2016-12-19 20:36] dwijnand commented on #2870
Yeah.. interesting food for thought.. Add some flag to be explicit you're throwing the old value away? `:=` vs `:==` maybe?

Also, closely related to this issue, maybe we should allow `:==` in user-land (ie. make it public) and recommend it to be used in `globalSettings` when defining the default value for a brand-new key introduced by a plugin.

[2016-12-19 20:38] briantopping commented on #2873
Ah, excellent, thanks for the pointer.

[2016-12-19 20:39] eed3si9n commented on #2870
Making `:==` public would be pouring fuel to the "sbt is too complicated / undocumented" fire.

[2016-12-19 20:51] dwijnand commented on #2870
Yeah.

In suggesting it I'm obviously biased, but I wonder, given:

* := is very common and reasonably well understood
* :== is only 1 char different than :=
* and it operates almost exactly like it
* we would only recommend it for plugins (when defining new keys)
* and we document it well

.. then maybe it's fine?

[2016-12-20 01:24] saamalik commented on #2156
Same issue; we've been running our build script 100s of time without issue, and just ran into this. We're unable to reproduce. Our build script starts with a _clean_

[2016-12-20 05:20] eed3si9n opened #2874 "overriding Maven-origin dependency with (Ivy-origin) publishLocal results to Unresolved dependencies "configuration not found in x#y;z-SNAPSHOT: 'master'. It was required from x#y;z-SNAPSHOT compile""
## steps

1. Let's say there's a project Foo, which depends on Bar, which depends on a library Baz 0.1.0 that's published to Maven Central.
2. Let's say you want to test a bug fix on Baz, so you locally publish Baz 0.2.0-SNAPSHOT using `publishLocal`, and include that into Foo as a libraryDependency.

## problem

This results to Ivy-Maven impedance mismatch.

[code]

## expectation

Baz 0.1.0 gets

[2016-12-21 21:15] eed3si9n commented on #1444
### old logic

If we consider a task to consists of two parts, `value` function and *an attribute list*, the existing behavior is defensible. `<<=` binds both the parts to the LHS task key whereas `:=` creates a brand new task using the given value and a blank attribute list.

In that logic,

[code]

is not much different from

[code]

or

[code]

### Functor law

The part that starts to break dow

[2016-12-22 11:42] jvican commented on #1104
This looks awesome. It is a major improvement in the Scala development and I'm excited to see it coming in sbt 1.0. To the best of my knowledge, @gkossakowski is not working on this anymore. Is there anyone else taking care of finishing this ticket off? Is this blocked by something?

[2016-12-22 11:44] zhengsg opened #2876 "Where can i put my own external IvySettings?"
## problem
I want to put external IvySettings  and use it as the default ,how can i fix it? I didn't find it on the official
document. The officer document just provide externalIvySettings method. I know one way to repack sbt-launch.jar, but any other simple configuration way ?

[2016-12-23 03:02] eed3si9n commented on #2876
The sbt issue tracker is not a support system. Please see [how can I get help?](http://www.scala-sbt.org/community.html#how-can-I-get-help)

[2016-12-23 03:02] #2876 closed, assigned to nobody

[2016-12-23 03:08] eed3si9n opened #2877 "bad option: '-Ywarn-unused'"
I'm trying to cross build util for Scala 2.10, and I'm running into scalacOptions issue.

Here are some of the settings in commonSettings:

[code]

This should exclude "-Ywarn-unused" flag when Scala version is 2.10.6.

### problem

[code]

[2016-12-23 03:24] eed3si9n commented on #2877
Actually it's happening even without `--=`:

[code]

[2016-12-23 06:19] joeky888 opened #2878 "Can I set scalaVersion to latest in build.sbt?"
Can I set something like

`scalaVersion := "latest"`

instead of `scalaVersion := "2.11.8"` in build.sbt?

thanks.

[2016-12-23 07:28] eed3si9n commented on #2878
The sbt issue tracker is not a support system. Please see [how can I get help?](http://www.scala-sbt.org/community.html#how-can-I-get-help)

### note

Technically speaking it's possible to put dynamic revision as `scalaVersion`, but I would not recommend it since all sorts of things depends on `scalaVersion` being a normal version number.

[code]

[2016-12-23 07:28] #2878 closed, assigned to nobody

[2016-12-26 10:46] venkateshkcs commented on #1395
java 8 architecture has removed perm gen space and hence this argument has been removed

[2016-12-27 08:34] mriehl commented on #2822
Hi, any way to help solve this issue? SBT 0.13.13 is so good, but this issue is holding it back (the time I gained on compile is lost on copy pasting test paths into the SBT shell).

I noticed that when upgrading SBT the completion still works for the old tests (until a `clean`) so I reckon the completion is not broken, it's the "generate stuff that is used by the completion" part that doesn't see

[2016-12-27 08:40] dwijnand commented on #2822
@mriehl you could start by seeing if this is still broken in 0.13.14-SNAPSHOT (ie. a local build of latest sbt).

I wouldn't be surprised if this were already fixed by @eed3si9n's fix of build level key completion.

[2016-12-27 08:40] mriehl commented on #2822
@dwijnand Nice, I'm off to trying that out ASAP. Thank you!

[2016-12-27 12:20] mriehl commented on #2822
I'm afraid I'm unable to get 0.13.14-SNAPSHOT to work, after a `publishLocal` of sbt with javac 1.6.x (bails out otherwise) running the launcher jar from `launch/target` on another project nets me a resolution error for `org.scala-sbt#compiler-interface;0.13.14-SNAPSHOT!compiler-interface.jar(src)` :/

[2016-12-27 12:58] olafurpg opened #2879 "Feature request: fetch/launch artifact api (à la Coursier)"
## Problem

When writing an sbt build or plugin, fetching an artifact coordinate (moduleid) and then launching a main class from that classpath is currently difficult. It would be nice if it was as simple as using the [coursier command line interface](https://github.com/alexarchambault/coursier#command-line-1)

[code]

### Potential use-cases

- wrap a command line tool into an sbt plugin, for exa

[2016-12-27 13:17] olafurpg opened #2880 "Feature request: define minimum sbt version from sbt plugin"
## Problem

Sbt fails silently (or cryptically) when an sbt plugin uses a new feature such as synthetic projects from 0.13.13. This can cause [cryptic error messages](https://gitter.im/olafurpg/scalafmt?at=5860edda058ca967379114ac) for end users and become a waste of time for sbt plugin maintainers. It would be nice if an sbt plugin could define a minimum sbt version number that would give a clear

[2016-12-27 19:40] vn971 commented on #1323
Closing the ticket because it's too old (sbt-0.13.2 at May 2014).

[2016-12-27 19:40] #1323 closed, assigned to nobody

[2016-12-28 15:19] dwijnand opened #2881 "'inspect' should consider aliases"
## steps

In '~/.sbtrc', define `alias c = compile`.

In 'build.sbt', define a task 'c'.

## problem

Invoking 'c' will invoke the alias (compile), while 'inspect c' will describe the task.

## expectation

Given invoking 'c' will invoke the alias I propose that inspect should consider this and communicate that to the (possibly unsuspecting) user.

## notes

I hit this issue because one of sbt scr

[2016-12-28 15:22] dwijnand opened #2882 "'scripted' should ignore ~/.sbtrc"
## steps

In '~/.sbtrc', define `alias c = compile`.

Create a scripted test with a task 'c' (eg. actions/depends-on in sbt/sbt), and use it in the 'test' script.

## problem

sbt will invoke the user's global 'c' alias rather than the scripted test's 'c' task.

## expectation

User global aliases shouldn't be included in a scripted test.

## notes

I hit this issue because sbt/sbt's actions/depen

[2016-12-28 15:26] dwijnand opened #2883 "Aliases should be ambiguous with keys, instead of silent win"
## steps

In '~/.sbtrc', define alias c = compile.

In 'build.sbt', define a task 'c'.

## problem

Invoking 'c' will invoke the alias (compile).

## expectation

I believe this invocation should result in a failure due to ambiguity.

In a POSIX shell (eg. bash) aliases or shell functions will win over binaries, so one could argue that this behaviour is correct.

On my personal Twitter, 20/28 peop

[2016-12-28 15:40] dwijnand opened #2884 "[1.x] .eval in consoleProject is broken"
## steps

In my jenga-stack of sbt 1.x changes (possibly even on current HEAD of sbt/sbt 1.0.x branch), run `(compileInputs in compile in Compile).eval`

## problem

[code]

## expectation

I expect the `sbt.Compiler.Inputs` or `xsbti.compile.Inputs` value.

## notes

Discovered while trying to debug the 'compiler-project/src-dep-plugin' scripted test in sbt/sbt.

[2016-12-29 11:18] nalbertfr opened #2885 "Clean leaves input and output stream files"
## Env (unclear if influences trouble)
- java_version = '1.8.0_112'
- scala-2.12.1
- sbt 0.13.12-1 from @bintray--sbt-rpm

## steps
[code]

Any sbt command produces stream input and output files within target dirs

## problem
Clean leaves target directories with some stream input and output files within (both within "root project" target dir and "project" subprojects)

## expectation
Clean is expe

[2016-12-29 12:04] dwijnand commented on #2885
Duplicate of #896.

[2016-12-29 12:04] #2885 closed, assigned to nobody

[2016-12-29 13:28] nalbertfr commented on #2885
Still don't agree.
I'm with delitescere.

At least, does anyone know of a plugin doing what we're looking for?
This would be a "final solution" to controversy, allowing
- "core sbt" to keep its behaviour and
- people looking fo real clean operation to have it, within sbt

[2016-12-29 14:02] radekm commented on #2493
It helps to redefine paths to writable dirs. Here is an example of `debian/rules`:

[code]

It works even if `clean` action is executed in `fakeroot`.

[2016-12-29 19:21] jasonmartens opened #2886 "sbt new fails with java.lang.NoClassDefFoundError: giter8/Giter8$"
## steps

[code]

## problem

Java crashes with a NoClassDefFoundError

## expectation

The giter8 template is processed and downloaded.

## notes

## Brew info
$ brew info sbt
sbt: stable 0.13.13, devel 1.0.0-M4

$ brew info giter8
giter8: stable 0.7.1 (bottled)

## Stack trace

[code]

[2016-12-29 19:45] dwijnand commented on #2886
Interesting.

Same steps as https://github.com/foundweekends/giter8.g8/issues/4, but different failure.

[2016-12-29 20:49] Sciss opened #2887 "sbt 0.13.13 takes extremely long in cross-builds from message "Reapplying settings..." to returning to bash."
(See the guidelines for contributing, linked above)

## steps

Obviously, you can't run `publish-signed` with an unmodified repository, but perhaps the problem even occurs when stopping at `publish-local`. Repos:

- https://github.com/Sciss/ScalaColliderSwing
- https://github.com/Sciss/LucreSwing

(clone and run `sbt +clean +test +publish-local`).

The full call is something like:

    java -Xms51

[2016-12-30 09:12] salimfadhley opened #2888 "SBT 0.13.13 doesn't seem to load global plugins on Windows"
## steps

I've got a plugin file which at various times contains the one of the following:

* credentials += Credentials(Path.userHome / ".sbt" / ".credentials")
* Some garbage text - deliberately intended to generate an error in a logfile

The file was placed in the following locations:

%USERPROFILE%\.sbt\0.13\plugins\credentials.sbt
%USERPROFILE%\.sbt\plugins\credentials.sbt

## problem

Creden

[2016-12-30 12:35] radekm commented on #2493
Note that above mentioned workaround won't work very well when different users are building on the same machine. Perhaps it would be better to generate random folder in `tmp` and store it's name in `target`.

[2016-12-30 13:49] Sciss commented on #2887
I'm seeing this problem still with _very small_ projects with virtually no dependencies, so that cannot be the source of the problem. I also wiped a great amount of harddisk space to rule out that excessive disk I/O due to full HD was the issue. I also wiped local Ivy and sbt cache, so I don't think there is anything left in my "local state" that could explain this problem.

[2016-12-30 16:28] Sciss commented on #2887
Ha! Caught the thing in the act, having a real deadlock at `"Reapplying settings..."`:

[code]

[2016-12-31 08:52] eed3si9n opened #2889 "To adopt sbt-extras or not"
One of frequently asked questions is the adoption of sbt-extras, so I'm going to create an issue here.

[Historically (until sbt 0.12.1, October 2012)](https://github.com/harrah/xsbt/wiki/Getting-Started-Setup/aac905288c9d169baffe5892f418a893a860f6e2) sbt did not ship launcher scripts. The installation instruction used to say:

Pre-2012, we used to hand roll our own launcher script. Given that man

[2017-01-01 11:38] evacchi commented on #2889
one thing that people often mention about sbt-extras is that it does not start if the directory does not "appears" to be an actual project. This is IMO is one of those misfeatures of SBT that sounds good when you're writing a "hello world" tutorial, but that tend to bite you otherwise.

Example: you `cd..`, then type `sbt`, `package` and the build completes "succesfully" when it hasn't actually bu

[2017-01-01 12:02] dwijnand commented on #2889
@evacchi I agree, and it should be handled by sbt itself (well, the scala launcher part: https://github.com/sbt/launcher).

Tracked in https://github.com/sbt/sbt/issues/2668 and https://github.com/sbt/sbt/issues/754.

[2017-01-01 12:05] milessabin commented on #2889
FWIW, now that the vanilla launcher supports `.jvmopts` I've stopped using sbt-extras.

[2017-01-02 08:15] clhodapp commented on #2697
Count me in as having hit this too. The current behavior makes it really hard to override things in the builds of source dependencies (I've not yet found a workaround).

[2017-01-02 15:59] kodazavr commented on #1920
👍
[IVY-1493](https://issues.apache.org/jira/browse/IVY-1493) is a showstopper for me as it made impossible to resolve wildcard artifact versions from my Nexus Repository Manager instance - and it's fixed in Ivy 2.4.0.

[2017-01-03 09:47] gabro commented on #1444
Is there a workaround to this issue that will achieve the same behavior without triggering a deprecation warning in sbt?

[2017-01-04 14:27] dwijnand opened #2890 "Create a config-something macro to create a config"
In the spirit of the `project`, `settingKey`, `taskKey` and `inputKey` macros, create a `config-something` macro to avoid this duplication:

[code]

@eed3si9n WDYT?

[2017-01-04 21:17] dstibbe opened #2891 "Transitive dependency causes wrong evictions"
## steps
The following build.sbt

[code]
## problem
The dependency _"org.webjars.npm" % "angular-material-icons" % "0.7.1"_ has maven dependency
[code]

which should be satisfied by _"org.webjars.npm" % "angular" % "1.4.9"_,
however, upon resolving the dependencies, the following happens:
[code]

## expectation
When the dependency resolver is resolving the transitive dependency of  _angular-materi

[2017-01-04 21:37] eed3si9n commented on #2891
ok. Let me close this, reopen #2291, and we can continue the discussion there.

[2017-01-04 21:37] #2891 closed, assigned to nobody

[2017-01-04 21:42] eed3si9n commented on #2291
Given that most people use the default Ivy conflict manager that picks the "latest", perhaps we could  provide an option to ignore the dynamic-ness of the dynamic revision when we translate POM, and everyone would be happy.

For example, if we treat Maven's `[1.3.0,)` as Ivy `1.3.0`, and your build.sbt brings in another Ivy `1.4.7`, it will pick up `1.4.7` as you expected.

[2017-01-04 21:52] eed3si9n commented on #2890
You mean like:

[code]

I think it makes sense.

[2017-01-04 21:54] dwijnand commented on #2890
Yep. Except we'd have to pick another name.

Unless you want to recover that name in 1.0 (deprecate/rename in 0.13).

[2017-01-04 21:55] eed3si9n commented on #2890
We just need to be source compat, so can't we overload `def config`?

[2017-01-04 22:00] dwijnand commented on #2890
Oh yeah.. overloading :-)

lol, I've been avoiding overloading that I actually forgot it was an option. Doh.

[2017-01-05 07:32] dstibbe commented on #2291
Then it would be working as expected, indeed :)

(although I do not see how this is 'ignoring the dynamic-ness')

[2017-01-05 08:22] DaniRey commented on #2310
The shadowing approach is very appealing, but has one limitation (if I understand it correctly). In case someone wants to provide only limited functionality for older (or newer?!) Scala versions, there is nothing to shadow.

I for example do not provide certain features, which are based on play-json, when using Scala 2.10, because play-json isn't maintained for 2.10. Therefore certain classes only

[2017-01-05 10:59] #1932 closed, assigned to nobody

[2017-01-05 11:13] dwijnand commented on #2310
Those directories are defined as settings, in terms of other settings (like scalaVersion, crossScalaVersions, etc). Not in terms of looking at the filesystem ("Oh there's a `src/main/scala-2.11_12`. I'll add that when I'm using Scala 2.11 or 2.12") and I don't think it should.

[2017-01-05 12:30] DaniRey commented on #2310
I see. I was not aware that sbt shouldn't look at the filesystem. But after looking at the implementation of https://github.com/sbt/sbt/pull/1799, I see what you mean.
I still think that being able to not provide an implementation for certain Scala versions is a central feature of the current approach.
What do you think about adding the following directories for a 2.11 build,
 `src/main/scala`, `s

[2017-01-05 12:40] dwijnand commented on #2310
If shadowing were available you could shadow with an empty (or marker) file, e.g.:

**src/main/scala-2.10/foo/PlayJsonSupport.scala**
[code]

[2017-01-05 13:06] DaniRey commented on #2310
Understood. Thanks for the clarification.
Then I am ok with any of the two approaches.

Shadowing:
 Pro: slimmer projects, highlight the exception, not implementig a feature forces author to explicitly shadow it (good comments in files)
 Contra: a bit complexer to reason about (and implement?), not implementing a complete feature set needs extensive shadowing

Newer then X:
 Pro: easy to reason ab

[2017-01-06 06:02] xuwei-k commented on #2822
https://github.com/xuwei-k/sbt-jol/commit/7dc2e10925f5662a054b45d58264b8748f7ba9eb#diff-4e3c125922202e6220ef0a1510208da4R39
maybe same issue ?

[2017-01-06 08:02] dwijnand commented on #2822
@xuwei-k no that's #1444

[2017-01-06 14:59] dwijnand opened #2894 "Eviction warning (overrideScalaVersion) lies and is unclear"
## steps

sbt.version=0.13.13

[code]

Note I'm setting `scalaVersion` to `"2.12.0"` but monocle-core 1.4.0-M2 depends on `org.scala-lang : scala-library : 2.12.1`.

[code]

## problem

Invoking `run` shows 2 things, first:

[code]

secondly:

[code]

Firstly, the message "To force scalaVersion" is unclear. Does it mean to force the upgrade or to force it not to upgrade?

Secondly, actually adding

[2017-01-06 15:40] MasseGuillaume opened #2895 "autoScalaLibrary does not work in 0.13.13"
## steps

[code]

## problem
[code]

## expectation

works fine in 0.13.11

it look like `autoScalaLibrary` is not working

[2017-01-06 15:46] #2811 closed, assigned to nobody

[2017-01-06 15:46] eed3si9n commented on #2811
This is now done

[2017-01-06 15:47] eed3si9n commented on #2612
This is done

[2017-01-06 15:53] eed3si9n commented on #2389
sbt 1.x will target Scala 2.12.x. We'll update the coding guideline.

[2017-01-06 16:35] MasseGuillaume commented on #2895
duplicates https://github.com/sbt/sbt/issues/2867

[2017-01-06 16:35] #2895 closed, assigned to nobody

[2017-01-06 16:40] eed3si9n commented on #2894
This is a feature interaction between eviction warning and scalaVersion mediator.
Effectively we now have overrideScalaVersion turned on by default.

[2017-01-06 16:45] eed3si9n commented on #2894
Reflecting the scalaVersion mediator, we could issue a warning like:

[code]

if we know that the mediator is turned on.

[2017-01-08 18:54] smarter commented on #2895
@MasseGuillaume Note that `autoScalaLibrary` is no longer necessary for dotty-compiled projects: https://github.com/smarter/dotty-example-project/commit/3012522ae15e4711bfa171705256696b41467da1 (though versions of sbt other than 0.13.11 remain untested)

[2017-01-08 19:38] smarter opened #2896 "scalaVersion mediator in 0.13.13 is broken for dotty-compiled projects"
We now publish a dummy `ch.epfl.lamp % scala-library % 0.1-SNAPSHOT` that depends on `dotty-library` so that users do not need to depend on the `scala-library` by hand: https://github.com/smarter/dotty-example-project/commit/3012522ae15e4711bfa171705256696b41467da1

This works perfectly fine with sbt 0.13.11 but breaks in 0.13.13 because `dotty-library` depends on `org.scala-lang % scala-library %

[2017-01-08 19:47] smarter commented on #2896
I think this is the root cause of https://github.com/sbt/sbt/issues/2867

[2017-01-08 19:50] smarter commented on #2867
I think what's actually going on is that `ch.epfl.lamp % dotty_2.11 % 0.1-SNAPSHOT` depends on `org.scala-lang % scala-library % 2.11.5`, but sbt decides to rewrite that dependency to `ch.epfl.lamp % scala-library % 0.1-SNAPSHOT` because of `overrideScalaVersion`, you can workaround it by adding:
[code]
to your build, this is effectively required for every dotty-compiled project that uses sbt 0.13

[2017-01-08 20:11] smarter commented on #2896
I see there's already some cases where the mediator is disabled, maybe that could be extended? https://github.com/sbt/sbt/pull/2827

[2017-01-09 10:09] liufengyun commented on #2867
Thanks for the tip @smarter 👍

[2017-01-09 22:40] dwijnand commented on #2835
@paulp Has come up with a different workaround https://gist.github.com/paulp/ba9bd0b5808a808c67cbd2bb9db08005

[2017-01-09 22:44] dwijnand opened #2898 "Do something with Def.derive"
We should do something with Def.derive. Some combination of:

* kill it,
* document it,
* fix it and make it the implicit default behaviour of settings
* .. any other option?

[2017-01-09 22:45] eed3si9n commented on #2898
Do we have to do anything with it?

[2017-01-09 22:47] dwijnand commented on #2898
Yeah. It's out there, both in the sbt codebase and in other codebases (eg. wartremover). At the very minimum we should document what we know about it, warts, caveats and all.

[2017-01-09 22:52] eed3si9n commented on #2898
IIRC it allows automatic derivation of setting expressions on the configuration axis, but it requires the incoming expressions to be unscoped, so it doesn't work well with task scoping.
Caveat emptor.

[2017-01-09 23:04] dwijnand opened #2899 "Settings should use dynamic dispatch semantics"
## steps

[code]

## problem

[code]

## expectation

In `ThisBuild` scope, `srcDir` is defined in terms of `baseDir`.
Later, in project `a` and project `b`, in project scope `baseDir` is redefined.
Intuitively, imho, `a/*:srcDir` should be `/a/src` not `/src`.

## notes

sbt.version=0.13.13

Also, using taskKeys instead of settingKeys changes nothing.

[2017-01-09 23:11] eed3si9n commented on #2899
Your expectation doesn't match mine in terms of `inThisBuild(...)`, `inConfig(...)`, etc..
The RHS of the `srcDir := baseDir.value / "src"` should be scoped to the scope you said it should be scoped to. You might want some other feature request, but I disagree to categorize this as a bug.

[2017-01-10 00:03] dwijnand commented on #2899
That's because you know the implementation details of `inThisBuild`.

Would you accept my expection if I used:

[code]

or `in Global` or any other combination you can come up with?

What I'm trying to define is a default definition for `srcDir`, defined in terms of `baseDir`, as `baseDir / "src"`.
Given that universal, project-agnostic definition, I want to refine the value of `baseDir` and have

[2017-01-10 00:17] dwijnand opened #2900 "No direct syntax for calling a command with a project"
## steps

[code]

## problem

[code]

## expectation

It should be possible to call `a/cmd` to call the 'cmd' command with project 'a' as the current reference.

## notes

sbt.version=0.13.13

[2017-01-10 00:26] eed3si9n commented on #2899
Using the terminology that I defined in http://www.scala-sbt.org/0.13/docs/Basic-Def.html, we can break down `srcDir in ThisBuild := baseDir.value / "src"` into three parts.

- key,
- operator, and
- setting body

Let's just focus on key first. Key is `srcDir in ThisBuild`. `ThisBuild` is not a magical inheritance, it's just a value `{url}`in subproject axis. There's only one setting named that, a

[2017-01-10 00:52] dwijnand commented on #2899
When keys not defined in project-scope fall back to ThisBuild, then it is essentially inheritance. Only instead of being physical Scala code inheritance, it's inheritance done as values.

To put it back into the code it's emulating:

[code]

[code]

I know and understand what the workarounds to the bug are.

[2017-01-10 10:20] akauppi commented on #1623
@hepin1989 I believe this is implemented, and this Issue could be closed.

Please check [this answer](http://stackoverflow.com/questions/11653435/how-to-reference-external-sbt-project-from-another-sbt-project#answer-15229301) at StackOverflow. Is there something missing, which would warrant keeping this issue still open?

[2017-01-10 10:30] akauppi commented on #2869
@geoHeil You probably intended the issue to contain more details?

[2017-01-10 10:33] geoHeil commented on #2869
@akauppi https://github.com/dmlc/xgboost/issues/1858 more details are there Problem is that sbt is not interpreting properties set in a maven profile, only general properties are read.

[2017-01-10 10:43] akauppi opened #2901 "`ProjectRef` source dependency does not work with multiple Scala versions"
Using `ProjectRef` to bring in sources from another repository is a useful feature. However, it only seems to compile for the default Scala version of the dependency, i.e. it does not support cross-compilation.

# Steps
- project A compiles for both Scala 2.11.8 and 2.12.1 (default)
- project B refers to A via `dependsOn(ProjectRef(...))`

# Problems
- project B does not compile for Scala 2.11.8

[2017-01-10 11:10] dwijnand commented on #2901
Could you provide clear reproduction steps, please? I don't mean to be pedantic, but, for instance, it's not clear exactly what you're doing when you say "project A compiles for both Scala 2.11.8 and 2.12.1 (default)". These details matter. Thank you.

[2017-01-10 11:14] akauppi commented on #2901
Sure.

- https://github.com/akauppi/sbt2901a
- https://github.com/akauppi/sbt2901b

[code]

If it runs, there was no problem.

[2017-01-11 22:16] adamvoss commented on #2566
Would a Java dependency to Maven Model Builder be acceptable, or would an implementation need to be Scala in order to be acceptable?

Does anyone know if [XSD validation](http://maven.apache.org/ref/3.3.3/maven-model/maven.html) would suffice?

[2017-01-11 22:31] cunei commented on #1444
@dwijnand 👍

[2017-01-12 02:23] clemper opened #2904 "test:dependencyClasspath ordering question"
I have a question regarding the test dependencyClasspath. Apparently if you depend on a subproject using "test->test", the test classpath has the test-classes come before classes for the project, but classes comes before test-classes for all dependent subprojects.  Is this intended behavior, and if so, why?  I cannot find any reference to this behavior in the SBT docs.   This behavior makes it ver

[2017-01-12 04:39] klaeufer opened #2905 "instructions for installing sbt on Linux break apt unless apt-transport-https is already installed"
http://www.scala-sbt.org/0.13/docs/Installing-sbt-on-Linux.html

These instructions break apt unless apt-transport-https is already installed.

## steps

echo "deb https://dl.bintray.com/sbt/debian /" | sudo tee -a /etc/apt/sources.list.d/sbt.list

## problem

apt will no longer work unless apt-transport-https was already installed.

## expectation

apt should continue to work as normal.

## notes

[2017-01-12 04:42] eed3si9n commented on #2904
I think it's not documented because it's underspecified and whatever you're seeing is the result of the implementation. So in that sense, it's likely working as expected in the sense the there's no expectation at the detail you're describing in terms of test-classes vs classes.

You lost me here. Are you redefining classes with the same name across different subprojects? Do you have examples of wh

[2017-01-12 04:44] eed3si9n commented on #2905
Thanks for the report. Could you share more details on the environment you're seeing this? Distro and version number etc.

[2017-01-12 14:52] dwijnand commented on #2822
I expect this to be broken for the same root cause as #1444: the `:=`/`.value` syntax broke [definedTestNames](https://github.com/sbt/sbt/blob/v0.13.13/main/src/main/scala/sbt/Defaults.scala#L430).

[2017-01-12 19:29] #1167 closed, assigned to nobody

[2017-01-12 22:07] ionFreeman commented on #1781
@samthebest? What happened with this?

[2017-01-12 23:25] clemper commented on #2904
@eed3si9n thanks for your response.  We are using the typesafe Config library, where the resolution of the configuration settings is dependent on the order that reference.conf and/or application.conf are found on the classpath.  That means if we have a common component that is used across a number of subprojects, then we have to copy the test configuration to every subproject.   This is possibly f

[2017-01-13 02:33] Woodz opened #2906 "sbt's API doc is missing link to source"
In order to help understand the SBT API, the documentation at http://www.scala-sbt.org/0.13.12/api/index.html#package should include links to the source files to avoid users having to manually locate the class and function definitions in the SBT source.

[2017-01-13 08:01] #2664 closed, assigned to nobody

[2017-01-13 15:01] dwijnand commented on #2822
Fixed in https://github.com/sbt/sbt/pull/2908 (pending merge)

[2017-01-13 18:58] #2822 closed, assigned to dwijnand

[2017-01-13 18:58] #1444 closed, assigned to dwijnand

[2017-01-13 19:10] eed3si9n opened #2909 "Provide setting alternatives for task triggeredBy/storeAs/etc"
This is an offshoot of #1444

https://github.com/sbt/sbt/pull/2908 does address the immediate problem of `<<=` migration, but it also made it clear that the semantics of `:=` by design is insufficient to copy non-value infos such as `triggeredBy` over to the LHS.

A more sbt idiomatic way of handling this is to encode them as settings if possible.

[code]

[2017-01-14 13:34] #2800 closed, assigned to eed3si9n

[2017-01-14 22:28] klaeufer commented on #2905
Sure! Basically every standard Ubuntu cloud environment, such as c9, Codenvy, etc. These are typically 14.04.5 LTS. Here is an example from c9 in a freshly created blank workspace.

[code]

[2017-01-15 04:08] #2677 closed, assigned to eed3si9n

[2017-01-15 07:15] eed3si9n commented on #2352
More done stuff

- [x] a58b184 Merge pull request #2828 from eed3si9n/wip/thedude
- [x] 55e2b56 Merge pull request #2826 from vpetro/bump-giter8resolver-version
- [x] bbc7063 Merge pull request #2767 from avdv/fix-2766-sourceFile-null
- [x] 47a71c0 Merge pull request #2794 from dwijnand/212
- [x] 38cfb62 Merge pull request #2764 from dwijnand/deprecate-tuple-enrich
- [x] af2056b Merge pull request

[2017-01-15 23:12] vasigorc opened #2923 "sbt doesn't use scala version from build.sbt on Fedora 24"
Env:
OS - Fedora 24 (KDE Plasma Desktop)
sbt version - 0.13.8

I installed sbt following the official web-site's guide:

[code]

Worth your attention that Fedora's package manager (dnf) skips sbt in updates as having broken dependencies:

[code]

I have then created a simple "Hello, world!" sbt project (using Intellij IDEA 2016.2 Community edition). Running `compile` fails with this exception:

[c

[2017-01-15 23:13] eed3si9n commented on #2923
Thanks for bringing this to our attention.

[2017-01-15 23:19] eed3si9n commented on #2923
I recently created 0.13.13.1 because we messed up the RPM installer for 0.13.13.
On EC2 environment I did confirm that Redhat was able to display hello world. I picked whatever that was on EC2 so I think it was Red Hat Enterprise Linux 7.3 (HVM), SSD Volume Type - ami-b63769a1.
The output looked like this:

[code]

[2017-01-15 23:31] eed3si9n commented on #2923
Currently the `rpmRequirements` we list on the [installer](https://github.com/sbt/sbt-launcher-package/blob/86afaaebb43ec4d6278f139700912893314a16b1/build.sbt#L85) are

[code]

Are the above requirements now outdated? What should they be?

/cc @rparree @manub @jonathandbyrd from https://github.com/sbt/sbt-launcher-package/issues/126

[2017-01-16 02:12] Woodz opened #2924 "ExclusionRule.configurations does not work"
(See the guidelines for contributing, linked above)

## steps

Using an SBT file with the following dependency:
`libraryDependencies += ("com.google.guava" % "guava-collections" % "r03").excludeAll(ExclusionRule("com.google.guava", "guava-primitives", configurations = Seq("test")))`

## problem

guava-primitives is not present in production scope.

## expectation

guava-primitives should only be e

[2017-01-16 20:30] jvican commented on #2894
:+1: I really like the new warning message.

[2017-01-16 21:41] NicolasRouquette opened #2927 "addMavenResolverPlugin causes lots of warnings: o.e.a.i.i.WarnChecksumPolicy - Could not validate integrity of download from ..."
(See the guidelines for contributing, linked above)

## steps

Use the sbt script from: https://github.com/paulp/sbt-extras

### 1) The failed case

[code]

Lots of warnings about checksum validation.
(the task will fail because the required pgp files haven't been decrypted)

[code]

This seems to be incorrect:

[code]

Indeed, this is what is expected.

[code]

It matches.

It's unclear what algo

[2017-01-16 23:24] #2851 closed, assigned to eed3si9n

[2017-01-17 04:21] dazebug opened #2928 "Apt repository does not work properly"
## steps

[code]

## problem

[code]

## expectation

Install the sbt w/o errors

## notes

I tested it on ec2 ubuntu instance.
http://www.scala-sbt.org/0.13/docs/Installing-sbt-on-Linux.html

[2017-01-17 10:40] ViliusN opened #2929 "NullPointerException on loading project"
Someone might want to take a look at this:

[code]

The second time it loaded ok.

[2017-01-17 16:05] guizmaii opened #2931 "SBT installation in Ubuntu 16.04 use experimental OpenJDK 9 version which fail to download SBT"
## steps

- Launch a virgin Ubuntu 16.04 machine
- Follow the installation instructions here : http://www.scala-sbt.org/0.13/docs/Installing-sbt-on-Linux.html which are:
[code]

- In a SBT project, run any SBT command. It'll download the SBT version defined in `project/build.properties`. Here the version was 0.13.13

## problem

`sudo apt-get install sbt` will install `openjdk-9-jre-headless` whic

[2017-01-18 00:41] rbellamy commented on #892
This makes testing newly published plugins locally, in a "real" SBT project (e.g. not a `sbt-scripted` test project) very difficult.

[2017-01-18 06:55] eed3si9n commented on #2931
Our `debianPackageDependencies` says:

[code]

Intuitively one might think `"java6-runtime-headless"` means JRE6. But it turns out it's actually a virtual package (http://packages.ubuntu.com/hu/xenial/java6-runtime-headless, https://packages.debian.org/sid/java6-runtime-headless).
I am going to change to `openjdk-8-jdk`.

[2017-01-18 23:30] salimfadhley commented on #2888
Would an SBT dev be willing to look into this possible bug? Thanks!

[2017-01-19 07:49] eed3si9n commented on #2888
I've answered the Stackoverflow question. I don't think it's a bug.

[2017-01-19 07:49] #2888 closed, assigned to nobody

[2017-01-19 07:52] eed3si9n commented on #2928
Do you know why it is hitting `https://dl.bintray.com/sbt/debian-experimental` (note *experimental*) instead of https://dl.bintray.com/sbt/debian/?

[2017-01-19 10:57] dwijnand commented on #2310
@sjrd seems to have done some source file shadowing: https://github.com/scala-js/scala-js/blob/v0.6.14/project/Build.scala#L920

[2017-01-19 13:36] sjrd commented on #2310
Yup. And for that matter, even our source file shadowing doesn't scale anymore. Now that we have 4 major versions of Scala to support, for a total of 18 released minor versions + 3 master branches, we have to duplicate quite a few files here and there.

I would like to have "range-based" versioning. But even better, I would like to have diff-based overrides: instead of shadowing entire files, spec

[2017-01-19 13:46] dwijnand commented on #2310
Virtual files!

[2017-01-20 07:44] eed3si9n commented on #2798
This was implemented in #2859

[2017-01-20 07:48] eed3si9n commented on #2801
Duplicate of #2800?

[2017-01-20 07:48] #2801 closed, assigned to nobody

[2017-01-20 07:56] eed3si9n commented on #2886
I use similar setup using sbt installed by brew, and I can't reproduce it.
There has to be some other thing happening.

Could you try the following and try again?

[code]

Also do you have some environment variable that's non standard, or global plugin that could interfere? For example I see "Listening for transport dt_socket at address: 1044".

[2017-01-20 12:06] dportabella commented on #2824
it seems related to https://issues.apache.org/jira/browse/SPARK-9219

[2017-01-20 15:26] #1466 closed, assigned to eed3si9n

[2017-01-20 22:22] #2806 closed, assigned to nobody

[2017-01-21 08:34] ngbinh commented on #2817
We are having the same issue. Not sure if there is a work around?

[2017-01-21 12:29] eed3si9n commented on #2923
If sbt 0.13.13 can be installed, that should work.
If sbt 0.13.8 can be installed, that should also work with JDK 8.

[2017-01-21 12:29] #2923 closed, assigned to nobody

[2017-01-21 22:06] #2736 closed, assigned to nobody

[2017-01-22 13:51] britter opened #2939 "sbt help new does not explain how to use sbt new"
## steps

`sbt help new`

## problem

Instead of explaining how to use `sbt new`, calling `sbt help new` just renders the normal output of `sbt help`:

[code]
## expectation

`sbt help new` should render useful information, e.g.:

- how to use the `new` command
- possible options for `new`
- how to discover new templates

## notes

Nevertheless `sbt new` is awesome!

[2017-01-22 13:56] eed3si9n commented on #2939
I totally agree. `new` has been received positively beyond our expectations, so I think it makes sense to make it more self-documenting.

[2017-01-25 04:33] TeraWilliam commented on #2622
I believe the recommended approach is:

[code]

[2017-01-25 10:48] AmazingDreams commented on #2622
@ScalaWilliamTeralytics thanks that seems to have worked

[code]

[2017-01-25 10:48] #2622 closed, assigned to nobody

[2017-01-25 15:14] antoniocali commented on #1852
Still have same issue here.
Always get a connection timed out because proxy

[2017-01-26 19:45] tpolecat opened #2944 "clean up source code"
So, at least for me the state of the source code is a big barrier to contributing. It's poorly formatted, sparsely commented, and in places it's organized strangely. So I suggest a cleanup task to be done at some point post-1.0 when we're free to make "big" changes. In this case the changes are trivial but global and will result in a huge PR. Anyway:

- Run everything through scalafmt to make form

[2017-01-26 20:25] eed3si9n commented on #2944
I agree that sbt's code base is very difficult to tackle.

Not sure what goes to pre- and post-1.0, but my approach to solving this is to split sbt into distinct modules and clarify public API vs internal implementation (rather than trying to make everyone understand every class). I'd say nearly half of sbt 0.13 code is around incremental compilation and supporting classes. But for most contributo

[2017-01-27 01:43] l15k4 commented on #2249
this is also a strange behavior in `0.13.13` :
[code]

It tries to publish even though it is disabled ...

[2017-01-27 09:43] jheijkoop commented on #2886
I have a similar problem, when running under linux:
[code]

b.t.w. I also get `Error during sbt execution: java.lang.OutOfMemoryError: Java heap space` when setting `-Xmx` < `4G`

[2017-01-27 10:22] jheijkoop commented on #2886
In my case it seems to be a more general problem. If I `mv -a ~/.ivy2{,.bak}` sbt seems unable te retrieve any dependency

[2017-01-27 10:31] jheijkoop commented on #2886
switching from openjdk to oraclejdk has resolved this for me

[2017-01-27 15:36] samthebest opened #2945 "Cannot increase memory for `sbt console`"
## steps

Try to set memory using http://stackoverflow.com/a/15281562/1586965

[code]

Run `sbt console`

`Runtime` shows sbt does not respect my settings

[code]

## problem

I get 1G

## expectation

I get 2G

## notes

Really? 2017? :P

[2017-01-27 16:19] dwijnand commented on #2945
What operating system are you using? What sbt launcher are you using (for example how did you install it)?

[2017-01-27 17:40] samthebest commented on #2945
Mac OS 10.11.6

[code]

I installed `sbt` with `brew install sbt`

[2017-01-27 18:17] dwijnand commented on #2945
I can't reproduce it:

[code]

Could you check by adding `-v` what output you're seeing compared to mine?

[2017-01-27 18:29] samthebest commented on #2945
Interesting, when I use -v, an additional `-Xmx` option can be seen that comes after the `-Xmx2G`, I assume this overrides it - where is this option coming from??

[code]

[2017-01-30 08:24] #2539 closed, assigned to Duhemm

[2017-01-30 13:19] analytically commented on #2822
0.13.14-SNAPSHOT doesn't work for me

[2017-01-30 15:33] 123avi opened #2946 "using ssh resolver on jfrog repository in not downloading the dependencies"
Hi, I am using

I have private ssh repository on jfrog. however when I set the resolver, it seems that it is not downloading the dependency
## steps
tried to follow the example shown [here](http://www.scala-sbt.org/1.0/docs/Resolvers.html)
`resolvers += Resolver.ssh("foo repo" , "myname.jfrog.io/mypath/libs-release") as("myUserName", "myPassword")`

## problem

## notes

works fine when using mave

[2017-02-01 12:32] jastice commented on #1502
I am very interested in improving sbt integration with the IntelliJ Scala plugin for sbt v1.0. Being able to add an sbt plugin on boot or by command would make it somewhat easier. I have a vague idea how plugins are loaded, but some more concrete pointers on how to implement a command for it would be appreciated.

I do have a workaround in mind: create a custom sbt global dir with our own plugin a

[2017-02-02 10:05] jvican opened #2947 "GC overhead limit exceeded when running `~` commands in Zinc"
## steps
* Clone `sbt/zinc`.
* Run `~plz 2.12.1 zincRoot/scripted source-dependencies/java-mixed`.
* Edit code and run it for some iterations.

## problem

I suspect there's a memory leak either in sbt, zinc or the scripted tests. I get this error message at least three times a day (and I have 16GB of RAM).
[code]
## expectation
Not to crash by GC overhead limit exceeded. I don't know what's happe

[2017-02-02 11:49] kamilkloch opened #2948 "Def.sequential(...) throws unexpected exception"
Set up a dummy task:
[code]
This works:
[code]

Adding a dummy task causes an exception:
[code]

[code]

[2017-02-02 13:17] Pyppe opened #2949 "JUnitXmlReportPlugin generates invalid testcase name"
It seems that in certain cases an invalid test-case name is generated in the JUnit XML output.

## steps
This is one arbitrary example demonstrating the issue:
[code]

## problem
With this example (using specs2 `3.8.6`) the generated JUnit XML contains the following test-case:
[code]

## expectation

Now, obviously the correct XML should be as follows:
[code]

## notes
* See https://github.com/Pyp

[2017-02-02 13:30] nrinaudo opened #2950 "SBT does not update maven-metadata.xml when publishing to an ssh / sft resolver"
## steps
Attempt to publish artifacts to an ssh or sft resolver with sbt 0.13.13:

[code]

## problem
Everything is published as you'd expect, but the `maven-metada.xml` file is not created or updated.

## expectation
The behaviour should be the same as when publishing to a local repository.
Replacing our previous `publishTo` as follows will create and update `maven-metadata.xml`:

[code]

[2017-02-02 17:47] jvican commented on #2947
It seems that https://github.com/jvican/zinc/commit/d5d59b6f4c563a5f9aa5d095295b93b912b90cf3 already points out what the issue is. `plz` creates OOM while `wow` doesn't. I wonder why this is the case and whether it can be fixed or not.

[2017-02-02 18:45] dwijnand commented on #2947
@jvican https://github.com/sbt/zinc/commit/d5d59b6f4c563a5f9aa5d095295b93b912b90cf3 (edit: doh.. that's the same commit, just on your fork...)

[2017-02-03 05:43] wsargent commented on #2687
I've been running into this with https://github.com/playframework/play-ws shaded files.

[2017-02-03 09:20] salimfadhley commented on #2888
@eed3si9n did you manage to verify that the feature works on Windows? Based on the syntax of your response it looks like you used Linux. It works on Linux for me too - I really want to get it working on Windows as well.

In response to your question - I was able to get it working using SBT 0.12.x. on windows. I've never been able to get it to work with 0.13.x on Windows.

[2017-02-03 10:24] ksilin commented on #2928
perhaps because -experimental is the recommendation in the current 1.0 docs?

http://www.scala-sbt.org/1.0/docs/Installing-sbt-on-Linux.html

echo "deb https://dl.bintray.com/sbt/debian-experimental /" | sudo tee -a /etc/apt/sources.list.d/sbt.list

[2017-02-03 10:47] jvican commented on #2947
Yes, I saw that. It would be interesting to know why that OOM happens. @dwijnand

[2017-02-03 16:24] Pyppe commented on #2949
Just by looking at the code; https://github.com/sbt/sbt/blob/d9cc0c2f0b8648bf6315c10b3756b95481b236b2/testing/src/main/scala/sbt/JUnitXmlTestsListener.scala#L73 looks fishy:

[code]

[2017-02-04 17:57] jvican commented on #1178
Should we close this?

[2017-02-04 18:19] jvican commented on #1967
Should we close this? #2085 was already merged and AFAIK is working on latest Zinc.

[2017-02-04 18:23] dragos commented on #1178
I don't think the problem was solved.

[2017-02-04 18:49] jvican commented on #1178
True, my bad @dragos.

So, IIUC, you suggest to always run the Java compiler even if the Scala compilation fails. You want it to get sane error messages from Javac -- so that you know that Scala dependencies are missing and were not compiled. Please, confirm this is what you had in mind and I'll port it over to the Zinc repository.

[2017-02-04 18:59] jvican commented on #2537
I think this was fixed in sbt/zinc#110. Can we close?

[2017-02-04 20:38] dwijnand commented on #2537
That would seem to not do the "names of synthetic symbols" part.

[2017-02-05 01:31] dwijnand commented on #2945
I think you might be using a version of sbt-launcher-package that predates this fix: https://github.com/sbt/sbt-launcher-package/pull/101

[2017-02-05 06:03] retronym commented on #2778
Referencing #2951, which adds some basic compatibility with Java 9 to the 0.13 branch.

[2017-02-05 08:06] jamesfe commented on #2774
Is this something that should be added to the project?  It seems like low-hanging fruit and if the maintainers of this project want it, I can add it.

[2017-02-05 12:03] samthebest commented on #2945
@dwijnand

I ran `brew upgrade sbt` and now

[code]

Many thanks!!

[2017-02-05 14:35] dwijnand commented on #2945
Cool! :)

[2017-02-05 14:35] #2945 closed, assigned to nobody

[2017-02-06 01:44] eed3si9n commented on #2774
Sure. The code I think is here - https://github.com/sbt/launcher/blob/d318b76f36d5eb727d7227d4dd8b20c1764550b8/launcher-implementation/src/main/scala/xsbt/boot/Update.scala#L144

[2017-02-06 05:37] dazebug commented on #2928
@eed3si9n
@ksilin is correct. It was recommended way to install it. I resolved it with `debian` instead of `debian-experimental`, but if this is correct, then document should be fixed.

[2017-02-06 14:59] DavidPerezIngeniero opened #2953 "SBT cannot resolve well transitive dependencies for Birt"
(See the guidelines for contributing, linked above)

## steps

Create a project that has this dependency:

"org.eclipse.birt.runtime" % "org.eclipse.birt.runtime" % "4.6.0-20160607"

## problem

When invoking `update` here is the result:

- org.eclipse.scout.sdk.deps:org.eclipse.core.jobs:[3.8.0,3.8.1) (error: not found)
- org.eclipse.scout.sdk.deps:org.eclipse.core.jobs:[3.8.0,3.8.1) (error: not

[2017-02-06 15:24] DavidPerezIngeniero commented on #2953
This behaviour observed in SBT 0.13.11.
SBT 0.13.13 continues to exhibit this bug.

[2017-02-06 15:37] alexarchambault commented on #2131
Also running into this with
[code]

`sbt compile` gives
[code]

[2017-02-06 15:40] DavidPerezIngeniero commented on #2953
dependency graph gathered by SBT, by means of the plugin `"net.virtual-void" % "sbt-dependency-graph" % "0.8.2"`:

[code]

[2017-02-06 21:27] eed3si9n commented on #2928
The current stable version is sbt 0.13.x - http://www.scala-sbt.org/documentation.html

[2017-02-06 21:46] eed3si9n opened #2954 "Maven version range should translate to a fixed lower bound in Ivy"
This is spawn from https://github.com/sbt/sbt/issues/2291#issuecomment-270495227

Upon a dependency conflict (multiple version candidates are found for the same module), by default Ivy uses [latest-wins](http://ant.apache.org/ivy/history/2.3.0/ivyfile/conflicts.html), and Maven uses [nearest-wins](https://maven.apache.org/guides/introduction/introduction-to-dependency-mechanism.html) logic to pick

[2017-02-06 21:46] eed3si9n commented on #2953
This might be solved with https://github.com/sbt/sbt/issues/2954?

[2017-02-07 03:11] peggyl commented on #2928
I encountered the same issue when installing sbt over the weekend.

@eed3si9n is correct that the stable 0.13.x docs use `debian`, but if you Google "install sbt" (as I did), the first result is for http://www.scala-sbt.org/1.0/docs/Setup.html. This is the new, non-stable version that uses `debian-experimental`.

Furthermore, the 1.0 docs page does not link to the 0.13 docs. Whether you are on 0.1

[2017-02-07 03:30] eed3si9n commented on #2928
Makes sense. I should probably take 1.0 docs down until it's released, or somehow mark it as beta.

[2017-02-07 07:41] DavidPerezIngeniero commented on #2953
Thanks for your suggestion.
How can I test it?

[2017-02-07 07:46] jamesfe commented on #2774
@eed3si9n thanks!  I will get cracking on this - progress might be slow since I am new to this project but I appreciate your help.

[2017-02-07 07:52] jamesfe commented on #2774
Also - @eed3si9n or anyone else, should we move this issue to the sbt/launcher project?  And given your familiarity with the project, what conditions generally indicate that this is a 'first run' situation?

[2017-02-07 10:44] frozenspider commented on #1855
Pretty annoying, any updates on this?

[2017-02-07 11:33] densh commented on #1824
We've hit this one too, any ideas on what's causing it?

[2017-02-07 22:56] eed3si9n commented on #2953
Given #2954 is not implemented yet, your workaround would be defining `dependencyOverrides` manually for all dynamic stuff. http://www.scala-sbt.org/0.13/docs/Library-Management.html#Overriding+a+version

[2017-02-08 06:00] jk128 commented on #2156
Does anyone notice that file that was reported that could not be created is actually there and the contents of this file is exactly the same message - which is very weird? It is something like this:

from the stdout/stderr:

SomeException: "I could not create file somefolder/somefile.txt"

and then we notice file exists so we execute:

$ cat somefolder/somefile.txt

and the result is:

SomeExcepti

[2017-02-08 16:12] idanov commented on #2939
`sbt new` is quite useful indeed. It would be great to be better documented, e.g. adding more information about using templates from private repos and how one should add authentication details. That's what I am struggling with at the moment and it would've saved me a lot of time if it was included in `sbt help new`.

[2017-02-08 16:49] eed3si9n commented on #2774
We have a bunch of repos, but the end user may or may not be familiar with our internal structure, so I'm ok with it staying here.

[2017-02-08 16:51] eed3si9n commented on #2774
The launcher will check for the specified module under boot directory, when it doesn't find it it uses Ivy to download the module along with its dependencies.

[2017-02-08 20:27] JSantosP commented on #2422
Any update on this issue?

[2017-02-08 22:41] vasigorc commented on #2923
Thank you, eed3si9n. I have a different issue with 0.13.13.1 now - I already [reported it here](https://github.com/sbt/sbt-launcher-package/issues/140).

[2017-02-10 05:45] QiuMing opened #2958 "object scala.runtime in compiler mirror not found."
I an new to scala ,I get this error and could not solve it after search in google.

## steps
* create play2 seed project  and run
[code]

## problem

I get  `[error] scala.reflect.internal.MissingRequirementError: object scala.runtime in compiler mirror not found.`

## expectation

[code]

## notes

### Notes 1:

My java version and scala versoin
[code]

### Notes 2
Looking form http://stackoverfl

[2017-02-10 05:52] eed3si9n commented on #2958
Could you try without Coursier to make sure that's not causing the issue, plz?

[2017-02-10 09:41] jastice commented on #1502
Note: For our current IDE integration purposes, it would be even sufficient to just be able to add via environment variable additional "global" directories that get loaded into the build.
Loading by command would still be neat for other purposes.

[2017-02-10 09:51] dwijnand commented on #2958
`MissingRequirementError ` usually means you have a corrupt jar on your classpath somewhere.

Try running `find ~/.ivy2 ~/.sbt -name '*.jar' -exec file {} \; | grep -v 'Zip archive data'` to find any `*.jar` that isn't actually a jar, and delete it.

[2017-02-10 11:03] DavidPerezIngeniero commented on #2953
Thanks, I didn't know about dependencyOverrides.

[2017-02-10 13:58] deterdw commented on #2695
Another workaround is to edit the BAT script on Windows and replace

    call :run %SBT_ARGS%

with

    call :run %*

although this may cause broken/unexpected behaviour when passing the `-jvm-debug` parameter (untested).

The issue is that `=` is a hard-coded parameter separator in batch files, so any looping through the parameters (as is done to build up `SBT_ARGS`) will break parameters of the

[2017-02-10 20:16] eed3si9n opened #2960 "New launcher"
https://github.com/sbt/launcher/pull/27
We need to build and release a new launcher.

[2017-02-14 17:07] ekrich opened #2963 "Bash shell will not echo after running sbt script"
After running a sbt script in version 1.0.x the shell becomes corrupt. This does not occur using 0.13.x versions.

Steps:

1. Run a simple sbt script such as the following where `xsbt` is a simple launcher script :
[code]
2. Try to type a command like `env` and press return/enter.
3. Just press the return/enter key.

Problem:
- The shell will not echo characters
- The shell does accept the charact

[2017-02-14 21:02] ehrlichja commented on #2422
Any updates?

[2017-02-14 21:18] eed3si9n commented on #2422
I think the first thing we need to tackle this would be to have some sort of repro steps.

If large jar causes this, information about that (e.g. what's the size of JAR that everyone is having problem with) would also be helpful.

What are the differences between the machines? Is it memory issue, OS, or Java version dependent?

[2017-02-14 21:42] ehrlichja commented on #2422
For me it happens on all machine (osx, centos). My artifact is a tar.gz, created with the universal packager, and its 30MB.

[2017-02-14 21:44] eed3si9n commented on #2422
OP seems to be pushing to Nexus:

[code]

@ehrlichja How about you?

[2017-02-14 21:50] ehrlichja commented on #2422
I'm pushing to Artifactory.

Stack trace:

[code]

[2017-02-14 22:05] jkleckner commented on #2422
@ehrlichja you probably did this, but just in case, verify your artifactory credentials because sometimes a mismatch is buried as a connection error.  If you use artifactoryonline, check the system logs for an auth error.

[2017-02-14 22:10] ehrlichja commented on #2422
@jkleckner good idea. the "publish" task runs immediately before the "universal:publish" task in the same sbt invocation. "publish" successfully reads credentials from a file and writes the jar to Artifactory. "universal:publish" has succeeded when I slimmed the .tar.gz way down to a few text files, but fails when I turn it back up to 30MB (with all else equal).

[2017-02-15 11:50] samuelsayag opened #2964 "Transitive dependencies with classifier "test" are not include in the classpath"
## steps
These steps make use of the [hadoop-mini-cluster](https://github.com/sakserv/hadoop-mini-clusters) project.

1. Create a sbt project (I did it with intellij) and modify the sbt by adding:

[code]

2. Create a basic test class (in src/test ) that is supposed to use a "classifier test" artifact

[code]

## problem
It start with the compilation that is successful but issue a warn about a not

[2017-02-16 05:07] eed3si9n opened #2966 "push autoImport check to compile time"
@retronym wrote:

Runtime reflection takes half a second to get up, so if we can push that to check to a macro we might be able to speed up the startup a bit.

[2017-02-17 15:39] OpsRJ commented on #366
I'm trying to running version 0.13.13 behind a proxy. I've also tried the same steps that @dportabella tried with no success. Everything else works (browser, apt, wget, curl, etc...)

[2017-02-17 20:44] jackkoenig commented on #2777
I too greatly desire this feature. We have multiple projects that in release forms use library dependencies but often are needed in a more subproject-like relationship during development. The only workaround we have found so far is overriding the library dependencies with .jars in unmanaged dependencies. This involves wrapping sbt with Makefiles which kind of defeats the purpose of using sbt.

[2017-02-18 13:26] grillorafael commented on #2777
Hi @jackkoenig

At the moment that we did is that we have everything as library dependency and we work by publishing locally the modules as snapshot.

So we have a Release Nexus and a Local Repository for snapshots

So we do the following:

Proj1, Proj2, Proj3

Proj1 has Proj2 1.0.0 as dependency and Proj3 1.1.0-SNAPSHOT as dependency.

We wrote a few helpers that working on project 1 you can run

[2017-02-19 15:14] jvican commented on #2320
Let's close this ticket since https://github.com/eed3si9n/sbt/commit/9a0c400c29c000a892fc45b7267eac5dbc6d889b fixes it.

[2017-02-19 18:45] jvican commented on #1751
I propose to close this issue in favor of https://github.com/sbt/zinc/issues/226.

[2017-02-19 19:58] DemiMarie opened #2967 "SBT build downloads over an insecure HTTP connection"
## steps
Build SBT from Git

## problem
SBT compilation downloads over an insecure HTTP connection.  This is a remote code execution exploit.

## expectation
No downloads, or downloads only with HTTPS URLs, or with SHA2/SHA3/Skein/Blake2b/etc hashes checked before use.

## notes

[2017-02-20 15:35] dwijnand commented on #2660
And/or revive [sbt-cross-building](https://github.com/jrudolph/sbt-cross-building) /cc @jrudolph.

[2017-02-20 15:45] jshweta14 commented on #2422
Hello, I am also facing same issue while publishing the assembly jar to Nexus using SBT via Jenkins. Any solution?! Jar getting created is upto 112 MB. Same jar got deployed to nexus of size 114MB using maven via jenkins. But facing problem while 'sbt assembly publish' in jenkins. Any updates on this Issue.

[2017-02-21 01:05] eed3si9n commented on #2967
Could you clarify "Build SBT from Git"? Do you mean build sbt itself from source?
If so we use fairly recent version of sbt which uses HTTPS by default.
If not, what version of sbt are you using?

[2017-02-21 11:41] dwijnand commented on #2954
I've been trying to wrap my head around what the correct behaviour should be, and it's hugely puzzling.

Generally, the java ecosystem both resolves and publishes maven artefacts using maven from/to maven repositories. While, generally, the scala ecosystem (ignoring sbt plugins, that use ivy repositories) both resolves and publishes maven artefacts using sbt/ivy (sbt's fork of ivy) from/to maven r

[2017-02-21 11:52] dwijnand commented on #1543
@jvican migrated this to sbt/zinc#227

[2017-02-21 11:52] #1543 closed, assigned to nobody

[2017-02-21 14:33] vglushak opened #2968 "DependsOn - ProjectRef(uri(some external repo)) - does not use proxy"
(See the guidelines for contributing, linked above)

## steps
SBT version 0.13.13

1. Create simple SBT project and add dependency on some other github repository.

[code]

2. Configure your SBT to use proxy.

3. Make sure there are no access to github without proxy.

## problem

During project initialisation, SBT is executing git clone for specify github dependency.
While performing cloning it do

[2017-02-21 19:27] jvican commented on #2490
Related https://github.com/pantsbuild/pants/issues/4185.

[2017-02-21 23:23] dwijnand commented on #2389
Done, given https://github.com/sbt/website/pull/324 from @raboof (Thank you!).

[2017-02-21 23:23] #2389 closed, assigned to nobody

[2017-02-21 23:28] dwijnand commented on #2809
@eed3si9n is this done with background run?

[2017-02-21 23:30] dwijnand commented on #2807
I think this is done with background run in https://github.com/sbt/sbt/pull/2936. It's called `ps`.

[2017-02-21 23:30] #2807 closed, assigned to nobody

[2017-02-21 23:31] dwijnand commented on #2808
Oh! This is what I'm working on. Query settings. WIP in https://github.com/sbt/sbt/pull/2935.

[2017-02-21 23:34] dwijnand commented on #2803
This took 7 weeks. But it's done. https://github.com/sbt/sbt/pull/2892

[2017-02-21 23:34] #2803 closed, assigned to nobody

[2017-02-21 23:40] dwijnand commented on #2490
@jvican is this in your list of SC zinc issues? I don't see it under https://github.com/sbt/zinc/issues/212, but i see this issue under the 1.0.0 milestone, so I think it should be, maybe?

[2017-02-22 11:19] jshweta14 commented on #2422
Resolved using sbt-aether plugin. Thanks @kosii

[2017-02-22 13:45] retronym opened #2970 "race condition in caching of SBT plugin resolution with Extracted.runTask / sbtbuildinfo"
## steps (not minimized yet)

 - Clone `scala/scala` repository.
 - Install some global plugins in `./sbt/0.13/plugins`
 - Attach a debugger and set a breakpoint at `def eof` in `io.scala`
 - This breakpoint will hit sometimes when repeatedly running the `reload` command
 - The file `project/target/streams/$global/update/$global/streams/update_cache_2.10/output` will be zero bytes at that moment.

[2017-02-22 16:41] joan38 opened #2971 "SBT dependsOn AutoPlugin"
When I do `sbt compile` it doesn't print `Hello`:

[code]
[code]

See the related question on StackOverflow:
http://stackoverflow.com/questions/41283129/sbt-dependson-autoplugin

Cheers

[2017-02-22 16:52] dwijnand commented on #2971
Hi @joan38, please note the "How can I get help" topic on the website: http://www.scala-sbt.org/community.html#how-can-I-get-help

The problem is that you're defining `compile in Compile` which then gets over-written by JvmPlugin. To do what you want you need to make your AutoPlugin require the JvmPlugin:

[code]

[2017-02-22 16:52] #2971 closed, assigned to nobody

[2017-02-22 16:56] joan38 commented on #2971
Thanks @dwijnand, it works!
Sorry, I really thought that it was a bug but still posted on StackOverflow without success.

[2017-02-22 17:01] dwijnand commented on #2970
what is this I don't even

![mind-blown](http://i2.kym-cdn.com/entries/icons/facebook/000/009/993/tumblr_m0wb2xz9Yh1r08e3p.jpg)

[2017-02-22 17:51] dwijnand commented on #2971
Can you link to the Stack Overlfow question?

I personally spend more time in the [sbt/sbt](gitter.im/sbt/sbt) gitter room than on the Stack Overflow sbt questions.

[2017-02-23 00:05] dwijnand commented on #1751
sure

[2017-02-23 00:05] #1751 closed, assigned to nobody

[2017-02-23 00:08] dwijnand commented on #2320
eed3si9n@9a0c400 isn't merged into any stable branch (sbt/sbt#0.13 or sbt/zinc#1.0) so this isn't fixed.

[2017-02-23 00:18] dwijnand commented on #2966
At least for the scala/scala build it looks like startup time is dominated by ivy resolution:

from https://gitter.im/sbt/sbt-dev?at=58ad76a500c00c3d4f70fa80

So this might improvement here might turn out to be negligible.

[2017-02-23 02:49] retronym commented on #2970
these might be the competing update tasks:

![image](https://cloud.githubusercontent.com/assets/65551/23242759/7709dcea-f9c6-11e6-8d13-93ba1c874eb8.png)

[2017-02-23 08:26] dwijnand commented on #2970
Competing on what again?

Because I see them using different `target/streams/$global/update/$global/streams/update_cache_2.10/output`, under different roots. The first under `~/.sbt/0.13/plugins` and the second under `$SCALA_SRC_HOME/project/project`.

[2017-02-23 10:49] dwijnand commented on #2819
@milessabin No, not patch, binary.

patch is the "alternative" (of sorts) to full. But neither are relevant here.

Cross-version source directories currently use partialVersion, but binary is a better (imo) and more lax variant. Under partialVersion scalaVersion 2.13.0-RC1 is 2.13.0-RC1 (ie no change), under binary it's 2.13.

[2017-02-23 10:50] dwijnand commented on #2819
@eed3si9n

I completely miss-understood what you said. What _did_ you mean by "see this comment"?

[2017-02-23 11:22] dwijnand commented on #2819
Ugh.

Take that, except switch the names. We're using binary, and we want to use partial instead. I confused the two from the beginning.

Only realised thanks to @SethTisue's great docs in https://github.com/scala/community-builds/wiki/Eligibility

Instead of taking apart `scalaVersion.value` yourself, use sbt's `CrossVersion.partialVersion`.
Don't assume that `scalaBinaryVersion` is always a shor

[2017-02-23 11:36] OpsRJ commented on #1852
Same here...

[2017-02-23 11:39] OpsRJ commented on #1781
Same here. I'm not able to use sbt behind a proxy with authentication.

[2017-02-23 11:42] dwijnand commented on #2819
Btw, we should probably also create and define a `scalaPartialVersion` key.

How many times have you seen the code snippet `CrossVersion partialVersion scalaVersion.value`?

[2017-02-23 12:37] retronym commented on #2970
You're right, that's a red herring. Working on a sounder theory now...

[2017-02-23 12:48] dwijnand commented on #2901
`sbt +compile` was suggested as the workaround.

See https://gitter.im/sbt/sbt?at=58aece2df1a33b62753bf45b

[2017-02-23 13:02] retronym commented on #2970
`evalPluginDef` starts `pool-86`

[code]

A task in here that uses `sbtbuildinfo.BuildInfo$BuildInfoTask`, which calls `sbt.Extracted.runTask`, and creates a separate thread pool. We ask for this with:

[code]

This calls the `update` task, which now contends with the task out in `pool-86`.

One failure mode is that a worker thread in `pool-87` witnesses the empty file being written by a worker in

[2017-02-23 13:22] retronym commented on #2970
For posterity, here are the diagnostics I added to SBT in order to pin this down: https://gist.github.com/98cc93c8d151baa8012b5d341aaf2bcf

[2017-02-23 13:26] dwijnand commented on #2970
Awesome investigation.

Yeah.. it's generally known that you shouldn't run `runTask` (and similar) outside of sbt.

Didn't know that sbt-buildinfo was built around it.

Maybe one solution is to make whatever task(s) that call runTask depend on update, so there's no contention over the streams file.

[2017-02-23 13:29] dwijnand commented on #2970
Perhaps there should be an issue opened against sbt-buildinfo, either to fix or to note the caveat.

[2017-02-23 13:43] jotsif commented on #2901
So, project A in my case is akka/alpakka and they have

`ivyScala := ivyScala.value.map(_.copy(overrideScalaVersion = sbtPlugin.value)) // TODO Remove once this workaround no longer needed (https://github.com/sbt/sbt/issues/2786)!`

in their sbt configurations.

And if I am doing `sbt +compile` from my project B I get

`[warn] Binary version (2.11) for dependency org.scala-lang#scala-library;2.11.

[2017-02-23 13:59] ionFreeman commented on #1781
@OpsRJ I think I had this working with a .credentials file http://www.scala-sbt.org/0.13/docs/Publishing.html
I still had to keep my password in plain text. I got around this by using JFrog Artifactory, which generates an API key you can use in lieu of a password.

[2017-02-23 14:53] eed3si9n commented on #2819
I wrote in https://github.com/sbt/sbt/pull/1799#issuecomment-69937528

We already have a facility of dealing with multiple Scala versions within a build (albeit via axis of evil) and that is cross publishing. The way we "cross source" should be symmetric with the way we cross build, and that's how target directory is laid out.

`CrossVersion.binary` means exactly what it sounds like. It's the mino

[2017-02-23 15:33] dwijnand commented on #2819
Right, I see.

For the source code of your project you don't need bincompat, you just need source compat. And I think that's pretty much always true (can you remember a time when scala broke source compatibilitiy between pre-releases?).

When you consider the cost of continuously having to deal with `scalaBinaryVersion` changing over prereleases, on balance, I'm happy for the source directories to

[2017-02-23 19:57] SethTisue commented on #2819
agree

agree

(I mean, well, when Scala is still in milestones, we do sometimes break source compatibility, but in the context of the question we're considering here, that doesn't matter because basically nobody needs to support multiple Scala milestones in the same build of their library. if source changes are needed to move from some Scala M1 to Scala M2, then the library version must bump as we

[2017-02-23 20:26] DemiMarie commented on #2967
@eed3si9n 0.13.1 (latest in Fedora – Fedora generally has old versions of anything Scala related).  Where is the HTTPS URL that is used to get SBT?

And yes, I am referring to building SBT itself from its Git repository.

[2017-02-23 21:24] dwijnand commented on #2967
If you can't update version of sbt you're using to build sbt then you'll need to override configured repositories used by the launcher. See:

* http://www.scala-sbt.org/0.13/docs/Proxy-Repositories.html#sbt+Configuration, and
* http://www.scala-sbt.org/0.13/docs/Launcher-Configuration.html

[2017-02-24 10:13] Sciss commented on #2887
Am I the only person that experiences this problem? Having again the same deadlocks as the stack trace above (with different project).

[2017-02-24 10:46] dwijnand commented on #2887
It's possible you're seeing the same issue that @retronym saw and debugged in #2970.

[2017-02-24 11:40] Sciss commented on #2887
Ok, but this project doesn't use any plugins, so also not sbt-buildinfo. I disabled all global plugins but sbt-pgp (which is needed for publishing to sonatype), but that didn't have any influence on the basic problem, sbt hanging for very long time at "Reapplying settings...". Here is another jstack output where there is technically no deadlock, but still sbt hangs for around a minute:

[code]

[2017-02-24 13:41] jmuth commented on #1185
Hi,

Using version 0.13.11 still can't achieve to silent useless information. How can I do it ?

[2017-02-24 15:58] cunei opened #2974 "Limit on classpath length when forking is enabled"
If the classpath is particularly long, and forking is enabled, sbt will try to spawn a new jvm instance using `java.lang.UNIXProcess.forkAndExec()`, which calls `Process()`, which calls the native `execve()`. The latter has a limit on the length of each of its arguments, hardcoded in the Linux kernel to 128KB: https://github.com/torvalds/linux/blob/607ca46/include/uapi/linux/binfmts.h
The limits a

[2017-02-24 19:08] Araeos commented on #1855
This seems to be a bug with jline, because using version 2.14.3 fixes this issue for me. The relevant issue jline/jline2#127 mentions as much.
Since the currently stable release does not use jline version 2.14.3 (or above) I just replaced the `jline.jar` in my .sbt folder (`C:\Users\<USER>\.sbt\boot\scala-2.10.6\lib\jline.jar`) with a newer version from the [maven repository](https://mvnrepository

[2017-02-24 22:58] jvican commented on #2320
Class-based dependencies +name hashing solves this issue. This was fixed [in this PR](https://github.com/sbt/zinc/issues/86) and #1104 mentions that it's fixed in the issue description.

[2017-02-25 01:04] dwijnand commented on #2320
Cool!

[2017-02-25 01:04] #2320 closed, assigned to nobody

[2017-02-25 01:05] dwijnand commented on #2537
Migrated to https://github.com/sbt/zinc/issues/238 by @jvican

[2017-02-25 01:05] #2537 closed, assigned to nobody

[2017-02-25 15:03] eed3si9n commented on #2970
It's basically https://github.com/sbt/sbt-buildinfo/issues/87

[2017-02-25 15:35] dwijnand commented on #2156
I wonder if all or the strong majority of people hitting this are hitting it due to using sbt-buildinfo and sbt-buildinfo using Extracted.runTask. See https://github.com/sbt/sbt-buildinfo/issues/87 / https://github.com/sbt/sbt/issues/2970.

[2017-02-25 17:48] dwijnand opened #2975 "Support applying input derived from settings in the := macro"
From http://www.scala-sbt.org/0.13/docs/Input-Tasks.html#Preapplying+input

[2017-02-26 13:06] jvican commented on #1545
Can we close this in favor of https://github.com/sbt/zinc/pull/239?

[2017-02-26 17:27] eed3si9n commented on #1545
Yea. And also because the issue has been ported as https://github.com/sbt/zinc/issues/240

[2017-02-26 17:27] #1545 closed, assigned to nobody

[2017-02-26 17:28] jvican commented on #1545
Oops, in fact I meant that issue link!

[2017-02-27 04:21] cuzfrog commented on #1187
This config is useful. When, sometimes, you cannot change the task call, and have to hook some others to it.

[2017-02-27 16:14] lutzh opened #2976 "Feature Request: Build dependent sub-projects (like alsoMakeDependents)"
## steps

Assume I have a multi-project build with the following dependencies:

Projekt A
Projekt B depends on A
Project C
Project D depends on C

Now I have a change in project C.

Then I compile/test in sub-project C.

## expectation

I want the commands to be automatically applied to D subsequently (because D relies on C and I may have broken an API), but not to A and B.

## notes

Have a comma

[2017-02-27 16:24] eed3si9n commented on #2976
(Hi @lutzh!) I've rearranged your description a bit to match my use of the term steps, expectations, and notes.

I am assuming that you don't want `compile` and `test` literally, but some sort of a variant of the tasks and/or an operator that would modify the commands.

[2017-02-27 16:28] lutzh commented on #2976
Hi @eed3si9n ,

Thanks!

Yes, your assumption is correct!

I wouldn't mind having a go at implementing this myself. Feel free to drop any hints how to approach this.

[2017-02-27 16:31] eed3si9n commented on #2976
You might find sbt-doge (https://github.com/sbt/sbt-doge) to be an inspiration since it implements better `+ compile` operator.

[2017-02-28 16:22] NeuroNex opened #2977 "change <<= to := {} not working"
This is probably not a bug, I'm seeking advice to fix the obsolete syntax

## steps
Current project/Testing.scala
[code]

## problem

If the line `testAll <<= (test in IntegrationTest).dependsOn(test in Test)`
is replaced by `testAll := { (test in IntegrationTest).dependsOn(test in Test) }`
the behaviour of the `testAll` task is disabled.

Invoking `sbt testAll` now does nothing. The task terminat

[2017-02-28 16:29] dwijnand commented on #2977
It also says

http://www.scala-sbt.org/0.13/docs/Migrating-from-sbt-012x.html#Migrating+when+using+%2C++or

[2017-02-28 16:29] #2977 closed, assigned to nobody

[2017-02-28 16:39] NeuroNex opened #2978 "trait Build in package sbt is deprecated"
Sorry for using the issue as support forum. I'll like to fix the warning [trait Build in package sbt is deprecated: Use .sbt format instead](http://stackoverflow.com/questions/42488840/trait-build-in-package-sbt-is-deprecated-use-sbt-format-instead) Described in the linked Stackoverflow post.

## steps
The content of the Build.scala is
[code]

## problem
How to migrate that build.scala code into b

[2017-02-28 16:45] keirlawson opened #2979 "Colour output broken on mingw on Windows"
## steps

Run SBT

## problem

Garbage characters instead of colours

## expectation

Coloured output

## notes

I know coloured output is supported by this terminal as npm is able to produce coloured output without issue.

[2017-02-28 16:56] dwijnand commented on #2978
Please don't. Please see http://www.scala-sbt.org/community.html#how-can-I-get-help

Feel free to come chat in the sbt/sbt gitter room.

[2017-02-28 16:56] #2978 closed, assigned to nobody

[2017-02-28 17:39] keirlawson opened #2980 "Line editing not working on mingw on Windows"
## steps

Run sbt from minigw
Start typing command
Attempt to delete characters in command

## problem

Characters are not deleted, instead garbage characters are printed to the line

## expectation

Characters are deleted

## notes

Fix seems to be present in JLine 3.1.1+, see https://github.com/jline/jline3/commit/85e44edfd6d424b17fafca8769fabf7272b211f6

[2017-03-01 04:16] cvogt commented on #2654
@dwijnand @eed3si9n is this available via typesafehub/zinc? Also, is there an option to switch off re-compilation of code depending on macros (which was the behavior in earlier versions of SBT AFAIK).

[2017-03-01 09:32] eed3si9n commented on #2654
@cvogt typesafehub/zinc (aka the old repackaged Zinc) should have all the features in sbt.
See https://github.com/sbt/sbt/blob/v0.13.13/compile/inc/src/main/scala/sbt/inc/IncOptions.scala for various switches. The option to turn off recompilation for macro users is recompileOnMacroDef.

[2017-03-01 13:19] remcobeckers commented on #2585
I am running into the same issue when publishing a large artifact (600+ MB) to our own Artifactory server. The work-around suggested in the Ivy bug report and on the Ivy distribution page (http://ant.apache.org/ivy/choose-distrib.html) is to put a very old version of Apache commons HttpClient on the classpath. However that work-around doesn't work for SBT. I managed to trace the cause back to this

[2017-03-01 13:52] cvogt commented on #2654
@eed3si9n ah, great , so `recompileOnMacroDef` is available for command line `zinc`. This flag logRecompileOnMacro however is not AFAICT, just FYI.

[2017-03-02 09:25] dwijnand commented on #2900
Alternatively maybe the concept of the "current project" should be removed from the Command API.

[2017-03-02 11:44] eed3si9n commented on #2518
Another idea around this is defining a local preloaded repo name "preloaded-local", "preloaded-local-ivy" or something like that on a pre-agreed location on the machine, such as `~/.sbt/preloaded-local/`.
Installer then can place sbt artifacts to the location up front.

[2017-03-02 12:01] dwijnand commented on #2518
Why a new location? Why not place them in the ivy cache?

On Thu, 2 Mar 2017, 12:44 eugene yokota, <notifications@github.com> wrote:

[2017-03-02 14:59] eed3si9n commented on #2518
Ivy cache is opaque to us, whereas additional "preloaded" local repo is perfectly safe. See also Activator.

[2017-03-02 15:02] eed3si9n opened #2982 "Parallelize and cache download of Artifacts"
In light of Coursier, we should revisit the idea of parallelizing and caching download of Artifacts.

[2017-03-02 15:06] eed3si9n opened #2983 "Consider merging sbt-sh"
Older sbt used to have `sh` built-in.
https://github.com/sbt/sbt-sh perhaps should be merged.

[2017-03-02 15:10] dwijnand commented on #2983
I think it's too niche to be built-in. It's not a requirement for building a project (or at the very least I've never seen a build in which it is), and it works really nicely as a global plugin.

:-1:

[2017-03-02 15:13] eed3si9n opened #2984 "Can we force warming of compiler by compiling dummy file"
Rory reported that when running on batch mode `sbt compile`, the first run on the machine is faster than the second onwards. His speculation was that compilation of compile bridge could have forced JITing on the first run.
Would it make sense to run a small dummy file (something like Hello world) before the `compile` on startup?

[2017-03-02 15:14] dwijnand commented on #2518
I don't think we should duplicate artefacts more. Surely Ivy must provide some API for injecting artefacts into its cache. Either directly or indirectly.

Activator introducing yet-another-repo is a bad precedent. See ~/.ivy2/cache vs ~/.m2/repository vs ~/coursier/cache. sbt shouldn't introduce another one.

[2017-03-02 15:18] dwijnand opened #2985 "Introduce a task to trigger compiler-interface compilation"
There is existing art to workaround this. Basically compiling a small file.

The common use case is when creating a docker image you want to do this cached work up front.

[2017-03-02 15:19] eed3si9n commented on #2518
When we know for fact that this particular technique works. Attempting to inject stuff into Ivy cache is undocumented, and unsafe (this is why we have global lock). The problem with Activator was that it didn't correctly do this, but injected it into repositories override.

[2017-03-02 15:28] dwijnand commented on #2814
I'm pretty sure https://github.com/sbt/sbt/issues/2786 and the conversation therein is relevant to this issue and how to go about fixing it.

[2017-03-02 15:33] dwijnand commented on #2518
That's why I said "indirectly" - use a temporary ivy repository, load it with artefacts and then resolve the artefacts from there. Done. You've preloaded the cache.

[2017-03-02 15:34] eed3si9n commented on #2983
The motivation to build this in is so we can talk about it in the documentation, and also because it's relatively stable compared to any other plugin.

[2017-03-02 15:44] dwijnand commented on #2983
Those sound like bad reasons. Stability or documentation shouldn't reasons to fold in plugins imo.

[2017-03-02 15:46] jvican commented on #2983
I think that if this can be safely improved in a sbt plugin, it should stay there. This is the general policy for adding language improvements to Scala (with some exceptions, of course), and I think that sbt should follow a similar model.

The smaller we keep sbt, the better for sbt maintainers and hence the community. My opinion as an external contributor to sbt is that the codebase is too huge.

[2017-03-02 17:38] dwijnand commented on #2976
Actually there is a kind of similar feature in Akka's build, where they identify what sources have changed and figure out what to compile (instead of compiling everything)

https://github.com/akka/akka/blob/master/project/ValidatePullRequest.scala