[2017-03-02 18:07] lutzh commented on #2976
Thanks @dwijnand that's an awesome pointer. I'll take that and strip out the github/PR specific parts and should have exactly what I was looking for. Maybe I'll get to it at the weekend.
Also an interesting data point as it indicates people other than me might actually find the "alsoMakeDependents" useful ;)

[2017-03-02 19:48] #2236 closed, assigned to nobody

[2017-03-03 11:01] jvican commented on #2985
The file where this is implemented is https://github.com/sbt/sbt/blob/0.13/compile/ivy/src/main/scala/sbt/compiler/ComponentCompiler.scala. sbt would fetch resolve the interfaces, get the sources of the bridge, instantiate a compiler from sbt's Scala instance and compile the sources.

What this ticket proposes is to add a task to `Defaults.scala` that will allow sbt to do this automatically. Possi

[2017-03-03 11:04] eed3si9n opened #2987 "Display warning when invoked in batch mode"
## steps

Someone runs `$ sbt compile` from the terminal.

## expectation

Display

[code]

## notes

It's been pointed out many times that batch mode is 1.3x ~ 2x slower because of Scalac JIT (and from sbt 0.13.13 classloader caching)
https://twitter.com/eed3si9n/status/837585213563801600

[2017-03-03 11:04] dwijnand opened #2988 "Rationalise and rename branches"
We should rationalise and rename our repo branches.

Current we have:

* sbt/sbt#0.13
* sbt/sbt#1.0.x
* sbt/zinc#1.0
* sbt/librarymanagement#1.0
* sbt/util#1.0

@eed3si9n do we need to just rename sbt/sbt's 1.0.x branch to 1.0?

On a very related note, when are we allowing binary breaking changes?

* 1.1, aka Scala SemVer, or
* 2.0, aka Semver / Java SemVer

And is the answer different between sbt

[2017-03-03 11:06] dwijnand commented on #2987
Duplicate of https://github.com/sbt/website/issues/319#issuecomment-277733591, but I'm happy to track this here now.

[2017-03-03 11:14] jvican commented on #2984
JVM will compile concrete paths of the compiler. Compiling a dummy Scala file is not sufficient to get the compiler hot. In fact, it may  evenintroduce a performance regression since the JVM will optimize concrete paths, and while compiling a completely different project those paths will change and, supposing that the C2 has done some work, most of it will be thrown away because JIT will deoptimiz

[2017-03-03 11:33] dwijnand commented on #2984
@jvican One really hard-core min-max idea that we had was to derive a good minimal source file, representative of the code paths in the compiler the real project used. To more accurately warm up the compiler.

I would put this one in the "experiment here, because there might be good wins in some cases" box.

That's being tracked as #2987. This derives from the same story from Rory, but it's distin

[2017-03-03 11:37] jvican commented on #2984
In my opinion, it's impossible to get such a source file for any Scala codebase. I would really not like that sbt does this warming up the compiler for me. Also, it takes way more than one compiler iteration to properly warm up Scalac.

I think my issue is that a build tool should not take care of this. I find it a very bad idea, it's unpredictable and when I type `compile`, I really mean "just co

[2017-03-03 12:48] dwijnand commented on #2984
My suggestion was an extreme extension to the original issue, which I mentioned because you were going into details about how a simple hello world wouldn't be sufficient. But let's discuss your feedback:

There's no restriction on iterations. If more than one provides better overall compile speeds then do more than one.

You're looking for scalac then.

 We ran 1 example and it _did_ improve overa

[2017-03-03 13:17] jvican commented on #2984
I think this is a bad idea for the reasons explained above. I'm repeating them:
* JIT will compile concrete paths. Those paths will get decompiled when other projects that differ from the seed Scala file get compiled by the same class loader, which is going to be very likely. Deoptimization takes time and this can slow down compile times.
* To get a really hot Scalac, you need more than one or two

[2017-03-03 13:40] DarkDimius commented on #2984
Depends what you mean here. You're oversimplifying by assuming there are two states: cold(interpreted) and hot(compiled). There's a lot more possible states which you could either start from or end up with.

A slightly less simplified model would be that there are several compilation levels: interpreted, C1(client compiler) and C2(server compiler). Both of compilers have some kind of budget for co

[2017-03-03 13:45] DarkDimius commented on #2984
Note that it only make sense to do if sbt is either idling or is willing to trade startup time.

[2017-03-03 14:18] jvican commented on #2984
Yeah, I'm definitely oversimplifying. The discussion about this ticket was that Scalac would be hot and that would be beneficial, so my points followed the same line of thought and level of abstraction. I didn't know what you do in Dotty, that's cool!

Exactly, but this proves my point. Compiling a hello world file right before doing `compile` is bad, because the time X for compiling Hello world a

[2017-03-03 15:55] dwijnand commented on #2984
Thank you kindly @DarkDimius for such an in-depth explanation. For comparison this was the "hello world" I was playing with:

[code]

(lol, just noticed it doesn't even print hello world)

@jvican

My shoddy little test would appear to indicate that that isn't true.

You know my position on this. It's absolutely a requirement for such a change, to me.

[2017-03-03 16:34] eed3si9n opened #2989 "Split dependency resolution into resolve and downloading (lock dependency)"
### steps

1. Run `update` task (or `compile` task that calls `update`) on a newly created project.

### expectation

1. `update` internally calls `resolveDependencies`.
2. `resolveDependencies` performs Ivy resolution and persists the resulting dependency graph into a JSON file under `src/sbt/resolveDependencies.json`. This file might contain:
  a. SHA-1 of the input `libraryDependencies`, and SH

[2017-03-03 17:25] eed3si9n commented on #2984
It takes 3s to compile Hello world. If the compiler is 1.3x ~ 2x faster, then most build would benefit from this preemptive warming. Dale already demonstrated that last night with Akka Actor - https://twitter.com/dwijnand/status/837613953719107584

[2017-03-04 00:39] dwijnand commented on #756
Migrated to https://github.com/sbt/zinc/issues/123.

[2017-03-04 00:39] #756 closed, assigned to nobody

[2017-03-04 09:41] eed3si9n commented on #2988
I think we should try to keep (mostly) bincompat during 1.x.y aka Java SemVer across all modules.

[2017-03-04 11:44] dwijnand commented on #2879
There is not-really-public, bit-of-a-pain API to do this right now. And in sbt 1 we can build a proper API in sbt/librarymanagement to provide this.

Good issue Olaf, thank you for opening it. I've seen this need.

[2017-03-04 12:13] dwijnand commented on #2988
1. Does it not make sense to rename all the branches 1.x then? (The alternative name "1" is too common to be useful)

2. What do you mean by "(mostly)" keep bincompat?

[2017-03-04 13:59] ruliana commented on #2536
Just for completeness, let me post another solution, as the one from @francisdb didn't work for me.

Run this at command line:
[code]
The issue seems to be this one https://github.com/docker-library/openjdk/issues/19 (at least for me).

It seem, as far as I understand, that this bug _can_ get back at JDK9 =/

[2017-03-04 23:14] dwijnand commented on #715
@jvican you might be interested in this

[2017-03-05 00:45] jvican commented on #715
Thanks for the ping, I think we're handling this now, but will double-check tomorrow.

[2017-03-05 16:50] eed3si9n commented on #2954
We use the combination of both. Ivy is used as the implementation but it tries to emulate Maven semantics via the `force=true`, and along the history of sbt library management we have been trying harder to get the emulation closer to the Maven semantics more and more.

In my opinion, the version range is a clear case that Ivy's implementation is broken. We can view dependency graph resolution to b

[2017-03-05 16:55] eed3si9n commented on #2809
I guess so.

[2017-03-05 16:55] #2809 closed, assigned to nobody

[2017-03-05 19:05] #2808 closed, assigned to dwijnand

[2017-03-05 20:40] alexarchambault commented on #2518
My [custom coursier-based launcher](https://github.com/alexarchambault/coursier/blob/master/csbt) allows just that: once everything's in cache, set ttl to infinity (`export COURSIER_TTL=Inf` should do), and enjoy an offline mode.

[2017-03-06 12:24] dwijnand commented on #2989
Please could you describe the issue with steps/problem/expectation?

Does it mean that the global lock file in the ivy cache it will only lock the cache when it's downloading and not when it's just resolving locally?

Or is this some project-local freeze/lock file equivalent? (e.g Gemfile.lock)

[2017-03-06 14:15] jvican opened #2994 "Consider making sbt less verbose"
Current sbt is extremely verbose. Messages could be improved to be:

* More concrete. Straight to the point.
* Shorter. This also includes removing unnecessary messages.
* Grouped by topic (perhaps with progress bars).

I'm going to illustrate my points with examples.

Very short extract of `publishLocal` in `sbt/sbt`:
[code]

To me, those error messages look unhygienic and clutter my screen. I ca

[2017-03-06 14:50] dwijnand commented on #2994
Ah, the "it's all spam" vs "I've no idea what it's doing" endless debate..

Personally I've become numb to the verbosity, but I would welcome changes that lowered their visibility (e.g they would only be visible in `last`).

I don't think we should outright remove the messages, or at least not without a strong argument as to why.

:+1:

[2017-03-06 14:57] eed3si9n commented on #2989
@dwijnand Updated the description. The latter, but there's some impact to Ivy locking as well.

[2017-03-06 15:00] jvican commented on #2994
Yes, I agree they should not be thrown away. I'd like to pass in a verbose flag, as I said in the previous message, or yust make them visible to `last`. I think this change will be very welcome from the community. After discussing with several people, I'm not the only one that thinks sbt should be less verbose.

[2017-03-06 23:43] dwijnand commented on #1566
This has needed more info for 2.5 years. And sbt-typelevel is dead anyways.

[2017-03-06 23:43] #1566 closed, assigned to nobody

[2017-03-06 23:58] dwijnand commented on #1855
TL;DR: We should update JLine. At least 2.14.3. The Scala Team has already.

Thanks @Araeos for the detail and cross-linking.

[2017-03-07 00:00] dwijnand commented on #1657
Isn't this fixed by `withSources()`? Closing optimistically...

[2017-03-07 00:00] #1657 closed, assigned to nobody

[2017-03-07 00:04] dwijnand commented on #1954
In terms of "SBT is silent on first run looking like it's broken", this has been mitigated somewhat by a small change in the messaging.

https://github.com/sbt/launcher/pull/27

[2017-03-07 00:04] #1954 closed, assigned to nobody

[2017-03-07 10:58] slouc opened #2995 "Sbt-bintray not publishing due to wrong settings (possibly plugin is not enabled, which should be by default)"
(See the guidelines for contributing, linked above)

## steps

I was trying to use [sbt-bintray](https://github.com/sbt/sbt-bintray) and I followed the instructions in the main readme:

- Added the following to project/plugins.sbt file: `addSbtPlugin("me.lessis" % "bintray-sbt" % "0.3.0")`
- Set up credentials correctly (username + API key)
- Added `bintrayOrganization := Some("my-organization")`

[2017-03-07 11:02] dwijnand commented on #2995
Hey @slouc. Sorry I meant create an issue in sbt/sbt-bintray.

This is duplicate of https://github.com/sbt/sbt-bintray/issues/58, which has been fixed in https://github.com/sbt/sbt-bintray/pull/70, but requires a release..

[2017-03-07 11:02] #2995 closed, assigned to nobody

[2017-03-07 11:05] slouc commented on #2995
Yeah it was weird for me too to publish to sbt itself, but I thought that's what you wanted :) Anyways, everything is working now for me, I just wanted to communicate to you guys that something is off for the future users. If it's fixed but not yet released, then great.

[2017-03-07 14:35] dwijnand commented on #754
`sbt new` is the exception to the rule.

[2017-03-07 14:38] dwijnand commented on #2668
So even though I've read and commented on this issue a number of times, I apparently did it without ever switching my brain off.

* #754 is about `project/build.properties`, and warning or creating it if it's absent.
* #2668 (this issue) is about warning if no `*.sbt` or `./project/*.scala` files are found

In my opinion, we should resolve #754, and doing so would satisfy the underlying use case h

[2017-03-07 14:38] #2668 closed, assigned to nobody

[2017-03-07 23:26] jvican opened #2997 "Add coursier to sbt under a flag"
The default ivy resolver in sbt is slow. Anyone that has started a sbt session in CI knows. The attempts that have been made to make it faster (for example, cached resolution in 0.13.7) still fall short. [Read this discussion for more details](https://github.com/sbt/sbt/issues/413).

Coursier is an sbt plugin that speeds up resolution times. [In one informal benchmark](https://github.com/sbt/sbt/p

[2017-03-08 00:32] fommil commented on #2997
There are not enough thumbs on my hands to give this all the :+1: it needs

[2017-03-08 07:53] dragos commented on #2997
Is there a summary of the differences between the two resolvers? You imply that coursier may give different results, so it'd be good to understand these differences and how the two algorithms are different.

[2017-03-08 08:48] DavidGregory084 commented on #2997
One thing I have noticed is that Coursier uses more memory than the default SBT resolver, so I hope that will be considered before it's proposed as the default resolver.

I haven't had much time to spend investigating this, but it reliably causes OOM on our Jenkins infrastructure where the default resolver does not (see also alexarchambault/coursier#399). Note this is for a large multi-module proj

[2017-03-08 10:11] jastice commented on #2997
Currently in the sbt integration of the IntelliJ Scala-Plugin, one of the biggest impacts on a smooth import experience is the ivy resolve times, as we need to run `update` to get all the transitive dependencies. I understand coursier reduces this problem quite a bit, and any change that cuts down on refresh times will be a big win for the user experience of plain sbt as well as in IDEA.

[2017-03-08 11:29] dwijnand commented on #2997
Hey @jvican thank you for taking the time to open and detail this issue, as well as bringing attention to it. It's definitely an important problem in sbt.

I'm all for this proposal. :+1:

---

Here are some notes about the topic:

Probably best to leave an opt-back flag, i.e to opt back to Ivy resolution.

Agreed. Do know that this is tricky because that logic is in sbt/launcher not in this repo.

[2017-03-08 11:35] fommil commented on #2997
*sigh* I really wish the sbt jar **was** the launcher (and a single jar at that), skipping step 0.

[2017-03-08 13:25] eed3si9n commented on #2997
See also related proposals:

- Split dependency resolution into resolve and downloading (lock dependency)  (https://github.com/sbt/sbt/issues/2989)
- Parallelize and cache download of Artifacts (https://github.com/sbt/sbt/issues/2982)

Also related that I would like to see in sbt 1.0, is HTTP client exposed to plugin authors as "Network API" (https://github.com/sbt/sbt/issues/2189). Gigahorse is m

[2017-03-08 13:38] jvican commented on #2997
This proposal concerns only 0.13.x. It would be great if you guys forward port the implementation to 1.0!

@eed3si9n Will you accept a PR to add a coursier-based resolution engine then?

[2017-03-08 13:50] alexandru commented on #2997
Just dropping a note to say that I've been using Coursier and resolving dependencies is way faster than the default resolver.

It can't replace the default right now of course, it's still young and might have problems, but @alexarchambault has been very responsive to issues.

[2017-03-08 13:53] dwijnand commented on #2997
We shouldn't use the flag `--fast-resolution` though. Fast is relative - it's a bad name choice. (See "NIO", "NIO.2" ...)

[2017-03-08 13:56] eed3si9n commented on #2997
What's the upside of including this in sbt 0.13 behind the flag tho? Coursier already fairly popular, and there's a plugin to include it optionally. Is the purpose to speed up the plugins (meta build) resolution?

As I've written in https://github.com/sbt/sbt/issues/2294, for sbt 1.0 we should aim to abstract out the commonality between the implementations that's free of Ivy as librarymanagement A

[2017-03-08 14:24] jvican commented on #2997
How fast resolution is can be measured objectively... though, and initial results show that Coursier is faster. That said, this is a small detail, I'm happy to reconsider the flag name, thanks for pointing it out!

Another alternative is to have `--resolution=coursier` or `--resolution=ivy`. Ivy resolution can be the default one for now.

Yes, the purposes are:

* Speed up sbt jars resolution for

[2017-03-08 14:35] eed3si9n commented on #2997
There's a PR that I'm working on (https://github.com/sbt/sbt/pull/2993) to include offline repository to sbt 0.13. If this goes through sbt will boot up in 10s the first time you run it.

[code]

[2017-03-08 14:40] cvogt commented on #2997
@jvican we've been using Coursier at @xdotai since summer or so. Very early on there was one problem that alex fixed within days. Since then it's been smooth. There is [a several second overhead (link)](https://cloud.githubusercontent.com/assets/274947/23707370/15726820-03e0-11e7-8aed-eb7b3b8ee45c.png) (nothing compared to ivy). Not sure if that's Coursier, the sbt plugin or sbt itself.

I persona

[2017-03-08 14:44] alexarchambault commented on #2997
@eed3si9n One would still have to download the content of the offline repo in a first time, isn't it? And what about bumping the version of sbt (that is, when running it with a new version in `project/build.properties`)?

[2017-03-08 14:44] alexarchambault commented on #2997
FYI, there was some discussion going on on the [Gitter of coursier](https://gitter.im/alexarchambault/coursier), about its custom sbt launcher in particular:
- the current master of coursier has a custom sbt launcher, with which all resolutions can be handled (checkout the [`demo-csbt` branch](https://github.com/alexarchambault/coursier/tree/demo-csbt) of coursier, optionally re-generate the launc

[2017-03-08 14:45] fommil commented on #2997
I am personally not at all interested in sbt as a middleware provider (e.g. exposing http client). If I want an I/O abstraction, I'll use whatever lib I want. I hope such "sbt as a library" plans are not introducing unnecessary complexity.

[2017-03-08 14:52] He-Pin commented on #2997
In fact I think could we delegate the downloading to external tools as `axel` or `aria2c`?This will be a nice addition.
https://github.com/sbt/sbt/issues/1802

[2017-03-08 14:57] eed3si9n commented on #2997
@alexarchambault That's correct. The user story I intend to address the getting started experience, and to address no-internet installation in training or locked-down setups.

[2017-03-08 14:59] eed3si9n commented on #2997
@fommil If you don't want it you don't have to use it. There are a lot of plugins that require simple downloading of files, and the current situation is that every plugin introduces competing/conflicting wrapper of Netty/AHC or some other things.

[2017-03-08 15:10] He-Pin commented on #2997
I have not really looked much into the code,but without a proxy or coursier enabled ,there will be a lone time sbt show nothing on the console when you run `sbt ` in a new project.

We could simply shows how many artifacts need to resolving and what's going on now.for the non metadata downloading ,some of them are big ,and you could not easily download it with single thread downloading,So I want w

[2017-03-08 15:10] fommil commented on #2997
@eed3si9n my point is that resolution speed is a huge issue, whereas I don't hear anybody saying "gosh, I just wish sbt had a builtin io/network/serialisation library I could use" and it sounds like the latter is introducing complexity for the former.

If sbt didn't have to resolve itself, I suspect that many of these issues disappear (because meta resolving becomes a much smaller issue, especiall

[2017-03-08 15:12] He-Pin commented on #2997
@fommil Yes,enough extension point,for extension,if could not done it right and fast just get done.

[2017-03-08 15:18] jvican commented on #2997
I'm glad somebody is finally working on this!

However, this doesn't weaken my point that the Scala community needs faster resolution times and  a Coursier resolver should be provided inside sbt and be pluggable. I don't see why we need to make sbt users pay the price of ivy resolution when there  are better alternatives.

@cvogt mentions another tool to resolve dependencies. What I propose allow

[2017-03-08 16:47] hedefalk commented on #2997
Coursier is yet to handle moved artifacts which ivy2 does:

https://github.com/alexarchambault/coursier/issues/404

[2017-03-08 17:27] fosskers commented on #2997
I recently had to unrecommend coursier to the team I work on, because it started either:

- Blowing the heap trying to resolve deps
- Throwing NPEs at startup time (or during resolution)
- Failing to resolve deps for the [GeoWave project](https://github.com/ngageoint/geowave)

We work on a [large, complexly configured Geospatial computation library (GeoTrellis)](https://github.com/locationtech/geo

[2017-03-08 17:32] eed3si9n commented on #2997
So maybe the middle ground is that we split resolution into two pieces. Dependency graph resolution and parallel caching/downloading. As I understand, the majority of the "win" from Coursier  comes from the latter part. Smart connection sharing of HTTPS and caching is something we can adopt relatively safely and turn it on by default.

[2017-03-08 17:33] jvican commented on #2997
These issues are bugs, so if you file an issue in coursier, we'll try to get them fixed (or you can contribute a fix).

Adding a coursier-based resolution in sbt will also help us debug coursier's behaviour and spot these issues, making Coursier work for your project too.

[2017-03-08 17:37] jvican commented on #2997
@eed3si9n Actually, it's quite the contrary: coursier resolution is the one that beats up ivy's, not download times. Here's the informal benchmark results I use to compare, extracted from [this PR](https://github.com/sbt/sbt/pull/2992) and linked in the description of this ticket:

[code]

As @olafurpg puts it:

Ivy spends 32 seconds to *only* resolve (+ 19 seconds to download), while Coursier res

[2017-03-08 18:14] non commented on #2997
My 2¢: I think `--resolver=coursier` and `--resolver=ivy` (currently the default) is an elegant way to take advantage of Coursier when possible, without breaking existing builds. Ideally as a user of SBT I won't have to do more than add a flag or configuration option to explore Coursier's potential.

[2017-03-08 18:20] fosskers commented on #2997
I think coursier should be the default, provided it's kinks can be worked out.

[2017-03-08 18:28] fommil commented on #2997
@fosskers I use ensime on one of the largest scala codebases in the world (2+ million lines of scala, in a monorepo). You can either [contribute](http://ensime.org/contributing/) (preferred) or [sponsor](http://ensime.org/sponsor/) if you would like things to improve for your team. Unlike sbt, ensime is not backed by a commercial organisation and has much less stakeholders and [we've only heard ab

[2017-03-08 18:36] fosskers commented on #2997
Hey @fommil , how's it going. I was actually referring to something I mentioned in your Gitter many months ago, which was a spontaneous loss of semantic highlighting along with my general frequent need to restart Ensime to restore usual usage (of `C-c C-c e`, etc). At the time I think you mentioned that Ensime has trouble resolving complex implicit usage, which GeoTrellis has in spades.

We can di

[2017-03-08 18:44] fommil commented on #2997
@fosskers +1 yeah let's relocate, although I don't have time to fix this myself (without a commercial reason) I can advise if you provide an example. Perhaps you could get involved with the proposed workaround, it's low on my list but almost done. Frankly, I could fix it with a couple of days.

[2017-03-08 18:46] cvogt commented on #2997
@eed3si9n I share @jvican's impression that resolution speed is the problem with ivy/sbt, not downloading speed. I am usually on reliable, high speed connections though, so this may depend on location.

[2017-03-08 18:59] eed3si9n commented on #2997
It really depends on the size of the graph and network latency etc, but for example I've asked @gakuzzzz to benchmark when he blogged about sbt-coursier, and for his project the first run and second run was:

- 1238s / 27s with Ivy
- 121s / 13s with sbt-coursier

https://gist.github.com/gakuzzzz/49b78acfe1401fd8047c7a0f0d981cfa

https://github.com/sbt/sbt/issues/2189 also explains how Ivy doesn't

[2017-03-09 07:10] Atry commented on #2814
A workaround:
[code]

[2017-03-09 07:29] fommil commented on #2814
Ha! Nice, I'll try that

[2017-03-09 08:17] g-dumas commented on #2997
++++++100000000

[2017-03-09 09:31] #2987 closed, assigned to dwijnand

[2017-03-09 11:52] BIPASHAPRAMANIK commented on #2067
when i downloaded sbt , with that openjdk automatically installed .
So, is there any way to install sbt without openjdk?

[2017-03-09 16:16] dragos opened #2998 "Test failures are hard to find"
## steps

Run test in a multi-project build. I take specs2 as example.

## problem

If one of the aggregate projects fails a test (but not the last one), I get something like the following output

[code]

Notice that all tests seem to pass (0 failures, 0 errors), but still there is a failure somewhere! That's probably many screens of output before.

## expectation

A recap of failed projects and t

[2017-03-09 16:35] dwijnand commented on #2998
I agree, this would be a wonderful improvement.

[2017-03-09 19:45] #2551 closed, assigned to nobody

[2017-03-09 19:46] #1911 closed, assigned to nobody

[2017-03-09 19:54] eed3si9n commented on #1855
This issue will now be expedited via the Lightbend subscription.

[2017-03-10 04:33] #2931 closed, assigned to nobody

[2017-03-10 05:15] jroper commented on #2199
I have been encountering this a lot in the past few days. It seems that per load of an sbt build, only the first execution of an update for any project in the build will trigger cache up to date checks and expiry for all projects in the build.  So, if I change a dependency, reload sbt, and then only run a task that depends on update on one project, that project will get correctly updated, but then

[2017-03-10 08:03] david-bouyssie commented on #1911
Thanks !

[2017-03-10 09:46] #2518 closed, assigned to eed3si9n

[2017-03-10 10:36] jvican opened #3000 "Update Copyright headers as Zinc"
License headers are not up-to-date. I propose to follow the same strategy as https://github.com/sbt/zinc/issues/222.

[2017-03-10 10:41] dwijnand commented on #3000
I noticed that this was also true in sbt/launcher.

[2017-03-10 11:17] #2867 closed, assigned to eed3si9n

[2017-03-10 13:32] #1404 closed, assigned to nobody

[2017-03-10 13:36] dwijnand commented on #2619
Please note that, thanks to the efforts by @jroper and @jrudolph, sbt-cross-building has received recent updates in preparation for sbt 1:

* https://github.com/jrudolph/sbt-cross-building/pull/34
* https://github.com/jrudolph/sbt-cross-building/pull/35

The issue on the sbt-cross-building side for 1.0 support is https://github.com/jrudolph/sbt-cross-building/issues/33

[2017-03-10 13:39] dwijnand commented on #2490
@jvican Ping again. Is this on your radar? Is there a ticket (or tickets) for this sbt/zinc side? Is this fixed or worth fixing for zinc 1.0?

[2017-03-10 13:46] jvican commented on #2490
It is super important. It's one of the first things in my Zinc list. You can close it, there's a related ticket in sbt/zinc.

[2017-03-10 13:52] dwijnand commented on #2490
I don't want to close it until/unless we can provide a forward link in sbt/zinc. Just for paper-trail reasons.

[2017-03-10 14:01] jvican commented on #2490
There's such a forward link, have a look 6 comments before this one.

[2017-03-10 14:08] dwijnand commented on #2503
`compile-internal` might already be this. I've seen it mentioned in the context of macros (mutli-project setup).

[2017-03-10 14:18] dwijnand commented on #2490
For clarity: https://github.com/sbt/zinc/issues/118 apparently

[2017-03-10 14:18] #2490 closed, assigned to nobody

[2017-03-10 14:49] fommil commented on #2518
@alexarchambault I'm not sure that helps with offline **installation** of sbt though, it's more like an offline mode? The original motivation for this ticket was "how to install sbt in a corporate environment that only allows for one file to get through a heavyweight internal packaging process". I'm not entirely sure if the ivy solution proposed here meets that criteria either.

[2017-03-10 15:11] alexarchambault commented on #2518
@fommil Agreed, the coursier-based launcher would still need the required JARs to be shipped in one way or another.

[2017-03-10 16:27] ekrich commented on #2963
Here is a stack over flow that may be helpful.
http://stackoverflow.com/questions/42258226/strange-problems-with-term-apple-terminal-on-macos-sierra-10-12-3/42258505

[2017-03-11 04:32] eed3si9n commented on #2812
Removing 0.13.4 milestone out of this.

[2017-03-11 08:19] dwijnand commented on #2960
https://github.com/sbt/sbt/pull/3002/commits/bf8e49edbd106036a82335a946db3771a15dfda6

[2017-03-11 08:19] #2960 closed, assigned to nobody

[2017-03-11 08:20] dwijnand commented on #2812
Shame. I've add it to (new) 0.13.15 then.

[2017-03-11 08:21] #1855 closed, assigned to eed3si9n

[2017-03-11 08:21] #2818 closed, assigned to dwijnand

[2017-03-11 22:34] eed3si9n opened #3004 "[0.13.14] false positive "Executing in batch mode""
## steps

Run new sbt 0.13.14-RC1.

[code]

## problem

[code]

## expectation

It doesn't say I'm running in batch mode when it's not.

/cc @dwijnand

[2017-03-11 23:46] ScalaWilliam opened #3005 "[0.13.14-RC1] Initialization exception on OpenJDK 9 (Docker)"
## steps
With Docker, run:

[code]

## problem

Output is the following:
[code]

## expectation

No initial exception, like when I run the same command on the OpenJDK 8 image:

[code]

[2017-03-12 00:54] eed3si9n commented on #3005
Thanks for trying RC-1 and reporting the bug!

[2017-03-12 02:01] dwijnand commented on #3004
[code]

Looks like sbt/sbt-launcher-package doesn't invoke sbt with the `shell` command. That's why it thinks it's in "batch mode". I need to tweak the logic. Thanks for the report.

[2017-03-13 01:20] jkleckner commented on #1962
FWIW, we are seeing progressive slowdowns in Jenkins build steps with crossScalaVersions.  That build system is still using spinning disks so I wonder if this is somewhat masked by using SSD disks.

[2017-03-13 02:29] Blaisorblade opened #3006 "Global scalaVersion/sbtVersion settings confuse SBT"
Saw mention of this but I haven't double-checked—@Dris101 reported in 2016 that setting `scalaVersion := "2.11"` in `~/.sbt/0.13/global.sbt` confuses SBT into looking for 2.11 versions of plugins.

Assuming this is confirmed, I'd guess the user expected SBT to default to Scala 2.11 for *projects*, not plugins; a more appropriate behavior (if possible somehow) could arguably be an error, since such

[2017-03-13 02:31] Blaisorblade opened #3007 "Add plugin troubleshooting FAQ to docs"
When users have problems with plugins there are some generic support steps — disable other plugins first, check you're loading stuff in the right files, test plugin interactions...

One place where I looked at, and where this should be linked, is http://www.scala-sbt.org/0.13/docs/Using-Plugins.html, but more exist.

For instance, dependency conflicts between some plugin versions are possible so "

[2017-03-13 07:32] stephennancekivell commented on #2989
If I understand you correctly, are you suggesting sbt creates a new file `src/sbt/resolveDependencies.json` as a cache of the dependency resolution.

I like the idea, but couldnt this be put under 'target/' somewhere and hidden from the user. I dont know if devs want another thing to worry about.

If the goal is to improve startup times for one developer. Putting it in `target` hidden from source

[2017-03-13 08:58] ajitspendse commented on #2150
Changing URI from file:// to file:/// seems to have resolved this issue for me.

[2017-03-13 09:07] eed3si9n commented on #2989
The goal is both for performance improvement and consistency across multiple users.

If the list of resolvers do not match up, sbt or the user can rerun `resolveDependencies`.

[2017-03-13 09:15] stephennancekivell commented on #2989
Good point, thanks.

[2017-03-13 17:38] dwijnand opened #3009 "Consider releasing sbt 1+ cross-built"
.. which means even the plugins are cross-built.

This would mean that when we ship sbt 1.0.0 on Scala 2.12.x, when 2.13 comes out we can:

* release sbt cross-built to 2.13, and
* plugin authors can release cross-built to 2.13

(and again for 2.14, etc)

There are pros and cons to this decision.

@olafurpg has spoken about this. Here's he and @sjrd discussing the topic:

https://www.reddit.com/r/

[2017-03-13 17:42] eed3si9n commented on #3009
Due to (commercial) maintenance, bincompat, I think we should promise *less*, not more -
https://www.slideshare.net/EugeneYokota/the-state-of-sbt-013-sbt-server-and-sbt-10-scalasphere-ver#31

[2017-03-13 17:48] olafurpg commented on #3009
To clarify my reddit comments, I would be delighted to get sbt 0.14/1.0 on 2.12 alone (no cross-building). My only wish is to be able to write sbt plugins using a modern Scala version sometime in the near future (~2017).

[2017-03-14 09:27] larsrh opened #3010 "Package.makeJar deletes folder recursively"
## steps

Call [`Package.makeJar`](https://github.com/sbt/sbt/blob/v0.13.13/main/actions/src/main/scala/sbt/Package.scala#L93-L99) with `jar` set to an existing _folder_.

Exhibited in a plugin (sbt/sbt-assembly#216), but can probably also be exhibited by setting the a path for `packageBin`, ... which is a directory.

## problem

Here's the relevant code:

[code]

The code assumes that `jar` is a

[2017-03-14 10:01] DavidPerezIngeniero commented on #2954
What about Coursier?
https://github.com/alexarchambault/coursier

[2017-03-14 10:15] mr-git opened #3011 "NumberFormatException"
Create project:
[code]

And second project:
[code]

run `sbt publishLocal` for first one and `sbt update` for second one.

Observe exception:
[code]
## expectation
Expectation is that there is no such exception

## notes
The problem is not there in case the `addSbtPlugin("io.get-coursier" % "sbt-coursier" % "1.0.0-M15-1")` is used globally.
Also, problem goes away, if last part in `1.2017031409384

[2017-03-14 11:12] DavidPerezIngeniero commented on #2953
I've tested the new SBT 0.13.14-RC1 and it has more problems that version 0.13.11!!!!!

[2017-03-14 11:13] DavidPerezIngeniero commented on #2954
Tried SBT version 0.13.14-RC1, and it works worse for problem #2953

[2017-03-14 11:21] DavidPerezIngeniero commented on #2953
I expected #2954 to improve the behavior.

[2017-03-14 14:00] smarter opened #3012 "[0.13.14-RC1] com.typesafe.sbt:sbt-interface:0.13.14-RC1 is not published"
I tried upgrading the dotty build to 0.13.14-RC1 and got:
[code]

[2017-03-14 14:04] smarter commented on #3012
Note that I could use "org.scala-sbt" % "interface" % sbtVersion.value but this was intentionally changed a while ago: https://github.com/lampepfl/dotty/pull/1324

[2017-03-14 14:55] eed3si9n commented on #3010
Thanks for the detailed report. Do you mind sending in a PR?, otherwise I'll fix it myself.

[2017-03-14 15:10] larsrh commented on #3010
I can send a PR, if you tell me for which branch :smile:

[2017-03-14 15:11] eed3si9n commented on #3010
https://github.com/sbt/sbt/tree/0.13.14 please

[2017-03-14 15:24] smarter opened #3013 "ScriptedPlugin: Add support for paginated tests (scripted foo/*1of3)"
This is another issue like https://github.com/sbt/sbt/issues/2601 where `ScriptedPlugin` is less powerful than the internal `Scripted` used by sbt, which supports paginated tests which are very useful when running on a CI: https://github.com/sbt/sbt/commit/5d5d7a6c0551beaeefffce61638ac0c8c29e57ec

[2017-03-14 15:47] eed3si9n commented on #3013
sure. Would you like to send in a PR?

[2017-03-14 15:47] smarter commented on #3013
On my way!

[2017-03-14 18:17] eed3si9n commented on #3011
*This issue will be expedited via the Lightbend subscription.*

[2017-03-14 21:03] nafg commented on #2989
Wouldn't a more natural location be under `project/`, alongside `build.properties`?

[2017-03-14 21:48] eed3si9n commented on #2989
@nafg I think of `project/` as a space for metabuild, or something that affects the metabuild.
If not `src/sbt`, the only logical place would be the root directory along side `build.sbt`. Also note there might be multiple of these files per subproject.

[2017-03-14 22:02] nafg commented on #2989
@eed3si9n that's refuted by `build.properties` and `*.scala` in `project/`

[2017-03-14 22:04] eed3si9n commented on #2989
How so? `project/Foo.scala` is a source code of the root project of the metabuild.
`project/build.properties` affects the library dependency of the metabuild, which is the sbt itself's version.

[2017-03-14 22:14] nafg commented on #2989
Ok I misunderstood what you mean by meta build, I thought you meant like `project/*.sbt`. I guess you would call that the meta-meta-build, and "build" would be `./*.scala` (and `src/main/scala` ...)?

Anyway if that's what you meant then I don't see the problem with putting it there?

Put another way, the [meta] build has a few input files, including `./*.sbt`, `project/*.scala`, and `project/depe

[2017-03-14 22:19] eed3si9n commented on #2989
Consider a (proper) build that exists on the `~/hello/`, and is a set of subprojects `root`, `app`, and `library`. If we say the lock files go to the `project/` then what would each be called? Also suppose `~/hello/project/` contains `plugin.sbt` pointing to sbt-assembly. Where would the lock file go for the plugin resolution (i.e. library resolution for metabuild)?

[2017-03-14 22:58] nafg commented on #2989
Why not look at the whole build (all subprojects) together? For instance what if two subprojects both have a dependency, and one depends on the other -- the dependency in one can evict the dependency in the other. Or does that not fit with the way resolution works?

As for the meta build, why not do what is already done and use `project/project`?

`src/sbt` just seems very ad-hoc. Does anything el

[2017-03-15 03:18] xuwei-k commented on #2982
https://github.com/sbt/sbt/issues/590

[2017-03-15 06:35] #3010 closed, assigned to eed3si9n

[2017-03-15 08:26] liupu1106 commented on #2836
when I run sbt, get below error, how to config right repo?

# sbt
Getting org.scala-sbt sbt 0.13.13 ...
You probably access the destination server through a proxy server that is not well configured.
You probably access the destination server through a proxy server that is not well configured.
You probably access the destination server through a proxy server that is not well configured.
You probabl

[2017-03-15 10:14] dwijnand opened #3018 "packageBin shouldn't package stale class files"
See https://github.com/rickynils/scalacheck/issues/318 for the user-land result..

[2017-03-15 10:27] #3013 closed, assigned to eed3si9n

[2017-03-15 10:43] dwijnand commented on #2982
You're right @xuwei-k. Duplicate of #590. I've labelled that one like this one was labelled.

[2017-03-15 10:43] #2982 closed, assigned to nobody

[2017-03-15 14:59] eed3si9n commented on #3018
@dwijnand, @rickynils, or @xuwei-k could one of you describe the repro steps?
I see that ScalaCheck 1.13.4 and ScalaCheck 1.12.6 got released simultaneously. So can I reproduce this by:

[code]

or was it something like:

[code]

If so the question is, if the file in question have later timestamp than in 1.12.6?
https://github.com/rickynils/scalacheck/commit/259607f788ce9d32ff86515ab1648797284b94d

[2017-03-15 20:34] jvican opened #3021 "Consider using -J-XX:CICompilerCount=2"
By default, JVM interpreter runs with one thread while compiler (C2) does with two. Adding `CICompilerCount` to two tells the JVM to use two threads for interpreter.

In my experience, this flag has a positive impact on sbt startup time (for example, it goes down from ~9 seconds to ~7.5 in the scala/scala repository). I'm using Oracle JDK8.

This flag will not affect behaviour of sbt when it's hot

[2017-03-15 22:40] jakajancar commented on #2202
@duboisf So now that we are also moving development (not just test/prod) to a read-only source tree, this is even a bigger problem:

Changes to source files are not detected unless you manually delete staging before every compile.

[2017-03-15 22:51] smarter commented on #3021
For me the default settings are:
[code]
So using 2 would be a reduction in the number of threads.

Furthermore, you say this is used for the interpreter, but [the official documentation](https://docs.oracle.com/javase/8/docs/technotes/tools/windows/java.html) says:

[2017-03-15 22:59] cwei-bgl opened #3022 "Deadlock when sbt test in parallel"
Hi,

I am using sbt and ScalaTest and deadlock happened quite frequently when I ran the tests in parallel.

My sbt version:
0.13.13

The following is the thread dump:

[code]

Thanks, Cheng

[2017-03-15 23:01] hseeberger commented on #2879
+1

[2017-03-15 23:15] dwijnand commented on #3021
Fine for me.

How? In the launcher scripts? Correct me, but aren't -XX flags non-standard, and probably HotSpot (aka Oracle Java) only? I'm quite the noob here.

[2017-03-15 23:17] dwijnand commented on #3021
oh, my output is the same as @smarter's, on 25.112-b16 for macOS.

[2017-03-15 23:19] eed3si9n commented on #3021
On Mac, using Oracle JDK 8.

[code]

[2017-03-15 23:35] dwijnand commented on #3012
Ugh. At a guess I would say "com.typesafe.sbt:sbt-interface" is a typesafehub/zinc artefact?

[2017-03-16 12:13] ghik commented on #2156
@dwijnand not in my case - we're not using this plugin

[2017-03-16 13:39] metasim opened #3023 "NPE in GenASM"
(See the guidelines for contributing, linked above)

## steps

I'm contributing to a pretty complex multi-project build with some admittedly undesirable constructs involving shared test code. That said, the build definition is valid, yet causes an NPE in the incremental compiler call stack.

This specific project commit triggers the bug:

https://github.com/metasim/geotrellis/tree/00b6f7d06cfe91c6

[2017-03-16 13:41] metasim commented on #3023
cc: @lossyrob @pomadchin @echeipesh

[2017-03-16 14:20] dwijnand commented on #754
Ok, so to mitigate accidental file creation we can use sbt-extras' algorithm: the presence of a .sbt file at the root or a 'project' directory at the root.

[2017-03-16 14:20] dwijnand commented on #754
Silently create the file.

[2017-03-16 15:00] dwijnand opened #3024 "Handle default types when serialising query setting values"
Currently we just toString. Handle default types, like Int, List, Map, LM types, etc.

[2017-03-16 16:32] dwijnand commented on #754
If there's no sbt.version, no *.sbt file and no project directory, e.g you accidentally started sbt in /tmp, warn and continue, in both 0.13 and 1.0.

[2017-03-16 19:39] MasseGuillaume opened #3026 "use scmInfo when publishing ivy"
## steps

set scmInfo
publish a sbt-plugin

## problem

repository field is empty
http://ant.apache.org/ivy/history/latest-milestone/ivyfile/repository.html

## expectation

scmInfo is not used

## notes

this field is important for scaladex to work. We had to manually tag more than 400 plugins.

[2017-03-16 19:43] MasseGuillaume opened #3027 "make scmInfo a required field for open source projects"
## steps

publish an open source project without scmInfo

## problem

its hard to find the source

## expectation

every open source project must have a scmInfo tag

## notes

scaladex has to keep track of the lost & found: https://github.com/scalacenter/scaladex-contrib/blob/master/claims.json

[2017-03-16 20:01] eed3si9n commented on #3027
I don't know if a build tool should enforce these kinds of rules. How would I know if something is OSS and if something is even published publicly. If it's mostly for sbt plugins, would it make sense to enforce this at sbt-bintray instead?

[2017-03-16 20:10] MasseGuillaume commented on #3027
I think the build tool should guide the user. It's true that in this case it's mostly Bintray not enforcing VCS tags. Sonatype does the validation manually.

[2017-03-16 20:12] MasseGuillaume commented on #3027
`openSource := true`

Should be set by default since the publish task publish source by default.

[2017-03-16 20:16] eed3si9n commented on #3027
`publishTo` could point to a corporate repository that has nothing to do with open source, which is a licensing matter.

[2017-03-16 20:19] MasseGuillaume commented on #3027
good point :)

[2017-03-16 21:53] dwijnand commented on #3027
Given sbt is OSS (BSD 3 clause) I'm happy to make it opinionated that the software it builds is OSS by default. And there would be an obvious way to opt-out of that (`:= None` or `:= false` or similarly simple).

[2017-03-16 21:56] eed3si9n commented on #3027
Why solve it at this layer if Sonatype already checks for this, and we can tackle it at sbt-bintray?

[2017-03-16 22:13] dwijnand commented on #3027
I'm thinking perhaps it would be good to fail early, at the core. Instead of the status quo where we fail after having delivered incomplete metadata.

[2017-03-16 22:15] eed3si9n commented on #3027
Not sure what you mean. If we implemented it, we'd put check on deliver task or something like that, right? How would that be any different in a plugin?

[2017-03-16 22:22] cunei commented on #3027
As one of my professors used to say, correctness is strictly a function of the specification. One might want to build an scmInfo-less project in order to test whether a certain repository system handles it correctly, for instance, or for all sorts of debugging or development reasons.
If I want to build a project without scmInfo, the build tool must be there to build what I ask for, not to impose r

[2017-03-16 23:57] inkytonik commented on #2156
@dwijnand same here. We're seeing the issue but are not using sbt-buildinfo in the relevant project.

[2017-03-17 09:47] #754 closed, assigned to dwijnand

[2017-03-17 10:04] #3004 closed, assigned to dwijnand

[2017-03-17 11:39] thisismana opened #3028 "Provide useful information, when $HOME ist not writeable"
## steps
We where trying to move our sbt build into a "dockerized" environment using a standard apline java image with only bash added:

[code]

## problem
This happened when sbt was trying to create the sbt lock file but failed because `$HOME` was not writeable.
The exception did mention what actually failed:

[code]

## expectation

Checking pre-conditions as `$HOME`/`SBT_HOME` is writeable and

[2017-03-17 11:47] dwijnand commented on #3028
Duplicate of #2498, imo.

[2017-03-17 11:47] #3028 closed, assigned to nobody

[2017-03-17 13:51] marsxu1984 opened #3029 "puzzle in sbt 1.0.0-m4"
I want to updated my all sbt plugins into 1.0.x, some I did some test/try works.
example code from:
http://www.scala-sbt.org/1.0/docs/Plugins.html

## steps

[code]
## problem

[info] Packaging C:\Users\marsx\projects\zagara\tools\spawn_larvae\target\scala-2.11\sbt-1.0.0-M4\spawn_larvae-0.0.1-sources.jar ...
[info] Done packaging.
[info] Wrote C:\Users\marsx\projects\zagara\tools\spawn_larvae\targ

[2017-03-17 14:19] smarter commented on #3012
According to https://github.com/coursier/coursier/issues/284 which I just dug up, we should be able to use org.scala-sbt:interface with coursier if we just fix how we set up our resolvers in our build, so this isn't actually a big deal for us.

[2017-03-17 14:40] dwijnand commented on #3029
Looks like you're using `InConfig` instead of `inConfig`.

Also I believe in M4 we still had some things moved to a sbt.Import object. Those are back on the sbt package object now.

We'll release a more up to date prerelease of sbt 1 soon.

[2017-03-17 15:11] marsxu1984 commented on #3029
inConfig also compile error, I see doc 1.0, say taskKey and settingKey, but also fail. So I change into TaskKey and SettingKey, it works. But inConfig did not.

[2017-03-17 16:40] eed3si9n opened #3030 "read-only def projects: Seq[Project] or scopefilter available in build.sbt"
## steps

1. Migrate from Build.scala

## problem

There's no way to aggregate all projects automatically.

## expectation

Either read-only def projects or let me use ScopeFilter.

[2017-03-17 17:44] dwijnand commented on #3029
Don't read the 1.0 docs :)

taskKey and settingKey are different to TaskKey and SettingKey. I think you're missing `import sbt.Import._` for M4.

But what you really need is to wait a second while we get you a real prerelease that you can test against and open issues about.

Therefore, I'll close this, but I'll come back and let you know when that happens.

Thank you for working on us by trying ou

[2017-03-17 17:44] #3029 closed, assigned to nobody

[2017-03-17 17:56] dwijnand commented on #3030
Cross-linking: @Duhemm tried to implement this in #2183.

[2017-03-17 19:43] monktastic commented on #2787
Fixed :)

[2017-03-17 19:44] eed3si9n commented on #2787
Closing this thanks to https://github.com/sbt/sbt-launcher-package/pull/146

[2017-03-17 19:44] #2787 closed, assigned to nobody

[2017-03-17 22:54] UnsungHero97 commented on #1528
Closing, as this is not something I'm working on anymore.

[2017-03-17 22:54] #1528 closed, assigned to nobody

[2017-03-18 01:00] jatcwang commented on #2787
Sweet thanks!

[2017-03-19 07:58] ScalaWilliam commented on #2939
:+1:

[2017-03-19 10:43] ocramz commented on #1791
What's the progress on this issue? It would vastly improve the developer experience (i.e. critical build errors are buried within these useless messages)

[2017-03-19 10:49] ocramz commented on #1791
@axel22 I found `ivyLoggingLevel := UpdateLogging.Quiet` in build.sbt to suppress all the `[info] Resolving ..` messages

[2017-03-20 10:44] jcranky commented on #1444
This fix is not available on 0.13.x yet, right?

[2017-03-20 11:21] dwijnand commented on #1444
It's available in 0.13.14-RC1.

[2017-03-20 12:05] jcranky commented on #1444
thanks, worked fine with that version :)

[2017-03-22 08:46] ktoso opened #3036 "Support JDK9 JEP 238: Multi-Release JAR Files"
We're looking to adopt JDK9 rather early in order to provide Akka users additional performance by using the new fences and var handle APIs etc.

In order to manage that as a clean transition and not complete fork of Akka we'll need Multi-Release JARs that are coming in in JDK9: http://openjdk.java.net/jeps/238

It is rather simple AFAICS and boils down to putting classes under META-INF if they are

[2017-03-22 09:13] dwijnand commented on #3036
Being a JDK thing we'd definitely be interested in making sure it's supported, or at the very least sbt isn't an impediment to it.

Whether or not to build it into sbt or have it as a plugin depends on, from your assessment, whether you see Multi-Release JARs as (a) general purpose or (b) a niche concern.

If it's niche we'd still be interested in the necessary changes to provide hooks for such an

[2017-03-22 09:20] ktoso commented on #3036
Ok that makes sense. Could you point me to where the thing is implemented
for multiple scala versions, because that's built in nowadays right?

The thing that i can say 2.12 and those sources only are used in 2.12.

On Mar 22, 2017 11:13 AM, "Dale Wijnand" <notifications@github.com> wrote:

[2017-03-22 09:33] ktoso commented on #3036
Hmm... I guess actually it may relate more to the packaging plugin and not sbt itself hm WDYT @eed3si9n ?

[2017-03-22 09:43] dwijnand commented on #3036
https://github.com/sbt/sbt/pull/1799

[2017-03-22 09:43] dwijnand commented on #3036
.. and there @eed3si9n points to `crossPaths` and `crossTarget`. That should start pointing you to the right places.

[2017-03-22 09:44] ktoso commented on #3036
Ok thanks, will poke around it on airports then 👍

[2017-03-23 13:36] dwijnand opened #3037 "Fix StateOps#fail"
StateOps#fail contains

[code]

but `State#remainingCommands` are `Exec`s, so they'll never be be `FailureWall` or `CompatFailureWall`, which are strings.

[2017-03-23 13:37] zoosky commented on #1605
Same question as @fatlazycat
sbt 0.13.13 seems to ignore nonProxyHosts settings in Windows and Linux and the `no_proxy` enviornment variable.

How do you work with a local nexus repository in  an enterprise setting? Any suggestions?

[2017-03-23 18:59] jastice opened #3038 "scalaVersion incongruencies"
`scalaVersion` and `scalaBinaryVersion` settings are not the same in different configurations

## steps

Create a project with a single setting:

    scalaVersion := "2.12.1"

## problem

[code]

## expectation

[code]

## notes

`test:scalaBinaryVersion` seems to be derived from `*/*:scalaVersion` which is not changed by the version in build.sbt. Really wonder how it still ends up with the correc

[2017-03-23 19:04] dwijnand commented on #3038
Very strange. Some more digging:

[code]

[2017-03-23 20:00] jastice commented on #3038
This bug appears only in sbt 0.13.12+
More fallout @milessabin ? :)

[2017-03-24 07:26] Atry commented on #2532
Is there a corresponding `DslEntry` for `extraProjects` method?

[2017-03-24 07:28] Atry commented on #2532
`aggregate` and `dependsOn` is similar, however they always error for inline projects:

[code]

[code]

[2017-03-24 08:45] salimfadhley opened #3039 "~ in sbt.boot.credentials is not correctly understood by SBT bootstrapper"
I'm trying to boot a new installation of SBT behind a password protected corporate firewall. I noticed an oddity which may be a bug or just an undocumented feature:

This works just fine:

`java -jar sbt-launch.jar -Dsbt.boot.credentials=/home/<username>/.sbt/.credentials -Dsbt.override.build.repos=true`

But this does not work:

`java -jar sbt-launch.jar -Dsbt.boot.credentials=~/.sbt/.credentials

[2017-03-24 14:43] eed3si9n opened #3040 "intermittent Appender Relay0 scala.MatchError"
## steps

This was observed on Travis CI https://travis-ci.org/sbt/sbt/jobs/214530066

[code]

## problem

[code]

### note

It works on my machine when I run the test alone.

[2017-03-24 19:15] aklosslp commented on #3022
Me too.  :(
[code]

[2017-03-25 10:34] sjrd opened #3042 "Support for: lazy val foo = someCompositeProject (e.g., CrossProject)"
## Problem

When defining a cross-compiling Scala/JVM + Scala.js project, one needs to use the following pattern:
[code]
When we initially designed `CrossProject`, we were hoping we would be able to do something like:
[code]
but this cannot work because of #2290.
Now, with Scala Native coming along too, together with [a new, generic `CrossProject`](https://github.com/scala-native/sbt-crossproject)

[2017-03-25 11:36] dwijnand commented on #3042
Perhaps, similar to Setting/SettingDefinition, such an interface can be a parent of Project, where it would return `this :: Nil`. So `ProjectDefinition`, maybe.

[2017-03-25 11:50] sjrd commented on #3042
sbt seems to already have a [`ProjectDefinition`](https://github.com/sbt/sbt/blob/317085a458ca2caceaa2e40913a2e367cf75d76d/main/src/main/scala/sbt/Project.scala#L23), although I have no idea what abstraction it provides.

[2017-03-25 13:15] dwijnand commented on #3042
I'm not surprised. There's also a ProjectDef if memory serves..

[2017-03-25 20:18] jvican commented on #3026
Yes, please. ScmInfo should be used...

[2017-03-25 20:19] jvican commented on #3038
I believe that today I actually stumbled upon this in a personal project.

[2017-03-25 20:21] jvican commented on #3027
I think this should not be required, and I would propose to close it. We already have too many open issues in sbt :smile:.

[2017-03-25 20:21] jvican commented on #3021
Good point, this is pretty weird. I'll look into it.

[2017-03-25 20:22] eed3si9n commented on #3027
closing.

[2017-03-25 20:22] #3027 closed, assigned to nobody

[2017-03-25 20:25] MasseGuillaume commented on #3027
Why are we closing this issue? It's a real problem and this is backing it https://github.com/scalacenter/scaladex-contrib/blob/master/claims.json

I spent more than 40 hours finding those repo. Can we reopen? Maybe with another name in the description?

[2017-03-25 20:28] jvican commented on #2994
Another thing I'd like to propose to current maintainers: drop logs like "Done X". I think that it should be implicit the fact that a task has finished when another task starts. Example:

[code]

We should just remove the "Done" sentences since they don't bring anything to the table and make sbt output larger than it should, IMO.

[2017-03-25 20:31] jvican commented on #3036
I think this would be great @ktoso. Glad to hear you're working on it.

[2017-03-25 20:59] jvican commented on #3027
I'm sorry @MasseGuillaume, I didn't intend to stand in your way. The reason I proposed to close is because the title of the issue suggests to make scmInfo mandatory for all sbt builds which is clearly not possible for the aforementioned reasons.

I don't doubt there's a real motivation behind this issue. Perhaps we can open a new issue proposing an alternative solution to it?

[2017-03-26 12:19] jvican commented on #3039
Thanks for reporting @salimfadhley! I think this is a bug, `~` should be expanded. This should be pretty easy to fix, would you like to give it a try? :wink: Happy to help in anything you need.

@eed3si9n I'm curious, do you know if this happens to all the sbt options passed through Java properties? Or is this an exception?

[2017-03-26 12:27] jvican commented on #3023
@metasim Honestly, I have no idea what's the culprit in that commit, but it seems that you have circular dependencies and this is exposing a bug in scalac codegen. In general, circular dependencies are not okay and I would suggest you refactor the test suite in another way that doesn't trigger that error.

In any case, this cannot be fixed in sbt so I suggest that we close this issue. If you're in

[2017-03-26 13:06] dwijnand commented on #3039
I wouldn't be surprised if `~` didn't work in most places. I feel into a similar trap, when dealing with file paths in Rust, assuming that `~` was a universal alias for the current user's home dir.

[2017-03-26 15:13] cvogt commented on #2255
I just verified it. The Scala compiler supports this. To try, I split scalahost into 2 jars and provided them like this:
[code]

[2017-03-26 15:15] cvogt commented on #2255
So as long as sbt provides the entire classpath for the plugin (excluding the compiler itself I suppose) to the `-Xplugin` call, it should work.

[2017-03-26 15:47] jvican commented on #3039
Hmmm, interesting.

I would propose to add the `bug` | `feature` label in this issue. Lots of tools recognise `~` and I feel that sbt should. Most people when writing scripts make an extensive use of it and the current behaviour is non-intuitive.

[2017-03-26 18:37] dwijnand commented on #2255
Cool, thanks Chris. So it's just sbt that needs to be changed to support this.

[2017-03-26 18:37] eed3si9n commented on #2989
Updated expectation and added steps 3 and expectation 3 based on discussion with @jvican:

### steps 3

1. Bob adds `commons-io` 1.0 to `libraryDependencies`.
2. Bob reloads the build.
3. Bob runs `compile`.

### expectation 3

7. `compile` internally calls `update`, which internally calls `resolveDependencies`.
8. Detecting the change in `libraryDependencies`, which changes the SHA-1 of all libra

[2017-03-26 22:29] metasim commented on #3023
@jvican Thanks so much for taking a look. This might just push us further to do the inevitable and refactor out the circular dependencies. I appreciate you taking the time to offer your thoughts.

[2017-03-26 22:29] #3023 closed, assigned to nobody

[2017-03-27 13:41] jvican opened #3046 "Parse sbt files before loading sbt universe"
Sometimes, users have invalid code in their sbt files and get parser errors.

For them to find out, they have to go through a slow reload/start period where the whole sbt universe is loaded.

However, there's no fundamental reason why sbt is not capable of parsing **before** loading everything, so that syntactic errors are catched as soon as possible.

This will speed up sbt behaviour when people

[2017-03-27 13:41] dwijnand commented on #2617
Given this comment in `Load.loadTransitive`:

https://github.com/sbt/sbt/blob/v1.0.0-M4/main/src/main/scala/sbt/internal/Load.scala#L524

Maybe we should just remove it.

@eed3si9n are you happy to go with that decision?

[2017-03-27 13:45] dwijnand commented on #3046
What do you mean by "before loading everything"?

[2017-03-27 13:48] #2612 closed, assigned to nobody

[2017-03-27 13:48] jvican commented on #3046
More explicitly, I'm proposing to parse sbt files before resolving, parsing and loading global and local sbt plugins, which takes time.

[2017-03-27 13:49] dwijnand commented on #2805
Pushing to 1.1.0

[2017-03-27 13:49] dwijnand commented on #2804
@eed3si9n Is this done now?

[2017-03-27 13:52] #2802 closed, assigned to nobody

[2017-03-27 13:53] dwijnand commented on #2799
Pushing to 1.1.0. (miss-clicked close)

[2017-03-27 13:58] dwijnand commented on #1104
Being tracked as https://github.com/sbt/zinc/milestone/1.

[2017-03-27 13:58] #1104 closed, assigned to nobody

[2017-03-27 14:38] ekrich commented on #3009
I think it is perfectly fine to have a set version like sbt 1.0 series, Scala 2.12, Java 8 and if Java 9 doesn't break things then add that support. When Scala 2.13 comes out then have a new sbt series. The current 0.13 series with 2.10 plugins can just slowly go away. If commercial support dictates 0.13 until End Of Life (EOL) then only fix bugs or back port things that make sense. You should sup

[2017-03-27 17:09] janekdb opened #3047 "sbt fails to install when following 1.0 instructions"
(See the guidelines for contributing, linked above)

## steps

Follow instructions to install SBT on http://www.scala-sbt.org/1.0/docs/Installing-sbt-on-Linux.html

## problem

`Unable to locate package sbt`

## expectation

SBT would be installed

## notes

This is the full transcript,

[code]

[2017-03-27 17:13] shyamraj242 opened #3048 "Reg:- Sbt compiler issue"
(See the guidelines for contributing, linked above)

## steps
We have installed sbt compiler successfully.

## problem
1) I have installed sbt compiler successfully. When I am going to next step that is running **sbt compile** command it is downloading all the jar files and creating directories of **.ivy2** and **.sbt.**
2) We have created our own repositories in our maven central.
3) I have repla

[2017-03-27 17:51] eed3si9n commented on #3022
Please read https://github.com/sbt/sbt/blob/1.0.x/CONTRIBUTING.md for the issue reporting guideline. In particular, could you include the reproduction steps or at least the Scala version that was used to cause this? Otherwise we have no idea how to reproduce or fix the problem.

[2017-03-27 17:53] eed3si9n commented on #3026
This might require update to Ivy itself in https://github.com/sbt/ivy. Happy to accept PR on this.

[2017-03-27 17:56] eed3si9n commented on #2617
@dwijnand Yes. Let's drop it.

[2017-03-27 18:52] eed3si9n commented on #3048
I'm failing to understand this issue. How is "I have installed sbt compiler successfully. When I am going to next step that is running sbt compile command it is downloading all the jar files and creating directories of .ivy2 and .sbt." your problem statement?

If you're trying to avoid hitting Maven Central, please read http://www.scala-sbt.org/0.13/docs/Proxy-Repositories.html

[2017-03-27 18:52] #3048 closed, assigned to nobody

[2017-03-27 19:05] dwijnand commented on #3047
We've never released (AFAIK) the deb (or any native package) for 1.0. So I guess you could say the root cause is the 1.0 docs are misleading.

https://github.com/sbt/website/issues/320

We hope to have more 1.0 news soon, but for now I'll close this issue.

[2017-03-27 19:05] #3047 closed, assigned to nobody

[2017-03-27 19:24] janekdb commented on #3047
Okay, cool. I'll use the normal installation technique. Thought I'd found a new way!

[2017-03-27 23:44] eed3si9n commented on #2804
No the standard out is not abstracted out.

[2017-03-28 01:02] shyamraj242 commented on #3048
eed3si9n,
Thanks for the reply.
I tried that also It didn't worked for me. Actually I need to replace the URL **(https://repo1.maven.org/maven2/)** which is present in sbt-launch.jar file. I have extracted the jar file and I am trying to edit the IBiblioResolver.class file (I have decompiled and saved as .Java file) still I am getting the error.  The only solution for us is to replace the url  wit

[2017-03-28 02:29] eed3si9n commented on #3048
If you're trying to get sbt installed, try 0.13.14-RC2 that implements offline installation - https://bintray.com/sbt/native-packages/download_file?file_path=sbt%2F0.13.14-RC2%2Fsbt-0.13.14-RC2.zip

In general thought, the sbt issue tracker is not a support system. Please see [how can I get help?](http://www.scala-sbt.org/community.html#how-can-I-get-help)

[2017-03-28 03:23] eed3si9n commented on #3042
`CompositeProject` sounds like a good idea worth exploring.

In terms of some implementation details,

[code]

If I needed to aggregate on `foo.jvm` for example, should it return `ProjectRef` instead of `Project` so the following doesn't end up declaring `fooJvm` twice?:

[code]

[2017-03-28 03:32] eed3si9n commented on #3046
Does this add additional parsing time up front, or can we resume the compilation after we have import statements and the full classpath from plugins etc.

[2017-03-28 03:55] eed3si9n commented on #3009
Neither Java nor sbt exist in a vacuum. They both act as harness around culture and ecosystem of libraries, plugins, and tooling. Long term binary compatibility allows both companies and hobbyists to invest time to build plugin on top of sbt. One of the reasons we are having this conversation is because some libraries are no longer available on 2.10. If we keep bifurcating sbt platform, we'll have

[2017-03-28 04:39] sjrd commented on #3042
See my "Subtlety" paragraph in the original post. I believe it addresses that potential issue as well.

In a design from scratch I agree that `.jvm` should return a `ProjectRef`. But at least in Scala.js 0.6.x we cannot change that. Potentially we could do it in 1.0.0 if by the time we release it, there is a released version of sbt with this feature.

[2017-03-28 08:01] liebichw commented on #1913
Is there anything planned on changing this within SBT? I have /tmp mounted on a separate partition, and it sometimes happens that this partition fills up due to SBT log files.

For now I did not find a way to turn down at least the log level of what goes into these files.
99% of the time I do not need debug logs

[2017-03-28 08:32] dwijnand commented on #3037
Fixed in #3045

[2017-03-28 08:32] #3037 closed, assigned to dwijnand

[2017-03-28 09:45] #3024 closed, assigned to dwijnand

[2017-03-28 10:58] smarter opened #3050 "ZipException when switching from sbt 1.0 to sbt 0.13"
## steps
1.Take an existing project, port it to sbt 1.0
2. compile it with sbt 1.0
3. switch to a branch still using sbt 0.13, launch sbt

## problem
[code]

## expectation

sbt 0.13 should not crash, instead it should ignore the files it doesn't understand and overwrite them.

## notes

Currently the problem can be worked around by doing:
[code]

[2017-03-28 11:25] memelet commented on #2817
Really, can this be an open bug with no workaround?

[2017-03-28 11:31] jvican commented on #3046
This does not add additional parsing time. Current sbt already parses twice:
1. One for providing better feedback to users on syntactic errors.
2. The other one to tell apart which parts are settings and which are definitions.

I've echoed before my interest in unifying those two steps. My proposal is compatible with it.

What I propose is that we move the parsing phase to the very first one in th

[2017-03-28 11:43] jvican opened #3051 "Support running several commands more intuitively"
## problem
For new contributors, remembering that the sbt syntax to run several commands at once is `; myCommand; myCommand2` is hard and unintuitive.

Why is it unintuitive? Scala/Java programs don't follow this convention to execute several statements (**EDIT**: it could be the case that bash doesn't either, though there's a slight change in semantics).

## expectation
New users should run `myCo

[2017-03-28 12:14] ffbin opened #3052 "Sbt crash when compile spark code"
## steps
1.Take an existing project
2. compile it with sbt 0.13.11, java version is 1.7.0_60

## problem
when compile Scala sources, sbt crash.

[code]

## expectation
sbt not crash

[2017-03-28 12:48] jvican commented on #3052
Have you tried with 0.13.13?

[2017-03-28 13:07] dwijnand commented on #3051
The problem with this suggestion is that the semantics are different between sbt's prefix `;` notation vs bash's (POSIX's, I think) `;`:

## sbt

[code]

[code]

## bash

[code]

## notes

bash's `&&` notation is more what sbt's `;` command does:

[code]

[2017-03-28 13:13] jvican commented on #3051
True, but I think it's a fair limitation. Users are aware that throwing exceptions will always stop programs if you don't catch them.

bash's `&&` notation cannot be implemented in Scala because `&&` is not a supported statement delimiter in the Scala language. However, `;` is.

My suggestions focus on making this easier to guess and use. It's lightweight and familiar syntax. I'm happy to hear alt

[2017-03-28 13:30] milessabin commented on #3051
I'm very much in favour or this, the semantic differences from POSIX notwithstanding.

I think this comes in at level "2. lexical syntax" in Wadler's law, BTW ;-)

[2017-03-28 13:35] dwijnand commented on #3051
sbt's shell isn't a POSIX shell, but it's not a good idea to make the syntax more similar while being different in semantics.

Fortunately we don't need to implement it in Scala. We need to implement it in sbt shell.

My alternative proposal is `&&`.

[2017-03-28 13:37] dwijnand commented on #3051
As an aside, looks like you can implement `&&`, at least in some cases, in Scala:

[code]

[2017-03-28 13:38] jvican commented on #3051
Allowing `&&` is a bad idea because no one prevents you from defining a method that is `&&` and put it in infix position.

Those semantic differences you mention are not relevant. Java and Scala programs work this way. You cannot run in the same process two programs if the first one fails with an exception. This is something that all devs in the community would expect.

[2017-03-28 13:39] dwijnand commented on #3052
Can you provide an example project where you've found this to happen?

[2017-03-28 13:40] jvican commented on #3051
To make it more clear, what matters is that we're more similar to Scala. See `myCommand; myCommand2` as equivalent to:

[code]

and then calling `myBoringTask` from shell.

In this case, semantics would be the same and it's IMO what we should aim for :wink:.

[2017-03-28 13:41] dwijnand commented on #3051
I disagree with you.

What about threads? What about process forking?

---

Btw, the semantics of POSIX's `;` are implemented in the `all` command:

[code]

[2017-03-28 13:44] dwijnand commented on #3051
No it doesn't. It's sbt shell. If it were "sbt REPL" then one could argue that. But as a shell we should match shell-like syntax, but then also match shell-like behaviour.

[2017-03-28 13:59] jvican commented on #3051
No, POSIX's doesn't execute them concurrently.

We're not doing a good job at that, either. If your goal is to match shell-like behaviour, then we can change the implementation of `;command1;command2` to match POSIX's.

Can you please specify why you think are relevant? The point I'm trying to make is that people expect these semantics as they match Java/Scala semantics. For me, sbt is more about

[2017-03-28 14:50] dwijnand commented on #3051
Doh! You're right. ✅

---

I agree we're not. This ticket is about making sbt shell more similar to POSIX. As you say, make it "more intuitive and user-friendly".

---

With threads and process forking you can run "two programs if the first one fails with an exception". But you don't even need that, you can just wrap it with `try`.

Btw, looks like you can't do that in bash with `;` in one command

[2017-03-28 15:00] jvican commented on #3051
This is working for me in Linux.

Yes, it's not possible because the syntax can be overriden by a user-defined method `&&`. Preventing users from doing so is bad, you're messing with Scala syntax. Also, once you implement `&&`, you'll need to implement `||` and friends.

My solution is simpler. If you really care about semantics, it can be accomodated by changing the underlying implementation of `

[2017-03-28 15:03] jvican commented on #3051
By the way, I've removed this from the description. This ticket is about making it more intuitive by following Scala/Java semantics.

[2017-03-28 15:12] dwijnand commented on #3051
You're confused. This isn't Scala syntax. This is sbt shell. So it's either sbt's command parsers. Or perhaps it could be changed/fixed where sbt shell passes the user input to the command engine. Or maybe where sbt passes the command input to the task engine. Either way we're not talking about Scala syntax here.

I'm used to it, but I'm happy to change it. Btw looks like you still state "This is

[2017-03-28 15:30] jvican commented on #3051
I'm not proposing to remove it, it's fine to leave it as soon as the new proposed syntax works.

You're right. Then I propose two things:

1. Add `&&` and `||`.
2. Add my proposed syntax `foo; bar` as a shorcut for `;foo; bar` and match POSIX behaviour.

Those two things would satisfy people looking for the different semantics we're discussing.

[2017-03-28 17:54] DanielGGordon commented on #2194
Unfortunately for a project I'm stuck with this version of sbt for the time being. What is the workaround? Do I just need to specify `Xmx` in the `JAVA_OPTS` environment variable? Or will the `sbt-launch` script override that?

[2017-03-28 18:35] olafurpg opened #3053 "libraryDependencies defined inThisBuild not picked up in crossProject/test"
Using 0.13.13
## steps
- `git clone https://github.com/olafurpg/inThisBuild`

The build file should look like this

[code]

- `sbt test` runs tests, as expected
- `git checkout 05b6a38697c7ea8e460143af464e43b9fbc31e8d` // same build except uses inThisBuild

The build file should look like this
[code]

- `sbt test` runs no tests, unexpected

## problem

The tests don't run when using `inThisBuild`.

[2017-03-28 19:48] aklosslp commented on #3022
https://github.com/LeadPages/scalatest-deadlock reproduces this problem with SBT 0.13.13 and scala 2.11.6 every time for me.  I reproduced it with Scala 2.11.7, 2.11.8, and 2.11.9 as well. Let me know if there's anything else I can do to help.  Thanks!

[2017-03-28 20:06] aklosslp commented on #3022
FYI, `set fork in Test := true` appears to prevent the deadlock.

[2017-03-28 23:17] dwijnand commented on #3051
What do you mean by "match POSIX behaviour"? Do you mean change `;foo ;bar`'s behaviour?

---

I propose we do the following (and I propose we track it in separate issues):

## Add infix `&&`

Example:

[code]

Equivalent in behaviour to the current

[code]

That is it runs sequentially, and stops at the first failure.

## Add suffix `;` syntax

Example:

[code]

Similar to the current

[code]

ex

[2017-03-28 23:31] dwijnand commented on #2194
Projects should declare their sbt version in `project/build.properties` (under the `sbt.version` key), so you can upgrade your local sbt version without impacting the version used in your project.

[2017-03-28 23:31] dwijnand commented on #2194
An alternative is switching to bash launcher in sbt-extras: https://github.com/paulp/sbt-extras

[2017-03-29 00:14] dwijnand commented on #2144
Blocked on https://github.com/mdedetrich/scala-json-ast/issues/13

[edit: not really blocked, but we need that to ship 1.0.0]

[2017-03-29 02:16] Atry opened #3054 "sbt compile failed if there is a directory named xxx.scala"
(See the guidelines for contributing, linked above)

## steps

[code]

## problem

[code]

## expectation

Expect no error

## notes

[2017-03-29 02:20] Atry commented on #3054
Looks like this bug has been fixed in https://github.com/sbt/sbt/commit/a6e31a0dc7be809e8774a4acb8d6be6a43654b6b

Is it possible to backport it to 0.13.x branch?

[2017-03-29 02:59] dwijnand commented on #3054
Yeah, that would be a welcome contribution to 0.13.

[2017-03-29 13:58] dwijnand opened #3056 "Remove (out-X) log output"
This was added to help debug event logging. It needs to go for sbt 1.0.0.

[2017-03-29 18:27] shawjef3 opened #3057 "Large SBT files cause "Could not write class""
## steps

[code]

## problem

[code]

## expectation

Maven can handle this, and so should SBT.

## notes

[2017-03-30 09:53] dwijnand opened #3058 "Forward-port #2908 Fix triggeredBy/storeAs/etc using :="
I'm looking at the Scala.js build ported to sbt 1, and I see triggeredBy, storeAs, and friends used extensively.

Link: https://github.com/sbt/sbt/pull/2908

[2017-03-30 10:05] daologger commented on #2817
I struggled with the same problem for several hours. Then [this gist](https://gist.github.com/is/7453145) saved my day.
We have a artifactory repo that needs authentication. The `repositories` file is properly configured like this:
[code]

Also, we've created a `.credentials` file, `~/.sbt/.credentials`:

[code]

Still, running `sbt` would still fail. According to [the gist](https://gist.github.co

[2017-03-30 13:08] daologger opened #3059 "illegal IPv4 address while resolving dependency"
(See the guidelines for contributing, linked above)

## steps

1. set up an Artifactory virtual repository that mirrors these 3 sbt repository:

[code]

This repository server is broadcasted using mDNS service, with a local domain `sbtdomain.local.`. Its IPv4 address is `192.168.1.100`, Artifactory repo service running on port `8080`.

2. install sbt on OS X with `brew install sbt` (version: stabl

[2017-03-30 13:09] jvican commented on #3051
Yes, I mean that.

As you prefer, I don't mind. I'll open those issues.

[2017-03-30 13:10] jvican opened #3060 "Add suffix ';' syntax"
See https://github.com/sbt/sbt/issues/3051.

Example:

Similar to the current

except it doesn't stop at a failure.

[2017-03-30 13:11] jvican opened #3061 "Add infix '&&' notation to run sequential sbt commands"
See https://github.com/sbt/sbt/issues/3051.

Example:

Equivalent in behaviour to the current

That it runs the commands sequentially, and stops at the first failure.

[2017-03-30 13:12] jvican commented on #3060
I think that the current behaviour in `;clean; compile` should not be removed, to protect all the users that are already relying on it and its concrete semantics.

[2017-03-30 13:14] milessabin commented on #3060
Don't we _always_ want stop on failure?

[2017-03-30 13:16] jvican commented on #3060
@milessabin For that, see https://github.com/sbt/sbt/issues/3061.

[2017-03-30 13:17] milessabin commented on #3051
I'm struggling to understand your objections @dwijnand ... are there _any_ circumstances in which you wouldn't want to stop on failure? If there are, are they common enough to be considered the default case (as opposed to something which should be handled by something like `||`)?

[2017-03-30 13:17] milessabin commented on #3061
-1 from me ... this should be the default semantics for `clean ; compile`.

[2017-03-30 13:28] jvican commented on #3061
I agree, that's the point I was trying to make in #3051.

[2017-03-30 13:28] dwijnand commented on #3060
Agreed, Jorge. If we choose to remove it I think we should have a deprecation cycle for it.

[2017-03-30 13:29] dwijnand commented on #3051
Oh! Thank you Jorge for creating the tickets.

I can imagine it would be useful to be able to do something like:

[code]

when wanting to run the tests of all 3 projects without stopping at the first one that fails.

It might not be a very common circumstance, but what do you mean by "the default case"? The `;foo; bar` syntax isn't going anywhere or changing in behaviour.

I think we'd do best to

[2017-03-30 13:36] milessabin commented on #3051
I mean that if I type (as I do several times a day) `clean ; compile` it does what everyone expects it to, clean, then compile, stopping on failure. I don't mind if `; clean ; compile` continues to do what it does today, but think the proposal in this issue is spot on.

Your example of running multiple sets of tests in parallel is reasonable, but I think atypical. I would like to see it supported

[2017-03-30 13:59] dwijnand commented on #3051
My example would run them sequentially by the way. If you want to run tasks in parallel, that's what the `all` command does.

The syntax of `||` in POSIX runs the RHS if the LHS fails:

[code]

I'm happy to optimise for the common case, but isn't `clean && compile` just as optimised? It _is_ 1 character longer, but I think that's a good trade-off to match POSIX.

[2017-03-30 17:59] jmooo commented on #2156
We also see this at ~5% rate on our Bamboo builds, using the Play Framework 2.5.9 which builds with; `sbt.version=0.13.11`. Selecting "retry failed build" usually clears the problem (sometimes have to rebuild a third time, but it always works eventually)

Can't find any pattern to it. Sometimes 10 simultaneous builds work fine. Sometimes 2 of 10 fail. Sometimes a single build is happening with no

[2017-03-30 19:00] eed3si9n commented on #3059
[code]

Could the problem be because of the URI formatting? I think it's a valid URI syntax, but maybe sbt (its underlying dependency manager Ivy) is incorrectly assuming that it's an IPv4 address.
Could you try with "http://sbtdomain.local:8080/artifactory/central-mirror/" instead without the dot after `local`?

[2017-03-30 19:02] eed3si9n commented on #3054
So this is a duplicate of #2552 that hasn't been backported to 0.13.

[2017-03-30 19:21] eed3si9n commented on #3051
In my opinion `;foo ; bar;` is an example of sbt being too cute/clever about the implementation.

Similar to `-` being a *command* (!) for early processing in sbt 0.13 (we are renaming that in sbt 1.0 https://github.com/sbt/sbt/pull/2741), `;` is implemented as a *command* that does sequential processing. See https://github.com/sbt/sbt/blob/4e267e5cb5c805ae3400f5b22c853601f612ccce/main-command/src

[2017-03-30 20:46] zalito12 commented on #2054
Following @vromancas idea, removing `project/sbt-ui.sbt` and `project/play-fork-run.sbt` did the trick for me. I found this problem when clone a project that was created with activator in other windows machine, now working in both. Thanks.

[2017-03-30 20:58] jvican opened #3062 "Intellij does not understand sbt 1.0"
(See the guidelines for contributing, linked above)

## steps
Open sbt 1.0 in Intellij.

## problem
Intellij does not understand sbt because contraband-generated class files are not picked up by it.

## expectation
Intellij understands sbt 1.0 as it does 0.13.

## notes
/cc @jastice

[2017-03-30 20:59] dwijnand commented on #3062
Cross-linking to the issue in contraband: https://github.com/sbt/contraband/issues/76

[2017-03-30 21:06] eed3si9n commented on #3061
I've experimented with `&&` in https://github.com/sbt/sbt-sh a while back. I would actually support `&&` if it comes with more useful `||`.

[2017-03-30 21:22] jvican commented on #3051
The problem, IMO, is that this introduces extra syntax that people have to learn and remember.

As Scala/Java programmers, the first thing that comes to mind when we want to run more than one statement is to separate them with `;`. It's people's first guess.

If we're to optimize for the common use case, I think dropping the leading `;` is the best thing to do.

Agreed.

I remember the first time

[2017-03-30 21:24] jvican opened #3063 "Explain breaking changes of plugins in sbt 1.0"
"Hello, I am a random sbt plugin author.

I am very excited about 1.0!

I'd like to know what breaking changes are in 1.0 and how they affect me to migrate my plugin compatible with 0.13. Where should I have a look at? Is there any history of changes to the plugin API?

Thank you"

[2017-03-30 21:26] eed3si9n commented on #3063
I've been keeping some in https://github.com/sbt/sbt/blob/1.0.x/MIGRATION.md.
There's also http://www.scala-sbt.org/0.13/docs/Migrating-from-sbt-012x.html during 0.13 series.
We should merge them and make a single migration guide eventually instructing what to do.

[2017-03-30 21:29] eed3si9n commented on #3057
Thanks for reporting this.

[2017-03-30 21:38] jvican commented on #3063
Now seriously.

Yes,thanks for the link. I was trying to replicate the kind of questions that will be asked here in some months. It's important to prepare before they happen.

To move this forward, I think these resources will help plugin authors migrate their builds:

* A clear document explaining the breaking changes (deprecations that are gone, etc). Please, explain also *why*. Often, knowing w

[2017-03-30 21:42] jvican opened #3064 "Clean up old issues in the repo"
This is not important for now.

I feel that the issue tracker has too many open issues. Some of them are waiting for answers that never came. Some others are waiting for some action from the maintainers.

I think it would be useful to identify them, and close those that have been open for too long.

This will help with two things: maintenance and "repo hygiene". Having too many issues open does no

[2017-03-30 21:49] eed3si9n commented on #3060
As per stop-on-failure, not stopping does _not_ match my expectation of how procedural statements (or `;` monad) should be composed.
I think @dwijnand brought up testing example, users are far more likely to expect stop-on-failure for `;clean; test; publishSigned` whether the semicolon is located on prefix or postfix.

**Edit**: To clarify, as with Miles, I think we should stop on failure.

[2017-03-30 21:52] eed3si9n commented on #3064
One way to tackle the GitHub issue growth is following [Issues and Pull Requests](https://github.com/sbt/sbt/blob/1.0.x/CONTRIBUTING.md#issues-and-pull-requests) more strictly, and move discussions to sbt-dev list. Or just give up and deal with many issues.

[2017-03-30 21:55] jvican commented on #3064
Yes. What I mean is that all issues in this repo that either:

1. Have not received any response from the original author; or
2. Are not following the current policy

should be closed.

On the other hand, I propose to use the issue tracker to identify the most important issues to fix, and give them priority for 1.0 releases.

[2017-03-30 21:58] eed3si9n commented on #3051
If we're saying that the semantics of `;` is that of procedural statements like Scala/Java, then it *should* fail to publish in `;clean; test; publishSigned` if `test` fails.

#3060

[2017-03-30 22:02] jvican commented on #3051
Yes, which are the concrete semantics of the `;` command. I created those tickets per @dwijnand's suggestion, but I still think that the solution proposed in this ticket is the best one for beginners.

It looks like a good candidate for 1.0.

[2017-03-31 02:32] daologger commented on #3059
@eed3si9n Yeah, removing the dot after `local` did solve the issue. Thanks!

[2017-03-31 03:20] eed3si9n commented on #2841
The behavior you described actually works as designed. I understand that sbt 0.13.13 may looked as if it regressed and in fact it's cause by some other bug that will be fixed 0.13.14, but in general I don't think we can guarantee that resource copying happens for `compile` task in any configuration.
For that please use `test:product`. It will causing additional zipping, but if it's easier to remem

[2017-03-31 03:20] #2841 closed, assigned to nobody

[2017-03-31 03:40] #3054 closed, assigned to nobody

[2017-03-31 03:41] eed3si9n commented on #2816
This is now fixed, I think.

[2017-03-31 03:50] eed3si9n commented on #2843
I wonder if watchSource is getting confused.

[2017-03-31 07:22] dwijnand commented on #3051
I believe you've correctly identified here where our assumptions differ. You're right that as Scala/Java programmers they would reach for `;`. But as shell users if they want stop-on-failure they would reach for `&&`.

But I've changed my mind because of something that Eugene said in #3060:

Having semantics be so different based only on the presence or absence of a leading semicolon is far too su

[2017-03-31 07:22] #3060 closed, assigned to nobody

[2017-03-31 07:22] #3061 closed, assigned to nobody

[2017-03-31 07:50] dwijnand commented on #3063
By actually doing the migration of a number of plugins I think we'll find a good example. I'm doing Scala.js right now, not sure yet if it's a good candidate.

[2017-03-31 09:38] graingert commented on #2816
@eed3si9n nope it's still in sbt-launcher-packaging-$SBT_VERSION can you reopen until you upload a 3.13 that's not a semver break?

[2017-03-31 15:38] MasseGuillaume opened #3065 "the incremental compiler does not work when adding new methods in the jdk"
In scala-native and in Scala.js we need to reimplement the jdk.

I'm currently working on java.util.regex.{Pattern, Matcher}.

I need to add a private constructor to Matcher.

## steps

When I change something in Patten

## problem

 it complains about the non-existing private constructor. (Pattern depends on Matcher).

## expectation

a clean compile works. I can touch the Matcher then touch the

[2017-03-31 15:39] MasseGuillaume commented on #3065
\cc @sjrd @Duhemm @densh

[2017-03-31 15:46] sjrd commented on #3065
I'm not surprised, and I don't think this can be fixed. In Scala.js we simply disable the incremental compiler wholesale for the javalib and scalalib.

[2017-03-31 15:48] shyamraj242 commented on #3048
Hi eed3si9n,

If I need to install sbt compiler in my cluster I need to edit the IBiblioResolver.class file and I need to replace the https://repo1.maven.org/maven2/ with http://mavencentral.it.att.com:8084/nexus/content/repositories/repo1-manven2-proxy/. Can you please help me on this. The reason for replacing this URL is, our cluster are in protected mode. Please help me on this.

[2017-03-31 16:04] eed3si9n commented on #3048
Sorry we don't support editing of *.class file. Please follow http://www.scala-sbt.org/0.13/docs/Proxy-Repositories.html that should allow you to use your Nexus.

[2017-03-31 17:36] MasseGuillaume commented on #3065
This is how they do it: https://github.com/scala-js/scala-js/blob/v0.6.15/project/ExternalCompile.scala#L19-L104

[2017-03-31 23:23] scottcarey commented on #2997
Everyone is mentioning speed.  Yes it is faster.  Yes, that is great.  But for me, my build WILL NOT WORK at all with the default resolver in some cases.

My situation:  I depend on an artifact that is built via maven and found only in a corporate repo.   If I build a snapshot of that maven artifact locally and publish to my local maven repo, the default resolver gets completely confused and mixes

[2017-04-01 12:48] jvican commented on #3065
Yes, I think this is expected.

[2017-04-01 17:23] Duhemm commented on #3065
@MasseGuillaume @sjrd @densh I've been able to get incremental compilation to work in `javalib` in Scala Native so far using https://github.com/Duhemm/scala-native/commit/6fa9fbace4911a47a2ee8b211383336b20578357.

[2017-04-01 17:25] jvican commented on #3065
@Duhemm Smart.

[2017-04-02 11:38] ScalaWilliam commented on #3005
Still getting the same problem with 0.13.14-RC2.

[2017-04-03 16:30] dwijnand commented on #2618
I've created a refreshed version of Sébastien's port: https://github.com/dwijnand/scala-js/tree/sbt1

With a custom build of latest sbt, on latest zinc and latest lm, I note that the problem doesn't reproduce, which I'm going to assume is because it was fixed (at some point in the last 10 months, probably in zinc):

[code]

[2017-04-03 16:30] #2618 closed, assigned to dwijnand

[2017-04-04 10:32] #2617 closed, assigned to dwijnand

[2017-04-04 11:10] fommil commented on #2533
another usecase is http://stackoverflow.com/a/36300977/1041691 which would be to apply a filter to `libraryDependencies` after the user has set them.

[2017-04-04 13:05] domdorn commented on #1518
hmm.. any updates? was affected by this just today.. >2 years since ticket was opened..

[2017-04-04 13:30] dwijnand commented on #3040
Fixed in https://github.com/sbt/sbt/pull/3066/commits/304d167813b96d319eaed8c02d7b10978a14accc

[2017-04-04 13:30] #3040 closed, assigned to nobody

[2017-04-04 16:11] dwijnand commented on #2884
This is really confusing.. here's me trying to figure it out, with little success:

[code]

I need backup.. @retronym @adriaanm @lrytz, apologies for the ping, any idea why I'm told:

[code]

?

The relevant code is (fairly) straight-forward, and hasn't varied much since 0.13.13: [main/src/main/scala/sbt/internal/ConsoleProject.scala](https://github.com/sbt/sbt/blob/1020405d647ade4113937cc541cd467

[2017-04-04 16:13] dwijnand commented on #2884
Please don't misread the "Regression" as an indication that this ticket is urgent. It's not.

I just want to fix it for 1.0.0, ideally sooner rather than later so I can use .eval in the pre-releases.

[2017-04-04 16:52] #3056 closed, assigned to dwijnand

[2017-04-04 17:03] eed3si9n commented on #2533
I think we should consider including this feature, but we might want to do it both for 0.13.x and 1.0 so plugins can keep source compatibility.

[2017-04-04 17:16] fommil commented on #2533
meh, make it an sbt 2.0 feature. I survive.

[2017-04-04 18:11] eed3si9n commented on #2896
Fixed by #2897 and https://github.com/sbt/librarymanagement/pull/79

[2017-04-04 18:11] #2896 closed, assigned to nobody

[2017-04-05 00:50] #3011 closed, assigned to eed3si9n

[2017-04-05 08:50] #3058 closed, assigned to dwijnand

[2017-04-05 09:32] dwijnand opened #3078 "Remove deprecated for 1.0.0"
Current status:

[code]

HEAD is 1f02e61819ad3c1eedda73007ecd63663a0461bb.

[2017-04-06 10:29] DavidPerezIngeniero opened #3084 "SBT dies unexpectedly in a silent way."
(See the guidelines for contributing, linked above)

## steps

`sbt myTask`

## problem

About 10% of cases SBT dies silently.
If I relaunch with the same parameters, it succeeds.
`myTask` does a lot of parallelism.
It can die in many different points.

## expectation

If it has some problem, to report it clearly.

## notes

1) More info in this [stackoverflow question|http://stackoverflow.com/que

[2017-04-06 10:31] jvican commented on #3084
@DavidPerezIngeniero Can you provide a reproducible example or open source the code that produces this error?

[2017-04-06 11:01] DavidPerezIngeniero commented on #3084
Sorry, it isn't an open source project. :-(
Now I'm checking if I'm hitting a thread count limit or open file limit.

[2017-04-06 11:03] vn971 opened #3085 "SBT 012x migration guide incomplete, need to mention `task`"
Hi all. This migration guide: http://www.scala-sbt.org/0.13/docs/Migrating-from-sbt-012x.html  is probably a bit incomplete.

It turns out it's not possible to really migrate the config with only using the migration guide, if you had code that relied on `Task[T]`. Consider, for example, this code:

[code]

You can't really change it to `+=` and `.value` invocations because it was previously a `Tas

[2017-04-06 11:06] vn971 commented on #3085
"Moved" the issue to the `website` tracker here: https://github.com/sbt/website/issues/351

[2017-04-06 11:06] #3085 closed, assigned to nobody

[2017-04-07 04:16] eed3si9n commented on #3005
I'm getting the following actually:

[code]

Hopefully something I can fix with more `mkdir`.

[2017-04-07 05:21] saamalik commented on #2156
Probably not something you guys want to hear; but even though we ran into it three times in December, since then even though the team size has grown, we never ran into it again. Maybe by adding additional libraries/dependencies we _slightly_ altered the timings of things to where we don't see this.

I hope I didn't jinx the team.

[2017-04-07 06:44] #3005 closed, assigned to nobody

[2017-04-07 08:30] eed3si9n commented on #3005
https://gist.github.com/eed3si9n/cf04771611cf7f1869f83aa5fd5d4b86

[code]

[2017-04-07 19:12] dvic commented on #2931
Has this one been released? (I'm still experiencing the issue with the docker image `ubuntu:xenial`)

[2017-04-07 22:58] eed3si9n opened #3086 "sbt 0.13.14 doesn't run on Windows"
If you came here by Googling "URI has an authority component", see https://github.com/sbt/sbt/pull/3088 for URL encoding of file path on Windows.

----

## steps

run sbt 0.13.14 on Windows

## problem

[code]

## expectation

## notes

This is likely due to the way offline repo is specified.

- http://stackoverflow.com/questions/18520972/converting-java-file-url-to-file-path-platform-independent-

[2017-04-08 10:27] #2298 closed, assigned to nobody

[2017-04-09 20:37] dejan2609 commented on #3086
I just upgraded from sbt  **0.13.12** to sbt **0.13.15**: build works as expected (on Windows 10).
Thanx @eed3si9n !

[2017-04-09 22:50] eed3si9n commented on #3086
The buggy part was the launcher so you have to test https://bintray.com/sbt/native-packages/download_file?file_path=sbt%2F0.13.15%2Fsbt-0.13.15.msi.

[2017-04-09 23:46] dejan2609 commented on #3086
Tested, all green.

![image](https://cloud.githubusercontent.com/assets/19467899/24841904/649bb992-1d8f-11e7-9fdb-f1cfc7b932ab.png)

[2017-04-09 23:47] eed3si9n commented on #3086
Thank you!

[2017-04-10 10:17] avakhrenev opened #3090 "NPE on Windows during incremental recompilation if exportJars := true"
(See the guidelines for contributing, linked above)

## steps
Use sbt 0.13.13 on Windows with `scalaVersion := "2.12.1"` and  `exportJars := true`

## problem
After several cycles of modify-compile-test, the compilation fails with NPE:
[code]

## expectation
Should not fail

## notes
NPE stacktrace is
[code]

[2017-04-10 10:39] jvican commented on #3090
Hey @avakhrenev, thanks for taking the time to file this issue!

One question comes to mind: have you been successful to reproduce with `exportJars := false`?

From a cursory look at the stack trace, the issue appears to come from the Scalac internals -- it's not clear to me this is Zinc's fault. Perhaps `exportJars` is creating malformed class files for some reason? A little bit more info on this

[2017-04-10 12:02] avakhrenev commented on #3090
Hello, @jvican,

No, I never have seen it with `exportJars := false`, nor have I with scala 2.11.8. Seems like the class file has been written into or maybe read from `JarFile` incorrectly .

I'll try to investigate and inspect resulting jar files.

[2017-04-10 21:09] SethTisue opened #3091 "`--error` does not suppress new batch mode warning in 0.13.15"
[code]

this regresses on #840

[2017-04-10 21:40] SethTisue commented on #3091
also

[code]

[2017-04-10 23:08] NicolasRouquette commented on #896
How about this?

[code]

[2017-04-10 23:34] LogicalTime opened #3092 "Sbt 0.13.15 on windows can't startup without being connected to internet"
## steps
On windows.
Delete all dependency caches on your machine (ivy, maven, etc)
Run sbt from a empty directory or even simple project with just build.sbt and build.properties
See the error message that sbt can't find a dependencies and it won't start.

## problem
Sbt needs dependencies to start up that aren't in the preloaded cache

## expectation
That sbt can start without internet connection

[2017-04-11 00:51] eed3si9n commented on #3092
Thanks for the report. Could you copy paste the full error output to here or gist plz?

[2017-04-11 02:01] eed3si9n commented on #3092
FWIW here's the log of sbt running on from an OpenJDK 9 Docker container while disconnected from wifi - https://gist.github.com/eed3si9n/5d80ea9d6e1f6f59ff80231cb2ecab46

[2017-04-11 03:10] LogicalTime commented on #3092
Just checked linux and it works fine. That is primarily what I care about. Looks like the issue is just for windows?

My log of sbt running I put as a comment to your gist.
https://gist.github.com/eed3si9n/5d80ea9d6e1f6f59ff80231cb2ecab46

[2017-04-11 08:35] dwijnand commented on #3091
The primary reason this is happening is because I'm trying to do it as early as possible, when there is a clear distinction between sbt.xMain, and sbt.ScriptMain or sbt.ConsoleMain - ironically exactly for scripting reasons.

I think I can rework this to appease both use cases, but I wonder: @SethTisue what's the severity in your mind of this regression?

[2017-04-11 09:14] jvican commented on #3091
Is it possible to disable this warning @dwijnand?

For instance, I use sbt for scripting intensively. I think that this warning is good when the user types sbt, but I'd like to remove it when I'm programmatically controlling sbt.

[2017-04-11 09:32] dwijnand commented on #3091
By invoke sbt in non-interactive (aka batch) mode.

The easiest way is by appending `< /dev/null`, e.g:

[code]

Or in **sbt-extras** by passing `-batch`, e.g:

[code]

I'm happy to revise the implementation to strike a better balance.

[2017-04-11 09:34] jvican commented on #3091
Thanks for the pointers.

It would be interesting to have something like `--script` in the official sbt. To the best of my understanding, it would have the same behaviour as `-batch` but I think the naming is clearer.

[2017-04-11 09:43] dwijnand commented on #3091
The concept of "script" already refers to http://www.scala-sbt.org/0.13/docs/Scripts.html (and its sbt.ScriptMain), which is not what you're after when you say "script".. :-/

[2017-04-11 09:49] jvican commented on #3091
It's a pity that sbt is using that definition of 'script' when the widely used notion of scripting is substantially different (for example, bash scripts).

In any case, `--batch` sounds good. Another alternative would be `--one-shot`.

[2017-04-11 10:25] dwijnand commented on #3091
The nomenclature looks consistent to me: a bash script is a script that bash interprets and an sbt script is a script that sbt interprets (using ScriptMain).

I'd be happy to port `-batch` to the sbt-launcher-package scripts. Note that `--batch` is complicated at the moment due to the history of and migration needed for `--`... https://github.com/sbt/sbt/pull/2741.

[2017-04-11 10:41] jvican commented on #3091
You're right.

I would like to see this supported by default, so 👍 .

[2017-04-11 14:23] shyamraj242 commented on #3048
Hi Eed3si9n,

I followed the repository documentation which is mentioned above.

Step1: I have edited the sbt-launch.jar file by extracting the .jar file

Step2: Replaced the override-build-repos: property as below

**override-build-repos: -Dsbt.override.build.repos-true**

Step3: Replaced the repository-config: -Dsbt.repository.config property as below

**repository-config: -Dsbt.repository.confi

[2017-04-11 19:13] eed3si9n commented on #2863
Closing this as duplicate of https://github.com/sbt/sbt/issues/2156

[2017-04-11 19:13] #2863 closed, assigned to nobody

[2017-04-12 07:02] eed3si9n commented on #2352
More done stuff

- [x] 5c85acb Merge pull request #3215 from eed3si9n/wip/moduleid
- [x] 77f85d6 Merge pull request #3204 from eed3si9n/wip/eviction2
- [x] 0ca24b6 Merge pull request #3202 from eed3si9n/wip/eviction
- [x] b917001 Merge pull request #3194 from dwijnand/deprecate-removed-toError
- [x] 9ecc7db Merge pull request #3179 from eed3si9n/wip/zero
- [x] 762a0e7 Merge pull request #3155 from

[2017-04-12 07:03] arpadtamasi commented on #1518
Annoying me, too

[2017-04-12 07:40] eed3si9n commented on #2150
For local path on Windows use `file:///C:/foo/` (three slashes).  For UNC, try `file:////unc/foo/` (four slashes).

[2017-04-12 07:40] #2150 closed, assigned to eed3si9n

[2017-04-12 07:41] #3086 closed, assigned to eed3si9n

[2017-04-12 08:22] eed3si9n commented on #3091
If we implement the `project/build.properties` warning as one of the commands, we might be able to place it after the early commands.

[2017-04-12 08:55] dwijnand commented on #3091
Indeed that was my idea. I'm just not sure what priority to give this regression - i.e if it should be worked on now.

[2017-04-12 08:59] eed3si9n commented on #3091
We can schedule it for next 0.13.x release, but I don't think it's high priority enough to disrupt the current iteration.

[2017-04-12 09:44] eed3si9n opened #4918 "JAVA_OPTS with vertical bar requires escaping"
## steps

[code]

## problem

On Windows, this causes issue:

[code]

[2017-04-12 09:50] mkurz opened #3096 "0.13.15 not available on bintray"
Seems like it's not published on bintray yet.
Using Ubuntu 16.04.

[2017-04-12 09:54] mkurz commented on #3096
[code]

[code]

[2017-04-12 11:16] eed3si9n commented on #3096
It seems like I hit https://github.com/sbt/sbt-native-packager/issues/587.
0.13.15 should now be up.

[2017-04-12 11:30] mkurz commented on #3096
@eed3si9n Thanks, it's working now :+1:

[2017-04-12 11:30] #3096 closed, assigned to nobody

[2017-04-12 12:43] jastice commented on #3091
`sbt new` also triggers the warning

[2017-04-12 15:32] daveclay commented on #2886
I'm getting the same error.

[code]

[code]

But, it does seem like this more that sbt can't find _any_ dependencies. With this `build.sbt`:

[code]

I get:

[code]

[EDIT]

I cleared my `~/.iv2` directory, and got SSL errors:

[code]

[2017-04-12 16:03] jastice opened #3097 "`sbt new` triggers batch mode warning"
## steps

with sbt 0.13.15

[code]

## problem

`[warn]`

## expectation

no warning :)

[2017-04-12 16:57] daveclay commented on #2886
I re-installed the JDK from Oracle, that seemed to resolve the issues. SHRUG.

[2017-04-13 01:35] sundaramohanm commented on #1061
Any update on this bug? i am also seeing something similar when i delete transitive dependency from ~/.ivy2/cache and do update it is not downloading again.

Ex:  Pkg_A (my direct dependency) depends on Pkg_B, Pkg_C
when i delete Pkg_C and do sbt update i expect Pkg_C to be downloaded but it is not getting downloaded

[2017-04-13 08:11] GaalDornick opened #3100 "Boot repositories (Typesafe Ivy Releases) leak into the resolver"
I have a corporate artifact repository that proxies external repositories. According to our corporate policy, we are not supposed to pull artifacts straight from public repos, although they have provided some leeway and allow us to go outside, even if we aren't supposed to. However, I know they are going to clamp down pretty soon. So, I am trying to figure out how to use proxy repository and disab

[2017-04-13 09:32] #3078 closed, assigned to dwijnand

[2017-04-13 09:58] dwijnand commented on #2762
This is under discussion now. See #3083 and what it links to.

[2017-04-13 11:08] ignasi35 opened #3102 "Default `sbt new` transport to https when accessing github"
`sbt new` uses `g8` under the covers. `g8` defaults to GitHub when provided a  repo of formant`user/repo.g8`. When accessing Github repositories, `g8` will use `git:` protocol by default and will fallback to `ssh:` (aka `git@`) if `git:` fails.

`git:` doesn't provide server verification and doesn't require client authentication. While user authentication should not be necessary to run `sbt new` i

[2017-04-13 14:37] eed3si9n commented on #3102
Technically speaking `sbt new` just forwards the `user/repo.g8` argument to Giter8, so this issue should be opened against Giter8.

The relevant code here I think is https://github.com/foundweekends/giter8/blob/8761f4aeded5ee65ef1d823afe242cb955836230/library/src/main/scala/giter8/GitRepository.scala#L32-L35

[2017-04-13 18:48] adamkasztenny commented on #2422
I had the same problem. I'm using Artifactory and the issue was not invalid credentials, but there was already an artifact with that same organization name and artifact name in the repo. I checked the Artifactory log and all the publish attempts were listed as 401 errors.

[2017-04-13 18:49] LeifW opened #3103 "How to modify classpath for `run` task?"
The docs say the `Runtime` configuration "defines the classpath for the run task."
http://www.scala-sbt.org/0.13/docs/Scopes.html#Scoping+by+dependency+configuration+axis

However, given the following Main.scala:
[code]
and build.sbt:
[code]
and a `foo.txt` file in the base directory of the project, running `sbt run` prints `null`.
If you change `Runtime` to `Compile` in the above build.sbt file,

[2017-04-13 23:36] vincentwoo opened #3105 "0.13.15 switched to OpenJDK 8, causing problems installing on Ubuntu 14.04"
Previously in 0.13.13, the apt repo for sbt enforced the Java requirement of `java6-runtime-headless`. In the 0.13.15 release, the dependency specified is now `openjdk-8-jdk`. There isn't a great story for installing OpenJDK 8 on Ubuntu 14.04: https://askubuntu.com/questions/464755/how-to-install-openjdk-8-on-14-04-lts.

Was this an intentional change? I didn't see it in the notes.

[2017-04-14 01:38] eed3si9n commented on #3105
Yes. This was an intentional change that we made for sbt 0.13.15.
Since Scala 2.12.x requires JDK 8 and JDK 6 is EOL I figured this was a good time to add to change the launcher (https://github.com/sbt/sbt-launcher-package/pull/139). Interestingly, on the RPM side it caused enough problem to CentOS that we ultimately decided to remove JDK requirements altogether yesterday (https://github.com/sbt/s

[2017-04-14 01:41] eed3si9n commented on #3100
The sbt issue tracker is not a support system. Please see [how can I get help?](http://www.scala-sbt.org/community.html#how-can-I-get-help)

For connecting to corporate proxy repository, check out http://www.scala-sbt.org/0.13/docs/Proxy-Repositories.html

[2017-04-14 01:42] vincentwoo commented on #3105
I think removing the JDK requirements altogether is good. My app uses Oracle's Java.

[2017-04-14 01:43] eed3si9n commented on #3084
The sbt issue tracker is not a support system. Please see [how can I get help?](http://www.scala-sbt.org/community.html#how-can-I-get-help)

[2017-04-14 01:43] #3084 closed, assigned to nobody

[2017-04-14 12:38] GaalDornick commented on #3100
This is not a support request. It's a bug report. The steps in the linked document don't work. Even if you follow the steps, SBT goes out to the public repo

[2017-04-14 14:01] #2156 closed, assigned to eed3si9n

[2017-04-15 01:28] akara opened #3106 "sbt 0.13.15 runs into OOM in restricted resource environments"
(See the guidelines for contributing, linked above)

## steps
Large project with 18 sub-projects.
Large number of dependencies, more than 700 unique dependencies
Rigorous test cases run through sbt. We deal with 90+% test coverage.
Build environment with restricted resources. For instance, building in a Docker container with exactly 4GB of memory and no virtual memory
Unfortunately, this part of t

[2017-04-15 02:04] zinking opened #3107 "network connection issue turned out to be scala version problem"
## steps

[code]

## problem

[code]

## expectation

enter sbt console

## notes

this isn't a network issue, but the error reporting leads me to believe that I have a network problem and wasted time on that. if I switched to 2.12.1 then everything is fine.

of course I should have spotted that this project is on 2.12.1 and this issue could never happen, but this suggests at least some part of th

[2017-04-15 02:44] eed3si9n commented on #3106
Thanks for reporting this.
By the way, have you tried using cached resolution? - http://www.scala-sbt.org/0.13/docs/Cached-Resolution.html

[2017-04-15 02:46] eed3si9n commented on #3106
Do you know exactly what task cause the OOM?

[2017-04-16 19:17] emaxedon commented on #2928
I'm getting a similar issue.

Following the guide to install `sbt` from `http://www.scala-sbt.org/download.html`.

When I run:
[code]

I get the following error:
[code]

I'm running the command on `Ubuntu 16.04.2 LTS`.

Any ideas?

[2017-04-16 19:28] JoeHegarty opened #3108 "sbt download link not functioning"
## steps
Attempt to download SBT from the official website: http://www.scala-sbt.org/download.html

For example:
[code]
## problem
Returns 403 Forbidden. This is also true of the zip package
[code]
## expectation
Download link should function as expected

## notes
I've confirmed this is happening when I request from various ISPs so it doesn't seem specific to me.

[2017-04-16 19:55] olafurpg commented on #3108
I'm getting 403 errors too when resolving other bintray-hosted sbt plugins, for example sbt-site 1.2.0 https://dl.bintray.com/sbt/sbt-plugin-releases/com.typesafe.sbt/sbt-site/scala_2.10/sbt_0.13/1.2.0/ivys/ivy.xml ( cc/ https://github.com/scalameta/tutorial/issues/11). I thought bintray might be down, but http://status.bintray.com/ says it's not.

[2017-04-16 19:57] eed3si9n commented on #3108
Bintray has put on rate-limit on sbt organization. I'm guessing that we have gone over some OSS allowance.

[2017-04-16 20:02] jvican commented on #3108
I'm getting the same error too when resolving sbt-pgp.

[2017-04-16 20:19] emaxedon commented on #3108
Phew, ok it's not just me. xD

[2017-04-16 21:22] akara commented on #3106
Yes, I have tried cached resolution. But it does not work for this project as it contains plugins that modify specified artifact versions from "0" to a version read in by an artifact catalog (more like maven dependency management). When cached resolution was turned on, it interpreted the version as "0", basically before the plugin version modification takes place. We may be able to fix this at the

[2017-04-16 21:24] akara commented on #3106
These are surely some of the tests. We have huge number of tests and each subproject bombs while running them, in many cases in parallel. We have not yet had a chance to isolate which tests and whether it is even consistent. So many tests are going on at the same time.

[2017-04-16 21:25] bitsnaps commented on #3108
I'm getting the same error from binary, is there any way to build sbt from source?

[2017-04-16 21:25] akara commented on #3106
Downgrading to 0.13.13 solved our issue for now.

[2017-04-17 03:33] eed3si9n opened #3109 "Migration for FileFunctions.cached requires boilerplates"
Ref https://github.com/sbt/util/pull/45

## steps

Migrate something like the following from sbt 0.13 to sbt 1:

[code]

## problem

This requires unnecessarily complicated boilerplate.

[code]

## expectation

We need something simpler.

## notes

I'm seeing this pattern in multiple places as I'm porting things to sbt 1.

- https://github.com/sbt/contraband/commit/9af32b2944d09f4098bb4196053489f5

[2017-04-17 10:36] jvican opened #3110 "Def cannot be used inside a taskDyn"
## steps

Say you're implementing a dynamic task, and you want its result to be a task whose body executes a collection of tasks sequentially. An example:

[code]

## problem

When compiling the previous task, you'll get:
[code]

## expectation

Not getting an illegal dynamic reference.

## notes

A workaround is to define your own `TaskSequential`:

[code]

And redefining the previous task as:

[

[2017-04-17 10:55] ourdark commented on #1221
proxy is not working exactly, may I know your prox @alartin

[2017-04-17 11:23] jvican commented on #3110
I suspect this error could be related with the implementation of `TaskSequential` via implicits. I think this was done to stay binary compatible.

[code]

What could be happening is that the macro errors when it finds a function requiring an argument, since `Def.sequential` is expanded into `toTaskSequential(Def)`.

[2017-04-17 11:27] jvican commented on #3108
@eed3si9n Have you contacted Bintray to solve this issue?

My CI is blocked on this: https://platform-ci.scala-lang.org/scalacenter/sbt-release-early/32. I cannot push local commits and release versions of my plugin until CI is green.

[2017-04-17 11:34] dwijnand commented on #3109
I think part of that boilerplate goes away if you use s.cacheStoreFactory (https://github.com/sbt/sbt/pull/2892/commits/7fcfec8b8e2b58b33b028606ecafc8ae03f7cdd4#diff-73eff18ed70141748327530263b4d402R75) and then .sub (https://github.com/sbt/util/pull/45/commits/c395bd14a8194b67a79fc53d3bbd6358a3880fde).

[2017-04-17 14:05] eed3si9n commented on #3108
Yes. The rate-limiting has been lifted.

[2017-04-17 14:06] jvican commented on #3108
Thank you. I confirm it's gone.

[2017-04-17 14:35] eed3si9n commented on #3109
In https://github.com/sbt/util/pull/78 I added delegate from `object FilesInfo.hash` to `object FileInfo.hash` etc:

[code]

Next I created `def apply(file: File)` constructor in `object CacheStoreFactory` that simply uses standard JSON, and added overrides to `FileFunction` and `Tracked` method that accepts `cacheFile: File`. This should get us to source compatibility.

[code]

For smoother migra

[2017-04-17 16:40] #3109 closed, assigned to nobody

[2017-04-17 17:31] eed3si9n opened #3111 "[sbt 1.0] Bump to Scala 2.12.2 when it comes out"

[2017-04-17 17:55] dwijnand commented on #3111
I'm stealing this one :P

[2017-04-17 18:07] fommil commented on #2433
ironically a dupe of #2571

[2017-04-17 18:07] #2433 closed, assigned to nobody

[2017-04-17 18:51] jvican commented on #2866
@eed3si9n @dwijnand What's the verdict here? I'm not that familiar with the sbt API, but this looks like a bug.

[2017-04-17 18:52] eed3si9n commented on #3108
Bintray is putting rate-limit on again..

[2017-04-17 18:55] jvican commented on #2584
I'm a little bit confused here. Is this for sbt 1.0 or 0.13.x? Why doesn't the compiler fail if you don't implement `includeSynthToNameHashing`? That method is unimplemented in the Java interface defined in `xsbti.AnalysisCallback` in sbt 1.0.

[2017-04-17 18:56] jvican commented on #2571
This is interesting, I may have a closer look to this one sometime in the future. How did you realise that 1GB of duplicated strings was created? I've wanted to add name interning to Zinc for a long time. This may be the motivation to do so.

[2017-04-17 19:32] evictor commented on #3108
Long term solution planned for this?

EDIT (to not cause further notifs): This is happening for me right now while building out a new CI.

[2017-04-17 20:17] levismiller commented on #3108
I'm getting the 503 again now as well

[2017-04-17 20:24] kpmeen commented on #3108
Only noticed this because I updated to the latest versions of some plugins. It's possible to continue working locally with old versions, but CI breaks.

[2017-04-17 20:36] evictor commented on #3108
It would be nice if there were binaries available at mirrors instead of the one bintray source that keeps 403ing. I Googled a little bit but I can't find mirrors.

[2017-04-17 20:41] eed3si9n commented on #3108
Here are the installers for 0.13.15:

https://downloads.typesafe.com/sbt/0.13.15/sbt-0.13.15.tgz
https://downloads.typesafe.com/sbt/0.13.15/sbt-0.13.15.zip
https://downloads.typesafe.com/sbt/0.13.15/sbt-0.13.15.msi

[2017-04-17 20:43] dwijnand commented on #2433
LOL :D

[2017-04-17 20:48] fommil commented on #2584
It was for 0.13

[2017-04-17 20:48] fommil commented on #2571
Your Kit has an analysis for string dupes in a heap hump

[2017-04-17 20:50] dwijnand commented on #2866
I've not triaged this issue here, but if I'm remembering correctly @jastice fixed the issue in @fommil's project at ScalaSphere. But I never saw the diff, nor can I find it now..

[2017-04-17 20:52] jvican commented on #2866
Interesting. Is it considered an implementation problem then? I'm curious to what happened to this in ScalaSphere :smile:.

[2017-04-17 20:53] eed3si9n commented on #3050
Possibly output some file in `target` describing the last sbt version used or something.

[2017-04-17 20:54] jvican commented on #2584
So since we're gonna focus on sbt 1.0, can we close this issue? As far as I know, this is fixed in sbt 1.0 since you would not be able to create a callback without defining `includeSynthToNameHashing`.

[2017-04-17 20:57] jvican commented on #3050
In gitter I proposed to add metadata along the generated class files in an independent file. I think this is the way to go, and it could help for future migrations and sbt debugging options. The metadata would contain the sbt version.

The way to fix this problem in sbt 1.0 is to remove all the class files under `target` that were generated by a binary-incompatible sbt version.

[2017-04-17 21:07] ScottTRogers commented on #3108
It is currently working again.

[2017-04-17 21:41] fommil commented on #2866
No that was something else. This is still a bug in the macro semantics. Or, at least a subtlety.

[2017-04-17 21:45] jvican commented on #2571
I am trying to reproduce locally in a open sbt instance, but cannot find those duplicated strings. Do you tested this with a very big sbt project?

I would like to get a reproduction of this issue so that I can start working on it.

[2017-04-17 22:08] eed3si9n commented on #3108
Our Bintray repositories are operational again. This was apparently caused by our transfer usage quadrupling recently. We will figure out the long term plan going forward.

[2017-04-17 22:08] #3108 closed, assigned to eed3si9n

[2017-04-18 06:23] fommil commented on #2571
Is only relevant for huge projects. I don't work on a huge project anymore so my motivation is quite low. Try out the biggest project you can find any look at the heap size portion by String. On Windows for extra points.

[2017-04-18 09:00] dwijnand commented on #2571
By big I assume we mean in terms of number of projects. Akka and Scala.js are builds with lots of projects.

[2017-04-18 09:01] jvican commented on #2571
If this is the case I may be able to test with Scala Meta, that has over 16 projects. But no Windows.

[2017-04-18 09:06] fommil commented on #2571
VirtualBox Windows 7 image? I have one you're welcome to.

[2017-04-18 10:23] ignasi35 commented on #3102
Thanks @eed3si9n for the comment. I didn't open the issue no Giter8 in the first place since asking for that change could be considered as braking the current behaviour.

Actually, adding a third fallback to `https:` in Giter8 [here](https://github.com/foundweekends/giter8/blob/0edcc3540de4e59b0ba08fbac40b42da30427c38/library/src/main/scala/giter8/Git.scala#L47-L47) could do the trick. Opened: htt

[2017-04-18 11:19] jvican opened #3112 "Add `extract` to the state API"
This is a common sbt idiom:
[code]

I don't know the reasons why extract was added in `Project`, but my guess would be that it was done to make it binary compatible.

I think that this use case should be optimized, by adding `extract` directly into the state API. For newcomers unfamiliar with the sbt API, it is difficult to find `Extracted` and that you can get it via the methods in the `Project`

[2017-04-18 13:11] jvican opened #3113 "Add sbt-doge implementation upstream"
The following paragraph appears in the README of sbt-doge:
[code]

That suggests that the current implementation upstream is incorrect. In my view, sbt-doge is one of the most used sbt plugins, especially in big Scala projects.

I suggest that we merge its implementation upstream now that we can :smile:.

[2017-04-18 13:18] Duhemm commented on #3113
I think this has already been done in https://github.com/sbt/sbt/pull/2613

[2017-04-18 13:19] jvican commented on #3113
Oh, great, thanks for the pointer @Duhemm! Great to see it merged, we should add this to the feature list in sbt 1.0. Closing.

[2017-04-18 13:19] #3113 closed, assigned to nobody

[2017-04-18 15:08] SoboLAN commented on #2650
I have the same issue after upgrading to `0.13.12`.

Are there any news about this?

[2017-04-18 16:37] #3111 closed, assigned to dwijnand

[2017-04-18 19:00] SethTisue opened #3116 "debugging output when running tests in sbt 1.0.0-M5"
when I run my ScalaTest tests I see:

[code]

I'm using Scala 2.12.2 and ScalaTest 3.0.2.

[2017-04-18 19:01] SethTisue opened #3117 "regression: ScalaTest tests are double-discovered in sbt 1.0.0-M5"
so e.g. with 0.13.15 I just see:

[code]

but with 1.0.0-M5 I see:

[code]

[2017-04-18 21:02] fernandoracca commented on #2997
offering the choice to select the resolver --resolver=coursier and --resolver=ivy looks good.
I'd make coursier the default, and only resort to ivy if found to be an issue. This should drive the adoption faster.

[2017-04-18 23:20] srednal opened #3119 "exportJars incremental compiler failure with scala 2.12 and subprojects"
## steps
sbt 0.13.15, scala 2.12.1
sub project with exportJars
test:compile does not compile against the current version of main.

There is a project here:  https://github.com/srednal/sbtExportJarsSubprojects

From the sbt shell:

All should be good.
Then (without exiting sbt) change Thing.scala (i.e. rename def foo to def fox)

It does recompile (according to the log) but does not fail as expecte

[2017-04-19 00:48] minnsoe commented on #3108
Bintray is 403ing again. The brew formula for sbt pulls from bintray and `brew install sbt` is failing as a result.

[2017-04-19 02:35] #2739 closed, assigned to nobody

[2017-04-19 03:36] sarahgerweck commented on #3091
This _really_ shouldn't be a warning: it shows up even in things like `sbt run`. Can we please get a setting that we can put in `build.properties` and in our `~/.sbt` to permanently disable this?

I personally think this was an ill-advised feature. You do this in the docs, not as nagware. I already have a mother, I don't need my build system to scold me—especially if its message is that I'm suppos

[2017-04-19 06:20] eed3si9n commented on #3108
Homebrew is now switched to use GitHub Releases.

[2017-04-19 11:39] #3062 closed, assigned to nobody

[2017-04-19 11:41] olafurpg commented on #2994
I think the approach in #3122 is good, demote the severity of some verbose statements from info to debug. That's less radical than dropping logs.

[2017-04-19 11:55] jvican commented on #2994
Totally agree. @olafurpg Yes, I like the direction of that PR.

[2017-04-19 17:12] tpolecat opened #3123 "Not obviously possible to see scalac help in sbt"
So, I only use sbt and I haven't had scalac installed for years. This means I can't say `scalac -Xlint:help` to see the help options. I end up looking at scalac source which is ridiculous.

So, it would be nice if there were an easy way to get these help messages inside sbt.

It may be trivial but it's not obvious to me. I can `set scalacOptions += "-Xlint:help"` and then `console` and scroll back

[2017-04-19 17:13] tpolecat commented on #3123
x-ref https://github.com/scala/scala/pull/5402#issuecomment-295333016

[2017-04-19 17:20] eed3si9n commented on #3123
Maybe an input task that works like running `scala` Bash script from the terminal?

[code]

[2017-04-19 17:24] fommil commented on #3123
this is starting to sound a bit like the `ensimeCompileOnly` task, which I was hoping to allow to take extra params... and that would be generally useful for compiling one file too.

[2017-04-19 17:24] tpolecat commented on #3123
Yeah, that's not a bad starting point. Just bare scala with nothing from the build. I would be ok with that although it might end up being confusing and would attract feature requests like "add my project dependencies" and so on. Not sure what to do about that.

[2017-04-19 17:26] fommil commented on #3123
https://github.com/ensime/ensime-sbt/blob/2.0/src/main/scala/EnsimeExtrasPlugin.scala#L172-L195

imagine this could also parse inputs so the user can say

[code]

and, far superior if this was `compileOnly` (or `scalac`) built in to `sbt`, not just an ensime thing. The nice thing in Emacs is that the file path can be inserted automatically.

[2017-04-19 17:26] eed3si9n commented on #3123
If we delegate `scala` without input parameter to `console`, then it would actually include my project dependencies. I'd expect passing source files to work the same.

[2017-04-19 17:28] tpolecat commented on #3123
Right but then you have to decide what other stuff to pass right? Like, compiler plugins, scalacOptions (in which config?) etc. Seems like a recipe for confusion if there's `console` and `scala` that are superficially similar but not identical; or `scala` that behaves totally differently without args.

[2017-04-19 17:33] eed3si9n commented on #3123
Also the (input) task name `scala` gets confusing when we try to talk about it, so I'm open to suggestions. Some candidates:

- `scalaHelp`: don't accept `<file>` args, and require all args start with `-`. (defaults to `-help`)
- `compileOnly`: accepts `<file>` args and `-` options. (classpath is respected?)

[2017-04-19 17:41] fommil commented on #3123
@eed3si9n `compileOnly` uses exactly what `compile` uses, so `scalacOptions`, `classpath`, target output, etc, etc. It even has its own namespace so you can have extra (or less) flags for that target. I should have added the parser, it'd be so useful. e.g. to be able to see a file at various stages in the compile cycle (sometimes I want to see pre, sometimes post, typer)

[2017-04-19 17:43] fommil commented on #3123
option 1 should probably be `scalacHelp` (note the `c`) but my preference is for 2! You're welcome to lift our impl and tests wholesale from `sbt-ensime`, it's all Apache 2.0 (just needs a simple parser).

[2017-04-19 18:10] som-snytt commented on #3123
I have bash aliases that add options like `scalac -feature -deprecation` and `scala -Dscala.color`. Every so often, I want to test in isolation and I'm momentarily confused and annoyed because I forgot that I'm running under `-deprecation`. Similarly, if I'm running under sbt with various options set, sometimes I just want to run a compile with `-Xfuture` or `-Xlint:help` or what have you. `> comp

[2017-04-19 18:14] SethTisue commented on #2994
tasks run in parallel

[2017-04-19 18:17] John-Steidley commented on #3108
@eed3si9n "This was apparently caused by our transfer usage quadrupling recently."

This is probably related to the massive change in package size. `sbt-0.13.13.deb` is 1 MB, `sbt-0.13.15.deb` is 66.9MB.

[2017-04-19 18:59] olafurpg opened #3124 "ClassNotFoundException: xsbt.CompilerInterface"
I hit on an unexpected exception while trying to create an sbt-scalafmt plugin for sbt 1.0.0-M5.

## steps
(on OSX java version "1.8.0_102" and sbt 0.13.15)

- clone https://github.com/olafurpg/scalafmt/tree/sbt-1.0 (single commit https://github.com/scalameta/scalafmt/commit/4a5aa605321214e7474a8a3c0221179d8e178033)
- run `sbt scalafmtSbt1/compile`

[code]

## expectation
I expected the project to

[2017-04-19 19:49] dwijnand commented on #3123
Perhaps we should steal the scala/scalac/scaladoc/scalap commands in the scala/scala build and provide them out the box in sbt.

[2017-04-19 19:51] dwijnand commented on #3124
Does your setup include

[code]

?

[2017-04-19 19:57] olafurpg commented on #3124
Yes https://github.com/scalameta/scalafmt/commit/4a5aa605321214e7474a8a3c0221179d8e178033#diff-fdc3abdfd754eeb24090dbd90aeec2ceR107 but only for the `sbt-scalafmt1` project, not the `core` project which `sbt-scalafmt1` depends on. Should `scalaCompilerBridgeSource` be enabled in all projects that `sbt-scalafmt1` depends on?

[2017-04-19 20:00] olafurpg commented on #3124
I can confirm that adding

[code]
to the shared build settings resolves the issue. Thank you!

This could be a good entry to mention in the cross-building docs. Feel free to close this issue.

[2017-04-19 20:39] dwijnand commented on #3124
Perhaps we should advise to set `sbtVersion := "1.0.0-M5"` rather than `sbtVersion in Global := "1.0.0-M5"`...

[2017-04-19 20:41] jvican commented on #2994
@SethTisue not necessarily, tasks can be run sequentially. It depends on your build graph.

[2017-04-19 23:27] jeffrey-aguilera commented on #3091
Agree 100% with @sarahgerweck.  This warning is just plain annoying and not very reliable.

[2017-04-19 23:59] Locke commented on #2931
It has been with 0.13.15 which is why I discovered this issue / the change.

I'm using Debian and I'm not using OpenJDK, but Oracles Java provided by webupd8team (`oracle-java8-installer`, which provides java8-runtime-headless). As sbt now explicitly depends on `openjdk-8-jdk` I'm forced to install OpenJDK although I already have another java installed.

@eed3si9n Is it possible to relax the depen

[2017-04-20 02:22] eed3si9n commented on #2931
@Locke There's a new issue on this https://github.com/sbt/sbt/issues/3105. Please comment there.

[2017-04-20 03:33] eed3si9n opened #3126 "sbt new command does not accept newline character"
## steps

Using sbt 1.0.0-M5

1. `$ sbt new sbt/scala-seed.g8`
2. `name [My Something Project]: hello-world`

## problem

When I hit return key it displays `^M`, and does not enter.

## expectation

Return key works.

[2017-04-20 03:49] dwijnand opened #3127 "Run `doc` in CI, to catch scaladoc issues"
h/t to @fommil for the idea.

This depends on #2812 ("Errors running sbtRoot/compile:doc") to be fixed first.

# Mentoring Instructions

## Links

sbt's Travis CI is split into a matrix of CI, which is found at:

https://github.com/sbt/sbt/blob/1d7b35bd67722511b9a058113e7a1070984e6758/.travis.yml#L31-L45

## Solution

The solution is to either add a new matrix entry of `doc` or add `doc` to one of

[2017-04-20 05:17] hongxuchen opened #3128 "sbt 0.13.14 and 0.13.15 conflict with GNU readline vi-command settings"
## steps

- install GNU readline (available on Linux distributions by default, or manually on Mac OS X)
- create `~/.inputrc` and put these lines inside:

[code]

- change content of `project/build.properties` to

[code]

## problem

run sbt inside the project and it would firstly enter into vi-command mode, which means I have to press keys like `i`/`a` to get into vi-insert mode; and each time a

[2017-04-20 05:36] eed3si9n commented on #3124
Without `in Global` you'd get another error.

I've created instruction page here - http://www.scala-sbt.org/1.0/docs/Cross-Build-Plugins.html

[2017-04-20 05:36] #3124 closed, assigned to nobody

[2017-04-20 06:48] olafurpg commented on #3124
@eed3si9n Those docs should mention that `scalaCompilerBridgeSource` needs to be set in all projects in the build that the sbt plugin depends on, not only the sbt plugin settings. That was the cause of confusion for me in this issue, see https://github.com/sbt/sbt/issues/3124#issuecomment-295415844

[2017-04-20 07:03] eed3si9n commented on #3124
Changed the instruction a bit to cover that case:

[code]

https://github.com/sbt/website/commit/b4ba9440c5d3244091cec59039af8572bc61babe

[2017-04-20 07:11] eed3si9n commented on #3107
So this is an interaction between Scala JS and Coursier? I'm not sure what sbt can do if the error is caused by the rewired `update` task.

[2017-04-20 07:11] #3107 closed, assigned to nobody

[2017-04-20 08:34] eed3si9n opened #3129 "[sbt 1.0.0-M5] console task doesn't work"
## steps

Using 1.0.0-M5, Scala 2.12.2:

[code]

## problem

[code]

## expectation

It works.

[2017-04-20 08:44] zoosky commented on #1605
@eed3si9n What is needed to fix this?

[2017-04-20 08:48] eed3si9n commented on #1605
@zoosky Any research into what component is broken would be helpful.
Is the launcher that launches sbt broken or the Ivy part that's used for `update`?

[2017-04-20 08:53] zoosky commented on #1605
@eed3si9n I see the issue when sbt downloads libraries from repositories. It can't find the intranet nexus. Is this in Ivy?

[2017-04-20 08:55] eed3si9n commented on #1605
Yes. That portion is Ivy, and it's relatively easier to tackle than updating the launcher.

[2017-04-20 08:57] eed3si9n commented on #1605
For example, if you use alternative dependency resolver Coursier (uses OkHttp internally iirc) would you still see the issue?

[2017-04-20 08:57] zoosky commented on #1605
@eed3si9n I'll try Coursier, seems easier than fixing upstream Ivy.

[2017-04-20 09:12] zoosky commented on #1605
@eed3si9n just tried with sbt-coursier 1.0.0-RC1. Nice, but does not solve the issue. It can't find the POM URL because it goes out via proxy.

[2017-04-20 17:38] eed3si9n commented on #3030
Here's a workaround.

### project/Root.scala

[code]

### usage

[code]

[2017-04-20 19:08] Locke commented on #3105
My intuition tells me that the removal of the dependency shouldn't be done (if there is a feasible alternative) as it a) might confuse new users who can't launch their freshly installed sbt as they have to manually install java and b) affects migrating users from 0.13.x to 1.0 who might have an incompatible java version for scala 2.12.x and won't see the conflict right at the installation time.

(

[2017-04-20 19:24] eed3si9n commented on #3105
sbt relies on having a locally installed Java compiler, so it should be a JDK if we depend on anything.

[2017-04-20 19:32] manjuraj commented on #1518
+1

[2017-04-20 19:35] aakashsa commented on #1518
+1

[2017-04-20 22:42] vramana commented on #3050
@smarter That work around doesn't work for me. I even tried removing .sbt and .ivy2 folders. Am I missing something?

[2017-04-20 22:52] eed3si9n commented on #3050
Please try Git cloning to another directory.

[2017-04-21 04:29] vramana commented on #3050
It's fixed now. But I don't exactly know it got fixed.

[2017-04-21 09:42] smarter commented on #3050
If you're using bash, by default `**` only goes one level deep, you need to enable globstar or use some other techique to recurse into subdirectories like:
[code]

[2017-04-21 12:23] pauldraper opened #3131 "Warning: invalid system property"
SBT 0.13.15, Linux

[code]

Moreover, the system property `foo` is not set in process.

[2017-04-21 16:05] #2944 closed, assigned to eed3si9n

[2017-04-21 16:13] stink0r commented on #2044
The previous one from "cweinreben" actually worked for me on Win10 x64, thank you! But for others: Watchout the invisible whitespaces after "maven-central", and remove them – then it works!

[2017-04-21 17:51] eed3si9n commented on #2619
Now that sbt 1.0.0-M5 is out and I'm cross building a few plugins from 0.13, I find sbt-cross-building to be extremely useful (mine is locally patched with https://github.com/jrudolph/sbt-cross-building/pull/36). Using sbt-cross-building, I can keep the plugin source intact from 0.13 and cross publish.

The milestone "1.0.0" could be interpreted as "before 1.0.0 ships", but if we port this it shou

[2017-04-21 20:47] eed3si9n opened #3132 "[sbt 0.13.15] += interference with sbt-buildinfo"
originally reported by @corruptmemory

## steps

[code]

## problem

[code]

## expectation

Works.

## workaround

A likely workaround for sbt 0.13.15 is:

[code]

## notes

This is likely caused by https://github.com/sbt/sbt/pull/2943.
buildInfoKeys takes a Seq of `BuildInfoKey.Entry[_]`.

[code]

There's an implicit that goes from `SettingKey[A]` to `Entry[A]` here - https://github.com/sbt/sbt-

[2017-04-21 22:02] dwijnand commented on #3132
Looks like no one's ever written that: https://github.com/search?q=%22buildInfoKeys+%2B%3D+gitHeadCommit%22&type=Code&utf8=%E2%9C%93

[2017-04-21 22:49] corruptmemory commented on #3132
Depends on where you look: https://github.com/typesafehub/example-code-service/blob/master/build.sbt#L58 ;-P

This is so we can do sanity checking: http://example.lightbend.com/info
Highly recommended. :-)

[2017-04-22 08:34] eed3si9n commented on #3063
I've written out the release notes - http://www.scala-sbt.org/1.0/docs/sbt-1.0-Release-Notes.html and there's now https://github.com/sbt/sbt/pull/3133 to help cross build plugins, so I'm closing this issue.

[2017-04-22 08:34] #3063 closed, assigned to nobody

[2017-04-22 09:50] eed3si9n commented on #3091
Due to JIT (and startup time of sbt itself too I assume), there's a significant difference in compiler performance if you keep the sbt shell around, so I think it warrants displaying a message to let people know that running batch mode is slower.
See https://twitter.com/eed3si9n/status/837585213563801600

Here are the some changes I suggest:

- The message should be reduced to `[info]` level since

[2017-04-23 04:59] eed3si9n opened #3136 "`skip in publish`"
I propose that we implement a flag named `skip in publish` to mark a subproject as non-publishing.

## steps

[code]

## expectation

`publish`, `publishLocal`, and `publishSigned` will opt out of publishing action.

## note

This allows me to install sbt-pgp plugin as a global plugin, but still opt out of publishing.

[2017-04-23 09:44] olafurpg commented on #3136
Note. This would also be useful for sbt plugins that use synthetic projects.

[2017-04-23 11:39] dwijnand commented on #3136
How is this different to `publishArtifact`?

[2017-04-23 18:16] rmcloughlin commented on #2787
A similar problem arises when one tries to set these values via SBT_OPTS:

[code]

[2017-04-23 18:54] smarter commented on #3012
This is actually more of a problem than I thought it was because it requires adding an extra resolver when depending on dotty: https://github.com/lampepfl/sbt-dotty/blob/60b1bad8bf25d5cb4ed87ae73ec3c1409f3b8ecb/src/main/scala/com.felixmulder.dotty.plugin/DottyPlugin.scala#L55-L56

[2017-04-23 22:20] #3132 closed, assigned to eed3si9n

[2017-04-23 23:32] ShaneDelmore opened #3137 "Use cross instead of (or in addition to) +"
The answer to "How do I cross publish" could be:

[code]

[2017-04-23 23:35] eed3si9n commented on #3137
I support providing English names for symbolic commands like `+`.

[2017-04-24 00:25] japgolly opened #3138 "sbt-api: Unhandled type class scala.reflect.internal.Types$MethodType"
## steps
Compile this:
[code]

## problem
SBT emits warning:
[code]

## expectation
No warning.

## notes
Using SBT 0.13.15 & Scala 2.12.2.

[2017-04-24 05:05] vincent-fuchs opened #3139 "exclamation mark in password is swallowed by sbt.bat"
## steps

I have configured my proxy related config in sbtconfig.txt - my password contains an exclamation mark

    -Dhttps.proxyHost=myProxy
    -Dhttps.proxyPort=8080
    -Dhttps.proxyUser=vincent
    -Dhttps.proxyPassword=MyPasswordHas!ExclamationMark

## problem

When I launch sbt and check the logs, I see the exclamation mark has disappeared :

    setting 'https.proxyPassword' to 'MyPasswor

[2017-04-24 07:34] dwijnand commented on #3137
It would have to be `sbt "cross publish"` though..

[2017-04-24 14:28] ShaneDelmore commented on #3137
Or, if you don't want to receive warnings about using sbt shell:
sbt
Cross publish

[2017-04-24 20:39] jvican commented on #3136
Same question. I've been using `publishArtifact` quite a lot to denote that something should not be published, and I'm using that to skip the execution of publishing tasks in sbt-release-early.

The following [SO thread](http://stackoverflow.com/questions/8786708/how-to-disable-package-and-publish-tasks-for-root-aggregate-module-in-multi-modu/37072580#37072580) mentions a misbehaviour of `publishA

[2017-04-24 20:44] jvican commented on #3063
Can we please add some of those in an independent plugin maintenance website?

I also suggest that the changes explained there follow a tutorial-like style, illustrating with examples how things should be rewritten (or at least the most important ones).

What I would find more useful is a clear distinction between syntactic changes and semantic changes. I think that nailing these sections down wou

[2017-04-24 20:45] eed3si9n commented on #3136
See http://www.scala-sbt.org/0.13/docs/Artifacts.html for how `publishArtifact` is used.
It's used as a flag along with configuration and task scoping to denote certain artifacts are published.

[code]

Changing `publishArtifact := false` at the subproject scoping simply means by default you don't want to publish something, but its power will be nullified the moment there are more scoped setting g

[2017-04-24 20:47] jvican commented on #3136
I feel that if we go this route, we should have a rewrite to replace:
[code]

by `skip in publish := true`.

Therefore simplifying the whole machinery necessary to disable publishing in projects.

[2017-04-24 20:50] dwijnand commented on #3136
I don't understand what this means.

[2017-04-24 20:51] eed3si9n commented on #3136
[code]

then when the publisher looks for `publishArtifact in (Compile, packageBin)`, it'll evaluate to `true` regardless of the subproject-scoped value of `publishArtifact` says.

[2017-04-24 20:55] dwijnand commented on #3136
That looks fine to me.

We already suffer from "in compile in Compile in COMPILE". I don't think we should add a `skip in publish := true` when we already have a very similar `publishArtifact := false`.

[2017-04-24 21:00] jvican commented on #3136
If `publishArtifact` should stop any artifact from being published (and the misbehaviour i've mentioned before is indeed a misbehaviour and ivy files should not be created), I believe that we should reuse it to skip publishing.

The case where `publishArtifact` gets redefined after all the settings have been applied is a configuration issue that deserves a fix at the root of the problem.

However,

[2017-04-24 21:01] eed3si9n commented on #3136
Another benefit of `skip in publish` is that it can be introduced into 0.13 safely.

[2017-04-24 21:21] dwijnand commented on #3136
Also I'd say it's unintuitive that `skip in publish` doesn't just affect `publish` but also `publishLocal`, `publishSigned` etc.

@jvican WRT that ivy files issue I hope to have a chance to merge `publish` and `deliver` into just `publish` - see https://github.com/sbt/sbt/issues/2088#issuecomment-249866091.

[2017-04-24 21:23] eed3si9n commented on #3136
Using the Ivy / sbt 0.13 semantics of the term _artifact_, `publisArtifact := false` publishing `ivy.xml` I think is by design, not a bug. This is because artifacts are just files associated with modules in Ivy, but `ivy.xml` (called "module descriptor" by [Ivy](http://ant.apache.org/ivy/history/latest-milestone/terminology.html#module)) is considered to be part of the module itself, which can den

[2017-04-24 21:29] jvican commented on #3136
This is true for any task that depends on another task that is a no-op, right? If `publishLocal` wouldn't depend on `publish`, this wouldn't happen. I think this is fine :smile:. In the case of `skip in compile`, if you have a custom task `compileRemotely` that depends on a skipped `compile`, you would expect `compileRemotely` to do nothing.

Looking forward to it.

Yes, this is why i suggested th

[2017-04-24 21:35] eed3si9n commented on #3136
In Ivy (and in sbt 0.13 by extension), a module consists of descriptor (which denotes dependencies, configurations, and list of artifacts) and artifacts (actual files). `publish` means publish the module, which results to publishing both the descriptor and the artifacts. From the sbt's point of view, if you don't want things published, `publish` should not be called at all.

Since it's convenient

[2017-04-24 21:39] NicolasRouquette commented on #1788
It would be nice to have support for resolving dependencies from Eclipse P2 repositories.

Like @DavidPerezIngeniero, I tried sbt-osgi-manager. While this approach works at the SBT shell, IDEs like IntelliJ IDEA don't know about the SBT commands/tasks required to resolve the OSGi dependencies; which means that there is no good IDE support for such dependencies!
(for details, see: https://github.co

[2017-04-24 23:53] jatcwang commented on #2787
What version of SBT launcher are you using? This should be fixed as of 0.13.14 (note the issue is in the launcher script I believe. setting the version in project/build.properties won't help)

[2017-04-25 02:02] rmcloughlin commented on #2787
This is with SBT 0.13.15.  The arguments are parsed correctly when they are defined as separate system properties.

This works fine:
`$ sbt -Dsbt.boot.realm='Sonatype Nexus Repository Manager'`

This does not:
`$ export SBT_OPTS=-Dsbt.boot.realm='Sonatype Nexus Repository Manager'`
`$ sbt`
`Error: Could not find or load main class Nexus`

[2017-04-25 08:26] jvican commented on #3030
I would suggest to add a new optional parameter to project called `root` and force users to do `root = true` from now on to any project that is supposed to be a root. I think we could have a better solution than exposing yet another project constructor called `rootProject` :wink:.

Then, I would hide completely those utils to get the projects reflectively, and even cache them. It does not seem a c

[2017-04-25 08:56] dwijnand commented on #3030
More cross-linking (:D) there's a feature request from @cunei for explicit indication of which project is the root/default project: https://github.com/sbt/sbt/issues/2789.

[2017-04-25 10:50] dwijnand commented on #2985
The minimal workaround is `touch src/main/scala/scratch.scala` and then `compile`.

[2017-04-25 15:58] dwijnand commented on #2963
@ekrich Mind triaging this against 1.0.0-M5 and letting us know what its updated status is, please?

[2017-04-25 16:16] jvican opened #3140 "Scalafmt autoplugin messes up with incremental compilation"
## steps
Run `compile` and files will be formatted and compilation will kick in. Run `compile` again, and files will be compiled again, disabling incremental compilation.

## problem
Scalafmt autoplugin does not enable code to be incrementally compiled.

## expectation
The second time I run `compile`, no files are compiled again since they already were.

[2017-04-25 16:22] ekrich commented on #2963
@dwijnand Works great - shell prompt comes back now - super!

[2017-04-25 16:24] dwijnand commented on #2963
woot! Thanks, friend.

[2017-04-25 16:24] #2963 closed, assigned to nobody

[2017-04-25 16:41] eed3si9n commented on #3140
This doesn't happen on my machine:

[code]

[2017-04-25 16:48] dwijnand commented on #3140
Oh interesting. It's working as intended for me too:

[code]

[2017-04-25 17:53] jvican commented on #3140
Interesting, I've hit onto this in sbt/zinc:
[code]

You can reproduce it by cloning this: https://github.com/scalacenter/zinc/tree/reformat-buggy. I've only added `.scalafmt.conf`, `AutomateScalafmtPlugin` and the scalafmt line in `plugins.sbt`.

[2017-04-25 21:29] eed3si9n opened #3142 "[sbt 0.13.15] calling compile twice causes full compilation on JDK9"
Originally reported by @smarter

## steps

1. compile
2. compile

## problem

It causes full compilation.

## expectation

No compilation the second times.

## notes

https://gist.github.com/eed3si9n/8ee47e2e5dafaa5ef9f00833679a0a0b

[2017-04-25 21:36] smarter commented on #3142
Some more information:
1. As far as I can tell, this does not happen with sbt 1.0.0-M5, something must have changed in zinc but I don't know what.
2. I think this happen because incremental compilation somehow cares about the Scala bootclasspath containing the JVM bootclasspath, otherwise it gets confused and say something like `[debug] [naha] Invalidating /root/.sbt/0.13/java9-rt-ext-oracle_corpo

[2017-04-25 21:39] OlegYch commented on #3110
another sample:

[code]
http://scastie.org/30771

[2017-04-25 21:44] avakhrenev commented on #3090
It appears that jar files themselves are fine, it is access pattern to them that is wrong. Workaround is to restart sbt - after that everything works as expected.

During recompilation cycle, `ZipFile.getInputStream(ZipEntry)` sometimes returns null, which is not expected in `scala.reflect.io.ZipArchive`.

There are several probably related issues: #3119, scala/bug#9682.

[2017-04-25 22:54] jvican commented on #2241
What do you mean by your last comment @eed3si9n ? It's not clear to me whether this is a bug or not, and if it is what's failing. Can you please elaborate?

[2017-04-25 22:59] eed3si9n commented on #2241
At the time `excludeDependencies` was introduced it was treated as an experimental feature without full Maven compatibility. Since then @dwijnand has added support to pom.xml in #2035

[2017-04-25 23:10] jvican commented on #2241
Any reason why this isn't closed then?

[2017-04-25 23:11] eed3si9n commented on #2241
Probably an oversight. We can close this.

[2017-04-25 23:11] #2241 closed, assigned to nobody

[2017-04-26 10:01] dwijnand commented on #3142
/cc @retronym.

[2017-04-26 12:27] jvican commented on #1518
Hello everyone and thank you for your patience!

The Scala Center has contributed a fix for this here: https://github.com/sbt/librarymanagement/issues/88. It will be merged in 1.0. That PR depends on a big pending PR reformatting all the sources, so don't get scared when you see the diff. The actual fix is [this commit](https://github.com/sbt/librarymanagement/pull/88/commits/c5b7245314f7eb9f1a4c9

[2017-04-26 12:33] jvican commented on #3140
After tracking this down, I've realised this happens because `SbtScalariform` is enabled by default in `librarymanagement` and `zinc`. I'm closing this, but the PR will be updated with a better formatting workflow IMO.

[2017-04-26 12:33] #3140 closed, assigned to nobody

[2017-04-26 17:53] tlockney commented on #1518
@jvican that's great news! Very much looking forward to seeing this commonly encountered, but tricky to recognize scenario getting resolved. Makes me all the more excited to see 1.0 come to life!

[2017-04-26 19:17] koertkuipers commented on #2987
i find this feature annoying.

if i run "sbt clean test publish" then i know what i am doing, and i do now want me accidentally hitting an extra [ENTER] to put me in interactive mode.

i is especially bad when the sbt call is part of a larger script. i have various bash scripts that automatically build multiple projects, and now they sometimes manage to enter interactive mode at times (i am guessi

[2017-04-26 19:22] eed3si9n commented on #2987
@koertkuipers There's a discussion going on in https://github.com/sbt/sbt/issues/3091 on how to improve the implementation. Could you repost your comment there please?

[2017-04-26 19:23] koertkuipers commented on #2987
@eed3si9n okay i will repost there. thanks

[2017-04-26 19:29] koertkuipers commented on #3091
i too find this new batch mode warning annoying. not so much the warning itself (i can live with the extra text) but the fact that by accident hitting [ENTER] puts me in interactive mode. this makes batch/scripting usage more difficult as others have mentioned before me.

[2017-04-26 20:44] jvican commented on #3137
I support this feature as well, `+` can be misleading for beginners.

[2017-04-26 20:45] jvican commented on #3127
This could be a Scala Center spree ticket. Are you gonna be in Scaladays Chicago @dwijnand ?

[2017-04-26 20:49] jvican commented on #3090
Great @avakhrenev, thanks for the thorough research!

I am still not sure whether this is a problem of sbt or Scalac. #3119 shows how Scala 2.11 works fine... so maybe a change in 2.12 upstream causes a misinteraction between sbt and the compiler.

/cc @retronym @lrytz Do you know something about this? Any idea what could be the regression in Scala 2.12?

[2017-04-26 22:05] toby5box commented on #3105
I'm also hit by this change. Previously I was using `openjdk-8-jdk-headless` as JDK, but the .15 deb won't install against it. (I'm starting from the Docker image for `jessie-backports`.)

[2017-04-26 22:13] eed3si9n commented on #3105
Unless someone can provide me a definitive guide on how to depend on JDK without messing up Trusty etc. I think I'll go with removing the requirements.

[2017-04-26 22:16] eed3si9n commented on #3105
See also https://github.com/sbt/sbt/issues/2931:

[2017-04-26 22:32] cchepelov commented on #3105
How about simply Recommend'ing that? or maybe a Depends: java8-sdk-headless (which default-jdk-headless provides which in turn pulls in openjdk8 unless some other implementation Provides java8-sdk-headless?)
    #untested just pulled from APT metadata on a stretch laptop

[2017-04-26 22:34] eed3si9n commented on #3105
http://packages.ubuntu.com/hu/xenial/java8-sdk-headless lists openjdk-9-jdk-headless.

[2017-04-26 22:35] eed3si9n commented on #3105
So you either already have your favorite JDK (including that from Oracle) or sbt will pull in something we don't currently support very well.

[2017-04-26 22:46] jvican commented on #590
This has been implemented by the Scala Center here: https://github.com/sbt/librarymanagement/pull/90.

[2017-04-26 23:41] fommil commented on #3105
a temporary workaround is to use `sbt-extras`. And use `jenv` to manage java versions.

[2017-04-26 23:52] cchepelov commented on #3105
ouch, yes, java9 would be pushing it I guess

[2017-04-27 00:15] eed3si9n commented on #3105
ok. I published 0.13.15.2. Hope this works.

[2017-04-27 00:15] #3105 closed, assigned to nobody

[2017-04-27 07:15] ganeshkaspate commented on #2156
I am getting this error - Could not create file /target/streams/compile/run/$global/streams/outjava.io.IOException: Too many open files . Is this the same problem ?

[2017-04-27 07:18] lrytz opened #3143 "Memory leak when switching version"
## steps

[code]

## problem

In the beginning, sbt switches through versions quickly, but it gets slower and slower, and around 2.11.8 or 2.11.9 it's stuck.

I took a heap dump in YourKit. There's 422 MB (865 MB retained size) of `scala.collection.immutable.::`, I looked at a few objects, they seem to be lists of `sbt.Init$Setting`. There's 84 MB of `sbt.Init$Setting` (440 MB retained size).

![i

[2017-04-27 08:11] outime commented on #3108
It's happening again.

[2017-04-27 08:12] dwijnand commented on #3127
Copenhagen*, and yes I will. Labelled.

[2017-04-27 09:17] asdreno commented on #3108
Getting a 403 when trying to access: https://dl.bintray.com/sbt/sbt-plugin-releases/com.typesafe.play/sbt-plugin/scala_2.10/sbt_0.13/2.5.14/ivys/ivy.xml

[2017-04-27 09:20] omervk commented on #3108
+1. Trying to get https://dl.bintray.com/sbt/native-packages/sbt/0.13.13/sbt-0.13.13.zip 403's.

[2017-04-27 09:24] zoltanmaric opened #3144 "https://dl.bintray.com/sbt/debian/Release not publicly accessible"
Hi everyone! My `sudo apt update` command fails because this file is not publicly accessible (it returns `403 Forbidden`).

## steps
run `sudo apt update` on Ubuntu 16.04
the command fails with
[code]

## problem
https://dl.bintray.com/sbt/debian/Release is not publicly accessible

## expectation
https://dl.bintray.com/sbt/debian/Release is publicly accessible

## notes

[2017-04-27 09:39] dwijnand commented on #3144
This root cause is tracked in #3108.

[2017-04-27 09:39] #3144 closed, assigned to nobody

[2017-04-27 09:41] dwijnand commented on #3143
Thank you very much for the very minimised reproduction, @lrytz.

[2017-04-27 09:43] jhoffma commented on #3108
Hey guys! Pls do something with it. Can't download https://dl.bintray.com/sbt/sbt-plugin-releases/com.github.gseitz/sbt-release/scala_2.10/sbt_0.13/1.0.3/jars/sbt-release.jar. My CI is failing...

[2017-04-27 09:43] dwijnand commented on #3143
Btw, we've run into this problem (pretty sure it's this root cause) ourselves in sbt/zinc: https://github.com/sbt/zinc/commit/d5d59b6f4c563a5f9aa5d095295b93b912b90cf3.

[2017-04-27 10:14] kpmeen commented on #3108
this is starting to become really troublesome :-(

[2017-04-27 10:55] jvican opened #3145 "Document how to build projects from source and its deficiencies"
I see in https://github.com/sbt/sbt-bintray/issues/86 that it's possible to build projects from source, but I was not aware of this feature. @dwijnand has told me that this feature was added years ago, but it's been experimental and thus undocumented.

I think this is a pretty awesome sbt feature and I see myself investing some time in the future to make it stable.

However, I think that for us to

[2017-04-27 10:58] omervk commented on #3108
Looks like it's working at the moment

[2017-04-27 11:02] dwijnand commented on #2278
I was convinced to have opened the same feature request. I felt this need too at one point.

[2017-04-27 11:16] dwijnand commented on #3145
There is a feature _request_ of "build projects from source", but there are different sbt features available to satisfy that request.

Specifically:

* RootProject's support for git URLs, and
* ProjectRef

One limitation I'm aware of for RootProject has something to do with it not git pull'ing - basically the caching problem. I'm not sure if there's an existing issue report for that.

The limitati

[2017-04-27 11:42] dwijnand opened #3146 "Upgrade the keys in Keys to the macros in Def"
This would reduce verbosity and enforce the code-name/runtime-name invariant.

[2017-04-27 11:54] dwijnand commented on #3146
Most of them won't translate because the macro doesn't allow for the key rank to be defined, and Keys does define ranks for them.

[2017-04-27 14:14] jvican commented on #3143
Thank you for the report @lrytz. Indeed, I knew something was wrong here when we run into https://github.com/sbt/zinc/commit/d5d59b6f4c563a5f9aa5d095295b93b912b90cf3. I've also had several related issues locally, when abusing `so` from `sbt-doge`.

I'll have a look at this if someone doesn't beat me to it.

[2017-04-27 14:15] jvican commented on #3137
@ShaneDelmore Would you contribute this feature? It seems approachable, and now that we have formatted the sources I can tell you from personal experience that the codebase reads much nicer!

[2017-04-27 14:28] lespea commented on #2156
@ganeshkaspate if you're on linux you probably have to bump the file handle limit: https://unix.stackexchange.com/questions/36841/why-is-number-of-open-files-limited-in-linux

[2017-04-27 14:29] ShaneDelmore commented on #3137
Sure.  I may not be able to get to it for a couple of weeks but go ahead and consider it assigned to me.

[2017-04-27 15:40] #2619 closed, assigned to nobody

[2017-04-27 16:28] #3050 closed, assigned to eed3si9n

[2017-04-27 16:36] dwijnand commented on #2778
https://github.com/scala/scala-dev/issues/139 is the Scala ticket about support JDK 9 in general.

Also @smarter reports on sbt/zinc-contrib that:

[2017-04-27 17:21] #3097 closed, assigned to dwijnand

[2017-04-27 17:21] #3091 closed, assigned to dwijnand

[2017-04-27 18:22] jeffreyolchovy opened #3148 "sys.error message suppressed (after streams.value invocation)"
The following behavior has changed between 0.13.13 and 0.13.15:

## steps
Given a build definition as follows:
[code]

When each task is executed using sbt 0.13.15, the following output is observed:
[code]

When each task is executed using sbt 0.13.13, the following output is observed:
[code]

## problem
In sbt 0.13.15, once `streams.value` has been invoked, the error message passed to `sys.error`

[2017-04-27 18:31] eed3si9n commented on #3148
Thanks for the detailed report.

[2017-04-28 09:26] jannylund opened #3150 "JUnitXmlTestsListener doesn't follow recommendations for filenames"
JUnit XML output doesn't prepend files with `TEST-` as per JUnit recommendation.

## steps
Create a new application with at least one test class, like `com.example.HelloWorld`
Run `sbt test`

## problem
The JUnit xml file will be named `com.example.HelloWorld.xml`. This causes tools like SonarQube or Jenkins to not be able to pickup the files unless we first rename them.

The code in [JUnitXmlTest

[2017-04-28 09:54] dwijnand commented on #3091
@koertkuipers thanks for your feedback. I've opened https://github.com/sbt/sbt/pull/3153 to remove the [ENTER] feature, targeting sbt 0.13.16.

[2017-04-28 16:35] richhx commented on #882
Even with `concurrentRestrictions in Global += Tags.limit(Tags.Test, 1)`, I've noticed that our tests still run in parallel. The only way I've made it not run in parallel is to set `parallelExecution in Global := false`. And although it's only a little bit slower and avoids any race conditions, like said before, this just seems to mask the issue. Is anybody else seeing this issue? Maybe this is re

[2017-04-28 17:12] dwijnand commented on #2668
WRT to this issue of sbt 0.13.15 you get startup warning, in sbt 0.13.16 it'll look like this:

![image](https://cloud.githubusercontent.com/assets/344610/25539249/34cee046-2c3e-11e7-8d62-b66baf5ca4bf.png)

[2017-04-30 16:15] gzoller commented on #882
Yes, I see it now.  I wasn't aware that Console redirection can be thread safe, and it is, so that's no problem.  I'll rework this PR to be a simple documentation tweak with an example.

Carrying the philosophy forward, maybe it's worth a bit more abstracting where any output string is rendered so it can be overridden?  I'm thinking about the possibility of using console color markup templates, li

[2017-04-30 17:06] jameskoch opened #3154 "ScalaTest nested suites reported as "(It is not a test)" in JUnitXmlReportPlugin reports"
[ScalaTest nested suites](http://doc.scalatest.org/2.0/index.html#org.scalatest.Suites) don't report useful test names in XML reports.  Each is reported as ["It is not a test"](https://github.com/sbt/sbt/blob/1.0.x/testing/src/main/scala/sbt/JUnitXmlTestsListener.scala#L79).

Similar to:

1. https://github.com/scalatest/scalatest/issues/780
2. https://github.com/JetBrains/sbt-tc-logger/issues/8

[2017-04-30 20:29] cornim opened #3156 "compile dependencies not loaded onto managed classpath"
## steps

start sbt with the following build.sbt

[code]

run `sbt` and then in the console
run `show update` and `show managedClasspath`

## problem

When running `show update` the following compile dependencies are listed:

[code]

but when running `show managedClasspath` the output is

`[info] * Attributed(/home/corni/.sbt/boot/scala-2.10.6/lib/scala-library.jar)`

## expectation

The appengine

[2017-04-30 22:08] eed3si9n opened #3157 "<<= causes "exception during macro expansion: [error] java.lang.RuntimeException: Unexpected macro application tree""
## steps

Migrate sbt plugin with `<<=` to sbt 1.0.0-M5.

[code]

## problem

[code]

## expectation

The fact that it doesn't compile is fine.
The macro should display better error message with migration guide.

[2017-05-01 03:12] eed3si9n commented on #2812
There's a branch to work around this - https://github.com/sbt/sbt/tree/topic/generate_doc

[2017-05-01 03:45] eed3si9n commented on #2812
- sbt 0.13.13 docs - https://github.com/sbt/sbt.github.com/commit/01a8cf96a1ffc8deae4079b9175ef69a39ca3b1a
- sbt 0.13.15 docs - https://github.com/sbt/sbt.github.com/commit/f51385c88dce61fa7eae24a6a999720da03217f2

[2017-05-01 05:09] eed3si9n opened #3158 "[sbt 1.0] ForkOptions should be a pseudo case class"
## problem

https://github.com/sbt/sbt/blob/v1.0.0-M5/run/src/main/scala/sbt/Fork.scala

[code]

## expectation

This needs to be turned into a pseudo case class.

[2017-05-01 05:26] eed3si9n opened #3159 "[sbt 0.13] Consider backporting withXXX methods for ModuleID and Artifact"
## steps

1. Cross build plugins.

## problem

Using sbt 0.13.16-M1, plugins can now be cross built between 0.13 and 1.0.
One pattern that comes up is the lack of `.copy(..)` methods.
`ModuleID` came up a few times. https://github.com/sbt/sbt-pgp/pull/100/commits/d1bfc03931a873c27bea79f4b1b43f044210e688

## expectation

For `ModuleID` and `Artifact` it might make sense to "backport" the withXXX me

[2017-05-01 08:47] cornim commented on #3156
It is not a bug. To solve this issue one needs to
`classpathTypes += "maven-plugin"`
So I'm closing this bug report.

[2017-05-01 08:47] #3156 closed, assigned to nobody

[2017-05-01 16:21] jvican opened #3160 "Ignoring compilation errors in some scripted tests"
I've discovered this issue while hacking on https://github.com/sbt/sbt/pull/3151.

Non-compiling `build.sbt` or the scala files inside `project` whose `test` files only check the failure of commands report success when the miscompilation should report an error.

An example is `actions/task-cancel`, whose project and build files reference to `taskCancelHandler`. `taskCancelHandler` was renamed by J

[2017-05-01 17:07] jvican commented on #3160
`project-load/sha-config` is another example. It depends on `bintray-sbt` 0.2.1 which is not correctly resolved since bintray sbt does not exist for sbt 1.0.0-**SNAPSHOT**.

This increases the surface of this issue from "Non-compiling build.sbt or sbt scala files" to "Any test that produces an error at sbt initialization".

[2017-05-01 17:15] jvican commented on #3160
`project/defs` is another example. It uses a val extractor and however it's reported as successful:
[code]

[2017-05-01 20:25] jvican opened #3161 "Improve scripted error when test group does not exist"
## steps

Run `scripted foo/bar` when `foo` does not exist.

## problem

[code]

## expectation

A clearer error message that does not force the user to scroll up and figure out what's happening.

[2017-05-01 20:42] smarter commented on #3012
Fixed by https://github.com/typesafehub/sbt-republish/pull/15 .

[2017-05-01 20:42] #3012 closed, assigned to nobody

[2017-05-02 10:27] jvican commented on #3160
Another example: `source-dependencies/constants`.

[code]

In this case, we were swallowing a parser error.

`dependency-management/cached-resolution-conflicts` is also affected by the same issue. Scripted cannot parse `#\n`.

[2017-05-02 10:58] dwijnand commented on #3126
I can't reproduce the error:

[code]

[2017-05-02 11:12] graingert opened #3162 "github releases missing signatures"
(See the guidelines for contributing, linked above)

## steps
[code]

## problem

Fails with 404 on tgz.asc

## expectation
works as in:

[code]

## notes

please upload an asc.tgz to github releases

[2017-05-02 11:59] graingert opened #4920 "github releases missing signatures"
(See the guidelines for contributing, linked above)

## steps
[code]

## problem

Fails with 404 on tgz.asc

## expectation
works as in:

[code]

## notes

please upload an asc.tgz to github releases

See also https://github.com/sbt/sbt/issues/3162

[2017-05-02 11:59] graingert commented on #3162
moved to https://github.com/sbt/sbt-launcher-package/issues/162

[2017-05-02 12:00] graingert commented on #3162
actually this issue should be in this repo, despite refering to the launcher-package, because the tgz are hosted on this github repo.

[2017-05-02 13:18] jvican commented on #3160
Another example: `project/old-ops`. This one is important.

[2017-05-02 16:11] #1518 closed, assigned to nobody

[2017-05-02 18:55] jvican opened #3164 "Settings computation happens more than once"
I stumbled upon this issue while working on my scripted tests refactoring to speed them up. https://github.com/sbt/sbt/pull/3151

I've opened a pull request with a reproduction: https://github.com/sbt/sbt/pull/3163.

This is worrying because it's:

* Inefficient.
* Surprising.
* Incorrect -- settings may produce side effects.

I think the root of the problem is the `Project.extract` implementation

[2017-05-02 19:33] eed3si9n opened #3165 "[0.13.16] scalaVersion not working on sbt 0.13.16-M1"
## steps

https://github.com/scala/community-builds/pull/535

## problem

[code]

[2017-05-02 19:35] eed3si9n opened #3166 "migrate sbt/sbt to sbt 1.0.0-M5"

[2017-05-02 19:44] eed3si9n opened #3167 "Migrate InteractionService from sbt-core-next"
## steps

Migrate sbt-pgp.

## problem

InteractionService is missing in sbt 1.0.
See https://github.com/sbt/sbt-pgp/pull/100

## expectation

InteractionService should be there.

[2017-05-02 20:00] eed3si9n opened #3168 "Zinc API"
This is a placeholder for https://github.com/sbt/zinc/issues/79 so I can put it in a milestone.

[2017-05-02 21:38] dwijnand commented on #3159
I agree this is a good idea. It's great ROI and low risk.

[2017-05-02 22:44] dragos commented on #3143
I ran into this recently as well. Most time seems to be spent in appending lists:

<img width="1252" alt="screen shot 2017-04-20 at 11 49 57" src="https://cloud.githubusercontent.com/assets/133742/25642361/348801de-2f91-11e7-82b2-0ddc9350b0dd.png">

[2017-05-02 22:47] dragos commented on #3143
As a workaround we use `reload` between `+` commands, it seems to help. In my case I ran into the problem with 4 Scala versions already.

[2017-05-03 10:41] jvican opened #3170 "Unit tests are not deterministic"
Unit tests are not deterministic. There are race conditions that make some test cases fail from time to time. For instance, running `;safeUnitTests;otherUnitTests` produced the following spurious error locally:
[code]

We should find a solution to this.

[2017-05-03 12:37] jvican commented on #3170
An example in our CI: https://travis-ci.org/sbt/sbt/jobs/228286717#L2000.

[2017-05-03 12:53] jvican commented on #3165
Shouldn't the milestone be 0.13.16 instead of 1.0.0-M6?

[2017-05-03 15:46] eed3si9n commented on #3165
I'm putting this in "1.0.0-M6" to have a single todo list for the period.

[2017-05-04 11:03] #3129 closed, assigned to dwijnand

[2017-05-04 20:33] patrick-premont opened #3171 "Eviction warning not shown on update"
With the following build.sbt

[code]

using sbt 0.13.15

I would expect the `sbt clean update` to give the same eviction warning that is visible when I use `sbt evicted`, but it does not appear.

@eed3si9n, this is the issue you were able to reproduce.

[2017-05-04 21:45] eed3si9n commented on #3171
Thanks for reporting this. I added `    scalaVersion := "2.12.2",` in the above.

[2017-05-05 02:45] monktastic commented on #2787
@rmcloughlin have you tried `$ sbt "-Dsbt.boot.realm=Sonatype Nexus Repository Manager"`?

[2017-05-05 07:47] pcejrowski commented on #1583
@tjdett Hi, unfortunately code you provided does not work for me in SBT: 0.13.13
addSbtPlugin("com.github.gseitz" % "sbt-protobuf" % "0.5.5")
addSbtPlugin("com.eed3si9n" % "sbt-buildinfo" % "0.4.0")
`
managedSourceDirectories in Compile += target.value / "protobuf-generated"

PB.targets in Compile := Seq(
  scalapb.gen() -> (target.value / "protobuf-generated")
)
`

Could you correct the solution,

[2017-05-05 09:52] dwijnand opened #3172 "Fix "wrong way of collecting local definitions" macro bug"
See https://github.com/scala-js/scala-js/pull/946/files#r114956719

[2017-05-05 10:13] mgladdish commented on #1414
Really annoying that this is still open.

I don't want a CI log full of

`[info] Resolving blah blah blah`

but I most definitely do want to see a log full of

[code]

[2017-05-05 12:30] spockz commented on #3022
@aklosslp : that is a work-around. Ideally, it shouldn't be necessary.

[2017-05-05 13:15] aklosslp commented on #3022
Yes, it is, but it does show that when using a **URLClassLoader**, there is no deadlock, but when using SBT's classloader, there is.  To me, it appears that java 8 leaks classes into metaspace, so running tests without fork eventually results in out-of-memory.  There are, of course, lots of other ways to leak things outside the classloader SBT runs the tests in, so I'd prefer to not fork to surfac

[2017-05-05 13:42] eed3si9n commented on #3172
It would be good to test and transcribe the repro steps here.

[2017-05-05 23:47] briantopping opened #3174 "Deadlock between tasks when using `taskDyn`"
## steps
The gist at the end of http://stackoverflow.com/questions/43666506/sbt-discovering-previous-version-of-a-task captures the code for this. As it is currently written, a cyclic dependency is created when the taskDyn tries to (unsuccessfully) capture the original task dedicated to a `TaskKey`.

## problem
This code in 0.13.15, creates a deadlock. Adding `println` to the `taskDyn` causes the

[2017-05-06 12:27] ScalaWilliam commented on #3005
Still having a similar but reduced problem on 0.13.15:

[code]

[2017-05-06 15:46] eed3si9n commented on #3005
@ScalaWilliam

You need to run

[code]

[2017-05-06 16:31] jvican commented on #3009
This discussion seems settled. Given the roadmap of sbt 1.0 and its imminent release, I suggest to close this issue.

[2017-05-06 17:21] #3009 closed, assigned to nobody

[2017-05-07 02:50] ScalaWilliam commented on #3005
Ah I see, wasn't clear to me.

That's not going to work well form usability perspective, the point is to have a single command.
So this is the Docker image issue rather than an SBT issue.

[2017-05-07 03:24] ScalaWilliam commented on #3005
rsync thing is a great idea.

So I got it working like this [by forking](https://github.com/ScalaWilliam/scala-sbt-openjdk9) [Heiko's Docker image](https://github.com/hseeberger/scala-sbt):
[code]

[2017-05-07 10:39] jvican opened #3175 "Changing level of verbosity forces update"
## steps
1. `compile`.
2. `debug`.
3. `compile`.

## problem
The third `compile` will update again, even if the compiler interface has already been resolved and compiled. The cached compiler is not reused.

## expectation
The level of verbosity should not affect the `compile` task nor force a resolution update.

[2017-05-07 11:21] jvican opened #3176 "Server connection error when exiting forcefully in sbt 1.0"
(See the guidelines for contributing, linked above)

## steps
1. `sbt`.
2. <C-C> (exit from sbt without using exit).
3. `sbt`.

## problem
[code]

## expectation
Server can successfully start up because there are exit hooks that even in the event of a forceful exit, will shut down the server.

[2017-05-07 20:14] jvican opened #3177 "Enhancement: how to improve the use of scopes"
Given the pain that some users are experiencing to [customize their tasks](https://github.com/rbellamy/flyway-slick-codegen) (I must admit it took me a while to get around this too), I would like to start this ticket to see what we (Lightbend + Scala Center) can do to make the use of the scopes easier.

It's clear that good documentation is important, and thanks to @eed3si9n for this new addition:

[2017-05-07 23:04] eed3si9n commented on #3165
I think the root cause here is actually AutoPlugin ordering that @dwijnand fixed in scala/sbt-scala-modules#20 so I'm closing this for now.

[2017-05-07 23:04] #3165 closed, assigned to nobody

[2017-05-07 23:51] eed3si9n opened #3178 "Keep Global as scope, but rename Global as scope component to Zero"
## problem

While working on the [Scopes](http://www.scala-sbt.org/0.13/docs/Scopes.html) and [Scope Delegation](http://www.scala-sbt.org/0.13/docs/Scope-Delegation.html) document, I noticed that the term `Global` in sbt is used for two different meaning.

- One meaning is the universal fallback scope component.
- Second meaning is an alias for `GlobalScope` which contains `Global` on all three ax

[2017-05-07 23:55] eed3si9n commented on #3177
Here's one enhancement that I've been meaning to document https://github.com/sbt/sbt/issues/3178.

[2017-05-08 01:36] briantopping commented on #3177
If there was a contribution I could make, it would be a WebGL build visualizer of the form created at https://zygotebody.com. https://github.com/orfjackal/idea-sbt-plugin (if I got the right plugin) demonstrates extracting enough build information to get IntelliJ to understand what's in it. That information could be built into something, I'm sure.

Something like this would go a million miles to e

[2017-05-08 05:07] eed3si9n commented on #3126
Hmm. I can't repro it either.

[2017-05-08 05:07] #3126 closed, assigned to nobody

[2017-05-08 14:36] jvican commented on #2988
Java SemVer (normal semantic versioning) is the way to go IMO.

[2017-05-09 06:31] #3167 closed, assigned to eed3si9n

[2017-05-09 13:23] eed3si9n commented on #3177
Here's something that could improve the UX: Unify sbt shell and build.sbt syntax - https://github.com/sbt/sbt/issues/1812

[2017-05-09 14:17] eed3si9n opened #3183 "Warn on unused settings (or tasks) when they are marked secondary"
## problem

1. sbt will silently ignore unused settings.
2. Displaying warning for all unused tasks and setting will catch top level keys like `clean`.

[code]

## expectation

1. I can mark keys to be top level or secondary. (`keyUsage in (ThisBuild, foo) := Usage.Secondary`, probably tasks default to top level, and settings default to secondary.)
2. There's a `buildLint` command that warns on un

[2017-05-09 14:20] eed3si9n commented on #3177
Created case for `buildLint` command: Warn on unused settings (or tasks) when they are marked secondary  - https://github.com/sbt/sbt/issues/3183

[2017-05-09 14:29] jvican commented on #3177
I think #3183 is the king of the suggestions to improve UX of scopes. I'll submit a PR implementing it.

[2017-05-09 16:16] linjer opened #3185 "updateClassifiers fails to resolve javadocs & sources when target ivy config extends a private config"
This was originally posted to the sbt-dev Google group and is being moved here on request from Eugene.

Original thread here: https://groups.google.com/d/msg/sbt-dev/DTFcHXtrU00/82Pd1Ja1BgAJ

## steps

Checkout the branch `bad-ivy-robustness` which you can see here: https://github.com/linjer/sbt/commit/f937b075bbf0eede8182c038f5bec790d0306a6b

i.e.,
1. `git clone git@github.com:linjer/sbt.git`
2.

[2017-05-09 17:28] jvican commented on #3183
Can you assign me this?

[2017-05-09 18:19] jvican commented on #2989
Can someone assign me to this ticket?

[2017-05-09 18:19] jvican commented on #3168
Can someone assign me to this ticket? I'll take care of this.

[2017-05-09 20:39] SethTisue commented on #2243
not sure if duplicate, but some perhaps-related weirdness around `sbt.override.build.repos=true`:

in an empty directory, running `sbt -Dsbt.override.build.repos=true` doesn't zero out the resolvers list, as I'd expect:

[code]

it seems especially bizarre that `scalasbt/ivy-snapshots` is checked (even though it doesn't show up in `show fullResolvers`) but `scalasbt/sbt-plugin-releases` is not. ma

[2017-05-10 18:15] mosesn commented on #1827
Someone recently ran into this issue again and mentioned it on the finagle gitter.  Is there any chance this will get scheduled?

[2017-05-10 18:24] eed3si9n commented on #1827
@mosesn Is that before or after https://github.com/twitter/finagle/commit/6c8f8e23e30e83789a6561c7cb949588107a865c? https://github.com/sbt/sbt/pull/2345 was released in 0.13.11 (Feb 2016).

[2017-05-10 18:36] jvican commented on #2331
This can be closed now. Will be ready in 1.0. Some changes need to be done in sbt/sbt, but the most important changes are already merged in sbt/librarymanagement.

[2017-05-10 18:38] jvican commented on #290
This can be closed soon. Will be ready in 1.0. Some changes need to be done in sbt/sbt, but the most important changes are already merged in sbt/librarymanagement. To have an idea of how the offline mode will look like, see https://github.com/sbt/sbt/wiki/User-Stories:--Offline-mode-and-Dependency-Locking.

[2017-05-10 18:38] eed3si9n commented on #2331
Closing this.

@jvican Could you send a release note PR a la https://github.com/sbt/sbt/blob/1.0.x/notes/1.0.0/sample.md?

[2017-05-10 18:38] #2331 closed, assigned to nobody

[2017-05-10 18:39] jvican commented on #2331
Sure, I will as soon as I implement the small remaining changes in sbt/sbt.

[2017-05-10 19:20] jvican opened #3186 "Improvement: speed up CI even more"
These logs are very often in our scripted tests:
[code]

The reason why they happen is because of this:
[code]

As we see, we set the version to SNAPSHOT and when we load the project definition, we trigger a full update on SNAPSHOTs, which are the slowest thing in the world (since all the resolvers are checked and then timestamps are used to sort).

We can get rid of this because once we're in bat

[2017-05-10 19:44] jvican commented on #3052
Please, let's close this issue. If someone provides more info, we can reopen.

[2017-05-10 20:25] mosesn commented on #1827
Before.  I'll check in with the person with the problem to see if this fixes it, thanks!

[2017-05-10 20:44] jvican commented on #3186
Note that with https://github.com/sbt/sbt/pull/3151, it's happening less often, but it's still run from time to time, especially in `dependency-management`.

[2017-05-10 20:44] eed3si9n commented on #1827
Closing this since this should be addressed by #2345 as much as we can.
Ultimately, `test->test` is not really safe for any artifacts published to Maven.

[2017-05-10 20:44] #1827 closed, assigned to nobody

[2017-05-10 20:46] #3160 closed, assigned to nobody

[2017-05-10 20:46] #3161 closed, assigned to nobody

[2017-05-10 20:48] #3178 closed, assigned to eed3si9n

[2017-05-10 21:42] #3052 closed, assigned to nobody

[2017-05-11 01:32] izhangzhihao opened #3187 "Symbol `X` is missing from the classpath"
Use sbt create two project,
the first one named `apackage`
[code]

the second one named `use`

[code]

scala version is 2.11.11,sbt version is 0.13.15, I got

[code]

But it works fine at scala 2.12.2, also works fine with scalac at scala 2.11.11

The example project in https://github.com/izhangzhihao/ScalaIssues-10306 ,Also see here https://github.com/scala/bug/issues/10306

[2017-05-11 09:32] dwijnand commented on #3166
I forgot to link them. This is https://github.com/sbt/sbt/pull/3184 and done.

[2017-05-11 09:32] #3166 closed, assigned to dwijnand

[2017-05-11 09:45] pedrorijo91 opened #3188 "sbt testOnly command should fail/warn when no test found"
## problem

if you do a typo on the `sbt testOnly` command you will hardly notice the test you were expecting didn't run.

Current output:

[code]
notice the last line, which says success. If you do a quick read, you probably won't notice. At least myself, I just look for the green or red line at the bottom to see if everything it's ok.

## expectation

Why not fail? Or at least something more not

[2017-05-11 09:50] dwijnand commented on #3188
I believe the code to look at is the value of `testFilter in testOnly`: https://github.com/sbt/sbt/blob/0b2081bc3cd3bb8677f042c2d7346175175f8ec7/main/src/main/scala/sbt/Defaults.scala#L584

Which leads to `selectedFilter`: https://github.com/sbt/sbt/blob/0b2081bc3cd3bb8677f042c2d7346175175f8ec7/main/src/main/scala/sbt/Defaults.scala#L873-L887

The only tricky thing I see is that `selectedFilter` i

[2017-05-11 14:41] eed3si9n commented on #2503
`compile-internal` is used to encode `provided` and `optional`. See the figure on http://www.scala-sbt.org/0.13/docs/Scopes.html#Scoping+by+the+configuration+axis. Unfortunately, because `test-internal` etc. would depend on `optional` and/or `provided` (`runtime-internal` is a bit special), it can't function as compile-only.

[2017-05-11 15:06] nadavwr commented on #3051
Reading through this thread, I now understand from @eed3si9n's explanation of how `;` is implements—as John Oliver puts it—"how is that still a thing".

I understand that postfix-semicolon is a somewhat larger undertaking than one would initially imagine, and might not be justified in order to replace an odd piece of syntax that people have gotten used to in the past and should continue to get use

[2017-05-11 15:12] jvican commented on #3051
It doesn't matter. It's an annoying syntax that puts beginners off. This is part of all those small details that make people say that "sbt has a steep learning curve".

I think we could keep the semantics of the previous syntax, or enable it under a flag.

[2017-05-11 15:16] eed3si9n commented on #3051
Maybe I'm optimistic, but I feel like this is actually on the lower hanging side among the nice-to-have fruits are concerned.

[2017-05-11 15:19] nadavwr commented on #3051
@jvican I am entirely in favor of adopting your proposal. Reading through, I just realized why SBT maintainers might think the effort unjustified.

If this feature is to remain implemented as a command, then how about adding a `(`, which will behave almost exactly like `;`, with the added constraint that a matching number of `)` would be required?

This would leave the existing `;command1;command2

[2017-05-11 15:58] jvican commented on #1552
I've had a look at this, but I'm not sure that SNAPSHOTs in the `cache` directory should be used, ever. The cache directory is used by ivy to put the things that ivy knows how to resolve and for which it has all that information. It's not clear to me that the proposed fix here could lead to defined behaviour.

@aloiscochard If you're only working with local snapshots, make sure you have `latestSna

[2017-05-11 16:15] jvican commented on #2650
I've addressed this issue here: https://github.com/scalacenter/librarymanagement/commit/ecbb20b55ee14bc252549dbb9d143719f60f021b. Previously, we were showing these logs for all the failures that could happen while re-fetching module descriptors for SNAPSHOTs.

My commit only warns on parser errors now, and it will add as debug information other reasons that could have happened these annoying bugs

[2017-05-11 16:20] joan38 commented on #2650
@jvican Looks good thanks.
You can add a 3rd option that is:

3. Use [sbt-coursier](https://github.com/coursier/coursier) because life is too short to waist in artifact fetching.

[2017-05-11 17:12] jvican commented on #2650
Yes, and the best option. But the nondeterminism of snapshots is still there. Avoid snapshots. If you can't, I would say you have a tooling problem.

[2017-05-11 22:40] christopher-prince commented on #2699
I have to smile at "it's clear enough once you know what it means". It suggests it's meaning is't clear from the notation itself.

[2017-05-11 23:04] eed3si9n commented on #2699
Fair enough. I'll reopen this case to solicit more suggestions.

[2017-05-11 23:08] eed3si9n commented on #2699
Perhaps we can adopt some vertical alignment that seems to be in vogue:

[code]

[2017-05-11 23:12] NeQuissimus commented on #2699
I like the alignment, but maybe "was replaced by"?

[2017-05-11 23:15] jvican commented on #2699
@christopher-prince If you want to take a shot, you can change the wording of that warning here: https://github.com/sbt/librarymanagement/blob/1.0/librarymanagement/src/main/scala/sbt/librarymanagement/EvictionWarning.scala.

Make sure you also change the tests here: https://github.com/sbt/librarymanagement/blob/1.0/librarymanagement/src/test/scala/EvictionWarningSpec.scala.

In my opinion, I woul

[2017-05-11 23:16] chris-martin commented on #2699
I really think the word "eviction" is the problem. It just doesn't make much sense from a user's perspective. There were multiple requested versions of the same library, SBT has to pick one, so is picks the latest one. That's not what *eviction* means to me at all.

[2017-05-11 23:16] jvican commented on #2699
I agree the term is confusing. My rewording does not use the word `eviction`, it only uses it at the end to let users know what command to use to check all the logs.

[2017-05-11 23:26] eed3si9n commented on #2699
For the record when you run `evicted` you get more detailed report:

[code]

[2017-05-11 23:51] eed3si9n commented on #2699
I accept the possibility that I could be blind to "eviction" being a jargon or I could be misusing the term. In Ivy's conflict resolution, a version or an entire module is said to be "evicted" when it loses the conflict resolution - http://ant.apache.org/ivy/history/2.3.0/ivyfile/conflicts.html

sbt gets request for the direct dependencies. Eviction often happens with transitive dependencies, like

[2017-05-12 00:22] chris-martin commented on #2699
I guess here's a thing we should ask: Is this something that only happens in the JVM ecosystem, or do build tools in other languages also need to do eviction? And if they do, do they call it that, or describe it in some other way?

[2017-05-12 00:37] chris-martin commented on #2699
In that example, what's the difference between "some of the libraries" and "other libraries"?

[code]

Why is the list split into two groups, and what determines which eviction goes in which list?

[2017-05-12 00:43] chris-martin commented on #2699
Is this the gist of the information we're trying to display?

[code]

[2017-05-12 02:29] clhodapp commented on #2699
What about:

[code]

[2017-05-12 03:34] eed3si9n commented on #2699
sbt first guesses if the result of the version conflict would result to a potential runtime error by comparing the version numbers for each modules. Using [Semantic versioning](http://semver.org/) (major.minor.patch) for Java modules, and a variation commonly used in Scala (epoch.major.minor) for Scala modules.

For example:

[code]

According to Semantic versioning, change in the first segment fr

[2017-05-12 03:40] eed3si9n commented on #2699
The warning level gets displayed automatically after running `update` (which is called on `compile` then cached). There's currently a bug on that but that's another story. Running `evicted` shows both the API-breakage suspects and non-suspects.

[2017-05-12 03:42] eed3si9n commented on #2699
Here's @paulp's suggestion that I got a few hours ago on Twitter (https://twitter.com/contrarivariant/status/862827568382214148):

[code]

[2017-05-12 05:21] eed3si9n commented on #2699
I Googled a bit, but don't have a clear answer here.

### side note

The general issue of dependency conflict (diamond problem, conflict resolution, dependency hell etc) is an universal problem.

JVM tools like sbt / Ivy let user _over-specify_ the module dependency to a version number (due to culture or lack of good index?). Strict interpretation of the dependency quickly fails, so the tools impl

[2017-05-12 06:02] omervk commented on #2699
As an aside, I would love to be able to see which module was the source of the newer dependency, too. It takes *way* too long to figure out a->b->c(1.0) got evicted in favor of d->e->f->c(1.1).

[2017-05-12 06:31] chris-martin commented on #2699
That may be more than an aside here; I think it would help explain what's going on.

[2017-05-12 07:52] dwijnand commented on #3131
Hey @pauldraper, could you print output of `sbt -v -Dfoo` please?

[2017-05-12 08:03] jvican commented on #2699
@eed3si9n  Yes, please, this is utterly important. We can add this information to a module ID.

I think this is a bad idea. We should be using ordinary semantic versioning. JS and other programming languages need that solution because the community does not respect semantic versioning. Allowing this notation will complicate the current situation, not make it easier, and it's not necessary once you

[2017-05-12 08:27] paulp commented on #2699
@eed3si9n There are always going to be constituencies for everything from "it should resolve everything magically" to "any conflict should be an error." What everyone can agree on is that if it threatens not to work, the reason should be made clear. This is addressable in a general way, so I'd say it makes sense to focus on that.

Given the soft semantics of artifact versioning and the absence of

[2017-05-12 09:00] martin-riedl opened #3190 "Sbt build failes due to proxy depending on used scala version"
(See the guidelines for contributing, linked above)

## steps
Being behind a company proxy, I want to compile a simple project using sbt with an external dependeny:
[code]
This gives the output
[code]
whereas for another scalaVersion
[code]
the project compiles successfully.

## problem
Just to detail the output:
[code]

## expectation
By only using different versions of Scala no difference regard

[2017-05-12 09:12] obruchez commented on #1985
I've lost a lot of time on this between yesterday and today. SBT doesn't seem to work with authenticated (basic authentication) proxies. We're using Squid and it works with all other programs.

I've "solved" the problem by installing a local instance of Squid, without authentication, that forwards all requests to our authenticated proxy. This is a poor workaround, but at least it works.

[2017-05-12 10:12] #3158 closed, assigned to eed3si9n

[2017-05-12 15:29] gpoirier commented on #2699
Personally I like the terse format currently being used. If you need to add more verbose information I would suggest adding it in the two lines that are before the list of evictions:

[code]

It's clear to me without any more details, but I would suggest that if more clarity is added, it could be on those two lines above.

[2017-05-12 17:24] #2650 closed, assigned to jvican

[2017-05-12 20:42] pedrorijo91 commented on #3188
Thanks for the guideline. going to find some time to have a look at the code then.

So I suppose you agree that a better output could exist? Would you rather a fail on for a better warning?

[2017-05-12 20:53] jvican commented on #3188
I would fail :smile:.

[2017-05-12 21:23] eed3si9n commented on #3188
If the root project aggregated subprojects `projA`, `projB`, and `projC`, and you type in `testOnly a.foo`, would you fail the whole operation because `a.foo` doesn't exist on `projB`?

[2017-05-12 21:33] jvican commented on #3188
Yes, if that's the case in the CI it means that the developer really wanted to run that test. Otherwise it wouldn't have typed the `testOnly a.foo`. The problematic with not failing is that this error could be missed for days, if not months. A warning is not enough -- no one looks at the logs when CI is green.

[2017-05-14 20:27] Sciss commented on #2887
This problem persists with sbt 0.13.15 and latest Scala (2.12.2, 2.11.11)

[2017-05-14 20:42] CucumisSativus commented on #3116
Hey @dwijnand it doesnt look like something complicated. I would be grateful if you could just let me know where can I search for the cause of the problem. I'd love to fix this :)

[2017-05-14 20:54] eed3si9n commented on #3116
I can tell you where this was added/implemented to help you reverse engineer the behavior:

- https://github.com/sbt/sbt/pull/3066
- https://github.com/sbt/util/pull/74

[2017-05-14 21:05] eed3si9n commented on #3116
To add a bit more notes, in sbt 1.0.x we adopted log4j 2 instead of using our own logging like we did in sbt 0.13. On one hand, the new code allows us separate log producer (like plugins, or logger) and log consumers, which are implemented as Appender. For the interest of time and backward compatibility older sbt logging was retrofitted in, which may or may not be the most efficient/idiomatic log4

[2017-05-15 00:38] clhodapp commented on #2699
@jvican
I disagree with the bulk of your last comment, partially on factual grounds and partially just based on opinion.

First, the factual stuff:

This isn't true: @chris-martin I were pasting examples of what might be shown for a theoretical `dependencyConflicts` task or command, which would replace `evicted` (to be less jargon-y).

This is absolutely untrue. The classpath is just list of place

[2017-05-15 03:50] imarios opened #3192 "Allow for keys (settings/tasks) to be Plugin-Private"
There cases where you want to have auxiliary tasks/settings under `projectSettings` so that they have access to properly scoped keys, such as class paths, project names, version, etc. At the same time, those settings/tasks are not meant to be directly usable/viewable/changeable by the plugin users. Even though you want them to be project-scoped you want only other plugin tasks/settings to be allow

[2017-05-15 04:45] paulp commented on #2699
I resisted suggesting any of the many, many technical measures which are available here because I figured the most likely result of doing so would be slowing things down.

But yes there are many, many technical measures available. And there's no reason to wait years (or forever) until most jars have incorporated binary compatibility manifests. All the bytecode is sitting there, or could be. Just l

[2017-05-15 09:17] clhodapp commented on #2699
I have a feeling that doing as much resolve-time MiMa-ing as would be required to never show spurious warnings would have too high a cost. It's possible that it would at least be ok to do a comprehensive bytecode-level check when specifically requested, though.

Point taken about the potential for discussions of technical solutions to derail things.. the rabbit hole goes pretty deep. And of course