[2019-02-12 23:43] eed3si9n commented on #4543
Moved.

[2019-02-12 23:46] jvican commented on #4543
The root of the issue sounds scary. I would recommend disabling this kind of optimizations by default and not assume that sbt is using a concrete zinc version because that assumption is broken if sbt relies on bloop and receives analysis files from it (which is something it will soon do via our sbt-bloop plugin, which is used by Metals and is likely to increase in user adoption).

[2019-02-12 23:47] smarter commented on #4543
@eatkins That commit message says:

that other tools like bloop or mill could use them.

I think this bug demonstrate that this would be a good idea indeed, why not do things in zinc to start with ?

[2019-02-12 23:50] jvican commented on #4543
Honestly, I prefer this to be done in the Zinc users. Implementing it would increase the coupling with sbt-io, which I intend to remove by using NIO in all the Zinc APIs, and in-memory caching assumes a lot of things about how files are used by the build server, so it's better if this code lives in sbt/sbt.

[2019-02-12 23:57] smarter commented on #4543
Hmm surely it'd be good if zinc and sbt could agree on a strategy for file watching ?

[2019-02-13 00:00] eatkins commented on #4543
@jvican if we don't make it default, practically no one will use it and it will be hard to actually track down any bugs. I am, however, worried about breaking people's CI builds which is why the cache is only on for interactive sessions. I have been dogfooding the cache for almost a year and apart from occasionally seeing @smarter's issue, I have found it to work quite well 99% of the time.

Why s

[2019-02-13 00:03] eatkins commented on #4543
Also, the file system cache can be flushed with `clearCaches`. I also intend to make `clean` invoke `clearCaches` so that any cache inconsistencies can be resolved with a clean.

[2019-02-13 00:03] smarter commented on #4543
That sounds strange to me, is this temporary ? Having two code paths means twice as many bugs, and it also means that bugs in the CI might mysteriously not be reproducible when trying things interactively and vice-versa.

[2019-02-13 00:04] smarter commented on #4543
As a member of the 1%, I can say this is definitely not good enough :).

[2019-02-13 00:06] eatkins commented on #4543
Yes. I understand that. What I am saying is that your bug does not mean that the cache is inherently error prone or will cause issues for most users. I have put a lot of thought into how to make everything easily configurable at runtime so that no one's build that previously worked will get unfixably broken by these changes. That is a big part of why these code reviews have been pending for months

[2019-02-13 00:06] jvican commented on #4543
@eatkins Given that things are working for you guys right now I'd leave things as they are. I intend to rework the zinc APIs quite a bit during the next months and one of the first things I'd look at will be at using `Path` instead of `File` for any Zinc operation. When that change is done, it will most likely not be necessary to have `FileReader` or `FileWriter`s because, if you want that as a us

[2019-02-13 00:08] eatkins commented on #4543
@jvican +1 for `Path` vs `File`. My concern is that if zinc actually calls say `Files.readAllBytes`, then there is no way to add a caching layer.

[2019-02-13 00:11] jvican commented on #4543
Indeed. We could just keep things as they are on that front so that you can implement the caching layer via `ExternalHooks`.

[2019-02-13 00:11] eatkins commented on #4543
@smarter I agree the default is a bit weird. I don't think it's so bad if I add a disclaimer on sbt startup for interactive builds that says something to the effect of "The sbt.io.FileTreeRepository implementation is unspecified, using a caching implementation. To remove this warning, set `Keys.fileTreeRepositoryImplementation := FileTreeRepositoryImplementation.Polling`." You and @jvican are abso

[2019-02-13 00:16] smarter commented on #4543
I don't get it, either the caching is (believed to be) correct and no warning is needed, or the caching is known to be broken and it shouldn't be on by default. In any case the people working on sbt need to make that decision since they're the most well-informed as opposed to every single end-user having to make this decision themselves.

[2019-02-13 00:28] eatkins commented on #4543
Caching a file system subtree without polling is an extremely difficult problem to get right across all platforms. The data is inherently mutable and making sure that every incremental update is correctly applied and invokes the right callbacks for every update is not trivial at all. I have spent over a year working on it and while I am confident in my implementation, I cannot guarantee that there

[2019-02-13 00:31] eatkins commented on #4543
Anyway, I'll take a look at @smarter's bug very soon and should be able to sort it out.

[2019-02-13 00:34] smarter commented on #4543
How about for 1.3.0 you run with caching enabled, but always check if the cached result matches the actual result: if it doesn't, print a big warning asking the user to report a bug. That way you can actually get data on how well it's working and eventually decide whether it can be used as the sole source of truth. Otherwise I'd be very wary of having this on by default, caching bugs can be incred

[2019-02-13 00:35] eatkins commented on #4543
That's a great idea.

[2019-02-13 09:06] eatkins commented on #4543
@smarter before I attempt to debug this issue, can you provide more system details? What version of linux are you using? What jdk?

[2019-02-13 09:11] abelmokadem commented on #4541
@eed3si9n haven't had the time yet, but maybe I can elaborate.

When you build and package a project, then sbt creates a jar file right?

If you remove everything (target, project/target) **except** for the generated jar files and you run `sbt publish`, then sbt will start the whole process of fetching packages, compiling your code, packaging your code and publishing.

I don't expect this to happe

[2019-02-13 12:56] smarter commented on #4543
See https://github.com/sbt/sbt/issues/4543#issuecomment-462966774

[2019-02-13 17:20] eatkins commented on #4543
Oh, whoops. Thanks

[2019-02-15 10:52] fikovnik opened #4545 "ClassNotFoundException when building multiple sbt projects in parallel"
As a part of my research, I mine public Scala repositories to identify certain coding patterns. For this I have set up pipeline that fetches sbt-based Scala projects and compiles them. To safe time I try to parallelize it (I have a fat server). Most of the projects work just fine, but always there are cases in which it fails on random projects with the following message:

[code]

When I redo the p

[2019-02-17 20:31] eed3si9n commented on #4168
We added millisecond-precision in https://github.com/sbt/io/pull/92 because we have observed incremental compilation issues under testing environment where changes are made in quick succession.

If Docker and/or ZIP file is losing precision, we might want to allow users to somehow round off the timestamp as @espenhw has done.

## ZIP

From [Wikipedia](https://en.wikipedia.org/wiki/Zip_(file_format

[2019-02-20 08:26] xcorpio commented on #3344
30+ mins for the first time

[2019-02-20 11:13] dragos opened #4546 "Sbt ignores -mem option when .jvmopts exists"
- [ ] I've read the [CONTRIBUTING](https://github.com/sbt/sbt/blob/develop/CONTRIBUTING.md) guidelines

## steps

[code]

## problem

What I pass on the command line is ignored, and the options in .jvmopts is picked up instead (silently)

[code]

## expectation

According to the docs (and common sense), the CLI option should take precedence, but that's not the case.

## notes

sbt version: *1.2.6*

[2019-02-21 07:54] fahadsiddiqui opened #4547 "SBT run stopped working recently with nothing changed in Play services project"
## steps

Running `sbt run` on project root directory (Play Framework 2.6.x project) and consuming an API that triggers `SparkLauncher` to run a job.

## problem

I am working on a project where

 1. (PROD) I can run the Play Framework services using

        sbt dist

    And then running the executable script from `target/universal/*`.

 2. (DEV) But not the development server using

        sbt

[2019-02-21 12:36] jannemann opened #4548 "sbt run immediately exits when ran in a subshell"
# Problem
If _sbt run_ is run in a bash subshell (with an &) it starts normally at first but than immediately shuts down without any user interaction. It looks exactly like when I press "CTRL-d". This is a problem for docker based development environments, where _sbt run_ is run by a script.

# Steps to reproduce
The following bash script can be used to reproduce the behaviour in a sbt project.

[

[2019-02-21 17:21] lkt commented on #4547
Newest ubuntu kernel vresions 4.15.0-44 and 4.15.0-45. I was able to go around it by booting into 4.15.0-43. More info: https://www.spigotmc.org/threads/ubuntu-18-04-bad-kernel-update.357871/

[2019-02-21 20:04] eed3si9n commented on #4548
@jannemann Thanks for the report.
Does this phenomena happen without using Play?
Since Play implements its own development mode, I wonder if this is something specific to Play.

[2019-02-21 20:08] eed3si9n commented on #4545
@fikovnik Thanks for the report. I'd guess that the individual JVM instances are isolated.
How do you think I can reproduce this issue on my machine?

[2019-02-22 02:25] eed3si9n commented on #4547
Thanks for the report, and thanks for the useful info about Ubuntu.

Here are some of the suggested workarounds adapted to sbt:
- `sbt -Djline.terminal=none`
- Reboot into a kernel that is not `4.15.0-44`
- Install a non-broken kernel: `apt install linux-image-4.15.0-43-generic`, remove the broken one: `apt remove linux-image-4.15.0-44-generic`, and reboot

[2019-02-22 13:41] jarrodu commented on #3108
And again. :cry:

[2019-02-22 16:13] fahadsiddiqui commented on #4547
Tried installing

[code]

My VM seems broken and gone on Guru Meditation.

Must be something I messed up, I will update you in a while after trying out the steps.

[2019-02-22 18:51] eed3si9n commented on #4548
Not exactly the same issue, but there is https://github.com/sbt/sbt/issues/4547 that points to the interaction between Play dev mode and JLine. Maybe running as background job makes certain information unavailable to JLine.

[2019-02-22 18:53] #2690 closed, assigned to nobody

[2019-02-22 19:03] eed3si9n commented on #4546
@dragos Thanks for the report.

This might be a tricky one since `-mem` as option gets evicted when we find `-Xmx` (https://github.com/sbt/sbt-launcher-package/blob/v1.2.8/src/universal/bin/sbt-launch-lib.bash#L94-L97).

And it seems like `.jvmopts` just appends the loaded result to JAVA_OPTS without the expected shadowing.
https://github.com/sbt/sbt-launcher-package/blob/v1.2.8/src/universal/bin/

[2019-02-22 19:12] nafg commented on #4168
I believe the docker issue is https://github.com/osxfuse/osxfuse/issues/346

[2019-02-22 19:44] eed3si9n commented on #4168
[Docker Desktop for Mac: File system sharing (osxfs)](https://docs.docker.com/docker-for-mac/osxfs/) says:

[2019-02-23 07:55] mpollmeier commented on #3892
Thank you, this workaround helped me fix another long-lasting pain: in multi-projects, tests would run in *either* sbt *or* intellij. It works in both if your `subproject/build.sbt` specifies
[code]

Slightly more context: http://www.michaelpollmeier.com/2019/02/20/sbt-subprojects-tests-intellij

[2019-02-23 20:54] MateuszKubuszok opened #4552 "Inconsistent file paths when using symlinks"
- [x] I've read the [CONTRIBUTING](https://github.com/sbt/sbt/blob/develop/CONTRIBUTING.md) guidelines

Problem is pretty much non-existent when using sbt only for building, but if it is also a source of information about project for IntelliJ (import using sbt) or VS Code + metals (default sbt bloopInstall -> bloop -> metals flow), then things begins to break.

## steps

1. let's say we have a ded

[2019-02-23 21:49] eatkins commented on #4552
Hmm, there are a number of places in Load.scala (which is responsible for loading the project) which call File.getCanonicalPath. A potential simple fix might be to add a system property or a global key that switches this to File.getAbsoluteFile. I'm wary of changing the default behavior, but your use case seems valid to me.

[2019-02-24 12:39] MateuszKubuszok commented on #4552
I am aware that this might be a breaking change for some people, so I wouldn't mind some env var or flag sth to change it. It's just when I notices that 2 different tools bot their behavior broken, I thought that sbt would be the right place to fix it.

[2019-02-25 19:26] fikovnik commented on #4545
I can share the pipeline I use to run the analysis, but that might be a bit overwhelming. Perhaps just getting a few sbt projects and building them in parallel - I use GNU parallel to run `sbt compile` using 2-12 parallel jobs depending whether I'm on my workstation (32GB RAM) or server (256GB RAM). In both cases I see the same behavior.

[2019-02-26 14:23] michaelahlers commented on #653
Seeing this with increasing regularity, typically in CID.

[2019-02-26 14:34] fahadsiddiqui commented on #4547
Just confirmed, seems like the issue is with a bad kernel release. Closing this.

[2019-02-26 14:34] #4547 closed, assigned to nobody

[2019-03-02 09:24] LeeiFrankJaw commented on #1954
What I did to force _sbt_ to show downloading log on first run is the following.

    sbt --debug

[2019-03-02 19:48] bjornregnell commented on #3537
@jvican This line in my `build.sbt` helped me prevent generating docs when `publishLocal`:

    publishArtifact in (Compile, packageDoc) := false

Tested with dotty nightly and sbt 1.2.7

[2019-03-03 07:48] tPl0ch opened #4553 "`sbt new` with private git g8 template, ssh and passphrase fails unexpectedly"
- [X] I've read the [CONTRIBUTING](https://github.com/sbt/sbt/blob/develop/CONTRIBUTING.md) guidelines

## steps

I am trying to use a g8 template from a private **GitLab** instance repository and run `sbt new` without without global caches. After having to provide my passphrase for my ssh key, the script fails with `java.lang.NoClassDefFoundError: com/jcraft/jzlib/ZStream`. I believe that maybe a

[2019-03-03 17:11] jvican commented on #3537
@bjornregnell Yeah, this ticket is about making that the default behavior.

[2019-03-05 15:57] cemelo commented on #4382
Workaround for this:

If you set up a custom `URLHandlerDispatcher`, sbt will respect that starting with 1.0.4 ([sbt/librarymanagement#183](https://github.com/sbt/librarymanagement/pull/183)), unless you're trying to use HTTP or HTTPS. To force these two protocols to go over a custom URLHandler, you'd need an instance whose `setDownloader` methods don't do anything, and set up your custom URLHandl

[2019-03-05 16:03] bjornregnell commented on #3537
@jvican Aha. Yes that default behaviour makes sense. I think the docs should be updated anyhow to include the above setting example with true or false depending on what's the default Here I guess: https://www.scala-sbt.org/1.x/docs/Publishing.html
[code]

[2019-03-06 09:37] geksong commented on #3344
It's cost 20+ mins in this execution.
```[info] Updating ProjectRef(uri("file:/Users/.......), xxx)```
Maybe it is better to give log output during this execution.

[2019-03-06 11:16] kikofernandez opened #4554 "SSLHandshakeException when creating a Dotty template"
It seems like `sbt` points to the wrong Type Safe repository when creating a Dotty template.

## steps

1. I create a Dotty template, as explained in [here](http://dotty.epfl.ch/docs/usage/getting-started.html): `sbt new lampepfl/dotty.g8`.

2. I run the command `sbt` and get errors.

## problem

I get errors related to not finding the dependency (I think).
Here is the [full output](https://gist.g

[2019-03-06 12:05] mvdstam commented on #4382
@cemelo Thanks so much, your code works like a charm! :+1:

[2019-03-06 13:47] alexflav23 commented on #3698
Hi @eed3si9n, @ruippeixotog , so what are right now, in SBT 1.2.1, the equivalent commands for `such` and `plz` in sbt-doge?  I've been hoping this will get fixed for a long time, it sounds like it's now part of SBT itself which would allow us to upgrade a whole suite of SBT projects that have been waiting on this fix.

Could you please advise? Thank you in advance for your time!

[2019-03-06 13:51] dwijnand commented on #3698
@alexflav23 `such test` is `+test` and `plz 2.12.8 test` is `++ 2.12.8 test`.

[2019-03-06 19:38] lokkju commented on #4173
This seems to be an issue with JLine2 being built with JDK9+, but being used on JSK8.  If you're on bionic, try this PPA for jline2: https://launchpad.net/~lokkju/+archive/ubuntu/java-compat/

(or just download and install https://launchpad.net/~lokkju/+archive/ubuntu/java-compat/+build/16458066/+files/libjline2-java_2.14.6-1ubuntu1~bionicppa1_all.deb via dpkg)

You can verify jline2 is the proble

[2019-03-06 20:31] eed3si9n commented on #2508
I am closing this due to inactivity, but if this is still relevant let us know with more details (reproduction steps etc).

[2019-03-06 20:31] #2508 closed, assigned to nobody

[2019-03-06 20:40] eed3si9n commented on #4554
It seems like the underlying problem is SSLHandshakeException.

Are you using Ubuntu? If so could you make sure to use Java 8, or Java 11 with certificates etc?

[2019-03-06 20:42] eed3si9n commented on #4553
@tPl0ch Thanks for the detailed report.

[2019-03-07 04:55] jroper commented on #4184
Since this isn't part of sbt 1.2.x yet, as a work around, this works:

[code]

[2019-03-07 12:57] Raghav2211 opened #4555 "object java.lang.Object in compiler mirror not found."
`error: scala.reflect.internal.MissingRequirementError: object java.lang.Object in compiler mirror not found.
[ERROR] 	at scala.reflect.internal.MissingRequirementError$.signal(MissingRequirementError.scala:17)
[ERROR] 	at scala.reflect.internal.MissingRequirementError$.notFound(MissingRequirementError.scala:18)
[ERROR] 	at scala.reflect.internal.Mirrors$RootsBase.getModuleOrClass(Mirrors.scala:53

[2019-03-07 13:33] eed3si9n commented on #4555
@Raghav2211 Could you describe what did before you got there? https://github.com/sbt/sbt/blob/develop/CONTRIBUTING.md#what-to-report
From the looks of it, you're not even running sbt.

[2019-03-09 23:15] Kordalien commented on #4554
I don't think the SSL handshake is the problem; after trying to debug this issue for myself, I noticed some key points: the resolver failures come back as
[code]
which is expected-- the dotty sbt plugin is hosted on maven central (http://repo1.maven.org/maven2/ch/epfl/lamp/sbt-dotty_2.12_1.0/0.3.0/).

Running in debug mode and searching out dotty gives us an interesting behavior:
[code]

Even thou

[2019-03-11 10:14] kikofernandez commented on #4554
Hi, I am using OSX Mojave 10.14.3 and Java 8.
As mentioned, I only know that it does not get the package from maven central, which was hinted by @smarter. Thanks for looking into this.

[2019-03-11 15:52] pascalwhoop opened #4557 "Running sbt in docker 18.09.2-ce on arch linux leads to core dump due to lack of memory"
running

[code]

when trying to execute sbt after installing it with
[code]

as well as using

[code]

leads to
[code]

## expectation
Being able to run sbt

## notes

sbt version is latest available on debian with `apt-get install`, I can't really tell exactly though as even the version call won't work inside of the docker container.
I am running arch linux which is a rolling release OS, hence it

[2019-03-11 15:57] pascalwhoop commented on #4557
Alright I am seeing that `sbt --version` doesn't exist when looking into `sbt-launch-lib.bash` and `sbt -h` does work (but that's just bash scripting so duh)...

[2019-03-11 20:23] adamw commented on #3465
After battling this for too long, I came up with an ugly work-around. Some of the subprojects in sttp work with 2.11 only, and now zio is 2.12 only. The work around is to pretend that the 2.12 project also supports 2.11, by adding the following settings:

[code]

now at least it compiles & tests pass. Though I suspect that trying to release will bring new problems ;)

[2019-03-12 01:41] anilkumarmyla opened #4558 "sbt clean reports Total time as 0s"
- [x] I've read the [CONTRIBUTING](https://github.com/sbt/sbt/blob/develop/CONTRIBUTING.md) guidelines

## steps
[code]

## problem
Total time is always 0s for sbt clean task

## expectation
Total time should show how much time has elapsed

## notes

sbt version: 1.2.8

[2019-03-12 02:22] Kordalien commented on #4554
I can add a little more information from another debugging session: I tried manually adding maven central as a resolver, which caused the error message to become:
[code]
Note that the last two (which should have been default maven central and manually added maven central) refer to typesafe-ivy-releases, I think somehting is cause SBT to rewrite the URL to the typesafe ivy repository. This is also

[2019-03-12 16:32] eed3si9n commented on #4558
sbt is an interactive build tool, which assumes that you have it running in interactive mode.
The total time should then indicate the time it took to process `clean` as the command.

[2019-03-12 16:32] #4558 closed, assigned to nobody

[2019-03-12 16:39] eed3si9n commented on #4557
It seems like you found your own answer that's unrelated to sbt? - https://superuser.com/a/1413390

[2019-03-12 16:39] #4557 closed, assigned to nobody

[2019-03-12 16:40] eed3si9n commented on #4555
I am closing this due to inactivity, but if this is still relevant let us know with more details (reproduction steps etc).

[2019-03-12 16:40] #4555 closed, assigned to nobody

[2019-03-13 10:40] pascalwhoop commented on #4557
I did yes. Sorry for the ticket here, it was the only java container I was running at the time. Maybe someone stumbles here through the magics of search engines though and then they find the answer you linked.

[2019-03-13 17:04] bambuchaAdm commented on #3749
Observation:
[code]
Fails
[code]
Works fine and as expected

[2019-03-13 20:29] crankydillo commented on #4074
We also needed this 'fix'; however, with SBT 1.2.8, we also had to do this:

`set bgCopyClasspath := false`

[2019-03-14 21:32] fikovnik opened #4559 "Custom resolvers are ignore with ~/.sbt/repositories"
## steps

1. create `~/.sbt/repositories` pointing to some proxy. I use artifactory:

[code]

2. add a custom resolver to `build.sbt`:

[code]

3. add a dependency that is only found in the custom repository just add:

[code]

3. run `sbt compile`

## problem

It fails to download the dependency with the following message:

[code]

## expectation

From https://www.scala-sbt.org/1.x/docs/Proxy-Repo

[2019-03-14 22:10] fikovnik commented on #4559
My bad - it is actually a coursier problem.

[2019-03-14 22:10] #4559 closed, assigned to nobody

[2019-03-15 08:22] avelinob commented on #1851
Doesnt work behind a proxy

[2019-03-16 12:24] alexflav23 commented on #3698
Hi @eed3si9n  @dwijnand This still doesn't work properly.

[code]

And then when you try to compile, external logic that depends on the Scala version still breaks.

[code]
Here's an example of breaking version dependant logic.

[code]

Scala options could be disabled, but there's a lot of work going into picking the right dependency versions per Scala version, which completely breaks the entire se

[2019-03-16 13:32] dwijnand commented on #3698
How is scalacOptionsFn used?  While there are differences and some difficulties, by and large cross-building works well now.

One tip that Eugene's discovered greatly helps (to the point it might be a better default) is setting the ~scalaOptions~ crossScalaVersions of the root, aggregating project to Nil.  That seems to make exclusion work as desired.

[2019-03-16 13:35] alexflav23 commented on #3698
Hi @dwijnand ,

Thanks for the prompt reply. It's used in `build.sbt` in root scope.

[code]

[code]

And then later in the code:

[code]

[2019-03-16 13:44] alexflav23 commented on #3698
Hi @dwijnand Tried your suggestion, that breaks macro compilation, or any other things you execute from root scope that need those compiler options.

What did work was setting `crossScalaVersions` on the root aggregating project, which I didn't have before in doge. Sounds like the evaluation scope may have now changed in 1.0 versus how the plugin used to work.

[2019-03-16 16:26] dwijnand commented on #3698
Yeah, sorry, crossScalaVersions is what I meant.

[2019-03-17 21:31] eed3si9n commented on #4461
Here's a recent SNAPSHOT. The progress status is cleared.

[![asciicast](https://asciinema.org/a/6xOQSpHucre4c8QHU342CFmhy.png?t=1:30)](https://asciinema.org/a/6xOQSpHucre4c8QHU342CFmhy?t=1:30)

[2019-03-19 15:09] bsikander opened #4562 "upgrade from 0.13.12 to 1.1.6 - No Scala version specified or detected"
- [x] I've read the [CONTRIBUTING](https://github.com/sbt/sbt/blob/develop/CONTRIBUTING.md) guidelines

## steps
Here is the project repository which is currently on sbt 1.1.6:
https://github.com/spark-jobserver/spark-jobserver

I have still not been able to find the exact steps to reproduce this. On my machine it works but on my Jenkins it seems to fail always.

## problem
During upgrade from 0.1

[2019-03-19 15:52] eed3si9n commented on #3100
When I run `sbt -Dsbt.override.build.repos=true`, then the fullResolvers are listing just the override resolvers both in the proper build and meta build.

[2019-03-19 15:58] eed3si9n commented on #3100
`fullResolvers` has included sbtResolver since 2011 - https://github.com/sbt/sbt/commit/ac280e5fe77933397b8fd89f9ae2d8089eec5425
As far as I can tell, it works as designed.

[2019-03-19 15:58] #3100 closed, assigned to nobody

[2019-03-19 16:14] eed3si9n commented on #89
We will be able to work around this issue once sbt 1.3.0 comes out using #4476.
Here's how the build looks like:

[code]

run works:

[code]

[2019-03-19 16:14] #89 closed, assigned to nobody

[2019-03-19 16:20] eed3si9n commented on #241
@eatkins How does `watchProjectSources` work? Is it still hooked up?

[2019-03-19 17:56] eatkins commented on #241
In my outstanding PRs, I added the feature where changes to *.sbt and *.scala files can automatically trigger a rebuild in a continuous build. We could also add a task that checks for diffs and to the build files and either automatically rebuilds or prints a warning if there are any changes. When to evaluate that task is not entirely obvious. My first thought would be to put it in the compile task

[2019-03-20 00:33] eed3si9n commented on #4394
If forking fixes the issue, I am guessing that 1.3.0 would provide a workaround via #4476:

[code]

[2019-03-20 00:33] #4394 closed, assigned to nobody

[2019-03-20 10:20] danslapman opened #4563 "The <none> defined at <none> is not a class symbol under `1.x`"
- [x] I've read the [CONTRIBUTING](https://github.com/sbt/sbt/blob/develop/CONTRIBUTING.md) guidelines

## problem
1.x series of sbt throws

[code]
when compiling https://github.com/nuttycom/xenomorph

0.13.x series works well

## notes

sbt version: *1.0.0* - *1.2.8*

[2019-03-20 15:06] #4461 closed, assigned to eed3si9n

[2019-03-21 10:18] minhoryang opened #4565 "https://sbt.bintray.com now in 502."
- [v] I've read the [CONTRIBUTING](https://github.com/sbt/sbt/blob/develop/CONTRIBUTING.md) guidelines

## steps
Following https://www.scala-sbt.org/1.0/docs/Installing-sbt-on-Linux.html,
[code]
leads to `https://sbt.bintray.com/rpm`.

## problem
- `https://sbt.bintray.com/rpm` in 502.

## expectation
- well installed

## notes

sbt version: *

## Current Status:
Bintray knows: https://status.bint

[2019-03-21 15:42] eed3si9n commented on #4565
@minhoryang Thanks for the report.
As a workaround, you can try the universal package available from https://www.scala-sbt.org/download.html, which contains all the sbt JARs.

[2019-03-21 15:42] hertg commented on #2366
I am currently experiencing this issue.

I've set up a Maven Repository on the Google Cloud Platform with the following project:
https://github.com/renaudcerrato/appengine-maven-repository

The project is using Basic Auth **without specifying any realm**, therefore returning `WWW-Authenticate: Basic` instead of `WWW-Authenticate: Basic realm="some-realm-name"`.

I am able to publish and checkout m

[2019-03-21 19:21] eed3si9n commented on #4333
All projects are now tested using AdoptOpenJDK JDK 11.

[2019-03-21 19:21] #4333 closed, assigned to nobody

[2019-03-21 20:50] eed3si9n commented on #4562
See #1117.
One of the things you might try is update your sbt script from sbt-extras to the official one from https://www.scala-sbt.org/download.html if that's being used.

[2019-03-21 22:36] eed3si9n commented on #4554
I am macOS as well, and the template works for me.

[code]

Ivy goes through the resolvers to find the artifact, so if one is erroring out that could prevent the resolution from going forward.

[2019-03-21 22:38] eed3si9n commented on #4548
I am closing this due to inactivity, but if this is still relevant let us know with more details (reproduction steps etc).

[2019-03-21 22:38] #4548 closed, assigned to nobody

[2019-03-21 23:58] Kordalien commented on #4554
When I tried, I wasn't using the template, just declaring it as an SBT plugin in my project. SBT seems to resolve other resources from typesafe-ivy-releases fine, and as I noted above, I can clearly se SBT finding the information in maven central, then switching back to try to download the actual jar from typesafe-ivy-releases.

Perhaps I should open a new issue related to that; it seems like the

[2019-03-22 06:32] eed3si9n commented on #4565
Supposedly this issue has been resolved.

[2019-03-22 06:32] #4565 closed, assigned to nobody

[2019-03-23 14:40] eed3si9n opened #4572 "Clean is now implemented using globs."
## steps

[code]

## problem

I get

[code]

## expectation

"now" gets pretty old, so we should avoid it.
I think it would be better to say "use blabla key instead" (no period), and also point to a migration guide?

[2019-03-23 18:45] eatkins commented on #4421
It seems to work now.

[2019-03-23 18:45] #4421 closed, assigned to nobody

[2019-03-23 18:51] eatkins commented on #4572
Yep. I didn't put a ton of thought into the deprecation warning messages. I need to update most/all of them. Where would a migration guide live?  On the sbt website? In `.md` files in the repo?

[2019-03-23 20:10] alexflav23 commented on #3698
Hi @dwijnand , mind having a quick look here: https://travis-ci.org/outworkers/phantom/builds/510388707?

It's complaining it's missing a dependency on a `2.12` artefact while compiling a 2.10.6 run, which is really weird. Everything else however seems to work, oddly.

[2019-03-23 20:45] eed3si9n commented on #3381
Potential idea. Add

[code]

to `[repositories]`. This will make artifacts in `~/.m2/repository` available to sbt out of the box.

[2019-03-23 20:50] dwijnand commented on #3698
If you look it says it excludes 4 projects.  Setting the root project's crossScalaVersions to Nil should fix that (as you mentioned above).

[2019-03-24 05:08] xuwei-k opened #4574 "could not launch sbt 1.3.0-M2 with scala-native plugin (References to undefined settings)"
- [x] I've read the [CONTRIBUTING](https://github.com/sbt/sbt/blob/develop/CONTRIBUTING.md) guidelines

## steps

build.properties

[code]

project/plugins.sbt

[code]

build.sbt

[code]

## problem

[code]

## expectation

## notes

sbt version: 1.3.0-M2

/cc @densh

[2019-03-24 05:33] xerial opened #4575 "sbt-1.3.0-M2 breaks code that relies on URLClassLoader"
- [x] I've read the [CONTRIBUTING](https://github.com/sbt/sbt/blob/develop/CONTRIBUTING.md) guidelines

## steps

- Checkout airfame https://github.com/wvlet/airframe
- Run ` sbt -Dsbt.version=1.3.0-M2 logJVM/testOnly *ResourceTest`

## problem
- Some application needs to find files inside a jar file. To do so, we need to use the public method `URLClassLoader.findResourceURLs(path) : Enumeration[U

[2019-03-24 05:37] xerial commented on #4575
Actually LayeredClassLoader, which is extending URLClassLoader, is found in a parent, but it seems this class loader cannot find resources inside jar files.

[2019-03-24 06:09] eed3si9n commented on #4575
/cc @eatkins

[2019-03-24 09:02] alexflav23 commented on #3698
@dwijnand  The root project thing doesn't help. Something is still trying to download Scala 2.12 dependencies in the 2.10.6 run, for whatever reason. This new setup with `+` and `++` is really buggy.

[2019-03-24 11:17] dwijnand commented on #3698
I think the next steps here are creating a minimised reproduction and reporting a new issue around it.

[2019-03-24 12:46] alexflav23 commented on #3698
@dwijnand No need I think, the issue is obvious, and the project I'm referring too is OSS.

Let's look at a `-v` to see what gets excluded and included first.

[code]

Here's the problem.  I'm launching `sbt ++2.10.6 test` from the terminal.

[code]

The first error is compilation in one of the submodules. It should be included, but why would macros not get properly recompiled, I have no idea what

[2019-03-24 15:24] eed3si9n commented on #4574
This is a new key that was added in https://github.com/sbt/sbt/pull/4476.

https://github.com/sbt/sbt/blob/v1.3.0-M1/main/src/main/scala/sbt/Defaults.scala#L1808-L1813
[code]

We should create fallback hierarchy at wider scope, like `Global`, `Global / Test`, etc.

[2019-03-24 16:28] eatkins commented on #4575
Thanks for the report @xerial. I will add this to my queue. There weren't many tests that loaded resources so that is something of a blindspot that needs to be addressed.

[2019-03-24 16:29] eatkins commented on #4574
Yeah. I'm pretty sure that in the first version I had a `ClassLoaderLayeringStrategy.Default` that did not specify any particular strategy. I think that would be appropriate at the global level.

[2019-03-24 18:30] eed3si9n opened #4578 "Bintray-backed repo (repo.scala-sbt.org, repo.typesafe.com) failures"
## steps

https://travis-ci.org/sbt/sbt/jobs/510643117 says:

[code]

## problem

1. Likely the primary problem is with Bintray not responding `http://repo.scala-sbt.org/scalasbt/maven-releases/org/scala-sbt/sbt-launch/1.3.0-M2/sbt-launch.jar`, but it shouldn't have to download launcher.
2. Even if sbt-extras is downloading the launcher, it might be better to download from Maven Central.

## expec

[2019-03-24 18:51] eed3si9n commented on #4578
[code]

[2019-03-25 02:49] #4574 closed, assigned to eed3si9n

[2019-03-25 09:18] rethab commented on #4438
From the docs, I don't really get what the update report is used for. Could it be disabled if it is a bottleneck and not crucial?

[2019-03-25 10:44] deepikathimmegowda opened #4581 "sbt install on docker : server error for for libraries sbt 1.2.8"
## steps
I have docker file  to build and run play app
[code]
## problem
All these while I was able to to build docker image without issues, but today when im building my docker image I am facing 'SERVER ERROR' for few libraries  After timeout the build process continue
as usual.

Cos of time out,  docker  image build time drastically increased. Kindly help

**Step  RUN sbt sbtVersion is giving se

[2019-03-25 11:45] holzfelix commented on #4581
I have the same issue! Is there a ways to use a specific sbt version? I have the following Install script in my docker yml.

[code]

This installs sbt 0.13.17

Can I use the previous version? and when how can I set the version in my yml?

[2019-03-25 11:46] holzfelix commented on #4578
have you installed openjdk or oracal jdk. Had the same issue yesterday and sovled it with installing oracale jdk first

[2019-03-25 12:03] holzfelix commented on #4581
`apt-get install -y sbt=1.2.8`

[2019-03-25 15:48] eed3si9n commented on #4578
https://status.bintray.com/ now says:

[2019-03-25 15:51] eed3si9n commented on #4581
See also https://github.com/sbt/sbt/issues/4578 and https://status.bintray.com/.
Bintray download service was unstable, which probably caused the timeout.

[2019-03-25 15:51] #4581 closed, assigned to nobody

[2019-03-25 17:31] eed3si9n commented on #4438
UpdateReport is the result of Ivy dependency resolution, which is upstream of things like external classpath. Using the caller information, we can display tree in the error message like:

[code]

However, all that rich information does not have to be persisted into a big JSON file (hundreds of MBs) if all we need typically is list of JARs.

### idea 1: updateSlim only
A potential idea might be to

[2019-03-26 04:47] eed3si9n opened #4582 "[1.3.0-M2] Symbol 'type sbt.io.PathFinder.Combinator' is missing from the classpath"
## steps

https://jenkins.scala-sbt.org:8592/job/sbt-community/641/consoleFull

[code]

## problem

[code]

## expectation

works.

## notes

See also https://twitter.com/nafg613/status/1110328280643719168

[2019-03-26 05:00] eed3si9n commented on #4582
@eatkins I am not sure if the error position is correct, but somewhere along the line IO syntax broke the bincompat, I think.
https://github.com/sbt/io/commits/develop/io/src/main/scala/sbt/io/syntax.scala

[2019-03-26 05:57] eatkins commented on #4582
Yeah. I’ve seen some weirdness with that. I’ll look into it.

[2019-03-26 15:42] mohammedyunus009 commented on #2536
Thats mainly because that repo(URL) in jar is not working

[2019-03-26 15:42] mohammedyunus009 commented on #2536
Solution is find different compatible jars

[2019-03-27 12:20] schikkam commented on #3570
Ran into same issue and -Dsbt.gigahorse=false fixed it. Thanks.

[2019-03-27 16:47] eed3si9n commented on #4582
I think I know what's going on.
As the error message suggests, I should've first tried `-Ylog-classpath`. https://gist.github.com/eed3si9n/664583b405d84666657544170b04715d is the output you get, showing:

[code]

This is because sbt 1.3.0 reuses application classpath from the sbt launcher into metabuild. I've excluded sbt out of the metabuild graph, but I need to probably exclude all sbt modules a

[2019-03-27 19:52] smarter opened #4583 "sbt 1.3 debug output is missing some log messages"
Start sbt 1.2.8 on any Scala project, run `;clean;debug;compile`, the last few logs should look like:
[code]

Do the same with sbt 1.3.0-M2 and instead you get:
[code]

It looks some log messages were eaten somewhere, and there's a random newline in the middle.

[2019-03-28 00:44] LeandroStanger opened #4584 "Distribute SBT in a Flatpak on Flathub"
http://docs.flatpak.org/en/latest/introduction.html#reasons-to-use-flatpak
https://github.com/flathub/flathub/wiki/App-Submission

[2019-03-28 04:23] eed3si9n commented on #4584
Are you saying that sbt should be able to generate Flatpak packages?
If so that would probably belong to a plugin like sbt Native Packager.

[2019-03-28 17:56] smarter opened #4588 "sbt 1.3 outputs log4j errors after ctrl+c"
If I ctrl+c sbt while some task is running or while it's starting up, I see:
[code]

[2019-03-28 18:23] barnone commented on #3410
@NicolasRouquette Your work around for Artifactory worked for me. Thank you!
The additional thing I needed to do when loading the plugin from plugins.sbt is to not use addSbtPlugin but instead just add a dependency to the plugin like so from plugins.sbt. Granted you lose the crossCompile, sbt version and sbt version checks.
`libraryDependencies += "com.someorg" % "somemodule" % "1.0.0"`

[2019-03-28 19:00] eed3si9n commented on #4588
@smarter Thanks for the report.

[2019-03-28 20:34] #4472 closed, assigned to nobody

[2019-03-29 11:59] edrevo commented on #4168
@eed3si9n, I see there's a `help wanted` tag in this issue, but there's no clear course of action on how to solve this.

Would a PR to https://github.com/sbt/io/ that forces second-level resolution when in Docker be the correct solution?

[2019-03-30 15:52] #4582 closed, assigned to eed3si9n

[2019-03-30 16:53] eed3si9n commented on #4494
I am closing this due to inactivity, but if this is still relevant let us know with more details (reproduction steps etc).

[2019-03-30 16:53] #4494 closed, assigned to nobody

[2019-03-30 16:54] eed3si9n commented on #4428
I am closing this due to inactivity, but if this is still relevant let us know with more details (reproduction steps etc).

[2019-03-30 16:54] #4428 closed, assigned to nobody

[2019-03-30 22:37] eatkins commented on #4543
I believe that this is fixed in 1.3.0-M2 and I will ensure that it stays fixed.

[2019-03-30 22:37] #4543 closed, assigned to nobody

[2019-03-31 03:34] eed3si9n opened #4591 "(Compile / packageSrc) java.util.zip.ZipException: duplicate entry"
## steps

1. git clone dotty
2. git checkout e4c4e0aae27c1316cae0e63278d7e4549f2890ea
3. open sbt with a recent nightly
4. sbt-dotty/publishLocal

## problem

[code]

## expectation

works.

## notes

[code]

[2019-03-31 06:58] eatkins commented on #4591
Almost surely my fault. Should be an easy fix I’d think though.

[2019-03-31 15:36] eed3si9n opened #4592 "java.lang.IllegalAccessError: class X cannot access its superinterface Y"
## steps

- git clone librarymanagement
- Run sbt using a recent nightly
- test

## problem

[code]

## expectation

Test runs

## notes

Ivy tries to load a class and fails.

[code]

fixes the issue.

[2019-03-31 15:50] eed3si9n commented on #4592
There are also a few builds in sbt community build that's showing up with potential classpath issues:
- https://github.com/sbt/sbt-validator/issues/41
- https://github.com/sbt/sbt-validator/issues/42
- https://github.com/sbt/sbt-validator/issues/43

[2019-03-31 15:56] eatkins commented on #4592
Great. Hopefully we can track these down then. My naive guess is that there is an ordering issue. It's also possible that we should only use the scala instance in the ScalaInstance strategy.

[2019-03-31 16:16] eatkins commented on #4591
I couldn't reproduce off of the latest origin/develop. I am pretty sure this was fixed in https://github.com/sbt/sbt/pull/4512/commits/c72005fd2b5be05df1df40acd6a0a158b9355b9b
If you look at the changes I made in GlobLister.scala, I aggregate the globs to ensure that I don't return duplicate entries in `globs.all`.

[2019-03-31 16:16] #4591 closed, assigned to nobody

[2019-03-31 22:37] eatkins commented on #4592
I have a simple scripted test now that reproduces the issue.

[2019-04-01 00:36] eatkins commented on #4592
I know the cause: libraryManagement has an explicit dependency on "org.scala-sbt.ivy" % "ivy" % "2.3.0-sbt-cb9cc189e9f3af519f9f102e6c5d446488ff6832". When the test fails, some of the classes in that jar were loaded by the scala instance classloader while others were loaded by the layered classloader. Also, I discovered that that jar would appear twice in the class path: once in the .ivy2 local cac

[2019-04-01 02:43] eatkins commented on #4575
@xerial I do plan to fix the regression but I am curious if there is another way to solve this problem in airframe. Depending on the implementation details of class loading is inherently unreliable.

[2019-04-01 06:04] xerial commented on #4575
@eatkins Actually simply loading class files of scala.io package is failing in sbt-1.3.0-M2. I think it should be supported by any class loaders in Scala because Scala standard libraries is always there for Scala applications.

I think this is sbt-specific issue since sbt itself is also using Scala.

[2019-04-01 06:25] xerial commented on #4575
I'm wondering, does it affect only Scala libraries? How about resources in other dependent jars? What if sbt and user application share same jars (e.g., jawn or circe json parser, etc.)

Fixing airframe is ok because reading Scala libraries is just an example of reading resources in airframe. But reading resources from jar files are quite standard techniques for web applications.

So at least I wo

[2019-04-01 13:36] eed3si9n commented on #4592
If sbt's boot directory (new metabuild classpath?) is leaking out to librarymanagement's test, that sounds like a bug.

[2019-04-01 14:10] eatkins commented on #4575
I’m not arguing that this shouldn’t be fixed. I am just saying that having to pattern match to find a URLClassLoader strikes me as an anti-pattern. Presumably in many if not most cases the classpath is known to the application. The required resource could then be loaded with a custom url class loader for the url corresponding to the relevant jar. It is difficult to make every use case work especia

[2019-04-01 14:13] eatkins commented on #4592
https://github.com/sbt/sbt/commit/1e960b324c83e0e1b67d2405211e511f6f6c4cc9 causes the boot classpath to leak into the run task.

[2019-04-01 14:57] eed3si9n opened #4595 "update task is not caching correctly"
## steps

in sbt/sbt:

[code]

## problem

You see eviction warning, which is a sign that update task is running unnecessarily.

## expectation

update is cached.

## notes

Due to error-swallowing behavior of the cache, bugs are treated as cache miss.

Here's what happens if we let it throw exceptions instead:

[code]

[2019-04-01 15:06] eatkins commented on #4592
BTW, I really don't know the history around the boot directory. I'm sure there is a good reason that it's there. It has just been sort of an annoyance for me because it's yet another cache that has to be independently managed from .ivy2 or .coursier that seems to serve a similar purpose. It also makes sbt development somewhat more cumbersome because if you use snapshot builds you have to constantl

[2019-04-01 16:57] eatkins opened #4597 "sbt exposes dependencies publicly"
I'm continuing to work on classloading issues and it has become clear that one of the problems that we have is that sbt publicly exposes some of its dependencies. For example, in Keys.scala, we expose `{ org.apache.ivy.core.module.descriptor.ModuleDescriptor, org.apache.ivy.core.module.id.ModuleRevisionId, org.apache.logging.log4j.core.Appender }`. While it is somewhat possible to hide these depen

[2019-04-01 17:44] xerial commented on #4575
@eatkins This issue is not specific to the airframe. Airframe just happened to have a test case to read resources in an external jar file (scala.io)

- **Reading resources inside jar files** using a URLClassLoader is a **must have** feature. For example, if a web application embeds static contents (html pages, CSS files) inside some jar file in the dependency, the list of such resources should be

[2019-04-01 17:50] adamkasztenny commented on #4494
Just tried this in sbt 1.2.8 and its better: there is a useful message, although the giant stack trace is still there. Thanks.

[2019-04-01 18:06] xerial commented on #4575
Here is a list of example projects that relies on URLClassLoader:
- Play! https://github.com/playframework/playframework/blob/45061d3f5d57001ef5b6eb995ed1b8507b551a12/dev-mode/run-support/src/main/java/play/runsupport/classloader/DelegatingClassLoader.java#L50-L60
- As you suggested, there is an approach that is not relying on URLClassLoader. akka-osgi: https://github.com/akka/akka/blob/02dc90ff6d

[2019-04-01 18:11] eatkins commented on #4575
Agreed with your points. The play! use case is different because they are specifically providing a URLClassLoader. I was just pointing out that runtime pattern matching to extract a URLClassLoader is unsafe. `ClassLoader.findResource` should work correctly.

[2019-04-01 18:17] xerial commented on #4575
Another example: Google's Guava is also using URLClassLoader to get a list of resource URLs:
https://github.com/google/guava/blob/6d7f6556b0db2d177e3aa4cebbfbcfdb4170745f/guava/src/com/google/common/reflect/ClassPath.java#L463

[2019-04-01 18:18] xerial commented on #4575
@eatkins Yes. If we do know the resource name, ClassLoader.findResource works. If we don't know the resource names, it's not easy to get a list of resources that can be found from a classloader if we cannot use URLClassLoader.

[2019-04-01 18:31] xerial commented on #4575
Not only me, Google also has been using this resource listing technique based on URLClassLoader for a long time since around 2010.  An early example I can remember was GWT (Google Web Toolkit) to read web resources using URLClassLoader.

If there is a proper way to read resources, we will use it. So far, however, using URLClassLoader has been the only way even though this approach is fundamentally

[2019-04-01 18:42] eatkins commented on #4575
Ok, cool. I didn't fully understand the use case. My point is simply that there is nothing in the sbt spec that says that run or test provide any specific URLClassLoader implementation so you are relying on undefined behavior. As long as we can agree on that point (or agree to disagree), I think we can move on.

I'm not saying you're wrong. I am suggesting that if a URLClassLoader with specific se

[2019-04-01 18:52] evbo opened #4598 "Scala Object not compiling if only test dependency exists"
- [X] I've read the [CONTRIBUTING](https://github.com/sbt/sbt/blob/develop/CONTRIBUTING.md) guidelines

## steps

- Create a new SBT project
- Create `./src/main/scala/emptyFile.scala`
- Create `./project/Dependencies.scala`, containing: `object Dependencies {val scalaTestVersion = "3.0.5"}`
- Create `./build.sbt` containing: `scalaVersion := "2.12.8"` & `libraryDependencies := Seq("org.scalatest"

[2019-04-01 20:16] cchandurkar commented on #888
Is there any solution for this? Maybe add a flag to not include colors? How do you pipe it and remove those color codes ?

[2019-04-01 20:30] Blaisorblade commented on #888
@cchandurkar Here's the flag:
https://github.com/sbt/sbt/issues/888#issuecomment-25168402

[2019-04-01 22:39] eed3si9n commented on #4598
@evbo Thanks for a detailed bug report.
Although I don't think this is a bug, I think I know what might be going on.

As an example, we can reduce `build.sbt` to just the following line:

[code]

Now, if you start an sbt session, and type `libraryDependencies` into the shell. I get:

[code]

In other words, the automatic Scala library injection that sbt is doing is done via `libraryDependencies` k

[2019-04-01 22:39] #4598 closed, assigned to nobody

[2019-04-01 22:48] eed3si9n commented on #4595
Looks like it's https://github.com/sbt/librarymanagement/pull/290.

[2019-04-01 23:22] evbo commented on #4598
@eed3si9n Are you saying that because I'm not appending the automatically injected scala library is being excluded? If that's the case then why does the following successfully compile?:
[code]

Edit: oh, maybe because scalatest includes the scala library transistively? Therefore without `Test` scope I'm once again ensuring scala libary is included?

also, [the docs](https://www.scala-sbt.org/0.13/

[2019-04-02 05:33] tuzhucheng commented on #3963
I cannot agree with @konradmalik more. This is still a problem and should be addressed.

Whenever I use `runMain` `sbt` cannot find the resource using `getClass.getResource`.

[2019-04-02 16:32] #4595 closed, assigned to eed3si9n

[2019-04-02 17:38] kailuowang opened #4599 "command alias doesn't work with ++scalaVersion"
- [x ] I've read the [CONTRIBUTING](https://github.com/sbt/sbt/blob/develop/CONTRIBUTING.md) guidelines

## steps
In essence,   `sbt "++2.11.12 aliasForTest"` breaks when root module does not have 2.11.12 in the `crossScalaVersions`.
Here is a minimized example
https://gist.github.com/kailuowang/5d8ae9c8b6c7a19946e2c558ab9736b3

## problem
sbt complains that the alias is not a valid key

## expect

[2019-04-02 18:01] ches opened #4600 "--addPluginSbtFile applies only to meta build if project/project/*.sbt is present"
- [x] I've read the [CONTRIBUTING](https://github.com/sbt/sbt/blob/develop/CONTRIBUTING.md) guidelines

## problem

This is very similar to #4375, the additional element is the meta build.

It appears that the `--addPluginSbtFile` feature from #4211 applies the added plugin to the meta build instead of to the proper build if there are `.sbt` files in `project/project`—is that intentional?

Here's

[2019-04-02 18:05] eed3si9n commented on #4599
Sounds like it's related to https://github.com/sbt/sbt/issues/2776

[2019-04-02 18:08] eed3si9n commented on #4599
Also I am not sure if this is related, but we recommend that `crossScalaVersions := Nil` is set to the root project. Otherwise it will command aggregation is going to trigger compilation in subproject that's likely not going to support the scalaVersion.

[2019-04-02 18:10] kailuowang commented on #4599
@eed3si9n yes, we set root `crossScalaVersions := Nil` .

[2019-04-02 18:11] eed3si9n commented on #4592
@eatkins

Do you know which part?

[2019-04-02 18:11] ches commented on #4600
/cc @jastice @sugakandrey @unkarjedy

This might also be a cause of [SCL-15160](https://youtrack.jetbrains.com/issue/SCL-15160) for users who are using meta build plugins.

[2019-04-02 18:55] eatkins commented on #4592
https://github.com/sbt/sbt/blob/8e1ebda36aab2b79f4b6cae1bf6263b194d2edd2/main/src/main/scala/sbt/Defaults.scala#L1320-L1323 causes the classpath passed into ScalaRun.run to contain jars in the boot directory. This was causing me issues with caching the runtime layer and the test layer because test does not use the boot directory. I figured out a workaround, but I don't really understand the purpos

[2019-04-02 21:34] mtsokol commented on #3963
Hi. I have also encountered same issue lately with `sbt 1.2.8`.

Here I reproduced this issue as I got it:
https://github.com/mat646/sbt-resource-bug
Pretty the same as origin poster.

[2019-04-02 21:42] eed3si9n commented on #4592
Boot directory copying is an implementation detail of sbt launcher (https://github.com/sbt/launcher), which internally uses Ivy to resolve the coordinate specified by [launcherconfig](https://www.scala-sbt.org/1.x/docs/Launcher-Configuration.html). Ivy cache is mutable, so to ensure stable behavior and to reduce lock contention it's copying the resulting artifacts into the boot directory. This all

[2019-04-02 21:51] eed3si9n commented on #4600
@ches Thanks for a detailed bug report. This sounds like a bug.

[2019-04-02 21:58] eatkins commented on #4592
Ok. Thanks for the explanation. That makes sense. The run and runMain tasks are interesting because they are actually run in the foreground so its somewhat unlikely that the user inadvertently blows away the classpath. I don't really want to mess with the those defaults though. This means that the runtime layer cannot be shared with the test layer unless the user both sets ClassLoaderLayeringStrat

[2019-04-03 00:02] eatkins commented on #4575
Should be fixed in #4601

[code]

[2019-04-03 00:08] eatkins commented on #4592
This cannot be fixed using a layered classloader without significant work. It is a limitation of the jvm. The reason the test fails is because library management opens the `org.apache.ivy.plugins.parser.m2` package which is primarily provied by `ivy-2.3.0-sbt-cb9cc189e9f3af519f9f102e6c5d446488ff6832.jar`. It then defines an instance of an `org.apache.ivy.plugins.parser.m2` package private interfac

[2019-04-03 00:09] eatkins commented on #4592
IMO the right thing to do is just explicitly define the classLoaderLayeringStrategy when we update the library management sbt version. There will be other builds that run into this problem, but I added an error message in https://github.com/sbt/sbt/pull/4601/commits/8199dd114d5ff59bd5cc6cc7b22773432d95a1fd so that it hopefully won't be too difficult for users to fix.

[2019-04-03 01:20] eed3si9n commented on #4592
Do you think sbt/sbt-validator#41, sbt/sbt-validator#42, and sbt/sbt-validator#43 are also running into a variation of this issue?

[2019-04-03 01:21] xerial commented on #4575
@eatkins Awesome. Thanks!
Then I can enjoy the other wonderful improvements at sbt-1.3.0!

[2019-04-03 02:49] eatkins commented on #4575
Thank you! Sorry if I seemed obstinate before. It was great that you brought this issue up. I might not have solved it prior to release otherwise.

[2019-04-03 04:46] #4575 closed, assigned to nobody

[2019-04-03 05:04] eed3si9n commented on #3542
Fixed in https://github.com/sbt/sbt/pull/4539

[2019-04-03 05:04] #3542 closed, assigned to eed3si9n

[2019-04-03 05:05] #4578 closed, assigned to nobody

[2019-04-03 19:28] todesking opened #4603 "~compile ignore source file changes in certain conditions."
- [x] I've read the [CONTRIBUTING](https://github.com/sbt/sbt/blob/develop/CONTRIBUTING.md) guidelines

## steps

1. Make 2 project `foo` and `foo-bar`
  * `foo/build.sbt`: Empty
  * `foo-bar/build.sbt`: `val foo = RootProject("../foo")` and `val main = (project in file(".")).dependsOn(foo)`.
2. Run `sbt ~compile` in project `foo-bar`.
3. Edit file in `foo-bar/src/main/scala/A.scala` and save it.

[2019-04-03 19:57] amiralia commented on #4275
When I try this, I get `error: value withOverwrite is not a member of sbt.PublishConfiguration`. Anyone else seen this or know how to go further?

[2019-04-03 21:22] eatkins commented on #4603
@todesking are you using osx? It looks like this might be a bug in the osx file events api.

[2019-04-03 21:26] eatkins commented on #4603
Wow. Yeah, I found a workaround, but it's a pretty bizarre bug.

[2019-04-03 21:29] eatkins commented on #4603
The problem seems to be that the file events api doesn't work when you have multiple directories in the same path with the same prefix, i.e. `foo` and `foo-bar`. The workaround is to just register the parent directory with the os but drop all events for the parent directory which we don't actually care about.

[2019-04-04 05:56] todesking commented on #4603
Thanks!
Yes, I use osx 10.14

[2019-04-04 16:33] eed3si9n commented on #4592
This related only tangentially, but since Scala 2.13.x collection uses serialization proxy pattern, and because ScalaTest is using Java serialization, it seems even 2 layer cake of sbt 1.2.x might be an issue (a variation of #89) for Scala 2.13.0-RC1.
See https://github.com/sbt/zinc/pull/651#issuecomment-479969522

[2019-04-04 17:32] ekrich commented on #2795
Not sure this is related but the default `scalaVersion` is `2.12.7` with sbt `1.2.6`. Should this be changed to `2.12.8`, the latest production version?

[2019-04-04 17:52] dwijnand commented on #2795
It's already changed for the next production version: https://github.com/sbt/sbt/pull/4509.  It just hasn't been released (unless you're running sbt 1.3.0-M1, but I don't recommend it seeing as both the supershell and `update` have some serious issues.)

[2019-04-04 17:58] ekrich commented on #2795
Thanks, @dwijnand

[2019-04-05 03:22] #4422 closed, assigned to nobody

[2019-04-05 11:06] deepikathimmegowda commented on #2243
I am also facing same issue.
I have nexus2 proxy repository configured.

with **sbt-release-proxy** as proxy name and remote storage is _https://repo.scala-sbt.org/scalasbt/sbt-plugin-releases/_

I can download all dependencies from maven/npm proxy from nexus 2, so my proxy configuration is working fine

But for sbt release proxy i am having issues
--

[2019-04-05 13:52] #1722 closed, assigned to eed3si9n

[2019-04-06 10:03] mtsokol commented on #3963
@joroKr21 @konradmalik @tuzhucheng Hi once again!
Few days ago I've written a question on stackoverflow about this issue. Today Mario Galic gave comprehensive answer which seamlessly solved my issue:
https://stackoverflow.com/questions/55493096/listing-files-from-resource-directory-in-sbt-1-2-8
Answer covers either sbt tuning or simply jar handling.

[2019-04-06 19:21] baddlan commented on #3570
This issue still occurs in SBT 1.1.6 when publishing to Nexus 3.15.2 running on baremetal.
As diagnosed by @avdv in https://github.com/sbt/sbt/issues/3570#issuecomment-345089755 the initial PUT request made to Nexus fails as it does not contain auth credentials.

After applying the `updateOptions := updateOptions.value.withGigahorse(false)` fix, the initial upload request still fails with 401 resp

[2019-04-06 22:34] smarter commented on #4316
@jvican Should this issue be moved to the sbt/zinc repo ?

[2019-04-06 22:37] smarter commented on #4316
I guess this should actually be closed since https://github.com/sbt/zinc/pull/572 was merged, though it seems this hasn't made it to any released version of sbt yet.

[2019-04-07 17:20] eed3si9n opened #4607 ""model contains x documentable templates""
## steps

`publishLocal`, or anything that involves `doc`

## problem

doc task prints stuff without using the reporter.

[code]

## expectation

Don't output it.

## notes

Scala is using `println`.

https://github.com/scala/scala/blob/v2.12.8/src/scaladoc/scala/tools/nsc/doc/DocFactory.scala#L90-L91

[code]

We can try to move the cursor position so we are more println resistant.
Then again, we

[2019-04-07 17:35] eed3si9n opened #4608 ""java.lang.NoSuchMethodError: scala.Predef$.refArrayOps" while running ScalaCheck on 2.11.12"
## steps

1. build sbt locally based on b40084f6fdab5b8dc7d7534ddd843fba348e0893
2. git clone https://github.com/Philippus/bump.git && cd bump && git checkout 0574b88d34a92ea3265105415003baca2140cbb4
3. sbt -Dsbt.version=1.3.0-LOCAL-b40084f "++2.11.12\!" test

## problem

[code]

## expectation

Test runs.

[2019-04-07 18:06] eed3si9n opened #4609 "[1.2.x] on Scala 2.11 scala-parser-combinators 1.1.2 on test requires forking"
Reported originally by @Philippus as https://github.com/scala/scala-parser-combinators/issues/197

## steps

Philippus/bump#8

## problem

Philippus/bump#8 fails with the following exception in scala 2.11:

[code]

## expectation

No failure.

## workarond

[code]

## notes

This is a variation of
https://github.com/sbt/sbt/issues/3405
https://github.com/scala/scala-xml/issues/195
https://github.c

[2019-04-07 18:11] eed3si9n commented on #4609
So basically sbt/zinc#505 fixed the bug for `run`

[code]

 but didn't for `test` it seems.

https://github.com/sbt/sbt/blob/v1.2.8/testing/src/main/scala/sbt/TestFramework.scala#L258

[code]

[2019-04-07 18:51] SethTisue commented on #4609
/cc @ashawley, since scala-xml is affected as well (on 2.11 and 2.12)

[2019-04-07 18:56] eatkins commented on #4607
Crazy idea but I wonder if we can change System.out to wrote println through the console logger using `System.setOut`. That might be a terrible idea.

[2019-04-07 22:09] eatkins commented on #4608
Whoops. Should be fixed in #4610.

[2019-04-07 22:31] eed3si9n commented on #4608
That was a quick turnaround!

[2019-04-09 20:31] sergiorussia commented on #4166
had a chance to remind myself about this bug. same thing here:
sbt 1.2.8 + scala 2.12.7 = ok
sbt 1.2.8 + scala 2.12.8 = oom :(

in other words one should wait until newer sbt build is available with desired scala inside

[2019-04-12 21:52] jkilgrow commented on #3570
FYI...I'm using sbt.version=1.2.8 and Nexus OSS verion 3.13.0-01.
I put `updateOptions := updateOptions.value.withGigahorse(false)` in my build.sbt file and it resolved the issue.
My primary question is, this has been a problem since Sep 2017...and we still aren't any closer to solving it? huh...

[2019-04-13 07:34] avdv commented on #3570
Maybe make gigahorse opt-in instead of opt-out?!

[2019-04-16 11:14] jatcwang opened #4613 "[Feature Request] Configurable binary compatibility policy to make eviction warnings more meaningful"
Different types of dependencies have different policy when it comes to indicating a binary incompatibility.

Desire: To be warned (and only warned) of evictions which may cause binary compatibility errors

* Traditionally in Scala ecosystem, minor version bump indicates binary incompatibility (Scalaz, Scalacheck)
* Libraries like cats and many newer libraries uses major version to indicate binary

[2019-04-16 13:22] eed3si9n commented on #4613
I think it is a duplicate of #3562

[2019-04-16 14:51] jatcwang commented on #4613
Seems like it is. Closing!

[2019-04-16 14:51] #4613 closed, assigned to nobody

[2019-04-17 11:04] chester89 opened #4615 "Windows - output encoding seems incorrect"
- [x] I've read the [CONTRIBUTING](https://github.com/sbt/sbt/blob/develop/CONTRIBUTING.md) guidelines

## steps
install sbt on Windows
run `sbt compile` for your project

## problem
output encoding looks broken. Here's the piece I copied out:
[code]

## expectation
output encoding is correct

## notes

sbt version: *1.2.1*
JDK: openjdk version "1.8.0_202"
Windows 10 English

[2019-04-17 16:43] eed3si9n commented on #4615
@chester89 Thanks for the report.
What you're seeing is an ANSI X3.64 control sequences (aka [Console Virtual Terminal Sequences](https://docs.microsoft.com/en-us/windows/console/console-virtual-terminal-sequences)), typically to add colors.
Are you using Command Prompt to run sbt? I am a bit surprised because I thought Windows 10 is supposed to have a better support for these things.

[2019-04-17 16:44] eed3si9n commented on #4615
Does `sbt -no-colors` work?

[2019-04-18 00:54] moonkev commented on #4103
I am experiencing this with sbt 1.28 as well.  This is especially hard for us, because we are behind a proxy at my work, so we really need to be able to pull these from nexus.

[2019-04-18 06:20] chester89 commented on #4615
@eed3si9n it does. I was looking for permanent fix

[2019-04-18 15:48] mwisnicki opened #4619 "Cannot set sbt version from command line"
- [x] I've read the [CONTRIBUTING](https://github.com/sbt/sbt/blob/develop/CONTRIBUTING.md) guidelines

## steps

[code]

## problem
[code]

## expectation
[code]

## notes

sbt version: 1.1.1

[2019-04-18 16:03] eed3si9n commented on #4619
@mwisnicki Thanks for the report. It works for me on macOS, but I wonder if this is something specific to the batch script.

[2019-04-18 16:05] eed3si9n commented on #4619
Actually could you try double quoting?

Windows treats `=` as whitespace iirc.

[2019-04-18 16:06] eed3si9n commented on #4615
So which terminal application are you using?

[2019-04-18 17:36] mwisnicki commented on #4619
@eed3si9n wow, thanks that was it!

[2019-04-18 17:36] #4619 closed, assigned to nobody

[2019-04-18 17:49] mwisnicki opened #4620 "Cannot return error code from Windows script"
- [x] I've read the [CONTRIBUTING](https://github.com/sbt/sbt/blob/develop/CONTRIBUTING.md) guidelines

## steps

Create file `hello.bat`

[code]

## problem

[code]

## expectation
[code]

## notes

sbt version: 1.2.1 (via sbt-launcher-1.1.1)

[2019-04-18 19:33] eed3si9n commented on #4620
@mwisnicki Thanks for the report. This does look like a bug/limitation in script mode.

[2019-04-18 21:41] GratefulTony commented on #3618
this worked for my ci build in aws. I passed the option directly to sbt in my build script.

[2019-04-19 11:53] chester89 commented on #4615
@eed3si9n it's Console2

[2019-04-19 12:36] eed3si9n commented on #4615
ok so are you using CMD or Cygwin Bash?

[2019-04-19 12:55] helena opened #4621 "Add Travis build status and latest version badge to README"
- [x] I've read the [CONTRIBUTING](https://github.com/sbt/sbt/blob/develop/CONTRIBUTING.md) guidelines

sbt version: 1.2.0

[2019-04-19 13:55] eed3si9n commented on #4615
Works for me for CMD out of the box:

<img width="559" alt="Console2_" src="https://user-images.githubusercontent.com/184683/56424960-47b6a980-6280-11e9-8836-9b082eb30c3d.png">

For Cygwin I had to use ansicon:

<img width="747" alt="Color_on_Cygwin" src="https://user-images.githubusercontent.com/184683/56427272-3d4cdd80-6289-11e9-8d7e-a6c06eaf97c4.png">

[2019-04-19 13:57] #4615 closed, assigned to nobody

[2019-04-19 14:08] chester89 commented on #4615
I'll try ansicon, thanks

[2019-04-19 22:04] eed3si9n commented on #4621
Fixed in https://github.com/sbt/sbt/pull/4622

[2019-04-19 22:04] #4621 closed, assigned to nobody

[2019-04-21 02:03] eed3si9n opened #4624 "externalHooks-related issues"
## steps

1.3.0-RC1.

## problem

<s>1. The key `externalHooks` is not an intuitive name for sbt. In the context of sbt, "external" typically refers to libraryDependencies as opposed to other subprojects.
2. It's a function that accepts CompileOptions.</s>
3. Composability issue pointed out by @smarter  in https://github.com/sbt/sbt/commit/25e97f99f588d1ddc9bbd114740bfb25c2a955c6#r32293747.

## ex

[2019-04-21 03:10] charleso commented on #4523
Hi, I'm the maintainer of Scala Hedgehog.

Just as a (delayed) follow-up to @dwijnand suggestion. I had a quick stab at converting `ParseKey` to hedgehog way back in February, which only took 2 hours or so. Fortunately and unfortunately it exposed a few memory/performance issues which I was a little embarrassed about and have taken me quite a while to get around to fixing.

If you're interested he

[2019-04-21 03:24] charleso commented on #4523
I'm running it a few more times, just to see what it picks up. I won't spam this thread though, I've created a public gist:

https://gist.github.com/charleso/9b902ea52ac0a59c79ce005a96899988

[2019-04-21 10:24] aioannidis commented on #3344
I tried to build an existing project from scratch on my new pc and the process is on the state
[info] Updating ProjectRef(uri("file:/Users/.......), xxx)

for over an hour.

What is the problem after all?

Will there be a solution any time soon?

[2019-04-21 12:03] smarter commented on #4624
Also note that the filemanager stuff by itself is basically impossible to use correctly, see https://github.com/sbt/zinc/issues/579

[2019-04-21 15:17] sciencepal commented on #4173
@lokkju +1 thanks a ton, was facing with the same issue. dpkg download is verified solution !

[2019-04-21 15:27] almothafar commented on #3344
To be honest, this should be a priority, I think about moving to Gradle because of this issue, it waste our team time especially during deployment, we got 2 play projects inside 1 project and that waste time just because of the deployment for each time (which sometimes many times during the day, sometimes 1 time for the week).

This is from the LinkedIn team where they improve development speed to

[2019-04-21 16:26] ScalaWilliam commented on #3344
@almothafar I had come across multiple people prefer to do Java simply because SBT was too slow to deal with, and Gradle/Maven is not necessarily the best when going with Scala, especially if you want to do Play.

If not fixing the problem itself, one huge leap forward would be a clear-cut way of identifying where these slow-downs are. Right now, all the user can do so far is simply guess.

[2019-04-21 17:43] eed3si9n commented on #3344
@ScalaWilliam

I agree. sbt 1.3.0 will provide a number of ways to surface that out. Like https://twitter.com/eed3si9n/status/1109694906648416256

[2019-04-21 17:46] eed3si9n commented on #3344
For many builds the bottleneck is `update` task so here are some proposals for sbt 1.3.0 that I'm trying:
- Slim down update's UpdateReport by removing evicted modules caller information  (https://github.com/sbt/sbt/pull/4606).
- Coursier dependency resolution integration (https://github.com/sbt/sbt/pull/4614)

[2019-04-21 21:58] #4583 closed, assigned to eed3si9n

[2019-04-21 23:38] eed3si9n commented on #4624
Added idea 1-B, which is to change the implementation of `incOptions` task.
That way we are not competing with the plugins.

[2019-04-22 03:30] jaceklaskowski commented on #2451
I ran into it today when tried to use the following dependency with `classifier` and the latest coursier. I had to disable coursier.

[code]

[2019-04-22 14:56] #4608 closed, assigned to eatkins

[2019-04-22 15:56] eed3si9n commented on #3559
@smarter @retronym Does this still hold true today?
Given some of the memory hogging behavior of sbt, I'd want to give G1GC another shot.

[2019-04-22 15:58] smarter commented on #3559
G1GC is supposed to be better under Java 11, but I haven't run any benchmark to confirm this.

[2019-04-22 16:06] eed3si9n commented on #3559
[FYI: Changes to Garbage Collection in JDK11](http://mail.openjdk.java.net/pipermail/hotspot-gc-use/2018-June/002759.html)

[2019-04-22 18:17] eed3si9n opened #4625 "disable TLS 1.0 on sbt-maven-snapshot"
[code]

Once we bump to the latest LM, `project/transitive-plugins` will hit TLS issues.

[2019-04-23 03:29] doofin opened #4626 "reintroduce support for build.scala project?"
- [ ] I've read the [CONTRIBUTING](https://github.com/sbt/sbt/blob/develop/CONTRIBUTING.md) guidelines

## steps

## problem

pure build.scala project is no longer support as of sbt 1.X

## expectation

 project with only build.scala should be supported,because .sbt is too hard to work with if the project is complex or you try to develop/customize plugins

## notes

sbt version: 1.X

[2019-04-23 03:41] eatkins commented on #4626
I could be mistaken, but I believe that at least part of the reason that build.scala is no longer supported is because we don't want *.scala files in the project base directory. You can still write your build in pure scala and just define a trivial build.sbt file that delegates to the objects created by your scala file.

For example, you could create a file called, say, project/build.scala that lo

[2019-04-23 04:32] eed3si9n commented on #4626
`Build.scala`'s days were numbered when we introduced auto plugins with `autoImport` and `:=` macros in sbt 0.13. At that point `build.sbt` DSL were no longer Scala, but more like another language that can _interop_ with Scala (like Scala can interop with Java).

We removed `trait Build` because it does the same thing as `build.sbt`, and having two ways of doing the same thing was adding both conf

[2019-04-23 04:32] #4626 closed, assigned to nobody

[2019-04-23 14:59] eed3si9n commented on #4625
TLS 1.2 is now supported.

[2019-04-23 14:59] #4625 closed, assigned to nobody

[2019-04-24 16:44] eatkins opened #4628 "sbt main may not work for alternative launchers"
- [ ] I've read the [CONTRIBUTING](https://github.com/sbt/sbt/blob/develop/CONTRIBUTING.md) guidelines

In https://github.com/sbt/sbt/pull/4601/commits/73cfd7c8bdd484b49ff6695ef006f5f7ba995c0b I modified the classloader passed in by the launcher to change the hierarchy so that the sbt testing interface jar is above the scala provider. I made some assumptions about the classloader that is passed in

[2019-04-25 14:11] LukeDeighton opened #4629 "SSLHandshakeException when using Gigahorse Http Client to download dependencies requiring SSL Cert"
- [x] I've read the [CONTRIBUTING](https://github.com/sbt/sbt/blob/develop/CONTRIBUTING.md) guidelines

## steps
Problem exists in all SBT 1.x but works in 0.13.x.

Add resolver / lib dependency to a private artifactory server which requires a custom SSL Certificate.

Update SBT_OPTS to include your SSL settings to be used for SSL Handshake with private repo:
[code]

## problem

SBT fails to resol

[2019-04-25 16:12] eed3si9n commented on #4629
@LukeDeighton Thanks for the report.
Potentially related https://github.com/square/okhttp/issues/1711#issuecomment-194092912.

[2019-04-25 16:13] #4438 closed, assigned to eed3si9n

[2019-04-26 01:56] fxbonnet opened #4632 "Provided dependency that is also a transitive dependency should be considered provided"
- [x] I've read the [CONTRIBUTING](https://github.com/sbt/sbt/blob/develop/CONTRIBUTING.md) guidelines

## steps
If I have a project `project1` that has a dependency (compile) to a library
And a project `project2` that has a dependency (compile) to `project1` but in `project2` the same library is provided

## problem
In `project2` the library is resolved as a compile dependency. As a result if I g

[2019-04-26 03:04] eed3si9n commented on #4632
@fxbonnet  Thanks for the report.

This does not match my expectation. `Compile` configuration extends `Runtime` configuration. Because `project2` depends on `project1`, you will have `"commons-lang3"` in the `Runtime`.

`Provided` basically means that you have in `Compile`, but not in `Runtime`.

If you extend your logic, a direct dependency in `Compile` configuration will evict dependencies off

[2019-04-26 04:38] eed3si9n opened #4633 "Bump semanticdbVersion"
#4410

[2019-04-26 05:47] fxbonnet commented on #4632
@eed3si9n thanks for your answer.
I am not familiar with sbt internal logic about configurations and inheritance rules. I am just saying that in that particular case it does not work.

But you are perfectly right, if I have a `test` dependency in `project2` but it is also a `compile` dependency in `project1`, the dependency is required at runtime as well as for the tests (compile and runtime) so i

[2019-04-26 09:33] bosson commented on #3879
https://articles.javatalks.ru/articles/32

"Albeit many think that Nexus is the one, it’s actually Maven Deploy Plugin who does the trick: it first fetches existing maven-medatadata.xml from remote repo, then it updates all the required information and uploads it back to the repo. If the file doesn’t exist in the first place, then it gets created and uploaded."

The code for merging and uploading

[2019-04-27 19:52] #2997 closed, assigned to nobody

[2019-04-28 19:47] #4316 closed, assigned to nobody

[2019-04-28 22:17] #3252 closed, assigned to eed3si9n

[2019-04-29 17:48] eatkins opened #4637 "sbt/librarymanagement fails to resolve with coursier"
I tried to open the library management project with a  local version of sbt that uses the coursier version of sbt and project resolution fails to resolve `org.boris:pecoff4j:0.0.2.1`. I have no idea where that dependency is coming from because it doesn't show up in the dependency graph when I load the project using an older version of sbt and run dependencyBrowseGraph using https://github.com/jrud

[2019-04-29 18:18] eed3si9n opened #4636 "scripted requires publishAll as opposed to publishLocalBinAll"
## steps

Run `scripted` on sbt/sbt.

## problem

It starts publishing Scaladocs.

## expectation

 It would be good to reduce the `doc` call as much as possible.

## notes

In https://github.com/sbt/sbt/commit/0b33c195efa861d2ec83de284dbab4a56fda15e6, @dwijnand says "For some reason scripted requires src/doc jars of sbt, so switch back to using `publishAll` rather than `publishLocalBinAll`. :("

[2019-04-30 02:44] eed3si9n commented on #4637
This is an odd one. If I comment out `addSbtPlugin("com.lightbend"  % "sbt-whitesource" % "0.1.9")` and its settings, the error goes away. Given https://mvnrepository.com/artifact/org.whitesource/pecoff4j, it's likely a case of transitive dependency mixup of sbt-whitesource, specifically wss-agent-hash-calculator that is prior to 2.5.7 is attempted to be resolved. This [commit](https://github.com/

[2019-04-30 02:49] eed3si9n commented on #4637
FWIW I can reproduce this by putting `addSbtPlugin("io.get-coursier" % "sbt-coursier" % "1.1.0-M14-1")` in `project/project/plugins.sbt` using sbt 1.2.8 as well.

[2019-04-30 02:56] eed3si9n commented on #4637
Actually looking at it closer, sbt/librarymanagement seems to be using a really old version of sbt-whitesource compared to sbt/sbt, so the failure actually is legitimate I think.

[2019-04-30 02:57] #4637 closed, assigned to nobody

[2019-04-30 17:01] klntsky opened #4638 "`sbt -client shutdown` should not start the server"
Executing `sbt -client shutdown` when the server is not running, results in this:

[code]

I think it would be much better if in this particular case the server did not start at all. The user may want to just make sure that the server is stopped. And since all this command does is effectively a no-op when the server is down, such a short-cutting can save some time.

[2019-04-30 17:26] eatkins opened #4639 "ZincComponentCompilerSpec causes metaspace leak"
- [x] I've read the [CONTRIBUTING](https://github.com/sbt/sbt/blob/develop/CONTRIBUTING.md) guidelines

## steps

Run test

## problem

java.util.concurrent.ExecutionException: java.lang.OutOfMemoryError: Metaspace

## expectation

Tests run without running out of memory

## notes

I took a heap dump and the eclipse memory manager tool warned:
The thread java.lang.Thread @ 0x74e4452b8 pool-1294-th

[2019-04-30 17:49] eed3si9n commented on #4638
To a potential contributor, the relevant source is all here - https://github.com/sbt/sbt/blob/v1.3.0-M1/main-command/src/main/scala/sbt/internal/client/NetworkClient.scala

[code]

...

[code]

Maybe the methods need to be refactored so that connection is passed around as a parameter rather than `lazy val`.

[2019-04-30 20:43] #4639 closed, assigned to eatkins

[2019-05-01 15:18] athempel commented on #1676
I can confirm this is still an issue in sbt 1.2.8.

The problem appears to be at https://github.com/sbt/ivy/blob/cb9cc189e9f3af519f9f102e6c5d446488ff6832/src/java/org/apache/ivy/core/cache/DefaultRepositoryCacheManager.java#L1385

If cached metadata is found to be out-of-date, an attempt is made to delete an unclassified artifact from the cache, but classified artifacts are left.

[2019-05-01 15:45] athempel commented on #1676
Here's the upstream issue:

https://issues.apache.org/jira/browse/IVY-1221?jql=project%20%3D%20IVY%20AND%20text%20~%20%22snapshot%20cache%20classifier%22

[2019-05-01 16:06] BillyAutrey opened #4642 "Feature Request: SettingKey to ignore test failures"
- [x] I've read the [CONTRIBUTING](https://github.com/sbt/sbt/blob/develop/CONTRIBUTING.md) guidelines

## Steps
Run `sbt test` in any project with a test that runs, but fails assertions.

## Problem
Test failures will throw an `sbt.TestsFailedException` when tests are run.  This is caused by `TestResultLogger`, specifically [here](https://github.com/sbt/sbt/blob/9e37391937b2d262dfb93325074dc69282

[2019-05-01 16:21] eed3si9n commented on #4642
https://www.scala-sbt.org/1.x/docs/Tasks.html#Handling+Failure might be used to create a `testFailOk` task.

[2019-05-02 15:29] Jaszkowic commented on #3344
We are experiencing the same issue with sbt 1.2.7.

Initializing `sbt` on a clean docker image takes ages (some minutes) compared to the rest of the build process. This is significantly slowing down our Gitlab CI/CD pipeline.

Maybe there is some way of preparing the docker image somehow? Because consecutive `sbt` run in the same docker container consume less time. Anyone experimenting with that o

[2019-05-02 15:33] eed3si9n commented on #3344
I created my own Docker image and wrote about it here. The image should have all JARs ready to go - http://eed3si9n.com/sbt-on-docker

[2019-05-02 15:42] Jaszkowic commented on #3344
The following is our Docker file which we used to built the image where sbt runs. Using this image we don't have to download sbt anymore on first run. We made sure that we download exactly the sbt version we are using in our application. We even run `sbt sbtVersion` once to make sure the initialization already happened. However, the first sbt initialization using this image still takes far too lon

[2019-05-02 15:46] jrudolph commented on #3344
Don't run from a complete clean docker image but one that has run `sbt update` on the project in question before. That will make sure you will run with a pre-filled ivy cache.

[2019-05-02 15:50] Jaszkowic commented on #3344
We kind of tried to do that (running `sbt sbtVersion`), but that's not project-based i guess? So that means that in our prebuilt docker image we must already have a project stub (same project name/folder?) and run `sbt update` on that?

[2019-05-02 15:51] eed3si9n commented on #4168
@edrevo I think doing some research to find out the root cause would be helpful.
Also providing options via sbt setting or JVM property to force second-level resolution might be a good workaround if in fact we have regressed in sbt 1.1.0.

[2019-05-02 16:25] redbaron opened #4643 "consecutive sbt runs resolve dependencies differently"
## steps

[code]

## problem

first run resolves dependencies differently from all subsequent runs:

First run:
[code]

Second run:
[code]

## expectation

dependency resolution is stable

## notes

sbt version: 1.2.8

`sbt  evicted evicted` shows the same difference

[2019-05-02 17:44] eed3si9n commented on #4643
@redbaron Thanks for the report. Do you have a project available that would reproduce this issue? I can guess from the description but if would be nice if there's one already.

[2019-05-02 20:46] redbaron commented on #4643
Hi! Thanks for the quick response. I am not sbt savvy, this ticket is a result of painstaking debugging, so I thought I ll just leave it here what I already have in case it is something already known or would be obvious from minimal info I gave.

I might have time to create minimal stripped down version of build.sbt to see if can be reproduced on your side, project is not open source sadly :(

It

[2019-05-02 21:34] eed3si9n commented on #4643
If you depended on `avax.cache:cache-api:1.1.0` directly, would the flip flopping go away?

[2019-05-04 07:15] eed3si9n opened #4648 "File ** returns a glob, but Glob ** returns PathFinder"
## steps

Try loading play-ws's build - https://github.com/playframework/play-ws

## problem

[code]

## expectation

It loads, keeping source compat with 1.2.x.

`base ** "*"` returns a Glob now, but if you chain `**` method it goes back to PathFinder, so you get a mix of globs and PathFinders now.

## notes

[code]

[2019-05-04 07:44] eed3si9n opened #4649 ".descendantsExcept issue"
## steps

https://github.com/lihaoyi/Scalatex

[code]

## problem

`.descendantsExcept` doesn't seem to exclude any more, so both 0.13 and 1.0 directories are included.

## expectation

`.descendantsExcept` filters out sbt-0.13 files.

[2019-05-05 09:12] dwijnand commented on #4648
One workaround is to explicitly use the older, now lower priority, File to PathFinder conversion, via `PathFinder.apply`.  For example https://github.com/playframework/play-ws/pull/338/commits/6a9d4bc927de89a063523cc8cc9962fe23a9f694 (part of https://github.com/playframework/play-ws/pull/338).

[2019-05-05 14:56] pshirshov commented on #4012
Did you guys abandon CP sharing idea?

[2019-05-05 18:32] eed3si9n opened #4650 "sources doesn't include unmanaged source code"
## steps

Try 1.3.0-M3 with shapeless. https://github.com/milessabin/shapeless

[code]

## problem

It only shows src_managed files, and thus `compile` fails.

## expectation

It lists the source code.

[2019-05-06 00:18] eed3si9n commented on #4650
Similar issue with specs.

[code]

It doesn't find some sources in Compile:

`show commonJVM/Compile/sources` shows only the source from `common/jvm/src` but not `common/shared/src`.

[2019-05-06 02:11] eed3si9n commented on #4650
[code]

[2019-05-06 02:34] eed3si9n commented on #4650
[code]

[2019-05-06 03:59] eed3si9n commented on #4650
I think I have a repro - https://github.com/sbt/io/pull/237

[2019-05-06 04:15] eed3si9n commented on #4650
Calling distinct on the glob list works around the issue, but I don't know why duplicate has such devastating effect.

[2019-05-06 05:47] xuwei-k opened #4917 "deprecate insecure(non-ssl) maven central access?"
- https://central.sonatype.org/articles/2019/Apr/30/http-access-to-repo1mavenorg-and-repomavenapacheorg-is-being-deprecated/
- https://github.com/sbt/launcher/blob/1a138595f25192ae0c3a95a626cb17954afcd40c/launcher-implementation/src/main/scala/xsbt/boot/Update.scala#L367-L368

[2019-05-06 13:54] eed3si9n commented on #4917
It's already behind a flag, so I am personally ok with letting this stay until January 2020.

[2019-05-06 14:44] eed3si9n opened #4651 "val ** should be behind import"
## steps

https://github.com/sbt/sbt/issues/4648 pointed out that

[code]

is a legal PathFinder expression, so we'd need to support this in Glob API as well.

## problem

Glob API introduces `**` as value, so in the following expression `**` appears twice but with different meanings:

[code]

## expectation

`val **` should be an opt-in for build.sbt.
See also https://github.com/sbt/io/pull/212#d

[2019-05-06 15:44] eatkins commented on #4651
I am planning to remove the PathFinder <-> Glob conversions entirely. It's too difficult to entirely preserve semantics. To use a glob it will be necessary to call `.toGlob` on the file or use the Glob.apply methods.

[2019-05-06 15:46] eatkins commented on #4651
Also opt-in makes `**` a second class citizen because it can't really be used to build a glob in an interactive session. No one wants to write `set watchTriggers += baseDirectory.toValue.toGlob / sbt.nio.file.** / "*.txt"`.

[2019-05-06 15:53] eed3si9n commented on #4651
You could write

[code]
and not lose much IMO

[2019-05-06 16:00] eed3si9n commented on #4650
FTR, I updated https://github.com/sbt/io/pull/237 so the iterator doesn't get stuck when it finds a path that it's seen already.

[2019-05-07 01:48] Atry opened #4652 "Settings are lost in diamond dependency"
- [x] I've read the [CONTRIBUTING](https://github.com/sbt/sbt/blob/develop/CONTRIBUTING.md) guidelines

## steps
### step 1
Create the following `build.sbt`
[code]

### step 2
Execute the following command in shell
[code]

## problem

The output value of `Compile / run / k` is `Set(default value, value appended to configuration scope, value appended to configuration scope and task scope)`.

## exp

[2019-05-07 01:50] Atry commented on #4652
This problem can be resolved if we implement a C3 linearization algorithm in sbt

[2019-05-07 11:58] hhimanshu opened #4653 "sbt 1.2.8 generates a synthetic configuration instead of failing"
- [x] I've read the [CONTRIBUTING](https://github.com/sbt/sbt/blob/develop/CONTRIBUTING.md) guidelines

## steps
[code]
Add the following content to the file
[code]
- Save and open up a terminal
- Run the following command
[code]
- When you are in `sbt` console, run the following commands
[code]

## problem
- The output from `db/version` do not match with `db:version`.
- `sbt` generates a syntheti

[2019-05-07 12:01] dwijnand commented on #4653
As mentioned on Gitter, I think the second is the correct expected behaviour.

[2019-05-07 12:12] julienrf opened #4654 "“unmanaged” and “managed” don’t have an intuitive meaning"
I always have to check out the documentation to remember what they mean. Also, the fact that the `sourceDirectory` actually points to the root of the `unmanagedSourceDirectories` is confusing.

What do you think of the following naming convention instead?

`unmanagedSourceDirectories` becomes `sourceDirectories`,
`managedSourceDirectories` becomes `generatedSourceDirectories`,
`sourceDirectories`

[2019-05-07 12:15] hhimanshu commented on #4653
@dwijnand , do you mean creating a synthetic `Configuration` is correct behavior? If yes, can you explain why, as I may have not understood it

[2019-05-07 12:54] milessabin commented on #4650
Anything I can do to help with this?

[2019-05-07 13:20] dwijnand commented on #4653
No, "it should have failed" is what I expect.

[2019-05-07 13:50] alexarchambault opened #4655 "NumberFormatException upon 1.3.0-M3 start-up"
- [x] I've read the [CONTRIBUTING](https://github.com/sbt/sbt/blob/develop/CONTRIBUTING.md) guidelines

## steps

Create an empty sbt `1.3.0-M3` project. Have a directory named `~/.sdkman/candidates/java/8u152-zulu` on your machine (stale SDKMAN install?). Run `sbt` from it (I'm using the sbt-extras launcher, but I guess the actual launcher shouldn't matter).

[code]

## problem

sbt crashes on st

[2019-05-07 13:54] eed3si9n commented on #4650
No. I am happy to have found the sbt bug before we released sbt 1.3.0 thanks to Community Build.

[2019-05-07 16:26] eed3si9n commented on #4653
@hhimanshu Thanks for the detailed report.

I concur with @dwijnand "Instead of creating a synthetic Configuration, it should have failed." I think is the correct behavior. The tricky part is that subprojects and plugins can introduce custom configurations, so we need to clarify the behavior around this, both in the shell and in `build.sbt`.

[2019-05-07 17:17] eed3si9n commented on #4653
For example if there is a root project and `projA` and `projB`, and `IntegrationTest` configuration is found only on `projA`, thanks to delegation rule, `IntegrationTest/someKey` would work on `root` or `projA` if `someKey` is defined without configuration scoping in those projects (or in `Global` or `ThisBuild`). Without this permissiveness it'd be annoying to use aggregation.

So I'd propose tha

[2019-05-07 17:18] dwijnand commented on #4653
Agreed.

[2019-05-07 17:25] eed3si9n commented on #4655
@alexarchambault Thanks for the report.
sbt tries to detect all your Java installation for cross JDK forking feature `java++ 10!`.
SDKMAN support was added in https://github.com/sbt/sbt/pull/4580, but I guess it doesn't always work. In general, we should just print some warning and move on during the setting so the build is not blocked.

[2019-05-07 17:27] eed3si9n commented on #4655
Currently SDKMAN uses `8.0.202-zulu` as version convention, but it wasn't always the case I guess.

[2019-05-07 17:55] eed3si9n opened #4656 "packageBin should cache"
## steps

1. packageBin
2. packageBin

## problem

It runs twice.

## expectation

Zipping is expensive, so if the input hasn't changed, could we cache?

[2019-05-07 18:12] eed3si9n commented on #4656
1. create fileInputs based on the default mapping.
2. compare the list of Files against the mapping.
3. if fileInput covers 100% of the mappings, use fileInput to detect changed files. Otherwise invalidate.
4. If the change was detected, invalidated, or the JAR doesn't exist yet, run actual Package.

[2019-05-07 18:26] outkaj commented on #4193
I ran into this issue too on Ubuntu 19.04. In my case it was solved by adding `-J` in front of the option like so: `-J-Xss2M` (needed because it's a Java flag). Posting here in case it fixes the issue for anyone else.

[2019-05-07 19:12] hhimanshu commented on #4653
Totally agree with that

[2019-05-08 04:47] nisanth456 commented on #2958
Hi,
I get an error while run pio status
ivl@ivl:~/Downloads/PredictionIO-0.12.0-incubating$ pio status
Error: Could not find or load main class
org.apache.predictionio.tools.console.Console

But, elasticsear,hbae running .eventserver not running

ivl@ivl:~/Downloads/PredictionIO-0.12.0-incubating$ jps -l
24357 org.apache.hadoop.hbase.master.HMaster
25510 sun.tools.jps.Jps
24262 org.elasticsearch.b

[2019-05-08 04:48] nisanth456 opened #4657 "Error: Could not find or load main class org.apache.predictionio.tools.console.Console"
- [ ] I've read the [CONTRIBUTING](https://github.com/sbt/sbt/blob/develop/CONTRIBUTING.md) guidelines

## steps
Hi,
I get an error while run pio status
ivl@ivl:~/Downloads/PredictionIO-0.12.0-incubating$ pio status
Error: Could not find or load main class
org.apache.predictionio.tools.console.Console

But, elasticsear,hbae running .eventserver not running

ivl@ivl:~/Downloads/PredictionIO-0.12.0-

[2019-05-08 06:20] nisanth456 commented on #4657
Solved :-1: add folder PredictionIO-0.12.0-incubating/assembly/src/universal/
2.run ./make-distribution.sh
Now issue Fixed

[2019-05-08 06:20] nisanth456 commented on #4657
Closed

[2019-05-08 06:20] #4657 closed, assigned to nobody

[2019-05-08 19:30] eatkins commented on #241
@eed3si9n and I discussed this in today's meeting. The continuous builds in 1.3.0-M3 do watch the project source files and will automatically reload if they've changed. I don't think that it makes sense to have that feature by default if we do not support automatic reloading (or warnings) in regular task evaluation. Given that, I think it makes sense to either put the automatic reloading in contin

[2019-05-08 20:02] eed3si9n commented on #4652
Thanks for the report.

[code]

This is same as:

[code]

so the question is to which key would `Compile / run / k` delegate when it's not bound yet.
We can't find two keys for this. It delegates to one key. In this case, task scoping is substituted to `Zero`, and it becomes `Compile / k`. See https://www.scala-sbt.org/1.0/docs/Scope-Delegation.html.

[2019-05-08 20:14] eed3si9n commented on #4654
@julienrf Thanks for the report.

The term "managed" vs "unmanaged" also comes up in managedClasspath, where it means that dependency manage takes care of some of the JARs files as opposed to the ones that you manually supply in `lib/` directory. In the classpath case, it feels a bit more natural because we normally let sbt deal with the JARs. But for sourceDirectories it's a more awkward since hu

[2019-05-08 20:23] eed3si9n commented on #4193
@outkaj Did you need `-J` for command line or for `SBT_OPTS` environment variable?

[2019-05-08 20:27] outkaj commented on #4193
@eed3si9n neither (I added it to `sbtopts`) but I assume it would work from command line, also

[2019-05-08 20:35] eed3si9n opened #4922 "On Windows -no-colors cannot be specified from the command line"
On Windows with sbt 1.2.6 (NB. `bin\sb.bat` is not in sync with `bin\sbt`)

[code]
**Quick fix**: add the following 2 lines in `bin\sbt.bat`:
[code]

_Originally posted by @michelou in https://github.com/sbt/sbt-launcher-package/issues/260#issuecomment-435340435_

[2019-05-09 17:31] #4655 closed, assigned to eed3si9n

[2019-05-09 17:54] eatkins opened #4660 "Coursier doesn't download sources by default"
- [x] I've read the [CONTRIBUTING](https://github.com/sbt/sbt/blob/develop/CONTRIBUTING.md) guidelines

## steps
Clone the sbt repo and start up sbt

## problem
Coursier downloads the library dependency jars but not the source dependency jars

## expectation

Coursier downloads the source dependency jars

## notes
The lack of source jars breaks intellij go to source.

sbt version: 1.3.0-M3

[2019-05-09 18:45] mrveera commented on #2882
I would like to do it

[2019-05-09 21:34] eed3si9n commented on #4660
`update` task using Ivy doesn't download source either, I think, but `updateClassifier` might.
Maybe `updateClassifier` some other part the interface IntelliJ plugin was using changed?

/cc @jastice

[2019-05-09 21:46] jastice commented on #4660
Sbt will not download source jars by default, only with the updateClassifiers task. This is invoked by a sbt refresh from IntelliJ, but only if "download library sources" option is checked in IntelliJ sbt options (default). Is this broken with coursier?

[2019-05-09 22:11] eatkins commented on #4660
Whoops. I think the issue may have been that I started a new sbt project because of other issues I was having and I didn't check the download sbt sources box.

[2019-05-09 22:11] #4660 closed, assigned to nobody

[2019-05-10 00:48] eed3si9n opened #4661 "Coursier and the cursed preloaded local repo"
Ref https://github.com/sbt/sbt-launcher-package/issues/250

## steps

1. try building sbt/librarymanagement using sbt 1.3.0-M3 on Travis CI
2. Travis uses SDKMAN to install the official sbt script, which installs preloaded local repo of sbt (1.2.8) artifacts.

https://travis-ci.org/sbt/librarymanagement/jobs/530491979

## problem

Coursier fails to resolve.

[code]

## expectation

The build that

[2019-05-10 00:52] eed3si9n commented on #4661
### idea 1

One way to solve this is to create a marker text file with some UUID file name, and compare it against the timestamps in `ls ~/.sbt/preloaded/org.scala-sbt/sbt/`.
If there are new installation, we can run a cleanup logic to remove bad directories.

[2019-05-10 02:02] eed3si9n commented on #4661
This probably won't work because the original files in preloaded local are in the installation directory `lib/`, and it gets `rsync`ed by the `sbt` Bash script.

### idea 2

There are actually two preloaded local repos.

[code]

Thus far we have been using `local-preloaded-ivy`, but we can ignore the repository from now on if we can preload using Maven layout using `coursier fetch`.

[2019-05-10 04:07] Woodz opened #4662 "SBT publish includes non-transitive evicted dependencies in POM"
- [X] I've read the [CONTRIBUTING](https://github.com/sbt/sbt/blob/develop/CONTRIBUTING.md) guidelines

## steps

Create a new project with two dependencies, one of which has a transitive dependency that evicts the other dependency, e.g.
[code]
(optaplanner-core has a dependency on xstream 1.4.10)

## problem

POM file includes evicted dependency (`"com.thoughtworks.xstream" % "xstream" % "1.4.7"`

[2019-05-10 04:21] eed3si9n commented on #4662
In Maven semantics the nearest wins, so your direct dependency will win once someone uses it out of Maven Central.

[2019-05-10 04:21] #4662 closed, assigned to nobody

[2019-05-10 06:02] Woodz commented on #4662
Yes @eed3si9n , that is the behaviour that we are observing. However, this means that the behaviour of the packaged library (using nearest wins) is inconsistent with the behaviour within the library (using a specified conflict approach, where the default approach is that the latest version wins). This inconsistency means that eviction warnings actually are far more severe when packaging a library

[2019-05-10 14:01] eed3si9n commented on #4661
FYI @alexarchambault.

[2019-05-10 16:38] markus-braasch-ck commented on #4103
I had to add the resolvers in build.sbt as well when using SBT 1.2.8. Specifying them only in project/plugins.sbt was not sufficient.

[2019-05-10 21:52] mrveera commented on #2882
I made decent progress on this, Now  I have `--ignoresbtrc` command which sets an attribute "ignoreSbtRc" to `true` and won't do anything in "initialize" command.

Could someone help me with how can I run `ignoresbtrc` command before "intialise" while opening
sbt shell?

[2019-05-11 01:26] eed3si9n commented on #2882
@veera83372

sbt shell?

See the diff in https://github.com/sbt/sbt/pull/4211

[code]

[code]

[2019-05-11 01:31] panditaj opened #4665 "Compile / doc fails with ArrayIndexOutOfBoundsException since sbt 1.2.2"
- [ ] I've read the [CONTRIBUTING](https://github.com/sbt/sbt/blob/develop/CONTRIBUTING.md) guidelines

## steps
Multi-module project, upgrade of sbt from 1.2.1 to 1.2.3

## problem
Change of sbt version and tried publishToLocal fails. Exception is given below:

[code]

## expectation
upgrade of patch versions shouldn't break stuff.

## notes

sbt version: *1.2.3*

[2019-05-11 01:39] eed3si9n commented on #4665
@panditaj Please see https://github.com/sbt/sbt/blob/develop/CONTRIBUTING.md#what-to-report
Could you include information on how we can reproduce the issue on our computers please? Otherwise, I don't know what we can do. Also please try the latest patch version 1.2.8.

[2019-05-11 05:24] eed3si9n commented on #3893
https://jenkins.scala-sbt.org:8592/job/sbt-validator/1611/consoleFull

[code]

[2019-05-11 14:41] #3893 closed, assigned to eed3si9n, dwijnand

[2019-05-11 18:17] #4603 closed, assigned to nobody

[2019-05-12 13:41] scalahub commented on #1284
Any better workaround till now?

[2019-05-12 22:24] #241 closed, assigned to nobody

[2019-05-12 23:59] eed3si9n opened #4669 "[1.3.0] sbt cannot compile compiler bridge if you point at zinc's compiler bridge project"
## steps

1. Get a Docker image, fresh machine, or remove existing compiler bridge.

[code]

2. Make a fresh sbt. Let's say 1.3.0-LOCAL-20190512.
3. open sbt/zinc project and `compilerBridge211/compile`

## problem

[code]

## expectation

it works.

## note

This situation happens when you use sbt 1.3.0-M3 for sbt/zinc since Scala 2.11 compiler bridge will be the first 2.11 it will compile. A wei

[2019-05-13 00:39] eed3si9n commented on #4669
Potentially related:
- https://github.com/sbt/sbt/pull/4617
- https://github.com/sbt/sbt/pull/4634
- other classloader related changes?

[2019-05-13 01:23] eed3si9n commented on #4669
Here's the debug log - https://gist.github.com/eed3si9n/6dee84ea3f82b220dae46525867e448e

[code]

Looks like it's missing the compiler-interface JAR on the classpath.

[2019-05-13 01:45] eed3si9n commented on #4669
Maybe compiler-interface is getting picked up from inter project resolver equivalent in Coursier.

[2019-05-13 03:21] eed3si9n commented on #4609
@eatkins We still have this problem because ScalaInstance loader for Scala 2.11 probably is bringing in parser combinator - http://repo1.maven.org/maven2/org/scala-lang/scala-compiler/2.11.12/scala-compiler-2.11.12.pom
I think the bottom layer needs to be a Scala Library only loader.

[2019-05-13 06:54] #4669 closed, assigned to eed3si9n

[2019-05-13 17:04] panditaj commented on #4665
While trying to put something which i could upload for re-creating the problem, I came across an empty Java file in one of the modules which I removed and ran publishLocal again and the issue was fixed. :)

I'll still work on putting something that can reproduce this.

[2019-05-13 21:49] #4609 closed, assigned to eed3si9n

[2019-05-14 08:20] hubertp commented on #3207
This bug can be closed, it seems to have been fixed in `zinc` some time ago.

[2019-05-14 08:54] mpollmeier commented on #3207
Correct, I tested with sbt 1.2.8 and it's fixed.

[2019-05-14 08:54] #3207 closed, assigned to nobody

[2019-05-14 16:23] eed3si9n commented on #4651
Closing this for now since #4664 removed automatic lifting of path into a Glob.

[2019-05-14 16:23] #4651 closed, assigned to nobody

[2019-05-14 16:24] eed3si9n commented on #4628
Fixed in https://github.com/sbt/sbt/pull/4668

[2019-05-14 16:24] #4628 closed, assigned to nobody

[2019-05-14 16:24] eed3si9n commented on #4649
Fixed in #4664

[2019-05-14 16:24] #4649 closed, assigned to nobody

[2019-05-14 16:41] eed3si9n commented on #4649
Tested on M4 to confirm. I need the following change but it seems like it's a plugin bug not ours.

[code]

[2019-05-14 16:43] eed3si9n commented on #4648
Fixed in #4664
Confirmed with M4.

[2019-05-14 16:43] #4648 closed, assigned to nobody

[2019-05-14 17:51] mrveera commented on #2882
I have implemented like the same way `AddPluginSbtFileCommand` implemented but the problem is below what I feel.

https://github.com/sbt/sbt/blob/91a0b8ebfee234933ee4cf1ff07ebdf77daffca4/main/src/main/scala/sbt/Main.scala#L124

According to the above line `InitCommand` passed to run early, I might have to pass  `InitCommand` without `runEarly` call.
What would you say @eed3si9n ?

[2019-05-14 18:04] eed3si9n opened #4677 "[1.3.0] super shell regressed"

[2019-05-14 18:38] eed3si9n commented on #4677
83db3f16c8aba8bb6b8af642ece4950b68d7b843 ok
cf932c8 ok
c1d2e70 bad
8a456ae ok
8f54ecd bad
4007810 ok

[2019-05-14 19:02] mrveera commented on #3949
@muuki88 Are you still working on it?

[2019-05-15 00:32] #4572 closed, assigned to nobody

[2019-05-15 01:32] eed3si9n commented on #4572
Initially on the release note / blob post, then on the website I guess.

[2019-05-15 02:14] #4650 closed, assigned to nobody

[2019-05-15 02:14] #4677 closed, assigned to nobody

[2019-05-15 03:22] eatkins commented on #4572
Yeah. I also should have written before I closed this that I consider the migration guide a part of https://github.com/sbt/sbt/issues/4460.

[2019-05-15 10:26] mkurz opened #4681 "[1.3.0-RC1] Defaults.collectFiles no longer returns expected sources"
- [x] I've read the [CONTRIBUTING](https://github.com/sbt/sbt/blob/develop/CONTRIBUTING.md) guidelines

## environment:
[code]

## steps

[code]

## problem

You should see following compiler error:
[code]

## expectation

It should compile.
**It does compile with sbt 1.2.8!**

## notes

sbt version: 1.3.0-RC1

[2019-05-15 13:51] eed3si9n commented on #4681
@mkurz Thanks for the report!

[2019-05-15 13:52] mkurz commented on #4681
You are welcome! Let me know if you need more information.

[2019-05-15 17:18] mkurz commented on #4681
Also the scala seed project does not compile (`playframework/play-scala-seed.g8`), with a slightly different compiler error:
[code]

@eed3si9n do you think this will be fixed before sbt 1.3.0 final?

[2019-05-15 17:21] mkurz commented on #4681
I guess the problem has something to do with how twirl _should_ compile the template files:

https://github.com/playframework/playframework/blob/9b88cd7b47f01c413710e8f8e67775d8d67f86d3/build.sbt#L85-L98

[2019-05-15 17:30] eed3si9n commented on #4681
I have to look into the details, but I think it makes sense to figure out what's going on and fix it before the final.

[2019-05-15 20:23] anilkumarmyla opened #4682 "[1.3.0-RC1] No way to get around ${packaging.type}"
First of all, great work on the 1.3.0-RC1, its super fast!

This might be a duplicate of https://github.com/sbt/sbt/issues/3618, but none of the workarounds described in there work for 1.3.0-RC1 release (with exception to excluding the dependency altogether).

Coursier claims to have solved this issue in https://github.com/coursier/coursier/issues/987, but it still creeps up in sbt-1.3.0-RC1 (usin

[2019-05-16 06:38] glennleekg commented on #4027
For the temporary workarround, I am using the dependency

"com.example" %% "lib" % "0.1.0-SNAPSHOT" classifier "tests" **classifier "tests-sources"**

[2019-05-16 14:41] bes1002t commented on #4490
Still not fixed. It would simply compile if you add:

    val packageWar = taskKey[File]("package-war")
    packageWar := {
        val warFile = name.value + "-" + version.value + ".war"
        (baseDirectory in Compile).value / "target" / warFile
    }

[2019-05-16 15:08] plokhotnyuk opened #4685 "[1.3.0-RC1] java.lang.NoClassDefFoundError in tests"
- [x] I've read the [CONTRIBUTING](https://github.com/sbt/sbt/blob/develop/CONTRIBUTING.md) guidelines

## steps

1. Clone the following repo: https://github.com/plokhotnyuk/jsoniter-scala
2. Set `1.3.0-RC1` in `project/build.properties`
3. Run tests: `sbt clean test`

## problem

[error] (jsoniter-scala-benchmark / Test / executeTests) java.lang.NoClassDefFoundError: Could not initialize class co

[2019-05-16 16:49] limansky commented on #4681
I'm not sure if I should submit another ticket, but when I tried to compile BeanPuree with sbt 1.3.0-RC1 I've got OutOfMemoryError:
[code]
Everything works fine with 1.2.8.

Steps to reproduce:
1. get beanpuree https://github.com/limansky/beanpuree
2. set sbt version to 1.3.0-RC1
3. sbt
4. +test

[2019-05-16 16:52] eed3si9n commented on #4681
Maybe we should split the issues by the error message.

[2019-05-16 16:52] eed3si9n opened #4686 "[1.3.0-RC1] java.lang.OutOfMemoryError: Metaspace"
_Originally posted by @limansky in https://github.com/sbt/sbt/issues/4681#issuecomment-493146377_

## steps

1. get beanpuree https://github.com/limansky/beanpuree
2. set sbt version to 1.3.0-RC1
3. sbt
4. +test

## problem

I'm not sure if I should submit another ticket, but when I tried to compile BeanPuree with sbt 1.3.0-RC1 I've got OutOfMemoryError:
[code]

## expectation

Everything works fi

[2019-05-16 16:55] eed3si9n commented on #4682
I just published the release note - https://www.lightbend.com/blog/sbt-1.3.0-release

Could you try

[code]

to go back to Ivy, and see if it works again?

[2019-05-16 17:07] tpolecat opened #4687 "[1.3.0-RC1] sbt-header doesn't work"
- [x] I've read the [CONTRIBUTING](https://github.com/sbt/sbt/blob/develop/CONTRIBUTING.md) guidelines

## steps

Clone [this minimal project](https://github.com/tpolecat/sbt-header-bug). If you do `sbt headerCreate` nothing happens, but if you change `sbt.version` to `1.2.8` and try again it will create a header for `foo.scala`.

## problem

Something has changed in 1.3 that makes sbt-header stop

[2019-05-16 17:16] eed3si9n commented on #4687
@tpolecat Thanks for the report. There's been changes around how we list source files, so I suspect it's on sbt's end.

[2019-05-16 17:30] eed3si9n commented on #4685
Please add the following line to disable layered ClassLoader for your benchmark project:

[code]

[2019-05-16 17:30] #4685 closed, assigned to nobody

[2019-05-16 18:02] eed3si9n commented on #4681
Running twirl tests with sbt 1.3.0-RC1 - https://github.com/playframework/twirl/pull/215

[2019-05-16 18:26] eed3si9n commented on #4686
I wasn't able to reproduce this either locally or on Travis - https://travis-ci.org/limansky/beanpuree/builds/533456390

[2019-05-16 18:28] eatkins commented on #4686
I was able to reproduce on my machine.

[2019-05-16 18:29] anilkumarmyla commented on #4682
It works with this
[code]

[2019-05-16 18:30] eed3si9n commented on #4686
Travis uses

[code]

could you post your mem settings?

[2019-05-16 18:34] eed3si9n commented on #4682
ok. So as far as sbt 1.3.0 is concerned, the situation hasn't changed (if you use `useCouriser := false`) or we can ask Coursier to revisit the issue. Could we close this issue as sort of resolved? :)

[2019-05-16 18:44] eatkins commented on #4686
[code]

[2019-05-16 18:47] anilkumarmyla commented on #4682
works for me, but disappointed I cannot use coursier :(

[2019-05-16 18:51] eatkins commented on #4686
I usually have "-XX:MaxMetaspaceSize=512m" added to my SBT_OPTS, but I disabled that for testing.

[2019-05-16 19:05] anilkumarmyla opened #4688 "[1.3.0-RC1] sbt-dependency-graph doesn't work"
With 1.3.0-RC1, sbt-dependency-graph plugin stops working, since this release claims that plugins are expected to work throughout the 1.x series, I'm not sure if I should file this issue here or in sbt-dependency-graph repo, let me know

[code]

[2019-05-16 19:18] eatkins commented on #4688
Objects that are marked internal are not meant to be used by directly by plugins so the binary compatibility guarantee doesn't hold in this case. It should be a straightforward fix to the plugin however.

[2019-05-16 19:21] eed3si9n commented on #4686
ok. I can reproduce this too when I unset my JAVA_OPTS and SBT_OPTS.

[code]

also works, so in addition to sbt 1.3.0 using too much metaspace, maybe the fact that `-XX:MaxMetaspaceSize` is specified at all by the script is a problem?

[2019-05-16 19:24] eatkins commented on #4686
I did notice that if I ran java -jar sbt-launch.jar directly, I didn't have the issue.

[2019-05-16 19:24] eed3si9n commented on #4682
If you have reproducible steps, you could open/reopen issue on Coursier repo.

[2019-05-16 19:25] eatkins commented on #4686
That being said, I looked at a heap dump and the eclipse memory analyzer did report a leak.

[2019-05-16 20:34] pshirshov opened #4689 "ClassLoaderLayeringStrategy.ScalaLibrary breaks scalatest"
Hi,

Seems like `ClassLoaderLayeringStrategy.ScalaLibrary` in 1.3.0-RC1 breaks scalatest with the a cryptic message. Surprisingly default setting works, as well as `.Flat`. I guess it's not a bug but could anyone explain this behaviour? From my understanding of the new scheme it should work fine.

[code]

sbt 1.3.0-RC1
scala 2.12.8
scalatest 3.0.7

[2019-05-16 20:41] philwalk opened #4690 "[1.3.0-RC1] java.nio.file.InvalidPathException on Windows when files names have non-ascii characters"
I've read the [CONTRIBUTING](https://github.com/sbt/sbt/blob/develop/CONTRIBUTING.md) guidelines

## steps
1. environment: windows 10, any shell (tested CMD.EXE/sbt.bat, and cygwin/bash/sbt).
2. edit project/build.properties, setting sbt.version=1.3.0-RC1
3. create a file in the current directory with a file named thisenv.out^M
Note: in cygwin bash environment, file can be created via this command

[2019-05-16 20:42] pshirshov opened #4691 "Default ClassLoaderLayeringStrategy breaks some code which uses dirty magic to resolve singletons"
I have a project with a custom `StaticLoggerBinder` for `slf4j`.

I noticed that slf4j started failing picking up this (dirty and shitty) singleton class while running my tests under 1.30-RC1.

The behaviour observed is explainable.

Also there are other issues, like I'm building my microsite with paradox and sbt-microsite and noticed that sbt throws a lot of `NoClassDefFoundError`s during shutdow

[2019-05-16 20:50] anilkumarmyla commented on #4682
@eed3si9n I tried to reproduce this with coursier and interestingly, this resolves if I include the sbt-coursier plugin explicitly (anything going on in the background)?
[code]

[2019-05-16 20:53] eed3si9n commented on #4682
That's interesting. The core part of Coursier is the same but there are some glue code differences.

[2019-05-16 20:57] eed3si9n commented on #4689
@pshirshov Thanks for the report. If the default is working, then ScalaLibrary not working sounds like a bug.

[2019-05-16 21:08] eed3si9n commented on #4691
@pshirshov Thanks for the report.

I am open to both possibilities. For RC-1, we wanted to turn on all the turbo mode and gauge the community feedback. If the test breakage % is too high, then it makes sense to pick more conservative default. I'd guess that 80% of the builds would be ok, but I am not sure if that's ok enough.

[2019-05-16 21:11] eed3si9n commented on #4690
@philwalk Thanks for the report. The expectation makes sense to me too.

[2019-05-16 21:20] philwalk opened #4692 "pdfxstream library dependency breaks sbt 1.3.0-RC1 but working for earlier versions"
I've read the [CONTRIBUTING](https://github.com/sbt/sbt/blob/develop/CONTRIBUTING.md) guidelines

## steps

- download sbt 1.3.0-RC1, and install it as your sbt command line tool
- create a new project containing the following build.sbt

[code]

-  `sbt update
`
## problem
sbt update results in the following error:
[code]

## expectation
if you then edit `project/build.properties` and specify `sbt

[2019-05-16 21:44] philwalk commented on #4692
ok, this may not be a bug, except in the sense that I have a local copy of pdfxstream in my ivy2 cache, and it might not be available to the new sbt?

[2019-05-16 22:13] eed3si9n commented on #4692
https://repo1.maven.org/maven2/com/snowtide/ doesn't show pdfxstream.

And I also get this on sbt 1.2.8:

[code]

[2019-05-16 22:13] #4692 closed, assigned to nobody

[2019-05-16 22:24] pshirshov commented on #4691
Just discovered that mdoc fails also.

Damn singletons.

[2019-05-16 23:58] davidhoyt opened #4693 "ClassLoaderLayeringStrategy IlegalArgumentException when extending test configuration"
- [x] I've read the [CONTRIBUTING](https://github.com/sbt/sbt/blob/develop/CONTRIBUTING.md) guidelines

## steps
Derive a new configuration from an existing one. e.g.:

[code]

And then use it:

[code]

## problem
The following is output:
[code]

## expectation
A new configuration extending `Test` should just work. In this case `extend (Runtime, Test)` is important because any other variant and In

[2019-05-17 00:02] philwalk commented on #4692
I don't get any problems with sbt 1.2.8 because my local cache has a copy of pdfxstream.   Shouldn't sbt 1.3.0-RC1 also find it?

[2019-05-17 01:27] eed3si9n commented on #4692
sbt 1.3.0-RC1 uses Coursier by default - https://www.lightbend.com/blog/sbt-1.3.0-release

[2019-05-17 01:28] eed3si9n commented on #4693
@davidhoyt Thanks for the report!

[2019-05-17 01:54] japgolly opened #4694 "Prompt continually being cleared"
- [x] I've read the [CONTRIBUTING](https://github.com/sbt/sbt/blob/develop/CONTRIBUTING.md) guidelines

## steps

In the SBT shell, run `test:compile` interleaved with ctrl-L (to clear console) a few times.

## problem

Eventually SBT gets into a state where it keep clearing the current line.
I'll see the `root> ` prompt appear and then disappear. If I type anything I briefly see the character app

[2019-05-17 01:59] japgolly opened #4695 "Command alias prefixed with `~` doesn't work"
- [x] I've read the [CONTRIBUTING](https://github.com/sbt/sbt/blob/develop/CONTRIBUTING.md) guidelines

## steps

1. Add `addCommandAlias("tc" , "test:compile")` to `build.sbt`
2. Start sbt
3. Type `~tc`

## problem

An exception occurs:

[code]

## expectation

It should be equivalent to running `~test:compile` which works.

## notes

sbt version: 1.3.0-RC1

[2019-05-17 02:04] japgolly opened #4696 "Console not cleared between runs"
- [x] I've read the [CONTRIBUTING](https://github.com/sbt/sbt/blob/develop/CONTRIBUTING.md) guidelines

## steps

Add `triggeredMessage := Watched.clearWhenTriggered` to `build.sbt`
Run `~test:compile` and make changes

## problem

Console is never cleared.

## expectation

Console should be cleared between runs.

## notes

sbt version: 1.3.0-RC1

[2019-05-17 02:53] glennleekg commented on #4027
@jastice @jmthibault79

For the temporary workarround, I am using the dependency

"com.example" %% "lib" % "0.1.0-SNAPSHOT" % "test" classifier "tests" **classifier "tests-sources"**

[2019-05-17 03:30] eed3si9n commented on #4694
@japgolly Thanks for the report. Could you share more on your environment to help reproduce it on our end plz? For instance which os and terminal program are you using?

[2019-05-17 03:30] davidhoyt commented on #4693
And thanks to you and all the contributors for all the hard work that's gone into this release!

[2019-05-17 03:34] eed3si9n commented on #4695
Maybe different mechanisms but we had similar issue with `+` - https://github.com/sbt/sbt/issues/2776

[2019-05-17 06:07] plokhotnyuk commented on #4685
@eed3si9n Thanks a lot!

Now it works on Linux and MacOS X, but still fails in tests on Windows with the following error:
[code]
Please, look for more details in [the Appveyor build log](https://ci.appveyor.com/project/plokhotnyuk/jsoniter-scala/builds/24602003).
Is it yet another misconfiguration or a separated issue that worth reporting?

[2019-05-17 06:08] mr-git commented on #4686
I got this error locally too, but when I started SBT like `sbt -mem 4096` it didn't fail any more.
The cause of this issue is sensitive to SBT configuration.

[2019-05-17 06:44] kwark opened #4697 "[1.3.0-RC1] does not work with IntelliJ"
- [x] I've read the [CONTRIBUTING](https://github.com/sbt/sbt/blob/develop/CONTRIBUTING.md) guidelines

## steps

1. sbt new scala/hello-world.g8
2. import project in IntelliJ with "Use sbt shell for imports/for builds checked"
3. edit "project/build.properties" and change sbt version to "1.3.0-RC1"
4. restart sbt-shell (in IntelliJ)

[code]

## problem

IntelliJ starts it's sbt-shell using:

`/Li

[2019-05-17 06:45] japgolly commented on #4694
Ah yes, of course :)

I'm on a mac - osx 10.12.6, just using the built in Terminal app.
I'm also using zsh 5.7.1 (x86_64-apple-darwin16.7.0)
Java is:

[code]

If there's anything else useful that I didn't think of, let me know.

[2019-05-17 07:46] vn971 commented on #4682
Possible duplicate of #956

[2019-05-17 07:47] vn971 commented on #4682
This issue was raised in coursier as well (but just ultimately closed): https://github.com/coursier/coursier/issues/956

[2019-05-17 08:22] filamoon commented on #4103
I'm experiencing a same problem in 1.2.7.

It seems org.scoverage#sbt-scoverage;1.5.1 is in the central maven repo (or the "DefaultMavenRepository"), but it keeps reporting errors. Looks like DefaultMavenRepository is never consulted.

[error] unresolved dependency: org.scoverage#sbt-scoverage;1.5.1: Resolution failed several times for dependency: org.scoverage#sbt-scoverage;1.5.1 {compile=[defaul

[2019-05-17 10:43] bjaglin opened #4698 "[1.3.0-RC1] Ivy repository for 0.13.x releases not available by default when cross-compiling a plugin"
## KO with 1.3.0-RC1

[code]

[code]

## OK with 1.2.8
[code]

[code]

[2019-05-17 10:44] bjaglin commented on #4698
Not sure if I am looking in the right place, but https://github.com/sbt/sbt/blob/cf932c8a13b4dee047ffd75fe31539720800a404/main/src/main/scala/sbt/internal/librarymanagement/CoursierRepositoriesTasks.scala#L22 does reference the repository where 0.13.x releases are published, but since there is a 302 redirect, maybe the Coursier behavior is not the same as ivy?

[2019-05-17 11:26] bjaglin commented on #4698
Adding
[code]
to a [custom repository configuration](https://www.scala-sbt.org/1.x/docs/Proxy-Repositories.html#sbt+Configuration) fixes the regression.

[2019-05-17 12:32] cquiroz opened #4699 "[1.3.0-RC1] FSEvents error"
- [*] I've read the [CONTRIBUTING](https://github.com/sbt/sbt/blob/develop/CONTRIBUTING.md) guidelines

## steps
Run in triggered mode for a while (at least some 20 reloads), e.g.
~project/compile

## problem
Triggered mode stops working and I get a large amount of messages like
`2019-05-17 08:11 java[63537] (FSEvents.framework) FSEventStreamStart: register_with_server: ERROR: f2d_register_rpc() =

[2019-05-17 12:50] eed3si9n commented on #4697
@kwark Thanks for the report!

[2019-05-17 12:54] eed3si9n commented on #4698
@bjaglin Thanks for the report!

I am guessing you could also add a resolver like this:

[code]

If so I might just update the g8 template and docs.

[2019-05-17 12:57] eed3si9n commented on #4699
@cquiroz Thanks for the report!

Are you using any plugins with Atom that might be launching sbt in the background?

[2019-05-17 12:58] cquiroz commented on #4699
Yeah metals is installed and running with Atom

[2019-05-17 14:10] avdv opened #4700 "[1.3.0-RC1] Update hangs when resolving against Artifactory with auth"
- [x] I've read the [CONTRIBUTING](https://github.com/sbt/sbt/blob/develop/CONTRIBUTING.md) guidelines :heavy_check_mark:

## steps

1. start `sbt`

## problem

It starts to resolve dependencies, but never finishes:
[code]

## expectation

It should successfully resolve dependencies.

Adding `useCoursier := false` to `project/build.sbt` resolves this problem.

Is it possible to debug into this?

W

[2019-05-17 14:14] eed3si9n commented on #1284
I sometimes use sbt-sriracha (http://eed3si9n.com/hot-source-dependencies-using-sbt-sriracha).

[2019-05-17 14:22] eed3si9n commented on #4700
@avdv Thanks for the report. Do you have a project that we can use to reproduce this issue on our machine?

[2019-05-17 14:24] eed3si9n commented on #4688
This issue was reported as https://github.com/sbt/sbt/issues/4688. (About to transfer)
Nope. I can't it's at https://github.com/jrudolph/sbt-dependency-graph.

[2019-05-17 14:25] eed3si9n commented on #4688
Closing this as, sorry-it's-internal.

[2019-05-17 14:31] avdv commented on #4700
I could try to reduce it to some minimal reproducer...

But, I just discovered that it is indeed trying to resolve the dynamic revision against our internal Artifactory server, **verbatim**:
[code]

[2019-05-17 14:44] avdv opened #4701 "[1.3.0-RC1] Cannot run source generator"
- [x] I've read the [CONTRIBUTING](https://github.com/sbt/sbt/blob/develop/CONTRIBUTING.md) guidelines :heavy_check_mark:

## steps

Our main project uses a source generator, defined as a task. The generator is compiled from the `codegen` sub-project:
[code]

1. `sbt compile`

## problem :boom:

[code]

## expectation

It should work as before with SBT 1.2.8. :smile:

## workaround

Setting `codeg

[2019-05-17 15:37] avdv commented on #4700
BTW, does the coursier resolver work with credentials out of the box? Some months ago, one had to explicitly set `coursierUseSbtCredentials := true` or something like that...

[2019-05-17 15:53] eed3si9n commented on #4700
It should. I am translating the credentials here:

https://github.com/sbt/sbt/blob/v1.3.0-RC1/main/src/main/scala/sbt/internal/librarymanagement/CoursierInputsTasks.scala#L208

[2019-05-17 17:16] eed3si9n commented on #4689
[code]

https://github.com/scalatest/scalatest/blob/release-3.0.7/scalatest/src/main/scala/org/scalatest/tools/Framework.scala

[code]

[2019-05-17 17:23] eatkins commented on #4689
sigh: https://github.com/scalatest/scalatest/pull/1534/files

[2019-05-17 17:25] eatkins commented on #4689
Since sbt has always had first class scalatest support, an obvious fix would be to check the defined test frameworks and add the scala reflect library jar if scalatest is in the list. It is a bummer to have to special case scalatest though.

[2019-05-17 17:28] eed3si9n commented on #4689
It does work out of the box and `Flat`, so the failure almost seems like it's working as expected.

[2019-05-17 17:30] eatkins commented on #4689
Perhaps, but I'm still a bit confused as to why this is happening because scala reflect is in the ivy.xml for scalatest so the scala reflect jar should be in the layer that contains the scalatest jar.

[2019-05-17 17:48] ikryvorotenko commented on #4700
I've got the same issue on my repo. And It has the plugin dependency coming from internal artifactory, just as @avdv described.

It looks like I have faced this issue before when tried to introduce Coursier plugin, but that time I just decided to remove it.

@avdv @eed3si9n  how do you trace/debug sbt to see more what's going on inside?

[2019-05-17 18:14] eed3si9n commented on #4700
You can try `sbt -debug`

[2019-05-17 18:21] eed3si9n commented on #4689
It's me. I think broke it in https://github.com/sbt/sbt/pull/4671.

I missed the si.allJars here.

[2019-05-17 18:43] anilkumarmyla commented on #4688
thanks, filed an issue on the plugin github repo

[2019-05-17 19:13] eed3si9n commented on #4697
Here's a quick minimization. Add the following to `project/plugins.sbt`

[code]

I get

[code]

[2019-05-17 19:44] bjaglin commented on #4698
Thanks for the very prompt reply!

Indeed, my bad. It does make sense to add it, I just never thought about explicitly adding it with previous versions.

Regarding the actions we could take - https://github.com/sbt/website/blob/5524bb3e66a67fd73555910519abff51115fe3cd/src/reference/02-DetailTopics/05-Plugins-and-Best-Practices/07-Cross-Build-Plugins.md would need a big overhaul anyway and the amou

[2019-05-17 19:46] eed3si9n commented on #4697
Opened https://github.com/coursier/coursier/issues/1175 on Coursier.

[2019-05-17 21:02] eed3si9n commented on #4701
I think this will be fixed with https://github.com/sbt/sbt/pull/4703.

[2019-05-17 21:26] eed3si9n commented on #4694
On Terminal, I tend to use `⌘K` (Clear to Start). It seems like there's `^⌘L` (Clear Screen), which might be close to what you're talking about. Either way, I wasn't able to get to the problem state.

[2019-05-17 21:41] eed3si9n opened #4704 "[1.3.0-RC1] intermittent no-op invalidation"
## steps

Using sbt/sbt, run `compile` ten times.

## problem

Occasionally invalidation is picked for some reason and `compile` starts compiling things.

[code]

## expectation

Don't invalidate things on no-op compile.

[2019-05-17 22:46] smarter opened #4705 "sbt 1.3 classloader layering: support more than one jar for the standard library"
Dotty's standard library is currently effectively represented by two jars: a scala-library jar compiled by Scala 2 and its own dotty-library jar. Reusing the scala-library jar from Scala 2 is what makes it possible for Dotty code to reuse Scala 2 libraries. However, sbt is not aware of this because `ScalaInstance` in zinc requires using a single File for the standard library. So far this hasn't be

[2019-05-17 22:48] japgolly commented on #4694
Not it's not a terminal command, ctrl-L is a readline or jline supported
command, isn't it? Are you saying you tried ctrl-L and it didn't work? If
so maybe it's shell settings.

Also I'm not exactly sure if the screen clearing is relevant cos I saw a
Reddit comment that somebody else is experiencing this same issue. We
should probably reach out and ask them for more info too. I'd be surprised
if t

[2019-05-17 23:08] japgolly commented on #4694
Ah I just visited Reddit to ask the other user if they could add more info to this ticket but I see you've already been there :)

[2019-05-18 10:13] jrudolph opened #4706 "[1.3.0] updateFull is missing caller for direct dependencies"
## steps

git clone akka/akka
sbt "show akka-stream/updateFull" > update.txt

## problem

[code]

caller info is missing for org.reactivestreams:reactive-streams and com.typesafe:ssl-config-core_2.12.

## expectation

All modules have a caller.

## original report by jrudolph

That's a regression compared to previous versions that prevents sbt-dependency-graph from working correctly.

See also
- h

[2019-05-18 10:24] jrudolph opened #4707 "[1.3.0-RC1] update task fails even if UpdateConfiguration.withMissingOk(true)"
That's a regression in 1.3.0-RC1.

Reproducer:

 * include a missing `libraryDependency`
 * `updateConfiguration := updateConfiguration.value.withMissingOk(true)`
 * call `update`

Previously, the update call succeeded, now it fails.

This functionality is needed in sbt-dependency-graph to support showing graphs even if some dependencies are missing.

See also https://github.com/jrudolph/sbt-depen

[2019-05-18 14:19] eed3si9n commented on #4706
Sorry. In https://github.com/sbt/sbt/pull/4606 I trimmed update report with the information.
You might need to define a dynamic task to call `updateFull` for sbt 1.3.0 and up.

[2019-05-18 14:20] eed3si9n commented on #4707
@jrudolph Thanks for the report!

[2019-05-18 14:20] eed3si9n commented on #4705
@smarter Thanks for the report!

[2019-05-19 00:50] gavinbaumanis opened #4708 "[1.3.0-RC1] sbt.librarymanagement.ResolveException: Error downloading org.webjars.npm:dom-serializer:[0,1)"
- [ ] I've read the [CONTRIBUTING](https://github.com/sbt/sbt/blob/develop/CONTRIBUTING.md) guidelines

## steps
Running any SBT command

## problem
All commands fail with the same stack trace produced

## expectation
SBT commands to complete successfully.

## notes

sbt version: 1.3.0-RC1
Scala 1.2.8

[code]

[2019-05-19 00:53] eed3si9n commented on #4708
@gavinbaumanis Thanks for the report. It seems like this happens with specific library or a plugin, do you have a project that we can use on our computer to reproduce the issue?

[2019-05-19 01:42] gavinbaumanis commented on #4708
@eed3si9n  : I am just creating a new application from the play-scala-seed - using my build / plugins and configuration files.

I'll load up things one at a time, then two / etc... and see if I can find the offending item.
Update : It is going to take a while to go through all the scenarios and document them all properly.
I'll update the thread once I have completed testing / documenting.

[2019-05-19 14:24] felher opened #4709 "[1.3.0-RC1] .pom files of dependencies in the local .m2 store get deleted while resolving dependencies"
- [x] I've read the [CONTRIBUTING](https://github.com/sbt/sbt/blob/develop/CONTRIBUTING.md) guidelines

## steps
I attached a zip containing three things:
- a folder with a mini project, configured to show the problem
- a folder containing sample dependencies
- a docker file setting up a minimal, fresh system to show the problem (of course, you don't have to use the docker file. You can do everyth

[2019-05-19 17:02] eed3si9n commented on #4709
@felher Thanks for the detailed reproduction.

/cc @alexarchambault

[2019-05-19 19:19] phdoerfler commented on #4700
Is this in any way related to https://github.com/coursier/coursier/issues/1176?

[2019-05-20 08:34] yscialom commented on #4366
Reproduced on a CentOS 7, OpenJDK-1.8.0_212, sbt-1.2.8, behind a proxy.
Workaround: added `-Dsbt.gigahorse=false` to sbt options.

[2019-05-20 10:04] vvviiimmm commented on #3108
And again...

[2019-05-20 11:26] jrudolph commented on #4706
Thanks for the info. However, I'll need some solution that will work across sbt 1.x versions. How would that work? It seems `updateFull` is only available from 1.3.x?

[2019-05-20 11:54] jrudolph commented on #4706
In fact, as I need to overwrite `withMissingOk` for a new task, I already used `Classpaths.updateTask` which seems to be the implementation of `updateFull` so it should still work. However, the `details` seem to be empty and also caller information is incomplete.

Another big problem is that eviction is now working differently than before. How was coursier support tested if that most basic of feat

[2019-05-20 11:56] jrudolph opened #4710 "[1.3.0-RC1] Eviction behavior changed since 1.2.x"
Already noted in https://github.com/sbt/sbt/issues/4706 but since it's such a big behavior change, here is a dedicated ticket for it.

build.sbt:

[code]

Output of `show externalDependencyClasspath` in sbt 1.2.8:

[code]

Output of `show externalDependencyClasspath` in sbt 1.3.0-RC1 (note that the wrong version 1.9.10 of jackson is chosen):

[code]

[2019-05-20 12:16] jrudolph commented on #4710
Hmm after some investigation, the resolution in 1.3.0-RC1 seems more correct than the old one because `jerkson` defines a dependency on jackson with revision `[1.9.0,2.0.0)`. It's unclear to me how version 1.9.11 came into the picture at all (maybe ivy chose the latest one based on contents of `http://repo1.maven.org/maven2/org/codehaus/jackson/jackson-core-asl/` where timestamps seem to be missin

[2019-05-20 12:16] #4710 closed, assigned to nobody

[2019-05-20 12:18] jrudolph commented on #4706
See the update in #4710 on that issue. It seems that particular artifact combination leads to a weird edge case, where ivy seemed to have pulled version 1.9.11 of jackson out of nowhere and the coursier behavior is quite defensible.

[2019-05-20 12:25] jrudolph commented on #4706
So the remaining problem with eviction is that it is not reported any more it seems (also `updateFull` doesn't show evicted versions at all):

[code]

1.2.8:

[code]

1.3.0-RC1:

[code]

[2019-05-20 12:49] gavinbaumanis commented on #4708
I wrote a BATCH script to;
* Add one line at a time from my build.sbt and plugins.sbt files into the test application..
* And to alternate between a build.properties of 1.2.8 and 1.3.0-RC1
* And to alternate between sbt executable versions of 1.2.8 and 1.3.0-RC1

And finally found the offender, It is a plugin; JSHINT.
`addSbtPlugin("com.typesafe.sbt" % "sbt-jshint" % "1.0.6")`

The issue is only e

[2019-05-20 13:07] regadas commented on #4687
~@eed3si9n I think the culprit might be `sbt.Defaults.collectFiles`~ Sorry I missed the fact that there's already something in the works.

[2019-05-20 15:45] eed3si9n commented on #3108
I'll resign again. I don't know how it's losing the signature.
Given that this issue reports various other issues, in the future let's use https://github.com/sbt/sbt/issues/3883 for "E: The repository 'https://dl.bintray.com/sbt/debian  Release' is not signed." issue.

[2019-05-20 16:41] eed3si9n commented on #4709
I reported this to upstream (https://github.com/coursier/coursier/issues/1178) since I can reproduce this using sbt 1.2.8 with `addSbtPlugin("io.get-coursier" % "sbt-coursier" % "1.1.0-M13-4")`.

[2019-05-20 17:18] eed3si9n commented on #4710
Yes. Dynamic revision (version range, SNAPSHOT, etc) on Ivy is broken since it tries to go out to Internet to grab the information rather than solve the reasonable candidate from the dependency graph.
Ref https://github.com/sbt/sbt/issues/2954 / https://github.com/sbt/sbt/pull/2959

[2019-05-20 18:28] eed3si9n commented on #4689
Should be fixed in https://github.com/sbt/sbt/pull/4703.

[2019-05-20 18:28] #4689 closed, assigned to nobody

[2019-05-20 18:50] #4701 closed, assigned to nobody

[2019-05-20 21:29] Atry opened #4711 "1.3.0-RC1 regression: NoClassDefFoundError in tests"
- [x] I've read the [CONTRIBUTING](https://github.com/sbt/sbt/blob/develop/CONTRIBUTING.md) guidelines

## steps
[code]

## problem

[code]

## expectation

No error

## notes

Changeset: https://github.com/Atry/Dsl.scala/commit/f83d92839af69c32f3be5092e776439623cc93ef
Error log: https://travis-ci.org/Atry/Dsl.scala/jobs/535001019

sbt version: 1.3.0-RC1

[2019-05-21 03:25] eed3si9n commented on #4711
@Atry Thanks for the report. Could you try the following and see if the test would run?

[code]

[2019-05-21 04:00] Atry commented on #4711
It is still a `NoClassDefFoundError` for Scala 2.11, and becomes an `OutOfMemoryError` for Scala 2.12 and 2.13 if I add the above setting

* commit: https://github.com/Atry/Dsl.scala/commit/039a3033f1e843cd3a5a4f14cec2726797b46a4b
* build log: https://travis-ci.org/Atry/Dsl.scala/builds/535112033

[2019-05-21 07:01] avdv commented on #4700
Probably not.

This issue here seems to be a problem with coursier starting with 1.1.0-M14, it hangs when resolving dynamic revisions (with credentials and/or against Artifactory -- I still need to pinpoint the problem).

Using the versions before (1.1.0-M8 <> 1.1.0-M13-4) gave a resolution error, which is not the expected output either but OK.

[2019-05-21 08:44] dotta opened #4712 "[1.3.0-RC1] regression: bridge sources JAR not downloaded"
- [x] I've read the [CONTRIBUTING](https://github.com/sbt/sbt/blob/develop/CONTRIBUTING.md) guidelines

## steps

Please see https://github.com/dotta/sbt-1.3.0-bridge-download-regression/ for a full reproducible with explanations in the README.

## problem

The configured bridge sources are not downloaded now that Coursier is the default dependency manager. It works fine if Ivy is used instead.

#

[2019-05-21 16:14] Ophirr33 commented on #4711
@eed3si9n I had some issues where `logback-test.xml` wasn't getting picked up with the new 1.3.0-RC1 release, but setting the `classLoaderLayeringStrategy` to flat like you suggested above fixes it. I'm curious what's different in the default behavior that files in `src/test/resources` aren't getting put into the test classpath?

[2019-05-21 16:16] eed3si9n commented on #4712
@dotta Thanks for the report with repro project!

[2019-05-21 20:21] eatkins commented on #4711
@Ophirr33 the default layering strategy creates multiple layers of classloaders. The src/test/resources get put in the bottom layer which makes them inaccessible to the higher layers. Theoretically ClassLoaderLayeringStrategy.ScalaLibrary should have worked for you, though there is a bug in 1.3.0-RC1 that prevents it from working if your project uses scala reflect.

[2019-05-21 20:52] eed3si9n commented on #4712
For what it's worth, this problems happens with both Ivy and Coursier using sbt 1.3.0-RC1 with empty cache. `sbt -ivy cache`.

[code]

https://github.com/sbt/sbt/blob/v1.3.0-RC1/main/src/main/scala/sbt/Defaults.scala#L557-L568
[code]

To resolve the compiler bridge source, `bootDependencyResolution.value` is used. Keys.scala says `bootDependencyResolution` is

The description matches up with the i

[2019-05-21 20:59] eed3si9n commented on #4712
There was a similar discussion about Dotty's compiler bridge in https://github.com/coursier/coursier/issues/1181 with @smarter. Different mechanism, but the conclusion is that custom bridge require custom tweaking.

Combined conclusion might be that I should not reuse  `bootDependencyResolution` and create `ThisBuild / scalaCompilerBridgeDependencyResolution` instance specifically for this purpose

[2019-05-21 21:11] smarter commented on #4712
The problem in that issue is related to customizing scalaInstance (and what's more customizing it in the build of Dotty itself) and independent from the use of a custom bridge.

[2019-05-22 02:57] ikryvorotenko commented on #4700
@avdv It seems like the root cause of the issue is custom artifactory server authentication. In my project, I have a strict dependency version of an sbt-plugin coming from private artifactory and it still hangs.

[2019-05-22 08:13] dotta commented on #4712
Ah, you are absolutely right. I must have had the hydra-bridge in the ivy cache after the different tests I did (and I didn't know about that useful -ivy option!). Sorry for the misinformation.

The problem for us is that sbt-hydra has to work across all sbt 1.x releases, as we really can't stop supporting old sbt releases at the moment. I'm wondering if the new setting can be introduced so that w

[2019-05-22 08:29] avdv commented on #4700
Yes, you're right. I forgot about the global resolver configuration. It only hangs when trying to resolve against Artifactory with credentials. I'll update the coursier issue.

[2019-05-22 13:27] eed3si9n commented on #4711
@eatkins @Ophirr33

Maybe this is serious enough to split out into a new issue. https://github.com/sbt/sbt/issues/4714

[2019-05-22 13:29] eed3si9n opened #4714 "[1.3.0-RC1] src/test/resources are not visible from test libraries"
I had some issues where `logback-test.xml` wasn't getting picked up with the new 1.3.0-RC1 release, but setting the `classLoaderLayeringStrategy` to flat like you suggested above fixes it. I'm curious what's different in the default behavior that files in `src/test/resources` aren't getting put into the test classpath?

_Originally posted by @Ophirr33 in https://github.com/sbt/sbt/issues/4711#issu

[2019-05-22 13:30] eed3si9n commented on #4714
@eatkins wrote

[2019-05-22 13:35] eed3si9n commented on #4714
@eatkins Would this also affect something like Lightbend Config? I'd guess it's a fair common thing to have test-only `application.config` etc.

[2019-05-22 13:39] eed3si9n commented on #4699
Does that mean you're running two instances of sbt on a single working directory?
One by you and the other by Atom and/or metals? If so can you reproduce them using just one instance of sbt?

[2019-05-22 14:08] ashawley opened #4715 "Failure running +project/testOnly"
## steps

In a multi-project build for a library that cross-compiles, run a single test across multiple Scala versions:

[code]

I'll try to send a scripted test in a PR to prove this is not working.

## problem

This used to work in sbt 0.13.  In sbt 1.2.8, there's a runtime exception:

[code]

## expectation

Run the test across multiple versions of Scala, and not throw an exception.

## notes

[2019-05-22 15:38] cquiroz commented on #4699
I haven't seen it again. It could be that atom was running 1.2.8 while I did the reboot with 1.3.0-RC1 an sbt. It is hard to tell

I'll keep observing but if it doesn't appear again it maybe better to close it as non reproducible

[2019-05-22 19:52] eed3si9n commented on #4714
We discussed this in sbt meeting today. Hopefully this can be fixed by adding more layers.

[2019-05-22 21:03] eed3si9n commented on #4686
@eatkins and I discussed this at length in sbt meeting today.
There are various small workarounds we can try to reduce the pressure on Metaspace (a space in the native heap of Java Virtual Machine where class metadata is stored), but we agreed that we need to _remove_ the use of `-XX:MaxMetaspaceSize` from launchers and launch scripts since it aggravates the problem by putting an arbitrary limit.

[2019-05-22 21:57] limansky commented on #4686
So, it is not a leak, but it just requires more memory than 1.2.8?

[2019-05-22 22:03] eatkins commented on #4686
Not necessarily. Metaspace is a native memory region in the jvm. We have very little insight into what is occupying memory in there or if that memory is even used. I have detected very little difference in process heap, virtual or resident memory utilization comparing 1.2.8 and 1.3.0. In spite of that, 1.3.0 will require a much higher value for MaxMetaspaceSize or it will crash. We do not fully un

[2019-05-23 00:28] andyscott commented on #4665
I'm seeing a similar error when trying to publish https://github.com/higherkindness/droste with SBT 1.2.8.

[code]

[2019-05-23 01:20] eed3si9n commented on #4686
One potential explanation is that sbt 1.3.0 loads more number of classes for whatever reasons, and require higher water mark. This could be because we introduced lm-coursier with shaded third-party libraries, different ClassLoader mechanisms, etc. But that pressure on Metaspace might be a temporary thing during task execution (this is consistent with it getting triggered by `+test`), and it may or

[2019-05-23 03:17] eed3si9n commented on #4665
@andyscott Thanks for following up with more info.

Looking at the stacktrace again, it looks like ScalaDoc is calling `scala.tools.nsc.javac.JavaScanners` to create a comment and/or warning, and then the registered reporter asks for the position of the event, and it goes to `scala.reflect.internal.util.BatchSourceFile.offsetToLine` and it's out of bounds.
`xsbt.DelegatingReporter` calls `lineOf`

[2019-05-23 03:19] eed3si9n commented on #4665
See also https://github.com/scala/bug/issues/9885

[2019-05-23 05:15] andyscott commented on #4665
Yep, makes sense!

You should be able to reproduce the error in Droste on commit sha `e92efd0ad467af6af24206bcd2842260b77d8a40` by running `publishLocal` from the root project. The issue went away after downgrading SBT to 1.2.0.

[2019-05-23 06:12] marcadella commented on #1144
Still an issue in sbt 1.x.x.

[2019-05-23 07:00] plokhotnyuk opened #4717 "[1.3.0-RC1] java.nio.file.InvalidPathException on Windows when class names have non-Ascii characters"
- [x] I've read the [CONTRIBUTING](https://github.com/sbt/sbt/blob/develop/CONTRIBUTING.md) guidelines

## steps

1. Clone the following repo: https://github.com/plokhotnyuk/jsoniter-scala
2. Set `1.3.0-RC1` in `project/build.properties`
3. Run tests: `sbt clean test`

## problem

[error] (jsoniter-scala-macros / Test / compileIncremental) java.nio.file.InvalidPathException: Illegal char <?> at in

[2019-05-23 07:05] lxohi opened #4718 "Running sbt in background will be suspended"
- [x] I've read the [CONTRIBUTING](https://github.com/sbt/sbt/blob/develop/CONTRIBUTING.md) guidelines

## steps
Run ```sbt &```(with or without command, e.g. ```sbt package &```)

## environment
**system:** Mac OS or Cent OS
**shell:** bash or zsh

## problem
The background process will be stopped and ```[2]  + suspended (tty output)  sbt``` prints out.

## expectation
sbt should run in the backg

[2019-05-23 08:28] blast-hardcheese opened #4719 "Power mode seems to have gotten broken"
- [x] I've read the [CONTRIBUTING](https://github.com/sbt/sbt/blob/develop/CONTRIBUTING.md) guidelines

## steps

Launch sbt
Run `console`
Type `:power`

## problem

[code]

## expectation

[code]

## notes

I'd like to bisect between 1.1.1 and 1.1.2, though I can't do it at this point. I just wanted to raise awareness, as this breaks https://github.com/marconilanna/REPLesent at the sbt console

s

[2019-05-23 12:30] eed3si9n commented on #4182
One of the first time I heard about this was scalikejdbc failing when it upgraded to sbt 1.1.5.
Note Travis CI's default is already 6MB of stack.

I sent a pull request last May to downgrade to Scala 2.12.4 as a workaround -  https://github.com/scalikejdbc/scalikejdbc/pull/874

https://github.com/scala/bug/issues/10870#issuecomment-485893368 says:

[2019-05-23 12:50] eed3si9n commented on #4719
@blast-hardcheese Thanks for the report.

[2019-05-23 12:55] eed3si9n commented on #4717
@plokhotnyuk Thanks for the report with repro steps!
This looks like a duplicate of https://github.com/sbt/sbt/issues/4690, so I am going to close this but I might borrow the title etc.

[2019-05-23 12:55] #4717 closed, assigned to nobody

[2019-05-23 12:57] eed3si9n commented on #4690
There was another report on this https://github.com/sbt/sbt/issues/4717

## steps

1. Clone the following repo: https://github.com/plokhotnyuk/jsoniter-scala
2. Set `1.3.0-RC1` in `project/build.properties`
3. Run tests: `sbt clean test`

[2019-05-23 17:37] eed3si9n commented on #4686
Removed MaxMetaspaceSize in https://github.com/sbt/sbt-launcher-package/pull/268

[2019-05-23 18:06] Katrix opened #4720 "[1.3.0-RC1] coursier fails when with "Conflicting dependencies""
- [x] I've read the [CONTRIBUTING](https://github.com/sbt/sbt/blob/develop/CONTRIBUTING.md) guidelines

## steps
Add `"com.github.gpgekko" % "sbt-autoprefixer" % "1.2.0"` to a project

## problem
[code]

## expectation
Now, the POM truly is missing for some reason, but it worked just fine with 1.2.8

sbt version: 1.3.0-RC1

[2019-05-23 18:21] eed3si9n commented on #4720
@Katrix Thanks for the report!

The error message says:

[code]

I suggest you override the version for those conflicting dependencies - https://www.scala-sbt.org/1.x/docs/Library-Management.html#Overriding+a+version
or use Ivy instead.

[code]

[2019-05-23 20:21] OlegYch opened #4721 "[1.3.0-RC1] ~ accumulates changes"
run `~compile`
update a file, sbt will recompile it, update another, sbt will recompile both files, and so on
this is on windows 10, jdk1.8.0_181x64

[2019-05-23 20:30] OlegYch opened #4722 "[1.3.0-RC1] ~ misses changes caused by play routes compiler"
using `addSbtPlugin("com.typesafe.play" % "sbt-plugin" % "2.7.2")` and `(project in file(".")).enablePlugins(PlayScala)` on win 10 jdk1.8.0_181x64
run `~compile`, update `conf/routes`, compilation will be triggered with message like ` Build triggered by conf\routes. Running 'compile'` but no files are recompiled
interrupting it and running `~compile` will pick up changes in routes

[2019-05-23 21:47] eed3si9n commented on #4721
@OlegYch Thanks for the report. Could you split out steps, problem, and expectation for clarity please?

Are you saying that if you change `A.scala` save, wait for compilation, and then change `B.scala` save, it will invalidate both `A.scala` and `B.scala`?

[2019-05-23 21:59] SethTisue opened #4723 "[1.3.0-RC1] concurrent runs intermittently cause locking failures"
I was running two instances of the Scala community build at the same time on my laptop, and in both runs, I had several projects fail with this error:

[code]

the affected projects were airframe, akka, coursier, github4s

[2019-05-23 22:04] SethTisue opened #4724 "[1.3.0-RC1] `--supershell=false` doesn't work (but `-Dsbt.supershell=false` does)"
issue title says it all

both forms are mentioned in the 1.3.0-RC1 release notes, but only one of them works.

[2019-05-23 22:11] SethTisue commented on #4723
log of the entire run: https://gist.github.com/SethTisue/af4544a5aa6eb263eef5a954a7777466

[2019-05-23 22:18] eed3si9n commented on #4723
@SethTisue Thanks for the report!
/cc @alexarchambault

[2019-05-23 22:32] eed3si9n commented on #4724
`--supershell=false` will be available when we roll out `sbt` script for 1.3.0 final.

[2019-05-23 22:48] eed3si9n commented on #4624
I'm guessing that the issue remains for RC-1

https://github.com/sbt/sbt/blob/v1.3.0-RC1/main/src/main/scala/sbt/Defaults.scala#L611-L616

[code]

https://github.com/sbt/sbt/blob/v1.3.0-RC1/main/src/main/scala/sbt/Defaults.scala#L501

[code]

[2019-05-23 22:57] OlegYch commented on #4721
@eed3si9n i'm not sure it invalidates them, but it keeps recompiling files without change
ie
touch A.scala - recompiled 1 file, touch B.scala - recompiled 2 files, touch C.scala - recompiled 3 files, touch A.scala again - recompiled 3 files
expected is one file every time (no api or impl changes in those files)

[2019-05-24 01:44] eatkins commented on #4624
Oh, I think that should be relatively straightforward to fix.

[2019-05-24 01:48] eatkins commented on #4721
@OlegYch, is what you mean that if you touched A.scala, it recompiled A.scala and that if you subsequently touched B.scala, it recompiled A.scala and B.scala even though A.scala hadn't changed since the last run and A.scala had no dependency on B.scala? Can you run with debug and see why the source files were invalidated? Sources can be invalidated by both source and product changes so it's imposs

[2019-05-24 02:16] OlegYch commented on #4721
yep `watchPersistFileStamps := false` fixes it
in debug i see that A.scala is kept in `All initially invalidated sources` and `Initial source changes: modified` even though it was just compiled and was not modified after it
there is no relationship between the files and the only change is whitespace

[2019-05-24 02:18] OlegYch commented on #4721
there is a suspicious
[code]
just after it was compiled

[2019-05-24 02:50] blast-hardcheese commented on #4719
@eed3si9n No worries! I'll give the bisect a shot ASAP. It's clearly not bothering anyone else, so I guess no rush 😄

[2019-05-24 04:57] eatkins commented on #4721
Thanks for the report and the additional details. That message isn’t necessarily unexpected. Sometimes the watch service will receive multiple events for the same file when it is modified. We generally don’t want to trigger multiple builds when this happens so we drop repeat events for files that occur in a narrow window. We try to log every file event however so in edge cases where compilation sh

[2019-05-24 05:05] eed3si9n commented on #4712
I have a PR - https://github.com/sbt/sbt/pull/4725

[2019-05-24 07:19] Woodz opened #4726 "Transitive dependencies missing in SBT compared to Maven"
- [X] I've read the [CONTRIBUTING](https://github.com/sbt/sbt/blob/develop/CONTRIBUTING.md) guidelines

## steps
Create SBT project with
[code]
and a Maven project with
[code]

## problem
The Maven project correctly identifies the transitive dependency on `org.drools:drools-compiler:7.20.0-Final` via `org.optaplanner:optaplanner-core:7.20.0.Final`, whereas the SBT project does not identify this tr

[2019-05-24 11:39] eed3si9n commented on #4726
@Woodz Thanks for the report.

I tried it with sbt 1.3.0-RC1, which uses Coursier instead of Apache Ivy, and it seems to identify drools-core-7.20.0.Final.jar.
I also needed to add `"org.freemarker" % "freemarker" % "2.3.28"` because it failed on `org.freemarker:freemarker:2.3.26.jbossorg-1`.

[2019-05-24 11:39] #4726 closed, assigned to nobody

[2019-05-24 15:54] ashawley commented on #4715
Looks like this worked fine in sbt 1.0.0, but broke in sbt 1.0.1.

A git bisect has tracked it down to be91300.

[2019-05-24 18:37] eatkins commented on #4715
@ashawley thanks for the report and the bisect sleuthing. I have confirmed the bug in a project of mine.

[2019-05-24 23:10] ashawley commented on #4715
Tried to fix in #4727, but it needs more work.

[2019-05-24 23:11] eed3si9n commented on #4681
I looked at Twirl a bit but I don't think there's a problem with Twirl itself with sbt 1.3.0-RC1. scripted etc passes. So that leaves Play.

[2019-05-25 01:25] SethTisue commented on #4724
note that `-Dsbt.supershell=false` must precede `-error`

[2019-05-25 09:05] Woodz commented on #4726
@eed3si9n the issue is identifying `drools-compiler`, not `drools-core` - `drools-core` is picked up in both SBT and Maven.

[2019-05-25 15:25] eed3si9n commented on #4681
Actually it seems like the problem might be `SbtTwirl` + sbt 1.3.0-RC1.

Using sbt 1.2.8:

[code]

using sbt 1.3.0-RC1:

[code]

so that might be a regression on something related to

[code]

[2019-05-25 15:34] eed3si9n commented on #4681
sbt itself doesn't use it, but lots of plugins do. We should add a scripted test - https://github.com/search?l=Scala&p=1&q=%22Defaults.collectFiles%22&type=Code

[2019-05-25 15:39] #4712 closed, assigned to nobody

[2019-05-25 17:56] eed3si9n commented on #4715
- In sbt 0.13, `+` (cross) command would treat its argument as a "command",
and cross build based on a single set of `crossScalaVersions`.
- I added sbt-doge that changed the semantics of command aggregation by treating all of `+` argument as a task, like `compile`, and `test`, and only broadcasting `compile` etc if `crossScalaVersions` supported it - https://github.com/sbt/sbt-doge/blob/v0.1.1/sr

[2019-05-26 04:33] #4681 closed, assigned to nobody

[2019-05-27 16:51] Miuler opened #4731 "sbt 1.3.0-RC1: [error] java.lang.NumberFormatException: For input string: "0-rc12""
- [x] I've read the [CONTRIBUTING](https://github.com/sbt/sbt/blob/develop/CONTRIBUTING.md) guidelines

S.O.: ArchLinux

## steps
Latter install sdk 1.3.0-RC1 from sdkman, I do execute the sdk command

## problem

[code]

[2019-05-27 17:43] eed3si9n commented on #4731
@Miuler Thanks for the report. Looks like it's failing to parse JDK version out of some directory names.
Do you have a JDK installed that contains "0-rc12"?

[2019-05-27 17:48] Miuler commented on #4731
I've tried it with the following java versions:

8.0.212-zulu
11.0.2-zulu
11.0.3-zulu
12.0.1-zulu

[2019-05-27 21:15] eed3si9n commented on #4731
Do you have anything under `/usr/java` or `/usr/lib/jvm`?

[2019-05-27 22:49] #4624 closed, assigned to eatkins

[2019-05-28 14:49] lssilva commented on #896
It seems SBT has side effect :)

[2019-05-28 16:24] fooblahblah commented on #4543
I'm following this thread and trying to work around some similar issues on CircleCI where I get recompilations between stages of a parallel workflow. Anyway I'm wondering if the settings referred to above (https://github.com/sbt/sbt/issues/4543#issuecomment-462987046)  are still valid with sbt 1.3.0-RC1? I get errors with any of:
`Global/externalHooks := (_ => None)`
 or
`externalHooks := (_ => No

[2019-05-28 16:32] eatkins commented on #4543
@fooblahblah the externalHooks setting was removed in https://github.com/sbt/sbt/commit/72df8f674c59cde5db7735ac1a2254c93d586bdd.
If you run with debug logging, you can see what files are triggering recompilations. It would be helpful to know if the unexpected recompilations are triggered by source files or binaries.

[2019-05-28 16:44] eatkins commented on #4721
@OlegYch I am interested in debugging this further now. Would you be able to provide some additional details about your project? You mentioned that you're using windows. Are you using the regular windows development environment (i.e. powershell), cygwin, or something else? What is the project layout? Is there a simple project that reproduces the issue? Windows debugging is difficult and time consu

[2019-05-28 16:48] fooblahblah commented on #4543
Here's my fork from the project @smarter created with the changes I'm testing with: https://github.com/fooblahblah/sbt-inc-broken

I'm on Linux running OpenJDK 8:
[code]
My sequence is as follows since I'm trying to simulate some issues I'm seeing in CircleCI to narrow down some sort of solution.
From directory the original directory I run:
[code]
Then create a copy in `/tmp`  and build with the f

[2019-05-28 16:51] eatkins commented on #4543
This looks like a duplicate of https://github.com/sbt/sbt/issues/4704. Thanks for providing the sample project. It will be helpful for me to track down the issue.

[2019-05-28 16:52] fooblahblah commented on #4543
Cool, I don't know if I've seen that issue. I'll keep tabs over there.

[2019-05-28 16:56] fooblahblah commented on #4543
At a more basic level it's affecting me in 1.2.8 and we're pretty much blocked trying to parallel-ize our CircleCI build which occurs on various containers and I'm trying to coordinate by copying around `target` or whatever I need to prevent compilation of "already compiled" resources. Any other issues I should check out?

[2019-05-28 17:05] eatkins commented on #4543
That sounds like a hard use case for sbt to support. There is an implicit assumption in the way that sbt uses zinc that all the product files for the build are managed by sbt. If there is out of band file copying, I'd expect there to be issues with incremental compilation. With the caveat that I don't know what you're doing, my suggestion is that suppose that you are copying around target director

[2019-05-28 17:06] eatkins commented on #4543
sbt 1.2.8 does not use custom external hooks so any problems you are having there would be unrelated to #4704.

[2019-05-28 17:08] fooblahblah commented on #4543
Hmm, interesting. I'll try and pursue that file copying avenue for a bit before giving up.

I was originally using 1.2.8 since that's the version called for from Play-2.7.2 (which we're also using). I was only trying to use 1.3.0-RC1 in hopes that my original issue of moving `target` between builds would work.

[2019-05-28 18:06] jvican commented on #4543
@fooblahblah You could support that use case with [Bloop](https://github.com/scalacenter/bloop) (via the sbt plugin sbt-bloop). I know several people using similar tricks in the CI to speed up their builds. Feel free to drop by https://gitter.im/scalacenter/bloop if you have any questions about how to approach this problem

[2019-05-28 18:07] fooblahblah commented on #4543
@jvican Very good to know! I'll check that out.

[2019-05-28 18:48] OlegYch commented on #4721
fwiw it is a play project, and the issue is reproducible on freebsd as well
i'll try to create a minimal repro

[2019-05-28 18:49] eatkins commented on #4721
Perfect. There seem to be a number of play related issues.

[2019-05-28 21:37] eatkins commented on #4543
@fooblahblah I was thinking a bit more about your issue and I think copying around target directories may be a problematic strategy for parallelization. The reason is that zinc checks whether the class files that your project depends on have changed since the last run. This check uses the last modified time of each class file (and dependency jar). If you are copying the class files every time, tha

[2019-05-28 21:41] smarter commented on #4543
You can copy files without changing the last modified date (e.g. by using `cp -a`)

[2019-05-28 21:44] eatkins commented on #4543
Aah, cool. Didn't think of that.

[2019-05-28 21:48] #4714 closed, assigned to nobody

[2019-05-28 21:48] fooblahblah commented on #4543
I was going to follow-up when I had completed this CI task and it was actually working, but I'm having success tar'ing between build steps using a little `posix` flag which keep timestamps down to the nanosecond (I think).

[code]
I was trying to only archive `target` to save a little time, but from some tinkering I've found best results where I use the above command after the build phase. Then do

[2019-05-28 21:49] eed3si9n commented on #4711
Fixed in https://github.com/sbt/sbt/pull/4729

[2019-05-28 21:49] #4711 closed, assigned to nobody

[2019-05-28 21:49] eed3si9n commented on #4693
Fixed in https://github.com/sbt/sbt/pull/4729

[2019-05-28 21:49] #4693 closed, assigned to nobody

[2019-05-28 21:50] eed3si9n commented on #4691
Fixed in https://github.com/sbt/sbt/pull/4729

[2019-05-28 21:50] #4691 closed, assigned to nobody

[2019-05-28 21:50] eed3si9n commented on #4686
Fixed in https://github.com/sbt/sbt/pull/4729

[2019-05-28 21:50] #4686 closed, assigned to nobody

[2019-05-28 22:06] eatkins commented on #4543
Glad to hear that things seems to be on the right track.

[2019-05-29 05:08] #4695 closed, assigned to nobody

[2019-05-29 11:13] dwijnand opened #4738 "Ensure coursier is ready for sbt 1.3.0"
Tracking https://github.com/coursier/coursier/issues/1174 in the 1.3.0 milestone so it doesn't get forgotten about.

[2019-05-29 11:41] felixbr commented on #4731
I have the same issue on OSX using the GraalVM RC-16 (installed via [sdkman.io](https://sdkman.io)).

To reproduce you can use sdkman like this: `sdk install java 1.0.0-rc-16-grl`
After uninstalling that version the problem went away for me.

I think it's generally not a good idea to expect versions always to be completely numeric.

[2019-05-29 13:01] tilmanginzel commented on #4629
Hi, I just want to confirm that we have faced the same issue when resolving dependencies from a repository requiring a client certificate and disabling Gigahorse resolves it for now. 👍

Are there any major drawbacks in disabling Gigahorse? I have not found a possibility to use the default SSL context in the underlying okhttp client or at least adhere to the jvm system properties.

[2019-05-29 14:38] #4697 closed, assigned to nobody

[2019-05-29 16:54] eed3si9n commented on #4738
Thanks. I've been meaning to open this issue.

[2019-05-29 17:30] eed3si9n commented on #4738
Blessed sbt-coursier is now building -
https://travis-ci.org/coursier/sbt-coursier/builds/538858452

[2019-05-29 20:05] eatkins commented on #4705
Fixed in #4729

[2019-05-29 20:05] #4705 closed, assigned to nobody

[2019-05-29 21:27] eed3si9n opened #4741 "java.nio.file.NoSuchFileException: /tmp/swoval-jni/16934016062546041395-libswoval-files0.so"
This was reported originally by @adriaanm in https://github.com/scala/community-builds/issues/918#issuecomment-496830679

## steps

scala-swing on Linux using JDK 11.
I think Dbuild loads the build, and then tries to extract the dependency graph.

## problem

https://scala-ci.typesafe.com/view/scala-2.11.x/job/scala-2.11.x-jdk11-integrate-community-build/60/consoleFull

[code]

[2019-05-29 21:48] eed3si9n commented on #4741
The stack trace looks scary but it seems to be happening as sbt is trying to clean after itself.

[code]

One thing we probably should do is not initialize `backgroundJobService` if it's never been used, only to call `shutdown()`.

[2019-05-30 02:07] eed3si9n commented on #4731
I think this is actually caused by https://github.com/sbt/sbt/pull/4659 which I introduced non-numeric tags into the version string to support SDKMAN. Minimum failing test is as follows:

[code]

[2019-05-30 03:27] #4722 closed, assigned to nobody

[2019-05-30 04:44] eatkins commented on #4696
@japgolly triggeredMessage is deprecated. You can get this behavior with `watchTriggeredMessage := Some(Watched.clearScreen)`. Also, if you want to clear your screen at the beginning, before anything runs, you can add `watchOnStart := { () => println(Watched.clearScreen) }`.

That being said, this not working in 1.3.0-RC1 was a bug and is fixed in #4745.

[2019-05-30 04:47] eatkins opened #4746 "Sbt uses too much cpu on idle"
In 1.3.0-RC1, sbt is using roughly 10% of a cpu when idling. In older versions, it was more like 2% of a cpu. This is because I reduced a number of timeouts that are causing sbt to frequently wake up to poll queues. These can be reworked to poll from a concurrent blocking queue which should both lower latency and restore the old cpu utilization characteristics.

[2019-05-30 05:31] eed3si9n commented on #4699
I am going to close this for now since likely other watcher code is involved.

[2019-05-30 05:31] #4699 closed, assigned to nobody

[2019-05-30 13:58] #4731 closed, assigned to nobody

[2019-05-30 13:58] #4738 closed, assigned to nobody

[2019-05-30 14:54] eed3si9n commented on #4746
Ref https://github.com/sbt/sbt/pull/4544/commits/fcd24ba7cd7b26c04d750ec70b026e5d5d654356

So should we change it back to `Thread.sleep(50)`? 0.05s should be below human perception and easy enough for machines.

[2019-05-30 18:22] eatkins commented on #3100
This started showing up in the sbt main project. I have to run with -Dsbt.override.build.repos=true in order to not see tons of
[code]

[2019-05-30 19:32] pshirshov opened #4749 "ClassCastException may be thrown with low probability from File Stamp Cache"
JDK11, sbt 1.3.0-RC1

[code]

I didn't look inside though this looks like a concurrency issue. Should be fixed by a lock or ConcurrentHashMap

[2019-05-30 20:12] eatkins commented on #4749
Thanks for the report. I actually already switched to a ConcurrentHashMap in https://github.com/sbt/sbt/pull/4742/commits/dcccd17fd2a324093c392dcabc53d723a95cad64

[2019-05-30 20:12] #4749 closed, assigned to nobody

[2019-05-30 21:25] #4696 closed, assigned to nobody

[2019-05-30 21:25] #4721 closed, assigned to nobody

[2019-05-30 22:39] OlegYch commented on #4721
amazing, thanks @eatkins

[2019-05-31 04:49] Jay-JS commented on #4103
It seems the documents are not updated yet which ask you to put resolvers in plugins.sbt. Moving `resolvers ++= Seq("Artima Maven Repository" at "http://repo.artima.com/releases")` to build.sbt fixes the issue.

[2019-05-31 07:38] dwijnand commented on #3718
According to https://github.com/sbt/sbt/pull/4512#issuecomment-453636633, fixed in #4512.

[2019-05-31 07:38] #3718 closed, assigned to nobody

[2019-05-31 07:38] dwijnand commented on #4445
According to https://github.com/sbt/sbt/pull/4512#issuecomment-453777507 fixed in #4512.

[2019-05-31 07:38] #4445 closed, assigned to eatkins

[2019-05-31 07:53] dwijnand commented on #4688
While I agree with the sorry-it's-internal-API response, I think sbt-dependency-graph is a major plugin in the ecosystem (it's my longest living global plugin - and, as such, I'd also lobby for it to be folded into sbt, but that's for another issue).

But with coursier coming in sbt 1.3 is `coursierDependencyTree` available instead?

[2019-05-31 07:57] dwijnand opened #4756 "Tilde (~, aka watch) can't take a command?"
## steps

`~about`

## problem

[code]

## expectation

The command I choose (here `about`) runs on every file change.

## notes

sbt version: 1.3.0-RC1

[2019-05-31 08:26] dwijnand opened #4757 "Globs.nameFilterToRelativeGlob is partial"
## steps

* Add & setup https://github.com/sbt/sbt-boilerplate
* Compile

## problem

[code]

## expectation

No exception thrown.

## notes
sbt version: 1.3.0-RC1

This is the `NameFilter` that Globs is failing to handle:

https://github.com/sbt/sbt-boilerplate/blob/v0.6.1/src/main/scala-sbt-1.0/Compat.scala#L24-L26

[2019-05-31 14:55] eatkins commented on #4756
I am of the opinion that watch shouldn't work with commands because commands can modify state and they also have no file inputs associated with them.

[2019-05-31 14:56] eatkins commented on #4757
Thanks for the report. I'll fix.

[2019-05-31 15:09] dwijnand commented on #4756
It also can't handle aliases.  For example with a `alias cl = clean` in `.sbtrc`:

[code]

What is it about modifying state that should make commands inelligible for usage with watch?  Can we reduce the banning to a specific, smaller set of conniving commands?

Also, in my eyes, commands using anything (e.g. tasks) that has file inputs associated to them, use those file inputs transitively.

[2019-05-31 15:13] eatkins commented on #4756
Yes, there was a different case about aliases that was already resolved: https://github.com/sbt/sbt/issues/4695.

[2019-05-31 15:21] eatkins commented on #4756
There is no introspection capability in a command that allows one to determine what tasks it may run. The watch system uses the state extensively to determine numerous properties of the watch. If the state changes, we need to update the watch, which means having to add special logic for partitioning the watch commands into commands and tasks and resetting everything between each run if there is a

[2019-05-31 15:43] eatkins commented on #4756
As a side note, I think that InputTask makes Command somewhat redundant. In fact, in my imaginary sbt 2.0, I'd probably consolidate Task, InputTask and Command into a single Task abstraction.

[2019-05-31 16:40] eatkins commented on #4757
Fixed in https://github.com/sbt/io/pull/242.

[2019-05-31 16:40] #4757 closed, assigned to nobody

[2019-05-31 16:54] dwijnand commented on #4756
If you can detail what's off-limits, then I think it's acceptable to say that using watch with commands that touch anything in that off-limits is undefined and unsupported.

Here's a few commands/aliases that I use with watch:
* `~ ;clean ;compile`, so the `;` command (multi-command, iirc?)
* `~ ;clear ;compile`, so the `clear` alias, which is globally defined as `alias clear = eval "\u001B[2J\u00

[2019-05-31 16:59] eatkins commented on #4756
Hmm. Cross builds did escape me and do seem important. Just to be clear, I assume you mean `alias clear = eval println("\u001B[2J\u001B[0\u003B0H")`.

[2019-05-31 17:14] eed3si9n commented on #4756
Would it be possible to support `~ <non-act-command>` by falling back to sbt 1.2-like watch-everything mode?

[2019-05-31 17:21] dwijnand commented on #4756
No, I wasn't using the println.  It works without.

[2019-05-31 17:22] eatkins commented on #4756
Ha, I guess that's because the evaluating compiler prints the result.

[2019-05-31 18:50] alexey-temnikov commented on #4520
I suspect this may impact other scenario -

`resolvers += "Atlassian Legacy" at "https://packages.atlassian.com/maven-public-legacy/"`

[code]

is failing with the wrong artifact type -

[code]

This issue is not reproducible in sbt 1.0.4 and reproducible in 1.2.8

[2019-05-31 20:55] eed3si9n opened #4759 "startup banner"
## steps

[code]

## expectation

[code]

- Display this only once
- Display this only in interactive mode, and log level includes info.
- Global opt-out via `Global / showBanner := false` or `-Dsbt.banner=false`

[2019-05-31 23:23] eatkins commented on #4746
Fixed in #4750

[2019-05-31 23:24] #4746 closed, assigned to nobody

[2019-06-01 05:12] xerial opened #4760 "Class.forName can't find classes in sbt-1.3.0-RC1"
## steps

I'm still trying to find a reproduction, but basically, a problem happens when using ~Spark 2.4.x with~ Scala 2.11, sbt-1.3.0-RC1.

## problem

- Call a method in a dependent library that uses `Class.forName("(class name)")` -> causes java.lang.ClassNotFoundException
- Call `Class.forName("(class name)")` works without any problem.

I guess some method (e.g., `ClassLoader.getClassLoader(

[2019-06-01 07:37] xerial commented on #4700
I hit the same problem when using a private Artifactory repository that requires password.
Before sbt 1.3.0-RC1, sbt-coursier with `coursierUseSbtCredentials := true` configuration worked for me.

[2019-06-02 15:37] smarter opened #4763 "Rename the "develop" branch to "master""
The branch named `master` is used in the same way that everyone else uses `master`, can it be renamed to the standard ? It would be one less hurdle when trying to contribute to sbt.

[2019-06-02 16:48] eatkins commented on #4763
I am not in favor of this change. For one, I think master, while standard, is vague and doesn't clearly express what the branch represents. Also, in the US there is some historical baggage around the word master that makes me prefer to avoid using it as a noun without context.

[2019-06-02 20:41] #4756 closed, assigned to nobody

[2019-06-03 12:36] dubaut opened #4766 "[FEATURE] Provide a command line option to specify the JDK directory"
To specify the JDK which shall be used during the build and test process it would be handy to provide a command line option to specify JAVA_HOME.

[2019-06-03 15:47] eed3si9n commented on #4766
The feature already exists `sbt -java-home ~/.sdkman/candidates/java/10.0.2-open`.

[2019-06-03 15:47] #4766 closed, assigned to nobody

[2019-06-03 16:05] eed3si9n commented on #4763
sbt follows the GitFlow branch model - https://datasift.github.io/gitflow/IntroducingGitFlow.html

Many guides would say "master branch should be ready to release any time", but in reality most of them are not. Besides, when would the branch name come up? Like when you are sending a PR?

[2019-06-03 16:07] eed3si9n commented on #4760
@xerial Thanks the report.

I think @eatkins is working on a workaround along the same lines, but built-in to our layered ClassLoader so you won't have to do it.

[2019-06-03 18:15] smarter commented on #4763
Yeah that's a bit extreme, I would limit things to "the CI should always be green on master".

Every time I do a git rebase of a branch in one of the sbt repo, I get confused for a bit until I remember that I need to rebase on origin/develop and not origin/master. I also have a bunch of aliases in my gitconfig that assume that there's a branch called master on origin (like `ckob = checkout origin/

[2019-06-03 19:45] dubaut opened #4768 "Running sbt with the '-java-home' option fails"
## steps
sbt version: *1.2.8*

## problem
As suggested by @eed3si9n in the (closed) issue 4766 I tried to run sbt with the `-java-home` option but it failed with the following error:

[code]

## expectation
sbt compiles against the specified JDK.

## notes

- Windows 10 Professional

[2019-06-03 21:23] eatkins commented on #4760
See #4769.

[2019-06-04 02:35] #4760 closed, assigned to nobody

[2019-06-04 03:49] guersam commented on #4708
Something similar happens in OSX with a local path containing a space:
https://gist.github.com/guersam/62378304a0cd89e7dda61412232a4410

[2019-06-04 05:43] eed3si9n commented on #4768
Thanks for the report. It looks like a missing feature in Windows batch file.
Would you consider sending us a PR to fix this?
https://github.com/sbt/sbt-launcher-package/blob/master/src/universal/bin/sbt.bat

[2019-06-04 05:59] dubaut commented on #4768
I'd love to but I am afraid I do not know CMD scripting.

[2019-06-04 08:58] mihaisoloi opened #4772 "80+ Gigs occupied by sbt output"
## steps
sbt version: *1.2.8*

## problem

When running an `sbt` incremental compile on a project and forgetting it overnight, sometimes you end up with an output file of a couple of gigs in size. It mostly contains this line:
[code]

The project is using play-framework 2.7.2 and the silencer 1.3.3. lib with the following scalac flag:
`"-P:silencer:pathFilters=target/scala-2\\.\\d+/(?:routes|twirl

[2019-06-04 09:04] eed3si9n commented on #4772
@mihaisoloi Thanks for the report. Could you provide a bit more details on how sbt team can reproduce the issue on our computers? Do you set it to `~compile` and wait 12h?

[2019-06-04 09:36] mihaisoloi commented on #4772
@eed3si9n when starting the sbt server I usually start it with `sbt -jvm-debug 5005` and yes after that I `~compile` and I leave it running, only checking it when I need to. When everything is compiled and my tests pass I can `run` the play app and debug it if necessary without restarting the `sbt` server.

So, 12h is usually the length of time it takes to get to this size, but it happens very rar

[2019-06-04 15:37] eatkins commented on #4772
That log message is coming from [CloseWatch](https://github.com/swoval/swoval/blob/master/plugin/README.md). You probably don't need the close watch plugin in sbt 1.2.8 and you definitely won't want it for sbt >= 1.3.0. That being said, feel free to open an issue in the swoval repository.

[2019-06-04 15:37] #4772 closed, assigned to nobody

[2019-06-04 16:02] mihaisoloi commented on #4772
@eatkins your recommendation is good enough for me, i.e. that it can be dropped for 1.2.8 and planning to switch to 1.3.0 as soon as it becomes generally available. Thanks.

[2019-06-04 16:02] bitnot commented on #4708
Maybe not related, but the same issue (`dom-serializer-%5B0,1).pom`) happens in one of my project when using `sbt-coursier` with SBT 1.2.8.
Added a sample project to reproduce: https://github.com/bitnot/sbt-coursier-dom-serializer-issue

[2019-06-04 16:31] eed3si9n commented on #4708
The workaround would be

[code]

[2019-06-04 20:10] jm-g opened #4773 "sbt leaks metaspace when reloading an empty project"
## steps
sbt version: from early 1.0.* up to and including 1.3.0-RC1

$ mkdir /tmp/empty-project
$ cd /tmp/empty-project
$ sbt -no-global -Dsbt.version=1.3.0-RC1 -J-Xmx200m -J-Xms200m -J-XX:+ExitOnOutOfMemoryError
...

200x times

## problem
The jvm aborts with out of memory error

## expectation
The JVM always returns to the same memory usage it had after starting the first time.

## notes
A scri

[2019-06-04 20:14] eed3si9n opened #4774 "[1.3.0-M5] test hangs"
## steps

Community Build hang after 15 min of unresponsiveness.
First it was https://github.com/Log4s/log4s, and then https://github.com/monix/minitest.

## problem

[code]

## expectation

On sbt 1.3.0-RC1 the test fails, but it finishes quickly.

Ref https://github.com/sbt/sbt/pull/4769

[2019-06-05 00:08] eatkins commented on #4773
@jm-g thanks for the report. We've done work post 1.3.0-RC1 to reduce the metaspace utilization of sbt. I'm curious what your fix is. Can you describe the basic idea?

[2019-06-05 04:31] Atry opened #4776 "IncompatibleClassChangeError when running javac with an annotation processor written in Scala 2.12"
## steps
sbt version: *1.2.8*

[code]

## problem
[code]

## expectation

No error thrown.

## notes

* I installed sbt launcher from Homebrew on macOS 10.14.5.

I created an Java annotation processor in Scala 2.12 at https://github.com/Atry/annotation-processor-demo/blob/master/myannotationprocessor/src/main/scala/myannotationprocessor/MyAnnotationProcessor.scala, then I use the annotation proces

[2019-06-05 06:31] jm-g commented on #4773
Yes, I've pushed it to https://github.com/jm-g/sbt/tree/fix-4773-memory-leak . This branch is based upon 1.3.0-RC1, I can rebase it on develop this evening.

The root problem imho are left over appender in the global log4j LogManager.  I've added an state exit hook to clear those up. Currently, there are log message in it, that I would change to debug. But I am in a hurry.

After these changes I c

[2019-06-05 06:52] jm-g commented on #4773
The above mentioned branch also contains my attempt to add scripted test for the memory leak. But it needs different scriptedLaunchOpts as all the other tests. Is it possible to set JVM parameters for only one test? Should I increase the number of reload attempts until it also fails with 1.5 GiB heap size? Do you want tests for memory leaks at all?

[2019-06-05 12:19] jgogstad commented on #4262
Adding `crossScalaVersions := Seq()` resolves the problem for SBT, but IntelliJ still fails to import

[code]

[2019-06-05 14:57] bitnot commented on #4708
SBT 1.3.0-RC1 and sbt-coursier fail to resolve `org.webjars.npm:entities`.

Here's how SBT 1.2.8 resolves the conflict:
[code]

Possible workaround: force `libraryDependencies += "org.webjars.npm" % "domutils" % "1.5.0"` in `project/plugins.sbt` to remove `dom-serializer` dependency.

[2019-06-05 19:58] eatkins commented on #4773
I'm not surprised that the problem is the log appender. I am curious what happens if you run off of the develop branch because I fixed a log appender related leak after 1.3.0-RC1 in https://github.com/sbt/sbt/commit/20f6d2243952f09ef9290a4ea7747a8c682165c9.

I think a test is a good idea. My suggestion is that you might try a non-scripted test. You could more or less adapt your shell script approa

[2019-06-06 03:13] zhenghub commented on #4103
doesn't work for me

[2019-06-06 07:44] regadas opened #4778 "[1.3.0-M5] Fails when running tests multiple times"
## steps
While trying this new version in [spotify/scio](http://github.com/spotify/scio) I was running into this error when running tests multiple times in the same sub project.

## problem

[code]

## expectation

There has been no problem with sbt 1.2.8

[2019-06-06 14:51] eed3si9n commented on #4778
Yea. M5 seems to be DOA.

[2019-06-06 21:06] jm-g commented on #4773
I've rebased my branch to develop and created a pull  request (https://github.com/sbt/sbt/pull/4779). But I have skipped the test, because your  (@eatkins)  metaspace fixes make the time to show the memory leak way longer. Now, it takes ca. 10 minutes of continous reloading, without my PR, to reach an oom. With my fix I can reload for 50 minutes without an oom. Those times make it impractical to r

[2019-06-07 23:20] levinson commented on #3618
As a workaround exclude the busted dependency:
[code]

... and add a working alternative:
[code]

[2019-06-08 08:19] japgolly commented on #4696
That's great, thank you @eatkins !

[2019-06-08 19:51] eatkins commented on #4778
This is fixed in https://github.com/sbt/sbt/pull/4780.

[2019-06-08 19:51] #4778 closed, assigned to nobody

[2019-06-08 19:52] eatkins commented on #4690
Fixed in https://github.com/sbt/io/pull/243.

[2019-06-08 19:52] #4690 closed, assigned to nobody

[2019-06-08 22:57] #4759 closed, assigned to nobody

[2019-06-09 04:11] gvolpe opened #4788 "[1.3.0-RC1] Cursor not visible when running multiple programs"
## steps
sbt version: 1.3.0-RC1

## problem

When having a project with multiple `main classes` one is asked to select a number corresponding to one program in the list on `sbt run`, for example:

[code]

When I enter a number and press enter the cursor is not visible but the program runs as expected.

## expectation

In previous versions I could see what number I was entering.

[2019-06-09 13:15] eed3si9n opened #4789 "ClassNotFoundException during the termination of a test"
## steps

https://github.com/sbt/sbt/tree/fd0f078c739ea2144b5829aa6c0c58da30978b78/sbt/src/sbt-test/tests/scala-instance-classloader

[code]

## problem

[code]

## expectation

No errors?

[2019-06-09 13:18] eed3si9n commented on #4789
This happens when the test code keeps running the thread after sbt closes the ClassLoader.

In this particular case, the fix https://github.com/sbt/sbt/pull/4784 was to wait for the Actor system to shutdown for 5 seconds.

[code]

[2019-06-09 13:20] #4789 closed, assigned to nobody

[2019-06-09 13:21] eed3si9n commented on #4789
https://github.com/sbt/sbt/pull/4786 adds a backward compatible mode `-Dsbt.classloader.close=false`.

[2019-06-09 13:24] eed3si9n commented on #4774
Fixed in #4780

[2019-06-09 13:24] #4774 closed, assigned to nobody

[2019-06-09 21:15] eed3si9n opened #4791 "Release 1.3.0-RC2"
https://github.com/sbt/sbt/compare/v1.3.0-RC1...develop

[2019-06-09 21:35] eed3si9n commented on #4791
### turbo mode

sbt 1.3.0 adds "turbo" mode that enables experimental or advanced features that might require some debugging by the build user when it doesn't work.

[code]

Initially we are putting the layered ClassLoader (`ClassLoaderLayeringStrategy.AllLibraryJars`) behind this flag.

### other fixes
- Fixes scala-reflect missing from classpath #4703
- Fixes not being able to resolve Hydra plug

[2019-06-10 13:30] eed3si9n commented on #4791
Updated https://www.lightbend.com/blog/sbt-1.3.0-release

[2019-06-10 13:30] #4791 closed, assigned to nobody

[2019-06-10 17:31] anilkumarmyla commented on #4682
This is still reproducible with 1.3.0-RC2

Workaround is to add `addSbtPlugin("io.get-coursier" % "sbt-coursier" % "1.1.0-M14-4")`

But adding the sbt-coursier plugin leads to other unrelated failure when doing `compile` task
[code]

[2019-06-10 18:14] cheevo commented on #1444
// Here is a snippet that might  help those that
// have had the same problem and need  some example code showing a
// brief solution that works

 [info] 1.0.2

Within build.sbt

target in Compile in doc :=  baseDirectory.value /"public/wiki"
copyDocAssetsTask := {
  println("Copying doc Images")
  val sourceDir =  baseDirectory.value / "extra-resources"
  val targetDir = (target in (Compile, doc)

[2019-06-10 21:12] xerial opened #4794 "1.3.0-RC2 NoClassDefError at shutdown hooks"
## steps
sbt version: 1.3.0-RC2

- Some user libraries cannot be found while running JVM shutdown hooks: https://travis-ci.org/wvlet/airframe/jobs/543922170#L2706
- Corresponding code (in my case):
  - Creating a custom shutdown hook: https://github.com/wvlet/airframe/blob/ea3d023f9534e3a67b09947d0c844c11dc9381f6/airframe-log/jvm/src/main/scala/wvlet/log/AirframeLogManager.scala#L31
  - Registerin

[2019-06-10 21:30] eatkins commented on #4794
This is expected: https://www.scala-sbt.org/1.x/docs/Running-Project-Code.html. Shutdown hooks are fundamentally at odds with running in an in process jvm. I’d recommend reworking the code to remove and invoke any shutdown hooks before exiting. To restore sbt < 1.3.0 behavior, however, try running with ‘-Dsbt.classloader.close=false’.

[2019-06-10 21:43] xerial commented on #4794
Thanks for the explanation.

Using `fork in Test` option works in general if testing shutdown hooks is necessary.

[2019-06-10 22:29] xerial commented on #4794
ok. I've found another issue when using sbt-1.3.0-RC2 + openjdk11 + JMXRegistry. I'll report it in another ticket.

[2019-06-10 22:29] #4794 closed, assigned to nobody

[2019-06-10 22:37] xerial opened #4795 "[sbt 1.3.0-RC2] Cannot read user classes from JMX registry with openjdk11"
## steps
sbt version: *1.3.0-RC2*

- Use openjdk11
- Checkout wvlet/airframe
- Run a test: https://travis-ci.org/wvlet/airframe/jobs/543948581#L567
[code]

- Corresponding code: https://github.com/wvlet/airframe/blob/962d6c2dd1d1acbf9d59a792701aa62b935d6226/airframe-log/jvm/src/test/scala/wvlet/log/LoggerJMXTest.scala#L33

## problem

- The same code worked before in sbt 1.3.0-RC1 with openjdk11

[2019-06-10 22:59] eatkins commented on #4795
I can't reproduce this on mac or linux:
[code]

[2019-06-11 00:35] xerial commented on #4795
It seems there was some issue at Travis CI. It's working properly now. Let me close this. Thank you for your time for checking!

[2019-06-11 00:51] neko-kai opened #4796 "[1.3.0-RC2] Empty classpath / classloader issues in test"
## steps
sbt version: *1.3.0-RC2*

## problem

When running tests in in-process JVM, classpath seems to be empty.  `ClassLoaderLayeringStrategy.Flat` does not restore the classpath visibility. `NoClassDefError` also arises when `scala-reflect` is used shutdown hook. More details at https://github.com/7mind/izumi/issues/545 (or below)

## expectation

Expected same behavior as 1.3.0-RC1

## notes

[2019-06-11 01:15] eatkins commented on #4796
Duplicate of #4794.

[2019-06-11 01:17] eatkins commented on #4796
Actually, it’s not strictly the same so reopening for now. Shutdown hooks have never been expected to work when using an in process jvm. However I am not sure of the cause of the other issues.

[2019-06-11 01:20] Atry commented on #4776
The same bug occurs in sbt 1.3.0-RC2 as well:

https://github.com/Atry/annotation-processor-demo/tree/sbt-1.3.0-RC2

[2019-06-11 11:32] pshirshov commented on #4796
@eatkins

I understand that they are flawed. But they worked and they are the only option we have in fact.

So, we have a heavy integration test suite which relies on memoization. At the end of build process we need to perform cleanups (drop database schemas, shutdown services, etc).

Shutdown hook is the only solution we have. Dirty but it does the job (at least it worked for more than ten years)

[2019-06-11 16:24] joan38 opened #4798 "Coursier and Ivy => None.get"
## steps
sbt version: 1.3.0-RC2

## problem
[code]

The `.get`: https://github.com/coursier/coursier/blob/6d0e24205a6c8d3ecf2c0d4674984a4366b1cd59/modules/core/shared/src/main/scala/coursier/maven/PomParser.scala#L517

Sounds like it tries to resolve it as a maven dependency whereas my repo config has `isMavenCompatible = false`:
[code]

Related PR:
https://github.com/coursier/coursier/pull/221
Bu

[2019-06-11 16:33] eatkins commented on #4796
set -Dsbt.classloader.close=false

[2019-06-11 18:11] limansky opened #4799 "Cross compile tries to compile module with unsupported Scala version"
## steps
sbt version: *1.2.8*, *1.3.0-RC2*

I've created minimalistic project to demostrate the issue:
https://gist.github.com/limansky/eb8f2917245abd69e7904665f6a8fdf5

1. run sbt
2. ++2.11.12 -v
3. verify that moduleB is excluded because it doesn't support Scala 2.11
4. compile

## problem

sbt tries to resolve dependencies for moduleB and to download `core_2.12-0.1-SNAPSHOT`

## expectation

I

[2019-06-11 20:41] eed3si9n commented on #4776
@Atry Thanks for the report!

[2019-06-11 20:45] eed3si9n commented on #4796
Maybe related discussion here - https://github.com/sbt/sbt/issues/2056

[2019-06-11 20:49] eed3si9n commented on #4799
I think this is an expected behavior.
You'd either have to do `++2.11.12 compile` or `+compile`, I think.

[2019-06-11 20:52] eed3si9n commented on #4798
I'll keep this one open as a placeholder, but let's have discussions etc in https://github.com/coursier/coursier/issues/1204.

[2019-06-11 21:14] clhodapp opened #4800 "ThisBuild / useSuperShell doesn't work"
## steps
sbt version: 1.3.0-RC2
1) Define a minimal project (just `project/build.properties` with `sbt.version=1.3.0-RC2` & `build.sbt`)
2) Set `ThisBuild / useSuperShell := false` in `build.sbt`
3) Start sbt

## problem
Supershell is active

## expectation
Supershell is not active

## notes

[2019-06-11 21:40] eatkins commented on #4796
I am sympathetic to the issues that you're experiencing, but I think that the entry/exit point for test and run is a better solution than trying to support shutdown hooks by default. That is more of an sbt 1.4.0 feature request though.

That being said, I'm not sure that I fully understand your issue. Are you trying to persist the memoized state across multiple evaluations, i.e. if the user runs `

[2019-06-11 22:31] eed3si9n opened #4801 "deeply nested Incomplete"
## steps

Introduce compilation error.

## problem

printstack trace bug, fixed in https://github.com/sbt/sbt/pull/4792, accidentally exposed the following Incomplete object, which is deeply nested.

This seems to be causing other issues like hash taking very long time, reported by @nafg

https://gist.github.com/nafg/ef2e361767384e74d42b0d2af5687360

## expectation

Slimmer Incomplete object?

##

[2019-06-11 22:32] BillyAutrey opened #4802 "[1.3.0-RC2] credentials are not cached across the subprojects"
## steps
sbt version: 1.3.0-RC2

## problem
When trying to compile code with Lightbend Commercial credentials, coursier fails to resolve those dependencies.

[code]

## expectation
Compilation should complete as normal, with credentials found in the location indicated in .sbt files.

## notes
Repository configuration:

[code]

If I set `ThisBuild / useCoursier := true` with 1.3.0-RC2, the build wi

[2019-06-11 22:33] BillyAutrey commented on #4802
Possibly related - https://github.com/coursier/coursier/issues/1177

[2019-06-12 01:16] nafg commented on #4801
I'm not sure what the purpose of all the nesting is. If it's really needed then maybe just override hashCode to do something quicker. Does it need to be a case class?

A heap dump showed nearly 200 instances. I didn't manage to figure out all their relationships but it was probably a few large chains.

I guess the nesting is to match with task dependencies, but there are some places where it may b

[2019-06-12 01:20] pshirshov commented on #4796
We persist state across multiple runs. It's, obviously, a leak, but it serves the purpose.

I do understand all the problems with shutdown hooks - but I have no choice. I need memoization - it gives us like x100 speedup and I need cleanups.

Forking is an option, but again - it slows things down :(

Okay, I will stick with this new property or forking, though seems like I would have to write my ow

[2019-06-12 01:21] nafg commented on #4801
If the point of nesting is just to track task dependencies (the Incomplete is for task X which got it from task Y) then you could just have a "path" of nodes. Other things like `tpe` shouldn't differ.

Also in general it seems to have a bunch of ad hoc Options which may or may not be correlated (e.g. can `directCause` be set when `causes` is not `Nil`?) If some are correlated you might make it int

[2019-06-12 05:51] xerial commented on #4796
@eatkins

That is good to know. My issue around #4794 can be solved with this approach. Thanks!

[2019-06-12 07:05] xerial commented on #4795
@eatkins This issue happens sporadically. After running the same command multiple times, this issue happens.

[code]

[2019-06-12 07:20] xerial commented on #4795
It's probably because my code is trying to reuse JMX agent. Similarly to shutdown hook, in the current sbt configuration, we cannot reuse classes registered to JMX agent.

[2019-06-12 07:31] xerial commented on #4795
I've tested different strategies, but the result has been the same.

I guess sbt 1.3.0-RC2 cannot load classes defined in other projects.

[2019-06-12 10:22] cbrunnkvist commented on #3270
@jonas-db yup .. discovered that the hard way. When exceeding a certain level of build-paralellism & `sbt.boot.lock to be available`, later on random versions start resolving as `NaN` and version `0.0` and there goes the neighborhood.

[2019-06-12 10:24] cbrunnkvist commented on #3270
Ex:
[code]

[2019-06-12 11:07] limansky commented on #4799
@eed3si9n  `++2.11.12 compile` works fine. Only thing I had to change, since I'd like to pass it as a parameter, is to put it into quotes like `sbt "++2.11.12 compile"`. Thanks.

BTW, what is the difference between `++2.11.12 compile` and `++2.11.12` and then `compile`?

Am I right that the proper way to clean and than compile from a script is
`sbt +clean "++2.11.12 compile"`

[2019-06-12 11:18] limansky commented on #4799
What I'm trying to achieve is to have different sub-builds in Travis for different Scala versions. This is the script I'm using: https://github.com/limansky/mongoquery/blob/master/scripts/travis-build.sh , and now, I'm not sure if the script is fine.

[2019-06-12 12:10] cbrunnkvist commented on #3270
(note that the `.sbt.boot.lock` issue is unrelated to the topic of this ticket which is about `.sbt.ivy.lock` - perhaps it deserves a ticket for itself @jonas-db ?)

[2019-06-12 14:41] dejan2609 commented on #4802
Same/similar here.

Environment:
* Nexus Repository Manager OSS 2.14.13-01
* sbt **1.2.8** -->> build works as expected ✔
* sbt **1.3.0-RC2** build fails ❌ (see error stack trace below)
* sbt **1.3.0-RC2** with `ThisBuild / useCoursier := false`  -->> build works as expected ✔

build.sbt:

[code]

[code]

[2019-06-12 14:45] dejan2609 commented on #4802
Also, this would be just awesome: https://github.com/coursier/coursier/issues/1160

[2019-06-13 02:25] aturner-tvpage commented on #4103
Similar problem here - in 1.2.8; but for me it's internal dependencies, the resolvers are in build.sbt, and it work fine on my local machine running Mac OS, but it fails every time on my build server on circle CI.  The interesting thing is that this is one of maybe 10+ projects configured this way, and it's the only one failing.

[2019-06-13 13:28] sergiuszkierat opened #4807 "[1.3.0-RC2] java.lang.NumberFormatException: For input string: "0-RC2""
## steps
sbt version: 1.3.0-RC2
OS: Linux 4.15.0-50-generic #54-Ubuntu

I've forked https://github.com/playframework/play-samples and I've tried to run `play-scala-starter-example` with updated sbt. You can find it [here](https://github.com/sergiuszkierat/play-samples/tree/2.7.x/play-scala-starter-example)

## problem

[code]

## expectation
no error in the console

## notes
Surprisingly, if I run