[2014-09-04 18:50] jsuereth commented on #1560
@OlegYch Thanks for clarifying.  Did  useLatestSnapshots := false sovle the issue?  We may need to add special "ProjectResolver" intelligence to the chain resolver.

[2014-09-04 21:07] OlegYch commented on #1560
yep
any idea why there is no publication date in the poms? should i file a separate issue?

[2014-09-05 02:29] sheavner opened #1575 "Jar with no classes is not included with staged files?"
We've got one library (stanford-corenlp-3.4-models.jar below) which has no classes, but is full of large data files.  It's so large that github won't let us check it in -- not that we really want to do that.

[code]

When we run play stage or sbt stage, it ignores stanford-corenlp-3.4-models.jar.  It does include all the other code jars in the project, including stanford-corenlp-3.4.jar.   The oth

[2014-09-05 10:31] Alefas opened #1576 "Add setting for unmanaged sources"
It would be really valuable for IDE. We have unmanagedJars, but we can't connect any sources to them. In our case we need sources of IntelliJ IDEA, and it's quite important to have them.

[2014-09-05 12:36] jsuereth commented on #1575
Note:   sbt stage comes from the sbt-native-packager.   My guess is the classifer is the issue specifically with the way sbt-native-packager pulls classpaths.  Please open the ticket there.

Thanks!

[2014-09-05 12:36] #1575 closed, assigned to nobody

[2014-09-05 12:39] jsuereth commented on #1576
@Alefas would you mind giving us a sample of how your unmanaged source jars are laid out?  I'd like to work out a user-story for this.

[2014-09-05 13:16] jsuereth commented on #1560
That is an issue, but I think we have a few items at play:
- I was talking with @eed3si9n about handling inter-project resolver specially, as I think current behavior is wrong in 0.13.6-RC2.  I have a patch for that I'm testing.
- The pom itself didn't have a publication date. I think there may already be a bug for that one, I'll do a quick search.
- There's a behavioral bug in ProjectResolver whi

[2014-09-05 16:08] jsuereth opened #1578 "Scripted is broken in sbt 0.13.6-RC1"
Behavior:
`sbt scripted <anything>` does not run a single darn thing.

Expected:
it runs a dang test.

[2014-09-06 02:24] paulp commented on #1568
This is easy to reproduce. You'll want to mark it as a blocker.

I'm 80% sure it's 0bfb5a4118.

M2 doesn't show the behavior, RC1 does.

[2014-09-06 02:37] paulp commented on #1568
Okay, here's your reproduction.

[code]

[2014-09-06 08:11] paulp commented on #1465
This change is almost certainly behind the regression seen in #1568.

[2014-09-06 09:10] fommil commented on #1568
:+1: to quality control on RC2

[2014-09-06 09:11] paulp commented on #1568
Btw that should be plugins.sbt up there. Probably obvious.

[2014-09-06 15:22] jsuereth commented on #1568
Thanks for the reproduciton, on it.  RC2 is blocked for other criticals as well.

[2014-09-07 01:19] copumpkin opened #1580 "Code cache is filling up in travis builds"
Probably makes them slower than they need to be. Check the logs in https://travis-ci.org/sbt/sbt/builds/34608220 829.15 and 829.17 for lots of spam about the code cache being full and the compiler being turned off.

[2014-09-07 05:37] Alefas commented on #1576
Our unmanaged sources is very big sources.zip file (110 Mb) with lots of source roots. These source roots are placed in some complex tree structure, some of them starts from folder with name "src" or "tests", some is not. I want to have possibility to put to this setting paths like 'sources.zip!/CSS/css-api/'.
We will scan new sources.zip file to find all source roots by parsing java files (and lo

[2014-09-07 06:24] copumpkin commented on #1570
See #1579 for the associated PR

[2014-09-07 13:59] jsuereth commented on #1580
Feel free to bump: https://github.com/sbt/sbt/blob/0.13/.travis.yml.

[2014-09-07 16:08] jsuereth commented on #1568
@paulp Close guess, but it was actually this commit: https://github.com/sbt/sbt/commit/a1b3117a42134fd050813d383d48de3ed218cd86

which I didn't have sufficient tests for, it seems.   Not sure how the multi-project load slipped by the scripted tests, but I'm glad you got me that reproducible test case.    There was just some state I forgot to chain through a method.    Debating starting to use a de

[2014-09-07 16:48] jsuereth commented on #1571
What does raw Scalac report for the same error?   Are we somehow hiding a more useful error message?

If not, we'll need to create our own error-handling hook.  I'd also recommend opening a feature request against Scalac if you find the underlying error message is the same sbt displays.

[2014-09-08 16:26] #1560 closed, assigned to nobody

[2014-09-08 16:26] #1568 closed, assigned to nobody

[2014-09-08 16:45] jsuereth commented on #1568
sbt 0.13.6-RC3 has the fix for this, please try it out and reopen if you see any more issues.

[2014-09-08 17:24] #1570 closed, assigned to nobody

[2014-09-08 20:56] nefilim opened #1583 "Race condition with multiple source generators in a multi module project"
I'm a bit at a loss tracking this one down (time constraints) but have created a simple project to replicate the problem:

https://github.com/nefilim/sbtrace

Running compile (on a clean tree) will almost always result in:

[code]

In larger project I sometimes see a different missing file but it's usually this generated file (by sbt-buildinfo plugin).

running compile again will complete successf

[2014-09-08 23:59] antonkulaga commented on #1568
Works like a charm. Thank you for the fix!

[2014-09-09 03:03] cunei commented on #1430
Unless I messed up the bisection, "set every" started working erratically after commit ~~a3d89dc8656d7ee5fb2656dae79b5154ebe9a5e2~~ 322f6de6551665cade7d56b532348ea5dc3d54db

[2014-09-09 11:58] alexbezhan commented on #1209
Is there any temp workaround how to enable logging all the tasks executed ?

[2014-09-09 12:35] jsuereth commented on #1209
-Dsbt.task.timings=true will give you more than you wanted to know. This _should_ work with the release plugin, as it attacks the task engine itself, but no guarantees.

[2014-09-09 13:36] jsuereth commented on #1578
Unable to duplicate in 0.13.6-RC3....

[2014-09-09 13:36] #1578 closed, assigned to nobody

[2014-09-09 13:41] jsuereth commented on #1583
Thanks for reporting, we'll have to investigate this one a bit more.

[2014-09-09 13:57] alexbezhan commented on #1209
Thanks, it helped.

[2014-09-10 09:06] l15k4 commented on #1144
Guys  how to deal with this ?

[code]

[2014-09-10 15:06] puffnfresh opened #1587 "UnsupportedOperationException: tail of empty list in 0.13.6-M1"
Getting this problem when running a `test` task in 0.13.6-M1 (`test:compile` succeeds fine):

[code]

[2014-09-10 15:08] puffnfresh commented on #1587
0.13.6-M1 worked fine with scalac 2.10 but failed after we upgraded to scalac 2.11

0.13.5 is able to run the `tests` task with scalac 2.11

[2014-09-10 15:11] puffnfresh commented on #1587
Seems fixed in 0.13.6-RC3

[2014-09-10 15:15] puffnfresh commented on #1587
Nope, the problem is just less obvious in RC3 for some reason.

[2014-09-10 18:46] briantopping opened #1589 "Fix #485 to respect actual Maven repo location"
https://github.com/sbt/sbt/commit/2f13b7a8c726b51f5765830a5ee810c9906760bd creates the "publish-m2" command, but if the repo is not at the default location, everything breaks and there's no configuration to change it.

I put a note on the offending line in that commit.

[2014-09-10 19:30] jsuereth commented on #1589
@topping You're very correct.  PR welcome if you have a chance.

[2014-09-10 19:32] jsuereth commented on #1587
Is this an sbt specific issue?  (error in typer).  I.e. do you see it when running scalac by itself?

Additionally, any chance you can show us the code which is failing to compile?   As the error message is coming from inside Scalac, it's a bit hard for me to guess what's going on :)

[2014-09-10 19:34] briantopping commented on #1589
Thanks Josh, getting this in could solve a lot of problems locally. Will report back.

[2014-09-10 19:35] puffnfresh commented on #1587
How do I figure out what sbt is trying to compile? This is after I run `test:compile` and try to run the `test` task. Everything in my project should be compiled, right?

[2014-09-10 19:36] jsuereth commented on #1587
if you run with `debug` enabled (type `debug` before test) then it will show you.   Oddly, it's trying to compile SOMETHING.  Could be one of those "something is touching things" recompiles

[2014-09-11 06:18] #1558 closed, assigned to nobody

[2014-09-11 11:25] #1544 closed, assigned to nobody

[2014-09-11 20:33] cunei commented on #1430
The definition of setAll(), which implements 'set every' uses `._1s`, which just grabs the keySet from the relation's forwardMap. Hence, having a mapping from something to an empty set, or not having the mapping, is /not/ equivalent when using `_1s`. I am issuing a pull request to revert the optimization.

[2014-09-11 23:05] meyerjoe commented on #1435
+1

I experience the same issue (on Windows), when I try to declare a dependency to another Play project  on GitHub in build.sbt
As soon as I create the folder manually, everything works fine.

[2014-09-12 02:39] betehess opened #1592 "[0.13.5] error: value enablePlugins is not a member of sbt.Project"
I asked about this issue at (https://github.com/ensime/ensime-sbt/issues/60) and then at https://github.com/playframework/playframework/issues/3398. Now it really looks like the issue is with sbt itself.

Can somebody try to load https://github.com/betehess/ensime-issue-60 and if it works, then try `gen-ensime`?

Note: I have the same issue with the latest build of sbt.

[2014-09-12 03:00] betehess commented on #1592
Obviously, my brain is fried after a day of debugging sbt issues in my projects at work... The StackOverflow question I was mentionning has nothing to do with the issue being reported here. I will update the ticket accordingly. Sorry for the confusion.

[2014-09-12 07:09] fommil commented on #1592
You have my sympathies at the very least. I've been there many times.

[2014-09-12 10:13] dragos opened #1593 "NullPointerException in extraction phase"
It seems the extraction phase is trying to be careful, but still calls `isDefined` on a `null` value.

[code]

[2014-09-12 10:35] gkossakowski commented on #1593
Here's the offending code:

[code]

My guess would be that `typeSymbol` returns null. I don't know when that would happen. Do you have a sample code which reproduces this?

[2014-09-12 11:32] dragos commented on #1593
The annoying thing is that it won't happen every time. It's part of our test suite, the example is pretty small. My guess is that the `typesymbol` in question is the annotation.

[code]

and

[code]

[2014-09-12 12:11] gkossakowski commented on #1593
Thanks! Do you have a I feel how often does it happen? 10% of the time or less often?

[2014-09-12 14:02] jsuereth commented on #1592
I'm investigating now.

[2014-09-12 14:30] jsuereth commented on #1592
It appears you hit this subtle issue in Ivy.

What is happening:
- The pom.xml file for ensime-sbt, when translated to ivy.xml, is needlessly depending on all configurations of its transitive dependencies (thanks to a missing master configuration).
- This means the `provided` configuration of transitive dependencies of ensime-sbt are wired into the `compile` configuration of ensime-sbt, leading to

[2014-09-12 14:38] betehess commented on #1592
Thanks @jsuereth for looking into this!

The first workaround is good enough in my case. I believe @fommil is following this discussion, so it's up to him to decide what to do about the current issue. Updating the documentation with a reference to the issue could be good enough for now.

[2014-09-12 14:50] jsuereth commented on #1592
@betehess Which documentation would you like us to change?  Today is our bug-fix grind-a-thon, so I can try to tackle that shortly.

[2014-09-12 14:52] betehess commented on #1592
@jsuereth sorry, I meant ensime to update their documentation, pointing to [your comment](https://github.com/sbt/sbt/issues/1592#issuecomment-55411007).

[2014-09-12 15:42] fommil commented on #1592
@jsuereth does your repo do snapshots? bintray is utter shit: I looked at it, fought with it and I'm not going near it again. Simpler than sonatype my ass.

[2014-09-12 15:47] fommil commented on #1592
@betehess one more workaround you might want to try. Put this in your `~/.sbt/0.13/plugins/plugins.sbt`

[code]

[2014-09-12 20:17] copumpkin opened #1594 "A mechanism for influencing order of AutoPlugins *settings additions"
I have some keys in my `AutoPlugin` that I want to provide default values for. In `projectSettings` in my plugin, I use `myKey := Seq(someDefaultValue)`, and in the `build.sbt` that uses my plugin, I write `myKey += anotherValue`. Unfortunately, the `projectSettings` seem to get added afterward, so my build fails complaining that `myKey` has no value.

Alternately, I just need a mechanism for defi

[2014-09-13 02:11] puffnfresh commented on #1587
You were right and I've narrowed this down to a scalac error. I've filed an issue, here:

https://issues.scala-lang.org/browse/SI-8844

[2014-09-13 02:11] #1587 closed, assigned to nobody

[2014-09-13 03:06] jsuereth commented on #1587
@puffnfresh thanks for looking into it!

[2014-09-14 00:34] copumpkin opened #1597 "A mechanism for auto-importing multiple names"
My situation: I have an object `ObjectWithSomeTypes` with some types in it that I want to be visible to my build. I also have some sbt-specific keys that I want to be visible in my build.

In my `AutoPlugin`, I can define an `autoImport` object or value, but Scala doesn't have a notion of re-exporting symbols from a module, so I can't say

[code]

So the only options I can see are:
- Reshuffle my

[2014-09-14 17:24] hsn10 opened #1598 "[error] impossible to get artifacts when data has not been loaded"
during compiling apache spark 1.1.0 sources available at http://spark.apache.org/downloads.html  with command line:
./sbt/sbt -Dhadoop.version=2.4.1 -Pyarn -mem 1024 assembly

i got error:

[info] Resolving org.eclipse.jetty.orbit#javax.transaction;1.1.1.v201105210645 .[info] Resolving org.eclipse.jetty.orbit#javax.mail.glassfish;1.4.1.v20100508202[info] Resolving org.eclipse.jetty.orbit#javax.act

[2014-09-15 07:21] hseeberger opened #1599 "sbt 0.13.6 not compatible with sbt-groll built against 0.13.5"
Use this in `project/plugins`:

[code]

Then start sbt and enter `groll list`. This will lead to:

[code]

[2014-09-15 08:10] hseeberger commented on #1599
It looks like commit `adb41611` is to blame that `ThisProject` is no longer matched:

[code]

[2014-09-15 08:56] montaro commented on #1214
I had the same problem with SBT project, and this worked for me

[code]

[2014-09-15 12:16] jsuereth commented on #1599
@hseeberger interesting, because that was a scalariform style fix, nothing more.   I'll add a quick patch, but two questions:
1. Do you have a mechanism to reproduce the ThisProject issue without groll?
2. Were you aware of scalariform volatile rewrites?   This discovery makes me a bit nervous now that perhaps we lost other bits of necessary functionality.

cc> @eed3si9n

[2014-09-15 12:17] hseeberger commented on #1599
Look at the above diff. Clearly not a formatting thingy, but there's no more matching for `ThisProject`.

Regarding (1) I haven't narrowed it down, but it should be fairly simple, just use `ThisProject` in your build.

[2014-09-15 12:20] jsuereth commented on #1599
@hseeberger The commit you point it was ONLY running scalariform and committing.  My guess is there was a bug with:

[code]

where it drops part of the pattern.

[2014-09-15 12:21] hseeberger commented on #1599
@jsuereth Ah, got you. Scary!

[2014-09-15 12:24] jsuereth commented on #1598
@hsn10 Ivy 2.4.0-RC1 (when we were on it temporarily for last release) was riddled with issues around maven resolution.   We can give it a go in 0.13.7, but I'm a bit nervous about that.

Thanks for linking the Ivy issue though. I'm sure we can find a way to fix this.

[2014-09-15 12:35] cos commented on #713
What is the id of the new issue? Thanks!

[2014-09-15 12:35] retronym commented on #1599
I would recommend a bytecode diff before and after that commit.

[2014-09-15 12:42] jsuereth commented on #1599
@retronym good call, we'll set that up.

[2014-09-15 13:01] retronym commented on #1599
FWIW, I can't reproduce this in isolation.

[code]

[2014-09-15 13:05] jsuereth commented on #1599
@retronym Yeah, as I investigate the issue, i'm finding all notion of ThisProject in scope disappeared.  I'm suspecting something else at play than just the commit reported.

[2014-09-15 13:10] jsuereth commented on #1599
Ok, @hseeberger this is actually as designed.  The commit your reference was incorrect, here's your offending comit: https://github.com/sbt/sbt/commit/5deb103ef6

Now, I agree with the sentiment in that commit. Can i ask your use case of hitting resolveProjectRef directly?  It could be we have a hole here somewhere with the API, and I'd rather move you somewhere a bit more stable.

[2014-09-15 13:14] hseeberger commented on #1599
I'm using

[code]

[2014-09-15 13:16] eed3si9n commented on #1599
O man. You guys scared me there. Thank goodness scalariform is correct.

[2014-09-15 13:19] jsuereth commented on #1599
@hseeberger Ah, this API, I consider "advanced".  If you have extracted ( I see structure) can you modify your code to:

[code]

The reality is, the resolution of `ThisProject` you got before was _wrong_, even if it generally worked ok.  It would ALWAYS point at the _root_ project even if someone used the `project <name>` command in sbt to set a different current project (i.e. ThisProject should m

[2014-09-15 13:20] OlegYch commented on #1565
this is not fixed in 0.13.6

[2014-09-15 13:20] hseeberger commented on #1599
Thanks for this lesson ;-)
Will give it a try ...

[2014-09-15 13:23] hseeberger commented on #1599
@jsuereth, works like a charm. Feel free to close this issue.

[2014-09-15 13:31] #1599 closed, assigned to nobody

[2014-09-15 13:32] hseeberger commented on #1599
@jsuereth, thanks a lot for the quick help!
Just released sbt-groll 3.2.0 with this change.

[2014-09-15 13:37] viktorklang commented on #1599
What rule would rewrite that?

[2014-09-15 14:24] hsn10 commented on #1598
apache ivy 2.4.0-rc1 do not have fix for this problem. trunk ivy does. commit fixing bug is https://github.com/apache/ant-ivy/commit/c66b23747627a2b432e0068561d457cab9f97ead

[2014-09-15 16:16] jsuereth commented on #1565
Yep, sorry this was autoclosed.

[2014-09-15 16:21] jsuereth commented on #1594
Technically there is a mechanism (`autoSetttings`) except, autoPlugins come _before_ `build.sbt/build.scala` by default.    I'd have to see your build to know, but you probably have an alternative issue here somewhere.

[2014-09-15 16:24] jsuereth commented on #1592
@fommil My repo _is_ bintray, and no, snapshots should be fully qualified names.  If sonatype allows you to publish an ivy artifact, that'd probably be sufficient.

Note: ivy has a notion of "latest.integration" or "latest.release" that you can use instead of -SNAPSHOT to get fully qualified release numbers but convenient checkouts.

Also, I'm releasing a 0.13.7-M1 soon that should have a fix.

[2014-09-15 16:53] fommil commented on #1592
cool, thanks @jsuereth

[2014-09-15 17:15] copumpkin commented on #1594
Dammit, now I have to cook up a small repro :smile:

[2014-09-15 18:58] jsuereth commented on #1597
You have one additonal option:  Expose "ObjectWIthSomeTypes".

I agree this is an issue, but more of one relating to scala, as you suggest.   The idea behind autoImport is allow plugins to provide a nice "base syntax", with full Scala as a "fallback", but that your "90% use-case" API is exposed/documented right there.

I think it's an open question (and a good one for sbt-dev) to discuss how/wheth

[2014-09-15 18:59] jsuereth commented on #1594
K., I marked this as "invalid" for now (autoSettings is this mechanism) but "NeedInfo" for the repro, as I think you're just running into a wierd issue.

[2014-09-17 12:58] jsuereth opened #1605 "sbt launcher should look at the `no_proxy` enviornment variable"
It's a default in linux and should be translated into the `htttp.nonProxyHosts` property

[2014-09-17 13:09] jsuereth commented on #1598
@hsn10 I'm trying to backport that fix into ivy 2.3.0.  It looks like it should be feasible. If I'm successful, we'll include it in 0.13.7.

[2014-09-17 13:28] jsuereth commented on #1598
Ok, attempting backport: https://github.com/sbt/ivy/pull/12

We'll see if it passes the full test suite.  Sometimes these things open up other bugs.

[2014-09-17 21:42] ajozwik opened #1606 "Natural whitespace handling for SBT configuration parser AKA 'no more blankies'"
Open list to implement/check:
- [x] Add tests around the new no-blank-lines files and session-save
- [ ] Possibly expand the notion of "position" we have in Setting[_] to include start/stop so we can more accurately alter a build.sbt file without changing it.
- [x] Investigate @dragos [comments about tokenizer/parser](https://github.com/sbt/sbt/pull/1574#discussion-diff-17551216).
- [ ] Current SB

[2014-09-18 06:34] ghost commented on #1369
Reported it as you told me , thanks.
https://github.com/sbt/sbt-launcher-package/issues/77

[2014-09-18 11:27] grkuntzmd commented on #1592
I believe that you can add `scalastyle-sbt-plugin` to the list.

[2014-09-18 14:58] pfn commented on #853
Still hangs:

[code]

Unbuffered output, process just stops there.

[2014-09-18 17:00] jpsacha commented on #1593
I am getting something similar that is happening for me 100% of time on certain projects using sbt 0.13.6 ans Scala 2.11.2. The stack trace is a bit different (see line numbers, here `Dependency.scala:132` above `Dependency.scala:142`):

[code]

It there some workaround or setting to prevent this, short of moving back to 0.13.5?

[2014-09-18 17:01] pommedeterresautee commented on #895
Great news, it is now fixed with Git 1.9.4!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

Directories are now correctly created by Git. I have tested on my project.

-> This bug can be closed <-

May be an information in the ReadMe would be useful (like please use Git version > 1.9.4 on Windows).

[2014-09-18 17:12] gkossakowski commented on #1593
@jpsacha, thanks for the report! This looks indeed like the same problem. Would it be difficult for you to minimize reproduction of this problem or share your project?

The workaround is to switch back to old incremental compilation algorithm with `incOptions := incOptions.value.withNameHashing(false)`.

[2014-09-18 17:31] Blaisorblade commented on #895
Cool that Git saved us! Having the info when you get the failure would be even better, but I don't have time for that. If anybody can do a PR for the README/docs/wherever is useful, that'd be great.

[2014-09-18 17:51] jpsacha commented on #1593
@gkossakowski I am not sure how small I can get it. I found a some smaller open-source projects where it is happening too every time I try. Though it is in a part that I did not publish yet, it may be a day or two due before it is on github. I will provide link when update it ready.

[2014-09-18 18:05] gkossakowski commented on #1593
Sounds good! It doesn't have to be too small as long as it's easy to reproduce.

[2014-09-19 17:16] dcsobral opened #1608 "MakePom isValidIDCharacter method is overly restrictive"
I found very little information on what are supposed to be valid characters for repository id. Maven documentation says lowercase letters and "no strange symbols", but does not get into any more detail than that. SBT keeps it to letters and numbers, which leaves out at least the dash (-), a character that is widely used on examples throughout Maven documentation.

As it happens, maven itself will

[2014-09-19 17:27] jsuereth commented on #1608
Question:  Why are resolvers making it into your pom.xml?  Generally, not a great practice to have resolvers be added by transitive dependencies.

Also, I agree on your opinions, but I'm curious as to why you're using resolvers in pom.xml.   I had forgotten we even encode those.

[2014-09-19 17:38] dcsobral commented on #1608
I have no idea -- my configuration simply sets resolvers on each project
--, but get there they do.

On 19 September 2014 11:27, Josh Suereth notifications@github.com wrote:

##

Daniel C. Sobral

I travel to the future all the time.

[2014-09-21 18:18] antonkulaga opened #1609 "0.13.6: Weird multiproject behaviour."
I noticed that in multiproject play projects when I update (without changing version) some code in subproject which is already published in bintray, main project does not take those changes into account and use published artifact as dependency. I do not remember such problems in previous sbt version (and there I often forgot to update versions of subprojects in master branch after publishing them,

[2014-09-22 00:57] #1598 closed, assigned to nobody

[2014-09-22 12:25] mdedetrich opened #1610 "0.13.6 - java.util.concurrent.ExecutionException: java.lang.OutOfMemoryError Regression"
When upgrading to SBT 0.13.6, building our code makes SBT to run out of memory. Switching to SBT v0.13.5 immediately fixed the issue, so there is definitely a regression in this area.

This is private company code, so it may be hard to diagnose, but hopefully this stack trace can help

The code makes heavy use of implicits, so this may help in solving the regression (although I have no real idea i

[2014-09-22 12:46] gkossakowski commented on #1610
Hi!

You can keep sbt 0.13.6 but turn off name hashing incremental compilation algorithm with `incOptions := incOptions.value.withNameHashing(false)`. How much memory does sbt process have? Does increasing memory limit help?

Could you take a memory dump and analyze what occupies most of the memory?

[2014-09-22 13:50] nefilim commented on #1583
@jsuereth any ideas on this one guys? i can work around it when developing but my automated testing & continuous integration has been dead in the water for a very long time :(

[2014-09-22 14:37] mdedetrich commented on #1610
The SBT process had the following parameters

[code]

This is on the latest and fully upgraded macbook pro. I tried different options (Xms/xmx used to be 8g) and it made no difference)

Regarding memory dump, do you have any instructions for this?

[2014-09-22 15:03] gkossakowski commented on #1610
Yes, take a look at:

http://stackoverflow.com/questions/542979/using-heapdumponoutofmemoryerror-parameter-for-heap-dump-for-jboss

One you have memory dump file created you can browse it using tools like YourKit or VisualVM. It appears like there's a big memory leak so it should be fairly easy to identify what's going on just by inspecting the heap dump.

[2014-09-22 19:50] varju opened #1611 "0.13.6 - NullPointerException in SbtChainResolver"
While trying to upgrade a working project from 0.13.5 to 0.13.6, I encountered this error:

[code]

The failing line of code appears to be `rmr.getDescriptor.getPublicationDate.getTime`, which was new to 0.13.6 as part of #1521.

In my case, I have a SNAPSHOT artifact in ~/.m2 published using `sbt publish-m2`.  I also have a Sonatype Nexus server (2.3.0-04) with an older version of the artifact.

[2014-09-23 02:03] He-Pin opened #1612 "publish sbt's source to maven center"
Could you please publish sbt's source code to maven center?

[2014-09-23 03:16] jpsacha commented on #1593
Branch `SBT1593` of [javacv-examples](https://github.com/bytedeco/javacv-examples/tree/SBT1593) project has a build script that illustrates the issue. The example project is in subdirectory `FlyCapture2-demo`. To reproduce the issue, change to subdirectory `FlyCapture2-demo`, and run `sbt example_ui/run`. You need to do it on a Windows system with Java 8.0_20 (I tested on Windows 7 x64 and Windows

[2014-09-24 03:52] wchen9911 opened #1614 "sbt uses sbinary to cache objects on filesystem, but it has a hard limit of 64k."
We were hit by this limit recently. See the attached stacktrace. This happened on "doc" task when the checkout dir was really long, but as far as I can tell, this is used everywhere. Although most people won't be affected by this, but this is still something that many big project will hit eventually.

Here is the hard limit in sbinary:
https://github.com/DRMacIver/sbinary/blob/master/core/src/java

[2014-09-24 03:55] eed3si9n commented on #1614
Do you know what sbt's trying to cache?

[2014-09-24 04:06] wchen9911 commented on #1614
I believe it is the fileInputOptions setting

See:
https://github.com/sbt/sbt/blob/3c8893ef2ccd046f1786df4c87f99a2ffe1c29e1/main/src/main/scala/sbt/Defaults.scala#L723
and
https://github.com/sbt/sbt/blob/0.13.6/main/actions/src/main/scala/sbt/Doc.scala#L23

[2014-09-24 04:13] eed3si9n commented on #1614
Assuming you're using sbt 0.13.1, it's https://github.com/sbt/sbt/blob/0.13.1/main/src/main/scala/sbt/Defaults.scala#L694, which is consistent with stacktrace hitting `RawCompileLike` right afterwards.

[2014-09-24 04:16] wchen9911 commented on #1614
Yes, we are on 0.13.1, but the links I gave is on master, and the related code hasn't changed. This is not an urgent problem, we worked around it by setting sources to Seq.empty().

But given the growth of a codebase, more projects will be hit by this limit.

[2014-09-24 04:19] eed3si9n commented on #1614
We'll likely migrate to json-based serialization/data binding in the future. We were just talking about [serialization in sbt](https://groups.google.com/d/msg/sbt-dev/7IpZrq79oz0/JSgVlSOb9RsJ) yesterday and today.

[2014-09-24 04:21] wchen9911 commented on #1614
Thanks, that's good to know.

[2014-09-24 12:28] jsuereth commented on #1612
This ask is a bit more intense than you realize.

a. we may be pubishing more pieces of sbt to maven in the future.  We can certainly do so then
b. the repackaing project is the one not pushing source: https://github.com/typesafehub/sbt-republish

In any case, which sources are currently missing?

[2014-09-24 14:50] charlessimpson opened #1616 "Maven local resolver with parent POM"
Somewhere between 0.13.5 and 0.13.6, the Maven local resolver stopped being able to resolve parent POM's from Maven projects.

If I have a parent pom:

[code]

a child pom:

[code]

both of which are installed to my local M2 repo using `mvn install`. The following build.sbt works in 0.13.5:

[code]

but fails in 0.13.6 with the error:

[code]

It might be an issue with Ivy caching, since if I run

[2014-09-24 17:42] gkossakowski opened #1617 "NPE in ClassToAPI"
As [reported](https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/scala-ide-user/3-vDAKsqu-M/_FHp8G1UWHMJ) by Scala IDE user, we have a NPE in ClassToAPI:

[code]

@dragos's hypothesis is that we are getting null from Java Reflection.

[2014-09-24 22:44] jsuereth commented on #1616
Hey @charlessimpson, been a long time!  I'll look into this, but first jsut wanted to say 'hi'. I see you've left APL, ping me sometime, would love to catch up.

[2014-09-24 22:46] jsuereth commented on #1616
Think this may be related to the ChainResolver fixes we added in 0.13.6 to fix correctness/freshness issues with Maven -SNAPSHOTs.

[2014-09-25 15:01] He-Pin commented on #1612
re:
1,thanks for that info,cause currently ,the document lack some use pattern ,and some time user may need to read the source code to realize how to use it,and how sbt works.just as akka.and Play now is publish to maven center too.
2,for the source maybe not missing,but I could not locate where to find it correctly,I am using IDEA with scala plugin,and when It ask me to setup the source code ,I p

[2014-09-25 15:30] #1611 closed, assigned to nobody

[2014-09-25 18:42] jedesah opened #1622 "Broken link"
The last link (excluding contents) on this page is broken

http://www.scala-sbt.org/0.13/docs/Howto-Generating-Files.html

To be clear, I am referring to the "Adding files to a package" link.

[2014-09-26 11:21] He-Pin opened #1623 "SBT should support define external Project and could add the external at the dependencies"
currently ,I have a project ,which used some source from other two projects,and the external projects are not managed by maven,or sbt,and not packaged with jar,So I choose the way to add the source in the
`unmanagedSourceDirectories in Compile`,this compiles well from the console ,but not in the IDE,IDEA just said that cannot mapping this into IDEA's project model,and the reference of the code wil

[2014-09-26 12:04] jsuereth commented on #1622
Can you open this ticket against sbt/website?

Thanks!

[2014-09-26 12:04] #1622 closed, assigned to nobody

[2014-09-26 12:06] jsuereth commented on #1623
Yeah, this i an issue with the conflagration of IDE-integration, sbt-terminal, and how we deal with external builds.   While I hope we have a fix eventually, it's a bit hairy, so I'm only expecting thing sto get better (not be nice) by sbt 1.0.

[2014-09-26 19:19] jedesah commented on #1622
Done! https://github.com/sbt/website/issues/56

[2014-09-28 13:16] jsuereth commented on #1606
@ajozwik Let me know if you have time for a skype sometime this week to discuss the TODOs on here and what each of us can to do make sure this gets merged soon.  I'd like to have a 0.13.7-M3 for this as soon as we can to flush out more issues.

[2014-09-28 16:12] alex-vv commented on #424
I'm on OS X now, but I checked 0.13.6 on Windows 7 laptop and this issue seems to be resolved. It doesn't wait now for each check.

[2014-09-28 16:12] #424 closed, assigned to nobody

[2014-09-28 21:12] jaceklaskowski commented on #1156
I managed to confirm that the warning goes away with `isSnapshot := false` in the build. See [What's the preferred option to overwriting local artifacts with deprecated publishLocal?](http://stackoverflow.com/q/26077419/1305344).

Be careful, though, with `isSnapshot` being mismatched with `version` since it's often used in `publishTo` to set the repository where the artifacts are deployed to.

[2014-09-29 14:35] He-Pin commented on #1623
thanks for that information,sbt will be better and better :P

[2014-09-30 08:56] jaceklaskowski commented on #1213
BTW, `lazy val root = (project in file(".")).addPlugins(SbtWeb)` can also be `lazy val root = project in file(".") addPlugins SbtWeb` (that doesn't necessarily help in IDE or @jroper)

[2014-09-30 16:52] ajozwik commented on #1606
@jsuereth
Point 4 and 7 are related to scala parser. They are out of scope. We have work - around.
Only point 2: `Possibly expand the notion of "position" we have in Setting[_] to include start/stop so we can more accurately alter a build.sbt file without changing it` is still open.

[2014-09-30 19:11] eed3si9n opened #1632 "[0.13.7] FileNotFoundException: /Users/foo/.m2/settings.xml (No such file or directory)"
## steps

Run play using 0.13.7-SNAPSHOT
## problem

[code]
## expectation

No error.
## notes

[code]

I'm guessing this came in from #1600.
/cc @topping

[2014-09-30 21:12] briantopping commented on #1632
Yes, please assign to me.

Sent from my iPhone

[2014-10-01 14:17] manuelbernhardt opened #1636 "EvictionOptions not allowing to turn off warnings?"
I'm trying to turn off eviction warnings for intransitive dependencies at the moment since I have little or no influence on the dependencies (using Play).

I'm now using the following settings:

[code]

but still get to see eviction warnings upon update etc.

Any idea what I might be doing wrong? This is a multi-module project and I have the settings enabled for each module.

[2014-10-01 16:53] eed3si9n commented on #1636
Could you try:

[code]

[2014-10-01 18:50] #1632 closed, assigned to jsuereth

[2014-10-03 07:06] eed3si9n opened #1639 "force not respected during cached resolution"
## steps

[code]

From shell run `check` task.
## problem

consolidated resolution is picking up `Attributed(/xxx/target/ivy-cache/cache/org.springframework/spring-context/jars/spring-context-4.0.3.RELEASE.jar)`:

[code]

[2014-10-03 11:11] milessabin opened #1640 "Name hashing heap explosion with shapeless master"
Building shapeless master with SBT 0.13.6 results in an OutOfMemoryError with default 2G heap (configured via .jvmopts) and continued to fail with the heap limit increased to 3 and 4G.

Reverting to 0.13.5 or disabling name hashing (with `incOptions := incOptions.value.withNameHashing(false)`) allows the build to complete successfully in 2G.

[2014-10-03 12:59] gkossakowski commented on #1640
Thanks for the report!  This looks like duplicate of #1610 but with advantage of publicly available project where OOM happens. I'll have a quick look now.

[2014-10-03 13:31] gkossakowski commented on #1640
The problem is with macro expansion handling. The `ExtractUsedNames.handleMacroExpansion` appears to go into an infinite loop and leaks memory at the same time.

[2014-10-03 13:33] gkossakowski commented on #1640
//cc @Duhemm who worked on improved macro handling recently.

[2014-10-03 13:53] Duhemm commented on #1640
My first guess is that the set containing the list of original trees (trees before expansion, `inspectedOriginalTrees`) introduced in #1544 ends up consuming all the memory... What would be a better solution to the problem of cyclic structures in macro originals ?

[2014-10-03 13:59] gkossakowski commented on #1640
I think the solution in #1544 was fine but we might have missed some small detail. @Duhemm, can you reproduce the problem on your machine?

[2014-10-03 14:17] Duhemm commented on #1640
Actually I've not been able to reproduce the OOM on milessabin/shapeless. Are there other instructions than `compile`-ing the project with sbt 0.13.6 to reproduce it ?

You're right, I've been looking a little too fast at your message (I'm helping the students with their software engineering class at the moment) and you said it was located in `ExtractUsedNames.handleMacroExpansion`.

Do you think

[2014-10-03 14:31] gkossakowski commented on #1640
No, it should work out of the box. Are you sure you have the latest (master) shapeless checked out? I used 5ec04acd101367cbf3aba0b1a08973192b0e1de8 commit from shapeless. Apply

[code]

then start sbt, type `compile`, wait for a while and observe sbt blowing up with OOME. Let me know if you can reproduce it.

[2014-10-03 14:40] gkossakowski commented on #1640
Ah, I see now that #1544 was about extracting dependencies and here we are dealing with extraction of used names. I don't think the problem is with `filter`. Let me offer my wild guess. I think we are hitting unbounded recursion again. That is, we are walking the same tree nodes over and over again. However, instead of seeing StackOverflowException we see OOME because at each recursive call to `ha

[2014-10-03 14:47] Duhemm commented on #1640
I had not remarked that name hashing was disabled, sorry. I can reproduce it now.

I'll take a look at this while on the train this evening, I'll keep you updated !

Thank you for the investigation :mag: !

[2014-10-03 17:51] milessabin commented on #1640
Aside from this being an issue when compiling shapeless itself, I guess this is also going to be an issue for projects with a binary dependency on shapeless and using 0.13.6?

[2014-10-03 18:39] eed3si9n commented on #1606
For easier code review, I rebased wip/no-blankies on top of 0.13, and made no-blankies-rebased.
https://github.com/sbt/sbt/compare/wip/no-blankies-rebased

The only thing that stands out to me is `.gitignore`, which should be handled using https://help.github.com/articles/ignoring-files/#create-a-global-gitignore.

[2014-10-03 20:04] hfguedes opened #1641 "Can SBT resolve .pom file dependencies that just contain configurations/properties?"
So, as the title suggests, can sbtresolve .pom files dependencies that contain only configurations/properties and have no .jar file associated?

Im currently developing a new frontend app using Play! Framework and angularjs. Here's the scenario:

**Root Project** _(à la maven compilation/deploy)_

<ul>
 <li><strong>Core business Module</strong>(maven)<i>pom.xml</i></li>
 <li><strong>Web modules</s

[2014-10-04 09:29] gkossakowski commented on #1640
@milessabin, it depends on which macro is causing the problem. If it's a macro that is publicly exposed then most likely dependent projects will hit this issue too.

[2014-10-04 09:30] #1640 closed, assigned to nobody

[2014-10-04 09:50] milessabin commented on #1640
I think that's most likely the case. A release of shapeless 2.1.0 is going to happen within the next couple of weeks ... are you able to get a bug fix SBT release out in that timeframe? Otherwise I'm going to have to warn shapeless users to stick with 0.13.5 or set `incOptions := incOptions.value.withNameHashing(false)`.

[2014-10-04 11:07] jsuereth commented on #1640
We should be able to make that happen.  We were going to issue an milestone release asap to check some of the ivy fixes before hitting rc.

[2014-10-04 11:11] milessabin commented on #1640
Awesome :-)

[2014-10-04 21:56] eed3si9n commented on #1641
There's a Stackoverflow question [Can SBT resolve only .pom files as dependencies without jars?](http://stackoverflow.com/questions/26187667), which I'm guessing you've opened so I'm closing this one here (I think SO is a better forum for this type of questions). Hopefully someone from our team can take a look at it there.

[2014-10-04 21:56] #1641 closed, assigned to nobody

[2014-10-06 08:18] manuelbernhardt commented on #1636
@eed3si9n thanks, that was it. Indeed worth adding to the documentation, I'll take a look.

[2014-10-06 08:33] manuelbernhardt commented on #1636
From what I can see, the eviction topic is not documented yet. Would a good place be a new sub-topic of http://www.scala-sbt.org/0.13/docs/Dependency-Management-Index.html, e.g. `viii. Eviction warnings`? I could try to have a shot at it.

[2014-10-06 14:05] manuelbernhardt commented on #1616
I'm not entirely sure if this is related, but it certainly seems similar enough: using a local repository, an artifact can't seem to resolve a dependent SNAPSHOT library (tested with 0.13.7-M2, 0.13.6 vs. 0.13.5).

In our case we are working with a plugin (and not a direct library dependency). Adding that dependency to the local repository does not help.

If it helps, here are the steps to reprodu

[2014-10-06 18:27] #1606 closed, assigned to nobody

[2014-10-07 07:54] manuelbernhardt commented on #1616
I created a test project that demonstrates the problem at https://github.com/manuelbernhardt/sbt-1616

It would be awesome to have this fixed before 0.13.7 gets released!

[2014-10-07 10:29] kretes opened #1648 "selectPackageMain should always warn about ambiguous main class"
In

https://github.com/sbt/sbt/blob/0.13/main/src/main/scala/sbt/Defaults.scala#L668

sbt guesses main class for a package, but do not warn if there is more than one.

sbt should use some strategy to warn about the fact, like two lines above for selectRunMain

[2014-10-07 19:48] rossabaker opened #1649 "Cached resolution does not respect excludes"
In cached resolution, minigraph keys do not consider excluded dependencies.  If one project excludes a transitive dependency, and another does not, it becomes non-deterministic which minigraph will be used under cached resolution.

Minimal repro:
- Clone https://github.com/rossabaker/sbt-cached-resolution-exclusion
- Run `sbt clean test`

Expectation:
- Both specs should pass: two projects should

[2014-10-07 20:24] eed3si9n commented on #1649
Thanks for the report!

[2014-10-08 16:34] cnrudd opened #1650 "how to determine application mode in build.sbt"
Hi,

building a site on playframework 2.3.4
just wondering if anyone can tell me how i can determine the application mode (dev, prod) from within the build.sbt file?

Thanks,
Colin

[2014-10-08 18:34] jaceklaskowski opened #1651 "help inspect doesn't mention inspect actual"
Just found out about `inspect actual` as described in http://www.scala-sbt.org/release/docs/Inspecting-Settings.html#Actual+Dependencies:

Executing `help inspect` doesn't show it in the help, tough:

[code]

[2014-10-08 21:12] eed3si9n commented on #1650
Have you tried one of these options first, for Play support? - https://www.playframework.com/get-involved
Let me know if they sent you here.

[2014-10-08 22:03] eed3si9n commented on #1651
Sounds like a good issue to solicit PR from you.

[2014-10-08 23:16] antonkulaga opened #1654 "0.13.7-M3 does not resolve part of play2 dependencies"
Whenever I change sbt from 0.13.6 to 0.13.7-M3  in my project ( https://github.com/antonkulaga/scala-js-binding ) I get:
[warn]  ::::::::::::::::::::::::::::::::::::::::::::::
[warn]  ::              FAILED DOWNLOADS            ::
[warn]  :: ^ see resolution messages for details  ^ ::
[warn]  ::::::::::::::::::::::::::::::::::::::::::::::
[warn]  :: com.typesafe.play#play-json_2.11;2.3.0!play-json

[2014-10-08 23:21] jsuereth commented on #1654
These are the source + doc jars for play.  Are you forcing these things to be resolved in your dependency specification?

Also, it'd be nice to have  abit more of that failure message.

[2014-10-08 23:51] jsuereth commented on #1654
Additionally, I'm unable to duplicate:

[code]

[2014-10-08 23:54] jsuereth commented on #1648
Agreed.  Pull request to that effect welcome (and possibly not too hard to add).

[2014-10-09 03:28] MasseGuillaume opened #1655 "0.13.6 throws null pointer with macro paradise"
clone this https://github.com/MasseGuillaume/sbt-example-paradise

git@github.com:MasseGuillaume/sbt-example-paradise.git

sbt "core/run"

[2014-10-09 04:45] copumpkin commented on #1570
The UNC path support I put in there isn't quite right, and crashes, so I think I introduced a bug. I'll investigate, file a new bug, and try to fix it in the next couple of days.

[2014-10-09 05:32] kretes commented on #1648
I could try
9 paź 2014 01:54 "Josh Suereth" notifications@github.com napisał(a):

[2014-10-09 07:56] gkossakowski commented on #1655
Could you try 0.13.7-M3? What's the full stacktrace?

[2014-10-09 10:09] antonkulaga commented on #1654
Strange, I will check again when I will have time for this.

[2014-10-09 12:02] MasseGuillaume commented on #1655
trace for 0.13.6 =>

[code]

ibid for 0.13.7-M3

[code]

[2014-10-09 12:29] gkossakowski commented on #1655
@Duhemm, would you like to have a look?

[2014-10-09 12:41] Duhemm commented on #1655
I've discussed this issue with @xeno-by a few days ago and I think this is a bug in scalamacros/paradise.

I have a fix that simply ignores `TypeTree`s where `tpe == null`.

Shall I open a PR with it while the bug is not fixed in paradise ?

[2014-10-09 12:44] gkossakowski commented on #1655
Hmmm, I'd prefer not clutter our code too much if not absolutely necessary. If this is a bug in the paradise, I'd prefer it being fixed there. @xeno-by, what's your take on this?

[2014-10-09 12:44] gkossakowski commented on #1655
@Duhemm, also is there any work-around for people using paradise. E.g., manually setting tpe for TypeTrees?

[2014-10-09 12:52] Duhemm commented on #1655
That's why I didn't share this patch...

Not that I know of. I quickly showed Duhemm/macro-annotation (not sure about the name, I'm on my phone) to Eugene when I first encountered this bug and he couldn't tell me how to fix it either (my first guess was that the problem came from my macro).

[2014-10-09 13:37] dlpb opened #1656 "Update the Using Sonatype documentation to include a more comprehensive build.sbt example"
The page about using sonatype (http://www.scala-sbt.org/0.13/docs/Using-Sonatype.html) is great for getting started with publishing artefacts to maven, but it does not include information about how to set the artefact id, group id etc of the artefact that is produced.

The documentation should include reference to the organisation, name, etc keys with a reference to what they do.

e.g. organisatio

[2014-10-09 13:57] jsuereth opened #1657 "Add the ability for sbt to pull src/doc jars during update"
Instead of forcing users to use `updateClassifiers`, allow users to configure whether or not ivy will pull src/doc jars during regular update.

[2014-10-09 15:18] legartis opened #1658 "[MultiProjects issue] Play project with library subproject"
If I have spark project and I have some library sub project and build.sbt has lines:

[code]

It compiles project correctly, and can make a package for both, but port listening is not started. If I uncomment  enablePlugins(PlayScala), SBT can't compile projects at all(which, I believe, expected behaviour). It seems that it's an issue with sbt, that it can't start listening (or sbt-play plugin?)

[2014-10-09 17:05] eed3si9n commented on #1649
#1653 fixes simple `exclude` case. I'll keep this open for `excludeAll`. I don't know if I can get to ivyXML.

[2014-10-09 17:07] eed3si9n commented on #1639
Consolidated resolution is no more, but there's a subtle `force()` issue with cached resolution, so I'll re-use this case for that.

[2014-10-09 17:55] paddymahoney opened #1659 "0.13.7-M3 - memory leak, or large increase in memory usage?"
Within team, we run sbt with -mem set to 2048. Our team is not hitting OOM at this setting within sbt 0.13.5.

I double this when working on updating sbt versions; -mem 4096. I can confirm that the -Xmx is at 4096 when compiling.

Upon updating build.properties so that sbt.version=0.13.7-M3,
the following errors begin to occur:

[code]

This is without cached dependency resolution, or any changes

[2014-10-09 18:25] paddymahoney commented on #1659
launcher version is sbt 0.13.6.
sbt 0.13.6 - compilation is successful (with or without consolidated dependency resolution).

[2014-10-09 20:46] cnrudd commented on #1650
no, I had not.  I will give it a try.
Thanks!
Colin

[2014-10-10 00:03] rossabaker commented on #1649
Nice!  I figured the ivyXML would be very difficult.  I'd be happy to add a brief note in the docs about whichever exclude styles are left undone.

Is there something wrong with the nightly build?  The last I see is [September 23](http://repo.typesafe.com/typesafe/ivy-snapshots/org.scala-sbt/sbt-launch/).

[2014-10-10 00:07] eed3si9n commented on #1649
It seems Jenkins jobs have been failing.

[2014-10-10 04:04] everpeace commented on #1657
I would be happy if sbt could provide some way to pull all sources of transitive dependencies.

[2014-10-10 04:19] eed3si9n opened #1660 "updateClassifiers with cached resolution doesn't work"
## steps
1. turn on cached resolution.
2. call `updateClassifiers`
## problem

doesn't work.
## notes

there was a report of mima not working with consolidated resolution, so this could be related.

[2014-10-10 07:38] dispalt commented on #1616
This is effecting me as well, +1 to fixing it.

[2014-10-10 10:29] fernandoracca commented on #1612
+1. Source code available to navigate in Intellij is a plus. Is this to be fixed in sbt-idea as well or will it just work ?

[2014-10-10 12:09] xeno-by commented on #1655
This ExtractDependenciesByMemberRefTraverser, what does it traverse? Where does it get the trees to look into?

I don't remember this off the top of my head, but it might very well be that after expanding macro annotations, macro paradise saves the expansion into `MacroExpansionAttachment`. Naturally, the attachment will be unattributed, so if someone looks into it, they might find empty TypeTrees

[2014-10-10 12:09] xeno-by commented on #1655
@MasseGuillaume Disable name hashing, and you should be fine - crashes only happen when name hashing is turned on.

[2014-10-10 13:21] charlessimpson commented on #1616
@jsuereth Good to hear from you! Glad to see this bug landed in capable hands.

I left APL a couple of years ago and am now working for a small company. Let me know if there's any other information that could help you with this bug.

[2014-10-10 13:22] jaceklaskowski opened #1661 "reflective compilation has failed: '=' expected but eof found in 0.13.7-M3"
It appears that defining multiple projects in a single line `lazy val a, b = project` is broken in 0.13.7-M3. It works fine in 0.13.6 (and I'm sure worked fine in 0.13.7-M3 today, but just out of the sudden stopped).

The messages are:

[code]

When I change `project/build.properties` to `sbt.version=0.13.6` it works fine.

[2014-10-10 13:27] jsuereth commented on #1661
Thanks for the report.

[2014-10-10 16:03] joetempleman commented on #1442
Hi, I tried this solution and it didn't work, my build.sbt has the last line as:

[code]

But it comes back with the error:

[code]

Sorry if this is a stupid question, I'm pretty new to scala

[2014-10-10 16:23] jsuereth commented on #1442
@joetempleman `set` is a command in the sbt shell.   If it's in your `build.sbt` file you want just:

[code]

[2014-10-10 17:02] jsuereth commented on #1661
Looks to be an issue with range posiitons, i.e.

[code]

Going to ping @dragos for some ideas on ways to fix this besides getting the "reparse" hackery to also handle this case.

[2014-10-10 17:23] dragos commented on #1661
I'd need a bit more context. What is `orig`? How can I reproduce it?

[2014-10-10 17:39] jsuereth commented on #1661
Ok,s o I think we're going to add an error message which deprecates this kind of syntax, as it opens up a  HUGE can of worms in the architecture of using hte scala parser to chunk strings.  One which we can't realistically tackle.

Instead we'll be issuing an appropriate error message here about how this syntax is not supported.  You _Can_ work around this by using the following:

[code]

Which wi

[2014-10-10 21:20] jaceklaskowski commented on #1661
I'm glad it's nailed down and ultimately fixed, but sad that such a nice feature of sbt to define many projects in a single line got disabled.

[2014-10-10 21:24] eed3si9n commented on #1661
I personally think the `val a, b = project` makes it hard to understand what's going on, and given `project` would return different objects in this context, it's somewhat evil syntax of Scala.

[2014-10-11 06:42] dragos commented on #117
Same bug, see for instance: [#1002004](https://www.assembla.com/spaces/scala-ide/tickets/1002004#/activity/ticket:)

[2014-10-12 06:41] jroper commented on #753
Somewhat related to this (this would be a possible solution).  The sbt documentation is currently wrong - it says that generated sources should be in a sub directory under `sourceManaged`.  But it treats `sourceManaged` as the root directory for compilation.  This is irrelevant for scala files, since the directory structure of scala files does not need to match the package structure.  But for Java

[2014-10-12 06:51] jroper opened #1664 "Sort out situation for managed Java sources"
The sbt documentation [says](http://www.scala-sbt.org/0.13.2/docs/Howto/generatefiles.html):

This works fine for generating Scala sources, but not generating Java sources.  The reason is, the Java compiler needs a concept of a compilation root directory, and the one that sbt gives it for all sources in `sourceManaged` is `sourceManaged`, not sub directories of `sourceManaged`.  Since the Java pac

[2014-10-12 10:16] godenji commented on #413
So, I've tried `update` on 0.13.6 withConsolidatedResolution and withLatestSnapshots settings, times are roughly the same, perhaps slightly faster.

I am building Play's stable 2.3 branch from source (not 2.4 master), which is tagged as a snapshot build. Are the resolution time improvements exclusive to _non-snapshot_ projects?

The best fix in this thread has been `aggregate in update := false`,

[2014-10-12 10:27] behrad commented on #499
Can someone elaborate on this?
https://github.com/hawtio/hawtio/issues/122#issuecomment-58786410

[2014-10-12 16:01] #1639 closed, assigned to nobody

[2014-10-12 16:01] #1649 closed, assigned to eed3si9n

[2014-10-12 16:01] #1660 closed, assigned to nobody

[2014-10-12 16:38] jsuereth commented on #1664
This may be something for sbt/website, but let's look at the build itself, as I think we're weak in Java setup.

[2014-10-12 16:38] eed3si9n opened #1666 "[0.13.7] Natural whitespace parsing breaks XML"
Found using community-build - https://jenkins-dbuild.typesafe.com:8499/job/Community-2.11.x-manual/56/console
## steps

[code]
## problem

[code]
## notes

Scala allows series of XML nodes as NodeSeq.

[code]

/cc @ajozwik

[2014-10-12 16:41] jsuereth commented on #1658
Can you define more what you mean by "port listening"?   How aer you running to get port listen?

[2014-10-12 16:43] ritschwumm commented on #1666
hm.. i'd just use xml:group and remove that "feature" from scalac...

[2014-10-13 01:24] MasseGuillaume opened #1667 "append unmanagedResourceDirectories crash compiler"
[code]

[code]

[code]

[2014-10-13 01:27] MasseGuillaume commented on #1667
[code]

yield similar compiler crash

[2014-10-13 01:28] MasseGuillaume commented on #1667
sbt.version = 0.13.6

[2014-10-13 01:33] MasseGuillaume commented on #1667
hum everything in the form

[code]

crashes

[2014-10-13 01:42] MasseGuillaume commented on #1667
hum I had range position scalac options turned on (-Yrangepos).

[2014-10-13 10:13] dvorobiov opened #1668 "Dependency resolution fails for compiler-interface-0.13.5.jar"
Hi,
We are using Scala 2.10 and latest sbt that require the following dependency:
https://repo1.maven.org/maven2/com/typesafe/sbt/compiler-interface/0.13.5/compiler-interface-0.13.5.jar
Currently that file is missing in maven.

Cheers!

[2014-10-13 10:53] legartis commented on #1658
To run the project:
sbt run / activator run

Port listening - as I write Play application, I need to run it. That mean I
need to be able to run an http service an get response from my service. To
do that I need to execute command, I've mentioned in the first line.

Please do not hesitate to ask me if you have any other questions.

Thank you,
Igor
On Oct 12, 2014 7:41 PM, "Josh Suereth" notificatio

[2014-10-13 20:34] #1668 closed, assigned to nobody

[2014-10-13 20:38] EECOLOR opened #1670 "`compile` is executed for `discoveredSbtPlugins` when the project is not a plugin"
The code that causes it is in `Defaults.scala`:

[code]

This task is depended upon by the `resourceGenerators` task.

Workaround (for a non plugin project):

[code]

[2014-10-14 06:33] gcuisinier commented on #963
thanks for your issue, I'am not a expert in SBT.
Can you provide a small project to reproduce the problem?

[2014-10-14 10:53] RichardBradley opened #1673 "Multiple parallel compilation processes cause "Could not create directory ...classes.bak""
It seems like there is a race condition in SBT which is triggered only by plugins that cause multiple compilation processes to run in parallel.

See:
- https://github.com/typesafehub/sbt-multi-jvm/issues/15
- https://github.com/scoverage/sbt-scoverage/issues/47

I'm trying to figure out what is going wrong in these cases, to see if there is a workaround other than `parallelExecution in Global := f

[2014-10-14 18:42] LeftenantZero commented on #1181
Just ran across this error after I accidentally added an "s" after one of 17 dependencies in a 50+ line build.sbt while tabbing through files in my IDE.  (So dependency became:, "org.scalaz" %% "scalaz-core" % "7.1.0"s)

It's not too hard to figure out error is caused by some kind of error in project configuration and back our recent changes to troubleshoot or something like that, but this message

[2014-10-14 23:07] woky opened #1674 "Scala source presence breaks Java 8 source compilation"
Hello.

I wanted to use Java 8 default interface method in my mixed Java/Scala project.

[code]

However I encountered weird Java compiler error:

[code]

After some experimenting I noticed this happens only when there are Scala sources present in the project. If there are none, the Java compilation succeeds.

I've created repository with test.sh script demonstrating this bug: https://github.com/w

[2014-10-14 23:49] coryfklein opened #1675 "Getting started example from official tutorial doesn't work"
The [official tutorial in the docs](http://www.scala-sbt.org/0.13/tutorial/Hello.html) gives this example:

[code]

However, when I try to do this, this is what I get:

[code]

Here is my sbt version:

[code]

[2014-10-15 05:41] wedens opened #1676 "SNAPSHOT dependency with classifiers not updated"
Ref #641

sbt version: 0.13.5
1. old version of dependency in local ivy cache
2. publish updated dependency to nexus repository
3. sbt update
4. cache still contains old version

Dependency declared like:

[code]

from `sbt last`:

[code]

[2014-10-15 07:43] eed3si9n commented on #1676
Could you try sbt 0.13.6? There's been fix on SNAPSHOT handling.

[2014-10-15 08:18] eed3si9n commented on #1675
Works on my machine. How did you install sbt, and what does the script look like?

[2014-10-15 08:28] wedens commented on #1676
same problem :disappointed:

[2014-10-15 08:37] eed3si9n commented on #1674
In order to mix Java and Scala compilation scalac needs to parse the Java code.
As of Scala 2.11, the Scala compiler does not support parsing of Java 8 source code.

[2014-10-15 08:37] #1674 closed, assigned to nobody

[2014-10-15 08:45] eed3si9n commented on #1676
Do you see the same behavior without `classifier "assembly"`?

[2014-10-15 08:47] eed3si9n commented on #1667
So is this issue to do with sbt or range position?

[2014-10-15 08:51] wedens commented on #1676
No. I validated it again and problem appears only with classifier.

[2014-10-15 10:24] dragos commented on #1655
Here's a debugging session of what's happening. Notice that _all_ trees have null types at the time when dependency extraction gets to run. @xeno-by, is there some cleanup phase in macro paradise that should run **before** dependency extraction?

[code]

[2014-10-15 11:40] gkossakowski commented on #1674
See the Scala issue https://issues.scala-lang.org/browse/SI-8355

[2014-10-15 12:39] MasseGuillaume commented on #1667
@eed3si9n with sbt when range position is On

https://github.com/MasseGuillaume/ScalaKata/tree/develop/Plugin

[2014-10-15 14:56] xeno-by commented on #1655
How does SBT get hold of `new hello().macroTransform(...)`?

[2014-10-15 15:15] dragos commented on #1655
Probably by handling [MacroExpansion](https://github.com/sbt/sbt/blob/0.13/compile/interface/src/main/scala/xsbt/Dependency.scala#L149). @gkossakowski can explain better what he's after.

[2014-10-15 15:24] Duhemm commented on #1655
Macro paradise does not attach any `MacroExpansionAttachment`, so it won't get in this block.

@xeno-by we discussed the origin of this problem last week, do you think that my previous "analysis" of the problem was wrong ?

[2014-10-15 16:05] coryfklein commented on #1675
I installed with `brew install sbt`.

Here's the output of `sh -x sbt`

[code]

It appears to be looking for `~/.sbtconfig`, but that file doesn't exist. Might that be the problem?

What script?

[2014-10-15 16:13] coryfklein commented on #1675
Ah, I just read [this](https://github.com/sbt/sbt/blob/0.13/CONTRIBUTING.md). I am closing this issue and will look for resolution on stackoverflow and the sbt-dev group.

[2014-10-15 16:13] #1675 closed, assigned to nobody

[2014-10-15 16:19] coryfklein commented on #1675
[Here](http://stackoverflow.com/questions/26372157/export-usage-error-when-doing-example-from-sbt-docs) is the SO question

[2014-10-15 18:55] woky commented on #1674
Sorry, I should've searched more first. Adding

`compileOrder := CompileOrder.JavaThenScala`

to build.sbt fixed it for me.

[2014-10-15 20:00] xeno-by commented on #1655
It looks like I actually misled you. Paradise does attach this attachment, because expansion of macro annotations is retrofitted onto the infrastructure that expands def macros (hence the `new annot().macroTransform(...)` thingie in the code).

What I can do is not attaching anything when expanding annotations. That shouldn't be very hard to implement in paradise. Alternatively, we can keep the at

[2014-10-15 20:56] dragos commented on #1655
@Duhemm, the stack trace is pretty clear on that.

@xeno-by, my preference is to harden Sbt in the event that macros can break this assumption, and it would also fix #1593, which so far isn't directly linked to a macro. But @gkossakowski has the final say.

[2014-10-16 05:05] andrewconner opened #1677 "[0.13.7] Cached resolution with ModuleID with `from` clause causes error"
Unfortunately I haven't minimized the issue(s) yet, but since you guys [encouraged the report](https://twitter.com/scala_sbt/status/522475544131424258), I have a project that's failing to update / compile in sbt 0.13.7-M3 (currently on sbt 0.13.6). If the problem isn't immediately apparent, I'll try to minimize the issue this weekend to have a more descriptive and useful issue.

With  `updateOptio

[2014-10-16 05:07] eed3si9n commented on #1677
Thanks for the report!

[2014-10-16 08:28] fommil opened #1678 "test running before classfiles flushed to disk"
One of our tests https://github.com/ensime/ensime-server/blob/master/src/test/scala/org/ensime/indexer/SearchServiceSpec.scala

fails about 10% of the time when typing `test` in sbt whereas it always succeeds when doing a two phase `test:compile`, then `test`.

This test is relying on the `.class` files of the project being flushed to disk before running (it's indexing them to test the search func

[2014-10-16 11:28] ghost opened #1679 "0.13.7-M3 + Play 2.3.5 + withCachedResolution"
Not sure if I should post here or at the playframework project.

Sbt: 0.13.7-M3
Scala: 2.11.2
Play: 2.3.5

[code]

Throws exception;

[code]

[2014-10-17 18:40] eed3si9n commented on #1678
Since we do caching and parallel processing, I don't doubt that it's possible, but if this is happening wouldn't there be more reports on NoClassFoundException?

[2014-10-17 18:42] eed3si9n commented on #1679
Seems like a regression on sbt. Thanks for the report!

[2014-10-17 19:24] fommil commented on #1678
yeah, it's a weird one. When running a test, are you doing any analysis about which classes must be compiled for a test to be able to run? We're parsing `.class` files that we don't depend on (from a compilation point of view).

[2014-10-18 07:22] eed3si9n commented on #1678
Not specifically for testing, but the incremental compiler's logic sounds similar to what you're describing. But as far as I know the `test:compile` task _should_ be done by the time it does testing. It is possible that there's some loose thread that hasn't caught up in closing file or something.

[2014-10-18 10:11] eed3si9n commented on #1679
I could not reproduce this. What's weird is the "module in use" you quoted:

[code]

is much shorter than the one my project produced, which includes

[code]

I wonder if there's some mixup in the way sbt is calculating the direct dependencies.
Do you happen to have any other project on your machine that uses akka actor and reactivemongo?

[2014-10-18 20:51] bandrei opened #1681 "sbt console breaks xterm mapping for backspace"
operating system: arch
terminal: xterm

running sbt and then typing run in a project and closing sbt breaks the mapping for the backspace key.
When pressing backspace `^H` shows on the console.

Could it be that it overrides `xterm*backarrowKeyIsErase: true` in Xdefaults or something?

[2014-10-18 21:18] #1677 closed, assigned to nobody

[2014-10-19 00:10] EECOLOR commented on #1448
Awesome! The plugin works very well. My brain tripped on the dog and `very` `much` `so` `such`, but I soon realized I could add another alias:

[code]

[2014-10-19 18:26] johanandren opened #1682 "Allow lists of settings without unfolding"
A lot of plugins (and local project configuration) provides a list of settings, when adding those to a Project those lists needs to be unfolded into the settings method, like this example with the sbt-native-packager:

[code]

When doing a sbt workshop with the Scala usergroup here in Stockholm, this was something a lot of people stumbled upon, should be pretty non-invasive to add a settings that

[2014-10-19 18:28] johanandren commented on #1682
Sorry, missed the part in CONTRIBUTING about asking on sbt-dev first.

[2014-10-20 19:26] jasonchaffee commented on #1679
I am seeing same types of issues with some of my projects, but failing on different dependencies.  It seems when I set withCachedResolution to true, the dependency graph ends up being different then if I set it to false.  I haven't debugged much on it to this point, but it definitely causes the dependency resolution to change whereas I would expect it to be the same, just cached.

[2014-10-20 19:58] jasonchaffee opened #1684 "[0.13.7-M3] cached resolution does not respect dependencyOverrides"
## steps
1. Make a build that uses `"net.databinder" %% "unfiltered-uploads" % "0.8.0"` (this brings in commons-io 1.4) with cached resolution enabled, and resolve it.
2. Make another build that uses `"net.databinder" %% "unfiltered-uploads" % "0.8.0"` with cached resolution enabled and the following overrides:

[code]
## problems

Resulting classpath includes commons-io 1.4.
## expectation

When

[2014-10-20 20:11] jasonchaffee commented on #1684
Also, I added a nice HTML diff page that shows the differences a little better.  If you clone the repo, you will be able to access it.

git@github.com:jasonchaffee/sbt-1684.git

[2014-10-20 20:13] eed3si9n commented on #1684
Thanks for the report. It would be helpful if you could come up with a small example that can demonstrate the discrepancies. Is it mostly around overrides?

[2014-10-20 20:32] jsuereth commented on #1682
Yes. I'm going to close for a discussion in sbt-dev.

Basically, the reason `settings` HAS to be the varargs i because you can't overload with Seq[Setting[_]] thanks to how scala encodes varags.

However, an alternative would be ok, IMHO.   Let's discuss on sbt-dev.

[2014-10-20 20:32] #1682 closed, assigned to dwijnand

[2014-10-20 20:33] jsuereth commented on #1681
Jline is doing some interesting things with xterm.   You should check out everything that happens here, as sbt will call "Terminal.reset" on jline, which IIRC changes the echo characters, among other things.

[2014-10-20 21:38] jasonchaffee commented on #1684
I will see about getting something more concrete.  However, I know it is causing different resolutions if you don't use overrides as well, but if you use overrides they don't seem to be honored.

[2014-10-21 12:48] eed3si9n commented on #1684
I'm commandeering this issue for `dependencyOverrides` since it was clear cut to reproduce it. Please open another issue when you find discrepancies that does not involve overrides.

[2014-10-21 13:53] alexeyr opened #1685 "Broken links in "Running Project Code" docs"
http://www.scala-sbt.org/release/docs/Running-Project-Code.html gives two example links for "the deserialization code avoids ensures that the right class loader is used". Both are currently broken.  "avoids" should be removed from that sentence as well.

[2014-10-21 16:19] #1661 closed, assigned to nobody

[2014-10-22 00:00] PatrickSauts commented on #1616
+1

[2014-10-22 00:06] lab3 opened #1688 "Running test in non forked mode doesn't release static objects"
1. Start sbt in interactive mode.
2. Run test
3. Static objects in the app are created and never released when the test finishes
4. Run test
5. Static objects in the app are created and never released when the test finishes

At this point you have 2 copies of all statics alive in sbt's jvm.

[2014-10-22 00:29] MasseGuillaume commented on #1688
by static objects do you mean:

[code]

[2014-10-22 01:06] lab3 commented on #1688
That is exactly what I mean.

[2014-10-22 10:14] dragos commented on #1593
New report via @patriknw:

[code]

[2014-10-22 10:18] dragos commented on #1593
@gkossakowski This seems to be more common that initially thought. We need to fix this at some level.

[2014-10-22 13:17] patriknw commented on #1593
I get this a lot now in Eclipse with latest 4.0 RC1, in various projects. Also when running Eclipse with JDK 1.7

[2014-10-22 13:25] dragos commented on #1593
@patriknw can you check if name hashing is enabled? If yes, I think disabling it should work around this bug.

[2014-10-22 13:28] dragos commented on #1593
Info gathered yesterday during a debugging session:

The NPE comes from a `TypeTree` with its `tpe` being `null`. This `TypeTree` is the `tpt` of a `DefDef` of an object constructor. My guess is that that particular type tree is never inspected in the backend, since it's not useful: Scala pretends the return type of a constructor is the enclosing class itself, while at the JVM level constructors a

[2014-10-22 13:40] patriknw commented on #1593
I used name hashing. Disabled that now. Right now no errors, but no class files in output directory, which is even worse.

[2014-10-22 14:43] gkossakowski commented on #1593
I checked implementation of `TypeTree` in a compiler. From what I saw the `tpe` should never be null after typechecking so the NPE here is a bug in Scala compiler.

However, given we have a hard time reproducing it (and understanding it) then I think inserting an explicit null check is a good workaround. Still, the best would be to track down the root cause of the problem. We've done this in the p

[2014-10-22 16:23] vr2013 commented on #358
Hi guys,
I installed the most recent play activator (1.2.10) and I am getting this error while running my test app.
java.lang.UnsatisfiedLinkError: Could not load library. Reasons: [no leveldbjni6
4-1.7 in java.library.path, no leveldbjni-1.7 in java.library.path, no leveldbjn
i in java.library.path, C:\Users\myuser\AppData\Local\Temp\leveldbjni-6
4-1-4954089879853047029.7: Can't find dependent li

[2014-10-22 17:23] paddymahoney commented on #1659
Just checked my incOptions - nameHashing is on for all projects including root.

[2014-10-23 07:53] adriaanm commented on #1593
Iulian's constructor hypothesis makes a lot of sense. If this is the case, the only solution I see is to defend against null in sbt.

[2014-10-23 11:35] #1684 closed, assigned to nobody

[2014-10-23 13:44] briantopping commented on #1589
Resolving this issue with PR merged to master.

[2014-10-23 13:44] #1589 closed, assigned to nobody

[2014-10-24 01:01] thunterdb opened #1689 "Incorrect incremental compilation output after heavy use"
I had some code that essentially boils down to this:

[code]

It seems the specs make this code legitimate and the expected output is:

[code]

After a heavy session of sbt + intellij that involved switching git branches and rewriting the internals of the `f` functions, I ended up with a binary that produced `(new Y).f() == "X"` every time. Restarting sbt and calling `sbt clean compile` produced t

[2014-10-24 10:31] vigoo commented on #1655
Possible related issue: https://github.com/vigoo/scalafxml/issues/13

[2014-10-24 10:32] xeno-by commented on #1655
Allright guys, is there any news? What do we do about this?

[2014-10-24 15:56] eed3si9n commented on #1673
Isn't this a bug in sbt-multi-jvm?

[2014-10-24 15:59] jsuereth commented on #1688
Sbt caches the classloaders used for tests.   The memory won't be cleaned until the classloader is evicted, which may not be immediately, given how GC is indeterminent.

ALSO there is an issue in Java where classloaders aren't cleaned appropriately due to finalizers.  As a workaround, you should be able to force System.runFinalization and System.gc after test.  We don't' do this by default, becaus

[2014-10-24 16:03] jsuereth commented on #1689
cc @gkossakowski

[2014-10-24 16:19] RichardBradley commented on #1673
No, the above stack trace is from a system without `sbt-multi-jvm` installed.

It seems like `sbt-scoverage` and `sbt-multi-jvm` have encountered the exact same bug, without sharing any code (other than `sbt` itself).

That suggests to me that either there is some race condition in `sbt` that only these two plugins are encountering, or that they have both made the same mistake in usage.

If you kn

[2014-10-24 16:21] eed3si9n commented on #1673
/cc @gkossakowski

[2014-10-24 16:34] gkossakowski commented on #1673
The stracktrace suggests that you are trying to run two `compile` tasks in parallel on exactly the same project. Nothing good can come out of that. Why this is being done?

PS. From initial inspection, I don't think this is incremental compiler specific. It just compilation takes a long time so races are easiest to encounter when running `compile`.

[2014-10-24 16:40] RichardBradley commented on #1673
My guess would be that `scoverage` is asking SBT to compile the classes with instrumentation, and SBT is scheduling that work in parallel with the regular compile as it doesn't know that they are mutually exclusive.

How can we tell SBT not to do the tasks in parallel? I guess we need to "tag" the tasks, as per [http://www.scala-sbt.org/0.13/docs/Parallel-Execution.html](http://www.scala-sbt.org/0

[2014-10-24 16:50] gkossakowski commented on #1689
Where the `(new Y).f() == "Y"` is stored? In some other source file than `X` and `Y`?
I haven't seen report with similar code pattern to what you described. You have number of things here: inheritance, default arguments, overloaded methods. I believe all of those Scala features are covered very well in current incremental compiler design and implementation. Without a reproduction it's going to be

[2014-10-24 16:55] gkossakowski commented on #1655
@xeno-by, regarding your comment above. Do you attach untyped trees as an `MacroExpansion` attachment?

[2014-10-24 18:16] jvanz opened #1690 "Unresolved dependencies"
Hi

I'm trying the compile the [spark-cassandra-connector](https://github.com/datastax/spark-cassandra-connector), more especially the the tag v1.0.3. But every time I try compile the sbt shows the following problem:

[code]

I installed the scala and sbt using yum and there is no changes in the sources. What is wrong with my environment?

[2014-10-25 02:34] mdedetrich opened #1691 "Fasttrack version bump of SBT to Scala 2.11.x"
This is more of a general discussion in regards to getting SBT to bump their Scala version to 2.11.x faster than what the apparent timeline is.

This is mainly in regards to the case class 22 arity limit. Normally this isn't an issue for standard scala code, because there is much more control over the version of the Scala compiler and ways to work around that, however with SBT we are essentially j

[2014-10-25 03:21] eed3si9n commented on #1691
I happen to be a committer of both sbt and scalaxb, but I don't think sbt going to 2.11 is going to help or hinder scalaxb since it just generates `String` without using Scala's AST.

[2014-10-25 07:28] xeno-by commented on #1655
@gkossakowski Yes. Arguments to macro annotations are untyped, so that's what's attached.

[2014-10-25 18:45] jsuereth commented on #1690
I hate to do this, but could you snipe the ivy cache of the dependencies which are complaining?  Specifically, there should be a directory for both of those libraries.

Basic gist:
- Ivy attempts to convert Maven POM.xml files into ivy.xml files.
- We recently "fixed" some of this translation, where Ivy would "leak" configurations from maven all over the place
- While this _shouldn't_ be the case,

[2014-10-25 19:04] isomarcte commented on #1592
I am still getting this exact issue on sbt 0.13.7-RC1. It was my understanding that it was fixed after the 0.13.7-M1 release. Is that correct?

[2014-10-25 21:21] erikkaplun opened #1696 "Resolvers doc out of sync: bintrayRepo and jcenterRepo don't exist"
The doc at http://www.scala-sbt.org/0.13/docs/Resolvers.html has:

However, these do not seem to exist in reality:

I haven't checked the rest of the helpers.

[2014-10-26 00:19] jsuereth commented on #1696
Which version of sbt are you using?

[2014-10-26 00:19] erikkaplun commented on #1696
0.13.6 (sorry, should've mentioned)

[2014-10-26 01:12] jsuereth commented on #1696
Can yu try sbt 0.13.7-RC1

[2014-10-26 09:21] erikkaplun commented on #1696
Actually before it even gets to the `build.sbt` part, I get:

[code]

[2014-10-26 14:09] He-Pin opened #1697 "High CPU usage on sys.exit while Akka project `run` task (and it doesn't exit)"
I found this issue when I was writing an akka REPL,when I run the program via `sbt run`,and then call `sys.exit()` in an actor;will cause cpu 100%
code like this below
in an actor onReceive block

[code]

[2014-10-27 10:46] ghost commented on #1679
Good point @eed3si9n. I had some dependencies in my project and seems I didn't test it quite well. Did a rerun and incrementally added some of our dependencies. I found out that;

`"net.logstash.logback" % "logstash-logback-encoder" % "1.3"` was causing the trouble. Upgraded to 3.3 and it was fixed.

[2014-10-27 10:54] jvanz commented on #1690
Actually I already have tried to delete my cache ( .sbt and .ivy2 ) but the problem persist.
My current cache directories ( .sbt and .ivy2 ) are: https://gist.github.com/guilhermesft/55b01ab3c0baf0955ec0
Is this what all do you need? How can I help you to solve the problem?

[2014-10-27 13:47] jsuereth commented on #1690
hmm, I'm getting this locally:

[code]

Now, I just bumped to sbt 0.13.7-RC1 and our fixes here appear to have worked. However, you have to delete the cache beause the failed parent-download will actually CORRUPT your ivy cache, and it's hard for us to detect/remove that automatically (yay ivy).

[2014-10-27 18:20] salanki commented on #1673
I'm constantly hitting this with sbt-scoverage as well. Adding "parallelExecution in ScoverageTest := false" does not work as a workaround. Just a FYI.

[2014-10-28 02:51] cb372 commented on #1673
+1 my Jenkins builds at work are failing randomly due to this bug, probably because of Scoverage

[2014-10-28 14:04] jsuereth commented on #1696
Hmm, this looks like a binary compatibility issue with 0.13.7-RC1 and the wart remover plugin.  Let me investigate that one.

[2014-10-28 14:22] jsuereth commented on #1696
Hmm, that incompatibility existed in 0.13.6, so I'm curious how you're only hitting it now....

[2014-10-28 14:30] eed3si9n commented on #1697
Related #1293

[2014-10-28 14:31] jsuereth commented on #1697
Are there any threads running when you call sys.exit?

Because sbt does not fork, it has special code to avoid having sys.exit crash the build itself.  Also, this spinning is because sbt is waiting for all generated threads in `run` task to be shut down before it returns.

As a workaround you can set `fork in (Compile, run) := true` and you should be good to go.

[2014-10-28 14:34] He-Pin commented on #1697
yes,cause I call sys.exit in an actor
so ,seems this could close for now?thanks

[2014-10-28 14:34] dwijnand commented on #1696
Doh, having just fixed it.. oh well :)

https://github.com/typelevel/wartremover/issues/123

[2014-10-28 14:45] He-Pin commented on #1697
when I turn to using fork.it become OOM
seems it fork to many instance.

[2014-10-28 14:58] jsuereth commented on #1697
OOM? huh.... would like to learn more.  We'll try to help anyway we can.

[2014-10-28 15:37] He-Pin commented on #1697
yes,I am running a akka system, after I add the `fork` in the sbt,sbt start to many instance,and finally ,OOM at java heap

[2014-10-28 16:09] jsuereth commented on #1697
So somehow `run` is forking a whole bunch of new instances... that sounds wrong/bad.  Any chane you can show us a log?

[2014-10-28 16:14] He-Pin commented on #1697
maybe I could show up a simple project:P,cause current with to many noise

[2014-10-28 16:30] jsuereth commented on #1697
would be great

[2014-10-28 16:32] eed3si9n opened #1699 "cached resolution is picking non-latest winners on conflict"
originally reported by @fommil in sbt-dev [user caching of resolution results?](https://groups.google.com/d/msg/sbt-dev/XEPDaXVug7Q/32ymVIDycfsJ)
## steps

https://github.com/fommil/ensime-server/tree/sbt-speedup
From sbt, run `debug`,  `update` once, then, `show update` for the second time.
## problem

[code]

See https://gist.github.com/eed3si9n/1a1eac83da82037a963d for full log.
## expectation

[2014-10-28 17:54] eed3si9n commented on #1699
Ivy seems to be adding `force="true"` when it translates from pom to ivy.xml - https://repo1.maven.org/maven2/org/scala-refactoring/org.scala-refactoring/0.6.1/org.scala-refactoring-0.6.1.pom

[code]

[2014-10-28 18:22] #1679 closed, assigned to nobody

[2014-10-29 00:19] lloydmeta commented on #1673
:+1: me as well.

[2014-10-29 02:50] #1699 closed, assigned to eed3si9n

[2014-10-29 09:03] timcharper opened #1701 "sbt test classLoader does not get compiler output classes in class-path when non-standard output folder is used"
When I specify a different target output folder, such as:

build.sbt

[code]

I get the following:
- I can compile my application
- I can run my application
- I can instantiate my test-suite classes from test:console
- Running `test` / `test-only` cannot see the compiled test classes, results in:

[code]

The following patch to [TestFramework.scala](https://github.com/sbt/sbt/blob/v0.13.7-RC1/test

[2014-10-29 09:47] He-Pin commented on #1697
After I try a simple akka project,your advice of add `fork` works.the only different in my project is that I create a module which has actor via reflection.I will learn more about it.

[2014-10-29 14:53] xuwei-k commented on #1673
+1

[2014-10-29 15:13] eed3si9n commented on #1673
In most cases, shouldn't the `compile` task use as many CPU cores as possible to compile as many things it can in parallel?

If there's a race condition on a task, ideally we should look into separating the resource contention (like creation of a directory) rather than reducing parallelism.

[2014-10-29 15:20] gkossakowski commented on #1673
@eed3si9n, incremental compiler (and Scala compiler) is single threaded so `compile` should use one CPU core. My impression is that you get race condition because you are asking to do the same work twice and you get two threads stepping on each other.

[2014-10-29 15:32] eed3si9n commented on #1673
@gkossakowski In this case, I'm talking about multiple executions of `compile` tasks against different targets like configuration or subprojects. Does compiler being single-threaded preclude multiple executions of `compile` in general?

[2014-10-29 15:38] gkossakowski commented on #1673
You can compile separate sources into separate target directories as long as you use separate `Global` instances. Incremental compiler takes care of that.

[2014-10-30 18:04] dpratt opened #1704 "Custom ivyXML not respected with cached resolution"
A couple of my builds use a custom ivyXML setting to do explicit global excludes for unwanted transitive dependencies. For example, I do a global exclude of log4j, commons-logging, and a few other things not needed by my project. It looks like this isn't being respected when cached resolution is used. I'm not terribly surprised by this, since adding custom stuff to the ivy descriptor is certainly

[2014-10-30 21:00] jasonchaffee opened #1705 "[0.13.7-RC1] duplicate mappings error with cachedResolution set to true"
I get the following error in a play application when using cachedResolution:

[code]

Also, I noticed the resolution isn't picking the correct version of webjars either.  I don't if this is related to the duplicate mappings or not, but I thought I would mention it here in case it is.

With cacheResolution set to false, I see this output:

[code]

With cacheRsolution set to true, I see this output:

[2014-10-30 21:07] eed3si9n commented on #1705
Could you try RC-2 that just came out?

[2014-10-30 21:09] eed3si9n commented on #1691
The Scala version being used by sbt only effects Scala written in plugins and build files.

[2014-10-30 21:09] #1691 closed, assigned to nobody

[2014-10-31 01:37] benmccann opened #1706 "SBT console disappears due to race condition"
I've created a [repository that reproduces this bug](https://github.com/benmccann/sbt-test-console-repro).

The console prompt should reappear when the tests have finished running:

[code]

However, due to this bug, often times you won't see the prompt appear after the tests have run:

[code]

This is super annoying because it happens to me nearly every time I run my tests making me constantly kil

[2014-10-31 07:13] timcharper commented on #1701
@jsuereth - can you comment on my patch ? I've been running it for a few days and it seems to work okay. I'd like to understand more the reasoning for the `filterByClasspath` call.

Happy to send a pull request, but I don't feel like I fully understand the issue quite yet and could use some help understanding.

[2014-10-31 07:33] timcharper commented on #1701
This fixes problems when using an alternative `classDirectory in Test` setting, also.

[code]

[2014-10-31 08:02] timcharper commented on #1701
I've pushed a commit: https://github.com/SpinGo/sbt/commit/d866439fe74239977e0f1263db5ae8a908a7d9ee

[2014-10-31 12:51] paddymahoney commented on #1659
This looks to have subsided after moving to play 2.3.6 - the fix for the NullPointerException in chain resolution was likely the solution.

[2014-10-31 12:51] #1659 closed, assigned to nobody

[2014-10-31 14:18] erikkaplun opened #1707 "[error] impossible to get artifacts when data has not been loaded"
This is what I'm getting after upgrading to 0.13.7-RC1:

There have been no other changes to the SBT build other than `project/build.properties` being updated for SBT 0.13.7-RC. Downgrading to 0.13.6 resolves the issue.

The project's `scalaVersion` is 2.11.4 in case this is relevant.

[2014-10-31 16:56] andrewconner opened #1708 "[0.13.7-RC2] Snapshot update regression?"
Been periodically checking 0.13.7 releases against our 0.13.6 build, and it seems like there's a regression in update performance, likely related to SNAPSHOT releases.

For all sub-projects, I have:

[code]

This is the console output after starting sbt (after compiling and quitting) — i.e., not a cold session.

[code]

0.13.6 certainly didn't take 97 seconds to update. `updateOptions.value.withLa

[2014-10-31 17:28] eed3si9n commented on #1708
Was this the first time you ran update on the project with cached resolution?
Cached resolution independently resolves all direct dependencies separately, so the first update is probably really horrible, but it should make the second run onwards much faster.

[2014-10-31 17:29] eed3si9n commented on #1707
Could you try with 0.13.7-RC2 please?

[2014-10-31 17:32] eed3si9n commented on #1706
Thanks for the repro project, Ben. It's using 0.13.6, but do you know roughly when this started to happen? Has this always been the case with sbt?

[2014-10-31 17:53] andrewconner commented on #1708
That was actually the third or fourth time in a row I ran it. However, I did it again just now, and it was _better_, but still over 20 seconds. Interesting, because the previous ones had all been over a minute.

[code]

Is ~20ish seconds expected for a larger project?

[2014-10-31 17:53] benmccann commented on #1706
Hey @eed3si9n. Thanks for taking a look at this. It hasn't always been a problem for us. I'd say it's been happening the past few months. I'm not exactly sure when it started happening, but one theory I just came up with is that it started when we added some [new test options that @jroper recommended to change the test output](https://groups.google.com/d/msg/play-framework/WiqpjWZ_Qt0/DRL50lTtqUcJ

[2014-10-31 19:31] #875 closed, assigned to nobody

[2014-10-31 19:31] #1542 closed, assigned to nobody

[2014-10-31 20:17] eed3si9n opened #1710 "force from a module can mutually evict all versions in cached resolution"
## steps

define a project X1 that uses library Y1 and Y2 and use cached resolution.
- both Y1 and Y2 includes dependencies that includes slf4j-api 1.6.6 and 1.7.5 transitively.
- in Y1 add slf4j-api to 1.6.6 with force to mark 1.7.5 as evicted.
- Y1 naturally marks 1.6.6 as evicted.

[code]
## problem

none of the slf4j gets included.
## expectation

ignore the overrides from either side, and pic

[2014-10-31 20:17] benmccann commented on #875
Woohoo! This is awesome! Thanks!!

[2014-10-31 22:21] japgolly opened #1711 "[0.13.7-RC2] cached resolution pulls in % "test" dependencies from other subproj"
From: https://groups.google.com/forum/#!folder/Scala/sbt-dev/k4XZiKQjVHA

There seems to be one issue: it generates a different dependency tree for (at least) one of my modules. Noticeable because I now see deprecation warnings from the new version of the library which isn't supposed to be on my classpath and isn't with 0.13.6. Here is some data for said module, let's call it module A.
https://gis

[2014-11-02 00:38] eed3si9n commented on #1679
I was able to reproduce slf4j getting mutually evicted with cached resolution. see #1710

[2014-11-02 17:52] mackler commented on #1616
+1

[2014-11-03 22:07] erikkaplun commented on #1707
Still the exact same error message.

[2014-11-03 22:12] pvlugter commented on #1614
We're also hitting this when building the aggregated Play documentation with dbuild.

[2014-11-03 22:26] ebolinger commented on #1616
+1

[2014-11-04 16:17] #1710 closed, assigned to nobody

[2014-11-04 16:22] eed3si9n commented on #1708
`-SNAPSHOT` requires hitting the internet (or a smart proxy), so it's always going to slow things down.
With the number of dependencies you're using, I'd expect much faster resolution if it weren't for the snapshots.

[2014-11-04 16:22] #1708 closed, assigned to nobody

[2014-11-04 16:25] eed3si9n commented on #1711
Thanks for the report. I'm guessing the first issue ScalaCheck bump up is happening because of the third issue of more specs2 jars, which is happening because of the second issue of % "test" getting pulled in.

[2014-11-04 16:28] eed3si9n commented on #1705
This was likely fixed in RC-2.

[2014-11-04 16:28] #1705 closed, assigned to nobody

[2014-11-04 16:30] jasonchaffee commented on #1705
Yes.  I forgot to reply.  RC2 fixed the issue.

[2014-11-06 07:35] dplate commented on #1616
I can confirm there is a problem with parent poms and 0.13.6. For me it even not works with a remote repository (Nexus):
internal.snapshot-repo: no ivy file nor artifact found
With 0.13.5 it works.

[2014-11-06 19:24] #1704 closed, assigned to nobody

[2014-11-06 19:34] japgolly commented on #1711
Nice work. I'll test this again with the next RC.

[2014-11-06 19:36] eed3si9n commented on #1711
I just released RC-3.

[2014-11-06 20:12] xuwei-k opened #1716 "[0.13.7-RC3] "test->test" does not work when cached resolution enabled"
https://github.com/xuwei-k/sbt-0.13.7-RC3-bug
### Step

`b/src/test/scala/Test.scala`

[code]

`project/build.properties`

[code]

`build.sbt`

[code]

and

`sbt test:compile`
### actual

[code]
### expect

`sbt test:compile` should be success

[2014-11-06 20:19] shengc opened #1717 "custom artifacts settings does not work with AutoPlugin"
Seems like a custom artifact defined in an auto plugin won't show up in `artifacts` after it is enabled. Is it because `artifacts` is reset after all enabled plugins have been imported? Is there a way I can introduce a custom artifact using auto plugin at all?

[2014-11-06 21:35] shengc commented on #1717
http://stackoverflow.com/questions/25247662/how-can-a-default-task-be-overridden-from-an-autoplugin

the auto plugin introducing the custom artifact must be enabled after sbt's own plugins

[2014-11-06 21:35] #1717 closed, assigned to nobody

[2014-11-06 22:28] japgolly commented on #1711
I'm still getting failure, although of a different kind. I'll investigate and raise another ticket.

[2014-11-06 23:16] japgolly opened #1718 "[0.13.7-RC3] java.lang.SecurityException in Jetty"
With 0.13.7-RC3 the unit tests for a Lift & Jetty based webapp fail consistently.

I've compared dependencyTree output for both 0.13.5 and 0.13.7-RC3 but they're identical.

[code]

[2014-11-07 00:53] jsuereth commented on #1718
We'll need the classpath for this one. My guess is someone is sneaking a javax.servlet classfile set into one of the JARs on your classpath, and the new classpath ordering means it gets loaded first (vs. previous resolution), leading to the exception you see.

[2014-11-07 04:38] japgolly commented on #1718
Ah cool, i'll take another look this arvo. So a `show fullClasspath` comparison would be helpful you're saying?

[2014-11-07 04:52] eed3si9n commented on #1718
Is this with or without cached resolution?

[2014-11-07 05:03] reid-spencer commented on #321
I think I'm still seeing this issue. I have a local copy of ReactiveMongo and I just built it from scratch and did "publishLocal". Other projects don't find it even if I rebuild them from scratch (i.e. blow away target directory). This issue is closed, but apparently stlll relevant. I'm using 0.13.6

[2014-11-07 05:25] japgolly commented on #1718
Whatever the default is. I didn't change any of my settings apart from the SBT version. If you like I can try it with and without. Just let me know any permutation of settings and I'll add them and try it.

[2014-11-07 05:34] eed3si9n commented on #1718
If you didn't change anything it's likely without cached resolution. Here's how to turn it on, if you want to give it a shot:

[code]

[2014-11-07 13:23] jpsacha commented on #321
I see the same problem with 0.13.6 and 0.13.7-RC2. Interestingly, a workaround is to build some project with needed SNAPSHOT using 0.13.5, then 0.13.6 and 0.13.7 can find that SNAPSHOT in other projects. Looks like a regression introduced back in 0.13.6.

[2014-11-07 16:17] eed3si9n commented on #321
@reid-spencer @jpsacha Are you both talking about `publishLocal`  or local maven repo cache (e.g. `~/.m2/repository`), which this issue is about?
If it's about publishLocal, it could be a whole another issue, so could you open a new issue, please?

[2014-11-07 18:06] jpsacha commented on #321
In my case I publish SNAPSHOT using Maven: "mvn install", then trying to access that SNAPSHOT artifact from SBT build. This seems to me the same as the original description by tomdz from 6/2/12. Comment from 6/3/14 by  jasonchaffee mentions `publishLocal`, though that looks like a bit different scenario.

[2014-11-09 23:29] eed3si9n opened #1719 "cached resolution not respecting explicit artifacts"
## steps

[code]
## problem

[code]
## expectation

works because there's a jar under "jdk15" classifier.
## note

artificial graph generation is not picking up classifier under some circumstances.

[2014-11-10 06:02] eed3si9n commented on #1716
The fix I made for #1711 wasn't correct.

[2014-11-11 16:36] xuwei-k commented on #1716
I confirmed that correction with v0.13.7-RC4. thanks!

[2014-11-11 16:36] #1716 closed, assigned to nobody

[2014-11-11 17:41] rtimush opened #1721 "Cached resolution: OutOfMemoryException"
On a rather complex project with many subproject and dependencies, running `update` with cached resolution fails with OutOfMemoryException even with 3GB heap (without cached resolution it definitely doesn't fail on 2GB and probably will work with 1GB).

Memory dump analysis shows that a 700MB byte array was created and held under `sbinary.JavaOutput`.

It would be nice if this array was at least s

[2014-11-11 17:55] bhanafee opened #1722 "Distribution missing LICENSE file"
The LICENSE file requires that the conditions and disclaimer be reproduced in all distributions, however they are not included in the downloads provided at [bintray](https://dl.bintray.com/sbt/native-packages/sbt/0.13.6/sbt-0.13.6.tgz) and linked from [scala-sbt.org](http://www.scala-sbt.org/download.html). They're also missing from the brew downloads, which probably would be fixed by updating the

[2014-11-11 22:41] kahliburke commented on #1616
+1

Ran into this issue today with a remote repo

[2014-11-11 23:00] joescii commented on #752
I've hit this issue as well, Josh.  I believe I could stand up an Archiva maven server in our AWS with a project that reproduces it.  Let me know when you think you'll have time to check this out, and I'll see what I can do.

[2014-11-12 00:00] bandrei commented on #1681
Interesting, I'll try looking into it. It's Jline version 1 that's being used I assume?

[2014-11-12 01:58] eed3si9n opened #1723 "cached resolution doesn't download dependencies with classifier"
## steps

[code]
## problem

either `commons-io` or `commons-io-sources` gets downloaded.
## expectation

both are downloaded and included into the classpath.
## notes
- mini graph currently doesn't track extra attributes, where classifiers are tracked.
- cached resolution doesn't merge artifacts from different mini graphs.

[2014-11-12 12:35] flashingpumpkin commented on #1592
Another workaround: Use `project/Build.scala` for your build configuration instead of `build.sbt`.

[2014-11-12 14:31] isomarcte commented on #1592
The version >= 0.13.7-M1 works for me. I just had to delete my .ivy folder and redowload.

[2014-11-12 18:22] OlegYch commented on #1649
still fails for me if you add sbt-multijvm into the mix https://github.com/OlegYch/sbt-cached-resolution-exclusion-multijvm

[2014-11-12 20:35] urbas opened #1725 "AutoPlugins cannot add files to the cleanFiles setting"
Please find scripted tests that reproduce this bug in [this repository](https://github.com/urbas/bug-sbt-autoplugin-clean/blob/master/README.md). I am using Travis CI to run the scripted bug-reproduction tests (see [![Build Status](https://travis-ci.org/urbas/bug-sbt-autoplugin-clean.svg)](https://travis-ci.org/urbas/bug-sbt-autoplugin-clean)).

**Setup**:
- An auto plugin generates a file. It add

[2014-11-13 05:47] byam opened #1726 "How to solve this sbt error?"
sbt is not running properly.

[code]

[2014-11-13 05:49] byam commented on #1726
old sbt version was 0.13.5 and i reinstalled it to 0.13.7. But didn't work too. project's  sbt is 0.13.6

[2014-11-13 05:54] eed3si9n commented on #1726
That's not an error. It's a warning about potentially conflicting eviction.
You can resolve scala version warning by picking 2.11.4 manually, and the rest using `dependencyOverrides` - http://www.scala-sbt.org/release/docs/Library-Management.html#Forcing+a+revision+without+introducing+a+dependency

[2014-11-13 05:54] #1726 closed, assigned to nobody

[2014-11-13 14:47] obfusk opened #1728 "killing the sbt script doesn't kill the java process"
Would it be possible to have the sbt script kill the java process when it is killed? I used `sbt run` as a daemon (from a script that starts and kills web apps on demand) and ran into the fact that killing the sbt process that was started did not kill the java process. I now use the following wrapper for sbt (renamed to `sbt.real`) to get the desired behaviour, but it would be nice if the sbt scri

[2014-11-13 17:10] Duhemm opened #1729 "Status of support for macros in incremental compiler"
This is a meta issue that gives an overview of the current state of the support for macro-enabled programs in the incremental compiler.
### Support for macros
- [x] Record dependencies on macro arguments (#1163)
- [x] Disable macro heuristic for inherited macros (#1142, #1202)
- [ ] Hooking Macrotracker in sbt (#1778, [discussion](https://groups.google.com/d/msg/sbt-dev/clIbzCp9VX8/z4IiYEZwoNEJ),

[2014-11-13 19:02] gkossakowski commented on #1729
Hi @Duhemm!

Excellent overview! Thanks for collecting all references. Would you mind adding a paragraph (at the end) describing the motivation behind this work? It's probably the easiest to describe a simple macro and explain how dependencies coming from a macro are opaque to incremental compiler and why this is a problem. You don't need to discuss all facets of improved macro support, though. Ju

[2014-11-13 19:45] Duhemm commented on #1729
Hi @gkossakowski ! Thank you for the suggestion. I've just added an example that covers all problems that I mentioned previously in the post. Do you have any more comments ?

[2014-11-14 08:30] fredriv opened #1730 "Cached resolution doesn't handle test-dependency in multi-project build"
I have a multi-project build where one subproject contains common test-code, which the other subprojects depend on in their test configuration, e.g.:

[code]

This build fails in SBT 0.13.7-RC5 if I enable cached resolution (it works fine otherwise). Basically, it does not include the compile dependencies from "foo" in the test configuration in "bar".

I've created a minimal test project that repr

[2014-11-14 23:02] jsuereth opened #1731 "The run task should parse -D properties and set them"

[2014-11-15 00:41] dirkgr commented on #1210
+1, just ran into this

[2014-11-15 00:42] kolotyluk opened #1732 "Ability to pass -D arguments in the sbt run task"
It would be nice to be able to

[code]

In particular this is useful when using the Typesafe Config framework.

[2014-11-16 03:37] He-Pin opened #1733 "mixed compile order may cause issue when compile complicated project"
Hi,I just occurred an issue that sbt continued report `[...] is already defined as object [...]` when I using sbt-protobuf to compile my `.proto`  file and using it in my `java` and `scala` mixed project/classes.
the `.proto` file name and the inner message name both OK,cause them don't have the same name,and should never occur the protobuf issue,but it continues report that issue too,make me stuc

[2014-11-16 10:47] #1407 closed, assigned to nobody

[2014-11-16 10:49] eriklovlie commented on #1407
(deleted my previous comment as I was confused by github)
Sorry, I missed this question and now I'm not able to provide any more info on this. Hence I've closed the issue.

[2014-11-17 16:29] kolotyluk opened #1734 "Better Diagnostics for OutOfMemoryError: GC overhead limit exceeded"
Our software build was destabilized for several weeks until we could figure out how to resolve the problem. At first we thought this was a problem with our build service, Codeship, but last Friday I finally was able to fix the problem buy switching to the Oracle G1 garbage collector. Later that day while on a support call with Josh Suereth he explained the problem with weak references and how the

[2014-11-17 19:34] zewemli commented on #1690
I ran into the same error with Fedora 20. Removing ~/.sbt and ~/.ivy2 fixed the issue.

[2014-11-17 22:02] SethTisue commented on #1592
0.13.7-RC4 fixed my ENSIME for me — thanks @jsuereth — but not until after I blew away my `~/.ivy2`, so thanks @isomarcte for that tip

[2014-11-18 04:02] C-h-e-r-r-y opened #1735 "Publish to maven repository with custome location"
When command `publishM2` is invoked it tries to publish to `%userDri%/.m2`. But what if maven repository has diffferent location? It is usefull to add new java option for that like `sbt.maven.repo`. With that I can pass `-Dsbt.maven.repo=...` from command line or modify `sbtconfig.txt` settings and set maven location forever without modifying files `build.sbt` in every project.

[2014-11-18 08:47] eed3si9n commented on #1730
Probably same as #1711.

[2014-11-18 10:04] fredriv commented on #1730
I ran the test using SBT 0.13.7-RC5 which was released on Nov. 12th. https://repo.typesafe.com/typesafe/ivy-releases/org.scala-sbt/sbt-launch/0.13.7-RC5/

It seems the fixes for #1711 were merged on Nov. 10th?

[2014-11-19 01:30] som-snytt commented on #1706
I was able to repro on Ubuntu, Java 8.   (Replacing annoying output with gist link.)

https://gist.github.com/som-snytt/02c55f12202f63e80eb5

So when it breaks, it's just the prompt echo that goes away.  Not to minimize how annoying that must be.

[2014-11-19 01:48] retronym commented on #1706
What does `jstack` reveal about the process after it gets stuck?

[2014-11-19 02:08] benmccann commented on #1706
I actually have the whole process freeze up pretty frequently now, but I haven't figured out how to reproduce that yet. I'll let @som-snytt or someone else take the jstack question because I don't think I know that tool or SBT well enough to be very helpful.

[2014-11-19 02:13] retronym commented on #1706
You can run `jstack <process id>` to capture a thread dump of any Java process. That tool comes with the JDK.

[2014-11-19 02:48] retronym commented on #1706
The problem seems to be that `junit-interface` [hijacks `System.out`](https://github.com/sbt/junit-interface/blob/0.11/src/main/java/com/novocode/junit/OutputCapture.java#L20) but under some circumstances doesn't set it back. Looking at the design of [EventDispatcher](https://github.com/sbt/junit-interface/blob/0.11/src/main/java/com/novocode/junit/EventDispatcher.java), it seems that parallel tes

[2014-11-19 04:44] benmccann commented on #1706
Thanks @retronym ! This is hugely helpful. Do you have any suggestions on how junit-interface should deal with this? Should this feature be implemented differently or should it be deprecated or removed as not making a lot of sense? It sounds like we should close this bug and file a bug at that project?

[2014-11-19 05:02] retronym commented on #1706
At a minimum, it would be good to detect when it is being used in a parallel test run and try to fail fast.

I suppose junit-interface could to install a custom `OutputStream` that multiplexes across a `ThreadLocal[OutputStream]`. The test started event could increment an `AtomicInteger` counter, test finished would decrement. When the counter goes from 0 -> 1, this multiplexing stream would be in

[2014-11-19 05:03] retronym commented on #1706
I'll leave this issue open in case @eed3si9n wants to take defensive measure in SBT. It could save and restore the System streams around each line of the shell.

[2014-11-19 06:13] som-snytt commented on #1706
[Partest](https://github.com/scala/scala/blob/2.9.x/src/partest/scala/tools/partest/nest/Worker.scala#L59) has also contended in that arena.

[2014-11-19 16:43] benmccann commented on #1706
Thanks for all the help guys. I filed a bug at junit-interface. That project doesn't get enough love, so I tend to doubt it will be looked at unless someone here wants to take a stab. It's rather good to know what the issue is and that I should avoid using the -q option. Perhaps we can at least update the junit-interface docs to say that the option is broken and shouldn't be used.

[2014-11-19 19:34] #1719 closed, assigned to nobody

[2014-11-19 19:34] #1723 closed, assigned to eed3si9n

[2014-11-19 22:02] nitay commented on #1616
I've been having this issue as well. Anyone have a workaround in the meantime while this gets fixed?

[2014-11-19 22:03] PatrickSauts commented on #1616
go back to 0.13.5

On Wed, Nov 19, 2014 at 2:02 PM, Nitay Joffe notifications@github.com
wrote:

[2014-11-19 22:11] pfn opened #1738 "Parentheses are added to XML even inside String literals (0.13.7)"
[code]

Produces this:

[code]

[2014-11-19 22:17] pfn commented on #1738
More madness

[code]

[2014-11-19 22:46] pfn commented on #1738
Using native xml tags avoids this problem...

[2014-11-19 22:59] eed3si9n commented on #1738
Likely related to code around #1671 /cc @ajozwik

[2014-11-20 00:26] richdougherty opened #1739 "Exception after upgrade to Play 2.2.6"
An error has been reported on the mailing list. @jsuereth asked me to report it here.

https://groups.google.com/d/msg/play-framework/7uNX_ImTW08/y82aICqggaIJ

These are the changes in Play 2.2.6. There shouldn't be anything sbt related.

https://github.com/playframework/playframework/compare/2.2.5...2.2.6

[2014-11-20 00:30] mslinn commented on #1739
Last did not give a longer stack trace. This is all I could get.

[code]

[2014-11-20 00:39] retronym commented on #1739
Could you please provide the `.sbt` files in the project and home directory? One of these is tripping up the new `.sbt` file parser in SBT introduced in #1606. See also #1666

[2014-11-20 00:41] retronym commented on #1739
Something like https://github.com/retronym/xsbt/compare/ticket/1739 should fix this, but it will be important to get a test case to validate this.

[2014-11-20 00:54] mslinn commented on #1739
Jason, I sent files to your gmail account.

Thanks,

Mike

[2014-11-20 01:07] retronym commented on #1739
As a workaround, you can pass `-Dsbt.parser.simple=true` to your play/SBT command line. This will revert to the old `.sbt` parser that splits based on `\n\n`.

[2014-11-20 01:54] retronym commented on #1739
I was not able to reproduce the problem. I tried `sbt 0.13.{6,7-M3,7}`. Only the latter two tags contain the `SbtParser` class that is the home of the bug.

@mslinn Could you please try to whittle down your `.sbt` files line-by-line so as to find out which part is to blame? This will really help us to write a test case for this bug.

[2014-11-20 02:12] mslinn commented on #1739
I'm working towards a deadline, it is a long march. I don't expect to be able to do this for some time.

Sorry, Mike

[2014-11-20 03:03] mslinn commented on #1739
Probably not surprising, but switching back to SBT 0.11.6 made the problem go away

[2014-11-20 03:37] retronym commented on #1739
Good luck on the march!

Does the suggested workaround help?

I can't imagine it would take more ten minutes to remove the lines of your build definition one by one, to see when you transition from "java.lang.UnsupportedOperationException" to _either_ a successful load of the project or some other error in the build. The latter would indicate that it got past parsing.

So if you need a break from

[2014-11-20 03:38] retronym commented on #1739
The project you sent me privately contained a build.properties that was set to SBT 0.11.6. That confused my a little. Are you certain you sent me the right project?

[2014-11-20 08:03] ajozwik commented on #1738
See #1606.
Scala compiler has problem - if after xml is literal (or any other statement). As work-around sbt parser adds to "xml parts" brackets. It has to check - if xml code is string - like in your example. Parsing sbt file start to be more complicated - than we expected.

[2014-11-20 12:52] SrividyaKasu commented on #1616
+1

[2014-11-20 18:38] markschaake commented on #1592
I'm still getting this in 0.13.7 - though I haven't tried blowing away my `~/.ivy2` cache as @SethTisue suggests. However, I have yet another workaround that we are using:

Add this to your project's `project/plugins.sbt`

[code]

The version you specify should be the same as the version you specify in `project/build.properties`

[2014-11-20 22:21] eed3si9n opened #1742 "[0.13.7] import import sbt._, Keys._ breaks build"
originally reported by @tkawachi as https://groups.google.com/d/msg/sbt-dev/YQvtYQhOgVk/cCXc1FMiHVkJ
## steps

sbt 0.13.7

[code]
## problem

Build breaks

[2014-11-20 22:46] mslinn commented on #1739
I made a new project on the same machine. `build.sbt` is empty. `~/.sbt` has been renamed

[code]

There are no other files in the project. This still causes the same stack dump as before:

[code]

Perhaps an environment variable is the problem, or another package installed on the system (XUbuntu 14.10)?

[2014-11-21 01:07] retronym commented on #1739
I can see the problem now. The `play` script in version 2.2.6 forces SBT 0.13.7 to using Scala 2.10.3 internally, rather the supported version, 2.10.4.

I was running `sbt` directly, which did not suffer from this problem.

A workaround is to use:

[code]

It seems the new `SbtParser` relies on a bug fix in Scala 2.10.4.

@richdougherty I'm going to close this issue and let you find a solution on

[2014-11-21 01:07] #1739 closed, assigned to nobody

[2014-11-21 01:11] mslinn commented on #1739
Both workarounds work.

Now I can brag about having written the smallest possible Play 2.2.6 app :)
Whoohoo!

[2014-11-21 01:16] retronym commented on #1739
:smile:

[2014-11-21 01:36] eed3si9n opened #1743 "[0.13.8-M1] IndexOutOfBoundsException on Java warning with no position"
## steps

Try compiling Java source that issues a warning without a position.
For instance [DelegatingClassLoader.java](https://github.com/playframework/playframework/blob/2.3.x/framework/src/build-link/src/main/java/play/core/classloader/DelegatingClassLoader.java) issues:

[code]

using sbt 0.13.5.
## problem

[code]
## expectation

Warning is displayed like it's is in sbt 0.13.5.

[2014-11-21 01:50] richdougherty commented on #1739
FYI Play 2.2.6 ships with sbt 0.13.0. It's good to know there's a workaround if users use a higher version of sbt.

[2014-11-21 08:18] urbas commented on #1725
Apologies for pushing, but could anyone take a look whether this is expected behaviour or a bug?

[2014-11-21 08:27] eed3si9n commented on #1725
Sorry for the delay. I'll look at it now.

[2014-11-21 08:31] urbas commented on #1725
Great, thanks a lot!
On 21 Nov 2014 08:27, "eugene yokota" notifications@github.com wrote:

[2014-11-21 09:00] eed3si9n commented on #1725
Thanks for this interesting exercise. sbt actually is working as expected.
sbt's default values are loaded as auto plugins, and `cleanFiles` are loaded using `sbt.plugins.JvmPlugin`.

Therefore, in order to rewire the `cleanFiles` setting, you need to place your auto plugin after the `sbt.plugins.JvmPlugin`. Add the following to your plugin:

[code]

It should now show cleanFiles as you specified.

[2014-11-21 09:00] #1725 closed, assigned to nobody

[2014-11-21 09:33] jrudolph opened #1745 "Problems with cross-building for multiple Java versions (esp. Java 8)"
The goal is to have submodules compiled and tested with different Java versions, especially with a newer of Java than the one used to run sbt. I think this is or will become a quite common use case in the near future as more and more projects that provide a Java API will try to make it compatible / convenient to use with Java 8.

[I got surprisingly far](https://github.com/spray/akka/commit/22f6b5

[2014-11-21 11:28] urbas commented on #1725
Apologies for reopening, but this seems rather unexpected. The plugin has nothing to do with the `JvmPlugin`. Shouldn't the `JvmPlugin` use `+=` to modify `cleanFiles` rather than resetting the `cleanFiles` setting completely? This definitely seems like a bug in `JvmPlugin`.

[2014-11-21 11:45] ghost commented on #1725
Does everything have a dependency on the JvmPlugin? Surely this should be the default. I've seen a number of posts suggesting to add this require, but never understood the significance.

You've documented a specific way of implementing Autoplugins. This doesnt work for arbitrary reasons. That does **not** sound like the "expected" behaviour.

@urbas produced a very clear reproducible case. There i

[2014-11-21 12:41] jsuereth commented on #1725
@improbable-dave Let's set aside the boilerplate discussion and talk about the design for a second.

AutoPlugins `requires` is a means of ensuring that the dependencies of some aspect of sbt that your plugin uses is loaded before you settings come.   All settings need an origin.  Your AutoPlugin _could_ be that origin, or it could be one which modifies pre-existing settings.

In the set of plugins

[2014-11-21 13:47] ghost commented on #1725
I disagree with your reasoning because of the original posters example; it is clearly surprising behaviour.

Given that you have made considerable contribution to SBT and the plugins, I would suggest that maybe you're not coming from the most objective position; I'm sorry if I'm calling your baby ugly, but why is the original posters test wrong? There is nothing to suggest that the JvmPlugin is in

[2014-11-21 13:52] metasim commented on #1636
I might suggest having the warning message point to that documentation since the setting recommended in the message isn't sufficient, at least in a multi-module context.

[2014-11-21 13:59] urbas commented on #1725
A technical note: should it not cause a dependency exception if you're doing `cleanFiles += ...` but the `cleanFiles` setting has not been initialized with `:=` yet?

So that means that the `cleanFiles` setting is overwritten twice? Once to initialize the setting key and another time after I do `+=`. How can this happen?

[2014-11-21 14:06] jsuereth commented on #1725
@urbas Yes, it should actually cause a dependency exception.   Our load-optimiser is erasing your setting before we have a chance to discover the issue.  What our engine sees:

[code]

It recognizes a "overwrite" setting and blows away the previous without ever running/remember them BEFORE it initializes/analyzes.

SO, perhaps we can consider that a bug in our over-eager optimiser.

[2014-11-21 14:10] #1743 closed, assigned to eed3si9n

[2014-11-21 14:15] urbas commented on #1725
This would at least expose the problem and lead the user to search for the source of the `cleanFiles` setting. But to be honest, I did that, and found that `cleanFiles` is in `sbt.Keys` and initialized in `sbt.Defaults`. This made me believe that `cleanFiles` is an "innate" setting and it would never occur to me that an auto plugin would be responsible for it. This really just adds to the fact tha

[2014-11-21 14:17] ghost commented on #1725
Some further questions, based on the context of the original test and suggested workaround:
1. Where is JvmPlugin introduced?
2. If it is added by default, then why is it not a default of AutoPlugin?
3. Why do I need to worry about JvmPlugin to use just clean? Should clean be tightly coupled to Jvm languages?
4. What else overrides the plugin overrides? Are there any other plugins that are automat

[2014-11-21 14:39] jsuereth commented on #1725
1. It's introduced onto the default project constructor.  This is done to retain backward compatibility with older style builds.
2. Good point.  You're coming closer to persuading me.  I still want plugin authors to find out about the plugin heirarchy quickly, but it couldbe JvmPlugin is a good default given the natureof sbt.
3. This, I'd say, points at a flub in the separation of the core plugins

[2014-11-21 14:45] jsuereth commented on #1745
It's funny you report this. I did an investigation a few weeks back into the exact same thing.   Basic task list:
- [ ] Rewrite the util/classfile code to analysis classfiles using ASM rather than loading into the current classloader.  This should avoid sbt's reliance on using the running JDK.
- [ ] Expose some sort of configuration mechanism for users to set up and configure JDK versions.  E.g. a

[2014-11-21 14:48] jsuereth commented on #1738
@ajozwik I think perhaps we need to start investigating feeding the Trees out of the parser directly to `Eval` in some fashion, and reworking the SessionSetting refactoring code against Trees.   maybe we should do a conference call to discuss options here, but for sbt 1.0 we CAN break binary compatibility, so let's figure out if a better architecture will lead to less issues.

[2014-11-21 14:51] jsuereth commented on #1735
Actually, I think this will use the maven conventions of `M2_LOCAL_REPO` environment variable.

See: https://github.com/sbt/sbt/blob/0.13/ivy/src/main/scala/sbt/Resolver.scala#L304-L324

If you're interested, you could also add a Java properter than and submit a PR.

[2014-11-21 14:52] eed3si9n commented on #1636
Another thing we should add is `EvictionWarningOptions.empty`.

[2014-11-21 14:53] eed3si9n commented on #1636
At least there's a documentation that mentions Eviction Warning now - http://www.scala-sbt.org/0.13/docs/Library-Management.html#Eviction+warning

[2014-11-21 14:57] jrudolph commented on #1745
Sounds good. I don't have any capacity to tackle this but it's good have this anchored here.

[2014-11-21 15:00] metasim commented on #1636
Do you think the documentation maintainers would consider adding the example settings from above to the documentation? In my case, the warning seemed to be about some internal SBT dependency:

[code]

(this is even though my `scalaVersion` is set to `2.11.4` in all my modules). I don't think I would have been able figure out how to quiet it without the `evectionWarningOptions` example you provided

[2014-11-21 15:01] eed3si9n commented on #1725
So, unless the core plugin system improves significantly, we're all ok with making `JvmPlugin` the default right? Given that this feature enables mostly inter-plugin dependencies like sbt-web type scenario, I don't think we'll lose much from doing that.
Could one of you open a new issue for this? I could reuse this case, but I want to preserve how nicely @urbas has framed the issue.

[2014-11-21 15:09] eed3si9n commented on #1636
@metasim We don't have documentation maintainers. It's mostly me and @jsuereth doing everything, so if you want improvements on the docs, the best way to do it is to write it and send pull requests to [sbt/website](https://github.com/sbt/website).
However, if you're getting eviction warning `(2.11.1, 2.11.0) -> 2.11.2` even when you're setting `2.11.4`, that should be reported as a bug.

[2014-11-21 15:32] urbas commented on #1725
@eed3si9n: I am thinking of opening the following issues:
- fix overeager setting key initialization ellision
- move `clean` into `CorePlugin` and make it a default dependency in `AutoPlugins`?
- documentation update that covers default dependencies and core functionality.

@jsuereth: What do you think?

[2014-11-21 15:42] eed3si9n commented on #1725
Just moving `clean` sounds arbitrary. If we're going to do it, we should figure out what belongs in [this list](https://github.com/sbt/sbt/blob/0.13.7/main/src/main/scala/sbt/plugins/JvmPlugin.scala) and what doesn't (maybe a new sbt-dev thread?):

[code]

[2014-11-21 15:51] urbas commented on #1725
Indeed, and I am definitely all for figuring it out. For starters, you might want to ask: What is common across JVM and non-JVM builds? But I'm sure you can come up with many more questions like this that will help us answer the problem of what to move into CorePlugin.

[2014-11-21 22:16] ajozwik commented on #1738
@jsuereth You right. From my side I do not have enough knowledge about sbt. The problem with xml is in scala compiler - not sbt. We have two options:
1. Correct the work-around for xml (I will create new PR for this).
2. Write migration document and remove `XmlContent.handleXmlContent` method.

I think the first option is good for now. For sbt 1.0 the second should be preferred.

If you think glob

[2014-11-22 00:07] jsuereth commented on #1725
Yeah, i think we should figure out the design/interacton between Core/Ivy/Sbt.  Right now, it's somewhat arbitrary, and indeed Ivy has some bleed-over of scalaVersion thanks to how we cross version.

It'd be good to try to isolate cleaner separation between responsibilities of plugins and code.

[2014-11-22 00:50] dpratt commented on #1518
I vote for this as well - it'd be nice to have syntax that would look like

"com.typesafe.play" %% "play-json" % "2.3.6" exclude("com.typesafe.play" %% "play-iteratees")

[2014-11-24 11:05] Andrei-Pozolotin opened #1747 "slow project load time"
see https://github.com/akka/akka/issues/16350

[2014-11-24 11:28] fernandoracca commented on #1117
Thanks not3, your solution with maven-ivy-releases with custom path did work.

I had upgraded from 0.13.6 to 0.13.7 and again had this issue. (similar to #1388 ).

My repo now looks like:

[repositories]
    local
    nexus: http://nexusRepo.com:8081/nexus/content/groups/public/
    central: https://repo1.maven.org/maven2/
    typesafe: https://repo.typesafe.com/typesafe/maven-ivy-releases/, [orga

[2014-11-24 18:36] unoexperto commented on #654
Any progress on this ? Still happens on 0.13.6

[2014-11-24 18:41] eed3si9n commented on #654
We are using Ivy 2.3.0, which should have IVY-1333 fixed. If it's still happening, I'd say this is something that needs to be dealt with using `dependencyOverrides`. See http://www.scala-sbt.org/0.13/docs/Library-Management.html#Overriding+a+version

[2014-11-24 18:41] #654 closed, assigned to nobody

[2014-11-24 18:52] eed3si9n commented on #1747
Commented on the issue. Duplicate of #1524?

[2014-11-24 21:51] ajozwik commented on #1738
@jsuereth @eed3si9n @gkossakowski @WarsawScala @jaceklaskowski @rkrzewski: We can arrange the conference call 3 December at 18:30 CET (12:30 GMT-5) during our next meetup (http://www.meetup.com/WarszawScaLa).
Please confirm.

[2014-11-25 02:58] benmccann opened #1749 "Impossible to tell what line caused test failure"
To reproduce just add the line `org.junit.Assert.assertTrue(false);` to a JUnit test. If you need a project with a JUnit test to test with, then run `activator new` and select `play-java` to create one. (The minimal-java project does not currently have an example test, but I've submitted a pull request to add one)

When you run the tests, here's the output. It's impossible to figure out what line

[2014-11-25 03:04] eed3si9n commented on #1749
So we need to port @jroper's playframework/playframework#2517 to sbt somehow?

[2014-11-25 03:25] benmccann commented on #1749
I'm not really sure. I believe what the Play class did is that it both generated the XML report and it logged test output, which ended up going to the console. It seems that these two functions are separated in SBT. [This is the class that SBT uses to generate the XML report](http://www.scala-sbt.org/0.13/sxr/sbt/JUnitXmlTestsListener.scala.html#sbt;JUnitXmlTestsListener). If you open up the repor

[2014-11-25 14:20] metasim commented on #1636
I'll attempt to create an independent test case and bug report in the next few weeks. Right now it's in the midst of a multi-faceted project structure that's not automatically reducible.

[2014-11-25 15:27] sebdotv commented on #1749
I'm happy with the following setup since the migration to Play 2.3:

// ref: https://github.com/sbt/junit-interface
// -v log "test run started" / "test started" / "test run finished" events on log level "info" instead of "debug"
// -q suppress stdout for successful tests
// -a show stack traces and exception class name for AssertionErrors
testOptions += Tests.Argument(TestFrameworks.JUnit, "-v",

[2014-11-25 17:35] benmccann commented on #1749
@sebdotv THANK YOU! I didn't know that there was -a option. I can't believe this isn't the default since the output is completely useless without it. I filed a bug to make it the default. https://github.com/sbt/junit-interface/issues/62. I suppose I'll close this issue since adding -a works.

Btw, I strongly recommend not using -q due to https://github.com/sbt/sbt/issues/1706

[2014-11-25 17:35] #1749 closed, assigned to nobody

[2014-11-25 22:21] bloo commented on #937
@jsuereth looks like this was removed from the 0.13.7 milestone - what should I expect re: a fix for this?

[2014-11-25 23:11] bloo commented on #937
:point_up: that answers that - thanks @eed3si9n

[2014-11-26 08:42] newffy opened #1750 "updateClassifiers doesn't download sources and docs for updated snapshot dependencies"
Hello.
sbt.version=0.13.7
we are using corporate maven repository (served by artifactory 3.4.1)
Our libraryDependencies:

[code]

during updateClassifiers only jars are downloaded, without sources and docs, although they all have published sources and docs. This is really annoying, I'm ready to supply all info you need.
We are using

[code]

for publishing

updateClassifiers log:

[code]

[2014-11-26 14:06] niklasfors opened #1751 "Incremental compilation, wildcard import is not handled correctly"
I have experimenting a bit with the incremental compiler in sbt, and I have found some bugs regarding wildcard imports.
### Example: Adding String class to package

The following example illustrates the problem. The problem is the wildcard import (import p._) in combination with name shadowing.

[code]

First, we compile the above code. Then, an empty class String is added to the package p. When c

[2014-11-27 06:39] hochgi opened #1753 "improve dependencyOverrides key (or add a new key) for better dependencies managment"
`dependencyOverrides` is currently a `SettingKey[Set[ModuleID]]`.
if it were a `SettingKey[Map[(String,String),ModuleID]]`, where keys represent (GroupID,ArtifatID) or something similar to `ExclusionRule` (much like the exclusion methods in ModuleID),
or if a new setting key (suggesting: `dependencyMappings`) of this type will be added, it would enable us users with the ability to manage dependenc

[2014-11-27 06:55] eed3si9n commented on #1753
We use Github issues for todos and issue tracking, so next time plz bring up feature requests on sbt-dev list for discussions.
The general idea sounds interesting, but I don't know if it's feasible in the short term since I mostly have to work within the framework of the current resolution engine (Ivy). It's not going to be as cool as what you're suggesting, but I've been wanting to implement #174

[2014-11-27 07:06] hochgi commented on #1753
I'd be happy to see https://github.com/sbt/sbt/issues/1748 implemented soon, it does solve part of the problem.
(sorry 'bout posting in the wrong place)

[2014-11-27 10:30] Duhemm commented on #1655
Hey guys,
Since this is not a bug in macro paradise, should we add this check in sbt ?

[2014-11-27 10:57] dragos commented on #1655
I think we agreed we should add a null check, but nobody did it so far (maybe the discussion was on #1593). I promise to review the PR if you open one :)

[2014-11-28 14:00] niklasfors commented on #1751
Another example:

[code]

Then adding class B to p2 should give an error in A.scala (ambiguous reference to B), but only p2.scala is re-compiled and no errors are reported.

[2014-11-28 21:06] pdalpra commented on #1731
Could something like [that](https://github.com/gatling/gatling-sbt/commit/383ced93231be72a1a9af44bd374e99657b56a61) be sufficient ?
If this is the case, I'd like to implement that :)

[2014-12-01 09:48] eed3si9n commented on #871
@Atry commented on 19d75ae2f9f0959e1f230d8d834dd39f827a5d83 that this is a JLine issue jline/jline2#100 that's fixed in the latest 2.12.

[2014-12-01 15:31] eed3si9n opened #1755 "Use effective pom with Aether"

[2014-12-01 20:32] jsuereth commented on #1701
this is a bit finicky here.  i'll follow up more shortly.   Your patch is definitely a fix to your issue, but opens up another.

FIRST, there's an issue with sbt unifying the "Thread context classloader" and "this classloader".   filterByClasspath attempts to ensure things are equivalent, if not exact.  I'm not 100%, but I think there may be another location you need to look at here.

Additionally

[2014-12-01 22:02] betehess commented on #1592
I am still having the issue with 0.13.7. I have tried removing my `~/.ivy2`. I think it has been working for a while but I have reverted to a locally built ensime-sbt. Sorry, I don't have time to investigate further this time.

[2014-12-01 22:42] richdougherty commented on #871
Play has a [workaround](https://github.com/playframework/playframework/pull/1620/files), but it seems like it would be worth upgrading sbt to JLine 2.12 to pick up this fix.

[2014-12-01 23:06] ajozwik commented on #1738
Please give me a message, when do you prefer to arrange the conference - we have a meeting every two weeks. If not 3 December - maybe next (17 December) or in new year?

[2014-12-01 23:22] gkossakowski commented on #1738
Hi @ajzowik! I missed your question before.

I could attend meeting at Dec 3rd at 18:30 but for maximum an hour. I have some other meetings later on.

[2014-12-01 23:33] jsuereth commented on #1738
Unfortunately I have a conflict the 3rd.  Let me see if I can reschedule

[2014-12-02 01:33] eed3si9n commented on #1738
I'm available Dec 3rd.

[2014-12-02 14:03] jsuereth commented on #1738
Ok, I'm free on the 3rd.  Let's do a G+/skype call.  You can email us connection details.

[2014-12-02 14:05] jsuereth commented on #1753
we've also run into the Set issue as you have.  for sbt 0.13.x I have some code I may contribute soon that converts the existing Set into what you suggest.

I'm thinking for sbt 1.0 the dependencyOverrides may need to be a custom Set type that does the right thing when detecting "set includes", rather than the current .equals one.

[2014-12-02 14:42] hochgi commented on #1753
@jsuereth i'd love to see that code :smiley:

as for sbt 1.0, I would consider a slightly enhanced version of what I suggested.
a `Map` is fine, but sometimes, it can be tedious to write every override manually. also, you can only map 1:1 dependecies.

I have given this a lot of thought, and I think a possible solution could be to use a (more complex) type like: `PartialFunction[(String,String),Se

[2014-12-02 15:47] ajozwik commented on #1738
So let's talk tomorrow.

[2014-12-02 15:50] gkossakowski commented on #1738
Unfortunately, something else popped up so I won't be able to do the video call at 18.30 CET. How about 17.00 CET?

[2014-12-02 15:57] ajozwik commented on #1738
We have a meeting room from 18:00 CET. Most people arrive between 18:00 and 18:30.

[2014-12-02 16:01] gkossakowski commented on #1738
I see. I'll need to pass then, unfortunately.

[2014-12-03 05:53] srikanthsara opened #1756 "Multi-project compilation dependency issue"
hi all,..
i am new to sbt and i have the parent project and its child projects as show below structure,.

[code]

Here the parent/project/SbtMultiBuild.scala file

[code]

while compiling the application from command line(sbt package) i am facing the dependency issues(while compiling,individually each application is  compiling well) even though i used aggregate function.

[2014-12-03 05:58] eed3si9n commented on #1756
The sbt issue tracker is not a support system. If you want help, ask on stack overflow or on the mailing list. If you want support, you can purchase a support subscription [here](http://typesafe.com/subscription).

[2014-12-03 05:58] #1756 closed, assigned to nobody

[2014-12-03 09:30] ajozwik commented on #1738
The meetup announcement:
http://www.meetup.com/WarszawScaLa/events/219028504/
I have slackware on my laptop - I tested G+

[2014-12-03 16:52] OlegYch commented on #1750
for me even non-snapshot deps sources are not downloaded
this seems to be caused by cached resolution, without it sources are getting downloaded

[2014-12-03 16:54] OlegYch commented on #1750
this also breaks gen-idea since it's no longer able to attach sources to libraries

[2014-12-03 17:22] OlegYch opened #1758 "Cached resolution interferes with exclusions and custom configs"
see https://github.com/OlegYch/sbt-cached-resolution-exclusion-multijvm
try to execute 'test' - with cached resolution scalatest is not found and compilation fails

[2014-12-03 22:06] rkrzewski commented on #1738
During the call we found out that contrary to our earlier belief the problem is not caused by a particular way we use the parser provided by scala-reflect Toolbox, but exists in the parser used by scalac itself.

Here's the Jira issue with minimized test case: https://issues.scala-lang.org/browse/SI-9027

[2014-12-04 10:47] rajish opened #1761 "Modules were resolved with conflicting cross-version suffixes only when cached resolution is on"
A project compiled with cached dependencies enabled complains about conflicting cross-version suffixes of a library (see [this gist](https://gist.github.com/rajish/223041144513446bd5c7)).

The same project when compiled without cached dependencies (i.e. the `~/.sbt/0.13/dependency` directory removed and the `updateOptions := updateOptions.value.withCachedResolution(false)`) compiles without errors

[2014-12-04 15:52] fommil opened #1762 "support HTCPCP"
Seriously guys, catch up to 1998 and support HTCPCP http://en.wikipedia.org/wiki/Hyper_Text_Coffee_Pot_Control_Protocol

(I can wait a little longer for an update to RFC 7168)

[2014-12-04 16:09] jsuereth commented on #1762
PR welcome.   I'd do it myself but I keep drinking the coffee and don't have any spare clean pots.

[2014-12-04 16:18] ornicar opened #1763 "Cached resolution: OOM when compiling"
With -Xmx1G. OOM does not happen with 0.13.7 without CachedResolution

Reproduce:

[code]

[code]

[2014-12-04 16:18] eed3si9n commented on #1762
We already have [a project](https://github.com/sbt/sbt-remote-control) that controls sbt via unicorns and forks. I'd like to see [avian carriers](https://tools.ietf.org/html/rfc1149) in the mix as well.

[2014-12-04 18:55] rkrzewski commented on #1738
Aaand it's fixed! https://github.com/scala/scala/pull/4185
We need a backport of this change to Scala 2.10 though.
/cc @jsuereth @eed3si9n

[2014-12-04 22:57] #1593 closed, assigned to nobody

[2014-12-05 06:08] jroper opened #1764 "BDD annotations for scripted tests"
What is tested here:

[code]

It's very hard to tell, since the scripted output just describes the name of the test.  The problem with this is if someone that is not familiar with the existing scripted tests comes along, and makes a change to something, which scripted test do they modify?

In theory, you could make things very descriptive by only having one assertion per scripted test - but in pra

[2014-12-05 07:21] JanBessai commented on #715
You may find an additional - perhaps more simple - example here:

https://github.com/JanBessai/approximate-refinement

Some (successful) tests are also included.

[2014-12-05 08:48] fommil commented on #1762
Avian carriers -  well, at least it'll be faster than ivy :-P

[2014-12-05 09:00] som-snytt commented on #1762
This is what [sbt-extras](https://github.com/paulp/sbt-extras) is for.

[2014-12-05 09:17] ornicar commented on #1763
BTW I think lila is an interesting project to test sbt with, for it has 46 more or less lousely coupled subprojects.

https://github.com/ornicar/lila/blob/master/project/Build.scala#L48-L262

[2014-12-05 10:28] #1742 closed, assigned to nobody

[2014-12-05 14:46] newffy commented on #1750
Snapshot dependencies sources are not downloaded at all for us (independently of cached resolution)

[2014-12-05 15:21] OlegYch commented on #1750
can you try updateOptions := updateOptions.value.withCachedResolution(false).withLatestSnapshots(true) ?

[2014-12-05 23:42] Sciss opened #1767 "sbt 0.13.7 has lots of caching bugs with plugins"
I instantly see two bugs with plugins that stop working correctly:
- [sbt-updates](https://github.com/rtimush/sbt-updates/issues/37)
- [sbt-dependency-graph](https://github.com/jrudolph/sbt-dependency-graph/issues/58)

This is a regression against sbt 0.13.6 for which these plugins work as expected.

[2014-12-06 00:47] newffy commented on #1750
as I said, we already tried it. No way.
with
`updateOptions := updateOptions.value.withCachedResolution(false).withLatestSnapshots(true)`

log is (for example):

[code]

although sources was uploaded too, of course.

[2014-12-08 09:47] broxmik commented on #887
Had same issue changed sbt.version to 0.13.1 instead 0.13.0 and worked for me also. Thanks

[2014-12-08 22:50] ajozwik opened #1768 "Replace scala reflect parser with scala compiler in SbtParser"
1. Class sbt.internals.parser.SbtParser uses internal reflect api. It should use the same api as sbt.Eval and returns the same compatible Tree objects.
2. EvaluateConfigurations should not split file - it will be done in SbtParser.

[2014-12-09 00:31] jvanz commented on #1690
Well, remove the ~/.sbt and ~/.ivy2 did not work for me. But, I updated the sbt and the problem gone away. =]

[2014-12-09 00:31] #1690 closed, assigned to nobody

[2014-12-11 01:28] nchammas commented on #1032
Just for the record, I ran into this issue of the working directory changing based on whether JVMs are forked or not while trying to [parallelize tests for Apache Spark](https://issues.apache.org/jira/browse/SPARK-3431). Passing in [`Some(baseDirectory.value)`](https://github.com/playframework/playframework/issues/1834#issuecomment-30029558) explicitly to the forked JVMs seemed to fix the issue. T

[2014-12-11 11:28] adinath commented on #1685
It looks like default branches for https://github.com/NetLogo/NetLogo/ and https://github.com/scala/scala/ has changed from `master` to their respective release branches. Can we point it to it?
It will need change in URL .

[2014-12-11 11:45] eed3si9n commented on #1685
The repo is at sbt/website if either of you want to send us a pull request.

[2014-12-11 12:39] adinath commented on #1685
submitted pull request. https://github.com/sbt/website/pull/87

[2014-12-11 13:25] eed3si9n commented on #1685
Thanks @adinath

[2014-12-11 13:25] #1685 closed, assigned to nobody

[2014-12-11 19:29] gkossakowski opened #1770 "ClassCastException when autoplugins are involved"
I tried to upgrade sbt-idea to sbt-pgp 1.0.0 but I ran into:

[code]

You can reproduce the failure by checking out https://github.com/gkossakowski/sbt-idea/tree/upgrade-sbt-and-plugins

This has been discovered while trying to fix scala/community-builds#83

[2014-12-11 19:29] gkossakowski commented on #1770
Any workarounds would be highly appreciated.

[2014-12-12 00:29] jsuereth commented on #1770
Global user plugin vs. Local.  Your global user directory has a stale version which is hijacking the claspath.

We had a community fix around this issue, but it's a known thing with global plugins.

[2014-12-12 11:54] gkossakowski commented on #1770
Thanks for the hint. That was it!

I'll leave it open in case you guys would like to investigate improving the error message. Adding names of types involved in the cast would be a good start.

[2014-12-12 17:28] #1738 closed, assigned to nobody

[2014-12-12 17:29] eed3si9n commented on #1738
I believe this is fixed via #1765.

[2014-12-12 18:36] wvandrunen commented on #882
+1, i'm also looking for this solution. I want to parallel compile and testCompile all the subprojects and test:run all the subprojects sequential. In other words I want to have parallel compilation and sequential test execution.

Because it is not possible to turn of parallelization in the project without losing parallel compilation we have we have all our tests in the root project instead in our

[2014-12-14 02:45] reid-spencer commented on #321
@eed3si9n - For me it is about publishLocal. I don't use or have a maven2 repository. If this starts causing problems again, I will open a new issue.

[2014-12-14 13:37] eed3si9n commented on #1750
@OlegYch if cached resolution doesn't download sources, that's probably another issue. Could you create one for it?

@newffy Has downloading of SNAPSHOT source jars ever worked? Or is this something that 0.13.7 broke?

[2014-12-14 13:53] newffy commented on #1750
Well, it looks like it's broken since 0.13.2 or 0.13.1.
Last SBT version we used and it worked was 0.13.0
As far as I can remember at least :)

2014-12-14 16:37 GMT+03:00 eugene yokota notifications@github.com:

[2014-12-14 14:01] eed3si9n commented on #937
The part we can fix in shorter time is #1223.

[2014-12-15 12:20] hsn10 opened #1774 "maven properties in dependencies pom.xml are not expanded to values"
reflections 0.9.9-RC2 can not be used because sbt does not expand ${javassist.version} macro  to values listed in properties section.

libraryDependencies ++= Seq(
    "org.scala-lang" % "scala-reflect" % scalaVersion.value,
    "org.reflections" % "reflections" % "0.9.9-RC2",
    "com.google.code.findbugs" % "jsr305" % "2.0.1"
)

reflections pom.xml is here: https://github.com/ronmamo/reflections

[2014-12-15 15:50] sslavic opened #1775 "[doc] Document excluding dependencies with Scala binary version in artifactId"
Current sbt docs for "Exclude Transitive Dependencies" have just examples of excluding Java libraries http://www.scala-sbt.org/release/docs/Library-Management.html#Exclude+Transitive+Dependencies

Please add a note at least (that module has to include Scala binary version suffix), if not an example too, for excluding transitive Scala dependencies, with Scala binary version in module id.

[2014-12-15 16:52] OlegYch opened #1776 "cached resolution: updateClassifiers does not download sources"
## steps

eg with this config and sbt 0.13.7

[code]
## problem

updateClassifiers will only download "bundles"
## expectation

without cached resolution it will also download "jars" and "srcs" (not sure why it downloads both bundles and jars, though)

[2014-12-15 16:59] OlegYch commented on #1750
created #1776
btw i just remembered another issue with updateClassifiers and snapshots https://github.com/mpeltonen/sbt-idea/issues/306 , perhaps they are related

[2014-12-15 19:32] denisrosset opened #1777 "Identifiers that differ only in case are handled incorrectly in non-case sensitive filesystems"
I am using Mac OS X 10.7 with non-case sensitive HFS, with SBT 0.13.7 and Scala 2.11.4; code using identifiers that differ only in case leads to an error on recompilation:

[code]

The code fragment is:

[code]

I can try to write a reproducible test case on request.

[2014-12-15 21:00] eed3si9n commented on #1777
Could you clarify the reproduction steps? Does it break only for incremental compilation as opposed to `clean` and `compile`? Does it work when you turn off name hashing:

[code]

[2014-12-16 17:29] jsuereth commented on #1616
@charlessimpson I'm actually unable to reproduce this with sbt 0.13.7.  I can push my test case if you'd like, but I'm curious if there's anything else on yur machine that may be leading to the failure that I need to look into.    Which version of Maven are you using to push locally (I'm using Maven 3.0.3)

@manuelbernhardt What I'm seeing locally on your test case is a scala 2.11 vs. scala 2.10 i

[2014-12-16 18:15] eed3si9n commented on #1559
Which plugin is that? I don't know if catching exception is a good solution here. If Sync is not doing its job somehow, that needs to be fixed.

[2014-12-16 20:33] hsn10 commented on #1774
it seems to be due to incorrect pom.xml file defining properties inside profile. More information at https://github.com/ronmamo/reflections/issues/52

[2014-12-16 20:33] #1774 closed, assigned to nobody

[2014-12-16 20:40] martin-g commented on #1774
It is not incorrect. It is perfectly fine to declare the `<properties>` in `<profile>` (in Maven).
Either the `<profile>` is not activated by Ivy/SBT or it is not even used.

[2014-12-16 21:33] jsuereth commented on #647
Related #1755

[2014-12-17 04:23] eed3si9n commented on #1701
I tried with customized `target` but I wasn't able to reproduce the problem condition with sbt 0.13.7. What else is in play here? Could you create a repro project?

[2014-12-17 06:05] eed3si9n opened #1780 "SNAPSHOT issues"
There seems to be a number of SNAPSHOT related issues, so I'm going to make an epic issue to track them, and perhaps discuss expected behavior around SNAPSHOT.
## expectations/requirements
### Re-resolution

R-1.1. Assuming the dependency graph stays constant, calling `compile` should NOT re-resolve SNAPSHOTs.
R-1.2. Starting up sbt should NOT re-resolve build or meta-build. This is partially due

[2014-12-17 09:09] eric-leblouch commented on #1676
Reproduced the issue with sbt 0.13.7. Only for dependencies SNAPSHOT with a classifier.

[2014-12-17 14:47] avdv commented on #1696
Hi.

I also get this error:

[code]

sbt about:

[code]

Looking at https://github.com/sbt/sbt/blob/v0.13.7/ivy/src/main/scala/sbt/Resolver.scala#L183 that function should exist. Am I missing something?

[2014-12-17 16:38] samthebest opened #1781 ""Your proxy requires authentication." behind Kerberos AD authenticated proxy"
## steps

So I've tried kinit and using the following flags

[code]

Here I don't include the user and password, and I get

[code]

If I include the username and password...
## problems

If I include the username and password I get

[code]

Also I shouldn't have to save my password into environment variables that is a major security problem.
## notes

I can get curl to work behind my proxy, and a

[2014-12-18 03:08] Centaur opened #1782 "sbt never retry downloading sources.jar again if the first time download not finished"
I set `updateOptions := updateOptions.value.withCachedResolution(false)` and run `update-classifiers`. At the end sbt said `failed downloads` of `xxxxxx.jar(srcs)` (one of the dependencies). I run `update-classifiers` again and  hope it try downloading this sources jar again but it did not.  I checked `~/.ivy2/cache` and found a `xxxxxx-sources.jar.part` so I guess the first time download was inte

[2014-12-18 08:43] pedrorijo91 opened #1783 "Error on building with java 8"
Hey,

I'm getting the following error:

[code]

I'm using Java  1.8.0_25 in Mavericks

[code]

Also, sbt 0.13.6

[code]

And, among other definitions my build.sbt contains

[code]

As far as I've looked, there are some know issues with scala 2.10 and java 8, but I've configured to scala 2.11x, so what is wrong ?

ps: I'm trying to build 1st assignment (QuickCheck) from coursera at https://class.co

[2014-12-18 22:16] fommil commented on #1776
:+1: this looks like it stings us in ensime-server

[2014-12-18 22:24] nightscape commented on #1776
This sounds like it could also be the problem for this sbteclipse issue:
https://github.com/typesafehub/sbteclipse/issues/234

[2014-12-18 22:34] fommil commented on #1776
FWIW, reverting to 0.13.7-RC3 works OK for us.

[2014-12-18 23:09] eed3si9n commented on #1446
Are you experiencing this issue? If so what's the Play and sbt version? Also do you have any dependencyOverrides? Running `run` continuously shouldn't trigger re-resolution if the dependency list hasn't changed. But there was at least one bug that was invalidating the cache incorrectly, so you could be hitting something like that.

[2014-12-19 01:03] Centaur commented on #1782
Finally find the solution.

sbt caches unsuccessful classifiers information in `~/.ivy2/exclude_classifiers` file and stop trying to download them thereafter. After remove this file, sbt will try again.

To automate the process of removing this file, add `cleanFiles += new File(Path.userHome.absolutePath + "/.ivy2/exclude_classifiers")` to your sbt project file then every time run `clean` command

[2014-12-19 01:03] #1782 closed, assigned to nobody

[2014-12-19 01:19] ritschwumm commented on #1783
the error message definitely looks like a too-old scala version not ready for java 8.

be aware in sbt you're dealing with two different scala versions: the one used by sbt for the build process (depending on the sbt version) and the one used to compile your code agains (configured with e.g. scalaVersion := "2.11.4" above).

still, not sure what's happening here. could it be you have an older sbt.

[2014-12-19 12:13] pedrorijo91 commented on #1783
you were right, there was another sbt.version in other file. Now sbt builds correctly. There are still some issues in the dependencies, but that's fixable ;)

Thnaks

[2014-12-19 12:13] #1783 closed, assigned to nobody

[2014-12-19 15:27] jedesah opened #1785 "Improve or clarify mechanism for controlling arguments between javac and javadoc"
I ran into an issue recently where we wanted to pass the debug flag `-g` to the javac compiler in our sbt build.

So we added `javacOptions += "-g"` to our build file. However, when packaging the jar for release, sbt would error out because it tried to use this flag as well for the javadoc tool which complains that it does not recognize it.

We were quite confused by this behavior at first. Luckil

[2014-12-20 09:14] freewind commented on #752
The same error I've hit, but hard for me to provide a test case. Just reference the issue I've reports to another project [repox#9](https://github.com/Centaur/repox/issues/9)

[2014-12-22 10:04] mariussoutier commented on #1446
I just experienced this issue again, using Play 2.3.7 and sbt 0.13.7. I do not use `dependencyOverrides`.

[2014-12-22 10:06] mariussoutier commented on #1446
Here is what the console looks like:
http://pastebin.com/GrYpnNC3

Just one thing, ReactiveCouchbase is only a transitive dependency, we are depending on "org.reactivecouchbase" %% "reactivecouchbase-play" % "0.3.1", i.e. a non-snapshot.

[2014-12-22 17:33] ASchmidt84 commented on #1655
I have still the same issue on using 0.13.5 and @sfxml :cry:

[2014-12-22 18:22] dragos commented on #1655
I don't think there's a release containing a fix for this one yet (this bug was reported on 0.13.6 anyway). @jsuereth or @gkossakowski do you know when will this fix be released?

[2014-12-22 18:32] ASchmidt84 commented on #1655
Also the workaround:
https://github.com/milessabin/shapeless#building-shapeless isnt working. It is not important to solve the complete problem if their exist a working workaround :scream:

Do someone use now sfxml and why this work at his code?

[2014-12-24 00:21] benhutchison commented on #1767
I also hit a problem in 0.13.7, rollback to 0.13.6 fixed it:

[code]

[2014-12-24 11:19] DavidPerezIngeniero opened #1788 "ArrayIndexOutOfBoundsException when using a p2 repository for dependencies"
I'm using SBT 0.13.7, under Linux.

I have this project in `build.sbt`:

[code]

Here are the contents of my `ivysettings.xml`:

[code]

This looks like a bug in Ivy.  I've checked that the bundled version of Ivy is `2.3.0` and it isn't the latest.

When I run this command `oda/update`, I get this result:

[code]

[2014-12-24 11:30] DavidPerezIngeniero commented on #1788
Reported the problem in Ivy:

https://issues.apache.org/jira/browse/IVY-1504

[2014-12-24 11:34] DavidPerezIngeniero commented on #1788
The stacktrace for this exception is missing:

[code]

[2014-12-25 12:18] evanbennett commented on #1446
@mariussoutier Have you confirmed this happens without the play-autorefresh plugin?

[2014-12-29 08:44] markkolich opened #1789 "Add a recursive sbt.IO.listFiles"
As of SBT 0.13.7, there doesn't appear to be a way to recursively list files in a directory using the provided `sbt.IO.listFiles` helper functions.  Essentially I want an `sbt.IO.listFiles` that lists all files within a given directory, and optionally all of its subdirectories.

http://www.scala-sbt.org/0.13.7/api/index.html#sbt.IO$

When needed, I end up doing something like this peppered around

[2014-12-29 09:00] eed3si9n commented on #1789
sbt also has [Paths](http://www.scala-sbt.org/0.13/docs/Paths.html), which is pretty versatile. What you're after could be written as:

[code]

or more concisely as:

[code]

[2014-12-29 10:40] markkolich commented on #1789
I still don't understand why this can't be part of `sbt.IO` itself.

The `sbt.IO` object already provides a `delete` function, which is recursive.  Seems natural to want to be able to do the same thing as part of `listFiles` without munging around in Paths.

[2014-12-29 11:07] eed3si9n commented on #1789
We can discuss this more on sbt-dev list as a potential enhancement for sbt.IO.

You wrote:

My response was meant to be "here's the current sbt way of doing that." I didn't see it as an issue given that we have a dedicated facility to deal with files and directories called Path, which works like Unix `find`.

I would like to generally avoid adding duplicate features, so:
1. we have less surface a

[2014-12-29 19:03] kydos opened #1790 "-Xelide-below does not work as scalacOptions option"
Trying to use:

[code]

In a build.sbt file cause sbt to fail with the following error:

[code]

A+

[2014-12-29 20:40] kydos commented on #1790
Found the issue, the argument to -Xelide-below has to be passed as a separate string, this now works fine:

[code]

[2014-12-30 02:30] jroper commented on #590
An example of one user taking 2 hours just to download dependencies for the play-scala-intro Activator template:

https://groups.google.com/forum/#!topic/play-framework/lglJ6WDAftQ

[2014-12-30 06:30] timcharper commented on #1701
Yes, I will create a test project and post the link here soon.

[2014-12-31 03:06] ghost commented on #590
Our team is in India. It is very difficult to introduce scala into our organization as there is huge resistance because of this issue.

[2015-01-04 21:09] magro commented on #1518
+1, for now I'm using a very simple and stupid solution: `exclude("com.typesafe.play", "play_" + scalaVersion.value.substring(0, 4)`

[2015-01-05 05:05] huntc opened #1791 "Reduce verbosity when resolving artifacts"
I was just wondering whether we've ever considered only outputting the following types of message when we cannot locate an artifact locally:

[code]

...who would care if this can be resolved quickly? Perhaps we should only output messages like that if the action takes more than, say, 1 second. Taking this approach would vastly reduce the amount of output from sbt.

WDYT?

[2015-01-05 14:03] k4y3ff opened #1792 "Scripting example out of date"
The [Scripts, REPL, and Dependencies](http://www.scala-sbt.org/0.13/docs/Scripts.html) page includes an example that no longer runs:

[code]

The example should be updated to use v1.1 of the Twitter REST API, or remove the Twitter REST API altogether (it doesn't seem necessary here...?).

[2015-01-07 13:43] reid-spencer commented on #1791
I think that would be helpful. When doing a build with Jenkins, those messages are retained in the output and I end up scrolling through 1000s of them in order to get to the point where the testing output begins. It isn't as much of a concern when doing a build on the terminal because the lines overwrite themselves but it might improve build speed slightly if all that I/O was avoided. At the very

[2015-01-07 13:43] reid-spencer commented on #1518
+1

[2015-01-07 14:01] eed3si9n commented on #1518
I did add project-level exclusion that uses ModuleID syntax in #1748

[2015-01-07 19:35] jsuereth commented on #679
@fommil I have a new branch which is using Aether to resolve maven artifacts. I believe this may fix your issue, but I was wondering if you still have something which can reproduce the problem so we can test it out (or create a test case).

Thanks!

[2015-01-07 21:10] fommil commented on #679
cool!!! Hopefully Aether is faster at resolving and downloading. I changed my build pipeline and never got the pom.xml files looking quite this way ever again. Unless someone else has this, I'm happy to close and flag this as an upstream bug that has potentially been fixed by Aether.

[2015-01-07 21:10] #679 closed, assigned to jsuereth

[2015-01-08 12:26] DavidPerezIngeniero opened #1794 "Detect class duplication in classpath"
After reading the thread: https://groups.google.com/forum/#!topic/sbt-dev/LKICLjcVXlA
I'm motivated to open this feature request.

Sometimes, a transitive dependency brings the same artifact with a different naming, and it gets duplicated.  If the versions are incompatible, it can cause serious bugs, that don't always happen.  It is random which version will be used.

It would be interesting to be

[2015-01-09 10:34] DavidPerezIngeniero opened #1796 "OpenSuse: "Unable to bind key for unsupported operation" shows up on each command"
I'm using SBT 0.13.7, and in the interactive command prompt, I receive this logging for each command I enter:

[code]

How do I remove it?

The answer to this [other question](http://stackoverflow.com/questions/13091617/getting-info-unable-to-bind-key-for-unsupported-operation-backward-delete-wo) makes me think that it is related to the jline library, that is used internally by SBT for reading inp

[2015-01-09 21:58] jdegoes commented on #1210
Burned half a day on this.

[2015-01-12 18:12] gkossakowski commented on #1655
@IntelligyScience, if the workaround doesn't work then I think you are hitting some different problem.

[2015-01-12 18:23] gkossakowski commented on #1655
According to milestones, 0.13.8 should be around the corner: https://github.com/sbt/sbt/milestones
I'll let @jsuereth have a final say on this.

[2015-01-12 20:10] deanwampler commented on #1180
Is this actually merged into sbt? If so, which version.

@cunei what is the actual command you would add to sbt to override. As written, `selectMainClass := mainClass.value orElse selectRunMain(discoveredMainClasses.value)` doesn't compile. How could this be modified in a build file to do sorting?

[2015-01-12 20:22] jsuereth commented on #1180
I'm not sure this was ever implemented.

However the default value is here:
https://github.com/sbt/sbt/blob/0.13/main/src/main/scala/sbt/Defaults.scala#L271

I think you want:

[code]

[2015-01-12 20:23] jsuereth commented on #1796
Do you have a `~/.jlinrc` file?  It's probably jline choking on that file.  I've never done that sort of customization, so I'm not sure.

Additionally, what platform?  For jline, this really matters.

[2015-01-12 20:36] deanwampler commented on #1180
I fixed a type (`orElseDefaults` -> `orElse Defaults`) and updated to 0.13.7, but it doesn't appear to work when I enter `run`:

[code]

and so forth for my tutorial. Does it only sort package names? I use the default package because otherwise the names are cut off in the Activator UI.

[2015-01-12 21:15] alexarchambault opened #1800 "Launchconfig not fetching some dependencies"
Follow up of https://groups.google.com/forum/#!topic/sbt-dev/C1nnKp_iAzg

launchconfig does not seem to be willing to fetch the following dependency:

[code]

(transitive dependency of `org.apache.spark" %% "spark-repl" % "1.1.0"`).

Full example here: https://gist.github.com/alexarchambault/6fea21dffbf2a1fc48b0, reproduce by:
- downloading all the gist files
- putting the ones that go in specific

[2015-01-13 01:54] kahliburke commented on #1676
This one is a big problem for groups like mine which use Play 2.3 and have multi module applications. Play 2.3 introduced an asset jar that is produced by creating an artifact with the "assets" classifier.

We have sbt projects that depend on a base project and its assets, so I include those in the sub project with:

[code]

When we publish new versions of the base to nexus and then rebuild the su

[2015-01-13 09:43] DavidPerezIngeniero commented on #1796
I don't have any.
I'm using Linux.  I have dual boot with a shared /home folder.
- When using KUbuntu 14.10 no warnings are shown,
- but when using OpenSuse 13.2, the warnings are shown.

[2015-01-13 17:19] He-Pin opened #1802 "support external download manager for downloading the artifacts"
Hi,how about add external downloading manager support for sbt when downloading the artifact from the repo.like `axel` or `aria2`

[2015-01-13 17:21] jsuereth commented on #1802
We actually need to expose hooks into Ivy so we can effectively do this, but it is in the plans.

[2015-01-13 18:11] pauldraper commented on #1791
Yes, it's mostly a problem when looking at a log (i.e. not in a console that rewrites lines).

[2015-01-13 19:51] alexarchambault commented on #1800
FYI, I re-published this JAR on a repo of mine, changing the name to `javax-servlet` (`-` instead of `.`) Fetch it with `resolvers += "Temporary Repo" at "http://dl.bintray.com/alexandre-archambault/maven"`, `libraryDependencies += "com.github.alexarchambault.temporary" % "javax-servlet" % "3.0.0"`. It works well this way.

[2015-01-13 20:16] erikkaplun opened #1803 ".class file erroneously reported to be broken"
If I `rm` the file and `compile`, it works fine, until the next compile.

Sometimes it emits a very long traceback, sometimes not, but the error message is the same.

If it's absolutely necessary, I can share the source code of the file under question.  It's basically just ~30 or so definitions of type class instances of play-json's `Format[T]/Reads[T]/Writes[T]` + a few scalaz's `Monoid[T]` insta

[2015-01-13 21:47] erikkaplun commented on #1803
Loading the `Queries` object which extends the above problematic `Mapping` trait from sbt console yields the following.  I'm posting it here since the error message is the same so it's probably relevant.

All in all, is this a SBT bug or a Scala/scalac one?

[code]

full stack trace: http://pastebin.com/raw.php?i=R0J2wwsD

[2015-01-14 01:28] jsuereth commented on #1803
Looks like scalac's classfile parser, by the stack trace.  sbt could still have somethign to do with it, but I'd check to see if it's reproducable sans-sbt

[2015-01-14 20:17] #321 closed, assigned to jsuereth

[2015-01-14 20:17] #647 closed, assigned to jsuereth

[2015-01-14 20:17] #1322 closed, assigned to jsuereth

[2015-01-14 20:17] #1616 closed, assigned to jsuereth

[2015-01-15 05:11] He-Pin commented on #1802
that would be very nice,cause with axel ,we could speed up the downloading

[2015-01-15 08:06] japgolly commented on #1718
This isn't exactly a test case but it should be a means of deterministically reproducing the issue.

Here is a skeleton SBT project. It contains no code, just the build setup from my main project at work in which I encountered this issue and #1711. I believe if you inspect the {compile, test, runtime} scoped classpaths of modules {base-test, webapp-server}, then drop the version back to 0.13.6 to

[2015-01-15 08:07] japgolly commented on #1718
FYI these issues still exist 0.13.7 final with both consolidated and cached resolution.

[2015-01-16 12:37] benhutchison commented on #1592
My experience: Hit this problem using 0.13.7. After disabling all plugins in `~/.sbt/` _and_ deleting `~/.ivy2`, I was able to clear it. Cleaning ivy cache was the last separate change I made that resolved it.

[2015-01-16 17:24] samthebest opened #1806 "SBT does not work behind proxy java.util.NoSuchElementException"
So when I'm not behind a proxy sbt works fine, not matter what combination of proxy settings I use for `SBT_OPTS` or `http_proxy` I cannot get sbt to work.  I think this is the case for basic authentication, ntlm and kerberos proxies. I can get brew, curl and wget to work behind proxies, and my collegues can get maven to work behind the proxies.  I've reached the conclusion that the proxy support

[2015-01-17 03:53] joescii commented on #752
Yo, @jsuereth... It's easily reproducible [here](https://github.com/joescii/sbt-reproduced/tree/issue-752).

[2015-01-17 04:03] freewind commented on #752
@joescii,thanks! Hope it get fixed soon

[2015-01-17 04:21] eed3si9n commented on #752
@joescii Thanks for the repro case.
In both yours and the original case, the dynamic revision is specified incorrectly according to Ivy's [dependency](http://ant.apache.org/ivy/history/2.3.0/ivyfile/dependency.html), which different from Maven's [Version Range Specification](http://maven.apache.org/enforcer/enforcer-rules/versionRanges.html).
- Resolving org.avaje.ebeanorm#avaje-ebeanorm-agent;[3.

[2015-01-17 05:38] indrajitr commented on #1806
Use the System Properties `http.proxyHost`, `http.proxyPort`, `http.proxyUser`, `http.proxyPassword` etc. via `-Dkey=value` pattern.

[2015-01-17 08:21] indrajitr commented on #1806
Please take a look at the relevant [docs](http://www.scala-sbt.org/0.13/docs/Setup-Notes.html#HTTP%2FHTTPS%2FFTP+Proxy). Feel encouraged to follow up on [sbt-dev](https://groups.google.com/forum/#!forum/sbt-dev) if this doesn't work for you.

[2015-01-17 08:21] #1806 closed, assigned to nobody

[2015-01-17 11:16] joescii commented on #752
I see... So the repos in the overrides must be ivy style whereas a resolver can be either?

Joe

Sent from my iPhone

[2015-01-18 08:06] alisa-rend opened #1809 "sbt ~run error (windows 8.1)"
[code]

![](http://i.imgur.com/Z5eeMUF.png)

[2015-01-18 10:10] eed3si9n commented on #752
@joescii I've been looking into this more.
As you suggested, sbt does support Maven repository on its resolvers, so it _should_ handle Maven's version semantics.

There are some puzzling things, however. I tried running your repro case locally, and my failure is different from what's on your README:

[code]

Next I went looking for other examples of Maven version range.

[code]

One I found is:

[

[2015-01-18 10:10] #752 closed, assigned to nobody

[2015-01-18 10:22] samthebest commented on #1806
So I've been using the SBT_OPTS environment variable, which certainly does something, but does not make my proxy work.  Like I said, I have tried many permutations of the flags and environment variables.  SBT is indeed using my proxy settings, but it does not work.  As mentioned, _all_ other tools I need to use I can make work behind my proxy, only SBT does not work, therefore it is logical to ass

[2015-01-18 11:01] alexdupre opened #1810 "SFTP and SSH resolvers are not correctly used to download dependencies since 0.13.1"
Since sbt 0.13.1, sftp/ssh respositories are not handled correctly to pull dependencies from, no connection is attempted to remote host. The same setting works for publishing.
Switching to sbt 0.13.0 makes everything work as expected.

[2015-01-18 12:37] alexdupre commented on #1810
sample build.sbt:

[code]

compile output with sbt 0.13.0:

[code]

compile output with sbt >= 0.13.1:

[code]

The following two lines are missing in the second run:

[code]

and in fact no connection is attempted.

[2015-01-18 18:49] eed3si9n commented on #1809
Please follow [What to report](https://github.com/sbt/sbt/blob/0.13/CONTRIBUTING.md#what-to-report) and list out all environment that could be contributing to this behavior:
- how your sbt was installed
- what version of sbt
- list of your global settings and plugins
- your build

[2015-01-18 19:01] eed3si9n opened #1811 "Cached resolution issues"
This issue is a summary of cached resolution issues:
- <s>#1711 Cached resolution: pulls in % "test" dependencies from other subproj</s>
- <s>#1730 Cached resolution doesn't handle test-dependency in multi-project build</s>
- <s>#1758 Cached resolution interferes with exclusions and custom configs</s>
- <s>#1760 cached resolution: transitive dependency survives even after its caller is evicted</s>

[2015-01-18 19:15] alisa-rend commented on #1809
Scala version 2.11.5 (Java HotSpot(TM) 64-Bit Server VM, Java 1.7.0_7
sbt.version=0.13.5

[2015-01-18 19:21] alisa-rend commented on #1809
video -> http://a.pomf.se/aycalg.mp4

[2015-01-18 19:36] eed3si9n commented on #1809
Thanks for the video.
So `~run` works from the Activator shell, but

[code]

doesn't work on what seems to be Cygwin running with Bash.
Could it be [tilde expansion](http://www.gnu.org/software/bash/manual/bashref.html#Tilde-Expansion)? On my Mac and zsh I get

[code]

but

[code]

seems to work. Could you try with double quotes?

[2015-01-18 19:43] alisa-rend commented on #1809
nice!

@eed3si9n thanks!! :+1:

[2015-01-18 19:43] #1809 closed, assigned to nobody

[2015-01-18 19:53] eed3si9n opened #1812 "Unify sbt shell and build.sbt syntax"
The sbt 0.13 shell syntax

[code]

and sbt 0.13 build.sbt DSL syntax discrepancy makes learning curve steep. There has been several proposal of unifying the two.

## idea 1: improve both shell notation and build.sbt syntax so they can be unified

[code]

<s>

## older idea: allow build.sbt expression in sbt shell

Things to consider are scoping and passing in input task arguments.

[code]

This is

[2015-01-18 19:56] joescii commented on #752
That's funny because at some point I added the comma to get it to work at all.  Maybe I had some other problem and I never went back to undo the unneeded comma.  I removed it and it seems to work here.  Now I've got to figure out what I've done wrong with my repos file at work.

Glad this old issue can be closed tho. :+1:

[2015-01-18 21:17] adamdecaf opened #1813 "2.11 Release?"
Hey all, I'm trying to build some plugins for 2.11 and running into issues. It looks like there's no 2.11 release of sbt, so you can't compile macros because the existing releases are all build on scala 2.10. Is there a timetable / snapshot / nightly / anything I can use?

I'm seeing these errors

[code]

That lead me to several SO articles, and this one is just the best answer. (Even if its from

[2015-01-18 21:19] alexdupre commented on #1810
This is the commit that seems to have introduced this regression: 2a3462ac12bf455e93cdd9cdced02fc042087ab2

[2015-01-18 21:24] eed3si9n commented on #1813
At the moment we don't have timetable / snapshot / nightly / anything that you can use.
One thing you might give it a shot is to use [Fork API](http://www.scala-sbt.org/0.13.7/api/index.html#sbt.Fork$). sbt is able to build Scala 2.11 code using 2.11.5 compiler even though we are based on Scala 2.10. If you mimic what we do for compilation, you might be able to get your stuff working before we rel

[2015-01-18 21:58] eed3si9n commented on #1810
Nice. Thanks for the detective work.

[2015-01-18 22:49] adamdecaf commented on #1813
Hmm, that's too bad. I'll just wait for a proper 2.11 release then.

[2015-01-18 22:49] #1813 closed, assigned to nobody

[2015-01-19 09:48] wwaites opened #1814 "Resource limit for initialisation"
I had to patch sbt-launch-lib.bash to make sbt run on the computing cluster at my school. The reason is that resources, memory in this case, are controlled and though sbt will itself start java with -Xmx512M by default which is perfectly acceptable, part of the startup routines attempt to call java on its own to detect the version. This meant changing the following line,

  java_version=$("$java_c

[2015-01-19 12:24] alexdupre commented on #1810
As a workaround I've set this specific pattern:

[code]

and it worked, but I suppose it should have worked also with the implicit pattern.

[2015-01-19 16:43] deanwampler opened #1815 "Can't use Scala 2.11 -Ywarn-unused-import because it trips up the initialCommands"
I'm trying to use the Scala 2.11 `-Ywarn-unused-import` option while compiling, but not in the console, where it effectively disables the ability to use most imports, especially in `initialCommands`.

Here's a sample `./project/Build.scala` file:

[code]

Here's a sample `./build.sbt`:

[code]

Once I start sbt, I see the following:

[code]

But when I start the console, I get this:

[code]

It ap

[2015-01-19 16:49] dwijnand commented on #1815
This is because console is actually `compile:console`, see http://stackoverflow.com/questions/26940253/in-sbt-how-do-you-override-scalacoptions-for-console-in-all-configurations

[2015-01-19 17:23] deanwampler commented on #1815
I now and that's the problem. It should be overridable.

[2015-01-19 17:31] deanwampler commented on #1815
Okay, it looks like

[code]

does work, so I'll close this. However, it would be nice if

[code]

were flagged as a no-op.

[2015-01-19 17:31] #1815 closed, assigned to nobody

[2015-01-19 17:42] som-snytt commented on #1815
It sure is nice having config in Scala, because if it compiles, it just works.

[2015-01-19 19:36] jsuereth commented on #1815
@deanwampler There's a feature request for that.  The issue with flagging it as a no-op was the false-alarm rate was super-high.   I'll talk with @havocp to see if we can revive the branch.

[2015-01-19 19:37] jsuereth commented on #1812
I really like this idea.   Does this mean the Command engine disappears?  cosnoleProject is very much not compatible with it.

[2015-01-19 19:38] jsuereth commented on #1812
i.e. I think you need to add notes of `<command>` working and `<last>` etc.

[2015-01-19 22:35] eed3si9n commented on #1812
I don't know if we can get there in time. All I'm saying is that if people want to experiment with unified syntax, we already have `consoleProject`.

[2015-01-20 08:23] sgronblo opened #1818 "sbt fails to correctly determine binary compatibility for scala-actors-migration"
I am trying to get rid of a warning I am getting when using the SBT plugin in Intellij.

[code]

I am still researching the problem, but I just wanted to put this up quickly and see if anyone has any idea what's going on. Judging by the patterns `CrossversionUtil.scalaApiVersion` it seems that SBT always expects the version to contain the full semantic version as a substring of the dependency name

[2015-01-20 11:21] dwijnand commented on #1814
Here is what you want https://github.com/sbt/sbt-launcher-package/blob/1735b0b7ecd4636ce2890961024e015e74c1c2db/src/universal/bin/sbt-launch-lib.bash#L136

[2015-01-20 12:06] sgronblo opened #1819 "There should be an error when scalaVersion conflicts with a dependencies scala-library requirement"
Today I spent many hours debugging why Intellij stopped being able able to set the Scala SDK for subprojects in a multi-project configuration.

In the end it turned out that we had set scalaVersion to 2.11.2 while ScalikeJDBC 2.2.0 (which we were using) had a dependency on scala-library 2.11.4

Is this something that SBT should be raising an error for or would this be an Intellij Scala plugin prob

[2015-01-20 21:20] #1087 closed, assigned to nobody

[2015-01-20 21:21] fommil commented on #1083
ENSIME no longer does the compile, so no need to share. It would be good if we could plug in to the presentation compiler while you're doing a compile but I think that's more of an issue for scalac

[2015-01-20 21:21] #1083 closed, assigned to nobody

[2015-01-20 21:24] fommil commented on #1519
btw, I work around this with these lines at the top of my sbt script https://github.com/fommil/unix/blob/master/bin/sbt

[code]

[2015-01-20 21:25] fommil commented on #1567
I have a workaround for this, so it is no longer an issue

Put this in ~/.sbt/0.13/proxy.sbt (insert proxy address in place of localhost):

[code]

[2015-01-20 21:25] #1567 closed, assigned to nobody

[2015-01-20 21:26] fommil commented on #1678
this seems to have gone away with increasing 0.13.6-RCs. Weird.

[2015-01-20 21:26] #1678 closed, assigned to nobody

[2015-01-21 01:54] mauhiz commented on #1776
This issue also impacts IntelliJ's SBT plugin.

[2015-01-21 01:58] fommil commented on #1776
Funny you say that. I helped a colleague with this today using the gen-idea plugin. Workaround was to fall back to rc3

[2015-01-21 07:44] akkie opened #1820 "Typesafe releases repo fronts jCenter ("The HTTP response code for X.jar did not indicate a success.")"
## steps
1. use sbt 0.13.7.
2. create `build.sbt`:

[code]
## problem

[code]
## original report

Please see https://groups.google.com/forum/#!topic/sbt-dev/EQVZGcYtBp0

For a project I use the Atlassian jwt-core-1.2.1.jar library which is hosted on bintray.com. If I see it right then this library is mirrored into the typsafe repository, because the file is available under the following URL:

http

[2015-01-21 10:27] krchniam opened #1821 "Typesafe releases fronts jCenter (and sbt marks artifact download as failed, even when artifact is downloaded successfully)"
I stumped upon similar issue as #1820 today when upgrading to akka 2.3.9 (with sbt 0.13.7).

We have configuration, which uses our company nexus as proxy for maven central and other repositories. External resolvers are overriden, because we don't want use maven central directly, but mirrored by our proxy (we have enabled cached resolution, but that doesn't have impact on this issue):

[code]

Prob

[2015-01-21 11:18] shkate opened #1822 "Extra logger doesn't catch all log messages (SBT v >= 0.13.6)"
We have a small plugin that register extra loggers to wrap SBT log messages in a way TeamCity (JetBrains CI solution) can catch them.
The source code is here and it is really very simple: https://github.com/JetBrains/sbt-tc-logger
Extra logger is registered here: https://github.com/JetBrains/sbt-tc-logger/blob/master/logger/src/main/scala/jetbrains/buildServer/SbtTeamCityLogger.scala

For SBT v 0.

[2015-01-21 13:12] jsuereth commented on #1678
Is this a mutli-project build and were some classes being read from other modules?

[2015-01-21 13:13] jsuereth commented on #1820
Which version of Activator?  I think activator just lives on sbt, but I believe that's version 0.13.6 right now....

[2015-01-21 13:14] jsuereth commented on #1821
Can you let us know which HTTP response code was returned, if not 200? I believe Ivy demands a 200.

[2015-01-21 13:15] jsuereth commented on #1819
which version of sbt?   You should be getting warnings in 0.13.7.

[2015-01-21 13:17] jsuereth commented on #1818
WE hardcode the binary version detection to "org.scala-lang". i.e. we assume all "org.scala-lang" JARS should have the same version, while "org.scala-lang.modules" are things which have regular sbt cross-version semantics.    Actors Migration appears to be neither of these, so there's not a lot we can do without special casing actors-migration..   THe warning is erronous, so thanks for the report!

[2015-01-21 13:21] jsuereth commented on #1814
So, you should be reporting to teh sbt-launcher-package project.  However, check out:

https://github.com/sbt/sbt-launcher-package/blob/1735b0b7ecd4636ce2890961024e015e74c1c2db/src/universal/bin/sbt-launch-lib.bash#L188-L195

And

https://github.com/sbt/sbt-launcher-package/blob/1735b0b7ecd4636ce2890961024e015e74c1c2db/src/universal/bin/sbt-launch-lib.bash#L75-L92

If you want to fully fix the scr

[2015-01-21 13:21] jsuereth commented on #1814
I'm marking this "wontfix" in sbt/sbt and you can re-open in sbt-launcher.  Feel free to ping sbt-dev with more about your use-case if you'd like to discuss possible alternative solutions.

[2015-01-21 13:21] #1814 closed, assigned to nobody

[2015-01-21 14:27] akkie commented on #1820
Activator is 1.2.10 and uses sbt 0.13.5

[2015-01-21 14:56] krchniam commented on #1821
Dowloading akka-actor from https://repo.typesafe.com/typesafe/releases/com/typesafe/akka/akka-actor_2.11/2.3.9/akka-actor_2.11-2.3.9.jar returns status code 302 with header `Location: http://jcenter.bintray.com/com/typesafe/akka/akka-actor_2.11/2.3.9/akka-actor_2.11-2.3.9.jar`

[2015-01-22 02:36] sgronblo commented on #1819
It seems we were setting sbt.version to 0.13.5 in our build.properties. I tried upping it to 0.13.7 and then I can actually see warnings that the scalaVersion got increased. Unfortunately the message is vague and doesn't mention the exact library that caused the scalaVersion to be updated. That would be a very useful addition. Additionally when using sbt 0.13.7, the Scala plugin seems to pick up t

[2015-01-22 03:20] jsuereth commented on #1819
interesting.   BTW - have you seen `show update` or hte update reports we generate?

Also `evicted` should dump a report of evicted libraries and "callers" which should show you at least what libraries depend on scala (one of them caused the bump, but we actually don't' remember who caused the bump during resolution, we only unify the dependency node to the latest version).

[2015-01-22 05:02] sgronblo commented on #1819
`show update`? I'm a quite new sbt user and I am trying to maximize the amount of work I can get done from inside of Intellij.

Could you add a feature that retains at least one or all of the dependencies that caused the bump? It sounds like it could be useful so you don't need to go through the dependencies manually to check it.

[2015-01-22 09:10] fommil commented on #1678
nope, one module.

[2015-01-22 09:10] eed3si9n commented on #1822
If debug message works, but nothing else, there may be two reasons. sbt's log somehow changed its behavior, or the log is no longer listening to what used to produce log messages. What's interesting about debug, however, is that [TCLogger.scala](https://github.com/JetBrains/sbt-tc-logger/blob/f9c6360f07b5d9ffa10afddfa1a64428dbfd33b2/logger/src/main/scala/jetbrains/buildServer/TCLogger.scala#L30-L3

[2015-01-22 09:22] eed3si9n commented on #1819
I'm glad eviction warning (#1201) is doing at least some of the jobs raised in the original issue.
I think it already says:

[code]

We can print more stuff, but we also get lots of complaints that eviction warnings are too loud, so we can't please everyone. I guess it's useful the first time you find out, but after a while it gets old.
Can we close this issue, as far as the Scala version thing is

[2015-01-22 09:28] sgronblo commented on #1819
Yeah I'm ok with closing it. It seems I was just using a too old version of SBT.

[2015-01-22 09:28] #1819 closed, assigned to nobody

[2015-01-22 12:26] shkate commented on #1822
Thank you for your comments. Regarding "TCLogger.scala says it's not listening to them" - I've changed it locally, so it was listening.
I will try to figure out what to do with auto plugin in my case. Thank you to pointing me there. Maybe you know some projects which use extra loggers? It would be really helpful to take a look on them.

[2015-01-23 12:44] heffer commented on #1673
+1 because my Jenkins jobs at work are failing sporadically (more frequently under high load) with this bug. And I've already set "parallelExecution in Global := false".

[2015-01-23 14:30] jsuereth commented on #1673
Do you have multiple projects targeting the same "target" directory for classfiles?  That could definitely lead to this race...

[2015-01-23 14:38] #1001 closed, assigned to eed3si9n

[2015-01-24 07:05] heffer commented on #1673
No, every sub-project has its own target directory for classfiles.

[2015-01-24 21:57] eed3si9n commented on #1822
Could you clarify what you mean? Do you still suspect that there's some issue with sbt, or it's now resolved?

I just did a Github search on [extraLoggers and found many hits](https://github.com/search?l=scala&q=extraLoggers&type=Code). Hope this helps!

[2015-01-24 22:47] shkate commented on #1822
I've just found the problem was not in extra logger itself but in a way how the plugin was registered. We've added it as a jar we put in /plugins folder. And before sbt 0.13.6 it worked. And then occasionally stopped.  It was my fault not to check this option. But as far as some log messages appeared in our logger it didn't come to my mind. If I add plugin the way you did - it works.
So I can say

[2015-01-25 01:49] #1822 closed, assigned to nobody

[2015-01-25 01:50] eed3si9n commented on #1822
No problem. Good luck.

[2015-01-26 10:30] iceberg901 opened #1824 "Cannot parse snapshot xml from local ivy while offline"
While working with no internet connection:
- I publish a snapshot to my local ivy using sbt publish-local
- I try to build another project that depends on that snapshot

It seems that sbt can find the local copy of the snapshot, but then raises the following error:

[code]

So clearly http://maven.apache.org/xsd/maven-4.0.0.xsd cannot be reached when I am offline, but I'm guessing it doesn't chang

[2015-01-26 16:24] Warry opened #1825 "sbt completion json forget current search term"
When searching for let's say `run`, the autocomplete list in activator looks like this:

[code]

It's missing the `run` command, but we have two empty commands (`""` and `" "`).

[2015-01-26 20:01] apathanrb opened #1826 "Mixed java/scala project build"
I have an existing Java project with Ant build that I am trying to set up to build with mixed source (Java and Scala).

I hava a Java interface defined as - `public interface One<T extends Two<? super T>>` that when I run scalac from Ant build, I get the following error at `<? super T>`:

[code]

Since I want the Scala and Java class to be inter-dependent in my project, I first run the scalac task

[2015-01-27 07:22] mosesn opened #1827 ""configuration not public" on local test->test dependency if the same version has been resolved out of a public Maven repository"
# Problem

I saw this problem on [stackoverflow](http://stackoverflow.com/questions/26235997/teamcity-cant-resolve-test-artifact-from-nexus-with-configuration-not-public) too, but it didn't seem like it had been solved, and I couldn't find an issue, so I'm posting it here.

I'm trying to do development on twitter/util, but when I try to run update on util-collection, it tells me:

[code]

I tried

[2015-01-27 07:23] mosesn commented on #1827
More interesting stuff:

[code]

[2015-01-27 07:42] pauldraper opened #1828 "Better crossScalaVersions default behavior"
**build.sbt**

[code]

**project/build.properties**

[code]

Then

[code]

---

**build.sbt**

[code]

**project/build.properties**

[code]

Then

[code]

---

It seems that the default behavior for `crossScalaVersions` was better in 0.12. Is there a deliberate reason this changed?

[2015-01-27 13:13] nik-kashi opened #1829 "setting port for publishing server Credential cause error"
setting the port in credential of server:
`credentials += Credentials("Sonatype Nexus Repository Manager", "192.168.2.222:8081", "admin", "SECRET")`

 publish command (activator publish) causes this error :
`[error] Unable to find credentials for [Sonatype Nexus Repository Manager @ 192.168.2.222].`

and after removing port publishing works properly, means:
`credentials += Credentials("Sonatype Ne

[2015-01-27 18:37] dpratt commented on #1776
I'm seeing this as well - I'd vote for this to get fixed in 0.13.8, if possible. It's pretty annoying.

[2015-01-28 01:35] dshefchik commented on #321
I'd just like to add that I found a pretty good workaround for this issue.

If you prepend instead of append your local Maven repo to the SBT resolver sequence, SBT will resolve updated dependencies from there first. It might not work for you but I'm happy in the meantime.

Here's my build.sbt:

[code]

[2015-01-28 01:53] jsuereth commented on #321
Yeah, Ivy/sbt generally uses the resolver-order to determine what dependencies to use.  This is different (slightly) from how people expect maven to work, and it wasn't (previously) safe for us to directly use the local maven cache as a remote repo.   Now, we should be able to.

[2015-01-28 08:17] dwijnand commented on #321
Josh do you mean as of Aether being used or some other change?
On 28 Jan 2015 01:53, "Josh Suereth" notifications@github.com wrote:

[2015-01-28 13:48] jsuereth commented on #321
No.   We actually added hooks to ignore resolver order and check "last modified" times in metadata recently as a workaround.  Before, ivy would take the first resolver that found an artifact, which for sbt was its local cache IIRC.

[2015-01-28 22:57] MasseGuillaume commented on #1655
@gkossakowski same error with 0.13.8-M2

[2015-01-29 17:28] matanox commented on #1046
I seem to get the same with sbt 0.13.5. I'm using a variant of the code above:

[code]

I get the same error for my variant and for the original code.
Can you advise please?

[2015-01-29 18:55] saeta opened #1830 "Command monitoring hooks for sbt instrumentation"
For company-wide SBT deployments, having monitoring capability for command execution (latency, success/failures, memory usage, etc.) can be invaluable in maintaining successful & reliable operation.

Thanks!
-Brennan
CC @richardchen331

[2015-01-30 09:46] matanox opened #1832 "resourceGenerators in Compile does not run on compile (but does run on Run)"
start a new sbt project:

build.sbt:

[code]

hw.scala:

[code]

Setup git:
`git init`
`git add .`
`git commit -am "initial commit"`

sbt compile it, you see only:

[code]

sbt run it, you see:

[code]

_System setup:_

Java HotSpot(TM) 64-Bit Server VM, Java 1.7.0_76)

[info] This is sbt 0.13.7
[info] The current project is built against Scala 2.10.4
[info] Available Plugins: sbt.plugins.IvyPlugi

[2015-01-30 15:28] xuwei-k commented on #241
https://github.com/tototoshi/sbt-build-files-watcher

[2015-01-31 16:01] sirthias opened #1833 "Support command history search via partial + up-arrow"
It'd be great if the SBT shell mirrored what ZSH does and supported quick history search by allowing me to type a command prefix and searching through the history upon pressing up-arrow.

`!prefixString` is already supported but requires me to remember which command is the last one starting with `prefixString` (not visual verification before running) and doesn't give me a chance to select between

[2015-01-31 16:21] OlegIlyenko opened #1834 "`<developers>` section is not rendered correctly in the pom.xml"
This change introduced the bug:

https://github.com/sbt/sbt/commit/183c2bcfe2a84295deea82eed2179a72c50289cc#diff-6e0d918801855e22733193038a712c35R108

The output in pom.xml looks like this:

[code]

[2015-01-31 18:19] jsuereth commented on #1829
This is actually by design, currently.  The underlying mechanism doesn't allow differentiating by port.

Do you have different credentials by port?  We'd have to do some heavy investigation yo see if we can support that use Case.

[2015-01-31 22:52] jozic opened #1835 ""completions" command prevents completion of "compile""
Small usability issue I'v talked with @eed3si9n today about

in sbt if you type "comp" and hit tab, it shows you available completions where all except one ("completions") start with "compile".
Renaming "completions" to something like "showCompletions" will make completion mechanism to stop on "compile" which is a much widely used task as opposed to "completions"

can go to 1.0 as a braking change

[2015-02-01 05:34] nik-kashi commented on #1829
Currently no. but it is possible to exists two repository server in one machine.

In other hand in SBT official documentation, not mentioned that port is not needed (If it is intentionally it should mentioned in docemantation):

http://www.scala-sbt.org/0.13/docs/Publishing.html

And I am spend many time to find that!

[2015-02-01 23:12] imeredith opened #1837 "Publish fails with 'Invalid characters in hostname' on JDK8."
I have been setting up a new laptop and my publish to jfrog was failing. Since I have it working on a different laptop I  realised the difference was the JDK version in use. Reverting from JDK8 to the Apple version of JDK6 fixed the below issue. I couldn't seem to find anyone else with this issue with Google so maybe its some bug that only gets hit by my specific setup?

java version "1.8.0_31"
Ja

[2015-02-01 23:13] jozic commented on #1834
+1

[2015-02-02 11:23] tarasshpek commented on #641
Hi guys. I can reproduce this bug in 0.13.5.

[2015-02-02 15:15] jsuereth opened #1838 "sbt-launcher fails to detach session when launching services"
When sbt-launcher launches a server we fail to call `setsid` in linux, leading to any signal passed to the client also reaching the server.    We should properly daemonize.

On linux, this should be as simple as checking for a utility called `setsid` on the command line and using this to fork the server process.

See: http://bytes.com/topic/java/answers/528276-subject-detach-daemon

[2015-02-02 17:01] matthughes opened #1839 "SBT publishes inconsistent ivy.xml"
Running with 0.13.7 final.

I've been trying to track down an issue where products downstream of mine don't see the upstream library.

I believe I've tracked it down to the publishing of the main artifact's ivy.xml file.  It is completely inconsistent.  I wrote a script that runs in a loop:

[code]

Half the time, the JAR gets added to the file; half it is not.   I have no other SBT builds running

[2015-02-02 17:07] jsuereth commented on #1839
Can you let us know what plugins you may be using, or is this on any generic project?

[2015-02-02 17:12] matthughes commented on #1839
[code]

Plus some company plugins.  I'm going to try and disable them one by one and see if I can't find the culprit.  Creating a completely empty project, I'm unable to reproduce.

[2015-02-02 18:35] eed3si9n commented on #1655
This is now fixed via #1754

[2015-02-02 18:35] #1655 closed, assigned to nobody

[2015-02-02 20:05] MasseGuillaume commented on #1655
@eed3si9n cool can you release this under v0.13.8-M3 ?

[2015-02-02 20:29] matthughes commented on #1839
@jsuereth Problem appears to be an AutoPlugin that is setting `artifacts` and `publishArtifacts` in their own configuration.

It seems like the default configuration which sets the main jar/sources artifacts flip flops with my custom configuration that right now products no artifacts.  I'd be happy to send you the gist privately.

The real problem that I'm trying to solve is to _conditionally_ att

[2015-02-02 21:48] xeno-by commented on #1655
\o/

[2015-02-02 21:49] eed3si9n commented on #1655
0.13.8-M3 should be out today.

[2015-02-05 15:03] DougC opened #1843 "Project settings are silently ignored when defined in root project and re-defined in subproject (0.13.6+)"
I have a complex (15-project) structure where I am defining lazy vals for each project in the root build.sbt and using dependsOn to declare the project dependencies.

In one of my sub-projects I had a build.sbt (defining extra library dependencies) that redundantly defined a lazy val for the project like this: `lazy val massnotSMSSender = (project in file(".")).enablePlugins(PlayScala)`

In 0.13.5

[2015-02-06 04:33] paddymahoney commented on #1832
This tripped me up as well.
http://grokbase.com/t/gg/simple-build-tool/12a8kwxvgm/sbt-resourcegenerators-not-being-invoked
"`compile` doesn't trigger resource generation because it isn't needed for compilation. It will get triggered for `package` or `run` or other tasks that need resources.

-Mark"

You will want to use the sbt logger in order to log your message:

[code]

Note that generated reso