[2018-01-17 15:29] DonMcNamara commented on #1791
I'm not an sbt expert, so there might be a better way. I had to add the `ivyLoggingLevel := UpdateLogging.Quiet` line to my build.sbt, _and_ to an sbt file in the `project` sub-directory.

[2018-01-17 19:31] er1c opened #3892 "Default working directory for forked vs non-forked runs/tests are different"
# Issue

The default working directory changes when `fork := true,` is specified.

Example command: `sbt "project subproject" "runMain foo.foo.App"`

Non fork:

Uses the top-level project directory as the working directory.

With `fork in Test := true,`:

Uses the subproject directory as the working directory.

# Expectation

I would expect the default behavior to be consistent.

# sbt version: 1.

[2018-01-18 09:58] dwijnand opened #3893 "ParseKey failures on CI"
I've now seen two incidence of `ParseKey` (in mainProj) failing. Once in #3865 8 days ago, now in  #3875.

---

In #3865 it failed with:

[code]

---

In #3875 it failed with

[code]

[2018-01-18 10:27] dwijnand commented on #3892
I'm not 100% certain if that should be the default, but as I was recently looking at how forking does things I think the change would have to be to change

https://github.com/sbt/sbt/blob/v1.1.0/main/src/main/scala/sbt/Defaults.scala#L752

to `workingDirectory = Some((baseDirectory in ThisBuild).value)`

[2018-01-18 13:27] joan38 commented on #3882
@dwijnand Do you know where can I report this bug? On https://github.com/sbt/zinc ?
It works all good with 0.13.16 but we get this consistantly as soon as we upgrade to 1.1.0

[2018-01-18 14:42] dwijnand commented on #3882
If that's the case then yes sbt/zinc rather than scala/bug. But in order to make any progress we'd need some information, like scala version, scala options, some sources that trigger the issue..

[2018-01-18 15:27] er1c commented on #3892
If I understand how the code currently works, the subdirectory project is being set to the working directory?  I can, of course, make an argument for that being the more "correct" behavior.  But the behavior still "diverges" from the above example of running `sbt "project subproject" "runMain foo.foo.App"` and the top-level project directory will effectively be the working directory for a non-fork

[2018-01-18 15:40] dwijnand commented on #3892
Yes I see what you mean. I'd have to look into the history of forking to see if it's possible to understand why this default was chosen.

Thanks for the analysis.

[2018-01-18 15:54] dwijnand commented on #3568
Done in https://github.com/sbt/sbt/pull/3824.

[2018-01-18 15:54] #3568 closed, assigned to nobody

[2018-01-18 16:20] SethTisue commented on #2975
is there a workaround?

[2018-01-18 16:31] dwijnand commented on #2975
none to my knowledge

[2018-01-18 16:53] dwijnand commented on #2975
you can run the input task "out-of-band" of the task graph evaluation (see the "CAVEAT" in https://github.com/sbt/sbt-buildinfo/tree/v0.7.0#usage) by using `Extracted#runInputTask`, e.g:

[code]

[2018-01-18 16:54] dwijnand commented on #2975
or maybe I've missed the memo and this is now supported by `Def.taskDyn`??

[code]

[2018-01-18 17:02] #2975 closed, assigned to nobody

[2018-01-18 17:46] fommil commented on #2899
related to #2534

[2018-01-19 10:09] e-kolpakov commented on #1725
Sorry for necro-posting, but was there any follow up on this? I've just banged my head against this issue for about half a day and adding `JvmPlugin` seems to still solve the problem in sbt 1.0.4.

Two questions though:

1. Is this still an expected way to go about it?
2. If so, it might be great to mention it somewhere in SBT docs - I mean something like "in order to override/append builtin keys

[2018-01-19 15:19] dwijnand commented on #1725
I'm not sure what your code looks like to still hit this, because JvmPlugin is now the default requires in sbt 1+..

[2018-01-19 16:55] sarahgerweck commented on #3871
Thanks @cunei for the guide and the fix. I was able to confirm that this patch is working for me. 😄
I'll hold my assembly projects at 1.0.4 for now and keep an eye out for 1.1.1.

[2018-01-20 18:40] j-keck opened #3894 "sbt fails under FreeBSD with 'java.nio.file.NoSuchFileException: <PATH>/project/target/scala-2.12/sbt-1.0/classes"
after i create the directory by hand, sbt compiles and run's my project.

## steps
To trigger the error under Linux, you need a new project and start sbt with 'sbt.io.jdktimestamps=true':

[code]
## problem
For FreeBSD there is no native handling for file-timestamps (in `sbt.internal.io.Milli`) so the
pure Java implementation with `java.nio.files.Files` are used.

The native implementations throws

[2018-01-21 13:16] sjrd commented on #3538
This is simply not true. I have a totally different way of testing sbt plugins, which results in much faster turnarounds, because it does not need to reload a new sbt instance for every single test. The idea is to have the build include the sources of the sbt plugin it defines, and have projects in the build itself that test the sbt plugin.

See for example how it's done in sbt-dynscalajs:
* [Sour

[2018-01-21 19:18] suriyanto commented on #3187
I'm encountering the same issue when trying to use the class from other subproject inside the test for the current subproject. The `;clean;compile` workaround does not seem to help in this case.

[2018-01-22 07:56] lloydmeta opened #3895 "Infinite loop when running a runMain task inside another task that is triggered by compile"
I'm not quite sure if this is working by design, but I came across this while trying to write a function that takes a `Task[Set[File]]` (or a `TaskKey` for one) and produces another `Task[Set[File]]`, wrapping it in `FileFunction.cached` so that the original task is only invoked according to the contract in `FileFunction.cached`.

## Steps

1. Clone https://github.com/lloydmeta/sbt-cached-filetask

[2018-01-22 11:10] dwijnand commented on #3710
For anyone looking to implement this API it would be best to define it using the logic already defined in https://github.com/sbt/librarymanagement/blob/v1.1.2/core/src/main/scala/sbt/librarymanagement/VersionNumber.scala (and then re-implement the `VersionNumberCompatibility` implementations in terms of this ordering API).

[2018-01-22 11:13] MasseGuillaume commented on #3710
see also: https://github.com/scalacenter/versions

[2018-01-22 11:16] #3646 closed, assigned to nobody

[2018-01-22 11:28] andrii-kovalenko-ct commented on #3873
@dwijnand @cunei
any suggestions? so what should be done for the fix?

[2018-01-22 11:40] dwijnand commented on #3873
I don't have time to do further research myself. Feel free to do so yourself and experiment with different potential fixes.

You're free to go as in-depth or as superficial (like my `GREP_OPTIONS= grep ' version "'` suggestion) as you'd like.

[2018-01-22 12:21] cunei commented on #3894
Thanks for the report @j-keck. Actually, since you are using FreeBSD, we can also add the relevant native code; it should be rather easy. In theory, we should just need to add a variant of `StatLong` (assuming you are on x86_64), using different constants. Can you please let me know the output of the following test on your machine?
[code]

[2018-01-22 12:24] e-kolpakov commented on #1725
@dwijnand Like this: https://gist.github.com/e-kolpakov/856c986453556165401a7cba4d36ffbc

Before adding `JvmPlugin` dependency explicitly, neither generation nor cleaning up didn't work. Initially I've worked it around by appending to `resourceGenerators` and `cleanFiles` in the build.sbt (not the plugin), but than I've found this issue, gave it a try and it worked.

I'm not so sure what am I doin

[2018-01-22 12:39] j-keck commented on #3894
[code]

[2018-01-22 13:10] cunei commented on #3894
Awesome! I'll prepare a patch for you to try.

[2018-01-22 13:28] bosyi commented on #2200
Any updates on this? Workaround with LocalProject is still only way?

[2018-01-22 13:35] dwijnand commented on #2200
Yeah you need to either provide the type or use a project reference like `LocalProject`.

[2018-01-22 14:50] dwijnand commented on #3110
Can anyone provide a reproduction of this? Can't reproduce with sbt 1.1.0 and a build.sbt of:

[code]

[2018-01-22 14:59] jvican commented on #3110
This issue was not easy to reproduce IIRC. You can try if https://github.com/scalacenter/sbt-release-early/ compiles with 1.1.0 if you remove the `StableDef` trick, I did it there because I got the error there for the first time. If it compiles, this ticket can be closed.

[2018-01-22 16:05] bosyi commented on #2200
I tried to set type `ProjectReference` to root project, sbt runs, but configuration of root project not applied then. like fork/true in settings. without `ProjectReference` all good

[2018-01-22 16:52] eed3si9n commented on #3128
Fix is merged to upstream (https://github.com/jline/jline2/commit/b241ec46fd7baa838540a8087923696f4abd4078). Now waiting for a new JLine 2 release.

[2018-01-22 17:38] cunei commented on #3894
I tested the basic code in a VM, and it seems to work ok.

@j-keck Please let us know if you can test the pull request whenever you have some time. Thanks!

[2018-01-22 18:27] eed3si9n commented on #3538
@sjrd I implemented https://github.com/sbt/sbt/pull/3875 as an AutoPlugin that enables both scripted and `sbtPlugin := true`. I'd advertise that as a way for creating plugins once it's released, but it won't necessarily add dependency to plugins.

[2018-01-22 19:32] hseeberger opened #3896 "OutOfMemoryError"
Using sbt 1.1.0 and Java 8 on macOS 10.13.2. Since sbt 1.0 I get `OutOfMemoryError` all the time. Any ideas how to handle that?

[2018-01-22 22:38] eed3si9n commented on #3896
Give it more memory?
Do you have `JAVA_OPTS` or `SBT_OPTS` defined?

[2018-01-22 23:23] hseeberger commented on #3896
How exactly?

[2018-01-22 23:25] eed3si9n commented on #3896
[code]

[2018-01-23 08:07] hseeberger commented on #3896
Thanks. Will give it a try.

[2018-01-23 08:08] j-keck commented on #3894
@cunei i currently compile sbt with your changes, and will test it later today. Thanks for your effort!

[2018-01-23 09:19] ghisvail commented on #3874
Or direct users to the official installation [instructions](https://nodejs.org/en/download/package-manager/) which advise to install the `nodejs` package via the NodeSource repository. The cli entrypoint is called `nodejs`, not `node`.

[2018-01-23 10:27] dwijnand commented on #2899
Some details of `derive`, which is a workaround for this issue: https://gist.github.com/eed3si9n/bf561bce36ca72b5f659

[2018-01-23 12:45] cunei commented on #3894
The two PRs are merged, closing the ticket.

[2018-01-23 12:45] #3894 closed, assigned to nobody

[2018-01-23 17:40] alexdupre opened #3898 "sbt 1.1.0 tries to read a missing directory"
## steps
1. Create an empty project with just the following two files:

% cat build.sbt
scalaVersion := "2.12.4"
% cat project/build.properties
sbt.version=1.1.0

2. run sbt

## problem

[error] java.nio.file.NoSuchFileException: /usr/home/my-user/my-project/project/target/scala-2.12/sbt-1.0/classes
[error]         at sun.nio.fs.UnixException.translateToIOException(UnixException.java:86)
[error]

[2018-01-23 17:50] cunei commented on #3898
This is the same issue described in https://github.com/sbt/sbt/issues/3894, which is already fixed in https://github.com/sbt/io/pull/121. It will be included in 1.1.1, which will be released soon.

[2018-01-23 17:50] #3898 closed, assigned to nobody

[2018-01-24 01:27] #3514 closed, assigned to eed3si9n

[2018-01-24 01:27] #3538 closed, assigned to eed3si9n

[2018-01-24 01:27] #3656 closed, assigned to eed3si9n

[2018-01-24 04:33] lev112 opened #3899 "Typesafe config loading fails in sbt 1.1.0"
## steps
clone this project: https://github.com/lev112/sbt1_config/tree/master
run
[code]

## problem
[code]

## expectation
should print
[code]

## notes
sbt version: 1.1.0

I have the following scenario:
`module.conf` is a self contained config file, that sets the value of `x`

in `application.conf`, I include the `module` conf, and overwrite some value
in sbt 0.13.16 the config is loaded and pa

[2018-01-24 06:37] eed3si9n commented on #3899
This is to be expected since sbt 1 uses ssh-config 0.2.2, which in turn uses config 1.2.0 https://github.com/lightbend/ssl-config/blob/v0.2.2/project/Dependencies.scala

[2018-01-24 06:37] #3899 closed, assigned to nobody

[2018-01-24 06:55] lev112 commented on #3899
is there any workaround for this?
can I force sbt to use the latest config version?

[2018-01-24 10:18] 2m commented on #3899
By downgrading to 1.2.0 you are stepping on this issue: https://github.com/lightbend/config/issues/136

You can workaround it by changing `application.conf` to
[code]

[2018-01-24 15:35] edmondop commented on #2451
The workaround doesn't work anymore in 0.13.16

[2018-01-24 17:31] mdedetrich opened #3900 "Make -Dsbt.task.timings=true work with run"
## steps
Run sbt with the `-Dsbt.task.timings=true` option. Then use the `run` command

## problem

No timings are shown for `run` or any of its sub commands

## expectation

Like with other tasks, timings are properly shown when you use `run`

## notes

In one of our internal company projects, there was a severe regression in SBT or one of our plugins where doing `run` on our project takes around

[2018-01-24 22:30] eed3si9n opened #5600 "overwrite flag was relaxed for file repo"
Originally reported on Gitter.

## steps

[code]

1. publishLocal
2. publishLocal

## problem

The JARs are overwritten, even though overwrite flag is set to `false`.

[code]

## expectation

The JARs are NOT overwritten.

## notes

This was intentionally relaxed in https://github.com/sbt/sbt/pull/1160/ for file repositories as a workaround to https://github.com/sbt/sbt/issues/1156.
We should stud

[2018-01-25 09:53] dwijnand commented on #3645
This is because log4j2 is used as the logging framework of sbt 1, and the selected backend for slf4j. So you can't use logback instead. :-/

[2018-01-25 09:53] #3645 closed, assigned to nobody

[2018-01-25 09:55] dwijnand commented on #685
Fixed by implementing per-platform native code for millisecond precision: https://github.com/sbt/io/pull/92.

[2018-01-25 09:55] #685 closed, assigned to nobody

[2018-01-25 11:07] mdedetrich commented on #3900
So I tried making an alias to `run` that is a pure task, i.e.

[code]

But it still didn't make a difference, i.e. there is no useful timing information that is being outputted when using `run`. Seems like this is a more fundamental issue as to how the tasks are run.

[2018-01-25 13:21] OlegYch commented on #3738
welp apparently https://github.com/sbt/librarymanagement/pull/204 doesn't fix anything
the issue is probably caused by sharing ssh sessions via `org.apache.ivy.plugins.repository.ssh.SshCache` and accessing it from different threads in `sbt.internal.librarymanagement.ivyint.ParallelResolveEngine`
a reliable way to reproduce this is to have more than one dependency downloaded via sftp (although thi

[2018-01-25 16:46] raboof opened #3902 "discoveredMainClasses does not include java classes in the default package"
## steps

Create a project with at least a main class in `src/main/java` without a package declaration

## problem

`run` does not pick up this class because `discoveredMainClasses` does not include it

## expectation

I expected to be able to run/select this class when issuing `run`

## notes

sbt version: 1.1.0

[2018-01-25 17:54] eed3si9n opened #3903 "Resolver.withDefaultResolvers got renamed to combineDefaultResolvers"
## steps

http://www.scala-sbt.org/1.x/docs/Library-Management.html

[code]

## problem

Doesn't work.

## expectation

The doc uses combineDefaultResolvers. Also mention that in migration guide.

[2018-01-25 18:08] mdedetrich commented on #3900
Also note that sbt-optimizer (https://github.com/jrudolph/sbt-optimizer) also doesn't work with `run`

[2018-01-26 06:27] tobidelbruck commented on #285
Thanks  a lot for this useful thread. It solves the problem also with usb4java, which requires multiple classifiers for the various native libraries. For usb4java, the workaround is to use

[code]

_xmlns:m="http://ant.apache.org/ivy/maven"_ in the ivy module definition is somehow needed since simply specifying a classifier for each artifact causes an exception.

[2018-01-26 10:34] dwijnand commented on #3903
Just curious, any reason this is an sbt/sbt issue rather than an sbt/website issue?

[2018-01-26 10:35] dwijnand commented on #3738
should we revert sbt/librarymanagement#204?

[2018-01-26 14:29] OlegYch commented on #3738
@dwijnand don't think so, it doesn't seem to hurt

[2018-01-26 15:19] dwijnand opened #3904 "The inspect command doesn't reverse scope delegation"
## steps

I'm looking to see what key defines the `target/scala-2.12/classes` and `target/scala-2.12/test-classes` directories:

1. `inspect target`
2. find `crossTarget`, `show crossTarget` looks right ("target/scala-212")
3. `inspect crossTarget`

## problem

There's nothing in the reverse dependencies of `crossTarget` leading to the `classes` and `test-classes` directories.

## expectation

I e

[2018-01-27 11:24] fdietze commented on #2834
It seems to work now. (SBT 1.1.0, Scala 2.12.4)

[2018-01-27 11:24] #2834 closed, assigned to nobody

[2018-01-27 22:00] laughedelic commented on #3482
I still experience it in sbt 1.1.0. It's not #3661, because I can reproduce it with
* opening `console` more than 1 time
* or running `clean`, `compile` and then opening `console` (the first time in this session)

[2018-01-28 01:32] bjonnh commented on #3750
This solved my problem of not being able to use banana-rdf in my project.
https://hastebin.com/ixiqixosan.nginx

[2018-01-28 15:09] yaniveliash opened #3905 "SBT 1.1.0 Ignore ivy resolvers"
## steps
1. Setup private nexus repository based on SBT recommendation (separate repositories for maven and ivy)
2. Configure repositories file in your .sbt directory with the ivy scheme
3. Configure credentials for your private nexus repository
4. Try to build your project (in my case with sbt-assembly)

## problem
SBT resolve all the ivy dependencies from typesafe and not from my repositories fi

[2018-01-28 17:38] akauppi commented on #2901
Updated both the A and B projects to use sbt 1.1.0 and Scala 2.12.4, to check if it's still there.

Yes, it is.

Using `sbt +update` on the dependency side is a quite usable workaround, but should be mentioned somewhere (I'd add a note at the `ProjectRef` discussion, because that's really where the effect is).

But, without a search in [sbt 1.1.0 documentation](http://www.scala-sbt.org/1.x/docs/in

[2018-01-28 18:31] akauppi commented on #3232
The [Akka documentation](https://doc.akka.io/docs/akka/current/index.html?language=scala) having a pretty well functioning search these days seems to have raised my expectation levels. Not having search in sbt simply made me quit my visit to the docs, today.

I was trying to find `ProjectRef` mention on sbt 1.1.0.

How difficult would it be to align sbt documentation with Scala / Akka, experience-

[2018-01-28 18:39] akauppi commented on #3856
I'm noticing two things:

- Your HomeBrew is installed to a non-standard location (`~/.brew`). That should be okay, but most installations are to the default `/usr/local`.
- You are launching the inner `sbt` command, instead of the wrapper that's normally used. e.g. for me:

[code]

What does your `which sbt` say?

Try launching `./.brew/bin/sbt`.

In addition, it's good to run "brew doctor" from

[2018-01-28 18:45] BassirouRabo commented on #3856
./brew/bin/sbt is just a link to (sbt -> ../Cellar/sbt/1.1.0/bin/sbt)
When i run it i got he same error

[2018-01-28 19:22] BassirouRabo commented on #3856
how can we relink sbt to /usr/local

[2018-01-29 04:30] imarios commented on #3344
@dwijnand @eed3si9n this comes out quite often when I mention "guys, we should migrate to sbt 1.x!". Both at open source projects I am involved, as well as at work.

Here are some numbers (pretty consistent across multiple runs):

[code]

[2018-01-29 12:14] akauppi commented on #3856
Oh, you are right.

It would mean re-installing HomeBrew. It's not as bad as it sounds; I do that often.

Before that, I would advice to:

- `brew update; brew upgrade`
- `brew doctor`
- `brew uninstall sbt; brew install sbt`

You can also do `brew cleanup`, but that should simply remove unused packages.

[2018-01-29 12:51] fdietze opened #3906 "package seems to update instead of replacing existing jar"
## steps
[code]

## problem
[code]

## expectation
A fresh jar.

## notes

sbt version: *1.1.0*
I'm also using sbt-web, add and remap a file like this:
[code]

[2018-01-29 14:35] xuwei-k opened #3907 "sbt '; ^^ 0.13.17-RC2 ; compile' fail with Java9"
## steps

- https://github.com/xuwei-k/java9-cross-sbt/commit/e06ce3ede05142f9685352a179f48a61a9d4d0cf
- https://travis-ci.org/xuwei-k/java9-cross-sbt/builds/334721077

### `ExamplePlugin.scala`

[code]

### `build.sbt`

[code]

### `project/build.properties`

[code]

execute

`sbt '; ^^ 0.13.17-RC2 ; compile'`

or

`sbt '; ^^ 0.13.17-RC2 ; set scalaVersion := "2.10.7" ; compile'`

## problem

###

[2018-01-29 15:09] #2970 closed, assigned to nobody

[2018-01-29 16:23] eed3si9n commented on #3903
At the time I opened it, it made sense in my head that this is an sbt-wide issue, since it's not just that the documentation is outdated, but I didn't capture the breaking change in release notes or migration guide.

[2018-01-29 16:52] eed3si9n commented on #3879
Maven POM just doesn't have the functional equivalent to Ivy's extra attribute, and what it's doing is a workaround. AFAIK all these were well thought out and done intentionally so we can cross publish sbt plugins, resolve then correctly, and make sure that it can be depended on as normal library.
This might also explain why sbt plugins are hosted typically on an Ivy repo https://repo.scala-sbt.or

[2018-01-29 16:52] #3879 closed, assigned to nobody

[2018-01-30 10:08] absynthe commented on #3670
For me changing from "http://maven.twttr.com" to "https://maven.twttr.com" worked.

[2018-01-30 10:13] Uko commented on #3404
So what? Half a year passed and no one cares about this issue?

[2018-01-30 16:27] eed3si9n commented on #3907
On Java 8, `;^^0.13.16 ;++2.10.7! ;compile` still fails, so maybe that's a problem with or without Java 9.

[code]

The part in compiler that's hitting Match error is:

https://github.com/scala/scala/blob/v2.10.7/src/compiler/scala/tools/nsc/typechecker/Macros.scala#L117-L122

[2018-01-30 18:34] MasseGuillaume opened #3908 ".jvmopts should trim comments on Windows"
On linux, you can use `#` to comment out a line. However, when you run it on windows it produces the following error:

[code]

[2018-01-30 18:38] eed3si9n commented on #3908
Note to potential contributors:
Here's the bash version:
https://github.com/sbt/sbt-launcher-package/blob/bf9cd40349b02177944d92d7c7fe1aa5fc6388ed/src/universal/bin/sbt#L138-L143

[code]

and here's the batch file - https://github.com/sbt/sbt-launcher-package/blob/v1.1.0/src/universal/bin/sbt.bat

[2018-01-30 22:36] NabilZaman commented on #2950
I seem to just now be running into this, but is it the case that publishing artifacts via sbt will not properly generate a `maven-metadata.xml`?
Is this intended behavior? I'm actually noticing something weird where the `maven-metadata.xml` is missing but the `maven-metadata.xml.sha1` and `maven-metadata.xml.md5` are present.

[2018-01-31 06:35] eed3si9n commented on #3907
The second part of this bug is actually https://github.com/sbt/sbt/issues/3330 / https://github.com/sbt/sbt/issues/3372 that I've forgotten about.

The workaround here is:

[code]

[2018-01-31 08:32] #3545 closed, assigned to cunei

[2018-01-31 09:35] liff commented on #3681
Would it be possible to use [directories](https://github.com/soc/directories) like [coursier does](https://github.com/coursier/coursier/pull/676/files)?

[2018-01-31 10:35] dwijnand commented on #3681
Yes - with two concerns:
1. how do this change impact sbt, its launcher (sbt/launcher), its ecosystem of plugins, and plugin cross-building from the current usage of `~/.sbt`, and how do we provide a graceful migration?
2. what's the stability of `directories` binary API?

[2018-01-31 11:23] ayekat commented on #3598
I will dare referencing #3681 here, as I actually only use `-sbt-dir` as a workaround for the non-compliance with the XDG base directory specification on Linux.

I have a wrapper script for sbt to set `-sbt-dir "$XDG_DATA_HOME/sbt"`, to fight the clutter of "dotfiles" in my home directory—hence my slightly allergic reaction when I suddenly encountered `~/.sbt` :smile:.

[2018-01-31 14:23] jrudolph commented on #3482
Yep, same here. If you open and close a console more than once, it's broken the second time.

[2018-01-31 16:30] #3841 closed, assigned to eed3si9n

[2018-01-31 17:26] PaulAtBanno opened #3912 "Please use jna.jar including libjnidispatch.so for android-x86"
## problem

sbt-socket-server fails with an unresolved link exception on libjnidispatch.so when run under Termux on Android devices, such as Chromebooks.

## expectation

Running sbt succeeds.

## notes

The issue is sbt's use of JNA, and a default build of jna.jar. This .jar archive includes a reasonably comprehensive number of implementations of libjnidispatch, per-platform. However, android in

[2018-01-31 20:52] tindzk opened #3914 "envVars requires forking"
## Problem
The `envVars` setting only works when `fork` is set to true. In my case, the application is an interactive shell that reads raw input. Unfortunately, this functionality causes problems when the process is forked.

## Expectations
1. `envVars` should not require forking
2. The correct usage of `envVars` should be explained in the manual

## Workaround
Set the environment variable from wi

[2018-01-31 21:16] SethTisue commented on #3893
I've seen it at least twice in the Scala 2.12 community build recently:

* https://scala-ci.typesafe.com/job/scala-2.12.x-integrate-community-build/2602/
* https://scala-ci.typesafe.com/job/scala-2.12.x-integrate-community-build/2585/

[2018-02-01 17:00] eed3si9n commented on #3914
sbt's `run` or `test` executes within the same JVM as sbt itself.
I can't see how we can append extra environment variables without forking.

[2018-02-01 17:00] #3914 closed, assigned to nobody

[2018-02-01 17:27] eliothxchan commented on #2874
Just came across this issue myself - specifically with trying to use a local copy of Play 2. Is there something that specifies what configurations are generated within ivy.xml from within the code itself? Having trouble finding anything that looks like it'll change that without manually going into every generated folder and editing its XML.

[2018-02-01 21:29] eed3si9n commented on #3912
## background

Here's from JNA's [`com.sun.jna.Native` documentation](https://java-native-access.github.io/jna/4.2.1/com/sun/jna/Native.html):

So first it will look for `jna.boot.library.path`, so I think that's what you could pass in.

When `jna.boot.library.path` is not set, it says _would've_ called `System.loadLibrary(...)`, looking for things in `java.library.path`. However, we found this to

[2018-02-01 21:33] cunei commented on #3912
For the record, the android `jnidispatch` can be pulled in by using something like:
[code]

[2018-02-01 23:26] tindzk commented on #3914
If a solution relying on reflection is viable, the `getModifiableEnvironmentMap` function from the link above could be used.

[2018-02-02 07:12] eed3si9n commented on #2798
Opening this again for 1.1.0 server.

[2018-02-02 07:18] eed3si9n opened #3915 "sbt thin client"
sbt thin client is the idea of splitting sbt into two parts: client and server.

## why?

This allows more batch-like operation from the shell (given we keep the server running).

The idea of splitting has long existed (for example Activator UI, https://github.com/sbt/sbt/wiki/XArchived:-Client-server-split), but full replacement of sbt frontend requires a lot of work.

## how?

- The first step w

[2018-02-02 10:58] guizmaii opened #3916 "Publish the https://dl.bintray.com/sbt/debian/sbt-0.13.17.deb file"
(See the guidelines for contributing, linked above)

## steps

## problem

The `.deb` release for sbt 0.13.17 doesn't exist in Bintray.

## expectation

## notes

sbt version: 0.13.17

[2018-02-02 11:25] #3916 closed, assigned to nobody

[2018-02-02 15:23] raboof opened #5606 "scripted must-mirror: recursive diff"
It would be cool if the 'must-mirror' file command in scripted (https://github.com/sbt/util/blob/1.x/internal/util-scripted/src/main/scala/sbt/internal/scripted/FileCommands.scala#L36) would allow comparing directories recursively.

[2018-02-02 15:28] jvican opened #3917 "Scripted adds a library dependency on every project"
## steps

1. Clone https://github.com/jvican/sbt-library-deps-bug-scripted.
1. Run `show libraryDependencies`.

## problem

Sbt-scripted, which is added as a plugin, add a library dependency to my project?

## expectation

Sbt-scripted does not add anything to my projects' library dependencies. Note that my project is not an sbt plugin.

## notes

sbt version: all 1.x series.

[2018-02-02 15:30] jvican commented on #3917
[code]

[2018-02-02 16:09] eed3si9n commented on #3917
It makes sense:

https://github.com/sbt/sbt/blob/v1.1.0/scripted/plugin/src/main/scala/sbt/ScriptedPlugin.scala#L43-L54

[code]

combined with https://github.com/sbt/sbt/issues/3514.

[2018-02-02 19:35] devshorts commented on #3466
I also have this, with jdk9 and sbt launcher 1.1 and project sbt 0.13.17

[2018-02-02 20:37] ryan-williams commented on #3879
Thanks, though I must admit I'm still a bit confused.

what cross-publishing does this refer to?

if SBT 1.0/0.13 cross-publishing, I believe this mismatch (between artifacts' basenames and the directory structure and artifact ID they're released as) significantly pre-dates SBT 1.0/0.13 cross-publishing

if Scala 2.1x cross-publishing, SBT plugins have never supported that, have they?

"Normal [sc

[2018-02-02 21:06] nafg commented on #3314
What exact versions of scala are affected?

[2018-02-02 21:54] bogdanromanx commented on #3410
+1 for @jvican proposal to add an additional resolver since it solves a real problem and there's minimal to no impact for the user base if it would be the last one.

[2018-02-02 22:04] eed3si9n opened #3918 "source dependency issues"
This is an epic issue to aggregate source dependency issues and topics.

- Document source dependency https://github.com/sbt/sbt/issues/3145
- Unexpected initialization order of settings overriden in source dependencies #3850
- Refreshing Git URI Dependencies https://github.com/sbt/sbt/issues/1120

[2018-02-02 22:08] eed3si9n commented on #895
Closing this since it's no longer a problem?

[2018-02-02 22:08] #895 closed, assigned to nobody

[2018-02-03 09:53] jvican commented on #3917
I don't understand, is this the expected behaviour? This should only happen for those projects that are sbt plugins, not for all my projects.

[2018-02-03 10:04] jvican commented on #1120
I personally think this is not in the scope of source dependencies. Build dependencies should always be stable (versioned by commit hashes), and if you want something else you should be using git submodules.

[2018-02-03 10:12] jvican commented on #3918
An important issue is that `ThisBuild` and `Global` do not work with source dependencies: you would expect them to look for a key first in its own build scope, and then in the global scope, but it goes to the build scope of the top build. To get the correct behaviour, you need to do `in(ThisBuild).in(ref)`, which of course is not really what you strictly want (it looks for the key at the project s

[2018-02-04 13:33] schmitch commented on #3344
this is even worse on first runs (which might often happen in `docker build`-Environments).
The sbt 1.x.x builds hanging forever at `Loading project definition from`.  Well at least dependency resolution is faster when coursier is plugged in...

[2018-02-04 15:40] PaulAtBanno commented on #3912
Thanks, Eugene!  Some new results:

1. Placing the distributed `android-x86.jar` in `~/.sbt/1.0/plugins` didn't work. This makes sense for a couple of reasons: first, because the "resource path" searched at the time the JNA bootstrap library is looked for is sbt's "boot classpath," i.e. before an sbt version is even established, and so presumably limited to whatever is associated with sbt-launcher

[2018-02-04 16:22] mbcx4jrh opened #3919 "NPE during compilation (UnCurry.scala)"
I get a Null Pointer Exception when trying to compile [mbcx4jrh/bling](https://github.com/mbcx4jrh/bling) under sbt 1.1.0/1.0.4/0.13.17
[code]

## steps
[code]

## problem
NullPointerException occurs and exits sbt

## expectation
Successful compilation or compilation failure due to my code

## notes

sbt version: 1.1.0 & 1.0.4 & 0.13.17

## full stacktrace
[code]

[2018-02-04 21:00] jvican commented on #3919
Can you report this in scala/scala? Seems like a Scala reflect error, not sbt's. :smile:

[2018-02-04 21:04] mbcx4jrh commented on #3919
On Sun, 4 Feb 2018 at 21:01, Jorge <notifications@github.com> wrote:

Sure. Excuse my ignorance, but is there an easy way to tell the diff
between any vs scalac?
--
Joe Heath

[2018-02-04 21:19] jvican commented on #3919
@mbcx4jrh No, there isn't. You can use the heuristic of "if the last stack entries start with `scala.tools.nsc` or `scala.reflect`, it's scalac's fault, otherwise it's sbt's", but it doesn't always work. So it requires us to have a look at it first. 👍

[2018-02-04 21:21] mbcx4jrh commented on #3919
Cool.

Should sbt still exit ungracfully on a scalac bug though (just to be
awkward)

:)

Will raise it on scala ..

On Sun, 4 Feb 2018 at 21:19, Jorge <notifications@github.com> wrote:

--
Joe Heath

[2018-02-05 00:09] cchepelov commented on #3918
"source dependencies" would be absolutely terrific for my workflow if there was a way for sbt to behave as this, which I'd tentatively call "hybrid dependencies":

- if a libraryDependency is expressed with a non-SNAPSHOT version, do the usual binary dependency resolution (i.e. pass to Coursier ;) )
- otherwise, ask a (new) hook what do of the Module. The hook replies with an Option[sbt.Path]:
  -

[2018-02-05 10:22] dwijnand commented on #3919
Closing under the assumption this _is_ a scala compiler bug. (We can reopen if not).

[2018-02-05 10:22] #3919 closed, assigned to nobody

[2018-02-05 10:59] jvican commented on #3918
I have a current implementation of this in bloop, and yeah, it's awesome. https://github.com/scalacenter/bloop

[2018-02-05 14:46] MPV commented on #3547
@eed3si9n: This change seems to break the asdf (global version manager) plugin for SBT: https://github.com/lerencao/asdf-sbt

It uses BinTray to list the available releases, and for installing `sbt`:
https://github.com/lerencao/asdf-sbt/blob/master/bin/list-all

[2018-02-05 14:50] VEINHORN commented on #3488
@eed3si9n @dwijnand @marconilanna Conditionals are still not working (SBT 1.1.0). Can you please upgrade to the latest version of Giter to fix this issue?

sbt/sbt-giter8-resolver#12

[2018-02-05 22:20] #3844 closed, assigned to nobody

[2018-02-06 05:19] YogoGit opened #3921 "sbt -Dsbt.log.noformat=true no longer works"
(See the guidelines for contributing, linked above)

## steps
Run the command
[code]
In any project

## problem
The output contains escape characters to format the line
[code]

## expectation
Disabling format should disabling format characters

## notes
[code]

[2018-02-06 09:33] coldfire-x commented on #3471
java version "1.8.0_20"
Java(TM) SE Runtime Environment (build 1.8.0_20-b26)
Java HotSpot(TM) 64-Bit Server VM (build 25.20-b23, mixed mode)

[2018-02-06 10:59] mbcx4jrh commented on #3919
Have raised https://github.com/scala/bug/issues/10712

[2018-02-06 14:26] dwijnand commented on #3691
Closing as fixed upstream.

[2018-02-06 14:26] #3691 closed, assigned to nobody

[2018-02-06 14:33] #3700 closed, assigned to nobody

[2018-02-06 14:52] dwijnand commented on #2222
Upstream issue: https://bugs.openjdk.java.net/browse/JDK-8193594

[2018-02-06 14:53] dwijnand commented on #2222
The (long-winded, but currently available) workaround involves creating a custom launch config file and defining `lock` in the `[boot]` section as `false`.

[2018-02-06 14:53] dwijnand commented on #3856
Duplicate of #2222.

[2018-02-06 14:53] #3856 closed, assigned to nobody

[2018-02-06 14:56] dwijnand commented on #3906
Could you provide a complete and minimal reproduction, please?

[2018-02-06 15:47] dwijnand commented on #3377
I'm not sure what the root cause is. Perhaps it's related to a bug in `triggeredBy` as @pauldraper reports in https://github.com/sbt/sbt/issues/3759?

Anyways here's a workaround (subjectively a better way anyway?) to the original problem:

[code]

[2018-02-06 16:05] dwijnand commented on #3907
Opened https://github.com/sbt/sbt/pull/3923 to fix the first part.

The second part is duplicate of #3372.

[2018-02-06 16:05] #3907 closed, assigned to nobody

[2018-02-06 19:40] herediasamuel opened #3924 "Error using sbt-run sbt/1.1.0/bin/sbt-launch-lib.bash: line 58: 32712 Killed "$@""
(See the guidelines for contributing, linked above)

## steps
Create a sample app with akka with scala 2.12.4 and sbt 1.1.0. Do sbt run on it.

## problem
when you do a run on it sbt is generating an error

# sbt run
[info] Loading project definition from /srv/cs2-core/project
[info] Loading settings from build.sbt ...
[info] Set current project to akka-http-rest (in build file:/srv/cs2-core/)
[in

[2018-02-06 19:42] #3924 closed, assigned to nobody

[2018-02-06 22:25] BassirouRabo opened #3925 "SBT on Network File System"
I installed SBT on NFS, but got an error

## steps
brew update
brew install sbt
Location : .brew/Cellar/sbt/1.1.0/

## problem
java.io.IOException: Operation not supported
	at sun.nio.ch.FileDispatcherImpl.lock0(Native Method)
	at sun.nio.ch.FileDispatcherImpl.lock(FileDispatcherImpl.java:90)
	at sun.nio.ch.FileChannelImpl.tryLock(FileChannelImpl.java:1115)
	at java.nio.channels.FileChannel.tryLoc

[2018-02-06 23:14] cunei commented on #3874
The Scala community build just uses this test, which could be integrated here:
[code]

[2018-02-07 02:51] SethTisue commented on #3925
surely a duplicate of #2222?

[2018-02-07 07:40] BassirouRabo commented on #3925
My question, what is the solution to fix it

[2018-02-07 08:45] BassirouRabo commented on #2222
what is the solution to fix it

[2018-02-07 08:47] #3925 closed, assigned to nobody

[2018-02-07 08:47] dwijnand commented on #3925
Let's discuss in #2222.

[2018-02-07 08:50] dwijnand commented on #2222
One solution is fix the JDK (if possible). Another is to change the code in sbt/launcher to avoid using `lock0` (if possible). Another is to change the launchconfig file in sbt to expose a system property for the lock file so you can opt-out (what Eugene is referring to as the "YOLO I don't need locking" flag).

I'm happy to try and give more details if you let me know what solution you're interes

[2018-02-07 09:01] BassirouRabo commented on #2222
I think the second option to change the launcher.
find bellow my sbt-launcher.jar
`" zip.vim version v28

-  META-INF/
- org/
- org/apache/
- org/apache/ivy/
- org/apache/ivy/core/
- org/apache/ivy/core/cache/
- org/apache/ivy/core/deliver/
- org/apache/ivy/core/event/
- org/apache/ivy/core/event/download/
- org/apache/ivy/core/event/resolve/
- org/apache/ivy/core/event/retrieve/
- org/apache/ivy/

[2018-02-07 09:07] dwijnand commented on #2222
So the line of the launcher that eventually calls `lock0` is: https://github.com/sbt/launcher/blob/v1.0.2/launcher-implementation/src/main/scala/xsbt/boot/Locks.scala#L88

Looks like some quite tricky code (I've never seen it before) what with dealing with potential dead locks and catching null pointer exceptions.

What I suggest is to attack this problem by testing: try and write an interesting t

[2018-02-07 09:13] BassirouRabo commented on #2222
I'm not scala developper, but java. So to writing test could take me time. What is the easiest way to fix it

[2018-02-07 09:23] dwijnand commented on #2222
Then I think the 3rd option, for which I've created https://github.com/sbt/sbt/pull/3927.

[2018-02-07 14:43] alelk commented on #3696
+1

[2018-02-07 14:51] alelk commented on #1852
+1

[2018-02-07 18:36] SethTisue opened #3928 "regression: `sbt -error` doesn't suppress `[info]` messages during startup"
sbt 0.13.17:

[code]

sbt 1.1.0:

[code]

the original issue is #840

[2018-02-07 22:06] jameskoch2 commented on #3871
FWIW, I bumped into this during an upgrade from 1.0.4 to 1.1.0, without using sbt-assembly. I have a test process which runs several copies of SBT independently and hit it like so:

[code]

[2018-02-07 22:08] jameskoch2 commented on #265
I bumped into this today on a Windows build agent. @mikla did you ever come up w/ a Windows solution? Is it fair game to reopen this defect given if there's no good Windows work-around?

[2018-02-08 01:26] cunei opened #3930 "server may fail to start if project's home has a long path"
### steps
Check out a project in a directory with a path name longer than `UNIX_PATH_MAX`, which is normally just 108 characters (the size of the path member in `struct sockaddr_un`)

### problem
[code]

### expectation
sbt should operate normally

### notes
sbt version: 1.1.0
see: https://linux.die.net/man/7/unix

[2018-02-08 02:17] corazza commented on #3624
Any news on this issue? It's really annoying that I always have to set up a manual sbt instance to run before launching VS Code

[2018-02-08 02:53] eed3si9n commented on #3928
Duplicate of #3849

[2018-02-08 02:53] #3928 closed, assigned to nobody

[2018-02-08 03:00] eed3si9n commented on #3917
Right. This behavior is now considered a bug (https://github.com/sbt/sbt/issues/3514), and it's now fixed via https://github.com/sbt/sbt/pull/3875, so hopefully you won't see this in 1.2.0.
In the mean time, you'd have to disable the plugin on each subprojects.

[2018-02-08 04:00] SethTisue commented on #3928
doh

[2018-02-08 07:32] dwijnand commented on #3871
Makes sense: the issue isn't sbt-assembly dependant.

[2018-02-08 08:37] dwijnand commented on #3917
closing

[2018-02-08 08:37] #3917 closed, assigned to nobody

[2018-02-08 09:23] dwijnand commented on #265
Given this answer https://stackoverflow.com/a/313115/463761 (by Jon Skeet no less) it's strange that doesn't work. I wonder if perhaps the JDK on Windows with `< NUL` doesn't behave the same as `< /dev/null` on Unix-like platforms.

[2018-02-08 09:24] dwijnand commented on #265
Perhaps the solution is to use `javaw`? See `javaw` in https://docs.oracle.com/javase/8/docs/technotes/tools/windows/java.html.

[2018-02-08 09:39] dwijnand commented on #2928
The debian-experimental / sbt 1.0 doc issue has been solved, see sbt/website#384.

[2018-02-08 09:39] #2928 closed, assigned to nobody

[2018-02-08 10:29] jvican commented on #3694
To the best of my knowledge this is the intended behaviour. Sbt caches at the statement level because it hoists up every statement to its own class -- I cannot think of a way we can remove that without changing the whole evaluation algorithm. You can check this in the `.config-classes` directory typically placed in `project/target`.

[2018-02-08 13:21] xuwei-k commented on #3921
`-Dsbt.log.noformat=true` works in my environment( use [paulp/sbt-extras](https://github.com/paulp/sbt-extras) ).
Maybe [sbt-launcher-package](https://github.com/sbt/sbt-launcher-package) issue?
How do you install sbt?

[2018-02-08 13:33] dwijnand commented on #3921
Good thinking @xuwei-k. I discovered today that sbt-launcher-package doesn't handle `-D` - you have to use `-J-D` (removed in https://github.com/sbt/sbt-launcher-package/commit/55e0dfdc65440cb02627ccbb290a9afba211a9dc).

[2018-02-08 16:40] nateww commented on #3921
Thanks for the workaround. Either the documentation should be updated, or it should be fixed in the launcher to be compatible with prior releases.

[2018-02-08 16:43] BassirouRabo commented on #2222
In which file should i add sbt.boot.lock-true

[2018-02-08 17:00] dwijnand commented on #2222
In the file `sbt/sbt.boot.properties` inside `~/.sbt/launchers/1.1.0/sbt-launch.jar`.

[2018-02-08 17:01] dwijnand commented on #3921
@nateww where in the docs is `-Dsbt.log.noformat=true`?

[2018-02-08 17:03] nateww commented on #3921
https://www.scala-sbt.org/0.13/docs/Command-Line-Reference.html

https://www.scala-sbt.org/1.x/docs/Command-Line-Reference.html

[code]

[2018-02-08 17:15] dwijnand commented on #3921
I don't see an error in the docs - it never says explicitly `-Dsbt.log.noformat=true`.

I would be happy to receive a PR fixing sbt-launcher-package to bring back `-D` support.

[2018-02-08 17:37] nateww commented on #3921
What part of
[code]
followed by the list of possible properties, including
[code]

That would imply to me that I could set a parameter using SBT with
[code]
and it would work.  How do you read the docs as passing parameters to SBT on the command line?

[2018-02-08 18:07] dwijnand commented on #3921
My apologies, thank you for pointing out what I wasn't seeing.

[2018-02-08 18:55] fommil opened #3934 "copy resources directory BEFORE compiling"
Although sbt adds the target directory to the classpath of the compiler, this causes problems if the compiler needs access to resources because they are only copied AFTER (or in parallel with) the compile. Therefore you can get a situation where compile fails the first time, then succeeds.

To avoid this, I recommend that resources are copied BEFORE compilation.

Original report below, which sligh

[2018-02-08 18:58] wsargent commented on #3431
I'm still getting this in sbt v1.1.0 -- it looks like https://github.com/sbt/sbt/pull/3674 is for the 1.0.x branch only and did not get cross-PR to the 1.1.x branch.

EDIT: Nope, it is on the 1.1.x branch as well.  It must not be published yet https://github.com/sbt/librarymanagement/blob/1.1.x/ivy/src/main/scala/sbt/internal/librarymanagement/ConvertResolver.scala#L370

[2018-02-08 20:14] wsargent commented on #3431
For the record, the reason I was running into this was I set `crossScalaVersions` in a `CommonSettings` AutoPlugin, and then ran sbt-release.   It turns out that when you add `crossScalaVersions`, when you have a Java only project then `sbt-release` will always try to publish it twice, even if you set it to `Nil`, even if you set `releaseCrossBuild := false` in the Java project, etc.  Only way to

[2018-02-08 20:20] eed3si9n commented on #3431
sbt 1.1.0 uses LM 1.1.2, which should include the patch:
https://github.com/sbt/librarymanagement/blob/v1.1.2/ivy/src/main/scala/sbt/internal/librarymanagement/ConvertResolver.scala#L370

[2018-02-08 22:24] fommil opened #3935 "fullClasspath / runMain regression in 0.13 => 1.x"
I used to be able to customise the `fullClasspath` of a config to add extra things onto the `runMain`, but that seems to have broken from 0.13 to 1.x... what should I do now?

I was using this technique in my jmh plugin https://gitlab.com/fommil/sbt-sensible/blob/master/src/main/scala/NeoJmhPlugin.scala

[2018-02-08 22:42] fommil commented on #3935
this seems suspicious...

[code]

and these "Jar" variants do not look at `fullClasspath`

[2018-02-08 22:52] fommil commented on #3935
ok, suitable workaround apperas to be

[code]

but probably not 0.13 compatible...

[2018-02-08 22:52] #3935 closed, assigned to nobody

[2018-02-09 04:32] xuwei-k commented on #3907
I have confirmed with sbt 1.1.1. thanks!

[2018-02-09 08:09] dwijnand commented on #3934
are main resources on the classpath of `compile`?

[2018-02-09 08:32] fommil commented on #3934
It does appear so.

[2018-02-09 08:33] fommil commented on #3935
(btw, I closed this because I don't think it's possible to fix it at this point... I still think it's a regression)

[2018-02-09 13:21] dwijnand commented on #3921
Hi @nateww and/or @YogoGit do you think you guys could help me understand why `-Dsbt.log.noformat=true` doesn't work for you?

I was looking to fix the scripts in https://github.com/sbt/sbt-launcher-package/ and realised I had misunderstood how it works. See there's a `process_my_args` in https://github.com/sbt/sbt-launcher-package/blob/v1.1.0/src/universal/bin/sbt#L117 which doesn't include `-D`,

[2018-02-09 14:55] YogoGit commented on #3921
So, more information.

In the project where I'm running this, the file .sbtopts exist, with the following contents.
[code]

When this file is removed, the logging format is disabled as expected.  However, when using the version [paulp/sbt-extra](https://github.com/paulp/sbt-extras) version, it works as expected with or without the existance of the .sbtopts file.

[2018-02-09 14:58] YogoGit commented on #3921
Output from 'sbt -d -Dsbt.log.noformat=true name > out 2>&1'
[code]

[2018-02-09 15:57] dfosticupgrade commented on #1325
same issue
did anybody figured it out without changing repository configuration?

[2018-02-09 22:00] kdbeall commented on #3108
@eed3si9n

[code]

[2018-02-09 22:01] kdbeall commented on #3108
@eed3si9n Having the same issue as @roman3017

[2018-02-09 22:06] eed3si9n commented on #3108
Let me recalculate the signature.

[2018-02-09 22:17] kdbeall commented on #3108
@eed3si9n Can this process be automated?

[2018-02-09 22:18] eed3si9n commented on #3108
Well it's supposed to be automated, but Bintray seems to be messing it up.

[2018-02-10 09:12] dwijnand commented on #3595
Created and released sbt-reloadquick.

https://github.com/dwijnand/sbt-reloadquick
https://twitter.com/dwijnand/status/962252510147874816

[2018-02-10 11:48] #2222 closed, assigned to dwijnand

[2018-02-11 00:23] PaulAtBanno commented on #3912
Well, I don't know what I've been doing wrong, but it occurred to me that I could just extract `libjnidispatch.so` from the `android-x86.jar` from the 4.5.0 release (to match the version used by sbt), as opposed to building it from source. And when I put that `.so` in my `/usr/lib/jvm/openjdk-9/lib` and set `jna.boot.library.path` in `sbtopts` accordingly, the sbt-server starts up just fine in Ter

[2018-02-11 12:21] jameskoch2 opened #3938 "NamedPipe channel may allow snooping from other users"
The null security descriptor passed [here](https://github.com/sbt/ipcsocket/blob/74e375ec9fd0f95d5165784e5a576fb18186e8ff/src/main/java/org/scalasbt/ipcsocket/Win32NamedPipeServerSocket.java#L100) looks like it would still allow other users on the same machine to snoop on traffic.

Microsoft docs:
https://msdn.microsoft.com/en-us/library/windows/desktop/aa365600(v=vs.85).aspx
The default/null secu

[2018-02-12 09:43] francisdb commented on #3860
Looks to me like this has NOT been fixed in sbt `1.1.1`. Has the previous fix been reverted?

One extra watch thread is still created per `~test:compile` start (and stop), taking up more and more cpu.

<img width="545" alt="image" src="https://user-images.githubusercontent.com/161305/36090427-a2221c18-0fe0-11e8-996b-6f81f4d33656.png">

[2018-02-12 10:33] dwijnand commented on #3860
No the fix #3790 was merged into 1.x after 1.1.0 was released so it's scheduled for sbt 1.2.0.

But if anyone fancies backporting it to the 1.1.x branch it could be part of the 1.1.2 release.

[2018-02-12 10:54] fommil opened #3939 "we're done with "done compiling""
This message

[code]

which notoriously spams all build logs, is basically pointless.

- if it's a single project build, you already know because you have the shell back
- if it's a multi project build, it's useless because you don't know which thing it's talking about.

Can we just remove it?

[2018-02-12 10:57] fommil commented on #3939
related #2332

[2018-02-12 15:42] smarter commented on #3737
@dwijnand how is this "blocked on upstream" considering that this did not happen in 0.13 and is a regression in 1.0? We're hitting this in Dotty right now and this is probably a blocker for upgrading our build (and thus, every project that uses Dotty) to 1.0

[2018-02-12 15:52] jrudolph commented on #3737
I think the problem might be that the sbt regression is caused by the `scala.sys.process` bug (scala/bug#7963). IIRC sbt 0.13 used its own Process implementation which didn't suffer from the same problem.

I cannot remember what the exact relationship was between `scala.sys.process` and sbt's old process implementation? If they shared code at some point it might be possible to port a fix?

[2018-02-12 16:04] dwijnand commented on #3737
AFAIK Paul imported Mark's process code into scala.sys.process. I guess they diverged.

I'm happy to call it a regression that's blocked on an upstream fix - which we can try and workaround or avoid somehow in sbt.

[2018-02-12 16:58] eed3si9n commented on #3938
Thanks for the report!

[2018-02-12 17:58] #1915 closed, assigned to nobody

[2018-02-12 20:55] eed3si9n commented on #3471
Please make sure to download and install the latest Java SE Development Kit 8, for example Java SE Development Kit 8u161 (247MB for macOS, 206MB for Windows x64).

[2018-02-12 22:52] Dbz commented on #2958
It may be worth noting that I ran into a very similar issue, and I was able to fix it by uninstalling Java 9. I have Java 8.1 and Java 9 on my system. I had my `$JAVA_HOME` environment variable pointed to Java 8.1, and `java -version` showed 8.1; however, it was still giving that error until I uninstalled Java 9, and then everything started working.

[2018-02-12 22:55] SethTisue commented on #2958
in cases where JDK 9 is suspected to be a factor, upgrading to sbt 0.13.17+ or 1.1.0+ is the first thing to try

[2018-02-12 22:59] Dbz commented on #2958
My sbt version is showing as `1.1.0` (same as when I troubleshooted the above issue)

[2018-02-12 23:08] SethTisue commented on #2958
w/r/t play-scala-seed.g8 specifically, I've submitted https://github.com/playframework/play-scala-seed.g8/pull/48

[2018-02-13 00:44] LogicalTime commented on #3519
The compiler-bridge dependency doesn't seem to ship with SBT and I'm not sure how to set
updateOptions := updateOptions.value.withGigahorse(false)
Before that SBT dependency is asked for. So it is tricky to get off the ground with SBT 1.x. I'm not sure if putting the updateOptions line in the global plugins.sbt would do the trick. Is there a sbtopts flag one could use?

[2018-02-13 06:44] hindog commented on #2687
+1

[2018-02-13 07:36] #3930 closed, assigned to dwijnand

[2018-02-13 09:30] hseeberger opened #3941 "NPE during dependency resolution"
Running `update` on the minimized reproducer project at [github.com/hseeberger/test](https://github.com/hseeberger/test) fails resolution with `NullPointerException`s.

Tried with Java 8 and 9, using sbt 1.1.1.

[2018-02-13 09:44] dwijnand commented on #3941
[code]

[2018-02-13 09:48] felixmulder opened #3942 "managedClasspath(Runtime) contains scala-library from sbt boot path"
Discovered when publishing JARs using custom build code. We're deprecating this in favor of sbt-assembly - but felt we should at least open an issue.

## steps
[code]

## problem
This will print: `/home/<user>/.sbt/boot/scala-2.12.4/lib/scala-library.jar`. This will be the scala-library even if the `scalaVersion` is set to something like `2.12.3`.

## expectation
The ivy or coursier cached JAR sho

[2018-02-13 10:03] jrudolph commented on #3941
Here's the full stack trace I get when I run update:

[code]

[2018-02-13 10:05] jrudolph commented on #3941
Probably related: https://github.com/sbt/librarymanagement/issues/180

[2018-02-13 10:14] fommil commented on #3939
Ditto

[code]

[2018-02-13 12:25] jrudolph commented on #3941
According to https://github.com/sbt/librarymanagement/issues/180 is related to missing content-types when delivering artifacts from repositories. I discovered that in @hseeberger's case it was repo.akka.io which didn't provide any content-type for pom files. I fixed that on our server and now the reproducer works (see also https://github.com/akka/akka/issues/24536).

Still the original problem sho

[2018-02-13 13:13] akauppi commented on #3570
Unfortunately, still there with sbt 1.1.0

[2018-02-13 14:54] er1c commented on #1412
@purijatin this might be an old ticket, I'm pretty sure this specific issue works fine now on windows

[2018-02-13 15:16] er1c opened #3943 "Command line parameters doesn't support paths with spaces"
## steps

[code]

## problem

`Error: Could not find or load main class with`

## expectation

There would be a way to pass in a path with spaces (or in the `.jvmopts`)

## notes

sbt version: 1.1.0

I originally discovered this issue while trying to develop on windows 10.  My "username" is `Eric Peters` so my "windows" ivy2 directory is `C:\Users\Eric Peters\.ivy2`  This is interesting, because t

[2018-02-13 16:42] hseeberger commented on #3941
Thanks a lot, @jrudolph!

[2018-02-13 22:04] dwijnand commented on #2626
That's "C:\Program Files (x86)\sbt\bin", twice.

Also, I believe there was an issue with how the path was set for Windows that we've since resolved. So I think this can be closed. Please reopen if I'm mistaken.

[2018-02-13 22:04] #2626 closed, assigned to nobody

[2018-02-14 09:06] #3908 closed, assigned to dwijnand

[2018-02-14 14:36] #3738 closed, assigned to nobody

[2018-02-14 19:11] ffinfo commented on #3431
Maybe a little update on this. I found out that in sbt-pgp the overwrite flag is hard coded. This why I did a PR to this plugin:
https://github.com/sbt/sbt-pgp/pull/121

[2018-02-14 19:12] ffinfo commented on #3725
Maybe a little update on this. I found out that in sbt-pgp the overwrite flag is hard coded. This why I did a PR to this plugin:
https://github.com/sbt/sbt-pgp/pull/121

[2018-02-15 04:41] LogicalTime commented on #3939
I'd go with adding the name of the thing it is talking about. It is nice to see which projects have compiled so you can figure out which project the compile is taking forever on. Sometimes compiles seem to hang forever. Feedback is nice and addictive.

[2018-02-15 08:38] rabejens opened #3946 "Classifier is ignored for transitive dependencies"
(See the guidelines for contributing, linked above)

## steps

1. Create a multi-module project
2. Have one module (here `module1`) depend on another one (here `module2`)
3. Set `artifactClassifier` to the same classifier on both modules
4. Publish them Maven-style to a repository manager like nexus
5. Start a new project
6. Add a dependency on the `module1` with the classifier:
[code]
7. Try to b

[2018-02-15 10:16] alienscience commented on #3570
I hit the same problem with sbt 1.1.0 publishing to a Sonatype Nexus. I know that the investigation was done with Artifactory so I thought it would be useful to add the Nexus as another datapoint.

The suggested workaround:
[code]
fixed the problem. The problem does not appear when publishing to the Nexus through a reverse proxy.

[2018-02-15 13:33] jrudolph commented on #3737
I compared parts of the code. It seems that the `scala.sys.process` version tries to close the stream (probably to prevent a resource leak?) after processing without discarding potential errors that could happen during closing:

https://github.com/scala/scala/blob/3610019ade5f6f23215672d4ff5f74c37f90b38d/src/library/scala/sys/process/BasicIO.scala#L200

Maybe it would suffice to wrap that `close`

[2018-02-15 15:22] jrudolph commented on #3737
It seems there are actually two problems: 1) the Thread connecting stdIn to the process isn't stopped when the process has finished 2) that leads to the `transferFully` loop exiting only after the next `'\n'` was read and to the close failing noisily afterwards.

I'd say that 1) is even worse than 2) because it sends keypresses probably targetted at whatever happens after the process has exited to

[2018-02-15 16:12] jrudolph commented on #3737
The problem seems to be that it isn't possible to reliably interrupt the stdIn => process thread which is blocking in `read` on `System.in`. There seem to be some ancient tickets in JDK's bug database about related behavior:

https://bugs.java.com/bugdatabase/view_bug.do?bug_id=4514257
https://bugs.java.com/bugdatabase/view_bug.do?bug_id=4329256

At some point in https://github.com/sbt/sbt/commit/

[2018-02-15 17:36] ams-tschoening commented on #3871
For people like me not very familiar with `sbt`, simply create that file if it's missing with the following minimal content:

	[repositories]
	local
	maven-central
	sbt-snapshots: https://dl.bintray.com/sbt/maven-snapshots

https://www.scala-sbt.org/1.x/docs/Launcher-Configuration.html

That lead to the mentioned new version of `sbt` being used in my project and the error was resolved.

[2018-02-15 20:31] cunei commented on #3871
@tschoening  Please note that sbt 1.1.1 has been released, which includes this fix.

[2018-02-15 23:28] jedesah opened #3948 "Support killing forked runs"
## steps

enable `fork in run := true`
run `run`

## problem

It would be really convenient if at this point there was an easy way to kill the forked process without having to use `kill` in another terminal window after having found the PID of the new process

## expectation

Perhaps something such as `ctrl-d` (I think the play framework does this) would be a nice way to expose this functionality.

[2018-02-16 06:29] GioAgu17 commented on #3871
there is no instruction on how to upgrade version of SBT on Internet! How can I do that? I have also IntelliJ integrated with SBT

[2018-02-16 06:46] retronym opened #5607 "TypeTag materialization, stringification appears to be a significant overhead in logging API"
[code]

I don't quite know whether to believe what I'm seeing here:

![image](https://user-images.githubusercontent.com/65551/36296438-01673266-1339-11e8-8ce9-29b279992b34.png)

but it suggests far too much time is spent logging (only 12k samples were spent in scalac and zinc)

`ManagedLogger.success` could be tunneled through to a version of `logEvent` that accepted a pre-stringified `tag`, rathe

[2018-02-16 06:53] retronym commented on #5607
This might even be enough to help:

[code]

Is there a way guide on how to locally build a modified SBT installation after changing some modules, so that I can profile that?

[2018-02-16 06:58] eed3si9n commented on #5607
I don't think there is:

[code]

should work.

[2018-02-16 07:09] retronym commented on #5607
The performance problem might be related to an issue with Scala runtime reflection. I wouldn't be surprised we've got some sort of quadratic performance problem wrt number of members in a package object, ala ```sbt.`package` ```

[2018-02-16 08:21] purijatin commented on #1412
As far as sbt 0.13.16 is concerned it is still an issue

[2018-02-16 09:57] #3873 closed, assigned to eed3si9n

[2018-02-16 10:06] dwijnand commented on #3948
Doesn't ctrl-c kill the forked process if fork is enabled?

[2018-02-16 10:07] dwijnand commented on #3871
Update `sbt.version` in `project/build.properties`.

[2018-02-16 14:51] SethTisue commented on #1412
how about sbt 1.1.1?

[2018-02-16 15:08] er1c commented on #1412
I can build projects, and I have a space in my name on 1.0.3

[2018-02-16 18:50] jedesah commented on #3948
No, it kills the `sbt` console. Unless something odd is going on with my particular project. I'll do some tests with a vanilla project and see

[2018-02-16 20:56] eed3si9n opened #3949 "sbt new scala.local"
This is a proposal related to https://github.com/sbt/sbt/issues/2668 and https://github.com/sbt/sbt-launcher-package/pull/217.

## steps

1. `sbt new` or `sbt init`

## expectation

Displays:

[code]

I type:

[code]

This creates a new build similar to https://github.com/scala/scala-seed.g8 and start sbt shell inside it.

[2018-02-17 04:58] retronym commented on #5607
I was able to build SBT locally with modified modules, as you suggested:

[code]

But when trying to use it in a project I got:

[code]

What am I doing wrong?

[2018-02-17 05:01] eed3si9n commented on #5607
You are missing

[code]

[2018-02-17 05:05] retronym commented on #5607
Thanks. I think I achieved the same in the meantime by running `sbt publishLocal` in the modified modules' checkouts.

[2018-02-17 05:09] retronym opened #3950 "Contributing guide needs an update"
https://github.com/sbt/sbt/blob/1.1.x/CONTRIBUTING.md should be updated to:
 - Update the "last stable" and "current dev" versions
 - Give the recipe on how to build SBT locally with modified modules (see https://github.com/sbt/util/issues/151)

[2018-02-17 05:10] retronym commented on #3950
/cc @mkeskells who was also keen to learn how to perform a local build to test his performance improvements to the `clean` tasks.

[2018-02-18 20:28] BastienClement commented on #3863
I'm trying to use sbt server as a way to speed up a Jenkins pipeline that need to repetitively invoke sbt commands. A python script is called instead of sbt and forwards the command over the server socket. This script need to wait until the command is done and then exit with the appropriate code to indicate either a success or a failure.

The fact that there is no response to `sbt/exec` messages i

[2018-02-18 22:14] eed3si9n commented on #3863
@galedric That sounds awesome. Could you please blog/opensource your stuff?

[2018-02-19 04:21] losvald commented on #1414
IMHO, logging to `stderr` certainly makes sense in the case of `StdoutOutput` as `outputStrategy`; otherwise, how can you, e.g., run a main class and isolate only the output produced by the program, without the SBT noise?

[2018-02-19 04:45] retronym commented on #3950
[code]

[code]

But we get:

[code]

TODO:
  - [ ] How to do we cross publish the compiler-bridge module? @jvican the best I could figure out follows.

[code]

[2018-02-19 10:51] ezhulkov opened #3953 "SBT 1.x fails to resolve Maven2 parent dependency as a POM file"
## steps

1. Create `SBT 1.1.1` project with the following content
[code]
2. Make sure that `build.properties` contains `sbt.version = 1.1.1`
3. Launch `sbt` and try `update`
4. Get the problem with unresolved dependency `commons-dependencies-parent-2.165.jar`

## problem
The project depends on our library `notifications-client-api`. This library itself is dependant on parent `notifications-client

[2018-02-19 11:14] jvican commented on #3950
Is this useful @retronym https://github.com/sbt/zinc/blob/1.x/bin/run-ci.sh#L15-L16?

[2018-02-19 11:33] dwijnand commented on #3949
I suggest it be called `sbt init`.

[2018-02-19 14:50] TimSoethout commented on #1696
For me it turned out that this line in `~/.sbt/0.13/plugins/plugins.sbt`:
```addSbtPlugin("net.virtual-void" % "sbt-optimizer" % "0.1.0")``` was causing the problem.

I guess it somehow got an old sbt jar on the path.

[2018-02-19 17:03] WALLOUD opened #3954 "walloud"
(See the guidelines for contributing, linked above)

## steps

## problem

## expectation

## notes

sbt version: *insert sbt version*

[2018-02-19 17:03] #3954 closed, assigned to nobody

[2018-02-19 17:38] dwijnand commented on #2562
I wonder if this is still valid as we've done a number of iteration changes on the bat file around these things. Perhaps sbt/sbt-launcher-package#122 fixes this?

[2018-02-19 17:38] #2562 closed, assigned to nobody

[2018-02-19 18:33] Blaisorblade commented on #3739
We also get the same warning constantly with dotty :-(

[2018-02-19 21:53] retronym commented on #3950
That's where I started, but I wasn't able to run that command when I was using Zinc as a source dependency of SBT, and when I tried to run that command separately in the zinc build I didn't get the -SHA suffix in the version numbers that SBT was depending on. This is probably just a lack of understanding on my part about how the version numbers are derived (I'm still a bit old school and used to p

[2018-02-20 10:06] ezhulkov commented on #3953
Found a workaround, might be useful.
Setting `updateOptions := updateOptions.value.withGigahorse(false)` helps

[2018-02-20 10:21] cacti77 opened #3956 "Installing sbt in ubuntu: Failed to fetch https://dl.bintray.com/sbt/debian/Packages server certificate verification failed."
## steps
At https://www.scala-sbt.org/1.x/docs/Installing-sbt-on-Linux.html under 'Ubuntu and other Debian-based distributions' it says:

[code]

## problem
3rd step fails. Output of first 3 steps:

[code]
Ubuntu's Software Updater fails too: "Failed to download repository information, Check your internet connection."

## expectation
No errors when updating apt.

## notes
Ubuntu 16.04 LTS (running

[2018-02-20 14:32] vn971 commented on #3497
I'm getting this now pretty often.
The project happens to contain exactly one file (scala source file).
Sbt version : `sbt.version=1.1.1`.
`java -version` is `OpenJDK 64-Bit Server VM (build 9.0.4+11, mixed mode)`.
`cat /proc/sys/fs/inotify/max_user_watches` gives `8192`.
plugins.sbt contains one line: `addSbtPlugin("io.spray" % "sbt-revolver" % "0.9.1")`
The command that produced the error was `~

[2018-02-20 14:56] vn971 commented on #3497
Not sure it's related, but I wonder why intellij idea uses `fsnotifier` binary: https://github.com/JetBrains/intellij-community/tree/master/bin/linux   (same for Windows and Mac in nearby dirs)
May it be that some JRE-s have "bad" implementation of fs watchers in some aspects?

[2018-02-20 14:58] MouslihAbdelhakim opened #3957 "unable to get resource because of the Exception (java.net.ProtocolException: Too many follow-up requests: 21)"
with  my build.sbt containing the following :
[code]
launching sbt with ```sbt``` outputs the following error message:
[code]

using firefor and presenting my email and password, i am able to download the pom from the url meantioned in the error message:  https://maven.oracle.com/com/oracle/jdbc/ojdbc7/12.1.0.1/ojdbc7-12.1.0.1.pom

sbt version: *1.1.1* and *1.0.0*
scala version: 2.12.4
java : orac

[2018-02-20 15:03] MouslihAbdelhakim commented on #3957
I don't know if this is useful, but i ran the following command on the url mentioned in the error message
[code]
and here it the output of the command.
[code]

[2018-02-20 17:03] yarulan commented on #2825
+1

[2018-02-20 17:28] dwijnand commented on #3148
Tested - still present in sbt 1.1.1.

[2018-02-20 23:45] M10han commented on #748
Hi @jkleckner, @ralphcollett, @unkelly, @alesbukovsky I am seeing the same (java.lang.UnsatisfiedLinkError: no jnotify in java.library.path) error with Mac OS X 10.9.5, Play 2.3, activator 1.3, sbt 1.1.1, Java 1.8.0_161. Please help! Thank you.

[2018-02-21 00:06] retronym opened #5608 "NullPointerException in logging after cancelling compile task"
[code]

A null message is making it to:

[code]

[2018-02-21 00:09] retronym opened #3958 "Task cancellation should not print the stack trace of the java.util.concurrent.RejectedExecutionException"
## steps

 - Run a long running task, like `compile`, then hit `<CTRL-C>`

## problem

 - The stack trace of the `RejectedExecutionException` is printed to console

## expectation

  - No stack trace, or mention of the exception name, just a message like "Task cancelled"

## notes

sbt version: 1.1

[2018-02-21 05:19] eed3si9n commented on #3950
There's a bug in `+` so it currently doesn't work, but it should be

[code]

The versioning uses sbt-git, and if some local changes are detected it appends `-SNAPSHOT`.

[2018-02-21 05:32] retronym commented on #3950
I've been using a different worklow:
  - modify sbt build to allow module version numbers to be controlled with env vars, and to force use of them with override
  - set the plugin and sbt version to some new version
  - publishLocal in each project (also `publishBridgesAndSet 2.12.4`) in zinc

[code]

[code]

[2018-02-21 05:39] nogurenn commented on #3431
@ffinfo Is it possible to introduce a patch into the sbt codebase instead? I checked the sbt-pgp repository and found an inactive/dead repository.

[2018-02-21 07:42] nogurenn opened #3961 "sbt publish raises java.net.SocketException after successful publish"
## steps
1. `sbt publish`

OS: OS X 10.12.6
SDK: Java 8 (1.8.0_152)
Sonatype Repo: Nexus 3.7.1-02
Network: Repo is behind company VPN

`publishMavenStyle := false`

Do let me know if this is an issue with Nexus.

## problem
After successful publish, an error is raised. `java.net.SocketException: Broken pipe (Write failed)`

## expectation
Just successful publish without the error.

## notes

sbt v

[2018-02-21 08:55] ffinfo commented on #3431
@nogurenn Not sure what you mean here. As far I know this plugin is not integrated inside sbt. Sbt itself does not support the command `publishSigned`, this is what this plugin does add.

[2018-02-21 09:44] nogurenn commented on #3431
@ffinfo That's weird. I was reading this thread because the exception is also raised when I try to do `sbt publish` toward my company's Nexus repository. This was my experience for both 0.13.7 and 1.x. It doesn't let me overwrite the artifact versions I already published (for testing).

[2018-02-21 12:06] dwijnand opened #3962 "What's with all the "New I/O worker #38" threads in sbt 1?"
## steps

* start sbt
* inspect threads

## problem

there are 153 "New I/O worker" threads in the sbt process I'm looking at

## expectation

people sometimes need to increase the stack size to 1 or 2 MB to compile Scala code with heavily chained calls or heavily nested structure, so all those extra threads can be costly. I wouldn't expect sbt need all these threads.

## notes

sbt version: 1.1.1

[2018-02-21 13:47] jdrphillips opened #3963 "SBT 1.0.1+ fails on loading resources"
Scala code to list resources which works in sbt 0.13.x and SBT 1.0.0 fails in SBT 1.0.1 and 1.1.1

## steps
- Clone this project https://github.com/jdrphillips/sbt-testing
- Run `sbt "run /subfolder"`

Direct link to the code being run: https://github.com/jdrphillips/sbt-testing/blob/master/src/main/scala/foo/Testing.scala

To see a working version using sbt 0.13.17, checkout the branch `1317` on

[2018-02-21 18:08] asottile commented on #3847
Ah!  I was hitting this as well.  I was able to get `sbt` to work by upgrading the version specified in `project/build.properties`

[2018-02-21 18:38] eed3si9n commented on #3962
What does `sbt about` say? I am guessing that you'd see `bintray.BintrayPlugin` in there.

Here's a comparison of hello world build vs sbt/io - https://gist.github.com/eed3si9n/e0d7d4d9384229acc4124baa82eb0913

[code]

Given that the stacktrace here says `org.jboss.netty.channel.socket`, I am guessing that this is a variant of [Possible thread leak](https://github.com/netty/netty/issues/592). Note

[2018-02-21 20:12] #3950 closed, assigned to eed3si9n

[2018-02-22 12:13] cornytrace commented on #3624
@corazza Agreed

[2018-02-22 12:33] retronym commented on #3962
Hmm, I can't reproduce now. I'll minimize it and reopen when I see it again.

[2018-02-22 14:51] eed3si9n commented on #3624
Launching a sbt instance can't be too difficult, but at that point you won't be able to interact with it via the terminal. Do you folks not need to interact with sbt shell when you code using VS Code?

[2018-02-22 19:08] laughedelic commented on #3624
Why? When I launch sbt and connect to the server, I still can use the shell. It gets spammed with some extra logging, but it still works as a shell.

I think what most people want from this integration is just to get the compilation errors in the editor. Using sbt shell (for other things) is kind of orthogonal to it. Also, if I get it right, the idea of auto-launching server implies that it's irre

[2018-02-22 19:18] eed3si9n commented on #3624
You can interact with the server-running sbt because we run it from a terminal like Zsh and Bash, so I wrote that if you just start the server process there's no stdin/io associated with it. But, come to think of it, VS Code does come with a terminal emulator so that might be an option someone could pursue.

Ideally, we can attach any client to the server and it would work like you just launched `

[2018-02-22 21:20] laughedelic commented on #3624
Totally agree.

[2018-02-23 02:18] jackkoenig opened #3966 "Unconditional invalidation of macro class (without companion object) in batch mode"
## Summary
From batch mode, SBT incremental compilation unconditionally invalidates a macro class if the class doesn't have a companion object.
Note that this behavior does **not** occur in interactive mode.

## Steps

[code]

## Problem

On the second `sbt compile`, the following debug message will be printed:
[code]
And then the "main" project is recompiled because it depends on `MyMacro.class`

[2018-02-23 02:24] eed3si9n commented on #3966
Thanks for the report and repro project.

[2018-02-23 15:35] eximius313 opened #3968 "WARNING: An illegal reflective access operation has occurred"
## steps
1) Upgrade to sbt 1.1.1
2) Run Play application

## problem
[code]

## expectation
no warning is being shown

## notes
sbt version: `1.1.1`

[2018-02-23 16:10] dwijnand commented on #3968
Duplicate of sbt/zinc#459.

[2018-02-23 16:10] #3968 closed, assigned to nobody

[2018-02-23 16:24] reid-spencer commented on #3906
:+1:
In my case I'm using sbt-typescript to convert Typescript to Javascript. That all works fine, but the "packageBin" task generates a similar message. One thing to note: this occurs in my sbt-web subproject. I could probably generate a reproduction case fairly simply as my project is small so far. I'll see what I can do as this seems to be idle yet its a show stopper for me.

[2018-02-23 16:48] reid-spencer commented on #3906
Sorry, I'll retract that. My issue truly was a duplicate. But, this issue helped me find it! :)

[2018-02-24 06:41] Atry opened #3969 "++2.11.12 does not work for ThisBuild any more"
## steps

[code]

[code]

## problem

`ThisBuild / scalaVersion` is `2.12.4`

## expectation

`ThisBuild / scalaVersion` is `2.11.12`

## notes

sbt version: 1.1.0

[2018-02-24 06:46] Atry commented on #3969
Note that `++2.11.12` in Sbt 0.13.17 can switch `{.}/scalaVersion` to 2.11.12 as expected

[code]

[2018-02-24 07:25] jccode commented on #3871
I face a similar issue on Windows7,  sbt version is 1.1.1.
Here are the error messages.

     all {file:/E:/jc/code/scala-train/}scala-train/products {file:/E:/jc/code/scala-train/}scala-train/test:products
    [error] java.io.IOException: CreateFile() failed with error 32
    [error]         at sbt.internal.io.WinMilli$.getHandle(Milli.scala:290)
    [error]         at sbt.internal.io.WinMilli$.g

[2018-02-25 11:35] dwijnand commented on #601
I feel like the need for using eclipse (p2) update sites as repositories is quite niche. As such perhaps it would be best (if possible) to explore how to add this support in a plugin first.

[2018-02-25 11:35] #601 closed, assigned to nobody

[2018-02-25 11:38] dwijnand commented on #604
I think this would be an interesting feature that should be explored in an sbt plugin. If it proves successful, and after its API and expected behaviour has stabilised, we could definitely consider rolling this into sbt proper (as a niche, power feature).

[2018-02-25 11:38] #604 closed, assigned to nobody

[2018-02-25 11:39] dwijnand commented on #838
So much has changed inside sbt and outside (e.g in Play's codebase) that I doubt we can take any actionable steps from the information here..

[2018-02-25 11:39] #838 closed, assigned to nobody

[2018-02-25 11:46] dwijnand commented on #878
That page no longer exists in the sbt 1.x docs. The pages in the current docs: [Build definition](https://www.scala-sbt.org/1.x/docs/Basic-Def.html), [Multi-project builds](https://www.scala-sbt.org/1.x/docs/Multi-Project.html), and [Organizing the build](https://www.scala-sbt.org/1.x/docs/Organizing-Build.html) have some more detail about various aspects of how to define a build. So I feel like t

[2018-02-25 11:46] #878 closed, assigned to nobody

[2018-02-25 15:25] laughedelic commented on #2825
I think https://github.com/sbt/sbt/pull/3678 implements exactly what you want. There was some argument about correct scoping for this, so you may want to add your opinion to the discussion.

P.S. I don't know how I encountered this old issue, I thought it's a new one 😅

[2018-02-25 16:30] SethTisue commented on #604
for the record, the usual workaround is to put the files you want compiled with different compiler flags in their own subproject.

[2018-02-26 01:32] retronym commented on #3737
It seems possible to use `JProcessBuilder`'s `Redirect.INHERIT` without needing to change `sys.process`: https://github.com/sbt/sbt/pull/3970

I've tested this out in the Scala build, which has the `scala` command to fork a REPL.

[2018-02-26 01:50] maqdev commented on #3725
Still happening on `sbt 1.1.1`, easiest workaround I've found is adding these lines to `build.sbt`:

[code]
Credits goes to https://github.com/plokhotnyuk/jsoniter-scala

[2018-02-26 11:25] jrudolph commented on #3737
Nice, good to be able to fix this without having to wait for a new Scala release.

[2018-02-26 11:49] dwijnand commented on #1258
This ticket is very confusing (and old). Is it about "thisProject" or about project id?

I'm going to close a blind eye and assume the root issue was dealt with in #1213.

[2018-02-26 11:49] #1258 closed, assigned to nobody

[2018-02-26 11:55] dwijnand commented on #2815
It doesn't say `~/.sbt/sonatype.sbt` any more. (Fixed in https://github.com/sbt/website/commit/72ae10c25bb248c469a64c4ed0b864674df25556?)

[2018-02-26 11:55] #2815 closed, assigned to nobody

[2018-02-26 12:24] dwijnand commented on #3969
why do you need `ThisBuild / scalaVersion` to change value too? what's the requirement behind that?

[2018-02-26 12:34] dwijnand opened #3972 ""CreateFile() failed with error 32" from IO.getModifiedTimeOrZero on Windows"
(split from @jccode's comment in https://github.com/sbt/sbt/issues/3871#issuecomment-368207530)

@jccode could you see if you can add some more details, following our issue template, please? https://github.com/sbt/sbt/blob/v1.1.1/ISSUE_TEMPLATE.md

[2018-02-26 12:36] dwijnand commented on #3871
Split @jccode's comment into a fresh issue: https://github.com/sbt/sbt/issues/3972.

[2018-02-26 12:38] dwijnand commented on #3972
if I'm understanding correctly (I've no idea, really) "error 32" is ERROR_SHARING_VIOLATION: "The process cannot access the file because it is being used by another process.". From https://msdn.microsoft.com/en-us/library/windows/desktop/ms681382(v=vs.85).aspx.

[2018-02-26 13:58] cunei commented on #3972
I think I have an idea about this issue, I created a pull request and will run some tests.

[2018-02-26 14:28] dwijnand commented on #3972
thanks Toni

[2018-02-26 16:03] cunei commented on #3972
Hello @jccode, I have prepared a patched version that you can test. To verify the patch, please add to your list of resolvers the following: `https://dl.bintray.com/sbt/maven-snapshots`, as described at https://github.com/sbt/sbt/issues/3871, and use this sbt version: `1.1.2-bin-20180226T135405`. Kindly let us know if it works correctly with your code.

[2018-02-26 18:03] dwijnand commented on #3190
sbt doesn't make deal with proxies differently according to what scala version is used. you simply had the 2.11 jar cached locally, but not the 2.12 jar.

[2018-02-26 18:03] #3190 closed, assigned to nobody

[2018-02-26 23:12] eatkins commented on #3344
I did some git bisecting and, for me, the performance regression seems to occur in the #3322 pr. This merge unfortunately merges a number of other merge commits that can't be independently tested. I am suspicious that https://github.com/sbt/sbt/pull/3322/commits/347914191a8af2f2ad53abbb120fb4144122380b is the commit that introduced the performance regression.

As a side note, I'd advocate for stri

[2018-02-27 01:32] bpholt commented on #3570
We've also hit this publishing to Nexus (using sbt 1.1.1), except the error has consistently been `java.net.ProtocolException: Unexpected status line: 0`. The `withGigahorse(false)` workaround seems to be working, though.

<details>
<summary><code>[error] java.net.ProtocolException: Unexpected status line: 0</code></summary>
<pre>
[error] java.net.ProtocolException: Unexpected status line: 0
[erro

[2018-02-27 03:06] Atry commented on #3969
Because I have other settings that depend on `ThisBuild / scalaVersion`

[2018-02-27 03:29] SethTisue commented on #1017
let's reopen this if someone can confirm that the problem still exists in sbt 1.1.1 or newer

[2018-02-27 03:29] #1017 closed, assigned to nobody

[2018-02-27 07:22] ffinfo commented on #3431
@nogurenn Looks like there 2 separated issues then. The issue I did solved only affects `sbt publishSigned` so not `sbt publish` and only in sbt 1.x.

`sbt publish` is indeed something that should be fixed in the sbt codebase.

[2018-02-27 13:00] dwijnand commented on #3969
ok. it would be helpful (in evaluating how to resolve this) to have a real-life example of this.

[2018-02-27 15:41] Atry commented on #3969
Note this behavior change is a regression.

[2018-02-27 16:16] dwijnand commented on #3969
no doubt. it's just that the behaviour changed in order support the use case of "variant `scalaVersions`" within a build.

I would very much like to fix this issue that you've reported, but I'm just trying to construct, with your help, a reproduction that is a little less minimal (one that uses `ThisBuild / scalaVersion` for good reason), so that it can be balanced against the various cases that t

[2018-02-27 16:19] dwijnand commented on #828
0.12 is no longer relevant

[2018-02-27 16:19] #828 closed, assigned to nobody

[2018-02-27 16:26] lebenitza commented on #3570
Using sbt 1.1.1 here as well, in a project with many, many submodules. The publish artifacts step only works the first few of them and afterwards it throws:
[code]
[code]
The workaround did the thing for me as well.

[2018-02-27 17:37] dwijnand commented on #2065
No longer broken in sbt 1 (tested on 1.1.1):

[code]

[2018-02-27 17:37] #2065 closed, assigned to nobody

[2018-02-28 07:48] eed3si9n commented on #3431
If strict `overwrite == false` is causing actual issues, you might want to try something like this:

[code]

Adopted from https://github.com/sbt/sbt/issues/3725#issuecomment-368367908

[2018-02-28 07:53] eed3si9n commented on #3956
https://dl.bintray.com/sbt/debian has Release. Could you test without your corporate proxy?

[2018-02-28 07:58] eed3si9n commented on #3957
We use GitHub issue mostly to track bugs and discuss feature or bugs on sbt. If you need help, please check this out - https://www.scala-sbt.org/support.html#how-can-I-get-help

[2018-02-28 07:58] #3957 closed, assigned to nobody

[2018-02-28 08:10] eed3si9n commented on #3963
This is likely a regression around `bgRun`.

[2018-02-28 11:41] #3737 closed, assigned to retronym

[2018-02-28 16:11] Grogs commented on #2958
@SethTisue what changed in 0.13.17? A colleague is having this issue with the scala maven plugin, which of course needs to be fixed there, but it would be if we can point them to the problem.

[2018-02-28 16:31] SethTisue commented on #2958
@Grogs the 0.13.17 changes are JDK 9 specific. I can't answer further off the top of my head without digging. does the problem your colleague is having happen _only_ on JDK 9? also, the presence of the "object scala.runtime in compiler mirror not found" error message isn't sufficient to show that something is the same issue; this message can have different underlying causes

[2018-02-28 16:35] SethTisue commented on #2958
I suggest we close this ticket, as the original report is stale and we never got further info from the original reporter. So now the ticket has become a place where people bring their miscellaneous "object scala.runtime in compiler mirror not found" errors. It's reasonable for people to guess that this error always has the same cause — but not a correct guess.

The closed ticket will still turn up

[2018-02-28 16:35] #2958 closed, assigned to nobody

[2018-02-28 17:41] dwijnand commented on #3870
Duplicate of #3344

[2018-02-28 17:41] #3870 closed, assigned to nobody

[2018-02-28 18:06] cacti77 commented on #3956
All 4 steps work fine at home on a different ubuntu 16.04 computer. I'll try the work computer tomorrow if I can get it on a non-work network...

[2018-02-28 19:39] ryandbair opened #3976 "JSch too old"
SBT currently includes JSch 0.1.46, transitively through Ivy. This version does not support any key exchange algorithms considered secure these days. More specifically, none of the algorithms are supported by GitHub any longer.

sbt version: 1.1.1

This may require updating Ivy: #1920

[2018-02-28 19:43] eed3si9n commented on #3976
I'd be open for either trying to backport JSch bumping to our Ivy fork, or applying our patches on top of the latest Ivy.

[2018-02-28 20:16] ALPSMAC opened #3977 "sbt new https://<bitbucket_repo>.g8 doesn't expand maven(...) template strings in default.properties"
## steps
When I created my own template using giter8 and following the docs. from SBT and Giter8's webpages I could make the template work locally by `sbt g8` inside the repo.

When I try to `sbt new ...` the repo from a Bitbucket instance though (or from my local filesystem via `sbt new file:///path/to/repo.g8`) (we can't use GitHub for this code in my org.) the `maven(...)` strings I'm using ins

[2018-03-01 01:57] jccode commented on #3972
Sorry for the late response. @cunei I test the patched version, which give me the follow errors.

    [info] Running ch_ltd.Init
    [error] (run-main-0) java.nio.charset.MalformedInputException: Input length = 1
    [error] java.nio.charset.MalformedInputException: Input length = 1
    [error]         at java.nio.charset.CoderResult.throwException(CoderResult.java:281)
    [error]         at sun.

[2018-03-01 02:11] jccode commented on #3972
Last time I encounter this issue (error 32) both on sbt running on CMD and IntelijIDEA.
However, I try to reproduce the issue this morning, I can only reproduce it on sbt running on CMD, not in IntelijIDEA(even I use sbt 1.1.1, remove the -Dsbt.io.jdktimestamps=true option). Thus I feel very confused.

[2018-03-01 02:52] jccode commented on #3972
I describe the test result.

Steps:

1. Use sbt 1.1.1, remove the "-Dsbt.io.jdktimestamps=true" option to reproduce the (error 32) issue.
   a). Running on IntelijIDEA, I cannot reproduct it again.
   b). Running sbt on CMD, I can reproduct the issue.
2. Using sbt 1.1.2-bin-20180226T135405, re-run on CMD again, I encounter another error, but I confirm that's the issue for my business code, not rel

[2018-03-01 10:33] Grogs commented on #2958
Thanks Seth, makes sense.

Yeah, the same project works on Java 8 but fails on Java 9, they've upgraded to Scala 2.12.4 to no avail.

The other bit of information to go on is:
[code]

We've raised an issue with scala-maven-plugin. davidB/scala-maven-plugin#234

[2018-03-01 14:13] brabo-hi commented on #2222
I've extract the file sbt-launch.jar using (jar xf sbt-launch.jar), made changes and recreate the jar (jar cvf sbt-launch.jar *) . But got manifest error when i run (java -jar sbt-launch.jar)  "no main manifest attribute, in sbt-launch.jar"

[2018-03-01 14:43] BassirouRabo commented on #2222
**Is it what i have to add ?**
       [boot]
directory: ${sbt.boot.directory-${sbt.global.base-${user.home}/.sbt}/boot/}
lock: ${sbt.boot.lock-true}

[2018-03-01 16:10] dwijnand commented on #2222
correct

[2018-03-01 16:18] BassirouRabo commented on #2222
lock: ${sbt.boot.lock-true} should i put it true or false  (sbt.boot.lock) i mean?

[2018-03-01 16:22] dwijnand commented on #1047
I would say that we can only change this in a new major version of sbt (so sbt 2.x). But until we have some concrete reasons as to why we should change this, I'll close off the issue.

[2018-03-01 16:22] #1047 closed, assigned to nobody

[2018-03-01 16:25] dwijnand commented on #1094
there's also https://github.com/laughedelic/sbt-publish-more. Mark said "it would make sense" to implement this in sbt proper, but I'm not so sure myself: I've not seen such a burning need and for the niches there's the opt-in plugin. closing..

[2018-03-01 16:25] #1094 closed, assigned to nobody

[2018-03-01 16:28] dwijnand commented on #1432
rip sbt-remote-control

[2018-03-01 16:28] #1432 closed, assigned to nobody

[2018-03-01 16:35] dwijnand commented on #986
rip sbt 0.12

[2018-03-01 16:35] #986 closed, assigned to nobody

[2018-03-01 16:37] dwijnand commented on #1462
this would need to be better fleshed out, in terms of real world reasons and expectations. I'm happy to re-open it in that case.

[2018-03-01 16:39] dwijnand commented on #1510
fixed in https://github.com/sbt/sbt/pull/1866

[2018-03-01 16:39] #1510 closed, assigned to nobody

[2018-03-01 16:52] dwijnand commented on #1522
you don't even need to be multi-process to cause this: https://github.com/scala/scala/pull/6256/commits/8b63ea205e2ead8a984f52dee1ff690ea298d94e :) (/cc @retronym)

[2018-03-01 16:53] #1609 closed, assigned to nobody

[2018-03-01 16:54] #1650 closed, assigned to nobody

[2018-03-01 17:09] #1747 closed, assigned to nobody

[2018-03-01 17:20] dwijnand commented on #1947
interesting. I thought this might be fixed with `Extracted#appendWithSession` (#3865) but no:

[code]

[code]

[2018-03-01 21:56] bpholt opened #3978 "Eviction warning when version falls within version range"
## steps
1. Create an empty Scala.js project
2. Add the following to `build.sbt`:

[code]
3. Run the `compile` task

## problem
The following warning is printed:

[code]

## expectation
`4.2.1` is within the range `[4.1.0,5)`, so no warning should be printed for this dependency

## notes
sbt version: `1.1.1`

There was some discussion about this in the sbt/sbt Gitter channel: https://gitter.im/sbt

[2018-03-02 00:00] retronym commented on #3962
I see this in the build for `zinc`. That does have the bintray plugin enabled. I haven't established which plugin is using Netty.

[2018-03-02 01:03] SethTisue commented on #3405
there are about a million tickets on this in about a thousand repos 😢

[2018-03-02 01:09] SethTisue commented on #3405
there are multiple tickets on this, see https://github.com/scala/scala-xml/issues/195#issuecomment-369785571

[2018-03-02 01:36] jozic commented on #1462
the idea was that it wasn't not possible to distinguish local plugins from global ones (not sure if this is still the case). Eventually that can be used in `about` command printing something like
`Plugin 1, Plugin 2, Plugin 3 (global) ` or in some other form
or something like `Plugin X (global from /home/user/.sbt/plugins/build.sbt)`
this can be useful while troubleshooting conflicting plugins. Th

[2018-03-02 01:38] eed3si9n commented on #3405
Looking at this again. I think the problem is that during `run` sbt constructs a classloader that puts all JARs associated with `scalaVersion` and calls main. That's how we approximate run.

https://github.com/sbt/zinc/blob/v1.1.1/internal/zinc-classpath/src/main/scala/sbt/internal/inc/classpath/ClasspathUtilities.scala#L66-L72

[code]

This puts compiler JARs into boot classpath. Is boot classpat

[2018-03-02 01:54] eed3si9n commented on #3405
This behavior goes back to 2010 - https://github.com/sbt/sbt/commit/600053bf2cc9df13629239796851dd3a0a29efec
In there there's a scripted test added that's calling `scala.tools.nsc.Interpreter`, a class that's part of the compiler:

[code]

[2018-03-02 01:54] ashawley commented on #3405
FWIW, Mark Harrah left us a note:

https://github.com/sbt/sbt/wiki/Scala-modularization-and-classpaths

It seems relevant.   There was also this associated discussion on scala-internals

https://groups.google.com/forum/#!msg/scala-internals/tT1pjH5GECE/1wtOZoG9bgQJ

[2018-03-02 02:31] eed3si9n commented on #3405
and it's all configurable..? https://github.com/sbt/zinc/blob/v1.1.1/internal/compiler-interface/src/main/contraband-java/xsbti/compile/ClasspathOptions.java

https://github.com/sbt/zinc/blob/v1.1.1/internal/zinc-compile-core/src/main/java/xsbti/compile/ClasspathOptionsUtil.java

[code]

[2018-03-02 05:12] ryan-williams opened #3980 "classpathDependency erroneously looked for in Ivy/Maven when default scalaVersions don't match"
## steps
[As reported in gitter]():

### build.sbt
[code]

Run:

[code]

## problem
`a/update` fails like:

[code]

## expectation

`a` (scala `2.11.12`) gets a classpath-dependency on `b`'s scala-`2.11.12`-cross-build

## notes

For some reason, the differing default `scalaVersion` values (`2.11.12` in `a` vs `2.12.4` in `b`) causes `a` to not actually use `b` as a classpath-dep, but instead sear

[2018-03-02 06:46] retronym commented on #3962
I set a breakpoint in netty to see who is calling it, and as @eed3si9n suspected, it is `sbt-bintray` -> `dispatch` -> `AsyncHttpClient` -> `netty`.  I'll see if we can patch one of those to configure it to be less thread hungry.

[code]

[2018-03-02 06:46] #3962 closed, assigned to nobody

[2018-03-02 06:52] dwijnand commented on #1462
I see, I see! sounds well useful.

[2018-03-02 16:25] RomanIakovlev opened #3981 "Cancellation doesn't stop long-running compilation task"
One of the classes in my project currently takes 10+ minutes to compile. When I'm trying to cancel this via Ctrl+C, it prints `[warn] Canceling execution...`, but doesn't actually stop the process. Instead it runs further, presumably until the compilation of this tricky class is over. The only way to stop this is to kill sbt process, which I'm reluctant to do because I don't want to lose my warmed

[2018-03-04 00:45] ryan-williams commented on #3725
Thanks @maqdev, dropping those lines in my `~/.sbt/1.0/global.sbt` seems like the best work-around until @ffinfo [signs the typelevel CLA](https://github.com/sbt/sbt-pgp/pull/121#issuecomment-365711337) and we get a new sbt-pgp release 😆

[2018-03-04 04:28] silentsudo commented on #2054
this solved build issues for me,
Removing: project/sbt-ui.sbt file and the fork in run := true  entry from the build.sbt file  and project/play-fork-run.sbt

[2018-03-04 16:31] ryan-williams opened #3983 "Set `fork := true` by default, or debug memory leaks with `fork := false`"
## steps

context: discussion in gitter with @hvesalai beginning [here](https://gitter.im/sbt/sbt?at=5a9c0a06e4d1c63604be5c5b) and ending [here](https://gitter.im/sbt/sbt?at=5a9c1cf0458cbde557f4774d)

- open an SBT shell with e.g. 2GB of memory
- run tests or any tasks for "a while"

## problem
observe memory-pressure and eventual OOM

## expectation
Memory gets properly GC'd, and the shell can ru

[2018-03-04 21:41] ruippeixotog commented on #3698
Hi! It's been 4 months since the last update on this. Is there any plan to add this feature to SBT in a near future? The [pureconfig](https://github.com/pureconfig/pureconfig) build is still stuck on SBT 0.13 because of this.

I'm willing to try to implement this feature and submit a PR if this is not a priority for the SBT team, but I'd need some guidance on where and how this could be implemente

[2018-03-04 21:59] eed3si9n commented on #3698
It's not a priority for sbt core devs. We'd be happy to assist you in this.
A good starting point is https://github.com/sbt/sbt/pull/2613 where doge gets merged into sbt 1. You can see which code does what and how it should be tested.

[2018-03-04 22:00] eed3si9n commented on #3698
If you have any other questions feel free to pop into https://gitter.im/sbt/sbt-contrib

[2018-03-04 22:09] ruippeixotog commented on #3698
Thanks @eed3si9n! I'll give it a try when I find the time for it.

[2018-03-04 23:05] eed3si9n commented on #3983
I guess this is a variant of #3896.
Are there public project that we can use to reproduce this behavior?

[2018-03-04 23:13] ryan-williams commented on #3983
It happens all the time on many of my public projects (I'll start trying to repro it on [this one](https://github.com/hammerlab/io-utils)), though I don't have exact repro steps…

my first attempt would be to turn off global default `fork := false` that I just enabled for myself, start a repl, and run `test` 100x… maybe later tonight I'll try.

Is your experience that an sbt repl can be used for i

[2018-03-04 23:16] eed3si9n commented on #3983
I updated the description of this issue s/repl/shell/ to avoid confusion with `console`.

I personally have not seen sbt shell run out of memory. It depends on the tests I guess, but I think most of my unit tests are not forked.

[2018-03-04 23:19] ryan-williams commented on #3983
good to know! I'll work on a repro

[2018-03-04 23:25] eed3si9n commented on #3983
I put "Needinfo" label here, but I don't want it to be interpreted as "this is not a bug."
If there were no OOM in 0.13, but you and others are seeing them in sbt 1.x, there's a potential that sbt has regressed related to testing.

[2018-03-05 02:39] retronym commented on #3962
Spun this over to https://github.com/sbt/sbt-bintray/issues/144

[2018-03-05 12:03] cunei commented on #3972
Hello @jccode, it is a bit difficult to establish whether the patch fixed this issue without a self-contained and reproducible test case. In theory it should, but validating the fix is a bit difficult without having an idea of where your issue originates from. If you manage to create a standalone test, that would be ideal; otherwise we will try and run some local tests, and then will evaluate whet

[2018-03-05 17:48] #2857 closed, assigned to nobody

[2018-03-05 20:32] levinson commented on #3519
The posted workaround does not work for me in SBT 1.0+ (tested 1.1.0 and 1.1.1).
EDIT: I encountered this issue in a simple Scala.js cross-compiled library. It worked fine when I rolled back sbt to 0.13.17. If it's helpful I could put together a minimal example project.

[2018-03-05 22:44] Obarros commented on #3963
@eed3si9n, @jdrphillips anyone looking into this?

Seems like a nice first issue to try to help.

[2018-03-05 22:46] eed3si9n commented on #3963
@Obarros Since no one has claimed it here, I'd guess not.

[2018-03-05 23:03] Obarros commented on #3963
@eed3si9n, Thanks, I can try to implement this fix and submit a PR if this is not a priority for the SBT team, but I'd need some guidance on where and how this could be implemented.

[2018-03-05 23:08] eed3si9n commented on #3963
@Obarros Awesome.
A good starting point if looking at the PR that added bgRun - https://github.com/sbt/sbt/pull/2936/files
and I guess https://github.com/sbt/sbt/blob/v1.1.1/run/src/main/scala/sbt/Run.scala.
If you have any other questions feel free to ask here or gitter sbt/sbt-contrib

[2018-03-06 00:06] ruippeixotog commented on #3698
@eed3si9n just to confirm one thing: in your specification above, you mentioned "4. Reset all subprojects' Scala versions back to original". However, `++` currently doesn't work this way - it sets the Scala version to the one specified (even on projects without it listed on their `crossScalaVersions`) and leaves that version set after execution. Is it ok to change the behavior of `++` for future v

[2018-03-06 00:50] ucbjrl opened #3986 "cross building using `+compile` with subprojects fails in sbt 1.1.1 (due to incorrect settings)"
## steps

This is distilled from a larger, more complex project, but seems to demonstrate the problem.
My layout is:
top/
  src/main/scala/hello/main.scala
  world/src/main/scala/hello/sub/World.scala
  build.sbt

where main.scala contains:
[code]
and World.scala contains:
[code]
and build.sbt contains:
[code]

That is, I have a top-level project that depends on a sub-project. I can compile and ru

[2018-03-06 00:55] eed3si9n commented on #3698
I guess we can interpret `++ <scala-version>` as a special case of `++ <scala-version> <command>` where `<command>` is shell. Not that I am suggesting we actually call `shell` command, but theoretically would that make sense? Similar to calling `sbt` without commands.

[2018-03-06 01:02] ucbjrl commented on #3986
It looks like it's more complicate than this. My simple `++2.11.12` test fails when I put the version specifier at the head of the command chain.
I'll update this, possibly closing it and submitting a new issue, tomorrow.

[2018-03-06 01:05] eed3si9n commented on #3986
You might want to try:

[code]

bare setting otherwise would just apply to the root project only.

[2018-03-06 08:35] jdrphillips commented on #3963
Would love to help @Obarros but I can't guarantee the time I'd need to spend on it as a complete newbie to SBT. If a fix surfaces for it I'll definitely read it

[2018-03-06 11:09] ruippeixotog commented on #3698
That seems sound, semantically speaking. In SBT shell environments the difference between the two is clear, while both forms can still be used from a Unix shell by calling either `sbt "++ <scala-version>" <command>` or `sbt "++ <scala-version> <command>"`. If you think it's ok to break compatibility for scripts expecting `++` to always persist a Scala version, I think I can implement this.

[2018-03-06 13:46] itohiro73 opened #3990 "No instruction for CLA in CONTRIBUTING.md."
## steps
Looking into `CONTRIBUTING.md`, there is no instruction for CLA.

https://github.com/sbt/sbt/blob/1.x/CONTRIBUTING.md

## problem
Contributors would not be sure what's the legal requirement to contribute to the project.

## expectation
Looking into `zinc` project, `CONTRIBUTING.md` refers to CLA as below. I'm not sure what's the CLA requirement in `sbt` but at least expect to see similar

[2018-03-06 17:00] ucbjrl commented on #3986
Thanks @eed3si9n. I'm renaming and closing this issue.

[2018-03-06 17:01] #3986 closed, assigned to nobody

[2018-03-06 19:24] eed3si9n commented on #3698
This is a new behavior for `++`, so it will not break runtime behavior of existing builds right?
Am I missing something?

[2018-03-06 19:31] eed3si9n commented on #3990
Yes, it's the same. plz contribute.

[2018-03-06 19:47] lwu08 commented on #3696
Already set SBT_OPT env, and my proxy works well for other tools...
Still get the following error:

[warn]  ::::::::::::::::::::::::::::::::::::::::::::::
[warn]  ::          UNRESOLVED DEPENDENCIES         ::
[warn]  ::::::::::::::::::::::::::::::::::::::::::::::
[warn]  :: org.scala-sbt#compiler-bridge_2.12;1.1.0: public: unable to get resource for org/scala-sbt#compiler-bridge_2.12;1.1.0: res=h

[2018-03-06 19:59] regis-leray commented on #2687
+1

[2018-03-06 20:03] ucbjrl opened #3992 "cross publishing using `+publishLocal` with subprojects ignores publish settings in sbt 1.1.1"
This is distilled from a larger, more complex project, but seems to demonstrate the problem.
My layout is:

[code]

We want to generate coverage for the root project and all sub-projects which currently requires that we aggregate sub-projects in the root project.
We want to publish a single jar containing code from the root project and all sub-projects so we want to disable aggregation on publish

[2018-03-06 20:49] pweisenburger opened #3993 "Use lower bound when a version range with lower and upper bound is specified"
Following the discussion in #2954, it was decided that it makes sense for SBT to use the lower bound
in case multiple version candidates are found. This was implemented in #2959 and sbt/librarymanagement#80.

The current implementation picks the lower bound of a version range if there is no specified upper bound (e.g., `[2.4,)`). However, it does not seem to pick the lower bound if there is a spec

[2018-03-06 21:11] ruippeixotog commented on #3698
I think it does. In the previous example, with SBT 1.1.1:

[code]

If I understood correctly, after the change we're considering the last command should print "2.12.4". This should not be a common scenario in real scripts (as people typically write something like `sbt ++$SCALA_VERSION <task1> <task2...>`, but it can break some more contrived examples.

[2018-03-06 21:56] eed3si9n commented on #3698
ok. It's been a while so I had forgotten that `++` takes `<command>` already.
I guess we should try to keep the compatibility, and change the scalaVersion afterwards then.

[2018-03-06 23:10] ruippeixotog commented on #3698
Ok! So, currently `++ <scala-version> <command>` is equivalent to `; ++ <scala-version>; <command>`, which is handy when running SBT commands directly through the command-line.

To implement strict aggregation in `++`, I suppose I'll have to either:
- modify the `State` to remove non-compatible projects from aggregations, making this "permanent" in the SBT shell unless I explicitly revert the chan

[2018-03-06 23:14] eed3si9n commented on #3698
Definitely option 2. sbt is meant to work from the sbt shell, so removing subprojects would be bad.

[2018-03-07 06:23] #3990 closed, assigned to nobody

[2018-03-07 08:49] leonardehrenfried commented on #3570
I've hit this issue with a brand-new installation of Sonatype Nexus (version
OSS 3.9.0-01). This is quite annoying.

If we follow up on @avdv's analysis that it's buggy server behaviour with keep-alive and chunked encoding, could it be a possible solution to disable keep-alive for buggy servers?

I'm happy to author a pull request which adds this config option.

[2018-03-07 08:51] leonardehrenfried commented on #3570
Alternatively, would an interceptor that cleans the buffer after a HEAD request work?
It could be added here: https://github.com/sbt/librarymanagement/blob/1.x/ivy/src/main/scala/sbt/internal/librarymanagement/ivyint/GigahorseUrlHandler.scala#L223

[2018-03-07 14:08] cacti77 commented on #3956
Unfortunately this isn't easy to test on my work computer. It's hard to get onto a non-work network in the first place and I'd also have to disable all the relevant proxy settings (e.g., for apt, etc.). So I'm not sure if and when I'll be able to test this without the corporate proxy I'm afraid...

[2018-03-07 17:09] mhamilton723 commented on #3733
@eed3si9n This is still affecting my build with 1.1.0. Are you sure it is fixed?

[2018-03-07 18:09] eed3si9n commented on #3733
@mhamilton723 Thanks for letting us know. I can confirm that this is still an issue.

[2018-03-07 18:12] eed3si9n commented on #3993
Do you have a repro project that we can use for testing?

[2018-03-08 09:17] dwijnand commented on #3092
Fixed in 0.13.16 (and 1.0.0) with https://github.com/sbt/sbt-launcher-package/pull/160.

[2018-03-08 09:17] #3092 closed, assigned to nobody

[2018-03-08 10:02] leonardehrenfried commented on #3570
I will make a speculative pull request.

[2018-03-08 10:11] pweisenburger commented on #3993
There is currently no public repo, but if you just use this as an `build.sbt` file:
[code]

Doing an `sbt compile`,  SBT 1.1 will check online and download the latest version (in this case Akka Actors 2.5.11).
 

One thing that might be related (not sure):

Using something like:
[code]
Akka Stream 2.4.20 depends on Akka Actors 2.4.20 (which is supported by the version range), but SBT resolves Akka

[2018-03-08 10:27] leonardehrenfried commented on #3570
I have installed a local docker container with the very same version of Nexus I can deploy to it just fine. :|

The only difference is that the failing one is hosted on AWS.

Could people comment on whether their failing ones are also hosted on AWS?

[2018-03-08 10:32] BardurArantsson commented on #3570
@leonardehrenfried Ours was not, it was a plain docker container (though using our own Dockerfile). In our case the simple step of adding a HAProxy instance in front of the Nexus resolved the issue for us. (I suspect this is because  HAProxy either a) is more tolerant of non-conformant behavior, or b) does something slightly different wrt. keep-alive, etc. After all it's supposed to be **really**

[2018-03-08 11:27] #3698 closed, assigned to nobody

[2018-03-08 15:45] jsoref commented on #3570
We're having failures w/ Google Cloud hosting Nexus.

It does feel like a chunked+keepalive problem...

[2018-03-08 15:54] Iro2412 commented on #3108
Please the same problem is happening again :
W: The repository 'https://dl.bintray.com/sbt/debian  Release' is not signed.
N: Data from such a repository can't be authenticated and is therefore potentially dangerous to use.
N: See apt-secure(8) manpage for repository creation and user configuration details.
Help ! Thank you

[2018-03-09 09:15] #1559 closed, assigned to nobody

[2018-03-09 13:05] hansharhoff commented on #3976
Are there any available workarounds for sbt to be able to connect to github?

Currently a fresh install on Windows (8.1) fails at the first step of the tutorials: https://www.scala-sbt.org/1.x/docs/Hello.html

For reference it fails with Algorithm Negatiation Fail
because of:
https://github.com/is/jsch/issues/2 https://developer.github.com/changes/2018-02-01-weak-crypto-removal-notice/

[2018-03-09 14:29] hansharhoff commented on #3976
Workaround is to manually download the  https://github.com/scala/scala-seed.g8/tree/2.12.x/src/main/g8 folder and use that as your starting point for a project.

[2018-03-09 15:59] maqdev commented on #3725
This is finally fixed due to `sbt-pgp 1.1.1` is released!

[2018-03-09 23:03] jastice commented on #3819
Indeed, the problem with IntelliJ is the "safe write" feature (see https://youtrack.jetbrains.com/issue/IDEA-188003), which in facts writes changes to a temporary file, then moves it over the original, effectively recreating the file. Apparently sbt watch can't handle this case.

Disabling it in the IntelliJ Preferences / System settings fixes the sbt file watch problem.

[2018-03-09 23:16] OlegYch commented on #3819
@jastice thanks that works for now

[2018-03-09 23:42] fommil commented on #3136
also just lost 2 hours figuring out why I was getting these exceptions

[code]

with no information about **which** file was failing, I might add, despite https://github.com/sbt/sbt/issues/3431 being closed.

[2018-03-09 23:47] fommil commented on #3431
the exception still doesn't contain the filename in 1.1.1, was this closed by accident?

[2018-03-10 00:07] kanischev opened #4000 "SBT plugins seems to share ClassLoader and classes with SBT"
Hello!
I'm trying to make sbt plugin to generate Slick codegen sources for DB Schema for latest PlayFramework(2.6.12) application and sbt v. 1.1.1.
The idea was to set up in-memory db, apply application's migrations on it and run slick-codegen.
There is tototoshi's plugin that works a little bit different: it uses existing db connection to get schema and I decided to hack SBT a little.
I've tried

[2018-03-10 01:42] eed3si9n commented on #3868
@eatkins I would love to merge Close Watch into sbt, and fix all this. Would you mind sending in a PR for this?

[2018-03-10 03:24] swaldman commented on #1993
still crazy after all these years! (but just embedding the `mysetting.value` inline seems like a reasonable workaround. i wish i understood the magic a bit better.)

[2018-03-10 14:39] reid-spencer commented on #3519
:+1:  - Using 1.1.1, with `updateOptions := updateOptions.value.withGigahorse(false)` and have the same exception occuring on initial update for one artifact during download from Nexus repository.

[2018-03-10 16:27] eed3si9n commented on #3431
https://github.com/sbt/librarymanagement/pull/171 did add the error message here - https://github.com/sbt/librarymanagement/blob/v1.1.3/ivy/src/main/scala/sbt/internal/librarymanagement/ConvertResolver.scala#L369-L371

[2018-03-10 19:49] dhinojosa opened #4001 "Java main methods do not run in SBT 1.1.1"
(See the guidelines for contributing, linked above)

## steps

1. Create a simple sbt project
2. Create a simple class in java inside of src/main/java
3. In the SBT shell execute run

## problem

SBT should recognize the main method in Java. This works fine with a project running 1.1.0, but not 1.1.1

## expectation

It should recognize the main method, and run it.

## notes

sbt version: 1.1.1

[2018-03-11 00:24] aklahoty commented on #3641
after running sbt assembly command, how do I run the scala project..

The command to use is java -jar target/scala-2.10/lixr-assembly-0.1.jar Model.scala input.xml

What is definition.scala file here..

here is the snippet of Main.scala

package eu.liderproject.lixr

import com.twitter.util.Eval
import java.io.File

object Main {
  def loadModelFromFile(fileName : String) = Eval[Model](
    "impor

[2018-03-11 20:20] markehammons opened #4004 "There should be a way to disable java version checking built into sbt."
(See the guidelines for contributing, linked above)

## steps
Set java 10 early access build as your provider of the java executable
Try to launch sbt

## problem
sbt throws an error saying the java version is too old. It fails to parse the version string of java 10 because the current builds include a date in the versioning.

## expectation
there should be a way to force sbt to try to run with th

[2018-03-12 14:10] margussipria opened #4005 "javax.ws.rs-api url (even with "fix") does not work with custom resolvers"
## steps
1. Use s3 plugin for supporting s3 protocol for resolver: `addSbtPlugin("com.frugalmechanic" % "fm-sbt-s3-resolver" % "0.14.0")`
2. Add custom s3 resolver:
[code]
3. Add "faulty" Maven repo (from central), issue https://github.com/ronmamo/reflections/issues/169 has fix that worked for me:
[code]
4. run compile

## problem
When requiring `"javax.ws.rs" % "javax.ws.rs-api" % "2.1"` and simu

[2018-03-12 14:48] dwijnand opened #4006 "move key default to definition site"
I think it would be better if the default for keys were defined when the key is defined, instead of defining the key and the default in separate places.

additionally keys for common types could be auto-defaulted, like `Seq[A]` keys could be `Nil` out the box.

however note that the default for a key for an `A` (e.g `SettingKey[A]`) cannot be a value of type `A`, it has to be an `Initialize[A]` so

[2018-03-13 01:24] ChristopherDavenport opened #4007 "VSCode Extension Test Files Do Not Compile"
(See the guidelines for contributing, linked above)

## steps
Use VSCode Extension
Write Test File
Save

## problem

Test Scope is not compiled by incremental compiler, forcing manual compilation

## expectation
Saving by the incremental compiler with check all scopes, or at least relevant scopes to the files being changed.

## notes

sbt version: 1.1.1

Workaround Fix: `addCommandAlias("compile",

[2018-03-13 02:22] eed3si9n commented on #4007
Thanks for the report!

[2018-03-13 02:27] eed3si9n opened #4008 "lm: "unresolved dependencies" should not log a stack trace"
This is a placeholder link case for https://github.com/sbt/librarymanagement/issues/212
All discussions should take place there.

[2018-03-13 02:27] ChristopherDavenport commented on #4007
I'd be very happy to help solve it. I went looking but couldn't figure out where to start.
[Incremental Compiler Compile](https://github.com/sbt/sbt/blob/1.x/main/src/main/scala/sbt/Defaults.scala#L1425) or [CompileOptions](https://github.com/sbt/sbt/blob/1.x/main/src/main/scala/sbt/Defaults.scala#L1453) Seemed to make sense, but I'm not sure how they would know of the other scopes to be compiling

[2018-03-13 02:31] eed3si9n commented on #4007
I would suggest you or whoever working on it work on top of my existing PR https://github.com/sbt/sbt/pull/3975

The code that needs changing is:

[code]

[2018-03-13 03:36] eatkins commented on #3868
@eed3si9n I'd love to get it merged into mainline sbt. Before I proceed, I am curious exactly what you're looking for. CloseWatch completely overhauls how sbt interacts with the file system both in triggered execution and when fetching the source file lists by adding a global file system cache. For large repos O(5000) files, this can reduce the start up time of the compile task by O(1 second) beca

[2018-03-13 05:01] eed3si9n commented on #3868
@eatkins Thanks for the comment!

I want the pain to stop.

That sounds good to me. @dwijnand?

I am ok with that.

We have 1.x branch (targeting 1.2.0 comes out in months) and 1.1.x branch (comes out in days or weeks). For 1.1.x branch, I would prefer conservative patch.

[2018-03-13 05:32] eed3si9n opened #4009 "Non-fork test ends up with unwanted scala-library even with autoScalaLibrary := false"
Originally reported by @retronym

## steps

See https://github.com/scala/scala/pull/6300#issuecomment-372495182

## problem

Classloader used by non-fork test includes scala-library in ScalaInstance.

## expectation

Construct Classloader without ScalaInstance when `autoScalaLibrary := false`

[2018-03-13 07:06] retronym opened #4010 "Forked tests don't report failure for frameworks with nested tasks"
## steps

Checkout https://github.com/retronym/sbt-test-listener-bug and follow instructions the the README.

## problem

 - When `fork in Test := true`, the test suite reports success even though there was a failure
 - The test listener is called more than once with an `endGroup` with the same name.

## expectation

 - Consistent behaviour between forked and non-forked tests

## notes

Real world

[2018-03-13 10:37] dwijnand commented on #2476
sorry about that.. I see sbt-android worked around the semantic change.

[2018-03-13 10:37] #2476 closed, assigned to nobody

[2018-03-13 10:41] dwijnand commented on #3976
fix merged in https://github.com/sbt/librarymanagement/pull/217

[2018-03-13 14:46] bjornregnell commented on #3497
Same issue for me with sbt 1.1.1 on a regular basis, approx. after 100 compilations during `~run` inside sbt while running atop Oracles JVM on Linux Ubuntu 14.04:
[code]
Lots of headroom of open files, but still eaten by leak in sbt (?):
[code]
The stack trace from sbt:
[code]

[2018-03-13 15:33] jrudolph commented on #3497
I wonder if this might actually already fixed by https://github.com/sbt/sbt/pull/3790 (which was only merged last week)?

[2018-03-13 15:44] dwijnand commented on #4000
no, plugins are meant to allow building one on another (e.g sbt-play on sbt-web).

on that basis I'll close this ticket (which, however, doesn't prevent further comments on the topic! 😃)

[2018-03-13 15:44] #4000 closed, assigned to nobody

[2018-03-13 16:03] dwijnand commented on #4001
I can't reproduce the issue:

[code]

what are we doing differently?

closing, for now, on the assumption that there is no bug.

[2018-03-13 16:03] #4001 closed, assigned to nobody

[2018-03-13 20:31] kanischev commented on #4000
Maybe, I told smth wrong. Sorry, my english is not perfect ) I'll try again =))
The thing is not in building one plugin with another. The problem is sbt has a dependency on com.typsafe.config of version 1.2.0. And this library is loaded with ClassLoader of sbt itself. Play itself (not a plugin) uses more modern version and is incompatible with 1.2.0. I tried to create the plugin for sbt that uses

[2018-03-13 21:01] dwijnand commented on #3249
huh! I wonder if this is related to #3515, which is about classpath resources in sbt 1..

[2018-03-14 09:20] dwijnand opened #4011 "update `"com.typesafe" % "config"` dependency"
(extracted from #4000)

[2018-03-14 09:20] dwijnand commented on #4000
hey @kanischev,

I think what you're reporting is a duplicate of #2796.

I've created #4011 to track updating to typesafe config 1.3.1.

[2018-03-14 11:16] jrudolph opened #4012 "sbt 1.x Performance improvement targets"
During the last weeks I spent a bit of time analyzing the performance of starting an already fully cached sbt build (i.e. taking the times with `time sbt exit && time sbt exit && time sbt exit` and ignoring the first result). I probably won't have time to act on these but I wanted to dump these here for anyone who wants to help improving the performance.

 * Calculating aggregations is slow. Aggre

[2018-03-14 11:16] jrudolph commented on #3694
Superseded by https://github.com/sbt/sbt/issues/4012.

[2018-03-14 11:16] #3694 closed, assigned to nobody

[2018-03-14 11:17] jrudolph commented on #3694
It was possible to do that by just introducing another layer of caching just for the result of `splitExpressions`. See https://github.com/jrudolph/xsbt/commit/b7a9f740b3426ac46ee92eec0efdb8cd2a8d16cb.

[2018-03-14 11:49] fommil commented on #3934
Actually it looks like main resources are not on the classpath of `compile:compile` either so it boils down to if this is a palatable change or not. Maybe a bit niche?

[2018-03-14 11:52] fommil commented on #3934
To clarify, I think the `Compile,compile` one is niche.

But I think `Test,compile` should definitely have the `Compile,resources` on the compiler classpath as this is much more realistic compared to depending on a jar.

[2018-03-14 14:01] dwijnand commented on #3934
I agree. we should definitely explore this.

[2018-03-14 16:06] dwijnand opened #4013 "remodel JSON RPC data types"
1. there are too many `execId: Option[String]` in the codebase, making it way too easy to send JSON RPC responses without their request id.

here's what the JSON-RPC 2.0 spec says:

This member is REQUIRED.
It MUST be the same as the value of the id member in the Request Object.
If there was an error in detecting the id in the Request object (e.g. Parse error/Invalid Request), it MUST be Null.

ht

[2018-03-14 21:10] eatkins commented on #3868
Ok. I'm finishing up a back port of CloseWatch to sbt 0.13. Hopefully within a few days, I'll start pushing some PRs to sbt.io and sbt.

[2018-03-14 23:22] NeQuissimus opened #4014 "Classpath strangeness with 1.0.4+"
I am encountering an issue that I cannot find out enough about to really point anybody in a concrete direction.

So let me provide as much information as possible:

I have a multi-project `build.sbt` that uses sbt 1.1.1.

- `project A` contains a Kafka Streams dependency
- `project B` also contains a Kafka Streams dependency (which I do not really need but I like it for clarity rather than transit

[2018-03-15 00:19] devshorts commented on #2824
~@eed3si9n are there any workarounds to this? I have tests that I want to verify serialize and deserialize properly, but I can't run them in sbt due to this. SBT runs in `fork in test := true` but I still get this error.~

Nevermind, I needed `fork in Test := true` not just `fork in test := true`

[2018-03-15 01:33] jkleckner commented on #748
@M10han I'm not sure what to suggest.  I haven't seen this with OSX 10.12.6, Java 1.7.0_80-b15/1.8.0_162-b12, sbt 0.13.16, Play 2.3.10, Scala 2.11.8 and xcode-select version 2347.

[2018-03-15 01:58] #3890 closed, assigned to eed3si9n

[2018-03-15 11:33] jastice opened #4015 "Cannot resolve sbt plugin from local ivy repository"
## steps

I am trying to publish an sbt plugin to a local file repo. In the plugin's build.sbt I have:

    publishTo := Some(Resolver.file("localtrix", file("/Users/jast/repo/localtrix")))

I run the `publish` task and it gets published fine to
`/Users/jast/repo/localtrix/org/me/sbt-plugin_2.12_1.0/1.2.3`

In another project, I want to resolve this plugin. in `project/plugins.sbt` I have:

    re

[2018-03-15 12:47] dwijnand commented on #1993
the macro inspects the AST nodes of the code it's processing during what is called "macro expansion". if it the value is coming from a key, it accepts it, if not says it's "dynamic", i.e it can't track the dependency between the value and the key it came from.

sadly after all these years this is still the case: the situation hasn't been dealt with. but it would be a very welcome contribution for

[2018-03-15 13:56] jdrphillips commented on #4014
We had a very similar issue in our project.

Like you, not very sure what's going on and it seems to be a confluence of issues.

We were creating an actor context inside a specs2 `in` block. Moving this creation to a context to be used as `in ActorContext {...}` instead worked for us. We made sure `ActorContext` was a top-level trait. Note we are also on `sbt 1.1.x` and I cannot comment on `sbt 1.

[2018-03-15 13:58] fommil commented on #3934
This might be a false positive. I can see the `target` directory on the classpath and it has the resources.

The issue I'm facing might be that I want the test resources on the test compiler classpath, and that's perhaps a bit niche.

[2018-03-15 14:06] fommil commented on #3934
oh! I see the issue. The resources are copied to the classes directory AFTER the compilation!

The real bug here is that resources should be copied over before compilation.

[2018-03-15 14:13] fommil commented on #3934
@dwijnand I found the real cause of this and changed the initial report accordingly. It's an sbt bug hopefully with an easy fix.

[2018-03-15 14:35] dwijnand commented on #3981
related to #3708

[2018-03-15 14:38] dwijnand commented on #3980
Duplicate of #1448

[2018-03-15 14:38] #3980 closed, assigned to nobody

[2018-03-15 14:43] dwijnand commented on #4015
perhaps it works if you publish and resolve from a local file ivy repository?

[2018-03-15 14:50] dwijnand commented on #3934
cool, I can actually tell you exactly where this happens (AFAIK). what a rare occurrence.

https://github.com/sbt/sbt/blob/v1.1.1/main/src/main/scala/sbt/Defaults.scala#L2544-L2548

for any potential contributor: you need to make the `compile` task depends on the completion of the `copyResources` task.

[2018-03-16 05:36] eed3si9n commented on #3949
why? I think `sbt new` is easy enough to remember.

[2018-03-16 06:18] itohiro73 commented on #4004
(cc: @eed3si9n)
I tried to reproduce this but I couldn't in my Mac OS (High Sierra 10.13.3) . Here is the Java version I tried.

[code]

@markehammons Would you mind providing your OS, the exact Java version, sbt launcher version and the step that you encountered this issue?

[2018-03-16 06:35] eed3si9n commented on #4011
The problem is that SSL Config uses 1.2.0 - https://github.com/lightbend/ssl-config/blob/master/project/Dependencies.scala
/cc @kanischev

[2018-03-16 06:35] tmiyamon commented on #3963
The cause of this problem seems changing the way to run of sbt between 0.x and 1.x.
sbt 0.x run with build directory but 1.x run with built jar.
The built jar include resources properly so if you can read them as stream.
I think listing resources in jar need to extract jar itself.

[2018-03-16 06:39] eed3si9n commented on #3963
So I guess it works as well as it can as `bgRun`. I am going to close this as design.

[2018-03-16 06:39] #3963 closed, assigned to nobody

[2018-03-16 06:49] eed3si9n commented on #3878
Seems to be fixed now.

[2018-03-16 06:49] #3878 closed, assigned to nobody

[2018-03-16 07:52] DavidPerezIngeniero opened #4020 "value value is not a member of sbt.TaskKey"
## steps

I modified my `buid.sbt` and added new taskdefs.
If necessary, I can provide privately all my `build.sbt`.

## problem

This works:
[code]

But if I add brackets it doesn't:
[code]

In this way it works again:
[code]

Error:
[code]

## expectation

I used a lot SBT and I know it is legal to use `.value` on a TaskDef

## notes

sbt version: 0.13.16

[2018-03-16 08:02] bakenezumi commented on #3649
I ran it with sbt 1.1.1, and got the following output.

[code]

Since `java.lang.UnsupportedClassVersionError` can be seen, I think that it can be tracked.

[2018-03-16 08:03] eed3si9n commented on #3649
That looks good enough for me as the error message.

[2018-03-16 08:03] #3649 closed, assigned to nobody

[2018-03-16 08:32] suewonjp opened #4021 "sbt console won't allow any input."
(See the guidelines for contributing, linked above)

## steps
Just invoke sbt console in any folder

## problem
sbt console won't allow any input.
It doesn't echo back anything I type except `<Enter>` key

It responds to my `<Enter>` and changes a line

Also pressing `CTRL-C` lets me out of the console.

## expectation
Working like a regular console (echoing back what I type)

## notes
I have inst

[2018-03-16 09:01] suewonjp commented on #4021
Seems like sdkman has nothing to do with this issue.

This symptom appears with Installing via Homebrew anyway.

And I tried `sbt "-Djline.terminal=none"` and it worked!

Just invoking the console with typing `sbt` caused this issue (maybe, only to me?)

I think this is a bug...

[2018-03-16 09:22] dwijnand commented on #3949
1. I think it's better than a magic "scala.local" argument
2. there's a few precedents in other tools, probably `git init` is the most well known

[2018-03-16 10:21] dwijnand commented on #4021
just for clarity in sbt "console" is how you access the Scala REPL.

what you're referring to as "console" in sbt is referred to as sbt's "shell". :)

so this is an sbt shell / jline issue, possibly to do with your system setup (thank you for all the system details you provided!)

what do you mean by "won't allow any input"? does that just mean that:

1. it doesn't echo back what you type, but it

[2018-03-16 10:23] dwijnand commented on #3878
fixed when we fixed https://github.com/sbt/website/issues/612 I think

[2018-03-16 13:19] suewonjp commented on #4021
2. No echoing back and no execution.

Hitting Enter just gives me a new blank line, that's all.

Looks like `sbt` or `sbt "-Djline.terminal=unix"` causes this symptom, while `sbt "-Djline.terminal=none"` lets me interact with sbt, at least.

[2018-03-16 13:35] itohiro73 commented on #3949
In my understanding (per discussion with @eed3si9n today), this issue is a suggestion to provide an offline template inside sbt itself as opposed to depending on g8 resolver.

So it may be going to have other offline templates such as `akka.local`, `finagle.local` etc. in future.

In that case using `sbt new scala.local` may make more sense than `sbt init`?

@dwickern Thoughts?

[2018-03-16 14:09] jastice commented on #4015
What worked:
in plugin: `publishMavenstyle := true`
in project: `resolvers += "localtrix" at "file:///Users/jast/repo/localtrix"

[2018-03-16 14:48] dwijnand commented on #4015
(semi-related https://github.com/sbt/librarymanagement/issues/224)

[2018-03-16 14:54] dwijnand commented on #3949
I can get behind the idea of have a few different templates available offline/out-the-box, but I think they should be sbt-generic, not that specific.

I'm thinking for example: multi-project vs single-project (which has been a great source of debate in the giter8 templates in the scala org). also an sbt plugin template out-the-box (such as https://github.com/sbt/sbt-autoplugin.g8) would probably b

[2018-03-16 14:55] dwijnand commented on #4021
curious... but I have no idea how to debug this.. :-/

[2018-03-16 15:22] dwijnand commented on #4011
is this not help wanted?

[2018-03-16 15:24] eed3si9n commented on #4011
The bar for "help wanted" should be that it's immediately workable.

[2018-03-16 15:29] dwijnand commented on #4020
I can't reproduce this with sbt 0.13.16 or sbt 1.1.1.

now `value` isn't technically a member of TaskKey, it's only available on TaskKey via an implicit conversion, but I have no idea how that failed for you.. any ideas?

I'm going to close this because (1) I can't reproduce it, and (2) the idea that whitespaces changes anything along this line is crazy... but we can reopen it if needed.

[2018-03-16 15:29] #4020 closed, assigned to nobody

[2018-03-16 15:32] dwijnand commented on #4011
is this for you not immediately workable because the first change required is in ssl config?

[2018-03-16 15:33] dwijnand commented on #4011
does typesafe-config follow semver? could we not depend on version 1.3.1 in sbt with or without ssl-config updating?

[2018-03-16 18:19] dwijnand commented on #3859
I think this is a bug in the Scala REPL. it happens with `scala.concurrent._`/`duration._`, and in testing I found with `scala.sys._`/`process._`.

but it doesn't happen with `org.scalacheck._`/`Arbitrary.arbitrary` or `scala.util._`/`control.Exception._`.

I think it might have to do with how lambdas are encoded in Scala 2.12.

@som-snytt any ideas?

meanwhile I'll close this off..

[2018-03-16 18:19] #3859 closed, assigned to nobody

[2018-03-16 19:10] som-snytt commented on #3859
The way sbt interacts with the REPL is semi-customized and broken. I think Adriaan wants to fix that in 2.13, modulo time.

I added a [workaround](https://github.com/scala/scala/commit/4347dd9a4e2aedc02d9a29fc40c5a6810ea97415) but presumably sbt changed and broke it.

For kicks, you can see the REPL error with `sbt -Dscala.repl.trace`. Offhand, I don't remember what the underlying problem is, etc.

[2018-03-16 21:34] dwijnand commented on #3859
if you can provide guidance as to how sbt should interact with the REPL I'd be happy to get its act in order..

[2018-03-16 21:40] dwijnand commented on #3859
it thinks `duration` is the result..

[code]

<details>
 <summary>full debug log</summary>

[code]

</details>

[2018-03-16 21:41] dwijnand commented on #3859
that explains why it didn't break with `Arbitrary` and `Exception`.. because those are values (that can be ignored). lol wth

[2018-03-17 02:20] suewonjp commented on #4021
Yes, I understand this is a hard issue to debug.

After reading https://github.com/jline/jline2/wiki/Terminal-Factory-Configuration  , I've come to the conclusion that Jline can't recognize my terminal setup.

In fact, I've used .inputrc which looks as follows

[code]

After reading [this issue](https://github.com/jline/jline2/issues/286), I changed my inputrc like so:

[code]

In short, I've flip

[2018-03-17 02:29] #4021 closed, assigned to nobody

[2018-03-17 06:39] som-snytt commented on #3859
It's just trying to figure out what is importable in the import. It just successfully compiled the source, but it doesn't use the typed trees, so it does more work.

I guess sbt stopped using the deprecated since 2.9 repl class. I haven't had a chance yet to look at the repl refactor in 2.13 which promises a real API.

[2018-03-17 08:05] dwijnand commented on #4021
nice sleuthing!

[2018-03-17 08:05] dwijnand commented on #4021
Duplicate of #3128

[2018-03-17 08:39] dwijnand opened #4024 "clearer project self referencing error reporting"
## steps

[code]

## problem

[code]

## expectation

[code]

or something along those lines.

* explicit reporting of self referencing
* no double messaging
* remove the verbose toString of Project (good idea?)
* remove the stacktrace

## notes

same thing when using `aggregateProjects` instead of `dependsOn`.

sbt version: 1.1.1

[2018-03-18 08:43] eed3si9n commented on #4011
Basically. I think the realistic compromise for us (or a potential contributor) might be to shade SSL Config in Gigahorse so it doesn't conflict with the latest Lightbend Config.

[2018-03-18 08:47] eed3si9n commented on #4007
Fixed in https://github.com/sbt/sbt/pull/4022

[2018-03-18 08:47] #4007 closed, assigned to nobody

[2018-03-18 16:35] dwijnand commented on #4011
ah right, yeah, because of #2796 depending on typesafe-config 1.3.1 in sbt is still working around the problem.

we might want to actually deal with #2796..

[2018-03-18 20:23] hvesalai opened #4026 "SBT does not use the specified JLine"
While the version 0.13.x of SBT used the JLine version that it was built against, the 1.1.x version uses the one provided by Scala.

## steps

Start SBT with the -verbose:class JVM parameter

Observe the jar from which the jline classes are loaded.

## problem

On SBT 1.1.x the classes are loaded from (for example)

`.sbt/boot/scala-2.12.4/lib/jline.jar` (or equivalent lib directory)

## expectati

[2018-03-18 23:15] markehammons commented on #4004
I was using opensuse tumbleweed linux. Unfortunately I switched back to fedora, but I can retry with the java 10 eap.

[2018-03-18 23:25] markehammons commented on #3557
It's been a while since I responded to this, but the jnr-ffi project has a signal library. It can be used in place of sun.misc.Signal: https://github.com/jnr/jnr-posix

Here's a link to an example of using jnr-ffi for signals handling: https://github.com/jnr/jnr-posix/blob/master/src/test/java/jnr/posix/SignalTest.java

[2018-03-19 03:12] eed3si9n commented on #4014
Thank you for a detailed report!
Since you narrowed it down to 1.0.4, we can try to guess the cause from list of changes we've added there - https://github.com/sbt/sbt/releases/tag/v1.0.4

What do you get for running `show test:externalDependencyClasspath` do you see any difference before and after running your test once?

[2018-03-19 07:07] eed3si9n commented on #3934
Currently the compilation and resource (potentially generation in case of web apps etc) copying are two independent tasks (i.e. "concurrent" in Lamport sense). This is by design.

Simply making `compile` task depend on `copyResources` introduces extra step to `compile` that were not previously there, and therefore might incur expensive performance penalty. (Think Windows machine copying 100MB etc)

[2018-03-19 07:43] DavidPerezIngeniero commented on #4020
As I've found a workaround, I'm not worried by this bug.

[2018-03-19 08:06] DavidPerezIngeniero commented on #1993
In my experience, when I have the illegal dynamic reference problem:

This doesn't work:
[code]

[code]

But this is accepted:

[code]

I define `myFunction` in an external `build/*.scala` file.

[2018-03-19 10:20] mrveera commented on #3862
@eed3si9n  Would you mind If I create PR for this?

[2018-03-19 10:20] eed3si9n commented on #3862
Plz do. I put help wanted for this reason :)

[2018-03-19 10:24] eed3si9n commented on #3862
Places to look into:
https://github.com/sbt/sbt/blob/v1.1.1/main/src/main/scala/sbt/Main.scala#L108-L117

[code]

That calls exchange.shutdown, which should eventually call server shutdown as well https://github.com/sbt/sbt/blob/v1.1.1/main-command/src/main/scala/sbt/internal/server/Server.scala#L124-L133

[code]

[2018-03-19 10:50] mrveera commented on #3862
Hey @eed3si9n,
 I need small clarity Its already resolved in sbt-version 1.1.1
Do you want me to work on 1.1.0?

[2018-03-19 10:53] eed3si9n commented on #3862
If it already works with 1.1.1, then we can just close this issue.

[2018-03-19 10:56] eed3si9n commented on #3862
@olafurpg I can't reproduce this either, so I am going to close this for now.

[2018-03-19 10:58] mrveera commented on #3862
@eed3si9n  I hope you checked it before closing.

[2018-03-19 10:59] eed3si9n commented on #3862
I tried on my machine using a hello world project.

[2018-03-19 11:01] mrveera commented on #3862
Cool @eed3si9n  The same I was tested.

[2018-03-19 11:02] mrveera commented on #3862
Do you have any other things
 that I can Fix quickly?

[2018-03-19 11:06] eed3si9n commented on #3862
I can't promise "quickly" but something like https://github.com/sbt/sbt/issues/3849 might be contained.

[2018-03-19 11:14] mrveera commented on #3849
Just for clearing, While specifying  -error flag We just need to console error level logs
Am I correct?

[2018-03-19 11:15] dwijnand commented on #3862
this isn't fixed. using sbt/sbt's build (HEAD 933668076):

[code]

[2018-03-19 11:16] eed3si9n commented on #3862
Ólaf's step said "exit" not shoot the computer with handgun.

[2018-03-19 11:19] mrveera commented on #3862
Dear @eed3si9n, the @dwijnand comment makes sense for me.
Even user closed in the middle of execution we should shutdown server and remove active.json file

[2018-03-19 11:20] eed3si9n commented on #3862
We do already have exit hook if you want to look into this further.

[2018-03-19 11:32] dwijnand commented on #3934
I was only changing the definition of `products` such that it copied before compiling, not of `compile` in general.

however, in reviewing my suggestion, I don't think this would be a great solution anyways because I can easily see that not every invocation of compile is via `products` (e.g does `test` use `products`?)

[2018-03-19 11:37] dwijnand commented on #2251
@ritschwumm why is it less convenient?

[2018-03-19 11:37] mrveera commented on #3862
Yeah @eed3si9n, It has a hook to exit  but what about handling ^C

[2018-03-19 11:43] dwijnand commented on #3862
can you reproduce with exit on 1.1.0?

[2018-03-19 11:44] eed3si9n commented on #3862
No, it worked for me.

[2018-03-19 11:46] dwijnand commented on #3862
same for me.

[2018-03-19 11:56] dwijnand commented on #3849
yes that's right.

for a little more context you might want to look at https://github.com/sbt/sbt/issues/2734.

[2018-03-19 12:02] fommil commented on #3934
note that this is another area where bloop makes the assumption that the resources are copied over by the build tool before doing any compilation, therefore departing from what the build is doing. // @jvican

[2018-03-19 12:05] eed3si9n commented on #3934
testing is specialized running so I am guessing that resource would be available one way or the other.
It should also follow suit of `bgRun` so it can run without blocking the shell.

[2018-03-19 12:10] olafurpg commented on #3862
The reproduction steps in the ticket include `exit` but it would be nice if ^C was also handled. This is not a blocker issue however, as a client to sbt server a workaround is to catch errors when establishing a connection.

[2018-03-19 12:11] olafurpg commented on #3862
It goes without saying that a client should handle errors when establishing the connection regardless if this ticket is fixed or not.

[2018-03-19 13:33] NeQuissimus commented on #4014
I just tried doing that from a different (much faster) machine and can't ever get the tests to pass.
I will run take a look at the classpath from the original machine.
Considering the above observation, we may be looking at some race condition.
Will report back once I have more data.

[2018-03-19 13:36] jastice opened #4027 "updateClassifiers does not resolve classifier sources"
sbt is not resolving sources for dependencies with additional classifier such as `tests`. For instance, a project published its test sources with the setting: `publishArtifact in Test := true`.

## steps

1. publish some sources with `tests` classifier
[code]
These sources will be published to local ivy:
[code]
2. Create sbt project with this in build.sbt:
```libraryDependencies += "com.example" %

[2018-03-19 13:54] jastice commented on #4015
Furthermore, publishing and resolving with explicit `Resolver.ivyStylePatterns` works:
[code]
[code]

[2018-03-19 14:03] dwijnand commented on #4015
so this is exactly sbt/librarymanagement#224

if you publish maven style (which is the default) then `Resolver.file` doesn't work but `"localtrix" at "file:///.."` (aka `MavenRepository`) does.

[2018-03-19 14:37] mrveera commented on #3849
@eed3si9n  Could you please assign this to me?

[2018-03-19 14:40] eed3si9n commented on #3849
I can only assign to committers unfortunately using GitHub UI, but I am sure this comment would be enough as signal.

[2018-03-19 14:40] laughedelic commented on #3849
@veera83372 I think you have to be a collaborator (with push rights) to be able to be assigned

[2018-03-19 14:47] dwijnand commented on #3849
you only need read access to be assigned issues in github orgs: https://help.github.com/articles/repository-permission-levels-for-an-organization/

so I've invited @veera83372 to the sbt org.

[2018-03-19 14:50] dwijnand commented on #3849
correction: and you have to be a part of a team that has read access to sbt/sbt, so there's no an "sbt-read-access" team that has read access to sbt/sbt, and @veera83372 is in it :D

[2018-03-19 20:27] NeQuissimus commented on #4014
@eed3si9n I grabbed the classpath output with all of 1.0.3/1.0.4/1.1.0, each before first running the tests, after the first run and after the second run.
All outputs are identical.

Here is something I did find out that is interesting:
I generally run `git clean -xfd` to remove anything untracked (i.e. `target/`), then `rm -rf ~/.sbt ~/.cache/coursier ~/.ivy2/cache` to get rid of my caches.

- On

[2018-03-19 21:18] kanischev commented on #4000
hey @dwijnand
Thank you. You're right. #2796 covers the same thing.

[2018-03-20 04:16] SethTisue commented on #2835
this came up on Gitter again today (from a language newcomer). idk about priority relative to everything else, but a fix would help give a good first impression.

[2018-03-20 05:37] mrveera commented on #3849
Hey I need someone who has context on this so that I can ask few questions

[2018-03-20 05:53] amogh09 commented on #3519
Any updates on this? Disabling gigaHorse helps on OS X but not on Ubuntu.

[2018-03-20 08:56] dwijnand commented on #3849
sure, we can chat in https://gitter.im/sbt/sbt-contrib

[2018-03-20 09:04] jvican commented on #3934
@fommil In this case, this doesn't matter to us, we practically replace all sbt defaults and hand-roll our own implementations for them. In our case, managed sources and resources are copied over when we `bloopInstall`.

[2018-03-20 09:53] amogh09 commented on #3519
I struggled with `updateOptions := updateOptions.value.withGigahorse(false)` a bit.

When on a fresh container with a freshly cloned project, running `sbt test` as the first command gives NPE while resolving plugins. But if I run `sbt compile` before running `sbt test` then there is no NPE.

Seems like the setting line is not reached before plugins are loaded in case of `sbt test` for my project.

[2018-03-20 17:37] dwijnand commented on #3918
I created a ["source dependencies"](https://github.com/sbt/sbt/labels/source%20dependencies) label to aggregate.

what's the criteria under which this issue is closed?

as far as I see source dependencies support is a feature of sbt. it does have bugs and ways in which it could be improved, and those bugs and improvements should have dedicated issues (following our issue template).

and the new la

[2018-03-20 17:37] #3918 closed, assigned to nobody

[2018-03-21 06:35] retronym commented on #1913
As of SBT 1.0.4 / https://github.com/sbt/sbt/pull/3717,  `sbt 'set persistLogLevel in ThisBuild := Level.Info' .. ` seems to filter debug log entries from that file.

[2018-03-21 08:43] veera83372 commented on #3849
Hey, can someone verify whether following code is working or not?
I think a problem with this code according to my observation it is not setting the log level
https://github.com/sbt/sbt/blob/ca874d5d5f6046c4ac2d4825d81e84b97b0f1c0a/main/src/main/scala/sbt/internal/LogManager.scala#L232-L233

[2018-03-21 12:54] forzagreen commented on #2187
I had the same problem. I figured out that my company blocks https://dl.bintray.com/sbt/debian
Try with another network.

[2018-03-21 15:30] #3861 closed, assigned to nobody

[2018-03-21 16:23] veera83372 commented on #3849
Can someone give me places where to look?

[2018-03-21 19:06] laughedelic commented on #2251
I think that typing with a modifier key (<kbd>shift</kbd> here) is generally less convenient than without it, because it requires 2 simultaneous actions. Typing a hyphen doesn't require that.

That said, I think that consistency is more important than typing ergonomics, so the keys should be camelCased, but a case-insensitive completion would be very handy.

[2018-03-22 02:17] rcano commented on #4004
Ubuntu 17.10 here, fresh install of java 10 from oracle's download site, sbt errs with:

[code]

[2018-03-22 03:08] mrveera commented on #2251
+1 for tab completion case insensitive.

[2018-03-22 10:14] jugalps commented on #3905
I am facing the same issue. Is there any other way instead of adding a DROP rule to IPTABLES?

[2018-03-22 13:42] redbaron commented on #3466
Are you sure it is not because your ~/.ivy2 is not available when running in docker?

[2018-03-22 16:01] dwijnand commented on #4004
fixed in https://github.com/sbt/sbt-launcher-package/pull/209 (sbt 1.1.1)

[2018-03-22 16:01] #4004 closed, assigned to nobody

[2018-03-22 16:52] mrveera commented on #3849
@eed3si9n  Can you please tell me places where to look for this?

[2018-03-22 17:21] devshorts commented on #3466
Turned out for me that the issue was a mounted `~/.ivy2` folder to my local host on osx.  The file watch bindings in docker on osx are abysmally slow (https://forums.docker.com/t/file-access-in-mounted-volumes-extremely-slow-cpu-bound/8076). If I instead _didn't_ mount the local ivy folder, things were much faster.  I experimented with some other tools like https://github.com/EugenMayer/docker-syn

[2018-03-22 17:50] SethTisue commented on #3849
@veera83372 what have you tried so far? where do you get stuck trying to pull on this thread yourself? can you be a bit more specific about the next increment of assistance that would help you?

perhaps looking at how #840 was originally fixed would help with investigating how it might have regressed?

[2018-03-22 17:50] SethTisue commented on #3849
the squeaky wheel gets the grease, but the more specific and informative the squeak, the greasier the grease.

[2018-03-23 14:12] sirthias commented on #3498
We have the same problem of not being able to inject a `logback.xml` into the classpath of things running in the meta build.

We use the meta-build in the `project` folder for our deployment code and assumed that creating
 `project/src/main/resources/logback.xml` would make it end up on the classpath of the SBT shell.
Unfortunately, and despite the fact the its properly copied to `project/target/s

[2018-03-24 08:48] Atry commented on #3879
It's simply a bug to publish an artifact to Maven with a naming conversion that does not conform the the standard Maven repository layout.

[2018-03-24 08:55] markehammons commented on #4004
@dwijnand I'm still encountering the error:

[code]

I still think an override for this version testing would be a good idea, especially for testing on non-openjdk based jdks.

For extra information, I've installed sbt via the rpm repository provided by [this page](https://www.scala-sbt.org/download.html), and I've made certain I'm up to date.

[2018-03-25 06:26] jefurry opened #4035 "sbt without echoing in osx terminate"
macOS Sierra 10.12.6

in the hello project, execute the sbt command and then execute other commands without echoing.

[2018-03-25 06:45] jefurry commented on #4035
sbt-1.1.1 is working fine.

[2018-03-25 06:45] #4035 closed, assigned to nobody

[2018-03-25 15:45] pbhatIIT commented on #2958
Even with sbt 1.1.0, I had the same error max os X and java 9. I had to install later version of java 8 to get rid of the error

[2018-03-25 17:13] mrveera commented on #3849
According to log manager, we supposed to use sLog for loading project but its using logger which is in configuration. it is managed logger type without using specified error level.
What should I do Know?
https://github.com/sbt/sbt/blob/ca874d5d5f6046c4ac2d4825d81e84b97b0f1c0a/main/src/main/scala/sbt/internal/LogManager.scala#L248-L261
https://github.com/sbt/sbt/blob/ca874d5d5f6046c4ac2d4825d81e84b

[2018-03-25 18:22] eed3si9n commented on #3849
Comparing the implementation of setGlobalLogLevel in LogManager in sbt 1 https://github.com/sbt/sbt/blob/ca874d5d5f6046c4ac2d4825d81e84b97b0f1c0a/main/src/main/scala/sbt/internal/LogManager.scala#L232-L233

vs

https://github.com/sbt/sbt-zero-thirteen/blob/069865794d295ae0a2a64bd534714eba831aac36/main/src/main/scala/sbt/LogManager.scala#L88-L94

[code]

might give us insight as well. In the sbt 0.

[2018-03-25 18:45] eed3si9n commented on #3849
Or possibly a direct translation would be to call `LogExchange.bindLoggerAppenders(...)`.

[2018-03-25 18:58] eed3si9n commented on #3849
Here's my PR - https://github.com/sbt/sbt/pull/4036

[2018-03-25 21:31] LogicalTime commented on #3519
There is an SBT opts flag you can pass in to do updateOptions := updateOptions.value.withGigahorse(false). That had solved all my issues. I forget the name though.

[2018-03-26 08:41] jalaziz opened #4038 "sbt 1.x breaks forkOptions for custom test configurations"
## steps

[code]

Run `sbt ";debug;slowtests:test"`.

## problem

With sbt 0.13.15, the forked JVM was correctly using the `javaOptions` set on the custom configuration.

With sbt 1.1.1, the forked JVM no longer uses the `javaOptions` of the custom test configuration and only honors the configuration from `Test`. This can be seen by inspecting `forkOptions`:
[code]

## expectation

`forkOptions` s

[2018-03-26 09:27] dwijnand commented on #4004
https://github.com/sbt/sbt-launcher-package/pull/209#issuecomment-375861115

[2018-03-26 14:29] #3849 closed, assigned to eed3si9n, mrveera

[2018-03-26 14:44] eed3si9n commented on #2835
Fixed in #4033

[2018-03-27 04:27] retronym opened #4039 "Provide a way to disable layered classloader of scala-library and user classpath"
## steps

 - clone https://github.com/retronym/minimized-list-serialization @ 838f3fb787f0671ceb83f3af08a040623d239298
 - `sbt run`
 - See output in https://github.com/retronym/minimized-list-serialization/blob/838f3fb787f0671ceb83f3af08a040623d239298/README.md

## problem

SBT reuses a classloader for the scala library JAR (it used to be more JARs, before #3405), and adds the rest of the classpat

[2018-03-27 09:41] dwijnand commented on #3976
fixed via https://github.com/sbt/sbt/pull/4031

[2018-03-27 09:41] #3976 closed, assigned to nobody

[2018-03-27 10:08] dwijnand commented on #3893
in https://github.com/sbt/sbt/pull/4043 I switch from `forAllNoShrink` to `forAll` which I think will create a more minimal test failure case that we can use to kill this issue.

[2018-03-27 13:11] mohsenno1 commented on #413
It's really annoying.
I think the server firewall limits the download speed to 256 Kbps. I have 500Mbps connection but the download speed never exceed 256 kbps!!!!

Now I'm waiting about 1 hour for a new project to be initialized.

[2018-03-27 14:15] DavidPerezIngeniero opened #4048 "document migration for SessionSettings"
## steps

I'm migrating from SBT 0.13.16 to SBT 1.1.1

## problem

0.13.16 code, snippet from my `build.sbt`:

[code]

SessionSettings is now private and doesn't compile in SBT 1.1.1.

## expectation

Migration guide in SBT 1.x documentation doesn't explain how to do with missing API.

## notes

[2018-03-27 14:24] eed3si9n commented on #4048
Thanks for the report.

Could we use `appendWithSession` here?
https://github.com/sbt/sbt/blob/v1.1.2/main/src/main/scala/sbt/Extracted.scala#L129-L131

[2018-03-27 15:50] eed3si9n commented on #3405
This is now fixed in sbt 1.1.2.

[code]

[2018-03-27 15:50] #3405 closed, assigned to nobody

[2018-03-27 16:49] eed3si9n commented on #3893
As commented there, it's the ambiguous task and subproject name. In the first case, you have subproject q and task q. We just need to reject that as not legal in sbt.

[2018-03-28 09:29] achieverprince commented on #413
**Looks like issue is open for 6 years**

[2018-03-28 10:20] fommil commented on #1965
oh! I discovered this recently and hit it in https://github.com/sbt/sbt/issues/3934

[2018-03-28 10:38] fommil commented on #1965
workaround in 0.13 is:

[code]

which also works in 1.0. I was using a more complex workaround in 1.0 and I might revert to this.

[2018-03-28 11:29] mohsenno1 commented on #413
I gave up learn ScalaJs. I found another alternative. [Flutter from google](https://flutter.io/). Let's give it a try.

[2018-03-28 12:21] eed3si9n opened #4049 "community repo and Typesafe repo network issues"
Please see http://status.bintray.com/ for the latest info.

Bintray seems to be going through a rough time since March 27, 2018. It's been reporting intermittent download failures and and slowness. Thanks for your patience.

If there's specific problem that should be addressed, please feel free to comment here and/or follow the instruction on http://status.bintray.com/:

[2018-03-28 15:29] fommil commented on #1965
ok, this does not fix the problem if you are reading anything other than a `.class` file because the scalac classloaders are hardcoded to only read `.class` files in many places (search scala for `".class"`)

The only workaround would appear to be some huge thing involving hacking the `ScalaInstance`. *sigh* I may just redesign my macro. Fixed in sbt 1.0 with `compilerOptions`.

[2018-03-28 15:46] dwijnand commented on #4048
TIL `SessionSettings.reapply`.

hopefully you can migrate to using `appendWithSession` which shipped in sbt 1.1.1.

[2018-03-28 15:51] fommil commented on #1965
I've added a jar to the classpath before... this is how hard it was. https://gitlab.com/fommil/attic/blob/master/sbt-scala-monkey/src/main/scala/ScalaMonkeyPlugin.scala

I'm investigating using the route that compiler plugins use.

[2018-03-28 15:58] dwijnand commented on #3599
we should close this.

[2018-03-28 16:04] eed3si9n commented on #3599
I will try to make this a plugin first then.

[2018-03-28 16:04] #3599 closed, assigned to nobody

[2018-03-28 16:11] fommil commented on #1965
and this hack doesn't work...

[code]

[2018-03-28 16:17] dwijnand commented on #3599
note: https://github.com/sbt/sbt/pull/1991#issuecomment-97140366

[2018-03-28 16:55] fommil commented on #1965
oh, I see why @adriaanm's code didn't work. It uses the list of resource files, not directories.

[code]

is better. Also this adds the `resources` to the front of the list.

I have no idea why my other hacks didn't work... especially the one where scalac was able to see the directory.

[2018-03-28 17:19] arbitrary-dev commented on #3992
I have a similar problem, but when placing `publishArtifact := false` on a root project.
Problem somehow disappears as I put this line on top of `build.sbt`:
[code]

[2018-03-28 19:13] fommil commented on #3934
dupe

[2018-03-28 19:13] #3934 closed, assigned to nobody

[2018-03-28 20:57] fommil commented on #1888
I see this behaviour in sbt 1.1.2 still https://gitlab.com/fommil/sbt-neojmh/issues/1

*sigh*

[2018-03-28 21:03] fommil commented on #1888
@chEbba yes thanks, this looks like a dupe

[2018-03-28 21:03] #1888 closed, assigned to nobody

[2018-03-28 21:19] eed3si9n commented on #3868
@eatkins Ping. Any status on `~`?

[2018-03-28 22:06] leoRoss commented on #3519
The flag mentioned above is `-Dsbt.gigahorse=false`.
`sbt compile publish -Dsbt.gigahorse=false`

Using this flag fixed our issues

[2018-03-29 00:12] eatkins commented on #3868
Funny timing. I just wrapped up my other projects:
https://github.com/sbt/sbt/pull/4052
https://github.com/sbt/io/pull/138

[2018-03-29 15:36] eed3si9n commented on #4026
A potentially related issue is https://github.com/sbt/zinc/pull/505 whereby scala-xml version was not reflected until 1.1.2 due to transitive dependency from scala-compiler and the way classloader was setup.

[2018-03-29 15:46] eed3si9n commented on #3972
Another `CreateFile() failed with error` reported here - https://github.com/sbt/website/issues/650

[2018-03-29 17:53] eed3si9n commented on #2533
Funny how this issue gets some attention every year as April 1st approaches.

I am not sure if I understand what you're saying here. If a plugin B uses a setting defined in plugin A, then B depends on A. If you want to make B enabled if and only when A is enabled, then you should use trigger for it.

[2018-03-29 19:17] fommil commented on #2533
ha! I didn't even notice.

In fact the only RFEs that I care strongly about are

- https://github.com/sbt/sbt/issues/2534
- https://github.com/sbt/sbt/issues/3716

I'm tempted to close all my other issues... declare bankruptcy on them. Would that be good or bad? In fact I'm tempted to declare them all closed including these two because I know I'll never have the time to fix them.

[2018-03-29 19:56] cunei commented on #3972
@eed3si9n This should be fixed in https://github.com/sbt/io/pull/134, which has been merged in 1.x.

[2018-03-30 06:13] clhodapp commented on #3482
I haven't used sbt 1.X for a few months for other reasons but I've just come back to it and am once again seeing this issue (with 1.1.0). Running `jline.TerminalFactory.get.init`, as mentioned by @retronym in https://github.com/sbt/sbt/issues/3661 gets it working again, so at least I seem to have a workaround now.

Can this get re-opened?

[2018-03-30 06:39] fommil commented on #3482
1.1.2 is out

[2018-03-30 06:51] clhodapp commented on #3482
Oh whoa! So it is! https://www.scala-sbt.org/download.html is a bit behind then (and I myself missed the big 1.1.1 link in the button, and instead just looked at the list below).

This problem still exists in 1.1.2, though.

[2018-03-30 19:34] eed3si9n opened #4053 "sbt server: jump to definition"
sbt 1.1.0's implementation of jump to definition is quick hack based on class name, so it does not handle field names and functions.

Jumping to definition should be possible from LSP clients, such as VS Code by storing the range position of symbols.

[2018-03-30 19:36] eed3si9n commented on #4053
There's now a PR by @bakenezumi san addressing this - https://github.com/sbt/zinc/pull/521

He also has a corresponding change on sbt/sbt - https://github.com/sbt/sbt/compare/1.1.x...bakenezumi:wip/names-position

[2018-03-30 19:50] eed3si9n commented on #3482
Confirmed on 1.1.2.

[2018-03-30 21:40] ghost commented on #3042
Is anyone looking at this already? Would seem to be super important, IMHO

If not, and [referencing a chat on sbt-crossproject](https://gitter.im/scala-native/sbt-crossproject?at=5abe9f492b9dfdbc3a3d0652), I might have some free time over the holiday period to have a look

[2018-03-31 19:10] ghost commented on #3042
Early WIP at https://github.com/BennyHill/sbt/tree/fix/3042

If no  feedback, WIP PR coming tomorrow

[2018-04-01 22:12] dhinojosa opened #4055 "SBT 1.1.2 with Windows and JDK 10 gives a warning that it does not support Java 0"
(See the guidelines for contributing, linked above)

## steps
Go to a Windows Machine
Install JDK 10
Install SBT 1.1.2
Run any command in SBT

## problem
There is no such thing as JDK 0

## expectation
It should work fine with JDK 10 with no warning or error

## notes
See Image

sbt version: 1.1.2
![dzqzfkhvoaazf0o](https://user-images.githubusercontent.com/410757/38178041-6cd2953a-35c7-11e8-87ed-

[2018-04-02 15:23] eed3si9n commented on #3599
https://github.com/sbt/sbt-vimquit

[2018-04-02 15:32] ekrich commented on #3599
@eed3si9n I don't know what to say other than you can make a `sbt` plugin for anything if you know what you are doing.

[2018-04-02 15:33] ktoso commented on #3599
That'd be lovely, I even have :q and :wq set up in my shell for convenience rather than "exit" :)

[2018-04-02 18:37] tomasjura commented on #3764
Tested on sbt 1.1.2. It works correctly now.

[2018-04-02 18:37] #3764 closed, assigned to nobody

[2018-04-02 19:35] eximius313 commented on #2958
Same problem with Eclipse 4.7.3, SBT 1.1.2, JDK 9.0.4

[2018-04-02 19:44] SethTisue commented on #2958
@eximius313 you'll see if you review the previous comments that "same problem" isn't helpful here. same error message doesn't necessarily imply same problem. multiple different problems with different causes have now been discussed on this ticket, which is why the ticket is now closed.

[2018-04-02 21:29] enolan opened #4057 "NullPointerException when passing -Xshow-phases to scalac"
I'm not sure if this should be reported against sbt or Zinc or Scala itself or what.

## steps
- Create a directory with a trivial SBT project (it must have at least one .scala file) and set `scalacOptions ++= Seq("-Xshow-phases")` in `build.sbt`. It also crashes if you do `set scalacOptions += "-Xshow-phases"` at the sbt prompt.
- `sbt compile`
- Observe failure

## problem

`NullPointerException

[2018-04-02 23:22] eximius313 commented on #2958
@SethTisue I see this problem in my Eclipse:
![image](https://user-images.githubusercontent.com/5578017/38220867-f369373c-36dc-11e8-917b-6cebe9e4bb76.png)
and I have no idea what could be the reason - I only know the problem :(
Therefore I also don't see any better issue to comment.
What you suggest me to do?

[2018-04-03 03:25] SethTisue commented on #2958
@eximius313 I’m sorry, I don’t know. my usual suggestion would be to try to reproduce the problem outside Eclipse, but I understand that might be difficult if you’re new to the language. I don’t know Eclipse stuff

[2018-04-03 07:11] retronym commented on #3252
SBT implements cancellation by shutting down an executor service, which interrupts running threads. Workloads need to periodically check if they are interrupted, and ensure that `InterruptedException` or `java.nio.channels.ClosedByInterruptException` thrown by library code end aren't swallowed, but cancel the workload immediately. I've implemented this for Scalac 2.13.x in scala/scala#6479.

I've

[2018-04-03 15:45] dwijnand commented on #3482
fixed in #4054 (which will be in sbt 1.1.3)

[2018-04-03 23:23] firephil commented on #4055
I have a similar problem with sbt and trying to run with jmh simple micro benchmark

[2018-04-04 07:00] DavidPerezIngeniero commented on #4048
Thanks!

[2018-04-04 07:00] #4048 closed, assigned to nobody

[2018-04-04 11:11] Sciss opened #4062 "<+=, wrong URL for migration doc link / EvalException"
(See the guidelines for contributing, linked above)

## steps

use `<+=` in an sbt 1.1.2 build file for adding a task key.

## problem

the compiler emits a warning with a non-existing URL:

[code]

Aggravated problem by the compiler then crashing:

[code]

(where `last` doesn't give any useful explanation of went wrong here).

## expectation

show a valid URL: https://www.scala-sbt.org/1.0/docs/M

[2018-04-04 11:22] OlegYch commented on #3432
@steinybot this seems to work, can you make a pr?

[2018-04-04 12:27] Sciss commented on #3431
Hello. I have this problem when running `+publishSigned` in a multi-project build where one out of six modules is not Scala and thus has `crossPaths := false` and `autoScalaLibrary := false`. What is the technique to avoid that sbt tries to write that one module twice (`crossScalaVersions` in project are 2.12, 2.11)? How can I set `overwrite == true`?

[2018-04-04 19:36] steinybot opened #4065 "Unable to reference a key scoped to the sbt-web Assets configuration in the console"
## steps

**build.sbt**
[code]

**project/plugins.sbt**
[code]

## problem

I am unable to reference a key that is scoped to the `Assets` configuration from the console.
[code]

## expectation

I should be able to reference a key that is scoped to the `Assets` configuration from the console using either `Assets`, `Web-assets` or `web-assets`.

## notes

sbt version: 1.1.2
gitter discussion: https:

[2018-04-04 19:36] ffinfo commented on #3431
@Sciss First good to know that publishSigned is not a command of sbt itself but from the sbt-pgp plugin. See also: https://github.com/sbt/sbt-pgp
On there I recently did a PR request that is fixing your issue. For this you need sbt-pgp 1.1.1

[2018-04-04 19:39] dwijnand commented on #2417
fixed in https://github.com/sbt/sbt/commit/a90832b5935340425088a84a4fed96f35c4f4dac#diff-d26b07d0122948faf43bd080f3bdd501R327, it'll be in 1.2.0.

[2018-04-04 19:39] #2417 closed, assigned to dwijnand

[2018-04-04 20:25] Sciss commented on #3431
@ffinfo Ok great; sorry I wasn't aware that `publishSigned` is provided by third-party plugin.

[2018-04-05 05:36] retronym commented on #3368
sbt/zinc#522 avoids a crash in Zinc's when `module-info.java` files are compiled.

I think SBT already lets you stick `.java` files under `src/main/scala` and it seems to just work.

We'll almost certainly need to use the `--patch-module` options for javac and java when to deal with src/main and src/test code compiling into the same module.  https://github.com/micromata/sawdust documents how to co

[2018-04-05 06:00] retronym commented on #3368
The output from one of the build tools showcased is quite instructive:

[code]

[2018-04-05 06:28] retronym commented on #3368
First steps towards the SBT version:

I'm seeing an SBT hang trying to run the `compile` task. At tag [sbt-hang](https://github.com/retronym/sawdust/tree/sbt-hang):

[code]

Ends up hung: https://gist.github.com/1adebe9a1212d2bf7a8805f5ed7f9e17

[2018-04-05 06:42] retronym commented on #3368
That minimizes to what I suppose is user error:

[code]

`sbt compile` hangs in SBT 1.1.2 and 0.13.17.

Is there a cycle here? If so, is a hang expected?

[2018-04-05 07:48] dwijnand commented on #3368
yep, `fullClasspath` is `dependencyClasspath` ++ compile products (technically `exportedProducts`) so it definitely transitively depends on `javacOptions` which is a `compileOptions` (and thus a `compileInputs`).

no, a cycle exception thrown at load time is expected, at least to me.

[2018-04-05 08:48] dwijnand commented on #1670
fixed in ca3acc4e52668c77a1f2dfa0cc247a45936cf7bd, which is in sbt 1.0.0.

[2018-04-05 08:48] #1670 closed, assigned to nobody

[2018-04-05 09:03] dwijnand commented on #4065
interesting. looks like a bug in the parser, maybe?

[2018-04-05 13:00] mwdruz commented on #4055
Sbt scripts don't take java 10 into account
In sbt.bat apparently there's no
`>nul findstr /c:"version \"10" "%TEMP%\out.txt"`
`if /I %ERRORLEVEL% EQU 0 (set JAVA_VERSION=10)`

Also sbt-launch-lib.bash uses "<" comparison, which compares java version as strings, i.e. "10" is less than "9". Should be
`[["$java_version" -lt "8" ]]`
instead of
`[["$java_version" < "8" ]]`
etc.

[2018-04-05 14:11] saikartik1990 commented on #4055
Thanks a lot, MR. SirKruk. You saved my day. 👍

[2018-04-05 14:13] saikartik1990 commented on #4055
But still I'm seeing this issue "scala.reflect.internal.MissingRequirementError: object java.lang.Object in compiler mirror not found." Please help @SirKruk

[2018-04-05 14:26] saikartik1990 opened #4068 "[error] scala.reflect.internal.MissingRequirementError: object java.lang.Object in compiler mirror not found."
(See the guidelines for contributing, linked above)

## steps
Downloaded Word Count Scala with Storm  Program from google.
JDK 10 Installed.
sbt version 1.1.2
Executed command sbt

## problem

[error] scala.reflect.internal.MissingRequirementError: object java.lang.Object in compiler mirror not found.

## expectation

No Error

## notes
[BigDataWithScala-master.zip](https://github.com/sbt/sbt/file

[2018-04-05 15:35] dwijnand commented on #4068
that project has `sbt.version` in `project/build.properties` defined as 0.13.13.

if you upgrade it to 0.13.17 it loads.

[2018-04-05 15:35] #4068 closed, assigned to nobody

[2018-04-05 16:13] saikartik1990 commented on #4068
It Worked. Thanks a lot @dwijnand

[2018-04-05 18:14] eed3si9n commented on #4055
Thanks for the report and detective work everyone.

Probably next step would be adding JDK 10 to the existing matrix of testing:
- https://github.com/sbt/sbt-launcher-package/blob/master/.travis.yml
- https://github.com/sbt/sbt-launcher-package/blob/master/.appveyor.yml

[2018-04-05 19:57] eed3si9n commented on #4065
https://github.com/sbt/sbt-web/blob/1.4.3/src/main/scala/com/typesafe/sbt/web/SbtWeb.scala says:

[code]

In sbt 0.13 these would be addressed as:

[code]

in shell, and

[code]

in build.sbt. `inspect` certainly thinks `Web-assets / exportedProducts` is a thing, so yeah parser is suspicious.

Note for potential contributors. The place to look would be any files involved in https://github.com/sbt/

[2018-04-05 20:18] eed3si9n commented on #3431
I wonder if what @fommil saw was the same sbt-pgp issue fixed in https://github.com/sbt/sbt-pgp/pull/121.

[2018-04-05 20:18] eximius313 opened #4069 "java.lang.NoClassDefFoundError while trying to use ImageIO extension"
## steps
1) Use quickstart in attachment: [sbt-quickstart.zip](https://github.com/sbt/sbt/files/1881667/sbt-quickstart.zip)
2) Execute `sbt run` - it fails.
3) Execute `./gradlew run` - it works fine

## problem
I have an application, that is using ImageIO.read(imageFile) and I want to read CMYK image.
Java doesn't support this out of the box, so I wanted to use https://github.com/haraldk/TwelveMo

[2018-04-05 20:26] fommil commented on #3431
yup. I upgrade regularly https://gitlab.com/fommil/sbt-sensible/blob/master/build.sbt

[2018-04-05 20:30] eed3si9n commented on #3431
Does that mean I can close this issue?

[2018-04-05 20:35] fommil commented on #3431
I think so

[2018-04-05 20:38] #3431 closed, assigned to nobody

[2018-04-05 22:41] therealpxc commented on #3432
I've run into this issue with ENSIME. It doesn't cause a real failure, maybe because ENSIME is already set up to ignore missing items when it runs `updateClassifiers` or whatever (I haven't looked into the internals).

Inserting `reload plugins` into my big fat SBT command has fixed it:

[code]

grabs all the expected `src` and `doc` JARs. I suppose this will happily be of limited usefulness soon,

[2018-04-06 07:50] dwijnand opened #4072 "migrate last-grep to lastGrep"
## steps

try using `lastGrep`

## problem

[code]

## expectation

[code]

## notes

sbt version: 1.1.2

refs https://github.com/sbt/website/pull/654

note that we should need to maintain a deprecated `last-grep` for a while.

[2018-04-06 10:27] dwijnand commented on #3432
fixed in https://github.com/sbt/sbt/pull/4070, coming in sbt 1.1.3.

[2018-04-06 10:27] #3432 closed, assigned to nobody

[2018-04-06 11:43] liufengyun opened #4073 "Plugin detection for Dotty"
Dotty recently ported plugin structure from Scalac with minor adaptions https://github.com/lampepfl/dotty/pull/3438 .

One change is to use `plugin.properties` instead of `scalac-plugin.xml`, as suggested by @som-snytt and @smarter.

However, currently SBT only detects `scalac-plugin.xml`, which makes it difficult to use Dotty plugins. We need to resort to a hack in order to make SBT work for Dott

[2018-04-06 12:14] eed3si9n commented on #4073
ClasspathUtilities is now in Zinc - https://github.com/sbt/zinc/blob/1.x/internal/zinc-classpath/src/main/scala/sbt/internal/inc/classpath/ClasspathUtilities.scala, so my opinion is to implement there.

You can try to detect both, or potentially make a version of `compilerPlugins(...)` that take additional Boolean parameter `isDotty`?

[2018-04-06 12:51] liufengyun commented on #4073
Thanks @eed3si9n . I think taking a parameter `isDotty: Boolean` seems better. I'll make a PR for `0.13.*` and `1.*` respectively.

[2018-04-06 13:53] smarter commented on #4073
@liufengyun I don't think it's worth making a pr for 0.13 since as soon as we switch Dotty itself to sbt 1, we won't be able to support user projects using 0.13

[2018-04-06 14:17] liufengyun commented on #4073
@smarter : thanks, that's good news for me :)

[2018-04-06 15:02] iravid opened #4074 "run uses `fullClasspathAsJars` rather than `fullClasspath`"
sbt version: 1.1.2

In my project configuration, I don't want to include the resources from `src/main/resources` in the resulting jar - those are development configurations and `src/universal/resources` contains the configuration to be used when deploying.

However, if I do this, I can no longer `run` the application: it appears that `run` is using the jar from `Compile / packageBin` rather than t

[2018-04-06 16:56] #4049 closed, assigned to nobody

[2018-04-07 17:09] eed3si9n commented on #3860
Fixed in https://github.com/sbt/sbt/pull/4071 / sbt/io#138, and will be released in 1.1.3.

[2018-04-07 17:09] #3860 closed, assigned to nobody

[2018-04-07 17:16] eed3si9n commented on #3527
Hopefully this is fixed in #4071 / [sbt/io#138](https://github.com/sbt/io/pull/138) as we adopted @eatkins's MacOSXWatchService from [CloseWatch][closewatch]. Credit also goes to @gmethvin and Takari's directory-watcher implementations.
This will be released in 1.1.3.

  [closewatch]: https://github.com/swoval/swoval/tree/master/plugin

[2018-04-07 17:16] #3527 closed, assigned to cunei

[2018-04-07 17:21] eed3si9n commented on #1862
Triggered execution on macOS will be fixed in 1.1.3. sbt/io#138

[2018-04-07 17:21] #1862 closed, assigned to nobody

[2018-04-08 12:08] OlegYch opened #4079 "warn on value discard in build code"
## steps
someone declares TaskKey[Unit] and tries to define it, but doesn't know about .value or accidentally omits it
[code]

## problem
nothing happens

## expectation
useful error message or warning

## notes
i suggest enabling -Ywarn-value-discard for builds by default

[2018-04-08 19:42] eed3si9n commented on #4079
I've discussed about this phenomena a few times with others too.

I wonder if there's something specific about `Unit`, or maybe anytime you see an `Initialized[A]` expression inside a task body is suspicious, and worth printing a warning:

[code]

[2018-04-08 19:58] eed3si9n opened #4081 "Migrate all kebab-case commands to camelCase"
This is a generalized issue for https://github.com/sbt/sbt/issues/4072

While #4072 talks about `lastGrep`, looking at https://github.com/sbt/sbt/blob/1.x/main/src/main/scala/sbt/internal/CommandStrings.scala, there are some more kebab-cased command names. It would be good to migrate them for the sake of consistency.

[2018-04-09 06:08] dwijnand commented on #4079
:+1: for adding `-Ywarn-value-discard` to builds' `scalacOptions`.

if I remember correctly when I tried this it had very few false positives.

[2018-04-09 06:19] dwijnand commented on #4072
fixed in #4080, due in 1.2.0

[2018-04-09 06:19] #4072 closed, assigned to nobody

[2018-04-09 06:27] dwijnand opened #4083 "IPC flakyness"
e.g from https://github.com/sbt/sbt/pull/4082's PR validation https://travis-ci.org/sbt/sbt/jobs/363954694

[code]

## notes

same stack as #3520

[2018-04-09 09:35] dwijnand commented on #2845
you can, along with other jvm options, setup `sbt.ivy.home` in either .jvmopts or .sbtopts.

[2018-04-09 09:35] #2845 closed, assigned to nobody

[2018-04-09 09:39] dwijnand commented on #3022
i wonder if this is better with https://github.com/sbt/sbt/pull/3997.

[2018-04-09 10:30] #3042 closed, assigned to nobody

[2018-04-09 10:32] dwijnand commented on #4065
nice.

I was recently in that general area and found it unfortunate that some shared source of truth can't be used between sbt's completion parsers and scalachecks generators.

[2018-04-09 12:59] Benji81 commented on #3778
Hi @ozmad same problem here (1.0.3 and 1.1.1). Did you solve it?

[2018-04-09 17:15] OlegYch commented on #4079
yeah i think it's useful not only for Initialize, and i get very few false positives too
on a related note, i think we should discourage Task[Unit] somehow

[2018-04-09 19:17] eed3si9n commented on #4079
Wouldn't the warning go away if the build user puts `()` at the end? Would they know to call `.value`?
It also would only pick up the one at the last position.

[2018-04-09 20:43] ozmad commented on #3778
@Benji81  unfortunately no. I gave up working offline this way. I've installed a local Artifactory service as a proxy to the real repositories.
It required explicit adding it in build.sbt instead of the default scala and maven public repositories.
when I'm online the Artifactory keeps a copy of downloaded files, this way I can compile even when offline.
I used the following (ugly) trick to allow r

[2018-04-09 22:05] dwijnand commented on #4065
no idea either, but I'm excited to see what you've done (I only recently learnt about Scalacheck's Shrink).

[2018-04-10 08:47] webskin commented on #3696
+1

[2018-04-10 09:14] dwijnand commented on #3557
note that OpenJ9 have resolved https://github.com/eclipse/openj9/issues/40, which means that interactive sbt usage should now work.

[2018-04-10 09:15] dwijnand commented on #3557
note the fix is in Eclipse OpenJ9 v0.8.0

[2018-04-10 13:12] hvesalai opened #4086 "Scope of @ in pattern"
## steps

[code]

## problem

Does not compile. Results in compiler error:

[code]

## expectation

`h @` would capture `Foo(1)`, not `::`

## notes

This compiles, but the parenthesis are unnecessary noise.

[code]

Play around with the code at https://scalafiddle.io/sf/mPH6JwH/1

[2018-04-10 13:12] #4086 closed, assigned to nobody

[2018-04-10 13:12] hvesalai commented on #4086
Wrong project, sorry!

[2018-04-10 15:23] Benji81 commented on #3778
@ozmad thanks for your answer. I'll continue my research

[2018-04-10 15:45] OlegYch commented on #4079
@eed3si9n you're right it works only in last position, so adding a specific warning is worth it
perhaps scalacs "a pure expression does nothing in statement position" could be customized
`-Ywarn-value-discard` is still valuable by itself imo

[2018-04-10 15:51] koertkuipers commented on #3410
i have been trying to publish an sbt plugin inhouse, in my case to artifactory, with support for snapshots. it has been 2 days running around in circles.

so when i pick a maven style repository it doesn't work because of the invalid maven layout. artifactory rejects it. there is a workaround, which is to select "Suppress POM Consistency Checks" in artifactory, but this seems undesired. also i am

[2018-04-11 02:41] eed3si9n opened #4088 "support --warn, --error, --info, and --debug"
originally reported by @retronym in https://github.com/sbt/sbt/pull/2741#issuecomment-379988448

## steps

[code]

## problem

This gives a zero error code.

## expectation

Add `--warn` back.

When we add `--debug` it should be supported in bash/batch script as well.

## notes

I removed `--` in https://github.com/sbt/sbt/pull/2741 and added `-warn` as alias. What I didn't see it coming was the i

[2018-04-11 02:50] eed3si9n opened #4089 "remove - in favor of onFailure"
## steps

[code]

## expectation

`-` causes unintended interaction with other commands, so we should remove this in next 1.x.

[2018-04-11 05:34] eed3si9n commented on #4079
Here's a fix - https://github.com/sbt/sbt/pull/4090

[2018-04-11 08:30] Benji81 commented on #3778
Hi @ozmad, I have installed the coursier plugin (https://github.com/coursier/coursier) in the sbt plugin file and it seems to work. Maybe a better cache management.

[2018-04-11 09:36] coding4cc commented on #3961
same problem with sbt version: 1.1.4

[2018-04-11 09:43] dwijnand commented on #3430
the code from the repro repo:

[code]

[2018-04-11 10:00] dwijnand commented on #3430
this issue is interesting, but I can't reproduce it:

[code]

[code]

[code]

@olafurpg what am I doing wrong or differently? can we salvage this issue?

[2018-04-11 10:00] #3430 closed, assigned to nobody

[2018-04-11 10:01] olafurpg commented on #3430
I think the ticket here is enough in case someone else encounters it. I have not been affected by it since I reported it originally.

[2018-04-11 10:58] #4062 closed, assigned to dwijnand

[2018-04-11 11:00] #3958 closed, assigned to retronym

[2018-04-11 12:08] #2587 closed, assigned to nobody

[2018-04-11 12:17] l15k4 commented on #3585
Uff, I just spent 3 hours with this to finally find the cure here ... This is a nasty thing ...

[2018-04-11 12:28] dwijnand commented on #2587
this can now be built with sbt's server, and a thin client (https://github.com/sbt/sbt/issues/3915)

[2018-04-11 13:42] onmomo commented on #3905
This is also preventing us to upgrade.

[2018-04-11 13:44] laughedelic opened #4091 "sbt server: responses to unknown requests"
See https://github.com/scalameta/metals/issues/233#issuecomment-379719556 for the context.

## steps

1. After initialization server runs some command internally, but sends its response to the client:

[code]

    @dwijnand pointed here:

    https://github.com/sbt/sbt/blob/314ff4643278c9f00d408ed2398c61c0ea4bd7b9/main/src/main/scala/sbt/internal/server/LanguageServerProtocol.scala#L67

2. Also if

[2018-04-11 13:54] laughedelic opened #4092 "sbt server: cannot query `commands` setting"
## steps

I want to get the list of available commands from the connected sbt instance. So I send `sbt/setting` request for the `*/commands` setting.

## problem

It errors with

I tried querying other settings, like `project/version` and `*/libraryDependencies`, and it works as expected.

## expectation

I'd like to get s list of command names, but I understand that `sbt/setting` should serialize

[2018-04-11 14:33] jugalps commented on #3905
@onmomo @geostant - I managed to get it working eventually by creating a `.jvmopts` file in the project root directory with the following option and having a custom `repositories` file in `.sbt` directory:
[code]
After I provide this file, I see that the custom repositories file is picked up correctly by SBT without referencing builtin ivy resolvers and I am able to resolve all the dependencies wi

[2018-04-11 15:09] dwijnand commented on #2218
## steps

define a new task or setting:

[code]

## problem

look up the task/setting with `tasks`/`settings`:

[code]

## expectation

the formatting isn't that bad, perhaps just keep the 1st line.

## notes

sbt version: 1.1.4

keys with multi-line description aren't that common, but this issue is nicely self-contained for any interested first time contributor.

`tasks` and `settings` are comman

[2018-04-11 16:00] dwijnand commented on #4092
I like the irony that `tasks` and `settings` are commands and `commands` is a setting.

yes it could. I think it might be because of my (adapted) duplication of the parsing logic that knows about `*` but not `Zero`. `Global` I'm more unsure about.

[2018-04-11 17:02] soc commented on #3681
@dwijnand Let me know if I can provide any information that helps sorting this out.

[2018-04-11 17:34] laughedelic commented on #4092
Could you point me to the place where `JsonWriter`s for such types are defined?

[2018-04-11 19:01] dwijnand commented on #4092
I think we designed it so you defined the json writer when you define the key.

[2018-04-11 19:16] dwijnand commented on #3681
my first concern is more specific to sbt's current use of directories, and I haven't given it much thought.

the other one is partially directories-specific (I see the current version of directories is "10"), but it's actually generic to libraries on the jvm: selecting a library requires everything else to be compatible with that library's binary API. in sbt's case it means if we start using direc

[2018-04-11 19:17] onmomo commented on #3905
@jugalps thanks a lot, this fixed it for me on the AWS Linux AMI. The fix is not required for my local machine (macos) or ubuntu, though.
sbt 1.1.2, openjdk 8 / oracle jdk 8

Found another workaround:
If sbt is launched as this `sbt -Dsbt.repository.config=project/proxy-repositories compile` it will pick up the file `proxy-repositories` and will resolve via corporate artifactory. No modifications

[2018-04-11 19:33] Abhi-joshi commented on #4055
Tried  sbt 1.1.4 and the patch is not working as expected. Getting same error mentioned in the ticket.

[2018-04-11 20:33] soc commented on #3681
@dwijnand Hi Dale!

**Regarding _directories_:** It is built on Java 6, doesn't have any dependencies and consists of 4 files (you can probably get rid of two of them). I only publish major versions, so that no person depending on it will ever get a different version from what they originally specified in their build config, without explicitly changing it himself/herself.

I would suggest shading

[2018-04-11 23:43] laughedelic opened #4095 "sbt server: querying task values"
## problem

In the current sbt server implementation it's possible either to query a setting (`sbt/setting`) or to execute an arbitrary "command" (`sbt/exec`).

The purpose of settings is to store some static values and with `sbt/setting` client receives the value of the setting. On the contrast tasks get evaluated every time you query them and most of the time (?) they are used for the side effec

[2018-04-12 02:06] eatkins commented on #3868
See https://github.com/sbt/sbt/pull/4096
https://github.com/sbt/io/pull/142

[2018-04-12 21:41] eatkins opened #4097 "State.log doesn't properly honor logLevel"
I was working on fixing #3869 and found that state.log doesn't work correctly.

## steps
This minimal build.sbt illustrates the issue
[code]
## problem
If I run `debug`, `warn`, `error`, etc. in the console, "info" is always printed no matter what. The "foo" debug line is never printed.

## expectation
That "foo" is logged after `debug` and that neither is logged for levels above `info`

## notes

[2018-04-16 12:40] satishbanka opened #4100 "Issue with resolving dependencies in Sbt / scala"
When trying to add libraries for nlp using pyspark i am getting the below error

## steps
I tried removing ~/.ivy2/  and rebuilding the project using sbt.
sbt compile is successful. when i am trying to launch pyspark with
pyspark --packages JohnSnowLabs:spark-nlp:1.5.0

I am getting below error

## problem
:: USE VERBOSE OR DEBUG MESSAGE LEVEL FOR MORE DETAILS
Exception in thread "main" java.lang.

[2018-04-17 12:56] pmeheut opened #4101 "Issue finding Java classes defined in interfaces when compiling Scala code referencing them"
## steps

1. Unzip the small sbt project
2. It will create a directory foo. Enter it
3. Launch sbt (any version, I tested with 0.13, 1.1.2, 1.1.4)
4. compile

[foo.zip](https://github.com/sbt/sbt/files/1919700/foo.zip)

## problem

Compilation ends with an error:
`[error] /Users/pascal/foo/src/main/java/Bar.java:2:34: not found: type DefaultFoo
[error] 	public class DefaultBar extends DefaultFoo i

[2018-04-17 16:45] SunlightJoe opened #4102 "sbt-1.1.4.deb missing from https://dl.bintray.com/sbt/debian"

[2018-04-17 23:52] josiah14 opened #4103 "SBT isn't using resolvers defined in project/plugins.sbt"
## steps

1. Create a new SBT project
2. Put `resolvers ++= Seq("Artima Maven Repository" at "http://repo.artima.com/releases")` in project/plugins.sbt
3. Put `addSbtPlugin("com.artima.supersafe" % "sbtplugin" % "1.1.3")` in project/plugins.sbt
4. This was tested against SBT versions `1.0.0`, `0.13.16`, and `0.13.17` via specifying the SBT version in `project/build.properties`

## Environment

Hom

[2018-04-18 00:13] josiah14 commented on #4103
This also doesn't work if I don't use Coursier and just use vanilla SBT.

[code]

[2018-04-18 16:48] mtomko commented on #3961
Sounds like the same issue as https://github.com/sbt/sbt/issues/3570, which has been plaguing us for some time.

[2018-04-18 17:46] kolotyluk opened #4104 "SBT Unaware of Java 9 Runtime"
(See the guidelines for contributing, linked above)

## steps

sbt clean

The Java Development Kit (JDK) installation you have is not up to date.
sbt requires at least version 6+, you have
version 0

Please go to http://www.oracle.com/technetwork/java/javase/downloads/ and download
a valid JDK and install before running sbt.

## problem

java -version
java version "9.0.1"
Java(TM) SE Runtime Envir

[2018-04-18 18:05] kolotyluk opened #4105 "Still unable to fetch org.scala-sbt:compiler-bridge_2.12:1.0.3"
(See the guidelines for contributing, linked above)

## steps

Create a sample app with scala 2.12.5 and sbt 1.1.4
sbt compile

## problem

Same as https://github.com/sbt/sbt/issues/3684

## expectation

SBT should be able to fetch org.scala-sbt#compiler-bridge_2.12;1.0.3 and compile code.

## notes

sbt version:1.1.4

[2018-04-18 20:25] rainabba commented on #1445
I hit this on WSL/Ubuntu for an unrelated project, but it turns out to be because readlink isn't available in my environment (docker container) and so a script was failing at that point, which resulting in the dirname error. When the script was updated to use realpath, I stopped seeing this.

[2018-04-19 00:28] mikx commented on #4102
Same issue here. When is it going to be resolved?

[2018-04-19 08:18] dwijnand commented on #2641
fixed with https://github.com/sbt/sbt/pull/3865 in 1.1.1

[2018-04-19 08:18] #2641 closed, assigned to dwijnand

[2018-04-19 08:24] dwijnand commented on #1682
fixed with https://github.com/sbt/sbt/pull/1902 in 0.13.8

also:

you can overload by defining `def foo(x0: A, xs: A*) = foo(x0 +: xs)` (but that's not how I fixed it back in 0.13.8).

[2018-04-19 08:51] fommil opened #4107 "aggregate across configurations"
This is a feature request that is a bit vague, so please consider it more of a conversation.

I have several use cases for wanting to aggregate a task at the level of the configuration, not the Project. e.g. I often create a manual alias for `cpl`, `lint` or something else to do compilation on the entire project but it needs to know which test configurations are active and therefore must be hardco

[2018-04-19 10:01] akauppi commented on #3570
sbt 1.1.4

Like @MihaiAnei but getting `502: Bad Gateway`.

Build log is [here](https://drive.google.com/file/d/1wQzzUIajLsZT1yOKBFPM8spn60g_pRSH/view).

[2018-04-19 12:20] laughedelic commented on #4107
I think it's possible to do now. Take a look at what we do in sbt-metals: this is defined globally

https://github.com/scalameta/metals/blob/fcac1cc31fedf0a2dd8a1c723cc97c59a398edca/sbt-metals/src/main/scala/scala/meta/sbt/MetalsPlugin.scala#L68-L71

then this is defined on the project level:

https://github.com/scalameta/metals/blob/fcac1cc31fedf0a2dd8a1c723cc97c59a398edca/sbt-metals/src/main/sca

[2018-04-19 12:31] laughedelic commented on #3863
I think this was fixed in https://github.com/sbt/sbt/pull/3991

[2018-04-19 12:59] fommil commented on #4107
your `metalsSettings` hack is the mechanism to get access to the `Configuration`s for a `Project`. I've used this hack in the past, it is not enough.

The litmus test is if I can define a task in my `~/.sbt` that I can run in any build and will aggregate across all configurations in all projects.

[2018-04-19 17:47] dwijnand commented on #4107
there's no concept of "active" (afaik).

if there were we could extend `ScopeFilter` to have an `inAnyActiveConfiguration` and just define the task once without "the `metalsSettings` hack".

what happens if you use `inAnyConfiguration`?

[2018-04-19 18:04] fommil commented on #4107
Hmm, maybe I should investigate this API in more detail...

[2018-04-19 19:21] fommil commented on #4107
unfortunately, that's not going to work (at least not naively).

To make a solid example, I want to run something like this (which according to https://www.scala-sbt.org/1.x/docs/Tasks.html#ScopeFilter means that it works for all configurations)

[code]

but

[code]

what I want is for `scalafixTest in config` to run for each of the projects.

Let's say we have

[code]

I want `fmt` to run the fol

[2018-04-19 20:59] dwijnand commented on #4107
doesn't mean "it works for all configurations".

so you probably want

[code]

or

[code]

or maybe try something like

[code]

note that `inAggregates` also has an `includeRoot` default param you can turn false.

[2018-04-19 21:43] fommil commented on #4107
oh, I was reading the bit "`Default filter (inAnyProject, inAnyConfiguration, inAnyTask)`" and assumed that's what the default was doing.

[2018-04-19 21:57] fommil commented on #4107
nope, we need some concept of active configurations. This

[code]

is giving

[code]

Ideally I'd like to be able to pass a lambda (taking `Configuration`) instead of  `inAnyConfiguration -- inConfigurations(Optional, Provided, Runtime)`.

I'd also like to be able to make the scope dependent on another task existing in that scope... e.g. maybe if I was able to say "aggregate over every (project, c

[2018-04-19 23:00] jessicah commented on #4104
If this is on Windows, this is a problem with sbt.bat not supporting paths with spaces. The fix is to edit sbt.bat and wrap uses of %_JAVACMD% with double quotes.

[2018-04-19 23:03] dwijnand commented on #4107
what does `[error]   a / IntegrationTest / scalafixTest from fix` mean?

you can't, I think, because it needs constant values for the scope axes.

I think that information isn't available to ScopeFilter.

[2018-04-19 23:16] fommil commented on #4107
(that is error output) I think it means that the integration test config for "a" is included. But integration test is not active here, so no tasks exist.

[2018-04-20 00:08] aroraakshit commented on #3187
Same issue. ;clean;compile doesn't work!

[2018-04-20 06:22] dwijnand commented on #4107
Right, more "is not defined" trouble. Maybe can fix with a Global / scalafixTest definition? Not sure if it'll still delegate.

[2018-04-20 17:32] tpolecat opened #4109 "Using console more than once breaks JLine"
## steps

Construct this minimal project, enter the console twice.

[code]

## problem

Console control keys don't work.

## expectation

They should!

## notes

sbt version: 1.1.4

I'm on a Mac using Terminal.app

Tested with the homebrew launcher and sbt-extras, same results.