[2014-01-15 12:47] dansanduleac opened #1084 "Global plugins not updated automatically"
This might be connected to #272: if I have a global plugin with a snapshot revision, I'd expect that when I reload a project, or at least when I start a new sbt, that the `update` task would be run on "global-plugins", to pick up any new publications of that snapshot dependency.

However, unless I actually modify a file in the global `plugins` directory, no update is run, judging by the last updat

[2014-01-15 13:03] OlegYch opened #1085 "Incremental compilation broken for managed sources"
I have a play 2.2.1 project with sbt 0.13.1 on windows
Every time i compile, managed sources appear to be invalidated.
This is caused by
val removedProducts = previous.allProducts.filter( p => !equivS.equiv( previous.product(p), current.product(p) ) ).toSet
in sbt.inc.Incremental#changedInitial
every product produced from managed sources has wrong timestamp
Note that products from unmanaged source

[2014-01-15 13:08] OlegYch commented on #1085
works fine with sbt 0.13.0, broken with 0.13.2-M1

[2014-01-15 13:26] jsuereth commented on #1083
Sbt 1.0 will include a server feature.  We have an experimental version that's almost feature complete now.  Once we've prototyped through the issue, you'll see a full proposla on sbt-dev.  For now, you can see the preliminary ideas:  https://github.com/sbt/sbt/wiki/Client-server-split

[2014-01-15 14:02] gkossakowski commented on #1085
It's a bug in Play, see: playframework/playframework#2237.

AFAIK, there's no problem on sbt-side so I'm closing this issue.

[2014-01-15 14:02] #1085 closed, assigned to nobody

[2014-01-15 15:26] stephenlavery opened #1086 "URI has an authority component Error"
I am running SBT in Window and have the following dependencies for swagger/play

"com.wordnik" %% "swagger-play2" % "1.3-SNAPSHOT").exclude("org.slf4j", "slf4j-log4j12"),
  ("com.wordnik" %% "swagger-play2-utils" % "1.3-SNAPSHOT").exclude("org.slf4j", "slf4j-log4j12")

When I resolve this components in SBT 0.13 this works correctly.

When I try it on 01.13.1 or 0.13.2-M1 I get an URI has an author

[2014-01-15 15:42] OlegYch commented on #1085
i see, any idea why it works with 0.13.0 ?

[2014-01-15 16:47] fommil opened #1087 "remove "resolving" bottleneck"
This is to raise awareness of http://stackoverflow.com/questions/21123819

We are using [maker](https://github.com/cage433/maker) to build a very large scala project. It takes about 3 minutes to compile an 18 layer project (about 30 - 40 modules).

I was interested in comparing the performance with a more recent SBT and I created a quick and dirty build file for sbt 0.12.4. Despite SBT using paral

[2014-01-15 16:52] gkossakowski commented on #1085
Yup, in the comment of playframework/playframework#2237 there's reference to #965. The relevant part is:

So we fixed one bug in sbt and exposed another bug in Play.

[2014-01-15 20:05] OlegYch commented on #1085
thanks!

[2014-01-15 20:14] 404- opened #1088 "'scalaVersion in ThisBuild' has no effect"
in the absence of build.sbt, specifying scalaVersion in project/Build.scala has no effect. for example given project/Build.scala as:

[code]

running: sbt "show scalaVersion"
yields:
[info] 2.10.3

[2014-01-15 22:40] jaceklaskowski commented on #1073
I really apologise for the mistakenly-reported issue as I had no `crossScalaVersions` setting defined and the output fooled me to think SBT didn't work properly when it did. Sorry.

[code]

[2014-01-15 22:40] #1073 closed, assigned to nobody

[2014-01-16 09:20] dansanduleac commented on #1088
That's because a [Full Definition](http://www.scala-sbt.org/release/docs/Getting-Started/Full-Def.html#relating-build-sbt-to-build-scala) is plain scala code. The "assignment" (`scalaVersion in ThisBuild := "2.10.2"`) is just an expression whose type is `Setting[_]`, it does nothing on its own in a scala file because settings don't know how to "add themselves" - they are instead loaded from a few

[2014-01-16 09:31] dansanduleac commented on #1061
Can you clarify a bit, where is the snapshot dependency? Does your play 2.2.1 depend on a snapshot dependency, or do you depend on something like "play-2.2.1-SNAPSHOT"?
I think `update` only works on the current project and its direct dependencies. Not sure if this is applicable to your case, but as for projects that your project `dependsOn` (so classpath deps on other internal or external project

[2014-01-16 19:22] 404- commented on #1088
That makes perfect sense. Thank you for the detailed explanation, Dan!

[2014-01-16 19:22] #1088 closed, assigned to nobody

[2014-01-17 23:01] notmandatory commented on #1061
Hi, the application I'm building depends on release version of play 2.2.1 and has a dependency on a locally built bitcoinj-0.11-SNAPSHOT installed to my ~/.m2 directory (and cached to my ~/.ivy2/cache directory).   If I re-build (and maven install) my bitcoinj-0.11-SNAPSHOT I was expecting an sbt update on my project with a direct dependency on bitcoinj-0.11-SNAPSHOT would also get the new changed

[2014-01-18 18:36] evadnoob opened #1090 "example in documentation for inputKey generates illegal dynamic dependency error"
I tried to run this example directly from http://www.scala-sbt.org/0.13.1/docs/Extending/Input-Tasks.html  And I get the error below

[code]

Error:

[code]

[2014-01-18 23:33] paulp opened #1091 "sbt keen to re-download snapshot dependency on every update"
## steps

[code]

Run `$ sbt clean ++2.11.0-SNAPSHOT compile` multiple times.
## problem

Each time scala-library.jar and scala-reflect.jar are downloaded.
## original report

This is making working with scala snapshots unbearable. Maybe this will turn out to be my doing, but I'm desperate enough to ask. If this is some unfortunate default, consider the claimed bug that it is the default.

[code]

[2014-01-19 00:33] ktoso commented on #1091
Hey Paul,
Sadly no good news yet - it doesn't seem be possible to override this behavior for `-SNAPSHOT` deps at the moment.

Longer story: yeah this is a default setting, as seen in: https://github.com/sbt/sbt/blob/0.13/ivy/src/main/scala/sbt/ModuleID.scala#L38
sbt marks all `-SNAPSHOT` deps to be `changing`.

In theory this should be fixed by making the dependency "not changing" like this
`"org.

[2014-01-19 00:42] paulp commented on #1091
But it is downloading files which are bit for bit identical. Is there really no layer in the dependency acquisition process which can step in and say that no matter how determined I am to have up to date snapshots, downloading a new copy of the same bits will not accomplish anything? Is there no checksum or timestamp to be found?

[2014-01-19 05:02] huntc commented on #1091
If you "update" I think you're saying, update no matter what the state of the snapshots. If you saw that the snapshots updated each time after 'reload' then I'd think that'd be a bug. The repo has md5 hashes, time stamp info etc such that downloads should not happen.

[2014-01-19 05:05] paulp commented on #1091
Why would I ever want it to download files identical to the ones which are present? Last I checked "update" is an everyday command, not some kind of world resetting power purge. It is definitely re-downloading the same files on each update if that's unclear.

[2014-01-19 05:06] paulp commented on #1091
Sorry I guess I closed thus on phone accident.

[2014-01-19 05:35] huntc commented on #1091
I'm only guessing regarding the behaviour of "update". My main point here is that there's enough information at the repo to prevent a full download of artifacts, so it shouldn't be.

_If_ I've described the behaviour of "update" correctly then I'd agree that "force-update" would be a better name for it.

[2014-01-19 23:37] soc commented on #1091
I'm experiencing this too, with `sbt clean`, `sbt compile`, which sadly seems necessary when working with macros.

[2014-01-20 16:15] jsuereth commented on #1091
That is the way update works.  I wonder if the bump to master broke one of
our other workarounds.  Will have to investigate.
On Jan 19, 2014 12:35 AM, "Christopher Hunt" notifications@github.com
wrote:

[2014-01-20 17:25] dansanduleac commented on #1087
In 0.13, the cacheDirectory setting has moved to `InlineIvyConfiguration.resolutionCacheDir`. Therefore, if you want to avoid cleaning that directory, you could try:

[code]

not sure where it comes from if you use an `ExternalIvyConfiguration` - i.e. an external ivysettings.xml (then I reckon it's not controlled/maintained by sbt anymore).

_Edit_: this doesn't work because `cleanKeepFiles` is a

[2014-01-20 17:32] dansanduleac commented on #1061
If the dependency on `bitcoinj-0.11-SNAPSHOT` is a direct dependency of your app, `update` should definitely pick it up.. A log of the update command might be useful. Could you run `update` on your project (_not_ after a clean) when the problem would manifest itself, then type `last-grep bitcoinj` and show us the output of this latter command?

[2014-01-20 21:49] paulp commented on #1091
After I removed some ivy cache, it stopped doing it. Which makes it unlikely it was operating as intended.

[code]

[2014-01-21 14:23] jsuereth opened #1094 "Allow sbt to publish to multiple repositores"
See #808 and sbt-multi-publish plugin.

[2014-01-21 20:22] tpolecat opened #1095 "Illegal dynamic reference: filter"
The example given at http://www.scala-sbt.org/release/docs/Detailed-Topics/Tasks.html#example does not work; the filter cannot be accessed in the macro scope. Not clear what the workaround is.

[code]

[2014-01-23 10:21] sander24 opened #1096 "Tests are not found with 0.13.1 sbt *nix shell script"
On ubuntu linux, the shell script does not execute Play 2.1.x application's unit tests -- it just says there are 0 tests found, even though there actually is plenty of tests. Don't know the root cause. Project itself is definitely okay. "sbt clean" or "sbt compile" work just fine, and so does the interactive console when i execute just "sbt". If i replace the script that ships with 0.13.1 with the

[2014-01-24 00:22] mslinn commented on #1017
I have a program that calls sys.exit(-1) and it generates the same error message when running under sbt 0.13.1. (Linux Saucy Salamander)

[2014-01-24 09:38] dansanduleac commented on #1095
If you move

[code]

outside the task's definition (i.e. as a top level statement in `build.sbt`), then it works. You can do that since the init for `filter` is not accessing any dynamic state. However, I can't see exactly why it fails to work as in the example...
I wonder if this is similar to #780.

[2014-01-24 19:08] gkossakowski commented on #1071
Hi @OlegYch! Did you have a chance to minimize a sample reproducing this problem?

[2014-01-25 15:55] axelfontaine commented on #1047
Any news about this?

[2014-01-28 10:02] retronym commented on #1031
@harrah If I remove the `setType` _and_ omit the manual call to `c.typeCheck`, we get:

[code]

[2014-01-28 12:31] #1031 closed, assigned to harrah

[2014-01-30 08:35] jsuereth commented on #1047
If you'd like to examine the issue, feel free to take a look.  Most plugins are currently targeted at Ivy repositories, particularly the bintray repo:  http://repo.scala-sbt.org/sbt-plugin-releases

While we want to remain maven-friendly, there was some insidiuous (and unremembered) reason why we couldn't get the ivy extra-attribute feature working on maven repositories.   This is one of the artif

[2014-01-30 21:14] OlegYch commented on #1071
sorry, i haven't managed to minimize it yet
will try again over the weekend
that's not a play project btw

[2014-02-01 19:48] 404- opened #1103 "SBT classloading interferes with Mockito"
For detailed description of the problem please see the following Stack Overflow question:
http://goo.gl/AnnkN7

[2014-02-04 16:49] paulp commented on #1091
Let me make it clear this has nothing to do with update.

[code]

[2014-02-04 16:49] paulp commented on #1091
I mean, unless "update" is something run automatically when you run "test", or some other nutty thing I don't know.

[2014-02-04 17:28] cunei commented on #1096
I cannot reproduce, at least with Play 2.2.1 and Play 2.1.5. I tried the stock 0.13.1 sbt launcher and script, and sbt.version in build.properties set to 0.13.0 or 0.13.1 for 2.2.1 and 0.12.2/0.12.4 for 2.1.5.
Could you kindly package a reproducible test case?

[2014-02-04 17:33] paulp commented on #1091
Here we are in another project. Nice, scala 2.10.2 and 2.10.3 jars both. When calling "publish-local". Only ten seconds apiece. I realize this must be happening because of something I have which most people don't; I find it difficult to believe others would be silent if this was widespread; that doesn't help me solve the problem unfortunately.

[code]

[2014-02-04 18:04] jsuereth commented on #1091
yeah, looks like somehow your cache is getting corrupted.  I have a few guesses, but nothing concrete:
1.  Bumping between sbt/ivy versions is causing one of the many known old ivy bugs reoccur in your cache.  We are unable to detect/remove most of these issues.
2. Something you do normally results in your instable ivy cache, some kind of workflow that is different from most of our users.

What co

[2014-02-04 18:38] paulp commented on #1091
I build a lot of projects. I can't work around this by making adjustments of that kind.

What I would like to know is why the behavior manifests in this way. Okay, let's say the cache is corrupt, either in the most horrible way possible or the most subtle way possible, whatever is the worst case. How does that lead to sbt repeatedly downloading the identical artifacts without noticing or emitting

[2014-02-04 19:03] jsuereth commented on #1091
It's quite hard to refine what the issue is if the environment is not stable, and also quite hard to reproduce.

A few notes:
1. Ivy is the one doing the downloading. Sbt has bent over backwards to try to ensure this only happens when necessary, some of which involves making Ivy pretend that artifacts downloaded from different URLs may be the same thing.
2. The launcher is responsible for download

[2014-02-04 19:03] jsuereth commented on #1091
Note, that output was using your pasted build.sbt file.

[2014-02-04 19:12] paulp commented on #1091
Forget about snapshots, it has nothing to do with snapshots. It does the same thing with or without snapshots.

[2014-02-04 19:17] paulp commented on #1091
Can you tell me what the presence or absence of the line "resolver=sbt-chain" in a file like ivydata-2.10.3.properties means?

[2014-02-04 19:30] jsuereth commented on #1091
Sbt tries to ignore the resolver used in the cache.  Ivy, by default, caches files pulled from different named resolvers (read repository names) such that if you download from one resolver, that does not mean you have the file if that resolver doesn't show up in your build.   Unfortunately, this makes "proxy" repositories useless, so we attempt to disable that feature.  IF you're swapping between

[2014-02-06 00:36] gkossakowski opened #1104 "Class-based dependency tracking in name hashing algorithm"
This is a meta-issue that provides quick overview of what needs to be done in order to change dependency tracking from source file-based to class name-based.
### Tasks

Class-based dependency tracking can be implemented in two phases. The third phase is dedicated to testing on large projects.
#### Invalidate by inheritance based on class dependencies (phase 1)

~~_Tasks marked as completed are com

[2014-02-06 11:01] sander24 commented on #1096
damn.. i can't reproduce it any more as well. i swear it was there. it must be related with something else in the environment then, like the version of java or scala or something. we're using play 2.1.5, sbt 0.12.3. if i can ever reproduce this, i'll update and re-open. thanks!

[2014-02-06 11:01] #1096 closed, assigned to nobody

[2014-02-06 11:19] carlosprados opened #1106 "sbt crashes compiling Play Framework project"
### Environment
#### Operative system

[code]
#### Java Version

[code]
#### Play Framework
- 2.2.1

After some Play usage in development mode, this mode performs incremental compilations when a page is reloaded and a source code change is detected, the sbt compiler throws the following error/exception:

Exception/Error:

[code]

The same error has been reported to Oracle.

[2014-02-06 12:37] gkossakowski commented on #1010
The name hashing has been shipped with sbt 0.13.2-M1. Closing this ticket.

[2014-02-06 12:37] #1010 closed, assigned to gkossakowski

[2014-02-06 13:55] harrah commented on #1106
Without a reproducible test case, the stack trace indicates this is a javac bug.  Note that Oracle will likely require source code as well: "Include your _program_ and the following diagnostic in your report."

[2014-02-06 13:55] #1106 closed, assigned to nobody

[2014-02-06 16:24] eed3si9n opened #1107 "[0.13.2] exception during macro expansion: java.lang.NullPointerException"
## steps
1. grab sbt/sbt-appengine tag [0.6.1](https://github.com/sbt/sbt-appengine/tree/0.6.1)
2. change to `sbt.version=0.13.2-SNAPSHOT`
## problem

[code]

The line in question is:

[code]
## expectation

it should compile, since it does in 0.13.1.

[2014-02-07 15:06] OlegYch commented on #1071
dunno, really
when i start minimizing it goes away and doesn't come back even if you do clean
but it randomly comes back later
even when i do clean checkout and compile it reappears
i'm not using macros or anything like that..

[2014-02-07 15:14] cunei commented on #1107
The issue appeared in the nightly 0.13.1-20131123-062316. There was only one commit on that day in the 0.13 branch, likely the cause of the regression:
https://github.com/sbt/sbt/commit/3b213e59caafdc3b28bfbaf124e80a4584caf3aa

[2014-02-07 15:33] retronym commented on #1107
Let me know if you need a hand with this one @cunei; I fixed a similar problem for Mark recently.

[2014-02-07 17:06] retronym commented on #1107
@cunei I'm pretty sure this will fix it. Would appreciate help to add an associate test case.

https://github.com/retronym/xsbt/compare/ticket;1107?expand=1

[2014-02-07 17:21] retronym commented on #1107
I just checked, this does build sbt-appengine.

Here's a minimal repro:

[code]

// After

[code]

[2014-02-09 19:55] xeno-by commented on #1091
Hi all. Maybe someone has arrived at a workaround for this?

[2014-02-11 19:01] jsuereth commented on #1107
@retronym is that commit good to go? I can make a PR if so...

[2014-02-11 19:04] jsuereth commented on #1103
Did you report this on the mockito website to see what they say?

[2014-02-11 19:12] jsuereth commented on #1103
Appears to be a known mockito issue: https://code.google.com/p/mockito/issues/detail?id=189

Workaround in sbt:

`fork in run := true` on the project using mockito.

You'll also have to fork tests.  This will let the classloader be the system default, as mockito seems to expect.

[2014-02-11 19:13] jsuereth commented on #1103
In lieu of more information on how we can enable mockito to work, I'll leave this with the workaround and wait for mockito to be friendlier to users of classloaders.

[2014-02-11 19:13] #1103 closed, assigned to nobody

[2014-02-11 19:16] jsuereth commented on #1091
I'm not able to reproduce locally, so I'm at the mercy of whatever information you can give me, or a reproducible setup where I can witness the issue. Otherwise, I'm shooting blind.

[2014-02-11 19:18] jsuereth commented on #1090
Note sure you caught the note in the docs (very misleading):

[code]

Should we just take that example out for now?  Not sure what's entailed in making it work. Comments @harrah ?

[2014-02-11 19:22] jsuereth commented on #1087
Migrating this bug as an 'enhancement' request.  We'd actually just like to remove the Ivy bottleneck.  Resolution actually serializes, thanks to requiring explicit file locks on the process.   @dansanduleac 's response is great.   That said, we're not really happy with Ivy, besides its conceptual model.

[2014-02-11 19:23] jsuereth commented on #1086
I believe sbt 0.13.1 upgraded the Ivy version as well.   What's the URI you're pulling swagger from?

Any chance we can get a minimal test build?   Thanks.

[2014-02-11 19:26] jsuereth commented on #1084
Looks like a legitimate issue.  PRs welcome.  I've actually been thinking (hard) through the plugin project and what the sbt-server feature will require related to `reload plugins` and other loading fun.  I think perhaps we may need a round-table discussion on options here, as I'd like to reexamine the loading architecture again and see if there's any cleanup/soldifying we can do.

[2014-02-11 19:27] jsuereth commented on #1074
looks like this may be a parser bug.   Patch welcome.

[2014-02-11 19:30] jsuereth commented on #1061
I think this was a known bug in sbt 0.13.0 but should be fixed in sbt 0.13.1.  @harrah may recall if there are any additional incantations, but please update to sbt 0.13.1 and see if that fixes the issue.

Thanks!

[2014-02-11 19:31] jsuereth commented on #1059
yeah, I'd love to see this fixed sometime.  It currently limits the utility of `build.sbt`

[2014-02-11 19:33] jsuereth commented on #1057
Pull requests more than welcome!

Also, besides `<<=` and `??`, the rest are little used.  `<<=` and `:=` are equivalent functions, but at different API levels.   Next time I'm swinging through API doc fixes, I'll make sure to hit this, unless someone else beats me to it.

[2014-02-11 19:34] jsuereth commented on #1054
Pull request welcome.

[2014-02-11 19:35] jsuereth commented on #1048
Have you tried typing `help` or `tasks` in the sbt console?  Let me know how that documentation is....

[2014-02-11 19:37] jsuereth commented on #1044
This is not an issue, please use Stackoverflow for questions like this one.

My recommendation:  Create a custom task which dumps the classpath in a form your want.

[2014-02-11 19:37] #1044 closed, assigned to nobody

[2014-02-11 19:48] axaluss commented on #1048
sbt help and tasks and all the command line stuff are many words of explanation whereas a few pictures would explain better.

[2014-02-11 19:58] jsuereth commented on #1048
Right. i guess what I mean is if we made visual forms of `inspect` or `tasks` would that help, or more targeted overviews that are less generic.  I personally prefer the latter

[2014-02-11 20:05] axaluss commented on #1048
The latter would also be my choice.

[2014-02-11 21:23] retronym commented on #1107
The code is some of the best I've ever written.

If you could turn my comment about into a test and submit the PR, I'd be eternally grateful!

[2014-02-11 21:27] jsuereth commented on #1107
Sure thing. I'll leave this open in my browser, but you may need to ping me in the AM to remind me.  I'm about to turn into a Father today (less literally than you).

[2014-02-11 21:28] AlainODea opened #1109 "Transitive dependency issue: test scope dependency is treated as compile if intermediate module has compile dependency on it"
If I have moduleX depends on moduleY depends on moduleZ and moduleX also depends on moduleZ as a test-scoped dependency, SBT allows me to compile code in moduleX that directly uses code in moduleZ.

**Root build.sbt**:

[code]

**moduleX build.sbt**:

[code]

**moduleY build.sbt**:

[code]

**moduleZ build.sbt**:

[code]

**ModuleXClass.scala in moduleX/src/main/scala**:

[code]

**ModuleZClass.sc

[2014-02-11 21:34] jsuereth commented on #1109
You're pulling in all of moduleZ transitively via ModuleY.

[2014-02-11 21:36] jsuereth commented on #1109
In any case, let me know if I'm wrong in that assumption and I'll reopen this.   I very much appreciate the minimized test case!  If you need me to clarify any more what's happening here I can, or perhaps you can clarify what you're trying to do so I can understand.

I'm closing for now in lieu of more info.

[2014-02-11 21:36] #1109 closed, assigned to nobody

[2014-02-11 21:56] AlainODea commented on #1109
@jsuereth it's by design then.  Good to know.  I have a bug to file with JetBrains :)  Thank you for reviewing the issue.

[2014-02-11 23:27] axaluss commented on #1048
Well the focus should be on the targeted views but at least one overview should be about the general perspective to ease the learning for beginners. An example is [this one for hg](http://upload.wikimedia.org/wikipedia/commons/e/e4/Mercurial_commandd_and_their_relations.png) but its only an example and probably you can develop a better approach to explain the connections, central components, entit

[2014-02-12 04:33] shengmin opened #1110 "Aggregation is not working as expected within a task definition"
The following is a sample build script that can illustrate the issue:

[code]

When I execute `sbt B/taskA`, I would expect it to clean the target directory of **A** as well

[2014-02-12 15:06] jsuereth commented on #1110
I think you may be confusing aggregation's feature.   What aggregation does on project B is that it runs the _same task_ on project A that was called on project B.

So `sbt B/taskA` will _also_ call `sbt A/taskA`.  However, it does not (nor should) call any underlying tasks.

However, since you've aggregated the two projects, you could run `sbt B/clean` and it should clean A.

Let us know if we ne

[2014-02-12 15:06] #1110 closed, assigned to nobody

[2014-02-12 16:49] shengmin commented on #1110
Thanks for explaining how aggregation works under the hood :) And yes, it'd be helpful to include something like your comment in the docs.

[2014-02-12 17:11] AlainODea commented on #1109
@jsuereth I'm trying to prevent **moduleX** from using the source of **moduleZ** except in tests.  How do I do that?

Here's my question on StackOverflow if that is a better medium for this:
http://stackoverflow.com/q/21716720/154527

[2014-02-12 17:35] metasim commented on #1057
Associated pull request is #1115.

[2014-02-12 17:35] #1057 closed, assigned to nobody

[2014-02-13 05:40] alexeyr opened #1116 "Setting testFrameworks for a test configuration other than Test has no effect"
I was trying to run ScalaMeter tests in a separate configuration from other tests. Relevant parts of `Build.scala`:

[code]

   lazy val project1 = project.configs(ItTest, PerfTest).settings(testSettings: _*)

`show testFrameworks` indicates they are set properly:

[code]

However, running `perf:test` runs ScalaTest tests and doesn't run ScalaMeter tests, contrary to the expected results.

[2014-02-13 10:08] choedl opened #1117 ""No scala version specified" when upgrading from 0.13.0 to 0.13.1"
I tried to upgrade from sbt 0.13.0 to 0.13.1. I'm using Windows 7 64bit. I tried the following in cygwin and in the normal windows command prompt.

I have a similar problem as mentioned here on stackoverflow:
http://stackoverflow.com/questions/21658279/error-during-sbt-execution-no-scala-version-specified-or-detected-with-sbt-fr

[code]

In my sbt.boot.properties I set scala version to ${sbt.scala

[2014-02-13 13:08] alexeyr commented on #1116
I was missing `inConfig(PerfTest)(Defaults.testTasks)` (and similarly for `ItTest`) in settings. This doesn't seem like a particularly obvious failure mode.

[2014-02-13 15:42] jsuereth commented on #1117
What version of the sbt launcher do you have?

Try running `--version` and report what you see.  Also, it seems odd that the Ivy output doesn't show it actually downloading all the sbt artifacts.  It could be the bump in ivy version is showing of a corrupted cache for you.   If that's the case, removing the ~/.ivy2/cache/org.scala-sbt/ directory may help....

Thanks!

[2014-02-13 16:19] choedl commented on #1117
tools/sbt-0.13.1/bin/sbt --version
sbt launcher version 0.13.1

After deletion of ~/.ivy2/cache/org.scala-sbt/ the behaviour stays exactly the same. I also tried to delete (i.e. rename) the whole ivy cache. But this didn't help either.

[2014-02-13 17:19] jsuereth commented on #1117
what about removing `~/.sbt/boot/` ?

[2014-02-13 21:21] jsuereth commented on #1116
SO, do be clear.....

`perf:test` was running the `test:test` task?

[2014-02-13 21:31] alexeyr commented on #1116
Yes, this seems to be the case.

[2014-02-13 23:02] jsuereth commented on #1116
hmm... so besides being unintuitive, this may be by design.  Think I'll leave this open so we can think about a better error message or other feature to help understand what's happening.

To clarify again:  Your build is working now?

[2014-02-14 05:10] alexeyr commented on #1116
Yes, it is.

[2014-02-14 08:49] choedl commented on #1117
Did not help either, unfortunately.
Anything else I can remove?
~/.ivy and ~/.sbt should be all folders containing sbt files/dependencies, correct?

[2014-02-14 13:09] jsuereth commented on #1117
yes. Can you post your sbt.boot.properties file?

[2014-02-14 15:43] rgladwell opened #1118 "Publish as Maven style includes SBT plugins in POM"
Publishing with the Maven style includes SBT plugins as dependencies in the generated POM.

Steps to reproduce:

Modify you `~/.sbt/0.13/plugins.sbt` to add the following lines:

[code]

Then execute the following

[code]

The POM file generated at `/tmp/uk/gov/gds/dropwizard-scala_2.10/1.0.0-SNAPSHOT/dropwizard-scala_2.10-1.0.0-SNAPSHOT.pom` contains the following dependency:

[code]

It should n

[2014-02-14 16:01] jsuereth commented on #1118
You want to put your global plugins under:

`~/.sbt/0.13/plugins/plugins.sbt`

THe file you're using is one that can modify all local project settings, so it's not actualyl adding the plugin.  It's adding the plugin as a dependency to all your projects.

[2014-02-14 16:01] #1118 closed, assigned to nobody

[2014-02-14 17:54] choedl commented on #1117
Sure:
[scala]
  version: ${sbt.scala.version-auto}

[app]
  org: ${sbt.organization-org.scala-sbt}
  name: sbt
  version: ${sbt.version-read(sbt.version)[0.13.1]}
  class: ${sbt.main.class-sbt.xMain}
  components: xsbti,extra
  cross-versioned: ${sbt.cross.versioned-false}

[repositories]
  local
  nexus: http://mynexus.net/content/groups/mygroup
  nexus-ivy: http://mynexus.net/content/groups/mygr

[2014-02-14 23:23] nugend opened #1120 "Refreshing Git URI Dependencies."
As seen in this Stack Overflow question: http://stackoverflow.com/questions/21174681/can-sbt-refresh-git-uri-dependency-always-or-on-demand

This is kinda ridiculous. Especially since there seems to be no documentation about this behavior absolutely anywhere except on this particular SO. Additionally, when I ran into it, I was not specifying a revision in my string, so it should have been cloning

[2014-02-15 08:46] alexeyr commented on #1116
Could `extend(Test)` already do the necessary set up? Failing that, it would be nice to explain in the documentation why the `Defaults.testTasks` is necessary.

[2014-02-15 15:19] jsuereth commented on #1116
"Could" is relative.  Yes it "could" but there'd be some significant engineering effort in how task delegation works, possible a good hit on build load times.

I think maybe we work on the docs for this _and_ in the feature see if we can make 'extend' work as expected.

The issue you ran into is that by default 'extend' means delegation (similar to oo).  IF you don't override the `test` task in th

[2014-02-15 16:54] jpsacha commented on #1091
I noticed that it happens for me when I switch between Java 7 and Java 8 (using JAVA_HOME).

[2014-02-15 17:00] jsuereth commented on #1091
is it one of the JVMs which causes issues or do you see it in both after the switch?

[2014-02-15 19:28] paulp commented on #1091
Okay: a clean is enough. With this build.sbt:

[code]

If I run this command line: `sbt ~"; clean ; package"`

Then it will re-download the same scala-library and scala-reflect SNAPSHOT jars every time I touch a source file.

[code]

[2014-02-15 19:50] paulp commented on #1091
Okay, and here is the rest of it, the true killer: once it is asked for a scala SNAPSHOT, it forgets about all the release versions which exist in the ivy cache. This is what led me to say it has nothing to do with snapshots - that's not quite nothing but it's enough to let me see 2.10.3 downloaded hundreds of times.

Note that I never call update explicitly and all of this is with sbt 0.13.1 and

[2014-02-15 19:51] paulp commented on #1091
What it feels like is this: timestamps are being compared to invalidate snapshots. But that comparison is being applied to release versions as well, so if there is a SNAPSHOT with a more recent time than ANY version, even a release like 2.10.3, then the "older" one is considered out of date and redownloaded.

[2014-02-15 19:58] paulp commented on #1091
Aha:

[code]

[2014-02-15 20:00] paulp commented on #1091
And there's the hypothesized timestamp check.

[code]

[2014-02-15 20:01] jpsacha commented on #1091
My comment about switching JVM was not accurate, it is not necessary. I was switching at the same time to 2.11.0-SNAPSHOT in a scenario similar to what Paul describes. I also see downloads of 2.10.3 and 2.10.2, ...

[2014-02-15 22:09] adriaanm commented on #1091
I see this as well , on mac on java 6.  (scala/scala-dist)

[2014-02-15 22:28] paulp commented on #1091
I will add that I went for another round and couldn't reproduce it. There is at least one more confounding variable. But seeing as I'm pretty sure I pinpointed the exact line, we probably don't have to hold out for a bulletproof reproduction.

[2014-02-15 23:03] jpsacha commented on #1091
I can reproduce it running command:

[code]

Everytime I run it is downloads "scala-library" and "scala-reflect".

It is on Windows 7 64 with Java 8 and Java 7.

I have only "build.sbt", no other files, with SBT 0.13.1 installed:

[code]

If I run

[code]

It will download "scala-library-2.10.3" and "Scala-reflect-2.10.3" on first invocation after running the previous one (with 2.11.0-SNAPSHOT). S

[2014-02-15 23:23] jpsacha commented on #1091
I can reproduce it, as described earlier (with ++2.11.0-SNAPSHOT), on a different computer running Linux.

[2014-02-16 07:33] xeno-by commented on #1091
@jpsacha I can reproduce this on Mac (10.9.1, with java version "1.6.0_65").

1) Download sbt 0.13.1 from the website.
2) Create a new folder with just `build.sbt` as specified in your comment and nothing else.
3) Keep running `sbt clean ++2.11.0-SNAPSHOT compile`, and it will keep redownloading it over and over again.

[2014-02-16 14:24] jsuereth commented on #1091
@paulp good catch.  This gives me a chance of fixing this.  I think there are two bits above:
1. the deletion filter is _only_ supposed to remove old -SNAPSHOT artifacts but is being too eager.
2. the timestamp check isn't working as intended.

Funny enough, that patch was intended to fix the "-SNAPSHOT is out of date" bug.  WELL THAT ONE'S FIXED.

I'll work on this next week unless you'd like to

[2014-02-16 14:41] jsuereth commented on #1120
@Cunei - Ping me when you start work this week.  I think maybe we want to consolidate the dbuild git/svn branching code with Sbt's.  IIRC - You had a bunch of work which ensures the branch is up-to-date in the ProjectResolvers.  Would love to share that between the projects.

@nugend - THe git remote project feature isn't well documented, partly, because it's a bit of an advanced feature and we ha

[2014-02-16 18:01] paulp commented on #1091
I think the timestamp check is probably doing fine - the SNAPSHOT really is newer than all the versions it is deleting - it's the first issue, that non-SNAPSHOT versions are potential targets in the first place.

Good job!

Have at it.

[2014-02-17 13:20] gkossakowski commented on #1071
Actually, I finally reproduced it deterministically. The way to reproduce is very simple. Create a project with just one source file:

[code]

then:
1. Enable `nameHashing`
2. Run `compile`
3. Restart sbt (this is important)
4. Run `compile` again

It will crash with the error from this ticket. You could observe that (non-deterministically) without restarting sbt if GC happened to clean hacky Anal

[2014-02-17 16:08] JAlexoid opened #1123 "externalPom causes issues with plugins"
Adding an external pom reference messes up the classpaths, that results in many of the plugins failing miserably.

sbt/play run and sbt/play war (with play2-war-plugin). Consistently reproducible. Configuration details are below.

_sbt run_ error:

[code]

_sbt war_ error:

[code]

_POM.xml_

[code]

_build.sbt_

[code]

_plugins.sbt_

[code]

[2014-02-17 17:30] jsuereth commented on #1123
This is an interesting problem.  Play is actually using ivy's advanced "configurations" feature to grab the documentation and place it on its own configuration.  If you use an externalPom to configure a Play project, you're limited to just the maven-subset of dependency information and you're unable to depend on documentation correctly.

This is a known limitation of using external pom.  If you're

[2014-02-17 17:42] JAlexoid commented on #1123
@jsuereth : I understand and I use sbt for any other Play or Scala project, but this one has to integrate with a Maven based build system. Making the case against Maven is effectively making the case against Play, Scala and SBT itself. It's just not the option I can afford.

A pointer where to look for building a possible solution to using POM while still running SBT builds would be very appreciat

[2014-02-17 17:45] jsuereth commented on #1123
you can try the sbt-pom-reader plugin which _may_ get you enough to be
dangerous, but there's still just some fundamental issues between ivy/maven.

I _think_ you could get the sbt-pom-reader to do what you need though.

You're still building with sbt right?  So, are you just using the external
pom for the dependency management section?

On Mon, Feb 17, 2014 at 12:42 PM, Aleksandr Panzin <notifica

[2014-02-17 17:52] JAlexoid commented on #1123
The POM is used for Integration tests and builds from the parent. We use SBT for day-to-day activities, but the automated continuous delivery system runs Maven. There is a parent POM that references our POM as a component and Play2 Maven plugin covers that brilliantly.

And there are a number of features(plugins) that Maven has that are killer for us, one being good integration test facility that

[2014-02-17 18:13] jsuereth commented on #1123
Right.  This scenario is the reason teh sbt-pom-reader exists.  It may help out with your issues.  Obviously, we can't run those maven plugins directly.  There may be sbt-correspondents, but the main thing the pom-reader tries to do is to a more direct translation to ivy so that things like `resovlers` and `libraryDependencies` are correct in sbt.  The approach has different flaws, but it _should_

[2014-02-17 23:01] #1071 closed, assigned to gkossakowski

[2014-02-17 23:01] #1081 closed, assigned to gkossakowski

[2014-02-17 23:53] cunei opened #1124 "The semantics of "set every" may be surprising to users"
The command "set every" redefines the tasks/settings that match the supplied key in all the scopes. Now, consider the following:

[code]

The result is that the scope supplied in the command is silently ignored, and all the sources in every scope are emptied, leading to empty executable jars.

This semantics may be quite surprising where users assume that "set every" just iterates over all the pro

[2014-02-19 10:37] opyate commented on #748
I've had this same issue whilst using an app based off http://typesafe.com/activator/template/play-yeoman

[2014-02-19 23:44] TomasMikula opened #1128 "Error on static method in interface in a mixed Java/Scala project"
I have a mixed Java/Scala project. When I have static methods in Java interfaces, sbt does not compile my project.

To reproduce, put the following two files in a directory and run `sbt compile`.

Foo.scala:

[code]

Bar.java:

[code]

I get this output:

[code]

If you remove `Foo.scala`, `Bar.java` alone compiles fine.

sbt version: 0.13.1
JDK version:

[code]

No `build.sbt` file is used.

[2014-02-20 00:29] jsuereth commented on #1128
which version of scala?

[2014-02-20 00:38] TomasMikula commented on #1128
I am not specifying any (no build.sbt), so it's whatever sbt 0.13.1 uses by default. It happens to be 2.10.3.

This is the output after I cleared Ivy cache:

[code]

[2014-02-20 00:40] jsuereth commented on #1128
that may be the issue.  If you're doing joint compilation (default) you need a scala version that supports Java 8 syntax...

[2014-02-20 00:45] TomasMikula commented on #1128
I extracted this example from a project that explicitly specifies

`scalaVersion := "2.11.0-M8"`

If I add build.sbt with the above line to this sample project, nothing changes:

[code]

[2014-02-20 02:27] xyclos opened #1129 ""method Async in trait Results is deprecated" results in slow compilation and OutOfMemoryError"
I originally raised this here: https://github.com/playframework/playframework/issues/2394 and it was suggested that this may actually be an sbt issue.

While trying to migrate from Play 2.1.3 to 2.2 we have numerous warnings about Async being deprecated.  We are in the process of updating that code, so we can compile. However, I believe this OutOfMemoryError resulting from deprecation warnings is

[2014-02-20 16:39] jsuereth commented on #1129
Thanks for the report.  This is a good reason for us to run our test suite on Java7 as well as Java6.  Will look into when we can.

[2014-02-20 17:34] nugend commented on #1120
I found a nice little project that added some implicits for JMS and wanted to put it into my build without having to copy the source. At first, I just assumed that SBT would somehow magically figure out how to include the source in the Git repo as a managed source file so I wrote up the plugin very similarly to the SO question. Then I realized that didn't make any sense and I made a little patch t

[2014-02-21 15:50] dansanduleac opened #1131 "sbt 0.13.2 macro engine regression [21/02/2014]"
I seem to have found a bug in sbt 0.13.2. If, inside the initialisation of a task, I take a `SettingKey`, `.apply` it and then get all the values of the resulting thing with `.all`, ultimately getting the `.value`, it crashes the compiler.
If I remove the `.apply`, it works. If I don't assign this expression to a `val`, it also works.

All three examples, however, work as expected on sbt 0.13.1.

[2014-02-21 15:54] jsuereth commented on #1131
@retronym I may need help with this one, whenever you find yourself with spare time.

[2014-02-21 16:08] dansanduleac commented on #1131
Quick response! I'm looking into this as well, but it's likely that @retronym will find a fix sooner :)

[2014-02-21 17:33] retronym commented on #1131
I'm a bit tied up right now. Could you ping me in a week or so to help out?

On Friday, February 21, 2014, Dan Sănduleac notifications@github.com
wrote:

[2014-02-21 17:47] jsuereth commented on #1131
@retronym no problems.  Whenever you have time.  I'll ping you.

[2014-02-23 12:33] jaceklaskowski commented on #1131
@dansanduleac you sure there should be `projectId` not `projectID` (it doesn't solve the issue, tough)?

[2014-02-23 12:39] dansanduleac commented on #1131
@jaceklaskowski Oops, you're right. Amended. (and no, it doesn't solve the issue :) )

[2014-02-24 23:19] cunei commented on #1131
I tried to reproduce this ticket, but the example you supplied worked ok for me:

[code]

Can you please package a project that exhibits the problem? (I wonder whether Cygwin may have a role)

[2014-02-24 23:44] cunei commented on #1131
I double checked, and it also worked for me using (an old version of) Cygwin.

[2014-02-25 15:11] jsirois opened #1136 "make-pom does not translate ivy revision ranges to valid maven revision ranges"
Discovered this when trying to download bijection-guava via this pom: view-source:http://search.maven.org/remotecontent?filepath=com/twitter/bijection-guava_2.9.3/0.6.0/bijection-guava_2.9.3-0.6.0.pom

[code]

Isolated, the failure looks like so:

[code]

The corresponding sbt build snippet that leads to this pom is:

[code]

Peeking at MakePom does show a straight mapping with no treatment to ens

[2014-02-25 15:12] sblask commented on #872
Seems to work with 0.13, so all good :-)

[2014-02-25 15:23] jsirois commented on #1136
Confirming that + -> [,) works as a potential solution here:

Before:

[code]

After:

[code]

[2014-02-25 15:37] jsirois commented on #1136
I guess that would need to be "[1.3,1.4)" to faithfully reflect "1.3.+" semantics.

[2014-02-25 17:12] cunei commented on #1136
Good catch, thanks! We need to introduce the correct mapping.

[2014-02-25 17:15] dansanduleac commented on #1131
I'm sorry, it seems the issue is only with the latest sbt `0.13.2`.
I've been calling `sbt -sbt-version=0.13.1` but for some reason sbt's start script does not parse that correctly and just ignores it, I should have replaced the `=` with a space. And I am on Cygwin.

[2014-02-25 17:35] efuquen commented on #228
So, I'm confused because in my daily use this doesn't seemed to have fixed the issue.  I'm using the latest sbt version, 0.13.1, and I've tried Ctrl-C on many different tasks: compile, run, test (I understand this might be a scalatest from the above comment), running the sbt-native-packager.  Anytime I press Ctrl-C it will exit sbt entirely; in what exact context is this suppose to work because I

[2014-02-25 18:38] jsuereth commented on #228
So, I think the issue is that handling ctl-c safely is only one step of the proces.  Knowing how to cancel arbitrary code appears not to be a solved issue.

My plan:
1. Ensure ctl-c works when tasks fork their proces.
2. Encourage users who want ctl-c to always work to use forked tests/runs
3. Do our best to make sure we work with common test frameworks which aren't forked.

[2014-02-25 21:22] SethTisue commented on #228
re #3, over at the ScalaTest issue Bill says “I think mainly this is an sbt enhancement request”

[2014-02-25 22:33] cunei commented on #1131
Yes, the syntax is either "sbt -sbt-version 0.13.1" or "sbt -Dsbt.version=0.13.1". I can reproduce the bug in sbt 0.13.2-20140225-062312, I'll try to locate the commit that introduced the regression. Thanks!

[2014-02-25 23:06] cunei commented on #1131
The regression occurred between 0.13.1-20131121-062303 (good) and 0.13.1-20131125-062250 (fails). The snapshots in the middle unfortunately are broken, but the offending commit should be in that range.

[2014-02-26 18:23] nugend opened #1138 "Resolvers needs to be assigned to rather than appended to"
I encountered an issue where SBT could not resolve a dependency from a custom resolver setting unless I overrode the resolvers setting key rather than appending, that is:

[code]

would not work, but

[code]

did work.

Since resolvers is empty in a fresh project, this seems not to make any sense.

I am using SBT 0.13.1 and Scala 2.10.3

Please see this SO question I wrote for additional details r

[2014-02-26 19:56] jsuereth commented on #1138
What is the artifact?  There's an issue with Ivy where, if it find a pom.xml or ivy.xml file in a resolver _AND_ that resolver does not contain the jar, then it will fail to resolve the artifact _even if_ another resolver has it.  It's a known ivy limitation that we'd love to workaround.

From your output, it looks like somehow you're successfully downloading the POM from maven central and then fa

[2014-02-26 21:05] nugend commented on #1138
The artifact is the JMS jar. Maven central doesn't have it (but it does have the POM), JBoss does.

Hmm, I tried retesting this with a completely clean ivy cache and hit the error. I have no clue why changing to assignment fixed the issue. I'm seeing some inconsistent behavior in trying to clearly reproduce why the JMS jar gets downloaded or not sometimes (I'm deleting the javax.jms ivy2 cache and

[2014-02-26 23:01] jsuereth commented on #1138
ivy sees very little movement, so opening an issue is probably the right thing to do, but I wouldn't expect movement. I think that's how Ivy is intended to behave.

For sbt, you want to do the fullowing:

1).  Run `show fullResolvers` and make sure the jboss repository shows up BEFORE any nusance repositories (like, apparently, maven central).

2) If the resolver list is not showing up correctly,

[2014-02-27 03:59] a1k0n commented on #1117
I'm seeing exactly the same thing, except under Linux.  sbt works fine under normal circumstances, but if I try to set up an isolated environment with a custom repo, ivy home, and boot directory, it does exactly the same as above -- won't detect a scala version, and if I specify one, can't find xMain.  My custom boot properties file is basically the same as the above except with a different custom

[2014-02-27 14:20] enijns commented on #895
+1

[2014-02-27 15:03] jsuereth commented on #895
So this workaround looks good.  While I want to pull in some revamped project resolvers soon, would you mind making a pull request with that change?  I'd like to include that in 0.13.2 if we can.  If I have time after delving into this ivy madness, I'll see if I can pull it in.

Thanks!
- Josh

[2014-02-28 15:38] cunei commented on #1128
Scalac (2.11.0-M8) seems unable to parse the file:

[code]

The file is however a legal jdk8 source file:

[code]

Java 8 support in scalac is still under development, according to https://issues.scala-lang.org/browse/INF-163
This specific issue is probably relevant to the Scala team, more than to sbt. /cc @gkossakowski

[2014-02-28 21:15] jsuereth commented on #1128
Thanks for the report @cunei. This should be opened and flagged for Scala (cc> @adriaanm)

[2014-02-28 21:20] adriaanm commented on #1128
[EDIT: sorry, just had to scroll up: ~~What's line 1 of Bar.java?~~]

[2014-02-28 21:34] adriaanm commented on #1128
https://issues.scala-lang.org/browse/SI-8355

[2014-02-28 21:45] TomasMikula commented on #1128
Thanks for reporting to the proper place.

[2014-03-01 17:38] gkossakowski opened #1142 "Disable macro heuristic for inherited macros"
At the moment, any change (even whitespace change) to a file containing a macro will trigger invalidation of files that depend on it. The reason is that we don't have any means to detect change to implementation of a macro that could affects clients that call it so we err on conservative side.

However, the definition of "containing a macro" here means both defines a macro directly in source file

[2014-03-03 05:12] jroper opened #1143 "ansi escape sequence stripping is broken"
The ansi escape sequence stripping (`ConsoleLogger.removeEscapeSequences`) is broken, especially when stripping escapes for colouring.  An example colour escape sequence is `<ESC>[33m`, only the `<ESC>[` is being stripped, leaving the `33m` behind.

According to wikipedia:

The problem with the current logic is that it's missing the middle bit about the second character either being ASCII 64 to 95

[2014-03-03 14:41] jsuereth commented on #1128
Ok, I'm closing this on the sbt end then.

[2014-03-03 14:41] #1128 closed, assigned to nobody

[2014-03-03 14:55] matthewfarwell opened #1144 "Confusing error message when trying to use evaluated on an input key"
Given a build.sbt of

[code]

and project/plugins.sbt of

[code]

sbt.version = 0.13.1

When reloading sbt, the following message is given:

[code]

This is confusing, because it refers to value, not evaluated. What would be nice would be to say something along the lines of 'should you be using toTask()'

[2014-03-03 19:07] jsuereth commented on #1077
Has this been fixed?  Just curious.

[2014-03-03 20:51] FranklinChen opened #1146 "javadoc default is not UTF-8"
I had to add the following to generate javadoc with a UTF-8 charset in the generated HTML. I suggest that SBT simply default to UTF-8.

[code]

[2014-03-03 21:50] gkossakowski commented on #1077
Nope. I didn't touch it and I don't plan to do it this week. I'll unassign from myself to enable work stealing.

[2014-03-03 23:05] jsuereth commented on #1146
Unfortunately, this would be quite breaking.  Although, I do think defaulting to UTF-8 would solve a lot of issues we have.  The reality is we live in a weird ecosystem, so this is something I need to defer to the 1.0 to actually do, and probably need to socialize ahead of time.  It's also not just fixing javadoc.  A migrate to UTF-8 as the default would be pervasive, but Play already does this...

[2014-03-04 01:24] jsuereth commented on #429
So what I have as an experiment is the following hackery:

[code]

Installing this in a build leads to the following message, duplicated EVERY TIME you try to hit the repository and it wants credentials:

[code]

Leaving a note for myself here.  I'm going to see what kind of cleanup we can do here, but we may go with a workaround like the above to get our better error messages.  Unfortunately, Ivy

[2014-03-04 01:25] jsuereth commented on #429
Also, it seems we could _remove_ Ivy's restriction that both Realm + Host line up, given this style of hack.  debating doing that in 1.0 or possibly a 0.13.x...

[2014-03-04 16:56] jsuereth opened #1148 "Provide default AutoPlugins that correspond to the Default.scala settings."
With the sbt 0.13.2 adjustment to use `AutoPlugin` and promote automatic configuration of settings, we need to give plugin authors a way of knowing that the sbt default settings _are_ configured on a project.   As such, we should split Defaults.scala into the following pieces:
-  `core` settings - Things the sbt engine need to run against a build.
- `IvyModule` settings - Things sbt will use to re

[2014-03-04 16:56] jsuereth opened #1149 "Documentation for AutoPlugins"
Documentation in sbt needs to be updated for AutoPlugin feature.  Existing Plugin docs should be deprecated.

[2014-03-05 14:22] gkossakowski opened #1150 "Scala compiler crash when compiling a setting"
Consider the following `build.sbt` definition:

[code]

It crashes with sbt 0.13.2-{M1, M2} with:

[code]

It worked with sbt 0.13.1 so this a regression.

[2014-03-05 14:23] gkossakowski commented on #1150
@jsuereth: I assigned it to sbt 0.13.2 because it's a regression. Feel free to reconsider.

It's most likely a bug in macro code.

[2014-03-05 15:00] jsuereth commented on #1150
Yes.  I'm still fighting the madness of fragmented settings :).   Might have to delay the release one more week as I get a handle on things anyway, but this is still correctly assigned.

[2014-03-06 03:11] mighdoll opened #1152 "sbt compile fails with dependsOn local project"
I have a small base project that references another local project with a dependsOn(file()) dependency. I want to start introducing dependsOn file dependencies to our build, but this intermittent failure blocking that.

I've seen the failure several times, but haven't yet found out a reproducable formula.  Any tips from this trace on reproducing it? Or things I could extract from the failed state?

[2014-03-06 13:30] jsuereth commented on #1152
Are the two projects on different sbt versions?

This is something I'll have to seriously dig into.  Also the "file/git/url" projects are something We're planning to rethink slightly in the face of "sbt-server".  It could be we can _unify_ the build definitions by just using the other project's build directly (via the server API).  That's like a 1.1/1.2 thing though, but still.   I'll have to star

[2014-03-06 15:38] mighdoll commented on #1152
The base project uses the same version of sbt. I can show it to you
privately. The base project build is similar in complexity to the sparkle
build, it includes some plugins too:

[code]

On Thu, Mar 6, 2014 at 5:30 AM, Josh Suereth notifications@github.comwrote:

[2014-03-06 15:52] #429 closed, assigned to jsuereth

[2014-03-06 16:26] mighdoll commented on #1152
The multi-project build works fine in steady state. (And after the problem
occurs, cleaning/restarting/removing target directories fixes things
without code changes to the changed build.)

On Thu, Mar 6, 2014 at 7:38 AM, Lee Mighdoll lee@underneath.ca wrote:

[2014-03-06 19:23] mighdoll commented on #1152
ok, I've got a reproducable case posted to github. It appears to be triggered by using the sbt-pack plugin in the base project, combined with changing a plugin in the file-referenced project.  The minimized base project I've posted contains only the sbt-pack plugin and a dependsOn file reference to sparkle.
1. checkout   https://github.com/mighdoll/sbt-local.git @ 1176167 to get a base project
2.

[2014-03-07 01:37] mighdoll commented on #1152
@xerial (the pack plugin author) has taken notice too, but no idea how to fix. Unclear whether it's an issue with pack or sbt or something else.

[2014-03-07 13:01] paulp opened #1155 "export classpath no longer exports"
In 0.13.1, given this build.sbt

[code]

Running sbt 'export fullClasspath' gives this:

[code]

In 0.13.2-M1 and -M2, it just exits silently.

[2014-03-07 13:18] patriknw opened #1156 "publishM2 in sbt 0.13.2-M2 don't overwrite"
Changed behaviour compared to 0.13.1.

See [log](https://jenkins.akka.io:8498/job/pr-validator-per-commit/2008/consoleFull) from this [pull request](https://github.com/akka/akka/pull/2060) build

[code]

[2014-03-07 13:32] gkossakowski commented on #1150
// cc @retronym who might have some insights

I haven't gotten around to dig deeper into it, yet.

[2014-03-07 13:51] retronym commented on #1150
I'm actually surprised that:

[code]

worked beforehand.

@gkossakowski's suggestion to rewrite the build as:

[code]

would be the typical way to express this.

I'll trace out the crash in any case.

[2014-03-07 14:38] jsuereth commented on #1155
This appears to be related to the addition of the `all` task.   Somewhere along the chain our "show values" settings.  Specifically, this line looks suspicious: https://github.com/sbt/sbt/blob/0.13/main/src/main/scala/sbt/Aggregation.scala#L157

I'm still investigating, this is just a note so I don't forget.

[2014-03-07 14:50] jsuereth commented on #1155
Hmm, was barking up the wrong tree. This commit is interesting: ca7e78d03d.

[2014-03-07 15:02] jsuereth commented on #1155
It looks like we have more than one "export" stream per task run.  That commit ensures the one we read from is closed before written to, although there is another file which DOES have the correct value in it.  Going to figure out how to wire up to the correct export stream, then we should be good to go.

[2014-03-07 15:41] jsuereth commented on #1155
Ok, the issue appears to be we're exporting things with the 'streams' key (associated with the fullClaspsath task), but we're reading from the 'fullClasspath' key, so the resulting stream is empty.

[code]

Lining up the keys in that way shows exactly the issue.

[2014-03-07 18:33] jsuereth commented on #1155
Found it.  Will be fixed in the RC1.

[2014-03-07 18:43] jsuereth commented on #1156
I've seen this randomnly show up in our unit tests.  If you don't clean the ivy cache before running, it happens always on the second running.   I'll dig in and see if  I can get a fix.  We're blocking the 0.13.2 release on this.

Thanks!

[2014-03-07 18:46] dlwh opened #1159 "sbt console explodes in 2.11.0-RC1 when given a compiler plugin"
Thought it was a scalac issue, seems to be an SBT issue.

https://issues.scala-lang.org/browse/SI-8370

build.sbt:

[code]

sbt console-quick will explode. Running Scala directly doesn't seem to explode.

According to Eugene, not specific to macro-paradise.

[2014-03-07 18:50] dlwh commented on #1159
(checked against 0.13.1 and 0.13.2-M1)

[2014-03-07 18:53] jsuereth commented on #1159
Thanks for the report.  Will investigate after 0.13.2-RC1 is out (as it's not a regression).

[2014-03-07 19:04] xeno-by commented on #1159
Don't think that it's sbt who's at fault. See my comments to the aforementioned Scala issue.

[2014-03-07 19:08] dlwh commented on #1159
But I got scala console to run directly?

On Fri, Mar 7, 2014 at 11:04 AM, Eugene Burmako notifications@github.comwrote:

[2014-03-07 19:09] dlwh commented on #1159
either way, you're better equipped to figure it out than I am :-)

This command works fine for me:

[code]

On Fri, Mar 7, 2014 at 11:08 AM, David Hall dlwh@cs.berkeley.edu wrote:

[2014-03-07 19:21] paulp commented on #1155
Great, thanks.

[2014-03-07 19:24] paulp commented on #1155
Oh yeah - I saw there was a test which issued some command involving export classpath, and it has apparently not been failing. That might merit investigation in case it's not testing what it was written to test.

[2014-03-07 19:24] xeno-by commented on #1159
I guess scalac's bug is only exposed through sbt's classloader magic.

[2014-03-07 20:24] jsuereth commented on #1155
Yeah, it was never testing what made it to System.out from the sbt process.   We actually don't have hooks for those tests, so unfortunately the only way to test `export` right now is to reimplement its logic in a test, which is mostly a useless exercise in CPU.

I'll be working the test suite slowly over the coming months for greater stability + a few more features so we can check things like "ex

[2014-03-07 21:18] jsuereth commented on #1156
Huh, this appears to be a regression from 0199a93ffbe

It looks like isSnapshot isn't returning true legitimately.  I'm investigating.

[2014-03-07 21:35] jsuereth commented on #1156
So there are two things at play here:
1. a legitimate issue in Akka's build that's now "exposed" by turning on overwrite.
2. the exception you linked which I can't reproduce (yet).

Basically, as of sbt 0.13.2 you can no longer _republish_ a release if it already exists.  This is quite a dangerous thing to do because it leads to broken caches all over.  Only -SNAPSHOTs are allowed to be republishe

[2014-03-07 22:22] #1136 closed, assigned to jsuereth

[2014-03-08 03:11] jsuereth commented on #1150
@retronym  @gkossakowski It seems another mole poped out of its hole, this one in our own build:

[code]

I may need to revert this just to continue fixing other Ivy issues.

[2014-03-08 03:22] jsuereth commented on #1150
Appears to be this syntax:

[code]

[2014-03-08 07:56] KwangmooKoh opened #1161 "d"

[2014-03-08 12:59] #1161 closed, assigned to nobody

[2014-03-08 13:48] gkossakowski commented on #1150
@jsuereth: yes, please go ahead and revert. We'll investigate the problem shortly.

[2014-03-08 20:29] paulp opened #1164 "The search-google-by-version feature is worse than useless"
Too many times to count I get zero results from the little box, only to find there are plenty of docs on what I'm looking for. This is way worse than not having a little box.

Go try searches for

[code]

No results. That's the default search. Now try

[code]

Listen: if someone is searching for results for some version which is NOT the release version, then it's really important that their result

[2014-03-08 20:49] jsuereth commented on #1164
Interesting, it looks like google stopped crawling the versioned documentation, but continues to crawl the 'release' docs.  Maybe they think versioned docs is a ponzi scheme?

In any case, feel free to use www.google.com for searching for docs.  It's quite good.  I'll see if I can finagle the gods of SEO to fix this, or just default the search to hit the release site.

[2014-03-08 20:50] #1155 closed, assigned to nobody

[2014-03-08 21:04] jsuereth commented on #1156
I just pushed a workaround.  After the nightly build, can you try against 0.13.2-SNAPSHOT?

[2014-03-09 08:41] patriknw commented on #1156
I tried (locally) to use 0.13.2-20140309-062258, but then it can't resolve the plugins. Might be easier if you create another akka pull request based on mine, that you can tweak yourself to see how jenkins reacts. Thanks.

[2014-03-09 13:48] #1150 closed, assigned to nobody

[2014-03-09 20:10] eirslett opened #1167 "Bug: sbt dependency version crash on Windows"
See: http://stackoverflow.com/questions/22233992/sbt-project-with-different-versions-of-dependency-for-plugin-and-itself
and its attached code sample: https://github.com/eirslett/sbt-httpclient-problem

The build fails on Windows, but is ok in Mac and Linux (Travis CI).

[2014-03-10 12:38] #1107 closed, assigned to nobody

[2014-03-10 13:43] patriknw commented on #1156
@jsuereth I was able to reproduce it locally by changing the location of the m2 repo with `-Dakka.build.M2Dir=/Users/patrik/.m2/repository2`, which is what we do in the jenkins job.
Same error with 0.13.2-M2 and it is fixed in 0.13.2-20140309-062258.
Thanks

[2014-03-10 13:47] jsuereth commented on #1156
Great news.  I need to look into that specifically though.   Something is going on there which leads to the overwrite being true. If we remove that in sbt 1.0, we run back into the same issue.

[2014-03-10 14:55] jsuereth commented on #1117
Quick question:  Is nexus able to appropriately proxy the sbt ivy repository?   This was not the case in the past.  What proxy setup do you have in nexus?

[2014-03-10 16:09] dansanduleac commented on #1084
I haven't had much time to tinker with this unfortunately, but from what I've looked at, a behaviour that baffles me is that if you depend on plugins inside the global plugin, as opposed to a project's build, the plugins are loaded by the Global Plugin's loader (`PluginManagement.initialLoader`), whose URLs are being fed directly from the full resolved classpath of the Global Plugin in itself - `g

[2014-03-10 16:21] choedl commented on #1117
Hi, I guess nexus is doing it correctly. What do you mean by "What proxy setup do you have in nexus"?.

After deleting ~/.sbt/\* and ~/.ivy2/cache/org.scala-sbt/ and then starting sbt (0.13.0), all artifacts are downloaded from nexus:

$ sbt
Getting org.fusesource.jansi jansi 1.11 ...
:: retrieving :: org.scala-sbt#boot-jansi
        confs: [default]
        1 artifacts copied, 0 already retrieved

[2014-03-10 16:29] dansanduleac commented on #1131
Looks like this is the same as #1150.

[2014-03-10 16:38] jsuereth commented on #1117
ah, cool.  we used to get invalid pom warnings all the time from nexus, or it would rewrite things, so we had to move to artifactory.  Just wanted to check on that first.

[2014-03-10 18:35] jsuereth commented on #1084
So, one thing I've been debating for a long time is whether or not, given an sbt-server, we can simplify some of these things.  There's a lot of holes in the technologies but conceptually:
1. We update our Ivy resolvers to communicate with the sbt-server for artifacts/metadata about modules.
2. When references 'remote' projects, we connect to their locally running sbt-server to do so.
3. The "glob

[2014-03-10 21:11] #1148 closed, assigned to jsuereth

[2014-03-10 21:18] jsuereth commented on #1149
This was mostly done in the auto-plugins pull request.  Debating closing this for RC1.  Anyone have any thoughts?

@retronym @havocp you guys saw the docs so far, what do you think?

[2014-03-10 21:30] jsuereth commented on #1152
@retronym Do you have an ideas on what this failure in the compiler may related to that can guide my search?  Thanks!

[2014-03-10 22:25] mighdoll commented on #1152
Reproducing the failure is even easier than I mentioned above. Just clone the two projects and start sbt in the sbt-local project and you'll see the error.

The instructions above are probably still handy for iterating after seeing the initial failure.

[2014-03-10 22:37] retronym commented on #1152
The crash is in the macro engine. Cc @xeno-by

[2014-03-10 23:23] xeno-by commented on #1152
Looks like the crash is caused by preceding errors:

[code]

Could it be that the sbt plugin is using an old version of scala-reflect.jar that doesn't contain the compileTimeOnly annotation and that scala-reflect.jar hijacks the one that's bundled with sbt? (No idea whether this is relevant - just guessing).

[2014-03-10 23:31] xeno-by commented on #1152
Yeah indeed. If you check reconstructed args, you'll see that there's scala-reflect-2.10.0.jar, which takes priority over scala-reflect-2.10.3.jar that's necessary for SBT to work (actually, even scala-reflect-2.10.1.jar would do, because that's the version where the `scala.reflect.internal.annotations.compileTimeOnly` annotation got introduced).

[2014-03-10 23:44] jsuereth commented on #1152
Interesting, this seems related to #1084 about handling "different projects" and resolving the conflicting dependencies.

Thanks much @xeno-by for the analysis!

[2014-03-11 00:32] mighdoll commented on #1152
Very helpful, thanks! It looks like sbt-pack includes scalate, which includes the scala compiler as a dependency. I'll try excluding that dependency and report back.

[2014-03-11 00:58] xerial commented on #1152
Thanks for identifying a cause of the problem in sbt-pack side.

[2014-03-11 09:39] xuwei-k opened #1171 "Incremental compiler misses change to value class, and results to NoSuchMethodError at runtime"
see https://github.com/xuwei-k/sbt-value-class-bug
### step

From sbt shell, `compile` A.scala (without value class)

[code]

B.scala:

[code]

Change to A.scala to following:

[code]

From sbt shell, `run` (without `clean` )
### problem

[code]
### notes

`NoSuchMethodError` does not occur if `clean` is executed first.

[2014-03-11 12:35] eed3si9n commented on #1171
Do you know which sbt or Scala version did this behavior start?

[2014-03-11 12:47] eed3si9n commented on #1164
I'm tempted to suggested that we run our own search index, which is probably a slippery slope to more problems. Akka's website seems to provide custom Google search filtered by version:
- http://doc.akka.io/docs/akka/2.3.0/scala.html
- http://doc.akka.io/docs/akka/2.2.4/scala.html

[2014-03-11 12:58] xeno-by opened #1172 "SBT ignores alternative scala distributions when deciding to use the same classloader as the build"
Minimized reproduction: https://github.com/xeno-by/testvirt

[2014-03-11 13:15] jsuereth commented on #1172
Thanks for the report.   So, if I were to rename this it would be:

`Sbt refuses to use releases of non-(org.scala-lang) Scala distros if it matches the version of an (org.scala-lang) distro`?

We'll have to check the update report to see if somehow 2.10.2 is leaking onto your classpath at an earlier spot than scala-virtualized.

[2014-03-11 13:22] xeno-by commented on #1172
Well, actually there is 2.10.2-RC2 for vanilla Scala, so it's not like the problem is in a version clash.

[2014-03-11 13:25] namin commented on #1172
I can't reproduce the issue! `sbt run` works fine for me. `sbt --version` returns 0.13.1.

[2014-03-11 13:26] jsuereth commented on #1172
@xeno-by is on windows still?.  We already know there's some classpath ordering issues there (even with Mac).

My guess is that somehow both scala's are resolved in your project and the wrong one ends up in the right place at the right time.   But I won't know until I have a chance to reproduce locally (I'm still running regression tests now, so my machine is fully loaded).

[2014-03-11 13:27] xeno-by commented on #1172
I'm on Mac. Using Paul's sbt runner.

[2014-03-11 13:29] jsuereth commented on #1172
Can you throw a `project/build.properties` in there?  That's becoming a requirement for sbt.

[2014-03-11 13:31] cunei commented on #1172
Here I'm getting:

[code]

[2014-03-11 13:33] xeno-by commented on #1172
Done. Forced version to 0.13.1, and that didn't help.

On 11 March 2014 14:29, Josh Suereth notifications@github.com wrote:

[2014-03-11 13:34] xeno-by commented on #1172
Weird, for me it says `'compiler-interface' not yet compiled for Scala
2.10.2` :(

On 11 March 2014 14:31, cunei notifications@github.com wrote:

[2014-03-11 13:34] jsuereth commented on #1164
Yeah, that works when google indexes your site.  Google isn't crawling the latest version site.   We'll have to jiggle the handle until our data is flushed down the google drain _or_ figure out an alternative mechanism.

We have constantly had issues with google's indexing our information in ways that aren't helpful for our users.  This seems the most significant....

Given how SEO works, you have

[2014-03-11 13:36] xeno-by commented on #1172
Cleaning .ivy2 cache doesn't help either.

[2014-03-11 13:38] jsuereth commented on #1172
@xeno-by What if you use sbt-launcher directly.   It still looks to me like both scala's are on your scala-instance classpath.  Can you dump your `sbt -d` output?

[2014-03-11 13:40] namin commented on #1172
@xeno-by -- Does 2.10.1 (instead of 2.10.2) work for you? In the past, I noticed that it takes a few hours for a new version to be available everywhere (Scala-Virtualized 2.10.2 was just released this morning...).

[2014-03-11 13:41] xeno-by commented on #1172
It downloads 2.10.2 virt successfully, and I checked the ivy cache to make
sure it contains the right jar.

On 11 March 2014 14:40, Nada Amin notifications@github.com wrote:

[2014-03-11 13:42] xeno-by commented on #1172
Here's `sbt -d` from the rebel cut:

14:40 ~/Projects/testvirt (master)$ sbt -d
No extra sbt options have been defined
Detected sbt version 0.13.1
Starting sbt-the-rebel-cut: invoke with -help for other options
Using /Users/xeno_by/.sbt/0.13.1 as sbt dir, -sbt-dir to override.
[addJava] arg = '-Dsbt.global.base=/Users/xeno_by/.sbt/0.13.1'
Using default jvm options

# Executing command line:

/Syst

[2014-03-11 13:43] martijnhoekstra commented on #1164
Can Google get to http://www.scala-sbt.org/0.13.1/docs by crawling? I've
been clicking over the site for a bit, but I haven't found a way to end up
there.

On Tue, Mar 11, 2014 at 2:34 PM, Josh Suereth notifications@github.comwrote:

[2014-03-11 13:44] xeno-by commented on #1172
Downloaded the launcher from http://www.scala-sbt.org/release/docs/Getting-Started/Setup.html. Didn't help. Here's the output:

[code]

[2014-03-11 13:45] xuwei-k commented on #1171
Maybe from the beginning. following all combinations failed.

https://github.com/xuwei-k/sbt-value-class-bug/tree/3e9bb5b83
https://travis-ci.org/xuwei-k/sbt-value-class-bug/builds/20529146

sbt
0.11.3, 0.12.0, 0.12.1, 0.12.2, 0.12.3, 0.12.4, 0.13.0, 0.13.1, 0.13.2-M2

scala
2.10.0, 2.10.1, 2.10.2, 2.10.3, 2.10.4-RC3, 2.11.0-RC1

[2014-03-11 13:49] jsuereth commented on #1172
Hmm...

1) Can you show me what's in your `~/.sbt/boot/scala-2.10.3/org.scala-sbt/sbt/0.13.1/` directory?
  Specifically the compiler-interface-bin_\* directories
2) Try `reboot full` (clears the launcher/incremental compiler interface cache) in the sbt console.

[2014-03-11 13:51] jsuereth commented on #1171
@gkossakowski This looks like something maybe for 0.13.3.  I'll let you figure out when you think we should tackle it.

[2014-03-11 13:52] jsuereth commented on #1164
Yeah, i think the link disappeared.  even if it could, the duplicated content with the `releases` URL actually lowers the SEO of it too, which I think was why the link disappeared in the first place.   I'll try to fix before 0.13.2 docs go out.

[2014-03-11 13:53] cunei commented on #1172
Also, what does it show if you try `show fullClasspath` ?

[2014-03-11 13:53] xeno-by commented on #1172
[code]

[2014-03-11 13:53] xeno-by commented on #1172
[code]

[2014-03-11 13:55] cunei commented on #1172
Fair enough. Let's say `show dependencyClasspath`, instead.

[2014-03-11 13:56] cunei commented on #1172
Could it be any global plugin?

[2014-03-11 14:06] gkossakowski commented on #1171
Not sure I understand. This is a bug in Scala compiler and not sbt, right?

[2014-03-11 14:54] xeno-by commented on #1172
[code]

[2014-03-11 14:54] xeno-by commented on #1172
How do I see whether I have any global plugins?

[2014-03-11 14:57] jsuereth commented on #1172
Depends on your script.  For normal sbt, check `~/.sbt/0.13`. For paul's script, check `~/.sbt/<version>`

[2014-03-11 14:59] xeno-by commented on #1172
[code]

[2014-03-11 15:19] cunei commented on #1172
My classpath is:

[code]

Which seems somewhat more sensible. Somehow yours is picking Scala from the sbt boot dir. Not sure why. Do you have anything sbt-related in your env?

[2014-03-11 15:20] cunei commented on #1172
Can you please try moving out of the way `/Users/xeno_by/.sbt/0.13.0` ?

[2014-03-11 15:24] xeno-by commented on #1172
I removed the `.sbt` directory altogether, and now trying to launch sbt produces

[code]

[2014-03-11 15:25] xeno-by commented on #1172
What do you mean by sbt-related in my env? What should I check for?

[2014-03-11 15:28] cunei commented on #1172
SBT_OPTS, for instance

[2014-03-11 15:29] xeno-by commented on #1172
[code]

[2014-03-11 15:36] paulp commented on #1164
Be aware the issue isn't limited to 0.13.1 and it definitely isn't a function of what's crawlable. If you do some searches with site:http://www.scala-sbt.org/XXX/docs/ for various values of XXX you will see a ragged tapestry of incomplete results. At the moment it reports 649 results for 0.13.0, 98 for release, 3 for 0.13.1, and numbers all over the map for 0.12.x versions.

[2014-03-11 15:41] cunei commented on #1172
There has to be _some_ reason why it is picking the boot dir of a different sbt version. :) Can you please add `set -x` at the beginning of `sbt/bin/sbt`, and relaunch? I'm curious to see the final invocation of java. Also, can you please try in a completely empty new dir:

[code]

Since you also removed `.sbt`, there should be really nothing around that can interfere any longer.

[2014-03-11 15:45] xeno-by commented on #1172
Amazing... It now works!

[code]

[2014-03-11 15:48] cunei commented on #1172
There must have been some junk left over in the project's local `target` or `project` dirs. Did you maybe save it beforehand?

[2014-03-11 15:49] xeno-by commented on #1172
Unfortunately I just did `rm -rf` :(

[2014-03-11 15:49] xeno-by commented on #1172
But the same problem is reproducible on Jenkins: https://scala-webapps.epfl.ch/jenkins/view/misc/job/macro-paradise-nightly-2.10.2-virt/14/console

[2014-03-11 15:51] xeno-by commented on #1172
I'm rerunning the build there, so that you'll soon be able to take a look at the artifacts: https://scala-webapps.epfl.ch/jenkins/view/misc/job/macro-paradise-nightly-2.10.2-virt/16/console.

[2014-03-11 15:51] cunei commented on #1172
I cannot get to that machine, but if you can tgz the build dir we can (maybe) have a look later. Since a cleanup solves the problem, the ticket for the moment can be closed. Cheers! :)

[2014-03-11 15:53] xeno-by commented on #1172
Thank you!

[2014-03-11 16:09] gkossakowski commented on #1171
Oh sorry, I misread it. It's a genuine bug.

[2014-03-11 17:41] jsuereth commented on #1172
I think we may still have a legitimate issue, see: https://github.com/sbt/sbt/blob/0.13/main/src/main/scala/sbt/Defaults.scala#L321

[2014-03-11 18:50] mighdoll commented on #1152
excluding the dependencies from sbt-pack works for me. see @ 6c6104 in https://github.com/mighdoll/sbt-local.git for details. Thanks again all for the help in diagnosing.

@xerial consider not using scalate to avoid these dependency complications? (scalate also includes too much slf4j stuff..) I see that sbt-native-package has a simple mustache replacer you could steal..  (Or at the least I'd thin

[2014-03-11 23:41] gkossakowski commented on #1142
Actually, I realized that the changes to name hashing are not related to this problem. Both old and new algorithms can be improved when it comes to handling of inherited macros. The decision whether given file (API in sbt's terminology) is made here in [HasMacro](https://github.com/sbt/sbt/blob/0.13/compile/api/src/main/scala/xsbt/api/APIUtil.scala#L21) API visitor.

The fix would consist of chang

[2014-03-11 23:44] gkossakowski commented on #1171
I looked into this and the problem is quite fundamental. Incremental compiler detects changes to APIs (and triggers recompilation) based on class/method signatures as viewed at pickling phase. Pickling phase represents signatures before erasure. That means, if you have:

[code]

and you change `class A` to be a value class the signature of method `foo` won't change. It will be still `foo: A`. Howe

[2014-03-11 23:44] gkossakowski commented on #1171
This is definitively 0.13.3 material.

[2014-03-12 07:46] sksamuel opened #1175 "Improve error message when trying to compile sbt plugins against different scala binary versions than sbt supports."
I am using this build.sbt file and I get the good old `class Universe does not have a member Quasiquote` error when building for 2.11. If I remove the sbtPlugin := true line then it all works fine. I've stripped the actual plugin class down to nothing but an empty class file and the error still persists.

[code]

[code]

[2014-03-12 08:15] patriknw opened #1176 "publishM2 in sbt 0.13.2-M3 doesn't publish all artifacts in akka"
Changed behavior compared to 0.13.2-M2 and 0.13.1.

Try 0.13.2-M3 in this pull request: https://github.com/akka/akka/pull/2060

[code]

Expected is that all sub-projects are published.

[2014-03-12 13:31] jsuereth commented on #1175
You can't build sbt plugins against Scala versions which are not compatible with the `sbt` version you're building.  That means no Scala 2.11 until sbt 1.0, Sorry.

Going to leave this open as an enhancement to improve that error message :)

[2014-03-12 13:33] sksamuel commented on #1175
Is 1.0 planned for release at same time as 2.11 ?
On 12 Mar 2014 13:31, "Josh Suereth" notifications@github.com wrote:

[2014-03-12 13:35] jsuereth commented on #1175
No.  End of this year.  I believe @xeno-by has some compatibility things for 2.11 vs. 2.10 macros that might let you get what you need....

[2014-03-12 13:43] jsuereth commented on #1152
Yeah, i think this may take a good concerted effort to clean that aspect up.  Going to put this in 0.13.3 so I can give it my full attention.

[2014-03-12 13:43] jsuereth commented on #1152
(that is assumign you have a workaround)

[2014-03-12 13:44] sksamuel commented on #1175
Maybe I'm confused. I have a plugin for sbt that I'd like to use with 2.11.
Sbt obviously compiles 2.11 as I've done that. Does my plugin just need to
stay as 2.10 and its all good ?
On 12 Mar 2014 13:35, "Josh Suereth" notifications@github.com wrote:

[2014-03-12 14:06] jsuereth commented on #1175
Yes.  At runtime, sbt is using Scala 2.10.x.  If you're creating an sbt plugin, you have to stick with 2.10.x binary compatible libraries.

Sbt can compile any project, but any project that relies on a 2.10.x artifact is stuck on 2.10.x.  This mean sbt plugin (for sbt 0.13) need to use 2.10.x.

[2014-03-12 14:07] xeno-by commented on #1175
The compat trick decribed in http://docs.scala-lang.org/overviews/macros/changelog211.html#how_to_make_your_210x_macros_work_in_2110 is solely about source compatibility, not binary compatibility.

[2014-03-12 14:08] sksamuel commented on #1175
Ok I see. The plugin doesn't need anything from 2.11 just needs to work
with projects that want to use 2.11. So I think there's actually nothing I
need to do.
On 12 Mar 2014 14:06, "Josh Suereth" notifications@github.com wrote:

[2014-03-12 14:11] #1176 closed, assigned to nobody

[2014-03-12 14:12] jsuereth commented on #1175
Yep, you should be good.

[2014-03-12 14:49] mighdoll commented on #1152
Yes, I think the workaround works.  Explicitly excluding plugin
dependencies that conflict with those needed by sbt should work for anyone
who has this problem.

It's just hard for a user to know they have a plugin dependency conflict,
but adding the warning for 13.3 will solve that.

On Wed, Mar 12, 2014 at 6:43 AM, Josh Suereth notifications@github.comwrote:

[2014-03-12 14:53] jsuereth commented on #1152
Yeah, if I'm lucky, we'll even be able to resolve the conflict correctly in Ivy.  It's just a bit too big for 0.13.2 right now, which is in "regression-only" fix mode before RC1.

[2014-03-12 17:11] dragos opened #1178 "Incremental compiler should always run the java compiler"
In _mixed_ mode, if there are Scala errors issued by the **Java** parser in `scalac`, java sources are not recompiled. This can lead to very confusing behavior in the IDE, where there's no bytecode generated, but no error messages.

Because the Java parser in Scala is not 100% compatible with Java, the Eclipse IDE won't show errors in Java sources when they are reported by scalac (for example, see

[2014-03-12 18:53] jpsacha opened #1180 "run command should display detected main classes in package order"
When you issue `run` command from `sbt` prompt and you have more than one main class, you will get a numbered list to select class to run. That list s not ordered in any meaningful way. With large number of main classes is quite difficult to find one you need. They should be listed in alphabetical order by package.

[2014-03-12 19:21] paulp opened #1181 "errors found in build.sbt are reported with no position (java.lang.ArrayIndexOutOfBoundsException: -1)"
This build.sbt:

[code]

Will crash sbt with no indication whatsoever what happened, where or why. (My real one is more than one line.) The expression is valid scala.

[code]

The "full log", or at least it is so implied:

[code]

If the implied empty param list is given, it compiles.

[code]

[2014-03-12 19:28] jsuereth commented on #1181
Go Go Macro fun!

Thanks for the report.

[2014-03-12 20:17] som-snytt commented on #1181
If sbt supplied parens, the message would read:

[code]

[2014-03-12 20:18] jsuereth commented on #1181
@som-snytt Sounds like a good April 1 feature request.

[2014-03-12 20:35] Grundlefleck commented on #1117
I get this same problem too. Using sbt-extras to switch between versions:

[code]

I don't really know what information is useful for debugging, but I'm eager to supply whatever will help. I've tried clearing .ivy2 and .sbt directories but no joy, so dropping back to 0.13.0 for now. Curiously my colleagues haven't suffered this problem on 0.13.1, so we'll have to dig deeper to discover if there ar

[2014-03-12 20:42] jsuereth commented on #1117
how many are using sbt-extras _AND_ did they hit a 0.13.1 project before 0.13.0?   It's actually not something we test whether or not you can freely _downgrade_ the launcher and have the cache continue to work (although upgrading should be safe).

I've seen lots of unexplained issues with sbt-extras, but I'd love to nail this one down.

[2014-03-12 20:57] Grundlefleck commented on #1117
At least one, me. I can't ask the others at the moment, it's after EOD here in the UK, though I can ask tomorrow.

On the same machine I have a Play! installation which uses sbt 0.11.3. Not sure if that's relevant.

Is there anything you'd like me to try and provide results of?

[2014-03-13 01:09] cunei commented on #1181
I tried to reproduce, but did not get the same error. Are there any other files involved? My session is:

[code]

Using the lazy val does what is expected (prints a blank line). The result was the same with 0.13.2-M3 and 0.13.1.

[2014-03-13 03:47] paulp commented on #1181
Sorry, I blew the minimization.

[code]

And

[code]

Crashes with both those versions.

[2014-03-13 03:50] paulp commented on #1181
Oh I see what happened. THIS is enough to reproduce it:

[code]

At the last minute I added the "scala." to Console so as to make it valid code (as by default that's sbt's Console) but the crash actually depends on the conversion which doesn't take place with scala.Console.println.

[2014-03-13 04:53] paulp commented on #1181
Or even more plausibly, this alone is enough:

[code]

[2014-03-13 13:42] jsuereth commented on #1117
If you can reproduce the issue not using sbt-extras, that'd be helpful.  If it only shows up in sbt-extras, I'd open the issue there.

The error you're seeing is here:  https://github.com/sbt/sbt/blob/0.13/launch/src/main/scala/xsbt/boot/Launch.scala#L220

It's indicative of two things:
1. Your sbt.boot.properties is hosed, and misconfigured
2. The "retreiveApp" (pulling from ivy) is not accuratel

[2014-03-13 14:21] Grundlefleck commented on #1117
Ah, so I think what may be happening is that sbt is not resolving _any_ sbt.boot.properties file. I installed a fresh sbt 0.13.1 from the deb and got the same error. In the process of trying to figure this out, I removed `~/.sbt`  so I'm afraid I don't know if it was the original cause.

Neither `-v` or `-d` explicitly say they couldn't find `sbt.boot.properties` so that's a guess on my part. A fr

[2014-03-13 14:29] choedl commented on #1117
If you mean my properties file: sbt.ivy.home is set in the sbt start script.
And by the way: I'm not using sbt-extras (although it looks interesting, I must admit).

Just in case it is of interest, this is my sbt start script (I'm using it for cygwin):

[code]

[2014-03-13 15:42] cunei commented on #1181
Thanks, this was working ok in 0.13.0. The regression occurred between 0.13.1-20130925-062608 (working) and 0.13.1-20130926-062536 (broken).

[2014-03-13 16:28] jsuereth commented on #1117
Why the quote around `sbt.boot.properties` in JAVA_OPTS?

I think that maybe part of the issue here.

[2014-03-13 16:35] cunei commented on #1180
Thanks for the report! Note that the selection of the main method can be easily customized by using the settings `mainClass`, `discoveredMainClasses`, and `selectMainClass` (which depends on the first two). The default definition is:

[code]

where `selectRunMain()` is an internal method, but you can redefine it as needed.
 --
As an sbt enhancement, this can be implemented by adding a sort to the

[2014-03-14 08:26] choedl commented on #1117
Unfortunately, it isn't. After removing the quotes, behaviour stays the same.

[2014-03-14 12:18] jsuereth commented on #1117
hmm... I'll have to pull out a windows box to try this out.  Could be something odd about the platform. I'm still unable to reproduce locally.

If you run the sbt launcher without the custom boot properties does it work?

[2014-03-14 12:48] choedl commented on #1117
No, same behaviour.

[2014-03-14 15:27] axel22 commented on #1152
For the record, I recently had a similar issue - got bitten by the sbt plugin I was using that had a ScalaTest 1.9.1 dependency and was putting scala-reflect-2.10.0 on the classpath.

Bumping up the ScalaTest version to 2.1.0 solved the issue.

[2014-03-16 13:47] gkossakowski opened #1184 "ClassfileManager crashes when name hashing is enabled"
@aloiscochard reported on sbt-dev a crash in ClassfileManager when name hashing is enabled:

[code]

The full compilation log is available here: http://pastie.org/8916318

Unfortunately, we don't log activity of ClassfileManager so it's hard to tell why the class file is missing. Also, we do not log the name of the class the ClassfileManager tried to restore. It's hard to tell whether it was the l

[2014-03-16 23:48] Duhemm commented on #1142
Hi Greg,

Can you confirm that [the test I wrote](https://github.com/Duhemm/sbt/commit/3fcf91709d01ac2b713c2af38a1609e56c88336c) is relevant to this problem ?

Are you sure that fixing the API visitor should be enough ? I've been able to fix it so that a class that do not explicitly define a macro is not considered as having a macro (just like `Client` in my test), but unfortunately this doesn't s

[2014-03-17 01:09] gkossakowski commented on #1142
The test looks pretty close but you need a bit more involved structure and changes to other file. Let me demonstrate with an example. Let's say we have the following dependencies

[code]

The issue described in this ticket is that a whitespace change to _Client_ will cause recompilation of _Foo_ because incremental compiler will pessimistically assume that the macro implementation in Client has ch

[2014-03-17 10:55] japgolly opened #1185 "Be silent when there are no tests to run"
In a multi-module project, when I run `test` in the root which aggregates everything else, I want to be able to hide all the noise about modules without tests.

This is the kind of noise I want to opt-out of.

[code]

I think a normal scoped setting would be enough. Does that sound good? Should I start writing a patch?

[2014-03-17 11:59] aloiscochard opened #1186 "Publishing don't work with 0.13.2-M3"
If you remove that commit from this branch:
https://github.com/drjuma/drscala/commit/964fa8adef3a5920c368dfa12cfb04faa7a81df2

SBT does not publish the artifact (but return no error)... I had to downgrade... but with 0.13.1 the command `last` don't work.

Do you guys actually have some form of regression testing?

Such regression in critical part like publishing and exception report is somewhat em

[2014-03-17 12:02] jsuereth commented on #1186
This is a duplicate, fixed in master.

[2014-03-17 12:44] jsuereth commented on #1186
Duplicate of #1156

Turns out our tests for publishing weren't catching this particular regression.  There was a specific mechanism of defining builds which caused it and our ivy tests do not use it.

If you wish to contribute more tests to the regression suite, please do.  This type of bug is a blocker for a release.  If you can try the nightly, and let us know of things are working, please do.

[2014-03-17 12:44] #1186 closed, assigned to nobody

[2014-03-17 14:31] dansanduleac commented on #1131
#1166 fixed this as well. Thanks!

[2014-03-17 14:31] #1131 closed, assigned to nobody

[2014-03-17 14:54] retronym commented on #1131
Thanks for letting us know!

[2014-03-17 17:23] aloiscochard commented on #1186
Good to hear there is actually tests for that.
I gave the nightly a try and it work fine (I should have try before reporting...).

But when it comes to tests... I'm afraid I'll never spent time writing SBT tests on my spare time, I'm happy to isolate and report bugs though...

But even during work hours writing tests is such a torment, that there is no such I spent my free time on it :-)

[2014-03-17 17:27] jsuereth commented on #1186
Our tests are just mininal sbt projects.  Those are more than fine.

Sorry the issue hit you.  Given the significant features in 0.13.2 I'm
worried about squashing all regressions that may have popped up.

There's a few codepaths that aren't hit in our regression suite that I
missed.  If see more, please report.

[2014-03-18 02:55] savulchik opened #1187 "Add configuration to fail a task execution if triggered task fails"
Having the following build definition file and `sbt 0.13.1`:

[code]

When I execute the `foo` task the exception thrown by the triggered `bar` task isn't reported:

[code]

Instead when I directly execute the `bar` task the exception in reported as expected:

[code]

Previously the question regarding this issue was asked at [StackOverflow](http://stackoverflow.com/questions/22350336/why-does-the-

[2014-03-18 04:42] huntc opened #1188 "sbt-0.13.2-M3 AutoImport of settings"
It appears that extending AutoPlugin doesn't automatically bring in AutoImport and thus settings have to be imported explicitly.

[2014-03-18 16:08] k4sbasia commented on #1187
any chance that this can be related to - https://github.com/sbt/sbt-release/issues/55

[2014-03-18 17:14] dansanduleac opened #1191 "CustomPomParser produces unparseable ivy descriptor"
_Edit: the issue lies differently than where I initially thought, so I explanded below to explain._

CustomPomParser adds this tag named `sbtTransformHash` in the `<info>` of ivy descriptors that are imported from a POM.
This seems to work fine when the imported ivy is in the ivy cache, but if I:
- `ivy.install` it to some ivy repository, say "local"
- do a `resolver.getDependency` on the module a

[2014-03-18 17:53] OlegYch commented on #466
was this fixed?
i'm experincing something similar
i.e. when i add a private val to a trait which is mixed in some class i get AME from constructor of that class

[2014-03-18 18:20] Blaisorblade commented on #466
I think this isn't fixed — I've run into it today as of 0.13.1 (even though by now the API is extracted after pickler, which runs after superaccessors, so there must be some other issue at hand).
But what you describe sounds different (to me), because this issue was up to now specifically about super accessors. Can you post a reduced example?
(Maybe the issue is in fact about the addition of synth

[2014-03-18 22:36] matiwinnetou commented on #887
Are there any workaround for this now? I ran into this issue after being ignited with Java 8 support in Play. https://typesafe.com/blog/go-reactive-with-java-8

And then a cold shower...

[2014-03-18 22:53] gkossakowski commented on #887
Is running play/sbt with Java 8 an option for you? That will allow you to compile with Java 8 without problem.

[2014-03-18 22:55] matiwinnetou commented on #887
This is what I thought I was running... i updated java home to be java 8 so thought sbt would pick this...

[2014-03-18 22:59] matiwinnetou commented on #887
is there anything else one needs to do to make sure sbt runs in java 8?

[2014-03-18 23:08] matiwinnetou commented on #887
Ok, i need to do more tests, I think the issue was caused by using sbt 0.13.0 instead of 0.13.1. I updated project/build.properties I more seems to work now. Will test this more tomorrow.

[2014-03-19 00:10] OlegYch commented on #466
i'm not able to minimize it
here is the essence of my code https://github.com/OlegYch/sbt-test/tree/466
when you do testIncrementalCompile in that project it will add a private field to a trait
as a result sbt recompiles only the modified file
this causes AME in my real project, but not in the minimized one
not sure why...

[2014-03-19 00:18] OlegYch commented on #466
uh well, i misinterpreted the output, it does recompile both files in minimized project so no AME in it, but somehow it doesn't in my project

[2014-03-19 00:24] OlegYch commented on #466
and it's 100% reproducible, even after clean and subsequent incremental recompilation

[2014-03-19 08:43] q42jaap commented on #895
I don't know how this has been fixed, but for me sbt 0.13 doesn't seem to be working with `git://` addresses, so I changed it to ssh://
Also, the workaround code creates the full directory for which my git executable refuses to clone, so I'm posting it here as a reference, maybe it helps somebody:

[code]

[2014-03-19 13:56] Blaisorblade commented on #466
That's cool, you certainly now more about SBT than me. But the project you linked is the one after minimization, and I guess the non-minimized source is not public, is it?

How did you proceed in minimizing?
I suspect you just recreated what you guessed was required to reproduce the bug, which is often sensible, but not here. From my experience with Scalac (which is relevant here), triggering the

[2014-03-19 14:54] Blaisorblade opened #1193 "Support micro-libraries via source dependencies"
Git source dependencies could be a great feature for small-cost deployment of small libraries. But this requires quite some work, first of all in fixing bugs like #1120 or #895. Since @jsuereth there asks about use cases, I decided to write about what I imagined.

Imagine that you have essentially a gist, but you imagine people using it _without_ copy-pasting it. Now imagine you could just add **o

[2014-03-19 15:35] gkossakowski commented on #466
Guys, could you give name hashing a try? Amongst other things, it has improved logging of incremental compiler activity.

Also, if you want to understand why recompilation is/isn't triggered I recommend checking api-diff, see: http://www.scala-sbt.org/release/docs/Detailed-Topics/Understanding-incremental-recompilation.html#debugging-an-interface-representation

[2014-03-19 15:48] Blaisorblade commented on #895
Thanks!

I got extremely confused by that, but it seems your code does the opposite thing. And indeed, [SBT's handling](https://github.com/sbt/sbt/blob/0.13/main/src/main/scala/sbt/RetrieveUnit.scala) does not handle ssh: URLs. But should it? I see why Git can assume that SSH URLs are Git-related, but arguably SBT can't.
However, we could make this clause:

[code]

also strip the ssh:// prefix, an

[2014-03-19 16:36] eed3si9n commented on #1188
Plugins not bringing all the names in I think is a good thing.

### current best practice guide

But we should standardize on the treatment of keys, but The current [Plugins Best Practices](http://www.scala-sbt.org/release/docs/Extending/Plugins-Best-Practices.html) says:

### second object

I generally tend to use nested object as namespace like [`AssemblyKeys`](https://github.com/sbt/sbt-assembl

[2014-03-19 17:56] OlegYch commented on #466
@gkossakowski 'last compile' is empty for some reason

[2014-03-19 18:37] gkossakowski commented on #466
Which version are you testing? There was an issue with "last" command: https://groups.google.com/d/msg/sbt-dev/KmGEhFTMve0/HWCJmoK_OCAJ

It was fixed in nightly build of sbt. Instead of using `last` command you can just set different debugging level for compile command:

[code]

All debugging logs will be printed to the console.

[2014-03-19 22:33] OlegYch commented on #466
here is the log https://gist.github.com/OlegYch/082b44af83449fb076a8
i'm using M2 atm because M3 breaks native-packager, but the issue persists in M3, and 0.13.1

[2014-03-19 22:36] OlegYch commented on #466
curiously, when i perform compile after changed sources where  just compiled the log output is the same

[2014-03-19 23:21] Blaisorblade commented on #466
The debugging output looks broken in multiple ways, but the debugging feature seems to work well on the minimized (and non-bug-inducing) project.

The log seems indeed the same, including the `with java.lang.this#Objectwith scala.this#Any` part.
Is it my impression or the "old" side of the diff is rather corrupted?

Also, why does the new code seem to contain "recursive inheritance" (types inherit

[2014-03-20 00:35] sandreev commented on #777
Hi,

I can reproduce the issue with sbt 0.13.1 if I specify the testGrouping in Test:

testGrouping in Test <<= ....

I have checked the relevant lines in Tests.scala but was not able to find them in the foldTasks method.

Might be a regression, could you please backport the fix to sbt 0.13?

[2014-03-20 03:35] huntc commented on #1188
Why not just:

[code]

The above is also compatible with our existing guidelines and plugin usage. It is also just a small migration for most plugins.

[2014-03-20 03:38] eed3si9n commented on #1188
@huntc To avoid namespace clashes. The purpose of wrapping in `AssemblyKeys` was to avoid prefix "assembly" in front of all keys in the Scala variable name. If `AssemblyKeys` automatically imports `jarName` the protection is gone.

[2014-03-20 03:45] huntc commented on #1188
Ah yes of course. So back to this:

[code]

...which is the equivalent of today. If people want finer grained control then they can use your `object Import` approach.

[2014-03-20 03:47] huntc commented on #1188
I'm concerned here about backward compatibility

[2014-03-20 04:19] eed3si9n commented on #1188
To maintain the perfect BC for both `build.sbt` and `build.sbt` mixing in `sbt.AutoImport` into `sbtassembly.Plugin` would essentially achieve the old behavior. And no changes needed to 0.13.2 code.

However, we should come up with a recommended handling of keys with 0.13.2, and "mix `sbt.AutoImport` in" I don't think is the best practice since it undoes what it achieved, which is not spew out all

[2014-03-20 04:31] huntc commented on #1188
I quite like having the key declarations as part of the plugin as it associates things nicely. Perhaps that is just a habit I've also got into, but I'm thinking that it would be nice to preserve as a convention going forward.

Would it be possible to have something like this:

[code]

where autoImport accepts a sequence of things to import, and then instead of the statement implying `import Assemb

[2014-03-20 04:41] eed3si9n commented on #1188
That could be tricky, since now I need to know the full path of all the references you list in there, including something like `1 :: Nil`. With `import Plugin.autoImport._` the name is always stable.

[2014-03-20 05:35] huntc commented on #1188
OK, then I guess what you suggest i.e.:

[code]

...at least the things to import are still declared in the same file as the plugin itself.

Just one potentially crazy idea:

[code]

Thus anything declared for the package object would be imported by importing `sbtassembly._` right?

[2014-03-20 09:18] dansanduleac opened #1194 "ThisProject resolves to incorrect scope"
## steps

**build.sbt**

[code]

**proj2/build.sbt**

[code]

[code]
## problem

The root project's name is set to "boo." In other words, when I use `ThisProject` as a scope for settings in a subproject, the settings get set on the root project instead.
## expectation

The root project's name remain as "proj1", and proj2's name is set to "boo."

[2014-03-20 17:02] eed3si9n commented on #1194
I reproduced it using 0.13.0 and 0.13.1, so it's not a regression.

[code]

We might have to wait for 0.13.3 to get this fixed.

[2014-03-20 20:55] Duhemm commented on #1142
Thank you, this is much clearer ! Is [this test](https://github.com/Duhemm/sbt/commit/7db9979da71f1df3f62fdc7f032938593642a444) aiming at the right issue ?

[2014-03-21 00:39] sandreev opened #1196 "SBT throws an exception instead of info message if project override testGrouping in Test and contains no tests."
The same problem as in #777 if project override testGrouping in Test

sbt 0.13.1

The check if the results sequence is empty in foldTasks method (Tests.scala) is missing on the 0.13.x

[code]

[2014-03-21 03:40] chenweiyj opened #1199 "How does sbt check the source file modification?"
I just wonder how does sbt check whether a source file is modified when does the compilation. By checking the modification timestamp on the file system or any diff tool? I cannot find anything generated by sbt to record the last state of a file. Thanks.

[2014-03-21 03:44] eed3si9n commented on #1199
Hi @chenweiyj GitHub issues are used mostly to track bugs and tasks. Please open a question on StackOverflow for general questions. You might also want to check out zinc, which is responsible for incremental compilation.
- http://www.scala-sbt.org/release/docs/faq#how-do-i-get-help
- https://github.com/typesafehub/zinc

[2014-03-21 03:44] #1199 closed, assigned to nobody

[2014-03-21 15:39] gkossakowski commented on #1142
Yes, the test looks good now. It would be great if you could restructure your commits to be in the following order:
- add the test as `pending` (rename `test` file to `pending`) which documents current behavior described in this ticket.
- implement your fix that overrides `visitStructure0` _and_ mark previously added test as passing by renaming `pending` to `test` file

This way we clearly will se

[2014-03-21 16:48] eed3si9n opened #1200 "shell should display all evicted libraries on start up"
This is inspired by [In SBT 0.13, does scalaVersion still control the version of scala used for compile, run and test?](http://stackoverflow.com/questions/22551430/), [sbt-lock](https://github.com/tkawachi/sbt-lock), and nescala talks around efforts in the field to control the deps pulled in by Ivy.
## problems

Currently the build user is at the mercy of conflict management by Ivy. So when it evi

[2014-03-21 17:02] eed3si9n opened #1201 "provide some means of forcing scala-library version to scalaVersion"
Similar to #1200, this is inspired by [In SBT 0.13, does scalaVersion still control the version of scala used for compile, run and test?](http://stackoverflow.com/questions/22551430/).
## problem

sbt 0.13.0 treats scala-library as a normal library, which means it's at the mercy of Ivy eviction policy. For example:

[code]

In the linked StackOverflow question, `scalaVersion` was evicted and `full

[2014-03-24 04:00] erikkaplun commented on #1087
@dansanduleac: the workaround doesn't seem to be working for me; I'm getting:

[code]

What I did was put this in my `build.sbt`:

[code]

Without the first line, there was no error, but `clean` still wiped out the resolution-cache.

[2014-03-24 04:37] ezh opened #1208 "Hard coded StreamsDirectory location in BuildStreams"
Streams in SBT 0.13 contain ivy cache with resolution results, but sometime it is useful to move them somewhere. Right now it is hard coded with `target/streams` in `def refTarget` of `object BuildStreams`.

http://stackoverflow.com/questions/17190755/why-sbt-runs-dependency-resolution-every-time-after-clean/17207597

It would be nice to allow specify directory location via something like startup

[2014-03-24 05:01] ezh commented on #1208
For example

[code]

so someone could assign relative value `../streams`

[2014-03-24 17:11] dansanduleac commented on #1194
Ow :(

[2014-03-24 20:13] jsuereth commented on #1208
cc @eed3si9n Targetting for 0.13.5

[2014-03-24 20:18] jsuereth commented on #1196
This fix looks good.  Did you issue a PR with it?

[2014-03-24 20:19] #1196 closed, assigned to nobody

[2014-03-25 03:12] jpringle commented on #1201
In many cases the "other" scala libraries tag along (e.g. specs2 expresses dependencies on scala-reflect, scala-library and scala-compiler).  Presumably bad things would happen if the versions of these libraries diverged, so a simple mechanism to force all to the value specified by scalaVersion would be welcomed.

[2014-03-25 03:17] #1188 closed, assigned to eed3si9n

[2014-03-25 10:17] q42jaap commented on #895
I couldn't get git:// to work, so I had to use ssh://

The git command is executed with ssh:// which works for me.

[2014-03-25 11:49] sander24 opened #1209 "Provide a mechanisms to log all tasks as they are run with a simple setting enablement."
There are a bunch of things that play all together and produce a total effect of SBT builds being VERY hard to debug for a beginner (and probably also for intermediate) user. If you want your tool to gain more popularity, this certainly needs to be addressed.

One of the obvious things that would be easy but important to improve is how SBT prints what it is actually doing.

1) My personal opinion

[2014-03-25 12:22] sander24 opened #1210 "[SBT 0.13.1] Problems with releaseTask due to Extracted.runAggregated"
_(Sorry, wanted to file this under sbt-release actually. But it could have to do with SBT core as well I guess.. maybe somebody can comment. Thanks.)_

While trying to customize my release process, I stumbled upon something that looks like bug.. either in SBT core or in the sbt-release plugin. (Could of course be some sort of a configuration issue.)

Anyway, sbt-release uses this helper function t

[2014-03-26 06:35] huntc opened #1213 "Circumventing the common declaration of addPlugins"
Given the proposed AutoPlugin mechanism where plugins are required to be added, it'd be nice to have a short cut to the following common expressions in build.sbt:

[code]

For example, if the project is a single module then may be sbt's processing of build.sbt can be magical and automatically perform the above. Why else would you call `addSbtPlugin` from `plugins.sbt` if your single module project

[2014-03-26 13:22] ghost opened #1214 "Nashorn script engine not found when running under sbt"
Hi,
I have previously created an issue at Play project but it seems to be more sbt related.
The issue is the following.
I have just upgraded to Java 8 and I want to use Nashorn. Simply put, I have two projects, one scala lib and a play project to have a GUI.

I haven't seen the issue straight away because the scala lib uses maven but when I try to load nashorn after running play with sbt -> run, t

[2014-03-26 13:24] jsuereth commented on #1214
Does this work if you fork your tests?  `fork in Test := true` ?

[2014-03-26 13:26] ghost commented on #1214
wow nice one!
Yes it does work. could you explain please? How can I make it so it will work for my play project as well ?

[2014-03-26 14:30] jsuereth commented on #1209
The `runTask` methods are actually quite low-level APIs that don't log commands.

If you want the ability to log which command is running, you should, instead, be logging commands.

[code]

This _would_ log the command.

I think perhaps what you want is one of two things:
1.  The sbt-release plugin to include some kind of logging/debugging of which release steps are running (including names for th

[2014-03-26 14:33] jsuereth commented on #1214
Looks like some kind of classloader issue.   Do you know how `manager.getEngineByName("nashorn")` is looking for its classes?  You may need to give it `this.getClass.getClassLoader` so it's using the right reflection.

This is because sbt is loading your play application in a classloader directly with the build.  Allows it to communicate back/forth with play directly, rather than over some process

[2014-03-26 15:06] ghost commented on #1214
It seems to work for the simple scala test.
But it doesn't seem to work for Play.
I looked at the code and this is the classloader it uses:

[code]

this.getClass.getClassLoader does not seem to work for my case in Play.

[2014-03-26 15:08] ghost commented on #1214
What I don't understand is why the Build classloader does not have the classes for nashorn loaded.

[2014-03-26 15:15] jsuereth commented on #1214
I don't either.  ANd context classloader may be null. I'm not sure if that's correctly set.  When using play with sbt launchers, I tend to manually set that sucker, e.g:

https://github.com/typesafehub/activator/blob/master/ui/app/activator/UIMain.scala#L110

[2014-03-26 15:24] ghost commented on #1214
but then I don't know which classloader should I use? Which classloader do you use usually ?

[2014-03-26 16:08] jsuereth commented on #1214
In that case the one that has play on it....

[2014-03-26 16:16] numerodix opened #1216 "docs: code samples are hard to read"
Whenever I view pages on http://www.scala-sbt.org/ I find myself zooming in because the font in the code samples is both small and so light it contrasts poorly against the background. The same goes for "code formatted" inline strings (as opposed to blockquotes).

[2014-03-26 16:23] eed3si9n commented on #1216
+1 on improving the contrast.
What do you think about white background + GitHub-like formatting like I'm doing with my pamflet docs? - http://eed3si9n.com/tetrix-in-scala/akka.html

[2014-03-26 16:30] ghost commented on #1214
So this is why you use the NettyServer one is that it? Let me try and I let you know. Thank you very much !

[2014-03-26 17:25] numerodix commented on #1216
Your page is nice and readable and I think this would be a big improvement
over the current style.

2014-03-26 17:23 GMT+01:00 eugene yokota notifications@github.com:

[2014-03-26 18:09] jsuereth commented on #1187
Hmm, this may be by design.   probably up for discussion on how this should behave (cc @eed3si9n )

[2014-03-26 18:14] tutufool commented on #413
To harrah:

I'd suggest you to try to add a module with about 10 dependencies and copy this module for 99 times

When you try to run update from the root, those "exactly the same" 100 modules will take a long time.

From my understanding, running update at the root level should be something like open a session which is stateful. It should be able to remember/cache something when processing modules

[2014-03-26 18:18] jsuereth commented on #413
Right now we aren't sharing the in-memory cache between projects. I have an experimental branch which does this, but haven't evaluated the improvement yet:  https://github.com/sbt/sbt/tree/wip/shared-memory-cache-ivy

Feel free to try that branch out and see if you notice a speed up.   Most likely, stabilizing that branch will loose some of the speed up, but I'm curious if you notice anything.

My

[2014-03-26 19:39] jsuereth commented on #1193
I feel like this, maybe, should be some kind of plugin where you can point at gists and locally cache them / wire into the build with `sourceGenerators`.

I'm not positive the source-level URI-dependency is the right feature given the things you mention.  We also may be taking source-dependencies a different direction (i.e. "Dependency" could be binary or source, where you can dynamically flip bet

[2014-03-26 20:27] ghost commented on #1214
Ok so the issue is resolved if I pass "null" as a parameter. If someone could explain this to me it would be very nice! Also I will let this open as it is still an issue in my opinion.

[2014-03-26 20:32] jsuereth commented on #1214
I think "null" means you either use the boot classpath or the system classpath (the one you pass to the `java` executable).

This kind of wonkyness is actually common in classloader land. Lots of assumption about usage that differ across every project.   I think perhaps you may want to follow this up with the nashorn folks about how they WANT you to use them inside a classloader.

[2014-03-26 21:31] ghost commented on #1214
if you pass the classloader as null, it uses another method to load the factories

[code]

But I still have issues as it cannot find another class now. I have this classloading thing ...

[2014-03-27 01:12] tutufool commented on #413
Hi, Josh

I'm very new to sbt, could you give some instructions/wikis on how to build a sbt deliverable for your branch wip/shared-memory-cache-ivy, so I can give it a try.

Thanks

[2014-03-27 02:21] tutufool commented on #413
Btw, from my observation, the bottleneck is org.apache.ivy.core.resolve.ResolveData.mediate

I saw debug messages like below: (exactly match)

dependency descriptor has been mediated: dependency: log4j#log4j;1.2.17 {compile=[compile(_), master(_)], runtime=[runtime(_)]} => dependency: log4j#log4j;1.2.13 {compile=[compile(_), master(_)], runtime=[runtime(_)]}

For over 11000 times in my update log.

[2014-03-27 07:54] huntc opened #1217 "Plugins with autoImport require an explicit import themselves"
When using the new autoImport feature, the encapsulating plugin doesn't get imported also. For example:

[code]

The `WebKeys` become available for importing, but the `SbtWeb` plugin itself still requires an explicit import.

[2014-03-27 12:25] jsuereth commented on #1217
Not sure you saw, but @eed3si9n caught this when he was writing the docs for 0.13.5.   Should be fixed before final.

[2014-03-27 13:54] sslavic opened #1218 "Log unauthorized repo access error on warning level"
Currently (sbt 0.13.2-RC1), when a repository which requires authorization is used to resolve dependencies, but credentials are not configured for that repository, sbt will just log on warning level that a repository has been tried, that dependency could not be resolved, and build will fail. Only when turning on debug logging level one can see that there was authorization problem with message like

[2014-03-27 16:05] OlegYch opened #1219 "can't override isChanging for SNAPSHOT dependencies"
some dependencies are not actually snapshots, even though they have SNAPSHOT in their name
e.g. http://repo.typesafe.com/typesafe/simple/maven-snapshots/com/typesafe/play/play_2.10/
i reported this at
https://github.com/playframework/playframework/issues/2553
and tried to workaround with

[code]

but this doesn't seem to work (using sbt 0.13.2-M2, can't update atm because of https://github.com/sbt

[2014-03-27 17:52] jsuereth commented on #413
I'm not sure. The cache fix I have is for the descriptor, but I think
perhaps the wrong one.   That's some really good information for us to dig
into though, thanks.

For using sbt locally:

Checkout that branch:

sbt> publishLocal

Then in your project/build.properties, set the version to 0.13.2-SNAPSHOT
(or whatever you just pushed).   Note: You'll have to clean your
~/.sbt/boot directory every

[2014-03-27 18:52] huntc commented on #1217
Thanks. Yep, just capturing here to ensure that it doesn't get lost. :-)

[2014-03-27 21:38] #1217 closed, assigned to nobody

[2014-03-27 21:48] jsuereth commented on #1218
hmm, this shouldn't the case, I think.  Thanks for reporting.

[2014-03-27 21:49] jsuereth commented on #1218
i.e. we just added notifications on authentication failures....

Can you show me the full update output?

[2014-03-27 22:19] huntc commented on #1217
Awesome. Thanks! Do you have a nightly or build release available?

[2014-03-27 22:22] eed3si9n commented on #1217
We should cut M2 soon.

[2014-03-27 22:25] huntc commented on #1217
Great. However I thought you'd be using sbt-git to publish to bintray by now. ;-)

[2014-03-27 22:50] jsuereth commented on #1217
Not yet :).  Can't wait to migrate at some point.

Nightlies fire around 11pm EDT IIRC.

[2014-03-27 23:40] eed3si9n opened #1220 "1.1"

[2014-03-27 23:40] #1220 closed, assigned to nobody

[2014-03-27 23:43] eed3si9n commented on #1213
We want to do this, but it's actually pretty hard to do this safely. Ideally we should have a read-only reference to the `rootProject` since sbt always supplies one. For now we are punting it to the future.

[2014-03-27 23:48] huntc commented on #1213
OK, but can we please at least have `project.current`? `.in(file("."))` is damn ugly and often repeated.

[2014-03-28 00:29] jsuereth commented on #1213
it's not true that sbt always supplies one.   `project.current` implies things we couldn't support.

e.g. in a project build structure:

[code]

project.current _should_ refer to the local directory of the .sbt file.   However, we don't have a safe way to do that.

Adding a `rootPlugin` method is possible, but leads to issues if someone re-uses that method more than once.

What about a `project.in

[2014-03-28 00:44] jsuereth commented on #1185
Yeah, feel to write a patch.  Would love to have this for 0.13.5.  we're planning another milestone of it shortly, and an RC in a few weeks.

[2014-03-28 00:45] jsuereth commented on #1149
cc @eed3si9n When you feel this is done we should close it.  I think we're pretty close.

[2014-03-28 00:49] huntc commented on #1213
`project.in(cwd)` is a definite improvement. @jroper - what'd think?

[2014-03-28 02:09] eed3si9n commented on #1213
By the way, officially we're using dot notation or infix? I always write `(project in file(.))` following @jsuereth's [Coding in Style](https://docs.google.com/presentation/d/1o3MC401IwvKUkUp9ydAmgOeZY-Z1ATmWj2VPaOkvuts/pub#slide=id.g160bb986_0_20) talks.

[2014-03-28 02:13] huntc commented on #1213
Unsure about "officially"... There's nothing in our internal plugin coding guidelines. :-)

[2014-03-28 02:21] huntc commented on #1213
...but you're probably correct - I should use the `project in cwd` form. Thus:

[code]

... is that what you're recommending?

[2014-03-28 02:54] eed3si9n commented on #1213
To me `(project in file("."))` or `(project in cwd)` reads better.

[2014-03-28 11:33] alartin opened #1221 "sbt hang up for a day after installation"
Hi all,
I installed sbt-0.13.1 using homebrew on my Mac OS mavericks. I typed 'brew install sbt' and got a warning of it has been installed. The I create a simple project according to sbt website setup section. Then sbt showed loading sbt launch shell and tried to download sbt library files from maven repository. Then it was hung up for a day! Have you met this issue before? Or is there any log fi

[2014-03-28 11:59] OlegYch commented on #1219
even with 0.13.2-RC1 and clean cache i get
[error] Couldn't delete outdated artifact from cache: C:\Users\OlegYch.ivy2\cache\com.typesafe.play\sbt-link\jars\sbt-link-2.3-2014-03-27-2e87b7e-SNAPSHOT.jar

[2014-03-28 12:09] OlegYch commented on #1219
when i look into c:\Users\OlegYch.ivy2\cache\com.typesafe.play\sbt-link\ivy-2.3-2014-03-27-2e87b7e-SNAPSHOT.xml i see that "publication" changes every time!

[2014-03-28 13:06] jsuereth commented on #1221
Is it unable to download the files?   What did the terminal show?   If you kill and restart what happens?  Are you behind a proxy?  Does sbt have write privileges to your user directory?  Does your filesystem support locking?

[2014-03-28 13:11] jsuereth commented on #1218
Hmm, looks like the commit to fix this wasn't merged into 0.13.2.  Can you try 0.13.5-M2 and see if that fixes the issue?

Thanks!

[2014-03-28 13:34] sslavic commented on #1218
Yes, with 0.13.5-M2 it's much better:

[code]

Issue can be closed. Thanks!

[2014-03-28 13:47] jsuereth commented on #1218
cc @eed3si9n Do you think we should get that fix in 0.13.2-RC1?  It was intended for that I think the branch-shuffling killed it.

My current vote is that 0.13.5 will be out soon enough...

[2014-03-28 13:47] #1218 closed, assigned to nobody

[2014-03-28 13:50] eed3si9n commented on #1218
+1 for cherry picking 21da87c4e7df3904ab5dbdcd5d5bdfa53102e86f into 0.13.2 if that's considered a bug fix.

[2014-03-28 13:56] eed3si9n commented on #1218
If that's going to delay 0.13.2 for another two weeks by pushing the fix in, then @jsuereth could be right about waiting till 0.13.5.

[2014-03-28 13:58] alartin commented on #1221
Terminal:
Getting org.scala-sbt sbt 0.13.1 ...
downloading http://repo1.maven.org/maven2/org/scala-lang/scala-library/2.10.3/scala-library-2.10.3.jar ...
sbt can write to my user dir. If I kill the process and open a new terminal and run sbt, the msg is:
Waiting for lock on /Users/xxx/.sbt/boot/sbt.boot.lock to be available...
I tried to remove all lock files and restart the sbt, it was still hung

[2014-03-28 14:00] jsuereth commented on #1221
Yeah, this looks like the launcher is failing to resolve sbt itself.  Something in Ivy is freezing trying to grab that jar.

Can you run jstack on the hung process and dump it here?

[2014-03-28 14:01] jsuereth commented on #1218
Yeah, I'd rather not delay 0.13.2 further.  Let's just have the fix in 0.13.5

[2014-03-28 14:43] alartin commented on #1221
Yes:
2014-03-28 22:40:30
Full thread dump Java HotSpot(TM) 64-Bit Server VM (24.51-b03 mixed mode):

"Attach Listener" daemon prio=5 tid=0x00007fc8dd2c2000 nid=0x5a07 waiting on condition [0x0000000000000000]
   java.lang.Thread.State: RUNNABLE

"Service Thread" daemon prio=5 tid=0x00007fc8dd046000 nid=0x5303 runnable [0x0000000000000000]
   java.lang.Thread.State: RUNNABLE

"C2 CompilerThread1" d

[2014-03-28 15:00] sslavic commented on #1218
Not a blocker for me, so +1 for delay, and also +1 for more frequent minor releases.

[2014-03-28 15:17] jsuereth commented on #1221
Wow, I'm at a huge loss.  Somehow your download is locked by the file.

[2014-03-28 15:35] alartin commented on #1221
Similar issue in stackoverlfow:
http://stackoverflow.com/questions/17433403/my-ant-build-hangs-when-i-try-and-resolve-dependencies-using-ivy
Ivy doesn't have parameter to set timeout for dependencies resolver.
It seems something wrong with network speed.

[2014-03-28 21:05] jsuereth commented on #1221
The answer seems to imply a network proxy.  Do you have a network proxy?

[2014-03-29 04:12] alartin commented on #1221
No. But it seemed to be a network issue.

发自我的 iPhone

在 2014-3-29，上午5:05，Josh Suereth notifications@github.com 写道：

[2014-03-29 18:57] cunei opened #1223 "Reducing PermGen usage in sbt"
I tracked down a PermGen leak in sbt, which can easily be worked around (although other PermGen leaks may exist).

The full story is below, but in short object finalizers are not called frequently enough by the VM (in jdk 6 and 7), causing classloaders to survive long past their time.

The solution is adding after the parts of runTask that create a new classloader, in order to launch Scala or othe

[2014-03-29 19:19] eed3si9n commented on #1223
This explains why sbt has been PermGen hungry. Nice detective work!

[2014-03-29 19:54] ijuma commented on #1223
If Java 8 doesn't suffer from the issue, it would be nice to only trigger the GCs and finalizers if Java < 8.

[2014-03-29 20:07] cunei commented on #1223
Java 8 seems to be a little more eager to finalize, but there is still no guarantee the finalizer thread will process all the instances on time: calling runFinalization() explicitly will make it certain.

[2014-03-29 21:00] ijuma commented on #1223
One thing to remember is that two full GCs can be quite costly for decently-sized heaps. Some measurement should probably be done.

[2014-03-29 22:03] jaceklaskowski opened #1224 "Add a SettingKey to define the initial project on (re)load"
From https://groups.google.com/d/msg/sbt-dev/dB1TmFN8pvw/4JF_3CzPAJYJ:

_"In either case, feel free to open an enhancement ticket about this if it's causing signfiicant issues.  We can probably create a setting the `reload` command will read when setting the initial project, rather than always using "root"."_

[2014-03-31 12:33] sander24 commented on #1209
Thanks! I created a case under sbt-release as you suggested.

[2014-03-31 13:59] SethTisue commented on #866
this is working nicely for me in 0.13.2-RC1.

[2014-03-31 15:23] alartin commented on #1221
It is no more an issue. It turns out that the damned telecom operator block some websites (BTW, I live in China). I use a VPN to fix it.

[2014-03-31 15:23] #1221 closed, assigned to nobody

[2014-03-31 15:23] jsuereth commented on #1223
True.  I think running it when a command is "done" may be ok though, as this is usually when the human is going to do something else, so it shouldn't be significantly noticable to observers....

[2014-03-31 15:36] ijuma commented on #1223
Perhaps. Please don't forget about continuous execution though.

[2014-03-31 15:38] copumpkin commented on #987
_bump_ this has bitten us again

[2014-03-31 15:48] copumpkin commented on #810
Is #987 related to this?

[2014-03-31 17:27] eed3si9n commented on #987
We're categorizing this as Bug to take at look at this again.

[2014-03-31 19:01] akiellor commented on #1091
Has there been any progress on this issue, I'm also facing it.

[2014-03-31 19:20] eed3si9n commented on #275
For now, this behavior is by design. (Sorry for the late response)

[2014-03-31 19:20] #275 closed, assigned to nobody

[2014-03-31 19:27] eed3si9n commented on #302
I'm closing this because we do this.

[2014-03-31 19:27] #302 closed, assigned to nobody

[2014-03-31 19:31] eed3si9n commented on #323
Given that there seems to be plugins to close the gap, I'm closing this issue.

[2014-03-31 19:31] #323 closed, assigned to nobody

[2014-04-01 03:40] tutufool commented on #413
1 more finding:

DefaultRepositoryCacheManager will be created many times across modules, hence ModuleDescriptorMemoryCache can't be re-used across modules.

Does that mean if multiple modules depends on artifact A, A's ivy.xml will be parsed multiple times?

[2014-04-01 12:25] jsuereth commented on #413
Yes, but when I created a branch which shared the memory cache between all the CacheManagers it didn't actually solve the performance issues on a "real-world" project (something that depends on a decent amount of maven-artifacts), so I think it's a red herring.

[2014-04-01 12:25] jsuereth commented on #413
Also, check out: https://github.com/sbt/sbt/pull/1226

[2014-04-01 17:34] eed3si9n commented on #325
I'm closing this case since there hasn't been any progress. fwiw sbt uses `Show` typeclass in some places instead of `toString`.

[2014-04-01 17:34] #325 closed, assigned to nobody

[2014-04-01 17:37] eed3si9n commented on #366
Sorry for the late response. Does this still happen with the latest sbt? If so we need better repro steps that we can recreate in our environment.

[2014-04-01 17:41] eed3si9n commented on #381
New management. We need repro steps to work on this.

[2014-04-01 17:47] eed3si9n commented on #390
Sorry for the late response. I'm not seeing Ctrl-C behavior using sbt 0.13.1 on my Mac. Does this still happen?

[2014-04-01 17:53] eed3si9n commented on #397
Sorry for the late response. I don't know if we can address this anytime soon, but it'd be cool to be able to hook into this type of things.

[2014-04-01 18:39] copumpkin commented on #987
Thanks!

[2014-04-01 18:50] eed3si9n commented on #733
Are we still gong to solve this?

[2014-04-01 18:53] eed3si9n commented on #424
Sorry for the late response. Is this behavior still the case for sbt 0.13.1?

[2014-04-01 18:57] jsuereth commented on #733
Good question.  I think we have a few larger fish in the cache world to fry first.

[2014-04-01 18:59] eed3si9n commented on #733
I'm closing this for now.

[2014-04-01 18:59] #733 closed, assigned to nobody

[2014-04-01 19:03] eed3si9n commented on #580
At least for salat, the problem was coming from Typesafe's repo:

We need to check if this still a sbt issue.

[2014-04-01 19:07] eed3si9n commented on #647
Apparently my old self had tried to repro it and couldn't so I'll close this for now.

[2014-04-01 19:15] jsuereth commented on #647
Actually, this is still a problem, but with wierd maven-parent-project setups....  I'll see if I can get you a legitimate reproducible case.

[2014-04-01 19:18] eed3si9n commented on #679
Sorry for the lack of response from the sbt team. New management here.
First, I'd like to understand the problem. Could you rephrase this case into a reproducible steps or a test project? If the problem is Sonatype not being truthful about their snapshot build number, what do you expect sbt and/or Ivy to do?

[2014-04-01 19:30] MansurAshraf commented on #1117
any update on this? ran into this today on a RHEL box

[2014-04-02 04:56] eed3si9n commented on #738
sbt 0.13.2-RC1 uses Ivy 2.3.0. Do you wanna give it a try to see if this still happens?

[2014-04-02 05:00] eed3si9n commented on #920
I like this idea. Along with eviction warning, we should consider this as standard feature.

[2014-04-02 05:17] eed3si9n commented on #853
Does this still happen with 0.13.1 or 0.13.2-RC1?

[2014-04-02 09:46] fommil commented on #679
the mailing list post should contain everything you need. I worked around this by creating builds that have the build numbers in a manner that sbt understands. Apologies, the sonatype snapshot has been purged.

[2014-04-02 11:03] huntc commented on #1156
I don't know if this is related, but I just tried publishing a milestone of sbt-web and received the following:

[code]

...having issued an `sbt-publish`.

Here's my publish config:

[code]

I'm using sbt 0.13.5-M2.

I now also have these up on Artifactory; could you remove them? (**note, not 1.0.0-M1!**)

[code]

[2014-04-02 12:09] jsuereth commented on #1156
What repository were you trying to publish to?  We recently added the "overwrite" flag back into the system so if you try to publish a release overtop of a file you get a warning.

If this was for a non-local URL it's a related, but different bug.  Please re-open this with a bit more info if that's the case.

[2014-04-02 20:08] huntc commented on #1156
The repository was listed at the end there. :-) It's our typesafe Artifactory repo.

[2014-04-02 20:09] huntc commented on #1156
I'm also unable to reopen the bug. Permissions.

[2014-04-02 20:10] jsuereth commented on #1223
@ijuma don't you think it's more important in continuous execution to ensure you don't leak permgen?

[2014-04-02 20:35] ijuma commented on #1223
@jsuereth given that I have never run out of PermGen when using SBT for years (with typical settings of -XX:MaxPermSize=192m), certainly not for me. Now, making continuous compilation even  slower than it is already, that would be very painful for me.

[2014-04-02 20:56] jsuereth commented on #1223
yeah, i don't want to make it slower for you, BUT I'm still amazed you never ran out of permgen....

[2014-04-02 20:57] jsuereth commented on #1223
@ijuma A second idea I have:  We could just run the gc/finalizers on project reload, because there we _know_ we have to dump a few classloaders.

~ foo would be unaffected....

[2014-04-02 21:06] ijuma commented on #1223
We run tests in a forked JVM, that probably helps. Doing it on project reload is more conservative indeed. In any case, if this is affecting many people, I am not opposed to the proposed solution since there's a way to disable it and it's not enabled by default in Java 8 (which is what we are using now).

[2014-04-03 17:57] #1142 closed, assigned to nobody

[2014-04-03 18:18] eed3si9n commented on #1219
From sbt's point of view, if your version includes "-SNAPSHOT" it's a changing snapshot. As @jsuereth [wrote](https://github.com/playframework/playframework/issues/2553#issuecomment-38913958), Play should avoid appending "-SNAPSHOT" to avoid it being treated as changing.

Whether it should be _downloading_ or not is a whole another story. I'm closing this case as "by-design" for now.

[2014-04-03 18:18] #1219 closed, assigned to nobody

[2014-04-03 20:09] gkossakowski commented on #213
Unused imports of classes are taken into account when name hashing algorithm is enabled. See 6cf79aba08da5145b1a85466305a23928a031ba2 for the test that covers it.

The tracking of imported packages is not tracked but I think this is a minor problem. I'm closing the ticket.

[2014-04-03 20:09] #213 closed, assigned to gkossakowski

[2014-04-03 20:11] gkossakowski commented on #176
Given the comment that it works ok in Scala 2.9.1 and inactivity for 3 years (nobody reported duplicate of this issue) I'm closing it as part of ticket cleaning.

[2014-04-03 20:11] #176 closed, assigned to gkossakowski

[2014-04-03 21:21] OlegYch commented on #1219
isChanging should probably take precedence over whatever heuristic is employed, don't you think?

[2014-04-03 22:01] eed3si9n commented on #1219
I don't think so. If I understand correctly, `isChanging` is a `Boolean` not an `Option[Boolean]`, so it being `false` mostly means the build user didn't specify `changing()`. In that case, we need to assume everything that contains the word "-SNAPSHOT" is changing.

[2014-04-03 23:26] eed3si9n opened #1229 "sbt deletes non-SNAPSHOT/changing artifacts from cache"
This is a continuation/offshoot of #637, #641, and #1091.
482f9905235217c339934d8a7a560aae13b7f296 was added as the fix for #637/#641 but the strategy of deleting non-SNAPSHOT may be too aggressive.

@paulp wrote:

## notes

The original issue could be caused by mismatch definition of `isChanging` vs change pattern we are telling Ivy. In Ivy.scala:

[code]

[2014-04-04 00:36] eed3si9n commented on #1091
Using a relatively new Mac, I was _not_ able to reproduce this issue using the following steps provided by @jpsacha. That's why I branched off aggressive deletion issue to #1229.

## steps

[code]

## what I was seeing less than 1h ago

[code]

## what I'm seeing now

Then I figured there's something common to the environment of reporters so I git cloned scala/scala and:

[code]

For good measures

[2014-04-04 00:42] jsuereth commented on #1219
Hmm, there's also `isSnapshot` in the build, which is meant to do the same thing as "changing" for the local project.

[2014-04-04 00:46] paulp commented on #1091
I'm glad to see you were able to reproduce my reproduction confusion (cf my own "I will add that I went for another round and couldn't reproduce it" from two months ago - this under what I thought were identical conditions, it should have been a formality.)

[2014-04-04 13:12] pommedeterresautee commented on #895
Hi,

I am sorry, I am very new to SBT. I have the same issue, and my office laptop is Windows. I am not sure how I am supposed to use the workaround from jodyfanning.

I create the project/project/Plugins.scala file, and then? I am using a build.sbt file. Do I need to switch to a Scala build one? Do I need a specific call to a function?

Thank you a lot for your help,
Regards,
Michaël

[2014-04-04 17:40] jsuereth commented on #1156
@huntc looks like sbt is publishing hte pom.xml file twice.  The second time it fails....

[2014-04-04 19:45] jsuereth commented on #1156
SO, that's not the issue at all.  The issue is that when we push checksums, Artifactory _automatically_ creates them for us in the configuration of our repositories, so when Ivy goes to see if it exists, it does and then ivy pukes saying "can't overwrite".

I need to think about how to solve this.

[2014-04-04 20:55] jsuereth commented on #1156
@huntc - Your issue is actually mostly unrelated to this one (publishM2 vs. publish. I'm opening a different ticket than this to track the issue separately.

[2014-04-04 20:55] #1156 closed, assigned to nobody

[2014-04-04 20:57] jsuereth opened #1233 "sbt 0.13.5-M2 can't publish to artifactory"
When it tries to publish, you get a "XYZ exists and overwrite=false" error.  This is because it's trying to push a checksum (md5/sha1) _after_ ivy has autogenerated it, and the logic hits  files before publishing.

cc> @huntc.

[2014-04-05 09:09] eed3si9n commented on #1229
I was able to reproduce the original case so I'm closing this.

[2014-04-05 09:09] #1229 closed, assigned to eed3si9n

[2014-04-05 11:47] #1091 closed, assigned to eed3si9n

[2014-04-05 20:44] eed3si9n commented on #978
@jsuereth We can label this a bug right?

[2014-04-05 20:49] eed3si9n commented on #991
@jsuereth [wrote](http://stackoverflow.com/questions/20011392/debug-sbt-sources-too-with-eclipse):

Is this still the issue? If so can we categorize this as a bug?

[2014-04-05 20:52] eed3si9n commented on #1015
In general I agree we should produce better error message, but since we might have found the root cause of the problem (#1223), I'm going to close this case.

[2014-04-05 20:52] #1015 closed, assigned to nobody

[2014-04-05 21:16] eed3si9n commented on #1138
I'm going to classify this as a bug for now since it's sbt that chose Ivy. We are probably not going to fix this any time soon, but it's a bug.

If the ordering of the resolver matters, could the following work as a workaround?

[code]

[2014-04-05 21:41] eed3si9n commented on #1187
You take your significant other out to a dinner. You've called in ahead of time to bring out a birthday cake triggered by the end of dinner. The dinner ends, but the birthday cake had thrown a ClassNotFoundException. The restaurant does not inform you. Because you know? By design. It was after all a secret cake. After looking around nervously for a few minutes, you pay the check and laugh about th

[2014-04-05 22:52] jsuereth commented on #978
Yeah
On Apr 5, 2014 4:44 PM, "eugene yokota" notifications@github.com wrote:

[2014-04-06 03:07] huntc commented on #1156
Thanks Josh. Can you please cite the other issue for my tracking purposes? Thanks.

[2014-04-06 03:09] huntc commented on #1233
Thanks Josh. This is the issue I previously ask for citing a moment ago. All good.

[2014-04-06 08:26] xuwei-k opened #1237 "Incremental compiler StackOverflowError with name hashing"
## steps

[code]

or

## problems

[code]
## notes
- sbt 0.13.2-RC1, sbt 0.13.5-M1,  sbt 0.13.5-M2
- enable name hashing
- Scala 2.11.0-RC1, 2.11.0-RC2, 2.11.0-RC4

https://travis-ci.org/xuwei-k/scalaz/builds/22375456

Running [blame on ExtractUsedNames.scala#L85](https://github.com/sbt/sbt/blame/0.13/compile/interface/src/main/scala/xsbt/ExtractUsedNames.scala#L85) shows `def handleTreeNode(node:

[2014-04-06 22:59] gkossakowski commented on #1237
Thanks for the report! I can't reproduce it though. Here's what I did:
1. I checked out xuwei-k/scalaz@c27cd30ef2cae8468da25dd4a7d2ca44cdaf51db
2. I added `build.properties` with `sbt.version=0.13.2-RC1`
3. I started sbt and tried to compile everything and it succeeded.

What are the exact reproduction steps?

[2014-04-06 23:04] eed3si9n commented on #1237
@gkossakowski Kenji also mentions Scala 2.11.0-RC4.

[2014-04-06 23:06] Duhemm commented on #1237
Hi,

You can also reproduce it in scripted test `macro-arg-dep` (and most likely in any other test that uses macro). Simply add `scalaVersion := "2.11.0-RC3"` to the `build.scala`.

It looks like some macros have themselves attached as original tree, causing the infinite loop.

[2014-04-07 08:07] xeno-by commented on #1237
`It looks like some macros have themselves attached as original tree`. Could you elaborate?

[2014-04-07 08:40] Duhemm commented on #1237
For instance in [this test](https://github.com/sbt/sbt/tree/0.13/sbt/src/sbt-test/source-dependencies/macro-arg-dep), at some point the get the following tree :

[code]

This tree comes from the original tree :

[code]

Which comes from the original **same** tree :

[code]

And so on.

[2014-04-07 11:22] gkossakowski commented on #1237
It appears to me that this cyclic structure of original attributes of trees is a bug in Scala compiler. In particular, the

[code]

should not have any original tree set, right?

[2014-04-07 15:32] eed3si9n commented on #1237
+1 on rolling it back and potentially pursuing it as scalac bug while it's on RC. /cc @retronym

[2014-04-07 15:36] #1233 closed, assigned to nobody

[2014-04-07 16:20] jsuereth commented on #1187
The situation is more like this:
- You take your significant other out to a dinner  (sbt> task)
- Your friends secretly arrange for a mariachi band to come play after your dinner is completed, but
  the band has an accident on the way to the dinner, so they don't make it.  (triggeredBy execution failure)

Was your dinner a success?   Do you even care if the band didn't make it?   Do you care that

[2014-04-07 16:24] jsuereth commented on #1138
@eed3si9n That workaround almost works.  Maven-central may be contributed from the "boot" repositories (those used by the sbt launcher), which is why you need to attack `fullResolvers` not `resolvers`.

[2014-04-07 16:33] jsuereth commented on #991
I'd say enhancement/bug are both ok.  Categorize as either.  sbt-eclipse may have worked-around this already, but that doesn't mean we shouldn't ACTUALLY abide by conventions.

[2014-04-07 16:49] ijuma opened #1240 "javaOptions in test doesn't seem to work"
The forking documentation page[1] includes the following line:

`javaOptions in test += "-Xmx8G"`

This did not have the desired effect in our build. Changing it slightly made it work:

`javaOptions in Test += "-Xmx8G"`

It looks like either code or documentation need to be changed. There is another `in test` instance on that same page. Maybe that needs updating too?

[1] http://www.scala-sbt.org/

[2014-04-07 17:02] jsuereth commented on #1240
This is a duplicate of #975

[2014-04-07 17:02] #1240 closed, assigned to nobody

[2014-04-07 17:02] jsuereth commented on #1240
Also, thanks for pointing out the docs, we should get those updated.

[2014-04-07 17:03] mighdoll commented on #991
I haven't heard of a workaround (aside from manual editing the .classpath)

On Mon, Apr 7, 2014 at 9:33 AM, Josh Suereth notifications@github.comwrote:

[2014-04-07 18:51] xeno-by commented on #1237
Hey I'll try to look into this tomorrow. This weekend and today was just a non-stop chain of stuff...

[2014-04-08 02:08] savulchik commented on #1187
@jsuereth Initially the behavior was discovered when troubleshooting the build relying on [xsbt-filter](https://github.com/sdb/xsbt-filter) plugin that performs resources filtering `triggeredBy` copyResources task.

See https://github.com/sdb/xsbt-filter/blob/master/src/FilterPlugin.scala:

[code]

So I <b>expected</b> that one of my friends would arrange for a mariachi band to come play right <b>

[2014-04-08 02:48] jsuereth commented on #1187
That's actually super dangerous behavior. "triggeredby" makes no guarantees on dependenceis for downstream tasks. It's likely that the thingmaking the jar will be reading the resource directory at the same time (in parallel) with filtering.

Not a good thing...

[2014-04-08 03:25] savulchik commented on #1187
@jsuereth indeed, sometimes I observe the described race condition when I get the jar with unfiltered resources. I should report the problem to @sdb .

[2014-04-08 08:50] andreysaksonov commented on #1152
This issue is also linked to that one: https://github.com/scala-js/scala-js/issues/454

I think, not only the warning should be introduced, but also overriding the versions of dependencies of sbt itself should be prohibited. If plugin depends on version lower then required by sbt, than higher version (required by sbt itself) should be applied in final dependency tree for the build script. In this

[2014-04-08 12:25] jsuereth commented on #1187
@savulchik Please do.   In sbt, one of the core tenets is "All dependencies must be explicit".   If @sdb needs hooks for his plugin to work properly with the default settings, we can add those as needed.

[2014-04-08 18:50] xeno-by commented on #1237
https://issues.scala-lang.org/browse/SI-8486

[2014-04-08 23:40] #1237 closed, assigned to gkossakowski

[2014-04-09 17:37] #1185 closed, assigned to nobody

[2014-04-09 20:18] eed3si9n opened #1246 "launcher hits Typesafe repo to grab sbt jars"
## steps
1. Use sbt 0.13.1. Lock down repository to local in launch config:

[code]

Suppose you have NOT published 0.13.1 sbt JARs locally.
Run (requires sbt-dirty-money):

[code]

and clean boot:

[code]

Exit sbt, and try running it again.
## problem

[code]
## expectation

sbt should fail to launch because it cannot grab the JARs from local.

[2014-04-09 21:44] eed3si9n commented on #1246
Actually this may be because I was using my own `~/bin/sbt` that's not locked down.

[2014-04-09 21:44] #1246 closed, assigned to nobody

[2014-04-10 05:04] jroper opened #1247 "Defining test tasks in a new configuration overrides the global test task"
On sbt 0.13.5-M2.

Create a new configuration:

[code]

Now define all the test tasks in it:

[code]

Now inspect the global test command:

[code]

The new configuration has overridden the global test command.

[2014-04-10 11:13] huntc commented on #1213
@jsuereth and @eed3si9n - I've received two comments on this one now since Play 2.3-M1. The commonality is a desire to express:

[code]

as just:

[code]

[2014-04-10 12:56] julienrf commented on #1213
Indeed, such a shortcut would be very convenient.

[2014-04-10 12:59] jsuereth commented on #1213
Yeah, I think there may be a way to do it, but we haven't ironed out the best mechanism.  My goal is to avoid having to load settings twice, so when we figure out how to do that and a have a nicer API, it'll be there.

[2014-04-10 13:12] gkossakowski opened #1251 "Sbt hangs at loading global plugins"
Sbt 0.13.5-SNAPSHOT hangs while loading global plugins. An empty project is enough to reproduce it:

[code]

I attached the profiler and noticed that it hangs in `EvaluateTask.runTask` method. It recurses by accident: wrong overload is chosen. The fix is on its way.

[2014-04-10 13:14] jsuereth commented on #1251
Thanks @gkossakowski !

[2014-04-10 13:28] #1251 closed, assigned to nobody

[2014-04-10 14:12] jsuereth commented on #1247
Got it!

[2014-04-10 17:21] #1247 closed, assigned to nobody

[2014-04-10 19:43] huntc commented on #1213
Thanks Josh. In terms of timing I think we need to have something before Play 2.3-RC1 which is due at the end of April. Do you think that's achievable?

I suspect that we will receive too many complaints otherwise.

[2014-04-10 19:46] jsuereth commented on #1213
@huntc Not sure.  We'll see what we can do, it depends on how invasive it is to add.

[2014-04-10 21:14] crunchman opened #1256 "SLF4J Bug With Scalatra"
On Windows-7 Terminal (cmd.exe):

Changed sbt-version in build.properties to 0.13.1
On terminal again :

The SLF4J-Error occurs on compile and run. I use sbt-assembly as a plugIn.
After assembling to a fat jar and running that fat jar, the SLF4J-Problem disappears.
Conclusively, it is a sbt bug.

[2014-04-10 21:26] huntc commented on #1213
We could re-instate Play's playJavaSettings and playScalaSettings or some other alias just for Play, but I'd prefer not to...

[2014-04-10 21:29] crunchman opened #1257 "JLine Bug"
Given the following project structure:

[code]

where Main.scala holds:

[code]

and build.sbt holds:

[code]

Running on a Windows-7 terminal (cmd.exe)

[code]

--------- no possibility to see what is typed into the terminal, neither any reaction if "quit" has been entered. Only possible way to stop the run is to terminate the whole sbt process. Again, after using sbt-assembly as a plugin, creati

[2014-04-11 08:49] jroper commented on #1213
Perhaps `(project in cwd).addPlugins(PlayScala)` reads better, but `project.in(cwd).addPlugins(PlayScala)` writes better...

_Ok... I wanna configure my project..._

[code]

_Right, I want the project in the current working directory_

[code]

_Now I want to add a plugin to it_

[code]

_crap..._

[code]

Happens to me every time.

[2014-04-11 08:55] jroper commented on #1213
By the way, we could provide this in Play:

[code]

`playScalaRootProject` would be an auto import from the Play plugin:

[code]

[2014-04-11 10:27] ahjohannessen opened #1258 "thisProject"
I have made a sbt-plugin that is used to bootstrap various projects in our organization. The sbt-plugin contains various useful common generic settings for things such as scalac, basic test dependencies and also more specific things such as publishing and resolvers tied to our organization.

In order to use this in a fresh project I define the following:

In ./project/plugins.sbt:

[code]

In ./bu

[2014-04-11 12:26] jsuereth commented on #1257
Do you know which version of jlin is actually being used?

sbt itself uses jline 2.11, so most likely you're running into an issue where your jline is conflicting with ours.

We have the following codez in our codebase to deal with jline conflicts between, e.g. scalac + sbt:

[code]

You may need to do something similar

[2014-04-11 12:28] jsuereth commented on #1257
Also, if this is windows, you should check the JLine options passed in sbt (-Djline.terminal).  I believe windows has a lot of oddities we had to cover that may differ between our use of jline and your terminal.

[2014-04-11 12:31] cunei commented on #1258
If you are using sbt 0.13, project ids can be specified within an .sbt file by using the syntax described at the beginning of this page: http://www.scala-sbt.org/release/docs/Getting-Started/Multi-Project.html

I hope that can be of help with your query. I am closing this ticket, however, as this is not actually an sbt bug description or a request for enhancement. General support for sbt is best o

[2014-04-11 12:56] ahjohannessen commented on #1258
cunei, what I was after is more like:

[code]

and not `lazy val id1 = project`

[2014-04-11 13:02] jsuereth commented on #1258
You can do:

[code]

Or what not.  We should probably fix it to be shared.

[2014-04-11 13:11] jsuereth commented on #1213
We decided against something like that because people might think they can call it twice.

Maybe if it were called `createPlayScalaRootProject`.

IN any case, I'm debating adding addPlugins/disablePlugins directly to the build.sbt dsl...

[2014-04-11 14:57] cunei commented on #1256
The message is informational, and apparently not related to sbt, but to the scalatra template. There are mentions of it on many forums, including: https://gist.github.com/geeksville/6214944 where they comment: "yep - that's all good - you can ignore that warning".
If you try "container:start", then "browse", the example should work normally. If you see a message that says `java.lang.ClassNotFoundE

[2014-04-11 14:57] #1256 closed, assigned to nobody

[2014-04-11 17:07] eed3si9n commented on #1258
I asked @ahjohannessen to create this ticket on twitter since I thought this could relate to improving ux (including auto plugins etc), we've talked about `self` reference.

[2014-04-11 17:13] jsuereth commented on #1258
@eed3si9n If you have time to chat, I have a proposal around that now (although not a self reference).

[2014-04-11 17:48] jsuereth commented on #1258
We're going to investigate something like this in relation to #1213

I'm adding a quick proposal there.

[2014-04-11 17:54] jsuereth commented on #1213
OK, so I think the current thinking is we can add a hook in the `build.sbt` file that lets you add project manipulations against the same project referred to by `ThisProject` using `ThisProject`

SO, concretely, a `build.sbt` for dead simple play project would be:

[code]

Because no one wants any of my plugins.

The DSL grammr would then look sort of like this :

[code]

Any expression starting w

[2014-04-11 17:59] jsuereth commented on #1258
Here's the proposal: https://github.com/sbt/sbt/issues/1213#issuecomment-40234140

I may start further comments on this case.

[2014-04-11 22:09] huntc commented on #1213
This looks like the implementation details of sbt leaking through into the UX. I understand that we're trying to attain binary compatibility, but perhaps the version should be 0.14 if it is getting in the way.

My problem is that all settings here are w.r.t. to the current project... and then, for one group of declarations, you must use `ThisProject`. That doesn't grok IMHO.

[2014-04-12 16:05] fommil opened #1259 "RFE: exclude(rules: Seq[ExclusionRule])"
this method currently takes a varargs, which makes it really ugly to call when one already has a `Seq` at hand.

[2014-04-13 15:00] fommil commented on #355
argh, just been bitten by this in a multi-module project where the lowest level project is pure Java. Any ideas for a workaround?

[2014-04-13 15:06] fommil commented on #355
play seem to workaround it this way but when I try this the `-target 1.6` is still being passed to my java module's javadoc stage https://github.com/playframework/playframework/blob/master/framework/project/Build.scala

[2014-04-13 15:09] fommil commented on #355
got it working, i applied the source and target to both case versions of compile and now it works. bizarre.

[2014-04-13 20:21] fommil opened #1260 "plugins require explicit libraryDependencies to get jars from update"
I was surprised that `update.value.configuration("runtime-internal")` doesn't have the plugin's dependencies (as listed in its ivy artifact) included. Is there a reason for this, or is it a bug?

In any case, I had to work around this by doing an explicit `libraryDependencies += deps` in the settings for the plugin, which adds the necessary jars to the update list.

[2014-04-13 20:51] indrajitr commented on #355
What exactly were you trying? Mind putting the snippet?

[2014-04-13 21:07] indrajitr commented on #1259
I am guessing you mean `excludeAll(rules: ExclusionRule*)`.
Are you finding `excludeAll(seq:_*)` inadequate?

AFAIR, @harrah opined in favor of one form to avoid too many variations.

[2014-04-13 22:15] fommil commented on #355
[code]

[2014-04-13 22:16] fommil commented on #355
oh, crap! I just realised I made a typo :-P  that should have been

[code]

which does work, thankfully!

[2014-04-13 22:21] fommil commented on #1259
yeah, that's the one... I have this:

[code]

and that means it's messy to use.

I'm actually thinking about applying this in a map to everything implicitly... nothing good ever came out of transitive dependencies on java logging frameworks. Then I can explicitly add logback and all the SLF4J wrappers to the runtimes.

[2014-04-13 23:14] eed3si9n commented on #1259
Hi Sam. sbt project currently uses issues for confirmed bugs only. See https://github.com/sbt/sbt/blob/0.13/CONTRIBUTING.md. Please bring this up in StackOverflow or sbt-dev list.

[2014-04-13 23:14] #1259 closed, assigned to nobody

[2014-04-13 23:15] eed3si9n commented on #1260
Hi Sam. sbt project currently uses issues for confirmed bugs only. See https://github.com/sbt/sbt/blob/0.13/CONTRIBUTING.md. Please bring this up in StackOverflow or sbt-dev list.

[2014-04-14 02:41] indrajitr commented on #355
See https://github.com/sbt/sbt/issues/355#issuecomment-3817629 for specificity rule :)

You might pull up the common options by just doing the following and be done with it:

[code]

Feel free to take up additional inputs or suggestions in sbt-dev.

[2014-04-14 11:42] arashi01 commented on #647
@eed3si9n @jsuereth

Please find reproduced case at https://github.com/arashi01/sbt-issue-647-reproduction.  The `workaround` branch also demonstrates functioning workaround.

Tested with sbt 0.13.5-M2

[2014-04-14 12:16] jsuereth commented on #647
@arashi01 Thanks for the reproducible test case.

[2014-04-14 13:31] gkossakowski opened #1261 "Non-static annotations might cause spurious recompilations"
Pickler in Scala compiler strips out all non-static annotations on types. This leads to different view of the symbol depending on whether it's coming from source code or from unpickling. Experience shows, that this is almost always breaking incremental compilation.

I don't have time to investigate it further so I just lodged this ticket as a reminder in case somebody is working on API extraction

[2014-04-14 15:25] jsuereth commented on #1213
It's not a binary compatibility issue necessarily, but how we do loading.   The set of enabled plugins is _not_ a setting for the build, because you need its value to determine what settings are used.

There's a class of these "thing which are used to determine which settings are loaded" of which `enabledPlugins` belongs.  What I'm trying to do is make it _feel_ like a setting even if it isn't.

`

[2014-04-14 21:07] fommil commented on #1259
ok, but that's very non-standard on github and you'll probably spend a lot of your time posting comments like this.

I suspect you'll miss a lot of feature requests doing it this way: the mailing list is in retirement and StackOverflow is very aggressively NOT a discussion forum. "I'd like to have X" style questions are simply not tolerated there.

[2014-04-14 21:30] eed3si9n commented on #1259
I'm fairly new at running sbt project, so for now I'm keeping it the way it's been set before. The old mailing list was retired but [sbt-dev](https://groups.google.com/forum/#!forum/sbt-dev) mailing list is active. I'd love to keep issues open for suggestions, and I do that for most of my personal projects (except sbt-assembly), but once the user/contributor ratio reaches certain point it quickly

[2014-04-14 21:38] fommil commented on #1259
cool, I see. You can still hide them from view with tags or milestones: possibly even add a strategic priority to feature requests (and bump them up if more people +1 the ticket). A cull every few months - e.g. after the next release features have been decided - isn't so onerous.

[2014-04-15 14:28] havocp commented on #1213
is it possible to special case "enablePlugins" and "disablePlugins" so you don't need the `ThisProject` in front?  Then the only remaining "noise" is that we have both addSbtPlugin and enablePlugins, but that noise is sort of inevitable since we want to control plugins per-project instead of per-build.

[2014-04-15 14:38] jsuereth commented on #1213
Yeah, it's possible, just ugly, but Maybe that's what we need to do.

[2014-04-15 15:02] havocp commented on #1213
A problem with ThisProject is that the name doesn't really communicate the difference between things that have ThisProject in front and things that don't. That is, everything in a build.sbt is already scoped to this project automatically... so why do some have ThisProject? It seems confusing to have ThisProject when everything in the file is already for this project. People could easily start to t

[2014-04-16 03:33] SethTisue commented on #1181
Here's a build.sbt that results in a similar ArrayIndexOutOfBoundsException in OffsetPosition:

[code]

yup, that's it. (I'm on 0.13.2)

[2014-04-16 03:51] paulp commented on #1181
Your implied crash repro golf challenge does not go unnoticed. 4 chars.

[code]

[2014-04-16 06:19] som-snytt commented on #1181
You guys are trying too hard.  `1+` suffices.

[2014-04-16 09:49] aloiscochard commented on #1184
@gkossakowski next time it would be nice if you could update that ticket if you expect me to do an action (like giving more debug information).

I'm not following sbt itself but just that ticket, so there was no way I would have guess you did that change without -by random chance- got notified on twitter.

If you write a message on that ticket, or on that forum thread:
https://groups.google.com/d/

[2014-04-16 09:50] aloiscochard commented on #1184
_In fact it a bit of a shame Github don't notify when the PR is referenced somewhere else :-(_

[2014-04-16 10:07] gkossakowski commented on #1184
@aloiscochard: good point on notifying you! I'll keep this in mind. I agree it would be great if GitHub notified automatically in case PR is merged that mentions given ticket.

I'm looking forward to your findings!

[2014-04-16 10:57] cowboy129 opened #1264 "0.13.2: Error during sbt execution: No Scala version specified or detected"
I launch sbt in my projects, it works well with `sbt.version=0.13.1`, but failed with 0.13.2.

[code]

I'm in Mac OS X and use `brew install sbt` to install sbt.

[code]

[2014-04-16 12:52] jsuereth commented on #1264
Duplicate of #1117

[2014-04-16 12:52] #1264 closed, assigned to nobody

[2014-04-16 13:00] aloiscochard commented on #1184
@gkossakowski I tried to enable with 0.13.5-M3 but it looks like this change was not in it.

So I tried to use the sbt nightly (0.13.5-20140412-061917), but then why I start SBT he don't find any dependencies for my plugins.

Could you guys release a milestone with the change? or give me instruction about how to actually use a sbt version which include that change?

For information here is the err

[2014-04-16 13:03] aloiscochard commented on #1184
FYI, when trying to use the snapshot I got:
`sbt.ResolveException: unresolved dependency: com.typesafe.sbteclipse#sbteclipse-plugin;2.4.0: not found`

Which is pretty weird as it should be able to use the same version of the plugin (it's still 0.13)

[2014-04-16 13:06] jsuereth commented on #1184
@aloiscochard can you give us more information on what Ivy says prior to that error?

Also, the CI server has been hosed for a while, so I'm not sure when the last nightly was, but I haven't been able to get it to kick out the current one for a few days.

[2014-04-16 13:31] aloiscochard commented on #1184
@jsuereth here is the full SBT output http://pastie.org/9085063

[2014-04-16 13:37] jsuereth commented on #1184
Ah, yay.  This is an issue with the binary version detector and the way sbt does SNAPSHOTs in ivy.

See this line:

[code]

The detector doesn't take -<date>-<number> as a valid `-SNAPSHOT` right now.  cc> @eed3si9n.   This _does_ work for publishLocal -SNAPSHOT builds, but not how we publish snapshots to our artifactory.

Can you open a ticket about that specifically?  Thanks

[2014-04-16 14:25] gkossakowski commented on #1184
@jsuereth: is there a plan for 0.13.5-M4 release? I'd love to get debugging info from @aloiscochard.

@aloiscochard: as an alternative, would it be possible for you to checkout sbt and run `publishLocal` yourself? It seems like this would allow you to use SNAPSHOT version of sbt and resolve the plugins correctly.

[2014-04-16 14:28] jsuereth commented on #1184
@gkossakowski We're due for one tomorrow actually, as well as next thursday.  Two more before the final RC.  Note:  Feature freeze is next friday, and i don't plan to work anything but bug fixes and docs next week.

[2014-04-16 14:29] aloiscochard commented on #1184
@gkossakowski sure, that's fine by me!

I'll give it a try tomorrow morning and let you know how it goes (hopefully if I find time). Worst case next week.

[2014-04-17 01:26] jsuereth commented on #937
Pushed to 0.13.6 as this most likely requires two fixes:
1. The GC fix should help clean classloader open files that hang around and help this out
2. We need to rework our logging system to limit the # of open files at any given time.  In fact, it'd be ideal if "taskstreams" closes the stream of a given task when the task is completed, or has some eviction strategy.

[2014-04-17 01:29] jsuereth commented on #413
I think we've isolated some solid performance issues with O(N!) graph traversal in Ivy, however we won't be able to get/stabilize a fix in time for 0.13.5.   Pushing this back to sbt 0.13.6

[2014-04-17 02:10] paulp opened #1267 "sbt deleting cross-build classes directory without provocation"
## steps

[code]

[code]
## problem

sbt deletes unused target/*/classes directory on cross building.
## expectation

sbt does not delete target/*/classes directory from prior cross building.

[2014-04-17 05:10] cowboy129 commented on #1117
I found this problem is related to `~/.sbt/repositories`.

If I put this in `~/.sbt/repositories`

[code]

sbt will try to retrive sbt.jar from `http//repo.typesafe.com/typesafe/ivy-releases/org/scala-sbt/sbt/0.13.2-RC2/sbt-0.13.2-RC2.jar`:

[code]

and the directory structure of `~/.sbt/boot` may be incorrect:

[code]

After I remove `~/.sbt/repositories`
sbt will try to retrive sbt.jar from `htt

[2014-04-17 07:09] choedl commented on #1117
Thanks for your comment. Unfortunately, in my case it doesn't help (I don't have a ~/.sbt/repositories directory). I also tried sbt 0.13.2, the behaviour stays the same.

[2014-04-17 07:58] cowboy129 commented on #1117
@choedl, sorry to hear that. Are you using a private nexus repo? What's the directory structure of `~/.sbt/boot` after you run `sbt`?

[2014-04-17 08:11] choedl commented on #1117
I'm using nexus, yes.
~/.sbt/boot looks like in your first case (without the scala folder).

[2014-04-17 13:26] jsuereth commented on #1117
Interesting. There's some subtle differences between the Launcher Ivy used and sbt.  This may give us the clue into creating a reproducible test case.  Thanks much!

[2014-04-17 13:35] jsuereth commented on #1267
I'm not exactly sure why it's deleting the classes directory at all. I don't see any `clean` calls in there.

[2014-04-17 13:56] paulp commented on #1267
Well yeah, that's kind of my point.

[2014-04-17 13:57] paulp commented on #1267
I meant "the classes directory it isn't currently building" to identify what it is deleting, not to suggest that there is some classes directory it should be deleting.

[2014-04-17 14:03] jsuereth commented on #1267
I have a  guess:

The incremental compiler remembering too much (i.e. it doesn't realize you're in a different scala world, so it says "Oh, these are stale I can delete them).

build.sbt is the only thing in your project besides some random .scala file?  Should be easy to set up a test for this then.

[2014-04-17 14:44] eed3si9n commented on #1267
I reproduced it in my env too. It happens with sbt 0.13.2, but not with 0.13.1. I haven't checked the code yet, but this could be an intentional behavior due to caching around tasks and/or incremental compiler.

[2014-04-17 14:50] paulp commented on #1267
I choose to disbelieve it could possibly be intentional.

[2014-04-17 14:56] jsuereth commented on #1267
You never know.  We haven't cleaned up all the `if(isPaulp) annoyAsMuchAsWeCan()` calls...

[2014-04-17 15:15] paulp commented on #1267
I know, I have a bot which emails me whenever one is removed (or, more often, added.)

[2014-04-17 15:16] jsuereth commented on #1267
:)  We'll do what we can.  Thanks for reporting and helping us out.

[2014-04-17 15:18] #1257 closed, assigned to nobody

[2014-04-17 15:42] shikhar commented on #413
@jsuereth thank you for your work on this!

our ant+ivy build went from 30s to 1.5-2mins after a Solr4.6->4.7 upgrade, all time spent in ivy:resolve

i just switched out to sbt's ivy 2.4 pre-release jar from #1226, and it's back down!

[2014-04-17 15:48] jsuereth commented on #413
awesome news!   We have more we'd like to do here, so it's good to hear you're back down.  30s is still longer than we'd like :)

[2014-04-17 17:08] gkossakowski opened #1268 "Deprecate Analysis.apis"
_This is a proposal._
### Analysis.apis

The `Analysis.apis` returns an instance of `APIs`. Methods in `APIs` allow one to inspect the public API of the compiled program. By the API we mean information like declared classes (and their method) in given source file.

One can think of `APIs` as a very basic reflection-like API.
### The role of `Analysis.apis`

The main client of `APIs` is the increme

[2014-04-17 17:25] gkossakowski commented on #1171
Scheduled for sbt 0.13.6.

[2014-04-17 22:12] jsuereth commented on #1268
So, do you have a way to still support the `testQuick` or test discovery use case?

I think `testQuick` (incremental running of tests based on detected change) is pretty compelling and needs to be supported via some mechanism.  I'm ok _not_ using `apis` for that, as apis exposes your internals, however I think that perhaps `testQuick` gives us a pretty good idea of the sorts of "external to compil

[2014-04-17 23:31] gkossakowski commented on #1268
When it comes to `testQuick` I alluded this above but not clearly enough:

Specifically, for `testQuick` all we need is information about the last time each source file has been recompiled. I think we can provide a direct API for that in form of a new Relation in `Relations`. It would be very easy to implement and it would make a lot of sense to provide such API.

I don't follow this remark:

Coul

[2014-04-18 00:30] jsuereth commented on #1268
It's sort of related.

SO:
1. For testQuick, I'd like to try to isolate the "test needs to run" detection on a _test_ itself, not the entire class/source file.  Remember this needs to check if any dependencies of a given test have changed, so some way of flagging a particular  portion of code as "give me the known dependencies" (possibly classfile based) so we can see if we need to run it.  It's a

[2014-04-18 09:56] gkossakowski commented on #1268
Ok, I understand that now. I think you're talking about new functionality/improvements to testing infrastructure in sbt. I agree it's the best to have a chat on G+ on this and summarize our discussion here.

[2014-04-18 10:34] antonkulaga opened #1271 "sbt 13.2 breaks code my code (that works well for sbt 0.13.1.)"
When I try to compile my project (https://github.com/denigma/semantic-web) with sbt 0.13.2 (  it fires dozens of compile-time errors like):

[error] bad symbolic reference. A signature in package.class refers to type Scala2SesameModelImplicits
[error] in package org.denigma.semantic which is not available.
[error] It may be completely missing from the current classpath, or the version on
[error] t

[2014-04-18 11:04] gkossakowski commented on #1271
I just tried to reproduce it by checking out current master (d9cd5970ef91a10da2c003724ac56472fcd91005) of semantic-web. I changed sbt version to 0.13.2:

[code]

I started sbt and compiled the whole project successfully.

[2014-04-18 11:09] gkossakowski commented on #1268
I just checked activator's source code for uses of `apis`:

[code]

The first use is for discovering main methods that we'll have to find some alternative way of providing. The other one is determining last compilation time. It'll be easy to migrate to `Analysis.compilations`.

[2014-04-18 11:14] antonkulaga commented on #1271
Really strange :( I did activator clean-files before building the project with sbt 0.13.2 I will check it with pure sbt (because I had errors while using activator run and activator test commands)

[2014-04-18 13:01] antonkulaga commented on #1271
I have checked several times both with sbt and activator commands (with activator clean-files to make sure it is not a cache issue). It does not compile on my machine (Ubuntu 13:10, scala 2.10.4) with sbt 0.13.2 I do not know, maybe I should res-install activator/sbt or do something more radical...

[2014-04-18 16:25] gkossakowski commented on #1271
I just tried with Activator 1.1.1 and I couldn't reproduce it either. Could you provide the output of `last compile` after errors are reported?

[2014-04-18 16:29] gkossakowski opened #1272 "Use `Analysis.compilation` for lastCompilationTime"
The `project/Util.scala` uses `analysis.apis.internal.values.map(_.compilation.startTime)` to determine the last time project was recompiled. Since sbt 0.13.0 there's dedicated API in Analysis for that: compilations.

We should migrate to it.

[2014-04-18 16:54] #1272 closed, assigned to nobody

[2014-04-18 19:00] gkossakowski opened #1274 "API for finding main methods in code compiled by sbt"
One of the uses cases identified in #1268 for `Analysis.apis` is discovery of main methods in code compiled by sbt.

I think we should provide a direct API for that. Ideally, I'd like that API to be provided outside of incremental compiler in the following form:

[code]

I'm not sure where we could stick something like that in Sbt.

How would we implement such method? At the moment, similar functi

[2014-04-18 20:39] eed3si9n commented on #975
Here's what I have so far. This was introduced by sbt/sbt@0bb460c03ed9940c67c9048d353dfd151a5bfdd0 around line 377 of Defaults.scala:

[code]

The commit message says it fixes #539. The actual fix I think is coming from the fact that it's now a derived setting, and the reported behavior is coming from the fact that `singleTestGroup(key)` was changed to `singleTestGroupDefault`, which is no longer

[2014-04-19 16:30] savulchik commented on #1187
@jsuereth should I close this issue?

[2014-04-20 23:46] dansanduleac commented on #975
I'm not entirely sure how to fix this, but regarding derived settings the limitation does make sense. A derived setting is essentially a setting template, creating settings whose _scope_ is derived (I.e. If the setting's deps all exist in scope x, then the setting itself will also be derived in scope x). So, the scope is being determined dynamically.
It makes sense to limit what scopes the setting

[2014-04-21 11:55] helllamer opened #1275 "0.13.2: New wildcard versions POM-format inside dependencies not resolved by sbt"
I have problem with dependencies with sbt-0.13.2.
I have two projects: a shared published library `library1` and a project `project1`, that uses `library1` as dependency.
library1/build.sbt:

[code]

`sbt publish` on 0.13.1 generates pom file `library1_2.10-1.0.0-SNAPSHOT.pom` with wildcard versions like:

[code]

This POM processed and resolved by clients with no problems.

0.13.2 generates diffe

[2014-04-21 12:59] jsuereth commented on #1275
Just a quick note:

the `1.2+` syntax that ivy allows does not make a valid pom.xml file.   However, it looks like you've caught a bug in the expansion.

[2014-04-21 13:12] helllamer commented on #1275
I think a some warning/error or something else should be thrown to user in such cases. Now, 0.13.2 silently generates invalid pom.xml.

[2014-04-21 13:17] jsuereth commented on #1275
Yeah, it's supposed to error when it encounters a `+` it can't migrate.   However, it seems our test for this isn't quite robust enough:  https://github.com/sbt/sbt/blob/0.13/ivy/src/test/scala/MakePomTest.scala

We may just alter the `+` to issue errors in `makePom` about how it's invalid maven.

Note: We're trying to clean up our bad behavior on maven-central causing issues for other libraries/t

[2014-04-21 13:18] jsuereth commented on #1187
Actually, I think I'll turn this into a configuration feature request.

[2014-04-21 13:19] jsuereth commented on #1187
Unless of course you don't need it, in which case, please just close.

[2014-04-21 13:22] jsuereth commented on #1271
You may want to manually delete your ~/.sbt/boot and <project>/target, <project>/project/target directories.

[2014-04-21 14:05] #1187 closed, assigned to nobody

[2014-04-21 19:57] benmccann commented on #1010
I was surprised to see reference to this in [Scala 2.11.0 release notes](http://scala-lang.org/news/2014/04/21/release-notes-2.11.0.html). Will this only work with Scala 2.11.0 or could we also use it with Scala 2.10.3?

[2014-04-21 20:10] adriaanm commented on #1010
It'll work in 2.10, though some corner cases could only be fixed in 2.11

On Monday, April 21, 2014, Ben McCann notifications@github.com wrote:

##

JOIN US. REGISTER TODAY! http://www.scaladays.org/
Scala http://www.scaladays.org/
Days http://www.scaladays.org/
June 16th-18th, http://www.scaladays.org/
Berlin http://www.scaladays.org/

[2014-04-21 21:15] jsuereth commented on #987
Hmm, the reproduction wasn't working for me...

[2014-04-21 21:23] jsuereth commented on #987
Can you guide me with some more info of what you're observing? I'd like ot try to get the reproduction working.

[2014-04-21 22:39] jsuereth commented on #1267
Ok, isolated this to the compile task itself, so it's related to incremental compiler changes (cc @gkossakowski ).  I'll try to isolate the root cause shortly, but I expect it's not appropriately invalidating Analysis anymore on Scala "major" version bump (where class files move) so the incremental compiler cleans the old files when it compiles the new ones.

[2014-04-21 23:05] gkossakowski commented on #1267
I'm guessing that Analysis might be kept around longer than it's supposed to be. @jsuereth, I'm looking forward to your findings. If you confirm it's a problem with Analysis caching I can have a look into it.

[2014-04-21 23:08] gkossakowski commented on #1010
Specifically, incremental compilation (including name hashing) can be ruined by bugs in Scala compiler. If Scala compiler reports to incremental compiler with unstable names (e.g. for existential types) then you'll get spurious recompilations. We've seen number of such examples and such bugs were fixed during Scala 2.11 development.

Your best combo these days is: naming hashing turned + Scala 2.1

[2014-04-22 00:22] TheSultan commented on #987
I just retried and experienced this

[code]

[2014-04-22 00:24] TheSultan commented on #987
More environment info just in case it is relevant

[code]

[2014-04-22 03:12] jsuereth commented on #1267
So it was a regression in analysis, but honestly the place where we were tracking cross-compilation didn't really make sense to me.   Now exposed in the build and driven off the `crossPaths` task, like other "use the scala binary version" things are.

[2014-04-22 10:01] nau commented on #413
Cool, thank you :+1:

[2014-04-22 12:12] OlegYch commented on #1271
for the record cleanFiles doesn't do anything, it's a setting

[2014-04-22 12:31] jsuereth commented on #987
I tried again on a different machine with the same results.  I'll see if maybe @eed3si9n can try out on a mac, as that may somehow be related to the issue. (Filesystems being what they are)

[2014-04-22 12:59] tsandall commented on #1061
@dansanduleac @jsuereth

I am seeing similar behaviour in my project. I have reproduced it in a sample project. Here is the output from sbt update and last-grep with 0.13.2: https://gist.github.com/tsandall/57387a4affc5be0c6b2f

[2014-04-22 13:43] jsuereth commented on #1274
This looks good to me.

[2014-04-22 14:20] jsuereth commented on #1061
hmm, the `[NOT REQUIRED]` bit looks bad...

[2014-04-22 14:34] tsandall commented on #1061
@jsuereth looks bad as in user error or looks bad as in need to investigate sbt/ivy?

[2014-04-22 14:36] jsuereth commented on #1061
if that build is all you have, it's something in sbt/ivy.

The real issue appears to be it can't resolve the -SNAPSHOT from your github repo.  You can solve that as well, but the fact that Ivy thinks the artifact is optional _is_ an issue.

[2014-04-22 14:40] tsandall commented on #1061
I've updated the gist w/ output _after_ removing the ~/.ivy2/cache/org.tsandall directory.

[2014-04-22 14:45] jsuereth commented on #1061
So, like I said, your repository actually isn't working correctly (I know I can't hit it locally):

https://gist.github.com/tsandall/57387a4affc5be0c6b2f#file-sbt-update-and-sbt-last-grep-after-rm-fr-ivy-cache-L23-L27

I'm not really sure WHY it's succeeding though, because it should be failing.  I'll investigate more when I have some time.

[2014-04-22 14:48] tsandall commented on #1061
FWIW this repo was generated by using 'sbt publish' with publishTo set to a local directory (file:///...)

[2014-04-22 15:37] jsuereth commented on #1200
Interesting tidbits:
1.  If you use an "unmanaged" scalaInstance (from directory), we override the version Ivy grabs with it.
2. If you're using the same version of scala as the sbt-launcher is currently using, we override the jars from Ivy cache with the ones loaded by sbt.
3. If none of those are try, we just grab whatever Ivy found.

I can definitely get the error message in, but 1 + 2 throw so

[2014-04-22 15:47] Discipe commented on #1181
Just ran into this. All what scalac wanted to do is print me a warning!
But cruel 'source-&lt;no file&gt;' results in 'out of bound' exception. IMHO that bug priority needs a boost, because it may crash compiler on valid sbt files. ;(

[2014-04-22 16:30] tsandall commented on #1061
@jsuereth I added the sbt-aether-deploy plugin to my sample project. The aether-deploy command generates the maven-metadata.xml file. I'm still seeing similar behaviour.
https://gist.github.com/tsandall/3a18bdc9c00c9e591065.

This line is a bit odd, no?
https://gist.github.com/tsandall/3a18bdc9c00c9e591065#file-gistfile1-txt-L45

[2014-04-22 16:41] paulp commented on #1181
Yes, it's extremely user-unfriendly that positions are so aggressively crashy. scalac has always been this way, and used to be even more so. NoSymbol.owner is NoSymbol these days rather than stack trace, so there may be hope.

[2014-04-22 17:12] jsuereth commented on #1200
In the land of unintended side effects, a lot of Ivy details are getting leaked:

[code]

I think this will need to involve some sort of filtering API for which configurations to warn on, and possibly which modules we care about...

[2014-04-22 17:27] jsuereth commented on #1200
Ok, a first cut, eliciting comments: https://github.com/sbt/sbt/commit/453f90588d526f176adbd6865dfc376c36f6b005

[2014-04-22 17:27] eed3si9n commented on #1061
My theory is that sbt/Ivy remembers the last place it grabbed the SNAPSHOT from, and it doesn't look at other resolvers, so it appears to not check the latest. This is why I use sbt-dirty-money to wipe out the cache selectively. If someone can confirm the behavior, we'd have repro steps.

[2014-04-22 17:38] eed3si9n commented on #1200
This is a nice start. Maybe we print the first 20 lines and say:

[code]

It would be nice to know which version won, and what was the parent node of the dep.

[code]

Also an option to ignore third number change if the major version is zero, and ignore second number if the major version is non-zero might be useful.

[2014-04-22 17:45] #1267 closed, assigned to nobody

[2014-04-22 17:59] paulp commented on #1267
The bot alerts me we retired an invocation of annoyAsMuchAsWeCan(), thanks!

[2014-04-22 18:15] TheSultan commented on #987
I am fairly certain I have experienced the same issue on windows and
@joelthompson experienced it on Linux so I'm not sure that is the issue.
You are using the same versions of SBT and java?
On Apr 22, 2014 7:31 AM, "Josh Suereth" notifications@github.com wrote:

[2014-04-22 19:37] jsuereth commented on #1267
@paulp Let me know if we still have issues with `+` and the cache.  Looking around the code, it's entirely probably there's another hidden cache somewhere.  We'll have to clean that area up a bit when we have a chance to break compatibility.

[2014-04-22 20:20] TheSultan commented on #987
@jsuereth what output are you seeing? Successful compile? If so can you please see what libthrift you are pulling down and from where? I suspect you are getting a version without the publications issue in the ivy.xml somehow

[2014-04-22 20:45] TheSultan commented on #987
@jsuereth, I confirmed that the issue is the ivy cache. Looks like the Maven repo for libthrift was updated to fix the ivy xml publication tag. I have checked in the offending ivy.xml and am able to reproduce a successful build and then break the build by doing the below. Please try the steps below (conceptually, you may have to modify the ivy cache path depending on your config...)

Note the key

[2014-04-22 20:47] TheSultan commented on #987
You may notice that the only difference between the two ivy.xml files is the missing artifact item under publications as per my original comment:

[code]

[2014-04-22 21:02] eed3si9n commented on #1275
A note on `1.1+`.  This came up in a recent sbt-dev thread named [Dangerous new bug in sbt 0.13.2 - Maven POM dependency versioning](https://groups.google.com/d/msg/sbt-dev/7sE1885rk_g/dLhYm0YGI74J) too but I don't think people are using `+` correctly.

Ivy's [Fixed and dynamic revisions](http://ant.apache.org/ivy/history/latest-milestone/ivyfile/dependency.html) documentation says:

The notation

[2014-04-23 13:19] bantonsson opened #1281 "Problem with publish trying to move files for aggregates after upgrade to sbt 0.13.2"
We have an issue in akka (akka/akka#15018) where the publication of our nightly timestamped snapshots has started to fail after upgrading to sbt 0.13.2.

What happens is that the publish task tries to move files for the aggregates after we update the version of the projects.

This is the error:

[code]

And this is the code that changes the versions:

[code]

Is there something obviously wrong wit

[2014-04-23 13:34] aloiscochard commented on #1184
@gkossakowski here is the result of the last run:
http://pastie.org/9104792

I don't see any more information (having enabled https://github.com/sbt/sbt/pull/1254) I tried to find something in target, but I don't see what you guys added.. it's not like I know my target that well.

So I just archive the whole target and put it here:
https://dl.dropboxusercontent.com/u/7165324/target.tar.gz

Do you

[2014-04-23 14:36] gkossakowski commented on #1184
@aloiscochard: no, I think the logs got blackholed because you did `streams in Compile`.

This works for me:

[code]

with that, I see:

[code]

The last line is coming from logging of ClassfileManager. You should see something similar.

[2014-04-23 15:46] purefn opened #1282 "Ability to disable incremental compiler for CI builds"
While looking for a way to improve compile times on our build server, I came across issue #1078, about overhead added by the incremental compiler. Since our build server checks out a fresh copy of the source and builds from scratch each time, it would be nice to be able to disable the incremental compiler completely and not have to pay for something that will not be used.

[2014-04-24 12:51] jsuereth commented on #1200
we don't actually have enough info to know the parent at this point (it's erased)

[2014-04-24 13:15] binhbui opened #1284 "Managed dependencies from Git not updated"
As covered by previous issue: https://github.com/sbt/sbt/issues/335

Using SBT 0.13+ and Git dependencies:

[code]

The project is checked into an SBT staging area but any subsequent changes to the dependency are not picked up by an 'sbt update'.

The ticket above suggests this was fixed in 0.12 but there are also comments that this does not work in 0.13 indicating that this is a bug.

Currently i

[2014-04-24 13:36] jsuereth commented on #1284
Due to the nature of how git/remote projects work, architecturally there is no good solution here until we have a chance to redo how update and inter-project dependencies work.

[2014-04-24 14:30] jsuereth commented on #987
sbt 0.13.2 launcher + java 1.6 on ubuntu.  For some reason, my ivy.xml file has that publications guy in the cache.

What sbt launcher are you using (different than sbt version)

[2014-04-24 14:38] aloiscochard commented on #1184
So I added this:

[code]

and that's all I have:
http://pastie.org/9108317

@gkossakowski do I miss something or the information you mentioned are not there?

[2014-04-25 00:07] jsuereth commented on #1200
Ok, so for 0.13.5, I think we implement this user story:

https://github.com/sbt/sbt/wiki/User-Stories%3A-Conflict-Warning#user-story-warn-if-scalaversion-is-no-longer-effective

[2014-04-25 00:42] cambler-godaddy commented on #752
Is this being investigated at all? I'm having the same issue.

[2014-04-25 11:05] gkossakowski commented on #1078
The original numbers I got back in January were wrong because I was using hacked version of incremental compiler for benchmarks. I gathered more numbers using sbt 0.13.2 and the overhead of incremental compiler in each project is:
- spire-core: 2%
- scalatest: 6-9%
- specs2-core: 7-11%
- scala-library: 25%
- scala-reflect: 17%
- scala-compiler: 20%
- akka-actor: 7%
- Play 2 core: 5%

As you can se

[2014-04-25 11:05] #1078 closed, assigned to nobody

[2014-04-25 11:07] gkossakowski commented on #1282
I updated the description of #1078. It turned out that the overhead is much lower and there are no plans for work on that ticket.

Since the overhead is much lower than originally suspected and it would be significant amount of work to introduce a mode where incremental compilation is disabled I don't think we'll work on that.

[2014-04-25 11:12] gkossakowski opened #1287 "Remove resident compiler infrastructure"
Inspired by: http://stackoverflow.com/questions/23278316/experimental-support-for-keeping-the-scala-compiler-resident-with-sbt-resident-l

The conclusion from our experiments with resident compilation is that the feature is very difficult to implement (due to Scala compiler being not designed for that use case). The benefit of resident compilation turned out to be much smaller than anticipated.

F

[2014-04-25 12:01] jsuereth commented on #1282
So the overhead is ~2-10% for most projects it appears.  I'd still be willing to accept a patch with some mechanism to disable incremental compilation, but for now this is a won't fix.

[2014-04-25 12:01] #1282 closed, assigned to nobody

[2014-04-25 14:36] tuxdna commented on #1044
I couldn't figure out how to fetch and print the list of files in classpath from a Task ( SBT Scala API ).

Can you help me in this [task](https://stackoverflow.com/questions/23296064/sbt-print-dependency-classpath-for-use-in-an-environment-variable)?

[2014-04-25 14:59] jsuereth commented on #752
@cambler If you get me a test case reproduction, I'll see if I can fix it.

[2014-04-25 16:45] jannic commented on #1191
This issue seems to be not completely fixed. I sometimes get ivys which contain the e:sbtTransformHash tag without a corresponding namespace definiton in the xml header. In that case, the resulting ivy can not be used with ivy.install, as in the original report.

Unfortunately, I don't understand why or when this happens, exactly. But I was able to find a minimal test case: Create a new project wi

[2014-04-25 17:50] jsuereth commented on #1117
It looks like the disbling of resolvers is still an issue in launcher ivy. I'm working on a test for this so we can prevent it from happening again/fix the issue

[2014-04-25 18:22] jsuereth commented on #1117
For someone who has the issue, can you send me your ~/.ivy2/cache/*/ivydata-<version>.properties file for the artifact you see the issues on? I'm unable to reproduce locally.

[2014-04-27 13:45] pemistahl commented on #1271
FYI: I had the same problem when I upgraded to sbt 0.13.2 and got the same error messages. The suggestion of @jsuereth worked for me. After deleting the respective directories, sbt 0.13.2 compiled my project just fine, even with Scala 2.11.

[2014-04-27 20:26] eed3si9n opened #1293 "[0.13.1] High CPU usage while exiting sbt console"
Originally posted to dispatch-scala as [High CPU usage while exiting sbt console strikes back](https://groups.google.com/d/msg/dispatch-scala/lqnRvrx-6ok/gapvUh-v0FAJ).
## steps

[code]

Then go into console:

[code]
## problem

`sys.exit` goes into infinite loop as CPU takes up all attention.
If you hit `Ctrl-D` instead, the screen freezes, but no high CPU%.
## expectation
1. console exits normal

[2014-04-27 23:12] Miuler opened #1294 "sbt not run shell"
when I run shell, never comes

[2014-04-27 23:14] eed3si9n commented on #1294
Hi Miuler, sbt project uses GitHub issues as internal todo list.
Please see https://github.com/sbt/sbt/blob/0.13/CONTRIBUTING.md for places to get help.

[2014-04-27 23:14] #1294 closed, assigned to nobody

[2014-04-28 07:52] choedl commented on #1117
Hi, I'd like to help, but I don't understand your request.

What I see is the following:
$ ../tools/sbt-0.13.1/bin/sbt
Getting org.fusesource.jansi jansi 1.11 ...
:: retrieving :: org.scala-sbt#boot-jansi
        confs: [default]
        1 artifacts copied, 0 already retrieved (111kB/120ms)
Getting org.scala-sbt sbt 0.13.1 ...
downloading http://mynexus.net/content/groups/mygroup/org/scala-sbt/sbt

[2014-04-28 11:27] jsuereth commented on #1117
Ok, so if you could run:

[code]

[2014-04-28 11:45] jsuereth commented on #1271
We're actually noticing forward-compatibility reports between the sbt 0.13.1 launcher and sbt 0.13.2.   I'm still investigating, but it could be some of the changes are leading to inconsistent caches. Right now the workaround I listed above is best.   In the future, I'll try to set up some kind of "upgrade" test for new versions before issuing a final release.

[2014-04-28 12:07] choedl commented on #1117
Thanks for the clarification. Here's the output:

[code]

[code]

[code]

[code]

[2014-04-28 12:24] jsuereth commented on #1117
It looks like your nexus is giving you a bum ivy.xml file.   In fact, the nexus URL looks wrong to begin with (it's a maven URL, not an ivy URL), so something is borked.

Here's what you should see:

[code]

Notice above the list of dependencies, including one on scala and compare to the empty one you have.

[code]

SO, how is your nexus configured?  It looks like you'll need to do some additonal

[2014-04-28 12:40] choedl commented on #1117
Yeah, it looks like there is a big problem with nexus.
It's interesting that we did not have a problem with sbt starting from 0.7.x up to 0.13.0 (the ivy-0.13.0.xml looks like the one you showed - with different versions of course). And we always used nexus.

I'll have a look at our nexus configuration.

[2014-04-28 12:48] jsuereth commented on #1117
That's very interesting, actually.  I can't recall any changes to how we post ivy since 0.13.0....

[2014-04-28 12:48] jsuereth commented on #1117
Oh, also, if you find anything out, I'd love to add it to our documentation on proxies.  We should probably have a section on how to configure Nexus/Artifactory since those are the two popular proxies.

[2014-04-28 12:56] claudenobs opened #1297 "Scala Interpreter unusable in cygwin"
Versions:
CYGWIN_NT-6.1 1.7.28(0.271/5/3) 2014-02-09 21:06 x86_64 Cygwin (using bundled mintty & bash)
Sbt installer 0.13.2
Java JDK 1.7.0_40

[code]

[2014-04-28 13:13] jsuereth commented on #1297
Yet another issue with Jline version incompatibilities.   Scala shades jline and doesn't accept the appropriate flags for configuration.

You're using the sbt 0.13.2 msi?  If so, you may need to actually use cmd.exe to work around this, or bump the version of Scala.   When scala was still using shaded jline, there was no possible way to get both the sbt console + the scala console working together

[2014-04-28 13:14] aloiscochard commented on #1184
@gkossakowski @jsuereth any news on this?

[2014-04-28 13:20] claudenobs commented on #1297
yeah cmd.exe works fine. but suggesting using cmd.exe feels like go back and redo your multi million loc software project in assembler... so thanks but no thanks. :)

well i'm just starting with scala (actually this is a project from an online course, and looking at the output of sbt it seems to config scala to 2.10.1 & sbt to 0.12.4... not sure though)

however running `eval System.setProperty("j

[2014-04-28 13:22] claudenobs commented on #1297
yes this is using the 0.13.2 msi

[2014-04-28 13:23] jsuereth commented on #1297
"Detect it's running inside cygwin"  A: "One does not simply walk into mordor".

Actually, that's not a bad idea.  We already have some detection in various places.  The issue with doing it automatically is that not all terminals (for windows) are created equal.  Still, a patch around that would be more than welcome.

[2014-04-28 13:45] choedl commented on #1117
I found a workaround.
Set sbt version in build.properties to 0.13.1 and use sbt 0.13.0 runner to get the sbt 0.13.1 artifacts. After that, I can use the sbt 0.13.1 runner :-)

[2014-04-28 14:04] jsuereth commented on #1117
So something between 0.13.0 and 0.13.1 broke things?  That helps narrow it down, but still not enough info.

[2014-04-28 14:41] gkossakowski commented on #1184
Hi @aloiscochard! The log you posted doesn't include output from ClassfileManager :-/
I'm wondering whether your build is a multi-project build and you configure logging for some other subproject from the one that crashes?