[2018-04-20 18:14] tpolecat commented on #4109
A workaround is

[code]

As observed by @retronym [here](https://github.com/sbt/sbt/issues/3661#issuecomment-338897918).

[2018-04-20 21:49] sarahgerweck commented on #4109
Thanks for workaround: also running into this.

[2018-04-20 23:57] kolotyluk commented on #4104
Looking at the sbt.bat, it's is not clear that is the problem. It seems to be aware of Java 9, but is still broken. It's not clear if this has ever been tested. Here is the sbt.bat from my 1.1.4 release.

[sbt.zip](https://github.com/sbt/sbt/files/1933949/sbt.zip)

[2018-04-21 03:17] jessicah commented on #4104
I had to fix locally with same version. I've also submitted pull request to
the installer repo. It's the version check line is only one missing double
quotes.

On Sat, 21 Apr 2018, 11:57 AM Eric Kolotyluk <notifications@github.com>
wrote:

[2018-04-21 10:35] eximius313 commented on #4069
Did you managed to reproduce the problem from the sample?

[2018-04-21 12:16] milessabin commented on #4109
I also see this on linux, konsole.

[2018-04-21 14:49] fommil commented on #2534
will be solved by  https://github.com/sbt/sbt/issues/2899

[2018-04-22 15:51] OlegYch opened #4111 "Reuse more classes between non-forked runs"
## steps
default setup, run a main class or tests

## problem
on every run a new classloader is created with all of classpath (except for scala-library according to this https://github.com/sbt/sbt/issues/4039 )
this wastes metaspace and discards jit results between runs

## expectation
as much as possible is reused, perhaps only build products are loaded in new classloader on each run, and the res

[2018-04-22 18:19] OlegYch opened #4112 "JUnitXmlReportPlugin leaks"
## steps
default config, run tests a few times

## problem
metaspace usage keeps growing, because `JUnitXmlReportPlugin` uses threadlocals to keep reference to test events and those are not normally garbage collected leaving all of classpath in memory

## expectation
metaspace usage remains constant after each test run

## notes
workaround:
[code]
sbt version: 1.1.4

[2018-04-22 19:18] OlegYch commented on #4039
i'd suggest going the opposite way https://github.com/sbt/sbt/issues/4111
reusing jvm without reusing classloaders has little to no benefit, and the libs which abuse classloaders tend to abuse other parts of jvm making it non-reentrant https://github.com/OlegYch/blog/blob/master/sbt-fork.md

[2018-04-22 19:18] OlegYch commented on #3983
i've written a bit about debugging this https://github.com/OlegYch/blog/blob/master/sbt-fork.md

[2018-04-23 05:49] dwijnand commented on #4104
assuming the root cause here is the same, it's fixed in https://github.com/sbt/sbt-launcher-package/pull/228, by @jessicah! coming in sbt 1.1.5.

[2018-04-23 06:00] dwijnand commented on #4095
here's some more thoughts:

not all task return values are always interesting, for instance `compile` has an Analysis, that's probably a waste of CPU and bandwidth to serialise down the line every time.

so maybe (not sure) we _should_ introduce a `sbt/task` request, and that one returns the json value. maybe we should unify to `sbt/key` so it does setting keys too. (I think @olafurpg mentioned so

[2018-04-23 06:39] olafurpg commented on #4095
I agree tasks like `compile` are less interesting for `sbt/task`. The main ones I'm personally interested in are

- `dependencyClasspath`
- `scalacOptions`
- `sources`
- (maybe) `updateClassifiers`

Those should be fine to serialize to JSON.

[2018-04-23 06:48] olafurpg opened #4113 "sbt server does collectAnalyses on initialize"
Followup from #4110

## steps

Connect to sbt server in a freshly cloned repo like https://github.com/non/spire

## problem

sbt server runs `collectAnalyses` during the `initialize` handshake, triggering compilation in all projects + platforms locking my sbt shell for a few minutes.

## expectation

I expect sbt server not to trigger `collectAnalyses` during the `initialize` handshake. A client c

[2018-04-23 07:15] dwijnand commented on #3845
fixed by @eatkins in https://github.com/sbt/sbt/pull/4098. coming in sbt 1.1.5.

[2018-04-23 07:15] #3845 closed, assigned to nobody

[2018-04-23 07:17] dwijnand commented on #3863
I think so too.

[2018-04-23 07:17] #3863 closed, assigned to dwijnand

[2018-04-23 07:17] dwijnand commented on #4102
@eed3si9n how is this solved?

[2018-04-23 07:18] dwijnand commented on #4100
https://www.scala-sbt.org/support.html

[2018-04-23 07:18] #4100 closed, assigned to nobody

[2018-04-23 07:20] dwijnand commented on #4111
interesting idea!

[2018-04-23 07:20] dwijnand commented on #4111
I'd be interested to see if any experimentations on large enough classpaths yield significant performance improvements.

[2018-04-23 07:35] dwijnand commented on #4105
in order to upgrade your build to sbt 1.1.4 you need to change the `sbt.version` in `project/build.properties`. the fact that it's still referring to 1.0.3 indicates (to me) that it's still using sbt 1.0.3.

try that.

[2018-04-23 07:35] #4105 closed, assigned to nobody

[2018-04-23 07:36] dwijnand commented on #3961
Duplicate of #3570

[2018-04-23 07:36] #3961 closed, assigned to nobody

[2018-04-23 13:07] laughedelic commented on #4091
#4093 fixed the first problem and had a comment about the second one:

The general structure of these event logging code is unclear to me, but I think the pragmatic solution without too much refactoring would be to ensure that any message/event that has a channel field, goes only to that channel.

[2018-04-23 14:26] kolotyluk commented on #4105
DOH!

When IntelliJ created the SBT project, it put 1.0.3 in there for some reason. project/build.properties is another one of those "out of sight, out of mind" traps.

Thanks for the tip.

[2018-04-23 14:34] xuwei-k commented on #4109
Maybe regression in <del> https://github.com/sbt/sbt/issues/4109 </del> #4082

sbt 1.1.3 works

[2018-04-23 15:14] eed3si9n commented on #4109
Thanks for the reproduction steps.
It seems like a duplicate of https://github.com/sbt/sbt/issues/3482, which I intended to fix in 1.1.4 with https://github.com/sbt/sbt/pull/4082, but apparently I managed to break it in cases where it wasn't previously broken.

[2018-04-23 15:17] eed3si9n commented on #4109
I am going to close this to consolidate to #3482.

[2018-04-23 15:17] #4109 closed, assigned to nobody

[2018-04-23 17:10] dhinojosa commented on #4055
Grr. Still not working

[2018-04-23 20:33] eed3si9n commented on #4055
Hopefully https://github.com/sbt/sbt-launcher-package/pull/227 passes the tests.

[2018-04-24 05:28] dennisheperol commented on #4055
I'm having the same error except I'm actually using Java 8, this is probably related?

![powershell_2018-04-23_23-22-28](https://user-images.githubusercontent.com/9365457/39167699-d278daa4-4790-11e8-9d81-690e1d906130.png)

[2018-04-24 08:45] dwijnand commented on #4109
(Side note: instead of re-opening and re-targeting issues that were part of a release, new issues (like this one) should be used in my opinion. Issues are free and can link to prior discussions and older tickets in shipped releases.)

[2018-04-24 08:47] dwijnand commented on #4105
Interesting, I've never created an sbt project from within IntelliJ. Perhaps you could give that feedback and maybe they can make the selection more prominent. For sbt itself you can use the `about` command to get sbt information.

[2018-04-24 08:53] #4112 closed, assigned to OlegYch

[2018-04-24 11:49] ghost commented on #3108
We have massive problems with bintray, too (routing / availability) and our CI is failing too. Is it possible to host the important sbt artifacts on another repository where this stupid restrictions don't apply? (maybe maven central?)

[2018-04-24 15:36] dwijnand opened #4116 "Potential further optimise build (re)load speed with some NIO"
In optimising PR https://github.com/sbt/sbt/pull/4067 @fommil [mentioned](https://github.com/sbt/sbt/pull/4067#issuecomment-380580693):

I started applying that in https://github.com/sbt/sbt/pull/4094, but ran out of steam. It was failing CI due to missing files.

Mentoring Instructions:

1. See the changes in https://github.com/sbt/sbt/pull/4094 and the CI validation failures in https://travis-ci

[2018-04-24 16:58] jmthibault79 commented on #4027
I can reproduce it in 1.1.2, 1.13, and 1.1.4 via https://github.com/jmthibault79/sbt-4027

[2018-04-24 17:03] littlenag opened #4117 "Unparsable control characters in graph.json breaks cached-resolution feature"
(See the guidelines for contributing, linked above)

## steps

Ensure you have enabled cached-resolution for your build:

[code]

As followed from: https://www.scala-sbt.org/1.x/docs/Cached-Resolution.html

We then run sbt.

## problem

For some of our projects the generated graph.json file will contain content that looks like the following:

[code]

The relevant part is the "©" character. When pa

[2018-04-24 17:05] littlenag commented on #4117
For now our work-around is to disable cached resolution.

[2018-04-25 03:08] eed3si9n commented on #4102
Sorry I guess I didn't publish it when I shipped 1.1.4.
It should be out now.

[2018-04-25 03:08] #4102 closed, assigned to nobody

[2018-04-25 03:15] eed3si9n commented on #4111
To potential contributor: sbt emulates `run` as a function call on a separate classloader from the build. Much of the necessary information should be located inside https://github.com/sbt/sbt/blob/1.x/run/src/main/scala/sbt/Run.scala.
There's a other part that does the whole thing in the background (aka `bgRun`), which is in https://github.com/sbt/sbt/blob/1.x/main/src/main/scala/sbt/internal/Defa

[2018-04-25 03:24] eed3si9n commented on #4113
+1 from me. My initial demo usage for sbt server was to make it a lightweight VS Code backend, and at some point it got hardcoded into initialization. But I agree it would be good to get it out of the initial handshake. Maybe fold it into `compile`?

[2018-04-25 07:07] olafurpg commented on #4113
I don't know the details of what `collectAnalyses` does. From my perspective, sbt server provides a generic solution for clients to trigger tasks and commands via `sbt/exec`. I would leave it to clients to decide what to do.

[2018-04-25 08:02] chorandrey commented on #3948
@jedesah might [this plugin](https://github.com/spray/sbt-revolver) be solution/convenient workaround for you?

[2018-04-25 09:35] tindzk opened #4118 "Packaged JAR file not re-generated if deleted"
## Configuration
[code]

## Steps
1. Run `packageBin`
2. Delete the `lib/build.jar` file
3. Run `packageBin`

## Problem
The `lib/build.jar` file is not re-created.

## Workaround
Remove `target/streams/compile/packageBin/$global/streams/output`.

## Notes
sbt version: 1.1.4

[2018-04-25 10:33] dwijnand commented on #4111
I think not, because of the performance implications and the lack of out-the-box automated performance analysis.

[2018-04-25 10:40] dwijnand commented on #4118
This one looks like a fun one to tackle.

[2018-04-25 10:43] dwijnand commented on #4113
Only if it's negligible cost to all other non-LSP, direct and indirect users of `compile`.

[2018-04-25 15:37] allanrenucci opened #4121 "Exception in run leaks sbt stack trace"
## Configuration
Any sbt project with a main method that exits with an uncaught exception
[code]

## Steps
[code]

## Expectation
In sbt 0.13.17:
[code]

sbt shouldn't log anything after
[code]

## Notes
This behavior is particularly noisy when a program exits with `sys.exit(-1)` where my expectation is that no stack trace should be printed at all.

sbt version: 1.1.4

---

# Mentoring Instruction

[2018-04-25 15:54] jedesah commented on #3948
@chorandrey Yes, I think that would work! Thx for pointing it out! Now that I think of it, I think I've used it in the past but I forgot the name of it which is what made so frustrating to not be able to get back to that same workflow! Thx again!

I still think it would be reasonable for this to be natively supported so I'll leave this open and let a maintainer close it if they just don't want to

[2018-04-25 19:38] eed3si9n commented on #3482
### sbt 1.1.3 + Scala 2.12.4

Testing with

[code]

Nothing I type into REPL shows up on the terminal.

### sbt 1.1.3 + Scala 2.12.5

`console` displays normally. I can run `console` twice and JLine still works.

### sbt 1.1.3 + Scala 2.12.3

`console` displays normally. I can run `console` twice and JLine still works.

### sbt 1.1.4 + Scala 2.12.4

`console` displays normally. I can run `console`

[2018-04-25 21:05] eed3si9n commented on #4109
https://github.com/sbt/sbt/pull/4123

[2018-04-25 21:31] margussipria commented on #2056
I would like this as well, i would like to setup docker container before all tests, map random port to example Postgres service, and then pass that port to every test suite to use. With docker start I could setup my own configuration, run all the migrations and then only clone database before suite is run.

Starting Docker in Mac is quite slow, it takes 4 to 5 seconds to get everything ready (in L

[2018-04-26 01:43] eed3si9n commented on #1502
@jastice suggested allowing additional global directories. That probably would get things done with least amount of hassle.

[2018-04-26 02:10] laughedelic commented on #1502
I guess everybody here is already aware of it, but just for the record, the @Duhemm's [load-plugin](https://github.com/scalacenter/load-plugin) project achieves somewhat similar to the original `apply-plugin` proposal and I think it fits exactly @jastice's requirements:

[2018-04-26 06:00] #3482 closed, assigned to eed3si9n

[2018-04-26 08:08] ochrons commented on #3972
I got the same issue on sbt 1.1.2 when running sbt both from WSL (linux subsystem) and regular Windows. Running multiple sbt instances from Windows alone works ok.

[2018-04-26 09:09] dwijnand commented on #3972
@ochrons the (hopeful) fix for this will ship in sbt 1.2.0.

You might be able to verify with a nightly build, which I documented yesterday: https://github.com/sbt/sbt/blob/1.x/CONTRIBUTING.md#using-jenkins-sbt-snapshots-nighties

[2018-04-26 09:27] jastice commented on #1502
No I didn't know @laughedelic ! I will try this out.

[2018-04-26 10:35] aishinoharac commented on #3696
me too

I saw the post someone wrote his java command pointed to jre not jdk and it was reason proxy authentication failed. So I checked my java it was no problem.

Finally I gave up and got through it by setting local proxy to bridge PROXY with authentication.

I spent almost 2 days for this issue, very frustrated also

[2018-04-26 11:06] SIkebe commented on #3696
@aishinoharac Using Fiddler or something similar?

[2018-04-26 13:06] ochrons commented on #3972
I tried with the snapshot version (1.2.0-bin-20180423T192044), but the same problem persists. If I start sbt first under WSL and then in Windows I get.
[code]

This happens even if WSL and Win sbt are started in different projects, so it must be something in the global files that causes the conflict. Also note that WSL and Win have different `.sbt` directories.

If I use sbt 1.0.4 on the project (

[2018-04-26 13:09] dwijnand commented on #3972
@cunei maybe you're best suited: if you have time, could you look at the above, please?

[2018-04-26 14:11] dwijnand commented on #3469
Can someone provide a minimised reproduction of this?

Or, even better, tell me if it's still relevant if your main build is in sbt 1?

Here's my attempt:

**build.sbt**

[code]

**project/build.properties**

[code]

**project/plugins.sbt**

[code]

**src/sbt-test/sbt-rebridge/test1/Main.scala**

[code]

**src/sbt-test/sbt-rebridge/test1/project/plugins.sbt**

[code]

**src/sbt-test/sbt-rebridge/t

[2018-04-26 14:14] ochrons commented on #3972
I did some further investigation and the scala-xml seems to have been triggered partly because of IntelliJ running at the same time. Without IntelliJ the sharing violation occurs with the sbt jar itself.

[code]
Same with 1.1.4

In WSL I have
[code]
on Win side I have
[code]

EDIT: Same result with the latest jre8-172 version, except now the SHARING VIOLATION is again the scala-xml jar... Weird st

[2018-04-26 14:57] xmariachi commented on #3618
This workaround works strangely for me: first time does not, second time works. This is very ugly - especially for a Docker installation I'm preparing.

I apply the workaround proposed here.

My dependency line:

    "javax.ws.rs" % "javax.ws.rs-api" % "2.1"

I begin with non-existent   ~/.ivy2/cache/javax.ws.rs/javax.ws.rs-api directory.

First time I run it, I still get the error:

    $ sbt ass

[2018-04-26 15:21] eparejatobes opened #4125 "-opt:l:inline breaks incremental compilation"
Given

[code]

changes in `x` above after a successful compilation will not propagate to `z`; if we make `def x = 3` then we will have `z == 3`, not `4`.

I'm aware of the [2.12 Release Notes](https://www.scala-lang.org/news/2.12.0/) stating that

but IMHO mentioning it upfront doesn't make it less of a bug: either incremental compilation works correctly when inlining is enabled (which it should),

[2018-04-26 15:45] fommil commented on #3469
it's not a minimisation, but I am definitely still seeing this, e.g. grep for `compiler-bridge` in the latest https://travis-ci.org/ensime/ensime-sbt

[2018-04-26 15:54] dwijnand commented on #3469
For the record: ensime-sbt is currently an sbt 1.1.4 build that cross builds to 1.1.4 and 0.13.17 (latest of all 🎉).

[2018-04-26 16:00] dwijnand commented on #4125
Duplicate of https://github.com/sbt/zinc/issues/227?

Alternatively could you provide, please, a minimal-but-complete reproduction? For instance sbt version, scala version, scala options, the test, etc. Following our [ISSUE_TEMPLATE](https://github.com/sbt/sbt/blob/1.x/ISSUE_TEMPLATE.md), ideally 😀.

[2018-04-26 16:24] #4089 closed, assigned to eed3si9n

[2018-04-26 16:25] #4079 closed, assigned to eed3si9n

[2018-04-26 19:09] eparejatobes commented on #4125
That one looks a particular side-effect of "does not track dependencies introduced by inlining" related with singleton types and final vals being always inlined by the type checker. This is something wider: you simply cannot trust the incremental compiler *at all* when using the 2.12 optimizer.

There you go, not just that but a dedicated repo:

- https://github.com/ohnosequences/sbt4125/blob/c316

[2018-04-27 00:34] cunei commented on #3972
@ochrons, in the picture the access information is partially outside the frame; would you please be able to take a snapshot of the desired access that is listed, and any other access information that the tool is reporting at that point? Thanks!

[2018-04-27 00:47] aishinoharac commented on #3696
@SIkebe Squid. easier than Apache i think. only 1 minute to set up.

[2018-04-27 01:56] SIkebe commented on #3696
@ardeleanasm Thanks!

[2018-04-27 07:18] ochrons commented on #3972
All the files that were opened were requested with the same shared read access,

[code]

Here's a full dump of all file access that happens in the ivy2 folder before the failure
[code]

[2018-04-27 13:52] frosforever commented on #4020
FWIW I ran into this issue when I had a `build.sbt` in the project root and then another `build.sbt` in a module directory. Calling `.value` on a `TaskKey` in the module `build.sbt` would error out. I fixed it by importing `sbt._` in the module `build.sbt`. This was using `0.13.16`

[2018-04-27 14:04] dwijnand commented on #4020
Can you provide a minimal-but-complete reproduction of the issue?

[2018-04-27 18:06] LianaN opened #4127 "java.lang.NoSuchMethodError: akka.pattern.AskableActorRef"
##sbt version: 1.0.4

##problem
I successfully assembled the Jar file. When I run this Jar file from terminal (`scala /path/to/jar`), I get the error:

`    java.lang.NoSuchMethodError: akka.pattern.AskableActorRef$.$qmark$default$3$extension(Lakka/actor/ActorRef;Ljava/lang/Object;)Lakka/actor/ActorRef;`

I assume that the incorrect version of Akka is picked during the assembly process, but I am n

[2018-04-28 03:07] eed3si9n commented on #4127
We use GitHub issue mostly to track bugs and tasks on sbt development. If you need help, please check this out - https://www.scala-sbt.org/support.html

[2018-04-28 03:07] #4127 closed, assigned to nobody

[2018-04-29 06:55] eed3si9n commented on #4101
@pmeheut Thanks for the report.

I am seeing the error using `scalac`:

[code]

so I think this is a Scala problem. Please resubmit this bug to https://github.com/scala/bug/issues

[2018-04-29 07:25] eed3si9n commented on #4103
I can't reproduce this problem.

[2018-04-29 07:35] eed3si9n commented on #4069
@eximius313 Thanks for the report.
I think I had reproduced it before, but forgot to report it here. I just downloaded it again, and was able to reproduce the issue in sbt 1.1.4 as well.

I wonder if there's some problem with the `run` or somehow the resolved JARs became different from that of Gradle.

[2018-04-30 09:36] DavidPerezIngeniero opened #4134 "StackOverflowError in consoleProject"
- [x] I've read the [CONTRIBUTING](https://github.com/sbt/sbt/blob/1.x/CONTRIBUTING.md) guidelines

## steps

[code]

## problem

I cannot use the `consoleProject` command

## expectation

I expect to have an usable console.

## notes

Linux 64 bits
Java 8
sbt version: SBT 1.1.2

I think there is infinite recursion.

I can provide privately my project build configuration, if necessary.

[2018-04-30 10:25] #3624 closed, assigned to nobody

[2018-04-30 10:33] DavidPerezIngeniero commented on #4134
The only special thing I see in my project is that I have 2 `.sbt` files.

[2018-04-30 10:35] dwijnand commented on #4134
We'd need some kind of reproduction to be able to move this forward. Accepting it privately makes it cumbersome, as it's dissociated from this issue :-/

[2018-04-30 15:02] mosesn commented on #3858
I agree, this is really confusing.  I spent a while experimenting to try to publish a 1.1 version for https://github.com/twitter/scrooge/pull/291 until I was pointed here by a [stackoverflow answer][0].  If you really think it's too late for 1.x, let's at least support 2.x going forward.

[0]: https://stackoverflow.com/a/50083145/284648

[2018-05-02 02:04] eximius313 commented on #4069
@eed3si9n I have no idea... Is there something I can do to help you identify the problem?

[2018-05-02 07:19] DavidPerezIngeniero commented on #4134
[my-build.zip](https://github.com/sbt/sbt/files/1966232/my-build.zip)
Here is my build configuration.

[2018-05-02 07:24] dwijnand opened #4138 "TagsTest failure in CI"
- [x] I've read the [CONTRIBUTING](https://github.com/sbt/sbt/blob/1.x/CONTRIBUTING.md) guidelines

In https://github.com/sbt/sbt/pull/4137 we just had an unrelated failure in `sbt.TagsTest` in https://travis-ci.org/sbt/sbt/jobs/373770686:

[code]

[2018-05-02 11:42] eparejatobes commented on #4125
*Copying here the relevant portion of the link above; see [ohnosequences/sbt4125](https://github.com/ohnosequences/sbt4125) for more*

## steps

Open a shell and

[code]

Now run `sbt` on a different shell and do `~test`. Once it runs for the first time,

[code]

Take a look at the test passing, and the definitions of `x` and `y`.

## Problem

Incremental compilation when used together with the op

[2018-05-02 13:45] eed3si9n commented on #4125
@eparejatobes Thanks for the report and reproduction.

[2018-05-02 13:55] eed3si9n commented on #4125
I wasn't able to follow the instruction exactly:

[code]

but I got the gist of what's going on from manually changing:

[code]

to

[code]

[2018-05-02 14:13] eed3si9n commented on #4069
Here are the difference in the way the dependencies resolved:

[code]

[code]

Note that imageio-core is missing from sbt, which I haven't check if it's a bug or expected.
Adding

[code]

seems to get the program to run at least.

[2018-05-02 14:13] eparejatobes commented on #4125
My fault, forgot to push the tags; it should work now.

yes, that's it. I can understand that fixing this would involve considerable work in zinc; I think then that there should be a way (however hackish) of disabling incremental compilation. Note that (as this example shows) I could perfectly publish bytecode wildly different from what the source should generate.

[2018-05-02 14:19] eed3si9n commented on #4125
It can't be too difficult to invalidate everything whenever the flag is present, and show a warning saying "oh snap. you have inline flag on. we can't handle this."

[2018-05-02 14:31] eed3si9n commented on #4125
I've reported also to https://github.com/sbt/zinc/issues/537

[2018-05-02 22:47] isaias-b commented on #3187
I had this issue using sbt `1.1.4`. `clean` and `compile` didn't help as well. But in my case i was able to figure out the problem, or at least resolve it differently:
[code]
This bug occurred after bumping several dependencies on one of my projects. After investigating the [akka http changelogs for version `10.1.0` and `10.1.x`](https://akka.io/blog/news/2018/03/08/akka-http-10.1.0-released) I go

[2018-05-03 18:30] ekrich opened #4140 "sbt new firewall issues"
`sbt new` seems to be gaining usage so we have seen the same problem in the last 2 days. I am just reporting so I am not having this problem.

The first problem occurred on a Mac behind a corporate firewall.
[code]

The second problem gave the same error as well.

The first person found that there where not able to `clone` using `git` but `https` worked.
[code]
[code]

It seems that `sbt new` defa

[2018-05-03 22:04] eed3si9n commented on #1502
I haven't tried load-plugin, but if the main use case is for IDE support and Language Server injection, wouldn't it be faster if the program launching sbt can specify the plugin(s) from the beginning?

Suppose we had:

`sbt -Dsbt.vendorglobal.base=/something/IDE/sbt1/`

IDE or editor plugins could just invoke that, and guarantee that the plugin gets loaded by the time sbt session is up and running

[2018-05-03 22:08] laughedelic commented on #1502
No, if there is already running sbt server in the project, an IDE/LS wants to connect to it (not launch a new sbt instance which is very slow), load its plugin if needed and run necessary setup commands.

[2018-05-04 03:13] retronym commented on #4039
The loaded/JIT-ted Java standard library would be at least shared, in addition to the heap.

I don't think there is a right answer in the "to fork or not to fork" question. You make a good argument that forking by default is the least surprising and makes it easiest to reason about failures.

[2018-05-04 05:43] priya-aishh commented on #3492
i am having the same problem . i m using sbt version 1.1.4
and scala 2.12 in ubuntu 16.04 .

i changed the sbt version to 1.1.4 in build.properties still i m facing the same problem

[2018-05-04 05:56] jroper opened #4141 "Odd Updating log message rendering"
In sbt 1.1.4 (not sure about other versions) I get this on startup:

    [info] Updating ProjectRef(uri("file:/home/jroper/src/lagom-microprofile/project/"), "lagom-microprofile-build")...

It looks like something is using a case classes' `toString`, rather than rendering a more fluent label, though I don't think that's the case:

https://github.com/sbt/sbt/blob/05c2c506b2b218d8ed8befcef843951391c

[2018-05-04 08:05] priya-aishh commented on #3492
I am trying to get this plugin working for the Apache Spark course here that relies on an old version of Eclipse Scala IDE 2.12 and SBT 1.1.4. but I am getting the below error with the sbteclipse-plugin on ubuntu 16.04.

[info] Loading settings from plugins.sbt ...
[info] Loading project definition from /home/hadoop1/workspace/coursera/hello-world/project
[info] Updating ProjectRef(uri("file:/home

[2018-05-04 08:09] priya-aishh opened #4142 "sbt-eclipse"
sbt =1.1.4
os =ubuntu 16.04
scala=2.12
scala IDE=4.7

I am trying to get this plugin working for the Apache Spark course here that relies on an old version of Eclipse Scala IDE 2.12 and SBT 1.1.4. but I am getting the below error with the sbteclipse-plugin on ubuntu 16.04.

[info] Loading settings from plugins.sbt ...
[info] Loading project definition from /home/hadoop1/workspace/coursera/hello-wo

[2018-05-04 08:52] dwijnand commented on #4142
We use GitHub issue mostly to track bugs and tasks on sbt development. If you need help, please check this out - https://www.scala-sbt.org/support.html

[2018-05-04 08:52] #4142 closed, assigned to nobody

[2018-05-04 09:12] dwijnand commented on #1502
Additionally it needless introduces the complexity of multiple global directories.

[2018-05-04 09:19] dwijnand commented on #4141
This change came in sbt 1.1.0, with the introduction of the unified slash syntax.

What it's saying is "Updating <project reference>", and to-stringing the project reference. `{file:/home/jroper/src/lagom/project/project/}lagom-build-build` is actually valid (pre-slash) shell syntax.

I'm not convinced the 0.13.16 format is so great. Furthermore, this format is valid, unified syntax.

So I think w

[2018-05-04 10:29] priya-aishh commented on #4142
thank you but i sorted it out actually the problem was the directory of plugin not even the version difference . When i added my plugins.sbt in the subdirectory project of my project directory , it worked .
like this PROJECR_DIR/project/plugins.sbt

[2018-05-04 17:27] danbills commented on #3849
Looks like this issue is fixed for `"early(error)"` but not `--error`:

[code]

[2018-05-04 17:57] jastice commented on #1502
@laughedelic Ideally we'd connect to a running server to save startup costs, but modifying the state of an sbt instance that is not managed by the IDE seems like it would cause unexpected behavior for the user. Also, having a server already running is not the usual case. Given this, avoiding additional state reloads for adding plugins would be helpful

[2018-05-04 23:57] eed3si9n commented on #4141
What Dale said.
I introduced `ProjectRef` notation that works in both shell and build.sbt along with the unified slash syntax. As it could be a bit confusing, in the context of "Updating ..." log, it might be better to just display the name portion.

[2018-05-05 09:51] #2679 closed, assigned to nobody

[2018-05-05 16:45] Facsimiler commented on #4055
For what it's worth, I'm seeing this error in _SBT_ 1.1.4, but I'm using _Java JDK_ 8.

Output from `java -version`:

[code]

Initial output from `sbt`:

[code]

That said, the build continues OK.

[2018-05-07 15:45] metasim commented on #4134
I'm having the same problem in `0.13.17`. Unfortunately I can't share this particular build configuration. Will followup if I isolate it.

My backtrace is a bit different:

[code]

[2018-05-07 15:48] metasim commented on #4134
Related: https://github.com/sbt/sbt/issues/2317

[2018-05-07 15:52] metasim commented on #4134
In case it's relevant, here are the loaded plugins:

[code]

[2018-05-07 16:49] eed3si9n commented on #4140
I think I fixed that in https://github.com/foundweekends/giter8/pull/313 upstream, but I am guessing that it hasn't reached sbt. See https://github.com/sbt/sbt-giter8-resolver/blob/master/project/Dependencies.scala

[2018-05-07 19:45] ekrich commented on #4140
Thanks for looking into this issue. Good news that more people are using `sbt new`.

[2018-05-08 01:46] dujunling opened #4147 "when i run sbt , it report unresolved dependency: org.scala-sbt#sbt;0.13.13: not found"
- [ ] I've read the [CONTRIBUTING](https://github.com/sbt/sbt/blob/1.x/CONTRIBUTING.md) guidelines

## steps
jenkins@abc   > sbt
Java HotSpot(TM) 64-Bit Server VM warning: ignoring option MaxPermSize=256M; support was removed in 8.0
Getting org.scala-sbt sbt 0.13.13 ...

it return

:: problems summary ::
:::: WARNINGS
                module not found: org.scala-sbt#sbt;0.13.13

        ==== local:

[2018-05-08 14:24] SethTisue opened #4148 "SessionSettingsSpec intermittently fails"
seen at https://scala-ci.typesafe.com/view/scala-2.12.x/job/scala-2.12.x-integrate-community-build/2851/

[code]

but then green again in 2852 with the same SHAs, so apparently intermittent

[2018-05-08 16:11] josiah14 commented on #4103
@eed3si9n Anything I can help you with in reproduction of this issue?  It may be worth mentioning that as far as I mentioned, I did not notice this issue occurring on my Ubuntu 16.04 machine, only on my MacOS High Sierra machine...

I will clear out my ivy and coursier caches tonight on my Ubuntu laptop and check for certain whether I can reproduce this issue, there.

[2018-05-08 17:07] eed3si9n commented on #4103
Make sure you don't have repositories override - https://www.scala-sbt.org/1.x/docs/Proxy-Repositories.html

[2018-05-08 17:36] ramanmishra opened #4149 "Error while importing SBT project"
- [ ] I've read the [CONTRIBUTING](https://github.com/sbt/sbt/blob/1.x/CONTRIBUTING.md) guidelines

## steps
I created a new scala sbt project using intellij IDE.
with scala version 2.12.6 and sbt version 1.1.4

if i down grade my sbt version to 0.13.16 and 0.13.17 it works fine

## problem
Getting the following error.

[code]

## expectation
Project should build fine.

## notes

sbt version: *1.1

[2018-05-08 19:10] eed3si9n commented on #4149
@ramanmishra Thanks for the report.
1. Could you share what's in your build.sbt so we can reproduce it?
2. What are the versions of IntelliJ IDEA and IntelliJ Scala plugin that you are using?

/cc @jastice

[2018-05-08 19:11] eed3si9n commented on #4148
Sorry about that. I'd be happy to comment them out until we figure out what's happening.

[2018-05-08 19:17] SethTisue commented on #4148
some projects have provided a flag we can set to disable known-flaky tests, or have segregated flaky tests in a separate project that we can disable

[2018-05-08 19:57] eed3si9n commented on #4147
sbt 0.13.13 is hosted on an Ivy layout repository, so you need another resolver like `  my-ivy-proxy-releases: http://repo.company.com/ivy-releases/, [organization]/[module]/(scala_[scalaVersion]/)(sbt_[sbtVersion]/)[revision]/[type]s/[artifact](-[classifier]).[ext]` described in https://www.scala-sbt.org/0.13/docs/Proxy-Repositories.html.

If you need more help, please check this out - https://ww

[2018-05-08 19:57] #4147 closed, assigned to nobody

[2018-05-08 20:38] DanielGGordon commented on #911
I believe I just had my quotes wrong, but this works for me: `sbt testOnly com.my.class..`

[2018-05-09 04:42] mmynsted commented on #3977
Yes.  I found the same issue and it is frustrating.

[2018-05-09 10:58] jastice commented on #4149
This looks like an older version of IntelliJ is being used.
To import sbt 1.x at least version 2017.2 of IntelliJ Scala plugin is required. I recommend upgrading to 2018.1.

[2018-05-09 13:52] MateuszKubuszok commented on #3879
I would say it is easy to overlook the `section Bintray for sbt plugins` - when I was reading about sbt plugins nothing indicated that it something more than courtesy of Bintray's part. Since I already had Sonatype repo I though I could simply reuse it. Only after release I learnt about the issues with this approach.

Maybe a mention in the publishing section would help? One that clearly states th

[2018-05-09 17:33] ramanmishra commented on #4149
intellij version 2017.2.2 scala plugin version 2017.2.11 and sbt 1.1.4 scala version 2.12.6
i have also tried it on intellij 2018.1 but it still gives the same error.

[2018-05-09 17:37] jastice commented on #4149
Please upgrade to 2018.1 or at least 2017.2.11, the earlier 2017.2 versions have some issues

[2018-05-09 17:40] ramanmishra commented on #4149
Ok i will do that and let you know if it solved the problem. thank you

[2018-05-09 17:49] ramanmishra commented on #4149
it solved the problem we can close the issue thank you!!. If you don't mind i would like to know what was the issue with the previous version? why it was not working fine with it can you please tell me.

[2018-05-09 17:54] jastice commented on #4149
The support for sbt 1.0 was not finalized for the initial release code freeze of 2017.2 so the necessary supporting files weren't included yet.

[2018-05-09 21:32] eed3si9n commented on #4149
Thanks @jastice for jumping in and helping @ramanmishra

[2018-05-09 21:32] #4149 closed, assigned to nobody

[2018-05-09 22:24] eed3si9n commented on #2056
For anyone looking for global setup, `test` task across all subprojects, global cleanup, here's a way of solving this.

[code]

[2018-05-10 06:00] som-snytt commented on #3123
In REPL:
[code]

[2018-05-10 06:10] SethTisue commented on #3893
seen again at https://scala-ci.typesafe.com/view/scala-2.12.x/job/scala-2.12.x-integrate-community-build/2857/consoleFull

[2018-05-10 13:45] chEbba commented on #1380
Made a workaround with
[code]
`sbt.librarymanagement.MakePomConfiguration` contains an optional list of configurations which should be kept in pom and it's empty by default, so all unknown configurations go to compile (empty).
https://github.com/sbt/librarymanagement/blob/c9e4ace8dee2b0e4a2eec5b4daba73d71e7f543d/ivy/src/main/scala/sbt/internal/librarymanagement/MakePom.scala#L493

Can we enable th

[2018-05-10 18:04] SethTisue commented on #4148
seen again today

[2018-05-11 13:57] jamesporritt commented on #3696
I set up mitmproxy between myself and my proxy to see the traffic flow. I was careful to set the settings above and the maven proxy settings and ensured there were no env vars. When I do an 'sbt new' on a project that requires fetching some maven dependency, I see the github traffic go through mitmproxy fine, but then sbt exits with:

Unknown exception: Connection to https://repo1.maven.org refuse

[2018-05-11 21:52] JoeNunnelley commented on #3514
I am having this issue with scala 2.11.6 and sbt version 1.1.5  I've updated a plugin from using sbt 0.13.8 to use 1.1.5 (also tried 1.1.2) and resolved all the failing dependencies that unearthed. All expect one. It appears this issue is still alive.  Here is my output from `sbt update`

```[error] (update) sbt.librarymanagement.ResolveException: unresolved dependency: org.scala-sbt#scripted-plug

[2018-05-12 04:42] timcharper opened #4153 "SBT JUnitXmlTestsListener is missing a timestamp field"
- [x] I've read the [CONTRIBUTING](https://github.com/sbt/sbt/blob/1.x/CONTRIBUTING.md) guidelines

## steps

[code]

Compare `target/junit/TEST-repro.ReproTest.xml` and `target/test-reports/repro.ReproTest.xml`. Note the former has a timestamp field, but the latter does not.

[code]

## problem

Timestamp is missing in the report generated by the default JUnitXmlReportPlugin; Jenkins (and other C

[2018-05-12 04:58] eed3si9n commented on #4153
The expectation seems reasonable, esp if that's what Jenkins expects.

[2018-05-12 05:15] timcharper commented on #4153
It doesn't look like there is a value we can use in `sbt.testing`; maybe we can just grab the current time when calling `startGroup`, pass to TestSuite? Seem okay?

[2018-05-12 05:17] timcharper commented on #4153
(scalatest looks at the start time of the SuiteStarting event: https://github.com/scalatest/scalatest/blob/3.1.x/scalatest/src/main/scala/org/scalatest/tools/JUnitXmlReporter.scala#L157)

[2018-05-12 15:42] ErunamoJAZZ commented on #3108
I am getting the same error in debian.

[2018-05-13 12:53] Sciss opened #4155 "librarymanagement / ivy screw up "java.lang.IllegalStateException: Ivy file not found in cache for ""
[code]

I'm fighting with this every second day. I try

    $ rm -r target
    $ rm -r project/target
    $ rm -r ~/.ivy2/cache/de.sciss/scalacolliderugens*
    $ rm -r ~/.ivy2/local/de.sciss/scalacolliderugens*
    $ sbt +clean +update +publishLocal

None of this solves the bug. It's really annoying.
Tried sbt 1.1.4, 1.1.5

Build file: https://github.com/Sciss/ScalaColliderUGens/blob/55b64b7cb73d

[2018-05-13 12:59] Sciss commented on #4155
It works after a few times, so almost certainly a race condition

[2018-05-13 14:09] Sciss commented on #4155
The problem isn't even "solved" after the artifact is published. It comes back to bite you:

[code]

This is from _a different_ project now asking for the library. The files should be there:

[code]

[2018-05-13 14:11] Sciss commented on #4155
So in this case, the bug was that scalacolliderugens-plugins which depends on scalacolliderugens-core was specified, and sbt fails to get the transitive dependency. If I add scalacolliderugens-core here as well, the build proceeds.

[2018-05-14 09:56] eed3si9n opened #4156 "Recover Resolving... log under UpdateLogging.Full"
## steps

1. Run `update` under debug or `UpdateLogging.Full`

## problem

"Resolving" log is no longer available because Ivy debug logs translate to `()`.

## expectation

1. Resolving log is available under "info" level, but only when ivyLoggingLevel is set to `UpdateLogging.Full`.

## notes

Ref https://github.com/sbt/librarymanagement/pull/51

Affected code:
https://github.com/sbt/librarymanag

[2018-05-14 12:06] eed3si9n commented on #1124
To potential contributor: Likely the relevant code base is
https://github.com/sbt/sbt/blob/v1.1.5/main/src/main/scala/sbt/internal/SettingCompletions.scala#L39-L65 where `setAll` is implemented.

https://github.com/sbt/sbt/blob/v1.1.5/main/src/main/scala/sbt/Main.scala#L408-L431 might also be involved.

[2018-05-14 12:34] eed3si9n commented on #4116
See https://travis-ci.org/sbt/sbt/jobs/365337487 from https://github.com/sbt/sbt/pull/4094. `scripted project/flatten` should work.

[2018-05-14 12:36] eed3si9n commented on #4009
Ref https://github.com/sbt/zinc/pull/505

Note to potential contributor:
https://github.com/sbt/sbt/blob/v1.1.5/main/src/main/scala/sbt/Defaults.scala#L658-L661

https://github.com/sbt/sbt/blob/v1.1.5/testing/src/main/scala/sbt/TestFramework.scala#L235-L255

We should probably define an overload of `createTestLoader` that takes `Option[ScalaInstance]` and pass `None` if autoScalaLibrary is false.

[2018-05-14 13:03] cunei commented on #3059
This could be a bug in some versions of the JDK; see for instance https://bugs.openjdk.java.net/browse/JDK-8139899
I just tried locally, and all worked ok (1.8.0_171-b11):
[code]
Unless we can reproduce it with a recent JDK, this ticket can probably be closed.

[2018-05-14 14:03] #3059 closed, assigned to nobody

[2018-05-14 23:31] dwijnand commented on #4141
Given the auto-generated names of nested builds (`lagom`, `lagom-build`, `lagom-build-build`) I think we should experiment with dropping the build URI.

Alternatively should we just replace

[code]

with

[code]

?

[2018-05-14 23:31] dwijnand commented on #4141
If we can reach consensus this might be a good first issue.

[2018-05-14 23:42] dwijnand commented on #4148
There's a reference to `SessionSettingsSpec` in https://github.com/sbt/sbt/pull/3802.

However that landed in 1.1.0 (RC2) and the 2.12 community build is testing sbt 1.1.4 (as of 15 days ago).

So 🤷

[2018-05-15 01:47] jroper commented on #4141
Thinking particularly for new users that are unfamiliar with sbt, could we make it more descriptive? One thing that I remember from 6 years ago when I first encountered sbt is that I had no idea what "update" meant. Could we instead have error messages like this:

[code]

The strategy with the above rendering is to try and eliminate noise that doesn't make sense from "normal" builds. If we look at

[2018-05-15 02:21] timcharper commented on #4153
@eed3si9n worthy of note, it is also in the Junit XML spec:

https://github.com/windyroad/JUnit-Schema/blob/master/JUnit.xsd

[2018-05-15 04:37] eed3si9n commented on #4153
Fixed in https://github.com/sbt/sbt/pull/4154

[2018-05-15 04:37] #4153 closed, assigned to nobody

[2018-05-15 07:46] philliptaylorpro commented on #403
The sbt tool is literally broken out of the box when following tutorials and trying to use the "sbt new" command. This is the experience all new scala developers are facing or even those casually copying tutorials:

[code]
I don't want to sound to rude to people I've never spoken to, but I cannot stress what a serious bug this is and how it's potentially hurting Scala's adoption.

[2018-05-15 08:11] bantonsson commented on #3514
Hi @JoeNunnelley

The unresolved message you are getting is because the scripted-plugin should now be added with a `%%` for cross compiled like this `libraryDependencies += "org.scala-sbt" %% "scripted-plugin" % sbtVersion.value`. I'm not sure why the scripted plugin is in the `build.sbt` file and not in the `project/plugins.sbt` file, but maybe your `build.sbt` is for a plugin that depends on the

[2018-05-15 08:24] eed3si9n opened #4157 ""Choosing local for com.example#x_2.12;a.b.c-SNAPSHOT" warning"
This is a linker issue for https://github.com/sbt/librarymanagement/issues/172.
All discussions should take place there.

[2018-05-15 08:47] hakonhw commented on #4156
I will try to look at this one

[2018-05-15 08:54] Asamsig commented on #4081
Looking into this!

[2018-05-15 08:55] doriancodes commented on #3607
I would like to work on this :)

[2018-05-15 09:00] dwijnand commented on #4081
Looks like there are only 3 left:

[code]

[2018-05-15 09:27] eed3si9n commented on #4081
See also https://github.com/sbt/sbt/blob/v1.1.5/main-command/src/main/scala/sbt/BasicCommandStrings.scala#L188-L198

[2018-05-15 09:30] dadarakt commented on #4118
I'll try to have a go at this

[2018-05-15 09:37] ninjalama commented on #2218
I will try and look at this :)

[2018-05-15 09:45] dwijnand commented on #3607
@alodavi The Akka build has dropped the various build.sbt files, so I've created the problem in a mini setup and pushed to GitHub: https://github.com/dwijnand/t-multi-project-build.sbts

[2018-05-15 09:47] #4104 closed, assigned to nobody

[2018-05-15 09:47] dwijnand commented on #4104
1.1.5 is out!

[2018-05-15 09:56] dwijnand commented on #4118
Writing down some spoken notes:

* I think this is an sbt/sbt only change (no need to depend on the sources of sbt/io, via sbt-allsources.sh)
* My guess is this is related to non-usage, mis-usage, or a bug in sbt.util.Tracked (which is in sbt/util - so maybe you might need to depend on the sources of sbt/util 😄)

[2018-05-15 10:24] holdenk commented on #4088
If no one is working on this I'd love to take a quick crack at it :)

[2018-05-15 12:33] hodga commented on #4125
im trying this one

[2018-05-15 22:33] bkrodgers opened #4165 "brew sbt formula using URL shortener, corporate network issues"
- [x] I've read the [CONTRIBUTING](https://github.com/sbt/sbt/blob/1.x/CONTRIBUTING.md) guidelines

## steps

brew upgrade sbt
==> Downloading https://piccolo.link/sbt-1.1.5.tgz
==> Downloading from http://internal-proxy-ip/cgi-bin/blockpage.cgi?ws-session=session-id

## problem

I'm having a problem upgrading sbt through brew. It looks like the sbt formula (https://github.com/Homebrew/homebrew-co

[2018-05-15 23:02] cunei commented on #4165
Hello @bkrodgers,
We are using a URL shortener because our CDN does not offer precise per-file download statistics. The shortener simply keeps track of the number of times each release is downloaded, which is very useful for us to guide development and to assess interest in new features.
It is not clear to us why Forcepoint should categorize the site as high-risk; my guess is that it is a default

[2018-05-16 01:57] wrighton commented on #3598
I think the problem is right here:

bin/sbt-launch-lib.bash

[code]

That is an odd bit of scripting there, IMO.

[2018-05-16 04:06] rmginv commented on #4055
I'm just reiterating what MichaelJAllen said since I believe it is fairly important to really important.
[code]

[2018-05-16 08:16] dwijnand commented on #4165
Perhaps adding an alternative ("mirror" in homebrew terms, I think) URL to the formula would be a good idea for a few reasons.

[2018-05-16 08:20] cunei commented on #4165
Homebrew switched to the dereferenced URL, so those installs will not be accounted for in our download stats (nor will whose who obtain the distribution via GitHub, incidentally). See: https://github.com/Homebrew/homebrew-core/pull/27787
/fyi @eed3si9n

[2018-05-16 08:34] dwijnand commented on #4165
It wasn't merged though.

[2018-05-16 08:37] cunei commented on #4165
Right, I didn't notice

[2018-05-16 08:42] cunei commented on #4165
Yep, apparently Forcepoint identified the site type from fixed urls like "http://piccolo.link/about-polr". A report is available at: https://csi.websense.com/Report/Index/f77dc8df-5f54-4548-805f-a8e2003c21d0

[2018-05-17 03:17] djspiewak commented on #3252
Adding my two cents…

I've had issues with `cancelable in Global := true` specifically in two areas: concurrency frameworks, and unit test frameworks (e.g. specs2).  I haven't tried recently; specs2 may no longer have these issues. Basically what I was seeing was that the `InterruptedException` would get caught by some other exception handling mechanism, which would then convert it into some sort

[2018-05-17 04:10] komsit37 commented on #3519
Just want to add some info that could be useful:
1. Still got the same error in sbt 1.1.5 (java.lang.NullPointerException at okhttp3.JavaNetAuthenticator.authenticate(JavaNetAuthenticator.java:37)  when doing `sbt publish`
2. I have a multi-module projects with a custom publish task in root project. Properly disable publish in a non-publishing module fixes this issue for me.

for example i have a

[2018-05-17 06:14] eed3si9n commented on #3252
@djspiewak Were your `test` and `run` forked?

[2018-05-17 07:12] francisdb commented on #3519
Pretty crazy that this has not been fixed yet after more than a half year, anything we can do to get this going?

[2018-05-17 07:47] avdv opened #4166 "OutOfMemoryError Metaspace after upgrade to 1.1.5"
- [x] I've read the [CONTRIBUTING](https://github.com/sbt/sbt/blob/1.x/CONTRIBUTING.md) guidelines

## steps

In a Play project I tried to upgrade SBT from 1.1.4 to 1.1.5, simply changing the `sbt.version` in `project/build.properties`.

Then, in `sbt`, run

1. `clean`
2. `test`

[code]

The build starts to compile a subproject, which is used in `sourceGenerators` for the root project.

It runs th

[2018-05-17 08:22] avdv commented on #4166
Note that running the tasks individually works better, but sometimes still fails:

* `clean`
* `compile`
* `Test/compile`
* `test`

[code]

[2018-05-17 08:37] dwijnand commented on #4166
I wonder if this is related to any Scala 2.12.5->2.12.6 changes that sbt 1.1.4->1.1.5 brings. Like https://github.com/scala/bug/issues/10870

[2018-05-17 08:47] retronym commented on #4166
Could you run with GC logging enabled to see how the `Metaspace` is filling up?

[code]

You could also try increasing the limit. If you, say, double the limit, and the problem goes away, then something might have changed to add a constant amount of metaspace usage. If it just delays the exhaustion, then something is leaking (perhaps classloaders).

[code]

[2018-05-17 08:49] retronym commented on #4166
It would also be useful to see that log with `-J-verbose:class` enabled to show classloading that occurs. Comparing that (long!) log before and after the upgrade could yield some clues.

[2018-05-17 08:57] retronym commented on #4166
(I'm pretty sure that scala/bug#10870 is not related.)

[2018-05-17 09:44] avdv commented on #4166
Thanks guys, I'll try to gather more data and report back.

[2018-05-17 16:31] djspiewak commented on #3252
@eed3si9n I know the `run` was. I'm assuming `test` was as well, but I can't remember. The last time I experimented with this was like, in 2014.

[2018-05-18 00:57] Facsimiler commented on #4055
This issue with JDK 8 is fixed for me with the 1.1.5 release. Quick work! Thanks!

[2018-05-18 06:53] dwestheide commented on #4166
I haven't had the time to analyse this yet, but I can add some anecdotal evidence of suddenly seeing the same `OutOfMemoryError`s after upgrading one of our projects to 1.1.5.

[2018-05-18 12:00] avdv commented on #4166
Just to give you some numbers:

1.1.5:
[code]
1.1.4:
[code]
This is for running `sbt -sbt-version ... 1.1.x clean test` in my project.

Increasing the max metaspace size from 256m to 276m made it run successfully.

I keep digging...

[2018-05-18 13:41] ghost commented on #1117
Same problem on CentOS 7.5.1804. I don't know where this stands.
Also, when starting sbt, the start up script could not download the relevant .pom or .jar files so I had to wget them, change their names, create the folder locations the script was looking for them in locally, and put them in those directories. Some of the URLs it looks for the items for are not valid.

[2018-05-18 15:40] avdv commented on #4166
I further ruled out coursier (by disabling it :smirk:), the usage difference between 1.1.4 to 1.1.5 was still around 40 MB.

I ran the clean+test tasks with `-J-verbose:class`, extracting all lines with "Loading", removing some suffixes from (generated) classes:
[code]

Using `comm` on the generated files reveals that 1.1.5 loads about 5k more classes than 1.1.4. You can see them in attached file.

[2018-05-18 15:53] jamesward opened #4167 "Triggered Execution / Watching Broken in 1.1.5 on Linux"
- [x] I've read the [CONTRIBUTING](https://github.com/sbt/sbt/blob/1.x/CONTRIBUTING.md) guidelines

## steps
1. Run a triggered execution command on Linux with sbt 1.1.5
1. Change a file

## problem
Triggered execution doesn't run

## expectation
Triggered execution should run

## notes

sbt version: 1.1.5
jvm version: 1.8.0_171

[2018-05-18 22:07] doczir opened #4168 "Incremental compilation inside docker container broken since SBT 1.1.0"
- [x] I've read the [CONTRIBUTING](https://github.com/sbt/sbt/blob/1.x/CONTRIBUTING.md) guidelines

## steps

1. Create a new scala project with `sbt new scala/scala-seed.g8` (make sure SBT version is at least 1.1.0)
2. Add a Dockerfile to the root of the generated project with the following content
[code]
3. Run `docker build -t sbtbug .` inside the project directory
4. Run `docker run -i -t sbtb

[2018-05-18 23:44] dwijnand commented on #4167
@eatkins fancy triaging this?

[2018-05-19 01:09] eatkins commented on #4167
I believe it's fixed by https://github.com/sbt/io/pull/150

[2018-05-19 07:04] dwijnand commented on #4167
Thanks @eatkins. Fix coming in sbt 1.1.6 (or 1.2.0 if we cut that instead), @jamesward. We've not yet discussed when that'll be though.

[2018-05-19 13:43] lasekio commented on #3126
It happens with tmux

[2018-05-19 23:17] pshirshov opened #4170 ".join within a dynamic task leads to insane "Illegal dynamic reference" message"
- [X] I've read the [CONTRIBUTING](https://github.com/sbt/sbt/blob/1.x/CONTRIBUTING.md) guidelines

## steps

I'm trying to build a map of ProjectReference -> libraryDependencies.value
So, I come up with the following snippet:

[code]

## problem

The code above seems to be correct but it fails to build with a deadly obscure message

[code]

## expectation

Ideally such a thing should work. In cas

[2018-05-20 05:56] dwijnand commented on #4170
I wonder if this shares the same route cause as #3110.

[2018-05-20 14:55] pshirshov commented on #4170
I dunno. Just in case, the right way to solve the problem is to use `.evaluate`:

[code]

So this way you can perform almost arbitrary computations within your tasks without depending on fragile macro magic.

For those who may come here with the same issue, the [SO link](https://stackoverflow.com/a/50436200/5704808)

[2018-05-21 06:20] dwijnand commented on #4081
Fixed by #4159.

[2018-05-21 06:20] #4081 closed, assigned to nobody

[2018-05-21 06:22] dwijnand commented on #4118
Fixed in https://github.com/sbt/sbt/pull/4161, coming in 1.1.6.

[2018-05-21 06:22] #4118 closed, assigned to nobody

[2018-05-21 06:23] dwijnand commented on #4156
Fixed in https://github.com/sbt/librarymanagement/pull/240, coming in 1.1.6.

[2018-05-21 06:23] #4156 closed, assigned to nobody

[2018-05-21 16:36] dwijnand opened #4172 "actions/eval-is-safe-and-sound "assertion failed: Failed to delete extra configuration classes""
On AppVeyor in https://ci.appveyor.com/project/sbt/sbt/build/1.0.535 actions/eval-is-safe-and-sound failed with:

[code]

[2018-05-23 11:12] #2218 closed, assigned to nobody

[2018-05-23 11:13] #4088 closed, assigned to nobody

[2018-05-23 14:10] jimschubert commented on #3670
I believe `http://maven.twttr.com` should be HTTPS `https://maven.twttr.com`. Maybe the issue is that `withGigahorse` isn't following redirects.

[2018-05-23 14:51] milnomada commented on #3414
I solved this issue I had with `sbt-1.1.5.deb` version by:
[code]

Then, as I'm using java 8, I had to patch the following line so a memory limitation was applied during assembly:
in `sbt/bin/sbt-launch-lib.bash` at line 90:

[code]

As a *note*, watching memory consumption in htop, it was lower with `0.13.0` version.

[2018-05-23 16:14] pathikrit commented on #3431
I am getting same error even after doing

[code]

See:
[code]

[2018-05-23 19:00] eed3si9n commented on #3431
@pathikrit Are you using the latest sbt and sbt-pgp?

[2018-05-23 20:52] eed3si9n commented on #4155
See also https://github.com/sbt/sbt/issues/2874.
Maybe we should recommend against using `publishLocal` in general and switch to `publishM2`.

[2018-05-23 21:07] eed3si9n commented on #3126
Ah. I do use tmux sometimes.

[2018-05-23 21:29] nhooey commented on #896
@harrah Where is the discussion in [`sbt-dev`](https://groups.google.com/forum/#!forum/sbt-dev) that you're referring to?

[2018-05-23 21:40] lasekio commented on #3126
Idk but i can reproduce it with tmux having this working on native bash normally on the same machine (Mac os) I use zsh on top of tmux btw.

[2018-05-24 02:08] eed3si9n commented on #4055
Nice. I am closing this as resolved.

[2018-05-24 09:40] ppurang commented on #4167
@dwijnand  @eed3si9n  User experience on linux is seriously hampered because of this. Could we please release this now? thanks

[2018-05-24 10:15] dwijnand commented on #4167
I think @eed3si9n might be releasing 1.1.6 soon (tm).

[2018-05-24 10:18] dwijnand commented on #3126
Is zsh a pre-condition for this failure?

If it's just a tmux problem, if you could provide steps including whatever tmux steps (I don't know/use tmux) we could reopen this.

[2018-05-24 10:20] dwijnand commented on #896
He wasn't referring to a specific discussion in sbt-dev. Just that it should be discussed there rather than here.

[2018-05-24 13:13] kikicarbonell commented on #3420
We are interested to get official support of Docker image with sbt to use in CI pipeline to build sbt projects without installed dependencies.

Please, reopen this issue to implement it. We create a fork of the project to include a Docker file ref: https://github.com/thebijuus/sbt

[2018-05-24 14:28] dhinojosa commented on #4055
With all due respect, the ticket is in reference to JDK 10 and not 8.  Does this fix also work with 10?

[2018-05-24 14:32] peidaqi opened #4173 "No display in scala console (REPL) on Ubuntu 18.04"
- [ ] I've read the [CONTRIBUTING](https://github.com/sbt/sbt/blob/1.x/CONTRIBUTING.md) guidelines

## steps

Run 'scala' to get the REPL

## problem
There is no display (key echo) when typing and Ctrl+D doesn't work.
Tried to remove ~/.sbt but didn't work.

## expectation
Echo of typed words

## notes
Using Ubunutu 18.04 LTS + 4.16.0 Kernel. Tried Zsh and Bash, neither one works.

sbt version: *i

[2018-05-25 02:40] nhooey commented on #3431
@eed3si9n, @dwijnand, @wsargent: This still happens with `sbt 1.1.5` when publishing to Artifactory. The source and destination file aren't printed.

**Exception message:**
[code]

**Full log:**
[code]

[2018-05-25 02:44] nhooey commented on #896
@dwijnand: It looks like @harrah was referring to a specific discussion in `sbt-dev`, based on what he said:

[2018-05-25 08:00] dwijnand commented on #896
Ah sorry. No idea, couldn't find anything.

[2018-05-26 15:25] som-snytt commented on #4173
It seems you're running `scala` at a bash shell prompt, not `console` at the sbt prompt? Then it's a `scala/scala` issue with JLine, not `sbt/sbt`.

[2018-05-28 16:25] lihaoyi commented on #4012
Some learnings from Mill:

Mill/Ammonite use ScalaParse to split expressions in the top-level script file, but even that takes a while to initialize the first time purely due to classloading, and so it caches the output of `splitExpressions`. Seems like it shouldn't be a hard thing to do to since it's just a pure function `String => Seq[String]`?

Would swapping in a fast JSON serializer be a solu

[2018-05-28 21:25] eed3si9n commented on #4012
@lihaoyi Thanks for the tips! These are all useful points to consider.
I think swapping out serialization should be on the table, especially for `update` task, which caches the entire UpdateReport.

[2018-05-28 21:29] eed3si9n commented on #4173
Yea. You can try `sbt console` and see if it works, but `scala` is not our command.

[2018-05-28 21:29] #4173 closed, assigned to nobody

[2018-05-28 22:44] naferx commented on #4081
Hi @dwijnand , I know it is closed but just for curiosity

I typed
[code]
Is it used internally ?

[2018-05-29 01:48] Fangyh09 opened #4176 "sbt failed, module not found"
- [x] I've read the [CONTRIBUTING](https://github.com/sbt/sbt/blob/1.x/CONTRIBUTING.md) guidelines

## steps
macOS *10.13.4*
[code]

Project struture
foo-build(sbt root)
At foo-build, run `sbt`
## problem
sbt failed
[code]

## expectation

## notes

sbt version: *1.1.4*

[2018-05-29 01:50] nhooey commented on #3377
@dwijnand: How would you do the same with `publish`? I'd like to run some checks before `publish`, but neither of these have any effect:

[code]

[code]

[2018-05-29 02:07] ryan-williams commented on #3879
Think I'm with @Atry here, can't really see why this "brokenness" would be unfixable or "working as intended".

A recent annoyance I came across is that coursier will fail to fetch SBT plugins, afaict because their files have the wrong names:

[code]

Finds [https://repo1.maven.org/maven2/io/get-coursier/coursier_2.12/1.0.3/coursier_2.12-1.0.3.{pom,jar}](https://repo1.maven.org/maven2/io/get-cours

[2018-05-29 06:20] bijiwei1 opened #4177 "module not found: org.scala-sbt#sbt;1.1.5"
I installed the sbt today and it successfully installed. However, when I tried to run sbt, I got following issue.

:: USE VERBOSE OR DEBUG MESSAGE LEVEL FOR MORE DETAILS
unresolved dependency: org.scala-sbt#sbt;1.1.5: not found
Error during sbt execution: Error retrieving required libraries

[2018-05-29 09:27] dwijnand commented on #4148
Fixed in https://github.com/sbt/sbt/pull/4175.

[2018-05-29 09:29] dwijnand commented on #4081
@naferx In working with @Asamsig on #4159 we found out that those commands had been removed a long time ago. Which is why in #4159 we just removed the strings.

[2018-05-29 09:31] dwijnand commented on #4176
You need to make sure your maven proxy includes Maven Central, because sbt is there:

http://repo1.maven.org/maven2/org/scala-sbt/zinc-classpath_2.12/1.1.5/

[2018-05-29 09:31] #4176 closed, assigned to nobody

[2018-05-29 09:33] dwijnand commented on #4177
sbt is on Maven Central, so something must be wrong with your connection to Maven Central, perhaps?

https://repo1.maven.org/maven2/org/scala-sbt/sbt/1.1.5/

[2018-05-29 09:33] #4177 closed, assigned to nobody

[2018-05-29 12:22] naferx commented on #4081
ah, good to know.
Thanks Dale

[2018-05-29 12:53] Nimi42 commented on #1806
Did anything solve the problem. I'm having similar problems. I can get pip and conda to work, but
-Dhttp.proxyHost=host -Dhttp.proxyPort=port -Dhttp.proxyUser=username -Dhttp.proxyPassword=password -Dhttps.proxyHost=host -Dhttps.proxyPort=port -Dhttps.proxyUser=username -Dhttps.proxyPassword=password don't fix the problem for sbt.

[2018-05-29 17:31] eed3si9n commented on #4165
As @cunei mentioned, we use the shortener to track the download statistics, which is a important metrics to the sbt project and to companies that back it. We are currently looking into if it's possible for us to use some more normal looking domain name (like something.scala-sbt.org). Thanks for your patience.

[2018-05-29 18:06] bijiwei1 commented on #4177
Yes, that's my problem. I solved it following instructions in this link https://stackoverflow.com/a/48824820/9865995.

[2018-05-29 19:33] cp10000 opened #4178 "Make sbt more user friendly! Let it create directory structures.....etc."
- [ ] I've read the [CONTRIBUTING](https://github.com/sbt/sbt/blob/1.x/CONTRIBUTING.md) guidelines

## steps
sbt is lacking user-friendliness, for example it does not create directory structure for a project?   Why not?

## problem
sbt is lacking user-friendliness, for example it does not create directory structure for a project?

## expectation
I expect a command tool like sbt to do as much as po

[2018-05-29 20:31] eed3si9n commented on #4178
See https://www.scala-sbt.org/1.x/docs/sbt-new-and-Templates.html.
Also this is likely a duplicate of https://github.com/sbt/sbt/issues/3949

[2018-05-29 20:31] #4178 closed, assigned to nobody

[2018-05-30 08:49] dwijnand commented on #3949
Btw, on a plane I recently converted my 10 line bash script into a 19 line rust binary, so it can run on Windows too.

https://github.com/dwijnand/sbt-init/blob/master/src/main.rs

[2018-05-30 15:37] jamesward commented on #4167
This seems to be fixed in 1.1.6. Thanks all!

[2018-05-30 15:37] #4167 closed, assigned to nobody

[2018-05-30 16:14] raboof commented on #3736
(this issue *may* have returned in 1.1.5, at least something that looks a lot like it, but I'll first dig a bit further in https://github.com/akka/akka/issues/24098 before really blaming sbt :smile:  )

[2018-05-30 16:50] ppurang commented on #4167
Thanks - can confirm it works.

[2018-05-31 00:53] SwapnilBorse123 commented on #3414
@milnomada I tried doing what you have done. Unfortunately, it doesn't solve my issue. When I try to do a sbt compile for my play application on a EC2 console, I still keep getting the following error.

/usr/share/sbt/bin/sbt-launch-lib.bash: line 46:  5523 Killed                  "$@"

Any help would be much much appreciated. I have invested more than a day in this and now it is kinda nerve break

[2018-05-31 04:23] geektcp commented on #2958
I resole it ,beacuse the maven dependence err:

            <dependency>
                <groupId>com.haizhi.spark</groupId>
                <artifactId>spark-assembly</artifactId>
                <version>1.6.1</version>
            </dependency>
I remove this dependency , and then sucessful l!!

and then , I have redownload the spark-assembly dependency , and add it, then it is OK!

Chinese:
说白了

[2018-05-31 06:47] 2m commented on #3949
FWIW @drewhk has worked on a similar tool for creating new Akka projects:
https://github.com/drewhk/hakk

On Wed, 30 May 2018, 11:49 Dale Wijnand, <notifications@github.com> wrote:

[2018-05-31 22:12] yellowmegaman commented on #3344
Any news here?
[code]

sbt 1.1.4

So it's 720 seconds really ((

[2018-05-31 23:19] ethomas2 commented on #4165
Just wanted to +1 this issue. I also can't brew install sbt due to corporate firewall issues.

For what it's worth, the solution that i'm considering going with is to bypass the short url by creating our own internal brew formula that uses the direct link (like what was done here https://github.com/Homebrew/homebrew-core/pull/27787). That's probably the path of least resistance for me.

I realize

[2018-06-01 03:18] retronym commented on #4012
With regards to cold performance (both of SBT and Scalac), it is worth thinking about how to integrate the now-free-in-OpenJDK feature, Application Class Data Sharing, to shave a few hundred millis of startup time. I'm also keenly waiting for [JWarmup](http://openjdk.java.net/jeps/8203832) to persist JIT profiles from a previous run to speedup warmup.

[2018-06-01 10:15] dwijnand commented on #3607
(Include a snapshot of that repo that I'm deleting)

![image](https://user-images.githubusercontent.com/344610/40835937-e1d73dbe-658c-11e8-8a44-1337c87c805b.png)

Fixed in #4164, coming in sbt 1.2.0, thank you @alodavi!

[2018-06-01 10:15] #3607 closed, assigned to dwijnand

[2018-06-01 13:58] dwijnand commented on #4012
I had a little go with the `-XX:AppCDS` and it didn't seem to change anything out the box:

[code]

[2018-06-01 14:53] jeremiahhoyle commented on #3414
@SwapnilBorse123 I was running in a container in ECS. I noticed my CPU Utilization was really high. So I increased the number of CPUs being used by the container and it fixed the error.

[2018-06-01 17:45] vamanose commented on #2835
New to SBT, so pardon the question.

Is it normal for SBT to create a new "project" and "target" folder for every new SBT project created using:

$ sbt new sbt/scala-seed.g8

[2018-06-01 19:37] Rich2 opened #4179 "sbt ~ repeat cmd: source changes outside project directory and outside home directory"
The ~ repeat command is not responding to changes of sources outside of the build directory and outside of the home directory in Sbt 1.1.6. This does work in 1.1.4 in Kubuntu 18.10, but not in Ubuntu 18.10.

I've created a Hello world project to demonstrate: [sbtrepeat](https://github.com/Richtype/sbtrepeat.gitl)

Clone this project outside of your home directory structure.
Edit the BuildFolder/bu

[2018-06-01 20:52] eed3si9n commented on #3519
I opened a pull request last year based on the stack trace on this issue - https://github.com/sbt/librarymanagement/pull/177
I think the problem was that it never got merged because we weren't able to reproduce the issue in the test environment.

[2018-06-01 21:00] dwijnand commented on #4179
Lemme just /cc @eatkins, Director of ~ 😄

[2018-06-01 21:12] dwijnand commented on #4012
More experiments, little progress:

[code]

[2018-06-02 08:39] dwijnand commented on #4012
@retronym's experiments: https://github.com/retronym/scala-aot/blob/master/README.md#effect-of-appcds

[2018-06-02 23:03] travisbrown opened #4181 "Update doesn't seem to respect cross-versions, tries to resolve snapshot"
- [x] I've read the [CONTRIBUTING](https://github.com/sbt/sbt/blob/1.x/CONTRIBUTING.md) guidelines

## steps

Have the following `build.sbt`:
[code]
And a `project/build.properties` using a 1.x version (I've tried 1.1.6 and 1.0.5).
## problem
Running `sbt update` with `++2.11.12` blows up:
[code]
## expectation

`update` shouldn't try to resolve a snapshot and should just work.

## notes

When I a

[2018-06-04 13:48] DavidPerezIngeniero opened #4182 "Heavy use of string interpolation in build definition causes StackOverflowError on load"
See https://github.com/scala/bug/issues/10870 - Eugene

## steps

Change build.properties from 1.1.4 to 1.1.6

## problem

[code]
I don't know the offending source file.
It happens even if I do:
[code]

## expectation

Compile everything like version 1.1.4

## notes

It' hard for me to find the minimum source code that provokes this.

[2018-06-04 14:11] michaelahlers commented on #2817
Is it possible to provide credentials to SBT for bootstrapping _without_ setting an environment variable? Say, by adding a `credentials.sbt` to a location in `$HOME/.sbt`? Setting in the environment is fine for CLI usage, but may not (easily) work with an IDE.

[2018-06-04 20:36] shvahabi commented on #2295
The root cause is a conflict between openjdk-11-jdk (which is default in Ubuntu 18.04) and sbt packages settings. It has already been fixed in Debian and will be included in Ubuntu shortly. Meanwhile the simplest workaround is to demote your java to version 8. Other solutions employing `ca-certificates-java` are much more complicated.

First remove conflicting packages:

    sudo apt-get remove --

[2018-06-04 21:11] SethTisue commented on #2835
@vamanose make sure you're using sbt 1.1.2 or later, that's when the fix landed

re: getting help as a new sbt user, see https://www.scala-sbt.org/support.html

[2018-06-05 12:58] lbialy commented on #4116
I have researched this and opened PR https://github.com/sbt/sbt/pull/4180. Performance gain was negligible or non-existent, I think this can be closed. FYI: @fommil

[2018-06-05 12:58] #4116 closed, assigned to nobody

[2018-06-05 16:37] olafurpg opened #4183 "Proposal to make launcher use a fat jar of shaded sbt dependencies"
- [x] I've read the [CONTRIBUTING](https://github.com/sbt/sbt/blob/1.x/CONTRIBUTING.md) guidelines

I wrote up a proposal in https://github.com/olafurpg/sbt-big on how to speed up sbt launcher and provide more stable binary compatibility for the sbt plugin ecosystem. Related discussion https://github.com/sbt/zinc/issues/546 I've inlined the sbt-big readme below:

----

This project is a proposal t

[2018-06-05 20:51] willis7 commented on #840
Not sure im clear on the fix here. I have a CI build that could really use the output from `sbt 'show version'` but the output is making this annoying:

[info] Set current project to sbt-scala-defaults (in build file:/Users/sion/Code/ons/sbt-scala-defaults/)
[info] 0.1-SNAPSHOT

 I'm using sbt 0.13.13. Should I be using a newer version of sbt?

[2018-06-05 21:37] CremboC commented on #4183
Perhaps this fat jar can be then converted into a native binary use Graal's `native-image` for a further increase in startup time?

[2018-06-05 21:41] olafurpg commented on #4183
@CremboC I don't think Graal native images support the classloading APIs that sbt uses. Either way, Graal is unrelated to this proposal.

[2018-06-05 22:08] SethTisue commented on #840
@willis7 yes, 0.13.13 is quite old. please try 0.13.17 or, even better since the 0.13.x series is in maintenance mode these days, try 1.1.6

[2018-06-05 22:09] SethTisue commented on #840
@willis7 see also #3091

[2018-06-06 00:35] nhooey commented on #3431
@eed3si9n: Please re-open this issue because it's still happening with `sbt 1.1.5`.

[2018-06-06 03:47] eaplatanios commented on #3431
@nhooey What version of sbt-pgp are you using? As far as I know, this issue has to do with sbt-pgp rather than SBT and was fixed a while ago. Does it still occur if you use the latest version of sbt-pgp?

[2018-06-06 05:08] wuv1982 commented on #3686
brew checks java version by `/usr/libexec/java_home`.
So to pass the requirement check, u just need link a JDK path in `/Library/Java/JavaVirtualMachines` where can be found by `java_home`.

[2018-06-06 05:20] eed3si9n commented on #4183
### build.properties

One of the nice property of sbt is that we can up- or downgrade to 0.13.x and 1.x sbt versions by writing the sbt version number in `build.properties` file. This is possible because the launcher resolves `"org.scala-sbt" % "sbt" % x`. To keep this property, it might be worth considering keeping the continuity of the `"sbt"` module name, even if we adopt fat JAR.

### Metabuil

[2018-06-06 05:36] ChristianKienle commented on #4165
+1 from me as well. Ran into the exact same issue.

[2018-06-06 07:16] olafurpg commented on #4183
@eed3si9n I agree with keeping the `"sbt"` module name, another concern by creating a separate `"sbt-big"` module is that the runtime classpath of sbt builds will be different depending on the version of the launcher. By keeping the module name, old launchers will behave the same as new launchers.

[2018-06-06 07:40] willis7 commented on #840
@SethTisue sorry to labour this one. I've tried a few things now; upgrade to 0.13.17 (any higher and I get breaks I'm not qualified enough to fix) and read the issue you linked, but i still get:

[info] Loading project definition from /Users/sion/Code/ons/sbt-scala-defaults/project
[info] Set current project to sbt-scala-defaults (in build file:/Users/sion/Code/ons/sbt-scala-defaults/)
[info] 0.1-

[2018-06-06 10:15] dwijnand commented on #3431
Rather than necro this issue, let's open a new issue (or, if there are distinct problems, multiple) to either sbt/sbt or sbt/sbt-pgp, which makes sure that (1) the issue template is (hopefully!) followed when reporting a problem, and (2) avoids mutating the milestone an issue was resolved in (or at least attempted to be resolved in).

[2018-06-06 19:47] SethTisue commented on #840
@willis7 I'm not able to reproduce the problem on either 0.13.17 or 1.1.6:

1.1.6:

[code]

0.13.17:

[code]

the `show` prints nothing in this scenario since `show` only prints at info level or higher, but that's a separate question unrelated to this ticket.

[2018-06-07 07:27] willis7 commented on #840
@SethTisue , what do you get if you remove the `--warn` as per my example?

[2018-06-07 14:08] TobsCore commented on #3128
@eed3si9n [JLine 2.14.6](https://github.com/jline/jline2/tree/jline-2.14.6) is released, so updating the dependecy should resolve this issue.

[2018-06-07 15:04] SethTisue commented on #840
@willis7 without `-warn` I get info-level logging, and that’s normal and expected. info-level logging is the default in sbt.

[2018-06-07 18:18] smarter commented on #4107
I was using `Def.derive` in the sbt-dotty plugin for similar purposes and had to stop because it's broken, see https://github.com/sbt/sbt/issues/3580

[2018-06-08 07:33] willis7 commented on #840
Its bizzare to me that I call a task asking for the version, and I get loads of unwanted logging information. It makes the task useless for any scripting tasks (unless I pipe to an elaborate squence of cmd tools). This is what I want:

0.1-SNAPSHOT

Why does sbt make this so difficult?

[2018-06-08 09:25] dwijnand commented on #840
Because it's built with its interactive shell as the primary use.

I'm not sure (at this time) how we might change sbt such that `sbt 'show version'
` is nicely consumable, without impacting the rest of sbt, but if you have any ideas we'd be interested to hear them.

However, let's do so in a new issue, instead of necro-ing this one (we can always link to either the original request here and/or yo

[2018-06-08 09:39] willis7 opened #4184 "Plain print project settings"
## problem
As a build master, I want to print the project settings in plain text for consumption by other scripts. For example, setting ENV vars, or setting properties in Jenkins pipeline scripts.

[code]

## expectation
When I run "show", I would like an output like:

0.1-SNAPSHOT

I dont want any log output. If there's an error, just print an empty string.

## notes
If changing the behaviour of

[2018-06-08 09:42] dwijnand commented on #4184
Thank you opening the issue @willis7!

[2018-06-08 16:01] dotta opened #4185 "Root project aggregation broken by plugin overriding `extraProjects`"
## steps

A minimized project to reproduce the issue is included in the attached zip, but here are the steps:

1. Create an autoplugin that adds a project to the build via the `extraProjects` hook:

[code]

2. Create a build.sbt file:

[code]

3. Create a Foo.scala file defined inside `a/src/main/scala`, e.g.,:
[code]

[sbt-bug2.zip](https://github.com/sbt/sbt/files/2085062/sbt-bug2.zip)

## probl

[2018-06-08 21:57] SethTisue opened #4186 "intermittent ServerSpec failure"
seen in Scala 2.12 community build (which is on the sbt 1.1.6 tags):

[code]

full log at https://scala-ci.typesafe.com/view/scala-2.12.x/job/scala-2.12.x-integrate-community-build/2984/consoleFull

[2018-06-09 08:38] liuchong commented on #1117
Is this resolved？ I got this problem on sbt 1.0 :cat2:

[2018-06-09 09:06] dwijnand commented on #1117
Instead of commenting on an issue closed in 2014, let's open a new issue, follow the issue template, and add any relevant links, like this issue, if appropriate.

[2018-06-09 18:09] Katrix opened #4188 "Sbt fails to close file before deleting it"
- [x] I've read the [CONTRIBUTING](https://github.com/sbt/sbt/blob/1.x/CONTRIBUTING.md) guidelines

Sometimes Sbt complains that it can't delete a file, even though it is the one keeping it open. For me this only happens with snapshots. I don't know if it can be caused by other stuff.

## steps
*I'm not that familiar with the ivy format stuff, so this is mostly just a guess.*
* Compile code and up

[2018-06-11 01:48] juli1 opened #4189 "Improve -help and help commands"
The `sbt` tool by itself has almost no docs, the `--help` or `-help` have no action whatsoever. Creating a new project from scratch without going online is difficult (and even finding the documentation online).

## steps

[code]

## problem

There is no help in the tool. Available commands are not shown and there is no indication for creating a new project. Some help is available with `-help` but

[2018-06-11 03:17] eed3si9n commented on #4189
Thanks for this suggestion. Part of the problem is that sbt the JVM application (also known as `sbt/sbt` or "the mothership") and `sbt` the bash command (also known as `sbt/sbt-launcher-package`)  have been developed separately. sbt actually comes with `help` command, but I agree that bash command help and sbt's help needs to integrate better.

I am going to rename "Making sbt more user-friendly"

[2018-06-11 04:06] juli1 commented on #4189
No problem, the biggest concern is as a new user, I have to spend 10 min online to find the command to start a new project. Not the best user experience for newcomers!

Thanks for replying so quickly!

[2018-06-11 22:39] eed3si9n commented on #4188
@Katrix Thanks for the report! Could you copy paste exact error message as you see it, in case it would provide more hints?

[2018-06-12 13:09] dwijnand opened #4191 "active.json should be removed on JVM shutdown"
## steps

[code]

## problem

[code]

## expectation

No `active.json` present after JVM shutdown.

## notes

sbt version: 1.1.1

This is a generalisation of https://github.com/sbt/sbt/issues/3862, which was about the file being removed when `exit` was executed.

# Mentoring Instructions

## Links

The port file is created on this line:

https://github.com/sbt/sbt/blob/1d7b35bd67722511b9a058113e7a

[2018-06-12 13:10] dwijnand commented on #3862
Reviewing this I was really confused at the time. :smile:

Let's call this one resolved - I've opened https://github.com/sbt/sbt/issues/4191 about the file being removed on JVM shutdown.

[2018-06-12 13:10] #3862 closed, assigned to nobody

[2018-06-12 13:31] dwijnand commented on #4191
Forwarding @eed3si9n's comment from https://github.com/sbt/sbt/issues/3862#issuecomment-374165325:

There is a call to `exchange.shutdown` in

https://github.com/sbt/sbt/blob/d75d95d653edf1cee5a49eba338a0257f206f234/main/src/main/scala/sbt/Main.scala#L108-L117

It's unclear why that `finally` isn't being caught during the `Ctrl-C`.

[2018-06-12 16:30] ndlarsen opened #4192 "sbt Server access Error"
HI.

So, I'm trying to get sbt up and running in 18.04 and getting an server access error when running sbt.
The 18.04 install is fresh, i got oracle's java installed and set to default. Have tried refreshing certificates, purge/install of both scala, sbt and java. I realize this might not be a bug and more a local issue. Any help and idea would be greatly appreciated.

sbt version: 1.1.6

[update.

[2018-06-12 20:45] eed3si9n commented on #4191
I'd love to see this fixed.

[2018-06-12 20:48] MichaelJAllen opened #4193 "Some SBT_OPTS options not being recognized"
- [X] I've read the [CONTRIBUTING](https://github.com/sbt/sbt/blob/1.x/CONTRIBUTING.md) guidelines

## steps
I'm running _SBT_ 1.1.6 on Linux Mint 18.3.

To reproduce, try this in a bash terminal:
[code]

## problem
Output of prior commands is as follows:
[code]

## expectation

_SBT_ should have run successfully in non-interactive mode without any errors.

## notes

sbt version: *1.1.6*

Oddly, t

[2018-06-12 21:04] mrveera commented on #4191
I have fixed it by adding shutdown hook, but I am trying with adding exit hook for state also
@eed3si9n Do you want to me to create PR?

[2018-06-12 21:10] dwijnand commented on #4191
@veera83372 of course.

[2018-06-12 23:15] eed3si9n commented on #2819
@dwijnand @SethTisue ok. I am coming around to the idea that `src/main/scala-2.13` is useful during the (binary incompatible) 2.13.0-Mx milestones. I am also thinking this could go in sbt 1.2.0 timeline, and marking this a Good First task.

[2018-06-13 01:12] huntc opened #4195 "A lack of API documentation"
I find that when contributing to projects, it is important to understand the rationale for public types and methods. The absence of such means that it is hard to navigate through a project and learn what does what. A case in point presently is learning how library resolution takes place so that I can leverage it within my build. It is *hard* to understand sbt and its organization and this probably

[2018-06-13 02:35] eed3si9n commented on #4195
I agree that having some Scaladoc might help, but I am not 100% sure if that would explain the overall organization of the sbt code base, or how library management works.
Keys are not explained in Scaladoc because we have `sbt help` instead.

What's the success criteria of this issue? Changing the coding guideline? https://github.com/sbt/website/blob/1.x/src/reference/90-Developers-Guide/02-Coding

[2018-06-13 02:50] eed3si9n commented on #1448
This should be fixed in sbt 1 since it incorporates doge.

[2018-06-13 02:50] #1448 closed, assigned to nobody

[2018-06-13 02:51] eed3si9n commented on #2096
https://github.com/sbt/io is the IO now.

[2018-06-13 02:51] #2096 closed, assigned to nobody

[2018-06-13 03:15] huntc commented on #4195
Yes, changing the coding guidelines would suffice for me. Want me to have a stab at that?

[2018-06-13 03:26] eed3si9n commented on #4195
@huntc Yes, plz.

[2018-06-13 04:54] eed3si9n commented on #3252
Here's how typing Ctrl+C during forked test looks like for ScalaTest:

[code]

1. https://github.com/sbt/sbt/blob/v1.1.6/main/src/main/scala/sbt/EvaluateTask.scala#L367-L375
2. https://github.com/sbt/sbt/blob/v1.1.6/tasks/src/main/scala/sbt/ConcurrentRestrictions.scala#L131 (calls `shutdownNow` on executor)
3. Inside the forked test task (on local sbt side) https://github.com/sbt/sbt/blob/v1.1.6/m

[2018-06-13 05:48] eed3si9n commented on #3128
Nice that means this is already fixed in sbt 1.1.6 thanks to #4087.

[2018-06-13 06:18] eed3si9n opened #4197 "Ctrl + C is not propagated to forked test"
This is part of `Glocal / cancelable` epic.

See https://github.com/sbt/sbt/issues/3252#issuecomment-396813096

## steps

[code]

1. Run some long running test.

[code]

2. Type in Ctrl + C into the shell.

## problem

[code]

## expectation

Test shutsdown cleanly.

## notes

It might be an improvement to hold on to scala.sys.process.Process here https://github.com/sbt/sbt/blob/v1.1.6/main-action

[2018-06-13 06:36] eed3si9n commented on #2819
To potential contributor: Likely the related code location is:
- https://github.com/sbt/sbt/blob/1d7b35bd67722511b9a058113e7a1070984e6758/main/src/main/scala/sbt/Defaults.scala#L333-L338
- https://github.com/sbt/sbt/blob/1d7b35bd67722511b9a058113e7a1070984e6758/main/src/main/scala/sbt/Defaults.scala#L449
- https://github.com/sbt/sbt/blob/1d7b35bd67722511b9a058113e7a1070984e6758/main/src/main/scala

[2018-06-13 06:45] ndlarsen commented on #4192
I tried purging and reinstalling all java related packages from my system again and this time it worked. I must have missed something the last time.
Sorry. I'm closing this bug report.

https://stackoverflow.com/a/50686642/9934193

[2018-06-13 06:45] #4192 closed, assigned to nobody

[2018-06-13 07:06] eed3si9n commented on #3949
I updated the description.

To potential contributor: Related code locations are:
- https://github.com/sbt/sbt/blob/1d7b35bd67722511b9a058113e7a1070984e6758/main/src/main/scala/sbt/TemplateCommand.scala
- https://github.com/sbt/sbt/blob/1d7b35bd67722511b9a058113e7a1070984e6758/main-command/src/main/scala/sbt/BasicKeys.scala#L98

We probably need to create a dummy `TemplateResolverInfo` value that

[2018-06-13 07:20] #4073 closed, assigned to nobody

[2018-06-13 07:34] eed3si9n commented on #630
Proposed solution:
1. Look for `test`.
2. If it's not found, look for `test.script`

To potential contributor: The relevant code locations are
- https://github.com/sbt/sbt/blob/0d3d6bab021ccef17dfce055b593df4d3d84e1d0/scripted/sbt/src/main/scala/sbt/scriptedtest/ScriptedTests.scala#L388-L392
- https://github.com/sbt/sbt/blob/0d3d6bab021ccef17dfce055b593df4d3d84e1d0/main/src/main/scala/sbt/Scripted

[2018-06-13 08:00] eed3si9n commented on #791
Closing this since we won't likely implement it.

[2018-06-13 08:00] #791 closed, assigned to nobody

[2018-06-13 08:08] eed3si9n commented on #975
Closing this since we likely won't fix this.

[2018-06-13 08:08] #975 closed, assigned to jsuereth

[2018-06-13 08:21] eed3si9n commented on #1453
I am closing this since there's a workaround.

[2018-06-13 08:21] #1453 closed, assigned to nobody

[2018-06-13 08:26] eed3si9n commented on #1458
How about this.

1. By default sbt checks if it's at `/`, and exits with the error message.
2. If you really want to run it from `/` you need to pass in some JVM flag.

The error message is:

[code]

[2018-06-13 08:29] eed3si9n commented on #1513
Closing this since we won't likely to fix this.

[2018-06-13 08:29] #1513 closed, assigned to nobody

[2018-06-13 13:39] samzilverberg opened #4199 "set the Gigahorse default readTimeout to 1 hour"
### problem
I was trying to `publishSigned` to sonatype.
sonatype  is slow...
after around 2 minutes the operation was broken with a timeout exception

looking at the stack trace it seems to be coming from `GigahorseUrlHandler.upload` being called from  `RepositoryResolver.publish` (part of the basic publish task)

### workaround

when trying to `publishSigned` with
[code]
it works.
it took around

[2018-06-13 15:26] dwijnand commented on #4191
Fixed in https://github.com/sbt/sbt/pull/4194.

[2018-06-13 15:26] #4191 closed, assigned to nobody

[2018-06-13 23:10] oyes704 commented on #3492
Same Scala training.
Had the same UNRESOLVED DEPENDENCIES issue with default SBT installation 1.1.1.
Downgraded SBT to 0.13.12 but not able to load the hello-world project. Guess now it's Java compatibility. Using 1.8 for Eclipse, but have 10.0 by default. Could that be a problem?

sbt new scala/hello-world.g8
[info] Loading global plugins from /Users/oly/.sbt/0.13/plugins
java.lang.NullPointerExc

[2018-06-14 05:09] #771 closed, assigned to eed3si9n

[2018-06-14 06:50] eed3si9n commented on #4199
Thanks for the report. I've personally never seen this before. Is this Sonatype OSS, or some other installation? Do you live somewhere that has slower network?

[2018-06-14 06:52] #3585 closed, assigned to nobody

[2018-06-14 07:08] samzilverberg commented on #4199
Sonatyps OSS `https://oss.sonatype.org/service/local/staging/deploy/maven2`
in berlin, from office where bandwidth is very good.

I think Sonatype OSS was/is slow or overloaded.
I've already published this project there before, with gigaHorse enabled, and had no problems (it was also slow then, but not as it is now)

[2018-06-14 07:17] samzilverberg commented on #4199
FYI I just re-enabled gigaHorse and tried `publishSigned` again and it worked.
Sonatype OSS was very slow, but took half the time than yesterday (327 seconds instead of 777 !! for 1mb!!)

In any case, i guess it would be nice to be able to let users specify some timeouts, to cover cases wher e internet is really crappy and/or artifacts are big.

[2018-06-14 08:34] eed3si9n commented on #4181
@travisbrown Thanks for the report! I think we've all ran into something similar where part of the subproject is in one scalaVersion, and the other subproject depending on it still thinks its in 2.12.6, so it blows up. The fact that it's reported now is good, because I already have a proposal for something like this. Check out https://discuss.lightbend.com/t/spatial-representation-of-cross-buildin

[2018-06-14 11:13] 2m commented on #1380
We just stepped on this in https://github.com/akka/alpakka-kafka/issues/504

I applied @chEbba workaround and it seems to do the right thing: "it" dependency is gone from the POM and no other changes to the generated POM file.

I am adding one more +1 to having that `makePom` configuration as default.

[2018-06-14 23:31] eed3si9n commented on #1380
@chEbba

That sounds like a bad behavior on whoever's part.

Sounds good to me too.

[2018-06-15 05:02] xerial commented on #4181
@eed3si9n I had the same issue when cross building projects for multiple Scala versions: An example build failure: https://travis-ci.org/wvlet/airframe/jobs/392496005

~This problem disappeared after downgrading from sbt 1.1.6 to 1.1.5.~
It seems its is not specific to sbt 1.1.6 because the same error happens sporadically even if I use sbt 1.1.5. But it happens only when I building projects with S

[2018-06-15 15:28] eed3si9n opened #4206 "fgRun feature"
## steps

1. `fgRun`.

## expectation

Works like `run` in sbt 0.13.

[2018-06-15 16:09] eed3si9n commented on #4199
Ivy uses `java.net.URLConnection`, which by default does not timeout.
To emulate the same semantics, let's set the readTimeout to 1 hour. It sounds a bit crazy, but this reflects the reality that it's taking @samzilverberg located in Berlin 13 minutes to publish 1MB, so 60 min is within the order of magnitude.

To potential contributors:
1. Refactor https://github.com/sbt/librarymanagement/blob/v1

[2018-06-15 16:11] eed3si9n commented on #4195
Closing this.

[2018-06-15 16:11] #4195 closed, assigned to nobody

[2018-06-15 19:01] lecogiteur commented on #4206
This what is happened for me when I do `sbt run`.

in sbt 0.13 or 1.0:

[code]
When run my app with sbt, it's based on classes directory

In 1.1.x
[code]
When run my app with sbt, it's based on jar.

I have no modification in my build.sbt (just sbt version).

How to configure sbt in order to keep the same behaviour than 0.13 (or 1.0)

[2018-06-15 20:13] eed3si9n opened #4207 "Scala.JS support for projectMatrix"
For Spree, it might be fun to implement Scala.JS support for `projectMatrix` proposal.

Ref https://github.com/sbt/sbt/pull/4200

[2018-06-16 09:17] marmistrz opened #4208 "sbt run fails if JDK10 is used"
- [x] I've read the [CONTRIBUTING](https://github.com/sbt/sbt/blob/1.x/CONTRIBUTING.md) guidelines

## steps
Install `jdk10-openjdk` on Arch Linux.
[code]
This fails with
[code]
Now change the default Java version to JDK8:
[code]
this succeeds
[code]
## problem
sbt run fails if JDK10 is used
## expectation
sbt works both with JDK8 and JDK10 (or at least gives an explicit error message that JDK10 i

[2018-06-16 13:35] Katrix commented on #4188
Here is a snippet of the console output where I encountered the bug which shows it not being able to delete the artifact, shutting down and starting sbt again, cleaning, and compiling just fine.

https://hastebin.com/nuqiqevaze.tex

[2018-06-16 16:49] sathyajitb commented on #2125
I am trying to build chisel3
I see in projects/plugins.sbt
resolvers += Resolver.url("scalasbt", new URL("http://scalasbt.artifactoryonline.com/scalasbt/sbt-plugin-releases")) (Resolver.ivyStylePatterns)

The URL is broken. I replaced it with https://dl.bintray.com/sbt/sbt-plugin-releases
Yet I see that I get this
`[info] Loading settings from plugins.sbt ...
[info] Loading project definition from

[2018-06-16 22:52] eed3si9n opened #4210 "Project naming: unify ProjectReference and sbt shell"
## steps

[code]

In the shell...

[code]

## expectation

1. `toRef` exists that explicitly does `projectToRef`, which returns `LocalProject("fooCoreJVM2_12")`.
2. From sbt shell I can write `core/compile`.

## notes

This would be an aliasing for both build.sbt and shell.

[2018-06-17 05:23] non commented on #1918
Is there any possibility of getting this fixed?

Currently this is a problem for using Clouseau from within SBT: https://github.com/non/clouseau/issues/1

I have a work-around but it's pretty ugly and involved: https://github.com/non/clouseau#using-clouseau-in-the-repl

[2018-06-17 07:21] eed3si9n commented on #1918
To potential contributor: The relevant part of the code would be Defaults.scala. In there check out how forked `run` is implemented - https://github.com/sbt/sbt/blob/a6ae813b7cdb0d1918b7aa70a2d1bab850715ce9/main/src/main/scala/sbt/Defaults.scala#L1298-L1326

https://github.com/sbt/sbt/blob/a6ae813b7cdb0d1918b7aa70a2d1bab850715ce9/run/src/main/scala/sbt/Run.scala#L26

and how current `console` is i

[2018-06-17 07:26] eed3si9n commented on #4199
ok. This was fixed in https://github.com/sbt/librarymanagement/pull/246 in @peterneyens

[2018-06-17 07:39] eed3si9n commented on #2125
@sathyajitb Your error says "javax.net.ssl.SSLException: java.lang.RuntimeException: Unexpected error: java.security.InvalidAlgorithmParameterException: the trustAnchors parameter must be non-empty", which is a known issue on Linux. See https://stackoverflow.com/questions/6784463/error-trustanchors-parameter-must-be-non-empty for various workarounds posted.

If you're still stuck, please open a ne

[2018-06-18 04:54] eed3si9n commented on #2164
Closing this since the OP has probably moved on.

[2018-06-18 04:54] #2164 closed, assigned to nobody

[2018-06-18 04:56] eed3si9n commented on #1592
Closing this since it's probably no longer an issue in sbt 1.x.

[2018-06-18 04:56] #1592 closed, assigned to nobody

[2018-06-18 04:58] smarter commented on #4182
I think this mean that compilation failed while compiling the project build files, not when compiling the project itself.

For the project build files, the target directory is `project/target`.

It looks like sbt switched from using Scala 2.12.4 to Scala 2.12.6 to compile the project build in 1.1.5: https://github.com/sbt/sbt/commit/4477a42b5af6273788ef9a386b93d3d967cfe4d9, so this may be a regres

[2018-06-18 04:59] eed3si9n commented on #1614
sbt 1 doesn't use sbinary, so I am closing this.

[2018-06-18 05:01] eed3si9n commented on #1734
I am closing this for lack of activity.
If it's still an issue, I am happy to reopen it.

[2018-06-18 05:01] #1734 closed, assigned to nobody

[2018-06-18 05:04] #1681 closed, assigned to nobody

[2018-06-18 05:05] #1755 closed, assigned to jsuereth

[2018-06-18 05:17] #2836 closed, assigned to nobody

[2018-06-19 02:35] #1502 closed, assigned to eed3si9n

[2018-06-19 03:06] eed3si9n commented on #4186
@SethTisue @cunei Is community build currently running `test`?
In #4213 I split up unit tests into server test and everything else, so by running `; safeUnitTests; otherUnitTests` it should run server tests on their own, which seems to make (at least) Travis happier.

[2018-06-19 15:01] chenrui333 commented on #4193
I will check on this.

[2018-06-19 17:12] eed3si9n commented on #3309
See my comments in https://github.com/sbt/sbt/pull/3532#discussion_r140157900 onwards. The parser is intentionally kept relaxed so it can compose with other commands.

[2018-06-19 17:12] #3309 closed, assigned to nobody

[2018-06-19 17:14] melezov commented on #4919
Since this doesn't work on Windows out of the box, you either need to configure local sbt.bat batch files which inject SBT_OPTS or perhaps use the global SBT config (unless you have project-specific configuration).

I just ran into a problem of having to configure project specific truststores, so... any idea if this is ever going to be worked on? Much obliged!

[2018-06-19 17:53] pathikrit opened #4219 "sbt does not work on openjdk7"
- [x] I've read the [CONTRIBUTING](https://github.com/sbt/sbt/blob/1.x/CONTRIBUTING.md) guidelines

## steps
Create a sbt project using openjdk7, sbt 1.1.x, and scala 2.11.x or 2.12.x

## problem
I tried all 26 possible combinations of (oraclejdk6/7/8/9/10/11 + openjdk6/7/8/9/10/11) across Scala 2.11.x and 2.12.x: https://travis-ci.org/pathikrit/better-files/builds/394190506

All builds pass excep

[2018-06-19 19:09] chenrui333 commented on #4219
I think `sbt` requires JDK 8?

https://www.scala-sbt.org/1.x/docs/index.html

[2018-06-19 19:32] pathikrit commented on #4219
No it works just fine on openjdk6, oraclejdk7 etc. See: https://travis-ci.org/pathikrit/better-files/builds/394190506

Here's a simpler matrix too: https://travis-ci.org/pathikrit/better-files/builds/392067107

[2018-06-19 19:36] stewSquared commented on #1918
I've been reading through this as part of Spree. LMK if any one else has been working on it.
Would be happy to pair/review/etc.

[2018-06-19 20:40] chenrui333 commented on #4219
ah, I see.

[2018-06-20 00:32] cunei commented on #4186
The nightly sbt community tests sbt using `test`; I have not seen this failure so far, however.

[2018-06-20 02:01] #4206 closed, assigned to nobody

[2018-06-20 02:03] #630 closed, assigned to nobody

[2018-06-20 02:48] ghost commented on #4055
I still get this error in windows i have java 10. sbt 1.1.5. and scala 2.12.6

[2018-06-20 13:02] mverbist commented on #4103
Is this still closed?
Because I experienced the same, on a fresh sbt-1.1.6 install (installed by jenkins).
According to my logs, sbt never used the resolvers that I specified in the plugins.sbt, but only those specified by `[repositories]` in the sbt.boot.properties (on my jenkins I had no `~/.sbt/repositories` file)

[2018-06-20 15:36] eed3si9n commented on #4219
Hi @pathikrit. sbt 1 does _not_ work on JDK 6 or 7, Oracle or OpenJDK.
The seeming success you're having on Travis CI I think is an illusion because the JDK packaging they are using is not being honest.
For better cross building, check out my blog post here - http://eed3si9n.com/all-your-jdks-on-travis-ci-using-jabba

[2018-06-20 15:36] #4219 closed, assigned to nobody

[2018-06-20 15:42] eed3si9n commented on #4219
Here's "openjdk6" build https://travis-ci.org/pathikrit/better-files/jobs/392067112:

[code]

See also https://github.com/travis-ci/travis-ci/issues/9713

[2018-06-20 16:34] pathikrit commented on #4219
Oh wow! Travis is being extremely naughty here! I thought it would give an error.
See: https://travis-ci.org/pathikrit/better-files/jobs/391976178

[code]

See this: https://travis-ci.org/pathikrit/better-files/builds/391976176?utm_source=github_status&utm_medium=notification

This uses bunch of really old JDKs and Travis correctly complains that they are not supported!!

[2018-06-20 17:03] tanin47 opened #4222 "NullPointerException on a git dependency."
- [ ] I've read the [CONTRIBUTING](https://github.com/sbt/sbt/blob/1.x/CONTRIBUTING.md) guidelines

## steps

Use a git dependency in `project/plugins.sbt` as shown below:

[code]

## problem

[code]

This error occurs on our CI around 1 in 10 times.

## expectation

I'd expect it not to have an error.

## notes

sbt version: 1.1.5

[2018-06-20 18:11] driquelme commented on #4197
@eed3si9n  ~~This might be a Scalatest issue.~~
What seems to be happening is that Scalatest spawns it's own server thread to listen for incoming events from the remote jvm tasks.
https://github.com/scalatest/scalatest/blob/3.0.x-for-scala-2.12.x/scalatest/src/main/scala/org/scalatest/tools/Framework.scala#L849

The crash happens when Ctrl-C causes the remote jvm to close the client socket. Prior

[2018-06-20 18:23] eed3si9n commented on #4197
@driquelme Thanks for the detective work. Do you think it would still make sense to call `process.destroy()`? Or is the remote JVM automatically shutdown by someone?

[2018-06-20 21:26] jastice commented on #3850
Suggestion from @eed3si9n: if we control the dependency project, we can check for existence of potentially overridden settings, and set them only if not available. @mutcianm

[2018-06-21 03:29] driquelme commented on #4197
@eed3si9n  The child process is receiving the CTRL-C and shutting down, at least on my mac. It should be the same in any POSIX OS. Not sure about windows though.
I also noticed that the Scalatest's server thread, which runs in the mothership jvm, blocks on IO so it doesn't get terminated, this is what ultimately causes the original exception.
I don't think calling `process.destroy` is going to be

[2018-06-21 05:35] xobs commented on #2295
The instructions by @shvahabi no longer work.

[code]

This appears to be because `openjdk-8-jdk` depends on `openjdk-8-jre`, which depends on `libgl1`, which depends on `libglapi-mesa (= 17.2.8-0ubuntu0~16.04.1)` which is unavailable.  Instead, 18.04 includes `libglapi-mesa 18.0.0~rc5-1ubuntu1`, and so Java 8 cannot be installed.

[2018-06-21 10:11] cbrunnkvist commented on #3773
@dwijnand I suppose what @eed3si9n meant was, in a slightly fuller example:
[code]
which as far as I can tell doesn't turn out to be circular, since (x in scope).value apparently evaluates in the global scope _before_ the value in current project in update is assigned in the current project.

Classic n-dimensional SBT mess IMO.

[2018-06-21 13:52] eed3si9n opened #4223 "Build failing on AppVeyor"
https://ci.appveyor.com/project/sbt/sbt/history

[2018-06-21 19:10] montenegrodr commented on #2295
I am running sbt==0.13.1 on 18.04 and followed exactly @shvahabi steps.

[2018-06-21 21:52] nivekastoreth opened #4224 "Performance issues starting with SBT 1.1.1"
- [ x ] I've read the [CONTRIBUTING](https://github.com/sbt/sbt/blob/1.x/CONTRIBUTING.md) guidelines

## steps
I've stripped our project of all non-sbt related stuff and have put it up here: https://github.com/nivekastoreth/sbt-performance-project

[code]

## problem
Vastly increased build times when migrating past sbt 1.1.0
* Loads all 8 CPU cores to 100% for duration
* SBT commands that take ~10

[2018-06-22 03:48] eed3si9n commented on #4224
@nivekastoreth Thanks for the report. Could you try with `-Dsbt.io.jdktimestamps=true` please?

[2018-06-22 05:55] nafg commented on #3581
What's the plan with this?

[2018-06-22 06:15] nivekastoreth commented on #4224
Being unsure what that setting does, assuming all you wanted was a comparison of runtimes using that setting
[code]
(also, as always, the 1.1.1+ run pegged my cpu for the majority of the duration)

[2018-06-23 12:13] SethTisue commented on #4148
@dwijnand seen again at https://scala-ci.typesafe.com/view/scala-2.12.x/job/scala-2.12.x-integrate-community-build/3035/consoleFull (even though we are using `v1.1.6` tag)

[2018-06-23 12:52] dwijnand commented on #4148
/cc @cunei

[2018-06-23 17:31] SethTisue commented on #4148
fwiw, I now know how to disable tests on a per-file basis, with e.g. `"set excludeFilter in (Test, unmanagedSources) := HiddenFileFilter || \"SessionSettingsSpec.scala\""`, so you needn't prioritize this because of the community build, only prioritize it if you're concerned yourselves

[2018-06-23 23:11] eed3si9n commented on #4224
sbt 1.1.1 didn't add much (https://www.scala-sbt.org/1.x/docs/sbt-1.1-Release-Notes.html#sbt+1.1.1), so I am a bit confused. I thought https://github.com/sbt/io/pull/120 might be related to Windows specifically so I asked you to try `-Dsbt.io.jdktimestamps=true`, which disables using native code to grab the timestamp (for milisec resolution, as opposed to sec resolution available to JDK).

[2018-06-23 23:36] eed3si9n commented on #4224
I couldn't resolve optParseApplicative so I commented out, but I am hoping that's not a substantive change:

[code]

Here's my result on MacBook Pro:

[code]

My SBT_OPTS is

[code]

Could you be hitting GC more often somehow?

[2018-06-24 08:18] karthisampath commented on #3516
I'm getting this error while running my sbt , even when i use IDE i'm getting the same error
java.lang.VerifyError: Uninitialized object exists on backward branch 487

[2018-06-24 18:07] nivekastoreth commented on #4224
Mine are:
[code]

I re-ran with
[code]
with the following results:
![Updated SBT_OPTS Performance](https://i.imgur.com/LXlgPWb.png)

I do note here that 1.1.1 is the only one that brings all of my network IO to a complete halt as well, although I don't know if that's the result of, or the cause of, the takeover of all CPU cycles.

[2018-06-24 18:15] nivekastoreth commented on #4224
Here's a per-process view of a 1.1.0 and 1.1.1 run:

1.1.0:
![1.1.0 process performance](https://i.imgur.com/rIHuU2A.png)

1.1.1:
![1.1.1 process performance](https://i.imgur.com/I908KZF.png)

The 1.1.1 process 100% CPU usage appears to always go before a small blip in network usage, at which point it dives down to normal before spiking back up to 100% again.  I'll try to get both these processes

[2018-06-25 01:59] benhutchison commented on #3737
Is this fixed in 1.1.6? Im seeing behaviors that match this bug report at the end of a `run` on 1.1.6

Im using https://github.com/sbt/sbt-multi-jvm, maybe thats related..

[2018-06-25 02:33] nivekastoreth commented on #4224
I have some preliminary profiling results, and I don't have a lot of time to look at this currently, but right out of the gate there's one huge difference

1.1.0 spins up 68 total threads for the `sbt evicted` call.
1.1.1 spins up 333 with the name `scala-execution-context-N` where `N` is the thread count number

This massive spinup begins with a bunch of threads locking on `sun.net.www.protocol.j

[2018-06-25 02:54] nivekastoreth commented on #4224
Alternatively YourKit's "automatic deadlock detection" suggests the following, which I've no idea how accurate it is:

[code]

[2018-06-25 03:04] nivekastoreth commented on #4224
However the thread view seems to agree with JProfiler regarding what it's actually doing:
![Yourkit thread view](https://i.imgur.com/TAtSGUE.png)

[2018-06-25 03:12] nivekastoreth commented on #4224
This looks like it may be directly related to:
https://github.com/sbt/librarymanagement/compare/v1.1.2...v1.1.3
https://github.com/sbt/librarymanagement/commit/86c59d8f72b716492f021367ac572a2618af0b6b

which @leifwickland almost immediately pointed out as a very likely culprit

[2018-06-25 16:22] jastice commented on #3581
As discussed in https://youtrack.jetbrains.com/issue/SCL-10898 we'll consider supporting giter8 directly, which should make it easier to integrate.

[2018-06-25 17:02] wrighton opened #4228 "confusing SBT crash with stack trace"
## problem
I'm not going to be able to provide a testcase (as our code is proprietary), but hopefully this is something where at the least error message could be improved in a future sbt version.

One of the users I support has been reporting SBT crashes with the following stacktrace:
[code]

## expectation
A crash of this nature should provide more context as to exactly what has gone wrong. "null

[2018-06-25 17:36] #2881 closed, assigned to dwijnand

[2018-06-25 18:19] eed3si9n commented on #2295
Attention Ubuntu users: Please see the note here https://www.scala-sbt.org/1.x/docs/Installing-sbt-on-Linux.html#Ubuntu+and+other+Debian-based+distributions:

  [cert-bug]: https://bugs.launchpad.net/ubuntu/+source/ca-certificates-java/+bug/1739631

[2018-06-25 18:31] eed3si9n commented on #4224
This is an interesting detective work. I'd be happy to revert https://github.com/sbt/librarymanagement/pull/204 /cc @OlegYch.
I also wonder if there's a potential issue with `blocking` especially when used in conjunction with a parallel collection.

[2018-06-25 18:37] nivekastoreth commented on #4224
Making sure this wasn't isolated to my specific Windows install, I tried running on my laptop (also windows based) with the following results:

[code]

However it does not appear to be happening on OSX:
[code]

And for kicks, here it is running in WSL Ubuntu on my original PC:
[code]

[2018-06-25 18:42] OlegYch commented on #4224
i'll take a look, @nivekastoreth how many cores/threads do your win/mac boxes have?

[2018-06-25 20:15] nivekastoreth commented on #4224
Per @drstevens's theory that perhaps this is related to the processor being used, the specs on both affected machines are as follows:
Desktop:
* Intel Core i7-6700K
* Cores/Threads: 4 / 8

Laptop:
* Intel Core i7-7700HQ
* 4 / 8

So they both have the same core/thread count even if they're different chips.

On the other hand, my macbook only 2 cores running 4 threads:
[code]

[2018-06-25 20:33] nivekastoreth commented on #4224
Trying on a completely different type of machine, while it doesn't have the same crippling effect on a 6core 24thread production machine, 1.1.0 still runs faster than 1.1.1:

[code]

[2018-06-25 20:37] nivekastoreth commented on #4224
Woops, sorry @OlegYch I missed your comment there, but I believe I've provided the information you asked for by being otherwise prompted.  Let me know if you need more details.

[2018-06-25 21:31] OlegYch commented on #4224
https://github.com/sbt/librarymanagement/pull/249 brings back performance on the example project to 1.1.0 level

[2018-06-25 22:23] eed3si9n commented on #3773
Yes.

[code]

RHS should delegate to globally scoped evictionWarningOptions.

[2018-06-25 23:39] #4223 closed, assigned to eed3si9n

[2018-06-26 01:44] SethTisue commented on #4186
okay, I guess we should optimistically close this; once a new sbt comes out and I move the community build onto newer tags, I'll try your recommendation. (I have added a comment to the config file so I don't forgot.)

[2018-06-26 01:44] #4186 closed, assigned to nobody

[2018-06-26 02:22] #3127 closed, assigned to dwijnand

[2018-06-26 09:22] gabriel-bezerra commented on #3519
Does the Merged Upstream label mean it is about to be fixed in the next version of sbt?

[2018-06-26 14:28] cunei commented on #4148
That was fixed in f2a7e1f1c3911fc9fa911d3fc76f61de28fd7a52, which was merged into 1.1.x on May 29. However, v1.1.6 points to 7e8e18b9fa139354669fe31a96d5d62d9e62188f, which is the commit that just precedes it. The fix is actually not in v1.1.6. @eed3si9n

[2018-06-26 14:38] som-snytt commented on #4134
If you're close to exhausting stack, `-Xprint:all` is another test.

[2018-06-26 15:48] xuwei-k commented on #4208
I think this is not sbt bug. Try add

[code]

in your build.sbt

https://github.com/playframework/playframework/pull/8382

[2018-06-26 15:51] xuwei-k commented on #4182
https://github.com/scala/bug/issues/10870 ?

[2018-06-26 20:05] eed3si9n commented on #4208
Thanks @xuwei-k! I agree with Yoshida-san that whether JAXB is included in the JRE or not really isn't the bug of sbt.

[2018-06-26 20:05] #4208 closed, assigned to nobody

[2018-06-26 20:10] eed3si9n commented on #4228
@wrighton Thanks for the report.

The stack trace looks like it's coming from the Scala compiler. Could you provide a bit more context into how you're seeing the error? What's the output of `java -version`? Do you see them as you're starting `sbt`? Or do you see them upon calling `compile` task? If so, what version of Scala are you using?

[2018-06-26 20:12] eed3si9n commented on #4197
Fixed in https://github.com/sbt/sbt/pull/4226

[2018-06-26 20:12] #4197 closed, assigned to nobody

[2018-06-26 20:13] eed3si9n commented on #4193
Looks like there's a PR for this - https://github.com/sbt/sbt-launcher-package/pull/232

[2018-06-26 20:15] eed3si9n commented on #4157
Fixed in https://github.com/sbt/librarymanagement/pull/248

[2018-06-26 20:15] #4157 closed, assigned to nobody

[2018-06-26 23:31] #3519 closed, assigned to eed3si9n

[2018-06-26 23:31] #4224 closed, assigned to nobody

[2018-06-27 02:58] wrighton commented on #4228
Hi Eugene,
We're relative amateurs with Scala. But I'll try to help with your questions. We're on Java 1.8.151. Our Scala version is 2.12.4.

I haven't been able to reproduce this in my own environment. We found that in my coworkers environment though, it would suffice at least anecdotally to 'rm -rf project/target' and then rebuild from there.

I think the right thing to do is get the Scala compi

[2018-06-27 03:42] SemiHum commented on #3404
Same problem with sbt 0.13.13. Any solution?

[2018-06-27 11:38] eed3si9n commented on #3404
SNAPSHOT when published outside of one's local machine is a mess. The expectation is that sbt picks up the latest among the potentially many divergent artifacts across local repo and remote repos. The error message is saying that sbt failed to acquire the publish date for one of the SNAPSHOT. My general recommendation is to stop using SNAPSHOT outside of local testing.

[2018-06-27 11:38] #3404 closed, assigned to nobody

[2018-06-27 13:52] Duhemm opened #4234 "Bad interaction between `.parsed` and partial functions in `inputTaskDyn`"
- [x] I've read the [CONTRIBUTING](https://github.com/sbt/sbt/blob/1.x/CONTRIBUTING.md) guidelines

## steps
build.sbt:
[code]

## problem
The build doesn't compile:
[code]

## expectation
The build should compile.

## notes
I suspect there's a bad interaction between how scalac rewrites partial functions, the expansion of the `.parsed` macro, when everything happens inside a dynamic input task. I

[2018-06-27 14:52] rojanu commented on #3404
SNAPSHOT is part of many many projects and how they handle code that's not released and to push it to a side and say don't use it beyond your local box is not really ideal.

Other build tools handle it well and sbt is expected to behave the same.

I am having difficulty to understand the logic behind closing the issue and not fixing it

[2018-06-27 16:58] #4121 closed, assigned to nobody

[2018-06-27 17:41] eed3si9n commented on #3404
I am just being honest about the current status at least regarding Ivy's resolution.
You might want to give https://github.com/coursier/coursier a spin and see if it handles better.

[2018-06-27 17:45] eed3si9n commented on #4234
Thanks for the report. If not compile, it would be nice to give better error so we'd know how to work around it.

[2018-06-27 19:27] #2798 closed, assigned to eed3si9n

[2018-06-27 19:27] #3508 closed, assigned to nobody

[2018-06-27 21:55] SethTisue commented on #4148
okay, the community build config now has a comment about it, for when we move to the next set of tags

[2018-06-27 21:55] #4148 closed, assigned to nobody

[2018-06-28 02:37] pshirshov opened #4236 "ClassCastException in scripted plugin on 1.2-M1"
- [X] I've read the [CONTRIBUTING](https://github.com/sbt/sbt/blob/1.x/CONTRIBUTING.md) guidelines

[code]

I guess that shouldn't happen, right?

[2018-06-28 05:32] eed3si9n commented on #4236
No, it shouldn't. We probably need to port https://github.com/sbt/zinc/pull/441.

[2018-06-28 06:10] eed3si9n opened #4238 "Flaky test actions/eval-is-safe-and-sound"
On AppVeyor actions/eval-is-safe-and-sound fails a lot.

[2018-06-28 06:10] #2939 closed, assigned to eed3si9n

[2018-06-28 12:03] DavidPerezIngeniero commented on #4182
That's true, in my project I use string interpolation heavily, sometimes with big strings.

[2018-06-28 15:55] fchaillou commented on #1448
Actually, this still doesn't work.
I tried with sbt 1.1.6 and sbt still tries to fetch the barProj with ivy instead of using the local project ref as it should

[2018-06-28 16:12] fchaillou commented on #1448
To complete my previous answer, it works and doesn't work at the same time (the shroedinger build :D)
So if i run `+fooProj/compile` then it works as expected but if i try to run `+compile` then it still fails as described in this bug

[2018-06-28 18:11] varunkvv commented on #4168
I just want to add, I was able to reproduce through compression / decompression. Don't need containers.

On my project (let's call it `scala-project`):

1. compile scala-project. then compile again - it will use incremental compilation, and no recompilation is actually going to happen
2. compress it (on macos 10.13.5 zip functionality if that matterrs)
3. delete the original scala-project folder
4

[2018-06-29 08:02] m-sp commented on #290
I guess these https://github.com/sbt/librarymanagement/pull/92 are the librarymanagement changes?

where they already integrated in sbt/sbt?

[2018-06-29 14:56] aryairani commented on #3868
Is there a released version that implements this? Thanks.

[2018-06-29 15:08] francisdb commented on #3868
Still find it sometimes not detecting code changes on `1.1.6`

[2018-06-29 15:22] eatkins commented on #3868
@francisdb can you provide more details? Do you have a straightforward sbt build or is there anything non-standard with the layout? Are there any symlinks for source files or directories?

[2018-06-29 15:24] francisdb commented on #3868
Huge project with 20+ subprojects, not easy to reproduce, is there a way to get logs from the watcher?

[2018-06-29 15:45] aryairani commented on #3868
I'm using 1.1.6 and haven't been able to trigger a custom watched directory either.  Also happy to provide logs.

[2018-06-29 15:49] eed3si9n commented on #3519
@gabriel-bezerra Yes

[2018-06-29 16:06] eatkins commented on #3868
Unfortunately, logs are not available at the moment due to https://github.com/sbt/sbt/issues/4097. I am thinking about how to work around that bug, but any change won't be available until the next sbt release at the earliest*. I am actively working on improving the directory watching, but most of it is out of band work on the close watch plugin that I hope to complete and integrate into sbt soonis

[2018-06-29 16:48] aryairani commented on #3868
@eatkins I built `sbt` from `master` but don't know how to run it :)
edit: I replaced log.debug with println at Watched.scala#L111, then `sbt publishLocal` and then `java -jar <sbt-dir>/launch/target/sbt-launch.jar` in my project dir.  But no change and no obvious logging output.

[2018-06-29 16:58] eed3si9n commented on #3868
@aryairani Start sbt with `sbt -Dsbt.version=1.2.0-SNAPSHOT`, and then run `reboot dev` once to clear the boot directory.

[2018-06-29 17:02] eed3si9n commented on #4236
To a potential contributor:

Add

[code]

to somewhere in https://github.com/sbt/sbt/blob/1.x/main/src/main/scala/sbt/ScriptedPlugin.scala

[2018-06-29 17:32] eed3si9n commented on #3819
The new Close Watch based ~ fixed this, I think, so I am optimistically closing this.

[2018-06-29 17:32] #3819 closed, assigned to nobody

[2018-06-29 17:48] eed3si9n commented on #3868
I'm retiring this epic, and going to use the label area/watch instead. Feel free to either continue the conversation here, or open a new issue.

[2018-06-29 17:48] #3868 closed, assigned to eatkins

[2018-06-29 17:57] eed3si9n commented on #4166
@avdv Would putting the following in `project/plugins.sbt` mitigate the issue you're seeing?:

[code]

[2018-06-29 17:59] eed3si9n commented on #3710
Fixed in https://github.com/sbt/librarymanagement/pull/239

[2018-06-29 17:59] #3710 closed, assigned to nobody

[2018-06-29 18:00] eed3si9n commented on #3941
Fixed in https://github.com/sbt/librarymanagement/pull/214

[2018-06-29 18:00] #3941 closed, assigned to nobody

[2018-06-29 18:03] eed3si9n commented on #3334
I think clean Git history is a worthy goal, but I am guessing this won't happen for a while, so I am closing this. PR or proposal around this would be welcome.

[2018-06-29 18:03] #3334 closed, assigned to nobody

[2018-06-29 18:06] eed3si9n commented on #3555
This is a bug in bash script (https://github.com/sbt/sbt-launcher-package). The launcher scripts are likely consuming `-debug` and they don't pass `-debug` to sbt JAR.

[2018-06-29 18:27] eed3si9n commented on #2882
To potential contributors: The relevant code:

- internal command called "initialize" https://github.com/sbt/sbt/blob/0dfab79d8d1aba3587a89913f92726a5812bfe9f/main/src/main/scala/sbt/Main.scala#L440-L443.
- some of the files used in this PR (https://github.com/sbt/sbt/pull/4211) such as https://github.com/sbt/sbt/blob/1.x/main-command/src/main/scala/sbt/BasicCommandStrings.scala and https://github

[2018-06-29 18:27] eed3si9n commented on #3558
This should be fixed now.

[2018-06-29 18:27] #3558 closed, assigned to nobody

[2018-06-29 18:38] jonas-db commented on #3270
@dwijnand Sorry for re-opening, but is there something similar I can do to avoid, when running mulitple sbt builds at the same time?:
`Waiting for lock on /home/.../.sbt/boot/sbt.boot.lock to be available`

[2018-06-29 19:18] jonas-db commented on #3729
Same problem, is there a work-around???

[2018-07-01 05:30] eed3si9n commented on #3972
Fixed in https://github.com/sbt/io/pull/134

[2018-07-01 05:30] #3972 closed, assigned to nobody

[2018-07-01 08:02] #3773 closed, assigned to nobody

[2018-07-01 10:32] larsrh commented on #3398
I'd really like to take a crack at this, because it's annoying me too, but I haven't the faintest idea where to start.

[2018-07-01 19:35] Philippus commented on #1380
@chEbba can you make a PR of your commit? It would be nice to have this in `1.2.0`.

[2018-07-01 20:37] eed3si9n commented on #3773
sbt 1.2.0-RC1 is now out that defaults to summary mode.

[2018-07-01 20:38] #4199 closed, assigned to nobody

[2018-07-02 08:53] daniel-kullmann opened #4240 "Interaction between -Dsbt.repository.config and -Dsbt.override.build.repos has changed"
- [X] I've read the [CONTRIBUTING](https://github.com/sbt/sbt/blob/1.x/CONTRIBUTING.md) guidelines

## steps

* Use an internal dependency repository with `-Dsbt.repository.config=<file>`
* See sbt fail to use the new repository
* Add `-Dsbt.override.build.repos=true`
* See that sbt starts to use the new repository

## problem

It used to work to just use `-Dsbt.repository.config=<file>`, and leav

[2018-07-02 12:03] gabriel-bezerra commented on #3519
Thanks, Eugene.

[2018-07-02 13:05] dwijnand commented on #3519
Updated the label description to communicate this going forward (https://github.com/sbt/sbt/labels).

[2018-07-02 13:16] dwijnand commented on #3552
Duplicate of #3950

[2018-07-02 13:16] #3552 closed, assigned to eed3si9n

[2018-07-02 13:35] geoffwa commented on #3471
Upgrading java manually on my Sierra install fixed this error.

For some reason the Java auto-updater decided that my Java 8 build was already up to date 😕

[2018-07-02 14:10] xuwei-k opened #4241 "'sbt "^^ 1.2.0-RC1" scripted' throw "ClassNotFoundException: sbt.test.ScriptedTests$""
- [x] I've read the [CONTRIBUTING](https://github.com/sbt/sbt/blob/1.x/CONTRIBUTING.md) guidelines

## steps

### build.properties

[code]

### project/plugins.sbt

[code]

### build.sbt

[code]

run `sbt "^^ 1.2.0-RC1" scripted`

## problem

[code]

## expectation

success scripted test

## notes

sbt version: 1.1.6, 0.13.17 (maybe all old versions?)

[2018-07-02 14:27] xuwei-k opened #4242 "[sbt 1.2.0-RC1] reference to test is ambiguous"
- [x] I've read the [CONTRIBUTING](https://github.com/sbt/sbt/blob/1.x/CONTRIBUTING.md) guidelines

## steps

### build.properties

[code]

### project/plugins.sbt

[code]

### build.sbt

[code]

just launch `sbt`

## problem

[code]

## expectation

success compile build.sbt file

## notes

sbt version: 1.2.0-RC1

[2018-07-02 14:43] eed3si9n commented on #4242
I was aware of this when I sent https://github.com/sbt/sbt/pull/3875.
I moved implementation of `sbt.test` to `sbt.scriptedtest` but I kept the old `sbt.test` in scripted-plugin for backward compatibility. If you use `SbtPlugin`, you won't need scripted-plugin any more.

[2018-07-02 14:50] #4242 closed, assigned to eed3si9n

[2018-07-02 17:49] sjrd opened #4243 "Filtering of scripted tests based on project/build.properties appears not to work"
- [x] I've read the [CONTRIBUTING](https://github.com/sbt/sbt/blob/1.x/CONTRIBUTING.md) guidelines

## steps

Clone https://github.com/sjrd/sbt-crossproject/tree/scripted-filtering-bug and checkout that branch, then:
[code]

## problem

The test `composite-project` should be skipped, because it contains a `project/build.properties` file that says `sbt.version=1.2.0-RC1`, which does not qualify for

[2018-07-02 20:40] nafg commented on #3869
Why not just make `WatchState#sources` not private?

[2018-07-02 20:45] eatkins commented on #3869
That doesn't fix the problem. `WatchState#sources` tells you what sources _could_ have triggered the rebuild, but not which actually did. At any rate, the logs that show explicitly which file triggered the build are now present, but due to #4097, they are not yet actually visible.

[2018-07-02 21:42] nafg commented on #3869
Is that somehow different than the relevant settings? If not, what purpose
does it serve?

On Mon, Jul 2, 2018, 4:45 PM Ethan Atkins <notifications@github.com> wrote:

[2018-07-02 22:33] nafg commented on #3869
Also, if it is logged in the debug log stream together with a million other things, it's not that helpful. If there was just a field on WatchState or something else I can access in the `triggeredMessage` setting, I could just get it to print there without affecting anything else.

[2018-07-03 00:57] eed3si9n commented on #4240
Thanks for the report. I don't remember making this change, and if we did during the patch release, that wasn't our intention.

[2018-07-03 01:21] eatkins commented on #3869
does it serve?

I don't understand the question. Would you elaborate?

The purpose of the logs are for debugging. They weren't added with the idea of building any additional feature around them. Yes, the log output is noisy in debug mode, but ideally the feature works correctly the vast majority of the time and the noise is irrelevant.

I like the idea of adding an additional Path parameter to tri

[2018-07-03 04:46] nafg commented on #3869
I mean, is the value of WatchState#source different than the value of the watchSources setting

[2018-07-03 05:55] retronym opened #4244 ""[warn] The `load-failed` command is deprecated" displayed when tab completing in shell"
- [x] I've read the [CONTRIBUTING](https://github.com/sbt/sbt/blob/1.x/CONTRIBUTING.md) guidelines

## steps

 - Open a project with SBT 1.2.0-RC1. (The problem doesn't appear in 1.1.6)
 - Hit `<TAB>`
 - Witness:

[code]

## problem

Deprecation warnings unrelated to my task.

## expectation

The deprecation warning should only be shown if the command is invoked explicitly.

## notes

sbt version:

[2018-07-03 06:18] andyscott commented on #3110
Seems you can also just introduce some bogus indirection via `val Def = sbt.Def` outside your task and voilà! It works! (at least for me).

[2018-07-03 07:12] retronym commented on #4244
The deprecation was added in #4080

[2018-07-03 07:25] retronym commented on #4244
WIP : https://github.com/sbt/sbt/compare/1.x...retronym:ticket/4244

[2018-07-03 09:13] daniel-kullmann commented on #4240
I had trouble finding the place in the source code where the repository config file is handled. Could you point me into the right direction?

[2018-07-03 15:01] ablx commented on #3618
This still happens in sbt 1.1.0 - any version available where this is fixed?

[2018-07-03 16:42] eed3si9n commented on #4244
Thanks for the report! The warning message was added in https://github.com/sbt/sbt/pull/4159 during Scala Spree Berlin. We should've thought about parser getting invoked during tab completion etc.

[2018-07-03 16:44] eed3si9n commented on #4244
The WIP branch looks good to me.

[2018-07-04 04:29] #4244 closed, assigned to nobody

[2018-07-04 06:30] inkytonik opened #4247 "The output panel steals the focus each time a build happens"
- [ x] I've read the [CONTRIBUTING](https://github.com/sbt/sbt/blob/1.x/CONTRIBUTING.md) guidelines

## steps

1. Open a scala project that uses sbt 1.1.x in VSCode.
2. Wait for the sbt server to start and be connected.
3. Make a change that introduces an error in a source file in the project.
4. Save the file.
5. The build happens and the problems are reflected in the VSCode problems list.

## pr

[2018-07-05 11:00] andersonvom opened #4248 "Publish GPG key in public keyserver"
- [✓] I've read the [CONTRIBUTING](https://github.com/sbt/sbt/blob/1.x/CONTRIBUTING.md) guidelines

## Steps

    $ gpg --verify --keyserver hkp://keyserver.ubuntu.com:80 sbt-1.1.6.tgz.asc sbt-1.1.6.tgz
    gpg: Firmado el Fri Feb  9 22:45:39 2018 CET
    gpg:                usando RSA clave 99E82A75642AC823
    gpg: Imposible comprobar la firma: No public key

## Problem

The key cannot be verifi

[2018-07-05 11:52] #1571 closed, assigned to nobody

[2018-07-05 11:52] #2259 closed, assigned to nobody

[2018-07-05 11:52] #2332 closed, assigned to nobody

[2018-07-05 11:52] #2359 closed, assigned to nobody

[2018-07-05 11:52] #2361 closed, assigned to nobody

[2018-07-05 11:52] #2370 closed, assigned to nobody

[2018-07-05 11:53] #2445 closed, assigned to nobody

[2018-07-05 11:53] #2472 closed, assigned to nobody

[2018-07-05 11:53] #2533 closed, assigned to nobody

[2018-07-05 11:53] #2534 closed, assigned to nobody

[2018-07-05 11:53] #2568 closed, assigned to nobody

[2018-07-05 11:53] #2571 closed, assigned to nobody

[2018-07-05 11:53] #2584 closed, assigned to nobody

[2018-07-05 11:53] #2698 closed, assigned to nobody

[2018-07-05 11:53] #2866 closed, assigned to nobody

[2018-07-05 11:53] #3638 closed, assigned to nobody

[2018-07-05 11:54] #3716 closed, assigned to nobody

[2018-07-05 11:54] #3939 closed, assigned to nobody

[2018-07-05 11:54] #4107 closed, assigned to nobody

[2018-07-05 15:07] eed3si9n commented on #4248
Thanks for the report!

[2018-07-05 19:16] eed3si9n opened #4249 "[1.2.0-RC1] Plugin provided by multiple AutoPlugins: sbt.ScriptedPlugin by sbt.ScriptedPlugin, sbt.ScriptedPlugin"
originally reported by @xuwei-k  in https://twitter.com/xuwei_k/status/1014692816411246592

## steps

1. sbt 1.2.0-RC1
2. Use `addSbtPlugin("org.foundweekends.giter8" %% "sbt-giter8" % "0.11.0-M4")`

## problem

See https://travis-ci.org/foundweekends/giter8.g8/jobs/400210473#L566

[code]

## expectation

Works as sbt 1.1.6.

## notes

This is happening because sbt 1.2.0-RC1 brings in sbt.Scripted

[2018-07-06 07:46] cchepelov commented on #2451
I am hitting the same issue (hi @simondumas 😉) in 1.1.6, and the workaround also no longer works.

[2018-07-06 09:25] cchepelov commented on #2451
It seems the ~~bug~~ issue with the workaround no longer working is coursier-related!

Testing now on sbt-1.1.6 and coursier 1.0.3 or 1.1.0-M4; having updated the workaround to read:

[code]

Apparently, sometime around up to sbt-0.13.16, coursier (1.0.3 & 1.1.0-M4) no longer understands when an explicit Artifact is destined only to certain configurations and not others.

The culprit seems to be h

[2018-07-06 10:22] cchepelov commented on #2451
having disabled Coursier, the same misbehaviour happens including with improper injection of (in this example) hadoop-common's test artifact within (non-test) dependents' runtime or assembly classpath, and the workaround doesn't seem to have any effect.

[2018-07-06 10:22] Crazy-Hopper commented on #3916
Pardon, could anyone please explain why this issue was closed?
For me it seems to be quite a legit request to publish an official Debian package for an officially released version.

[2018-07-06 10:46] eed3si9n commented on #3916
I didn't close the issue, but I think closing it makes sense. First, does apt sort by the publish date or by version number? Assuming it's by date, if we published 0.13.17 wouldn't that get pushed out to the world as the latest?

Second, sbt 1 launcher is able to launch sbt 0.13 anyway, so you won't gain much from having this deb file.

[2018-07-06 10:57] cchepelov commented on #2451
I think we can close this now; when running with SBT 1.1.6 and without Courier, without the workaround,

[code]

does the right thing. It still misbehaves with Courier on, but this doesn't seem to me to be a SBT problem any longer.

[2018-07-06 11:36] eed3si9n commented on #2451
Thanks for the comment. I am closing this for now.

[2018-07-06 11:36] #2451 closed, assigned to nobody

[2018-07-06 11:48] Crazy-Hopper commented on #3916
First, absolutely no.
Second, the gain is obvious. For me -- it's simplicity, for officials -- it's completeness.
Well, i could actually build the deb myself if there were deb sources in the repository (which i couldn't find).

[2018-07-06 12:22] #4247 closed, assigned to eed3si9n

[2018-07-06 12:27] eed3si9n commented on #3916
That's good to know.

https://github.com/sbt/sbt-launcher-package

[code]

[2018-07-06 20:28] inkytonik commented on #4247
Great! Thanks for the quick response.

[2018-07-09 03:09] eed3si9n commented on #4247
@inkytonik It's been bothering me (and I am sure anyyone who used the extension). Thanks for linking to the existing case on this. That was a good hint.

[2018-07-09 04:15] eed3si9n commented on #4241
This is a bit of a sticky situation. See https://github.com/sbt/sbt/blob/v0.13.17/scripted/plugin/src/main/scala/sbt/ScriptedPlugin.scala

This introduces

[code]

Note this uses `"scripted-sbt"` not `"scripted-plugin"`.

In sbt 1.2.0-RC1 the package name of `ScriptedTests` have moved to `sbt.scriptedtest` (to work around https://github.com/sbt/sbt/issues/4242) while keeping the shim in `"scripted

[2018-07-09 04:55] svshb commented on #4166
It feels that new version might have some issues with offloading / loading class duplicates.
I run `test` 3 times over a project with 12 modules for both `1.1.4` and `1.1.6` sbt versions:

`1.1.4`:
Metaspace (end): 210 MB
Loaded classes: 28k
Unloaded classes: 15.5k

`1.1.6`, no scala version in `project/plugins.sbt`:
Metaspace (end): 660 MB
Loaded classes: 75k
Unloaded classes: 5.5k
`scalaVersion

[2018-07-10 01:43] eed3si9n commented on #4166
I am looking at:
- https://github.com/sbt/sbt/compare/v1.1.4...v1.1.5
- https://github.com/sbt/zinc/compare/v1.1.5...v1.1.7
- https://github.com/sbt/io/compare/v1.1.6...v1.1.8

but nothing is jumping at me. In terms of the metaspace and tests https://github.com/sbt/sbt/pull/4114 sounds related, but it was supposed to fix the metaspace leakage.

[2018-07-10 06:47] eed3si9n commented on #4241
Sent in https://github.com/sbt/sbt/pull/4258

[2018-07-10 06:54] retronym commented on #4166
Is this reproducible on a public project? I haven't been able to trigger it.

[2018-07-10 07:04] eed3si9n commented on #4166
I've been using https://github.com/sbt/librarymanagement, and running:

[code]

each time, I do see metaspace increase.
<img width="789" alt="visualvm" src="https://user-images.githubusercontent.com/184683/42494326-f7203868-83ed-11e8-9b4c-b597b32f2d2e.png">

[2018-07-10 07:40] ches commented on #4166
Just to eliminate low-hanging fruit of whether any oversight in the change of #4114 left a leak, could try a reproduction case with the JUnit XML plugin disabled?

[code]

**Edit**: Tried it with librarymanagement, same growing metaspace as @eed3si9n observed with and without the JUnit XML plugin.

[2018-07-10 14:03] #4241 closed, assigned to eed3si9n

[2018-07-10 14:03] #4249 closed, assigned to eed3si9n

[2018-07-11 04:08] retronym commented on #4166
Looks like something in the library `okio.jar` is retaining the classloader.

![image](https://user-images.githubusercontent.com/65551/42550222-d44e73fa-8513-11e8-8265-c4c9f72cab53.png)

Maybe related: https://github.com/square/okio/issues/107

[2018-07-11 04:23] retronym commented on #4166
Actually, maybe that's a red herring. The other instances of `Class` (loaded from previous test classloaders) are ineligible for GC because the test classloaders are still referenced by `Thread.contextClassLoader` from threads in the thread pool.

e.g.
![image](https://user-images.githubusercontent.com/65551/42550565-dc430b00-8515-11e8-91da-3abee5eb8f10.png)

That should be the case if this resett

[2018-07-11 08:16] ashussen opened #4259 "Null Pointer Exception on old project"
- [x] I've read the [CONTRIBUTING](https://github.com/sbt/sbt/blob/1.x/CONTRIBUTING.md) guidelines

## steps
I am simply run `sbt` on a scala project directory.
Then these whole bit of NullPointerException popup.

On the /project folder I have 3 files:
1. assembly.sbt, here is file content
[code]

2. build.properties, here is the file content
[code]

3. Builder.scala, here is the file content
[cod

[2018-07-11 13:37] eed3si9n commented on #4259
It looks like you're using JDK 9 or 10. If so please use 0.13.17.

[2018-07-11 13:37] #4259 closed, assigned to nobody

[2018-07-11 14:02] eed3si9n commented on #4166
If we are leaking classloader in TestFramework.scala, it has to have been happening for a while since the history doesn't show much https://github.com/sbt/sbt/commits/1.x/testing/src/main/scala/sbt/TestFramework.scala

[2018-07-11 19:22] aturner-tvpage commented on #1824
I'm seeing this issue occasionally whilst online.  for a week it was fine, then suddenly I started getting this error.

[2018-07-12 14:32] MasseGuillaume opened #4260 "Support for nix/nixos in CrossJava"
The current mechanism in CrossJava: https://github.com/sbt/sbt/blob/1.x/main/src/main/scala/sbt/internal/CrossJava.scala scan linux directories for java home.

As stated in the PR: https://github.com/sbt/sbt/pull/4245#issuecomment-404529319, there is no such default in nix/nixos. You need to provide the path explicitly.

Here is what I suggest:

Detect the user is using nix or nixos.

[code]

Nixo

[2018-07-12 14:54] andb0t opened #4261 "Ubuntu 18.04 on WSL installation problem"
- [x] I've read the [CONTRIBUTING](https://github.com/sbt/sbt/blob/1.x/CONTRIBUTING.md) guidelines

## steps
* Follow the steps on [the sbt reference page](https://www.scala-sbt.org/1.0/docs/Installing-sbt-on-Linux.html)

## problem
The command `sudo apt-key adv --keyserver hkp://keyserver.ubuntu.com:80 --recv 2EE0EA64E40A89B84B2DF73499E82A75642AC823` breaks with the following error:

[code]

## e

[2018-07-12 17:24] eduardohl commented on #4166
Having same problem at 1.0.6 too!

[2018-07-12 18:42] dukejansen commented on #4117
This continues to be an ongoing frustration.

[2018-07-12 22:46] retronym commented on #4166
I didn't draw any solid conclusions from my attempts so far to track this down.

[2018-07-12 23:08] retronym commented on #4166
Next thing to investigate: shutdown hooks

![image](https://user-images.githubusercontent.com/65551/42664085-468d9306-867c-11e8-845a-573ffe33f3f5.png)

[2018-07-13 04:03] retronym commented on #4166
I've found some potential classloader leaks in Log4J (as used within the `librarymanagement` test suite) and in ScalaTest.

The Log4J part can be worked around with:

[code]

But that still runs into the metaspace exhaustion if you run a big sequence of `testOnly` tasks in quick succession, as ScalaTest leaks a `TimerThread` which references the test classloader, and it seems that a metaspace exha

[2018-07-13 04:28] retronym commented on #4166
Another thing I notice is that Scalatest loads some messages from a `PropertyResourceBundle`. `ResouceBundle` then has a weak reference to the test classloader. The metaspace used by the corresponding metadata will not be reclaimed until that weak reference is cleared and (I think) as subsequent call to `ResourceBundle.get` runs:

[code]

SBT could/should proactively clear resource bundles created

[2018-07-13 04:41] retronym commented on #4166
Both of these residual problems with Scalatest appear to be workaroundable by requesting a full GC after each `testOnly`. The following runs successfully with constant metaspace usage.

[code]

SBT already does some full GCs (rate limited) within the task engine to run finalizers of `File`-s which aren't properly closed the logging API for tasks. I wonder if those heuristics changed.

[2018-07-13 12:33] fchaillou opened #4262 "Issue for local resolution of project with dependsOn when scala version is different"
- [X] I've read the [CONTRIBUTING](https://github.com/sbt/sbt/blob/1.x/CONTRIBUTING.md) guidelines

## steps
This is close to #1448
[code]
[code]

## problem

Running `+update` fails

[code]

but running update separately on each project works.

[code]

[code]

[code]

## expectation

`sbt +update` should complete successfuly

## notes

sbt version: 1.1.6

[2018-07-13 14:57] muuki88 commented on #4262
Checkout the [sbt-projectmatrix](https://github.com/sbt/sbt-projectmatrix). This enables way better cross building.

[2018-07-13 16:56] eed3si9n commented on #4166
omg. Thanks @retronym! These are all helpful info.

[2018-07-13 17:55] eatkins commented on #4166
That's a great find. I hope there's a way to resolve/mitigate these leaks without adding more automatic full gc steps. I find the current automatic full gcs fairly painful because they relatively frequently cause long pauses when I'm trying to run tasks. Of course, it may be that the problems that I see are due to the fact that continuous builds do not do automatic full gc between builds leading t

[2018-07-14 11:10] marmistrz commented on #4208
@xuwei-k then jaxb should be the part of the default sbt template, possibly with a jre version guard.

[2018-07-14 14:27] pshirshov commented on #2687
So, I have a project which is publishied to `sonatype-snapshots` by travis.
At the same time I'm publishing it locally as a part of my development cycle.

It's very annoying that oftenly SBT prefers to use remote version instead of local, even if local timestamp is more recent than remote one.

[2018-07-15 01:08] pshirshov opened #4266 "++ randomtext scalacOptions fails on 1.2-RC1"
1. `mkdir -p testsbt/project`
2. `testsbt`
3. `echo "sbt.version=1.2.0-RC1" > project/build.properties`

[code]

facepalm.jpg

[2018-07-15 03:03] eed3si9n commented on #4266
hmmm do you mean `+`?

[code]

![wee-bey](https://i.kym-cdn.com/photos/images/newsfeed/001/240/699/000.gif)

[2018-07-15 03:17] eed3si9n commented on #4261
https://github.com/Microsoft/WSL/issues/3286#issuecomment-403914048 says it's a bug in gpg that's been fixed for a while, but not used by Ubuntu 18.04.
You could try https://github.com/Microsoft/WSL/issues/3286#issuecomment-402594992. ymmv.

[2018-07-15 12:33] pshirshov commented on #4266
Uhu, my bad, this isn't a correct command.

On 1.1.6 and all the previous versions:

[code]

I understand that this command makes no sense.

Though  I had a test for this behavior and noticed that it changed. Previous one was kinda logical (I'm setting wrong version, all the projects are being excluded), new one throws a cryptic message.

[2018-07-15 14:30] eed3si9n commented on #4266
ok so your expectation is `> ++ randomtext scalacOption` should still work.
<s>I agree on that actually.</s> (see later comments)

sbt 1.2.0 brings strict aggregation which allows command to run on the Scala version you switched into. This might be a regression on https://github.com/sbt/sbt/pull/3995 /cc @ruippeixotog

[2018-07-15 14:34] eed3si9n commented on #4266
Then again, even tho the failure is accidental in this case, it might make sense for `++` command to fail if no projects match the `scalaVersion`.

[2018-07-15 14:38] eed3si9n commented on #4266
Consider the following:

[code]

If I am not paying attention, I could easily mistake that `++ 2.12.0-magic` actually worked, and now I am compiling using it.

[2018-07-15 14:41] eed3si9n commented on #4266
So maybe a better thing to do is close this case as "sort of works", and open a new issue that specifies that ++ that affected 0 projects should fail with some an  error message.

[2018-07-15 15:40] eed3si9n opened #4267 "++2.12.0-magic should fail"
## steps

[code]

## problem

`++ 2.12.0-magic` succeeds.

## expectation

When `++` affects zero projects, it should fail with an error message.

[code]

[2018-07-15 15:40] eed3si9n commented on #4266
See https://github.com/sbt/sbt/issues/4267

[2018-07-15 15:40] #4266 closed, assigned to nobody

[2018-07-15 16:01] eed3si9n commented on #4267
To potential contributors: The relevant code is https://github.com/sbt/sbt/blob/v1.2.0-RC2/main/src/main/scala/sbt/Cross.scala#L309-L313. When `included` is empty, that should be the time to error out.

[2018-07-15 16:18] eed3si9n commented on #4262
Yea and please see the accompanying proposal piece that wrote - https://discuss.lightbend.com/t/spatial-representation-of-cross-building/1277

[2018-07-15 19:06] sungiant commented on #3963
If this is as-designed and not a regression, what is the expected workflow for users when it comes to loading resources?

I've just run into the same problem myself.  I would absolutely expect the above code to work in sbt 1.+

[2018-07-15 23:39] retronym commented on #4166
@eatkins @avdv It would be helpful if you could see if adding test cleanup to your build, along the lines of https://github.com/sbt/librarymanagement/pull/254/files, avoids the metaspace exhaustion.

If you use the `run` task to run your code in process, make sure that your `main` methods conclude with similar cleanup (e.g. shutdown `Log4J2`, clear property bundles, proactively call `ThreadLocal.r

[2018-07-16 00:10] pshirshov commented on #4266
Not really. My expectation is some kind of, ehm, sane result - a readable error message or success

[2018-07-16 00:20] eed3si9n opened #4268 "bincompat and source compat breakages in Parser"
https://github.com/sbt/sbt/pull/4231#discussion_r202559767
https://github.com/sbt/sbt/pull/4231#discussion_r202559773

[2018-07-16 02:24] eed3si9n commented on #4268
Some violations in https://github.com/sbt/sbt/pull/3807 as well.

[2018-07-16 02:33] #4267 closed, assigned to eed3si9n

[2018-07-16 03:26] #4268 closed, assigned to eed3si9n

[2018-07-17 09:10] avdv commented on #4166
Hi @retronym,

I tried to reproduce the metaspace exhaustion with 1.1.6 running `test` multiple times, but I could not.

`sbt -J-XX:MaxMetaspaceSize=200m -sbt-version 1.1.6 test test test test test`

did show a constant metaspace usage:
![shot-2018-07-17_092006](https://user-images.githubusercontent.com/3471749/42802264-b429b362-89a2-11e8-98c5-efee83c8d1e3.png)
I am using specs2 version 4.3.0 and

[2018-07-17 09:35] alex-piccione-spin commented on #3868
I installed sbt 1.1.6 on Windows.
I followed the instruction on https://www.scala-sbt.org/1.x/docs/sbt-by-example.html .
I have an empty build.sbt file.
I have project/src/main/scala/example/Hello.scala file with a simple Hello class.
`compile`  works.
`~compile` does not work: file changes does not trigger the command.

[2018-07-17 09:56] OlegYch commented on #3868
@alex-piccione do you mean `project/src/main/scala/example/Hello.scala` or `src/main/scala/example/Hello.scala` ?

[2018-07-17 10:04] roti opened #4271 "multiple range versions don't resolve correctly"
- [x] I've read the [CONTRIBUTING](https://github.com/sbt/sbt/blob/1.x/CONTRIBUTING.md) guidelines

## steps
1. Create new project: `sbt new scala/scala-seed.g8`
2. Add following dependency: `libraryDependencies += "org.webjars.npm" % "loose-envify" % "1.4.0"`
3. Compile the project: `sbt compile`

## problem
The library is not resolved:
[code]

The problem seems to be the presence of two version

[2018-07-17 11:14] alex-piccione-spin commented on #3868
The documentation it says

I created the Hello.scala there.
compile works, so I thought it was ok.

I put the _src_ folder at the same level of the project folder and it works !
thanks

[2018-07-17 11:35] daniel-kullmann commented on #4240
I would like to further investigate the issue, but I could not find the location in the code where the two settings are actually used. Could you help me with that?

[2018-07-17 12:01] OlegYch commented on #3868
yeah the wording could be clearer

[2018-07-17 12:29] antoniocascais commented on #3344
We are having the same issus as @yellowmegaman. It takes ~5min until the "Updating ProjectRef" is over :|

We tried with sbt 1.1.1, 1.1.6 and 1.2.0 (the rc candidate), but no improvements in any.

[2018-07-17 12:44] bjornregnell opened #4272 "watchSource regression: adding watched files in subdirs do not trigger ~ tasks anymore"
Adding file extensions to watch using `watchSources ++= ((baseDirectory.value / "some-dir") * "*.txt").get` works in sbt version 0.13.x but not in 1.1.6.

## steps
[code]

## problem

Custom task is not triggered by file update on watchSources with added file extensions in subdirs and this works in 0.13.x but not in 1.1.6.

## expectation

The custom `~hello` task above should be triggered by file

[2018-07-17 12:44] yellowmegaman commented on #3344
Completely forgot to provide new info.
After i've used s3/GCS for ivy2 and coursier cache, problem went away.
So i sync cache manually and then update takes just a few seconds.

In my case i had to do that because our CI/CD agents are spawned on GCP empty.

[2018-07-17 14:07] eed3si9n commented on #4271
Thanks for the report with repo steps!

[2018-07-17 14:14] eed3si9n commented on #4272
Thanks for the report with repro steps!

[2018-07-17 14:44] eed3si9n commented on #4262
@fchaillou If you set crossScalaVersions to Seq() for the root project, things seem to work as expected.

[2018-07-17 14:44] #4262 closed, assigned to nobody

[2018-07-17 14:59] eed3si9n commented on #4240
Thanks for the reminder.

See https://www.scala-sbt.org/1.x/docs/Launcher-Configuration.html#5.+The+Ivy+section:

See
- https://github.com/sbt/sbt/blob/v1.2.0-RC2/launch/src/main/input_resources/sbt/sbt.boot.properties
- https://github.com/sbt/launcher/blob/v1.0.4/launcher-implementation/src/main/scala/xsbt/boot/ConfigurationParser.scala#L133-L141

[2018-07-17 15:12] fchaillou commented on #4262
@eed3si9n i confirm that this work. great ! I'll take a look at the crossMatrix for the future, thanks for the pointer

[2018-07-17 16:47] eatkins commented on #4272
That is a bug, but a workaround is to change your build.sbt to: `watchSources += WatchSource(baseDirectory.value / "some-dir", "*.txt", NothingFilter)`

[2018-07-17 16:49] eatkins commented on #4272
Also, the `.get` syntax for specifying watch sources should be avoided moving forward because it causes unnecessary file system access compared to the workaround I just posted.

[2018-07-18 00:46] SethTisue commented on #3665
under what conditions does this occur?

[2018-07-18 01:55] smadishetti commented on #3665
All the time, whenever there are java compile errors. Java compilation fails but doesn't give details about what is wrong.

[2018-07-18 02:45] SethTisue commented on #3665
@smadishetti here's an attempt to reproduce the problem on MacOS 10.13.6, Java 1.8.0_181, and sbt 1.1.6:

[code]

as you can see, compilation errors are reported successfully

can you help narrow down the conditions under which this does or does not occur? is the problem even reproducible with a current version of sbt such as 0.13.17, 1.1.6, or 1.2.0-RC3?

[2018-07-18 03:02] eed3si9n commented on #3665
This issue was re-reported as https://github.com/sbt/zinc/issues/376 and https://github.com/sbt/zinc/issues/520, and I've been trying to hunt it down. There are several theories surrounding the bug, but one of them is the presence of JAVA_HOME causing `javaHome` to be set (potentially a sbt-extra stuff?), and that changes the behavior of Zinc's interaction with javac.

[2018-07-18 03:03] eed3si9n commented on #3665
See also https://github.com/sbt/zinc/pull/557 that is shipped with 1.2.0-RC3.

[2018-07-18 03:26] SethTisue commented on #3665
shall we close this one and leave https://github.com/sbt/zinc/issues/520 as the ticket of record...?

[2018-07-18 03:34] eed3si9n commented on #720
Closing this due to inactivity.

[2018-07-18 03:34] #720 closed, assigned to nobody

[2018-07-18 03:41] #1293 closed, assigned to nobody

[2018-07-18 03:45] eed3si9n commented on #1767
I am closing this since it's likely no longer relevant.

[2018-07-18 03:45] #1767 closed, assigned to nobody

[2018-07-18 03:49] eed3si9n commented on #1988
I am closing this due to inactivity.

[2018-07-18 03:49] #1988 closed, assigned to nobody

[2018-07-18 03:52] eed3si9n commented on #2211
Not sure if this is still needed, but I am closing for now.

[2018-07-18 03:52] #2211 closed, assigned to nobody

[2018-07-18 03:54] eed3si9n commented on #2294
Closing this since we now have lm API.

[2018-07-18 03:54] #2294 closed, assigned to nobody

[2018-07-18 04:05] eed3si9n commented on #2579
The Scala version of the root subproject should have no bearing on the rest of the subprojects (which themselves are allowed to be different among them).
I am closing this.

[2018-07-18 04:05] #2579 closed, assigned to nobody

[2018-07-18 04:11] eed3si9n commented on #2774
Closing this since this was fixed in https://github.com/sbt/launcher/pull/27

[2018-07-18 04:11] #2774 closed, assigned to nobody

[2018-07-18 04:13] eed3si9n commented on #3665
People can come to sbt/sbt to find issues, so I normally keep both open with sbt labelled with "Blocked on Upstream"

[2018-07-18 05:16] CNLHC opened #4273 "When compile: java.lang.NoClassDefFoundError: com/google/protobuf/CodedOutputStream"
- [O ] I've read the [CONTRIBUTING](https://github.com/sbt/sbt/blob/1.x/CONTRIBUTING.md) guidelines

## steps
0. Using Ubuntu 18.04 more details were posted to  [ `note` ](#notes) section

1. Installing sbt from official sources by using command below:

[code]
2.  Initializing new demo project.

[code]

3. Then run sbt. After it have downloaded all dependencies, i execute `compile` in sbt , everyt

[2018-07-18 14:51] jiminhsieh commented on #3903
Could I work on this one?

There are two places need to update:
* Fix `withDefaultResolvers` at https://www.scala-sbt.org/1.x/docs/Library-Management.html
* Mention how to migrate to new API, `combineDefaultResolvers`,  at https://www.scala-sbt.org/1.x/docs/Migrating-from-sbt-013x.html

The major difference between `withDefaultResolvers` and `combineDefaultResolvers` is from `Seq[Resolver]` to `Ve

[2018-07-18 15:04] Yudi26 commented on #3467
What is use of SNAPSHOT?

[2018-07-18 16:23] dwijnand commented on #3467
It's a Maven thing, from its resolution engine Aether.

[2018-07-18 18:36] eed3si9n commented on #3903
@jiminhsieh Yes, please!

[2018-07-18 18:50] eed3si9n commented on #4273
Thanks for the report. Could you try with 1.2.0-RC3 by changing the value in build.properties, and see if the problem persists?

[2018-07-18 20:04] eed3si9n commented on #3686
Hopefully this was fixed in https://github.com/Homebrew/homebrew-core/pull/21052

[2018-07-18 20:04] #3686 closed, assigned to nobody

[2018-07-18 20:05] eed3si9n commented on #3488
Fixed in https://github.com/sbt/sbt/pull/4263

[2018-07-18 20:05] #3488 closed, assigned to nobody

[2018-07-18 20:15] eed3si9n commented on #3102
Hopefully https://github.com/foundweekends/giter8/pull/313 will now be propagated to sbt in 1.2.0.

[2018-07-18 20:15] #3102 closed, assigned to nobody

[2018-07-18 20:15] eed3si9n opened #4274 "Automatic rewrite of build files using Scalafix"
## steps

1. Start with a build file that has `compile in Test`
2. Run some command

## expectation

It's rewritten to `Test/compile`

[2018-07-18 20:19] eed3si9n commented on #3896
I am closing this for now. Let me know if you have some more details that we can reproduce.

[2018-07-18 20:19] #3896 closed, assigned to nobody

[2018-07-18 20:28] eed3si9n commented on #3735
On sbt 1.2.0 RC-3 it takes 13s, so it goes fixed?

[2018-07-18 20:28] #3735 closed, assigned to nobody

[2018-07-19 18:12] eed3si9n commented on #1208
Closing this due to inactivity.

[2018-07-19 18:12] #1208 closed, assigned to nobody

[2018-07-19 18:16] eed3si9n commented on #1608
Closing this due to inactivity.

[2018-07-19 18:20] eed3si9n commented on #1054
The relevant code for it is at https://github.com/sbt/sbt/blob/43607b0c4051a014bdcf6d5b274aa10304809eae/main/src/main/scala/sbt/BuildPaths.scala#L126-L130

[2018-07-19 18:21] eed3si9n commented on #1086
Closing this due to inactivity.

[2018-07-19 18:21] #1086 closed, assigned to nobody

[2018-07-19 18:28] eed3si9n commented on #922
I am guessing that this is now fixed with https://github.com/sbt/zinc/pull/473. Please let us know if that's not the case.

[2018-07-19 18:28] #922 closed, assigned to nobody

[2018-07-19 18:33] eed3si9n commented on #1654
Closing this since it's likely no longer relevant.

[2018-07-19 18:33] #1654 closed, assigned to nobody

[2018-07-19 18:35] eed3si9n commented on #1697
Closing this since there's a workaround.

[2018-07-19 18:35] #1697 closed, assigned to nobody

[2018-07-19 18:37] eed3si9n commented on #1707
Closing this due to inactivity. Let us know if you have reproducible project using the latest sbt.

[2018-07-19 18:37] #1707 closed, assigned to nobody

[2018-07-19 18:38] eed3si9n commented on #1564
Closing this as won't fix.

[2018-07-19 18:38] #1564 closed, assigned to nobody

[2018-07-19 18:39] eed3si9n commented on #1728
I am going to close this due to inactivity, but let us know if this issue is still relevant.

[2018-07-19 18:39] #1728 closed, assigned to nobody

[2018-07-19 18:41] eed3si9n commented on #1733
I am closing this due to inactivity, but if this is still relevant let us know with more details (reproduction steps etc).

[2018-07-19 18:42] #1733 closed, assigned to nobody

[2018-07-19 18:44] eed3si9n commented on #1732
I am closing this since forked run can work around this.

[2018-07-19 18:44] #1732 closed, assigned to nobody

[2018-07-19 18:49] eed3si9n commented on #1648
Looks like this has been addressed in https://github.com/sbt/sbt/pull/1669 etc.

[2018-07-19 18:49] #1648 closed, assigned to nobody

[2018-07-19 19:00] eed3si9n commented on #1689
I am closing this due to inactivity, but if this is still relevant let us know with more details (reproduction steps etc).

[2018-07-19 19:00] #1689 closed, assigned to nobody

[2018-07-19 20:07] #3846 closed, assigned to nobody

[2018-07-19 20:24] pathikrit opened #4275 "sbt release fails with `java.io.IOException: destination file exists and overwrite == false`"
- [x] I've read the [CONTRIBUTING](https://github.com/sbt/sbt/blob/1.x/CONTRIBUTING.md) guidelines

## steps
I tried doing `sbt +release` on better-files

## problem
[code]

## expectation

This should work. Or atleast give me a better error message about what destination file exists. I also have no idea what `overwrite == false` means. Is that a config key I am supposed to specify!?!

## notes

s

[2018-07-19 21:10] eed3si9n commented on #4275
@pathikrit Thanks for the report.

I looked at the stack trace again, and it seems like the error message is coming from Ivy: https://github.com/sbt/ivy/blob/2.3.x-sbt/src/java/org/apache/ivy/plugins/repository/url/URLRepository.java#L74-L76

we can still workaround it in sbt side here - https://github.com/sbt/librarymanagement/blob/v1.2.0-M3/ivy/src/main/scala/sbt/internal/librarymanagement/Conve

[2018-07-19 21:18] eed3si9n commented on #4275
To a potential contributor: The relevant source code is https://github.com/sbt/librarymanagement/blob/v1.2.0-M3/ivy/src/main/scala/sbt/internal/librarymanagement/ConvertResolver.scala#L365-L371

Define a function named `def putError(parent: Option[Throwable])` with a better error message:

[code]

Call that from both line 370 and when `super.put(...)` fails.

[2018-07-19 22:40] pathikrit commented on #4275
To folks landing up here and wondering what to do, look at this commit: https://github.com/pathikrit/better-files/commit/1fc1bbc711a98e321fe1335b44068c0a9e694b59

[2018-07-19 22:46] denisgarci opened #4276 "sbt doesn't see new SNAPSHOT dependency versions in local ivy2 repo"
- [X ] I've read the [CONTRIBUTING](https://github.com/sbt/sbt/blob/1.x/CONTRIBUTING.md) guidelines

## problem
I'm using sbt with a local ivy2 repo (e.g. `~/.ivy2/local`) for a Scala project that depends on a SNAPSHOT version of Scala library that is being developed at the same time.
I published the library using `publishLocal`. But when I run a `clean update` on the project only the SNAPSHOT ver

[2018-07-20 05:34] eed3si9n commented on #4276
Do you see publication field in your ivy.xml, and lastUpdated in maven-metadata.xml?
If yes, what are the values?

[2018-07-20 05:43] denisgarci commented on #4276
Thanks for the quick reply. Yes I can see the `<publications>` in the `ivy.xml`. I couldn't find a file called `maven-metadata.xml`. Where should I look for it?

[2018-07-20 12:01] antoniocascais commented on #3344
In the end it was the same problem with us @yellowmegaman !

We added caching to our CI/CD agents and problem was solved.
Thanks for the help!

[2018-07-20 15:28] yellowmegaman commented on #3344
@antoniocascais Glad it worked for you too)

[2018-07-21 08:06] tarsa commented on #4271
Similar problems with version range sets were reported before:
- https://github.com/sbt/sbt/issues/2647
- https://github.com/sbt/sbt/issues/1921
- https://github.com/sbt/sbt/issues/2291
- https://github.com/sbt/sbt/issues/2005
- https://github.com/sbt/sbt/pull/1145

[2018-07-21 21:59] simonsouter commented on #4103
@mverbist - Maybe you have -Dsbt.override.build.repos=true, which would result in the resolvers you defined in the sbt file to be ignored.

[2018-07-22 08:41] CNLHC commented on #4273
Since I can not reproduce bug in the other computer, i'll close this issue.

[2018-07-22 08:41] #4273 closed, assigned to nobody

[2018-07-22 17:14] metasim commented on #4134
Here's another stack trace:

[code]

@DavidPerezIngeniero did you ever find a work-around?

[2018-07-22 19:56] eed3si9n commented on #2693
Maybe this is something that can be explored first as a plugin.
See also https://index.scala-lang.org/

[2018-07-22 19:56] #2693 closed, assigned to nobody

[2018-07-22 22:35] jameslamb opened #4279 "Cannot download sbt on Mac OS X"
- [x] I've read the [CONTRIBUTING](https://github.com/sbt/sbt/blob/1.x/CONTRIBUTING.md) guidelines

## steps

I am trying to install `sbt` on Mac OS X, and not getting very far. I suspect that the package server is down?

I tried

[code]

per the recommendations on [the main sbt site](https://www.scala-sbt.org/0.13/docs/Installing-sbt-on-Mac.html). This throws error `SHA256 mismatch` and reference

[2018-07-23 06:09] eed3si9n commented on #4279
The link works for me. Could you try again please?

[2018-07-23 08:13] sbahling opened #4280 "Binary releases are missing licenses"
The main LICENSE file of the source stipulates:

* Redistributions in binary form must reproduce the above copyright notice,
  this list of conditions and the following disclaimer in the documentation
  and/or other materials provided with the distribution.

But I can't find the LICENSE within the binary archives released on github
(e.g. https://github.com/sbt/sbt/releases/tag/v1.1.6)

Also I gues

[2018-07-23 13:59] jameslamb commented on #4279
@eed3si9n all working well now. Maybe I was just looking during a maintenance cycle or something.

I'll close this, thanks

[2018-07-23 13:59] #4279 closed, assigned to nobody

[2018-07-23 16:44] eed3si9n commented on #4280
Duplicate of #1722. We should try to fix this in the next release.

[2018-07-23 16:44] #4280 closed, assigned to nobody

[2018-07-23 19:22] danielkza commented on #2451
@cchepelov Did you ever manage to get the issue fixed in Coursier? Is there any know workaround that does not require removing it?

[2018-07-23 19:27] cchepelov commented on #2451
Turns out some of the artifacts were built with sbt 1.1.3 to 1.1.5, and
rebuilding them with sbt 1.1.6 cured the Test/non-Test pollution in
dependents issue.

Le 23 juillet 2018 21:22:57 Daniel Miranda <notifications@github.com> a écrit :

[2018-07-24 16:33] the21st opened #4281 "Publish the https://dl.bintray.com/sbt/debian/sbt-0.13.17.deb file"
## steps

## problem

The `.deb` release for sbt 0.13.17 doesn't exist in Bintray.

## expectation

The file exists at https://dl.bintray.com/sbt/debian/sbt-0.13.17.deb

## notes

sbt version: 0.13.17

[2018-07-24 17:19] eed3si9n commented on #4281
Ref https://github.com/sbt/sbt/issues/3916

[2018-07-25 05:33] nafg commented on #4193
This used to work, when did it break?

[2018-07-25 16:04] imarios commented on #3916
For me it has to do with docker and building a fresh image for every build we have. Using a different version of sbt mens I have to wait for sbt to download the version it needs everytime. I had an easy way to install sbt using the Debian package, but now the build takes longer because I can’t include the version I need in the image when it gets created.

Thanks for addressing this!

[2018-07-25 18:19] Crazy-Hopper commented on #3916
This was the exact reason why I started commenting in this issue.

[2018-07-25 18:21] Crazy-Hopper commented on #4281
Thank you for restarting this. Still think it is worth creating an official package.

[2018-07-26 02:59] xuwei-k opened #4283 "missing sbt 1.2.0-RC3 tag on GitHub"
- [x] I've read the [CONTRIBUTING](https://github.com/sbt/sbt/blob/1.x/CONTRIBUTING.md) guidelines

## steps

see
- https://github.com/sbt/sbt/tags
- https://repo1.maven.org/maven2/org/scala-sbt/sbt/1.2.0-RC3/

<img width="411" alt="screen shot 2018-07-26 at 11 58 44" src="https://user-images.githubusercontent.com/389787/43238949-530b8d28-90cb-11e8-8f95-a0772056ea4b.png">

## problem

missing sbt

[2018-07-26 06:51] itchyny opened #4284 "Disable ANSI escape sequence automatically when stdout is not tty"
- [x] I've read the [CONTRIBUTING](https://github.com/sbt/sbt/blob/1.x/CONTRIBUTING.md) guidelines

## steps
Type `sbt compile | tee compile.log` at the root directory of this repository.

## problem
`compile.log` contains ANSI escape sequences.

## expectation
When redirecting the output, I expect sbt does not output ANSI escape sequences.

## notes
I know the `-no-colors` option but changing the

[2018-07-26 11:24] sschuberth opened #4285 "sbt 1.1.2 suppresses info output if --info is given"
- [X] I've read the [CONTRIBUTING](https://github.com/sbt/sbt/blob/1.x/CONTRIBUTING.md) guidelines

## steps

[code]

## problem

The output does not show *any* `[info]` lines.

## expectation

The output should show `[info]` lines as `--info` is given.

## notes

sbt version: 1.1.2

This works fine for me with sbt 1.1.1, so I'm wondering whether https://github.com/sbt/sbt/pull/4036 is the culprit

[2018-07-26 15:36] eed3si9n commented on #4283
Done https://github.com/sbt/sbt/releases/tag/v1.2.0-RC3

[2018-07-26 15:36] #4283 closed, assigned to nobody

[2018-07-26 15:38] eed3si9n commented on #4285
Thanks for the report.
Would you like to try sending a PR for this?

[2018-07-26 15:47] eed3si9n commented on #4284
It sounds like a good idea, but sbt also runs on CI environments like Travis and Jenkins. I don't know exactly how the implementation looks like, but it might look something like `sbt compile | tee compile.log`. It would be sad if CI logs then became no colors, because they seem to support colors.

[2018-07-26 16:06] sschuberth commented on #4285
No, I'm sorry. I'm just an SBT user, not a Scala guy (and I don't intend to become one 😉 ). I'd have no idea how to fix that.

[2018-07-26 18:12] imarios commented on #4281
@eed3si9n @the21st  I am getting this error:
[code]

[2018-07-26 21:08] ksit opened #4286 "Changing aggregate dependencies in buildDependencies does not seem to do anything"
## steps
Consider the following **build.sbt** file:
[code]
When I tried to run the command `show version` in project "a", the same command does not get propagated to project "b".

## problem
According to the SBT Build Loaders documentation, we should be able to change the aggregate dependencies at setting evaluation time.  However, it seems that this is not the case.

## expectation
Run the "show

[2018-07-26 22:03] eed3si9n commented on #4286
Thanks for the report, but I am going to close this since the feature no longer exist in sbt 1.x.

[2018-07-26 22:03] #4286 closed, assigned to nobody

[2018-07-26 22:16] iurisman opened #4287 "Unresolvable lib dependency generated by sbt eclipse."
- [No ] I've read the [CONTRIBUTING](https://github.com/sbt/sbt/blob/1.x/CONTRIBUTING.md) guidelines (I'm not contributing - just letting you know of a problem. Take it or leave it.)

## steps
1. Add the following line to build.sbt:
`unmanagedClasspath in Test += baseDirectory.value / "distr/ext/*"`
This works as expected: the jars in that directory are added to the runtime classpath in test.

2.

[2018-07-27 02:25] eed3si9n commented on #4287
I am not sure if putting `*` in classpath is a thing.
Also if this is about sbteclipse, please report there.

[2018-07-27 02:25] #4287 closed, assigned to nobody

[2018-07-27 04:06] iurisman commented on #4287
You, people are something else. * in classpath is supported by JVM since
1.6, so yes, it's a thing, whether you're sure of it or not. As to where to
report it, I'd say "say thanks and forward it to the right group." I'm
doing YOU a favor by reporting it.

On Thu, Jul 26, 2018 at 7:25 PM, eugene yokota <notifications@github.com>
wrote:

--
Igor Urisman, CEO
510.205.3525 (m)
http://getvariant.com

[2018-07-27 09:11] mhogerheijde commented on #3570
For most of my builds, the workaround with Gigahorse (`updateOptions := updateOptions.value.withGigahorse(false)`) works  fine for me; but for one of my builds this doesn't work.

Using the shotgun approach I've come to the one bit that makes it fail / work consistently:

[code]

I build a phat-jar, using the sbt-assembly plugin. If i add that artefact, even when Gigahorse is set to false, the 503

[2018-07-27 09:23] itchyny commented on #4284
OK, I understand. I confirmed that Jenkins console output is surely colored as sbt output is. I thought this would improve my experience on local machine but I don't mind you close this issue due to compatibility.

[2018-07-27 10:55] the21st commented on #4281
@imarios might that be because the file does not exist at https://dl.bintray.com/sbt/debian/sbt-0.13.17.deb ? That's why I opened this Issue.

[2018-07-27 15:21] eed3si9n commented on #4284
ok. Closing this for now, but feel free to experiment on your own and report back.

[2018-07-27 20:52] ryan-williams commented on #3516
FWIW I've seen this in IntelliJ twice recently and switching the project JDK from `1.8.0_05` to `1.8.0_111` (just the two I happen to have installed+configured in IJ, idk if there is more significance than that) fixes it.

[2018-07-29 08:39] alienscience commented on #3570
@mhogerheijde It could be that the fat jar exceeds the maximum upload size allowed by the HTTP gateway that is sitting between you and the Nexus.

I have had this problem in the past. Reconfiguring the HTTP gateway fixed the problem, and in my case, it was not related to the SBT/gigahorse issue (which I also have).

One way to check this is:
[code]

I know that Nginx gives a useful HTTP error mess

[2018-07-29 19:01] #4275 closed, assigned to nobody

[2018-07-30 14:04] eed3si9n commented on #4281
Done. It's published.

[2018-07-30 14:04] #4281 closed, assigned to nobody

[2018-07-30 19:41] SethTisue opened #4289 "sbt 1.2.0 fails to load build definition if old `~/.sbt/boot/scala-2.12.6` directory is present"
I'm not sure if this depends on my previously having run 1.2.0-RCx versions on my machine, or whether any sbt 1 user might be affected

but in any case, however I got there, my existing `~/.sbt/boot/scala-2.12.6` lacks the following files:

[code]

and then when I run sbt 1.2.0, I get `java.lang.NoClassDefFoundError: com/trueaccord/scalapb/GeneratedEnum`:

<details>
<pre>
[error] java.lang.NoClass

[2018-07-30 19:49] SethTisue commented on #4289
on my other laptop, the same JARs aren't missing from `~/.sbt/boot/scala-2.12.6`

so perhaps we'll never figure out how my one laptop got in a state where that directory was incomplete

perhaps this ticket should just be closed, and people googling the error will know to blow away `~/.sbt/boot` and try again

[2018-07-30 20:03] SethTisue commented on #4289
the root cause here seems to be a corrupt `~/.ivy2`

the corrupt `~/.ivy2` then leads to `~/.sbt/boot/scala-2.12.6` being messed up

so the full workaround is to blow away both `~/.sbt/boot` and `~/.ivy2`

[2018-07-30 22:41] andb0t commented on #4261
Hello there! Thanks a lot for  your help, it worked wonderfully! Now I can continue developing my scala library. Cheers!

[2018-07-31 07:36] #3903 closed, assigned to nobody

[2018-07-31 13:32] bjornregnell commented on #4272
Many thanks @eatkins for help with workaround and info on avoiding get! Is this workaround perhaps mentioned somewhere (where?) in the docs? Couldn't find it but I might be looking in the wrong place.

[2018-07-31 17:28] bjornregnell commented on #4272
The workaround by @eatkins worked like a charm both in 1.1.6 and 1.2.0.
I made this little helper to cut down on boilerplate as I have several dirs and many different file filters to include:
[code]
I'm now happily riding the 1.2.0 train and sbt is faster and smoother than ever :+1:
@eed3si9n Thanks to the sbt team for a great new release!

[2018-07-31 19:03] anilkumarmyla opened #4291 "Confusing warning message for sbt version mismatch"
- [x] I've read the [CONTRIBUTING](https://github.com/sbt/sbt/blob/1.x/CONTRIBUTING.md) guidelines

## steps
Use a different version of sbt using `-sbt-version` argument than what is present in `project/build.properties`

[code]

## problem
Warning message is confusing regarding which version of sbt will be used in project

## expectation
Warning message should tell what version of sbt will be use

[2018-07-31 21:28] ches commented on #4065
I think this is resolved since #4231?

[2018-08-01 00:25] nafg commented on #3562
Where would the setting go and how would it work? Some kind of extra metadata in artifacts on maven?

[2018-08-01 00:30] eed3si9n commented on #3562
@nafg Yes, I was envisioning something like apiURL that sbt injects in POM:

https://repo1.maven.org/maven2/org/scala-lang/scala-library/2.12.6/scala-library-2.12.6.pom

[code]

Assuming that we can recover that information back during or after resolution, we can affect the eviction warning etc.

[2018-08-01 00:42] eed3si9n commented on #4065
Yes. I am going to close this.

[2018-08-01 00:46] eed3si9n commented on #4291
Thanks for the report @anilkumarmyla. Do you have a suggestion for an exact wording? (If not, it's ok too)

[2018-08-01 01:16] eatkins commented on #4272
@bjornregnell glad to hear that things are working for you. I didn't add any documentation personally for the new WatchSource approach. I regret that the excludeFilter parameter exists because I don't really see the purpose of it (since you can just `&&` the include filter with the excludes). I've been swamped on a different project recently, but that is very close to completion, so hopefully I'll

[2018-08-01 06:35] clhodapp commented on #2687
@pshirshov My experience is that the version it picks is actually controllable if you know how. See my comment above: https://github.com/sbt/sbt/issues/2687#issuecomment-245185840

[2018-08-01 06:46] anilkumarmyla commented on #4291
@eed3si9n It would be nice if it said what version of sbt it will be using for the command to be executed and optionally offer alternative to use the version in build.properties. Something in the lines of `[warn] sbt version mismatch, using: 1.2.0, in build.properties: 1.1.6, use 'reboot' to use the version in build.properties`

[2018-08-01 06:48] DavidPerezIngeniero commented on #4134
I have `consoleProject` inusuable for a long time, with SBT 1.x and SBT 0.13.x.

[2018-08-01 09:03] mhogerheijde commented on #3570
@alienscience The point is that it _isn't_ the `-jar-with-dependencies.jar` that fails to upload:

When I add the
[code]
line; the _other_ artifacts fail with a 502 even before it is trying to PUT the `-jar-with-dependencies.jar`:

[code]

When I do a manual PUT of the `-jar-with-dependencies.jar` using CURL, I get the expected `201: Created`.

[2018-08-01 09:36] steinybot opened #4292 "Deadlock with dynamic task cycle"
- [x] I've read the [CONTRIBUTING](https://github.com/sbt/sbt/blob/1.x/CONTRIBUTING.md) guidelines

## steps

**project/plugins.sbt**
[code]

**build.sbt**
[code]

May also need to install `npm` to prevent any other errors, I'm not too sure about this.

Then run:
[code]

## problem

sbt hangs forever.

## expectation

`npmUpdate` runs as normal.

## notes

sbt version: 1.1.6

[2018-08-01 09:45] ches opened #4293 "Regression: Some unknown configuration warnings are noisy or spurious"
- [x] I've read the [CONTRIBUTING](https://github.com/sbt/sbt/blob/1.x/CONTRIBUTING.md) guidelines

Since #4231 and sbt 1.2.0, some fairly common and innocuous setups lead to noisy warnings.

## steps

One case: use a `Test`-scoped setting in `inThisBuild` with an implicit root project:

[code]

Eugene also pointed out sbt/sbt-multi-jvm#48, which at least could reasonably be addressed in that plug

[2018-08-01 12:18] bjornregnell commented on #4272
@eatkins Perhaps another `apply` on `WatchSources` w/o the param or a default value `excludeFilter=NothingFilter` in the existing `apply` could help cut down on the boilerplate w/o breaking existing code?

That'd be great! I find the example-based documentation with short code answering "how-to" questions the easiest way for me to get things done with sbt. Sometimes I find stuff by searching the c

[2018-08-01 12:53] eed3si9n commented on #4291
ok. Also how about not showing any warnings at all if sbt.version is passed in via command line?

[2018-08-01 14:43] eed3si9n commented on #4293
In general all warning should be actionable, and in this case it's difficult to know:
1. what it's warning about
2. why it's bad
3. how should the build user get rid of it

I don't know if adding configuration to all subproject is always the answer, especially because it has a potential to spill over into POM.xml if I remember correctly.

As far as I know the only downside to NOT having the Ivy co

[2018-08-01 16:28] eed3si9n commented on #4293
I think the fix for #4065 should be making slash syntax more lenient instead.

[2018-08-01 17:36] anilkumarmyla commented on #4291
That is also fine, but it is always good to show the sbt version being used on the project as an info log.

[2018-08-02 05:51] qdrk commented on #3374
hmm same issue here, I have `sbt.version=0.13.15` in my build.properties.

[2018-08-02 13:41] jadlr commented on #4293
I'm investigating this in our project:
[code]
Is this the same problem, or is there something I can do to fix it?

[2018-08-02 14:30] eed3si9n commented on #4293
@jadlr Please ignore it for now.

[2018-08-02 21:52] DesertCat opened #4295 "Can not run sbt (1.2.0) with classifiers (sources, javadoc"
- [x] I've read the [CONTRIBUTING](https://github.com/sbt/sbt/blob/1.x/CONTRIBUTING.md) guidelines

## goal
I want to make SBT download scala library sources and javadocs.
Found an article http://www.decodified.com/scala/2010/12/17/how-to-make-sbt-download-scala-library-sources.html and started from scratch.

## environment
- sbt version: 1.2.0
- Windows 8.1 + Java 10.0.2
- Ubuntu Linux 14.04 + Ja

[2018-08-02 21:54] DesertCat commented on #4295
Tail of my `home\.sbt\boot\update.log` from Windows-based attempt:

[code]

[2018-08-02 22:06] eed3si9n commented on #3373
sbt exposes all settings and tasks to be rewired by the build user, but we don't recommend rewiring them unless you can figure things out on your own from reading the source. The deadlock is more of design limitation on the task engine, and I don't think it's to do with the use of macro.

[2018-08-02 22:06] #3373 closed, assigned to nobody

[2018-08-02 22:11] eed3si9n commented on #225
I am closing this due to inactivity.

[2018-08-02 22:11] #225 closed, assigned to nobody

[2018-08-02 22:11] eed3si9n commented on #336
I am closing this due to inactivity.

[2018-08-02 22:11] #336 closed, assigned to nobody

[2018-08-02 22:13] eed3si9n commented on #888
Recently closed similar issue https://github.com/sbt/sbt/issues/4284. Here's what I wrote:

[2018-08-02 22:13] #888 closed, assigned to nobody

[2018-08-02 22:13] eed3si9n commented on #1090
I am closing this due to inactivity, but if this is still relevant let us know.

[2018-08-02 22:13] #1090 closed, assigned to nobody

[2018-08-02 22:14] eed3si9n commented on #1048
I am closing this due to inactivity, but pull request would be welcome.

[2018-08-02 22:14] #1048 closed, assigned to nobody

[2018-08-02 22:15] eed3si9n commented on #1116
I am closing this due to inactivity.

[2018-08-02 22:15] #1116 closed, assigned to nobody

[2018-08-02 22:15] eed3si9n commented on #1123
I am closing this due to inactivity.

[2018-08-02 22:15] #1123 closed, assigned to nobody

[2018-08-02 22:18] eed3si9n commented on #1129
I am closing this due to inactivity, but if this is still relevant let us know with more details (reproduction steps etc).

[2018-08-02 22:18] #1129 closed, assigned to nobody

[2018-08-02 22:18] eed3si9n commented on #1441
I am closing this due to inactivity.

[2018-08-02 22:18] #1441 closed, assigned to nobody

[2018-08-02 22:23] eed3si9n commented on #1597
I don't think we can solve this in sbt.
See maybe https://contributors.scala-lang.org/t/pre-sip-export-dual-of-import/1758

[2018-08-02 22:23] #1597 closed, assigned to nobody

[2018-08-02 22:26] eed3si9n commented on #397
I am closing this due to inactivity.

[2018-08-02 22:26] #397 closed, assigned to nobody

[2018-08-02 22:30] eed3si9n commented on #2013
This should occur much less frequently in sbt 1 now that plugins depend on JvmPlugin by default.

[2018-08-02 22:30] #2013 closed, assigned to nobody

[2018-08-02 22:33] eed3si9n commented on #1969
Fixed in sbt 1 - https://github.com/sbt/website/pull/635

[2018-08-02 22:33] #1969 closed, assigned to nobody

[2018-08-02 22:58] eed3si9n commented on #2219
I am closing this due to inactivity, but if this is still relevant let us know with more details (reproduction steps etc).

[2018-08-02 22:58] #2219 closed, assigned to nobody

[2018-08-02 23:01] eed3si9n commented on #2252
I am closing this due to inactivity, but if this is still relevant let us know with more details (reproduction steps etc).

[2018-08-02 23:01] #2252 closed, assigned to nobody

[2018-08-02 23:02] eed3si9n commented on #2242
Closing this since there's a workaround.

[2018-08-02 23:02] #2242 closed, assigned to nobody

[2018-08-02 23:03] eed3si9n commented on #2502
Hopefully current https://github.com/sbt/sbt/blob/1.x/CONTRIBUTING.md addresses this.

[2018-08-02 23:03] #2502 closed, assigned to nobody

[2018-08-02 23:05] nafg commented on #3562
As long as it doesn't have to affect resolution, I guess you have a lot of options

[2018-08-02 23:06] eed3si9n commented on #2477
The best source of explanation for sbt 0.12 style operators is sbt 0.12 documentation - https://www.scala-sbt.org/0.12.4/docs/Getting-Started/More-About-Settings.html

Closing this since those are now removed in sbt 1.

[2018-08-02 23:06] #2477 closed, assigned to nobody

[2018-08-02 23:12] eed3si9n commented on #1986
I am closing this due to inactivity, but if this is still relevant let us know with more details (reproduction steps etc).

[2018-08-02 23:12] #1986 closed, assigned to nobody

[2018-08-02 23:13] eed3si9n commented on #2032
I am closing this due to inactivity, but if this is still relevant let us know with more details (reproduction steps etc).

[2018-08-02 23:13] #2032 closed, assigned to nobody

[2018-08-02 23:18] Blaisorblade commented on #4284
@eed3si9n FWIW, Unix tools *default* to disabling colors on non-ttys, but have a `--color=always` option for forcing colors on non-ttys, which would serve for scenarios like CI logs, piping to `less -R`, etc. I think that would be ideal and fit Unix expectations. But feel free to keep closed if you don't like it anyway.

[2018-08-02 23:20] eed3si9n commented on #2062
I am closing this due to inactivity, but if this is still relevant let us know with more details (reproduction steps etc).

[2018-08-02 23:20] #2062 closed, assigned to nobody

[2018-08-03 00:18] eed3si9n commented on #4284
I guess we can try it and see how it goes with the CIs.

[2018-08-03 02:19] christian-schlichtherle commented on #3373
So you say there is a deadlock caused by a design limitation and you want to do nothing about it?

[2018-08-03 02:21] eed3si9n commented on #2696
Closing this for now.

[2018-08-03 02:21] #2696 closed, assigned to nobody

[2018-08-03 02:22] eed3si9n commented on #2700
I am closing this due to inactivity, but if this is still relevant let us know with more details (reproduction steps etc).

[2018-08-03 02:22] #2700 closed, assigned to nobody

[2018-08-03 02:24] eed3si9n commented on #2967
This is probably fixed in sbt 1 since our artifacts are all up on Maven Central, and we use https.

[2018-08-03 02:24] #2967 closed, assigned to nobody

[2018-08-03 02:27] eed3si9n commented on #4140
This is likely fixed in sbt 1.2.0.

[2018-08-03 02:27] #4140 closed, assigned to nobody

[2018-08-03 05:27] pathikrit opened #4296 "sbt 1.1.x does not work with openjdk8 + Scala 2.11"
- [x] I've read the [CONTRIBUTING](https://github.com/sbt/sbt/blob/1.x/CONTRIBUTING.md) guidelines

## steps
Try better-files Travis CI:

![image](https://user-images.githubusercontent.com/899219/43625548-99191d12-96bb-11e8-966a-707764acf2e1.png)

## problem

sbt crashes:
[code]

## expectation

Should work.

## notes

sbt version: 1.1.6

For detailed build logs, check this out: https://travis-ci.

[2018-08-03 06:11] eed3si9n commented on #3373
Deadlock is directly caused by two tasks mutually waiting on each other. Detecting that is not on my priority. It would be nice if had all the resource to fix these corner cases, but we don't.

[2018-08-03 08:13] olafurpg commented on #4236
This error started appearing in my scripted tests after upgrading to sbt 1.2. Example log https://travis-ci.org/scalacenter/sbt-scalafix/jobs/411384668#L1015

[2018-08-03 08:31] olafurpg commented on #3473
The workaround in https://github.com/sbt/sbt/issues/3473#issuecomment-325729747 is preferable to `crossSbtVersions` IMO since it works with multi-module builds (which are the norm).

It would be great to update the documentation on cross-building sbt plugins. The top hit on Google leads to the outdated document https://www.scala-sbt.org/1.0/docs/Cross-Build-Plugins.html recommending to set `scalaC

[2018-08-03 23:14] SethTisue commented on #3893
in the community build, after moving to the sbt 1.2.0 tags this seem to start happening more often — like, several runs in a row

this test is now disabled in the community build

[2018-08-04 03:08] joe312213 commented on #2958
currently experiencing this error in Eclipse Photon. I create a new Scala project, add a hello world object with a main function and I get this error: "Error in Scala compiler: object java.lang.Object in compiler mirror not found."
On Windows 10, JREs added to Eclipse are version 10 (default) and 1.8. Scala project target environment is JRE 10. For good measure, JAVA_HOME environment variable also

[2018-08-04 03:11] eed3si9n commented on #4295
I don't think you have to do any of weird hacks described in the blog post. If you want sbt to grab source JARs, you just type `updateClassifiers` in sbt shell.

Or `show updateClassifiers` if you want to see the result.

[2018-08-04 03:11] #4295 closed, assigned to nobody

[2018-08-04 03:17] eed3si9n commented on #4296
I was able to run tests using 2.11.12 using sbt 1.2.0 on my machine.

Travis CI says:

[code]

I don't think that's a problem with sbt 1.2.0, or sbt in general. I'd guess you hit some unstable worker on Travis CI or maybe a corrupt Ivy cache.

[2018-08-04 03:17] #4296 closed, assigned to nobody

[2018-08-04 16:01] SethTisue commented on #2958
@joe312213 you have an Eclipse problem, not an sbt problem. unrelated to this ticket. see [my previous comment](
https://github.com/sbt/sbt/issues/2958#issuecomment-369298750)

[2018-08-04 16:02] SethTisue commented on #2958
y'all Eclipse users should start on a ticket on this in a different bug tracker?

[2018-08-04 19:44] erikerlandson opened #4298 "sbt.global.base doesn't work properly with '~'"
- [x ] I've read the [CONTRIBUTING](https://github.com/sbt/sbt/blob/1.x/CONTRIBUTING.md) guidelines

## steps
[code]
## problem

global sbt file(s) under `~/.sbt/foo` are not read

## expectation

sbt should read the global information under `~/.sbt/foo`

## notes

sbt version: 1.2.0

workaround: use fully qualified home directory path, e.g. `/home/user/.sbt/foo`

[2018-08-05 04:37] xuwei-k opened #4299 "ClassCastException: sbt.internal.util.Init$SettingList cannot be cast to sbt.internal.util.Init$Setting"
Hello plugin authors:
Please refrain from building sbt plugins using sbt 1.2.0, and use 1.2.6 or whatever the latest.

-eugene

## original issue

https://github.com/wartremover/wartremover/issues/433

### steps

- build and publish sbt plugin with 1.2.0
- use sbt plugin with sbt 1.1.6

### problem

[code]

### expectation

Don't throw `ClassCastException`

## notes

[2018-08-05 04:39] xuwei-k commented on #4299
workaround: Don't use sbt 1.2.0 in sbt-plugin build. use 1.1.6

[2018-08-05 04:58] eed3si9n commented on #4299
I wonder if it's https://github.com/sbt/sbt/commit/f459b218c47a330354111c884e4f204cd9067d02 in #4106?

[code]

sbt 1.2.0 converts `Seq[Setting[_]]` to `SettingList`, since it's a vararg, it's probably passing `Seq(SettingList(...))` where `Seq(Setting)` is expected.

We want might to revert this, or explicitly warn plugin authors that building using sbt 1.2 breaks sbt 1.1 users. /cc @dwijnand

[2018-08-05 09:27] xuwei-k commented on #4299
https://github.com/lightbend/migration-manager/issues/40 🤔 ?

[2018-08-05 12:37] xuwei-k commented on #4299
https://github.com/xuwei-k/xsbt/commit/ac318755bba9b73945a26bb38de3afba62de3254 🤔 ?

[2018-08-05 13:28] dwijnand commented on #4299
Both comments seem plausible. Apologies.

[2018-08-05 18:34] eed3si9n commented on #4299
ok. Let's discuss what to do next. For sbt 0.13, we did this explicitly when we jumped 0.13.2 -> 0.13.5 to introduce AutoPlugin, but in my opinion inConfig(...) isn't big enough change to break forward compat for everyone.

In the short-term we should back it out, but if you are interested, I am wondering if vararg variety might be introduced back as an implicit extension.

[2018-08-05 18:38] dwijnand commented on #4299
Ideally it would be possible for the old binary API to exist and link, and the new API to be used for newer stuff. But I didn't know if that can be achieved.

[2018-08-05 18:56] eed3si9n commented on #4299
I wonder if we can use the evil Sébastien trick of keeping bincompat by hiding it in `private[sbt]`.

[2018-08-05 19:58] eed3si9n commented on #4299
I tried to make the overloads distinguishable as follows:

[code]

But it seems like Scala compiler gets confused if the first parameter list is ambiguous.

[code]

[2018-08-05 20:05] eed3si9n commented on #4299
Here's a quick PR to revert #4106 - https://github.com/sbt/sbt/pull/4301

[2018-08-06 02:40] dcecile commented on #4234
Thanks for reporting this workaround -- I was trying to get `parsed` data into a dynamic task, and it wasn't compiling until I pulled the creation of the dynamic task out of the `inputTaskDyn`.

[2018-08-06 03:22] f0ster commented on #2958
I was having this issue with `java version "1.8.0_161"`, `Scala code runner version 2.12.6`, and upgraded sbt to 1.2.0 via brew to fix

[2018-08-06 10:01] jastice opened #4303 "reboot loses addPluginSbtFile settings"
- [x] I've read the [CONTRIBUTING](https://github.com/sbt/sbt/blob/1.x/CONTRIBUTING.md) guidelines

## steps

To be able to use the `addPluginSbtFile` option, I start the user's sbt shell in IntelliJ with the `-Dsbt.version=1.2.0` parameter.

This causes the warning on startup:
[code]

## problem

Actually doing a `reboot` from the shell will then apparently lose the the injected settings, causing

[2018-08-06 11:30] olafurpg commented on #3665
A workaround is documented in https://github.com/sbt/zinc/issues/520#issuecomment-410677766

[2018-08-06 12:57] willis7 commented on #3466
I have mounted `~/.ivy2` and `~/.sbt` to dramatically speed up the build, but the resolution is still orders of magnitude slower in Docker than my local machine. I'm working with `sbt 0.13.13` and `centos:7` base images

[2018-08-06 20:03] eed3si9n commented on #4299
Fixed in https://github.com/sbt/sbt/pull/4301

[2018-08-06 20:03] #4299 closed, assigned to nobody

[2018-08-06 20:06] eed3si9n commented on #1951
Could either of you have a project that I can use to reproduce this behavior? Does it happen with any sbt project using the latest sbt?

[2018-08-06 20:10] eed3si9n commented on #2724
I am closing this due to inactivity, but if this is still relevant let us know.

[2018-08-06 20:10] #2724 closed, assigned to nobody

[2018-08-06 20:12] #2889 closed, assigned to nobody

[2018-08-06 20:20] eed3si9n commented on #3307
I am assuming this is some bad interaction between JLine and your terminal environment. Do you set `TERM`? Mine is set to `xterm-256color`. Not sure if that would help.

[2018-08-06 20:28] eed3si9n commented on #3466
Thanks everyone for sharing the experience on Docker. It seems like there aren't much sbt can do, I am going to close this issue.

[2018-08-06 20:28] #3466 closed, assigned to nobody

[2018-08-06 20:32] eswenson1 commented on #3307
Wow!  So long and noone has been able to come up with a reason. Yes!  I had TERM set to vt100.  Setting it to xterm-256color makes the problem go away.  Of course, I'm on a Mac and not running xterm, so I don't know what xterm-256color does on a Mac.  But at least I can delete now in SBT without those ugly $<3> characters.  Thanks much.

[2018-08-06 20:38] eed3si9n commented on #3307
I am macOS as well, using iTerm2. I am closing this as resolved.

[2018-08-06 20:38] #3307 closed, assigned to nobody

[2018-08-06 20:53] SethTisue commented on #2889
I stopped using sbt-extras aaaaages ago now and haven't missed it.

[2018-08-06 21:39] eximius313 opened #4305 "DiagnosticsReporter causes "AssertionError: assertion failed: Expected protocol to be 'file' or empty in URI jar:file...""
- [x] I've read the [CONTRIBUTING](https://github.com/sbt/sbt/blob/1.x/CONTRIBUTING.md) guidelines

## steps
Upgraded SBT from `1.1.6` to `1.2.0`

## problem
Suddenly application stopped compiling (`sbt compile`), with following error:
[code]
Going back to `1.1.6` makes the project to compile again

## expectation
It should compile.

[2018-08-07 02:01] eed3si9n commented on #4305
@eximius313 Thanks for the report. Do you have a public project that we can use to reproduce this issue?

[2018-08-07 02:05] eed3si9n commented on #4293
This is now fixed in https://github.com/sbt/sbt/pull/4302.
I'm also going to reopen https://github.com/sbt/sbt/issues/4065.

[2018-08-07 02:05] #4293 closed, assigned to nobody

[2018-08-07 11:41] thiaguten opened #4307 "sbt 1.x proxy problem"
- [x] I've read the [CONTRIBUTING](https://github.com/sbt/sbt/blob/1.x/CONTRIBUTING.md) guidelines

## steps
As far as I know sbt obeys the JVM arguments and I have configured the proxy arguments in the Ubuntu ~/.profile as below:

[code]

## problem
I can't download dependencies behind proxy authentication with sbt 1.x

[code]

## expectation

Be able to download all necessary dependencies with s

[2018-08-07 13:31] eed3si9n commented on #4292
We probably don't want to incur performance overhead, so the strategy might be that each task makes some information available, and there's a thread that monitors who's elapsed time and if tasks are mutually waiting etc.

[2018-08-07 19:23] eed3si9n commented on #4117
Do you set JAVA_OPTS environment variable? If not would

[code]

help?

[2018-08-07 22:26] eximius313 commented on #4305
sure, just:
1) unzip this: [sbt-quickstart.zip](https://github.com/sbt/sbt/files/2268259/sbt-quickstart.zip)
2) `cd sbt-quickstart`
3) `sbt`
4) `compile`

[2018-08-07 22:26] eximius313 commented on #4305
My JDK:
[code]

[2018-08-08 08:48] almothafar opened #4309 "Windows Defender blocking .msi installer"
- [x] I've read the [CONTRIBUTING](https://github.com/sbt/sbt/blob/1.x/CONTRIBUTING.md) guidelines

## steps
1. Going to https://www.scala-sbt.org/download.html
2. download .msi and open it.
3. A screen will show that Windows Defender "SmartScreen" prevened unrecognized app from starting, with the button "Don't Run".
4. I have to click "More Info" link to see "Run anyway.

## problem
I think .msi

[2018-08-08 08:54] xuwei-k opened #4310 "Too many candidate list "java++" command tab completion"
- [x] I've read the [CONTRIBUTING](https://github.com/sbt/sbt/blob/1.x/CONTRIBUTING.md) guidelines

## steps

1. launch sbt 1.2.1
2. `java++ <INPUT TAB KEY>`

## problem

[code]

## expectation

show more useful few candidate list

## notes

sbt version: `1.2.1`

[2018-08-08 11:35] mr-git opened #4311 "1.2.1 fails to compile with `StackOverflowError`"
- [x] I've read the [CONTRIBUTING](https://github.com/sbt/sbt/blob/1.x/CONTRIBUTING.md) guidelines

## steps
* have project using `1.2.0`
* amended `build.properties` to have `1.2.1`
* restarted SBT Shell in IDEA (it downloads 1.2.1)
* build project

## problem
Try to compile project - it fails with very long exception while compiling one of modules

## expectation
Upgrading patch version of tool