[2013-07-03 22:22] rslifka commented on #58
Big +1 here, very confusing error message (and interesting requirement)

[2013-07-04 05:20] MansurAshraf commented on #728
I am running into the same issue with sbt 0.12.4

[2013-07-04 12:02] jrudolph commented on #804
Thanks Mark for fixing this. Any idea about a workaround for earlier versions? E.g. I can use `Seq(p1/a, p2/a, ...).dependOn` but that is quite cumbersome for the users.

[2013-07-04 14:24] harrah commented on #804
This was a bug in the task evaluating command where if the overall result was failure, it would discard the new state.  The only solutions I see would be to either not fail or to override this command and neither of these are practical, sorry.

[2013-07-04 22:32] gseitz opened #805 "'latest.integration' as version for plugins does not find the latest local snapshot"
When using `latest.integration` as version for plugins, it seems that a locally published snapshot (e.g. `0.2.4-SNAPSHOT`) is not found, but instead the latest release (e.g. `0.2.3`) is chosen instead.

@eed3si9n also ran into this problem in [this thread](https://groups.google.com/forum/#!topic/simple-build-tool/Nm3CMft6CDw) on the mailing list, and adding `force()` doesn't help resolve the issue

[2013-07-05 12:35] jrudolph commented on #804
Ok, that's what I suspected as well. Thanks, anyway.

[2013-07-05 13:06] harrah commented on #804
I forgot that there is the option of a synchronized var in your Plugin object.  Not normally recommended of course, but in this case I don't think there is another option until this is fixed.

[2013-07-05 19:29] jrudolph commented on #804
You mean, relying on the side-effects of `updateState`? Either that or a singleton with mutable state that is directly changed by the task.

[2013-07-06 18:24] copumpkin opened #806 "Provide a way for commands to get adjustable log levels"
Currently a command is passed the `State` of the world, and if it wants to log it will typically ask for the `.log` of that `State`. That `.log` is not attached to any configuration or scope that is settable in user projects, so plugins can be unconditionally noisy even in otherwise quiet builds. Mark says there's no endorsed mechanism for setting plugin log levels, so here is a juicy feature requ

[2013-07-06 18:32] harrah commented on #806
Additionally, settings should have access to this logger.

[2013-07-08 11:19] harrah commented on #804
I meant the the singleton+var option.

[2013-07-08 16:39] hsn10 commented on #779
same as #752

[2013-07-08 16:42] hsn10 opened #807 "sbt-launch.jar can't download sbt from password protected repo"
if i override repositories in ~/.sbt/repositories then sbt-launch do not sets access password as defined in ~/.sbt/nexus.sbt and entire bootstrap process ends with:

 :: org.scala-sbt#sbt;0.12.4: not found

[2013-07-09 15:52] jsuereth commented on #807
Ah, the launcher uses a slightly altered mechanism of resolving artifacts than sbt itself.   I'll try to add a feature such that you can specify passwords to the launcher via some mechanism, and these can be exposed to the sbt build as well.

[2013-07-09 15:54] jsuereth commented on #807
Also, this is a duplicate of #731

[2013-07-09 15:54] #807 closed, assigned to nobody

[2013-07-09 15:59] hsn10 commented on #807
It would be better to distribute entire app instead of downloader.

[2013-07-09 16:03] jsuereth commented on #807
Try activator: http://www.typesafe.com/platform/getstarted

Just a nice shell on sbt with all the necssary artifacts local.  If I have time, we may retrofit the sbt packages to have the same mechanism.

[2013-07-09 16:11] jsuereth commented on #779
Closing as duplicate.

[2013-07-09 16:11] #779 closed, assigned to nobody

[2013-07-09 17:58] hsn10 opened #809 "crossPaths"
document crossPaths at
http://www.scala-sbt.org/release/docs/

[2013-07-10 04:24] hgiddens opened #810 "0.13.0-RC1 not fetching dependencies correctly"
Using the following build.sbt, 0.13.0-RC1 (also reproduced vs. 7278fbc) doesn't appear to create the entries in the Ivy cache that would allow it to put some dependencies on the classpath.

[code]

To reproduce:
1. Start with an empty Ivy cache
2. Shove above build.sbt somewhere
3. Using sbt 0.13.0-RC1, run `sbt console`
4. At the Scala prompt, run e.g. `import org.apache.thrift.TException`
5. Not

[2013-07-10 04:41] eerok commented on #810
Not sure if relevant or not, but the pom file for libthrift (http://repo1.maven.org/maven2/org/apache/thrift/libthrift/0.7.0/libthrift-0.7.0.pom) has a packaging element of type pom. Maybe Ivy is not mapping that to .jar file extension?

[2013-07-10 13:25] harrah commented on #810
@hgiddens Thanks for the detailed report and @eerok thanks for the relevant diagnosis.

This was an intentional change.  Modules with packaging="pom" should not have jars and checking for them is expensive since they don't usually exist and repository misses are slow.  The bug was #636.

See http://www.scala-sbt.org/0.13.0/docs/Detailed-Topics/Library-Management.html#packaging-pom, which includes

[2013-07-10 18:52] harrah commented on #810
Of the ~10,000 modules (groupID:artifactID) in Maven Central that have packaging="pom", only 59 have an associated jar.  It might be possible to explicitly recognize these existing modules and continue to look for the jar in order to make it easier for users to move from 0.12 to 0.13 without changes.  That might be more confusing than just a warning, though, since new modules that do this or modul

[2013-07-10 18:54] harrah commented on #810
The list of broken modules on Maven Central (out of 10,000 modules with `packaging="pom"`):

org.modeshape:modeshape-client
org.neo4j.doc:neo4j-manual
org.jnario:org.jnario.standalone.maven
org.picketlink.distribution:picketlink-jbas7
org.picketlink.distribution:picketlink-jbas5
org.picketlink.distribution:picketlink-tomcat7
org.picketlink.distribution:picketlink-tomcat5
org.neo4j.build.plugins:ne

[2013-07-10 19:43] harrah commented on #810
Posted summary to the mailing list: https://groups.google.com/d/msg/simple-build-tool/DekTrHQEWcs/Jh4MQ3L6RSIJ

[2013-07-11 03:46] shijinkui opened #811 "吐槽：i hate sbt"
1. repositories setting is so confusion;
2. intellij plugin is equals nothing;
3. unfit programing habit

i hate sbt

[2013-07-11 06:34] jroper opened #812 "Local snapshot dependencies not found on second attempt to resolve them"
Affects SBT 0.13.0-RC1.

If I have a snapshot artifact in my local repository, and when it was published it was a sub project of another project (this means the ivydata properties file in the SBT cache ends up having resolver=inter-project instead of resolver=sbt-chain), and I published it with SBT 0.12.3 or earlier, then resolving that artifact from another project only works the first time.  The

[2013-07-11 11:37] #811 closed, assigned to nobody

[2013-07-11 23:14] #421 closed, assigned to nobody

[2013-07-11 23:14] #810 closed, assigned to harrah

[2013-07-12 02:06] ghost opened #813 "Running tagged tests works in 0.12.4 but not with 0.13.0-RC1"
Steps to reproduce the problem:
1. $ git clone https://github.com/oscarvarto/scalatest-tag.git
2. $ cd scalatest-tag
3. $ sbt

sbt says
    [info] No tests to run for xtests:test
(See https://github.com/oscarvarto/scalatest-tag/blob/master/project/build.properties#L2 --> 0.13.0-RC1 does not run tests tagged XTest)

(I am using the sbt launcher for 0.13.0-RC1 to be able to do this with 0.12 and 0.1

[2013-07-12 03:36] shijinkui commented on #811
聪明反被聪明误，哼哼。

[2013-07-12 04:57] jroper commented on #812
We upgraded to SBT 0.12.4 for building Play, and are no longer impacted by this issue.

[2013-07-12 11:53] #812 closed, assigned to harrah

[2013-07-12 12:00] harrah commented on #813
The argument passing part was a bug in ScalaTest, which @cheeseng fixed in SNAP28.

[2013-07-12 13:47] harrah commented on #813
Ah, sorry.  I was wrong about it being the same as the docs.  Shared sources use just `Defaults.testTasks` and not `testSettings`.  With the argument handling fixed in ScalaTest and the new test in sbt, this is fixed.

[2013-07-12 13:47] #813 closed, assigned to harrah

[2013-07-12 21:57] harrah commented on #660
Related to and possibly a duplicate of #429.

[2013-07-13 02:55] thedebugger commented on #321
Struggling with same issue over 6 months now. Let me know if need any information for debugging.

[2013-07-13 14:38] OlegYch commented on #763
I just tried http://scalasbt.artifactoryonline.com/scalasbt/sbt-native-packages/org/scala-sbt/sbt/0.13.0-RC2/sbt.msi and http://scalasbt.artifactoryonline.com/scalasbt/sbt-native-packages/org/scala-sbt/sbt/0.13.0-RC2/sbt.zip
in plain cmd.exe and i still can't edit text. How did you guys test it?

[2013-07-13 15:12] jsuereth commented on #763
I install it on my local machine and run through my normal sbt dev
experience and see if it works.

If you have a script of what you do, I'll start following that for
validation.

On Sat, Jul 13, 2013 at 10:38 AM, OlegYch notifications@github.com wrote:

[2013-07-13 21:56] OlegYch commented on #763
I don't do anything special..
Just verified on a clean win8 vm. Installed oracle jre and 0.13.0-RC2 msi and started a clean project.
Still getting pH instead of Up key in sbt shell...
http://gyazo.com/21d02544b5be51043dfa52d419a8ce36.png

btw the msi contains some ~ files (i guess backups from your editor) and "sbt" script breaks in cygwin bash when started from directory with spaces in path.

[2013-07-13 22:17] jsuereth commented on #763
Thanks, can you open these bugs against the sbt-launcher package?

https://github.com/sbt/sbt-launcher-package/issues/new

On Sat, Jul 13, 2013 at 5:58 PM, OlegYch notifications@github.com wrote:

[2013-07-13 22:32] OlegYch commented on #763
sure, submitted https://github.com/sbt/sbt-launcher-package/issues/50 and https://github.com/sbt/sbt-launcher-package/issues/49

[2013-07-15 16:46] ajrnz opened #815 "evalTask is not defined in consoleProject on 0.13"
Currently you need to do

runTask(fullResolvers, currentState)._2

instead of

evalTask(fullResolvers, currentState)

Affects: Console-Project.rst

[2013-07-16 11:19] greenrd opened #816 "Could not retrieve sbt 0.7.5RC0"
[code]

A workaround that worked for me, but might not work for others, is downloading the sbt 0.7.5RC0 launcher and running that instead.

[2013-07-16 12:20] harrah commented on #816
The launcher only supports final releases of 0.7-0.11.  Some background:

https://groups.google.com/d/topic/simple-build-tool/T2_Jk5kLdRM/discussion
https://groups.google.com/d/topic/simple-build-tool/3sE6DxS9t6E/discussion

The scala-tools repository went away and sbt had to change its group ID, requiring a new launcher feature to work around the situation.  This feature switches the launcher con

[2013-07-16 12:20] #816 closed, assigned to nobody

[2013-07-16 13:13] greenrd opened #817 "ivy.xml is missing all dependencies when downloaded from local filesystem"
I have the following entry in `~/.ivy2/ivysettings.xml`, which is loaded by `externalIvySettings`:

[code]

The cached `ivy.xml` files in `~/.ivy2/cache`, such as this one:

[code]

are incorrect for files "downloaded" from this filesystem source. Unlike ivy files downloaded or produced from other sources, they do not include dependencies, so sbt doesn't add the dependencies of those artifacts to

[2013-07-16 22:57] #616 closed, assigned to gkossakowski

[2013-07-16 22:57] #623 closed, assigned to gkossakowski

[2013-07-17 04:17] kriomant opened #819 "`ProcessBuilder.lines` conflicts with `StringOps.lines`"
Write `"string".lines` in `build.scala` and you'll get compilation error:

[code]

I can resolve conflict manually, but is very unexpected and confusing that standard `lines` method changed its meaning from "split text into lines" to "start program". I would expected something like `"string".!.lines` for this.

[2013-07-17 07:08] som-snytt commented on #819
I just happened to notice a @paulp comment on the scala issue to deprecate linesIterator in favor of lines, that because of (standard lib) ProcessBuilder.lines, you almost want a different name on StringOps. (Or vice-versa, of course.)  Personally, I'd say PB.toLines and SO.asLines.

[2013-07-17 19:03] #815 closed, assigned to harrah

[2013-07-17 19:04] jsuereth commented on #817
Just curious, have you tried this against sbt 0.12/Play 2.1?

[2013-07-17 19:08] adriaanm commented on #735
when you use the `0.13.+` notation in your `build.properties`, you get this suspicious-looking warning -- shouldn't the + be resolved to the current version?

[code]

[2013-07-17 20:01] jsuereth commented on #735
I believe this might be an issue with the binary version detection.

[2013-07-18 03:56] kriomant commented on #819
`PB.toLines` is also bad, because string can be implicitly converted to `PB`. Do you really expect (just looking at code) that "cat\ndog".toLines does not split string into lines, but **starts** command? Starting command **must** be explicit.

[2013-07-18 13:56] jsuereth commented on #819
I'd prefer we just use the syntax Proces("cat\ndog").lines.  Maybe we can deprecate the string -> ProcessBuilder implicit....

[2013-07-18 14:48] kriomant commented on #819
Just idea: use custom string interpolation, like `run"program $arg1 $arg2".lines`

[2013-07-18 15:02] paulp commented on #819
That's a great idea. Regardless, I'd say the String -> ProcessBuilder implicit should be deprecated.

[2013-07-19 21:44] hseeberger opened #822 "Standard input on Mac not working properly"
Every time you `run` an `App` that `readLine` from the standard input, you get strange extra characters that make parsing impossible:

[code]

[code]

What's that `^M` and where is the line break?

[2013-07-19 23:59] gkossakowski opened #823 "Private def with existential type causes spurious recompilation due to name instability"
Consider the following code structure:

[code]

Let's assume it's been compiled.

Now, let's introduce a _private_ method to `Foo` so it looks like this:

[code]

If we recompile we would expect one iteration of compilation (just to recompile `Foo.scala`) because the newly introduced method is private. At the moment, incremental compiler will decide to recompile `Bar.scala` as well because it sees

[2013-07-20 00:08] #822 closed, assigned to harrah

[2013-07-20 00:16] harrah commented on #823
Probably due to 864580aae1c32041beccfcf61cb2b545b80c9579.  The correct approach was removed because it relied on Symbol.id, which is apparently an unreliable implementation detail.  The id didn't need to be stable across runs, but was just used to identify equal type parameters.  I don't remember the details, but should it be desirable to restore the indexed approach, perhaps a Symbol map would wo

[2013-07-20 00:36] gkossakowski commented on #823
Thanks for the pointer! Yes, using Symbol.id would solve that particular problem but would introduce a lot more other problems.

I was thinking about introducing some kind of a map on Sbt side. I'm not sure if `Map[Symbol, Symbol]` is the best idea because it means we need to allocate new symbols. Allocating symbols is a side-effecting operation (e.g. it mutates the owner) so it's dangerous to do.

[2013-07-20 19:30] adriaanm commented on #735
It also seems to break plugin resolution, looking for a `sbt_0.13.+` subdirectory:

[code]

[2013-07-22 17:47] harrah commented on #735
The `0.13.+` problem is a separate issue from binary version detection and the global directory.  Right now, by sort-of-design, the launcher only supports stable versions and -SNAPSHOT.  When the launcher resolves the application, it would need to pull out the version that was resolved, persist it for future runs (not currently done anywhere by the launcher), pass that to the launched application,

[2013-07-23 07:13] jfmwz commented on #217
I have the same problem with sbt 0.12.2.jar
I remove the directory commons-codec in .m2 and .ivy2

Then the problem was resolved.

[2013-07-23 11:44] jsuereth commented on #217
This is most likely due to a bad cache from prior sbt/ivy usages.   At one point during some repository migration, there was a "bad" commons-code pom.xml floating around. If you managed to cache that, then the only solution was to remove it.   Sorry for an inconveinience.  Most likely, that's what you ran into.

[2013-07-23 15:01] gmalouf commented on #731
I take it this is still the case in sbt 0.12.4?

[2013-07-23 15:03] jsuereth commented on #731
yes.   Still working on a more principled solution.  I'm actually working on trying to remove the need for security realm in ivy first.   Sorry for any inconvenience here...

[2013-07-23 15:06] gmalouf commented on #731
Understood; my workaround today is to move the repositories file to an alternate location when downloading a new sbt release.

[2013-07-23 15:10] jsuereth commented on #731
Actually, if you use the sbt 0.13.0-RC3 launcher, it looks like you can specify credentials now:

https://github.com/sbt/sbt/commit/96e5a7957c830430f85b6b89d7bbe07824ebfc4b

Albeit, I'd like a nicer solution eventually, that should work for now.

[2013-07-23 19:37] harrah commented on #731
Pretty sure that has been in there since 0.11.3-2.  At the bottom of the commit message, you can see the tags with that commit included.

[2013-07-25 01:47] jroper opened #827 "Classes fingerprinted by two different test frameworks get run twice by one framework"
It is not uncommon to annotate specs2 specs with JUnit run with annotations, so that Eclipse will be able to run them.  This causes them to be fingerprint matched by both the spces and the junit test frameworks.  junit-interface added a config option to exclude certain junit runners to address this, but this exclusion is done at test run time, because fingerprints don't provide this capability.

I

[2013-07-25 21:53] #827 closed, assigned to harrah

[2013-07-26 07:53] eed3si9n opened #828 "scripted doesn't work on 0.12.4"
### steps
1. use 0.13.0-RC3 launcher or 0.12.4 launcher.
2. set build.properties to `sbt.version=0.12.4`.
3. no cross building target 0.12 plugins.
4. run `scripted`.
### problem

[code]

Here's the stack trace

[code]
### expectation

`scripted` runs.
### notes

`scripted` runs on 0.12.3 fine. Could this be a regression introduced by #781?

[2013-07-26 23:29] paulp opened #829 "version-specific documentation search is a lie"
When you change the version of documentation you're looking at, the search box magically changes, saying things like "Search 0.12.1 on Google" or "Search 0.13.0 on Google". Truly we are living in the future! But then it issues the same search every time.

[code]

That is a lot worse than no magic. It was quite a while before I noticed the reason there was no indexed documentation available for som

[2013-07-26 23:42] #829 closed, assigned to harrah

[2013-07-26 23:43] harrah commented on #829
Fixed, thanks!

[2013-07-26 23:43] harrah commented on #829
Oh, and I'll push the updated docs later.

[2013-07-27 23:02] gkossakowski opened #830 "API extraction logic doesn't cover all simple types"
Here's a minimal reproduction:

[code]

when compiled with sbt it gives:

[code]

The problem is that sbt seems to have different notion of "simple type" than Scala spec defines. In Scala spec a SimpleType is defined as:

I believe that sbt doesn't cover the last case.

[2013-07-27 23:02] gkossakowski commented on #830
@harrah: your thoughts on this?

[2013-07-27 23:22] harrah commented on #830
`'(' Types ')'` is for tuple types, described in 3.2.5, where it says that n must be >= 2.  So, I don't think the spec allows it.

However, I assume scalac doesn't enforce that, perhaps by mistake, but this could be how the type lambda syntax hack gets through.  I think that case gets handled by normalize/dealias though?  I'm not sure, maybe we have to support any type there?

[2013-07-28 01:08] eed3si9n opened #831 "task created by fullRunInputTask doesn't capture sys.exit"
## steps
1. write a program that calls sys.exit when you pass in "--help" to argument. (scopt does this)
2. in build.sbt, define `fullRunInputTask(InputKey[Unit]("custom_run"), Runtime, "Main")`
3. from the shell, call `custom_run --help`.
## problem

the program runs, and upon `sys.exit` sbt itself shuts down.
## expectation

the program shuts down, and returns to sbt shell as `run` task does.
##

[2013-07-28 01:22] paulp commented on #830
The Types production is one or more types. Tuple types are n >= 2, but a single parenthesized type is valid because parentheses in types are used for grouping. Certainly 3.2.5 is misleading at least, but I do not think it excludes, nor do I think it is intended to exclude, a single parenthesized type.

[2013-07-28 01:31] paulp commented on #823
Not that everything isn't a side effecting operation, but in general owners know nothing of their children. It doesn't mutate the owner unless you mutate the owner (perhaps entering it into the owner's scope.)

[2013-07-28 03:48] gkossakowski commented on #830
I interpret spec the same way @paulp does. Also, there's this one sentence mentioning grouping (beginning of chapter 3):

Yes, the type lambda hack is normalized early on by dealiasing. I think we have to support any type as a prefix when converting a type ref.

[2013-07-28 05:31] Zahnentferner commented on #831
More generally, SBT seems to treat run tasks created with `fullRunInputTask` quite differently from the way it treats the default run task.

The issue described above is just one consequence.

Another consequence is this: if an exception is thrown within a program executed via `run`, SBT shows the full exception message. On the other hand, if the program is executed via a `custom-run`, SBT hides t

[2013-07-28 06:04] Zahnentferner commented on #831
Apparently, SBT executes default run tasks in a separate JVM (and thus is not terminated when a default run task calls `sys.exit`), but custom run tasks in the same JVM (and thus is terminated when the custom run task calls `sys.exit`).

[2013-07-29 09:35] retronym commented on #830
Related discussion: https://groups.google.com/d/msg/scala-internals/ANcaI6dVYPw/2Gt5z_S3Gc0J

[2013-07-29 11:12] harrah commented on #830
From that discussion, SimpleType is only syntactic, like you guys said.  So, it should not be represented in the data structure separately.

[2013-07-29 15:53] harrah commented on #831
Both the default and custom run tasks are configured by `fork`, which is false by default.  Saying `fork in run` will configure only the default `run`.  The amount of a trace shown is configured by `traceLevel`, which is configured for `run` by default using `traceLevel in run := 0`.  A custom run-like task can be configured similarly.  `fullRunInputTask` does not control that.  Rather, it is more

[2013-07-30 04:30] Zahnentferner commented on #831
Thanks for the explanation, Mark!

I thought `fullRunInputTask` would define a `custom_run` task that behaves exactly like `run` (w.r.t. `fork`, `traceLevel`, resilience to `sys.exit` calls, and so on...).

Since it doesn't, could you tell me the simplest way to define (in build.sbt) a `custom_run` task that behaves exactly like `run`?

[2013-07-30 14:03] felipegs commented on #321
I have the same problem here..Is there no workaround that not involve deleting the cache?

[2013-07-30 16:08] tomyan commented on #290
I'd also like a way to separate the resolution of the dependencies from the build of the project, so that the build can be performed offline. We like to keep our builds repeatable, even when third party repos are down (as happens from time to time). Bundler (a similar system from the Ruby world) allows separation of "bundle package" which downloads dependencies form the internet, from "bundle inst

[2013-07-31 06:43] vallettea opened #834 "sbt clean "~run" takes 100% of processor activity after a call to elasticsearch"
hello,

this a reference to thinkaurelius/titan#336 :
when using

   sbt clean "~run"

with a program calling elastic search, the execution runs perfectly but it seems that sbt wants to control the underlying elastic search status and fails constantly which causes a sort of infinite loop.
I could provide materials.

It is the same on ubuntu 12 and 13 and on macos X

[2013-07-31 07:15] laurilehmijoki commented on #499
For me, using the version `8.1.0.v20120127` solved this problem.

E.g.: `"org.eclipse.jetty" % "jetty-webapp" % "8.1.0.v20120127" % "test, container"`.

[2013-07-31 12:06] harrah commented on #834
Please minimize the problem and provide enough information to reproduce: https://github.com/sbt/sbt/blob/0.13/CONTRIBUTING.md#new-issues.  sbt knows nothing about elastic search status.  What fails and what is the error message?  When you say constantly, what does that mean?  What sbt version?  Does running sbt in interactive mode and manually doing `run` multiple times also have problems?

[2013-07-31 12:13] harrah commented on #831
Configure the revelant settings `in customRun`:

[code]

@eed3si9n I forgot about trapExit.  That will fix the issue.  However, the reason it isn't on by default is that it can only handle one `run` at a time (it is a SecurityManager hack to begin with).  This issue will be to try to handle independent executions simultaneously.

[2013-07-31 12:26] harrah commented on #817
Please reopen if this still exists in 0.12.4 or 0.13.

[2013-07-31 12:26] #817 closed, assigned to nobody

[2013-07-31 12:34] harrah commented on #499
Note that this issue is fixed in sbt 0.12.2 and later.  The older jetty version probably works because it was before the metadata change.  Newer versions of jetty should be usable in sbt versions before 0.12.2 with the workaround in https://github.com/sbt/sbt/issues/499#issuecomment-8794028.

[2013-07-31 15:23] Zahnentferner commented on #831
So now I have something like this in my "build.sbt":

[code]

And SBT complains:

[code]

I understand why this happens. My question is: is there a way to achieve what I want having only a "build.sbt" file? Or will I need to write a "Build.scala" file, in order to use the full power of the Scala language (even if in this case I just need to know the key object that was created by `fullRunInputTask

[2013-07-31 15:38] vallettea commented on #834
yes sorry about that:
I think the application i'm running is not closing correctly a connection to elastic search and that causes the mess.
I'll try to get further from the other side (titan).

[2013-07-31 15:38] #834 closed, assigned to nobody

[2013-07-31 17:57] harrah commented on #831
0.13 allows vals in the .sbt file.  Before that, you can use a block and return a `Seq[Setting[_]]` in the expression:

[code]

(EDIT: forgot the {} the first time)

[2013-08-01 12:12] Zahnentferner commented on #831
Thanks!

[2013-08-01 18:45] varju opened #838 "Multi-project builds slower from command-line than from sbt console"
I've been working on converting a monolithic project up into multiple sub-projects, and noticed that building from the command-line was notably slower than building the same thing from within the sbt console.

From the command line, running `sbt clean test:compile clean test:compile` (building twice to ensure caches are warm); second compile completes in 498s.  From the sbt console, running `;clea

[2013-08-01 21:54] gkossakowski commented on #830
Yep. Now, if I wanted to fix it I'd need to get rid of SimpleType data structure in sbt. Is it considered to be a part of public API?

[2013-08-01 22:14] harrah commented on #830
yes

[2013-08-01 22:17] gkossakowski commented on #830
@harrah: so what can we do in that case? Deprecate? Those classes are generated and I don't think we have support for deprecation in code generation logic.

[2013-08-01 22:21] harrah commented on #830
Oh, you can get rid of them without deprecating, it just can't happen in 0.13.x.

[2013-08-01 22:23] gkossakowski commented on #830
I see. Thanks. I scheduled this for 0.14 then.

[2013-08-03 21:22] SethTisue opened #840 "completely silent startup, for use when scripting"
sbt always prints these lines when it starts:

[code]

Is there a way to make it not? It messes up trying to pipe the output of commands around in the Unix shell.

this was requested on the mailing list https://groups.google.com/d/msg/simple-build-tool/VZFLPc-TWPw/2B6jx5Y_JF0J and at the time @harrah suggested opening a ticket, but I couldn't find one

related: #316, which was about overall levels

[2013-08-04 04:18] toddobryan commented on #321
I'm having the same problem, but my SNAPSHOT is being published to the Ivy local repo, not the Maven one.

I was able to fix the problem by deleting just the project in question from the Ivy cache. It's a pain, but less of a pain than deleting everything and having to re-download. In other words, run something like

[code]

and see if that convinces sbt to use the local version.

[2013-08-04 17:43] ldeck commented on #499
@harrah it seems the work around is still necessary in sbt 0.12.4

[code]

[code]

[2013-08-04 23:23] harrah commented on #499
@ldeck If sbt <0.12.2 was used to get this dependency, the bad metadata in the cache won't be invalidated.  Try removing `~/.ivy2/cache/org.eclipse.jetty.orbit` and reresolving.

[2013-08-04 23:29] harrah commented on #840
The part about configuring logging is included in #806 (might not be obvious, but it is).

There was a good point a while ago on the mailing list about sending logging to stderr, which I think would be the best fix for this.

[2013-08-04 23:35] harrah commented on #840
The post was https://groups.google.com/d/topic/simple-build-tool/6LkVE8MVc78/discussion

[2013-08-05 11:51] tomyan opened #841 "network still used when -offline flag present"
If I remove a dependency of my project and run sbt with the -offline flag, I would expect it to fail. Instead it downloads the dependency from the network:

[code]

This might be by design, but would be much more useful to me if there was an option where I could be sure that the build is repeatable without having to go to the network.

Thanks

Tom

[2013-08-05 12:00] jsuereth commented on #841
the -offline mode in the script is still a little buggy.   COuld you reopen the issue against the script itself?

https://github.com/sbt/sbt-launcher-package

I beleive it's the difference between a `set every` and `set` call.

However, to make sure sbt is no the culprit can you try the following?
1. run `sbt`
2.  In the console, type `set every offline := true`
3. type `run`

IF you see the same

[2013-08-05 12:03] tomyan commented on #841
Hi Josh

Thanks for getting back to me. Have tried suggestion - will include details in new ticket.

Regards

Tom

[2013-08-05 12:03] #841 closed, assigned to nobody

[2013-08-05 12:10] tomyan commented on #841
See https://github.com/sbt/sbt-launcher-package/issues/56

Thanks

Tom

[2013-08-05 12:46] copumpkin commented on #840
If github supported voting, I'd vote for this one :)

[2013-08-05 12:47] harrah commented on #840
@copumpkin the approach, the outcome, both?

[2013-08-05 13:06] copumpkin commented on #840
The outcome, mostly. Separating stderr and stdout is also useful for other reasons, of course. Not sure whether this was implied in the thread, but it also seems helpful for warn/error messages to go to stderr and everything else to go to stdout.

[2013-08-05 13:23] harrah commented on #840
The thread indicated all logging should go to stderr, with the preemptive point that stderr is something of a misnomer and isn't just for errors.

[2013-08-05 16:26] harrah commented on #838
I tried this with akka and cannot reproduce.  The second compile is around 260s in both cases.

There is almost no distinction between running commands from the command line or interactively.  In one case, the next command is read from stdin via JLine, but that is it.  (The default number of frames printed for a stack trace is different, but there are presumably no traces being printed for a succe

[2013-08-05 18:50] varju commented on #838
Weird.  Must be something special about my codebase.  I'll see if I can come up with an example I can share that demonstrates this.

[2013-08-06 01:15] earldouglas commented on #828
+1

[2013-08-07 00:45] bpfoster commented on #321
+1

[2013-08-07 04:27] varju commented on #838
Although not quite to the same extreme, I just reproduced the problem with the Play! source code.  1073s for the console build and 1510s from the command-line.  I did this twice just to be sure it wasn't caused by some unrelated background process during the slower build.

Just to be sure there wasn't something weird about my machine, I tried building Akka like you did and did not see the problem

[2013-08-07 15:43] SethTisue commented on #228
I filed a feature request for ScalaTest to support this: https://github.com/scalatest/scalatest/issues/97

[2013-08-07 16:34] SethTisue commented on #840
fwiw, I'd certainly be much happier if the stdout/stderr distinction were made, but some part of me would still want the option to set the loglevel at startup from the command line, so that irrelevant output never arises in the first place, on either stream. it's the unix way.

printing dull stuff to stderr causes the user to either visually/mentally tune out the chatter, or forcibly tune it out b

[2013-08-07 23:13] wsargent opened #842 "1.8 support for sbt"
SBT does not currently support Java 1.8, as the bytecode format is different.  Currently with 0.13, if you use a 1.8 compiler and use lambdas, you'll run into unknown constants.

[code]

[2013-08-08 20:02] harrah commented on #806
... and the level should be configurable on startup before any logging occurs

[2013-08-08 20:04] harrah commented on #840
The startup part is covered by the other issue.  I've commented there so you believe me this time.

All logging-warnings, errors, info- would go to stderr.  It isn't just errors or just info.  So, you'd only tune it out if you were redirecting stderr so you don't see it.  And if you do that, you probably meant to do it.  I don't think it would change much for people using it normally/interactively

[2013-08-08 20:50] SethTisue commented on #840
loud & clear this time, thanks :-)

[2013-08-12 21:51] bmjsmith commented on #562
Just as an update.  Using 0.13 RC 5 on mintty/cygwin/win8 and everything works like a charm, cut'n'paste and backspace in the sbt shell and in the scala console included.  Thanks all for fixing this, much appreciated.

[2013-08-12 22:03] mbrambley commented on #562
not for me... backspace woks in sbt now but still does nothing in the scala console
am i missing something? (just installed 13.5 tonight)

[2013-08-12 22:17] bmjsmith commented on #562
If you're using mintty, try enabling "Backspace sends ^H" in the terminal options under Keys.  If that doesn't do the trick, check that ^H is recognised as the erase character by running stty from the bash prompt.

[2013-08-12 22:21] mbrambley commented on #562
that did it thanks!!
"backspace sends ^H"

[2013-08-13 00:27] jsuereth commented on #562
This backspace send ^H setting sounds like something that belongs in our FAQs or documentation.  Would either of you mind contributing to the place you would most likely have found the information besides the bug request :)

Thanks, and glad this works!

[2013-08-13 09:31] bmjsmith commented on #562
Josh - I'm not massively github savvy so let me know if I've done that wrong.

[2013-08-13 15:33] harrah commented on #136
`IO.objectInputStream` implements a custom OOIS subclass as a convenience for working around the problem.

[2013-08-13 22:40] adriaanm opened #846 "Consider modularization in Scala binary version detection"
As of 2.11.0-M5, scala-xml will be published as scala-xml_2.11.0-M5%1.0-RC1.
I.e., modules are cross-versioned against the Scala version they target,
and get their own versions (and their own release schedule).

SBT 0.13 currently warns/errors about this. I think it's still useful to have some kind of
detection mechanism of the Scala binary version, but maybe it should be done via a properties fil

[2013-08-14 22:33] jdolson opened #847 "upgrade to ivy 2.3.0 (final)"
sbt 0.13.0 is still using ivy 2.3.0-rc1 (released Apr. 2012). The final was [released](http://ant.apache.org/ivy/history/2.3.0/release-notes.html) in Jan. 2013 and includes several fixes not in rc1 (or even rc2). The second RC broke two public APIs sbt uses and so the fix is nontrivial. It is too late to fix this for 0.13 but it could be fixed for 0.14.

[2013-08-15 06:25] hamnis commented on #828
+1/2 suddenly it started working.. ish.

After the upgrade and running the scripted plugin, the input prompt disappears.

The history still works, but I cannot see what the command I am about to run, actually is.

According to @harrah this is due to incompatibilities with jline.

[2013-08-15 15:33] earldouglas commented on #828
I noticed this too.  If you run `reset` at the command line, you should get your local echo back.

[2013-08-17 22:02] gtopper opened #849 "Can't compile tests when using an external Ivy file"
It appears that SBT tries to compile the tests against a classpath that does not include other compiled classes (those compiled from src).

Here is a simple example https://github.com/gtopper/sbt-external-ivy-example

[2013-08-20 03:32] Rogach opened #850 ""Invalid or corrupt jarfile" when packaging more than 66k files"
I stumbled upon following problem: when packaging a project with lots of files, resulting jar file is perceived as corrupt by java runtime.

Steps to reproduce (on java 7, sbt 0.12.3):

[code]

The probable cause of this problem could be the 65k file limit of the old ZIP format - but java 7 already uses ZIP64 by default, and 7z reports that the resulting jar file is indeed in 64-bit format. ([rele

[2013-08-20 18:32] adriaanm commented on #846
I see the milestone was set to 0.13.1, which is fine. Note that SBT 0.13 won't build using 2.11 after scala-xml and scala-parser-combinators are modularized, which is scheduled to happen in M5. I think we're happy to integrate against 0.13.1, but which branch (of sbt) should PR validation use. In other words, where should I submit PRs targetting 0.13.1?

BTW, this is the affected line: https://git

[2013-08-20 21:11] gtopper commented on #849
Adding the following two lines to build.sbt makes it possible to compile the test sources, but still not run the tests.

test <<= (test in Test) dependsOn (compile in Compile)

managedClasspath in Test <+= baseDirectory(_ / "target/scala-2.9.2/classes") map identity

[2013-08-21 02:52] harrah commented on #846
Pull requests for 0.13.1 can target the 0.13 branch.  The modularization changes for building sbt are separate, though, since it uses 0.12.  Changes specific to building against 2.11 can go on the 0.13-2.11 branch.

[2013-08-21 11:24] delor commented on #366
I have the same error with SSO via Kreberos.

[2013-08-21 12:31] huitseeker commented on #846
As mentioned in email, Adriaan has a proposed fix here : https://github.com/adriaanm/sbt/commit/ec07ee46fa5a19e8fde47fed084fe47aeda5c487

[2013-08-21 18:15] hsn10 opened #851 "add prepend to Sequence operator for .sbt files"
what about to define new _=:_ operator for prepending item to list

for example prepend resolver to list:

resolvers =: "F" at "https://..."

[2013-08-22 09:13] yeonhoyoon commented on #321
having the same problem here. currently I'm using a script to delete the ivy cache before build.

[2013-08-22 13:38] mkonicek commented on #510
A quick fix for me was to add javac to my PATH.

[2013-08-23 14:33] rgladwell commented on #828
:+1:

[2013-08-24 19:14] pfn commented on #265
Need this for scripted-tests as well since project loading failure results in the test case just sitting there...

[2013-08-24 21:02] pfn opened #853 "scripted tests that have an invalid build file hang on windows when running sbt scripted"
Created a scripted test that has an invalid build file then run sbt scripted on windows; it results in a hang (test environment = windows7 +  console2 + git-bash + win-sbt.sh)

[2013-08-26 09:54] Rogach commented on #850
Seems that it's a problem in a way Java reads jar files on launch - and the fix will only come to us in Java 8.

Meanwhile, there is a simple workaround:

[code]
- [Bug in Oracle's bug db](http://bugs.sun.com/bugdatabase/view_bug.do?bug_id=7191282)
- [Discussion at SO](http://stackoverflow.com/questions/18441076/why-java-complains-about-jar-files-with-lots-of-entries)

[2013-08-26 09:54] #850 closed, assigned to nobody

[2013-08-26 12:08] harrah commented on #850
Thanks for following up on this.

[2013-08-26 12:32] ijuma commented on #850
The bug referenced says that the "Fix version" is Java 7 update 40 (out in mid September) so looks like we'll get it sooner than Java 8.

[2013-08-26 12:34] Rogach commented on #850
@ijuma - the resolution on that bug is "Duplicate", the [actual entry](http://bugs.sun.com/bugdatabase/view_bug.do?bug_id=2230132) about backport says "Won't Fix" (and something about that it's "too risky").

[2013-08-26 12:52] hsl43 commented on #321
i'm having the same problem.  my only workaround is to bump-up the version number of my library project, or do a brute-force delete of the artifact from the play repo cache.

Play 2.1.0
sbt 0.12.2

has anyone given/received an "official" update of the problem?  where does this stand with respects to being patched?

[2013-08-26 13:05] jlc commented on #321
Hi,

I still have this issue too, and forced to use the same workaround as @hsl43:
- either bump up the version number of the library which is deployed in the maven repository,
- or delete the local copy in the ivy cache (either in the play/repository/cache directory, or ~/.ivy/cache)

sbt 0.12.3 (and play 2.2.0-M1).

Can we help to resolve it? Do you need extra information?

[2013-08-26 14:38] ijuma commented on #850
You are right. My bad.

[2013-08-26 16:57] pfn commented on #853
When I set `scriptedBufferLog := false` this is the last thing I see:

[code]

[2013-08-26 18:11] harrah commented on #657
This line is no longer in 0.13 docs, so closing.

[2013-08-26 18:11] #657 closed, assigned to nobody

[2013-08-26 18:14] harrah commented on #659
If `wget` can't download it, it is unlikely to be an sbt problem.  The file downloads fine here.

[2013-08-26 18:14] #659 closed, assigned to nobody

[2013-08-26 18:17] harrah commented on #722
Per @jsuereth, please open against https://github.com/sbt/sbt-launcher-package/issues.

[2013-08-26 18:17] #722 closed, assigned to nobody

[2013-08-26 18:19] harrah commented on #753
Closing per discussion in #766.

[2013-08-26 18:19] #753 closed, assigned to nobody

[2013-08-26 18:23] harrah commented on #756
Closing, please reopen if reproducible.

[2013-08-26 18:28] harrah commented on #590
The best shot of this happening is probably https://github.com/adept-dm/adept.

[2013-08-26 18:34] harrah commented on #452
`changing()` is documented in the API docs and exists to provide access to the corresponding Ivy feature.  That documentation links to the Ivy documentation on that feature.  It is not typically needed by sbt users, only existing Ivy users, since `-SNAPSHOT` is automatically marked as changing.

[2013-08-26 18:34] #452 closed, assigned to nobody

[2013-08-26 18:38] harrah commented on #292
No reports since original fix attempt, so closing.

[2013-08-26 18:38] #292 closed, assigned to nobody

[2013-08-26 18:40] harrah commented on #385
Fixed by #845.

[2013-08-26 18:40] #385 closed, assigned to nobody

[2013-08-26 19:26] harrah commented on #534
sbt has to check whether it is in the global directory to know whether it should load global settings first.  The right way is to just set the global and ivy directories via the relevant system properties:  http://www.scala-sbt.org/0.13.0/docs/Detailed-Topics/Command-Line-Reference.html#command-line-options

[2013-08-26 19:26] #534 closed, assigned to nobody

[2013-08-26 21:04] paulp opened #856 "command line loses "++ version" in some argument orders"
[code]

[2013-08-28 20:19] LeifWarner opened #857 "Tuples of TaskKey / SettingKey of 12 or greater lack 'map' method"
This worked on SBT 0.12.4:
https://github.com/flyway/flyway/blob/master/flyway-sbt-plugin/src/main/scala/com/googlecode/flyway/sbt/FlywayPlugin.scala#L116
On SBT 0.13.0:

[code]

Did some experimentation: it seems to work as long as there are less than twelve keys tupled together.

[2013-08-28 20:39] LeifWarner commented on #857
Found some relevant-looking commits, like:
https://github.com/sbt/sbt/commit/07fd9ab57e629e2ce32dda982c7488990c92d12e
But then 12 and above are commented out. In the case of this plugin, the location I linked to has a tuple size of 15.

[2013-08-30 21:43] SethTisue commented on #829
this came up on IRC just now. did it slip your mind?

[2013-09-03 11:57] sauravshah opened #860 "Tests.setup not called when fork in Test is true"
I would assume that this is not the expected behavior and tripped me up for a day.

// Tests pass
testOptions in Test += Tests.Setup(() => System.setProperty("config.file", "path/to/conf/file")),
Keys.fork in Test := false

// Tests fails
testOptions in Test += Tests.Setup(() => System.setProperty("config.file", "path/to/conf/file")),
Keys.fork in Test := true

Can someone explain as to why the ab

[2013-09-03 21:09] fommil opened #861 "pomOnly transitive dependencies failing"
I've heard from [users of my library](https://github.com/scalanlp/breeze/commit/8241520a4e00eb5ecdfdf39d10104b345f23afc5#L3R65) that [the instructions](https://github.com/fommil/netlib-java)

[code]

do not work and some of the transitive libs are not being pulled in.

This works fine in Maven, so I think it's a bug in SBT :-(

[2013-09-04 00:12] jsuereth commented on #861
It's not pulling in the library because it's marked with scope "provided" on the dependency.   Ivy, IIRC, has an issue pulling in transitive provided dependencies.   E.g. Lombok is also announces as provided, and does not come.

This appears to be a relevant ivy issue: http://stackoverflow.com/questions/12204598/ivy-not-resolving-transitive-dependencies-from-public-maven-repos.

For your users, I

[2013-09-04 00:20] fommil commented on #861
@jsuereth thanks for the workaround!

Indeed, Lombok is supposed to remain compile-time only so is marked `provided`. However, the `arpack_combined_all` is **not** `provided`. But it's `javadoc` classifier **is** `provided` and that may be the cause of the bug (something somewhere is forgetting to keep track of the classifiers):

[code]

[2013-09-04 00:41] jsuereth commented on #861
Ah. Ivy is merging those two together when it does your "uber pom" and freaks out.   We should probably opena bug against ivy if it does not already exist.

Look at what ivy is resolving to it's `ivy.xml` from your core `pom.xml`:

[code]

You can see that it's lost any info about javadoc by this point.  I'm curious if you put the javadoc dependency above the non-javadoc one, if it fixes ivy.   In

[2013-09-04 00:46] fommil commented on #861
good stuff. I'll change the order for the snapshots and we'll see

[2013-09-04 09:26] ptrbrtz commented on #335
+1
This is not working for managed .git dependencies, having to delete .sbt/staging manually

[2013-09-04 14:03] ghost opened #862 "Getting-Started/Basic-Def.html incomplete"
In Getting-Started/Basic-Def.html there is section where you say

 and then

but taskKey hello is not yet created so reload doesn't work. I found out that I can create taskKey like

I think that info about creation hello task should also be on Basic-Def site.

[2013-09-05 14:03] ghost opened #863 "Getting-Started/More-About-Settings.html bad URL"
on More-About-Settings.html there is link to

but this page does not exists

[2013-09-05 19:59] harrah commented on #860
This was an implementation restriction in 0.12.x that was documented on the Testing page.  The restriction was lifted for 0.13.

[2013-09-05 19:59] #860 closed, assigned to nobody

[2013-09-06 13:00] Synesso opened #865 "Deploying to sonatype doco incorrect."
At http://www.scala-sbt.org/release/docs/Community/Using-Sonatype.html the sample setting for `publishTo` does not compile. See https://github.com/Synesso/eshq-client/commit/e9d89a65f7f94c1ebbd6622f27018598280df6a7 for the change I needed to make to get it to work for my project.

[2013-09-06 13:05] harrah commented on #865
Note that the current release is 0.13.0 and from your changes, it looks like you are on 0.12.x.  Instead of `.../release/...`, you can use `.../0.12.4/...` to look at 0.12 documentation.  (There is a drop down box with the version number on the left near the top.)

[2013-09-06 13:05] #865 closed, assigned to nobody

[2013-09-06 14:11] jsuereth opened #866 "New sbt 0.13 snazziness for += a task[T] to a setting[Seq[Task[T]]"
I'd love to be able to do the following:

[code]

Or some kind of equivalent.

[2013-09-06 17:21] vigdorchik commented on #628
I really like the suggestion. To generalize and make it more orthogonal, I think it should allow for the same functionality from interactive shell.

There needs to be a way to group a sequence of commands into a single command allowing for a whole-sequence dependency resolution.

[2013-09-07 16:21] ephe-meral commented on #335
+1
Agreed, update for GIT deps would be cool.

Another workaround is to identify which project needs updating and then do the "git pull ..." in the appropriate staging subdir manually.

[2013-09-09 04:49] etorreborre opened #868 "fork in Test := true doesn't run any tests with the new test interface"
You can checkout [specs2-test](https://github.com/etorreborre/specs2-test) and run one of the specifications with sbt 0.13:

[code]

This is ok, the results are displayed. But:

[code]

doesn't display anything

[2013-09-09 05:06] etorreborre commented on #868
Can it be related to [this fix](https://github.com/sbt/sbt/commit/c2df1e8d684900e3f262fd089d137c1eb0d7da83)? Does that suggest a workaround?

[2013-09-09 07:13] ijuma commented on #868
Somewhat related, I noticed that "fork in test" (note lowercase `test`) doesn't work in SBT 0.13 (that is, the tests are executed without forking). Just `fork` has the desired effect (although with less granular control). So, it seems like more than one issue has creeped up when it comes to this functionality.

[2013-09-09 18:08] kklipsch opened #869 "Odd classloader issue in tests with org.apache.xalan code."
In sbt 0.13.0 when using the built in java xslt transformer (javax.xml.transform.TransformerFactory) in a unit test (in this case using scalatest) you will get the following print to output "Warning:  The encoding 'UTF-8' is not supported by the Java runtime.".  Tracking this down, it appears that internally (in com.sun.org.apache.xml.internal.serializer.Encodings) the java transformer is looking

[2013-09-11 05:16] richdougherty opened #871 "Arrow keys do not work on Windows without -Dinput.encoding=Cp1252"
In Play we had some problems with sbt 0.13's command history on windows. This is because we set the `-Dfile.encoding=UTF-8` system property which interfered with JLine.

[code]

The fix required reading a bit of JLine 2 source code, but was pretty easy: add another property `-Dinput.encoding=Cp1252`.

Here's the Play issue: https://github.com/playframework/playframework/pull/1620

@jsuereth sugges

[2013-09-11 11:15] sblask opened #872 "update-classifiers does not download the sources of all dependencies"
I've got a project with several dependencies, a few of them have been developed in house. Building them works fine, but update-classifiers does only ever download sources and javadoc for one of these dependencies. The others are downloaded if I specify withSources() and withJavadoc() in build.sbt for them. However, they are still no included when using sbteclipse. As it does not work without withS

[2013-09-11 12:06] emrecelikten opened #873 "Documentation error in FAQ for disabling ANSI codes (sbt.log.format=false)"
Hello,

Hopefully this is the right place. In sbt FAQ, it has been said that to disable ANSI codes in the output, we need to supply -Dsbt.log.format=false.

The correct setting seems to be -Dsbt.log.noformat=true instead of the one above.

[2013-09-11 22:22] #755 closed, assigned to harrah

[2013-09-11 22:23] harrah commented on #755
Full testing on Windows is pending.  Windows users are invited to verify `run/test` succeeds.

[2013-09-11 22:28] harrah commented on #755
Also, Linux has limits on the total space allocated to a forked process that includes the environment.  This limits the upper size of the classpath to somewhere between 100k and 200k characters.  This can't be fixed without the more invasive ClassLoader fix used by IntelliJ or without `java` providing the argfile option like `javac`.

[2013-09-11 23:59] mdedetrich opened #874 "Issue with multiple projects using a macro"
The stackoverflow question is here http://stackoverflow.com/questions/18732362/issue-with-using-macros-in-sbt

For quick reference, these are the 2 projects with the issue (just clone them)

https://github.com/mdedetrich/projectacontainingmacro
https://github.com/mdedetrich/projectb

Compile and run a `publish-local` on `projectacontainingmacro`

Load `projectb`, and `run` it, you will notice a ru

[2013-09-12 03:22] jroper opened #875 "javac warnings are treated as errors if errors exist"
In SBT 0.13.0, enable java warnings:

[code]

And add the following source file:

[code]

It does of course, fail to compile, but the deprecation warning is reported as an error.  If you remove the compile error, it is correctly reported as a warning.

[2013-09-12 03:33] jroper commented on #875
This probably isn't technically limited to javac, but I can't work out a way to get scalac to emit warnings when a compile error exists, I suspect it doesn't.

[2013-09-12 03:47] jroper commented on #875
Ok, so looking at the source code, and looking at 0.12.x, I can see that it is specific to javac, and that this is the way it's always been in SBT, this is not a regression.

[2013-09-12 04:46] jroper commented on #875
Looking into this, it appears the only way we could provide this support is to do filtering on the javac output, applying hereustics to try and work out which messages should be logged at error and which at warn.  If everything's in English, it's not too bad, match ": error: " or ": warning: ", and if the current line starts with an indent, then log it at the same level as the previous line.  But

[2013-09-12 05:05] benmccann commented on #875
Hmm, this is a pretty frustrating bug. It means essentially that we can't turn on compilation warnings. Our code base has quite a few of them at the moment, so they completely overwhelm any errors. I'd like to turn on warnings, so that they get somewhat cleaned up over time. It would be nice if we at least supported English. If folks want to provide the translations for their own languages, it wou

[2013-09-12 12:47] harrah commented on #875
To confirm, @jroper's analysis is correct.  javac only sends errors/warnings to stderr, so there isn't a way to distinguish them without parsing the output.  Everything used to be logged as `[error]` until #74, which sends the output to `[warn]` if there are no errors.

[2013-09-12 12:54] harrah commented on #874
Please do not both post a StackOverflow question and open a bug simultaneously.

[2013-09-12 12:54] #874 closed, assigned to nobody

[2013-09-12 13:10] Blaisorblade opened #876 "`autoAPIMappings` doesn't work for libraries downloaded with 0.12"
From http://stackoverflow.com/questions/18747265/sbt-scaladoc-configuration-for-the-standard-library#comment27662147_18747265:

`autoAPIMappings` works because, during resolution, SBT 0.13 knows that "info.apiURL property is important and should be made into an extra attribute" (quoting @harrah). Older SBTs (and possibly other tools?) will store that property, but not make into an extra attribute.

[2013-09-12 13:10] Blaisorblade commented on #876
To complete the summary, here's @harrah's first assessment:

[2013-09-12 13:13] harrah commented on #876
Yes, the best hope is to interpret "m:properties__info.apiURL".  Fortunately, sbt doesn't actually need to use the information during dependency resolution, so the extra attribute part is not critical.

[2013-09-12 20:37] ebuchanan commented on #875
+1 this is making it nearly impossible to find errors in compilation output.  I end up having to redirect stderr to a file and manually grep it for "error", so if you could do that (at least for English) it would save me a lot of hassle.

[2013-09-13 12:50] vigdorchik commented on #755
Running run / daemon
Running run / daemon-exit
Running run / error
Running run / fork
Running run / fork-loader
Running run / spawn
Running run / spawn-exit
[success] Total time: 252 s, completed 13-Sep-2013 16:32:52

Running tests / arguments
Running tests / arguments-new
Running tests / do-not-discover
Running tests / done
Running tests / empty
Running tests / fork
Running tests / fork-uncaught

[2013-09-13 12:52] harrah commented on #755
Hey @vigdorchik, thanks for testing.  What I meant was the `test` task for the `run` project.  With the configuration explicit: `run/test:test`.

[2013-09-13 13:38] vigdorchik commented on #755
@harrah ah, that's faster:

[2013-09-13 13:39] harrah commented on #755
Great, thanks @vigdorchik!

[2013-09-14 03:46] #876 closed, assigned to harrah

[2013-09-14 18:28] nau commented on #413
Guys, any progress on this? We spend horrifying amount of time just resolving same hundred dependencies for each of 20 sub-projects. It can take 10 minutes to resolve the same artifacts that didn't change. I tired of hearing "Maven does it better" and hearing suggestions to move back to Maven.
Currently, for us, this is the most annoying, hence the most important issue. Please, help :)

[2013-09-16 12:39] harrah commented on #873
The FAQ is correct.  Please provide enough information to reproduce your problem, including the sbt version, expected output, actual output, etc...  See https://github.com/sbt/sbt/blob/0.13/CONTRIBUTING.md#new-issues.  Also, please use StackOverflow for questions.

[2013-09-16 12:39] #873 closed, assigned to nobody

[2013-09-16 12:41] harrah commented on #863
Yes, sxr needs to be updated to work with macros, so they can't be generated yet.

[2013-09-16 12:43] harrah commented on #851
That would not have the right precedence, nor the right associativity.  In any case, please use the [sbt-dev] mailing for proposals that do not come with a pull request.

[2013-09-16 12:43] #851 closed, assigned to nobody

[2013-09-16 16:00] #758 closed, assigned to harrah

[2013-09-18 13:54] NightRa commented on #862
Agree.

[2013-09-18 14:28] #862 closed, assigned to harrah

[2013-09-18 14:31] harrah commented on #853
This commit reworked handling of failed build definitions: 6755f2595b6dab5a586eea742c69bac2741866fd.  So, it might fix the problem as a side effect, but your problem might be a jline thing or something else.  (I haven't tried to reproduce yet, so I'm just commenting here in case it is fixed by this.)

[2013-09-18 15:48] mtomko commented on #728
We're seeing this, too. The project that declares withSources is using 0.13.0. It builds fine, but a downstream project, which uses Play (2.1.2), can't find the source jar and fails.

[2013-09-18 16:10] harrah commented on #728
Note that `withSources` is generally not recommended in 0.10+.  The IDE plugins use `updateClassifiers`, for example, and this can be used by other tasks/plugins that do similar things.  (This bug will still be fixed if possible.)

[2013-09-18 16:11] mtomko commented on #728
Thanks. It probably makes sense for our build to not directly call withSources then.

[2013-09-18 19:07] NightRa opened #878 "No explanation for .scala builds."
In the Starting Guide, in the last section, ".scala Build Definition", http://www.scala-sbt.org/0.13.0/docs/Getting-Started/Full-Def.html,
It's says just to copy the code and inspect what heppens.
It would be much more helpful to explain at least a little bit, what happens over there.
For example, what does the 'settings' value does, what's the 'root' parameter, ect.

[2013-09-21 12:44] hsn10 opened #880 "Arrow keys do not work in windows"
sbt 0.13

if you run sbt in cmd.exe console window in win xp, then using up/down arrow key to list through history in interactive sbt prompt do not works. It prints 2 characters on keypress.

[2013-09-21 13:36] xuwei-k commented on #880
please try to `-Dinput.encoding=Cp1252` #871

[2013-09-21 15:30] hsn10 commented on #880
yes. adding this to sbt/conf/sbtconfig.txt solved issue.

[2013-09-22 08:44] peter-fu commented on #823
+1

I got to this pull request from https://gist.github.com/jroper/6374383. I think this is the pull request of the "Scala incremental compiler improvements"? The result of the fix looks amazing!

Thanks!

[2013-09-22 12:37] metasim opened #881 "Broken documentation links in 0.13.0 docs."
1. Line 213 of http://www.scala-sbt.org/release/docs/Detailed-Topics/Scripts

   `http://www.scala-sbt.org/release/sxr/IvyConsole.scala.html`
2. Line 106 of http://www.scala-sbt.org/release/docs/Detailed-Topics/Testing.html

   `http://scalatest.org/`
3. Line 200 of http://www.scala-sbt.org/release/docs/Detailed-Topics/Forking.html

   `http://www.scala-sbt.org/release/api/sbt/Fork$.ForkJava.html`

[2013-09-22 13:23] xuwei-k commented on #881
duplicate? #863

[2013-09-22 17:47] #881 closed, assigned to harrah

[2013-09-22 17:48] harrah commented on #881
@metasim thanks for reporting.  The sxr link (the first link) is a duplicate of #863 as @xuwei-k indicates.  The ScalaTest link works for me.  The other two I fixed in the linked commit.

[2013-09-22 17:54] harrah commented on #880
@hsn10 Sorry for the trouble.  I spent a lot of time before the release trying to figure this out.  The workaround that @xuwei-k references is the best that can be done right now.  I believe it is ultimately a bug in JLine 2.x (previous sbt versions used 1.x), but have not come up with a patch for it yet.  If you are able to use cygwin and a non-cmd.exe terminal, that environment should work fine.

[2013-09-22 17:54] #880 closed, assigned to nobody

[2013-09-23 09:20] choedl opened #882 "Running the tests of subprojects sequentially does not work"
When running the tests of an aggregates subprojects, the setup methods are called immediately for all subprojects. See http://stackoverflow.com/questions/18895063/howto-run-forked-jvms-sequentially-when-testing for more information.

[2013-09-24 00:41] mackler opened #883 "Canonical Java "Hello World" program fails to run."
I recently posted [this question](http://stackoverflow.com/questions/18948387/why-does-sbt-not-detect-main-class-in-java-no-main-class-detected/18948861#18948861) on StackOverflow.  While the answer from Matthew Farwell seems to have solved my problem, you can see there is a comment from Mike Hurrah in which he says that the behavior I claim to be observing would be "a bug in sbt," and Matthew Far

[2013-09-24 09:25] choedl commented on #882
So I got my answer on stackoverflow, I had to set parallelExecution in Global := false. Should this be mentioned in the docs, or is this clear to everyone (except me)?

[2013-09-24 11:57] harrah commented on #882
I believe the original bug could be legitimate, although I haven't looked into it yet.  Setting `parallelExecution in Global := false` disables all parallelism in all tasks.  It is just a workaround.

[2013-09-24 15:36] #863 closed, assigned to harrah

[2013-09-25 08:27] gbougeard opened #886 "Cannot resolve https dependencies through proxy"
SBT 0.13.0

Hi,

I have a proxy set with the following env vars :
- http_proxy
- https_proxy
- ftp_proxy

In a build I use a github maven repo :

[code]

Sbt does not resolve the dependencies from this repo. I'm getting a time out. My sysadmin checked the connections through tcpdump and saw that sbt was not using the proxy while accessing https resources.

Here is the error.

[code]

Doing a wget

[2013-09-26 12:19] #842 closed, assigned to harrah

[2013-09-26 12:30] harrah opened #887 "Support compiling with a newer JDK version than the one running sbt"
The incremental compiler currently loads the class files compiled by javac in a class loader in the same jvm as the inc. compiler.  This prevents working with a newer classfile version than that of the inc. compiler's jvm, such as when forking javac for a user configured `javaHome`.  To remove this restriction likely requires a substantial rewrite of the Java handling code.

[2013-09-26 12:31] harrah commented on #842
Problem of using newer jdk version with an older jdk running sbt (via forking) moved to #887.

[2013-09-26 13:17] squid-lee opened #888 "Sbt adds colour codes even when output is redirected"
If you run something like 'sbt test', but pipe it into a file, the colour tags used for colouring text in the shell are not removed.

[2013-09-26 13:47] xuwei-k commented on #888
`-Dsbt.log.noformat=true`
http://www.scala-sbt.org/0.13.0/docs/Detailed-Topics/Command-Line-Reference.html#command-line-options

[2013-09-26 13:53] squid-lee commented on #888
I don't want to disable colour, I want sbt to be sensible enough to disable it when I'm piping its output somewhere, as for example grep does.

[2013-09-26 14:13] retronym opened #889 "complex refinement types can lead to hang in OutOfMemoryError during extraction"
As reported: https://groups.google.com/d/msg/scala-user/gPYnBOu4_Jo/c0zzbwV7j8QJ

[code]

[code]

[2013-09-26 14:17] retronym commented on #889
A workaround:

[code]

[2013-09-26 15:01] dotta commented on #756
Alright, I actually found a way to reproduce this! (Using sbt 0.13.0)
- Clone https://github.com/dotta/sbt-issue-756 and checkout commit https://github.com/dotta/sbt-issue-756/commit/ddc49b29df017c00a7384587d8fcfa31a0005a5a
- Start sbt console and then `~test`. Compilation should succeed.
- Apply this commit https://github.com/dotta/sbt-issue-756/commit/6c8ffef3a688197032b01205ab5ef4edf08fa318
- Y

[2013-09-26 15:22] harrah commented on #889
Related to #715 and possibly caused by #611, which was a fix for #610.

[2013-09-26 22:26] #883 closed, assigned to harrah

[2013-09-26 22:30] harrah commented on #888
The expected behavior is reasonable, but please specify enough information to reproduce.  See https://github.com/sbt/sbt/blob/0.13/CONTRIBUTING.md.

[2013-09-26 22:52] squid-lee commented on #888
Apologies for a crappy bug report. To reproduce, run some sbt command like 'test' which produces coloured output.
Do not use the repl, and redirect the output in to a text file e.g 'sbt test > /tmp/testOutput'.
/tmp/testOutput will now contain the escape codes normaly used for colouring text in the shell as well as the expected output of 'sbt test'.

[2013-09-26 23:00] harrah commented on #888
Thanks for the update.  I kind of expected you to say you were on windows, but I've reproduced on linux.  sbt gets its information from JLine and JLine shows the same behavior in its example application.

[2013-09-29 00:18] Blaisorblade opened #892 "SBT reload fails on SNAPSHOT which are republished locally *while SBT runs*"
I'm developing a SBT plugin and testing it by reloading in a project using it. The reload however fails, complaining about corruption of the plugin JAR file, and I must exit and re-enter the client SBT project; this happened with SBT 0.13.0 in the client, and 0.12.4 in the SBT used for development.

The first time, the client SBT complained that it can't find `sbt/sbt.plugins` within the JAR. But

[2013-09-29 02:25] mtgto commented on #413
I affected same problem in my project using sbt multi-modules (more than 10).
To solve this problem, I traced how HTTP requests called by sbt.
I found below remarkable situations:
- When I use **_SNAPSHOT VERSION library**_, sbt might access to the resolver _per every building of sub-projects_.
- sbt might not memory any HTTP response (include `404 Not Found`) on library resolution of another sub-

[2013-09-30 13:13] harrah commented on #660
Closing as a duplicate of #429.

[2013-09-30 13:13] #660 closed, assigned to jsuereth

[2013-09-30 13:16] harrah commented on #846
@adriaanm Is this still an issue?  If so, what needs to be changed?

[2013-09-30 14:47] harrah commented on #892
sbt is getting a `URL` from `ClassLoader.getResource` and then opening the stream for the returned URL.  So, this is problem with the Java standard library.  Directly overwriting jars in use by a class loader seems to cause issues in some cases.

[2013-09-30 14:47] #892 closed, assigned to nobody

[2013-09-30 17:03] adriaanm commented on #846
I think this particular issue can be closed. The main remaining work item is the scaladoc module.

[2013-09-30 17:03] #846 closed, assigned to nobody

[2013-09-30 17:24] harrah commented on #846
Ok, thanks Adriaan.

[2013-09-30 17:31] Blaisorblade commented on #892
I see — no workaround possible for SBT then? Since you closed, I assume not.

[2013-09-30 18:50] ritschwumm commented on #892
seems to be a known problem http://stackoverflow.com/questions/17060411/failed-to-load-resources-in-jar-file-when-jar-file-is-replaced

[2013-09-30 18:55] Blaisorblade commented on #892
@ritschwumm, thanks! One answer suggests that throwing away the classloader would help, which would make sense.
http://stackoverflow.com/a/17060732/53974

Is SBT reusing classloaders? Could they be thrown away on reload, at least if the underlying files changed timestamp (and/or it's a SNAPSHOT)?

[2013-09-30 22:40] harrah commented on #892
sbt doesn't reuse the plugin classloader, but it doesn't discard the old project until the new one has successfully loaded.  It will fall back on the old one if the new one fails and you select `(i)gnore`.

In general, sbt can cache/reuse class loaders, but it only currently does this for Scala jars, the loaders are behind `SoftReferences`, and it checks the last modified time before reusing the c

[2013-10-01 14:25] greenrd commented on #641
I am still experiencing this issue on sbt 0.13.0. Please reopen this issue. My dependencies look like this:

[code]

I can't remember why I had to specify the main dependency twice, but I had to, in the past.

[2013-10-01 14:39] greenrd commented on #641
Apologies - the problem was actually that sbt 0.13.0 now generates test jars with classifier "tests", not "test".

[2013-10-01 15:07] thomasschoeftner commented on #882
Unfortunately, that work-around does not do the trick for me either (using sbt 0.13.0).

After modifying Chris' gist (at https://gist.github.com/choedl/6634961) to `parallelExecution in Global := false` the Test-Setup tasks are still invoked for all aggregated sub-projects concurrently instead of sequentially.

[2013-10-01 15:26] randomstatistic opened #894 "scripted tests should not need to reference the plugin version"
sbt developers don't feel any pain here, because the sbt version _is_ the "plugin" version in question.
Other plugin authors have to resort to jumping through hoops though. Manually revving the version reference in each scripted test every time they rev their plugin version is the most common, but that's error prone and laborious. At least one project I've seen programmatically creates files that

[2013-10-01 15:31] jozic commented on #894
+1
as a workaround you can use `"latest.integration"` as plugin revision

[2013-10-01 15:33] harrah commented on #894
Please do not ask questions or start discussions in the issue tracker as described in [CONTRIBUTING](https://github.com/sbt/sbt/blob/0.13/CONTRIBUTING.md).  Use the mailing list [sbt-dev] for proposals/discussions or StackOverflow for questions.  This particular problem is covered in @eed3si9n's answer to this question: http://stackoverflow.com/questions/19102208/how-to-test-sbt-plugins.

[2013-10-01 15:33] #894 closed, assigned to nobody

[2013-10-02 08:02] jodyfanning opened #895 "Git source dependencies don't work on Windows"
Source dependencies from Git (at least) don't work on Windows because the relevant parent directories in staging are not created and Git will not clone the repository. This does work fine on Linux and MacOS, so this is a platform specific issue.

When fetching source dependencies they are put to staging under some hash named directory. The problem is that this hash named directory is not created f

[2013-10-02 13:14] #831 closed, assigned to harrah

[2013-10-02 15:32] harrah commented on #895
Thanks for the report.  A pull request would be welcome.  You've already identified the problem and came up with a workaround.  Applying it to the sbt codebase should be straightforward, but let me know if you run into any problems.

[2013-10-02 17:43] greenrd opened #896 "clean-all"
From the old Google Code issue tracker:

We need a way to clean all generated, downloaded, compiled, or otherwise derived artifacts.

http://stackoverflow.com/questions/4483230/an-easy-way-to-get-rid-of-anything-generated-by-sbt

[2013-10-02 23:39] #728 closed, assigned to harrah

[2013-10-02 23:40] harrah commented on #728
This fix is on the generation side.  The pom.xml was generated with an incorrect `<type>` element.  This fixes `makePom` to not do that.  As noted above, however, builds should generally not use `withSources` or `withJavadoc`.

[2013-10-03 14:58] #868 closed, assigned to harrah

[2013-10-03 14:58] harrah commented on #868
The problem is in the specs2 runner: https://github.com/etorreborre/specs2/blob/master/src/main/scala/org/specs2/runner/SbtRunner.scala#L56

The fingerprint that is provided to the framework is only guaranteed to be a SubclassFingerprint or AnnotatedFingerprint and not the exact subclass provided by the framework initially.  When not forking, it is the same one, but when forking, it isn't because

[2013-10-03 14:59] harrah commented on #868
@ijuma please open a separate issue for `fork in test`

[2013-10-03 16:26] evantill commented on #896
:+1: for example in maven a clean will clean all target directories

[2013-10-03 18:20] #805 closed, assigned to harrah

[2013-10-03 18:20] harrah commented on #805
The test case I came up with only failed because I put the snapshot repository after the stable one.  sbt configures Ivy to stop after the first resolver containing a matching module, so it is expected that Ivy stops at the stable one.

It is possible to configure Ivy to search all resolvers when using dynamic revisions/snapshots, but this will increase resolution time significantly.

However, it

[2013-10-04 04:54] jodyfanning commented on #895
Sure. It might take a week or two.

[2013-10-04 13:21] huntc opened #897 "onUnload is not called when sbt exits"
Ctrl-D, Ctrl-C, being killed etc. or just plain "exit" should cause the onUnload callback to be called - but it doesn't.

[2013-10-04 19:15] malaverdiere opened #898 "Sources from the main project creep into a subproject"
I have a project that depends on another. I have been using sbt publish-local in order to update the dependency, which stinks.

So I tried to switch to subprojects, but it didn't compile. I tried putting the dependencies of the build.sbt file into the Build.scala file, and it didn't change anything.

I am using SBT 0.13 with Scala 2.10.2

Original build.sbt (renamed as build._sbt to avoid conflict

[2013-10-05 02:14] etorreborre commented on #868
Ok, I fixed it. Thanks Mark.

[2013-10-05 17:18] harrah commented on #898
Thank for the extensive description of the problem.  You'll want to post a question like this on [StackOverflow](http://stackoverflow.com/tags/sbt).  If the problem is reduced to an sbt bug, then file an issue.  Thanks!

[2013-10-05 17:18] #898 closed, assigned to nobody

[2013-10-05 17:19] harrah commented on #897
Can you motiviate your use case/expectations more?  This behavior is by design, since a standard Java exit hook does what you want already.

Edit, clarification:  The standard Java shutdown hook is what would be necessary to provide this behavior consistently anyway.  At best, sbt would manage it for you, but it doesn't seem like existing `onUnload` usages need this (or they don't know they need i

[2013-10-05 17:19] #897 closed, assigned to nobody

[2013-10-05 17:22] harrah commented on #895
Great, that works, thanks!

[2013-10-05 17:26] huntc commented on #897
It would be nice to not have to factor out the code in unload to handle an extra case. My motivation can hopefully be conveyed by the use case here:

https://github.com/huntc/jslint-sbt-plugin/blob/master/src/main/scala/com/typesafe/sbt/jslint/Plugin.scala#L43

Failing to call unload can leave a process running in the background. This is not a terrible situation but I would prefer to avoid that fo

[2013-10-05 17:28] harrah commented on #896
This has been discussed on the mailing list before with the same conclusion as the linked StackOverflow question.  If you really want a clean cache, boot directory, and workspace, you don't need to rely on the build tool's clean.  You probably are already using build slaves that are based on an image: start them up from a fresh image instead.  Particular obstacles to the request functionality are

[2013-10-05 17:28] #896 closed, assigned to nobody

[2013-10-06 00:32] dpratt commented on #321
+1

This issue has caused my team to abandon the usage of Play and SBT. We have a large internal ecosystem of maven-built libraries, and our engineers cannot work on both a maven-based project and a play application at the same time.

[2013-10-06 06:53] greenrd commented on #321
@harrah @jsuereth Are you watching this thread? See complaints above.

[2013-10-06 06:54] diwa-zz commented on #413
+1 for a solution
We have a play application split into multiple projects and encounter this behavior all the time

[2013-10-07 08:18] evantill commented on #896
@harrah on a simple sbt build of "my-project" the directories are

my-project/
  -- build.sbt
  -- src/
  -- target/
  -- project/
        --  build.properties
        --  SomeOtherCoolStuff.scala
        -- target/

How to clean with one command my-project/target and my-project/project/target ?
Is aggregation a solution ?

[2013-10-07 08:19] khellang commented on #321
+1

[2013-10-07 08:35] jlc commented on #321
It is true that this issue is opened since 2 years and no one seem to care.

SBT based project (such as Play) loose their attraction to develop with if we cannot import libraries coming from the maven world. This is especially true for large project since maven is still the standard. (cf. @dpratt 's comment).

Currently, as we are using Play, the _only_ solution available is to erase the cache in

[2013-10-07 11:07] jsuereth commented on #321
This Is actually a fundamental issue between ivy and maven.  The primary
issue is that a maven local cachr isn't really a maven repository (at least
the variants that ivy expect do not hold true), so adding the maven local
repo for resolution is an easy way to corrupt the ivy cache.

Besides ousting ivy (something we've been seriously considering), I'm not
sure there's an alternative solution we c

[2013-10-07 11:37] jsuereth commented on #896
Try  `reboot full` on the comamnd line to reload even the build files.   The reason why is that the clean task is _defined_ in the classes in project/target, which is defined using classes in project/project/target.   The only way to truly clean house is to reboot full, which can break other running sbt instances, since jar files will disappear from the filesystem.

I'd recommend trying out `reboo

[2013-10-07 12:12] harrah commented on #896
`reboot full` doesn't clean `project/target/`.  It clears the boot directory only, although that can trigger some selective cleaning of `project/target`.  As @jsuereth and I said, `clean` cannot delete the jars that define the classes with the code that is running `clean`, so it cannot delete `target/`.  In general, this is not needed anyway  If you need a fresh CI checkout, just do a fresh clone

[2013-10-07 16:21] absurdhero commented on #321
Is there a corresponding ivy ticket that the ivy team uses to track this problem?

Ivy's issue tracker is at https://issues.apache.org/jira/browse/IVY . IVY-1221 looks like one piece of the puzzle but may only address a more specific issue of handling SNAPSHOT versions with different classifiers or file extensions.

[2013-10-07 16:58] felipegs commented on #321
Are there any way to not cache the dependency?

[2013-10-07 17:01] dpratt commented on #321
@jsuereth - without transforming this thread into a (very unpleasant and irrelevant) Ivy/Maven religious war, how serious are you guys about switching to Aether instead of Ivy? I know that moving would cause things to be drastically simpler for both myself and likely for a lot of the folks building things like IDE integration (for example).

[2013-10-07 20:59] jsuereth commented on #321
@dpratt I'd say we're very very serious about getting rid of Ivy.   There's more than one option on the table.  At this point, we're not positive of the final solution.  There are a few "requirements" on the table we want to make sure are met by whatever we move to.  Seamless integration with maven is but one of them.  THe other is seamless integration with our existing ecosystem, which is lacking

[2013-10-07 21:03] jsuereth commented on #321
@felipegs AFAIK no.  Ivy first downloads artifacts into its cache, then exposes the files for sbt to use.   A lot of work sbt has done with Ivy has been around improving the cache via turning off features or tweaking settings to try to keep it stable.

[2013-10-07 21:21] harrah commented on #898
Thanks for posting on StackOverflow (for the record: http://stackoverflow.com/q/19234907/850196).  I didn't notice that you had an extensive chat on #sbt where you were referred here to submit a bug.  Sorry about that.  Please feel free to indicate you were referred here after discussing your issue on irc.

[2013-10-07 23:46] harrah commented on #897
I agree the process should be killed.  The problem is that `onUnload` is not a good match for this.  State itself isn't side effecting- it is interpreted by the State processor (the command system).  You could request that a shutdown hook get added, but it wouldn't happen until the end of the current command/task and the system might shutdown before then.  What you'd probably want to do is:
1. def

[2013-10-08 15:20] harrah opened #899 "incorrect implicit resolution for `join` on `Seq[Initialize[Task[T]]]`"
`Seq[Initialize[Task[T]].join` resolves to `Seq[Initialize[S]].join` for `S=Task[T]` resulting in `Initialize[Seq[Task[T]]]` instead of `Initialize[Task[Seq[T]]]`.

[2013-10-08 19:24] harrah commented on #861
This is a bug in Ivy's support for dependencyManagement, similar to this bug but for classifiers: https://issues.apache.org/jira/browse/IVY-974.  It isn't something that can be worked around in sbt, unfortunately.

[2013-10-08 19:24] #861 closed, assigned to nobody

[2013-10-08 19:27] harrah commented on #872
`withSources` and `withJavadoc` are not recommended and they aren't used by the IDE plugins.  Please use StackOverflow to ask questions though.  If there is an underlying bug identified, this issue can be reopened.  Thanks!

[2013-10-08 19:27] #872 closed, assigned to nobody

[2013-10-08 20:12] harrah commented on #869
On both Java 7 and Java 8, this gives me the error "Premature end of file.", which presumably is due to `xsltString` being empty.  Please use StackOverflow for questions and if a bug is identified, this issue can be reopened.  Thanks!

[2013-10-08 20:12] #869 closed, assigned to nobody

[2013-10-08 20:15] harrah commented on #849
See http://www.scala-sbt.org/release/docs/Detailed-Topics/Library-Management.html#ivy-file-dependency-configuration.  If you think there is a documentation issue here, a pull request or comment would be welcome.

[2013-10-08 20:15] #849 closed, assigned to nobody

[2013-10-08 20:15] harrah commented on #849
Also, thank you for the reproducible example.

[2013-10-08 20:38] harrah commented on #505
Works in Scala 2.10, can't workaround on sbt side due to REPL trapping the exception.

[2013-10-08 20:38] #505 closed, assigned to nobody

[2013-10-08 20:43] harrah commented on #358
As of 0.13.0, sbt uses `java` for all classes and does not put the Scala libraries onto the boot classpath by default.

[2013-10-08 20:43] #358 closed, assigned to harrah

[2013-10-08 21:01] harrah commented on #622
As of 0.13, the situation in 1 won't happen by default because sbt will generate an error when cross-versions are mixed.  Also, because Scala is treated as a normal dependency now, the Scala version retrieved because of 3 should be 2.10.1.  In light of this, I believe this can be closed.  Please comment if you disagree and I'll reopen.

[2013-10-08 21:01] #622 closed, assigned to harrah

[2013-10-08 21:31] adriaanm commented on #622
Agreed.

[2013-10-08 22:19] fommil commented on #861
meh. I worked around it on my side, poo poo to ivy.

[2013-10-08 22:41] #886 closed, assigned to harrah

[2013-10-09 13:31] harrah commented on #630
@xuwei-k what do you think?  Look for an extension as well, like something.test?

[2013-10-09 14:32] eed3si9n commented on #819
I'm assigning this to myself. If we were to deprecate String -> ProcessBuilder, do we have to go through the `@deprecated` cycle in 0.14?

[2013-10-09 14:40] sblask commented on #872
I still have problems with this issue, but I do have a workaround, after having used withSources() and withJavadoc() once and then removed them from build.sbt, subsequent calls to update-classifiers do download sources and docs in case they have been updated. But only for dependencies with already downloaded sources/docs. So when new dependencies are added, withSources() and withJavadoc() have to

[2013-10-09 15:05] harrah commented on #819
Thanks for taking this.  Yes, we can't have `"asdf".!` break without a deprecation cycle.  However, if `"asdf".lines` doesn't even work right now, that can probably just be removed, for example.

[2013-10-09 15:06] harrah commented on #872
If you can reproduce the problem with 0.13.0, that would be great.

[2013-10-09 15:23] frant-hartm commented on #321
As a workaround for this bug I am using play2-maven-plugin (http://nanoko-project.github.io/maven-play2-plugin/maven/release/). It works nicely with Intellij IDEA and I don't need to run play idea everytime there is a change. Also simplifies things when running on jenkins.

[2013-10-09 16:07] sblask commented on #872
We still rely on incompatible plugins, but as soon as we do the switch, I can give an update.

[2013-10-09 16:18] harrah commented on #872
Great, thanks.  If these are public plugins, perhaps we can help update them.

[2013-10-11 07:31] khellang commented on #321
Awesome job, @harrah! :smile: Is there anything that needs to be done in regards to our resolvers for this workaround to take effect?

[2013-10-11 20:15] benmccann opened #911 "Allow running of single junit test"
I'm often frustrated that I cannot run a single unit test method. sbt's test-only will let you run a single junit class, but not a single junit method.

It's possible to run a single junit method in the other JVM build systems that I've used. E.g.
[mvn -Dtest=TestCircle#xyz test](http://stackoverflow.com/questions/1873995/run-a-single-test-method-with-maven)
[grails test-app -unit YourController.t

[2013-10-13 21:25] SamJoan commented on #911
:+1:

[2013-10-14 00:12] etorreborre opened #914 ""not found: value InputWrapper" when using the value of a setting"
In a `build.scala` file, I have:

[code]

This fails to compile with `not found: value InputWrapper` which I guess comes from a macro implementation.

[2013-10-14 08:26] SethTisue commented on #819
hooray for deprecating the String -> ProcessBuilder implicit

[2013-10-14 14:25] harrah commented on #914
Thanks for the test case.  This should of course provide a better error message, but note that `dependsOn` is just for depending on other internal Projects and not external binary dependencies.  Those use `libraryDependencies += ...`.   I'm not sure why scalac gives this error message yet (InputWrapper is on the classpath), but the expected error message is something like "'value' can only be used

[2013-10-14 16:14] harrah commented on #321
@khellang This workaround will be enabled by default in 0.13.1 for all Maven repositories that have a base URL with the file protocol (basically, all local Maven repositories).

[2013-10-14 21:37] wsargent commented on #911
This can be done, but it is implementation specific to the test framework, i.e. from http://etorreborre.github.io/specs2/guide/org.specs2.guide.Runners.html

[code]

[2013-10-14 21:42] SamJoan commented on #911
Don't really understand :P maybe we should include like a default spec that runs only the test that is specified on the parameters?

sorry, should've added a noob warning :P

[2013-10-14 22:42] etorreborre commented on #914
Yes, I realized that very shortly after I tried to use `dependsOn` this way. I was [driven by](https://groups.google.com/forum/#!topic/scala-melb/AvFg2uvDevI):

[code]

I just reported this because I thought that the compiler message was not very helpful. The one you propose would be much better!

[2013-10-14 22:53] harrah commented on #914
Yes, I definitely appreciate the report.  You can see the expected, existing error message by using `.value` pretty much anywhere else it isn't allowed.  For example, `def x = scalazVersion.value`.  For some reason (perhaps an implicit search, the repeated parameters, or something else I haven't isolated yet), scalac fails internally with the reported message in this specific case.

[2013-10-15 15:15] cdow opened #916 "Search on 'scala-sbt.org' produces inconsistent results"
I believe that the `scala-sbt.org` is not fully indexed by google.  As a result, searches on this site frequently are missing results.  For example, if I do a search for `input tasks` from the home page go to a google search page for `input tasks site:http://www.scala-sbt.org/0.13.0/docs/`. I would expect to get a link to `http://www.scala-sbt.org/0.13.0/docs/Extending/Input-Tasks.html` but I only

[2013-10-15 16:33] harrah commented on #911
Everything following the `--` is passed to the test framework (in this case, specs2) as arguments.  These are interpreted by the test framework.  The link in @wsargent's comment describes how specs2 interprets them.  In this case, it provides a way to specify a specific test.

The general enhancement of running a single test "natively" via sbt syntax was one reason for the new test interface that

[2013-10-15 18:26] SethTisue commented on #754
this'd be great. I often run into people who aren't aware this is recommended practice. there are also people who are aware, but never quite get around to adding the version, and a nudge from a warning would help.

[2013-10-15 18:29] SethTisue commented on #888
+1 on an eventual fix — remembering the noformat syntax sends me running to Google every time.

this relates to #840, in a "play nice in the Unix world" kind of way

[2013-10-15 19:21] Blaisorblade commented on #840
Redirecting stderr to /dev/null sounds like a bad idea in 99% of cases. But IIUC, the "seeing only errors" use case — the one I'd prefer for continuous integration — would be supported through the other issue (#806), which is fine. But please correct my understanding if wrong.

[2013-10-16 13:30] justjoheinz opened #920 "Provide standard task to list transient dependencies"
When using play, there is a standard task to list all transient dependencies for a project together with the information of the which dependency pulled the other one.

This is extremely useful when trying to debug "errors" which sbt 0.13.0 introduced since it better checks the versioning of scala jars.

Please make the play task available to sbt by default.

[2013-10-16 14:11] zavg commented on #847
The sbt 0.13.0 is still depends on ivy 2.3.0-rc1, which, for example, consists critical bug [[IVY-1378]](https://issues.apache.org/jira/browse/IVY-1378) which does not allow run sbt on Windows if the name of current user contains some non-ascii characters (Umlauts, cyrillic symbols, etc.)

[2013-10-16 15:00] schmmd opened #921 "Provide link on documentation page to source in GitHub"
It took me a while to find where the documentation was in the GitHub repository.  A small overhead here will prevent people from fixing mistakes and rewording confusing passages.  I had to search for where the documentation was stored and didn't find the answer (in the same repo as the sbt code) until I went to the front page of the documentation and read through it.  After that, I had trouble fin

[2013-10-16 15:22] kklipsch opened #922 "Odd classloader issue in tests with org.apache.xalan code."
This is an update for #869

In sbt 0.13.0 when using the built in java xslt transformer (javax.xml.transform.TransformerFactory) in a unit test (in this case using scalatest) you will get the following print to output "Warning: The encoding 'UTF-8' is not supported by the Java runtime.". Tracking this down, it appears that internally (in com.sun.org.apache.xml.internal.serializer.Encodings) the ja

[2013-10-16 23:28] #921 closed, assigned to harrah

[2013-10-17 09:58] piotrga opened #923 "Incremental compilation recompiles all the files every time"
This is what I do:
1. clean
2. compile
3. compile

No. 3 recompiles all the sources, even though I haven't touched the files.
I am on scala 2.10.2, sbt 0.13.0 (but it happens on the 0.12.4 and 0.13.Beta2 too)

See my build.sbt:

[code]

And this is the sbt log when I do the step 3 (so the sources are fully compiled by this time):

[code]

[2013-10-17 10:15] gkossakowski commented on #923
Hi,

I believe the culprit is first few lines line:

[code]

Not how first set of files uses fully qualified paths and the other doesn't. Are you running using some uncommon filesystem setup (e.g. are symlinks or network file system involved)?

[2013-10-17 10:17] piotrga commented on #923
It is on the freaking win7, so no symlinks I suppose...
I've overwritten the default source path though... maybe that's it... I'll give it a try!

[2013-10-17 10:23] piotrga commented on #923
that was it!:
scalaSource in Compile := file( "main" )

Now how do we go about it - I dont want everybody to hate me for changing the project directory structure. And this is clearly an oversight in the guts of sbt... :)

[2013-10-17 10:27] gkossakowski commented on #923
it's an oversight because we probably should always convert all paths to canonical from. @harrah, can you confirm if this is true?

However, you can easily work-around your problem by saying `scalaSource in Compile := file(baseDirectory.value / "main" )` which will make scalaSource to use absolute path again.

[2013-10-17 10:30] piotrga commented on #923
Thank you Grzegorz - this worked!:)

You dont need the `file` bit:
`scalaSource in Compile := baseDirectory.value / "main"`

[2013-10-17 12:35] harrah commented on #923
We do not convert relative paths because we don't have the information about the base directory.  The current working directory is not the right one to use because that can change.  At best, we can generate an error or provide some wrapper macro `absFile(rel: String) = baseDirectory.value / rel` (that only works in settings).  See also https://groups.google.com/d/msg/simple-build-tool/w7hHi-eAn9c/

[2013-10-17 12:44] gkossakowski commented on #923
What about generating a runtime error whenever we see relative file like in the example above?

[2013-10-17 12:52] harrah commented on #923
Yeah, that's what I meant by generating an error.  The problem is you have to insert that check a bunch of places.  Since this particular failure mode seems somewhat common, putting them in for sources might be a good start.

[2013-10-17 19:02] #916 closed, assigned to harrah

[2013-10-17 19:08] harrah commented on #916
Main part of interest is the sitemap entry configuration: https://github.com/sbt/sbt/commit/d6ca66d406489f26b30b63f4fd2340a5f27815a4#diff-170be026a5135129106da5a2647fb963R113

[2013-10-18 13:22] harrah commented on #234
Added back in 8bc0e5ab26b6bb2869714353a151ec2c694a3dd1, page is http://www.scala-sbt.org/release/docs/Howto/defaultpaths.html.

[2013-10-18 13:22] #234 closed, assigned to harrah

[2013-10-18 14:23] cdow commented on #916
Thanks!

[2013-10-18 20:48] harrah commented on #914
This is a Scala bug, covered by https://issues.scala-lang.org/browse/SI-7519.  At least, @retronym's fix also fixes this.

[2013-10-18 20:48] #914 closed, assigned to harrah

[2013-10-21 01:13] harrah commented on #819
Fixed by #913.

[2013-10-21 01:13] #819 closed, assigned to eed3si9n

[2013-10-21 16:05] dilbert69 commented on #413
+1 for a solution
We also have a small play application split into multiple small projects ... this gets especially annoying when fixing small issues in short iterations ... seems not too many people face this issue

[2013-10-22 12:51] Sciss opened #929 "Modules were resolved with conflicting cross-version suffixes (databinder dispatch)"
I have done a fresh clone of the repository. Trying to build, I get the following error:

[code]

[2013-10-23 10:42] piotrga opened #932 "dependencyClasspath doesn't seem to be transitive"
I am using eclipse .classpath file to tell sbt where the dependecies are.
I do it by parsing .classpath and appending the jars to the dependencyClasspath key in sbt.
`dependencyClasspath in Compile ++= EclipseProject.classpath(baseDirectory.value, "lib").classpath`

The problem I have is that this dependencies dont seem to be transitive, so if I have `moduleX dependsOn moduleY` the moduleY doesnt

[2013-10-23 13:57] harrah commented on #932
`dependencyClasspath` is the fully assembled dependency classpath.  Please use StackOverflow for questions: https://github.com/sbt/sbt/blob/0.13/CONTRIBUTING.md.

[2013-10-23 13:57] #932 closed, assigned to nobody

[2013-10-23 13:58] harrah commented on #929
No one else has reported this and there is CI run on every commit and nightly.  It is likely something specific with your setup.  Please use StackOverflow for questions: https://github.com/sbt/sbt/blob/0.13/CONTRIBUTING.md.  If there is an actual issue, this can be reopened.

[2013-10-23 13:58] #929 closed, assigned to nobody

[2013-10-23 14:00] Sciss commented on #929
Well, I don't have a specific setup. I did a fresh clone and ran `sbt compile` where sbt = standard sbt 0.13.0 install. Whatever.

[2013-10-23 14:14] gseitz opened #933 "Aliases with semicolons can cause a StackOverflowError"
Aliases are prone to `StackOverflowError`s given these conditions:
1. The value starts with a semicolon
2. The alias is a prefix of a command/task on the RHS

The following aliases reproduce this issue:
- `alias cl=;clean`
- `alias co=;clean;compile`

Here's a transcipt of an sbt-0.13.0 session:

[code]

[2013-10-23 17:48] benjyw opened #934 "Merge AnalysisFormats into InternedAnalysisFormats"
AnalysisFormats is deprecated, and going away entirely in 0.14. Its replacement, InternedAnalysisFormats, uses some definitions from AnalysisFormat. Those definitions must be copied over to InternedAnalysisFormats prior to deleting AnalysisFormats.

[2013-10-24 20:35] #806 closed, assigned to harrah

[2013-10-25 12:55] bantonsson opened #937 "Large number of open files while running all tests in Akka project"
Hi,

I made a snapshot using lsof somewhere past the halfway mark during the Akka testsuite and this is what I found.
- 1862 open files
- 440 of them are jar files (that's our fault) :wink:
- 598 of them with test output `.../out`
- 762 of them are `.../export` files
- The rest are some `.so` files and pipes

An example of the 17 `.../export` files for akka-actor:

[code]

[2013-10-25 17:01] timperrett commented on #828
+1

[2013-10-25 17:10] jozic commented on #828
+1

[2013-10-26 12:46] sandys opened #938 "Failed compilation in case of dependsOn/RootProject w/ crossScalaVersions if scalaVersion is marked for a different version"
I'm trying to pull Casbah (https://github.com/mongodb/casbah/blob/master/project/CasbahBuild.scala) in my project as a dependency. My build.scala is here https://gist.github.com/sandys/7169065

When I try to build my project, it fails with "[warn]   ::::::::::::::::::::::::::::::::::::::::::::::
sbt.ResolveException: unresolved dependency: org.mongodb#casbah_2.9.2;2.7.0-SNAPSHOT: not found"

When

[2013-10-28 11:56] harrah commented on #938
Please use StackOverflow for questions.  See https://github.com/sbt/sbt/blob/0.13/CONTRIBUTING.md.

[2013-10-28 11:56] #938 closed, assigned to nobody

[2013-10-29 03:21] taylorleese commented on #653
I seem to be getting this error with sbt 0.13.0.

[code]

[2013-10-31 17:49] tvw opened #942 "reasonable argument parsing missing"
I installed sbt manually as explained in the docs.

What I at least expect from a command line tool I don't know, is:

that it responds to

  $ sbt -help

and

  $ sbt -version

and that it evaluates the arguments it gets and dies with an error message, when they are not reasonable.

What I do not expect: that it downloads and creates files no matter what the input was and that it does not inform

[2013-11-01 09:19] ngocdaothanh opened #944 "Add option preserveExecutable to IO.copyFile and IO.copyDirectory"
As I understand correctly, they have option `preserveLastModified`, but no `preserveExecutable`.

I can modify and send a pull request if you want. Please let me know.

Use case:

I am creating this SBT plugin:
https://github.com/ngocdaothanh/xitrum-package

For example, it allows users to copy `bin/start.sh` to `target/xitrum/bin/start.sh`. But because there's no `preserveExecutable` option, the

[2013-11-02 19:08] awhitford opened #947 "Project Metadata documentation has errors"
I noticed that there are a couple of bugs with the [Project Metadata](http://www.scala-sbt.org/release/docs/Howto/metadata.html) page:

Specifically, it mentions:

[code]

But that doesn't work...  Needs to be something like:

[code]

And also, this doesn't work:

[code]

Needs to be something like:

[code]

[2013-11-03 23:12] retronym commented on #937
@harrah  mentioned:

[2013-11-04 02:09] jroper commented on #937
On Play, we fork most of our tests, but right now with SBT 0.13, SBT is hanging.  Here are the open files at the point that SBT is hanging:
- Total: 1328
- Jar files: 504 (of which 184 are sbt related)
- Export files: 497
- Out files: 295

SBT hangs because server.accept() call made in ForkTest.scala is throwing an exception, which is caused by this JDK bug:

https://bugs.openjdk.java.net/browse/J

[2013-11-04 02:20] jroper commented on #937
We can work around this by building Play with JDK 6.  This work around won't last though because we want to build with JDK7 - you get pretty javadocs that way.

[2013-11-04 07:53] retronym commented on #937
Looks like the fix will be in the next JDK7 release, too: https://bugs.openjdk.java.net/browse/JDK-8023403

[2013-11-04 08:00] bantonsson commented on #937
@retronym So the `testListeners in (Test,test) := Nil` workaround effectively silence all test output. Maybe not a real workaround.

[2013-11-04 08:32] bantonsson commented on #937
So doing this instead seems to do the trick `testListeners in (Test, test) := Seq(TestLogger(streams.value.log, {_ => streams.value.log }, logBuffered.value))`

[2013-11-04 13:18] n8han commented on #499
I'm running into this problem when using the 0.13.0 launcher to resolve an app artifact that, transitively, depends on the dreaded "orbit" artifact from [this launchconfig](https://github.com/n8han/pamflet/blob/beta/src/main/conscript/pf/launchconfig). Doesn't seem like the fix to sbt applies to its launcher.

Any ideas?

[2013-11-04 14:08] harrah commented on #499
You're right, it doesn't apply to the launcher.  The complicated workarounds required for issues like this don't get applied to the launcher for various reasons.  You can open a separate bug or a bug for unifying the sbt-side Ivy support with the launcher's.  Honestly, I'm not sure either of those will happen anytime soon.  If the issue is fixed by upgrading to the latest Ivy, it might be covered

[2013-11-04 14:13] n8han commented on #499
I found a workaround: https://github.com/n8han/pamflet/commit/71f542c6ebb7dd77a29ae3fe42c57ee4905b7efc

:)

[2013-11-04 14:22] harrah commented on #499
Ok, great.  Sorry for the trouble.

[2013-11-04 14:31] harrah commented on #947
Thanks for reporting.  Please feel free to fix by submitting a pull request!

[2013-11-04 14:43] harrah commented on #944
Yes, that would be great, thanks.  I thought there was already an issue open for this, but I couldn't find it.  Please make sure it is source compatible.  To get into 0.13.x, it would also have to be binary compatible, but that is up to you.

[2013-11-04 14:51] harrah commented on #653
@taylorleese certainly it is a bug, but it is unlikely to have the same cause and warrants a separate issue.  Unfortunately, I'd need a test case.  sbt 0.13.1 might help pinpoint the problem with more logging, but I don't know if it will do anything at this point in execution.  (0.13.1-RC1 had some issues so it wasn't announced- RC2 will be out this week.)

[2013-11-04 19:27] harrah commented on #937
These workarounds are a little risky but I think they should be ok.  They should reduce the contribution to total open files from the test-logging and export categories.  A full fix is a lot more work; hopefully this will suffice for a while.

[2013-11-04 20:26] bantonsson commented on #937
Thanks @harrah. The close `export` code is almost identical to the code I have locally, minus the cleanup. At least I'm not barking up the wrong tree.

[2013-11-04 23:46] adriaanm opened #951 "log level label is level, not log-level in Detailed-Topics/Launcher.html #documentation"
[code]

works, but the [docs](http://www.scala-sbt.org/0.13.0/docs/Detailed-Topics/Launcher.html) say the label should be `log-level`

[2013-11-04 23:57] SethTisue opened #952 "`lazy val` won't compile within task definitions"
so e.g. (with sbt 0.13):

[code]

I feel like this must be a known problem... in fact, I even feel like I remember hearing Mark talk about it... but I can't find a ticket.

if I slap a type annotation on it:

[code]

then the error changes:

[code]

[2013-11-06 08:19] ngocdaothanh commented on #944
Please review my pull request.
preserveExecutable is true by default.
I guess it's not binary compatible?

[2013-11-06 10:39] gkossakowski opened #958 "Default ClassfileManager doesn't recover from partially successful compilation results"
Let's assume that `incOptions := sbt.inc.IncOptions.Default` which means we are using default compiler options. Let's start with these sources:

[code]

and compile them. Then let's comment out `initialized` method:

[code]

and try to compile. The incremental compiler will compile `A.scala` first, then it will try to recompile `B.scala` and it will fail. The error will get reported as expected. N

[2013-11-06 12:30] #951 closed, assigned to harrah

[2013-11-06 12:31] harrah commented on #944
Merged in 1e61b9acf34b7d89a54a5adc021cc37cd3ecd0ef.  Thanks!

[2013-11-06 12:31] #944 closed, assigned to nobody

[2013-11-06 15:21] harrah commented on #958
It seems to me that the problem is that A's class file does not correspond to A.scala's hash.  I will have to look at the code, but if the check is `currentClassFile.lastModified != cachedLastModified`, it would detect that the class file is different.  I believe the check is actually `currentClassFile.lastModified >= cachedLastModified`, though.  Changing it to `!=` would fix the problem.

[2013-11-06 16:21] gkossakowski commented on #958
Are you talking about [this](https://github.com/sbt/sbt/blob/0.13/compile/inc/src/main/scala/sbt/inc/Incremental.scala#L170) line:

[code]

I believe it uses [this](https://github.com/sbt/sbt/blob/0.13/compile/inc/src/main/scala/sbt/inc/Stamp.scala#L71) Equiv instance:

[code]

I don't know why this logic do not invalidate those products then.

[2013-11-06 17:02] harrah commented on #958
Yes, that's what I mean.  There are two possibilities that I can think of.  One is that the resolution of last modified is `1 s` on linux.  Doing two quick compiles can mean that the last modified time is the same.  This would typically only be the case in an automated test case.  You can put a sleep in the scripted test to check or change the Stamp implementation to be Hash based.  The other poss

[2013-11-07 03:58] jroper commented on #937
I've tested this with play, it solves the problem for us (at least until our build gets bigger and we exceed 1024 open files again...)

[2013-11-07 13:38] gkossakowski commented on #958
You are right that class files use Exists Stamp, see:

[code]

Do you think it would be safe to switch to last-modified stamps?

[2013-11-07 13:56] harrah commented on #958
Yes and no.  I think `Exists < LastModified < Hash` in terms of accuracy and you can always go to the more accurate one.  I don't know whether an existence check is less expensive than a last modified check (and that could matter given the large number of class files).  If users are overwriting class files as part of their build, a last modified check will cause things to be recompiled every time.

[2013-11-07 14:27] gkossakowski commented on #958
I just tried

[code]

All tests still pass and this issue is being fixed. I agree that both performance might be a concern. As far as I can see products Stamps are not cached. Could it be that they are recalculated for every iteration of incremental compiler?

Also, I agree that LastModified might have unfortunate effect of introducing more recompilations triggered by external tools (e.g. IDE) ove

[2013-11-07 14:35] harrah commented on #958
If last modified might be a performance concern, hashing is definitely one.  Hashing would have the same problem- if you overwrite the class file, the hash would change.  I think we can fall back on our ideal inc. compiler definition where the outputs should be the same as if you had done a full compilation.  A full compilation would overwrite those class files.

[2013-11-07 15:34] gkossakowski commented on #958
I was thinking that hashing would help us with scenario where you use sbt and IDE at the same time. You hit save in IDE and sources are recompiled. Then you switch to sbt and run `compile`. All products have the right hash (corresponding to source file) but I forgot that since Analysis is not shared sbt's Analysis won't "know" about updated hashes and recompile anyway.

Therefore I agree that Last

[2013-11-07 15:34] GlenKPeterson opened #963 "Specifying -java-home at command line works in some cases, but not in all."
SBT is awesome, but I seem to have to change my path to point to my preferred JDK in some cases.

**Desired behavior**
SBT uses -java-home if specified

**Actual behavior**
Specifying -java-home works in some cases, but not in all.

**Evidence**

That worked as expected.  Then I made the following change to my build.sbt file (commented out 2 lines, added 2 new lines):

Now there is a problem:

I w

[2013-11-07 15:48] harrah commented on #958
Great!  It looks like using last modified is the correct, immediate fix for this issue.

[2013-11-07 20:22] gkossakowski commented on #643
I accidentally reopened this issue but clicking the wrong button on issue list. I'm very sorry for that. Closing again.

[2013-11-07 20:22] #643 closed, assigned to nobody

[2013-11-07 20:22] gkossakowski commented on #676
I accidentally reopened this issue but clicking the wrong button on issue list. I'm very sorry for that. Closing again.

[2013-11-07 20:22] #676 closed, assigned to nobody

[2013-11-07 20:23] gkossakowski commented on #726
I accidentally reopened this issue but clicking the wrong button on issue list. I'm very sorry for that. Closing again.

[2013-11-07 20:23] #726 closed, assigned to nobody

[2013-11-07 20:24] gkossakowski commented on #736
I accidentally reopened this issue but clicking the wrong button on issue list. I'm very sorry for that. Closing again.

[2013-11-07 20:24] #736 closed, assigned to nobody

[2013-11-07 20:24] gkossakowski commented on #799
I accidentally reopened this issue but clicking the wrong button on issue list. I'm very sorry for that. Closing again.

[2013-11-07 20:24] #799 closed, assigned to nobody

[2013-11-07 20:26] gkossakowski commented on #823
I accidentally reopened this issue but clicking the wrong button on issue list. I'm very sorry for that. Closing again.

[2013-11-07 20:26] #823 closed, assigned to gkossakowski

[2013-11-07 22:00] gkossakowski commented on #958
@harrah: agreed! Does this warrant another RC of sbt 0.13.1?

I can submit the fix tomorrow.

[2013-11-08 00:15] saeta opened #964 "SBT hangs when running tests"
If there are enough projects in a multi-project build, running `sbt test` will hang forever. Please see the following sample project: http://betacs.pro/testcase.tgz

SBT Version: 0.13.0
System: Mac OS X (10.8.5) 16GB memory.

[code]

[2013-11-08 13:26] #958 closed, assigned to gkossakowski

[2013-11-09 01:51] harrah commented on #713
(Closing as a duplicate of the newer issue that had a contributed fix.)

[2013-11-09 01:51] #713 closed, assigned to nobody

[2013-11-09 01:55] harrah commented on #964
It is likely that you are running into #937, which is mitigated in 0.13.1-RC2.  If that doesn't fix the issue, this can be reopened.

[2013-11-09 01:55] #964 closed, assigned to nobody

[2013-11-09 01:59] #923 closed, assigned to harrah

[2013-11-09 06:16] vn971 opened #968 "sbt 0.13.0 doesn't start, "Found class jline.Terminal, but interface was expected""
I had a project that worked pretty well with "sbt.version=0.12.4". I changed the version to "sbt.version=0.13.0". After downloading the SBT and ivy stuff, the sbt went dead, exited with an error.
Repeates restarts give the error almost instantly.

[code]

I launch SBT through `sbt`,
it's installed system-wide, the inner version is "sbt-launch-0.11.jar". But I explicetely stated that I want "0.13.0

[2013-11-09 06:41] #968 closed, assigned to nobody

[2013-11-09 06:42] vn971 commented on #968
Closed: seems like a well-known issue without fixes.

[2013-11-10 19:08] awhitford commented on #947
Created pull request:  https://github.com/sbt/sbt/pull/969

[2013-11-11 01:54] Blaisorblade opened #970 "Formatting problem in docs"
`|release|` should be 0.13.0 in the text below from the [docs](http://www.scala-sbt.org/release/docs/Getting-Started/Hello.html#setting-the-sbt-version), but for some reason it isn't:

What's strange is that in the [sources](https://raw.github.com/sbt/sbt/0.13.0/src/sphinx/Getting-Started/Hello.rst), `|release|` appears twice and is substituted only once (in the text, but not in the code block); b

[2013-11-11 05:58] Blaisorblade opened #971 "The "Generating files" HOWTO is broken for 0.13.0"
According to http://www.scala-sbt.org/0.13.0/docs/Howto/generatefiles.html:

But this simply doesn't work. It's obvious why when comparing with [the 0.12.4 version](http://www.scala-sbt.org/0.12.4/docs/Howto/generatefiles.html), which gives:

Now, that's just _not_ the kind of change which happened between 0.12 and 0.13. _Edit_: I spoke a bit too soon; you can replace <+= with += if the type on th

[2013-11-11 06:08] Blaisorblade commented on #971
This was introduced in:
https://github.com/sbt/sbt/commit/132e29415ba9a47771720c74eae772b2952d810c#diff-1600cb100cbc40b8d0237585c4cd625d

[2013-11-11 06:31] Blaisorblade commented on #971
The above fix uses <+= which is not currently explained by the docs.

I also tried using value; however, the problem is that while I need to convert an `Initialize[Task[T]]` to a `Task[T]`, .value will go all the way down to `T`, thanks to overloading resolution (see from `Def.scala`):

[code]

I guess I could disambiguate the call by invoking the implicit explicitly, but the implicit name is not

[2013-11-11 06:37] Blaisorblade opened #973 ""Retry" after "reload return" goes back to subproject"
To reproduce:
1. start SBT on some project
2. insert an error in build.sbt
3. do `reload plugins`
4. do `reload return`
5. when it fails, press `retry`. It will succeed, whether you fixed the error or not, because SBT forgets it was performing a "reload return" and will retry loading the subproject (with success).

Example transcript:

[code]

[2013-11-11 12:56] hrj commented on #765
Since Java 8 is not too far away, I guess it doesn't make sense to add a Java 7 specific workaround to SBT.

Closing.

[2013-11-11 12:56] #765 closed, assigned to nobody

[2013-11-11 14:10] backuitist opened #975 "regression: fork in test doesn't work anymore"
## steps

[code]
## problem

Test does not fork
## expectations

Test forks.
## notes

 `fork in Test` works. Also see [Enable forking](http://www.scala-sbt.org/0.13.2/docs/Detailed-Topics/Forking.html#enable-forking):

[2013-11-11 14:16] harrah commented on #971
Your analysis is correct and sorry for the trouble.  The underlying bug is #866.

[2013-11-11 14:17] #971 closed, assigned to nobody

[2013-11-11 14:30] #970 closed, assigned to nobody

[2013-11-11 14:31] harrah commented on #970
Thanks a lot for pointing it out.  The problem was due to a quirk in the substitution syntax that requires the previous character to be alphanumeric or a space.

[2013-11-11 15:40] Blaisorblade commented on #971
Thanks for the prompt fix!

[2013-11-11 15:41] harrah commented on #971
No problem.  It will be a bit delayed getting pushed to the site due to being in an RC cycle.

[2013-11-12 16:58] greenrd opened #978 "Using from in a dependency, if externalIvySettings used, results in dependency being omitted from dependencyClaspath"
One of my dependencies looks like this:

[code]

(`maven` is our internal Nexus server.)

The reason why I am trying to use `from` is because of [this issue](http://stackoverflow.com/questions/19932774/access-uniquely-named-maven-snapshot-using-ivysettings-xml-in-sbt).

However, even though `sbt` says it has downloaded the jar, it later says it has failed to download the jar from `local-maven2` (?

[2013-11-12 18:36] benburton commented on #653
I'm seeing this as well on sbt 0.13.0

[code]

[2013-11-13 03:32] paulp opened #979 "OutOfMemoryError when mixing usage of 0.13.0 and 0.13.1-RC2"
As described here: https://groups.google.com/forum/#!topic/sbt-dev/NPb0kZ2rpsY

Ideally you can reproduce it with
`git clone https://github.com/paulp/sbtbug && cd sbtbug && ./runner.sh`
However there is something contributing non-determinism, and sometimes it works fine.

Okay, I found the likely source of non-determinism. "sbt run" is behaving very differently in 0.13.1-RC2. It doesn't wait for m

[2013-11-13 03:37] harrah commented on #979
I appreciate you tracking down that non-determinism, since that's a regression that will also need to get fixed.

[2013-11-13 03:40] paulp commented on #979
It becomes slipperier when I try to isolate that. But I do have an attachment which should make it easy to at least see the memory exhaustion.

[2013-11-13 03:40] paulp commented on #979
Or maybe not, it seems I can't attach a tgz. But I'll keep it in case reproducing it is hard.

[2013-11-13 03:41] harrah commented on #979
Ok, thanks.  I have a guess that I'll try tomorrow.

[2013-11-13 07:50] jsuereth commented on #978
It's trying to pull documentation and sources for your jar.  What command are you running when you get the failure, just `update` or `compile`?

[2013-11-13 08:42] greenrd commented on #978
Yes, I should have mentioned that. I have an alias `full-reload = ;reload plugins;clean;reload return;clean;update;eclipse with-source=true`, and that was what I ran when I got the original failure.

[2013-11-13 13:40] harrah commented on #979
I can't reproduce either issue.  I ran that main several times using 0.13.1-RC2 and it always waited for `run` to finish.  I don't know if it matters, but I use a plain startup path and not sbt-extras.

[2013-11-13 13:57] harrah commented on #979
Ah, I can reproduce the awt and the not waiting for `run` issues on a mac, though.

[2013-11-14 13:52] SethTisue commented on #979
I just recently started getting mysterious OutOfMemoryErrors when starting sbt, and I also recently started testing 0.13.1-RC2, so perhaps I've been experiencing this too. if there's anything I should do next time it happens, let me know. (On the group @harrah mentioned something about a cache? What cache do I try clearing to see if the error goes away?)

[2013-11-14 13:54] harrah commented on #979
The cache is at `target/streams/compile/incCompileSetup/`.  It will be versioned for RC3, so I don't think you need to try to reproduce it.

[2013-11-14 15:03] paulp commented on #979
On Thu, Nov 14, 2013 at 5:54 AM, Mark Harrah notifications@github.comwrote:

Since it doesn't take too much trying on my part, I tried. Happily, removing

[code]

... does indeed makes the problem go away. I assume this is the path you
meant - the path you gave also exists, but does not affect the issue.

[2013-11-14 15:15] harrah commented on #979
In that case, it is the cache for compiling the build definition.  If sbt can't get past the build definition, it won't ever read the cache for the project itself.  (Sorry, I didn't actually notice it was failing on startup and not `compile`.)

[2013-11-16 10:57] xuwei-k opened #986 "scripted test and sbt-launch.jar version"
here example
https://github.com/xuwei-k/sbt-scripted-test-and-launcher-version
https://travis-ci.org/xuwei-k/sbt-scripted-test-and-launcher-version/builds/14061652

`0.12.3 sbt-launch.jar` and `sbt.version=0.12.3` in `build.properties` is success

but `0.13.0 sbt-launch.jar` and `sbt.version=0.12.3` in `build.properties` is failure `java.lang.ClassNotFoundException: jline.Terminal`

[2013-11-16 21:47] TheSultan opened #987 "sbt 0.13 ivy resolution issue"
## steps

`build.sbt`:

[code]
## original report by @TheSultan

See https://github.com/TheSultan/sbtivypublicationsbug for repro.

I believe the issue is that the maven central version of libthrift does not have a publications tag in its ivy.xml (I was able to fix just by adding that). However, I suspect that sbt may be being stricter than ivy itself and/or interpreting that flag differently, hen

[2013-11-16 22:20] copumpkin commented on #987
This triggers https://issues.scala-lang.org/browse/SI-2464 by not passing the libthrift jar into scalac.

[2013-11-18 13:32] harrah commented on #979
The main issue was fixed by #988.  I'll open new issues to track the other problems.

[2013-11-18 13:32] #979 closed, assigned to harrah

[2013-11-18 13:35] harrah opened #989 "New TrapExit implementation in 0.13.1 is jvm-dependent"
From #979:

"sbt run" is behaving very differently in 0.13.1-RC2. It doesn't wait for main to finish. If I use this main body:

[code]

Under 0.13.0 it prints a, sleeps 10 seconds, prints b. Under 0.13.1-RC2 it prints a and then exits.

0.13.0:

[code]

0.13.1-RC2:

[code]

This occurs on JVMs other than oracle/openjdk.  The new TrapExit implementation for 0.13.1 appears to be unintentionally jvm-

[2013-11-18 13:37] harrah opened #990 "New TrapExit implementation for 0.13.1 triggers AWT initialization"
The new TrapExit implementation calls into the AWT subsystem even when AWT isn't used by user code.  It isn't clear how it was avoided in the previous implementation, but it is important to fix because it causes focus loss on OSX.

[2013-11-18 13:37] harrah commented on #990
Related to #979.

[2013-11-18 18:45] mighdoll opened #991 "change published sbt configuration so that sbt-eclipse will include sbt sources"
sbt-eclipse doesn't generated a a sourcepath property in the .classpath for the sbt sources.   This makes it hard to navigate to and from the sbt sources when editing your build's .scala files in eclipse.

josh notes that the fix is to change the published sbt configuration:

http://stackoverflow.com/questions/20011392/debug-sbt-sources-too-with-eclipse

[2013-11-18 22:35] #989 closed, assigned to harrah

[2013-11-18 22:35] harrah commented on #990
Fixed in f3c050921a579947a377ba4f71d1e202e7c8862b.

[2013-11-18 22:35] #990 closed, assigned to harrah

[2013-11-19 13:03] harrah commented on #947
Fixed in e7d5cd1bd25aa24abb6a1ead3a2701bc451ff724.

[2013-11-19 13:03] #947 closed, assigned to nobody

[2013-11-19 14:05] devinshields opened #992 "tv"

[2013-11-19 14:38] #992 closed, assigned to nobody

[2013-11-19 14:39] jsuereth commented on #992
Yeah, where's the remote?

[2013-11-19 20:31] mighdoll opened #994 ".parsed and pattern matching assignment - fails to compile"
this fails to compile:
 // `parsed` can only be used within an input task macro, such as := or Def.inputTask.

[code]

this compiles:

[code]

(on 0.13.1-RC2)

Not a big issue, but it'd be nice to tweak the error messaging if not actually fix.

[2013-11-19 21:02] harrah commented on #994
Related to #952.

[2013-11-20 17:21] cchantep commented on #653
Same on sbt 0.13.1-RC2:

[code]

[2013-11-20 17:25] harrah commented on #653
@cchantep right, there hasn't been a new fix since the original fix.  I need a test case to be able to do anything- the stack trace doesn't help much, unfortunately.  The earlier comment about 0.13.1 was that it might have additional information useful for producing a test case.

[2013-11-20 17:27] cchantep commented on #653
Will see if I can extract a clear test case from the erroneous involved specs test.

[2013-11-20 17:28] harrah commented on #653
Thanks a lot.  I'd appreciate it.

[2013-11-20 17:42] cchantep commented on #653
Unfortunatly it seems several test combinations given the blocking situation, I can restrict it more than https://github.com/playframework/playframework/blob/master/framework/src/anorm/src/test/scala/anorm/AnormSpec.scala .

If you comment out at least one test, sbt execution is ok, running all is blocked (sometime, but majority of time for me today).

[code]

[2013-11-20 17:44] harrah commented on #653
but it is reproducible on a public codebase?  that's a good enough start for me to reopen, thanks.

[2013-11-20 17:45] cchantep commented on #653
yep, no need of specific fixture, checking out play master allow to reproduce it.

[2013-11-20 18:08] harrah commented on #653
I don't see an EOFException, just a hang, which appears to be in the application/test code and not in sbt.  The relevant stack traces from the remote jvm:

[code]

If you forcibly kill sbt, yes, I see an EOFException, but that's not surprising- it is being forcibly shutdown in the middle of communicating with a remove jvm.

[2013-11-20 18:11] cchantep commented on #653
Do you see it ending at some point? if you don't kill?
I've let it running for more than 10min, without end.

[2013-11-20 18:28] harrah commented on #653
Right, you have to kill it.  But, that's a problem with the tests themselves, not sbt.

[2013-11-20 18:29] cchantep commented on #653
weird

[2013-11-20 18:45] harrah commented on #653
To be clear, the problem is that the tests hang.  This means that the user has to kill sbt.  During forcible termination, sbt generates a spurious exception that is unavoidable as far as I can see.  So, I'm (re)closing this.

[2013-11-20 18:45] #653 closed, assigned to harrah

[2013-11-22 07:01] brikis98 commented on #413
It's still slow for us with SBT 0.13. We have several large multi-project setups and they have become unusably slow.

[2013-11-22 12:42] jsuereth commented on #413
This is kind of a known issue with -SNAPSHOT and Ivy.  We'll see what we can do to workaround.   I'm totally aware of the slowdown, sorry guys.   Patches more than welcome.

[2013-11-22 13:42] harrah commented on #413
Redownloading the metadata for -SNAPSHOTs and other dynamic revisions will only be a problem if explicitly running `update` as documented here: http://www.scala-sbt.org/release/docs/Detailed-Topics/Dependency-Management-Flow.html.  When explicitly runningn `update`, there are many possible reasons for slow downloading, such as misconfigured repository managers or Ivy just being serial.  Again, dow

[2013-11-22 17:40] SethTisue commented on #806
`--warn` working great for me in 0.13.1-RC3. thank you

[2013-11-22 18:08] #994 closed, assigned to nobody

[2013-11-22 18:08] #952 closed, assigned to nobody

[2013-11-22 18:45] SethTisue opened #997 "TrapExit changes in sbt 0.13.1-RC3 make `run` SIGSEGV the JVM on Mac OS X"
my code does use AWT classes, but it is intended to be run with `java.awt.headless=true`. I'm not forking, just using regular `run` or `run-main`

the crash happens with both Java 7 and Java 8. it started with RC3; RC2 was fine.

the details of the crash differ a little depending on whether `-Djava.awt.headless=true` is included or not. with:

[code]

and without `headless=true`:

[code]

these pa

[2013-11-22 18:49] SethTisue commented on #997
this program is sufficient to trigger the crash:

[code]

[2013-11-22 22:45] SethTisue opened #999 "`Def.taskDyn` (and `inputTaskDyn`) are undocumented"
"I guess taskDyn still isn't documented is it.  Maybe someone can open a bug and I'll try to get to it for 0.13.2" — @harrah on IRC just now

in the meantime the intrepid searcher can find glimmers of enlightenment at such places as:
- http://stackoverflow.com/questions/19224898/sbt-0-13-dynamic-tasks
- http://stackoverflow.com/questions/17888316/sbt-0-13-task-macro-equivalent-of-flatmap

http://w

[2013-11-23 19:23] SethTisue commented on #407
three cheers for `.toTask` — with the help of that and `inputTaskDyn`, I was finally able to get rid of that hairy stuff in my build and directly reuse the existing `testOnly` task. so nice: https://github.com/NetLogo/NetLogo/commit/64bc23f94476c36cc649612c0838bd379b00d9ae

[2013-11-23 19:43] SethTisue commented on #999
and here's a sample usage of the exotic, elusive creature known as `inputTaskDyn`, with which even Stack Overflow cannot help you: https://github.com/NetLogo/NetLogo/blob/c1eab1eb1645289d3dc02b33f4ed4ba45f45636f/project/LanguageTests.scala

and another: http://stackoverflow.com/questions/20091719/getting-settings-and-arguments-with-sbts-inputtask/

[2013-11-23 21:03] copumpkin commented on #417
This is biting me, too, in the "tail of empty list" form described at https://groups.google.com/forum/#!msg/scala-ide-user/_vt3MDcP_uk/ID09ULOTqNUJ. Using sbt 0.13 with Scala 2.10.2.

[2013-11-24 02:04] harrah commented on #407
That is nice indeed.  Glad it helps!

[2013-11-24 02:09] harrah commented on #417
I didn't know about the "tail of empty list" problem.  It isn't immediately obvious that it has the same cause, so I'll take @dragos's word for it.  A small example might allow me to fix it so it at least doesn't crash in that specific case, although inc. compilation might be less accurate. (Not sure about that, just looking at the stack trace and the code causing the error.)

Fixing the more gene

[2013-11-24 06:48] mighdoll opened #1000 "Document the current ways to sequence tasks"
The nifty new macro syntax makes it easy to write a task that triggers subtasks.  It's tempting to write code like this:

[code]

and expect that the subtasks would run in sequential order.  (Unfortunately, the tasks might
run in sequential order sometimes, which will surely confuse the unwary.)

The documentation should clarify that tasks will generally run concurrently, possibly as [tasks are in

[2013-11-24 07:32] mighdoll opened #1001 "Make it easier to control the sequencing of Tasks"
As Eugene [also discussed](https://groups.google.com/forum/#!topic/simple-build-tool/1c7unObqjJ8), it's awkward to control the sequencing of tasks in sbt builds.  Let's see if we can find a simple control structure.

One common use case for task sequencing is for integration testing:
  Task 1: Start a test server / wait for it to come on line
  Task 2: run integration tests
  Task 3: stop servers

[2013-11-24 16:25] harrah commented on #857
This is indeed a regression since the claim was that the old syntax would still be supported in 0.13 in as many cases as possible.  However, note that the new syntax supports an arbitrary number of inputs and if you are only targeting 0.13, you should use the new syntax.

[2013-11-24 20:19] #598 closed, assigned to nobody

[2013-11-24 20:19] #933 closed, assigned to harrah

[2013-11-24 20:19] #973 closed, assigned to nobody

[2013-11-24 23:25] #866 closed, assigned to nobody

[2013-11-24 23:25] #999 closed, assigned to harrah

[2013-11-25 13:23] dansanduleac opened #1004 "Making use of Ivy source | javadoc configs to resolve sources and javadocs"
Currently, sbt resolves "classifiers" (sources and javadocs) by taking the existing `ModuleID` (a sbt class representing a dependency) and creating `sbt.Artifact`s from it (in `sbt.IvyActions.classifiedArtifacts`) which have the `e:classified` set to `sources` or `javadoc` (the classifiers themselves come from the setting `transitiveClassifiers :== List(sources, javadoc)`).

However I'd argue that

[2013-11-25 13:48] jsuereth commented on #1001
Funny enough, we have this in 2 chapters of Sbt In Action.

The general pattern we use (if, e.g. you have a single task which embodies all the functionality you need to wrap) is this:

[code]

Caveat that:
1. I'm using sbt 0.13.2 syntax (taskValue) rather than the old sbt 0.12 APIs like we do i thebook.
2. I may have mispellings, etc., but I hope the results are plain.
3. ALL The behavior you want

[2013-11-25 14:01] harrah commented on #1001
To clarify a potential misunderstanding, async is not sequential and is not parallel by default.  It unfortunately can't be used here because it has a different model than sbt tasks.

[2013-11-25 14:21] harrah commented on #1004
The current behavior is the Maven way, which is for better or for worse the de facto correct way in the Java ecosystem.  By default, Ivy will try to lookup these `sources` and `javadocs` classifiers when resolving a pom and include them in the respective configurations.  However, this takes a lot of time, misses are expensive, and Ivy doesn't cache those misses well.  So, sbt disables that and imp

[2013-11-25 15:05] dansanduleac commented on #1004
Sorry about the formatting.
Thanks for explaining! Indeed I had a hunch it had something to do with maven, since all the ivys in the cache that were built from from maven POMs seemed to have no sources artifacts defined. That of course seems perfectly fine as long as the ivy file doesn't explicitly specify source artifacts.
All I'm arguing is that when it does, they should be picked up. Specifical

[2013-11-25 18:49] harrah commented on #1004
- Ivy uses `defaultMappings` (or something like that) to know what to do when there is no mapping specified.  sbt makes this `x->compile` by default.
-  `compile(*)` is not valid on its own as far as I know.  It can only be on the right side, where the `()` indicate what to do if `compile` does not exist.  Having used this system for a while and thought about what a better dependency manager would

[2013-11-25 23:57] huntc opened #1007 "sbt.IncompatiblePluginsException incorrectly reported during plugin init"
If a plugin throws an exception during its construction then an sbt.IncompatiblePluginsException is incorrectly reported.

To illustrate use the following project and type "scripted":

https://github.com/huntc/sbt-linkage-error

[2013-11-26 00:17] mighdoll commented on #1001
Josh, I just downloaded the current copy of sbt in action, feel free to point me to the right section.  I'm not yet able to follow your example above.

I like the trick of decomposing test into executeTests and Test.reportResults.  I think that answers one of my pending SO sbt questions...

If I could get your example to compile as you intend, would the macro that handles .value [1] arrange to mak

[2013-11-26 00:46] mighdoll commented on #1001
Here's a stab at sequencing tasks via dependsOn.  It seems to work...

[code]

If the above direction looks promising, it'd need some help generalizing the type parameters.  And I'm not sure what happens with error handling.  Hmm.. it'd be nice to have an andFinally/andThen for tasks too.

[2013-11-26 01:13] brikis98 commented on #413
We aren't using any -SNAPSHOT versions - we even have a precommit hook to prevent them. One thing we noticed with multi-project setups is that adding the following speeds things up:

[code]

If you `aggregate` several projects, is SBT redundantly (er, sequentially) updating all of them every single time?

That said, updating even a single project seems particularly slow: on the order of 1 minute f

[2013-11-26 01:26] harrah commented on #1001
Implementing sequence is straightforward, you just need `flatMap` (or `taskDyn`) just like witih futures:

[code]

However, this doesn't prevent something else from depending on `task3` and it executing sooner than `task1`, for example.  So, the task engine should also check that this sequence is respected.

[2013-11-26 02:01] mighdoll commented on #1001
An initial question is whether sequence() should be part of the desired
api.  I suppose the existence of Future.sequence argues for it..

[2013-11-26 02:04] #1007 closed, assigned to harrah

[2013-11-26 02:15] harrah commented on #1001
Hmm, what do you mean by "inform the task engine of the appropriate dependency".

I think `sequence` is a good and sufficient API for the use cases I've seen so far.  It doesn't provide an imperative API, but I don't know that's bad.  I don't think I'd want to have two similar looking APIs with such different behaviors.

[2013-11-26 02:26] harrah commented on #413
If project `root` aggregates other projects, it just means when you run `update` on the root project from the command line, it also runs each aggregated project's `update`.  If you depend on `root/update` programmatically, only `root/update` is called.  It is strictly a command line convenience.

Each project's update runs once.  There shouldn't be any redundant resolution done in the absence of s

[2013-11-26 02:32] brikis98 commented on #413
The impression I got was that when we used the `run` command on the `root` project, it ran `update` on each of the projects that `root` aggregates. This was extremely slow and stopped being a problem when we added `aggregate in update := false`.

The number of direct dependencies, judging by `show libraryDependencies` is 10-15; there are several hundred once you fan out to all the transitive depen

[2013-11-26 02:58] harrah commented on #413
I believe you've seen http://www.scala-sbt.org/release/docs/Detailed-Topics/Dependency-Management-Flow.html#caching-and-configuration, so to apply some of the points from that section to what you are saying:
1. "Normally, if no dependency management configuration has changed since the last successful resolution and the retrieved files are still present, sbt does not ask Ivy to perform resolution."

[2013-11-26 03:40] brikis98 commented on #413
Ah, I think point number 2 about the `version` changes may explain the behavior we're seeing. Based on the strange way we publish artifacts internally, we automatically bump the version number for each checkin; therefore, it changes very frequently when you update your git/svn repo. Is there an easy way to skip that?

I can't imagine what computation it could possibly be doing that takes multiple

[2013-11-26 03:49] harrah commented on #413
I apologize for quoting almost the whole linked section at this point, but I'd probably summarize it less clearly or miss something:

"5. Overriding all of the above, skip in update := true will tell sbt to never perform resolution. Note that this can cause dependent tasks to fail. For example, compilation may fail if jars have been deleted from the cache (and so needed classes are missing) or a d

[2013-11-26 05:44] mighdoll commented on #1001
I was probably misinterpreting your comment:

I don't know how the task engine works (seems nifty though, is there discussion of it anywhere?).  I was imagining that a) dependsOn dependencies were visible to the task engine and taskDyn ones were not, and b) the engine might recognize a cycle if it had more complete knowledge of the task dependency graph (imagine the sequence is 1,2,3 but there's a

[2013-11-26 07:08] eed3si9n commented on #1001
I'm skeptical of both `for` comprehension and `sequence(...)`. They are monadic zombie virus talking. For those who are infected, it may be ok, but if that's the case why bother with any DSL? The entire build definition can be a giant `for` comprehension running State-sponsored Reader/Writer/whatever.

Like I wrote in [Concurrency semantics (aka task sequencing) in 0.13 syntax](https://groups.goog

[2013-11-26 08:59] dansanduleac commented on #1004
- Sorry about that, I got confused by some SO questions regarding this. Indeed one person [here](http://stackoverflow.com/questions/12304976/ivy-fetching-javadocs-and-sources#comment29074011_12305424) correctly points out how to set `defaultConfMapping` to make that work, but I didn't see that part before:

  I presume he means conf=`compile;javadoc;sources` but the idea was relevant. My bad
- I a

[2013-11-26 09:32] greenrd opened #1008 "Excludes documentation should note need to add Scala version to Scala deps"
http://www.scala-sbt.org/release/api/index.html#sbt.ExclusionRule should state that the Scala version is not automatically appended to a non-wildcard name (because it might be a Java dependency with no Scala version).

[2013-11-26 10:19] erikrozendaal opened #1009 "alias with semicolons does not append arguments correctly (0.13)"
With 0.13 (I haven't tried older versions, so the problem may exists there as well):

[code]

Looks like there is a missing space character when using semicolons in alias.

Actual use case is something like:

[code]

But this fails due to the missing space issue.

[2013-11-26 12:52] harrah commented on #1009
Same fundamental cause as #933 although it isn't apparent.  This will be fixed in 0.13.2.

[2013-11-26 12:52] #1009 closed, assigned to harrah

[2013-11-26 12:56] jsuereth commented on #1001
@eed3si9n You definitely have a point there.  I actually like the idea of a 'sequential' tag instead.  Again, this biggest "gotcha" in this kind of programming is if you assign one of the subsidiary tasks (to the sequential flow) to a Key and run any of those _in isolation_ or _use them in other tasks_.

A great example of this is actually what @mighdoll has above.  He's using the `test in Integra

[2013-11-26 12:57] khellang commented on #321
This still isn't working in 0.13.1-RC2 :cry: Anything I can do to help?

[2013-11-26 13:00] harrah commented on #321
If it isn't working for you, we'd need a test case.

[2013-11-26 13:11] jsuereth commented on #1001
@eed3si9n /all ALso for reference, Gradle's full task API is somewhat verbose:

[code]

as an example.   In any case, I kind of like denoting "sequential" behavior explicitly, and maybe doing failure handling off the side, like:

[code]

i.e. The 'sequentially' block combined with normal try-catch can lift into an "andFinally" call on the task.

Granted, I'm pie-in-the-skying here.  The practical

[2013-11-26 13:24] harrah commented on #1001
I understand the sbt macro it looks like imperative code.  I'm ok with needing to educate users on that.  The sbt model is to have your side effects be local to your task so that as long as dependencies are satisfied, the task can be executed whenever.  The win is parallel by default and enabling faster builds in practice.

`scala/async` can't be reused because it targets the `Promise/Future style

[2013-11-26 14:51] harrah commented on #1004
- Commas in configurations can be valid.  They enable a shorthand in some situations, but I don't use or advertise them in sbt.
- compile is a convention from Maven-land.  Ivy doesn't have any conventions for configurations that I know of.  It does have the special configuration `default` (at least I think it is special) that points to the default configuration.
- I brought up `with*` only as an e

[2013-11-26 17:03] mighdoll commented on #1001
I'm still catching up with all three of you, but my reactions FWIW:

My mental model is that build developers are part time, very intermittent and sometimes reluctant users of any build system's language and APIs.  The less new they have to learn, the better.  The task macro is a step forward exactly so that they don't have to learn as much flatMap/apply/operator trickery.  Reusing what developers

[2013-11-26 17:24] jsuereth commented on #1001
@mighdoll So, the testAndStop task is "fine" in the sense that if I call "it:test" it will run my tests, then stop, sort of.  If the tests result is an error, then (test in IntegrationTest).value _won't_ continue, because the result is an error, so my service is never stopped.

Also, if I just call `it:executeTests` then, again, I'll execute tests but never stop the service.  The ideal workaround

[2013-11-26 19:23] mighdoll commented on #1001
Error handling stops the whole task, and so later tasks don't run.  OK, I get that and I see why that means the server might not be stopped if there's an error.

Would andThen/andFinally for tasks be the right fix for this?  (for a workaround I realize we need use what we have)

Tasks are the 'atoms' that sbt build customizers are effectively encouraged to use for everything (because they have acc

[2013-11-26 19:45] jsuereth commented on #1001
On Tue, Nov 26, 2013 at 2:23 PM, mighdoll notifications@github.com wrote:

andThen/andFinally already exists, in a limited form.

Yeah, my hazy idea here is actually to create "pseudo" tasks for andFinally
behavior.... I.e. what if I could create a set of "bottom tasks" that are
added to the 'task request' if you encounter a certain task.

e.g. if I _ever_ see "startIntegrationServer" task show up

[2013-11-26 21:02] mighdoll commented on #1001
Ah, thanks.  I'll look forward to taskValue too, I see now that mark pushed an implementation a day or two ago.

[2013-11-27 01:47] dansanduleac commented on #1004
- i thought commas just group confs on either side of a `->`, whereas ; separates these dependencies, like `a,b->c,d;d` would mean a and b both depend on the dependency's c and d, and that d depends on whatever defaultConfMapping says
- yeah, after thinking through it I agree that you can't just put src/doc artefacts in the generated Ivys and assume they exist (initially I thought that would be th

[2013-11-27 04:16] harrah commented on #1004
- Hmm, you are probably right about the commas.
- This revised proposal generally sounds ok to me.  However, note that the classifiers are the main use case.  As I mentioned, there aren't that many pure Ivy users that I'm aware of.  So, I agree that a) classifiers are always used when pom.xml is the origin b) never used if the ivy.xml declares sources/javadocs types c) but I think that at least fo

[2013-11-27 04:19] #628 closed, assigned to harrah

[2013-11-27 13:49] peter-svensson commented on #847
IVY 2.3.0-rc1 also contains a bug that handles transitive dependency versions wrong.

Dependency:

[code]

When resolving the transitive dependencies of that jar I get errors:

[code]

Looking at the dependency tree I can see that I get the following:

[code]

Looking in the pom.file for hk2-api (which is the file that requires hk2-utils) [http://repo1.maven.org/maven2/org/glassfish/hk2/hk2-api/2.

[2013-11-27 13:57] #997 closed, assigned to nobody

[2013-11-27 15:04] gkossakowski opened #1010 "Merge name hashing branch that improves incremental compiler"
~~This is a meta-issue that allows people to get quick overview of where we are with merging [`name-hashing`](https://github.com/gkossakowski/sbt/compare/sbt:0.13...name-hashing) branch back to sbt code base.~~

Name hashing has been merged to sbt and released with sbt 0.13.2-M1!
### Current status

The name hashing branch consists of 6 major components/changesets:
- [x] more fine-grained logging

[2013-11-27 15:19] SethTisue commented on #997
note that for now this can be worked around with `trapExit in Global := false`

[2013-11-27 15:35] harrah commented on #997
It will be included in the soon-to-be-published 0.13.1-RC5, which is RC5 because I published RC4 without this fix.

[2013-11-27 16:24] retronym commented on #1010
(edited ticket to link your WIP branch for the curious)

[2013-11-27 21:18] Blaisorblade commented on #895
1. Can you post the code for your custom resolver? I'm using SBT for a course, and ~30% of my students ran into the same issue. (I didn't know that using source dependencies might be such a stupid idea). As a workaround, having the custom resolver is much better than giving setup instructions.
2. If you create `C:\Users\jodyfan\.sbt\0.13\staging\65e4501327cb11085ce0\sbt-assembly` instead of `C:\Us

[2013-11-28 07:04] jodyfanning commented on #895
Yes, sorry. I haven't had much time to devote to doing a patch. But anyway, this is what I did for our Playframework 2.x project.

So for importing the source plug-in you have a project/project/Plugins.scala. And there I override the resolver. In our case it was for importing sbt-jasmine-plugin.

[code]

[2013-11-28 14:15] dk14 commented on #413
There is a lot of time wasted on ivy's `resolveConflicts()` execution for my project. I used custom resolver to cache resolved dependencies - updating time decreased by only 10-20%. So, I believe, Ivy spent most of time analyzing dependency graph conflicts after resolution.

[2013-11-28 15:09] jrudolph commented on #413
There was (at least) one notable appearance of version ranges. It was a common dependency which transitively depended on jackson with a version range:

"com.codahale" % "jerkson_2.9.1" % "0.5.0"

http://repo.codahale.com/com/codahale/jerkson_2.9.1/0.5.0/jerkson_2.9.1-0.5.0.pom

I've seen this dependency in many projects and it attributed a big share of the total time sbt spent during `update`.  An

[2013-11-29 05:40] thinksource opened #1014 "the sbt do not execute as the "subconfig.txt", if I run other application like activator on top of sbt."
My system is windows 8, sbt version is 0.13.0, but I guess all window versions have similar problem.

I migrate my user profile form "something Dev" fold to "something" fold.
Then I find the error of sbt

C:\activator>sbt
java.io.FileNotFoundException: C:\Users\propertymode Dev.sbt\boot\update.log (T
he system cannot find the path specified)
    at java.io.FileOutputStream.open(Native Method)

[2013-11-29 09:14] martinring opened #1015 "Misleading warnings for locked outdated dependency"
when for some reason an outdated dependency is still locked and thus sbt fails to delete the artifact from the cache, it correctly displays an error message:

[code]

but then follows a misleading warning, which frequently caused me to check the dependencies not knowing what the problem is:

[code]

The displayed warning message emphasizes the fact, that the dependency could not be found (which is

[2013-11-29 17:55] SethTisue opened #1017 "New TrapExit implementation in 0.13.1 prints UncaughtExceptionHandler message"
in the part of my build where I actually use TrapExit, 0.13.1-RC5 (and RC3 and RC2) now prints `Exception: sbt.TrapExitSecurityException thrown from the UncaughtExceptionHandler in thread "run-main-0"`

nbd, the extra output isn't causing any trouble, but reporting anyway. I can isolate/minimize if desired

[2013-11-30 15:54] dragos opened #1020 "SecurityException during `ClassToAPI`, crashes the build"
Saw this at a client. I don't know of any workaround (build fails).

[code]

[2013-12-01 05:05] eed3si9n commented on #1001
@harrah wrote:

One might read this and just go home, but I read this to be a "go ahead" for a plugin :) I've implemented the macro as sbt-sequential and documented it in [sequencing tasks with sbt-sequential](http://eed3si9n.com/sequencing-tasks-with-sbt-sequential).

[2013-12-01 09:49] retronym commented on #1001
http://assembla.com/spaces/scala-ide/tickets/1001449

We're going to fix this in Scala 2.11.

[2013-12-01 09:51] retronym commented on #1001
It's not fundamental, but non-trivial to get right. We should have it ready in January. (First attempt: https://github.com/scala/async/pull/11)

[2013-12-01 21:27] harrah commented on #1020
sbt loads classes compiled from Java sources in a class loader as part of its analysis.  That's the sbt specific part- to do anything more with this would require a test case.

[2013-12-01 21:27] #1020 closed, assigned to nobody

[2013-12-01 21:57] harrah commented on #1017
Yes, a minimized test case would be appreciated.  A naive test case doesn't show the problem, so presumably it is something involving how the threads are created.  Thanks.

[2013-12-01 22:01] harrah commented on #1014
Please do not open the same issue on multiple projects.  (Covered by typesafehub/activator#175.)

[2013-12-01 22:01] #1014 closed, assigned to nobody

[2013-12-01 22:04] thinksource commented on #1014
@harrah I just can not configure that problem is the activator problem or sbt problem

[2013-12-01 22:06] harrah commented on #1014
That's fine, just work with one project at a time to avoid duplicated effort.  Also, StackOverflow is a good support channel because you can use multiple tags for a question and simultaneously get the attention of multiple projects.

[2013-12-01 22:24] thinksource commented on #1014
@harrah Actually, I already ask this question on StackOverflow, just no body answer it.
the link is http://stackoverflow.com/questions/20278454/i-deleted-the-sbt-directory-in-accident-how-to-make-the-sbt-run-again

[2013-12-02 00:19] harrah commented on #1001
@eed3si9n Down the rabbit hole you go!

For expressions: `for(i <- 1 to n) yield println(someTask.value)` (currently crashes)

If expressions: `if(n > 1) someTask.value else 1` (currently always evaluates someTask)

Nested blocks: `{ { a.value; b.value }; { c.value; d.value} }`  (doesn't order within the nested blocks)

Access to the `var` needs to be synchronized or declared volatile.

If you hav

[2013-12-02 00:36] eed3si9n commented on #1001
As long as it crashes, I'm ok with it. I did think about non-shortcutting `if`-expression, and that's something I might take a look later esp taskDyn is designed to support that use case. Since it's a plugin I get to be more relaxed about the completeness.

[2013-12-02 01:07] harrah commented on #1001
I assume you mean you are ok with it crashing while in development or something?  My point is more that the reason for this plugin is to allow imperative code.  But, it really only allows a very restricted subset of Scala code.  sbt's macros make one change- inputs evaluated in parallel before the code executes.  This adds many restrictions, however.

[2013-12-02 01:42] thinksource opened #1022 "When you modify the "sbt.boot.directory" variable, the sbt modify, but the sbt command like "sbt console" can not apply the path"
This is maybe duplicate the issue 1014,  which @harrah closed, but I think this is the sbt issue not the activator issue and this is another problem.

 I migrate my user profile directory.
I change the sbtconfig.txt add a line:

-Dsbt.boot.directory=C:\Users\property.sbt\boot

this is correct path of user. I can run sbt at console. but when I run "sbt console" . it gives me an error:

C:\Users\pro

[2013-12-02 12:56] manuelbernhardt commented on #413
+1 on @jrudolph 's comment about switching branches: indeed, even minor changes in the build configuration / dependency configuration trigger a completely new resolution process, having multiple dependency configurations being cached would be very much welcome, especially for larger multi-module builds.

One thing I wonder about is whether these caches survive a `reload` (or even, leaving SBT) - s

[2013-12-02 14:10] jsuereth commented on #1022
The error you're seeing isn't about the directory is shows (which is the CWD, where it thinks the project is).  It actually isn't showing the file you're trying to access.

The issue with sbt's global directories are that there are multiple properties for all of them, and you haven't overriden all, but just one small bit of everything that goes in the user directory.

For instance, the ivy cache i

[2013-12-02 22:20] thinksource commented on #1022
I set the sbt.ivy.home in config file and it works. Thanks @jsuereth

[2013-12-03 00:10] SethTisue commented on #1017
build.sbt:

[code]

project/plugins.sbt:

[code]

gives:

[code]

but this still involves invoking 3rd-party code (Classycle). let me look at the Classycle code and see what they're doing, but it's probably not much, since we're not getting past their "Usage: " message

[2013-12-03 00:13] SethTisue commented on #1017
All that Classycle is doing is this, from http://sourceforge.net/p/classycle/code/HEAD/tree/trunk/Classycle/src/classycle/dependency/DependencyChecker.java#l94 :

[code]

is this isolated/minimized enough, or should I keep going...? (what's your naive test case look like?)

[2013-12-03 00:34] SethTisue opened #1024 "missing `log.debug` around debugging output in TrapExit"
I was running some headless AWT stuff through sbt 0.13.1-RC5 recently and sbt printed:

[code]

this originates from TrapExit.scala and appears to be debugging output for which `println` instead of `log.debug` was inadvertently used

[2013-12-03 01:13] harrah commented on #1017
That would be enough if it showed the problem for me.  It does not, but perhaps it is os-specific so I will check on the mac later.

[2013-12-03 03:45] eed3si9n commented on #647
@galderz I was curious about this case, so I tried to create a reliable reproduction steps (see the updated description), but was not able to reproduce the issue using sbt 0.13.0. Could you confirm the problem still exists please?

[2013-12-03 04:08] thetrav opened #1025 "sbt 0.13.0 withSources publishes incorrect dependency type in pom"
Related to https://groups.google.com/forum/#!topic/simple-build-tool/b2VtHtCbgpM

publishing a project with a library dependency:

[code]

will result in a pom entry:

[code]

note particularly

[code]

According to:
http://maven.apache.org/pom.html#Dependencies

[code]

The issue this causes is that when another sbt project attempts to pull down the published project with dependencies, it maps th

[2013-12-03 13:33] harrah commented on #1025
Duplicate of #728.

[2013-12-03 13:34] #1025 closed, assigned to nobody

[2013-12-03 14:31] SethTisue commented on #1017
I'm on Mac OS X 10.9.

[2013-12-03 14:36] jsuereth commented on #1022
@thinksource you may also want to set `-Dsbt.global.base=C:\users\property\.sbt` (you can drop the `sbt.boot.directory` as the global base is used in more places than just the boot directory.

[2013-12-03 14:41] jsuereth commented on #1014
Yeah, this is a conformance issue with Activator.  Perhaps you can open an issue against activator that it should also use the `sbtconfig.txt` file?   I maintain both the windows sbt distro + the activator scripts, so if you open a ticket on the activator side, we can fix that.   It's not really an issue with sbt.

[2013-12-03 22:40] thinksource commented on #1022
@jsuereth thanks that is really helpful

[2013-12-04 02:19] tgpfeiffer opened #1027 "sbt throws IllegalArgumentException during init on IBM JVM"
I tried to build https://github.com/tgpfeiffer/twtdb on a Windows 7 machine with IBM JVM using `.\sbt.bat`, but after downloading all the dependencies, I get

The build runs fine on a Linux machine with Sun JVM.

---

Environment details:

[code]

Stacktrace:

[code]

[2013-12-04 02:48] ritschwumm commented on #1027
hm, https://github.com/sbt/sbt/blob/7dadbf1fc6915e61cb6ddc4aa304fc8ae9e78ae6/util/collection/src/main/scala/sbt/Signal.scala#L39 looks good to me

[2013-12-04 03:11] tgpfeiffer commented on #1027
I see, the IllegalArgumentException should actually be caught, right? Weird.
Just tried with the 0.12.2 and 0.13.0 jars, same behavior.

[2013-12-04 03:24] harrah commented on #1027
Thank you for providing plenty of information.  You can workaround it for now by passing `-Dsbt.disable.cont=true` to sbt.  From the output, it appears that the actual error sbt sees is `ExceptionInInitializerError` and perhaps it is J9's Signal implementation that is printing the underlying IllegalArgumentException and stack trace.

After configuring the workaround, can you report back what this

[2013-12-04 03:53] tgpfeiffer commented on #1027
@harrah Thank you very much, the workaround works great!

Concerning the command you posted, I actually get similar output:

[code]

The behavior shows with both 0.12.1 and 0.13.0

[2013-12-04 03:58] harrah commented on #1027
Well that's strange, how about:

[code]

[2013-12-04 04:18] tgpfeiffer commented on #1027
I did

[code]

and got:

[code]

I guess that, as you suspected, it is indeed the Signal implementation printing the stacktrace, but I don't really understand the kind of exception handling that is happening here...

[2013-12-04 18:49] mathieuleclaire opened #1028 "scala.reflect.internal.MissingRequirementError"
Hi,
I compile and publish locally a sbt plugin (called janet) with sbt 0.13 and scala 2.10.3. I also get a dependency on scala.reflect, version 2.10.3. This project compiles fine and everything is publish properly.

The problem occurs when I use that plugin in an other sbt project (with same sbt and scala versions). It compiles but at runtime, I get the following class missing. I read some topics

[2013-12-05 15:59] adriaanm commented on #1010
dundundun! the end is extremely nigh!

[2013-12-05 16:47] harrah commented on #1027
Fixing this properly probably involves either directly calling `com.ibm.misc.SignalInfo.getSignalNumber` or maybe disabling it based on the jvm vendor and os.name.  The underlying feature is the ability to properly reset the terminal after resuming.  This isn't supported by your OS (at least not via the CONT signal) or isn't necessary, so you aren't losing functionality with the workaround.  I'm u

[2013-12-05 17:00] #1024 closed, assigned to harrah

[2013-12-05 17:03] jsuereth commented on #1022
So I'm going to close this issue then.  If you'd like to open a feature request about having _one_ property you configure to move your all sbt's custom directories, that seems reasonable.  Also, feel free to improve the documentation or suggest where we can add the right docs.

Glad it's working for you now :)

[2013-12-05 17:03] #1022 closed, assigned to nobody

[2013-12-05 17:14] thinksource commented on #1022
@jsuereth thanks
can u added the global setting in your sbt setup notes
http://www.scala-sbt.org/release/docs/Detailed-Topics/Setup-Notes.html
I think the global setting is more useful compare with the root directory setting, especially for the new study.
I just set the directory root at first, because this is only directory setting I can find.

[2013-12-07 01:49] harrah opened #1031 "Compiler crash when .value, etc... used outside of task macro"
This was caused by the removal of `resetLocalAttrs`.  When `.value, etc...` are used properly, the task/setting macros remove them as part of macro expansion.  When they are not removed, they survive beyond typers.  Therefore, problems with untyped trees from the `.value`-like macros are only exposed when used in the wrong context.

[2013-12-07 02:52] joelthompson commented on #987
Bump.

I also just ran into this issue. It's really subtle, seems like an extremely difficult issue for users to debug. Not sure if it's a bug in sbt or in the original maven repo, but even if it were strictly a problem with the upstream artifact, sbt should be able to handle pathological input and give users a better error message (if not just doing the right thing!).

[2013-12-09 06:56] brikis98 opened #1032 "In a multi-project build, working directory is inconsistent between forked and non-forked run and test"
If you have an [SBT multiproject build](http://www.scala-sbt.org/release/docs/Getting-Started/Multi-Project) with multiple play apps, the typical working pattern is something like this:

[code]

In all of these cases, since the JVM was originally launched from `~/source/foo`, the working directory (system property `user.dir`) will be set to `~/source/foo`.

However, if you fork the JVM to run test

[2013-12-09 06:56] brikis98 commented on #1032
BTW, our current workaround is to manually reset the `workingDirectory` at test time as follows:

[code]

[2013-12-09 07:11] huntc commented on #1032
Thanks!

[2013-12-09 08:40] joelbinn opened #1033 "No possibility to override resolver for "Maven2 Local""
In SBT there is hardcoded a resolver "Maven2 Local". It always points to user.home.

However, I have a Play 2.2.x-project which depends on other proprietary maven-artifacts. In addition to this I have a Jenkins job which is configured to use its own local maven repo, i.e. it is not the default user.home-based (for the jenkins user) local maven repo.

For this I have added a resolver which points t

[2013-12-09 14:00] harrah commented on #1033
Please use StackOverflow for questions: https://github.com/sbt/sbt/blob/0.13/CONTRIBUTING.md.

The predefined local maven repository that you can add is a convenience.  You can define your own custom resolver as described in the documentation: http://www.scala-sbt.org/release/docs/Detailed-Topics/Library-Management.html#resolvers.

[2013-12-09 14:00] #1033 closed, assigned to nobody

[2013-12-09 14:09] jsuereth commented on #1033
To clarify with @harrah. This is not a bug with sbt.  Play provides a hardcoded maven2 local in their launcher.  You can configure this.   Stack-overflow is a much better place to find out how to configure this (as it has way better SEO).

[2013-12-09 14:48] jsuereth commented on #1032
So, a few points:
1. `baseDirectory` represents the base of the current project.  For mutli-module builds, that means the base directory of that sub-project.   The "root" project happens to share its `base-directory` with the build's `base-directory.   I think`baseDirectory in ThisBuild` will always give you consistently the base directory.
2.  I believe sbt's fork in run would be consistent with

[2013-12-09 16:39] joelbinn commented on #1033
OK, sorry for this, but I spent 1 day trying to find information about how
to configure this (both on StackOverflow and elsewhere).

I will try to solve this with the pointers I've got from you and Mark.

Best regards

/Joel

2013/12/9 Josh Suereth notifications@github.com

[2013-12-09 16:46] jsuereth commented on #1033
No problem. Quick question though:   What google queries or method did you use to look for the information?  Our SEO hasn't been the best (hence pushing stack overflow which gets good SEO).  If you do see the question already asked on stack overflow, please tag it to improve SEO or if you need to ask it on stack overflow, let's make sure it has the right tags :).

e.g. This page probably never end

[2013-12-09 18:57] joelbinn commented on #1033
Hi,

I don't remember my exact queries, but I had found out from the logs that
there was a built-in resolver named "Maven2 Local" which was tried before
the resolvers I had defined so I queried things like:
- play framework Maven2 Local redefine
- play framework Maven2 Local override
- play framework Maven2 Local configure
- play framework Maven2 Local resolver configure
- play framework Maven2 Lo

[2013-12-10 16:26] dansanduleac opened #1034 "deriveAndLocal can't replace/transform a setting that's already defined"
On the last line of `deriveAndLocal`, derived settings are _prepended_ to the other settings. There's a comment too shortly before, stating this:

[code]

That means it's impossible to transform an existing setting, which seems like something one might want to do, because it would just get replaced by the "original" later on.
Is there a specific reason for this approach? If not, I'd suggest append

[2013-12-10 16:52] harrah commented on #1034
Yes, there is a reason.  Individually, explicitly defined settings should override automatic settings.

[2013-12-10 17:15] dansanduleac commented on #1034
That makes sense. However, it may be useful to allow derived settings to come after `Defaults.defaultSettings`. Then, one would be able to conditionally transform these settings if some other settings are defined.
If that's not possible, maybe I'm looking for another feature: a derived setting that is only set if its prerequisites have already been defined strictly _before_ it (so without doing an

[2013-12-10 21:51] richdougherty commented on #1032
I don't think there's a good solution to this, apart from forking processes all the time. In my opinion forked and non-forked tasks should see the same working directory. I realise using SBT's working directory for forked process will break a lot of things, but the other alternatives will break things too. :)

I'm thinking about whether we should change the Play API to resolve relative paths from

[2013-12-10 21:57] brikis98 commented on #1032
`java.io.File` uses `user.dir` internally for resolving relative paths in some methods, such as `exists()`. If `user.dir` doesn't have the right (that is, consistent) value, many things will break in an unfixable way.

[2013-12-10 22:23] jroper commented on #1032
My 2 cents:
- Best practice is to not rely on a particular working directory ever.  Always read files from the classpath, and if you need to write files, use File.createTmpFile to create temporary files.  If you need to read from a directory, pass the directory from your build to your tests via a system property.  If you need a directory to write to, do:

[code]
- Not everyone will follow the abov

[2013-12-10 22:45] harrah commented on #1032
Agree with the first point.  That is definitely best practice for those willing to follow it.  Can you elaborate what you mean in the second point by "don't do anything with the working directory"?  Do you mean that the forked directory should be the same as `user.dir`?  For the third point, it exists.  At least, it looks like @brikis98 is doing the long version of `baseDirectory in Test := ...`.

[2013-12-10 22:56] brikis98 commented on #1032
@harrah Does `baseDirectory in Test := ...` affect the `user.dir` system property?

@jroper Agree that absolute paths are best practice, but not always easy, and occasionally impossible (e.g. if you're using a 3rd party library and can't control it). IMO, the "default" should work as expected; I find it very surprising that code would behave differently simply because the JVM was forked.

[2013-12-10 22:57] jroper commented on #1032
Yes, I mean have the working directory of the forked process be the same as the working directory of the parent process.

[2013-12-10 23:05] harrah commented on #1032
@brikis98 of the forked jvm, yes.  It should do the same as what your code snippet does.

On the proposal to make the forked jvm the same as `user.dir` of the build process, that is fine, but note that `user.dir` is not necessarily the build root.  It is true that in many cases it is.  However, it will not be when a) using source dependencies or b) if sbt searched for the root of a build if starte

[2013-12-11 04:35] brikis98 commented on #1032
@harrah Thanks for the shorter workaround, we'll change to use that one.

I'd recommend following the principle of least surprise. If I run the _exact same tests_, once with `fork := true` and once with `fork := false`, I would be (or, more accurately, I _was_) very surprised that relative file paths changed behavior. Since the original value of `user.dir` cannot be changed - it's the directory wh

[2013-12-11 08:32] mathieuleclaire commented on #1028
Any hint about this error ?

[2013-12-11 14:27] harrah commented on #1034
It would be good to provide a use case.
- Automatic settings that the user cannot override have been problematic in practice.
- Giving derived settings an ordering in relation to normal settings is incompatible with their basic function.  If a user explicitly overrides a leaf setting, it is supposed to derive the intermediate setting.  But, the user override would come later in the settings sequen

[2013-12-11 15:35] Sciss opened #1035 "java.lang.reflect.GenericSignatureFormatError when compiling Java sources"
I have a project which include some Java sources which make sbt crash during compilation. I am using sbt 0.13.0 with Java 6 (OS X). To reproduce:

[code]

This will compile the project. sbt will crash at some point:

[code]

If one runs `compile` again, it apparently succeeds, but has some incomplete state (see [Stack Overflow](http://stackoverflow.com/questions/20515612/make-sbt-recompile-affecte

[2013-12-11 17:50] dansanduleac commented on #1034
My use case is that I have some settings, and I want either _all of them_, or _none of them_, to be defined (or transformed) conditionally on whether some other set of settings is defined (in the previously mentioned case, these "triggers" are `team`, `kind` and `visibility`). I suspect it could more clearly be solved with the idea of "[features](https://github.com/sbt/sbt/pull/998#issuecomment-29

[2013-12-11 18:25] harrah commented on #1034
Ok, I think you have a good argument there.  You want them to be injected where they are defined: not appended or otherwise change the model.  What are the obstacles you see to implementing this?  Is the current implementation amenable to this?  In your third point, did you mean to disagree with "there is an inconsistency"?  It seems to me after understanding your clarified argument that there is

[2013-12-11 18:39] dansanduleac commented on #1034
Yes, exactly!
I've already whipped up an implementation and it seems to work for my use case. I ran a quick test and see some tests failing, but then again I'm on 0.14 so not sure if it's because of my change or not, will look into it.
Hmm that's odd, I meant to agree... but in the idea that "the _values_ of the defined deps that a setting gets derived from are not necessarily the values that the

[2013-12-11 18:43] harrah commented on #1034
Ok, sounds good.  To be clear, this will still work, right?

[code]

[2013-12-11 18:44] dansanduleac commented on #1034
Yes

[2013-12-11 20:01] dcsobral commented on #968
I wish you had not closed it without more information, for I have the same problem.

[2013-12-11 20:03] harrah commented on #968
The error message indicates that a 0.13 launcher is required.  If you are using a 0.13 launcher and you are seeing the error, this is not a well-known problem.

[2013-12-12 05:37] vn971 commented on #968
@dcsobral in another words, you should upgrade the _launcher_ (executables+jar) to be able to use 0.13.0.

[2013-12-12 09:12] hsn10 commented on #731
is this https://github.com/sbt/sbt/commit/96e5a7957c830430f85b6b89d7bbe07824ebfc4b documented somewhere?

[2013-12-12 10:21] hsn10 commented on #731
I can not get it work. Can you add debug messages to Update.scala line 52 - "Reading properties file"
and at line 60 if all needed properties are defined "boot Credentials loaded"?

[2013-12-12 14:12] jsuereth commented on #968
We haven't quite worked out a way to automatically upgrade the launcher.  It's possible the Activator team may figure out a mechanism, and pull requests are welcome in this area.  However, right now you should always be using the latest launcher with previous sbt.

[2013-12-12 16:04] ritschwumm opened #1038 "sbt doesn't like colons in project directory names"
when the directory of a project contains a colon, sbt fails to start:

[code]

[2013-12-13 05:59] opyate commented on #752
@hsn10 Has #752 and #779 been closed as duplicates of one another?

Please open this one again, as it came first.

[2013-12-13 06:08] lihaoyi commented on #895
+1 to this issue for biting me too

[2013-12-13 08:12] greenrd commented on #355
This is a documentation issue and should be reopened. The documentation says:

This is wrong!

[2013-12-13 09:34] Blaisorblade commented on #895
Don't worry, and thanks for posting your solution!

[2013-12-13 14:10] harrah commented on #752
This one is not closed, although it does not have a reproducible test case and so it perhaps should be closed.

[2013-12-13 16:06] harrah commented on #1028
Please use StackOverflow for support: https://github.com/sbt/sbt/blob/0.13/CONTRIBUTING.md#new-issues.  The bug tracker is best used as a todo list or record of known bugs.

[2013-12-13 16:06] #1028 closed, assigned to nobody

[2013-12-13 18:34] harrah commented on #847
Pull request #1040 pending.  Please comment there if you have an opinion on the risk/value of merging in 0.13.2 v. 0.14.0.

[2013-12-13 19:06] #1035 closed, assigned to harrah

[2013-12-13 19:13] harrah commented on #1035
This appears to be a Java reflection bug, probably one of the ones linked here: http://bugs.sun.com/bugdatabase/view_bug.do?bug_id=6476261.  The commit here is a workaround.

[2013-12-13 19:19] Sciss commented on #1035
Ok, thanks!

[2013-12-13 19:46] harrah commented on #1004
Fixed by #1016.

[2013-12-13 19:46] #1004 closed, assigned to nobody

[2013-12-13 19:48] harrah commented on #847
Fixed by #1040.

[2013-12-13 19:48] #847 closed, assigned to nobody

[2013-12-14 16:06] axel22 commented on #335
Yes, please -- update git dependencies too.

[2013-12-14 20:53] harrah commented on #1038
At best I see sbt issuing a better error message.  Colons are used for separating Java classpaths on unix.

[2013-12-15 17:03] 404- opened #1041 "Passing commandline arguments to an SBT script doesn't work in 0.13.1"
Given an executable file called 'sbt-test.scala' which contains the code below, attempting to run using SBT 0.13.1 with the following args yields errors:

[code]

[code]

Running the same commands but with SBT 0.13.0 completes successfully and yields expected output without any errors

[code]

[2013-12-15 19:10] ritschwumm commented on #1038
hm, good point. same problem with semicolons on windows, i guess.

[2013-12-16 13:27] jsuereth commented on #1032
Yeah, I think it sounds the most reasonable to make `fork := false` and `fork := true` be consistent, and we can't change the `fork := false` case safely.

Definitely will need a migration guide when this is fixed.

[2013-12-16 13:30] jsuereth commented on #355
Good catch. Patches more than welcome: https://github.com/sbt/sbt/blob/0.13/src/sphinx/Detailed-Topics/Java-Sources.rst

The documentation isn't wrong necessarily, but it should definitely use a more specific `javacOption in (Compile, compile)` as well as describe how sbt tries to share options between javadoc + java similarly to how it shares options between scaladoc + scalac.

[2013-12-17 10:27] tuxdna opened #1044 "A way to fetch classpath string for java CLI -cp"
I can fetch a classpath string for dependency jar files.

Curent I can use `compile:dependency-classpath` but it returns a format which needs to be manually transformed into a classpath string.

[code]

This is how I am transforming it into a classpath string

[code]

How can similar functionality be achieved using SBT?

[2013-12-17 13:16] dansanduleac commented on #1034
While merrily using this new implementation that I'm proposing, I've stumbled upon another issue (or at least I think it is):
The derived settings are always derived in the scopes of one of the dependencies (namely, for each scope where some setting gets derived, that scope will be taken from whichever dependency 1) is a trigger and 2) is processed last, after all other dependencies are/have alrea

[2013-12-17 14:19] harrah commented on #1034
- Do you really mean intersect?  I would think you'd only want if `depScope` delegates to `derivedScope` and not the other way.
- `This` and `ProjectReference`s besides `ProjectRef` and `BuildRef` get resolved before the `Seq[Setting[_]]` is passed off to the settings system, which is why you don't see `This`.
- Derived indeed wasn't designed with the expectation of using `+=`.
- I think this is a

[2013-12-17 15:39] dansanduleac commented on #1034
- The reason why I also accept when `derivedScope` delegates to `depScope` is that my dependencies might all be in `ThisBuild`, for instance, but my derived setting was defined in `projectSettings`. In this case, I can do two things (not sure which of them you were suggesting):
  - **not derive**; however, this behaviour would be inconsistent with the case where this setting would be a normal sett

[2013-12-17 16:08] dansanduleac commented on #1034
Actually I found the answer myself for why there are more than 1 of those settings: back when they were `DefaultSetting`s they would get collapsed and only the first occurrence kept (if the comment above `class DefaultSetting` is to be trusted).

[2013-12-18 04:25] grmpfhmbl opened #1046 "Example for Generate Resources is not working"
http://www.scala-sbt.org/0.13.0/docs/Howto/generatefiles.html

The example for Generate Resources is not working. It gives a compile error on loading the build definition

[code]

Correct code must be

[code]

[2013-12-18 15:24] Blaisorblade commented on #399
Isn't this fixed by quite some time, or is that just my impression? In 0.13.1, adding whitespace to some dependency of some file containing macros causes the macro clients to be recompiled. (I tested this right now with https://github.com/Blaisorblade/hoas-with-names).

On the other hand, the canonical macro usage example (linked from the macros documentation) still references this bug, so closing

[2013-12-18 15:47] xeno-by commented on #399
/cc @xeno-by

[2013-12-18 15:50] harrah commented on #399
Incremental compilation of macros is an ongoing problem.  This bug requests recompilation when a dependency of the macro definition changes.  That is not implemented.  Currently, only if the file containing the macro definition changes will clients be recompiled.

[2013-12-18 16:02] Blaisorblade commented on #399
I thought my testcase showed the contrary, but of course I was wrong; my macro definition is recompiled every time because of scalamacros/paradise#11.

[2013-12-18 17:10] #1038 closed, assigned to nobody

[2013-12-19 16:16] SethTisue commented on #1046
should be closed as a duplicate of #971

summary: in 0.13.2 #866 will give us `.taskValue` to use with `+=`, but for now we have to keep using `<+=`

[2013-12-20 03:43] grmpfhmbl commented on #1046
_sigh_ It's is not a duplicate of #971, because it's not about the `+=` vs `<+=`. Just click at the provided link and scroll down to the code mentioned. I maybe should have pasted the code from the current documentation though.

Original code in documentation:

[code]

`Def.task` is missing after `<+=`. what is clearly a different thing.

[2013-12-21 10:09] axelfontaine opened #1047 "SBT 0.13 expects plugin artifacts on wrong path on Maven Central"
The general convention for Jar artifacts on Maven Central is

repo/groupId/artifactId/version/artifactId-version.jar

With an SBT 0.13 plugin, SBT now looks for

repo/groupId/artifactId_2.10_0.13/version/artifactId-version.jar

whereas to stay consistent and compatible with other tools, this really should be

repo/groupId/artifactId_2.10_0.13/version/artifactId_2.10_0.13-version.jar

[2013-12-21 15:08] axaluss opened #1048 "visual overviews of sbt"
My experiences and talks with colleagues showed to us that simple build tool is by far not simple.
Visual overviews similar to [this one for hg](http://upload.wikimedia.org/wikipedia/commons/e/e4/Mercurial_commandd_and_their_relations.png) would really help to wrap the head around how sbt's components work.

[2013-12-21 22:57] 404- commented on #335
+1
i'm using 0.13.0 - definitely doesn't work for Git projects

[2013-12-23 14:52] jsuereth commented on #1048
So far, i've been focusing my own efforts on sbt in Action (the book) for such visualizations.  Once that is complete, we'll see what we can get into the sbt documentation itself.

It would be a great help if you outline the specific pieces you're having issues with so we can spend time on that documentation first.  Visual overviews for things people already understand probably aren't as helpful (

[2013-12-23 15:01] SethTisue commented on #1046
You're right.

[2013-12-23 20:18] huntc opened #1052 "The sbt launcher and custom character sets"
In the course of writing a plugin I may have discovered an issue regarding the use of custom character sets and the sbt launcher.

My plugin depends on a library that requires some custom character sets. The library correctly declares the requisite service provider interfaces.

If I run main code on the library within sbt using "fork in Run" then all is well. However if I do not fork, for example

[2013-12-23 20:42] jsuereth commented on #1052
Anything that requires the system classloader breaks any container from
using it, without hacky workarounds.

There are a few potential solutions, we should discuss:

1) the start script has a mechanism to include additional jars when
starting sbt.  Thesr may be shaded by our loader.
2) use the ext/ directory of the jvm.  Evil.
3) get the jvm to use the context classloader.  May take forever
4) fo

[2013-12-23 22:18] huntc commented on #1052
Thanks @jsureth. None of those options are viable for sbt plugins that have a custom char set requirement; other than lobbying for a JDK change (which won't help with JDK 6 I suspect).

I might try to get the library I'm using to avoid custom char sets in the way it is.

I suppose though that this really is a JDK issue in the end. On reflection I'll consider raising the issue there as it doesn't f

[2013-12-23 22:18] #1052 closed, assigned to nobody

[2013-12-24 16:24] axaluss commented on #1048
A general architecture overview would be nice.
Also some views of the keys and tasks.
How tasks work and how they interact and can be customized.
Scopes of commands, settings etc.
Default command overview and their effects similar to [this one for hg](http://upload.wikimedia.org/wikipedia/commons/e/e4/Mercurial_commandd_and_their_relations.png).
Actually anything that is mentioned in the getting s

[2013-12-26 19:52] mslinn opened #1053 "SBT script on Mac is deficient"
I installed sbt on Mavericks via brew and again with port, and each time I found that the sbt script is much less capable than the sbt script installed on Linux using apt-get. For example, the -mem option is not supported by the Mac versions of the sbt script.

[2013-12-26 20:22] jsuereth commented on #1053
We don't support either brew or Port _directly_.  We provide our script in downloadable tgz/zip files that these systems can use.  You should open a ticket against the port or brew packages directly and perhaps point them here:  https://github.com/sbt/sbt-launcher-package.

[2013-12-26 20:22] #1053 closed, assigned to nobody

[2013-12-26 20:36] mslinn commented on #1053
One possible workaround might be to copy in the sbt script from this project and modify it. What is the original source file(s) for the sbt script found on Linux?

[2013-12-26 21:17] jsuereth commented on #1053
https://github.com/sbt/sbt-launcher-package/blob/full-packaging/src/universal/bin/sbt

You can also download the tgz from here: http://repo.scala-sbt.org/scalasbt/sbt-native-packages/org/scala-sbt/sbt/0.13.1/sbt.tgz

Like I said, the brew/port issues should be opened at their respective ticket managers.

[2013-12-26 21:22] mslinn commented on #1053
http://mikeslinn.blogspot.com/2013/12/mac-sbt-missing-scripts.html

[2013-12-27 22:17] mslinn opened #1054 "Suggested improvement for unversioned global SBT directory warning"
If you do not create a ~/.sbt/0.13/ directory, SBT 0.13+ runs in compatibility mode, and issues this warning that suggests you should create the directory:

[code]

The sentence actually says the opposite of what was intended. A better wording might be:

[code]

Also, I suggest that this be removed:

[code]

Changing sbt.global.base leads to confusion and is rarely needed. SBT is complicated enoug

[2013-12-29 15:04] OlegYch commented on #829
there is still a problem with version specific search
e.g. https://www.google.com/search?q=sbt%20using%20plugins shows 'Using Plugins' page
but https://www.google.com/search?q=using+plugins&sitesearch=http%3A%2F%2Fwww.scala-sbt.org%2F0.13.1%2Fdocs%2F (from search box in scala-sbt.org) does not show it
perhaps google filters out duplicate results (ie coming from release/ and 0.13.1/ ) ?

[2013-12-30 16:12] jrudolph opened #1055 "Prevent loading a project with the wrong version of sbt"
This situation arises if someone tries to use `reload` after having changed `build.properties`. As it's probably harder/impossible to fix taking `build.properties` into account when running `reload` sbt could at least refuse to load when the sbt.version in `build.properties` doesn't match the current runtime version.

[2014-01-01 15:20] metasim opened #1057 "Provide scaladoc for DefinableSetting functions"
Provide scaladoc for [DefinableSetting](http://www.scala-sbt.org/release/api/index.html#sbt.Scoped$$DefinableSetting) functions `<<=`, `?:`, `??`, `or`. Their purpose isn't evident from their spelling alone.

[2014-01-02 14:15] harrah commented on #1046
A patch is welcome.  Thanks!

[2014-01-02 14:43] harrah commented on #1055
Note that `reboot` is the command that indicates you want to completely restart sbt and reread `build.properties`.  This throws away pretty much everything, so it shouldn't be run unless it is actually needed.  `reload` could perhaps see if `build.properties` has changed and run `reboot` if it did, but I don't know whether that is a good idea.

[2014-01-02 15:57] jozic commented on #1055
`reload` could emit a warning if `build.properties` has changed and recommend to run`reboot` explicitly

[2014-01-02 16:00] jsuereth commented on #1055
That seems most reasonable
On Jan 2, 2014 10:57 AM, "Eugene Platonov" notifications@github.com wrote:

[2014-01-03 07:11] grmpfhmbl commented on #1046
It's fixed in the current version of the file in the 0.13 branch with commit fcb35f3b8ffe7f460314a003868d51a49197d114. As your contribution doc says to always work against the current development branch and the issue is fixed there, do you want me to submit a patch for 0.13.1?
Sorry for beeing complicated, but I'm new to gitHub and try to find my way around at the moment :)

[2014-01-03 17:42] eed3si9n opened #1059 "keys defined in *.sbt cannot be rewired via set command"
Originally reported as:
- https://twitter.com/xuwei_k/status/371176463334010881 by @xuwei-k
- http://stackoverflow.com/questions/20896393/why-set-cant-assign-value-to-custom-settingkey-i-can-show-in-sbt-shell by @SethTisue
## steps

In `build.sbt`:

[code]

Then from shell:

[code]
## problem

[code]
## expectation

`set` command rewires the setting for `startServer`.
## note

[0.13 changes](http:

[2014-01-03 18:17] eed3si9n commented on #1059
@xuwei-k reminded me that the limitation has been mentioned in 0.13.0 changes. Is this too hard to fix?

[2014-01-03 21:23] harrah commented on #1059
I don't remember exactly the issues, but it is probably not too hard to put the enclosing modules on the classpath and import them.  It might be the class loading that is hard- I think each `.sbt` gets its own class loader.  You can write a class loader that will load from multiple parents (sbt has a dual loader), but it does complicate things.  If you are interested in addressing this, I can give

[2014-01-03 21:38] harrah commented on #1046
That's ok, thanks for checking.  This is indeed an exception- there is a proper fix in the development branch and only the 0.13.1 needs this change.

[2014-01-04 01:03] benmccann commented on #911
@harrah you mentioned a few months ago that an enhancement of running a single test "natively" via sbt syntax was deferred to 0.13.1. was that released in 0.13.1 and can this bug be closed? or has it since been deferred to a later release?

[2014-01-04 01:06] harrah commented on #911
Deferred.  (You can see the target milestone at the top.)

[2014-01-04 23:55] notmandatory commented on #335
I'm using play 2.2.1 with sbt 0.13.0 with a SNAPSHOT dependency from my local .m2 updating to my .ivy2 cache.  I can confirm that my SNAPSHOT dependency does not get updated in the .ivy2 cache, even after a clean and update.  I tried adding changing() to my SNAPSHOT dependency config in build.sbt but that did not help.  Only if I manually delete my SNAPSHOT package from .ivy2/cache does it then ge

[2014-01-05 00:00] notmandatory opened #1061 "SNAPSHOT dependency not updated"
I'm using play 2.2.1 with sbt 0.13.0 with a SNAPSHOT dependency from my local ~/.m2 updating to my ~/.ivy2/cache. My SNAPSHOT dependency does not get updated in the ~/.ivy2/cache, even after a clean and update. I tried adding changing() to my SNAPSHOT dependency config in build.sbt but that did not help. Only if I manually delete my SNAPSHOT package from `/.ivy2/cache does it then get updated.

Th

[2014-01-06 23:48] gkossakowski commented on #1010
Hooray! The name hashing algorithm has been merged. Now we need a release of sbt and we can start testing it quite seriously.

I'll be working on a longer blog post which contain specific numbers on improvements this algorithm introduces. Stay tuned!

[2014-01-07 00:00] benmccann commented on #1010
Woohoo!!! Best commit ever!

[2014-01-07 13:14] retronym commented on #1010
Folks could already start battle testing against a SBT nightly, right?

[2014-01-07 13:51] jsuereth commented on #1010
Yeah, however with this AND the sbt-server stuff in launcher I think we need a Milestone release of 0.13.2 so we can test these two high-pri features.

[2014-01-07 16:27] gkossakowski commented on #1010
:+1: to milestone release. I don't know what's schedule for sbt-server but from my point of view we can cut as soon as possible.

[2014-01-08 03:35] adriaanm commented on #1010
Awesome work y'all! :cake:

On Tuesday, January 7, 2014, Grzegorz Kossakowski wrote:

[2014-01-10 13:38] hamnis commented on #828
any update on this?

[2014-01-10 17:06] OlegYch opened #1071 "assertion failed: When `nameHashing` is disabled `names` relation should be empty: $names"
using 0.13.2-M1 with incOptions := incOptions.value.withNameHashing(true)
i get the error on incremental compilation
last doesn't show  stacktrace for some reason

[2014-01-10 17:08] gkossakowski commented on #1071
What about `last compile`?

Also, I assume you did run `clean` after turning on name hashing, right?

[2014-01-10 18:51] OlegYch commented on #1071
same for 'last compile' and 'last tehproject/compile:compile' , yes i did clean all projects
the tehproject contains one single source file (which was not modified in any way) and doesn't depend on any other subprojects btw

[2014-01-10 21:03] tpolecat opened #1072 "doc: example for manifest from file is wrong"
The example at http://www.scala-sbt.org/0.13.1/docs/Howto/package.html#manifest for "read the manifest from a file" doesn't compile. This

[code]

should be something like

[code]

[2014-01-10 21:23] gkossakowski commented on #1071
It's really strange. Can you share this project or reproduce it in a sample project so I can have a look into it?

[2014-01-10 21:32] OlegYch commented on #1071
i'll try to minimize it but it was too weird and spurious, so can't promise anything

[2014-01-10 21:38] gkossakowski commented on #1071
Thanks a lot! Is your project a Play project or just a plain sbt project?

Also, it's really strange if this problem is not deterministic. The whole incremental compiler is deterministic.

[2014-01-11 12:27] jaceklaskowski opened #1073 "; + show scalaVersion doesn't change scalaVersion"
`+ show scalaVersion` works fine, but it doesn't when executed with `;`. See the below session with SBT 0.13.1.

[code]

[2014-01-11 12:42] jaceklaskowski opened #1074 "+ fails with single-letter-named aliases"
[code]

Shouldn't at least `alias` command warn a user when a single-letter name is used to define an alias?

[2014-01-13 10:31] hanxue opened #1075 "Release milestone sbt-launch.jar"
Can you please release sbt-launch.jar for major miletones? At the moment, there are only daily releases at http://repo.typesafe.com/typesafe/ivy-snapshots/org.scala-sbt/sbt-launch/0.13.2-20140112-062314/

The github releases contain the whole source directory. Would be nice to have milestone specific sbt-launch.jar instead of building it on our own. Thank you.

[2014-01-13 12:39] jsuereth commented on #1075
It's already there: http://repo.typesafe.com/typesafe/ivy-releases/org.scala-sbt/sbt-launch/0.13.2-M1/

Milestones go in the releases directory as they will not change.

[2014-01-13 12:39] #1075 closed, assigned to nobody

[2014-01-13 16:25] gkossakowski opened #1077 "Do not use `macro` as identifier in sbt code base"
Use of `macro` as an identifier has been deprecated in Scala 2.10 and will be prohibited in Scala 2.11.

We should inspect sbt code base and get rid of uses of `macro` as an identifier. For example, we'll need to update:
- `sbt/src/sbt-test/source-dependencies/macro`
- `sbt/src/sbt-test/source-dependencies/macro-name-hashing`

scripted tests. Nonetheless, the whole code base should be grepped.

[2014-01-13 17:08] gkossakowski opened #1078 "Reduce compilation speed overhead introduced by incremental compiler"
**UPDATE from April 25th**: The numbers in this ticket are wrong. See the comment below the ticket description for correct numbers. In the light of finding that the overhead is much lower than it was originally suspected, there are no plans on improving performance overhead of incremental compiler and this ticket is closed.

~~The incremental compiler adds significant overhead to clean builds of S

[2014-01-13 19:15] gkossakowski opened #1079 "Unstable API representation when structural types are involved"
I discovered a bug related to structural types and their unstable API representation that causes spurious invalidations. The bug can be observed in scalaz, using [this](https://github.com/gkossakowski/scalaz/tree/topic/inc-unstable-structural-types) branch. The branch enables both name hashing and api debugging. The bug itself is not related to name hashing but we keep it enabled so we get less in

[2014-01-13 19:15] gkossakowski commented on #1079
//cc @retronym

[2014-01-14 00:05] nairbv opened #1080 "sbtopts overrides not honored in expected way"
I installed sbt 13.1 using the .deb file.  In the file /usr/bin/sbt (`which sbt`) there's a line:

declare -r sbt_opts_file=".sbtopts"

Which looks like it should be:

declare -r sbt_opts_file="${HOME}/.sbtopts"

If I put a .sbtopts file in my home directory, the options I specify aren't honored.  If I make the above change, they are.

[2014-01-14 15:53] gkossakowski opened #1081 "Restart of sbt is required after changing the value of the name hashing flag"
If you change the value of the name hashing flag then simply running `clean` followed by `compile` is not enough to switch to different implementation of incremental compilation algorithm. It turns out, a full restart of sbt is required because Analysis objects are cached in memory by incremental compiler.

The caching was introduced in 135609e5b0656a05eb9e6d4f14e0ca2165edb81e. The commit message

[2014-01-14 17:07] jsuereth commented on #1080
This was original meant for project-local overrides of `/etc/sbtopts`.  Can you please reopen this ticket against:

https://github.com/sbt/sbt-launcher-package

I'd like to do some further discussion of possibilities.  I think reading options from multiple files may be a nice addition, and we should read from the home directory too.

[2014-01-14 17:07] #1080 closed, assigned to nobody

[2014-01-14 17:26] jsuereth commented on #1072
Thanks for the report.  Feel free to submit a patch if you'd like!

[2014-01-15 10:37] fommil opened #1083 "share external compiler with IntelliJ / ENSIME / maker"
IntelliJ can use an external Nailgun and it would be incredibly useful if either SBT could use IntelliJ's instance or SBT exposed a server that IntelliJ could use.

This would dramatically reduce compile times on larger projects.