[2017-08-16 18:15] xuwei-k commented on #3457
https://github.com/sbt/sbt/issues/3411

[2017-08-16 18:47] yawaramin commented on #3457
Closing as duplicate.

[2017-08-16 18:47] #3457 closed, assigned to nobody

[2017-08-16 18:52] amanjpro commented on #3449
Strange, I get the following:

[code]

I also have this line in my `/usr/local/etc/sbtopts`:

`-Dsbt.boot.credentials=~/.sbt/.credentials`

~Moving~ Copying the credentials to `~/.sbt/0.13/` gives a result like yours

[2017-08-16 19:14] amanjpro commented on #3449
So, if I remove the entry in `sbtopts` the launcher fails to download the specified sbt version from artifactory. And if I move credentials from `0.13/plugins/` to `0.13` artifactory fails to download the dependencies!

[2017-08-17 00:19] dpovey commented on #2963
Please note I still have this problem on the sbt 1.0 release on MacOS Sierra 10.12.6
When sbt exits (in both interactive and non-interactive mode) terminal does not echo.

[2017-08-17 08:04] olafurpg commented on #3454
Rewriting tuple syntax might be doable, but to my best knowledge it's not possible to translate tuple enrichments to `.value` in some cases without changing semantics. I'd like to prioritize the rewrites on lower hanging fruits.

[2017-08-17 08:04] dwijnand commented on #2963
@dpovey tracked as https://github.com/sbt/sbt/issues/3453.

[2017-08-17 08:06] dwijnand commented on #3449
Ah, now I understand. You need the credentials to download sbt. Now `~/.sbt/0.13/plugins/credentials.sbt` makes sense.

[2017-08-17 08:26] dwijnand commented on #3454
I believe it's possible to rewrite from tuple syntax to .value syntax and reserve the same behaviour. And if it's not possible for all cases, it's possible for >90% of them, imo.

What you are referring to is that the `.value` macro introduces some changes in semantics to Scala's semantics. See also Jorge's and Eugene's chat about that in PR #3079.

You have more knowledge of Scalafix and rewrites

[2017-08-17 08:34] olafurpg commented on #3454
I am happy to discuss tuple syntax rewriting in https://github.com/scalacenter/scalafix/issues/292

Regardless of the rewrite, what should be done about the deprecation warnings on tuple enrichments?

[2017-08-17 09:30] dwijnand commented on #3454
I'm as of yet still unconvinced the solution is to remove the deprecations in 0.13.17+.

As I said above the (imo) ideal solution would be one that:
+ keeps the tuple syntax deprecated without the import,
+ makes it non-deprecated with the import, and
+ maintains backwards compatibility

though I'm not sure if it's possible.

[2017-08-17 09:34] olafurpg commented on #3454
I agree that would be an ideal solution. What do you propose as the next actionable step? I find the current deprecation warnings confusing.

[2017-08-17 09:57] dwijnand commented on #3454
The current deprecation warnings read:

In my opinion referring to it as "deprecated" is correct. Perhaps having the example is confusing. Also (somewhat confusingly) that page has become "Migrating from sbt 0.13.x" in the sbt 1 docs, to include additional changes; compare:

+ http://www.scala-sbt.org/0.13/docs/Migrating-from-sbt-012x.html
+ http://www.scala-sbt.org/1.0/docs/Migrating-from-sbt-013

[2017-08-17 10:10] olafurpg commented on #3454
Saying "The sbt 0.10 DSL is deprecated" is confusing IMO when `import TupleSyntax._` is enough to keep using the same DSL in sbt 1.0. I understand the motivation to encourage users to move to `.value` but I feel `@deprecated` should be reserved for features that are truly deprecated. Bumping a big old sbt build from 0.13.6 to 0.13.16 typically results in a ton of deprecation warnings, which might

[2017-08-17 10:32] dwijnand commented on #3454
What are you defining as "features that are truly deprecated"? Do you mean `@deprecated` should only be used for things that are being dropped, not also for things that are being moved?

Here are some useful references I looked up.

The relevant definition of "deprecate" in the Oxford dictionary:

(https://en.oxforddictionaries.com/definition/deprecate)

and from the Java documentation:

(https://

[2017-08-17 10:54] olafurpg commented on #3454
You have convinced me that it is OK to keep the `@deprecated` on tuple enrichments.

My worry comes from the fact that there are lots of deprecation warnings that may demotivate users to upgrade.

Might be a cool idea, but I prefer to invest my efforts on helping people upgrade to sbt 1.0 😉

[2017-08-17 10:56] dwijnand commented on #3454
Hopefully we can reassure them by promoting the availability of great tooling: the sbt 1 scalafix rewrites.

[2017-08-17 10:57] olafurpg commented on #3454
I have updated the PR following your advice. The message is now

[2017-08-17 12:42] ekrich commented on #3453
I thought this was fixed (except for non-standard terminals) when I tested on one the 1.0.0-M5/M6 versions?
Reference: https://github.com/sbt/sbt/issues/2963

In general are the `stty` settings saved and then restored on sbt exit? Is the `ScriptMain` entry point different than a regular entry point in regards to shell handling?

Workaround by typing `stty echo` or by using newest version of https:

[2017-08-17 14:40] dwijnand opened #3458 "Library dependency missing in `managedClasspath` when upgrading from sbt 0.13.16-M1 to 0.13.16-RC1"
## steps

Set sbt.version to 0.13.16-RC1 (or 0.13.16) and use the following build:

[code]

## problem

Invoke `show z/test:managedClasspath`:

[code]

## expectation

I expect JUnit to be present in the project z's test configuration managed classpath.

## notes

This is the `z/test:managedClasspath` using sbt 0.13.16-M1:

[code]

The original bug is in upgrading sbt/sbt's 0.13 branch build from

[2017-08-17 15:06] chEbba commented on #1888
Hi there. Any news here? The problem is still presented in 0.13.x branch (haven't tested 1.0 yet).
Btw, same issue #1380

[2017-08-17 15:44] fommil commented on #2534
another possible impl could be `configSettings` which gets called per config, wrapped in `inConfig` already. Or a `projectSettingsFor(config: Configuration)`

[2017-08-17 16:41] smarter opened #3460 "com.typesafe.sbt:sbt-interface:0.13.16 is not published"
This is the exact same issue as https://github.com/sbt/sbt/issues/3012 but for 0.13.16 now. /cc @eed3si9n

[2017-08-17 17:49] wsargent commented on #3451
I am seeing this when I use "brew install sbt" on MacOS, for every project involving resolvers.  Doesn't have to be an SBT plugin.

[2017-08-17 18:29] eed3si9n commented on #3451
What do you see when you type `sbt -v`?
This almost sounds like you have repo override enabled - http://www.scala-sbt.org/0.13/docs/Proxy-Repositories.html

[2017-08-17 18:56] wsargent commented on #3451
Sonofa... I used the scripts from

https://github.com/wsargent/docker-scala-sbt/blob/master/images/shell/.zshenv#L13

but forgot I was specifically overriding repo so I could get it to work with Artifactory:

https://github.com/wsargent/docker-scala-sbt#artifactory

My bad, you can close this out.

[2017-08-17 18:56] #3451 closed, assigned to nobody

[2017-08-18 13:36] #3393 closed, assigned to nobody

[2017-08-18 15:17] mukesh14j opened #3461 "SBT issues"
Error during SBT execution: Label <!Doctype html> is not in section
sbt version: 0.13

[2017-08-18 15:27] tpolecat commented on #2900
Is there any workaround? Can I make another command that calls the one in the other project or something?

[2017-08-18 16:20] dwijnand commented on #3461
Hi! In order to be able to solve issues we need to be able to understand and reproduce them, which is why we have defined an issue template, which you can find at https://github.com/sbt/sbt/blob/1.x/ISSUE_TEMPLATE.md. Unfortunately without that we cannot solve the issue you're seeing.

[2017-08-18 16:20] #3461 closed, assigned to nobody

[2017-08-18 16:23] dwijnand commented on #2900
Yep, that's possible:

[code]

[code]

[2017-08-18 16:30] mukesh14j opened #3462 "Reinstallation if SBT doesn't work"
(See the guidelines for contributing, linked above)

## steps
1) Install the SBT in windows 7.
2) uninstall and install again SBT
3) set the path of SBT in path variable
4) now open the command prompt and type sbt

## problem
It gives an error
Error during SBT execution:Label <!DOCTYPE html> us not in section

## expectation

Should run successfully without any error

## notes
Both times the insta

[2017-08-18 16:50] mukesh14j opened #3463 "Reinstallation of SBT doesn't work"
## steps
1) Install the SBT in windows 7.
2) uninstall and install again SBT
3) set the path of SBT in path variable
4) now open the command prompt and type sbt

## problem
It gives an error
Error during SBT execution:Label <!DOCTYPE html> is not in section

## expectation

Should run successfully without any error

## notes
Both times the installation path are different and environment variables

[2017-08-18 16:51] dwijnand commented on #3462
Duplicate of #3463

[2017-08-18 16:51] #3462 closed, assigned to nobody

[2017-08-18 18:44] eed3si9n commented on #3463
@mukesh14j Thanks for the report.
We only support the latest patch versions. Could you try installing 0.13.16 please?
Also does this happen with any builds? If not, could you upload a sample build somewhere?

[2017-08-19 18:10] chikei opened #3464 "literal `import` as project id will cause sbt unable to set."
## steps
1. create simple build.sbt as
[code]
2. set some key like `set version := "1.0.0", REPL or command line argument will do

## problem
set command will fail with message:
[code]

## expectation
key set to new value without any error.

## notes
tested on sbt version: 0.13.12/15/16 and 1.0.0, all versions failed.

[2017-08-19 19:58] mukesh14j commented on #3463
This happens with all builds, latest build too

[2017-08-20 08:09] liff opened #3465 "Cross-built project depending on project with larger set of crossScalaVersions fails to compile"
## steps

1. Create a new project:

[code]

2. Run `sbt +compile`

## problem

Compilation fails with:

[code]

## expectation

`+compile` is successful.

## notes

sbt version: 1.0.0

Works with [sbt-doge](https://github.com/sbt/sbt-doge). Change `sbt.version=0.13.16`, add `addSbtPlugin("com.eed3si9n" % "sbt-doge" % "0.1.5")` to `project/plugins.sbt` and run `sbt 'so compile'`.

[2017-08-21 10:16] dwijnand commented on #3465
/cc @jroper

[2017-08-21 11:45] Rich2 commented on #3413
You may be already aware but it is not just the simple example that is bugged. I can run ~ fastOptJS and ~ fullOptJS on individual scala.js projects. But the repeat command doesn't work in 1.0.0 on my aggregated scalaJs project, while it did work in sbt 0.13.6. I tried to reproduce the bug in a simple example project, but ~ seems to work on some aggregated projects. Its just the aggregated scala.j

[2017-08-22 03:47] jroper commented on #3465
The difference between sbt 1.0.0 and sbt-doge here is that sbt 1.0.0 is including the current project (in this case, the root project) in the list of projects it builds. Which is the correct thing to do, if I have a project `A` and it aggregates project `B`, and from project `A` I run `compile`, I expect both project `A` and `B` to be compiled.

In contrast, sbt-doge would only compile `B`. Which

[2017-08-22 05:15] liff commented on #3465
What kind of setups is the doge cross-building support in 1.0 supposed to handle? If I just copy-paste the [usage example](https://github.com/sbt/sbt-doge#usage) from doge's README, it'll fail to build on 1.0.0. The PR, on the other hand, contains the [same example](https://github.com/sbt/sbt/blob/1.x/sbt/src/sbt-test/actions/cross-multiproject/build.sbt) but without any dependencies between modul

[2017-08-22 05:26] jroper commented on #3465
Don't get me wrong, this is a bug, I'm not saying that it's not a bug. All the examples you have provided should be supported, the fact that they don't work means there is a bug in sbt. But I was just explaining (for the purposes of whoever does end up fixing this) exactly what the problem is. And the situation is not at all simple because the change between sbt-doge and sbt 1.0 that causes the di

[2017-08-22 07:24] gaba-xyz opened #3466 "Dependency resolution fails in Docker"
I have a few dependencies that are hosted on an on-premise Nexus server, a resolver for these dependencies has been added and there is no issue building the project. However when trying to build the project using the `openjdk:8-jre` image module resolution is failing for those dependencies.

Furthermore all dependency resolution is incredibly slow, taking easily 5-6x the normal time of resolution.

[2017-08-22 08:23] dwijnand commented on #3465
Cheers James for fleshing out the problem.

[2017-08-22 12:57] fredericnowak opened #3467 "Use a semantic version as defaut version : 0.0.1-SNAPSHOT"

[2017-08-22 13:02] dwijnand commented on #3467
This is an easy one for the community: https://github.com/sbt/sbt/blob/v1.0.0/main/src/main/scala/sbt/Defaults.scala#L198

Personally I think "0.0.1-SNAPSHOT" makes little sense - I think it should be "0.1.0-SNAPSHOT".

[2017-08-22 16:20] mborra commented on #3106
I have the same issue in only one module with the SBT 0.13.15.

[2017-08-23 07:01] jroper commented on #3393
For those too impatient to wait for a new release:

https://github.com/sbt/sbt-web-build-base/blob/9503fa2cb8cea57cdd859e140941514766a9aebd/src/main/scala/SbtWebBuildBase.scala#L16-L25

[2017-08-23 13:08] jroper opened #3469 "compiler-bridge recompiled for every scripted test when cross building"
When running scripted from an sbt 0.13.16 build, cross building against sbt 1.0, the Scala 2.12 compiler bridge seems to be being recompiled for every scripted test (that does compilation). It doesn't happen when running scripted against sbt 0.13.16 with sbt 0.13.16, just when it's a different sbt (or probably rather scala) version.

Example output shown in every scripted test that invokes compile

[2017-08-23 21:45] #3452 closed, assigned to nobody

[2017-08-24 11:19] Arnauld opened #3471 "SBT 1.0 crash - java.lang.VerifyError: Uninitialized object exists on backward branch"
(See the guidelines for contributing, linked above)

## steps

* MacOS Sierra
* Download last sbt 1.0 version (tar.gz or brew install)
* tar has been unarchied in `~/dev/sbt`
* On the purpose on initialize a new project (`sbt new sbt/scala-seed.g8`), execute `sbt -v` on an empty folder

## problem

[code]

## expectation

## notes

sbt version: *1.0*

[2017-08-24 13:09] eed3si9n commented on #3471
This might be caused by JDK bug - https://bugs.openjdk.java.net/browse/JDK-8046233
Could you print the output of `java -version`?

[2017-08-24 13:19] Arnauld commented on #3471
[code]

[2017-08-24 13:22] nsitbon opened #3472 "Upgrading to SBT 1.0.0 results in dependencies not found"
Hi

here is my _project/plugins.sbt_
[code]
if I change _project/build.properties_ from `sbt.version=0.13.16` to `sbt.version=1.0.0`
I get lots of errors related to unresolved dependencies:
[code]

Any ideas of what is wrong?

Best regards.

[2017-08-24 13:34] eed3si9n commented on #3471
I think that's OpenJDK 8 from 2014. Could you grab the latest and see if the problem persist?

[2017-08-24 13:39] eed3si9n commented on #3472
Play 2.6.3 is not available for sbt 1.x yet.
See https://github.com/sbt/sbt/wiki/sbt-1.x-plugin-migration for list of available plugins, and https://github.com/playframework/playframework/issues/7261 for Play's status.

[2017-08-24 13:39] #3472 closed, assigned to nobody

[2017-08-24 13:59] nsitbon commented on #3472
Thank you so much I missed the link.

Best regards.

[2017-08-24 14:05] Arnauld commented on #3471
Great, It did works with:

[code]
Thanks you @eed3si9n !!

[2017-08-24 14:05] #3471 closed, assigned to nobody

[2017-08-24 21:16] netvl opened #3473 "Cross-build commands for plugins do not work if plugins are subprojects"
## steps

1. Use this build definition:
[code]
2. Run `^^0.13.16` in the SBT console:
[code]
3. Observe that Scala version has not changed (although `pluginCrossBuild::sbtVersion` is correct):
[code]
Not sure if `sbtVersion` being not set to `0.13.16` is a problem, but it is not updated as well:
[code]

## problem

The Scala version is not changed for child projects. The compilation fails with var

[2017-08-25 16:56] yurique commented on #3243
It's me again, sorry. Got another update from the deb channel and it's overwritten my `sbtopts` again. Should I report this somewhere else?

[2017-08-25 18:33] eed3si9n commented on #3243
Hi, it hasn't been a priority to look into this. I just set environment variable like `SBT_OPTS`.

The relevant bits are here (https://github.com/sbt/sbt-launcher-package/tree/master/src/universal/bin) if you'd like to look into fixing it, or suggest a fix.

[2017-08-25 23:29] yurique commented on #3243
@eed3si9n, thanks for pointing me to that location! I've created a PR to fix this issue:
https://github.com/sbt/sbt-launcher-package/pull/179

Of course, it was a busy summer for sbt :)

[2017-08-26 04:03] eed3si9n commented on #3243
Thanks again for the contribution!
Fixed in https://github.com/sbt/sbt-launcher-package/pull/179

[2017-08-26 04:03] #3243 closed, assigned to nobody

[2017-08-26 18:58] eed3si9n opened #3476 "Move dependency resolution tests"
Move dependency resolution tests out of sbt/sbt and into librarymanagement.

[2017-08-26 19:13] eed3si9n commented on #3435
Fixed in https://github.com/sbt/sbt/pull/3442

[2017-08-26 19:13] #3435 closed, assigned to nobody

[2017-08-27 03:14] tmccombs commented on #3240
I still get this when I run `console` in sbt 0.13.16. And characters I type aren't echoed back, which makes using the console pretty difficult.

[2017-08-27 08:05] vn971 commented on #3240
@tmccombs did you just change the version in build.properties, or did you also change the main binary that starts SBT? You have to both, unfortunately.

[2017-08-27 20:13] eed3si9n commented on #3425
Fixed in https://github.com/sbt/sbt/pull/3477

[2017-08-27 20:13] #3425 closed, assigned to nobody

[2017-08-28 01:38] ghost commented on #3449
The IntelliJ IDEA Scala plugin uses Bintray to present a list of available SBT versions in the new project wizard. See https://github.com/JetBrains/intellij-scala/blob/42e1a01bef54aa21a50e9938277f9759eb6565b9/src/org/jetbrains/plugins/scala/project/Versions.scala#L64

[2017-08-28 04:42] tmccombs commented on #3240
My sbt binary is version 1.0.0

[2017-08-28 06:14] vn971 commented on #3240
@tmccombs any reproducable case? Like a repo that can be cloned to see the error?

[2017-08-28 09:46] mnlm1991 opened #3479 "determine dependency.scope ignored dependency.type when convert maven to ivy"
## steps
parent: ./pom.xml
[code]
api: ./api/pom.xml
[code]
core: ./core/pom.xml
[code]

if a scala project dependency has "test" % "core" % "1.0.0", the sbt will determine the core's dependency api.scope is test instead of compile, however maven will think the scope is compile

## problem
this will cause core missing the dependency api

## expectation
dependencyTree has the api dependency

## not

[2017-08-28 11:15] scadgek commented on #3206
Shouldn't this be fixed somehow or at least documented?

[2017-08-28 18:01] eed3si9n commented on #2776
Fixed in https://github.com/sbt/sbt/pull/3446

[2017-08-28 18:01] #2776 closed, assigned to nobody

[2017-08-28 23:33] cunei commented on #3419
I investigated the matter a bit. The actual behavior of `deliver` has not changed significantly in 1.0. Most of the issues arise indeed from the change from `deliverConfiguration` to `publishConfiguration`. In particular, `publishConfiguration` is initialized using this code: https://github.com/sbt/sbt/blob/v1.0.0/main/src/main/scala/sbt/Defaults.scala#L1888-L1890
In that section, `packagedArtifac

[2017-08-29 01:00] liancheng commented on #3256
@eed3si9n You probably want to use a permlink instead: https://github.com/sbt/librarymanagement/blob/6fc7bc6dc9241ba1c668a61e5a80c87563d7b21f/ivy/src/main/scala/sbt/internal/librarymanagement/ivyint/CachedResolutionResolveEngine.scala#L700-L731

[2017-08-29 05:45] clhodapp opened #3482 "1.0.{0,1,2} Opening console multiple times breaks escaping"
## steps
1. Start an sbt shell
2. Type `console<enter>`
3. Type `ctrl-d` or `:q<enter>`
4. Type `console<enter>`
5. Type an arrow key or `ctrl-n`, `ctrl-p`, `ctrl-r`, etc.

## problem
Escapes are not interpreted correctly and sbt prints out garbage characters.

## expectation
Escapes are interpreted correctly and sbt does not print out garbage characters.

## notes
* I'm on a Mac using iterm 2.
*

[2017-08-29 07:07] mr-git commented on #3419
When I tried to "consume" the generated and published plugin in other project.

[2017-08-29 09:48] asflierl commented on #3425
The fix for this changes the semantics of externalDependencyClasspath in Runtime: previously it was possible to add directories (e.g. containing resources like .conf files) to the unmanaged classpath in the runtime config. Now this classpath only allows jars.

Should this be added to the release notes? Seems like an incompatible / breaking change.

[2017-08-29 13:28] jrudolph commented on #3266
IMO the whole linter should be removed not only for this particular case but for the others as well. In the default case the macro expansion does the right thing of evaluating the task every time. I guess that's somewhat surprising for new users but it's a consequence of the system (and the same as before with the manual syntax). In the case where you want the dynamic behavior you can still use th

[2017-08-29 13:36] 2m commented on #3240
I started getting this error after I have changed my `$TERM` from `xterm` to `xterm-256color`.

[2017-08-29 14:29] ryanb93 commented on #2779
+1 would make CI debugging a lot easier.

[2017-08-29 15:20] cunei commented on #3419
@mr-git I would like to investigate the matter further. Ho do you "consume" the plugin? Do you just refer to it using `libraryDependency` in another project, or do you use some sort of postprocessing? It would greatly help us to have a self-contained example, which we can use to reproduce the failure. You can probably use `deliverLocal` to generate a sample failing ivy.xml that we can inspect.

[2017-08-29 16:48] hntd187 commented on #3482
I experience something similar to this in which if I use any sbt command on the terminal my terminal output is completely broken after. I can no longer see any text output at all, but my terminal responds to commands. I have to `reset` the terminal in order to make it work again.

This also effects me on both 1.0.0 and 1.0.1

[2017-08-29 17:05] eed3si9n commented on #3473
Here's an interesting workaround by @jroper - https://github.com/sbt/sbt-pgp/pull/115/commits/97180d306380f7e8e4ab719be2d7e43ae5d17b18:

[code]

[2017-08-29 18:07] mr-git commented on #3419
So, I have SBT plugin, published in Ivy repository and used in other project by declaring it in `plugins.sbt`
Let me see, if I can repeat the problem

[2017-08-29 19:52] mr-git commented on #3419
Ok, it will not be so easy to repeat, because we make publishing externally, not by SBT's `publish`.
Maybe, you could "fake" it by editing some plugin's ivy.xml file in local cache or on own repo...

As sample `ivy.xml` (generated for 2.10 using SBT 0.13.16):
[code]

Same project, `ivy.xml` generated for Scala 2.10 using SBT 1.0.0 (using `deliverLocal`):
[code]

[2017-08-29 20:11] mr-git commented on #3419
I just noticed that in `deliverLocal` version, there are 2 "mostly harmless" lines (11th and 12th to be precise):
[code]
And then one more pair:
[code]

And the error I got was:

Could it be, that problem is due to having `<conf ..></conf>` style instead of `<conf .. />` style? Could it be that leftover lines of `deliverLocal`, have "harmless" new line in `conf` node, which is not so harmless afte

[2017-08-29 22:33] laughedelic commented on #3437
Same if you launch a second instance of sbt in the same project. I would expect that it can discover a running server and automatically connect a new shell/client to it.

[2017-08-30 00:47] jroper commented on #3473
The way I see it, the sbt cross building support is a convenience for when you just have one project that's an sbt plugin. I don't think there's a straight forward fix for making it work when you have a mixture of sbt plugins and regular libraries - what does it mean to cross build something that isn't an sbt plugin against multiple versions of sbt? In many situations you may want to cross build t

[2017-08-30 01:14] eed3si9n commented on #3473
I agree.

Right. We have the "extra" `_0.13` because we don't assume `scalaBinaryVersion => sbtBinaryVersion` being injective, but thus far it's been injective. The closest we came is sbt 0.11.0 using Scala 2.9.1, and sbt 0.12 using Scala 2.9.2.

[2017-08-30 02:46] tmccombs commented on #3240
hmm, this does in fact appear to be related to the `TERM` environment variable.  I get the error if TERM is one of `xterm-256color`, `xterm-termite`, `screen-256color`,  or `rxvt-unicode-256color`, I don't get the error if TERM is `xterm`, `screen`, or `rxvt-unicode`, or even `nonsense`.

I'm guessing it has something to do with the TERM being set to a terminal that supports 256 colors.

Also, I d

[2017-08-30 05:09] mr-git commented on #3419
http://ant.apache.org/ivy/schemas/ivy.xsd - though I am not fluent in it

[2017-08-30 06:52] avdv commented on #3240
The problem is that Scala 2.11.x and <= 2.12.2 use the old jline version which is not yet fixed. Try to upgrade to 2.12.3...

[2017-08-30 09:22] zsedem opened #3484 "fork set to true with Multiple testframeworks can cause one of the testframework's result ignored"
## steps
set `fork := true` add a failing scalacheck test and a successful scalatest testsuite
run `sbt test`

## problem
Even if property test fails the exit code remains 0 even the sbt shows success in the end (Also scalacheck summary is not printed)
[code]
## expectation
non-zero exit code and error on the end of the sbt output
[code]
## notes

sbt version: *0.13.16*

[2017-08-30 12:07] cunei commented on #3419
Hello,
When testing the xml that you pasted above for `deliverLocal`, the W3C XML Schema online validator at http://www.utilities-online.info/xsdvalidation says: "The XML is Well Formed and Valid." To double check, this is the output from `xmllint`:
[code]
However, the file that you pasted for `deliverLocal` does not contain the `</conf>` element on a separate line as you mention below. The attrib

[2017-08-30 15:34] mr-git commented on #3419
Pardon, I forgot to mention here:

was generated using `deliver` on SBT 0.13.16

[2017-08-30 15:49] dpratt opened #3485 "Logs are full of connection leak warnings during update."
(See the guidelines for contributing, linked above)

## steps

Open a project and run the 'update' task.

## problem

The logs are filled intermittently with entries that look like the following -

[code]

## expectation

This isn't a huge deal, but it might be an indication of an iceberg problem w.r.t. artifact download and resolution.

## notes

sbt version: 1.0.0 and 1.0.1

[2017-08-30 15:52] dpratt opened #3486 "sbt-maven-resolver no longer available in 1.0.x"
(See the guidelines for contributing, linked above)

## steps

Add the maven resolver plugin to any project by putting

[code]

in project/plugins.sbt

## problem

The project can't be loaded due to the fact that org.scala-sbt:sbt-maven-resolver:1.0.0 cannot be resolved.

## expectation

## notes

I don't know if this plugin is supported in the 1.0.x series, but the settings hook function is still

[2017-08-30 17:21] cunei commented on #3419
Let me clarify: in the second `ivy.xml` file you added, generated for Scala 2.10 using SBT 1.0.0 and `deliverLocal`, the `conf` lines are on a single line. Where did you encounter the `conf` lines split on two lines?

[2017-08-30 19:19] mr-git commented on #3419
Hm.. indeed.
Tried again in smaller test plugin locally - SBT 1.0.0, `^deliverLocal` - generated nice `ivy.xml` file, without those offending extra lines, but as soon as I added in `plugins.sbt`
[code]
`^deliverLocal` produced those extra lines...
Same for main plugin.
Seems that I will have to remove `sbt-coursier` as it messes up something when used with SBT 1.0.0, and will have to use either `^

[2017-08-30 19:42] mkurz commented on #3266
+1 please fix this

[2017-08-31 06:03] mr-git commented on #3419
I went with `deliverLocal` for now and it works so far. Waiting for next release with clean `makeIvyXml`.

[2017-08-31 07:03] mr-git commented on #3419
Indeed: https://github.com/coursier/coursier/commit/8f988d4d087065cb8566b3239cd8edabd475962f

[2017-08-31 10:25] sahil-sawhney commented on #3206
@duytruong could you please elaborate your solution
Thanks

[2017-08-31 11:49] duytruong commented on #3206
Hi @sahil-sawhney
As mentioned, I created a directory named `local` manually in `~/.ivy2` and copy the `local-preloaded`'s content to `~/.ivy2/local` (`local-preloaded` is shipped with universal sbt tgz package).

Hope this helps!
If you have any problem, feel free to ask me!

[2017-08-31 11:56] cunei commented on #3419
Ok, so this part is another instance of #3412 (fixed in Coursier 1.0.0-RC11, see https://github.com/coursier/coursier/issues/637#issuecomment-325053899). I will issue an sbt pull request with the patch to `deliver` then this ticket can be closed; thanks.

[2017-08-31 12:55] hag0r commented on #3482
I experience the same issue as @hntd187 on Fedora 26 (Bash 4.4.12). After executing any sbt command (`sbt clean` or even `sbt sbtVersion`) I don't see any output and have to `reset`.

For projects configured via build.properties to use 0.13.9 everything is fine.

[2017-08-31 13:12] sahil-sawhney commented on #3206
I tried with the solution you proposed but it dint worked.
Used following command to copy stuff
**cp -r /usr/local/sbt/lib/local-preloaded /root/.ivy2/local**

[2017-08-31 15:21] duytruong commented on #3206
@sahil-sawhney the destination is `~/.ivy2/local`, not `/root/.ivy2/local`. The `~/.ivy2/local` must contain all sub-directories of `local-preloaded`

[2017-08-31 15:23] eed3si9n commented on #3460
I'll try to get to this at some point.

[2017-08-31 15:33] marconilanna opened #3488 "Upgrade to latest version of Giter8"
Giter8 now has [support for conditionals](https://github.com/foundweekends/giter8/issues/157). To ease adoption by template authors, it is desirable to upgrade Giter8 in the next version of sbt, making it available through the `sbt new` command (the recommended way to get users started through templates).

May require updating sbt-giter8-resolver accordingly.

[2017-08-31 16:11] clhodapp commented on #3482
@hntd187 @sthagedorn I think you guys should be aware of https://github.com/sbt/sbt/issues/3453, which catalogs your specific issue. It's not unlikely that it's related to this, though.

[2017-08-31 17:05] #3413 closed, assigned to Duhemm

[2017-08-31 19:14] mr-git commented on #3419
Thank you!

[2017-09-01 15:11] jameskoch2 opened #3489 "Project.dependsOn(URI) broken"
This example from the website does not work in 1.0.1:

http://www.scala-sbt.org/1.0/docs/Plugins.html#1d%29+Project+dependency

[code]

Generates error:

[code]

Mucking about, got to this which at least type-checks:

[code]

[2017-09-01 16:36] sjrd opened #3490 "DSL checker reports weird error messages for `(taskKey in scope).value`"
## steps

With sbt 1.0.1, write something like this:
[code]

## problem

You get a weird error message that mentions `in` as if it were the task key:
[code]

## expectation

I would espect the error message not to mention `in` as if it were the name of the task. Ideally, it would tell me `compile` in this case, but it would also be OK to punt and not mention an explicit key name. Saying `in` is co

[2017-09-01 16:40] eed3si9n commented on #3490
I agree this is odd. `.value` is the problem not `x in y` per se.

[2017-09-01 18:49] sjrd opened #3491 "1.x regression: scalaInstance.allJars from compileInputs is missing scala-library.jar and scala-compiler.jar"
## steps

`project/build.properties`
[code]
`build.sbt`
[code]
[code]
If we use sbt 0.13.16 in `build.properties`, we get `scala-library.jar` and `scala-compiler.jar`:
[code]

## problem

The list of jars returned by [`ScalaInstance.allJars`](http://www.scala-sbt.org/1.0.0/api/xsbti/compile/ScalaInstance.html) in sbt 1.x is not enough to spawn a functioning Scala compiler. In my case, I'm giving t

[2017-09-02 20:12] He-Pin commented on #3410
@jvican We in China ,the GFW sometime blocks the sbt repo,but not the maven center,so if sbt-plugins could publish to maven center,then wow,really help.
Some guys have to buy a vpn to use sbt:)

[2017-09-02 21:36] heoa opened #3492 "0.13.16 SBT firing errors with sbteclipse-plugin: how to resolve them?"
I am trying to get this plugin working for the Apache Spark course [here](https://www.coursera.org/learn/scala-spark-big-data) that relies on an old version of Eclipse Scala IDE 2.11 and old version of SBT 0.13.*.

## steps

I run the 0.13.16 SBT from the [website](http://www.scala-sbt.org/download.html) but I am getting the below error with the sbteclipse-plugin. i run things on macOS.

## proble

[2017-09-02 23:20] He-Pin commented on #3423
If we are serving the artifacts on maven center,then it would be much faster.

[2017-09-02 23:21] He-Pin commented on #3423
I mean for mainland China, GFW does that to us.

[2017-09-03 12:06] akauppi commented on #3453
It does still happen for me.

Setup:
- sbt 1.0.0 from HomeBrew
- sbt 1.0.1 in `project/build.properties`

It seems to be the one in `build.properties` that matters. I had that as `0.13.15` and there were no echo issues.

[2017-09-03 20:25] eaplatanios opened #3493 ""publish" Scoping"
I've been trying to scope a setting key to the publish task scope and I've been unable to. To provide a bit more context:

I have a library that uses some JNI bindings. Normally, whenever you run "compile" and "test", I compile these bindings using the GCC in your machine. My native compilation task is using a boolean setting to determine whether to cross-compile for other system architectures. By

[2017-09-04 05:14] Centaur commented on #1117
Upgrade 0.13.x to 1.0.x still causes this problem and nothing mentioned above works. This is really a huge bug.

[2017-09-04 15:03] yurique commented on #3443
I have sbt trying to load supersafe plugin every time I compile a project, even after I removed it from global plugins (and it fails with projects on scala `2.12.3` as supersafe is not released for .3 yet). Had no idea why that was happening. (btw I didn't have any errors in sbt files lately like described here).

sbt 0.13.6

edit: `rm -r project/target` and `rm -r project/project` didn't fix it

[2017-09-04 17:33] jastice commented on #3443
@yurique yup, anything that breaks the build loading may cause this error. Thanks for the additional information

[2017-09-05 05:28] blueway opened #3494 "cant　download sbt1.0.1"
(See the guidelines for contributing, linked above)

## problem
i cant download the lastest sbt version1.0.1 from `scala-sbt.org` website。My country cant access the  cdn.

[2017-09-05 06:13] manojlds commented on #3453
sbt-extras works for now on OS X.

[2017-09-05 10:26] ghik opened #3495 "Switching Scala version with ++ modifies crossScalaVersions (1.0 regression)"
## steps

1. Create a project with more than one `crossScalaVersions`
1. Open SBT shell and inspect `crossScalaVersions` - it should list versions specified in `build.sbt`
1. Switch Scala version using `++`, e.g. `++2.11.11`
1. Inspect `crossScalaVersions` again - it should list the same versions as before, but it lists only the one consistent with current `scalaVersion`

[code]

## problem

`cros

[2017-09-05 12:56] dwijnand commented on #3490
hehehe

[2017-09-05 13:01] dwijnand commented on #3419
Fixed with https://github.com/sbt/sbt/pull/3487 merged (right?)

[2017-09-05 13:01] #3419 closed, assigned to nobody

[2017-09-05 13:05] dwijnand commented on #3486
sbt-maven-resolver was lifted and shifted to https://github.com/sbt/sbt-maven-resolver, but hasn't gotten any attention (love) since.. much like `addMavenResolverPlugin`..

[2017-09-05 13:10] dwijnand commented on #3494
As a workaround can you:

1. Download and use sbt 1.0.0 from the release on GitHub: https://github.com/sbt/sbt/releases/tag/v1.0.0
2. Defines `sbt.version=1.0.1` in your project's `project/build.properties`

Then it'll download the jars for sbt 1.0.1 and run that.

[2017-09-05 13:10] #3494 closed, assigned to nobody

[2017-09-05 13:37] #3489 closed, assigned to nobody

[2017-09-05 15:19] cunei commented on #3419
I thought this ticket would auto-close when merging #3487 (there is the magic autoclose comment), but somehow it didn't. Yes, all is done.

[2017-09-05 15:41] mr-git commented on #3419
Will this get in SBT 1.0.2? When release is planned?

[2017-09-05 15:52] dwijnand commented on #3419
@cunei It didn't because that was merged into the 1.0.x branch, which isn't the default branch.

[2017-09-05 15:56] dwijnand commented on #3419
@mr-git Yes this will be in sbt 1.0.2, but there's no due date for that currently: https://github.com/sbt/sbt/milestone/31

[2017-09-05 16:17] jameskoch2 opened #3496 "IllegalStateException during publishLocal after upgrading to 1.0.1 from 0.13.5"
## steps

1. Upgrade SBT from 0.13.5 to 1.01.
2. Build defn: lazy val aggProj = project.in(file("aggProj")).aggregate(otherProj)
3. Run aggProj/publishLocal
4. See two stack traces related to these two projects:

[code]

## notes

1. I was able to work-around the issue by running `aggProj/update` once, then publishLocal immediately started working.  Did not debug further, sorry. Wanted to log here

[2017-09-05 19:43] NeQuissimus opened #3497 "Incremental compiler crashes because of open file handles"
I searched StackOverflow and GitHub and found no issues like this, so here we go:

## steps

I am running SBT 1.0.1.

I am developing a fairly small Akka HTTP service (which should have nothing to do with the issue but for context).
My workflow is to have an SBT shell open and `~compile` continuously running.

Today this happened:

[code]

Now, unfortunately I derped up and just restarted my sbt a

[2017-09-05 20:18] bpholt opened #3498 "meta-build resources not available to classes loaded as part of sbt plugins"
I recently updated the version of sbt-git included in several of our projects and ran into https://github.com/sbt/sbt-git/issues/102. Because we include the logback slf4j backend in another plugin, we were unable to use the workaround (including the no-op backend to suppress the messages). I assumed I'd be able to include a `logback.xml` config file in the resources of the meta-build (to change th

[2017-09-06 00:28] Rich2 opened #3499 "Repeat "~" command failing on aggregated scala.js projects"
(See the guidelines for contributing, linked above)

## steps
1 Create Folder called "sbtFolder" I'm using absolute path names as that's what I use in my real work sbt project. So when reproducing the bug the absolute path names will have to be adjusted.

2 set sbt.version=1.0.1
3 addSbtPlugin("org.scala-js" % "sbt-scalajs" % "0.6.20")

4 create  sub folder "srcCommon" and place the following scal

[2017-09-06 06:37] DavidPerezIngeniero opened #3500 "sikuliapi dependency cannot be used"
(See the guidelines for contributing, linked above)

## steps
Create a project like this:

[code]

## problem

Dependency resolution fails:

[code]

## expectation

Dependency is found.

## notes

An Ammonite script using this import succeeds:

[code]

Where does `${sikulix.libs}` come from?

sbt version: 0.13.11

[2017-09-06 06:48] DavidPerezIngeniero commented on #3500
Upgrade to latest 0.13.x: 0.13.16 and same results:

[code]

[2017-09-06 08:25] jvican commented on #2884
@eed3si9n Why is this open again?

[2017-09-06 09:12] Duhemm commented on #3499
@Richtype Thanks for the report. I can't reproduce the behaviour you expect on 0.13.15. Can you try again and make sure that it worked the way you describe in 0.13.15?

[2017-09-06 10:00] dwijnand commented on #3497
/cc @Duhemm

[2017-09-06 10:01] dwijnand commented on #2884
This is pending the merge of https://github.com/sbt/zinc/pull/386 and an upgrade of zinc here that includes that fix.

[2017-09-06 11:31] Duhemm commented on #3497
Thanks for the report @NeQuissimus. That's surprising, I've tested it on fairly large codebases, akka/akka, scala/scala and apache/spark, without hitting that issue.

In the meantime, I thing you can workaround the issue with:

[code]

[2017-09-06 11:33] Rich2 commented on #3499
Apologies the statement about 0.13 was not entirely accurate. I was running repeat "~" Scala.js fastOptJS and fullOptJS commands on an aggregated project (6 or 7 scala.js sub projects) hours a day, nearly every day for many months though multiple versions of sbt 0.13 and multiple versions of scala.js. So the functionality definitely worked for me on sbt 0.13.

When I switched to sbt 1.0.0 I discov

[2017-09-06 14:09] NeQuissimus commented on #3497
@Duhemm Thanks, I will run it without the workaround for a while to see if I can gather more information for this ticket. I can always just re-run `~compile`, not a big deal :)

[2017-09-06 14:13] joan38 opened #3501 "Recompiles even if there is no changes"
## steps

[code]

## problem

It recompiles even if there is no changes.

## expectation

Should recompile only if there is changes?

## notes

sbt version: 1.0.1

[2017-09-06 14:47] joan38 opened #3502 "NullPointerException while compiling"
## steps and problem

[code]

## notes

sbt version: 1.0.1

[2017-09-06 15:28] cunei opened #3503 "sbt 1.x fails to compile against current 1.x modules"
Compiling the current 1.x sbt and modules together (using dbuild), the following error appears:
[code]
Relevant SHAs:
sbt/sbt@34945af6314dee3c9ea55a76c882007f44819509
sbt/zinc@ef3a2c48a4e6b6126c8f1d0a99e530d64925c7d3
sbt/io@50fa1529cdfd8a57b614b9279024595a584408a6
sbt/librarymanagement@6fc7bc6dc9241ba1c668a61e5a80c87563d7b21f
sbt/util@cba6f83447b84cc1e967f25a930d4f411f6f0664

[2017-09-06 15:33] eed3si9n commented on #3425
@asflierl That sounds like a regression.
I'll open a new issue for it.

[2017-09-06 17:31] NeQuissimus commented on #3497
It just happened again:

<details>
<summary>Click to expand</summary>
<pre>
[error] java.io.IOException: User limit of inotify instances reached or too many open files
[error]         at sun.nio.fs.LinuxWatchService.<init>(LinuxWatchService.java:64)
[error]         at sun.nio.fs.LinuxFileSystem.newWatchService(LinuxFileSystem.java:47)
[error]         at sbt.Defaults$.$anonfun$globalSbtCore$20(Defa

[2017-09-06 20:24] eed3si9n opened #3504 "run doesn't support directory based `externalDependencyClasspath in Runtime`"
Originally reported by @asflierl in https://github.com/sbt/sbt/issues/3425#issuecomment-325613510 as:

## steps

1. Add directory to `externalDependencyClasspath in Runtime`
2. `run`

## problem

`run` doesn't recognize the conf file etc that's in it.

## expectation

`run` recognizes

## notes

sbt version: 1.0.1

[2017-09-06 20:34] eed3si9n commented on #3500
https://repo1.maven.org/maven2/com/sikulix/sikulixapi/1.1.0/sikulixapi-1.1.0.pom contains

[code]

and the property is define in profiles activated via OS setting:

[code]

It's pretty cool that Ammonite is able to handle it.

[2017-09-06 21:02] eed3si9n commented on #3497
What's your current inotify limit set to?

https://github.com/guard/listen/wiki/Increasing-the-amount-of-inotify-watchers

[code]

[2017-09-06 22:29] NeQuissimus commented on #3497
I have not changed the value, so same as in the original report:

[code]

[2017-09-06 22:50] eed3si9n commented on #3497
Thanks. I missed that on the original report.

[2017-09-06 22:59] NeQuissimus commented on #3497
No problem... I did a bunch of digging today into this but could not find anything useful... I will keep reporting back whenever it happens. I have found that sometimes I go about 100 compilation cycles, sometimes 200 and it does not happen. The crash today was after 64.

[2017-09-07 07:38] adamw commented on #1636
@eed3si9n suggestion to add `evictionWarningOptions in update := EvictionWarningOptions.default.withWarnTransitiveEvictions(false)` helped a lot after upgrading to 1.0 and getting loads of transitive eviction warnings - thanks :)

[2017-09-07 08:41] DavidPerezIngeniero commented on #3500
Ammonite has another small problem.
OK, the workaround is to exclude `${sikulix.libs}`, and manually add the OS-specific library.  Thanks for the suggestion.

[2017-09-07 10:34] joan38 commented on #3501
Seems to happen with sbt-buildinfo enabled or whenever there is something generating sources

[2017-09-07 11:28] dwijnand commented on #3503
Should be fixed with https://github.com/sbt/io/pull/75.

[2017-09-07 11:28] #3503 closed, assigned to nobody

[2017-09-07 20:47] tpolecat opened #3505 "addCommandAlias not at the top level silently does nothing"
`addCommandAlias` doesn't do anything if you put it in a subproject, so it would be nice to have some kind of indication that it's never going to work, it has to be at the top level.

[2017-09-07 20:56] eed3si9n commented on #3505
Given that the implementation seems to be scoped to GlobalScope, (https://github.com/sbt/sbt/blob/v1.0.1/main/src/main/scala/sbt/Defaults.scala#L2920-L2926), I wonder if this is more a bug.
Do you have a repro project or an example in the wild?

[2017-09-07 22:17] ryan-williams commented on #2824
Seeing this now, and [made a repro here](https://github.com/ryan-williams/scalac-bug/tree/serde) very similar to the one above.

- `mvn test` succeeds
- `sbt package && scala <jar>` succeeds
- `sbt test` fails
- `sbt run` fails
- `sbt console` and calling the `main()` function (`org.Serde.main(Array())`) fails

Something about running under SBT is breaking Java serialization/deserialization, at le

[2017-09-07 22:18] cunei commented on #3503
Yes, it's ok now. Validation run: https://jenkins.scala-sbt.org:8592/job/sbt-validator/151/console

[2017-09-07 22:35] ryan-williams commented on #2824
@eed3si9n [suggested `fork := true`](https://gitter.im/sbt/sbt?at=59b1c89eb16f26464218d793) which works around it

it seems that `List.SerializationProxy`'s `readResolve` method is not getting picked up in the deserialization step, and the `List` field is attempting to get the proxy object assigned to it.

[2017-09-07 22:36] ritschwumm commented on #2824
does this disppear with `fork in run := true`?

i'd guess this is some kind of classloader issue - as if List$SerializationProxy#readResolve were never called, but why?

[2017-09-07 22:41] eed3si9n commented on #2824
This is a speculation but, sbt loads Scala stuff on its own classloader, and that might be confusing the serialization which might be expecting everything to be under the same classloader.

See also https://gist.github.com/retronym/5eba5edabca36fc0b917b5f0095ce990

[2017-09-07 23:21] eed3si9n commented on #2824
I am going to close this with wontfix.

[2017-09-07 23:21] #2824 closed, assigned to nobody

[2017-09-07 23:39] tpolecat commented on #3505
In the wild here https://github.com/gemini-hlsw/gem/blob/eugene/build.sbt#L267 (note the tag). A naive minimization doesn't exhibit the problem. I'll try to isolate it tomorrow.

[2017-09-07 23:46] samuelbernardo opened #3506 "compile dependencies missing"
## steps
Error when compiling the following command with release 1.0.1
sbt-allsources.sh -Dsbt.log.noformat=true compile

## problem
Missing dependencies
sbt.ResolveException: unresolved dependency: com.typesafe#sbt-mima-plugin;0.1.17: not found
unresolved dependency: org.foundweekends#sbt-bintray;0.5.1: not found
unresolved dependency: org.scala-sbt#sbt-contraband;0.3.0: not found
unresolved depe

[2017-09-08 11:21] dwijnand commented on #3458
Here's where I give up: Ivy seems to behave differently between 0.13.16-M1 and 0.13.16-RC1 because "rc" has "special meaning" in Ivy, while the "m" for milestone does not.

https://github.com/sbt/ivy/blob/48dd0744422128446aee9ac31aa356ee203cc9f4/src/java/org/apache/ivy/plugins/latest/LatestRevisionStrategy.java#L159

The result of that is that:

* `org.scala-sbt:sbt:0.13.16-M1` is evicted over `or

[2017-09-08 11:21] #3458 closed, assigned to dwijnand

[2017-09-08 11:24] dwijnand commented on #3458
Before I throw away the code, here's the check task I wrote to check:

[code]

[2017-09-08 12:06] dwijnand commented on #3502
@joan38 Could you provide a minimised reproduction of the problem, please?

[2017-09-08 12:09] dwijnand commented on #3501
@joan38 Could you provide a minimised reproduction of the problem, please?

[2017-09-08 13:29] joan38 commented on #3501
Hi @dwijnand, sorry I didn't give that before.
I updated with the issue with the reproduction steps.

[2017-09-08 15:19] dwijnand commented on #3495
@ghik I can't reproduce what you're seeing. Something's amiss. This is the build file I'm using:

[code]

and this is the sbt shell session:

[code]

[2017-09-08 17:08] netvl commented on #3473
I'm not sure why are you talking about regular libraries. My project (and the example above) consists *only* of SBT plugins; there are no libraries in it. The root project is used solely for aggregation and its build results, if any, are completely ignored. It's just it is really unfeasible to split our set of plugins into multiple builds, because they are intended to work together (with some bein

[2017-09-08 22:32] jroper commented on #3473
Have you tried setting `sbtPlugin := true` in the root project?

[2017-09-08 23:36] laughedelic opened #3508 "Discovering running sbt server instance"
### Context

This is based on the question I [asked on Gitter](https://gitter.im/sbt/sbt?at=599892b376a757f808c118eb) a time ago. I want to understand how to work with the sbt server, discover a running instance, connect to it and communicate.

Sbt 1.0 release notes say

That's exactly what I want: to make an editor plugin that will be able to launch a server or locate a running one, and communica

[2017-09-09 00:13] eed3si9n commented on #3508
@laughedelic Thanks for writing this up.

When I rebooted (http://eed3si9n.com/sbt-server-reboot) the server project, I opted to go with single instance because it simplifies the implementation, and that's what bunch of ppl wanted as well (see for example this discussion https://twitter.com/codefinger/status/702561308814741504).

Now that sbt server effort is no longer holding up sbt 1.0 (Zinc + S

[2017-09-09 23:37] gpoirier commented on #3465
I'm trying to upgrade to sbt 1.0 and I'm also having the same issue. I was using sbt-doge with sbt 0.13, and what worked there doesn't work with sbt 1.0.

Any idea suggestion of how to work around this issue, or any idea when it might be fixed?

[2017-09-10 10:16] d80tb7 opened #3509 "Sbt to Support Session Cookies on Ivy Resolve"
## steps

1. Set up a mvn repo (e.g. artifactory) that passes back a session cookie when artifacts are resolved.
2. Instruct sbt to use the repo for resolving dependencies.
3. Run a sample sbt build that requires artifacts to be resolved.
4. See that SBT doesn't respect the Set-Cookie header passed back from the repo.

## notes

1. This behaviour is caused because the Apache Ivy BasicUrlHandler do

[2017-09-10 12:06] ghik commented on #3495
@dwijnand it seems that the problem appears when `crossScalaVersions` is defined only `in ThisBuild`, e.g.

[code]

then:
[code]

[2017-09-10 12:19] lihaoyi opened #3510 "Wrong sbt.testing.Runner#done's return value is printed with fork in Test := true"
With `fork in Test := true`, *two* different sets of `Framework`s & `Runner`s appear to be instantiated: I'm guessing one in the original process, one in the forked process. Both `.done()` methods get called, but it is the runner *without* all the test information who's `done()` method gets printed. Hence if you were relying on your `Runner`/`Task` to aggregate information and print it out at the

[2017-09-10 19:37] eed3si9n opened #3512 "Too many warnings on our code base"
We have too many warnings on our code base to that point it's just adding noise to daily coding or CI. The warnings make sense only if we take some actions.
Could we set fatal warning for Scala 2.12 and turn *off* warnings until we clean up the code?

The especially noisy one is the unused pattern matching variable one. Due to bincompat, we will always have unused constructors etc.

[2017-09-11 05:45] jroper commented on #3465
One work around to this would be to set `crossScalaVersions` on the root project to contain a single Scala version that all your aggregated projects have in their cross scala versions. If there is a single common Scala version, this will work. Given the existing bug in sbt-doge where the root project was never actually issued any cross built commands, you should be able to set `crossScalaVersions`

[2017-09-11 10:42] dwijnand commented on #3465
I feel similarly about sbt-cross, though I've not actually tried it.

[2017-09-11 12:47] joan38 commented on #3501
Should we label that as Bug and remove the Needs Reproduction Test Case?

[2017-09-11 14:39] gpoirier commented on #3465
I defined the `crossScalaVersions` to only 2.12 on the root since all my projects compile with that version, and now it works.

@jroper, thanks for the help.

[2017-09-11 17:12] alexarchambault opened #3514 "scripted should not be enabled by default"
## steps

Start from a simple project:
[code]

Run:
[code]

## problem

updates don't work if scala version is set to 2.11.x.

## expectation

updates should work, the scripted plugin should not be enabled by default. It should require `enablePlugins(ScriptedPlugin)`

## notes

sbt version: 1.0.1

[2017-09-11 19:52] bpholt opened #3515 "Unable to load test resource immediately after clean"
## steps
1. Clone [the demonstration repository](https://github.com/bpholt/sbt-test-resource-issue)
1. Run [`demo.sh`](https://github.com/bpholt/sbt-test-resource-issue/blob/master/demo.sh)

The output we're seeing is in the [README of the demonstration repository](https://github.com/bpholt/sbt-test-resource-issue).

## problem
The [test in the demo tries to load a file from test resources using `

[2017-09-12 04:07] ni1ius99 opened #3516 "SBT 1.0.1 - java.lang.VerifyError: Uninitialized object exists on backward branch"
## steps
Install JDK 1.8.0_144
Install sbt 1.0.1
run 'sbt new scala/hello-world.g8'

## problem
Exact same error as in https://github.com/sbt/sbt/issues/3471

## expectation
Expected that this wouldn't occur because I have JDK 1.8.0_144 installed.

## notes
Running Windows 10
I had first installed sbt by running 'sbt run' on the first example at https://playframework.com/download#examples, when I

[2017-09-12 14:43] w1tebear opened #3518 "sbt API docs, on 1.0.x branch"
## steps

Browse to http://www.scala-sbt.org/documentation.html
Click the 'sbt API' link.

## problem

Get 404

## expectation

Scaladoc for sbt :-)

## notes

I know this is more of a website issue than a sbt issue but thought you may be unaware that this is broken and this would be the best place to report.

[2017-09-12 15:26] eed3si9n commented on #3518
Thanks for the report.
Please use http://www.scala-sbt.org/1.0.0/api/sbt/Keys%24.html for now.

[2017-09-12 16:22] dwijnand commented on #3495
Thanks @ghik, I can reproduce that.

For the record this is a regression in behaviour from sbt 0.13, where it works as intended (notice the difference in output):

[code]

[2017-09-12 16:57] ryanb93 opened #3519 "SBT > 1.0 NullPointerException in JavaNetAuthenticator"
## steps

Populating ~/.sbt/repositories file with

[code]

Populating ~/.sbt/0.13/plugins/credentials.sbt and ~/.sbt/1.0/plugins/credentials.sbt with:

`credentials += Credentials(Path.userHome / ".sbt" / ".credentials")
`

Exporting

[code]

Running

`sbt clean test +publish`

On a project with

[code]

build.properties

`sbt.version=1.0.1`

## problem

The build fails with the following message

[2017-09-12 17:34] w1tebear commented on #3518
Thank you!

On Tue, Sep 12, 2017 at 11:39 AM, eugene yokota <notifications@github.com>
wrote:

--
Lynne Lawrence
MACE | SNC
lynne.lawrence@macefusion.com

[2017-09-12 18:24] #1958 closed, assigned to nobody

[2017-09-12 18:27] eed3si9n opened #3520 "Flaky tests on Travis CI"
It seems like scripted tests are failing intermittently on Travis CI.

- Did something change on Travis?
- If so is the problem on their side, or just exposing problem with scripted framework or individual tests?

`scripted actions/*` seems to be affected more than others.

[2017-09-12 20:09] eed3si9n commented on #3520
https://travis-ci.org/sbt/sbt/jobs/274679103 says "Socket closed":

[code]

[2017-09-12 20:14] eed3si9n commented on #3519
Thanks for the report.

Could you try the following as a workaround please:

[code]

[2017-09-12 20:16] eed3si9n commented on #3519
Does it print out the stack trace? If so it might be helpful for us to pin point where it's failing.

[2017-09-12 20:20] eed3si9n commented on #3516
If it's anything related to the same JDK bug - https://bugs.openjdk.java.net/browse/JDK-8046233, could you print the output of `java -version`?
I see that you've installed 1.8.0_144, but I'd like to see what `java -version` prints out at the terminal.

[2017-09-12 22:09] eed3si9n commented on #3520
14 days ago when things looked ok the configuration was already on trusty https://travis-ci.org/sbt/sbt/jobs/269834707/config:

[code]

[code]

The current flaky setup is the same - https://travis-ci.org/sbt/sbt/jobs/274724618/config

[2017-09-12 23:10] bpholt commented on #3515
Trying to track down what's going on with this and I notice some more interesting behavior.

[code]

After simply waiting about 90 seconds, the tests start passing! sbt was running with debugging turned on but no debugger was attached. Nothing else changed AFAICT.

(If you keep running `test`, it never stabilizes. It seems to need idle time of at least ~60 seconds.)

In a different set of runs, I

[2017-09-13 00:28] laughedelic commented on #3508
Thanks for reply!

Great to hear that 👍

Another thing I remembered, is that currently with sbt-1.0, if you run a second instance of sbt in the same project, you'll get an error message:
[code]

I think the expected behaviour would be that it starts a new client connected to the same already running server. But if I understood you right, there's no server discovery implemented yet.

[2017-09-13 01:27] ni1ius99 commented on #3516
Sure, here it is -

[2017-09-13 01:59] ni1ius99 commented on #3516
Problem solved - JAVA_HOME environment variable was still set to a JDK 1.7 folder. I removed the environment variable. The same folder was also in the PATH variable, although after the Oracle javapath. sbt runs now.

[2017-09-13 01:59] #3516 closed, assigned to nobody

[2017-09-13 01:59] eed3si9n commented on #3516
Cool. Thanks for reporting back!

[2017-09-13 09:18] dwijnand commented on #3508
Note there are also the variants https://github.com/sbt/sbt/issues/3176 (relaunching sbt after killing it) and https://github.com/sbt/sbt/issues/3437 (executing `reboot`).

[2017-09-13 15:07] #3504 closed, assigned to dwijnand

[2017-09-13 15:08] #3299 closed, assigned to dwijnand

[2017-09-13 15:10] sjrd commented on #3299
Is there a fix in the 0.13.x series as well?

[2017-09-13 15:22] dwijnand commented on #3299
There's no DSL checker in 0.13 (unless I'm losing my mind).

[2017-09-13 15:26] sjrd commented on #3299
Ah! Good point! I got confused with something else, I guess :P

[2017-09-13 15:35] hgiddens opened #3525 "Is there a way to make transitive dependency conflicts resolve to the latest version?"
## steps

#### build.sbt

[code]

#### App.scala

[code]

Then try to run `sbt compile`.

## problem

The set of transitive dependencies contains `com.typesafe.akka:akka-http-core_2.11:10.0.6` (a dependency of the metrics library) and `com.typesafe.akka:akka-http-core_2.11:10.0.9` (a dependency of `com.typesafe.akka:akka-http_2.11:10.0.9`). However, even though the `latestRevision` conflict manage

[2017-09-13 15:53] asflierl commented on #3504
awesome, much appreciated

[2017-09-13 18:39] eed3si9n opened #3527 "Time lag before file watch (triggered execution) detects changes on Mac"
There's been a number of reports on Gitter around this topic. For example:

@fsvehla wrote [Aug 31 03:52](https://gitter.im/sbt/sbt?at=59a7c02781cd9a5d7e9d3e98):

I’ve switched to having the sources watched by Guard and type 'testQuick' into the SBT console with tmux, but that’s not a real solution. I’m on macOS in case there are some OS differences with the new NIO watchers

This is a known issue

[2017-09-13 18:56] eed3si9n commented on #3527
Maybe we switch internally to use https://github.com/takari/directory-watcher?

/cc @Duhemm

[2017-09-14 18:43] NeQuissimus commented on #3497
Update: This just happened again and I am finding a pattern I think.
I am find as long as I have `~compile` or `~test` going. What seems to cause trouble is running either task for a while, then stopping, calling `reload` to pull in changes from my `build.sbt` and returning to a `~compile` loop.
I just aliased my sbt to `sbt -debug` to find out more next time.

[2017-09-14 19:21] jeffrey-aguilera opened #3528 "Terminal reset required after `sbt about` (or any other command)"
(See the guidelines for contributing, linked above)

## steps

Using `sbt` 1.0.1, run `sbt about`

## problem

On macOS, the terminal echo is lost, requiring a `reset`.

## expectation

On any OS, the terminal echo is properly restored, requiring no operation.

## notes

sbt version: *1.0.0*

This is an adoption blocker.

[2017-09-14 19:44] eed3si9n commented on #3528
Duplicate of https://github.com/sbt/sbt/issues/3453.
We'll hopefully issue hotfix release soon.

[2017-09-14 19:44] #3528 closed, assigned to nobody

[2017-09-14 21:46] eed3si9n commented on #3518
Fixed for 1.0.1 http://www.scala-sbt.org/1.0.1/api/sbt/Keys%24.html but not yet a permanent fix.

[2017-09-15 10:42] freeman42x opened #3530 "SBT project rebuild in IDEA error"
## steps
* Import SBT project into JetBrains IDEA
* Do a Build -> Rebuilt Project

## problem

[code]

## expectation
It should build without any errors :)

`sbt version: 1.0.1`

[2017-09-15 10:51] freeman42x commented on #3512
I'll be working on this for the Scala Spree taking place in Dublin right now if that is ok

[2017-09-15 11:13] freeman42x commented on #3530
This error only happens on IDEA Rebuild command.
If doing compile inside SBT console it build correctly.

[2017-09-15 13:21] freeman42x commented on #3530
Setting SBT to be used for build in IDEA fixed the issue:

![](https://i.imgur.com/n2Aiuj6.png)

[2017-09-15 13:21] #3530 closed, assigned to nobody

[2017-09-15 15:02] perbellinioa commented on #3309
I've done this ticket during the Dublin Scala Spree.

[2017-09-15 15:47] charpov opened #3534 "No detection of cycles in directory structure"
(See the guidelines for contributing, linked above)

## steps
Create a file structure with cycles (using symbolic links) in the root directory or elsewhere (e.g., in the test resources).

## problem
sbt runs forever trying to traverse this structure.

## expectation
sbt should check for cycles so it can handle such a structure (like most unix commands do).

## notes
In writing a system that does d

[2017-09-15 16:01] Wasapl opened #3535 "No debug messages in MavenResolverPlugin"
I use MavenResolverPlugin to publish artefact to Nexus. And I want to see which files plugins reads from and writes to Nexus.

## steps
I have `addMavenResolverPlugin` statement in `project/plugins.sbt`
I use `UniversalDeployPlugin` since I need to package some additional files into tar.gz alone with assembly Jar file. I have next line in `build.sbt` for that:
[code]
To enable debug logging I have

[2017-09-15 16:06] dwijnand commented on #3535
`Universal` is an sbt-native-packager configuration. /cc'ing @muuki88

[2017-09-15 16:17] #3453 closed, assigned to nobody

[2017-09-15 17:07] eed3si9n commented on #3520
It seems like there are two more flaky tests:
- run / error
- tests / fork-parallel

[2017-09-15 18:07] freeman42x opened #3536 "Add .idea folder to .gitignore"
For easier usage with JetBrains IDEA

[2017-09-15 18:09] eed3si9n commented on #3536
I think these files should be added to global gitignore.
https://help.github.com/articles/ignoring-files/

[2017-09-15 18:09] #3536 closed, assigned to nobody

[2017-09-15 18:11] freeman42x commented on #3536
Good point, forgot that even existed!

[2017-09-15 18:14] eed3si9n commented on #3535
MavenResolverPlugin has always been an experimental plugin, and I've split out MavenResolverPlugin for sbt 1.0 to https://github.com/sbt/sbt-maven-resolver so it can be updated independent of sbt.

If someone wants to maintain it, we'd welcome a contributor but it's unlikely that we will add new feature to it unless we are asked from a Lightbend subscriber. Could we close as won't fix?

[2017-09-15 19:28] Wasapl commented on #3535
@eed3si9n something went wrong in sbt-maven-resolver repo. I cant even clone it:
[code]

[2017-09-15 19:28] andrey-gatash commented on #3535
@eed3si9n, since you're saying it's experimental and looks like sbt does not have a lot of interest in supporting Maven Repo publishing, any other plugins/approaches you can recommend to work with Maven Repos?

[2017-09-15 19:33] eed3si9n commented on #3535
@andrey-gatash For me, sbt + sbt-pgp works fine publishing to either Sonatype or Bintray.

[2017-09-15 19:38] Wasapl commented on #3535
@eed3si9n how you update  maven-metadata.xml then? Does sbt + sbt-pgp updates it for you ?

[2017-09-15 19:43] eed3si9n commented on #3535
@Wasapl Something went wrong with the branch name it seems. I created "master" branch, and pushed it again. Please try again.

As per `maven-metadata.xml`, I just let the repositories like Sonatype generate it. One of the problems sbt had early on was that it did not read from the metadata correctly because we customized the publishing layout. I fixed that issue here https://github.com/sbt/ivy/pul

[2017-09-15 20:00] eed3si9n commented on #3535
See also [sbt-aether-deploy](https://github.com/arktekk/sbt-aether-deploy) that's been maintained actively.

[2017-09-15 20:02] Wasapl commented on #3535
@eed3si9n now https://github.com/sbt/sbt-maven-resolver clones successfuly.

I'll try to use sbt alone and sbt + sbt-aether-deploy.

You may close this issue as wont fix.
Thank you!

[2017-09-15 20:15] #3535 closed, assigned to nobody

[2017-09-15 21:22] jvican opened #3537 "Don't execute scaladoc for `publishLocal`"
## steps
`publishLocal` always runs Scaladoc. I cannot think of any case where this is useful, I'm open to ideas.

## problem
1. Slows down `publishLocal`.
  1.1. Relevant for sbt plugins.
  1.2. Relevant for source dependencies (where jars are used for dependencies).
  1.3. Relevant for any user that wants to test jars locally (pretty common in enterprises).

## expectation
`publishLocal` does no

[2017-09-15 21:31] jvican opened #3538 "Add scripted as library dependency for builds of sbt plugins"
## problem
Sbt plugins have only one way of being tested: scripted. Scripted is used by almost any sbt plugin in the world. Yet, every sbt plugin has to bring the scripted plugin dependency manually.

Shortcomings:
1. Users need to get the scripted library from the docs every time they create a new plugin:
`libraryDependencies += { "org.scala-sbt" % "scripted-plugin" % sbtVersion.value }`.
2. User

[2017-09-15 21:48] jvican opened #3539 "`+` does not work for commands that take arguments in sbt 1.x"
## problem
In sbt 0.13.x:
[code]

In sbt 1.0.x:
[code]

## expectation
I would expect my command to work in 1.x.

sbt version: 1.0.0

[2017-09-15 21:52] eed3si9n commented on #3537
I think there's something wrong with the development process if it relies on `publishLocal` (including `scripted`) being fast.

It should be treated as the name suggest, a publishing step, so I think it makes sense to keep Scaladoc in there. The reason you might want to publish things locally could be for rehearsal of actual publishing or simply so one can use a library or a plugin locally. In bot

[2017-09-15 21:57] eed3si9n commented on #3538
This is an interesting idea.
To do this we might need to define `SbtPlugin` plugin that will pull in both scripted and `sbtPlugin := true`.

[2017-09-15 21:58] jvican opened #3540 "Allow users to reload and automatically reapply settings modified by `set`"
## problem
I agree this is not a major feature, but I find it important for sbt to be consistent.

Sbt provides lots of functionality around the `session` and the ability to control the modifications to the build that have been done via `set`. Let's see it:

[code]

In my personal case, I always have a long-running instance of sbt. I use it across different work days. During my work session, I do

[2017-09-15 22:00] eed3si9n commented on #3539
Duplicate of https://github.com/sbt/sbt/issues/2776.
It should be fixed in sbt 1.0.1.

[2017-09-15 22:00] #3539 closed, assigned to nobody

[2017-09-15 22:06] eed3si9n commented on #3540
Could you describe your typical work day `set` scenario as repro steps? Do you enable compiler flag or do you bring in library dependencies?

This might be a tricky one if we are partly depending on this amnesia for things like `++` to work. Let's say you've ran:

[code]

which one wins?

[2017-09-15 22:06] devshorts opened #3541 "sbt new g8 integration has newline issues"
When creating a new g8 scaffold from sbt, newlines and password integration behave oddly with keyboard input

## steps
sbt new <private repo>

## problem
sbt new prompts for ssh key but for each password key emits a newline and doesn't actually accept the password

![image](https://user-images.githubusercontent.com/1799346/30505057-3dc90b2a-9a27-11e7-8430-bfa64c4e68fe.png)

To work around this I h

[2017-09-15 22:09] eed3si9n commented on #3541
I'd be happy to keep this open as a reference, but likely the problem is coming from Giter8 trying to hit GitHub, not sbt.

[2017-09-15 22:13] jvican commented on #3537
I don't think anything relies on `publishLocal` being only fast, but doing the simplest possible task.

Regarding `scripted`, can you elaborate on how you would fix it without `publishLocal` being leaner? Any change done in sbt, or changing from one commit to another one, requires the following steps: `compile`, `scaladoc`, `package` all sources, `publishLocal`. `scaladoc` is basically another typ

[2017-09-15 22:15] devshorts commented on #3541
The password stuff used to work in sbt 0.13.15 though, I guess I'm not sure how sbt and giter8 integrate together to tell what is responsible for what

[2017-09-15 22:18] jvican commented on #3540
Those last two are common use cases. I also change scala versions a lot, and I want them to be persisted. I find that the feature I'm adding is especially useful when fiddling with interactions between the settings that i've just added to the build (like a compiler plugin) and the settings I've added via `set`.

Good point. In my view, `++2.12.3` is just an alias of `set scalaVersion := "2.12.3"`.

[2017-09-15 22:28] jvican opened #3542 "Make `compile:clean` clean only compilation artifacts"
## problem
You are an sbt user. You know of `clean`. You also know that tasks can be scoped in tasks.

You find yourself cleaning often, but most of the times you only want to clean compilation artifacts, and you want the rest of a project to be untouched.

You decide to be creative, and try `compile::clean`, expecting sbt to only clean the analysis files and the class files/jars created by the pr

[2017-09-15 22:30] eed3si9n commented on #3537
If we step back, I think the larger problem is that `scripted` is slow and frustrating.
- Why? It's slow because we are forced to use "-SNAPSHOT".
- Why is it slow: -SNAPSHOT is really slow because it checks all the resolvers, including the Internet (Maven, repo.typesafe.com redirect to Bintray etc).
- Why is it using -SNAPSHOT: because we are publishing into "local" and we need to tell Ivy that t

[2017-09-15 22:39] jvican commented on #3537
This may very well be the solution, but you're not solving the real problem, just sidestepping it.

What I propose addresses the root of the issue. I really don't want to compile my project twice every time I do `publishLocal` just because there is one scenario that happens less than 1% of the time. Therefore, my proposition of the changes in the semantics of `publishLocal`, or `lightweight in pub

[2017-09-15 22:42] eed3si9n commented on #3537
I don't use IDEs much, but don't they display documentation when you hover over?
If someone wants to grab unreleased version of library X and use it as a normal library, I think it makes sense to have it identical setup as getting it from Maven Central.

[2017-09-15 22:46] eed3si9n opened #3543 "Investigate scripted run/error"
[code]

[2017-09-15 22:48] jvican opened #3544 "Avoiding recursive `onLoad` execution"
## problem
You want to customize `onLoad`. But you need to get information about the current project, therefore using `Project.extract(state)`.

The first time you reload your build, you'll find out that your build load doesn't end because it's stuck in a recursive load. This happens because `Project.extract` invokes the load hooks recursively, never ending the recursion.

There is precedent of pe

[2017-09-15 22:49] eed3si9n opened #3545 "Investigate scripted tests/fork-parallel"
[code]

[2017-09-15 22:50] jvican commented on #3537
Not that I know of. I use Intellij a lot, I've never seen such a use case.

Yes, but what I'm asking here is under which scenario a "user would like to grab an unreleased version of library X and use it as a normal library". Please, elaborate, because I don't see any legit scenario for such an action. It can certainly happen, but my point is that if there's not a good reason for it we should not b

[2017-09-15 23:04] eed3si9n commented on #3537
Apparently it's `Ctrl+Q` (or `Ctrl+J` in older version) on IntelliJ - https://stackoverflow.com/questions/13781990/setting-up-scaladoc-for-intellij, and hovering on ScalaIDE http://scala-ide.org/blog/release-notes-4.0.0-RC1.html.

In any case, anything involving "local" might involve some degree of personalized tooling and taste. I am open to exploring ideas that can support various use cases. For

[2017-09-15 23:13] jarreds opened #3547 "sbt 1.0.x native-packages not published to bintray"
Not seeing the native-packages for 1.0.x here https://bintray.com/sbt/native-packages/sbt

[2017-09-15 23:13] jvican opened #3548 "Cache publishing in sbt"
## problem
`publishLocal` and `publish` do not cache.
[code]

Why is this an issue?
1. Users expect it to cache, in the same way that `compile` is cached.
1. Explicit tasks that try to replace this functionality, like `scriptedUnpublished` in Zinc, will disappear automatically as soon as we have caching at the publish level.

## expectation
`publishLocal` will not publish again if there hasn't bee

[2017-09-15 23:14] eed3si9n commented on #3547
This is intentional.
Please download from http://www.scala-sbt.org/download.html

[2017-09-15 23:14] #3547 closed, assigned to nobody

[2017-09-15 23:15] jarreds commented on #3547
@eed3si9n Thank you. Shall we have automated build tools download it from here as well?

[2017-09-15 23:18] eed3si9n commented on #3547
Yes. We plan to use `https://cocl.us/sbt-x.y.z.tgz`.

[2017-09-15 23:21] jvican commented on #3537
I would like to highlight that this problem does not only affect tools like `scripted` only, but also `partest`, which is used across both scalac and dotty. In general, I think the use of `publishLocal` is legit when it comes to integration testing.

This would be the `lightweight in publish` I was referring to before.

I was unaware of this. *For the record*, I do not think most of the users shou

[2017-09-15 23:25] eed3si9n commented on #3548
`publish` could have all sorts of other side effects on the server-side, like generating meta data, so I don't know if we should mess with that.

I am open to caching `publishLocal`.

[2017-09-16 00:19] jvican commented on #3548
Alright, caching `publishLocal` sounds like a good tradeoff.

[2017-09-16 04:30] eed3si9n commented on #3485
Fixed in #3511

[2017-09-16 04:30] #3485 closed, assigned to nobody

[2017-09-16 19:24] eed3si9n opened #3552 "Contributor handbook (developer guide)"
We should review and update developer guide in terms of:
- which repos to check out
- how to build sbt from source
- how to test freshly baked sbt locally
- where to send pr

[2017-09-16 19:25] eed3si9n commented on #2884
Fixed in #3549

[2017-09-16 19:25] #2884 closed, assigned to dwijnand

[2017-09-16 19:26] eed3si9n commented on #3495
Fixed in #3526

[2017-09-16 19:26] #3495 closed, assigned to dwijnand

[2017-09-17 13:19] djx314 commented on #1117
+1 for upgrade 0.13.x to 1.0.x and the same problem.

[2017-09-17 13:24] djx314 commented on #1951
Upgrade to 1.0.2 and use win7 and cause the same problem. I think it's a huge bug.

[2017-09-17 14:45] jvican commented on #3552
In my experience, contributors usually get OOM exceptions when running the test suite. Would be good to show them how to work around that too.

[2017-09-17 19:38] djx314 commented on #1951
I delete ~/.ivy2 and slove the problem. It seems that it't the nessary step to upgrade sbt 0.13.x to 1.0.x.

[2017-09-17 19:39] djx314 commented on #1117
@Centaur I delete the whole ~/.ivy2 and slove the problem. It seems that it't the nessary step to upgrade sbt 0.13.x to 1.0.x.

[2017-09-17 19:40] clhodapp commented on #3482
Note: This was *not* fixed by https://github.com/sbt/sbt/pull/3507 in 1.0.2, as I had been hoping might happen.

[2017-09-17 20:03] muxanick commented on #871
Any progress on this issue? still doesn't work for me (I use utf-8 encoding)
sbt 1.0.1

[2017-09-17 21:01] eed3si9n commented on #871
I thought updating to the latest JLine 2 would fix it, but if it's happening to 1.0.1 we'd need to something more.
Does this happen to both cmd and Cygwin?

[2017-09-17 21:46] muxanick commented on #871
@eed3si9n I haven't tried cygwin (never used it before), I've tried `cmd` and `powershell`

[2017-09-17 22:55] jvican opened #3555 "`sbt -debug` should set the logLevel to Debug"
## problem
`sbt -debug` used to show information logged by `timed` et al. Now, it doesn't show anything.

## expectation
`sbt -debug` should behave like any 0.13 build, where debug logs are displayed.

## notes
I think this is a bug, but I'm not sure.

sbt version: 1.x

[2017-09-17 22:57] jvican commented on #3555
It shows only debug logs from resolution, but not from all the load, as before.

[2017-09-17 23:05] #3520 closed, assigned to nobody

[2017-09-18 03:51] netvl commented on #3473
No, I didn't; because it is not really a plugin, it didn't even occur to me. I'll try it and report asap.

[2017-09-18 12:10] markehammons opened #3557 "SBT uses sun.misc.Signal, breaking usability on other JVMs!"
[OpenJ9](https://github.com/eclipse/openj9) has been released, and I've been testing it. Unfortunately, I discovered it will not work with SBT because SBT [is using sun.misc.Signal](https://github.com/eclipse/openj9/issues/40).

So far, this problem has only bitten me when using SBT in interactive mode. SBT in batch mode compiles and works fine.

I could write an implementation of Signal and Signa

[2017-09-18 12:51] liquidarmour commented on #3240
@dwijnand
I think this is still a problem. I'm seeing it on Linux and MacOS. To replicate do the following:

The terminal no longer echoes the inputs.

I have sbt 1.0.1 installed and as you can see Scala 2.12.3 with sbt version for the project of 1.0.1.

[2017-09-18 13:25] NeQuissimus commented on #3497
This seems to be the only other log output I can acquire:

<details>
<summary>Click to expand</summary>
<pre>
[debug] > Exec(early(add-default-commands), None, None)
[debug] > Exec(add-default-commands, None, None)
[debug] > Exec(early(initialize), None, None)
[debug] > Exec(initialize, None, None)
[debug] > Exec(boot, None, None)
[debug] > Exec(write-sbt-version, None, None)
[debug] > Exec(reload

[2017-09-18 14:35] avdv commented on #3240
@liquidarmour I cannot reproduce your problem. Are you seeing any errors from JLine or anything else? Do you have any global plugins enabled?

[2017-09-18 15:34] liquidarmour commented on #3240
@avdv I just checked. Intellij had put plugins in both 0.13 and 1.0 directories. I removed them and tried again. Still no luck.

Whatever I type does not appear.

There are no errors in the build and no jline errors visible.

[code]

[2017-09-18 15:46] liquidarmour commented on #3240
Sorry, should be more precise. The `idea.sbt` plugin was the only global plugin installed. With or without it the same behaviour ensues.

[2017-09-18 16:58] netvl commented on #3473
Still does not work. `^^` works for the root project after I add `sbtPlugin := true` in it, but not for the child projects.

[2017-09-19 06:23] hope7th opened #3558 "sbt installer is unable to download from China"
## steps

download sbt in http://www.scala-sbt.org/download.html

## problem
i even can't download sbt in the Official website，it's suppot Chinese developers so unfriendly...

## expectation

## notes

sbt version: *insert sbt version*

[2017-09-19 06:44] eed3si9n commented on #3558
Hi @hope7th could help us debug the problem?
What do you see if you run the following?

[code]

[2017-09-19 09:10] smarter opened #3559 "Consider using ParallelGC on Java 9 to avoid severe performance regression"
Java 9 switched the default garbage-collector algorithm to G1GC which optimizes for low-latency at the expense of high-throughput, this is especially visible for Scala compilation. @retronym reports slowdowns of 30% for Scala 2.11.8 and 10% for Scala 2.12.3 (tested by enabling G1GC with Java 8). I've observed a 20% slowdown for Dotty when using Java 9, see discussion at https://gitter.im/scala/com

[2017-09-19 09:58] djmcgill commented on #3240
Confirmed that I get the same issue with @liquidarmour 's template. After running `sbt test` the shell won't echo any more. No JLine errors.

[2017-09-19 12:35] avdv commented on #3240
@liquidarmour, @djmcgill do you have any environment variables set? `TERM` maybe? which terminal emulator are you using? And which ncurses version?

I assume that this does not happen for other SBT tasks like `compile`, but only for `test`?

[2017-09-19 14:56] liquidarmour commented on #3240
@avdv I have done some more testing and it appears the problem only occurs when the console exits without user interaction.

I do not have TERM set on any of my machines. 3 so far that have seen this problem.

The problem exists in all the terminals I have used on multiple OS. It happens in Linux in the standard Mint terminal and in Terminator. On MacOS it happens in the standard terminal and in i

[2017-09-19 16:22] jastice opened #3560 "`scalaInstance.allJars` doesn't include scala-compiler.jar depending on Scala version"
Using any `scalaVersion` setting other than `"2.12.3"`, `scalaInstance.allJars` will be missing the `scala-compiler.jar`.

IntelliJ depends on this task to setup the compiler classpath when not using sbt directly.
Corresponding ticket: https://youtrack.jetbrains.com/issue/SCL-12591

## steps

* in `build.properties`:
[code]

* in `build.sbt`
[code]

Run `consoleProject` on sbt shell:
[code]

Compa

[2017-09-19 17:08] eed3si9n commented on #3494
@blueway Are you in China? If so this is a duplicate of #3558, and we need to do something to fix.

What do you see when you run:

[code]

or

[code]

I am trying to figure out which URL or server is being blocked. Thanks.

[2017-09-19 17:13] eed3si9n commented on #3558
Could you also try

[code]

[2017-09-19 17:29] eed3si9n commented on #3560
Thank you for the fix.

[2017-09-19 22:54] eed3si9n opened #3562 "abiVersion"
This is a proposal to consider a new `Option[String]` setting called `abiVersion`.

This is intended to track the ABI compatibility. For example, a Scala library with two-segment versioning (epoch.major.minor) will set this to `Some("2.4")`, whereas a library adopting Semantic Versioning will set to `Some("2")`.

This also allows partial adoption of Semantic Versioning, like in the case of Akka wh

[2017-09-19 23:04] tpolecat commented on #2900
This seems to work in 1.0.2 …

[2017-09-20 07:51] sjrd commented on #3562
That looks *perfect*!

What happens exactly during the transition, i.e., if I have a `None` in an old version, say 2.4.1 (because the mechanism did not exist yet when it was published) and a `Some("2")` in the new version 2.5.0?

[2017-09-20 09:32] avdv commented on #3240
Which sbt script are you using? The original or the one from sbt-extras ?

Could you run the sbt script with bash in verbose mode:
[code]
and post the output?

[2017-09-20 10:18] liquidarmour commented on #3240
[code]
Note the first run release the terminal properly. The second does not.

[2017-09-20 12:27] davidmweber opened #3563 "Eval statement fails when using SBT to test plugins"
## steps
Built a test script for a sbt plugin (http://www.scala-sbt.org/1.0/docs/Testing-sbt-plugins.html#step+4%3A+write+a+script). Use the `eval` statement in that script:

[code]

Now run the script using `scripted` from the sbt command line

## problem
Sbt crashes with the following message and partial trace:

[code]

## expectation

The `eval` statement correctly sets the `a.b.c` property to

[2017-09-20 12:54] davidmweber commented on #3563
`'eval System.setProperty("a.b.c", "d")'` does the job

[2017-09-20 12:54] #3563 closed, assigned to nobody

[2017-09-20 14:09] avdv commented on #3240
Oh, your sbt script is not a symlink to the sbt launcher script, so not much to see here. Could you do the same for the real script?
[code]
I suspect that there will be a stty call which messes up the terminal after SBT has run...

[2017-09-20 15:54] eed3si9n commented on #3562
@sjrd

We can use [`VersionNumber`](https://github.com/sbt/librarymanagement/blob/v1.0.0/core/src/main/scala/sbt/librarymanagement/VersionNumber.scala) to parse the available `abiVersion`, in this case `Some("2")`.

Since it has one segment, we will infer that it only cares about the first segment, and parse `version` without abiVersions using `VersionNumber` and infer abiVersion to be `"2"` as we

[2017-09-20 16:05] jonas opened #3564 "Filter scripted tests based on optional project/build.properties"
## steps

In a cross-built sbt plugin project, `scripted` will run all tests under `src/sbt-test`.

## problem

As an sbt plugin author, there are several situations where it would be good to be able to conditionally run a scripted tests:

 - A plugin has not been cross published for sbt 1.0 yet.
 - The plugin version is different for sbt 0.13 and sbt 1.0 (e.g. tut)
 - Certain scripted tests track

[2017-09-20 17:42] sjrd commented on #3562
That sounds reasonable.

[2017-09-20 19:03] akauppi commented on #2901
I am no longer using source dependencies, so from my side this issue is not urgent and could be closed. However, since others have raised comments it's probably best to keep it open?

[2017-09-20 21:16] smarter commented on #3560
Duplicate of https://github.com/sbt/sbt/issues/3491 ?

[2017-09-20 21:23] tpolecat opened #3565 "sbt 1.0.2 ~compile loops forever with source generator"
## steps

1. check out http://tpolecat.github.io/doobie/
2. sbt
3. project core
4. ~compile
6. wait. it will recompile every 10 seconds or so

## expectation

It shouldn't do that.

## notes

If I comment out the source generator [here](https://github.com/tpolecat/doobie/blob/series/0.5.x/build.sbt#L269-L287) it doesn't do this. Should I be doing this differently?

sbt version: *1.0.2*

[2017-09-20 21:59] NicolasRouquette commented on #2901
Well me too but for different reasons... I got my fixes into scala-graph so now I can use a dependency on the published artifact instead of my fork of the source.

I think it would be useful to explain somewhere in the SBT doc the subtle difference between `sbt compile` and `sbt +compile`; if that is indeed enough to work around the problem.

Alternatively, one could also consider contributing @ak

[2017-09-20 22:53] eed3si9n commented on #3560
Yup.

[2017-09-20 22:53] eed3si9n commented on #3560
Fixed in #3561

[2017-09-20 22:53] #3560 closed, assigned to nobody

[2017-09-20 22:54] eed3si9n commented on #3491
Fixed in #3561

[2017-09-20 22:54] #3491 closed, assigned to nobody

[2017-09-20 23:18] tpolecat commented on #3527
Yeah for me it's taking about 10x longer to see file changes. I'm on sbt 1.0.2 and MacOS.

[2017-09-21 07:01] eed3si9n commented on #3557
I think that would be cool if we can support OpenJ9.

[2017-09-21 07:06] eed3si9n commented on #3565
Is it source code generation in general that causes this, or the fact that you have timestamp in there that's causing the loop?

/cc @Duhemm

[2017-09-21 07:10] eed3si9n commented on #871
Would you consider using Cygwin for sbt? That would be a horrible workaround, but hey the arrow key might start working again.

[2017-09-21 08:42] avdv commented on #3240
@liquidarmour @djmcgill SBT 1.0.2 is out, which seems to fix the bug you are seeing: https://github.com/sbt/sbt/pull/3507

[2017-09-21 08:49] djmcgill commented on #3240
I'll update and report back @avdv

[2017-09-21 11:09] frankschmitt opened #3567 "NPE when running `sbt new` in MingW console on Windows"
## steps
- open a Mingw64 console (e.g. from a "Git for Windows" installation)
- create a new empty dir, cd into it and try to create a new application:
[code]

## problem
[code]

## expectation
A new project should be created

## notes
Presumably, the root cause is that SBT tries to ask for confirmation because it cannot identify Github and fails since it cannot identify the MingW console. For co

[2017-09-21 11:21] sp-niemand commented on #2814
Still a problem with SBT 1.0.2.
I used the following workaround:
[code]

[2017-09-21 13:31] dwijnand commented on #3565
Duplicate of #3501 (imo)

[2017-09-21 13:31] #3565 closed, assigned to nobody

[2017-09-21 13:31] dwijnand commented on #3501
https://github.com/sbt/sbt/issues/3565 shows a variant using source generators.

[2017-09-21 13:40] dwijnand opened #3568 "Add CI for Windows"
For instance using AppVeyor: https://www.appveyor.com/

[2017-09-21 13:53] liquidarmour commented on #3240
OK. Looks like we have made progress.

Updating the sbt version in the project fixes the problem. The installed version of 1.0.1 works properly as long as the project has version 1.0.2

:-)

@avdv Thanks for your help.

[2017-09-21 16:51] dwijnand commented on #2901
I understand more now than I did in February. :)

I suspect the reason is that `+` only considers the projects in `ThisBuild`. When you use `ProjectRef` you introduce another build.

However with the new implementation of `+` in sbt 1, this problem might indeed be moot.

[2017-09-21 16:55] dwijnand commented on #3240
Nicely done @avdv.

[2017-09-21 17:10] tpolecat commented on #3501
Yep @dwijnand it looks like the same thing. My little buildinfo equivalent gives you runtime access to the compilation time, which is useless enough that I'm happy to turn it off if there's no easy fix on your end.

[2017-09-21 17:43] jastice commented on #3527
intellij-community contains some C code for mac and linux for this purpose which is apache licensed:

https://github.com/JetBrains/intellij-community/tree/master/native/fsNotifier

[2017-09-21 17:52] markehammons commented on #3557
Right now, sbt seems to work for the most part aside from the interactive shell and (probably) the console mode. I'll go ahead and write a simple JNA binding to the posix signals that mimics sun.misc.Signal and do a merge request for a version of SBT that uses and depends on that.

[2017-09-21 17:53] eed3si9n commented on #3557
Would using JNA support Linux, Mac, and Windows?

[2017-09-21 19:23] markehammons commented on #3557
I'll have to look into it. It should work for linux and mac, but windows is a big question mark for me. I'll also look and see if there's any already existing sun.misc.Signal replacement that I could make a shim for that sbt could use in the meantime

[2017-09-21 22:49] markehammons commented on #3557
I don't see that there's a good signal handling lib for java aside from sun.misc.Signal

however, it doesn't look like it will be hard to replace sun.misc.Signal. JNA can bind against the c signal library, which windows has, and mac osx being posix compatible definitely has. sigcont is not one of the supported signals for windows according to the documentation [here](https://docs.microsoft.com/en-

[2017-09-22 07:42] spockz commented on #3527
It would be nice if we could get a jar that loads a native solution so that `FileSystem.newWatchService()` returns an optimised one. I'm not sure whether the lib is that pluggable though.

[2017-09-22 08:26] hamnis opened #3569 "JDK9 warnings on start"
## steps
`sbt update`

## problem

[code]

## expectation
No warnings

## notes

sbt version: 1.0.1

[2017-09-22 08:34] dwijnand commented on #3569
Duplicate of https://github.com/sbt/librarymanagement/issues/169.

[2017-09-22 08:38] dwijnand commented on #3538
I'm for this idea, btw.

[2017-09-22 08:49] dwijnand commented on #3540
I agree this would be a useful feature to add. I propose we add it as a flag to `reload`. Perhaps `reload keep-session` or some such.

[2017-09-22 08:57] dwijnand commented on #3548
If you `publish` and then delete the published artefacts they should re-publish with `publish`. How would sbt know if something is published or not remotely? Resolve it during `publish` to verify?

I agree to no-op'ing `publishLocal` if it's deemed unnecessary. :+1:

Your log output also reminds me of the "incremental scaladoc" feature request: https://github.com/sbt/zinc/issues/387.

[2017-09-22 08:59] #3143 closed, assigned to jvican

[2017-09-22 09:01] dwijnand commented on #3482
I'll try and find time to have a look for 1.0.3.

[2017-09-22 09:05] dwijnand commented on #3559
I'm assuming that the proposed action is to tweak the scripts in https://github.com/sbt/sbt-launcher-package. Please let me know if you were thinking of other (or more) actions.

[2017-09-22 09:06] dwijnand commented on #3563
What a weird bug..

[2017-09-22 09:13] DieBauer commented on #3519
I've ran into the same issue (also cross building, with custom repositories file, so basically same setup) with sbt 1.0.2 (sbt 0.13.15 was working fine), and disabling gigahorse works for me. (`updateOptions := updateOptions.value.withGigahorse(false)`)

Here is a stack trace when gigahorse was enabled:

[code]

[2017-09-22 09:20] dwijnand commented on #3519
This is the NPE that @cunei mentioned in https://github.com/sbt/sbt-contrib/blame/d5eff08929050196633d9203919a937aea006e5d/src/main/markdown/2017-08-16.md#L85.

[2017-09-22 10:57] akauppi opened #3570 "sbt 1.0.2 publish with credentials fails to push jar and sources artefacts (for one of three subprojects)"
This one is weird, and I likely won't be able to formulate it according to the contribution guidelines. But I think it's worth reporting in order to see whether others are seeing similar cases on-field as well.

In short:

- upgrading one of my sbt projects (multiproject, with three subprojects) from sbt 0.13.15 to 1.0.2 causes one of the projects (always the same) to be only partially published (

[2017-09-22 12:09] dwijnand commented on #3570
@akauppi Thanks for the report, we'll see what we can do.

[2017-09-22 12:16] jvican commented on #3548
The idea I had in mind is that caching will only work if someone has done `publish` before and hasn't `clean`ed or removed the target directories manually. When an artifact is published, sbt does the following:

1. It creates a timestamp and write it in a file inside `target`. The timestamp will be gotten from the published JARs.
2. It records the local URIs where the jars have been published.
3.

[2017-09-22 17:01] hoff2 opened #3571 "sbt 1.0.2 reads HeapDumpOnOutOfMemoryError option from .sbtopts incorrectly"
Exits with the following error:
[code]
To get sbt to run, one must either remove this option, or, curiously, add an extra `r` to the end of the option name so that it reads `HeapDumpOnOutOfMemoryErrorr` (this doesn't work with just any character, it must be an `r`)

## steps
1. Have a HeapDumpOnOutOfMemoryError option set in the project directory's `.sbtopts` file
2. try to run sbt

## problem
The

[2017-09-22 18:23] AtkinsChang commented on #3527
I try to write some in JNI with same interface.
https://github.com/AtkinsChang/watch-service

Custom `FileSystem.newWatchService()` is pluggable.
Java is able to config default filesystem class with property `java.nio.file.spi.DefaultFileSystemProvider`.
But if you want to extends` MacOSXFileSystem`, the library should be load in bootclasspath with rt.jar. Otherwise you need to write your own `Fil

[2017-09-22 18:41] dwijnand commented on #1576
I assume that this feature request has long since been worked around and is no longer necessary, so I'll close it. Please re-open it if I'm mistaken.

[2017-09-22 18:41] #1576 closed, assigned to nobody

[2017-09-22 19:08] samudurand commented on #1518
I am still having the issue related to the number of version in the exclusion
This is not excluding :
[code]
But this works
[code]
I thought from sbt 1.0 I would not need to explicitely set the scala version ?

[2017-09-22 22:08] muxanick commented on #871
@eed3si9n I've tried to work in Cygwin for a day, that's not a solution at all, too slow, too much memory, to heavy for everyday work. And it requires of re-writing of whole my infrastructure of scripts.
Can you please point me to the code I can look into to fix that issue?

[2017-09-22 23:09] eed3si9n commented on #871
@muxanick I don't know for sure what's causing the problem, but a good start might be the following:

- https://github.com/sbt/sbt/blob/v1.0.2/internal/util-complete/src/main/scala/sbt/internal/util/LineReader.scala#L22-L31
- https://github.com/sbt/sbt-zero-thirteen/blob/v0.13.16/util/complete/src/main/scala/sbt/LineReader.scala#L16

Another thing you could try is write JLine 2 application in your

[2017-09-23 07:08] vovapolu opened #3572 "Illegal dynamic reference: State in dynamic input task"
## steps
Compile this code under sbt 1.0.0
[code]
## problem
It throws `Illegal dynamic reference: State`, but under 0.13.16 sbt everything is alright

## expectation
Normal compilation as in sbt 0.13.16

sbt version: *1.0.0*

[2017-09-23 08:48] toddleo commented on #3404
I have the same issue when using sbt 0.13.16

[2017-09-23 08:53] dwijnand commented on #3572
Thanks @vovapolu, I'll see if I can identify how this regressed.

[2017-09-23 13:16] laughedelic opened #3573 "Ivy-style patterns have an extra slash which may cause problems"
This was discoverd by @michaelahlers in https://github.com/ohnosequences/sbt-s3-resolver/issues/52. Here I'll try to show the problem without using sbt-s3-resolver.

## steps

Minimal project setup:

* `project/plugins.sbt`:
[code]

* `build.sbt`:
[code]

The bintray plugin here is not so important. It should be the same with the standard `Resolver.url`. I use bintray here just for demonstration.

[2017-09-23 22:28] laughedelic commented on #3573
This is fixed in https://github.com/sbt/librarymanagement/pull/170. Feel free to close.

[2017-09-23 22:29] eed3si9n commented on #3573
We'll keep this open until the new lm is merged to sbt/sbt.

[2017-09-24 08:08] abhi18av opened #3574 "conda-forge package for sbt"
Hi guys,

I've been working on the [`conda-forge`](https://conda-forge.org/) package for `sbt` in this [PR](https://github.com/conda-forge/staged-recipes/pull/4037)

I'm running into issues, could you help me get `sbt` into the `conda` management space ?

[2017-09-24 08:34] eed3si9n commented on #3574
Travis says:

[2017-09-24 08:45] abhi18av commented on #3574
@eed3si9n , yup thanks :)

I've corrected that one ( this is always the first issue ) but now the real story begins.

Travis gave a more sophisticated error log now

[code]
This can be found at https://travis-ci.org/conda-forge/staged-recipes/builds/279145162?utm_source=github_status&utm_medium=notification

Which is a bit cryptic to me.

[2017-09-24 08:54] eed3si9n commented on #3574
I am not really familiar with what conda is, and I don't know if these are specifically sbt issues.

[2017-09-24 08:54] #3574 closed, assigned to nobody

[2017-09-24 09:03] abhi18av commented on #3574
Well, let me try to explain why it's relevant.

`Scala` is often used in `Data Science` and so is `Python` , `Julia` and `R`. So, instead of treating each language as an island there's a language-agnostic and platform-agnostic package manager called [`conda`](https://conda.io/docs/) which is an initiative from [`Anaconda`](https://www.anaconda.com/what-is-anaconda/).

Think of `brew` but completel

[2017-09-24 09:06] eed3si9n commented on #3574
We use GitHub issue mostly to track bugs and discuss feature or bugs on sbt.
If you need help, please check this out - http://www.scala-sbt.org/community.html#how-can-I-get-help

[2017-09-24 09:19] abhi18av commented on #3574
Okay 👍

[2017-09-24 10:06] angelcervera commented on #1448
Any intention to fix it? 3 years and still open.

[2017-09-24 16:17] fommil commented on #3469
This really stings in ensime because we have a lot of tests

[2017-09-24 17:11] muxanick commented on #871
@eed3si9n thanks!

[2017-09-24 23:29] SethTisue commented on #2061
this ticket is obsolete now that JDK 9 is supported, yes?

[2017-09-24 23:30] SethTisue commented on #2060
sbt 1.0.x uses Scala 2.12

the sbt 0.13.x series is stuck on Scala 2.10 forever, since that's the Scala version all of the community's plugins are published for

[2017-09-25 04:22] eed3si9n opened #3575 "0.13.16 build becomes slow on Mac using Java 6"
## steps

- Check out Giter8 0.10.0 tag - https://github.com/foundweekends/giter8/tree/v0.10.0
- `jenv shell 1.6`
- `sbt`

## problem

sbt takes really long time to load.
When the build eventually comes up, the shell doesn't display typing for about 10s, it's completely unusable.

## expectation

sbt behaves normally, as it does on Linux.

## notes

sbt version: 0.13.6

I'm not sure if this is any

[2017-09-25 04:41] eed3si9n commented on #2061
Yes. Let's close it.

[2017-09-25 04:41] #2061 closed, assigned to nobody

[2017-09-25 05:01] dalamar66 commented on #3471
Same issue here, using:

[code]

- Struggling to update java because of internal restrictions: (Any workaround?)

[code]

[2017-09-25 06:11] blueway commented on #3494
@eed3si9n  yes,I am in China, these urls cannot be  downloaded

echo here:
[code]

[2017-09-25 06:42] eed3si9n commented on #3494
@blueway I've uploaded to another CDN. Please check - http://www.scala-sbt.org/download.html

[2017-09-25 06:47] blueway commented on #3494
@eed3si9n , ok , the amazonaws always can download, thanks

[2017-09-25 07:11] xpzsoft opened #3576 ""-jvm-debug 5005" doesn't work on windows7 by version 0.13.15"
(See the guidelines for contributing, linked above)

## steps

## problem

I want to using remote debug combine eclipse and sbt, but the "-jvm-debug 5005 run" does not work, and just give a message "[warn] The `-` command is deprecated in favor of `onFailure` and will be removed in 0.14.0".

I searched the start file sbt.bat at sbt_home/bin folder, and find the configuration like :

[code]

but it

[2017-09-25 09:55] pawelruchaj commented on #3404
It might be worth trying to remove dalton-client* from .ivy2 and .m2 - it helped in my case.

[2017-09-25 10:24] dwijnand commented on #1224
Copy (and tweaked) workaround from #2405:

[code]

[2017-09-25 12:13] achieverprince commented on #413
I am new to scala, wanted to see what is it.
Tried to import **play-scala-forms-example**, intellij is resolving dependency for last 30 min.
I think something wrong with it...

[2017-09-25 12:15] jvican commented on #1518
@samudurand
[code]

[2017-09-25 12:20] samudurand commented on #1518
@jvican looks good ! I will try that tonight

[2017-09-25 13:04] dwijnand commented on #3508
@eed3si9n Does #3556 close this? Same question for #3176 and #3437.

[2017-09-25 13:17] laughedelic commented on #3508
So if I understand correctly, just checking `./project/target/active.json` file should be enough to know if the server is running and on which port.

There is one more question I had related to this (not reflected in the issue title, but asked in the post): _is it possible to launch server in background?_ I think this is a common scenario for clients: check if server is running, connect or launch

[2017-09-25 14:36] lmazzon commented on #3206
That worked for me!
Thanks a lot

[2017-09-25 15:39] mdedetrich opened #3578 "externalDependencyClasspath depending on managedClasspath in Runtime"
## steps

Use an sbt-plugin such as sbt-web, and have the following included in your `build.sbt`

[code]

You can clone https://github.com/vmunier/akka-http-with-scalajs-example if you want a live example

Finally load the project in Intellij

## problem

When using Intellij which resolves dependencies via sbt, Intellij runs the `externalDependencyClasspath` task to resolve the dependencies it nee

[2017-09-25 15:46] mdedetrich commented on #3578
Pinging @jastice

[2017-09-25 15:49] dwijnand commented on #3578
I wonder perhaps `externalDependencyClasspath` depending on `managedClasspath in Runtime` _is_ correct, and IntelliJ should use `managedClasspath in Compile` instead of `externalDependencyClasspath`?

[2017-09-25 15:54] jastice commented on #3578
One issue is that the IntelliJ import evaluates `externalDependencyClasspath` in *all* configurations to get all the artifacts used by the project. Do you think `Runtime` should be specifically excluded? I would have to look into the consequences of that.

[2017-09-25 15:56] dwijnand commented on #3578
For typechecking reasons you only need what's in compile scope. On the other hand it might be handy to have the other runtime dependencies loaded in your IDE too.. For instance slf4j in compile scope and logback in runtime scope - you might want access to the sources of logback.

[2017-09-25 16:03] jastice commented on #3578
There's also the custom scopes such as `it`. But I might try excluding runtime and see how it goes in the Nightlies.

Do you see an alternative to the configuration of making the classpath depend on the build? That doesn't seem right in the first place.

[2017-09-25 16:57] eed3si9n commented on #3508
@dwijnand What Alexey said, basically.

We still need an exact incantation for a random client to to run that would:

1. start up a server in the background in autoclose mode, if sbt is not yet running.
2. don't start up at all, if sbt server is already running.
3. when running on autoclose mode, automatically close itself once all clients are gone.

[code]

[2017-09-25 17:05] mdedetrich commented on #3578
This is actually interesting, because actually you sometimes do want `managedClasspath in Runtime`, i.e. the slf4j/logback is a very good example of this. Other examples are things like Servlet Java API (or anything where you code against a default interface at compile time but provide an implementation at runtime).

I have a sneaking suspicion that there should be a separate config for compiling

[2017-09-25 17:22] eed3si9n commented on #3578
I am not familiar with how sbt-web and asset pipeline work exactly, but what is the intention of putting `(packageBin in Assets).value` into `managedClasspath in Runtime` here?

Isn't that called resources? Would there be a problem if `managedResources in Runtime` was used?

[2017-09-25 18:10] mdedetrich commented on #3578
Probably would be best to ask here https://github.com/sbt/sbt-web/issues/154

[2017-09-25 18:21] NeQuissimus opened #3579 "Removing override breaks compilation"
I have a ScalaTest suite trait that is customized to include a few traits.
In some of my tests, I override `beforeAll`, in others I do not.
I just removed a `beforeAll` implementation from a test suite and noticed a strange error.

Luckily, I have been able to minimize the bug quite a bit.

**build.sbt**
[code]

**project/build.properties**

[code]

**src/test/scala/Suite.scala**

[code]

**src/te

[2017-09-25 19:20] richdougherty commented on #3578
I'm not 100% sure, but sbt-web may package up its resources (CSS, JavaScript, etc) into a [WebJar](https://www.webjars.org/), and this WebJar should then be added to the classpath so that its contents can be found when the web server runs.

[2017-09-25 20:10] smarter opened #3580 "Using Def.derive with configuration-scoped tasks can break task aggregation"
Consider the following build.sbt (git repo: https://github.com/smarter/sbt-derive-bug):
[code]
`foo` is aggregated in root, as expected:
[code]

But now, if we uncomment the commented lines above, we get:
[code]

This happens with both sbt 0.13 and 1.0. This does not happen if we use `bar in Compile := ...` instead of `Def.derive`, or if we replace all `foo in Compile` by `foo`.
This makes sbt-dot

[2017-09-25 21:11] eed3si9n commented on #3578
## is there actually a problem with sbt, sbt-web, or Scala.js?

To clarify the situation, it's [akka-http-with-scalajs-example](https://github.com/vmunier/akka-http-with-scalajs-example) that added the following line:

[code]

The readme says "The assets (js files, sourcemaps, etc.) are added to the classpath during development thanks to the following lines," so isn't what's happening exactly what

[2017-09-25 23:28] jroper commented on #3473
I guess then that this can probably be fixed fairly easily (note, I didn't write the code and I've barely looked at it, I've been far more involved in the Scala cross building support, but both features are very similar in nature), but in the mean time I would recommend using the word around above.

[2017-09-26 00:37] mdedetrich commented on #3578
@eed3si9n Thanks a lot for the help, going to make an issue with akka-http-with-scalajs-example. It is also however mentioned on sbt-web, see https://github.com/sbt/sbt-web/blob/master/README.md#packaging-and-publishing

[2017-09-26 00:43] mdedetrich commented on #3578
@eed3si9n Quoting from sbt-web, here is there reasoning

On second thoughts, akka-http-with-scalajs-example is just doing what sbt-web said in their README.md. Have to get sbt-web to clarify (agin) why they are using `managedClasspath in Runtime += (packageBin in Assets).value`

[2017-09-26 00:47] eed3si9n commented on #3578
To be part of `packageBin` you just need to join the `products`. `products` are made up of classpath + resources.

To be part of compilation classpath, you need to join some of the classpathes like `externalDependencyClasspath`. Since you don't need png file and text files for your normal compilation, they shouldn't be part of the classpath. And same goes for compiled `*.js` files, no?

[2017-09-26 00:59] mdedetrich commented on #3578
Yeah agreed, wouldn't something like

[code]

Make more sense? This way you would only trigger a full optimized build when you do a proper binary package.

Another  alternative is to override the `deliver` and `deliverLocal` so that the optimized assets happens before any publishing (which should also work when you do `packageBin in Universal`), i.e.

[code]

@wsargent @jroper Doesn't this make mo

[2017-09-26 01:09] eed3si9n commented on #3578
If it needs to be in `packageBin in Compile`, then my first guess is that it should be part of `managedResources in Runtime` as I first wrote.

I also just saw https://github.com/sbt/sbt-web#packaging-and-publishing on sbt-web README.

[2017-09-26 01:12] mdedetrich commented on #3578
Ah yes, you are right. Okay will see what the sbt-web guys are saying. I am going to try this out on my projects to see if there are any issues.

[2017-09-26 02:39] jroper commented on #3578
@mdedetrich If you add:

[code]

To your build, then what you are saying is "I need this jar file on my classpath in order to run my project". Is that true?

I think it's fine for IntelliJ to execute something that eventually executes `managedClasspath in Runtime` to discover dependencies, afterall, it's not a build tool, it isn't just compiling/typechecking your code, it's an IDE which means it r

[2017-09-26 03:13] LogicalTime commented on #3519
Using keystore style authentication (adding -Djavax.net.ssl.trustStore type params to SBT_OPTS) also seems to fail for SBT 1.0.2 (ssl handshake issues). Switching project back to 0.13.15 allows https connections to repositiories again. Just mentioning it in case the authentication issues are related. I'll see if:
updateOptions := updateOptions.value.withGigahorse(false)

helps tomorrow.

[2017-09-26 03:21] jroper commented on #3578
Another possible solution to this is:

[code]

What this will do is add the artifact to the classpath without actually packaging it (and therefore without executing scala.js etc). This should solve the issue with importing to IntelliJ, allowing IntelliJ to run the project with the correct classpath assuming that the artifact has actually been built prior to running it. It will however introduce is

[2017-09-26 03:22] mdedetrich commented on #3578
Actually you technically sought of don't. Scala-js has `fastOptJs` and `fullOptJs`. `fastOptJs` is much faster (hence its name) and it can be used to debug/run any code that is produced by Scala.js. In fact, `fastOptJs` is what you should use for debugging/running `.js` code produced by Scala.js. `fullOptJs` should only be ever used for the final package or for things like CDN.

Thanks for clarify

[2017-09-26 03:25] mdedetrich commented on #3578
sbt-native-packager uses `pacakgeBin in Universal` to produce the full artifact.

[2017-09-26 03:42] jroper commented on #3578
I've just had a look at [sbt-web-scalajs](https://github.com/vmunier/sbt-web-scalajs), and I see what the underlying problem is here. It's looking at what command has been run on the CLI to establish whether to run the fast or full JS command. Doing this is really working against the tool, sbt tasks should be idempotent, invoke it once, invoke it 100 times, doesn't matter the context, it should al

[2017-09-26 03:50] jroper commented on #3578
By the way, the example project you're using already has published a work around to your problem right at the bottom of its README:

https://github.com/vmunier/akka-http-with-scalajs-example#classpath-during-development

I still don't think the way that sbt-web-scalajs works is good, but that should at least work around your issue.

[2017-09-26 03:57] rossabaker commented on #3488
I just started using the `maven(org.scala-lang, scala-library, stable)` syntax, which is wonderful, and broke the `sbt new` use case.

[2017-09-26 05:01] eed3si9n commented on #3578
Isn't the contract of `externalDependencyClasspath in Runtime`, you get the JAR file results from the `update` task in `Runtime`? Keys.scala says:

It's reasonable for IntelliJ to then ask for the key, thinking it will get necessary JARs to do whatever it needs to do, like code completion.

By injecting assets into `Runtime` (and thus its child such as `Test`), we are turning `externalDependencyCl

[2017-09-26 08:25] leonardehrenfried commented on #3431
@eed3si9n Would you merge in PR for this? The solution seems trivial.

[2017-09-26 08:43] mdedetrich commented on #3578
While this is a problem, its not the underlying issue. I will make a ticket at sbt-web-scalajs, but @eed3si9n is right. `externalDependencyClasspath in Runtime` is only for loading dependencies (in the context of Scala/Java/Intellij, this means downloading all the jar dependencies). Its not meant to be for compiling assets. Even if this is fixed in sbt-web-scalajs, Intellij will still have to do a

[2017-09-26 10:54] rintcius commented on #3502
I hit the same problem after we upgraded to `sbt 1.0.2`. It may be a resource leak, triggered only for big projects (or after a long time of watching files), so may not be so easy to minimise this problem.
You could try to reproduce by:

* cloning `https://github.com/quasar-analytics/quasar`
* `./sbt`
* in `sbt` console: `~ ;compile ;test:compile` (I ran into the NPE after I needed to recompile a

[2017-09-26 13:10] dwijnand commented on #3579
Hey @NeQuissimus, thanks for the great minimisation. Unless I'm mistaken, I think this is a duplicate of https://github.com/sbt/zinc/issues/292, so I'm closing this in favour of that, notifying that issue of your minimisation.

[2017-09-26 13:10] #3579 closed, assigned to nobody

[2017-09-26 13:17] NeQuissimus commented on #3579
Oh, yes, looks like it. I had not searched across repos :) Will watch for progress there.

[2017-09-26 13:18] smarter commented on #3580
Worked around by not using Def.derive: https://github.com/lampepfl/dotty/pull/3178

[2017-09-26 13:19] jastice opened #3581 "sbt new templating: reflective api for GUIs"
Since Activator is being decommissioned, I'd like to replace the template support in the Scala plugin with `sbt new` support.

Problem is that the `TemplateResolver` interface as it is would force users to go to the command line to supply parameters to g8 (or any other resolver) after choosing a template.

For g8 at least, it would probably be sufficient to be able to query parameters, default val

[2017-09-26 13:34] #3564 closed, assigned to nobody

[2017-09-26 14:27] jvican opened #3582 "Improve and make sbt's workflow more opinionated"
sbt is project independent. It allows users to suspend an existing sbt process in project `A`, change the directory to project `B`, `fg` the previous sbt process, `reload`, and have a working sbt for `B`.

This is a great advantage:

* You only have one virtual machine running on your machine for different projects/repos.
* You reuse the hot compiler across all those different projects/repos.
* Yo

[2017-09-26 15:26] djspiewak commented on #3502
@dwijnand Is it possible this is being caused by SBT attempting to get file monitor handles on every source file in the project?  Quasar is a particularly large project, and I wouldn't be surprised if it were pushing some of the limits in that regard.

[2017-09-26 15:51] djspiewak commented on #3502
A bit of internal testing has confirmed that this bug was introduced with SBT 1.0.1.  It is not present on SBT 1.0.0.

[2017-09-26 15:53] dwijnand commented on #3502
I don't have anything to disprove that possibility. Maybe @Duhemm, who changed the file watching in sbt 1, could answer better than me (if he has any spare cycles).

WRT 1.0.1, https://github.com/sbt/sbt/pull/3438 and https://github.com/sbt/sbt/pull/3439 are two PRs that we shipped in sbt 1.0.1 to do with source watching.

[2017-09-26 15:59] djspiewak commented on #3502
Looks like quasar has `sourcesInBase` set to `true` (relevant to [this line](https://github.com/sbt/sbt/pull/3439/files#diff-6373e7f7122325e753b75fe1cc76ff5fR320)), which is interesting because I don't believe we've actually configured that setting, so I'm guessing that SBT is just defaulting it.  If I understand things correctly, this means that SBT 1.0.[1,2] is now doubling up on watching all pr

[2017-09-26 17:56] RatanRSur commented on #3527
seeing the same on arch linux, sbt 1.0.0

[2017-09-26 18:40] cunei opened #3583 "sbt 1.0.2 vs 0.13.16: different test TaskDefs"
### steps
[code]
## problem
`sbt test` succeeds with 0.13.16, but with 1.0.2 it says:
[code]
### notes
I dug into the Scalacheck code. The code receives a bunch of `sbt.testing.TaskDef` instances (as per sbt's `test-interface`), and tries a `Class.forName(name + "$",...` on each. The list does not contain `q.X.Y`, above in 0.13.16, but it does in 1.0.2, and the `forName` fails.

0.13.16:
[code]
1.

[2017-09-26 21:03] jvican commented on #3583
This could be a problem coming from Zinc analysis, which is then exposed via sbt's test-interface.

[2017-09-26 21:18] eed3si9n commented on #3583
Maybe there are two issues here:

1. Is sbt 1 right in detecting `q.X.Y` as a test group?
2. Is the name `q.X.Y` correct?

One thing that could be happening is that we improved in detecting nested object, but we messed up in calculating the ["canonical" name](https://docs.oracle.com/javase/specs/jls/se8/html/jls-6.html#jls-6.7) of object-nested-in-object. If in fact the requirement is that it must

[2017-09-26 22:20] djspiewak commented on #3502
As a sidebar, it's possible to generate this failure even without using `~`.  Or at least, you can get it out of things that are not using file monitors after having previously used `~`.

[2017-09-26 22:38] eed3si9n commented on #3571
I think this is now fixed by https://github.com/sbt/sbt-launcher-package/pull/187

[2017-09-26 22:38] #3571 closed, assigned to nobody

[2017-09-26 23:22] mpollmeier opened #3584 "classloader error when updating local lib while keeping sbt running"
## steps to reproduce
1. `git clone https://github.com/mpollmeier/sbt-publishlocal-bug.git`
1. open two terminals, one in library, one in service
1. in library: `sbt publishLocal`
1. in service: start sbt, run `compile` (everything compiles fine), keep sbt open
1. in library: change anything, e.g. `echo "object A" >> src/main/scala/Library.scala`
1. in library: `sbt publishLocal`
1. in service: ru

[2017-09-27 00:14] jroper commented on #3578
I'm not sure that there are any such assumptions.

There are three main reasons for adding the assets to the classpath:

* To ensure that they get included by tools such as sbt-native-packager and sbt-assembly
* To ensure that they get get included on the classpath when running the project
* To ensure that they get included on the classpath when running tests

Whichever point (or points) we add th

[2017-09-27 01:34] #3576 closed, assigned to nobody

[2017-09-27 04:00] eed3si9n commented on #3581
As you noted `sbt new` just hands off the control to underlying program via sbt-giter8-resolver (or sbt-fmpp-resolver).

You probably can emulate the CI dialog by reading the properties file. I think that's a good idea.

[2017-09-27 08:53] #3467 closed, assigned to nobody

[2017-09-27 09:00] keweishang opened #3585 "Cannot specify -Dconfig.resource=/path/to/configFile when launching gatling integration test with sbt 1.0.2"
## steps
1. Specify sbt version _1.0.2_ in build.properties:
`sbt.version = 1.0.2`
2. Specify scala version _2.11.11_ in build.sbt:
`scalaVersion := "2.11.11"`
3. Add the following plugin in plugins.sbt:
`addSbtPlugin("io.gatling" % "gatling-sbt" % "2.2.2")`
4. Add gatling dependencies in build.sbt:
[code]
5. Enable _integration test_ and _gatling plugin_ in build.sbt:
[code]
6. Create the followi

[2017-09-27 09:07] chikei commented on #3570
Got same problem here with similar publish setting above, but the failed types here are `javadocs`, regular jar and `-bundle`, the exception from sbt are either `java.net.SocketException: Connection reset` or `java.net.SocketException: Broken pipe (Write failed)`

From the nexus request log file, it seems sbt will not send request with credential for failing artifact. The request logs of success a

[2017-09-27 13:58] jvican commented on #3583
Gregorz made the switch to canonical names. I want to believe that for a good reason. I'll be resuming my work on Zinc soon, I can look at that issue to get warmed up then.

All I can say for now is that `q.X.Y$` is a valid class name in this context, and should exist.

[2017-09-27 15:04] alissapajer commented on #3527
Also seeing the same on ubuntu 16.04, sbt 1.0.0.

[2017-09-27 15:34] eed3si9n commented on #3542
I think this is a good idea. Great for contribution.
We will help on Gitter if anyone needs help for this.

[2017-09-27 15:37] djspiewak commented on #3527
With quasar and SBT 1.0.2, it takes about 7 seconds to see file changes in the default configuration, and about 16 seconds to see file changes with `set every sourcesInBase := false` (which is required to avoid constantly hitting #3502).  This is on macOS 10.13 with APFS.

[2017-09-27 15:42] dwijnand commented on #3538
If we make changes to scripted we should keep https://github.com/sbt/sbt/issues/3514 in mind too.

[2017-09-27 15:43] eed3si9n commented on #3538
Note we'd essentially duplicate scripted plugin inside the SbtPlugin plugin, because we can't dynamically add dependencies to metabuild.

[2017-09-27 15:45] djspiewak opened #3586 "Zinc sometimes doesn't invalidate files where trait definitions are inherited"
Ok, I don't have a nice and minimal test case for you guys, unfortunately, but I do have a reproducer.  It seems like this issue is broadly related to the cake pattern, which is used heavily in some older parts of the quasar codebase (sadface…).  Changing upstream functions (in inherited traits) will cause some downstream compilation units to explode at runtime with `AbstractMethodError` due to Zi

[2017-09-27 15:56] eed3si9n commented on #3053
For now, I think a good workaround might be to define `commonSettings` or an ad-hoc AutoPlugin.

[2017-09-27 16:12] eed3si9n commented on #2446
I personally think `~` is working as expected since `~` command doesn't know what it's about to execute. For example, we can use it with sbt-doge as follows:

[code]

`~` won't know what sbt-doge's `so` command would take action on `bar` subproject. I think this is more of a documentation than anything. As you wrote, if aggregation works, then I think that's what we have to live with.

[2017-09-27 16:28] eed3si9n commented on #3266
Maybe an import statement like language flag thing?

[code]

[2017-09-27 16:43] dwijnand commented on #3266
Personally I'd want it to disable all linting, not just for lambdas - also if's etc:

[code]

[2017-09-27 16:59] SethTisue opened #3587 "upgrade to Scala 2.12.4 for improved Java 9 (JDK 9) compatibility"
2.12.4 isn't out yet, but it will be pretty soon. I think you'll want to upgrade to get https://github.com/scala/scala/pull/6097 which fixes https://github.com/scala/scala-dev/issues/304

[2017-09-27 18:22] gkossakowski commented on #3527
Former FB people here at Stripe say good things about watchman. Maybe implementing a client to https://facebook.github.io/watchman/docs/socket-interface.html would be a good idea?

The benefit of watchman is that it's battle-tested on code bases of the size orders of magnitude larger than what sbt users run into.

[2017-09-27 19:44] djspiewak commented on #3586
Oh another tidbit that might be relevant: we are using typelevel Scala 2.11.8.  This particular code isn't touching any TLS features, but it is that compiler which is in play.

[2017-09-27 21:49] eed3si9n commented on #3527
If we go the watchman route, here's a client written in Java - https://github.com/facebook/buck/blob/v2017.09.04.02/src/com/facebook/buck/io/Watchman.java

[2017-09-27 22:22] jvican commented on #3527
I think @Duhemm already had a look at Watchman (I think I recommended it), but there was some technical reason why he didn't go for it. Maybe he could expand.

[2017-09-27 22:24] jvican commented on #3586
Ok, this is concerning. Will be leading with this as soon as I'm done with the 2.12.4 release.

Thanks for opening this issue @djspiewak, can you please move this discussion to sbt/zinc?

[2017-09-27 22:25] djspiewak commented on #3586
Would you like a new issue on sbt/zinc?

[2017-09-27 22:26] jvican commented on #3586
Yes, that would be ideal. We barely use this repo for zinc bug reports.

[2017-09-27 22:29] djspiewak commented on #3586
Closing in favor of https://github.com/sbt/zinc/issues/417

[2017-09-28 00:41] StephenWithPH commented on #3519
My situation is identical to @DieBauer in https://github.com/sbt/sbt/issues/3519#issuecomment-331395080... resolved in similar fashion.

[2017-09-28 01:17] eshu opened #3588 "Publishing to Nexus repository does not work with sbt-1.0.2"
## steps
Change sbt version from 0.13.16 to 1.0.2 in project/build.properties

## problem
When I change sbt version in project/build.properties from 0.13.16 to 1.0.2, I receive the error:
[code]

## expectation
SBT should publish artifact like it do it in version 0.13.16 or show more meaningful explanation what I did wrong

## notes
Here is a piece of config related to publishing (sorry, I could n

[2017-09-28 03:21] eed3si9n opened #3589 "Duplicate issues between sbt and modules"
I am thinking that we should keep GitHub issues open for both sbt/sbt and submodules open, and just label sbt/sbt one as "Duplicate," and close it only when the module with the fix merges to sbt/sbt.

The main motivation is so we can put the one on sbt/sbt into a milestone, and also so we know when things are fixed from sbt/sbt's perspective. What do you think?

Ref https://github.com/sbt/sbt/issu

[2017-09-28 06:06] dwijnand commented on #3589
lol the use of the "Duplicate" label :)

[2017-09-28 06:07] eed3si9n opened #3590 "An alternative to reboot full"
This for ease of hacking on sbt:

## steps

[code]

## problem

This wipes out the boot directory, so I'd avoid this.

## expectation

Provide:

[code]

This deletes only the directory under boot that is relevant to the current -SNAPSHOT version.

[2017-09-28 06:08] dwijnand commented on #3589
I like that solution. I'd just suggest a label "upstream" (or similar) as "Duplicate" means duplicate within the same issue tracker. Also that way we can use it for other upstream issues.

[2017-09-28 06:10] eed3si9n commented on #3589
I suggested Duplicate because it's an obvious signal that discussion related to the bug should not take place (unless of course we also label with "Needs discussion").

[2017-09-28 08:26] #1812 closed, assigned to eed3si9n

[2017-09-28 08:31] dwijnand commented on #3589
I think sbt issues blocked on upstream (which may be a better label than just `upstream`) could still have _some_ discussion, such as: "Is there any way to workaround this JLine issue in sbt?".

I don't think "Duplicate" is the right label. Btw GitHub added some support for the concept of duplication semi recently: https://help.github.com/articles/about-duplicate-issues-and-pull-requests/.

[2017-09-28 08:35] xuwei-k opened #3591 "screpl (sbt.internal.IvyConsole) does not work with sbt 1.0.2"
## steps

[code]

## problem

[code]

## expectation

Should work

## notes

sbt version: 1.0.2

capitalize or use `sbt.Keys.consoleQuick.key.label` ?

https://github.com/sbt/sbt/blob/v1.0.2/main/src/main/scala/sbt/internal/IvyConsole.scala#L55

[code]

[2017-09-28 08:45] samudurand commented on #1518
@jvican this does work but not with ```exclude``` , instead use ```excludeAll()```

[2017-09-28 09:46] izhangzhihao commented on #3187
It's still not fixed in sbt version 1.0.2, see here https://github.com/izhangzhihao/sbt-issue-3187

[code]

[2017-09-28 14:27] leonardehrenfried commented on #3570
I'm seeing the same thing with 1.0.2.

Nexus rejects the upload because of missing credentials. Weirdly this only happens for some artifacts but not all.

[2017-09-28 16:14] eed3si9n commented on #3570
A workaround might be:

[code]

That should fallback to similar behavior as 0.13.

[2017-09-28 18:09] smarter commented on #3559
Pretty much yes, are the options passed to the launcher script also propagated to the forked JVMs?

[2017-09-28 20:40] ArturGajowy commented on #3497
@NeQuissimus does @Duhemm's workaround work for you?

[2017-09-28 21:55] jvican commented on #3568
This is the ticket I opened in Zinc to add CI for Windows some months ago. There's a WIP PR too.
https://github.com/sbt/zinc/issues/367

[2017-09-28 23:19] eed3si9n commented on #3559
I don't think they are.

https://github.com/sbt/sbt/blob/v1.0.2/main/src/main/scala/sbt/Defaults.scala#L154

[code]

[2017-09-29 05:05] eed3si9n commented on #3575
Now it's happening to another of my 0.13.16 build when I switch to Java 6.

[2017-09-29 08:33] dwijnand commented on #2446
See also related https://github.com/sbt/website/issues/150

[2017-09-29 09:17] dwijnand commented on #3559
No that's why we merged https://github.com/sbt/sbt/pull/2103

[2017-09-29 10:22] dwijnand commented on #3591
I like `sbt.Keys.consoleQuick.key.label` better.

[2017-09-29 10:25] dwijnand commented on #3590
SGTM! Just a clarification by "the current -SNAPSHOT version" I think we should read the value from `project/build.properties` (see https://github.com/sbt/sbt/issues/1055).

[2017-09-29 10:26] dwijnand commented on #3588
Duplicate of #3519.

[2017-09-29 10:26] #3588 closed, assigned to nobody

[2017-09-29 12:33] NeQuissimus commented on #3497
@ArturGajowy Well, whenever I have used it, sbt has not crashed. The issue only happens every few days, so it is hard to be sure. I will try to remember to use it and report back if I have been crash-less for a week or so.

[2017-09-29 13:09] dwijnand commented on #1413
This is no longer broken in sbt 1.0.2.

[2017-09-29 13:09] #1413 closed, assigned to nobody

[2017-09-29 17:32] eed3si9n commented on #3589
ok. Made a new label for this.

[2017-09-29 17:32] #3589 closed, assigned to nobody

[2017-09-29 17:33] eed3si9n commented on #3589
We should also use `Duplicate of` incantation, if that gives links.

[2017-09-29 17:34] eed3si9n commented on #3569
Re-opening this to track on sbt/sbt. Any discussions should take place in sbt/librarymanagement#169.

[2017-09-29 17:37] eed3si9n commented on #3586
Re-opening this to track on sbt/sbt's milestone. Any discussions should continue on sbt/zinc#417.

[2017-10-01 17:28] mreid-moz opened #3593 "Please update to sbt-launcher-package 1.0.1"
## steps
- Install OpenJDK 1.8.0_141
- Set one or more `_JAVA_OPTIONS` values
- Install sbt 0.13.15
- Run any `sbt` command

## problem
- Java version is mis-identifed due to an extra line in the `java -version` output like `Picked up _JAVA_OPTIONS: -Djava.io.tmpdir=/mnt1/ -Xmx15000M -Xms1000M`
- spurious error message is logged to the console:
[code]

## expectation
- Java version should be prope

[2017-10-01 20:29] laughedelic commented on #3582
A relevant issue: https://github.com/sbt/sbt/issues/3252

There is a plugin for that: [sbt-build-files-watcher](https://github.com/tototoshi/sbt-build-files-watcher) (not sure it works with sbt-1.x). I've been using it for quite some time integrated with [sbt-prompt](https://github.com/agemooij/sbt-prompt) to show the warning in the prompt.

[2017-10-01 20:39] laughedelic opened #3594 "Consider adding JCenter to the list of default resolvers"
I remember that at some point JCenter was in the list of default resolvers, but I missed that it was removed and only recently discovered this:
- https://github.com/sbt/sbt/issues/2217
- https://github.com/sbt/sbt/pull/2335

I understand that there were some problems with making JCenter the new default resolver and replacing Maven Central, but I don't quite understand why it cannot be just another

[2017-10-01 21:57] eed3si9n commented on #3594
To resolve dynamic revisions such as range and -SNAPSHOT correctly, it will need to traverse all resolvers, so each remote resolvers that we add by default will add a second of lookup (could be more if you're in Asia/Pacific/Africa), and when they become unreachable (due to capacity or outage) it fails the entire build.

We added `useJCenter` to opt-in per build basis, so hopefully those who need

[2017-10-02 10:15] laughedelic commented on #3594
Right, I didn't think about dynamic revisions 😒
Isn't it considered bad practice nowadays to use dynamic revisions? (especially overwritable snapshots)

[2017-10-02 10:35] dwijnand opened #3595 "Make `reload` faster if nothing's changed, aka "cached reload""
## steps

1. Change nothing since the last (re)load.
2. Run `reload`.

## problem

The problem is my life is wasted, because `reload` takes too long.

## expectation

I expect `reload` to return "fast". For instance in Akka's current `jdk9-build` branch it shouldn't take 11 seconds to execute reload when nothing's changed.

## notes

This enhancement was suggested by @edmundnoble who wanted to thr

[2017-10-02 10:37] dwijnand commented on #3540
/cc @edmundnoble who could've used this too when he wanted to add (and then remove) some session settings and use `reload` at the same time, in a custom command - having a `reload keep-session` would've given him more options.

[2017-10-02 10:42] dwijnand commented on #3594
I [discourage it](https://github.com/dwijnand/sbt-dynver) 😃

[2017-10-02 10:44] laughedelic commented on #3594
Also, [sbt-lock](https://github.com/tkawachi/sbt-lock) exists for a reason.

[2017-10-02 10:59] laughedelic commented on #3582
An idea: make this default behaviour for `sbt new`: once you create a new project from a template your sbt shell switches to this new project.

This is also related with my suggestion to allow `sbt new` apply template to the current directory (https://github.com/sbt/sbt/issues/3391 & https://github.com/foundweekends/giter8/issues/330). Currently, to create a new project you have to run sbt in a pa

[2017-10-03 04:29] ScalaWilliam commented on #3527
Experiencing this problem too. Forces me to downgrade to 0.13.16 for TDD tasks.

[2017-10-03 04:33] eed3si9n commented on #3527
Maybe as a short-term solution, it would be good to tune the polling just so we could be on par with 0.13 if possible.

[2017-10-03 16:44] ChuckkNorris commented on #1855
The latest advertised release linked on the Download Scala states it's for Scala v2.12.3, but it downloads the the SBT v1.0.2 which still installs Scala v2.10.6 (with the bad `jline.jar`).

Specifically, this is occurring for the Windows MSI installer. Any idea when the link will be updated so new people don't have to deal with this error?

[2017-10-03 19:31] drxcc commented on #3584
I have been running up against this issue for several months now.  I was assuming I was doing something wrong when I didn't see anyone else with the issue and it seemed like such a common use case.

In the past I would essentially continually run `~publishLocal` from one project and `~run` in another and I could edit any file without worrying which project it was from.   I have been using this mod

[2017-10-03 21:01] cunei commented on #3583
So, the matter seems to be not too complicated, even though solving it requires some thinking. A TaskDef contains a fully qualified name. The nested object `q.X.Y` is actually encoded as `q/X$Y$.class`. That means that the forName should be applied to `q.X$Y$`, rather than to `q.X.Y$`. The issue is that a `TaskDef` refers to the contained object using the fullyQualifiedName `q.X.Y`, which is indis

[2017-10-03 21:07] ayekat opened #3598 "`-sbt-dir` option is not respected for the `preloaded` directory"
## steps

1. Run `sbt -sbt-dir /path/to/some/directory`
2. Notice `~/.sbt` being created

## problem

The `boot` and `staging` directories are correctly created under `/path/to/some/directory`, but the `preloaded` directory ends up in `~/.sbt`.

## expectation

Running with `-sbt-dir ...`, I expect *all* files that would normally show up in `~/.sbt` to be stored in the specified directory instead.

[2017-10-03 21:08] eed3si9n opened #3599 "vim :quit"
## steps

1. `:q` or `:quit`

## expectation

It should exit sbt, like we already can in Scala REPL and editors.

## notes

`:q` is not a valid command in sbt 1.1 or 0.13, so there should be no ambiguity.

[2017-10-03 21:16] eed3si9n commented on #3599
Duplicate of #1374

[2017-10-03 21:29] eed3si9n commented on #3599
This is a concern:

[2017-10-03 21:59] SethTisue commented on #3427
I discovered this myself the other day as well. sbt 1.0.x does not support Scala 2.13.0-Mx.

[2017-10-04 00:09] mpollmeier commented on #3584
Your first idea was right: the problem doesn't exist with scala 2.11.11, which suggests that this isn't actually an sbt problem...

[2017-10-04 00:27] drxcc commented on #3584
Interesting you have the same issue.  I’m very surprised no one else has run into this.   I was able to verify that my environment does work with jdk8, sbt-0.13.6 and scala-2.11.11 so it seems like a 2.12 related issue.

Additionally, to reproduce the 2.12 errors, I had to make changes in the upstream project file that depended on classes that have changed in the downstream .  In other words a 2.1

[2017-10-04 00:30] mpollmeier commented on #3584
I just bisected the officially released scala versions and found that 2.12.0-M3 is the last working version, and 2.12.0-M4 is the first version with this bug. Next step: trace it down to the actual commit.

[2017-10-04 04:38] mpollmeier commented on #3584
Unfortunately back then the sbt build of the scala repo wasn't as good as it is today. I can run `sbt publishLocal` on the (e.g. revision `d0ca6ed277`) and it publishes as `2.12.0-SNAPSHOT`, but my sample projects don't find it. For later scala versions the same process works just fine :(

[2017-10-04 05:15] nafg commented on #3599
Personally I don't get the point. The REPL needs `:` to escape commands from being interpreted. SBT doesn't. (The REPL _could_ do what ammonite does and have scala functions imported that interact with the REPL itself, but it doesn't.)

Are we going to advocate that bash also support `:q`?

[2017-10-04 05:28] eed3si9n commented on #3599
I think it would be nice to have a common command to quit between REPL and sbt shell. There used to be `exit`, but that no longer works on Scala. It may not be the most common things people type in, but eventually everyone needs to quit out.

[2017-10-04 06:40] dwijnand commented on #3599
Ctrl-D is the common way, and it'll even work for you to quit bash.

An alternative is `initialCommands += "import scala.sys.exit"`, then you can use `exit` in both the shell and the REPL.

I don't think we should add more ways to achieve the same thing.

[2017-10-04 06:52] avakhrenev commented on #3584
I'm not sure, but seems like scala changes the way how it loads jar files. Wierd things start to happen if jar file is modified in place. Looks like it somhow uses old `ZipEntry` pointers to access updated jar content. This seems relevant: [#3090](https://github.com/sbt/sbt/issues/3090#issuecomment-297174436)

[2017-10-04 09:32] mdedetrich commented on #3578
@jroper @eed3si9n Just letting you know that `fullClasspath in Runtime += (packageBin in Assets).value` doesn't work. If you run the project than everything is compiled, but running `universal:packageBin` (which sbt-native-packager uses) doesn't compile the assets properly for the final `zip`.

On the other hand, `fullClasspath in Runtime += (packageBin in Assets).value` doesn't force Intellij to

[2017-10-04 11:36] dwijnand commented on #3598
`-sbt-dir` sets the system property `sbt.global.base` which isn't be honoured.

[2017-10-04 12:41] ekrich commented on #3599
I look at this from an outsider experience. Not everyone has the same level of experience and anything to make the entry to Scala and sbt easier and make the tools more uniform I think is helpful. Also, since they are considering changes to the REPL in 2.13 then it would be nice to keep this in mind. With sbt you can create aliases which means you can do the following.
[code]
So I guess `exit` has

[2017-10-04 13:33] leonardehrenfried commented on #3570
I can report that setting `updateOptions := updateOptions.value.withGigahorse(false)` worked around the problem. However, this kinda defeats the point of upgrading to sbt 1.

[2017-10-04 17:30] NeQuissimus commented on #3497
@ArturGajowy @Duhemm Twice today I get the crash even despite using the workaround `> set watchService := (() => new sbt.io.PollingWatchService(pollInterval.value))`

I also set `set logLevel := Level.Debug` which did not print anything new.
I attempted to see whether `sbt> ~; clean; test` would not encounter the issue. But it seems to behave the same as `sbt> ~test` concerning this issue (of cour

[2017-10-04 18:05] bhaveshbhatt commented on #3567
I am facing exact same issue with using git bash and command window. Did you get it resolved  ?

[2017-10-04 21:56] SethTisue commented on #2255
there are new remarks with several different suggested workarounds at https://github.com/sbt/sbt-assembly/issues/178

[2017-10-05 08:26] eed3si9n opened #3605 "(Test / bar).value"
## steps

[code]

## problem

[code]

[2017-10-05 08:28] dwijnand commented on #3605
https://github.com/sbt/sbt/blob/dae4694f461426292de48ca0de8448060e339433/main/src/main/scala/sbt/SlashSyntax.scala#L45-L46 didn't kick in because `.value` isn't defined on `SettingKey`, it's also implicitly enriched, and implicits don't chain..

[2017-10-05 13:16] jvican commented on #3594
Yes, but sbt-lock does not solve the problem for SNAPSHOTs, only version ranges and "latest".

[2017-10-05 13:18] jvican commented on #3582
It would be good to have some comments on this idea. /cc @dwijnand @eed3si9n

[2017-10-05 13:41] dwijnand opened #3607 "Improve "Loading settings from <name>.sbt" messaging"
## steps

1. Load a build, for instance the Akka build

## problem

Notice the loading log:

[code]

(those are distinct build.sbt files in different projects of the build)

## expectation

I expect to better understand what sbt's loading is doing, perhaps using base directory relative paths:

[code]

## notes

sbt version: 1.0.2

Note we should do this for user-global files and meta-build files:

[2017-10-05 14:16] natevecc opened #3608 "sbt 1.0.1 and 1.0.2 break ammonite compatibility"
## steps

Following instructions from ammonite site to add the following to `~/.sbt/1.0/global.sbt`:
[code]

Then run `sbt test:run`

## problem

[code]

## expectation

ammonite shell should start like it does in sbt 1.0.0
[code]

## notes

sbt version: 1.0.1 and 1.0.2

[2017-10-05 23:29] eed3si9n opened #3614 "Runtime reflection of classes in the empty package broken under JDK 9"
Originally tracked in https://github.com/scala/scala-dev/issues/304

## steps

1. Declare auto plugins without package names.
2. Run the build on JDK 9.

## problem

I am guessing you'd get:

[code]

## expectation

It works.

[2017-10-06 05:26] MasseGuillaume commented on #3026
It should also set a license field.

[2017-10-06 06:51] dwijnand commented on #3614
Duplicate of #3587.

[2017-10-06 06:51] #3614 closed, assigned to nobody

[2017-10-06 07:52] dwijnand opened #3616 "Scope's resolveProjectBuild and resolveProjectRef mishandle ThisProject"
Scope's `resolveProjectBuild` and `resolveProjectRef` has never properly handled `ThisProject`:

* in #2646 I made the match exhaustive, though incorrectly
* in #3609 I revisited it and fixed it to the degree I can within the constraints of backwards compatibility (they're both public methods)
* in #3610 I considered a fix that involves moving `ThisProject` out of the `Reference` sealed hierarchy

[2017-10-06 14:10] jvican commented on #3607
This would be a good ticket for a Scala Center spree. We'll have one at the end of the month. Feel free to label it as 'spree'.

[2017-10-06 17:16] eed3si9n commented on #2697
I think the steps created by @dwijnand on Gitter is a variant of this:

## steps

foo/build.sbt

[code]

bar/build.sbt

[code]

## problem

[code]

## expectation of mine

I think DSL constructs (subproject definitions, `def`, `val`, bare settings, bare `dependsOn` etc) should be individually sorted first by file names alphabetically, and then dependencies.
And because `foo` comes after `bar` alph

[2017-10-06 17:22] Iacob opened #3618 "Cannot handle ${packaging.type} variable"
## steps

Add following line to build.sbt

[code]

## problem

When building the project, sbt throwing the following error message and quit:

[code]

## expectation

`${packaging.type}` should be correctly handled, the correct value is "jar".

## notes

using sbt 1.0.2

[2017-10-07 00:12] eed3si9n commented on #3618
<s>
Here's a workaround that you can add to `build.sbt`:

[code]

I found this on https://github.com/ronmamo/reflections/issues/169
</s>

**Edit**: See an improved workaround https://github.com/sbt/sbt/issues/3618#issuecomment-424924293

[2017-10-07 02:13] mpollmeier commented on #3584
I used git bisect and traced it down to this commit: https://github.com/scala/scala/commit/6cb50acfb5ee4df342e83d8505116d4607

It introduces a `VirtualDirectoryFlatClassPath`, so we're getting closer. I filed a separate issue: https://github.com/scala/bug/issues/10541

[2017-10-07 07:13] Iacob commented on #3618
Thank you very much, that's solved my problem.

[2017-10-07 08:15] matanox commented on #2255
Thanks for all the elaborate workarounds and adding some comments to the readme few days ago
 @SethTisue @eed3si9n

[2017-10-07 18:25] #3605 closed, assigned to dwijnand

[2017-10-07 21:19] protsenkovi commented on #305
Could someone point to the solution on how to use native libraries in sbt console?

[2017-10-09 08:06] sjoerdmulder opened #3623 "NullPointerException in compile after upgrade to sbt 1.0.2"
(See the guidelines for contributing, linked above)

## steps
1. Running sbt compile on our project sometimes (hard to reproduce) gives a NPE failing the build

## problem
[code]

## expectation

This happens only in 30% of the builds, so it's really hard to reproduce but with sbt 0.13.x it never happened

## notes

sbt version: 1.0.2

[2017-10-09 09:26] francisdb commented on #3588
Also seeing this issue when publishing to Nexus

[code]

only the pom (and hashes) were uploaded correctly

[2017-10-09 09:29] francisdb commented on #3519
Also seeing this issue when publishing to Nexus

[code]

only the pom (and hashes) were uploaded correctly.
(disabling gigahorse indeed fixes this)

[2017-10-09 11:19] nesc58 commented on #3570
Same problem here. Problem exists since sbt 1.0.0.
Workaround `updateOptions := updateOptions.value.withGigahorse(false)` solved the problem for me.

[2017-10-09 13:07] wilmer-daza opened #3624 "[vs-code_scala-sbt-plugin] Not such file or directory : active json"
(See the guidelines for contributing, linked above)

## steps
1. Install the scala sbt extension for VS CODE
2. Open the vs code editor

## problem
1. Here you have the problem:

[code]

## expectation

## notes

sbt version: *insert sbt version*

[2017-10-09 14:48] jvican opened #3625 "Project with same URI overrides previous project definition"
## steps
[code]

## problem
`p2` unexpectedly overrides `p1`.

[code]

## expectation
An error or at least a warning.

sbt version:1.x (perhaps also 0.13.x too).

[2017-10-09 15:33] dwijnand commented on #3565
Here's the link using a stable sha: https://github.com/tpolecat/doobie/blob/cda21f0ece72e3a63392477237a32c26bb4f127d/build.sbt#L269-L287

[2017-10-09 15:39] dwijnand commented on #3565
To answer the question: it's source generators in general.

[2017-10-09 15:42] dwijnand commented on #3501
Minimised:

[code]

[2017-10-09 15:43] dwijnand commented on #3501
It's possible that sbt-buildinfo might need to modify its behaviour too. To that end I've also minimised its code to this minimisation:

[code]

[2017-10-09 16:06] eed3si9n commented on #3624
Which version are you using? LSP is only available in sbt 1.1.0-M1.

[2017-10-09 16:48] eaplatanios commented on #3431
I have a similar issue where I have a `version.sbt` file containing `version in ThisBuild := "0.1.0-SNAPSHOT"` and `isSnapshot` is set to `true` when I check it's value on the console. However, I get the same error (`java.io.IOException: destination file exists and overwrite == false`) when I try to use `publishSigned`. For the publish settings, I also include:

[code]

The only workaround I have

[2017-10-09 16:49] tpolecat commented on #3565
Sorry I didn't provide a stable link. I later reverted to sbt 0.13 as you probably discovered. The 10-second delay was due to the file watcher bug, which I'm also tracking. Thanks!

[2017-10-10 06:28] chengzp commented on #3344
I am also seeing a regression in start-up time, and much more severe:
[code]

Commenting out the entire `build.sbt` file except for `name` did not reduce the startup times.

Commenting out `plugins.sbt` entirely reduced it by about 1-2 seconds (but still worse than before). This is the content:
[code]

[2017-10-10 07:00] schmitch opened #3627 "webinars resolving fails with NullPointerException (proxy repository)"
(See the guidelines for contributing, linked above)

## steps

create a repository file like that:

[code]

## problem

when adding the webinars repository i still can't resolve them since I get the following error:

[code]

however if I switch my repository file around to:

[code]

it starts resolving everything correctly.

## expectation

it should resolve webinars without changing the resolvers

[2017-10-10 07:39] wilmer-daza commented on #3624
You mean the sbt version within my project/build.properties or the sbt version within my environment?

[2017-10-10 08:32] leonardehrenfried commented on #3431
By the way, in our case the error was caused by a sub project that had the same name as the root folder. Setting
[code]
on the root project (disabling publishing) fixed this for us.

I'm hoping sbt 1.0.3 contains my fix linked to above. It gives you at least a chance a debugging this issue.

[2017-10-10 09:18] jvican commented on #3616
Could this be shipped into 1.x?

[2017-10-10 10:35] dwijnand commented on #3616
Maybe. We'd have to see how much of the current API would be deprecated.

[2017-10-10 10:38] PetrGlad opened #3628 "www.scala-sbt.org should use HTTPS"
Site www.scala-sbt.org uses plain HTTP. The site hosts links and download instructions which poses a security risk as these instructions/links can be altered by an attacker.
There are already services that provide free HTTPS certificates (e.g. https://letsencrypt.org/) so providing HTTPS is much easier now.

The site should use HTTPS, optionally with [Strict transport security](https://en.wikipedi

[2017-10-10 10:40] dwijnand commented on #3628
Duplicate of https://github.com/sbt/website/issues/275.

[2017-10-10 10:40] #3628 closed, assigned to nobody

[2017-10-10 10:44] dwijnand commented on #3627
Does the NPE come with a stacktrace?

[2017-10-10 10:45] schmitch commented on #3627
sadly, no basically only the two lines are printed.

what I wondered is that it doesn't failover to the next resolver `envisia-maven-proxy-releases`. which actually contains the webjars

[2017-10-10 10:46] dwijnand commented on #3624
The sbt version in project/build.properties.

[2017-10-10 12:56] wilmer-daza commented on #3624
I just changed my sbt version to 1.1.0-M1 and still I got the same error (off course I did execute "sbt compile" on my project)

Error: ENOENT: no such file or directory, open '/home/wilmer/test/scala-test/project/target/active.json'
    at Object.fs.openSync (fs.js:584:18)
    at Object.module.(anonymous function) [as openSync] (ELECTRON_ASAR.js:173:20)
    at Object.fs.readFileSync (fs.js:491:33

[2017-10-10 13:07] wilmer-daza commented on #3624
Sorry guys, I now understand what happened. That "activate.json" is created at the execution of sbt, if I stop the sbt console then this file is destroyed, that means that, if I want my sbt plugin to work I should execute sbt on my project, that's completely inconvenient and not practical at all. I also tried to look for and option to be disabled within the conf (so that It will not try to start a

[2017-10-10 14:44] laughedelic commented on #3624
@wilmer-daza yes, this whole sbt server interaction is experimental for now, so you have to launch the sbt server manually. See https://github.com/sbt/sbt/issues/3508#issuecomment-331877593.

[2017-10-10 16:39] Enalmada opened #3630 "file watching stops after changing javascript on windows 10"
After upgrading sbt from 0.13.16 to 1.0.2 on my windows 10 machine, the compiler stops detecting any kind of changes after I change a javascript file.  Works fine when I go back to 0.13.16.  There are no errors in the console when the watching stops.

## steps
- fire up a windows 10 machine (i suspect this is relevant)
- sbt new playframework/play-scala-seed.g8
-  update project/build.properties t

[2017-10-10 18:43] jroper commented on #3389
@godenji The order is being applied correctly. If I have the following code:

[code]

And then I apply it to the build like this:

[code]

I effectively get `myPluginSettings(true) ++ myPluginSettings(false)`, which is `Seq(name := "foo") + Nil`, which is `Seq(name := "foo")`. It doesn't matter how many times I apply `myPluginSettings(false)`, it will always return `Nil`, and so always have no eff

[2017-10-11 08:55] sjrd commented on #2618
This has come back for me [on this branch](https://github.com/sjrd/scala-js/tree/build-on-jdk9) **on JDK 9**, either with a 0.13.16 launcher or a 1.0.2 launcher. The `build.properties` is fixed at 0.13.16 (and I cannot upgrade it to 1.x).

The symptoms are exactly the same, though the environment is significantly different. Should I open a new issue?

[2017-10-11 09:03] dwijnand commented on #2618
Yes please.

[2017-10-11 09:24] sjrd opened #3631 "Scala sources are recompiled every time on JDK 9, sbt 0.13.16"
## steps

`project/build.properties`
[code]
`project/Extra.scala`
[code]
`build.sbt`
[code]
`foo/src/main/test/SimpleTest.scala`
[code]

**On JDK 9**:
[code]

## problem

* `project/Extra.scala` is recompiled every time we launch sbt (also happens on `reload`)
* `SimpleTest.scala` is recompiled every time we run `foo` (or just `foo/compile`)

## expectation

I expect incremental compilation to cor

[2017-10-11 09:24] sjrd commented on #2618
#3631

[2017-10-11 11:33] dwijnand commented on #3625
@Jasper-M on Gitter [mentioned](https://gitter.im/sbt/sbt?at=59dded79b20c642429eb1636):

[2017-10-12 02:22] eed3si9n commented on #3625
My understanding is that this is by design.
We allow multiple references (`ProjectRef`) to a `Project` definition. This for example allows us to split builds into multiple `*.sbt` files.

[2017-10-12 08:45] dwijnand commented on #3625
This isn't multiple `ProjectRef`s, it's multiple `Project`s.

[2017-10-12 20:35] fommil opened #3636 "addSbtPlugin does not respect sbtVersion"
when attempting to upgrade https://gitlab.com/fommil/sbt-sensible to sbt 1.0 I discovered that the cross build support does not work: no matter which `sbtVersion` I choose as the default, the *other* one always tries to resolve the wrong depednencies.

This is because my plugin depends on other plugins with `addSbtPlugin` and this method does not appear to respect the correct `sbtVersion`.

[2017-10-12 20:41] fommil commented on #3636
https://github.com/sbt/sbt/pull/3397

[2017-10-12 20:41] #3636 closed, assigned to nobody

[2017-10-12 20:55] dwijnand commented on #3636
Fix should be available in 1.0.1.

[2017-10-12 21:26] schmitch commented on #3627
what's even stranger is that when I'm working remotely and try to clean my .ivy2 folder via `mv .ivy2 old_ivy` and then run sbt I get:

[code]

however downgrading to 0.13.16 still resolves everything.

also i tried to use ipv4, than I get a SSL handshake exception, besides the fact that 0.13.16 does not get any exception, nor does curl or anything else.

[2017-10-13 13:56] jvican opened #3637 "Missing quasiquote in librarymanagement"
## steps
Try to `publishLocal` twice a module in a sbt 1 build.

## problem
[code]

## expectation
The `$destination` should be replaced by the module that is being published.

Seen in Zinc's build.

sbt version: 1.x

[2017-10-13 14:27] fommil opened #3638 "make it possible to monkey patch sbt's classes"
It would be exceptionally useful to be able to add a class dir to the front of sbt's classpath when it is launched by sbt-launcher to enable trying out local binary compatible hotfixes and performance improvements.

e.g. validating https://github.com/sbt/io/pull/79 would be trivial if this was possible.

I've tried, and failed, to

- put the file in the `project` directory (this would be the ideal

[2017-10-13 15:10] kiritsuku opened #3640 "server doesn't correctly remove disconnected client from internal client list"
Run sbt and connect+disconnect to the server with a client multiple times. At the end when the server is shutdown, several `Shutting down client connection` messages are printed, one for every client that was connected but has been disconnected.

Example log:
[code]

[2017-10-13 15:17] #3464 closed, assigned to nobody

[2017-10-13 16:20] som-snytt commented on #2010
There's a PR against scala to offer a less cryptic message.

[2017-10-14 01:11] #3637 closed, assigned to nobody

[2017-10-14 01:27] ravi5237 opened #3641 "addSbtPlugin : Not a valid command: assembly"
(See the guidelines for contributing, linked above)

## steps

[code]

## problem
When I try to run the "sbt assembly", I am getting the above exception... Please help

## expectation

## notes
assembly.sbt
-------------
`addSbtPlugin("com.eed3si9n" % "sbt-buildinfo" % "0.7.0")`

sbt version: *insert sbt version*
sbt.version=1.0.2

[2017-10-14 03:42] ravi5237 opened #3642 "xception in thread "main" java.lang.NoClassDefFoundError: org/apache/spark/SparkContext"
(See the guidelines for contributing, linked above)

## steps

import org.apache.spark.SparkContext

import org.apache.spark.SparkContext._

import org.apache.spark.SparkConf

/** Count up how many of each star rating exists in the MovieLens 100K data set. */
object RatingsCounter {

  /** Our main function where the action happens */
  def main(args: Array[String]) {

    // Set the log level to

[2017-10-14 11:56] fommil commented on #3638
Thoughts in the sbt launcher PR... we still need the ability to monkey patch at the sbt layer because it seems to do its own classloading thing.

[2017-10-14 12:20] fommil commented on #3638
I think this may be

[code]

I'll send a PR... but locally testing is an absolute nightmare. I always forget how to run my own build of sbt.

[2017-10-14 17:19] eaplatanios commented on #3431
@leonardehrenfried Thanks for the suggestion! In my case, I also publish artifacts for the root project and I also do not have any sub-projects with the same name as the root folder. This is unfortunately therefore not working for me.

Isn't there a simple way to allow overriding the "overwrite" flag?

[2017-10-14 21:49] kiritsuku opened #3644 "server needs to include the request id in textDocument/didSave responses"
Open a Scala file and save it. After saving, a `textDocument/didSave` is sent by vscode. sbt can already handle the request but it doesn't response correctly. The response needs to include the id of the request.

Errors like these are shown in vscode (only the `jsonrpc` and `result` but not the `id` field is present):
[code]

[2017-10-15 04:21] samuela commented on #2010
@som-snytt that's great to hear. do you have a link to that PR by chance?

[2017-10-15 08:08] leonardehrenfried commented on #3431
I think the overwrite flag isn't something a user can set but is used internally by SBT for snapshots.

Again, hopefully SBT 1.0.3 will help you to figure out which file is the problem.

[2017-10-15 13:45] ritschwumm commented on #3631
any idea why this happens?

[2017-10-15 15:23] godenji commented on #3187
Seeing the same in 1.0.2, can workaround by switching to affected subproject and doing a `;clean;compile`. Would be great if this issue gets resolved in next release.

[2017-10-15 20:23] dwijnand commented on #1956
Fixed in #2103. Shipped in 0.13.10.

[2017-10-15 20:23] #1956 closed, assigned to nobody

[2017-10-16 07:01] fedefernandez opened #3645 "Use logback with slf4j in sbt custom tasks (override default dependencies for SBT tasks runtime)"
## steps

Create a new SBT project

`project/build.properties`
[code]

`project/plugins.sbt`
[code]

`build.sbt`
[code]

## problem

The `LoggerFactory.getLogger` returns a *log4j logger* but it should return a *logback logger*. If we change to sbt `0.13.16` it works flawlessly.

## expectation

[code]

But got

[code]

## notes

sbt version: *1.0.2*

[2017-10-16 09:18] francisdb commented on #3594
Just a note on my 👎
Maven central is run by an open organisation (Apache)
JCenter is run by a commercial company (JFrog)
It's not hard to set up a sync to maven central
As already mentioned above, less repos is better

[2017-10-16 10:24] d80tb7 commented on #3509
@eed3si9n

I've take a look at this and can confirm that this is still an issue on 1.x. I would propose the following fix- which I'm happy to implement if you're ok with it.  Changes would be made in sbt/librarymanagement

- Create an implementation of okhttp3.CookieJar which stores cookies in memory and uses an accept-all policy.
- Update line 218 of GigahorseURLHandler so it constructs the ok ht

[2017-10-16 11:05] PanAeon commented on #1833
Hi,
looks like jreadline2 already supporting this. According to [The most important command line tip](http://codeinthehole.com/tips/the-most-important-command-line-tip-incremental-history-searching-with-inputrc/) one needs to put the following config in `~/.inputrc`:
[code]
I did that and both bash and sbt started to do quick history search on up arrow.
It's a bit annoying though, that when I put

[2017-10-16 14:16] schmitch commented on #3627
I actually also encountered some race conditions in `sbt.librarymanagement`.

I get something like that:
[code]
[code]

however just rerunning the command, solves the issue.

[2017-10-16 14:17] schmitch commented on #3627
My guess is that all issue's are probably related to https://github.com/sbt/librarymanagement/issues/166

[2017-10-16 15:33] d80tb7 commented on #3509
Actually, rather than create our own cookie handler It'd probably be enough to just use OKHttp's JavaNetCookieJar so you'd end you with something like:

[code]

[2017-10-17 00:25] Enalmada commented on #3630
Anyone else using windows able to confirm that file watching stops after js change?

[2017-10-17 00:39] g12mcgov opened #3646 "Fresh install of sbt via homebrew yields "java.lang.IllegalArgumentException: Invalid Configuration class specified""
(See the guidelines for contributing, linked above)

## steps

Running Homebrew 1.3.5 on OSX 10.10.5:

1. `brew install sbt`

[code]

## problem

When I try to run `sbt`:

[code]

## expectation

## notes

It looks like this is a logging configuration it's explaining about? Not sure if this is a bug/known issue, or if there are additional steps I need to take here?

sbt version: *insert sbt versio

[2017-10-17 08:41] dotta commented on #2422
I've hit the same issue and in my case it's seems to be because of a bug in sbt-native-packager, see https://github.com/sbt/sbt-native-packager/issues/1045. I'm leaving a trace here hoping that it will be useful to others.

[2017-10-17 09:53] avdv commented on #3570
Hi.

I also had problems not when publishing but resolving a dependency from an Ivy Repository with a dynamic revision, e.g. `0.0.+`:

[code]

`set updateOptions := updateOptions.value.withGigahorse(false)` also helped.

Note, that my resolver also requires credentials to access the artifacts.

[2017-10-18 17:35] fosskers opened #3647 "Local Spark jobs no longer work with `sbt run`"
I updated a few of my projects to sbt `1.0.2` and found this unexpected issue. I don't know enough about the architecture of the 1.X series of sbt, so I'm not sure what could be causing the problem.

## steps

Try `sbt run` on the following minimal example:

[code]

`build.sbt`:

[code]

## problem

With sbt `1.0.2`, we get the runtime error:

[code]

The real-world case where I saw this had a bit

[2017-10-18 19:11] eaplatanios commented on #3431
@leonardehrenfried Ok. In that case, I can wait for that change to go through and see if it helps although I feel that knowing the file that causes the issue will not really help in this case. It's just that even though me version ends with "-SNAPSHOT" and `isSnapshot` is set correctly, `overwrite` still seems to be `false` for some reason. And that only happens with SBT 1.0. With SBT 0.13 everyth

[2017-10-19 09:43] mkurz commented on #3587
Scala 2.12.4 is released (but not announced yet). You can fetch it already.

[2017-10-19 12:59] karvonenm commented on #3497
@NeQuissimus
Have you started with a clean project (i.e. clean checkout) or just updated an existing working copy to use new SBT version? I had a somewhat similar issue after upgrade from 0.13 to 1.0.1 where first `~compile` worked (was unresponsive, felt like it was using polling under the hood) and the second call to `~compile` failed with this error. The issue turned out to be something cached

[2017-10-19 13:33] NeQuissimus commented on #3497
I do a `git clean -xfd` every now and then, which removes all the target folders.
It could be those files but I would expect sbt to somehow deal with its own output :)
I will try to get in the habit of removing everything before starting a `~compile` sessions and report back...

[2017-10-19 14:10] ArturGajowy commented on #3187
Had the same issue today on teamcity, can't reproduce locally or on a different teamcity agent...

[2017-10-19 16:25] jvican opened #3649 "Manual java home cannot be used in sbt 1.x"
## steps
Clone https://github.com/jvican/sbt1-bug-forked-test and follow instructions in README. Sneak peek:

1. Change the `javaHome` setting in `build.sbt` to the correct JDK directory in your system.
2. Run `sbt test`.

## problem
I get the `Forked test harness failed: java.net.SocketException` error:
[code]

## expectation
The test suite to run nothing with a 0 exit code.

## notes
If I change

[2017-10-19 20:26] PanAeon commented on #3039
Hi,
I think this ticket is a bit tricky to implement. `~` expansion is defined for the POSIX shell [here](http://pubs.opengroup.org/onlinepubs/9699919799/utilities/V3_chap02.html#tag_18_06_01) And the main problem is that tilde could refer to other's user home directory as in `~otheruser/`. Also `~` is a perfectly valid character in the path so we might introduce a problem with files that starts w

[2017-10-20 08:01] jvican commented on #3538
I was thinking of porting my improvements from the scripted sbt suite to the scripted plugin (to get batch and parallel execution). If you say that this requires us to port the scripted plugin inside the `SbtPlugin` plugin, I can do both changes at once.

If you like this approach, let me know and I'll open a PR.

[2017-10-20 10:15] jvican opened #3652 "Document usage of `ThisBuild` over `Global`"
(edited by @dwijnand, previous title: "Add `inGlobal` to allow scoping settings globally")

## problem
`inThisBuild` is a standard operation in any `build.sbt` and sbt plugin. However, there's no counterpart for scoping in `Global`.

## expectation
I would like to have an `inGlobal` operation to scope there important keys that are true at the global level (organization, license, et cetera).

This

[2017-10-20 10:49] jvican commented on #1926
There was recently a SO question about this: https://stackoverflow.com/questions/46779736/sbt-autoplugins-conflict-that-shouldnt-be-there/46835647#46835647.

[2017-10-20 11:16] laughedelic commented on #1926
I discovered this when I was asked by a user of [sbt-s3-resolver](https://github.com/ohnosequences/sbt-s3-resolver) who had a complicated multi-project build. He wanted to enable plugin in some subprojects, but not others (the plugin enables itself automatically). I think it's quite a common situation.

[2017-10-20 11:37] jvican commented on #3649
I consider this to be a pretty urgent issue given the fact that it's not possible to run sbt 1.x with JDKs previous to version 8. This is the only mechanism for library authors to test their projects with JDK7, and it's currently blocked by it.

Without a fix for this, support of sbt 1.x for the Scala Platform modules `better-files` and `scalajson` will probably need to wait. I wonder for how many

[2017-10-20 11:43] dwijnand commented on #3652
The difference between Global and build-level is relevant when you have more than one build. In that case you see that what you refer to as "true at the global level (organization, license, et cetera)" isn't (always) true - any build you add could easily have a different organization, license, et cetera.

The way I see it is Global scope should be used only for:
* defining the default value of new

[2017-10-20 13:18] jvican opened #3653 "Add key to know whether we're inside CI or not"
## problem
Builds often need to know where they are run. In my experience, it is very common that you want to change the definition of a key depending on where it's run; whether it's in the CI or in my computer.

Currently, there's no mechanism to do so.

## expectation
I propose to add a boolean setting key called `insideCI`, along with a default implementation. This will allow users implement it

[2017-10-20 14:45] jvican commented on #3652
I agree with this. I'm happy to close this ticket so long as this is explained in the sbt docs and people know that they should scope in `ThisBuild` always in `build.sbt`.

[2017-10-20 14:51] dwijnand commented on #3652
I agree. We'll use this issue to track that documentation improvement.

[2017-10-20 15:57] myyk commented on #1926
@laughedelic That was my situation years ago when I started following this issue.

[2017-10-20 16:05] freeman42x commented on #3512
Some warnings are caused by sbt-contraband generated code, for example:

[code]

[2017-10-20 17:07] SethTisue commented on #3512
perhaps https://github.com/ghik/silencer would be helpful here

[2017-10-20 17:33] freeman42x commented on #3512
@SethTisue that plugin might be useful for some other issues but how would it work for files generated by sbt-contraband?

And to be honest it is unlikely that most warnings should be silenced - if any. The problem should - if possible - be solved at the root.

[2017-10-20 19:08] cheleb opened #3655 "[debug] messages ouput bloat the console during every runs."
## steps
Run a main class

## problem
Console is bloated with debug messages
[code]
## expectation
Unbloated output :)

## notes
sbt version: 1.0.1, 1.0.2

Not present in sbt 0.13.x and sbt 1.0.0

[2017-10-20 19:13] EnverOsmanov commented on #3641
@ravi5237  what is your expectation? Maybe you should add such plugin [sbt-assembly](https://github.com/sbt/sbt-assembly)

[2017-10-20 21:11] xerial commented on #3608
I also encountered a similar issue. It seems classpath setting in sbt 1.0.x is different from sbt 0.13.x when using `run` command.

[2017-10-20 21:16] xerial commented on #3647
I think classpath issue of `run` command is related #3608

[2017-10-20 21:27] jvican commented on #1373
I've just encountered this issue when trying to do autocompletion on `parallelExecution`. I can confirm it works for `sbtVersion`, but it doesn't for `parallelExecution`, which I believe is also scoped in `Global`.

Can we reopen this issue and aim at getting autocompletion that fully accounts for delegation?

[2017-10-20 21:47] jvican commented on #3514
Related https://github.com/sbt/sbt/issues/3538 :smile:.

[2017-10-20 21:47] SethTisue commented on #3608
some kind of fallout from #3477, I guess

[2017-10-20 21:56] jvican commented on #3607
This is what I'm seeing in latest master `[info] Updating ProjectRef(uri("file:/home/jvican/.sbt/1.0/plugins/"), "global-plugins")...`, not sure what's causing it but it looks like a regression. Probably the slash syntax PR modified the way project refs were printed (/cc @eed3si9n).

[2017-10-20 22:07] xerial commented on #3608
It seems #3504 is a fix. And also adding configuration like `fork in run := true` seems a workaround.

[2017-10-20 22:28] fosskers commented on #3647
Confirmed that `fork in run := true` fixes the problem.

On Oct 20, 2017 3:17 PM, "Taro L. Saito" <notifications@github.com> wrote:

[2017-10-20 22:51] jvican opened #3656 "Scripted could define default settings in Global for sbt friendliness"
## problem
The scripted plugin does not follow the good practice of defining the default values for settings in `Global`. I also think that the scopes of the scripted task keys should be revisited. Currently, everything is crammed into `projectSettings`.

A direct consequence of this issue is that it's not possible to disable the buffer log globally or per build. There are more examples, but you g

[2017-10-21 00:33] freeman42x commented on #3512
For:

[code]

[code]

I'll use this unless someone comes with a proper solution:

[code]

[2017-10-21 00:35] eed3si9n commented on #3512
@razvan-panda Maybe it should be noted with a comment that `locally(test)` is just there to suppress the warning.

[2017-10-21 00:37] freeman42x commented on #3512
@eed3si9n I can add that but it should be clear enough based on the source of `locally`.
There are a ton of these kinds of errors.
Might be a better idea to just use what @SethTisue suggested: https://github.com/ghik/silencer

[2017-10-21 18:59] freeman42x commented on #3512
Related: https://github.com/sbt/sbt/pull/3658
Need to possibly re-enable warnings that have been disabled in that MR.

[2017-10-22 16:10] laughedelic opened #3661 "sbt console breaks after mentioning scopes"
Sorry if the title is confusing.

## steps

* `build.sbt`:
[code]
* Launch `console` in sbt, try mentioing anything related to `Scope`:

[code]

## problem

As you can see in the last line when I press <kbd>Ctrl</kbd><kbd>P</kbd> or <kbd>Ctrl</kbd><kbd>N</kbd> or <kbd>Backspace</kbd> I get just their codes. Arrow keys also print sequences like `^[[A^[[B^[[D^[[C`.

## expectation

If I don't call a

[2017-10-22 20:30] laughedelic commented on #1764
Have you seen [scripted-scalatest-sbt-plugin](https://github.com/daniel-shuy/scripted-scalatest-sbt-plugin)? It uses different approach, but let's you achieve a similar result (I think).

[2017-10-23 05:28] lukexingdbmgr commented on #3495
I am new to kafka, meeting a similar issue. I probably missing something. Could anybody kindly give some help ?

1. git clone latest https://github.com/apache/kafka.git
2. cd kafka/
3. gradle

luke@luke-VirtualBox:~/kafka/kafka$ gradle
Building project 'core' with Scala version 2.11.11

FAILURE: Build failed with an exception.

* Where:
Build file '/home/luke/kafka/kafka/build.gradle' line: 614

*

[2017-10-23 11:27] OlegYch commented on #3432
@cuzfrog why did you close this, seems to be still a problem
fails intellij import for me on 1.0.2

[2017-10-23 11:49] OlegYch commented on #3432
here is my log https://pastebin.com/F1TdyNym
note that for some reason updateSbtClassifiers tries resolvers defined for the project, not for the plugins project

[2017-10-23 12:52] #3587 closed, assigned to eed3si9n

[2017-10-23 22:53] eed3si9n commented on #3625
I you want to split project definition to multiple `*.sbt` files, how else would you do it?

[2017-10-23 22:55] eed3si9n commented on #3625
Note also that `*.sbt` files today do not have A-Z semantics.

[2017-10-24 05:21] eed3si9n commented on #3653
Sounds like a good idea.

[2017-10-24 06:07] eed3si9n commented on #3646
Looks like a bug.
Does this happen on any build or only for `Tutorials/Scala`?

[2017-10-24 06:11] eed3si9n commented on #3649
My guess is that downgrading to lower Java version never worked.
It would be good to fix this though.

[2017-10-24 06:19] eed3si9n commented on #3649
There's communication going on in https://github.com/sbt/sbt/blob/v1.0.2/main-actions/src/main/scala/sbt/ForkTests.scala#L71-L106 using ObjectOutputStream /ObjectInputStream. That should turn into JSON serialization to avoid Java stickiness.

To contribute, some knowledge of sjson-new would be required, but I think it's somewhat contained issue.

[2017-10-24 07:05] #2015 closed, assigned to nobody

[2017-10-24 07:20] retronym commented on #3661
Running  `jline.TerminalFactory.get.init` in the borked REPL seems to unbork it.

Just to hazard a guess.

SBT eagerly initializes, in `trait Import` (extended by the package object `sbt`)

[code]

[code]

This is likely clobbering the JLine instance started by the Scala REPL.

[2017-10-24 07:52] note commented on #3519
I found that issue because the top line of my stacktrace is the same and I got the issue after I bumped sbt from 0.13.x to 1.0.2. But issue I am experiencing is not triggered by publishing. My build depends on library hosted on private bintray repository and after sbt version bump the build fails randomly - interestingly only on CI, I was not able to replicate it locally (tried everything like wip

[2017-10-24 09:29] jvican commented on #3649
I looked into this and I managed to identify the culprit of this error: the scala version. Specifying the scala version to 2.11.11 fixes it (obviously, because JDK7 cannot run Scala 2.12 code).

What I think we could improve here is the reported error. Instead of a cryptic protocol error, it would be great to catch the exception in the code spawning the JVM and report it back to sbt.

[2017-10-24 10:07] dwijnand commented on #3501
Keeping this open to track it needs a new version of io to be fixed in sbt 1.0.3.

[2017-10-24 10:27] dwijnand commented on #3625
You can only define a project in one place, with a val of type Project. You can then add settings to that project, either in the same file (using .settings, or project-scoped bare settings) or in other files (using project-scoped bare settings).

What appears to be the case here is that multiple project definitions don't trigger a loading error for the root project.

[2017-10-24 11:13] jvican commented on #3625
I think that this problem is a consequence of sbt allowing users to use the single project sbt style and the multi project style together, mixing top-level sbt statements (assigned to root) and project definitions.

In concrete, I think that this is due to the internal handling of the root project. This is my understanding of the issue: when people define an explicit root project and they also hav

[2017-10-24 11:42] dwijnand commented on #3607
I think that means executing `update` on that (synthetic) project. I too think it's a change in behaviour, but it's unrelated to this issue.

[2017-10-24 13:51] nrinaudo commented on #3431
I'm having the exact same issue (1.0.x only, 0.13.x works fine) and the only work around I have is to delete pre-existing SNAPSHOT artifacts from sonatype.

[2017-10-24 18:19] PanAeon commented on #2939
Well, running `sbt "help new"` did show some brief help:
[code]
I think it is confusing for the beginners to remember to quote parameters for sbt commands. So I made `help` command consume commands after it, so `sbt help new` actually prints help for the `new` command. This change will break something like `;help foo; bar` but I don't think it's realistic that user will ever want to chain help com

[2017-10-24 19:36] #3501 closed, assigned to dwijnand

[2017-10-24 21:38] dxuhuang commented on #3623
I have been upgrading a service from sbt 0.13.15 to sbt 1.0.2, and have also been seeing this error about a fraction of the times.

[2017-10-24 21:48] benblack86 commented on #3623
[code]

[2017-10-24 21:58] MasseGuillaume opened #3664 "client/server API documentation"
Hey,

I'm a tool author and I want to use sbt 1.X client/server architecture. I would be happy to write some documentation but right now, I'm in the dark/reverse engineering.

I took a look around and I found this:

https://github.com/sbt/sbt/blob/1.x/protocol/src/main/contraband/jsonrpc.contra

I also found it's possible to connect to sbt via telnet, so I assume the transport is over raw tcp. It

[2017-10-24 22:11] laughedelic commented on #3664
Check https://github.com/sbt/sbt/issues/3508 and some other issues with the [`server`](https://github.com/sbt/sbt/labels/server) label.
Also to use https://github.com/sbt/sbt/pull/3556 you need to sbt 1.1.0-M1. The `server.md` document you linked also describes the format that _will_ be used in 1.1.0 (and is available as preview in M1). So try starting sbt with
[code]

[2017-10-25 02:28] smadishetti opened #3665 "How to find what went wrong when sbt gives javac returned non zero exit code"
## steps
Compiling a play framework app (play 2.6.5, Scala 2.12.3) with sbt 0.13.15. This is what I get:

[code]

## problem
Scala errors are shown fine. But, for java compilation errors, it just says the javac returned non zero exit code. No information on the errors. How to find out what is wrong? Its a blocker and there is no way to proceed until the errors are found.
I tried with debug logging

[2017-10-25 04:02] eed3si9n commented on #3664
It's here http://www.scala-sbt.org/1.x-beta/docs/sbt-server.html, but it's not ready until 1.1 comes out.

[2017-10-25 04:02] #3664 closed, assigned to nobody

[2017-10-25 04:25] jilen opened #3666 "Some macro generated names break analysis cache format"
Following macro generated (generated with [quill](http://getquill.io))  names contain `\n`

[code]

[code]
It will break previous analysis parsing(used names part) during sbt startup

Related [SO link](https://stackoverflow.com/questions/45876187/sbt-always-do-fully-recompile-after-restart-sbt)

sbt version:  0.13.x, 1.0.x

[2017-10-25 04:26] eed3si9n commented on #3666
Thanks for the report.

[2017-10-25 07:17] dwijnand commented on #3641
You're getting sbt-buildinfo and sbt-assembly mixed up. Try adding:

[code]

[2017-10-25 07:17] #3641 closed, assigned to nobody

[2017-10-25 07:21] dwijnand commented on #1373
Sure. My guess is that it works with sbtVersion because it's Def.derive-d.

[2017-10-25 08:07] #3590 closed, assigned to eed3si9n

[2017-10-25 09:26] shonzilla commented on #3586
@eed3si9n When should [sbt 1.0.3](https://github.com/sbt/sbt/milestone/32) be released?

AFAICT all currently open issues (this one, #3569 and #3573) were left open for tracking purposes by referring to issues in other repositories (sbt/zinc#417 / sbt/zinc#424, sbt/librarymanagement#169 and  sbt/librarymanagement#170) that have been resolved and merged upstream.

Could it be that the downstream pr

[2017-10-25 12:58] Delors opened #3667 "sbt console became stuck when ".par" is used"
(See the guidelines for contributing, linked above)

## steps
start sbt (0.13.16) (for an arbitrary project using scala 2.12.4)
start console
paste ``List(1,2,3).par.foreach(println)``

## problem
the console hangs and makes no progress at all; when you remove ".par" everything works as expected

[2017-10-25 14:00] swsnr commented on #3585
@muuki88, @felixbr and me just had the very same issue: SBT 1.0.2 fails to resolve new dependencies if `config.resource` exists in JVM properties.

We can reproduce this issue with a `build.sbt` that contains just a single dependency:

[code]

The actual dependency doesn't matter **as long as its not in your Ivy cache!**.

When we now run SBT with `-Dconfig.resource` we see the following error.  N

[2017-10-25 15:48] eed3si9n opened #3668 "Ignore null in generic lambdas parameters"
See https://github.com/sbt/zinc/pull/419

[2017-10-25 16:13] MasseGuillaume commented on #3664
@eed3si9n awesome, this is exactly what I wanted.

[2017-10-25 18:18] Delors commented on #3667
I realized that this issue is most likely a Scala issue ([https://github.com/scala/bug/issues/10566](https://github.com/scala/bug/issues/10566)) and as such does not belong here.

[2017-10-25 18:18] #3667 closed, assigned to nobody

[2017-10-25 22:41] ckozak opened #3670 "SBT 1.0.2 fails to fetch dependencies from maven.twttr.com"
Some of the libraries from maven.twttr.com can't be downloaded if they are not already in local cache

## steps
- delete `~/.sbt` and `~/.ivy2` folders
- `build.sbt`
[code]

- try to run `sbt update`

## problem
sbt can't download the library
[code]

But `http://maven.twttr.com/com/twitter/common/zookeeper/server-set/1.0.103/server-set-1.0.103.pom` path is valid and the library can be downloaded i

[2017-10-26 06:44] dwijnand commented on #3501
Closed with https://github.com/sbt/sbt/pull/3634.

[2017-10-26 08:36] fommil commented on #3572
@vovapolu this is the bug that's holding back some of the ensime-extras tasks like ensimeCompileOnly, right?

If that is the case, @jvican if you could promote this one it would be awesome. I felt like using ensimeCompileOnly today and remembered it was missing :sob:

[2017-10-26 09:05] fmind commented on #3128
I had the same issue on my machine (Fedora 26, sbt 0.13.16), but the workaround fixed it.

Thank you for the solution.

[2017-10-26 09:09] swsnr commented on #3585
Looks like this is caused by Gigahorse, SBT's HTTP library.  At least this library [loads typesafe config](https://github.com/eed3si9n/gigahorse/blob/9fb854a7da7b8e93533427cc3f0c5b7b1df5498a/core/src/main/scala/gigahorse/GigahorseSupport.scala#L39).

[2017-10-26 10:17] vovapolu commented on #3572
@fommil `ensimeCompileOnly` absence is related to changes in compiler api in sbt. This issue affects on `ensimeTestOnly` task.

[2017-10-26 10:31] fommil commented on #3572
do we need changes from sbt to allow that?

[2017-10-26 10:38] vovapolu commented on #3572
Allow what? :) We need to rewrite `ensimeCompileOnly` task for the new api, sbt has already changed this api :) `ensimeTestOnly` is almost blocked by this issue (I couldn't find a hack to make it work).

[2017-10-26 10:39] fommil commented on #3572
Ah ok so the sbt 1.0 is powerful enough to let us to that.

[2017-10-26 11:03] jvican commented on #3572
@fommil I cannot promote this one since I'm not hacking on sbt/sbt much these days... Too many projects 😞. What I can provide is a little bit of feedback.

I think that this issue is pretty common when you start using dynamic tasks sparingly, and IMO the "dynamic detection" can be improved. Right now, I believe we're just checking if there's a `Select` tree (or something that it's not an `Ident`)

[2017-10-26 15:20] laughedelic commented on #3026
The `license` tag is present in the generated ivy.xml. But I don't see anything in the [ivy specification](http://ant.apache.org/ivy/history/latest-milestone/ivyfile.html) related to the `scmInfo`. I'm only doubting about the [`repository` tag](http://ant.apache.org/ivy/history/latest-milestone/ivyfile/repository.html). I guess, it's not related to scm anyhow, but could it be used for storing scm

[2017-10-26 15:48] laughedelic commented on #3026
Another related thing: sbt-bintray doesn't fill the Homepage field on Bintray, but it's present in the ivy.xml in the [description tag](http://ant.apache.org/ivy/history/latest-milestone/ivyfile/description.html).

[2017-10-26 16:15] jvican commented on #3026
We did this in Lambda World's spree. @MasseGuillaume I think that with this info, you can trace back from the ivy file to the github repo. It's true that the scm info is not present, but `homepage` is. Assuming that all projects use `homepage` for their repository homepage and not the project website (which is what I've seen anyway in all the builds I've hacked on), this should be feasible.

[2017-10-26 16:26] bjornregnell commented on #3655
Is there a known easy work-around?

[2017-10-26 23:01] SethTisue commented on #3427
@eed3si9n a bit sad to see this pushed to 1.0.4, but I assume you're doing what you need to do. would you care to guess how long it might be before 1.0.4 comes out...?

[2017-10-26 23:06] eed3si9n commented on #3427
Theoretically, we ship hotfixes as often as we get fixes merged. We've been accumulating a bunch of fixes, so 1.0.3 needs to ship like today. 1.0.4 can follow up next week if someone spends 1h on this fix.

[2017-10-26 23:10] eed3si9n commented on #3586
I am releasing it today.

[2017-10-27 02:05] eed3si9n commented on #3573
Fixed by https://github.com/sbt/sbt/pull/3674

[2017-10-27 02:05] #3573 closed, assigned to eed3si9n

[2017-10-27 02:13] eed3si9n commented on #3431
Fixed by https://github.com/sbt/sbt/pull/3674

[2017-10-27 03:14] michaelahlers commented on #3573
Thank you, @eed3si9n!

[2017-10-27 03:19] eed3si9n commented on #3573
Please thank @laughedelic who fixed this in https://github.com/sbt/librarymanagement/pull/170 :)

[2017-10-27 05:56] eed3si9n opened #3676 "[java9] WARNING: Illegal reflective access by org.apache.ivy.util.url.IvyAuthenticator"
https://github.com/sbt/launcher/issues/38

[2017-10-27 05:57] eed3si9n commented on #3668
Fixed in https://github.com/sbt/sbt/pull/3674

[2017-10-27 05:57] #3668 closed, assigned to nobody

[2017-10-27 05:57] eed3si9n commented on #3586
Fixed in https://github.com/sbt/sbt/pull/3674

[2017-10-27 05:57] #3586 closed, assigned to eed3si9n

[2017-10-27 06:00] eed3si9n commented on #3569
I merged lm, but didn't incorporate fix for sbt/launcher#38 in 1.0.3.

[2017-10-27 06:38] eaplatanios commented on #3431
@eed3si9n I'm still getting the same error with version 1.0.3.

[2017-10-27 07:05] jvican commented on #3542
I think @laughedelic implemented this change in Lambda World's spree. I'm also looking forward to this contribution.

[2017-10-27 09:00] mkurz commented on #3569
This is still in the release notes of 1.0.3. See the last point of "Bug fixes" here: https://github.com/sbt/sbt/releases/tag/v1.0.3

[2017-10-27 09:25] mdedetrich commented on #3527
@eed3si9n Possibly dumb question, but does this help the situation with MacOsx/Linux https://stackoverflow.com/a/18362404 ?

There is also https://github.com/gjoseph/barbarywatchservice

[2017-10-27 09:32] dwijnand commented on #3569
This issue, the one about "Illegal reflective access by sbt.internal.librarymanagement.ivyint.ErrorMessageAuthenticator$", is fixed and shipped in 1.0.3, and we should close it.

https://github.com/sbt/launcher/issues/38 is also fixed, but sadly didn't ship in 1.0.3. We'll track shipping it in 1.0.4 with https://github.com/sbt/sbt/issues/3676.

[2017-10-27 09:32] #3569 closed, assigned to eed3si9n, dwijnand

[2017-10-27 09:36] dwijnand commented on #3431
The error is expected. See the report:

[2017-10-27 09:37] dwijnand commented on #3542
Excellent news.

[2017-10-27 09:38] dwijnand commented on #3583
Fixed in #3669.

[2017-10-27 09:38] #3583 closed, assigned to cunei

[2017-10-27 09:43] dwijnand commented on #3527
Interesting find @mdedetrich, thank you! Given the caveats about private package/JVM-specific we'd have to provide opt-in or opt-out options for users, but I think that's a viable way forward. At least to experiment with.

[2017-10-27 10:24] laughedelic commented on #3542
I just submitted a PR addressing this issue: https://github.com/sbt/sbt/pull/3678. Except it changes behavior of `compile::clean`, but not `compile:clean`.

[2017-10-27 11:11] dwijnand opened #3679 "Disable scope delegation in act"
## Expectation

In sbt shell, if the user provides configuration scoping or task scoping, and the direct setting or task does not exist, it should fail rather than delegate to another scoping.

### Must fail

[code]

### Must continue to work

Un-scoped keys, should continue to delegate. For example, the following should work:

[code]

## Original message

I ran into the `sbt.cli.nodelegation` sys

[2017-10-27 12:31] daniel-sali commented on #3197
For me, on CentOS 7, the solution to the issue was actually installing the `bc` command with `sudo yum install bc`, as the sbt runscript uses it to compare the installed Java version with the required 1.6 version.

[2017-10-27 13:32] laughedelic commented on #3573
Thanks to @michaelahlers too as he first noticed it and reported 👍

[2017-10-27 13:33] michaelahlers commented on #3573
LOL. Just giving everyone their due. 😉

[2017-10-27 13:57] alexarchambault commented on #3670
FYI, this seems to work fine when [sbt-coursier](http://get-coursier.io) is enabled.

[2017-10-27 14:41] OlegYch opened #3680 "testQuick is slow"
## steps
a large project with lots of tests and complex source dependencies

## problem
testQuick spins cpu for several minutes in sbt.Defaults#testQuickFilter

## notes
sbt version: 1.0.2
https://github.com/sbt/sbt/commit/f8ef4497891cb8b7defd10fb6fadee457e3390af?w=1 this commit appears to remove caching of 'stamps'

[2017-10-27 15:46] eed3si9n opened #3681 "Directory standard"
## steps

Run sbt.

## problem

We use `~/.sbt` etc.

## expectation

Adhere to directory standards?

- [File System Hierarchy Standard](https://refspecs.linuxfoundation.org/FHS_3.0/fhs/index.html)
- [XDG Base Directory Specification](https://standards.freedesktop.org/basedir-spec/basedir-spec-latest.html)

[2017-10-27 16:02] eaplatanios commented on #3431
@dwijnand I'm sorry, you're right regarding the original posted issue. However, since the error is expected, how are we supposed to deal with the situation that me and @nrinaudo are describing? Currently, whenever I want to update snapshot releases, I have to go to Sonatype and delete any pre-existing snapshot artifacts.

[2017-10-27 16:34] OlegYch commented on #3680
note that this is also reproducible on sbt project itself

[2017-10-27 19:18] Abhi-joshi opened #3684 "Unable to fetch org.scala-sbt:compiler-bridge_2.12:1.0.3"
(See the guidelines for contributing, linked above)

## steps

Create a sample app with scala 2.12.4 and sbt 1.0.3
Do sbt run on it.

## problem
when you do a run on it sbt is generating an error

[code]

## expectation
Application will run smoothly with sbt 1.0.3

## notes

[issue_sbt-1.0.TXT](https://github.com/sbt/sbt/files/1423187/issue_sbt-1.0.TXT)

sbt version: *1.0.3*

[2017-10-27 19:54] eaplatanios commented on #3431
@dwijnand FYI, my current temporary solution is that I added a task defined as shown below to my project. This is not elegant thought and I would like to know what the recommended approach is, if there is one.

[code]

[2017-10-27 20:49] Abhi-joshi commented on #3684
I am using windows 10 and sbt 1.0.2 (msi) is already installed on it. I don't know if there is conflict between installed version and build version in the specific project. @eed3si9n @dwijnand Is there anything which  am missing here?

[2017-10-27 21:12] mkurz commented on #3684
I have a a very similiiar, if not the same problem running sbt `1.0.3` on Ubuntu 17.04 with Java `9.0.1+11`.

Works fine with sbt `1.0.2`.

[code]

[2017-10-27 21:58] james-turner commented on #3197
This has happened to me in the last 30 minutes (builds were fine before this point). And I concur with daniel-sali that adding bc to the list of dependencies seemed to do it for me (i'm using openjdk so i dont know if this is the cause or coincidence).

    [Container] 2017/10/27 21:41:12 Running command sbt docker
    /usr/share/sbt/bin/sbt-launch-lib.bash: line 207: bc: command not found

    Th

[2017-10-27 23:24] #1055 closed, assigned to nobody

[2017-10-27 23:28] #3653 closed, assigned to nobody

[2017-10-28 00:11] gmethvin commented on #3527
We've had this same problem in Play, which has always rolled its own solution to do file watching, instead of using sbt's. In the past we've used JNotify to handle OS X but I've been working on a replacement that is Apache 2 licensed: https://github.com/gmethvin/directory-watcher. This is actually used in Play 2.6.6+ but currently only for sbt 1 users. We've encountered and fixed a few bugs after

[2017-10-28 05:50] benhutchison commented on #3136
Just lost 2 hours to "sbt>publishSigned... error .. grrrr" to eventually realise it is this issue!

Advice on the web is still saying `publishArtifact := false` to disable publishing, but with that setting I was seeing a scala.js crossBuild erroring with `root/*:publishSignedConfiguration) Repository for publishing is not specified`.

Have updated [Stackoverflow advice]()

Mentioning how *not* to

[2017-10-28 06:11] xuwei-k commented on #3684
I think sbt 1.0.3 dependency resolution does not work with Java 9( due to
<del> https://github.com/sbt/librarymanagement/pull/173 or something? </del> https://github.com/sbt/ivy/pull/27 )

- https://travis-ci.org/xuwei-k/sbt-1.0.3-java-9/builds/294017814
- https://github.com/xuwei-k/sbt-1.0.3-java-9/commit/8c91f843d0c09c2bafa2dd0dc8c3775f00c3ecb7

![travis-image](https://user-images.githubusercont

[2017-10-28 06:30] ScalaWilliam commented on #3684
Having a very similar issue on Linux,
[code]

SBT 1.0.3

[2017-10-28 14:59] hseeberger opened #3685 "sbt.watch.mode not defined on macOS installed by Homebrew"
sbt version 1.0.3
macOS 10.13
Java 8

The contents of `/usr/local/etc/sbtopts` don't contain an entry for `sbt.watch.mode`. Executing `console` in an sbt session:

[code]

This is in contrast to the release notes which state that "polling" should be the default on macOS.