[2018-08-08 12:48] subotic commented on #4038
It also doesn't work with sbt version 1.2.0.

@jalaziz Thanks for the workaround.

Trying for days to get my custom test configurations working again.

With something like this (taken from the [docs](https://www.scala-sbt.org/1.x/docs/Testing.html#Additional+test+configurations)):

[code]

the `javaOptions` are set correctly, but no tests are found. With your workaround:

[code]

the `javaOptions`

[2018-08-08 13:05] eed3si9n commented on #4310
Thanks for the report @xuwei-k!

[2018-08-08 16:26] LaCuneta opened #4312 "Exception when running project after packaging submodule"
- [x] I've read the [CONTRIBUTING](https://github.com/sbt/sbt/blob/1.x/CONTRIBUTING.md) guidelines

## Notes

sbt version: definitely 1.2.1, and we think it affects 1.0+.

We have setup sbt to help us use plugins to [our primary application](https://github.com/NetLogo/NetLogo).  This setup involves git submodules that have their own sbt configs (as they are separate repositories), but we want to p

[2018-08-08 21:14] eed3si9n commented on #3749
Thanks for reporting this with repro project, and sorry about the lack of response here.

[2018-08-09 02:27] htmldoug commented on #3410
Getting an HTTP 409 publishing a plugin to Artifactory 5.11.1 using default maven pattern, e.g `publishTo := Some("artifactory" at "https://url")` using sbt 1.2.0. Surprising.

Artifactory logs say:
`2018-08-09 00:38:27,408 [http-nio-8081-exec-18455] [WARN ] (o.a.r.ArtifactoryResponseBase:107) - Sending HTTP error code 409: The target deployment path 'com/rallyhealth/rally-sbt-plugin_2.10_0.13/0.1

[2018-08-09 03:26] eed3si9n commented on #4307
sbt uses Gigahorse with OkHttp for parallel downloading. You can try turning it off by passing ` -Dsbt.gigahorse=false`.

Another thing you could try is turning off https, and use http by passing `-Dsbt.repository.secure=false`.

Ref https://github.com/square/okhttp/issues/3787

[2018-08-09 11:54] xuwei-k commented on #4310
Hmmm, `SwitchJavaHome#{verbose, command}` unused in `def switchCommandImpl` or anywhere 🤔

https://github.com/xuwei-k/xsbt/commit/4bdc98c7d0a9f7ae3f4b3556a07994965a5c7e7b

@eed3si9n Can I remove `SwitchJavaHome#verbose` and `SwitchJavaHome#command` parser code? Are you going to use these extra options?

[2018-08-09 13:07] almothafar opened #4314 "sbt can't be running in PowerShell with opts"
- [x] I've read the [CONTRIBUTING](https://github.com/sbt/sbt/blob/1.x/CONTRIBUTING.md) guidelines

## steps
1. You can clone my sample project https://github.com/almothafar/play-with-mapstruct
2. Start sbt using the command `./sbt.bat "-Dconfig.file=conf/development.conf"`
3. The command will fail
4. Using ubuntu no problems, using classic cmd, no issues as well.

## problem
Can't start sbt using

[2018-08-09 13:16] dwijnand opened #4315 "Def.sequential doesn't honour aggregates"
- [x] I've read the [CONTRIBUTING](https://github.com/sbt/sbt/blob/1.x/CONTRIBUTING.md) guidelines

## steps

[code]

## problem

[code]

## expectation

I expect `Def.sequential` to execute the given task with the same semantics as executing it in the shell.

## notes

sbt version: 1.2.1, also *0.13.17.

Here are two workarounds:

[code]

[code]

[2018-08-09 16:31] eed3si9n commented on #4315
I disagree on the expectation here.

Aggregation is a command broadcasting tool, which is equivalent of saying `all root/bar prj1/bar prj2/bar`.

Calling `compile.value` has never been aware of the `project.aggregate(...)`, and thus the same applies to sequential tasks. If you want the same thing as typing things into the shell, you should define a command alias instead. A close emulation would be

[2018-08-09 16:45] dwijnand commented on #4315
I see what you mean, but I think it's too subtle. If you define a top-level `doCI := Def.sequential(compile.value, doc.value)` you want the `compile` to aggregate, just like `compile` aggregates in the shell. Shouldn't need to give up on the task abstraction and using static strings like `";testNoFail;testQuick"`.

[2018-08-09 16:59] eed3si9n commented on #4315
Then you need an automatic scope filtering + sequential task.

[2018-08-10 09:07] jvican commented on #4315
What about introducing a new `Def.sequentialWithAggregates` that would do the default behaviour that Dale wants? There's not much we can do, changing the semantics of this in sbt 1.x is a breaking change and people may end up over-testing or over-running tasks in their CI.

[2018-08-10 09:14] dwijnand commented on #4315
Sometimes we change semantics and call it a bug fix 🙂

I think most aggregating projects are empty projects, and so any invocation of their tasks with `.value` are currently nooping (bug) instead of aggregating.

I'm happy to go the sbt-doge route on this: iterate in a plugin, and fold it in for the next major version.

[2018-08-10 14:10] thiaguten commented on #4307
@eed3si9n thank you so much!! It worked like a charm.

I updated my .profile:

[code]

And compile my project

[code]

[2018-08-10 15:08] mszygenda opened #4316 "SBT doesn't recompile code when referenced case class signature changes"
## steps

- Define case class which has parameters with default values

**a.scala**

[code]

- Create instance of the class (separate file)

**main.scala**

[code]

- Run the application (sbt run). Sbt will compile both classes and everything will work fine.

- Now change class A to look like this:

[code]

- Run the application (sbt run)

SBT output:
[code]

## problem

Program crashes in runtime

[2018-08-10 16:28] jvican commented on #4316
I'm aware of this error. It's solely due to the default arguments and I had a reproduction somewhere in my disk. I'll try to fix it in Zinc over the weekend.

[2018-08-10 20:24] elbakramer opened #4317 "Some of the transitive dependencies are missing compared to maven's dependency resolution"
- [x] I've read the [CONTRIBUTING](https://github.com/sbt/sbt/blob/1.x/CONTRIBUTING.md) guidelines

## steps

### files

Under project directory, named `sbt-issue`.

#### `build.sbt`

[code]

#### `project/build.properties`

[code]

#### `project/dependency-graph.sbt`

[code]

#### `pom.xml`

[code]

### commands

Checking dependency list using `sbt` and `mvn`.

[code]

[code]

## problem

Some of

[2018-08-10 20:57] eed3si9n commented on #1852
As far as I know sbt 0.13 does respect the HTTP_PROXY, and sbt 1 works for HTTP only, which is tracked by https://github.com/sbt/sbt/issues/4307, so I am closing this issue for now.

[2018-08-10 20:57] #1852 closed, assigned to nobody

[2018-08-10 20:59] eed3si9n commented on #2839
We use GitHub issue mostly to track bugs and tasks on sbt development. If you need help, please check this out - https://www.scala-sbt.org/support.html

[2018-08-10 20:59] #2839 closed, assigned to nobody

[2018-08-10 21:01] eed3si9n commented on #4317
@elbakramer Thanks for the detailed bug report.

[2018-08-10 21:07] eed3si9n commented on #4316
@mszygenda Thanks for the detailed bug report with repro project!

I also feel like this has come up in a discussion before. If I remember correctly @smarter mentioned that Dotty includes the hash of default value into the API info.

[2018-08-10 21:10] eed3si9n commented on #4314
@almothafar Thanks for the detailed bug report with repro project!

The relevant script is https://github.com/sbt/sbt-launcher-package/blob/master/src/universal/bin/sbt.bat, but I am not familiar with PowerShell. Would you like to debug this issue, and submit a pull request?

[2018-08-10 21:14] eed3si9n commented on #4311
@mr-git Thanks for the report.

I see Shapeless in the stack trace, but I am not sure how this would be relevant to the changes that were made in 1.2.1 patch. Do you have a project that you can share publicly that would reproduce this behavior?

[2018-08-10 21:15] eed3si9n commented on #4309
@almothafar Thanks for the report!

[2018-08-10 21:21] eed3si9n commented on #4312
You're running sbt inside of sbt? That sounds like a very special build.
I wonder you might be better off using some other mechanism like [scripted](https://www.scala-sbt.org/1.x/docs/Testing-sbt-plugins.html), which we use to test sbt itself. One thing you could try is `fgRun` that should behave similarly as the sbt 0.13's `run` task.

[2018-08-10 21:23] eed3si9n commented on #4317
If there's a bug in default library management of sbt that uses Ivy, you might want to try https://github.com/coursier/coursier and see if that would work better.

[2018-08-10 22:28] elbakramer commented on #3256
Possible duplicate of #2246

[2018-08-11 07:55] mr-git commented on #4311
Sadly, after few library updates and a bit of changes in code (though, not in module for which StackOverflowException happened), upgrade to 1.2.1 seems to be working fine.

Next week, I might try to find the commit, at which upgrade didn't work and then try to narrow down project, but no promises.

[2018-08-12 12:31] muuki88 commented on #1957
@eed3si9n I guess we can close this one.

[2018-08-12 12:41] muuki88 commented on #1152
@eed3si9n with sbt being on `2.12` we can close this issue?

[2018-08-12 12:43] muuki88 commented on #1972
@jroper this is interesting. Is this still the case? On native-packager we haven't had any reports with such an issue yet.

[2018-08-12 13:18] #1957 closed, assigned to nobody

[2018-08-12 21:26] joan38 commented on #2647
Hi this issue seems to backfire. Basically whenever we use `scalajs-react` we need to add a workaround:
[code]
See: https://github.com/webjars/webjars/issues/1789

I don't know what is the easiest fix but just wanted to add that this sound quiet important at least from the scalajs-react user point of view.

[2018-08-13 01:36] jroper commented on #1972
Wouldn't have a clue, this was 3 years ago. I do remember having this issue, I don't remember where. Probably sbt-web. I think there was a place that we worked around it by creating an additional file on disk.

[2018-08-13 01:37] jroper commented on #1972
Ah, a Google search for the issue URL turned it up:

https://github.com/playframework/jnotify/blob/master/build.sbt#L36-L40

[2018-08-13 01:59] jroper commented on #1972
This bug still exists in sbt 1.2.0:

[code]

[code]

[2018-08-13 02:01] jroper commented on #1972
I guess the most likely cause is that `mappings in packageBin` is at some point converted to a map, losing multiple mappings for the same source file.

[2018-08-13 04:02] muuki88 commented on #1972
Thanks for the fast reply and detailed research. I'll try to tackle this issue 😎

[2018-08-13 07:50] almothafar commented on #4314
@eed3si9n thanks for the reply, actually I would be fixed that already in my local and would suggest the solution, but sadly I don't have that much of PowerShell experience as well, if I got time to see how I can fix that, I might be pushing a PR.

[2018-08-13 11:02] justdanpo commented on #4103
I'm facing the same issue. SBT 1.1.5/1.2.1. `sbt.override.build.repos` is set to `false`.
I've found this in .sbt/boot/update.log, may be it will tell something:

    impossible to define new type: class not found: org.apache.ivy.plugins.resolver.SshResolver in [] nor Ivy classloader
    impossible to define new type: class not found: org.apache.ivy.plugins.resolver.VsftpResolver in [] nor Ivy cla

[2018-08-13 16:00] LaCuneta commented on #4312
@eed3si9n That's correct, we've got sbt in our sbt!  Again, it's so we can maintain separate sbt setups for the extension repositories while also using them from the main project.

Thank you for the suggestions, I'll check them out.  We were obviously hoping to continue using our existing setup, but if our special technique is unsupported, I understand.

[2018-08-13 18:00] DanilSuits commented on #4117
No, exporting those JAVA_OPTS does not improve the observed behavior.

[2018-08-13 18:19] shasts opened #4319 "runMain causes jar packaging on 1.2"
- [ x] I've read the [CONTRIBUTING](https://github.com/sbt/sbt/blob/1.x/CONTRIBUTING.md) guidelines

## steps
Attached two zip files,  one with SBT 0.13.17 and other with 1.2.1. Running  `sbt clean test it:test` causes 1.2.1 to package jars including that of dependencies while 0.13.17 doesn't.

I think I'm dealing with two issues here.
1. Of course change in behavior of SBT in 1.2.1 to package jar

[2018-08-13 23:20] pshirshov opened #4320 "Crossbuilds are broken because of issues with dependency resolver"
I have a demo project which has one shared library targeting two scala versions and two other projects depending on that library and targeting one scala version each.

This project fails to build. Exclusions work but sbt tries to resolve shared artifact with wrong scala version from external resolver which is definitely wrong.

The repo: https://github.com/pshirshov/sbt-assymmetric-crossbuild-bug-

[2018-08-14 03:42] RootViz commented on #2088
build timestamp solution works. Sbt is weird, it created separate timestamp for each of the artifacts.

[2018-08-14 06:04] almothafar commented on #4309
Here some links might be helpful:

[How to pass the Windows Defender SmartScreen Protection?](https://stackoverflow.com/questions/48806909/how-to-pass-the-windows-defender-smartscreen-protection)

[How to avoid the Windows Defender SmartScreen prevented an unrecognized app from starting warning?](https://stackoverflow.com/questions/48946680/how-to-avoid-the-windows-defender-smartscreen-prevented-a

[2018-08-14 15:20] tpunder commented on #3761
Here is a mostly minimal reproduction of this issue showing the transitive dependencies not working when cached resolution is enabled:  https://github.com/tpunder/sbt-multi-project-cached-resolution-failure

[2018-08-14 18:20] tpunder commented on #3761
@eed3si9n Can we get some love for this issue?  I started looking through `CachedResolutionResolveEngine.scala` but can't really make sense of what's going on in there.

In the debug logs for my sample project (linked above) when saving the minigraph I don't see any mention of the `commons-lang3` dependency:

[code]

The resulting graph.json doesn't really have anything in it:

[code]

Shouldn't t

[2018-08-14 19:56] #1380 closed, assigned to nobody

[2018-08-14 21:25] eed3si9n commented on #4038
@jalaziz Thanks for the report, and sorry about the late response.

[2018-08-14 21:31] eed3si9n commented on #3410
FWIW Artifactory publishing using sbt 0.13 also required "Supress POM Consistency Checks."

[2018-08-14 21:36] eed3si9n commented on #4310
Ideally we should make it behave the same as `++`, like `java++ 10 -v test`

[2018-08-14 21:37] eed3si9n commented on #1152
Yes. Let's close it.

[2018-08-14 21:37] #1152 closed, assigned to nobody

[2018-08-15 07:57] ablx commented on #3618
@eed3si9n this bug is not fixed (see comment from @xmariachi )
Can you please reopen it?

[2018-08-15 15:49] eed3si9n commented on #4319
In current sbt 1 runMain delegates to bgRunMain, so that's pretty much by design.
If you want the old behavior please try fgRunMain.

[2018-08-15 15:49] #4319 closed, assigned to nobody

[2018-08-15 16:07] eed3si9n commented on #3465
A variant of James's workaround, I think is to set the `crossScalaVersions` to `List()`.
The root project that sbt injects should probably do that by default.

For all others who are encountering this issue, the workaround would look like:

[code]

[2018-08-15 16:13] eed3si9n commented on #4181
I think this is a duplicate of https://github.com/sbt/sbt/issues/3465

The workaround is:

[code]

[2018-08-15 16:13] #4181 closed, assigned to nobody

[2018-08-15 16:13] ThStock opened #4322 "How to set utf8 on windows?"
Steps to reproduce
[code]
check file content
[code]
and then
[code]
The expected characters are not printed

[2018-08-15 16:20] eed3si9n commented on #4320
Duplicate of https://github.com/sbt/sbt/issues/3465

The workaround is:

[code]

[2018-08-15 16:20] #4320 closed, assigned to nobody

[2018-08-15 16:38] eed3si9n commented on #3992
@ucbjrl Thanks for the report. I guess this is one reason to move towards more immutable cross building. See https://github.com/sbt/sbt-projectmatrix

[2018-08-15 16:41] dougjanzen commented on #3618
Adding an explicit dependency on javax.ws.rs-api like this worked for me:

libraryDependencies += "javax.ws.rs" % "javax.ws.rs-api" % "2.1" artifacts( Artifact("javax.ws.rs-api", "jar", "jar"))

I tried the workaround mentioned earlier that sets sys.props and also found that it worked sometimes but not always.

[2018-08-15 16:52] eed3si9n commented on #4322
@ThStock Thanks for the report.

I think you have to set `JAVA_OPTS` environment variable to `-Dfile.encoding=UTF-8`

[2018-08-15 17:18] ablx commented on #3618
Thanks @dougjanzen
I "fixed" it by calling `sbt compile` twice in gitlab-ci, however I'd prefer a working version :-)

[2018-08-15 17:27] eed3si9n commented on #4298
`~` is a feature of Bash - https://www.gnu.org/software/bash/manual/html_node/Tilde-Expansion.html

Maybe it's friendlier if sbt expanded it for you, but I'd say it's more of a nice-to-have feature than a bug.

[2018-08-15 17:31] eed3si9n commented on #4298
Having said that, this might be fairly easy to add, so if @erikerlandson or someone else to contribute to it, this might be a good first issue.

The relevant code is https://github.com/sbt/sbt/blob/v1.2.1/main/src/main/scala/sbt/BuildPaths.scala#L89-L92

[code]

That gets used by `getGlobalBase`.

[2018-08-15 17:54] jvican commented on #4298
Last time I looked at this you could not used a relative path as sbt global base, either, it had to be absolute.

[2018-08-15 18:11] erikerlandson commented on #4298
possibly I just read too much into some other docs.  I've seen paths like `~/.sbt/1.0/plugins/gpg.sbt`, and assumed `~` was allowed, but wasn't in the immediate context of setting `sbt.global.base`

Thanks for explaining!

[2018-08-15 18:53] ThStock commented on #4322
@eed3si9n do you mean ```javaOptions += "-Dfile.encoding=UTF-8"```? I tried this in my build.sbt with no effect. I'm looking for a commitable solution like mavens or gradles
[code]

[code]

[2018-08-15 19:45] eed3si9n commented on #4322
I mean `JAVA_OPTS` in the system environment variable. You could also try putting that in `sbtconfig.txt`.

[2018-08-15 19:48] eed3si9n commented on #4322
I've also opened https://github.com/sbt/sbt-launcher-package/issues/236

[2018-08-15 20:03] mysteryDave commented on #3492
Had the same issue using SBT 1.2.1 on Windows 10.
I did the following steps:
Changed scala version to 1.2.1 in build.sbt
Changed scala version to 1.2.1 in /project/build.properties
ran sbt from the /project directory

[2018-08-15 20:04] mysteryDave commented on #3492
Also changed in build.sbt

[2018-08-15 20:42] eed3si9n commented on #3492
We use GitHub issue mostly to track bugs and tasks on sbt development. If you need help, please check this out - https://www.scala-sbt.org/support.html

[2018-08-16 08:37] klapaukh commented on #4103
I have the same issue with SBT 1.1.6 / Scala 2.12.6 on High Sierra (10.13.6). I don't have a `~/.sbt/repositories' file, and I am not calling SBT with any extra arguments or environmental variables.

I tried running SBT with `--debug` to see if the trace would show anything but it only had the following output before starting on resolving dependencies:

[code]

and then did not search the added re

[2018-08-16 09:26] ThStock commented on #4322
I've changed
[code]
and run
[code]

[2018-08-16 20:11] eed3si9n commented on #4322
See https://superuser.com/questions/79612/setting-and-getting-windows-environment-variables-from-the-command-prompt

[2018-08-16 20:12] eed3si9n commented on #4322
Overall I don't think it's a bug of sbt, so I am going to close this.

[2018-08-17 03:55] eed3si9n commented on #3515
Based on Rafal's analysis I am going to call it a Specs2 issue.

[2018-08-17 03:55] #3515 closed, assigned to nobody

[2018-08-17 04:14] eed3si9n commented on #3977
This is probably now fixed in sbt 1.2.1.

[2018-08-17 04:14] #3977 closed, assigned to nobody

[2018-08-17 04:18] eed3si9n commented on #2054
Closing this since it's likely no longer relevant.

[2018-08-17 04:18] #2054 closed, assigned to nobody

[2018-08-17 04:20] eed3si9n commented on #2200
Closing this since there's a workaround.

[2018-08-17 04:20] #2200 closed, assigned to nobody

[2018-08-17 04:27] eed3si9n commented on #2333
Closing this as duplicate.

[2018-08-17 04:27] #2333 closed, assigned to nobody

[2018-08-17 09:12] dragos opened #4326 "Publish should not publish javadocs if compilation fails"
- [ ] I've read the [CONTRIBUTING](https://github.com/sbt/sbt/blob/1.x/CONTRIBUTING.md) guidelines

## steps

- type publish in a project with a compilation error
- docs succeed, compilation fails

## problem

- docs are published
- I can't fix the problem and run `publish` again, instead I have to delete the published version

## expectation

- publish should be atomic, and docs shouldn't be publ

[2018-08-17 09:15] dragos commented on #4326
At closer inspection it looks like it was the docs for a different project than the one with the error, though the question remains whether aggregates should publish partial results.

[2018-08-17 12:48] josiah14 commented on #4103
@eed3si9n please re-open this ticket given that there's new evidence that others are experiencing this issue.

[2018-08-17 14:59] SIkebe commented on #3696
Any update on this issue?

[2018-08-17 17:32] eed3si9n commented on #4326
`publish` is a task scoped to a subproject. If you want a build-wide step 1 do this, and then do step 2, then we are now talking about commands. How about something like this?

[code]

[2018-08-19 17:55] RatanRSur opened #4327 "Triggered execution not triggering when files change on Arch Linux"
- [x] I've read the [CONTRIBUTING](https://github.com/sbt/sbt/blob/1.x/CONTRIBUTING.md) guidelines

## steps
Write to source file while ~test is running in sbt

## problem
Does not recompile/test project

sbt version: 1.1.5

[2018-08-19 18:12] eatkins commented on #4327
Duplicate of https://github.com/sbt/sbt/issues/4167. You need to upgrade to 1.1.6 or higher.

[2018-08-19 18:12] #4327 closed, assigned to nobody

[2018-08-20 15:02] willbeason opened #4328 "Referencing classes in java.sql in Java 9 or later from sbt console throws SecurityException"
- [X] I've read the [CONTRIBUTING](https://github.com/sbt/sbt/blob/1.x/CONTRIBUTING.md) guidelines

## steps

Basically, doing anything in the console that directly creates an object in java.sql while using Java 9 or later will produce this bug.

1. Switch to Java 9 or later
2. Put `libraryDependencies += "org.postgresql" % "postgresql" % "42.2.4"` in `build.sbt`
3. `sbt console`
4. Run the code b

[2018-08-21 01:20] eed3si9n commented on #3696
sbt uses Gigahorse with OkHttp for parallel downloading, which does not support HTTPS proxy. You can try turning it off by passing `-Dsbt.gigahorse=false`.

Another thing you could try is running an internal Artifactory that proxies all the remote repositories, and use that, or try turning off https, and use http by passing `-Dsbt.repository.secure=false`.

Ref https://github.com/square/okhttp/iss

[2018-08-21 01:22] eed3si9n commented on #4307
Closing this as a duplicate of https://github.com/sbt/sbt/issues/3696

[2018-08-21 01:22] #4307 closed, assigned to nobody

[2018-08-21 02:57] SIkebe commented on #3696
@eed3si9n Thanks! `-Dsbt.gigahorse=false` worked for me :smile:

[2018-08-21 09:06] dragos commented on #4326
That's a good suggestion. I was publishing the scala build, actually, so I didn't want to modify the build script too heavily (it's all part of an automation pipeline)

[2018-08-21 12:53] ThStock commented on #4322
@eed3si9n I think it is a sbt problem, because I cannot set the encoding and I have to change system environment variables.

In my last comment I exported the environment variable correct

sbt requires ```JAVA_TOOL_OPTIONS=-Dfile.encoding=UTF-8``` and not ```JAVA_OPTS``` to change the encoding.

[2018-08-21 15:54] eed3si9n commented on #4328
@willbeason Thanks for the report with repro project.

[2018-08-21 16:02] eed3si9n commented on #4328
Given that `run` seems to work (I get `java.net.ConnectException: Connection refused`), I wonder if this is something specific to the way `console` is constructing the classloader.

[2018-08-21 16:50] willbeason commented on #4328
You're right, it does work with `run`. However, I found that in some cases (but, curiously, not all), if an external library inherits from a class in java.sql then you get the same error:

`mypackage/Main.scala`
[code]

Running the main class:
[code]

[2018-08-21 18:52] eed3si9n commented on #4322
ok. Maybe it requires further investigation.

[2018-08-22 03:13] eed3si9n commented on #3696
@SIkebe Thanks for the confirmation.

[2018-08-22 14:40] vil1 commented on #1120
Hi everyone! Can someone point me out where I should look to start working on that issue?

[2018-08-22 15:39] #3696 closed, assigned to nobody

[2018-08-23 07:38] muuki88 opened #4330 "sbt-allsources.sh fails with `no project 'compilerBridge'` in zinc"
- [x] I've read the [CONTRIBUTING](https://github.com/sbt/sbt/blob/1.x/CONTRIBUTING.md) guidelines

## steps

Run as described in the [CONTRIBUTING](https://github.com/sbt/sbt/blob/1.x/CONTRIBUTING.md)

[code]

## problem

[code]

## expectation

No runtime exceptions

## notes

It seems that [this commit](https://github.com/sbt/zinc/commit/5b179a2611c48ac928239d1ec003b536e5c5e02a#diff-fdc3abdfd75

[2018-08-23 11:17] raquelalegre commented on #4103
I have the same issue with SBT 1.1.6 / Scala 2.12.6 on Sierra (10.12.6).

[2018-08-23 20:04] eed3si9n commented on #1120
@vil1

Here are some of the relevant code:
- `Load.builtinLoader` - https://github.com/sbt/sbt/blob/v1.2.1/main/src/main/scala/sbt/internal/Load.scala#L480-L488
- `RetrieveUnit` - https://github.com/sbt/sbt/blob/v1.2.1/main/src/main/scala/sbt/internal/RetrieveUnit.scala
- `Resolvers.git` - https://github.com/sbt/sbt/blob/v1.2.1/main/src/main/scala/sbt/Resolvers.scala#L82-L101
- `Resolvers.creates`

[2018-08-23 20:13] vil1 commented on #1120
Thank you so much @eed3si9n ! I'll get a stab at this on my next FLOSS time slot (probably not before next Tuesday though).

[2018-08-23 20:47] jvican commented on #1120
How are you planning to implement this? @vil1 Refreshing git URI dependencies sounds quite dangerous to me. How do you ensure that the build will be deterministic if the URI can be refreshed by other means than updating the sha?

[2018-08-24 15:43] #4330 closed, assigned to eed3si9n

[2018-08-24 17:18] #1811 closed, assigned to nobody

[2018-08-26 13:43] vil1 commented on #1120
Well, I suppose it depends on which kind of git reference is set. For a specific commit/tag, no refresh is needed. When a branch is referenced it makes sense to try tu update it but might not always be possible (for example, when `compile` changes the worktree as a side effect, induced local changes might prevent pulling the branch).

To be fully transparent, my use-case is related to [scalaz-sbt]

[2018-08-26 15:42] jvican commented on #1120
In my opinion, doing this kind of refreshing even for branches is dangerous and should not be merged upstream. You’re gonna break the build of your scalaz-sbt users for sure at least once. The best is to tell users to update their hash or even allow git dependencies to work on tags (which are still mutable but are more reasonable than branches).

[2018-08-26 21:13] vil1 commented on #1120
Well, the point of my use-case *is* to break their build (or at least to modify their build definition without them doing anything).

In a more general case, I see `ProjectRef` / `RootProject` as the way to split a big project in multiple git repositories.

But I agree that the behaviour I suggest  might be troublesome depending on the use-case, so maybe I should find a way to require it to be exp

[2018-08-26 21:35] jvican commented on #1120
After doing this in quite big builds, I'm confident this workflow will make you quite unhappy at the moment. There are lots of unpolished rough edges and, in general, using sbt's poor source build support to set up any kind of source dependencies workflow will bring you lots of trouble (I can tell you this with a lot of confidence because I've spent endless hours trying to fix these bugs downstrea

[2018-08-27 15:59] eed3si9n opened #4333 "Add JDK 11 testing"
For all modules, we should start testing on JDK 11.

- [x] https://github.com/sbt/sbt/pull/4389
- [x] https://github.com/sbt/zinc/issues/540
- [x] https://github.com/sbt/librarymanagement/pull/263
- [x] https://github.com/sbt/util/pull/181
- [x] https://github.com/sbt/io/pull/181

[2018-08-27 17:00] franz-see commented on #3344
This hangs for us as well on the first run (i.e. if we clear ~/.sbt and ~/.ivy2)

[code]

On succeeding runs, it executes way faster.

Problem though is everytime we test if our dependency management resolvers are configured properly in our project, we clear the ~/.sbt and ~/.ivy2 to test things out. And that reintroduces the high turnaround time on that testing.

[2018-08-27 17:24] eed3si9n commented on #3344
@franz-see If you're clearing out `~/.sbt` then you should reinstall sbt from the official installer of the sbt version you're using so you can take advantage of the preloaded local repo. That should speed up the resolution of sbt itself.

https://www.scala-sbt.org/download.html

[2018-08-28 11:50] andreclaudino commented on #4103
I have same problem with SBT 1.2.1 and scala 2.12.6, if I use SBT 0.13.16 it works.

[2018-08-28 18:46] MasseGuillaume commented on #3572
State is a `Task`, it looks like it's not possible to use any `Task` in `parsed`.

[2018-08-28 19:53] NicolasRouquette commented on #3410
Today, I had to publish an SBT 0.13 plugin to our Artifactory server, which has POM Consistency Checks enabled.
The trick I used was to setup a custom resolver with a pattern that removes the scala & sbt binary suffixes.

That is, something like this:

[code]

[2018-08-29 15:02] spangaer commented on #3570
While turning off gigahorse seemed to have worked for quite a while for me, for some reason it started failing today. It was clear that the Apache reverse proxy sitting in between was errorring to a 502 status when Nexus was closing the connection after responding 401. (why auth isn't provided right away on publish is somewhat odd to me, btw).

A day of googeloo finally landed me here:
https://sup

[2018-08-30 13:59] tkubicz commented on #4000
Hi @kanischev,

Yesterday, in our plugin we've encountered exactly the same problem with `typesafe config`. We've found a workaround for this issue using sbt-assembly shading feature ([source](https://manuzhang.github.io/2016/10/15/shading.html)) by renaming packages `"com.typesafe.**"` into some other packages.

I hope this help anyone who encounter this problem in the future until SBT gives us a

[2018-08-30 18:10] olafurpg commented on #3572
The error is unrelated to `state` being a task, the same error happens for settings

[code]

This issue is a blocker for https://github.com/scalacenter/scalafix/issues/844 I would like `scalafix <semantic rule>` to depend `compile.value` while `scalafix <syntactic rule>` should run without compilation. In order to construct the parser I need access to a setting key `scalafixDependencies: SettingKe

[2018-08-30 18:30] michaelahlers commented on #4276
I have this exact same problem with SBT 1.1.6 and 1.2.1.

[2018-08-31 07:49] olafurpg commented on #3572
A workaround I'm using to read global settings from dynamic input tasks is to store them in mutable variables in the plugin object. I set the variable during `initialize` with
[code]

The parser then accepts a `scalaVersion: () => String` instead of `scalaVersion: String`. This may not work for everybody and it would be great to avoid this hacky workaround.

[2018-08-31 09:38] DavidPerezIngeniero opened #4337 "log.debug() traces are not shown with the last command"
- [x] I've read the [CONTRIBUTING](https://github.com/sbt/sbt/blob/1.x/CONTRIBUTING.md) guidelines

## steps

In my custom tasks, I use a lot this:
[code]

## problem

After invoking my custom task, I run
[code]
But I cannot see my log messages

## expectation

With SBT 0.13.X it used to work ok, and I could see all my custom traces.
With SBT 1.1.4 not anymore.

## notes

[2018-08-31 09:47] amelnikov-mylivn commented on #3627
I wonder why this bug remains unattended. Is not it a critical issue?
I stuck with this bug. Is there is any workaround?

My repository file on CI looks like:
[code]

[2018-08-31 12:57] espenhw commented on #4168
I've run into the same issue; turns out that something Docker does to the container filesystem (probably compression, that would make sense) truncates file mtimes to second resolution (instead of millisecond).  If you're on Java 8 passing `-Dsbt.io.jdktimestamps=true` to SBT is a workaround, but that won't work for JDK 10 at least.

[2018-08-31 13:07] espenhw commented on #4168
As a workaround on newer JDKs, you can do something like this:
[code]

For a suitable definition of `somehowDetectDocker` (we use a special system property set by the thing that triggers the build)

[2018-08-31 13:10] jvican commented on #4168
Good catch @espenhw. Note that what you're doing should not be done by default to all the stamps, as different incremental compilations that happen on the same second would not recompile incrementally correctly.

[2018-08-31 13:37] espenhw commented on #4168
Indeed; there's also a weird interaction where invoking `sbt test:compile package` in the Dockerfile ends up compiling the production code twice, so the workaround is not perfect! (As a workaround for the bug in the workaround, we invoke `test:compile` and `package` on separate RUN lines.)

[2018-08-31 15:35] eed3si9n commented on #1898
I am closing this due to inactivity, but if this is still relevant (i.e. want to send a PR) let us know.

[2018-08-31 15:35] #1898 closed, assigned to nobody

[2018-08-31 15:37] eed3si9n commented on #1379
I am closing this due to inactivity.

[2018-08-31 15:37] #1379 closed, assigned to nobody

[2018-08-31 15:38] eed3si9n commented on #2019
I am closing this due to inactivity, but if this is still relevant let us know with more details (reproduction steps etc).

[2018-08-31 15:38] #2019 closed, assigned to nobody

[2018-08-31 15:40] eed3si9n commented on #1406
I am closing this due to inactivity, but if this is still relevant let us know with more details (reproduction steps etc).

[2018-08-31 15:40] #1406 closed, assigned to nobody

[2018-08-31 15:42] eed3si9n commented on #991
I am closing this due to inactivity, but if this is still relevant and someone wants to work on it we're happy to reopen.

[2018-08-31 15:42] #991 closed, assigned to nobody

[2018-08-31 15:44] eed3si9n commented on #1777
I am closing this due to inactivity, but if this is still relevant let us know with more details (reproduction steps etc).

[2018-08-31 15:44] #1777 closed, assigned to nobody

[2018-08-31 15:46] eed3si9n commented on #1843
I am closing this due to inactivity, but if this is still relevant let us know with more details (reproduction steps etc).

[2018-08-31 15:47] eed3si9n commented on #2018
I am closing this due to inactivity, but if this is still relevant let us know with more details (reproduction steps etc).

[2018-08-31 15:47] #2018 closed, assigned to nobody

[2018-08-31 20:22] huntc commented on #1379
Fair enough!

[2018-09-01 00:41] eed3si9n commented on #2077
I am closing this due to inactivity, but if this is still relevant let us know with more details (reproduction steps etc).

[2018-09-01 00:41] #2077 closed, assigned to nobody

[2018-09-01 00:43] eed3si9n commented on #2122
I am closing this due to inactivity, and also there's a workaround posted.

[2018-09-01 00:44] eed3si9n commented on #2141
I am closing this due to inactivity, but if this is still relevant let us know with more details (reproduction steps etc).

[2018-09-01 00:44] #2141 closed, assigned to nobody

[2018-09-01 00:46] eed3si9n commented on #2167
Closing this since I've answered the question.

[2018-09-01 00:46] #2167 closed, assigned to nobody

[2018-09-01 00:47] eed3si9n commented on #2180
I am closing this due to inactivity, but if this is still relevant let us know with more details (reproduction steps etc).

[2018-09-01 00:47] #2180 closed, assigned to nobody

[2018-09-01 00:49] eed3si9n commented on #1770
I am going to close this since it's likely no longer relevant.

[2018-09-01 00:49] #1770 closed, assigned to nobody

[2018-09-01 00:52] eed3si9n commented on #2233
I am closing this due to inactivity, but if this is still relevant we'll be happy to reopen.

[2018-09-01 00:59] eed3si9n commented on #2740
I guess https://github.com/sbt/sbt-validator/ is here, so I should close this.

[2018-09-01 00:59] #2740 closed, assigned to cunei

[2018-09-01 07:10] samthebest commented on #2233
Please reopen @eed3si9n.  Two developers in my team only recently got bitten by this when loading a project into Intellij.  Intellij didn't load the project at all (did not highlight code correctly) because it couldn't download some sources.  The developers thought the error was due to proxy issues, then lost a few hours trying to debug the proxy.

When skim reading sbt logs (common practice, when

[2018-09-01 20:04] joshlemer opened #4338 "Path to `CONTRIBUTING` link is broken"
- [] I've read the [CONTRIBUTING](https://github.com/sbt/sbt/blob/1.x/CONTRIBUTING.md) guidelines

## steps

create a new issue in github.com/sbt/sbt

## problem

text is auto-filled asking you to read a CONTRIBUTING guideline at `- [] I've read the [CONTRIBUTING](https://github.com/sbt/sbt/blob/1.x/CONTRIBUTING.md) guidelines`

This link is dead

## expectation

The link is not dead

[2018-09-01 20:06] joshlemer opened #4339 "`sbt new` should not create a target directory in the working directory"
## steps

run `sbt new scala/hello-world.g8`

## problem

this creates `./target/...` directories

## expectation

no garbage target directory is created

[2018-09-02 10:33] ngocdaothanh opened #4340 "Why directory in unmanagedClasspath is copied to system temporary directory?"
I'm using SBT 1.2.1 on Mac for a multimodule project.

My project directory looks like this:

[code]

In my build.sbt, I'm adding app/config directory to classpath of module app like this:

[code]

When I run the project with `sbt run`, I see that the config directory is copied to system temporary directory like this:

[code]

--------

Question:
Why SBT 1.2.1 doesn't simply use the config file as

[2018-09-03 12:37] #2658 closed, assigned to nobody

[2018-09-03 12:39] #2323 closed, assigned to nobody

[2018-09-03 12:41] #2898 closed, assigned to nobody

[2018-09-03 12:41] #2894 closed, assigned to nobody

[2018-09-03 12:42] #2503 closed, assigned to nobody

[2018-09-03 12:43] #3172 closed, assigned to nobody

[2018-09-03 12:46] #2900 closed, assigned to nobody

[2018-09-03 12:48] #4013 closed, assigned to nobody

[2018-09-03 12:48] #4006 closed, assigned to nobody

[2018-09-03 12:49] #2870 closed, assigned to nobody

[2018-09-03 12:50] #3018 closed, assigned to nobody

[2018-09-03 12:50] #3886 closed, assigned to nobody

[2018-09-03 12:50] #3904 closed, assigned to nobody

[2018-09-03 12:50] #4172 closed, assigned to nobody

[2018-09-03 12:51] #4083 closed, assigned to nobody

[2018-09-03 12:54] #3330 closed, assigned to nobody

[2018-09-03 12:55] #4138 closed, assigned to nobody

[2018-09-03 12:56] #2376 closed, assigned to nobody

[2018-09-03 12:56] #2310 closed, assigned to nobody

[2018-09-03 12:59] #4315 closed, assigned to nobody

[2018-09-03 13:00] #4024 closed, assigned to nobody

[2018-09-04 12:10] mverbist commented on #1676
apparently still an issue in
sbt 1.1.6

`% "1.0.0-SNAPSHOT" % Test classifier "tests"`

[2018-09-04 12:59] eed3si9n commented on #4339
This is a duplicate of https://github.com/sbt/sbt/issues/2835 that was fixed in https://github.com/sbt/sbt/pull/4033. Do you have the latest version of sbt installed?

[2018-09-04 13:00] eed3si9n commented on #4337
Thanks for the report.

[2018-09-04 13:01] eed3si9n commented on #4338
Thanks for the report!

[2018-09-04 13:05] mr-git commented on #4311
I managed to stumble on this again, I still cannot provide sample project, but the "cure" was to add `-Xss2M` for SBT Shell in IDEA.
What I see different form other modules is that this particular module uses `circe`, dependencies include all of
[code]

To repeat the issue, I must delete `target` directory and then attempt to compile the module.

[2018-09-04 13:08] mr-git commented on #4311
I did a bit of experimenting - commenting out parts of code to reduce the compile scope, but no luck to identify the minimal set - after removed one or other class all compiles fine, it looks like the issue is caused by both the amount of the code and something else, I suspect that `circe` with automagic deriving of decoders/encoders from case classes is one of the possible causes of the issue.

[2018-09-04 13:48] hmf opened #4342 "Linux deb package version number not the same as sbtVersion value"
## steps

command 1: sbt sbtVersion
command 2. sudo apt-get install sbt

## problem

command 1: show the version number "1.1.6"
command 2:  "sbt is already the newest version (1.2.1)."

## expectation

Expected the same version numbers to be the same.

## notes

sbt version: *1.1.6*

[2018-09-04 16:10] eed3si9n commented on #4342
The version of the sbt's main version is determined by `project/build.properties` file.

[2018-09-04 16:10] #4342 closed, assigned to nobody

[2018-09-04 16:11] eed3si9n commented on #4340
sbt run now uses `bgRun` (background run). If you would like the same behavior as 0.13, please use `fgRun`.

[2018-09-04 16:11] #4340 closed, assigned to nobody

[2018-09-04 16:13] eed3si9n commented on #2364
Fixed in https://github.com/sbt/website/pull/213

[2018-09-04 16:13] #2364 closed, assigned to nobody

[2018-09-04 16:14] eed3si9n commented on #3493
We use GitHub issue mostly to track bugs and tasks on sbt development. If you need help, please check this out - https://www.scala-sbt.org/support.html

[2018-09-04 16:14] #3493 closed, assigned to nobody

[2018-09-04 16:19] eed3si9n commented on #2929
Do you have a project that can reproduce this behavior?

[2018-09-04 16:22] ignasi35 opened #4344 "Link to CONTRIBUTING is broken"
(this is a meta-issue)

- [ ] I've read the [CONTRIBUTING](https://github.com/sbt/sbt/blob/1.x/CONTRIBUTING.md) guidelines

^^^ the link above to `CONTRIBUTING` is broken for both the issue and the PR templates.

[2018-09-04 16:39] joshlemer commented on #4339
Whoops!

[2018-09-04 16:39] #4339 closed, assigned to nobody

[2018-09-04 19:02] joshlemer commented on #4339
To be clear, yes the problem is solved in 1.2.1

[2018-09-05 00:14] ngocdaothanh commented on #4340
I searched about `bgRun` and found this: https://github.com/sbt/sbt/pull/2936

Is there more official doc about `bgRun` and `fgRun`?

[2018-09-05 03:25] eed3si9n commented on #4344
Duplicate of https://github.com/sbt/sbt/issues/4338

[2018-09-05 03:25] #4344 closed, assigned to nobody

[2018-09-05 03:28] #4338 closed, assigned to eed3si9n

[2018-09-06 12:09] hmf commented on #4342
Apologies for insisting but I don't understand. Just to confirm:

* The latest version is 1.2.1 which is set by  `project/build.properties`
* If I install the latest version and execute `sbt sbtVersion` I should get 1.2.1
* I assume the latest deb package has sbt version 1.2.1

So why do I get 1.1.6 from the sbt installed via the deb package?

TIA

[2018-09-06 14:37] dpennell opened #4347 "Parallel Jenkins stages running tests on different projects cause race in sbt-buildinfo for common dependencies"
- [Yes ] I've read the [CONTRIBUTING](https://github.com/sbt/sbt/blob/develop/CONTRIBUTING.md) guidelines

## steps

sbt multi-project build file.  Almost all projects have sbt-buildinfo plugin enabled.
Jenkins pipeline:

[sbt compile, test]
-   parallel
    -  [sbt projectA/test]
    -  [sbt projectB/test]
    -  total of 17 parallel stages

## problem

We see random failures that manifest in man

[2018-09-07 08:52] prestonph opened #4348 "Compilation error when marking doobie as "provided""
- [x] I've read the [CONTRIBUTING](https://github.com/sbt/sbt/blob/develop/CONTRIBUTING.md) guidelines

## steps
Have a project, **database**, uses library [tpolecat/doobie](https://github.com/tpolecat/doobie). Mark it as "provided".
Have another project, **server**, depends on `database`.
Compiling **server** with `sbt server/compile` gives an error.

Full build file and sample code is here: http

[2018-09-10 14:54] dpennell commented on #4347
accidentally created this sbt-buildinfo issue in sbt issue list.  Moved to https://github.com/sbt/sbt-buildinfo/issues/139

[2018-09-10 14:54] #4347 closed, assigned to nobody

[2018-09-10 15:38] Lymia commented on #3266
+1

Please fix this. I just encountered this as I am converting an old plugin of mine from 0.13.x

It clutters build scripts with useless vals if you want to do any kind of abstraction, especially since the closures I have `.value` in are executed unconditionally by the function they are passed to anyway. I thought switching to `.value` over `(a, b, c) map { ... }` was exactly to reduce the kind o

[2018-09-11 03:34] #3150 closed, assigned to nobody

[2018-09-11 03:40] eed3si9n commented on #4348
I think this is by design. In other words, I disagree with your expectation.
provided means that it can be using during compile time (of `database` subproject), but will not be part of the runtime or part of the transitive dependency.

[2018-09-11 03:40] #4348 closed, assigned to nobody

[2018-09-11 10:42] prestonph commented on #4348
This is actually a wrong usage. I just need to add that dependency to `server` to compile successfully.

[2018-09-11 14:41] eed3si9n commented on #4342
Which Ubuntu version are you using? Do you see any error message when you go through the steps in https://www.scala-sbt.org/1.x/docs/Installing-sbt-on-Linux.html?

[2018-09-11 18:57] ritschwumm commented on #4348
it's weird- but see https://issues.apache.org/jira/browse/MNG-2205

[2018-09-12 00:40] prestonph commented on #4348
@ritschwumm interesting, didn't know that many people run into the same situation

[2018-09-12 08:53] hmf commented on #4342
Sorry for the late reply.

I had followed those instructions without a hitch. Just to be on the safe side I did an `update` and `upgrade`. I also did a new `sbt sbtVersion` and got the expected `1.2.1`.  I now realize what I did wrong. I had previously executed the latter command in a project directory with a build file that explicitly asks for 1.1.6. My mistake!

When you referred to the `project

[2018-09-12 12:10] stevedlawrence opened #4350 "Javadoc generation fails on JDK10 with "error - invalid flag: -d""
- [X] I've read the [CONTRIBUTING](https://github.com/sbt/sbt/blob/develop/CONTRIBUTING.md) guidelines

## steps

1. Ensure java/javac version is JDK10
1. Create a directory with a single .java file and no .scala files, e.g.
[code]
   Note that this mimics what happens when the sbt genjavadoc plugin is used and the only sources are .java files.
1. Run ``sbt doc`` to generate javadoc for the single

[2018-09-12 13:23] stevedlawrence commented on #4350
I discovered that setting the ``javaHome`` key causes sbt to fork javadoc rather than instantiating javadoc via the class loader. This results in the correct generation of javadocs. So the issue appears to be related to javadoc being executed reflectively.

[2018-09-12 15:52] #1972 closed, assigned to muuki88

[2018-09-13 14:41] muuki88 commented on #4038
@subotic I found another way to fix this

[code]

[2018-09-13 14:50] muuki88 commented on #4038
I'm getting the feeling that the actual error is the different `compile` task that doesn't return the expected result. If this is the case, I would argue that using a new configuration to separate different test cases, is the more complicated and error prone way to go.

Citing [sbt plugin best practices](https://www.scala-sbt.org/1.x/docs/Plugins-Best-Practices.html#Configuration+advices)

Which i

[2018-09-14 09:59] barambani opened #4360 "Kafka streams' start ExceptionInInitializerError"
- [ X] I've read the [CONTRIBUTING](https://github.com/sbt/sbt/blob/develop/CONTRIBUTING.md) guidelines
I'm having an issue while running a kafka streams app in a `cats-effect` `IOApp` when I don't shift the context from global. A sample affected project can be found [here](https://github.com/barambani/kafka-streams-error).

## steps
- pull [this](https://github.com/barambani/kafka-streams-error)

[2018-09-14 11:54] smarter opened #4361 "ClassCastException from log4j when running scripted"
After upgrading to sbt 1.2.3 from sbt 1.1.6 I'm seeing this in my scripted logs (this doesn't seem to prevent the tests from running):
[code]

The same thing apparently happened in Zinc custom scripted implementation and was fixed by @jvican in https://github.com/sbt/zinc/pull/441

[2018-09-14 19:10] macmacbr commented on #748
Seeing the same error with
OSX 10.13.6
java 1.8.0_181
sbt 0.13.16
play 2.3.10
scala 2.11.11
xcode-select 2349

[2018-09-14 21:54] eed3si9n commented on #4360
Please fork your run:

[code]

[2018-09-14 21:54] #4360 closed, assigned to nobody

[2018-09-14 22:02] eed3si9n opened #4362 "Log is either too noisy or unhelpful"
## steps

1. compile a large build with plugins, macros, code generation, library dependencies etc.

## problem

The problem is that the log gets really noisy

[code]

but when something is taking a long time it's hard to tell what's going on.

## expectation

Remove the "Updating..." .. "Done" with currently executing tasks with count up clock?

[2018-09-14 22:21] eed3si9n commented on #2994
Closing this in favor of https://github.com/sbt/sbt/issues/4362

[2018-09-14 22:21] #2994 closed, assigned to nobody

[2018-09-15 02:50] SethTisue commented on #4362
is there some other tool, not necessarily a Scala or JVM tool even but just anything, that does a good job with this, and we could copy their design?

[2018-09-15 02:56] eatkins commented on #4362
One thing that I think is nice in [mill](https://github.com/lihaoyi/mill) is that by default it generates performance reports for each task. I think it would be great if sbt could do something similar. The implementation in mill is here: [Evaluator](https://github.com/lihaoyi/mill/blob/master/main/core/src/mill/eval/Evaluator.scala)

[2018-09-15 03:32] eed3si9n commented on #4362
@SethTisue Gradle.

I wrote http://eed3si9n.com/console-games-in-scala as a preliminary research for implementing Gradle's progress bar. It takes over bottom _n_ rows of your terminal where _n_ is the number of concurrent tasks, and shows you what the overall command you're executing on:

![gradle-progress](https://user-images.githubusercontent.com/184683/45581987-143d1800-b876-11e8-8368-40f25be64

[2018-09-15 07:22] xuwei-k commented on #4350
https://github.com/sbt/zinc/issues/414

[2018-09-15 07:28] xuwei-k commented on #4350
- https://github.com/sbt/zinc/blob/v1.2.2/internal/zinc-compile-core/src/main/scala/sbt/internal/inc/javac/LocalJava.scala#L42-L77
- https://github.com/xuwei-k/sbt-java10-javadoc

[2018-09-15 07:37] xuwei-k commented on #4350
workaround: set the `javaHome` key explicitly (e.g. ↓)

[code]

[2018-09-15 12:53] peter-empen commented on #4103
Same issue with SBT 0.13.16/0.13.17 and the resolvers definition in the root `build.sbt`.
I suspect some local state causing this. But removing the `target` directories did not help, either.
Would you suggest any other way to "clean" SBT?

[2018-09-15 15:54] peter-empen commented on #4103
Here is my resolution: In a multi-module project define not just `resolvers ++=` but
`resolvers in ThisBuild ++= ...`

[2018-09-15 15:56] seoh commented on #4165
<img width="1030" alt="image" src="https://user-images.githubusercontent.com/2159453/45588145-d5c55d00-b94a-11e8-85be-c09ffbb31e73.png">

Sometimes shorten link goes wrong. it was just temporarily issue and works well after a few minutes, but I think it should be logged.

[2018-09-15 22:53] DanielaSfregola opened #4363 "ProjectRef - unable to find valid certification path to requested target"
- [X] I've read the [CONTRIBUTING](https://github.com/sbt/sbt/blob/develop/CONTRIBUTING.md) guidelines

## steps
To replicate, run the following in the terminal:

1. `git clone https://gitlab.com/andreaTP/sbt-ws -b 6`
2. `cd sbt-ws`
3. `sbt prjC/compile`

## problem
At Scala Italy 2018, @andreaTP gave us a (pretty awesome) workshop on SBT. Step 6 of the tutorial was demonstrating the use of `Proje

[2018-09-16 05:34] xuwei-k commented on #4350
use `javax.tools.ToolProvider.getSystemDocumentationTool` ? 🤔

- https://github.com/xuwei-k/sbt-java10-javadoc/commit/5b31c23eb26feb3742e9c33cd3d656e481146e50
- https://github.com/sbt/zinc/blob/932472b05ba294e4627ac3d3eb60194eae1df80f/internal/zinc-compile-core/src/main/scala/sbt/internal/inc/javac/JavaCompiler.scala#L117-L118
- https://github.com/xuwei-k/zinc/commit/89ac9ee2e8a3a117454990c3f141a6

[2018-09-16 05:47] eed3si9n commented on #4350
@xuwei-k Yes. That looks vaguely familiar to me.

[2018-09-16 06:57] #4236 closed, assigned to nobody

[2018-09-16 06:58] eed3si9n commented on #4361
ok, then https://github.com/sbt/sbt/pull/4306 should fix this too.

[2018-09-16 06:58] #4361 closed, assigned to nobody

[2018-09-16 06:58] #1074 closed, assigned to eed3si9n

[2018-09-16 07:20] eed3si9n commented on #4363
At the first glance the following looks like the direct issue:

sbt 1.2.1's resolver does not include `http://scala-tools.org/` (https://github.com/sbt/sbt/blob/v1.2.1/launch/src/main/input_resources/sbt/sbt.boot.properties) so maybe it might be resolved if you could reinstall sbt.

### fullResolvers

Could you type `show prjA/fullResolvers` into sbt shell, see what you get?

[code]

[2018-09-16 07:30] DanielaSfregola commented on #4363
If I type `show prjC/fullResolvers` I get the following:

[code]

[2018-09-16 08:30] eed3si9n commented on #4363
If you run `sbt about` in `/tmp/freshname/` what do you get? (i.e. what version of `sbt` do you have it installed?)

Also do you have paranamer 2.4.1 in ivy cache?

[code]

[2018-09-16 20:47] barambani commented on #4360
Thanks, it works. Any resource or doc that would help me understand why it happens ?
**UPDATE:** this actually doesn't work as, even if it starts fine, it prevents the fiber from being cancelled properly on interruption (like after a Ctrl-C). In that case there is some finalisation that needs to be done (kafka streams close) that get skipped with this.

[2018-09-16 20:50] DanielaSfregola commented on #4363
The installed sbt version on my machine is 1.1.2:

[code]

I do have a paranamer 2.4.1:
[code]

[2018-09-17 04:42] eed3si9n commented on #4363
@DanielaSfregola Thanks for reporting this issue and providing useful hints.
One of key info was "Sun Sep 16 20:38:22 UTC 2018", which makes sense since you saw the issue trying to resolve it. Next, I dug into where `Scala Tools Snapshots` was coming from. sbt has never had that in the resolvers by default as far as I can remember. It turns out that it's coming from Lightbend Config! (its build to

[2018-09-17 04:42] #4363 closed, assigned to nobody

[2018-09-17 05:11] eed3si9n commented on #4360
When you normally run a Scala program, the running program gets its own JVM.
Spinning up JVM takes time, so sbt implements a fake running by constructing a classloader and calling your app as function call in some background thread. It works for simple apps, but it doesn't for more complicated stuff. Fork says "start a new JVM by calling `java` command line", so that should be _closer_ to actual r

[2018-09-17 08:31] barambani commented on #4360
Thanks a lot for the details. Very clear and helpful. 👍

[2018-09-17 16:33] #1054 closed, assigned to eed3si9n

[2018-09-17 16:33] #4184 closed, assigned to nobody

[2018-09-17 20:21] eed3si9n commented on #3567
From the stacktrace it looks like a Giter8 issue. I am moving the issue there - https://github.com/foundweekends/giter8/issues/398

[2018-09-17 20:21] #3567 closed, assigned to nobody

[2018-09-18 18:26] GaalDornick commented on #3519
I still get this error on v1.2.1.
1) Clean out my ivy cache
2) Clone https://github.com/apache/incubator-toree
3) Run make release

I get

[code]

when I turn on debug, I see this

[code]
SBT is tried to download the jar for a POM type module. Obviously, POM modules don't have jars, so it tries every repository until the last one and gives this exception

[2018-09-18 19:40] krichter722 commented on #4173
@peidaqi did you report this at https://github.com/scala/bug?

[2018-09-18 20:06] eed3si9n commented on #3519
This looks like a different stack trace, so I am going to use the new GitHub feature and open a new issue.

[2018-09-18 20:07] eed3si9n opened #4366 "NullPointerException from okhttp3 during resolution"
### steps

On sbt 1.2.1.

1) Clean out ivy cache
2) Clone https://github.com/apache/incubator-toree
3) Run make release

### problem

[code]

when I turn on debug, I see this

[code]
sbt is tried to download the jar for a POM type module. Obviously, POM modules don't have jars, so it tries every repository until the last one and gives this exception

_Originally posted by @GaalDornick in https://g

[2018-09-19 11:53] insdami commented on #3022
Same here using sbt 1.1.6

[code]

[2018-09-19 14:59] GaalDornick commented on #4366
Is anyone else able to reproduce this?

[2018-09-20 00:38] eed3si9n commented on #4366
This worked for me on my machine.

[2018-09-20 01:39] eed3si9n commented on #3022
Looking at the stack trace I see different code paths waiting on the classloader.
So who's locking it? It seems like this code here by byte-buddy:

https://github.com/raphw/byte-buddy/blob/byte-buddy-1.6.11/byte-buddy-dep/src/main/java/net/bytebuddy/TypeCache.java#L160-L162

[code]

that's called by `org.mockito.internal.util.MockUtil.createMock(MockUtil.java:35)`.

So if Mockito is dynamically ch

[2018-09-20 01:39] #3022 closed, assigned to nobody

[2018-09-20 14:50] kai-chi commented on #4298
this can be closed - fixed with #4367

[2018-09-20 15:11] erikerlandson commented on #4298
That is great! I'll close this.

[2018-09-20 15:11] #4298 closed, assigned to nobody

[2018-09-20 15:49] Duhemm opened #4370 "sbt/exec gives never sends a JSON-RPC Response when a command throws an exception"
- [x] I've read the [CONTRIBUTING](https://github.com/sbt/sbt/blob/develop/CONTRIBUTING.md) guidelines

## steps
1. Start an sbt server instance
[code]

2. Connect to sbt server and run `hello`:
[code]

## problem
We never get a JSON-RPC `Response`.

## expectation
We get a JSON-RPC `Response` indicating that an error occurred:
[code]

## notes
Input is processed here: https://github.com/sbt/sbt/b

[2018-09-20 16:09] NicolasRouquette commented on #4303
I experienced the same problem manifestation with intellij.
After some experiments, it seems to me that sbt doesn't actually recognizes the `--addPluginSbtFile=<file>` option as I've described here: https://youtrack.jetbrains.com/issue/IDEA-199224

I wonder if there is a regression bug w.r.t. this new option.
Even outside of intellij, I haven't been able to get this option to work as intended.

[2018-09-20 20:23] chrisalbright commented on #3618
Getting this when adding `libraryDependencies += "org.apache.kafka" %% "kafka-streams-scala" % "2.0.0" withSources()` to my project.

Workaround from above works for me - but definitely sucks.

[code]

[2018-09-20 21:10] hammadzz commented on #1120
Is there any support for selecting a git tag rather than just a branch or a commit hash?

[2018-09-21 07:56] alexarchambault commented on #4296
FWIW, we've been seeing similar error with sbt-coursier recently, see discussion around [here](https://gitter.im/coursier/coursier?at=5ba3b5b40cfe7f30f1c1e8ac), and I'm running into that too on the CI of coursier itself (started 2 days ago). *For files under the coursier cache.*

[2018-09-21 13:23] mriehl opened #4371 "sbt logger does super weird stuff with string context without interpolation"
- [x] I've read the [CONTRIBUTING](https://github.com/sbt/sbt/blob/develop/CONTRIBUTING.md) guidelines

## steps
[code]

## problem
`s""` should be simplified to `""` at runtime, but the sbt logger somehow escapes the contents additionally.

## expectation
`s""` should behave like a regular string w.r.t. escaping.
See
[code]

## notes

sbt version:
1.0 works fine
1.2.1 has this issue
1.2.3 has thi

[2018-09-21 14:12] johanandren opened #4372 "Clean/recompile on every new sbt incarnation on Java 10"
- [x] I've read the [CONTRIBUTING](https://github.com/sbt/sbt/blob/develop/CONTRIBUTING.md) guidelines

## problem
Can't say for sure, but, potentially appeared after we upgraded to 1.2.3 in the Akka project.

Whenever I start a new instance of sbt in the Akka project, and do something that triggers a compile, I get this error:

[code]

Doing a `clean` and then recompiling everything is a workarou

[2018-09-21 15:48] andreaTP opened #4373 "[sbt-server] support for cancellations"
Started developing a thin client for Sbt (https://gitlab.com/andreaTP/sbtcli) and it turned out that there is no support for cancelling "running" tasks.

LSP provide a specification for it: https://microsoft.github.io/language-server-protocol/specification#cancelRequest

I would imagine that a CLI user would like to `Ctrl-C` a running task and it's interrupted on the server.

[2018-09-21 15:53] andreaTP opened #4374 "[sbt-server] helper for completions"
Started building a thin client for Sbt (https://gitlab.com/andreaTP/sbtcli) and I wanted to implement some kind of completion for the interactive shell.

LSP define completion requests: https://microsoft.github.io/language-server-protocol/specification#textDocument_completion

it should be supported by the sbt-server to enable more user-friendly CLIs.

[2018-09-21 15:57] NicolasRouquette opened #4375 "--addPluginSbtFile is ignored except for a global plugin project"
- [x] I've read the [CONTRIBUTING](https://github.com/sbt/sbt/blob/develop/CONTRIBUTING.md) guidelines

## steps

This is based on working with IntelliJ IDEA 2018.3 EAP with Intellij Scala nightly plugin.
However, it is not necessary for reproducing this problem.
Below, I'm simply emulating what Intellij IDEA does when importing a Scala 2.12.6 / SBT 1.2.3 project.
For Intellij-specific details, se

[2018-09-21 19:43] eed3si9n commented on #4375
I cannot reproduce this on my machine.

[code]

Potentially related to https://github.com/sbt/sbt/issues/4303?

[2018-09-22 19:11] barambani commented on #2274
+1

[2018-09-22 22:08] nhooey commented on #4330
@eed3si9n The fix for this never made it in to the `1.2.x` branch.

[2018-09-22 22:36] nhooey commented on #4330
@eed3si9n Sorry that's not true, I found the fix, but I'm having [another related issue](https://stackoverflow.com/questions/52461497).

[2018-09-24 23:10] sergiorussia commented on #4166
hi guys. our project faced OOM with recent update to SBT 1.2.1. OOM in 5 builds in a row. tried to downgrade to 1.1.4 with no luck. today i've updated to SBT 1.2.3 - built successfully 3 times in a row.

[2018-09-25 05:54] marcdb commented on #4103
Same problem here trying to use sbt-coursier via an artifactory proxy:
plugins.sbt contains:
`resolvers += "remote-repos" at "http://<artifactory-url>/remote-repos"`
`addSbtPlugin("io.get-coursier" % "sbt-coursier" % "1.0.3")`

remote-repos" is configured as a virtual maven-style repo.

When running sbt in debug mode, it seems that sbt finds the pom-file in remote-repos, but then it searches for t

[2018-09-25 12:26] andreaTP opened #4379 "[sbt-server] task completion report of JsonRpc commands is printed in Sbt shell"
- [X] I've read the [CONTRIBUTING](https://github.com/sbt/sbt/blob/develop/CONTRIBUTING.md) guidelines

## steps
 - Start Sbt interactive shell
 - connect with a Json RPC client
 - trigger one command

## problem
the report of the executed command is reported in the opened Sbt shell
e.g.
[code]
## expectation
the execution report is sent only to the connected client.
## notes

sbt version: *1.2.X*

[2018-09-25 13:39] #4370 closed, assigned to nobody

[2018-09-25 13:56] mrt181 commented on #3618
I have the same error with sbt 1.2.3 when depending on kafka-streams

[2018-09-25 20:42] shengc commented on #2821
[code]

[2018-09-25 21:09] stephcur123 opened #4381 "build empire monkey super patch classes of courses high efficiency python x super 10"
- [ ] I've read the [CONTRIBUTING](https://github.com/sbt/sbt/blob/develop/CONTRIBUTING.md) guidelines

## steps

## problem

## expectation

## notes

sbt version: *insert sbt version*

[2018-09-25 21:12] stephcur123 commented on #4381
this needs to be done because of bad people trying to harm other people /build empire monkey super patch classes  of courses high efficiency python x super 10

[2018-09-26 00:38] xuwei-k commented on #4350
https://scala-ci.typesafe.com/view/scala-2.12.x/job/scala-2.12.x-jdk10-integrate-community-build/268/

[code]

[2018-09-26 06:46] He-Pin commented on #4333
This is a must done now~!

[2018-09-26 07:48] mvdstam opened #4382 "Send custom HTTP headers when publishing"
Hello,

When publishing to a private repository, it's necessary for us to send custom HTTP headers when doing this. These headers contain, for example, authentication tokens.

I know that Maven uses a `~/.m2/settings.xml` file for this where custom httpHeaders can be configured per server/repository. I haven't found an analogous functionality in SBT to do this aside from basic authentication.

Is

[2018-09-26 09:44] kamilkloch opened #4383 "Ivy `exclude` and `override` are ignored"
Ivy.xml of an artifact XXX contains the following lines:
[code]

Imported artifact XXX (via  `libraryDependencies += ....`) ignores both `exclude` and `override` rule. Sbt 1.2.1.

[2018-09-26 16:55] eed3si9n commented on #4383
Thanks for the report. Is it supposed to be transitive?

[2018-09-26 17:02] eed3si9n commented on #4382
I don't think it's possible currently.

For potential contributors, see code that was changed in https://github.com/sbt/librarymanagement/pull/246 for the relevant code.

[2018-09-26 17:08] #4381 closed, assigned to nobody

[2018-09-26 20:20] NicolasRouquette commented on #4375
Darn, now I can't reproduce it either!
I'm closing this issue as I can no longer reproduce it.

[2018-09-26 20:20] #4375 closed, assigned to nobody

[2018-09-26 20:25] kamilkloch commented on #4383
@eed3si9n I cannot find a clear ivy doc on that, perhaps this is a correct behaviour. http://ant.apache.org/ivy/history/2.3.0/ivyfile/artifact-exclude.html

[2018-09-26 21:11] eed3si9n commented on #4383
We're throwing the resolution part of Apache Ivy, so sbt is doing the "correct" Ivy thing. I am going to close this, but let us know if you find otherwise.

[2018-09-26 22:04] sergevoloshyn commented on #2122
I'm facing the same problem.. are you going to do something with this?

[2018-09-27 01:13] eed3si9n commented on #4374
`TextDocumentPositionParams` takes `TextDocumentIdentifier`, which contains an URI.
We can make an URI convention for the shell. We can make up a URI convention for our use.
For example we can say `"sbt://shell"` means sbt shell like `chrome://about/`.

The context could be:

[code]

[2018-09-27 01:20] eed3si9n commented on #3618
I wonder if there's some evaluation ordering issue.

Could you try

[code]

[2018-09-27 01:28] eed3si9n commented on #3618
The other workaround might be to make an ad-hoc AutoPlugin.

### project/PackagingTypePlugin.scala

[code]

The above works for me.

[2018-09-27 06:10] eed3si9n commented on #4371
Thanks for the report.

[2018-09-27 06:20] mvdstam commented on #4382
Hey @eed3si9n, thanks for your reply. :+1:

[2018-09-27 10:23] liebichw commented on #3570
I have an equivalent problem with SBT 1.1.6. The repository server is nexus 3.3.6. The project in question has 4 submodules - 3 of them I can publish, when trying to publish the fourth, the "broken pipe" error comes.
Setting

fixes the problem

[2018-09-27 19:11] eed3si9n opened #4386 "IO.classLocationFile(cl: Class[_]): File does not work on JDK 11"
This was originally reported by @xuwei-k as https://github.com/sbt/io/issues/85 that on Travis CI `IO.classLocationFile` test fails.

[code]

I am opening this here since `IO.classLocationFile` is used in a few places, and it might require some creative solutions.

### Notes provided by Yoshida-san

`IO.classLocationFile(cl: Class[_]): File` does not work with Java 9.

https://github.com/sbt/io/bl

[2018-09-27 19:30] eed3si9n commented on #4386
### sbt/main-actions/src/main/scala/sbt/ForkTests.scala

[code]

### sbt/run/src/test/scala/sbt/ForkTest.scala
[code]

### sbt/testing/src/main/scala/sbt/TestFramework.scala

[code]

### sbt/main-actions/src/main/scala/sbt/compiler/Eval.scala

[code]

### sbt/main/src/main/scala/sbt/internal/parser/SbtParser.scala

[code]

### zinc/internal/zinc-classpath/src/main/scala/sbt/internal/inc/classpath/

[2018-09-27 23:41] nhooey opened #4387 "Running `publishLocalAllModule` on SBT source says `crossScalaVersions is undefined` for `zinc`"
- [x] I've read the [CONTRIBUTING](https://github.com/sbt/sbt/blob/develop/CONTRIBUTING.md) guidelines

## steps

After downloading the SBT source and running the SBT shell:

[code]

## Problem

When I publish, I get the following error:

sbt:sbtRoot> publishLocalAllModule
[error] java.lang.RuntimeException: ProjectRef(uri("file:/Users/nhooey/git/github/sbt/zinc/"), "compilerBridge") / ./ ./ cross

[2018-09-28 10:08] eed3si9n commented on #2122
I'll reopen this. Would you like to try for a pull request on this?
I think the first step would be to make a plugin under https://github.com/sbt/sbt/tree/develop/main/src/main/scala/sbt/plugins.

[2018-09-28 10:24] aaabramov opened #4391 "Task completion time is in UTC, not in system time zone"
- [x] I've read the [CONTRIBUTING](https://github.com/sbt/sbt/blob/develop/CONTRIBUTING.md) guidelines

## steps
Set system time zone to non-UTC (in my case it is `Europe/Kiev` (`EEST`)):

[code]

[code]

[code]

## problem
Task completion time is shown in UTC not in local time.

## expectation
System time zone is being used.

## notes

sbt version: *1.2.3*

[2018-09-28 12:58] joroKr21 commented on #3963
That makes walking a directory of files more complicated. Normally I wouldn't care about this in `run`, but this also happens in `jmh:run` when using sbt-jmh.

[2018-09-28 14:02] udalrich commented on #563
@pfn 's solution fails in sbt 1.1.5 (and probably 1.x, based on the docs)

build.sbt:74: error: value isDirectory is not a member of sbt.Watched.WatchSource
watchSources ~= { _.filterNot(_.isDirectory) }

[2018-09-28 16:21] eed3si9n commented on #4391
It works for me:

[code]

[2018-09-28 16:50] aaabramov commented on #4391
@eed3si9n what is your time zone?
[code]

[2018-09-29 02:43] hsc-afk commented on #3618
@eed3si9n

/code/build.sbt:3: error: illegal start of simple expression
object PackagingTypePlugin extends AutoPlugin {
^
[error] Error parsing expression.  Ensure that there are no blank lines within a setting.

[2018-09-29 06:17] eed3si9n commented on #3618
@l0n3r4n83r You need to create it at `project/PackagingTypePlugin.scala`, not `build.sbt`.

[2018-09-29 20:18] eed3si9n commented on #4391
I live in the US.

[code]

[2018-09-30 18:43] BFMarks commented on #3514
Thanks @bantonsson !

[2018-10-01 10:40] ahjohannessen opened #4394 "Classpath issue in sbt 1.1.5+"
- [x] I've read the [CONTRIBUTING](https://github.com/sbt/sbt/blob/develop/CONTRIBUTING.md) guidelines

## steps

Checkout https://github.com/ahjohannessen/sbt-classpath-issue and read the instructions listed in the readme.

## problem

Classpath available to `run` command is different in sbt `<= 1.1.4` and `>= 1.1.5`

## expectation

Identical classpaths in sbt `1.1.4` and `1.1.5+`

[2018-10-01 15:43] jastice opened #4395 "--addPluginsSbtFile fails if .sbt/1.0/plugins directory does not exist"
- [x] I've read the [CONTRIBUTING](https://github.com/sbt/sbt/blob/develop/CONTRIBUTING.md) guidelines

## steps

1. fresh sbt install or `> rm -r ~/.sbt/1.0/plugins/`
2. create `extra.sbt` in a non-project path with contents:
[code]
3. start sbt with `--addPluginsSbtFile /path/to/extra.sbt`

## problem

Plugins in `extra.sbt` are not loaded:
[code]

## expectation

after creating `plugins` direct

[2018-10-01 19:00] #4373 closed, assigned to nobody

[2018-10-02 12:58] #4284 closed, assigned to eed3si9n

[2018-10-02 13:58] eed3si9n commented on #4395
Thanks for the report. That actually rings a bell because I piggy backed on the global plugin loading.

[2018-10-02 22:23] helena commented on #4103
WFM with

build.sbt
`scalaVersion := "2.12.6" // does not work with 2.12.7 yet it seems`

project/build.properties
`sbt.version = 1.2.3`

project/supersafe.sbt
`addSbtPlugin("com.artima.supersafe" % "sbtplugin" % "1.1.7")`

~/.sbt/1.0/global.sbt
`resolvers += "Artima Maven Repository" at "http://repo.artima.com/releases"`

[2018-10-04 19:24] eed3si9n commented on #2033
I am now afraid fixing this would cause subtle breakage in someone's build.
We might just have to document the backwards behavior.

[2018-10-04 20:10] eed3si9n opened #4399 "client subscription level of events"
When the client connects to the server, it should have an option of subscribe-to-all (all events) or subscribe-to-mine.

On the terminal screen of the server, it might be useful for now to display all events, but eventually it might get too noisy.

[2018-10-05 14:05] NicolasRouquette commented on #4395
Ah, this makes sense now. When I experienced this problem in #4375, I had wiped out `~/.sbt`.
So there was no `~/.sbt/1.0/plugins` folder either.

[2018-10-06 17:07] #4362 closed, assigned to eed3si9n

[2018-10-06 17:26] eed3si9n commented on #89
Ref https://github.com/scala/bug/issues/9237
Ref https://github.com/scala/scala-dev/issues/562#issuecomment-427545324

According to https://github.com/scala/bug/issues/9237#issuecomment-292436652, Java serialization `ObjectInputStream#resolveClass` specifically is incompatible with Serialization Proxy pattern and sbt's layered ClassLoader, which previously contained the issue most around `List`. T

[2018-10-06 19:58] 2m opened #4407 "The output of the doc task is cached only after second run"
- [x] I've read the [CONTRIBUTING](https://github.com/sbt/sbt/blob/develop/CONTRIBUTING.md) guidelines

## steps

Make a project with one Scala source file and an empty build definition:

File: `project/build.properties`
[code]

File: `File: src/main/scala/Main.scala`
[code]

Run the following commands:

[code]

## problem

The result of the `doc` task was cached after the second run.

## expectat

[2018-10-06 20:40] eed3si9n opened #4408 "Compiler bridge cannot be resolved out of sbt-maven-snapshot"
## steps

Use a nightly to compile something.

## problem

Compiler bridge is not found.

## expectation

Compiles.

## notes

Compiler bridge does not look into sbt-maven-snapshot.

Ref https://github.com/sbt/sbt/issues/304
6015d082aa5bc40dad8b8edbe1893dc060f52365

[2018-10-07 05:09] #4408 closed, assigned to eed3si9n

[2018-10-07 13:42] folex commented on #3377
Is there any workaround? I'm trying to override `test` task so it runs another two, like this:
[code]

[2018-10-08 03:17] game-lib opened #4411 "sbt -url download error"
## problem

https://piccolo.link/sbt-1.2.3.msi
'https://piccolo.link' not working, download error

[2018-10-08 03:22] game-lib commented on #4411
downloaded.. https://github.com/sbt/sbt/releases

[2018-10-08 03:22] #4411 closed, assigned to nobody

[2018-10-08 08:29] lgirault opened #4412 "Misleading error message `No Scala version specified or detected`"
- [x] I've read the [CONTRIBUTING](https://github.com/sbt/sbt/blob/develop/CONTRIBUTING.md) guidelines

## steps
Start sbt with an empty ivy cache and no network
(real use case scenario involve a sandboxed nix-build an a closed list of enabled urls)

## problem
sbt fails to start with the following error message : `Error during sbt execution: No Scala version specified or detected `

## expectatio

[2018-10-08 15:54] mrveera commented on #4165
I have tried using multiple networks still not able access below link
 https://piccolo.link/sbt-1.2.3.tgz

[2018-10-08 16:11] haridas opened #4413 "piccolo.link sbt download link not working"
- [x] I've read the [CONTRIBUTING](https://github.com/sbt/sbt/blob/develop/CONTRIBUTING.md) guidelines

## steps

`brew install sbt@1` not working as the https://piccolo.link/sbt-1.2.3.tgz link isn't accessible.

## problem

https://piccolo.link is down.

I downloaded the sbt packaged from github. But the package management tools are all expecting this https://piccolo.link/sbt-1.2.3.tgz link to be

[2018-10-08 16:45] eed3si9n commented on #4413
`curl -L --head https://piccolo.link/sbt-1.2.3.tgz` returns 200 for me.

Could you paste the result of `curl -L --head https://piccolo.link/sbt-1.2.3.tgz` for you?

[2018-10-08 17:30] haridas commented on #4413
haridas$ curl -L --head https://piccolo.link/sbt-1.2.3.tgz
curl: (35) LibreSSL SSL_connect: SSL_ERROR_SYSCALL in connection to
piccolo.link:443

Seems some network or SSL issue from myside then :( , The link isn't
working on my browser also.

Sorry for the trouble.

Thank you.
Hari.

On Mon, 8 Oct 2018 at 22:15, eugene yokota <notifications@github.com> wrote:

--
Have a nice day.
Haridas N.

[2018-10-08 18:11] eed3si9n commented on #4413
Closing this for now then.

[2018-10-08 18:29] mrveera commented on #4371
I am thinking of adding process/treat escapes before appending to log, @eed3si9n  does that make sense?

[2018-10-08 18:48] eed3si9n commented on #4371
@veera83372 See https://github.com/sbt/util/blob/develop/internal/util-logging/src/main/scala/sbt/internal/util/ConsoleAppender.scala. I think it's doing some of processing in there. Check it out and see if you can reproduce it or fix it.

[2018-10-08 18:53] eed3si9n commented on #4412
Thanks for the report. When you say "start sbt" how was it installed? Are you using the official sbt distribution or something else? I am asking this because the official distribution should contain all the JARs at least to launch `sbt` program.

[2018-10-08 18:54] eed3si9n commented on #4407
Thanks for the report. Sounds like we have a caching bug.

[2018-10-08 19:07] mrveera commented on #4371
I don't know any processing happens there but I can fix it by calling processingEscapes from StringContext before logging

[2018-10-08 19:50] lgirault commented on #4412
it was installed via the nix package manager : https://github.com/NixOS/nixpkgs/blob/288ce0cb845c03fafa1f3c673440e9922f22131a/pkgs/development/tools/build-managers/sbt/default.nix
do you need more details ?

[2018-10-08 19:56] eed3si9n commented on #4412
Thanks that looks like it's using the official distribution.

Could you post the full output of what you see when you start sbt as follows:

[code]

[2018-10-08 21:06] lgirault commented on #4412
I'm sorry now that I fixed it, I have trouble reproducing the error. When I enable no url I stumble upon the following message
[code]

and adding the missing library one by one lead to more `Error during sbt execution: Error retrieving required libraries` which is the message I was looking for.

If you want you can close this issue

[2018-10-08 21:44] mrveera commented on #4413
Hi,

It seems like we have many issues regarding this reason, I am also not able to access ``curl -L --head https://piccolo.link/sbt-1.2.4.tgz``
<img width="1008" alt="screen shot 2018-10-09 at 3 04 47 am" src="https://user-images.githubusercontent.com/17177346/46634923-42113600-cb70-11e8-81fb-b2e296c77378.png">
Following are the tickets regrading same issue
sbt/website#729
sbt/sbt#4411
sbt/sbt#41

[2018-10-08 21:54] eed3si9n commented on #4412
ok. I'll close it for now, but feel free to add more info for future reference.

[2018-10-08 21:54] #4412 closed, assigned to nobody

[2018-10-08 23:12] jobtijhuis opened #4414 "enablePlugins can not find plugin if it is added in subproject"
- [x] I've read the [CONTRIBUTING](https://github.com/sbt/sbt/blob/develop/CONTRIBUTING.md) guidelines

If you have a project with a subproject in it the `enablePlugins(FooPlugin)` cannot find the plugin if it is added in the meta-build of the subproject, while I think this should be the case because sbt is [recusive](https://www.scala-sbt.org/1.0/docs/Organizing-Build.html).

## Reproduction step

[2018-10-09 02:39] AVCloud commented on #4279
piccolo link is down , Please find the msg below from terminal
**curl: (7) Failed to connect to piccolo.link port 443: Operation timed out**

[2018-10-09 04:52] eed3si9n commented on #1658
I am closing this due to inactivity, but if this is still relevant let us know with more details (reproduction steps etc).

[2018-10-09 04:52] #1658 closed, assigned to nobody

[2018-10-09 05:04] eed3si9n commented on #4414
Currently sbt recurses into `project/` directory, but not the subprojects to discover metabuild.
I don't know if we should keep drilling into directories after directories to achieve this.

What might be interesting would be to come up with a notation where part of the `*.sbt` is read ahead of time as if it is `project/plugin.sbt`:

[code]

[2018-10-09 05:11] ghost commented on #4413
I'm getting the same as @veera83372.
`curl -L --head https://piccolo.link/sbt-1.2.3.tgz`
results in
`curl: (7) Failed to connect to piccolo.link port 443: Operation timed out`

[2018-10-09 08:30] dwijnand commented on #4413
Perhaps the flaky piccolo.link problem can be mitigated by adding the github releases URL as a `mirror` in the homebrew formula.

See the scala formula which has two mirrors: https://github.com/Homebrew/homebrew-core/blob/master/Formula/scala.rb

[2018-10-09 09:48] mrveera commented on #4413
Fair enough as alternative but we will loose stats. Any thoughts on that?

Based on this
https://github.com/sbt/sbt/issues/4165#issuecomment-392867287
I am thinking of writing full pledged service which can keep resource based stats , allows shorten url and can run with very minimal setup. (can be a sbt plugin after every release automatically creates a short url).

[2018-10-09 09:57] dwijnand commented on #4413
I think it's fine to lose some statistics, as a fallback to the hosting instability.

[2018-10-09 10:38] liff commented on #3100
Yeah this is rather annoying. Maybe it could be:

[code]

In [Defaults.scala](https://github.com/sbt/sbt/blob/develop/main/src/main/scala/sbt/Defaults.scala#L1982) so that proxy resolvers would at least be preferred instead of the hardcoded ones?

[2018-10-09 10:47] mrveera commented on #4413
I have added mirror in sbt formula Homebrew/homebrew-core#32845. Any comments?

[2018-10-09 10:58] dwijnand commented on #4413
Yeah, you should use GitHub releases as the stable fallback, rather than some other URL shortener.

[2018-10-09 11:34] mrveera commented on #4413
Update: brew PR merged.

[2018-10-09 12:45] dwijnand commented on #4413
lol, so now it's not using piccolo.link at all 🙄

[2018-10-09 12:47] mrveera commented on #4413
I have tried putting multiple mirrors but brew maintainer has been ignored that.

[2018-10-09 12:49] dwijnand commented on #4413
You don't need multiple mirrors, just 1 GitHub releases URL mirror, as a _fallback_ to piccolo.link.

[2018-10-09 18:45] cunei commented on #4413
The provider for piccolo.link reported that a load balancer host in Hong Kong was down, causing outages in South East Asia. They rectified the situation, and will be taking steps to prevent the issue to occur again. In addition, they will deploy an update later this week in order to address other known minor reliability issues.

Incidentally, the piccolo.link website is now also apparently whiteli

[2018-10-09 18:45] #4413 closed, assigned to nobody

[2018-10-09 18:52] cunei commented on #4165
Concerning the brew sbt formula, and the issues with corporate firewalls, the piccolo.link website now seems to be whitelisted on Forcepoint/WebSense, and therefore should work fine now. At least, the WebSense site reports "No threat detected", at this time.

Regarding the recent download issues, the provider for piccolo.link identified and fixed a load balancing issue, so all should be back to no

[2018-10-09 18:52] #4165 closed, assigned to nobody

[2018-10-09 23:36] eed3si9n commented on #4371
I can reproduce this without sbt - scala/bug#11196

[2018-10-10 14:52] #3598 closed, assigned to nobody

[2018-10-10 19:32] oeuftete commented on #2088
For those people for whom https://github.com/sbt/sbt/issues/2088#issuecomment-261134192 doesn't work, https://stackoverflow.com/a/23585401/7674 may be your solution, configuring the Artifactory repository to use non-unique snapshots.

[2018-10-11 16:01] JuKu commented on #4068
@dwijnand I have the same problem with Java 10 maven 3.5.4 and **scala-maven-plugin version 3.4.2** .
[code]

Source code:
https://github.com/JuKu/rembulan/tree/9fda32856411c86c920589a6024b9f6f7ad2d08c

Exception:
[code]

[2018-10-11 17:18] eatkins opened #4421 "Supershell doesn't work reliably on windows"
- [x] I've read the [CONTRIBUTING](https://github.com/sbt/sbt/blob/develop/CONTRIBUTING.md) guidelines
Certain output seems to cause issues (with jansi?):
[code]
If I start sbt with `-Dsbt.progress.never`, the tests run with out error.

[2018-10-11 19:49] eed3si9n commented on #4068
Please report to scala-maven-plugin instead.

[2018-10-12 22:32] sergiorussia commented on #4166
sbt 1.2.3 + scala 2.12.6 = ok
sbt 1.2.3 + scala 2.12.7 = oom
sbt 1.2.4 + scala 2.12.7 = ok

[2018-10-13 12:12] kxbmap opened #4422 "SemanticSelector("=2.13") doesn't matches "2.13.0-M5""
- [x] I've read the [CONTRIBUTING](https://github.com/sbt/sbt/blob/develop/CONTRIBUTING.md) guidelines

## steps
[code]

## problem

Scaladoc of SemanticSelector says:

But actually they are not ignored.

## expectation

Ignore pre-release section, or fix Scaladoc.

## notes

sbt version: 1.2.4

[2018-10-13 12:24] kxbmap opened #4423 "SemanticSelector `<=1.0` and `<1.1.0` are not equivalent"
- [x] I've read the [CONTRIBUTING](https://github.com/sbt/sbt/blob/develop/CONTRIBUTING.md) guidelines

## steps
[code]

## problem
Scaladoc of SemanticSelector says:

But not equivalent.

## expectation
`SemanticSelector("<=1.0").matches(VersionNumber("1.1.0-M1"))` should be true,
or
`SemanticSelector("<1.1.0").matches(VersionNumber("1.1.0-M1"))` should be false.

## notes

sbt version: 1.2.4

[2018-10-13 15:40] yrpatil commented on #2958
Thanks. This helped me resolve this problem.

[2018-10-13 16:23] eed3si9n commented on #4422
@tanishiking Would you like to take a look at this?

[2018-10-13 16:28] eed3si9n commented on #4423
Since we _do_ consider prerelease versions as part of the semantics in Scala ecosystem, I think we just have to remove that comment too.

/cc @tanishiking

[2018-10-14 10:56] dos65 commented on #3110
@dwijnand Here is a minimal example. It reproduces only if there is `.value` call inside `taskDyn` body
[code]

[2018-10-15 07:12] eed3si9n commented on #3761
https://github.com/sbt/librarymanagement/pull/268

[2018-10-15 09:39] avdv commented on #4166
That seems to suggest that the OOM is related to the Scala version, ie. happens if SBT uses a different Scala version than the project as it needs more memory; which is probably to be expected to some extent since classes are loaded twice from different jars with some classpath trickery I suppose?!

[2018-10-15 13:08] muuki88 commented on #4038
The `sourceDirectory` points to `src/SlowTests`, which is the root cause for all of this.

[code]

By default [sbt uses the configs name to choose the specific source directory](https://github.com/sbt/sbt/blob/aa8c1f484b1f86b3c70f69304dc577d98a347417/main/src/main/scala/sbt/Defaults.scala#L354), which makes sense. As mentioned above the `Configuration` scope is used to separate different types of

[2018-10-15 13:26] muuki88 commented on #4038
@eed3si9n do you have a good point to add information like this?

[The Plugin best practices](https://www.scala-sbt.org/1.x/docs/Plugins-Best-Practices.html#Configuration+advices) seems to me the best place.

[2018-10-15 13:56] muuki88 commented on #3949
I'll try to tackle this :)

[2018-10-15 14:35] jalaziz commented on #4038
@muuki88 Why was this closed? @subotic's "No source" issue is an example of something that could break, but it's not the whole issue.

The recommended custom test configuration with shared sources is documented here: https://www.scala-sbt.org/1.x/docs/Testing.html#Additional+test+configurations+with+shared+sources

According to that doc, we should only need to copy over `Defaults.testTasks`. As I

[2018-10-15 16:25] wrighton commented on #4366
I've seen this too, though it is sporadic. jackson-core version 2.9.5 seemed to the cause. Sometimes it seems to work on the 'second' attempt at compilation.

[2018-10-15 16:40] #3761 closed, assigned to nobody

[2018-10-15 16:59] muuki88 commented on #4038
That's correct. I would prefer removing that section or change it to the example I wrote above. This has two reasons

1. [The plugin best practices](https://www.scala-sbt.org/1.x/docs/Plugins-Best-Practices.html#Configuration+advices) are relatively new and I agree with the style that is recommended there.

This is mostly due to my experience with configurations, which should be used in a very nar

[2018-10-15 19:35] jalaziz commented on #4038
While normally, I'd agree. The reason we use a separate configuration (and why I assume the docs do too) is to allow for different `javaOptions` and parallel execution settings. Also, we use multiple frameworks, so bundling everything under a config makes things nice and easy to maintain. If there's a better way, I'd love to know about it.

We still use ScalaTest tagging to control which tests to

[2018-10-16 10:11] michelou opened #4426 "Page "Release Notes" is outdated"
Current sbt version is 1.2.4 (October 11, 2018).
Last sbt version in online documention is 1.2.1 (see page "[Release Notes](https://www.scala-sbt.org/1.x/docs/sbt-1.2-Release-Notes.html)")

[2018-10-16 14:57] tanishiking commented on #4422
@kxbmap Ah, sorry the part of scaladoc is not correct... I'll fix the document and add some explanation. Thank you for reporting.
In order to match pre-release versions, we need to explicitly specify the pre-release identifiers. For example: ">=2.13.0-M1".

---

In `SemanticVersionSelector`, the order of semantic versions basically follows the rule specified in https://semver.org/#spec-item-11

(T

[2018-10-16 21:20] eed3si9n commented on #3100
@GaalDornick You're right. This seems to be a legit bug report. Sorry about my original response.

[2018-10-17 16:28] jvican commented on #4395
I just ran into this issue. It would be great if sbt can create this file if it doesn't exist at startup. It's quite confusing that the non-existence of this directory causes `-addPluginSbtFile` to fail with no information about the error.

[2018-10-18 11:31] kamilkloch opened #4428 "sbt 1.2.6 with `updateOptions.value.withCachedResolution(true)` causes ResolveException"
[code]

[2018-10-18 15:23] eed3si9n commented on #4428
Thanks for report. I don't think we can work on this issue without some ways of reproducing this on our computer: https://github.com/sbt/sbt/blob/develop/CONTRIBUTING.md#what-to-report

[2018-10-18 19:39] jvican opened #4429 "Problematic caching of --addPluginSbtFile in the global dir"
## steps

1. Run sbt with `-addPluginSbtFile` with a plugin. Make the plugin println when it's evaluated. When sbt is booting up, the println will be displayed. Close sbt.
2. Run sbt without `-addPluginSbtFile`.  The println of the previous plugin will be evaluated again, even though it shouldn't.

## problem

Sbt is caching the evaluated class file passed in via `-addPluginSbtFile`. Manually remo

[2018-10-18 20:29] eed3si9n commented on #4429
Thanks for the report!

[2018-10-19 04:14] xuwei-k commented on #4386
https://github.com/sbt/sbt/commit/6725b39a84c36cae707a354cf92a9ce4ffc7a109

[2018-10-19 20:06] eed3si9n commented on #4374
Fixed in https://github.com/sbt/sbt/pull/4397

[2018-10-19 20:06] #4374 closed, assigned to nobody

[2018-10-19 20:09] eed3si9n commented on #4386
Fixed in https://github.com/sbt/sbt/pull/4406 and https://github.com/sbt/io/pull/189

[2018-10-19 20:09] #4386 closed, assigned to nobody

[2018-10-19 21:40] SethTisue commented on #4350
@eed3si9n (I can't judge importance versus other tasks on your plate, but it would be nice to have a fix for this for the Scala community build)

[2018-10-20 02:51] benhutchison commented on #2056
Im trying something based on @eed3si9n sketch above, but in my case the middle of the sandwich is `run` not `test`.It seems that if run throws an exception and exits non-zero, the cleanup step gets skipped?

[2018-10-20 05:47] eed3si9n commented on #4350
## red

Here's a quick way to get a unit test to fail on Zinc.

[code]

Then from sbt shell:

[code]

This yields

[code]

## green

Next, take Yoshida-san's https://github.com/xuwei-k/zinc/tree/issue-4350 branch, rebase to `develop`, and run the same test:

[code]

Here's the PR - https://github.com/sbt/zinc/pull/610

[2018-10-23 14:43] vitojeng commented on #3618
@eed3si9n This work for me, too. Thanks!

[2018-10-23 15:02] fhuertas commented on #3570
The same with SBT 1.2.5 and nexus 3.13.0.

The work around works

`updateOptions := updateOptions.value.withGigahorse(false)`

[2018-10-23 15:08] eed3si9n commented on #3618
ok. I am closing this issue then.

[2018-10-24 14:57] andreaTP commented on #4183
I took the time to benchmark the startup-time of sbt on this proposal against the default:
https://travis-ci.org/andreaTP/sbt-launcher-bench

this is a game changer, I really wanna see this option landing before `1.3.0` is out!

[2018-10-24 20:22] mrt181 commented on #3570
The same with sbt `1.2.6` and nexus  `3.13.0`

The work around works

`updateOptions := updateOptions.value.withGigahorse(false)`

[2018-10-25 04:38] derekchan opened #4432 "Dependency Resolution fails with "Too many follow-up requests" (Jitpack)"
- [x] I've read the [CONTRIBUTING](https://github.com/sbt/sbt/blob/develop/CONTRIBUTING.md) guidelines

## steps
 - Clear Ivy/Maven caches, in case the files are cached locally
 - `build.sbt`:
[code]
Note that using a valid Jitpack credentials will still result in the same error. We got this error with a valid credentials.

 - sbt clean compile

## problem

It fails to download dependencies with t

[2018-10-25 07:09] derekchan commented on #4432
Digging deeper, we realized it is the same Ivy issue as in #1138.

So our workaround is to use `fullResolvers`:
[code]

[2018-10-25 07:09] #4432 closed, assigned to nobody

[2018-10-26 11:54] JohnReedLOL opened #4433 "sbt 0.13.16 - Fix documentation"
- [✓] I've read the [CONTRIBUTING](https://github.com/sbt/sbt/blob/develop/CONTRIBUTING.md) guidelines

## steps

Go here: https://www.scala-sbt.org/0.13/docs/Multi-Project.html

Go to this line: https://i.imgur.com/Yxt74Av.png

This paragraph: "Each project’s settings can go in .sbt files in the base directory of that project, while the .scala file can be as simple as the one shown above, listing

[2018-10-26 19:06] driquelme commented on #1918
@eed3si9n  I'm looking at the code trying to figure out a way to solve this. I was wondering if launching the command `sbt console` in a new jvm would be enough.

[2018-10-27 00:52] pshirshov opened #4434 "sbt ignores credentials defined in project/plugins.sbt but picks up resolvers while resolving plugins"
## steps

I have a project with a couple of resolvers defined in `project/plugins.sbt`, depending on local plugin:

[code]

`../sbt/sbt-project-deps` depends on a plugin in private repo. `build.sbt` is:

[code]

## problem

sbt tries to query the resolvers I use while resolving `sbt-base-deps` but doesn't send credentials and fails. It works with `coursier` installed globally though.

## notes

I

[2018-10-27 03:23] eed3si9n commented on #1918
@driquelme Yea, that should be it, pretty much.

[2018-10-29 03:07] JohnReedLOL opened #4435 "Typo in sbt 0.13 docs"
This sentence:

"When reacting to changes the incremental compiler has to goals that are at odds
with each other"

It's "two goals", not "to goals".

[https://i.imgur.com/JqO4iL8.png](https://i.imgur.com/JqO4iL8.png)

This bug also appears to affect the 1.0 documentation:

[https://www.scala-sbt.org/1.0/docs/Understanding-Recompilation.html](https://www.scala-sbt.org/1.0/docs/Understanding-Recompi

[2018-10-29 10:38] alexarchambault commented on #2873
https://github.com/coursier/coursier/commit/ab9341ac9bd12728a84667e9d72d88017e66442e should have fixed that.

[2018-10-29 16:39] #4350 closed, assigned to nobody

[2018-10-29 16:42] eed3si9n commented on #4435
Hi @JohnReedLOL Thanks for the report.
If you're up for contribution, the file is located here - https://github.com/sbt/website/blob/develop/src/reference/02-DetailTopics/01-Using-sbt/50-Incremental-Recompilation.md

[2018-10-29 17:46] liff commented on #3681
After a version with launcher with #3598 fix is released this can be approximated with something like this set of options in either `SBT_OPTS`, `_JAVA_OPTIONS`, command line or whatever method one likes. Compiled configuration will still be under `$XDG_CONFIG_HOME`, though.

[code]

Add `maven.repo.local`, `ivy.settings.dir`, `ivy.home` and `ivy.cache.dir` to the mix if you like.

[2018-10-30 04:22] SunicYosen commented on #3423
Why "Getting org.scala-sbt sbt xxx" is needed?
I have installed sbt 1.x.x by 'sudo apt install sbt', with version 1.2.6
Thanks a lot!

[2018-10-31 00:43] adamkasztenny commented on #3555
Hasn't this been done in https://github.com/sbt/sbt-launcher-package/commit/8727faa8b37066c7570457931854195d285675c0#diff-edd0ab5838b2fa424d30f94df800e1f9?

[2018-10-31 04:17] eed3si9n commented on #3555
Yes. Looks like I fixed it in https://github.com/sbt/sbt-launcher-package/pull/226

[2018-10-31 04:17] #3555 closed, assigned to nobody

[2018-10-31 16:17] mdedetrich commented on #3344
Apologies if I am sounding like a broken record but is there any status update on this issue? This is causing our continuous delivery speeds to be incredibly high, our `Updating` is taking 4 minutes alone, i.e.

[code]

It would be nice if there was some concentrated effort looking into this, as its a very severe performance regression and it doesn't appear like its a priority.

[2018-10-31 18:56] eatkins commented on #3344
There has been some background discussion about improving the update performance amongst the sbt contributors. There is currently work to add coursier as an alternative to ivy for resolution, which should speed up update for most builds. If you aren't already using it, you might want to look into trying the coursier plugin (add `addSbtPlugin("io.get-coursier" % "sbt-coursier" % "1.0.3")` to projec

[2018-10-31 20:15] eed3si9n opened #4437 "Exclude "sbt" from the metabuild resolution (sbt artifacts are resolved twice)"
## steps

1. `sbt`

## problem

In the metabuild, "sbt" is resolved again even though it's been resolved by the launcher.
This contributes to startup speed slowdown.

## expectation

Exclude "sbt" from the metabuild resolution, and instead append application classpath from the launcher.

## notes

- Effect of this is pronounced more if you use `-SNAPSHOT` build. Ref https://github.com/sbt/sbt/pull

[2018-10-31 20:24] eed3si9n opened #4438 "update task performance and UpdateReport persistence"
## steps

1. sbt
2. `update`

## problem

`update` is slow due to its persistence of `UpdateReport` using JSON.
For a large graph, majority the information consists of "caller" information which is not needed unless you run eviction report.

## expectation

1. Try flattening the caller information like cached resolution.
2. Consider alternative persistence if JSON is the bottleneck.

[2018-10-31 20:31] eed3si9n commented on #3344
@mdedetrich Thanks for bring it to our attention again. Like @eatkins mentioned there's been multiple discussions around performance, but perhaps there might be multiple issues involved.
One of the major difference between sbt 0.13 and sbt 1 is the way we persist cache input and output of the `update` task, and that might be hitting you here.

I just opened two performance related issues as action

[2018-11-01 00:33] mdedetrich commented on #3344
@eatkins Thanks for the tip on Coursier cache, we are already using Coursier cache. The problem in our case is not downloading dependencies (which are actually almost always cached on our CD platform), its specifically when SBT is loading the project, i.e. the `Updating ProjectRef(.....` part.

@eed3si9n @eatkins Thanks for the response, I am glad someone is looking into it. Its just been ongoing

[2018-11-01 00:38] mdedetrich commented on #4438
If JSON is the bottleneck (but you still want to try and persist JSON) you may want to consider having a look at http://www.lihaoyi.com/upickle/#uJson . uJson uses the visitor pattern to parse text into JSON and vice versa which means that no intermediate data structures are created, in other words its much faster than Circe/Argonaut/PlayJson (basically any other JSON library out there that uses a

[2018-11-02 10:47] michelou commented on #4193
Similar issue on Windows with sbt 1.2.6 (NB. `bin\sb.bat` is not in sync with `bin\sbt`)
[code]
**Quick fix**: add the following 2 lines in `bin\sbt.bat`:
[code]

[2018-11-02 12:36] ALPSMAC opened #4439 "If invalid scalacOptions are specified, a clear warning should be printed or compilation should fail."
- [x] I've read the [CONTRIBUTING](https://github.com/sbt/sbt/blob/develop/CONTRIBUTING.md) guidelines

## steps
Create a build file that looks something like this:

[code]

Do something in your Scala code that requires the partial-unification fix to be on (in our case we were using for-comprehension syntax with the Fetch library (https://github.com/47deg/fetch) ).

Then try:

`sbt compile`

## pr

[2018-11-02 14:20] scalavision opened #4440 "How to set ivyPaths globally? ivyPaths := new IvyP..., throws IvyPaths cannot be accessed in object ..."
- [x] I've read the [CONTRIBUTING](https://github.com/sbt/sbt/blob/develop/CONTRIBUTING.md) guidelines

## steps

Trying to set the ivyPaths global for all sbt projects, in `~/.sbt/1.0/global.sbt` :

[code]

## problem

/.sbt/1.0/global.sbt:8: error: constructor IvyPaths in class IvyPaths cannot be accessed in object $a3de1f7a1fb9c07f45f2

## expectation

I think it should be possible to do this w

[2018-11-02 17:22] eed3si9n commented on #4440
We use GitHub issue mostly to track bugs and tasks on sbt development. In this case it might be an interesting addition to the docs, but generally please use Stackoverflow for Q&A and avoid using GitHub issues for the purpose. - https://www.scala-sbt.org/support.html

[2018-11-02 18:13] eed3si9n commented on #4439
@ALPSMAC Thanks for the report. I am tagging this "Needinfo", for looking into where the difference in the behavior is coming from.
Also, if I recall correctly, passing bogus flags into Scala compiler normally results to an error message. Otherwise, passing flags would be much easier since some flags are supported only by some Scala versions. Maybe there's something about `-`?

[2018-11-02 18:22] eed3si9n commented on #2360
I can't reproduce this issue using sbt 1.2.6 and Scala 2.11.12:

### build.sbt

[code]

[2018-11-02 18:22] #2360 closed, assigned to nobody

[2018-11-02 20:32] eed3si9n commented on #2260
I am closing this due to inactivity, but if this is still relevant let us know with more details (reproduction steps etc).

[2018-11-02 20:32] #2260 closed, assigned to nobody

[2018-11-05 01:19] benhutchison commented on #3645
A request for warning of this limitation/gotcha in the docs for writing a SBT plugin. The process of figuring out why my custom tasks SLF4J logging wasn't working has consumed much of my morning...

[2018-11-06 05:44] taniya1990 commented on #1783
[INFO] Scanning for projects...
[WARNING]
[WARNING] Some problems were encountered while building the effective model for com.millenniumit.surveillance:StatModule:jar:0.0.1-SNAPSHOT
[WARNING] 'build.plugins.plugin.version' for org.apache.maven.plugins:maven-compiler-plugin is missing. @ line 225, column 12
[WARNING]
[WARNING] It is highly recommended to fix these problems because they threaten the

[2018-11-06 11:38] jrudolph commented on #3344
@mdedetrich could you share more about the project (e.g. its `plugin.sbt` could be enough for reproducing)? Is that for every start of sbt when the target folders are still missing? Is it better after the first start?

You could try keeping the `project/target/.../resolution-cache` and `project/target/.../update-cache_2.12` folders.

[2018-11-06 14:15] mr-git opened #4441 "after upgrading to 1.2.6: `A fatal error happened in `SameAPI`: different extra api hashes for no traits!`"
- [x] I've read the [CONTRIBUTING](https://github.com/sbt/sbt/blob/develop/CONTRIBUTING.md) guidelines

## steps

Have multi-module project
Change SBT version to 1.2.6

## problem

Change SBT version and compile project. Get exception like:

[code]

Tried to remove all `target` directories and then build project, SBT throw up very long stack trace, like:

[code]

After next recompilation, project

[2018-11-06 14:25] mdedetrich commented on #3344
@jrudolph Thanks, its a commercial project so I will likely create a private lightbend ticket for it

[2018-11-07 11:29] aaabramov commented on #4391
Closing this one.
In my global `SBT_OPTS` env I have the following config:

[code]

So `user.timezone` overrides any local / machine timezone.

[2018-11-07 11:29] #4391 closed, assigned to nobody

[2018-11-07 19:12] ctataryn opened #4442 "https://dl.bintray.com/sbt/native-packages/sbt/ stops at v0.13.15"
## steps
Goto: https://dl.bintray.com/sbt/native-packages/sbt/

## problem
The latest 0.13.x version of sbt is 0.13.17 according to: https://www.scala-sbt.org/download.html

However only 0.13.15 has been released to https://dl.bintray.com/sbt/native-packages/sbt/

## expectation
The [Jenkins sbt plugin](https://github.com/jenkinsci/sbt-plugin) relies on dl.bintray.com to provide installers, howeve

[2018-11-08 04:19] eed3si9n commented on #4442
Yes, Bintray download started to go over monthly transfer allowance given to OSS projects, so we switched to hosting it ourselves. Since sbt 1.0.0 all installers should be available as https://piccolo.link/sbt-1.0.0.zip.

[2018-11-08 04:19] #4442 closed, assigned to nobody

[2018-11-08 04:21] eed3si9n commented on #4441
@mr-git Thanks for the report. I've run into this myself and it's quite annoying.
Maybe sbt can detect some version difference in Zinc state and wipe it out if it's inconsistent.

[2018-11-08 04:30] ctataryn commented on #4442
@eed3si9n is there a way to index the higher versions of 0.13.x? Pico is a URL shortener so its tough to index programmatically.

P.S. why can’t the 0.13.x jars be hosted on repo1.maven.org?

[2018-11-09 12:59] JohnReedLOL opened #4444 "sbt.version=0.13.16 - Total time is negative"
I don't know if somebody else already reported this, if you fixed this, or how to reproduce this, but this is a thing that happened:

Screenshot: [https://image.ibb.co/m4r0FA/Screen-Shot-2018-11-09-at-7-44-30-AM.png](https://image.ibb.co/m4r0FA/Screen-Shot-2018-11-09-at-7-44-30-AM.png)

IntelliJ sbt shell output:
[code]

Notice that the time associated with completion of task monitorTask is: -25 s

[2018-11-09 17:24] eatkins commented on #3869
This functionality was added in: https://github.com/sbt/sbt/pull/4335
To separate the watch debug messages from the regular debug messages, the user can override watchLogger. Note that this will likely only be available in sbt > 1.3.

[2018-11-09 17:24] #3869 closed, assigned to nobody

[2018-11-09 17:53] eatkins commented on #3718
@OlegYch I am not sure that your suggestion is really practical. I can't imagine an implementation that wouldn't require adding a wrapper for every task that reads a file and much of that file consumption may be downstream from sbt. I do, however, think that watchSources should be better scoped than they currently are. For example, suppose that project foo depends on project bar but only for the c

[2018-11-09 17:59] eatkins commented on #3582
@jvican I added support for auto project reload when build files change (e.g. *.sbt and *.scala files in the project directory) in '~' that should be available in 1.3.0. I also added a global file system cache to sbt in 1.3.x that could be used to warn the user that the build files have changed since the project was loaded.

[2018-11-09 18:13] OlegYch commented on #3718
@eatkins yep this definitely needs more thought
maybe we could take a look at what bazel, mill etc do with their pervasive caching

[2018-11-09 18:26] eatkins commented on #3718
Yeah, there's no doubt that there are things we can learn from other tools. That being said, last time I looked at Mill back in May, it was clear to me that if big projects start using it, they are going to have to rewrite the file watching portion. It currently uses a dead simple polling implementation that has terrible performance once the number of files it's monitoring exceeds O(1000).

[2018-11-09 21:43] #3436 closed, assigned to eed3si9n

[2018-11-09 22:53] dwijnand commented on #3309
Fixed in https://github.com/sbt/sbt/pull/4335/commits/28aa1de32a1108e8b42cf7606c962df6e5dc6f52 looks like?

[2018-11-09 23:13] dwijnand commented on #241
Fixed in https://github.com/sbt/sbt/pull/4335/commits/28fd4a1e618f938f9e1a4bd9639255c90a629cba#diff-6373e7f7122325e753b75fe1cc76ff5fR391?

[2018-11-09 23:15] eatkins commented on #3309
Yes. #3884 is related but not yet fixed.

[2018-11-09 23:18] eatkins commented on #3884
This still doesn't work in spite of #3309 being fixed. The parser is fairly crude and could use some love. For example, in `~;foo; runSomeTaskWithArgs -- "an-arg-with-a-semi-colon; another arg"` the `;` inside the string gets treated as a command separator.

[2018-11-09 23:35] OlegYch commented on #241
@dwijnand looks like it, will need to try

[2018-11-09 23:43] OlegYch commented on #3718
@eatkins that's kinda beside the point, this issue is more about accuracy of watching changed sources (or task inputs in general) which is pretty low atm in sbt
better scoping of watchSources might be a start, but accurately tracking all inputs should be the goal imo

[2018-11-10 02:19] eatkins commented on #3718
Fair enough, though I still think it's worth pointing out that mill is not definitively better than sbt at watching for source changes. In my opinion, the main difference is that mill is much more opinionated about how the build is structured than sbt is. I don't think that it is more accurate per se. If you do not override the default source directories and you don't try to do anything other than

[2018-11-10 02:24] eatkins commented on #3718
I should add that I've put an enormous amount of work into improving `~` (much of which is still pending in the 1.3.0 release) and I want to ensure that it is meeting the needs of end users. For the most part, I believe that we've solved the hard problem: reliably watch any directory or file for changes even when there are symlinks involved. Watching the right files should be relatively easy in co

[2018-11-10 03:14] japgolly opened #4445 "Watched.clearWhenTriggered should clear screen before first run"
- [x] I've read the [CONTRIBUTING](https://github.com/sbt/sbt/blob/develop/CONTRIBUTING.md) guidelines

## steps

With `triggeredMessage := Watched.clearWhenTriggered` run
`~compile`

## problem

SBT doesn't clear the screen before the first run.

## expectation

SBT should doesn't clear the screen before the first run. It used to.

## notes

sbt version: 1.2.6

[2018-11-10 03:16] japgolly opened #4446 "Watch aborts if first task isn't successful"
- [x] I've read the [CONTRIBUTING](https://github.com/sbt/sbt/blob/develop/CONTRIBUTING.md) guidelines

## steps

1. Create a build with two modules A and B such that B depends on A
1. Create a compilation error in A's main sources
2. Run `~B/test`

## problem

SBT reports the compilation error then goes back to the shell/prompt.

## expectation

It should be watching so that when I fix the compil

[2018-11-10 08:06] eed3si9n commented on #4183
#4431 is now merged but some tasks remain:

- [ ] `ivy.xml` needs to be post processed so `publishLocal` works.
- [ ] We need to add back the `libraryDependencies` that we are not shading.
- [ ] Flip the default to big by renaming "sbt-big" to "sbt", and "sbt" to something else.
- [ ] Publish X1, and test it on Community Build.

[2018-11-10 09:06] olafurpg commented on #4183
This change could remove the performance gains from shipping a fat jar. I personally care most about shading outdated libraries for a stable plugin ecosystem but the speedups are a nice side-effect.

[2018-11-10 16:26] OlegYch commented on #3718
@eatkins atm the immediately visible problem is that almost no plugins that use custom source dirs (eg sbt-protoc) adjust watchSources
i don't think that's an easy problem to solve, and will probably require changes in sbt api
otherwise the watching subsystem seems to work pretty good after your recent changes (in 1.2.x)

[2018-11-10 18:18] eatkins commented on #3718
Aah, yes, that makes a ton of sense. I think that if the watchSources were scoped by task (and by this I really mean that the `~` command should correctly apply scopes to the watchSources key given the tasks that it's going to run), then it wouldn't be too bad to get plugins to work with `~` out of the box. If this functionality existed, then we could update the docs to suggest that plugin authors

[2018-11-10 19:19] eatkins commented on #4446
I have seen this before, but I'm struggling to reproduce. I have a test project here: https://github.com/eatkins/sbt-coursier-multi-project where I'm unable to get `~` to exit early if I break Foo.scala in the parent directory. Would you be able to post a simple project that causes the issue for you?

I rewrote almost the entire file watch subsystem for sbt 1.3.x. Does the problem persist if you r

[2018-11-10 19:43] eatkins commented on #4445
Hmm. I didn't realize that this was the previous behavior. I'm not 100% sure that I agree that sbt was doing the right thing before. I guess it depends on the semantics of the word "triggered." To me, that means that the screen should clear when a build is triggered. One could argue that executing the command `~compile` triggers the build, but that's not how I think about it.

It's a trivial chang

[2018-11-10 22:31] japgolly commented on #4445
Cool, additional feedback is fine but to be clear, the behaviour we're discussing will only affect people who use watching and who've taken the time to set `triggeredMessage := Watched.clearWhenTriggered` so a distinction should be made in whose feedback is considered. People who don't use this feature shouldn't affect the feature for those who do. So for me personally as a user, I don't care abou

[2018-11-10 22:36] japgolly commented on #4446
Sure, here is a repo with reproduction steps.

1. Check out https://github.com/japgolly/scala-graal
2. Change an `override def` to `xxx` in `core/src/main/scala/japgolly/scalagraal/Expr.scala`
3. SBT
4. Run `~extBoopickleJVM/test`

Output:

[code]

[2018-11-10 23:02] eatkins commented on #4445
I hear you, but I think you are overgeneralizing. I am an anyone who does consider the first run a special case. That may be because I tend to be a literal thinker and, as I said previously, the name of the key is triggeredMessage and, to me, a build is not triggered just by entering watch mode. I draw a clear distinction in my head between a manual build, e.g. running compile manually, and a trig

[2018-11-10 23:09] eatkins commented on #4446
Great, thanks. I can reproduce on my machine now. I'll see about a fix.

[2018-11-10 23:37] eatkins commented on #4445
In the meantime, you can add this to your build to recreate the previous behavior:
[code]

[2018-11-11 01:34] eatkins commented on #4446
This should be fixed by #4447.

[2018-11-11 02:15] fhennig opened #4448 "Maven Resolver ignores credentials"
- [X] I've read the [CONTRIBUTING](https://github.com/sbt/sbt/blob/develop/CONTRIBUTING.md) guidelines

## steps
- Have a remote maven repository at maven.example.org with credentials myUser:myPassword and library my.org/myLibrary 1.0.0.
- Add a resolver and credentials to the build file like so:

[code]

- run `sbt update`

A complete build.sbt could look like this:

[code]

## problem
The creden

[2018-11-11 02:45] fhennig commented on #4448
I'm sorry I realized my mistake.  I didn't set the realm of the Credentials correctly, in my example it should be "Internal user only." instead of "myRepo".

[The documentation](https://www.scala-sbt.org/1.x/docs/Resolvers.html) doesn't mention this use of credentials at all, I believe that should be updated then.

[2018-11-11 02:45] #4448 closed, assigned to nobody

[2018-11-11 17:27] eatkins opened #4450 "Scripted test "tests/setup-cleanup" is flaky on Travis"
- [x] I've read the [CONTRIBUTING](https://github.com/sbt/sbt/blob/develop/CONTRIBUTING.md) guidelines

## steps
Submit a PR.

## problem
This test fairly frequently fails.

## expectation
The test passes.

## notes

sbt version: origin/develop

[2018-11-13 02:09] eatkins commented on #3469
I just ran into this issue myself. I made a simple repro repository here: https://github.com/eatkins/scripted-compiler-bridge-example
In the base build, which defaults to scala 2.10.7/sbt 0.13.17, the compiler bridge is not generated. If however, you run:
[code]
in the logs, I see that the compiler bridge is recompiled.

[2018-11-13 10:26] almothafar commented on #3344
I got sbt 1.2.6 and still getting the same issue:

plugin.sbt:

[code]

build.sbt:

[code]

[2018-11-13 11:07] ignasi35 opened #4451 "Provide a way to specify test report name"
Test reports are generated using two different filenames for specific report processors to read.

Some processors may pick both file formats reporting twice as many tests. It'd be good to make the reporting tunable so users may choose one output format or the other

_Originally posted by @yanns in https://github.com/sbt/sbt/pull/4343#issuecomment-428160480_

[2018-11-13 13:27] radi-ka commented on #4103
the issue is that it does not work when we add the resolver to
project/supersafe.sbt
`resolvers += "Artima Maven Repository" at "http://repo.artima.com/releases"`
`addSbtPlugin("com.artima.supersafe" % "sbtplugin" % "1.1.7")`
(did not test for 2.12.6)

[2018-11-13 17:56] leobenkel commented on #1813
What version of SBT should one use to make a plugin for scala `2.11` ?

[2018-11-13 18:05] eatkins commented on #1813
@leobenkel there will likely never be support for scala 2.11 sbt plugins. The 0.13.x series is only compatible with scala 2.10.x and the 1.x series is only compatible with scala 2.12.x.

[2018-11-13 20:53] leobenkel commented on #1813
ok, thanks

[2018-11-13 21:16] smarter commented on #4441
@jvican it seems that there's more unforeseen issues with the API check you added in zinc. Any idea why ? What about just disabling the assertion ?

[2018-11-13 21:23] ctataryn commented on #4442
@eed3si9n I recently have been given commit on [jenkinsci/sbt-plugin](https://github.com/jenkinsci/sbt-plugin) and I'm looking to update the associated tool crawler such that it'll pickup all the 0.13.x versions missing from bintray (re: 0.13.16/17). Is my only option to parse the html of https://www.scala-sbt.org/download.html page then?  Or is there a way to query piccolo.link for all sbt-relate

[2018-11-13 23:43] japgolly commented on #4446
Awesome and thanks for getting a fix in so fast!!

[2018-11-13 23:52] japgolly commented on #4445
I think we have a lot of common ground here, especially in that we agree that the definition is ambiguous and both interpretations are valid 😀 Even now my interpretation of triggering simply means immediately scheduling execution which is what happens when you type `~compile`, it does immediately trigger an execution. But I get what you mean too and the description text of the task certainly descr

[2018-11-14 18:15] OlegYch commented on #3718
this sounds like a good start (though i imagined more pervasive inputs tracking)
not sure how this will work though, eg if you run compile and it depends on protoc (via generatedSources), how would `~compile` know about `protoc / watchSources` ?

[2018-11-14 19:02] eatkins commented on #3718
I could be mistaken, but I think it's possible to get all of the dependent scopes for a task. If that's the case, then if `compile` depends on `protoc`, then we can append `protoc / watchSources` to the `compile / watchSources` list.

[2018-11-14 19:10] eed3si9n commented on #4446
Closing this as resolved.

[2018-11-14 19:10] #4446 closed, assigned to eatkins

[2018-11-15 18:53] jbaileyashe commented on #4441
I'm hitting this bug multiple times per day. It started happening when I added a `RootProject` to my existing SBT project (in order for two libraries to share some common code). Not reliably reproducible :( - however, I can always fix it by removing the `target` directories for both projects. (`rm -rf target`).

Using SBT 1.2.6, Typelevel Scala Compiler `2.12.4-bin-typelevel-4`, running on Windows

[2018-11-16 16:42] tam5 commented on #3414
I had same thing (exact message was like @SwapnilBorse123.

Based on above suggestions, i just increased allowable memory for docker (was at 2GiB before), and that worked fine.

[2018-11-16 18:59] eatkins commented on #3718
I'm actually keen to address this because I've run into some frustrations with the scoping myself recently.

[2018-11-16 19:27] eed3si9n commented on #2010
Fixed in https://github.com/scala/scala/pull/6130

[2018-11-16 19:27] #2010 closed, assigned to nobody

[2018-11-16 20:44] sideeffffect commented on #2989
I would suggest to do what all the other packages managers do ([`F#`](https://fsprojects.github.io/Paket/lock-file.html), [`Rust`](https://doc.rust-lang.org/cargo/guide/cargo-toml-vs-cargo-lock.html), [`Javascript`](https://yarnpkg.com/lang/en/docs/yarn-lock/), [`Ruby`](https://bundler.io/v1.3/rationale.html))

in this case of where to put the `lock` file, it would be the root of the whole project

[2018-11-16 21:42] eatkins opened #4452 "Metabuild can't use scala compiler"
## steps

I created a simple repo that reproduces the issue: https://github.com/eatkins/failed-plugin

## problem

If I build a local sbt version off of the head of the origin/develop branch, I am unable to access the scala.tools.nsc package:
[code]

## expectation

`scala.tools.nsc` is available.

[2018-11-16 21:43] eatkins commented on #4452
@eed3si9n if I revert https://github.com/sbt/sbt/commit/ab5e99c9c835985e3a003e1322d86895bce2af9b, the problem goes away.

[2018-11-16 22:42] eed3si9n commented on #4452
Interesting. Does that mean launcher-resolved sbt is different from the metabuild's dependency graph?

[2018-11-16 23:10] erikerlandson opened #4453 "Interaction between 'crossPaths := false' and '+publish'"
- [x ] I've read the [CONTRIBUTING](https://github.com/sbt/sbt/blob/develop/CONTRIBUTING.md) guidelines

## steps
Defined a `build.sbt` that has one sub-project that is java-only, and so I have set `crossPaths := false` for that project to publish artifacts without scala version (this part works).

If I publish with only a single `scalaVersion`, this works OK. However, if I have multiple versions

[2018-11-17 10:16] jvican commented on #4441
@smarter I don't know what sbt is doing here, but the fact that these errors constantly show up hints that there's an underlying cause for it outside of zinc. Disabling the assertion is a brute-force measure, https://github.com/sbt/zinc/pull/606 should fix this, but it's not available in 2.12.6 to the best of my knowledge.

[2018-11-17 10:25] jvican commented on #2989
Not working on it, it's been a while I'm not active in sbt.

[2018-11-17 10:49] smarter commented on #4441
Do you mean 1.2.6 ? Because it is.

[2018-11-18 05:15] eed3si9n commented on #4441
AFAIK https://github.com/sbt/zinc/commits/v1.2.4 contains sbt/zinc#606, and sbt 1.2.6 was released to include that. If the end result is we would overcompile in Zinc by invalidating some files, that's better than the current error that requires `clean` or `git clean`.

[2018-11-18 14:52] konradmalik commented on #3963
Can someone explain why is this marked as closed but the problem still presists in SBT 1.2.6?
Whenever I use `getClass.getResource` in my code I cannot use `sbt run` because it'll fail to find the files, this makes `sbt run` basically unusable.
I couldn't even find any workarounds to this. Suggestions?

[2018-11-19 07:11] mpollmeier commented on #2205
also, `import Path._` is your friend

[2018-11-19 07:43] mtekp commented on #3618
This worked for me. The improved workaround did not work aroud.

[2018-11-19 14:59] tiankchen commented on #4055
hi, you may check the JAVA_HOME variable, make it is not contains an space character in Windows, especially like 'c:/Program files',  then install Java in 'c:/java', it's OK

[2018-11-19 17:09] zafarella commented on #3050
[code]

[2018-11-19 18:24] eed3si9n commented on #3051
@eatkins just sent in https://github.com/sbt/sbt/pull/4456, so this might be fixed in 1.3.0.

[2018-11-20 15:35] #3051 closed, assigned to nobody

[2018-11-21 02:35] eatkins commented on #3718
@OlegYch my hunch was correct. I will have a PR up soon that works exactly the way I described in the comment.

[2018-11-21 12:23] ignasi35 opened #4457 "Scripted test runners should not consider non-folder elements"
Placing a plain file (e.g. `README.md`) on `src/sbt-test/test-group` causes the execution of the `scripted` task to fail:

[code]

See https://github.com/sbt/sbt/blob/develop/scripted-sbt-redux/src/main/scala/sbt/scriptedtest/ScriptedTests.scala#L56-L76

[2018-11-21 12:30] ignasi35 opened #4458 "Support multiple `test` files per scripted test to reuse code"
Often `test` files are bloated with many assertions to reuse the project built to run the tests on.

This makes it hard to fix issues when the error happens on the first assertion as the rest of the script is not run.

Discovering test files via a regexp (e.g. `test.*`) and considering each a separate test run would improve the testing UX.

[2018-11-21 17:03] eed3si9n opened #4460 "Document all the watch changes"
- Write docs
- Write blog post

[2018-11-21 17:15] eed3si9n opened #4461 "Clean up task progress"
- Clean up some of the issues of it wiping out text
- Make it configurable via settings?

[2018-11-22 15:38] juanjoDiaz commented on #3645
Indeed.

I would also appreciate an example of how to create a custom logger.
the documentation is pretty poor in that sense.

[2018-11-22 15:56] dwijnand commented on #3645
Feel free to open issues detailing the documentation requests in https://github.com/sbt/website/.

@benhutchison I'm not sure what you mean by "my custom tasks SLF4J logging wasn't working" but if you believe there's a bug or possible improvement to be had, feel free to open an issue detailing it (in sbt/sbt if it's code related, in sbt/website if it's docs related).

[2018-11-22 18:32] benhutchison commented on #3645
"my custom tasks SLF4J logging wasn't working": I was setting log level flags but no logging appeared. It was because in actuality log4j was being used as the slf4j backend.

[2018-11-22 23:05] dwijnand commented on #3645
Don't you get https://www.slf4j.org/codes.html#multiple_bindings fatal errors if you add logback while log4j2 is present?

[2018-11-23 05:12] dwijnand commented on #4097
It's a shame this regression from sbt 0.13 is still present.

Here's my workaround:

[code]

[2018-11-23 11:54] ignasi35 opened #4464 "Potential Thread leak caused by dependency download"
- [x] I've read the [CONTRIBUTING](https://github.com/sbt/sbt/blob/develop/CONTRIBUTING.md) guidelines

## steps

 - start visualVM or another tool to live monitor the threads used by `sbt`
 - create a new project (`sbt new scala/scala-seed.g8` or `sbt new lagom/lagom-scala.g8`)
 - edit `build-sbt` to add a handful of dependencies (using `lagom-scala.g8` is recommended since it already require a f

[2018-11-23 15:02] limansky commented on #4441
I have the same issue. The last not affected sbt version is 1.2.3.

[2018-11-23 19:05] eatkins commented on #3718
@OlegYch I've been thinking about it some more and I don't think I quite understood what you were saying. Upon further reflection, I think that you're right that we should deprecate and remove watchSources. My current idea is that we should add a new key (I'm not committed to this name):
[code]
The idea is that taskSources are all of the files that specify the unmanaged inputs to a task. Note, how

[2018-11-23 19:08] eatkins commented on #3718
@eed3si9n @dwijnand I'm curious what you think about ^^

[2018-11-23 21:29] dwijnand commented on #3718
Sounds reasonable to me.

[2018-11-26 07:53] tpolecat commented on #4441
I'm seeing this as well. Works in 1.2.3, fails in 1.2.4/5/6.

[2018-11-26 16:11] eed3si9n commented on #4441
Given the mounting evidence, let's remove the assertion for now.
If someone can come up with minimized steps, that would be helpful, but can come later.

[2018-11-26 16:32] limansky commented on #4441
@eed3si9n If there are any steps to collect logs or other required debugging information feel free to provide it.

[2018-11-26 16:51] eed3si9n commented on #4441
@limansky Typing `debug` into sbt shell would display debug level logs, so that could be a starter once you get into a bad state.

[2018-11-26 18:57] jbaileyashe commented on #4441
@limansky  I think the `last` command (when the bad compilation happens) might also be useful, as it shows the debug output on demand. (If you find that `debug` produces too much output.) From the docs: https://www.scala-sbt.org/1.0/docs/Howto-

[2018-11-26 22:21] eatkins commented on #3469
I realize now that this is also reproduced in any LauncherBased test.

[2018-11-27 12:43] lefou commented on #4166
Since we bumped the sbt version (1.2.x) and increased our test count and changed the config to run more tests forked, we also needed to increase metaspace to >1GB to successfully run `sbt test`. Unfortunately, I can't tell which change exactly introduced the issue, but it is for real. After a `sbt test` run, we have about ~104.000 loaded classes, only ~110 unloaded classes, and approx 900 - 1000 M

[2018-11-27 18:46] leobenkel commented on #3696
You can also add `updateOptions := updateOptions.value.withGigahorse(false)` to `build.sbt`

[2018-11-27 21:19] eed3si9n commented on #4441
For those who are having issues with sbt 1.2.6, are you switching between older version of sbt (because of branch) without running `clean`, or this error happens while staying on sbt 1.2.6 the whole time?

If switching of sbt versions are involved, then I can workaround that in sbt, but if it's latter it suggests some unknown logical error in Zinc.

[2018-11-27 21:21] jbaileyashe commented on #4441
I'm staying on the same version of SBT.

[2018-11-27 21:29] tpolecat commented on #4441
I changed 1.2.3 to 1.2.6, probably without cleaning, and this started happening, after which cleaning didn't help. Once I got into this situation the only way out was to restart sbt. Probably not helpful, sorry.

[2018-11-27 21:42] eed3si9n commented on #4441
All observations are helpful, even if they provide partial info of the whole picture.

[2018-11-27 21:47] jbaileyashe commented on #4441
I did change from SBT 1.2.1 to 1.2.6 (around Nov 15). Unlikely I ran `clean`.

[2018-11-27 21:48] limansky commented on #4441
@eed3si9n it seems like it happens no matter if I run `clean` or not.

[2018-11-27 21:50] eed3si9n commented on #4441
For ppl who are switching sbt versions, I think it would be good to try running `git clean -fdx` to wipe out all `target` including `project/target`.

[2018-11-27 21:50] eatkins commented on #4441
I'm think I've seen this in projects that have never been upgraded (I cloned an existing project and always ran with sbt version > 1.2.5), but I can't say for sure. And, yes, my solution is always `rm -r **/target`.

[2018-11-27 21:56] tpolecat commented on #4441
It happens with any version > 1.2.3 by the way.

I'll try with `git clean -xdf` and see if the problem comes back. I * think* I tried that but I may have dreamed it.

[2018-11-28 01:50] #4457 closed, assigned to dwijnand

[2018-11-28 09:41] DavidPerezIngeniero opened #4469 "Provide a means to report error without call stack"
- [x] I've read the [CONTRIBUTING](https://github.com/sbt/sbt/blob/develop/CONTRIBUTING.md) guidelines

## steps

Make a task that has detected an error:

[code]

## problem

A long noisy call stack is shown, that hides what has happened.

## expectation

I need a means of denoting failure in a stack for well known problems, and avoid a noisy call stack.

## notes

sbt version: 1.1.4

Long ago, I

[2018-11-28 10:30] limansky commented on #4441
I've just checked in clean repo (`git clone myrepo myrepo-test`) and the issue is gone.

Next steps:
1. Revert to 1.2.3, `clean`, `compile`:  everything is file.
2. back to 1.2.6, `compile`: [error] A fatal error happened in `SameAPI`: different extra api hashes for no traits!
3. `clean`,  `compile`: same errors.
4. `git clean -fxd`, `compile`: compile without errors.

[2018-11-28 17:55] eed3si9n commented on #4469
I posted my answer to Stackoverflow that uses undocumented, internal exception class - https://stackoverflow.com/a/53525281/3827

We could potentially turn this into an official function like `sys.error(...)`, and define `messageOnlyError(...)` or something like that. The downside if you're trying to use it from a plugin is that it would bump the minimum sbt version to the next version of sbt, and

[2018-11-29 06:44] eed3si9n opened #4472 "flaky compiler-project/src-dep-plugin test"
Starting like today/yesterday, compiler-project/src-dep-plugin is flaky on 1.2.x.
It failed during PR validation of https://github.com/sbt/sbt/pull/4466 and  https://github.com/sbt/sbt/pull/4471

[2018-11-29 18:32] eed3si9n opened #4916 "migrate to sbt/launcher to using sbt 1 but target old JVM"
Ref https://github.com/sbt/sbt/pull/4470

[2018-11-30 07:17] DavidPerezIngeniero commented on #4469
Thanks.  I'll try it right away.

[2018-11-30 07:33] DavidPerezIngeniero commented on #4469
Confirmed that it works. :-)

[2018-11-30 07:33] #4469 closed, assigned to nobody

[2018-11-30 07:34] DavidPerezIngeniero commented on #4469
It would be interesting if this could be documented.

[2018-11-30 14:36] eed3si9n commented on #4441
Fixed in https://github.com/sbt/zinc/pull/620

[2018-11-30 14:36] #4441 closed, assigned to nobody

[2018-12-03 01:03] eed3si9n commented on #4464
Would this be a duplicate of https://github.com/sbt/librarymanagement/issues/274?
Could you try sbt 1.2.7, and see this is now fixed please?

[2018-12-03 02:00] eed3si9n commented on #4461
@eatkins I can't reproduce the text wiping issue with hello world app:

[![asciicast](https://asciinema.org/a/RdVvxs7aTb9Vor1rJL2sD1e9T.svg)](https://asciinema.org/a/RdVvxs7aTb9Vor1rJL2sD1e9T)

I'm on macOS Mojave + iTerm2.

[2018-12-03 02:13] eatkins commented on #4461
Aah. I use the built in Terminal.app. I verified that if I use iterm2, then I don't see the issue that I showed you.

[2018-12-03 02:19] eatkins commented on #4461
That was a great clue. If I change the Terminal.app terminal emulation mode to vt100, I don't see the issue. Previously I had it set to xterm-256color.

[2018-12-03 02:29] eatkins commented on #4461
I switched back to xterm-256color and it still seems to be working, so I am not sure what my issue was.

[2018-12-03 02:38] eatkins commented on #4461
I do still see a bit of weirdness even with iterm:
![Output sample](https://media.giphy.com/media/5n7VbxEzxMW3GvINqf/giphy.gif)
This is in the sbt project itself where I'm running a local version of sbt off of the latest develop branch. In my ideal world, the previous task would not be deleted and the progress tasks would be fully cleared.

[2018-12-03 02:48] eatkins commented on #4461
In my ideal world, the progress tasks would be fully cleared, but my previous command would not be.

[2018-12-03 14:01] ignasi35 commented on #4464
I don't think it's a duplicate, no.

Just repeated the **Steps** above (using `sbt new lagom/lagom-scala.g8` and `sbt-version=1.2.7`) and got similar results: several zombie threads.

[2018-12-03 17:57] jonaf commented on #3618
FWIW, the problem exists in sbt 0.13.x and none of the proposed workarounds fix it (except for compiling twice). I had to upgrade to sbt 1.x (1.2.7 in my case) in order for the problem to be resolved, which works without *any* of the provided workarounds. I suspect since the original issue was encountered in sbt 1.0.2, that somewhere between 1.0.3 and 1.2.7 the issue itself was fixed, though I don

[2018-12-03 17:59] eed3si9n commented on #4461
Agreed on both points.

[2018-12-04 16:52] limansky commented on #4441
@eed3si9n I've just tested. Everything works fine with 1.2.7. Thanks!

[2018-12-04 18:04] eed3si9n commented on #4441
Awesome.

[2018-12-05 08:20] shijinkui commented on #1564
add build time to fix this problem:
https://www.jfrog.com/confluence/display/RTF/SBT+Repositories

[2018-12-05 08:46] yash-lf opened #4477 "SBT | how to disable or avoid .sbt/preloaded"
- [x] I've read the [CONTRIBUTING](https://github.com/sbt/sbt/blob/develop/CONTRIBUTING.md) guidelines

## steps
I'm trying to integrate a dependency in my `lagom` project using `sbt`. The vesions I'm using for that are:
[code]
This is my service requirement to stay on scala 2.11.7, though we are looking forward to upgrade it as soon as we can, but that is atleast 6 months away.

The depedency I'm

[2018-12-05 09:44] yash-lf commented on #4477
@eatkins any ideas?

[2018-12-05 17:19] eed3si9n commented on #4477
See https://www.scala-sbt.org/1.x/docs/Proxy-Repositories.html

We use GitHub issue mostly to track bugs and discuss feature or bugs on sbt. If you need help, please check this out - https://www.scala-sbt.org/support.html#how-can-I-get-help

[2018-12-05 17:19] #4477 closed, assigned to nobody

[2018-12-05 18:36] eed3si9n commented on #3039
I am ok with making incremental improvements here.
But we should make sure we substitute `~/` not `~`.

[2018-12-05 19:34] #3039 closed, assigned to nobody

[2018-12-06 19:27] wrighton commented on #3598
I found that this fix did not work for me, with bash 3 (which is the default where I work). Changing to Bash4 solved it. If this can be reproduced, maybe should do some sort of version check on bash.

[2018-12-06 20:15] radumanolescu opened #4478 "Source JAR missing in Maven repo for 0.13.17"
- [x ] I've read the [CONTRIBUTING](https://github.com/sbt/sbt/blob/develop/CONTRIBUTING.md) guidelines

## steps
Compare the contents of these directories
https://maven.atlassian.com/maven-external/org.scala-sbt/compiler-interface/0.13.13/srcs/
https://maven.atlassian.com/maven-external/org.scala-sbt/compiler-interface/0.13.17/srcs/

## problem
The JAR compiler-interface-sources.jar  has not been

[2018-12-06 20:26] eed3si9n commented on #4478
sbt 0.13.17 is published originally to https://repo.typesafe.com/typesafe/ivy-releases/org.scala-sbt/sbt/0.13.17/ in Ivy layout. srcs are available there.

[2018-12-06 20:26] #4478 closed, assigned to nobody

[2018-12-06 21:54] Katrix opened #4479 "Can't include JCenter in POM repositiories"
- [x] I've read the [CONTRIBUTING](https://github.com/sbt/sbt/blob/develop/CONTRIBUTING.md) guidelines

## steps
1. Add jcenter resolver to build
[code]
2. run `makePom`

## problem
JCenter is not included in the POM.

## expectation
[code]
in POM.

## notes
My guess is that this is the reason why it doesn't work.
https://github.com/sbt/librarymanagement/blob/87393a3f9f19867725060da7c425e27f53351e

[2018-12-06 22:42] eed3si9n commented on #4479
Thanks for the report!

[2018-12-06 22:43] eed3si9n commented on #4479
Most of the times people would use JCenter in place of Maven Central, so I am guessing that the current behavior is intentional.

[2018-12-06 23:47] Katrix commented on #4479
Can I have a setting for if I want JCenter in the pom then? I have a dependency for my library that's only found on JCenter, and I'd rather not have to tell people to explicitly add JCenter to the resolvers.

[2018-12-06 23:50] eed3si9n commented on #4479
Try:

[code]

[2018-12-07 00:19] Katrix commented on #4479
Nope, doesn't work.

[2018-12-07 07:40] ikryvorotenko opened #4480 "sbt logging level doesn't affect test task"
- [x] I've read the [CONTRIBUTING](https://github.com/sbt/sbt/blob/develop/CONTRIBUTING.md) guidelines

## steps
1. run `sbt new scala/scala-seed.g8` (or pick any sbt project)
2. run `sbt -warn`

## problem

sbt log output contains:
[code]

## expectation
sbt log output produces only warn level logs, as it's provided in running parameter.

## notes
I've tried to provide logging level using `logLev

[2018-12-07 08:24] JohnReedLOL opened #4481 "Feature Request - File syncing of project code with sbt client/server"
This is not a bug report, it is a feature request.

At my last job, the setup we had involved two separate tools - one to sync the code files in a project between our local laptops and our build/test servers and a separate tools to actually compile/run/build the code on our build/test servers. It would be nice if one tool could do both of those things.

Basically, instead of using something like U

[2018-12-07 16:14] lespea commented on #4001
It appears this happens if `crossPaths := false` is set

[2018-12-07 16:48] eed3si9n commented on #4480
@ikryvorotenko Thanks for the report.

[2018-12-07 16:50] eed3si9n commented on #4480
I agree with the expectation.
I think I chose debug level because of sbt server, but I probably should distinguish relay appender vs the rest.

[2018-12-07 16:58] eed3si9n commented on #4481
It's an interesting idea, but I think this is something that can first be implemented as an experimental sbt plugin in the ecosystem. Would you like to work on it, and see how it pans out?

[2018-12-07 18:31] ikryvorotenko commented on #4480
@eed3si9n are there any workarounds for this now?

[2018-12-07 18:48] ramgad opened #4482 "Help Wanted - sbt assembly jar file is having issues with the manifest file - adds empty lines"
- [X ] I've read the [CONTRIBUTING](https://github.com/sbt/sbt/blob/develop/CONTRIBUTING.md) guidelines

## steps
We use the following image: bigtruedata/sbt:0.13.15-2.11.11
    # copy cached sbt and ivy2 artifacts from project dir to home dir where sbt stores them
    - apt-get update -q && apt-get install -qy rsync
    # create cache dirs in case they were not previously stored in cache
    - mk

[2018-12-07 19:23] adam-singer commented on #4005
I had also hit this bug recently, I think the reason the previous hacks in https://github.com/sbt/sbt/issues/3618  was due to caching and second attempts to download, please don't ask why, but noticed it in manual testing. A clear way to produce failure and success locally is

Failed to resolve

[code]

Successful to resolve:

[code]

While the successful `sys.props` hack worked in local systems,

[2018-12-07 21:25] eed3si9n commented on #4482
We use GitHub issue mostly to track bugs and discuss feature or bugs on sbt. If you need help, please check this out - https://www.scala-sbt.org/support.html#how-can-I-get-help

[2018-12-07 21:25] #4482 closed, assigned to nobody

[2018-12-07 21:36] eed3si9n commented on #4480
If you want to workaround without forking sbt, you'd have to copy-paste https://github.com/sbt/sbt/blob/v1.2.7/testing/src/main/scala/sbt/internal/testing/TestLogger.scala and re-implement it I guess.

[2018-12-07 22:25] ikryvorotenko commented on #4480
@eed3si9n thanks for suggestion. Though could you please clarify where the copied class is supposed to be placed, so that it overrides the native sbt's one.
I tried to put it under `{root}/project/sbt/internal/testing` but no luck.

[2018-12-07 23:05] eed3si9n commented on #4480
You'd have to put it under some other package name, put it under `project/`, and also rewire the appropriate key that uses `TestLogger#make` using AutoPlugin (testListener?) also defined in `project/`.

[2018-12-08 00:47] dhinojosa commented on #4001
@dwijnand I think this was just forgotten to be closed. It has been working for a while. What's weird is that it indeed was broken, maybe I did have `crossPaths`. Regardless, good that it is closed, I have moved on to later and greater sbt versions and everything runs well. Thanks!

[2018-12-08 05:55] eatkins commented on #4481
I've actually been thinking about this recently and had toyed with the idea of writing a plugin that implements some variant of this idea myself. I agree with @eed3si9n that this is something that should probably be done as a plugin first. It isn't exactly clear to me what the exact semantics of the syncing should be. For example, should it use rsync or git? How is the server run? How are firewall

[2018-12-08 22:32] ikryvorotenko commented on #4480
@eed3si9n overriding `Test / test / testListeners` with custom `TestLogger` worked, thanks for pointing me on that.
I could try to raise a PR with a new setting key, which would allow to configure logging level in tests. Does that make sense to you?

[2018-12-09 19:34] eed3si9n opened #4484 "Nightly is missing a few dependencies"
## steps

[code]

## problem

[code]

## expectation

compiles.

[2018-12-10 21:57] som-snytt commented on #2819
I needed this today. Just seeing how much work it is to get `scala-swing` on 2.13.0-M5 (too much).

[2018-12-11 15:33] pdolega commented on #4103
I am experiencing this thing in 1.2.6 and 1.2.7. Putting resolvers in `build.sbt` helps.

[2018-12-12 12:38] magro commented on #3420
Could this issue be reopened?

[2018-12-12 18:15] #3266 closed, assigned to eatkins

[2018-12-12 18:15] #3110 closed, assigned to nobody

[2018-12-12 18:27] eatkins commented on #3110
@dos65 thanks for the repro. It was helpful for tracking down the issue.

[2018-12-14 09:04] vn971 commented on #228
@DavidPerezIngeniero doesn't work with compilation though. _Very_ sad, this one.

[2018-12-14 16:09] eed3si9n commented on #228
@vn971 Have you tried the latest 2.12? - https://github.com/scala/scala/pull/6479

[2018-12-14 16:16] liufengyun commented on #2786
I hit on a related issue when working with Dotty + ScalaTest: https://github.com/lampepfl/dotty/issues/5612

[2018-12-14 18:20] eed3si9n commented on #2786
@liufengyun I thought #2828 fixed this issue in 2016.
If Dotty is going to reverse the assumption made by #2634 that says organization and version number have to line up for scala-compiler, scala-library, scala-reflect, scala-actors, and scalap, we should open a separate issue to discuss this.

[2018-12-14 18:20] #2786 closed, assigned to nobody

[2018-12-14 19:32] eed3si9n commented on #2301
It looks like generally the problem is related to sbt-assembly, so I am closing this here.
Hopefully the latest fixes it as some comments have mentioned.

[2018-12-14 19:32] #2301 closed, assigned to nobody

[2018-12-14 22:39] eed3si9n opened #4489 "Update CONTRIBUTING about nightlies"
The [CONTRIBUTING](https://github.com/sbt/sbt/blob/develop/CONTRIBUTING.md) guidelines is out of date in terms of the nightlies instruction.

[2018-12-15 14:58] bjankie1 opened #4490 "WAR publishing description seems invalid"
- [ ] I've read the [CONTRIBUTING](https://github.com/sbt/sbt/blob/develop/CONTRIBUTING.md) guidelines

## steps

Add sample code mentioned in the documentation to `build.sbt`
https://www.scala-sbt.org/1.x/docs/Artifacts.html
[code]

## problem

The code doesn't compile.

## expectation

* Documented snippet should compile.
* There should be support for building WAR packages.

## notes

sbt versio

[2018-12-16 12:06] ritschwumm opened #4491 "lsp does not inform about resolved compilation issues, so problem markers stay in vscode"
- [x] I've read the [CONTRIBUTING](https://github.com/sbt/sbt/blob/develop/CONTRIBUTING.md) guidelines

## steps

* install the vscode extension in vscode
* open a scala file
* introduce a syntax error
* save
* remove the syntax error
* save again

## problem

the problems view still shows the now outdated syntax error

## expectation

the problem view does not show a problem marker where there is

[2018-12-16 23:38] fikovnik opened #4492 "exportedProductsNoTracking triggers compilation"
- [X ] I've read the [CONTRIBUTING](https://github.com/sbt/sbt/blob/develop/CONTRIBUTING.md) guidelines

## steps

[code]

## problem

I guess I miss something, but the above steps trigger compilation despite the description of `exportedProductsNoTracking`:
[code]

## expectation

Just the exported classpath without triggering the compilation.

## notes

sbt version: 1.1.4

[2018-12-18 23:12] weallcock opened #4493 "Delete key not behaving properly in Mac OSx / iterm2"
- [ x] I've read the [CONTRIBUTING](https://github.com/sbt/sbt/blob/develop/CONTRIBUTING.md) guidelines

## steps
I am trying to take the coursera "functional programming principles in scala" course.  I have written some C and python, but have never used java or scala.  My apologies if I am simply not understanding something simple.

I am running iterm2, build 3.2.6 on Mac Sierra 10.12.6, TERM is

[2018-12-18 23:39] eed3si9n commented on #4493
Thanks for the report.

sbt version is determined by `project/build.properties` file. If this is for some coursera course, it would be best to stick to the sbt version the lecturer has provided.

The delete key situation sounds like you're having some bad interaction with JLine2, which we use internally. For what it's worth, I personally use iTerm2 with macOS, and it works for me.

1. Do you have

[2018-12-18 23:45] eed3si9n commented on #4492
See https://www.scala-sbt.org/0.13/docs/sbt-0.13-Tech-Previews.html#Inter-project+dependency+tracking for the documentation on inter-project dependency tracking.

[2018-12-18 23:45] #4492 closed, assigned to nobody

[2018-12-18 23:46] eed3si9n commented on #4490
Thanks for the report!

[2018-12-19 13:48] weallcock commented on #4493
[code]
Did the trick.  Thanks for your help.

[2018-12-19 13:48] #4493 closed, assigned to nobody

[2018-12-19 14:37] Hashtagin commented on #3618
Having strange behavior. Having project with the project/PackagingTypePlugin.scala workaround working fine in windows. But when trying to compile it into a docker container using debian, problem raise again. I check the autoplugin, and it's loaded correctly. I tried 2 manners to install sbt ( by download 1.2.7 package and by using apt-get install), and nothing more happens.

This is my dockerfile

[2018-12-19 15:21] eed3si9n commented on #4491
Thanks for the report!

[2018-12-19 19:17] folex commented on #3377
Still happening in sbt 1.1.4

[2018-12-19 20:13] eed3si9n commented on #3377
Could you migrate to using `Tests.Setup`? - https://www.scala-sbt.org/1.x/docs/Testing.html#Setup+and+Cleanup

[2018-12-19 22:02] jsoref opened #4494 "sbt publish should give a human readable error for an already published object"
- [x] I've read the [CONTRIBUTING](https://github.com/sbt/sbt/blob/develop/CONTRIBUTING.md) guidelines

## steps

use `sbt publish` to publish a jar to a non snapshotting maven repository (powered by nexus) with a version number that is already published to that repository

## problem

Unhelpful and vague error message with distracting stack trace:

[code]

## expectation

human readable error mes

[2018-12-20 04:29] eed3si9n commented on #4494
There's a PR that does that here https://github.com/sbt/librarymanagement/pull/255.
Could you see if the latest sbt 1.2.7 fixes this?

[2018-12-20 10:38] ennru commented on #3618
The workaround [above](https://github.com/sbt/sbt/issues/3618#issuecomment-424924293) makes Travis consistently fail on the first try for us in [Alpakka Kafka](https://github.com/akka/alpakka-kafka).
Re-triggering the build step resolves that.

Same error as earlier.
[code]

[2018-12-20 18:33] eed3si9n opened #4496 "<task>.all(<scope-filter>).value introduces nondeterminism"
## steps

sbt-unidoc for example (https://github.com/sbt/sbt-unidoc/blob/v0.4.2/src/main/scala/sbtunidoc/BaseUnidocPlugin.scala) uses

[code]

[code]

## problem

Depending on the machine you use unidoc, it returns different ordering of JARs

## expectation

Results are returned either deterministically relative to compilation semantics, or at least things are chunked by the same ordering of subpr

[2018-12-20 20:43] weallcock commented on #4493
An update on this.  Setting terminal=false fixes the backspace problem, but not the arrow problem.  I opened an issue with jline2 and when I get this fully resolved, I will update this issue.

[2018-12-20 20:57] eed3si9n commented on #4493
Arrow key is handled by JLine2, so by passing in `terminal=false` you forfeit the JLine2-enable features like commandline history via arrow key.

[2018-12-22 00:35] dwijnand commented on #4065
The "attempt to fix #4065" and "try to fix #4065" messages in 780ca366d8b7bd2a946057217d0c801d11d43b71 erroneously closed this.

[2018-12-22 02:30] eatkins commented on #4065
@steinybot can you elaborate on issue 3)? Naively, I think we can update ConfigKey without breaking backwards binary compatibility:
[code]
We would just have to drop the final keyword, but sealing the class has a similar effect to final for end users. Is there something I'm missing?

[2018-12-26 18:43] jeffrey-aguilera commented on #4193
Have same problem with sbt 1.2.7.

[2018-12-29 19:21] alvinj opened #4503 "document the fact that project/build.properties file gets created"
## problem

The behavior of `sbtVersion` is inconsistent. The help text states, “Provides the version of sbt. This setting should not be modified.” But the actual behavior is:

- In an SBT project with no _project/build.properties_ file:
    - It creates a _project/build.properties_ file with the version of the current SBT executable
    - It reports the SBT version it wrote in that file
- In an S

[2018-12-30 14:46] gael-ft commented on #4382
@mvdstam Did you find a workaround for this ?

SBT developers, please consider this feature 😃

[2018-12-30 20:58] eed3si9n commented on #4503
When we say "sbt", there are actually three parts to the program:
1. `sbt` launcher script written in Bash script / Windows batch.
2. sbt launcher application, which reads `build.properties` and downloads the artifacts for the specified sbt version.
3. sbt the main application, colloquially known as "the mother ship", which does the actual interpretation of `build.sbt` and does the compilation etc

[2018-12-31 01:49] alvinj commented on #4503
Thank you, that’s helpful. I think if I discuss my last point any further (#2 under “expectation”) it might be confusing, so I don’t want to pursue that right now.

My bigger concern is that running `sbtVersion` writes to _project/build.properties_. It seems like it should always be a read-only operation where it does one of two things:

- If `sbt.version` is set in _project/build.properties_, it

[2019-01-01 01:40] eed3si9n commented on #4503
The creation of `project/build.properties` is part of sbt (mothership)'s startup process, and it has nothing to do with `sbtVersion` setting. You could probably call `sbt name` and get the same behavior.

[2019-01-01 10:48] mvdstam commented on #4382
@gael-ft No, unfortunately I did not find a workaround for this particular issue. 😞

I haven’t found the time either to dive into this myself, so putting this on the agenda for the SBT team would be great.

[2019-01-01 19:59] gael-ft commented on #4382
Ok thank you for your answer @mvdstam, I'll have to go through mvn deploy:deploy-file... 😢

[2019-01-02 13:53] alvinj commented on #4503
The `sbt name` part is also surprising. Maybe a way to describe this is that as a user I feel like I’m issuing a SQL SELECT query when I run `sbtVersion` or `name`, but under certain circumstances it also runs an INSERT as a side effect. If that’s the way it’s supposed to work, no problem, I just thought it was a bug.

[2019-01-02 14:39] albuch commented on #3398
@eed3si9n could you point in any direction where to start looking? This is getting more and more annoying without even having a workaround.

[2019-01-02 15:34] eed3si9n commented on #3398
sbt 1 uses log4j 2 as its logger. See for example https://github.com/sbt/util/blob/v1.2.4/internal/util-logging/src/main/scala/sbt/util/LogExchange.scala and https://github.com/sbt/util/blob/v1.2.4/internal/util-logging/src/main/scala/sbt/internal/util/ConsoleAppender.scala.

Maybe there's an implementation difference in `LoggerFactory.getLogger` for log4j?

[2019-01-02 17:09] albuch commented on #3398
I thought sbt 1 uses the log4j-slf4j-impl binding so that libraries using slf4j-api could easily be integrated in sbt, no? `LoggerFactory.getLogger()` is not from an implementation but from the slf4j API interface.
And its not that it's not working at all, just that logging levels are off (as ERROR is the default level if no configuration is found) from the sbt ones and I can't figure out a way to

[2019-01-02 20:59] eed3si9n commented on #4453
Please see https://www.scala-sbt.org/1.x/docs/Cross-Build.html#Cross+building+with+a+Java+project

[2019-01-02 20:59] #4453 closed, assigned to nobody

[2019-01-03 09:23] Hashtagin commented on #3618
@ennru
Thanks you, running second time works great.

[2019-01-04 00:25] alvinj commented on #4503
Thanks for your help on this!

[2019-01-04 09:18] Krever commented on #1144
Has anyone figured any workaround?

[2019-01-06 10:13] gavinbaumanis opened #4505 "sbt 1.2.8 crashes with BootstrapMethodError"
Hi there,

OS: Mac v 10.14.2 (16 GB RAM)
SBT 1.2.8
Scala 1.12.8
Play 2.6.20
java version "1.8.0_192"

The only memory "config" I have changed is the following in my build.sbt;
javaOptions in run += "-Xmx2048m"

I just upgraded to sbt 1.2.8 and now get the following error, when using "sbt ~run" with a Play application.

java.lang.BootstrapMethodError: call site initialization exception
	at java.lan

[2019-01-07 06:51] Hervera commented on #3344
What is the answer guys? Play framework Updating ProjectRef(uri("")) still takes too long, It doesn't finish. Now, there are 20 min waiting to finish updating.

[2019-01-07 13:41] eed3si9n commented on #4505
It says `OutOfMemoryError: Metaspace`.
`javaOptions in run` is used only for forking, so to pass in more memory to JVM, you should start sbt with `sbt -J-Xmx2048M` or put `-Xmx2048M` into `SBT_OPTS` environment variable.
Could you try and see if that would help?

[2019-01-07 15:58] halfninja commented on #3618
I think this needs to be reopened because neither workaround works with an unpopulated Ivy cache - `rm -rf ~/.ivy2/cache/javax.ws.rs/ && ./sbt update` will fail every time, and if you're doing CI against a cluster of build agents with different Ivy caches it's not practical to keep rerunning the build.

I don't think either workaround form works better or worse than the other, it's just people run

[2019-01-08 00:28] sunshinekitty opened #4507 "Debian sbt repository not signed"
- [ x ] I've read the [CONTRIBUTING](https://github.com/sbt/sbt/blob/develop/CONTRIBUTING.md) guidelines

## steps

Follow steps at https://www.scala-sbt.org/1.x/docs/Installing-sbt-on-Linux.html

- echo "deb https://dl.bintray.com/sbt/debian /" | sudo tee -a /etc/apt/sources.list.d/sbt.list
- sudo apt-key adv --keyserver hkp://keyserver.ubuntu.com:80 --recv 2EE0EA64E40A89B84B2DF73499E82A75642AC82

[2019-01-08 01:45] nhynes commented on #4507
Yep. For reference (for people who are new to Debian), a workaround is

[code]

since the url is https and `wget` checks certs, you can rest relatively assured that you won't be installing malicious software :)

[2019-01-08 01:49] eed3si9n commented on #4507
Recalculated the metadata.

[2019-01-08 01:49] #4507 closed, assigned to nobody

[2019-01-08 13:33] rahulsingh978 commented on #3919
Is there any solution to this problem ? I too am facing the same problem, tried increasing stack memory but still this error dint went away.

[2019-01-09 18:31] eed3si9n commented on #4505
Closing this for now.

[2019-01-09 18:31] #4505 closed, assigned to nobody

[2019-01-09 23:29] gavinbaumanis commented on #4505
I have added the Java options as suggested and I have not had the instance
occur again since.
It is still something different to 1.2.7, in that the extra RAM is not
required in 1.2.7 - but is in 1.2.8

For the record I reverted to 1.2.7 - and the same error occurred.

As always thanks!

Gavin Baumanis
E: gavinbaumanis@gmail.com

I, for one, like Roman numerals.

On Thu, 10 Jan 2019 at 07:54, eugen

[2019-01-10 07:23] dwijnand opened #4510 "Root project: auto-aggregation vs stable id"
There's tension for the root project between auto-aggregation and stable id.  If you don't declare the root project (which you do, for example, like so: `val bippy = project in file(".")`) then it auto-aggregates all the projects in the build, but it also doesn't have a stable id, because it depends on the directory it's in, which could break scripts.  This is present in current sbt 1.2.8, but it'

[2019-01-10 07:24] dwijnand opened #4511 "Add a rootProject convenience method (macro)"
The root project can be defined with `project in file(".")`.  It might be convenient to provide a `rootProject` alias to `project in file(".")` (has to be a macro because of `project` the macro.)

[2019-01-10 15:51] erikvanoosten commented on #3618
Another work around: switch to the new maven location of `javax.ws.rs-api` which is `jakarta.ws.rs/jakarta.ws.rs-api`, these poms use a regular packaging type.

[2019-01-10 15:54] erikvanoosten commented on #3618
Its not clear to me how to apply the workaround for dependencies of sbt plugins. Can any one shed a light on that?

Things I tried:
• put mentioned `PackagingTypePlugin` in `~/project/project`
• put a line with `val workaround = { sys.props += "packaging.type" -> "jar" }` at the top of `~/project/plugins.sbt`
• exclude the javax.ws.rs dependency from the plugin's pom
• the same for each transient

[2019-01-10 17:18] eed3si9n commented on #4511
Prefacing that it's a subjective discussion, I think we should be careful introducing any new DSL into `build.sbt`. It either requires memorization by build authors or comprehension by many more readers.

`lazy val root = (project in file("."))` is a boilerplate, but once you understand it, the `project` macro can be used for defining other subprojects.

Maybe you can create a plugin that introduc

[2019-01-10 17:22] eed3si9n commented on #4510
The other direction we could go is always pick `"root"` as the id.

[2019-01-10 17:28] dwijnand commented on #4510
That doesn't play nicely into the current behaviour of IntelliJ that uses the id of the root project to identify the project (in the recent projects list.)

[2019-01-10 17:30] dwijnand commented on #4511
How about a `root` method on project?  So it's `val fooRoot = project.root`.

[2019-01-10 17:34] eed3si9n commented on #4511
IMO it doesn't warrant the cognitive load unless it does something new, useful, and it's worth spreading to the rest of the documentation.

[2019-01-10 17:45] dwijnand commented on #4511
Well in addition to defining that the base directory is "." it could: enable auto-aggregation and disable packaging and publishing artefacts.

[2019-01-10 17:53] eed3si9n commented on #4511
So if IntelliJ used `name` instead of `id` this could all be `name := "somthingRoot"`?

[2019-01-10 17:56] dwijnand commented on #4511
That wouldn't remove the boilerplate of `project in file(".")` at the top of every single multi-project build.sbt.

[2019-01-10 17:57] dwijnand commented on #4511
This is relevant to my concerns around stable root project id, detailed in #4510.

[2019-01-10 18:03] eed3si9n commented on #4511
ok, for multi-project setting it might be worth considering something like `project.mutiProjectRoot` because of aggregation, `crossScalaVersions := Nil`, `publish / skip`, etc.

[2019-01-10 23:04] pulasthibandara commented on #4168
Was struggling with this for few days. Here's a related Stackoverflow Q/A
https://stackoverflow.com/questions/54068316/how-to-re-use-compiled-sources-in-different-machines/54138157#54138157

[2019-01-11 08:34] ritschwumm commented on #4510
i usually display the project name in my `shellPrompt` and often have sbt running in multiple shells for different projects. it's quite annoying when someone forgot to add a root project manually and i only get to see "root" there and thus cannot distinguish where i am.

[2019-01-11 10:10] erikvanoosten commented on #3618
I have settled for downloading the javax.ws.rs' pom and put it in ~/.m2/repository with a little shell script.

[2019-01-11 17:29] wsargent commented on #4511
Is this like `(baseDirectory in LocalRootProject)`?

[2019-01-11 17:35] dwijnand commented on #4511
No, that's just the directory.

The thing that `val fooRoot = project in file(".")` is achieving is giving the root project a stable id, i.e one that isn't inferred by the (mutable) directory name.

[2019-01-12 23:24] blast-hardcheese opened #4513 "sbt protocol seems to return status:Done before command aliases are finished"
- [x] I've read the [CONTRIBUTING](https://github.com/sbt/sbt/blob/develop/CONTRIBUTING.md) guidelines

Related to https://github.com/cb372/sbt-client/issues/5

## steps

1) Set up environment:
[code]

2) Launch sbt

[code]

3) Confirm that `test` in the primary sbt shell results in an error:

[code]

4) sbt-client to run `test`, confirming the expected output:

[code]

5) Now, use the same sbt cl

[2019-01-13 23:42] eatkins opened #4514 "scripted within scripted do not work with latest util version"
- [x] I've read the [CONTRIBUTING](https://github.com/sbt/sbt/blob/develop/CONTRIBUTING.md) guidelines

## steps
publish "1.3.0-SNAPSHOT" in https://github.com/sbt/util
change utilVersion to "1.3.0-SNAPSHOT" in project/Dependencies.scala

## problem
scripted tests fail hard with java.lang.NoClassDefFoundError: Could not initialize class org.apache.logging.log4j.util.PropertiesUtil

## expectation

[2019-01-13 23:43] eatkins commented on #4514
The problem seems to be that scripted is using the classpath for an older version of sbt that does not provide this newer class. I'm not sure how we can upgrade util and successfully test on travis without first releasing a new version of sbt that scripted tests can use instead of 1.1.5 or whatever they're using.

[2019-01-13 23:45] eatkins commented on #4514
This is also related to a more general problem that if you add to the public api of sbt, but run scripted tests against an older version, certain apis are not available during scripted startup. This leads to a chicken and the egg problem where we can't release sbt without running scripted, but we can't run scripted without upgrading sbt. I'm not sure how best to address this.

[2019-01-15 03:32] eed3si9n commented on #4514
I feel like I've seen something like this before. Can we work around this by forcing latest log4j in the metabuild of sbt/sbt?

[2019-01-15 03:39] eed3si9n commented on #4513
@blast-hardcheese Thanks for the report.

It might be related to the fact that we use log4j 2's logger to capture the log, and async appender to relay the log to sbt server. And there's probably some delay. A workaround might be to let "done" event go through the same tunnel to cause some delay.

[2019-01-15 11:18] EdgarLemaire commented on #1781
Hello ! I encountered this problem while using SBT and found a way to solve it. Since this topic is more than 1 year old, I suppose that you overcame this problem or gave up on it, but I think this post could help somebody else.
First of all, it is important to note that I am using Ubuntu 16.04 (Xenial), thus this solution might not be helping for other OS users.
My problem was :
-I am using SBT b

[2019-01-15 12:03] lavrov commented on #3618
I can confirm that. We use the workaround in our CI pipelines and it fails if ivy cache is empty.

[2019-01-15 15:50] EdgarLemaire commented on #366
Hello !

SBT has a very hard time with proxies which require authentication.
The solution is to by-pass this proxy authentication, if you cannot turn off the proxy (a corporate proxy for example).
To do so, I have installed a Squid Proxy, which I configured to have access to my corporate proxy.
Then, I configure SBT to interact with my Squid Proxy instead of my corporate proxy :+1:

You can copy/p

[2019-01-15 19:54] halfninja commented on #3618
@erikvanoosten you can exclude a transitive dependency from another dependency with `exclude()`, then add the replacement yourself.

[code]

Alternatively, if like in my case you have multiple libraries pulling in `javax.ws.rs-api` and you don't have the time or patience to sift through them all, you can apply the exclusion to every dependency:

[code]

The [dependency graph plugin](https://github

[2019-01-16 10:34] serv-inc commented on #3956
Could be related to #4248 .

[2019-01-16 10:42] serv-inc commented on #4248
Solution at https://stackoverflow.com/questions/51983144/error-installing-sbt-on-ubuntu-18-04-gpg-keyserver-receive-failed-invalid-ar

[2019-01-16 10:43] serv-inc commented on #4248
@eed3si9n : could you please update the docs?

[2019-01-16 16:16] schlichtanders commented on #366
@EdgarLemaire can you share your squid configuration?

I have a very hard time to find out how squid needs to be configured for this. I haven't worked with squid before and google is not of much help here, as squid is a proxy itself, so "proxy through squid" won't give you anything unfortunately.

[2019-01-16 17:26] EdgarLemaire commented on #366
Sure :

You just have to change and uncomment the line beginning by "cache_peer" as follows :

(just set your own PROXYHOST (without the http://, just the domain name like "proxy.myproxy.org"), USERNAME and PASSWORD).

Normally, it should work fine, but as I am not very proficient in this kind of stuff, I might have forgotten something. Feel free to ask if the problem persists and I will ask to my

[2019-01-16 19:57] akauppi commented on #3469
It's affecting the [sbt-scala-builder](https://github.com/akauppi/sbt-scala-builder) (for Google Cloud Build) that I did.

[2019-01-17 14:23] edmondop commented on #3618
@lavrov what sort of workaround do you have for your CI?

[2019-01-17 18:12] erikvanoosten commented on #3618
@halfninja Thanks! Unfortunately it doesn't help. Coursier insists on downloading the jakarta.ws.rs pom (and only the pom), even though it is not needed.

This is the workaround we use in our CI (bash) script:

    if [ ! -f ~/.m2/repository/javax/ws/rs/javax.ws.rs-api/2.1/javax.ws.rs-api-2.1.pom ]; then
      mkdir -p ~/.m2/repository/javax/ws/rs/javax.ws.rs-api/2.1
      curl -k http://central.m

[2019-01-18 13:26] lavrov commented on #3618
@edmondo1984
`-Dpackaging.type=jar` in `.sbtopts`

[2019-01-18 19:36] ches commented on #3410
@NicolasRouquette That might "work", but it's impossible for you to cross-publish versions of the plugin for sbt 0.13 and 1.x, and it's bound to confound some people.

[2019-01-18 22:01] NicolasRouquette commented on #3410
@ches Indeed, removing such suffixes isn't a good long term solution; however, for organisations that enable POM consistency checks like ours, it seems to me that there isn't any other solution.
I wonder if a case could be made to JFrog (the company behind Artifactory) to improve their POM consistency checks so that we could publish SBT plugins with such checks enabled andwith the binary suffixes.

[2019-01-18 22:04] balagez commented on #3344
We still use 0.13 just because of this.

[2019-01-22 10:38] iokacha commented on #3570
Hello, I'm having the same issue on 1.2.8 : `the Broken pipe message`
The updateOptions work around worked for me.

[2019-01-23 13:24] ipiret commented on #366
@EdgarLemaire yes please have modified the line cache_peer as indicated i don't have anymore the error your proxy requires authentication but now
SERVER ERROR: Service Unavailable url=https://repo1.maven.org/maven2/org/scala-sbt/sbt/1.1.6/sbt-1.1.6.pom

	SERVER ERROR: Service Unavailable url=https://repo1.maven.org/maven2/org/scala-sbt/sbt/1.1.6/sbt-1.1.6.jar
	SERVER ERROR: Service Unavailable url

[2019-01-23 19:42] outkaj commented on #3300
I have the same issue and have tried adding "show publishTo" which gives the following output:

[code]

This is even though publishTo is declared (as in the example).

[2019-01-24 10:50] riomus commented on #1729
What is the status of this issue? It is a problem for us in our project, sbt is not recompiling macros after case class changes in the incremental compilation. I am not able to find any new pieces of information on incremental compilation and macros. In sbt 0.13 there was a macrotracker plugin, but now we are using sbt 1.0 and we need to run a clean task in order to be sure that macros are recompi

[2019-01-24 11:58] DavidPerezIngeniero commented on #4337
Will it be solved some day?
It looks like simple to solve.

[2019-01-25 09:32] tyrcho opened #4517 "broken test:compile when a package with same name is present in resources folder"
- [x] I've read the [CONTRIBUTING](https://github.com/sbt/sbt/blob/develop/CONTRIBUTING.md) guidelines

## steps

Unzip [demo.zip](https://github.com/sbt/sbt/files/2795402/demo.zip) which contains minimal sources to reproduce the issue.

(Edit by Eugene: I am writing out the contents here too)

#### build.sbt

[code]

#### project/build.properties

[code]

#### src/main/scala/com/demo/file/FileCon

[2019-01-25 17:34] eed3si9n commented on #1412
So this can be closed now?

[2019-01-25 17:34] #1412 closed, assigned to nobody

[2019-01-25 18:12] gavares commented on #3344
Also experiencing this problem on sbt 1.1.0. Any update/news or ideas about what we can do to resolve this? One of our new devs has been waiting for ~10 minutes just staring at:

`[info] Updating ProjectRef(uri("file:/Users/.......), xxx)`

[2019-01-26 00:06] er1c commented on #1412
I believe closing is appropriate

[2019-01-26 00:46] stewSquared commented on #3915
I'm curious why this issue is still open given #4227
Is there more work planned?

[2019-01-27 23:47] eximius313 opened #4520 "Detected merged artifact"
- [x] I've read the [CONTRIBUTING](https://github.com/sbt/sbt/blob/develop/CONTRIBUTING.md) guidelines

## problem
`sbt compile` threw:
[code]
but when I ran it for the second time it worked fine.

## expectation
It should run fine both times as artifact didn't change

## notes
sbt `1.1.6`

[2019-01-28 18:24] agilesteel commented on #3739
Any updates on this? I understand that it's not the most pressing issue in the world, but still...

[2019-01-28 19:56] eed3si9n commented on #3739
Ref https://github.com/sbt/sbt/issues/1648 and #1669

The warning was added intentionally. I guess we want the warning for `run` but not for `runMain`?

[2019-01-28 20:41] eed3si9n commented on #3739
mainClass is still being detected for runMain potentially for two reasons:
1. tab completion - https://github.com/sbt/sbt/commit/30e454af0a4d6bcb4a719b10d5628acac804898b
2. the other places mainClass shows up is during pakageBin, which is probably called by bgRunMain.

[2019-01-28 23:04] eed3si9n commented on #4520
Thanks for the report.
Do you have reproduction steps? https://github.com/sbt/sbt/blob/develop/CONTRIBUTING.md#steps

[2019-01-28 23:34] eed3si9n commented on #4517
Thanks for the report @tyrcho with repro project.

When I run it with debug log, here's what I see:

[code]

In other words, resource copying happens concurrently with the compilation when `Test/compile` is invoked, and the Scala compiler gets confused by the stuff in `classes` directory.

[2019-01-28 23:41] anilkumarmyla commented on #3398
I could get the `testLoggingTask` working by passing `-Dlog4j2.level=debug` to sbt.

Ref https://logging.apache.org/log4j/2.0/manual/configuration.html#SystemProperties

The crux of the problem appears to be log4j2 not setting root logging level to the level defined in sbt (`logLevel`) . You can pass `-Dlog4j2.debug` to sbt and you can see this in motion

[code]

[2019-01-29 07:49] tyrcho commented on #4517
Do you confirm that this is a bug ? Any ideas about workaround / fixes ?

[2019-01-29 08:29] eed3si9n commented on #4517
The workaround is to run `clean`, and then `compile` first.
This could be a Scala 2.12 backend bug.

[2019-01-29 15:42] bruno-medeiros opened #4522 "SBT interactive prompt for 'new' is broken in Windows using MSYS2 / Git Bash / Cygwin"
- [x] I've read the [CONTRIBUTING](https://github.com/sbt/sbt/blob/develop/CONTRIBUTING.md) guidelines

## steps

Run `sbt new scala/scala-seed.g8` in MSYS2 / Git Bash / Cygwin
The `new` task will ask for the new project name

## problem
Typing characters into the prompt, but they will not be displayed. Also backspace gets interpreted as a character (`\177`), not as a deletion. Pressing either cre

[2019-01-29 17:53] tyrcho commented on #4517
Thanks @eed3si9n but unfortunately the workaround does not help in the real situation.

You can reproduce quickly the real situation:
[code]

`compile` works, but `test` triggers compilation of the content `src/test` and fails with the same error as above.

You can see the [commit](https://github.com/WriteThemFirst/approvals-demo-scala/commit/ed7bbbd349f4c4945888c15960d1f2649a0f3249) which reveale

[2019-01-29 21:19] dwijnand opened #4523 "Port property-based tests from ScalaCheck to Hedgehog"
https://github.com/hedgehogqa/scala-hedgehog looks great, possibly better than ScalaCheck.

So for a number of reasons I think the property-based tests in sbt could be ported.

[2019-01-30 00:10] eximius313 commented on #4520
as I said - it happened once during `sbt compile`.
I just thought it is worth to inform you about it.

[2019-01-30 03:07] eed3si9n commented on #4514
I have a failing PR due to this issue - https://github.com/sbt/sbt/pull/4524

[code]

[2019-01-30 04:53] levinson commented on #2666
The workaround requires the library maintainer to define defaults in their pom.xml (or to fork the library and add them yourself), which isn't always a practical solution. It would be nice to have a way to override maven properties when resolving dependencies to workaround the issue until it can be resolved.
**EDIT**: Ah, so I think the workaround provided *does* work to override maven properties,

[2019-01-30 06:47] eed3si9n commented on #4514
Suspicious parts are:

https://github.com/sbt/sbt/blob/08d5eed549a458db2ab0909695686ed0dd104f1d/project/Scripted.scala#L103-L105

where the metabuild of sbt/sbt is sneaking into the freshly baked code.

[2019-01-30 12:00] EdgarLemaire commented on #366
@ipiret I think you should also change the "acl" according to your corporate proxy domain name. I am sorry, I cannot share the file as it contains information on my company's proxy, and I don't want to take any risk as my company is very strict concerning cyber security.

Normally, there is a line in squid's configuration where are listed some "acl" things.

Maybe you can ask your network administ

[2019-01-30 12:19] ipiret commented on #366
@EdgarLemaire It had nothing to do with acl, but was the port which in my case was "8080" and i also had to uncomment "never_direct allow all" so after lots oh head scratching and reading docs got it eventually to work :smiley:

[2019-01-30 13:06] EdgarLemaire commented on #366
@ipiret oh ok, cool then :-)
I thought squid was always connected to port 3128. Thank you for sharing your solution !

Regards,

Edgar

[2019-01-30 13:28] ipiret commented on #366
@EdgarLemaire it was the port for my proxy server (the one specified in cache_peer)

[2019-01-30 14:48] zella opened #4525 "java.lang.NoClassDefFoundError: scala/math/Ordering$$anon$9 in runtime after adding sbt plugin"
- [x] I've read the [CONTRIBUTING](https://github.com/sbt/sbt/blob/develop/CONTRIBUTING.md) guidelines

## steps

1) Create hello world project from official template
2) Add code, that uses scala compiler, in my case https://github.com/scalate/scalate
3) Add plugin: `addSbtPlugin("com.lucidchart"  % "sbt-scalafmt" % "1.16")`
4) Run code, that uses scala compiler

or
1) git clone https://github.com

[2019-01-30 19:12] eed3si9n commented on #4523
The idea of better shrinkage sounds interesting, but it's not like we are suffering in that area, so this seems like a nice to have.

- The surface DSL looks slightly more verbose than ScalaCheck if you see the migration guide (https://github.com/hedgehogqa/scala-hedgehog/blob/master/doc/migration-scalacheck.md#hedgehog)
- There's a huge difference with ScalaCheck for number of commits and contrib

[2019-01-30 19:27] eed3si9n commented on #4525
@zella Thanks for the report. The interaction with neo-sbt-scalafmt sounds interesting.
If this started in sbt 1.1.2, then it might be related to this change - https://github.com/sbt/zinc/pull/505

sbt 1.3.0 should give you finer tuning of the classloader (https://github.com/sbt/sbt/pull/4476 by @eatkins) so hopefully this can be solved there. In the meantime, you might have to work around this by

[2019-01-30 19:43] levinson commented on #4520
Connection reset looks like a problem talking to the remote maven repository -- not an SBT bug.

[2019-01-30 20:05] eed3si9n commented on #4522
sbt delegates `new` to a template resolver, and stuff ending with ".g8" goes to Giter8, so it should likely require Giter8 fix. Do you mind reporting it to https://github.com/foundweekends/giter8/issues instead?

[2019-01-30 20:28] eed3si9n commented on #4525
The key step here is "Run code, that uses scala compiler". Scalate 1.9.0 uses Scala 2.12.6.
https://github.com/scalate/scalate/blob/scalate-project-1.9.0/build.sbt#L13-L14

Unlike Scala library, Scala compiler does not have binary compatibility between the patch releases, so you can't mix and match Scala compiler 2.12.6 with Scala library 2.12.8. When I downgraded Scala version to 2.12.6, it got t

[2019-01-30 20:28] #4525 closed, assigned to nobody

[2019-01-30 20:46] eed3si9n commented on #4525
And oh why does this happen only when neo-sbt-scalafmt is in the picture?
It's because by default sbt uses Ivy mediator to enforce scala-library and scala-compiler to line up (https://github.com/sbt/sbt/pull/2634), but neo-sbt-scalafmt turns that off.
https://github.com/lucidsoftware/neo-sbt-scalafmt/blob/1.16/sbt-scalafmt/src/main/scala-2.12/com/lucidchart/sbt/scalafmt/Platform.scala#L42

[2019-01-30 20:52] dwijnand commented on #4523
I think https://github.com/sbt/sbt/issues/3893 would've been obvious if it were built using Hedgehog's system rather than ScalaCheck's broken system.  Btw ScalaCheck took QuickChecks broken system and made it worst too (by picking the implicit Shrink when given a specific, non-implicit Gen).

It's a nice-to-have for sure.

Yeah, that's because it forces you to make explicit, conscientious decision

[2019-01-31 00:04] eximius313 commented on #4520
Ok, so where `Detected merged artifact` comes from? What does it mean?

[2019-01-31 03:15] eed3si9n opened #4528 "References to undefined settings: subproject / Tut / run / runner"
## steps

According to https://github.com/sbt/sbt-validator/issues/35, load cats-effect using the latest nightly.

## problem

[code]

## expectation

works.

## notes

runnerSettings changed in #4476. see https://github.com/sbt/sbt/pull/4476/files#r252521965
/cc @eatkins

[2019-01-31 10:10] dwijnand opened #4530 "Give IncOptions a useful toString"
## steps

[code]

## problem

I can't tell what `logRecompileOnMacro` or `recompileOnMacroDef` are set to.

## expectation

Perhaps something like:

[code]

## notes

Workaround:

[code]

sbt version: 0.13.18

[2019-01-31 10:10] dwijnand commented on #4530
Ah.  #fixed-in-sbt1

[code]

[2019-01-31 10:10] #4530 closed, assigned to nobody

[2019-01-31 10:57] dwijnand opened #4531 "Support Maven's BOM "Bill of Materials""
## steps/expectations

- https://github.com/sbt/sbt/issues/4531#issuecomment-3831973012

## original description

It would help scala's ecosystem if sbt supported Maven's BOM "Bill of Materials" that (IIUC) would help maintain version coherence across artefacts of the same project.

* https://hackernoon.com/maven-bill-of-materials-dependency-b6eb88f5c188
* https://maven.apache.org/guides/introduct

[2019-01-31 12:52] bruno-medeiros commented on #4522
Sure, created: https://github.com/foundweekends/giter8/issues/414

[2019-01-31 12:52] #4522 closed, assigned to nobody

[2019-01-31 17:18] OlivierBlanvillain commented on #4395
It looks like relative path given to `addPluginSbtFile` are resolved relatively to `~/.sbt/1.0/plugins`, which is probably related to this issue.

[2019-02-01 08:13] dwijnand opened #4536 "Writing sbt.version vs scripted filtering"
## steps

1. Write a scripted test
1. Run sbt in that scripted test

## problem

sbt will write out `sbt.version` under `project/build.properties` which acts as a test filter.

## expectation

The, possibly discouraged, practice of running sbt in a scripted test shouldn't implicitly alter the test setup.

## notes
sbt version: 1.2.8

Possible solutions:
One possible solution is just before writing

[2019-02-01 08:13] dwijnand commented on #4536
(Ah, the eternal dilemma.  Is a feature interaction a bug fix or an enhancement...?)

[2019-02-01 14:21] vn971 commented on #228
@eed3si9n Thanks for the answer.
I'm not sure, there's also a weird specifics of my environment that I don't want to get into here, so best just to disregard this comment for now.

[2019-02-01 14:22] vn971 commented on #228
Thanks for the answer regardless...

[2019-02-01 15:03] olafurpg commented on #4536
Would it be possible to prompt the user whether to create build.properties?

[code]

I have several times accidentally started sbt in the wrong subdirectories (non-scripted) of my workspace and I have to delete the created `build.properties`.

[2019-02-01 15:13] dwijnand commented on #4536
Yeah, maybe.  I say maybe because we've had some problems in the past with trying to inform/interact with the user and also trying to detect interactive mode.

But that chance would probably be here: https://github.com/sbt/sbt/blob/v1.2.8/main/src/main/scala/sbt/Main.scala#L914

[2019-02-01 21:21] #4514 closed, assigned to nobody

[2019-02-01 21:40] eed3si9n commented on #4514
Should this be reopened based on https://github.com/sbt/sbt/pull/4527#issuecomment-459198959?

[2019-02-01 21:43] eatkins commented on #4514
No. My issue was that _none_ of the scripted tests would work prior to #4527. Those two tests that you had to disable were not what I was having trouble with.

[2019-02-04 15:29] bitnot commented on #3570
Having a similar issue with one of the multi-projects - getting `java.net.SocketException: Connection reset` on publish.
SBT 1.2.8, JFrog 6.5.13
Adding `-Dsbt.gigahorse=false` fixed it for us.

[2019-02-05 03:17] er1c opened #4540 "Windows sbt-launch-lib.bash doesn't allow home directory with spaces"
- [x] I've read the [CONTRIBUTING](https://github.com/sbt/sbt/blob/develop/CONTRIBUTING.md) guidelines

## steps

On Windows:

* Create an account with a space in it (e.g. `Eric Peters`)
* Install Windows Subsystem Linux (I've installed debian)
* Install java11 (this might also work for java9) - this problem doesn't appear with java8 code path in
* Set your home directory to your windows home dire

[2019-02-05 03:37] er1c commented on #4540
This is fixed if you change: https://github.com/sbt/sbt-launcher-package/blob/master/src/universal/bin/sbt-launch-lib.bash#L351

From: `${java_args[@]} \`
To: `"${java_args[@]}" \`

I have *zero* idea what other implications that has for the `java_args` though, it looks like potentially bad things...so actually that's a bad idea, but hopefully this helps narrow down the issue,

I might poke at it

[2019-02-05 04:34] er1c commented on #4540
This should be moved to https://github.com/sbt/sbt-launcher-package

[2019-02-05 04:34] #4540 closed, assigned to nobody

[2019-02-05 17:50] szeiger commented on #4009
Forking doesn't help. You still get a scala-library on the classpath.

I added the following debug code to our `CustomScalaCheckRunner` in the Scala 2.13 build which runs scalacheck with `fork in Test := true`:

[code]

This is the result:

[code]

The `ClasspathFilter` at the top of the chain contains the correct classpath for the tests but its parent is a `DualLoader` which has the unwanted scal

[2019-02-05 18:15] szeiger commented on #4009
This doesn't happen with our JUnit tests. Here's the scalacheck definition:

[code]

As soon as I add the `scalacheckLib` dependency to the JUnit project, it also fails. An exact copy of the `scalacheckLib` project with an empty source folder does not fail. Here's the debug output for this configuration:

[code]

Once I copy the actual scalacheck sources into that folder, it fails again. So the co

[2019-02-05 18:16] szeiger commented on #4009
OTOH, all the other projects it depends on are also Scala projects. I don't see anything special about `scalacheckLib` (with source files in it) that would make it different.

[2019-02-05 18:27] szeiger commented on #4009
OK, the problem is having a *test framework* in a dependent project (or in the actual test project as is the case for our `CustomScalaCheckFramework`). This causes the `scalaVersion` artifacts to be put on the framework's classpath even when they are not on any project's classpath (due to `autoScalaLibrary := false`)

[2019-02-06 08:13] arthurbryant commented on #3471
I Encountered the same problem.

First I update my macOS's java[Java for Mac OS Xのダウンロード](https://www.java.com/ja/download/mac_download.jsp) and turned out it only updates the JRE.

So I uninstall my SDK and manually update my SDK like @geoffwa said.
- [Installation of the JDK and the JRE on macOS](https://docs.oracle.com/javase/10/install/installation-jdk-and-jre-macos.htm#JSJIG-GUID-0071963E-D24

[2019-02-06 14:48] szeiger commented on #4009
I've done some more experiments with some strange results. Putting a new framework into the `scalacheckLib` project:

[code]

Adding it as a JAR to our existing JUnit test project and overriding the framework to only use the JumpstartFramework:

[code]

This runs the tests with the desired classpath, same as the plain JUnitFramework. But note the double initialization! First it is initialized with

[2019-02-06 15:39] szeiger commented on #4009
OK, here's what's happening:

1. The actual bug only affects non-forked tests. You get the correct classpath when running forked.
2. ...in theory, because even when running the tests forked, sbt still fully initializes a test Framework and Runner with the wrong classpath *before* forking.

The workaround is to use a proxy for the framework that does the initialization lazily:

[code]

The fingerpr

[2019-02-06 20:30] eatkins commented on #4009
@szeiger this is interesting. My WAG, so take it with a grain of salt, is that tab completions are what is causing the framework to be loaded twice. It may be possible to run the code for extracting the test class names using reflection to avoid loading the framework with the main application class loader. Either way, I reworked how class loaders are set up for run and test in https://github.com/s

[2019-02-07 07:09] abelmokadem opened #4541 "Building and publishing artifacts in a CI/CD environment"
- [x] I've read the [CONTRIBUTING](https://github.com/sbt/sbt/blob/develop/CONTRIBUTING.md) guidelines

## steps
This is what I thought a simple CI/CD pipeline for an SBT library would look like:
1. `sbt clean update compile test package`
2. `sbt publish`

Between step 1 and 2 some artifacts should be cached in order to ensure that publishing can happen with those same artifacts.

## problem
SBT f

[2019-02-07 14:43] szeiger commented on #4009
@eatkins Do I need to add a new bootstrap repository? sbt can't find that version.

[2019-02-07 18:23] eatkins commented on #4009
Oh, yeah, I think you might need sbt >= 1.2.4 for automatic nightly resolution: https://developer.lightbend.com/blog/2018-10-08-sbt-1-2-4-and-nightly-builds/

[2019-02-07 20:28] damache commented on #3311
is the work around for this to install with mvn and not depend on sbt?

[2019-02-08 12:53] ALPSMAC commented on #3570
I'm also seeing this issue.  Changing `updateOptions` didn't fix it for us under sbt 1.2.8, but setting `-Dsbt.gigahorse=false` did.  This is against Nexus 2 and Nexus 3.

[2019-02-08 13:16] KarelCemus commented on #4276
Any progress on a solution to this issue?

[2019-02-08 15:06] eed3si9n commented on #4541
@abelmokadem Thanks for the report. Is this something that you observe with any build, or some specific builds? It would be helpful if you have a reproducible project. In particular I am wondering if presence of Play or dynamic revision affect this.

[2019-02-08 15:08] eed3si9n commented on #4536
When you say "run in that scripted test" do you  mean running in the directory, without first copying it to `/tmp`?

[2019-02-08 15:33] dwijnand commented on #4536
That's right, people do that.  I'm fairly sure I've done it too, and had to clean up sbt's littering.

[2019-02-08 15:44] eed3si9n commented on #4536
Then sbt works as currently designed, so I don't think this is a bug (let's define this as _unintended behavior_), and I also disagree with the expectation. It's a minor inconvenience of an otherwise good behavior, and I think we should keep it stupid.

[2019-02-08 18:11] dwijnand commented on #4536
I think you'd have a leg to stand on if it were documented both that:
* running sbt in a scripted test is (strongly?) discouraged, and that
* setting sbt.version in scripted tests filters.

[2019-02-08 19:39] tpanagos commented on #3618
I tried all the above. Putting this (or something like it) into my build.sbt file is the only work-around that fixed the problem BOTH my local build (OSX) and on CircleCI (Linux).

[2019-02-11 06:43] abelmokadem commented on #4541
@eed3si9n because this is a private build I can't just share it with you as is. I will make something similar in either Travis or CircleCI so that you can see my issue. Thanks for your reply. 👍

[2019-02-11 12:42] szeiger commented on #4009
@eatkins Switching to 1.3.0-bin-20190203T202003 does not make a difference by itself. The framework still gets initialized with the wrong classloader. It does work when I switch to `ClassLoaderLayeringStrategy.Flat`.

[2019-02-11 20:41] eed3si9n commented on #3374
There might be a legitimate issue here (see for example https://github.com/sbt/sbt/issues/1697), but likely workaround is to use forking, so I am closing this unless there's more details we can act on.

[code]

[2019-02-11 20:41] #3374 closed, assigned to nobody

[2019-02-11 20:42] #4528 closed, assigned to nobody

[2019-02-12 02:40] eatkins commented on #4009
@szeiger thanks for reporting back. That is more or less what I was expecting. I can probably get this working before sbt 1.3.0 but, if not, it should be fixable in a minor release.

[2019-02-12 22:23] smarter opened #4543 "Incremental compilation is completely broken in 1.3 on Linux"
To reproduce this, I've created the simplest possible project and set build.properties to the latest sbt nightly: https://github.com/smarter/sbt-inc-broken

[code]

Turning on debug logs doesn't help much:
[code]

However, if I restart sbt, then `compile` succeeds without doing anything, right until I do `clean` once, then it's back to `compile` compiling everything all the time.

I've tried manua

[2019-02-12 22:35] eed3si9n commented on #4543
I am not seeing this on my machine.

[code]

### Java version

Not sure if it's relevant here, but this is my Java version:

[code]

[2019-02-12 22:39] smarter commented on #4543
@eed3si9n Strange, I can reproduce it everytime. Can you try doing a few cycles of clean, then compile, then compile ? And also restarting sbt a couple of times ?

My java is:
[code]

And I'm on Ubuntu 18.10 (are you on a Mac ?)

[2019-02-12 22:39] eed3si9n commented on #4543
I am on macOS. Note sbt 1.3 will use more native code via watcher to list the source code, and I think there's been issue reported on Linux https://bugs.java.com/bugdatabase/view_bug.do?bug_id=JDK-8145981 according to @eatkins.

[2019-02-12 22:41] smarter commented on #4543
Is there a way to turn off the new watcher to see if it's the culprit ?

[2019-02-12 22:41] smarter commented on #4543
Or just a way to get zinc to tell me what timestamps it thinks files have when it decides to invalidate stuff.

[2019-02-12 22:43] eed3si9n commented on #4543
[code]

I restarted sbt a few times with combination of with and without clean, and looks ok.

[2019-02-12 22:50] jvican commented on #4543
It looks like you guys are after the culprit. I just want to note that whatever is causing this is most likely not a change in zinc but in sbt.

[2019-02-12 22:53] eed3si9n commented on #4543
@eatkins Would `-Dsbt.pathfinder=nio` work around this?

[2019-02-12 22:54] smarter commented on #4543
@jvican is there a way I could check if the issue is specific to sbt or not ? E.g. could I get bloop to use the latest zinc and do the equivalent of sbt compile with it ?

[2019-02-12 22:59] jvican commented on #4543
Bloop uses its own fork of zinc so until I don't update it with the changes in 1.3 we couldn't confirm that. I'm reasonably confident this is not caused by zinc, though, because otherwise this change would have been caught immediately in our CI. I know for a fact too that sbt has made quite severe changes in the way it does IO/handles files.

If you want to 100% confirm if this is zinc's fault you

[2019-02-12 22:59] smarter commented on #4543
Doesn't seem to help here.

[2019-02-12 23:18] eatkins commented on #4543
This is very likely a bug in the ExternalHooks that I added back in September, not zinc. I have overhauled a lot of that code but it hasn't been merged yet. In the meantime, does the error persist if you set: ` Global / fileTreeViewConfig := FileTreeViewConfig.sbt1_2_compat(pollInterval.value, watchAntiEntropy.value) `?
That value is used by default for non-interactive sessions and in scripted tes

[2019-02-12 23:36] eatkins commented on #4543
Oh, there should be an even easier way to fix this: `set Global/externalHooks := None`.

[2019-02-12 23:40] smarter commented on #4543
That didn't work, but the same setting without the `Global /` part did work! https://github.com/smarter/sbt-inc-broken/commit/792e096042ec8f00c29d76de2c914a5146fbb1dd

That doesn't typecheck, `:= (_ => None)` does and also seems to work around the issue indeed.

[2019-02-12 23:40] smarter commented on #4543
@eed3si9n could you move this issue to the sbt repo ?

[2019-02-12 23:41] eatkins commented on #4543
The bug was probably introduced in this commit: https://github.com/sbt/sbt/commit/25e97f99f588d1ddc9bbd114740bfb25c2a955c6
The idea is that we use a global cache of file stamps so that zinc doesn't have to do io to figure out which files it needs to recompile. It's possible that zinc is writing stamps to the analysis file in a different format from how sbt is caching them. I should add debug loggi