[2012-08-29 15:24] #532 closed, assigned to nobody

[2012-08-29 15:35] harrah commented on #532
This was a timely report as the cache is the subject of my current work.  I was aware of some of this (see c7f6ce4aec211b605b17e88ad37a9c9bb9c8068f from yesterday) but not the problem with plugin descriptors overwriting themselves.  Thanks for the detailed analysis.

[2012-08-29 18:43] MasseGuillaume opened #534 "Stackoverflow simlink to /tmp"
to speed up sbt i added a symlink to /tmp

[code]

when I run sbt it give me a java.lang.StackOverflowError

this is the stack output

[code]

[2012-08-30 08:55] Kreinoee opened #535 "[organisation] and [organization] in ivy patterns behave like [orgPath] should in sftp and ssh resolvers."
I use the following resolver:

`Resolver.sftp("Cirque-ivy-repo", "daisyduck.cirque.dk") as (username, keyfile) artifacts
"/var/ivy/cirque-repo/[organization]/[module]/[type]s/[artifact]-[revision].[ext]" ivys
"/var/ivy/cirque-repo/[organisation]/[module]/ivys/ivy-[revision].xml"`

When i add the followin dependency: `libraryDependencies += "dk.cirque.util" % "cirque-util-concurrency" % "3.6.0"` it

[2012-08-30 16:08] crimsoncor opened #536 "ProjectRef no longer resolves correctly in 0.12.0"
As far as I can tell, the API for specifying ProjectRefs did not change between 0.11.3 and 0.12.0, but projects that use ProjectRef load fine in  0.11.3 and will not load at all in 0.12.0.  I've put together a minimal example here: https://github.com/crimsoncor/sbtBug that demonstrates the issue.

[2012-08-30 20:48] #536 closed, assigned to nobody

[2012-08-30 20:53] harrah commented on #536
I was working on this today in order to answer your email, realized it was a duplicate of #511, and that it was fixable.  It took a bit longer than expected, so sorry I didn't respond earlier to save you the trouble of following up.

[2012-08-30 20:54] #511 closed, assigned to harrah

[2012-08-30 20:57] harrah commented on #529
A gzip is not a zip, so extract wouldn't help even if it were public.  I assume you actually want a tar.gz, which the Java standard library doesn't implement support for.  A pull request for this is welcome.

[2012-08-30 20:57] #529 closed, assigned to nobody

[2012-08-30 21:19] crimsoncor commented on #536
No worries.  I looked in the bug DB and didn't see anything that looked similar.  When no one replied to the email, I figured no one else had run into the issue, so I made a simple test case.  Glad it got fixed.
Thanks!

[2012-08-31 08:21] jroper opened #537 "Show which file caused a ZipException in sbt.inc.Locate"
Java ZipExceptions suck, they don't tell you what file they happened in.  Please catch and rethrow with the filename so that further debugging can be done when they are encountered:

[code]

[2012-09-01 10:48] szeiger opened #539 "When using multiple test configurations without testGrouping, the wrong tests are run"
I am using this sbt build with the highlighted workaround for setting a dummy test grouping for both, the standard Test configuration and my own DocTest configuration: https://github.com/typesafehub/doc-example/blob/02836ed9901c7ebf5880ac7eae98b933f51238b9/project/Build.scala#L15-L18

Without these explicit testGroupings, the doctest:test command runs the same tests as the standard test command, i

[2012-09-01 12:35] vigdorchik commented on #539
I think when you just say `testGrouping <<= definedTests in Test map partitionTests`
you override testGrouping for all configurations to be a result of partitioning `definedTests in Tests`.  If you want the same function to apply to all configurations, just say `testGrouping <<= definedTests map partitionTests`. Otherwise you can detail the target on the left hand-side.

[2012-09-01 12:47] #537 closed, assigned to nobody

[2012-09-01 13:15] szeiger commented on #539
But even without any testGrouping for any of the configurations, the wrong tests are run.

[2012-09-02 17:41] vigdorchik commented on #539
Can you make a public repository that demonstrates the problem?

[2012-09-03 09:02] szeiger commented on #539
Ah, sorry, the original repo is private. You should be able to access it now. But the problem can also be reproduced with https://github.com/slick/slick. Just run doctest:test -> runs the correct tests for "doctest", then comment out both testGrouping lines in Build.scala, reload and run again -> now it runs the tests for "test" instead of "doctest".

[2012-09-03 09:31] alexanderdean commented on #529
Thanks - me talking about `extract` was a bit of a red herring; it was just a plain `.gz` file I wanted to download and expand.

Anyway, code attached. I tried to follow your existing conventions exactly.

[2012-09-03 09:38] alexanderdean commented on #529
Had a glitch in the first pull request. #56472bd is second time lucky...

[2012-09-03 11:22] vigdorchik commented on #539
Actually you only need the second setting `testGrouping in DocTest <<= definedTests in DocTest map partitionTests` but it's true, without it the code in sbt
https://github.com/harrah/xsbt/blob/0.13/main/Defaults.scala#L313
groups the wrong tests. I'm not sure about the fix though.

[2012-09-03 15:20] pysa opened #542 "Incorrect 404 error when accessing repo"
Hi,

When accessing a repository, if the host name can't be resolved, the error indicated by SBT is 404, which is not correct and is very misleading. The error message should indicate a DNS resolution problem.

By the way, I could not found any indication about how to setup DNS for SBT. I supposed it would work out of the box, but is does not. I am specifying :

resolvers += "repo-name" at "http:/

[2012-09-04 06:39] oolekk commented on #499
didn't work for me on sbt 0.12. any clue why?

[code]

[2012-09-05 23:33] ewiner opened #543 "TestEvent.error == null when tests are forked"
I'm trying to use a test reporting plugin (https://github.com/guardian/sbt-teamcity-test-reporting-plugin), but it's not working well when I've specified `fork := true`.  It looks like ForkMain just throws away the exception message for failed tests.  Even if it can't send the actual exception object back to the main SBT JVM, maybe it could toString the message and stack trace it and wrap it in a

[2012-09-06 16:14] docbrown opened #545 "SBT 0.13 build with SBT 0.12 stalls after hidden import warning"
When building the latest snapshot of SBT 0.13 with `sbt build-all`, the process appears to stall completely and doesn't even respond to Ctrl+C after this warning is issued:

[code]

[2012-09-06 20:06] harrah commented on #545
The compiler probably needs more memory.  I don't know what the minimum settings are, but my standard sbt script has:

[code]

[2012-09-06 20:06] #545 closed, assigned to nobody

[2012-09-06 20:13] harrah commented on #542
sbt doesn't need DNS set up for it specifically, although a proxy may need to be configured.  Please use the [mailing list](http://groups.google.com/group/simple-build-tool/topics) or stackoverflow.com for troubleshooting and show the full output that indicates the 404 and the wget command that is run.

[2012-09-06 20:13] #542 closed, assigned to nobody

[2012-09-06 20:19] harrah commented on #501
This was fixed in 74c07c64a78447274be47804a6f5f5019c571dab, which is in 0.12.1-RC1.  Use:

[code]

[2012-09-06 20:19] #501 closed, assigned to nobody

[2012-09-06 20:27] rktoomey commented on #501
Thanks so much!

[2012-09-07 08:44] vigdorchik commented on #543
@ewiner It would be nice if you could post a small example where this problem can be reproduced, so that we can include it as a test.

[2012-09-10 23:27] ewiner commented on #543
Sure thing.  Here's a test class:

[code]

and a corresponding build.sbt:

[code]

I haven't yet tested it against your commit...

[2012-09-11 06:57] vigdorchik commented on #543
Great, thank you. Your test showed that my commit doesn't work for scalatest, that throws an exception that is of an inner class. I'll try to rework it.

[2012-09-11 13:48] retronym opened #546 "[0.12.1-RC1] Published POM file includes sources and javadoc classifiers for inter-project deps"
Here's a sample project that demonstrates the difference in POM generation since 0.12.0.

https://github.com/retronym/sbt-source-bug

SBT 0.12.0

[code]

SBT 0.12.1-RC1

[code]

In my real project, this led to resolve errors by an upstream maven project.

[2012-09-12 18:35] #546 closed, assigned to harrah

[2012-09-13 09:34] kiritsuku commented on #417
This issue also affects eclipse plugin-development with Scala. After adding Scala nature to a eclipse plugin-project and calling the eclipse API errors are thrown. This could be fixed by adding explicitly some more dependencies to the plugin-project but because sbt doesn't tell one which dependencies need to be added, this is extremely impractical.

Little example: using a `org.eclipse.ui.editors.

[2012-09-17 07:17] oolekk commented on #499
this worked for me:

[code]

thx to Marko

[2012-09-18 21:34] muuki88 opened #547 "Unable to build with two identical artifact ids and different groupd ids"
I'm not able to build akka with sbt due to the following error:

[code]

There are two dependencies:
1. **commons-io:commons-io**
1. **org.apache.commons:commons-io**

And it seems that sbt can't handle both in the same build.

[Akka Pull Request](https://github.com/akka/akka/pull/589)
[Akka Ticket](https://www.assembla.com/spaces/akka/tickets/2524)

[2012-09-20 08:25] greenrd opened #548 "test-only should compile only files needed to run the selected test"
Currently, `test-only` tries to compile all the tests, which is inconvenient if some of the other tests currently aren't compiling and you just want to try something out to see if it works.

[2012-09-20 14:46] ericacm commented on #287
+1 - is this closed because it got folded into another issue, or?

[2012-09-20 21:26] glenviewjeff opened #549 "Running sbt results in “com.typesafe.sbteclipse#sbteclipse;1.4.0: not found”"
I'm running Windows 7 x64 cygwin.

I just installed the latest sbt for Martin Odersky's Coursera Scala class after a previous version was installed about a year ago.  First I tried removing the old version and using the msi installer.  It returned the below error upon running `sbt` from an empty directory.

Later I tried uninstalling the msi version and manually installing the (latest) `sbt-launch

[2012-09-20 21:33] glenviewjeff commented on #549
My older installation had an old version of the `sbteclipse` plugin installed.  I finally remembered that the `.sbt` directory on Windows is in the `C:\Users\`_`[username]`_ folder.

I edited the `build.sbt` file in the `C:\Users\`_`[username]`_`\plugins` folder and commented out the `sbteclipse` plugin line with `//`.  You could alternately delete the line if you'd rather.

[2012-09-21 09:20] xuwei-k commented on #549
it seems like not sbt bug.
I think you should use the [mailing list](http://groups.google.com/group/simple-build-tool/topics) or http://stackoverflow.com

[2012-09-21 11:36] glenviewjeff commented on #549
Please treat this as an incomplete error message defect and clarify the error message per Robin's suggestion from the Google group:

Robin Green
3:38 AM (2 hours ago)
Re: [sbt] Re: Error retrieving required libraries
Having experienced this before, I think sbt's handling of this situation could be improved, because it is confusing and seems rather fragile. Rather than just saying it can't find the

[2012-09-21 14:17] kscaldef opened #550 "poms with "eclipse-plugin" packaging do not propagate dependencies correctly"
See explanation in https://groups.google.com/forum/?fromgroups=#!topic/simple-build-tool/HReRqxmPE6Y

[2012-09-21 20:58] #550 closed, assigned to nobody

[2012-09-22 15:45] retronym opened #552 "Detect broken stdin and exit SBT"
JLine's UnsupportedTerminal returns an empty string when stdin is at EOF.

[code]

If the IntelliJ process is forcibly killed, the child SBT process receives an endless stream of "" commands.

https://github.com/orfjackal/idea-sbt-plugin/issues/17

Could we make a change like the following to SBT to exit in this case? If for some reason this isn't generally desirable, I could pass a system propert

[2012-09-23 00:03] zvozin commented on #499
To confirm, this works in SBT 0.12.0:

[code]

[2012-09-23 11:33] nartamonov commented on #407
I suppose this problem leads to _very_ annoy difficulties which are trivial in other build systems. For example, we haven't simple way to abstract over task 'run' with arguments: 'run arg1 arg2 arg3', so we could simply write 'runWithPredefinedArgs'. See https://groups.google.com/d/topic/simple-build-tool/tHvNHGSgZg4/discussion. In my practice this inconvenience force me to invent ugly hacks and s

[2012-09-23 13:20] vigdorchik commented on #552
How is EOF case distinguishable from user entering an empty string in this case?

[2012-09-23 13:58] retronym commented on #552
Yep, that's a problem. I had incorrectly thought we'd get back "\n" for the empty string; Mark clarified that for me on IRC.

At this stage, I think I'll patch the launcher to directly fix the problem in JLine (backporting https://github.com/jline/jline2/pull/1). I can include the patched launcher in idea-sbt-plugin.

[2012-09-23 19:59] #552 closed, assigned to nobody

[2012-09-26 08:59] dwijnand opened #554 "Enhance .sbt format"
Known problems and a proposal described on https://github.com/harrah/xsbt/wiki/Definition-Format-Enhancement.md.

Original title was "Add setting project id in build.sbt file".  Original description follows:

It really irks me when I see that my project (a single module project) is named "default-eb7f88", the workaround is that each and every sbt project I have has this project/Build.scala file:

[2012-09-26 18:42] dmakhno opened #555 "aggregate false for project-config-task axis doesn't work as expected."
SBT 12.1-RC2

I tried to use following:
lazy val root = project(".")
    .aggregate(sub, sub2, sub3)
    .settings( aggregate in (sub, IntegrationTest, test) := false)

it:test
Actual: => executes it:test and for sub.
Expected: it:test executed only for sub2 and sub3, and sub is only compiled.

I have a goal to prohibit some tasks from root project, due to specific nature of "it:test" for particul

[2012-09-27 17:42] xuwei-k commented on #554
How about this ?

[code]

in your `build.sbt`

[2012-09-27 18:08] dwijnand commented on #554
That's the project's name, which is different to its id..

On 27 September 2012 19:42, kenji yoshida notifications@github.com wrote:

[2012-09-29 02:15] mepcotterell commented on #548
+1 I'd like a fix for this too. I often create mock tests that don't compile right away. A fix for this would be awesome.

[2012-10-01 08:22] pvorb commented on #554
What's the difference?

[2012-10-01 08:35] dwijnand commented on #554
Two things (not the end of the world, mind you): The label in the sbt shell "Set current project to default-eb7f88" and the name of the module in IntelliJ.

[2012-10-01 08:56] pvorb commented on #554
OK. So maybe the real bug is that the IntelliJ plugin and the sbt shell don't use the name from `build.sbt`. @harrah Is there any reason for that?

[2012-10-01 15:48] rssh opened #556 "sbt version in apt-reporitry is not updated"
sbt version in apt-repository is not updated  (i.e. apt-get install sbt say-s. that 0.11.3 is the latest sbt version).

apt-cache show sbt
Package: sbt
Version: 0.11.3-build-0100
 .....
\
apt-get update
 ....

apt-get install sbt
Reading package lists... Done
Building dependency tree
Reading state information... Done
sbt is already the newest version.

[2012-10-05 05:53] pk11 opened #557 "too noisy output when fork in testing is turned on and tests are failing"
the console is full of "Cannot write to socket" noisy and unhelpful messages when tests are failing.

https://github.com/harrah/xsbt/blob/0.13/testing/agent/src/main/java/sbt/ForkMain.java#L109
it's coming from here but it does not really add anything useful

[2012-10-05 09:21] vigdorchik commented on #557
This message is present when the socket connection is broken and the agent cannot communicate tests results back to sbt, not when tests are failing. We have to figure out why the connection gets broken.

[2012-10-05 10:57] kschwank opened #558 ":cp in console breaks input when started from sbt (v 0.12.0)"
If I run "sbt" in an empty directory, then run "console" and at the console call ":cp" (with or without a path) the input is afterwards broken: It still seems to correctly understand "normal" character, although it won't echo them anymore, but special characters like BS don't work at all.

[code]

This is reproduceable in GNOME Terminal, xterm and on the login console and happens only if called fr

[2012-10-05 12:26] harrah opened #559 "API extraction: any type may be annotated"
The specification says only simple types may be annotated, but scalac allows any type (or at least compound types).  This comes up with the continuations, for example:

[code]

[2012-10-05 13:07] #559 closed, assigned to harrah

[2012-10-05 13:35] harrah commented on #558
This is a bug in Scala that is fixed in 2.10.0-M7.

[2012-10-05 13:35] #558 closed, assigned to nobody

[2012-10-05 13:36] harrah commented on #556
Please report issues with the native packages here: https://github.com/sbt/sbt-launcher-package/issues

[2012-10-05 13:36] #556 closed, assigned to nobody

[2012-10-05 13:38] harrah commented on #547
This was asked as a question on the mailing list: https://groups.google.com/d/topic/simple-build-tool/4ovt3BFdptA/discussion.  There was no follow up, so closing.

[2012-10-05 13:38] #547 closed, assigned to nobody

[2012-10-05 13:42] harrah commented on #554
The IntelliJ plugin bug is here: https://github.com/mpeltonen/sbt-idea/issues/136.  It is really an issue in sbt and anything done in the plugin is a workaround.  This can't be solved without enhancing the .sbt format.  It is a big change to modify the .sbt format.  It is being considered, but certainly won't happen before 0.13.0.

[2012-10-05 13:47] harrah commented on #549
Duplicate of #528

[2012-10-05 13:47] #549 closed, assigned to nobody

[2012-10-05 13:57] harrah commented on #555
`aggregate` set on a project `A` controls whether a task run on `A` is propagated to subprojects, not whether that project `A`

[2012-10-05 13:58] harrah commented on #555
Sorry, GitHub keyboard shortcuts kicked in.   In your case, the `aggregate` setting controls whether running sub/it:test is propagated to aggregated projects.  `sub` doesn't aggregate anything, so it doesn't do anything.  I would suggest creating your own task that depends on the tasks you want to run.

[2012-10-05 13:58] #555 closed, assigned to nobody

[2012-10-07 08:31] muuki88 commented on #547
I try to provide a simple standalone example, but this issue still remains :(

[2012-10-07 18:13] pk11 commented on #557
In case of play, this error message is shown only when a test is failing, hence my description. Since these are system errors, we can not even filter them out.

Please see an example below:

[code]

[2012-10-07 18:24] vigdorchik commented on #557
Aha, I see. The NPE at PlayTestListener.scala:60 nukes the thread that listens to the test results. Is the bogus code at PlayTestListener part of play or user code?

[2012-10-07 19:17] vigdorchik commented on #557
Ok, so play relies on 'error' being non-null. In the release 0.12.1 version it's null, and has been addressed in https://github.com/harrah/xsbt/pull/544
I think it's safe to integrate this change into the next 0.12 version, but in the meantime you can check for null error.

[2012-10-08 03:18] nbronson opened #561 "scala-actors dependency missing for latest scala-2.10.0 milestones"
scala.actors classes are no longer part of the scala-library dependency, they have been moved into to their own jar. The new dependency should be added to the pom files for scala versions >= 2.10.0-M6.

[2012-10-08 03:18] #561 closed, assigned to nobody

[2012-10-08 03:18] nbronson commented on #561
Sorry, opened this issue in the wrong tab

[2012-10-08 12:29] pk11 commented on #557
I see, I will modify our listener to avoid the NPE - Thanks! That said, I still believe the system errors "Cannot write to socket" printed on the console are just noise (the user does not benefit from them, since the exception is printed already)

[2012-10-08 15:01] bmjsmith opened #562 "sbt console fails to load terminal - Invalid terminal type: jline.UnixTerminal"
I'm running "sbt console" using 0.12.0 under cygwin on windows with scala 2.9.2, jdk 1.6.0_25.

I'm using the shell script supplied as part of the MSI, and TERM=xterm.

I get this output, and the terminal is fairly non functional (no local echo, ^D doesn't exit).

<code>$ sbt console
Getting net.java.dev.jna jna 3.2.3 ...
:: retrieving :: org.scala-sbt#boot-jna
        confs: [default]
        1 a

[2012-10-08 18:13] muuki88 commented on #547
https://github.com/akka/akka/pull/589#issuecomment-9217590

[2012-10-08 22:46] harrah commented on #554
I'll turn this bug into the general .sbt definition format enhancement bug.  The page describing one proposal is here: https://github.com/harrah/xsbt/wiki/Definition-Format-Enhancement.md.  It includes the various limitations of the .sbt format.  The proposal needs attention in the form of feedback, especially identifying problems, potential solutions, and expanding the specification.

[2012-10-09 03:26] jeremyjh opened #563 "watch-sources will trigger on hidden .swp files (vim swap files) by default"
Vim by default creates hidden swap files for temporary storage and recoverability. It creates these  by default in the file's directory with the name .{filename}.swp ; e.g. Foo.scala will have a .Foo.scala.swp .

sbt's test watcher will trigger on these files by default, so for example everytime I switch buffers a compile/test is triggered - this may be several times in a second if I page through

[2012-10-09 12:46] harrah commented on #563
By default, the watched files are `unmanagedSources` and `unmanagedResources`, which are your manually created sources and resources.  The definitions of those tasks ignore hidden files.  Perhaps a plugin is adding files to `watchSources` and it isn't ignoring hidden files?

[2012-10-09 12:46] harrah commented on #557
What is the conclusion?  Is there a bug in sbt that needs to be fixed?

[2012-10-09 13:04] vigdorchik commented on #557
I would say no. The message is printed directly to stdout only when the connection with the master in sbt process is lost, like in your example. In other cases the communication goes through master/agent socket. The master should not die, so maybe it makes sense to protect the calls to external methods. Still it's the client of API who should fix the problem in the first place. Also the request as

[2012-10-09 13:58] pk11 commented on #557
@vigdorchik What I am just suggesting is to get rid of `System.err.println("Cannot write to socket");` since it's not user friendly. As my example above demonstrates, it can pollute the output for no good reason (the stacktrace has all the useful information there)

[2012-10-09 14:00] pk11 commented on #557
@vigdorchik we did fix the NPE that triggered this error from our end but that does not change the fact that the message was not useful and other users can run into this as well.

[2012-10-09 14:21] vigdorchik commented on #557
@pk11 Your scenario when the agent cannot write to the socket may not be the only one. What the agent faces is that it cannot communicate the test results back to sbt, so it can only write to stdout. At this point it cannot write anything more meaningful, also writing nothing doesn't look right either, since there might be no other way to signal broken socket.

[2012-10-09 14:27] pk11 commented on #557
@vigdorchik there is an exception there as well - that's more than enough for a user. Anyway, I am not going to argue this further, if you do not consider the included output as bad user experience then we have to agree to disagree here.

[2012-10-09 14:57] dragos opened #564 "Crash: 'URI has an authority component' while processing dependencies"
I found this stack trace in my logs (using 0.13.0-SNAPSHOT):

[code]

The classpath contains UNC paths, like so:

`\\foo\dist\bar\sunjdk\1.6.0_31\exec\jre\lib\resources.jar;\\foo\dist\bar\sunjdk\1.6.0_31\exec\jre\lib\rt.jar;`

[2012-10-09 15:24] harrah commented on #557
I think you guys are talking past each other.  I doubt @vigdorchik would argue repeating the same message is helpful, but doesn't want to end up in a situation where there isn't an error message.  I don't think @pk11 would argue that no message should be output, but doesn't see why the same message needs to be repeated.  I don't really want to get into this, so I'd appreciate it if you guys would

[2012-10-09 16:15] vigdorchik commented on #557
I think we could avoid message duplication if we accept that once the socket is broken it's broken forever, so we can give up running further; also the message could be improved and could explicitly say the run has been aborted. @pk11 what do you think of such change?

[2012-10-09 16:15] pk11 commented on #557
that sounds perfect - thanks guys!

[2012-10-09 16:24] pk11 opened #565 "Forked tests and System.exit"
In order to make sbt's behavior consistent with regards to calling System.exit after executing tests, it would be useful if we could configure to call System.exit for the child process when executing tests in forked mode.

This mailing list thread provides some extra background:
https://groups.google.com/forum/?fromgroups=#!topic/simple-build-tool/z282ZDoMq14

[2012-10-10 06:44] greenrd opened #567 "Update documentation links in README to point to scala-sbt.org"
On the 0.12 branch, as well as the 0.13 branch, ideally.

[2012-10-10 06:49] greenrd opened #568 "Transfer 0.7.x documentation to scala-sbt.org"
It would need to be clearly labelled as documentation for 0.7.x versions only, and should retain links to the newer documentation, IMO. (Although since github docs have largely moved to scala-sbt.org, these should generally point to elsewhere on scala-sbt.org rather than the github wiki as they do now.)

[2012-10-10 06:50] greenrd opened #569 "Add prominent links to github wiki pages pointing to new scala-sbt.org pages"
As was previously done with the move from Google Code to the Github wiki.

[2012-10-10 08:29] dwijnand commented on #554
If possible, could you explain to me why setting the id in build.sbt is different from setting anything else (eg. name). Thanks.

[2012-10-10 12:39] #567 closed, assigned to nobody

[2012-10-10 12:39] harrah commented on #554
Yes, the ID is used when evaluating settings, so sbt needs to know it beforehand.  (Not sure if you want more details than that.)

[2012-10-10 12:41] harrah commented on #569
Done in wiki commits 8b6f67c and ee5acc2.

[2012-10-10 12:41] #569 closed, assigned to nobody

[2012-10-10 12:41] dwijnand commented on #554
That's what I assumed and just wanted to confirm that was the issue. Thanks

On 10 October 2012 14:39, Mark Harrah notifications@github.com wrote:

[2012-10-10 16:13] harrah commented on #568
The wiki contents are archived in HTML form at http://www.scala-sbt.org/0.7.7/docs/.  The Google Code wiki contents have been removed and now point to the equivalent page in the archive along with a notice that 0.7.7 is not maintained.  There are no links to the new documentation from the archived pages.  Instead, the archived docs are not indexed (via a <meta> tag)

Archiving code here: https://g

[2012-10-10 16:13] #568 closed, assigned to nobody

[2012-10-10 21:57] jeremyjh commented on #563
Yes it looks something like that. This build file is created by Play; it looks like its including all files if I understand this inspect output correctly. I don't see this problem using other build files. I'll ask them about it then, thanks for your help!

FYI this is what my inspect looks like:

[playtut] $ inspect watch-sources
[info] Task: scala.collection.Seq[java.io.File]
[info] Description:

[2012-10-10 21:57] #563 closed, assigned to nobody

[2012-10-11 19:43] vigdorchik commented on #564
The following code looks suspicious:
https://github.com/harrah/xsbt/blob/0.13/util/io/IO.scala#L77
I don't understand why URI is constructed from path.

[2012-10-11 20:04] harrah commented on #564
A URL with `jar` as its protocol has the form `jar:<url-of-jar-file>!/path/inside/jar`.  The linked code will extract `<url-of-jar-file>` and pass that to URI constructor.  Java is known to handle UNC poorly in certain cases, so that is one possible cause.  For example, http://bugs.sun.com/bugdatabase/view_bug.do?bug_id=5086147, but that was supposed to be fixed in Java 1.6.

[2012-10-12 02:21] inkytonik opened #572 "0.12.1 fails to initialise with aliased set commands in .sbtrc"
Environment: Mac OS X 10.8.2, Java 1.7.0_07

With 0.12.0 I was using the following ~/sbtrc file:

[code]

and all was ok. However with 0.12.1, running sbt in an empty directory with that ~/.sbtrc in place prevents sbt from initialising properly. I get this error:

[code]

A work-around is to load the project before setting the aliases by adding the following lines at the start of ~/.sbtrc:

[code]

[2012-10-12 17:24] harrah opened #573 "Document approaches to working with macros"
Because macro definitions need to be compiled separately from calls to the macro, it is beneficial to document how to configure projects to easily handle this.  There are several aspects that different users will want to configure differently, such as:
- whether the macro is published
- shared interfaces between the macro implementation and usage
- what is included in scaladoc
- merging the macro

[2012-10-12 19:43] retronym opened #575 "Add search box to doc site"
Ideally, this can be placed in in the header. It should direct to a site:scala-sbt.org Google search.

[2012-10-12 19:47] patriknw opened #576 "Load credentials file defined in System property"
I would like to see a standard system property for pointing to a credentials _file_ that is used during boot and project updates, and publish. This is convenient since you often need to externalize the credentials anyway. Also useful when using a corporate proxy with credentials to load everything.

[2012-10-13 01:33] paulp opened #577 "scalac option -uniqid causes sbt to lose its mind"
Another for agatha christie.  Here's a build.sbt:

[code]

And src/test/scala/run.scala

[code]

And:

[code]

If I take away -uniqid, it runs.  If I give give it -Ydebug instead, it runs.  Whatever is going on, "No main class detected" is a suboptimal error.

[2012-10-13 04:24] paulp commented on #577
It looks like it's your use of Symbol#nameString, which you shouldn't be using because it is for printing.  Like here:

[code]

That seems like a likely winner.

[2012-10-14 16:50] pwendell commented on #382
Does this mean that any project which depends on new repositories requires users to add those resolvers manually to the build? We (Spark) also depend on Typesafe - so basicaly this means we have to have people add typesafe manually to their resolvers in addition to specifying the dependency on Spark?

[2012-10-15 16:48] #572 closed, assigned to harrah

[2012-10-15 16:48] #577 closed, assigned to nobody

[2012-10-15 16:48] #575 closed, assigned to nobody

[2012-10-16 03:30] tsuckow opened #580 "SHA1 mismatch with dependency"
### steps
- `git clone git://github.com/eboto/scalaguice-sha-bug.git`
- `cd scalaguice-sha-bug`
- `./sbt update`
## problems

SBT fails to download dependencies located in a Jenkins instance on OpenShift (behind a reverse proxy)
## notes

This result is a SHA1 mismatch
expected=029e25a1fabca555561858d026c63d53588cb01a computed=cded8e55f194026e8fe860ed979993d44ee8ccb9

The computed sha changes occa

[2012-10-16 12:03] #557 closed, assigned to nobody

[2012-10-16 12:03] #565 closed, assigned to nobody

[2012-10-17 05:14] taylorleese commented on #546
I'm currently experiencing this same issue with 0.12.1 with a multi-project build. Any chance this fix does not apply to multi-project builds?

[2012-10-17 05:49] taylorleese commented on #546
Hmm, noticed your example project is also multi-project, but I'm still getting this with 0.12.1 (aka not RC1).

[2012-10-17 11:57] harrah commented on #546
A test case would be enough to reopen.

[2012-10-17 12:03] retronym commented on #546
I have noticed that using `withSources` in a dependency declaration exports the source dependencies in the POM.

This used to be the means to have SBT download sources for IDE integration, and is no longer needed. But even so, is this expected?

[2012-10-17 12:31] harrah commented on #546
I think it is expected.  sbt tries to be more faithful to the declarations in order to handle things like pom-only dependencies.

[2012-10-17 16:31] taylorleese commented on #546
I am using withSources so that would explain it. It seems awkward that would cause source dependencies in published poms though. Just not what I would expect and is a breaking change from 0.12.0. Regardless, I'll try removing withSources and see if it resolves my issue.

[2012-10-17 19:18] taylorleese commented on #546
Yeah, removing withSources made things work with 0.12.1.

[2012-10-17 23:54] inkytonik commented on #523
FYI, for the next Kiama release we will move back to JLine 1.0. The incompatibility with sbt is more of an issue for us than being with a slightly older than cutting edge JLine.

[2012-10-18 02:35] taylorleese opened #581 "Build fails if withSources() is omitted"
I have a build that is failing to find classes in a snapshot artifact if `withSources()` is omitted from the definition. I would leave `withSources()` in the definition except that with 0.12.1 (see https://github.com/harrah/xsbt/issues/546) that means a published pom would have an actual dependency on the source jar. Perhaps the issue has something to do with the fact that I have a dependency on t

[2012-10-18 03:06] taylorleese commented on #581
Alright, so if you run `sbt "show dependency-classpath"` you can see that without `withSources()` only the test dependency is included rather than both the standard dependency and the test dependency. That seems to be the issue.

[2012-10-18 09:28] asflierl opened #582 "AssertionError from MergeDescriptors"
Using sbt 0.12.1, the following produces an AssertionError during the "update" task:

[code]

Removing the "intransitive" from the 3rd line makes the error go away. This used to work with sbt 0.12.0.

Looking at the source of MergeDescriptors, this probably happens for other attributes (such as "changing"), too.

Here's the full stack trace:

[2012-10-18 19:34] eboto commented on #580
I'm the original logger of the issue @tsuckow just referenced. It's worth noting that [importing Salat seems to demonstrate the same issue](https://groups.google.com/forum/?fromgroups=#!topic/simple-build-tool/mxtQI-EPBjI).

Any idea what could be going on?

[2012-10-19 12:03] snopoke commented on #321
I'm also having the same problem and find it very frustrating having to manually clear out the cache to get ivy to see the changes. I'm still using 0.11.2.

[2012-10-20 00:02] pk11 commented on #565
Thank you!

[2012-10-21 10:12] everson opened #583 "Sbt recompiling unchanged files every time because of modified binary dependency"
[code]

It happens every times in a sbt session compile task is called. Even if called after a clean and ten times in a row.

the jce.jar file is untouched.

Stackoverflow question about this issue: http://stackoverflow.com/questions/12972183/sbt-always-does-full-rebuild-because-of-modified-binary-dependency-rt-jar

[2012-10-22 12:43] harrah commented on #583
Fixed by #584.

[2012-10-22 12:43] #583 closed, assigned to nobody

[2012-10-22 14:14] everson commented on #583
I am still getting this issue. Here is what I did, please let me know if I missed something:
1.   git clone git://github.com/harrah/xsbt.git
2.   git checkout v0.12.1
3.   applied patch to Incremental.scala
4.   sbt build-all ( Built OK)
5.   cp /usr/local/bin/sbt to /usr/local/bin/xsbt, updating jar to <xsbt>/target/sbt-launch-0.12.1.jar
6.   ran xsbt
7.   $ clean
8.   $ compile
9.   $ compile
10

[2012-10-22 18:19] harrah commented on #583
Using the same version as a stable release will confuse caches everywhere.  Bump the version to 0.12.2-SNAPSHOT or similar.

[2012-10-22 19:13] everson commented on #583
Great. Solved. Many thanks.

[2012-10-26 15:43] dragos commented on #564
I get the following error with the patched Sbt. I hope this helps:

[code]

[2012-10-29 10:04] ijuma commented on #565
I have an issue where SBT hangs while executing tests in forked mode if an exception is thrown during construction of the test class (using ScalaTest). Is it expected that this fix would solve that?

[2012-10-29 10:13] vigdorchik commented on #565
Yes, this change fixes the hang. Still it doesn't address the issue that the failure to construct one test framework should not influence running tests from the others. What exception do you get?

[2012-10-29 10:15] ijuma commented on #565
The stacktrace follows:

https://gist.github.com/3972753

[2012-10-29 10:17] ijuma commented on #565
Added a follow-up to the gist.

[2012-10-29 19:14] ghost opened #589 "NPE in sbt.IO$.isEmptyDirectory$1"
This stems from https://scala-ide-portfolio.assembla.com/spaces/scala-ide/tickets/1001229.

That is, I suspect, that the bug manifests itself while processing directories which return null on File.listFiles() call.

See also: http://bugs.sun.com/bugdatabase/view_bug.do?bug_id=4803836

Please fix, as it strongly influences working with the Scala IDE.

[2012-10-30 06:45] jroper opened #590 "Download artifacts in parallel"
It appears SBT doesn't download artifacts in parallel.  Consider the following
- Play framework has 3 repos by default
- In Australia, ping times times to maven/typesafe repos are 200ms (at least)
- If an artifact is not found in any repo (for example, when looking up source artifacts), that could total up to 6 round trips, or 1.2 seconds, just to ascertain that an artifact can't be found.
- Runni

[2012-10-30 10:51] vigdorchik commented on #590
If only ivy was thread-safe...

[2012-11-01 21:46] eboto commented on #580
Is this the right issue tracker? Does the project have another main issue tracker?

[2012-11-02 02:25] eed3si9n commented on #580
@eboto [faq](http://www.scala-sbt.org/release/docs/faq) states that only the confirmed issue should be reported to issue tracker:

Hopefully we can get some response on the ML thread from the developers soon.

[2012-11-02 02:52] eed3si9n commented on #580
Using the repro project I was able to reproduce the error on both 0.12.0 and 0.12.1. Here's the output:

[code]

The computed SHA1 changes between the runs, which is weird.

[2012-11-05 15:07] #564 closed, assigned to nobody

[2012-11-05 18:55] TheSultan opened #592 "Task progress listener"
I'm trying to update the SBT TeamCity plugin to properly indicate compilation errors, which requires publishing teamcity events when compilation starts and completes, essentially wrap compilation with a pre and post event. I tried to wrap the compile task to do this with something like this

compile in Compile <<= (compile in Compile) mapR {
        case Inc(inc) => TeamCity.teamcityReport("compil

[2012-11-06 16:35] jm-g opened #593 "Ctrl-C aborts sbt as a whole not the currently executed task"
It would be great to have some way to abort task while they are running without leaving sbt, e.g. a compile task. When I press Ctrl-C I am always back in the bash. That is on OS X.

[2012-11-08 00:58] TheSultan commented on #543
@vigdorchik I took this over from ewiner and tested the patch. It appears better but not quite right, and differs a bit depending on the test runner. We now get the exception message back but the stack trace is still from the test runner, not the underlying test. For scalatest this seems acceptable because it at least contains the original test stack inside its own but for junit it doesn't. Here a

[2012-11-08 07:57] wspringer commented on #279
I still have exactly this problem happening with fresh SBT installations (0.12.0) happening once in a while. Which is _incredibly_ annoying, since that's what our build servers do: they start with nothing but an SBT jar. BTW, if you just Google for this problem, you will find numerous people having this problem.

[2012-11-08 07:59] wspringer commented on #278
I keep seeing no solutions for this problem, just workarounds, and then the issue is getting closed. Perhaps rather leave it open then, since nothing seems to have been solved yet. (I still have it with 0.12.0.)

[2012-11-08 08:54] vigdorchik commented on #543
@TheSultan isn't it the problem with junit runner that doesn't wrap the original error inside its own?

[2012-11-09 14:08] hseeberger opened #594 "Global plugin as source nor working"
The docs (http://www.scala-sbt.org/release/docs/Extending/Plugins.html) say that one can define a global plugin as source:
A Plugin may be directly defined in Scala source files in ~/.sbt/plugins/, such as ~/.sbt/plugins/MyPlugin.scala. ~/.sbt/plugins/build.sbt should contain sbtPlugin := true.

That is not working. Interestingly using ~/.sbt/plugins/project/MyPlugin.scala, which would make more s

[2012-11-09 14:42] harrah commented on #594
Need reproducible test case as discussed on mailing list.

[2012-11-09 14:44] harrah commented on #593
Duplicate of #228.

[2012-11-09 14:44] #593 closed, assigned to nobody

[2012-11-09 14:46] harrah commented on #592
I have no immediate plans to work on it.  I will leave this open as an enhancement tracking that.

If your specific issue is getting the output just for compile, note that sbt has per-task logging and you can directly pull the logging for 'compile' after it has run.

[2012-11-09 15:06] hseeberger commented on #594
Providing the required information below. Please reopen.

Content of `~/.sbt-0.12/plugins/Util.scala`:

[code]

Content of `~/.sbt-0.12/plugins/plugins.sbt`:

[code]

Content of `Build.scala` of the project using the plugin:

[code]

Error message on loading sbt project:

[code]

[2012-11-09 15:47] harrah commented on #594
Thanks, confirmed.

[2012-11-09 18:48] TheSultan commented on #543
@vigdorchik not quite, the outputs are different but basically useless in both cases (i.e. the line number in scalatest is just the test class declaration, not where the test actually threw an exception). The main problem I'm seeing is that when forked, you're getting the stack trace from the test runner, not the test class itself. I'm trying to debug it to see if I can figure out why.

[2012-11-10 07:52] krasserm commented on #358
+1 on this. For all who are interested, a concrete workaround example is [here](https://github.com/eligosource/eventsourced/wiki/Installation#wiki-native).

[2012-11-10 17:03] TheSultan commented on #592
Ok. The main issue is that I want to be able to have a pre and post task to publish events such as compile started, finished etc to teamcity (I'm extending the TeamCity plugin test reporting plugin, https://github.com/guardian/sbt-teamcity-test-reporting-plugin, to provide better support for things like compilation failures etc). I tried doing this with task dependencies but the pre-task runs befo

[2012-11-11 00:02] #594 closed, assigned to harrah

[2012-11-11 17:24] daschl opened #595 "exclude() not working on transitive dependency"
Hi,

we ran into an issue when using a java dependency that uses netty 3.5.5 and play framework which uses 3.5.0. We tried to remedy this issue by excluding 3.5.5 from loading, but the setting is somehow ignored:

For example, when I do this:

[code]

then in the play dependency list netty still shows up with 3.5.5.

The fun thing is now, when I basically "invert" the whole thing like this (so to

[2012-11-12 11:38] harrah commented on #595
Please provide a self contained example that does not depend on Play.

[2012-11-12 11:39] #595 closed, assigned to nobody

[2012-11-12 19:43] harrah commented on #581
I attempted to reproduce this using this build.sbt with sbt 0.12.1:

[code]

`show dependency-classpath` and `show test:dependency-classpath` both appear to include the correct dependencies with or without `withSources()` or `changing()`.  (I'm not sure why `changing()` is present in your example, as SNAPSHOTs are already configured with `changing()` enabled.)

[2012-11-12 19:43] #581 closed, assigned to harrah

[2012-11-12 19:46] #589 closed, assigned to nobody

[2012-11-12 19:46] #582 closed, assigned to harrah

[2012-11-12 19:57] harrah opened #597 "Tail recursion not optimized in ForkTests.react"
As noted in https://gist.github.com/3972753 (relevant stack trace copied below), referenced in #565, and fixed in e1c3240e.  The fix is a workaround for SI-6526.

Stack trace:

[code]

[2012-11-12 19:57] #597 closed, assigned to harrah

[2012-11-13 02:24] #573 closed, assigned to harrah

[2012-11-13 06:13] asflierl commented on #582
Thank you.

[2012-11-13 12:50] harrah commented on #582
I forgot to repeat part of the commit message here: "This avoids the assertion, but note that Ivy is unlikely to work properly in this situation."  Unless I did something wrong while testing, it doesn't look like the test dependency was actually treated as intransitive in 0.12.0.

[2012-11-13 17:52] vigdorchik commented on #543
@TheSultan how is the output above generated? If it is through printStackTrace, then I have an explanation that printStackTrace in java.lang.Throwable doesn't use serialized stacktrace, and delegates to other private method.

[2012-11-13 18:21] asflierl commented on #582
Thanks for the warning, I'll see what effect it'll have.

[2012-11-13 20:10] OlegYch opened #598 "Invoking an alias should display the original command"
E.g. if i have
alias gip= idea with-sources=yes sbt-classifiers

and invoke

it should display

Otherwise it might be confusing if alias has an error
 $   gip
[error] Expected whitespace character
[error] Not a valid project ID: gip
[error] Not a valid configuration: gip
[error] Not a valid key: gip (similar: skip)
[error] gip
[error]    ^

[2012-11-15 15:16] harrah commented on #543
Yeah, looks like printStackTrace skips getStackTrace and goes right to the private getOurStackTrace.  Thanks!

[2012-11-15 15:16] #543 closed, assigned to nobody

[2012-11-15 15:32] harrah commented on #598
This is reasonable, but requires some changes to the underlying parser combinator library.  The parser library automatically generates errors based on the real input and there would have to be special support for switching the input context or something.  I won't get to this soon, but can certainly help guide a pull request.

[2012-11-16 20:34] TheSultan commented on #543
Gents, to confirm
a) Yes, that output was generated via printStackTrace as the Teamcity test output plugin uses that.
b) Your fix appears to work for us now, thanks

[2012-11-19 17:08] justjoheinz opened #601 "use eclipse update site resolvers..."
Ivy supports using eclipse (p2) update sites as repositories and it would be nice if you could add this feature to sbt.

[2012-11-19 20:23] TheSultan commented on #592
Ping, any recommendation on how to achieve the above reliably?

[2012-11-21 16:49] ghost opened #603 "sbt should reject projects with dependencies on multiple versions of the same artifact"
I recent was bitten when a project had a direct dependency on one version of an artifact, but an indirect dependency on a different version of the same artifact. The result was to silently place the indirect dependency on the classpath, leading to extremely difficult to diagnose compilation errors.

IMHO, sbt should refuse to accept a project definition in such cases, and provide helpful diagnosti

[2012-11-21 17:29] markkolich commented on #603
+1

It would be nice to be warned about such conflicts, if not natively from SBT maybe via a plugin.

It's my understanding you can use the "exclude" directive to exclude an indirect dependency pulled in by a direct dependency but you have to ~know~ to do that &mdash; there's no automatic conflict warning afaik stating "SBT has resolved all dependencies, and btw, you have (2) versions of the same

[2012-11-22 03:33] harrah commented on #601
I know little about p2 update sites and Ivy support for them, so the more information you can provide the better.  If it is just a matter of providing an sbt wrapper around a specific Ivy resolver, consider submitting a pull request.

[2012-11-22 03:36] harrah commented on #603
Some quick notes:
1. This behavior is configured via a conflict manager.
2. The default conflict manager selects the latest revision.
3. There is a strict conflict manager that does not allow conflicts.  It is rather unlikely this would be the default any time soon, just because too many people expect conflicts to be auto-resolved and I'm not sure what it does to the transitive library situation.

[2012-11-24 17:18] ghost commented on #603
Mark, this is awesome information, thanks!

One FYI: I have to roll d20 to disbelieve point 2; I very definitely was getting compiles against an indirectly-depended-upon old version of an artifact I had a direct dependency on a newer version of. I'm perfectly prepared to believe that's due to an Ivy2 bug.

Personally, I would love the information about configuring the conflict manager and warnings

[2012-11-25 20:50] retronym opened #604 "add task to compile selected files with custom options"
Along the lines of:

https://github.com/retronym/scratch/blob/master/20111022/project/CompileQuickPlugin.scala

[2012-11-26 08:37] Blaisorblade commented on #604
Until this gets properly done, I'm trying to use your original task. Of course it didn't compile any more, but I managed to make it minimally work again [1]. Here's my result, for 0.12.0:

https://github.com/ps-mr/LinqOnSteroids/commit/1c9deb1059ae20a22629199244d6a41112df8d0d

I'm submitting this, hoping that it either helps, or that you save me from the horrible mistakes I made.

[1]

[code]

[2012-11-26 14:10] harrah commented on #603
I'd probably need to see an example to comment more on the issues with resolution picking an older version.  There are two situations that I know of that could be problematic, though.  First, Scala is treated specially for various reasons and conflicts there may be automatically resolved to be `scalaVersion`.  Second, because of limitations of the pom format, cross versioning has to modify the mod

[2012-11-29 07:54] hrjet commented on #407
I am here for the ability to define a task for `run arg1 arg2 arg3`. The reason I need to define this task is so that other tasks can depend on it. I don't want to use hacks, so I am forced to use a Makefile for it!

[2012-12-03 15:26] dimgel opened #606 "'run-main' should be excluded from aggregation, just like 'run' is."
Mark Harrah's suggestion: https://groups.google.com/d/msg/simple-build-tool/iCCuekP2ouE/xQYXGREQHkYJ

[2012-12-03 15:49] harrah commented on #606
Fixed in 495e7c6f624e8e02b0386997b9e2f1d2bc261e15.

[2012-12-03 15:49] #606 closed, assigned to nobody

[2012-12-06 00:11] adriaanm opened #609 "allow customizing apiExtractor's phase"
it seems more consistent to extract the api after picklers, since that way we'll see the same symbol information/structure whether we were typechecking from source / unpickling previously compiled classes

let's make the phase customizable in 0.12.2 and evaluate setting it to picklers by default in future versions of SBT

as soon as I figure out how to test my patch, I'll submit a PR for this issu

[2012-12-06 00:26] adriaanm opened #610 "stable representation for typerefs to refinement classes"
goal:

a representation of type references to refinement classes that's stable across compilation runs (and thus insensitive to typing from source or unpickling from bytecode)

problem:

the current representation, which corresponds to the owner chain of the refinement:
1. is affected by pickling, so typing from source or using unpickled symbols give different results (because the unpickler "local

[2012-12-06 12:26] harrah commented on #610
Can you give an example of the problematic source code?

[2012-12-06 15:42] harrah commented on #520
`junit-interface` defines both `RunWith` and `Test` annotations as fingerprints.  When a class has both, sbt calls junit-interface twice with the definitions `TestDefinition("RunCukesTest", AnnotationFingerprint("RunWith"))` and `TestDefinition("RunCukesTest", AnnotationFingerprint("Test"))`.  It seems that the `RunWith` variant passes and the `Test` variant fails.  Because the results are collect

[2012-12-06 15:45] harrah commented on #520
So, ideally sbt would pass all fingerprints for a test at once.  The test interface doesn't allow this.  Another possibility is to just select the first fingerprint according to the order returned by the test framework.

[2012-12-06 15:54] adriaanm commented on #610
More details here: https://issues.scala-lang.org/browse/SI-6596

[2012-12-06 15:58] szeiger commented on #520
If by "passes" you mean that it doesn't actually run the test (thus not "failing" it), yes, that is correct. Without improvements to the test-interface which allow junit-interface to see all tests and once and then decide what to run, I see no way of changing that in junit-interface. (For the current test interface, the changes you propose should allow me to work around the issue, too)

[2012-12-06 16:03] harrah commented on #610
Ok, proposed fix seems reasonable.

[2012-12-06 17:16] #520 closed, assigned to nobody

[2012-12-06 23:57] adriaanm commented on #609
I was targeting the wrong release / environment. The requesters of this enhancement are using 0.13 from the IDE. Investigating whether system properties are a valid means of communication here.

[2012-12-07 00:03] harrah commented on #609
It shouldn't be a problem.  I'll cherry-pick it where it needs to go.  I'm fine with pickler being the new default, in which case I don't think it wouldn't matter whether system properties are ok.  The system property just gives us a workaround if a problem is found after final.

[2012-12-07 00:04] adriaanm commented on #609
awesome -- thanks! I'm happy to submit a PR to the 0.13 branch with that fix

[2012-12-07 00:05] adriaanm commented on #610
I'll submit a PR to 0.13 and let you cherry pick for 0.12.2 if so desired.

[2012-12-07 00:08] harrah commented on #609
Do you think it should be included in 0.12.2?  I thought so, since so far it fixes problems with no known issues yet, right?  PR on either branch is fine and I'll cherry-pick it wherever we decide it should go.

[2012-12-07 00:09] harrah commented on #609
Also, do we have a test case that fails without this?

[2012-12-07 00:12] adriaanm commented on #609
Unfortunately, I don't have a repro as we couldn't narrow it down from the huge codebase on which this was causing trouble.

[2012-12-07 00:15] harrah commented on #609
Ok.

[2012-12-07 00:21] adriaanm commented on #609
It was verified to solve the spurious recompiles they were seeing, though. The behavior was prompted by a custom phase that was adding symbols after typers but before pickler, which seems like a reasonable thing to do.

[2012-12-07 00:50] #610 closed, assigned to nobody

[2012-12-07 00:50] #609 closed, assigned to nobody

[2012-12-07 00:53] harrah commented on #609
Ok, I won't merge it into 0.12.2 then.

[2012-12-08 00:00] ebolinger opened #614 "Default sbt script does not support commands with quotes."
sbt-version is 0.12.0

The [documentation](http://www.scala-sbt.org/release/docs/Getting-Started/Running.html) says:

But running "sbt run-main MyWebApp" fails with this message:

If the '-d' debug option is used, it is clear that the quotes are ignored or stripped along the way.

**FIX**

The last line if the sbt script needs double-quotes around the $@ argument, like this:

run "$@"

The script

[2012-12-08 15:23] jsuereth commented on #614
This has already been opened against the appropriate project:  https://github.com/sbt/sbt-launcher-package  and I believe a fix is in place, which will be included in the next release.

Thanks for the report!

[2012-12-08 15:23] #614 closed, assigned to nobody

[2012-12-10 02:42] gkossakowski opened #616 "Spurious recompilation due to EXISTENTIAL not being pickled"
See https://issues.scala-lang.org/browse/SI-6692 and https://groups.google.com/d/topic/simple-build-tool/Anumu_erCVY/discussion for more details.

I created this ticket to track (possible) fix/work-around for this problem on sbt side.

[2012-12-10 17:52] gkossakowski opened #620 "Spurious binary dependencies on case insensitive file systems"
This is an interesting bug. Let's start with code example.

[code]

[code]

Now, during the phase when binary dependencies are being extracted sbt iterates over all symbols registered as dependencies and tries to locate class files corresponding to them. Symbol corresponding to package `test.nested` is recorded as dependency so sbt tries to locate class file corresponding to a package (_not_ packa

[2012-12-11 00:14] adriaanm opened #622 "prominent warning when depending on "binary" Scala version"
scenario:
1. you have a project using scala 2.10.0 with a lot of dependencies, some cross-versioned in full (2.10.0), others depending on (2.10)
2. we release 2.10.1
3. you depend on a new version of a binary-versioned dependency
4. you don't realize you should also make sure to bump your scalaVersion to 2.10.1
5. that newer version is missing a method --> NoSuchMethodError
6. sadness

I think it

[2012-12-11 19:41] #620 closed, assigned to nobody

[2012-12-12 18:34] adriaanm opened #623 "use 2.9.3 in inc-pickled-existential test"
since 2.9.3 will have a fix for https://issues.scala-lang.org/browse/SI-6692,
https://github.com/harrah/xsbt/blob/0.13/sbt/src/sbt-test/compiler-project/inc-pickled-existential/pending

will start to pass with 2.9.3

(assign to @gkossakowski)

[2012-12-15 08:29] MasseGuillaume commented on #52
@harrah what if you accidentally add and push local.sbt ?

[2012-12-16 00:12] jibbers42 opened #625 "Multi-line prompt text offset issue"
When using a multi-line prompt, such as below, text will appear offset to the right and duplicated when up arrowing through history or doing tab completion. Also, at this point the text cannot be deleted.

I'm a huge fan of the multi-line prompt as it give a consistent text entry location and also clearly delineates the command history.

I'm using sbt 0.12.1 on Ubuntu 12.04

[code]

[2012-12-16 17:53] Blaisorblade opened #626 "Can one make SBT use custom scala-reflect.jar?"
While scala-library and scala-compiler are hardcoded to be looked up in scalaHome, that does not extend to scala-reflect, and it's not clear how that works with other scala-provided JARs. This will become a more pressing problem as more and more of the library is modularized.

It seems that `scala-library` and `scala-compiler` are hardcoded to use a different lookup mechanism, which considers `sca

[2012-12-16 18:47] Blaisorblade commented on #604
Hm.  The code attached above doesn't work with test:compile-quick. The first bug is `compileInputs in Compile` instead of `compileInputs in conf`, but fixing that doesn't seem enough.

[2012-12-16 23:11] harrah commented on #52
@MasseGuillaume You can add it to .gitignore or use other version control hooks/techniques to avoid that.  Note that this feature got implemented and it can be used to specify credentials or other user-global information as requested.

[2012-12-16 23:14] harrah commented on #623
Isn't this covered by #616?

[2012-12-16 23:23] harrah commented on #625
I would guess that JLine gets confused.  A possible workaround is to have sbt split the string into lines and print out all but the last one itself.  The last one would be given to JLine as usual.  A pull request is welcome.  The place to modify it is here:

https://github.com/harrah/xsbt/blob/0.13/util/complete/src/main/scala/sbt/LineReader.scala#L44

[2012-12-17 01:19] harrah commented on #626
The linked examples of hardcoding don't apply to the situation here.  One is for excluding Scala libraries, which is no longer used and the underlying code may be deprecated at some point.  The other is for pulling in the compiler so that scalac and scaladoc can be invoked and it isn't used when scalaHome is set.  Although it would be possible to allow the user to specify the module names for the

[2012-12-17 01:19] #626 closed, assigned to nobody

[2012-12-17 02:06] adriaanm commented on #623
the test is currently using 2.9.2, but fails there -- it'll start passing in 2.9.3

[2012-12-18 14:24] harrah commented on #623
#616 was opened to see if a workaround on the sbt side is possible, since sbt is stuck on 2.9.2 and won't get the fix in 2.9.3.

[2012-12-19 01:16] adriaanm commented on #623
When working on the fix, I tried switching to 2.9.3 and it worked for me. I'm not talking about compiling sbt with 2.9.3, just using 2.9.3 to compile the test case, as it is essentially testing a bug in the compiler that's fixed in 2.9.3

[2012-12-20 01:05] stephenjudkins commented on #213
Is there a Scala issue open for this? Should there be?

[2012-12-20 14:36] harrah commented on #625
Fixed in f7031502e4bb31d55d514e73613f6f4761232808.

[2012-12-20 14:36] #625 closed, assigned to nobody

[2012-12-20 14:42] harrah commented on #213
There isn't a Scala issue that I know of.  There is the more general issue of unused imports of packages, which probably would not be a scalac-only fix.  I wouldn't open a Scala issue until someone works on the sbt side and confirms the work needed on the scalac-side.

[2012-12-20 15:39] harrah commented on #626
It seems the primary resolution wasn't communicated well, sorry.
1. Scala handling in general was already improved in 0.13.
2. This bug was accepted as the triple Bug+Enhancement+Documentation and was addressed in d156ccfe4efec7ea249869a5a493f1fbe773da58.
3. The expected behavior is now documented on the [Configuring Scala](https://github.com/harrah/xsbt/blob/0.13/src/sphinx/Detailed-Topics/Config

[2012-12-21 23:42] LeifWarner opened #628 "Run tasks named on command-line in parallel"
So I could say `sbt test doc downloadStuff` or whatever, and downloadStuff, which doesn't have a dep on the other tasks, could start running while the code is being compiled, tested, artifacts published, whatever.

We run groups of tasks like this from the command-line on our continuous integration server (Jenkins).

[2012-12-25 03:18] PinkyJie opened #629 "sbt's default repository is blocked in China"
Sbt's default repository http://repo.typesafe.com/typesafe/ivy-releases/ is blocked by GFW in China. When I try to execute the command 'sbt', it keeps downloading the jars needed for booting.

So, is there any other repositories that sbt can use?

[2012-12-25 11:27] kul commented on #436
haha :+1:  for the workaround...wouldnt have thought of that

[2012-12-25 15:59] xuwei-k opened #630 "Can't change the "test" filename of scripted-test"
I want to use different filename. Because Play2.0 has **test** directory in top level by default.
But current sbt does not configurable **test** filename.

https://github.com/harrah/xsbt/blob/v0.12.1/scripted/sbt/ScriptedTests.scala#L19
https://github.com/harrah/xsbt/blob/v0.12.1/scripted/sbt/ScriptedTests.scala#L54
https://github.com/harrah/xsbt/blob/v0.12.1/scripted/plugin/ScriptedPlugin.scala#L

[2012-12-31 21:44] harrah commented on #630
The scripted framework isn't that sophisticated and I'm not sure how to keep it that way and allow configuring the name.  Maybe it could also look for files with some extension.  A pull request would be accepted, but perhaps it is reasonable for you to make the Play project a subproject, which wouldn't need a top-level test/?  You might be able to override the name of that directory as well (possi

[2012-12-31 22:38] harrah commented on #629
There aren't alternative repositories, but there haven't been any problems so far.  What is a specific URL that is blocked and can you run a traceroute?  (You can send this directly to me if you prefer.)

[2013-01-03 07:58] ghost opened #632 "How to Group Sbt Application.conf settings for different apps - Is this Possible? If so What is the Best Approach?"
I have a gateway server which communicates with sms, email, database and asp.net servers that has different versions running on different ports. This gateway then sends various responses to different apps. My problem is in application.conf

Current implementation is as below:

app1config{
# Common Settings

Server1Port
Server2Host
Server3Path
Server3Host
Server3Port
# Unique Settings

app1Config's

[2013-01-03 14:31] harrah commented on #632
Please do not use the bug tracker for questions.

[2013-01-03 14:31] #632 closed, assigned to nobody

[2013-01-07 20:20] harrah opened #634 "Document exclude-classifiers file and make it per-user"
The exclude-classifiers file remembers when classified artifacts don't exist.  It is critical for users with certain repository proxies or with large numbers of resolvers.  Because sbt synchronizes on Ivy globally anyway, it should be made global and be located in `~/.ivy2/cache/exclude-classifiers`.  The documentation will be helpful to users of existing releases, while the change to be global ca

[2013-01-07 20:22] harrah opened #635 "Disable persistence of Ivy debug logging"
For an `update` with a full cache, persisting the debug logging from Ivy can take 20% of the total time.  Either the persistLogLevel in update and related tasks should be Level.Info or the debug logging should be reduced if possible.

[2013-01-07 20:26] harrah opened #636 "Eliminate or make configurable check for main artifact for packaging="pom""
Poms with a packaging of “pom” normally do not have main artifacts.  If one exists, however, Maven will get it.  Therefore, during a normal update, Ivy checks whether a main artifact exists for a “pom” packaging exists, but it usually doesn’t.  This can add a substantial time to resolution.  It is not clear what the specified behavior is and whether this check is enabled by default depends on that

[2013-01-10 08:55] PinkyJie commented on #629
Finally I use a proxy, it works.

[2013-01-10 08:55] #629 closed, assigned to nobody

[2013-01-10 21:34] #635 closed, assigned to harrah

[2013-01-10 21:34] #634 closed, assigned to harrah

[2013-01-10 21:54] harrah commented on #554
This is close to being resolved with the latest changes to the .sbt format, which are described at http://www.scala-sbt.org/snapshot/docs/Community/ChangeSummary_0.13.0.html#sbt-format-enhancements.

The main remaining problem is this.  sbt creates a default project when there are only .sbt files and it is this default project that has the random ID described in this bug.  If the user defines Proj

[2013-01-11 16:27] galderz opened #637 "ZIP dependency SNAPSHOTs not being updated in 0.12.1"
I'm using SBT 0.12.1 and I'm seeing ZIP artifact based SNAPSHOT dependencies not being updated, even after executing 'update'. Example:

Dependency:
    "io.escalante" % "escalante-dist" % "0.2.0-SNAPSHOT" artifacts(Artifact("escalante-dist", "zip", "zip")),

I first updated the dependency on 10th December and I've just updated it yesterday, 10th of January. Looking at my .ivy folder I see:

[code

[2013-01-11 21:01] #467 closed, assigned to harrah

[2013-01-11 21:01] #603 closed, assigned to harrah

[2013-01-11 21:01] #636 closed, assigned to harrah

[2013-01-14 22:27] paulbutcher opened #639 "sbt should warn about duplicates with inconsistent cross-version suffixes"
If a project depends upon inconsistent versions of an artefact, where those artefacts have different cross-version suffixes, no warning is generated. This can be confusing.

See this thread for an example:

https://groups.google.com/d/topic/simple-build-tool/mRz46WKqVok/discussion

[2013-01-15 13:04] mvfranz opened #641 "sbt SNAPSHOT dependency with classifiers not updating"
I have a dependency on two jars, one with a classifier and one without.  When a new SNAPSHOT version is published the jar with the classifier is not updated in my local Ivy cache.

Steps to reproduce:
1. setup my project dependency
libraryDependencies += "group" %% "artifactA" % "1.0.0-SNAPSHOT" withSources() classifier("test") classifier("")
2. sbt update -- project is updated and both the jars a

[2013-01-15 13:48] #637 closed, assigned to harrah

[2013-01-15 13:48] #639 closed, assigned to harrah

[2013-01-15 13:50] harrah commented on #641
Fixed in 0f28164b53c2e68f39036c602c9a71836c4be017.

[2013-01-15 13:50] #641 closed, assigned to harrah

[2013-01-15 13:50] harrah commented on #637
Probably the same as #641.

[2013-01-16 10:54] dragos opened #642 "Spurious full-project recompilation after whitespace change"
After adding a space on [line 19 in this file](https://github.com/scala-ide/scala-ide/blob/master/org.scala-ide.sdt.core/src/scala/tools/eclipse/hyperlink/text/detector/BaseHyperlinkDetector.scala#L19) triggers a full recompilation of my project, in three steps.

I'm using a nightly Scala IDE for 2.10.0, with an Sbt build off 0.13, hash `935267b96b28bd0ae5c21c90923cb8ecf21c0b48`.

The (huge) log f

[2013-01-16 15:27] #439 closed, assigned to harrah

[2013-01-16 15:42] galderz commented on #637
Thx @harrah, very quick! :)

[2013-01-16 17:52] gkossakowski commented on #642
@harrah FYI: I'm looking into that today.

[2013-01-16 22:25] gkossakowski opened #643 "Provide compilation progress tracking in incremental compiler"
The following commit:

https://github.com/JetBrains/intellij-scala/commit/b8014c0

that uses `AnalysisCallback` to track progress of compilation suggests that we are lacking the necessary API in incremental compiler or it's not easy to discover one.

See also:

https://issues.scala-lang.org/browse/SI-6985

[2013-01-17 02:30] pvlugter opened #644 "Allow passing of analysis store through external compile interfaces"
Zinc bypasses the IC API and uses AggressiveCompile.compile1 directly so that it can pass in an AnalysisStore. This is needed for complete control of a static cache for analysis stores.

[2013-01-17 08:16] gkossakowski commented on #642
@dragos: just to make sure, you are using Scala compiler from 2.10.x branch, right?

[2013-01-17 12:59] dragos commented on #642
Scala 2.10.0, **not** 2.10.1-SNAPSHOT.

[2013-01-18 07:47] gseitz opened #645 "Generating a pom.xml with multiple dependencies with extra attributes is inconsistent with parsing it"
If there is more than 1 dependency with extra attributes, the attributes are rendered in the `<extraDependencyAttributes>` tag in the generated `pom.xml` (see [`makeProperties`](https://github.com/sbt/sbt/blob/0.13/ivy/src/main/scala/sbt/MakePom.scala#L101)).
The attributes for different dependencies are separated by `\n`.
However, the XML for the pom is processed by `scala.xml.PrettyPrinter` [her

[2013-01-18 11:16] galderz opened #646 "SBT plugin SNAPSHOT not updated"
My SBT plugin SNAPSHOT does not seem to be get updated with SBT 0.12.1:

I've pushed a new update to:
https://repository.jboss.org/nexus/content/groups/public/io/escalante/sbt/sbt-escalante_2.9.2_0.12/0.1.0-SNAPSHOT/

But, the debug log of update (after doing: reload plugins) shows:
https://gist.github.com/4563950

I have resolvers set in the project/build.sbt as:

[code]

Why are the resolvers I'

[2013-01-18 11:34] galderz commented on #646
As a side note, if I face similar problems, how do you manually remove the SNAPSHOT dependency in a safe way without nuking `.ivy2/local` and `ivy2/cache` ?

[2013-01-18 11:55] vigdorchik commented on #643
It's not part of 0.12, but it's there:
https://github.com/sbt/sbt/blob/0.13/interface/src/main/java/xsbti/compile/CompileProgress.java

[2013-01-18 13:13] galderz opened #647 "Property in pom's version field results to wrong dependency resolution"
(I'm going to edit this report so it's easier to review it @eed3si9n)
## steps

Create the following directory structure:

[code]

Here's `build.properties`:

[code]

Here's `build.sbt`:

[code]

and here's `sbt-launcher-script.sh`:

[code]

(The script needs to be changed depending on where your jar, `fakebase/`, and `fakeivy/` are)

`chmod +x` and run the script:

[code]

Next, run `compile` fro

[2013-01-18 13:14] galderz commented on #647
Btw, my dependencies are:

[code]

[2013-01-18 13:57] galderz commented on #647
Actually, this was happening after clearing the cache and trying to build a project that used the plugin. I tried building the plugin, which has those dependencies I mentioned, first and it worked fine (it resolved the right dependency). I then built with the project again and it worked fine. Very odd.

[2013-01-18 17:32] bwmcadams commented on #645
Solved this one last week, and planning to send a patch in to SBT for a permanent fix. It turns out if you add an XML pragma of `xml:space="preserve"` to the XML, it won't strip the newlines.

You can patch an existing project w/o touching SBT internals using a pom-post-process hook which adds the pragma:

[code]

[2013-01-18 17:43] harrah commented on #643
Thanks @vigdorchik.

[2013-01-18 19:09] gseitz commented on #645
Thanks, Brendan. I'll give it a shot on Monday.

[2013-01-21 13:14] gseitz commented on #645
Just to confirm what you already know, this works like a charm ;)
Thanks

[2013-01-22 09:39] dragos commented on #642
I built using the [api-diff branch](https://github.com/gkossakowski/xsbt/tree/api-diff) and the IDE with support for that is in [this branch](https://github.com/gkossakowski/scala-ide/commits/sbt-inc) + [my pull request](https://github.com/gkossakowski/scala-ide/pull/2).

Unfortunately, the API diff is not sensitive enough, the diff is empty (or just an empty new line): https://gist.github.com/459

[2013-01-22 14:17] harrah commented on #645
@bwmcadams Marked this as for 0.12.3, which is scheduled for RC1 in early March.

[2013-01-23 00:21] gkossakowski commented on #642
@dragos: I managed to reproduce it using my custom build of sbt incremental compiler! Now it should be a lot easier to debug.

[2013-01-23 01:59] gkossakowski commented on #642
@dragos: I managed to [fix](https://github.com/gkossakowski/xsbt/commit/b09d986e199f67905ac61db07ba2abd5bf631c12) the `ShowAPI` so it gives you non-empty diff:

[code]

That looks very promising! I'll try to minimize it and figure out why we lose those type parameters here.

[2013-01-23 07:11] gkossakowski commented on #642
@dragos: see https://issues.scala-lang.org/browse/SI-7010 and https://issues.scala-lang.org/browse/SI-7009

[2013-01-23 11:18] taylorleese opened #650 "java.io.IOException: Resource deadlock avoided"
Resource deadlock occurs when running sbt test on multiple projects simultaneously. I've experienced this locally as well as via Jenkins.

[code]

[2013-01-23 15:13] ebowman opened #651 "Configuration.subPartsIndices bug"
As described here: https://groups.google.com/forum/#!msg/simple-build-tool/6y-t9mGYgl0/C7PDULtGwucJ

In a nutshell, the implementation (in 0.12.x & later) should be like:

private[this] def subPartsIndices =
 (1 :: 2 :: 3 :: 4 :: Nil) ::
 (1 :: 2 :: 3 :: Nil) ::
 (1 :: 2 :: Nil) ::
 (Nil) ::
 Nil

Also the versionParts regex should be """(\d+)(.\d+)(.\d+)(-.*)?""" and then it should just mkString,

[2013-01-23 15:27] dragos commented on #642
Cool, means we need a 2.10.1 build when this is fixed? Thanks!

[2013-01-23 17:36] gkossakowski commented on #642
@dragos: I still need to dig more into this. I think there might be even more issues related to `@throws` but definitively I'll try to address this in 2.10.1 if possible.

[2013-01-23 17:47] harrah commented on #650
What sbt version and what Java version?  I will try to reproduce this, but if I cannot, are you able to run sbt built from source or a temporary binary in order to get additional information?

[2013-01-23 17:51] #651 closed, assigned to harrah

[2013-01-23 18:16] dragos commented on #642
Excellent. We'll aim for 2.10.1 with our final release, so hopefully the fix will be in. I prefer this to an Sbt-side fix, so we can ship with the same version of Sbt as our last milestone.

[2013-01-23 20:29] MasseGuillaume opened #652 "scaladoc 2.0 diagram"
I know svg diagram was included in scaladoc 2.0 shipped with scala 2.10.

How can we use this feature from the doc task in sbt ?

[2013-01-23 20:39] indrajitr commented on #652
`scalacOptions in doc += "-diagrams"` is what you are probably looking for.
As you would probably know, to see all the options that scaladoc supports `scaladoc -help` is you friend.

Feel encouraged to followup with further questions on the mailing list :)

[2013-01-23 20:39] #652 closed, assigned to nobody

[2013-01-23 20:46] MasseGuillaume commented on #652
thanks !

[2013-01-23 21:00] taylorleese commented on #650
I've seen it with both 0.12.1 and 0.12.2. Not sure about earlier versions. I can try running with a temporary binary if you'd like. Just let me know.

[code]

[2013-01-24 01:23] gkossakowski commented on #642
@dragos: I tried to come up with a fix on sbt side but I don't see any way to do that. The problem is that sbt is merely reading an information from Scala and it's the compiler that was synthesizing broken `@throws` annotations that would have different types depending on initialization order. See my fix in scala/scala#1961 for details.

At the time sbt tries to extract information about annotatio

[2013-01-24 10:46] dragos commented on #642
@gkossakowski, thanks for the explanation. I was actually _happy_ the fix isn't on the Sbt side ;-)

I wonder though, shouldn't Sbt ignore annotations altogether? I can see some very special ones that could be white-listed, like `@BeanProperty` &co. But even that one might affect the outcome of the typer, so any extra getters are already part of the API. In the general case, annotations don't chan

[2013-01-24 22:02] gkossakowski commented on #642
@dragos the very `@throws` changes signature of a method (as seen from Java) so if you have mixed Java/Scala project you want to trigger recompilation on annotation change.
Moreover, we don't only care about bytecode level signatures but also about up-to-date type checking results of dependent source files. For example, if you add `@deprecated` annotation to your method, all source files that depe

[2013-01-25 10:58] galderz commented on #647
This has appeared again: https://groups.google.com/forum/?fromgroups=#!topic/liftweb/H-WR48BojSc

A way to recreate this issue is the following:
1. Clear Ivy cache.
2. Try building one of the Escalante Quickstarts with SBT, i.e. https://github.com/escalante/escalante-quickstart/tree/master/helloworld-lift

^ That should fail with a dependency resolution bug.

In my response to the liftweb topic, I

[2013-01-25 13:54] ijuma opened #653 "Fork in test should handle exceptions during creation of test class"
We recently ran into a pretty severe issue where a ScalaTest test class was throwing a NPE during construction, which caused test execution to stop but for success to be reported. This meant that we were running 1/3 of our test suite instead of the full test suite and failures were not reported. Note that this was a multi-module build.

I can provide a simple test case if that helps.

The output w

[2013-01-25 13:55] ijuma commented on #653
/cc @aloiscochard

[2013-01-25 14:50] harrah commented on #653
Yes, a test case usually helps fix it sooner.  You are on 0.12.2, right?

[2013-01-25 15:09] harrah commented on #642
Should this be closed as scalac-side only, then?

[2013-01-25 17:12] jdolson opened #654 "Ivy bug with specific dependencies"
Adding the following three dependencies

[code]

to an empty build.sbt file and running 'sbt update' causes a crash with the error message:

[code]

Remove any one of these dependencies or remove the "test" configuration on jbehave and update work fine. Also, Mark pointed out that one can add an exclude("commons-io", "commons-io") to the jbehave dependency to make things work.

Tested with both 0.

[2013-01-25 22:00] gkossakowski commented on #642
Yes. We should close it (I don't have right do that).

[2013-01-26 11:46] ijuma commented on #653
0.12.2 indeed. Will try to create an isolated test case.

[2013-01-27 09:37] eungjun-yi opened #656 "description of unit of mem option"
In the man page,

[code]

There is no mention about the unit of mem option. Please add a note to tell the unit is MiB.

[2013-01-27 09:44] eungjun-yi commented on #656
Oops, sorry. The messages are from sbt-extra, not this project.

[2013-01-27 09:44] #656 closed, assigned to nobody

[2013-01-27 17:16] ijuma commented on #653
I updated a previous project with a SBT test case to throw an exception during test construction:

https://github.com/ijuma/sbt-test-bug/commit/ac82782ad3558c5d48121dda0e3fa063e7127ac1

The output using SBT 0.12.2 in my machine:

[code]

[2013-01-27 18:36] #642 closed, assigned to nobody

[2013-01-28 16:34] harrah commented on #646
Please see http://www.scala-sbt.org/release/docs/Detailed-Topics/Dependency-Management-Flow.html#plugins.  Plugins are not handled by the normal `update`.

You can be more fine-grained in your cache clearing by removing the specific directories under ~/.ivy2/local and ~/.ivy2/cache, such as ~/.ivy2/cache/org.example/demo/1.0/.  Also, note that there was a cache bug related to the local repository

[2013-01-28 16:34] #646 closed, assigned to nobody

[2013-01-28 20:54] markisus opened #657 "Contradiction in the docs"
http://www.scala-sbt.org/release/docs/Getting-Started/Basic-Def.html

"You can use either one exclusively, or use both. A good approach is to use .sbt files for most purposes, and use .scala files only to contain what can't be done in .sbt..."

The second sentence explains that .scala files can do some things that .sbt files can't. Therefore I can't exclusively use .sbt files like the first senten

[2013-01-29 00:28] ijuma commented on #653
Thanks!

[2013-01-29 01:03] nafg commented on #554
How about (iii) but name it after the project directory (perhaps with -root appended)?

[2013-01-29 01:09] harrah commented on #554
Thanks, I've added that suggestion.  One problem is that moving the directory changes the project name.  Perhaps that means it shouldn't be a normal project or something like that.

[2013-01-29 01:12] nafg commented on #554
Anyone going with a random ID until now isn't relying on the ID that strongly. However it would be good if there was a way to specify the ID, maybe in project/build.properties?

[2013-01-29 01:18] harrah commented on #554
You're right, it's just the ID.  The name can be set via a setting as usual.  I'd vote for not appending "-root" and maybe not worry about configuring the ID.  `project/build.properties` is supposed to go away at some point (small chance in 0.13, but more likely not), so I don't want to add ways it is used.

[2013-01-29 01:18] nafg commented on #554
How will you control per-project sbt versions?

On Mon, Jan 28, 2013 at 8:18 PM, Mark Harrah notifications@github.comwrote:

[2013-01-29 01:21] harrah commented on #554
Certainly there will be a proper alternative.  One idea was to put it in `build.sbt` somehow, possibly as a comment at the top, like:

[code]

[2013-01-29 01:22] nafg commented on #554
Okay, so why not do that for the default project ID too?

On Mon, Jan 28, 2013 at 8:21 PM, Mark Harrah notifications@github.comwrote:

[2013-01-29 01:37] nafg commented on #554
FWIW I like the idea of adding -root (perhaps only if there are defined projects).
Anyway another approach simply to preserve the ID's stability is to cache it the first time it's calculated from the directory. Of course cleaning or rebooting the project would lose the stability.

[2013-01-29 02:39] harrah commented on #554
The sbt.version configuration has to be treated specially because the launcher has to read it, which happens before the main sbt is loaded.  I'm not sure we'd want to have more special syntax than necessary.  It is a possibility, though.

I think one of the main goals is make the transition from a single project to multiple projects as easy as possible.  I'm not sure which of the options is best f

[2013-01-29 08:21] hseeberger commented on #554
Assuming that .sbt files of subprojects are assigned to these, I vote for (iv), i.e. require a root project and assign the loose / top-level .sbt settings to that.

[2013-01-29 14:16] harrah commented on #554
Yes, a subproject with base directory `sub/` would still load settings from `sub/*.sbt` by default.

[2013-01-30 08:57] jrudolph opened #658 "Memory leak after testing"
Once again, I tried to identify the often observed PermGen memory leak when running many tests in succession. Here's something I identified:

![leak](https://f.cloud.github.com/assets/9868/110225/cbabca92-6ab9-11e2-8483-34b0f17e49c1.png)

It seems the classloader (as produced by `test-loader`) is kept in the execution history.

[2013-01-30 09:00] jrudolph commented on #658
Here's another screenshot showing that the key from the map is `test-loader`:

![leak2](https://f.cloud.github.com/assets/9868/110243/591b2c82-6abb-11e2-9f89-8e318d6d83df.png)

[2013-01-30 09:06] jrudolph commented on #658
How about wrapping the testing ClassLoader in an object which is just a cache for the class-loader (and maybe holds a WeakReference to it) which allows to execute some code with it but doesn't hold any hard references after it has been used but which can recreate the ClassLoader (if necessary) and then make `testLoader` a `TaskKey[TestClassLoaderCache]`.

[2013-01-30 09:51] jrudolph commented on #658
After testing a bit more it seems I can't easily reproduce the problem with simple projects. So maybe the `test-loader` isn't the root problem but rather the fact that in some situations `sbt.Execute`s are kept for some reason.

[2013-01-30 10:07] jrudolph commented on #658
Ok, scrap that for now. I think what I was seeing here were the Threads currently running tests which were hanging  because of some PermGen problem which doesn't have to do something with sbt itself.

Sorry for the hiccup.

[2013-01-30 10:07] #658 closed, assigned to nobody

[2013-01-30 15:53] nau commented on #413
Confirm, we have the same problem. It's the most annoying thing using sbt. We spend unreasonable amount of time just waiting for dependencies resolution. Any suggestion on how to improve this would be really appreciated.

[2013-02-01 02:13] beerium opened #659 "sbt update failed"
I am installing zipkin,
when exec command:

sbt update package_dist problem show like this:

qinyuchun@ssmc-ProLiant-BL460c-G1:~/source/zipkin-setup/zipkin$ bin/sbt
[info] Loading project definition from /home/qinyuchun/source/zipkin-setup/zipkin/project
[info] Updating {file:/home/qinyuchun/source/zipkin-setup/zipkin/project/}default-64d38a...
[info] Resolving com.twitter#sbt-package-dist;1.0.5 .

[2013-02-01 14:49] jsuereth opened #660 "Improve error message when publish credentials are not found"
It should be _obvious_ that credentials were not found and what they would need to be.  Even if publishing somewhere that requires no credentials (which I think is a rarer case).

Currently, the error is nested in a mess of ivy output.  Would be ideal to highlight this sucker and bring it out if possible.  May require a good bit of work, but it's the most common error I see with regards to publish

[2013-02-01 14:49] hseeberger commented on #660
+1

[2013-02-01 18:10] #272 closed, assigned to harrah

[2013-02-04 15:01] harrah opened #661 "Adapt shared Scala class loader to work with modularized Scala compiler and library"
For speed, sbt puts all Scala jars in a common class loader.  This loader is used for scalac, scaladoc, the REPL, and running user code.  Right now, those jars are scala-library and scala-compiler (let's pretend scala-reflect.jar is in scala-compiler for simplicity).

If the user doesn't put scala-compiler on the classpath, the compiler classes are hidden from the application code by the applicati

[2013-02-05 01:31] harrah commented on #650
I've reproduced this, but is isn't easily repeatable or minimzed enough to start doing anything with it yet.

[2013-02-05 01:43] taylorleese commented on #650
It happens to us in Jenkins whenever we have about > 3 builds running at once.

[2013-02-05 09:08] jlc commented on #321
Hi everyone,

Does anyone has any news about this issue?

I also have it and the only solution which I could find is to change the version number. As you might guess, this is extremely annoying.
Moreover, I have completely removed the directory ~/.ivy2, unfortunately this didn't have any positive effects.

This is just to know if a fix to this issue is currently in progress.

Thanks for your work!

[2013-02-05 11:13] manuelbernhardt commented on #413
Same issue here. It takes 5-10 minutes to resolve artifacts, and it is really quite frustrating sometimes.

[2013-02-05 14:11] harrah commented on #650
Diagnosis: https://gist.github.com/harrah/4714661

[2013-02-05 15:27] harrah commented on #650
Possible workarounds:
1. Only ever acquire a lock on the same, single file within the whole jvm.
2. Only ever acquire one lock at a time within the whole jvm.
3. Require locks be acquired according to a jvm-wide ordering. For locks 1,2,3,... require 1 be acquired in order to acquire 2, 1+2 to acquire 3, ...
4. Fork a special process for each file lock that accepts lock/unlock commands.
5. Trap the

[2013-02-05 15:27] #650 closed, assigned to nobody

[2013-02-05 18:44] taylorleese commented on #650
Great, thanks for working through this. It will be a big help.

[2013-02-05 18:55] harrah commented on #650
I forgot to mention that this fix is restricted to the launcher, so if you were so inclined, you could apply the patch to the 0.12.2 branch, run 'sbt proguard', and use the resulting launcher in place of the official 0.12.2 one without compatibility problems.

[2013-02-05 19:00] gurgl opened #662 "Download link for 0.12.2 zip actually contains 1.2.0"
Namely this link:
http://scalasbt.artifactoryonline.com/scalasbt/sbt-native-packages/org/scala-sbt/sbt//0.12.2/sbt.zip

[2013-02-05 19:08] jsuereth commented on #662
Yeah, it appears the 0.12.2 release caught a stale 0.12.0 launcher.  I'll fix this ASAP.

[2013-02-06 19:01] samskivert opened #665 "Support passing environment variables to forked processes"
From my mailing list post:

[2013-02-09 11:48] crankydillo commented on #287
+1

I have a hard enough time convincing 10 or so devs that we should use Scala on some projects.  Our company has a significant investment in Maven, Jenkins, Sonar, etc., which serves a much wider set of devs.  Not being able to easily utilize that makes my arguments substantially weaker.

I currently use mvn to download all dependencies into ${project}/lib.  My hard drive doesn't like it!

[2013-02-09 14:56] AlainODea opened #666 "Cannot build Java code out of the box (Windows 7 64-bit, JDK 7u13, sbt-0.13-2)"
I cannot build a simple Java project on a fresh install of **64-bit Windows 7 Professional** with only **Java SE Development Kit 7 Update 13 (64-bit)** and **sbt-0.13-2** installed.

Attempts to build a very basic Java project (just **HelloWorld.java**) fail with the following error:

[code]

Here is the full transcript:

[code]

This prevents out of the box build of projects including Java code.

[2013-02-09 15:11] AlainODea commented on #666
This is the issue of the beast so it's good to resolve it before it unleashes Armageddon :)

This is reproducible with a 32-bit JDK on 64-bit Windows 7 Professional as well.

[2013-02-09 20:25] adriaanm commented on #485
+1

[2013-02-10 12:37] jsuereth commented on #666
If you type "javac" on the command line, does it work?

[2013-02-10 14:01] AlainODea commented on #666
Nope, it gets command not found.  I can fix it by altering PATH.  Is there a good way to keep this up to date on Windows?

I was hoping SBT would locate the JDK by using the registry:
32-bit: http://stackoverflow.com/a/1614987
64-bit: http://stackoverflow.com/a/5029213

With some pointers on where SBT manages path lookups I might be able to fix this.  Does SBT do any registry lookups now?  If so,

[2013-02-10 14:46] jsuereth commented on #666
The whole 32-bit vs 64-bit registry makes things fun to frustrating to
detect JAVA_HOME.  SO, SBT solely relies on PATH.   It may be we loosen
that restriction, and accept a patch to look by registry value, but that's
entirely up to @harrah.

For now, make sure it's on your PATH and SBT will work appropriately.

On Sun, Feb 10, 2013 at 9:01 AM, AlainODea notifications@github.com wrote:

[2013-02-10 17:20] AlainODea commented on #666
That's a solid answer.  Thank you Josh :)

Just wanted to make sure that javac on the PATH is indeed required.  It is, so I'll run with that.

On 2013-02-10, at 11:16, Josh Suereth notifications@github.com wrote:

[2013-02-13 14:13] bmjsmith commented on #562
Just to note, this is still a problem in 0.12.2.

[2013-02-13 15:30] #666 closed, assigned to nobody

[2013-02-13 16:08] mbrambley commented on #562
im having this issue also... is there at least any workaround?

[2013-02-13 21:25] bmjsmith commented on #562
I haven't found one I like I'm afraid.  You can run sbt under DOS.  I tried finding a way to pass -Djline.terminal=scala.tools.jline.UnixTerminal through to console but couldn't get that to work.

[2013-02-15 14:05] good92 opened #670 "sbt exposes http.proxy credential in .sbt/boot/update.log"
## steps

use http.proxy.
## problem

sbt exposes http.proxy credential in .sbt/boot/update.log

[code]
## expectation

don't expose credentials.

[2013-02-17 18:52] vnicolici commented on #554
I just created my first project not using a .scala build file (my previous projects had a .scala build file and didn't have this issue), and I spent a lot of time trying to determine why it ignores my project name (it didn't, but the message was confusing).

The message is:

[code]

Until a solution is implemented for this issue, what I think would help in the interim is changing the message, maki

[2013-02-19 23:33] gkossakowski opened #676 "API structures created for Java class files have inherited and declared members swapped"
In [ClassToAPI.scala](https://github.com/sbt/sbt/blob/e06ada8fb7827500ad3cf6b5921a9895c7ea657e/compile/api/ src/main/scala/sbt/ClassToAPI.scala#L60) we have snippet like that:

[code]

Notice that we pass all methods (including inherited) as second argument and only declared in given class as a third one. Now if you check signature of `mergeMap`:

[code]

you see that the second argument is expect

[2013-02-21 09:05] octonato opened #678 "Dependency on jars from JRE's lib/ext causes SBT to compile classes over and over again."
sbt version: 0.12.2 or 0.11.3

If you have a class/object/trait that uses any class coming from JRE's folder lib/ext, sbt will include this class for re-compilation each time.

Example:

[code]

[code]

1) run sbt ~compile
2) modify Bar

We would expect:
Compiling 1 Scala sources to ...

But we get:
Compiling 2 Scala sources to ...

Foo is also include for re-compilation although it was not modifi

[2013-02-21 09:07] ritschwumm commented on #662
in the meantime, is at least the jarfile available somewhere?

[2013-02-21 09:15] octonato commented on #678
A sample project can be found here:
https://github.com/rcavalcanti/code-sample-sbt-issue-678

[2013-02-21 22:21] fommil opened #679 "Incorrect Maven Snapshot file resolution"
## steps

[code]
## original report

I have discussed this on the mailing list, but not received any response to date:

https://groups.google.com/d/topic/simple-build-tool/ayKrOWrBF94/discussion

Basically, when depending on this project which is published on sonatype snapshots

https://oss.sonatype.org/content/repositories/snapshots/com/github/fommil/java-logging/1.0-SNAPSHOT/maven-metadata.xml

[2013-02-22 01:46] #661 closed, assigned to harrah

[2013-02-22 01:46] #665 closed, assigned to nobody

[2013-02-22 20:25] jsuereth commented on #662
Not fixed this yet, will do shortly

[2013-02-22 21:32] #678 closed, assigned to harrah

[2013-02-22 23:17] gkossakowski opened #681 "Add support for Scala version specific sources in compiler interface"
Sbt managed to maintain one code base for the compiler interface project that was shared across all version of Scala compiler. The compiler interface is responsible for interacting with Scala compiler internals that perform dependency tracking and API extraction. It managed to maintain source compatibility by applying various trick that can be seen here:
https://github.com/sbt/sbt/blob/0.13/compil

[2013-02-22 23:19] gkossakowski commented on #681
@harrah: I'd love to hear your input on that. I consider this to be critical for sbt 0.13 release. Not blocker in a sense that we can ship sbt 0.13 without this feature but it will mean there's little chance we can properly support incremental compilation in case macros are involved.

Since it's fairly difficult refactoring of parts of sbt I don't understand I think I'll need you to work on this i

[2013-02-22 23:33] harrah commented on #681
Why isn't the dependency tracking code in the compiler?

[2013-02-22 23:44] gkossakowski commented on #681
@harrah: because it's hard to design an API for that won't be specific just to sbt. IDE wants to perform some analysis of dependencies but they might want to preserve information about exact location in a tree that sbt doesn't care and it would be very inefficient to store all the time. At the moment I care only about whether dependency is coming by member reference or inheritance but I might need

[2013-02-23 15:58] harrah commented on #681
For this new dependency analysis, what Scala version(s) is it targeting?

For the first choice in the original post, would that major version be 2.11 or 2.10?

[2013-02-23 23:36] gkossakowski commented on #681
I believe I can support all three Scala versions: 2.9, 2.10 and 2.11 if I have a chance to insert some version specific code. The idea is that new dependency tracking algorithm will walk trees and extract the dependencies. However, in case of macro application we need to extract dependencies from both original arguments passed to macro and from macro expansion. Therefore, in shared code (between a

[2013-02-25 12:22] harrah commented on #681
How will macros be supported in 2.10 in this approach?  MacroApply could only be added in 2.11, right?  At least, it won't be in 2.10.0/1.

[2013-02-25 14:06] aklossrbh opened #683 "published test artifacts are published as part of the compile configuration"
If you publish a test artifact using _publishArtifact in Test := true_, the artifact is published as part of the compile configuration like this:

[code]

This means the test artifact is included in the compile and runtime classpath for any project depending on redbrick-services-common, so the test classes from the library can be referenced from the runtime classes of the project.  This is not qui

[2013-02-25 18:13] gkossakowski commented on #681
@harrah: `MacroApply` extractor would be added on sbt side with different definitions for Scala 2.9 (the one I presented), Scala 2.10 (extracting `expansion` through internal only tree attachments) and Scala 2.11 (proper, official API for that).

[2013-02-26 21:33] fommil commented on #679
Closing the loop: http://stackoverflow.com/questions/15055688

[2013-02-27 19:21] gkossakowski opened #685 "Explore time stamps vs hashing for change detection in incremental compiler"
Inspired by discussion that happened here: https://github.com/gkossakowski/xsbt/commit/1e17ab89ab9348a8a5e52337f081babf4b4ef581#commitcomment-2707574

According to @harrah last modified timestamp is not accurate enough that's why content hashing is used for detecting changes in source files. However, for binary files (class files) time stamps are still used. We should explore following questions:

[2013-02-28 05:06] gkossakowski opened #686 "Tracking source dependencies doesn't work in case of implicits and higher-kinded types"
Let's consider the following:

[code]

compile it and then uncomment `A.m` and try to compile again. This time compilation should fail due to ambiguous implicits. Unfortunately, current mechanism for tracking source dependencies is not capable of detecting such subtle dependencies introduced by type inference and implicit scope rules.

The example proposed by @retronym.

[2013-02-28 14:00] harrah commented on #645
@bwmcadams This is the only issue left for 0.12.3, which is supposed to have an RC1 next week.  Let me know if you will not have time to do it.

[2013-02-28 17:25] bwmcadams commented on #645
Looking into this now.

[2013-02-28 21:24] pvlugter opened #690 "Check scala version when substituting scala jars in update report"
Scenario: downloading artifacts to a separate ivy configuration, to run a separate process (or classloader isolated app) alongside the project, but where the transitive scala version of these artifacts is different from the project scala version.

In this case the transitive scala version will be overridden by the project scala version, leading to an unusable classpath. Overriding the scala versio

[2013-02-28 23:01] #645 closed, assigned to nobody

[2013-02-28 23:04] harrah commented on #523
Implemented by #684, which uses JLine 2.10.

[2013-02-28 23:04] #523 closed, assigned to nobody

[2013-03-01 14:01] adamw opened #692 "Cannot execute tests serially (tags are ignored)"
As described in https://groups.google.com/forum/?fromgroups=#!topic/simple-build-tool/dldQxekN43E, in a multi-module project, it is not possible to execute tests serially. Both the `concurrentRestrictions in Global += Tags.exclusive(Tags.Test)` and `concurrentRestrictions in Global += Tags.limit(Tags.Test, 1)` settings seem to be ignored.

A work-around seems to be to add `fork := true` to the set

[2013-03-01 21:24] appamatto opened #696 "error in static import of inherited (?) inner classes"
Compiling ActionBarSherlock 4.2.0 as an apklib library dependency fails in android-plugin:

[error] /home/appamatto/src/maxd/player/target/scala-2.10/src_managed/main/java/com/actionbarsherlock/app/SherlockFragment.java:11: value OnCreateOptionsMenuListener is not a member of object com.actionbarsherlock.app.SherlockFragmentActivity
[error] import static com.actionbarsherlock.app.SherlockFragmentA

[2013-03-01 22:34] fommil opened #697 ".scala defined builds: auto "root" Project"
It feels boilerplate-esque to have to type this sort of thing

[code]

since all the Projects are auto loaded with reflection anyway, it would be really nice if this definition for a root project were automatic.

[2013-03-04 13:10] #692 closed, assigned to harrah

[2013-03-04 13:14] harrah commented on #696
Please use the mailing list for questions and provide enough details to reproduce.  If it is specific to the android plugin, please use that issue tracker.

[2013-03-04 13:14] #696 closed, assigned to nobody

[2013-03-05 03:23] kriomant opened #700 "'run' task is executed with changed current directory"
I have project with several subprojects: _core_ (library) and several command-line tools: _foo_ and _bar_. There is also _data_ directory with test input.

I would like to use `sbt 'foo/run data'` command from project directory to compile and run _foo_ tool, but it is started with current directory set to _foo_ so it can't find _data_ directory. I have to run it using `sbt 'foo/run ../data'` which

[2013-03-05 08:53] forceoflight commented on #321
Hello,

this issue is still visible in Play Framework 2.1.0 with sbt version 0.12.2. Has someone from the sbt team studied what could cause this issue?

Regards,
Markku

[2013-03-05 16:29] kim0 opened #701 "sbt refuses to compile in bash's background mode"
Trying to run "sbt compile &" from a bash shell prompt, once I hit enter, the process immediately jump to stopped state. It refuses to compile until it is made to work in "fg" mode again. Since I'm attempting to run this in background shell scripts, it's preventing normal operation. The tool seems to use STTY mode, even in batch mode. Please at least provide an option to turn that off

[2013-03-05 16:37] charles-dyfis-net commented on #701
To provide a clearer spec -- the `stty` tool should not be used when operating with `-batch` passed on the command line.

[2013-03-05 22:22] #690 closed, assigned to harrah

[2013-03-06 14:14] ijuma commented on #650
@harrah, I have a question regarding the comment about this being restricted to the launcher. Does that mean that a launcher upgrade will be needed to get this fix?

[2013-03-06 14:20] harrah commented on #650
Yes.

[2013-03-06 14:24] ijuma commented on #650
Thanks, good to know. (we ran into this a couple of times yesterday and today)

[2013-03-07 19:03] fommil opened #702 "do not override Java logger settings"
I am passing a custom `-Djava.util.logging.config.file=logging.properties` to my forked tests and I'm confident that my log formatter is being overridden by SBT. e.g. I see logs like the following:

[code]

whereas I'm using [a very specific formatter](https://github.com/fommil/java-logging/blob/master/src/main/java/com/github/fommil/logging/CustomFormatter.java) which - although can be configured

[2013-03-07 22:14] PhBastiani opened #703 "SBT 0.12 .2 - Play 2.1.0 / Windows Vista / Substitute drive"
I"ve a Play! framework environnement  installed on a substitute drive.
I use this subst drive because my real Windows path contains several space characters...

From time to time, sbt seems use the real path for its cache.

Note:
- it creates a new file tree with the space characters replaced by "%20" !
- it does not put any jar in these folders; and, it uses the subst drive for its cache,
- the b

[2013-03-07 22:23] jsuereth commented on #703
Can you tell us what the value of the `sys.props("user.home")` in sbt?

On Thu, Mar 7, 2013 at 5:14 PM, Philippe Bastiani
notifications@github.comwrote:

[2013-03-08 14:15] stephanos commented on #323
Tip: I use the plugin [arktekk/sbt-aether-deploy](https://github.com/stephanos/sbt-aether-deploy/blob/master/src/sbt-test/deploy/webdav/build.sbt) - works great!

[2013-03-08 18:23] ANorwell opened #704 "sbt publish with multiple sub-projects causes ivy cache errors."
I published (not publish-local) a snapshot version of my library B. I believe it had been published as the same snapshot version multiple times. At this point, the ivy cache ( ~/.ivy/cache/path/A_2.9.1/) for library A is now in a bad state, but no errors are raised. In a project using library A, update succeeds but compile fails:

[info] Compiling 6 Scala sources to /Users/anorwell/work/sbt-bug/db

[2013-03-08 19:25] #407 closed, assigned to nobody

[2013-03-08 19:25] #704 closed, assigned to harrah

[2013-03-08 20:23] harrah commented on #701
This behavior comes from JLine.  JLine was upgraded by #684 from 1.0 to version 2.10, which fixes this problem.

[2013-03-08 20:23] #701 closed, assigned to nobody

[2013-03-08 20:25] harrah commented on #702
sbt doesn't do anything with Java loggers.  Please use the mailing list for support.

[2013-03-08 20:37] harrah commented on #703
Also, what specifically do you mean by "its cache"?

[2013-03-08 20:44] harrah commented on #700
Either the current default or the build base directory are reasonable defaults, but there can only be one default.  If you would like to override the default, you can do so.  Please use the mailing list for further discussion.

[2013-03-08 20:44] #700 closed, assigned to nobody

[2013-03-08 21:18] PhBastiani commented on #703
Thanks for your replies.. Today, I re-started my Play! environment from scratch, and  I cannot reproduce this strange situation !

How can I check `sys.props("user.home")` in sbt ?
The play directory contains a file named '..\play-2.1.0\framework\sbt\boot\update.log' ! And, this one only  contains a variable 'user.dir' referencing my project...

I am a total newbie... I do not know how sbt is inte

[2013-03-08 21:22] harrah commented on #703
Run `eval sys.props("user.home")`.  `user.dir` is the current working directory, which might be useful as well.  There is no `repository` directory in sbt, so it must be defined by play.  What is the other directory in it? "local"?

[2013-03-08 22:28] PhBastiani commented on #703
Yes, the 'local' folder contains jars; and, the 'cache' forder contains ivy scripts... these 2 folders are in the 'repository' directory of the Play! environment. My home .sbt folder is empty !

From the play console, i cannot start directly sbt command ! The Play! environment has a sbt starter (sbt-launch.jar) with an embedded release of xsbt.

So, to resume, if I understand: this issue concerns

[2013-03-09 01:12] #683 closed, assigned to harrah

[2013-03-09 01:14] harrah commented on #683
Test jars should definitely go in the Test configuration.  The classifier was incorrectly "test".  It is now consistent with Maven as "tests".  When consuming Ivy metadata, it is only necessary to use configurations.  When consuming Maven metadata, use classifiers.

[2013-03-09 19:14] manuelbernhardt commented on #413
I made a screen capture to illustrate how slow it is: http://vimeo.com/61423682

It often is much slower, when on a slower network connection. This is SBT 0.12.2

[2013-03-11 01:09] ediweissmann commented on #679
+1

[2013-03-11 10:09] fommil commented on #702
@harrah hmm, well something in SBT is definitely changing the logging output. I suppose I'll have to investigate it further.

I've already asked on the mailing list and you said the same thing, IIRC.

[2013-03-12 08:11] galderz commented on #647
Even with the workaround, the issue still appears under certain circumstances, see http://stackoverflow.com/questions/15351171/escalante-sbt-plugin-does-not-find-org-jboss-shrinkwrap-descriptorsshrinkwrap-d :((

[2013-03-12 15:05] jsuereth opened #706 "Launcher interface broke binary compatibility with 0.12 in 0.13"
When using sbt-launcher:

[code]

I believe this is from the addition of crossVersion support to the launcher.   We should make sure we handle AbstractMethodErrors with the new crossVerison methods and provide defaults.

[2013-03-12 18:51] #706 closed, assigned to jsuereth

[2013-03-13 04:27] espringe opened #708 "Sbt ignores scalaVersion when source dependency added"
Checkout: https://github.com/espringe/scoobi

and sbt will happily uses the correct (2.10) version of scala. However, add a source dependency (e.g. uncomment this line):

https://github.com/espringe/scoobi/blob/9d0f0e5696/project/build.scala#L53

and sbt ignores the scalaVersion and uses scala 2.9.2 for everything

(And even the source project is a 2.10 project)

I'm using sbt 0.12.2

[2013-03-14 16:19] jdolson opened #709 "Potentially incompatible versions of dependencies between 2.10.1 and 2.10.0"
To reproduce create an empty project with the following build.sbt

[code]

Running update or compile generates a warning

[code]

Given the assumed binary compatibility between 2.10.0 and 2.10.1 this warning is unnecessary (not to mention massively annoying if you have a lot of subprojects).

[2013-03-14 16:56] harrah commented on #709
Sorry for not mentioning this earlier, but you can disable the warning entirely with:

[code]

You can alternatively keep the warning, but put it at the debug level:

[code]

[2013-03-14 18:19] #703 closed, assigned to nobody

[2013-03-14 20:40] pfn opened #710 "-bootclasspath jars with classes overlapping rt.jar and other boot jars will prevent incremental builds"
This appears somewhat related to #678

However, instead of classes located in lib/ext causing this issue, these are specified by -bootclasspath and -javabootclasspath in scalacOptions and javacOptions.

[2013-03-14 20:41] pfn commented on #710
Oh, this occurs on all 0.12.x versions. I have been using sbt 0.11.2 and this version does not exhibit this behavior.

[2013-03-14 21:38] harrah commented on #708
I assume by "uses 2.9.2 for everything", you mainly mean dependencies and cross-versioning.  This is indeed a fundamental problem to be fixed for 0.13.  You can work around it by explicitly setting `scalaBinaryVersion := "2.10"` for the scoobi and ascii-graphs projects.  (If you didn't control `ascii-graphs`, you could do it from the scoobi project with the appropriate scope.)

[2013-03-18 16:03] #709 closed, assigned to harrah

[2013-03-20 09:40] galderz commented on #647
Can someone with a bit of Ivy experience give us a hand here? The stackoverflow post has a simple SBT configuration that can be used to replicate the issue. We might have found another workaround ... but requires an alternative way of plugin the SBT plugin.

[2013-03-20 17:20] pfn commented on #563
I've been having this same issue forever. .swp files in the resources directory causes a recompile everytime they are created and removed. No plugins are adding anything to watchSources nor unmanagedResources.

My workaround:

[code]

[2013-03-20 20:30] dcsobral opened #712 "SBT installer for Windows disregards custom path"
While clicking on the button to select install path seems to work, when finished it keep displaying "Program Files (x86)" in the install path (as opposed to "Program Files" which I had selected), and installing it there as well.

Env: Windows Vista 64.

[2013-03-21 04:09] jroper opened #713 "Option to maintain execute permissions in IO.copy"
It would be great if there was an option to maintain execute permissions in IO.copy, using File.canExecute/File.setExecutable.

[2013-03-21 04:32] pvlugter commented on #713
I've implemented this in builds before and have also been meaning to suggest adding it to sbt. For example:

https://github.com/typesafehub/zinc/blob/master/project/Util.scala#L9-L34

[2013-03-21 04:39] jroper commented on #713
Yeah I've used something similar in my build.

[2013-03-21 09:43] ghost commented on #321
Same issue here with Play2 and sbt

[2013-03-21 12:09] jsuereth commented on #712
Thanks for the report, could you open on the sbt-launcher-package project, where the MSI is defined?

[2013-03-21 14:29] dcsobral commented on #712
Turns out I had done it already.

[2013-03-21 14:29] #712 closed, assigned to nobody

[2013-03-23 07:55] pmeheut opened #714 "Division by Zero error when backspacing in Eclipse ELT Terminal"
Hi,
When backspacing in Eclipse Terminal ELT (https://code.google.com/p/elt/), I get a Division by Zero error each time and sbt usually ends up quitting.
I'm using 0.12.2 and last returned:

java.lang.ArithmeticException: / by zero
        at jline.ConsoleReader.backspace(ConsoleReader.java:1414)
        at jline.ConsoleReader.backspace(ConsoleReader.java:1436)
        at jline.ConsoleReader.readL

[2013-03-25 14:00] harveywi opened #715 "Approximated refinement warning"
I have been using the Eclipse IDE (version 2.1.0.m3, uses Scala 2.10) for most of my scala development, and I stumbled upon an interesting sbt-api warning that states, "This is currently untested, please report the code you were compiling."  So here is the code that I was compiling; the warnings are shown as block comments.

[code]

[2013-03-27 03:44] arosien opened #716 "CrossVersion.binaryMapping incorrectly implemented in 0.12+"
In ivy/src/main/scala/sbt/CrossVersion.scala, binaryMapped() is incorrectly implemented the same as fullMapped():

def binaryMapped(remapVersion: String => String): CrossVersion = new Full(remapVersion)

@harrah via irc says it should be:

def binaryMapped(remapVersion: String => String): CrossVersion = new CrossVersion.Binary(remapVersion)

My limited Github skills tracks this back to 5e155900da9

[2013-03-27 12:36] harrah commented on #714
See #523.

[2013-03-27 12:36] #714 closed, assigned to nobody

[2013-03-27 13:18] #485 closed, assigned to harrah

[2013-03-27 13:18] #716 closed, assigned to nobody

[2013-03-27 16:45] arosien commented on #716
Thanks!

[2013-04-02 07:33] kahliburke commented on #645
Thank you! This was really annoying and I just found that it had been fixed. I was about to pull my hair out because of this issue. :)

[2013-04-02 07:35] bwmcadams commented on #645
We aim to please. The credit for figuring out "how" to fix goes to Grzegorz
Kossawski.

On Tuesday, April 2, 2013, Kahli Burke wrote:

[2013-04-03 20:26] dragos opened #720 "Improve error message when plugins are added in global settings"
(see [thread](https://groups.google.com/forum/?fromgroups=#!topic/simple-build-tool/bz1LFTJ9sBg)).

An sbt plugin that ends up in

[code]

instead of

[code]

leads to "Unresolved" errors. However, there is no legitimate reason to have an `addSbtPlugin` call in global settings. The disconnect between the mistake and the error message (and this being a common mistake for beginners) warrant better e

[2013-04-04 10:10] fommil commented on #702
@harrah I've created a small project to demonstrate that this is a real issue.

https://github.com/fommil/specs2-exceptions/blob/master/src/main/scala/com/github/fommil/Sbt702.scala

[2013-04-04 21:07] fommil commented on #702
quoting @harrah:

Ok, so the equivalent command line to what sbt runs isn't `java ...` but `scala ...`  Indeed, when running your project with the `scala` command, the behavior is the same as in sbt.  If you put this line in Sbt702:

println(java.lang.management.ManagementFactory.getRuntimeMXBean().getInputArguments)

you see that Scala sets up the boot classpath with a bunch of jars that aren't s

[2013-04-04 21:08] fommil commented on #702
or maybe `scala` is dropping the properties passed to it.

[2013-04-04 21:12] fommil commented on #702
https://groups.google.com/d/msg/scala-user/-GTQv_1HZrs/mLEYsl9FAuAJ

[2013-04-04 21:23] harrah commented on #702
It is straightforward to verify that the property is being set with `println(System.getProperty("java.util.logging.config.file"))`.  The `getInputArguments` shows you exactly the classpath to `java` is, so you can run `java` directly yourself without going through `scala`.  So, the only difference I see between running through `scala` and running through `java` are those jars on the boot classpath

[2013-04-04 21:27] fommil commented on #702
@harrah I replied to the mailing list, but I'll reply here also for reference.

Indeed, printing the property shows that **it has been set**.

BUT, logging setup and properties is non-trivial: the "java.util.logging.config.file" property is magical. The JVM tries to load the logging configuration really early during startup, which means that it _must_ be given to the runtime binary. Maybe somethin

[2013-04-04 21:29] fommil commented on #702
FYI, this is the output from the `getInputArguments`

[code]

I don't know enough about Xbootclasspaths to say anything, but nothing looks particularly suspicious here.

[2013-04-04 21:30] harrah commented on #702
replied on the mailing list- either here or there is fine, but let's pick one ;)

[2013-04-04 21:30] fommil commented on #702
@harrah here! :-)

[2013-04-04 21:33] fommil commented on #702
It gets weirder... when I change my `java` binary to use Xbootclasspath instead of adding scala-library to the classpath, it seems to work fine

[code]

so I guess we can eliminate the classpath/xbootclasspath from the cause...

[2013-04-04 21:40] harrah commented on #702
Yeah, I guess it isn't boot classpath related then.  How about class loaders?  What are the class loader requirements for that custom logger?  The Scala runner needs to create a new class loader containing the classpath you provide it whereas the classpath for `java` gets put in the application class loader.  I wouldn't be surprised if logging requires any custom loggers to be in the application c

[2013-04-04 21:43] fommil commented on #702
The custom logger is really trivial... you can check it out here

https://github.com/fommil/java-logging/blob/master/src/main/java/com/github/fommil/logging/CustomFormatter.java

But if there are custom class loaders being used by the scala binary, maybe the logging configuration is not kicking in when expected.

[2013-04-04 21:53] fommil commented on #702
hmm, but maybe my custom log formatter needs to be on the xbootclasspath when started by the scala binary...

[2013-04-04 21:53] fommil commented on #702
(I have no idea how to do that)

[2013-04-04 22:18] harrah commented on #702
The actual custom logger code isn't important.  What is important is how java.util.logging finds that code.  If you are implementing java.util.logging and a configuration file specifies a class name, what class loader would load that class from?

It might try to be too smart like ObjectInputStream, but I'd guess it tries the application class loader.  This class loader can access everything on the

[2013-04-04 22:33] fommil commented on #702
awesome, thanks @harrah !

[2013-04-04 22:33] fommil commented on #702
(and don't forget to do the same for forked tests)

[2013-04-04 22:43] harrah commented on #702
I'm pretty sure forked tests already do not use the Scala runner.  If they didn't in 0.12, they do in 0.13.

[2013-04-05 00:22] som-snytt commented on #702
The sad thing is that LogManager ignores the failed loadClass.  Wouldn't it be great if there were a core logging facility so you could always log errors?

If you love JUL because it's always there for you, you don't have to rely on the built-in config mechanism.

[2013-04-05 08:09] fommil commented on #702
@som-snytt I'm not sure what you mean here --- we're still seeing the logs using the default formatter in this issue. Nothing is being lost in that sense (although, it does mean that logs are essentially corrupted, and if I wanted to direct them to, e.g. MongoDB, then I would get log loss).

[2013-04-05 14:43] som-snytt commented on #702
I just meant LogManager should log its own failures instead making you guess about the point of failure.  It catches and ignores the exception.

[2013-04-05 15:21] fommil commented on #702
@harrah @som-snytt made an interesting comment on `scala-user`: "The problem is that the custom Formatter isn't seen by the system class loader; from the command line, adding cwd with scala -toolcp is a work around for that"

Does that help with the workaround, or would it mean doing some extra with my customer formatter?

[2013-04-05 15:27] harrah commented on #702
It is indeed a useful workaround for the command line, but I doubt it would work here.  `-toolcp` has to be interpreted by the script before it starts the jvm.  So, it is only handled by the `scala` script and not the actual runner that sbt invokes.  As far as the changes to sbt to deal with this, it is one line (besides the tests) and already done, I just have to push it.

[2013-04-05 16:27] #702 closed, assigned to harrah

[2013-04-07 18:06] gtrsk opened #722 "sbt sbt-version fails to create update.log due to restricted rights in windows 7"
the exception:
java.io.FileNotFoundException: \ServerName\Home\User\MyUserName.sbt\boot\update.log (The system cannot find the path specified)
        at java.io.FileOutputStream.open(Native Method)
        at java.io.FileOutputStream.<init>(Unknown Source)
        at java.io.FileOutputStream.<init>(Unknown Source)
        at java.io.FileWriter.<init>(Unknown Source)
        at xsbt.boot.Update.<i

[2013-04-08 12:42] harrah commented on #715
CC @adriaanm

[2013-04-08 16:37] harrah opened #723 "drop canonicalization of files in incremental compiler"
scalac no longer canonicalizes files except for comparisons and therefore sbt does not need to canonicalize the classpath or source files before passing them.  This is only the case for scalac >= 2.9, however.  Either canonicalization should be dropped when 2.8 is no longer supported by sbt or there needs to be a version check.

[2013-04-10 00:13] #723 closed, assigned to harrah

[2013-04-11 00:15] #697 closed, assigned to harrah

[2013-04-11 00:15] #554 closed, assigned to harrah

[2013-04-11 00:17] harrah commented on #697
Implemented as part of #554.  If you do not declare any projects with base directory ".", sbt will automatically generate one for you that aggregates all projects.  This is mainly targeted as users of .sbt files, but will work for .scala files as well.

[2013-04-11 00:49] harrah commented on #554
The solution I went with was a combination of iii) and iv) as described in the three linked commits.

[2013-04-12 13:14] jsuereth opened #724 "apply command doesn't handle paths with SPACEs"
Some operating systems allow, or encourage, spaces in the path.  We should probably support these poor souls.

https://github.com/sbt/sbt/blob/0.13/main/command/src/main/scala/sbt/BasicCommands.scala#L103

I can give you quotes here man, and we can pretend no one will use those in file names.

[2013-04-12 14:51] havocp opened #725 "URI.resolve should take a URI not a path"
In https://github.com/sbt/sbt/blob/0.13/launch/src/main/scala/xsbt/boot/Configuration.scala#L52

It does uri.resolve(path), but "path" has to be encoded, not a raw path string. It fails if the path includes characters that aren't allowed in URIs such as single quote.

[2013-04-12 17:03] #724 closed, assigned to harrah

[2013-04-12 17:03] #725 closed, assigned to harrah

[2013-04-13 02:15] gkossakowski opened #726 "Spurious incremental recompilation due to invalid value for OVERRIDE flag"
The incremental spuriously (on whitespace change) recompiles dependencies of a file that refers to type alias of certain kind. The example code explains it the best:

[code]

Now, if you compile those 3 files and make a whitespace change to `Bar.scala` it'll trigger recompilation of `Impl.scala`.

If you run this test with api-diff branch merged you can easily see what's going on:

[code]

This mo

[2013-04-13 15:36] ritschwumm commented on #662
shortly?

[2013-04-13 15:37] jsuereth commented on #662
Ha, yeah, so 0.12.3 is fixed, 0.13.0-M1 is fixed too. I think I did 0.12.2, just forgot to reply

[2013-04-14 01:04] markehammons opened #727 "Easily reproducible bug in sbt's incremental compilation"
I'm in the course of porting my project to sbt, and one of the sbt build configuration files is now showing this error. When I change it in any way, such as adding a semicolon to the end of a line, the recompilation of the sbt project fails with the error:

[code]

This can be fixed by deleting the target folder in the project folder.

My project is hosted at git://git.openmole.org/openmole, the a

[2013-04-14 06:47] ximyu opened #728 "withSources() expecting a .src file instead of a .jar file?"
The `twitter/finagle` project has the following sbt config, which depends on com.twitter.common%metrics%0.0.6 withSources().

[code]

And I looked in to my `~/ivy2/cache/com.twitter/finagle-stats_2.9.2/ivy-6.3.0.xml` file and see the following generated XML:

[code]

Then SBT is trying to find something at `http://maven.twttr.com/com/twitter/common/metrics/0.0.6/metrics-0.0.6-sources.src` while th

[2013-04-15 08:45] retronym commented on #726
Iulian made a good point: override need not be part of the API has, as it only affects the current file. That is, subclasses and clients need not be recompiled if the override modifier is added/removed from a member.

This is not to say that we should tolerate flag instability in the compiler; we'll fix that too.

[2013-04-15 13:52] harrah commented on #726
I don't remember the implementation details of flags off hand, but at least conceptually, override does affect other files via `abstract override`.

[2013-04-15 17:23] retronym commented on #726
`abstract override` is actually a separate flag, `ABSOVERRIDE`.

[2013-04-15 18:16] harrah commented on #726
Nice catch, thanks.  The second commit shows a test case where just the override changing (in B.scala) requires recompilation of another file (D.scala).

[2013-04-15 21:54] taylorleese commented on #650
I'm still seeing this with 0.12.3 unfortunately. Is the milestone correct as 0.12.3 in the issue? Here's the stack trace:

[code]

[2013-04-15 22:08] harrah commented on #650
Yes, the tag is correct.  Make sure you are using the 0.12.3 launcher, since this was a launcher bug.  The stack trace doesn't look like it came from 0.12.3, but I can't be certain.

[2013-04-16 04:04] MasseGuillaume opened #730 "scripted-plugin incompatible with scala 2.10.*"
[code]

[2013-04-16 15:06] gmalouf opened #731 "Authentication for a proxy repository"
I am using sbt 0.12.2 currently for our builds at work.  We've recently set up a proxy repository (JFrog's hosted artifactory to be specific) where we need authentication and ssl support in order to access our binaries.

I followed the instructions on setting up sbt to use proxy repositories from http://www.scala-sbt.org/release/docs/Detailed-Topics/Proxy-Repositories.html.  There is no mention of

[2013-04-16 15:10] jsuereth commented on #662
Ok, done.  Sorry it took so long, forgot to update 0.12.2 with 0.12.3.

[2013-04-16 15:10] #662 closed, assigned to jsuereth

[2013-04-17 16:16] Blaisorblade opened #732 "`; reload; compile` makes sbt 0.12.0/0.12.3 exit if compilation fails"
When `compile` fails and is part of the composite command `; reload; compile`, SBT exits with error code 1, while it should present me a new prompt; in comparison, `; compile` does not make SBT exit.

To reproduce:
- introduce a compile error in an SBT-built software. A `build.sbt` containing just `scalaVersion := "2.10.0"` is enough.
- if you invoke `compile`, sbt will report a compile error and

[2013-04-18 00:56] jamesward opened #733 "Corrupt Ivy Cache Works Online"
Using this project as an example: https://github.com/jamesward/play-as-a-toolkit

I am connected to the internet and I run: `sbt clean compile`

Everything works fine.

Then I disconnect from the internet and run: `sbt clean compile`

The build fails with `UNRESOLVED DEPENDENCIES`:

[code]

If a build works online and then the only thing that changes is I go offline, the build should still work.

[2013-04-18 16:59] copumpkin opened #734 "Provide a way in TestReportListener to get the test duration"
I can't seem to find any way to find out how long an individual test took to run when my testEvent callback gets called. If we got an event for when a test is started and when one is ended, I could compute the duration by hand, but it seems like regardless of separating start/stop events for tests, sbt could include a duration in the test result event, whether the test failed or succeeded. Am I ju

[2013-04-18 23:05] jsuereth commented on #722
yes.  -Dsbt.boot.directory, although you may need to move the ivy cache too.

Also, sbt -Dsbt.dir=   may work as well.

[2013-04-18 23:09] jsuereth opened #735 "SBT global directory should be chosen by binary version"
Because of the way the world works, it is very rare to have the same version of a plugin published against multiple SBT versions.   WE also no longer publish sbt plugins as source w/ hefty source compatibility.   This leads to frustrations with the ~/.sbt/ and ~/.sbt/plugins/ directory.

We'd like to specify plugins only once and re-use them as long as they are compatible with existing sbt version

[2013-04-19 17:29] harrah commented on #733
Could not reproduce in initial attempt with 0.12.3.

[2013-04-19 19:04] jamesward commented on #733
Let me clear my ivy cache and try again.

[2013-04-19 19:10] jamesward commented on #733
Cleared my ivy cache and it worked this time.  Usually when I have ivy issues in SBT clearing the cache fixes the problem.  But why does the cache get screwed up?  Reproducing that issue is gonna be tough.

[2013-04-19 19:10] jamesward commented on #733
And why would a corrupt ivy cache work online but not offline?

[2013-04-19 19:26] jamesward commented on #733
Here is the `ivy-2.1.xml` from the ivy cache that didn't work offline:

[code]

Here is the `ivy-2.1.xml` from the ivy cache that does work offline:

[code]

Not sure why they are different.

[2013-04-19 19:30] jamesward commented on #733
And here is the `ivydata-2.1.properties` from the broken cache:

[code]

And the one from the working cache:

[code]

[2013-04-19 19:35] jsuereth commented on #733
Looks like you grabbed a bad POM file from repo.typesafe.com before we
cleaned that up.... AND IVY REMEMBERED!

On Fri, Apr 19, 2013 at 3:30 PM, James Ward notifications@github.comwrote:

[2013-04-19 19:39] jamesward commented on #733
Cool.  Glad we got that fixed.  But why the inconsistent behavior between online & offline?

[2013-04-19 19:42] jsuereth commented on #733
Really good question, and one definitely worth investigating a little.  My guess is that ivy isn't good about clearing out bad data.  Mark would know more.

[2013-04-20 23:59] gkossakowski opened #736 "Sbt fails to detect change of structure when type aliases dealias to the same type"
Consider the following code:

[code]

Now if you change return type of `Foo.foo` to `Foo.S2` sbt won't detect this as a change to the structure of `Foo` and won't recompile `Bar`. Therefore incorrect (stale) type will be stored in pickled information for `Bar`. This violates the invariant that incremental compilation always leads to the same end result (in terms of bytecode in this case) as full,

[2013-04-21 04:21] gkossakowski commented on #727
As discussed here: https://groups.google.com/d/msg/simple-build-tool/ra2LHQLuask/oq8-VkUhASEJ the reported problem is not related to sbt's incremental compilation.

I recommend closing this issue.

@markehammons: if you manage to reproduce this problem with minimal set of source files please check Scala bug database. If you don't find any ticket describing your problem please report there.

[2013-04-22 13:52] #727 closed, assigned to nobody

[2013-04-22 13:58] harrah commented on #733
Thanks @jsuereth, good catch.   That Ivy succeeds when online is surprising.  The outcome I expect from further investigation is to make online fail like offline.  I'll leave this open, but I do not think it is feasible to get Ivy to clear bad data because first you have to get it to recognize bad data.

[2013-04-22 14:56] copumpkin commented on #592
I'd like to see this too (unsurprisingly)

[2013-04-22 16:47] jaytaylor opened #738 "SBT publishing via SSH key auth not working"
This originally began as a StackOverflow question, see: http://stackoverflow.com/questions/16136511/sbt-publishing-via-ssh-key-auth-not-working.  However, at this point it seems like it is probably not a mis-configuration and seems like it's being caused by the version of ivy being used by SBT (currently ivy-2.2.0).

My question is: Why can't I publish from SBT to my server via SSH?
## Context:

I

[2013-04-24 13:34] jsuereth commented on #736
Greg -

Quick question,  how often is this an actual issue in practice?  I'm running through scenarios in my head, to better understand the "no longer normalize" change.   I can understand the pickled information would be wrong, but it seems the runtime behavior should be fine.

In any case, a little help understanding the issue would be nice.  Thanks!

[2013-04-24 14:54] harrah commented on #736
Ok, you're right that it would be useful to have a test case that fails at runtime instead of just a check that recompilation happened.  That is how similar existing test cases work.

[2013-04-24 14:54] harrah commented on #736
Well, not necessarily runtime- it could be a compile time failure, but one that is an actual problem.

[2013-04-24 19:03] williscool commented on #335
I'm still having this issue after running

`update`

and then `clean`

output of `about`

[code]

**Update:** clearing `.sbt/staging` worked and I agree with @Rogach it is rather painful

[2013-04-24 20:48] David-Noble-at-work commented on #321
Same frustrating issue here with play 2.1.1 and sbt 0.12.2. I hope it gets fixed soon. What are others doing to work around this issue?

[2013-04-25 09:15] dragos commented on #726
So, given that `OVERRIDE` and `ABSOVERRIDE` are different, wouldn't it be good to drop `OVERRIDE` from the API? It would fix this particularly annoying bug for existing Scala versions, too.

[2013-04-25 13:04] harrah commented on #726
"The second commit shows a test case where just the override changing (in B.scala) requires recompilation of another file (D.scala)."

[2013-04-25 13:57] dragos commented on #726
"Sorry I missed that"

[2013-04-26 16:06] samstarling opened #741 "Running two simultaneous instances of sbt fails"
Regardless of where I run `sbt` from (ie. regardless of the project), I get the following error when I try and run two instances of `sbt`:

[code]

Running `lsof` to see what's holding on to that port seems to show that it's `sbt`:

[code]

That line disappears when I quit the running `sbt`. I'm unsure if this is a bug, but I re-installed my entire machine recently and it still occurs. Has anyone

[2013-04-26 16:10] jsuereth commented on #741
Are you using any global or non-standard plugins?

[2013-04-26 16:14] samstarling commented on #741
My `~/.sbt/global.sbt` only adds a couple of additional resolvers. How do I check whether I have any plugins? I'm pretty sure I don't have any.

[2013-04-26 16:19] jsuereth commented on #741
`~/.sbt/plugins` or `<your local project>/project/*.sbt`   Also do you have any _agents_ installed on the JVM itself?

[2013-04-26 16:21] samstarling commented on #741
I have nothing in `~/.sbt/plugins`, and I'm running this from a project with no plugins. I don't think I have any agents installed, but (again!) I'm not sure how to check that I'm afraid – it's just the vanilla JVM that comes with OS X.

[2013-04-26 21:54] jaytaylor commented on #738
I'm really keen on getting past this problem.  Is this there a better place to ask this question?

[2013-04-27 14:33] forceoflight commented on #321
Run "play update" and it will fetch latest packages for the SNAPSHOT
dependencies.

On 24 April 2013 23:48, David Noble notifications@github.com wrote:

[2013-04-27 22:07] crocket opened #743 "resolvers aren't imported from subprojects"
I have a main project that depends on a subproject.
The subproject has a line as below
resolvers += "Sonatype OSS Snapshots" at "https://blahblah..."

Since the subproject has a dependency that exists only in "Sonatype OSS Snapshots" and resolvers aren't imported from subprojects,
when I execute "compile" or anything else in the main project,
sbt fails to resolve that dependency.

Thus, I have to

[2013-04-29 10:29] jrudolph opened #744 "Use of `MainGenericRunner` with `fork in run := true`"
Why are forked Scala processes run through `MainGenericRunner`?

Users of sbt-revolver are reporting that the use of `MainGenericRunner` seems to implicate a certain class loader setup which may lead to issues sometimes. See spray/sbt-revolver#18

[2013-04-29 11:53] jsuereth commented on #744
IIRC - this was done due to the windows console argument bug, where you can't pass arugment lists greater than a certain size, so you wrap the main method with something that reads arguments from a file, and then runs the main method.

[2013-04-29 12:12] harrah commented on #744
See #702.

@jsuereth I don't see how that relates here.  There are no argument files involved.

[2013-04-29 12:12] #744 closed, assigned to nobody

[2013-04-29 12:15] jrudolph commented on #744
Sorry, I missed the follow-up. Thanks for fixing it.

[2013-04-30 22:57] #732 closed, assigned to harrah

[2013-04-30 22:57] #735 closed, assigned to harrah

[2013-04-30 22:58] harrah commented on #732
Thanks for the report.  The first command did have to be `reload`, but it could be any failing command afterwards.  This should be fixed for 0.13.0.

[2013-04-30 23:02] harrah commented on #735
The only interesting part in the commit is the transition warning.  If you have global configuration in the previous default location (`~/.sbt/`) but not in the new location, there is a warning that looks like:

[code]

Configuration is either `.sbt` files or a `plugins` directory.  I'm open to alternatives, but some kind of warning is needed so that users don't wonder why their global settings ar

[2013-04-30 23:26] jsuereth commented on #735
Just a note:  We should warn the sbt-extras users, because this may break
them if they specify an "Sbt global" environment variable....

On Tue, Apr 30, 2013 at 7:02 PM, Mark Harrah notifications@github.comwrote:

[2013-05-01 00:10] harrah commented on #735
This does not override explicit configuration.

[2013-05-01 00:12] jsuereth commented on #735
Oh?  I thought the default were expanded in the launcher.

[2013-05-01 00:16] harrah commented on #735
Not sure what you mean.  `getFileSetting` checks if a system property is set and if not uses the default.

[2013-05-01 00:19] jsuereth commented on #735
Ah, gotcha.  I'm thinking of different global settings in the launcher, which the script also overrides.   So we should have similar sbt loading behavior, but we may still have different boot directories, e.g.   That seems... fine, right?

[2013-05-01 12:36] bblfish opened #745 "bad symbolic reference compilation error"
When compiling the  [w3c banana-rdf projet](https://github.com/w3c/banana-rdf) the following error keeps coming up:

[code]

To solve this message one has to `clean` the project and then rebuild, which can take a lot of time. It happens on each new session of sbt.

Alexandre Bertails [suggested the cause of this bug was the following](https://github.com/w3c/banana-rdf/issues/59#issuecomment-172777

[2013-05-01 15:01] harrah commented on #745
Without a specific test case, I assume this is https://issues.scala-lang.org/browse/SI-4695, which was worked around on sbt's side in cf355f18224332c3311b552cd9a777f5624426a4.

[2013-05-01 15:01] #745 closed, assigned to harrah

[2013-05-01 15:03] harrah commented on #730
Please provide enough information to reproduce.

[2013-05-01 15:03] #730 closed, assigned to nobody

[2013-05-01 15:06] harrah commented on #741
This appears to be related to jmx and is very unlikely to be related to sbt.  Check your sbt startup script or anywhere a jvm agent might be added.  Please feel free to see if anyone has ideas on the mailing list.

[2013-05-01 15:06] #741 closed, assigned to nobody

[2013-05-01 15:07] harrah commented on #722
@jsuereth is there a bug here?

[2013-05-01 15:10] harrah commented on #743
Please do not both post to the mailing list and open an issue to discuss a change.

[2013-05-01 15:10] #743 closed, assigned to nobody

[2013-05-01 15:11] harrah commented on #728
Can you provide steps to reproduce, please?

[2013-05-01 15:20] jsuereth commented on #722
Yeah, I think it's an issue with the .bat script, was missing a \ somewhere.   Probably should move this to sbt-launcher-package

[2013-05-01 15:35] harrah commented on #734
@cheeseng Do you have an opinion on this?  Should the test execution time be added to TestEvent somehow?

[2013-05-01 15:46] cheeseng commented on #734
Hi Mark,

Er, perhaps add to SuiteResult instead?  if it needs to be stored up and
used later?

Cheers,
Chee Seng

On Wed, May 1, 2013 at 11:36 PM, Mark Harrah notifications@github.comwrote:

[2013-05-01 15:49] harrah commented on #734
The request is for the information to be consumed by a TestReportListener.  I'm not sure whether fine-grained information is required (at the level of test methods) or if suite-level is ok, so I don't know whether SuiteResult is ok.

[2013-05-01 16:22] fernandezpablo85 opened #746 "make packageSrc aware of "excludeFilter""

[2013-05-01 16:22] fernandezpablo85 opened #747 "make packageSrc aware of "excludeFilter""
Seems like `packageSrc` task does not take into account the setting `excludeFilter`:

[code]

Created this because of @harrah 's request in this thread:

https://groups.google.com/forum/?fromgroups=#!topic/simple-build-tool/-k7odR-Lusw

[2013-05-01 16:28] harrah commented on #738
sbt 0.12.3 uses Ivy 2.3.0-rc1.  I don't see anything in the Ivy issue tracker that makes it look like rc2 fixes any ssh problems in rc1.

I don't know if it matters, but you resolve from a repository configured from a base path and using sftp, but publish to one without a base path and with ssh.

[2013-05-01 16:30] copumpkin commented on #734
Ideally it'd be per-test, since TeamCity supports displaying statistics about test speeds and it can be helpful. It wouldn't be a precise benchmark, but over a bunch of runs it might reveal patterns about slowdowns and such.

[2013-05-01 17:09] ximyu commented on #728
Creating any project with dependency "com.twitter" %% "finagle-stats" % 6.3.0 would repro this bug.  I'm also finding this bug for specs.

Here is the SBT project file for finagle https://github.com/twitter/finagle/blob/master/project/Build.scala

All the uses of withSources() in this project def seems to lead to this bug.  I tried SBT 0.12.1 to 0.12.3

[2013-05-01 17:44] jsuereth opened #748 "Sbt plugins need native magikz used on run/test"
When running play in sbt and modifying the build:

[code]

Now we hit CTRL-D, muck with the build (change the name setting), and then reload:

[code]

Not sure you see, but the magical SO loading of JNotify (and most native-bindings in java) will fail after reload

[code]

SO - it would be ideal if sbt plugins supported uses native bindings after reload.

[2013-05-02 03:13] cheeseng commented on #734
Hi Mark,

I think in the case of TestReportListener TestEvent makes more sense, since
it is discarded after the 'suite' is completed, while SuiteResult is saved
in the memory until the run is completed.

Cheers,
Chee Seng

On Thu, May 2, 2013 at 12:30 AM, Daniel Peebles notifications@github.comwrote:

[2013-05-02 11:36] harrah commented on #734
The memory consumption from adding a long to SuiteResult is probably negligible if that is what you are concerned about.

[2013-05-02 13:36] cheeseng commented on #734
Hi Mark,

Agree that it is probably negligible, since it is just long and not string.

Perhaps the deciding factor is level of fine-grained it should be, if it is
'test' level then it has to be TestEvent, right?

Cheers,
Chee Seng

On Thu, May 2, 2013 at 7:36 PM, Mark Harrah notifications@github.comwrote:

[2013-05-02 13:37] harrah commented on #734
Yes, although it wouldn't hurt to sum the total time since that is probably a common requirement.

[2013-05-02 14:27] cheeseng commented on #734
Yes, probably no harm adding that, though imho it is easy for
TestReporterListener implementation to just perform the sum itself when
needed.

On Thu, May 2, 2013 at 9:37 PM, Mark Harrah notifications@github.comwrote:

[2013-05-02 15:13] sirthias opened #749 "Enable overriding of plugin default settings"
Currently it appears to be impossible to override the settings provided by a plugin via its `settings` member. It'd be great if these settings had lower priority than the ones I explicitly provide myself.

Motivation: I use the sbt-pgp plugin for a project with 5 sub-projects, of which only 3 need publishing of signed artifacts. For the other 2 sub-projects I'd like to be able to "disable" the `pu

[2013-05-02 21:16] fernandezpablo85 commented on #746
Duplicate of #747

[2013-05-02 21:16] #746 closed, assigned to nobody

[2013-05-02 21:37] harrah commented on #525
Same as #708 (yes, it is newer).

[2013-05-02 21:37] #525 closed, assigned to nobody

[2013-05-06 08:33] ruado1987 opened #750 "Sbt doesnt pick up zip library file in the project lib folder"
Although most of java libraries are delivered in the form of jar file, some are still served as zip files (e.g. ibm db2 jdbc driver). Unfortunately, sbt currently grabs only jar files and ignores zip files. Some may suggest a workaround like changing the extension from zip to jar but I am not sure if doing so can result in lost of some compression information.

[2013-05-06 09:19] Gingonic opened #751 "Tracking.jar : Repo is down"
The : http://repo.typesafe.com/typesafe/maven-ivy-releases/org.scala-sbt/tracking/0.12.3/jars/tracking.jar is down.
The download can't proceed and it blocks the complet process (even manualy you can't download).
The complete 0.12.\* reacts in the same way.

[2013-05-06 12:05] harrah commented on #751
Please use the mailing list for transient problems.  It is up from here now.

[2013-05-06 12:05] #751 closed, assigned to nobody

[2013-05-06 12:28] #750 closed, assigned to harrah

[2013-05-06 12:30] dlecan opened #752 "Range-versioned dependencies are not correctly found with overridden repos configuration"
## steps

@joescii reproduced it on https://github.com/joescii/sbt-reproduced/tree/issue-752
## original report

Depending on a Maven artifact, which depends transitively on a range-versioned dependency, doesn't work if repos configuration is overridden.

SBT launcher: 0.12.3

With default repos configuration:

[code]

With overridden repos configuration:

[code]

Notice the `[revision]` in URLs,

[2013-05-06 13:59] jsuereth commented on #751
Just a quick note:  Our artifactory went through an upgrade cycle yesterday.   It should be complete now, and everythign back online.  Sorry for any inconvenience.

[2013-05-06 14:58] Gingonic commented on #751
Doesn't seem to be up, at least not reachable from germany, I just tested
again.
I really don't see what could be wrong on my side on such an automatised
process :

<< Begin Console Log>>

Microsoft Windows [Version 6.1.7601]
Copyright (c) 2009 Microsoft Corporation. Alle Rechte vorbehalten.

C:\Users\xxx\swagger-codegen>sbt assembly
Getting org.scala-sbt sbt 0.12.2 ...
downloading
http://repo.typ

[2013-05-06 15:11] jsuereth commented on #751
Hmm, I'm able to see: http://repo.typesafe.com/typesafe/ivy-releases/org.scala-sbt/tracking/0.12.3/jars/tracking.jar

and
http://repo.typesafe.com/typesafe/ivy-releases/org.scala-sbt/tracking/0.12.2/jars/tracking.jar

right now.  Maybe bump your build.properties to 0.12.3 and see what happens?

[2013-05-06 15:40] Gingonic commented on #751
I just switched back to the 0.12.3 to be sure, but as expected, same result.

What's really strange is that I can't even downloaded by "hand" directly
from the Browser or so, while I can download all the other, for example the
Task.jar.

This actually leeds me to think that it can't be on my end, except if I'm
facing some very new crazy windows .jar security policy stuff. But why just
that one?

(

[2013-05-06 15:42] jsuereth commented on #751
It could also be a stale DNS cache.

If you go to repo.typesafe.com, what do you see?

[2013-05-06 15:43] Gingonic commented on #751
Sorry, wrong picture

2013/5/6 Christophe Nick christophe.nick@gmail.com

[2013-05-06 15:49] Gingonic commented on #751
Seems to be all good

2013/5/6 Josh Suereth notifications@github.com

[2013-05-07 03:51] ruado1987 commented on #750
Thanks for the quick fix. In the meantime, a decent workaround would be adding the zip extension to the includeFilter in the build.sbt file. The following expression works for me:

[code]

[2013-05-07 17:57] paddymahoney opened #753 "Add a javaSourceManaged"
From
http://www.scala-sbt.org/0.12.3/docs/Howto/generatefiles.html: "A source generation task should generate sources in a subdirectory of sourceManaged and return a sequence of files generated."

An issue arises with sourceGenerator that produces a sequence of java files.

When these files are generated in a subdirectory of javaSource, they are seen and compiled as java code. But then continuous

[2013-05-08 04:19] shikhar commented on #385
+1

[2013-05-09 21:29] #539 closed, assigned to harrah

[2013-05-09 21:30] #708 closed, assigned to harrah

[2013-05-09 21:30] #391 closed, assigned to harrah

[2013-05-10 18:31] OlegYch opened #754 "Print a warning if sbt.version is not defined in the project/build.properties"
This would help creating more reproducible builds.

[2013-05-13 07:36] diversit commented on #323
Not knowing about Aether, I created a specific Sbt plugin to create the required Webdav collections so the publish task works as expected.
See https://bitbucket.org/diversit/webdav4sbt

[2013-05-13 19:14] fernandezpablo85 commented on #747
@harrah is this planned?

[2013-05-13 21:40] harrah commented on #747
No concrete plans, no.  A pull request is more than welcome.

[2013-05-13 21:50] fernandezpablo85 commented on #747
Okay could you give me a hint of where to start looking?

[2013-05-13 21:50] fernandezpablo85 commented on #747
(in the source that is)

[2013-05-13 22:02] harrah commented on #747
The mappings for packageSrc are defined here:
 https://github.com/sbt/sbt/blob/0.13/main/src/main/scala/sbt/Defaults.scala#L533

with the resource mappings coming from here:
 https://github.com/sbt/sbt/blob/0.13/main/src/main/scala/sbt/Defaults.scala#L549

You probably want to have relativeMappings take a filter or something like that.

[2013-05-15 13:03] harrah opened #755 "Work around platform limits when forking tests"
Windows in particular has limits that are hit when forking tests with larger classpaths.

[Eclipse bug](https://bugs.eclipse.org/bugs/show_bug.cgi?id=327193) and [first](http://git.eclipse.org/c/jdt/eclipse.jdt.debug.git/commit/?id=a24b7af73c4e08e7b05935d30be10b1afd046dcc) and [second](http://git.eclipse.org/c/jdt/eclipse.jdt.debug.git/diff/org.eclipse.jdt.launching/launching/org/eclipse/jdt/inter

[2013-05-15 13:03] harrah commented on #755
There is currently no specific timeline for implementing this.

[2013-05-15 16:56] vigdorchik commented on #755
How is forking tests different from e.g. forking javac for compilation?

[2013-05-15 16:59] harrah commented on #755
javac has the convenient `@argfile` option, which sbt takes advantage of.  If the java command did too, it would be an easier fix.

[2013-05-16 12:59] dotta opened #756 "ArrayStoreException when parsing Java annotation"
Compiling the below code in the Scala IDE nightly (which currently uses Sbt 0.13-M2) results in a `ArrayStoreException` because of the following JDK bug http://bugs.sun.com/view_bug.do?bug_id=7183985
# Test Code

[code]
# Logged Exception

[code]
# Solution/Workaround

Until the bug gets fixed in the JDK, catch the thrown `ArrayStoreException`.

Please, let us know when this is fixed by commenting

[2013-05-17 13:49] jsuereth opened #757 "Scala no longer likes being told things twice (-Xplugin specified twice in test:compile::scalacOptions)"
As of Scala 2.11, specifying -Xplugin twice causes wonky behaviors, particularly build failures.

However, the issue is about specifying the plugin twice, which can be reproduced very simply:

build.sbt

[code]

Demonstrates the issue:

[code]

[2013-05-17 13:58] mpilquist opened #758 "externalPom() does not correctly handle case where g/a/v and g/a/v/classifier=tests are"
Given a Maven pom.xml that has a compile scope dependency on a A and a test scope dependency on the tests classifier artifact of A, when using SBT's externalPom(), then the test classpath ends up with _just_ the tests JAR of A, not the main JAR of A.

For example, see this Maven pom.xml and associated build.sbt, which shows a project that has org.slf4j/slf4j-api on compile classpath and org.slf4j/

[2013-05-17 17:07] som-snytt commented on #757
Sorry to be dense, but do you mean you expect two instances of the plugin?  Or one? I know, isn't that a dumb question?

Just clarifying before I jump in.

The legacy code to prune seems to work at first glance:

About to pick List(scala.tools.selectivecps.SelectiveCPSPlugin@3cbcef07, t6446.Ploogin@17f0d3b8, scala.tools.selectivecps.SelectiveCPSPlugin@43dbe14f, t6446.Ploogin@18a52c57, scala.tools.

[2013-05-18 23:30] som-snytt commented on #757
https://issues.scala-lang.org/browse/SI-7494

[2013-05-19 16:52] vnicolici opened #760 "New resolvers are ignored after attempting to download artifacts without them"
If you don't add the resolvers required for downloading some artifacts from the beginning, the fact that the artifacts could not be resolved seems to be cached in the ivy cache.

Then, if you add the required resolver, sbt ignores it and still complains that the artifacts cannot be resolved.

Steps to reproduce:
1. create a build file referencing an artifact that doesn't exist in the default repos

[2013-05-19 16:59] vnicolici commented on #760
Gist containing the project files and the logs: https://gist.github.com/vnicolici/5608248

And I forgot to mention the environment:

Windows 8
sbt 0.12.3
scala 2.10.0
play 2.1.1

[2013-05-19 17:25] vnicolici commented on #760
Oh, and another thing, every time it reports a missing artifact, it shows that it searched only on http://repo1.maven.org/ , but in fact there were four other resolvers in my project.

This is only a cosmetic bug, but I lost a few hours thinking I defined the resolvers incorrectly and trying to fix it, when in fact they were fine.

Finally, after running show resolvers and determining that resolve

[2013-05-19 20:21] crocket commented on #743
Nobody cared about this in the mailing list.

But I think it should be addressed properly as an issue in github.

Can you reopen this issue?

[2013-05-20 00:36] hsn10 opened #761 "Search for binary compatible scala versions"
If you have statement like that:

libraryDependencies ++= Seq(
  "org.specs2" %% "specs2" % "1.13" % "test"
)

and there is no version for scala 2.9.3 but there is for 2.9.2, then sbt should be smart enough to do fallback to binary compatible version.

[2013-05-20 08:03] admackin commented on #321
I'm getting the same with sbt 0.12.3 still, and `sbt update` does not fix the problem

Here are the relevant lines (I think) from `sbt last` after running update:

<pre>
[info] Resolving org.apache.uima#ConceptMapper;2.3.2-SNAPSHOT ...
[debug] sbt-chain: Checking cache for: dependency: org.apache.uima#ConceptMapper;2.3.2-SNAPSHOT {compile=[default(compile)]}
[debug] don't use cache for org.apache.

[2013-05-20 12:39] jsuereth commented on #743
I think this needs more discussion in the ML, and I'm sad because I did not see the conversations in the ML at all (can you post a link so I can start the discussion?).

Basically, when it comes to resolvers, I'm almost of the opposite opinion, that project-specific reosvlers are a mistake and you should always use build-level resolvers.   In fact, the _name_ of the resolver is dramatically import

[2013-05-20 12:42] jsuereth commented on #321
@admackin Can you find (and post) your ivydata file?

I believe it would be at:

/Users/amack/.ivy2/cache/org.apache.uima/ConceptMapper/ivydata-1.3.properties

[2013-05-20 23:41] admackin commented on #321
Here it is.

This is of course a customised fork of ConceptMapper, slightly different from the version on Maven Central.

<pre>
wlan-0a1181da:~ amack$ more /Users/amack/.ivy2/cache/org.apache.uima/ConceptMapper/ivydata-2.3.2-SNAPSHOT.properties
#ivy cached data file for org.apache.uima#ConceptMapper;2.3.2-SNAPSHOT
#Mon May 20 18:15:08 EST 2013
artifact\:ivy\#ivy\#xml\#657790531.is-local=false
arti

[2013-05-21 17:21] paddymahoney commented on #753
Per @jsuereth 's advice, I added the following SettingKey to the Build.scala file:

val javaSourceManaged = SettingKey[File]("java-source-managed", "Output location for managed or generated java sources.")

This was a multi-project build file, and so within the project Settings, I added the following to the setting sequence:
...
javaSourceManaged <<= target(t => t / "java"),
managedSourceDirectori

[2013-05-22 12:08] dragos opened #762 "Sbt always adds `-bootclasspath`, even if there is one"
This may not be the preferred way to pass a different Scala library, but I need to do this from the Eclipse plugin. On the command line, one can use `-bootclasspath` to tell the compiler to use a different Scala library than the one used to _run_ the compiler.

I noticed that Sbt can "port" some entries in the `-classpath` to `-bootclasspath`, but it looks for a jar named `scala-library`. The Scal

[2013-05-23 06:28] Rogach commented on #761
My humble opinion: not a good idea. There are several problems with this:
- 2.9.x releases are not binary compatible between each other (even 2.9.3 and 2.9.2 are `almost compatible`, not totally), thus silently using 2.9.2 version instead of 2.9.3 may introduce problems. Even worse, those problems will be totally cryptic for newcomers.
- Libraries compiled for 2.10.x are released with 2.10 version

[2013-05-23 06:52] hsn10 commented on #761
Yes, i see it that way too, i didnt knew about 2.10 change when i wrote ticket. I just have to survive before twitter moves to 2.10 and until then recompile libraries myself.

[2013-05-23 06:52] #761 closed, assigned to nobody

[2013-05-23 08:30] jodyfanning commented on #321
Same issue. Several java SNAPSHOT dependencies and sbt 12.2 (via play 2.1.0) doesn't see changes to any of them, no matter how you declare the resolvers.

[2013-05-23 16:48] OlegYch opened #763 "Editing shortcuts do not work in sbt 0.13 under cygwin"
I have a script like this

[code]

to launch sbt > 0.10

Under windows 8 with cygwin editing text in sbt shell does not work:
http://gyazo.com/1640d1e844b82670ccf93c6eea3a9136.png

Instead of left-right-up-down shortcuts i get weird characters printed.

[2013-05-23 19:48] OlegYch opened #764 "Snapshot dependendency is always redownloaded in sbt 0.12.3"
With this build file

[code]

sbt 0.12.3 always downloads the jar file on update, this was not the case with 0.12.2

[2013-05-24 05:31] hrj opened #765 "Add jfxrt.jar to class path automatically for Java 7"
I started playing with Java FX and found that I had to add this to my `.sbt` file:

[code]

The catch here is that `JAVA_HOME` has to be set in the environment which is tedious.

Could this be automated? Java 6 and Java 8 don't/won't have this jar file, but Java 7 on all platforms has it.

sbt could automatically check for the presence of this file in the path it uses to find the java runtime and

[2013-05-24 22:18] crocket commented on #743
jsuereth : I posted a message to the ML.

[2013-05-25 00:44] harrah commented on #755
Will try to implement the CLASSPATH solution for 0.13.1.

[2013-05-25 00:45] harrah commented on #756
Need a test case in order to ensure any fix works, since the test code doesn't give the error for me with sbt (as mentioned in the linked IDE bug report).

[2013-05-25 02:06] harrah commented on #758
Thanks very much for the test case.

[2013-05-25 02:20] harrah commented on #753
Well, I wouldn't be opposed to a `javaSourceManaged`, but it would be strictly organizational as far as I know.  This comment is not the behavior I would expect:

[code]

Internally, Scala and Java sources are mixed and are re-separated by extension.  A test case showing the problem would be apprecated.  A pull request adding `javaSourceManaged` would be welcome.

[2013-05-25 20:47] paddymahoney commented on #753
So my initial report is just plain incorrect. I made the mistake of failing to clear javaSources after changing the output directory of the source generator. Upon changing the output directory for the sourceGenerator, I ran into duplicate class definition errors, as the generated source still existed in the unmanaged javaSources directory. I then jumped the gun and attributed it to the java source

[2013-05-25 22:06] harrah commented on #753
I wouldn't worry about it.  Users have to know that an initial bug report is not always accurate and you have to read the full conversation.  If you really want to, you could add a short note to the top of the original report.  It is probably best to keep the original text, though.

[2013-05-27 09:38] bchallenor opened #767 "Documented syntax for configuring additional Scala dependencies no longer works"
The [documentation](http://www.scala-sbt.org/snapshot/docs/Detailed-Topics/Configuring-Scala.html) suggests you can do this:

[code]

but with 0.12.3 I get:

[code]

[2013-05-27 09:43] bchallenor commented on #767
I've just noticed that this page is from the snapshot docs. Is it a new feature in 0.13?

[2013-05-27 10:53] jsuereth commented on #767
No, that's a feature just for 0.13.0-SNAPSHOT.  Use the dropdown to migrate
your documentation page back to 0.12.3 for appropriate documentation.

[2013-05-27 10:56] bchallenor commented on #767
Thanks. Is there a 0.12.3 equivalent to bring the value of scalaVersion into scope?

[2013-05-27 16:40] jsuereth commented on #767
the 0.12.x equivalent is:

[code]

[2013-05-27 21:07] #767 closed, assigned to nobody

[2013-05-27 21:07] bchallenor commented on #767
Thanks.

[2013-05-28 11:51] harrah commented on #749
Settings have the following precedence, higher first: 1) settings from .sbt files 2) auto-settings from plugins 3) Build.scala settings.

In any case, control over automatically added settings was already implemented for 0.13:  http://www.scala-sbt.org/0.13.0/docs/Community/ChangeSummary_0.13.0.html#control-over-automatically-added-settings

[2013-05-28 11:51] #749 closed, assigned to nobody

[2013-05-28 11:59] sirthias commented on #749
Thanks, Mark, for this clarification and the pointer!

[2013-05-28 12:54] #757 closed, assigned to harrah

[2013-05-28 13:47] harrah commented on #752
Can you provide a test case?

[2013-05-28 14:02] harrah commented on #760
The problem is that Maven Central has the metadata but not the artifacts:
http://repo1.maven.org/maven2/com/sun/jdmk/jmxtools/1.2.1/

Ivy remembers where it got the metadata and expects the artifacts to be there as well.

[2013-05-28 15:13] #764 closed, assigned to harrah

[2013-05-28 19:09] #760 closed, assigned to harrah

[2013-05-28 19:12] harrah commented on #760
Thank you for the test case.  The issue can be reduced to just a dependency on jmx.  Another fix in 0.13 already fixed this, but this specific manifestation wasn't known.  The test case in the linked commit should keep it fixed.  Finally, this will be evaluated for a backport to 0.12.4 at the time of that release.  Thanks again for the report.

[2013-05-28 19:43] harrah commented on #747
For this to make it into 0.13.0, a pull request is needed by Friday, May 31.  It might be possible to add it in a later 0.13 release, but I haven't thought about compatibility yet.

[2013-05-28 22:06] fernandezpablo85 commented on #747
Sorry, I tried to get a grasp of the code and failed. My sbt-fu is not strong enough _yet_. I'll re-read the docs and will take a stab at it again but I definitely won't make it for this Friday.

[2013-05-28 22:08] harrah commented on #747
Ok, feel free to hop on #sbt or the mailing list for guidance or if you have specific questions.

[2013-05-29 02:42] ezh opened #768 "Sbt lost ivy dependencies at specific condition."
Environment:
plugin development
1. publish plugin on remote git
2. import plugin from remote git with Build.scala. Plugin will be cached with resolver sbt.ProjectResolver(inter-project)
3. publish plugin with 'publish-local'
4. remove import from Build.scala
5. add import to plugins.sbt with 'addSbtPlugin'
6. resolution process broken (plugin still cached in ivy with inter-project)

sbt.ProjectRes

[2013-05-29 19:09] eamelink commented on #714
As a work-around for people finding this issue through Google:

With `stty -a` you can inspect whether it's actually the case that columns is set to 0, and to change it, use:

[code]

[2013-05-30 15:53] aindlq commented on #752
I am facing the same issue, I was going to setup internal repository and use it as proxy according to documentation: http://www.scala-sbt.org/release/docs/Detailed-Topics/Proxy-Repositories.html
but it cant substitute correct dependency version for org.avaje.ebeanorm#avaje-ebeanorm-agent;[3.1,4)

[2013-05-31 07:50] jroper opened #771 "Convenient way to set offline mode for SBT"
Offline is typically not a project specific setting, nor is it a system specific setting that you might put in global settings, rather it's a per invocation setting.  This means it deserves a way to conveniently set it, per invocation.

Currently you can start the SBT console and say set offline := true, but it's not always possible to get to the SBT console to set that, a real example being in Pl

[2013-05-31 15:36] harrah commented on #763
JLine fixes are a priority before RC1.  I'm just not sure whether I'll try to fix this before or after the Beta (which should be soon).

[2013-06-03 02:12] jroper opened #773 "Local changing dependencies expiration issues"
Using SBT 0.13.0-M2.

I have an SBT plugin, P, which is a changing version (snapshot), and it depends on sub projects which therefore have the same changing version, let's call one of them Q, and another R.

If I clear my ivy cache, publish-local P (and Q and R), and then build a project that depends on it, let's call that project X, everything works.  Sometime later (eg, 3 days), I run SBT in X a

[2013-06-05 10:58] hsn10 commented on #106
there is another problem that sometimes build fails on windows if it can not remove target directory because other process has it open

[2013-06-05 16:40] ezh commented on #765
You may create your own plugin in 5 minutes. You may look at my jafafx toy at https://github.com/sbt-android-mill/sbt-application/blob/master/src/main/scala/sbt/application/javafx/JavaFX.scala. I published it under apache license :) Copy n paste if you wish and do what you want.

IMHO SBT is too fat enough already. More code contains more bugs. Better to extend it via plugin API if possible.

[2013-06-06 15:25] #768 closed, assigned to nobody

[2013-06-06 15:25] #773 closed, assigned to nobody

[2013-06-06 23:39] paulp opened #776 "export command could be friendlier"
[code]

[2013-06-07 13:50] ezh opened #777 "SBT throws an exception instead of info message if project override testGrouping and contains no tests."
SBT throws an exception instead of info message if project override testGrouping and contains no tests.

sbt 0.12.4-RC1

SBT project with

[code]

Current behavior:

[code]

Expected behavior:

[code]

[2013-06-07 17:40] harrah commented on #777
Thanks for the minimal test case.
- works in 0.13, added test case to resolve there
- not a regression from 0.12.3, so it won't merit RC3
- issue is now fixed for 0.12 and will be included in 0.12.5 if there isn't a 0.12.4-RC3

[2013-06-07 17:40] #777 closed, assigned to harrah

[2013-06-08 20:36] jpswain opened #778 "sbt console HISTCONTROL=erasedups"
Would it be possible to add the similar functionality that one can enable in bash by adding this to bashrc:

[code]

This means that if I execute these actions:

[code]

My up-arrow history, from most recent to oldest would be:

[code]

the current behavior gets you (recent to oldest):

[code]

This makes it a lot more convenient to jump back to previous commands if you are starting and stopping t

[2013-06-09 14:56] harrah commented on #778
The request seems reasonable, but JLine 2.x is what provides the history support.  See https://github.com/jline/jline2.

[2013-06-09 14:56] #778 closed, assigned to nobody

[2013-06-09 22:46] hsn10 opened #779 "version ranges do not works with repository override"
compiling play framework:

[info] Resolving org.avaje.ebeanorm#avaje-ebeanorm-api;3.1.1 ...

[info] Resolving org.avaje#avaje-javaparent;1.1 ...
[info] Resolving org.avaje.ebeanorm#avaje-ebeanorm-agent;[3.1,4) ...
[warn]  module not found: org.avaje.ebeanorm#avaje-ebeanorm-agent;[3.1,4)
[warn] ==== local: tried
[warn]   https://ponto.amerinoc.com:8081/content/repositories/snapshots/org/avaje/ebean

[2013-06-10 14:26] hseeberger opened #780 "Improve illegal dynamic dependency error message"
This `build.sbt`:

[code]

causes this error:

[code]

This happens with sbt 0.13.0-Beta2.

[2013-06-10 17:51] eed3si9n opened #781 "scripted for cross building plugins"
### steps

Use sbt 0.12.4-RC2 to cross build 0.13.0-Beta2 plugin. build.properties:

[code]

build.sbt:

[code]

Then run `scripted`.
### problem

[code]
### expectation

It would be nice if scripted ran in the context of sbt 0.13.0-Beta2.
jrudolph/sbt-cross-building does it.

[2013-06-11 02:46] harrah commented on #780
Sorry, I missed this on the mailing list.  The error message is actually correct.  Here is what you need:

[code]

The error message needs to be improved, so suggestions are welcome.

[2013-06-14 00:55] OlegYch opened #782 "Incremental compilation is too eager"
I have a project were an API change in one file causes recompilation of whole project.
I have no idea why this happens. All I can see is that there is only one other file in the project which can possibly be affected by this change and it does not change its API after compilation.
here is what 'last compile' tells me:

Using sbt 0.12.3, tried sbt 0.13-Beta2 but that issue persists.

This kills wor

[2013-06-15 14:09] mbrambley commented on #562
can we get anyone to look at this? surely it would make it nicer for everyone if sbt worked in cygwin

[2013-06-15 14:30] hseeberger opened #783 "src/main/resources not on the classpath"
Create `foo.bar` file in `src/main/resources`, then start sbt 0.13.0-Beta2 and start the REPL:

[code]

Same works with sbt 0.12.3.

[2013-06-15 14:34] harrah commented on #781
This was fixed by the above commits.  There will be an RC3 with this next week, but I don't think it will need to reset the two weeks until final as long as this feature works.

[2013-06-15 14:34] #781 closed, assigned to harrah

[2013-06-15 14:41] hseeberger opened #784 "Def.taskDyn(updateClassifiers.all(ScopeFilter(configurations = configurationFilter.value))) causes issues"
Publish locally the new [sbt-eclipse](https://github.com/sbt/sbt-eclipse) plugin, use the `sbt-bug` tag.

Then create a project and add the sbt-eclipse plugin to `project/plugins.sbt`:

[code]

Run the `eclipse` input task:

[code]

[2013-06-15 17:59] jsuereth commented on #562
Sorry, I've been fighting this for a long time.   It's actually a pretty annoying problem with various versions of jline.   We're paying attention and trying to fix this, but having issues.

[2013-06-16 03:55] #783 closed, assigned to harrah

[2013-06-16 03:55] #784 closed, assigned to harrah

[2013-06-17 01:32] jsuereth commented on #660
A note to myself (when I have a chance to fix this) i that you can find the authentication realm by doing a HEAD request on a repository:

[code]

With the bottom line being the important one...

[2013-06-17 16:10] #776 closed, assigned to harrah

[2013-06-17 16:13] harrah commented on #776
[code]

There is still room for improvement, such as possibly still displaying the actual cause ("Expected whitespace").  Also, there will be further work along the lines of 800bd36 in adding or cleaning up syntax summaries.

[2013-06-17 16:54] jsuereth commented on #562
Ok, I think I have a fix for the MSI, but I'm having issues using cygwin/terminal with the BACKSPACE button getting destroyed in the REPL.   Still some kind of odd jline/jansi versioning madness.

[2013-06-17 18:00] bmjsmith commented on #562
Thanks Josh - if you want someone to test this let me know which build is in and I'll give it a spin.

[2013-06-17 18:02] jsuereth commented on #562
FYI - https://github.com/sbt/sbt-launcher-package/pull/47

That's the result of my morning's debugging.   Hopefully I can hammer some more in here.

[2013-06-18 18:15] softprops commented on #379
damn. I just ran into this!

[2013-06-18 23:00] cvogt commented on #771
+1

[2013-06-18 23:33] cvogt opened #786 "compilation error on re-compilation (possibly bug in presentation compiler or incremental compilation)"
I run into this problem in our Slick example project.

The condensed code sample at https://github.com/cvogt/sbt-bug compiles fine at first. The problem occurs when dao.scala is re-compiled (e.g. because it has changed) and tables.scala is not recompiled.

May be a bug in incremental compilation or in the presentation compiler.
@harrah @dotta @dragos @skyluc

Reproduce steps

first compile

<pre>

[2013-06-18 23:36] cvogt commented on #786
the referenced repository uses sbt-1.3.0-Beta2, scala 2.10.2 and slick 1.0.1. The problem also exists with sbt-1.2.x, Scala 2.10.x and slick 1.0.0.

[2013-06-19 11:50] dotta commented on #786
@cvogt This bug is fun :) This is not a presentation compiler bug. I guess @harrah or @gkossakowski will tell us more about it, but a weird interaction between incremental compiler and scalac seem plausible.

[2013-06-19 12:15] softprops commented on #379
If anyone else lands here. _Don't try to patch this in HttpUrlConnection_. You will fail. Instead the problem can be worked around by defining your own [custom resolver](https://github.com/softprops/bintray-sbt/blob/master/src/main/scala/resolver.scala#L14-L16) and using it via sbt's `RawRespository(resolver)` interface

[2013-06-19 13:58] harrah commented on #786
Thanks for the test case.  This is a bug in scalac's separate compilation, which can be verified by running scalac directly, first on both sources and then just on dao.scala.  To help with this, you can see the approximate command line used by sbt with `export compile`.  (The -bootclasspath can usually be dropped from that output.)

[2013-06-19 13:58] #786 closed, assigned to nobody

[2013-06-19 17:44] cvogt commented on #786
I created a Scala ticket https://issues.scala-lang.org/browse/SI-7596.

Workaround for SBT and Play! users: use `clean` before re-compiling.

[2013-06-20 14:08] marcelinarcyz opened #787 "sbt 0.13 beta 2 Internal Exception"
sbt 0.13 beta 2 internal exception error

I'm trying to build a pure Java project with SBT 0.13 beta 2 and I get the following internal error.

My project has no dependencies on Scala or Solr, including transitive dependencies.

This error is 100% reproducible every time I do "sbt clean publishM2". A follow up "sbt publishM2" (without the clean) succeeds 100% of the time.

[code]

[2013-06-20 14:27] harrah commented on #787
Need a test case to be sure, but very likely a duplicate of #117 and related to #417.

[2013-06-20 14:27] #787 closed, assigned to nobody

[2013-06-21 05:06] aryairani opened #788 "%% dependencies are resolved using top-level project's scalaVersion, ignoring subproject settings?"
unbuildable example at https://github.com/refried/sbt-mixed-scalaversions

[2013-06-21 11:46] harrah commented on #788
Duplicate of #708.

[2013-06-21 11:46] #788 closed, assigned to nobody

[2013-06-21 12:31] harrah commented on #781
0.12.4-RC3 contains this fix.  Let me know if it works for you and then I can publish it as final.

[2013-06-21 16:30] RSchulz opened #789 "Provide Option for Colorized Output w/o Cursor Movement Sequences"
The refinement to SBT's output while updating that appeared in 0.12.1 and caused output lines for dependencies not requiring update to be overwritten was very welcome. Unfortunately, the Jenkins ANSI Color plug-in [1] does not handle the cursor movement and screen editing sequences SBT uses to produce this effect. The result is messy console pages in Jenkins. SBT currently allows only one option:

[2013-06-21 17:04] eed3si9n commented on #781
Using 0.12.4-RC3 I was able to run scripted tests for sbt-buildinfo successfully:

[code]

Here are the changes I made to the build: sbt/sbt-buildinfo@b792ed27bd203e68ff61362ac30f73f53303bb1a
It's mostly expected changes due to the difference in Scala version etc, but one thing I had to add was

[code]

Without it the scripted failed by running out of PermGen space.

[2013-06-22 14:44] harrah commented on #781
Thanks @eed3si9n.  Not sure about the PermGen offhand.  Is that close to the lowest amount required?  That is, if you drop to 128M, I assume it doesn't finish or takes much longer?

[2013-06-22 15:47] harrah commented on #789
Yes, good point.  The ANSI color plugin should probably be patched to filter unsupported escape codes.  It is straightforward: escape codes start with ESC and end at the first character in the range of `@` to `~`.

[2013-06-22 16:30] harrah commented on #562
Possibly fixed by 1a3ea6fb8b73d290aab73964c62ad3b14c30916b.  Verification pending.

[2013-06-22 16:31] harrah commented on #763
Possibly fixed by 1a3ea6fb8b73d290aab73964c62ad3b14c30916b.  Related to #562.

[2013-06-22 18:08] eed3si9n commented on #781
No, I used it because that's the setting I use for sbt-assembly.
I was able to run scripted with 128M fine for sbt-buildinfo:

[code]

64M (default) fails as follows:

[code]

[2013-06-23 04:47] OlegYch commented on #763
the issue still exists in http://repo.typesafe.com/typesafe/ivy-snapshots/org.scala-sbt/sbt-launch/0.13.0-20130622-143830/sbt-launch.jar

[2013-06-23 11:52] jsuereth commented on #763
I believe you also need:  -Djline.terminal=jline.UnixTerminal to get full
cygwin support, along with some STTY magic around the edges...

On Sun, Jun 23, 2013 at 12:47 AM, OlegYch notifications@github.com wrote:

[2013-06-23 13:22] OlegYch commented on #782
Hey actually in 0.13.0-Beta2 recompilation is much better.
Tried adding a testcase to sbt but for some reason couldn't run scripted tests (they where failing to compile build definitions, although snapshot sbt was successfully resolved).
Then remembered that i already had a testcase (at https://github.com/OlegYch/sbt-test ) I guess i was trying with M1 previously..

Thanks for your work!

[2013-06-23 14:06] OlegYch commented on #763
Thanks Josh! That almost fixes it. The only missing bit is tab completion.
Btw shortcuts/tab completion do not work in plain cmd either  (unless i add -Djline.terminal=none or -Djline.terminal=jline.UnixTerminal)

[2013-06-23 14:07] OlegYch commented on #763
Note that tab completion works if i don't specify jline.terminal

[2013-06-23 14:46] jsuereth commented on #763
Hmm...  I know jline.UnixTerminal tries to use stty, so we have this hack
in our scripts:
https://github.com/sbt/sbt-launcher-package/blob/feature/windows-sbt-config/src/windows/sbt#L18

I'm trying to find a good workaround so everything works in cygwin with the
least amount of fuss.  I'll be diving in a bit more on monday.  Do you have
any thoughts on how to make jline aware of Cygwin's stty comm

[2013-06-23 15:14] OlegYch commented on #763
I'm not sure if this is related to cygwin as i get exactly the same behavior in cmd and cygwin bash. I.e. tab works only with WindowsTerminal while other shortcuts work only with UnixTerminal.

[2013-06-23 15:17] OlegYch commented on #763
One more bug with UnixTerminal - it prints sbt prompt (> ) twice.

[2013-06-23 15:36] mbrambley commented on #562
gents im just an sbt user how can i try this fix/file as i cannot even find Launch.scala in my installation?
thanks

[2013-06-23 17:29] OlegYch opened #790 "Add a warning about modified project files"
E.g. when someone modifies build definition but forgets to do a reload. Would be very useful for beginners as this seems to be a recurring problem.
Perhaps also auto-reload the definition and provide a way to hook into reloading process so that e.g. sbt-idea plugin could do its work?

[2013-06-24 00:00] #592 closed, assigned to nobody

[2013-06-24 02:55] harrah commented on #790
Duplicate of #241.

[2013-06-24 02:55] #790 closed, assigned to nobody

[2013-06-24 03:01] harrah commented on #782
The launcher in that repository appears to be from April.  Make sure you use a recent launcher and a recent 0.13 version.  Issues with failing to find sbt classes should be fixed.  If you can at least minimize the repository to just the source files and some instructions on what steps were taken and what used to happen and what is improved, I can pull a test case out.

[2013-06-24 11:23] hsn10 opened #791 "Enhanced repository override"
I propose aditions to ~/.sbt/repositories. Adding repository type by appending  # to url.

[repositories]
 local: https://ponto.com:8081/content/repositories/snapshots/#maven
 ivy-releases: https://ponto.com:8081/content/groups/sbt/#sbt
 nexus: https://ponto.com:8081/content/groups/public/#maven
 ivy: https://ponto.com:8081/content/groups/public/#ivy

tags: #maven - maven repository. No ivy specif

[2013-06-24 12:11] jsuereth commented on #791
Just a note:

Right now if you don't specify a "layout" in the [repositories] file, then sbt treats it as a maven repository.   Perhaps we use the "#sbt" and "#ivy" style syntax to denote a default layout for ivy repositories?

[2013-06-24 12:25] harrah commented on #781
64MB is what is needed to run two Scala versions in the same JVM, so that is expected.

[2013-06-24 12:35] harrah commented on #791
It is unnecessary to make it a hack on the URL syntax here.  A pull request with a properly extended syntax is welcome, though.

[2013-06-24 12:42] harrah commented on #562
Launch.scala is an sbt source file.  You can either build sbt from source (see CONTRIBUTING) or wait for 0.13.0-RC1, which might be out later this week.

[2013-06-24 14:16] jsuereth commented on #562
Ok, so here's a quick analysis of the issues.

_FIRST_ ->
  JLine has issues detecting cygwin.  This means we have to manually pass in the jline.Terminal setting when in cygwin using a wrapper script (combined with stty hooks, thanks to cygwin's strange environment and lack of direct cygwin hooks in jline, for good reason).
  See https://github.com/jline/jline2/issues/62
  *_Note: this workaround

[2013-06-24 14:30] jsuereth commented on #562
Note:   Scala JLine bug reported: https://issues.scala-lang.org/browse/SI-7604

[2013-06-24 14:36] harrah commented on #562
Awesome, thanks Josh.  The main action items for 0.13.0-RC1 are to update the setup docs for manual setup, update the changes page to notify users of the potential for improvement by using `-Djline.terminal=unix, and make the native packages to do the right thing by default.

[2013-06-24 14:37] jsuereth commented on #562
Yeah, already have the patches ready for native packages, I'll work on the docs after I figure out this JANSI issue.

[2013-06-24 17:40] hsn10 commented on #791
if you do not specify layout them maven layout is used, but ivy files are uploaded making our repository manager to complain.

[2013-06-24 18:23] harrah commented on #791
Repository overrides do not control publishing.  The repository to publish to is defined by the `publishTo` setting.

[2013-06-24 18:36] hsn10 commented on #791
of course they do, try override local

[2013-06-24 19:05] hsn10 opened #792 "make artifactId in exclude optional"
in short make this work:
    val appDependencies = Seq(
       "com.alvazan" % "playorm" % "1.5" exclude("org.mongodb"),

it would be much easier to read, because most time you are excluding entire groups.

[2013-06-24 19:17] harrah commented on #792
Please use the mailing list for support.  This is by design and a change would need discussion.

[2013-06-24 19:17] #792 closed, assigned to nobody

[2013-06-24 22:11] harrah commented on #791
That relies on undocumented internal implementation details that are subject to change.  Repository overrides are for the repositories to retrieve from, not to publish to.  The issue that should be fixed is then to disallow overriding the local repository by coincidence.

[2013-06-25 12:22] jrudolph opened #795 "`Graph.toAscii` fails with `StringIndexOutOfBoundsException` if there's no terminal"
See https://groups.google.com/forum/?fromgroups#!topic/simple-build-tool/csu0G50_zDQ and jrudolph/sbt-dependency-graph#32

From the linked mailing list post:

The solution is to check what `getTerminalWidth` returns and set some default value in case it returns 0 (or another low value which would make no sense).

I will add a fix like this to sbt-dependency-graph but it would make sense to fix tha

[2013-06-25 12:44] harrah commented on #795
@eed3si9n can you review this?

[2013-06-25 13:10] eed3si9n commented on #795
What @jrudolph is saying makes sense. If the width is 0, we need some default value.
I actually had it hardcoded in the original implementation to 72 because I remember paulp making [fun of it](https://groups.google.com/d/msg/simple-build-tool/Ac0_uheHaJg/y8-Spt2wEYoJ):

[2013-06-25 13:37] harrah commented on #795
Ok, so, add `... min 20` or something?  Do you want to submit a patch?

[2013-06-25 13:51] eed3si9n commented on #795
Sure

[2013-06-25 14:41] #795 closed, assigned to eed3si9n

[2013-06-25 14:45] jrudolph commented on #795
Thanks, @eed3si9n and @harrah for the speedy resolution.

[2013-06-26 12:26] hsn10 commented on #791
repository override for deployment is basic requirement for running build tool from CI server. Best if you can do it from command line.

[2013-06-26 12:43] jsuereth commented on #791
Not sure I understand how that works.  e.g. in our builds we configure publishTo for the CI, not ourselves.

[2013-06-26 13:04] hsn10 commented on #791
3rd party projects comes with their own publishTo settings. Usually to their own repo or sonatype. Its needed for CI integration to override destination without need to modify original source. Maven can do it from commandline which is best for CI server.

[2013-06-26 13:06] hsn10 commented on #791
currently i am using override local in ~/.sbt/repositories and running publish-local task

[2013-06-26 15:35] OlegYch opened #798 "updateSbtClassifiers fails in 0.13.0-Beta2 sbt.ResolveException: unresolved dependency: default#bla-build;0.1-SNAPSHOT: not found"
With an empty project (only build.properties) and latest launcher i get this:

[code]

full log at https://gist.github.com/OlegYch/5868439

[2013-06-26 17:41] #562 closed, assigned to jsuereth

[2013-06-26 17:41] #763 closed, assigned to harrah

[2013-06-26 18:31] sourcedelica commented on #562
Hi guys - would one of you mind to add answer to http://stackoverflow.com/questions/17124689/i-really-would-like-sbt-and-its-console-to-work-under-cygwin-any-way-you-think-i giving the status?  I was wondering which version of sbt and Scala repl will have the fix and if there any workarounds for now.  Thanks!

[2013-06-26 18:33] jsuereth commented on #562
sbt 0.13 will have the fix, and will work with any Scala version AFAIK.  The backspace will most likely still be broken.  We're not sure what that issue is, but there's a fix for Scala 2.11 that may fix this issue as well.

[2013-06-26 18:38] sourcedelica commented on #562
Thanks - that's good to know.  The backspace is my primary source of pain.

[2013-06-26 18:38] harrah commented on #562
It is probably clear in the context of this bug, but that is backspace in the Scala REPL on mintty/cygwin that will be broken.  Other windows terminals (that don't require UnixTerminal) should work ok, including backspace.

[2013-06-26 18:43] sourcedelica commented on #562
Ok. Are there any other terminals for Cygwin that support cut and paste?  I realize this question is out of scope for this fix :) I'm coming from Mac and Cygwin is a necessary evil.

[2013-06-26 19:01] sourcedelica commented on #562
I'm going to try rxvt when I get back to work.

[2013-06-26 19:05] harrah commented on #562
I don't know much about windows options other than what I've done to help reproduce and fix this bug.  I believe other terminals are limited in some way on earlier sbt versions, perhaps lacking color and shortcut support.

[2013-06-26 23:25] gkossakowski opened #799 "Confusing error message when you forget to call value when referring to a setting"
I defined the following setting:

[code]

and I got the following error message:

[code]

I don't really understand the underlaying issue but we should dig into it because forgetting to call `value` on setting is going to be a common mistake. We should try to have the best error message in such situation.

[2013-06-26 23:28] jsuereth commented on #799
Just a note on what I've found:  The error message is delivered before the macro has a chance to run.  It appears calling "copy" on any TaskKey is just bad on the compiler, as it selects some kind of implicit conversion which isn't going to work and doesn't back down:

[code]

[2013-06-27 12:58] harrah commented on #799
This is from scalac.  Neither macros nor the settings system are involved.  It is just a standard implicit with evidence to a case class.  If you think this is a bug in scalac, here is a test case:

[code]

Error:

[code]

[2013-06-27 13:10] jsuereth commented on #799
@gkossakowski I actually think this is something Scalac needs to help us out on.   That error message is quite terrible.  Should I open a ticket on scala?

[2013-06-27 15:13] OlegYch commented on #763
hm i tried 0.13.0-20130627-052237 (launcher and sbt) but that doesn't seem to change anything even with -Dsbt.cygwin=true

[2013-06-27 15:37] harrah commented on #763
That would be surprising, since I tested cygwin with both mintty and some other terminal I'll have to look up.  Note that you still need -Djline.terminal=UnixTerminal as well.  Can you post your command line and the specific issues remaining (unless everything is broken).

[2013-06-27 16:10] OlegYch commented on #763
So far i've tried plain cmd, and cygwin bash from cmd - the behavior is the same. I get the same behavior with tcc/le and bash in ConEmu as well. Haven't tried mintty. Btw console task seems to be fine if i set terminal to Windows.

Here are a few screenshots
http://gyazo.com/88a84119f92294522fc069f5496e5977.png
http://gyazo.com/9ff5aa679d2974f754fb987058e43443.png
http://gyazo.com/a2361ca98f283d6

[2013-06-27 16:23] harrah commented on #763
So, "cygwin" is something of an inaccurate term.  It really means "terminal that understands ansi escape codes".  If you are using plain cmd, don't set either `jline.terminal` or `sbt.cygwin` and it will use a native library to provide the color support.  I'm not sure what name should replace this ambiguous use of "cygwin".

[2013-06-27 16:30] harrah commented on #763
As @jsuereth clarified, cygwin is still a relevant distinction since it is necessary to set up the terminal correctly with stty.

[2013-06-27 16:38] OlegYch commented on #763
I don't really care about color support.
So far i was trying to get basic text editing and tab completion working (it doesn't work in both cmd and bash currently).

[2013-06-27 16:45] harrah commented on #763
If using cygwin+a terminal that supports ansi escape sequences (like mintty), `-Djline.terminal=UnixTerminal -Dsbt.cygwin=true`.  If not, add nothing.  `WindowsTerminal` should be automatically selected if nothing is explicitly added.

[2013-06-27 17:04] OlegYch commented on #763
left-right-up-down shortcuts still do not work http://gyazo.com/ae52abfad4f48d9ee7983ee3fd3eb6d2.png

[2013-06-27 18:13] #798 closed, assigned to harrah

[2013-06-27 18:15] harrah commented on #798
Thanks for the test case, should be fixed now.

[2013-06-27 18:50] OlegYch commented on #798
Thanks Mark.

[2013-06-27 23:33] OlegYch opened #801 "Invalid generated name for meta-project"
[D:\Program Files\ConEmuPack\2013-06-27-16-14]xsbt
[info] Loading global plugins from C:\Users\OlegYch.sbt\0.13.0-Beta2\plugins
[error] Invalid project ID: Expected letter
[error] 2013-06-27-16-14-build
[error] ^

[2013-06-28 01:01] harrah commented on #801
See also https://groups.google.com/d/msg/simple-build-tool/inqxjBHyHns/RvKW0CUj60EJ, https://groups.google.com/d/msg/simple-build-tool/ShikT6VAd_g/edoQUic4F44J, and https://github.com/sbt/sbt/commit/ce1c8b0ebc4a18d2fcd61b8fbe43d03c5a06086a.  I do not intend to do anything about this for 0.13 unless a straightforward, easy alternative behavior is identified (soon).

The output with the latest 0.13,

[2013-06-28 01:38] OlegYch commented on #801
well this is a very unfortunate breaking change
also, you have to consider that there is no way to change this id for meta projects (note that i'm specifically talking about metaprojects)
you could just append "build-" in the beginning of the name instead of end

[2013-06-28 01:49] harrah commented on #801
The auto-generated meta project name will only be invalid if the root project name is invalid.  With the latest changes, loading should not make it to the meta project.  It would be possible to use the old behavior and randomly generate an ID when the ID is invalid.

[2013-06-29 03:24] harrah commented on #801
7992997ac14894d0fbd8028a1f48768387fceab2 prepends "root-" if the initial character is invalid.  There is no fallback implemented at this time.

[2013-06-29 03:24] #801 closed, assigned to harrah

[2013-07-02 15:54] jrudolph opened #804 "Aggregated task loses state updates from `updateState` when just one sub-task fails"
In `sbt-revolver` we use `update-state` on the `re-start` and `re-stop` tasks to register globally which processes are running when the task has successfully started a project.

See https://github.com/spray/sbt-revolver/blob/master/src/main/scala/spray/revolver/RevolverPlugin.scala#L35

This usually works well. However, if `re-start` is used from an aggregate project to start many processes in par

[2013-07-03 06:24] gkossakowski commented on #799
It turns out to be [SI-3346](https://issues.scala-lang.org/browse/SI-3346). It's quite deep problem so it won't be fixed any time soon, unfortunately.

[2013-07-03 11:23] harrah commented on #799
Ok, thanks for following up.

[2013-07-03 15:25] harrah commented on #804
Can you provide a test case?  Here is my attempt to reproduce:

[code]

If all sources compile ok, I see:

[code]

If I add a source `a/A.scala` with an error, I see:

[code]

[2013-07-03 15:33] jrudolph commented on #804
Interesting, what I missed to say before was that I only tested with sbt 0.12.4. Is it likely that it was fixed somehow afterwards?

[2013-07-03 15:45] harrah commented on #804
Here is the sample converted for 0.12.4, which also works:

[code]

[2013-07-03 15:58] jrudolph commented on #804
Ah, interesting. I think the problem is that the updater function is indeed called but the state is never updated with the new value.

I published a test project here: https://github.com/jrudolph/sbt-state-updater-test

[2013-07-03 16:38] copumpkin commented on #734
I see there appears to be support for this in the new test-interface (and scalatest's framework seems to report something). Unfortunately, I'm getting questionable results from it so I'm not sure if it isn't ready yet or if I'm doing something wrong. If it's expected to work at this point, I'll take some time to make a reduction of the timing issues I'm seeing.

[2013-07-03 16:50] harrah commented on #734
The test framework is reponsible for reporting it.  What ScalaTest version are you using?

[2013-07-03 16:50] harrah commented on #734
(Also, I'm closing this because it is supposed to be implemented in test-interface 1.0 + sbt 0.13.0.  We can continue to discuss here and reopen if necessary.)

[2013-07-03 16:50] #734 closed, assigned to nobody

[2013-07-03 19:38] everson commented on #413
I have the same issue. It is consistently slow, no matter how much times I run it. It takes more time resolving than building itself, even on a fast network connection. Using SBT 0.12.4.

[2013-07-03 19:58] copumpkin commented on #734
Oh nevermind, I just saw that it's actually reporting a duration of -1 every time. I can't tell which framework I'm even using. It's either scalatest or the junit runner, but I can't find them in the dependencies being fetched, and don't really understand how this is loaded (is it reflective?)

[2013-07-03 20:06] copumpkin commented on #734
Aha! https://github.com/sbt/sbt/blob/8c7a1a4f8a5451dc96e6096794a83d854e3b25ea/testing/agent/src/main/java/sbt/FrameworkWrapper.java#L148

[2013-07-03 20:42] copumpkin commented on #734
Okay, so it all happens because of this line:

[code]

in https://github.com/sbt/sbt/blob/8c7a1a4f8a5451dc96e6096794a83d854e3b25ea/testing/src/main/scala/sbt/TestFramework.scala#L37. Which just means I need to update my runner (probably the JUnit one, since the scalatest one seems to implement it) to implement the new interface.

[2013-07-03 20:47] harrah commented on #734
Note that only a recent, snapshot version of ScalaTest implements the test-interface.  I believe junit-interface is being updated, but you probably have to build that from source to get this feature.

[2013-07-03 21:19] #804 closed, assigned to harrah

[2013-07-03 21:20] harrah commented on #804
Thanks for the test case.  If there is an RC2, this will go in- it is important, but not a regression.