[2017-10-28 17:14] madhurakhal opened #3686 "Unable to upgrade sbt on mac with brew."
(See the guidelines for contributing, linked above)

## steps
Install java 9
<img width="829" alt="screen shot 2017-10-28 at 7 10 33 pm" src="https://user-images.githubusercontent.com/839882/32136768-1fbec868-bc14-11e7-9b1c-db43bede4d7d.png">

## problem

Cannot upgrade sbt using brew.

## expectation
sbt: Java 1.8 is required to install this formula.
JavaRequirement unsatisfied!

## notes
I have

[2017-10-28 19:27] francisdb opened #3687 "sbt 1.0.3 not longer watches test classpath"
## problem

macOS (have not tried other os)

with sbt `1.0.2` when using `~test:compile` and modifying a test the test is recompiled (same with `~testOnly xxx`)

with sbt `1.0.3` when using `~test:compile` and modifying a test nothing happens (does recompile when changing code in src/main)

could be related to the changes in #3527?

[2017-10-28 19:55] RainbowHerbicides commented on #3686
Same issue when i am trying to update to/install last version of sbt via brew:

sbt: Java 1.8 is required to install this formula.
JavaRequirement unsatisfied!
You can install with Homebrew-Cask:
 brew cask install caskroom/versions/java8
You can download from:
 https://www.oracle.com/technetwork/java/javase/downloads/index.html
Error: An unsatisfied requirement failed this build.

Even though i h

[2017-10-29 16:49] jaceklaskowski commented on #1224
It could've been easier, but the workaround by @dwijnand makes a lot of sense to me and so I'm closing  the issue.

[2017-10-29 16:58] dwijnand commented on #1224
I agree it could and should be easier. Do you mind if we use this issue to track the addition of a more formal way to define the initial project?

[2017-10-29 18:42] francisdb commented on #3687
hmm, I seem to also see this for some non-test files.

[2017-10-30 06:55] ktoso commented on #3623
We also noticed this, on our build servers, when we upgraded to sbt 1.0.2 recently. Locally it seems to work fine, and was not able to reproduce the issue locally so far.

Here's an example failed build https://jenkins.akka.io:8498/job/pr-validator-per-commit-jenkins/10520/console

[2017-10-30 07:31] dwijnand commented on #3642
This doesn't appear to have anything to do with sbt.

[2017-10-30 07:31] #3642 closed, assigned to nobody

[2017-10-30 07:32] xuwei-k commented on #3684
https://github.com/sbt/ivy/pull/27

[2017-10-30 07:38] dwijnand opened #3690 "ArrayIndexOutOfBoundsException in Ivy under Java 9"
Tracking https://github.com/sbt/ivy/pull/27

[2017-10-30 07:50] sirthias commented on #1833
@PanAeon Nice! Your tip does work for me on OSX!
 I think it'd be great if this made it into the documentation!

[2017-10-30 07:58] dwijnand commented on #3685
Right, the release notes are accidentally misleading. What's mean is that polling is the default on macOS: https://github.com/sbt/sbt/pull/3597/files#diff-623bb403e2764f9244d1e109c8fba387R138

[2017-10-30 07:58] #3685 closed, assigned to nobody

[2017-10-30 08:10] hseeberger commented on #3685
Thanks. Yet I don‘t see any improvements, i.e. either polling doesn‘t give any advantages or sbt doesn‘t use it.

[2017-10-30 08:13] dwijnand commented on #3685
Are you on a Play project? Play doesn't use sbt's polling.

[2017-10-30 08:28] hseeberger commented on #3685
Nah, I don't play ;-)
Plain old sbt project.

[2017-10-30 08:40] francisdb commented on #3687
@dwijnand let me know if you have a hard time reproducing this, then I can try to come up with a test project

[2017-10-30 09:37] Duhemm opened #3691 "Scripted test `source-dependencies/binary` fails with Scala 2.12.{0,1,2,3}"
## steps
1. Checkout sbt @ 4ce4fb72bde3b8acfaf526b79d32ca1463bc687b
2. Modify the `scalaVersion` inside the `build.sbt` of the scripted test `source-dependencies/binary` so that it reads:
[code]
3. Run `scripted source-dependencies/binary`
## problem
- The test fails

## expectation
- The test succeeds

## notes
- It passes with Scala 2.11.11, 2.12.4 or if the `scalaVersion` is not set.

sbt versi

[2017-10-30 09:52] algimantasligeikis opened #3692 "Unresolved dependencies (sbt version 0.13.13)"
## steps
1. Installed sbt 0.13.13.1 (windows installer)
2. Executed sbt run on project
3. SBT_HOME is set correctly, sbt sbtVersion returns 0.13.13.1

## problem
[warn]  ::::::::::::::::::::::::::::::::::::::::::::::
[warn]  ::          UNRESOLVED DEPENDENCIES         ::
[warn]  ::::::::::::::::::::::::::::::::::::::::::::::
[warn]  :: com.typesafe.play#sbt-plugin;2.5.10: not found
[warn]  :: com.

[2017-10-30 10:38] mdedetrich commented on #3527
I don't think this is realistically possible if you actually want to provide a file watcher service with good performance. It seems like other solutions from other companies (Intellij, Facebook) have custom rolled solutions which are coded in C/C++.

I mean that this is kind of the issue, its deficient in JDK and to do this stuff properly you have to interact with the lower level platform

[2017-10-30 10:42] stringbean commented on #3527
@gmethvin's library uses JNA to interact with the native filesystem events API so it is 'pure java' but still benefits from native events.

After a quick look at the different solutions this seems a good one to start with.

[2017-10-30 10:46] jrudolph commented on #3502
Happened for me on the first run of the sbt 1.0 akka-http build.

[2017-10-30 10:51] jrudolph commented on #3344
For akka-http it's about 50% slower (on my machine 0.13.16: 11s -> 1.0.3: 15s)

[2017-10-30 10:52] jrudolph commented on #3344
Btw. that's Linux running after the build has been compiled on previous runs.

[2017-10-30 11:04] mdedetrich commented on #3527
I guess this is nitpicking but its not really pure Java then (pure Java implies no JNA). I mean to interact with C/native events then yo need JNA/JNI

[2017-10-30 11:18] jrudolph opened #5605 "LogExchange.initStringCodecs shows up with about 10% in sbt startup time"
That's for the akka-http sbt 1.0 build (commit https://github.com/akka/akka-http/commit/da0060d3bbf46efdb9e7727db590484db5bb763f on akka-http)

The code in question uses TypeTags which initializes `scala.reflect.runtime.universe` which takes most of the time. If that universe is not used elsewhere some time could be saved by not using TypeTag, maybe `StringTypeTag` could be made a macro and calcul

[2017-10-30 11:19] jrudolph commented on #5605
Here's a flamegraph I took with async-profiler for reference:

[flamegraph-akka-http-sbt.svg.txt](https://github.com/sbt/util/files/1426966/flamegraph-akka-http-sbt.svg.txt)

[2017-10-30 12:41] jrudolph commented on #3559
To offer a counter-point: I've been running sbt with G1 for a long while even if it is a bit slower because it seems to release unused classes more reliably than other GC (i.e. favoring long running sbt sessions). I also run with quite big heaps, so GC might be less of an issue.

[2017-10-30 12:46] dwestheide commented on #3687
+1 – I am on macOS, and it seems that neither test sources nor main sources are watched, or at least, no triggered task execution is happening any more in SBT 1.0.3.

[2017-10-30 12:54] vhiairrassary opened #3693 "Reference to 0.14.0 in 1.0.3 warning message"
Using `sbt.version = 1.0.3`, launch `sbt --info`:
[code]

Source code link: https://github.com/sbt/sbt/blob/1.x/main-command/src/main/scala/sbt/BasicCommandStrings.scala#L197

[2017-10-30 13:02] jrudolph opened #3694 "Performance observations (sbt 1.0 startup performance)"
Here's an adhoc observation I've seen in a flamegraph I recently captured with async-profiler during startup of sbt. On runs where all `.sbt` files should already have been compiled, they still seem to be parsed which is where quite some time is spent because a compiler instance needs to be initialized for that (with all the classloading that happens because of that).

Another hotspot seems to be

[2017-10-30 16:53] dwijnand commented on #3684
I'm going to assume that https://github.com/sbt/ivy/pull/27 fixes this issue.

[2017-10-30 17:17] rsoeldner commented on #3693
What the point here, remove the warning ?

[2017-10-30 18:24] blast-hardcheese opened #3695 "~compile only watches some files"
## Steps
### Setup

[code]

### Launch sbt `~compile`

[code]

### Change files

1. Changes to `src/main/scala/App.scala` always trigger a recompile
1. Changes to `src/main/scala/foo/bar.scala` never trigger a recompile
1. Create a new file, `src/main/scala/foo/baz.scala`. Changes to `baz.scala` trigger a recompile until the next full sbt launch (close and open again).

## problem

`~` doesn't alw

[2017-10-30 18:25] blast-hardcheese commented on #3695
@dwijnand This is the issue you requested of me from Gitter, please let me know if I can be of any help going forward

[2017-10-30 18:48] blast-hardcheese commented on #3695
Possibly related to #3687

[2017-10-30 22:22] AlistairB commented on #3197
I get this issue as of `1.0.3`. `1.0.2` reliably works.

[code]

EDIT: `apt-get install bc` does fix it

[2017-10-31 03:59] ngbinh commented on #3344
same here. About 20-30% slower on 1.0.3 compares to 0.13.16

[2017-10-31 04:07] gmethvin commented on #3527
By pure Java I meant that the entire library is Java code. No scala code, no custom native libraries, etc. JNA is about the closest thing we can get to pure since we need some way to access functionality that's not implemented in the JVM.

[2017-10-31 07:03] vhiairrassary commented on #3693
That is weird to see a warning about the `0.14.0` while we are running the `1.0.3`

[2017-10-31 08:12] eed3si9n commented on #3427
I am trying to fix this, and I am hitting this bug in sbt 1.0.2

[code]

so I probably need to patch the Zinc build somehow.

[2017-10-31 09:24] megri commented on #3527
I did some tests using https://github.com/gjoseph/BarbaryWatchService. It's closely modelled after the Java API and feels pretty pluggable. I'll see if I can make a sbt-plugin POC

[2017-10-31 09:36] dwijnand commented on #3695
Thanks @blast-hardcheese.

[2017-10-31 10:04] dwijnand commented on #3197
`bc` will be a dependency of 1.0.4: https://github.com/sbt/sbt-launcher-package/pull/191.

[2017-10-31 10:06] dwijnand commented on #3692
Your project is using sbt 1. You have to upgrade to Play 2.6.6 and sbt-digest 1.1.4.

[2017-10-31 10:06] #3692 closed, assigned to nobody

[2017-10-31 10:12] dwijnand commented on #3427
Are you referring to "Non-compiled module 'compiler-bridge_2.12' for Scala 2.13.0-M2"? Cos that looks like the wrong part.

[2017-10-31 12:32] ghost opened #3696 "sbt proxy configuration problems"
It seems that I have a problem configuring proxy for SBT. I tried the following methods

## steps

1. Configured the following parameters in %SBT_HOME%\conf\stbconfig.txt:
[code]
2. I added the above parameters sbtopts file but didn't work.

3. I tried the solutions that said to pass the configurations in command line as environment variables ( JAVA_OPTS or SBT_OPTS) but it seems that it didn't wo

[2017-10-31 17:18] joan38 commented on #3501
@dwijnand It seems that with SBT 1.0.3 we've been too strong. Now it doesn't pick up changes.

Steps to reproduce:
[code]

Should I open a new issue?

[2017-10-31 17:22] eed3si9n commented on #3501
Someone reported https://github.com/sbt/sbt/issues/3695

[2017-10-31 17:26] joan38 commented on #3501
Great, thanks @eed3si9n

[2017-10-31 17:48] TinLe opened #3697 "Missing dependency for bc in sbt 1.0.3 deb package"
(See the guidelines for contributing, linked above)

## steps
Ubuntu 16.04.3

apt-get upgrade to upgrade sbt to 1.0.3 (from 1.0.2)

Tried to build package with following:

$ sbt -Dsbt.log.noformat=true clean compile assembly
/usr/share/sbt/bin/sbt-launch-lib.bash: line 207: bc: command not found

## problem

Dependency for package bc is missing when install sbt deb package.   BC is required in sbt

[2017-10-31 17:58] TinLe commented on #3697
Look like this should be bug against sbt-launcher and not sbt itself.   I tried moving this bug, but not able to.

[2017-10-31 17:59] ruippeixotog opened #3698 "Add strict aggregation from sbt-doge to SBT 1.0"
I'm trying to migrate from sbt-doge to SBT 1.0, but I can't find a way to replace [strict aggregation](https://github.com/sbt/sbt-doge#strict-aggregation) (`+++`). Using it seems to be the only way to build a project for a specific version (a thing usually done in Travis builds) in typical setups of a root project aggregating all sub-projects.

I think that the default behavior of `++` should be t

[2017-10-31 18:00] TinLe commented on #3697
I found https://github.com/sbt/sbt-launcher-package/pull/191, so look like others has reported this bug and fix is coming.

[2017-10-31 18:00] #3697 closed, assigned to nobody

[2017-10-31 19:12] eed3si9n commented on #3698
If we are not already doing that, I think it makes sense for `++ 2.11.11 compile` to do strict aggregation (aggregate across only the subprojects that supports Scala version 2.11.11).

To get the 0.13 behavior, people could use `++ 2.11.11! compile`

At the same time, I've been caught off guard by the new `++2.11.11` not switching to the desired Scala version, so I think we might want to make the

[2017-10-31 19:14] smarter commented on #3631
Duplicate of https://github.com/sbt/sbt/issues/3142 where I provided some more info.

[2017-10-31 19:43] ruippeixotog commented on #3698
Sorry @eed3si9n, I should have provided an example to better explain the scenario to new people reading this. Consider the following `build.sbt`:

[code]

The output for `++2.11.11 compile` in this scenario is:

[code]

`++ 2.11.11! compile` isn't adequate in this scenario because it would force `module` to use Scala 2.11.11 when it has an incompatible dependency. sbt-doge solves this issue with i

[2017-10-31 20:16] eed3si9n commented on #3698
I think we are on the same page. I wrote sbt-doge because I thought `+compile` should first iterate over the Scala versions, and then aggregate only the subprojects that support a particular Scala version.

Similar argument can be made for `++2.11.11 compile`, and in your example skip the aggregation of "module" subproject. To put it in terms of steps, problem, expectation.

## steps

[code]

1. R

[2017-10-31 21:31] ckozak commented on #3670
still broken on 1.0.3

[2017-10-31 21:32] ckozak commented on #3670
@alexarchambault it's logical that it would work with sbt-coursier because the issue is likely in library resolving code. But our project doesn't compile with coursier and I wasn't able to reproduce that yet in an isolated case

[2017-10-31 21:38] eed3si9n commented on #3670
Here's a workaround for 1.0.3 (or any 1.0.x):

[code]

[2017-10-31 21:38] eed3si9n commented on #3670
Potentially related to https://github.com/sbt/sbt/issues/3519

[2017-10-31 22:01] alexarchambault commented on #3670
@ckozak Yeah, I'm interested in knowing more. Some issues with Java 9, and sbt >= 1.0.2, were fixed in the latest 1.0.0-RC13, if ever that's related to the errors you're seeing.

[2017-10-31 22:05] maqdev commented on #3431
Actually even the original bug isn't fixed. Proposed solution in https://github.com/sbt/librarymanagement/pull/171/files#diff-b37282394a4686fb706430bc4f82ad88R365 fixes this only for local publish `IO.FileScheme`.

In case when the problem is with Sonatype there is no file name in exception even with `1.0.3`.

[2017-10-31 22:17] ckozak commented on #3670
@eed3si9n can confirm, your workaround works

[2017-10-31 22:44] antoniocachuan opened #3700 "object apache is not a member of package org, compiling Spark (Scala) with SBT"
## steps
I just run this code in CMD
`sbt package`

![error](https://user-images.githubusercontent.com/4010332/32252314-d735eb8e-be62-11e7-9750-dbc36d172e06.png)

## problem
I'm developing a Spark process in Scala (Eclipse IDE) I am trying to packaged in a .jar with sbt but in getting this error (see picture). Please any help I will be grateful.

Spark 1.6.0
Scala 2.10.5
SBT 0.13.16

## expectatio

[2017-10-31 23:22] retronym commented on #3142
For this recompilation bug, on the first compile, a dependency on `rt.jar:!/java.lang.Object.class` is recorded. On the subsequent compile command, the incremental compiler is unable to find `rt.jar` in what it [believes](https://github.com/sbt/sbt/blob/3e50fdc825837f4dc10be1657af135387168e810/compile/integration/src/main/scala/sbt/compiler/MixedAnalyzingCompiler.scala#L159-L168) is the definitive

[2017-10-31 23:26] retronym commented on #3142
The upcoming build of Scala 2.10.7 will have native support to deal with the removal of rt.jar in Java 9. We plan to release SBT 0.13.next based on this version. That will simplify the launcher script, the rt.jar export and `-Dscala.ext.dirs=...` property will no longer be required.

However, we might also need to make the incremental compilers aware of the new platform classloader, to avoid regre

[2017-11-01 00:27] retronym commented on #3142
Indeed, SBT overcompiles when using the native support for rt.jar.

With the project Scala version set to 2.10.7-SNAPSHOT:

[code]

2.12.4 does not appear to have the problem:

[code]

[2017-11-01 00:43] retronym commented on #3142
Right, that's because on the 2.10.x backport, I modelled the virtual rt.jar entries as `ZipEntry`, whereas on 2.12.x we use a new sort of `AbstractFile`, `PlainNioFile`.

SBT 0.13 ignores 2.12's `PlainNioFile`, so no binary dependency is registered for things from the platform classpath:

[code]

[code]

[code]

So for 2.12, SBT undercompiles if the JDK happened to be overwritten, and in 2.11 is o

[2017-11-01 01:25] retronym commented on #3142
I've added a commit to my PR that makes SBT 0.13 ignore directories as the underlying source of `ZipFile`. That makes 2.10/2.11 consistent with 2.12, which is the lesser of two evils.

[2017-11-01 01:28] laughedelic opened #3702 "Integrating sbt server with Atom"
From [Gitter](https://gitter.im/sbt/sbt-contrib?at=59f78dc781cd9a5d7e9fef2f).

## Intro

I'm working on an Atom plugin which integrates Atom IDE UI with sbt server. I just want to share my observations here regarding Atom specifics and sbt server rough edges I encounter on the way.

First, for the context, there are two things Atom & Facebook provide LSP in Atom:
* [atom-languageclient](https://gi

[2017-11-01 10:54] adisesha commented on #2687
Any update on this issue?

[2017-11-01 11:22] xuwei-k commented on #3684
workaround

[code]

[2017-11-01 13:10] raboof opened #3703 "Failure to resolve genjavadoc-plugin"
(See the guidelines for contributing, linked above)

## steps

* clone git@github.com:akka/akka
* set project/build.properties to 1.0.3
* `rm -r /home/aengelen/.ivy2/local/com.typesafe.genjavadoc/genjavadoc-plugin_2.12.4`
* `rm -r /home/aengelen/.ivy2/cache/com.typesafe.genjavadoc/genjavadoc-plugin_2.12.4`
* `sbt -Dakka.genjavadoc.enabled=true ++2.12.4 compile`

## problem

sbt fails to download c

[2017-11-01 13:43] megri commented on #3527
If you want, feel free to experiment with/copy this plugin: https://github.com/megri/macos-watcher

[2017-11-01 15:44] dwijnand commented on #3559
This shipped in 1.0.3

[2017-11-01 15:44] #3559 closed, assigned to nobody

[2017-11-01 16:33] Enalmada commented on #3630
Noting that another user has reported detecting change issues that may or may not be related:

https://groups.google.com/d/msg/play-framework/N1ozDOe5sU4/jKkSLhZ1AQAJ

[2017-11-01 19:43] reikdas opened #3704 "Sbt keeps throwing weird java error"
Running any sbt command throws a java error -

"The java installation you have is not up to date
requires at least version 1.6+, you have
version 1.8"

This is after the last sbt update . I am unable to check the current sbt version because I run into the above mentioned error on running sbt sbt-version.

[2017-11-01 19:49] ritschwumm commented on #3704
which operating system do you use?
could this be related to the change in sbt-laucher using bc to compare java versions?

[2017-11-02 00:00] Tello-Wharton commented on #3704
I fixed this by removing SBT:
rpm -e sbt

And deliberately installing the 1.0.2 version
 wget https://dl.bintray.com/sbt/rpm/sbt-1.0.2.rpm
rpm -ivh sbt-1.0.2.rpm

(done on centos)

[2017-11-02 00:21] xuwei-k commented on #3703
https://github.com/sbt/sbt/issues/3684#issuecomment-340142250 ?

[2017-11-02 02:29] laughedelic commented on #3644
I got a little insight on why this is happening:
1. `textDocument/didSave` is a [notification message](https://github.com/Microsoft/language-server-protocol/blob/master/protocol.md#notification-message), which doesn't have an ID:

2. sbt and treats any incoming messages as request messages and handles it in [`onRequestMessage`](https://github.com/sbt/sbt/blob/1.x/main/src/main/scala/sbt/internal/s

[2017-11-02 03:54] gmethvin commented on #3630
@Enalmada I suspect this is a Play issue, not an sbt issue. Play uses its own file watcher. Can you try with the latest Play 2.6.7? If you still see problems open an issue here: https://github.com/playframework/playframework/issues

[2017-11-02 04:21] Enalmada commented on #3630
@gmethvin Good news...2.6.7 with sbt 1.0.2 does seem to be ok so far...limited testing but so far changing javascripts is no longer crashing file watching.   Thanks!

[2017-11-02 04:21] #3630 closed, assigned to nobody

[2017-11-02 04:24] raboof commented on #3703
Looks like it! Sorry didn't find it before...

[2017-11-02 04:24] #3703 closed, assigned to nobody

[2017-11-02 04:31] Enalmada opened #3705 "docker error during connect at sbt startup"
After upgrading to 1.0.2, I always see this docker error:
[code]

I installed docker on my windows 10 machine a long time ago but I don't intentionally have anything related to docker in my sbt or my play project config.  Is this expected, anything I might be doing unintentionally to cause it, anything I can do to stop sbt from trying to do anything with docker?

sbt version: 1.0.2

[2017-11-02 04:56] dxuhuang commented on #3623
@ktoso Just noticed in your Jenkins console output that your code uses Protobuf. Our service does too. In fact another service of ours that uses Protobuf also has this error, and they are ONLY ones. Maybe this is due to sbt and Protobuf somehow not playing nicely?
@sjoerdmulder  Does your project by any chance include Protobuf? 😅

[2017-11-02 05:00] acearth opened #3706 "sbt pending on resolving plugin"
(See the guidelines for contributing, linked above)

## steps
1. Open my project which used one sbt plugin.
The related file is
1) $PROJECT_NAME/project/plugins.sbt
[code]
2) $PROJECT_NAME/build.sbt
[code]
2. Run command: sbt compile
Then the output is:
[info] Loading project definition from /ppcc/project
[info] Updating {file:/$MY_PROJECT/project/}... ... ...
[info] Resolving com.typesafe.play#sb

[2017-11-02 07:52] AtkinsChang commented on #3527
I suggest to use JNI version that you don't need to have a fat JNA jar in dependency.
And the https://github.com/gjoseph/BarbaryWatchService use one watch per thread.
The macOS api support event callback(event multiplexing) that you need not to create a jvm thread waiting for it per watch.

[2017-11-02 08:02] ktoso commented on #3623
Could be, I wonder.
Yes, we have protobuf generated classes

[2017-11-02 11:19] reikdas commented on #3704
@ritschwumm Debian Stretch

[2017-11-02 13:36] albertvila commented on #3686
Same issue here, any workaround?

[2017-11-02 13:52] dwijnand commented on #3631
Duplicate of #3142 (as @smarter said).

[2017-11-02 13:52] #3631 closed, assigned to nobody

[2017-11-02 17:17] Enalmada opened #3707 "Address already in use: JVM_Bind"
After upgrading to 1.0.2, I see this error occasionally at the end of starting sbt.

Seems like it usually happens when I have just stopped then restarted sbt so I assume something is still running for a moment even though it appears sbt has exited.  Is this a bug or expected behavior?

Full log for context:

[2017-11-02 20:24] gmethvin commented on #3527
If you want JNI you can use [JNotify](http://jnotify.sourceforge.net/). The downside is that you have to make the native library available to sbt somehow, so you have to do something like this: https://github.com/playframework/play-file-watch/blob/1.1.5/src/main/scala/play/dev/filewatch/JNotifyFileWatchService.scala#L84. The other downside is it's LGPL, which is probably fine for most people but m

[2017-11-02 21:25] Falmarri commented on #3570
I'm seeing the same issue with downloading. It's finding the artifact, but it's failing on a 404 from a different repository

[code]

Full stack trace

[code]

[2017-11-02 22:09] benblack86 commented on #3623
I've managed to recreate with this example https://github.com/benblack86/sbt-protobuf-test

It is still random, but if you run `sbt clean compile` a few times you should hopefully see the issue.

[2017-11-02 23:43] tpolecat opened #3708 "^C doesn't kill sbt anymore"
I can't get out of sbt by hitting ^C anymore. If I do it during a compile it says `[warn] Canceling execution...` and then waits for compilation to finish, then throws an exception and drops me back at the prompt. The only way I know to bail out is to `^Z` and then locate the job and `kill -9` which is a lot of work relative to one keystroke. Is there a way to turn this off?

[code]

## steps

As

[2017-11-03 00:45] ScalaWilliam commented on #3687
I had this problem on Linux too.

[2017-11-03 00:47] ScalaWilliam commented on #3687
For me ~testQuick didn't work on Linux sometimes - changing a compile classpath source would not trigger any change.

[2017-11-03 02:08] ryan-williams opened #3709 "`test->test`-scoped project-dependency doesn't get "tests" POM classifier"
(See the guidelines for contributing, linked above)

## steps
Checkout [ryan-williams/scala-bugs/`dependsOn`](https://github.com/ryan-williams/scala-bugs/tree/dependsOn):

[code]

or create `build.sbt` (no other files necessary):

[code]

Then run:

[code]

## problem

Module `a`'s POM doesn't depend on `-tests`-classified versions of `b` or `c`.

## expectation

`a`'s POM should have a dependenci

[2017-11-03 03:24] ademagic commented on #3686
Had the same issue.
[code]
Running `brew cask install java` installed v9, which didn't meet the requirements. **It worked** when I uninstalled it, and installed `JDK 8 Update 151` from the Oracle website.

[2017-11-03 04:31] dxuhuang commented on #3623
@dwijnand

[2017-11-03 08:11] pawelkrol commented on #3686
Same problem here. Java 1.8 is installed. Any ideas if there is a workaround?

[code]

[2017-11-03 08:33] #3297 closed, assigned to nobody

[2017-11-03 08:49] MasseGuillaume opened #3710 "Version model and Ordering"
sbt should provide a way to compare version.

for example, I want to add a library if the scalaVersion is > 2.12.

Currently I would so something like:

[code]

what I really want to do is:

[code]

In scaladex we have a model and an ordering for this:
https://github.com/scalacenter/scaladex/blob/master/model/src/main/scala/ch.epfl.scala.index.model/SemanticVersion.scala

[2017-11-03 09:55] albertvila commented on #3686
The workaround I found is to uninstall java 9 and install java 8 instead.

[code]

[2017-11-03 12:28] laughedelic commented on #3708
Probably you have `cancellable in Global := true` in your global settings? How about `^D` to exit?

Another thing is that even when `^C` is supposed to cancel current task, but stay in the sbt shell, it doesn't really work..

[2017-11-03 12:31] laughedelic commented on #3707
Related: https://github.com/sbt/sbt/issues/3437

[2017-11-03 12:41] reikdas commented on #3704
Installing bc solved the issue.

[2017-11-03 15:18] gosubpl commented on #3623
@ktoso FYI, it also fails in local builds (sometimes). Example - `akka-distributed-data` project.

[2017-11-03 16:38] xerial commented on #3608
1.0.3 does not fix this problem, especially when the code is relying on Scala reflection.

[2017-11-03 16:39] tpolecat commented on #3708
I do have `cancelable in Global := true` in order to ^C out of my running program back to the shell. Is there a way to scope it such that it only applies to `run`?

[2017-11-03 17:37] rainsoupah commented on #3686
I installed `sbt` manually in the following way:
1. first download and extract SBT-1.0.2.ZIP from [here](http://www.scala-sbt.org/download.html?_ga=2.90510557.633784364.1509729881-670080350.1509724070)
2. `cd sbt/bin`
3. `sudo mv sbt-launch.jar /usr/local/bin/sbt-launch.jar`
4. `java -Xmx512M -jar /usr/local/bin/sbt-launch.jar`
5.  `sudo chmod +x /usr/local/bin/sbt`
Invoking the `sbt` command led

[2017-11-04 10:06] aurabindo commented on #3704
@reikdas I believe the debian package must include bc as a dependency or, fail with appropriate message. Only then the issue need to be closed IMO as that is an appropriate fix.

[2017-11-04 12:44] reikdas commented on #3704
Okay. Reopened it.

[2017-11-04 16:56] ritschwumm commented on #3704
wouldn't it be better to just get rid of bc again?
treating version numbers as floats is a bit of a hack anyway.

[2017-11-04 18:08] pshirshov opened #3711 "30% performance degradation in 1.0 due to logger abuse"
I've noticed ~30% build performance drop since I migrated my stuff to 1.0.

I've investigated that with jprofiler/jvisualvm and found just one hotspot taking ~30% of cpu time. Unexpectedly it's... logging routine:

<img width="930" alt="screen shot 2017-11-04 at 00 50 58" src="https://user-images.githubusercontent.com/295225/32408106-8831958a-c18a-11e7-9034-951daf4b7e29.png">
<img width="935" alt=

[2017-11-04 20:33] godenji commented on #3711
@pshirshov what are the results of `sbt -Dsbt.task.timings=true` after a few `compile`s? I see `compileIncremental` and `update` at the top.

Visualvm shows that most of the cpu time is spent in `sbt.io.Hash$.apply` and `Log4j2-TF-1-AsyncLogger[AsyncContext@5bcab519]-1`, this in a mixed Play/Scala.js app with around 30 subprojects.

There's an upstream [Zinc PR](https://github.com/sbt/zinc/pull/37

[2017-11-05 15:47] dejan2609 commented on #3197
Just FYI: sbt `1.0.3` has same issues on Windows:

[code]

[2017-11-05 18:30] pshirshov commented on #3711
Please look closer at self time and jprofiler output. I'm okay/happy with all other stuff but there is clean and obvious issue with logger caused by stack processing. Please look closer.

Hash#apply takes just 1sec of self time while logger eats 16 seconds out of 35 seconds build. Default settings, default everything, just empty project with several dependencies added.

[2017-11-05 21:18] tpolecat opened #3714 "Nondeterministic NPE in sbt.internal.util.StringTypeTag$.typeToString"
This happened on Travis with the tpolecat/tut build on 0.6.x at commit 24912ffd211b5f4a2aa1e8b138912c3b5f52fc87.

Can't reproduce. It's nondeterministic. So just FYI in case it's something obvious, otherwise feel free to close.

[code]

## notes

sbt version: 1.0.0-RC3

[2017-11-05 21:25] fluency03 opened #3715 "How to package different JARs based on different classes?"
I have a question regarding sbt package.

When I want to deploy the jobs to Flink, I have to submit the each of the job as a JAR.

For example, if I have several different jobs under the module: `org.example`:

- `WordCount`
- `SocketTextStreamWordCount`
- `WikipediaEditMonitoring`
- etc...

My question is: how to package the jobs to each of their separate JARs, so that I can submit each of the jo

[2017-11-05 23:12] ademagic commented on #3686
Judging from responses, the people who had 1.8 installed but were _still unsuccessful_, were using `1.8.0_152`. Installing `1.8.0_151` works for me @pawelkrol.

What version does `brew cask install java8` install @albertvila?

[2017-11-06 00:19] laughedelic commented on #3253
Same: https://github.com/sbt/sbt/issues/1412.

[2017-11-06 08:57] leonardehrenfried commented on #3711
@pshirshov Where do you think would be the best place to filter out the logging events? In `sbt.util.Logger` or `sbt.internal.util.ManagedLogger`?

[2017-11-06 09:10] leonardehrenfried commented on #3711
Would be pretty easy to write a fix for this. I'd volunteer if there is a chance of it being merged.

[2017-11-06 09:15] #2829 closed, assigned to nobody

[2017-11-06 09:19] fommil opened #3716 "projectSettings in build.sbt"
Currently the only way to correctly define a setting that applies to all projects is to use an `AutoPlugin` and place it in the `projectSettings`.

However, most developers use the (broken) approach of defining a `val commonSettings` in their `build.sbt` and manually applying it to all project. Unfortunately a) they inevitably forget one project b) they almost always forget about the root project.

[2017-11-06 10:40] avdv commented on #3570
It seems that after updating to version 1.0.3 it works now. May have been related the doubled slash problem?

Which version are you using @Falmarri  ?

\edit: I spoke too soon. Version 1.0.3 did not change the erroneous behaviour I am seeing, must have been some caching going on behind the scene that made it look like it was OK.

[2017-11-06 11:01] dwijnand commented on #2829
This is (also) tracked as #3296, btw.

[2017-11-06 16:38] eed3si9n commented on #3711
Thanks for the report, and all the work that went into this.

[2017-11-06 16:47] eed3si9n commented on #3715
We use GitHub issue mostly to track bugs and discuss feature or bugs on sbt.
If you need help, please check this out - http://www.scala-sbt.org/community.html#how-can-I-get-help

[2017-11-06 16:47] #3715 closed, assigned to nobody

[2017-11-06 17:55] hannahlindsley commented on #3686
@ademagic I think you have to do brew cask install caskroom/versions/java8, for what it's worth.
It's currently installing 1.8.0_152, looks like. 152 works fine for sbt installation for me.

[2017-11-06 18:13] OlegYch commented on #3695
for me `~` doesn't see changes in tests, but when i modify main source `~testOnly` runs twice
same for `~compile` though

[2017-11-06 18:47] OlegYch opened #3718 "watchSources is redundant and not precise"
This is more of an idea than an issue.

Recent issues with `~` like https://github.com/sbt/sbt/issues/3695 and https://github.com/sbt/sbt/issues/3501, and continuing performance problems with change detection (although slightly alleviated by NIO watching and upcoming enhancements in hashing) have led me to think that `watchSources` needs to go.

Instead ~ has to deduce the set of files consumed by

[2017-11-06 23:03] ShaneDelmore commented on #3718
I use watchSources to depend on more than what is referenced during compilation.  For example, I may have test oracles files I want to compare output too, zipped files, json files, things like that, and when my code changes I want to rerun my tests, but also if any of my test oracles change I want to rerun my tests.  Isn't this what watchSources is designed for?

[2017-11-06 23:53] OlegYch commented on #3718
@ShaneDelmore good point
`run` and `test` depend on `products` which reads config files, and you could make it depend on other files which are only read at runtime, just like you do with `watchSources`, so that usecase should be well covered

[2017-11-07 01:04] ShaneDelmore commented on #3718
Just to make sure I am understanding this, is the proposed change to add test oracles to products instead of watchSources to enable ~test to catch changes to test resources?

[2017-11-07 01:37] OlegYch commented on #3718
@ShaneDelmore any of the tasks that all of `test` `testQuick` and `testOnly` depend on, `Test / products` might be a good option
the proposed change is not limited to tests though, but rather to any task that reads files
currently `watchSources` has no idea what task it's used for, and therefore is either too eager or misses stuff and cannot be used for incremental change detection

[2017-11-07 03:04] ShaneDelmore commented on #3718
In that case, I see your point but fear the outcome.  I imagine conversations like these:

NewSbtUser: I want to make ~test rerun tests when I change a file, how do I do it?
SbtExpert: Add the files to watchSources.
NewSbtUser:  That makes sense, thanks!

Vs
NewSbtUser: I want to make ~test rerun tests when I change a file, how do I do it?
SbtExpert: Add the files to any that test, testQuick, and

[2017-11-07 06:46] purijatin commented on #1412
I am facing a similar issue. Posted the details at: https://stackoverflow.com/questions/47122678/java-net-urisyntaxexception-sbt-space-in-path

What is a temporary turnaround to this problem?

[2017-11-07 08:27] #3693 closed, assigned to nobody

[2017-11-07 09:42] pharmazone commented on #2687
+1

[2017-11-07 10:42] 2m commented on #3623
I was not able to reproduce it using https://github.com/benblack86/sbt-protobuf-test neither on my machine, where I have never seen this error before, neither on our CI server where this error was spontaneously happening while building Akka.

I was also using [sbt-repeat](https://github.com/tkawachi/sbt-repeat) and doing `repeat 100 ;clean ;compile`, maybe that was the difference that prevented re

[2017-11-07 11:51] sjoerdmulder commented on #3623
Yes we are also using protobuf

[2017-11-07 12:43] pshirshov commented on #3711
@leonardehrenfried from what I can see it would be logical to put it into sbt.util.Logger. Though I may be wrong, I'm not familiar with the codebase.

[2017-11-07 14:39] benblack86 commented on #3623
@2m yes, I don't think sbt-repeat will help recreate since it seems to be something random linked to when sbt starts up.

[2017-11-07 15:12] smarter commented on #3691
This was a bug in scalac that got fixed in 2.12.4: https://github.com/scala/bug/issues/10295 (and the fix was ported to dotty: https://github.com/lampepfl/dotty/pull/3116), I don't think there's anything more that sbt should be doing now.

[2017-11-07 17:34] skonto commented on #3197
Same issue here with sbt 1.0.3 and java oracle sdk 8.
[code]
Machine: ubuntu 16.04 with clean install. Installing bc fixed it (as mentioned earlier).

[2017-11-07 19:29] PeterLambCSA commented on #2733
I removed this VM option from sbtconfig.txt in the conf directory of SBT and it no longer gives me this error.

[2017-11-07 20:12] eed3si9n commented on #3716
At first I was a bit concerned about adding another DSL, but after giving it a bit more thought this might be more useful than `inThisBuild(...)` or trying to fix the scoping rules around it.
As a replacement of `commonSettings` pattern, I'd imagine the ordering of `inEachProject(...)`-derived settings to be placed after all the autoplugin-based settings, and before `.settings(...)`.
The ordering

[2017-11-07 20:36] kshakir commented on #3693
Re: this warning message fix--

Do the docs need updating too? The [current 1.x website](https://github.com/sbt/website/blob/6ba3b960418e1afb396b78376ecdc6e7edf6555e/src/reference/04-Howto/06-Howto-Logging.md#change-the-logging-level-globally) says:

If so I or someone can file an issue on the docs. As the original report on this issue states `sbt --info` now prints:

Btw, what _should_ the docs s

[2017-11-08 02:15] #3131 closed, assigned to nobody

[2017-11-08 04:26] ktoso commented on #3562
This sounds good;
I'm a bit confused why Akka would set it to 3...?

2.5.x is backwards compatible with 2.4.x, is backwards compatible to 2.3.x even
doc.akka.io/docs/akka/current/scala/common/binary-compatibility-rules.html

[2017-11-08 04:27] ktoso commented on #3562
How would we set these rules for external libraries, that are published as plain java but we "know about them"? This is more useful for projects with lager dependency graphs, like Play for example, though would be good to think about here too

[2017-11-08 05:52] eed3si9n commented on #3562
@ktoso

My suggestion was that Akka sets it to  `Some("2.3")` during the 2.x series.

These are used during eviction warning, so if we need special handling, we could tweak things there, or make it more extensible.

[2017-11-08 07:05] conchz commented on #1951
windows7 & sbt 1.0.3, the same problem occurred.

[2017-11-08 07:45] ktoso commented on #3562
I see; so sbt would just equality check between the artifacts, and they'd all have the same "compatible with" ABI marker... Could work yeah

Yeah, for Play and similar "many dependencies" projects, they have plugins, so it may be fine to just allow adding to the list by artifact name and what the ABI is

[2017-11-08 08:31] Atry commented on #2552
A workaround for sbt 0.13.x:

[code]

or

[code]

[2017-11-08 08:50] dwijnand commented on #3680
Fixed with https://github.com/sbt/sbt/pull/3720, due in 1.0.4.

[2017-11-08 08:50] #3680 closed, assigned to eed3si9n

[2017-11-08 09:00] 2m commented on #3623
I also tried `repeat 100 sbt clean compile` using repeat shell command. And on my machine it was again fine. Was not able to try on CI machine yet because of the too old shell.

[2017-11-08 09:10] 2m commented on #3623
Another report on NPE with the same line number: https://github.com/facebook/buck/issues/403

[2017-11-08 10:09] jrudolph commented on #3623
@2m the buck stack trace seems to be different. It's only the entry point `com.sun.tools.javac.main.Main.compile` which is the same not the actual failure line here `com.sun.tools.javac.util.DiagnosticSource.findLine(DiagnosticSource.java:163)`.

[2017-11-08 10:29] dwijnand commented on #3676
Done with https://github.com/sbt/sbt/pull/3719

[2017-11-08 10:29] #3676 closed, assigned to nobody

[2017-11-08 10:34] dwijnand commented on #3716
We should stop adding more and more hacks (and then documenting them, and answering questions about them, and otherwise teaching people about their existence and drawbacks) to avoid the fundamental scoping issue and actually fix the scoping issue.

It shouldn't be necessary for every single project to have the same collection of settings defined for it, it also slows down loading (and reloading, o

[2017-11-08 10:50] fommil commented on #3716
That sounds like an sbt 2.0 fix, what about sbt 1.0?

[2017-11-08 11:26] dwijnand commented on #3716
For sbt 1 you can choose which workaround you prefer. Remember to add `commonSettings`, define a helper method that creates the `Project` value and adds `commonSettings`, or use a local AutoPlugin's `projectSettings`. Oh and trial-and-error your way to defining some of the settings `in ThisBuild` scope instead of project scope.

[2017-11-08 13:58] fommil commented on #3716
I personally use `projectSettings` in an autoplugin, but I feel that leaving the confines of the `build.sbt` is beyond the vast majority of typical scala developers.

[2017-11-08 14:35] benblack86 commented on #3623
@2m did you try just doing `sbt clean compile` manually 5 times?

[2017-11-08 16:39] eed3si9n opened #3723 "Use IPC socket (Unix domain socket) for server"

[2017-11-08 16:52] swsnr commented on #3585
Just FYI, if I disable gigahorse the dependency resolves successfully.  IOW, `sbt -Dconfig.resource=ci.conf -Dsbt.gigahorse=false compile` works perfectly.

[2017-11-08 21:35] DylanArnold commented on #3502
I just got the same `NullPointerException` and original stacktrace when running `~compile` with `1.0.2` on a large codebase. I've compiled for a couple of days without getting this error.

[2017-11-09 05:09] xuwei-k commented on #3714
- https://github.com/sbt/util/commit/b2be0f766ac58454a0b095c03610342c4e9704e2
- https://github.com/sbt/util/issues/119
- https://github.com/sbt/sbt/issues/3445

[2017-11-09 08:48] dwijnand commented on #3714
Thanks @xuwei-k. Merged upstream at https://github.com/sbt/util/pull/121.

[2017-11-09 10:00] djx314 commented on #1951
@lavenderx Remove ~/.ivy2 and ~/.sbt and not to use the common sbt.bat
Just use the `sbt-launch.jar` and write a sbt.bat like
[code]
Have a try on it.

[2017-11-09 10:37] fommil commented on #685
We encountered the same problem in ensime. The timestamp is only accurate to 1 second on most operating systems, which is not enough to capture a user interaction.

However, if the file is older than, say, 10 seconds, then timestamps are a perfectly reasonable way to shortcut the (re-)calculation of a hash. This goes for both jars and source files.

[2017-11-09 13:57] MasseGuillaume opened #3724 "`sbt new` does not work on windows"
I did not test this myself but it's reported here: https://github.com/scalatra/scalatra/issues/745

[2017-11-09 14:44] 2m commented on #3623
Yup. Quite a few times with no NPE. :\

[2017-11-09 15:45] takezoe opened #3725 "sbt 1.0.3 can't overwrite SNAPSHOT artifacts on sonatype snapshot repository"
## steps

Publish configuration:
[code]
Plugin configuration:
[code]

and run `sbt publishSigned` twice.

## problem

First publishing is succeeded, but second is failed with the following error:

[code]

## expectation

SNAPSHOT artifacts should be overwritten.

## notes

sbt version: 1.0.3

Some users mentioned about this problem in #3431.

[2017-11-09 17:07] unoexperto opened #3726 "Maven dependencies are not downloaded under JDK9 with sbt 1.0.3"
(See the guidelines for contributing, linked above)

## steps

sbt update on following project

[code]

## problem

[code]

## expectation

SBT should download missing dependencies.

## notes

sbt version: 1.0.3 (it works under 1.0.2 + JDK9 or 1.0.3 + JDK8)
java version "9.0.1"
Java(TM) SE Runtime Environment (build 9.0.1+11)
Java HotSpot(TM) 64-Bit Server VM (build 9.0.1+11, mixed mode)

[2017-11-09 17:14] takezoe commented on #3724
@MasseGuillaume Thanks for the catch! I tested `sbt new` on Windiws and it worked fine, so I guess it caused by his sbt installation. I'll handle https://github.com/scalatra/scalatra/issues/745, so this issue should be closed.

[2017-11-09 17:56] Milyardo opened #3727 "Pass JVM arguments with run and bgRun commands"
The input parser for the run and bgRun comamnds should be modified to accept jvm arguments.

If not forking, the background job service should fail or warn if it receives a JVM arg list.

Currently sbt-revolver uses `---` as a delimiter between the JVM arg list and the application arg list. It may be worth considering reusing this if no strong opinions on an alternative delimiter forms.

[2017-11-09 23:52] xuwei-k commented on #3726
https://github.com/sbt/sbt/issues/3684

[2017-11-10 08:36] oforero commented on #1354
Hello guys,

I now get to work in some scala projects at work, I am seeing this same warning with the sbt-launcher-0.13.6, I would appreciate some pointer about how to use the -J option? for example I tried :

-J -Xms512M and -JXms512M but that results in the JVM being unable to start

[2017-11-10 16:32] jmellor opened #3728 "Debian packaging missing prerequisite dependency on bc"
Debian packaging is missing a new prerequisite dependency on bc

## steps
normal install of sbt 1.0.3

## problem
Invoking sbt 1.0.3 calls a shell script that uses bc.  bc is normally only installed on a full workstation, and not on a server.  E.g, running sbt on a Jenkins node will fail to start, due to the missing bc utility.

## expectation
no abort.

## notes

sbt version: 1.0.3
This problem d

[2017-11-10 22:55] alanbur opened #3729 "SBT plugins fail when SBT directories are relocated to a relative path"
SBT version 1.0.2

I have a `.sbtopts` in my project directory to relocate the `.sbt` and `.ivy2` directories:

[code]
And in `../sbt_cache` I have a `plugins` directory. When I run sbt it throws the following exception and fails:
[code]
It's unclear why the plugins directory would have to be absolute in the first place.

[2017-11-11 01:41] ritschwumm commented on #3728
why using bc and not pure shell in the first place?

[2017-11-11 18:17] tanel3203 commented on #3197
Same situation as previous poster (ubuntu, java 1.8.0_151). installing bc solved it for me also.

Issue:
"The java installation you have is not up to date
requires at least version 1.6+, you have
version 1.8"

Solution from AlistairB's post: `apt-get install bc`

[2017-11-12 09:13] nmarasoiu commented on #3623
Happening to me as well when compiling akka incrementally with sbt 1.0.2

[2017-11-12 10:47] alexandru opened #3730 "NullPointerException in compilation with Scala 2.11.11"
Tried upgrading to SBT 1.0.1:

- see this PR: https://github.com/monix/monix/pull/463
- see its failure on Travis: https://travis-ci.org/monix/monix/builds/300894949

Got a NPE that does not happen if I revert to SBT 0.13.16 or if I compile with Scala 2.12.4.
So this happens as a combination of SBT 1.0.1 with Scala 2.11.11

Note — not sure if relevant, but the `executionJVM` subproject that fails

[2017-11-12 11:16] alexandru commented on #3730
As a follow up to my note on mixture of Java code, I tried `compileOrder := CompileOrder.JavaThenScala`, but it did not help.

[2017-11-12 18:00] leonardehrenfried opened #3731 "Meta: Performance benchmarks for sbt"
The recent weeks have seen a lot of talk about performance regressions and various ways to fix them. One thing that the core developers have asked for is a repeatable set of benchmarks that compares various versions of sbt and demonstrates clear improvements should a PR be merged.

Since nothing seemed to exist, I took it upon myself to write one.

As the first test I used @fommil's test repo with

[2017-11-12 18:04] bhoppi commented on #3728
The script should avoid using bc to compare the versions, because in many env it has trouble installing bc, such as bash in Windows.
Please use the more env-compatible command 'expr' instead.

[2017-11-12 22:57] muscionig opened #3732 "SBT does not resolve dependicies inside other dependencies"
Hello,
I have figured out a possible bug of sbt, as looking online I cannot find anything related to it.
Basically the problem concerns the impossibility to resolve dependecies inside a dependency explicitly imported in my build.sbt . Furthermore the same set of dependecies is correctly resolved by Gradle thus I think that this is a problem related to SBT and not to maven dependency.

## steps
To

[2017-11-13 00:52] ryan-williams opened #3733 "`provided` dependencies not on `run` classpath"
(See the guidelines for contributing, linked above)

## steps

[Repro repo](https://github.com/ryan-williams/scala-bugs/tree/provided)

Setup:

[code]

Tests get `provided` dependencies on the classpath:

[code]

as does console:

[code]
[code]

but `run` does not:

[code]

### Files

`build.sbt`:

[code]

`src/main/scala/Main.scala`:

[code]

`src/test/scala/Test.scala`:

[code]

## problem

`sbt

[2017-11-13 03:09] ravi5237 opened #3734 "Error:scalac: missing or invalid dependency detected while loading class file 'TableEnvironment.class'."
(See the guidelines for contributing, linked above)

## steps

## problem
import org.apache.flink.api.java.ExecutionEnvironment

object  RSS_Data_Flink {

  def main(args: Array[String]): Unit = {

    val env =  ExecutionEnvironment.getExecutionEnvironment
}
}

Just with this code, when I try to run as scala application, it showing below error

## expectation
Error:scalac: missing or invalid depe

[2017-11-13 04:10] DylanArnold commented on #3497
I just got pretty much the same error on sbt `1.0.2` after a long `~compile` session. About an hour of constant refactoring a large codebase.

`cat /proc/sys/fs/inotify/max_user_watches` is `65536`. I suppose that could be low.

This wasn't a fresh checkout after an upgrade from `0.13` so I'm going to try that.

<details>
<summary>Stack trace</summary>

[code]

</details>

[2017-11-13 12:55] OlivierBlanvillain opened #3735 "++ in 0.13.x is exponential"
Something is exponential in the implementation of `++`. For instance, the following takes about 2 minutes to execute and grows to 4 minutes when adding another `++`:

[code]

Attaching to the process with jstack shows that sbt is busy growing a Seq:

<details>
  <summary>Stack trace</summary>
<pre>
  "main" #1 prio=5 os_prio=0 tid=0x00007f0278009800 nid=0x477f runnable [0x00007f0281192000]
     ja

[2017-11-13 13:14] jvican commented on #3731
Zinc != sbt, so in this case it would make sense to benchmark the **real** overhead of sbt by not only focusing on `compile`. We can deal with Zinc regressions in the main sbt/zinc repository.

I think this is a good idea and I'm happy someone is looking at it. I think that more profiling for sbt is required.

[2017-11-13 14:11] 2m commented on #3735
How are GC times? I noticed that adding `-J-XX:ReservedCodeCacheSize=256M` when running `sbt` decreases `Compiling compiler interface ...` times drastically when on Tracis CI.

[2017-11-13 14:30] leonardehrenfried commented on #3731
You are of course right, but at https://github.com/sbt/zinc/pull/371#issuecomment-340633463 @eed3si9n says that it would be good to have a repeatable benchmark to see which scenario would benefit most from the improved hashing. This (admittedly simple) benchmark provides just that.

I thought I start with a simple scenario that allows us to explore ways of benchmarking and provides hard data. More

[2017-11-13 15:48] jrudolph commented on #3623
This still happens regularly during Akka's CI builds. I had a look to find the (JDK) sources that fail. I didn't find any version of OpenJDK where all the line numbers would match the openjdk sources (but maybe I just missed something).

From looking at the sources it's unclear where the null dereference would happen at all. The most likely place (that's where the line number points to in most rev

[2017-11-13 15:51] pshirshov commented on #3731
I guess the logger fix would drastically improve the picture. Though it's definitely profiling time

[2017-11-13 16:05] leonardehrenfried commented on #3731
Exactly, the point of this benchmark is to take the guesswork out of figuring out if a proposed performance improvement has any meaningful impact on real projects - although the sbt project under test is rather extreme with the size of it's dependencies.

[2017-11-13 16:40] raboof opened #3736 "on 'sbt run', Thread.currentThread.getContextClassLoader cannot load scala.Int"
## steps

Check out https://github.com/raboof/sbt-run-classloading and `sbt run`

## problem

An error is thrown trying to load the `scala.Int` class

## notes

This might be related to #3515, however there it is mentioned that it only fails for `URLClassLoader`s, while I get a `ClasspathFilter`:
[code]

[2017-11-13 17:10] Enalmada commented on #3705
Apparently this is a bug in sbt-native-packager and setting "dockerVersion := None" in build.sbt works around it:
https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/play-framework/n28IUpJr_pA/g9iBuMp5AAAJ

[2017-11-13 17:10] #3705 closed, assigned to nobody

[2017-11-13 21:43] SethTisue commented on #3730
duplicate of #3623?

[2017-11-13 21:44] SethTisue commented on #3623
when building Akka as part of the Scala community build, too, e.g. at https://scala-ci.typesafe.com/view/scala-2.13.x/job/scala-2.13.x-integrate-community-build/791/

[2017-11-13 21:48] alexandru commented on #3730
Possibly. In my experiments, this failure is pretty reproducible. I think it failed every time I tried.

[2017-11-14 02:53] howardlinus commented on #3696
i have the same issue, any update, very frustrated...

[2017-11-14 05:29] dxuhuang commented on #3623
@jrudolph what's `buf`?

[2017-11-14 06:37] 2m commented on #3623
@dxuhuang it is this guy: http://grepcode.com/file/repository.grepcode.com/java/root/jdk/openjdk/8u40-b25/com/sun/tools/javac/util/DiagnosticSource.java#163

[2017-11-14 08:49] bantonsson commented on #3514
The `ScriptedPlugin` now being an _aggressive_ `AutoPlugin` is stopping us from upgrading our build to sbt 1.0.x. Is there a workaround for this? I only need the scripted plugin for 2 out of roughly 100 projects, but now it gets added everywhere.

[2017-11-14 10:23] jrudolph opened #3737 "Forked runs report noisy "Stream closed" exception with stack trace when process is stopped"
During/after shutting down a forked process (started with runMain), often (most of the times?) an exception like this is shown:

[code]

I suspect it is related to `connectInput := true`. It can be reproduced by running any of the test main classes in akka-http / akka-http-core sub project (while also enabling forking and connectInput).

sbt 1.0.3

[2017-11-14 11:19] jvican commented on #3514
@bantonsson Adding `.disablePlugins(ScriptedPlugin)` to 98 of all your projects would do it! 😄

[2017-11-14 11:20] bantonsson commented on #3514
@jvican That was the workaround I was afraid of 😉

[2017-11-14 11:51] OlegYch opened #3738 "Deadlock during dependency resolution"
## steps
run `update`

## problem
deadlock
[code]

## notes

sbt version: 1.0.3
`par` is intended for cpu-bound computations by default, perhaps `sbt.internal.librarymanagement.ivyint.ParallelResolveEngine` should set a custom execution context

[2017-11-14 12:28] jrudolph commented on #3497
Happens for akka with sbt 1.0.3 as well. Whatever the OS settings are, it worked with 0.13 so there's likely a leak somewhere.

[2017-11-14 13:15] patriknw commented on #3623
Perhaps this is a stupid and obvious question, but anyway. What is changed in sbt 1.0.2 with regards to concurrency? The stack trace hints at `sbt.ConcurrentRestrictions`.

[2017-11-14 14:07] jrudolph commented on #3623
I instrumented tools.jar and found out that indeed several threads access the problematic method. The interesting one is this: `Log4j2-TF-1-AsyncLogger[AsyncContext@6500df86]-1`. So, the issue here is that `xsbti.Problem` instances are passed to logging. They are backed by `javax.tools.Diagnostic` instances which are not thread-safe and which are then accessed concurrently by the Log4j2 async logg

[2017-11-14 14:12] jrudolph commented on #3623
A first workaround could be to make sure that [PositionImpl](https://github.com/sbt/zinc/blob/1.x/internal/zinc-compile-core/src/main/scala/sbt/internal/inc/javac/DiagnosticsReporter.scala#L72) is thread-safe (by initializing fields eagerly and not holding to `javax.tools.Diagnostic`) but ultimately the goal should be not to pass objects to logging...

[2017-11-14 14:17] jrudolph commented on #3623
For reference here is the stack trace of the concurrent access:

[code]

[2017-11-14 14:24] jrudolph commented on #3623
fwiw, a note about async logging. I understand, that it is compelling to do as much work as possible asynchronously when you already have an async logger. However, the ultimate reason to do async logging is to avoid *I/O* in the main worker threads. Shaving off a bit of CPU time from the main process by doing the string processing in the logger thread will only work on under-saturated machines any

[2017-11-14 17:12] jrudolph opened #3739 "Useless "Multiple main classes" detected when running runMain"
When using `runMain` a useless warning is printed to the console multiple times per run:

[code]

If you use `runMain` you are obviously aware of that fact.

sbt 1.0.3

[2017-11-14 21:34] akauppi opened #3741 "sbt 1.0.3 unable to update enumeratum-circe"
I prepared a [sample repo](https://github.com/akauppi/sbt-bug-enumeratum-circe) that showcases the problem.

## problem

- `sbt update` fails for the artefact `enumeratum-circe`, on sbt 1.0.3 and 1.0.5 (but succeeds on 0.13.16)

## steps

Clone the repo above. Try `sbt update`. It will fail.

Change `project/build.properties` to use sbt `0.13.16`. Retry. The artefact downloads.

## notes

I did tr

[2017-11-15 08:47] jackyxuebin commented on #3696
me too

[2017-11-15 09:55] xuwei-k commented on #3741
https://github.com/sbt/sbt/issues/3684 https://github.com/sbt/sbt/issues/3726

[2017-11-15 12:07] philliptann commented on #3197
Had the same problem, AlistairB solution worked for me :)
sudo apt-get install bc

[2017-11-15 15:15] howardlinus commented on #3696
i found this, and hopefully is useful to everyone. the solution of using ~/.sbt/repositories posted by @bignano works for me

[2017-11-15 15:31] dwijnand commented on #3623
Thanks for the investigation @jrudolph!

[2017-11-15 15:52] pshirshov commented on #3725
Not a bug.

It's just a default behaviour which is very easy to change

Full example: https://github.com/pshirshov/izumi-r2/blob/develop/sbt-izumi/src/main/scala/org/bitbucket/pshirshov/izumi/sbt/PublishingPlugin.scala

[2017-11-15 19:22] maqdev commented on #3725
It is definitely a bug, snapshots should be overwritten by default at sonatype just like they do locally. That's why snapshots exists after all. As for your example I wouldn't say that it's easy, thats looks like a hack.
I should consider it like a workaround and thanks for that 👍

[2017-11-15 19:51] mosesn commented on #3496
@jameskoch I'm running into this too.  were you able to resolve this?

[2017-11-15 19:52] jameskoch2 commented on #3496
Only by augmenting various scripts to run update first. A giant hack.

[2017-11-15 20:37] mosesn commented on #3496
@jameskoch update didn't seem to work, but removing coursier did.  cc @alexarchambault

[2017-11-15 21:41] mosesn commented on #3496
This only seems to be an issue with `publishLocalSigned`, not with `publishLocal`.  Here's the error message I get:

[code]

It looks like it's trying to find an ivy file for the aggregated root project https://github.com/twitter/util/blob/develop/build.sbt#L109-L124

[2017-11-15 21:51] mosesn commented on #3496
I filed a new ticket with coursier https://github.com/coursier/coursier/issues/694

[2017-11-16 06:23] kitschen commented on #3492
Same problem here (same course, same issue). Already downgraded from SBT 1.x.x. to 0.13.16 to check whether this was the problem - it is not.
Running on Windows 10, if that matters

[2017-11-16 08:11] richdougherty commented on #3368
Instead of supporting a `.java` file in the `module-info.java` directory, you could also have a small DSL in sbt to generate the file (and then automatically compile it with javac). sbt could automatically work out the module dependencies for a project and generate these automatically. The user could override these and add opens/exports information.

^^^ Not a fully thought out idea, but perhaps w

[2017-11-16 16:07] dwijnand commented on #3695
I can't reproduce this. I followed the given steps and it all works as intended on my box:

[code]

Going to switch to #3687, hopefully I can reproduce that.

[2017-11-16 18:13] cunei opened #3746 "Scripted should fail if argument is given, and no tests are matching"
In sbt 1.0.x, running scripted with an argument that selects no tests will blissfully succeed. For example:
[code]
even though there is no such test. That may lead developers to errors if they inadvertently mistype the name of their tests, in scripts or elsewhere.
Instead, if an argument is supplied to scripted, and no tests are matching, scripted should fail, or at least warn the user, rather tha

[2017-11-16 19:36] eed3si9n commented on #3492
@heoa I am not taking the course, so I am unable to reproduce your problem. Could you copy all the files in your build somewhere like gist.github.com, plz?

[2017-11-16 19:38] eed3si9n commented on #3492
From the stacktrace, I am pretty sure it's not using sbt 0.13.16.
The first step likely is you create `project/build.properties`:

[code]

[2017-11-16 19:42] eed3si9n commented on #3700
Please see https://github.com/sbt/sbt/blob/1.x/CONTRIBUTING.md

You wrote:

We can't possibly reproduce your issue with only the information you gave us.

[2017-11-16 19:58] eed3si9n commented on #3704
`bc` is now removed in https://github.com/sbt/sbt-launcher-package/pull/199.

[2017-11-16 19:58] #3704 closed, assigned to nobody

[2017-11-16 21:20] eed3si9n commented on #3714
Closing this as Duplicate of https://github.com/sbt/util/issues/119 and https://github.com/sbt/sbt/issues/3445.

https://github.com/sbt/util/pull/121 should be part of current stable 1.0.3.

[2017-11-16 21:20] #3714 closed, assigned to nobody

[2017-11-16 21:31] eed3si9n commented on #3655
Fixed in https://github.com/sbt/sbt/pull/3717

[2017-11-16 21:31] #3655 closed, assigned to cunei

[2017-11-16 22:02] pshirshov commented on #3711
why did you move this to 1.0.5? it would be great to make it available asap

[2017-11-16 22:27] cunei commented on #3543
The scripted test invokes: `run`. I just determined that in certain cases the jar that is packaged for later use by `scripted` does not contain the classfile of the source file that has just been compiled, but the classfile that were there prior to the invocation of `run`. For example:
Inside `target/scala-2.12/error_2.12-0.1-SNAPSHOT.jar`:
[code]
Inside `target/scala-2.12/classes/Spawn$.class`:
[

[2017-11-16 22:55] avdv commented on #3570
Hi all,

this one *really* bugged me for a while, but the good news is that I could pinpoint the problem.

I have created simple reproducer, in a simple Java project with okhttp 3.9.0 (latest version).

The exception ("java.net.ProtocolException: Unexpected status line: 0") always occurred after the following series of requests (URLs changed for brevity):

1. HEAD /abc/sbt_1.0/ -> 401
2. HEAD /abc

[2017-11-16 23:39] eed3si9n commented on #3711
sbt 1.0.4 will include https://github.com/sbt/util/pull/132 that's been merged, but I am not sure if that alone will solve everything, so I am keeping this open for future 1.0.5.

[2017-11-16 23:42] eed3si9n commented on #3570
@avdv Thanks for the detective work!

[2017-11-17 02:16] aeroxy opened #3747 "Homebrew installation failed with Java 9 (JDK 9.0.1)"
(See the guidelines for contributing, linked above)

## steps
Remove all JDK packages
Install JDK 9.0.1
Run `brew install sbt`

## problem
Installation failed:
sbt: Java 1.8 is required to install this formula.
JavaRequirement unsatisfied!

## expectation
Installation successful

## notes
Homebrew-core
sbt version: *insert sbt version*

[2017-11-17 02:19] aeroxy opened #3748 "Illegal reflective access by org.apache.ivy.util.url.IvyAuthenticator (file:sbt-launch.jar) to field java.net.Authenticator.theAuthenticator"
(See the guidelines for contributing, linked above)

## steps
Run sbt

## problem
WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.ivy.util.url.IvyAuthenticator (file:/usr/local/sbt/bin/sbt-launch.jar) to field java.net.Authenticator.theAuthenticator
WARNING: Please consider reporting this to the maintainers of org.apache.ivy.util.url.Iv

[2017-11-17 04:37] kitschen commented on #3492
@eed3si9n Thanks, in fact the build.properties contained `sbt.version=1.0.3`. Changing the version fixes the issue.
This test project was made using
`sbt new scala/hello-world.g8`
Unclear, why sbt 0.13 would create a build file referencing sbt 1.0.

[2017-11-17 07:42] eed3si9n commented on #3748
Duplicate of https://github.com/sbt/sbt/issues/3676.
This will be fixed in 1.0.4.

[2017-11-17 07:42] #3748 closed, assigned to nobody

[2017-11-17 07:43] eed3si9n commented on #3747
Hopefully we can address this in 1.0.4.

[2017-11-17 07:53] eed3si9n commented on #3492
With sbt, you can set the version of sbt using `project/build.properties` so the version of sbt you have it installed system-wide is not super important. This is somewhat analogous to gradle wrapper being able to invoke different versions of gradle if you're familiar with that.

`sbt new` delegates the call to Giter8, when the template ends with `.g8`, and Giter8 template are just a bunch of files

[2017-11-17 07:53] #3492 closed, assigned to nobody

[2017-11-17 07:57] eed3si9n commented on #3724
I am closing this until we have a better reproduction steps.
We are aware that `bc` command that's used in recent releases of `sbt` bash script has problems on git-bash/Cygwin and it's been addressed here - https://github.com/sbt/sbt-launcher-package/pull/199

[2017-11-17 07:57] #3724 closed, assigned to nobody

[2017-11-17 08:01] eed3si9n commented on #3728
Fixed in https://github.com/sbt/sbt-launcher-package/pull/199

[2017-11-17 08:01] #3728 closed, assigned to nobody

[2017-11-17 08:04] eed3si9n commented on #3726
This is now likely fixed in https://github.com/sbt/ivy/pull/27, which will be included in sbt 1.0.4.

[2017-11-17 08:04] #3726 closed, assigned to nobody

[2017-11-17 08:23] eed3si9n commented on #3730
Given the involvement of Java in the stacktrace, I'd say it's highly likely a duplicate of #3623.
If this is failing reliably, then Monix would be a great candidate for testing when we have the fix.

[2017-11-17 08:27] Doikor opened #3749 "crossSbtVersions fail when project is not (project in file("."))"
## steps

Make your project in build.sbt be anything else except `lazy val root = (project in file("."))`

## problem

sbt incorrectly sets scala version for builds.

This is evident by:

1.0.3:

[code]

0.13.16:

[code]

failure with 1.0.3:

[code]

failure with 0.13.16

[code]

## expectation

That the scala version is set correctly and thus the compile works

## notes

sbt version: 1.0.3, 1.0.4

[2017-11-17 10:36] leonardehrenfried commented on #3570
@avdv Excellent work and thanks for opening the bug on the okhttp repo. I hope this will be fixed upstream.

[2017-11-17 15:35] slandelle commented on #3486
Then, why not drop it, or make it noop with a warning log? At least mention in the migration guide `addMavenResolverPlugin` doesn't currently work.

It took me a desk head bangings to figure out why I got this "org.scala-sbt#sbt-maven-resolver;1.0.2: not found" error.

Please tell me how I can help.

[2017-11-17 17:58] dwijnand commented on #3687
The upstream issue is https://github.com/sbt/io/issues/82.

[2017-11-17 18:03] OlegYch commented on #3687
@dwijnand on windows and linux `PollingWatchService` is not really relevant..

[2017-11-17 20:49] avdv commented on #3570
Hey, just a quick update: the okhttp library is not at fault here. It is a misbehaviour of the upstream server, I will create a ticket there. (need to register first) I'll keep you posted.

Iin the meantime, I could reproduce this with a miinimal example. The server seeems to switch to the chunked transfer encoding for the GET requests, and does not switch it off for the HEAD requests again which

[2017-11-17 21:45] blast-hardcheese commented on #3695
@dwijnand I was just similarly unable to reproduce this on a linux VM, despite being able to reproduce it exactly the same way on my Macbook Air.

Upgrading Java now to see if that helps on my mac
**Update**: Upgrading to java version `1.8.0_151` did not impact reproducibility on OSX

### Mac specs
#### OS version
10.12.6 (16G1036)
#### Java version
java version "1.8.0_92"
Java(TM) SE Runtime Envi

[2017-11-18 07:03] blast-hardcheese commented on #3695
I was able to reproduce on a completely different mac, so I'm wondering if this is an OSX issue. That computer was also running 10.12.6

[2017-11-18 09:57] blast-hardcheese commented on #3695
I bisected and ended up on b9a4d3291. `-Dsbt.watch.mode=nio` is definitely slow, although it seems to behave as expected, both in this test example and the project I was initially having issues with

[2017-11-18 10:06] blast-hardcheese commented on #3695
I wonder, @dwijnand, can you repro with `-Dsbt.watch.mode=polling`? I've got a script to repro, switching between `nio` and `polling` gives consistent results: `nio` always works as expected, `polling` always fails.

[2017-11-18 21:08] DylanArnold commented on #3695
For what it's worth I tried to repro this issue on Ubuntu linux a week ago to try and find out if it was the same issue I was having with incremental compilation in the `1.0.x` series.

I was unable to reproduce the problem using the original steps.

[2017-11-19 02:18] xuwei-k commented on #3427
workaround https://gist.github.com/xuwei-k/58b082737d564b4720b850045cf7b5a9

[2017-11-19 02:44] xfguo commented on #2222
Same with me.

[2017-11-19 21:02] pvlugter commented on #3514
👍 for turning off the auto-trigger again

[2017-11-19 21:36] git4sun commented on #3471
I got the same issue. Any updates on this?

[2017-11-19 22:52] NicolasRouquette opened #3750 "SBT 1.0.[23] NPE in sbt.internal.librarymanagement.ivyint.GigahorseUrlHandler.getURLInfo"
(See the guidelines for contributing, linked above)

## steps

Clone this repo: https://github.com/NicolasRouquette/sbt.gigahorse.npe

## problem

With SBT 1.0.[23], running `sbt update` will result in the NPE described in the README.md

This is odd that this NPE happens specifically with the supersafe plugin.

## expectation

No NPE.

## notes

@eed3si9n's [suggestion](https://github.com/sbt/sbt/

[2017-11-20 03:45] cheeseng commented on #3750
Related: https://github.com/sbt/librarymanagement/issues/180

[2017-11-20 13:17] slandelle commented on #3737
With sbt 0.9, I used to have sbt tasks that would use `sbt.Process` to launch native processes with `!<`.

`sbt.Process` is gone in sbt 1 and we're supposed to use `scala.sys.Process` instead.
Then, it seems this method sets `connectInput` to true, which causes sbt's stdin to be closed. After performing such task, every attempt to run another one crashes with the above exception.
Calling `run(conn

[2017-11-20 13:30] tricqueb opened #3751 "Wrong handling of dependency invalidation on multi-module project."
## steps
Given following project setup:
`project/build.properties`
[code]
`build.sbt`
[code]

project `model`:
file `src/main/scala/model/Model.scala`
[code]

project `app`,
file `src/main/scala/app/App.scala` :
[code]

*Steps*
- Compile -> compile error (Expected)
- Change `Model` class to `Model(x:String)`
- compile -> Success (Expected)
- Change `Model` class to `Model(x:X)`
- compile -> Succes

[2017-11-20 14:34] megri opened #3752 "sbt failing with Unable to find any JVMs (for non-Oracle JDK?)"
(See the guidelines for contributing, linked above)

## steps
(depends on sdkman)

* sdk install java 8u152-zulu
* sdk use java 8u152-zulu
* brew install sbt
* sbt new lampepfl/dotty.g8

## problem
[code]
## expectation

sbt should be runnable with an OpenJDK-based JDK

## notes

sbt version: *1.0.3*

[2017-11-20 14:38] dwijnand commented on #3687
@OlegYch Yeah, there are multiple issues going on at once. But I think the regression tracked here has to do with the solution (shipping as of 1.0.3) being `PollingWatchService`-based, which is also broken..

[2017-11-20 15:36] megri commented on #3752
This can be closed, I believe the issue lies within sdkman

[2017-11-20 15:36] #3752 closed, assigned to nobody

[2017-11-21 03:14] ravi5237 opened #3753 "Hive"
(See the guidelines for contributing, linked above)

## steps

## problem

hive> show tables;
FAILED: SemanticException org.apache.hadoop.hive.ql.metadata.HiveException: java.lang.RuntimeException: Unable to instantiate org.apache.hadoop.hive.ql.metadata.SessionHiveMetaStoreClient

## expectation

hive> show tables;
FAILED: SemanticException org.apache.hadoop.hive.ql.metadata.HiveException: java.l

[2017-11-21 03:18] ravi5237 commented on #3734
This issue is resolved.

Issue with version compatibility. (scala 12 --> 11)

[2017-11-21 03:18] #3734 closed, assigned to nobody

[2017-11-21 09:46] atnoya commented on #3377
I run into the same issue, but in my case doing `task in configuration` doesn't help. Using sbt 1.0

[2017-11-21 09:53] atnoya commented on #3377
To add on the example, in my case, it's a bit more troublesome because I am actually trying to redefine the `test in IntegrationTest`.

Example that works, but it's not what's intended, this is redefining the wrong `test`:
`test := Def.sequential(dockerComposeSpinUpEnv, test in IntegrationTest, dockerComposeSpinDownEnv).value`

Example that doesn't work:
`test in IntegrationTest := Def.sequential(

[2017-11-21 10:51] qingwei91 opened #3755 "How to obtain scalaVersion from sbt"
I am trying to obtain scalaVersion of my project using sbt, and have it available to external tools

## steps
sbt scalaVersion

## problem
The output is not easily parseable, making sbt hard to compose with other terminal tools

## expectation
Can we have an option to change this behaviour, so that sbt can behave more like unix tool that output easy to parse string.

Currently, it outputs the foll

[2017-11-21 16:36] kolotyluk opened #3756 "Document all JVM Options"
(See the guidelines for contributing, linked above)

## steps

Go to http://www.scala-sbt.org/0.13/docs/index.html

## problem

There is no documentation on how to set the JVM options (i.e. -Xmx4g)

## expectation

This should be one of the most clearly visible, easy to find parts of the documentation. We should not have resort to googling "sbt jvm options" which produces much contradictory and co

[2017-11-21 20:58] Yaski commented on #3471
Have same issue with java version "9.0.1" and sbt 1.0.3

[2017-11-21 21:11] Yaski commented on #3471
When I removed jdk 1.8 got this error
"Unable to find any JVMs matching version "1.8"."
Looks like it hard coded to jdk 1.8. What a lame.

[2017-11-22 05:16] takezoe commented on #3724
It looks to be caused by old version of JGit.
I raised an issue about this in giter8: https://github.com/foundweekends/giter8/issues/352

[2017-11-22 11:11] dwijnand opened #3757 "Consider changing `projectToRef` to return `LocalProject` instead of `ProjectReference`"
See https://github.com/sbt/zinc/pull/428#discussion_r144284948.

## notes

sbt version: *1.0.x*

[2017-11-22 11:38] dwijnand opened #3758 "Possible URLHandlerRegistry conflict with fm-sbt-s3-resolver plugin"
Tracking upstream https://github.com/sbt/librarymanagement/issues/175.

## notes

sbt version: *1.0.3*

[2017-11-22 17:00] dwijnand commented on #3711
I think sbt/util#132 should help. Therefore I think we should keep this targeting 1.0.4, and if there's further work to do we should open a new issue (which can of course link to this prior investigations).

[2017-11-22 21:27] tpunder commented on #3758
This is fixed via https://github.com/sbt/librarymanagement/pull/183

[2017-11-22 22:21] pauldraper opened #3759 "sbt always with reverse deps of test:definedTestNames on test:compile"
**project/build.properties**
[code]

**build.sbt**

[code]

[code]

Expected: the junk task is not run.
Actual: the junk task is run.

[code]

This is due to the storeAs/triggeredBy used in defining definedTestNames.

The workaround is to add

[code]

[2017-11-22 22:30] pauldraper commented on #2983
Agreed. If anything, sbt is far more complex than it should be.

E.g. consider all the plugins enabled in sbt by default. Great for Scala projects. But extraneous for other projects.

sbt-sh could be put under the sbt organization, and even documented prominently. But including it in every sbt core distribution runs counter to the composibility and modularity that is the strength of the sbt commun

[2017-11-22 23:07] pvlugter opened #3761 "sbt 1.x cached resolution breaks multi-project builds"
Inter-project transitive dependencies are not on dependency classpath when cached resolution is enabled.

## notes

sbt version: 1.x

**Note**: cached resolution now requires 2 settings to be enabled:

[code]

[code]

**Note**: The current `dependency-management/cached-resolution-*` scripted tests **do not** actually use cached resolution, since the metadata directory has not been defined. If meta

[2017-11-23 00:34] pdalpra commented on #3607
Would something like that be OK ?

[code]

[2017-11-23 09:58] #3591 closed, assigned to xuwei-k

[2017-11-23 10:42] dwijnand commented on #3607
I'm not sure I like the directory being before the start of the message ("Loading settings from"). I think we should make show file paths relative to the base directory, and possibly even replace `/home/pdalpra/` with `~` (maybe just on Unix filesystems?).

[2017-11-23 11:04] sukeshlaghate commented on #3696
+1 Me too

[2017-11-24 00:09] tomasjura opened #3764 "java.library.path is mangled"
(See the guidelines for contributing, linked above)

## steps
1. setup in build.sbt  java.library.path
val ojdbc_dir = file("/usr/local/oracle/instantclient_12_2")
unmanagedJars in Compile += Attributed.blank( ojdbc_dir / "ojdbc8.jar" )
javaOptions in Compile += s"-Djava.library.path=$ojdbc_dir"

2. invoke console and run a small program which just tries to connect to DB.
Test_JDBC.main(Array("jdb

[2017-11-24 09:30] #3254 closed, assigned to nobody

[2017-11-24 15:54] SA-KIRA commented on #3647
it does not work @fosskers

[2017-11-24 16:13] fosskers commented on #3647
It does for me with `fork in run := true` in my `build.sbt`.

[2017-11-24 19:37] SethTisue opened #3765 "sbt is using a really ancient specs2 version"
[code]

if it ain't broke why fix it, I guess, but... we're unable to run sbt's test suite in the Scala community build because of this, and having to contend with a weird old version of something could be a barrier for contributors.

I thought there should be a ticket, at least.

[2017-11-24 22:39] eed3si9n commented on #3750
I tested it on my Mac, but I could not reproduce this.

[code]

[2017-11-25 04:53] camilojimenez opened #3767 "bin/sbt-launch-lib.bash introduces unnecessary bc dependency"
## steps

running sbt without bc installed results on an error:

      docker run -it ubuntu bash
      # inside the container:
      apt-get update; apt-get -y install default-jdk curl
      curl -L https://github.com/sbt/sbt/releases/download/v1.0.3/sbt-1.0.3.tgz | tar -zxf -
      ./sbt/bin/sbt

results on::

      /sbt/bin/sbt-launch-lib.bash: line 207: bc: command not found

      The java in

[2017-11-25 20:27] philwalk opened #3769 "sbt launch rejects windows java version 1.8 under a cygwin bash session"
(See the guidelines for contributing, linked above)

## steps
launch sbt from a cygwin bash session with windows java version 1.8 in PATH

## problem
symptom with current code is to exit with complaint that java version 1.8 is not new enough

The fix is to modify line 183 of sbt-launch-lib.bash to convert carriage returns to newlines, e.g.:
[code]

current code:
[code]
fixed code:
[code]

line 183

[2017-11-26 08:49] eed3si9n commented on #3427
Fixed in https://github.com/sbt/zinc/pull/453 / https://github.com/sbt/sbt/pull/3768

[2017-11-26 08:49] #3427 closed, assigned to eed3si9n

[2017-11-26 08:51] eed3si9n commented on #3684
Fixed in sbt/ivy#27 and https://github.com/sbt/sbt/pull/3768.

[2017-11-26 08:51] #3684 closed, assigned to nobody

[2017-11-26 08:52] eed3si9n commented on #3690
Fixed in https://github.com/sbt/ivy/pull/27 and https://github.com/sbt/sbt/pull/3768.

[2017-11-26 08:52] #3690 closed, assigned to nobody

[2017-11-26 09:15] #3765 closed, assigned to nobody

[2017-11-26 10:43] xuwei-k commented on #3741
https://github.com/sbt/sbt/issues/3684#issuecomment-346993442

[2017-11-26 10:43] #3741 closed, assigned to nobody

[2017-11-26 10:58] xuwei-k opened #3771 ""sbt '++ 2.13.0-M1!' compile" does not work with sbt 1.0.4"
## steps

project/build.properties

[code]

build.sbt

[code]

Foo.scala

[code]

execute `sbt compile`

## problem

[code]

## expectation

compile success

## notes

sbt version: 1.0.4

This is a regression due to https://github.com/sbt/zinc/pull/453#discussion_r153066408
But I think this is not important issue because Scala 2.13.0-M1 is a old milestone version :)

[2017-11-26 19:39] eed3si9n commented on #3767
Duplicate of https://github.com/sbt/sbt-launcher-package/issues/198

[2017-11-26 19:39] #3767 closed, assigned to nobody

[2017-11-27 10:24] jastice commented on #1502
any insights on how to accomplish this? for practical purposes #3443 is caused by not having a robust way to inject plugins when starting sbt. I am able to spend some time on this, given a little guidance.

[2017-11-27 11:27] dwijnand commented on #1502
Here's an old commit of mine when I tried to accomplish this: https://github.com/sbt/sbt/commit/81a4d07b1e1657d3fb5ac23b52c63fb91bf37547

I can't even remember how well that worked or not.

[2017-11-27 11:57] jastice commented on #1502
Thanks, Dale. That would work even without modifying sbt itself since it's just a sequence of commands, but the `session save` part modifies the user's build, which is something I definitely want to avoid. What I would need is a way to make a plugin sticky for the lifetime of the sbt process, but not have any effects to other instances of sbt started during or after the process runs.

[2017-11-27 13:44] SA-KIRA commented on #3647
@fosskers yes it works but i got these errors : `  root = sun.misc.Launcher$AppClassLoader@677327b6
  cp = Set(/tmp/sbt_7d2cae42/target/a10732c7/protobuf-java-2.5.0.jar, /tmp/sbt_7d2cae42/target/7a9adf97/jersey-media-jaxb-2.22.2.jar, /tmp/sbt_7d2cae42/target/23807d9f/hadoop-yarn-server-common-2.6.5.jar, /tmp/sbt_7d2cae42/target/4ed2b2d4/osgi-resource-locator-1.0.1.jar, /tmp/sbt_7d2cae42/target/b67

[2017-11-27 15:36] fosskers commented on #3647
Was there an actual Exception thrown?

[2017-11-27 17:48] dragisak commented on #3670
This is still broken in 1.0.4

[2017-11-27 21:22] japgolly opened #3773 "Eviction spam"
(See the guidelines for contributing, linked above)

## steps

In a multi-module project with a significant number of modules and not 100% up-to-date dependencies, (and/or with Scala.JS) run:

[code]

## problem

Entire screens of spam about eviction notices. Like this:
[code]

"some are suspected to be binary incompatible" ← yeah well SBT, you're wrong in nearly all cases. Most libraries don't fo

[2017-11-27 22:14] SethTisue commented on #3771
I think it would be fine to close this as wontfix

[2017-11-28 01:04] pshirshov commented on #3711
So, the issue seems to be fixed. Now build time is adequate again. Thanks.
If you wish I may profile a bit more (though it's not a rocket science).

[2017-11-28 01:20] eed3si9n commented on #3711
Awesome. I'll close this then.

[2017-11-28 01:20] #3711 closed, assigned to nobody

[2017-11-28 11:52] mechkg opened #3775 "~ in polling mode is not triggered by IntelliJ IDEA saving files in macOS"
## steps

1. Create a barebones SBT project, e.g. using new SBT project in IntelliJ IDEA. Add a test source file, e.g.

[code]

2. Start SBT and run any command prefixed with **~**, e.g.

    ~run

3. Edit the file in IDEA and save it.

## problem

SBT does not detect file changes and does not re-run the command.

## expectation

SBT should detect file changes and re-run the command.

## notes

Ch

[2017-11-28 15:10] mechkg commented on #3775
See also https://github.com/sbt/io/issues/86

[2017-11-28 16:04] #3723 closed, assigned to nobody

[2017-11-28 16:15] dwijnand commented on #3486
It slipped through the cracks.

A straightforward PR that deprecates `addMavenResolverPlugin` and (if possible) prints some kind of warning on use would most probably be merged quickly.

[2017-11-28 16:17] dwijnand commented on #3753
This is sbt, not Hive. For Hive you probably want to report it over here: https://issues.apache.org/jira/projects/HIVE.

[2017-11-28 16:17] #3753 closed, assigned to nobody

[2017-11-28 17:38] dwijnand commented on #3773
Here was requesting issue: https://github.com/sbt/sbt/issues/2699 (and PR https://github.com/sbt/sbt/pull/3204).

One angle to improve the status quo we're thinking is by defining an "abiVersion", https://github.com/sbt/sbt/issues/3562, which we've tentatively added to the 1.2.0 milestone.

[2017-11-28 21:01] xerial commented on #3608
This problem still exists in sbt-1.0.4:

**build.sbt**
[code]

[code]

With `fork in Test := true`, it works as expected:
[code]

[2017-11-28 21:02] xerial commented on #3608
So I think there is a general classpath (or dependency resolution) issue in `sbt run` command execution.

[2017-11-28 21:05] eatkins commented on #3695
I added an sbt plugin that resolves this issue for me on my mac: https://github.com/swoval/MacOSXWatchService

[2017-11-28 21:05] xerial commented on #3608
^ any idea? @eed3si9n
We also have class loading issues especially when trying to find classes using reflection.

[2017-11-28 21:39] ozmad opened #3778 "sbt 1.0 - offline package command fail with spark-core dependency"
(See the guidelines for contributing, linked above)

## steps
- create simple project by running:
   sbt new sbt/scala-seed.g8
- add dependency in build.sbt:
   libraryDependencies += "org.apache.spark" %% "spark-core" % "2.2.0"
- run sbt
- in sbt:
   - clean
   - package
   - set offline := true
   - clean
   - package

[sbt-proj.zip](https://github.com/sbt/sbt/files/1511663/sbt-proj.zip)

## pro

[2017-11-29 04:40] xerial commented on #3775
@mechkg Good catch!

[2017-11-29 08:12] laughedelic commented on #3644
I think https://github.com/sbt/sbt/pull/3740 and https://github.com/sbt/sbt/pull/3779 fix this.

[2017-11-29 08:24] francisdb commented on #3687
I think this can be closed as it's a duplicate of #3695?

[2017-11-29 08:42] dwijnand commented on #3687
The use cases are slightly different. Last I tried I couldn't reproduce #3695, but I could this one. Which, btw, I'm going to investigate more today, with the info in #3775 / sbt/io#86.

[2017-11-29 08:49] francisdb commented on #3687
Ah, great to see you are getting tot he root cause of this 👍

[2017-11-29 09:10] xuwei-k commented on #3747
https://github.com/Homebrew/homebrew-core/commit/df32257b65564c43a463bce618747183a5974524

[2017-11-29 11:51] dwijnand commented on #3747
Optimistically closing as fixed with sbt 1.0.4 and https://github.com/Homebrew/homebrew-core/pull/21052.

[2017-11-29 11:51] #3747 closed, assigned to nobody

[2017-11-29 13:59] dwijnand commented on #3687
Real upstream is https://github.com/sbt/io/issues/86.

[2017-11-29 14:15] dwijnand commented on #3775
Upstream https://github.com/sbt/io/issues/86

[2017-11-29 14:15] dwijnand commented on #3695
I expect this to be fixed with https://github.com/sbt/io/issues/86 too.

[2017-11-29 15:30] tpunder commented on #3758
This is resolved in SBT 1.0.4.  Thanks!

[2017-11-29 15:49] slandelle commented on #3486
I'm not familiar with sbt sources yet, but I'll give it a try.

[2017-11-29 16:03] #3758 closed, assigned to nobody

[2017-11-29 16:32] eed3si9n commented on #3608
I wonder if the classpath is no longer correct since bgRun copies files around.

[2017-11-29 16:43] danslapman opened #3780 "sbt does not respect user-defined configurations"
## steps
create an sbt project
`./src/main/scala/Main.scala`:
[code]
`./src/probe/scala/Probe.scala`:
[code]
`./build.sbt`
[code]
run `sbt run`
run `sbt probe:run`

## problem
Both times `main` is printed

## expectation
Second time `Probe.scala` expected to be compiled and `probe` to be printed

## notes

sbt version: `1.1.0-RC4`, `1.0.4`, `0.13.16`

[2017-11-29 17:12] slandelle commented on #3486
@dwijnand I can't manage to print a warning. How do you grab a logger in a Settings (not in a Task)?

[2017-11-29 17:16] dwijnand commented on #3486
Use `sLog.value` instead.

[2017-11-29 17:24] slandelle commented on #3486
Thanks!

[2017-11-29 17:24] slandelle commented on #3486
See #3781

[2017-11-30 01:20] soronpo opened #3783 "Significant performance regression between SBT 0.13.16 and 1.0.4 for the singleton-ops library"
The [singleton-ops library](https://github.com/fthomas/singleton-ops) suffers from long build (& test) times after moving to SBT 1.0.4 from 0.13.16.

[Travis build with SBT 1.0.4](https://travis-ci.org/fthomas/singleton-ops/builds/308911207)
Documented build times:
 - Scala 2.11.11: 34min.
 - Scala 2.12.4: 28min.

[Travis build with SBT 0.13.16](https://travis-ci.org/fthomas/singleton-ops/builds/3

[2017-11-30 01:23] eed3si9n commented on #3783
Thanks for the report. Having repro project like this is very helpful.

[2017-11-30 13:16] sjrd opened #3784 "sbt 1.0.4 puts the `-sources.jar` and `-docs.jar` in the `compile` config in `ivy.xml`"
## steps

Using the following `build.sbt`:
[code]

[code]

Results in this gist: https://gist.github.com/sjrd/39b487f3f1f3abb4a5910f583e6d0e9a

## problem

The ivy.xml published by sbt 1.0.4 declares the `src` and `doc` artifacts in the `compile` conf, instead of `sources`/`docs` as it should.

Concretely, this means that when one depends on such a project, the `-sources.jar` and `-docs.jar` are d

[2017-11-30 13:17] sjrd commented on #3784
This is a blocker for us to migrate the build of Scala.js to sbt 1. Currently our CI fails because of this issue, as can be seen in the PR https://github.com/scala-js/scala-js/pull/3200.

[2017-11-30 18:41] eatkins commented on #3775
I referenced this in #3695 but, as a temporary fix, I added an sbt plugin that replaces the WatchService for OSX with one that uses the Apple File System Events API. https://github.com/swoval/MacOSXWatchService

[2017-11-30 21:42] bantonsson commented on #3514
Could we please get the old behaviour back for sbt 1.1.x?

[2017-12-01 00:24] ritschwumm commented on #3497
i've seen it today with 1.0.4, and never before with 0.13.x on ubuntu with 64k max_user_watches in a project with about 6500 files (including target folders).

[2017-12-01 06:48] eed3si9n opened #3786 "sbt server log is set to debug level"
(See the guidelines for contributing, linked above)

## steps

1. Open sbt/sbt using 1.1.0-RC1.
2. Open it using VS Code.

## problem

Lots of debug level logs.

[code]

## expectation

No debug level logs.

## notes

https://github.com/sbt/sbt/blob/v1.1.0-RC1/main/src/main/scala/sbt/internal/CommandExchange.scala#L109

[code]

[2017-12-01 07:07] eed3si9n opened #3787 ""ERROR StatusLogger No log4j2 configuration file found""
## steps

1. Run sbt/sbt using 1.1.0-RC1.

## problem

[code]

## expectation

No error message.

[2017-12-01 07:16] xuwei-k opened #3788 "java.lang.IllegalArgumentException: requirement failed: A named attribute key must start with a lowercase letter"
## steps

project/build.properties

[code]

build.sbt

[code]

execute `sbt`

## problem

success with sbt 1.0.4. but sbt 1.1.0-RC1 throw error

[code]

## expectation

should not throw error

## notes

- https://github.com/sbt/sbt/blob/v1.1.0-RC1/internal/util-collection/src/main/scala/sbt/internal/util/Attributes.scala#L99
- https://github.com/sbt/sbt/commit/33a01f3ceb30e837508a79b3baae2527b15d4

[2017-12-01 07:32] dwijnand commented on #3519
https://github.com/sbt/librarymanagement/pull/177 wasn't merged, so this wasn't fixed by bumping lm.

[2017-12-01 07:32] larsrh commented on #3787
Can confirm. Also happens on other projects.

[2017-12-01 07:35] dwijnand commented on #3594
Maven Central is run by Sonatype, Inc, not by the Apache Software Foundation.

[2017-12-01 07:51] eed3si9n commented on #3788
This is intentional. With unified slash syntax, we assume that all setting keys and task keys start with lower case, and all configurations are capitalized.

[2017-12-01 08:11] xuwei-k commented on #3788
I see. closing

[2017-12-01 08:11] #3788 closed, assigned to nobody

[2017-12-01 08:37] francisdb commented on #3594
Pretty sure it's owned by the Apache Software Foundation, management could indeed be subcontracted to Sonatype.
Sonatype oss is managed by Sonatype but they are merely a gatekeeper for maven central. (Apache projects don't even use it)

[2017-12-01 09:04] dwijnand commented on #3594
I can't find any reference to that. In http://takari.io/2015/10/28/google-maven-central.html it says it started at ASF, and as of late 2015 "everything is managed by Jason Swank, Joel Orlina and a few other members of Sonatype’s technical operations team". It's definitely not clear who "owns" Maven Central.

[2017-12-01 10:16] larsrh commented on #3142
I believe this issue can be closed now, because #3701 has been merged.

[2017-12-01 11:36] ozmad commented on #2687
I just had the similar problem in sbt-1.0.
This is a simple workaround that works for me (might need slight syntax changes for other sbt versions but should work).

Add the following to build.sbt of the project (the dependency):

`publishLocal := {`
`	val cachePath =` `s"${ivyPaths.value.ivyHome.get.getCanonicalPath}/cache/${organization.value}/${name.value}"`
`	org.apache.commons.io.FileUtils.del

[2017-12-01 13:19] OlegYch commented on #3687
modifications to files in dependent projects are also ignored, even if executing the command directly in that project like `~derp/compile`
btw it would be nice to add proper toString to classes like sbt.io.SimpleFileFilter and sbt.internal.io.Source, or all sbt classes for that matter, and make their properties public (or make them case classes?), otherwise inspecting much of sbt keys (watchSource

[2017-12-01 13:49] dwijnand commented on #3687
Done: https://github.com/sbt/io/pull/77

[2017-12-01 18:21] brianf commented on #3594
Sonatype has always provided Central and owns the maven.org domain. If you want to use a neutral dns, then repo.maven.apache.org/maven2 is what you want. This is currently a cname to repo1.maven.org but is there to maintain neutrality in the Maven code.

[2017-12-01 19:14] dwijnand commented on #3594
Oh interesting.

[2017-12-01 21:29] francisdb commented on #3594
Thanks for the clarification @brianf. Do I understand it correctly Sonatype could just discontinue maven central if it wanted?

[2017-12-01 22:08] brianf commented on #3594
We've been providing Central for over 10 years as a corporation and Jason personally funded it for several years prior to that. Simply dropping it and walking away would be tantamount to commercial suicide. Given it's prominence in the community, I think it's fair to say this is far less likely to happen to Central, the canonical repository than to other commercial proxies around it.

Separately,

[2017-12-01 22:13] brianf commented on #3594
As a follow up, anyone here interested in the history of Central, I was recently on a podcast describing it. https://manifest.fm/6

[2017-12-02 04:07] eed3si9n commented on #3594
@brianf On behalf of Scala community, I just wanted to say thanks to you and Sonatype for all the work and funding on Maven Central.

As per this issue, I think we can safely close this as wontfix.

[2017-12-02 04:07] #3594 closed, assigned to nobody

[2017-12-03 12:24] jeffreyolchovy commented on #3755
Maybe consider implementing this as your own plugin / command / task?

For example, in your given project, place the following in `project/PrintPlugin.scala`:

[code]

And from your project directory, run the following:

[code]

It should work with arbitrary setting keys (and chaining) as well:

[code]

[According to the documentation](http://www.scala-sbt.org/1.0/docs/Howto-Logging.html#Change+th

[2017-12-03 13:09] qingwei91 commented on #3755
@jeffreyolchovy
Thanks for your reply, we went down the path of parsing using bash script.

[2017-12-03 13:09] #3755 closed, assigned to nobody

[2017-12-03 15:03] jozic opened #3792 "1.1.0-RC1 breaks sbt-release"
This is mostly FYI, as sbt-release should probably not depend on internal
## steps

start `release`

## problem
[code]

## expectation

release works

## notes

sbt version: 1.1.0-RC1
sbt-release version: 1.0.6

release still works with sbt 1.0.3, didn't check 1.0.4

[2017-12-03 16:00] ritschwumm commented on #3497
update: i'm seeing this multiple times every day. i tried to start start the jvm sbt runs in with `-Dsbt.watch.polling=true` but that doesn't seem to help (why?).

[2017-12-03 18:05] themerius commented on #3466
I have the same problem: `sbt` is very slow in dependency resolution when executed within a docker container. Any ideas?

[2017-12-04 03:18] 2m opened #3793 "traceLevel setting is not taken into account since 1.x"
## steps
Given a task
[code]

The exception stack trace is printed out when the task is ran no matter what the value of `traceLevel` is set.

## problem
`traceLevel` setting does not suppress stack traces of being printed.

## notes

sbt version: 1.0.4, 1.1.0-RC1

Works as expected with sbt 0.13.16.

[2017-12-04 13:31] gmarti commented on #3736
i have same problem with sbt 0.13.6 scala 2.11.8 and akka-remote 2.5.4
If i start my project without akka-remote i don't have the scala.Int exception.

I try to make a short example

[2017-12-05 16:13] Fenwick17 opened #3796 "ncurses throws expcetion with 0.13.15 (Also not colour in terminal)"
(See the guidelines for contributing, linked above)

## steps
Run `sbt test` with ncurses-6.0+20170902-3 and sbt 0.13.15

## problem
I am using sbt 0.13.15 as our application has dependencies set for this, and I had to update ncurses to the latest version due to another OS issue. When doing this my terminal throws an exception before running `sbt test` `java.lang.NumberFormatException: For input s

[2017-12-05 16:25] Fenwick17 commented on #3796
Downgraded ncurses has worked (OS issue currently not occuring)

[2017-12-05 20:47] mechkg opened #3797 "Documentation mentions Project.settingsSets which no longer exists, no alternative given"
See http://www.scala-sbt.org/1.0/docs/Setting-Initialization.html

I was looking for a way to override some of the sub-project settings specified in their internal build.sbt files from the top-level build.sbt.

settingsSets looked like something that would allow me to do that, why was it removed? Is there any alternative way of changing the order of how the settings are applied (at the moment it s

[2017-12-05 22:23] akshyag commented on #2187
It could be because of the wrong date as well. Try updating the system date and then re-run the apt-get update.

[2017-12-05 22:28] Tang8330 commented on #2836
@7kemZmani did you ever get a chance to fix it? Curious for a write up on how you fixed it.
I am currently running into the same issue here on my localdev.

[2017-12-06 06:36] xuwei-k commented on #3792
https://github.com/sbt/sbt-release/pull/215

[2017-12-06 08:37] Fenwick17 commented on #3796
Turns out the OS issue I have is with `libtinfo` which is resolved by using the latest version of `ncurses` which means my issue still occurs

[2017-12-06 10:35] dwijnand commented on #3797
Here's the issue that lead to the removal: https://github.com/sbt/sbt/issues/2617.

[2017-12-06 10:37] n3ziniuka5 opened #3798 "Allow subprojects to define their own plugins"
## problem
At my workplace, we are currently moving to a monorepo approach. We manage dependencies with internal artifactory and when you have project dependencies such as A -> B -> C and need to constantly make changes and test for example modules A and C, it gets a bit tedious with artifact publishing and updating, that's the main reason we are moving to monorepo with a single root `build.sbt` a

[2017-12-06 10:38] dwijnand commented on #3796
This is https://github.com/sbt/sbt/issues/3240, which was fixed in sbt 0.13.16.

What's the reason you can't upgrade to 0.13.16?

[2017-12-06 10:38] #3796 closed, assigned to nobody

[2017-12-06 10:45] dwijnand commented on #3798
There is no classpath isolation of plugins between different projects of a build, and adding that isn't feasible.

What I suggest you look at doing is creating multiple builds within the repository and use source dependencies between projects of different builds, for example something like:

**projA/build.sbt**
[code]

**projB/build.sbt**
[code]

**projC/build.sbt**
[code]

That way your different

[2017-12-06 10:45] #3798 closed, assigned to nobody

[2017-12-06 10:53] mechkg commented on #3797
Do I understand correctly that with this change it is no longer possible to
override settings pulled from sub-projects?

Related SO question: https://stackoverflow.com/questions/47662021/how-to-change-the-order-in-which-settings-are-applied-to-an-sbt-subproject

On 6 December 2017 at 10:35, Dale Wijnand <notifications@github.com> wrote:

[2017-12-06 11:06] dwijnand commented on #3797
I'm not sure what you mean exactly by "override settings pulled from sub-projects", but it's no longer possible to customise the order in which sbt loads settings, at a project level (http://www.scala-sbt.org/1.0/docs/Setting-Initialization.html#Controlling+Initialization).

[2017-12-06 16:08] dwijnand commented on #3786
Fixed in https://github.com/sbt/sbt/pull/3791.

[2017-12-06 16:08] #3786 closed, assigned to eed3si9n

[2017-12-06 16:59] eed3si9n commented on #3792
@jozic Thanks for the report.

@xuwei-k Thanks for fixing sbt-release.

Now that it's addressed on the plugin side, I'm going to close this for now.

[2017-12-06 16:59] #3792 closed, assigned to nobody

[2017-12-06 21:37] devshorts opened #3799 "sbt not sending authorization headers when bootstrapping"
sbt version: 0.13.16
sbt-launcher version: 0.13.16/1.04

My company has an internal nexus installation that we use as a proxy. We have credentials configured in a few places. The plaintext creds are in `~/sbt/credentials`. We have in `/usr/local/etc/sbtopts` the following:

[code]

Our repositories file `~/.sbt/repositories` looks like:

[code]

Resolving internal artifacts via our proxy during no

[2017-12-06 23:08] drxcc commented on #3584
Using sbt-1.1.0-RC1 it seems to work now.  I tested it with scala-2.12.4  If it was a scala issues, maybe sbt server now reloads the entire jar file in memory.

[2017-12-07 00:32] mpollmeier commented on #3584
thanks @drxcc, I can confirm that it's fixed in 1.1.0-RC1 in combination with scala 2.12.4. I first tested with 2.12.3 and there it is/was still broken. anyway, from my perspective we can close this.

[2017-12-07 00:32] #3584 closed, assigned to nobody

[2017-12-07 15:02] franbh commented on #3736
I had this problem while starting a new project until I realized that I had forgotten to fork the JVM for the run task:
```fork in run := true```

Although this seems to be a SBT regression, the workaround is pretty simple.

BTW I'm using SBT 1.0.4, Scala 2.12.4, Akka 2.5.7.

[2017-12-07 15:48] linkTDP commented on #3696
The same problem also for me

[2017-12-08 01:11] mosesn commented on #3725
@dwijnand we're running into this too, any idea how we can fix this?  we would like to publish snapshots to maven central, and this seems to be a pretty big impediment.

[2017-12-08 09:29] Fenwick17 commented on #3796
@dwijnand It appears moving to 0.13.16 seems to be fine for sbt. I tried the latest sbt, but I think that was too much of a jump for the project.

[2017-12-08 14:51] JohnPendlebury commented on #937
Was there any further developments with this issue. I see it happening intermittently with sbt and sbt-native-packager. Versions don't appear to be relevant.

[2017-12-08 16:21] eed3si9n opened #3801 "File URIs sent by server is incompatible with editors that expect RFC 3986"
## steps

run server, and compile.

## problem

[code]

## expectation

[code]

`file:///`

This was also reported in https://github.com/sbt/sbt/issues/3702

## notes

Under RFC 8089, published in February 2017, an aboslute POSIX file path can be encoded into URI in two different ways.

First is `file:/etc/hosts` with no authority field. Let's call this u1 notation. u1 is the new, minimal represen

[2017-12-08 16:56] metasim commented on #2229
FWIW: I also have this problem in 0.13.16
Happened after I changed some code in a subproject `build.sbt` and ran a fresh sbt instance.

[2017-12-09 07:19] RakeshChouhan commented on #3471
I am getting the same issue as @dalamar66  facing.
Java version -
java version "1.8.0_151"
Java(TM) SE Runtime Environment (build 1.8.0_151-b12)
Java HotSpot(TM) 64-Bit Server VM (build 25.151-b12, mixed mode)

sbt version - 1.0

[2017-12-09 16:51] jesinity commented on #3404
me too with sbt `0.13.16`

[2017-12-09 17:04] jesinity commented on #2687
the point is when you have mixed projects, as we are because we're transitioning from maven to sbt you are in a real pain.

We have this workflow:

* we have a mixed sbt and maven project
* imagine last stable release, published in internal nexus with version `2.0.0`.
* I develop on my branch with next release `2.0.1-SNAPSHOT` . This release is never published to nexus: SNAPSHOT only exist in loca

[2017-12-09 17:05] nromeoarena commented on #2687
+1

[2017-12-09 19:40] ozmad commented on #2687
@jesinity I would consider adding a task to build.sbt  "localDependenciesCleanup" that will clean the local maven repo. you should consider if it should be done on your build server too (might be problematic if more than one "build" is running at the same time)

[2017-12-10 01:39] kshakir commented on #3793
Would this be related to my [SO post](https://stackoverflow.com/questions/47601811/how-to-suppress-info-messages-in-sbt-1-0-0-1-0-4)? After a week no one seems to know the answer over there either.

[2017-12-10 12:21] raisercostin commented on #963
On windows10 and sbt-0.13.8 I was able to do it with:

`cmd /C "set JAVA_HOME=c:\apps\jdk1.7.0_80&& sbt"`

[2017-12-10 12:26] lev112 commented on #3591
could someone help me understand why it broke?

how come `console-quick` can work in 0.13.x, but in 1.x, it needs to be changed to `consoleQuick`?

[2017-12-10 20:05] jgonian commented on #3486
I discovered `addMavenResolverPlugin` and `sbt-maven-resolver` in the SBT documentation while I was trying to overcome multiple integration issues between SBT and Maven during our company's migration to SBT.

For example, this is the only available way to have libraries released truly in Maven style, including updating the `maven-metadata.xml` file that many plugins are depending upon.

When I rea

[2017-12-10 21:20] nrinaudo opened #3803 "Broken (?) transitive dependencies handling with non-default classifiers"
## steps
Set up a project such that:

- module `a` depends on library `b` that depends on `lib classifier tests`
- module `a` depends on library `c` that depends on `lib`

## problem

Inspecting the `dependencyClasspath`, I observe that `lib` is only present in its "non-classified" version (that is, `lib classifier tests` is absent from the CLASSPATH).

## expectation

I would expect both `lib` an

[2017-12-10 21:47] dvdalilue commented on #3793
I have the same issues with sbt `1.0.4`. The use of `-error` does not suppress any message (info nor debug). Finally, i changed to `0.13.16`

[2017-12-10 23:37] laughedelic commented on #3801
I thought it works well in VSCode. I also fixed it in atom-languageclient library. Both formats are valid URIs.

[2017-12-11 00:04] eed3si9n commented on #3801
You are right that single slash (I call them u1 notation) is recommended/correct under [RFC 8089](https://tools.ietf.org/html/rfc8089), published in February 2017.

But previous [RFC 3986](https://tools.ietf.org/html/rfc3986) or 2013 Kerwin Draft (https://tools.ietf.org/id/draft-kerwin-file-scheme-07.html) uses /// (u3 notation):

[code]

For the sake of compatibility, I think it would be better i

[2017-12-11 01:58] svj13 opened #3804 ""Error: Unable to access jar file" on Windows + JDK 9"
I am using windows powershell and trying to use sbt.

Attached is an image of my error. I think it has something to do with "1.0.4" being encapsulated in quotes, but am unsure. I am also unsure as to how to remove these quotes from the file path

![image](https://user-images.githubusercontent.com/18566065/33812642-a79d2568-de83-11e7-938c-452b74c1219e.png)

[2017-12-11 12:51] laughedelic commented on #3801
👍 I was just confused by the word "wrong" in the initial issue title.

[2017-12-11 13:58] martijnhoekstra commented on #3804
as a workaround, run from `cmd`

[2017-12-11 16:28] dwijnand commented on #3591
In sbt 0.13 camelCase was favour over "kebab-case", though kebab-case still worked. In sbt 1 that support was dropped.

[2017-12-11 18:10] svj13 commented on #3804
@martijnhoekstra  The same error occurs in cmd

[2017-12-11 20:03] levinson commented on #1894
This is a very confusing issue -- at the very least it should be documented better.

[2017-12-12 03:14] vvasuki opened #3806 ""Can not initialize cryptographic mechanism" on OpenJDK 9"
sbt 1.0.4 and 1.1.0-RC failed to work with open jdk 1.9, but worked fine when open jdk 1.8 (build 1.8.0_151-8u151-b12-0ubuntu0.17.10.2-b12 or oracle jdk 9 (build 9.0.1+11) were installed.

Log: https://pastebin.com/raw/UzX2DX7P .

(I don't know if you knew of this problem already - wanted to let you know just in case.)

[2017-12-12 07:19] leonardehrenfried commented on #3570
@avdv Did you ever open a ticket with artifactory?

[2017-12-12 07:24] avdv commented on #3570
@leonardehrenfried Yes: https://www.jfrog.com/jira/browse/RTFACT-15318

Until now there is no response...

[2017-12-12 07:33] avdv commented on #3570
TBH, I would really like to see this fixed with gigahorse (somehow) or okhttp. Even if JFrog fixes their own artifactory servers, there are probably quite a few out there which probably won't see the fix in a long time.

Also, during my tests I used nginx and mitmproxy which both somehow could cope with the responses and did not error out... So, it seems not so unreasonable to just skip to the nex

[2017-12-12 15:06] akauppi commented on #3570
@avdv We (Zalando, my employer) haven't really done anything about this. For my use, I can still have the official sbt be 0.13.15 which avoids touching this problem, at all. For me, that's the best policy for now.

[2017-12-12 18:35] eed3si9n commented on #3806
The log says:

[code]

This is https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=866924 (https://github.com/docker-library/openjdk/issues/101)

Could you try the following workaround:

[code]

[2017-12-12 18:49] vvasuki commented on #3806
Ah I see - I gave up on the openjdk9 setup and would have to reinstall it on my computer to check (which I don't want to) - So, I'm fine with closing this bug for now. 🙏

[2017-12-12 19:47] avdv commented on #3570
@akauppi fair enough, we decided to make the switch to 1.0 and disable gigahorse via `.sbtopts`in every project...

[2017-12-12 22:27] eed3si9n commented on #3806
I'm closing this for now as upstream issue.

[2017-12-12 22:27] #3806 closed, assigned to nobody

[2017-12-13 05:47] eed3si9n commented on #3784
source and docs going into `compile` is an intentional behavior introduced in 2013 by @dansanduleac as https://github.com/sbt/sbt/pull/1016 into 0.14 branch, but was never released, and then became https://github.com/sbt/librarymanagement/pull/25.

If this is causing interference with compiler plugin detection, that might be the buggy code.

[2017-12-13 07:53] gdiet commented on #3737
Observing something very similar:
[code]

When the process stops after "run", the first thing I enter in the SBT console triggers a `java.io.IOException: The pipe is being closed`. After that, everything is ok.

Find minimal example attached.
[pipe.zip](https://github.com/sbt/sbt/files/1554547/pipe.zip)

Note that for certain projects (like mine), connectInput is necessary when forking, and forkin

[2017-12-13 08:16] dwijnand commented on #2837
https://github.com/lucidsoftware/neo-sbt-scalafmt is a thing, but also sbt-scalafmt just got a rewrite: https://github.com/scalameta/scalafmt/pull/1085. So I think this issue is no longer valid.

[2017-12-13 08:16] #2837 closed, assigned to nobody

[2017-12-13 08:22] dwijnand commented on #2870
Another option is to put the definition of the default value of a key _in_ the key definition. Then `a :=b` would _only_ mean "redefine a to b".

Note that this couldn't just be the bare value `A`, it has to be an `Initialize[A]` as it's very common for the default value to be defined in terms of other keys.

Something like

[code]

[2017-12-13 10:22] sjrd commented on #3784
IIRC, the compiler plugin issue happened when
* I published the compiler plugin with sbt 1.0.4, under `^^0.13.16`
* then *used* the compiler plugin from a project using sbt 0.13.16

I think there was no issue when using the compiler plugin from a project using sbt 1.x itself.

So if the changes in https://github.com/sbt/librarymanagement/pull/25 were indeed correct, it seems that something needs t

[2017-12-13 11:51] timurgen commented on #3804
Same error occurs in both CMD and Powershell, GIT bash shell works OK.

[2017-12-13 13:08] ktoso commented on #3736
Just making sure you've seen this @eed3si9n @dwijnand;
It seems to stop us from moving quickstart examples to sbt 1.0 etc.
So the workaround with forking exists, but is a bit too weird for users (esp in our quickstarts, when things would stop working if not forked)

[2017-12-13 14:08] pshirshov commented on #3725
Look at my message above, there is a link to a plugin which is fixing the issue.

[2017-12-13 14:18] mosesn commented on #3725
@pshirshov hmm, OK, I'll try it out.  thanks!

[2017-12-13 15:37] OlegYch commented on #3687
@eed3si9n does this fix the issue on windows (which afaik doesn't use pollingwatchservice) ?

[2017-12-13 15:51] eed3si9n commented on #3804
Thanks for reporting this. The quote does seem odd.
In terms of the actual access, is the `.sbt\preloaded\` directory under your access? Can you `cd` into it etc?

[2017-12-13 15:54] dwijnand commented on #3687
@OlegYch No, that must be another issue. One which I'm not sure has already been reported.

Also, the fix was merged in sbt/io's 1.0.x branch, which I just merged into the 1.1.x branch (https://github.com/sbt/io/pull/99), so that it can be in sbt 1.1.0-RC2. Re-opening so we know to re-release sbt/io for 1.1.0-RC2.

[2017-12-13 15:57] dwijnand commented on #3775
Re-opening to track sbt/io needs releasing for inclusion in 1.1.0-RC2.

[2017-12-13 15:57] dwijnand commented on #3695
Re-opening to track sbt/io needs releasing for inclusion in 1.1.0-RC2.

[2017-12-13 16:09] olafurpg commented on #2837
FYI The new sbt-scalafmt plugin will be sbt 1.0 only.

[2017-12-13 16:35] OlegYch commented on #3775
@dwijnand this seems to be specific to IDEA
happens to me on windows, with sbt 1.0.0-1.0.4, with both polling and io, doesn't happen if i eg edit the file with notepad or use IO.touch

[2017-12-13 16:41] OlegYch commented on #3775
the only difference i can see is that when IDEA saves file - directory last modified time is updated, but not when i use touch

[2017-12-13 23:06] eed3si9n commented on #3804
There's a quote at line 56:

[code]

That's likely the problem.

[2017-12-13 23:25] dwijnand commented on #3804
It's not the only problem, but anyways we can fix it with https://github.com/sbt/sbt-launcher-package/pull/200.

[2017-12-14 02:08] timzaak commented on #3050
[code]
and then works..

[2017-12-14 03:37] ctongfei commented on #2666
This affects `jcuda`.
[code]

Macros `${jcuda.os}` and `${jcuda.arch}` are not expanded by SBT.

I'm developing something that uses CUDA in Scala and this is a blocking problem.

[2017-12-14 07:13] eed3si9n commented on #3804
I have a repro on AppVeyor - https://ci.appveyor.com/project/eed3si9n/sbt-launcher-package/build/1.0.30

[code]

[2017-12-14 09:31] alexandru commented on #3730
Just an FYI, but this still happens with version 1.0.3:

[code]

[2017-12-14 13:15] dwijnand commented on #3142
Thanks, Lars.

[2017-12-14 13:15] #3142 closed, assigned to retronym

[2017-12-14 15:32] eed3si9n opened #3811 "Backport fix for "No such file or directory" on clean to 0.13"
This is a backport request via the Lightbend subscription.

- https://github.com/sbt/sbt/issues/2156
- https://github.com/sbt/sbt/pull/3093

[2017-12-14 20:06] doncorsean-private opened #3812 "Scripted name clashing"
#https://github.com/foundweekends/giter8/issues/360

# problem
Scripted is hardcoded to use a file called `test`. When using giter8 to create a play template with a `test` folder the scripted tests fail as scripted finds the `test` dir and not the script named `test`

## expectation
be able to run scripted tests against projects that define a test directory. could be as simple as changing the file

[2017-12-15 01:19] dwijnand commented on #2446
I agree (as I did back in 2015: https://gitter.im/sbt/sbt?at=5563d8961d3343c66cf02dd5)

(More generally I think `currentProject` should be removed from sbt, if possible)

When you run `~<anything>` it just executes `<anything>`, so ideally that would return some information on how to determine when to execute `<anything>` again.

[2017-12-15 01:54] #2176 closed, assigned to nobody

[2017-12-15 11:08] dwijnand commented on #3570
@avdv If you do find a workaround for this in gigahorse I'm pretty sure a PR with the fix would be merged.

[2017-12-15 14:17] #3787 closed, assigned to eed3si9n, dwijnand

[2017-12-15 20:00] Milyardo commented on #2870
You could also make `:=` preserve references to the previous value, much like how `Append` shows all lines applying to a key, `:=` could do the same:

It could report something like

[code]

[2017-12-16 02:07] avdv commented on #2766
closing since fixes are already merged

[2017-12-16 02:07] #2766 closed, assigned to nobody

[2017-12-16 13:45] izhangzhihao commented on #2964
Same issue here, it would be great if this issue will been fixed in next release!
And for @samuelsayag any workaround on that? Thanks!

[2017-12-16 22:06] #3543 closed, assigned to cunei

[2017-12-16 22:47] eed3si9n commented on #3623
New Zinc was merged in https://github.com/sbt/sbt/pull/3816 with the fix.

[2017-12-16 22:47] #3623 closed, assigned to eed3si9n

[2017-12-16 22:51] eed3si9n commented on #3771
New Zinc with the fix was merged in #3816

[2017-12-16 22:51] #3771 closed, assigned to dwijnand

[2017-12-16 22:52] eed3si9n commented on #3695
New io with the fix was merged in #3816

[2017-12-16 22:52] #3695 closed, assigned to dwijnand

[2017-12-16 22:54] eed3si9n commented on #3687
New io with the fix was merged in #3816

[2017-12-16 22:54] #3687 closed, assigned to dwijnand

[2017-12-16 22:54] eed3si9n commented on #3775
New io with the fix was merged in #3816.
If the issue persists with 1.1.0-RC2, then we will reopen this case.

[2017-12-16 22:55] #3775 closed, assigned to dwijnand

[2017-12-16 23:11] dwijnand commented on #3775
This issue was about macOS though, where it's using polling. If there are issues with NIO and/or IntelliJ, on Windows, they should be reported.

[2017-12-17 21:13] OlegYch opened #3819 "~ is not triggering for files saved in IDEA"
## steps
empty project
create a `src/main/scala/a.scala` file
start `sbt ~compile`
open the file in IDEA, modify and save

## problem
nothing happens

## expectation
the file is recompiled

## notes
sbt version: 1.0.0-1.0.4
with `-Dsbt.watch.mode=nio` or `-Dsbt.watch.mode=polling`
windows 10

this is a followup to #3775

[2017-12-17 21:53] OlegYch commented on #3819
i have noticed that unlike other tools IDEA updates directory modification time while saving a file in that directory
tried to reproduce that without involving idea but so far coulnd't

[2017-12-18 08:14] clhodapp commented on #3482
Seems to be fixed in 1.1.0-RC2! I'll close this post-1.1.0 if it remains fixed.

[2017-12-18 08:23] dwijnand commented on #3482
I strongly suspect this was fixed with #3507, which shipped in sbt 1.0.2!

[2017-12-18 08:24] dwijnand commented on #3482
Note that #3661 is still impacting `console`. I've added it to the next hotfix milestone, in the hopes we can fix it by then.

[2017-12-18 09:45] clhodapp commented on #3482
I don't think it was fixed in 1.0.2 but no worries: it does seem to have been fixed at some point. :)

[2017-12-18 10:11] francisdb opened #3820 "FileNotFoundException: No such file or directory in PollingWatchService"
sbt 1.1.0-RC2
MacOS
java version "1.8.0_152"
Java(TM) SE Runtime Environment (build 1.8.0_152-b16)
Java HotSpot(TM) 64-Bit Server VM (build 25.152-b16, mixed mode)

I got this logged while testing `1.1.0-RC2` to see if it would pick up changed when running using `~`. Seems to break the watch service as changes are not detected after this.

after `~test:compile`

[code]

after `clean`

[code]

[2017-12-18 10:21] francisdb commented on #3820
As a workaround we are again falling back to using https://github.com/swoval/MacOSXWatchService

[2017-12-18 11:50] dwijnand commented on #3820
Hi @francisdb, thanks for reporting the issue. The underlying reason is that when fixing the precision of file's last modified date (https://github.com/sbt/io/pull/92) we switched the semantics. `File.lastModified` returns `0` on missing files, while our new `IO.getLastModified` throws an exectpion.

However, I can't reproduce the issue. Can you share a minimal reproduction of this, please?

[2017-12-18 13:10] francisdb commented on #3820
I can reproduce this on 2 of our bigger projects, they contain more than 10 subprojects and I use these commands

[code]

(still trying to find out if any specific build settings trigger this)

[2017-12-18 13:34] francisdb commented on #3820
I tried `parallelExecution in Global := false` but still saw the issue, seems to mostly report this `classes.bak` file. What is writing that?

[2017-12-18 15:15] OlegYch commented on #3738
same with sbt 1.0.4

[2017-12-18 15:24] OlegYch commented on #3432
still an issue in 1.0.4

[2017-12-18 15:52] drxcc opened #3821 "1.1.0-RC2 breaks 1.1.0-RC1 with IllegalArgumentException for NGWin32NamedPipeLibrary"
Using Windows 8 the sbt launcher fails to launch 1.1.0-RC2 where 1.1.0-RC1 worked very stably.

## steps

## problem (using 1.1.0-RC2)

[code]

## expectation (using 1.1.0-RC1)

[code]

## notes

* sbt version: *sbt-1.1.0-RC2*
* Windows 8
* java 8
* scala 2.12.4  (in the sbt.boot.properties luancher setting conf)

[2017-12-18 16:27] rickilambert commented on #3471
The same error whether i try jdk 9 or 8 - my current setup after much messing about is

C:\kafka\sbt\bin>java -version
java version "1.8.0_11"
Java(TM) SE Runtime Environment (build 1.8.0_11-b12)
Java HotSpot(TM) 64-Bit Server VM (build 25.11-b03, mixed mode)

[2017-12-18 18:47] gavares opened #3823 "Starting multiple instances of sbt gives: java.io.IOException: sbt server is already running."
## steps
In a single project directory, start multiple instances of sbt

## problem
The 2nd instance of sbt logs an error with message: `java.io.IOException: sbt server is already running.`

## expectation
No error is logged. The sbt instances should either share the sbt server or start separate instances. Either way, no error should be logged.

## notes

sbt version: 1.1.0-RC2

[2017-12-18 18:49] gavares commented on #3823
The original sbt instances logs the following into the sbt shell after the 2nd instance starts:
[code]

Notice the logging is inserted into my prompt entry inside the REPL. I was just about to type `run` and before I pressed enter, the log message showed up.

[2017-12-18 18:55] cunei commented on #3821
This is due to an incompatible change between JNA 4.1.0 and JNA 4.5.0. Thanks for reporting! We need to fix this in RC3.

[2017-12-18 21:49] gavares commented on #3823
A little more info, the IOException is actually printed at the end of each command executed in the repl.

[2017-12-18 22:38] aaccioly commented on #3804
Hi @eed3si9n and @dwijnand.

Looks like  `:copyrt` is still not working correctly after applying https://github.com/sbt/sbt-launcher-package/pull/201.

**Environment:** Windows 10 + JDK 9+  CMD or PowerShell

[code]
Removing double quotes around `"!rtexport!"` fixed the issue for me.

[code]
While I was testing with 1.0.2, I think that this will be an issue with 1.1.0 as well. Can you please doubl

[2017-12-19 00:20] eed3si9n commented on #3823
Generally speaking, running multiple instances of sbt on a single build is unsupported and dangerous (as in we can't really guarantee any behavior to be correct), so maybe we should display a warning at startup to the effect.

I'll also look into if it's possible to avoid trying to run server over and over again.

[2017-12-19 00:37] eed3si9n commented on #3804
@aaccioly Your observation makes sense because I've removed the double quotes for `set java9_rt`, but not `set rtexport`. The line I have to fix is line 132.

[2017-12-19 01:06] #2038 closed, assigned to dwijnand

[2017-12-19 01:07] eed3si9n commented on #2666
@ctongfei See this workaround for CUDA - https://stackoverflow.com/a/46763742/3827

[2017-12-19 01:18] aaccioly commented on #3804
@eed3si9n, good catch. `set rtexport=!SBT_HOME!java9-rt-export.jar` works for me if I reinsert the double quotes.

[code]

[2017-12-19 01:21] eed3si9n commented on #3730
There's sbt 1.1.0-RC2 out with this fix, but we found other issues around RC-2 so we haven't widely announced it yet.

I just tested by running `clean` and `executionJVM/compile` 3 times in a row, and I'm not seeing NPE with 1.1.0-RC2.

[2017-12-19 01:21] #3730 closed, assigned to nobody

[2017-12-19 01:33] gavares commented on #3823
Hi Eugene,

  Thanks for taking a look at this.

   We have a number of use cases for running multiple sbt instances in a
project. I was hoping that the shift to a client server model was going to
improve the experience around this a bit  by letting the multiple sbt
shells share a warm/jitted backend jvm and faster shell startup time. I
think Gradle benefits from something like this.

If the sbt p

[2017-12-19 01:55] #3411 closed, assigned to dwijnand

[2017-12-19 02:57] eed3si9n commented on #3823
run tests against that instance in another.

Our eventual goal is to support usage like that by connecting to a running sbt server.

[2017-12-19 04:49] xuwei-k commented on #3812
https://github.com/sbt/sbt/issues/630 ?

[2017-12-19 07:25] dwijnand commented on #3812
Oh wow, a three digit issue.

Duplicate of #630.

[2017-12-19 07:25] #3812 closed, assigned to nobody

[2017-12-19 08:45] dwijnand commented on #3707
Sounds duplicate of #3176.

[2017-12-19 08:45] #3707 closed, assigned to nobody

[2017-12-19 16:19] cunei commented on #3545
@dwijnand, can you please point me to a failed test? I am trying to reproduce, but all seems to work for me with current 1.1.x head.

[2017-12-19 16:23] cunei commented on #3545
is it possible that you have seen https://github.com/sbt/sbt/pull/3802 ?

[2017-12-19 16:49] dwijnand commented on #3545
@eed3si9n mentioned failures at https://github.com/sbt/sbt/pull/3816#discussion_r157337712.

Yes I saw #3802.

[2017-12-19 19:46] eed3si9n commented on #3821
Fixed in https://github.com/sbt/sbt/pull/3824

[2017-12-19 19:59] sundarms opened #3827 "I get unresolved dependency errors where the version is "working@"."
(See the guidelines for contributing, linked above)

## steps
Looks like the same issue as mentioned here https://stackoverflow.com/questions/23701209/sbt-0-13-2-m3-to-0-13-5-rc3-issue

## problem
It's happening when I have a multi-project build with two sub-projects, one of which depends on the other. They both have dependencies whose maven poms specify a common parent (though I'm not sure if tha

[2017-12-19 22:58] Enalmada commented on #3707
This might be a dupe of #3176 but I will just point out an important difference here.  #3176 is clearly about forced exit not cleaning something up: sbt, kill sbt (ie quit sbt without exit), sbt.

In this ticket, I am getting the error after a proper exit from shell.  My use case is that I start up sbt, do a "dependencyUpdates" command, increment my 3rd party component versions in build.sbt, exit

[2017-12-19 23:10] Enalmada commented on #3437
I am totally guessing here but I think what might be happening in my case (#3707) is that I have Intelij open and when I change my build.sbt 3rd party dependencies, it triggers something in Intelij to start temporary internal sbt process to fetch dependencies.  Then when I stop and start sbt manually on the command line to make my build.sbt changes take effect, I get the "already in use".  If this

[2017-12-20 00:24] laughedelic commented on #3437
This. And IntellyJ should also connect to a running server or launch one if there's no and when it does what it needs, just close the client connection. See https://github.com/sbt/sbt/issues/3508#issuecomment-331944886

[2017-12-20 02:10] JLucky commented on #3206
Thanks, it solved the problem. Actually, copy the ~/sbt/lib/local-preloaded's sub-directories to ~/.ivy2/local/

[2017-12-20 05:25] ravwojdyla commented on #3736
Just for the reference, PTAL: https://github.com/sbt/zinc/pull/473

[2017-12-20 07:14] dwijnand commented on #3707
Yes, I kind of cheated by calling this a duplicate even though (as you rightly point out) the use cases are a bit different. The reason I did this is because the general area is influx currently, see for instance the hours-recent https://github.com/sbt/sbt/pull/3828 PR. I think when the dust settles all these similar issues can be closed.

[2017-12-20 10:24] dwijnand commented on #3515
Proposed fix: https://github.com/sbt/zinc/pull/473.

[2017-12-20 10:24] MasseGuillaume opened #3829 "It's not possible to order sbt.complete.Completions"
The signature is:

https://github.com/sbt/sbt/blob/34d311f9cef2732d0427060fd7c8e704a46cba52/internal/util-complete/src/main/scala/sbt/internal/util/complete/Completions.scala#L17

this does not allow an ordering.

https://github.com/sbt/sbt/blob/34d311f9cef2732d0427060fd7c8e704a46cba52/internal/util-complete/src/main/scala/sbt/internal/util/complete/JLineCompletion.scala#L82

but the underlying im

[2017-12-20 10:33] dwijnand commented on #3829
What's the use-case here, given those signatures are internal only?

[2017-12-20 10:45] MasseGuillaume commented on #3829
I want to simulate the `git diff <tab>` output.
https://github.com/scalacenter/scalafix/pull/520#discussion_r157899629

There is a list of the last 20 commits.

[2017-12-20 10:46] dwijnand commented on #3512
In large parts resolved with https://github.com/sbt/sbt/pull/3807.

There's a few more to do, but I stopped myself going down a rabbit hole (in sbt-contraband's impl) to ship the value added in https://github.com/sbt/sbt/pull/3807.

[2017-12-20 10:46] #3512 closed, assigned to dwijnand

[2017-12-20 10:54] dwijnand commented on #3829
Looks like the whole completion library is internal, which makes it very hard to use.. 😄

https://github.com/sbt/sbt/tree/v1.0.4/internal/util-complete/src/main/scala/sbt

[2017-12-20 11:41] MasseGuillaume commented on #3829
I found a workaround. The display is sorted
https://github.com/sbt/sbt/blob/34d311f9cef2732d0427060fd7c8e704a46cba52/internal/util-complete/src/main/scala/sbt/internal/util/complete/JLineCompletion.scala#L88

[code]

[2017-12-20 11:59] dwijnand commented on #3829
Yep, Set exposes an iterator, that does have a stable order (or at least I think iterators should have a stable order). So it's more like a sequence without duplicates, where adding or removing can reorder the resulting elements.

On the other hand, how have plugins in the ecosystem cross-built to sbt 1 if none of the completions API is public? 😒

[2017-12-20 13:20] hedefalk commented on #3775
I struck this problem with IDEA saves not triggering my ~compile. So I found this and upgraded to latest RC, but now I instead get this issue that it doesn't seem to resolve a softlink for a git-hook:

[code]

It is however there as a softlink:

~/d/p/a/.git ❯❯❯ ll  /Users/viktor/dev/projects/[project]/.git/hooks/pre-commit
lrwxr-xr-x  1 viktor  staff    23B Mar  7  2017 /Users/viktor/dev/projects

[2017-12-20 13:27] alexandru commented on #3730
Thanks @eed3si9n

[2017-12-20 15:21] dwijnand commented on #3775
That's https://github.com/sbt/sbt/issues/3820.

[2017-12-20 15:41] cunei commented on #3545
OK, I found this travis run:
https://travis-ci.org/sbt/sbt/jobs/317262269
In its log there is a failed `tests/fork-parallel`. The log refers to sbt's commit 4cae6895. The commit log is here:
https://github.com/sbt/sbt/commits/4cae6895680000bacc6aeab0cc8990a5148d5338
The list of commits includes the fix in #3802, meaning that `templateStats()` is synchronized. So, there is definitely still an issue

[2017-12-20 15:48] eed3si9n commented on #3545
What I originally had was the content of #3789 + https://github.com/sbt/sbt/pull/3816/commits/40b86ae41265c49e6e52fa2ac043413be82bd0cc, which failed the `tests/fork-parallel` test.

[2017-12-20 16:44] ravwojdyla commented on #3515
sbt/zinc#473 does not help here (it was my bad referencing wrong issue). Since I'm here, after glancing over this issue: it seems like when the tests pass, `ClassLoader` chain looks like this:

[code]

Notice, the `ClasspathFilter` -> `DualLoader` (with 2 `URLClassLoader`s) -> `NullLoader` chain. When test fail, it's:

[code]

Notice the lack of extra `ClassLoader`s. `java.net.URLClassLoader`s do

[2017-12-20 18:12] cunei commented on #3545
I retrieved the branch, and restarted Travis: it failed at the very same spot again:
https://travis-ci.org/sbt/sbt/jobs/319252979
Yet, it works on my machine.

[2017-12-20 22:20] sundarms commented on #3827
Looks like this was issue with invalid pom from some other dependent library

[2017-12-20 22:20] #3827 closed, assigned to nobody

[2017-12-20 22:25] dos65 opened #3832 "Test task doesn't use actual fork value"
## steps
Setup project with following build.sbt:
[code]
add [test](https://gist.github.com/dos65/1988eb306125625d866ced014401accf#file-test-scala) in `src/main/test` and run `sbt test`

## problem
Sbt doesn't actually fork test execution, test from gist always [fail](https://gist.github.com/dos65/1988eb306125625d866ced014401accf#file-out).
Sometimes it's possible to see a warning about it:
[code]

[2017-12-21 01:05] meequee commented on #3696
Same. Any Update?

[2017-12-21 03:20] cunei commented on #3545
Gotcha! The Travis test uses a VM that has less than four cores. The `tests/fork-parallel`, because of how it is written, will always report success when run on less than four cores, rather than failing in one of the two cases as expected. To reproduce, pretending that only two cores are available:
[code]
So it's really just the test that needs fixing @eed3si9n, @dwijnand

[2017-12-21 03:43] eed3si9n commented on #3545
nice. I am ok with keeping the text commented out with your explanation in the comment then.

[2017-12-21 03:46] eed3si9n commented on #3823
Fixed in https://github.com/sbt/sbt/pull/3828

[2017-12-21 03:46] #3823 closed, assigned to eed3si9n

[2017-12-21 05:24] ravwojdyla commented on #3515
It seems like this is related to how specs2 works, reasoning:
 * thread pool created by specs2 might not have valid `ClassLoader` in which case the tests will fail. I have not looked into code of specs2, but their `ThreadPool` most likely inherits `ClassLoader` from the parent thread, in which case it would depend on whatever is the state of the parent thread (which might explain why it sometimes

[2017-12-21 08:29] yelianevich commented on #3799
I haven't figured out how to send credentials during SBT update, that's something that should be addressed by sbt itself in my opinion.

Nevertheless I found a decent workaround for that. I specified in `~/.sbt/repositories` file 2 additional repositories in the end, that only get hit when internal nexus cannot resolve dependency. Your `~/.sbt/repositories` file will look as follows:
[code]
`publi

[2017-12-21 08:37] sshanmuga commented on #2836
@Tang8330 : follow the [link](https://stackoverflow.com/questions/27127687/how-to-use-sbt-from-behind-proxy-in-windows-7/29005026)

[2017-12-21 15:46] smarter commented on #3469
We're currently trying to port dotty to sbt 1 and this multiplies the time taken by the scripted tests by 3. It now takes more than 2 hours to run them 😧

[2017-12-21 18:32] dwickern commented on #3432
You can reproduce this by importing [alpakka](https://github.com/akka/alpakka) (which uses sbt 1.0.4) into IntelliJ with the "download sources/javadoc" options checked.

One workaround is to uncheck the "download sources/javadoc" options, but then you won't have _any_ sources or javadocs!

Another workaround is to create `project/FixIntellijImport.scala`:
[code]

Then remove it after the project i

[2017-12-21 20:33] OlegYch commented on #3432
@dwickern a simpler and more complete workaround would be to do `;reload plugins; updateClassifiers; reload return`
perhaps `updateSbtClassifiers` should be changed to do just that

[2017-12-21 20:35] ravwojdyla commented on #3647
PTAL: https://github.com/sbt/zinc/pull/473

[2017-12-21 20:35] ravwojdyla commented on #3608
PTAL: https://github.com/sbt/zinc/pull/473

[2017-12-21 20:36] ravwojdyla commented on #3733
PTAL: https://github.com/sbt/zinc/pull/473

[2017-12-22 04:52] xerial commented on #3608
@ravwojdyla Thanks for the fix!

[2017-12-22 06:28] Jacoby6000 commented on #2814
@sp-niemand I had a similar problem, but to get things to work with intellij, I had to remove the `in ThisBuild` part.  That may mess things up I'm not expecting, but since it's still only in `updateSbtClassifiers` I think it'll be okay.

[2017-12-22 06:39] tomzheng77 commented on #3819
I'm having the same issue.
I'm using Mac OS 10.13.2.
When I save using Sublime Text, however, the changes are detected.

[2017-12-22 16:02] fosskers commented on #3647
Nice.

[2017-12-22 19:02] eed3si9n commented on #3736
Zinc fix is now merged. Please try sbt 1.1.0-RC3.

[2017-12-22 19:02] #3736 closed, assigned to nobody

[2017-12-22 19:11] eed3si9n commented on #3733
Zinc fix is now merged. Please try sbt 1.1.0-RC3.

[2017-12-22 19:12] eed3si9n commented on #3608
Zinc fix is now merged. Please try sbt 1.1.0-RC3.

[2017-12-22 19:12] #3608 closed, assigned to nobody

[2017-12-22 19:15] eed3si9n commented on #3647
Zinc fix is now merged. Please try <s>sbt 1.1.0-RC3</s> sbt 1.1.0-RC4.

[2017-12-22 19:15] #3647 closed, assigned to nobody

[2017-12-22 21:02] ravwojdyla commented on #3608
@eed3si9n thanks! afaiu it's `1.1.0-RC4` not `1.1.0-RC3` right?

[2017-12-22 21:05] eed3si9n commented on #3608
Zinc is on 1.1.0-RC4, but sbt is currently on 1.1.0-RC3, but I just found a bug so it will be 1.1.0-RC4 soon.

[2017-12-24 09:45] tweetingReza opened #3838 "SBT evalute an InputTask even when I have un-matched condition to run it"
## steps
I have this `build.sbt` file
[code]

## problem
When I run it
[code]

## expectation
I expect in `t1` the `run` be evaluated just once, and not evaluating for `t2` at all.

## notes
tested with `1.0.4` and `0.13.16`

[2017-12-25 09:38] fomkin commented on #3737
@gdiet I have a same problem

[2017-12-27 12:42] rotemfogel opened #3840 "sbt 1.0.4 does not pass parameters"
(See the guidelines for contributing, linked above)

## steps
1. install sbt 1.0.4 on windows
2. check sbt version:
`C:\workspace>sbt sbtVersion`
[code]
3. try and create a project named hello:
`C:\workspace>sbt new sbt/scala-seed.g8 --name=hello`
[code]
4. create the project without the name parameter just for another demonstration:
`C:\workspace>sbt new sbt/scala-seed.g8`
[code]
5. try and compi

[2017-12-27 14:57] Sciss opened #3841 "No tab completion when running `sbt console` in one go"
(See the guidelines for contributing, linked above)

## steps

Run `sbt console` for a project. (Note that I use [sbt-extras](https://github.com/paulp/sbt-extras) and do not have sbt installed, so it may be related to that?). Type `Indexe` and press <kbd>Tab</kbd> key.

## problem

A tab character is inserted instead of invoking the tab-completion.

## expectation

It should complete to `IndexedSe

[2017-12-27 21:12] ches opened #3842 "show for watchSources is useless since WatchSource API"
Since [the WatchSource API introduced in 1.0.1](https://groups.google.com/forum/#!topic/sbt-dev/xXXop3ytxC4), it is difficult to check the products of your configuration changes.

## steps

Use `show watchSources` to try to understand what's being watched.

## problem

Presumably, the toString output of an `sbt.internal.io.Source` is not helpful:

[code]

## expectation

See a human-readable listi

[2017-12-27 22:48] channingwalton commented on #3725
@mosesn did @pshirshov's plugin work for you? I made those changes to my build but it made no difference for me.

[2017-12-27 23:18] pelepelin opened #3843 "append to setting does not work in 0.13.16 in an AutoPlugin's projectSettings"
## steps
project/MyPlugin.scala
[code]

build.sbt
[code]

do `show compile:sourceDirectories`

## problem

In 1.0.x the value is added to the list, in 0.13.16 it is not.

Also, in 0.13.16 this line mysteriously fixes the problem:
[code]
Found here: https://stackoverflow.com/a/29848730/1531945

## expectation

Should work in 0.13.x as well.

## notes

I've tried `sourceGenerators += ...` as well.
I

[2017-12-28 04:46] vegansk commented on #1824
I ran into this issue in sbt plugin test using `scripted` when I started to publish the plugin

[2017-12-28 07:03] xuwei-k commented on #3843
https://github.com/sbt/sbt/issues/2082

[2017-12-28 07:13] xuwei-k commented on #3842
Maybe fixed sbt 1.1 ? https://github.com/sbt/io/pull/77

[2017-12-28 09:38] pelepelin commented on #3843
@xuwei-k Thank you very much!

Is this documented?

[This comment](https://github.com/sbt/sbt/issues/2081#issuecomment-116313174) describes the behavior, but this requirement seems still not mentioned in docs.

How can one find which setting comes from which plugin? `inspect` does not provide such hints, it only points to the place where setting macro is applied.

[2017-12-28 09:49] pelepelin commented on #3843
I can rewrite the issue to documentation issue.

[2017-12-28 10:04] deblockt opened #3844 "Sbt don't use .credentials when trying to update"
## steps

try to update sbt using custom nexus with authentifcation.
On `~/.sbt/repositories`, I have custom repository :
[code]

This nexus contains 1.0.0 version of SBT: `https://nexus.....com/repository/maven-central/org/scala-sbt/sbt/1.0.0/sbt-1.0.0.pom`

I have create a `.credentials` file on `~/.ivy2/.credentials` :
[code]

## problem

When sbt try to download `https://nexus.....com/reposito

[2017-12-28 14:38] danslapman commented on #3780
I missed `inConfig(Probe)(Defaults.compileSettings)`

[2017-12-28 14:38] #3780 closed, assigned to nobody

[2017-12-29 00:14] developergakuo commented on #2156
I get the following error too:
Error:Error while importing SBT project:<br/>...<br/><pre>[error] 	at sbt.MainLoop$.$anonfun$runWithNewLog$1(MainLoop.scala:76)
[error] 	at sbt.io.Using.apply(Using.scala:22)
[error] 	at sbt.MainLoop$.runWithNewLog(MainLoop.scala:70)
[error] 	at sbt.MainLoop$.runAndClearLast(MainLoop.scala:52)
[error] 	at sbt.MainLoop$.runLoggedLoop(MainLoop.scala:37)
[error] 	at sbt

[2017-12-29 23:55] Voltir commented on #3725
Plugin worked for me with a minor modification to not depend on other plugins in @pshirshov repo. I would rather have this be the default behavior for publishing snapshots though.

[2017-12-30 00:35] blast-hardcheese opened #3845 "Deleted files do not trigger ~"
Followup to https://github.com/sbt/sbt/issues/3695

## steps

Create a file, `src/main/foo.scala` with some content (`foo.scala!` in my test case)
Watch for the recompile (and error, as our file was invalid syntax)
Delete the file
Nothing happens

## problem

Deleted files don't trigger recompile

## expectation

Deleted files modify the parent directory, which triggers recompile

## notes

MacOS

[2017-12-30 09:47] OutToLearn commented on #3558
I am facing this issue from Pune, India. It's frustrating. I am not able to download the SBT from the official website. After about 25% download completion, it fails due to a "Network error". My internet is working perfectly fine, I've tried different browsers. My friend is facing the same problem from a different machine / ISP in Bangalore. Something is definitely wrong with the website download

[2017-12-30 09:54] OutToLearn opened #3846 "Unable to download SBT from official website (India)"
(See the guidelines for contributing, linked above)

## steps
1. Go to http://www.scala-sbt.org/download.html
2. Click on any download link.
3. Wait for the file to download completely (100%) - which it fails to. It stops after about 10-15 MB of the 55 MB download and throws a "Network Error" message.

## problem
I am facing this issue from Pune, India. It's frustrating. I am not able to download

[2017-12-30 11:28] OutToLearn commented on #3108
Not able to download the SBT from the website all of this week. :(

[2017-12-30 13:17] OutToLearn commented on #3846
I could finally download a really old version thanks to the links on this post: https://github.com/sbt/sbt/issues/3108

Link: https://downloads.typesafe.com/sbt/0.13.15/sbt-0.13.15.msi

But now after installing, the launch at command line fails. Error message:
[code]

[2017-12-30 18:09] onelogindavidkayal commented on #3108
I had to comment out the repo to make things on my system happy for now:

`
root@DavidMint ~ # grep -R dl.bintray.com /etc/apt
/etc/apt/sources.list.d/nekomit-originals.list:#deb https://dl.bintray.com/nekomit/deb-originals xenial main
`

When can I re-enable this repo?

[2017-12-30 22:20] tindzk commented on #3725
Another workaround is to remove the SNAPSHOT packages manually from Sonatype. Click [here](https://oss.sonatype.org/index.html#view-repositories;snapshots~browsestorage), then log in, find the package(s) in the  "Snapshots" pane, right-click and select "Delete".

[2017-12-31 05:28] paulp commented on #3841
No, I just checked and it's the same with the "official" runner, so not specific to sbt-extras.

[2017-12-31 05:31] paulp commented on #3841
It looks like the sbt server is only started if you run sbt with no args, then go into the console. Does anyone know offhand why the code path for "sbt console" differs from that of "sbt" followed by "console", and/or where it is that should be responsible for starting the server which presumably supplies the completions?

[2017-12-31 06:21] eed3si9n commented on #3841
Running "sbt console" runs sbt in a batch mode that executes `console` task. `console` task calls Scala REPL, which handles input, tab completion using JLine, and output on its own (we haven't virtualized that for server yet).

Running "sbt" runs `shell` task, which accepts user input from both the terminal and the network (server).

The problem is due to JLine initialization or restoration timing

[2017-12-31 06:29] eed3si9n commented on #3841
Here's another issue that looks more related https://github.com/sbt/sbt/issues/3661.

Jason has a workaround in there:

So maybe if you run "sbt" as part of `shell` JLine gets initialized, but if you run "sbt console" it never gets initialized?

[code]

[2017-12-31 07:10] paulp commented on #3841
@eed3si9n Yes, `jline.TerminalFactory.get.init` unborks it, thanks a lot.

[2017-12-31 07:14] paulp commented on #3841
@eed3si9n Though, at the price of leaving echo disabled when I quit the repl, sigh.

[2018-01-01 22:28] tomasjura commented on #3769
I was unhappy with sbt shell launcher, so wrote own [one](https://github.com/sbt/sbt/files/1596440/sbt.txt). Published under MIT licence. Wrote in pure shell, Java 1.9 probably not (yet) supported (copyRt missing).

[2018-01-02 13:55] schlichtanders commented on #2758
I still seem to get this error... when trying to run Intellij Idea sbt-shell the first time
[code]
When using curl -vL I see that there is a 302 moved temporarily return value in between

[2018-01-02 13:58] schlichtanders commented on #2758
my sbt version is 0.13.16

[2018-01-02 14:08] schlichtanders commented on #2758
I just see, that this might also be related to #2679 as this is a jar-download and I am indeed sitting behind a proxy

[2018-01-02 15:09] slandelle commented on #3486
@jgonian @dwijnand Actually, I have just closed #3781. I had lost track but finally realized that without `addMavenResolverPlugin`, I'm indeed unable to properly publish snapshots on Sonatype: artifacts are not properly renamed (should be timestamp instead of snapshot) and metadata are not updated :(

[2018-01-02 16:40] mosesn commented on #3725
Yeah, we ended up working around it by curling the delete endpoint in our publish job, but it's not ideal.

@channingwalton: we didn't end up trying @pshirshov's work-around.

[2018-01-02 19:57] jgonian commented on #3486
Given that sbt-maven-resolver plugin is internally using Eclipse Aether, which is the same library as Maven itself uses, I'm wondering why SBT doesn't use it by default when users set `publishMavenStyle := true`.

I believe this would reduce the maintenance overhead for both sbt maintainers and sbt users.

[2018-01-02 20:35] eed3si9n commented on #3108
@OutToLearn @onelogindavidkayal

I am not aware of any Bintray issues as of today. Which repository or URLs are you guys having problem?

[2018-01-02 20:41] eed3si9n commented on #3846
Could you post the exact URL that you are having problem with?

Are you saying that both download links and Maven Central are failing?
It might be possible that these services are doing some maintenance during the down time, but if it keeps happening, maybe something else is going on your end of the network.

[2018-01-03 00:27] eed3si9n commented on #3838
`.evaluated` is a macro call that expands to _happens-before_ relationship - http://www.scala-sbt.org/1.x/docs/Task-Graph.html.

If you want to branch out the task dependencies based on a condition you have to use a dynamic task.

[2018-01-03 00:27] #3838 closed, assigned to nobody

[2018-01-03 00:29] akauppi opened #3847 "Unable to download sbt-native-packager plugin on Ubuntu with OpenJDK 9 headless (certificate issue)"
Partly out of curiosity, was trying to build my sbt project using `openjdk-9-jdk-headless` on our CI machine. It fails with what seems to be a certificate issue.

I understand that once JDK 9 was still being developed, but it's been out for a while now, and the behaviour was surprising to me. I don't know if this is directly an sbt issue.

## problem

The build stops with:

[code]

This seems to b

[2018-01-03 00:32] eed3si9n commented on #3843
I'm closing this since it's now fixed in sbt 1. You're welcome to send us a PR on https://github.com/sbt/website/blob/0.13/src/reference/02-DetailTopics/05-Plugins-and-Best-Practices/02-Plugins.md

[2018-01-03 00:32] #3843 closed, assigned to nobody

[2018-01-03 00:38] eed3si9n commented on #3844
Could you define:

[code]

and see if that solves it plz?

[2018-01-03 00:39] eed3si9n commented on #3842
Could you try sbt 1.1.0-RC4 and see if it works plz?

[2018-01-03 01:23] eed3si9n commented on #3840
`=` is a special character in Windows Command shell.

https://technet.microsoft.com/en-us/library/bb490880.aspx

Try

[code]

That should work. So as far as sbt is concerned, we are passing the arguments to Giter8. You could potentially ask it to make Windows friendlier command line option formatting.

[2018-01-03 01:23] #3840 closed, assigned to nobody

[2018-01-03 01:32] eed3si9n commented on #3811
Fixed in https://github.com/sbt/sbt/pull/3834

[2018-01-03 01:32] #3811 closed, assigned to dwijnand

[2018-01-03 04:01] eed3si9n commented on #3847
As far as I know, sbt 1.0.4 runs ok on JDK 9 (sbt 1.1.0-RC4 would be better), but OpenJDK 9 packaging has had several issues (on Ubuntu and/or Docker):
- https://github.com/docker-library/openjdk/issues/19
- https://github.com/docker-library/openjdk/issues/101
- https://github.com/docker-library/openjdk/issues/145
- https://bugs.java.com/view_bug.do?bug_id=JDK-8189131
- https://bugs.debian.org/cgi

[2018-01-03 04:01] #3847 closed, assigned to nobody

[2018-01-03 04:06] eed3si9n commented on #3832
Thanks for the detailed report.

[2018-01-03 04:08] eed3si9n commented on #3829
I'm going to close this for now, since Guillaume seems to have find a workaround.

[2018-01-03 04:08] #3829 closed, assigned to nobody

[2018-01-03 04:10] eed3si9n commented on #3821
Fixed in https://github.com/sbt/sbt/pull/3837.

[2018-01-03 04:10] #3821 closed, assigned to eed3si9n, cunei

[2018-01-03 04:12] eed3si9n commented on #3799
Could you define:

[code]

and see if that solve it plz?

[2018-01-03 04:15] eed3si9n commented on #3801
Fixed in https://github.com/sbt/sbt/pull/3805 etc.

[2018-01-03 04:15] #3801 closed, assigned to nobody

[2018-01-03 05:05] eed3si9n opened #3849 ""early(error)" and "-error" do not suppress startup logs"
## steps

1. Use sbt 1.1.0-RC4
2. Run `sbt -error` or `sbt "early(error)"`

## problem

[code]

## expectation

I do not see info level logs.

## notes

Originally #840

[2018-01-03 05:19] eed3si9n commented on #3793
@dvdalilue That's a separate issue - https://github.com/sbt/sbt/issues/3849

Note to a potential contributor:

`ConsoleAppender` https://github.com/sbt/util/blob/v1.1.2/internal/util-logging/src/main/scala/sbt/internal/util/ConsoleAppender.scala has `getTrace` and `setTrace` that tracks the trace level. `setTrace` is currently not called in sbt 1.

https://github.com/sbt/sbt/blob/fd8b4224889fae96f

[2018-01-03 07:02] eed3si9n commented on #3773
A note to potential contributor:

It would be good to provide a setting that can globally opt out of eviction warning during `update`. There's a setting already called `evictionWarningOptions in update`.

[code]

First step might be to change the project level to:

[code]

and add an assignment for the setting at global level.

Next, we could add `EvictionWarningOptions.summary` that tells the use

[2018-01-03 07:04] eed3si9n commented on #3769
A note to potential contributor: It's here https://github.com/sbt/sbt-launcher-package/blob/cb6bae6c4590a42c92d8c5c93c4b98fcf6322955/src/universal/bin/sbt-launch-lib.bash#L183

[2018-01-03 07:08] eed3si9n commented on #3764
This might now be fixed by https://github.com/sbt/zinc/pull/473.
Could you test using sbt 1.1.0-RC4 plz?

[2018-01-03 08:51] deblockt commented on #3844
Yes, It's works, thanks.

Maybe add this information on documentation.
And, if we run sbt on an existing project, why sbt don't use `credentials` defined on `build.sbt`?

Why sbt don't use `$HOME/.sbt/0.13/plugins/credentials.sbt` file?

[2018-01-03 15:05] eed3si9n commented on #3844
I think it needs to be documented too, so I added the Documentation tag.

The problem is that to parse `build.sbt` you need `sbt.jar`, which we download using the launcher JAR, which needs your proxy information.

[2018-01-03 15:43] drxcc commented on #3821
Thanks, I can confirm that RC4 fixed the windows NGWin32NamedPipeLibrary I was seeing (and RC3 did not).

[2018-01-03 15:45] eed3si9n commented on #3821
Awesome. Thanks for the confirmation.

[2018-01-03 16:36] #3757 closed, assigned to dwijnand

[2018-01-03 17:54] jastice opened #3850 "unexpected initialization order of settings overridden in source dependencies"
Overriding settings of a source dependency build seems to happen in the wrong order.
When a source dependency explicitly defines a setting, it is not possible to override it from the build.sbt of the project consuming the dependency.

## steps

Clone project: https://github.com/jastice/buildref1
This project contains the main project `buildref1` which depends on another project `buildref2`.
`build

[2018-01-03 18:48] ches commented on #3842
Yep, looking much better in 1.1.0-RC4:

[code]

[2018-01-03 19:59] eed3si9n commented on #3842
Thanks for the confirmation. I am going to close this as resolved.

[2018-01-03 19:59] #3842 closed, assigned to nobody

[2018-01-03 20:08] eed3si9n commented on #580
I am going to close this for now. Let me know if the problem is still there on the latest sbt 1.

[2018-01-03 20:08] #580 closed, assigned to nobody

[2018-01-03 20:18] #2877 closed, assigned to nobody

[2018-01-03 20:56] eed3si9n commented on #2860
`set` and `show` can accept slash syntax using sbt 1.1.0-RC4:

[code]

or `root/Zero/scalacOptions` if you want to capture `*:scalacOptions`.

Ref https://github.com/sbt/sbt/pull/3434

[2018-01-03 20:56] #2860 closed, assigned to nobody

[2018-01-03 21:08] devshorts commented on #3799
@eed3si9n wow, that worked. Thank you!!

[2018-01-03 21:25] eed3si9n commented on #2861
I am not sure if this is a confirmed bug, but it's unlikely to be fixed by us if it's something to do with parent POM handling.

[2018-01-03 21:25] #2861 closed, assigned to nobody

[2018-01-03 21:35] eed3si9n commented on #2865
Not sure what the actual reported issue is here. Let me know if this is still a problem on the latest sbt 1.

[2018-01-03 21:35] #2865 closed, assigned to nobody

[2018-01-03 21:46] eed3si9n commented on #2869
As of sbt 0.13.12, sbt will align Scala versions to whatever specified in `scalaVersion`.
I am closing this for now as resolved.

Ref https://github.com/sbt/sbt/pull/2634

[2018-01-03 21:46] #2869 closed, assigned to nobody

[2018-01-03 22:03] eed3si9n commented on #2890
Yes. Ivy configuration names are lowercase (and hyphenated) like `it` for `IntegrationTest`, and `compile-internal`.

[2018-01-03 23:09] eed3si9n commented on #3000
This was fixed in https://github.com/sbt/sbt/pull/3602

[2018-01-03 23:09] #3000 closed, assigned to nobody

[2018-01-03 23:38] eed3si9n commented on #3038
Looks like it's fixed. In sbt 0.13.16:

[code]

sbt 1.1.0-RC4:

[code]

I wonder if it got fixed as part of https://github.com/sbt/sbt/pull/3133

[2018-01-03 23:38] #3038 closed, assigned to nobody

[2018-01-04 01:47] eed3si9n commented on #3799
I'll close this as resolved since there's #3844 already to track for documentation.

[2018-01-04 01:47] #3799 closed, assigned to nobody

[2018-01-04 04:57] eed3si9n commented on #3006
Yes, the user-global settings affect the metabuild. The following could be used as a workaround:

[code]

[2018-01-04 04:57] #3006 closed, assigned to nobody

[2018-01-04 05:03] eed3si9n commented on #3021
I am going to close this for now as invalid.

[2018-01-04 05:03] #3021 closed, assigned to nobody

[2018-01-04 07:38] eed3si9n commented on #3128
Reported it to upstream - https://github.com/jline/jline2/issues/286

[2018-01-04 07:50] eed3si9n commented on #3170
@cunei found that parsing was not thread safe (https://github.com/sbt/sbt/pull/3743) since apparently thread-safety can be opted in. We tried to opt-in in https://github.com/sbt/sbt/pull/3776, but we still saw errors, so went back to `synchronized` in https://github.com/sbt/sbt/pull/3802.

I'm hoping that was the main cause of non-deterministic failures, so I am going to close this for now.

[2018-01-04 07:50] #3170 closed, assigned to nobody

[2018-01-04 07:54] eed3si9n commented on #3175
I can't reproduce it on 1.1.0-RC4. Hopefully this was some early bug during the beta.

[2018-01-04 07:54] #3175 closed, assigned to nobody

[2018-01-04 08:10] eed3si9n commented on #3176
Using sbt 1.1.0-RC4, I can't reproduce this on Mac or Ubuntu using the (default) named pipe or TCP:

[code]

[2018-01-04 08:10] #3176 closed, assigned to nobody

[2018-01-04 10:08] eed3si9n commented on #3414
This was fixed in https://github.com/sbt/sbt-launcher-package/pull/177

[2018-01-04 10:08] #3414 closed, assigned to nobody

[2018-01-04 10:44] eed3si9n commented on #3423
Closing this for now since sbt 1 is served from Maven Central.

[2018-01-04 10:44] #3423 closed, assigned to nobody

[2018-01-04 11:19] dwijnand commented on #3773
I don't understand what you mean, the code block looks like a circular definition.

[2018-01-04 12:14] Zuchos commented on #3819
Same issue with macOS 10.12.6 (16G1114)

[2018-01-04 13:00] jastice commented on #3850
Workaround for the moment: define `onLoad in Global` to modify the settings after loading. It requires a flag to avoid an infinite recursion because modifying settings will re-trigger onLoad and will recalculate settings, which makes the whole load a little slower, so it's a rather unsatisfactory workaround.

Looks a bit like this:
[code]

[2018-01-04 14:36] diraol opened #3851 "sbt-spark-submit plugin already migrated?"
On the [wiki documentation page about plugins migration](https://github.com/sbt/sbt/wiki/sbt-1.x-plugin-migration) the 'saurfang/sbt-spark-submit' plugin is marked as 'in progress', but it seems that the plugin has already been migrated (based on the reference link).

Is this right? Can the page be updated?

[2018-01-04 14:46] dwijnand commented on #3851
Looks like the PR was merged, but there is no release for sbt 1: https://repo.scala-sbt.org/scalasbt/sbt-plugin-releases/com.github.saurfang/sbt-spark-submit/

[2018-01-04 14:46] #3851 closed, assigned to nobody

[2018-01-04 17:30] jastice commented on #3850
Furthermore, changing settings in `onLoad` can break the `apply` command.
For example, using a command sequence like this:
`;apply -cp someSettings.jar AddSomeCommand; someCommand`
will apply the settings from `AddSomeCommand`, which causes `onLoad` to trigger again, which will in turn effectively *remove* the new settings, thus `someCommand` will fail.

Not sure if this is bug or as expected? Not

[2018-01-05 11:29] dwijnand commented on #3850
Yeah I was talking to a colleague about how the API around `Extracted#append` and `SessionSettings` is confusing, unclear and under-documented.. He was hitting effectively the same issue around using `+` and `Extracted#append`.

[2018-01-05 11:49] jastice commented on #3850
Any workaround to this? I tried to do it as in sbt-structure and use `appendRaw`:
[code]

This doesn't break the other commands added by sbt-structure, but it also doesn't seem to modify the source dependency's settings correctly. So basically I am out of ideas how to modify the dependency build and still have things work.

[2018-01-05 14:25] dwijnand commented on #3850
I've not spent any time trying to figure out how to make everything as expected.

[2018-01-05 21:42] philwalk commented on #3769
Thanks, sorry for the noise.   I guess the alternate launcher is not part of this project, so I'm not sure how I ended up using the alternate launcher in order to encounter the problem.

[2018-01-05 21:42] #3769 closed, assigned to nobody

[2018-01-05 22:15] He-Pin opened #3853 "add project name [tab] autocomplete"
(See the guidelines for contributing, linked above)

## steps

![image](https://user-images.githubusercontent.com/501740/34630858-d0ed747a-f2a8-11e7-84d5-7a35ee3c1fc6.png)

press [tab]

## problem

want to auto complete with `akka-*`

## expectation

## notes

sbt version: 1.1.0

[2018-01-05 22:22] He-Pin commented on #3853
bug of IDEA's sbt-shell

[2018-01-05 22:22] #3853 closed, assigned to nobody

[2018-01-06 17:08] BassirouRabo opened #3856 "I tried to install sbt on high sierra,"
## steps
I have installed the build tool using : "brew install sbt" , after that i tried to run the sbt on "./.brew/Cellar/sbt/1.1.0/bin/sbt

## problem

[code]

## expectation

## notes

sbt version: *1.1*

[2018-01-06 21:28] simlei commented on #3841
@paulp @eed3si9n Please keep this thread updated if there is news on that; for me, too, the abovementioned fix is working just up to the point that my terminal basically stops working after exiting the REPL.
Awesome feature though, this project console, and thank you for posting the fix in the first place!

[2018-01-06 21:31] paulp commented on #3841
Presumably the call to init discards a shutdown hook which formerly restored echo. For now you can do it manually with stty echo or maybe stty sane.

[2018-01-06 21:44] eed3si9n commented on #3841
[code]

Yea. Everything you init needs to be cleanup afterwards. Call `restore`, confirm that your tab no longer works again, and `:q`.

[2018-01-06 21:46] eed3si9n commented on #3804
sbt 1.1.0 uses the latest launcher package so this should be fixed now.

[2018-01-06 21:46] #3804 closed, assigned to nobody

[2018-01-06 22:22] eed3si9n commented on #3856
I can't reproduce this problem on my machine.
What do you see when you type `java -version`?

[code]

[2018-01-06 22:36] BassirouRabo commented on #3856
java version "1.8.0_112"
Java(TM) SE Runtime Environment (build 1.8.0_112-b16)
Java HotSpot(TM) 64-Bit Server VM (build 25.112-b16, mixed mode)

[2018-01-06 23:50] simlei commented on #3841
Nice. If this is tackled in the future, I just want to put on the record that `consoleProject` is affected the same way as `console` (the reason I'm here)

[2018-01-07 00:29] paulp commented on #3841
Is there an easy user-level wrapper strategy console sessions? E.g. there would be something along the lines of (in sbt)
[code]
Where `initConsole` and `cleanupConsole` hook into keys I can influence somewhere in `~/.sbt`. I feel like this sort of thing is done for some subset of useful tasks in a number of ways, and the thought of researching it makes me immediately want to give up, so for a chan

[2018-01-07 01:14] paulp commented on #3841
I guess the initialCommands in user.sbt are run after the ones in the build's sbt, at least in 1.1.0, at least so it seems from here, because I can use `:=` in the build.sbt and `+=` in the user sbt and everything gets there. Though this means I can't get out in front of the build's initialCommands with my global wrapper, not that it matters here.

It is odd that

- sbt 0.12 looks in ~/.sbt/0.12
-

[2018-01-07 01:15] eed3si9n commented on #3841
If you don't mind using some other name, then

[code]

If we want to take over existing key, something like this could work

[code]

See also http://www.scala-sbt.org/1.x/docs/Howto-Sequencing.html

[2018-01-07 01:17] paulp commented on #3841
If I wanted the wrapper to run on all the consoles and consoleProjects in Test and Compile, is there any way to avoid injecting the same splodge of code for each?

[2018-01-07 01:23] paulp commented on #3841
I confirm that placing into `~/.sbt/1.0/user.sbt` the incantation
[code]
provides `sbt console` with working tab completion and the resumption of echo upon exit for those projects I have since sampled.

Thanks @eed3si9n !

[2018-01-07 01:26] xuwei-k opened #3857 "state.contra does not specify @codecPackage annotation"
## steps

https://github.com/sbt/sbt/blob/f2f44c738c605aa1cc12ac8c153dcb92bfd5e2aa/main-command/src/main/contraband/state.contra#L1-L4

## problem

some generated sjsonnew Formats classes does not have package.

- https://github.com/sbt/sbt/blob/f2f44c738c605aa1cc12ac8c153dcb92bfd5e2aa/main-command/src/main/contraband-scala/ExecFormats.scala#L1-L7

- https://github.com/sbt/sbt/blob/f2f44c738c605aa

[2018-01-07 02:49] eed3si9n commented on #3841
I think you do need to inject those for each, but you can do this:

[code]

Note that this injection would work only for the root project, so you might end up with an AutoPlugin if you want subproject handling as well.

[2018-01-07 02:54] eed3si9n commented on #3856
Are you working on a shared drive? https://bugs.openjdk.java.net/browse/JDK-8193594

[2018-01-07 09:10] simlei commented on #3841
@eed3si9n @paulp wow, lots of thanks for the tinkering & workarounds. consoleProject massively improves my current project and this workaround was important to show it to people and not give the impression of hacked-together stuff ;))

I tried it also with ``initialCommands in console`` but did not get very far as I wasn't able to find a shutdown hook for the terminal.

[2018-01-07 13:54] 2m commented on #3850
Interesting. I tried `appendRaw` and `reapply` and it worked for my use case which is a command that overrides a setting. So when cross-running that command the `scalaVersion` was not reset (contrary to when I was using `Extracted#append`).

I also found that with `appendRaw` I was able to override a setting from `Global` scope but not from `ThisBuild`. And it was another way around when using `Ex

[2018-01-07 15:26] roy41221 commented on #2522
NEED HELP !

root@kali:~# apt -get update
**E: Command line option 'g' [from -get] is not understood in combination with the other options.**

whenever i try that, this happens.

[2018-01-07 15:29] eed3si9n commented on #2522
See http://www.scala-sbt.org/1.x/docs/Installing-sbt-on-Linux.html

[code]

[2018-01-07 15:29] jodersky commented on #2522
@roy41221 there's no space in "apt-get"

[2018-01-08 00:41] paulp opened #3858 "sbt 1.1.0 considers itself a member of the sbt 1.0 universe"
## problem

- sbt 0.12 looks in ~/.sbt/0.12
- sbt 0.13 looks in ~/.sbt/0.13
- sbt 1.0 looks in ~/.sbt/1.0
- sbt 1.1 still looks in ~/.sbt/1.0

## expectation

Consistency. Previously, changes in the minor version had a meaning which sbt 1.1.0 is violating. As best I can tell from the release notes this is intentional, but if it is intentional, it is not explained or motivated. And I'm not sure it'

[2018-01-08 00:58] eed3si9n commented on #3858
It's intentional. sbt 1.x adopts Semantic Versioning.

The English word binary is confusing because it means both "of two thing" and "your JAR is swappable". Until 1.1, both meanings lined up because there was a convention of using the first two segments of the full version number to signify binary-as-in-swap-JAR compatibility.

Because of Semantic Versioning, bincompat is now denoted only by the

[2018-01-08 08:09] Atry commented on #2814
Similar to #2686

[2018-01-08 09:50] Sciss opened #3859 "initialCommands in console breaks interpreter when using nested imports"
(See the guidelines for contributing, linked above)

## steps

Contents of `project/build.properties`:

    sbt.version=1.1.0

Problem does _not happen_ when using `0.13.16`.

Contents of `./build.sbt`:

[code]

From terminal: `sbt console`

## problem

The interpreter breaks when executing the imports:

[code]

## expectation

The interpreter should start correctly and not crash and exit. (Workar

[2018-01-08 11:24] dwijnand commented on #3841
@paulp

1.0 is the binary API for the whole 1.x series. In retrospect I should've made it "1.x" (and properly dealt with the existing `(Int, Int)` type signature) instead of "1.0". My bad.

[2018-01-08 11:28] dwijnand commented on #3858
As Eugene said, 1.0 is the binary API for the whole 1.x series. In retrospect I should've made it "1.x" (and properly dealt with the existing (Int, Int) type signature) instead of "1.0". My bad.

I'm happy to keep this issue open to see how we can better communicate this now.

[2018-01-08 11:31] dwijnand commented on #3769
Fixed in https://github.com/sbt/sbt-launcher-package/pull/205.

[2018-01-08 11:34] dwijnand commented on #3850
![fuck this shit gif](http://i0.kym-cdn.com/photos/images/original/000/385/009/23e.gif)

[2018-01-08 14:54] francisdb opened #3860 "sbt 1.1.x watch (~) thread leak causing high cpu use"
sbt version: 1.1.0/1.1.1
MacOS 10.13.2
java version "1.8.0_152"
Java(TM) SE Runtime Environment (build 1.8.0_152-b16)
Java HotSpot(TM) 64-Bit Server VM (build 25.152-b16, mixed mode)

We have a big project (40 subprojects)

## steps

[code]
(on the root project or even on a subproject)

## problem

cpu use goes up a percentage on every `~compile` and does not go down after `[enter]`, in the end al

[2018-01-08 15:00] francisdb commented on #3860
This shows the thread buildup

![image](https://user-images.githubusercontent.com/161305/34676406-013d06b4-f48d-11e7-804c-b9c519918f2b.png)

<img width="1084" alt="image" src="https://user-images.githubusercontent.com/161305/34676433-12cf8be0-f48d-11e7-8aaa-7c1ade12d2d5.png">

[2018-01-08 15:02] jastice commented on #3819
I did a little testing:
* did not reproduce with sbt 1.1.0, macOS 10.13.2 and IntelliJ 2017.3.3 EAP
* sort-of reproduced (worked only some of the time) with sbt 1.0.4, macOS 10.13.2 and IntelliJ 2017.3.3 EAP
* fully reproduced with sbt 1.1.0, Windows 10, IntelliJ 2017.3.3 EAP

I noticed that IntelliJ updates the `Birth` field in the file modifications, while other editors do not:
[code]

Not sure

[2018-01-08 15:05] francisdb commented on #3820
Closing this for now as I have yet to see it on 1.1.0 final

[2018-01-08 15:05] #3820 closed, assigned to nobody

[2018-01-08 23:09] olafurpg commented on #3860
Have you tried using another file watcher? I had the same problems in sbt 1.0 until I enabled https://github.com/swoval/MacOSXWatchService globally, been smooth sailing since. I wish sbt 1.0 came bundled with a better macos file watcher by default, it was pretty much unusable without MacOSXWatchService for me.

[2018-01-08 23:13] olafurpg opened #3861 "sbt server responds with string id for requests with number id"
## steps
- Connect to sbt server
- Send request with number id

[code]

## problem
Observe that the id is `3` in the request and `"3"` in the response.

## expectation
I expected the response id to be `3` like in the request. The server should respond with the same json as in the request id.

## notes
A workaround is to try and parse the response as a number and see if you sent an active request w

[2018-01-08 23:18] olafurpg opened #3862 "active.json should be removed on sbt shell exit"
## steps
[code]

## problem

The `active.json` file still exists after exiting the sbt shell. The existence of the file should indicate that sbt server is listening on that socket but the server has exited and is no longer listening. This makes it harder for clients to know if sbt server is actually listening on that socket, the only way to find out is to try and connect and check for "Connection

[2018-01-08 23:36] olafurpg opened #3863 "sbt/exec should send respond to request"
## steps
Send `sbt/exec` command following the steps described in https://developer.lightbend.com/blog/2017-11-30-sbt-1-1-0-RC1-sbt-server/?final?final

## problem

The sbt server never responds to request number 2.
[code]
According to the json rpc specification, every request should have a response. By not responding the request, the client will keep an open request hanging forever.

## expectati

[2018-01-09 00:54] eatkins commented on #3860
I think this is related to my outstanding PR: https://github.com/sbt/sbt/pull/3790.

[2018-01-09 07:48] francisdb commented on #3860
@olafurpg have been using that one before, just gave it another try but still issues for me.

[2018-01-09 08:04] francisdb commented on #3860
@eatkins any chance you could give that thread a proper name?

[2018-01-09 09:44] limansky commented on #3788
@eed3si9n @xuwei-k  What about examples in documentation? http://www.scala-sbt.org/1.x/docs/Custom-Settings.html
[code]

 It looks like they are not valid anymore.

[2018-01-09 09:47] limansky commented on #3788
Oh, I see. `settingKey` shall be lowercased.

[2018-01-09 14:32] dwijnand commented on #3784
Fixed in (upcoming - currently RC1) 0.13.17, with https://github.com/sbt/sbt/pull/3855 merged.

[2018-01-09 14:32] #3784 closed, assigned to eed3si9n

[2018-01-09 14:46] #3593 closed, assigned to nobody

[2018-01-09 21:37] michaelahlers commented on #3432
Ran into this as well. Used [workaround documented](https://github.com/sbt/sbt-native-packager/issues/1063#issuecomment-343836338) at sbt/sbt-native-packager#1063.

[2018-01-10 01:00] eatkins commented on #3860
Sure, all plugin created threads in version 1.2.0-RC3 of MacOSXWatchService should have names.

[2018-01-10 07:44] francisdb commented on #3860
sbt `1.1.0` is again usable for me with MacOSXWatchService `1.2.0-RC3`, looking forward to this being fixed in sbt `1.1.1`

(also confirming visualvm shows a single named thread)

[2018-01-10 20:28] eed3si9n opened #3868 "sbt 1 triggered execution (file watch, ~, tilde) epic"
This is an epic issue to track various triggered execution (file watch, ~, tilde) related issues.
**If you're having issues with triggered execution and you do not see it here, please open a new issue.**

- watchSources is redundant and not precise #3718
- Incremental compiler crashes because of open file handles #3497
- watchSources should watch the entire directory #3369
- <s>~ is not triggering

[2018-01-10 21:35] eed3si9n opened #3869 "triggered execution (file watch) should print debug log of the changed files"
## steps

1. `~` causes infinite compilation loop.

## problem

We'd like to know which file got changed, but we can't because `WatchState#sources` is private.

## expectation

`~` should print changed files in debug level.

[2018-01-10 21:36] eed3si9n commented on #3869
Note to a potential contributor:

Probably add stuff here:

https://github.com/sbt/sbt/blob/v1.1.0/main-command/src/main/scala/sbt/Watched.scala#L100-L101

[code]

[2018-01-10 21:57] Starofall opened #3870 "SBT project loading extremly slow"
Coming from SBT 0.13 I switched to the current version of SBT.

I started SBT and waited over 60 min+ for SBT finish loading the project... and it still did not open it.

I tried to look into the process with VisualVM and it showed my that "computeHashCode" is running all the time.
![image](https://user-images.githubusercontent.com/5400076/34797632-53015234-f659-11e7-9e22-23a9ac20bc16.png)

The co

[2018-01-10 22:36] avkonst commented on #3737
It seems this issue appeared for me after I upgraded to sbt 1.x version... It was all good with 0.13.x version

[2018-01-11 04:35] eatkins commented on #3868
I have a few clarifying comments:
1) MacOSXWatchService no longer uses directory-watcher but is still Apache v2 at the moment. I wrote all of the code and would be happy to downgrade to a more permissive license if that would be useful for the community.
2) Out of the box, MacOSXWatchService completely replaces the ~ command with a different implementation. In my experience it doesn't suffer from

[2018-01-11 08:26] dwijnand commented on #3869
Not it'll be in this if block: https://github.com/sbt/io/blob/v1.1.3/io/src/main/scala/sbt/internal/io/SourceModificationWatch.scala#L58

[2018-01-11 08:41] sarahgerweck opened #3871 "SBT Assembly fails on Windows 10 with error 3"
Updating my project to SBT 1.1.0 reliably produces the following error on Windows 10 Pro (version 10.0.16299). I'm running SBT directly in a Windows shell (not through Cygwin).

I'm running `sbt assembly` using the SBT Assembly 0.14.6 plugin, but this error doesn't actually seem to be inside the SBT assembly plugin. Switching back to SBT 1.0.4 in my `build.properties` fixes the issue, holding ever

[2018-01-11 09:08] dwijnand commented on #3871
Hi @sarahgerweck could you provide a bit more stack please so we know who is calling `IO.writeZip`. Thanks.

[2018-01-11 10:22] sarahgerweck commented on #3871
@dwijnand My apologies: it looked like that would probably be enough. Here's the entire error message (as well as the immediately preceding messages).

[code]

If the issue is not clear from just the stack, I'm happy to provide more information or try to produce a non-proprietary version of the project that I can share. (I would probably need to produce a non-proprietary version to share the full

[2018-01-11 10:33] dwijnand commented on #3871
Thank you @sarahgerweck.

For some context WinMilli (and MilliNative/Milli) is newly added in sbt 1.1 to help mitigate the jdk on some platforms rounding file times to full seconds. This interacts badly with `~` (tilde), so Toni (@cunei) worked on implementing native code for each platform.

Toni, does that looks like enough information to reproduce?

[2018-01-11 10:36] optician commented on #3871
I've got the same issue. If it would be needed I can try to implement minimal example or provide some logs.

[2018-01-11 22:56] ryan-williams commented on #3656
Having this issue too; [the recommended way of running scripted tests](http://www.scala-sbt.org/1.x/docs/Testing-sbt-plugins.html#step+2%3A+scripted-plugin) requires settings which can't be set for all modules in a project.

A related question is whether the default value of `scriptedLaunchOpts` and `scriptedBufferLog ` should just be set to the values suggested in that tutorial… are those default

[2018-01-12 01:00] ryan-williams commented on #3656
I suppose there is always [this work-around that I recently learned from @2m on gitter](https://gitter.im/sbt/sbt?at=5a4f94e3232e79134dccf1fa):

`project/Scripted.scala`:

[code]

which in general is a good way to set default settings in multi-module projects where some upstream plugin is setting a non-`Global` default that's not overridden by `in ThisBuild`

[2018-01-12 05:24] #3666 closed, assigned to nobody

[2018-01-12 06:15] eed3si9n commented on #3871
The workaround to disabling the use of the native timestamp is `-Dsbt.io.jdktimestamps=true`.

[2018-01-12 09:57] cunei commented on #3871
I'm trying to reproduce using `sbt assembly`, I will report soon if I cannot recreate the error. Thanks for reporting!...

[2018-01-12 10:41] cunei commented on #3871
OK, I'm unable to reproduce using `sbt assembly` directly. However, the error reported is 3, which in Windows parlance is:
[code]
The WinMilli error handling should display a better error message, but in this case what probably happens is:
* `sbt-assembly` tries to get the modification time of a non-existing file, in the sense that the whole path does not exist.
* WinMilli should detect that the f

[2018-01-12 10:50] jvican commented on #3850
FTR, I've also stumbled upon this, and I solved it my way. In my opinion, source dependencies are fundamentally broken until this ticket is fixed. This is probably my biggest gripe with sbt at the moment.

I worked around this issue one month ago in bloop: https://github.com/scalacenter/bloop/blob/master/project/BuildPlugin.scala#L165-L195. It handles session settings correctly, and it also fixes

[2018-01-12 10:52] dwijnand commented on #3656
My guess is this is the status quo because generally sbt plugins are single project builds. Happy to accept a PR to change this.

[2018-01-12 10:55] jvican commented on #3850
For those hitting on this issue too, I recommend that `set` is used instead of the state API directly. I think this solution is simpler than interfacing with the state API directly. If someone just wants to change the scala version of a sourcedep, something like this would work:

[code]

Remember that `set` can redefine several settings and tasks in only one command by wrapping what follows set wi

[2018-01-12 11:14] #3871 closed, assigned to nobody

[2018-01-12 11:25] andrii-kovalenko-ct opened #3873 "sbt doesn't work if `$GREP_OPTIONS` environment variable is set with `--color=always` value"
When environment variable `$GREP_OPTIONS=--color=always`

## steps

set environment variable:
[code]

## problem

any `sbt` command fails with message:

## expectation

`sbt` script should be independent from user's environment variables (besides specific java and sbt related options)

## notes

  - `$ unset GREP_OPTIONS` fixes issue immediately
  - `$PATH`, `$JAVA_HOME` are set to proper location

[2018-01-12 11:27] andrii-kovalenko-ct commented on #3873
see also suffering people:
https://stackoverflow.com/a/47247154/907576
https://stackoverflow.com/a/47180447/907576

[2018-01-12 11:58] dwijnand commented on #3873
For any contributor the issue is probably in one (or multiple) of these `grep` invocations: https://github.com/sbt/sbt-launcher-package/search?utf8=%E2%9C%93&q=grep&type=

[2018-01-12 12:18] andrii-kovalenko-ct commented on #3873
i'm pretty sure it is this line:

[code]

https://github.com/sbt/sbt-launcher-package/blob/a8b7b5a0603a44a691a18347cd85f659d94ac3ae/src/universal/bin/sbt-launch-lib.bash#L183

though not sure what is it best way to fix?
  - unset `GREP_OPTIONS` for the script?
  - call `grep` with explicitly specified _pure_ mode (if possible at all)?

[2018-01-12 12:21] dwijnand commented on #3873
Call grep with a temporary override for `GREP_OPTIONS`:

[code]

[2018-01-12 12:26] dwijnand commented on #3873
[code]

[2018-01-12 13:20] cunei commented on #3873
Please note that `GREP_OPTIONS` is deprecated. The current advice is to define an alias, which would not work with this workaround.
[code]
However, you can alter the sed expression in order to cater for the possibly inserted ANSI code:
[code]
That works because the highlight reset code does not contain digits:
[code]

[2018-01-12 13:37] andrii-kovalenko-ct commented on #3873
as i know, aliases don't affect calls from scripts. So, guess call _pure_ `grep` is safe enough if we are ensure `GREP_OPTIONS` is not set (unless the grep behavior is changed in the future)

[2018-01-12 13:44] dwijnand commented on #3873
Even if aliases are an issue you can avoid them with `command grep`.

[2018-01-12 13:44] andrii-kovalenko-ct commented on #3873
maybe it has sense to define local grep alias in the script itself? smth like:

[code]

[2018-01-12 13:47] andrii-kovalenko-ct commented on #3873
BTW, do we really need `grep`? Isn't it enough to rely only on `sed`?

[code]

This works for me.

Guess `java -version` output is simple enough to avoid "filter only one line" before redirecting output to `sed`.

WDYT?

[2018-01-12 13:48] cunei commented on #3873
Aliases do not, but scripts on the path do. To be precise, modern versions of grep say:
[code]
So, redefining grep locally with an alias won't work. Observe:
[code]

Thumbs up for removing `grep` from the equation. :+1:

[2018-01-12 13:49] dwijnand commented on #3873
ME too. 👍

[2018-01-12 15:59] dwijnand commented on #3860
Fixed with https://github.com/sbt/sbt/pull/3790?

[2018-01-12 16:10] francisdb commented on #3860
How do I test a snapshot of sbt?

[2018-01-12 16:12] dwijnand commented on #3860
If you use sbt-extras just `publishLocal` and then change `sbt.version` to whatever the version is.

[2018-01-12 16:39] francisdb commented on #3860
Yes the thread leak seems to be fixed.
But
 * The thread name is still `Thread-xxx`
 * When idle with `~compile` I see a lot more CPU activity (~10%) than when using MacOSXWatchService (~1%)

[2018-01-12 17:25] cunei opened #3874 ""node" is called "nodejs" on ubuntu, hence the build fails"
## steps
Compile sbt on a plain Ubuntu box with `nodejs` installed. Compilation fails at:
[code]

## problem
"Because of a conflict with another package, the executable from the Ubuntu repositories is called nodejs instead of node . Keep this in mind as you are running software."

## expectation
sbt compiles.

## notes
The offending line is in `vscode-sbt-scala/client/package.json`.
The code shoul

[2018-01-12 19:45] eed3si9n commented on #3862
Yes. The intent was to remove the file.

[2018-01-12 20:50] radistao commented on #3873
should we fix also other places? Literally:

  - do we really need [replace line endings](https://github.com/sbt/sbt-launcher-package/blob/a8b7b5a0603a44a691a18347cd85f659d94ac3ae/src/universal/bin/sbt-launch-lib.bash#L183) `tr '\r' '\n'`. Guess in this certain case line ending doesn't have much difference.

 - would color output affect [copyRt()](https://github.com/sbt/sbt-launcher-package/blob/a

[2018-01-12 20:58] radistao commented on #3873
Hm, looks like that `grep` was added by purpose:

https://github.com/sbt/sbt-launcher-package/issues/170
https://github.com/sbt/sbt-launcher-package/pull/172
https://github.com/sbt/sbt-launcher-package/commit/c487e3166e5decfa2463a1155f216de7de217ee9

[2018-01-12 22:54] smarter commented on #3858
Surely it's not too late to make sbt understand "1.x" to mean exactly the same thing as "1.0" ? I'm afraid no amount of documentation is going to prevent this from confusing people until the end of times.

[2018-01-13 02:23] sarahgerweck commented on #3871
It's fantastic to see this fixed quickly. I have two questions:
  1. Is there an easy way for me to test this out by tweaking my build properties? (And would it be helpful?)
  1. Will we see 1.1.1 soon? It's not the end of the world, but I'm definitely stuck on 1.0.4 until this is fixed. (Doing a command-line workaround isn't really an option for me.)

[2018-01-13 14:04] poweihuang17 opened #3877 "On Mac: Exception in thread "main" java.lang.IncompatibleClassChangeError"
(See the guidelines for contributing, linked above)

## steps
homebrew install sbt (downloaded sbt-1.1.0)
sbt

## problem
When I typed
sbt
It shows:
Exception in thread "main" java.lang.IncompatibleClassChangeError: Expected static method scala.Predef$.refArrayOps([Ljava/lang/Object;)Lscala/collection/mutable/ArrayOps;
	at xsbt.boot.Boot$.main(Boot.scala:11)
	at xsbt.boot.Boot.main(Boot.scala)

##

[2018-01-13 14:57] er1c commented on #3871
Happy to see this issue is getting/got fixed, just ran into it today!

[2018-01-13 15:25] poweihuang17 commented on #3877
I've found the answer at here.
https://stackoverflow.com/questions/33807635/scala-sbt-throwing-incompatibleclasschangeerror-exception

[2018-01-13 15:25] #3877 closed, assigned to nobody

[2018-01-13 19:14] losvald commented on #3737
I can confirm this super-annoying issue, which started with SBT 1.x.

[2018-01-13 21:06] He-Pin opened #3878 "http://www.scala-sbt.org/ is not auto redirect to https://www.scala-sbt.org/"
It Should be redirected to  https://www.scala-sbt.org/ if I access http://www.scala-sbt.org/.

[2018-01-14 01:25] ryan-williams opened #3879 "All SBT plugins in Maven Central are missing maven-metadata.xml"
(See the guidelines for contributing, linked above)

## steps

Publish an SBT plugin to Maven Central, e.g. via Sonatype "releases" repository

## problem

No `maven-metadata.xml` file gets added tot he {group,artifact}-level folder, as happens with non-SBT-plugin libraries that get published.

## expectation

SBT plugins should get a `maven-metadata.xml` just like non-SBT-plugins

## notes

[repe

[2018-01-14 04:18] eed3si9n commented on #3879
AFAIK `maven-metadata.xml` is generated and maintained on the repo side (like Sonatype OSS).
I wouldn't be surprised that there's a problem with sbt plugins since our URL translation is a bit unusual. For instance, https://repo1.maven.org/maven2/org/hammerlab/sbt/maven_2.12_1.0/ says maven_2.12_1.0 but the artifactId is "maven."

[2018-01-14 10:32] hseeberger opened #3880 "sbt-1.1.0.deb missing from https://dl.bintray.com/sbt/debian"

[2018-01-14 12:49] durban opened #3881 "Advanced command example not working"
## steps

1. Try to use the ["Advanced command example"](http://www.scala-sbt.org/1.x/docs/Advanced-Command-Example.html) from the documentation.

## problem

`Load.reapply` doesn't work, because it's sbt-private (`sbt.internal.Load`).

## expectation

The example should work.

## notes

sbt version: 1.1.0

[2018-01-14 20:11] joan38 opened #3882 "StackOverflowError when compiling"
(See the guidelines for contributing, linked above)

## steps

It's quiet hard to provide steps to reprocuce as it happens in our private repo.

## problem

[code]

## expectation

Should just compile

## notes

sbt version: 1.1.0

[2018-01-14 22:20] eed3si9n commented on #3880
That's odd. Maybe I forgot to hit the publish button on Bintray.

[2018-01-14 22:25] eed3si9n commented on #3880
The files are republished - https://bintray.com/sbt/debian/sbt/1.1.0#files

[2018-01-14 22:25] #3880 closed, assigned to nobody

[2018-01-14 22:47] ryan-williams commented on #3879
is what you mean that the directory structure says `maven_2.12_1.0`, but the files in the directory are just named e.g. `maven-<version>.pom`, instead of `maven_2.12_1.0-<version>.pom`?

that seems like a pretty good guess as to why the Maven repos aren't liking it, and I feel like it's mostly on our/SBT's side to fix.

is it important that the files not contain the `_2.12_1.0` bit?

also, the pub

[2018-01-15 00:55] SIkebe commented on #3696
I also have this problem.

@howardlinus @bignano

Could you tell me any link of this, please?

[2018-01-15 01:44] roman3017 commented on #3108
When running `apt update` on xenial:

[code]

[2018-01-15 03:11] dragisak opened #3883 "Debian installation fails: The repository 'https://dl.bintray.com/sbt/debian Release' is not signed"
`apt update ` fails on Ubuntu 17.10

    echo "deb https://dl.bintray.com/sbt/debian /" | sudo tee -a /etc/apt/sources.list.d/sbt.list
    deb https://dl.bintray.com/sbt/debian /
    sudo apt-key adv --keyserver hkp://keyserver.ubuntu.com:80 --recv 2EE0EA64E40A89B84B2DF73499E82A75642AC823
    Executing: /tmp/apt-key-gpghome.eBicDUYVIc/gpg.1.sh --keyserver hkp://keyserver.ubuntu.com:80 --recv 2EE0E

[2018-01-15 03:25] eed3si9n commented on #3108
I just recalculated the signature.

[2018-01-15 03:26] eed3si9n commented on #3883
Duplicate of https://github.com/sbt/sbt-launcher-package/issues/208.
It should be fixed now.

[2018-01-15 03:26] #3883 closed, assigned to nobody

[2018-01-15 05:28] roman3017 commented on #3108
@eed3si9n: It works now, thank you very much.

[2018-01-15 07:22] hseeberger commented on #3880
Thanks!

[2018-01-15 15:28] dwijnand commented on #3857
Yeah due to binary compatibility I think we're stuck with this.

I feel like the root cause is that contraband _allows_ this to be the case. I think you should have to opt into using the empty package if for whatever bizarre reason you want that.

[2018-01-15 15:46] dwijnand commented on #3882
This looks like a bug in the compiler rather than in sbt.

[2018-01-15 15:46] #3882 closed, assigned to nobody

[2018-01-16 09:51] Jaystified opened #3884 "Triggered execution mid-list of sequential commands does not work as expected"
## steps
In sbt console, do something along these lines:
`;taskA;~;taskB;taskC`

## problem
sbt hangs after finishing taskA until enter is pressed.

## expectation
Command is equivalent to
[code]

## notes
sbt version: 1.0.4

[2018-01-16 11:24] dwijnand commented on #3884
I see ambiguity in the expectation.

What looks like is happening is the `;` command in `;taskA;~;taskB;taskC` is eagerly interpreting the resulting `;` tokens for itself, so the `~` command instead of being `~;taskB;taskC` is simply `~`.

In a shell like bash you'd fix that with parens, perhaps `;taskA ;(~ ;taskB ;taskC)`. Perhaps parens support should be added to `;`?

As a side note perhaps `~`

[2018-01-16 11:37] cunei commented on #3871
Hi @sarahgerweck, the fix will be included in the next release but we don't have a date yet. You can try a 1.1.x snapshot, however:
1) Please add to your ` ~/.sbt/repositories` (or versioned equivalent) the line:
[code]
2) Then set the sbt version in project/build.properties to:
[code]
This is of course unstable and untested software; while it can be used to test this particular fix, it is not rec

[2018-01-16 14:21] dwijnand opened #3886 "`session remove` could take negative numbers"
`help session` states for the `remove` command:

[code]

It would be nice if, for instance, `session remove -1` could remove the last session setting, a la Python.

[2018-01-16 14:23] dwijnand commented on #3886
Reading more ideas from https://stackoverflow.com/a/509295/463761 `session remove :-1` could mean "remove all but the last session setting".

[2018-01-16 16:37] note opened #3888 "`sbt new` does not clean up temporary `target` directory"
## steps

[code]

## problem

Creation works as expected but the command left `target` directory as leftover:

[code]

## expectation

`sbt` should create just a folder with new project and should not left any temporary directories.

Pure `g8` does not leave leftovers: (checked for version `0.10.0`).

[code]

## notes

sbt version: *1.1.0*

I did a little research regarding that ticket. In https:/

[2018-01-16 16:40] dwijnand commented on #3888
Duplicate of #2835.

[2018-01-16 16:40] #3888 closed, assigned to nobody

[2018-01-16 18:23] olafurpg opened #3890 "Make it possible for sbt plugins to register server handlers for custom JSON-RPC methods"
## problem
I have integrated with sbt server in my language server and managed to trigger compile on file save https://github.com/scalameta/metals/pull/170 I am very excited about the potential for using sbt server from an IDE to simplify the "Import project" step.

Would it be possible to give sbt plugins the ability to register handlers for custom JSON-RPC methods? Currently, sbt hardcodes a han

[2018-01-16 18:30] eed3si9n commented on #3890
I am on board with making sbt server more extensible, especially for experimenting with new feature proposals.

[2018-01-16 18:37] eed3si9n commented on #3702
I am going to close this since URI issue is handled, there's a separate issue for logging, and you seem to be working around the v2 v3 difference already.

[2018-01-16 18:37] #3702 closed, assigned to nobody

[2018-01-16 18:50] laughedelic commented on #3702
Sure. The plugin is kind of stuck with 1.1.0-M1 right now, but i'm going to update it in the next days to work with the final release of 1.1.0 :shipit:

[2018-01-16 19:42] note commented on #2835
I observed that `g8 scala/scala-seed.g8` there's no such issue. g8 version:

[code]

[2018-01-16 19:48] note commented on #2835
Ah, probably it does not matter as `target` is probably leftover from sbt itself (I guess that `g8` just creates temporary dir for cloned repo)

[2018-01-17 10:12] dwijnand commented on #3890
SGTM too.

My only concern is I'd like to try and keep the compatibility promises to some reasonable minimum, so we have flexibility to change the internal details of the server without breaking any server-extending plugins that will have been published.

[2018-01-17 10:20] olafurpg commented on #3890
I would be OK with no compatibility promises. Internal APIs are fine. Ideally, I'd like to see these methods handled in sbt server by default in the long term. I think a good first step towards that direction would be to allow quicker experimentation via sbt plugins.