[2021-01-16 10:57] adpi2 commented on #6080
Scala 3 support in sbt is ready to be tested by the users.

I close this issue. For any problem that is related to Scala 3 in sbt please open a new issue and ping me in it.

@eed3si9n can you plan a release for `1.5.0-M1`? A fresh `librarymanagement` version is also needed to have https://github.com/sbt/librarymanagement/pull/361.

[2021-01-16 10:57] #6080 closed, assigned to nobody

[2021-01-16 18:00] eed3si9n commented on #6080
Sounds good.

[2021-01-16 20:57] solarmosaic-kflorence commented on #3248
Just ran into this on SBT `1.4.4` and thought it was not very intuitive. I would expect the `.dependsOn` to get the appropriate dependencies published with `publishLocal`.

[2021-01-16 22:20] flomebul opened #6260 "Error in `sbt` startup shell in cygwin environment"
I use cygwin environment from years and scala in this environment as well. I just started to use sbt some month ago (with some difficulties I work arround).

After installation of version 1.4.5 I eventually found the first corrections I propose to allow (again) the use of sbt in cygwin.
The corrections is only for the startup shell script:
[code]
Hope this can help

[2021-01-17 05:34] eed3si9n commented on #6260
@flomebul Thanks. Could send a PR on this plz? The file is here - https://github.com/sbt/sbt-launcher-package/blob/master/src/universal/bin/sbt

[2021-01-17 15:30] gaeljw commented on #3804
I'm having the same error after upgrading Java from 8 to 11 but I'm on Linux (Fedora) and running sbt 1.4.

Everything works fine but this message at sbt startup:

[code]

[2021-01-17 20:05] #6260 closed, assigned to nobody

[2021-01-17 23:08] rustyx opened #6262 "sbt is not working under DCEVM 11"
## steps

1. Install [DCEVM 11](http://dcevm.github.io/)
1. Install `sbt`
1. Run `sbt` on any Scala project

## problem

[code]

[2021-01-17 23:14] eed3si9n commented on #6262
The sbt version is mainly determined by the version listed in `project/build.properties` file.
Could you make sure you bump it up to:

[code]

The stack trace listing Scala 2.10.6 makes me suspect you're running some old sbt 0.13 that doesn't have JDK 11 support at the Scala level.

[2021-01-17 23:27] rustyx commented on #6262
Thanks, it seems to work indeed.

There's just one stack trace logged, but `sbt` nevertheless appears to be working

[code]

[2021-01-17 23:27] #6262 closed, assigned to nobody

[2021-01-18 06:37] eed3si9n opened #6264 "[1.5.0-M1] ClassNotFoundException on doc task on Scala 3.0.0-M3"
## steps

Given a hello world project:

[code]

## problem

[code]

## expectation

it works.

[2021-01-18 08:41] adpi2 commented on #6264
Until scala3doc moves away from dokka, the solution is
[code]

[2021-01-18 16:52] eed3si9n commented on #6264
A ha. Thanks for the reminder. I wonder if it's possible to improve the error message at the point of resolving the Scala Instance?

[2021-01-18 16:53] adpi2 commented on #6264
Yeah sure I can do that

[2021-01-19 14:48] shuttie commented on #5943
@naderghanbari @bjaglin observed this exact issue on sbt 1.4.1, but it seems to be gone on latest stable 1.4.6.

[2021-01-19 16:12] philwalk commented on #5206
fwiw:  I was having this problem until I did the following:

[code]
Not sure which if any of these actions mattered, but I'm now past the problem.
command line sbt version: 1.4.5
project sbt version: 1.3.3

[2021-01-19 17:59] ngocdaothanh opened #6267 "Update https://www.scala-sbt.org/download.html about 1.4.6"
The latest version mentioned at https://www.scala-sbt.org/download.html
is still 1.4.5.

But 1.4.6 has been released:
https://github.com/sbt/sbt/releases

[2021-01-19 18:05] DestyNova commented on #5978
I've encountered this again when the `project/target/active.json` points to a sockfile for a crashed instance of SBT:
[code]
I checked the `~/.sbt/1.0/server` directory and found two "orphan" subdirectories between a week and 2 months old. I'm not sure what validation steps we should do when starting up `sbt -bsp`, but perhaps we can check if there is actually a running sbt server corresponding to

[2021-01-19 18:19] ngocdaothanh opened #6268 "Please release a new version for the Ctrl+C fix"
The latest version 1.4.6 doesn't contain this fix:
https://github.com/sbt/sbt/pull/6213

Please release a new version, because the exception displayed on Ctrl+C is very annoying:

[code]

[2021-01-19 18:28] tgodzik opened #6269 "Depending on specific dependency scala version will bring in wrong transitive dependency"
## steps

build.sbt:
[code]

## problem

mdoc_2.12.12 depends on mdoc-runtime_2.12.12, but it seems sbt (or rather I think coursier) tries to bring in `mdoc-runtime_2.12.11`

[code]

## expectation

Should compile and resolve proper transitive dependency.

## notes

Works with `ThisBuild / useCoursier := false`

[2021-01-19 22:39] eed3si9n commented on #6269
@tgodzik Thanks for the report! If you suspect this is a Coursier issue, could you report to coursier/coursier as well plz?

[2021-01-20 11:36] tgodzik commented on #6269
Reported here: https://github.com/coursier/coursier/issues/1950

[2021-01-20 14:13] shijunjing commented on #3956
I solve same problem by changing the "https" to "http" in the first step as below:
echo "deb http://dl.bintray.com/sbt/debian /" | sudo tee -a /etc/apt/sources.list.d/sbt.list

[2021-01-20 15:24] RomanIakovlev opened #6270 "Entries of Jar files built by sbt have zero timestamp"
## steps
To reproduce:
 * `sbt clean publishLocal` on any project, even an empty one,
 * `unzip -l ~/.ivy2/local/<group_name>/<name>/<version>/<name>.jar`
 * examine the timestamps of entries, they all are `1970-01-01 00:00`

To my best knowledge, this was introduced in sbt version `1.4.0` and applies to all the subsequent versions as well. The version `1.3.13` is the last one to produce the corre

[2021-01-20 16:59] fommil opened #6271 "sbt server does not stay up when sbtn is called from emacs"
## steps

run

[code]

twice from within emacs.

## problem

When called from Emacs the first server dies and the second call starts a new one.

## expectation

I expect the first invocation to start the server, and the second one to use it. This works as expected if called from a terminal emulator such as urxvt-unicode.

## notes

https://github.com/hvesalai/emacs-scala-mode/pull/165

[2021-01-20 17:01] eed3si9n commented on #6270
Thanks for the report!

This was done so intentionally in https://github.com/sbt/sbt/pull/5344. There's a duplicate issue https://github.com/sbt/sbt/issues/6235 to allow opt-out. One of the solutions discussed in https://github.com/sbt/sbt/pull/6237 is using the commit date. I'm going to close this as a duplicate.

[2021-01-20 17:01] #6270 closed, assigned to nobody

[2021-01-20 17:16] eed3si9n commented on #6271
@fommil Thanks for the report. I wonder if it's somehow failing to create a virtual terminal.

[2021-01-20 17:23] fommil commented on #6271
that might be the case, the TERM is usually set to `dumb` and there is the `INSIDE_EMACS` envvar that can be used to add special handling.

[2021-01-20 18:09] ches opened #6272 "Aggregated tasks try Configurations from wrong projects when crossScalaVersions are mixed"
(Triage: can be labelled `area/cross_building`)

Another stateful cross-building issue, everyone's favorite kind by now? 😅

This is somewhat like #5497 except a Configuration is tried that should not be, rather than a cross version.

## steps

Create a minimal build definition where projects differ in their `crossScalaVersions` and applied Configurations:

[code]

[code]

Or a variation where `sca

[2021-01-20 20:38] fommil commented on #6271
can you please point me at the code where it's trying to create the virtual terminal? From what I can tell, the server is started (I can see the socket in the .sbt folder), it just gets killed when the process ends. Is there maybe something funny going on where the daemon process is being attached? It's possible that emacs is spinning up a process to start the sbtn process and killing it when sbtn

[2021-01-20 21:24] eed3si9n commented on #6271
I am not actually super familiar with the underlying terminal IO stuff, but I think
- sbtn spawns sbt server as a background process
- sbtn sends a query to determine the terminal capability of the sbt server here - https://github.com/sbt/sbt/blob/c0e82677567ad7a6686ed8b60a93b556514d003b/main/src/main/scala/sbt/internal/server/NetworkChannel.scala#L741
- sbt server creates `sbt.internal.util.Termi

[2021-01-20 21:28] tdg5 opened #6273 "Control characters randomly appear in sbt console"
## steps

In my experience, all that is needed is to open a console, create a long line of text and use the keyboard arrows to move left and right. Eventually, some weird characters will start to get injected. All I'm doing is holding down left arrow or right arrow and `[C` and `[D` keep popping in out of nowhere.

![sbt-weird-chars](https://user-images.githubusercontent.com/2316989/105241535-d0d8

[2021-01-20 21:29] eed3si9n commented on #6271
sbtn process is meant to end, but sbt server process should persist in the background. Could it be possible that emacs somehow doesn't like that behavior and tries to kill it?

[2021-01-20 22:53] fommil commented on #6271
it looks like a lot of the emacs jline customisations @hvesalai added have been lost in sbt's Terminal layer. I think we'll need to add them here. Specifically I think we want ansi colours to be enabled but for the supershell to be disabled when INSIDE_EMACS is set.

I can't see where the spawning of the background process is controlled by the Terminal capabilities, perhaps @eatkins can say more o

[2021-01-20 23:45] eatkins commented on #6271
The server is forked by `sbtn` (or `sbt -client`) here: https://github.com/sbt/sbt/blob/844deab78c833b8f59e53051636d218658daa1bf/main-command/src/main/scala/sbt/internal/client/NetworkClient.scala#L340-L347 All of the terminal logic should live in https://github.com/sbt/sbt/blob/develop/internal/util-logging/src/main/scala/sbt/internal/util/Terminal.scala

The server is supposed to disconnect the

[2021-01-21 00:06] eed3si9n commented on #6273
@tdg5 Thanks for the report.

[2021-01-21 03:42] SethTisue opened #6274 "ScriptMain doesn't work with Scala 3"
[code]

fails with

[code]

one could argue that the root cause here is https://github.com/lampepfl/dotty/issues/10858 , but it's not clear to me that stripping the hash-bang line ought to be Dotty's responsibility

the status of `-Xscript` is also unclear: should Dotty support it, or should sbt not supply it when the Scala version is 3.x?

[2021-01-21 03:43] ngtrio commented on #5206
windows 10:
1.4.5 -> fine
1.4.6 -> reproduced

[2021-01-21 08:33] fommil commented on #6271
@eatkins I'll try to do some experiments. I think the issue might be with the way that Emacs spawns processes. It spins up a new process in a buffer and then when that process completes it considers it finished. I think it might be analagous to typing `sbtn compile` in a terminal window and then closing the terminal; would you expect the sbt server to still be running? I'm trying to think about it

[2021-01-21 08:37] hvesalai commented on #6271
https://www.emacswiki.org/emacs/PersistentProcesses

[2021-01-21 09:30] fommil commented on #6271
@hvesalai I think you've nailed it there. We need to use `nohup` on the Emacs side!

I'll send a PR to fix the ansi / colour / super issues.

[2021-01-21 09:35] fommil commented on #6271
or should sbt use `nohup` when spawning the server? :thinking:

[2021-01-21 09:47] mkurz opened #6275 "Temporary folder of scripted tests changed in sbt 1.4"
When running scripted tests in sbt 1.4+, the files of a project are now copied directly into the generated sbt temp directory.
Before sbt 1.4 sbt would create a subfolder with the project name (or id?, whatever)

For example:
The sbt project name is `my_project`:

* sbt <1.4: `/tmp/sbt_e205d35d/my_project/<files>`
* sbt 1.4+: `/tmp/sbt_e205d35d/<files>`

Why is this a problem?
I have a scripted te

[2021-01-21 21:38] #6271 closed, assigned to nobody

[2021-01-22 04:05] japgolly commented on #6101
I'm having this same problem but I'm in Linux, not Windows, but trying to run sbt from within docker.

I haven't been able to find a workaround. It seems to me that we can't run sbt from within docker anymore. That's a pretty major bug.

[2021-01-22 04:34] japgolly commented on #6101
A bit more info: sbt is running in docker as part of CI, where the build env is provided by a docker image.

In my case, I'm even starting sbt with `-Dsbt.server.autostart=false` which I thought would've avoided this issue, no? Is it a separate bug that this still occurs with that flag?

[2021-01-22 05:53] eed3si9n commented on #6275
@mkurz I don't recall changing that explicitly, but maybe it changed when we started batching the scripted tests. Would the following make a difference?

[code]

[2021-01-22 07:46] martijnhoekstra opened #6277 "SBT creates superfluous and confusing root project"
## steps

build.sbt:

[code]

sbt console:

[code]

## problem

Two projects are shown, with the undeclared project selected

## expectation

Only a single project, `myProject` is shown

## notes

[2021-01-22 15:17] eed3si9n commented on #6277
This works as intended, so I've removed the "Bug" label.

For multi-project cases the implicit root project helps to aggregate the all the subprojects automatically. Also some plugins may hang settings off of the root subprojects, so I am not sure if I can just get rid of them without confusion.

[2021-01-22 15:31] linehrr commented on #5397
delete the folder under:
<projectRoot/project/target>
that's where sbt keeps lib cache.
also to be sure, you also wipe .iv2/cache.
that should fix it.

[2021-01-22 19:04] #5200 closed, assigned to nobody

[2021-01-23 00:47] jxtps opened #6279 "Can't invoke `sbt dist` while IntelliJ is running Play dev server"
## steps

SBT version: 1.4.5

I'm developing multiple Play applications with SBT + IntelliJ on Windows 10.

I run the play apps using [IntelliJ's run functionality](https://www.playframework.com/documentation/2.8.x/IDE#IntelliJ-IDEA).

I deploy my applications by running a separate script that calls `sbt dist`.

With `SBT 1.3.13` that worked fine even if one or more Play applications (same or othe

[2021-01-23 10:07] okouyad commented on #6176
@eatkins My question is a bit unrelated to the specific subject of the issue and i apologies for tha.  I was not sure where to post it for you to see. I'm currently trying to figure out how to use My IDE (Intellij) or any other for the matter as a client, while having SBT running on a remote machine. Same issue as you some work restriction for some member of my team.

I wonder:

1 - How did you ma

[2021-01-23 15:03] xuwei-k opened #6280 "[1.5.0-M1] Scala 2.13-3.x sandwich does not work with Scala.JS"
## steps

[code]

execute `sbt "print fullClasspath" run`

- https://github.com/xuwei-k/sbt-1.5.0-M1-sandwich-scala-js/commit/a0d34060f565354934fcbe5f6d9648b296256283
- https://github.com/xuwei-k/sbt-1.5.0-M1-sandwich-scala-js/runs/1754256620?check_suite_focus=true

## problem

[code]

## expectation

`"org.scalaz" %%% "scalaz-core" % "7.3.3" cross CrossVersion.for3Use2_13` should reference `scala

[2021-01-23 15:09] xuwei-k commented on #6280
🤔

https://github.com/sbt/librarymanagement/blob/7b45fc594f7122741bdf0805420ce259ce0eefb3/core/src/test/scala/sbt/librarymanagement/CrossVersionTest.scala#L285

[2021-01-23 15:15] drewboardman commented on #4339
This happens in 1.4.4

[2021-01-23 15:16] drewboardman opened #6281 "1.4.4: `sbt new` should not create a target directory in the working directory"
This is a duplicate of

https://github.com/sbt/sbt/issues/4339

This happens on 1.4.4.

[2021-01-23 18:47] eed3si9n commented on #6280
https://github.com/sbt/librarymanagement/blob/v1.5.0-M4/core/src/main/scala/sbt/librarymanagement/CrossVersion.scala#L45-L51
`sbt.librarymanagement.Binary` has prefix and suffix fields.

`%%%` implementation https://github.com/portable-scala/sbt-platform-deps/blob/v1.0.0/src/main/scala/org/portablescala/sbtplatformdeps/PlatformDepsBuilders.scala#L36-L43 seems to set these prefix, and DottyPlugin's

[2021-01-23 19:36] eed3si9n commented on #6272
Thanks for the report.

To supplement this, here's what happens without cross building as a reference.

[code]

[code]

So the real aggregation feature of sbt is permissive of `IntegrationTest` not being present in `core` when called at the root level, but would error when specified as `core/IntegrationTest/compile`. So the emulated aggregation using `+` should follow that, and I agree with the ex

[2021-01-23 20:48] eed3si9n commented on #6280
Here's my PR for this - https://github.com/sbt/librarymanagement/pull/364

[2021-01-24 03:13] eed3si9n opened #6282 "Tab completion of Compile, Test, etc (configuration identifier)"
## steps

[code]

## problem

Doesn't complete `Compile`

## expectation

Completes `Compile`

[2021-01-24 03:30] eed3si9n commented on #6267
This was fixed in https://github.com/sbt/website/pull/979

[2021-01-24 03:30] #6267 closed, assigned to nobody

[2021-01-24 16:33] #6280 closed, assigned to nobody

[2021-01-24 16:57] djspiewak commented on #6242
Duplicate of #6192

[2021-01-24 17:30] eed3si9n commented on #6274
If it works with Scala 2.x, and it doesn't with Scala 3.x, I feel like this is more of a 3.x question of how much it _wants_ to be a drop-in replacement for Scala 2.x and how much the community is willing to contribute to these corner cases.

If sbt chops the hash-bang line, then the error reporting would be off by one unless we also map the position.

[2021-01-24 17:32] #6282 closed, assigned to nobody

[2021-01-25 02:36] #6264 closed, assigned to adpi2

[2021-01-25 04:05] eed3si9n commented on #2088
Preemptively closing this as maybe-fixed-in-Coursier.

[2021-01-25 04:05] #2088 closed, assigned to nobody

[2021-01-25 04:09] eed3si9n commented on #5381
Not sure if this was resolved, but if in fact the checksum does NOT match (because it contains error message in HTML etc), then I think the default behavior of failing is the correct behavior.

[2021-01-25 04:19] eed3si9n commented on #2890
Fixed in https://github.com/sbt/librarymanagement/pull/113

[2021-01-25 04:19] #2890 closed, assigned to nobody

[2021-01-25 04:24] #6235 closed, assigned to nobody

[2021-01-25 09:41] dwijnand commented on #2088
Perhaps this is inverted in Coursier, avoiding the effect of publishing in an order Artifactory doesn't expect.

[2021-01-25 11:13] jaceklaskowski commented on #5381
I don't remember whether it was fixed or not, but haven't seen it since. I think it could be marked as resolved (as can always be reopened when necessary). Thank you.

[2021-01-25 16:41] #5381 closed, assigned to nobody

[2021-01-26 06:15] roohix commented on #6187
I have app on playframework 2.5.9 and sbt 0.3.6. can I develop on m1 ?
how about with roseta2 ?

[2021-01-26 06:17] cbrunnkvist commented on #3252
As of Q1 2021, SBT and/or Play are still "broken" out of the box: `(Server started, use Enter to stop and go back to the console...)` is a lie 😉 when you `sbt run` the development server.

- **Enter** does nothing
- **Ctrl-C** causes two stacktraces, one about "Failed to disable echo", the second from sbt.util.LogExchange.logger ("No Log4j 2 configuration file found"), then exits with _"Applicatio

[2021-01-26 06:33] jneo8 commented on #5190
+1 same issue.

[code]

[2021-01-26 14:33] eed3si9n commented on #6187
@roohix We use GitHub issue mostly to track bugs and tasks on sbt development. If you have questions or need help, please check this out - https://www.scala-sbt.org/support.html

[2021-01-28 06:26] gnarroway commented on #6212
I can confirm the incorrect parse on windows, using sbt 1.3.13 and 1.4.6.

The exact same file works fine on our Linux machines.

The workaround (for windows) is to explicitly set the resolvers withInsecureProtocol in build.sbt. Unfortunately this only seems to work in 1.3.13 and not in 1.4.*.

[2021-01-28 09:51] adpi2 opened #6285 "[1.5.0] bootclasspath is not supported on scala3doc"
## steps

[code]

Run the `doc` task
[code]

## problem

`scala3doc` warns that the `-bootclasspath` is not supported.

## expectation

sbt should not set the `-bootclasspath` option when invoking `scala3doc`

[2021-01-29 11:44] gontard opened #6286 "remote caching: avoid unnecessary pushRemoteCache"
I am currently integrating the sbt remote caching in our project. We have more than thirty modules and each module can have up to 4 configurations.
Here is the (over-)simplified workflow I use:

[code]
It works but sadly the last step (`pushRemoteCache`) takes a lot of time and cancel out the benefit of the remote caching.

In fact `pushRemoreCache` publishes an artefact even if the artifact didn’

[2021-01-29 15:40] lolgab opened #6287 "Add compiler plugins only to the Test scope"
In Scala Native (the same should happen with Scala.js) we need to add a compiler plugin to the test scope to enable the JUnit support.
To avoid polluting the `Compile` classpath with Test dependencies we used [this workaround](https://github.com/scala/scala-xml/pull/482/files#diff-5634c415cd8c8504fdb973a3ed092300b43c4b8fc1e184f7249eb29a55511f91R171)
[code]

It would be nice to have something built

[2021-01-29 19:15] eed3si9n commented on #6286
@gontard Thanks for the report! I've been thinking about this too. Maybe the task engine needs to keep track of real compilation it did (as opposed to grabbing from cache) so when pushRemoteCache is called it will only push the newly created artifacts.

[2021-01-30 20:43] thesamet opened #6289 "artifact type lost when artifact is resolved locally"
In ScalaPB, we allow users to add libraryDependencies with custom artifact types to mark the dependency as a native protoc plugin. I hit an issue that when an artifact is published locally, sbt ignores the user's specified type and treat it as `jar`. When coursier is used, the user specified artifact is preserved.

Steps:

Use sbt 1.4.6

To reproduce, use the following build.sbt:
[code]

Run `sbt`

[2021-01-31 01:27] eed3si9n commented on #1636
Eviction warning will be removed in sbt 1.5.0 - https://github.com/sbt/sbt/pull/6221

[2021-01-31 01:27] #1636 closed, assigned to nobody

[2021-01-31 01:39] eed3si9n commented on #5128
The stack trace still showing https://github.com/soc/directories-jvm/ as far as I can tell:

[code]

I'm closing this for now.

[2021-01-31 01:39] #5128 closed, assigned to nobody

[2021-01-31 04:08] eed3si9n commented on #6289
@thesamet Thanks for the report. Does this happen with Ivy:

[code]

? If not, could you also report it to coursier/coursier please?

[2021-01-31 05:12] thesamet commented on #6289
When setting `useCoursier := false`, I am not able to download locally at all:

[code]

Given the above, does it still make sense to report it to coursier/coursier?

[2021-01-31 05:30] eed3si9n commented on #6289
It's not as clear cut, but yes, if the artifact information is different from one resolver to another I suspect it's Coursier (or lm-coursier)'s problem.

[2021-01-31 07:44] mkurz commented on #6268
Fixed in sbt 1.4.7.
Can be closed.

[2021-01-31 17:11] #6268 closed, assigned to nobody

[2021-01-31 22:51] ALexanderSpiridonov commented on #6223
Had the sme issue.

That also did work for me.
Thanks

[2021-02-01 08:23] gontard opened #6292 "remote caching: run test incrementally"
As explained in #6286, i am integrating the new remote caching feature.

I would like to also take advantage of the remote caching to run test incrementally as explained in [this blog post](https://eed3si9n.com/cached-compilation-for-sbt):

If i understand correctly since #6026 the remote caching relies on content hashing. Is there something else missing?

Also in source code, there is already a c

[2021-02-01 10:43] agolovenko commented on #5492
Still have this problem for sbt > 1.2.8

[2021-02-01 13:44] snlykf commented on #5206
Encountered this when upgrading to 1.4.7. Reverting back to 1.4.5 works.

[2021-02-01 14:49] jastice commented on #6176
On IntelliJ side, this isn't really supported at the moment - paths are assumed to be local. so unfortunately BSP won't help with working with remote projects from IntelliJ, for the moment.

[2021-02-01 15:13] romanowski commented on #6080
@eed3si9n @adpi2 I am way too late for the party but scala3doc does not depend on `dokka` or Kotlin since yesterday. We've just decided that we will drop `scala3doc` in favour of just `scaladoc` and I will change that this week (https://github.com/lampepfl/dotty/issues/11275)

[2021-02-01 15:51] mkurz commented on #3252
@cbrunnkvist https://github.com/playframework/playframework/issues/9043 has just been fixed (by me).

Works for me.

That got fixed by https://github.com/playframework/playframework/issues/9043 and will ship with Play 2.8.8.

Will also work better in Play 2.8.8.

Currently Play does not yet support sbt 1.4.x - support will also come with Play 2.8.8 so stay tuned.

[2021-02-02 03:22] cbrunnkvist commented on #3252
@mkurz I believe that it might work when you lauch `run` from in interactive sbt shell, but not when you launch directly with `sbt run` from the command line (note: tested on macOS only).

[2021-02-02 07:39] amichalowski commented on #5501
Same issue on Windows:
intelliJ 2020.3.2
SBT 1.4.7
GraalVM Community Java 11.0.10

as workaround I've removed jars from local maven repository (described here: https://github.com/sbt/sbt/issues/5374 ) and works for me.

[2021-02-02 08:04] cchepelov commented on #6038
This might be related to #5200 . @amorfis, can you reproduce this with sbt 1.4.7?

[2021-02-02 08:36] vvlevykin commented on #6101
We have a problem similar to the one above with WSL. We use vagrant on virtualbox for the local environments and the source code is mapped via shared folders. sbt cannot create a unix socket in the shared folder and always asks about the sbt server which is breaking the automatic provisioning of the vagrant env.

Is there a workaround for this?

[2021-02-02 09:23] cchepelov commented on #5658
After applying #6278 (sbt release 1.4.7), I'm still having credentials-related issues.

What works for me:
 - creating a plugin in $BOOT/1.0/credentials.sbt, and doing some `credentials += Credentials(r,h,u,p)` or `credentials += Credentials(file_with_one_set_of_credentials)

What doesn't work for me:
  - `SBT_CREDENTIALS` and `sbt.boot.credentials` are picked up by sbt-launcher, but the credentia

[2021-02-02 14:59] onmomo commented on #5658
@cchepelov @eed3si9n I test with sbt-1.4.7 launcher to resolve a project with sbt-1.4.1 defined from scratch including an internal plugin. It was able to resolve sbt-1.4.1 including the plugin via the internal repository manager. It failed to authorized for all requests once I removed the `~/.sbt/1.0/plugins/global.sbt`
I think the only future proof solution for sbt to deal with internal repositor

[2021-02-02 15:41] cchepelov commented on #5658
@onmomo so according to your first paragraph, your situation appears in sync with mine, and improved from your original report.

regarding the rest: I fully agree. Beyond the current unit tests, it seems there is value in having an integration test suite with:

- a private Nexus repo  (+later on, Artifactory and so on)
- a public Nexus repo   (+later on, Artifactory etc.)

- a container-based test

[2021-02-02 19:32] eed3si9n commented on #5658
Either plan is fine by me but I'll note a few things here:
- sbt launcher is a Scala 2.10 application that is proguarded, and runs its application like sbt in a sandbox ClassLoader, so you may not be able to share objects between them.
- `SBT_CREDENTIALS` and `-Dsbt.boot.credentials` are meant to be sbt launcher feature, and sbt launcher I think is meant to be a separate app from sbt itself. Consc

[2021-02-03 21:05] logicpluscode opened #6293 "libraryDependencies += dependency from "some url" not working with sbt version 1.4.5"
[Simplified example]
https://github.com/logicpluscode/ReproduceSbtFetchDependencyIssue
---
**[DESCRIPTION]**

This is a simplified example to reproduce below problem statement :-
`libraryDependencies += "dependency" from "some url"`
successfully downloads dependency if sbt.version is 1.2.8 in project/build.properties,
but dependency is not downloaded, if sbt.version is 1.4.5 in project/build.prope

[2021-02-03 21:31] eed3si9n opened #6294 "sbt community repo (repo.scala-sbt.org)"
JFrog announced that they are sunsetting Bintray starting February 28th, 2021.

https://jfrog.com/blog/into-the-sunset-bintray-jcenter-gocenter-and-chartcenter/

**Update 2021-04-28**:

Please read [Bintray to JFrog Artifactory migration status and sbt 1.5.1](https://eed3si9n.com/bintray-to-jfrog-artifactory-migration-status-and-sbt-1.5.1).
There's now a cloud-hosted Artifactory instance licensed

[2021-02-04 09:27] grindvoll commented on #5206
I just checked this with 1.4.7 on Windows 10 on a simple SBT project. The Coursier cache is placed in a local `null` folder. Reverting to 1.4.5 works fine.

[2021-02-05 15:13] shi27feng commented on #6162
Hi,
I got the same issue.
Would it be possible that anyone makes a summary of the steps for solving the issue? I got lost while went through the discussion.
Thank you so much!

[2021-02-05 18:56] JR-Utily opened #6295 "sbtn "project foobar" compile / Expected project ID Error"
Hello,
In my team, we have a big git mono repo with one build.sbt at its root.
So we are used to compile specific project by calling
`sbt "project foobar" compile`

We are trying to use the new --client feature to speed up the compilation time, but when we execute
`sbt --client "project foobar" compile`
it goes in error, as if it was looking for project "foobar compile"
[code]
It does the same if

[2021-02-05 19:17] griggt commented on #6295
Have you tried `sbt --client "foobar/compile"` or `sbt --client "project foobar; compile"`?

[2021-02-05 19:20] JR-Utily commented on #6295
`sbt --client "project foobar; compile"` works indeed !
Thanks for the workaround ! ;)
(but still, it means that adding --client is not transparent to an existing, working, script)

[2021-02-06 18:19] eed3si9n commented on #6162
The support for Apple silicon M1 (AArch64, ARM64) was added in sbt 1.4.5. In general you should use the latest stable version, which is 1.4.7 now. The version of sbt is determined both by the launcher and the project-specific declaration in `project/build.properties`. That's the summary.

[2021-02-06 18:24] eed3si9n commented on #6295
I think this is a duplicate of https://github.com/sbt/sbt/issues/5969, and as far as I know, it's by design.
I think sbtn is meant to replace sbt shell, not the batch mode, so what you should pass in as argument is a single line you'd pass to the shell.

[2021-02-06 18:24] #6295 closed, assigned to nobody

[2021-02-06 20:32] eed3si9n commented on #5307
Closing this now.

[2021-02-06 20:32] #5307 closed, assigned to nobody

[2021-02-06 20:43] eed3si9n commented on #5418
If this is a regression starting sbt 1.3.x, could you report this to coursier/coursier please? I'm not sure if there's much we can do on sbt's side beyond suggesting `useCoursier := false` for the problematic subprojects.

[2021-02-06 20:46] eed3si9n commented on #6293
@logicpluscode Thanks for the report and repro project. Could you also report this to coursier/coursier since it looks like a dependency resolution problem on the Coursier side, and I don't know if there's much we can do on sbt's side beyond suggesting maybe you do `useCoursier := false` for the affected subprojects.

Also this is possibly a duplicate of https://github.com/sbt/sbt/issues/5418

[2021-02-06 20:50] eed3si9n commented on #5943
If this is a regression in Coursier, could either of you report this to coursier/coursier too please?

[2021-02-07 10:16] almothafar commented on #5501
To be honest, this issue and how they ignoring these kinds of critical issues cross 15 versions (since 1.3.7 until now 1.4.7) and not re-open #5374 give me more reasons to totally trash sbt from my recommendation, personally in my company 100% I'm going to gradle or maven next.

Spring Boot, here I come.

[2021-02-07 17:45] neontorrent commented on #5501
I agree. This is breaking bug and it should have been priotitized higher than other features. Somehow it is not getting any attention.

[2021-02-07 17:49] eed3si9n commented on #5501
There's no "they". As far as I know, I'm the only person who monitors sbt issues to triage, and I've been ignoring this issue because with all the comments and history, it's not clear to me what exactly is the problem here.

The original reproduction step says to use sbt new playframework/play-scala-seed.g8. I've checked downloading sbt sources, and I'm able to load the project using IntelliJ, and

[2021-02-07 17:58] neontorrent commented on #5501
@eed3si9n People are talking about a related issue that has the same error message (but different causes I guess). I was referring to the issue:

(when there's a library dependency with only binary jar but no source)

I can create a new issue for this if you prefer. If you can point out where the issue in the code, I can try to help to create a PR (it is hard for me to find myself as I am not fami

[2021-02-07 18:03] eed3si9n commented on #5501
Yea. If let's close this and start a new one with actual repro steps.
If https://github.com/sbt/sbt/issues/5374#issuecomment-683454347

is listed as a workaround, it seems like we're dealing with different issue, like local proxy actually not configured to handle Ivy layout repositories.

[2021-02-07 18:03] #5501 closed, assigned to nobody

[2021-02-07 20:27] alexkhachikyan commented on #6223
thanks for the idea!

I have just simply re-installed the sbt with sdkman
https://www.scala-sbt.org/download.html

here is the sdkman:
https://sdkman.io/install

Best

[2021-02-08 07:21] amicuwehkamp commented on #5206
The release notes for sbt 1.4.6 mention an update to Coursier 2.0.8, with changes that affect the cache directory in Windows: https://github.com/sbt/sbt/releases/tag/v1.4.6

[2021-02-08 07:29] andrei-micu commented on #5206
The release notes for sbt 1.4.6 mention an update to Coursier 2.0.8, with changes that affect the cache directory in Windows: https://github.com/sbt/sbt/releases/tag/v1.4.6

[2021-02-08 09:40] bjaglin opened #6298 "Machine-independent file stamping to embed caches in remote cache artifacts"
Both the historical `sbt.util.FileInfo` & the sbt 1.3 `sbt.nio.FileStamp` mechanisms stamp files with the absolute path. For caches to be machine-independant and thus to have a chance to generate a cache hit after being pulled from a remote cache, paths should be relativized when possible (at least when using hashes, as last-modified is not machine-independant anyway).

I assume it would be OK to

[2021-02-08 09:51] lolgab commented on #5223
`-jvm-debug` doesn't work anymore on sbt 1.4 .
Was it dropped or is it a bug @eed3si9n?

[2021-02-08 15:31] eed3si9n commented on #5223
@lolgab As far as I know, it's not dropped. Could you open a new issue with the output of

[code]

[2021-02-08 15:38] snlykf commented on #5206
Seems to be an issue with PowerShell: https://github.com/dirs-dev/directories-jvm/issues/47

[2021-02-08 15:45] lolgab opened #6299 "sbt command line options don't work ( --jvm-debug, --script-version )"
Issue originated from https://github.com/sbt/sbt/issues/5223#issuecomment-775230926

The following command line options do not work on Sbt 1.4.6 Mac OS X Catalina:
[code]

[2021-02-08 15:48] eed3si9n commented on #6299
@lolgab `--script-version` is not returning proper version. Are you using the official sbt script or some fake one?

[2021-02-08 16:09] lolgab commented on #6299
@eed3si9n Sorry, my bad.
I was using the Coursier `sbt` script. Changed it to the official one and now everything works as expected.

[2021-02-08 16:09] #6299 closed, assigned to nobody

[2021-02-08 16:11] eed3si9n commented on #6299
Thanks for the report. This is concerning since it seems to be a popular way of installing things nowadays.

[2021-02-08 16:33] lolgab commented on #6299
I have to check with a clean Coursier installation because I'm starting to doubt about anything installed in my computer 😄
But yes, having it work consistently with the official script could save people some headaches.

[2021-02-08 16:34] neontorrent opened #6300 "FetchError$DownloadingArtifacts when importing sbt project to IntelliJ with "Library sources" checked and no sources jar in the artifact repo"
Related issue: #5501

## steps

1. Make sure Intellij SBT plugin has checked option "Download Library sources"
2. Import a project with any dependency that does not have source jar in the artifact repo and only binary jar
3. Import fails with

[code]

## problem

One dependency without source shoulnd't make the whole project import fails.

## expectation

Source of dependency without source jar sh

[2021-02-08 16:56] eed3si9n commented on #6300
@texasbruce Thanks for the report.

I tried to implement missingOk support on Couriser here https://github.com/sbt/sbt/pull/5634 /  https://github.com/coursier/sbt-coursier/pull/212. If that was somehow not complete, maybe the test case https://github.com/sbt/sbt/tree/develop/sbt/src/sbt-test/dependency-management/missingok needs to be expanded such that the binary artifact exists but the source i

[2021-02-08 16:58] eed3si9n commented on #6300
<s>Could you also report this to coursier/coursier to get their attention please?</s>

https://github.com/coursier/coursier/issues/1961

[2021-02-08 20:55] jxtps commented on #6279
This is still the case with sbt 1.4.7.

The scripting environment I'm using is a separate java process that calls "sbt dist" through the Java `ProcessBuilder` class. I tried writing "y" to the spawned process' stdin, but to no avail.

There's also nothing on stdout, so technically I don't know that sbt is indeed trying to display the prompt (though it does when I call if from a .bat file under the

[2021-02-08 22:13] eed3si9n commented on #6279
@jxtps Sorry for the late response. Looking at the repro steps, it's not clear what's happening. Are you saying that you're trying to run multiple sessions of sbt, and on sbt 1.4.x + Windows 10 we've somehow regressed on the behavior?
If so it's an interesting case, since in general we've never supported multiple sessions of sbt, and if anything worked in the past it's by coincidence.

In theory,

[2021-02-09 17:14] jxtps commented on #6279
IntelliJ runs: `"C:\Program Files\Java\jdk1.8.0_241\bin\java.exe" -Dfile.encoding=UTF8 -Djline.terminal=none -Dsbt.log.noformat=true -Dsbt.global.base=C:\Users\MyUser\AppData\Local\Temp\sbt-global-pluginstub -Xrunjdwp:transport=dt_socket,server=y,suspend=n,address=9999 -Xms512M -Xmx4G -Xss1M -XX:+CMSClassUnloadingEnabled -XX:MaxPermSize=256M -classpath C:\Users\MyUser\AppData\Local\JetBrains\Toolb

[2021-02-09 20:56] solarmosaic-kflorence commented on #6300
FWIW, I ran into this when importing https://github.com/lagom/lagom which is now using SBT `1.3.13` (IntelliJ version 2020.3.2, Build #IU-203.7148.57). I had originally imported this project some time ago. Deleting the project cache (`.idea`) and re-importing resolved the issue for me.

[2021-02-09 23:18] eed3si9n commented on #6294
Scala Center, its Advisory Board members, VirtusLab, Lightbend, and JFrog are discussing the next steps. Likely we will try to figure out a way to keep the repository going in its current shape, just not implemented as Bintray. Hopefully more detail will be forthcoming next week.

[2021-02-11 18:55] eed3si9n opened #6301 "assumedVersionScheme / assumedVersionSchemeJava"
## steps

As a user, I can set

[code]

## expectations

This lets me decide about default `versionScheme` for libraries that don't define it during the eviction error/warning validation.

_Originally posted by @majk-p in https://github.com/sbt/sbt/issues/6221#issuecomment-776684244_

[2021-02-11 19:02] eed3si9n opened #6302 "assumedEvictionErrorLevel"
## steps

As a user, I can set

[code]

## expectations

This allows me to decide if I want to turn on warnings
In case some users didn't ignore the warnings and believe those were useful to them, I'd vote for allowing them to enable warnings instead of silently evicting with an sbt flag like `assumedEvictionErrorLevel := Level.Warn (fail|warn|info)`

Combined with https://github.com/sbt/sbt/issue

[2021-02-11 19:07] eed3si9n opened #6303 "Warn on missing versionScheme"
## steps

I `publish` something without `versionScheme`

## expectation

sbt warns about `publish`ing something without defining a `versionScheme`

_Originally posted by @julienrf in https://github.com/sbt/sbt/issues/6221#issuecomment-776060418_

[2021-02-11 19:23] ericdotdata commented on #5841
For other searchers, "~run" works in intellij to keep the server active

[2021-02-11 20:57] majk-p commented on #6302
I'd be happy to help with that, if someone could provide some guidance on where to start.

[2021-02-12 05:57] eed3si9n commented on #6302
It should be contained mostly here

- https://github.com/sbt/librarymanagement/blob/develop/core/src/main/scala/sbt/librarymanagement/EvictionError.scala
- https://github.com/sbt/librarymanagement/blob/develop/ivy/src/test/scala/sbt/internal/librarymanagement/EvictionErrorSpec.scala

[2021-02-12 14:36] metasim commented on #6294
@eed3si9n Many many thanks for keeping the community in the loop. Very much appreciated.

[2021-02-12 18:37] valdo404 opened #6304 "Have a look at buildkit project"
Docker team have recently pushed a project named buildkit.

https://github.com/moby/buildkit

it is able to build anything, including docker image, and it is relying upon an intermediate representation named LLB (low level builder).

And it is also able to launch builds on systems like kubernetes.

 I think it could be funny to have a look to this project to see how it could talk with SBT.

[2021-02-13 10:17] drno-reg opened #6306 "build sbt project via artifactory repo: download error: Caught java.net.ConnectException: Connection refused"
For begin want say, I write question in stackoverflow
https://stackoverflow.com/questions/66052303/build-sbt-project-via-artifactory-repo-download-error-caught-java-net-connecte

Use sbt script version: 1.4.6

in project/plugins.sbt have dependensies

[code]

and build.sbt

[code]

try building on build node and returned error

[code]

dependesies exist in our local repo, but sbt can't find they.

[2021-02-13 17:14] eed3si9n commented on #6306
Answered it on Stackoverflow - https://stackoverflow.com/a/66187806/3827

[2021-02-13 17:14] #6306 closed, assigned to nobody

[2021-02-13 17:31] eed3si9n commented on #6304
We use GitHub issue mostly to track bugs and tasks on sbt development. We do have more open-ended https://github.com/sbt/sbt/discussions for discussions.

If someone wants to investigate buildkit any other integration they could do it, but I don't think we have the bandwidth to do so. Maybe you could try setting it up and blog out it etc.

[2021-02-13 17:31] #6304 closed, assigned to nobody

[2021-02-13 17:59] eed3si9n commented on #6300
Here's my PR for this - https://github.com/coursier/coursier/pull/1966

[2021-02-13 18:14] eed3si9n commented on #2795
If we think about this as removal of having an implicit `scalaVersion`, maybe I should start displaying warnings.

[2021-02-14 06:45] xuwei-k opened #6307 "[sbt 1.5.0-M1] "doc" task does not work since Scala 3.0.0-RC1"
## steps

project/build.properties

[code]

build.sbt

[code]

A.scala

[code]

run `sbt doc`

## problem

[code]

## expectation

doc task success

## notes

🤔

- https://github.com/lampepfl/dotty/commit/3fb4f79610b6b7baf8ab2ca516543e5d48496751
- https://github.com/lampepfl/dotty/commit/f75e6fb3c59fae896b5b9e46c8bb294f04042924

[2021-02-14 15:51] eed3si9n commented on #6307
See also https://github.com/lampepfl/dotty/issues/11285

[2021-02-14 19:05] eed3si9n commented on #6307
Here's my PR for this - https://github.com/sbt/sbt/pull/6308

[2021-02-15 17:11] #6307 closed, assigned to eed3si9n

[2021-02-15 21:56] eed3si9n commented on #6303
Here's a PR for this - https://github.com/sbt/sbt/pull/6310

[2021-02-15 22:05] eed3si9n commented on #6300
Coursier 2.0.12 was released with my patch. Here's a PR to bump to it - https://github.com/sbt/sbt/pull/6311

[2021-02-16 01:55] #6303 closed, assigned to nobody

[2021-02-16 05:07] #6300 closed, assigned to nobody

[2021-02-16 12:18] bjaglin opened #6312 "remoteCacheId does not take into account external dependencies"
## steps

- check `Compile / remoteCacheId`
- update `libraryDependencies` to bump something in `Compile`
- check `Compile / remoteCacheId`

## problem

`remoteCacheId` is the same

## expectation

https://github.com/sbt/sbt/pull/6026

## notes

It looks like https://github.com/sbt/sbt/blob/4427f265f8c69a7d53c13c9a2e8164cfe306698d/main/src/main/scala/sbt/internal/RemoteCache.scala#L208 is always t

[2021-02-16 15:16] julienrf opened #6314 "Package the sbt launcher in such a way that it can easily be installed by coursier"
cf the discussion below.

---

I just tried, and it turns out it's a little bit more complicated. The scripts in the sbt archive seems not to work in a standalone fashion. The `sbt` and `sbt.bat` scripts need `sbt-launch.jar` and `java9-rt-export.jar` alongside them. Which breaks what I had in mind and could have mostly worked right now, that is just picking `sbt` or `sbt.bat` from the archive, an

[2021-02-16 18:54] bjaglin commented on #6298
Maybe a new `MachineIndependantFileInfo` strategy could be introduced, which would require a base directory for the formatters to be available in implicit scope. It would only serialize paths relative to that base directory (and fail if anything outside is found?). I wonder how `ChangeReport` deals with non-absolute files though?

[2021-02-16 19:02] bjaglin commented on #6312
This workaround seems to do the trick.
[code]

I went for `dependencyClasspath` instead `externalDependencyClasspath` since I couldn't come up with the reason why only `externalDependencyClasspath` had been considered in https://github.com/sbt/sbt/pull/6026.

[2021-02-16 20:26] gabro commented on #5934
Updates from the discussion in scalameta/munit#313: the issue seems to be that `scalacOptions` are not propagated anymore from the `Compile` to the `Test` configuration.

The test failure was caused by the lack of `-Yrangepos` (it only failed on 2.12 and 2.11, because the flag is on by default in >= 2.13)

@eed3si9n any idea of what the root cause for this change might be?

[2021-02-16 22:03] ericdotdata opened #6315 "Add comments support to sbt Launcher Configuration files"
The current spec doesn't allow comments: https://www.scala-sbt.org/1.x/docs/Launcher-Configuration.html

I had a "legacy" `~/.sbt/repositories` file that didn't have the `allowInsecureProtocol` and I wanted to add comments directly to the file.  Unfortunately, it doesn't look to be supported.

I *think* it would be reasonable to have `#` as a comment char and ignore that line in the file.

[2021-02-16 23:08] griggt commented on #5934
Seems to be a result of this change in sbt/sbt#5887:

[code]

[2021-02-17 04:39] eed3si9n commented on #5934
@griggt Thanks!

I've updated the description of this issue with minimized repro of `"-Yrangepos"` disappearing.

[2021-02-17 05:05] eed3si9n commented on #5934
@gabro To unpack what Tom discovered, sbt does some special things to support the addition of SemanticDB by a built-in plugin called `SemanticdbPlugin` - https://github.com/sbt/sbt/blob/v1.4.7/main/src/main/scala/sbt/plugins/SemanticdbPlugin.scala, which is enabled by default as a plugin.

But SemanticDB itself is not enabled until `semanticdbEnabled` setting is set to `true`. When `semanticdbEnab

[2021-02-17 05:47] eed3si9n commented on #5934
Here's my PR for this - https://github.com/sbt/sbt/pull/6316

[2021-02-17 09:57] unkarjedy opened #6317 "Windows MSI installer: unrecognized app"
Just try to run installer from https://www.scala-sbt.org/download.html
Looks like the installers should be somehow signed / verified by Microsoft

![image](https://user-images.githubusercontent.com/3989292/108187466-8f7a1680-711f-11eb-81a8-15063c9c1d74.png)

[2021-02-17 11:49] molotch opened #6318 "Basic authentication to Artifactory from Windows Server 2019 fails"
## steps

I'm running SBT 1.4.4 on Oracle Java 1.8.0_271 on a Windows Server 2019 Standard (don't ask:)

1. Import JFROG Artifactory certificate in your java castore using `keytool`.
2. Create a credentials file with content:
[code]
3. Set environment variable SBT_CREDENTIALS pointing to the credentials file.
4. Set -Dsbt.boot.credentials="path_to_credentials_file" in `\sbt\conf\sbtconfig.txt`.
5.

[2021-02-17 12:02] JoaoAtGit commented on #5722
Hey,

I'm using the same command and the console returns
"Not a valid project ID: true
Expected ':'
Not a valid key: true (similar: run, runner, target)"
Do you know what is happening?

BR

[2021-02-17 12:19] #5934 closed, assigned to nobody

[2021-02-17 19:40] ScalaWilliam commented on #6101
This keeps on popping for me up as well, like for @japgolly and @vvlevykin.

@eatkins I tried the following, but it did not work:

[code]

I also tried `echo |`, `< /dev/null`, and other various methods, to no avail.

I appreciate that server is very useful for many cases like Metals and performance but there are important less-common cases like CI/Docker/WSL2 where you rather things just _work wi

[2021-02-17 20:18] eatkins commented on #6101
Sorry, I don't work on sbt anymore.

[2021-02-18 06:42] ngbinh commented on #5166
Is this something I can help with here? I am not terribly familiar with sbt internal though.

[2021-02-18 13:36] logicpluscode commented on #6293
As suggested, reported this issue to coursier also.
https://github.com/coursier/coursier/issues/1976

Thanks

[2021-02-18 14:47] SrTobi commented on #6279
@jastice can you have a look?

[2021-02-18 14:52] ppKrauss opened #6319 "Need for a new JAR file when "No changes" but file deleted"
## steps

1. Delete JAR file from target folder
2. Using terminal SBT prompt, compile by commands `sbt`, `compile` and `package`.
3. check JAR file: **file not found**.

## problem

The JAR file was deleted but SBT not generated a new JAR file.

## expectation

SBT must generate a new JAR file, even when *"[debug] No changes"*.

## notes

It is not a "natural behaviour", more humans expected a new

[2021-02-19 00:45] eed3si9n commented on #6319
I've just answered Stackoverflow. I think this is a duplicate of https://github.com/sbt/sbt/issues/4118.

[2021-02-19 00:45] #6319 closed, assigned to nobody

[2021-02-19 00:58] eed3si9n commented on #6314
Sounds like a plan. If folding java9-rt-export.jar into the launcher helps that seems like a relatively small adjustment we should make.

[2021-02-19 00:59] eed3si9n commented on #6314
The relevant repos:
- https://github.com/sbt/java9-rt-export
- https://github.com/sbt/launcher

[2021-02-19 01:12] eed3si9n commented on #6312
The following is my logic (similar to how Bazel works iiuc):

Given 10 subprojects P1 ~ P10, we want to minimize the time we perform local work on the laptop.
By only looking at sources and external dependencies, we should be able to run just `update`, which is mostly cached, and then calculate the remoteCacheId for all subprojects P1 ~ P10 simultaneously. If we don't then, the compilation result

[2021-02-19 01:15] eed3si9n commented on #6317
I think this is a duplicate of https://github.com/sbt/sbt/issues/4309

[2021-02-19 01:15] #6317 closed, assigned to nobody

[2021-02-19 10:35] mr-git commented on #6301
in https://github.com/sbt/sbt/blob/83012a964476aa68d436b68103069242ac8a70fc/main/src/main/scala/sbt/Keys.scala#L539 all possible values for version scheme are defined as strings and here are used as `String`s too.

Would it be possible to make them typed, like `VersionScheme.PVP` and `VersionScheme.EarlySemVer`? Navigating to definition would have documentation in place, otherwise now have to find

[2021-02-19 11:25] mandrush commented on #6212
I can confirm this problem still occurs - it happened to me on sbt launcher 1.1.3.

I don't know why it occured, but on MacOS, running `brew update; brew upgrade sbt` helped. You can also use the workaround described by @gnarroway.

[2021-02-19 15:57] AnirudhVyas commented on #1636
Hello @eed3si9n -  for those who cannot upgrade to higher version as they arrive immediately, is there a workaround? I have tried setting EvictionWarningOptions.empty as above but still get :
[code]

[2021-02-19 15:57] ScalaWilliam commented on #6294
Would there be any plans to publish to Maven Central?

I understand repo.scala-sbt.org is a separate repository of its own and often needs to be enabled explicitly by enterprises which is a tremendous task from the aspect of red tape (think: 6 months of meetings to get it approved -- is enough time to Kotlin to jump in and take the spot) - we could have a far greater adoption of Scala if all the n

[2021-02-19 21:25] carmo-evan commented on #6101
Running into the same issue on WSL2.

[2021-02-20 08:57] adpi2 opened #6321 "Disabling IvyPlugin or JvmPlugin in the root project"
## steps

[code]

## problem

[code]

## expectation

The project should load successfully

## notes

There is a circular dependency between `JvmPlugin` and `CorePlugin`:
`JvmPlugin` requires `IvyPlugin` which requires `CorePlugin` which consumes the `scalaBinaryVersion` and `scalaVersion` defined in the `JvmPlugin`

## solutions

There are at least 3 possible solutions:
1. `CorePlugin` should not

[2021-02-20 09:04] adpi2 commented on #6321
`scalaBinaryVersion` and `scalaVersion` are defined in `JvmPlugin.projetcSettings`. However there is something called `DefaultSetting` that pushes them to `Global`. And so, surprisingly, this project is valid:

[code]

That's why the scripted `project/auto-plugins` is not failing.

I don't totally understand the comment on `DefaultSetting`:
https://github.com/sbt/sbt/blob/6dc132785598a2da8550cc299

[2021-02-20 19:05] eed3si9n commented on #6294
We're forming Bintray Solution Task Force at Scala Center to discuss the next steps.

As Scala community (open source user, corporate users, etc using Scala) I think the 3 pressing priorities are:
- Continuity of build semantics (existing builds continue to work without making changes) "read problem"
- Maintaining secure custody (migration and confusion can create cover for supply chain attacks) "

[2021-02-21 05:17] eed3si9n commented on #6321
@adpi2 Here's a discussion thread I created on the topic of configuration, derived, and default settings - https://github.com/sbt/sbt/discussions/6323.

[2021-02-21 06:19] eed3si9n commented on #6315
It does already support `#` as comment, but it must appear as the first character on the line:

[code]

[2021-02-21 06:23] #6321 closed, assigned to nobody

[2021-02-21 07:25] eed3si9n commented on #6301
@mr-git I avoided that because this feature was developed in conjunction with plugins like sbt-version-policy (https://github.com/scalacenter/sbt-version-policy) and using case classes / case objects normally means that it would bump the required minimum version of sbt.

Creating `VersionScheme` object with `PVP` is possible though.

[2021-02-21 07:40] mr-git commented on #6301
@eed3si9n, isn't bump to 1.5.0 enough for that?
I was reading your article https://www.scala-lang.org/blog/2021/02/16/preventing-version-conflicts-with-versionscheme.html and for me it seems that backwards compatibility [in this case] would not be broken as new settings are added.

And that would not break `sbt-version-policy` either, as it is still [technically] on 0.x branch (may be broken) and

[2021-02-21 08:09] eed3si9n commented on #5166
@ngbinh sure. Here's where plugin settings are loaded I think - https://github.com/sbt/sbt/blob/dffa34c3ecda2d0e9599148e8774f647e3b26b29/main/src/main/scala/sbt/internal/Load.scala#L1038-L1039

You could for instance create a mutable HashMap like it's done here - https://github.com/sbt/sbt/blob/dffa34c3ecda2d0e9599148e8774f647e3b26b29/main/src/main/scala/sbt/internal/Load.scala#L711, and cache pro

[2021-02-21 09:54] eed3si9n commented on #6301
Here's a PR for this issue - https://github.com/sbt/librarymanagement/pull/366

[2021-02-21 09:55] eed3si9n commented on #6302
Here's a PR for this - https://github.com/sbt/librarymanagement/pull/366

[2021-02-21 10:20] mr-git commented on #6301
I am sorry, maybe I got lost in translation, the only thing I wanted is to have typed case objects instead of `String`s like: `"early-semver"` or `"pvp"`, to have less strings in our SBT files.

I am not sure, how this type-safe wish means:

[2021-02-21 17:02] ScalaWilliam commented on #6294
**Regarding Maven Central**:
Using SBT behind the firewall has been challenging because an extra repo, in a different format, needs a lot of organizational manouvering, easily a 3-9 month process, stopping Scala from being adopted at some organizations, as SBT is the main build tool and the quality of other build tools for Scala is not great.

We have a lot to lose by not at least having the essen

[2021-02-21 17:33] eed3si9n commented on #6301
Sorry this wasn't about you. This particular issue #6301 originates from the discussion in https://github.com/sbt/sbt/pull/6221.

[2021-02-21 18:53] anthonyemerson opened #6324 "SBT 1.4.7 no longer generates Junit style xml reports"
sbt version: 1.4.7 (Last know to be working in sbt 1.2.8 but that is just the last version I was using before this upgrade)
scala version: 2.13.4
scalatest version: 3.2.2 (Utilizing FunSpec)

Steps
Assuming an existing test framework:
Run a spec in a Jenkins job utilizing the `sbt testOnly` command

Problems
The Junit style xml files that were previously automatically generated by sbt are no longe

[2021-02-21 19:07] eed3si9n commented on #6324
I should've locally tested. It works for me using `sbt new scala/scala-seed.g8` project, and `test`.

[code]

[2021-02-21 19:24] eed3si9n commented on #6294
I feel like we are talking past each other. I am not disagreeing that gradually plugin authors can move the next versions of the plugins to Maven Central. I've already started doing so for sbt-pgp for example.

We have 700 **existing** plugins and numerous **existing** builds (including its git history). For the sake of build continuity and prevention of supply chain attack, Scala Center and frien

[2021-02-21 19:34] RafalSumislawski opened #6325 "Concurrent modification of stamps in testQuickFilter leads to infinite loop"
## steps

SBT version: 1.3.13

I've got a large multi module project, with build configured so that `testQuick` gets triggered twice on one of the modules.

Think of it as the following two tasks running concurrently:
[code]

## problem

- [`testQuickFilter`](https://github.com/sbt/sbt/blob/dffa34c3ecda2d0e9599148e8774f647e3b26b29/main/src/main/scala/sbt/Defaults.scala#L1341) allocates a mutable m

[2021-02-21 19:54] ScalaWilliam commented on #6294
Thank you for clarifying @eed3si9n, definitely in agreement over existing builds, not to break compatibility.
I had misunderstood and missed part of what you meant in your previous comment - my apologies.

This indeed answers the question of publishing plugins to Maven Central -- https://github.com/olafurpg/sbt-ci-release#how-do-i-publish-sbt-plugins -- if correctly understood, this would mean tha

[2021-02-21 20:36] eed3si9n commented on #6325
@RafalSumislawski Thanks for the thorough bug report!

[2021-02-21 21:31] SethTisue commented on #6294
@ScalaWilliam I’m glad you brought up these concerns, even just to double check on them. Ultimately, once widely used plugins have published new versions to Maven Central, adoption of Scala at the kind of locked-down shops you describe will be easier, and that’s a very good thing — a silver lining to this cloud.

[2021-02-21 22:43] bjaglin commented on #6312
Indeed. I should have mentioned that hahsing `internallDependencyClasspath` works in our build (with 3 levels of `dependsOn`) as the remote cache is pulled "on demand" (double quotes here as I am aware it's very hacky, but it's been working for us so far):

[code]

[2021-02-21 23:08] bjaglin commented on #6312
I brought up the subject of hashing internal dependencies in this ticket as I was hesitant to open a PR "just" to fix `externalDependencyClasspath`. To hash as precisely as possible while avoiding to compile parent projects as you rightly described, could we include the `remoteCacheId` of parent projects instead of relying on any kind of `dependencyClasspath`?

Mileage may obviously vary depending

[2021-02-21 23:33] sjrd commented on #6294
It's transparent. In fact, you may already be using sbt plugins published on Maven Central, without knowing it. sbt-scalajs 1.5.0 is one example.

[2021-02-22 00:28] eed3si9n commented on #6312
I guess so. Eventually we'd probably want to get rid of `pullRemoteCache` as task, and make it more transparent caching of function `f` with `arg0, arg1, ...`, like the way task caching works locally. I'm just not sure if that's a sbt 1.5.0 thing, or sbt 2.0 thing.

[2021-02-22 00:49] #6301 closed, assigned to nobody

[2021-02-22 00:49] #6302 closed, assigned to nobody

[2021-02-22 01:33] SethTisue commented on #6277
https://github.com/sbt/sbt/issues/6217 is a related issue, less broad, covering the most common source of confusion/failure in this area

[2021-02-22 05:42] #6325 closed, assigned to nobody

[2021-02-22 08:07] rdesgroppes opened #6330 "[sbt 1.5.0-M2] Can't use `inputFileChanges` nor `inputFiles` without warnings"
## steps

Have a source code generator using either `inputFileChanges` and/or `inputFiles`.

## problem

[code]

## expectation

Either no warning (treated as errors in my case), or a warning telling what to do instead.

## notes

https://www.scala-sbt.org/1.x/docs/Migrating-from-sbt-013x.html#slash doesn't give any hint on how to replace `inputFiles` and `inputFileChanges` macros with the slash s

[2021-02-22 08:48] ngbinh commented on #5166
Thanks for the pointer. Will try to find sometime to work on this

[2021-02-22 14:09] SethTisue opened #6331 "sbt 1.5.0-M2 + Scala 3.0.0-RC1 always tells me I need JCenter even when I have it"
`build.sbt`:

[code]

`project/build.properties`:

[code]

`S.scala`:

[code]

then:

[code]

the JCenter warning is issued even though I have already followed its advice.

[2021-02-22 14:20] jastice commented on #6279
Is the `sbt server is already booting. Create a new server? y/n` message new? In that case IntelliJ wouldn't be prepared to handle it. Should it be? Or would some launch option fix the problem?

So far running multiple sbt sessions usually "worked" in most circumstances.

[2021-02-22 15:07] eed3si9n commented on #6330
@rdesgroppes Thanks for the report!

[2021-02-22 20:02] anthonyemerson commented on #6324
My apologies this can be closed, I had completely forgot that in SBT 1.2.8 both logs (foo.xml and TEST-foo.xml) were being generated so to cut back on excess noise we had a script cleaning up the TEST- log files.

[2021-02-22 20:02] #6324 closed, assigned to nobody

[2021-02-22 22:29] sideeffffect commented on #6101
Btw this happens because in `BootServerSocket.newSocket`, either `Files.deleteIfExists` or `new UnixDomainServerSocket` throws an `IOException`. We just don't know what exceptions it is and what it signifies.
https://github.com/sbt/sbt/blob/ab2875e83723b750c3fc0269e80a231442e99d4f/main-command/src/main/java/sbt/internal/BootServerSocket.java#L336-L350

[2021-02-23 09:33] molotch commented on #6318
These steps works, not sure if the locations, filenames or all files are necessary or not but hey, at least it works with JFROG Artifactory basic authentication.
_______________
Create a file named _.credentials_ and save in the %USERPROFILE%/.ivy2 and %USERPROFILE%/.sbt folders.
[code]
Create a file named _.sbtconfig_ and save in your %USERPROFILE% folder.
[code]

Create a file named _repositorie

[2021-02-23 11:30] YulawOne commented on #5390
It was a bug with our plugin, but was hard to identify due to silent behavior of coursier

[2021-02-23 11:30] #5390 closed, assigned to nobody

[2021-02-24 08:58] adpi2 opened #6333 "[BSP] Server running message fills the shell"
## steps

This  bug is not related to BSP but it happens a lot when using BSP in Metals or IntelliJ and `sbtn`.

1. Create an sbt project with many projects
2. Open `sbtn`
3. Import the project in Metals or IntelliJ using BSP

## problem

The sbtn client prints the `sbt server is running <command>` message many times in row (once for each command). When the message fills the shell it gives a bad i

[2021-02-24 09:07] adpi2 opened #6334 "[BSP] Useless "Processing" logs when processing BSP commands"
## steps

1.Open an sbt project with Metals using BSP
2. Open the `View > Output` panel and select `Metals` in the drop down list

[code]

## problem

sbt sends many `Processing` logs to Metals which are not useful at all.

## expectation

Either the logs should contain more useful details or they should be made silent.

## notes

When sbt processes a BSP command it does not send the logs of that

[2021-02-24 16:25] #6331 closed, assigned to adpi2

[2021-02-24 17:01] smarter opened #6338 "sbt should try to recover from a corrupted target/ or ~/.sbt directory"
Out of ~210 students starting a class at EPFL today using sbt 1.4.7, at least two had issues related to corrupted files in their target/ directory which prevented them from using sbt until I told them to clean that directory:
![cor0](https://user-images.githubusercontent.com/63430/109036559-05efb900-76ca-11eb-9b11-6178299d6ead.png)
[code]
I have no idea how this happens (hardware issue?) but since

[2021-02-24 18:31] eed3si9n commented on #6338
@smarter Thanks for the report. I guess first thing we should look into is make sure the metabuild automatically gets invalidated when sbt version changes.

[2021-02-25 10:04] nesc58 commented on #6212
For me adding `allowInsecureProtocols` is not working on windows 10.

Using e.g. sbt `1.3.12` everything works fine
using sbt `1.4.7` it fails with `switch to HTTPS or opt-in as ("snapshots" at "http://foo.bar.com/libs-local-snapshots").withAllowInsecureProtocol(true), or by using allowInsecureProtocol in repositories file
[error] java.lang.RuntimeException: insecure protocol is unsupported`

Laun

[2021-02-25 20:28] ScalaWilliam commented on #6101
Another note- I had an sbt instance freeze up (not sure of the cause), then launched another one (not necessarily killing the frozen one), and got this.

[error] server failed to start on local:sbt-server-386a8f86ab975e22a6f0. java.io.IOException: Could not create lock for \\.\pipe\sbt-server-386a8f86ab975e22a6f0_lock, error 5

this is purely on native Windows CLI.

[2021-02-26 11:17] nunotmalheiro opened #6339 "[sbt 1.5.0-M2] testing a project after a source change results in exception"
## steps

1. Create an sbt 1.5.0-M2 project, with scala 3.0.0-RC1 and with scalatest or munit libraries
2. Add an A object in main/scala:

[code]

3. Add a testA object in test/scala (munit or scalatest):

[code]

4. test on sbt, and it will test without problem
5. change the source of the testA file to, for instance:

[code]

6. test again on sbt and it will fail with an exception

## problem

Th

[2021-02-26 17:47] eed3si9n commented on #6339
I think this is a duplicate of https://github.com/sbt/zinc/issues/964, which @adpi2 fixed in https://github.com/sbt/zinc/pull/965

[2021-02-26 17:47] #6339 closed, assigned to nobody

[2021-02-26 18:31] Diliprajgor opened #6340 "sbt Clean & assembly step sometime takes very long time"
## steps

`sbt clean compile assembly` takes very long time

## problem

sometimes clean itself takes ~960s but some times rungs very fast
but the assembly step is always takes at least 45 mins to complete.
i am using sbt 1.2.8
open jdk 8 with hotspot

![image](https://user-images.githubusercontent.com/20231965/109339971-43b12680-781d-11eb-997a-9376a1dd4297.png)

![image](https://user-images.githu

[2021-02-26 20:30] eed3si9n commented on #6340
If this is mostly about sbt-assembly, let's move this to sbt/sbt-assembly.

[2021-02-27 19:02] #6333 closed, assigned to nobody

[2021-02-28 16:33] SchrodingerZhu opened #6343 "Handle Annotation Processor in Mixed Compilation Mode."

[2021-02-28 17:41] brian-muse opened #6344 "SBT install fails on CentOS7"
## steps

Follow the steps described here for RHEL and other RPM distrobutions: https://www.scala-sbt.org/1.x/docs/Installing-sbt-on-Linux.html

## problem

Yum can't create a secure connection to sbt.bintray.com/rpm so it fails on install:
![image](https://user-images.githubusercontent.com/66379035/109427790-03d77400-79c2-11eb-92dc-faa8b22645e8.png)

## expectation

SBT is installed
## notes

I'm

[2021-02-28 18:27] cbcoutinho commented on #6344
Same issue on openSUSE using the RPM package on bintray

[code]

[2021-02-28 19:00] brian-muse commented on #6344
This issue is resolved for me now.

[2021-02-28 19:00] #6344 closed, assigned to nobody

[2021-02-28 23:12] eed3si9n commented on #6343
@SchrodingerZhu Could you follow the bug reporting format please? https://github.com/sbt/sbt/blob/develop/CONTRIBUTING.md#issues-and-pull-requests
If there's no reproduction steps, it would be an extra effort for the maintainers or contributor to reproduce it and more likely not gonna happen.

[2021-03-01 10:44] adpi2 opened #6345 "[BSP] Changing the test working directory alter the build target"
According to the [sbt documentation](https://www.scala-sbt.org/1.x/docs/Forking.html#Change+working+directory), one can change the test working directory by setting `Test / baseDirectory`:

[code]

This change also affects the BSP `baseDirectory` field of the test build target which in turn might cause an import failure in IntelliJ (see for example https://youtrack.jetbrains.com/issue/SCL-18759).

[2021-03-01 18:51] hartmut27 commented on #3187
as a work-around using ```Scala 2.13.4``` with SBT & bloop/BSP I do a ```rm -rf .bloop/{myprojectname}``` each time, then ```Symbol X is missing from the classpath``` disappears. In the most cases  this problem occurs, when I do refactorings, say: moving source code fragments from one to another class in a different folder. (It happens even more often, when the package object at root level of an p

[2021-03-02 02:36] nafg commented on #6088
Any chance of doing something for 1.5.0?

[2021-03-02 19:39] ianknowles commented on #6176
Import doesn't work in IntelliJ 2020.3 when IntelliJ is managing SBT (1.4.7) and JDK (12) installs. The only way to successfully import a BSP project is to install standalone versions and include them on system PATH. Otherwise you get the unhelpful `[info] server was not detected. starting an instance` message followed by `Problem executing BSP job.`

Jetbrains issue https://youtrack.jetbrains.com

[2021-03-02 22:40] ScalaWilliam commented on #6101
Just got this in IntelliJ, native Windows SBT.
![image](https://user-images.githubusercontent.com/2464813/109724946-4f4b7700-7ba8-11eb-8a68-81b0c093255c.png)

[2021-03-03 00:15] steinybot opened #6346 "Cancelling the run task doesn't interrupt the thread"
## steps

Reproduction here: https://github.com/steinybot/bug-reports/tree/sbt/sigint

sbt version: 1.4.7

[code]

1. `sbt run`
1. Press CTRL+C

## problem

The task stops waiting but the thread continues.

## expectation

The thread should be interrupted.

## notes

[2021-03-03 08:27] adpi2 commented on #6176
@ianknowles In the coming 1.5.0 version of sbt, we use the `--sbt-launch-jar` option to start the sbt server using the IntelliJ managed version, whether sbt is on the path or not.

You can try it out:
1. set `sbt.version=1.5.0-M2` in you `project/build.properties` file
2. remove the `.bsp` folder
3. Re-import the project in IntelliJ: `File > New > Project From Existing Sources... > Select your pro

[2021-03-03 10:34] adpi2 opened #6347 "Cannot run scripted on a nightly version of sbt"
## steps

1. Create an sbt build with
[code]
2. Create a project, enable the `ScriptedPlugin` and add the `sbt-maven-snapshot` resolver
[code]
3. Run `sbt "foo / scripted"`

## problem

It fails because the `sbt-launch` jar is not available:

[code]

Indeed the nightly build does not publish the `sbt-launch` jar automatically.

## alternative solution

We can use a stable version of the launcher a

[2021-03-03 13:10] eed3si9n commented on #6088
It's not on my priorities but I'd merge it if someone wants to work on it.

[2021-03-03 14:37] smarter commented on #6338
I've also seen had two students now where sbt failed to find its own classes:
![sbtcnf](https://user-images.githubusercontent.com/63430/109821402-3ab5c000-7c36-11eb-9211-d85c7ae47ee2.png)
I was able to confirm at least in one case that deleting `~/.sbt` fixed the problem.

[2021-03-03 16:16] Jasper-M opened #6348 "Scala 2.13.5 REPL is flooded with JLine warnings on tab completion"
## steps

project/build.properties
[code]
build.sbt
[code]
Go to the REPL with `consoleQuick`
[code]
## problem

Scala 2.13.5 is built against JLine 3.19.0. Support for color name "default" was [added](https://github.com/jline/jline3/commit/e2b6f97ed0ebceb3c909415baeba71c72f819c37#diff-53e79ac2c49a6ccc4bb8dd3884e9d8e08ef9f936fd050ecde4f4f0b237469780R80) in JLine 3.18.0. So it looks like an older a

[2021-03-03 21:20] steinybot opened #6349 "Confusing error that value can only be used inside a macro"
## steps

Reproduction: https://github.com/steinybot/bug-reports/tree/sbt/unexpanded-macro

sbt version: 1.4.7

[code]

1. Run `sbt`

## problem

You can get a confusing error:
[code]

## expectation

No error.

## notes

Specifying the type explicitly seems to workaround the problem:
[code]

[2021-03-03 21:36] steinybot opened #6350 "Confusing error: Could not find proxy for val"
## steps

Reproduction: https://github.com/steinybot/bug-reports/tree/sbt/proxy-for-val

sbt version: 1.4.7

[code]

## problem

Confusing error:
[code]

## expectation

No error.

## notes

Workaround is to use a dynamic setting:
[code]

[2021-03-04 14:41] eed3si9n commented on #6348
@Jasper-M Thanks for the report. sbt itself uses JLine 3.17.1

https://github.com/sbt/sbt/blob/33e2bfe2810246c8e4e1b37ec110d15e588a4fce/project/Dependencies.scala#L88-L93

so maybe that's related?

[2021-03-04 14:49] eed3si9n commented on #6349
That sounds like the error is coming from Scala compiler's RefCheck phase:
https://github.com/scala/scala/blob/48c9a3976645d41bbb285ce18cd848e96a9df4a3/src/compiler/scala/tools/nsc/typechecker/RefChecks.scala#L1726-L1728

If the workaround is put more type ascription, then maybe it's a compiler bug?

[2021-03-04 15:49] maffstephens commented on #6101
For a bit of added context, I'm also seeing the same problem if I run sbt on Linux Mint in VirtualBox, on a Windows 10 host, using the win10 filesystem. The "force start" workaround doesn't make any difference.  From asking around, I'm getting the impression this is happening to a *lot* of people.

[2021-03-04 16:14] Jasper-M commented on #6348
I suspect that's the reason. But that would mean that sbt and the compiler need to sync their JLine versions. And users would have to sync their sbt and compiler versions. And then there's cross-building...

[2021-03-04 16:18] sideeffffect commented on #6101
@eed3si9n would you, as an sbt steward, reconsider this PR https://github.com/sbt/sbt/pull/6104 ? Or would you be open to a "less invasive" PR that would at least debug-log the caught `IOException`?

Now the situation for sbt users is difficult, because they cannot debug this issue nor report properly on this issue to sbt developers. They have no way to understand what is going on, what is causing

[2021-03-04 16:49] eed3si9n commented on #6348
Yea. sbt takes over the console's standard in and out for sbtn, and there's a flag we asked JLine 3 to add, so we were for a while taking over the version Scala uses. That logic probably needs to be changed for more recent versions of Scala?

[2021-03-04 16:59] eed3si9n commented on #6101
@sideeffffect Sure. Let's do it. I'm actually open to displaying the error message as part of "sbt server is already booting" without prompting the user to type `e`.

[2021-03-04 17:48] sideeffffect commented on #6101
PR opened https://github.com/sbt/sbt/pull/6353 :crossed_fingers:

[2021-03-05 09:21] vkonarola commented on #6200
I am facing the exact same issue described here. I wonder why this was closed without a solution

[2021-03-05 09:22] vkonarola commented on #6200
I am using play framework 2.3 and Scala 2.11.0. I am not sure how do I force sbt to use the resolver specified in the project/plugins.sbt

[2021-03-05 10:24] milahu commented on #6200
seems to be a server problem, i solved it by replacing

[code]

with

[code]

in `project/plugins.sbt`

your library may need a different server

[2021-03-05 10:56] vkonarola commented on #6200
Seems to be a different case for me because I am not using the plugin `sbt-pgp`. Attached screenshot of my `plugins.sbt`
![image](https://user-images.githubusercontent.com/63105159/110106564-d75f9580-7dcf-11eb-88c0-7ed4a45c1f88.png)

[2021-03-05 11:44] milahu commented on #6200
[let me google that for you](https://googlethatforyou.com?q=%22sbt-play%22)

[2021-03-07 03:14] MasseGuillaume opened #6361 "Can't publish on google artifact registry"
## steps

sbt 1.5.0-M2

[code]
publish

## problem

403

## expectation

200

## notes

<details>
<summary>Stack trace</summary>
<p>

[code]

[2021-03-07 03:19] MasseGuillaume opened #6362 "Can't have a FileCredentials without realm"
## steps

cat ~/.sbt/.credentials
host=example.org
user=username
password=password

## problem

sbt
sbt:hello> publish
[warn] realm not specified in credentials file: /home/gui/.sbt/.credentials
[warn] realm not specified in credentials file: /home/gui/.sbt/.credentials
[warn] realm not specified in credentials file: /home/gui/.sbt/.credentials

## expectation

it should be equivalent to

[code]

[2021-03-07 05:29] #6362 closed, assigned to nobody

[2021-03-07 07:02] MasseGuillaume commented on #6361
Ok I figure this one out, it looks like ivy HTTP client does not do preemptive check. This repo solves the problem: https://github.com/SupraFii/sbt-google-artifact-registry/blob/cd821c9e1f1cf58b71cdd15b4548312964fc5f21/src/main/scala/ch/firsts/sbt/gar/ArtifactRegistryRepository.scala#L35-L39

[2021-03-07 07:02] #6361 closed, assigned to nobody

[2021-03-07 08:58] #6315 closed, assigned to nobody

[2021-03-07 16:15] ahmetlekesiz opened #6365 "sbt console does not show while I am typing"
## steps

Invoke sbt in terminal

## problem

I am able to type and get result after entering the input but I can not see while I am writing.

## expectation

I want to see what I am typing.

## notes
The console is working as expected when I invoke sbt as follows: `sbt "-Djline.terminal=none"`.
However the problem occurs when I invoke by `sbt`.

* sbt version: 1.4.7
* java version: openjdk versio

[2021-03-07 16:40] eed3si9n commented on #6365
@ahmetlekesiz Thanks for the report. Could you provide more details so we can reproduce this on our machines.

For instance,
- How did you install sbt? (are you using the official launcher or one of the fake ones?)
- Is this your first time using sbt on the machine, or did this issue start recently?
- What terminal program are you using and what is the TERM environment variable?

[2021-03-07 16:50] ahmetlekesiz commented on #6365
Sure @eed3si9n. Thanks for fast reply.
* I have installed sbt by using Homebrew 3.0.3
* It is the first time that I am using sbt on this machine.
* I have faced with this issue while using default terminal of Mac and tried iTerm but could not solve the problem.
* TERM=xterm-256color

[2021-03-07 16:54] ahmetlekesiz commented on #6365
I thought the problem is caused by the Homebrew, however I have seen that someone faced with similar issue with sdkman. #4021

[2021-03-07 19:04] #6348 closed, assigned to nobody

[2021-03-07 19:04] #6161 closed, assigned to nobody

[2021-03-07 20:38] eed3si9n commented on #6365
Works for me using Terminal.app.

[code]

I guess another question is: are you using Intel mac or Apple Silicon (AArch64) M1.

[2021-03-07 20:49] ahmetlekesiz commented on #6365
I use Intel mac. I will reinstall the sbt and let you know if it is still an issue.

[2021-03-07 20:57] ahmetlekesiz commented on #6365
@eed3si9n May I learn how did you install sbt?

[2021-03-07 21:40] eed3si9n commented on #6365
I use sdkman.

[2021-03-07 21:42] MasseGuillaume opened #6369 "libraryDependencies of the meta build are not available for coursier"
I'm trying to add support for Google Cloud Artifact Registry in Coursier (https://github.com/coursier/coursier/issues/1987)

I added a library in `project/plugins.sbt` with a class that Implements `java.net.URLStreamHandlerFactory`

[code]

I added a resolver in `build.sbt`:

[code]

When I run the update task, coursier is not able to load the dependencies with [CacheUrl](https://github.com/coursi

[2021-03-07 22:40] eed3si9n opened #6370 "Remove Bintray from release process"
Release directly to Sonatype OSS.

### Compatibility note

Today we release the sbt-launcher JAR **twice** under
https://repo1.maven.org/maven2/org/scala-sbt/sbt-launch/1.4.7/:
- https://repo1.maven.org/maven2/org/scala-sbt/sbt-launch/1.4.7/sbt-launch-1.4.7.jar
- https://repo1.maven.org/maven2/org/scala-sbt/sbt-launch/1.4.7/sbt-launch.jar

I think this goes back to the early days when we used to t

[2021-03-08 10:53] giannoug opened #6372 "java.lang.NoClassDefFoundError when importing project in IntelliJ"
## steps

We have a project running (happily) with sbt 1.4.7. After updating to 1.4.8, we are getting an exception in IntelliJ when reloading the project.

## problem

When reloading the project in the IDE, we are getting the following exception in "sbt shell" window:
[code]

## expectation

It should reload as expected.

## notes

[2021-03-08 11:03] giannoug commented on #6372
Really weird, but I managed to overcome this issue by reverting to the previous sbt version (1.4.7), reloading the project and then bumping it up to 1.4.8. It worked this way.

After I did a "File" > "Invalidate Caches / Restart" on IntelliJ, I got again the original error while trying to reload the project with 1.4.8.

[2021-03-08 14:50] jrudolph commented on #6197
I'm closing this. It seems this line has issues regardless of sbt or Scala version. It seems to be one of those issues where implicit resolution depends on definition order. I guess in our case sbt 1.4.4 might have supplied sources in a different order or git checked files out in a different order so that they were enumerated in a different order, etc.

We can fix the problem in question locally.

[2021-03-08 14:50] #6197 closed, assigned to nobody

[2021-03-08 14:55] eed3si9n commented on #6372
@giannoug Thanks for the report. I upgraded the JLine version for 1.4.8 so that's probably related.

[2021-03-08 15:24] mr-git commented on #6372
is it because JLine is not published or dependency is incorrectly loaded/assumed by IDEA?

[2021-03-08 15:29] mr-git commented on #6372
just in case, cross-linking with https://youtrack.jetbrains.com/issue/SCL-18779

[2021-03-08 16:49] MasseGuillaume commented on #6369
Hum, maybe it's just like that. I found an alternative solution in:

They specify dependencies for scalafix explicitly and create a classloader for it:

https://github.com/scalacenter/sbt-scalafix/blob/1eeafe2df0c86a3cf4d90137cc3d2c00adb8b407/src/main/scala/scalafix/sbt/ScalafixPlugin.scala#L75

[2021-03-08 18:22] ScalaWilliam commented on #6101
Tried 1.4.8, which has the exception debug. Thanks so much for including it.

I managed to get a bit more information on the issue:
In particular, IntelliJ was reloading the project, and I booted up an sbt shell at the same time. This is what I got:

[code]

What is \\.\pipe? Does it get removed somehow? Error 5 looks like an access error.

[2021-03-08 18:26] ScalaWilliam commented on #6101
Also got this in sbt shell after restarting it.

[code]

Only happens in IntelliJ's SBT Shell. Clearing project/target has no effect.

Outside of the SBT Shell, in the CLI, works just fine.
Removed ~/.sbt/boot, still get this error.

Reverting back to 1.4.7 works just fine on SBT shell.

[2021-03-08 18:58] pjfanning commented on #6372
I got this too -- sbt-release plugin asks for command line input about version numbers and the error happens then

[2021-03-08 18:58] eatkins commented on #6330
I was recently wondering if any builds actually use these apis and was glad to see that at least someone is! I pushed a fix for this issue in #6373.

[2021-03-08 20:41] #6330 closed, assigned to nobody

[2021-03-09 04:27] eed3si9n commented on #6372
sbt 1.4.x includes both JLine 2 and JLine 3, and our fork of JLine 2 uses JAnsi matching with JLine 3.
This became incompatible when I bumped to JLine 3.19.0 without bumping JLine 2 fork.

[2021-03-09 04:28] eed3si9n commented on #6101
`\.\pipe...` is a named pipe.

For the second issue please see https://github.com/sbt/sbt/issues/6372.

[2021-03-09 06:51] eed3si9n commented on #6372
Here's a fix for this - https://github.com/sbt/sbt/pull/6376

[2021-03-09 07:18] joesan opened #6377 "Travis CI Build Fails with Checksum After Upgrade to sbt 1.4.8"
## steps

For one of my project, I',m using Scala Steward and Mergify and I got a PR which was about upgrading to sbt 1.4.8

## problem

As soon as it ran through the Travis CI, it fails with the following message:

[code]

## notes

Here is the link to my project: https://github.com/joesan/plant-simulator

[2021-03-09 08:03] hedefalk commented on #3498
I've just encountered this too. While trying the middlestep of building an internal plugin under `/project`, I've stuck runtime dependencies under the meta project under `project/src/main/java`. These are finely built to `project/target/scala-2.12/sbt-1.0/classes/`. Trying to reach them from my own code in `project/Test.scala` works fine:

[code]

However, we're using a library dependency (https:/

[2021-03-09 09:50] AlexisBRENON commented on #2853
No idea what is the best solution but this feature could be nice, at least to separate test results from integration test results.

[2021-03-09 12:15] note opened #6379 "sbt-errors-summary does not work with sbt 1.4.8"
## steps

Add sbt-errors-summary to your project (in my case it's a global plugin):

[code]

## problem

Sbt project couldn't be loaded. I am getting:

[code]

## expectation

I would expect my project to load

## notes

It works just fine if I don't include `sbt-errors-summary`.

I remember there were similar (at least on a surface level) issues with `1.4.0`: https://github.com/sbt/sbt/issues/593

[2021-03-09 14:43] #6372 closed, assigned to nobody

[2021-03-09 14:46] #6334 closed, assigned to nobody

[2021-03-09 14:50] eed3si9n commented on #6377
That's because Travis CI doesn't use the official `sbt` script + launcher, but instead use an outdated version of an official script called sbt-extras. This problem has been addressed in https://github.com/paulp/sbt-extras/pull/305.

In the meantime, my recommendation is to migrate to the official `sbt` script. The release note includes the instruction for this - https://github.com/sbt/sbt/release

[2021-03-09 14:50] #6377 closed, assigned to nobody

[2021-03-09 14:57] eed3si9n commented on #6379
@note Thanks for the report! We did break `foldMappers` method but it's also a `private[sbt]` so 🤷 ?
I suggest you open this issue under sbt-errors-summary.

[2021-03-09 14:57] #6379 closed, assigned to nobody

[2021-03-09 15:59] hedefalk commented on #3498
This is a minimal repro for what I'm trying to achieve:

https://github.com/hedefalk/sbt-issue-3498/

There's a class Foo defined under consumer/project and then there's a library that _I think_ should be able to get that class by:

[code]

There's a plugin under consumer/project that looks like this:

[code]

Output:

[code]

To repro, checkout and

[code]

[2021-03-09 16:00] joesan commented on #6377
I did setup my travis ci to reflect the official sbt script, but now I get the following error:

`Error: Could not find or load main class @.etc.sbt.sbtopts`

[2021-03-09 16:36] note commented on #6377
@joesan The fix from release notes worked for me. You can see a fix for my project here: https://github.com/note/dhallj-magnolia/pull/8

[2021-03-09 17:00] eed3si9n commented on #6377
@joesan Make sure to override `SBT_OPTS` environment variable:

[code]

or

[code]

[2021-03-09 17:06] eed3si9n commented on #2853
@ashleymercer sorry I didn't see the comment earlier.

I guess we can think of `test-reports` as dependency configuration name + `-report`, and generalize it based on the principle. `IntegrationTest` should then be `/it-reports` automatically.

[2021-03-09 17:08] joesan commented on #6377
I have it already, but still it fails! - https://github.com/joesan/plant-simulator/blob/master/scripts/travis_sbt_script.sh

[2021-03-09 17:20] mr-git commented on #6372
thank you for quick diagnostics and fix!

will we get 1.4.9 or 1.4.8.1 soonish or fix will get only in 1.5.0?

[2021-03-09 17:21] gabrieljones opened #6381 "30+ minutes between [info] [launcher] getting org.scala-sbt and first download"
## steps

1. Fork https://github.com/typelevel/spire
2. Add the bare minimum to get this to run from corporate Nexus proxy
3. Run on corporate Jenkins cluster
[code]

## problem

30+ minutes elapses between the first two build log entries

[code]

## expectation

Log entries indicating what is going on for 30 minutes between these two events

## notes

`--debug` does not illuminate the 30 minute s

[2021-03-09 17:27] eed3si9n commented on #6372
1.4.9 soonish since it's hitting a bunch of ppl.

[2021-03-09 18:16] joesan commented on #6377
Seems not to work if I have it as a script file. As soon as I added it as is to my .travis.yml, it kind of passed.

[2021-03-09 20:55] eed3si9n commented on #6381
Do you have `-Dsbt.override.build.repos=true` on? https://www.scala-sbt.org/1.x/docs/Proxy-Repositories.html

Otherwise you could be attempting to hit Maven Central and timing out.

[2021-03-09 22:55] gabrieljones commented on #6381
Yes I have
[code]
in a `.sbtopts` file

[2021-03-09 23:05] gabrieljones commented on #6381
I am also using the sbt-extras sbt script, with a single line modification that changes:
[code]
to point to our internal Nexus proxy

My understanding is that the long silence is occurring after execution has passed from the extras script to the downloaded sbt launcher.

[2021-03-10 05:13] eed3si9n commented on #6372
sbt 1.4.9 is out - https://github.com/sbt/sbt/releases/tag/v1.4.9

[2021-03-10 10:26] vincenzobaz opened #6383 "Dependency version overwritten incorrectly"
## steps
`project/build.properties`
[code]

`prject/plugins.sbt`

[code]

`build.sbt`

[code]
`showDependencyTree`

## problem

The dependency tree shows a dependency on `org.scala-lang:scala-reflect:2.12.10`

## expectation

The dependency tree shows a dependency on `org.scala-lang:scala-reflect:2.13.5`

## notes
The same issue occurs with  `sbt.version=1.5.0-bin-20210310T081905`.

If `scalaVersi

[2021-03-10 14:17] cchepelov opened #6384 "sbt fails to locate an sbt plugin from private Nexus in Maven mode, when Nexus enforces consistency"
## steps

1. publish a plugin to a Sonatype Nexus instance.

  * Due to corporate policy which enforces strict Maven consistency in URI paths, the plugin build includes traditional steps such as
[code]

but it also includes various tweaks to `moduleSettings`, `artifactName` and `pomPostProcess`, in order to publish to
   https://nexus.private/repo/org/path/to/my-plugin_2.12_1.0/1.2.3/my-plugin_2.1

[2021-03-10 14:31] vincenzobaz commented on #6383
Not an sbt issue. More info [here](https://issues.apache.org/jira/browse/SPARK-34507)

[2021-03-10 14:31] #6383 closed, assigned to nobody

[2021-03-10 16:08] cchepelov commented on #6384
Found a workaround !!!!!

[code]

it was kind of obvious by looking at the surprisingly simple code under addSbtPlugin()'s implementation. Shoulda done this earlier.

[2021-03-10 21:15] eed3si9n commented on #6384
@cchepelov Did you wipe out the extra somehow when you published it? This might be a good workaround to document since we publish sbt major versions so infrequently.

[2021-03-10 21:34] cchepelov commented on #6384
Yes, I need to go back to my plug-in, clean up and minimize the mess, and
will document that.

Le 10 mars 2021 22:16:21 eugene yokota <notifications@github.com> a écrit :

[2021-03-10 22:52] steinybot opened #6385 "JLine fails version compatibility check when upgrading from 1.4.8 to 1.4.9"
## steps

In [sbt-scala2plantuml](https://github.com/BotTech/scala2plantuml) I am using [sbt-version-policy](https://github.com/scalacenter/sbt-version-policy) to check my version numbers.

Scala Steward just submitted a PR to upgrade sbt from 1.4.8 to 1.4.9 and the [CI build failed](https://github.com/BotTech/scala2plantuml/pull/22/checks?check_run_id=2073951709).

I haven't had a chance to look

[2021-03-11 05:13] eed3si9n commented on #6385
I upgraded JLine 3 in 1.4.8. I'm not sure if sbt-version-policy would be ok with that upgrade either since it probably introduced new methods in a patch version. I did so because Scala 2.13 did so in the patch release. I could've waited till 1.5.0 to fix `console` for the Scala 2.13.5 (https://github.com/sbt/sbt/issues/6348), but it felt like it's relatively safe thing to do.

In any case 1.4.9 is

[2021-03-11 17:06] eed3si9n commented on #6243
This was fixed in upstream by @chimmi - https://github.com/coursier/coursier/pull/1972, and released as Coursier 2.0.13.

[2021-03-11 17:49] shea-hawkins commented on #896
@harrah what a narrow-minded and frankly misunderstood view of this problem. We're asking for a clean that cleans "all generated, downloaded, compiled, or otherwise derived artifacts". I'm not sure what images have to do with anything.

[2021-03-11 18:38] eed3si9n commented on #896
@shea-hawkins

This is a reminder that all communication under GitHub sbt/sbt is covered under Scala Code of Conduct - https://www.scala-lang.org/conduct/

At-mentioning a comment from 2013 with this comment is simultaneously abusive and misses the point of the original comment. `sbt`-the-script invokes a launcher, which automatically resolves sbt artifacts under boot. The build would trigger reso

[2021-03-12 07:06] japgolly opened #6387 "`watchTriggers` doesn't work with `..` in a glob path"
`watchTriggers` doesn't work with `..` in a glob path.

When I add below to my build and run `~compile` it never detects my changes in my `.../scala-3` directory.

[code]

Running with `sbt --debug` I can see that when a file changes, the watch machinery isn't triggered. No debug logging is printed at all.

However the `watchTriggers` setting to remove the `..` like below, makes it all work

[code

[2021-03-12 08:49] adpi2 opened #6388 "[1.5.0] Binary version warning between Scala 3.0.0 and 2.13"
## steps

[code]

[code]

## problem

sbt warns about the binary version of scala-reflect being 2.13.4

## expectation

no warning since 2.13.4 is binary compatible with 3.0.0-RC1

## notes

The log is coming from here:

https://github.com/sbt/librarymanagement/blob/b280c2b0b001f185b0cc59d395d8986838523495/ivy/src/main/scala/sbt/internal/librarymanagement/IvyScalaUtil.scala#L151-L155

[2021-03-12 15:26] marconilanna opened #6389 "Breaking change: sbt 1.4.9 breaks sbt-errors-summary because it used private[sbt] method"
## steps

Barebones sbt project, just a `project/build.properties` with `sbt.version = 1.4.9` and the following `project/plugins.sbt`:

[code]

## problem

sbt fails to load with the `plugins.sbt` above:

[code]

sbt loads normally if the `plugins.sbt` file is deleted.

## expectation

sbt 1.4.9 should not break existing plugins. The project above loads normally with sbt 1.4.7.

## notes

Relates

[2021-03-12 16:00] eed3si9n commented on #6385
There are multitude of issues here at hand. Please note that I did work on sbt-version-policy last summer https://github.com/scalacenter/sbt-version-policy/graphs/contributors on behalf of Scala Center, especially around this area (such as https://github.com/scalacenter/sbt-version-policy/pull/31), so I might come off a bit harsh, but I'm really trying to clarify the situation that I had some hand

[2021-03-12 16:18] eed3si9n commented on #6389
@marconilanna Thanks for the report. Please check out https://github.com/sbt/sbt/issues/6379.

[2021-03-12 16:18] #6389 closed, assigned to nobody

[2021-03-14 05:55] eed3si9n commented on #6314
I've updated Launcher to use Scala 2.12 (https://github.com/sbt/launcher/pull/82) as opposed to Scala 2.10, and brought in java9-rt-export https://github.com/sbt/launcher/pull/84

[2021-03-14 07:12] #6370 closed, assigned to nobody

[2021-03-14 21:28] #6385 closed, assigned to nobody

[2021-03-15 05:39] eed3si9n opened #6392 "launcher 1.3.0-M1 doesn't work"
[code]

[2021-03-15 06:04] #6392 closed, assigned to nobody

[2021-03-15 08:03] Reeebuuk commented on #6176
For example moving https://github.com/lunatech-labs/lunatech-scala-2-to-scala3-course/tree/main/exercises to 1.5.0-M2 and removing the dotty plugin didn't help for me.
I'm trying to import it as bsp project and getting the error @ianknowles has.

BTW have never run Scala 3 or BSP project so maybe there is something related to that as well?

[2021-03-15 09:11] badeball opened #6394 "Remote caching resurfaces resources with old filenames"
## Steps

[code]

.. then run the command described in the readme and watch Flyway fail.

[code]

## Problem

What happens here is that we prime a remote-cache (local directory) with a database migration. Then we checkout another branch where said migration has been renamed and we delete target directories to simulate another developer. We then pull from the cache, compile and run flyway. This fai

[2021-03-15 09:20] loicdescotte commented on #6384
I have the same issue, the workaround does not work  for me (with sbt-pack plugin).
@cchepelov did you keep the plugins.sbt line too, in addition to the libraryDependencies  ?

[2021-03-15 09:32] cchepelov commented on #6384
To document, the solution I found:

In the plugin:
[code]

and in the consumer side, in `projects/plugins.sbt`; rather than "addSbtPlugin":

[code]

I hope this helps; please report whether it works for you @loicdescotte

[2021-03-15 10:36] adpi2 commented on #6176
@Reeebuuk I tried to reproduce in https://github.com/lunatech-labs/lunatech-scala-2-to-scala3-course/pull/74 and it worked for me.

You can notice that I had to fix the sbt build definition to be able to load sbt.

Does it solve your problem?

[2021-03-15 10:45] bobismijnnaam opened #6395 "cleanFiles only cleans directories, not files"
## steps

sbt version: 1.4.8 (set in `project/build.properties`)

build.sbt:

[code]

Project folder structure:

- testproject
  - build.sbt
  - testfolder
    - testfile

## problem

Calling the `clean` task does not delete `testfile` when only line A is in `build.sbt`.

## expectation

When line B is uncommented, testfile is properly deleted. However, line A _alone_ should be sufficient for incl

[2021-03-15 11:00] Reeebuuk commented on #6176
@adpi2 sorry I wasn't clear enough of where is the issue.
I can also compile it via sbt but intelliJ is getting the error above.

When you say `fix the sbt build definition` what does that imply?

[2021-03-15 11:43] arixmkii opened #6396 "BSP debug session should support Environment Variables"
## steps

1. Add environment variables in `launch.json` in VSCode with Metals.
2. Launch build configuration.

## problem

Environment variables are not available in the started application.

## expectation

Environment variables are available in the started application.

## notes
This works with latest Bloop. Seems it is very recent addition to the protocol and hasn't been implemented in SBT yet.

[2021-03-15 11:59] adpi2 commented on #6176
If you can compile, then it's okay, it should work.

Can you share the content of `.bsp/sbt.json`?

[2021-03-15 12:02] Reeebuuk commented on #6176
Sure no problem.

`{"name":"sbt","version":"1.5.0-M2","bspVersion":"2.0.0-M5","languages":["scala"],"argv":["/Users/reee/Library/Java/JavaVirtualMachines/openjdk-15.0.2/Contents/Home/bin/java","-Xms100m","-Xmx100m","-classpath","/Users/reee/Library/Application Support/JetBrains/IntelliJIdea2020.3/plugins/Scala/launcher/sbt-launch.jar","xsbt.boot.Boot","-bsp","--sbt-launch-jar=/Users/reee/Library/A

[2021-03-15 12:39] adpi2 commented on #6176
I tried again to reproduce using the same sbt version and IntelliJIdea version than yours, but it seems to work.

So maybe you can try to run:
[code]

This is the command that comes from your `.bsp/sbt.json`. You should see something like:
[code]

[2021-03-15 12:42] Reeebuuk commented on #6176
Oho there is some progress...
I have Scala plugin version 2020.3.21 installed.

`reee@Krunoslavs-MacBook-Pro exercises % /Users/reee/Library/Java/JavaVirtualMachines/openjdk-15.0.2/Contents/Home/bin/java -Xms100m -Xmx100m -classpath /Users/reee/Library/Application Support/JetBrains/IntelliJIdea2020.3/plugins/Scala/launcher/sbt-launch.jar xsbt.boot.Boot -bsp --sbt-launch-jar=/Users/reee/Library/App

[2021-03-15 13:22] adpi2 commented on #6176
Ok so clearly sbt does not handle the space in the launch jar path correctly when parsing the option or when launching the server. I am on it.

[2021-03-15 15:47] eed3si9n commented on #6394
@badeball Thanks for the report with a reproduction project.

[2021-03-15 16:17] eed3si9n commented on #6209
@adpi2 This seems like a serious blocker.

[2021-03-15 16:51] adpi2 commented on #6209
Okay, I'll be happy to tackle it this week. Do you have any indication on where the problem can be in the code?

[2021-03-15 17:35] adpi2 commented on #6396
Thanks @arixmkii for opening this issue. Unfortunately the `debugSession/start` is not implementeted natively in sbt. It is provided by a plugin in this repository: https://github.com/scalacenter/scala-debug-adapter

Would you like to contribute there as well?

[2021-03-15 17:39] arixmkii commented on #6396
@adpi2 thank you for the heads up! I will try to implement necessary changes there. Didn't manage to figure out the whole picture on my own in my first try.

[2021-03-15 17:52] eed3si9n opened #6398 "[1.5.0-RC1] @nowarn annotation does not suppress any warnings"
## problem

[code]

This looks some kind of consequence of the 2.12.13 upgrade? Note that `@nowarn` appears nowhere in this repo.

This was caught by the Scala community build.

_Originally posted by @SethTisue in https://github.com/lightbend/mima/pull/608#issuecomment-799619087_

[2021-03-15 17:58] eed3si9n commented on #6398
This is a consequence of me adding blanket `@scala.annotation.nowarn("cat=other-pure-statement")` to `build.sbt` DSL expressions.

I think we need to add no-warn-nowarn suppression thing somewhere.

[2021-03-15 20:40] kubukoz opened #6399 "[1.5.0-RC1] Eviction error fails fast with `dependsOn`"
## steps

1. Define a build with multiple modules, one of which depends on the other one, both of which have dependencies that contain a conflict (as per the new eviction schemes):

[code]

2. Cause library version conflicts in `core` *and* `main`

3. Run `update`

sbt: 1.5.0-RC1

## problem

Only errors from `core` show up:

[code]

## expectation

Errors from `main` also appear. This happens if

[2021-03-15 20:52] arixmkii commented on #6396
@adpi2 I sketched the needed changes in this [commit](https://github.com/arixmkii/scala-debug-adapter/commit/ee4a173878fef7e15622c20f8df3aa1a21fbe174).

It seems that I will need to have sbt release in place first, because I need updated proto. Also, I decided to drop local versions of contraband definitions, as same models are part of sbt proto (current develop, not sure about 1.4.X).

Managed to

[2021-03-15 20:55] arixmkii commented on #6396
And it seems after changes to `sbt-debug-adapter` are released we will need a new release of `sbt-metals` as well (bumping the `sbt-debug-adapter` dependency).

[2021-03-15 20:56] eed3si9n commented on #6209
Type `debug` into the shell to get debug log, and you see

[code]

That looks like the previous Analysis file was not read correctly?

[code]

[2021-03-15 21:13] eed3si9n commented on #6399
`main/update` task depends on the `core/update`. This is a synthetic connection as far as I can tell, but at some point in the history it was requested as a feature https://github.com/sbt/sbt/issues/246, which says that an invalidation of `core/update` must invalidate `main/update`. I think this matters because `update` is not always an immutable, repeatable function. The content of `-SNAPSHOT` ca

[2021-03-15 21:27] eed3si9n commented on #6399
From the performance aspect, however, it might be worth investigating if we can parallelize the `update` task of dependent subprojects.
If `update` takes 10s, and you have 3-level deep subprojects, blocking on the `dependsOn` would mean waiting 20s just to get to the `update`, which is a behavior I've noticed in super shell.

[2021-03-15 22:14] eed3si9n commented on #6101
Could someone check if

[code]

would fix this?

Another potential workaround is using TCP/IP instead:

[code]

This might be ok for Docker, but it could be unsafe for any machines connected to untrusted network.

[2021-03-15 22:35] japgolly commented on #6101
Thanks @eed3si9n , I just tried both settings from within Docker with sbt 1.4.9 and unfortunately it still doesn't work. I should add a caveat though that it's likely that although everyone in this thread is experiencing the same failure, the underlying causes might be different.

In my case, I'm running sbt from within docker, where the main directory is mounted as read-only and the `targetDirect

[2021-03-16 05:30] gavinbaumanis opened #6400 "Unable to compile Play application with 1.5.0-RC1"
## steps

Installed sbt 1.5.0-RC1
Update _build.properties_ with 1.5.0-RC1

Attempt to compile PLAY application.

## problem

Application does not compile, gives following error;

[code]

## expectation

Should compile without failing.

## notes

with 1.5.0-RC1 installed - but 1.4.9 in build.properties - the application compiles / tests fine.

[2021-03-16 08:44] adpi2 commented on #6396
Thanks @arixmkii !

If we do it that way, `sbt-debug-adapter` becomes incompatible with older sbt versions (1.4) which is unfortunate.

Alternatively, I suggest to copy-paste the `ScalaMainClass` contraband schema to the `sbt-debug-adapter` repo as we did for `DebugSessionAddress`. A few months after sbt 1.5 is released we can easily drop and replace those by the native ones.

Yes but you can also

[2021-03-16 10:36] OldManLink commented on #321
Still not working in `sbt 1.3.8` so I'm following this in case anyone decides to reopen it

[2021-03-16 13:58] eed3si9n commented on #321
Please see https://get-coursier.io/docs/ttl and https://github.com/sbt/sbt/issues/5377 if you're hitting it with sbt 1.3.x and above.

[2021-03-16 15:43] loicdescotte commented on #6384
@cchepelov thanks, I thought that you added the libraryDependencies workaround in build.sbt

I also needed to add this in plugins.sbt (like I did in build.sbt):

resolvers +=  "Internal Nexus Repo" at "https://nexus.company.com:8080/repository/maven-releases"

Now the URL resolution is working, thanks, but I have a plugin binary compatibility error, I don't know if it can be related to the workaro

[2021-03-16 17:53] adpi2 commented on #6209
The commit that brought this issue is https://github.com/sbt/sbt/commit/c9ab2ee558e3918ad5dc99fe33a9ae4f7e67c24f

[2021-03-16 19:09] bpossolo commented on #6400
I ran into this problem as well.
Twirl template compilation is broken in sbt 1.5.0 release candidates
https://discuss.lightbend.com/t/apple-silicon-m1-playframework-broken-on-apple-silicon/7924/4?u=bpossolo

[2021-03-16 19:54] arixmkii commented on #6396
That explains why the schema is there. Haven't thought about backward compatibility in this aspect.

This is what I ended up doing to run my end-to-end tests :)

Thank you for your input! It helps me better understand how the things are organized around this functionality. Will try to update PRs this week.

[2021-03-16 19:57] bpossolo commented on #6293
just wanted to voice that coursier has lots of problems so the `useCoursier := false` feature is very helpful

[2021-03-16 22:16] kubukoz commented on #6399
It's an inconvenience (so probably just a lack of a feature). One might think they've solved all the conflicting dependencies because they fixed the last one in a subproject, only to realise another one was depending on that project and its `update` never ran - so next time they run `update` they'll see a bunch of more errors.

So I guess if the parallelization of `update` was possible, we would g

[2021-03-16 22:46] mkurz commented on #6400
I [tried to upgrade the Playframework](https://github.com/playframework/playframework/pull/10760) to 1.5.0-RC1 which [fails as well](https://travis-ci.com/github/playframework/playframework/jobs/491594031#L725).
These are the lines that causes the problem in twirl:
https://github.com/playframework/twirl/blob/1.5.0/compiler/src/main/scala/play/twirl/compiler/TwirlCompiler.scala#L653-L656

@eed3si9n

[2021-03-16 23:19] gavinbaumanis commented on #6400
Hi everyone I logged a bug #6400 for this;

As for is it a bug that twirl has to fix?
(I realise it isn't always this straight forward)
It works in SBT 1.4.9 but doesn't in 1.5.0- sure looks like a 1.5.0 issue
to me.

As always thanks!

[2021-03-17 00:00] eed3si9n commented on #6400
It's hard to tell whose bug it is.

Unlike scala-library, there's no binary compatibility guarantees between the patch versions of scala-compiler. So whenever you call the Scala compiler programmatically, it may or may not work when the Scala version changes. Play here is invoking the compiler programmatically:

[code]

It could turn out that sbt is doing some wrong to break Play, but if sbt 1.5.0

[2021-03-17 00:20] sanjivsahayamrea commented on #6294
Are there plans to move any of the [existing plugins](https://dl.bintray.com/sbt/sbt-plugin-releases/) hosted on Bintray (older versions etc) to Sonatype as well?  https://github.com/foundweekends/giter8/issues/513 affects only new publishes right?

[2021-03-17 01:24] bpossolo commented on #6400
for what it's worth, I've been completely blocked from working on my PlayFramework app partially because of this...

more specifically, playframework + sbt 1.4.* is broken on apple silicon because it uses the methvin file watcher which uses JNA which is broken atm. the maintainer of that library is unable to diagnose because he can't reproduce the issue.

from my understanding, playframework + sbt

[2021-03-17 02:38] SethTisue commented on #6294
@sanjivsahayamrea that's already been answered by Eugene at https://github.com/sbt/sbt/issues/6294#issuecomment-782733993 (TL;DR: no, for good reasons)

[2021-03-17 02:39] sanjivsahayamrea commented on #6294
Thanks @SethTisue , I didn't see that 👍

[2021-03-17 03:10] jroper commented on #6183
I've seen this too in sbt 1.4.9:

[code]

As you can see, it alternates between 2 Java sources and 3 Java sources. This is the second time I've observed this, and the other time the numbers were different, however they did alternate between two numbers like this too.

[2021-03-17 08:28] mkurz commented on #6400
@bpossolo What makes you think that play + sbt 1.5 no longer uses [directory watcher](https://github.com/gmethvin/directory-watcher/)? This is not true, it will be used exactly like in sbt 1.4.

[2021-03-17 08:56] bpossolo commented on #6400
@mkurz oh it was a comment you wrote in another issue
https://github.com/playframework/playframework/issues/10372#issuecomment-738976838

the play run task fails on Apple silicon because of the filewatcher that play uses (io methvin) so when I read that the long term plan is to use sbt’s file watcher I assumed that meant no longer using the methvin one

and in the other thread on Discuss you sugge

[2021-03-17 09:24] mkurz commented on #6400
@bpossolo Replacing directory-watcher/play-file-watcher did not happen yet, there is just this open issue: https://github.com/playframework/playframework/issues/9956 - no work was done so far. You will have the same experience in sbt 1.5 like you have in sbt 1.4, nothing changes. So your hope that sbt 1.5 fixes your Apple Silicon problem wont work out.

The core problem you face is that is seems J

[2021-03-17 09:37] mkurz commented on #6400
@bpossolo What comes to my mind as a workaround is you could try the jdk7 file watcher instead:
[code]
Put that your `build.sbt`. This probably is slower that the native approache because AFAIK it uses polling, but until JNA gets fixed that might work for you.

[2021-03-17 09:48] eugeniyk commented on #5785
Keep having this daily:
![image](https://user-images.githubusercontent.com/3932426/111447991-93aa4b80-8740-11eb-85b8-1fe90d78fa69.png)

sbt 1.4.6, scala 2.12.x

[2021-03-17 10:32] loicdescotte commented on #6384
The workaround is working for me too now, I had to add manually some transitive plugin dependencies.

plugins.sbt :

[code]

[2021-03-17 13:22] adpi2 commented on #6209
The problem seems to be that the `InternalApiProxy` object in `zinc-persist` tries to access the protected constructor of the `Modifiers` in `compiler-interface`. It was working before because `InternalApiProxy` and `Modifiers` lived in the same classloader but it is not the case anymore: `Modifiers` is in the parent loader of `InternalApiProxy`.

https://github.com/sbt/zinc/blob/cb5825fd80d9d6ba9

[2021-03-17 15:51] mkurz commented on #6400
I think I found the problem and the fix is very easy:
So in sbt 1.5.0-RC1 the scala-compiler [got upgraded](https://github.com/sbt/sbt/commit/61a077e3a61c78d3e8bee2b5b3900b6077eed335) from 2.12.12 to 2.12.13.
Currently twirl (v1.5.0) [gets build](https://github.com/playframework/twirl/blob/1.5.0/build.sbt#L62-L63) with Scala 2.12.11, defined [in interplay](https://github.com/playframework/interpla

[2021-03-17 16:34] adpi2 commented on #6176
@Reeebuuk can you try to run this in your project:

[code]

[2021-03-17 16:42] Reeebuuk commented on #6176
Works like a charm.

`[info] started sbt server`

[2021-03-17 20:56] bpossolo commented on #6400
@mkurz yah I'm aware there was risk in buying the new Mac. unfortunately I was in a situation where I had to buy a new computer and buying an intel one felt like throwing money away.
I didn't expect the play/sbt ecosystem to be so dependent on native libraries since java applications tend to be very portable.

thank you for the tip on swapping out the file watcher for pure java implementation! I h

[2021-03-17 21:41] #6209 closed, assigned to adpi2

[2021-03-17 21:44] #6176 closed, assigned to adpi2

[2021-03-18 03:48] xuwei-k opened #6402 "sbt 1.5.0-RC1 throw "java.lang.LinkageError: loader constraint violation in interface itable initialization""
## steps

https://github.com/xuwei-k/sbt-1-5-0-RC1-loader-constraint-violation/commit/d6d6fe3758c03d8d51e04543ca2b67f287a7b4ba

[code]

`sbt -sbt-version 1.5.0-RC1 run`

## problem

https://github.com/xuwei-k/sbt-1-5-0-RC1-loader-constraint-violation/runs/2136627267#step:5:53

[code]

## expectation

Don't throw error

## notes

only 1.5.0-RC1. not throw error with sbt 1.4.9 and 1.5.0-M2

https://

[2021-03-18 04:04] eed3si9n commented on #6402
@xuwei-k Thanks for the report!

I'm not sure which change during https://github.com/sbt/sbt/compare/v1.5.0-M2...v1.5.0-RC1 could be causing this. It looks like something layered ClassLoader related?

[2021-03-18 04:07] xuwei-k commented on #6402
but sbt 1.5.0-RC1 throws same error if `fork / run := true` 🤔 🤔 🤔

[2021-03-18 04:43] bpossolo commented on #6400
@mkurz the jdk7 file watcher works! thank you very much!

[2021-03-18 09:22] adpi2 commented on #6402
You should try with `run / fork := true` instead :wink:

https://github.com/adpi2/sbt-1-5-0-RC1-loader-constraint-violation/pull/2

[2021-03-18 10:59] adpi2 commented on #6402
I am not able to reproduce this bug locally but I forked the repo to get more information about the `LayeredClassLoader` being used:

https://github.com/adpi2/sbt-1-5-0-RC1-loader-constraint-violation/pull/1/checks?check_run_id=2138927608

It looks like this:

[code]

As far as this printing can tell, there is no difference between the classloader used in 1.5.0-M2 and the classloader used in 1.5.0

[2021-03-18 11:33] adpi2 commented on #6402
Actually the problem must be that `sbt-launch.jar` contains a different `coursier/util/Monad.class` than `coursier_2.13-2.0.9.jar`.

In fact `sbt-launch.jar` used to not contain any coursier class in 1.4.9 but now it does:
https://github.com/sbt/launcher/commit/4b81529f6b75fad35feff70ffd78cf9c75dbffdd

@eed3si9n, would it be possible to remove coursier from `sbt-launch.jar`?

[2021-03-18 13:51] adpi2 commented on #6400
The issue appears to be an incompatibility between `twirl` and the `scala-compiler`. I am closing it for now. Feel free to reopen it if you need some changes in sbt.

[2021-03-18 13:51] #6400 closed, assigned to nobody

[2021-03-18 14:29] adpi2 commented on #6350
This is not a bug. The `build.sbt` fails to compile because `sourceDirectores.all(...)` is not know at compiled time, it depends on the runtime value of `c`.

Maybe the error message could be improved though.

[2021-03-18 14:45] #6388 closed, assigned to nobody

[2021-03-18 14:45] eed3si9n commented on #6402
Nice catch! It would be nice to keep Coursier launcher for 1.5.0 either by shading or filtering.

[2021-03-18 19:46] #6398 closed, assigned to nobody

[2021-03-19 15:08] adpi2 opened #6404 "[1.5.0] launcher cannot retrieve sbt 0.13.18"
## steps

1. create project
[code]
2. start sbt with 1.5.0-RC1 `sbt-launch.jar`

[code]

## problem

launcher fails to resolve `sbt-0.13.18.pom`

## expectation

should resolve sbt 0.13.18 jars

## notes

the problem disappears when the cache is already filled

[2021-03-19 15:16] adpi2 opened #6405 "[1.5.0] launcher cannot start 1.3.13 project"
## steps

1. create project
[code]
2. start sbt with 1.5.0-RC1 `sbt-launch.jar`

[code]

## problem

sbt fails to boot

## expectation

sbt should boot

## notes

`java.lang.NullPointerException` is thrown because
[code]

[2021-03-19 15:29] mkurz commented on #6400
Just do let you know this was fixed in twirl version 1.5.1. All I did was updating Scala to latest version 2.12.13 for building the sbt plugin.

[2021-03-19 15:45] #6396 closed, assigned to nobody

[2021-03-19 17:57] #6402 closed, assigned to nobody

[2021-03-20 18:32] eed3si9n commented on #6399
But do you see that making it concurrent (as in semantically independent) would undo the fix for #246?
This could mean that when `core/update` is invalidated for whatever reason, that will no longer trigger `update` invalidation of downstream subprojects. If the `update` is already started, you can't get invalidated. This could result to potentially weird situation where `core` is compiled against

[2021-03-21 02:59] soc commented on #5206
@FireFoxAhri Could you retest after SBT releases a new version that includes the updated directories code?

[2021-03-21 03:05] FireFoxAhri commented on #5206
Of course. I'm waiting the new version.

[2021-03-21 06:11] #6405 closed, assigned to nobody

[2021-03-21 07:24] #6404 closed, assigned to nobody

[2021-03-21 14:22] ScalaWilliam commented on #5206
It is still happening to me, even in 1.5.0-RC1.

[2021-03-21 15:07] ScalaWilliam commented on #5120
@mkurz mentioned in the PR https://github.com/coursier/coursier/pull/2012

[2021-03-21 15:08] ScalaWilliam commented on #5120
@eed3si9n  Is there a reason why coursier keys start with `csr` as opposed to `coursier`? Thinking in terms of discoverability.

When I tried to find the cache directory key, I was typing `coursier<TAB>` and not finding it - then found it looking through SBT sources.

[2021-03-21 15:13] eed3si9n commented on #5120
When we implemented sbt 1.3.x people were using Coursier via sbt-coursier and I did not want the keys to clash.

[2021-03-21 17:24] eatkins commented on #6387
Yeah, I'm not shocked this didn't work. The relevant code for the conversion of a file or path to a glob is here: https://github.com/sbt/io/blob/707ea963a6f98ed1f9275b78e6a94b8dbb3571ef/io/src/main/scala/sbt/nio/file/Glob.scala#L500. I think the `..` would work if the path was normalized first.

I was going to suggest `getParentFile` as a workaround, but I see that you figured that out yourself wi

[2021-03-21 19:22] eed3si9n commented on #6101
I was curious if I can run sbt on Windows Subsystem for Linux (WSL), so I just installed it on my Windows-debug machine with Linux build of AdoptOpenJDK 8, and sbt 1.4.9 ran fine for me:

![ExBprypWQAMYQPo](https://user-images.githubusercontent.com/184683/111917885-95ce1c00-8a58-11eb-8f1f-8706fed0573e.jpeg)

I'm not claiming the non-existence of the bug for other environments and platforms, but I'

[2021-03-21 19:26] sideeffffect commented on #6101
@eed3si9n :+1:

How about the "other" WSL? Does that also work for you out of the box?

[2021-03-21 19:30] eed3si9n commented on #6101
What's the other WSL? Docker? WSL 1? Cygwin?

[2021-03-21 19:36] sideeffffect commented on #6101
Oh, only now I see that you tested on WSL 2, silly me... Than the other would be WSL 1 :smile_cat:
Is that something that some people still use? (I think so, I'm not 100 % sure.)

[2021-03-21 20:03] eed3si9n commented on #6285
I'm dropping the 1.5.0 milestone designation since I don't think it's a blocker.

[2021-03-21 22:51] #6243 closed, assigned to nobody

[2021-03-22 00:56] eed3si9n commented on #5206
I have a PR for this to short-circuit Couriser and use `LOCALAPPDATA` environment variable instead - https://github.com/sbt/sbt/pull/6408

[2021-03-22 03:59] #5206 closed, assigned to nobody

[2021-03-22 09:46] tgodzik opened #6410 "[BSP] Project's classpath does not include Test scoped project dependencies"
## steps

Copied over from: https://github.com/scalameta/metals/issues/2625 :
- Clone this minimal example project: https://github.com/asflierl/project-level-test-dependency.git
- Start SBT & VSCode, switch to SBT as build server and reload the SBT project
- Open the file seriousApp/src/test/scala/SeriousAppSpec.scala
- Remove a few letters from "wibble" in line 12 or "candy" in line 14, then trig

[2021-03-22 15:29] nafg commented on #6088
I would be happy to if you can give me enough guidance, is it still possible?

[2021-03-22 17:09] eed3si9n commented on #6088
sbt 1.5.0 is already on the RC so, I don't want to mess with something like setting loading.

Looking at the code, I'm guessing here's how machine-wide build files are selected - https://github.com/sbt/sbt/blob/v1.4.9/main/src/main/scala/sbt/internal/Load.scala#L143-L144
Put `println(globalSettings)` and experiment?

[2021-03-22 17:25] eed3si9n commented on #6395
@bobismijnnaam Thanks for the bug report and the analysis.
I agree with your expectation that it should be deleted.

I guess the clean task can do a check if the entry is a directory or not here?
https://github.com/sbt/sbt/blob/699ffe57cd4953b5d1e19d4e3f0d4c66156386ff/main/src/main/scala/sbt/internal/Clean.scala#L95-L98

[2021-03-22 17:27] eed3si9n commented on #6410
@tgodzik Thanks for the report!

[2021-03-22 18:59] kubukoz commented on #6399
Yeah, I see it now. Thanks for the explanation :)

[2021-03-22 20:20] bjornregnell commented on #6217
@eed3si9n Does this mean that a simple build.sbt for a *single-project* build (such as most projects of my beginner programmer students) will go away?  I really love to say that they can start with just
[code]
 and then we might add some compiler settings to get warnings and initialCommand with an import for the console as we continue... All this `lazy val root` stuff and `ThisBuild` slash is not

[2021-03-22 21:05] ozars opened #6411 "[DOC] sbt update doesn't necessarily trigger updating to latest snapshots without COURSIER_TTL=0s environment variable"
## steps

N/A

## problem

It's stated in [Dependency Mangament Flow][1] in docs:

However, that's not exactly the current behavior (see https://github.com/sbt/sbt/issues/5377#issuecomment-575748040) due to coursier's caching TTL. It is 24 hours [by default][2]. sbt defaults to coursier [since 1.3.0][3].

[1]: https://www.scala-sbt.org/1.x/docs/Dependency-Management-Flow.html
[2]: https://get-cour

[2021-03-22 22:17] eed3si9n commented on #6411
@ozars Thanks for the report. The whole page probably should be rewritten for modern sbt.

[2021-03-22 22:56] VlachJosef opened #6412 "Munit - test filtering doesn't work when ScalaTest is present in the same project"
## steps

Having this `build.sbt`

[code]

And test file `src/test/scala/example/Spec.scala`
[code]

## problem

When trying to run munit spec with test [filtering](https://scalameta.org/munit/docs/filtering.html)

[code]

ScalaTest's Runner is throwing and `IllegalArgumentException` and test is never run.

[code]

## expectation

ScalaTest's Runner shouldn't throw an exception and Munit Runner sh

[2021-03-22 23:03] eed3si9n commented on #6411
https://github.com/sbt/website/pull/1010

[2021-03-22 23:36] ozars commented on #6411
Thanks for very quick response. The rewrite looks even better.

I've just one question though. Are there any differences between appending `changing()` vs running update task? Or is there any official recommendation between these two?

[2021-03-22 23:37] #6411 closed, assigned to nobody

[2021-03-22 23:44] eed3si9n commented on #6411
`changing()` doesn't add anything. If it's `-SNAPSHOT` it would be treated as a changing thing.

https://github.com/dwijnand/sbt-dynver might be of interest as something like SNAPSHOT.

[2021-03-22 23:49] AugustNagro opened #6413 "Make fork := true The Default"
The JVM starts up very fast these days, and there are many bugs possible from not forking. For example, I just spent 30 minutes trying to figure out why a Vertx endpoint was not being updated.

[2021-03-22 23:54] ozars commented on #6411
I see. Thanks a lot.

[2021-03-23 01:50] nafg commented on #6088
It seems like sbtOn is broken, and running via publishLocal is also not
working.

On Mon, Mar 22, 2021 at 1:10 PM eugene yokota ***@***.***>
wrote:

[2021-03-23 02:04] nafg commented on #6088
running via publishLocal worked on 1.4.9, not on 1.5.0-RC2.

The culprit seems to be https://github.com/sbt/sbt/blob/4b847b148f694d782122b489c254f20187019de3/main/src/main/scala/sbt/BuildPaths.scala#L110

Can we not make 1.5.0 search both ~/.sbt/1.0 and ~/.sbt/1.5?

It could be opt in, but it would have to be globally settable to be useful (e.g. an environment variable or global/user config file)

[2021-03-23 04:55] eed3si9n commented on #6088
You're right that the ABI version should've been called `1`, but I think bunch of functions during sbt 0.13 returned `(Long, Long)` and `sbtBinaryVersion` is also `1.0`.

This is also reflected on URLs like https://repo.scala-sbt.org/scalasbt/sbt-plugin-releases/com.eed3si9n/sbt-assembly/scala_2.12/sbt_1.0/

It depends on the version semantics. For sbt versions specifically, currently the first fu

[2021-03-23 05:56] nafg commented on #6088
Is there any chance I can get any improvement in time for 1.5.0?

On Tue, Mar 23, 2021, 12:55 AM eugene yokota ***@***.***>
wrote:

[2021-03-23 07:30] roohix commented on #6400
I used 1.5.0-RC2 on fresh seed project and got same error :
`
[error] 	/Users/roohi/Library/Caches/JNA/temp/jna13937007856668938576.tmp: no matching architecture in universal wrapper
[error] 	/Users/roohi/Library/Caches/JNA/temp/jna13937007856668938576.tmp: no matching architecture in universal wrapper
`

My jdk version :
OpenJDK Runtime Environment Zulu15.29+15-CA (build 15.0.2+7)

I put @mkurz

[2021-03-23 08:05] mkurz commented on #6400
There is no relation, these are completely two different problems. It just got mixed in this thread here.

[2021-03-23 09:38] roohix commented on #6400
Ok Thanks
do you have any idea how much time takes to fix jna problem ?
It seems jna released 5.7.0 release and fixed something about ARM thing

[2021-03-23 09:50] mkurz commented on #6400
No.

I think that does not yet fix the problem you face here. Anyway, play-file-watch 1.1.16 already contains latest jna 5.7.0 release, you can try that. Also upcoming Play 2.8.8 will ship with those versions.

[2021-03-23 14:49] adpi2 commented on #6410
Some progress on identifying the problem:

[code]

The missing line is:
[code]
meaning `seriousApp / Test` depends on `libTesting / Compile`

[2021-03-23 15:16] eed3si9n commented on #6088
I don't think so since I don't want to delay the shipment of sbt 1.5.0.

One feature that could give you similar effect is `--addPluginSbtFile=<file>`.

[2021-03-23 16:02] nafg commented on #6088
But there's no way to set that globally. So the fact remains that I can't
have global settings that are below whatever is the earliest version of sbt
used by a code repo I might use.

On Tue, Mar 23, 2021, 11:17 AM eugene yokota ***@***.***>
wrote:

[2021-03-23 16:03] nafg commented on #6088
If it's a time thing I could send a PR today if I can get some guidance
what it should do exactly

On Tue, Mar 23, 2021, 12:02 PM Naftoli Gugenheim ***@***.***>
wrote:

[2021-03-23 17:55] nafg commented on #6088
Any chance we could have a quick call about this?

[2021-03-23 19:35] bobismijnnaam commented on #6395
Thank you for looking at my issue. That sounds like an appropriate solution.

[2021-03-23 20:13] #6410 closed, assigned to adpi2

[2021-03-24 04:00] eed3si9n commented on #6412
@VlachJosef Thanks for the report!

I wonder how we're creating the runners to ask for the list of test suites.. Here's `testOnly`'s implementation where it grabs the user-supplied argument as "options":

https://github.com/sbt/sbt/blob/3e125fa040d64dfb3b2a3bdd59f5e62c7bd08ffb/main/src/main/scala/sbt/Defaults.scala#L1404-L1410

Eventually these are fed to `createTestRunners` I think:

https://gith

[2021-03-24 04:11] eed3si9n commented on #6413
@AugustNagro Thanks for the report.

This is an interesting one. I think my opinion leans towards fork-by-default as well because I prefer things to be correct-by-default rather than fast-by-default, but at the same time for the _most_ part, in-process emulation works well, and with the turbo mode's layered ClassLoader the startup is in the order of 10s of milliseconds whereas ClassLoading scala-l

[2021-03-24 04:46] AugustNagro commented on #6413
I agree, correctness is the most important thing.

I switched everything I'm working on to fork := true and did not notice any
noticable start up difference.

In fact, I wonder if not forking could cause perf degredation due to
profile pollution.

I am privileged to have a good computer, but if you or someone has an old
macbook we could run a measurement with JDK 8/11.

On Tue, Mar 23, 2021, 9:11

[2021-03-24 14:53] eed3si9n commented on #6196
@steinybot Thanks for the repro project. Unfortunately, I cannot reproduce this bug:

[code]

Which `sbt` script are you using?

[2021-03-24 18:20] eed3si9n commented on #6196
np. closing this then :)

[2021-03-24 18:20] #6196 closed, assigned to nobody

[2021-03-25 08:11] codingthat commented on #3420
Anyone finding this thread may be interested in https://github.com/mozilla/docker-sbt

[2021-03-25 20:09] nafg commented on #6088
I've dug into it and it doesn't seem possible to do without knowing sbt internals well. It's really a shame that no good solution can be implemented now until 1.6.0.

[2021-03-25 20:09] nafg commented on #6088
That said if you can provide some guidance I would still be happy to implement it.

[2021-03-25 23:15] smarter opened #6415 "Allow cross-building of multiple Scala 3 releases by using the full scalaVersion in the crossTarget directory"
Currently, the target directory for a given Scala version is `target/scala-${scalaBinaryVersion}`, this means that one shouldn't have two different Scala versions with the same binary version in `crossScalaVersion`, otherwise they'll keep overwriting each other classfiles (I don't know what wold happen exactly, does sbt manages to delete the target directory content when switching version?).
This

[2021-03-26 10:06] adpi2 commented on #6415
Thanks @smarter for sharing your thoughts. It is indeed a valid concern, though I am not 100% convinced by the arguments.

AFAIK the official story is that 3.0 and 3.1 are strictly binary compatible. If that's correct, why would you not bump to 3.1?

On one hand, it's indeed important the community is active in testing RCs and we should make sure it does not corrupt their binaries. On the other ha

[2021-03-26 11:59] sjrd commented on #6415
I don't have a strong opinion. The current behavior has already always been nonsensical for compiler plugins, for example, which compile under full versions. And yet it's never been a real problem for compiler plugins, so it probably won't become a problem now.

From a logical point of view, `crossTarget` should depend on `crossVersion`, and not just `binaryVersion`, since a library is supposed to

[2021-03-26 12:26] adpi2 commented on #6415
The sbt philosophy is to provide a default configuration for the majority and leave it open for the minority. So the question becomes what default behavior do we want?

I don't know exactly what is `crossVersion`. But it seems to me that the project matrix feature solves our problem (and others). I wish it becomes the default and replace `crossVersions`.

[2021-03-26 12:43] sjrd commented on #6415
`crossVersion` is the `CrossVersion` with which your artifact is going to be published. This is a critically important concept, that project-matrix does not replace in any way. Compiler plugins must set their `crossVersion` to `CrossVersion.full`. Scala.js projects are configured to have `crossVersion` be `CrossVersion.binary("", "_sjs1")`, so that they are published using the right suffixes.

[2021-03-26 13:02] smarter commented on #6415
Because artifacts built against 3.1 cannot be used from 3.0, it means your users need to upgrade if you upgrade, this shouldn't be a big issue (it matches what Scala.js does), but it's something that some library authors were concerned about when we discussed this scheme with them.

That partially addresses the problem, but I'm still concerned by what would happen if someone tried to cross between

[2021-03-26 14:28] eed3si9n commented on #6415
Is this a duplicate of https://github.com/sbt/sbt/issues/5097?

[2021-03-26 14:31] smarter commented on #6415
Not exactly, I'm advocating for crossTarget to use the full scalaVersion even with the default non-full CrossVersion

[2021-03-26 14:39] eed3si9n commented on #6415
ok. I'm open to the idea of `scalaVersion` as the cross target directory at all times to accommodate cross building of _binary-compatible_ Scala versions. It makes sense to me, like testing against multiple JDKs.

[2021-03-26 14:46] eed3si9n commented on #6415
@sjrd

I think it's in part due to the fact that not all compiler plugin authors have been using `CrossVersion.full`, but thanks to recent Scala 2.12 binary breakage, more plugins authors may switch to using `full` and run into https://github.com/sbt/sbt/issues/5097

[2021-03-26 15:27] eed3si9n commented on #6088
At https://github.com/sbt/sbt/blob/v1.4.9/main/src/main/scala/sbt/internal/Load.scala#L143-L144, if you hardcode some `/tmp/test.sbt`, it will get included into the global setting right?
So isn't it just a matter of figuring out what directories it would scan based on the sbt version? Not sure how much sbt internals you need to know to implement this.

[2021-03-26 18:26] nafg commented on #6088
Hmm, to just do settings I guess could do that. The rabbit hole was to
refactor the part about global plugins.

On Fri, Mar 26, 2021 at 11:27 AM eugene yokota ***@***.***>
wrote:

[2021-03-26 20:35] neontorrent commented on #6300
@eed3si9n I think we commented on the wrong issue. Yes it worked with 1.5.0-RC2

[2021-03-28 20:40] eed3si9n commented on #6412
Fixed in https://github.com/sbt/sbt/pull/6418

[2021-03-28 20:40] #6412 closed, assigned to nobody

[2021-03-29 04:44] eed3si9n commented on #6415
@smarter As I implemented this change, it dawned on me that this is going to be a big breaking change for any tests or Bash scripts out there that might be relying on the exact location of the output JAR.

I don't think I should make this change until sbt 2.0 without some opt-in setting.

[2021-03-29 04:44] #6395 closed, assigned to nobody

[2021-03-29 05:11] #5924 closed, assigned to nobody

[2021-03-29 08:38] smarter commented on #6415
In my original message I suggested:

To accommodate existing scripts which hardcode the target directory.

[2021-03-30 06:45] stanislav-chetvertkov commented on #6032
Was recently having a similar issue, in my case it was related to 'slickless' in db table definitions - the implicit search got stuck because there was no entity matching the hlist

[2021-03-30 14:08] adpi2 opened #6420 "[1.5.0-RC2] `for3Use2_13` not working in the dotty repo"
## steps

This bug is specific to https://github.com/lampepfl/dotty/pull/11568 where I bump to sbt 1.5.0-RC2 and stop using sbt-dotty.

It is caused by:
[code]

## problem

[code]

Currently the bootstrapped `scalaVersion` of the dotty repo  is `3.0.1-RC1` and its `scalaBinaryVersion` is `3.0.1-RC1`. But `for3Use2_13` is only triggered if `binaryVersion` is `3` or starts with `3.0.0`:

([source](h

[2021-03-30 14:15] adpi2 commented on #6420
Actually the current `scalaBinaryVersion` implementation in sbt  is very clear that for `3.0.1-RC1` it should be `3.0.1-RC1`:

([source](https://github.com/sbt/librarymanagement/blob/0672da475d88662c90af543528949fc35da40243/core/src/main/scala/sbt/internal/librarymanagement/cross/CrossVersionUtil.scala#L77-L83))
[code]

So we should definitely relax `for3Use2_13`

[2021-03-30 14:17] smarter commented on #6420
The binary version of 3.0.1-RC1 (and all 3.x versions) should be 3

[2021-03-30 18:17] #6420 closed, assigned to nobody

[2021-03-30 19:14] nafg commented on #6088
@eed3si9n would it make sense to have multiple directories to load global settings from if they aren't equal to ~/.sbt/1.0 in supporting a plugins/ subdirectory?

[2021-03-30 19:20] nafg commented on #6088
The only approach I can think of that makes sense at this point is to add support for something like

[code]

[2021-03-30 19:22] eed3si9n commented on #6088
What if you just picked one directory? Like try `$HOME/.sbt/1.6` otherwise `$HOME/.sbt/1.0`.

[2021-03-30 19:23] nafg commented on #6088
I think you were concerned about performance, and users having to maintain a bunch of copies (or symlinks) of stuff

[2021-03-30 19:26] eed3si9n commented on #6088
At least from the performance perspective, having a single directory would not affect the loading performance of having to compile a bunch of `*.sbt` files, which is really slow. Checking if some directory exists is fast.

[2021-03-30 19:29] nafg commented on #6088
Found this: https://stackoverflow.com/questions/6321180/how-expensive-is-file-exists-in-java

[...]

[2021-03-30 19:31] nafg commented on #6088
So why don't we do all the directories then? I don't see why a user would have something in 1.0/ that they don't want to be used in 1.1+. So in theory sbt 1.0+ should read 1.0/, 1.1+ should read 1.1/ as well, 1.5 should read 1.5/, etc. As long as there aren't files being compiled that users don't want to be compiled, I don't see the issue.

So again, when sbt 1.X comes out I can add settings for s

[2021-03-30 19:32] nafg commented on #6088
Oh I'm sorry I lost the train of thought. The problem was doing plugins. Right.

Ok so what if we do plugins only from the current version but do all for settings?

[2021-03-30 19:34] nafg commented on #6088
Also, how would it interact with `-Dsbt.global.settings` and `-Dsbt.global.plugins`?

[2021-03-30 19:49] eed3si9n commented on #6088
System properties should always win.

The more I think about it I feel like adding environment variable or system properties support for `onChangedBuildSource` (or any other features like that) would be a simpler solution.

[2021-03-30 23:00] nafg commented on #6088
My question was, since the format of sbt.global.settings is to take a single directory, if we would scan multiple directories for settings by default would the property override that to only search one? Or override only one of them (which)?

There are two things here which I'm trying to unify but if they shouldn't be unified they still both exist.

1) Use case: I want to have "reload build on buil

[2021-03-30 23:01] nafg commented on #6088
Another idea, which is probably a terrible one, is that say sbt 1.4.0+ should read not only .sbt files but also .sbt14 files, etc.

[2021-03-31 06:30] zsolt-donca opened #6421 "sbt shell is practically unusable in the terminal Foot"
## steps

- use the terminal emulator [Foot](https://codeberg.org/dnkl/foot/), currently using version `1.7.1`
- start an SBT shell (tested with versions 1.4.3 and 1.4.6) on anywhere, on any project, even outside a project folder

## problem

The screen gets cleared on each command, I can't see the results of the commands that I type into the SBT shell.

The sbt shell is practically unusable becau

[2021-03-31 21:31] kbreidenbachRN opened #6423 "sbt new with giter8 template leaving behind "project" and "target" directories"
## steps

`sbt new scala/scala-seed.g8`

## problem

leaves behind a `target` and `project` folder
[code]

This was fixed for an earlier version, but appears to have come back. Currently using sbt 1.4.9

## expectation

Should only see the new project directory created on completion.

## notes

This was once fixed with this issue, but I'm getting again now with SBT 1.4.9
https://github.com/sbt/sbt

[2021-04-01 23:22] a1kemist commented on #5727
FWIW, I have noticed this happening after upgrading from sbt 1.3.8 to 1.4.9 across all my projects. It doesn't seem to be related to specific dependencies or scripted/sbt plugins. My best guess it that there is a corresponding coursier change as @eatkins originally suggested.

Note: When I say way more often, I mean that we practically never saw this issue before upgrading from 1.3.8 to 1.4.9. Aft

[2021-04-01 23:31] eed3si9n commented on #5727
On an empty cache, Coursier seems to either detect POM inconsistencies between the repositories, or sometimes trips on itself trying to download the same URL - https://github.com/coursier/coursier/issues/2022
I'm going to close this for now unless there's something specific we can work on.

[2021-04-01 23:31] #5727 closed, assigned to nobody

[2021-04-02 00:08] nafg commented on #6088
Regarding (1), any reason not to just make it the default?

[2021-04-02 10:57] ZeerDonker commented on #6101
@sideeffffect @eed3si9n
The issue happens if you are in a windows folder on wsl2.

So with the same sbt folder, copied to a ~/folder or in a /mnt/c/folder.

In the linux folder, the issue doesn't happen. In the windows folder it does.

[2021-04-02 12:57] sideeffffect commented on #6101
@ZeerDonker What exception are you getting?

[2021-04-02 14:47] eed3si9n commented on #6421
@zsolt-donca Thanks for the report. Would `sbt --supershell=false` help?

[2021-04-02 14:55] #6415 closed, assigned to adpi2

[2021-04-02 15:20] eed3si9n commented on #6088
I guess we were being conservative when we introduced the feature?
Even if it breaks on 1% of the use cases (like running on Windows, inside Docker, or WSL etc) that could generate a bunch of bug reports that none of us has time to deal with. We can try enabling auto reloading by default in the next version that goes through RC cycle.

Also note that there's a documented reflection hack that's sbt

[2021-04-03 23:45] #6241 closed, assigned to nobody

[2021-04-06 03:13] FjieYi commented on #5715
Is there any progress?

[2021-04-06 06:17] ZeerDonker commented on #6101
@sideeffffect  No exception. Just the following message.

```sbt server is already booting. Create a new server? y/n (default y)```

[2021-04-06 08:55] dziemba opened #6430 "`@nowarn annotation does not suppress any warnings` when compiling SBT plugins"
## steps

Trying to build an SBT plugin with sbt 1.5.0, in our case [twinagle](https://github.com/soundcloud/twinagle/pull/224).

## problem

We get `@nowarn annotation does not suppress any warnings` [errors](https://github.com/soundcloud/twinagle/pull/224/checks?check_run_id=2276625337#step:5:208) in the code that extends `AutoPlugin`.

## expectation

No warnings/errors are emitted.

## notes

[2021-04-06 10:57] adpi2 commented on #6430
Thanks for reporting!

This bug is indeed related to #6398

We will be able to fix it by adding `scalacOptions += "-Wconf:cat=unused-nowarn:s"` to the `SbtPlugin.projectSettings`

As a temporary fix you should do the same in your build.

[2021-04-06 16:09] sideeffffect commented on #6101
@ZeerDonker you're using an old version of sbt then. Please try upgrading to the newest one. (I also recommend using [Scala Steward](https://github.com/scala-steward-org/scala-steward/), it will help you keep your project up to date :wink: )

[2021-04-06 17:06] vegerot commented on #4719
Still broken for me

[code]

[2021-04-06 17:45] jgulotta opened #6432 "NullPointerException or ArrayIndexOutOfBoundsException launching sbt 1.5.0"
## steps

1. Start `sbt`. Can be in an empty directory - doesn't matter.

## problem

`NullPointerException` or `ArrayIndexOutOfBoundsException` on launch

[code]

 The exception above occurs with SBT 1.5.0 on OpenJDK 15 and 11, and on  all JDKs when setting `sbt.version=1.4.9` via `project/build.properties`. With SBT 1.5.0 on OracleJDK 8 I get

[code]

When setting `sbt.version=1.3.13` via `proje

[2021-04-06 19:14] ctoomey commented on #6101
FYI with sbt 1.4.9 in a Docker image running ubuntu 16.04, the exception I get is

`java.io.IOException: org.scalasbt.ipcsocket.NativeErrorException: [22] Invalid argument`

I was able to successfully workaround the issue by adding the `--batch` argument too, i.e. `sbt -Dsbt.server.forcestart=true --batch ...`

[2021-04-06 21:05] eed3si9n commented on #6432
I actually have not been checking what Homebrew ships. Does this problem still occur if you downloaded .tgz file from https://www.scala-sbt.org/download.html and used the `sbt` script in it?

[2021-04-06 21:17] jgulotta commented on #6432
In as much as I can gather from [their sbt.rb file](https://github.com/Homebrew/homebrew-core/blob/master/Formula/sbt.rb), Homebrew does not do much more than download and extract the tgz for you.

It does happen for me too with a fresh download

[code]

[2021-04-06 21:44] eed3si9n commented on #6432
There's a lot of String comparison and regex going on in https://github.com/sbt/sbt/blob/develop/main/src/main/java/sbt/internal/MetaBuildLoader.java, so it's possible we're missing something when launcher was switched to use Coursier to download the sbt and Scala artifacts.

What do you see for `$ ls $HOME/.sbt/boot/scala-2.12.13/org.scala-sbt/sbt/1.5.0/`? There should be `compiler-interface-1.5.

[2021-04-06 21:46] eed3si9n commented on #6249
Duplicate of https://github.com/sbt/sbt/issues/2835

[2021-04-06 21:46] #6249 closed, assigned to nobody

[2021-04-06 21:47] eed3si9n commented on #6423
Thanks for the report. I'll reopen #2835.

[2021-04-06 21:47] #6423 closed, assigned to nobody

[2021-04-06 21:48] eed3si9n commented on #6281
Duplicate of https://github.com/sbt/sbt/issues/2835

[2021-04-06 21:48] #6281 closed, assigned to nobody

[2021-04-06 21:49] eed3si9n commented on #5190
I reopened https://github.com/sbt/sbt/issues/2835

[2021-04-06 21:49] #5190 closed, assigned to nobody

[2021-04-06 22:01] jgulotta commented on #6432
Ah that seems the likely culprit.

[code]

It has `compiler-interface-1.5.0.jar` but `test-interface.jar` has no version suffix.

[2021-04-07 07:56] ZeerDonker commented on #6101
@sideeffffect  Thanks.

Gives the following exception. (On a windows folder, wsl2 )

[code]

[2021-04-07 08:29] dziemba commented on #6430
Thanks for the quick fix!

[2021-04-07 09:15] dziemba opened #6433 "-Xfatal-warnings does not work in metabuild"
## steps

[code]

## problem

I would like to be able to make any warnings in the metabuild fatal, so we can catch them in CI (e.g. the new syntax warnings during the sbt 1.5 migration). This does not seem to work however.

## expectation

Adding `-Xfatal-warnings` to `project/plugins.sbt` makes warnings in `build.sbt` fatal.

## notes

Adding other compiler options, e.g. `scalacOptions += "-Xlint

[2021-04-07 10:16] zsolt-donca commented on #6421
Thanks for the answer! Yes, passing `--supershell=false` does indeed somewhat help, the shell behaves mostly normally, but not entirely: some actions do clear the screen in a weird way, for example, me opening another sbt shell in another terminal.

[2021-04-07 13:17] dkovalenko commented on #3368
Any instructions to how build sbt scala project with module-info.java ?

[2021-04-07 14:51] lespea commented on #6432
I'm seeing the same problem; I also have the un-versioned test-interface.  I removed that directory completely, re-ran sbt, and it recreated it the same way.

[2021-04-07 15:32] adpi2 commented on #6432
The `test-interface.jar` is also cached by Coursier. You can locate it with the `cs fetch org.scala-sbt:test-interface:1.0` command. (Coursier installation instruction is [here](https://get-coursier.io/docs/cli-installation))

In my case I have:
[code]
Can you share what you get? Also you can try to delete that file and run `cs fetch` again, it could help.

[2021-04-07 16:34] dziemba commented on #6433
Turns out using `scalacOptions += "-Wconf:any:e"` instead works as expected.
I suppose the `-Wconf:cat=unused-nowarn:s` added implicitly by sbt then overrides the `-Xfatal-warnings` flag.
I'm not sure anymore if this is a bug in SBT, scalac or it's just the intended behavior. Feel free to close this issue.

[2021-04-07 17:04] eed3si9n commented on #6433
@dziemba Thanks for doing the detective work on scalacOptions.

[2021-04-07 17:18] eed3si9n commented on #6432
https://github.com/sbt/sbt/blob/34a52a40f114474c4bac80c80cc6e38ba8089929/main/src/main/java/sbt/internal/MetaBuildLoader.java#L68

https://github.com/sbt/sbt/blob/34a52a40f114474c4bac80c80cc6e38ba8089929/main/src/main/java/sbt/internal/MetaBuildLoader.java#L89-L90

so I guess `test-interface.jar` would pass the contains test but fail the regex?

In https://github.com/sbt/launcher/pull/86 I wrote:

[2021-04-07 17:22] adpi2 commented on #6432
Yes that will fix the problem for `1.5.x`. But don't we need to do the same in `1.4.x` and `1.3.x`?
That's why I think it would be interesting to understand why `test-interface` is not versioned in some cases.

[2021-04-07 18:58] jgulotta commented on #6432
I can confirm the naming difference was the root issue for me. Coursier had `test-interface` cached for me as `test-interface-1.0.jar`. My `test-interface.jar` under `$HOME/.sbt/boot` had the same sha256 as the one Coursier cached, so I renamed `test-interface.jar` to `test-interface-1.0.jar` and SBT works again.

I'm not sure if the bug is that the file is created without the version information

[2021-04-07 19:32] eed3si9n commented on #6432
Good point.

I'm guessing it's just the way older Coursier used to store files.

We might be able to guess the version number from the parent directory name?

[2021-04-07 20:05] ThePrez opened #6435 "Fails to initialize on IBM i platform"
## steps
run `bin/sbt` on the IBM i platform
## problem
[code]
## expectation
sbt functions correctly

## notes
The root cause is over in the [directories-jvm](https://github.com/dirs-dev/directories-jvm) project, which I will cross-link shortly. Opening an issue here to help track the issue for IBM i users.

[2021-04-07 21:16] lespea commented on #6432
I just deleted my entire `$HOME/.sbt` directory and it worked after that.

[2021-04-08 01:49] steinybot opened #6436 "Adding itSettings overrides settings in other configuration scopes"
## steps

sbt version: 1.5.0

Reproduction: https://github.com/steinybot/bug-reports/tree/sbt/runner-scope

[code]

## problem

[code]

The `Compile / run / runner` is being overridden by seemingly unrelated settings (`itSettings` are scoped to the `IntegrationTest` configuration).

`sbt.Defaults#newRunnerSettings` have the `Compile` and `Test` configuration scopes but they should be unscoped.

##

[2021-04-08 03:22] sanjivsahayamrea commented on #6294
I'm sorry if this is not the issue to ask this question on. I'm happy to move it to another issue if that's preferable.

The following default SBT resolvers that are pointing to Bintray at the moment:

| Resolver | Default Url | Redirected URL |
| -------- | --- | ---- |
| typesafeIvyRepo | https://repo.typesafe.com/typesafe/ivy-releases | https://dl.bintray.com/typesafe/ivy-releases/ |
typesafeRe

[2021-04-08 03:43] eed3si9n commented on #6294
Scala Center + friends will take care of sbt plugin repository, and hopefully before May 1st.

[2021-04-08 07:38] YuvalItzchakov opened #6437 "sbt 1.5.0 failing with java.io.IOException: failed to create lock file /root/.ivy2/.sbt.ivy.lock when `.ivy2` is in root directory"
## steps

- Create `build.sbt` file
- Add `sbt-native-packager`
- Start docker with the path to your code: `docker run -i -t -v <path_to_local_code_directory>:<path_in_container> hseeberger/scala-sbt:15.0.2_1.5.0_2.13.5 /bin/bash`
- Run `sbt "Universal / stage"`

Scala 2.13.5

Running the above, I receive the following error:

[code]

## expectation

sbt should be able to access ivy lock

## notes

[2021-04-08 09:53] dnkl commented on #6421
I stumbled upon this and it appears to be a bug in foot.

Foot, unlike most other terminals, implements the `auto_left_margin`/`bw`terminfo capability (i.e. reverse-wrapping). From `man terminfo`:

`cub1` is typically `^H` (i.e. backspace).

Sbt issues lots of `CSI 1000 D` escapes (`cub`, **not** `cub1`). Foot incorrectly wraps this, causing the cursor to move back to (0,0), or at least close to t

[2021-04-08 12:21] zsolt-donca commented on #6421
I can confirm that this is indeed a bug in foot, and this pull request actually fixes it: https://codeberg.org/dnkl/foot/pulls/442

Note the comment https://codeberg.org/dnkl/foot/issues/442#issuecomment-188773 that has some further info on exactly what was causing it, and also another way of moving the cursor that is apparently more used that sbt's current one that was causing this issue.

Either

[2021-04-08 12:21] #6421 closed, assigned to nobody

[2021-04-08 13:12] dnkl commented on #6421
Not sure if `hpa` is used **more**. But it probably fits the bill better than 1000 `cub`s. While I consider `hpa` to be a core escape, i.e. something a terminal _should_ implement, I don't actually know how well supported it is. The correct approach would be to look up `hpa` in terminfo, use it if available, and otherwise fallback to e.g. `cub`.

[2021-04-08 14:37] eed3si9n commented on #6436
@steinybot Thanks for the report. It seems like you've figured out the root cause. Would you like to send a PR for it?

[2021-04-08 14:46] eed3si9n commented on #6437
@YuvalItzchakov Thanks for the report! Too bad it seems like Ivy is still involved in certain aspects of basic operations like making POM.

@alexarchambault Is Coursier publish command still experimental?

[2021-04-08 18:35] SandroGrzicic commented on #6432
Just to add a data point, I had the same issue, then copied the test-interface.jar file to test-interface-1.0.jar and SBT now starts up normally.

Previous SBT version (worked fine): 1.4.8; new SBT version: 1.5.0

JDK version: AdoptOpenJDK 15.0.2+7, MacOS 10.15.7

sbt -V output:
[code]

[2021-04-09 07:22] basdebakker commented on #6183
This issue is still present in sbt 1.5.0.

[2021-04-09 07:45] jdsalchow commented on #6183
I have succeeded in reproducing this locally at some point. Unfortunately I cannot share that reproduction, and did not succeed in reproducing it in a toy project. But I made the following observations:

* Removing the `target/classes` directory resolves the issue.
* Restoring the removed `target/classes` directory restores the problem.
* Taking md5 sums of the problematic and working compiled cla

[2021-04-09 10:56] DavidPerezIngeniero opened #6438 "NullPointerException with Def.taskDyn"
## steps

## problem

NullPointerException when loading build.sbt

## expectation

No excepction

## notes

Tested with SBT 1.4.6 and 1.4.9.
Java 11.
Linux 64 bits

Excerpt of build.sbt:

[code]

If I comment the last line, it loads ok.  Otherwise:

[code]

[2021-04-09 11:11] PromanSEW commented on #6400
Still get this error in Play 2.8.8, SBT 1.5.0 and Scala 2.12.13 😕

[2021-04-09 11:15] DavidPerezIngeniero commented on #6438
If I try this other variation, it also fails:

[code]
This is the error:
[code]

[2021-04-09 11:18] DavidPerezIngeniero commented on #6438
I think this is the cause:
[code]
`ramaSimplificada` is a String settingKey.
If I replace `ramaSimplificada.value` by `""`, it doesn't fail.
`ramaSimplificada` is already initialized with a value.
How can I use a setting in a `Def.taskDyn` ?

[2021-04-09 11:25] DavidPerezIngeniero commented on #6438
I place the definition of `ramaSimplificada` before `taskDyn` and it now works ok.
The error message of the exception isn't helpful.

[2021-04-09 12:28] OlegYch opened #6439 "[1.5.0] Transitive dependency suffix gets overwritten by the scala version of current subproject"
## steps

sbt 1.5.0

`build.sbt`
[code]

## problem

[code]
## expectation

dependency is not affected by current scala version

## notes

[2021-04-09 13:30] SethTisue commented on #6400
Play 2.8.8 is out now

[2021-04-09 16:10] seoh commented on #6432
I had same issue. I got some hint from lespea's comment, I deleted a directory in ~/.sbt and run test one by one.
I'm not sure why but my sbt works after deleting `~/.sbt/boot/scala-2.12.13`. it could be a cache problem maybe or not.

[2021-04-10 16:20] eed3si9n commented on #6432
I'm reopening since older sbt would still have this issue.

[2021-04-10 16:27] eed3si9n commented on #6439
@OlegYch Thanks for the report! That is a surprising behavior.

[2021-04-10 16:31] eed3si9n commented on #6439
Assuming this is a 1.5.0 regression, then likely something happened in https://github.com/sbt/librarymanagement/compare/v1.4.3...v1.5.0?

[2021-04-10 16:45] eed3si9n commented on #6183
If you type `debug` into the shell, it should bring the log level to debug, and you might see more message from what Zinc (likely falsely) considered to when it invalidated the classes. Does anyone have public reproduction?

Another crude way of debugging this might be to keep downgrading sbt and test if this works using e.g. sbt 1.4.2. If 1.4.2 is good, but 1.4.4 is bad, then likely the problem i

[2021-04-10 16:53] eed3si9n commented on #6438
@DavidPerezIngeniero Could you try conditional task and see if that would work, please? https://www.scala-sbt.org/1.x/docs/Tasks.html#Conditional+task

[code]

[2021-04-10 16:55] eed3si9n commented on #6435
Thanks for the report!
You might be able to work around directories-jvm problem by running sbt with COURSIER_CACHE environment variable?

[2021-04-12 13:57] Andromelus opened #6445 "Installing sbt on debian"
I'm asking here becasue it seems I am going to be closed on [SO](https://stackoverflow.com/questions/67059575/installing-sbt-1-4-7-on-debian-20).

I want to install sbt 1.4.7 on debian 20.

According to this: https://www.scala-sbt.org/1.x/docs/Installing-sbt-on-Linux.html#Ubuntu+and+other+Debian-based+distributions, I should be able to find a package for sbt 1.4.7 (for now).

However, I do have th

[2021-04-12 14:00] ak0rz commented on #6294
jfyi: every sbt build is broken today because of Bintray brown-out session https://status.bintray.com/

[2021-04-12 14:15] #2853 closed, assigned to nobody

[2021-04-12 14:23] eed3si9n commented on #6445
Thanks for the report! I am not sure why Bintray is already shut down. We'll hopefully have some replacement before May 1st.
But in the meantime, I suggest you grab tgz and put sbt in PATH.

[2021-04-12 14:25] eed3si9n commented on #6445
I think there's a brown out going on - https://status.bintray.com/

[2021-04-12 14:26] sjrd commented on #6294
Yes, I guess that was to be expected.

We are still working on migrating the sbt plugins published on Bintray to a new Artifactory instance. We are doing everything in our power to finish that before May 1st.

[2021-04-12 14:30] Andromelus commented on #6445
Alright, thanks for the answer. I should have checked bintray status.
Will go for tgz.

Good day sir !

[2021-04-12 14:30] domizei385 commented on #6445
Something like this should work (untested):
[code]

[2021-04-12 14:42] ak0rz commented on #6294
Okay, looks like I'll schedule a day-off on April 26th. :D

[2021-04-12 15:18] eed3si9n commented on #6294
JFrog has generously granted sbt project their open source sponsorship program which lets us use a cloud-hosted Artifactory instance with CDN, and we have chosen Scala Center as the new owner for it

https://scala.jfrog.io will be our new home for the sbt plugins

<img width="872" alt="JFrog-Artifactory" src="https://user-images.githubusercontent.com/184683/114418691-c3eadb80-9b80-11eb-942e-058d31

[2021-04-12 15:20] cleliofs commented on #6294
So, can we just update the existing resolver URLs to "https://scala.jfrog.io" instead?

[2021-04-12 15:22] eed3si9n commented on #6294
It's not ready yet, and when it's done https://repo.scala-sbt.org/ should work without any change as it's a redirect proxy. This the second time it moved and it might move again, so I suggest we keep doing redirect thing.

[2021-04-12 15:25] ak0rz commented on #6294
Eugene, is there any ETA on that? It's a bit painful to be unable to build services even for a day. :(
Maybe we can help with smth?

[2021-04-12 15:26] joschi commented on #6294
@ya-goodfella You can use the workaround described https://github.com/aws/aws-codebuild-docker-images/issues/449#issuecomment-817884851 to make your build jobs run today until the sbt team had time to react and set everything up.

When using the workaround, you'll have to install `sbt` with an alternative installation method if your builds depend on it being preinstalled.

[2021-04-12 15:28] ak0rz commented on #6294
Well, it's not about APT repositories and installing sbt.
It's about resolving sbt plugins at startup.

[2021-04-12 15:46] eed3si9n commented on #6294
sbt is no longer my day job, so this would have to wait. I don't really have a ETA on when I'd run the migration or how long it might take.

[2021-04-12 16:16] SethTisue commented on #6294
I put the word out about April 26 on Reddit (https://www.reddit.com/r/scala/comments/mph43t/sbt_build_failing_bintray_brownout_today_april_12/) and Twitter (https://twitter.com/SethTisue/status/1381624559296675846)

[2021-04-12 16:21] ak0rz commented on #6294
Well, I'm not really pushing you, just curious about what's the plan. My apologies if it seemed so. :)

Looks like we need to:
1. Shut down artifact upload to bintray for sbt plugin releases
2. [Mirror everything from bintray to new jfrog artifactory](https://jfrog.com/knowledge-base/how-to-mirror-a-remote-repository/)
3. Create new redirects under scala-sbt domain
4. Place an updated instruction

[2021-04-12 16:32] mcintyre94 commented on #6294
In the docs where it uses the bintray link (https://www.scala-sbt.org/1.x/docs/Installing-sbt-on-Linux.html#Ubuntu+and+other+Debian-based+distributions)

`echo "deb https://dl.bintray.com/sbt/debian /" | sudo tee -a /etc/apt/sources.list.d/sbt.list`

Should this be the following?

`echo "deb https://repo.scala-sbt.org/debian /" | sudo tee -a /etc/apt/sources.list.d/sbt.list`

I'm happy to PR a doc

[2021-04-12 16:32] RiteshBM commented on #4507
Same issue
[code]

Facing the same issue, workaround suggested by @nhynes results in
[code]

[2021-04-12 16:37] hrj commented on #6445
Is this also affecting downloading of sbt plugins like `sbt-assembly`, etc?

Jobs in CI are failing as the dependencies are not being resolved.

[2021-04-12 16:39] nercisla opened #6446 "https://dl.bintray.com/sbt/debian/Release is not publicly accessible"
## steps

run `sudo apt update` on Ubuntu 18.04
the command fails with

[code]

## problem

[https://dl.bintray.com/sbt/debian/Release](https://dl.bintray.com/sbt/debian/Release) is not publicly accessible

## expectation

[https://dl.bintray.com/sbt/debian/Release](https://dl.bintray.com/sbt/debian/Release) should be publicly accessible

[2021-04-12 16:39] RiteshBM commented on #4507
Same issue
[code]
Workaround suggested by @nhynes  results in
[code]

[2021-04-12 16:40] darshan-rathi commented on #4507
Same issue as @RiteshBM

[code]

[2021-04-12 16:42] mattshine commented on #4507
Same issue as the above listed.

[code]

[2021-04-12 16:45] JayCork commented on #6446
[code]

[2021-04-12 16:47] obohrer commented on #6446
We are encountering this issue as well

[2021-04-12 16:48] ajaykumarmandapati commented on #6446
This also happens for https://sbt.bintray.com/rpm/repodata/repomd.xml , we get `Forbidden!`

[2021-04-12 16:49] teroxik commented on #6446
There is a brownout in place. Nothing what can be done by the maintainers except publishing to some other repository.

https://github.com/sbt/sbt/issues/6445

https://jfrog.com/blog/into-the-sunset-bintray-jcenter-gocenter-and-chartcenter/

@eed3si9n is there any plan to push the packages to some other repositories as ultimately it will go away. The other libraries artifacts have a similar problem

[2021-04-12 17:01] kuberlog commented on #6294
The ball was dropped here. Is lightbend even profitable? It seems like they don't care about outages.

[2021-04-12 17:12] netronicus commented on #4507
same here!

Reading package lists...
--
71 | E: Failed to fetch https://dl.bintray.com/sbt/debian/InRelease  403  Forbidden [IP: 34.214.135.19 443]
72 | E: The repository 'https://dl.bintray.com/sbt/debian  InRelease' is not signed.

[2021-04-12 17:14] eatkins commented on #6413
I strongly disagree with this proposal. Forking adds enormous overhead for even simple projects. It's worse the more dependencies you have: https://github.com/eatkins/scala-build-watch-performance.

[2021-04-12 17:14] eed3si9n commented on #6445
I'm going to reopen this until this entire thing is resolved.

[2021-04-12 17:15] eed3si9n commented on #6446
Closing this as duplicate of https://github.com/sbt/sbt/issues/6445

Yes. Please see https://github.com/sbt/sbt/issues/6294.

[2021-04-12 17:15] #6446 closed, assigned to nobody

[2021-04-12 17:17] eed3si9n commented on #4507
Bintray is conducting a brown out - https://github.com/sbt/sbt/issues/6445

[2021-04-12 17:29] philipschwarz commented on #6445
Hello, I am trying to install sbt as part of a Gitlab build and I get this:

`$ echo "deb http://dl.bintray.com/sbt/debian /" | tee -a /etc/apt/sources.list.d/sbt.list
deb http://dl.bintray.com/sbt/debian /

$ apt-key adv --keyserver hkp://keyserver.ubuntu.com:80 --recv 642AC823
Warning: apt-key output should not be parsed (stdout is not a terminal)
Executing: /tmp/apt-key-gpghome.lUx1fBVXq7/gpg.1

[2021-04-12 17:40] kuberlog commented on #6445
The workaround is lightbend getting their shit together.

[2021-04-12 17:42] eed3si9n commented on #6445
The migration plan is discussed at https://github.com/sbt/sbt/issues/6294. JFrog has granted us the use of Artifactory Online instance, so we need to migrate everything from Bintray to there.

[2021-04-12 17:52] philipschwarz commented on #6445
@eed3si9n thank you

[2021-04-12 17:58] sezruby opened #6447 "Could not find required component 'xsbti' in 1.5.0 / 0.13.18 build"
## steps
[code]

## problem

"sbt compile" failed with the following error:
[code]

## expectation

`sbt compile` should succeed.

## notes

As github Azure pipeline updated sbt version to 1.5.0 recently (5 Apr), build & tests are failing in our PRs.

ref https://github.com/actions/virtual-environments/issues/3146

Workaround: use 1.4.9

[2021-04-12 18:04] AugustNagro commented on #6413
Nice to see some measurement @eatkins , thanks for sharing.

I've realized what I want is essentially https://github.com/spray/sbt-revolver

But it would still be good if `turbo`-mode `run` was reliable. One solution would be using Java's Module System, ala [layrry](https://github.com/moditect/layrry) or by [ModuleLayer](https://docs.oracle.com/javase/9/docs/api/java/lang/ModuleLayer.html) directl

[2021-04-12 18:22] SethTisue commented on #6294
@eed3si9n is sbt 0.13.x part of the rescue plan, or only sbt 1.x? (should I open a separate ticket just for 0.13 discussion?)

[2021-04-12 18:25] Jasper-M commented on #6294
Will this also be the new home for other Scala artifacts hosted on bintray such as the ones in bintray.com/typesafe?

[2021-04-12 18:29] SethTisue commented on #6294
@Jasper-M Lightbend IT is in the process of securing new hosting for repo.lightbend.com and repo.typesafe.com; they expect to be done before May 1, and those resolvers will continue functioning for users as before, via updated redirects

but that's just Lightbend/Typesafe stuff. lord knows how many other Scala OSS projects were published to Bintray under other accounts. it's not feasible for the C

[2021-04-12 18:40] eed3si9n commented on #6294
@SethTisue

If I recall correctly the initial plan for Lightbend was to migrate all repo.typesafe.com, but given the complexity involved in translating Ivy layout to Maven, we should piggy back https://bintray.com/typesafe/ivy-releases (including sbt 0.13 core artifacts) to new home at least for the time being to ensure continuity of the build. /cc @JustinPihony @sebastian-alfers

[2021-04-12 19:30] eatkins commented on #6413
Just to be clear, turbo is not the default in sbt. The default has a layer for the scala library and reflect jars that is cached between runs. This has been the default in sbt for > 10 years. There is minimal downside to caching the scala library _except_ if your run or test task uses the global future execution context in which case it is possible to leak memory/threads through the execution cont

[2021-04-12 20:08] castroulloaaaron opened #6449 "Failed to fetch https://dl.bintray.com/sbt/debian/Packages 403 Forbidden"
## steps

Running command: apt-get update --allow-insecure-repositories

## problem

Failed to fetch https://dl.bintray.com/sbt/debian/Packages  403  Forbidden

## expectation

Libraries can be downloaded and installed

## notes

Looks like the repo has some issues:

Reading package lists...

95 | W: The repository 'https://dl.bintray.com/sbt/debian  Release' does not have a Release file.
96 | E:

[2021-04-12 20:28] kittsville commented on #6449
This is duplicate of #6445

[2021-04-12 20:36] AugustNagro commented on #6413
Ok, I assumed `turbo` was the default.

It is worse than that; try `run` on a Vertx project. The first time, it will work fine. End the run with CMD+C, type `run` again, and even if you make changes the old version will still be running. And then there is the memory leak problem which you mention (and I experience for many different Scala projects).

You're right that Modules are not going to solv

[2021-04-12 20:59] alana314 commented on #6445
+1, this broke our CI/CD on codebuild (apt-get update in ubuntu)

[2021-04-12 21:06] keithly commented on #6437
I have also experienced this with Java 8 and Scala 2.12.13 `hseeberger/scala-sbt:8u282_1.5.0_2.12.13`

[2021-04-12 21:39] thuan826 commented on #6445
same here, were you able to find a workaround?

[2021-04-12 22:06] alana314 commented on #6445
We temporarily disabled apt-get update

[2021-04-13 01:29] a1kemist commented on #6445
FWIW this is what we swapped to in our CI images a few weeks ago in order to work around the bintray migration:

[code]

[2021-04-13 02:36] eatkins commented on #6413
I agree that setting fork to true is necessary on some projects. My issue is that setting fork true will make the ux worse for the vast majority of builds. Yes, some users, unfortunately including you, may spend some time having to track down why their build is having problems and have to change the setting. But that time for individual users pales in comparison to how much time is wasted restarti

[2021-04-13 02:56] ianknowles opened #6450 "(BSP) Importing existing project as BSP model fails on build"
After importing an existing project in IntelliJ IDEA 2021.1 (one that I have previously used for BSP testing), the wizard freezes with the message `building ...` and `sbt:PROJECTNAME>`. It never completes this step, (likely the build has failed), but no error message is given, the import does not back out, and pressing cancel does nothing, IDEA has to be force closed as well as a background jvm pr

[2021-04-13 04:08] AugustNagro commented on #6413
It's easy for me to say, as someone who will not implement it, but I think Drip or a similar approach will be very close to current performance, if not faster.

I've written many JMH microbenchmarks where profile pollution absolutely kills the JIT. It's honestly a rampant problem for C2  (something I've noticed Graal, with it's isolates, does much better). I have no doubt SBT is being knee-capped

[2021-04-13 04:23] eatkins commented on #6413
This is a bold claim that my experience does not validate. At any rate, I am not going to work on this either so we can stop this discussion until someone comes along who is actually interested in implementing it.

[2021-04-13 06:26] shinealex33 commented on #4718
sbt -Djline.terminal=none "run 9008" < /dev/null &

This gives me "p.c.s.AkkaHttpServer - Stopping server...". Much appreciated your reply.

[2021-04-13 06:29] rawyler commented on #6437
This is just a temporary fix for the oraclelinux part: https://github.com/hseeberger/scala-sbt/pull/140 creating the missing .ivy2 directory https://github.com/hseeberger/scala-sbt/pull/140

I also added git to the oraclelinux Docker image as it is a requirement for projects using sbt-dynver

As a workaround I based builds failing with `java.io.IOException: failed to create lock file /root/.ivy2/.

[2021-04-13 07:46] adpi2 commented on #6450
Thanks for reporting!

It's really hard to tell what's going on here because I don't recognize the logs: `building ...` and `sbt:PROJECTNAME>`. It is like if the `sbt.json` command has started an sbt shell rather than a BSP client.

I tried to reproduce by downgrading sbt from 1.5.0 to 1.4.9 and indeed it does not work but the IntelliJ messaging is different:
![image](https://user-images.githubuse

[2021-04-13 07:47] adpi2 commented on #6450
@ianknowles can you reproduce the bug? If so, can you run the `sbt.json` command manually and share the logs with us?

[2021-04-13 10:31] mcintyre94 commented on #6294
FYI: If you have a URL like `http://dl.bintray.com/sbt/debian/sbt-${SBT_VERSION}.deb` (in our case in a Dockerfile), then you can update it to the redirect proxy by changing it to `https://repo.scala-sbt.org/scalasbt/debian/sbt-${SBT_VERSION}.deb`.

[2021-04-13 13:02] ianknowles commented on #6450
Sorry my description was a little off, its not after importing but during the import process. As a final step of the import its running the sbt build (I assume to extract the project structure and generate the IDEA modules and config files). Before starting the import I delete the .bsp folder and the .idea.

![image](https://user-images.githubusercontent.com/26507830/114555174-595c9d00-9c5f-11eb-9

[2021-04-13 13:49] joseph-whiting commented on #6294
Can I ask what the current projection is for April 26th? The brown-out was a bit painful for our dev team, so would be helpful to know whether or not we should be thinking about workarounds from our end to prevent disruption on the 26th.

Thanks for all your work!

[2021-04-13 14:20] ianknowles commented on #6450
Heres an example `build.sbt` that will hang the import. The problem is the final line `"project servers"`, if this is corrected to `"project server"` then the build finishes and the project imports successfully. Otherwise it hangs on the Setting up BSP configuration and doesn't respond to cancel etc.

[code]

[2021-04-13 14:29] agemooij commented on #6432
I ran into this problem as well and luckily found this issue. Everything worked again after deleting `~/.sbt/boot`.

[2021-04-13 17:11] #6449 closed, assigned to nobody

[2021-04-13 17:13] eed3si9n commented on #6294
@joseph-whiting

We will try to complete the migration by the next brown out.

[2021-04-14 07:59] adpi2 commented on #6450
Thanks for the repro!

I am closing the issue because it should be fixed on IntelliJ side: https://youtrack.jetbrains.com/issue/SCL-18940

[2021-04-14 07:59] #6450 closed, assigned to nobody

[2021-04-14 16:27] tpolecat commented on #6432
Yeah I think we need to keep this open. I had to delete `~/.sbt` to get it working.

[2021-04-14 21:17] eed3si9n commented on #6294
I'm not going to share the URL since we should continue to use https://repo.scala-sbt.org/, but I've migrated sbt/sbt-plugin-releases, sbt/debian, sbt/rpm, and typesafe/ivy-releases into Artifactory last night.

[2021-04-14 21:29] ak0rz commented on #6294
That's awesome!

Really appreciate it.

Thank you so much, Eugene!

[2021-04-16 05:53] tmccombs commented on #6445
Is there a plan to replace bintray with something else?

[2021-04-16 12:51] Idorobots commented on #6183
I can confirm the issue happening on `1.4.9` and `1.4.1`. The latest version that we used that didn't have this issue was `1.3.13`.

[2021-04-16 13:25] eed3si9n commented on #6445
The migration plan is discussed at #6294. I'm actually done migrating, and I'm just waiting for the redirect proxy change.

[2021-04-18 06:06] matomer opened #6453 "`inputFiles` resolves to the wrong paths when a file specific glob is used"
## steps

1. Create an SBT project with the following task:
[code]

2. Create the following files under the base directory:
[code]

3. Run the `bla` sbt task in sbt version `1.5.0`

## problem

`bla.inputFiles` resolves to `Vector({{base}}/d/b.txt, {{base}}/d/b.txt)`

## expectation

`bla.inputFiles` resolves to `Vector({{base}}/d/b.txt, {{base}}/d/a/a.txt)`.

## notes

[2021-04-18 19:43] JustinPihony commented on #6294
To be safe, it should probably also be noted for anybody who is watching this - if you push a new release to bintray after Eugene's migration then it will NOT be there after the sunset on May 1. Please do NOT publish any new releases to Bintray - follow Eugene's direction instead:

[2021-04-18 21:11] ScalaWilliam commented on #6294
Yes please. We need more plugins on Maven Central, life is difficult for those in corporates ;-)

[2021-04-18 21:43] sjrd commented on #6294
It hasn't been possible to push new releases to Bintray since March 1st, IIRC the original announcement by JFrog.

[2021-04-18 21:49] JustinPihony commented on #6294
No, that was for JCenter, GoCenter, and ChartCenter - but Bintray will go both ways until it's sunset.

[2021-04-18 23:09] JustinPihony commented on #6294
The new resolver redirects are active. So, if you are using repo.scala-sbt.org then you should automatically start resolving from the new location. And if you aren't then you should change to repo.scala-sbt.org before the 26th brown out to avoid downtime/confusion.

[2021-04-18 23:32] eed3si9n commented on #6294
Thanks Justin! Everyone should test their favorite build using the following:

[code]

[2021-04-18 23:52] eed3si9n commented on #6294
I'm going to close this as resolved for now.

[2021-04-18 23:52] #6294 closed, assigned to nobody

[2021-04-18 23:59] wiml opened #6454 "www.scala-sbt.org/download.html directs users to use bintray"
The page at `https://www.scala-sbt.org/download.html` currently directs Linux users to a couple of repositories located on bintray.com.

However according to issues like #6294 users should be using `repo.scala-sbt.org` which will redirect to the appropriate repository.

My expectation is that `download.html` would send users to the recommended URL.

[2021-04-19 00:12] SethTisue commented on #6447
I can reproduce this in an empty directory with sbt 0.13.18 as follows:

[code]

(I'm using the Homebrew-installed sbt launch script.)

full stack trace:

<details>
<pre>
sbt.InvalidComponent: Could not find required component 'xsbti'
	at sbt.ComponentManager.invalid(ComponentManager.scala:57)
	at sbt.ComponentManager.sbt$ComponentManager$$notFound$1(ComponentManager.scala:34)
	at sbt.ComponentMan

[2021-04-19 00:26] eed3si9n commented on #6447
Works on my machine:

[code]

[2021-04-19 00:37] SethTisue commented on #6447
your suggested command line doesn't fix it on my machine (`env COURSIER_CACHE=/tmp/cache0 sbt -Dsbt.global.base=/tmp/global -Dsbt.boot.directory=/tmp/boot`)

moving my `~/.sbt` aside doesn't fix it either

1.5.0 is not affected, `project/build.properties` must say 0.13.18 or I don't experience this

[code]

if I throw `-debug` in there, the full log is https://gist.github.com/SethTisue/c07446ab9c5

[2021-04-19 00:52] eed3si9n commented on #6447
Sorry I missed one step from your repro:

[code]

Forcing the compilation does blow up for me too.

[2021-04-19 00:58] eed3si9n commented on #6447
I think the workaround would be to give it a new boot directory and use Ivy launcher:

[code]

[2021-04-19 01:00] eed3si9n commented on #6447
We can try to fix this by not using Coursier for sbt 0.13.x.

[2021-04-19 01:08] SethTisue commented on #6447
The workaround works for me — thanks!!

[2021-04-19 08:10] dimisjim commented on #6294
@JustinPihony

How can someone, without a phd in sbt, quickly inspect this in his own project(s), and be certain that every project that should use the `repo.scala-sbt.org`, is actually using it?

I have tried https://stackoverflow.com/a/41094190/3263374 but the output is completely unreadable

Also I have tried to run `sbt "show fullResolvers" | grep repo.scala-sbt.org` but I don't get anything b

[2021-04-19 09:27] unkarjedy commented on #5128
Still reproducible in sbt `1.4.9` and sbt `1.5.0`.

We face this issue in Scala Plugin during sbt project import tests on Windows CI agents.
This is the full workaround method that is used to adjust sbt process environment variables in tests on Windows.
Maybe it will be useful for someone.

[code]

@eed3si9n I suppose you could update the comment with a workaround and mention you need to set
- `CO

[2021-04-19 09:50] slandelle commented on #5325
@pdalpra It looks like you've dropped the reproducer project :(

[2021-04-19 09:57] pdalpra commented on #5325
Ah indeed, sorry for that, completely forgot that it was for that issue...
I could not find a local copy for it, altough it’s not too hard to rebuild a reproducer.

[2021-04-19 09:59] slandelle commented on #5325
Yes, will do. Thanks anyway :)

[2021-04-19 10:16] osumatu commented on #6294
Just one small addition:  We have just realized in the company, indeed redirects are active but looks like it creates an another proxy call and we have only the old link in the white list so we started getting HTTP 403 error for our builds. We are adding the new link also to the white list.

[2021-04-19 12:20] jrudolph commented on #6294
In that case, would it be possible to change sbt's patterns for sbt plugins to follow the usual Maven rules? Right now, `_<Scala version>_<sbt version>` is appended to the name (the directory in a maven repo) but not to all the artifact names. E.g.

[code]

Why is that important? oss.sonatype.org still accepts those artifacts but e.g. there are no download statistics available for artifacts named

[2021-04-19 13:17] jrudolph commented on #6294
I just had the sbt launcher script fail on travis because the md5 files for the launcher jar seem now to be missing.

See https://travis-ci.com/github/akka/akka-http/jobs/499459555

[code]

[2021-04-19 13:26] jrudolph commented on #6294
This is probably a version of https://github.com/paulp/sbt-extras that does the check which comes predefined with Travis if `language: scala` is set.

[2021-04-19 13:35] eed3si9n commented on #6294
@jrudolph That's right. JFrog's migration script removed all `*.md5` files (because Artifactory has the information in HTTP HEAD?) and unofficial runners seem to be affected.

[2021-04-19 13:38] guilgaly commented on #5325
I opened the pull request #6456 which modifies that piece of code to add the classifier (if there is one) to the `ivy.xml` file, and it does seem to work. The code simply only generated the `dependency` element, and the `exclude` elements if there are exclusions, but not the `artifact` element for the classifier.

[2021-04-19 13:46] jrudolph commented on #6294
Unofficial but de facto standard, so I guess it needs to be fixed anyways...

[2021-04-19 14:07] jrudolph commented on #6294
FTR, adding the option `-sbt-launch-repo https://repo1.maven.org/maven2` to sbt in travis helps with that issue.

[2021-04-19 14:13] #5325 closed, assigned to nobody

[2021-04-19 14:22] eed3si9n commented on #6294
@dimisjim

For sbt 1.x builds repo.scala-sbt.org is used only for plugins. If you move around the Coursier and Ivy cache directories like

[code]

you should see sbt plugins load from new repo.scala-sbt.org. You can see the resolvers in metabuild as follows:

[code]

[2021-04-19 16:11] kebeda commented on #6454
`https://repo.scala-sbt.org/sbt/rpm/rpm` results in a 404.

Ref. https://www.scala-sbt.org/1.x/docs/Installing-sbt-on-Linux.html

[2021-04-19 16:56] dimisjim commented on #6294
@eed3si9n ~I still don't see any `scala-sbt.org` in the output.~

~Should I add something in the resolvers path in `build.sbt`?~

EDIT: After doing it interactively, I now can see it.

[2021-04-19 17:51] eed3si9n commented on #6454
### Ubuntu

This works for me:

[code]

This produces

[code]

### CentOS

For RedHat, I think Bintray had a repo file you could download from their description page, not the dl.bintray, so I'll have to create something like that on sbt website. For now you can write one manually as follows:

[code]

This produces

[code]

[2021-04-19 18:58] eed3si9n commented on #6454
Here's a PR for this - https://github.com/sbt/website/pull/1016

[2021-04-19 19:08] #6454 closed, assigned to nobody

[2021-04-20 15:10] francisdb commented on #5236
It seems that you also can't override the auto ci option. `-Dsbt.ci=false -Dsbt.supershell=true` does not show downloads.

The download logs (or just a summary, bytes downloaded?) are useful to check if CI caching is working or not.

[2021-04-20 18:08] DanielBlanco opened #6459 "typesafeRepo (https://repo.typesafe.com/typesafe/releases) is returning a 404 error"
## steps

Cannot access **typesafeRepo**!

## problem

https://repo.typesafe.com/typesafe/releases is redirecting to https://dl.cloudsmith.io/public/lightbend/maven-releases/maven and it is always returning a 404.

Are you working on the servers?

## expectation

When accessing https://repo.typesafe.com/typesafe/releases I should see a list of artifacts.

## notes
I am aware of the JFrog announcem

[2021-04-21 04:32] eed3si9n commented on #6459
Could you report this https://discuss.lightbend.com/ instead please?
I am not involved in the migration of typesafe releases repo, so there's not much I can do.

[2021-04-21 04:32] #6459 closed, assigned to nobody

[2021-04-21 07:58] dimisjim opened #6460 "SERVER ERROR: GATEWAY_TIMEOUT url=https://repo.scala-sbt.org - module not found: com.dwijnand#sbt-compat;1.2.6"
## problem

Our sbt project tries to resolve a plugin which is not defined anywhere in the source code of the project

The plugin in question is: `com.dwijnand/sbt-compat`

Then the whole dependency resolution fails, thus the sbt commands exits

Full stack trace:
[code]

There is however the `net.virtual-void:sbt-dependency-graph:0.9.2` dependency defined which apparently can resolve stuff implici

[2021-04-21 09:43] dimisjim opened #6461 "SERVER ERROR: GATEWAY_TIMEOUT url=https://repo.typesafe.com/typesafe/ivy-releases/org.scala-sbt/compiler-ivy-integration/0.13.18/jars/compiler-ivy-integration.jar"
## problem

A project that uses sbt `0.13.18` outputs this error while trying to `sbt assembly` the project

Full stack trace:
[code]

closely related to another issue reported earlier today: https://github.com/sbt/sbt/issues/6460

[2021-04-21 10:23] dimisjim commented on #6461
related issue: https://github.com/sbt/sbt/issues/6460

[2021-04-21 14:15] SethTisue commented on #6445
repo.scala-sbt.org now redirects to Cloudsmith instead of Bintray

is there still an issue here?

[2021-04-21 14:39] eed3si9n commented on #6445
You mean Scala Center Artifactory?

I've updated the installation instruction on the doc to use repo.scala-sbt.org here - https://github.com/sbt/website/pull/1016

[2021-04-21 14:39] #6445 closed, assigned to nobody

[2021-04-21 14:43] mkurz commented on #6445
@eed3si9n Will you deploy sbt 1.5.0 to the debian repo as well anytime soon?

[2021-04-21 14:47] eed3si9n commented on #6445
Yea. I'm working on a lighter packaging that implements automatic download of `sbt-launch.jar` - https://github.com/sbt/sbt/blob/develop/sbt. Hopefully I'll complete it this weekend.

[2021-04-21 19:25] bjaglin commented on #6294
Thanks @eed3si9n & @JustinPihony  for the smooth migration!

Regarding the [sbt-extras](https://github.com/paulp/sbt-extras/) regression, my understanding is that any script prior to https://github.com/paulp/sbt-extras/pull/305 running on a clean `~/.sbt` is now broken (or require `-sbt-launch-repo https://repo1.maven.org/maven2`). Therefore, it does not seem to be related to the lack of md5 files

[2021-04-21 19:33] JustinPihony commented on #6294
Sorry for not commenting earlier, but I actually went ahead and did this yesterday. Although upon testing it I realized I made it a `rewrite`, but forgot the `redirect` - I have now fixed it and it should be working as expected.

[2021-04-21 19:34] mblonsky commented on #6445
Hi there, I'm just wondering when May 1st comes and the bintray url is sunset, will "apt-get update" still work in codebuild, or do we need to make some changes to somehow avoid that url?

[2021-04-22 02:25] eed3si9n commented on #6445
@mblonsky See https://www.scala-sbt.org/1.x/docs/Installing-sbt-on-Linux.html

[code]

`https://dl.bintray.com/sbt/debian` is out; the new hotness is `https://repo.scala-sbt.org/scalasbt/debian`.

[2021-04-22 12:56] #6436 closed, assigned to nobody

[2021-04-22 13:07] eed3si9n commented on #6460
@dimisjim Thanks for the report.

It seems to me that there's a GATEWAY_TIMEOUT error, and that seems be the actual problem, nothing else. The fact that it's grabbing sbt-compat is because sbt-dependency-graph depends on it. If so, I don't agree with your expectation. sbt should exit if it failed to fetch a transitive dependency of a plugin.

[2021-04-22 13:09] eed3si9n commented on #6460
Are you by chance behind a corporate proxy? If so do you know the timeout it sets?

[2021-04-22 13:24] dimisjim commented on #6460
No there is no proxy involved.

This, alongside the other issue I reported happened within a few hours, and then disappeared

[2021-04-22 17:41] roohix commented on #6400
I tried new version and I got same error, It seems the problem still not fixed

[2021-04-22 18:17] SethTisue commented on #6400
@roohix do you have a MCVE demonstrating the failure?

[2021-04-23 00:50] mblonsky commented on #6445
Thank you for this information eed3si9n. Much appreciated.

[2021-04-23 08:59] mkurz commented on #6400
@roohix What "new version" you mean? sbt 1.5.0? Play 2.8.8? Please make sure you use latest Play 2.8.8 to be able to make use of sbt 1.4.9/1.5.0.
If you are talking about the jna problem on macOS, that still is not fixed, but there is nothing we can do about that for now.

[2021-04-23 15:42] roohix commented on #6400
sbt 1.5.0
play 2.8.8

yes , I mean JNA problem
thank you , I will wait for jna team

[2021-04-24 13:44] muuki88 commented on #6294
Hi there ☺️

Thanks for the fast response on all this.

Is there any guidance on how plugin authors should migrate to maven central?

Should every maintainer get credentials from sonatype? And if yes, how do we ensure if someone is eligible? Coordinates should be as specific as possible, I guess?

I'll try to start next week with migrating sbt-native-packager. I'm happy for any blog posts or repos

[2021-04-24 15:41] eed3si9n commented on #6460
I acknowledge it's an issue, but I don't know if there's much we can do especially if it's not happening any more. Let's close it for now until it happens again.

[2021-04-24 17:51] #2816 closed, assigned to nobody

[2021-04-24 17:57] #3186 closed, assigned to nobody

[2021-04-24 21:37] sjrd commented on #6294
I'll do my best to write something up on Monday.

[2021-04-25 17:52] #6447 closed, assigned to nobody

[2021-04-25 18:59] eed3si9n commented on #5597
Adding this line should be the fix:

[code]

[2021-04-25 19:04] eed3si9n opened #6466 "Reinstate dependency-graph/whatDependsOn* tests"
## steps

In https://github.com/sbt/sbt/commit/c27ccae81ead308314cc03381a717bd41efd6615#diff-a04ab7c449116d324bc5fe384a88cacb1881c6fdef5b69bc47e13cdedc49f0b6 I diabled

dependency-graph/whatDependsOn* tests.

## expectation

Reimplement something that tests this feature.

[2021-04-25 19:14] eed3si9n commented on #5597
Since we no longer use Bintray, we can probably close this.

[2021-04-25 19:14] #5597 closed, assigned to nobody

[2021-04-25 22:12] #6432 closed, assigned to nobody

[2021-04-26 00:46] laughedelic opened #6468 "sbt --client ignores other flags or SBT_OPTS"
## steps

1. install official sbt launcher from GitHub releases
2. run `sbt --client` with any other CLI flags

## problem

Other CLI flags are ignored. Examples:

[code]

All above commands print with colors ignoring any attempts to disable it, here is a screenshot:

<img width="501" src="https://user-images.githubusercontent.com/766656/116014790-4b335700-a637-11eb-8151-87ba4a8afe96.png">

You ca

[2021-04-26 05:47] eed3si9n commented on #6294
Given that there's a brown out coming up today, I figured I'll do a blog post sooner :)
https://eed3si9n.com/bintray-to-jfrog-artifactory-migration-status-and-sbt-1.5.1

[2021-04-26 07:39] mkurz commented on #6294
@eed3si9n I can't upgrade sbt on my Ubuntu using `sudo apt-get update && sudo apt-get dist-upgrade`, I think there is a problem:
`sbt-1.5.1.deb ` exists in https://repo.scala-sbt.org/scalasbt/debian, however the latest version the `Packages` file contains is 1.4.9:
[code]

[2021-04-26 08:01] adpi2 commented on #6432
Thanks @eed3si9n for fixing this!

[2021-04-26 10:58] dziemba commented on #6430
Hey @adpi2 and @eed3si9n, it looks like the problem still happens with sbt 1.5.1, at least under certain circumstances. Here's a minimal example:

[code]

[2021-04-26 14:46] WayneWang12 commented on #6294
I've check the repository finding that there aren't any plugins of sbt 1.x.

[2021-04-26 14:48] SethTisue commented on #6294
Can you be extremely specific about exactly what you're looking for and exactly what you're seeing, please?

[2021-04-26 15:27] eed3si9n commented on #6294
@mkurz I haven't had chance to update https://www.scala-sbt.org/, but per my blog post:

- As of April 26th, Debian package will be published to `deb https://repo.scala-sbt.org/scalasbt/debian all main` on Artsy. The older releases are hosted on `deb https://repo.scala-sbt.org/scalasbt/debian /`.

[code]

[2021-04-26 15:39] WayneWang12 commented on #6294
here: https://scala.jfrog.io/ui/

In sbt-plugin-releases.

[2021-04-26 15:48] eed3si9n commented on #6294
@WayneWang12

https://repo.scala-sbt.org/scalasbt/sbt-plugin-releases/com.eed3si9n/sbt-assembly/scala_2.12/sbt_1.0/0.15.0/ redirects fine.

See also
<img width="1140" alt="Artsy_by_Scala_Center" src="https://user-images.githubusercontent.com/184683/116112019-2bc31b00-a685-11eb-8228-c51dd85c0499.png">

[2021-04-26 15:49] SethTisue commented on #6294
@WayneWang12 I see lots of sbt 1.0 plugins there, for example https://scala.jfrog.io/artifactory/sbt-plugin-releases/org.scalameta/sbt-metals/scala_2.12/sbt_1.0/ , tons of others too

[2021-04-26 15:54] OlegYch opened #6471 "reload occasionnally fails on windows"
## steps
sbt version from somewhere around 1.3.10 to 1.5.0
Windows OS
`reload`

## problem

[code]
reloading again usually works

[2021-04-26 16:14] WayneWang12 commented on #6294
maybe some of it missing new versions:
https://scala.jfrog.io/artifactory/sbt-plugin-releases/com.typesafe/sbt-native-packager:
![image](https://user-images.githubusercontent.com/6812513/116116379-ac1d6680-a6ed-11eb-87f8-706ac8739598.png)

[2021-04-26 16:18] eed3si9n commented on #6294
@WayneWang12 sbt-native-packager is now under com.typesafe.sbt organization name.

Do have any builds that is experiencing build errors?

[2021-04-26 16:20] SethTisue commented on #6294
@WayneWang12 if you are having trouble with a particular plugin, it might be better to seek help in that plugin's repo, and/or to seek help on https://gitter.im/sbt/sbt, and only comment here again if you can show hard evidence that something went wrong with the overall plugin migration.

(There are probably hundreds of people watching this ticket, so doing detailed troubleshooting back-and-forth

[2021-04-26 16:24] jimm-porch commented on #6294
I figured it might help to know that these fixes are definitely working for some of us.

During the last brownout a couple weeks ago, our SBT builds at Porch were all failing, so I expected some trouble with today's 2nd brownout.  But everything is working fine for us today, and we didn't have to make a single change on our side.

Thanks for all the hard work everyone. 👍

[2021-04-26 16:30] dimisjim commented on #6460
Hey @eed3si9n

Encountered this again, twice:

[code]

Reopening this, and the other related issue: https://github.com/sbt/sbt/issues/6461

[2021-04-26 16:32] dimisjim commented on #6460
Also for this:

[code]

[2021-04-26 16:50] SethTisue commented on #6460
is the problem ever reproducible outside of sbt, using e.g. `curl` to retrieve the same URL?

[2021-04-26 17:07] dimisjim commented on #6460
[code]

[2021-04-26 18:18] Tonix517 opened #6472 "Jars on https://bintray.com/typesafe/ivy-releases/sbt/0.13.17 failed to download"
## steps

1. Visited https://bintray.com/typesafe/ivy-releases/sbt/0.13.17#files/org.scala-sbt%2Fsbt-launch%2F0.13.17
2. Clicked to https://bintray.com/typesafe/ivy-releases/sbt/0.13.17#files/org.scala-sbt%2Fsbt-launch%2F0.13.17
3. Clicked sbt-launcher.jar to download the jar

## problem

the redirected URL https://dl.bintray.com/typesafe/ivy-releases/org.scala-sbt/sbt-launch/0.13.17/sbt-launch.ja

[2021-04-26 18:22] felipefrancisco commented on #6472
Same problem here +1
Happening when trying to download https://dl.bintray.com/sbt/debian/sbt-1.3.3.deb

[2021-04-26 18:25] felipefrancisco opened #6473 ""Forbidden!" when attempting to download https://dl.bintray.com/sbt/debian/sbt-1.3.3.deb"
## steps

Downloading or accessing the following URL https://dl.bintray.com/sbt/debian/sbt-1.3.3.deb outputs **"Forbidden!"**

## problem

Considering the file cannot be downloaded, builds using this package fatally break.
![image](https://user-images.githubusercontent.com/2165248/116132631-aa3fad00-a6c5-11eb-93d0-de6f638a6abe.png)

## expectation

The file available should be downloadable.

[2021-04-26 18:56] Tonix517 commented on #6472
Looks like it is a scheduled maintenance and after May 1st all users should use a different URL to download jars: https://status.bintray.com/

"We recommend that JFrog Cloud customers continue using jcenter.bintray.com, gocenter.io, and repo.chartcenter.io as Artifactory remote repositories going forward."