[2014-04-28 15:27] aloiscochard commented on #1184
Yes @gkossakowski now that you mention it, I'm sure that's the issue!!

I'll give it an other try tomorrow and **this time** I'll give you proper log :-)

[2014-04-29 12:22] 2m commented on #1281
I have determined that the `publish` task starts to fail when `sbt` is upgraded from `0.13.2-M1` to `0.13.2-M2`. So the commit is [somewhere in here](https://github.com/sbt/sbt/compare/v0.13.2-M1...v0.13.2-M2).

It seems to be related with [this commit](https://github.com/sbt/sbt/commit/0199a93ffbed2a89f8ce88be1ea04333c48320ec). And the workaround was to add `isSnapshot := true` when changing vers

[2014-04-29 13:49] cunei commented on #1281
This is an issue in sbt; dbuild is also affected. I am looking into it as we speak, but it will be a bit tricky to isolate.

[2014-04-29 16:19] cunei commented on #1281
I minified the error condition to the following standalone `build.sbt`:

[code]

An `sbt publish` with this build file on sbt 0.13.2 will fail with a similar error message. I am currently debugging this issue.

[2014-04-29 21:07] igorkarp opened #1298 "Extracting a constant into a private val results in AbstractMethodError"
Here are the steps to reproduce, standalone but not necessarily minimal.

Create a simple project

[code]

[code]

Than extract a constant

If one extracts a constant into a private val this will result in AbstractMethodError. Note that only one class is recompiled.

[code]

[code]

Changing private val to public does cause recompilation.

[code]

[code]

SBT Version information

[code]

[code]

[2014-04-30 01:09] jsuereth commented on #1281
@cunei Good diagnosis.  Looks like in Ivy 2.3.0-final the default for file repositories is transactional _AND_ there's a bug in the interaction.  Disabling transactions fixes it, and sbt assumes non-transactional defaults.   We can expose transactions in sbt completely, now that they're on by default, but this is looking like an issue with Ivy 2.3 or our assumption that it's non-transactional

[2014-04-30 01:24] jsuereth commented on #1281
Also, we can probably default file repositories in sbt 0.13.5 to non-transactional if needed.

[2014-04-30 01:54] jsuereth commented on #1281
Looks like a legitimate Ivy issue.  The transactional filesystem never creates the directory in which it'll be copying files. Then when it goes to move the directory, nother exists properly and the dubious `renameTo` fails.   Let me know how your investigationg goes or how I can help.

[2014-04-30 11:08] Grundlefleck commented on #1117
Nexus is what our org uses as well, so that looks like a common factor.

I can observe sbt 0.13.0 works and bumping to 0.13.1 fails to work, without any changes to our nexus config. Looks like there's a combination of nexus config and a 0.13.0-0.13.1 change. @jsuereth: what kind of info would be helpful in tracking down?

[2014-04-30 12:38] jsuereth commented on #1117
Well, do you see the issue in 0.13.2 or 0.13.5-M4?

All of these use different ivy versions, and that's my current guess as to what changed (just looking at the logs for the launcher)

[2014-04-30 12:43] cunei commented on #1281
Apparently, Ivy fails when there are no artifacts to be published within a transaction; depending on the configuration sometimes it emits an error message saying "publish aborted: nothing was started", or it will fail to spot that the temporary directory was not created, aborting during the rename.
I just added a test, skipping publication (and the transaction) altogether if there is nothing to be

[2014-04-30 12:49] julienrf opened #1299 "addPlugins does not work when used in a build.sbt file located in a subdirectory"
I have the following structure:

[code]

The `root/build.sbt` file just aggregates the sub projects:

[code]

And, in both `root/project-a/build.sbt` and `root/project-b/build.sbt` I use `addPlugins`:

[code]

If I run sbt from the `root/` directory the sub-projects are loaded but they behave is if the `addPlugins` were missing.

If I run sbt from the `root/project-a/` or `root/project-b/` directo

[2014-04-30 12:57] Grundlefleck commented on #1117
0.13.2 failed to work, with the same error. A colleague had mentioned something about removing ~/.ivy and ~/.sbt directories so I gave that a shot, and 0.13.2 worked. Then I went back to 0.13.1 and it started working too.

I've kept the (apparentely) offending ~/.ivy and ~/.sbt directories if you want me to retrieve anything from them to aid debugging.

I'm fairly happy with removing the dirs as a

[2014-04-30 12:58] gkossakowski commented on #1281
Excellent! Thanks for debugging this @cunei!

[2014-04-30 13:02] jsuereth commented on #1117
Yeah, we may need to add that to the notes.   As ivy versions change, the cache file formats aren't always 100% compatible, even though they should be.  It turns out binary compatibility of serialized data is a super hard problem (even if 'solved'), so It's not a surprise.

Maybe you can find a way to send me the ~/.ivy or ~/.sbt directories and I can take a look.  There's a limit to the amount of

[2014-04-30 13:03] jsuereth commented on #1281
@cunei Good finds!  I'm going to hold of the 0.13.5-RC1 for this fix :)

[2014-04-30 13:20] Grundlefleck commented on #1117
@jsuereth

I've made available both backups here: https://www.dropbox.com/s/e5yj7xj96ntc54v/sbt-issue-1117.tgz

Lemme know if there's any issues downloading.

[2014-04-30 13:51] jsuereth commented on #1117
Got them, thanks!

[2014-04-30 17:45] jsuereth commented on #1299
This is a fundamental limitation in our loading system right now.  We do not merge "instances of the project class" so the first one we see wins, in this case the one defined in root/build.sbt.   The current workaround is to define the addPlugins in that build.sbt file.

[2014-04-30 17:48] jsuereth commented on #1299
Also, sbt should be detecting this.  Which version of sbt are you using?  In 0.13.5-M4 I see:

[code]

[2014-04-30 17:49] jsuereth commented on #1299
Oh, also one final thing:  WIth sbt-multi-project you need _always_ run from the root directory.  Sbt does not support the maven-style mechanism of cd-ing into a subdirectory and building.  Internal to the sbt console you can swap the active-project via the `project` command.

[2014-04-30 18:41] #1281 closed, assigned to nobody

[2014-04-30 20:27] taylorleese opened #1301 "Adding apiMappings doesn't resolve linking to external classes"
I'm trying to resolve a number of warnings similar to below where I can't link to external classes in scaladocs. This is with Scala 2.11.0.

[code]

This is how I am setting up my api mappings:

[code]

Sample output from the println:

[code]

Is this a bug or am I doing something wrong?

[2014-04-30 20:56] taylorleese commented on #1301
Side note, I've had some success with non-standard Scala libraries (e.g. Akka, typesafe config), but I seem to be having the most trouble with the standard Scala library and I'm not sure why.

[2014-04-30 21:08] taylorleese commented on #1301
Ah, it looks like this may only be a problem specific to links in package objects. Perhaps this is a Scaladoc bug?

[2014-05-01 01:33] huntc commented on #1213
So in future:

[code]

will become:

[code]

?

[2014-05-01 01:52] eed3si9n commented on #1301
Hi Taylor, sbt project uses Github issues for internal todo list. For getting help about sbt, please refer to our issue reporting guideline (https://github.com/sbt/sbt/blob/0.13/CONTRIBUTING.md) and open a StackOverflow question to get help from the community. Scaladoc issues I think are tracked as part of scala issues here - https://issues.scala-lang.org/secure/Dashboard.jspa.

[2014-05-01 01:52] #1301 closed, assigned to nobody

[2014-05-01 06:50] huntc opened #1302 "addSbtPlugin ordering"
We had an expectation (perhaps wrongly) that the order of `addSbtPlugin` calls was significant thus these asset pipeline plugin declarations:

[code]

...would result in rjs being executed, then digest and then gzip.

Each plugin adds its pipeline task. For example, with sbt-digest:

[code]

where `addChecksums` is the task and `pipelineStages` is defined by sbt-web as:

[code]

Unfortunately for

[2014-05-01 08:02] julienrf commented on #1299
Yeah, I’m using 0.13.5-M2.

I’d like to! So, by adding the `addPlugins` thing in the root `build.sbt` file it is ok. But, since my root project does nothing more than aggregating the subprojects I hoped it was also possible to also run the projects from their directories… I use the root project only to run the tests of both sub-projects.

[2014-05-01 10:21] huntc commented on #1302
Thinking about it more, I could have the developers assign `pipelineStages` themselves; this may even be a better DX given that they have complete control over pipeline stage ordering, and there's no magic. This is what `build.sbt` could look like:

[code]

To achieve this I'd define the `rjs`, `digest` and `gzip` keys in the scope of the auto import. For example instead of:

[code]

...I'd:

[cod

[2014-05-01 11:54] jsuereth commented on #1302
Hmm, let me investigate the ordering issue a bit here.   It could be the use of a Set is hosing things, however unless otherwise restricted by requirements, the order you declare should have been the one used.

That said, it may make sense to do the following:
1. Have the plugins go into the pipeline in the random order
2. Let the user override this order in their build by having direct access to

[2014-05-01 11:56] huntc commented on #1302
Hi Josh - I've actually now gone down the "user specifies ordering" path. I actually quite prefer this as there is less magic going on. I'm going to close the ticket, but if you could review my second comment in terms of the approach I've taken then that'd be great. Thanks!

[2014-05-01 11:56] #1302 closed, assigned to nobody

[2014-05-01 11:58] jsuereth commented on #1299
So, you should see:  #1213 .    We plan to resolve this issue and that one at the same time.

Basically, inside the lower build.sbt you'll be able to do manipulations to the project object inline, like:

[code]

So, the Project.\* methods become available for .sbt files directly and apply to the project located in the same directory as the directory the .sbt file resides.

This requires restructur

[2014-05-01 16:40] purefn commented on #1078
@gkossakowski How did you determine the amount of overhead?  I'd like to seem what the overhead is for a large project I work on and see if we might benefit from contributing a patch or not.  I suspect not because we don't use much inheritance, but I'd like to see real numbers.  We also have lots of branches and builds going at the same time and builds take several minutes, so even we could only r

[2014-05-01 18:48] gkossakowski commented on #1078
@purefn: I got the number by adding `-verbose` flag to scalacOptions and looking at how much time is spent in each phase.

In your build, add `scalacOptions += "-verbose"` and then run `compile`. You should see the output which looks like:

[code]

The line which tells you how much time (45ms) is spent in api extraction phase is relevant. If you compare it to total time, you see that in case of a

[2014-05-01 20:46] jaceklaskowski commented on #1224
Submitted https://github.com/sbt/sbt/pull/1305 to get this going. Please review and guide me to make it complete. I call myself stuck on trying to understand the sbt sources and the way projects are loaded.

[2014-05-01 21:33] purefn commented on #1078
Ok, on our project the API extraction only accounts for ~2.5% of the total build time.  I'll look elsewhere to try and improve our compilation speed, if possible.

[2014-05-02 04:13] TheSultan commented on #987
I am using the same launcher as sbt (i.e. 0.13.0). See below for details.

However, I do not believe that is the reason you cannot reproduce. I think it is precisely because your ivy.xml contains the publications entry. Did you try removing the publications entry from your ivy.xml or overwriting that ivy.xml with the one I checked in as per my previous comment? The latter is what I did to reproduc

[2014-05-02 06:52] huntc commented on #1185
I have some code that presently uses Tests.showResults e.g.:

[code]

... I suspect others may have been using `Tests.showResults` so it might be useful to show an example here of how the above can be directly represented by `TestResultLogger`.

@japgolly Can you do that?

[2014-05-02 07:24] huntc commented on #1185
Actually, I did it. Somewhere declare the logger:

[code]

and then use it:

[code]

[2014-05-02 09:24] japgolly commented on #1185
Cool, my work here is done :grinning:

[2014-05-02 09:36] huntc opened #1306 "JUnitXmlTestsListener interpreting suite name as a file"
While performing some work on sbt-web's mocha testing plugin, I noticed some weirdness with the JUnit report listener. It appears to interpret the name of the suite as a filename:

https://github.com/sbt/sbt/blob/b38b86add5384728789c395498faa317921548da/testing/src/main/scala/sbt/JUnitXmlTestsListener.scala#L157

This caught me out as I was naming the suite something nice and sensible, and certain

[2014-05-06 21:09] jsuereth commented on #1299
It's implemented, but still needs run through the ringer.

Just a note for myself: https://github.com/sbt/sbt/commit/52e3e6f9f4af1d093ddc1153718cb24d4b349ae5

[2014-05-06 21:10] jsuereth commented on #1299
Oh, also this still doesn't do project merging. we _could_ after this improvement, but I'm not sure that's healthy for us right now until we get rid of some public APIs that shouldn't be public.

For now, this just allows  `enablePlugins` directly in an sbt file.

[2014-05-06 21:11] jsuereth commented on #1213
Note: This required completely redoing the core of the "Load.scala" algorithm for grabbing `Project` instances from config files, but the meat of it is here: https://github.com/sbt/sbt/commit/52e3e6f9f4af1d093ddc1153718cb24d4b349ae5

Once I flush out any extraneous issues, I'll issue a pull request.

[2014-05-07 15:58] mpilquist opened #1314 "Auto import feature of auto plugins does not work with objects"
# Steps
1. Create an `AutoPlugin` that defines a nested `autoImport` object:

[code]
2. Add that autoplugin to a new project and try to reference a member of `MyPlugin.autoImport` without explicitly importing it:
   `scala
   libraryDependencies += scalatest
   `
3. Observe SBT error:

[code]
4. Extract an object and declare `autoImport` as a val that references that object:

[code]
5. Observe tha

[2014-05-07 16:10] mpilquist opened #1315 "organization setting is ignored when set by an AutoPlugin"
## Steps
1. Create an autoplugin that specifies the `organization` and `organizationName` settings in `projectSettings`:

[code]
2. Use that autoplugin in a new project that has an empty build.sbt.
## Problems

Observe that the `organization` setting was not applied but the `organizationName` setting was applied.

[code]
## Notes

Inspecting the `organization` setting shows that `sbt.Build.scala:5

[2014-05-08 18:25] #1213 closed, assigned to jsuereth

[2014-05-08 22:32] huntc commented on #1213
Awesome work guys!

[2014-05-09 12:42] jsuereth commented on #1299
So i'm going to close this for now.  We're not sure we'll ever do the "merge project instances" thing between different .sbt/.scala files, but you should be able to declare the plugins in the sub-.sbt file and just reference the project from the master build.scala/build.sbt.

[2014-05-09 12:42] #1299 closed, assigned to jsuereth

[2014-05-09 12:55] jsuereth commented on #1297
So according to that report, you're using sbt version `0.12.4`.  THe sbt launcher may be on `0.13.2` but if your `project/build.properties` has a different version, we'll automatically downgrade.

Unfortunately, due to Jline versioning hell, 0.12.4 and scala 2.10+ are incompatible in cygwin.  We tried for like two weeks to figure out how to make it work, but to no avail.   If you upgrade the proje

[2014-05-09 12:55] #1297 closed, assigned to nobody

[2014-05-09 12:56] jsuereth commented on #1193
I'm curious to see what you come up with, btw, so feel free to take a shot.

Also, for sbt, you may want to check out build loaders...

[2014-05-09 13:17] Blaisorblade commented on #1193
Thanks for the encouragement! I fear I got stuck trying to get a good set of requirements for this, so I didn't even get started. (That's my general problem, my PhD sucks enough resources out of me).

Thanks for the link to build loaders, they seem extremely powerful.

I guess that might be good to get started, yes :-D.

[2014-05-09 13:29] Blaisorblade commented on #1193
A correction: I wanted to support having macros in the library, so the library should be built as a separate project. But [custom builders](http://www.scala-sbt.org/release/docs/Extending/Build-Loaders.html#custom-builder) seem to allow creating new projects, so what I'd like seems technically possible.

[2014-05-09 15:31] claudenobs commented on #1297
interesting thanks. will try sometime with 0.13.2 :)

[2014-05-09 18:02] gkossakowski commented on #1184
@aloiscochard: did you have a chance to gather the log output?

[2014-05-09 18:08] aloiscochard commented on #1184
@gkossakowski I gave it a try last week but I'm not sure how I messed with the configuration... I think it didn't got enabled at the end.

I was actually thinking about it today, I'm sorry I haven't spend more time on it... but I will next week!

[2014-05-09 18:11] gkossakowski commented on #1184
No worries. I've seen @paulp has run into this as well: https://twitter.com/extempore2/status/464826207515602944

We'll see which one of you will be the first to shed more light on this issue.

[2014-05-10 15:48] pdalpra opened #1322 "SBT doesn't honor Maven's uniqueVersions"
## Steps
- Publish an `SNAPSHOT` artifact to a Maven repository (with `publishMavenStyle` set to `true`, obviously)
- Try to fetch this artifact as a dependency from Maven 3
- Notice the trouble you're into when trying to fetch the latest `SNAPSHOT`...
## Problems

Maven's support for "unique versions" was deprecated in Maven 2, which reached EOL in February 2014, and definitely disabled in Maven

[2014-05-10 16:31] jsuereth commented on #1322
Questions:
1. Is this a feature of how you publish pom files, or is there an additional step in publishing that needs to happen?
2. is this reported in apache Ivy?  If not, have you asked them if they support this (It could be sbt is just out of date regarding ivy).

I'm all for making this work out of the box in sbt, just need to get some more info.  Tentatively scheduled for fix in 0.13.6.

[2014-05-10 17:14] pdalpra commented on #1322
1. It's not a feature of how pom files are published, all kinds of artifacts have to be published with `SNAPSHOT` substituted by a timestamp.
   I guess you're thinking about my `publishMavenStyle` suggestion, as `publishMavenStyle` description states that it controls publication of either a POM or an Ivy module descriptor and I would agree it may be not the best choice after all... A `uniqueVersi

[2014-05-11 13:02] vn971 opened #1323 "`clean` is needed while upgrading from sbt-0.13.1 to sbt-0.13.2"
Steps how I can reproduce the issue:
- start SBT version 0.13.1 on my project, do `clean`, then `compile`. It will succeed
- stop SBT
- change version to 0.13.2
- start SBT, do `compile`. At this moment a compilation error appears.

Notes that can be useful:
- scalaVersion of the project is 2.10.3
- during the second (last) `compile`, SBT recompiles all the classes present. At least it writes the

[2014-05-12 00:06] jaceklaskowski opened #1324 "No type and Provided by when setting's not assigned value"
It's with the latest version sbt 0.13.6-SNAPSHOT built from the sources today:

[code]

With the following `build.sbt` the setting doesn't get the type and `Provided by` printed out with `inspect`.

[code]

When `build.sbt` has the setting assigned a value (the line with `xxx := "Hello"` gets uncommented) `inspect` shows the type and `Provided by`.

[code]

I'd call it a bug as there's no way to k

[2014-05-12 07:43] martinburger opened #1325 "sbt constructs wrong path for specific / timestamped snapshot versions"
**Background**

I am developing a Play 2.2.3 application; the Play build system uses sbt.

I am using Sonatype Nexus OSS to manage various libraries built and deployed by Maven. At the moment, I am deploying _snapshot versions_ of those libraries.  For instance:

[code]

The Play application depends on snapshot versions of those libraries.

**Intention**

In the Play project, I want to use a _spec

[2014-05-12 08:25] vn971 opened #1326 "eating CPU while waiting -- is this OK?"
I created a sample repository which shows the CPU eating problem:
https://github.com/vn971/sbt-0.13.5-RC2-bug
(It's almost empty: no sources and no plugins at all.)

Instruction on how to see it:
- start `sbt` in a first terminal
- start another `sbt` in a second terminal.
- open `htop` (linux), filter by "sbt" (with F4), see that there are currently two processes with sbt.
- in the second termina

[2014-05-12 09:28] jrudolph opened #1327 "Changing Java interface into abstract class should trigger recompilation of (scala) implementors"
Reproduction: https://github.com/jrudolph/java-interface-inc-compilation-fail

[2014-05-12 09:32] jrudolph commented on #1327
The gist of it:

A.java:

[code]

B.scala

[code]

When `A` is changed from `interface` to `abstract class` just A is recompiled and the compilation instantly fails with

[code]

Instead, both A.java and B.scala should be compiled jointly on the first try.

[2014-05-12 13:37] gkossakowski commented on #1327
The issue here is that you have a cycle of dependencies between `A.java` and `B.scala` and we don't perform cycle detection during initial invalidation. This issue can be reproduced in pure Scala:

[code]

The change from `trait` to `abstract class` crashes Scala compiler:

[code]

[2014-05-12 13:56] jrudolph commented on #1327
I see, thanks for the explanation, @gkossakowski.

[2014-05-12 20:25] jsuereth commented on #1326
Currently, sbt uses polling, which can suck up CPU.  For me, it's only 20-30%, but i geuss oculd be different depending on your architecture.

We're planning to implement a fix, where for environmnts that support OS-level hooks, you'll see a CPU usage improvement.  See: https://github.com/playframework/playframework/issues/2620 for more info/reports.

[2014-05-12 21:17] vn971 commented on #1326
Ah, so it's even a single opened SBT that can eat up CPU while `~`. That's a pity. OK, understood, thanks.

I guess I can close this issue because there's a more general one. (Or maybe open a new one with unnecessary stuff cleaned-up, if you'll want.)

[2014-05-12 21:17] #1326 closed, assigned to nobody

[2014-05-13 02:43] jroper opened #1329 "Order of magnitude performance regression in watch mode"
The performance of SBT's watch mode seems to have regressed across multiple releases, with a significant regression occurring since 0.13.1.

I've used the Play code base as a benchmark, on OSX, with 4 CPU cores.

I've used `find . -path '*/src/main/*' | wc -l` from Play's `framework` directory to estimate the number of source files being watched.

I've used `~compile` as the test to run, and then

[2014-05-13 05:06] jroper commented on #1329
I've captured some profiling snapshots between SBT 0.13.1 and 0.13.5-RC1, but the data from the profiling is a mess - I suspect that YourKit filters out by default many of the method calls that we're most interested in profiling.  One sampling snapshot that I got showed that SBT 0.13.5-RC1 was calling File.isHidden a lot, it wasn't being called in 0.13.1.  The tracing snapshots reveal nothing, the

[2014-05-13 06:59] retronym commented on #1329
I'd suggest to use sampling mode, rather than tracing mode, as the first pass.

When you view the CPU snapshot, you can configure which methods are filtered out of the view with:

![image](https://cloud.githubusercontent.com/assets/65551/2954117/0fd6fca0-da6c-11e3-8e3c-d1a2f6ecd3b9.png)

[2014-05-13 08:26] gaydenko commented on #1329
I just want to add I haven't met the issue with 0.13.5-M2, a problem has appeared with RC1.

[2014-05-13 08:47] retronym commented on #1329
I wonder if e076bfa970e is in play here. Do you see the same issue with `sbt -Dsbt.task.forcegc=false ...`

[2014-05-13 09:50] godenji commented on #1329
@retronym forcegc=false chops down CPU usage from constant minimum 50% to around 20% with idle `~run` in Play 2.3, which is welcome, thanks!!

Also speeds up SBT incremental recompilation performance, which was painfully laggy compared to 0.13.1/2

Applying this one flag seems to resolve at least 2 bugs, nice ;-) @jroper forgive the grumbling elsewhere, just trying to preserve the excellent Play 2

[2014-05-13 09:54] gaydenko commented on #1329
@retronym , great, thanks! `-Dsbt.task.forcegc=false` resolves the issue at my case: idle `~run` takes 1-3% on my machine.

[2014-05-13 10:36] retronym commented on #1329
@eed3si9n @jsuereth I would suggest to throttle this option ("no more often than once per N-seconds") by default.

Integrating SBT with JDK7 `WatchService` would be an awesome contribution to SBT. We could also use that in the part of the incremental compiler that checks for updates to source and class files; we've had reports that this is a bottleneck on Windows systems with realtime virus scanni

[2014-05-13 12:10] jsuereth commented on #1329
@retronym Good points.  I'll expand it to be a more configurable strategy, perhaps.

Also, we already have a ticket for creating a new, re-usable, watch service that can be backed on JDK7 if running on JDK7.

I'm going to leave this open as we'll have to tune the autogc fix for open files.

[2014-05-13 14:19] jroper commented on #1329
I should have checked gc, the profile shows 2 full gcs per second - totally explains it, and that also explains why CPU profiling was completely useless at determining anything useful.

[2014-05-13 14:30] jroper commented on #1329
Sorry - wrote a comment, and then deleted it, then hit the close button to close the comment box... except that's not what it does.

[2014-05-13 19:52] astorath commented on #1208
Any updates on this?

[2014-05-14 13:06] #1314 closed, assigned to nobody

[2014-05-14 13:31] jsuereth commented on #1324
This isn't a bug.  It's by design.  When you create a "key". you're not actually making a setting, only creating a "placeholder" that may contain a setting.  It's like creating a custom interface for settings, not defining one.

Hope that help!

[2014-05-14 14:24] francisdb opened #1335 "/lib jars still found even if unmanagedBase is changed"
I'm trying to migrate a legacy java project to sbt. Therefore I want to gradually replace the provided jars in lib to managed ones

as I want to ignore the lib folder in my build.sbt I have this:

[code]

`compile` correctly causes my build to fail because of missing dependencies.

Then I add one of the lib jars to the build

[code]

`compile` succeeds, suddenly all other jars in lib are also adde

[2014-05-14 23:52] cunei commented on #1335
I cannot replicate this behavior. I tried a setup similar to the one you describe, placing two jars in `lib/`, including only one of them via `unmanagedJars`, and redirecting `unmanagedBase` to a dummy directory. The library included via `unmanagedJars` is visible, the other is not found. I tested sbt 0.13.2.
Can you please package a self-contained test case?

[2014-05-15 00:16] cunei commented on #1325
The behavior that you describe is actually expected. The pom path, in case fixed versions are used, is built according to a fixed pattern, in which the version of the pom file and that of the directory are identical.
Snapshots are resolved differently; the fact that the repository manager (Artifactory, for instance) uses a collection of timestamped files is mostly an internal detail: a reference t

[2014-05-15 01:36] martinburger commented on #1325
Well, I think using such "timestamped" (or, locked) snapshot versions is a common use case. There is even a plugin that simplifies the process of locking snapshots: http://mojo.codehaus.org/versions-maven-plugin/examples/lock-snapshots.html

On 15. Mai 2014 02:16:51 MESZ, cunei notifications@github.com wrote:

[2014-05-15 07:28] raymondtay opened #1337 "best practice on using sbtVersion or sbtBinaryVersion"
Hi sbt developers,

Am running `0.13.5-RC1` right now and was wondering what's the _usual_ practice when it comes to understanding the _exact_ version of the SBT we're running; is it to use `sbtVersion` or `sbtBinaryVersion` ?

It's a small issue but i wonder why `sbtVersion` is not shown during a autocomplete ? That leads me to think that i should be using `sbtBinaryVersion` which isn't exactly w

[2014-05-15 10:15] francisdb commented on #1335
Thanks @cunei for checking, just found the issue, seems that one of the jars I include has a manifest with a "Class-Path" property that points to the libs

Any idea on how I could ignore/modify that manifest using sbt?
For reference:
http://stackoverflow.com/questions/3800462/can-i-prevent-javac-accessing-the-class-path-from-the-manifests-of-our-third-par

[2014-05-15 10:15] #1335 closed, assigned to nobody

[2014-05-15 13:40] jsuereth commented on #1337
It's not shown because it's global, not defined on the current project.  {.}/_:_/sbtVersion may autocomplete, but I forget the rules.

`sbtVersion` is what you should use.  If you'd like sbtVersion to show up in autocomplete, please open that as a ticket.

Questions about best practice should either go to stack overflow _or_ sbt-dev (depending on whether it hits on sbt core design/development).  P

[2014-05-15 13:40] #1337 closed, assigned to nobody

[2014-05-15 15:07] jsuereth commented on #1325
I believe this may be a duplicate of #1322.  Ivy itself never migrated to maven's new snapshot system, and so we're at the whims of what it can handle.

[2014-05-15 15:07] #1325 closed, assigned to nobody

[2014-05-15 15:09] jsuereth commented on #1335
Wow, Class-Path in a lib dependency feels evil....

And right now we don't really have a hook to rewrite jar files on the fly, but you could write such a  task by hooking the `dependencyClasspath` task and altering the jars there.

[2014-05-15 15:26] francisdb commented on #1335
@jsuereth evil indeed, thanks for the hint

[2014-05-16 03:53] huntc commented on #1156
I couldn't find that other issue that you referred to. However I've just seen this on our Play CI server. We're using sbt 0.13.5-RC1:

[code]

The artifacts actually got uploaded ok.

Here's the CI that failed: https://playframework2.ci.cloudbees.com/job/play2-master-nightly-deploy/323/consoleFull Here's the repo with the published artifacts that ivy is complaining about: https://private-repo.type

[2014-05-16 04:03] jsuereth commented on #1156
@huntc This is because artifactory is autogenerating the files we look for.  What looks odd to me is that you should _NOT_ be seeing that in 0.13.5-RC1.

Can you issue more of the stack trace so I can see the sbt-related code?

[2014-05-16 04:05] huntc commented on #1156
Hi Josh - the full stack trace is here: https://playframework2.ci.cloudbees.com/job/play2-master-nightly-deploy/323/consoleFull

[2014-05-16 04:18] huntc commented on #1156
The build failed again so at least it is reproducible.

[2014-05-16 08:53] choedl commented on #1117
So it looks like there is a workaround for most people. Should I close the issue?

[2014-05-16 11:33] rtimush opened #1341 "MatchError when using build transformers"
Build.scala:

[code]

Error:

[code]

[2014-05-16 11:34] jsuereth commented on #1156
@huntc Ok, oddly your issue is different.  You're legitimately seeing the overwrite issue.  However, since you're publishing a snapshot, you can correct this by having `isSnapshot := true` on your projects  and it will stop issuing the error on overwrite.

[2014-05-16 11:36] jsuereth commented on #1341
Appears to be caused by a swap form `List[_]` to `Stream[_]` _NOT_ failing the pattern matcher.   We should probably start compiling with warnings enabled just to be able to catch some of these...

[2014-05-16 11:44] rtimush commented on #1341
As far as I understood the problem is the type is `Seq` but it is matched as if it is `List`, although there are other `Seq` implementations.
Does scala compiler has a warning for this? REPL doesn't show me a warning in this case.

[2014-05-16 11:46] jsuereth commented on #1341
hmm... I had thought it did.  A lot of sbt code is written with `List` expected for all collections so that `::` pattern matching works.  While we could swap to the `+:`, I was hoping we could find a way to get a compiler warning on these instances....

[2014-05-16 12:24] #1117 closed, assigned to nobody

[2014-05-16 18:14] #1341 closed, assigned to nobody

[2014-05-16 21:04] huntc commented on #1156
Hey Josh. We are not publishing a snapshot though...

[2014-05-16 21:19] mpilquist commented on #321
Just got a similar issue with 0.13.5-RC1 FYI, but with a twist -- SBT wasn't seeing the new SNAPSHOTs published to local ivy repository via publish-local. The build does have the local maven repository added as a resolver.

[2014-05-16 21:23] eed3si9n commented on #321
Could you create a repro case?
If not, you can use [sbt/sbt/sbt-dirty-money](https://github.com/sbt/sbt-dirty-money) to selectively wipe out the Ivy cache.

[2014-05-16 21:32] mpilquist commented on #321
If I succeed in repro case, I'll send. At the very least, I should be able to provide access to internal repos via Typesafe support.

[2014-05-19 03:41] jroper opened #1347 "Global plugins class loader should not be parent of project classloader"
Global plugins are merged in with a build projects classpath (I mean, the sbt project build, that thing configure by `project/plugins.sbt`, not the applications build).  But in addition to this, the global plugins are loaded into their own classloader, and then this classloader is used as the parent of the build project.  This means that while it is possible for a projects build to override depend

[2014-05-19 03:41] jroper commented on #1347
Issue caused by this in Play: https://github.com/playframework/playframework/issues/2882

[2014-05-19 10:44] paulp opened #1348 "That's a lot of State copies"
If you look at State.scala there's an ignored expression in the StateOps constructor, floating almost invisibly unattached to the methods on either side of it.

[code]

There's a compiler option which is supposed to warn you about this sort of thing.

[2014-05-19 12:01] dansanduleac commented on #1347
I was just about to comment on this as well. Also see #1084 for a previous discussion on this.
To answer your question, this has existed for a long time, and it's probably about time we fix it.
I think I've identified @8cb7e23 as the main cause for this, whose scripted test verifies something that is not the behaviour we want. I think we should probably revert that change, and instead only inject

[2014-05-19 12:45] jsuereth commented on #1348
Hmm, I wonder if this was a leftover artifact of the "style formatter".   I turned warnings on once for sbt and was then unable to separate the sheep from the goats.

In any case, thanks for the report.  Most likely that line can just be removed.  PR welcome.

[2014-05-19 14:08] jsuereth commented on #1347
Yeah, I think this may take some time to clean up, but we should.  For now, unfortunately, we just want to make sure plugin versions line up as much as is feasible.  As a temporary workaround, we could invert the parent-classloader delegation for projects so the local class is pulled before the parent class is pulled, but that may lead to odd classformatexceptions.

[2014-05-19 14:37] jsuereth commented on #1156
@huntc I realize that.  isSnapshot, currently, only denotes that the build can overwrite previous values.  I suspect `+publish` has something to do with your issues (republishing artifacts that shouldn't be republished)

[2014-05-19 15:42] jsuereth commented on #1208
No, got pushed back.  Pull requests welcome.

[2014-05-20 09:31] timohirt opened #1354 "[0.13.5-RC3] sbt fails to start the shell for some command line options"
I want to define the max perm gen size as well as some other non standard JVM options. As soon as I add the options the the `sbt` call it fails to start the interactive shell.

[code]

[2014-05-20 13:08] jsuereth commented on #1354
Which sbt script are you using?  You'll want to use `-J` for most of them to ensure that the argument is used as a JAVA argument, not an argument to sbt.

[2014-05-20 13:54] ktoso opened #1355 "plugin review: sbt-jmh"
Hi guys,
it would be great if you could review this plugin: https://github.com/ktoso/sbt-jmh/
It's for http://openjdk.java.net/projects/code-tools/jmh/ and a bit convoluted, since JMH does a lot of stuff to prepare the benchmarks.

JMH works like this:

[code]

It's an early version - feel free to bash. For example I should be able to disable the scala compiler for the last step.

[2014-05-20 16:25] eed3si9n opened #1356 "[0.13.5] transitive dependency resolution error"
Originally reported to:
-  sbt-dev as [transitive dependency resolution error in 0.13.5](https://groups.google.com/d/msg/sbt-dev/g_keXZOhmkw/FVh75SHVmkoJ)
- Stackoverflow as [sbt 0.13.2-M3 to 0.13.5-RC3 issue](http://stackoverflow.com/questions/23701209/sbt-0-13-2-m3-to-0-13-5-rc3-issue)
  by Gregory Jablonski

## Notes

Michael Pilquist noted:
- https://issues.apache.org/jira/browse/IVY-1457
- ht

[2014-05-20 16:27] gkossakowski commented on #1355
I looked at the plugin source and I don't understand why do you need to modify anything in the `Compile` configuration. I think it would be a lot cleaner for your `sourceGenerators in Jmh` to depend on `compile in Compile` and then the rest would be straightforward, the `compile in Jmh` would pick up java sources generated by jmh and compile them. The `run in Jmh` would have the right classpath, e

[2014-05-21 03:06] #1356 closed, assigned to eed3si9n

[2014-05-21 07:07] timohirt commented on #1354
`-J` solved the problem. Thanks!

[2014-05-21 07:07] #1354 closed, assigned to nobody

[2014-05-22 02:25] huntc opened #1361 "Publishing isolation for scripted"
When scripted performed a local publish I noticed this:

[code]

I tend to make all the changes I need, including the update of a version in the file. I then test everything via "sbt test scripted". I then commit and tag the release. Finally, I publish to the remote repo if all is well.

@eed3si9n 's thoughts on this: "I think we need more isolated cache and repo for scripted, or make something li

[2014-05-22 02:30] eed3si9n commented on #1361
As it stands, "publishLocal before scripted" business assumes you're on `-SNAPSHOT`. If we plan to abolish `-SNAPSHOT`, `scripted` use case and many other local uses of snapshot needs to be replaced with something. Either a throwaway Ivy repo+cache garden, or something like `-LOCAL`. Garden approach may be cleaner, but likely slow without having Artifactory proxing etc.

[2014-05-22 08:25] gkossakowski opened #1363 "NPE in StringUtilities"
I get this while starting sbt:

[code]

Removing `target/` directories in the project doesn't resolve this problem.

[2014-05-22 09:11] jsuereth commented on #1363
What do you have in this file:

/Users/grek/tmp/s195-api-server/project/plugins.sbt:26

On Thu, May 22, 2014 at 4:25 AM, Grzegorz Kossakowski <
notifications@github.com> wrote:

[2014-05-22 09:16] gkossakowski commented on #1363
I have:

`addSbtPlugin("com.typesafe.play" % "sbt-plugin" % System.getProperty("play.version"))`

I guess `getProperty` is returning null. Do you know who is setting that property?

[2014-05-22 09:22] jsuereth commented on #1363
Is It an activator template?

The play script sets that property generally

[2014-05-22 10:33] jsuereth commented on #1363
In any case, this is not an sbt bug.

[2014-05-22 10:33] #1363 closed, assigned to nobody

[2014-05-22 11:40] gkossakowski commented on #1363
Nope, it's plain sbt project so I think this didn't have a chance to work.

I was trying to use that mechanism (that I was in Play samples) to make sure that Play version and sbt-play plugin verions are in sync. In project I'm analyzing they were not in sync so incremental compilation suffered because the project was using outdated version of sbt-play plugin.

[2014-05-22 13:15] jsuereth commented on #1329
should be fixed in latest

[2014-05-22 13:15] #1329 closed, assigned to nobody

[2014-05-22 16:03] eed3si9n commented on #1323
What is your expected outcome? A better documentation on our part or automatic detection of sbt upgrade and cleaning?

[2014-05-22 16:13] eed3si9n commented on #1214
This looks to be resolved, so I'm closing this.

[2014-05-22 16:13] #1214 closed, assigned to nobody

[2014-05-22 16:39] som-snytt commented on #1214
This came up on StackOverflow.  It makes me nostalgic for the old days of debugging ant class loaders.  Someday I'll use sbt and scalatest enough to be more helpful.

http://stackoverflow.com/a/23575337/1296806

[2014-05-22 16:57] vn971 commented on #1323
Well, it's not an issue for me personally because I already know how to avoid that (to `clean`). But I wrote about this behavior on the mailing list and Josh Suereth said that it could be useful to open a ticket ("Please open a ticket if you can grab more information").

If that's not the case or it's no longer useful then I can close the issue. It was more for SBT developers than for me anyway.

[2014-05-22 16:59] eed3si9n commented on #1323
Got it. Thanks for the clarification.

[2014-05-23 09:25] dansanduleac opened #1366 "updateClassifiers should not get classifiers for other subprojects"
You already have the source code for those other projects, so there is no need to try and get source / javadoc artifacts for them.

[2014-05-23 14:02] OlegYch opened #1368 "sbt classloaders should not return null from java.lang.ClassLoader#getResources"
this breaks general contract of the method
in particular i'm having an issue with NullLoader returning null at https://github.com/hazelcast/hazelcast/blob/db8721eab91961d61ef4957682e71ce9dc3fdcf7/hazelcast/src/main/java/com/hazelcast/util/ServiceLoader.java#L169
using sbt 0.13.5-RC5

[2014-05-23 22:19] ktoso commented on #1355
Thanks Greg - good tips. I'll try to modify it according to this suggestion over the weekend.

[2014-05-24 02:52] ghost opened #1369 "bin/sbt-launch-lib.bash should respect the JAVA_OPTS define"
/usr/share/sbt-launcher-packaging/bin/sbt-launch-lib.bash

these file takes wrong variables java_opts, the right variables should be JAVA_OPTS

Here is my version

[code]

[2014-05-24 02:53] ghost commented on #1369
Sorry for not mention, i am talking about the package of RPM for centos

[2014-05-25 01:02] pdalpra commented on #1322
FYI : Looks like Gradle managed to do it, in some way or another : http://www.gradle.org/docs/current/javadoc/org/gradle/api/artifacts/maven/MavenDeployer.html (they're using Ivy 2.2.0)

I'll dig into Gradle code to find out how they did it.

[2014-05-25 01:15] jsuereth commented on #1322
gradle actually rewrote their own dependency manager (in 1.x)...

[2014-05-25 14:03] softprops opened #1370 "Credentials key. Is there any real reason this needs to be a task rather than a vanilla setting?"
I'm asking because I'm [trying my hardest](https://github.com/softprops/bintray-sbt/issues/25) to figure out how I can reference the `credentials` key from a settings key ( `publishTo` ) and am hitting a road block. It [doesn't](https://github.com/sbt/sbt/blob/0.13/main/src/main/scala/sbt/Defaults.scala#L96) seem like the [credentials key](https://github.com/sbt/sbt/blob/0.13/main/src/main/scala/s

[2014-05-26 10:57] EECOLOR opened #1371 "Tracing an exception from a test framework gives invalid suggestion"
When I trace an exception from my test framework it displays the following line:

[trace] Stack trace suppressed: run last little-spec/test:test(name: org.qirx.littlespec.sbt.SbtReporterSpec, isModule: false) for the full output.

Executing `last little-spec/test:test(name: org.qirx.littlespec.sbt.SbtReporterSpec, isModule: false)` results in the following error:

[code]

It seems the `testExtra`

[2014-05-26 11:30] dragos opened #1372 "Incremental compiler loses warnings"
This is a problem for stateful clients, like IDEs. Warnings (and possibly errors) may simply be lost. By stateful I mean "the client maintains a GUI with error markers that need to be added/removed in response to compilations). The fundamental difference between Sbt and stateful clients is that Sbt reports errors per "compilation run" (usually a subset of all project files), while IDEs try to main

[2014-05-26 13:28] gkossakowski commented on #1372
//cc @jsuereth who is interested in incremental compiler reporting

[2014-05-26 13:48] gkossakowski commented on #1372
@dragos: have you considered using [Analysis.infos](https://github.com/sbt/sbt/blob/0.13/compile/inc/src/main/scala/sbt/inc/Analysis.scala#L30) for syncing source markers when you make a transition from unsuccessful to successful incremental compilation run?
If you make a transition  from unsuccessful to successful incremental compilation result you get a new Analysis that contains source markers

[2014-05-26 15:20] dragos opened #1373 "Global setting keys don't show up in autocomplete (sbtVersion)"
(using 0.13.5-RC5)

[code]

An interesting factoid: 78 upvotes for [how to check sbt version](http://stackoverflow.com/questions/8461013/how-to-check-sbt-version).

[2014-05-26 15:31] dragos commented on #1372
Interesting, I didn't know that `Analsys` stores that kind of information. Does it contain errors only, or both warnings and errors?

[2014-05-26 15:34] gkossakowski commented on #1372
Both errors and warnings. The [`printWarnings`](https://github.com/sbt/sbt/blob/0.13/main/src/main/scala/sbt/Defaults.scala#L792) command is implemented by using this information.

[2014-05-26 16:18] dragos commented on #1372
Ok, something to look into this week..

[2014-05-26 23:04] jsuereth commented on #1373
I believe this is a duplicate.  Basically, the autocompletion we do doesn't fully account for delegation, and therefore ignores "Global" settings, like `sbtVersion`.

On my machine:

[code]

[2014-05-26 23:06] jsuereth commented on #1373
Ah, related to #1337, which was closed.  I'll repurpose/relabel this ticket.

[2014-05-26 23:24] jsuereth commented on #1370
It's a task because it reads from a file and does so on demand (So you can add the file during an sbt session).  Settings are only initialized on (re-)loads.   Also, if loading a file fails, you don't want the whole build to crash.

Also, this kind of question is perfect for sbt-dev list, but not really an issue.  If you'd like alternatives for adapting `publishTo`, you can bypass it via `publishC

[2014-05-26 23:24] #1370 closed, assigned to nobody

[2014-05-27 08:09] dragos commented on #1373
Yes, `sbtVersion` (typed fully), works for me as well. But I still think this is a very basic thing that can leave people very frustrated. For example, when I saw that tab-completion doesn't show it, I didn't even bother typing it (even though I vaguely remembered about `sbtVersion`). It's telling that the answer on SOF had 78 upvotes...

[2014-05-27 11:23] xhudik opened #1374 "quit vs. exit - unify the way how to leave any session/tool"
Hi, wouldn't be better to make quitting console and sbt with the same command?
## steps

Now I need
If I want to leave console session:

[code]

If I want to leave sbt:

[code]
### problem

?
### expectation

I suppose 'exit' and ':exit' would save many errors ...

[2014-05-27 11:29] jsuereth commented on #1374
this is actually prime for contribution.  A new ":exit" command that does the same thing as "quit" would be nice for unification.

[2014-05-27 12:07] jsuereth commented on #1373
I don't disagree.  Was just categorizing/describing the underlying issue.

[2014-05-27 12:47] jsuereth commented on #1369
Can you report this against sbt/sbt-launcher-package?   Thanks!

[2014-05-27 12:47] #1369 closed, assigned to nobody

[2014-05-27 14:05] som-snytt commented on #1374
I settled on ctl-D.  Occasionally, I hit it too many times and lose a terminal window or two.

[2014-05-27 14:34] jsuereth commented on #1374
ctl-D is actually SUPER annoying, but perhaps more a reality if we fragment
the terminal + the engine (sbt-server).

On Tue, May 27, 2014 at 10:05 AM, som-snytt notifications@github.comwrote:

[2014-05-27 23:45] gfries opened #1375 "Running sbt in root of a filesystem leads to index out of bounds exception on startup."
Windows 7 x64
jdk1.7.0_55
scala-2.11.1

[code]

[2014-05-28 12:44] jsuereth commented on #1375
Well, it looks like the bug is because you're running in the filesystem root (Something I hadn't seen before).

The issue is that `file.getName` returns an empty string there, rather than the name of the root, and the "id" method doesn't handle empty strings.  If you run in ANY subdirectory, it should work fine.  I'm leaving this ticket open as I think we can issue a quick fix for this.

[2014-05-28 13:45] #1194 closed, assigned to nobody

[2014-05-29 01:29] huntc opened #1379 "Widen the scope of standard plugins for autoplugin requirements"
Perhaps provide a `JavaPlugin` and a `ScalaJavaPlugin` in order to refine the standard plugins an auto plugin may require and thus be triggered by. These plugins would be an extension to the existing `JvmPlugin`.

[2014-05-29 03:03] guntiso opened #1380 "Publishing test and integration test dependencies in .pom problem"
Dependencies like "com.typesafe" % "config" % "1.2.0" % "it" are published in default [compile] scope in pom. I think integration test dependencies should be published in test scope instead. But if "it" is replaced with "it,test", dependency is published in test scope. There is a contradiction here. If "it" dependency is published in compile scope, "it,test" should also be published in compile sco

[2014-05-29 10:12] dansanduleac commented on #1034
Fixed by #1036

[2014-05-29 10:12] #1034 closed, assigned to nobody

[2014-05-29 18:32] #1315 closed, assigned to nobody

[2014-05-30 04:53] vaedama commented on #653
@harrah I am on 0.13.0 and I am facing the same exception

Exception in thread "Thread-18" java.io.EOFException
    at java.io.ObjectInputStream$BlockDataInputStream.peekByte(ObjectInputStream.java:2577)
    at java.io.ObjectInputStream.readObject0(ObjectInputStream.java:1297)
    at java.io.ObjectInputStream.readObject(ObjectInputStream.java:349)
    at sbt.React.react(ForkTests.scala:110)
    at

[2014-05-30 13:03] jsuereth commented on #1380
Thanks for the report. I think the MakePom.scala file may have some limtiations right now in handling configurations.  Pull requests welcome, but this looks like a legitimate bug right now.

[2014-05-30 22:30] andrewdbate commented on #895
I can confirm that this is also a blocker for me. For some reason, the posted patches aren't working, but I'm not sure why. If I manually create the directory, then it works.

[2014-05-31 15:29] paulp opened #1384 "scoped key parsing"
The regex used in Scope.parseScopedKey

[code]

does not parse scoped keys. \w+ is far too restrictive to match URIs, as the string is [defined to contain](http://www.scala-sbt.org/0.13.5/docs/Getting-Started/Scopes.html) - specifically "sbt displays (and parses) scoped keys like this" - and as sbt displays them.

[code]

[2014-05-31 15:33] paulp commented on #1384
Something like this suffices as a workaround.

[code]

[2014-06-01 03:42] eed3si9n commented on #1384
Thanks for reporting this. The parser does needs some improvement to handle to the full range of legal keys.

[2014-06-01 12:27] yatskevich opened #1386 "sbt artifacts are missing in Maven Central, Typesafe repo location has been changed"
Maven Central: http://central.maven.org/maven2/org/scala-sbt/

Previous Typesafe repo location is http://repo.typesafe.com/typesafe/ivy-releases/org.scala-sbt/, but it is http://repo.typesafe.com/typesafe/simple/ivy-releases/org.scala-sbt/ now.

[2014-06-01 12:30] jsuereth commented on #1386
This is actually an error with our repo hosting.  It's getting fixed now.

The url you list is not the one we want traffic on, and you may notice spurious errors if you use it and we move our infrastructure yet again.

[2014-06-01 12:34] yatskevich commented on #1386
@jsuereth Thanks for a prompt response! Should I leave all of my resolvers configuration intact and just wait?

[2014-06-01 12:36] jsuereth commented on #1386
Yes please.  An alternative is to swap, temporarily, to private-repo.typesafe.com domain for the same url

[2014-06-01 12:37] yatskevich commented on #1386
Great! Thanks a lot!

[2014-06-02 11:42] fernandoracca commented on #1117
I used to run SBT 0.13.1, upgraded to 0.13.5 and started hitting this issue, in Windows. I don't have 0.13.0, and the workaround doesn't sound acceptable. Why do i need three different versions to try to get something to run?

The issue is between these two repos:

[code]

Typesafe releases doesn't contain SBT.
Typesafe MVN Ivy Releases has SBT 0.135 but its the one that produces broken ivy xmls.

[2014-06-02 11:54] fernandoracca commented on #1117
Trying to download 0.13.0 will actually try

C:\tools\sbt-0.13.0\bin>sbt.bat
Getting org.scala-sbt sbt 0.13.0 ...

:: problems summary ::
:::: WARNINGS
                module not found: org.scala-sbt#sbt;0.13.0
        ...
        ==== typesafe-releases: tried
          http://repo.typesafe.com/typesafe/releases/org/scala-sbt/sbt/0.13.0/sbt-0.13.0.pom
        ==== typesafe-mvn-ivy-releases: tried

[2014-06-02 12:38] jsuereth commented on #1117
We had a repository issue where it was down.  Your initial URL is correct, the second URL you list is  wrong, not sure where you got it.

The ivy-specific repository is: http://repo.typesafe.com/typesafe/ivy-releases and the maven specific repository is http://repo.typesafe.com/typesafe/maven-releases.

Sorry for any issues the outage caused, but things should be working fine now.  If they are not

[2014-06-02 12:51] fernandoracca commented on #1117
Blew up my .sbt/boot directory, and my ivy-repo/cache/org.scala-sbt/sbt folders. Changed the repositories file to

[code]

Changed the project/build.properties
sbt.version=0.13.1

Runner is 0.13.5

C:\sse>sbt
Getting org.fusesource.jansi jansi 1.11 ...
:: retrieving :: org.scala-sbt#boot-jansi
        confs: [default]
        1 artifacts copied, 0 already retrieved (111kB/16ms)
Getting org.scala-s

[2014-06-02 12:54] fernandoracca commented on #1117
I can create another ticket if that's easier to track

[2014-06-02 13:14] jsuereth commented on #1117
Yes please open another ticket.  It looks like it's finding sbt fine, but for some reason it's not finding Scala at all.

What do you mean by "using Scala 2.11.1"?

[2014-06-02 13:33] fernandoracca opened #1388 ""No scala version specified" for any sbt 0.13.x"
For background info, see issue 1117: https://github.com/sbt/sbt/issues/1117

Blew up my .sbt/boot directory, and my ivy-repo/cache/org.scala-sbt/sbt folders. Changed the repositories file to

[code]

build.properties:
sbt.version=0.13.5

Runner is 0.13.5

C:\sse>sbt
Getting org.scala-sbt sbt 0.13.5 ...
downloading http://repo.typesafe.com/typesafe/ivy-releases/org/scala-sbt/sbt/0.13.5/sbt-0.13.5.j

[2014-06-02 13:41] jsuereth commented on #1388
Your repositories file looks anemic.  Can you make it as follows:

[code]

It looks like your SCALA cache may be off right now (i.e. the launcher can't find it).  It's unrelated to your build scala version, it's sbt itself.  It shouldn't land in the other directory, but in a `scala_2.10.4` folder.  If it's landing in an other directory it's because Ivy is unable to find the Ivy which sbt relies on

[2014-06-02 14:03] fernandoracca commented on #1388
the repo file contains other internal nexus repos. Do i need local ?

I've tried adding adding them, but it makes no difference.

I've switched everything to 0.13.1 (my previous setup) but it does exactly the same:

build.properties:
sbt.version=0.13.1
Runner: 0.13.1

C:\sse>sbt
Getting org.fusesource.jansi jansi 1.11 ...
:: retrieving :: org.scala-sbt#boot-jansi
        confs: [default]
        1

[2014-06-02 14:12] jsuereth commented on #1388
The "1 artifacts copied looks bad".  IF you look at the ivy file, you'll see a bunch of dependencies listed.   Can you show me what the ivy.xml looks like inside your cache?

Also your proxy repositories in your `~/.sbt/repositories` file looks fine.

[2014-06-02 14:23] fernandoracca commented on #1388
[code]

ivy-properties
        #ivy cached data file for org.scala-sbt#sbt;0.13.1
        #Mon Jun 02 15:21:51 BST 2014
        artifact:sbt#jar#jar#2016626744.exists=true
        resolver=redefined-public
        artifact:sbt#jar#jar#2016626744.is-local=false
        artifact:sbt#jar#jar#2016626744.location=http://repo.typesafe.com/typesafe/ivy-releases/org/scala-sbt/sbt/0.13.1/sbt-0.13.1.jar

I'

[2014-06-02 14:27] jsuereth commented on #1388
That ivy.xml file is wrong.  Is that what you see when you download from our repository?  Somehow you're getting a bad ivy.xml file.  Check what yous ee in our repo, when Id ownload the URL you list, I get a different ivy.xml file.

[2014-06-02 14:33] fernandoracca commented on #1388
resolution-cache:

[code]

Resolution cache properties
      #org.scala-sbt#boot-app;1.0 resolved revisions
      #Mon Jun 02 15:27:46 BST 2014
      +revision:#@#:+0.13.1:#@#:+module:#@#:+sbt:#@#:+organisation:#@#:+org.scala-sbt:#@#:+branch:#@#:+@#:NULL:#@:#@#:=0.13.1 release 0.13.1

Yes, the ivy.xml file is wrong. But that's exactly what i get every time. I deleted the folder at least 20 times t

[2014-06-02 14:38] jsuereth commented on #1388
What resolvers do you have listed first?  CHeck these guys as they may be generating a bad ivy.xml file so you never hit the typesafe one for an Ivy.xml file.

[2014-06-02 14:45] fernandoracca commented on #1388
The project in question, and other projects i've tried on, don't define any resolver. It should use the default Typesafe.resolver right?

But this is even before my project kicks in, since it's SBT itself that downloads incorrectly, whichever version i try to use, which means i'm stuck without SBT.

What's baffling to me is that i'm trying to resolve
/org/scala-sbt
instead of
org.scala-sbt

If you

[2014-06-02 14:50] jsuereth commented on #1388
That's just a trick of artifactory.  It always lists empty directories if your URL looks like a directory listing.

And it's trying to hit maven-style layout if you don't have the ivy pattern defined for your resolve setting.  Again, can we see your `repositories` file?

[2014-06-02 15:07] fernandoracca commented on #1388
The file i was using in the end, and with which i was able to reproduce the problem with, was just this:

[repositories]
    typesafe-ivy-releases: http://repo.typesafe.com/typesafe/ivy-releases

I renamed the repositories file, ran sbt again, and it started to download jars:

[code]

I have an other and a scala-2.10.3 (the build version)

Ivy Xmls now look correct.

I've now restored my repositor

[2014-06-02 15:18] jsuereth commented on #1388
One of the repositories in your old repositories file is incorrectly autogenerating an Ivy.xml for you which is bad.  You need to figure out which one (and that can be difficult).

[2014-06-02 15:27] fernandoracca commented on #1388
Given all the issues around Nexus and Ivy, i think going forward i'll try to setup my own Nexus repo with less dependencies on proxying other repos.

However, something is particularly broken when SBT tries to download itself. Once it's in the boot directory, it seems to be ok.

I'm ok with the issue for now, but i can't say i have a definitive answer on the cause.

Thanks a lot for your constant

[2014-06-02 15:27] #1388 closed, assigned to nobody

[2014-06-02 15:29] jsuereth commented on #1388
I'm running a proxy Artifactory repository which seems to be going really well.  If you have a chance to write down the steps you do in setting up a proxy, that'd be great.   We do need some better documentation around the specific repositories, as e.g. Nexus needs some custom tricker to support ivy-style layouts (just as Artifactory needs to be configured with the approrpriate artifact patterns)

[2014-06-02 15:44] fernandoracca commented on #1388
What makes me very uneasy, is that before i renamed the repositories file, the only line i had was:

[code]

And it wasn't working. Somewhere, somehow, something was been either cached, or blocked.

I'll have a look at Artifactory then. I was hoping to be able to reuse existing infrastructure rather than rolling out my own repo, but there seem to be too much instability around ivy.

[2014-06-02 15:56] jsuereth commented on #1388
@fractal Yeah, that wouldn't work.   The ivy-releases _ONLY_ has sbt, and not scala, so you woudln't be able to find anyythign else.  You'd at a minimum have to add maven-central or jcenter to that so we can find non-sbt artifacts.

[2014-06-02 16:04] fernandoracca commented on #1388
I would expect that jars would fail to resolve a dependency, not fail saying that there is no Scala version.

The boot folder looks very different after i removed the repositories file.

now i have:

other   //jansi
scala-2.10.3  // sbt-0.13.1
scala-2.10.4  //sbt-0.13.5

When the file was present, it would add everything inside other and then fail.

[2014-06-02 16:10] jsuereth commented on #1388
This is an artifact of how the launcher works. My guess is it's not detecting the error correctly.  The launcher marks all artifacts as optional as a workaround for other issues.   You can open a ticket about that.

[2014-06-02 18:40] eed3si9n opened #1390 "ClassLoaderCache failure"
[code]
- https://travis-ci.org/sbt/sbt/jobs/26525290#L2004

[2014-06-03 00:20] ghost opened #1392 "Do you know what does sbt means in chinese?"
This is no issue , just for fun.
Do you know what doese SBT means in chinese words ?
S   => Si
B   => Bian
T   => Tai

死变态

Translate them into english, means  scum pervert or what ever

LOL

[2014-06-03 00:26] eed3si9n commented on #1392
sbt is sometimes called 酢豚 (read "subuta") in Japan, which is the Japanese name for 咕嚕肉. If you could come up with some other nicer characters that doesn't involve death or perverts it'll be appreciated.

[2014-06-03 00:26] #1392 closed, assigned to nobody

[2014-06-03 06:17] eed3si9n commented on #1216
The new site is up with improved code highlighting. See http://www.scala-sbt.org/0.13/docs/Artifacts.html for example.

[2014-06-03 06:17] #1216 closed, assigned to nobody

[2014-06-03 06:37] jasonchaffee commented on #321
I am seeing the same issue with publishing SNAPSHOT's TO publishLocal in 0.13.5.  The cache had a SNAPSHOT version it downloaded from our internal proxy that was published maven style and that was taking precedence over anything built with publishLocal.  It is almost as if they aren't being considered as the same artifact.

[2014-06-03 08:31] martinburger commented on #1325
FYI - I created [IVY-1476](https://issues.apache.org/jira/browse/IVY-1476) as I was not able to find an existing Ivy issue that would handle this problem.

[2014-06-04 16:06] havocp opened #1394 "Add an env var or other way to keep temporary server config file"
In ServerApplication.scala, if it fails to launch the server it throws an exception which includes the command line used, but the config file gets deleted so you can't just run this command line to debug the problem.

There's a similar issue one level up in sbt remote control (it deletes the launch properties file).

It would greatly aid debugging to have an env var which caused sbt-remote-control

[2014-06-05 02:02] rkmathi opened #1395 "MaxPermSize=256M was removed in Java 8.0"
We don't have `MaxPermSize` option in Java 8.0.

[code]

So I think sbt should suggest such option:

[code]

[2014-06-05 20:27] jsuereth opened #1398 "TaskSerial test appears to be flaky on travis."
cc> @eed3si9n in case you notice failures.

[2014-06-05 22:28] eed3si9n opened #1399 "building on JDK 8"
## steps

try building on JDK 8
## problems

[code]
## expectations

it works.

[2014-06-06 01:22] jsuereth commented on #1399
I think missed the most important failure:

[code]

unless you don't see that.

[2014-06-06 01:23] jsuereth commented on #1399
Oh, also, scala prior to 2.10.4 didn't support JDK8, so we can't either for the old compiler interfaces precompiled.   SO, this is related to that.  Drop your precompiled Scala projects and you amy see it start working.

[2014-06-06 01:24] jsuereth commented on #1399
Final note on failure, see the fialed projectss:

[code]

[2014-06-06 13:33] jsuereth commented on #1395
This should (and I believe already is) opened against teh sbt-launcher-package project.

[2014-06-06 13:33] #1395 closed, assigned to nobody

[2014-06-06 14:04] #1394 closed, assigned to nobody

[2014-06-06 17:24] #1390 closed, assigned to nobody

[2014-06-09 12:28] jsuereth commented on #1371
Are you using  a command or a task?  Also what version of sbt?

Finally, I think you just want to write:

[code]

Looks like the output is getting garbled for some reason.

[2014-06-09 15:55] EECOLOR commented on #1371
No, it's not wrong, the directory in `target/streams/test/test/` is actually called `isModule=false name=org.qirx.littlespec.sbt.SbtReporterSpec`

The `last little-spec/test:test` command shows information from another file.

It's in sbt 0.13.5 when running the `test` command (or task, I'm not sure of the difference). From my custom test framework I call a `trace` method on the logger of the `sbt.

[2014-06-10 14:46] benhutchison commented on #1371
I'm seeing similar, using scala.js & utest [https://github.com/lihaoyi/utest]

..but then:

..and:

[2014-06-10 22:11] tpolecat opened #1402 "java.lang.reflect.MalformedParameterizedTypeException"
Seeing a `java.lang.reflect.MalformedParameterizedTypeException` in 0.13.2 ... stacktrace below. Reminds me of a similar issue that was fixed for 0.13.2 ... related?

I may be able to extract a minimal example if it's not obvious what's going on.

[code]

[2014-06-10 22:47] tpolecat commented on #1402
Eh. fixed in 0.13.5 ... nevermind.

[2014-06-10 22:49] austinsalonen opened #1403 ""No Scala version specified" in 0.13.5"
This might be an extension of #1388

We go through an in-house Artifactory instance and everything must go through it (no exceptions, even for debugging).

We installed 0.13.5 on a Windows box and with custom repositories and .credential files, everything worked fine.

When we tried to run 0.13.5 on a Windows box with cygwin, we got the "No Scala version" error.  The ~/.sbt/boot directory looked l

[2014-06-11 00:01] tpolecat commented on #1402
Actually it's still happening. Reopening.

[2014-06-11 00:09] tpolecat opened #1404 "Weird compileOrder behavior"
In 0.13.5 mixed Scala/Java projects occasionally just start ignoring Java files in Mixed mode, even after clean. For one subproject simply restarting sbt fixed it. In another there were no mutual dependencies and switching to "Java first" worked, and then when I switched _back_ to Mixed mode it _still_ worked. So, something sketchy is going on.

It's a very large build with many sub-projects; I co

[2014-06-11 10:41] eed3si9n commented on #1403
For developers to work on this, we need a reliable way of reproducing this locally (or remotely).

I'd like to see more context around this when and where it's failing. Could you post the full log of what you see when you run `sbt --debug` to gist?

[2014-06-11 10:43] eed3si9n commented on #1404
Are you using Play 2.2.0 or any other plugins? Name hashing?

[2014-06-11 10:49] eed3si9n commented on #1402
In case we can't get a compiler expert to look into this, could you provide repro steps if it's not too hard to do so?

[2014-06-11 14:23] austinsalonen commented on #1403
It fails pretty quick.

[code]

[2014-06-11 23:44] jaceklaskowski commented on #1181
Just hit this today with the latest `sbt 0.13.6-SNAPSHOT` built from the sources  while learning sbt and its operators with the following `build.sbt`:

[code]

When I've changed to `abc.?` the `build.sbt` parses (however sbt correctly throws `type mismatch` error).

[2014-06-12 00:35] jaceklaskowski commented on #1149
Is there a landing page for the feature? Do we want to have a single page for this or keep it spread across different ones as it seems so now?
- http://www.scala-sbt.org/0.13/tutorial/Using-Plugins.html
- http://www.scala-sbt.org/0.13/docs/Plugins.html

[2014-06-12 21:13] dwijnand commented on #1237
This is an issue for me when cross compiling to 2.10.4. I've been able to reduce this to it's minimum (imo). Please see https://gist.github.com/dwijnand/3b94e0d849e3ed2450da. And run `;clean ;+test`

[2014-06-12 21:15] dwijnand commented on #1237
Also, it's only an issue for me since upgrading from 0.13.2 to 0.13.5, so technically this is a regression? I've temporarily resolved this by disabling name hashing under 2.10.x, which is fine for now.

[2014-06-12 23:18] tpolecat commented on #1402
Sigh. Apologies, this was related to a library compiled with -jsr14 which apparently writes bogus signatures. Just for debugging purposes it might be useful to catch this exception and report the type that was being inspected at the time.

[2014-06-12 23:18] #1402 closed, assigned to nobody

[2014-06-13 22:28] pfn opened #1406 "Feature Request: Allow triggers off of environment for AutoPlugins"
See: pfn/android-sdk-plugin#65

@jsuereth wrote:

[2014-06-14 10:42] Duhemm commented on #1237
Thank you for the report ! I'm looking into this and will try to fix this as soon as possible.

[2014-06-14 14:40] eriklovlie opened #1407 "sbt compilation of mixed java/scala is successful but java class files are missing"
## steps

To reproduce:
- Install
  - Java version: 1.7.0_55 (also tested 60)
  - Sbt version 0.13.5

[code]
## problems

Observe that there are no class files in target for the java source files that sbt claimed to have compiled.

Doing a compile on the master branch works, in that the class files are there.

[2014-06-14 14:49] eriklovlie commented on #1407
There are no changes to the build configuration between the antlr4-4.2.2 branch and master. The only difference I can see that could be relevant is that the antlr jar file is different.

[2014-06-14 14:51] eriklovlie commented on #1407
Log output:

[code]

[2014-06-17 20:25] nestorpersist opened #1410 "`->` in build.sbt causes EmptyScope.enter error"
## steps

Using SBT 0.13.5

build.sbt contains

[code]
## problem

I get error

[code]

and several pages or additional error stuff

[2014-06-18 13:07] zilti opened #1412 "Space in user directory name breaks SBT on Windows"
[code]

[2014-06-19 12:35] dwijnand opened #1413 "Hitting Esc+d at EOL kills the shell"
I often use Readline's Esc+d (delete the next word). However for some reason in sbt's shell if I hit this at the end of the line, it does something that makes the shell unusable (can't type or see anything). A fix would be excellent, and a for-now temporary workaround would be great. Thanks.

[2014-06-19 14:56] copumpkin opened #1414 "Distinguish Log messages from task output."
There's a lot of noise in info messages from a regular sbt run. Dependency resolution is particularly noisy, so I turn my logLevel up to only show me warnings.

But then when I run the test task, I most certainly do want to see the output. Unfortunately, test results and summaries are also output using the info log level.

Ultimate goal is just to have a good signal-to-noise ratio.

[2014-06-19 19:29] scalasolist opened #1415 "running private main method"
SBT gives me error when I try to run main object that contains private class.
## How to reproduce:

Put two files into a folder and run sbt inside

build.sbt:

[code]

One.scala:

[code]

run sbt:

[code]
## problem

receive the error:

[code]
## notes

Source of the error (my speculation)

http://www.scala-sbt.org/release/sxr/sbt/Run.scala.html#sbt;Run.getMainMethod uses Class.getMethod to retrie

[2014-06-21 08:02] fommil commented on #1083
@jsuereth fyi, we're also interested in this at Ensime, which uses the presentation compiler.

[2014-06-21 13:08] jsuereth commented on #1083
@fommil awesome.   The goal of sbt-server is to let ANY IDE-like environment benefit from the sbt engine and automation configuration, so we'd love to have you onboard.  Ping me via email and I'll rope you in when the alpha releases start happening (soon).

[2014-06-21 13:09] jsuereth commented on #1083
And for this watching publicly, there's a 0.13.6-MSERVER-3 release of sbt with the most latest hooks for the sbt-server, while thesbt-server still resides in a separate R&D branch (while we stabilize it)

[2014-06-21 13:23] jsuereth commented on #1415
So what you're saying is this isn't a bug.   You're trying to run an unrunnable class, and the behavior of sbt is undefined.

Would you like a better error message?   I don't think we'll be adding support for running non-runnable classes, as the goal of `run` is to mimic running your application for real.

[2014-06-21 13:31] jsuereth commented on #1414
I agree about signal to noise, but I think the premise is at odds with our login design (and redesign coming).

Primarily, `last` and `export` commands should show you all output associated with a task, therefore stdout, stderr and "log" should all feed through the same event-logger in a recallable way.

IN addition, the default noise level should be low.   I haven't quite gone the full marathon o

[2014-06-21 13:34] jsuereth commented on #1413
It appears like you're triggering something which prevents JLine's "reset" from correctly restoring the console from its tab-completion state.   We may be workign on this area in sbt 1.0, but I'm not quite sure how you're tripping the system right now.  Any more info on exceptions you see, or logs would be appreciated.

[2014-06-21 14:42] fommil commented on #1083
@jsuereth I'm `sam.halliday@gmail.com`

[2014-06-21 19:28] lpiepiora opened #1416 "The `plugin` command doesn't work"
## Steps
1. Create new play framework project using activator
2. Run `sbt` in the activator project
3. Type `plugin play.Play`

[code]
## Problems

The command should work for an arbitrary plugin.
## Expectations

Expected output in form of

[code]

Additionally, when typed in just `plugin Play`, sbt correctly suggests `play.Play`

[code]
## Notes

Output from `about` command

[code]

[2014-06-21 22:36] dwijnand commented on #1413
There's no exception and no logs (unless there's some jline-level logging I can enable somehow). Is this reproducable for you? This is on 0.13.5 FYI.

[2014-06-22 13:27] madhest opened #1417 "SBT Assembly "Not a Valid Command""
I am using SBT 0.13.5 version
## Simple.sbt

name := "Simple Project"

version := "1.0"

scalaVersion := "2.10.4"

exportJars := true

retrieveManaged := true

libraryDependencies += "org.apache.spark" %% "spark-core" % "1.0.0"

libraryDependencies += "org.apache.cassandra" % "cassandra-all" % "2.0.2"

libraryDependencies += "org.apache.hadoop" % "hadoop-client" % "2.2.0"

resolvers += "Akka Repos

[2014-06-22 17:59] johanatan opened #1418 "`sbt test -- -Dkey=value` does not pass args through..."
... although

[code]

This seems like an arbitrary distinction. Any reason why the former can't or doesn't work?

Also, the following equally does not work (but would be nice if it did):

[code]

[2014-06-23 13:52] copumpkin commented on #1414
No, my primary issue (I don't think I wrote this title?) is that given the amount of normal noise, I turn log level up, but that turns off things that I do care about.

It seems fairly "inherent" to running a test suite to want to know what happened, so it seems to merit a first-class output mechanism that isn't just logInfo. Same if I run another task that inherently is supposed to give me feedba

[2014-06-23 16:02] scalasolist commented on #1415
Then why ever sbt contains code that converts (with reported errors actually) private main method to public? Pre java 1.5 private main methods were acceptable, so I have though that sbt mimics that functionality.

[2014-06-23 17:44] yatskevich commented on #1386
@jsuereth Everything is working fine now.

[2014-06-23 17:44] #1386 closed, assigned to nobody

[2014-06-23 19:59] pdalpra opened #1420 "Configurations extending IntegrationTest does not inherit Defaults.testTasks"
I may be missing something or I may be doing something wrong, but it looks like, the way it's defined, that configurations extending `IntegrationTest` does not "correctly" inherit `Default.testTasks`.

Notice : I'm the maintainer of Gatling's (a load testing tool) SBT plugin, and I will therefore rely on it to show this possible "bug".
## Steps

From this repo : https://github.com/gatling/gatling-

[2014-06-23 21:20] eed3si9n commented on #1417
Hi. sbt project uses GitHub issues for internal todo list. Please see https://github.com/sbt/sbt/blob/0.13/CONTRIBUTING.md#where-to-get-help-andor-file-a-bug-report on how to get help on using sbt.

[2014-06-23 21:20] #1417 closed, assigned to nobody

[2014-06-23 22:05] eed3si9n commented on #1407
Is `antlr4-4.2.2` the correct branch? There's no build file, so it's failing to compile Scala code:

[code]

[2014-06-23 22:27] eed3si9n commented on #1410
I was not able to reproduce this:

[code]

Could you try wiping out `target` and `project/target` and see if it fixes this?

[2014-06-23 22:27] #1410 closed, assigned to nobody

[2014-06-23 23:00] ktoso commented on #1355
Closing for now, I'm still working on it ofc; Thanks for the feedback!

[2014-06-23 23:00] #1355 closed, assigned to nobody

[2014-06-24 01:32] eed3si9n commented on #1415
@scalasolist wrote:

According to [Java language spec 1.0](http://titanium.cs.berkeley.edu/doc/java-langspec-1.0/12.doc.html#47024),

Scala Language Spec doesn't exactly spell this out:

But running `scala` from the shell, you would get the same error as sbt if `main` is declared `private[this]`:

[code]

Since Scala is not Java, I don't think it requires further rationalization, but one way of lo

[2014-06-24 01:32] #1415 closed, assigned to nobody

[2014-06-24 14:37] Woodz opened #1421 "Spurious caching of old compilation even after clean"
Hello,

I came across an issue with SBT today. I was in a cycle of modifying the code and manually running "test", to make a single failing test pass. Eventually I got the tests passing in the IDE (using a separate compiler) but it was still failing in SBT.

I ran "clean", which executed successfully and forced a compile of the modified files on the next run of "test". However, the test was still

[2014-06-24 14:42] eed3si9n commented on #1421
Hi, I appreciate the report, but it's difficult to follow up with this description without more info. Could you provide the version of your sbt, whether you're using name hashing, content of `target` directory after `clean`, and whether you can reproduce the issue on demand? Also see - https://github.com/sbt/sbt/blob/0.13/CONTRIBUTING.md

[2014-06-24 15:00] eed3si9n commented on #1416
Thanks for the report.

[2014-06-24 15:02] eed3si9n commented on #1418
Hi. sbt project uses Github issues for internal todo list. If you would like to get community help, please open a Stackoverflow question or post it on sbt-dev mailing list. Also see https://github.com/sbt/sbt/blob/0.13/CONTRIBUTING.md.

[2014-06-24 15:02] #1418 closed, assigned to nobody

[2014-06-24 15:10] eed3si9n commented on #1420
Try running `inspect gatling-it:loadedTestFrameworks`. I suspect it's delegating the task to `IntegrationTest`. Also this should be discussed on Stackoverflow or sbt-dev list until it's confirmed to be an sbt bug.

[2014-06-24 16:14] Woodz commented on #1421
Unfortunately this is a spurious error, so reproduction is not possible on demand. I am using SBT 0.13.0. I don't know if I am using name hashing - the .sbt file does not specify whether it is enabled or not. I am not able to provide the contents of the target directory as this contains commercially sensitive information.
I understand that this problem is very vague and doesn't meet your bug requi

[2014-06-24 17:00] johanatan commented on #1418
I don't need any help. It's a bug report/ feature request. Do with it what you wish.

[2014-06-24 17:04] pdalpra commented on #1420
You were right, the task was delegated to `IntegrationTest`.
(Re)adding `Defaults.testTasks` to the settings did the trick, but isn't there a way to make it work out of the box ?

[2014-06-24 17:31] eed3si9n commented on #1421
If `clean` worked properly, the content of `target` directory should be empty. There has been lots of bug fixes and enhancements to incremental compiler throughout 0.13.x series, so try 0.13.2 or 0.13.5 and see if you the problem persists. I'm closing the case for now, but feel free to reopen it if you find problem with 0.13.5.

[2014-06-24 17:31] #1421 closed, assigned to nobody

[2014-06-24 17:35] eed3si9n commented on #1420
The documentation talks about extending `Test` configuration http://www.scala-sbt.org/0.13/docs/Testing.html#Additional+test+configurations+with+shared+sources, but I don't know if we support extending `IntegrationTest`. In general extending configuration and rewiring only the specific tasks is a bit flakey.

[2014-06-24 17:35] #1420 closed, assigned to nobody

[2014-06-24 17:53] eed3si9n opened #1422 "Improve error message on unresolved dependencies"
## steps

Something missing in transitive dependency due to people deleting artifacts from artifactory or depending on SNAPSHOT or whatnot.
## problem

@paulp wrote in #381:

[code]
## expectation

sbt should provide as much info on where the missing dependency is coming from in plain English, and possibly advise the user on what to do/read/check next.

[2014-06-24 17:54] eed3si9n commented on #381
Closing this case, but we can continue at #1422.

[2014-06-24 17:54] #381 closed, assigned to nobody

[2014-06-24 17:57] eed3si9n commented on #366
Closing this for now. Also see https://github.com/sbt/sbt/blob/0.13/CONTRIBUTING.md

[2014-06-24 17:57] #366 closed, assigned to nobody

[2014-06-24 18:01] #383 closed, assigned to nobody

[2014-06-24 18:03] #390 closed, assigned to nobody

[2014-06-24 18:06] eed3si9n commented on #738
Closing this for now. Feel free to reopen if the problem persists with the latest sbt.

[2014-06-24 18:06] #738 closed, assigned to nobody

[2014-06-24 18:39] jsuereth commented on #1422
+1.  I believe on failure the ivy partial graph is available for inspection.
On Jun 24, 2014 1:53 PM, "eugene yokota" notifications@github.com wrote:

[2014-06-24 22:57] jaytaylor commented on #738
Thanks Eugene, I tried this again recently and it seemed to be working okay.

On Tue, Jun 24, 2014 at 11:06 AM, eugene yokota notifications@github.com
wrote:

[2014-06-25 14:36] copumpkin commented on #1414
To clarify, some processes (in any program) produce useful human-readable output as they perform their primary duties. Some of it might be debug info, other times you might get warning messages. Those things should go through the logging framework.

Other processes are actually _intended_ to give the operator feedback, as their primary purpose. Take `show` for example. If I type `show someKey` in,

[2014-06-26 11:14] jaceklaskowski opened #1427 "Explain what to do in the message "The global sbt directory is now versioned""
The question on StackOverflow [Why is the message “The global sbt directory is now versioned” in 0.13?](http://stackoverflow.com/q/24422115/1305344) shows that there's at least one person who considers the message confusing.

When I read it once more, it is indeed a bit confusing as it doesn't explain what a user should do to get rid of the message (aka comply to the new global directory layout).

[2014-06-26 18:06] eed3si9n commented on #1427
Please bring this up to sbt-dev instead since Github issues are for confirmed bugs and internal todos. See https://github.com/sbt/sbt/blob/0.13/CONTRIBUTING.md.

[2014-06-26 18:06] #1427 closed, assigned to nobody

[2014-07-01 05:32] hseeberger opened #1428 "Classloader conflict between local and global plugins"
This issue occurs for sbt 0.13.5 and 0.13.6-MERVER-4. To reproduce it, create an otherwise empty project with the following `project/plugins.sbt`:

[code]

Then add the following line to your global plugin configuration `~/.sbt/0.13/plugins/plugins.sbt`:

[code]

Then start sbt and you will get the following:

[code]

For me it looks like the two plugins depend on different versions of JGit and th

[2014-07-01 08:30] fommil opened #1429 "Simpler sonatype"
Pretty much everybody has something that looks like this in their codebase somewhere:

http://github.com/milessabin/shapeless/blob/master/project/Publishing.scala

it would be really nice if this `Sonatype` trait were a part of `sbt` (one that works for `build.sbt` files), since everybody copys and pastes anyway.

[2014-07-01 08:33] dansanduleac commented on #1428
That has been a problem for a while (since `0.13.0` inclusively, I believe). I've fixed this in #1352 but it didn't make it into `0.13.5`, unfortunately.

Edit: I see this particular issue is still a problem, I'll look into why that is. Are you sure these two plugins are meant to work together?

[2014-07-01 08:54] dansanduleac commented on #1428
Ok - after some investigation, this has nothing to do with sbt, and is instead about incompatible dependencies, as I suspected.

I see that `sbt-ghpages 0.5.2` brings in `sbt-git 0.6.1` which brings in `org.eclipse.jgit#org.eclipse.jgit.pgm;2.2.0.201212191850-r` which depends on `org.eclipse.jgit#org.eclipse.jgit;2.2.0.201212191850-r`.
At the same time, `sbt-groll 3.1.4` has a dependency on a newe

[2014-07-01 09:04] dansanduleac commented on #1399
I should note that building sbt -- well, at least the `testing/agent` project -- on anything greater than jdk 1.6 results in not being able to fork tests with an older jdk than that which was used to compile sbt, and looks like (note how the tests even _succeed_ in this case):

[code]

[2014-07-01 09:13] dansanduleac opened #1430 "sbt project: `set every version` does not replace anything"
The sbt project itself sets a build-wide version in `project/Sbt.scala`.
If I `set version in ThisBuild := "test"`, that replaces it. Good.

However, if I `set every version := "test"`, that overrides nothing:

[code]

Is this expected behaviour?

[2014-07-01 09:21] hseeberger commented on #1428
Thanks @dansanduleac. I have created a PR against gh-pages.

[2014-07-01 09:21] hseeberger commented on #1428
This can be closed.

[2014-07-01 09:21] #1428 closed, assigned to nobody

[2014-07-02 14:01] #1416 closed, assigned to nobody

[2014-07-02 14:09] #1366 closed, assigned to nobody

[2014-07-02 14:37] suhinini commented on #653
Gentlemen, we're still facing this, with sbt 0.12.2. Tests are succeeding, sbt is not forcibly terminated.

[code]

[2014-07-02 14:40] aloiscochard commented on #653
@vaedama @suhinini are you guys using scalatest?

I suspect it's an issue with that test framework.

[2014-07-02 14:43] suhinini commented on #653
@aloiscochard no, we're using Specs2.

[2014-07-02 21:03] hamnis opened #1431 "Support wildcard exclusions in Pom parser"
Maven 3.2 supports a new way of excluding everything.

See the [attached](https://github.com/hamnis/maven-wildcard-exclusion-sbt) project for more information.

This means that you may find newer published artifacts which allows exclusions on a more general level.

Sbt does not find the dependencies which have this.

[2014-07-03 00:55] Blaisorblade commented on #1429
Couldn't this be a plugin?

[2014-07-03 01:07] Blaisorblade commented on #1399
@dansanduleac

The error suggests that forked tests still run SBT code. Code compiled with JDK 1.X is not guaranteed to work on JDK 1.Y if Y < X, unless you use the -target switch of javac/scalac. major.minor = 51.0 means that the code is targeted to Java 1.7. Details for instance at http://stackoverflow.com/a/11432195/53974.

[2014-07-03 04:35] eed3si9n commented on #1429
I agree we should improve common use case scenarios like publishing to Sonatype, bintray, and sbt community repo using Opts or plugins if not out of the box. There's actually https://github.com/xerial/sbt-sonatype but I'm not sure if that plugins is designed to reduce boilerplate or just automate release aspect of Sonatype.

Having said that, I'd like this discussion to take place in sbt-dev list,

[2014-07-03 16:05] jsuereth commented on #1201
I think if #1200 exists you should do the following:
1. Warn if the scalaVersion is overridden by dependencies.
2. List the code to FORCE the scala version in the warning.
3. Provide a simplified hook you can display in 2 if necessary.

[2014-07-03 19:32] havocp opened #1432 "0.13.6-MSERVER-4 not looking for plugins in the right place"
In sbt-remote-control, if we try to open a project using say the eclipse plugin, it looks in `http://repo.typesafe.com/typesafe/ivy-releases/com.typesafe.sbteclipse/sbteclipse-plugin/scala_2.10/sbt_0.13.6-MSERVER-4/2.3.0/ivys/ivy.xml` which of course does not exist. `[sbtVersion]` in the ivy pattern should be just 0.13 not 0.13.6-MSERVER-4.
It seems that sbt can't find the right binary version wit

[2014-07-04 01:19] eed3si9n commented on #1432
Workaround:

[code]

[2014-07-05 03:46] eed3si9n opened #1434 "plugins.JvmPlugin cannot be disabled"
## steps

[code]
## problem

[code]
## expectation

I can disable `JvmPlugin` if I don't need it.
## note

[code]

[2014-07-06 14:15] jsuereth commented on #1434
Good catch.  We should add a pending scripted test for disabling plugins in
the main build....

On Fri, Jul 4, 2014 at 11:46 PM, eugene yokota notifications@github.com
wrote:

[2014-07-06 14:20] eed3si9n commented on #1434
I haven't chased down the reason precisely, but if `updateCacheName` containing `crossPaths` is the reason, that's legitimate. I guess we could introduce Scala specific optimizations in `JvmPlugin`.

[2014-07-07 03:25] Atry opened #1435 "Git URL in ProjectRef in ~/.sbt/0.13/plugins/build.sbt does not work"
I am using a Sbt plugin in a git repository. I want to apply the plugin for all my Sbt projects, so I put a `ProjectRef` in ~/.sbt/0.13/plugins/build.sbt

[code]

I got some errors:

[code]

I guess Sbt should create `C:\Users\user\.sbt\0.13\staging\b479b818d45e59945587` before executing `git clone`.

[2014-07-08 01:30] MasseGuillaume opened #1436 "scalaInstance is different from scalaVersion"
maybe it's a bug ?

http://stackoverflow.com/questions/24619283/why-scalainstance-is-different-from-scalaversion-in-sbt

[2014-07-08 10:06] fommil commented on #413
:+1:

[2014-07-08 10:10] fommil commented on #413
btw, I have unreasonably slow resolution even when we're not using snapshots, from a clean start.

I realise this is an ivy problem... are there plans to scrap ivy and do something internally that doesn't have an insane file-based, single threaded, blocking approach?

[2014-07-08 11:18] aloiscochard commented on #1184
I heard from others, that anyone one try to seriously use name hashing and switch branches often have this issue.

[2014-07-08 14:21] dircsem commented on #1156
I'm facing the same problem.
isSnapshot has solved it, although it is a temporary solution right?
Is there somebody working to solve this issue? Is there an overwrite parameter in sbt? If so how can I use it?

[2014-07-08 14:59] copumpkin opened #1437 "A more machine-reasonable notion of unnecessary task avoidance"
There's currently `Tracking.inputChanged` and friends that you can throw inside a task definition that will avoid redoing things unless some condition is met.

I'm wondering whether that notion (a generally useful one) could be incorporated directly into the graph that sbt is handling behind the scenes, so it could know if it actually did anything or if the task's "redo-work" precondition failed.

[2014-07-08 15:27] gkossakowski commented on #1184
Sbt is using name hashing now and we haven't experienced this issue. The
same goes for Akka.

Is this issue easily reproducible on any code base?

W dniu wtorek, 8 lipca 2014 Alois Cochard notifications@github.com
napisał(a):

##

Grzegorz Kossakowski
Scalac hacker at Typesafe http://www.typesafe.com/
twitter: @gkossakowski http://twitter.com/gkossakowski
github: @gkossakowski http://github.com/gk

[2014-07-08 15:29] aloiscochard commented on #1184
That's crazy! I never heard anyone that tried it and didn't had this issue...

I'll give it an other try on our codebase and let you know.

Since which version is that active by default?

[2014-07-08 21:48] fommil opened #1439 "Meta build resolves to unused Scala 2.10.2"
## steps
1. Use sbt 0.13.5 with the following plugins:

`project/plugins.sbt`:

[code]

`build.sbt`:

[code]

Run:

[code]
## problem

The meta build resolves to Scala 2.10.2 and downloads it.
## expectation

The meta build uses Scala 2.10.4 (or which ever Scala version the sbt 0.13.x uses)
## notes (workaround posted by @eed3si9n)

Put this in `project/plugins.sbt`:

[code]

Meta build's Compile

[2014-07-08 22:15] lpiepiora opened #1440 "Inspect definitions doesn't show all definitions"
## Steps
1. Create new play framework project using activator
2. Run `sbt` in the activator project
3. Make sure you have `name := "Test"` in your build.sbt
4. Type `inspect definitions name`

[code]
1. Type `inspect name`

[code]
## Problems

The output seems inconsistent. The output of the later command seems to claim that the value is provided by `{file:/home/lpiepiora/Desktop/sbt/bug-inspect-d

[2014-07-08 22:58] gkossakowski commented on #1184
Thanks. I'd really love to nail down this issue.

It's not active by default but build for sbt itself and Akka enabled this
option around two months ago.

W dniu wtorek, 8 lipca 2014 Alois Cochard notifications@github.com
napisał(a):

##

Grzegorz Kossakowski
Scalac hacker at Typesafe http://www.typesafe.com/
twitter: @gkossakowski http://twitter.com/gkossakowski
github: @gkossakowski http://githu

[2014-07-08 23:08] jsuereth commented on #1439
It's not quite that bad.   When downloading sbt itself, we include some "default" precompiled libraries.   These really should only be downloaded after we discover a project that needs them, but the hook we're using pre-downloads them every time.

We have two options here:
1. We never precompile anything for you, you take the hit locally always
2. We rearchitect so we download on command.

@gkossa

[2014-07-08 23:30] eed3si9n opened #1441 "Support ModuleID % (Test -> Test)"
## problem

[code]

`"test->test"` is String. ModuleID already supports `%` method that takes `Configuration` as a parameter via enrich-my-library `ModuleIDConfigurable` class.
## expectation

The following works

[code]
## note

Scala language already provides `->`, all we need to do is define

[code]

[2014-07-09 00:42] eed3si9n commented on #1436
I don't think this is a bug. It's behaving as its currently designed as explained by @lpiepiora on the linked question. If you have ideas on improving the current design, please bring it up to sbt-dev.

[2014-07-09 00:42] #1436 closed, assigned to nobody

[2014-07-09 06:50] fommil commented on #1439
Ok, well you guys have a lot to do in the shared server work, and rewriting ivy, so please do focus on those other high priority areas :-)

[2014-07-09 12:29] exlevan opened #1442 "cancelable setting doesn't seem to work"
When I set `cancelable := true` in `build.sbt`, interrupting application with `Ctrl+C` kills sbt, while it shouldn't. Debug output shows that application is run with  `sbt.TaskCancellationStrategy.Null` strategy, when the right strategy seems to be `TaskCancellationStrategy.Signal`:

[code]

[2014-07-09 20:39] tpolecat opened #1443 "doc nav is slightly irritating"
In a reasonably-sized browser window the "go left" and "go right" regions take up about 25% of the width of the window and it's really easy to click over to the next or previous page as you're mousing around. At least for me; I do it every single time I look at the doc. What would you think about maybe just making the buttons hot instead of the entire margin?

[2014-07-09 20:44] eed3si9n commented on #1443
Could you move this issue to sbt/website?

[2014-07-09 20:44] #1443 closed, assigned to nobody

[2014-07-09 20:45] tpolecat commented on #1443
Oops, sorry.

[2014-07-10 01:10] huntc opened #1444 "Macro implementation when using triggers is not working"
This works:

[code]

however this doesn't:

[code]

[2014-07-10 10:35] raboof opened #1445 "When HOME is not set, sbt shows a 'dirname: missing operand' error on launch"
I'd like to provide a pull request but I can't find the start script (found in /usr/share/sbt-launcher-packaging/bin/sbt on Debian) in git.

[2014-07-10 15:01] mariussoutier opened #1446 "Avoid updating snapshots in continuous run mode"
Hi,

first off, I'm not sure if this is related rather to sbt or Play, so please give me an indication where this problem might be rooted.

When developing client-side-heavy apps with Play, I'm usually running Play in continuous mode ( `sbt ~run`) and make many small changes that get reflected in the browser instantly via play-autorefresh. I have a couple of snapshot dependencies, and these are ch

[2014-07-10 18:10] jsuereth commented on #1446
Hmm, are you doing something like including the timestamp in the version?   Sbt should not be running update unless it detects that your calls to ivy are out of date, or something else is cleaning out the `target/resolution-cache` and `target/streams` directories.

[2014-07-10 18:10] jsuereth commented on #1445
IT's in `sbt/sbt-launcher-package`.  Please open this bug there, and thanks for the report/pending PR!

[2014-07-10 18:10] #1445 closed, assigned to nobody

[2014-07-10 18:39] mariussoutier commented on #1446
No, the snapshots are normal libraryDeps:

[code]

One of the sub-projects has itself a snapshot version, could that cause this behavior?

[2014-07-11 09:16] mariussoutier commented on #1446
From time to time I also get:

[code]

[2014-07-11 12:12] xuwei-k commented on #241
https://gist.github.com/xuwei-k/6278769

[2014-07-11 13:15] ms-tg commented on #1117
@jsuereth: Hi Josh, this workaround is leaving us in a very broken state on our CI machines. Removing `.sbt` and `.ivy` means that builds don't use cached artifacts. Does that make sense?

If I understand the issue correctly -- couldn't this be fixed by allowing a configurable directory instead of `.ivy`? This would allow sbt-extras to provide a different cache directory depending on SBT version,

[2014-07-11 13:17] ahepburn commented on #1117
...for us the issue is also with a mix of 0.13.0 and 0.13.5 (e.g we're upgrading some of our Play apps to 2.3.x), sample output:

[code]

[2014-07-11 13:29] ms-tg commented on #1117
For cross-reference, I've submitted this as Typesafe Support case number 3381.

[2014-07-11 13:33] ms-tg commented on #1117
@jsuereth: wrt `sbt-extras`: travis-ci.org is also instrumented with it, as are I'm sure every CI system under the sun that supports multiple SBT versions?
    http://docs.travis-ci.com/user/languages/scala/

So I imagine a fix is easy, by parameterizing the offending ivy directories in SBT commandline, and then augmenting `sbt-extras` to pass a sensible convention. Perhaps we can work with @paulp

[2014-07-11 13:48] ms-tg commented on #1117
Update: Bite my tongue -- it looks like ivy home is already configurable in 0.13.5:
    http://www.scala-sbt.org/0.13.5/docs/Detailed-Topics/Library-Management.html#ivy-home-directory

We'll give it a go, and see if the following psuedo-code makes it work:

[code]

Any thoughts? Is anyone else trying this as well?

[2014-07-11 16:37] matthughes commented on #1156
Believe I'm having the same issue as @huntc .  Using SBT 0.13.5-RC5.

These are snapshot builds and I took the same code he used to forcefully set isSnapshot, yet still getting the same error.

I double-checked 'isSnapshot' is set in consoleProject:
scala> (isSnapshot).eval
res0: Boolean = true

Here is the stack:

[code]

[2014-07-11 17:29] ms-tg commented on #1403
Isn't this the same as #1117?

[2014-07-11 21:33] huntc opened #1448 "Cross compiling for dependsOn"
@eed3si9n rewrote this case.
## steps

[code]

[code]
## problem

[code]
## expectation
1. `fooProj` is either excluded from aggregation
2. or `scalaVersion` is switched to "2.10.4" when it runs `compile` task under `fooProj`.
## original report

When using

[code]

...where project a is Scala version x and project b is Scala version y

...then the class path of a in the context of b should be for

[2014-07-11 21:47] huntc commented on #1156
0.13.5 is out. Can you try that?

[2014-07-11 22:00] eed3si9n commented on #1448
Here's a workaround:

[code]

[2014-07-11 23:37] paulp commented on #1117
@ms-tg ivy home has been configurable in sbt-extras since forever. It sets the same property you found in sbt.

[code]

[2014-07-11 23:39] paulp commented on #1117
There's also -no-share, which sets

[code]

[2014-07-12 00:22] huntc commented on #1448
The point is though I want it automated and not have to invoke a new task... Am I missing something?

[2014-07-12 01:45] matthughes commented on #1156
Actually was mistaken in my post.  I actually am running 0.13.5 final.

[2014-07-12 04:30] eed3si9n commented on #1448
No you're right on the money. I hope I captured your expectation in the description part of the case.

Personally, I've been thinking `+compile` _should_ work as `muchCompile`. But since that would require a new version of sbt, a temporary workaround that's relatively non-invasive is the above workaround.

[2014-07-12 04:47] xuwei-k commented on #1448
+1

[2014-07-12 06:22] eed3si9n commented on #1448
Here's a plugin that I wrote to prototype better "+" - https://github.com/sbt/sbt-doge.

[2014-07-13 07:24] pfn commented on #853
This still occurs on 0.13.5

[code]

I get this error while running a scripted test and it all stops there

[2014-07-13 09:00] pfn opened #1449 "0.13.5: autoImports always applied even if plugin not enabled"
I have an AutoPlugin that looks like the following:

[code]

I get this error when I run my scripted tests:

[code]

The plugin is added via addSbtPlugin(......) and the test case can be found here https://github.com/pfn/android-sdk-plugin/tree/master/sbt-test/android-sdk-plugin/lib-with-resources

I would expect that autoImport is not applied unless enablePlugins() is called explicitly. Even if a

[2014-07-13 09:01] pfn commented on #1449
Additionally, Keys and autoImport extend from a KeysContainer trait so that users of the plugin need not enablePlugin to use the existing, pre-0.13.5 functionality.

[2014-07-14 12:50] ms-tg commented on #1117
Unfortunately, our experiments have shown that neither `-ivy` nor `-shared` fix this problem.

@paulp, can you reproduce what we are seeing, by going back and forth between building sbt 0.13.0 and 0.13.5 projects on one machine?

@jsuereth sent the following info, which suggests a way to fix `sbt-extras` to support the backwards, but not forwards, compatibility policy of `sbt`. Does this make sens

[2014-07-14 14:05] #1422 closed, assigned to nobody

[2014-07-14 14:48] paulp commented on #1117
Josh, I don't know what you're talking about - I tried to use the latest launcher all the time, long ago, and I had to revert it and use the version specified in build.properties. I don't remember your ever trying to convince me of anything in this regard, I tried it as soon as it was suggested and reverted it as soon as it was demonstrated that it does not work. See #986. Please provide whatever

[2014-07-14 15:04] paulp commented on #1117
In paulp/sbt-extras#58 I wrote "As of now I'd definitely like to use the latest released launcher at all times for all versions. That position takes it as an article of faith that you can in fact use the launcher for all older versions of interest." That was a little less than a year ago. Article of faith was dislodged not long after that but I didn't care to resurrect the per-version launcher cod

[2014-07-14 15:17] paulp commented on #1117
@ms-tg My enthusiasm for this subject does not extend to trying to corrupt my ivy cache. I have no difficulty believing the ivy cache can be corrupted by any behavior short of sitting very still and staring at the floor. If using a version Y sbt launcher one day followed by a version X launcher another day compromises data integrity (not that we can even say "data integrity" in this context withou

[2014-07-14 15:21] ms-tg commented on #1117
@paulp: I totally understand. My concern is, why is the `-no-shared` workaround, which we thought would separate the ivy caches, not working for us?

[2014-07-14 15:34] paulp commented on #1117
Well, for one thing it's -no-share. Although it should be crazy obvious if it's not working as advertised because it downloads a whole lot into project/.

If you're giving the right option, then I have no idea. Presumably it would mean the problem is something other than what you think it is.

[2014-07-14 16:19] paulp commented on #1117
What could possibly go wrong with a constructor which takes four Boolean parameters, three of them injecting default values? Is it some kind of parody? Where's the real code?

[code]

It also takes three Strings. Let's rewrite it to take eight Anys and obtain default values from util.Random.

The addition of two of those four Booleans, and I guess code which utilizes them, is the only ivy-impactin

[2014-07-14 16:47] jsuereth commented on #1117
@paulp The bug you list is an issue with the scripted plugin and not the launcher itself.   We've never had a need to re-release an sbt 0.12.5 yet, or that would be fixed in 0.12.5, or anyone is free to patch scripted to make less assumptions/work.  I've taken alternative measures in sbt-native-packager to avoid the issue, and still run tests effectively.

In any case, the issue is about downgrade

[2014-07-14 17:00] jsuereth commented on #1449
Just a note: The autoImport, AFAIK is meant to be ALWAYS imported, not just when the plugin is active.   They're two different systems, that doesn't mean the plugin itself is active, just that the autoImport is there.

[2014-07-14 17:00] eed3si9n commented on #1449
Thanks for this report. Auto import got merged into auto plugin feature at the last minute, and this could have been an oversight on my part.

Set aside the fact that auto plugin can be enabled via trigger, I agree with your expectation. Maybe we should discuss this with others on sbt-dev. Could you start a thread there?

[2014-07-14 17:13] jsuereth commented on #1449
@eed3si9n Whether or not it SHOULD be enabled is a good question.  It is working as initially designed.  I agree it's subtle and confusing, but I'm not sure we can actually implement it to work as you'd expect (again fun with scala compilation).  You need to have the imports in place to compile the build BEFORE you know which plugins are enabled on the build.

[2014-07-14 19:13] pfn commented on #1449
Are we talking about .sbt files or .scala?

I'm of the opinion that .scala files should absolutely not have
autoimports. And by the time .sbt files are processed, the Project object
should be configured with autoplugins, I kind of expect?

On Mon, Jul 14, 2014 at 10:13 AM, Josh Suereth notifications@github.com
wrote:

[2014-07-14 19:17] dwijnand commented on #1117
If the solution (be it the default or not) is to run the latest here, why not use `-sbt-version 0.13.5`?

[2014-07-14 20:14] ms-tg commented on #1117
Hi @jsuereth,

On our CI node that is failing, it is failing almost immediately:

[code]

Is it possible that this has nothing to do with the above discussion?
I see that the error message **"No Scala version specified or detected"** appears in the code in Launch.scala:218 [https://github.com/sbt/sbt/blob/68e7c9a2b67975a77f62f5465a598f12af223282/launch/src/main/scala/xsbt/boot/Launch.scala#L218]

[2014-07-14 21:33] paulp commented on #1117
@dwijnand Thanks for reminding us there are a bunch of existing ways to obtain the requested behavior. You can specify the sbt version. You can specify the path to the launcher. You can specify those things with command line options, properties files, and environment variables. The exact command line being issued by the runner is presented for your inspection and, if necessary, modification.

[2014-07-15 03:28] jsuereth commented on #1117
I'm unable to duplicate the above failure locally.  Is this only happening on your CI server?

I know where the lines is printed in launch.scala, the question is how you arrive there.  It means Ivy has to fail to detect that sbt itself depends on scala.

ONE instance I saw of this issue was that a repository proxy was autogenerating a pom.xml file for sbt, which was empty and confused the hell out

[2014-07-15 03:31] jsuereth commented on #1117
Also for posterity:

[code]

[2014-07-15 06:28] cuipengfei commented on #1392
舒伯特

[2014-07-15 08:16] luchesar commented on #1095
I have the same problem.

I am trying to organise a complex build that I have extracting common login in methods and classes and I get:

[code]

Any chance this get fixed? It prevents me of using methods in my build definition which makes the build quite unmanageable.

[2014-07-15 16:06] ms-tg commented on #1117
Hi Josh,

For us, it is happening uniformly, every time, across every CI server, which are re-built every night.

On the one hand this is great, as it is not hard for us to reproduce a failure. But it is suggestive that maybe something in our CI environment simply does not allow 0.13.5 sbt boot jar to work.

To help debug, I wonder if it's possible for sbt to dump or to save everything it gets bac

[2014-07-15 16:31] jsuereth commented on #1117
@ms-tg
- Are you using any sort of proxy HTTP server _or_ proxy repository?
- Is it only happening on your CI server? If so, what type of machine is it?
- Do you have a `~/.sbt/repositories` file? If so, can you post it?

[2014-07-15 17:45] ms-tg commented on #1117
Hi Josh,

We do, we proxy everything through a nexus server. However, that nexus server is the same for my local machine (where I am not reproducing), and the CI machines (where I am).

We don't have ~/.sbt/repositories, but we do have /etc/sbt/repositories. Unfortunately, they're both the same content on CI and local, which makes sense, since it is puppeted to both:

$ cat /etc/sbt/repositories
[

[2014-07-15 20:56] ms-tg commented on #1117
Hi Josh,

Thank you for the hint! We ended up fixing this issue by ensuring, in our configuration of Nexus proxies, that we put the Ivy releases repo **before** the Maven one.

Additionally, we had to add the following repo to our proxy:
    http://repo.scala-sbt.org/scalasbt/sbt-plugin-releases

We found this purely by accident, in the **image** here:
    http://www.scala-sbt.org/0.13/docs/Proxy-

[2014-07-15 20:57] ms-tg commented on #1117
To be clear, the problem of bootstrapping the sbt boot jar, and knowing it was Scala, were fixed by the first change: ensuring that the Ivy repos were first.

[2014-07-15 22:15] paulp commented on #1117
So, this had zero to do with sbt-extras, right? I hope we can resist dragging me into it in the future, with no apparent basis beyond the problem being poorly understood. Nobody is paying me for any of this and it's not desirable as a hobby either.

[2014-07-16 03:28] thirstycrow opened #1453 "preload scripts in sbt console"
Is there a setting to specify scripts to preload in sbt console. I know there is initialCommands, but it takes only scala code rather than repl commands, so with a value of ":load debug.scala", the console failed to start with an error:

[code]

[2014-07-16 06:17] som-snytt commented on #1453
You can

[code]

with one file.

[2014-07-16 13:14] ms-tg commented on #1117
@jsuereth: one action that might be derived from this would be to document clearly exactly which repos need to be proxied for each version of sbt, and in which order?

Again, for those who find this comment thread via a google search later, it was fixing our nexus proxy order to put the newer Ivy repos first, which fixed the problem discussed in this thread.

@paulp: as soon as we saw that "-no-sh

[2014-07-16 14:27] paulp commented on #1117
@ms-tg Is there something in ~/.sbt/launchers/0.13.5 other than the 0.13.5 launcher? I'm not clear on what hazard exists with using that cache, or what behavior could be influenced by removing it. Do you have a custom launcher jar which bundles custom sbt configuration? If it's a normal scenario that the launcher jar in ~.sbt/launchers is stale relative to what would be retrieved, and this goes un

[2014-07-16 14:32] ms-tg commented on #1117
@paulp & @jsuereth: I am trying to develop steps for you to reproduce locally by forcing sbt to query repositories in the wrong order, just as they were inside our nexus proxy config. It is this wrong order which triggers this issue on sbt 0.13.1 and higher, but works fine on earlier versions.

My contention is that, once you can reproduce, we should add this information to the SBT documentation,

[2014-07-16 15:18] ms-tg commented on #1117
@paulp & jsuereth follow-up: And, surprise surprise, once the repo issue described above was solved, in fact the original issues discussed in this issue **do** also manifest. They appear to require the use of "-no-share" as a workaround for now, as discussed up-thread. _Sorry for the bad news._

Q: How feasible is it that either sbt-extras or sbt itself could default to using sbt and ivy caches by

[2014-07-16 17:00] paulp commented on #1117
If -no-share is an expensive workaround, imagine how expensive it would be to duplicate the ivy cache for every sbt version which is ever run. Most people don't have this problem: it's a non-starter for me to layer that on top of sbt by default. If sbt itself starts versioning the ivy cache - well, I'm just a wrapper.

[2014-07-16 17:36] dwijnand commented on #1117
Also if `-no-share` (isolating the project from anything else) is too expensive, you might want to consider for instance `-sbt-boot=~/.sbt/0.13.5/boot -ivy=~/.ivy2/0.13.5/cache`.

[2014-07-16 17:38] ms-tg commented on #1117
@dwijnand thank you, we are on the same page. We are experimenting now with setting sbt dir, sbt boot dir, and ivy cache, to separate place for all sbt versions before 0.13.0 (since we want the current version to be the main path).

[2014-07-16 18:58] ms-tg commented on #1117
@jsuereth @paulp:
If you are still interested, we've narrowed it down towards a very specific reproducible failure:
1.  Invoke Play 2.0.x command `play` (we puppet play 2.0.8)
2.  Invoke Play 2.3.x via `sbt-extras` (we puppet latest sbt-extras)

In cases where the error has occurred and will occur again, the directory `~/.sbt/boot/other` exists, and contains the launcher for 0.13.5.

To avoid the

[2014-07-16 19:48] paulp commented on #1117
"Invoke Play 2.0.x command play"

[code]

What makes you think it's wise to invoke play via sbt-extras? It has the most customized sbt usage I've ever seen. It bundles its own launcher, its own sbt  properties, and its own runner.

[2014-07-16 20:16] ms-tg commented on #1117
Hi @paulp, we aren't doing that. On Play 2.0.x, following mainstream distribution and community, we puppeted out the Play distribution and invoke `play` directly in our CI scripts.

On the other hand and again following mainstream usage, for Play 2.3.x we puppet out sbt-extras, so that we can uniformly invoke `sbt-extras` directly in our CI scripts. And for non-Play projects, such as building loca

[2014-07-16 20:58] paulp commented on #1117
It's mainstream usage to use sbt-extras on play? Hard to reconcile that with josh's comments. The main thing is that a failure reproduction which includes a component like "run the super-heavily sbt-customized play 2.0.8 sbt runner" is not a reproduction. More like a cautionary tale.

[2014-07-16 21:11] ms-ati commented on #1117
@paulp So, I'm not sure that your last comment is responsive to what I actually wrote above?

To be clearer: sbt-extras is **not** being used on "play 2.0.8 sbt runner". It is being run on a machine, by a local user, who happened to have previously run `play`. Does that distinction make sense?

If I can provide a failure reproduction that is like "run play from 2.0.8" and then "run sbt-extras on a

[2014-07-16 21:18] ms-tg commented on #1117
(sorry, the above was actually me, but from a different computer)

[2014-07-16 21:21] paulp commented on #1117
I think I understood you, and no, it wouldn't be useful because the play 2.0.8 runner changes sbt's behavior in unusual ways and I don't know what effect that has. I didn't think you were using my runner on their runner, which doesn't make any sense.

[2014-07-16 23:32] jsuereth commented on #1117
Which version of the sbt-launcher is Play 2.0.8 using?  This looks like legitimate cache corruption. I can try to reproduce locally, but I'm curious if you still need to be using the old Play 2.0.8 launcher, or if you can just use ONE launcher for everything (as play 2.0.x just used the sbt-launcher + a default cache directory).

In any case, if you can let me know what the actually `java <stuff>`

[2014-07-17 18:49] #1434 closed, assigned to nobody

[2014-07-17 18:51] jsuereth opened #1455 "auto-enabled AutoPlugins with no requires cannot be disabled"
If I create an auto-plugin as follows:

[code]

Then I cannot disable in `build.sbt`:

[code]

Disabling in the DSL should override the automatic nature of the plugin.

[2014-07-17 20:52] 404- opened #1457 "Ability to set baseDirectory"
I'd like to have a way of specifying baseDirectory. I don't see a good reason why all sources, resources, etc. must be contained in the same directory. The best analogy I can think of is Ant's basedir attribute in the project element - does this concept not exist in SBT (or is it just not exposed properly)?

Please, see the [related StackOverflow post](http://stackoverflow.com/questions/21029916/c

[2014-07-18 05:46] ghost opened #1458 "OutOfMemoryError if running sbt from the root directory"
On a Linux machine, using sbt 0.3.15:

cd /  (yes, the root)
sbt about

[code]

[2014-07-18 12:10] jsuereth commented on #1458
Looks like our "eager" File => Seq[File] is blowing up your memory.  Not sure how @eed3si9n feels, but this may be a won't fix.

Can you give us a reason why you're running in the root directory?

[2014-07-18 12:20] jsuereth commented on #1457
I think this question was answered sufficiently on stackoverflow.  Please refrain from opening issues unless you have a specific feature request, preferably discussed on sbt-dev first, or broken behavior which can be reproduced.

Thanks!

[2014-07-18 12:20] #1457 closed, assigned to nobody

[2014-07-18 12:21] jsuereth commented on #1453
I'm going to migrate this into a feature request that anyone is free to implement.  I think you'd have to adapt our hooks into the REPL.

[2014-07-18 12:27] jsuereth commented on #1449
@pfn We're talking about sbt files for the import magic.   And no, we can't expand autoPlugins before the .sbt because the .sbt file could be defining the Project instance.  e.g.

[code]

SO, technically, we're constrained here unless we further constrain build.sbt environment (a possibility, but not something that will happen in the 0.13.x series).

In any case, just as previously in the `Plugin`

[2014-07-18 13:01] jsuereth commented on #1159
Appears to no longer be an issue with Scala 2.11.0 and macro paradise 2.0.1

[2014-07-18 13:01] #1159 closed, assigned to nobody

[2014-07-18 13:01] jsuereth commented on #1149
Yeah, the "docs" one is hte landing page, the tutorial is a walkthrough of sbt features for newcomers, so both need to exist for different reasons.

[2014-07-18 13:02] jsuereth commented on #1149
Also, I feel this is sufficiently fixed now.

[2014-07-18 13:02] #1149 closed, assigned to eed3si9n

[2014-07-18 13:02] jsuereth commented on #1143
@jroper did you have a fix for this?

[2014-07-18 13:23] jsuereth commented on #1172
Hey @xeno-by I just got around to fixing this bug, but I can't accurately detect if I've fixed it.  Are you and @namin still working scala-virtualized?  Will there be a 2.10.4 release?  If not, I may have wait on pushing a fix.

Thanks!
- Josh

[2014-07-18 13:27] jsuereth commented on #937
So, we pushed back the logging fixes one more release, but I think we have a plan now.  Moving this to 0.13.7

[2014-07-18 13:41] namin commented on #1172
Hi Josh,

There's no immediate plan for a release, but if you'd like, I could do one?

Within the next weeks, we'll be looking into whether it's possible to support the most important features of Scala-Virtualized without a custom compiler, relying on macros instead.

[2014-07-18 14:00] jsuereth commented on #1172
It's not important _unless_ you guys are still dealing with this bug.  We had committed to having this bug fixed for 0.13.6 which is shipping soon, but I have no way to tell if I fixed it, because now that the scala versions are mismatched, we don't run into it ;).

So yeah, if you don't think you need this bug fixed in the future, please close the issue.  Otherwise, let me know if you have anothe

[2014-07-18 14:31] davidshen84 opened #1459 "scalas cannot resolve net.databinder.dispatch-core correctly"
My environment is Windows 7, 64bit. I installed _scalas_ by following http://www.scala-sbt.org/0.13/docs/Scripts.html, and used `conscript` method. Then I tried to execute this script:

[code]

But I got the following error:

[code]

Notice the URL used for public repository is wrong. The correct one should be

[code]

However, I tried to resolve some other libraries, and they works just fine.

[2014-07-18 14:32] namin commented on #1172
I tried a few combinations of things but cannot reproduce the bug right now, even though I've seen it happen once or twice again when upgrading some projects to use the latest Scala-Virtualized. Given that adding the build.properties file and removing all target directories seems enough to fix the problem when it occurs, I don't mind the status quo. So, feel free to close this issue (I don't have

[2014-07-18 14:41] davidshen84 commented on #1459
errr...I wish I could delete this post. The example on http://www.scala-sbt.org/0.13/docs/Scripts.html, provided a wrong dependency string.

[2014-07-18 14:41] #1459 closed, assigned to nobody

[2014-07-18 15:17] 404- commented on #1457
[I tried that](https://groups.google.com/forum/#!searchin/sbt-dev/$20basedirectory/sbt-dev/X1C_JVs0y9M/vF0LL28BBmMJ) to no avail. Would you like to go back to that thread and answer my question there?

[2014-07-18 15:33] ghost commented on #1458
No good reason. I just happened to be in the wrong directory at the wrong time and I figured I'd report it as I searched for similar known issues and didn't find anything.

[2014-07-19 17:08] jsuereth commented on #1458
Yeah, I'm thinking this may be a "wontfix". for now, but it is an issue that we search all files recursively and load that datastructure into memory.   Maybe @eed3si9n and I need to chat about the Path.get api...

[2014-07-19 20:43] som-snytt commented on #1458
FWIW, the usability issue where oops, I'm in the wrong directory when I run sbt, bites me all the time. Usually, I intend a quick `sbt console` session.

[2014-07-20 06:29] jroper commented on #1143
Not really, for my purposes, I just stripped the colour codes:

https://github.com/sbt/sbt-mocha/blob/master/src/sbt-test/sbt-mocha-plugin/test/project/TestBuild.scala

[2014-07-21 14:36] xuwei-k commented on #1059
#1456

[2014-07-21 16:50] #1059 closed, assigned to jsuereth

[2014-07-21 20:27] copumpkin commented on #413
:+1: excited to see this improve. Super painful right now.

[2014-07-22 11:12] aloiscochard commented on #1184
@gkossakowski Hi Greg,

I have an intuition... a very strong one about this bug... just let me give a bit of context.

For quite a while, my sbt was suboptimal when it comes to using it with `~` or having on running continuously and an other one with `run`.

Today, while ranting about it one of my coworker show me it's not the same for him... so I started investigation.

I was using this script:
h

[2014-07-22 13:40] gkossakowski commented on #1372
@dragos, did you have a chance to look into it?

I'm closing this issue for now as I think there's no bug in sbt.

[2014-07-22 13:40] #1372 closed, assigned to nobody

[2014-07-22 13:45] gkossakowski commented on #1184
Thanks for sharing! That sheds some light on why I couldn't reproduce this issue.

@jsuereth do you have any idea how sbt-extras could interfere here?

[2014-07-22 17:27] paulp commented on #1184
It will show you exactly what it's doing. If it is really something in my script it should be immediately apparent. Here is the java command line which it issues by default.

[code]

[2014-07-22 17:31] paulp commented on #1184
@aloiscochard mentions using ~ and then using run in another window. That is exactly the circumstance I was talking about earlier when I speculated about competing sbt invocations running into one another. I can tell you for sure you will encounter bad things if you use "sbt run" while continuous compilation is going in another window, unless the continuous compilation is all caught up and therefo

[2014-07-22 17:37] paulp commented on #1184
An easy step which could be taken by sbt would be to either lock the output directory for classfile emission or to check if the classfile directories being written to have been written to by something else in the extremely recent past and responding with anything more sane than randomly interleaving filesystem operations (choices include issuing a warning, aborting and not writing at all, backing

[2014-07-22 17:47] ijuma commented on #1184
By the way, I (aka @aloiscochard's coworker) don't run multiple SBT instances concurrently so @paulp may well be right.

[2014-07-22 20:36] copumpkin opened #1460 "Explicit subproject dependencies bringing names into scope"
This might be too weird/magic, but conceptually a dependency on something is basically parametrizing yourself on it.

What I'd like in my multi-project build is:

in the root `build.sbt`:

[code]

then in individual subproject-specific `.sbt` files (in the respective folders), the dependencies would be in scope. That is, in e.g. `subproject3/build.sbt`, I would be able to refer to `subproject1`. I

[2014-07-22 22:49] copumpkin opened #1461 "Track provenance of references to undefined settings"
I'm in an unpleasant situation where I get a bunch of errors along the lines of:

[code]

which is utterly unhelpful for debugging. If I could have some sort of indication of where that reference came from, be it a source location, a chain of settings calls, or whatever else, that'd be hugely helpful. Is there some sort of debugging feature that would help?

[2014-07-22 23:27] aloiscochard commented on #1184
You are totally right Paul.

Few hours after switching to using directly sbt the issue was back :-(

Sorry for having doubted about your very useful script!
On Jul 22, 2014 6:37 PM, "Paul Phillips" notifications@github.com wrote:

[2014-07-23 00:56] eed3si9n commented on #1460
Hi Dan,

Although we sometimes we allow bug reports to be directly reported on Github issues, we mainly use it for internal todo list (see https://github.com/sbt/sbt/blob/0.13/CONTRIBUTING.md for more details). If you have enhancement idea on build.sbt DSL, could you bring it up on sbt-dev list first where others interested in this topic can participate?

[2014-07-23 00:56] #1460 closed, assigned to nobody

[2014-07-23 01:01] eed3si9n commented on #1461
This would also be an interesting topic for sbt-dev. I don't think we have Pos on the settings.

[2014-07-23 01:01] #1461 closed, assigned to nobody

[2014-07-23 09:33] aloiscochard commented on #1184
@paulp BTW, I'm curious how do you organize your flow to work around the issue (of having one sbt with ~ and then other to run `main`), for me it's really a productivity killer... any idea?

[2014-07-23 10:48] jozic opened #1462 "Add a hook on loading global plugins"
Add a hook on loading global plugins, so that later we can use that to distinguish between global and local plugins

[2014-07-23 14:30] paulp commented on #1184
Sorry, it's a problem for me too. I don't know how to deal with it. I'd love to see it addressed in sbt.

[2014-07-23 14:31] paulp commented on #1184
Don't worry, blaming sbt-extras when the problem is unclear is a national pastime.

[2014-07-23 14:35] eed3si9n commented on #1191
@havocp  says running offlineTests on wip/play-232 in Activator can yield

[code]

[2014-07-23 15:04] dragos commented on #1372
Not yet... will do

On Tue, Jul 22, 2014 at 3:40 PM, Grzegorz Kossakowski <
notifications@github.com> wrote:

##

« Je déteste la montagne, ça cache le paysage »
Alphonse Allais

[2014-07-23 15:11] magro commented on #413
For us artifact resolution in our multimodule project is also a major pain. According to this issue this should be improved in 0.13.6. Is there an ETA for 0.13.6?

[2014-07-23 21:40] eed3si9n commented on #413
Good news on the multi-project Ivy resolution front. I've implemented an option to consolidate Ivy resolution for the same managed dependencies (#1454), and it will be merged soon.

[2014-07-24 06:13] #413 closed, assigned to eed3si9n

[2014-07-24 08:01] wchen9911 commented on #413
Excited to see the consolidated resolution is coming.

[2014-07-24 09:24] fommil commented on #413
@eed3si9n this is genuine improvement to the typesafe stack, thank you for your work on this. It will have a positive impact on a lot of developers.

[2014-07-24 10:39] gkossakowski commented on #1184
@aloiscochard, are you running just one instance at the time and still see this problem?

Could enable logging of ClassfileManager activity?

[2014-07-24 14:55] ms-tg commented on #1117
Hi @jsuereth, we're working on a minimal reproduction here: https://github.com/ms-tg/sbt-version-issue-test-case

So far, we are unable to reproduce. Will experimentally add in more specifics of our projects, and potentially our proxy repos, until it fails. This way, there will be a public reproducible test case.

[2014-07-24 15:02] aloiscochard commented on #1184
@gkossakowski nope, I haven't retried yet. I wanted to be sure to understand the issue with `update` first.

I'll let you know when I have any news.

[2014-07-24 21:41] jaceklaskowski opened #1464 "Make pluginParser working with autoplugins (for plugin command)"
As per [the discussion in sbt-dev](https://groups.google.com/d/msg/sbt-dev/oiypIgdCHtY/_WcAMWi5j2oJ), executing `plugin` command with no autoplugin specified gives an error message:

[code]

[2014-07-24 22:01] copumpkin opened #1465 "Obscure error in .sbt files: "error: not found: object $0ff9ef6ceddbe4a02c28""
## steps

builld.sbt

[code]

project/build.properties

[code]

boink/boik.sbt

[code]

woof/woof.sbt

[code]
## original report

Or some other random-looking hash. This is in a fairly meaty complex build, so I haven't been able to reduce it to a small failing test case yet, but it appears to be happening in generated code to process the .sbt files.

The more complete error is:

[code]

Not really

[2014-07-25 03:23] githubNinja commented on #1117
Hi , we are working on the akka 2.3.3 version and sbt version 0.13.0 and play 2.2.2. While running the play with the application we observed play 2,2 is not compatible with the akka 2.3.3 version. We have upgraded the play version to 2.3.3 and SBT version to 0.13.5 after this we couldnt able to connect to local nexus to download any artifacts and could see UnResolved exceptions. We want to keep th

[2014-07-25 05:32] copumpkin commented on #1441
:+1: those strings have always bugged me

[2014-07-25 07:04] eed3si9n opened #1466 "Invalid binary version conflict warnings with a custom configuration"
## steps

[code]
## problem

[code]

`TheDude` configuration is independent from `Compile`, so the fact the warning is incorrect there.
## expectation

Should we allow `scalaVersion` to be set on custom configurations? If so does that change the behavior of `%%`? Probably not because you could have more than one config like `default->@;runtime,test->runtime`. So that means, each configuration shou

[2014-07-25 07:26] eed3si9n commented on #1441
I'm now kind of thinking relying on Scala's `->` operator may be being too cute. [Ivy dependencies](http://ant.apache.org/ivy/history/2.3.0/ivyfile/dependency.html) accepts semicolon separated list of arrow expressions like `default->@;runtime,test->runtime`, which includes comma separated configurations inside. So it's conceivable someone may try to write:

[code]

So maybe I should come up with

[2014-07-28 02:42] japgolly opened #1468 "Inc-compiler crash: IndexOutOfBoundsException"
Hi, I'm using SBT 0.13.5, Scala 2.11.2, Scala.js 0.5.2 and keep seeing this crash in the incremental compiler. Unfortunately I can't share the code that causes this but please let me know other info I can provide to help.

[code]

[2014-07-28 08:22] gkossakowski commented on #1468
Hi,

Given this is a crash in type checker I think it's a bug in Scala compiler and not incremental compiler. Can you try compiling your project outside sbt? If you use `last compile` you should get all the options you need to pass to `scalac` command.

[2014-07-28 09:55] ghost commented on #413
Eager to see this improvement.
Any timelines for a milestone release ?

[2014-07-28 11:34] aloiscochard commented on #1184
@paulp Just for your information, I just found a "workaround" for my workflow by using https://github.com/spray/sbt-revolver with `~;test:testOnly *FooTest*; re-start`, but that solve probably only my very specific use-case... anyway I thought it might be worth sharing ;-)

@gkossakowski with that new setup in place, I'll finally re-enable name hashing and keep you posted

[2014-07-28 16:24] benmccann opened #1469 "JUnit XML report contains wrong stacktrace/message when running in forked mode"
@francisdb reported this bug as https://github.com/sbt/junit-interface/issues/55

However, I think this is actually an SBT bug given that [JUnitXmlReportPlugin](https://github.com/sbt/sbt/blob/0.13/main/src/main/scala/sbt/plugins/JUnitXmlReportPlugin.scala) lives here

This is what is reported in the junit xml reports

[code]

But the actual failing test stacktrace looks like this

[code]

[2014-07-29 04:09] wrencai opened #1470 "Launching sbt from sbt/sbt-launch-0.13.5.jar Error occurred during initialization of VM"
I used command "sbt update compile" under ~/spark directory,but some error appeared , what should I do to solve these problems?the shell script file of sbt is like

[code]

I have test command sbt , it can compile .scala file and get program running results.

[code]

[2014-07-29 04:18] eed3si9n commented on #1470
Please open a question on Stackoverflow with sbt tag - https://github.com/sbt/sbt/blob/0.13/CONTRIBUTING.md#where-to-get-help-andor-file-a-bug-report

[2014-07-29 04:18] #1470 closed, assigned to nobody

[2014-07-29 09:03] aloiscochard commented on #1184
@gkossakowski one day without issue (but haven't changed branches much), I'll give you feedback at the end of the week.... but so far so good! :)

[2014-07-29 11:37] gkossakowski commented on #1184
Thanks for keeping us updated! Keeping fingers crossed for you testing!

[2014-07-29 11:41] aloiscochard opened #1471 "Give ability to stop/kill a running task without exiting SBT."
Currently if a long compilation/test start, there is no way to stop it without restarting.

What would be great is to be able to use `CTRL+D` for that purpose, I think that's what folks will try intuitively.

[2014-07-29 11:43] aloiscochard opened #1472 "Kill/Stop current task on filesystem change."
Currently if a long test/compilation was triggered in `~` mode, and then the user do an other file change during that task, the task is not restarted.

Which mean the enduser will have to wait for the test to finish, and then a new task will automatically created.

One could avoid wasting all that time, by directly killing the running task and restart when a change occur (we could argue about maki

[2014-07-29 14:29] copumpkin commented on #1465
Additional information:
- It's always the same two sbt files that fail, in the same order. Retrying twice always succeeds.
- The autogenerated/hash name is different every time.
- Decompiling the object it imports reveals that it's an object that only contains the val definition I stuck at the top of my failing .sbt files.
- At the point where it asks me to retry/quit/last/ignore, the relevant .cl

[2014-07-29 15:08] #1200 closed, assigned to nobody

[2014-07-29 20:45] copumpkin commented on #1465
I've "fixed" it for now. I added some dummy `val foo = 0` declarations to the failing files and they stopped failing. Another one started failing after that, and then after I added some dummy `val`s to that one too, everything worked again. It seems to be repeatable in that I can delete my sbt build files (`project/target` and such) and have it rebuild consistently.

Disturbing :cold_sweat:.

[2014-07-29 20:47] eed3si9n commented on #1465
Could you describe the nature of your build? Are you using auto plugins?

[2014-07-29 20:52] copumpkin commented on #1465
No auto-plugins. I currently have a root `build.sbt`, some common Scala logic under `project` along with some (old-style) plugins in `project/plugins.sbt`. Then I have a bunch (over a dozen) of subprojects, each with subproject-specific settings under `<subproject>/<subproject>.sbt`. I'm not completely sold on this project structure, and am actively trying to simplify the build to minimize the amo

[2014-07-29 20:57] eed3si9n commented on #1465
ok. It would be super helpful if you could come up with a reproducible test project that you can make public, but dozen project, subprojects having their own sbt, and wacky import statement could be a good starting point for us to start digging into.

[2014-07-29 20:58] copumpkin commented on #1465
I've been trying to without much luck so far (might have something to do with the scale). I'll try some more :smile:

[2014-07-29 21:00] copumpkin commented on #1465
To be clear, the wacky import statement is autogenerated by sbt for `val` definitions in .sbt files, it seems.

[2014-07-29 23:02] paulp commented on #1184
In case people are being overly distracted by specifics, there's clearly a real issue here for which there are no general workarounds, and that is write synchronization. Only sbt can adequately address it. The way sbt works basically any action can lead to compilation, so there are highly unintuitive combinations where you will incur utterly random behavior: let's say we run two copies of a progra

[2014-07-29 23:07] puffnfresh opened #1475 ""Not a simple type" breaks -Xfatal-warnings"
When enabling `-Xfatal-warnings`:

[code]

Our build no longer works because of "Not a simple type" warnings, which actually come from sbt, rather than scalac:

[code]

It would be very useful if sbt's warnings did not trigger fatal-warnings.

[2014-07-29 23:10] copumpkin commented on #1465
Okay, here it is on a silver platter: https://www.dropbox.com/s/g4wj35lxr6ifdmp/bug.tar.gz :smile:

[2014-07-29 23:12] jsuereth commented on #1184
@paulp That is a very serious issue, one which we'd like to solve in a bit more nuanced way than "global lock on anything writing to target, across processes" which is how we "solved" ivy process concurrency issues.

Primarily, in sbt 1.0 (next major release), sbt-server will be the default mode of operation, which means all clients will actually connect to one build process, who will own the lock

[2014-07-29 23:15] jsuereth commented on #1475
@gkossakowski This looks like something with API extraction.

@puffnfresh any chance we can get a small reproducible test project?

[2014-07-29 23:18] jsuereth commented on #1465
Yeah, that's the internal hackery of how sbt compiles your .sbt files.  Thanks for the reproducible test case, I'll take a look now.

[2014-07-29 23:30] jsuereth commented on #1465
@eed3si9n This appears to be an issue with namespaces, which we were discussing before.

While we pretend that .sbt files each have an individual namespace, I think the way we HASH setting instances is idempotent by the string which defines them.  @copumpkin here has defined the same val, using the same string, in more than on sbt file.

@copumpkin in sbt 0.13.6 (milestone released soon), you'll g

[2014-07-29 23:33] copumpkin commented on #1465
Interesting! Why did adding dummy `val`s (without renaming the original duplicate one) fix it?

[2014-07-29 23:38] jsuereth commented on #1465
@copumpkin It's a hash conflict.  I think position may be a part of the hash (line number) or some other aspect.   I'm just super glad your reproducible test case is small enough to be reproducible and demonstrate the issue :)

[2014-07-29 23:39] copumpkin commented on #1465
Aha, I think I see, thanks!

[2014-07-30 01:02] puffnfresh commented on #1475
build.sbt

[code]

src/main/scala/Example.scala

[code]

Gives:

[code]

[2014-07-30 04:31] paulp commented on #1184
For the record I'm not arguing for something lacking nuance in preference to something possessing nuance, but I am arguing for something as contrasted with nothing. It's easy enough to mitigate the problem that a desire for nuance is not really a reason to delay so doing. 1.0 sounds really far away compared to the quantity of attention requisite.

[2014-07-30 09:24] gkossakowski commented on #1475
Duplicate of #830.

The unfortunate interaction with `-Xfatal-warnings` hasn't been reported before. I'll comment on that in the other issue.

[2014-07-30 09:24] #1475 closed, assigned to nobody

[2014-07-30 09:27] gkossakowski commented on #830
There's unfortunate interaction with `-Xfatal-warnings` reported in #1475. We probably could demote the earning to debug log entry in 0.13 series as more principled fix is possible in next major version only.

[2014-07-30 13:54] dansanduleac opened #1478 "[0.13.5] sLog is broken when calling reapply()"
So I've noticed there's this new `sLog` setting that allows logging in, well, Settings. That's cool.
However, it only works when you Load a build (unit), if you `BuiltinCommands.reapply` then you get this error:

**Settings logger used after project was loaded.**

Example:

[code]

[2014-07-30 15:09] aloiscochard opened #1479 "Name hashing crash"
The following error happened while using SBT with `~test:compile`.

`(service/test:compile) java.lang.AssertionError: assertion failed: mkAttributedQualifier(_10.type, <none>)`

Complete error:

[code]

[2014-07-30 15:10] aloiscochard commented on #1184
@gkossakowski I just got a crash, but I think it's not the _same_ issue as I was facing in the past, here is the bug report:
https://github.com/sbt/sbt/issues/1479

Hope that help!

[2014-07-30 15:19] aloiscochard commented on #1479
Sorry for the extreme tabs at the end of log, it's because I pasted in vim...

BTW, I did an other compile just after and the same error happened, so I did a copy of the directory and kept it aside in case you guys want to reproduce or stuff from the target... just let me know!

[2014-07-30 15:27] aloiscochard commented on #1479
@gkossakowski "fun" fact, even after a `clean`, it still crash exactly the same way....

Which mean I had to disable name hashing completely to be able to compile my project :-(

So obviously, I won't be able to continue using it until this is fixed...

[2014-07-30 15:52] aloiscochard commented on #1479
Well, I'm kinda loosing my mind here... I got it compiling at some point without namehashing... but now I can't get it working even when disabling and cleaning.... very weird...

Maybe not even related with incremental compilation.... I'm lost.

[2014-07-30 15:57] aloiscochard commented on #1479
Ok, I got half of my sanity by realizing that in one case I was doing `compile` and in the other `test:compile`...

Anyway this is not a SBT issue I believe, so I close the ticket....

It's probably a scalac bug, probably one of those which in near impossible to isolate.

[2014-07-30 15:57] #1479 closed, assigned to nobody

[2014-07-30 17:51] copumpkin commented on #1465
@jsuereth you mentioned that in 0.13.6 I'll get ambiguity errors if I do consoleProject or set, but what's the long-term right behavior here? I'd expect it to either keep them in separate namespaces or give me a sensible error on startup.

[2014-07-30 17:55] eed3si9n commented on #1465
Should we discuss scoping semantics of sbt DSL with regards to `def`s and `val`s on sbt-dev first?

[2014-07-30 18:37] jsuereth commented on #1465
@eed3si9n Perhaps.

@copumpkin That is the expected behavior.  `consoleProject` and `set` implicitly import ALL .sbt scopes, so it is ambiguous in that scenario.  FYI - in sbt 0.13.5 you just can't reference them at all...

[2014-07-31 00:57] game-god opened #1480 "GitHub won't push for me"
I am trying to push my commits to online but i get this error saying unable to access ...git: could not resolve proxy: %HTTP_PROXY%
When i did this on an administrator it never occured. Do i need to be administrator?

[2014-07-31 01:00] #1480 closed, assigned to nobody

[2014-07-31 03:33] copumpkin commented on #1472
:+1:

[2014-07-31 08:23] joscha opened #1481 "Add auto-retry command line flag"
In the last few days travis builds fail quite often because a download could not be finished, e.g.

[code]

as it is an automated install, there is no way to react to those via input at that time, so I wanted to find out if there would be the possibility to add a command line flag for sbt for automated installs that could control this (e.g. retry X times).

[2014-07-31 08:27] eed3si9n commented on #1481
Hi sbt project uses Github issue for internal todo list. If you have ideas for enhancements, please send us a pull req or bring it up to sbt-dev - https://github.com/sbt/sbt/blob/0.13/CONTRIBUTING.md

[2014-07-31 08:27] #1481 closed, assigned to nobody

[2014-07-31 08:31] eed3si9n commented on #1471
Hi Alois, sbt project currently uses Github issues for internal todo list. If you have enhancement ideas, please send us pull req or bring it up on sbt-dev list. - https://github.com/sbt/sbt/blob/0.13/CONTRIBUTING.md

[2014-07-31 08:31] #1471 closed, assigned to nobody

[2014-07-31 08:32] eed3si9n commented on #1472
Hi Alois, sbt project currently uses Github issues for internal todo list. If you have enhancement ideas, please send us pull req or bring it up on sbt-dev list. - https://github.com/sbt/sbt/blob/0.13/CONTRIBUTING.md

[2014-07-31 08:32] #1472 closed, assigned to nobody

[2014-07-31 21:59] jsuereth commented on #1430
no, I think we just ran into this again.

[2014-08-01 02:20] puffnfresh opened #1484 "0.13.6-M1 NullPointerException during update"
While trying out the 0.13.6-M1 for #1477 I found a `NullPointerException`. After some debugging, I narrowed down the problem to the following two lines:

[code]

I estimate that we might be the only company in the world with a configuration anything similar to this.

[2014-08-01 07:31] ghost commented on #1484
I got a null pointer exception when I used it with a play 2.3 application.

[2014-08-01 13:32] fommil commented on #1439
we're still seeing crazy things like various sbt plugins depending on different versions of scala-library or scala-compiler and sbt is pulling them all in before realising what should be ignored. That seems terribly wasteful for both resolution and network usage. It increases the probability of CI failures, e.g. we keep getting a failure getting 2.10.2 of `scala-compiler` at the moment  https://tr

[2014-08-01 15:01] cvogt opened #1485 "testOptions ignored in forked jvm for tests"
I am using ScalaTest with

[code]

The `F` flag makes ScalaTest show full stack traces, when a test fails with an Exception. That works fine, when not forking the jvm. When I add

[code]

The options are ignored and I do not see full stack traces. FYI: I am using a multi-project build.

/cc @scalatest

[2014-08-01 15:04] jsuereth commented on #1485
Do you know how ScalaTest is showing stack traces... is it via a println to system.out?   i.e. are the arguments getting passed and then the forked runner ISN'T picking up the stacktrace (likely) or are the options not going down at all?

[2014-08-01 15:06] cvogt commented on #1485
Shortened stack traces are shown, which is the default behavior without `-F`, so I don't think the problem is with passing ScalaTest's output around. ScalaTest's runner doesn't get to see the "-F" flag.

Passing the options in the sbt shell is ignored as well:

[code]

[2014-08-01 15:27] cvogt commented on #1485
Interestingly enough, ScalaTest seems to pickup the "-e" flag

[code]

This does show full strack traces in addition to the shortened ones (without forking it shows full stack traces twice though, once for error, once for failure).

[2014-08-01 15:40] jsuereth commented on #1485
So, as expected, it looks like the arguments are passed, just the output isnt' captured correctly on the other side

[2014-08-01 15:54] eed3si9n commented on #1484
Awesome. Thanks for minimizing the bug.

[2014-08-01 15:59] eed3si9n commented on #413
0.13.6-M1 is out - https://groups.google.com/d/msg/sbt-dev/LjYfBIPiB5M/z39twf_jKgAJ

[2014-08-01 16:52] cvogt commented on #1485
But ScalaTest produces shortened stack traces, which means it didn't respond to `-oF`. If it had it would not produce them but produce full ones instead.

[2014-08-01 16:53] fommil commented on #413
some timings for the `update` step on our project (which uses https://github.com/cage433/maker because sbt is prohibitively slow, but I created a branch to keep an eye on sbt performance) after a `git clean -xfd` and all files available locally in the ivy cache. Basically **ivy has nothing to do because everything should already be available in the local cache** and we don't use SNAPSHOTS:

[code]

[2014-08-01 17:18] wchen9911 commented on #413
@fommil the new consolidated resolution caching only helps if you have multiple projects that all share exactly the same dependencies. In the past, each project will resolve the same thing over and over again, with this enhancement, there will be just one ivy resolution, and the others will just reuse the same result.

I guess your project also have multiple projects, but they don't share the exac

[2014-08-01 18:13] fommil commented on #413
About 20.

[2014-08-01 18:15] jsuereth commented on #413
@fommil We do realize that ivy resolution, even with nothing to do, can be slow, especially if you have a lot of evicted dependencies or exclusions.  Sbt SHOULD be caching your updates, but certain things can invalidate sbt's cache (basically anything which alters ivy configuration).

We're still investigating better improvements to Ivy resolution in general.  The shared resolution between project

[2014-08-01 18:21] jsuereth commented on #1348
I think @eed3si9n cleaned this up after the code reformatter made it apparent it wasn't included in a block.  It's no longer in the State.scala file.

[2014-08-01 18:21] #1348 closed, assigned to nobody

[2014-08-01 18:25] fommil commented on #413
@jsuereth we have a lot of CI runs which always start from a clean tree. The `~/.ivy2` remains in place between builds (and across branches) but we can't even rely on user-level caching.

I have to say that ivy resolution would be the single biggest bottleneck if we were not using maker. It takes longer for ivy to do nothing than to compile the project (we can throw a lot of CPU and memory at the

[2014-08-01 18:32] jsuereth commented on #413
Yeah, Ivy is pretty good at wasting CPU cycles.  Again, we're looking at it.  I see Ivy performance as one of the top 3 user-issues in sbt.

[2014-08-01 18:33] cvogt commented on #1485
Now I am getting `java.lang.IllegalArgumentException: Invalid configuration option: Problem arg: -oFD -eF` for

[code]

These seem to be just ignored:

[code]

[code]

And this seems to suit as a workaround for this issue:

[code]

[2014-08-01 18:34] jsuereth commented on #1478
This is a hard one to test, as it requires memory pressure for the weak-reference to get evicted.  I think I have a patch, but I'm having trouble geting a reliable failure  before I test the fix :)

[2014-08-01 20:23] #1478 closed, assigned to jsuereth

[2014-08-01 20:55] jsuereth commented on #882
Just a note that sequentially != in the same thread.  i'm going to try to reproduce now, with a slightly altered test-case.

[2014-08-01 21:08] jaytaylor commented on #1187
I would very much like this configuration functionality to be available.

[2014-08-01 21:11] jsuereth commented on #882
Alright, so it appears the issue is more around "startup" and "shutdown".

Currently in sbt, you are not guaranteed that "startup/shutdown" for a project will finish before the next test suite starts.   These are inside different tasks, and all tasks are executed in a graph-traversal.  SO, while the tasks are not operating at the same time, you will see one project start, and then another project

[2014-08-01 21:12] jsuereth commented on #882
Current test case: https://gist.github.com/jsuereth/cec11c14412e365e90bf

[2014-08-01 21:34] #1306 closed, assigned to jsuereth

[2014-08-01 21:37] #1375 closed, assigned to jsuereth

[2014-08-01 21:42] #856 closed, assigned to jsuereth

[2014-08-01 21:50] eed3si9n commented on #413
@fommil Happy builds are all alike; every unhappy dependency resolution is unhappy in its own way. It would be helpful to see what your dependency graph looks like.

[2014-08-01 21:55] charleso commented on #413
@eed3si9n Not sure if this helps but I've just tried updating to 0.13.6-M1 and our resolution times of ~60s looks roughly the same, if not worse:

https://github.com/ambiata/ivory

[2014-08-01 23:02] eed3si9n commented on #413
@charleso Consolidated resolution is not enabled by default. See [0.13.6.md](https://github.com/sbt/sbt/blob/0.13/notes/0.13.6.md) for details. Currently this is how you enable it (This is M1 so the following is subject to change):

[code]

Before it took 69s to update. After 40s ymmv.

[2014-08-01 23:37] eed3si9n commented on #1464
Duplicate of #1416 fixed by #1426.

[2014-08-01 23:37] #1464 closed, assigned to nobody

[2014-08-02 01:45] charleso commented on #413
@eed3si9n My sincere apologies, that's my second dumb thing I've asked you about this week.

Works like a charm! Getting about a 35-45% speed up. Thanks so much.

[2014-08-02 03:25] cvogt commented on #1485
The above was not quite a sufficient workaround as things would appear twice. A better workaround is suppressing test logging in sbt and enabling ScalaTest's std error logger instead:

[code]

[2014-08-02 07:27] magro commented on #413
For us update time hasn't changed (~1'30), having 5 modules with different dependencies.

[2014-08-02 10:48] michalrus opened #1492 "Publishing via sftp with public key authentication on sftp-only server fails"
When using public key authentication with an OpenSSHd server configured to allow only sftp connections:

[code]

... sbt fails with:

[code]

`build.sbt` fragment:

[code]

So, I thought, maybe sbt doesn't know how to use sftp and uses scp instead?...

But that's not the case, since when I remove the private key part from `build.sbt` and _provide password manually_, when prompted, it works... Work

[2014-08-04 12:50] Shrivallabh opened #1495 "SNAPSHOT dependency does not get resolved while compiling a dependent project after publishing depended-on jar to remote repository when both operations are on the same box."
# Build chain

I am using _scala 2.10.3_ with _sbt 0.13_
# The scenario

I have a module M that my service S depends on.

S and M are not under the same umbrella.  \

The M is part of a multi module project, while S is a standalone project.

S has the snapshot version of the M added as a dependency.
1. I made some changes to the M
2. I published the changes to my remote repo
3. I started a clean b

[2014-08-04 13:08] fommil opened #1496 "libraryDependency mangled"
I have a library dependency declared as

[code]

which was published with maven and everything about the published artifact looks good.

But sbt 0.13.5 keeps trying to resolve it as

[code]

instead of

[code]

so what is going on?

[2014-08-04 13:41] eed3si9n commented on #1496
Hi Sam, sbt project uses Github issues as a public todo list. If you want help on sbt, please open a question on Stackoverflow. See https://github.com/sbt/sbt/blob/0.13/CONTRIBUTING.md

[2014-08-04 14:35] fommil commented on #1496
@eed3si9n this is a bug, I'm not looking for support.

sbt is not correctly identifying this `ModuleID` as a jar dependency. Workaround is to explicitly use `jar()` after the declaration.

[2014-08-05 04:29] wpalmeri opened #1500 "Scope not respected when re-including a dependency with different classifier"
When a project depends on both the regular as well as test-classified artifact, the scope is not respected when generating a POM file. For example, given the following build.sbt:

[code]

running `make-pom` results in:

[code]

The second foo artifact should have the `test` scope defined, but it does not. Dropping the classifier results in only a single `foo` dependency being generated, so perhaps

[2014-08-05 06:49] ghost commented on #1484
Great.
It will be nice to have an update Milestone build for this

[2014-08-05 12:42] jsuereth commented on #1495
Thanks for the report.  We've some similar issues reported just with local repositories. The hind about the ivydata is a good catch.  Thanks!

[2014-08-05 12:44] jsuereth commented on #1500
Here is where pom creation goes: https://github.com/sbt/sbt/blob/0.13/ivy/src/main/scala/sbt/MakePom.scala

First, though, a question:  Is Ivy correctly RESOLVING that definition?  If so, then we just need to fix the pom generation side of things.

[2014-08-05 16:40] wpalmeri commented on #1500
I do believe that Ivy is resolving correctly, as when I use the dependency-graph plugin in the defining project, the compile time dependencies are correct. It's only when downstream projects that pull in the dependency via nexus/maven with the bad pom that the incorrect test deps start showing up.

[2014-08-05 18:01] jsuereth commented on #1500
Ok, seems related to this, perhaps:

https://github.com/sbt/sbt/blob/0.13/ivy/src/main/scala/sbt/Ivy.scala#L540-L568

[2014-08-06 01:05] wpalmeri commented on #1500
@jsuereth definitely seems related to that. The root issue could even be in [Merge Descriptors](https://github.com/sbt/sbt/blob/0.13/ivy/src/main/scala/sbt/ivyint/MergeDescriptors.scala#L17)

For anyone else interested, here's a setting to get around the bug. Can be made more generic as necessary:

[code]

[2014-08-06 11:13] thirstycrow commented on #1453
I found a workaround: when starting the REPL, sbt passes scalacOptions to the interpreter as the argument of the main method of scala.tools.nsc.interpreter.ILoop, and the interpreter checks the argument to find files to load. So files to be loaded can be specified like following:

[code]

[2014-08-06 13:04] jsuereth opened #1501 "Missing , in .sbt leads to ArrayIndexOutOfBoundsException"
## steps

Create a `build.sbt` ::

[code]
## problem

Start sbt, get:

[code]
## expectations

The user should get a legitimate warning.
## notes

Likely related #1181

[2014-08-06 13:35] hamnis commented on #654
https://issues.apache.org/jira/browse/IVY-1333

This still happens in sbt 0.13.5

[2014-08-06 14:14] jsuereth opened #1502 "Add plugins via a command"
It would be ideal, in many scenarios, to be able to add a plugin to the build via a command.

E.g. automated tooling sometimes has customization hooks that need to be added to a build.  Currently, these can use the `apply -cp <classpath> <command class>` mechanism to modify a build and add their hooks, but this leads to some less-than-ideal issues, e.g. classpath detection and cross-publishing.

I

[2014-08-06 16:17] jsuereth opened #1503 "Sbt needs convenience method to join together dynamic tasks."
Right now, if you're pulling tasks from different `Initialize` contexts, there's no good way to join them.

This method should exist somewhere in our API:

[code]

But it's an open question where/how to expose it.

[2014-08-06 16:19] jsuereth commented on #1503
Note, it could be the method we really need is:

[code]

As this would then expose a method of joining the initialized tasks and we can then use the already exposed `Seq[Task[_]].join`.

[2014-08-06 16:35] #1384 closed, assigned to eed3si9n

[2014-08-07 08:59] eed3si9n opened #1506 "UnknownHostException while running test on Java 7 on Mac OS X"
## steps

Not sure if this happens every time. (Might need DHCP to change )

[code]
## problem

[code]
## expectation

I don't know why JUnitXmlReportPlugin needs my local host.
## notes
- http://bugs.java.com/bugdatabase/view_bug.do?bug_id=7180557
- https://web.archive.org/web/20140108070932/http://biomedicalontologies.com/2012/11/14/fixing-java-net-local-host-name-unknown-error-on-mac-os-x/

The

[2014-08-08 03:40] eed3si9n commented on #1501
This is a duplicate of #1181.

[2014-08-08 03:40] #1501 closed, assigned to eed3si9n

[2014-08-08 04:53] tkawachi opened #1510 "Broken FAQ link in README.md"
http://www.scala-sbt.org/release/docs/faq is not found.

[2014-08-08 15:36] eed3si9n commented on #548
Hi Robin, I don't think we would ever do this.

[2014-08-08 15:36] #548 closed, assigned to nobody

[2014-08-08 15:40] jsuereth commented on #576
The goal here is to be able to unify specifying your credentials (proxy http server + repository proxy) across both the sbt-launcher and sbt itself.

Currently, the sbt-launcher looks for credentials via environment variables, eg. ("http.user", "http.password"), and for Ivy via simialr envifronment variables.

sbt itself looks for proxy-server cerdentials in the environment AND ivy credentials via

[2014-08-08 15:47] jsuereth commented on #576
Related 96e5a7957c830430f85b6b89d7bbe07824ebfc4b
and: #731

[2014-08-08 15:48] jsuereth commented on #731
Closing as duplicate of #731

[2014-08-08 15:48] #731 closed, assigned to nobody

[2014-08-08 15:58] jsuereth commented on #857
SO, we're closing this as won't fix for two reasons:
1.  Sbt 1.0 will be using the 0.13 syntax as the core syntax.  While the old syntax may still stick around, it will no longer be supported, specifically, tuples > 9 just won't be supported at all as the new API should be able to handle them and be nicer.
2.  There is a workaround (migrate to new 0.13 syntax).

Sorry this hit you during your init

[2014-08-08 15:58] #857 closed, assigned to nobody

[2014-08-08 16:03] eed3si9n commented on #882
Ideally:

[code]

[2014-08-08 16:15] eed3si9n commented on #1138
Since there's a workaround for this, I'm going to close this as won't fix.

[2014-08-08 16:15] #1138 closed, assigned to nobody

[2014-08-08 16:20] #1172 closed, assigned to nobody

[2014-08-08 16:21] jsuereth commented on #1191
This is fixed, but a cache may still have bad ivy files inside of it.

[2014-08-08 16:21] #1191 closed, assigned to nobody

[2014-08-08 16:24] jsuereth commented on #1323
Question, did you see this issue from 0.13.1->0.13.5? I think this may be resolved.

[2014-08-08 16:26] jsuereth commented on #1347
I think @dansanduleac's patch has fixed this issue.

[2014-08-08 16:26] #1347 closed, assigned to nobody

[2014-08-08 16:32] jsuereth commented on #1403
Closing as duplicate of #1117

[2014-08-08 16:32] #1403 closed, assigned to nobody

[2014-08-08 16:33] jsuereth commented on #1412
Can you post your build definition in the ~/.sbt/plugins directory?

[2014-08-08 16:34] jsuereth commented on #1437
Yes, we've debated it a bit. Leaving this open as enhancement but we'll need more information.

[2014-08-08 17:07] dylemma opened #1513 "Unexpected order of settings in `ScopeFilter(inDependencies(ThisProject))`"
The old `Defaults.forDependencies` method has been deprecated, so I switched to using the new `<key>.all(<ScopeFilter>)` way of doing things when I updated to `0.13.5`. This doesn't seem to list settings in the same (desired) order as before, which is a problem since I was using that approach to create some initializer commands where order is important.

A distilled example of what I was doing in

[2014-08-08 17:24] eed3si9n opened #1514 "sbt doesn't see new SNAPSHOT dependency versions"
This is a general case for #321.
## steps
1. Create two repositories RepoA and RepoB (or use `Resolver.defaultShared.nonlocal()`)
2. Publish SNAPSHOT to RepoA.
3. Try to use the dependency.
4. Publish SNAPSHOT to RepoB.
5. Try to use the dependency.
## problem

You get the SNAPSHOT from RepoA.
## expectation

You always get the fresh one.
## Notes
- https://github.com/sbt/sbt/tree/fix/issue-321-sn

[2014-08-08 17:39] #1181 closed, assigned to eed3si9n

[2014-08-08 18:53] vn971 commented on #1323
@jsuereth  Same behavior, SBT showed a compilation error after upgrading to 0.13.5.  Steps to reproduce are the same as in this issue (but with 0.13.5).

[2014-08-08 20:02] jannic commented on #1191
Well, I just retried:
- new, clean docker container, debian/sid with openjdk 7
- initially no ~/.ivy2/
- downloaded a fresh copy of sbt 0.13.5
- created a new project, build.sbt contains only libraryDependencies += "org.apache.geronimo.specs" % "geronimo-jta_1.1_spec" % "1.1.1", and build.properties contains sbt.version=0.13.6-M1. No other files.

After running the 'compile' task, ~/.ivy2/cache/or

[2014-08-08 21:30] jsuereth commented on #241
@xuwei-k that's a nice workaround. I think I'd like to tie this to the "new file watching" API we plan to take from play where the notification of change happens asynchronously.

[2014-08-08 23:33] tlockney opened #1518 "sbt exclusion rules don't handle Scala version specific dependencies"
## steps

[code]
## problem

`"net.liftweb" %% "lift-json"` is actually not excluded (because you need cross versioned `"lift-json_2.10"`).
## expectation

`ExclusionRule` could smart up some how, or accept `GroupArtifactID`. The LHS of `excludeAll` is `ModuleID` so it _should_ already know the `crossVersion` mode that its in.
## original report

This came up as an issue recently, referenced in [t

[2014-08-09 01:37] eed3si9n commented on #1518
Thanks for reporting this. I've ran into this myself while trying to use exclusion rules, and it's annoying.

[2014-08-09 01:55] eed3si9n commented on #1518
`scalaFullVersion` is available during resolution via `IvyScala` instance on `moduleSetting` passed in to create `IvySbt#Module`. Using this we probably could transform the exclusion rules, which feels a bit evil. Maybe it's better to use `GroupArtifactID` ("org" %% "name").

[2014-08-09 10:10] fommil opened #1519 "javac is not respecting the JAVA_HOME and javaHome"
related to
- https://github.com/sbt/sbt/issues/510
- https://github.com/paulp/sbt-extras/issues/83

When sbt is started with a specific version of JAVA_HOME, the `javac` is still picked up by PATH rather than `JAVA_HOME/bin/javac`. This is both unexpected and can lead to bad binaries being built (e.g. java 7 classfiles produced in a java 6 project).

Global solutions as proposed in #510 are non us

[2014-08-09 22:31] #1398 closed, assigned to jsuereth

[2014-08-11 11:51] #528 closed, assigned to eed3si9n

[2014-08-12 00:46] paulp commented on #1439
@fommil Your report was not understood. Josh is referring to some precompiled jars of trivial size. You are talking about it downloading scala-compiler 2.10.2, 2.10.3, 2.10.4, scala-reflect 2.10.0, 2.10.2, 2.10.4, and so on, which is indeed what it does if you have a couple plugins.

Good news, I convinced sbt not to do that. With the following in project/plugins.sbt, it only downloads 2.10.4 scal

[2014-08-12 01:55] jsuereth commented on #1439
@paulp This has some a lot of merit.  With the exclusion rule optimisations @eed3si9n has recently added, it may even dramatically improve resolution performance for plugins.  I may even be more aggressive and alter the rule to be `ExclusionRule("org.scala-sbt")` and see if the ivy tower collapses.

NOTE: Edited org.scala-lang => org.scala-sbt

[2014-08-12 01:58] paulp commented on #1439
Isn't `ExclusionRule("org.scala-lang")` what I posted?

[2014-08-12 01:59] jsuereth commented on #1439
@fommil Also, with regards to downloading those libraries, ivy will downloads all ivy.xml/pom.xml files during resolution.  This isn't supposed to include JARs, but who knows what happens. I spent 2 days inside the cache implementation and I'm not sure I trust it.  In any case, Paul's solution has a lot of merit to help with the situation.

@paulp In terms of Precompiled, sbt will ALWAYS resolve t

[2014-08-12 02:06] paulp commented on #1439
Right, it's just that the full jars are 250K. Compared to the 14+ MB per scala-compiler jar, it's not significant.

[code]

[2014-08-12 02:10] jsuereth commented on #1439
@paulp hmm, it's not pulling in the full scala-compiler as well?  AFAIK our ivy config, it should be doing that too (which we'd also need to fix).  i..e I see this as two issues:
1. Precompiled jars require downloading a full scala compiler jar
2. Sbt plugins tag along the scala version they were defined with.

I think we can mitigate both of these if not negate them completely.

[2014-08-12 02:42] paulp commented on #1439
Nope, it's not downloading any compiler but 2.10.4. Here's the complete list of what's downloaded from a cold start (this is easy to reproduce with my-sbt -no-share) sorted by size. This is with the plugins.sbt posted above, but that shouldn't be especially relevant to the contents of this list.

[code]

[2014-08-12 02:44] jsuereth commented on #1439
Ah, that's good to hear. I need look into the hackery used for the precompiler jars more it seems...

[2014-08-12 06:47] fommil commented on #1439
That's great! The precompiled binaries are a pain also, especially since their classifiers can never  be resolved, it results in errors anytime updateClassifiers is called (on an SBT plugin)

[2014-08-12 06:48] milessabin commented on #1439
Thanks @paulp ... that appears to be working for me.

[2014-08-12 12:19] gkossakowski opened #1522 "Incremental compiler is not multiprocess-safe"
It's common that users run multiple instances of incremental compiler that all try to write to the same target directory. It might because they have two sbt processes running alongside. Another common scenario is that people have both sbt and Scala IDE running with the same project loaded.

At the moment incremental compiler has no built-in support for detecting access races to target directory. T

[2014-08-12 12:22] gkossakowski commented on #1184
I created a separate issue for tracking the problem of incremental compiler not being multiprocess safe, see #1522.

I'm closing this one with resolution that's not a bug in incremental compiler or name hashing specifically.

[2014-08-12 12:22] #1184 closed, assigned to gkossakowski

[2014-08-12 13:11] gkossakowski opened #1523 "Sbt can't build with Scala 2.11"
The workaround implemented in #1509 breaks sbt build with Scala 2.11. The failure is:

[code]

The work-around is being broken by scala/scala#3820 and scala/scala#3868.

We could make the `CompilationUnit.errror` method non-final but that would just obfuscate the fact that the work-around from #1509 is not working anymore. Compiler internals do not call `CompilationUnit.error` anymore so overridin

[2014-08-12 14:14] jsuereth commented on #1465
The code in interest: https://github.com/sbt/sbt/blob/0.13/main/actions/src/main/scala/sbt/compiler/Eval.scala#L116-L118

[2014-08-12 15:12] #1455 closed, assigned to jsuereth

[2014-08-12 16:35] jsuereth opened #1524 "Sbt leaks setting clases in project/target/config-classes"
This directory is NEVER cleaned properly and can grow quite large.

Particularly, it's a problem when these files accumulate over time, as classloaders generally slow down by # of files in their URLs.

[2014-08-12 18:55] #1506 closed, assigned to nobody

[2014-08-12 22:57] eed3si9n commented on #1484
0.13.6-M2 is out

[2014-08-12 23:29] gkossakowski commented on #1523
Some quality time spent with debugger resulted in https://issues.scala-lang.org/browse/SI-8794

We'll be able to replace workaround from #1509 with proper fix that propagates current unit to all necessary places.

[2014-08-13 02:17] eed3si9n opened #1527 "Meta build resolves to unused Scala 2.10.2"
## steps
1. Use sbt 0.13.5 with the following plugins:

`project/plugins.sbt`:

[code]

`build.sbt`:

[code]

Run:

[code]
## problem

The meta build resolves to Scala 2.10.2 and downloads it.
## expectation

The meta build uses Scala 2.10.4 (or which ever Scala version the sbt 0.13.x uses)

[2014-08-13 02:32] eed3si9n commented on #1527
The workaround I posted in #1494:

[code]

This seems to be working for me on sbt 0.13.5:

[code]

[code]

/cc @paulp

[2014-08-13 03:01] paulp commented on #1527
I might have been misled by the ongoing appearance of these artifacts, for which there are 2.10.4 versions. I realize that depending on the 2.10.4 library will not "back-propagate" the version to these, but in the haze of ivy output I must have seen the compiler jar everywhere.

[code]

[2014-08-13 03:03] paulp commented on #1527
I also might have scoped it to "scala-tool", foolishly it seems.

[2014-08-13 07:41] hamnis commented on #1322
Author of aether-deploy plugin here. I have never had any problem with any httpclient version with 0.13. I have used the plugin on every project the last year, and never run into any dependency problem there. This seems like a combination of plugins that has not been tested.

I would suggest giving it a go, and ping me back if I need to fix something.

Another thing: Aether plugin only depends on

[2014-08-13 13:53] fkoehler commented on #413
It is faster for us if you are in the same SBT session but not when started directly from the console.
Running `sbt update` from the console always does:

[code]

Being in a running SBT session I get

[code]

afterwards which gives me a 6 second speed up after the first run. Pretty cool.

Is that expected behaviour or should we also get that speed with a fresh SBT boot?

[2014-08-13 14:56] jsuereth commented on #413
@fkoehler That's expected behavior.  The second run we can completely skip resolution because the in-memory cache finds the previous resolved values.

Additonally, running update directly, ever, forces the FIRST cache to be ignored, which means you hit ivy.  What you're seeing now is the inter-project resolution cache where we try to force ivy to share resolution graphs between things.

@eed3si9n

[2014-08-13 18:05] UnsungHero97 opened #1528 "InvalidClassException with sbt.testing.TestSelector"
It looks like some files in sbt.testing that implement `Serializable` are not providing `serialVersionUID`, and I'm seeing an exception when running `play test`.

[code]

I'm under the impression that any class that implements Serializable should add a serialVersionUID. Is this something that can be added?

[2014-08-13 18:13] jsuereth commented on #1528
It's true they should specify serialVersionUID (I think they don't), but I'm more concerned ove rhow you got to a place where the classes do not line up.

Is the TestSelector from a `build.sbt` or `set` command?

[2014-08-13 19:05] UnsungHero97 commented on #1528
@jsuereth... this is an interesting case, and @eed3si9n can provide a little more detail since he's aware of my situation, but I'll try to clarify...

I'm using PowerMock in conjunction with Mockito for a test suite I'm working on. The problem happens when I run `play test`, but I do not know who actually calls `TestSelector`. A thing to note is that I've configured PowerMock to use its own Java a

[2014-08-13 19:28] jsuereth commented on #1528
Is there a way to get PowerMock to NOT touch sbt's java agent?  If not, we can look at an alternative.

It is not required for us to force  a specific serial version UID onto serializable classes.   So, I'm ok adding this (sort of, as the ID denotes a lot of compatibility things we'll have to take into account that we've been able to ignore by not having one), but I'd also say that PowerMock has a

[2014-08-13 19:33] UnsungHero97 commented on #1528
Yes, I agree. I also think PowerMock has a bug, and I'm trying to follow up with them (Johan Haleby) to brainstorm a solution for globally ignoring certain classes. As far as I know, however, I don't think there is a way to get PowerMock to not interfere with SBT.

[2014-08-13 21:06] raboof commented on #1445
Created https://github.com/sbt/sbt-launcher-package/pull/69

[2014-08-13 21:29] paulp opened #1530 "NPE in FileExamples"
If I start sbt in /tmp and then hit tab, it goes boom. Doesn't happen if it has a char to work with.

[code]

[2014-08-13 22:03] dwijnand commented on #1413
Some info from the jline trace log (`-Djline.internal.Log.trace=true`)- after hitting Esc+d/Alt+d:

[code]

[2014-08-13 22:04] dwijnand commented on #1413
Oh, forgot the most important part: it looks like an infinite loop (note the `Running: [sh,-c,stty -a < /dev/tty]` repetition)

[2014-08-13 23:53] UnsungHero97 commented on #1528
I've posted to PowerMock's Google group to try and get some attention around this issue... https://groups.google.com/forum/#!topic/powermock/aDMNvuOI1bE

[2014-08-14 00:33] benhutchison commented on #1257
I think there is a real, non-windows-specific problem here which has been missed. I am seeing much the same behavior on Mac OSX.

To me, the root problem is that, when I fork a run process from SBT, and try to readLine input in that process, I get back null. Seems to happen with JLine ConsoleReader and stdin. Which signals a closed input stream. In turn, this makes it difficult to communicate with

[2014-08-14 01:45] eed3si9n commented on #1530
Thanks for the report.
Note to self: #1236

[2014-08-14 05:19] eed3si9n commented on #1484
More NPE. This time it's in the callers.
https://gist.github.com/eed3si9n/9e65a137c9ea201cb67f

[2014-08-14 13:52] #1523 closed, assigned to nobody

[2014-08-14 18:21] eed3si9n commented on #1527
Closing as duplicate of #1439.

[2014-08-14 18:21] #1527 closed, assigned to nobody

[2014-08-14 21:48] #1465 closed, assigned to nobody

[2014-08-14 21:48] #1524 closed, assigned to jsuereth

[2014-08-16 18:39] #1484 closed, assigned to eed3si9n

[2014-08-16 18:42] #1530 closed, assigned to nobody

[2014-08-16 21:11] #670 closed, assigned to nobody

[2014-08-16 22:29] eed3si9n commented on #987
I cannot reproduce this bug. To avoid any cache contamination, I've added the following:

[code]

This creates a fresh directory for ivy cache. Also I added `project/build.properties`:

[code]

The generated ivy-0.6.1.xml is uploaded [here](https://gist.github.com/eed3si9n/26ebc4aca0b7b6f3ff44):

[code]

compile ran successfully.

Your analysis that sbt being more strict than Ivy (or older version

[2014-08-16 22:29] #987 closed, assigned to nobody

[2014-08-18 10:42] not3 commented on #1117
I also upgrade Play 2.0.x to Play 2.3.x(typesafe-activator), and suffer the issue. I tried to analyze the issue.(I'm on ArchLinux like, installing sbt).
1. remove the .ivy2 and .sbt in ${user.home} and type sbt. The launcher download the all artifacts correctly from maven central and typesafe repository. So, sbt and ivy cache used by play 2.0.x is conficted whith those cache userd by play 2.3.x.
2

[2014-08-18 15:41] jrudolph opened #1541 "HTTPS: Change default repositories to use HTTPS"
## summary
- Maven Central from launcher #1548
- Maven Central from sbt #1494
- Typesafe repo from launcher #1536/#1548
- Java.net Maven 1 repo from sbt (There's no HTTPS alternative) #1548/#1549
- Java.net Maven 2 repo from sbt #1548/#1549
- Typesafe repo from sbt #1548
- (Pending) scala-sbt.org repo from sbt #1555
## original report

See http://blog.ontoillogical.com/blog/2014/07/28/how-to-take-

[2014-08-18 15:50] eed3si9n commented on #1541
0.13.6 will use HTTPS by default for Maven Central (#1494). There's an ongoing effort to support HTTPS for other repositories repo.typesafe.com and repo.scala-sbt.org.

[2014-08-18 15:57] jrudolph commented on #1541
Thanks, I missed that one.

Is the launcher already using https as well? It seems that in https://github.com/rtyley/sbt/blob/c5704d03c1e0648bed999dbccd8b8f4191518a32/launch/src/main/scala/xsbt/boot/Update.scala#L317 it is still using the predefined URL in ivy for the `mavenCentral` repository, isn't it?

[2014-08-18 16:04] eed3si9n commented on #1541
Yes, it looks that way. I guess we need another change that'll read `-Dsbt.repository.secure=true|false` and switch the launcher repo. PR is welcome :)

[2014-08-18 16:11] #1201 closed, assigned to nobody

[2014-08-19 09:39] jrudolph commented on #1541
Of course, there's the technical issue which can be solved by someone providing a fix. However, there's also the overarching issue where the sbt team needs to decide to if and how to make sbt more secure and takes responsibility to make sure that it really is.

It seems some part of the discussion has already taken place in the mentioned tickets. As we all know, the whole issue is not new at all,

[2014-08-20 17:00] havocp opened #1542 "compileReporter is ignored by java compiler"
Reading source, it looks to me like the reporter is not even passed to the java compile() method, only the Scala one. Errors don't get reported for Java. We want to display errors for both though in Activator without parsing logs. If we have to parse logs from javac, it would be better to do it in sbt and invoke the compileReporter, than to do it in a higher layer.

[2014-08-20 18:26] #1439 closed, assigned to nobody

[2014-08-21 10:45] gkossakowski opened #1543 "Name hashing: Members with constant types are not tracked"
Let's say we have:

[code]

and we'll change `A.scala` so it looks like this:

[code]

then name hashing won't trigger recompilation of B and won't realize there's a compilation error. The reason is that `A.x` has a constant type inferred. When we refer to it from B, we get the constant inlined by Scala's type checker and any trace that there was dependency on `A.x` is gone.

The fix for this issu

[2014-08-21 11:20] gkossakowski opened #1544 "Name hashing: StackOverflow with macros"
I found another instance of problem reported in #1237. If you enable name hashing in sbt's `source-dependencies/macro` scripted test then you get:

[code]

[2014-08-21 11:20] gkossakowski commented on #1544
//cc @Duhemm

[2014-08-21 12:48] gildegoma commented on #1439
Beside working on the introduction of a Nexus proxy, the Travis team will soon ship new VM images.

As a faster workaround to this issue, I'd like to pre-install these "2.10.2" jars (see https://github.com/travis-ci/travis-cookbooks/pull/362)

I can upload the resulting `.ivy2` cache to a dropbox so you can inspect it. Here a little excerpt of the biggest jars:

[code]

Compared to current VM imag

[2014-08-21 17:01] eed3si9n commented on #1439
@gildegoma Thanks a lot for working on this. Does preloaded cache include all other text files like `.xml`, `.xml.original`, and `.properties` file?

[2014-08-21 17:04] paulp commented on #1439
@gildegoma If you want to compare with what I'm using, here it is:  https://www.dropbox.com/s/zorqzskm17f4dgy/cache.tar.gz

I recommend all those files for inclusion (plus the 2.10.2 version of all the 2.10.4 files - I didn't need them personally since I've applied the sbt fix which limits it to 2.10.4.)

[2014-08-21 17:11] fommil commented on #1439
great! I recommend these files plus whatever else gets put into `~/.ivy2` after running `sbt compile` (0.13.5) on a basic scala 2.9.2, 2.9.3, 2.10.4 and 2.11.2 project. That will then pull in everything that sbt expects and the remaining downloading/resolving can be entirely project specific.

[2014-08-21 18:38] gildegoma commented on #1439
Thanks everyone for the fast feedbacks!

@eed3si9n No worries, all these `.xml`, `.xml.original`, and `.properties` files are included.

@paulp I've compared, and here are the directories from your cache tarball that wouldn't be included in Travis VM image (in Kbytes):

[code]

Do you see any problem if these parts are not preinstalled ?

@fommil wrote:

So as workaround, I [added to 2.10.2](https

[2014-08-21 18:42] paulp commented on #1439
No, those are mostly the transitive dependencies of sbt-pgp. But it's not going to be a problem regardless of what's included, because it's only optimization except for the 2.10.2-related breakage.

[2014-08-21 18:50] fommil commented on #1439
@gildegoma there are two issues here. One is dealing with the extreme situation of 2.10.2 being removed from central, the other is concerned with ensuring that all the deps of `sbt` are available on all nodes (which means effectively everybody with a `scala` build). My request is to oblige the latter, but it looks like you're pretty much doing this by the sounds of it.

And actually 2.9.2 would be

[2014-08-21 21:31] gkossakowski opened #1545 "Name hashing: Methods with structural types in their signatures are not supported"
Let's assume we have the following code structure:

[code]

Now, if we change `A.scala` to be

[code]

then `C.scala` should get recompiled and error reported that `A` does not longer conform to structural type in `onX` method. However, the name hashing won't trigger recompilation f `C.scala` because only `x` name has been changed in `A.scala` and `x` is nowhere mentioned in `C.scala`.

This a lim

[2014-08-22 06:08] gildegoma commented on #1439
@paulp @fommil Thanks again!
- **`sbt` dependencies:** So far, the Travis VM images are built with the deps of the two last patch versions of the latest release and the last patch version of the precedent release. Upcoming VM image will contain following sbt deps:
  - 0.13.5 -> scala-2.10.4
  - 0.13.2 -> scala-2.10.3
  - 0.12.4 -> scala-2.9.2
- **binary compatibility:** As a side effect of the poi

[2014-08-22 08:19] eed3si9n commented on #1275
sbt/sbt@5486daf7006462be13b82d6ae225e816f038c9ff fixed this issue in 0.13.5.

[2014-08-22 08:19] #1275 closed, assigned to nobody

[2014-08-22 08:29] fommil commented on #1439
:grinning:

[2014-08-22 14:26] benmccann opened #1549 "HTTPS: Change insecure URL to java.net repository"
In Resolver.scala, an insecure http Maven repo is added for java.net. [We recently changed Maven central and the Typesafe repo to use https](https://github.com/sbt/sbt/blob/0.13/notes/0.13.6.md) and I think that change should be made for any repository included in sbt by default or else we should deprecate that repository and let end users include it themselves if they really want. [Java.net suppo

[2014-08-22 21:10] eed3si9n opened #1550 "Fix build that's failing due to name hashing flag"
Some tests are failing after merging #1546. See https://travis-ci.org/sbt/sbt/builds/33265884
- actions / join
- compiler-project / inc-ant-style
- source-dependencies / compactify

[2014-08-22 22:07] eed3si9n commented on #1496
Suspect is Ivy.scala's [`mergeDuplicateDefinitions`](https://github.com/sbt/sbt/blob/fc504d87d73856526374a0f1b9d8768e45bf81d9/ivy/src/main/scala/sbt/Ivy.scala#L728-L756) that was added in sbt/sbt@74c07c64a78447274be47804a6f5f5019c571dab, which lists #468 and #285.

[2014-08-23 08:26] eed3si9n opened #1552 "SNAPSHOT won't work offline"
## steps

project/build.properties

[code]

project/plugins.sbt

[code]

build.sbt

[code]

Publish sbt 0.13.6-SNAPSHOT locally then copy the cache.

[code]
## problem

[code]
## expectation

If the module is in the cache it should use it, but only as a fallback.

[2014-08-23 09:35] eed3si9n commented on #1552
Local snapshots don't seem to be cached. Need to find another example. (Not sure how much of this is going to be useful: https://gist.github.com/eed3si9n/d79971be70fbaf56085b)

[2014-08-23 18:36] #1550 closed, assigned to eed3si9n

[2014-08-23 21:38] eed3si9n opened #1553 "Name hashing: Compactify test is failing"
On travis compactify test is failing, but I can't reproduce it on Mac. See https://travis-ci.org/sbt/sbt/builds/33347269 > https://travis-ci.org/sbt/sbt/jobs/33347284:

[code]

[2014-08-24 03:32] #1549 closed, assigned to nobody

[2014-08-24 21:07] eed3si9n commented on #1541
I'd like to limit the scope of this Github issue to just the first bullet point targeting the next sbt release 0.13.6.
- make sure that all repositories predefined by sbt are accessed using HTTPS

For more broader solutions, we should discuss with the community on sbt-dev list on what sbt project should do.

[2014-08-25 16:21] #1541 closed, assigned to nobody

[2014-08-26 02:39] yanns commented on #590
For info, the issue in ivy: https://issues.apache.org/jira/browse/IVY-1011

[2014-08-26 11:38] gkossakowski commented on #1553
Hi @eed3si9n. I can't see how name hashing could cause that test to fail. My suspicion is that Travis CI has changed something in the environment and file system doesn't allow for long file names anymore. I verify that hypothesis in #1556.

[2014-08-26 20:10] OlegYch commented on #1484
using 0.13.6-RC2

[code]

the com#cache;2.7.0-SNAPSHOT dep comes transitively from a dependsOn ProjectRef(file("../offer-server"), "offer-core") and is defined as a project in that build
will try to come up with a minimized sample if you need it

[2014-08-26 20:15] eed3si9n commented on #1484
@OlegYch This is an NPE during resolution time, so it appears to be a different bug that the others that was happening during cache save time. Could you open a new issue on this? And a minimized example would be really helpful.

[2014-08-27 15:37] jsuereth commented on #1442
As mentioned in the email thread, I think this is a documentation issue with a previous fix.

You want:

[code]

And it should start working.

[2014-08-27 18:18] #1553 closed, assigned to nobody

[2014-08-27 22:44] mosesn commented on #1518
:+1: exclude is very difficult to use against scala jars right now, this would be a significant improvement.

[2014-08-27 23:49] jsuereth commented on #1552
This is expected Ivy behavior.   The local repository keeps the files in ~/.ivy2/local.

You may be able to override the default Ivy behavior here, but it's been that way for a long time.

[2014-08-28 10:15] ppurang commented on #1442
Yes, that works.

[2014-08-28 16:03] paulp opened #1558 "building dirties the git repository"
That's really bad practice.

[code]

[2014-08-28 16:11] jsuereth commented on #1558
I agree.  We've been debating droping/changing our conscript support for a while.  Basically, anything that requires a production configuration file in our local dev github repo is not a great solution.

I may reach out to the conscript guys before dropping support, but this has been on my TODO list for a bit, along with avoiding merge conflicts EVERYTIME someone goes to touch release notes docume

[2014-08-29 19:31] SethTisue commented on #1271
hi, triage squad here. if the bug has gone unreproduced/unreproducible this long, it should probably be closed? it could be always reopened if anyone appears with a reproduction

[2014-08-31 06:21] ezh opened #1559 "java.io.EOFException in sbt.Sync with compile:copyResources"
I have multi project with 11 subprojects. Also I have plugin that put additional `copyResourcesTask` per subproject. So `compile` task at root invoke 22 copyResources tasks and some of them run in parallel. There is a sporadically:

[code]

 It is frequent and very annoying.

I attached debugger to SBT process and intercept EOFException. Sync file was absent. So I am sure that `java.util.zip.GZIPI

[2014-08-31 13:10] OlegYch opened #1560 "npe with 0.13.6-RC2"
[code]

the com#cache;2.7.0-SNAPSHOT dep comes transitively from a dependsOn ProjectRef(file("../offer-server"), "offer-core") and is defined as a project in that build
will try to come up with a minimized sample if you need it

i've been trying to minimize it but it suddenly stopped reproducing (both in my original project and in in my attempts to minimize it)
so if you have any clues of what mig

[2014-08-31 13:10] OlegYch commented on #1484
created #1560

[2014-09-01 07:11] mauhiz opened #1562 "Infinite loop when typing !!!!"
So I had this console where I usually type `!!` (previous command)... then typed `!!` again (that makes 4 of them).. and SBT started an infinite loop of displaying `!!!!`

Crazy !!!! See #1562 for recursion issues.

Also, there was no breaking out of it short of killing the console.

(sbt 0.13.5 on Windows 7 console)

[2014-09-01 12:25] jrudolph commented on #1541
:+1: Thanks, Eugene, LGTM AFAICS.

[2014-09-01 16:12] onsails commented on #653
I am facing the same issue with sbt 0.13.5 and specs2. If I set `fork in Test` to false problem dissapears.

[2014-09-02 09:20] pkolaczk opened #1564 "SBT does not replace SNAPSHOT with a date when publishing"
When I publish SNAPSHOT artifacts locally to .m2 or remote maven repository, SBT publishes them as `<artifact-name>-<version>-SNAPSHOT`. Then maven cannot find them, because it expects a timestamp instead of a SNAPSHOT. They should be published as `<artifact-name>-<version>-<timestamp>`.

SBT 0.13.5.

Any workaround to get the original "maven-like" behavior?

I do have `publishMavenStyle := true`.

[2014-09-02 12:58] jsuereth commented on #1564
I think this is a limitation in Ivy, what we use for dependency resolution.   As a workaround, I'd try the sbt-aether-deploy plugin.

[2014-09-02 13:51] OlegYch commented on #1560
ok i could reproduce it again and i see that it is caused by useLatestSnaphots setting
for some reason local projects are now updated through resolvers and that project is published in one of resolvers and the pom doesn't not specify publication date
no idea why there is no publication date, the artifact is published from sbt with default settings

[2014-09-02 16:05] OlegYch opened #1565 "0.13.6-RC2 incorrect caching of update results"
[code]

[2014-09-02 17:28] OlegYch opened #1566 "sbt-typelevel plugin causes wrong build classpath"
[code]

[2014-09-02 21:05] fommil opened #1567 "RFE: ignore web caching"
As discussed in http://stackoverflow.com/questions/25624218 it is sometimes necessary (e.g. dodgy corporate proxies) to request uncached files when downloading from a repository.

(This is not about the local cache)

[2014-09-03 00:42] jsuereth commented on #1567
Related, I think we actually need to redo the entire Ivy URL hook mechanism so we have full control over the solution.   I.e. Ivy alters its resolution mechanism if a plugin puts commons-httpclient 3.x on the classpath.

@fommil FYI - @eed3si9n has the beginnings of an ivy rewrite started.   It's not clear how far this will go, or whether Ivy can be salvaged, but if you find other caching concerns

[2014-09-03 01:59] antonkulaga opened #1568 "13.6-RC2 does not build my lib"
Sbt 0.13.5 build my app ( https://github.com/scalax/semweb/tree/3c455a9c88f889110e61dbc2de0ba2d51ab9a7bc ) perfectly fine. But when I change sbt version to 0.13.6-RC2 and run 'sbt" I get the following:

Java HotSpot(TM) 64-Bit Server VM warning: ignoring option MaxPermSize=256m; support was removed in 8.0
[info] Loading project definition from /home/antonkulaga/learn/semweb/project
[info] Updating

[2014-09-03 06:02] nafg commented on #1439
If the 2.10.2 jar is never used, why bother prepopulating it via dropbox etc. -- can't you just `touch` the right files so sbt will think it's been downloaded already?

[2014-09-03 08:21] fommil commented on #1439
sha/md5

[2014-09-03 09:45] nafg commented on #1439
Could that also be faked?

[2014-09-03 09:48] fommil commented on #1439
sure: if you want to become the world's most awesome code breaker

[2014-09-03 09:50] nafg commented on #1439
My point is, can I pre-populate travis with some dummy files so it doesn't bother downloading 2.10.2 which I'm not going to use?

[2014-09-03 13:03] jsuereth commented on #1568
Can you give us some more information, particularly:
1.  Are you running IntelliJ/Eclipse/Activator AND sbt at the same time, or otherwise running more than one terminal?
2. If you delete the contents of `project/target` do you still see the issue?

Note:  The error you see above happens frequently if Intellij is trying to compile an sbt project at the same time sbt does.   One of the two will del

[2014-09-03 15:50] dragos opened #1569 "APIPhase does not report progress (and is not cancellable)"
`CompileProgress` allows clients to report progress and _cancel_ a running compilation. The Scala compiler refreshes progress on every compilation unit/phase transition, and the logic is implemented in `GlobalPhase`. Unfortunately, `APIPhase` (which is slow enough, tens of seconds on my project) does not extend `GlobalPhase`, but directly `Phase`. The end result is that when users press the cancel

[2014-09-03 16:39] copumpkin opened #1570 "Support publishing to file repositories specified in ~/.sbt/repositories"
As far as I can tell, this is impossible right now. I posted a question to SO detailing what I'm doing and how it fails: http://stackoverflow.com/questions/25573489/publishing-an-sbt-artifact-to-the-filesystem-with-resolver-specified-in-sbt

It looks like the `repositories` file parsing happens here:

https://github.com/sbt/sbt/blob/9c442d3aed53bdc89db1ada9d5b204bf02adb339/launch/src/main/scala/xs

[2014-09-03 16:41] copumpkin commented on #1570
There's a chance this causes http://stackoverflow.com/questions/25428309/sbt-ivy-failing-to-resolve-wildcard-ivy-dependencies-on-a-filesystem-resolver as well.

[2014-09-03 20:12] copumpkin commented on #1570
I think the issue arises from [this line](https://github.com/sbt/sbt/blob/b202bd684839c37300dcee07b3eb78f16a0f8d5c/main/src/main/scala/sbt/Defaults.scala#L1658), which unconditionally makes a `Resolver.url` out of an `xsbti.IvyRepository`, even if the URL scheme is file-based. One solution would be to branch on the "protocol" of the URL and call `Resolver.file` when appropriate. I can make a PR fo

[2014-09-03 20:16] copumpkin commented on #1570
An alternative would be to change `Resolver.url` to do the branching. But then we'd have to change the return type to be more general, since it wouldn't necessarily return a `URLRepository`.

[2014-09-03 20:21] jsuereth commented on #1570
To be honest, I want to just rip out the whole <insert word here> resolver mechanism of Ivy and redo it, as it's a bit broken to say the least.

HOWEVER, in my rational moments, I'd say the change you suggest to the launcher is the right call.  You _may_ want to also fix this line:  https://github.com/sbt/sbt/blob/b202bd684839c37300dcee07b3eb78f16a0f8d5c/launch/src/main/scala/xsbt/boot/Update.scal

[2014-09-03 20:57] antonkulaga commented on #1568
I deleted the target and ran it from console (without opening in IDE and with only one terminal for this project). Same error.

[2014-09-03 20:57] copumpkin commented on #1570
I'd support that :smile:

Anyway, I can make the change later today. Is it too late for 0.13.6?

[2014-09-03 21:43] fommil opened #1571 "improve logging when incompatible Java classes are encountered"
SBT doesn't output any meaningful error message when there is a java version incompatibility. It would be useful if it output the offending source/classfile.

What follows is my original report and serves as an example of how confusing the current logging is, and the steps one may sensibly take whilst getting nowhere. The problem turned out to be due to the inclusion of Lucene, which is compiled f