[2019-09-05 18:12] eed3si9n commented on #5036
@eatkins sure. if you could email me the wording, and I'll edit the blog.

[2019-09-05 18:49] eed3si9n opened #5040 "conflict with sbt-coursier"
## steps

Use sbt-coursier

## problem

There's been multiple reports on sbt 1.3.0 not working with sbt-coursier such as https://twitter.com/jaceklaskowski/status/1169296407733444609.

## expectation

We use the shaded version of Coursier specifically so that we can coexist with sbt-coursier or any plugin that pulls in Coursier.

[2019-09-05 19:10] pshirshov commented on #4958
Related: https://github.com/xerial/sbt-sonatype/issues/83

[2019-09-05 19:15] eatkins commented on #4970
@OlegYch is this fixed in 1.3.0?

[2019-09-05 19:27] OlegYch commented on #4970
Can't do much testing right now, but it seems so. I think you can close.On Sep 5, 2019 22:15, Ethan Atkins <notifications@github.com> wrote:@OlegYch is this fixed in 1.3.0?

—You are receiving this because you were mentioned.Reply to this email directly, view it on GitHub, or mute the thread.

[2019-09-05 23:10] eatkins commented on #4970
Ok. Closing for now. Feel free to re-open if it crops up again.

[2019-09-05 23:10] #4970 closed, assigned to nobody

[2019-09-06 00:28] Atry opened #5043 "Regression: Sbt 1.3.0 + Scala.js + Scala 2.13 + JUnit does not compile"
## steps
sbt version: 1.3.0
[code]

## problem

[code]

## expectation

It should compile

## notes

### Related source code
https://github.com/Atry/sde/blob/2f2b59c10d1bc111ae6f7c94bfa17455ed1e1c3d/core/src/test/scala/com/thoughtworks/sde/core/MonadicFactoryTest.scala#L13

### Workaround
[code]

[2019-09-06 02:29] eatkins opened #5044 "GC thrashing can cause silent hangs"
This is more of a feature idea than an issue. Sometimes sbt will become unresponsive because it's stuck in a full GC loop. I've been thinking of adding a GC monitor that will print warnings to the console if sbt is spending a lot of time in GC. The JDK provides tools that should make this relatively straightforward.

[2019-09-06 02:56] eatkins opened #5045 "sbt sets -XX:+UseParallelGC for jdk >= 9"
The launcher script explicitly sets `-XX:+UseParallelGC` for jdk greater than 9. This isn't a great default because while the peak throughput is somewhat better than the default g1 collector, the worst case performance is better with g1 -- especially with large heaps. It makes sense to set the conservative default and lets users explicitly set parallel gc if they want maximum throughput. In my exp

[2019-09-06 03:07] jxtps opened #5046 "URISyntaxException downloading managed dependency due to unresolved ${project.packaging}"
## steps
sbt version: 1.3.0
windows 10
java version "1.8.0_162"
Java(TM) SE Runtime Environment (build 1.8.0_162-b12)
Java HotSpot(TM) 64-Bit Server VM (build 25.162-b12, mixed mode)

Create build.sbt with a single line in it:
[code]
Execute `sbt run` and get a long stack trace:
[code]

## problem
SBT fails to download a dependency due to an incorrectly formatted URL: `https://repo1.maven.org/mave

[2019-09-06 03:12] eed3si9n commented on #5046
@jxtps Thanks for the report!

[2019-09-06 03:13] eed3si9n commented on #5043
@Atry Thanks for the report!

[2019-09-06 03:45] #5031 closed, assigned to nobody

[2019-09-06 05:32] plokhotnyuk commented on #5045
It would be better to increase young gen part of the heap, metaspace and compiled code cache sizes then keep working hard to reduce allocations and use best technologies/algorithms instead of switching to GCs which trade offs better latency by reducing throughput.

[2019-09-06 06:28] eatkins commented on #5045
@plokhotnyuk I respectfully disagree completely.

[2019-09-06 06:41] plokhotnyuk commented on #5045
@eatkins could you peek a couple of projects, tune them for shorter build time by switching to G1 GC and share results with steps to reproduce?

[2019-09-06 06:51] Krever commented on #4852
Do we have any workaround that allows to keep using coursier? Like specifying credentials in some specific way?

[2019-09-06 07:05] dwijnand commented on #4958
Thanks @pshirshov for bringing attention to this!

For the thread: see https://github.com/xerial/sbt-sonatype/issues/89 where "bundle upload" support was added to sbt-sonatype 3.1+

(Eventually, we should move this behaviour into sbt, IMO, perhaps for sbt 1.4.)

[2019-09-06 08:02] francisdb commented on #4878
I guess this is only needed if your plugins fail to resolve with coursier? like #4852
Then this can be closed as it `works as intended`

[2019-09-06 08:09] yamachu opened #5047 "[1.3.0] file watch is failing; java.lang.UnsatisfiedLinkError: Expecting an absolute path of the library: .sbt/swoval-jni/6351939062664717054-libswoval-files0.dylib"
## steps
sbt version: *1.3.0*
macOS 10.14.6
java version "1.8.0_201"
Java(TM) SE Runtime Environment (build 1.8.0_201-b09)
Java HotSpot(TM) 64-Bit Server VM (build 25.201-b09, mixed mode)

Running file watch (`~`) with setting relative path to `-Dsbt.global.base`

I often use this launcher and set path by using `-sbt-dir`
https://github.com/sbt/sbt-launcher-package

## problem

cannot use file wat

[2019-09-06 08:55] francisdb commented on #4852
@Krever a [pull request](https://github.com/coursier/coursier/pull/1350) that fixes this on the coursier side has been submitted at  so might be fixed soon in `1.3.1`

[2019-09-06 10:16] xuwei-k opened #5049 "[1.3.0] sbt plugin does not work with 1.2.8 if plugin build with 1.3.0"
## workaround by eed3si9n

[code]

## original report by xuwei-k

### steps

sbt version: 1.3.0

- https://travis-ci.org/xuwei-k/sbt-1.2.8-1.3.0-plugin-compatibility/builds/581604976
- https://github.com/xuwei-k/sbt-1.2.8-1.3.0-plugin-compatibility/commit/e4977ecccce91b5c878b0396cbce118300a54999

#### build.sbt

[code]

#### project/build.properties

[code]

#### src/main/scala/example/ExamplePlug

[2019-09-06 10:25] xuwei-k commented on #5049
workaround

[code]

[2019-09-06 11:57] kamilkloch opened #5050 "[1.3.0 Coursier] unresolved dependencies"
Sbt version: 1.3.0

### Problem:
[code]
sbt 1.3.0 with Coursier enabled fails to resolve some dependencies:
[code]
(If this helps, `.pom` file is not present, as it is an ivy, not maven repository).

Disabling Coursier (`ThisBuild / useCoursier := false`) solves the problem.

[2019-09-06 13:38] eed3si9n commented on #5049
@xuwei-k Thanks for the report!

Maybe it's ok for sbt to be backward compatible only?
This does mean we should be more careful adding stuff to package objects.

[2019-09-06 14:06] VillenaDeveloper commented on #3618
Thanks for this. Good workaround.

[2019-09-06 14:09] dwijnand commented on #5049
While the problem is unfortunate and super-subtle (nice detective work!) I think requiring sbt to be forward-compatible is too much to ask.  The way we allow that not to be a problem is by making each sbt update reasonably easy (in comparison to scala major updates, which require all your dependencies to be rebuilt).

[2019-09-06 14:10] dwijnand commented on #5049
On the other side, you can safeguard your plugin from these problems by specifically testing for target sbt versions, so `^^1.0.0 scripted`.

[2019-09-06 14:51] lespea opened #5051 "How do you use clearOnTrigger?"
## steps
sbt version: 1.3.0

## problem
The deprecation warning for clearWehnTriggered says to use watchTriggeredMessage && clearOnTrigger but this doesn't appear to be documented anywhere?  In fact the only place I can find clearOnTrigger in the code base is in the deprecation message.

I tried looking through the sbt site to find the new way to do this but couldn't find it.

## expectation
The n

[2019-09-06 14:52] SethTisue commented on #4887
should this ticket remain open?

[2019-09-06 15:20] unkarjedy opened #5052 "do not duplicate artifacts in `allJars` when creating `ScalaInstance`"
sbt 1.3.0

## problem
(I guess after migrating to Coursier)
`sbt update` output can contain duplicate artifacts with different configurations (e.g. "optional" and "default") in
```"configuration": { "name": "scala-tool" }```
sbt does not remove duplicates when creating `ScalaInstance`

## notes
relates to:
https://github.com/sbt/sbt/pull/3561
https://youtrack.jetbrains.com/issue/SCL-16208
https://

[2019-09-06 16:54] eed3si9n commented on #5045
When JDK 9 came out, it was considered more conservative to stay with `-XX:+UseParallelGC` because Scala compilation slowed down significantly under G1GC as reported in https://github.com/sbt/sbt/issues/3559.

Under JDK 11 and later G1GC has supposedly improved (http://mail.openjdk.java.net/pipermail/hotspot-gc-use/2018-June/002759.html), so I think getting back to not imposing opinions sounds goo

[2019-09-06 16:57] eed3si9n commented on #5050
@kamilkloch Thanks for the report.
Do you mind reporting this also to the upstream plz? (Coursier)

[2019-09-06 17:08] eatkins commented on #5051
Thanks for the report. This was an oversight. We'll fix the deprecation message and documentation for 1.3.1. In the mean time, what you want is `watchTriggeredMessage := Watch.clearScreenOnTrigger`.

[2019-09-06 17:37] eed3si9n commented on #4887
Now that 1.3.0 is out, I am happy to close this out.

[2019-09-06 17:37] #4887 closed, assigned to nobody

[2019-09-06 18:17] eatkins commented on #5049
Another way to guard against this is to pin the sbt version in your build, e.g.
[code]

[2019-09-06 18:19] eatkins commented on #5049
I wonder if it might make sense to add a way of configuring the sbt compatibility level of `SbtPlugin` so you'd do something like `enablePlugins(SbtPlugin.withCompatibility("1.0.4"))`

[2019-09-06 18:33] anilkumarmyla commented on #3618
This is fixed in sbt-1.3.0 unless you've opted out of coursier

[2019-09-06 18:52] eed3si9n commented on #3618
Confirmed using sbt 1.3.0:

[code]

[2019-09-06 18:52] #3618 closed, assigned to nobody

[2019-09-06 19:24] jsoref commented on #4852
@Krever: If you have a proxy that sits in front of **nexus** and can have it rewrite the `www-authenticate: BASIC realm="..."` header, that should work as a workaround.

I don't have the energy to do that today. We're using **nginx**, so I think we could simply (conditional on the presence of a first header) add a second `www-authenticate: Basic realm="Sonatype Nexus Repository Manager"` -- the **

[2019-09-06 19:36] eed3si9n commented on #4878
Closing this.

[2019-09-06 19:36] #4878 closed, assigned to nobody

[2019-09-06 19:46] eed3si9n commented on #5049
That's a nice workaround. Maybe in general we should rethink the idea of always using the sbt version used for the build as the plugin's dependency, and we should default to some old version from 1.1.x or `1.${current - 1}.x`.

[2019-09-06 19:56] eatkins commented on #5051
Thanks again for the report and apologies for the confusion. Closing with #5054 and https://github.com/sbt/website/pull/813.

[2019-09-06 19:56] #5051 closed, assigned to nobody

[2019-09-06 19:58] eed3si9n opened #5055 "Flaky dependency-management/cached-resolution-classifier"
## steps

PR validation runs scripted.

## problem

[code]

## expectation

## notes

Looks like Sonatype OSS returned Internal Server Error?

[2019-09-06 20:24] kamilkloch commented on #5050
@eed3si9n Please check if the Coursier issue https://github.com/coursier/coursier/issues/1351 is correct. Thanks!

[2019-09-06 20:31] Atry opened #5056 "Regression: skip does not work in sbt 1.3.0"
## steps
sbt version: 1.3.0

[code]

## problem

[code]

## expectation

No error

## notes

Related code: https://github.com/Atry/Dsl.scala-akka-actor/blob/a129a2d3fcfa62c9e054cfa9cc92bdbafb177991/dsl/domains/akka/actor/typed/js/js.sbt#L13

[code]

[2019-09-06 20:33] Atry commented on #5056
In Sbt 1.2.8, I use `skip := true` to skip a project, including dependency resolving, compiling, publishing. `skip := true` does not work in Sbt 1.3.0

[2019-09-06 21:01] eed3si9n commented on #4915
I am closing this due to inactivity, but if this is still relevant let us know.

[2019-09-06 21:06] blast-hardcheese opened #5057 "[1.3.0] Regression, consoleQuick is hopelessly broken"
## steps
sbt version: 1.3.0

- Launch `sbt` (as in the gif)
- Type `consoleQuick` (it does not matter if you type other things beforehand)

## problem

Unable to type in `consoleQuick`

## expectation

Ability to type in `consoleQuick`

## notes

This appears to be directly related to supershell, as `-Dsbt.supershell=false` makes consoleQuick work again.

![sbt-1 3 0](https://user-images.githubuse

[2019-09-06 21:10] eed3si9n commented on #789
Hopefully this was already fixed in https://github.com/sbt/sbt/pull/3672

[2019-09-06 21:10] #789 closed, assigned to nobody

[2019-09-06 21:15] lespea commented on #5051
Awesome thanks!

[2019-09-06 21:43] eed3si9n commented on #5057
@blast-hardcheese Thanks for the report!

[2019-09-06 22:05] dwijnand commented on #5049
I'm stating the obvious, but it might be a useful comparison: this would be like building an extension to akka-actor 2.5.23 and then someone complaining it doesn't work with akka-actor 2.5.15.  I think it's fine, but we could/should bring this to light, for existing plugin authors, and for future ones by adding to the plugin or scripted docs.

[2019-09-06 22:08] eatkins commented on #5049
I agree with that. The important distinction though is that the api is opaque about what version of sbt you’re targeting. I can empathize with what happened with the sonatype plugin because I easily would have made the same kind of mistake. I think better documentation would go a long way.

[2019-09-06 22:08] eed3si9n commented on #2251
For potential contributor. The relevant code might be:
- https://github.com/sbt/sbt/blob/develop/internal/util-complete/src/test/scala/sbt/complete/ParserWithExamplesTest.scala
- https://github.com/sbt/sbt/blob/develop/internal/util-complete/src/main/scala/sbt/internal/util/complete/Completions.scala
- https://github.com/sbt/sbt/blob/develop/internal/util-complete/src/main/scala/sbt/internal/util/

[2019-09-06 22:10] eatkins commented on #2251
I really like the idea but suspect it will be hard given my experience with the multi parser.

[2019-09-06 22:14] eed3si9n commented on #5049
I guess I am considering that we decouple two sbt's:
- the tool that plugin authors use to cobble plugins.
- the minimum version of sbt required by the said plugin.

Plugin authors are often the most advanced sbt users, so it would be unfortunate to tell them to stay in the oldest sbt 1.x possible to maximize their plugin's compatibility.

[2019-09-07 05:27] hvesalai commented on #4915
Well... I don't know that the problem has gone away. I just stopped using the library that caused the problem.

[2019-09-07 07:02] dwijnand commented on #5049
You can already do that with `sbtVersion in Global` (IIRC, I would need to check).

The notion of "minimum version" I think applies to situations where users are for some reason stuck on older versions.  I think that doesn't (or shouldn't) apply to sbt as it should strive to always be reasonably easy to upgrade.

[2019-09-07 12:42] smarter opened #5058 "Regression: error messages coming from Dotty are incorrectly reported"
1. git clone and start sbt in https://github.com/lampepfl/dotty-example-project
2. Run `compile` from sbt, observe a nice message:
[code]
3. Quit sbt, switch the version from 1.2.8 to 1.3.0 in build.properties, restart, run ;clean;compile, observe an ugly message (with off-by-ones in the line and column numbers!):
[code]

[2019-09-07 12:49] smarter commented on #5058
Relevant code probably maybe around here: https://github.com/sbt/zinc/blob/develop/internal/zinc-compile-core/src/main/scala/sbt/internal/inc/javac/DiagnosticsReporter.scala or maybe not, who knows.

[2019-09-07 19:14] eed3si9n commented on #5058
Not sure if this is it, but for scala verify ("cutest") I ported Sourcecode to Dotty and also noticed this.

In Scala 2.x the lineImpl looks like this:

https://github.com/scala/nanotest-strawman/blob/217e388f2f5255b56005e57263e8b8f856102929/shared/src/main/scala-2/verify/sourcecode/Macros.scala#L125-L129
[code]

whereas on Dotty it looks like this:

https://github.com/scala/nanotest-strawman/blob

[2019-09-07 19:43] smarter commented on #5058
That doesn't explain why sbt is not using the correct reporter.

[2019-09-07 20:18] eed3si9n commented on #5058
oh I see. I missed that the entire reporter is swapped out for some reason.

[2019-09-07 20:26] #5052 closed, assigned to nobody

[2019-09-08 04:27] rectcircle opened #5059 "I hope to support proxy repository http 302 instead of reporting an error."
I am a Chinese developer.Mainland China uses the official repository to download too slowly. Fortunately, a company(ali cloud) provides a proxy repository. But this repository uses the http 302 way of cdn, but sbt will report an error.

## My test steps

`./repositories`

[code]

`./coursier.sbt.plugin`

[code]

`./test.sh`

[code]

output

[code]

`~/.sbt/boot/update.log`

![image](https://user-i

[2019-09-08 05:06] eed3si9n commented on #5059
@rectcircle Thanks for the report.

It looks like the redirect is not handled by Apache Ivy used internal to the sbt launcher.
If someone wants to they could probably extend [BasicURLHandler](
https://github.com/sbt/ivy/blob/2.3.x-sbt/src/java/org/apache/ivy/util/url/BasicURLHandler.java) and add redirection logic to it like https://stackoverflow.com/questions/1884230/urlconnection-doesnt-follow-r

[2019-09-08 20:41] aappddeevv commented on #5058
I'm linking this to [https://github.com/lampepfl/dotty/issues/7071](https://github.com/lampepfl/dotty/issues/7071).

[2019-09-08 22:35] umang-malhotra commented on #2958
I had ran in the same issue.
And turns out in my case it got resolved by changing scalaVersion in build.sbt file from 2.11.11 to 2.11.12
I was having following configurations in my sbt project while getting into this issue
scalaVersion := "2.11.12" [in build.sbt file]
play version - "2.5.18" [in  plugins.sbt file]
sbt.version=0.13.18 [in build.properties file]

changin scalaVersion to "2.11.12" st

[2019-09-09 01:09] chakpongchung commented on #3128
please reopen this issue,I am reporting the same problem in sbt 1.3.0 @eed3si9n

[2019-09-09 01:36] hrj commented on #4724
@eed3si9n This still doesn't work, and doesn't have a milestone assigned to it. (Just an observation).

BTW, how can we disable this setting globally via global.sbt? I tried `SettingKey[Boolean]("supershell", "") := false` and variations thereof, but no luck.

[2019-09-09 01:45] eed3si9n commented on #4724
@hrj How are you running `sbt` (sbt-the-Bash/batch-script)? I'm on macOS, and using `sbt` from the latest Home Brew `sbt --supershell=false` works for me.

[2019-09-09 02:07] hrj commented on #4724
@eed3si9n Yes, I was using some older version of bash script + launcher on Linux. I updated to the latest one and the option seems to work fine. Thanks.

About the other question: How to disable the super-shell globally? I could modify the bash script but wondering if there is a more "official" option.

[2019-09-09 02:11] eed3si9n commented on #4724
[code]

might work if you don't want to define an environmental variable `SBT_OPTS`.

[2019-09-09 02:11] #4724 closed, assigned to nobody

[2019-09-09 02:29] jroper commented on #4870
A work around that I stumbled across for this is to put the value in parenthesis:

[code]

[2019-09-09 09:06] jrudolph commented on #4706
What's the state here? sbt 1.3.0 has been released but this regression has not been fixed. How can we make sure it will be fixed quickly? Until then, sbt-dependency-graph will be broken unless you disable coursier. E.g. it's one of the remaining headaches in updating the akka build to 1.3.0.

[2019-09-09 12:47] martijnhoekstra opened #5060 "watch/compile on dotty fails"
## steps

sbt version: 1.2.7

## problem

Running `~compile` in dotty fails when changes are detected with
[code]

## expectation

A successful attempt at compiling

## notes

[2019-09-09 14:43] martijnhoekstra commented on #5060
Can no longer reproduce, seems like it it was a temporary issue `¯\_(ツ)_/¯`

[2019-09-09 14:43] #5060 closed, assigned to nobody

[2019-09-09 16:28] eatkins opened #5061 "Build source monitoring is does not track sub/build.sbt files"
The new feature in sbt 1.3.0 that build sources are monitored and sbt can optionally reload the build when sources change doesn't work with nested projects.

[2019-09-09 16:30] eed3si9n commented on #4706
@jrudolph This has slipped through our attention. We'll look into it for 1.3.1.

[2019-09-09 18:05] viktorklang commented on #4912
:+1:

[2019-09-09 18:13] #5047 closed, assigned to nobody

[2019-09-09 19:51] Philippus commented on #4995
I think we're hitting the same issue in scala-parser-combinators: https://github.com/scala/scala-parser-combinators/pull/237

[2019-09-09 21:48] eed3si9n commented on #4995
Maybe we can try to fix this by directly invoking LM API to grab the Scala compiler JARs instead of making a weird sandbox configuration.

[2019-09-09 22:21] eed3si9n opened #5062 "update to new Coursier when it comes out"
Next one would have Ivy-compatible version semantics.

[2019-09-10 04:41] abdulhaju commented on #2365
Hi,
Thanks, looks like good answer, but can you tell me how to add the root cert to the stores as I am using IBM Jdk 8.

[2019-09-10 06:57] sathyarr commented on #5046
I faced the same issue with `sbt.version = 1.3.0`
Switching to `sbt.version = 1.2.8` solves the issue

[2019-09-10 09:28] sidnt opened #5063 "sbt new: console input isn't echoed"
## steps
sbt version: *1.3.0*
On terminal `sbt new sbt/scala-seed.g8` asks for project name. When the name is entered, it is not echoed in realtime. It's like entering a password. You can't see what you've entered, until you hit return.

## problem
Console inputs are not echoed. Even if the program is run via sbt run, and the main takes an StdIo.readline(), the same isn't echoed as well.

## expec

[2019-09-10 09:29] jrudolph commented on #4706
Thanks, Eugene!

[2019-09-10 13:14] eed3si9n commented on #5063
@sidnt Thanks for the report!

[2019-09-10 15:33] milessabin opened #5065 "No colour terminal output or super shell by default with zsh and sbt 1.3.0"
## steps
sbt version: *1.3.0*

## problem
After updating a project from 1.2.8 to 1.3.0, I lost colour terminal output by default. I also notice that the super shell isn't enabled by default.

## expectation
Colour and super shell enabled by default.

## notes

This appears to be shell related: if I switch from zsh to bash then colour and the super shell are enabled by default as expected.

Alterna

[2019-09-10 15:36] milessabin commented on #5065
In both zsh and bash `$TERM` is `xterm-256color`.

[2019-09-10 15:46] symaras commented on #2243
Adding this flag (-Dsbt.override.build.repos=true) in the file .sbtopts in the project's root directory seems to fix this.

[2019-09-10 15:47] greatmengqi opened #5066 "super shell will print evey progress log but overwrite the same line like a progress bar."
## steps
sbt version: 1.3.0

## problem
while I run a task in new super shell , it will print some sentences like "| => global-plugins-build / update 0s". these sentence are so many that I can't read nomoral logs.

## expectation

## notes
mac os 10.14.6
java 1.8

[2019-09-10 15:47] eed3si9n commented on #5065
I use zsh 5.4.2 for development, and the color and super shell work for me.

[code]

[2019-09-10 15:50] milessabin commented on #5065
I have,
[code]

[2019-09-10 15:52] milessabin commented on #5065
Nb. colour and super shell seem to _work_ perfectly well ... it's just that they're not enabled by default.

[2019-09-10 17:36] pshirshov opened #5067 "Random IOExceptions in 1.3.0"
This  started happening with 1.3.0-RC5 and occasionally happens in 1.3.0:

[code]

[2019-09-10 17:46] eatkins commented on #5067
Thanks for the report. We've seen this too in our scripted tests and are trying to figure it out.

[2019-09-10 18:41] eed3si9n commented on #5066
@greatmengqi Thanks for the report. For us to actually work on this, we would need more info and a way to reproduce the problem on our machines.

1. Do you have a public project that demonstrates the issue. For example does it happen using akka/akka or something?
2. Could you use https://asciinema.org/ or some other means to record your screen when this happens plz?

[2019-09-10 18:47] eed3si9n commented on #5066
For reference see

[![asciicast](https://asciinema.org/a/ghMoo4BNCKMCjbykBM18hRnuy.svg)](https://asciinema.org/a/ghMoo4BNCKMCjbykBM18hRnuy)

 attached to https://github.com/sbt/sbt/pull/5023#issuecomment-527249288.

super shell progress lines overwrites themselves, but _as long as sbt logger is used_ the log output should scroll up on a separate section.

[2019-09-10 18:51] wuservices commented on #4168
Just to share another use case, I have a similar issue with millisecond resolution timestamps, but the issue is mainly that I'm shipping compiled artifacts between build agents (in my case, with TeamCity, but the problem is generic). Since tar files only have second resolution, the same issue happens.

@espenhw thanks for the workaround! For some reason I couldn't get `Dsbt.io.jdktimestamps=true`

[2019-09-10 21:26] danxmoran commented on #4103
@Facsimiler yes, I also hit this on sbt 1.3.0 today

[2019-09-10 22:11] eed3si9n commented on #4103
Works for me fine using sbt 1.3.0.

[code]

Please note:
1. If you use repository overrides, none of the `resolvers` keys would work.
2. `"Artima Maven Repository" at "http://repo.artima.com/releases"` defines a Maven resolver. `Resolver.url(...)` creates an Ivy resolver.
4. The original instruction http://www.scalatest.org/supersafe#installation tells you to use machine-global setting. This is li

[2019-09-10 22:11] #4103 closed, assigned to nobody

[2019-09-11 02:30] greatmengqi commented on #5066
I make a temp repository on git hub .the adress is :[pic for sbt](https://github.com/greatmengqi/PicForSbt.git). In this repository I make a small video to record the logs when I start sbt in IDEA .
the start command ：
`/Library/Java/JavaVirtualMachines/jdk1.8.0_171.jdk/Contents/Home/bin/java -server -Xmx1024M -Didea.managed=true -Dfile.encoding=UTF-8 -jar "/Users/chenmengqi/Library/Application Su

[2019-09-11 02:35] greatmengqi commented on #5066
In fact ,if I don't start sbt in IDEA ,just start sbt in terminal.it works normally. so I'm not sure what happened on it.

[2019-09-11 02:40] eatkins commented on #5066
I think newer versions of IDEA turn off super shell.

[2019-09-11 02:49] greatmengqi commented on #5066
I don't think so . I add the option "-Dsbt.supershell=false",it work well.so I think new version of IDEA does not turn off super shell default. you need turn off it by your self

[2019-09-11 02:55] eatkins commented on #5066
I am running 2019.2 and the command issued by intellij starts with: `/Library/Java/JavaVirtualMachines/jdk1.8.0_152.jdk/Contents/Home/bin/java -agentlib:jdwp=transport=dt_socket,address=localhost:55109,suspend=n,server=y -Xdebug -server -Dsbt.supershell=false -Xms2048M -Xmx2048M -Xss2M -Xmx4048M -Didea.managed=true -Dfile.encoding=UTF-8 -jar`
I don't set any launch parameters:
<img width="670" alt

[2019-09-11 03:05] greatmengqi commented on #5066
I'm sorry , I can't see your picture.did it work normally?

[2019-09-11 03:11] greatmengqi commented on #5066
Maybe you're right. the same command I support before, works well in terminal.

[2019-09-11 03:39] ashawley commented on #4995
Circling back on this, I tried the tack of trying to bisect Scala 2.12.9, but I couldn't find a nightly build that doesn't fail.  So the only breaking commit candidate is the first commit of bumping the starr to 2.12.9.  I'm not sure what to conclude from that.

### Steps

Starting scala-xml repo with:

    $ sbt -Dsbt.version=1.3.0

Here's the bisect log.  Commits are of the Scala repo, but the c

[2019-09-11 03:45] ashawley commented on #4995
Oh, Scala 2.12.10 just got released... no change, unfortunately.

[2019-09-11 03:50] greatmengqi commented on #5066
I update my IDEA to 2019.2 and turn on super shell ,it still works unnormal.

![image](https://user-images.githubusercontent.com/24458013/64667087-26529600-d48b-11e9-9dbd-68f680edfbaa.png)

[2019-09-11 04:07] eatkins commented on #5066
Why are you turning on supershell explicitly for IDEA?

[2019-09-11 04:09] eatkins commented on #5066
I haven’t tested supershell from within IDEA, but the feature is only designed to be used with fully ansi compatible terminal emulators. I don’t know that the built in intellij terminal emulator is fully compliant.

[2019-09-11 04:39] greatmengqi commented on #5066
I understand，Thank you for you patiently explain

[2019-09-11 14:19] eed3si9n commented on #5066
Looks like there isn't much we can do on our side, so I am closing this.

[2019-09-11 14:19] #5066 closed, assigned to nobody

[2019-09-11 18:06] JustinPihony opened #5070 "Create a means to add a repository to the default list at the project global level"
Right now there is a way to override repositories entirely, but not append to the list. The feature I’m requesting is an ability to set a resolver for both plugins and project, which could then be checked into the codebase and used by subsequent developers seamlessly.

[2019-09-11 18:25] eed3si9n commented on #4103
See also https://github.com/sbt/sbt/issues/5070

[2019-09-11 18:29] eed3si9n commented on #5070
Thanks Justin. I think this is a good idea. See there are similar situation that's happening for SuperSafe (https://github.com/sbt/sbt/issues/4103, http://www.scalatest.org/supersafe#installation) where it needs to configure the resolver for both the metabuild and the proper build.

What do you think about adding a key like:

[code]

that would inject plugin level resolver to all subprojects?

[2019-09-11 18:54] JustinPihony commented on #5070
Sounds good to me

[2019-09-11 19:53] nevillelyh commented on #4995
I'm hitting a similar issue with scala 2.11.12, sbt 1.3.0, doesn't affect 2.12 or 2.13 though.

Setting `ThisBuild / useCoursier := false` fixes the build.

[code]

[2019-09-11 20:04] eed3si9n commented on #4995
@nevillelyh Thanks for the report.

I kind of thought this was happening only to scala-* projects, but I guess it can affect any project that depends on scala-xml.

[2019-09-11 21:18] ashawley commented on #4995
@nevillelyh Which version of 2.12?  The doc task works for you with Scala 2.12.9?

[2019-09-11 21:24] nevillelyh commented on #4995
Yeah works for both 2.12.9 & 2.12.10, which leads to me to suspect that it's not scala but coursier related.

[2019-09-12 06:26] Kesanov opened #5073 "Impossible to disable parallel execution in benchmarks."
## steps
sbt version: 1.0

Setup a dummy project with benchmarks files in `projectName/bench/...`.
And with following build.sbt:
[code]

## problem

If I run `sbt bench`, both benchmarks are run at once (the logs are interleaved), despite the parallelism restrictions.

## expectation

`sbt bench` should run benchmarks serially.

[2019-09-12 07:54] lrytz commented on #5063
Saw the same when using sbt-bintray's `bintrayChangeCredentials`

[2019-09-12 09:49] jrudolph opened #5074 "Sbt 1.3.0 copies jar files to `/tmp/sbt_xyz` (and doesn't clean up after itself)"
It shouldn't copy any jar files there in the first place.

If that's a solution for the problem of jars changing behind your back then that's usually a non-problem for most artifacts. If you work with locally published (SNAPSHOT) artifacts the situation might be different but in any case it shouldn't be the default behavior.

[2019-09-12 10:03] jrudolph opened #5075 "[1.3.0] not terminating ActorSystem leads to `NoClassDefFoundError` at the end of `run` as sbt cleans up the ClassLoader"
Originally reported by @srubietodd, see https://github.com/akka/akka-http/issues/2702.

build.sbt:

[code]

Test.scala:

[code]

Log:

[code]

Potential workarounds (any of those works for me):

 * sbt 1.2.8
 * `fork in run := true`
 * `classLoaderLayeringStrategy := ClassLoaderLayeringStrategy.AllLibraryJars`

## workaround

Shutdown your actor system as follows:

[code]

or

[code]

[2019-09-12 12:14] kingslef opened #5076 "[1.3.0] Can't use system properties with spaces anymore"
## steps
sbt version: 1.3.0

After updating to 1.3.0, I can't use a system property that has space in it. Very easy to reproduce: start sbt in any project giving e.g. `-Dfoobar="foo bar"` as an option.

## problem
[code]
## expectation
System property is provided to sbt and sbt starts.

Using 1.2.8 directly from GitHub:
[code]

Using 1.3.0:
[code]

## notes

There is a very similar issue in https:

[2019-09-12 17:09] kklorenzotesta commented on #5075
I got the same problem when plotting a graph with breeze-viz after upgrading to sbt 1.3.0. I can provide a build to reproduce the bug if needed.

[2019-09-12 18:50] alterationx10 commented on #4382
@christianri if it helps, here is what I threw together https://gitlab.com/SLUDG/gitlab-sbt

I've never written an SBT plugin before, so I'm sure it's far from perfect, but I got it to work!

Edit: I've moved the repo over to https://github.com/k8ty-app/sbt-publish

[2019-09-12 20:23] #4852 closed, assigned to nobody

[2019-09-12 21:34] eed3si9n commented on #5073
This could be a duplicate of an issue I found a few year ago. Please see https://github.com/sbt/sbt/issues/2516.

[2019-09-12 21:36] eed3si9n commented on #5074
@jrudolph Could you elaborate on the reproduction steps? Is this for `run` (`bgRun`)?

[2019-09-12 21:41] eed3si9n commented on #5076
@er1c Could this be related to https://github.com/sbt/sbt-launcher-package/commit/2d21c0fd2a67641f63e8e4f4f4b68772ae41fad1?

[2019-09-12 21:41] eed3si9n commented on #5076
@kingslef Thanks for the detailed bug report!

[2019-09-13 07:28] Kesanov commented on #5073
There is one difference though. I have already set `parallelExecution` globaly to false: `.settings(parallelExecution := false)`

[2019-09-13 09:27] kingslef commented on #5076
thanks for the pointer! but I don't think it is that commit, but one later that removed the quotes from `${java_args[@]}`. Anyway, https://github.com/sbt/sbt-launcher-package/pull/280 should fix this issue.

[2019-09-13 12:39] alexarchambault commented on #4995
@nevillelyh I've been trying to reproduce that with your [protobuf-generic](https://github.com/nevillelyh/protobuf-generic), to no avail:
[code]

edit: nvm, I reproduced and debugged that another way

[2019-09-13 13:50] #5076 closed, assigned to nobody

[2019-09-13 16:17] sergiorussia opened #5078 "1.3.0, Regression, retrieveManaged does not work anymore with Coursier"
## steps
Create project:

build.sbt:
[code]
project/build.properties:
[code]
Test.scala:
[code]
Run:
[code]

## problem
dependencies are **not** copied to ``managedDirectory``, ``retrieveManaged`` stopped working in case of ``useCoursier := true``

## expectation
dependencies are copied to ``managedDirectory``

## notes
setting ``useCoursier := false`` or falling back to sbt 1.2.8 fixes the proble

[2019-09-13 16:22] eed3si9n commented on #5078
@sergiorussia Thanks for the report! I think retrieveManaged depended on Ivy feature, but I'm guessing Coursier could do something similar since its CLI can retrieve stuff.

[2019-09-13 16:44] sergiorussia commented on #5078
@eed3si9n just for the record, i found exact test case for the feature with explicitly disabled Coursier, https://github.com/sbt/sbt/blob/1.3.x/sbt/src/sbt-test/dependency-management/retrieve-managed-sync/build.sbt

Coursier was disabled here https://github.com/sbt/sbt/commit/9a666b541851c2bddb49cc4cf517849ec40e8c85

[2019-09-13 16:55] SethTisue commented on #5075
does `-Dsbt.classloader.close=false` make the problem go away?

[2019-09-13 17:01] kklorenzotesta commented on #5075
In my project yes, it goes aways

[2019-09-13 17:02] drikssy commented on #5075
I have the same issue using akka-streams (amqp) and I am new in scala... I dont really understand how o fix it @jrudolph ?  ```Uncaught error from thread [media-hub-test-akka.actor.default-dispatcher-2]: akka/actor/dungeon/FaultHandling$$anonfun$handleNonFatalOrInterruptedException$1, shutting down JVM since 'akka.jvm-exit-on-fatal-error' is enabled for ActorSystem[media-hub-test]
Uncaught error f

[2019-09-13 17:05] eatkins commented on #5075
Great catch @SethTisue. I think we need to make this a warning rather than a strict failure for 1.3.1. It's causing too much confusion.

[2019-09-13 17:08] eed3si9n commented on #5075
Added workaround section to the description. I think we should recommend

[code]

instead of running sbt with JVM props.

[2019-09-13 17:09] eed3si9n commented on #5075
@eatkins Would it make sense to give Akka 3s grace period? Would that solve any problem?

[2019-09-13 17:14] eatkins commented on #5075
https://github.com/akka/akka-http/issues/2702#issuecomment-531319091

[2019-09-13 17:16] eatkins commented on #5075
The issue I have with workarounds for this issue is that often it is actually catching a real resource leak in the code. Not shutting down an ActorSystem is very common from what I have gathered. There is a huge performance penalty for fork so I'm somewhat wary fo encouraging people to switch their builds to fork mindlessly.

[2019-09-13 17:20] eatkins commented on #5075
The example is actually extremely similar to the program I used in the sbt 1.3.0 watch benchmarks: https://github.com/eatkins/scala-build-watch-performance. Even without layered classloaders, forking took about 5.5 seconds compared to 1.5 second for in-process.

[2019-09-13 17:27] eed3si9n commented on #5075
It is a tricky problem that affects UX (performance vs ease of use).

It is sbt that's emulating `run` as a function call, which makes it sensitive to resource cleanup at the end. iow, if people ran using `java -cp ..` they won't see this particular error message. Maybe we need to document this better and let the user choose between 1.5s `run` vs not shutting down concurrency managers?

[2019-09-13 18:16] anilkumarmyla commented on #5052
@eed3si9n any timeline on 1.3.1 release? This issue broke the naive way of running tests through intellij without using sbt shell. Workaround is to use sbt shell in intellij

[2019-09-13 18:22] eed3si9n commented on #5052
I'm guessing in a week or two.

[2019-09-13 18:52] eatkins commented on #5074
My feeling is that sbt should only write into `~/.sbt` and the project target directories. I tried to refactor BackgroundJobService so that the temp directory was configurable, but it was a bit difficult because DefaultBackgroundJobService is a singleton.

[2019-09-13 18:53] eatkins commented on #5074
There are three places where sbt calls `IO.createTemporaryDirectory` and ideally we could rework things so that these write into sbt managed directories rather than `java.io.tmpdir`.

[2019-09-13 18:57] jrudolph commented on #5075
As written in https://github.com/akka/akka-http/issues/2702#issuecomment-531352120, the regression in sbt 1.3.0 seems to be that the `run` task doesn't seem to wait any more until all non-daemon threads of the application are finished. It might be uncommon overall but it's somewhat common with Akka apps to let the main method run out after the initialization code has run. `system.terminate` is oft

[2019-09-13 22:40] eed3si9n commented on #5075
Not sure if we waited before, but waiting for non-daemon threads (for some time?) sounds like an improved UX rather than unplugging the ClassLoader under them.

[2019-09-13 23:11] eed3si9n commented on #5063
Maybe we need to use https://github.com/sbt/sbt/blob/v1.3.0/main/src/main/scala/sbt/CommandLineUIService.scala and pause super shell during user input.

[2019-09-13 23:13] eed3si9n commented on #5063
Actually I am not 100% sure if the issue of super shell overwriting is the same as input not echoing during sbt new.

[2019-09-14 01:16] eatkins commented on #5075
We wait indefinitely for non-daemon threads and have for a long time. The difference is that in 1.3.0 we started closing the classloader in ScalaRun.run, which is before the background job service joins the non-daemon threads. I should be able to restore the old behavior and I also am working on an overhaul of the classloader management for 1.3.1/1.4.0 that I think should be much better than 1.3.0

[2019-09-14 02:29] anilkumarmyla opened #5079 "[1.3.0] Double dashes for sbt-launcher don't work on Darwin"
## steps
sbt version: 1.3.0

## problem
If we pass in double dashed option `--sbt-version`, it doesn't work correctly
Debug info
[code]

When passed as single dash, it works correctly by passing `-Dsbt.version=1.3.0`
[code]

## expectation
Double dashed option should work correctly as advertized in `sbt -help`

[2019-09-14 02:36] anilkumarmyla opened #5080 "[1.3.0] -debug option suppresses error logging"
## steps
sbt version: 1.3.0

## problem
when `-debug` option is passed, error logging is suppressed and user doesn't know if command failed or not.

Correct error logging
[code]

No error logging when `-debug` passed
[code]

## expectation
Error logging even during `-debug` run

[2019-09-14 18:10] eed3si9n commented on #5080
@anilkumarmyla Thanks for the report. I can reproduce it on my machine.

[2019-09-15 01:45] #5075 closed, assigned to nobody

[2019-09-15 18:24] eed3si9n commented on #4261
Ran into this recently while playing on Docker, so I'll paste it here.

[code]

[2019-09-16 09:41] Esardes opened #5084 "`sbt new` partially takes g8 template's .gitignore into account"
## steps
sbt version: 1.3.0
create a g8 template with a `secret` folder in `src/main/g8`, a file `src/main/g8/secret/encrypted.conf` and a `src/main/g8/.gitignore` file that contains
[code]
Create a new project using the template and `sbt new`

## problem
The generated project does not contain the `secret` folder/the file `secret/encrypted.conf`

## expectation
The file `secret/encrypted.conf` sho

[2019-09-16 19:32] eed3si9n commented on #5084
Please open the issue on https://github.com/foundweekends/giter8 instead.

[2019-09-16 19:32] #5084 closed, assigned to nobody

[2019-09-16 19:33] eed3si9n commented on #5079
Fixed in https://github.com/sbt/sbt-launcher-package/pull/281

[2019-09-16 19:33] #5079 closed, assigned to nobody

[2019-09-16 20:28] eed3si9n commented on #5061
Because of [sbt is recursive](https://www.scala-sbt.org/1.x/docs/Organizing-Build.html#sbt+is+recursive), I thought you meant `project/project/*.scala`.

[2019-09-16 20:47] eatkins commented on #5061
Yeah, that was probably an abuse of nomenclature. I thought about adding project/project/*.scala, etc. but it raises the question of how deep to go. At the moment, sbt 1.3.0 is polling the build sources so I'd rather not add a bunch of directories that might not contain any files. If we were asynchronously monitoring the build sources, we could more easily support fully recursive monitoring withou

[2019-09-17 04:23] #5061 closed, assigned to nobody

[2019-09-17 05:43] mrt181 commented on #4905
Would a whitelist be a sensible compromise?
Instead of a global build flag use a comma separated list of urls to disable it for those urls, e.g.:
[code]

[2019-09-17 09:00] OndrejSpanel opened #5088 "Strange NoClassDefFoundError error with SBT 1.3.0"
## steps
sbt version: 1.3.0
Clone repository https://github.com/aganm/NoClassDefFoundError and use `sbt run`

## problem

Very simple project using `java.awt` throws `NoClassDefFoundError` exception.

## expectation

No exception should be thrown when running this project.

## notes

- the issue does not show with sbt 1.2.8
- the issue does not show when using `fork := true`
- originally asked as

[2019-09-17 11:00] AndriusFromLTU commented on #4879
`sbt -Dsbt.color=always -Dsbt.supershell=false` didn't work for me, but `-Dsbt.color=true` did

[2019-09-17 12:09] palutz opened #5089 "High CPU usage after run"
## steps
sbt version: 1.3.0

## problem
Running a simple console program to test some libs, sbt takes the CPU to 100% despite the program is not doing anything. It keeps the CPUs at 100% also if I quit the program (but I stay inside the sbt). Only way to stop is to quit sbt.
the actual command keeping the CPU us is:
/usr/bin/java -Dfile.encoding=UTF-8 -Xmx2G -jar /usr/local/Cellar/sbt/1.3.0/libexe

[2019-09-17 15:42] eed3si9n commented on #5088
@OndrejSpanel Thanks for the report. This is likely fixed in https://github.com/sbt/sbt/pull/5081. I also posted more details on Stackoverflow.

[2019-09-17 15:47] eed3si9n commented on #5089
@palutz Thanks for the report. Do you have a build somewhere public that we can use to reproduce your issue? In the meantime, could you add the following and see if the issue goes away?

[code]

[2019-09-17 15:51] eed3si9n commented on #5089
I am unifying the term to "High CPU usage" so we can search this later. See also https://github.com/sbt/sbt/issues/1697. Are you using `sys.exit`?

[2019-09-17 15:56] #5062 closed, assigned to nobody

[2019-09-17 16:07] palutz commented on #5089
@eed3si9n Thanks for the answer.
I will try your parameters. I shared the build.sbt. You mean do you need the whole project (with also the code)? I think I can share it, despite it's quite crappy code to try a new integration.

PS: here it's the code:
https://gitlab.com/palutz/trydeltalake

[2019-09-17 16:49] eed3si9n opened #5091 "Fix nightlies"

[2019-09-17 19:21] mr-git opened #5093 ""/packages cannot be represented as URI" on JDK 13"
## steps
SBT 1.3.0
OpenJDK 13
macOS 10.14.6

## problem
build.sbt:
[code]
start SBT session:
* if started on OpenJDK 12 (11, 10, 9), SBT starts
* when started on OpenJDK 13 - SBT startup fails with:
[code]

## expectation
SBT work on OpenJDK 13

## notes
if `build.sbt` is defined like:
[code]
SBT 1.3.0 manages to start on OpenJDK 13

Similar issue was made earlier this year for Scala: https://gith

[2019-09-17 19:26] eed3si9n commented on #1209
This is now fixed with super shell - https://github.com/sbt/sbt/pull/4396

[2019-09-17 19:26] #1209 closed, assigned to nobody

[2019-09-17 19:31] eed3si9n commented on #5093
@mr-git Thanks for the report.

This was a known issue with Scala 2.12.8, but I didn't want to bump to 2.12.9 due to its regressions. This should be fixed in the next version since I've already bumped to Scala 2.12.10 - https://github.com/sbt/sbt/pull/5072

[2019-09-17 19:31] #5093 closed, assigned to nobody

[2019-09-17 19:42] mr-git commented on #5093
Oh, that is Scala issue and SBT 1.3.0 uses Scala 2.12.7 internally...
Thanks for details!
Looking forward to get SBT 1.3.1 and to use single JDK again.

(How long we might have to wait?)

[2019-09-17 19:43] eed3si9n commented on #5093
Hopefully in a few days ~ 1 wk.

[2019-09-17 20:46] eed3si9n commented on #4968
Closing here as well following https://github.com/coursier/coursier/issues/1336 /  https://github.com/lukas-krecan/JsonUnit/issues/193.

[2019-09-17 20:46] #4968 closed, assigned to nobody

[2019-09-17 21:32] eed3si9n commented on #4706
I think this was fixed in upstream (https://github.com/coursier/sbt-coursier/pull/87).

[code]

`dependencyTree` seems to work using `addSbtPlugin("net.virtual-void" % "sbt-dependency-graph" % "0.10.0-RC1")`.

[2019-09-17 21:48] eed3si9n commented on #4706
ok. Testing this using akka-stream I get something this:

[code]

[2019-09-17 21:55] eed3si9n commented on #4706
caller info is missing for `org.reactivestreams:reactive-streams` and `com.typesafe:ssl-config-core_2.12`

[code]

[2019-09-17 22:05] eed3si9n commented on #5091
https://jenkins.scala-sbt.org:8592/job/sbt-validator/1769/

[2019-09-17 22:05] #5091 closed, assigned to nobody

[2019-09-17 22:22] eed3si9n commented on #4706
I've opened an issue upstream - https://github.com/coursier/coursier/issues/1375

[2019-09-17 23:29] yawaramin commented on #4958
I suggest label `area/performance` for this. Possibly `help wanted` (if that is the case).

[2019-09-17 23:46] eed3si9n commented on #4958
Labeled.

[2019-09-18 02:45] eed3si9n commented on #5000
Related to https://github.com/sbt/util/pull/211?
Would running with `-debug` help in those situations?

[2019-09-18 13:32] mr-git commented on #5093
@eed3si9n, very much off-topic, but when/if SBT will use Scala 2.13? only at 2.x or possibly sooner?

[2019-09-18 13:51] eed3si9n commented on #5093
If it's up to me, I would like to keep sbt 1.x + Scala 2.12.x as long as possible (to preserve plugin ecosystem). When 2.12.x starts to fall behind, and plugin authors no longer want to deal with 2.12.x, they would ask for sbt 2.x. Sort of what happened with sbt 0.13 + Scala 2.10.x. That would be when 2.14.x or 3.0.x comes out I'd guess.

[2019-09-18 13:55] palutz commented on #5089
@eed3si9n still the same problem also with the little trick suggested.
I figured out that, maybe, the problem is happening more often when the program raises an exception (!!!) and don't terminate properly. So it could be related to the spark/deltalake libraries. Hope this helps.

[2019-09-18 14:20] eed3si9n commented on #5089
If the problem persists even after forking, then it's likely not sbt's problem.

[2019-09-18 15:22] rodrigovedovato opened #5095 "Keyboard input is supressed when creating a new project using sbt new"
## Steps
- sbt version: 1.3.0
- Ubuntu 18.04.3

1. Create a new project using `sbt new`, e.g. `sbt new scala/scala-seed.g8`
2. When it prompts for the project name, type anything (e.g. sample)

## Problem

Keyboard input is supressed, but the project is created with the name you just typed

## Expectation

I should be able to see what I'm typing

## Notes

![ezgif com-gif-maker](https://user-image

[2019-09-18 15:44] eed3si9n commented on #5095
@rodrigovedovato Thanks for the report! (Love the screencaps)
This looks like a duplicate of #5063 so I am closing this.

[2019-09-18 15:44] #5095 closed, assigned to nobody

[2019-09-18 22:50] eatkins commented on #5000
Yeah, reverting sbt/util#211 works.

The problem isn't quite as bad as I thought it was. The last command does actually work depending on where in the build the exception is encountered. The main issue is that in scripted tests, there is no way to provide input. I ran into this because I introduced an issue in a plugin and couldn't tell where it was crashing in a scripted test. I also think that t

[2019-09-19 04:27] xuwei-k opened #5097 "crossTarget should be "scala-${scalaVersion}" when CrossVersion.full"
## steps
sbt version: 1.3.0

[code]

## problem

`crossTarget` is `target/scala-2.12` when `crossVersion := CrossVersion.full`

## expectation

`crossTarget` should be `target/scala-2.12.8` when `crossVersion := CrossVersion.full` 🤔
I think these should not share any `*.class` file caches.

## notes

- https://github.com/sbt/sbt/blob/v1.3.0/main/src/main/scala/sbt/Defaults.scala#L483-L489
- https:

[2019-09-19 04:57] eed3si9n commented on #5097
If `scalaBinaryVersion` is supposed to denote the binary compatibility, in theory, that setting should also be changed but it's probably too late for that. I am fine with just changing `crossTarget` or any other things of this nature.

[2019-09-19 08:53] unarist opened #5098 "[1.3.0] sources are recompiled every time when jars are cached in the long path in Windows"
## steps
sbt version: 1.3.0
OS: Windows 10

1. Set ivy/coursier cache directory to the long path (260 chars are enough)
e.g. `C:\Lorem_ipsum_dolor_sit_amet_consectetur_adipiscing_elit_sed_do_eiusmod_tempor_incididunt_ut_labore_et_dolore_magna_aliqua_Ut_enim_ad_minim_veniam_quis_nostrud_exercitation_ullamco_laboris_nisi_ut_aliquip_ex_ea_commodo_consequat`
2. Compile some project with libraryDepende

[2019-09-19 12:23] akozumpl commented on #4857
I depend on the dependency graph plugin through an ~/.sbt config and get the same failure in sbt-1.3. The following workaround works here™:

[2019-09-19 14:17] eed3si9n commented on #5098
@unarist Thanks for the detailed bug report!

[2019-09-19 16:41] #5070 closed, assigned to nobody

[2019-09-19 19:20] eed3si9n opened #5104 "Release 1.3.1"
https://github.com/sbt/sbt/compare/v1.3.0...1.3.x

[2019-09-19 19:28] eed3si9n commented on #5104
## Fixes with compatibility implication

- `sbt` launcher script drops `-XX:+UseParallelGC` for JDK 9 and up since it could cause severe GC pauses given a large heap https://github.com/sbt/sbt-launcher-package/pull/282 by [@eed3si9n][@eed3si9n]
- Updates to lm-coursier-shaded 2.0.0-RC3-4, which fixes the handling of Basic auth.

## Other fixes
- Updates to Scala 2.12.10
- Fixes `NoClassDefFoundErr

[2019-09-19 20:15] #5045 closed, assigned to nobody

[2019-09-19 20:15] #5098 closed, assigned to nobody

[2019-09-19 21:00] #2245 closed, assigned to nobody

[2019-09-19 21:05] eed3si9n commented on #2247
Closing this as a duplicate of https://github.com/sbt/sbt/issues/2899.
It's a won't fix for sbt 1.x, but the change required to fix this is surprisingly small based on what I saw on @dwijnand's laptop.

[2019-09-19 21:05] #2247 closed, assigned to nobody

[2019-09-20 01:32] eatkins commented on #5045
I can induce issues with ParallelGC using jdk 13 in https://github.com/ThoughtWorksInc/dsl.scala. Running
`++2.11.12; clean; test` I got the following results:
g1gc:
[code]
parallel:
[code]
The parallel run actually gc thrashed for 2 minutes and then crashed with `java.lang.OutOfMemoryError: GC overhead limit exceeded`. While thrashing, this was all that you would see in the output:
[code]
If verb

[2019-09-20 06:49] dwijnand commented on #2247
Unsurprisingly incomplete too, though...

Need to either continue to extend the repro model to the model in sbt, or try to modify sbt's model proper.  Anyways, my repro model is at https://github.com/dwijnand/usbt/blob/master/usbt.scala.

[2019-09-20 07:59] plokhotnyuk opened #5107 "[1.3.1 regression] sbt-mima-plugin throws java.lang.NoSuchMethodError: com.typesafe.tools.mima.core.Settings.allSettings()Lscala/collection/mutable/HashSet;"
## steps
sbt version: 1.3.1

[code]

## problem
Build failure with
[code]

## expectation

Build completes successfully

## notes

W/A is to switch back to sbt 1.3.0

[2019-09-20 09:38] lrytz commented on #5107
A new MiMa is being released https://github.com/lightbend/mima/issues/389, https://github.com/lightbend/mima/issues/390

[2019-09-20 11:19] plokhotnyuk commented on #5107
Solution is updating sbt-mima-plugin to 0.6.1 like [here](https://github.com/plokhotnyuk/jsoniter-scala/commit/35e303c93c140b28ccc300d142d969da591e8ab7)

[2019-09-20 11:19] #5107 closed, assigned to nobody

[2019-09-20 14:12] eed3si9n opened #5108 "[1.3.1] -v mode is always on"
## steps

Install 1.3.1

[code]

## problem

[code]

## expectation

No `-v` output unless I passed `-v` in.

[2019-09-20 16:49] #5108 closed, assigned to nobody

[2019-09-20 17:39] hrj commented on #5108
Is this the only difference between 1.3.1 and 1.3.2?

[2019-09-20 17:54] eed3si9n commented on #5108
@hrj Yes.

[2019-09-20 18:16] eatkins commented on #4592
This was resolved by making the default layering strategy ScalaLibrary.

[2019-09-20 18:16] #4592 closed, assigned to nobody

[2019-09-20 18:19] eatkins commented on #4704
I'm pretty sure this has been resolved by a number of changes including 9c7acdb713247e4e17a03f8cbacda9aa783bf19e and 4061dabf4d3a999099dc9e93238a9d81e6bc7cfe. Feel free to re-open if it recurs.

[2019-09-20 18:19] #4704 closed, assigned to nobody

[2019-09-20 18:22] eatkins commented on #4892
I think this is probably fixed but feel free to re-open if I'm wrong.

[2019-09-20 18:22] #4892 closed, assigned to nobody

[2019-09-20 18:25] eed3si9n commented on #1802
Likely this won't happen here since we've moved on to using Coursier.
Btw taking over HTTP from Ivy is relatively easy if someone wants to experiment in this area - https://github.com/sbt/librarymanagement/blob/develop/ivy/src/main/scala/sbt/internal/librarymanagement/ivyint/GigahorseUrlHandler.scala

[2019-09-20 18:25] #1802 closed, assigned to nobody

[2019-09-20 18:25] eatkins commented on #4796
We changed the behavior of this feature in sbt 1.3.1/1.3.2. ClassLoaders can now be re-opened after close (which still happens after run or test completes) but sbt will emit a warning if that happens. You can disable the warning by setting the key `allowZombieClassLoaders := true`.

[2019-09-20 18:25] #4796 closed, assigned to nobody

[2019-09-20 18:36] xerial commented on #4796
@eatkins Thanks. What I learned so far is as follows:
- If we register a custom log handler to java.util.logging, the handler will belong to a zombie :) and NoClassDefException will be thrown. We need to clean up custom log handlers.
- JVM shutdown hooks need to be properly removed before exiting test or run tasks.

After understanding these issues, applying such a clean-up process was not so diff

[2019-09-20 18:43] eatkins commented on #4796
@xerial that's good to hear. In spite of the confusion and complaints generated by the initial rollout of this feature, the hope is that it will help users identify resource leaks so that long lived sbt sessions will be more stable. Unfortunately we were just a little too aggressive in trying to enforce hygiene, causing frustration and confusion for users, so we had to relax our approach.

[2019-09-20 19:09] xerial commented on #4796
@eatkins Yeah. It was a hard lesson but actually worked as you initially expected to find resource leaks. In my case, I found too many shutdown hooks were registered in my code.

[2019-09-20 21:31] eed3si9n commented on #1833
Here's a PR for this - https://github.com/sbt/website/pull/822

[2019-09-20 21:53] #1833 closed, assigned to nobody

[2019-09-20 22:02] eed3si9n commented on #1442
Closing this since cancelable is now on by default - https://github.com/sbt/sbt/pull/4630

[2019-09-20 22:02] #1442 closed, assigned to jsuereth

[2019-09-20 22:04] eed3si9n commented on #2020
https://www.scala-sbt.org/1.x/docs/Nightly-Builds.html

[2019-09-20 22:04] #2020 closed, assigned to nobody

[2019-09-20 22:06] eed3si9n commented on #3518
Should be ok now.

[2019-09-20 22:06] #3518 closed, assigned to nobody

[2019-09-20 22:06] #5104 closed, assigned to nobody

[2019-09-20 22:16] eed3si9n commented on #2049
I am closing this due to inactivity, but if this is still relevant let us know with more details.

[2019-09-20 22:16] #2049 closed, assigned to nobody

[2019-09-20 22:18] eed3si9n commented on #1999
Closing this since we now default to using Coursier.

[2019-09-20 22:18] #1999 closed, assigned to nobody

[2019-09-20 22:25] eed3si9n commented on #1791
Should be fixed by Coursier + super shell.

[2019-09-20 22:25] #1791 closed, assigned to nobody

[2019-09-20 23:28] eed3si9n commented on #1458
using sbt 1.2.8:

[code]

using sbt 1.3.2:

[code]

Either case `[warn] No sbt.version set in project/build.properties, base directory: /` is printed, so that's a place we can perform this check.

[2019-09-21 01:21] som-snytt commented on #1458
Not an expert, but I have recently seen the helpful message about it's not a project dir.

I also wanted to express my appreciation for @ghost who seems to have the paranormal ability to be in many places at the same time, much like @eed3si9n.

[2019-09-21 18:47] ryanberckmans opened #5110 "semanticdbVersion ignored in sbt 1.3.2"
## steps
sbt version: 1.3.2

contents of build.sbt
[code]
## problem
`ThisBuild / semanticdbVersion := "4.2.3"` appears to be ignored and `sbt compile` fails with

[code]

Ie. org.scalameta:semanticdb-scalac_2.13.1:**4.1.0** looks like sbt is attempting to download semanticdb-scalac 4.1.0 which isn't built for Scala 2.13.1, ignoring the semanticdbVersion of 4.2.3 which is built for Scala 2.13.1.

[2019-09-21 21:41] eed3si9n commented on #1656
This was fixed in https://github.com/sbt/website/pull/716/commits/806ba0940e6758e73f9494972b7ae899a174af75

[2019-09-21 21:41] #1656 closed, assigned to nobody

[2019-09-21 21:45] eed3si9n commented on #1696
Closing this since it doesn't look relevant anymore.

[2019-09-21 21:45] #1696 closed, assigned to nobody

[2019-09-21 22:29] #809 closed, assigned to nobody

[2019-09-22 00:51] #4261 closed, assigned to nobody

[2019-09-22 17:04] er1c opened #5113 "sbt -V and sbt -version missing now"
## steps
sbt version: `1.2.8`

There is some irony here :)

## problem

the README.md: https://github.com/sbt/sbt-launcher-package/blob/master/README.md
man doc: https://github.com/sbt/sbt-launcher-package/blob/10693a800a2b5ce602d76c4a8cae896ef555b3e6/src/linux/usr/share/man/man1/sbt.1#L23

[code]

## expectation

I expected to see ` -V | -version      print the version of mothership sbt` in the o

[2019-09-22 17:07] smarter commented on #5058
i figured it out, and the reason why makes me sad: https://github.com/sbt/zinc/pull/699

[2019-09-22 17:09] er1c commented on #5113
I see this was added for 1.3.0: https://github.com/sbt/sbt-launcher-package/commit/16f5b638df1fd7f8620ea8422a85e4587703229d#diff-0b6d2e7fe1da019c382df1df10dba05a

I'll close this, however the windows .bat file may still need edits.

[2019-09-22 17:09] #5113 closed, assigned to nobody

[2019-09-22 17:14] margussipria opened #5114 "sbt.JUnitXmlTestsListener removes part of test name if test name contains dot"
## steps
sbt version: `1.3.0`, `1.3.1`, `1.3.2` (probably earlier)

## problem
After spending *hours* figuring out why upgrade from `1.1.6` mangled our tests (https://github.com/scalatest/scalatest/issues/1427 - really there should be migration info when `JUnitXmlReportPlugin` was added) I stared to test should run sbt's reporter or ScalaTest's.

- When running with `1.1.6` our CI reported that we

[2019-09-22 21:12] ches opened #5115 "[1.3.x] sbt's deps are downloaded by both Ivy and Coursier"
## steps

sbt version: *1.3.2*

[code]

<details><summary>Collapsed output of above fresh bootstrap, repeated downloads with Ivy and Coursier</summary>

[code]

</details>

[code]

## problem

Excess time and disk space are taken to install a new version of sbt.

My intuition is that the launcher resolves sbt's parts to build sbt-the-application (with Ivy), and then the project build needs to reso

[2019-09-22 22:16] eed3si9n commented on #4437
Problem to be aware of - https://github.com/sbt/sbt/issues/4661

[2019-09-22 22:26] eed3si9n commented on #5115
This is a duplicate of https://github.com/sbt/sbt/issues/4437, which I just reopened.
I had a fix for this for Ivy, https://github.com/sbt/sbt/pull/4443, but had to undo it because exclusion didn't work with Coursier (https://github.com/coursier/coursier/issues/1128#issuecomment-487246635). it might be good to revisit this issue.

[2019-09-23 08:53] bjaglin opened #5116 "[1.3.x turbo] deadlock in sbt internal classloaders when running tests"
## steps
* sbt version
  - reproducable on 1.3.0 & 1.3.2
  - I do not remember seeing it on early 1.3 RCs (before https://github.com/sbt/sbt/commit/9c821b7b13eb14d20eedf51efa28a8f82bdb22e6#diff-9426c31e9b78333e024e94f62b057583 was introduced) but I can't tell for sure
  - never reproduced on 1.2.x
* turbo mode enabled
* default test settings: no fork, parallel execution

## problem

`sbt test` han

[2019-09-23 08:53] bjaglin commented on #5116
I am trying to reproduce without the `turbo` flag, and will update if I manage.

[2019-09-23 14:24] eed3si9n commented on #5116
@bjaglin Thanks for the report. Is there any project that would reproduce this behavior available publicly?

[2019-09-23 14:28] bjaglin commented on #5116
@eed3si9n unfortunately, no - still trying to narrow the problem down so that I could provide a test suite, but the transient nature of the problem makes it hard.

[2019-09-23 16:05] eed3si9n opened #5117 "sbt --version is slow"
## steps

[code]

## problem

It takes a long time to print out the version number.

## expectation

It should be much faster.

## notes

Currently the entire build is loaded just to print out the version number, but the launcher knows what sbt core artifact version it _will_ resolve to so we can short circuit and print that number instead _without_ loading the build.

Back in the days when launch

[2019-09-23 16:44] eed3si9n opened #5118 "sbt nightlies should be tested on Community Builds 2.12.x"
## problem

sbt commits are not tested against Community Builds until we hit the RC cycle, which is late.

## expectation

Merged PRs are tested in 24h.

## notes

sbt nightlies are kicked off on Jenkins already using Dbuild. On success, Community Builds can be triggered similar to the process used by Scala compiler's nightly builds.

[2019-09-23 16:49] eed3si9n commented on #5110
@ryanberckmans Thanks for the report. I think the workaround would be to scope as `Global / semanticdbVersion` for now.

I think it makes sense to support `ThisBuild` scoping as well.

The fix would be to move

https://github.com/sbt/sbt/blob/3ca185fe30bbd0a752cdff7aa9bf67d28d413c4c/main/src/main/scala/sbt/plugins/SemanticdbPlugin.scala#L25-L28

into `projectSettings`.

[2019-09-23 16:50] eed3si9n commented on #5114
@margussipria Thanks for the report! Would you like to contribute a fix for this?

[2019-09-23 17:57] eatkins commented on #5116
Thanks for linking to the commit that you suspect might have introduced the issue. Looking at it, it does seem like we might be holding the lock too long. That being said, turbo mode enables `ClassLoaderLayeringStrategy.AllLibraryJar` which isn't optimal if java reflection is used by dependencies to load classes from your project (which is often caused by java serialization/deserialization). I sus

[2019-09-23 20:09] eed3si9n opened #5119 "_to_be_replaced is not replaced"
originally reported by @er1c

## steps

Install sbt 1.3.2

[code]

## problem

`_to_be_replaced` is a placeholder that was not replaced.

## expectation

That should use 1.3.2.

## notes

This regressed likely when two bash scripts were merged. See https://github.com/sbt/sbt-launcher-package/blob/v1.2.8/build.sbt#L156-L160

[2019-09-23 20:29] eed3si9n opened #5120 "document Coursier cache location"
1. `csrCacheDirectory` key,
2. `-Dsbt.coursier.home` property
3. `COURSIER_CACHE` environment variable
4. Does old cache location (`$HOME/.coursier/cache/v1`) exist? If so, use it * subject to change
5. What OS do you use? If it's Linux, `$HOME/.cache/coursier/v1`.

[2019-09-23 22:55] jsoref opened #5121 "Bump up sbt-launcher-package to sbt 1.x, and move it here"
## steps
sbt version: 0.13.17 (launcher is 1.3.2)

## problem
1. cloning https://github.com/sbt/sbt-launcher-package and then running `sbt` from the directory results in:
[code]

While the relevant information is technically in the output, it isn't remotely obvious that one should pass `-Dsbt.build.version=1.3.2` to `sbt`, as in:

[code]

It really isn't ok to bury important information ~100 lines

[2019-09-24 04:07] ryanberckmans commented on #5110
@eed3si9n thanks for the quick response and workaround!

[2019-09-24 09:16] margussipria commented on #5114
There is 5 Test framework's supporter currently and I do not know if they all behave same way. And there is Zero tests for that listener?

My fix would be to remove `.split('.').last` from 2 lines and it would work for ScalaTest and probably for Spec2, but would really need to be tested for JUnit. (https://github.com/sbt/junit-interface/blob/master/src/main/java/com/novocode/junit/EventDispatcher.

[2019-09-24 09:33] swaldman opened #5122 "[supershell] interactive tasks have a hard time with super shell"
## steps
sbt version: 1.3.2

## problem
Here's a minimal `build.sbt`:

[code]
It's not usable with super shell enabled.

## expectation

In older version of sbt, or in 1.3.x with `ThisBuild / useSuperShell := false`, this does what you'd expect:

[code]
However, with super shell, the interactive prompt flashes instantaneously and then is overwritten:

[code]

Even if you know the prompt, each char

[2019-09-24 10:56] marcindulak opened #5123 "sbt download from piccolo.link returning 500"
[code]

[2019-09-24 12:58] eed3si9n commented on #5123
@marcindulak Thanks for the report. We're currently investigating the situation.
In the meantime please use the link from https://github.com/sbt/sbt/releases/tag/v1.3.2.

[2019-09-24 13:05] eed3si9n commented on #5122
@swaldman Thanks for the report! Maybe we need a way to let build authors opt-out of super shell during some tasks.

[2019-09-24 13:43] eed3si9n commented on #5123
I've contacted the CDN, and they've brought the service back up.
Internal investigation might continue, but I am closing this for now.

[2019-09-24 13:43] #5123 closed, assigned to nobody

[2019-09-24 16:06] OlegYch opened #5124 "[1.3.2] fgRun performance regression"
## steps
sbt version: 1.3.2
build.sbt
[code]

main.scala
[code]

## problem
running this with `fgRun` takes around 1 second

## expectation
~1ms run (like with 1.3.0)

## notes
plain `run` now runs faster than `fgRun`, even though `bgRun` is as slow as it was before

[2019-09-24 19:18] jsoref commented on #5119
Fixed by sbt/sbt-launcher-package#289

[2019-09-24 19:32] #5119 closed, assigned to nobody

[2019-09-24 19:42] #2189 closed, assigned to nobody

[2019-09-24 19:43] jsoref opened #5127 "sbt needs to report 401 errors from ivy"
## steps
sbt version: 1.3.2 (from brew)

[code]

## problem / expectation
The error says "not found" in various places, but it would be really helpful if the error instead said 401 in places most closely tied to the requests.

[2019-09-24 19:45] HongyiFu opened #5128 "sbt stuck on windows 10 command prompt"
## steps
sbt version: 1.2.8, 1.3.0, 1.3.2,
java 11
windows 10 cmd

Install sbt through the windows installer (.msi file).
Type sbt in command prompt.
sbt does not proceed past this step:

`[info] Loading settings for project global-plugins from idea.sbt ...`

## problem
sbt does not proceed past:
`[info] Loading settings for project global-plugins from idea.sbt ... `

I didn't wait past 15 minutes

[2019-09-24 19:48] eed3si9n commented on #2227
https://stackoverflow.com/a/53525281/3827

[2019-09-24 19:48] #2227 closed, assigned to nobody

[2019-09-24 19:53] smarter commented on #5058
@eed3si9n Could you reopen this so we can make sure that the fix makes it into 1.3.3 ? (I can't reopen it myself)

[2019-09-24 20:01] eed3si9n commented on #5127
I don't think this has anything to do with Coursier.
sbt launcher failed to resolve sbt 1.3.0 (using Ivy).

[2019-09-24 20:18] eed3si9n commented on #5127
To potential contributor:

Relevant code is https://github.com/sbt/ivy/blob/5681e1a77a149b93a4cfbe4a86d0263d7bd223eb/src/java/org/apache/ivy/util/url/BasicURLHandler.java#L140-L147

[code]

Hopefully adding a case for `HttpStatus.SC_UNAUTHORIZED` and logging at `Message.warn(...)` would be enough.

[2019-09-24 20:27] eed3si9n commented on #5115
Closing this in favor of #4437

[2019-09-24 20:27] #5115 closed, assigned to nobody

[2019-09-24 20:31] eed3si9n commented on #1910
I am closing this due to inactivity, but if this is still relevant let us know.

[2019-09-24 20:31] #1910 closed, assigned to nobody

[2019-09-24 20:32] eed3si9n commented on #1838
Not likely relevant since we don't use the feature.

[2019-09-24 20:32] #1838 closed, assigned to nobody

[2019-09-24 20:33] eed3si9n commented on #1837
I am closing this due to inactivity, but if this is still relevant let us know with more details (reproduction steps etc).

[2019-09-24 20:33] #1837 closed, assigned to nobody

[2019-09-24 20:41] eed3si9n commented on #1780
Since the adoption of Coursier, hopefully some of these issues are now resolved.

[2019-09-24 20:41] #1780 closed, assigned to nobody

[2019-09-24 21:15] jsoref commented on #5127
Fwiw, my logs show:
[code]

Later (when I've switched from 1.3.2 to 1.2.8), I see things more like:
[code]

From my perspective, when I use 1.3.2, the `1.0/plugins/credentials.sbt` file doesn't seem to be used in time to help bootstrap. I think that 1.3.2 may be honoring my `repositories` file sooner than 1.2.8 does.

When I use 1.2.8, sbt is able to get everything it needs. (I suspect from the de

[2019-09-24 21:33] eed3si9n commented on #3249
Using sbt 1.3.0 `project2/test` prints out the following error message:

[code]

Adding `Test / classLoaderLayeringStrategy := ClassLoaderLayeringStrategy.Flat` to both subprojects fixes the test.

In general, sbt's `test` task emulates the JVM using function call into a ClassLoader, so doing anything ClassLoader related is not going to be safe.
See:
- https://www.scala-sbt.org/1.x/docs/In-Process

[2019-09-24 21:33] #3249 closed, assigned to nobody

[2019-09-24 21:42] eed3si9n commented on #5127
Without `-Dsbt.boot.credentials="$HOME/.ivy2/credentials"` or `SBT_CREDENTIALS` I don't expect either to work.

[2019-09-24 22:26] #5124 closed, assigned to nobody

[2019-09-25 01:43] eed3si9n commented on #3750
Hopefully fixed by https://github.com/sbt/librarymanagement/pull/214

[2019-09-25 01:43] #3750 closed, assigned to nobody

[2019-09-25 01:48] eed3si9n commented on #3732
Tested using sbt 1.3.2 (1.3.x switched the internal dependency resolver to Coursier), and it works fine for me.

[2019-09-25 01:48] #3732 closed, assigned to nobody

[2019-09-25 01:52] eed3si9n commented on #2788
Fixed in sbt 1.3.0.

[2019-09-25 01:52] #2788 closed, assigned to nobody

[2019-09-25 01:58] eed3si9n commented on #2695
There's a blog post on this topic - https://blogs.oracle.com/quinn/a-little-trick-with-windows-bat-scripts-argument-processing-and-equals-signs

[code]

[2019-09-25 01:59] eed3si9n commented on #4923
Closing this as a duplicate of #2695.

[2019-09-25 01:59] #4923 closed, assigned to nobody

[2019-09-25 02:46] swaldman commented on #5122
Task-scoped `useSuperShell := false` would be a nice feature, if it's not a huge pain to make happen, as for some interactive tasks you like to have the vertical space.

But as long as supershell respects synchronization on `System.out`, it's not a hugely urgent problem. An easy thing to do for now would be to document a convention of using `System.out`'s lock to protect interaction.

(`Interactio

[2019-09-25 04:10] eed3si9n commented on #2695
Looping with `for /F` works for `=` sign handling, but it uses whitespace and tab as delimiter, so it cannot handle `sbt --java-home "C:\Program Files\Java\jdk1.8.0_161"`. It would split it at `"C:\Program"`.

[2019-09-25 06:01] eed3si9n commented on #2695
Providing a special case handling for arguments starting with `-D` was much easier to do - https://github.com/sbt/sbt-launcher-package/pull/290

[2019-09-25 08:22] leonardehrenfried commented on #5116
I'm seeing something very similar in our integration tests but it's very hard to pin down since it only happens on our CI hosts (Gitlab CI on kubernetes runners).

In our case it only happens when loading resources (application.conf via typesafe config).

About 10% of the time the test run just deadlocks and never finishes. In another 20% it cannot find the application.conf file on the classpath a

[2019-09-25 10:31] bjaglin opened #5132 "[1.3.x coursier] artifact type overriden in libraryDependencies ignored"
## steps
sbt version: 1.3.0, 1.3.2

build.sbt
[code]

## problem

update report shows `exe` as artifact type
[code]

## expectation

update report should show `protoc-plugin` as artifact type

https://github.com/sbt/librarymanagement/blob/3377168/core/src/main/scala/sbt/librarymanagement/ModuleIDExtra.scala#L120-L125

## notes

disabling coursier brings back the 1.2.x / expected behavior

[code]

[2019-09-25 10:54] bjaglin commented on #5116
@leonardehrenfried you are probably experiencing another issue, as I have confirmed my problem was related to the classpath layering exposed behind the turbo flag.

[2019-09-25 11:01] bjaglin commented on #5116
@eatkins Regarding serialization: I can't tell for sure as the project has many dependencies, but the classes showing in the stack trace are generated from https://github.com/scalapb/ScalaPB, which as far as I know does not make use of reflection. We are using structural types in one place, but it does not seems related. I'll try to get rid of it and reproduce the problem. Do you have anything in

[2019-09-25 11:01] bjaglin commented on #5116
One thing I could have mentioned in the description since it might impact the classloading behavior is that this is multi-project build (a simple tree with a few commons module), and the deadlock happens when running ITs on the tree leaves.

[2019-09-25 12:14] symbiont-eric-torreborre commented on #3249
Thanks for the update Eugene, there are still many things related to classloaders which I don't know.

[2019-09-25 12:16] bjaglin commented on #5132
a real-world test case (plugin that relies on the expected behavior): https://github.com/thesamet/sbt-protoc/pull/105

[2019-09-25 15:18] #2695 closed, assigned to nobody

[2019-09-25 19:52] leonardehrenfried commented on #5116
I hate to keep interjecting but I have a possible clue about when this problem appears (at least in my case):

It appears to be triggered when loading a type from the same package which is in another module.

In case it isn't clear, I'm referring to the following file structure:

[code]
BSpec loads B which load A.

~If I move the files into another package my deadlocks go away.~ I spoke too soon:

[2019-09-25 19:53] kwalcock commented on #4923
Thanks for figuring out the relationship between these two issues.  This may allow me to work around the problem in my particular case.

[2019-09-26 00:20] eatkins commented on #5116
@leonardehrenfried I appreciate your chiming in. I'm less convinced now that is due to java serialization than it was before. I have a simple repro that can cause deadlock without java serialization.

[2019-09-26 02:06] #3797 closed, assigned to nobody

[2019-09-26 03:19] eed3si9n commented on #1676
I am going to preemptively close this as hopefully-fixed-in-Coursier.
Please let us know if this not the case.

[2019-09-26 03:19] #1676 closed, assigned to jsuereth

[2019-09-26 03:19] #4489 closed, assigned to nobody

[2019-09-26 03:22] eed3si9n commented on #2250
We no longer display Resolving.. message.

[2019-09-26 03:22] #2250 closed, assigned to nobody

[2019-09-26 03:24] eed3si9n commented on #2341
Closing this a duplicate of https://github.com/sbt/sbt/issues/1373

[2019-09-26 03:24] #2341 closed, assigned to nobody

[2019-09-26 03:35] eed3si9n commented on #2675
I am closing this due to inactivity, but if this is still relevant let us know.

[2019-09-26 03:35] #2675 closed, assigned to nobody

[2019-09-26 03:45] eed3si9n commented on #3476
https://docs.travis-ci.com/user/conditions-v1

We can run regex test against `branch` or `commit_message`, for example looking for terms like `travis:full-test` or `coursier`.

[2019-09-26 07:58] HyukjinKwon commented on #5114
FYI, this is a duplicate of https://github.com/sbt/sbt/issues/2949

[2019-09-26 08:09] ticofab commented on #5046
just for a pulse on this issue - still happening in `1.3.2`.

[2019-09-26 08:28] leonardehrenfried commented on #5116
I also just noticed that it does not solve the problem after all. It just makes it appear less frequently.

[2019-09-26 13:23] #4433 closed, assigned to nobody

[2019-09-26 15:06] eed3si9n commented on #5046
Could someone report it to coursier/coursier plz?

[2019-09-26 19:54] eatkins commented on #5116
I think the issue may not have been specific to turbo mode. It turns out that the sbt classloaders were not [parallel capable](https://docs.oracle.com/javase/8/docs/api/java/lang/ClassLoader.html#registerAsParallelCapable--). In https://github.com/sbt/sbt/pull/5131, I reimplemented the classloaders in java and registered them all as parallel capable. Prior to this change, I had a good repro that w

[2019-09-26 21:19] ghost commented on #1673
I was hoping we wouldn't encounter this after an sbt upgrade. Still present in 1.3 in our ci builds

[2019-09-26 21:24] eed3si9n commented on #1673
@kanishka-azimi Hi. Do you have the stack trace for it? It might help diagnose what's causing the problem.

[2019-09-26 21:35] eed3si9n commented on #1673
In most of the plugin induced cases, I think `Compile / compile` task for a particular subproject is being called using runTask outside of sbt's state management, and thus introducing a parallel universe against a single `target`. I am going to close this, but if anyone has reproduction steps (doesn't have to be reliable), feel free to submit a new bug or request to reopen.

[2019-09-27 00:12] Miuler opened #5134 "Auth fail in private repo: sbt new git@bitbucket.org:miuler/private-repo.g8.git"
## steps
sbt version: 1.3.2

sbt -v new git@bitbucket.org:miuler/demo.g8.git
[process_args] java_version = '8'
[sbt_options] declare -a sbt_options=()
# Executing command line:
java
-Dfile.encoding=UTF-8
-Xms1024m
-Xmx1024m
-Xss4M
-XX:ReservedCodeCacheSize=128m
-jar
/home/miuler/.sdkman/candidates/sbt/1.3.2/bin/sbt-launch.jar
new
git@bitbucket.org:miuler/demo.g8.git

[info] Loading settings for pr

[2019-09-27 05:26] eed3si9n commented on #5128
Does it happen on all projects?
Also could you remove all plugins, including IntelliJ plugin and see if your build would load?

[2019-09-27 05:40] eed3si9n commented on #4523
If either @dwijnand or @charleso wants to try hedgehog with the notorious ParseKey, we can give it a go. (It might get stuck on PR queue until we fix the parse key itself if the test correctly fails)

[2019-09-27 05:45] charleso commented on #4523
@eed3si9n would be happy to! Although is that any different/extra than that I already spiked/tested on my branch above? Sorry if I'm missing something obvious.

[2019-09-27 12:35] bjaglin commented on #5116
@leonardehrenfried

Apologies if I sounded sharp, your troubleshooting contributions are definitely welcome!

I do have classes from the same package spread across modules.

[2019-09-27 12:36] bjaglin commented on #5116
Regarding `turbo` being (or not) a factor to my issue: since I disabled `turbo`, I have not witnessed a single deadlock (out of ~100 CI builds), which obviously doesn't mean I never will, but the reproducibility rate without it is (at least) an order of magnitude lower than with it. I guess turbo might not be a cause but rather a catalyst as it increases concurrency...

@eatkins I'll see if I can

[2019-09-27 13:47] ghost commented on #1673
Happens once every ~40 invocations of sbt publishLocal across various projects. Doesn't seem specific to any particular library or server project.
[code]

key parts of build.sbt and related (I believe you wrote most of the code below):
[code]

some plugins referenced transitively from the compiling project:
[code]

[2019-09-27 14:29] eed3si9n commented on #4523
awesome.

No. I guess I can bump to the latest hedgehog-sbt, and see if it succeeds locally.

[2019-09-27 14:45] azolotko opened #5135 "sbt overrides -XX:MaxRAMPercentage/-XX:MinRAMPercentage by adding -Xmx/-Xms"
According to http://hg.openjdk.java.net/jdk/jdk11/file/1ddf9a99e4ad/src/hotspot/share/runtime/arguments.cpp#l1750, -Xmx/-Xms options have precedence over recently introduced -XX:MaxRAMPercentage/-XX:MinRAMPercentage. sbt doesn't recognise the laters and adds its default -Xmx/-Xms values, which causes problems for users who try to run sbt in cgroup-constrained environments, for example Docker.

[2019-09-27 14:59] eed3si9n commented on #5135
@azolotko Thanks for the report!

The relevant part of the script is likely https://github.com/sbt/sbt-launcher-package/blob/23e0f6ebeecbcc685fc3d5bda36e0b2125f50c2c/src/universal/bin/sbt#L176-L188

[code]

I guess we need to add `-XX:MaxRAMPercentage/-XX:MinRAMPercentage` as one of the memory opt-out signal.

Would you like to send a PR for this?

[2019-09-27 15:00] eed3si9n commented on #5134
@Miuler I am guessing this is more of a https://github.com/foundweekends/giter8 issue. Could you report it there please?

[2019-09-27 15:00] #5134 closed, assigned to nobody

[2019-09-27 15:03] eed3si9n commented on #5121
One of the lagging reasons has been that sbt-launcher-package was reused between sbt 1.x and sbt 0.13, so I couldn't just bump the minimum JDK to 8 right away. Now that we probably don't care about that, we could either bump to sbt 1.x and also use this opportunity to move the entire repo into sbt/sbt.

[2019-09-27 15:16] azolotko commented on #5135
@eed3si9n Yes, I'll prepare a PR during the weekend.

[2019-09-27 17:48] tiongl commented on #5066
@greatmengqi I think -Dsbt.supershell=false fixes it.

[2019-09-27 19:05] eed3si9n commented on #1673
@kanishka-azimi

It doesn't jump out to me, but is this for a product covered by Lightbend Subscription? If so could you open a support case about this please?

[2019-09-27 20:38] eed3si9n commented on #4523
I wanted to bump the example count from 100 to 10000 so added the following:

[code]

It worked for 1000, but when it's 10000 it failed without any hints of what happened.

[code]

[2019-09-27 20:46] eed3si9n commented on #4523
Here's my branch - https://github.com/sbt/sbt/compare/develop...eed3si9n:wip/hedgehog?expand=1

[2019-09-27 20:53] charleso commented on #4523
@eed3si9n Hmm, that's not good at all. :( Investigating now. Thanks for the branch.

[2019-09-27 21:43] charleso commented on #4523
@eed3si9n I'm going to have to head out (this morning my time), but there is an error in the actual `Gen`. code somewhere. It looks like it fails when it generates two `ProjectRef`s with the _same_ `build`, and `buildMap(ref.build).projectMap(ref.project)` then fails because the project doesn't exist in the second/other build. It _seems_ to be trigger more frequently by the change in [b35cfba8f](h

[2019-09-27 22:37] eed3si9n commented on #1917
Hello from 2019.

I think this is mostly a documentation issue, which I am fixing in https://github.com/sbt/website/pull/832

The gist is:

[code]

and

[code]

should work for Maven style repo.

[2019-09-27 22:55] eed3si9n commented on #4523
It's all open source, so plz don't apologize (for all we know it could be sbt that's eating the stack trace), and there's no need rush here.

[2019-09-27 23:18] eed3si9n commented on #4523
Added https://github.com/sbt/sbt/commit/a2753e0fe2b1880bb2c26893efd2453c4181a803 as a workaround.

... and I got to a failing test.

[code]

[2019-09-27 23:20] #1917 closed, assigned to nobody

[2019-09-27 23:22] charleso commented on #4523
Thanks. I just felt a little embarrassed. :)

Great! All those A's means the shrinking is doing _something_. Is that test failure useful/minimal for you?

[2019-09-27 23:31] eed3si9n commented on #4523
Yea. It looks much better than the Unicode character soup you get with a typical property based testing.

[2019-09-27 23:33] charleso commented on #4523
Yeah integrated shrinking really is quite nice/handy. No extra work
required and much better failure cases.

On Sat, 28 Sep 2019, 9:31 am eugene yokota, <notifications@github.com>
wrote:

[2019-09-27 23:45] joan38 opened #5136 "Transitive dependencies with classifier are not downloaded"
## steps
sbt version: 1.3.2

I think I've been able to reproduce this outside of Netflix:
[code]
Then `show Runtime/fullClasspath` won't show `netty-tcnative` whereas we depend on it in https://repo1.maven.org/maven2/io/netty/netty/3.10.6.Final/netty-3.10.6.Final.pom

## problem

I have a dependency that depends transitively as the following ivy file shows:
[code]
When `useCoursier := true` that t

[2019-09-27 23:57] charleso commented on #4523
@eed3si9n other than fixing the error handling bugs you just ran in to, is there anything else I can do for you/this? Just out of curiosity, is there any reason/catalyst for the sudden interest from you, or just playing around?

[2019-09-28 04:47] eed3si9n commented on #4523
I haven't dug deep enough to know what help I could ask for, but the fact that I could just increase the example count from the code I think is a nice enhancement. IIUC, that not something ScalaCheck can do.

There's no deep reason. We've shipped sbt 1.3.0 (and subsequent 1.3.2) after many months, so I am just checking around older issues that I didn't have bandwidth to look into before.

[2019-09-28 08:56] ticofab commented on #5046
Added as https://github.com/coursier/coursier/issues/1385 . (edit: awesome that Github adds the reference automatically!)

[2019-09-28 09:30] margussipria commented on #5114
I made manual tests with 4 different backends (didn't test original Specs - hope that nobody is using Scala 2.8.x with sbt 1.3+).

I found that with every backend there is this same problem, `.split('.').last` are totally unnecessary, expect when using JUnit 4 in plain mode. Even with Junit 4.11+ there is dynamic part of name for Parameterized test and if there is dot in name template it would fai

[2019-09-28 19:35] eed3si9n commented on #4523
I don't want to impose but having a normal version number like "0.1.0" might be useful, partly so we can talk about it like wine e.g. "1.2.8 turned out to be a stable work horse."
If you use https://github.com/dwijnand/sbt-dynver, it can combine both the last known tag + commit sha for in-betweens. Some projects also use https://github.com/olafurpg/sbt-ci-release to publish automatically to Maven

[2019-09-28 20:05] eed3si9n commented on #5136
@joan38 Thanks for the report. Could you also report this to coursier/coursier as well please?

[2019-09-28 22:23] charleso commented on #4523
@eed3si9n No fair enough, I knew this was [coming](https://github.com/hedgehogqa/scala-hedgehog/issues/103). I've just released `0.1.0`.

[2019-09-29 00:17] eed3si9n commented on #5114
https://github.com/sbt/sbt/blob/dca44d570d4fa5efb4fb46a6d09111ecd8472d3b/testing/src/main/scala/sbt/JUnitXmlTestsListener.scala#L115-L122

What about the `name` (`classname` attribute) in the above?

If sbt/junit-interface is the only test framework that's emitting fully qualified name, could we compare the value of `name` against `selector.testName` and see if it starts with `name`? That way juni

[2019-09-29 00:18] eed3si9n commented on #5114
@HyukjinKwon Thanks for letting us know. I'll make sure to close both issues once this gets fixed.

[2019-09-29 17:22] margussipria commented on #5114
If there is need to keep `junit-interface` as it is now, for JUnit 4 there can be match with name and then remove name + one char, but with JUnit 5 there is only test class, not full path.

I tested with following code:

[code]

that would change result as following:
class: `example.Junit4Test`
testname: `example.Junit4Test.testSomeString`
old-result: `testSomeString`
new-result: `testSomeString`

[2019-09-29 17:50] eed3si9n commented on #5114
Ok, then the regex solution sounds like a good solution for non-nested tests.

Changing `name` to `nested.suiteId()` sounds fine to me.

[2019-09-29 18:48] eed3si9n commented on #4815
There's manual work involved to create the installers, so I don't always create them for RCs.

[2019-09-29 18:48] #4815 closed, assigned to nobody

[2019-09-29 20:32] eed3si9n commented on #3956
I am closing this for now since there's not much we can do to proceed.

[2019-09-29 20:32] #3956 closed, assigned to nobody

[2019-09-29 20:33] eed3si9n commented on #1803
I am closing this due to inactivity, but if this is still relevant let us know with more details (reproduction steps etc).

[2019-09-29 20:33] #1803 closed, assigned to nobody

[2019-09-29 20:42] eed3si9n commented on #2090
I am closing this due to inactivity, but if this is still relevant let us know with more details.

[2019-09-29 20:42] #2090 closed, assigned to nobody

[2019-09-29 20:44] eed3si9n commented on #2886
I am closing this for now.

[2019-09-29 20:44] #2886 closed, assigned to nobody

[2019-09-29 20:45] eed3si9n commented on #3499
`~` has improved in sbt 1.3.0, so I am closing this preemptively. Let us know if this issue is still relevant.

[2019-09-29 20:45] #3499 closed, assigned to nobody

[2019-09-29 20:47] eed3si9n commented on #4179
Does this still happen with sbt 1.3.2?

[2019-09-29 21:14] eed3si9n commented on #4554
To make sure I don't have things cached on my machine, I just used a fresh Ubuntu image on Docker, and was able to install AdoptOpenJDK JDK 11, sbt 1.3.2, and run the Dotty template.

https://gist.github.com/eed3si9n/ef7a4972539c8014c662e1e6d021bf81

[code]

For now I am going to close this issue, but it might be useful to reproduce this on Travis CI or some other repeatable infrastructure to figu

[2019-09-29 21:14] #4554 closed, assigned to nobody

[2019-09-29 21:15] eed3si9n commented on #4562
I am closing this due to inactivity, but if this is still relevant let us know with more details (reproduction steps etc).

[2019-09-29 21:15] #4562 closed, assigned to nobody

[2019-09-29 21:19] eed3si9n commented on #4694
The super shell implementation has been updated since 1.3.0-RC1. Does this problem with Ctrl-L still  happen with 1.3.2?

[2019-09-29 21:33] eed3si9n opened #5140 "Update robots.txt and sitemap"
### problem

https://github.com/sbt/sbt.github.com/blob/master/robots.txt

[code]

https://github.com/sbt/sbt.github.com/blob/master/sitemap_index.xml

[code]

### expectation

Update the robots.txt and exclude sbt 0.13 docs.
Update the sitemap generation to make sure 1.x docs are dated correctly.

[2019-09-29 21:49] eed3si9n commented on #5140
https://github.com/sbt/sbt.github.com/commit/60f8cdff5a3d20c34baff8bceb182f912582f50c

[2019-09-29 22:31] eed3si9n commented on #3231
https://github.com/sbt/website/pull/738 added outdated banner like Akka.

https://github.com/sbt/sbt.github.com/commit/60f8cdff5a3d20c34baff8bceb182f912582f50c should exclude 0.13 or 0.12 docs from future indexing.

[2019-09-29 22:31] #3231 closed, assigned to nobody

[2019-09-29 22:36] eed3si9n commented on #1623
Closing this.

[2019-09-29 22:36] #1623 closed, assigned to nobody

[2019-09-29 22:38] #1967 closed, assigned to nobody

[2019-09-30 00:58] #5140 closed, assigned to nobody

[2019-09-30 06:40] eed3si9n commented on #2948
This is probably expected since recursive calls are not allowed for flatMap / dynamic tasks.

[2019-09-30 06:41] eed3si9n commented on #2623
I think this is now fixed in the latest sbt 1.3.x series.

[2019-09-30 06:41] #2623 closed, assigned to nobody

[2019-09-30 06:50] eed3si9n commented on #4909
Seems to be fixed now.

[2019-09-30 06:50] #4909 closed, assigned to nobody

[2019-09-30 07:03] eed3si9n commented on #4718
This seems to work for me:

[code]

[2019-09-30 07:03] #4718 closed, assigned to nobody

[2019-09-30 07:30] eed3si9n commented on #2280
@eatkins is there a way to use glob as excludeFilter?
Or would it look like:

[code]

[2019-09-30 07:32] eed3si9n commented on #3506
sbt-allsources.sh should work now, but I am not sure if we should recommend it as a way of contribution.

[2019-09-30 07:32] #3506 closed, assigned to nobody

[2019-09-30 07:36] jvican commented on #2948
To me, this is a serious bug in the way sbt handles the references to previous task definitions and it's just a leak of the current implementation. The expectation as a user is that this would work. It's annoying that the internal task cannot be referenced when `dummyTask` is added to `Def.sequential` and it works without it. Examples such as this end up being one of the reasons why people heavily

[2019-09-30 07:57] eed3si9n commented on #3938
Hopefully this was addressed in https://github.com/sbt/ipcsocket/pull/3

[2019-09-30 07:57] #3938 closed, assigned to nobody

[2019-09-30 07:59] #4182 closed, assigned to nobody

[2019-09-30 08:32] lxohi commented on #4718
Looks like ```jline.terminal``` does the magic. And I can now write scripts with background sbt tasks.

Thank you for the reply😋

[2019-09-30 14:47] #2949 closed, assigned to nobody

[2019-09-30 14:54] eed3si9n commented on #2948
ok. So the expectation is that reassignment doesn't create an infinite loop, but instead call the older definition? I could reopen this issue.

[2019-09-30 14:57] eed3si9n commented on #4371
Hopefully fixed by https://github.com/scala/scala/pull/7334.

[2019-09-30 14:57] #4371 closed, assigned to nobody

[2019-09-30 19:04] #1458 closed, assigned to nobody

[2019-09-30 19:11] eed3si9n commented on #3727
Related: https://github.com/sbt/sbt/issues/1731

[2019-09-30 19:14] eed3si9n commented on #1794
Closing this since there's a plugin for it.

[2019-09-30 19:14] #1794 closed, assigned to nobody

[2019-09-30 19:18] eed3si9n commented on #4008
[code]

Fixed in https://github.com/sbt/sbt/pull/4965

[2019-09-30 19:18] #4008 closed, assigned to nobody

[2019-09-30 19:32] eed3si9n commented on #3188
To implement this `testOnly` should become a command. Something that can/should be experimented as a plugin.

The command can mimic the aggregation semantics of act command and verify the test count.

[2019-09-30 19:34] eed3si9n commented on #2131
Is this fixed now that we're using Scala 2.12?

[2019-09-30 19:34] #2131 closed, assigned to nobody

[2019-09-30 19:35] #5135 closed, assigned to nobody

[2019-09-30 19:37] eed3si9n commented on #4179
Hopefully it's now fixed. If not let us know.

[2019-09-30 19:37] #4179 closed, assigned to eatkins

[2019-09-30 19:43] eed3si9n commented on #4134
I was able to run consoleProject using the zip file provided.
@eatkins discovered that updating to the latest launcher JAR fixed the `consoleProject` at least in some cases, so I might suggest that.

[2019-09-30 19:45] eed3si9n commented on #4111
Fixed in sbt 1.3.0.

[2019-09-30 19:45] #4111 closed, assigned to nobody

[2019-09-30 19:56] eed3si9n commented on #4629
Closing this since sbt 1.3.x now uses Coursier.
Let me know if this is still relevant.

[2019-09-30 19:56] #4629 closed, assigned to nobody

[2019-09-30 20:11] eed3si9n commented on #2233
So the repro steps is you add

[code]

where Javadoc is not available for some reason, and you want the build to not fail?

Right, so `build.sbt` is for defining the build, and if someone is specifying that my module _depends_ on JavaDoc, I would say it's part of the build semantics. In other words, if it didn't fail, there would be some other set of people who would open an issue saying it's sile

[2019-09-30 20:14] eed3si9n commented on #4311
ok so that sounds like you just need more stack space.

[2019-09-30 20:14] #4311 closed, assigned to nobody

[2019-09-30 20:18] eed3si9n commented on #3627
I think this was fixed in https://github.com/sbt/librarymanagement/pull/214.

[2019-09-30 20:18] #3627 closed, assigned to nobody

[2019-09-30 20:22] #3665 closed, assigned to nobody

[2019-09-30 20:41] eed3si9n commented on #2350
I am closing this due to inactivity, but if this is still relevant let us know about specific tasks.

[2019-09-30 20:41] #2350 closed, assigned to nobody

[2019-09-30 20:42] eed3si9n commented on #2307
I am closing this due to inactivity, but if this is still relevant let us know.

[2019-09-30 20:42] #2307 closed, assigned to nobody

[2019-09-30 20:43] eed3si9n commented on #2275
Closing this hoping that the latest watch works better.

[2019-09-30 20:43] #2275 closed, assigned to nobody

[2019-09-30 20:44] eed3si9n commented on #2249
`publish / skip` - https://github.com/sbt/sbt/pull/3380

[2019-09-30 20:44] #2249 closed, assigned to nobody

[2019-09-30 20:49] eed3si9n commented on #4452
It seems to work ok for sbt 1.3.2.

[2019-09-30 20:59] eed3si9n commented on #2309
Sorry about the delayed response, but my guess is that this is a Scala bug, not sbt.

[code]

[2019-09-30 20:59] #2309 closed, assigned to nobody

[2019-09-30 21:01] eed3si9n commented on #2066
I think this should be something implemented in Scala itself.

[2019-09-30 21:01] #2066 closed, assigned to nobody

[2019-09-30 21:04] eed3si9n commented on #2328
I am closing this due to inactivity, but if this is still relevant let us know with more details (reproduction steps etc).

[2019-09-30 21:04] #2328 closed, assigned to nobody

[2019-09-30 21:07] eed3si9n commented on #2351
I am closing this due to inactivity, but if this is still relevant let us know.

[2019-09-30 21:07] #2351 closed, assigned to nobody

[2019-09-30 21:09] eed3si9n commented on #2449
I think it's fine if ppl had to customize via classpathTypes setting.

[2019-09-30 21:09] #2449 closed, assigned to nobody

[2019-09-30 21:11] eed3si9n commented on #2447
I am closing this due to inactivity, but feel free to reopen in https://discuss.lightbend.com/c/tooling.

[2019-09-30 21:11] #2447 closed, assigned to nobody

[2019-09-30 21:13] eed3si9n commented on #2588
I am closing this due to inactivity, but feel free to send a PR to https://github.com/sbt/website/blob/develop/src/reference/02-DetailTopics/03-Dependency-Management/04-Proxy-Repositories.md.

[2019-09-30 21:13] #2588 closed, assigned to nobody

[2019-09-30 21:15] #2573 closed, assigned to nobody

[2019-09-30 21:17] eed3si9n commented on #3953
sbt 1.3.0 switches to using Coursier, so I am closing this for now.

[2019-09-30 21:17] #3953 closed, assigned to nobody

[2019-09-30 21:20] eed3si9n commented on #3502
watch has been reimplemented in sbt 1.3.x, so I am closing this preemptively.

[2019-09-30 21:20] #3502 closed, assigned to nobody

[2019-09-30 21:21] eed3si9n commented on #3497
Closing this for now since sbt 1.3.x has reimplemented watch.

[2019-09-30 21:21] #3497 closed, assigned to nobody

[2019-09-30 21:27] eed3si9n commented on #2887
@Sciss Is this still an issue with sbt 1.3.x?

[2019-09-30 21:29] Sciss commented on #2887
No, not seen any longer, I guess you can close. 1.3.x seems quite snappy.

[2019-09-30 21:29] eed3si9n commented on #4289
Not sure if there's much we can do on this one besides eventually stop using Ivy in launcher.

[2019-09-30 21:30] eed3si9n commented on #2887
Cool.

[2019-09-30 21:30] #2887 closed, assigned to nobody

[2019-09-30 22:48] charleso commented on #4523
@eed3si9n Ok to close now?

[2019-10-01 03:17] #4523 closed, assigned to nobody

[2019-10-01 03:18] charleso commented on #4523
🎉

[2019-10-01 08:57] srubietodd opened #5141 "sbt.librarymanagement.ResolveException: Error downloading --- (from local Ivy repo)"
## steps
sbt version: *1.3.2*

**Project Bar**
build.sbt:
[code]
code:
[code]
publish Jar:
[code]
**Project Foo**
build.sbt:
[code]
code:
[code]
compile:
[code]

## problem
The compile of foo fails with:
sbt.librarymanagement.ResolveException: Error downloading me:sbtcoursierbar_2.13:0.1

## expectation

## notes
If I use SBT 1.2.8 then foo compiles. If I disable the use of Coursier (ThisBuild / u

[2019-10-01 09:52] jerryleooo commented on #4296
Any update on this issue? We meet again with sbt 1.1.1, jdk 12 and Scala 2.13

[2019-10-01 10:07] ppiotrow opened #5142 "clean and then clean crash sbt on Docker"
## steps
sbt version: *1.3.2* or *1.3.0*

[code]

## problem
I have pipeline in Drone CI that in the first step does
`sbt -Dsbt.boot.directory=.sbt/boot/  -Dsbt.global.base=.sbt/global clean`
and second step again
`sbt -Dsbt.boot.directory=.sbt/boot/  -Dsbt.global.base=.sbt/global clean`

Both are run in the docker container from some jvm image and share state by persistent .sbt directory. The fir

[2019-10-01 12:13] eed3si9n commented on #5142
@ppiotrow Thanks for the report. Could you please provide a sample project that would cause this so we can reproduce it on our machines?

[2019-10-01 12:22] eed3si9n commented on #5141
@srubietodd Thanks for the report.

[code]

I don't think is necessary since "local" is already in the built-in resolver. It seems like Coursier is having trouble with path that contains whitespace?:

[code]

[2019-10-01 12:38] eed3si9n commented on #4305
This is still broken in sbt 1.3.2.

The key stack trace is

[code]

<details>

[code]

</details>

[2019-10-01 12:49] eed3si9n commented on #4305
To potential contributor the relevant file is likely just https://github.com/sbt/zinc/blob/v1.3.0/internal/zinc-compile-core/src/main/scala/sbt/internal/inc/javac/DiagnosticsReporter.scala#L107.
Currently it seems to make a hard assumption that all URIs are files, and it tries to convert them into file path too quickly. It should check if the URI starts with `file:` and otherwise don't try to atte

[2019-10-01 12:54] eed3si9n commented on #1829
I've flipped the ordering so https://www.scala-sbt.org/1.x/docs/Publishing.html mentions

[code]

first. Hopefully this makes it clear enough that the second parameter is supposed to be host.

Otherwise feel free to send a PR to https://github.com/sbt/website/blob/develop/src/reference/02-DetailTopics/03-Dependency-Management/05-Publishing.md.

[2019-10-01 12:54] #1829 closed, assigned to nobody

[2019-10-01 12:57] eed3si9n commented on #1781
Does this still happen with sbt 1.3.x that uses Coursier, or is it a problem with sbt launcher resolving sbt artifacts? It might be helpful to include the full error message.

[2019-10-01 13:00] eed3si9n commented on #4451
For context #4343 says

[2019-10-01 13:06] eed3si9n commented on #4451
To potential contributor, the relevant files are:
- testing/src/main/scala/sbt/JUnitXmlTestsListener.scala changed in https://github.com/sbt/sbt/pull/4343/files
- and https://github.com/sbt/sbt/blob/develop/main/src/main/scala/sbt/internal/SysProp.scala if we use system properties as flag

For example we can provide `-Dsbt.testing.legacyreport=true` to produce legacy report, but otherwise just use

[2019-10-01 13:09] eed3si9n commented on #3652
I don't see how a doc on this topic can be a contribution. It needs to be written by someone with a good understanding of scoping.

[2019-10-01 13:16] ppiotrow commented on #5142
@eed3si9n I'll work on the minimal project example. Now I managed to reproduce error using this command
[code]
This particular docker image has nothing to do with an error as I'm using custom image in my builds. I can fix build by invoking `rm -rf project/target`.

[2019-10-01 13:20] eed3si9n commented on #2882
@veera83372 Sorry about the delayed response. I'd guess that you have to keep runEarly for InitCommand. Maybe we just need to use system properties to skip rc files like `-Dsbt.sbtrc=false`

[2019-10-01 13:23] eed3si9n commented on #5132
@bjaglin Thanks for the report. If this is likely a Coursier issue, could you report to coursier/coursier as well please?

[2019-10-01 13:34] bjaglin commented on #5132
https://github.com/coursier/coursier/issues/1391

[2019-10-01 13:36] eed3si9n commented on #5088
This was fixed in sbt 1.3.2.

[2019-10-01 13:36] #5088 closed, assigned to nobody

[2019-10-01 13:36] eed3si9n commented on #5089
Also could you try sbt 1.3.2?

[2019-10-01 13:47] ppiotrow commented on #5142
I think I've managed to create sample failing project. Hope there were no local dependencies to my setup https://github.com/ppiotrow/failing-sbt-13

[2019-10-01 14:32] ppiotrow opened #5143 "Expired certificate for https://jenkins.scala-sbt.org/sbt-snapshots/"
## steps
sbt version: 1.3.2

## problem
Some repo.scala-sbt.org certificate got expired at 1.X.2019.
To reproduce enter the url https://repo.scala-sbt.org/scalasbt/maven-snapshots/com/squareup/okio/okio-parent/1.17.2/
Some logs from sbt build
[code]
## expectation
Certificate should be updated.

## notes

[2019-10-01 15:15] eed3si9n commented on #5143
On the browser https://repo.scala-sbt.org/ says it's good till November 2020.
It says repo.lightbend.com, but the cert signs for repo.scala-sbt.org as well.

<img width="486" alt="cert" src="https://user-images.githubusercontent.com/184683/65975439-9e81fb00-e43c-11e9-8fe4-1ade89509675.png">

[2019-10-01 15:20] eed3si9n commented on #5143
Actually it seems the certificate is expired for https://jenkins.scala-sbt.org/sbt-snapshots/com/squareup/okio/okio-parent/1.17.2/okio-parent-1.17.2.jar.

[2019-10-01 15:57] srubietodd commented on #5141
Coursier does not like white space in the path. I have renamed my home directory to get around the issue.
Thanks for your help.

[2019-10-01 16:28] eed3si9n commented on #5143
This is now fixed.

[2019-10-01 16:28] #5143 closed, assigned to nobody

[2019-10-01 19:22] bjaglin commented on #5116
Just an update: for some reason (CI slave load reducing the level of concurrency?), I am having a hard time reproducing the problem in the same condition as originally reported, so I cannot yet confirm whether #5131 fixed my issue or not.

[2019-10-01 19:26] eed3si9n commented on #2825
sbt 1.3.0 implements this.

[2019-10-01 19:26] #2825 closed, assigned to nobody

[2019-10-01 19:30] eed3si9n commented on #4248
Updated the documentation in https://github.com/sbt/website/pull/825, but it seems like it's more to do with bionic using a buggy GnuPG version.

[2019-10-01 19:30] #4248 closed, assigned to nobody

[2019-10-01 19:42] eed3si9n commented on #4326
Maybe this is another benefit to using the style of publishing that first stages to some place, like Sonatype OSS or Bintray.

I'm closing this for now.

[2019-10-01 19:42] #4326 closed, assigned to nobody

[2019-10-01 19:48] eed3si9n commented on #3981
Should be fixed in https://github.com/scala/scala/pull/6479 and https://github.com/scala/scala/pull/8448

[2019-10-01 19:48] #3981 closed, assigned to nobody

[2019-10-01 19:53] eed3si9n commented on #3399
One is `Compile / unmanagedClasspath` and the other is `Compile / unmanagedJars`.
Are you asking for inspect tree but for defined at?

[2019-10-01 20:20] eed3si9n commented on #2947
I didn't confirm it with sbt 1.2.x, but the scenario seems to work for me on 1.3.2 without an error.

[2019-10-01 20:20] #2947 closed, assigned to nobody

[2019-10-01 20:34] eed3si9n commented on #2446
This was one of the main feature of sbt 1.3.0's watch rewrite by @eatkins (https://github.com/sbt/sbt/pull/4512?).
`~foo/compile` now works as expected without aggregation from the current subproject.

[2019-10-01 20:34] #2446 closed, assigned to nobody

[2019-10-01 20:37] #2701 closed, assigned to milessabin

[2019-10-01 20:45] eed3si9n commented on #4995
Fixed in https://github.com/coursier/sbt-coursier/pull/136.
`doc` task seems to work on sbt 1.3.2.

[2019-10-01 20:45] #4995 closed, assigned to nobody

[2019-10-01 20:54] eed3si9n commented on #3948
[code]

This was fixed in 1.3.0.

[2019-10-01 20:55] #3948 closed, assigned to nobody

[2019-10-01 20:59] eed3si9n commented on #3946
@rabejens Could you confirm if this is still an issue with sbt 1.3.x please?

[2019-10-01 21:02] #3162 closed, assigned to nobody

[2019-10-01 21:15] eed3si9n commented on #4607
https://github.com/scala/scala/pull/8442 is merged, so I am going to close this one out.

[2019-10-01 21:15] #4607 closed, assigned to nobody

[2019-10-01 21:17] #3557 closed, assigned to nobody

[2019-10-01 21:18] eed3si9n commented on #3296
I am hoping we're good here.

[2019-10-01 21:18] #3296 closed, assigned to nobody

[2019-10-01 21:20] eed3si9n commented on #3253
I think this is now fixed.

[2019-10-01 21:20] #3253 closed, assigned to nobody

[2019-10-01 22:42] dwijnand commented on #3296
Probably not.  Lots of plugins rely on the internal APIs of structure/loading.

There's also the issue that things are defined in "internal" but then expose as non-external in the sbt package object, which is the worst of both worlds because for sbt maintainers it looks like you can break it, but for users it looks like public API.

And I think there's also stuff not exposed but should be to use f

[2019-10-02 00:21] eed3si9n commented on #4584
I feel like there's already too many package managers I'm personally responsible for distributing sbt very time it comes out. I am certainly not going to jump in to endorse another package manager without popular demand.

[2019-10-02 00:21] #4584 closed, assigned to nobody

[2019-10-02 00:32] eed3si9n commented on #2531
This seems to work fine on sbt 1.3.2.

[2019-10-02 00:32] #2531 closed, assigned to nobody

[2019-10-02 00:39] eed3si9n commented on #2369
Hello from 2019.

This was fixed in sbt 1.3.2 I think, specifically https://github.com/sbt/sbt/pull/5081

[code]

So using sbt 1.3.2 the message is printed for both `run` and `~run`.

[2019-10-02 00:39] #2369 closed, assigned to nobody

[2019-10-02 00:42] eed3si9n commented on #2318
Closing this out.

[2019-10-02 00:42] #2318 closed, assigned to nobody

[2019-10-02 00:49] eed3si9n commented on #3895
Calling `Project.extract(state).runTask` inside a task is not safe because you'd end up with a parallel universe.

[2019-10-02 00:49] #3895 closed, assigned to nobody

[2019-10-02 00:54] eed3si9n commented on #2974
This feels like somewhat dependent on the underlying operating system.
If it exceeds 128KB or whatever, wouldn't the task fail with some error message indicating so?

[2019-10-02 01:03] eed3si9n commented on #3283
[code]

I think this is fixed in sbt 1.3.2.

[2019-10-02 01:03] #3283 closed, assigned to nobody

[2019-10-02 01:13] eed3si9n commented on #5039
@jsoref Thanks for the report.
This seems to be related to another semicolon bug - https://github.com/sbt/sbt/issues/4989

[2019-10-02 01:17] eed3si9n commented on #5039
The expectation should be the same error message as sbt 1.2.8:

[code]

[2019-10-02 02:34] eed3si9n commented on #5039
It's bit of a complicated situation. We do need a `multi` command that can process `compile;test;`, but at the same time, we need to keep it out of tab completion and parser errors when the input string does not include `;`.

This might mean that we can't just `|` together the parsers like we are doing now.

[2019-10-02 02:38] eed3si9n commented on #942
I don't know if the situation has improved much, but we do print out -help and -version now.

[2019-10-02 02:38] #942 closed, assigned to nobody

[2019-10-02 02:42] eed3si9n commented on #2599
This seems to be fixed at some point.

[2019-10-02 02:42] #2599 closed, assigned to nobody

[2019-10-02 02:45] eed3si9n commented on #1371
The error message should now display slash syntax, so I am closing this.

[2019-10-02 02:45] #1371 closed, assigned to nobody

[2019-10-02 02:46] eed3si9n commented on #1503
Hopefully `Def.sequential` was it.

[2019-10-02 02:46] #1503 closed, assigned to nobody

[2019-10-02 02:47] eed3si9n commented on #1735
https://www.scala-sbt.org/1.x/docs/Publishing.html#Define+the+repository

[2019-10-02 02:47] #1735 closed, assigned to nobody

[2019-10-02 02:49] eed3si9n commented on #1897
I am closing this due to inactivity, but if this is still relevant let us know with more details (reproduction steps etc).

[2019-10-02 02:49] #1897 closed, assigned to nobody

[2019-10-02 02:49] eed3si9n commented on #1951
I am closing this due to inactivity, but if this is still relevant let us know with more details (reproduction steps etc).

[2019-10-02 02:49] #1951 closed, assigned to nobody

[2019-10-02 02:50] eed3si9n commented on #1962
sbt 1.3.x has new watch so closing this.

[2019-10-02 02:50] #1962 closed, assigned to nobody

[2019-10-02 02:52] eed3si9n commented on #2007
I am closing this due to inactivity, but if this is still relevant let us know.

[2019-10-02 02:52] #2007 closed, assigned to nobody

[2019-10-02 02:53] eed3si9n commented on #2317
I am closing this due to inactivity, but if this is still relevant let us know with more details (reproduction steps etc).

[2019-10-02 02:53] #2317 closed, assigned to nobody

[2019-10-02 02:55] eed3si9n commented on #2521
sbt 1.3.0 implements auto reloading.

[2019-10-02 02:55] #2521 closed, assigned to nobody

[2019-10-02 02:57] eed3si9n commented on #2306
I am closing this due to inactivity, but if this is still relevant let us know.

[2019-10-02 02:57] #2306 closed, assigned to nobody

[2019-10-02 03:07] eed3si9n commented on #2400
Fixed the doc https://www.scala-sbt.org/1.x/docs/Resolvers.html#Maven+resolvers

[2019-10-02 03:07] #2400 closed, assigned to nobody

[2019-10-02 03:09] eed3si9n commented on #2520
I am closing this due to inactivity, but if this is still relevant let us know with more details (reproduction steps etc).

[2019-10-02 03:09] #2520 closed, assigned to nobody

[2019-10-02 03:11] eed3si9n commented on #2823
I am closing this due to inactivity, but if this is still happens with the latest sbt let us know.

[2019-10-02 03:11] #2823 closed, assigned to nobody

[2019-10-02 03:12] eed3si9n commented on #2929
I am closing this due to inactivity, but if this is still relevant let us know with more details (reproduction steps etc).

[2019-10-02 03:12] #2929 closed, assigned to nobody

[2019-10-02 03:14] eed3si9n commented on #3106
I am closing this due to inactivity, but if this is still relevant let us know with more details (reproduction steps etc).

[2019-10-02 03:14] #3106 closed, assigned to nobody

[2019-10-02 03:36] eed3si9n commented on #2462
Here's what happens on sbt 1.3.2:

[code]

[2019-10-02 03:36] #2462 closed, assigned to nobody

[2019-10-02 03:42] eed3si9n commented on #2550
I guess this was fixed in https://github.com/sbt/sbt/pull/3204

[2019-10-02 03:42] #2550 closed, assigned to nobody

[2019-10-02 04:15] retronym commented on #1673
Noting that the error happened in the `Test / compileIncremental` task.

[SBT configures](https://github.com/sbt/sbt/blob/fd2ec7adc372bb89dbc40dcebcd69e0370d50adb/main/src/main/scala/sbt/Defaults.scala#L438) both the `Test` and `Compile` to have the same backup directory for classfiles. Other custom configs, perhaps introduced by SBT plugins, likely share the same directory.

[code]

[code]

This

[2019-10-02 04:19] retronym commented on #1673
Contrast the construction of the `classes.bak` directory:

[code]

With the construction of config-specific class output directories

[code]

[2019-10-02 04:48] eed3si9n commented on #1673
Nice catch. We could create unique `classes.bak` directory if that's what could be happening.

[2019-10-02 05:06] retronym commented on #1673
Here's a test case that demonstrates this problem: https://github.com/retronym/sbt-classes-bak-repro

The reported problem could of course have a different root cause. I've seen this problem before in the Scala build when we had some dummy sub-project that shared the `baseDirectory` of the root project.

[2019-10-02 06:28] DavidPerezIngeniero commented on #4134
Here is the result when using SBT 1.3.2 launcher:

[code]

[2019-10-02 15:18] ayoub-benali opened #5144 "sbt crash during startup when using sbt-coursier plugin"
## steps
After upgrading from `1.2.8` to `1.3.2` sbt started crashing when `sbt-coursier` is enabled in project.

I have been using `"io.get-coursier" % "sbt-coursier" % "2.0.0-RC2-1"` but even upgrading to `v2.0.0-RC3-6` didn't help.
I suspect the issue is related to the introduction of coursier in sbt for library management in `1.3.X`

## problem
[code]

## expectation
SBT should work fine with

[2019-10-02 16:12] eed3si9n commented on #3473
https://www.scala-sbt.org/1.0/docs/Cross-Build-Plugins.html#Mixing+libraries+and+sbt+plugins+in+a+build is updated.

[2019-10-02 16:12] #3473 closed, assigned to nobody

[2019-10-02 17:12] agilesteel opened #5145 "The super shell does not play well with Giter8"
## steps
sbt version: *1.3.2*

## problem
When using a Giter8 template with `sbt new scala/scala-seed.g8` (or any other template)

1. the template field **values** are not shown when typing even though they are applied
2. the lines are not broken between the entered template fields (note that the `scala-seed` template has only 1 template field so a bigger template is required to reproduce this one

[2019-10-02 17:30] eed3si9n commented on #5145
@agilesteel Thanks for the report! I think this is a duplicate of https://github.com/sbt/sbt/issues/5063.
Feel free to comment there to add more info.

[2019-10-02 17:30] #5145 closed, assigned to nobody

[2019-10-02 17:33] eed3si9n commented on #5144
@ayoub-benali Thanks for the report! I think this is a duplicate of https://github.com/sbt/sbt/issues/5040. Feel free to add comments on that one to add more details.

[2019-10-02 17:33] #5144 closed, assigned to nobody

[2019-10-02 17:34] eed3si9n commented on #5040
We're using shaded version of Coursier internal, so I am not sure what more we can do on sbt's end.

[2019-10-02 17:46] agilesteel commented on #5063
Just posting for someone who is looking for a workaround until this gets fixed.
```sbt --supershell=false new scala/scala-seed.g8```

[2019-10-02 22:05] dwijnand commented on #3399
Well, it looks like I've recovered from the blindness I'd developed in both eyes back in 2017...

[2019-10-02 22:05] #3399 closed, assigned to nobody

[2019-10-02 22:31] eed3si9n commented on #3582
sbt 1.3.0 also enables Ctrl-C.

I am going to close this issue since it's somewhat open-ended, but feel free to bring up specific topics in https://discuss.lightbend.com/c/tooling

[2019-10-02 22:31] #3582 closed, assigned to nobody

[2019-10-03 03:55] eed3si9n commented on #1673
Here's a PR for the fix - https://github.com/sbt/sbt/pull/5146

[2019-10-03 04:20] #1688 closed, assigned to nobody

[2019-10-03 04:21] eed3si9n commented on #1701
I am closing this due to inactivity, but if this is still relevant let us know with more details (reproduction steps etc).

[2019-10-03 04:21] #1701 closed, assigned to jsuereth

[2019-10-03 04:22] eed3si9n commented on #2768
I am closing this due to inactivity, but if this is still relevant let us know with more details (reproduction steps etc).

[2019-10-03 04:22] #2768 closed, assigned to nobody

[2019-10-03 04:24] eed3si9n commented on #3300
I am closing this due to inactivity, but if this is still relevant let us know with more details (reproduction steps etc).

[2019-10-03 04:24] #3300 closed, assigned to nobody

[2019-10-03 04:25] eed3si9n commented on #1860
I am closing this due to inactivity, but if this is still relevant let us know with more details (reproduction steps etc).

[2019-10-03 04:25] #1860 closed, assigned to nobody

[2019-10-03 04:27] eed3si9n commented on #937
I am closing this due to inactivity, but if this is still relevant let us know.

[2019-10-03 04:27] #937 closed, assigned to nobody

[2019-10-03 05:56] dwijnand commented on #2899
Doesn't my example use inheritance and yours use delegation?

Anyways I'm less sure about task-level delegation than build/project level delegation.

[2019-10-03 17:52] ignasi35 opened #5147 "Project doesn't load (plugin resolution error) after upgrading to sbt 1.3.0"
Note: This is an edge case that's a bit hard to reproduce.

## Steps to reproduce

1. cleanup `$HOME/.sbt`
2. clone https://github.com/playframework/playframework.git (use https://github.com/playframework/playframework/commit/e5bce46713edd53683bcde721b1bc5ca21e12a62)
3. load the main `build.sbt` in `playframework` (or any other `build.sbt`). This step is only so `$HOME/.sbt` is rebuilt
4. load the

[2019-10-03 17:56] ignasi35 commented on #5147
Note: I've been using those plugins globally in other projects already migrated to sbt  `1.3.{0,2}` successfully for several days. It's only those global plugins combined with `playframework/documentation/build.sbt` that reproduce the error.

[2019-10-03 19:33] eed3si9n commented on #5147
[code]

so it seems like it somehow forgets that Play-Exceptions is an sbt plugin and that it should have the resolvers for other plugins.

[2019-10-03 20:01] marcospereira commented on #5147
Wait, but `Play-Exceptions` is not an sbt plugin:

[code]

Outputs:

[code]

Thing is that `Play-Exceptions` does not cross build (`crossPaths := false`).

[2019-10-03 20:12] eed3si9n commented on #5147
At some point something depends on sbt-compat, and it's not hitting https://repo.scala-sbt.org/scalasbt/sbt-plugin-releases/com.dwijnand/sbt-compat/

[2019-10-04 00:41] #1673 closed, assigned to nobody

[2019-10-04 04:06] eed3si9n commented on #3183
I have a PR here - https://github.com/sbt/sbt/pull/5153

[2019-10-04 09:10] jvican commented on #2948
Yes, that's the expectation. The access to the previous task definition should be always available.

[2019-10-04 11:00] albuch opened #5154 "[1.3.2] Forward incompatibility with sbt 1.2.8"
## steps
sbt version: *1.3.2*
* Publish plugin with sbt 1.3.2 that imports `sbt._`
* Run plugin with sbt 1.2.8

## problem
Several exceptions to classes or methods not found.
[code]
Relevant class at https://github.com/albuch/sbt-dependency-check/blob/master/src/main/scala/net/vonbuchholtz/sbt/dependencycheck/DependencyCheckKeys.scala#L3
[code]
## expectation
Publishing a sbt plugin with sbt 1.3.2

[2019-10-04 13:49] eed3si9n commented on #5049
I suggest we recommend the following setting:

[code]

<details>

<summary>Confirmation</summary>

[code]

I also tested it by loading it to a build using sbt 1.2.8.

</details>

Given there many plugins are falling into this pitfall, I think we should address this by default. For example we can set it to some older version by default (1.2.8, for now?) starting sbt 1.4.0, and we can let plugin aut

[2019-10-04 13:52] nigredo-tori commented on #5154
The first part is the same as #5049.

[2019-10-04 13:57] eed3si9n commented on #5154
@albuch Thanks for the report. The auto capturing of JSON format + making JSON format available is an unfortunate combination. I've posted the workaround in #5049, and I think we capture most of the problem statement in there, so can we close this as a duplicate?

[2019-10-04 14:40] ignasi35 commented on #5147
I think one of the global plugins I loaded depends on `sbt-compat` and not Play itself.

Put another way:

1. if I comment out `sbt-dependency-graph` and `sbt-project-graph` from my global plugins the error doesn't manifest.
2. when I use `sbt-dependency-graph` globally, (I think) I get the `sbt-compat` resolution error.
3. when I use `sbt-project-graph` globally, (I am 100% certain) I get at leas

[2019-10-04 15:20] eed3si9n commented on #5147
That sounds as if `$HOME/.sbt/1.0/plugins/plugins.sbt` is acting as if it's `$HOME/.sbt/1.0/global.sbt`.

[2019-10-04 16:01] palutz commented on #5089
@eed3si9n I thought the same and I just tried.
It looks like with 1.3.2 the problem disappears.

[2019-10-04 16:10] eed3si9n commented on #5089
ok. I'm closing this then. Let us know if it happens again.

[2019-10-04 16:10] #5089 closed, assigned to nobody

[2019-10-04 18:32] ennru commented on #5063
The problem shows with `sbt run` when you need to select a main class, as well.

[2019-10-04 18:43] eed3si9n commented on #5063
On my machine using sbt 1.3.2 + (macOS, iTerm, zsh), `sbt new sbt/scala-seed.g8` seems to echo fine.

I wonder if there's a specific combination that causes this.

[2019-10-05 08:59] albuch commented on #5049
@eed3si9n I can't seem to be able to cross-publish for sbt 0.13.18 after I set your workaround.
[code]
where `^ publishLocal` will publish as a sbt 1.0 and scala 2.12 plugin twice and won't publish as sbt 0.13 and scala 2.10 plugin

[2019-10-05 09:05] #5154 closed, assigned to nobody

[2019-10-05 09:07] albuch commented on #5154
@eed3si9n I can't seem to cross build for sbt 0.13.18 anymore when I set the workaround.

[code]
`^ publishLocal` will only publish the sbt 1.x version twice instead of sbt 0.13 and 1.0

[code]

[2019-10-05 16:43] nigredo-tori commented on #5154
@albuch, @eed3si9n's "workaround" is to build for 1.2.8. The code he provided doesn't work for cross-building - for that we should just do
[code]

[2019-10-05 19:35] swaldman opened #5155 "Projects "successfully" initialize without plugins after de-caching."
## problem
Trying to move things to the 1.3.x series, I've sometimes had trouble getting plugin SNAPSHOTs to update as I republish them. (That may become a separate issue.)

Using the oldest, ugliest trick for circumventing a cache, I tried just deleting them from the Coursier cache.

Rather than forcing a reload of the plugins, the projects silently "succeed" at initializing, despite the absence

[2019-10-06 10:38] #5067 closed, assigned to nobody

[2019-10-06 14:14] eed3si9n commented on #5155
@swaldman Thanks for the report. This looks like `update` task in the metabuild caches the result without checking for the still- existence of the JAR files. I wonder if this has always been the case or if it regressed at some point.

[2019-10-06 14:28] ignasi35 commented on #5147
I thought that was a feature so, yeah, I've been using `$HOME/.sbt/1.0/plugins/plugins.sbt` as if it's `$HOME/.sbt/1.0/global.sbt`

[2019-10-06 14:35] eed3si9n commented on #5147
Adding plugin declarations to `$HOME/.sbt/1.0/plugins/plugins.sbt` is perfectly fine.
https://www.scala-sbt.org/1.x/docs/Global-Settings.html#Global+Settings+using+a+Global+Plugin

What I don't understand is how that's affecting `Play-Exceptions / update`.

[2019-10-07 08:26] shubhampatil17 commented on #4275
Facing same issue as @amiralia ! Any workaround for that ?

[2019-10-07 16:58] eed3si9n opened #5162 ""Project loading failed: (r)etry, (q)uit, (l)ast, or (i)gnore?" prompt in CI environment"
## steps
Throw exception in a build file, like sbt/sbt-launcher-package.

## problem

It would prompt for input, which could hang in the background.

## expectation

When there is no associated console, we should just fail.

## notes

This came up during the sbt/sbt-launcher-package testing, but I am not fully sure if this is a general case for normal builds.

[2019-10-08 14:17] eed3si9n opened #5165 "Don't include javadocs in updateClassifiers"
A proposal from Contributors Summit on October 8th in Krakow. Proposed by @pavelfatin and @olafurpg?

For jump to definition feature IDEs need sources, but they don't need javadocs.

[2019-10-08 16:01] HongyiFu commented on #5128
Hi, sorry for the late reply. It does seem to happen on all projects - from Play projects to empty directory that I use for `sbt console` (didn't want the `project/` and `target/` folders created everywhere so I have an empty directory specifically for running `console`).

 I have deleted the plugins (in `~/.sbt/plugins/1.0`) but it didn't help. Right now there are no output at all on the screen a

[2019-10-08 17:04] eatkins opened #5166 "Reevaluating plugin settings can slow down build loading"
As part of loading the build, sbt will evaluate the projectSettings and globalSettings defined in each `AutoPlugin` for _every_ subproject. This can significantly slow down loading multiproject builds. For example, the akka project depends on the scalafix plugin and evaluating the scalafix projectSettings took between 100 and 200ms. There are nearly 40 subprojects in akka so the scalafix plugin wa

[2019-10-08 17:29] nevillelyh opened #5167 "java.text.ParseException: invalid conf when doing publishLocal"
## steps

sbt version: 1.3.2

## problem

https://github.com/spotify/scio/issues/2293

I'm suspecting this to be an sbt issue but TBH not sure where to start so cross posting here.
`publishLocal` works on an older tag `v0.7.4` which uses sbt 1.2.8. The regression can be reproduced by the following commit.
https://github.com/spotify/scio/commit/ee512e98987abba9e141dff52d7f163fceb9bd65

The lastest

[2019-10-08 19:44] aaabramov commented on #2985
Any updates on this one? Introducing this feature will improve CI/CD builds where scala + sbt image is used as a base one (e.g. CircleCI).
We did so many workarounds to pre-compile bridge during base image packaging but without success.

The last thing we've tried is
[code]

Unfortunately, even if we cache the whole `~/.sbt` directory it still compiles the bridge on every build.

Maybe any suggest

[2019-10-08 19:51] eed3si9n commented on #2279
I am closing this due to inactivity, but if this still happens with the latest sbt 1.3.2 let us know.

[2019-10-08 19:51] #2279 closed, assigned to nobody

[2019-10-08 20:46] eed3si9n commented on #5166
That sounds like a good idea.

[2019-10-08 20:57] eed3si9n commented on #5167
@nevillelyh Thanks for the report.

[2019-10-09 07:11] dwijnand commented on #2985
Can you diff the resulting .sbt with the one cached after running that workaround?

[2019-10-09 07:18] eed3si9n opened #5168 "unresolved resolution graph error"
## steps

Reproduce an unresolved dependency.

## problem

You no longer get the graph view including the caller:

[code]

https://www.scala-sbt.org/1.x/docs/Library-Management.html#Unresolved+dependencies+error

## expectation

Show the unresolved dependency graph

[2019-10-09 07:41] dwijnand commented on #2093
Thinking of the use cases behind the change proposed here, what about being able to enable or disable plugins build-wide?  Then you would be able to:

[code]

[2019-10-09 07:50] eed3si9n commented on #5165
[code]

[2019-10-09 08:35] olafurpg commented on #5165
Turns out that sbt-bloop already updates `transitiveClassifiers` to only download sources (skip javadoc) so this has not been an issue in Metals. I think it would still make sense to change the default to skip Javadoc since I'm not aware of any tool that uses the javadocs. Either way, feel free to close this issue.

[2019-10-09 09:41] DavidPerezIngeniero commented on #2317
Solved by using `-Xss5m` when starting SBT.

[2019-10-09 10:00] DavidPerezIngeniero opened #5169 "Scalatest fails after upgrading SBT"
## steps
I've upgraded from SBT 1.1.4 to 1.32.  Luckily, few things to change, mainly only `build.properties`.
After that when running ScalaTest tests, I get this error:

```MissingResourceException: Can't find bundle for base name org.scalatest.ScalaTestBundle, locale en_US```

## problem

ScalaTest fails before starting my tests.

## expectation

ScalaTest runs normally

## notes

- Linux 64 bit

[2019-10-09 11:07] DavidPerezIngeniero opened #5170 "Excluded dependency isn't excluded"
## steps
After upgrading from SBT 1.1.4 to 1.3.2 I observed this misbehaviour:

[code]

## problem

I run `dependencyTree` by using this useful [sbt-dependency-graph plugin](https://github.com/jrudolph/sbt-dependency-graph), and here is an excerpt of the output:
[code]

## expectation

Not to include com.ibm.icu:icu4j:2.6.1 dependency.
I've excluded it explicitly.

## notes
- Scala 2.12.10
- Linux

[2019-10-09 16:11] rahulsinghai opened #5171 "sbt 1.3.2 throws error when -Dhttp.nonProxyHosts specified with multiple hosts"
## steps
sbt version: 1.3.2
OS: Windows 10

My `%SBT_HOME%\conf\sbtconfig.txt` looks like:

[code]

## problem
sbt 1.3.2 throws error when `-Dhttp.nonProxyHosts` specified with multiple hosts:

[code]

## expectation
Used to work fine with SBT 1.2.8

## notes

[2019-10-09 17:44] ignasi35 commented on #5147
It is not, but it's a dependency of `sbt-plugin`. 🤔

[code]

So, going back to the original error:

[code]

One thing `sbt-routes-compiler` and `play-exceptions` have in common is that both are leaves on the dependency tree of `sbt-plugin`.

[2019-10-09 20:50] lukoyanov opened #5172 "Adding resolvers to build.sbt doesn't work"
### steps
sbt version: 1.3.2, 1.3.0, 1.2.8
## problem
when I add a resolver to my build.sbt using
[code]
OR
[code]
resolver is not added. I've checked it via "show fullResolvers"

## expectation
Resolver is added and used for artifacts resolution.

## notes
1. I've deleted my ~/.sbt, ~/.ivy, ~/.m2 to be sure no tricky configuration options is getting in the way.
2. When I create ~/.sbt/repositorie

[2019-10-09 23:28] eed3si9n commented on #5170
@DavidPerezIngeniero Thanks for the report. Could you also report this to coursier/coursier please since it's likely an upstream issue if most of the exclude is working except for `com.ibm.icu:icu4j:2.6.1`.

[2019-10-09 23:32] eed3si9n commented on #5172
@lukoyanov Thanks for the report. I agree with your expectation.

There's a setting called `useJCenter` (default: `false`) so that's likely interfering with manual addition of JCenter resolver.

[2019-10-09 23:35] eed3si9n commented on #5169
@DavidPerezIngeniero Thanks for the report. Is `Test / fork := true` not working for you as a workaround?

[2019-10-09 23:59] eed3si9n commented on #2093
I wonder if we could reuse the existing DSL entry as follows?

[code]

[2019-10-10 01:30] er1c opened #5173 "sbt.bat java detection isn't working in travis"
## steps
sbt version: 1.3.2

## problem

[code]

## expectation

it should be correctly identifying java 8+

## notes

[2019-10-10 05:52] dwijnand commented on #2093
That would be introducing scoping to `DslEntry`... I'm not sure.

We need some "mixfix operators" support :P https://twitter.com/dwijnand/status/1181131852872126464

[2019-10-10 06:16] DavidPerezIngeniero commented on #5170
Done!
https://github.com/coursier/coursier/issues/1405

[2019-10-10 06:21] DavidPerezIngeniero commented on #5170
I've read in [sbt-dependency-graph](https://github.com/jrudolph/sbt-dependency-graph): Note: sbt 1.3.x is currently not supported (but hopefully fixed soon), see #178).
Maybe is a fault of the plugin.  But the plugin doesn't crash me.

[2019-10-10 06:35] DavidPerezIngeniero commented on #5169
Updated Scalatest from 3.04 to 3.08 and the problem has disappeared.

[2019-10-10 06:35] #5169 closed, assigned to nobody

[2019-10-10 07:34] lukoyanov commented on #5172
@eed3si9n thank you for quick reply.

I've just tried to add my corporate artifactory url and sbt behaviour stays the same (resolvers not being added).
I've changed resolvers configuration to this:
[code]
And sbt output was:
[code]

It seems that it's not related to JCenter (and _useJCenter_ configuration option), but an issue affects more generic case.

I think **many projects rely on this way of

[2019-10-10 08:37] ddworak commented on #5170
I've seen this occur locally, `dependencyOverrides` seem to work fine as a workaround.

[2019-10-10 14:05] er1c commented on #5173
Fixed in https://github.com/sbt/sbt-launcher-package/commit/b5fd78f74bf1dc38bbc4203067dabb0f54dd5ea7

[2019-10-10 14:05] #5173 closed, assigned to nobody

[2019-10-10 14:28] er1c opened #5174 "Windows sbt.bat doesn't parse sbt arguments from SBT_OPTS/.sbtopts/etc"
## steps
sbt version: 1.3.3

## problem

https://github.com/sbt/sbt-launcher-package/blob/master/integration-test/src/test/scala/RunnerTest.scala#L92-L97

[code]
## expectation

I would expect this test to work on windows

## notes

It should work with:

- Environment variable `SBT_OPTS`
- Project `.sbtopts`
- Environment variable `SBT_ETC_FILE` (??? - to match bash script?)
- Installation `conf\s

[2019-10-10 14:33] er1c opened #5175 "Windows sbt.bat doesn't process memory arguments from SBT_OPTS"
## steps
sbt version: 1.3.3

## problem

https://github.com/sbt/sbt-launcher-package/blob/master/integration-test/src/test/scala/RunnerTest.scala#L85-L90

[code]

## expectation

I would expect this test to work on windows

## notes

[2019-10-10 14:38] er1c opened #5176 "Windows sbt.bat verbose (-V) doesn't format -XX:ReservedCodeCacheSize=128m, --XX:MaxPermSize=256m on same line"
## steps
sbt version: 1.3.3

## problem

When enabling verbose (`-V`) the -XX flags with an `=` argument are formatted on multiple lines.

[code]

## expectation

[code]

## notes

This is the famous/infamous windows argument parsing bug (https://blogs.oracle.com/quinn/a-little-trick-with-windows-bat-scripts-argument-processing-and-equals-signs)

We have some special logic for `-D` variables that

[2019-10-10 15:25] er1c opened #5177 "Windows sbt.bat doesn't support --batch | -batch"
## steps
sbt version: 1.3.3

## problem

Passing `--batch` is unsupported and currently commented out:

https://github.com/sbt/sbt-launcher-package/blob/master/src/universal/bin/sbt.bat#L741

[code]

## expectation

Passing --batch should disable interactive mode on windows.

## notes

The bash version does this by disabling input via bash, I'm not 100% certain if this can be done in the bat file.

[2019-10-10 15:29] er1c opened #5178 "Windows sbt.bat doesn't support --sbt-jar"
## steps
sbt version: 1.3.3

## problem

The `sbt.bat` currently doesn't support `--sbt-jar`

https://github.com/sbt/sbt-launcher-package/blob/master/src/universal/bin/sbt.bat#L745-L747

[code]

## expectation

They would match the bash `sbt` functionality.

## notes

[2019-10-10 15:32] er1c opened #5179 "Windows sbt.bat doesn't support -J-X and -S-X arguments"
## steps
sbt version: 1.3.3

## problem

The windows `sbt.bat` does not support the `-J-X` and `-S-X` command arguments.

https://github.com/sbt/sbt-launcher-package/blob/master/src/universal/bin/sbt.bat#L762-L764

[code]

## expectation

They would match the bash `sbt` functionality.

## notes

It would be nice to get some examples of these - for instance:

- Do they need to support `-J-XX:Reserv

[2019-10-10 16:02] er1c commented on #1901
I believe this can be closed, it is added under: https://www.scala-sbt.org/1.x/docs/Combined+Pages.html#Command+Line+Reference

[code]

[2019-10-10 16:04] er1c opened #5180 "Command argument `--debug-inc` isn't in the `sbt -h` usage"
## steps
sbt version: 1.3.2

## problem

[code]

Does not emit help information for `-debug-inc|--debug-inc`, despite being implemented: https://github.com/sbt/sbt-launcher-package/blob/master/src/universal/bin/sbt#L521

## expectation

`-debug-inc|--debug-inc  enable extra debugging for the incremental debugger`

## notes

https://www.scala-sbt.org/1.x/docs/Combined+Pages.html#Command+Line+Refere

[2019-10-10 16:49] counter2015 commented on #5063
My environment: sbt 1.3.2 (windows, wsl ubuntu 18.04 ,bash), console input isn't echoed.

[2019-10-10 19:23] sloshy opened #5181 "Overriding stack size (-Xss) fails except via SBT_OPTS"
## steps
sbt version: 1.3.2

## problem
Overriding the stack size via `.jvmopts`, or the `-J` flag fails. Stack size is set to the default 4M value even when overridden.

## expectation
Overriding the stack size by itself should work no matter the method.

## notes
Using `SBT_OPTS` works correctly. I've traced this down to the launcher script for sbt and have identified a workaround for the time b

[2019-10-10 20:11] eed3si9n commented on #1901
Cool.

[2019-10-10 20:11] #1901 closed, assigned to nobody

[2019-10-11 06:06] DavidPerezIngeniero commented on #5170
The problem is that the same jar is published in Maven with different organizations, and then conflicts appear.  I want to eliminate completely some moduleID.  The mechanism of automatically using the latest one isn't valid.

The solution is to disable Coursier and force SBT to use Ivy.

[2019-10-11 13:41] er1c commented on #5181
I'll admit I was a bit confused on how this behavior should work, when I was doing the windows `sbt.bat` port.

All of the memory arguments probably need a better set of tests to help explicitly document how the memory overrides should interact with each other (https://github.com/sbt/sbt-launcher-package/blob/master/integration-test/src/test/scala/RunnerTest.scala) - and those tests themselves pro

[2019-10-11 13:45] eed3si9n commented on #5174
Let's say there's a Windows VM someone set up that's been working ok for a while, I don think we should mess with that. So I think we should support `conf\sbtconfig.txt` throughout sbt 1.x.

On Bash we actually use both it seems https://github.com/sbt/sbt-launcher-package/blob/4f7d84d9992a6c0b3e9f58aef3243277fdc466f4/src/universal/bin/sbt#L575-L579
[code]

So I think `conf\sbtconfig.txt` is intend

[2019-10-11 13:48] eed3si9n commented on #5181
I agree it's a bug.

We do check for heap size related settings to prevent conflict with user-provided parameters, but stack size setting `-Xss` is not being checked.

[2019-10-11 13:56] eed3si9n commented on #5176
The formatting `-V` is a cosmetic nice to have, so I wouldn't call this a bug.
I spent too much time working on that and there's no silver bullet that can handle both quoting around file paths and `=`, so I would say whatever we have is ok. I am not sure if we can add special handling for `-X` since not all parameters would have `=`.

[2019-10-11 14:00] er1c commented on #5176
Should be easy to add, just need to check for either `-D` *or* `-X`.  It loosely aligns with the `-S-X` and `-J-X` functionality: https://github.com/sbt/sbt/issues/5179 - since they would likely have the same cosmetic issue.

[2019-10-11 14:00] eed3si9n commented on #5178
I think that's a documentation error on Bash version. At least I've never used `--sbt-rc` or `--sbt-snapshot`.

[2019-10-11 14:03] er1c commented on #5178
Good catch, so missing the `--sbt-jar`, but `--sbt-rc` and `--sbt-snapshot` should be removed from the bash usage, since I see they aren't implemented.

[2019-10-11 14:05] eed3si9n commented on #5176
If you just admit all `-X` for equaling, then wouldn't you end up with

[code]

? Part of the problem is that `=` is already parsed away at that point.

[2019-10-11 14:24] er1c commented on #5176
It will have to be solved as part of the `:args_loop` for the other ticket.

Might need to add an argument when calling `:echolist` to indicate if it is an "options" list since we know (I think?) that all `SBT_OPTS` or `JAVA_OPTS` must start with a hyphen, otherwise if the next arg doesn't start with a hyphen, then it should be treated as a value for the previous argument.  The assumption here is

[2019-10-11 16:40] eed3si9n commented on #5176
Also I don't think this needs to be part of 1.3.4.

[2019-10-11 21:31] japgolly commented on #4694
I've been using 1.3.2 for about a week now and I haven't seen this issue pop up again. I guess it's fixed :) Thanks! I'll close now

[2019-10-11 21:31] #4694 closed, assigned to nobody

[2019-10-14 05:21] eed3si9n commented on #5058
Bumped to Zinc 1.3.1 in https://github.com/sbt/sbt/pull/5183

[2019-10-14 05:21] #5058 closed, assigned to nobody

[2019-10-14 05:27] eed3si9n opened #5184 "Release sbt 1.3.3"
https://github.com/sbt/sbt/compare/v1.3.2...1.3.x

[2019-10-14 05:41] eed3si9n commented on #5184
Draft release note.

- Fixes "Could not create directory ...classes.bak" https://github.com/sbt/sbt/pull/5146 by [@retronym][@retronym] and [@eed3si9n][@eed3si9n]
- Fixes internal ClassLoader causing dead locks https://github.com/sbt/sbt/pull/5131 by [@eatkins][@eatkins]
- Fixes race condition around `clean` task https://github.com/sbt/sbt/pull/5157 by [@eatkins][@eatkins]
- Fixes "Class sun.refle

[2019-10-14 06:41] #5184 closed, assigned to nobody

[2019-10-14 07:24] plokhotnyuk commented on #5184
@eed3si9n thanks! it is 200-th release of sbt!

BTW, will you attach binaries to the release assets?

[2019-10-14 09:31] francisdb opened #5185 "Show more details if package upload fails"
I'm trying to publish to the Github package repository. When `publish fails` all you get is

But the body actually contains more details on what went wrong. An example below for a 401 response

(I had to patch sbt-ivy to see this)

Related ticket on the publishing to Github here:
https://github.com/djspiewak/sbt-github-packages/issues/1

[2019-10-14 14:07] eed3si9n commented on #5184
The above is a draft release note. I will be released sometime today with installers.

[2019-10-14 14:20] aperez17 opened #5186 "scala-libary jar not included in class path"
## steps
sbt version: *1.3.2*

## problem
In previous versions of sbt, the scala-libary jar has been accessible through the class loader, however, now it is not.
[code]
That specifically does not have the scala-libary jar in 1.3.2, works in 1.2.8 and was previously on 0.13 when it was working. I tried turning off coursier and adding the library manually to list of dependencies, but that did not wo

[2019-10-14 17:12] eatkins commented on #5186
It is not safe to assume much about the layout of the sbt classloaders. To access the scala library, you will need to traverse the parents of the classloader to find the loader that has the scala library jar in it.

[2019-10-14 17:12] #5186 closed, assigned to nobody

[2019-10-14 18:11] npersad opened #5187 "sbt universal:packageZipTarball generating line that is too long for windows"
## steps
sbt version: 1.3.2
sbt universal:packageZipTarball

## problem
APP_CLASSPATH in generated .bat file is too long for windows

windows error
[code]

## expectation
runnable bat

## notes
editing the line beggining with
[code]
(https://gist.github.com/npersad/8b25e79141a6753f048cc037d5ede5c4#file-bad-bat-L83)

to use ```
set "APP_CLASSPATH=%APP_LIB_DIR%\*"```
is a workaround

[2019-10-14 18:22] npersad commented on #5187
my fault this is detailed in the article
https://sbt-native-packager.readthedocs.io/en/stable/recipes/longclasspath.html#long-classpaths

[2019-10-14 18:24] #5187 closed, assigned to nobody

[2019-10-14 19:10] eed3si9n opened #5188 "sbt new doesn't work on Windows: '"!_JAVACMD!"' is not recognized as an internal or external command"
## steps

sbt 1.3.3

[code]

## problem

First problem is that it prompts me to continue or not. This should not show up for `new`.

[code]

Second problem is that it doesn't work.

[code]

## expectation

It works.

[2019-10-14 19:11] eed3si9n commented on #5188
/cc @er1c

[2019-10-14 19:31] simeone13 commented on #2768
hi

[2019-10-14 20:35] eed3si9n commented on #5188
- https://github.com/sbt/sbt-launcher-package/blob/d43357144bce255fee5c8419f1a991bfacf0e8ef/src/universal/conf/sbtconfig.txt
- https://github.com/sbt/sbt-launcher-package/blob/d43357144bce255fee5c8419f1a991bfacf0e8ef/src/universal/conf/sbtopts

We should probably add `-sbt-create` first.

[2019-10-14 21:33] MasseGuillaume opened #5189 "plugins fail to load in Jenkins"
Since sbt 1.3.X, sometimes my Jenkins build fail to compile the `build.sbt`. It looks like the plugins are not loaded.

## steps
`sbt.version=1.3.2`

## problem

fails to compile `build.sbt`

[code]

## expectation

should compile just fine

## notes

I'm using the Jenkins sbt plugin

https://wiki.jenkins.io/display/JENKINS/sbt+plugin

I wrote a small utility function:

[code]

Then I use it like

[2019-10-14 22:29] alexarchambault commented on #5040
I confirm that sbt-coursier can't be used as is with sbt 1.3.x, because sbt ships with `lm-coursier-shaded`, and sbt-coursier relies on `lm-coursier`, that has the same API as `lm-coursier-shaded`, but exposes more internal stuff (that sbt-coursier uses, and that end up being shaded in `lm-coursier-shaded`).

As a workaround, people can rely on the [coursier-based sbt launcher](https://github.com/

[2019-10-15 00:24] er1c commented on #5188
[code]

Ugh...the java version not being recognized in your output is suspect, do you have any other info on your windows setup?  I just installed the MSI on my windows desktop, and it seemed to work fine.

[2019-10-15 00:43] eed3si9n commented on #5188
[code]

To trigger `continue`/`quit`, you have to run it in an empty directory.

[2019-10-15 04:09] ghost commented on #4339
Is this fix ported to 1.3.2? Downgrading to 1.2.1, fixes the issue but the issue recurs in version 1.3.2.

[2019-10-15 05:30] mushtaq commented on #5040
@alexarchambault with coursier-2.x, instead of using sbt-extras script, it will be great if we could say `coursier install sbt` and it installs coursier-based sbt launcher. That will be very cool.

[2019-10-15 06:35] ppiotrow commented on #5189
Looks very similar to issue reported by me https://github.com/sbt/sbt/issues/5142 that is still present in sbt-1.3.3.

[2019-10-15 09:05] gumartinm commented on #4531
With Maven's BOM you can also rule how plugins work across projects and subprojects. The BOM file enables developers to centralize plugins configuration and dependencies in only one place.

It is great when you work in a big company with many projects and you need to govern common plugins and dependencies across your whole organization.

[2019-10-15 09:55] ghost opened #5190 "`sbt new` should not create a target directory in the working directory"
## steps
sbt version: *1.3.1*
run sbt new scala/hello-world.g8

## problem
this creates ./target/... directories

## expectation
Current working directory should not get polluted.

## notes
This issue was fixed in version 1.2.1. Refer. https://github.com/sbt/sbt/issues/2835. But the same issue is reproducible in version 1.3.1

[2019-10-15 13:40] eed3si9n commented on #5190
@dexter2305 Thanks for the report.

To potential contributor, first thing to look at would be https://github.com/sbt/sbt/pull/4033, and see if that still works.

[2019-10-15 13:45] eed3si9n commented on #5185
@francisdb Thanks for the report. There was a related PR on this https://github.com/sbt/librarymanagement/pull/309, but from sbt 1.3.x Gigahorse is not enabled by defaults, so likely we need similar patch for non-Gigahorse handler.

[2019-10-15 13:59] bjaglin commented on #5116
Since the tentative fix was [backported to 1.3.3](https://github.com/sbt/sbt/pull/5149), we have just bumped and re-enabled `turbo` on our project (which has discussed earlier might not be necessary, but in our case at the very least increased the chances of seeing the problem), so I should be able to tell if it helps within a few days.

[2019-10-15 15:13] francisdb commented on #5185
Is Coursier also a possible player in this field?

[2019-10-15 15:40] er1c commented on #5188
I was able to reproduce this on `Windows 7`

[2019-10-15 15:59] francisdb commented on #5185
So you suggest to patch Ivy instead of fixing Gigahorse?

[2019-10-15 16:46] pshirshov opened #5191 "It should be possible to flexibly exclude projects and plugins from the build"
Please use https://discuss.lightbend.com/c/tooling including a specific user story instead of posting them to the issue tracker.

Right now SBT in very inconvenient for big monorepos.

For example, I may have ten software components but at some point I may wish to work with just couple of them.

At this point there is no easy to exclude several subprojects from the project. In some cases projectma

[2019-10-15 16:51] #5188 closed, assigned to nobody

[2019-10-15 18:59] eed3si9n commented on #5191
umm. Let's discuss on Discuss.

[2019-10-15 18:59] #5191 closed, assigned to nobody

[2019-10-15 19:00] eed3si9n commented on #5185
Publishing is done by Ivy, so yea we might need a custom URL handler that is not Gigahorse based, but takes the idea from the PR that I linked.

[2019-10-15 20:18] bjaglin commented on #5132
Fixed upstream, release (still to be cut off) after the current one `v2.0.0-RC4`  should have the fix.

[2019-10-15 22:16] eed3si9n commented on #5132
nice. we'll bump Coursier when the next one comes out then.

[2019-10-16 13:20] mkurz commented on #5120
Highly needed.

[2019-10-16 13:20] eed3si9n opened #5192 "-D with quotation is broken on sbt.bat"
## steps

[code]

## problem

[code]

## expectation

It used to work.

[2019-10-16 15:51] alexarchambault commented on #5120
FYI, the coursier web site has [a page about it](https://get-coursier.io/docs/cache.html#location).

[2019-10-16 16:00] mkurz commented on #5120
@alexarchambault Yeah, but it doesn't mention `-Dsbt.coursier.home`

[2019-10-16 18:19] regadas opened #5193 "sbt-allsources.sh build error"
## steps
Follow the steps in https://github.com/sbt/sbt/blob/develop/DEVELOPING.md#instruction-to-build-all-modules-from-source

## problem

running `./sbt-allsources.sh` results in:

[code]

## expectation

Show sbt prompt

## notes

[2019-10-16 18:23] eximius313 opened #5194 "IllegalArgumentException after migrating from SBT 1.2.8 to 1.3.3"
## steps
sbt version: *1.3.3*

## problem
I'm using Play Framework (`2.6.23`) with sbt `1.2.8` and everything runs fine.
When I change sbt to `1.3.3` and type `sbt run`, it fails with:
[code]

## expectation
It runs fine just like `1.2.8`

[2019-10-16 18:58] eed3si9n commented on #5194
@eximius313 Thanks for the report. Following https://github.com/sbt/sbt/blob/develop/CONTRIBUTING.md#what-to-report could you elaborate on the reproduction steps? Does this happen with any Play app, for example created using https://github.com/playframework/play-scala-seed.g8?

[2019-10-16 19:23] #5192 closed, assigned to nobody

[2019-10-16 21:55] ghost opened #5196 "coursier_repositories vs sbt repositories"
Have you considered deprecating sbt repository settings in favor of using coursier_repositories?

[2019-10-17 12:32] eximius313 commented on #5194
Ok, here is one of the weirdest things that happened to me..
1) I copied my project to different location on disk
2) I was removing files/configs in order to pinpoint the place which causes the error.
3) I was making git commit after each change
4) When it stared to work, I got back one commit and.... it still worked
5) I got back several commits back and it worked
6) I returned to the main projec

[2019-10-17 17:00] zetashift commented on #5063
On Ubuntu 19.04 x64, using ZSH and Konsole terminal, I currently have the same issue.
I'm using the workaround of `--supershell=false`.
I have the issue also with other new templates like Slinky's `sbt new shadaj/create-react-scala-app.g8`

[2019-10-17 21:59] eximius313 commented on #5065
I have exactly te same issue, although I'm using GitBash (2.23.0) under Windows.
Why changing version of SBT from `1.2.8` to `1.3.0` broke it? is it intended?

Sidenote:
`sbt -Dsbt.color=always -Dsbt.supershell=false` seems to restore previous behavior

[2019-10-17 22:23] eed3si9n commented on #5065
The 1.3.0 color related changes were made in this commit - https://github.com/sbt/util/pull/184/commits/53c9b848580376544543b0732848005b37d97fd7

There are two parameters that affects whether sbt 1.3.0 enables color by default or not.

1. stdio are connected
2. the terminal is capable of ANSI control sequence

The first is approximated if `Option(java.lang.System.console)` returns some. I am not f

[2019-10-17 22:30] eximius313 commented on #5065
But with `sbt -Dsbt.color=always -Dsbt.supershell=false` colors are fine. Maybe checks could be extended?

[2019-10-17 23:08] eed3si9n commented on #5065
<img width="666" alt="gitbash" src="https://user-images.githubusercontent.com/184683/67053942-f09b6f80-f110-11e9-8f40-d53842729a01.png">

GitBash doesn't really seem to support color for me.

[2019-10-17 23:39] eed3si9n commented on #5065
Cygwin for me seem to have the problem described on this issue. The terminal is capable of displaying the color and supershell, but it's turned off by default.

When I run

[code]

from sbt shell, it returns `None`.

<img width="583" alt="cygwin" src="https://user-images.githubusercontent.com/184683/67054914-21c96f00-f114-11e9-90c1-fd85b36d1fd5.png">

andy.koppe on 23 Jan 2011 at 7:40 wrote

devic

[2019-10-18 06:56] francisdb commented on #5185
see https://github.com/sbt/ivy/pull/35

[2019-10-18 08:35] milessabin commented on #5065
With SBT 1.3.3, all else as reported [above](https://github.com/sbt/sbt/issues/5065#issuecomment-530001185), I see,

[code]

[2019-10-18 09:45] eximius313 commented on #5065
@eed3si9n Thank you for explanation

[2019-10-18 10:27] mvallebr commented on #5008
I am having this problem with sbt 1.2.8

If I run `sbt evicted` I see no warnings.
But if I run `sbt test`, I see:

[code]

Also, `dependencyOverrides` seems to be ignored for tests.

[2019-10-18 10:31] akozumpl commented on #5147
Hitting the same, whenever I have

[code]

among `~/.sbt/1.0/plugins.sbt` I get the original error. This worked prior to 1.3.0, still can reproduce today with 1.3.3. I can workaround by:

[code]

Of note, the package `publishLocal` then produces has sbt-dependency-graph declared as a dependency in it's pom file. Is that expected? That's not how I understood https://www.scala-sbt.org/1.x/docs/Using

[2019-10-18 11:13] TimPigden commented on #4852
I have the same issue using 1.3.3. I've reverted to 1.2.8 and problem has gone. Was it actually fixed?

[2019-10-18 11:23] TimPigden opened #5200 "sbt 1.3.3 - cannot resolve credentials."
## steps
sbt version: 1.3.3

I have a credentials file.
Under 1.2.8 I used

[code]

## problem

With latest version it can no longer access my repository. The repository is a simple file-based respository. I get the following message

[code]

## expectation

We've been using this for years with no problem. In 1.3.3 it has stopped working. I reverted to 1.2.8 and it works again.

## notes

Some iss

[2019-10-18 11:41] mvallebr opened #5201 "dependencyOverrides being ignored for test task on 1.2.8 / fork=true"
## steps
sbt version: 1.2.8

1. Create a project using the given `build.sbt` bellow
2. run `sbt evicted` to see no warnings are generated
3. run `sbt test` to see warning `[warn] There may be incompatibilities among your library dependencies; run 'evicted' to see detailed eviction warnings.`
4. Check the stacktrace when tests run to confirm wrong version of dependency has been used

## problem

Gi

[2019-10-18 11:50] francisdb commented on #4852
what exact issue do you have, for us all issues have been fixed in 1.3.1

[2019-10-18 11:54] TimPigden commented on #4852
Hi, I opened a new bug report for it with full description in #5200

[2019-10-18 11:59] francisdb commented on #5200
Have you tried this?

[code]

[2019-10-18 11:59] francisdb commented on #5200
Have you tried this?

[code]

[2019-10-18 12:05] TimPigden commented on #5200
I have now :-)
Thanks
That does the trick but presumably, since Coursier is the "big new thing" in 1.3, it's still a bug

[2019-10-18 12:30] FloWi commented on #4262
Yes, same here for me as well.

I opened a ticket at jetbrains: https://youtrack.jetbrains.com/issue/IDEA-225121

[2019-10-18 12:48] eed3si9n commented on #5200
@TimPigden Thanks for the report. This is likely a Coursier issue, so please report to coursier/coursier as well.

It would be helpful if you can provide steps to reproduce this behavior on Coursier developer's machines, for example using Docker.

[2019-10-18 12:49] eed3si9n commented on #5201
@mvallebr Thanks for the report. Does this happen on sbt 1.3.3?

[2019-10-18 12:55] eed3si9n commented on #5147
No, that doesn't make any sense.

[2019-10-18 13:16] otto-dev commented on #2274
I sometimes use `sbt` to quickly test some cluster based code. I start the app using sbt, the app joins a development cluster, I hit `ctrl-c`... and bam, the whole cluster is in an inconsistent state, because my program under development didn't have time to say goodbye first.

[2019-10-18 13:35] mvallebr commented on #5201
Hi,

I just tested that by using the following procedure:

1. I changed the contents of `build.properties` to `sbt.version = 1.3.3`
2. I've run `sbt update`
3. I've run `sbt test`

Same problem.

I haven't upgraded the system version of sbt though, my brew (mac) says the system version is `1.2.8`, here is the output of `sbt about` outside of my project folder:

[code]

and here is the output insid

[2019-10-18 14:04] TimPigden commented on #5200
grab this small repo

https://gitlab.com/wayne-optrak/sbt-bug-demo

run sbt update and it fails

setting useCoursier :=  false in thisBuild and it works

set sbt to 1.2.8 and it works

[2019-10-18 14:53] #5193 closed, assigned to nobody

[2019-10-18 14:54] eed3si9n commented on #5185
Keeping this open as a reminder until the whole thing gets merged.

[2019-10-18 15:43] bjaglin commented on #5116
Not reproducible with 1.3.3, thanks!

[2019-10-18 15:43] #5116 closed, assigned to nobody

[2019-10-18 16:18] michaelahlers commented on #5169
For anyone else who comes along, encountered this with SBT 1.3.0, and upgrading to 1.3.3 seems to have cleared this up. Not sure of the root cause.

[2019-10-18 16:35] SethTisue commented on #5008
@mvallebr does the problem still exist in sbt 1.3.3?

[2019-10-18 17:10] mvallebr commented on #5008
Yes

[2019-10-18 17:10] mvallebr commented on #5008
details here https://github.com/sbt/sbt/issues/5201

[2019-10-18 18:47] daiguel commented on #5188
how did you fixe this ?

[2019-10-19 02:01] er1c commented on #4919
I believe this was fixed in `1.3.3`

[2019-10-19 02:04] er1c commented on #4922
https://github.com/sbt/sbt-launcher-package/commit/b5fd78f74bf1dc38bbc4203067dabb0f54dd5ea7#diff-0e467aba72fad1d1010d8efae1c500d6R150

[2019-10-19 02:04] #4922 closed, assigned to nobody

[2019-10-19 02:13] er1c commented on #4918
I believe this works now - or at least I can set the environment variable and run `sbt compile`

[code]

[2019-10-19 02:19] er1c commented on #4055
I'm using JDK11 and this is working (at least in `1.3.3`) - is this still an issue in 1.3.3?

[2019-10-19 02:21] er1c commented on #5180
Added in `https://github.com/sbt/sbt-launcher-package/commit/f3b9d7572e1c90a43d17117eb8fffeb1ac51189b`

[2019-10-19 02:21] #5180 closed, assigned to nobody

[2019-10-19 02:34] er1c commented on #4322
[code]

It looks like both the `JAVA_TOOL_OPTIONS` and `chcp 65001` are required.

[2019-10-19 02:45] er1c commented on #3921
I think this has been fixed:

[code]

same behavior on windows

The `--no-colors` was also added to support this.

[2019-10-19 13:56] #4919 closed, assigned to nobody

[2019-10-19 13:57] #3921 closed, assigned to nobody

[2019-10-20 04:25] #5110 closed, assigned to nobody

[2019-10-20 06:41] FireFoxAhri opened #5206 "On Windows, Coursier creates "./null/Coursier/cache/v1" directories as cache"
See also https://github.com/coursier/coursier/issues/1438

## steps
sbt version: 1.3.3

1. Use Windows.
2. Download the AdoptOpenJDK 8 232-b09 zip file (https://github.com/AdoptOpenJDK/openjdk8-binaries/releases/download/jdk8u232-b09/OpenJDK8U-jdk_x86-32_windows_hotspot_8u232b09.zip)
3. Launch sbt as follows:

[code]

## problem
Coursier location was wrongly set to the project location, with a nul

[2019-10-20 11:04] Deepak-nebhwani commented on #3684
Please Add cross scala version into your build.sbt file. It worked in my case.

scalaVersion := "2.13.0"
crossScalaVersions := Seq("2.11.8","2.11.12", "2.12.4")

[2019-10-20 16:09] er1c commented on #5178
Added in https://github.com/sbt/sbt-launcher-package/commit/9f9dd66336f97e0402fa3215aa93d932166ce595

[2019-10-20 16:09] #5178 closed, assigned to nobody

[2019-10-21 04:27] eed3si9n commented on #4095
Here's a PR to make server extensible so you can add your won method to respond from a command - https://github.com/sbt/sbt/pull/5207

[2019-10-21 13:09] agluszak opened #5208 "sbt 1.3.3 project depends on some non-local files"
## steps
sbt version: 1.3.3

Minimal, Reproducible Example:
[code]
## problem
[code]
Sbt project with plugin (WartRemover) apparently depends on some non-local files (outside the project folder). We discovered it after sbt version update (from 1.1.5) on our CI. We used to copy /target folder between compile and test stages, but after update it broke. It turns out that something else outside the pr

[2019-10-21 14:47] eed3si9n commented on #5208
@agluszak Thanks for the report with repro project!

[2019-10-21 14:48] eed3si9n commented on #5206
@FireFoxAhri Thanks for the report!

[2019-10-21 14:56] manu-crealytics commented on #3733
As workaround, this works for me on 1.3.0:
[code]

Got the inspiration from https://github.com/sbt/sbt/blob/v1.3.0/main/src/main/scala/sbt/Defaults.scala#L1632

[2019-10-21 16:27] eed3si9n commented on #5196
We use GitHub issue mostly to track bugs and tasks on sbt development. If you have a proposal please bring it up on https://discuss.lightbend.com/c/tooling

[2019-10-21 16:27] #5196 closed, assigned to nobody

[2019-10-21 20:32] eed3si9n commented on #3881
This was fixed in https://github.com/sbt/website/pull/695

[2019-10-21 20:32] #3881 closed, assigned to nobody

[2019-10-21 21:08] djneades commented on #5206
I am also seeing this problem with Sbt 1.3.3 under Windows 20H1 Insider Preview build 19002.1002.

[2019-10-22 05:49] Fristi opened #5209 "Stack trace being supressed"
I recently upgraded sbt to 1.3. After this update when I get a error, I run in to this: `stack trace is suppressed; run last tests / IntegrationTest / test for the full output`

This is not such good UX in my opinion, as my test output is pretty big and lot's of scrolling is involved. So question is, should you put it on as default and is there a way to turn it off?

[2019-10-22 10:03] domainexpert opened #5210 "Failure to Parse Batch Command in Windows"
## steps
sbt version: 1.3.3

## problem
The Sbt documentation [here](https://www.scala-sbt.org/1.x/docs/Running.html) says I could enter a command with its arguments in quotes, e.g.:
[code]
However, instead of executing the commands, on Windows 10 Sbt terminates with error:
[code]

## expectation

The project compiles and the tests get executed if they were available, or some other error message i

[2019-10-22 13:01] eed3si9n commented on #5209
Is this a bug report? If so, please follow the https://github.com/sbt/sbt/issues/new?assignees=&labels=Bug&template=---bug-report.md&title= format.

A normal test failure should not cause stack trace, suppressed or not.

[2019-10-22 13:04] eed3si9n commented on #5210
@domainexpert Thanks for the report! It seems like you know how to fix this, so could you send a PR for this please?

Relevant files are:
- https://github.com/sbt/sbt-launcher-package/blob/master/src/universal/bin/sbt.bat
- https://github.com/sbt/sbt-launcher-package/blob/master/integration-test/src/test/scala/RunnerTest.scala
- https://github.com/sbt/sbt-launcher-package/blob/master/citest/build.

[2019-10-22 13:09] eed3si9n commented on #5208
I haven't tested it, but there are a bunch of things that might need `~/.sbt`.
- global (machine-wide) settings
- global (machine-wide) plugins
- compiler bridge cache
- sbt artifact cache

[2019-10-22 13:45] agluszak commented on #5208
We use deafult global settings, no global plugins (WartRemover is explicitly added in project/plugins.sbt). And what's most important - it used to work in sbt 1.1

[2019-10-22 16:41] regadas commented on #5167
I looked at this a bit and found out that `publishLocal` works as expected in the following scenarios:

* setting `ThisBuild / useCoursier := false`
* not using `,` as scope separator
[code]

@eed3si9n should we still support `,` as in sbt 1.2.x?

[2019-10-22 17:16] eed3si9n commented on #5167
@regadas I think the configuration DSL should be compatible with sbt 1.2 / Apache Ivy whenever possible.

[2019-10-22 17:33] regadas commented on #5167
@eed3si9n I agree, I'll have a look

[2019-10-23 02:30] frozenspider commented on #5206
Just got it with sbt 1.3.3, Win8.1 and IDEA 2019.2.3

[2019-10-23 08:48] jrudolph commented on #4706
What's the state here? People are asking me what is going on with sbt-dependency-graph and there's no satisfactory answer I could give.

To be clear, I think this is a QA issue in sbt in the first place. This regression has been known for months and the sbt 1.3.0 (and 1.3.1, 1.3.2, 1.3.3) release still went ahead changing the default to coursier in sbt 1.3.0. Now saying this is "blocked on upstrea

[2019-10-23 10:58] domainexpert commented on #5210
@eed3si9n I replaced the sbt.bat of Sbt 1.3.3 with the sbt.bat of sbt/sbt-launcher-package@9f9dd66336f97e0402fa3215aa93d932166ce595 and the problem disappeared, so it seems no fixing is necessary. Looking forward to 1.3.4.

[2019-10-23 14:47] eed3si9n commented on #4706
I guess the overall issue is that the output of dependency graph is not part of our integration test. Both sbt and Coursier projects have tried to fix this in good faith (see https://github.com/coursier/sbt-coursier/pull/87) but ultimately the fix didn't fully fix the issue.

"Blocked on Upstream" isn't a signal that I am abdicating the responsibility, but it's a label that I use to signal that th

[2019-10-23 15:03] dwijnand commented on #4706
cc @alexarchambault, do you think you'll have some spare bandwidth to try and reverse this regression?  I'm one of those people who recently asked Johannes how to investigate a dependency issue in an sbt 1.3 build.

[2019-10-24 06:33] DavidPerezIngeniero commented on #5169
I sometimes experience this problem with SBT 1.3.2.
Let's try 1.3.3....

[2019-10-24 07:20] DavidPerezIngeniero commented on #5169
1.3.3 seems to work better.  :-)

[2019-10-24 07:30] bomgar commented on #4852
This doesn't work for me.

Does the setup require more than this?
[code]

I still get `unauthorized: https://...`

[2019-10-24 07:33] francisdb commented on #4852
@bomgar The credentials need the correct realm: `Sonatype Nexus Repository Manager` instead of the name you gave the resolver. Matching is done by that and the domain.

If I remember correctly sbt 1.3.3 gives a warning about this during the build.

[2019-10-24 07:36] bomgar commented on #4852
Thanks that works. Is this documented anywhere?

[2019-10-24 07:50] francisdb commented on #4852
Looks like indeed the docs are a bit lacking here
https://www.scala-sbt.org/1.x/docs/Publishing.html#Credentials
(also does not mention the option to use `~/.sbt/1.0/global.sbt`)

https://stackoverflow.com/a/4351222/42198

[2019-10-24 12:26] dwijnand opened #5211 "Error in configuration name translation in logging"
## steps
sbt version: 1.3.3

Use sbt-multi-jvm, run tests

## problem

Output while running:

[code]

Output when done:

[code]

## expectation

[code]

and

[code]

## notes
`MultiJvm` is the name of the configuration in the shell and in code.  It's `multi-jvm` as it's ivy configuration identifier.  There shouldn't be a 3rd variant.

[2019-10-24 15:29] eed3si9n commented on #5211
Thanks for the report.

The plugin correctly exports the configuration as `projectConfigurations`:

https://github.com/sbt/sbt-multi-jvm/blob/f05ca62d693893a6bbfc122918c23d5cf5c25b7f/src/main/scala/com/typesafe/sbt/SbtMultiJvm.scala#L78

[code]

I guess that's not being picked up by the index, or display is somehow not using the index?

[2019-10-24 16:26] niebloomj commented on #5078
Is there any update here? Please help :(

[2019-10-24 19:15] michaelahlers commented on #2964
Been hobbled by this before, and it continues to require awkward project structures where published test artifacts are desired.

[2019-10-24 22:47] vegerot commented on #4021
@suewonjp a year and a half later and no change.  BTW this is a demonstration of the problem: https://youtu.be/cwHybM85Vpc

My inputrc:
[code]

Edit: I forgot to mention in the video that it makes weird files including control characters
`'hello-world'$'\177\177\177\177\177\177\177\177\177''hello'$'\177\177\177\177\177\177''wtf?!'`

[2019-10-24 22:47] vegerot commented on #3128
@eed3si9n @chakpongchung  a year and a half later and no change.  BTW this is a demonstration of the problem: https://youtu.be/cwHybM85Vpc

My inputrc:
[code]

Edit: I forgot to mention in the video that it makes weird files including control characters
`'hello-world'$'\177\177\177\177\177\177\177\177\177''hello'$'\177\177\177\177\177\177''wtf?!'`

[2019-10-25 07:54] chenjianxin opened #5212 "sbt new doesn't work on Windows: '"!_JAVACMD!"' is not recognized as an internal or external command"
## steps
sbt version: 1.3.3

## problem
**sbt -Dsbt.version=1.3.3 new akka/akka-http-quickstart-scala.g8**
**sbt  new akka/akka-http-quickstart-scala.g8 "-Dsbt.version=1.3.3"**

[error] Expected ';'
[error] --sbt.version
[error]

c) continue
q) quit
?      if /I "" == "c" (c

The Java Development Kit (JDK) installation you have is not up to date.
sbt requires at least version !required_version!+,

[2019-10-25 08:38] fspillner opened #5213 "Parsers.NotQuoted doesn't pass the whole string on .map()"
## steps
sbt version: 1.3.3

## problem
I've updated to sbt 1.3.3 and one of the custom parser has been failed due to Parsers.NotQuoted combinator because it doesn't pass the whole string as argument onto the map() function.

## expectation
It should pass the whole string onto the map() function.

## notes
I've switched to flatMap and it works as expected.

[2019-10-25 11:29] OlegYch opened #5214 "-J flags not supported in .sbtopts on windows"
## steps
sbt version: 1.3.3 from https://piccolo.link/sbt-1.3.3.tgz
have .sbtopts file with -J options, eg like this
https://github.com/scalacenter/scastie/blob/master/.sbtopts

## problem
sbt (using sbt.bat from official package) fails to startup:
`Unrecognized option: -J-Xmx2g`

## expectation
sbt starts up and passes options from .sbtopts to jvm

## notes
using the same distribution on linux re

[2019-10-25 19:22] eed3si9n commented on #5214
@OlegYch Thanks for the report!

[2019-10-25 19:23] eed3si9n commented on #5212
@chenjianxin This is a duplicate of https://github.com/sbt/sbt/issues/5188, and it will be fixed in the next release.

[2019-10-25 19:23] #5212 closed, assigned to nobody

[2019-10-25 19:33] eatkins opened #5215 "sbt generates settings with null manifest"
sbt version: 1.3.3 (probably most older versions too)

## problem
In some cases, the scala compiler can not find a particular manifest. The `settingKey` and `taskKey` macros use `Context.inferImplicitValue` with the silent flag set to false. This can cause a `SettingKey` or `TaskKey` to be created with a null manifest. This in turn causes sbt >= 1.3.0 to crash during setting injection https://gith

[2019-10-25 19:50] eed3si9n commented on #5213
@fspillner Thanks for the report. Do you have a simple snippet that would reproduce the issue?

[2019-10-25 20:07] eed3si9n commented on #2964
I think part of the issue is that
1. most people use Maven repository to publish their artifacts.
2. Maven doesn't have a notion of Ivy configuration.
3. most people do not publish their test JAR as artifacts, so the POM-translated `Test` configuration is private.

[code]

Using classifier to encode this I don't think is good idea either.

Basically, if people want to reuse tests, and still want t

[2019-10-25 20:07] #2964 closed, assigned to nobody

[2019-10-26 00:29] nikkatalnikov opened #5216 "Scalatest test suites are not executed in parallel, even though it's set "fork in IntegrationTest := true""
I have a bunch of integration tests running by sbt, given test N suites with 1..M tests per each suite.
I have set `fork in IntegrationTest := true`, but test suites are always executed sequentially. According to the docs, this must not be the case: test suites should be executed concurrently.

the test suites are a class as following:
[code]

[code]

## the problem
MyTestSuite1 and MyTestSuiteN a

[2019-10-26 20:33] fspillner commented on #5213
First, I've tried to reproduce this bug directly with the parser combinators, but the property test passed e.g.

[code]

And then, I've created an AutoPlugin and finally I'm able to reproduce the bug. The plugin code looks like:

[code]

The following sbt command fails then:

`exampleTask first`

And the output log:

[code]

I hope this is helpful enough for you?

[2019-10-26 21:30] fspillner commented on #5213
It works as expected if I use `StringEscapable` instead of `NotQuoted` and call the sbt task with `exampleTask "first"`.

[2019-10-27 09:00] fspillner commented on #5213
I had deeper look and I'm now sure that it's not a bug :-)

I just used the parser in the wrong way. I should have use flatMap if I have to deal with possible errors / exceptions.

The behavior how the sbt command works has been changed in sbt 1.3 (it calls the flatMap/map multiple times with possible values) e.g.:

build.sbt
[code]

The log output of `sbt exampleTask first`:

[code]

[2019-10-27 09:09] #5213 closed, assigned to nobody

[2019-10-27 12:45] OlegYch opened #5217 "Overcompilation after whitespace change"
## steps
sbt version: 1.1.5-1.3.3
using https://github.com/scalacenter/scastie/tree/overcompilation
run `~client/compile`
add a new line at the end of eg `./client/src/main/scala/com.olegych.scastie.client/components/ScaladexSearch.scala`

## problem
unrelated files are recompiled, even though no code has actually changed
here is a sample debug log https://gist.github.com/OlegYch/775e657ad4edb41b7

[2019-10-28 02:08] eed3si9n commented on #5217
@OlegYch Thanks for the report!

[2019-10-28 02:16] eed3si9n commented on #5216
Test suites are split up into sbt tasks when `IntegrationTest / parallelExecution` is set to `true` (default), and it uses sbt's task parallelism to execute suites in parallel. To run forked tests in parallel you might need:

[code]

See https://www.scala-sbt.org/1.x/docs/Testing.html

[2019-10-28 02:16] #5216 closed, assigned to nobody

[2019-10-28 10:04] vn971 commented on #5035
The bug apparently happens because SBT is invoked in a user namespace (on my system). Having that in mind, maybe we can understand more on why the bug happens? Where does this `rsync` happen? Maybe I can help. I tried to search: https://github.com/sbt/sbt/search?q=rsync&type=Issues  but no results in code.

[2019-10-28 10:06] vn971 commented on #5035
Before 1.3.0 it worked fine in a user namespace, so it certainly sounds like something fix-able to me. (And it still works fine if I just use the later version for now.)

[2019-10-28 14:09] edrevo opened #5218 "java.lang.NumberFormatException: For input string: "h7v0l43""
## steps
sbt version: 1.3.3 (this bug was introduced in 1.3.0)

## problem
[code]

## expectation
It should update correctly.

## notes
I don't know how to minimally reproduce this issue. If there is any command I can run to give you more insight on what is going on inside of SBT or Coursier, I'm happy to run them.

[2019-10-28 14:14] thea-vik commented on #5093
Someone I'm working with keeps getting this error. Can we force SBT to use java 8 or something? We have tried doing this in build.sbt but it did not work.

[2019-10-28 14:51] eatkins commented on #5093
@torstein-vik can you upgrade to 1.3.3? That version supports jdk 13. Upgrading should be as simple as modifying project/build.properties provided the project already supports 1.3.0.

There are a number of ways to modify which java version sbt uses. You can set the `JAVA_HOME` environment variable to the desired jdk8 location or similarly run `sbt --java-home=$JDK8_HOME`. Other approaches include

[2019-10-28 15:12] thea-vik commented on #5093
Of course! Thank you so much, this has been bothering us a while :)

[2019-10-28 16:57] jsoref commented on #5127
So, the log (w/o any changes) already includes the error status.

Confusingly, testing w/ sbt 1.2.8, adding `-d` to sbt launcher doesn't appear to materially change any of the output.

standard out changes in that it adds `# Executing command line:` and the commandline
standard err changes in that it adds `[addSbt] arg = '-debug'` and `[process_args] java_version = '8'`
the only material change to

[2019-10-28 18:08] dimon222 commented on #5214
I confirm the same issue for all platforms.
Including OS X and Linux

The last release it was still working was 1.3.0, then some breaking change got introduced

Update after tests: **the -J flag is no longer needed, just pass args directly and it seems to work**

[2019-10-28 21:35] lustefaniak commented on #5208
We have the same problem, we have multiple drone steps, one running tests, another depending on target staging sbt-native-packager docker image - that one fails with not found keys. This used to work in 1.2.8.

I tried all 1.3.x versions and they all have same problem. Might be Drone CI specific issue, but if it used to work in all older sbt versions (we started using drone with sbt 0.13) and now

[2019-10-28 21:55] OlegYch opened #5219 "updateSbtClassifiers does not download sources"
## steps
sbt version: 1.3.3

`project/plugins.sbt` :
`addSbtPlugin("ch.epfl.scala" % "sbt-missinglink" % "0.2.0")`

`updateSbtClassifiers`

## problem
plugin sources are not downloaded
idea import does not download plugin sources as well

## expectation
plugin sources are available in idea

## notes
seems to be related to earlier regressions like https://github.com/sbt/sbt/issues/4856

[2019-10-28 21:59] eatkins commented on #5219
I've also noticed this.

[2019-10-28 22:02] OlegYch commented on #5219
another note: `reload plugins; updateClassifiers` does download the sources

[2019-10-29 00:13] a1kemist commented on #1894
As @olafurpg points out, this makes it very difficult to run scripted tests in CI where you need to point to a custom `ivy.home`. Is there any workaround that someone has found?

This is what I tried to do for my situation:

[code]
Where `CI_PROJECT_DIR` is an env variable set by ci.
Then in `scripted.sbt` I added the following (because apparently `SBT_OPTS` aren't respected by the `scripted` task

[2019-10-29 09:59] jvican commented on #3580
I am not able to reproduce this behavior with sbt +1.3.0. It looks like this issue was fixed in some commit between 1.2.8 and 1.3.0.

[2019-10-29 11:58] michaelahlers commented on #5169
Still occurs, typically in CID environments (like Circle CI):

[code]

And I can't see any common factor affecting it.

[2019-10-29 12:15] kotobotov commented on #3949
it would be awersome to to have list of some popular/basic online template, when i wrote "sbt new" without any argument.

[2019-10-29 13:36] eed3si9n commented on #5218
@edrevo Thanks for the report. Looking at the stacktrace it looks like some internal of Coursier, so could you also report to coursier/coursier please?

[2019-10-29 13:56] eed3si9n commented on #1894
I guess we can just drop `ivy.home` support and use `sbt.ivy.home` here - https://github.com/sbt/librarymanagement/blob/da6897b8a3d4e08d5cfce9589c18b8ae5bff0641/core/src/main/scala/sbt/librarymanagement/ResolverExtra.scala#L395

[2019-10-29 16:03] DavidPerezIngeniero commented on #5169
After many times using SBT 1.3.3, this problem has fully disappeared.

[2019-10-30 13:54] er1c opened #5220 "Windows --script-version still does a robocopy for bootstrapping"
## steps
sbt version: 1.3.3

## problem

There's some blocking issue that should be figured out for `--script-version` (https://github.com/microsoft/azure-pipelines-image-generation/pull/1255)

## expectation

Shouldn't need to do a robocopy for `--script-version`

## notes

[2019-10-30 15:36] #3183 closed, assigned to eed3si9n

[2019-10-31 11:44] DJFliX commented on #5169
I'm experiencing the issue with SBT 1.3.3 and Scalatest already on 3.0.8. I tried adding `-Dsbt.classloader.close=false` but this unfortunately didn't help. I'm running out of things to try...

[2019-10-31 17:44] eed3si9n commented on #5169
@DJFliX @michaelahlers Could either of you create a public reproduction project and open a new issue please?

[2019-10-31 17:48] roti opened #5221 "sbt.bat not working with new"
## steps
sbt version: 1.3.3

## problem
`sbt new` doesn't seem to work. Here's the output:
[code]

## notes
I traced it back to a typo in sbt.bat.
The problem area:
[code]

The problem is caused by an extra `^` character.
Current: `set /P reply=?^`
Correct: `set /P reply=?`

[2019-10-31 17:49] roti commented on #5221
I wanted to make a pull request, but couldn't find `sbt.bat` in the repo. :)

[2019-10-31 18:47] eed3si9n commented on #5221
@roti This is a duplicate of #5188, and it will be fixed in the next release.
`sbt.bat` lives in https://github.com/sbt/sbt-launcher-package/blob/master/src/universal/bin/sbt.bat for now, but we've always wanted to move it to sbt/sbt eventually.

[2019-10-31 18:47] #5221 closed, assigned to nobody

[2019-11-01 08:49] HarryEuro opened #5222 "Executing of sbt "runMain my.package.Class" on windows will fail"
## steps
sbt version: 1.3.3

## problem
Executing of `sbt.bat` will fail on commands like this: `sbt "runMain my.package.Class"`.
Error:
[code]

## expectation
Executing of `sbt "runMain my.package.Class"` should be working.

## notes
The problem is the batch script `sbt.bat` starting on line 383:
[code]

After removing this piece of code the execution of this command `sbt "runMain my.package.Clas

[2019-11-01 10:06] raboof commented on #4260
It would be great to improve JDK detection on NixOS.

When using nix-shell it might be possible to auto-detect them from either the `PATH` or `buildInputs` environment variable?

[2019-11-01 14:53] OlegYch commented on #5206
this seems like a long standing problem, same behaviour with 1.1.4 and 1.2.8 launchers

[2019-11-01 14:55] OlegYch commented on #5206
oh actually it doesn't depend on launcher version, just sbt version

[2019-11-01 15:06] eed3si9n commented on #5222
@HarryEuro Thanks for the report!

[2019-11-01 15:41] noisypants opened #5223 "windows: 'sbt -jvm-debug 5005' not working with 1.3.3 launcher bat file"
## steps
sbt version: *insert sbt version*
D:\test>sbt -version
sbt version in this project: 1.3.3
sbt script version: 1.3.3

## problem
When upgrading the sbt installation from 1.2.8 to 1.3.3 (using the msi), the '-jvm-debug' command line setting stopped working.
[code]
Same results with variations of the cmd:
[code]

## expectation
I would expect the jvm-debug command to be recognized and set up

[2019-11-01 16:42] agluszak commented on #5208
@lustefaniak nope, it's not Drone CI specific and it doesn't depend on sbt cache locations as you can see in the provided minimal example

[2019-11-02 01:58] thebridsk commented on #5222
The problem is the line:

     if x%g:^==% == x%g% (

quotes are needed

     if "x%g:^==%" == "x%g%" (

[2019-11-02 03:57] eed3si9n commented on #5222
Looks like I fixed it in https://github.com/sbt/sbt-launcher-package/pull/300

[2019-11-02 03:57] #5222 closed, assigned to nobody

[2019-11-04 06:33] bjaglin commented on #5189
I had similar symptoms when running sbt 1.3.x within a container - the second invocation would always fail complaining about references to plugins & plugin keys not built-in. It turned out to be a missing docker volume mount to persist the coursier cache accros invocations: references to plugins previously resolved by sbt as dependencies in the meta build pointed at non-existing files, and the `sc

[2019-11-04 17:22] dcsobral commented on #5040
I'm very interested in coursier's most recent version for the fine grained version reconciliation. I've tried using `sbt-lm-coursier` for that as suggested by @alexarchambault and, though that does not cause errors, it does not provide the fine grained reconciliation. Specifically, while using `sbt-lm-coursier` I get this when adding a rule which shouldn't cause a failure:
[code]
And using `sbt-co

[2019-11-04 22:57] albertnetymk commented on #5093
I see the same error message using sbt 1.3.3 with jdk 13 when trying to build freshly cloned dotty repo. Is this expected?

[2019-11-04 23:42] SethTisue commented on #5093
@albertnetymk did you change `project/build.properties` in that repo to contain `1.3.3` before running sbt? it's not enough to have sbt 1.3.3 installed systemwide; each repo specifies its own sbt version and that takes precedence

if that's not the issue, it's probably something specific to the Dotty build

[2019-11-05 08:43] DJFliX commented on #5169
@eed3si9n I'm trying but the error seems to appear in different kinds of tests (IT, unit) in different modules. So far I've not been able to reproduce it in an isolated test project.

[2019-11-05 08:57] albertnetymk commented on #5093
My bad; once I changed `project/build.properties`, sbt goes beyond that error. I still got compiling errors, `Not found: type IArray`, but I guess it's not related to sbt. Thank you for the help.

[2019-11-05 09:39] albertnetymk commented on #5093
Since I can't get dotty to work, I went for https://github.com/scala/scala. After a fresh clone, I changed sbt version to 1.3.3 for the following files:

[code]

However, `sbt compile` still gives me the error "java.io.IOError: java.lang.RuntimeException: /packages cannot be represented as URI".

[2019-11-05 12:22] billsg opened #5224 ""CreateFile() failed with error 123" on Windows 10"
## steps
sbt version: 1.3.3
run compile command

## problem
Build error on Windows 10.
java version "1.8.0_221"

## expectation
sbt build should be successful

## Trace

[code]

[2019-11-05 15:14] SethTisue commented on #5093
@albertnetymk getting the scala/scala build to work on sbt 1.3.x and JDK 13 requires a few other changes. let's pursue that here: scala/scala#8525

[2019-11-06 20:05] eed3si9n commented on #5142
*This issue will be expedited via the Lightbend subscription.*

[2019-11-06 20:46] eed3si9n commented on #5208
I think this is a duplicate of https://github.com/sbt/sbt/issues/5142.

[2019-11-06 20:46] #5208 closed, assigned to nobody

[2019-11-06 20:54] eed3si9n commented on #5142
A quick diagnosis is that the Coursier cache is not mapped across the run, but `project/target` is, so that's causing the issue. Here's my workaround:

[code]

Note the absolute paths on global base, boot directory, and Coursier cache.

### demo

[code]

### regression?

`update` task here doesn't seem to be validating the existence of JAR files. I am not sure if that's a new behavior or not, but

[2019-11-07 06:28] robstoll opened #5226 "stopping sbt requires twice CTRL+C"
## steps
sbt version: 1.3.3
1. start a akka-http app via sbt
2. CTRL+C => exception but sbt / akka still runs
3. CTRL+C => sbt stops

## problem
The following exception occurs for the first CTRL+C
[code]

## expectation
It should stop immediately

## notes
This behaviour changed when we updated sbt from 1.2.8 to 1.3.0 (maybe with 1.3.2)

[2019-11-07 07:04] rawyler commented on #5226
This is especially tricky when trying to kill the sbt process via script.

[2019-11-07 15:09] turb commented on #5226
May be related: after an update to SBT 1.3.3, Play! framework cannot be stopped using CTRL-C when launched using `sbt run`.

It only logs `[warn] Canceling execution...` and does not stop. I forces to kill the process.

Reverting to 1.2.8 fixes the problem. Going to 1.3.0 makes it happen again.

[2019-11-07 15:31] michaelh0911 commented on #5176
I had make a patch of sbt.bat of release 1.3.3.

It can handle -D and -XX with an = argument. I also fix the problem that only the first option of SBT_OPTS and JAVA_OPTS got processed.

Please see attached file which is sbt.bat
[sbt.txt](https://github.com/sbt/sbt/files/3820338/sbt.txt)

[2019-11-07 16:08] er1c commented on #5176
@michaelh0911 do you want to make a pull request?  https://github.com/sbt/sbt-launcher-package/blob/master/src/universal/bin/sbt.bat

[2019-11-07 17:02] ma3574 commented on #5226
Seeing this too on sbt 1.3.3 with AKKA microservices

[2019-11-07 17:52] eed3si9n commented on #5226
@robstoll Thanks for the report. This is one of sbt 1.3.x feature we added, which is to allow Ctrl-C to cancel the running task.

If you want the older behavior, you can do this:

[code]

[2019-11-07 17:52] #5226 closed, assigned to nobody

[2019-11-08 02:42] michaelh0911 commented on #5176
Just did it
https://github.com/sbt/sbt-launcher-package/pull/306

[2019-11-08 07:03] ppiotrow commented on #5142
I confirm that `sbt.coursier.home` is working workaround. The problem is that it is not documented in https://www.scala-sbt.org/1.x/docs/Command-Line-Reference.html

[2019-11-08 17:02] krnhotwings commented on #3541
Just came across this bug myself in sbt 1.3.3. Can confirm that it also used to work in sbt 0.13.x

I don't think it's coming from giter8 because the g8 CLI seems to work fine. However, I came across issue #5063 that described similar behavior. The workaround, which I tested and can confirm works, is to add the `--supershell=false` argument:

[code]

[2019-11-09 02:23] shyan1 commented on #5206
I just follow the [sbt-1.3-Release-Notes](https://www.scala-sbt.org/1.x/docs/sbt-1.3-Release-Notes.html), and add the following code in `build.sbt` file to disable the Coursier and go back to Apache Ivy for library management
[code]

Right now I found the 'null' folder very annoying.

[2019-11-09 08:25] daniel-shuy opened #5227 "SBT 1.3 Coursier cannot resolve plugin in scripted test"
## steps
sbt version: 1.3.x (tested with 1.3.0 - 1.3.3)

## problem
When following the approach to create a scripted test in https://www.scala-sbt.org/1.x/docs/Testing-sbt-plugins.html, by including the `plugin.version` in `scriptedLaunchOpts`, and importing the SBT plugin to test in the scripted test's `project/plugins.sbt`, when running SBT 1.3, Coursier fails to resolve the locally published `S

[2019-11-09 13:02] ThStock commented on #4322
@eed3si9n Do you think we can set this as default for windows?

[2019-11-09 15:39] eed3si9n commented on #5224
@billsg Thanks for the report. Currently the repro steps is likely insufficient to reproduce the issue. Does this happen with any project (including blank `build.sbt` file), or does it require something specific?

[2019-11-09 15:40] eed3si9n commented on #5223
@noisypants Thanks for the report!

[2019-11-09 15:43] eed3si9n commented on #5227
@daniel-shuy Thanks for the report! I would say that the expectation is that it resolves locally published SNAPSHOTs without reverting back to Ivy.

[2019-11-09 16:39] er1c commented on #4322
@ThStock my vote would be yes, a PR with tests would be welcome!  I didn't look into howto capture the "current codepage" so we could reset it back to the previous default after the sbt script is ran (or investigate if doing the change of the codepage actually changes the entire terminal session after sbt is ran)  I think that would be my only concern.

[2019-11-09 20:38] eed3si9n commented on #5214
This actually looks like a duplicate of https://github.com/sbt/sbt/issues/5179

I also wrote https://discuss.lightbend.com/t/environment-variables-java-opts-sbt-opts-and-how-to-pass-jvm-arguments/5385 to discuss the details around this area.

[2019-11-09 20:38] #5214 closed, assigned to nobody

[2019-11-09 20:50] eed3si9n commented on #4322
I should note that there might be a JLine issue that we might run into if we changed the default encoding on Windows - https://github.com/sbt/sbt/issues/871

For both Bash and batch `sbt` scripts I've changed the default to UTF-8 in https://github.com/sbt/sbt-launcher-package/pull/257/commits/3f9e91aa4f865a5faa2db5390de21cc3e696c4ab, so I am for defaulting to UTF-8.

Since `JAVA_TOOL_OPTIONS` has

[2019-11-09 21:09] eed3si9n commented on #4322
Another interesting tidbit is this blog post [Please stop hack "chcp 65001"](https://dev.to/mattn/please-stop-hack-chcp-65001-27db). The author claims that changing the code page messes up his font setting on the terminal, especially for an East Asian locale. His suggested workaround (e.g. https://github.com/curl/curl/pull/3212) is to use Wide String APIs, but doing so on Windows would not be pret

[2019-11-09 21:23] eed3si9n commented on #4322
For the record, here's how it looks on Windows 7 using the latest sbt 1.3.3:

<img width="648" alt="Java_8___Running_" src="https://user-images.githubusercontent.com/184683/68535221-fef23b00-030c-11ea-9206-4d3df9324df5.png">

By default the file encoding is set to UTF-8.

[2019-11-10 05:45] dvirtz opened #5228 "Status of vscode extension"
It seems the vscode extension stopped being developed.
Are you still plan to work on it? Would you take PRs?

[2019-11-10 10:40] stanislavkozlovski commented on #3420
I am surprised that no docker image exists.

[2019-11-10 13:55] eximius313 commented on #4166
I'm using SBT together with Play Framework and utilizing it's "hot-reload" functionality.
It seems that with every SBT version it's getting worse.
With `0.13.16` I could compile and reload whole day and I haven't seen Metaspace even once.
When I migrated to SBT `1.x` I started observing it from time to time (I needed to restart SBT several times a day during programming).
With SBT `1.3.3` I must r

[2019-11-10 17:42] eatkins commented on #4166
Have you upgraded the sbt bash script? We stopped setting a metaspace limit in 1.3.0 but that only works if you are actually using a newer launcher.

[2019-11-11 11:11] robstoll commented on #5142
Run into the same problem, used a different location for coursier cache, reverting this (using the defaults) resolved the problem.

[2019-11-12 11:45] jaceklaskowski commented on #5046
The same happens with 1.3.3 and [com.splicemachine.spark_sql](http://repository.splicemachine.com/nexus/content/groups/public/com/splicemachine/spark_sql/2.8.0.1935/) dependency.

With `ThisBuild / useCoursier := false` in `build.sbt` I managed to get past it but failed with another issue. Doh, why does this have to be so complicated :(

[code]

[2019-11-12 13:30] jaceklaskowski commented on #5046
Resolved the "location must be absolute" issue with https://stackoverflow.com/a/47145687/1305344:

[2019-11-12 15:45] TomGranot opened #5230 "Installation Docs Not Updated"
Looking in https://www.scala-sbt.org/1.x/docs/Installing-sbt-on-Linux.html#Installing+from+SDKMAN, I've attempted to install `sbt` using SDKMAN.

Following the instructions on https://sdkman.io/install, I first ran:
[code]
The last of which produced:

[code]

Looking in https://www.scala-sbt.org/1.x/docs/Installing-sbt-on-Linux.html#Installing+from+SDKMAN again, it seems that I need to install `ja